# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfvars.backup
crash.log
override.tf
override.tf.json
terraform.rc

# Ansible
*.retry
vault-password.txt
encrypted_password.txt

# Application specific
# Use generic patterns to ignore these files
**/.env
**/appsettings.json
**/vendor/
**/node_modules/
**/bin/
**/obj/
**/publish/

# SSH Keys
*.pem
*.key

# IDE
**/.vscode/
**/.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log