# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfvars.backup
.terraform.lock.hcl # <-- CHANGE: Remove this line to commit the lock file
crash.log
override.tf
override.tf.json
terraform.rc

# Ansible
*.retry
vault-password.txt
encrypted_password.txt

# Application specific
# Use a more generic pattern to ignore these files
**/.env
**/appsettings.json
**/vendor/
**/node_modules/
**/bin/
**/obj/
**/publish/
# SSH Keys
*.pem
*.key

# IDE
.vscode/
.idea/
# You can use a generic pattern for IDE files too
**/.vscode/
**/.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*applications/api/Repositories/obj/Debug/net7.0/Repositories.AssemblyInfo.cs
*applications/api/Repositories/obj/Debug/net7.0/Repositories.AssemblyInfoInputs.cache
*applications/api/V7/obj/Debug/net7.0/V7.AssemblyInfo.cs
*applications/api/V7/obj/Debug/net7.0/V7.AssemblyInfoInputs.cache
*applications/api/V7/obj/Debug/net7.0/V7.csproj.AssemblyReference.cache
