USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[getroleaccess]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getroleaccess] @usergroupid NVARCHAR(50)
AS
SELECT a.id, a.id as name, a.name as text, a.icon, coalesce(a.parent,0) as parent_id, coalesce(b.usergroupid,'-') as akses from tbset_menu a left join (select usergroupid, menuid from tbset_userrights where usergroupid = @usergroupid) as b on a.id=b.menuid order by a.id, a.parent, a.number

GO
