USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_closure_auto]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_closure_auto]
	@id INT = 0
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	DECLARE @promoid ArrayintType;
	DECLARE @userid varchar(50);
	DECLARE @budgetid int
	
	SET @userid='system';
	INSERT INTO @promoid (keyid)
		/* 7 hari dari start promo dan belum fully approve */
		--SELECT pr.id
		--FROM tbtrx_promo pr
		--WHERE ISNULL(pr.StatusApprovalCode, '') <> 'TP2'
		--AND DATEDIFF(day, pr.StartPromo, GETDATE()) >= 7
		--AND isnull(pr.isclose, 0) = 0
		--AND isnull(pr.iscancel, 0) = 0
		--and pr.refid in ( 'NIS00021/AL25/RC', 'SGM00070/AL25/RC')

		/* 7 hari dari start promo dan approval 1 belum approve */
		SELECT pr.id
		FROM tbtrx_promo pr
		LEFT JOIN tbtrx_promo_request_approval prra ON pr.id = prra.ParentId and isnull(prra.iscancel, 0) = 0
		LEFT JOIN tbtrx_promo_approval pra on prra.id = pra.RequestId and pra.Sequence = 1 and pra.IsOnGoing = 1 and pra.Status <> 'TP2'
		WHERE ISNULL(pr.StatusApprovalCode, '') <> 'TP2'
		AND DATEDIFF(day, pr.StartPromo, GETDATE()) >= 7
		AND isnull(pr.isclose, 0) = 0
		AND isnull(pr.iscancel, 0) = 0
		AND IIF(@id = 0, 0, pr.id) = IIF(@id = 0, 0, @id)

		/* 7 hari dari request approval 1 */
		--SELECT pr.id
		--FROM tbtrx_promo pr
		--INNER JOIN tbtrx_promo_request_approval tpra on pr.id = tpra.parentid AND isnull(tpra.iscancel, 0) = 0
		--INNER JOIN tbtrx_promo_approval tpa on tpra.id = tpa.RequestId AND tpa.Sequence = 1
		--WHERE tpa.Status = 'TP1'
		----AND pr.period >= 2345
		--AND DATEDIFF(day, tpa.RequestDate, GETDATE()) > 7
		--AND isnull(pr.isclose, 0) = 0
		--AND isnull(pr.iscancel, 0) = 0
	
	UPDATE A
	SET 
		IsClose=1
		,isCancelLocked=1
		,CloseOn=@utcDate123
		,CloseBy=@userid
	FROM tbtrx_promo A
	INNER JOIN @promoid B ON A.Id=B.keyid
	
	/* start create history promo closure */
	INSERT INTO tbhis_promo_closure (PromoId, IsClose, CloseOn, CloseBy, investment)
		SELECT keyid, 1, @utcDate123, @userid, pr.investment
		FROM @promoid a
		INNER JOIN tbtrx_promo pr on a.keyid=pr.id
	/* end create history promo closure */
		
	DECLARE cur CURSOR
	FOR
	SELECT distinct AllocationId
	FROM tbtrx_promo A 
	INNER JOIN @promoid ON A.Id=keyid
	;
	
	OPEN cur
	FETCH NEXT FROM cur INTO @budgetid
	WHILE @@FETCH_STATUS=0
	BEGIN
	
	UPDATE bal
	SET ReserveAmount=XX.act_reserve_amount,
	UseAmount=XX.act_use_amount
	FROM tbtrx_allocation_balance bal
	INNER JOIN
	(
		SELECT 
		AllocationId,
		SubCategoryId,
		InitialAmount,
		ReserveAmount bal_reserve_amount,
		SUM(IIF(StatusApprovalCode='TP2',0,IIF(isnull(IsCancel,0)=0,Investment,0))) act_reserve_amount,
		UseAmount bal_use_amount,
		SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0,Investment,0),0)) act_use_amount
		FROM
		(
		SELECT 
		a.AllocationId,
		a.SubCategoryId,
		a.InitialAmount,
		a.ReserveAmount,
		a.UseAmount,
		b.RefId,
		b.Investment,
		b.StatusApprovalCode,
		isnull(b.IsCancel,0) IsCancel 
		FROM tbtrx_allocation_balance a
		INNER JOIN tbtrx_promo b on a.AllocationId=b.AllocationId AND a.SubCategoryId=b.SubCategoryId
		WHERE a.AllocationId=@budgetid
			AND 
			EXISTS
			(
				SELECT Id FROM vw_budget_last_layer xx WHERE xx.Id=a.AllocationId
			)
		) X    
		GROUP BY
		AllocationId,
		SubCategoryId,
		InitialAmount,
		ReserveAmount,
		UseAmount
		
	
	) XX on bal.AllocationId=XX.AllocationId AND bal.SubCategoryId=XX.SubCategoryId
	WHERE bal.AllocationId=@budgetid
	FETCH NEXT FROM cur INTO @budgetid
	END
	
	CLOSE cur;
	DEALLOCATE cur;
END
GO
