

/****** Object:  StoredProcedure [dbo].[ip_mst_map_matrix_dn_approval_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_matrix_dn_approval_ins]
	@IsNew                            bit,
	@Id                               int ,
	@Periode                          varchar(4) ,
	@PrincipalId                      int ,
	@DistributorId                    int ,
	@IsActive                         bit ,
	@UserID          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.periode, a.PrincipalId, a.DistributorId
                FROM tbset_matrix_dn_approval a
                where a.PrincipalId = @PrincipalId and a.DistributorId=@DistributorId and Periode=@Periode
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Matrix DN Approval already exist';
                    SET @messageout='Mapping Matrix DN Approval already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_matrix_dn_approval
                (
                   Periode
                  ,PrincipalId
                  ,DistributorId
                  ,IsActive
                  ,CreateOn
                  ,CreateBy
				  ,CreatedEmail
                )
                Values
                (
                   @Periode
                  ,@PrincipalId
                  ,@DistributorId
                  ,1
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';
		    
			UPDATE tbset_matrix_dn_approval
			SET
				PrincipalId    = @PrincipalId,
				DistributorId  = @DistributorId,
				Periode        = @Periode,
				IsActive       = @IsActive,
				ModifiedOn          = @CreatedOn,
				ModifiedBy          = @UserID,
				ModifiedEmail       = @UserLogin
			WHERE
				Id               = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
