

/****** Object:  StoredProcedure [dbo].[ip_mst_map_distributor_account_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_distributor_account_list_dl]
as
BEGIN
	SELECT        
		id,
		DistributorId, 
		Distributor, 
		ChannelId, 
		Channel, 
		SubChannelId, 
		SubChannel, 
		AccountId, 
		Account, 
		SubAccountId, 
		SubAccount, 
		CreateOn, 
		CreateBy,
		CreatedEmail,
		isDelete, 
		DeleteOn, 
		DeleteBy,
		DeleteEmail
	FROM     
		(
			SELECT        
				t.id,
				t.DistributorId, 
				d.LongDesc       AS Distributor, 
				t.ChannelId, 
				c.LongDesc       AS Channel, 
				t.SubChannelId, 
				sc.LongDesc      AS SubChannel, 
				t.AccountId, 
				a.LongDesc       AS Account, 
				t.SubAccountId, 
				sa.LongDesc      AS SubAccount, 
				t.CreateOn, 
				t.CreateBy,
				t.CreatedEmail,
				t.isDelete, 
				t.DeleteOn, 
				t.DeleteBy,
				t.DeleteEmail
			FROM     
				tbset_map_distributor_account t 
				INNER JOIN tbmst_distributor d ON t.DistributorId = d.Id  AND isNull(d.IsDeleted, 0) = 0 
				INNER JOIN tbmst_subaccount sa ON t.SubAccountId  = sa.Id AND isNull(sa.IsDelete, 0) = 0
				INNER JOIN tbmst_account     a ON t.AccountId     = a.Id  AND isNull(a.IsDelete, 0) = 0
				INNER JOIN tbmst_subchannel sc ON t.SubChannelId  = sc.Id AND isNull(sc.IsDelete, 0) = 0 
				INNER JOIN tbmst_channel     c ON t.ChannelId     = c.Id  AND isNull(c.IsDelete, 0) = 0 

			UNION ALL

			SELECT        
				t.parentid       AS id,
				t.DistributorId, 
				d.LongDesc       AS Distributor, 
				t.ChannelId, 
				c.LongDesc       AS Channel, 
				t.SubChannelId, 
				sc.LongDesc      AS SubChannel, 
				t.AccountId, 
				a.LongDesc       AS Account, 
				t.SubAccountId, 
				sa.LongDesc      AS SubAccount, 
				t.CreateOn, 
				t.CreateBy,
				t.CreatedEmail,
				t.isDelete, 
				t.DeleteOn, 
				t.DeleteBy,
				t.DeleteEmail
			FROM     
				tbhis_map_distributor_account t 
				INNER JOIN tbmst_distributor d ON t.DistributorId = d.Id  AND isNull(d.IsDeleted, 0) = 0 
				INNER JOIN tbmst_subaccount sa ON t.SubAccountId  = sa.Id AND isNull(sa.IsDelete, 0) = 0
				INNER JOIN tbmst_account     a ON t.AccountId     = a.Id  AND isNull(a.IsDelete, 0) = 0
				INNER JOIN tbmst_subchannel sc ON t.SubChannelId  = sc.Id AND isNull(sc.IsDelete, 0) = 0 
				INNER JOIN tbmst_channel     c ON t.ChannelId     = c.Id  AND isNull(c.IsDelete, 0) = 0 
		) dl

END


GO
