USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_create_ttd_ho]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_create_ttd_ho]
@distributorid int,
@userid	varchar(50),
@id ArrayIntType READONLY
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
BEGIN TRANSACTION
	declare 
	@distributorshortdesc varchar(50)
	,@headerid int
	SET @distributorshortdesc=(SELECT ShortDesc FROM tbmst_distributor where Id=@distributorid)
	
	INSERT INTO tbtrx_debetnote_sp_header_ho(DistributorId,DistributorShortDesc,CreateBy,CreateOn)
	values
	(@distributorid,@distributorshortdesc,@userid,@utcDate123)

	SET @headerid=(SELECT SCOPE_IDENTITY())

	INSERT INTO tbtrx_debetnote_sp_detail_ho(ParentId,DNId,IsCancel)
	select @headerid,keyid,0 FROM @id 



	UPDATE a
	SET IsCancel=1
	FROM tbtrx_debetnote_sp_detail_ho a
	INNER JOIN @id b on a.DNId=b.keyid
	WHERE a.ParentId <> @headerid

	SELECT Id,RefId from tbtrx_debetnote_sp_header_ho where Id=@headerid

commit
end try
begin catch
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

end catch






GO
