

/****** Object:  StoredProcedure [dbo].[ip_mst_cancelreason_getbyid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_cancelreason_getbyid]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
    SELECT id, longdesc, createon, createby, modifiedon, modifiedby, isdeleted, deletedon, deletedby
    FROM tbmst_cancelreason
    WHERE id=@id
--     WHERE IIF(@status=3,0,IsDeleted) = IIF(@status,0,@status)
END
GO
