

/****** Object:  StoredProcedure [dbo].[ip_summary_budgeting_signoff]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_summary_budgeting_signoff] 
		@period int
AS

--DECLARE @period int
--	SET @period = 2025

BEGIN
	DECLARE @dataSet1 TABLE (
		dsDesc VARCHAR(255)
		,dsValue float
	)
	DECLARE @dataSet2 TABLE (
		dstype VARCHAR(255)
		,dsBudget float
		,dsPctOfPs float
	)
	DECLARE @ps float

	SET @ps = (
		SELECT
		SUM(isnull(psv.m1,0) + isnull(psv.m2, 0) + isnull(psv.m3, 0) + isnull(psv.m4, 0) + isnull(psv.m5, 0) + isnull(psv.m6, 0) 
		+ isnull(psv.m7,0) + isnull(psv.m8, 0)  + isnull(psv.m9, 0)  + isnull(psv.m10, 0)  + isnull(psv.m11, 0)  + isnull(psv.m12, 0) )
		FROM tbtrx_ps_value psv WHERE period=@period
		)

	INSERT INTO @dataSet1
		SELECT  'SS Volume (ton)' , 
			SUM(isnull(ssv.m1,0) + isnull(ssv.m2, 0) + isnull(ssv.m3, 0) + isnull(ssv.m4, 0) + isnull(ssv.m5, 0) + isnull(ssv.m6, 0) 
			+ isnull(ssv.m7,0) + isnull(ssv.m8, 0)  + isnull(ssv.m9, 0)  + isnull(ssv.m10, 0)  + isnull(ssv.m11, 0)  + isnull(ssv.m12, 0) )
			FROM tbtrx_ss_volume ssv WHERE period=@period

	INSERT INTO @dataSet1	VALUES ('PS Value (billion IDR)' ,ROUND(@ps/1000000000,2))

	INSERT INTO @dataSet2
		SELECT  'Distributor Cost' 
			,SUM(Investment)*(-1)
			,ROUND(100*SUM(Investment)/@PS,2) *(-1)
			FROM tbtrx_promo a
			WHERE Period = @period AND CategoryShortDesc = 'DC' AND ISNULL(IsCancel,0) = 0

/*TT*/
	--INSERT INTO @dataSet2
	--	SELECT  'Retailer Cost - Contractual' 
	--		,SUM(
	--			(isnull(ssv.m1, 0) * isnull(sscr.m1, 0)) + (isnull(ssv.m2, 0) * isnull(sscr.m2, 0)) + (isnull(ssv.m3, 0) * isnull(sscr.m3, 0)) + (isnull(ssv.m4, 0) * isnull(sscr.m4, 0)) + 
	--			(isnull(ssv.m5, 0) * isnull(sscr.m5, 0)) + (isnull(ssv.m6, 0) * isnull(sscr.m6, 0)) + (isnull(ssv.m7, 0) * isnull(sscr.m7, 0)) + (isnull(ssv.m8, 0) * isnull(sscr.m8, 0)) + 
	--			(isnull(ssv.m9, 0) * isnull(sscr.m9, 0)) + (isnull(ssv.m10, 0) * isnull(sscr.m10, 0)) + (isnull(ssv.m11, 0) * isnull(sscr.m11, 0)) + (isnull(ssv.m12, 0) * isnull(sscr.m12, 0))
	--			) *(-1)
	--		,ROUND(100*SUM(
	--			(isnull(ssv.m1, 0) * isnull(sscr.m1, 0)) + (isnull(ssv.m2, 0) * isnull(sscr.m2, 0)) + (isnull(ssv.m3, 0) * isnull(sscr.m3, 0)) + (isnull(ssv.m4, 0) * isnull(sscr.m4, 0)) + 
	--			(isnull(ssv.m5, 0) * isnull(sscr.m5, 0)) + (isnull(ssv.m6, 0) * isnull(sscr.m6, 0)) + (isnull(ssv.m7, 0) * isnull(sscr.m7, 0)) + (isnull(ssv.m8, 0) * isnull(sscr.m8, 0)) + 
	--			(isnull(ssv.m9, 0) * isnull(sscr.m9, 0)) + (isnull(ssv.m10, 0) * isnull(sscr.m10, 0)) + (isnull(ssv.m11, 0) * isnull(sscr.m11, 0)) + (isnull(ssv.m12, 0) * isnull(sscr.m12, 0))
	--			) /@ps,2)*(-1)
	--		FROM tbtrx_ss_volume ssv
	--		INNER JOIN tbtrx_ss_conversion_rate sscr ON
	--			ssv.channelId=sscr.channelid AND
	--			ssv.groupBrandId=sscr.groupbrandid AND
	--			sscr.period=@period

/*COST*/
	INSERT INTO @dataSet2
		SELECT  'Retailer Cost - Contractual' 
			,SUM(pr.Investment) *(-1)
			,ROUND(100*SUM(pr.Investment) /@ps,2)*(-1)
			FROM tbtrx_promo pr
			INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.Id
			INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.Id
			WHERE
				pr.period=@period AND msat.LongDesc = 'CONTRACTUAL' AND ISNULL(pr.IsCancel,0)=0 AND pr.CategoryShortDesc='RC'


	INSERT INTO @dataSet2
		SELECT  'Retailer Cost - Non Contractual' 
			,SUM(Investment) *(-1)
			,ROUND(100*SUM(Investment)/@PS,2)*(-1)
			FROM tbtrx_promo pr
			INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.Id
			INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.Id
			WHERE
				pr.period=@period AND msat.LongDesc = 'NON CONTRACTUAL' AND ISNULL(pr.IsCancel,0)=0 AND pr.CategoryShortDesc='RC'

	INSERT INTO @dataSet2
		SELECT  'Warchest' 
			,0
			,0

	INSERT INTO @dataSet2
		SELECT  'Total Trade Support' 
			,SUM(dsBudget) 
			,ROUND(100*SUM(dsBudget)/@PS,2)
			FROM @dataSet2 a

	SELECT * from @dataSet1
	SELECT dstype, ROUND(dsBudget/1000000000,2) dsBudget, dsPctOfPs from @dataSet2

	SELECT a.id, a.jobtitle, b.username FROM tbset_user a 
		INNER JOIN tbset_user_login b ON a.email = b.email
		WHERE a.id IN ('PRGM', 'CCDHSH', 'SD', 'FD')
		ORDER BY IIF(a.id='CCDHSH',0,IIF(a.id='PRGM',1,IIF(a.id='SD',2,IIF(a.id='FD',3,4))))

END

GO
