USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ps_value_get]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_ps_value_get] 
	@period int
	, @distributorid int
	, @groupbrandid int

AS

--DECLARE
--	@period int
--	, @distributorid int
--	, @groupbrandid int

--	SET @period = 2025
--	SET @distributorid = 2
--	SET @groupbrandid = 1
	
	----EXEC [ip_ps_value_get] @period, @distributorid, @groupbrandid

BEGIN

	select ISNULL(SUM(ISNULL(a.m1,0) +
			ISNULL(a.m2,0) +
			ISNULL(a.m3,0) +
			ISNULL(a.m4,0) +
			ISNULL(a.m5,0) +
			ISNULL(a.m6,0) +
			ISNULL(a.m7,0) +
			ISNULL(a.m8,0) +
			ISNULL(a.m9,0) +
			ISNULL(a.m10,0) +
			ISNULL(a.m11,0) +
			ISNULL(a.m12,0) ) 	,0) psValue
		from tbtrx_ps_value a
		where 
			a.period= @period
			AND a.distributorid = @distributorid
			AND a.groupbrandid = @groupbrandid
		GROUP BY a.period, a.groupbrandid

END
GO
