

/****** Object:  StoredProcedure [dbo].[ip_dn_list_reporting]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dn_list_reporting] --'2020',0,0,0,0,'scsh1'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

--SET @periode ='2022'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='admin'
AS
/*
 * EDJ 2020-04-01 : AND and isnull(dn.IsCancel,0) = 0
 * LUK 2020-06-17 : all table on WHERE changed to temp table
 */
BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int

	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
		,@profitcenter varchar(10)


	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;
--LUK200617 -----
	select * into #tmp_tbtrx_budgetmaster from tbtrx_budgetmaster					where Periode=@periode AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity) AND IIF(@distributor=0,'',DistributorId) =IIF(@distributor=0,'',@distributor)
	select * into #tmp_tbtrx_promo from tbtrx_promo									where IIF(@budgetparent=0,'',BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent)
	select * into #tmp_tbtrx_allocation_channel from tbtrx_allocation_channel		where IIF(@channel=0,'',ChannelId) =IIF(@channel=0,'',@channel)
	select * into #tmp_tbtrx_allocation_useraccess from tbtrx_allocation_useraccess where IIF(@userid='0','',userid) =IIF(@userid='0','',@userid)
	select * into #tmp_tbtrx_debetnote from tbtrx_debetnote a where isnull(a.IsCancel,0) = 0
	    AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)	AND IIF(isnull(@profitcenter,'')='1100','',a.AreaCode ) =IIF(isnull(@profitcenter,'')='1100','',@profitcenter )
	
--LUK200617 -----

	select distinct	  
	  p.LongDesc Entity
	  ,d.LongDesc Distributor
	  ,p.LongDesc PrincipalDesc
	  ,c.LongDesc BudgetSource
	  ,pr.CreateBy [Initiator]
	  ,pr.CreateOn [CreateOn]
	  ,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
	  ,pr.RefId [PromoNumber]
--	  ,sctg.SubCategoryDesc [SubCategory]
--	  ,act.ActivityDesc [Activity]
--    ,sact.SubActivityDesc [SubActivity]
	  ,sctg.LongDesc [SubCategory] -- EDJ 2020--06-17
	  ,act.LongDesc [Activity]
	  ,sact.LongDesc [SubActivity]
	  ,pr.ActivityDesc	
--	  ,isnull(pr.Mechanisme1,'') Mechanisme1
  	  ,isnull(mechanism.mechanism,'') Mechanisme1	  
	  ,isnull(pr.Mechanisme2,'') Mechanisme2
	  ,isnull(pr.Mechanisme3,'') Mechanisme3
	  ,isnull(pr.Mechanisme4,'') Mechanisme4
	  ,channel.ChannelDesc
	  ,account.AccountDesc
	  ,pr.StartPromo
	  ,pr.EndPromo
	  ,IIF(pr.IsCancel=1,'Close by ' + CAST(pr.CancelBy as varchar) + ' on ' + CAST(CONVERT(VARCHAR(10),pr.CancelOn,120) as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + ' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus)) LastStatus 
	  ,ISNULL(pr.ApprovalNotes,'') ApprovalNotes	  
	  ,pr.NormalSales + pr.IncrSales [Target]
	  ,pr.Investment
	  ,dn.RefId DNNumber
	  ,dn.activityDesc activitydescdn
	  ,dn.laststatus laststatusdn
	  ,dn.dpp
	  ,dn.CreateBy DNCreator
	  ,dn.TotalClaim DnClaim
	  ,IIF(dn.StatusSalesCode='TP1', 'Sendback', IIF(dn.StatusSalesCode='TP2', 'Yes', IIF(dn.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
	from @temp a
--LUK200617 	inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
	inner join #tmp_tbtrx_promo pr on a.BudgetId=pr.AllocationId
    inner join
    (
        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbtrx_promo_mechanism a with (nolock)
            GROUP BY a.PromoId
    ) mechanism on pr.Id = mechanism.PromoId   		
	
    inner join tbtrx_allocation c on a.BudgetId=c.Id 
--LUK200617 	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	inner join #tmp_tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
--LUK200617 	left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	left join #tmp_tbtrx_allocation_channel chn on c.Id=chn.AllocationId
--LUK200617 	inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join #tmp_tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join tbset_user uo on uo.Id=usr.UserId
	inner join tbset_user uf on uf.Id=usr.UserId
	inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.Id -- EDJ 2020--06-17
	inner join tbmst_activity act on pr.ActivityId=act.Id -- EDJ 2020--06-17
	inner join tbmst_subactivity sact on pr.SubActivityId=sact.Id
	left join
			(
				select PromoId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN #tmp_tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel
			on pr.Id = channel.PromoId
	left join
			(
				select PromoId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_account a
							join tbmst_account chn
							ON a.AccountId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
					FROM tbtrx_promo_account b INNER JOIN #tmp_tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) account
			on pr.Id = account.PromoId
	
	
--	left join vw_activity sctg on pr.SubCategoryId=sctg.SubCategoryId
--	left join vw_activity act on pr.ActivityId=act.ActivityId
--	left join vw_activity sact on pr.SubActivityId=sact.SubActivityId
--	left join vw_promo_attribute attr on pr.Id=attr.PromoId
	
--LUK200617	left join #tmp_tbtrx_debetnote dn on dn.PromoId=pr.Id
	left join #tmp_tbtrx_debetnote dn on dn.PromoId=pr.Id

	--where 
	--LUK200617 m.Periode=@periode  
	--LUK200617 AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	--LUK200617 AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)AND 
	--LUK200617 IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	--LUK200617 AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	--LUK200617 AND IIF(@userid='0','',usr.userid) =IIF(@userid='0','',@userid)
	--LUK200617 AND isnull(dn.IsCancel,0) = 0 --EDJ 2020-04-01 : AND and isnull(dn.IsCancel,0) = 0
	ORDER BY pr.CreateOn

	Drop table #tmp_tbtrx_budgetmaster
	Drop table #tmp_tbtrx_promo
	Drop table #tmp_tbtrx_allocation_channel
	drop table #tmp_tbtrx_allocation_useraccess
	drop table #tmp_tbtrx_debetnote
END








GO
