

/****** Object:  StoredProcedure [dbo].[ip_dashboard_dn_bak]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dashboard_dn_bak] --'2020-01-01',0,'','','PY1','scsh1'
@periode varchar(6)
,@entity int
,@channel varchar(20)
,@account varchar(20)
,@paymentstatus varchar(20)
,@userid varchar(50)
as

/*
	LGP 14-02-2020 : Update value
*/

BEGIN

--SELECT '0 - 30 days' as [days],0 'DN','#ffe3ed' color
--UNION
--SELECT '31 - 60 days' as [days],0 'DN','#ffac8e' color
--UNION
--SELECT '61 - 90 days' as [days],0 'DN','#ff6f5e' color
--UNION
--SELECT '91 - 120 days' as [days],0 'DN','#a35638' color
--UNION
--SELECT '> 120 days' as [days],300 'DN','#f0134d' color


	SELECT '> 120 days' as [days]
	,SUM(CASE WHEN datediff(day,CreateOn,getdate()) >=120  THEN 1 ELSE 0 END) DN
	,'#f0134d' color
	FROM tbtrx_debetnote WITH (NOLOCK)
	WHERE isnull(IsCancel,0)=0
	
	UNION ALL
	
	SELECT 
	'0-30 days' as [days]
	,SUM(CASE WHEN datediff(day,CreateOn,getdate()) >=0 AND datediff(day,CreateOn,getdate()) <=30 THEN 1 ELSE 0 END) DN
	,'#ffe3ed' color
	FROM tbtrx_debetnote WITH (NOLOCK)
	WHERE isnull(IsCancel,0)=0

	UNION ALL
	
	SELECT 
	'31 - 60 days' as [days]
	,SUM(CASE WHEN datediff(day,CreateOn,getdate()) >=31 AND datediff(day,CreateOn,getdate()) <=60 THEN 1 ELSE 0 END) DN
	,'#ffac8e' color
	FROM tbtrx_debetnote WITH (NOLOCK)
	WHERE isnull(IsCancel,0)=0

	UNION ALL

	SELECT '61 - 90 days' as [days]
	,SUM(CASE WHEN datediff(day,CreateOn,getdate()) >=61 AND datediff(day,CreateOn,getdate()) <=90 THEN 1 ELSE 0 END) DN
	,'#ff6f5e' color
	FROM tbtrx_debetnote WITH (NOLOCK)
	WHERE isnull(IsCancel,0)=0

	UNION ALL

	SELECT '91 - 120 days' as [days]
	,SUM(CASE WHEN datediff(day,CreateOn,getdate()) >=91 AND datediff(day,CreateOn,getdate()) <=120 THEN 1 ELSE 0 END) DN
	,'#a35638' color
	FROM tbtrx_debetnote WITH (NOLOCK)
	WHERE isnull(IsCancel,0)=0


SELECT 
CAST(dn_created_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_created_amt) AS CHAR) total_dn_created,
CAST(dn_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_paid_amt) AS CHAR) total_dn_paid,
CAST(dn_created_doc- dn_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_created_amt-dn_paid_amt) AS CHAR) total_dn_remaining
FROM
(
	SELECT 
	SUM(CASE WHEN LastStatus = 'confirm_paid' THEN 0 ELSE 1 END) dn_created_doc,
	SUM(CASE WHEN LastStatus = 'confirm_paid' THEN 0 ELSE TotalClaim END) dn_created_amt,
	SUM(CASE WHEN LastStatus='confirm_paid' THEN 1 ELSE 0 END) dn_paid_doc ,
	SUM(CASE WHEN LastStatus='confirm_paid' THEN TotalClaim ELSE 0 END) dn_paid_amt 
	FROM tbtrx_debetnote
	WHERE isnull(IsCancel,0)=0
) DN


SELECT distinct c.ChannelId,d.LongDesc ChannelDesc from tbtrx_allocation a with (nolock)
INNER JOIN tbtrx_allocation_useraccess b with (nolock) on a.Id=AllocationId
inner join tbtrx_allocation_channel c with (nolock) on a.Id=c.AllocationId
inner join tbmst_channel d with (nolock) on c.ChannelId=d.Id
where b.Userid=@userid

SELECT distinct c.AccountId,d.LongDesc AccountDesc from tbtrx_allocation a with (nolock)
INNER JOIN tbtrx_allocation_useraccess b with (nolock) on a.Id=AllocationId
inner join tbtrx_allocation_account c with (nolock) on a.Id=c.AllocationId
inner join tbmst_account d with (nolock) on c.AccountId=d.Id
where b.Userid=@userid


select StatusCode,StatusDesc from [dbo].[tbmst_master_status]
where StatusType='PAY' AND IsActive=1 ORDER BY StatusSeq


END





GO
