USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ewa_promo_aging]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
exec [ip_ewa_promo_aging]
*/

CREATE PROCEDURE [dbo].[ip_ewa_promo_aging] as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()


	DECLARE @tableHTML  NVARCHAR(MAX) 
	,@recipient varchar(100)
	,@isnodata bit
	,@tableSTYLE NVARCHAR(MAX)
	,@ccmail NVARCHAR(MAX)
	,@rccmail int

	--exec @rccmail = ip_ewa_promo_aging_cc @ccmail
	--output
	--set @ccmail=(select @ccmail)
	--select @ccmail

	set @tableSTYLE=
		N'<style>' +
		N'table {' +
		N'font-family: calibri;' +
		N'border-collapse: collapse;' +
		N'width: 100%;}' +
		N'th {' +
		N'border: 1px solid #dddddd;' +
		N'text-align: center;' +
		N'padding: 2px;' +
		N'background-color: #002060;' +
		N'color: #fff;}' +
		N'td {' +
		N'border: 1px solid #dddddd;' +
		N'padding: 2px;}' +
		N'td.txt-al {text-align: left;}' +
		N'td.txt-ar {text-align: right;}' +
		N'td.sub-tot-al {background-color:#DCE6F1;text-align: left;}' +
		N'td.sub-tot-ar {background-color:#DCE6F1;text-align: right;}' +
		N'td.grd-tot-al {background-color:#538DD5;}' +
		N'td.grd-tot-ar {background-color:#538DD5;text-align: right;}' +
		N'p.ex1 {margin-top: -10px;}' +
		N'</style>'


	select @isnodata=iif(count(a.id)>=1,0,1) 
		from tbtrx_promo a
		inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
		inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 
		inner join tbset_user d on a.CreateBy=d.id

	if @isnodata=0  
	begin

	SET @tableHTML =  @tableSTYLE + 
		N'<p><b>Dear OPTIMA Initiators & Approvers,</b></p>' +  
--		N'<br>' +  		
		N'<p>Please find the following summary of pending promo ID approval and sendback for your action.<br>' +  	
		N'Do not hesitate to contact us if you have any questions.<br></p>' +  	
--		N'<br>' +  		
		N'<p>Thank you</p>' +  	
		N'<p><b>Sales Finance Team</b></p>' +  	
--		N'<br>' +  		
		N'<p color:#f00><b>Table of summary</b></p>' +  
		N'<table border=1 style="border-collapse: collapse;border-width:1px">' +  
--		N'<tr><th colspan="3">BLITZ Transfer - Unmapped attributes</th></tr>' +  
		N'<tr><th rowspan=3 >No</th><th rowspan=3 >Category</th><th rowspan=3 >User ID</th><th rowspan=3 >PIC</th><th colspan=6 >Aging</th><th colspan=2 rowspan=2 >Total</th></tr>' +  
		N'<tr><th colspan=2 >1-5 days</th><th colspan=2 >6-10 days</th><th colspan=2 >more than 10 days</th></tr>' +  
		N'<tr><th >Qty</th><th >Value</th><th >Qty</th><th >Value</th><th >Qty</th><th >Value</th><th >Qty</th><th >Value</th></tr>' +  
		REPLACE(
		CAST ( ( SELECT td = isnull(appr.num,''), ''
						, td = isnull(appr.category,''), ''
						, td = isnull(appr.userid,''), ''
						, td = isnull(appr.pic,''), ''
						, td1 = FORMAT(isnull(appr.qty15,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.val15,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.qty610,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.val610,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.qty10,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.val10,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.qtytot,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(appr.valtot,0), '#,#;(#,#);-'), ''

				from (
/*APPROVAL*/
	select convert(varchar,ROW_NUMBER() over (order by a.approver)) as num, 'Approval' as [Category]
		, a.Approver as UserID, d.username as PIC
		, sum(case when datediff(day,c.RequestDate, @utcDate123)<=5 then 1 else 0 end) as qty15
		, sum(case when datediff(day,c.RequestDate, @utcDate123)<=5 then a.Investment else 0 end) as val15
		, sum(case when datediff(day,c.RequestDate, @utcDate123)>=6 and datediff(day,c.RequestDate, @utcDate123)<=10 then 1 else 0 end) as qty610
		, sum(case when datediff(day,c.RequestDate, @utcDate123)>=6 and datediff(day,c.RequestDate, @utcDate123)<=10 then a.Investment else 0 end) as val610
		, sum(case when datediff(day,c.RequestDate, @utcDate123)>=11 then 1 else 0 end) as qty10
		, sum(case when datediff(day,c.RequestDate, @utcDate123)>=11 then a.Investment else 0 end) as val10
		, count(a.id) as qtytot, sum(a.investment) as valtot
	from tbtrx_promo a
	inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
	inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP1'
	inner join tbset_user d on a.Approver=d.id
	group by 	a.Approver, d.username
)appr
					FOR XML PATH('tr'), TYPE   
		) AS NVARCHAR(MAX) ),'td1', 'td class="txt-ar"') +  
/*APPROVAL SUB TOTAL*/
	CAST ( ( select concat('<tr><td colspan=4 class="sub-tot-al"><b>Sub Total Approval</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(count(a.id), '#,#;(#,#);-') ,'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(a.investment), '#,#;(#,#);-') ,'</td></tr>')
	from tbtrx_promo a
	inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
	inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP1'
	inner join tbset_user d on a.Approver=d.id
		) AS NVARCHAR(MAX) ) +  
/*SENDBACK*/
		REPLACE(
		CAST ( ( SELECT td = isnull(sback.num,''), ''
						, td = isnull(sback.category,''), ''
						, td = isnull(sback.userid,''), ''
						, td = isnull(sback.pic,''), ''
						, td1= FORMAT(isnull(sback.qty15,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.val15,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.qty610,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.val610,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.qty10,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.val10,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.qtytot,0), '#,#;(#,#);-'), ''
						, td1 = FORMAT(isnull(sback.valtot,0), '#,#;(#,#);-'), ''

				from (
	select convert(varchar,ROW_NUMBER() over (order by a.CreateBy)) as num, 'Sendback' as [Category]
		, a.CreateBy as UserID, d.username as PIC
		, sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end) as qty15
		, sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end) as val15
		, sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end) as qty610
		, sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end) as val610
		, sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end) as qty10
		, sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end) as val10
		, count(a.id) as qtytot, sum(a.investment) as valtot
	from tbtrx_promo a
	inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
	inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP3'
	inner join tbset_user d on a.CreateBy=d.id
	group by 	a.CreateBy, d.username
)sback
					FOR XML PATH('tr'), TYPE   
		) AS NVARCHAR(MAX) ),'td1', 'td class="txt-ar"') +  
/*SENDBACK SUBTOTAL*/
	CAST ( ( select concat('<tr><td colspan=4 class="sub-tot-al"><b>Sub Total Sendback</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(count(a.id), '#,#;(#,#);-') ,'</td>'
		,'<td class="sub-tot-ar"><b>', FORMAT(sum(a.investment), '#,#;(#,#);-') ,'</td></tr>')
	from tbtrx_promo a
	inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
	inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP3'
	inner join tbset_user d on a.CreateBy=d.id
		) AS NVARCHAR(MAX) ) +  

/*GRAND TOTAL*/
	CAST ( ( select concat('<tr><td colspan=4 class="grd-tot-al"><b>Grand Total</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-'),'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(count(a.id), '#,#;(#,#);-') ,'</td>'
		,'<td class="grd-tot-ar"><b>', FORMAT(sum(a.investment), '#	,#;(#,#);-') ,'</td></tr>')
	from tbtrx_promo a
	inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
	inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 
	inner join tbset_user d on a.CreateBy=d.id
		) AS NVARCHAR(MAX) ) +  
		N'</table>' ;  
	END

	exec @rccmail = ip_ewa_promo_aging_cc @ccmail
	output
	set @ccmail=(select @ccmail)

/* USE THIS ON PROD **************************************************/
	--set @recipient='purwanti.purwanti@danone.com; Loly.andasari@danone.com'
	--EXEC remoterds.msdb.dbo.sp_send_dbmail 
	--	@recipients= @ccmail, 
	--	@copy_recipients= @recipient,   
/*********************************************************************/

/* USE THIS ON STAG and DEV **************************************************/
--	set @recipient='lukman.handrianto@xvautomation.com'
	set @recipient='edy.jumantoro@xvautomation.com'
	EXEC msdb.dbo.sp_send_dbmail 
		@recipients= @recipient, --'lukman.handrianto@xvautomation.com',
		@copy_recipients= @ccmail,   --'Purwanti.PURWANTI@danone.com;Amelia.ANGGRAINI@danone.com;Johan.FIRDAUS@danone.com;edy.jumantoro@xvautomation.com', 
/*********************************************************************/

		@subject = '[OPTIMA REMINDER] Pending Approval and Sendback Aging Summary',  
		@body = @tableHTML,  
		@body_format = 'HTML', 

		@query = 'exec ip_ewa_promo_aging_att;',
		@execute_query_database = 'danone',
	    @query_result_width = 32767,
		@attach_query_result_as_file = 1,
		@query_attachment_filename = 'Pending Approval and Sendback Aging Summary.csv',
		@query_result_separator = '	',
		@query_result_no_padding= 1,
		@exclude_query_output =0,
		@append_query_error = 0,
		@query_result_header =1
		;

/*
EXEC msdb.dbo.sp_send_dbmail
    @profile_name = 'DB Admin Profile',  
    @recipients = 'admin@example.com',  
    @body = 'Potential candidates for an Admin job, perhaps?',
    @query = 'SELECT TOP(5) * FROM Artists;',
    @execute_query_database = 'Music',
    @attach_query_result_as_file = 1,
    @query_attachment_filename = 'Artists.csv',
    @query_result_header = 1,
    @query_result_width = 256,
    @query_result_separator = ',',
    @exclude_query_output = 1,
    @append_query_error = 1,
    @query_no_truncate = 0,
    @query_result_no_padding = 1,
    @subject = 'Query results as discussed';
*/


GO
