

/****** Object:  StoredProcedure [dbo].[ip_dn_create_invoice]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dn_create_invoice]
@distributorid int,
@entityid int,
@dpp numeric(19,0),
@ppn numeric(19,0),
@invoiceamt numeric(19,0),
@desc varchar(255),
@userid	varchar(50),
@id ArrayIntType READONLY
,@TaxLevel varchar(100)
,@dnPeriod varchar(4) = ''
,@categoryId int = 0
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
BEGIN TRANSACTION
	declare 
	@distributorshortdesc varchar(50)
	,@entityshortdesc varchar(50)
	,@headerid int
    ,@dnCek int
	,@messageout varchar(255) 
	
	declare @createdemail varchar(50)
	SELECT @createdemail=email from tbset_user where id=@userid

    SELECT @dnCek=count(keyid) FROM @id a INNER JOIN tbtrx_invoice_detail b ON a.keyid=b.DNId AND isnull(b.IsCancel,0)=0
	IF @dnCek>0
	BEGIN
        SET @messageout='There are DN numbers already on another invoice'
	  	RAISERROR (@messageout, -- Message text.
	           16, -- Severity.
	           1 -- State.
	           );

    END
    ELSE
    BEGIN
        SELECT @dnCek=count(keyid) FROM @id a INNER JOIN tbtrx_debetnote b ON a.keyid=b.id AND b.LastStatus<>'ready_to_invoice'
        IF @dnCek>0
        BEGIN
            SET @messageout='There are DN numbers with last status not "ready_to_invoice"'
            RAISERROR (@messageout, -- Message text.  
                   16, -- Severity.  
                   1 -- State.  
                   );  
            
        END
        ELSE
        BEGIN
            SET @distributorshortdesc=(SELECT ShortDesc FROM tbmst_distributor where Id=@distributorid)
            SET @entityshortdesc=(SELECT ShortDesc FROM tbmst_principal where Id=@entityid)
                
            INSERT INTO tbtrx_invoice_header(DistributorId,DistributorShortDesc,EntityId,EntityDesc,[Desc],DPPAmount,PPN,InvoiceAmount,CreateBy,CreateOn, TaxLevel, dnPeriod, categoryId)
            values
            (@distributorid,@distributorshortdesc,@entityid,@entityshortdesc,@desc,@dpp,@ppn,@invoiceamt,@userid,@utcDate123,@TaxLevel, @dnPeriod, @categoryId)
        
            SET @headerid=(SELECT SCOPE_IDENTITY())
        
            INSERT INTO tbtrx_invoice_detail(ParentId,DNId,IsCancel)
            select @headerid,keyid,0 FROM @id 
        --EJ 2020-02-26 add history and update invoice
            UPDATE a
              SET LastStatus='invoice'
              FROM tbtrx_debetnote a
              INNER JOIN @id b on a.Id=b.keyid 
              WHERE Id=b.keyid and isnull(iscancel,0)=0
        
            UPDATE a
              SET invoice_on=@utcDate123
              ,invoice_by=@userid
              FROM tbtrx_debetnote_his a
              INNER JOIN @id b on a.DNId=b.keyid 
              WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
              
			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
			SELECT keyid,'invoice',@userid,@utcDate123,dn.dpp, dn.laststatus, @createdemail
			from @id a
			INNER JOIN dbo.tbtrx_debetnote dn ON a.keyid=dn.id
    
        -- end custom            
            SELECT Id,RefId from tbtrx_invoice_header where Id=@headerid
        END
    END
    
/*RECALC OVER BUDGET**************************************/
DECLARE @promoid int
DECLARE db_cursor CURSOR FOR 
SELECT distinct promoid 
FROM @id a inner join tbtrx_debetnote b on a.keyid=b.Id
WHERE isnull(b.PromoId,0)<>0 

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @promoid  

WHILE @@FETCH_STATUS = 0  
BEGIN  
	exec ip_dn_overbudget_by_prommoid @promoid

      FETCH NEXT FROM db_cursor INTO @promoid 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor
/**************************************RECALC OVER BUDGET*/
    
commit
end try
begin catch
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

end catch
GO
