USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dnid_workflow]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dnid_workflow] --1
@refid varchar(50)
AS

--declare @refid varchar(50)
--set @refid ='00004'

BEGIN
/************
Status
************/
        DECLARE @id int
        SELECT @id=id FROM dbo.tbtrx_debetnote where RefId like '%'+@RefId+'%'
		select
				iif(laststatus in ('created','send_to_dist_ho','validate_by_dist_ho') and isnull(iscancel,0)=0,1,0)Distributor
				, iif(laststatus in ('send_to_danone','received_by_danone','validate_by_finance','validate_by_sales')and isnull(iscancel,0)=0,1,0)Waiting_Validation
				, iif(laststatus in ('validate_by_danone','ready_to_invoice','invoice')and isnull(iscancel,0)=0,1,0)Payment_Process
				, iif(laststatus in ('confirm_paid')and isnull(iscancel,0)=0,1,0)Paid
				, iif(isnull(iscancel,0)=1,1,0)Cancelled
				from tbtrx_debetnote
				where Id=@id

/************
Debetnote
************/

		SELECT TOP 1 a.[Id]
			  ,a.[IsDNManual]
			  ,a.[Periode]
			  ,a.[RefId]
			  ,isnull(b.RefId,'') PromoRefId
			  ,convert(varchar(10),b.StartPromo,120) StartPromo
			  ,convert(varchar(10),b.EndPromo,120) EndPromo
			  ,c.Id [EntityId]
			  ,iif(isnull(a.PromoId, 0)=0 OR b.CategoryShortDesc='DC',e.LongDesc, ts.LongDesc)  AccountDesc
			  ,a.[PrincipalShortDesc] EntityShortDesc
			  ,c.LongDesc [EntityLongDesc]
			  ,c.EntityUp
			  ,c.EntityAddress
			  ,d.Id DistributorId
			  ,a.[DistributorShortDesc]
			  ,d.LongDesc [DistributorLongDesc]
			  ,a.[AreaCode]
			  ,a.[DNNumber]
			  ,a.[ActivityDesc]
			  ,a.[SubChannelId]
			  ,iif(isnull(a.PromoId, 0)=0,a.[AccountId], tps.SubAccountId)  AccountId
			  ,a.[PromoId]
			  ,a.[IntDocNo]
			  ,a.[MemDocNo]
			  ,a.[DPP]
			  ,a.[PPNPct]
			  ,a.[PPNAmt]
			  ,a.[TotalClaim]
			  ,a.[DeductionDate]
			  ,a.[Notes]
			  ,a.[LastStatus]
			  ,a.[IsPaid]
			  ,a.[TotalPaid]
			  ,a.[IsCancel]
			  ,a.[IsLocked]
			  ,a.[CreateOn]
			  ,a.[CreateBy] UserId
			  ,a.[ModifiedOn]
			  ,a.[ModifiedBy]
			  ,a.[IsDelete]
			  ,a.[DeleteOn]
			  ,a.[DeleteBy]
			  ,a.[AssignOn]
			  ,a.[AssignBy]
			  ,a.[IsFreeze]
			  ,g.id approver_userid
			  ,g.username approver_username
			  ,g.email approver_email
			  ,a.InternalOrderNumber
			  ,a.[DNAmount]
			  ,a.[FeeDesc]
			  ,a.[FeePct]
			  ,a.[FeeAmount]
			  ,concat(a.TaxLevel, ' - ', h.Description) AS TaxLevel
--			  ,a.[TaxLevel]
--			  ,h.[Description] TaxLevelDesc
			  ,isnull(a.isDNPromo, 0) isDNPromo
			  ,a.PPHPct
			  ,a.PPHAmt
			  ,a.statusPPH
			  ,a.StatusSalesNotes
			  ,a.FPNumber
			  ,a.FPDate
			  ,tpc.ChannelId
		      ,a.VATExpired
		      ,a.statusPPN
		      ,isnull(x.WHTType, '') WHTType
			from tbtrx_debetnote a
			inner join tbtrx_debetnote_wht x on a.Id=x.DNId
			LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
			LEFT JOIN tbtrx_promo_subaccount tps on b.Id = tps.PromoId 
			LEFT JOIN tbmst_subaccount ts on tps.SubAccountId = ts.Id 			
			LEFT JOIN tbtrx_promo_channel tpc on b.id=tpc.PromoId
			inner join tbmst_principal c on a.PrincipalId = c.id
			inner join tbmst_distributor d on a.DistributorId = d.id			
--			inner join tbmst_principal c on a.PrincipalShortDesc=c.ShortDesc
--			inner join tbmst_distributor d on a.DistributorShortDesc=d.ShortDesc
			left join tbmst_subaccount e on a.AccountId=e.Id
			left join tbset_matrix_dnmanual_assignment_new f on a.AccountId=f.SubAccountId	--LUK 200430 change INNER to LEFT
			left join tbset_user g on iif(isnull(f.Pic2,'')='',f.Pic1,f.Pic2)=g.id			--LUK 200430 change INNER to LEFT
			LEFT JOIN tbset_mapping_material h on a.TaxLevel = h.MaterialNumber AND a.PrincipalId=h.EntityId

			where a.Id=@id

/************
Sellingpoint
************/
		select iif(b.Sellpoint is null,0,1) Flag,a.RefId sellpoint,a.LongDesc from tbmst_sellingpoint a
		inner join
		(
		SELECT Sellpoint from tbtrx_debetnote_sellpoint a
		inner join tbtrx_debetnote b on a.DNId=b.Id
		where b.Id=@Id
		) b on a.RefId=b.Sellpoint

/************
File attach
************/
		SELECT DNId, [FileName], DocLink FROM tbtrx_dn_doclink where DNId =@Id ORDER BY DocLink

/************
 * Document Completeness
************/

		SELECT 	
			Original_Invoice_from_retailers,
			Tax_Invoice,
			Promotion_Agreement_Letter,
			Trading_Term,
			Sales_Data,
			Copy_of_Mailer,
			Copy_of_Photo_Doc,
			List_of_Transfer
		FROM tbtrx_debetnote_doc_completeness WHERE DNId=@Id
END
GO
