USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_user_channel_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_user_channel_ins]
	@IsNew           bit,
	@Id              int,
	@ChannelID       int ,
	@UserId          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.id
                FROM tbset_map_user_channel a
                where a.userid = @UserId and a.channelid=@ChannelID
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping User Channel already exist';
                    SET @messageout='Mapping User Channel already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_user_channel
                (
                   UserId
                  ,ChannelID
                  ,CreateOn
                  ,CreateBy
                  ,CreatedEmail
                )
                Values
                (
                   @UserId
                  ,@ChannelID
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_user_channel
			SET
				ChannelID       = @ChannelID
				,UserId          = @UserId
				,ModifiedOn      = @CreatedOn
				,ModifiedBy      = @UserID
				,ModifiedEmail   = @UserLogin
			WHERE
				    Id  = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
