USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_select_display]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_select_display] --9
	@Id				INT
AS

--DECLARE @Id				INT
--SET @Id=4008

BEGIN
/*************************
Category selection
***************************/
DECLARE @category as varchar(5)
SET @category = (SELECT ShortDesc FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) 
	IF @category<>'DC' 
		BEGIN
			IF (SELECT Period FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) >=2025
				BEGIN
					SET NOCOUNT ON;
					SELECT
						0 PromoPlanId
						,pr.RefId
						,pr.Id
						,'---' PromoPlanRefId
						,pr.CreateOn
						,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
						,pr.CreateBy
						,pr.ActivityDesc
						,IIF(isnull(pr.isclose,0)=0, prcal.cost, isnull(dn.TotalPaid, 0)) Investment --issue #839
						,pr_calc_prev.COST PrevInvestment
						--,cast(format(round(pr.NormalSales,0),'#') as bigint) NormalSales
						,cast(format(round(prcal.baseline,0),'#') as bigint) NormalSales
						,cast(format(round(pr_calc_prev.baseline,0),'#') as bigint) PrevNormalSales
						--,pr.IncrSales
						, prcal.baseline * (prcal.uplift / 100) IncrSales
						--,PREV.IncrSales PrevIncrSales
						, pr_calc_prev.baseline * (pr_calc_prev.uplift / 100) PrevIncrSales						
						, pr_calc_prev.TotalSales PrevTotSales
						--,pr.Roi
						--,PREV.Roi PrevRoi						
						--,pr.CostRatio
						,round(((iif(isnull(prcal.baseline,0) = 0,1,prcal.baseline)  * prcal.uplift / 100)- prcal.Cost) / prcal.Cost * 100, 0) Roi
						,round(((iif(isnull(pr_calc_prev.baseline,0) = 0,1,pr_calc_prev.baseline)  * pr_calc_prev.uplift / 100)- pr_calc_prev.Cost) / pr_calc_prev.Cost * 100, 0) PrevRoi
						,prcal.CR CostRatio
						,pr_calc_prev.CR PrevCostRatio
						,pr.Mechanisme1
						,pr.Mechanisme2
						,pr.Mechanisme3
						,pr.Mechanisme4
						,pr.StartPromo
						,pr.EndPromo
						,0 AllocationId
						,pr.Period
						,'' AllocationRefId
						,'' BudgetType
						,pr.DistributorId
						,d.LongDesc DistributorName
						,pr.EntityId PrincipalId
						,p.LongDesc PrincipalName
						,p.ShortDesc principalShortDesc
						,'' OwnerId
						,'' BudgetOwner
						,'' FromOwnerId
						,'' FromOwnerName
						,0 BudgetMasterId
						,pr.CategoryId
						,pr.SubCategoryId
						,pr.ActivityId
						,ta.LongDesc as ActivityLongDesc
						,pr.SubactivityId
						,ts.LongDesc as SubActivityLongDesc
						,ctg.LongDesc CategoryDesc
						,0 BudgetSourceId
						,0 BudgetAmount
						,0 RemainingBudget
						,dbo.getBudgetName(pr.allocationid) allocationDesc
						,'' ShortDesc
						,'' StatusApproval
						,0 IsActive
						,0 IsLocked
						,left(appr1.username, 15) UserApprover1
						,LastStatus1
						,ApprovalDate1
						,left(appr2.username, 15) UserApprover2
						,LastStatus2
						,ApprovalDate2
						,left(appr3.username, 15) UserApprover3
						,LastStatus3
						,ApprovalDate3
						,left(appr4.username, 15) UserApprover4
						,LastStatus4
						,ApprovalDate4
						,left(appr5.username, 15) UserApprover5
						,LastStatus5
						,ApprovalDate5
						,attr.RegionDesc
						,attr.ChannelDesc
						,attr.AccountDesc
						,attr.BrandDesc
						,attr.ProductDesc
						,attr.GroupBrandDesc
						,getdate() + 90 CutOffClaim
						,isnull(CancelReason,'') CancelReason
						,pr.Notes
						,pr.ApprovalNotes
						,pr.TsCoding
						,pr.IsClose
						,0 PlanInvestment
						,0 PlanNormalSales
						,0 PlanIncrSales
						,0 PlanTotSales
						,0 PlanRoi
						,0 PlanCostRatio
						,'' prevMechanisme1
						,'' prevMechanisme2
						,'' prevMechanisme3
						,'' prevMechanisme4
						,pr.initiator_notes
						,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
						,pr.Approver userid_Approver
						,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
						,pr.InvestmentTypeId 
						,tit.RefId InvestmentTypeRefId
						,tit.LongDesc InvestmentTypeDesc
						,pr.late_submission_day
						,sctg.LongDesc SubCategoryDesc
						,pr.LastStatus
						,CONCAT(pr.CreateBy,' - ', ucreateby.username) Initiator
						,pr.investment investmentBfrClose --issue #839
						,iif(isnull(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance	    
						,pr.ModifReason
						,pr.StatusApprovalCode
						,isnull(pr.isCancel, 0) isCancel
						,pr.IsCancelLocked
						,prcal.TotalSales totSales
					FROM tbtrx_promo pr	WITH (NOLOCK)
					INNER join tbtrx_promo_calculator prcal ON pr.id = prcal.PromoId
					INNER JOIN tbmst_activity ta WITH (NOLOCK) on pr.ActivityId = ta.Id AND pr.Id=@Id
					INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
					inner join tbmst_distributor d WITH (NOLOCK) on pr.DistributorId=d.Id
					inner join tbmst_principal p WITH (NOLOCK) on pr.EntityId=p.Id
					inner join tbset_user ucreateby WITH (NOLOCK) ON pr.createby = ucreateby.id 
					inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=pr.CategoryId 
					inner join tbmst_subcategory sctg WITH (NOLOCK) on pr.SubCategoryId = sctg.id 
					left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
					left join vw_promo_attribute attr WITH (NOLOCK) on pr.Id=attr.PromoId
					left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
					left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
					left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
					left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
					left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
					left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
					LEFT JOIN
					(
						select a.*,c.Cost from tbhis_promo a WITH (NOLOCK)
						inner join
						(
						select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
						where StatusApprovalCode = 'TP1' and id=@Id
						group by id
						) b on a.parentid=b.parentid
						INNER JOIN tbhis_promo_calculator c ON b.parentid = c.ParentId
					) PREV ON pr.id=PREV.id
					left join (
						select id, min(parentid) parentid
						from tbhis_promo
						where isnull(reconciled, 0) = 1
						group by id
					) his_promo on pr.id = his_promo.id
					left join tbhis_promo_calculator pr_calc_prev on his_promo.parentid = pr_calc_prev.parentid and his_promo.id = pr_calc_prev.PromoId
					left join (
						SELECT 
							a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) TotalClaim
	    					,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(isnull(tc.dpp,0)) TotalPaid	    
						FROM tbtrx_debetnote a
						left join (
        					SELECT dnid
        						, SUM(isnull(dpp, 0)) dpp
        						, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
        					FROM tbtrx_creditnote
        					WHERE isnull(iscancel, 0) = 0
        					GROUP BY dnid
						) tc ON a.id = tc.dnid		
						WHERE isnull(a.IsCancel, 0) = 0
						AND isnull(a.IsDNPromo,0)=1
						GROUP BY a.PromoId
					) dn on pr.id=dn.promoid
	
					left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
					left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 

					/*****************
					REGION
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_region]  AS MR
						LEFT JOIN (select * from tbtrx_promo_region WITH (NOLOCK) where promoid  = @Id) pr ON MR.Id=pr.RegionId

					/*****************
					CHANNEL
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_channel]  AS MR
						LEFT JOIN (select * from tbtrx_promo_channel WITH (NOLOCK) where promoid  = @Id) pr ON MR.Id=pr.ChannelId

					/*****************
					SUB CHANNEL
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_subchannel]  AS MR
						LEFT JOIN (select * from tbtrx_promo_subchannel WITH (NOLOCK) where promoid = @Id) pr ON MR.Id=pr.SubChannelId

					/*****************
					ACCOUNT
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_account]  AS MR
						INNER JOIN (select * from tbtrx_promo_account WITH (NOLOCK) where promoid = @Id) pr ON MR.Id=pr.AccountId

					/*****************
					SUB ACCOUNT
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_subaccount]  AS MR
						LEFT JOIN (select * from tbtrx_promo_subaccount WITH (NOLOCK) where promoid = @Id) pr ON MR.Id=pr.SubAccountId

					/*****************
						sub brand
					******************/
						SELECT
							CASE WHEN pr.promoId is null THEN 0 ELSE 1 END as flag,
							pr.PromoId as brandPromoId, MR.Id as id, MR.LongDesc as longDesc
							FROM [dbo].[tbmst_brand]  AS MR
							LEFT JOIN (
								select tpp.promoId, mb.id brandId, mb.longDesc 
								from tbtrx_promo_product tpp
								inner join tbmst_product mp ON tpp.ProductId = mp.id
								INNER JOIN tbmst_brand mb ON mp.BrandId = mb.Id
								where tpp.promoid = 3620
							) pr ON MR.Id = pr.brandId

					/******************
						SKU
					*******************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_product]  AS MR
						LEFT JOIN (select * from tbtrx_promo_product WITH (NOLOCK) where promoid = @Id) pr ON mr.Id=pr.ProductId
						ORDER BY MR.SeqNo
				
					/*****************
					ACTIVITY
					*****************/
						SELECT
							0 AS ActivityAllocId
							,ctg.ActivityId AS id
							,ctg.ActivityDesc AS longDesc
							FROM tbtrx_promo AS a WITH(NOLOCK)
							INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId and a.Id=@Id
							and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)

					/*****************
					SUB ACTIVITY
					*****************/
						SELECT
							0 AS SubActivityAllocId
							,ctg.SubActivityId AS id
							,ctg.SubActivityDesc AS longDesc
							FROM tbtrx_promo AS a WITH(NOLOCK)
							INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId and a.Id= @Id
							and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)

					/*****************
					File attach
					*****************/
						SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId =@Id order by DocLink

					/***************
					MASTER STATUS APPROVAL
					***************/
						SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
					/***************
					MECHANISM
					***************/
						SELECT 
							MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
							FROM [dbo].tbtrx_promo_mechanism tppm 
							WHERE promoid =@Id

					 /***************
					INVESTMENT
					***************/
						SELECT TotInvest Investment
						,NormalSales
						,IncrSales
						,TotSales
						,Roi
						,CostRatio
						from tbtrx_promo_request_approval_recon WITH (NOLOCK)
						where ParentId =@Id
						ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY

				 /***************
				Group Brand Ep2#38
				***************/
		
					SELECT distinct 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId brandGroupPromoId, tbg.id, tbg.longDesc, pr.brandGroupId
					FROM tbmst_brand tb WITH (NOLOCK)
					INNER JOIN tbmst_brand_group tbg WITH (NOLOCK) on tb.BrandGroupId = tbg.id
					LEFT JOIN (
						select tpb.promoId, tbg.id BrandGroupId from tbtrx_promo_brand tpb  WITH (NOLOCK) 
						INNER JOIN tbmst_brand tb WITH (NOLOCK) ON tpb.brandid=tb.id AND tpb.PromoId = @Id
						INNER JOIN tbmst_brand_group tbg  WITH (NOLOCK) ON tb.BrandGroupId=tbg.id
					) pr ON tbg.id = pr.BrandGroupId 

/*Promo Calculator Recon*/
					SELECT promoId, ISNULL(baseline, 0) baseline, ISNULL(totalSales, 0) totalSales, ISNULL(uplift, 0) uplift
						, CONVERT(DECIMAL(20, 2), isnull(salesContribution, 0)) salesContribution
						, CONVERT(DECIMAL(20, 2), isnull(storesCoverage, 0)) storesCoverage
						, CONVERT(DECIMAL(20, 2), isnull(redemptionRate, 0)) redemptionRate
						, CONVERT(DECIMAL(20, 2), isnull(cr, 0)) cr
						, CONVERT(DECIMAL(20), isnull(roi, 0)) roi
						, ISNULL(cost, 0) cost
					FROM tbtrx_promo_calculator_recon
					WHERE promoid = @Id
				
				END
			ELSE
				BEGIN
					SET NOCOUNT ON;

					DECLARE @ALO AS TABLE(
						PromoId INT NULL,
						AllocationId INT NULL
					)

					INSERT INTO @ALO(PromoId,AllocationId)
					SELECT p.Id,a.Id
					FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
					INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
					WHERE ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0
						AND p.Id=@Id
						--AND (ISNULL(@Id,'')='' OR p.Id=@Id)
				/*******************************/
					DECLARE @Alloc_ID INT

					set @Alloc_ID= (select allocationid from @ALO where promoid=@id)
					exec ip_recalculate_balance_by_id @alloc_id

				/*******************************/
					SELECT
						pr.PromoPlanId
						,pr.RefId
						,pr.Id
						,pl.RefId PromoPlanRefId
						,pr.CreateOn
						,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
						,pr.CreateBy
						,pr.ActivityDesc
						,IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(dn.TotalPaid, 0)) Investment --issue #839
						,PREV.Investment PrevInvestment
						,cast(format(round(pr.NormalSales,0),'#') as bigint) NormalSales
						,cast(format(round(PREV.NormalSales,0),'#') as bigint) PrevNormalSales
						,pr.IncrSales
						,PREV.IncrSales PrevIncrSales
						,PREV.NormalSales+PREV.IncrSales PrevTotSales
						,pr.Roi
						,PREV.Roi PrevRoi
						,pr.CostRatio
						,PREV.CostRatio PrevCostRatio
						,pr.Mechanisme1
						,pr.Mechanisme2
						,pr.Mechanisme3
						,pr.Mechanisme4
						,pr.StartPromo
						,pr.EndPromo
						,ALLOC.Id AllocationId
						,ALLOC.Periode
						,ALLOC.RefId AllocationRefId
						,ALLOC.BudgetType
						,ALLOC.DistributorId
						,d.LongDesc DistributorName
						,m.PrincipalId
						,p.LongDesc PrincipalName
						,p.ShortDesc principalShortDesc
						,ALLOC.OwnerId
						,uo.username BudgetOwner
						,ALLOC.FromOwnerId
						,uf.username FromOwnerName
						,ALLOC.BudgetMasterId
						,m.CategoryId
						,pr.SubCategoryId
						,pr.ActivityId
						,ta.LongDesc as ActivityLongDesc
						,pr.SubactivityId
						,ts.LongDesc as SubActivityLongDesc
						,ctg.LongDesc CategoryDesc
						,ALLOC.BudgetSourceId
						,ALLOC.BudgetAmount
						,bal.remainingamount as RemainingBudget
						,ALLOC.LongDesc AllocationDesc
						,ALLOC.ShortDesc
						,ALLOC.StatusApproval
						,ALLOC.IsActive
						,ALLOC.IsLocked
						,left(appr1.username, 15) UserApprover1
						,LastStatus1
						,ApprovalDate1
						,left(appr2.username, 15) UserApprover2
						,LastStatus2
						,ApprovalDate2
						,left(appr3.username, 15) UserApprover3
						,LastStatus3
						,ApprovalDate3
						,left(appr4.username, 15) UserApprover4
						,LastStatus4
						,ApprovalDate4
						,left(appr5.username, 15) UserApprover5
						,LastStatus5
						,ApprovalDate5
						,attr.RegionDesc
						,attr.ChannelDesc
						,attr.AccountDesc
						,attr.BrandDesc
						,attr.ProductDesc
						,attr.GroupBrandDesc
						,getdate() + 90 CutOffClaim
						,isnull(CancelReason,'') CancelReason
						,pr.Notes
						,pr.ApprovalNotes
						,pr.TsCoding
						,pr.IsClose
						,pl.Investment PlanInvestment
						,cast(format(round(pl.NormalSales,0),'#') as bigint) PlanNormalSales
						,pl.IncrSales PlanIncrSales
						,pl.NormalSales+pl.IncrSales PlanTotSales
						,pl.Roi PlanRoi
						,pl.CostRatio PlanCostRatio
						,pl.Mechanisme1 prevMechanisme1
						,pl.Mechanisme2 prevMechanisme2
						,pl.Mechanisme3 prevMechanisme3
						,pl.Mechanisme4 prevMechanisme4
						,pr.initiator_notes
						,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
						,pr.Approver userid_Approver
						,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
						,pr.InvestmentTypeId 
						,tit.RefId InvestmentTypeRefId
						,tit.LongDesc InvestmentTypeDesc
						,pr.late_submission_day
						,sctg.LongDesc SubCategoryDesc
						,pr.LastStatus
						,CONCAT(pr.CreateBy,' - ', ucreateby.username) Initiator
						,pr.investment investmentBfrClose --issue #839
						,iif(isnull(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance	    
						,pr.ModifReason
						,pr.StatusApprovalCode
						,isnull(pr.isCancel, 0) isCancel
						,pr.IsCancelLocked
						,pr.NormalSales+pr.IncrSales totSales
					FROM tbtrx_promo pr	WITH (NOLOCK)
					inner join tbtrx_promo_planning pl WITH (NOLOCK) on pr.PromoPlanId=pl.Id
					inner join [dbo].[tbtrx_allocation] AS ALLOC WITH (NOLOCK) on ALLOC.Id=pr.AllocationId
					inner join tbtrx_allocation_balance as bal WITH (NOLOCK) on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
					inner join tbtrx_budgetmaster m WITH (NOLOCK) on ALLOC.BudgetMasterId=m.Id
					INNER JOIN tbmst_activity ta WITH (NOLOCK) on pr.ActivityId = ta.Id
					INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
					inner join tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
					inner join tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
					inner join tbset_user uo WITH (NOLOCK) on uo.Id=ALLOC.OwnerId
					inner join tbset_user uf WITH (NOLOCK) on uf.Id=ALLOC.FromOwnerId
					inner join tbset_user ucreateby WITH (NOLOCK) ON pr.createby = ucreateby.id 
					inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=pr.CategoryId 
					inner join tbmst_subcategory sctg WITH (NOLOCK) on pr.SubCategoryId = sctg.id 
					left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
					left join vw_promo_attribute attr WITH (NOLOCK) on pr.Id=attr.PromoId
					left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
					left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
					left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
					left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
					left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
					left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
					LEFT JOIN
					(
						select a.* from tbhis_promo a WITH (NOLOCK)
						inner join
						(
						select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
						where StatusApprovalCode = 'TP1' and id=@Id
						group by id
						) b on a.parentid=b.parentid
					) PREV ON pr.id=PREV.id
					left join (
						SELECT 
							a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) TotalClaim
	    					,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(isnull(tc.dpp,0)) TotalPaid	    
						FROM tbtrx_debetnote a
						left join (
        					SELECT dnid
        						, SUM(isnull(dpp, 0)) dpp
        						, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
        					FROM tbtrx_creditnote
        					WHERE isnull(iscancel, 0) = 0
        					GROUP BY dnid
						) tc ON a.id = tc.dnid		
						WHERE isnull(a.IsCancel, 0) = 0
						AND isnull(a.IsDNPromo,0)=1
						GROUP BY a.PromoId
					) dn on pr.id=dn.promoid
	
					left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
					left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
					WHERE ISNULL(ALLOC.IsDelete,0)=0
						AND pr.Id IN (SELECT PromoId FROM @ALO)

					/*****************
					REGION
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_region]  AS MR
						LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R  ON MR.Id=R.RegionId
						LEFT JOIN (select * from tbtrx_promo_region WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.RegionId=pr.RegionId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO)

					/*****************
					CHANNEL
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_channel]  AS MR
						LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R  ON MR.Id=R.ChannelId
						LEFT JOIN (select * from tbtrx_promo_channel WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ChannelId=pr.ChannelId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO)

					/*****************
					SUB CHANNEL
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_subchannel]  AS MR
						LEFT JOIN  [dbo].[tbtrx_allocation_subchannel] AS R  ON MR.Id=R.SubChannelId
						LEFT JOIN (select * from tbtrx_promo_subchannel WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubChannelId=pr.SubChannelId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO)

					/*****************
					ACCOUNT
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_account]  AS MR
						LEFT JOIN  [dbo].[tbtrx_allocation_account] AS R  ON MR.Id=R.AccountId
						INNER JOIN (select * from tbtrx_promo_account WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.AccountId=pr.AccountId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO)

					/*****************
					SUB ACCOUNT
					*****************/
						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_subaccount]  AS MR
						inner join tbtrx_promo_account AS prsa ON MR.AccountId=prsa.AccountId and prsa.promoid IN (SELECT PromoId FROM @ALO)
						LEFT JOIN  [dbo].[tbtrx_allocation_subaccount] AS R  ON MR.Id=R.SubAccountId
						LEFT JOIN (select * from tbtrx_promo_subaccount WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubAccountId=pr.SubAccountId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO)

						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_brand]  AS MR
						LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R  ON MR.Id=R.BrandId
						LEFT JOIN (select * from tbtrx_promo_brand WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO)

						SELECT
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_product]  AS MR
						LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R  ON MR.Id=R.ProductId
						LEFT JOIN (select * from tbtrx_promo_product WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ProductId=pr.ProductId
						where R.AllocationId IN (SELECT AllocationId FROM @ALO) and R.BrandId IN (SELECT BrandId FROM [dbo].[tbtrx_promo_brand] WHERE promoid IN (SELECT PromoId FROM @ALO))
						ORDER BY MR.SeqNo
				
					/*****************
					ACTIVITY
					*****************/
						SELECT
							a.AllocationId AS ActivityAllocId
							,ctg.ActivityId AS id
							,ctg.ActivityDesc AS longDesc
							FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
							INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
							and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
							WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null

					/*****************
					SUB ACTIVITY
					*****************/
						SELECT
							a.AllocationId AS SubActivityAllocId
							,ctg.SubActivityId AS id
							,ctg.SubActivityDesc AS longDesc
							FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
							INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
							and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
							WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

					/*****************
					File attach
					*****************/
						SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink

					/***************
					MASTER STATUS APPROVAL
					***************/
						SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
					/***************
					MECHANISM
					***************/
						SELECT 
							MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
							FROM [dbo].tbtrx_promo_mechanism tppm 
							WHERE promoid =@Id

					 /***************
					INVESTMENT
					***************/
						SELECT TotInvest Investment
						,NormalSales
						,IncrSales
						,TotSales
						,Roi
						,CostRatio
						from tbtrx_promo_request_approval_recon WITH (NOLOCK)
						where ParentId IN (SELECT PromoId FROM @ALO)
						ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY

				 /***************
				Group Brand Ep2#38
				***************/
		
					SELECT distinct 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
						pr.PromoId brandGroupPromoId, tbg.id, tbg.longDesc, pr.brandGroupId
					FROM tbmst_brand tb WITH (NOLOCK)
					INNER JOIN tbmst_brand_group tbg WITH (NOLOCK) on tb.BrandGroupId = tbg.id
					LEFT JOIN tbtrx_allocation_brand tab WITH (NOLOCK) on tb.Id = tab.BrandId 
					LEFT JOIN (
						select tpb.promoId, tbg.id BrandGroupId from tbtrx_promo_brand tpb  WITH (NOLOCK) 
						INNER JOIN tbmst_brand tb WITH (NOLOCK) ON tpb.brandid=tb.id
						INNER JOIN tbmst_brand_group tbg  WITH (NOLOCK) ON tb.BrandGroupId=tbg.id
						where promoid IN (SELECT PromoId FROM @ALO)
					) pr ON tbg.id = pr.BrandGroupId
					WHERE tab.allocationid=(SELECT AllocationId FROM @ALO)

/*Promo Calculator Recon*/
					SELECT promoId, ISNULL(baseline, 0) baseline, ISNULL(totalSales, 0) totalSales, ISNULL(uplift, 0) uplift
						, CONVERT(FLOAT, isnull(salesContribution, 0)) salesContribution
						, CONVERT(FLOAT, isnull(storesCoverage, 0)) storesCoverage
						, CONVERT(FLOAT, isnull(redemptionRate, 0)) redemptionRate
						, CONVERT(FLOAT, isnull(cr, 0)) cr
						, CONVERT(FLOAT, isnull(roi, 0)) roi
						, ISNULL(cost, 0) cost
					FROM tbtrx_promo_calculator_recon
					WHERE promoid = @Id
				

			END
		
		END
	ELSE
		BEGIN
			EXEC ip_promo_select_display_dc @id
		END
END
GO
