USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_getbyid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_matrix_approval_getbyid]
--DECLARE 
@id int
--SET @id = 5930
AS
	select 
	a.id
	,Periode
	,a.[Initiator]
	,b.Id EntityId
	,b.LongDesc Entity
	,c.Id DistributorId
	,c.LongDesc Distributor
	,d.Id SubActivityTypeId
	,d.LongDesc SubActivityType
	,e.Id ChannelId
	,ISNULL(e.LongDesc,'ALL Channel') Channel
	,isnull(f.Id,0) SubChannelId
	,IIF(x.ShortDesc='DC','---', isnull(f.LongDesc,'All Sub Channel')) SubChannel
	,a.MinInvestment
	,a.MaxInvestment
	,appr.Approver MatrixApprover
	,a.CreateOn
	,a.CreateBy
	,a.CreatedEmail
	,a.ModifiedOn
	,a.ModifiedBy
	,a.ModifiedEmail 
	,a.CategoryId
	,g.ShortDesc as CategoryShortDesc
	,g.LongDesc as CategoryLongDesc
	from tbset_matrix_promo_approval a with (nolock)
	inner join tbmst_principal b with (nolock) on a.PrincipalId=b.Id
	inner join tbmst_distributor c with (nolock) on a.DistributorId=c.Id
	INNER JOIN tbmst_category x on a.CategoryId=x.Id
	inner join tbmst_subactivity_type d with (nolock) on a.SubActivityType=d.Id
	LEFT join tbmst_channel e with (nolock) on a.ChannelId=e.Id
	left join tbmst_subchannel f with (nolock) on a.SubChannelId=f.Id
	inner join tbmst_category g on a.CategoryId = g.Id
	left join
	(
	    select parentid, string_agg(QUOTENAME(a.SeqApproval) + QUOTENAME(a.Approver),' ,') Approver, a.ModifiedOn 
	  	from tbset_matrix_promo_approver a with (nolock)
	    GROUP BY a.parentid, a.ModifiedOn 
	) appr on a.id=appr.parentid
	where a.id=@id 
	
	select id, a.SeqApproval, a.Approver 
	from tbset_matrix_promo_approver a with (nolock)
	where ParentId = @id
	ORDER BY a.SeqApproval
GO
