

/****** Object:  StoredProcedure [dbo].[ip_dn_validate_by_sales_DC]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dn_validate_by_sales_DC]
@dnid int,
@status varchar(50),
@notes varchar(255),
@userid varchar(50)
as
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE @createdemail varchar(100), @promoid int, @categoryShortDesc varchar(20)
	SELECT @createdemail=email from tbset_user where id=@userid
	INSERT INTO tblog_dn_change_status (dtime,dnstatus,userid,dnid, CreatedEmail, dpp) 
	SELECT @utcDate123,concat(@status,' -p'),@userid,@dnid, @createdemail, dpp 
	FROM tbtrx_debetnote WHERE id=@dnid
	
	SELECT @promoid = td.promoid, @categoryShortDesc = mc.shortDesc
	FROM tbtrx_debetnote td
	INNER JOIN tbtrx_promo tp ON td.promoid = tp.id
	INNER JOIN tbmst_category mc ON tp.categoryId = mc.id 
BEGIN TRY
BEGIN TRANSACTION

declare
@laststatus varchar(50),
@updlaststatus varchar(50),
@prevstatus varchar(50),
@StatusSalesCode varchar(3),
--@promoid int,
@isdnpromo int,
@messageout varchar(255),
@dpp numeric(19,0),
@laststatuslog varchar(50)


set @notes = left(@notes,255)
SELECT @dpp=dpp from dbo.tbtrx_debetnote where id=@dnid
--declare @createdemail varchar(50)
SELECT @createdemail=email from tbset_user where id=@userid

	SET @laststatus=(SELECT LastStatus FROM tbtrx_debetnote where Id=@dnid)
	SET @StatusSalesCode=(SELECT StatusSalesCode FROM tbtrx_debetnote where Id=@dnid)

	IF @status='rejected_by_sales' 
	BEGIN
		UPDATE tbtrx_debetnote
		SET
			StatusSalesCode='TP3'
			,StatusSales=@status
			,StatusSalesOn=@utcDate123
			,StatusSalesBy=@userid
			,StatusSalesNotes=@notes
			,laststatus='send_to_danone'
		WHERE Id=@dnid
		
		SET @laststatuslog=(SELECT LastStatus FROM tbtrx_debetnote where Id=@dnid)
		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail,Notes)
		VALUES(@dnid,@status,@userid,@utcDate123,@dpp, @laststatuslog,@createdemail, @notes)
		
	END
	ELSE
		BEGIN
			IF @status='validate_by_sales'
			BEGIN
				SET @isdnpromo = (SELECT isnull(IsDNPromo, 0) FROM tbtrx_debetnote where Id=@dnid)
				SET @promoid=(SELECT PromoId FROM tbtrx_debetnote where Id=@dnid)
				IF isnull(@isdnpromo,0)=1
				BEGIN
					IF isnull(@promoid,0)=0
					BEGIN
						SET @messageout='You can not validate, please assign to Promo Number'
						RAISERROR (@messageout, -- Message text.
					   16, -- Severity.
					   1 -- State.
					   );
					END

				   IF EXISTS
				   (
				   SELECT DNId FROM
				   (
						SELECT
						pr.Id PromoId,
						pr.RefId RefId,
						pr.Investment,
						dn.id DNId,
						dn.DPP,
						SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
						pr.investmentForDN-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY iif(dn.LastStatus ='confirm_paid',0,1), b.sequence desc,b.dt asc, b.id) Remaining								
						from tbtrx_promo pr
						left join  tbtrx_debetnote dn on pr.Id=dn.PromoId
				        inner join (
				            select a.id, iif(a.ModifiedOn is null, a.CreateOn, a.ModifiedOn) dt, 
							CASE 
						    	WHEN a.laststatus='created' THEN 1 
						    	WHEN a.laststatus='send_to_dist_ho' THEN 2
						    	WHEN a.laststatus='validate_by_dist_ho' THEN 3
								WHEN a.laststatus='send_to_danone' THEN 4
								WHEN a.laststatus='received_by_danone' THEN 5
								WHEN a.laststatus='validate_by_sales' THEN 6
								WHEN a.laststatus='validate_by_finance' THEN 7
								WHEN a.laststatus='validate_by_danone' THEN 8
								WHEN a.laststatus='ready_to_invoice' THEN 9
								WHEN a.laststatus='invoice' THEN 10
								WHEN a.laststatus='confirm_paid' THEN 11    	
							END sequence
				            from tbtrx_debetnote a        
				        ) b on dn.id=b.id
						WHERE pr.Id=@promoid And isnull(dn.iscancel,0)=0
-- 					       group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.DPP, dn.TotalClaim
					) ob WHERE Remaining < 0 and DNId=@dnid
					)
					BEGIN
						SET @messageout='You can not validate, DN Over Budget'
						RAISERROR (@messageout, -- Message text.
					   16, -- Severity.
					   1 -- State.
					   );
					END
				END

				IF @status='validate_by_sales'
				BEGIN

					SET @updlaststatus= IIF(@laststatus='validate_by_finance','validate_by_danone', IIF(@laststatus='received_by_danone',@status, @laststatus))

					UPDATE tbtrx_debetnote
						SET
							StatusSalesCode='TP2'
							,StatusSales=@status
							,StatusSalesOn=@utcDate123
							,StatusSalesBy=@userid
							,LastStatus = 'validate_by_sales'
							,Notes=@notes
						WHERE Id=@dnid

					UPDATE a
						SET
							validate_by_sales_on=@utcDate123
							,validate_by_sales_by=@userid
					  FROM tbtrx_debetnote_his a
					  WHERE a.DNId=@dnid --and isnull(is_cancel,0)=0

					INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
					VALUES(@dnid,'validate_by_sales',@userid,@utcDate123,@dpp, 'validate_by_sales',@createdemail)
					  
					INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes,DPP)
					VALUES(@dnid,@utcDate123,@userid,'TP2',@notes, @dpp)

				END
			END
		END
COMMIT
exec ip_dn_overbudget_by_prommoid @promoid
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	SELECT
		@ErrorMessage = ERROR_MESSAGE(),
		@ErrorSeverity = ERROR_SEVERITY(),
		@ErrorState = ERROR_STATE();
	RAISERROR (@ErrorMessage, -- Message text.
			 @ErrorSeverity, -- Severity.
			   @ErrorState -- State.
   );
END CATCH
GO
