

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_batchname]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_xml_generate_batchname]
@entitylist int
,@userid varchar(30)
,@distributorlist AttributeType READONLY
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--declare @entity int
--set @entity=2

BEGIN
DROP TABLE IF EXISTS #tbcursor;
DECLARE
	@rc integer
	,@FirstAllocated integer
	,@SeqName nvarchar(20) 
	,@Years varchar(4)
	,@BatchName varchar(100)
	,@Distributor varchar(100)		
	,@Entity varchar(100)
	,@Channel varchar(100)
	,@BudgetBucket varchar(100)		
	,@DNAmount numeric(18,2)		
	,@FeeAmount numeric(18,2)			
	,@PPNAmt numeric(18,2)
	,@PPHAmt numeric(18,2)
	,@TotalToPay numeric(18,2)	
	,@DNId int
	,@DNNumber varchar(50)
	,@DNDesc varchar(255)
	,@PromoNumber varchar(100)
	,@Taxlevel varchar(100)
	,@IntDocNo varchar(100)
	,@TotDNAmount numeric(18,2)		
	,@TotFeeAmount numeric(18,2)			
	,@TotPPNAmt numeric(18,2)
	,@TotPPHAmt numeric(18,2)
	,@useremail varchar(100)
	,@grup varchar(255)
	,@sw int

DECLARE @Temp TABLE
	(
		BatchName varchar(100)
		,Distributor varchar(100)		
		,BudgetBucket varchar(100)		
		,InvoiceDNNumber varchar(50)		
		,DNAmount numeric(18,2)		
		,FeeAmount numeric(18,2)		
		,FeePct numeric(18,2)		
		,PPNAmt numeric(18,2)
		,PPNPct numeric(18,2)
		,PPHAmt numeric(18,2)
		,PPHPct numeric(18,2)
		,TotalToPay numeric(18,2)		
		,fpnumber varchar(50)
		,fpdate date
		,DNNumber varchar(50)	
		,DNDesc varchar(255)
		,PromoNumber varchar(100)
		,Taxlevel varchar(10)
	);
DECLARE @dist_list UserType, @dist_init int

SET @dist_init=(SELECT id FROM @distributorlist WHERE id=0);
IF(@dist_init=0)
BEGIN
	INSERT INTO @dist_list (id)
		SELECT id FROM tbmst_distributor WHERE isnull(isdeleted, 0) = 0;
END
ELSE
BEGIN
	INSERT INTO @dist_list (id)
		SELECT id FROM @distributorlist WHERE id NOT IN (0)
END

SET @useremail = (SELECT email FROM tbset_user where id=@userid)

/* Create table untuk cursor */
	SELECT 
		tmd.LongDesc Distributor
		,mp.ShortDesc Entity
		,tc.ShortDesc Channel
		,ta.Periode 
		,CONCAT('Trade Support ', ta.Periode) BudgetBucket
		,(isnull(td.DNAmount,0)) DNAmount
		,(isnull(td.FeeAmount, 0)) FeeAmount
		,(isnull(td.PPNAmt, 0)) PPNAmt
		,(isnull(td.PPHAmt, 0)) PPHAmt
		,(isnull(td.DPP, 0) + isnull(td.PPNPct, 0) - isnull(td.PPNAmt, 0)) TotalToPay
		,td.id dnid
		,td.RefId 
		,td.IntDocNo 
		,td.ActivityDesc
		,tp.RefId PromoNumber
		,td.TaxLevel 
	INTO #tbcursor
	FROM tbtrx_debetnote td 
		INNER JOIN tbmst_principal mp ON td.PrincipalId = mp.id
		INNER JOIN tbmst_subchannel ts ON td.SubChannelId=ts.id
		INNER JOIN tbmst_channel tc ON ts.ChannelId = tc.id
		INNER JOIN tbtrx_promo tp on td.PromoId = tp.id
		INNER JOIN tbtrx_allocation ta ON tp.AllocationId = ta.Id 
		INNER JOIN tbmst_distributor tmd on td.DistributorId = tmd.Id
	    INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
	WHERE td.LastStatus = 'ready_to_invoice'
		AND isnull(td.IsDNPromo, 0)=1
		AND isnull(td.IsCancel, 0) = 0
        AND IIF(@entitylist=0,'',td.PrincipalId) =IIF(@entitylist=0,'',@entitylist)
        AND td.id NOT IN (SELECT DNId FROM tbhis_xml_generate_batchname WHERE isnull(isdeleted,0)=0)
		and isnull(tp.Period, 0) < 2025
	ORDER BY tmd.LongDesc,mp.ShortDesc,tc.ShortDesc,ta.Periode
	
	INSERT INTO #tbcursor
	SELECT 
		tmd.LongDesc Distributor
		,mp.ShortDesc Entity
		,tc.ShortDesc Channel
		,tp.period Periode 
		,CONCAT('Trade Support ', tp.period) BudgetBucket
		,(isnull(td.DNAmount,0)) DNAmount
		,(isnull(td.FeeAmount, 0)) FeeAmount
		,(isnull(td.PPNAmt, 0)) PPNAmt
		,(isnull(td.PPHAmt, 0)) PPHAmt
		,(isnull(td.DPP, 0) + isnull(td.PPNPct, 0) - isnull(td.PPNAmt, 0)) TotalToPay
		,td.id dnid
		,td.RefId 
		,td.IntDocNo 
		,td.ActivityDesc
		,tp.RefId 
		,td.TaxLevel 
	FROM tbtrx_debetnote td 
		INNER JOIN tbmst_principal mp ON td.PrincipalId = mp.id
		INNER JOIN tbmst_subchannel ts ON td.SubChannelId=ts.id
		INNER JOIN tbmst_channel tc ON ts.ChannelId = tc.id
		INNER JOIN tbtrx_promo tp on td.PromoId = tp.id
		INNER JOIN tbmst_distributor tmd on td.DistributorId = tmd.Id
	    INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
	WHERE td.LastStatus = 'ready_to_invoice'
		AND isnull(td.IsDNPromo, 0)=1
		AND isnull(td.IsCancel, 0) = 0
        AND IIF(@entitylist=0,'',td.PrincipalId) =IIF(@entitylist=0,'',@entitylist)
        AND td.id NOT IN (SELECT DNId FROM tbhis_xml_generate_batchname WHERE isnull(isdeleted,0)=0)
		and isnull(tp.Period, 0) >= 2025


DECLARE cursor_batchname CURSOR
FOR 
	SELECT * FROM #tbcursor
    ORDER BY Distributor, Entity, Channel, Periode

	OPEN cursor_batchname;
	FETCH NEXT FROM cursor_batchname
	INTO @Distributor, @Entity, @Channel, @Years, @BudgetBucket, @DNAmount, @FeeAmount, @PPNAmt, @PPHAmt, @TotalToPay, @DNId, @DNNumber, @IntDocNo, @DNDesc, @PromoNumber, @Taxlevel;

	SET @sw=0
	SET @grup = ''
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF @sw=1 OR @grup = ''
		BEGIN
			IF @Distributor = 'APL'
			BEGIN 
			    SET @batchname = 'BATCH ' + @IntDocNo
			END
			ELSE
			BEGIN
				SET @SeqName='BATCHNAME ' + @Entity + ' ' + CAST(year(@utcDate123) as varchar(4))
			    EXECUTE @rc = dbo.[ip_allocated_sequence]  
			        @SequenceName = @SeqName,  
			        @RangeSize = 1,  
			        @FirstAllocated = @FirstAllocated OUTPUT;  
			       
			    SET @batchname = @Entity + ' BATCH ' + RIGHT(CAST(year(@utcDate123) as varchar(4)),2) + RIGHT('000' + +CONVERT([varchar](3), @FirstAllocated ), 3) + ' ' + @Channel + ' ' + @Years
			END
		    SET @sw = 0
    		SET @TotDnAmount = 0
			SET @TotFeeAmount = 0
			SET @TotPPNAmt = 0
			SET @TotPPHAmt = 0

		END
		
		SET @TotalToPay = @DNAmount + @FeeAmount + @PPNAmt - @PPHAmt
		
	    INSERT INTO @Temp VALUES(
	    	@batchname
	    	,@Distributor
	    	,@BudgetBucket
	    	,''
	    	,@DNAmount
	    	,@FeeAmount
	    	,0
	    	,@PPNAmt
	    	,0
	    	,@PPHAmt
	    	,0
	    	,@TotalToPay
	    	,''
	    	,null
	    	,@DNNumber
	    	,@DNDesc
	    	,@PromoNumber
	    	,@Taxlevel
	    )

--	    Create Log per batch name
	    INSERT INTO tbhis_xml_generate_batchname (
    		BatchName
			,Distributor		
			,BudgetBucket		
			,InvoiceDNNumber		
			,DNAmount		
			,FeeAmount		
			,FeePct		
			,PPNAmt
			,PPNPct
			,PPHAmt
			,PPHPct
			,TotalToPay		
			,fpnumber
			,fpdate
			,DNId
			,DNNumber		
			,CreatedBy
			,CreatedEmail
			,CreatedOn
			,taxlevel
	    )
	    VALUES(
	    	@batchname
	    	,@Distributor
	    	,@BudgetBucket
	    	,''
	    	,@DNAmount
	    	,@FeeAmount
	    	,0
	    	,@PPNAmt
	    	,0
	    	,@PPHAmt
	    	,0
	    	,@TotalToPay
	    	,''
	    	,null
	    	,@DNId
	    	,@DNNumber
	    	,@userid
	    	,@useremail
	    	,@utcDate123
	    	,@taxlevel
	    )
		SET @grup = @Distributor + @Entity + @Channel + @Years
		
		FETCH NEXT FROM cursor_batchname
		INTO @Distributor, @Entity, @Channel, @Years, @BudgetBucket, @DNAmount, @FeeAmount, @PPNAmt, @PPHAmt, @TotalToPay, @DNId, @DNNumber, @IntDocNo, @DNDesc, @PromoNumber, @Taxlevel;
	
		IF @grup <> @Distributor + @Entity + @Channel + @Years OR @@FETCH_STATUS=-1 
		BEGIN 
			SET @sw = 1
		END
	
		IF @sw=1
		BEGIN
			SET @grup = @Distributor + @Entity + @Channel + @Years
		END

	END

	CLOSE cursor_batchname;
	DEALLOCATE cursor_batchname;


SELECT 
	BatchName
	,Distributor		
	,BudgetBucket		
	,InvoiceDNNumber		
	,DNAmount		
	,FeeAmount		
	,FeePct		
	,PPNAmt
	,PPNPct
	,PPHAmt
	,PPHPct
	,TotalToPay		
	,fpnumber
	,fpdate
	,DNNumber	
	,DNDesc
	,PromoNumber
	,Taxlevel

FROM @Temp invoice

DROP TABLE IF EXISTS #tbcursor;
END
GO
