

/****** Object:  StoredProcedure [dbo].[ip_promo_budget_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_budget_approval]
		@batchid varchar(100)
		, @profileid varchar(100)
		, @useremail varchar(100)

AS

BEGIN
SET NOCOUNT ON
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE @tmpappseq AS Table (
		appseq int,
		profileid varchar(100)
		)
	
	DECLARE 
		@cseqapp INT
		,@cprofileid VARCHAR(100)
		,@isAlreadyaction int
	
	SET @isAlreadyaction=0
	
	BEGIN TRY
	BEGIN TRANSACTION

/*TEST*/
	--DECLARE
	--	@batchid varchar(100)
	--	, @profileid varchar(100)
	--	, @useremail varchar(100)

	--	SET @batchid ='20241018093057'--'TES-'+replace(replace(replace(convert(nvarchar(MAX), @utcDate123, 21),'-',''),' ',''),':','')
	--	SET @profileid ='PRGM'
	--	SET @useremail ='lukman.handrianto@xvautomation.com'

	--	--select a.* from tbtrx_promo_budget_status a
	--	--inner join tbtrx_promo b on a.PromoId=b.Id 
	--	--order by PromoId


/*UPDATE INFO APPROVAL*/
	DROP TABLE IF EXISTS #tmpappseq	

	INSERT INTO @tmpappseq (appseq,profileid) SELECT 1, Approver1 from tbset_promo_budget_approval WHERE Approver1 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 2, Approver2 from tbset_promo_budget_approval WHERE Approver2 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 3, Approver3 from tbset_promo_budget_approval WHERE Approver3 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE Approver4 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE Approver5 = @profileid

	SELECT DISTINCT @batchid batchid, * INTO #tmpappseq FROM @tmpappseq

	SET @cseqapp = (SELECT appseq FROM #tmpappseq WHERE profileid=@profileid)
/*Check already make an action*/
	IF @cseqapp = 1
		BEGIN
			IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
					WHERE
						batchid = @BatchId 
						AND Approved1By = @profileid
						AND Approved1On IS NOT NULL)>0
				BEGIN
					SET @isAlreadyaction = 1
				END
		END
	ELSE IF @cseqapp = 2
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved2By = @profileid
							AND Approved2On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyaction = 1
					END
			END
	ELSE IF @cseqapp = 3
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved3By = @profileid
							AND Approved3On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyaction = 1
					END
			END
	ELSE IF @cseqapp = 4
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved4By = @profileid
							AND Approved4On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyaction = 1
					END
			END
	ELSE IF @cseqapp = 5
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved5By = @profileid
							AND Approved5On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyaction = 1
					END
			END
	
	IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
			WHERE
				batchid = @BatchId 
				AND LastStatusCode='TP04')>0
		BEGIN
			SET @isAlreadyAction = 2
		END


	IF @isAlreadyAction=1
		BEGIN
			RAISERROR ('You have already done the approval action', -- Message text.
				16, -- Severity.
				1 -- State.
				);
		END
	ELSE IF @isAlreadyAction=2
		BEGIN
			RAISERROR ('Budget mass approval have already rejected', -- Message text.
				16, -- Severity.
				1 -- State.
				);
		END


--GOTO HELL
/*UPDATE INFO*/
	DECLARE seqapp_cursor CURSOR FOR 
		SELECT appseq, profileid FROM #tmpappseq

	OPEN seqapp_cursor
    FETCH NEXT FROM seqapp_cursor INTO @cseqapp, @cprofileid

	WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @cseqapp = 1
					BEGIN					
						UPDATE tbtrx_promo_budget_status 
						SET Approved1On = @utcDate123
							, Approved1Email = @useremail
							, ApprovedOn = @utcDate123
							, ApprovedBy = @profileid
							, ApprovedEmail = @useremail
						WHERE
							batchid = @BatchId 
							AND Approved1By = @cprofileid
							AND Approved1On IS NULL
					END
			ELSE IF @cseqapp = 2
					BEGIN					
						UPDATE tbtrx_promo_budget_status 
						SET Approved2On = @utcDate123
							, Approved2Email = @useremail
							, ApprovedOn = @utcDate123
							, ApprovedBy = @profileid
							, ApprovedEmail = @useremail
						WHERE
							batchid = @BatchId 
							AND Approved2By = @cprofileid
							AND Approved2On IS NULL
					END
			ELSE IF @cseqapp = 3
					BEGIN					
						UPDATE tbtrx_promo_budget_status 
						SET Approved3On = @utcDate123
							, Approved3Email = @useremail
							, ApprovedOn = @utcDate123
							, ApprovedBy = @profileid
							, ApprovedEmail = @useremail
						WHERE
							batchid = @BatchId 
							AND Approved3By = @cprofileid
							AND Approved3On IS NULL
					END
			ELSE IF @cseqapp = 4
					BEGIN					
						UPDATE tbtrx_promo_budget_status 
						SET Approved4On = @utcDate123
							, Approved4Email = @useremail
							, ApprovedOn = @utcDate123
							, ApprovedBy = @profileid
							, ApprovedEmail = @useremail
						WHERE
							batchid = @BatchId 
							AND Approved4By = @cprofileid
							AND Approved4On IS NULL
					END
			ELSE IF @cseqapp = 5
					BEGIN					
						UPDATE tbtrx_promo_budget_status 
						SET Approved5On = @utcDate123
							, Approved5Email = @useremail
							, ApprovedOn = @utcDate123
							, ApprovedBy = @profileid
							, ApprovedEmail = @useremail
						WHERE
							batchid = @BatchId 
							AND Approved5By = @cprofileid
							AND Approved5On IS NULL
					END
    
			FETCH NEXT FROM seqapp_cursor INTO @cseqapp, @cprofileid
		END

	CLOSE seqapp_cursor
    DEALLOCATE seqapp_cursor

	DROP TABLE IF EXISTS #tmpappseq

/*UPDATE STATUS APPROVAL*/

	UPDATE a SET Approved = 1, a.LastStatusCode=mmst.StatusCode, a.LastStatus=mmst.StatusDesc
	FROM tbtrx_promo_budget_status a
	INNER JOIN tbtrx_promo_calculator b ON a.PromoId=b.PromoId AND a.LastStatusCode='TP02'
	CROSS JOIN tbmst_master_status mmst
	WHERE a.BatchId = @batchid AND b.Cost <= 5000000000 AND Approved = 0 AND Approved1On IS NOT NULL AND Approved2On IS NOT NULL AND Approved3On IS NOT NULL 
		AND mmst.StatusCode = 'TP03'

	UPDATE a SET Approved = 1, a.LastStatusCode=mmst.StatusCode, a.LastStatus=mmst.StatusDesc
	FROM tbtrx_promo_budget_status a
	INNER JOIN tbtrx_promo_calculator b ON a.PromoId=b.PromoId AND a.LastStatusCode='TP02'
	CROSS JOIN tbmst_master_status mmst
	WHERE a.BatchId = @batchid AND b.Cost > 5000000000 AND Approved = 0 AND Approved1On IS NOT NULL AND Approved2On IS NOT NULL AND Approved3On IS NOT NULL AND Approved4On IS NOT NULL AND Approved5On IS NOT NULL 
		AND mmst.StatusCode = 'TP03'

HELL:
	COMMIT

	END TRY
			BEGIN CATCH
			ROLLBACK
				DECLARE @ErrorMessage NVARCHAR(4000);
				DECLARE @ErrorSeverity INT;
				DECLARE @ErrorState INT;

				SELECT
					@ErrorMessage = ERROR_MESSAGE(),
					@ErrorSeverity = ERROR_SEVERITY(),
					@ErrorState = ERROR_STATE();
				RAISERROR (@ErrorMessage, -- Message text.
						   @ErrorSeverity, -- Severity.
						   @ErrorState -- State.
			   );

			END CATCH
END
GO
