USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_delete_region]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_delete_region]
	-- Add the parameters for the stored procedure here
	@ID			INT,
	@USERID		VARCHAR(25)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT TOP 1 Id FROM [dbo].[tbmst_region] WITH(NOLOCK) WHERE Id=@ID)
	BEGIN
		DECLARE @ERROR VARCHAR(100)='DATA <' + @ID + '> NOT FOUND.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	UPDATE [dbo].[tbmst_region]
	SET 
		IsDelete=CAST(1 AS BIT),
		DeleteOn=@utcDate123,
		DeleteBy=@USERID
	WHERE Id=@ID

END
GO
