

/****** Object:  StoredProcedure [dbo].[ip_ss_tt_tmp_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_tt_tmp_list] 
	@period varchar(4)
	,@profileId varchar(30)
	,@categoryId ArrayIntType READONLY
	,@subcategoryId ArrayIntType READONLY
	,@subActivityTypeId ArrayIntType READONLY
	,@activityId ArrayIntType READONLY
	,@subActivityId ArrayIntType READONLY
	,@channelId ArrayIntType READONLY
	,@subChannelId ArrayIntType READONLY
	,@accountId ArrayIntType READONLY
	,@subAccountId ArrayIntType READONLY
	,@distributorId ArrayIntType READONLY
	,@groupBrandId ArrayIntType READONLY

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255) 
	,@sort varchar(4) 
AS

--DECLARE
--	@period varchar(4)
--	,@profileId varchar(30)
--	,@categoryId ArrayIntType 
--	,@subcategoryId ArrayIntType 
--	,@subActivityTypeId ArrayIntType 
--	,@activityId ArrayIntType 
--	,@subActivityId ArrayIntType 
--	,@channelId ArrayIntType
--	,@subChannelId ArrayIntType 
--	,@accountId ArrayIntType 
--	,@subaccountId ArrayIntType 
--	,@distributorId ArrayIntType 
--	,@groupBrandId ArrayIntType 

--	,@start int
--	,@length int
--	,@txtSearch varchar(255)
--	,@order varchar(255)
--	,@sort varchar(4)

--	SET @period = '2025'
--	SET @profileId ='sfc pharma proxy'
--	INSERT INTO @categoryId			(keyid) VALUES (3)
--	INSERT INTO @subcategoryId		(keyid) VALUES (0) 
--	INSERT INTO @subActivityTypeId	(keyid) VALUES (0) 
--	INSERT INTO @activityId			(keyid) VALUES (0) 
--	INSERT INTO @subActivityId		(keyid) VALUES (0) 
--	INSERT INTO @channelId			(keyid) VALUES (7),(8),(10),(12)--(0) 
--	INSERT INTO @subChannelId		(keyid) VALUES (0) 
--	INSERT INTO @accountId			(keyid) VALUES (0) 
--	INSERT INTO @subaccountId		(keyid) VALUES (0) 
--	INSERT INTO @distributorId		(keyid) VALUES (0) 
--	INSERT INTO @groupBrandId		(keyid) VALUES (0) 
--	SET @start = 0
--	SET @length = -1
--	SET @txtSearch = null
--	SET @order = NUll
--	SET @sort = NULL

	--EXEC ip_ss_tt_tmp_list @period, @profileId, @categoryId, @subcategoryId, @subActivityTypeId, @activityId, @subActivityId, @channelId, @subChannelId, @accountId, @subaccountId, @distributorId, @groupBrandId, @start,@length, @txtSearch, @order, @sort 
--SELECT * from tbset_user_channel_sstt A
----cross join (
----)
-- where A.userId=@profileId

BEGIN
	DROP TABLE IF EXISTS #temp_ss_tt
	DROP TABLE IF EXISTS #temp_ss_tt_rc
	DROP TABLE IF EXISTS #temp_ss_tt_dc
	DROP TABLE IF EXISTS #temp_master
	DROP TABLE IF EXISTS #temp_master_non_cosmo
	DROP TABLE IF EXISTS #temp_activity
	DROP TABLE IF EXISTS #temp_ss_tt_cosmo
	DROP TABLE IF EXISTS #temp_ss_tt_non_cosmo

	DROP TABLE IF EXISTS #temp_master_non_cosmoDC
	DROP TABLE IF EXISTS #temp_ss_tt_non_cosmoDC

	SET @order = IIF(ISNULL(@order,'')='','period, category, subcategory, channel, subChannel, account, subAccount, distributor, groupbrand, subActivityType, activity, subActivity, budgetName', @order)
	SET @sort = IIF(ISNULL(@sort,'')='','asc', @sort)

	DECLARE 
		@categoryId1 ArrayIntType 
		,@subcategoryId1 ArrayIntType 
		,@subActivityTypeId1 ArrayIntType 
		,@activityId1 ArrayIntType 
		,@subActivityId1 ArrayIntType 
		,@channelId1 ArrayIntType 
		,@subChannelId1 ArrayIntType 
		,@accountId1 ArrayIntType 
		,@subAccountId1 ArrayIntType 
		,@distributorId1 ArrayIntType 
		,@groupBrandId1 ArrayIntType 

	    ,@recordsFiltered int	
		,@SQL NVARCHAR(MAX)


		INSERT INTO @categoryId1 (keyid)		SELECT keyid from @categoryId
		INSERT INTO @subcategoryId1 (keyid)		SELECT keyid from @subcategoryId
		INSERT INTO @subActivityTypeId1 (keyid) SELECT keyid from @subActivityTypeId
		INSERT INTO @activityId1 (keyid)		SELECT keyid from @activityId
		INSERT INTO @subActivityId1 (keyid)		SELECT keyid from @subActivityId
		INSERT INTO @channelId1 (keyid)			SELECT keyid from @channelId
		INSERT INTO @subChannelId1 (keyid)		SELECT keyid from @subChannelId
		INSERT INTO @accountId1 (keyid)			SELECT keyid from @accountId
		INSERT INTO @subAccountId1 (keyid)		SELECT keyid from @subAccountId
		INSERT INTO @distributorId1 (keyid)		SELECT keyid from @distributorId
		INSERT INTO @groupBrandId1 (keyid)		SELECT keyid from @groupBrandId

	IF (SELECT COUNT(*) FROM @categoryid1 where isnull(keyid,0)<>0)=0 
		BEGIN
			DELETE FROM @categoryId1
			INSERT INTO @categoryId1			(keyid) SELECT DISTINCT categoryId FROM vw_activity_active--tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subcategoryid1 where isnull(keyid,0)<>0)=0 
		BEGIN
			DELETE FROM @subcategoryId1
			INSERT INTO @subcategoryId1			(keyid) SELECT DISTINCT subcategoryId FROM vw_activity_active--tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subActivityTypeId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @subActivityTypeId1
			INSERT INTO @subActivityTypeId1	(keyid) SELECT DISTINCT subactivitytypeid FROM vw_activity_active--tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @activityId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @activityId1
			INSERT INTO @activityId1			(keyid) SELECT DISTINCT activityid FROM vw_activity_active--tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subActivityId1 where isnull(keyid,0)<>0)=0
		BEGIN
			DELETE FROM @subActivityId1
			INSERT INTO @subActivityId1		(keyid) SELECT DISTINCT subactivityid FROM vw_activity_active--tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @channelId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @channelId1
			INSERT INTO @channelId1			(keyid) SELECT DISTINCT channelid FROM vw_account --tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subChannelId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @subChannelId1
			INSERT INTO @subChannelId1		(keyid) SELECT DISTINCT subchannelid FROM vw_account --tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @accountId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @accountId1
			INSERT INTO @accountId1			(keyid) SELECT DISTINCT accountid FROM vw_account --tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subaccountId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @subAccountId1
			INSERT INTO @subaccountId1		(keyid) SELECT DISTINCT subaccountid FROM vw_account --tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @distributorId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @distributorId1
			INSERT INTO @distributorId1		(keyid) SELECT DISTINCT id distributorId FROM tbmst_distributor --tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @groupBrandId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @groupBrandId1
			INSERT INTO @groupBrandId1		(keyid) SELECT DISTINCT id groupbrandid FROM tbmst_brand_group --tbtrx_ss_tt
		END
	
	/***************************
		RC
	****************************/
	/* Cosmo */
	SELECT DISTINCT
		@period period
		, vaa.categoryId
		, vaa.categoryDesc category
		, vaa.subCategoryId
		, vaa.subCategoryDesc subCategory
		, va.channelId
		, va.channelDesc channel
		, va.subChannelId 
		, va.subChannelDesc subChannel
		, va.accountId
		, va.accountDesc account
		, va.subAccountId
		, va.subAccountDesc subAccount
		, d.id distributorId
		, d.LongDesc distributor
		, d.ShortDesc distributorShortDesc
		, bg.id groupBrandId
		, bg.LongDesc groupBrand
		, vaa.subActivityTypeId
		, vaa.subActivityTypeDesc subActivityType
		, vaa.activityId
		, vaa.activityDesc activity
		, 0 subActivityId
		, '' subActivity
	INTO #temp_master
	FROM (
		SELECT d.* FROM tbmst_distributor d
		INNER JOIN @distributorId1 di ON d.id = di.keyid AND isnull(d.isdeleted, 0) = 0
	) d 
	CROSS JOIN (
		SELECT bg.* FROM tbmst_brand_group bg
		INNER JOIN @groupBrandId1 bgi ON bg.id = bgi.keyid AND isnull(bg.IsDeleted, 0) = 0
	) bg
	CROSS JOIN (
		SELECT DISTINCT vaa.CategoryId, vaa.categoryDesc
			, vaa.subCategoryId, vaa.subCategoryDesc
			, vaa.activityId, vaa.activityDesc
			, 0 subActivityId, '' subActivityDesc
			--, vaa.subActivityId, vaa.subActivityDesc
			, vaa.subActivityTypeId, vaa.subActivityTypeDesc
		FROM vw_activity_active vaa
		INNER JOIN tbmst_category mc ON vaa.categoryId = mc.id AND mc.shortDesc <> 'DC'
			AND  vaa.subActivityTypeDesc = 'Contractual' 
			--AND (vaa.activityDesc = 'Trading Term - Consumer Promo' OR vaa.activityDesc = 'Trading Term - Promo Fund') 
		--INNER JOIN tbmst_main_activity_dtl mad ON vaa.subActivityId = mad.subActivityId 		
		--INNER JOIN tbmst_main_activity ma ON mad.mainActivityId = ma.id
		INNER JOIN @categoryId1	ci ON vaa.categoryId = ci.keyid
		INNER JOIN @subcategoryId1 sc1 ON vaa.subCategoryId = sc1.keyid
		INNER JOIN @activityId1 ai ON vaa.activityId = ai.keyid
		--INNER JOIN @subActivityId1 sai ON vaa.subActivityId = sai.keyid
		INNER JOIN @subActivityTypeId1 sati ON vaa.subActivityTypeId = sati.keyid
	) vaa
	CROSS JOIN (
		SELECT va.*
		FROM vw_account va
		INNER JOIN tbset_user_channel_sstt ucs ON va.channelId = ucs.channelId AND ucs.userid = @profileId
		INNER JOIN @channelId1 ci ON va.channelId = ci.keyid
		INNER JOIN @subChannelId1 sci ON va.subChannelId = sci.keyid
		INNER JOIN @accountId1 ai ON va.accountId = ai.keyid
		INNER JOIN @subaccountId1 sai ON va.subAccountId = sai.keyid
	) va

	SELECT 
		@period period
		, m.categoryId
		, m.category
		, m.subCategoryId
		, m.subCategory
		, m.channelId
		, m.channel
		, m.subChannelId 
		, m.subChannel
		, m.accountId
		, m.account
		, m.subAccountId
		, m.subAccount
		, m.distributorId
		, m.distributor
		, m.distributorShortDesc
		, m.groupBrandId
		, m.groupBrand
		, m.subActivityTypeId
		, m.subActivityType
		, m.activityId
		, m.activity
		, 0 subActivityId
		, '' subActivity
		, CONCAT(m.period,' ', m.groupBrand, ' - ', m.distributorShortDesc, ' - ', m.subAccount, ' ', m.activity) budgetName
		,IIF(ISNULL(tt.tt,0)=0, 0, tt.tt) tt
		,isnull(tt.ssValue, 0) ssValue
		, isnull(tt.budgetAmount, 0) budgetAmount
		, tt.Id,
		IIF(tt.ModifiedOn IS NULL, tt.createdOn, tt.modifiedOn) lastUpdatedOn, IIF(tt.ModifiedOn IS NULL, tt.createdBy, tt.modifiedBy) lastUpdatedBy, IIF(tt.ModifiedOn IS NULL, tt.createdEmail, tt.modifiedEmail) lastUpdatedByEmail
	INTO #temp_ss_tt_cosmo
	FROM #temp_master m
	INNER JOIN tbtrx_ss_tt tt ON tt.period = m.period
		AND m.distributorId = tt.distributorId
		AND m.groupBrandId = tt.groupBrandId
		AND m.activityId = tt.activityId
		AND tt.subactivityid = 0
		AND m.ChannelId = tt.channelid AND m.SubChannelId = tt.subchannelid AND m.AccountId = tt.accountid AND m.subAccountId = tt.subAccountId
		AND tt.period = @period



	/* Non Cosmo */
	SELECT distinct
		@period period
		, vaa.categoryId
		, vaa.categoryDesc category
		, vaa.subCategoryId
		, vaa.subCategoryDesc subCategory
		, va.channelId
		, va.channelDesc channel
		, va.subChannelId 
		, va.subChannelDesc subChannel
		, va.accountId
		, va.accountDesc account
		, va.subAccountId
		, va.subAccountDesc subAccount
		, d.id distributorId
		, d.LongDesc distributor
		, d.ShortDesc distributorShortDesc
		, bg.id groupBrandId
		, bg.LongDesc groupBrand
		, vaa.subActivityTypeId
		, vaa.subActivityTypeDesc subActivityType
		, vaa.activityId
		, vaa.activityDesc activity
		, vaa.subActivityId
		, vaa.subActivityDesc subActivity
	INTO #temp_master_non_cosmo
	FROM (
		SELECT d.* FROM tbmst_distributor d
		INNER JOIN @distributorId1 di ON d.id = di.keyid AND isnull(d.isdeleted, 0) = 0
	) d 
	CROSS JOIN (
		SELECT bg.* FROM tbmst_brand_group bg
		INNER JOIN @groupBrandId1 bgi ON bg.id = bgi.keyid AND isnull(bg.IsDeleted, 0) = 0
	) bg
	CROSS JOIN (
		SELECT DISTINCT vaa.categoryId, vaa.categoryDesc
			, vaa.subCategoryId, vaa.subCategoryDesc
			, vaa.activityId, vaa.activityDesc
			, vaa.subActivityId, vaa.subActivityDesc
			, vaa.subActivityTypeId, vaa.subActivityTypeDesc
		FROM vw_activity_active vaa
		INNER JOIN tbmst_category mc ON vaa.categoryId = mc.id AND mc.shortDesc <> 'DC'
			AND  vaa.subActivityTypeDesc = 'Contractual' 
			--AND vaa.activityDesc <> 'Trading Term - Consumer Promo' 
		--INNER JOIN tbmst_main_activity_dtl mad ON vaa.subActivityId = mad.subActivityId 		
		--INNER JOIN tbmst_main_activity ma ON mad.mainActivityId = ma.id
		INNER JOIN @categoryId1	ci ON vaa.categoryId = ci.keyid
		INNER JOIN @subcategoryId1 sc1 ON vaa.subCategoryId = sc1.keyid
		--INNER JOIN @activityId1 ai ON vaa.activityId = ai.keyid
		--INNER JOIN @subActivityId1 sai ON vaa.subActivityId = sai.keyid
		--INNER JOIN @subActivityTypeId1 sati ON vaa.subActivityTypeId = sati.keyid
	) vaa
	CROSS JOIN (
		SELECT va.*
		FROM vw_account va
		INNER JOIN tbset_user_channel_sstt ucs ON va.channelId = ucs.channelId AND ucs.userid = @profileId
		INNER JOIN @channelId1 ci ON va.channelId = ci.keyid
		INNER JOIN @subChannelId1 sci ON va.subChannelId = sci.keyid
		INNER JOIN @accountId1 ai ON va.accountId = ai.keyid
		INNER JOIN @subaccountId1 sai ON va.subAccountId = sai.keyid
	) va

--SELECT count(*) FROM #temp_master_non_cosmo


	SELECT 
		@period period
		, m.categoryId
		, m.category
		, m.subCategoryId
		, m.subCategory
		, m.channelId
		, m.channel
		, m.subChannelId 
		, m.subChannel
		, m.accountId
		, m.account
		, m.subAccountId
		, m.subAccount
		, m.distributorId
		, m.distributor
		, m.distributorShortDesc
		, m.groupBrandId
		, m.groupBrand
		, m.subActivityTypeId
		, m.subActivityType
		, m.activityId
		, m.activity
		, m.subActivityId
		, m.subActivity
		, CONCAT(m.period,' ', m.groupBrand, ' - ', m.distributorShortDesc, ' - ', m.subAccount, ' ', m.activity) budgetName
		,IIF(ISNULL(tt.tt,0)=0, 0, tt.tt) tt
		,isnull(tt.ssValue, 0) ssValue
		, isnull(tt.budgetAmount, 0) budgetAmount
		, tt.Id,
		IIF(tt.ModifiedOn IS NULL, tt.createdOn, tt.modifiedOn) lastUpdatedOn, IIF(tt.ModifiedOn IS NULL, tt.createdBy, tt.modifiedBy) lastUpdatedBy, IIF(tt.ModifiedOn IS NULL, tt.createdEmail, tt.modifiedEmail) lastUpdatedByEmail
	INTO #temp_ss_tt_non_cosmo
	FROM #temp_master_non_cosmo m
	LEFT JOIN tbtrx_ss_tt tt ON tt.period = m.period
		AND m.distributorId = tt.distributorId
		AND m.groupBrandId = tt.groupBrandId
		AND m.subActivityId = tt.subActivityId
		AND m.ChannelId = tt.channelid AND m.SubChannelId = tt.subchannelid AND m.AccountId = tt.accountid AND m.subAccountId = tt.subAccountId
		AND tt.period = @period


	/***************************
		DC
	****************************/
	SELECT 
		@period period
		, vaa.categoryId
		, vaa.categoryDesc category
		, vaa.subCategoryId
		, vaa.subCategoryDesc subCategory
		, va.channelId
		, va.channelDesc channel
		, 0 subChannelId 
		, '' subChannel
		, 0 accountId
		, '' account
		, 0 subAccountId
		, '' subAccount
		, d.id distributorId
		, d.LongDesc distributor
		, d.ShortDesc distributorShortDesc
		, bg.id groupBrandId
		, bg.LongDesc groupBrand
		, vaa.subActivityTypeId
		, vaa.subActivityTypeDesc subActivityType
		, vaa.activityId
		, vaa.activityDesc activity
		, vaa.subActivityId
		, vaa.subActivityDesc subActivity
	INTO #temp_master_non_cosmoDC
	FROM (
		SELECT d.* FROM tbmst_distributor d
		INNER JOIN @distributorId1 di ON d.id = di.keyid AND isnull(d.isdeleted, 0) = 0
	) d 
	CROSS JOIN (
		SELECT bg.* FROM tbmst_brand_group bg
		INNER JOIN @groupBrandId1 bgi ON bg.id = bgi.keyid AND isnull(bg.IsDeleted, 0) = 0
	) bg
	CROSS JOIN (
		SELECT DISTINCT vaa.categoryId, vaa.categoryDesc
			, vaa.subCategoryId, vaa.subCategoryDesc
			, vaa.activityId, vaa.activityDesc
			, vaa.subActivityId, vaa.subActivityDesc
			, vaa.subActivityTypeId, vaa.subActivityTypeDesc
		FROM vw_activity_active vaa
		INNER JOIN tbmst_category mc ON vaa.categoryId = mc.id AND mc.shortDesc = 'DC' 
		INNER JOIN @categoryId1	ci ON vaa.categoryId = ci.keyid
		INNER JOIN @subcategoryId1 sc1 ON vaa.subCategoryId = sc1.keyid
		INNER JOIN @activityId1 ai ON vaa.activityId = ai.keyid
		INNER JOIN @subActivityId1 sai ON vaa.subActivityId = sai.keyid
		INNER JOIN @subActivityTypeId1 sati ON vaa.subActivityTypeId = sati.keyid
		--INNER JOIN tbmst_main_activity_dtl msa ON vaa.subActivityId = msa.subactivityid
		--INNER JOIN tbmst_main_activity mma ON msa.mainactivityid = mma.id --AND mma.longDesc = 'Running Rate'
	) vaa
	CROSS JOIN (
		SELECT mc.id channelId, mc.longDesc channelDesc
		FROM tbmst_channel mc
		INNER JOIN tbset_user_channel_sstt ucs ON mc.id = ucs.channelId AND ucs.userid = @profileId
		INNER JOIN @channelId1 ci ON mc.id = ci.keyid
		WHERE mc.LongDesc='All Channel'
	) va

	SELECT 
		@period period
		, m.categoryId
		, m.category
		, m.subCategoryId
		, m.subCategory
		, m.channelId
		, m.channel
		, m.subChannelId 
		, m.subChannel
		, m.accountId
		, m.account
		, m.subAccountId
		, m.subAccount
		, m.distributorId
		, m.distributor
		, m.distributorShortDesc
		, m.groupBrandId
		, m.groupBrand
		, m.subActivityTypeId
		, m.subActivityType
		, m.activityId
		, m.activity
		, m.subActivityId
		, m.subActivity
		, CONCAT(m.period,' ', m.groupBrand, ' - ', m.distributorShortDesc, ' - ', m.subCategory, ' ', m.subActivityType) budgetName
		,IIF(ISNULL(tt.tt,0)=0, 0, tt.tt) tt
		,isnull(tt.ssValue, 0) ssValue
		, isnull(tt.budgetAmount, 0) budgetAmount
		, tt.Id,
		IIF(tt.ModifiedOn IS NULL, tt.createdOn, tt.modifiedOn) lastUpdatedOn, IIF(tt.ModifiedOn IS NULL, tt.createdBy, tt.modifiedBy) lastUpdatedBy, IIF(tt.ModifiedOn IS NULL, tt.createdEmail, tt.modifiedEmail) lastUpdatedByEmail
	INTO #temp_ss_tt_non_cosmoDC
	FROM #temp_master_non_cosmoDC m
	LEFT JOIN tbtrx_ss_tt tt ON tt.period = m.period
		AND m.distributorId = tt.distributorId
		AND m.groupBrandId = tt.groupBrandId
		AND m.subActivityId = tt.subActivityId
		AND m.channelId = tt.channelId
		AND tt.period = @period

	SELECT A.* INTO #temp_ss_tt FROM (
		SELECT * FROM #temp_ss_tt_cosmo --ORDER BY period, category, subcategory, channel, subChannel, account, subAccount, distributor, groupbrand, subActivityType, activity, subActivity, budgetName
		UNION ALL
		SELECT * FROM #temp_ss_tt_non_cosmo
		UNION ALL
		SELECT * FROM #temp_ss_tt_non_cosmoDC
	)A
	INNER JOIN tbset_map_subcategory_channel B ON A.SubCategoryId = B.subCategoryId AND A.ChannelId = B.channelId
	INNER JOIN tbset_map_channel_brand_distributor c ON B.channelId = C.channelId AND A.groupBrandId = C.brandId AND A.distributorId = c.distributorId

	DECLARE @totRecord INT
		,@ErrorMessage NVARCHAR(4000)
	SELECT @totRecord = count(*) FROM #temp_ss_tt
	IF @totRecord > 100000
	BEGIN
		SET @ErrorMessage='The number of lines is more than 100.000'
		RAISERROR (@ErrorMessage, -- Message text.
				16, -- Severity.
				1 -- State.
				);

	END

	/**********************
        pagination
	**********************/
    SET @recordsFiltered = (
    	SELECT COUNT(*) FROM #temp_ss_tt
			WHERE 
				(period like '%' + isnull(@txtSearch,'') + '%') OR 
				(category like '%' + isnull(@txtSearch,'') + '%') OR
				(subcategory like '%' + isnull(@txtSearch,'') + '%') OR
				(subActivityType like '%' + isnull(@txtSearch,'') + '%') OR
				(activity like '%' + isnull(@txtSearch,'') + '%') OR
				(subActivity like '%' + isnull(@txtSearch,'') + '%') OR
				(channel like '%' + isnull(@txtSearch,'') + '%') OR
				(subChannel like '%' + isnull(@txtSearch,'') + '%') OR
				(account like '%' + isnull(@txtSearch,'') + '%') OR
				(subAccount like '%' + isnull(@txtSearch,'') + '%') OR
				(distributor like '%' + isnull(@txtSearch,'') + '%') OR
				(groupBrand like '%' + isnull(@txtSearch,'') + '%') OR 
				(budgetname like '%' + isnull(@txtSearch,'') + '%') 
		)

    SELECT COUNT(*) as totalCount, @recordsFiltered as filteredCount FROM #temp_ss_tt

    IF @length = -1
		BEGIN
			IF ISNULL(@txtSearch,'')=''
    			BEGIN
					SET @SQL = '
						SELECT *
						FROM #temp_ss_tt			
						ORDER BY ' + @order + ' ' + @sort

					EXEC sys.sp_executesql @SQL
				END 
					ELSE 
						BEGIN
							SET @SQL = '
								SELECT * 
								FROM #temp_ss_tt
								WHERE 
									(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(category like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subcategory like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
									(activity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(account like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subAccount like ''%' + isnull(@txtSearch,'') + '%'') OR
									(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(budgetname like ''%' + isnull(@txtSearch,'') + '%'') 
								ORDER BY ' + @order + ' ' + @sort
							EXEC sys.sp_executesql @SQL
						END
		END
		    ELSE
				BEGIN
					IF ISNULL(@txtSearch,'')=''
    					BEGIN
							SET @SQL = '
								SELECT * 
								FROM #temp_ss_tt
								ORDER BY ' + @order + ' ' + @sort +' 
								OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
							EXEC sys.sp_executesql @SQL
						END 
							ELSE 
								BEGIN
									SET @SQL = '
										SELECT * 
										FROM #temp_ss_tt
										WHERE 
									(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(category like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subcategory like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
									(activity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(account like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subAccount like ''%' + isnull(@txtSearch,'') + '%'') OR
									(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
									(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(budgetname like ''%' + isnull(@txtSearch,'') + '%'') 
										ORDER BY ' + @order + ' ' + @sort +' 
										OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
									EXEC sys.sp_executesql @SQL
								END	    
				END
	
	select CategoryDesc, SubCategoryDesc, SubActivityTypeDesc, SubActivityDesc, ActivityDesc from vw_activity_active ORDER BY CategoryDesc, SubCategoryDesc, SubActivityTypeDesc, SubActivityDesc, ActivityDesc
	select ChannelDesc, SubChannelDesc, AccountDesc, SubAccountDesc from vw_account ORDER BY ChannelDesc, SubChannelDesc, AccountDesc, SubAccountDesc
	select LongDesc Distributor, ShortDesc DistributorShortDesc from tbmst_distributor where  ISNULL(IsDeleted,0)=0
	select LongDesc Brand from tbmst_brand_group where  ISNULL(IsDeleted,0)=0

	DROP TABLE IF EXISTS #temp_ss_tt
	DROP TABLE IF EXISTS #temp_ss_tt_rc
	DROP TABLE IF EXISTS #temp_ss_tt_dc
	DROP TABLE IF EXISTS #temp_master
	DROP TABLE IF EXISTS #temp_master_non_cosmo
	DROP TABLE IF EXISTS #temp_activity
	DROP TABLE IF EXISTS #temp_ss_tt_cosmo
	DROP TABLE IF EXISTS #temp_ss_tt_non_cosmo

	DROP TABLE IF EXISTS #temp_master_non_cosmoDC
	DROP TABLE IF EXISTS #temp_ss_tt_non_cosmoDC


END

GO
