USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_update_invoice]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dn_update_invoice]
@invoiceid int,
@distributorid int,
@entityid int,
@dpp numeric(19,0),
@ppn numeric(19,0),
@invoiceamt numeric(19,0),
@desc varchar(255),
@userid	varchar(50),
@id ArrayIntType READONLY
,@TaxLevel varchar(100)
,@dnPeriod varchar(4) = ''
,@categoryId int = 0
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
BEGIN TRANSACTION
	declare 
	@distributorshortdesc varchar(50)
	,@entityshortdesc varchar(50)
	,@headerid int
	,@dnPaid int

	select @dnPaid = isnull(count(a.dnid),0)
	from tbtrx_invoice_detail a
	inner join tbtrx_debetnote b on a.dnid=b.id
	where a.ParentId=@invoiceid
	and b.laststatus = 'confirm_paid'
	
	
	if @dnPaid <> 0
	begin
		 RAISERROR ('Can not edit invoice when DN already paid', -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end
	else
	begin
			SET @distributorshortdesc=(SELECT ShortDesc FROM tbmst_distributor where Id=@distributorid)
			SET @entityshortdesc=(SELECT ShortDesc FROM tbmst_principal where Id=@entityid)
			
			declare @createdemail varchar(50)
			SELECT @createdemail=email from tbset_user where id=@userid
		
			
			UPDATE tbtrx_invoice_header
			SET [Desc]=@desc
			,DppAmount=@dpp
			,PPN=@ppn
			,InvoiceAmount=@invoiceamt
			,ModifiedOn=@utcDate123
			,ModifiedBy=@userid
			,TaxLevel = @TaxLevel
			,dnPeriod = @dnPeriod
			,categoryId = @categoryId
			WHERE id=@invoiceid
		
		/***********************************************
		LGP 25062020 => tambahan proses update status dn yg di take out => dikembalikan ke previous status
		************************************************/
		declare 
		@prevstatus varchar(50)
		
		SET @prevstatus=(
			SELECT PrevStatus FROM
			(
				SELECT ParameterValue,
				LAG(parametervalue) OVER(ORDER BY Sequence) PrevStatus
				FROM tbset_general_parameter 
				where ParameterName='DNFLOW' 
			)X WHERE ParameterValue='invoice'
		)
		
		UPDATE a
		SET LastStatus=@prevstatus
		FROM tbtrx_debetnote a
		inner join tbtrx_invoice_detail b on a.Id=b.DnId
		LEFT JOIN @id c on b.DNId=c.keyid
		WHERE ParentId=@invoiceid AND keyid is null
		
		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail, notes)
		SELECT dn.id,@prevstatus,@userid,@utcDate123,dn.dpp, dn.laststatus, @createdemail, 'invoice update - remove from invoice'
		FROM tbtrx_debetnote dn
		inner join tbtrx_invoice_detail b on dn.Id=b.DnId
		LEFT JOIN @id c on b.DNId=c.keyid
		WHERE ParentId=@invoiceid AND keyid is null
		
		
		
		/****************/	
		declare @sysdate datetime
		    set @sysdate= @utcDate123;
		INSERT INTO tbtrx_invoice_detail_deleted(ParentId,DNId,IsCancel,DeletedOn)
			SELECT ParentId,DNId,IsCancel, @sysdate
			FROM tbtrx_invoice_detail where Parentid=@invoiceid
		
			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
			SELECT dn.id,@prevstatus,@userid,@utcDate123,dn.dpp, dn.laststatus, @createdemail
			FROM tbtrx_debetnote dn
		  	INNER JOIN tbtrx_invoice_detail b on dn.id=b.dnid
		  	WHERE id = @invoiceid
		  	AND b.dnid not in ( select keyid from @id)

		DELETE FROM tbtrx_invoice_detail where Parentid=@invoiceid
		
		INSERT INTO tbtrx_invoice_detail(ParentId,DNId,IsCancel)
		select @invoiceid,a.keyid,0 FROM @id a
		left join tbtrx_invoice_detail b on a.keyid=b.dnid
		where b.parentid = @invoiceid or isnull(b.parentid, 0) = 0
		
		UPDATE a
		  SET LastStatus='invoice'
		  FROM tbtrx_debetnote a
		  INNER JOIN @id b on a.id = b.keyid
--		  INNER JOIN tbtrx_invoice_detail b on a.id=b.dnid
--		  WHERE id = @invoiceid
		  
		UPDATE a
		  SET invoice_on=@utcDate123
		  ,invoice_by=@userid
		  FROM tbtrx_debetnote_his a
		  INNER JOIN @id b on a.dnid = b.keyid
--		  INNER JOIN tbtrx_invoice_detail b on a.id=b.dnid
--		  WHERE id = @invoiceid
		    
		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail, notes)
			SELECT dn.id,'invoice',@userid,@utcDate123,dn.dpp, dn.laststatus, @createdemail, 'invoice update'
			FROM tbtrx_debetnote dn
			INNER JOIN @id b on dn.id = b.keyid
--		  	INNER JOIN tbtrx_invoice_detail b on dn.id=b.dnid
--		  	WHERE id = @invoiceid
		
		/*RECALC OVER BUDGET**************************************/
		DECLARE @promoid int
		DECLARE db_cursor CURSOR FOR 
		SELECT distinct promoid 
		FROM @id a inner join tbtrx_debetnote b on a.keyid=b.Id
		WHERE isnull(b.PromoId,0)<>0 
		
		OPEN db_cursor  
		FETCH NEXT FROM db_cursor INTO @promoid  
		
		WHILE @@FETCH_STATUS = 0  
		BEGIN  
			exec ip_dn_overbudget_by_prommoid @promoid
		
		      FETCH NEXT FROM db_cursor INTO @promoid 
		END 
		
		CLOSE db_cursor  
		DEALLOCATE db_cursor
		/**************************************RECALC OVER BUDGET*/
		  	
		SELECT Id,RefId from tbtrx_invoice_header where Id=@invoiceid

		commit
	end
end try
begin catch
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

end catch
GO
