USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_retrieve_dashboard]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_retrieve_dashboard] --'2020','cmmmka',1,'5','0',19
@periode varchar(4),
@userid varchar(50),
@entity int,
@channel varchar(10),
@account varchar(10),
@subcategory int

as

--DECLARE 
--@userid varchar(50),
--@entity int,
--@channel varchar(10),
--@account varchar(10),
--@subcategory int

--SET @userid='cmmmka'
--SET @entity=1
--SET @channel='5'
--SET @account='5'
--SET @subcategory=19



--SELECT 
--b.ChannelId
--,c.LongDesc ChannelDesc
--,acc.AccountId
--,macc.LongDesc AccountDesc
--from tbtrx_allocation_useraccess a
--INNER JOIN tbtrx_allocation_channel b on a.AllocationId=b.Allocationid
--INNER JOIN tbmst_channel c on b.ChannelId=c.Id
--INNER JOIN tbtrx_allocation_account acc on a.AllocationId=acc.Allocationid
--INNER JOIN tbmst_account macc on acc.AccountId=macc.Id
--where userid=@userid
--GROUP BY b.ChannelId,c.LongDesc 
--,acc.AccountId
--,macc.LongDesc

--SELECT Id SubCategoryId,LongDesc SubCategoryDesc from tbmst_subcategory
SELECT 
CategoryDesc SubCategory
,CAST(BudgetDeployed AS VARCHAR) + ' IDR' budget_deployed 
,CAST(PromoCreated AS VARCHAR) + ' IDR' promo_created
,ROUND((PromoCreated / cast(BudgetDeployed as decimal)) * 100,2) promo_created_pct
,ROUND(((BudgetDeployed-PromoCreated) / cast(BudgetDeployed as decimal(18,2))) * 100,4) promo_not_created_yet_pct
,cast((DNClaimed) as varchar) + ' IDR' dn_claim
,CAST((DNPaid) AS VARCHAR) + ' IDR' dn_paid
FROM
(
SELECT 
a.CategoryDesc
,sum(isnull(BudgetAmount,0)) BudgetDeployed 
,sum(isnull(investment,0)) PromoCreated
--,(sum(isnull(BudgetAmount,0))-sum(isnull(investment,0))) as PromoNotCreatedYet
,sum(isnull(TotalClaim,0)) DNClaimed
,sum(isnull(TotalPaid,0)) DNPaid
,(sum(isnull(investment,0))/sum(isnull(BudgetAmount,0))) * 100 as [Usage]
FROM vw_dashboard a
where a.entityid=@entity
AND IIF(@subcategory=0,'',SubCategoryId) =IIF(@subcategory=0,'',@subcategory)
AND IIF(@channel='0','',a.ChannelId) =IIF(@channel='0','',@channel)
group by a.CategoryDesc
) s

--SELECT NumOfPromoCreated FROM
--(
--	SELECT 
--	PromoInitiator
--	,PromoId
--	,COUNT(PromoId) over() NumOfPromoCreated
--	from vw_dashboard a
--	where a.entityid=@entity
--	AND IIF(@subcategory=0,'',SubCategoryId) =IIF(@subcategory=0,'',@subcategory)
--	AND IIF(@channel='0','',a.ChannelId) =IIF(@channel='0','',@channel)
--	AND PromoId is not null
--) promo group by NumOfPromoCreated

--SELECT 
--COUNT(*) num_of_promo_created
--,SUM(IIF(Submission < 57,1,0)) AS late_promo
--,ROUND((SUM(IIF(Submission < 57,1,0)) / CAST(COUNT(PromoId) AS float)) * 100,2) late_promo_pct
--,SUM(IIF(Submission >= 57,1,0)) AS ontime_promo
--,ROUND((SUM(IIF(Submission >= 57,1,0)) / CAST(COUNT(PromoId) AS float)) * 100,2) ontime_promo_pct
--FROM
--(
--	SELECT 
--	PromoInitiator
--	,PromoId
--	,convert(varchar(10),StartPromo,120) StartPromo
--	,convert(varchar(10),PromoCreationDate,120) PromoCreationDate
--	,StatusApprovalCode
--	,datediff(d,PromoCreationDate,StartPromo) Submission
--	from vw_dashboard a
--	where a.entityid=@entity
--	AND IIF(@subcategory=0,'',SubCategoryId) =IIF(@subcategory=0,'',@subcategory)
--	AND IIF(@channel='0','',a.ChannelId) =IIF(@channel='0','',@channel)
--	AND PromoId is not null
--) KPI




GO
