USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_budget_approval_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_budget_approval_list] 
	@Period int, 
	@ChannelId ArrayIntType Readonly, 
	@groupBrand ArrayIntType Readonly,
	@approvalStatus CharAttributeType Readonly,
	@5bio INT = NULL,
	@month ArrayIntType Readonly,
	@categoryId int = 0

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255)
	,@sort varchar(4)

AS

/*TEST*/
	--DECLARE
	--	@Period int, 
	--	@ChannelId ArrayIntType , 
	--	@groupBrand ArrayIntType ,
	--	@approvalStatus CharAttributeType,
	--	@5bio INT = NULL ,
	--	@month ArrayIntType,
	--	@categoryId INT

	--	,@start int
	--	,@length int
	--	,@txtSearch varchar(255)
	--	,@order varchar(255)
	--	,@sort varchar(4)



	--	SET @Period = 2025 
	--	INSERT INTO @ChannelId		values(0)	--select id from tbmst_channel where ISNULL(IsDelete,0)=0
	--	INSERT INTO @groupBrand		values(0)	--select id from tbmst_brand_group where ISNULL(IsDeleted,0)=0
	--	INSERT INTO @approvalStatus values('TP01'),('TP02'),('TP03'),('TP04')
	--	SET @5bio = NULL
	--	--INSERT INTO @month VALUES (2)
	--	SET @categoryId = 0
	--	SET @start = 0
	--	SET @length = 10
	--	SET	@txtSearch = '20241128190415'
	--	SET @order = null
	--	SET @sort = null


	--	--EXEC [ip_promo_budget_approval_list]
	--	--		@Period, 
	--	--		@ChannelId, 
	--	--		@groupBrand,
	--	--		@approvalStatus,
	--	--		@5bio,
	--	--		@month,
	--	--		@start,
	--	--		@length,
	--	--		@txtSearch,
	--	--		@order,
	--	--		@sort
		
BEGIN
	SET @order = IIF(ISNULL(@order,'')='','promoId', @order)
	SET @sort = IIF(ISNULL(@sort,'')='','ASC', @sort)
	SET @start = @start * @length
	SET @categoryId=ISNULL(@categoryId,0)

	--IF ISNULL(@categoryId,0)=0
	--BEGIN
	--	SET @categoryId = (SELECT id from tbmst_category where ShortDesc='RC')
	--END


	DECLARE
	@pChannelId ArrayIntType , 
	@psubactivityTypeId ArrayIntType ,
	@pgroupBrand ArrayIntType ,
	@papprovalStatus CharAttributeType,
	@monthFilter ArrayIntType,
	@monthCek int,
	@cnt int,
	@recordsFiltered int;

	SELECT TOP 1 @monthCek = keyid FROM @month

	SELECT @cnt=COUNT(*) FROM @month
	IF @cnt = 0 OR @monthCek = 0
	BEGIN
		INSERT INTO @monthFilter VALUES (1), (2), (3), (4), (5), (6), (7), (8), (9), (10), (11), (12)		
	END
	ELSE
	BEGIN
		INSERT INTO @monthFilter SELECT keyid FROM @month
	END

	SELECT @cnt=COUNT(*) FROM @ChannelId

	IF @cnt=0 
		BEGIN
			INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
		END
	ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @ChannelId) = 0
		BEGIN
			INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
		END
	ELSE
		BEGIN
			INSERT INTO @pChannelId (keyid) select keyid from @ChannelId 
		END

	SELECT @cnt=COUNT(*) FROM @groupBrand

	IF @cnt=0 
		BEGIN
			INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
		END
	ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @groupBrand) = 0
		BEGIN
			INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
		END
	ELSE
		BEGIN
			INSERT INTO @pgroupBrand (keyid) select keyid from @groupBrand
		END
		
	SELECT @cnt=COUNT(*) FROM @approvalStatus

	IF @cnt=0 
		BEGIN
			INSERT INTO @papprovalStatus (id) select StatusCode from tbmst_master_status where StatusType='TPD'
		END
	ELSE IF @cnt=1 AND (SELECT TOP 1 id FROM @approvalStatus) = '0'
		BEGIN
			INSERT INTO @papprovalStatus (id) select StatusCode from tbmst_master_status where StatusType='TPD'
		END
	ELSE
		BEGIN
			INSERT INTO @papprovalStatus (id) select id from @approvalStatus
		END

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail

	DECLARE @tmpPromoId TABLE (
		promoId int,
		statusCode varchar(50), 
		statusDesc varchar(50),
		startPromo datetime)
	
	IF @5bio IS NULL
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id, maps.StatusCode, maps.StatusDesc, pr.StartPromo from tbtrx_promo pr
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId AND Period = @Period
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode AND maps.StatusType='TPD'
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId=gb.keyid
				WHERE MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) AND ISNULL(pr.iscancel,0)=0
				AND IIF(@categoryId=0, 0, pr.categoryId) = IIF(@categoryId=0, 0, @categoryId)
		END
	ELSE IF @5bio = 0
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id, maps.StatusCode, maps.StatusDesc, pr.StartPromo from tbtrx_promo pr
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId AND Period = @Period
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode AND maps.StatusType='TPD'
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId=gb.keyid
				WHERE pr.investment <= 5000000000
				AND MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) AND ISNULL(pr.iscancel,0)=0
				AND IIF(@categoryId=0, 0, pr.categoryId) = IIF(@categoryId=0, 0, @categoryId)
		END
	ELSE IF @5bio = 1
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id, maps.StatusCode, maps.StatusDesc, pr.StartPromo from tbtrx_promo pr
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId AND Period = @Period
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode AND maps.StatusType='TPD'
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId=gb.keyid
				WHERE pr.investment > 5000000000
				AND MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) AND ISNULL(pr.iscancel,0)=0
				AND IIF(@categoryId=0, 0, pr.categoryId) = IIF(@categoryId=0, 0, @categoryId)
		END

	SELECT
	pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prc.Cost) totInvestment 
	--pr.period, pr.id, pr.RefId, prch.ChannelId, mc.LongDesc, pr.SubActivityId, msa.LongDesc, prc.Cost 
	INTO #tempResultSum
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId 
	INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
	INNER JOIN tbmst_channel mc on prch.ChannelId = mc.Id
	INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
	INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
	GROUP BY pr.period, prch.channelId, mc.LongDesc , msa.subActivityTypeId, msat.LongDesc 

	SELECT
	pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
	, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
	, prcha.channelId, mcha.LongDesc channel, pracc.accountId, macc.LongDesc account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
	, IIF(prcal.Cost<=5000000000, 'No', 'Yes') investment5bio, mbgr.LongDesc brand
	, IIF(msat.LongDesc = 'Contractual', 'Trading Term'
		, IIF(msat.LongDesc = 'Non Contractual', 'Adhoc'
		, IIF(mmac.LongDesc = 'Running Rate', 'Trading Term'
		, IIF(mmac.LongDesc = 'Non Running Rate - Fix Value', 'Trading Term'
		,'')))
		) tradingTermAdhoc
	--, IIF(msat.LongDesc = 'Contractual', 'Trading Term'
	--	, IIF(msat.LongDesc = 'Non Contractual', 'Adhoc'
	--	,'')
	--	) tradingTermAdhoc
	, 0 crMechanism, DATENAME(month, pr.startpromo) monthStart, DATENAME(month, pr.endpromo) monthEnd, '' forRevision
	, tpr.statusCode, tpr.statusDesc
	, msacc.LongDesc subAccount
	, prbs.approvalRequestOn, prbs.batchId
	INTO #tempResultDetail
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId 
	INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
	INNER JOIN tbtrx_promo_budget_status prbs ON pr.id = prbs.PromoId
	INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
	INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
	INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
	LEFT JOIN tbmst_main_activity_dtl mmacd ON msac.id=mmacd.subactivityid
	LEFT JOIN tbmst_main_activity mmac ON mmacd.mainactivityid=mmac.id
	INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
	INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
	INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
	INNER JOIN tbmst_brand_group mbgr ON pr.groupbrandid = mbgr.id
	LEFT JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
	LEFT JOIN tbmst_account macc ON pracc.AccountId = macc.Id
	LEFT JOIN tbtrx_promo_subaccount prsacc ON pr.id = prsacc.PromoId
	LEFT JOIN tbmst_subaccount msacc ON prsacc.SubAccountId = msacc.Id

	SELECT * FROM #tempResultSum
	--SELECT * FROM #tempResultDetail

	/**********************
	    start pagination
    **********************/
		DECLARE @SQL NVARCHAR(MAX)
        IF @length = -1
			BEGIN
                IF @txtSearch is null
				BEGIN
					SET @SQL = '
						SELECT * FROM #tempResultDetail			
						ORDER BY ' + @order + ' ' + @sort

					EXEC sys.sp_executesql @SQL
                END
                ELSE
                BEGIN
					SET @SQL = '
						SELECT * FROM #tempResultDetail
						WHERE 
							(ISNULL(promoId,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR 
							(ISNULL(Entity,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR 
							(ISNULL(Distributor,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(Activity,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(activityName,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(channel,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(account,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(brand,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(tradingTermAdhoc,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(subAccount,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(batchid,'''') like ''%' + isnull(@txtSearch,'') + '%'') 
						ORDER BY ' + @order + ' ' + @sort

					EXEC sys.sp_executesql @SQL
                END
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
					SET @SQL = '
						SELECT * FROM #tempResultDetail
						ORDER BY ' + @order + ' ' + @sort +' 
						OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
					EXEC sys.sp_executesql @SQL
                END
                ELSE
                BEGIN
					SET @SQL = '
						SELECT * FROM #tempResultDetail
						WHERE 
							(ISNULL(promoId,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR 
							(ISNULL(Entity,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR 
							(ISNULL(Distributor,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(Activity,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(activityName,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(channel,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(account,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(brand,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(tradingTermAdhoc,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(subAccount,'''') like ''%' + isnull(@txtSearch,'') + '%'') OR
							(ISNULL(batchid,'''') like ''%' + isnull(@txtSearch,'') + '%'') 
						ORDER BY ' + @order + ' ' + @sort +' 
						OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'

					EXEC sys.sp_executesql @SQL
                END
			END

        SET @recordsFiltered = (SELECT ISNULL(count( promoId),0) FROM #tempResultDetail
        WHERE
            (ISNULL(Entity,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(Distributor,'') like '%' + isnull(@txtSearch, '') + '%') OR			
			(ISNULL(Activity,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(activityName,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(channel,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(account,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(brand,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(tradingTermAdhoc,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(subAccount,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(BatchId,'') like '%' + isnull(@txtSearch, '') + '%') 
        )

        SELECT ISNULL(count(promoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #tempResultDetail

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail

--DUMMY
--SUMM
--SELECT
--	2025 period, 0 channelId, 'MMKA' channel, 2 subActivityTypeId, 'CONTRACTUAL' subActivityType, 12345 promoIdTotalCount, 123456789012345 BudgetAmount 
----DETAILS
--SELECT
--	2025 Period, 'SGM00001/AL25/RC' promoId, 2 entityId, 'Sari Husada Generasi Mahardika' Entity, 2 distributorId, 'Tigaraksa' distributor
--	, 1 activityId, 'Trading Term - Consumer Promo' activity, 'Promo 2025' activityName
--	, 6 channelId, 'MMKA' channel, 6 accountId, 'ALFAMART' account, '2025-01-01' promoStart, '2025-12-31' promoEnd, 1234567890 Investment

END
GO
