

/****** Object:  StoredProcedure [dbo].[ip_suratpengantar_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_suratpengantar_list] --1
@senddate varchar(10),
@userid varchar(50)
as

begin

DECLARE @profitcenter varchar(10)
SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

IF @profitcenter='1100'
BEGIN
	select a.Id,
	a.RefId,
	a.DistributorId,
	b.LongDesc DistributorDesc,
	b.[Address]
	,convert(varchar(10),a.CreateOn,120) CreateOn
	,iif(d.PromoId=0,'DN Manual',f.RefId) PromoNumber
	,d.RefId DNNumber
	,d.MemDocNo
	,e.LongDesc AccountDesc
	,d.ActivityDesc
	,d.TotalClaim
	from tbtrx_debetnote_sp_header a
	inner join tbmst_distributor b on a.DistributorId=b.id
	inner join tbtrx_debetnote_sp_detail c on a.Id=c.parentid
	inner join tbtrx_debetnote d on c.DnId=d.Id
	LEFT join tbmst_subaccount e on d.AccountId=e.Id
	left join tbtrx_promo f on d.PromoId=f.Id
	where convert(varchar(10),a.CreateOn,120)=@senddate
    and isnull(c.IsCancel, 0) = 0
	and a.DistributorId IN (select DistributorId from tbset_user_distributor where UserId=@userid)

END
ELSE
BEGIN
	select a.Id,
	a.RefId,
	a.DistributorId,
	b.LongDesc DistributorDesc,
	b.[Address]
	,convert(varchar(10),a.CreateOn,120) CreateOn
	,iif(d.PromoId=0,'DN Manual',f.RefId) PromoNumber
	,d.RefId DNNumber
	,d.MemDocNo
	,e.LongDesc AccountDesc
	,d.ActivityDesc
	,d.TotalClaim
	from tbtrx_debetnote_sp_header a
	inner join tbmst_distributor b on a.DistributorId=b.id
	inner join tbtrx_debetnote_sp_detail c on a.Id=c.parentid
	inner join tbtrx_debetnote d on c.DnId=d.Id
	LEFT join tbmst_subaccount e on d.AccountId=e.Id
	left join tbtrx_promo f on d.PromoId=f.Id
	left join [tbset_map_user_profitcenter] g on g.UserId=a.CreateBy
	where
	convert(varchar(10),a.CreateOn,120)=@senddate
    and isnull(c.IsCancel, 0) = 0
	AND
	g.ProfitCenter=@profitcenter
	and a.DistributorId IN (select DistributorId from tbset_user_distributor where UserId=@userid)

END


end
GO
