

/****** Object:  StoredProcedure [dbo].[ip_promo_submission_exception_clear]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_submission_exception_clear]
@idx varchar(200)
as
begin 
	delete from tbtemp_promo_submission_exception
	where idx=@idx
end 
GO
