

/****** Object:  StoredProcedure [dbo].[ip_dashboard_promo_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_promo_approval] --'2021-11-01','MTD'
--DECLARE
@periode datetime,
@viewmode varchar(3)

--SET @periode='2020-11-01'
--SET @viewmode='YTD'

as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
	LGP 2020.03.01 : Fix bugs selisih dashboard vs real
*/

begin

declare 
@startdate date
,@enddate date
,@year varchar(4)

SET @year=year(@periode)



if @viewmode='YTD'
	begin		
			set @startdate=(SELECT DATEFROMPARTS(@year, 1, 1))

			if year(@utcDate123)=@year
			begin
				set @enddate=@utcDate123
			end
			else
			begin
				set @enddate=(SELECT DATEFROMPARTS(@year, 12, 31))
			end
	end
	else
	begin

			set @startdate=(SELECT @periode-DAY(@periode)+1)
			set @enddate=EOMONTH(@periode)


	end



SELECT 
IIF(COUNT(PromoId)= 0,
		0
	,
		isnull(SUM(IIF(StatusApprovalCode = 'TP2',1,0)),0) * 100 / (COUNT(PromoId))
    ) promo_approved
FROM
(
SELECT Id PromoId,StatusApprovalCode 
FROM tbtrx_promo 
WHERE NOT (convert(varchar(10),StartPromo,120) > @enddate OR  convert(varchar(10),EndPromo,120) < @startdate)
AND isnull(isCancel,0)=0
)KPI
	


end






GO
