

/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_list_for_planning_byrefid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_budgetallocation_list_for_planning_byrefid] --'2020',0,0,'cmmmka',1
@planrefid varchar(30)
as
BEGIN

		DECLARE 
			@periode varchar(4)
			,@entity int
			,@distributor int
			,@userid varchar(50)
			,@subcategory int
			,@activity int
			,@subactivity int
			,@region AttributeType 
			,@channel AttributeType 
			,@subchannel AttributeType 
			,@account AttributeType 
			,@subaccount AttributeType 
			,@brand AttributeType 
			,@product AttributeType 
			,@planid int


		set @planid			= (select id from tbtrx_promo_planning where refid like '%'+@planrefid+'%')
		SET @periode		= (select Periode from tbtrx_promo_planning where id=@planid)
		SET @entity			= (select EntityId from tbtrx_promo_planning where id=@planid)
		SET @distributor	= (select DistributorId from tbtrx_promo_planning where id=@planid)
		SET @userid			= (select CreateBy from tbtrx_promo_planning where id=@planid)
		set @subcategory	= (select SubCategoryId from tbtrx_promo_planning where id=@planid)
		set @activity		= (select ActivityId from tbtrx_promo_planning where id=@planid)
		set @subactivity	= (select SubActivityId from tbtrx_promo_planning where id=@planid)

		insert into @region (id)		select regionid from tbtrx_promo_planning_region where PromoPlanId=@planid
		insert into @channel (id)		select channelid from tbtrx_promo_planning_channel where PromoPlanId=@planid
		insert into @subchannel (id)	select SubChannelId from tbtrx_promo_planning_subchannel where PromoPlanId=@planid
		insert into @account (id)		select AccountId from tbtrx_promo_planning_account where PromoPlanId=@planid
		insert into @subaccount (id)	select SubAccountId from tbtrx_promo_planning_subaccount where PromoPlanId=@planid
		insert into @brand (id)			select BrandId from tbtrx_promo_planning_brand where PromoPlanId=@planid
		insert into @product (id)		select ProductId from tbtrx_promo_planning_product where PromoPlanId=@planid

SELECT
	  p.LongDesc Entity
	  ,d.LongDesc Distributor
	  ,c.Id
	  ,m.Periode
	  ,c.RefId
	  ,sctg.LongDesc SubCategory
	  ,c.BudgetType
	  ,m.DistributorId
	  ,d.LongDesc DistributorName
	  ,c.OwnerId
	  ,uo.username OwnerName
	  ,c.FromOwnerId
	  ,uf.username FromOwnerName
	  ,c.BudgetmasterId
	  ,c.BudgetAmount
	  ,isnull(b.RemainingAmount, 0) RemainingBudget
	  ,c.LongDesc
	  ,c.ShortDesc
	  ,c.StatusApproval
	  ,c.IsActive
	  ,c.IsLocked
	  ,a.activityid
FROM tbtrx_allocation_detail a with (nolock)
inner join tbtrx_allocation_balance b with (nolock) on a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
inner join tbtrx_allocation c with (nolock) on a.AllocationId=c.Id
inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
inner join tbmst_subcategory sctg on a.SubCategoryId=sctg.id
inner join tbset_user uo on uo.Id=c.OwnerId
inner join tbset_user uf on uf.Id=c.FromOwnerId
/*LUK200529-------------------------------------------------------------------------------------------------

inner join
(
SELECT AllocationId FROM
	(
		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
		FROM @region a
		left join tbtrx_allocation_region b on a.Id=b.RegionId
		left join (select count(id) prm from @region) c on 1=1
	)ZZ WHERE hsl=prm group by AllocationId
)region on region.AllocationId=a.AllocationId
-------------------------------------------------------------------------------------------------LUK200529*/

--inner join
--(
--SELECT AllocationId FROM
--	(
--		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
--		FROM @channel a
--		left join tbtrx_allocation_channel b on a.Id=b.channelId
--		left join (select count(id) prm from @channel) c on 1=1
--	)ZZ WHERE hsl=prm group by AllocationId
--)channel on channel.AllocationId=a.AllocationId
--
--
--inner join
--(
--SELECT AllocationId FROM
--	(
--		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
--		FROM @subchannel a
--		left join tbtrx_allocation_subchannel b on a.Id=b.subchannelId
--		left join (select count(id) prm from @subchannel) c on 1=1
--	)ZZ WHERE hsl=prm group by AllocationId
--)subchannel on subchannel.AllocationId=a.AllocationId
--
--
--inner join
--(
--SELECT AllocationId FROM
--	(
--		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
--		FROM @account a
--		left join tbtrx_allocation_account b on a.Id=b.accountId
--		left join (select count(id) prm from @account) c on 1=1
--	)ZZ WHERE hsl=prm group by AllocationId
--)account on account.AllocationId=a.AllocationId

/*LUK200529-------------------------------------------------------------------------------------------------
inner join
(
SELECT AllocationId FROM
	(
		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
		FROM @subaccount a
		left join tbtrx_allocation_subaccount b on a.Id=b.subaccountId
		left join (select count(id) prm from @subaccount) c on 1=1
	)ZZ WHERE hsl=prm group by AllocationId
)subaccount on subaccount.AllocationId=a.AllocationId

inner join
(
SELECT AllocationId FROM
	(
		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
		FROM @brand a
		left join tbtrx_allocation_brand b on a.Id=b.brandId
		left join (select count(id) prm from @brand) c on 1=1
	)ZZ WHERE hsl=prm group by AllocationId
)brand on brand.AllocationId=a.AllocationId

inner join
(
SELECT AllocationId FROM
	(
		SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
		FROM @product a
		left join tbtrx_allocation_product b on a.Id=b.productId
		left join (select count(id) prm from @product) c on 1=1
	)ZZ WHERE hsl=prm group by AllocationId
)product on product.AllocationId=a.AllocationId
-------------------------------------------------------------------------------------------------LUK200529*/

WHERE c.Periode=@periode 
AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=a.AllocationId)
AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
AND StatusApproval='AP2'
AND IIF(@subcategory=0,'',IIF(a.SubcategoryId=0,0,a.SubCategoryId)) =IIF(@subcategory=0,'',IIF(a.SubCategoryId=0,0,@subcategory))


--AND IIF(@activity=0,'',IIF(a.activityId=0,'',a.activityId)) = IIF(@activity=0,'',IIF(a.activityId=0,'',@activity))
--AND IIF(@subactivity=0,'',IIF(a.subactivityId=0,0,a.subactivityId)) =IIF(@subactivity=0,'',IIF(a.subactivityId=0,0,@subactivity))
END

GO
