USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_distributor_wht_by_import]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     procedure [dbo].[ip_distributor_wht_by_import] 
@dataType DistributorWHTSet READONLY,
@createBy varchar(50),
@createEmail varchar(50)
as

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
	BEGIN TRY
		-- get no validat data
		SELECT	IIF(dis.LongDesc is null, dt.Distributor, '') distributor, 
				IIF(acc.LongDesc is null, dt.subAccount, '') subAccount,  
				IIF(act.LongDesc is null, dt.SubActivity,'') subActivity,  
				IIF(wht.WHTType is null, dt.WHTType, '') WHTType
				
		INTO #temp_err_data 
		FROM @dataType dt
		LEFT JOIN 
		(SELECT distinct longdesc FROM tbmst_distributor WHERE ISNULL(IsDeleted, 0)=0) dis ON dis.LongDesc = dt.distributor 
		LEFT JOIN 
		(SELECT distinct longdesc FROM tbmst_subaccount WHERE ISNULL(IsDelete, 0)=0) acc ON acc.LongDesc = dt.subaccount 
		LEFT JOIN 
		(SELECT distinct longdesc FROM tbmst_subactivity WHERE ISNULL(IsDeleted, 0)=0) act ON act.LongDesc = dt.subactivity
		LEFT JOIN  	tbmst_wht_type wht ON wht.WHTType = dt.whttype
		WHERE dis.LongDesc is null OR acc.LongDesc is null OR act.LongDesc is null OR wht.WHTType is null

	-- update data if exist
		UPDATE tbset_distributor_wht
		SET WHTtype  = dt.WHTType, ModifiedBy=@createBy, ModifiedEmail=@createEmail, ModifiedOn=@utcDate123
		FROM tbset_distributor_wht dw
		INNER JOIN @dataType dt ON dw.distributor=dt.Distributor 
			AND dw.subAccount=dt.SubAccount AND dw.subActivity = dt.SubActivity
	

	-- insert history 
		INSERT INTO tbhis_distributor_wht (parentId, Distributor, subActivity, subAccount, 
		[status], WHTType,
		ModifiedBy, ModifiedEmail, ModifiedOn)
		SELECT id, dw.Distributor,  dw.SubActivity, dw.subAccount, 
			'Update', dw.WHTType,
			@createBy, @createEmail, @utcDate123
	
		FROM tbset_distributor_wht dw
		INNER JOIN @dataType dt ON dw.distributor=dt.Distributor 
			AND dw.subAccount=dt.SubAccount AND dw.subActivity = dt.SubActivity


	-- save Insert data into #temp_insert_wht if not exist, also filtered wrong data
		SELECT dis.LongDesc distributor, act.LongDesc subActivity, acc.LongDesc subAccount, 
		dt.WHTType,
		@createBy createBy, @createEmail createEmail, @utcDate123 createOn
		INTO #temp_insert_wht 
		FROM @dataType dt

		LEFT JOIN 
		(SELECT distinct longdesc FROM tbmst_distributor WHERE ISNULL(IsDeleted, 0)=0) dis ON dis.LongDesc = dt.distributor 
		LEFT JOIN 
		(SELECT distinct longdesc FROM tbmst_subaccount WHERE ISNULL(IsDelete, 0)=0) acc ON acc.LongDesc = dt.subaccount 
		LEFT JOIN 
		(SELECT distinct longdesc FROM tbmst_subactivity WHERE ISNULL(IsDeleted, 0)=0) act ON act.LongDesc = dt.subactivity
		LEFT JOIN  	tbmst_wht_type wht ON wht.WHTType = dt.whttype

		LEFT JOIN tbset_distributor_wht dw ON dw.distributor=dt.Distributor 
			AND dw.subAccount=dt.SubAccount AND dw.subActivity = dt.SubActivity
		WHERE dw.distributor IS NULL AND dw.subAccount IS NULL AND dw.subActivity IS NULL
		AND dis.LongDesc is NOT null AND acc.LongDesc is NOT NULL AND act.LongDesc is NOT null AND wht.WHTType is NOT null
	
		-- insert new valid data
		INSERT INTO tbset_distributor_wht (Distributor, subActivity, subAccount, 
		WHTType, ModifiedBy, ModifiedEmail, ModifiedOn)

		SELECT dt.Distributor, dt.subActivity, dt.subAccount, 
		dt.WHTType,
		@createBy, @createEmail, @utcDate123
		FROM #temp_insert_wht  dt
		--LEFT JOIN tbset_distributor_wht dw ON dw.distributor=dt.Distributor 
		--	AND dw.subAccount=dt.SubAccount AND dw.subActivity = dt.SubActivity
		--WHERE dw.distributor IS NULL AND dw.subAccount IS NULL AND dw.subActivity IS NULL

	-- Insert history
	INSERT INTO tbhis_distributor_wht (parentId, Distributor, subActivity, subAccount, 
		WHTType, [status],
		ModifiedBy, ModifiedEmail, ModifiedOn)

		SELECT  dw.id, dt.Distributor, dt.subActivity, dt.subAccount, 
		dt.WHTType, 'Create',
		@createBy, @createEmail, @utcDate123
		FROM #temp_insert_wht dt
		LEFT JOIN tbset_distributor_wht dw ON dw.distributor=dt.Distributor 
			AND dw.subAccount=dt.SubAccount AND dw.subActivity = dt.SubActivity

SELECT ColName as line, STRING_AGG(ColValue, ', ') AS message
FROM (
    SELECT DISTINCT
        'distributor not valid' AS ColName,  distributor AS ColValue
    FROM #temp_err_data
    UNION ALL
    SELECT DISTINCT
        'subAccount not valid' AS ColName, subAccount AS ColValue
    FROM #temp_err_data
    UNION ALL
    SELECT DISTINCT
        'subActivity not valid' AS ColName, subActivity AS ColValue
    FROM #temp_err_data
    UNION ALL
    SELECT DISTINCT
        'WHTType not valid' AS ColName, WHTType AS ColValue
    FROM #temp_err_data
) AS Subquery
WHERE ColValue <> ''
GROUP BY ColName;
		
		--SELECT 
		--	STRING_AGG(distributor, ', ') AS distributor,
		--	STRING_AGG(subAccount, ', ') AS subAccount,
		--	STRING_AGG(subActivity, ', ') AS subActivity,
		--	STRING_AGG(WHTType, ', ') AS WHTType
		--FROM (
		--	SELECT DISTINCT
		--		CASE WHEN distributor <> '' THEN distributor END AS distributor,
		--		CASE WHEN subAccount <> '' THEN subAccount END AS subAccount,
		--		CASE WHEN subActivity <> '' THEN subActivity END AS subActivity,
		--		CASE WHEN WHTType <> '' THEN WHTType END AS WHTType
		--	FROM #temp_err_data
		--) AS Subquery;
		

		drop table if exists #temp_insert_wht 
		drop table if exists #temp_err_data 

	END TRY
   BEGIN CATCH
			ROLLBACK
				DECLARE @ErrorMessage NVARCHAR(4000);
				DECLARE @ErrorSeverity INT;
				DECLARE @ErrorState INT;

				SELECT
					@ErrorMessage = ERROR_MESSAGE(),
					@ErrorSeverity = ERROR_SEVERITY(),
					@ErrorState = ERROR_STATE();
				RAISERROR (@ErrorMessage, -- Message text.
						   @ErrorSeverity, -- Severity.
						   @ErrorState -- State.
			   );

			END CATCH
END
GO
