USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getuser_bygroup]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_getuser_bygroup]
@id UserType READONLY
AS
BEGIN
	select a.id,username,email,department,jobtitle,contactinfo,usergroupid from tbset_user a
	inner join @id b on a.usergroupid=b.id
	where isnull(a. isdeleted, 0) = 0
end

GO
