USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_report_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_report_p]
 @periode varchar(4),
 @category int=0,
 @entity int,
 @distributor int,
 @channel int,
 @account int,
 @userid varchar(50),
 @start int,
 @length int,
 @filter varchar(255),
 @txtSearch varchar(255)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE***************************/ 
--SELECT GETDATE()
-- DECLARE
-- @periode varchar(4),
-- @category int=0,
-- @entity int,
-- @distributor int,
-- @channel int,
-- @account int,
-- @userid varchar(50),
-- @start int,
-- @length int,
-- @filter varchar(255),
-- @txtSearch varchar(255)

--SET @periode ='2024'
--SET @entity =0
--SET @distributor =0
--SET @channel =0
--SET @account =0
--SET @userid ='admin'

--SET @start =0
--SET @length =10
--SET @filter =''
--SET @txtSearch =''--'DN-APL-SGM-1100-25023554'
/***************************TESTING PURPOSE*/ 
BEGIN

	DROP TABLE IF EXISTS #temp_result1;
	DROP TABLE IF EXISTS #temp_result2;
	DROP TABLE IF EXISTS #temp_account
	DROP TABLE IF EXISTS #temp_subaccount
	DROP TABLE IF EXISTS #temp_channel
	DROP TABLE IF EXISTS #temp_ponum_a
	DROP TABLE IF EXISTS #temp_ponum
	DROP TABLE IF EXISTS #temp_batchname 
	DROP TABLE IF EXISTS #temp_promo
	DROP TABLE IF EXISTS #tmp_dn
	DROP TABLE IF EXISTS #tmp_mechanism

	--SET @start = @start * @length

	DECLARE 
		@recordsFiltered int,
		@profitcenter varchar(10)

	DECLARE @tdnid TABLE (dnid INT)
	DECLARE @tpromoid TABLE (promoid INT)
	DECLARE @tchannel TABLE (promoid INT, ChannelDesc varchar(max))
	DECLARE @taccount TABLE (promoid INT, AccountDesc varchar(max))
	DECLARE @tsubaccount TABLE (promoid INT, SubAccountDesc varchar(max))
	DECLARE @tmechanism TABLE (promoid INT, mechanism varchar(max))
	DECLARE @tsku TABLE (promoid INT, sku varchar(max))
	DECLARE @tgroupbrand TABLE (promoid INT, groupBrandDesc varchar(max))

	INSERT INTO @tdnid select distinct id from tbtrx_debetnote a
		where IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
			AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
			AND year(a.CreateOn)=@periode

	INSERT INTO @tpromoid select distinct promoid from tbtrx_debetnote 
		where YEAR(CreateOn)=@periode  
		--WHERE RefId='DN-APL-SGM-1100-25023554'
		--where promoid in (select id from tbtrx_promo where refid LIKE 'SGM00773/AL24%/TS')

	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
	
	--INSERT INTO @tchannel
	--SELECT a.PromoId, string_agg(b.LongDesc,' ,') 
	--				FROM @tpromoid tpr 
	--				INNER JOIN tbtrx_promo_channel a with (nolock) ON a.PromoId=tpr.promoid
	--				INNER JOIN tbmst_channel b with (nolock) ON a.ChannelId=b.Id
	--			GROUP BY a.PromoId

	--INSERT INTO @taccount
	--SELECT a.PromoId, string_agg(b.LongDesc,' ,') 
	--				FROM @tpromoid tpr
	--				INNER JOIN tbtrx_promo_account a with (nolock) ON a.PromoId=tpr.promoid
	--				INNER JOIN tbmst_account b with (nolock) ON a.accountId=b.Id
	--			GROUP BY a.PromoId

	--INSERT INTO @tsubaccount
	--SELECT a.PromoId, string_agg(b.LongDesc,' ,') 
	--				FROM @tpromoid tpr
	--				INNER JOIN tbtrx_promo_subaccount a with (nolock) ON a.PromoId=tpr.promoid
	--				INNER JOIN tbmst_subaccount b with (nolock) ON a.subaccountId=b.Id
	--			GROUP BY a.PromoId

	--INSERT INTO @tmechanism
	--select a.PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	--	from @tpromoid tpr  
	--	INNER JOIN tbtrx_promo_mechanism a WITH (NOLOCK) ON a.PromoId=tpr.promoid
	--	GROUP BY a.PromoId

	--INSERT INTO @tsku
	--select a.PromoId, string_agg(b.longdesc,', ') sku
	--	from @tpromoid tpr 
	--	INNER JOIN tbtrx_promo_product a with (nolock) ON a.PromoId=tpr.promoid
	--	INNER JOIN tbmst_product b with (nolock) on a.productid= b.id
	--	GROUP BY a.PromoId

	--INSERT INTO @tgroupbrand
	--select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
	--	FROM
	--		(
	--				SELECT distinct 
	--					b.PromoId, a.longDesc
	--				FROM tbmst_brand_group a
	--				INNER JOIN 
	--				(
	--					select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from @tpromoid tpr 
	--					INNER JOIN tbtrx_promo_product b WITH (NOLOCK) ON b.PromoId=tpr.promoid
	--					INNER JOIN tbmst_product p on b.ProductId=p.Id
	--					INNER JOIN tbmst_brand a ON a.Id=p.BrandId
	--					--INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId
	--				) b on a.Id=b.BrandGroupId
	--		) groupbrand
	--		group by groupbrand.promoid

	SELECT a.PromoId, string_agg(b.LongDesc,' ,') channeldesc
	INTO #tchannel
					FROM @tpromoid tpr 
					INNER JOIN tbtrx_promo_channel a with (nolock) ON a.PromoId=tpr.promoid
					INNER JOIN tbmst_channel b with (nolock) ON a.ChannelId=b.Id
				GROUP BY a.PromoId

	SELECT a.PromoId, string_agg(b.LongDesc,' ,') accountdesc
	INTO #taccount
					FROM @tpromoid tpr
					INNER JOIN tbtrx_promo_account a with (nolock) ON a.PromoId=tpr.promoid
					INNER JOIN tbmst_account b with (nolock) ON a.accountId=b.Id
				GROUP BY a.PromoId

	SELECT a.PromoId, string_agg(b.LongDesc,' ,') subaccountdesc
	INTO #tsubaccount
					FROM @tpromoid tpr
					INNER JOIN tbtrx_promo_subaccount a with (nolock) ON a.PromoId=tpr.promoid
					INNER JOIN tbmst_subaccount b with (nolock) ON a.subaccountId=b.Id
				GROUP BY a.PromoId

	select a.PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	INTO #tmechanism
		from @tpromoid tpr  
		INNER JOIN tbtrx_promo_mechanism a WITH (NOLOCK) ON a.PromoId=tpr.promoid
		GROUP BY a.PromoId

	select a.PromoId, string_agg(b.longdesc,', ') sku
	INTO #tsku
		from @tpromoid tpr 
		INNER JOIN tbtrx_promo_product a with (nolock) ON a.PromoId=tpr.promoid
		INNER JOIN tbmst_product b with (nolock) on a.productid= b.id
		GROUP BY a.PromoId

	select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
	INTO #tgroupbrand
		FROM
			(
					SELECT distinct 
						b.PromoId, a.longDesc
					FROM tbmst_brand_group a
					INNER JOIN 
					(
						select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from @tpromoid tpr 
						INNER JOIN tbtrx_promo_product b WITH (NOLOCK) ON b.PromoId=tpr.promoid
						INNER JOIN tbmst_product p on b.ProductId=p.Id
						INNER JOIN tbmst_brand a ON a.Id=p.BrandId
						--INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId
					) b on a.Id=b.BrandGroupId
			) groupbrand
			group by groupbrand.promoid

	SELECT pr.Id
		, pr.RefId 
		, pr.TsCoding
		,mechanism.mechanism
		,pr.StartPromo
		,pr.EndPromo
		,channel.ChannelDesc
		,IIF(mc.ShortDesc='DC', '---', account.AccountDesc) AccountDesc
		,IIF(mc.ShortDesc='DC', '---', subaccount.SubAccountDesc) SubAccountDesc
		,IIF(mc.ShortDesc='DC', '---', sku.sku) sku
		,pr.ActivityDesc
		, pr.CreateBy 
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(pr.ApproverName as varchar) ))) ApprovalStatus
		,ISNULL(pr.isClose, 0) isClose --#896
		,ISNULL(pr.Investment,0) Investment --#896
		,ISNULL(pr.InvestmentForDN,0) InvestmentForDN --#896
		,tst.longDesc subActivityType
		,pr.categoryId
		,mc.shortDesc categoryShortDesc
		,mc.longDesc  categoryLongDesc
		,groupbrand.groupBrandDesc
		,pr.subactivityid
		,ts.longdesc subactivitydesc		
	INTO #temp_promo
	FROM @tpromoid tpr
	INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=tpr.promoid
	INNER JOIN tbmst_category mc WITH (NOLOCK) ON pr.categoryid = mc.id 
	INNER JOIN tbmst_subactivity ts WITH (NOLOCK) ON pr.SubActivityId = ts.id --#896
	INNER JOIN tbmst_subactivity_type tst WITH (NOLOCK) ON ts.SubActivityTypeId  = tst.Id --#896
	INNER JOIN #tmechanism mechanism on pr.Id = mechanism.PromoId   
	LEFT JOIN #tchannel channel on pr.Id = channel.PromoId
	LEFT JOIN #taccount account on pr.Id = account.PromoId
	LEFT JOIN #tsubaccOunt subaccount on pr.Id = subaccount.PromoId
	LEFT JOIN #tsku sku on pr.Id = sku.PromoId
	LEFT JOIN #tgroupbrand groupbrand on pr.Id = groupbrand.PromoId
  --  INNER JOIN 
		--(
		--	SELECT a.PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
		--			FROM tbhlp_promo_channel a with (nolock)
		--			INNER JOIN @tpromoid tpr ON a.PromoId=tpr.promoid
		--			INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
		--		GROUP BY a.PromoId
		--) channel on pr.id=channel.promoid	
  --  LEFT JOIN
		--(
		--	SELECT a.PromoId, string_agg(acc.LongDesc,' ,') AccountDesc
		--			FROM tbtrx_promo_account a with (nolock)
		--			INNER JOIN @tpromoid tpr ON a.PromoId=tpr.promoid
		--			INNER JOIN tbmst_account acc with (nolock) ON a.AccountId = acc.Id 
		--		GROUP BY a.PromoId
		--) account on pr.id=account.promoid    
  --  LEFT JOIN
		--(
		--	SELECT a.PromoId, string_agg(subacc.LongDesc,' ,') SubAccountDesc
		--			FROM tbtrx_promo_subaccount a with (nolock)
		--				INNER JOIN @tpromoid tpr ON a.PromoId=tpr.promoid
		--			INNER JOIN tbmst_subaccount subacc with (nolock) ON a.subaccountid = subacc.Id 
		--		GROUP BY a.PromoId
		--) subaccount on pr.id=subaccount.promoid        
	--LEFT JOIN
	--	(
			--select a.PromoId, string_agg(b.longdesc,', ') sku
			--			from tbtrx_promo_product a with (nolock)
			--			INNER JOIN @tpromoid tpr ON a.PromoId=tpr.promoid
			--			INNER JOIN tbmst_product b with (nolock) on a.productid= b.id
			--	GROUP BY a.PromoId
		--) sku on pr.Id = sku.PromoId   		
	--LEFT JOIN (
	--	select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
	--	FROM
	--		(
	--				SELECT distinct 
	--					b.PromoId, a.longDesc
	--				FROM tbmst_brand_group a
	--				INNER JOIN 
	--				(
	--					select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
	--					INNER JOIN tbtrx_promo_product b WITH (NOLOCK) ON A.Id=B.BrandId
	--					INNER JOIN @tpromoid tpr ON b.PromoId=tpr.promoid
	--					INNER JOIN tbmst_product p on b.ProductId=p.Id
	--					INNER JOIN tbmst_product bp on p.BrandId=bp.Id
	--					--INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId
	--				) b on a.Id=b.BrandGroupId
	--		) groupbrand
	--		group by groupbrand.promoid
	--	) groupbrand ON pr.id = groupbrand.promoid	

/*channel********************************************************/	
	SELECT a.id DNId, pr.ChannelDesc
	INTO #temp_channel
	FROM @tdnid x
	INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
	INNER JOIN #temp_promo pr WITH (NOLOCK) ON a.PromoId = pr.id
    WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode

	INSERT INTO #temp_channel
		SELECT a.id DNId, ISNULL(e.LongDesc,'---') ChannelDesc
		FROM @tdnid x
		INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		INNER JOIN tbmst_account c WITH (NOLOCK) ON b.AccountId = c.Id 
		INNER JOIN tbmst_subchannel d WITH (NOLOCK) ON c.SubChannelId = d.Id 
		INNER JOIN tbmst_channel e WITH (NOLOCK) ON d.ChannelId = e.Id 
		WHERE ISNULL(a.promoid, 0) = 0
			AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
			AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
			AND year(a.CreateOn)=@periode

/*account********************************************************/		
	SELECT a.id dnid, pr.AccountDesc 
	INTO #temp_account
	FROM @tdnid x
	INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
	INNER JOIN #temp_promo pr WITH (NOLOCK) ON a.PromoId = pr.id
	INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
    WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode
		
	INSERT INTO #temp_account
		SELECT a.id dnid, e.LongDesc AccountDesc 
		FROM @tdnid x
		INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		INNER JOIN tbmst_account e WITH (NOLOCK) ON b.AccountId = e.id
		WHERE ISNULL(a.promoid, 0) = 0
			AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
			AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
			AND year(a.CreateOn)=@periode
	    
/*subaccount********************************************************/		
	SELECT a.id dnid, pr.SubAccountDesc 
	INTO #temp_subaccount
	FROM @tdnid x
	INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
	INNER JOIN #temp_promo pr WITH (NOLOCK) ON a.PromoId = pr.id
    WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode

	INSERT INTO #temp_subaccount
		SELECT a.id dnid, ISNULL(b.LongDesc,'---') SubAccountDesc 
		FROM @tdnid x
		INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		WHERE ISNULL(a.promoid, 0) = 0
			AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
			AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
			AND year(a.CreateOn)=@periode
	    
/*PONUMBER********************************************************/
	SELECT a.Id,a.RefId, ISNULL(PONumber,'----')ponumber, x.id xmlid INTO #temp_ponum_a 
	FROM tbtrx_debetnote a WITH (NOLOCK) 
	LEFT JOIN
		(
			SELECT       PONumber AS RefID, PONumber, id
			FROM         tbxml_generate WITH (NOLOCK)
			WHERE        left(PONumber,3)= 'DN-'

			UNION ALL

			SELECT       dn.RefId, xml.PONumber, xml.id
			FROM
				tbxml_generate xml INNER JOIN
				tbtrx_invoice_header ih WITH (NOLOCK) ON xml.PONumber = ih.RefId INNER JOIN
				tbtrx_invoice_detail id WITH (NOLOCK) ON ih.Id = id.ParentId INNER JOIN
				tbtrx_debetnote dn WITH (NOLOCK) ON id.DNId = dn.Id
			WHERE 
				left(xml.PONumber,4) = 'INV/'
				AND IIF(@entity=0,'',dn.PrincipalId ) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',dn.DistributorId ) =IIF(@distributor=0,'',@distributor)
				AND year(dn.CreateOn)=@periode		

			UNION ALL

			SELECT       dn.RefId, xml.PONumber, xml.id
			FROM tbtrx_debetnote dn 
			INNER JOIN tbxml_generate xml WITH (NOLOCK) ON RIGHT(dn.RefId, 8) = RIGHT(xml.PONumber, 8)
			WHERE        
				(NOT (left(xml.PONumber,4)='INV/' OR left(xml.PONumber,3)='DN-'))
				AND IIF(@entity=0,'',dn.PrincipalId ) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',dn.DistributorId ) =IIF(@distributor=0,'',@distributor)
				AND year(dn.CreateOn)=@periode		
		
		)x ON a.refid=x.refid

	SELECT a.Id,a.RefId, ISNULL(PONumber,'----')ponumber INTO #temp_ponum 
	FROM @tdnid x
	INNER JOIN tbtrx_debetnote a WITH (NOLOCK) ON x.dnid=a.Id
	LEFT JOIN 
		(
			SELECT tpa.* FROM #temp_ponum_a tpa
			INNER JOIN (
				SELECT RefId,MAX(xmlid) xmlid FROM #temp_ponum_a GROUP BY refid
				)tpag ON tpa.RefId=tpag.RefId and tpa.xmlid=tpag.xmlid
		)b ON a.RefId=b.RefId

/*BATCHNAME********************************************************/
	SELECT DNId,BatchName into #temp_batchname from tbhis_xml_generate_batchname where ISNULL(IsDeleted,0)=0

	SELECT 
    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) TotalClaim
    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0)) TotalPaid
    INTO #tmp_dn					
	FROM tbtrx_debetnote a WITH (NOLOCK) 
    INNER JOIN #temp_promo pr on a.PromoId=pr.Id
        AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
    WHERE ISNULL(a.IsCancel, 0) = 0
		AND ISNULL(a.IsDNPromo,0)=1
	GROUP BY a.PromoId

	DECLARE @isUserDis BIT=0
	IF (SELECT COUNT(*) FROM tbset_user WHERE id=@userid AND department LIKE '%DISTRIBUTOR%')>=1 
		BEGIN
			SET @isUserDis=1
		END

	IF ISNULL(@profitcenter,'')='1100' OR @isUserDis=0
		BEGIN
			SELECT *
			INTO #temp_result1
			FROM
				(
					SELECT DISTINCT
						'Debit Note' Category,
						a.Id dnurut,
						0 dnurut1,
						a.Id,
						a.RefId,
						'' dnkontra,
						ISNULL(a.PromoId,0) PromoId,
						a.PrincipalId EntityId,
						p.LongDesc EntityDesc,
						a.DistributorId,
						n.LongDesc DistributorDesc,
						ISNULL(b.RefId,'') PromoRefId,
						a.ActivityDesc,
						IIF(b.CategoryShortDesc='DC','---', ISNULL(acc.AccountDesc, '')) Account,
						IIF(b.CategoryShortDesc='DC','---', ISNULL(subacc.SubAccountDesc, '')) SubAccount,
						f.LongDesc Sellingpoint,
						f.ProfitCenter,
						a.dpp DPP,
						a.PPNPct,
						a.PPnAmt,
						iif(vatexpired=1,ISNULL(a.DPP, 0)+ISNULL(a.ppnamt,0),ISNULL(a.DPP, 0)) TotalClaim,					
						iif(a.laststatus='confirm_paid',iif(vatexpired=1,ISNULL(a.DPP, 0)+ISNULL(a.ppnamt,0),ISNULL(a.DPP, 0)),0) TotalPaid,					
						a.PaymentDate,
						a.LastStatus,
						ISNULL(h.RefId,'') SuratPengantarCabang,
						ISNULL(j.RefId,'') SuratPengantarHO,
						l.[RefId] InvoiceNo,
						ISNULL(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
						ISNULL(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
						datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, @utcDate123, m.ready_to_invoice_on)) Aging,
						a.CreateOn,
						a.CreateBy,
						iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
						a.ModifiedBy,
						ISNULL(a.IsOverBudget,0) IsOverBudget,
						iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus,
						b.TsCoding,
						a.InternalOrderNumber,
						a.IsDNPromo,
						a.IntDocNo,
						a.MemDocNo,
						n.LongDesc DistributorName,
						a.FeeDesc,
						a.FeePct,
						a.FeeAmount
						,a.TaxLevel MaterialNumber
						,tmm.Description TaxLevel
						,a.Notes
						,iif(ISNULL(b.CreateBy,'')='','----',b.CreateBy)  Initiator
						,m.received_by_danone_by
						,iif(ISNULL(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
						,m.validate_by_finance_by
						,m.validate_by_finance_on
						,m.validate_by_sales_by
						,m.validate_by_sales_on
						,m.ready_to_invoice_by InvoiceNotifBy
						,iif(ISNULL(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
						,m.invoice_by
						,m.invoice_on
						,m.confirm_paid_by
						,m.confirm_paid_on
						,iif(ISNULL(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
						,iif(ISNULL(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
						,iif(ISNULL(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
						,iif(ISNULL(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
						,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
						,a.PPHPct
						,a.PPHAmt
						,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
						,a.StatusSalesNotes
						,a.StatusSalesDistOn
						,usr.username validate_by_finance_by_username
						,a.FPNumber
						,a.FPDate
						,a.VATExpired
						, tbl.ponumber
						,chn.ChannelDesc channel
						,iif(ISNULL(a.IsDNPromo,0)=1 and ISNULL(a.PromoId,0)=0, a.AssignBy, '---') PIC
						,bat.batchname batchname
						,m.send_to_danone_on 
						,m.send_to_danone_by 
						,b.mechanism
						,b.StartPromo
						,b.EndPromo
						,b.sku
						,IIF(b.CategoryShortDesc='DC','---', b.ActivityDesc) promo_activity_name
						,b.ApprovalStatus
						,b.isClose 
						,b.investment-ISNULL(dn.TotalClaim,0) remainingBalance --issue #896		
						,b.subActivityType  
						,b.categoryid
						,b.categoryShortDesc
						,b.categoryLongDesc
						,b.groupBrandDesc
						, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), iif(isnull(a.promoid, 0) = 0, 'DN Manual', b.categoryLongDesc)) dnCategory
						,b.SubActivityId
						,b.SubActivityDesc	
						,iif(isnull(tdw.WHTtype, '') = '', '---', tdw.WHTtype) WHTtype
					FROM @tdnid xdn
					INNER JOIN tbtrx_debetnote a WITH (NOLOCK) on xdn.dnid=a.Id
					INNER JOIN tbtrx_debetnote_wht tdw WITH (NOLOCK) ON a.id = tdw.DNId 
					INNER JOIN #temp_ponum tbl on a.Id=tbl.id
					INNER JOIN tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
					INNER JOIN
						(
							SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid
						) dis on a.DistributorId=dis.DistributorId
					INNER JOIN tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
					LEFT JOIN #temp_account acc on a.id=acc.dnid
					LEFT JOIN #temp_subaccount subacc on a.id=subacc.dnid
					LEFT JOIN #temp_channel chn ON a.id=chn.dnid  
					LEFT JOIN #temp_promo b WITH (NOLOCK) ON a.PromoId=b.Id				
					LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
					LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint) e on e.DNId=a.Id
					LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
					LEFT JOIN tbtrx_debetnote_sp_detail g on g.DnId=a.Id and ISNULL(g.IsCancel,0)=0
					LEFT JOIN tbtrx_debetnote_sp_header h on g.ParentId=h.Id
					LEFT JOIN tbtrx_debetnote_sp_detail_ho i on i.DnId=a.Id and ISNULL(i.IsCancel,0)=0
					LEFT JOIN tbtrx_debetnote_sp_header_ho j on i.ParentId=j.Id
					LEFT JOIN tbtrx_invoice_detail k on k.DnId=a.Id AND ISNULL(k.IsCancel, 0) = 0
					LEFT JOIN tbtrx_invoice_header l on l.id=k.Parentid
					LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id --and ISNULL(m.is_cancel,0)=0
					LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id
					LEFT JOIN #temp_batchname bat on  a.Id=bat.DNId
					LEFT JOIN #tmp_dn dn on b.Id=dn.PromoId -- #896
					LEFT JOIN tbtrx_debetnote_overbudget_statuS tdo on a.id=tdo.dnId
					WHERE 
						IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
						AND year(a.CreateOn)=@periode
						AND IIF(@category=0,'',b.categoryid) =IIF(@category=0,'',@category)
				) dnreport
			ORDER BY dnreport.dnurut, dnreport.dnurut1


				/**********************
					start pagination
				**********************/
				IF @length = -1
				BEGIN
					IF @txtSearch is null
					BEGIN
						SELECT * FROM #temp_result1
						ORDER BY id ASC
					END
					ELSE
					BEGIN
						SELECT * FROM #temp_result1
						WHERE
							(refId like '%' + @txtSearch + '%') OR
							(ActivityDesc like '%' + @txtSearch + '%') OR
							(PromorefId like '%' + @txtSearch + '%') OR
							(Initiator like '%' + @txtSearch + '%') OR
							(LastStatus like '%' + @txtSearch + '%')
						ORDER BY Id ASC
					END
				END
				ELSE
				BEGIN
					IF @txtSearch is null
					BEGIN
						SELECT * FROM #temp_result1
						ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
					END
					ELSE
					BEGIN
				   SELECT * FROM #temp_result1
						WHERE
							(refId like '%' + @txtSearch + '%') OR
							(ActivityDesc like '%' + @txtSearch + '%') OR
							(PromorefId like '%' + @txtSearch + '%') OR
							(Initiator like '%' + @txtSearch + '%') OR
							(LastStatus like '%' + @txtSearch + '%')
						ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
					END
				END
				SET @recordsFiltered =
					(
					SELECT ISNULL(count(id),0)
					FROM #temp_result1
					WHERE
							(refId like '%' + @txtSearch + '%') OR
							(ActivityDesc like '%' + @txtSearch + '%') OR
							(PromorefId like '%' + @txtSearch + '%') OR
							(Initiator like '%' + @txtSearch + '%') OR
							(LastStatus like '%' + @txtSearch + '%')
					)

				SELECT ISNULL(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result1
				drop table #temp_result1
				/**********************
					end pagination
				**********************/
		END
	ELSE
	BEGIN
			SELECT *
			INTO #temp_result2
			FROM
			(
				SELECT DISTINCT
					'Debit Note' Category,
					a.Id dnurut,
					0 dnurut1,
					a.Id,
					a.RefId,
					'' dnkontra,
					ISNULL(a.PromoId,0) PromoId,
					a.PrincipalId EntityId,
					p.LongDesc EntityDesc,
					a.DistributorId,
					n.LongDesc DistributorDesc,
					ISNULL(b.RefId,'') PromoRefId,
					a.ActivityDesc,
					IIF(b.CategoryShortDesc='DC','---', ISNULL(acc.AccountDesc, '')) Account,
					IIF(b.CategoryShortDesc='DC','---', ISNULL(subacc.SubAccountDesc, '')) SubAccount,
					f.LongDesc Sellingpoint,
					f.ProfitCenter,
					a.dpp DPP,
					a.PPNPct,
					a.PPnAmt,
					iif(vatexpired=1,ISNULL(a.DPP, 0)+ISNULL(a.ppnamt,0),ISNULL(a.DPP, 0)) TotalClaim,					
					iif(a.laststatus='confirm_paid',iif(vatexpired=1,ISNULL(a.DPP, 0)+ISNULL(a.ppnamt,0),ISNULL(a.DPP, 0)),0) TotalPaid,					
					a.PaymentDate,
					a.LastStatus,
					ISNULL(h.RefId,'') SuratPengantarCabang,
					ISNULL(j.RefId,'') SuratPengantarHO,
					l.[RefId] InvoiceNo,
					ISNULL(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
					ISNULL(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
					datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, @utcDate123, m.ready_to_invoice_on)) Aging,
					a.CreateOn,
					a.CreateBy,
					iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
					a.ModifiedBy,
					ISNULL(a.IsOverBudget,0) IsOverBudget,
					iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus,
					b.TsCoding,
					a.InternalOrderNumber,
					a.IsDNPromo,
					a.IntDocNo,
					a.MemDocNo,
					n.LongDesc DistributorName,
					a.FeeDesc,
					a.FeePct,
					a.FeeAmount
					,a.TaxLevel MaterialNumber
					,tmm.Description TaxLevel
					,a.Notes
					,iif(ISNULL(b.CreateBy,'')='','----',b.CreateBy)  Initiator
					,m.received_by_danone_by
					,iif(ISNULL(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
					,m.validate_by_finance_by
					,m.validate_by_finance_on
					,m.validate_by_sales_by
					,m.validate_by_sales_on
					,m.ready_to_invoice_by InvoiceNotifBy
					,iif(ISNULL(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
					,m.invoice_by
					,m.invoice_on
					,m.confirm_paid_by
					,m.confirm_paid_on
					,iif(ISNULL(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
					,iif(ISNULL(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
					,iif(ISNULL(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
					,iif(ISNULL(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
					,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
					,a.PPHPct
					,a.PPHAmt
					,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
					,a.StatusSalesNotes
					,a.StatusSalesDistOn
					,usr.username validate_by_finance_by_username
					,a.FPNumber
					,a.FPDate
				    ,a.VATExpired
				    , tbl.ponumber
				    ,chn.ChannelDesc channel
				    ,iif(ISNULL(a.IsDNPromo,0)=1 and ISNULL(a.PromoId,0)=0, a.AssignBy, '---') PIC
				    ,bat.BatchName batchname
				    ,m.send_to_danone_on 
				    ,m.send_to_danone_by 
				    ,b.mechanism
				    ,b.StartPromo
				    ,b.EndPromo
				    ,b.sku
				    ,IIF(b.CategoryShortDesc='DC','---', b.ActivityDesc) promo_activity_name
				    ,b.ApprovalStatus
				    ,b.isClose 
				    ,b.investment-ISNULL(dn.TotalClaim,0) remainingBalance 
				    ,b.subActivityType 
					,b.categoryid
					,b.categoryShortDesc
					,b.categoryLongDesc
					,b.groupBrandDesc
					, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), iif(isnull(a.promoid, 0) = 0, 'DN Manual', b.categoryLongDesc)) dnCategory
					,b.SubActivityId
					,b.SubActivityDesc	
					,iif(isnull(tdw.WHTtype, '') = '', '---', tdw.WHTtype) WHTtype
				FROM tbtrx_debetnote a WITH (NOLOCK)
				INNER JOIN tbtrx_debetnote_wht tdw WITH (NOLOCK) ON a.id = tdw.DNId
				INNER JOIN #temp_ponum tbl on a.Id=tbl.id
				INNER JOIN tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
	            INNER JOIN(
	                SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid
	            ) dis on a.DistributorId=dis.DistributorId
				INNER JOIN tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
		        LEFT JOIN #temp_account acc on a.id=acc.dnid
		        LEFT JOIN #temp_subaccount subacc on a.id=subacc.dnid
				LEFT JOIN #temp_channel chn ON a.id=chn.dnid  
				LEFT JOIN #temp_promo b WITH (NOLOCK) ON a.PromoId=b.Id
				LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
				LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint) e on e.DNId=a.Id
				LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
				LEFT JOIN tbtrx_debetnote_sp_detail g on g.DnId=a.Id and ISNULL(g.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header h on g.ParentId=h.Id
				LEFT JOIN tbtrx_debetnote_sp_detail_ho i on i.DnId=a.Id and ISNULL(i.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header_ho j on i.ParentId=j.Id
				LEFT JOIN tbtrx_invoice_detail k on k.DnId=a.Id AND ISNULL(k.IsCancel, 0) = 0
				LEFT JOIN tbtrx_invoice_header l on l.id=k.Parentid
				LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id 
				LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id
				LEFT JOIN #temp_batchname bat on  a.Id=bat.DNId
				LEFT JOIN #tmp_dn dn on b.Id=dn.PromoId 
				LEFT JOIN tbtrx_debetnote_overbudget_statuS tdo on a.id=tdo.dnId
	            WHERE a.AreaCode=@profitcenter
	            AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
	            AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
			    AND year(a.CreateOn)=@periode
			    AND IIF(@category=0,'',b.categoryid) =IIF(@category=0,'',@category)
			) dnreport
			order by dnreport.dnurut, dnreport.dnurut1


	        /**********************
	            start pagination
	        **********************/
	        IF @length = -1
	 BEGIN
	            IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result2
	                ORDER BY id ASC
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result2
	                WHERE
		                (refId like '%' + @txtSearch + '%') OR
		                (ActivityDesc like '%' + @txtSearch + '%') OR
		                (PromorefId like '%' + @txtSearch + '%') OR
		                (Initiator like '%' + @txtSearch + '%') OR
		                (LastStatus like '%' + @txtSearch + '%')
	                ORDER BY Id ASC
	            END
	        END
	        ELSE
	        BEGIN
	 IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result2
	  ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result2
	                WHERE
		                (refId like '%' + @txtSearch + '%') OR
		                (ActivityDesc like '%' + @txtSearch + '%') OR
		                (PromorefId like '%' + @txtSearch + '%') OR
		                (Initiator like '%' + @txtSearch + '%') OR
		                (LastStatus like '%' + @txtSearch + '%')
	                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	      END
	        END
	        SET @recordsFiltered =
				(
				SELECT ISNULL(count(id),0)
				FROM #temp_result2
	            WHERE
		                (refId like '%' + @txtSearch + '%') OR
		                (ActivityDesc like '%' + @txtSearch + '%') OR
		                (PromorefId like '%' + @txtSearch + '%') OR
		                (Initiator like '%' + @txtSearch + '%') OR
		                (LastStatus like '%' + @txtSearch + '%')
				)

	        SELECT ISNULL(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result2
	        drop table #temp_result2
	        /**********************
	            end pagination
	        **********************/		
	END
HELL:	
        DROP TABLE IF EXISTS #temp_result1;
		DROP TABLE IF EXISTS #temp_result2;
		DROP TABLE IF EXISTS  #temp_account
		DROP TABLE IF EXISTS  #temp_subaccount
		DROP TABLE IF EXISTS  #temp_channel
		DROP TABLE IF EXISTS  #temp_ponum_a
		DROP TABLE IF EXISTS  #temp_ponum
		DROP TABLE IF EXISTS  #temp_batchname 
		DROP TABLE IF EXISTS  #temp_promo
		DROP TABLE IF EXISTS #tmp_dn
		DROP TABLE IF EXISTS #tmp_dn_overbudget
		DROP TABLE IF EXISTS #tmechanism 
		DROP TABLE IF EXISTS #tchannel 
		DROP TABLE IF EXISTS #taccount 
		DROP TABLE IF EXISTS #tsubaccount 
		DROP TABLE IF EXISTS #tsku 
		DROP TABLE IF EXISTS #tgroupbrand 
--select GETDATE()
END;

GO
