USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_closure]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_closure] --372,'xvamain'
@promoid ArrayintType READONLY,
@userid varchar(50)
,@useremail varchar(100) = ''
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION

	DECLARE @budgetid int
	
	
	
	declare @errtemp as table
	(
		doc varchar(255),
		[status] varchar(255)
	)
	
	declare @createdemail varchar(50)
	SET @createdemail = @useremail
	if(@useremail = '')
	begin
		SELECT @createdemail=email from tbset_user where id=@userid
	end

	-- INSERT INTO @errtemp
	-- SELECT RefId,'Unable to close,Promo is waiting for Approval'
	-- FROM @promoid t INNER JOIN
	-- tbtrx_promo A ON t.keyid=A.Id
	-- WHERE A.StatusApprovalCode <> 'TP2'
	
	INSERT INTO @errtemp
	SELECT RefId,'You still have DN to be paid'
	FROM @promoid t INNER JOIN
	tbtrx_promo A ON t.keyid=A.Id
	WHERE EXISTS (
		SELECT PromoId
		FROM tbtrx_debetnote dn with (nolock)
		WHERE dn.PromoId=A.Id
		and isnull(dn.IsCancel,0)=0
		and dn.LastStatus <> 'confirm_paid'
	)
	
	INSERT INTO @errtemp
	SELECT RefId,'You still have CN to be paid'
	FROM @promoid t INNER JOIN
	tbtrx_promo A ON t.keyid=A.Id
	WHERE EXISTS (
		SELECT PromoId
		FROM tbtrx_creditnote dn with (nolock)
		WHERE dn.PromoId=A.Id
		and isnull(dn.IsCancel,0)=0
		and dn.LastStatus <> 'confirm_paid'
	)
	
	-- INSERT INTO @errtemp
	-- SELECT RefId,'You still have Approval recon to be Approved'
	-- FROM @promoid t INNER JOIN
	-- tbtrx_promo A ON t.keyid=A.Id
	-- WHERE EXISTS(
	-- 	SELECT Id FROM
	-- 	[dbo].[tbtrx_promo_request_approval_recon] a
	-- 	INNER JOIN [dbo].[tbtrx_promo_approval_recon] b on a.Id=b.RequestId
	-- 	WHERE isnull(a.IsCancel,0)=0 AND b.[Status] <> 'TP2' AND A.Id=a.ParentId
	-- )
	
	
	
	
	--SET @budgetid=(SELECT AllocationId FROM tbtrx_promo where Id=@promoid)
	
	UPDATE A
	SET
	--     Investment = isnull(C.TotalClaim,0)
	IsClose=1
	,isCancelLocked=1
	,CloseOn=@utcDate123
	,CloseBy=@userid
	FROM tbtrx_promo A
	INNER JOIN @promoid B ON A.Id=B.keyid
	LEFT JOIN @errtemp t ON A.RefId=t.doc
	WHERE t.doc is null
	
	/* start create history promo closure */
	INSERT INTO tbhis_promo_closure (PromoId, IsClose, CloseOn, CloseBy, useremail, investment)
		SELECT keyid, 1, @utcDate123, @userid, @createdemail, pr.investment
		FROM @promoid a
		INNER JOIN tbtrx_promo pr on a.keyid=pr.id
		LEFT JOIN @errtemp t ON pr.RefId=t.doc
		WHERE t.doc is null		
	/* end create history promo closure */
	
	DECLARE cur CURSOR
	FOR
	SELECT distinct AllocationId
	FROM tbtrx_promo A
	INNER JOIN @promoid ON A.Id=keyid
	LEFT JOIN @errtemp t ON A.RefId=t.doc
	WHERE t.doc is null
	;
	
	OPEN cur
	FETCH NEXT FROM cur INTO @budgetid
	WHILE @@FETCH_STATUS=0
	BEGIN
	
	UPDATE bal
	SET ReserveAmount=XX.act_reserve_amount,
	UseAmount=XX.act_use_amount
	FROM tbtrx_allocation_balance bal
	INNER JOIN
	(
		SELECT
		AllocationId,
		SubCategoryId,
		InitialAmount,
		ReserveAmount bal_reserve_amount,
		SUM(IIF(StatusApprovalCode='TP2',0,IIF(isnull(IsCancel,0)=0,Investment,0))) act_reserve_amount,
		UseAmount bal_use_amount,
	-- 	SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0,Investment,0),0)) act_use_amount
		SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0, IIF(isnull(IsClose,0)=1, TotalClaim, Investment),0),0)) act_use_amount
		FROM
		(
		SELECT
		a.AllocationId,
		a.SubCategoryId,
		a.InitialAmount,
		a.ReserveAmount,
		a.UseAmount,
		b.RefId,
		b.Investment,
		b.StatusApprovalCode,
		isnull(b.IsCancel,0) IsCancel
		,isnull(C.TotalClaim, 0) TotalClaim
		,b.IsClose
		FROM tbtrx_allocation_balance a
		INNER JOIN tbtrx_promo b on a.AllocationId=b.AllocationId AND a.SubCategoryId=b.SubCategoryId
		LEFT JOIN
	    (
	        SELECT A.PromoId,SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) - SUM(isnull(tc.dpp,0)) TotalClaim
	        FROM tbtrx_debetnote A
            LEFT JOIN (
		    	SELECT dnid
		    		, SUM(isnull(dpp, 0)) dpp
		    		, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
		    	FROM tbtrx_creditnote
		    	WHERE isnull(iscancel, 0) = 0
		    	GROUP BY dnid
		    ) tc ON a.id = tc.dnid	
	        WHERE isnull(A.IsCancel,0)=0
	        AND A.LastStatus='confirm_paid'
	        GROUP BY A.PromoId
	    ) C	on b.Id=C.PromoId
		WHERE a.AllocationId=@budgetid
			AND
			EXISTS
			(
				SELECT Id FROM vw_budget_last_layer xx WHERE xx.Id=a.AllocationId
			)
		) X
		GROUP BY
		AllocationId,
		SubCategoryId,
		InitialAmount,
		ReserveAmount,
		UseAmount
	
	
	) XX on bal.AllocationId=XX.AllocationId AND bal.SubCategoryId=XX.SubCategoryId
	WHERE bal.AllocationId=@budgetid
	FETCH NEXT FROM cur INTO @budgetid
	END
	
	CLOSE cur;
	DEALLOCATE cur;
	
	
	
	
	insert into @errtemp
	SELECT A.RefId,'successfully closed'
	FROM tbtrx_promo A
	INNER JOIN @promoid B ON A.Id=B.keyid
	LEFT JOIN @errtemp t ON A.RefId=t.doc
	LEFT JOIN
	(
		SELECT PromoId,SUM(TotalClaim) TotalClaim
		FROM tbtrx_debetnote A
		WHERE isnull(IsCancel,0)=0
		AND LastStatus='confirm_paid'
		GROUP BY PromoId
	) C	on A.Id=C.PromoId
	WHERE NOT EXISTS (
		SELECT PromoId
		FROM tbtrx_debetnote dn with (nolock)
		WHERE dn.PromoId=A.Id
		and isnull(dn.IsCancel,0)=0
		and dn.LastStatus <> 'confirm_paid'
	)
		AND NOT EXISTS(
		SELECT Id FROM
		[dbo].[tbtrx_promo_request_approval_recon] a
		INNER JOIN [dbo].[tbtrx_promo_approval_recon] b on a.Id=b.RequestId
		WHERE isnull(a.IsCancel,0)=0 AND b.[Status] <> 'TP2' AND A.Id=a.ParentId
	)
	AND t.doc is null
	
	SELECT * FROM @errtemp

COMMIT
EXEC ip_recalculate_balance_by_id @budgetid
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
