USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dashboard_dn]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_dn] --'2020-01-01',0,'','','PY1','scsh1', 2, 0
@periode varchar(6)
,@entity int
,@channel varchar(20)
,@account varchar(20)
,@paymentstatus varchar(20)
,@userid varchar(50)
,@distributorid int
,@dnpromo int
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
	LGP 14-02-2020 : Update value
	EJ 2020-02-24 : add distributor for filter
*/
--@dnpromo 0 = all, 1 = promo, 2 = non promo
BEGIN
		
	declare @DNMonitoring table 
	(
		[nourut] int,
		[days] [varchar](50),
		[SGM] [numeric](19, 2),
		[NIS] [numeric](19, 2),
		[NMN] [numeric](19, 2)
	)
	declare @DNMonitoringSUM table 
	(
		[nourut] int,
		[days] [varchar](50),
		[SGM] [numeric](19, 2),
		[NIS] [numeric](19, 2),
		[NMN] [numeric](19, 2)
	)

	DECLARE @initDNPromo int
	IF @dnpromo = 0
	BEGIN
		SET @initDNPromo = 3
	END
	IF @dnpromo = 1
	BEGIN
		SET @initDNPromo = 1
	END
	IF @dnpromo = 2
	BEGIN
		SET @initDNPromo = 0
	END

	INSERT INTO @DNMonitoring
	SELECT 
	1, '0-30 days' as [days]
	, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=0 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=30 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END SGM
	, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=0 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=30 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NIS
	, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=0 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=30 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NMN
	--SELECT 
	--'0-30 days' as [days]
	--, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=0 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=30 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END SGM
	--, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=0 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=30 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NIS
	--, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=0 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=30 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NMN
--	,'#ffe3ed' color
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN tbtrx_debetnote_his b on a.id=b.DNId and isnull(b.is_cancel,0)=0
	WHERE isnull(IsCancel,0)=0
	AND IIF(@distributorid='0','0',@distributorid)=IIF(@distributorid='0','0', DistributorId)
	AND IIF(@paymentstatus='PY1','LastStatus','0') = IIF(@paymentstatus='PY1','confirm_paid', '0')
	AND LastStatus IN ('received_by_danone','validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	AND IIF(@initDNPromo=3,0, isnull(a.IsDNPromo, 0)) = IIF(@initDNPromo=3,0, @initDNPromo) 
	GROUP BY a.PrincipalShortDesc
	
	INSERT INTO @DNMonitoring
	SELECT 
	2, '31 - 60 days' as [days]
	, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=31 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=60 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END SGM
	, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=31 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=60 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NIS
	, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=31 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=60 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NMN
	--SELECT 
	--'31 - 60 days' as [days]
	--, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=31 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=60 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END SGM
	--, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=31 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=60 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NIS
	--, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=31 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=60 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NMN
--	,'#ffac8e' color
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN tbtrx_debetnote_his b on a.id=b.DNId and isnull(b.is_cancel,0)=0
	WHERE isnull(IsCancel,0)=0
	AND IIF(@distributorid='0','0',@distributorid)=IIF(@distributorid='0','0', DistributorId)
	AND IIF(@paymentstatus='PY1','LastStatus','0') = IIF(@paymentstatus='PY1','confirm_paid', '0')
	AND LastStatus IN ('received_by_danone','validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	AND IIF(@initDNPromo=3,0, isnull(a.IsDNPromo, 0)) = IIF(@initDNPromo=3,0, @initDNPromo) 
	GROUP BY a.PrincipalShortDesc
	
	INSERT INTO @DNMonitoring
	SELECT 3, '61 - 90 days' as [days]
	, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=61 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=90 THEN a.DNNumber ELSE 0 END),0)
	  ELSE 0 END SGM
	, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=61 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=90 THEN a.DNNumber ELSE 0 END),0)
	  ELSE 0 END NIS
	, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=61 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=90 THEN a.DNNumber ELSE 0 END),0)
	  ELSE 0 END NMN
	--SELECT '61 - 90 days' as [days]
	--, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=61 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=90 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END SGM
	--, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=61 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=90 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NIS
	--, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=61 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=90 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NMN
--	,'#ff6f5e' color
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN tbtrx_debetnote_his b on a.id=b.DNId and isnull(b.is_cancel,0)=0
	WHERE isnull(IsCancel,0)=0
	AND IIF(@distributorid='0','0',@distributorid)=IIF(@distributorid='0','0', DistributorId)
	AND IIF(@paymentstatus='PY1','LastStatus','0') = IIF(@paymentstatus='PY1','confirm_paid', '0')
	AND LastStatus IN ('received_by_danone','validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	AND IIF(@initDNPromo=3,0, isnull(a.IsDNPromo, 0)) = IIF(@initDNPromo=3,0, @initDNPromo) 
	GROUP BY a.PrincipalShortDesc
	
	INSERT INTO @DNMonitoring
	SELECT 4, '91 - 120 days' as [days]
	, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=91 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=120 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END SGM
	, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=91 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=120 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NIS
	, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=91 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=120 THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NMN
	--SELECT '91 - 120 days' as [days]
	--, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=91 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=120 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END SGM
	--, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=91 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=120 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NIS
	--, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=91 AND datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) <=120 THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NMN
--	,'#a35638' color
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN tbtrx_debetnote_his b on a.id=b.DNId and isnull(b.is_cancel,0)=0
	WHERE isnull(IsCancel,0)=0
	AND IIF(@distributorid='0','0',@distributorid)=IIF(@distributorid='0','0', DistributorId)
	AND LastStatus IN ('received_by_danone','validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	AND IIF(@initDNPromo=3,0, isnull(a.IsDNPromo, 0)) = IIF(@initDNPromo=3,0, @initDNPromo) 
	GROUP BY a.PrincipalShortDesc
	
	INSERT INTO @DNMonitoring
	SELECT 5, '> 120 days' as [days]
	, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=120  THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END SGM
	, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=120  THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NIS
	, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
		ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=120  THEN a.DNAmount ELSE 0 END),0)
	  ELSE 0 END NMN
	--SELECT '> 120 days' as [days]
	--, CASE WHEN a.PrincipalShortDesc='SGM' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=120  THEN 1 ELSE 0 END),0)
	--  ELSE 0 END SGM
	--, CASE WHEN a.PrincipalShortDesc='NIS' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=120  THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NIS
	--, CASE WHEN a.PrincipalShortDesc='NMN' THEN 
	--	ISNULL(SUM(CASE WHEN datediff(day,b.received_by_danone_on,isnull(b.confirm_paid_on,@utcDate123)) >=120  THEN 1 ELSE 0 END),0)
	--  ELSE 0 END NMN
--	,'#f0134d' color
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN tbtrx_debetnote_his b on a.id=b.DNId and isnull(b.is_cancel,0)=0
	WHERE isnull(IsCancel,0)=0
	AND IIF(@distributorid='0','0',@distributorid)=IIF(@distributorid='0','0', DistributorId)
	AND IIF(@paymentstatus='PY1','LastStatus','0') = IIF(@paymentstatus='PY1','confirm_paid', '0')
	AND LastStatus IN ('received_by_danone','validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	AND IIF(@initDNPromo=3,0, isnull(a.IsDNPromo, 0)) = IIF(@initDNPromo=3,0, @initDNPromo) 
	GROUP BY a.PrincipalShortDesc
	
INSERT INTO @DNMonitoringSUM
SELECT nourut, days, sum(SGM) as SGM, sum(NIS) as NIS, sum(NMN) as NMN FROM @DNMonitoring GROUP BY nourut, days

SELECT days, SGM, NIS, NMN FROM @DNMonitoringSUM ORDER BY nourut

SELECT 
CAST(dn_created_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_created_amt) AS CHAR) total_dn_created,
CAST(dn_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_paid_amt) AS CHAR) total_dn_paid,
CAST(dn_created_doc- dn_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_created_amt-dn_paid_amt) AS CHAR) total_dn_remaining,


CAST(dn_promo_created_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_promo_created_amt) AS CHAR) total_dn_promo_created,
CAST(dn_promo_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_promo_paid_amt) AS CHAR) total_dn_promo_paid,
CAST(dn_promo_created_doc- dn_promo_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_promo_created_amt-dn_promo_paid_amt) AS CHAR) total_dn_promo_remaining,

CAST(dn_non_promo_created_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_non_promo_created_amt) AS CHAR) total_dn_non_promo_created,
CAST(dn_non_promo_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_non_promo_paid_amt) AS CHAR) total_dn_non_promo_paid,
CAST(dn_non_promo_created_doc- dn_non_promo_paid_doc AS VARCHAR) +  ' DN / ' + CAST(dbo.udf_Num_ToWord(dn_non_promo_created_amt-dn_non_promo_paid_amt) AS CHAR) total_dn_non_promo_remaining


FROM
(
	SELECT 
    SUM(CASE WHEN 
		LastStatus='received_by_danone' 
		OR LastStatus='validate_by_danone'
		OR LastStatus='ready_to_invoice'
		OR LastStatus='invoice'
		OR LastStatus='confirm_paid' 
	THEN 1 ELSE 0 END) dn_created_doc,
	SUM(
	CASE WHEN 
		LastStatus='received_by_danone' 
		OR LastStatus='validate_by_danone'
		OR LastStatus='ready_to_invoice'
		OR LastStatus='invoice'
		OR LastStatus='confirm_paid' 
	THEN a.TotalClaim ELSE 0 END) dn_created_amt,
	SUM(CASE WHEN LastStatus='confirm_paid' THEN 1 ELSE 0 END) dn_paid_doc ,
	SUM(CASE WHEN LastStatus='confirm_paid' THEN a.TotalClaim ELSE 0 END) dn_paid_amt ,

	SUM(CASE WHEN 
		(LastStatus='received_by_danone' 
		OR LastStatus='validate_by_danone'
		OR LastStatus='ready_to_invoice'
		OR LastStatus='invoice'
		OR LastStatus='confirm_paid' )
		AND IsDnPromo=1 THEN 1 ELSE 0 END) dn_promo_created_doc,
	SUM(
	CASE WHEN 
		(LastStatus='received_by_danone' 
		OR LastStatus='validate_by_danone'
		OR LastStatus='ready_to_invoice'
		OR LastStatus='invoice'
		OR LastStatus='confirm_paid' )
		AND IsDnPromo=1
	THEN a.TotalClaim ELSE 0 END) dn_promo_created_amt,
	SUM(CASE WHEN LastStatus='confirm_paid' AND IsDnPromo=1 THEN 1 ELSE 0 END) dn_promo_paid_doc ,
	SUM(CASE WHEN LastStatus='confirm_paid' AND IsDnPromo=1 THEN a.TotalClaim ELSE 0 END) dn_promo_paid_amt ,

SUM(CASE WHEN 
		(LastStatus='received_by_danone' 
		OR LastStatus='validate_by_danone'
		OR LastStatus='ready_to_invoice'
		OR LastStatus='invoice'
		OR LastStatus='confirm_paid' )
		AND IsDnPromo=0 THEN 1 ELSE 0 END) dn_non_promo_created_doc,
	SUM(
	CASE WHEN 
		(LastStatus='received_by_danone' 
		OR LastStatus='validate_by_danone'
		OR LastStatus='ready_to_invoice'
		OR LastStatus='invoice'
		OR LastStatus='confirm_paid' )
		AND IsDnPromo=0
	THEN a.TotalClaim ELSE 0 END) dn_non_promo_created_amt,
	SUM(CASE WHEN LastStatus='confirm_paid' AND IsDnPromo=0 THEN 1 ELSE 0 END) dn_non_promo_paid_doc ,
	SUM(CASE WHEN LastStatus='confirm_paid' AND IsDnPromo=0 THEN a.TotalClaim ELSE 0 END) dn_non_promo_paid_amt

	FROM tbtrx_debetnote a
	INNER JOIN tbtrx_debetnote_his b on a.id=b.DNId and isnull(b.is_cancel,0)=0
	WHERE isnull(IsCancel,0)=0
	AND IIF(@distributorid='0','0',@distributorid)=IIF(@distributorid='0','0', DistributorId)
) DN


SELECT distinct c.ChannelId,d.LongDesc ChannelDesc from tbtrx_allocation a with (nolock)
INNER JOIN tbtrx_allocation_useraccess b with (nolock) on a.Id=AllocationId
inner join tbtrx_allocation_channel c with (nolock) on a.Id=c.AllocationId
inner join tbmst_channel d with (nolock) on c.ChannelId=d.Id
where b.Userid=@userid

SELECT distinct c.AccountId,d.LongDesc AccountDesc from tbtrx_allocation a with (nolock)
INNER JOIN tbtrx_allocation_useraccess b with (nolock) on a.Id=AllocationId
inner join tbtrx_allocation_account c with (nolock) on a.Id=c.AllocationId
inner join tbmst_account d with (nolock) on c.AccountId=d.Id
where b.Userid=@userid


select StatusCode,StatusDesc from [dbo].[tbmst_master_status]
where StatusType='PAY' AND IsActive=1 ORDER BY StatusSeq


END





GO
