

/****** Object:  StoredProcedure [dbo].[ip_select_region]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_select_region]
	-- Add the parameters for the stored procedure here
	@ID			VARCHAR(10),
	@NAME		VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 
		Id,
		RefId,
		LongDesc,
		isnull(ShortDesc,'') as ShortDesc,
		IsActive
	FROM [dbo].[tbmst_region] WITH(NOLOCK)
	WHERE isnull(IsDelete,0)=0 
		AND (ISNULL(@ID,'')='' OR Id=@ID)
		AND (ISNULL(@NAME,'')='' OR LongDesc LIKE @NAME)

END


GO
