USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_get_investment_type]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_get_investment_type]
@subactivityid int
AS
BEGIN
	select tmit.id,tmit.SubactivityId, tmit.InvestmentTypeId, tit.RefId InvestmentTypeRefId, tit.LongDesc InvestmentTypeDesc
	from tbset_map_investment_type tmit
	inner join tbmst_investment_type tit on tmit.InvestmentTypeId = tit.id
	WHERE tmit.SubactivityId = @subactivityid
	AND isnull(tit.IsDeleted,0)=0

-- 	select tit.id, 0 SubactivityId, tit.id InvestmentTypeId, tit.RefId InvestmentTypeRefId, tit.LongDesc InvestmentTypeDesc
-- 	from tbmst_investment_type tit
--     where tit.id=@subactivityid
END
GO
