USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_doc_completeness]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_debetnote_list_doc_completeness] --'xvamain','validate_by_finance',2,2,'0'
@status varchar(50),
@userid varchar(50),
@entityid int,
@distributorid int,
@TaxLevel varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid
		,IIF(a.StatusSalesCode='TP2', 'received_by_danone', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(a.IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo
		,a.IntDocNo
	--	,a.TaxLevel
		,a.Notes
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark by Sales', 'No'))) SalesValidationStatus
	 	,a.FPNumber
	 	,a.FPDate
	 	,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired
	 	,isnull(a.VATExpired, 0) DNVATExpired
        ,doc.Original_Invoice_from_retailers
        ,doc.Tax_Invoice
        ,doc.Promotion_Agreement_Letter
        ,doc.Trading_Term
        ,doc.Sales_Data
        ,doc.Copy_of_Mailer
        ,doc.Copy_of_Photo_Doc
        ,doc.List_of_Transfer
	 	,his.validate_by_finance_by
	 	,his.username validate_by_finance_username
	 	,his.validate_by_finance_on
		from tbtrx_debetnote a
        INNER JOIN (
            select a.dnid, a.validate_by_finance_by, max(a.validate_by_finance_on) validate_by_finance_on, b.username
            from tbtrx_debetnote_his a
            inner join tbset_user b on a.validate_by_finance_by=b.id
            group by a.dnid, a.validate_by_finance_by, b.username
        ) his on a.id=his.DNId
		LEFT JOIN tbtrx_debetnote_doc_completeness doc on a.id=doc.DNId
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		where
-- 		a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance')
		a.LastStatus IN ('validate_by_finance', 'validate_by_danone','ready_to_invoice', 'invoice', 'confirm_paid')
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0 and isnull(a.IsDNPromo,0)=1
		AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
		--AND IIF(@status='validate_by_finance','',@TaxLevel)=IIF(@status='validate_by_finance','',a.TaxLevel)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
        AND IIF(@userid='admin','',b.CreateBy)= IIF(@userid='admin','',@userid)
END
GO
