

/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list_p] 
	 @periode  varchar(4),
	 @entity int,
	 @distributor int,
	 @channel int,
	 @account int,
	 @userid varchar(50),
	 @isdnmanual bit,

	 @start int,
	 @length int,
	 @filter varchar(255),
	 @txtSearch varchar(255)

AS

--DECLARE 
--	 @periode  varchar(4),
--	 @entity int,
--	 @distributor int,
--	 @channel int,
--	 @account int,
--	 @userid varchar(50),
--	 @isdnmanual bit,

--	 @start int,
--	 @length int,
--	 @filter varchar(255),
--	 @txtSearch varchar(255)

 
--	SET @periode ='2032'
--	SET @entity = 0
--	SET @distributor =0
--	SET @channel = 0
--	SET @account=0
--	set @userid ='admin'
--	SET @isdnmanual = 0

--	SET @start =0
--	SET @length =-1
--	SET @filter =''
--	SET @txtSearch =''
BEGIN
    drop table if exists #temp_result1;        
    drop table if exists #temp_result2;    
	DROP TABLE IF EXISTS #tmp_dn_overbudget
	
/* statu overbudget DN ******************************************************/
	SELECT a.id, iif(isnull(a.isoverbudget, 0) = 0, 0, iif(pr.Investment<>pr.investmentForDN, 2, 1)) isOverBudget
    INTO #tmp_dn_overbudget
    FROM tbtrx_debetnote a WITH (NOLOCK)
    INNER JOIN tbtrx_promo pr WITH (NOLOCK) on a.PromoId=pr.Id
    WHERE ISNULL(a.IsCancel, 0) = 0
		AND ISNULL(a.IsDNPromo,0)=1
   	    AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
    	AND a.Periode = @periode
	    AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
	    AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)

   
	DECLARE @recordsFiltered int;
	DECLARE @profitcenter varchar(10)

	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
	
	IF isnull(@profitcenter,'')='1100'
	BEGIN
		SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.dpp
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid
	--	,IIF(a.StatusSalesCode='TP2', 'validate_by_sales', a.LastStatus) LastStatus
		,a.LastStatus
		,a.IsFreeze
		,a.CreateOn
		,a.CreateBy
		,a.IsOverBudget
		,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
		,a.AssignBy
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,c.Id EntityId
		,c.LongDesc EntityLongDesc
		,c.ShortDesc EntityShortDesc
		,a.MemDocNo
		,a.IntDocNo
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.IsDNPromo
		,isnull(docFile.docCount, 0) as docCount
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
		,d.actionOn SalesValidationStatusOn
		,account.id AccountId
		,account.longdesc Account		
	--	,a.AccountId SubAccountId
	--	,ts.LongDesc SubAccount
		,subaccount.SubAccountId
		,subaccount.LongDesc SubAccount
		,tdh.validate_by_finance_by
		,tdh.validate_by_finance_on
		,tdh.validate_by_sales_by
		,tdh.validate_by_sales_on
		,tdh.confirm_paid_by
		,tdh.confirm_paid_on
		,a.FPNumber
		,a.FPDate
		,isnull(a.IsCancel,0) IsCancel 
		,a.notes
--		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), tc.longDesc) dnCategory
		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), iif(isnull(a.promoid, 0) = 0, 'DN Manual', tc.longDesc)) dnCategory
		INTO #temp_result1
		from tbtrx_debetnote a WITH (NOLOCK)
		LEFT JOIN 
		(
			SELECT a.id dnid, d.accountid, c.SubAccountId, d.LongDesc
			FROM tbtrx_debetnote a WITH (NOLOCK)
			INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id and isnull(b.CategoryShortDesc,'')<>'DC'
			INNER JOIN tbtrx_promo_subaccount c WITH (NOLOCK) ON b.id = c.PromoId 
			INNER JOIN tbmst_subaccount d WITH (NOLOCK) ON c.SubAccountId = d.id
			UNION ALL
			SELECT a.id dnid, b.accountid, a.AccountId SubAccountId, b.LongDesc
			FROM tbtrx_debetnote a WITH (NOLOCK)
			LEFT JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
			WHERE isnull(promoid, 0) = 0
			UNION ALL
			SELECT a.id dnid, 0 accountid, 0 SubAccountId, '---' LongDesc
			FROM tbtrx_debetnote a WITH (NOLOCK)
			INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id and isnull(b.CategoryShortDesc,'')='DC'
		) subaccount ON a.id=subaccount.dnid
		LEFT JOIN tbmst_account account WITH (NOLOCK) ON subaccount.accountid=account.id
		inner join tbtrx_debetnote_his tdh WITH (NOLOCK) ON a.id=tdh.DNId
		LEFT JOIN (
			select dnid, count(DocLink) as docCount from tbtrx_dn_doclink WITH (NOLOCK) group by dnid
		) docFile on a.Id = docFile.dnid
		LEFT JOIN tbset_mapping_material tmm WITH (NOLOCK) on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b WITH (NOLOCK) on a.PromoId=b.Id
		LEFT JOIN tbmst_category tc on b.categoryId = tc.id
		LEFT JOIN tbmst_principal c WITH (NOLOCK) on a.PrincipalId=c.Id
		LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
	    LEFT JOIN
	        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
	        from tbhis_debetnote_sales_log WITH (NOLOCK)
	        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
		WHERE 
	        IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    	AND a.Periode = @periode
		    AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
		    AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
		    AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
	
		        /**********************
		            start pagination
		        **********************/
		    IF @length = -1
		        BEGIN
		            IF @txtSearch is null
		            BEGIN
		                SELECT * FROM #temp_result1
		                ORDER BY id ASC
		            END
		            ELSE
		            BEGIN
		                SELECT * FROM #temp_result1
		                WHERE
		                    (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (refId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityLongDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (SubAccount like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
		                    (ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			                (IntDocNo like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MemDocNo like '%' + isnull(@txtSearch,'') + '%')
		                ORDER BY Id ASC
		            END
		        END
		        ELSE
		        BEGIN
		            IF @txtSearch is null
		            BEGIN
		                SELECT * FROM #temp_result1
		                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
		            END
		            ELSE
		            BEGIN
		                SELECT * FROM #temp_result1
		                WHERE
		                    (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (refId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityLongDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (SubAccount like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
		                    (ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			                (IntDocNo like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MemDocNo like '%' + isnull(@txtSearch,'') + '%')
		                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
		            END
		        END
		        SET @recordsFiltered =
					(
					SELECT isnull(count(id),0)
					FROM #temp_result1
		            WHERE
		                    (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (refId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityLongDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (SubAccount like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
		                    (ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			                (IntDocNo like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MemDocNo like '%' + isnull(@txtSearch,'') + '%')
					)
	
		        SELECT isnull(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result1
		     drop table #temp_result1
		        /**********************
		            end pagination
		        **********************/
	END
	ELSE
	BEGIN
		SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.dpp
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid
		,a.LastStatus
		,a.IsFreeze
		,a.CreateOn
		,a.CreateBy
		,a.IsOverBudget
		,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
		,a.AssignBy
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,c.Id EntityId
		,c.LongDesc EntityLongDesc
		,c.ShortDesc EntityShortDesc
		,a.MemDocNo
		,a.IntDocNo
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.IsDNPromo
		,isnull(docFile.docCount, 0) as docCount
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
		,d.actionOn SalesValidationStatusOn
		,account.id AccountId
		,account.longdesc Account		
	--	,a.AccountId SubAccountId
	--	,ts.LongDesc SubAccount
		,subaccount.SubAccountId
		,subaccount.LongDesc SubAccount
		,tdh.validate_by_finance_by
		,tdh.validate_by_finance_on
		,tdh.validate_by_sales_by
		,tdh.validate_by_sales_on
		,tdh.confirm_paid_by
		,tdh.confirm_paid_on
	    ,a.FPNumber
		,a.FPDate
		,isnull(a.IsCancel,0) IsCancel 
		,a.notes
--		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), tc.longDesc) dnCategory
		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), iif(isnull(a.promoid, 0) = 0, 'DN Manual', tc.longDesc)) dnCategory
		INTO #temp_result2
		from tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN 
		(
			SELECT a.id dnid, d.accountid, c.SubAccountId, d.LongDesc
			FROM tbtrx_debetnote a WITH (NOLOCK)
			INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id and b.CategoryShortDesc<>'DC'
			INNER JOIN tbtrx_promo_subaccount c WITH (NOLOCK) ON b.id = c.PromoId 
			INNER JOIN tbmst_subaccount d WITH (NOLOCK) ON c.SubAccountId = d.id
			UNION ALL
			SELECT a.id dnid, b.accountid, a.AccountId SubAccountId, b.LongDesc
			FROM tbtrx_debetnote a WITH (NOLOCK)
			LEFT JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
			WHERE isnull(promoid, 0) = 0
			UNION ALL
			SELECT a.id dnid, 0 accountid, 0 SubAccountId, '---' LongDesc
			FROM tbtrx_debetnote a WITH (NOLOCK)
			INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id and b.CategoryShortDesc='DC'

		) subaccount ON a.id=subaccount.dnid
		left join tbmst_account account WITH (NOLOCK) ON subaccount.accountid=account.id
		inner join tbtrx_debetnote_his tdh WITH (NOLOCK) ON a.id=tdh.DNId
		LEFT JOIN (
			select dnid, count(DocLink) as docCount from tbtrx_dn_doclink WITH (NOLOCK) group by dnid
		) docFile on a.Id = docFile.dnid
		LEFT JOIN tbset_mapping_material tmm WITH (NOLOCK) on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b WITH (NOLOCK) on a.PromoId=b.Id
		LEFT JOIN tbmst_category tc on b.categoryId = tc.id
		LEFT JOIN tbmst_principal c WITH (NOLOCK) on a.PrincipalId=c.Id
		LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
	    LEFT JOIN
	        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
	        from tbhis_debetnote_sales_log WITH (NOLOCK)
	        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
		where
	        IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
		    AND a.Periode = @periode
		    AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
		    AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
		    AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)	AND a.AreaCode=@profitcenter
	
	        /**********************
	            start pagination
	        **********************/
	        IF @length = -1
	        BEGIN
	            IF @txtSearch is null
	            BEGIN
	        SELECT * FROM #temp_result2
	                ORDER BY id ASC
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result2
	                WHERE
		                    (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (refId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityLongDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (SubAccount like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
		                    (ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			                (IntDocNo like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MemDocNo like '%' + isnull(@txtSearch,'') + '%')
	                ORDER BY Id ASC
	            END
	        END
	        ELSE
	        BEGIN
				IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result2
	              ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result2
	                WHERE
		                    (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
		         (refId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityLongDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (SubAccount like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
		                    (ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			                (IntDocNo like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MemDocNo like '%' + isnull(@txtSearch,'') + '%')
	                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	        END
	        SET @recordsFiltered =
				(
				SELECT isnull(count(id),0)
				FROM #temp_result2
	            WHERE
		                    (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (refId like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityLongDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR
		                    (SubAccount like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
		                    (ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			                (IntDocNo like '%' + isnull(@txtSearch,'') + '%') OR
		                    (MemDocNo like '%' + isnull(@txtSearch,'') + '%')
				)

	        SELECT isnull(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result2
	        drop table #temp_result2
	        /**********************
	            end pagination
	        **********************/		
	END
END

GO
