

/****** Object:  StoredProcedure [dbo].[ip_conf_latepromocreation]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_conf_latepromocreation]
AS
BEGIN
    select id, remindertype, category, Description, daysfrom days
    from tbset_config_reminder where remindertype=500
    and id=502
    order by id
END

GO
