

/****** Object:  StoredProcedure [dbo].[ip_tools_promo_approval_reminder_regular_send]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_tools_promo_approval_reminder_regular_send]
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
	DECLARE @dt1 int, @dt2 int, @yperiod int, @mperiod1 int, @mperiod2 int, @eod int, @autorun int
	
	SELECT TOP 1 @dt1 = dt1, @dt2 = dt2, @eod = eod, @autorun = autorun FROM tbset_tools_promo_approval_reminder
	
	SET @yperiod = YEAR(@utcDate123)
	SET @mperiod1 = MONTH(@utcDate123)
	SET @mperiod2 = MONTH(@utcDate123) + 1
	IF @mperiod2 = 13
	BEGIN 
		SET @mperiod2 = 1
	END
	
	IF @eod = 1
	BEGIN 
		SET @dt2 = DAY(EOMONTH(@utcDate123))
	END
	
	SELECT email FROM tbset_tools_promo_approval_reminder_email 
	IF @autorun = 1 AND (DAY(@utcDate123) = @dt1 OR DAY(@utcDate123) = @dt2)
	BEGIN
		exec ip_tools_promo_approval_reminder @yperiod, @mperiod1, @mperiod2
	END
	ELSE 
	BEGIN 
		exec ip_tools_promo_approval_reminder 1900, 1, 1
	END
END
GO
