USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_submission_static]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_list_submission_static]
@period varchar(6)
,@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	DECLARE @submission_day int;
   	SET @submission_day = (select daysfrom  from tbset_config_reminder tcr where id=502)
   	
   	DELETE FROM tbtrx_promo_submission_static WHERE period=@period
   	/* insert promo bukan DC */
   	INSERT INTO tbtrx_promo_submission_static
	SELECT
		LEFT(CONVERT(varchar, pr.CreateOn,112),6) period
		,CAST(DATENAME(month, pr.CreateOn) AS CHAR(3)) AS MonthName
		,pr.id promoid
		,tpc.ChannelId
	    ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(excpt.PromoId, 0)<>0,1,0) OnTime
	    ,excpt.Reason 
	    ,@utcDate123
	    ,@userid
		FROM tbtrx_promo pr
		INNER JOIN tbmst_category mc on pr.categoryid = mc.id
		INNER JOIN tbtrx_promo_channel tpc on pr.id=tpc.PromoId 
        LEFT JOIN tbtemp_promo_submission_exception excpt on pr.id=excpt.PromoId --and excpt.idx=@userid
        WHERE isnull(pr.IsCancel, 0) = 0
	        AND LEFT(CONVERT(varchar, pr.CreateOn,112),6) = @period
	        AND mc.ShortDesc <> 'DC'

   	/* insert promo DC single channel */
   	INSERT INTO tbtrx_promo_submission_static
	SELECT
		LEFT(CONVERT(varchar, pr.CreateOn,112),6) period
		,CAST(DATENAME(month, pr.CreateOn) AS CHAR(3)) AS MonthName
		,pr.id promoid
		,tpc.ChannelId
	    ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(excpt.PromoId, 0)<>0,1,0) OnTime
	    ,excpt.Reason 
	    ,@utcDate123
	    ,@userid
		FROM tbtrx_promo pr
		INNER JOIN tbmst_category mc on pr.categoryid = mc.id
		INNER JOIN tbtrx_promo_channel tpc on pr.id=tpc.PromoId 
		INNER JOIN (
			SELECT promoid, count(channelid) chncount from tbtrx_promo_channel
			GROUP BY promoid
			HAVING count(channelid) = 1
		) mchn ON pr.id=mchn.promoid
        LEFT JOIN tbtemp_promo_submission_exception excpt on pr.id=excpt.PromoId --and excpt.idx=@userid
        WHERE isnull(pr.IsCancel, 0) = 0
	        AND LEFT(CONVERT(varchar, pr.CreateOn,112),6) = @period
	        AND mc.ShortDesc = 'DC'

   	/* insert promo DC multi channel */
   	INSERT INTO tbtrx_promo_submission_static
	SELECT
		LEFT(CONVERT(varchar, pr.CreateOn,112),6) period
		,CAST(DATENAME(month, pr.CreateOn) AS CHAR(3)) AS MonthName
		,pr.id promoid
		,tpc.id ChannelId
	    ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(excpt.PromoId, 0)<>0,1,0) OnTime
	    ,excpt.Reason 
	    ,@utcDate123
	    ,@userid
		FROM tbtrx_promo pr
		INNER JOIN tbmst_category mc on pr.categoryid = mc.id
		CROSS JOIN tbmst_channel tpc
		INNER JOIN (
			SELECT promoid, count(channelid) chncount from tbtrx_promo_channel
			GROUP BY promoid
			HAVING count(channelid) > 1
		) mchn ON pr.id=mchn.promoid
        LEFT JOIN tbtemp_promo_submission_exception excpt on pr.id=excpt.PromoId --and excpt.idx=@userid
        WHERE isnull(pr.IsCancel, 0) = 0
	        AND LEFT(CONVERT(varchar, pr.CreateOn,112),6) = @period
	        AND mc.ShortDesc = 'DC'
	        AND tpc.ShortDesc = 'ALL'
	        
END

GO
