

/****** Object:  StoredProcedure [dbo].[ip_promo_budget_deploy_update_status]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_budget_deploy_update_status]
	@batchid varchar(255)
	, @profileid varchar(100)
	, @useremail varchar(100)

AS

--DECLARE 
--	@batchid varchar(255)
--	, @profileid varchar(100)
--	, @useremail varchar(100)

--	SET @batchid = '20241123153945'
--	SET @profileid = 'xvamain'
--	SET @useremail = 'lukman.handrianto@xvautomation.com'

--	--EXEC ip_promo_budget_deploy_update_status
--	--	@batchid 
--	--	, @profileid 
--	--	, @useremail 


BEGIN
	DROP TABLE IF EXISTS #tmpSendEmail

	DECLARE @promoid arrayinttype 

	INSERT INTO @promoid (keyid) SELECT PromoId FROM tbtrx_promo_budget_status WHERE batchiddeploy=@batchid AND Approved = 1 AND Deployed=0

	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE @cpromoid INT
		,@matrixid INT
		,@EntityId INT
		,@DistributorId INT
		,@SubActivityType INT
		,@ChannelId INT
		,@SubChannelId INT
		,@Initiator varchar(100)
		,@cost float
		,@CategoryId INT
		,@RequestId INT
		,@p_reqid INT
		,@categoryShortDesc varchar(50)

	DECLARE @promoidmatrixnotfound AS TABLE (
		promoid INT
		, promorefid varchar(50)
		, errmsg varchar(255)
		)

	SELECT
		'12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890' userIdInitiaator
		, '12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789090' userNameInitiaator
		,'12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890' emailInitiator
		,'12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890' userIdApprover
		,'12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890' userNameApprover
		,'12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890' emailApprover
		INTO #tmpSendEmail 
	
	DELETE FROM #tmpSendEmail

	BEGIN TRY
	BEGIN TRANSACTION


/*UPDATE STATUS DEPLOYED*/

	UPDATE prbs
		SET
			prbs.Deployed = 1
			, prbs.DeployedOn = @utcDate123
			, prbs.DeployedBy = @profileid
			, prbs.DeployedEmail = @useremail
	FROM tbtrx_promo_budget_status prbs
	INNER JOIN @promoid prid ON prbs.PromoId = prid.keyid
	WHERE prbs.Approved = 1 AND prbs.Deployed=0

/*SWITCH STATUS DRAFT >> WAITING FOR APPROVAL*/

	DECLARE promoid_cursor CURSOR FOR SELECT * FROM @promoid
	OPEN promoid_cursor
	FETCH NEXT FROM promoid_cursor INTO @cpromoid
	WHILE @@FETCH_STATUS = 0
		BEGIN
		--select @cpromoid
			SELECT 
					@EntityId = pr.EntityId
					,@DistributorId = pr.DistributorId
					,@SubActivityType = msact.SubActivityTypeId
					,@ChannelId = prcha.ChannelId
					,@SubChannelId = isnull(prsch.SubChannelId, 0)
					,@Initiator = pr.CreateBy
					,@cost = prcal.Cost
					,@CategoryId = pr.CategoryId
					,@categoryShortDesc = pr.CategoryShortDesc
				FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator prcal ON pr.Id=prcal.PromoId and pr.Id = @cpromoid
				INNER JOIN tbtrx_promo_channel prcha ON prcal.PromoId = prcha.PromoId
				LEFT JOIN tbtrx_promo_subchannel prsch ON prcha.PromoId = prsch.PromoId
				INNER JOIN tbmst_subactivity msact ON pr.SubActivityId = msact.Id

			/*GET MATRIX APPROVAL*/
			IF @categoryShortDesc = 'DC'
			BEGIN
				SELECT TOP 1
						@matrixid=tmpa.Id 
					FROM tbset_matrix_promo_approval tmpa
						--INNER JOIN tbmst_category c on tmpa.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@EntityId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						--AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @cost >= MinInvestment and @Cost <= MaxInvestment
						AND CategoryId = @CategoryId
			END
			ELSE
			BEGIN
				SELECT TOP 1
						@matrixid=tmpa.Id 
					FROM tbset_matrix_promo_approval tmpa
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@EntityId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @cost >= MinInvestment and @Cost <= MaxInvestment
						AND CategoryId = @CategoryId

			END

			/*INSERT KE TABLE REQUEST APPROVAL*/
			IF @matrixid IS NOT NULL
				BEGIN

					INSERT INTO [dbo].[tbtrx_promo_request_approval](
							[ParentId]
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[TotSales]
							,[TotInvest]
							,[Status]
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,[IsCancel]
							,[TsCoding]
							,[RequestEmail]
						)
						SELECT	
							@cpromoid
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[NormalSales] + [IncrSales]
							,[Investment]
							,'TP1'
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,0
							,TsCoding
							,@useremail
						FROM tbtrx_promo WHERE Id=@cpromoid

					SET @RequestId=(SELECT SCOPE_IDENTITY())

					/*INSERT KE TABLE APPROVAL*/
					INSERT INTO [dbo].[tbtrx_promo_approval]
									([RequestId]
									,[Sequence]
									,[UserApprover]
									,[Status]
									,[RequestDate]
									,[ActionDate]
									,[IsOnGoing]
									,UserApproverName
									, UserApproverEmail
									)
						SELECT @RequestId
									,a.SeqApproval
									,a.Approver
									,'TP1'
									,@utcDate123
									,@utcDate123
									,IIF(SeqApproval=1,1,0)
									,b.username
									,b.email
							FROM tbset_matrix_promo_approver a
							inner join tbset_user b on a.Approver=b.id
							where a.ParentId=@matrixId

					SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@cpromoid and IsCancel=0)

					UPDATE tbtrx_promo
						SET
									StatusApprovalCode=tbmst_master_status.StatusCode
									,StatusApproval=tbmst_master_status.StatusDesc
									,Approver=tbtrx_promo_approval.UserApprover
									,ApproverName=tbtrx_promo_approval.UserApproverName
									,ApproveOn=tbtrx_promo_approval.ActionDate
									,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
							from tbtrx_promo
							inner join tbtrx_promo_request_approval	on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
							inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
							inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
							where tbtrx_promo_request_approval.IsCancel=0
								and tbtrx_promo_approval.IsOnGoing=1
								AND RequestId=@p_reqid	

					INSERT INTO #tmpSendEmail (userIdInitiaator, userNameInitiaator, emailInitiator, userIdApprover, userNameApprover, emailApprover)
					SELECT
							pr.CreateBy 
							, a.username 
							,a.email 
							,b.Id 
							,b.username 
							,b.email 
					FROM tbtrx_promo pr
					LEFT join tbset_user a on pr.CreateBy=a.Id
					LEFT join tbset_user b on pr.Approver=b.Id
					where pr.Id=@cpromoid 

					END

			ELSE
				BEGIN
					INSERT INTO @promoidmatrixnotfound (promoid, promorefid, errmsg)
						SELECT @cpromoid, RefId, 'Matrix approval not found' FROM tbtrx_promo WHERE Id=@cpromoid
				END

			FETCH NEXT FROM promoid_cursor INTO @cpromoid
		END
	CLOSE promoid_cursor
    DEALLOCATE promoid_cursor

	COMMIT

	END TRY
		
		BEGIN CATCH
				ROLLBACK
					DECLARE @ErrorMessage NVARCHAR(4000);
					DECLARE @ErrorSeverity INT;
					DECLARE @ErrorState INT;

					SELECT
						@ErrorMessage = ERROR_MESSAGE(),
						@ErrorSeverity = ERROR_SEVERITY(),
						@ErrorState = ERROR_STATE();
					RAISERROR (@ErrorMessage, -- Message text.
							   @ErrorSeverity, -- Severity.
							   @ErrorState -- State.
				   );

		END CATCH

	SELECT * FROM @promoidmatrixnotfound

/*DUMMY*/
--INSERT INTO @promoid (keyid) VALUES (3506), (3511)
/*DUMMY*/

	SELECT
			pr.Id
			, pr.RefId
			, pr.CreateBy userIdInitiaator
			, a.username userNameInitiaator
			, a.email emailInitiator
			, b.Id userIdApprover
			, b.username userNameApprover
			, b.email emailApprover
			, pr.Investment cost
		FROM @promoid pid
		INNER JOIN tbtrx_promo pr ON pid.keyid = pr.Id
		LEFT join tbset_user a on pr.CreateBy=a.Id
		LEFT join tbset_user b on pr.Approver=b.Id
		WHERE pid.keyid NOT IN (SELECT promoid FROM @promoidmatrixnotfound)

	DROP TABLE IF EXISTS #tmpSendEmail
END
GO
