USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promoid_workflow_history]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promoid_workflow_history] 
	@RefId				varchar(30)
AS

--declare @RefId	varchar(30)
----set @RefId='SGM00005/AL25/RC' --3687
--set @RefId='SGM00009/AL25/DC' --3699

BEGIN
declare @Id	INT
select top 1 @Id=id from tbtrx_promo where RefId like '%'+@RefId+'%'

declare @tmphispromo TABLE(
	parentid int
	, dtime datetime
)

declare @tmphistory TABLE(
	[date] datetime
	, userid varchar(50)
	, loginemail varchar(100)
	, [status] varchar(100)
	, investment float
	, reason varchar(255)
)

INSERT INTO @tmphispromo
	SELECT b.id, b.actionon FROM tbhis_promo a INNER JOIN tbhis_promo_parent b ON a.ParentId=b.id and a.Id=@Id

/*CREATED*/
INSERT INTO @tmphistory	
	select pr.CreateOn [date], pr.CreateBy userid, pr.CreatedEmail loginemail, 'created' [status], pr.investment, '' reason
		from tbhis_promo pr 
		where pr.Id=@Id 
			AND ParentId = (SELECT MIN(ParentId) from tbhis_promo pr where pr.Id=@Id)

/*MODIFIED*/
INSERT INTO @tmphistory	
		select distinct pr.ModifiedOn [date], pr.ModifiedBy userid, b.createdemail loginemail, 'modified' [status], pr.investment, pr.ModifReason reason
			from tbhis_promo pr 
			inner join tbhis_promo_parent b on pr.parentid=b.id
			where pr.Id=@Id and ModifiedOn is not NULL and b.StatusAction <> 'Approval isFullyApproved'

/*CLOSURE*/
INSERT INTO @tmphistory	
		select pr.CloseOn [date], pr.CloseBy userid, pr.useremail loginemail, iif(isnull(isClose,0)=0, 'Reopen','Close') [status], pr.investment, '' reason
			from tbhis_promo_closure pr
			where promoid=@Id

/*CANCEL*/
INSERT INTO @tmphistory	
		select req.RequestDate [date], req.RequestBy userid, req.RequestEmail loginemail, 'Cancel request' [status], pr.investment, '' reason
			from tbtrx_promo_cancel_request req
			inner join tbtrx_promo pr on req.promoid=pr.id
			where req.PromoId=@Id 

INSERT INTO @tmphistory	
		select appr.ActionDate [date], appr.UserApprover userid, appr.ApproverEmail loginemail, IIF(appr.status='TP2', 'Cancelled' , 'Cancel request rejected') [status], pr.investment, '' reason
			from tbtrx_promo_cancel_request req
			inner join tbtrx_promo_cancel_approval appr on req.id=appr.RequestId
			inner join tbtrx_promo pr on req.promoid=pr.id
			where req.PromoId=@Id and appr.status<>'TP1'

/*APPROVAL*/
INSERT INTO @tmphistory	
		select distinct
			c.ActionDate [date], c.UserApprover userid, c.UserApproverEmail loginemail
			, IIF(c.status='TP2','approved',iif(c.status='TP3','sendback','')) [status]
			, b.totinvest investment 
			, '' reason
			from tbtrx_promo a 
			inner join tbtrx_promo_request_approval b on a.Id=b.ParentId 
			inner join tbtrx_promo_approval c on b.Id=c.RequestId
			where 
				a.Id=@Id 
				and c.Status<>'TP1'

INSERT INTO @tmphistory	
		select 
			c.ActionDate [date], c.UserApprover userid, c.UserApproverEmail loginemail
			, IIF(c.status='TP2','approved (cycle-2)',iif(c.status='TP3','sendback','')) [status]
			, b.totinvest investment 
			, '' reason
			from tbtrx_promo a 
			inner join tbtrx_promo_request_approval_recon b on a.Id=b.ParentId 
			inner join tbtrx_promo_approval_recon c on b.Id=c.RequestId
--			inner join tbset_user u on c.UserApprover = u.id
			where 
				a.Id=@Id 
				and c.Status<>'TP1'

INSERT INTO @tmphistory	
			SELECT 
					a.CreatedOn [date], a.CreatedBy userid, a.CreatedEmail loginemail, a.ChangeStatus [status], b.investment , a.ChangeReason reason 
				FROM tbhis_promo_matrix_changes a 
				INNER JOIN tbtrx_promo b ON a.PromoId = b.Id
				WHERE a.PromoID=@Id

/*BUDGET APPROVAL*/
/* Create History request budget approval sesuai batchid di tbtrx_promo_budget_status*/
INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approvalRequestOn [date], hbs.approvalRequestBy userid, hbs.approvalRequestEmail loginEmail
							, 'Requested for budget approval' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
								INNER JOIN tbtrx_promo_budget_status b on a.BatchId = b.BatchId
									where a.PromoId=@Id AND a.LastStatusCode = 'TP02'
										AND a.Approved1On IS NULL AND a.Approved1By IS NOT NULL
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT a.* FROM tbhis_promo_budget_status a 
					INNER JOIN tbtrx_promo_budget_status b on a.BatchId = b.BatchId
									where a.PromoId=@Id AND a.LastStatusCode = 'TP02'
										AND a.Approved1On IS NULL AND a.Approved1By IS NOT NULL
				)hbs ON hpr.Id=hbs.promoid

/* Create History request budget approval yang tidak ada di tbtrx_promo_budget_status */
INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approvalRequestOn [date], hbs.approvalRequestBy userid, hbs.approvalRequestEmail loginEmail
							, 'Requested for budget approval' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
								LEFT JOIN tbtrx_promo_budget_status b on a.BatchId = b.BatchId
									where a.PromoId=@Id AND a.LastStatusCode = 'TP02'
										AND a.Approved1On IS NULL AND a.Approved1By IS NOT NULL
										AND ISNULL(b.batchid, '') = ''
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT a.* FROM tbhis_promo_budget_status a 
					LEFT JOIN tbtrx_promo_budget_status b on a.BatchId = b.BatchId
									where a.PromoId=@Id AND a.LastStatusCode = 'TP02'
										AND a.Approved1On IS NULL AND a.Approved1By IS NOT NULL
										AND ISNULL(b.batchid, '') = ''
				)hbs ON hpr.Id=hbs.promoid

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approved1On [date], hbs.approved1By userid, hbs.Approved1Email loginEmail
							, 'Budget approved 1' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved1On
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT top 1 * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved1On
				)hbs ON hpr.Id=hbs.promoid

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approved2On [date], hbs.approved2By userid, hbs.Approved2Email loginEmail
							, 'Budget approved 2' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved2On
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved2On
				)hbs ON hpr.Id=hbs.promoid

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approved3On [date], hbs.approved3By userid, hbs.Approved3Email loginEmail
							, 'Budget approved 3' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved3On
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved3On
				)hbs ON hpr.Id=hbs.promoid			

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approved4On [date], hbs.approved4By userid, hbs.Approved4Email loginEmail
							, 'Budget approved 4' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved4On
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved4On
				)hbs ON hpr.Id=hbs.promoid	

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.approved5On [date], hbs.approved5By userid, hbs.Approved5Email loginEmail
							, 'Budget approved 5' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved5On
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id --AND LastStatusCode = 'TP02'
										AND a.ApprovedOn = Approved5On
				)hbs ON hpr.Id=hbs.promoid	

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.RejectedOn [date], hbs.RejectedBy userid, hbs.RejectedEmail loginEmail
							, 'Budget rejected' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id AND LastStatusCode = 'TP04'
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id AND LastStatusCode = 'TP04'
				)hbs ON hpr.Id=hbs.promoid	

INSERT INTO @tmphistory	
			SELECT DISTINCT hbs.DeployedOn [date], hbs.DeployedBy userid, hbs.DeployedEmail loginEmail
							, 'Budget fully approved' [status]
							, hpr.investment
							, '' reason
				FROM tbhis_promo hpr
				INNER JOIN (
					select MAX(parentid) parentid from @tmphispromo 
						where 
							dtime <= ( 
								SELECT MIN(dtime)dtime FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id AND Deployed=1
									)
							)phpr ON hpr.ParentId = phpr.ParentId AND hpr.Id=@Id
				INNER JOIN (
					SELECT * FROM tbhis_promo_budget_status a 
									where a.PromoId=@Id AND Deployed=1
				)hbs ON hpr.Id=hbs.promoid	

select * from @tmphistory a order by convert(datetime, a.[date]) desc
END

GO
