USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_log_promo_parent_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_log_promo_parent_p]
--DECLARE
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@cancelstatus bit
,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)


--SET @periode ='2020'
--SET @entity = 1
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid ='admin'
--SET @cancelstatus = 0
--SET @start =0
--SET @length =10
--SET @filter =''
--SET @txtSearch ='visibility'


AS
BEGIN
    DECLARE @recordsFiltered int;
    drop table if exists #temp_result;

	select
	  p.LongDesc Entity
	  ,d.LongDesc Distributor
	  ,p.LongDesc PrincipalDesc
	  ,pr.Id PromoId
	  ,pr.RefId
	  ,pr.ActivityDesc
      ,IIF(pr.IsCancel=1
			,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
			, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
				,pr.LastStatus + '-' + pr.ApproverName
			)
	  )  LastStatus
	  ,c.LongDesc Allocation
	  ,pr.Investment
	  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
	  ,pr.TsCoding
	  ,pr.CancelNotes
	  ,pr.initiator_notes
    INTO #temp_result
	FROM tbtrx_promo pr
	INNER JOIN tbtrx_allocation c on pr.AllocationId=c.Id
	INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.id
	INNER JOIN tbmst_distributor d on m.DistributorId=d.Id
	INNER JOIN tbmst_principal p on m.PrincipalId=p.Id
	INNER JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	left join
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent)
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
-- 	AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
	AND isnull(IsCancel,0)=@cancelstatus
	ORDER BY pr.Id

    /**********************
        start pagination
     **********************/
    IF @length = -1
    BEGIN
        SELECT * FROM #temp_result
        WHERE
			IIF(@txtSearch is null, '',
				isNull(Entity,'') +
				isNull(Distributor,'') +
				isNull(PrincipalDesc,'') +
				isNull(RefId,'') +
				isNull(ActivityDesc,'') +
				isNull(Allocation,'')
				)
				like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
        ORDER BY PromoId ASC
    END
    ELSE
    BEGIN
        SELECT * FROM #temp_result
        WHERE
			IIF(@txtSearch is null, '',
				isNull(Entity,'') +
				isNull(Distributor,'') +
				isNull(PrincipalDesc,'') +
				isNull(RefId,'') +
				isNull(ActivityDesc,'') +
				isNull(Allocation,'')
				)
				like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
        ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
    END

    SET @recordsFiltered =
		(
		SELECT isnull(count(PromoId),0)
		FROM #temp_result
        WHERE
			IIF(@txtSearch is null, '',
				isNull(Entity,'') +
				isNull(Distributor,'') +
				isNull(PrincipalDesc,'') +
				isNull(RefId,'') +
				isNull(ActivityDesc,'') +
				isNull(Allocation,'')
				)
				like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
		)

    SELECT isnull(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
    drop table #temp_result
    /**********************
        end pagination
     **********************/
END
GO
