USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_investment_type_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_investment_type_ins]
    @isnew int
    ,@id int
    ,@InvestmentTypeCode varchar(10)
    ,@InvestmentType varchar(200)
    ,@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION
    DECLARE
        @messageout varchar(255)
    
    IF @isnew=1 --insert
    BEGIN
        IF EXISTS
        (
            select 1 as bool
            FROM tbmst_investment_type
            where refid=@InvestmentTypeCode
        )
        BEGIN
            SET @messageout='Investment Type Code ' + @InvestmentTypeCode + ' is exists'
             RAISERROR (@messageout, -- Message text.
                   16, -- Severity.
                   1 -- State.
                   );
        END
        ELSE
        BEGIN
            insert into tbmst_investment_type(refid, longdesc, CreateOn, CreateBy)
            values (@InvestmentTypeCode,@InvestmentType,@utcDate123, @userid)
        END
    END
    ELSE
    BEGIN
        IF @isnew=2 --update
        BEGIN
            insert into tbmst_investment_type_deleted(
                Id,
                RefId,
                LongDesc,
                CreateOn,
                CreateBy,
                ModifiedOn,
                ModifiedBy,
                IsDeleted,
                DeleteOn,
                DeleteBy,
                CreatedEmail,
                ModifiedEmail,
                DeleteEmail)
            select 
                Id,
                RefId,
                LongDesc,
                CreateOn,
                CreateBy,
                ModifiedOn,
                ModifiedBy,
                IsDeleted,
                DeleteOn,
                DeleteBy,
                CreatedEmail,
                ModifiedEmail,
                DeleteEmail
            from tbmst_investment_type
            WHERE id=@id
                        
            update tbmst_investment_type
                SET
                    refid=@InvestmentTypeCode
                    ,LongDesc=@InvestmentType
                    ,ModifiedOn=@utcDate123
                    ,ModifiedBy=@userid
            WHERE id=@id
        END
        ELSE
        BEGIN
            IF @isnew=3 --deactivated
            BEGIN
                insert into tbmst_investment_type_deleted(
                    Id,
                    RefId,
                    LongDesc,
                    CreateOn,
                    CreateBy,
                    ModifiedOn,
                    ModifiedBy,
                    IsDeleted,
                    DeleteOn,
                    DeleteBy,
                    CreatedEmail,
                    ModifiedEmail,
                    DeleteEmail)
                select 
                    Id,
                    RefId,
                    LongDesc,
                    CreateOn,
                    CreateBy,
                    ModifiedOn,
                    ModifiedBy,
                    IsDeleted,
                    DeleteOn,
                    DeleteBy,
                    CreatedEmail,
                    ModifiedEmail,
                    DeleteEmail
                from tbmst_investment_type
                WHERE id=@id
                
                update tbmst_investment_type
                    SET
                        isdeleted=1
                        ,DeleteOn=@utcDate123
                        ,DeleteBy=@userid
                WHERE id=@id
            END
            ELSE
            BEGIN 
                insert into tbmst_investment_type_deleted(
                    Id,
                    RefId,
                    LongDesc,
                    CreateOn,
                    CreateBy,
                    ModifiedOn,
                    ModifiedBy,
                    IsDeleted,
                    DeleteOn,
                    DeleteBy,
                    CreatedEmail,
                    ModifiedEmail,
                    DeleteEmail)
                select 
                    Id,
                    RefId,
                    LongDesc,
                    CreateOn,
                    CreateBy,
                    ModifiedOn,
                    ModifiedBy,
                    IsDeleted,
                    DeleteOn,
                    DeleteBy,
                    CreatedEmail,
                    ModifiedEmail,
                    DeleteEmail
                from tbmst_investment_type
                WHERE id=@id
                
                update tbmst_investment_type
                    SET
                        isdeleted=0
                        ,DeleteOn=@utcDate123
                        ,DeleteBy=@userid
                WHERE id=@id                
            END
        END
    END
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
