USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_search]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_search]
	@refid		VARCHAR(50),
	@userid		VARCHAR(50)

AS


--declare
--	@refid		VARCHAR(50),
--	@userid		VARCHAR(50)

--set @refid='SGM00061/AL25/RC' --DN-TRS-SGM
----set @refid='DN-TRS-SGM'
--set @userid='kamsat'

BEGIN
	DECLARE @grpname VARCHAR(50)
	DECLARE @userGroup int
	/*	0:distributor; 1:initiator; 2:other */

	--SET @grpname = (select grp.usergroupname
	--from tbset_user usr
	--LEFT JOIN tbset_usergroup grp on grp.usergroupid = usr.usergroupid
	--where  usr.id=@userid and grp.usergroupname like '%distributor%')

	SET @userGroup = (select 0
		from tbset_user usr
		LEFT JOIN tbset_usergroup grp on grp.usergroupid = usr.usergroupid
		where  usr.id=@userid and grp.usergroupname like '%distributor%')

	SET @userGroup = (select 1
	from tbset_user usr
	LEFT JOIN tbset_usergroup grp on grp.usergroupid = usr.usergroupid
	where  usr.id=@userid 
	and grp.usergroupname like '%initiator%')

	SET @userGroup = ISNULL(@userGroup,2)

	IF @userGroup = 0 
			BEGIN
				SELECT td.id, td.refId, 
					NULL AS [categoryId], 
					NULL AS [categoryShortDesc], NULL AS [categoryLongDesc], 
					'Debet Note' as tipe, NULL startPromo, NULL approvalCycle, NULL reconciled
					FROM tbtrx_debetnote td
					WHERE EXISTS
						(
							SELECT DistributorId FROM tbset_user_distributor dis 
							WHERE UserId=@userid and td.DistributorId=dis.DistributorId
						)
					and td.RefId like '%' + @refid + '%'
			END
	IF @userGroup = 1
			BEGIN
				SELECT DISTINCT * FROM (
					SELECT tp.id, tp.refId, tp.categoryId, b.ShortDesc [categoryShortDesc], b.LongDesc [categoryLongDesc],
						'Promo' as tipe, CAST(tp.StartPromo AS VARCHAR(10)) startPromo, IIF(ISNULL(StatusApprovalCodeRecon,'')='',1,2) approvalCycle, ISNULL(tp.reconciled, 0) reconciled
						from tbtrx_promo tp
						LEFT JOIN tbmst_category b ON b.Id = tp.CategoryId
						left join tbtrx_allocation_useraccess tau on tp.AllocationId = tau.AllocationId
						WHERE 
						tau.UserId = @userid and 
						tp.RefId like '%'+@refid+'%'
					UNION ALL
					SELECT tp.id, tp.refId, tp.categoryId, b.ShortDesc [categoryShortDesc], b.LongDesc [categoryLongDesc],
						'Promo' as tipe, CAST(tp.StartPromo AS VARCHAR(10)) startPromo, IIF(ISNULL(StatusApprovalCodeRecon,'')='',1,2) approvalCycle, ISNULL(tp.reconciled, 0) reconciled
						from tbtrx_promo tp
						INNER JOIN tbmst_category b ON b.Id = tp.CategoryId
						WHERE 
						tp.CreateBy = @userid 
						AND tp.RefId like '%'+@refid+'%'
					UNION ALL
					SELECT td.id, td.refId, NULL AS [categoryId], NULL AS [categoryShortDesc], NULL AS [categoryLongDesc], 
						'Debet Note' as tipe, NULL startPromo, NULL approvalCycle, NULL reconciled
						FROM tbtrx_debetnote td
						WHERE  td.RefId like '%' + @refid + '%'
							AND td.Id IN (
								SELECT tp.id
									from tbtrx_promo tp
									LEFT JOIN tbmst_category b ON b.Id = tp.CategoryId
									left join tbtrx_allocation_useraccess tau on tp.AllocationId = tau.AllocationId
									WHERE 
										tau.UserId = @userid and 
										tp.RefId like '%'+@refid+'%'
								UNION ALL
								SELECT tp.id
									from tbtrx_promo tp
									INNER JOIN tbmst_category b ON b.Id = tp.CategoryId
									WHERE 
										tp.CreateBy = @userid AND tp.Period >=2025
										AND tp.RefId like '%'+@refid+'%'
						))asd

			END
	IF @userGroup = 2
			BEGIN
				SELECT tp.id, tp.refId, tp.categoryId, b.ShortDesc [categoryShortDesc], b.LongDesc [categoryLongDesc],
					'Promo' as tipe, CAST(tp.StartPromo AS VARCHAR(10)) startPromo, IIF(ISNULL(StatusApprovalCodeRecon,'')='',1,2) approvalCycle, ISNULL(tp.reconciled, 0) reconciled
					from tbtrx_promo tp
					LEFT JOIN tbmst_category b ON b.Id = tp.CategoryId
					WHERE 
					tp.RefId like '%'+@refid+'%'
				UNION ALL
				SELECT td.id, td.refId, NULL AS [categoryId], NULL AS [categoryShortDesc], NULL AS [categoryLongDesc], 
					'Debet Note' as tipe, NULL startPromo, NULL approvalCycle, NULL reconciled
					FROM tbtrx_debetnote td
					WHERE  td.RefId like '%' + @refid + '%'
			END

/*
	if @grpname is null --not distributor
	BEGIN
		SELECT tp.id, tp.refId, tp.categoryId, b.ShortDesc [categoryShortDesc], b.LongDesc [categoryLongDesc],
		'Promo' as tipe
		from tbtrx_promo tp
		LEFT JOIN tbmst_category b ON b.Id = tp.CategoryId
		left join tbtrx_allocation_useraccess tau on tp.AllocationId = tau.AllocationId
		WHERE 
		--tau.UserId = @userid and 
		tp.RefId like '%'+@refid+'%'
		union all
		SELECT td.id, td.refId, 
		NULL AS [categoryId], 
		NULL AS [categoryShortDesc], NULL AS [categoryLongDesc], 
		'Debet Note' as tipe
		FROM tbtrx_debetnote td
		WHERE  td.RefId like '%' + @refid + '%'
	END
	ELSE
	BEGIN
	SELECT td.id, td.refId, 
		NULL AS [categoryId], 
		NULL AS [categoryShortDesc], NULL AS [categoryLongDesc], 
		'Debet Note' as tipe
		FROM tbtrx_debetnote td
		WHERE EXISTS
			(
				SELECT DistributorId FROM tbset_user_distributor dis 
				WHERE UserId=@userid and td.DistributorId=dis.DistributorId
			)
		and td.RefId like '%' + @refid + '%'
	END
*/
END
GO
