USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_is_majorchanges]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   Procedure [dbo].[ip_is_majorchanges]
--@IsNew bit,
 @Promo PromoV4Type READONLY
,@Region BudgetAllocationChildsType READONLY
,@Channel BudgetAllocationChildsType READONLY
,@SubChannel BudgetAllocationChildsType READONLY
,@Account BudgetAllocationChildsType READONLY
,@SubAccount BudgetAllocationChildsType READONLY
,@Brand BudgetAllocationChildsType READONLY
,@Sku BudgetAllocationChildsType READONLY
,@attachment PromoAttachmentType READONLY
,@Mechanism MechanismType READONLY
--,@messageout varchar(255) OUT
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE 
		@categoryShortDesc varchar(20)
		,@rowcount int
		,@PromoId int

/* start ISU #886 */
		,@ActivityDesc varchar(255)
		,@initiatorNotesOld varchar(255)
		,@mechanismOld nvarchar(max)
		,@mechanismNew nvarchar(max)
		,@channelOld varchar(max)
		,@channelNew varchar(max)
		,@subChannelOld varchar(max)
		,@subChannelNew varchar(max)
		,@accountOld varchar(max)
		,@accountNew varchar(max)
		,@subAccountOld varchar(max)
		,@subAccountNew varchar(max)
		,@regionOld nvarchar(max)
		,@regionNew nvarchar(max)
		,@brandOld nvarchar(max)
		,@brandNew nvarchar(max)
		,@skuOld nvarchar(max)
		,@skuNew nvarchar(max)		
		,@sttChannel int
		,@sttSubChannel int
		,@sttAccount int
		,@sttSubAccount int
		,@sttRegion int
		,@sttBrand int
		,@sttSKU int
		,@sttMechanism int
		,@sttInitiatorNotes int

		-- new item
		,@sttEntity int
		--,@entityOld varchar(255)
		,@sttDistributor int
--		,@distributorOld varchar(255)
		,@sttSubCategory int
	--	,@subCategoryOld varchar(255)
		,@sttBudgetSources int
--		,@budgetOld varchar(255)
		,@sttPromoPlan int
--		,@promoPlanOld varchar(255)
		,@sttAttachment int
		,@attachmentOld nvarchar(MAX)
		,@attachmentNew nvarchar(MAX)
		,@categoryId int
		,@categoryExisted int
		
	SELECT @categoryShortDesc=c.ShortDesc, @categoryId=c.Id from @Promo a
	INNER JOIN tbmst_category c on a.CategoryId=c.Id	
	
	SELECT @categoryExisted=ISNULL(id,0) FROM tbset_major_changes WHERE CategoryId=@categoryId
	IF @categoryExisted=0
		BEGIN
			INSERT INTO tbset_major_changes
				(CategoryId, Year, Entity, Distributor, SubCategory, Activity, SubActivity, StartPromo, EndPromo, ActivityDesc, InitiatorNotes, IncrSales, Investment, ROI, CR, Channel, SubChannel, Account, SubAccount, Region, GroupBrand, Brand, SKU, Mechanism, BudgetSources, PromoPlan, Attachment, CreateOn, CreateBy)
				VALUES
					(@categoryId, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, @utcDate123, 'admin')
		END
	-- get majorchanges setting
	SELECT TOP 1
		@sttChannel = Channel
		,@sttSubChannel = SubChannel
		,@sttAccount = Account
		,@sttSubAccount = SubAccount
		,@sttRegion = Region
		,@sttBrand = Brand
		,@sttSKU = SKU
		,@sttMechanism = Mechanism
		,@sttInitiatorNotes = initiatorNotes
		-- new item
		,@sttEntity = Entity
		,@sttDistributor = Distributor
		,@sttSubCategory = SubCategory
		,@sttBudgetSources = BudgetSources
		,@sttPromoPlan = PromoPlan
		,@sttAttachment = Attachment
	FROM tbset_major_changes
	-- select by category
	WHERE CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc=@categoryShortDesc)

	-- concat array param
	SET @channelNew = (SELECT string_agg(Id,', ') FROM @Channel)
	SET @subChannelNew = (SELECT string_agg(Id,', ') FROM @SubChannel)
	SET @accountNew = (SELECT string_agg(Id,', ') FROM @Account)
	SET @subAccountNew = (SELECT string_agg(Id,', ') FROM @SubAccount)
	SET @regionNew = (SELECT string_agg(Id,', ') FROM @Region)
	SET @brandNew = (SELECT string_agg(Id,', ') FROM @Brand)
	SET @skuNew = (SELECT string_agg(Id,', ') FROM @Sku)

	SET @attachmentNew = (SELECT string_agg([FileName],', ') FROM @attachment)	
	SET @mechanismNew = (SELECT string_agg(concat(mechanism, ' ', notes), ';') from @Mechanism)

	-- GET OLD data
	SELECT
						@mechanismOld = mechanism.mechanism
			/* start ISU #886 */			
						,@initiatorNotesOld = pr.initiator_notes
						,@channelOld = tpc.channelid
						,@subChannelOld = tps.subchannelid
						,@accountOld = tpa.accountid
						,@subAccountOld = tps2.subaccountid
						,@regionOld = region.region
						,@brandOld = brand.brand
						,@skuOld = sku.sku
						,@attachmentOld = att.fileAttachment
						,@initiatorNotesOld = pr.initiator_notes
						,@channelOld = tpc.channelid
						,@subChannelOld = tps.subchannelid
						,@accountOld = tpa.accountid
						,@subAccountOld = tps2.subaccountid
						,@regionOld = region.region
						,@brandOld = brand.brand
						,@skuOld = sku.sku		

					FROM tbtrx_promo pr WITH (nolock)
					INNER JOIN (
						select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
				   from tbtrx_promo_mechanism a WITH (nolock)
    						GROUP BY a.PromoId		
					) mechanism ON pr.id=mechanism.PromoId
					INNER JOIN (
						SELECT PromoId,  string_agg(channelId,', ') channelid FROM tbtrx_promo_channel WITH (nolock) 
						GROUP BY PromoId
					) tpc ON pr.id=tpc.PromoId 
					INNER JOIN (
						SELECT PromoId,  string_agg(subchannelId,', ') subchannelid FROM tbtrx_promo_subchannel WITH (nolock) 
						GROUP BY PromoId
					) tps ON pr.id= tps.PromoId 
					INNER JOIN (
						SELECT PromoId,  string_agg(accountId,', ') accountid FROM tbtrx_promo_account WITH (nolock) 
						GROUP BY PromoId
					) tpa ON pr.id=tpa.PromoId
					INNER JOIN (
						SELECT PromoId,  string_agg(subaccountId,', ') subaccountid FROM tbtrx_promo_subaccount WITH (nolock) 
						GROUP BY PromoId
					) tps2 ON pr.id=tps2.PromoId 
					INNER JOIN (
						SELECT PromoId, string_agg(a.regionid,', ') region
							FROM tbtrx_promo_region a WITH (nolock)
							GROUP BY a.PromoId
		
					) region ON pr.id=region.PromoId
					INNER JOIN (
						SELECT PromoId, string_agg(a.brandid,', ') brand
							FROM tbtrx_promo_brand a WITH (nolock)
							GROUP BY a.PromoId
		
					) brand ON pr.id=brand.PromoId
					INNER JOIN (
						SELECT PromoId, string_agg(a.productid,', ') sku
							FROM tbtrx_promo_product a WITH (nolock)
							GROUP BY a.PromoId
		
					) sku ON pr.id=brand.PromoId		
					INNER JOIN (
						SELECT Promoid, string_agg(a.FileName,', ') fileAttachment
							FROM tbtrx_promo_doclink a WITH (nolock)
							GROUP BY a.PromoId
					) att ON pr.id=att.PromoId		
			/* end #ISU 886 */
					WHERE pr.Id=@PromoId


	/* start ISU #886 */		
				UPDATE tpra
					SET tpra.ModifiedOn=@utcDate123
				FROM tbtrx_promo_request_approval tpra
					CROSS JOIN tbset_major_changes tmc 
				WHERE ParentId=@PromoId
				AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc=@categoryShortDesc)
				AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, (SELECT ActivityId FROM @Promo), 0)
				AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, (SELECT SubActivityId FROM @Promo), 0)
				AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, (SELECT StartPromo FROM @Promo), '')
				AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, (SELECT EndPromo FROM @Promo), '')
				AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, (SELECT ActivityDesc FROM @Promo), '')
				AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, (SELECT Investment FROM @Promo), 0)
				AND iif(tmc.IncrSales = 1, tpra.IncrSales, 0) = iif(tmc.IncrSales = 1, (SELECT IncrSales FROM @Promo), 0)
				AND iif(tmc.ROI = 1, tpra.Roi, 0) = iif(tmc.ROI = 1, (SELECT roi FROM @Promo), 0)
				AND iif(tmc.CR = 1, tpra.CostRatio, 0) = iif(tmc.CR = 1, (SELECT costratio FROM @Promo), 0)
				-- added 16Nov
				AND iif(tmc.[BudgetSources]  = 1, tpra.BudgetMasterId, 0) = iif(tmc.[BudgetSources] = 1, (SELECT BudgetMasterId FROM @Promo), 0)
				AND iif(tmc.[Entity]  = 1, tpra.PrincipalShortDesc , 0) = iif(tmc.[Entity] = 1, (SELECT PrincipalShortDesc FROM @Promo), 0)
				AND iif(tmc.[PromoPlan]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[Entity] = 1, (SELECT PromoPlanId FROM @Promo), 0)
--				AND iif(tmc.[Distributor]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[Distributor] = 1, (SELECT PromoPlanId FROM @Promo), 0)
				AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT SubCategoryId FROM @Promo), 0)
				AND ISNULL(IsCancel,0)=0
	/*			
				-- end #876
	**** ISU #886 */
			

				set @rowcount=@@ROWCOUNT
						--JIKA MAJOR CHANGES ATAU REQUEST BARU
						if @rowcount = 0 
						OR (@channelOld <> @channelNew AND @sttChannel = 1) 
						OR (@subChannelOld <> @subChannelNew AND @sttSubChannel = 1) 
						OR (@accountOld <> @accountNew AND @sttAccount = 1) 
						OR (@subAccountOld <> @subAccountNew AND @sttSubAccount = 1) 
						OR (@regionOld <> @regionNew AND @sttRegion = 1) 
						OR (@brandOld <> @brandNew AND @sttBrand = 1) 
						OR (@skuOld <> @skuNew AND @sttSKU = 1) 
						OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
						OR (@initiatorNotesOld<>(SELECT initiator_notes FROM @Promo) AND @sttInitiatorNotes = 1)
	SELECT @rowcount;
END
GO
