

/****** Object:  StoredProcedure [dbo].[ip_promo_submission_exception_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_submission_exception_list]
@idx varchar(200)
as
begin 
	SELECT a.PromoId, tp.RefId PromoRefId, Reason
	FROM tbtemp_promo_submission_exception a
	INNER JOIN tbtrx_promo tp on a.PromoId = tp.Id 
	WHERE idx=@idx
end 
GO
