

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_flagging]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_xml_generate_flagging]
@userid varchar(50)
,@useremail varchar(50)
,@PONumber xml_generate READONLY

AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
    --     untuk prod
--     SET @useremail = (SELECT email FROM tbset_user WHERE id=@userid)
    
	INSERT INTO tbxml_generate (PONumber, OriginalId, EntityId, GenerateOn, GenerateBy, GeneratedEmail)
	SELECT *, @utcDate123, @userid, @useremail FROM @PONumber

END
GO
