USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_submission_email]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_submission_email] --'2020'
	@period varchar(4)
	,@entity int
	,@distributor int 	
	,@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()


BEGIN
	DECLARE @periodstatic varchar(6)
	SELECT @periodstatic=LEFT(CONVERT(varchar, @utcDate123,112),6)
	
	exec ip_promo_list_submission_static @periodstatic, @userid
/****************************/

    DECLARE @Temp TABLE
    (
      MonthInt int
      ,MonthName varchar(10)
      ,TotOptimaCreated numeric(19)
      ,OnTime numeric(19)
      ,OnTimePCT numeric(5,2)
      ,Late numeric(19)
      ,LatePCT numeric(5,2)
      ,ChannelDesc varchar(255)
    )
    ;
 	INSERT INTO @Temp(MonthInt, MonthName)
 	VALUES (1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr'), (5, 'May'), (6, 'Jun')
 		, (7, 'Jul'), (8, 'Aug'), (9, 'Sep'), (10, 'Oct'), (11, 'Nov'), (12, 'Dec')
 		
 		
    UPDATE a 
		SET 
			a.TotOptimaCreated = isnull(b.TotOptimaCreated, 0)
    		,a.OnTime = isnull(b.OnTime, 0)
	        ,a.OnTimePCT = isnull(b.OnTimePCT, 0)
	        ,a.Late = isnull(b.Late, 0)
	        ,a.LatePCT = isnull(b.LatePCT, 0)
        FROM @Temp a
        LEFT JOIN (
			SELECT 
				MonthName
				,count(sttc.promoid) TotOptimaCreated
				,sum(iif(isnull(sttc.ontime,0)=1, 1, 0)) OnTime
				,100.0 * sum(iif(isnull(sttc.ontime,0)=1, 1, 0))/count(sttc.promoid) OnTimePCT
				,sum(iif(isnull(sttc.ontime,0)=0, 1, 0)) Late
				,100.0 * sum(iif(isnull(sttc.ontime,0)=0, 1, 0))/count(sttc.promoid) LatePCT
			FROM tbtrx_promo_submission_static sttc
			INNER JOIN tbtrx_promo pr on sttc.PromoId = pr.Id 
			INNER JOIN tbtrx_allocation alo on pr.AllocationId = alo.Id 
			INNER JOIN tbtrx_budgetmaster m on alo.BudgetMasterId = m.id
			WHERE LEFT(sttc.period, 4)=@period
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor) 
			GROUP BY sttc.period,monthname
			HAVING count(sttc.promoid) > 0
    	) b on a.MonthName = b.MonthName 
 		
    /****************************/
    	
	SELECT 
      	MonthName
      	,TotOptimaCreated
      	,OnTime
      	,iif(TotOptimaCreated=0,0,round(OnTime/TotOptimaCreated * 100.0,0)) OnTimePCT
      	,Late
      	,iif(TotOptimaCreated=0,0,round(Late / TotOptimaCreated * 100.0,0)) LatePCT      	
	FROM @Temp
	ORDER BY MonthInt
	
    SELECT
	    tc.LongDesc ChannelDesc
	    ,count(sttc.promoid) TotOptimaCreated
        ,sum(iif(isnull(sttc.ontime,0)=1, 1, 0)) OnTime
        ,100.0 * sum(iif(isnull(sttc.ontime,0)=1, 1, 0))/count(sttc.promoid) OnTimePCT
		,sum(iif(isnull(sttc.ontime,0)=0, 1, 0)) Late
		,100.0 * sum(iif(isnull(sttc.ontime,0)=0, 1, 0))/count(sttc.promoid) LatePCT
	    FROM tbtrx_promo_submission_static sttc
	    INNER JOIN tbmst_channel tc ON sttc.channelid=tc.id
	    INNER JOIN tbtrx_promo pr on sttc.PromoId = pr.Id 
		INNER JOIN tbtrx_allocation alo on pr.AllocationId = alo.Id 
		INNER JOIN tbtrx_budgetmaster m on alo.BudgetMasterId = m.id	    
	    WHERE LEFT(period, 4)=@period
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor) 	    
		GROUP BY tc.LongDesc
		HAVING count(sttc.promoid) > 0		
END
GO
