USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_hierarchy_budget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_hierarchy_budget]
@budgetparent int
as
--declare @budgetparent int
--SET @budgetparent=17
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int,
	  BudgetType varchar(3),
	  BudgetName varchar(255),
	  InitialBudgetAmount numeric(18,0),
	  PromoCreated numeric(18,0),
	  TotalSpending numeric(18,0),
	  DnClaim numeric(18,0),
	  DnPaid numeric(18,0),
	  Available numeric(18,0)
	)
	;

	declare @p_alcid int;
 
	SET @p_alcid=@budgetparent;
		
		
			/***/





				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT  
	BDG_PARENT BudgetParent,
	Levels,
	PARENT.Id BudgetId,
	PARENT.BudgetType,
	PARENT.LongDesc BudgetName,
	PARENT.BudgetAmount as InitialBudgetAmount,
	coalesce(TPP.FixCost,0) AS PromoCreated,
	(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) AS TotalSpending,
	COALESCE(TPP.TotalClaim,0) DnClaim,
	COALESCE(TPP.TotalPaid,0) DnPaid,
	PARENT.BudgetAmount-(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) as AVAILABLE
	FROM tbtrx_allocation PARENT
	LEFT JOIN
	(
			SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
			INNER JOIN
			(
				SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
				LEFT JOIN
					tbtrx_budgetassignment
				ON
					tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
			) B
			ON A.BudgetSourceId=B.Id
				and A.BudgetType='BTR'
			where 
			A.IsActive=1 GROUP BY B.AllocationId
	) CHILD ON PARENT.Id=CHILD.AllocationId 
	--LEFT JOIN
	--(
	--SELECT	tbtrx_allocation_balance.AllocationId AS AllocationId,
	--						SUM(Investment) FixCost,
	--						SUM(ISNULL(TotalClaim, 0)) TotalClaim,
	--						SUM(ISNULL(TotalPaid, 0)) TotalPaid
	--				  FROM	tbtrx_promo
	--						LEFT JOIN tbtrx_allocation_balance
	--						ON
	--							tbtrx_promo.AllocationId = tbtrx_allocation_balance.AllocationId
	--							AND tbtrx_promo.SubCategoryId = tbtrx_allocation_balance.SubCategoryId
	--						LEFT JOIN (
	--										SELECT tbtrx_promo.Id AS PromoId,
	--											   SUM(ISNULL(TotalClaim, 0)) OVER(PARTITION BY tbtrx_promo.Id)  AS TotalClaim
	--										  FROM tbtrx_promo
	--											   LEFT JOIN tbtrx_debetnote
	--											   ON tbtrx_promo.Id = tbtrx_debetnote.PromoId		
	--											   and isnull(tbtrx_debetnote.IsCancel,0)=0 							   							   
	--										--GROUP BY tbtrx_promo.Id	
	--						) DN
	--						ON
	--							DN.PromoId = tbtrx_promo.Id
								
	--													LEFT JOIN (
	--										SELECT tbtrx_promo.Id AS PromoId,
	--											   SUM(ISNULL(TotalPaid, 0)) OVER(PARTITION BY tbtrx_promo.Id)  AS TotalPaid
	--										  FROM tbtrx_promo
	--											   LEFT JOIN tbtrx_debetnote
	--											   ON tbtrx_promo.Id = tbtrx_debetnote.PromoId									   
	--										--GROUP BY tbtrx_promo.Id	
	--						) DNPAID
	--						ON
	--							DN.PromoId = tbtrx_promo.Id
	--							WHERE isnull(IsCancel,0)=0
	--					GROUP BY tbtrx_allocation_balance.AllocationId
	--	)TPP ON TPP.AllocationId=PARENT.Id

	left join
	(
			SELECT	tbtrx_promo.AllocationId AS AllocationId, b.longdesc,
							SUM(Investment) FixCost,
							SUM(ISNULL(TotalClaim, 0)) TotalClaim,
							SUM(ISNULL(TotalPaid, 0)) TotalPaid
					  FROM	tbtrx_promo
							inner join tbmst_subactivity a on tbtrx_promo.SubActivityId=a.id----------200324
							inner join tbmst_subactivity_type b on a.SubActivityTypeId=b.id----------200324
							LEFT JOIN (
											SELECT a.Id AS PromoId,
											SUM(ISNULL(TotalClaim, 0)) AS TotalClaim,
											SUM(ISNULL(TotalPaid, 0)) AS TotalPaid
											FROM tbtrx_promo a
											LEFT JOIN tbtrx_debetnote b
											ON a.Id = b.PromoId	and isnull(b.IsCancel,0)=0 							   
											GROUP BY a.Id	
							) DN
							ON
								DN.PromoId = tbtrx_promo.Id
							WHERE isnull(IsCancel,0)=0
						GROUP BY tbtrx_promo.AllocationId, b.longdesc
		)TPP ON TPP.AllocationId=PARENT.Id
	INNER JOIN (select BDG_PARENT,BDG_CHILD,Levels,Rownumber from CTE) sourcetbl ON sourcetbl.BDG_CHILD=PARENT.Id  order by Levels
	option (maxrecursion 0);

	SELECT * FROM @Temp order by Levels,BudgetId

GO
