USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_login]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_user_login]
@id varchar(50),
@password varchar(100)
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
--     SET @id='rc-centraljava';
--     SET @password='1f3e549d32a610657b0d5d4b411615e559da323f896dc39cb2bffdd77eabb055';
-- BEGIN TRY
-- BEGIN TRANSACTION
    DECLARE
        @messageout varchar(100)
        ,@errCode int
        ,@errMessage varchar(255)
        ,@cnt int
        ,@isLogin int
        ,@dataFound int
        ,@loginFailedLastTime datetime
        ,@loginFailedCount int
        ,@loginFreezeTime int
        ,@dPassExpired int
        ,@dUserInactive int
    ;
--     SET @userid=(SELECT id FROM tbset_user where Id=@id and isnull(isdeleted, 0) = 0)
-- 	SET @userpassw=(SELECT StatusSalesCode FROM tbtrx_debetnote where Id=@dnid)

    select
           @loginFailedCount = loginFailedCount
           , @loginFreezeTime = 15 - datediff(minute, loginFailedLastTime, @utcDate123)
           , @dPassExpired = datediff(d, password_change, @utcDate123)
           , @dUserInactive = datediff(d,lastLogin, @utcDate123)
    from tbset_user WHERE id=@id
--     SET @loginFailedCount = (SELECT loginFailedCount FROM tbset_user WHERE id=@id)
--     SET @loginFreezeTime = 15 - (SELECT datediff(minute, loginFailedLastTime, @utcDate123) FROM tbset_user WHERE id=@id)

    IF @dUserInactive > 45
    BEGIN
        UPDATE tbset_user SET isdeleted = 1, deletedon=@utcDate123, deletedby='system' WHERE id=@id;
    END

    IF @loginFreezeTime <= 0
    BEGIN
        UPDATE tbset_user SET loginFailedCount = 0 WHERE id=@id;
        SET @loginFailedCount = 0;
    END

    SET @dataFound = 1;
    SET @errCode = 0;
    IF EXISTS(SELECT id, password FROM tbset_user WHERE id=@id and isnull(isdeleted,0)=1)
    BEGIN
        IF @dPassExpired > 60
        BEGIN
            SET @errCode = 1;
            SET @errMessage = 'User ID inactive (not login > 45 days) & Password expired (not been changed > 60 days). Please raise Service Now ticket to reactivate & reset password.';
            SET @dataFound = 1;
        END
        ELSE
        BEGIN
            SET @errCode = 1;
            SET @errMessage = 'User ID inactive because not login for more than 45 days. Please raise Service Now ticket to reactivate.'
            SET @dataFound = 1;
        END
    END
    ELSE
    BEGIN
        IF NOT EXISTS(SELECT id, password FROM tbset_user WHERE id=@id and isnull(isdeleted,0)=0)
        BEGIN
            SET @errCode = 1;
            SET @errMessage = 'Incorrect username. Please try again.';
            SET @dataFound = 0;
        END
        ELSE
        BEGIN
            IF NOT EXISTS(SELECT id, password FROM tbset_user WHERE id=@id AND password=@password and isnull(isdeleted,0)=0)
            BEGIN
                SET @errCode = 1;
                SET @errMessage = 'Incorrect password. Please try again.';
                IF @loginFailedCount<3
                BEGIN
                    UPDATE tbset_user SET loginFailedCount = loginFailedCount + 1, loginFailedLastTime=@utcDate123 WHERE id=@id;
                END
                ELSE
                BEGIN
    --                 SET @errMessage = 'You have failed to login 3 times in a row </br> Please try to login again after ' + @loginFreezeTime + ' Minutes';
                    SET @errMessage = 'You have failed to login 3 times in a row </br> Please try to login again ';
                END
    --             SET @loginFailedLastTime=(select loginFailedLastTime FROM tbset_user WHERE id=@id);
            END
            ELSE
            BEGIN
                IF @dPassExpired > 60
                BEGIN
                    SET @errCode = 1;
--                     SET @errMessage = 'Your password has expired because it hasn''t changed for 60 days, Please contact the Administrator to reset your password';
                    SET @errMessage = 'Password expired because hasn''t been changed for more than 60 days. Please recover your password by clicking Forgot Password button.'
                    SET @dataFound = 1;

                END
                ELSE
                BEGIN
                    IF @loginFailedCount<3
                    BEGIN
                        UPDATE tbset_user SET loginFailedCount = 0 WHERE id=@id;
                    END

                    SET @cnt = (SELECT DATEDIFF(DAY, lastlogin, @utcDate123) FROM tbset_user WHERE id=@id AND password=@password);
                    IF @cnt>45
                    BEGIN
                        SET @errCode = 2;
                        SET @errMessage = 'User is deactivated due to inactivity for 45 days, Please contact your the Administrator for reactivation';
                        update tbset_user set isdeleted=1 where id=@id
                    END
                    ELSE
                    BEGIN
                        SET @isLogin = (SELECT isLogin FROM tbset_user WHERE id=@id AND password=@password)
                        IF @isLogin >= 1
                        BEGIN
                            SET @errCode = 99;
                            SET @errMessage = 'This User already Login';
                        END
                    END
                END
            END
        END
    END
    select TOP 1
        a.id
        , a.username
        , a.email
        , a.usergroupid
        , a.userlevel
        , a.password_change
        , a.islogin
        , a.usernew
        , DATEDIFF(DAY, a.lastlogin, @utcDate123) as cnt
        , b.groupmenupermission
        , a.loginFailedCount
        , a.loginFailedLastTime
        , datediff(minute, a.loginFailedLastTime, @utcDate123) as loginFreezeTime
        , @errCode errCode
        , @errMessage errMessage
    from tbset_user a
    inner join tbset_usergroup b on a.usergroupid = b.usergroupid
    where IIF(@dataFound = 0, '', id) = IIF(@dataFound = 0, '', @id) --and isdeleted = 0;
-- COMMIT
-- END TRY
-- BEGIN CATCH
-- ROLLBACK
-- 	DECLARE @ErrorMessage NVARCHAR(4000);
--     DECLARE @ErrorSeverity INT;
--     DECLARE @ErrorState INT;
--
--     SELECT
--         @ErrorMessage = ERROR_MESSAGE(),
--         @ErrorSeverity = ERROR_SEVERITY(),
--         @ErrorState = ERROR_STATE();
--     RAISERROR (
--         @ErrorMessage, -- Message text.
--         @ErrorSeverity, -- Severity.
--         @ErrorState -- State.
--     );
--     select id,password from tbset_user where id=@id;
-- END CATCH
END
GO
