USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_update_sellpoint]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_update_sellpoint]
	-- Add the parameters for the stored procedure here
	@ID			VARCHAR(10),
	@REFID		VARCHAR(36),
	@REGIONID	VARCHAR(36),
	@LONGDESC	VARCHAR(50),
	@SHORTDESC	VARCHAR(10),
	@ISACTIVE	BIT,
	--@ISDELETE	BIT,
	@USERID		VARCHAR(25)
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ERROR VARCHAR(100)
	IF NOT EXISTS(SELECT TOP 1 RefId FROM [dbo].[tbmst_region] WITH(NOLOCK) WHERE Id=@REGIONID)
	BEGIN
		SET @ERROR='REGION <' + @REGIONID + '> NOT FOUND.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	IF NOT EXISTS(SELECT TOP 1 RefId FROM [dbo].[tbmst_sellingpoint] WITH(NOLOCK) WHERE RefId=@REFID AND RegionId=@REGIONID)
	BEGIN
		SET @ERROR='DATA <' + @REFID + '> NOT FOUND.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	UPDATE [dbo].[tbmst_sellingpoint]
	SET 
		RefId=@REFID,
		RegionId=@REGIONID,
		LongDesc=@LONGDESC,
		ShortDesc=@SHORTDESC,
		IsActive=@ISACTIVE,
		ModifiedOn=@utcDate123,
		ModifiedBy=@USERID
		--IsDelete=@ISDELETE
	WHERE Id=@ID
		AND RefId=@REFID
		AND RegionId=@REGIONID

END
GO
