

/****** Object:  StoredProcedure [dbo].[ip_getsubactivitytype_bycategory]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[ip_getsubactivitytype_bycategory] 
@CategoryId Int
AS
/*TESTING PURPOSE*********************/
--DECLARE
--@CategoryId Int
--SET @CategoryId =22
/*********************TESTING PURPOSE*/
BEGIN
	SELECT DISTINCT e.Id, e.LongDesc FROM tbmst_category a
	inner join tbmst_subcategory b ON a.Id=b.CategoryId
	inner join tbmst_activity c ON b.Id=c.SubCategoryId
	inner join tbmst_subactivity d ON c.Id=d.ActivityId
	inner join tbmst_subactivity_type e ON d.SubActivityTypeId=e.Id
	WHERE a.Id=@CategoryId
END

GO
