USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_get_profile]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_user_get_profile]
@id varchar(50)
AS
BEGIN
	select tulp.profileid, 
	-- added, andrie Sept 29 2023 Enhancement 2
	profCat.CategoryID as categoryid, 
	cat.ShortDesc as categoryshortdesc,
	cat.LongDesc as categorylongdesc,
	a.usergroupid, a.userlevel, b.groupmenupermission, b.usergroupname
	from tbset_user_login_profile tulp 
	-- added, andrie Sept 29 2023 Enhancement 2
	left join tbset_map_profile_category profCat on profCat.ProfileID = tulp.profileid
	left join tbmst_category cat on cat.Id = profCat.CategoryID
	inner join tbset_user_login tul on tulp.id=tul.id
	inner join tbset_user a on tulp.profileid = a.id
    inner join tbset_usergroup b on a.usergroupid = b.usergroupid
	where tul.email = @id
END
GO
