

/****** Object:  StoredProcedure [dbo].[ip_select_subcategory_by_alocation]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_select_subcategory_by_alocation] --'scsh1', 9
	@userid			VARCHAR(50)
	,@allocationid int
AS
BEGIN

	SELECT
		a.CategoryId,
		ctg.ShortDesc CategoryShortDesc,
		ctg.LongDesc CategoryLongDesc,
		a.Id,
		a.LongDesc,
		isnull(a.ShortDesc,'') as ShortDesc
	FROM [dbo].[tbmst_subcategory] a WITH(NOLOCK)
	inner join tbmst_category ctg WITH (NOLOCK) on a.CategoryId=ctg.Id
	inner join tbtrx_allocation_detail b WITH(NOLOCK) on a.Id=b.SubCategoryId
	inner join tbtrx_allocation c WITH(NOLOCK) on b.AllocationId=c.Id
	inner join tbtrx_allocation_useraccess d WITH(NOLOCK) on c.Id=d.AllocationId
	WHERE a.IsActive=1
		AND IIF(@userid='0','0',@userid)=IIF(@userid='0','0',d.userid)
	    AND IIF(@allocationid=0,0,@allocationid)=IIF(@allocationid=0,0,c.id)
	group by
        a.CategoryId,
        a.Id,
        a.LongDesc,
        a.ShortDesc,
        ctg.ShortDesc,
        ctg.LongDesc
END
GO
