

/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_list_for_planning]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_budgetallocation_list_for_planning] --'2020',0,0,'cmmmka',1
 @periode varchar(4)
,@entity int
,@distributor int
,@userid varchar(50)
,@region AttributeType readonly
,@channel AttributeType readonly
,@subchannel AttributeType readonly
,@account AttributeType readonly
,@subaccount AttributeType readonly
,@brand AttributeType readonly
,@product AttributeType readonly
,@subcategory int
,@activity int
,@subactivity int
AS


--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@userid varchar(50)
--,@region AttributeType 
--,@channel AttributeType 
--,@subchannel AttributeType 
--,@account AttributeType 
--,@subaccount AttributeType 
--,@brand AttributeType 
--,@product AttributeType 
--,@subcategory int
--,@activity int
--,@subactivity int

--SET @periode ='2023'
--SET @entity = 2
--SET @distributor =2
--SET @userid='kamsat'
--insert into @region (id)		values(2)
--insert into @channel (id)		select id from tbmst_channel where isnull(isdelete,0)=0 --values(6)
--insert into @subchannel (id)	select id from tbmst_subchannel where isnull(isdelete,0)=0 --values(9)
--insert into @account (id)		select id from tbmst_account where isnull(isdelete,0)=0 --values(44)
--insert into @subaccount (id)	select id from tbmst_subaccount where isnull(isdelete,0)=0 --values(115)
--insert into @brand (id)			values(2)
--insert into @product (id)		values(2)
--set @subcategory =74
--set @activity =91
--set @subactivity =1469

BEGIN
	truncate table mytmp
	insert into mytmp (f1,f2) values('userid', @userid)
	insert into mytmp (f1,f2) values('subcat', @subcategory)
	insert into mytmp (f1,f2) values('subcat', @subactivity)
	insert into mytmp (f1,f2) values('entity', @entity)
	insert into mytmp (f1,f2) values('distributor', @distributor)
	insert into mytmp (f1,f2) select 'channel', id from @channel
	insert into mytmp (f1,f2) select 'subchannel', id from @subchannel
	insert into mytmp (f1,f2) select 'account', id from @account

	IF ISNULL(@subcategory,0)=0
		BEGIN
			SET @subcategory=(select distinct SubCategoryId from vw_activity where SubActivityId=@subactivity)
		END

	DECLARE @Category varchar(2)
	set @Category=(select trim(a.shortdesc) from tbmst_category a inner join tbmst_subcategory b on a.Id=b.CategoryId where b.Id=@subcategory)

	IF @Category='DC'
		BEGIN
			SELECT 
				  p.LongDesc Entity
				  ,d.LongDesc Distributor
				  ,c.Id
				  ,m.Periode
				  ,c.RefId
				  ,sctg.LongDesc SubCategory
				  ,c.BudgetType
				  ,m.DistributorId
				  ,d.LongDesc DistributorName
				  ,c.OwnerId
				  ,uo.username OwnerName
				  ,c.FromOwnerId
				  ,uf.username FromOwnerName
				  ,c.BudgetmasterId
				  ,c.BudgetAmount
				  ,isnull(b.RemainingAmount, 0) RemainingBudget
				  ,c.LongDesc
				  ,c.ShortDesc
				  ,c.StatusApproval
				  ,c.IsActive
				  ,c.IsLocked
				  ,a.activityid
			FROM tbtrx_allocation_detail a with (nolock)
			inner join tbtrx_allocation_balance b with (nolock) on a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
			inner join tbtrx_allocation c with (nolock) on a.AllocationId=c.Id
			inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
			inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
			inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
			inner join tbmst_subcategory sctg on a.SubCategoryId=sctg.id
			inner join tbset_user uo on uo.Id=c.OwnerId
			inner join tbset_user uf on uf.Id=c.FromOwnerId
			inner join vw_budget_last_layer lastlayer on c.id = lastlayer.id
/************************************
workaround due to no group brand id saved on budget
promo @Brand id filled with brand group id
************************************/
			INNER JOIN 
				(
					SELECT DISTINCT a.AllocationId FROM tbtrx_allocation_brand a
					INNER JOIN tbmst_brand b ON a.brandid=b.id
					INNER JOIN @brand c ON b.BrandGroupId=c.Id
				)bg ON a.AllocationId=bg.AllocationId
			WHERE 
			c.Periode=@periode 
			AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=a.AllocationId)
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND StatusApproval='AP2'
			AND IIF(@subcategory=0,'',IIF(a.SubcategoryId=0,0,a.SubCategoryId)) =IIF(@subcategory=0,'',IIF(a.SubCategoryId=0,0,@subcategory))
		END
	ELSE
		BEGIN
			SELECT
				  p.LongDesc Entity
				  ,d.LongDesc Distributor
				  ,c.Id
				  ,m.Periode
				  ,c.RefId
				  ,sctg.LongDesc SubCategory
				  ,c.BudgetType
				  ,m.DistributorId
				  ,d.LongDesc DistributorName
				  ,c.OwnerId
				  ,uo.username OwnerName
				  ,c.FromOwnerId
				  ,uf.username FromOwnerName
				  ,c.BudgetmasterId
				  ,c.BudgetAmount
				  ,isnull(b.RemainingAmount, 0) RemainingBudget
				  ,c.LongDesc
				  ,c.ShortDesc
				  ,c.StatusApproval
				  ,c.IsActive
				  ,c.IsLocked
				  ,a.activityid
			FROM tbtrx_allocation_detail a with (nolock)
			inner join tbtrx_allocation_balance b with (nolock) on a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
			inner join tbtrx_allocation c with (nolock) on a.AllocationId=c.Id
			inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
			inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
			inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
			inner join tbmst_subcategory sctg on a.SubCategoryId=sctg.id
			inner join tbset_user uo on uo.Id=c.OwnerId
			inner join tbset_user uf on uf.Id=c.FromOwnerId
			inner join vw_budget_last_layer lastlayer on c.id = lastlayer.id
			inner join
			(
			SELECT AllocationId FROM
				(
					SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
					FROM @channel a
					left join tbtrx_allocation_channel b on a.Id=b.channelId
					left join (select count(id) prm from @channel) c on 1=1
				)ZZ WHERE hsl=prm group by AllocationId
			)channel on channel.AllocationId=a.AllocationId


			inner join
			(
			SELECT AllocationId FROM
				(
					SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
					FROM @subchannel a
					left join tbtrx_allocation_subchannel b on a.Id=b.subchannelId
					left join (select count(id) prm from @subchannel) c on 1=1
				)ZZ WHERE hsl=prm group by AllocationId
			)subchannel on subchannel.AllocationId=a.AllocationId


			inner join
			(
			SELECT AllocationId FROM
				(
					SELECT Id,COUNT(a.Id) OVER (PARTITION BY b.AllocationId) AS hsl,c.prm,b.AllocationId 
					FROM @account a
					left join tbtrx_allocation_account b on a.Id=b.accountId
					left join (select count(id) prm from @account) c on 1=1
				)ZZ WHERE hsl=prm group by AllocationId
			)account on account.AllocationId=a.AllocationId


			WHERE c.Periode=@periode 
			AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=a.AllocationId)
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND StatusApproval='AP2'
			AND IIF(@subcategory=0,'',IIF(a.SubcategoryId=0,0,a.SubCategoryId)) =IIF(@subcategory=0,'',IIF(a.SubCategoryId=0,0,@subcategory))
		END
END

GO
