

/****** Object:  StoredProcedure [dbo].[ip_dn_wht_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[ip_dn_wht_update] 
@dnid int,
@IsWHTDeductable int
,@statusPPH varchar(30)
,@pphPct numeric(10,4)
,@pphAmt numeric(18)
AS
--DECLARE @id int
BEGIN
--	SELECT @id=isnull(id, 0) FROM tbtrx_debetnote_wht
--	WHERE DNId = @dnid

	IF @IsWHTDeductable = 1
	BEGIN
		UPDATE tbtrx_debetnote
		SET statusPPH = @statusPPH
			,pphPct = @pphPct
			,pphAmt = @pphAmt
		WHERE id = @dnid
	END
		
	IF EXISTS (SELECT id FROM tbtrx_debetnote_wht WHERE dnid = @dnid)
--	IF @id>0
	BEGIN
		UPDATE tbtrx_debetnote_wht
		SET WHTtype=@IsWHTDeductable
		WHERE dnid=@dnid
	END
	ELSE
	BEGIN
		INSERT INTO tbtrx_debetnote_wht (DNId, WHTtype)
		VALUES (@dnid, @IsWHTDeductable)
--		SET @id = SCOPE_IDENTITY();
	END
END
GO
