

/****** Object:  StoredProcedure [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_list_dl]
as
BEGIN
	SELECT        
		Id, 
		ChannelId, 
		Channel, 
		SubChannelId, 
		SubChannel, 
		AccountId, 
		Account, 
		SubAccountId, 
		SubAccount, 
		IsActive, 
		Pic1,
		Pic2,
		CreateOn, 
		CreateBy, 
		CreatedEmail,
		isDeleted, 
		DeletedOn, 
		DeletedBy, 
		DeleteEmail
	FROM
		(
			SELECT        
				t.Id, 
				t.ChannelId, 
				c.LongDesc          AS Channel, 
				t.SubChannelId, 
				sc.LongDesc         AS SubChannel, 
				t.AccountId, 
				a.LongDesc          AS Account, 
				t.SubAccountId, 
				sa.LongDesc          AS SubAccount, 
				t.IsActive, 
				t.Pic1,
				t.Pic2,
				t.CreateOn, 
				t.CreateBy, 
				t.CreatedEmail,
				t.isDeleted,
				t.DeletedOn, 
				t.DeletedBy, 
				t.DeleteEmail
			FROM            
				tbset_matrix_dnmanual_assignment_new t 
				INNER JOIN tbmst_subaccount	sa	ON sa.Id	= t.SubAccountId 
				INNER JOIN tbmst_account	a   ON a.Id		= sa.AccountId  
				INNER JOIN tbmst_subchannel sc	ON sc.Id	= t.SubChannelId 
				INNER JOIN tbmst_channel	c   ON c.Id		= sc.ChannelId  
	
			UNION ALL

			SELECT        
				t.ParentId          AS Id, 
				t.ChannelId, 
				c.LongDesc          AS Channel, 
				t.SubChannelId, 
				sc.LongDesc         AS SubChannel, 
				t.AccountId, 
				a.LongDesc          AS Account, 
				t.SubAccountId, 
				sa.LongDesc          AS SubAccount, 
				t.IsActive, 
				t.Pic1,
				t.Pic2,
				t.CreateOn, 
				t.CreateBy, 
				t.CreatedEmail,
				t.isDelete,
				t.DeleteOn, 
				t.DeleteBy, 
				t.DeleteEmail
			FROM            
				tbhis_matrix_dnmanual_assignment_new t 
				INNER JOIN tbmst_subaccount	sa	ON sa.Id	= t.SubAccountId 
				INNER JOIN tbmst_account	a   ON a.Id		= sa.AccountId  
				INNER JOIN tbmst_subchannel sc	ON sc.Id	= t.SubChannelId 
				INNER JOIN tbmst_channel	c   ON c.Id		= sc.ChannelId  
		) dl
		
END



GO
