USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_distributor_wht_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     Procedure [dbo].[ip_distributor_wht_p] 
--exec ip_distributor_wht_p '', '', '', '',  1, 10, '','distributor',''
@distributor varchar(255),
@subActivity varchar(255),
@subAccount varchar(255),
@whtType varchar(50),

@start int,
@length int,
@txtSearch varchar(255),
@fieldOrder varchar(255),
@sort varchar(4)
as

--DECLARE
--@distributor varchar(255),
--@subActivity varchar(255),
--@subAccount varchar(255),

--@start int,
--@length int,
--@txtSearch varchar(255),
--@fieldOrder varchar(255),
--@sort varchar(4)

--SET @distributor ='tempo'
--SET @category ='RC'
--SET @subCategory =''
--SET @activity =''
--SET @subActivity =''
--SET @channel =''
--SET @subChannel = ''
--SET @account = ''
--SET @subAccount = ''

--SET @start =1
--SET @length =10
--SET @txtSearch ='sub Act'

	DECLARE @recordsFiltered int;
	DROP TABLE IF EXISTS #temp_page_result;
	SET @fieldOrder = ISNULL(@fieldOrder,'id')
	SET @sort = isnull(@sort,'ASC')

BEGIN

	IF LTRIM(RTRIM(@fieldOrder)) = ''
    BEGIN
        -- Set @InputParameter to the default value 'aa'
        SET @fieldOrder = 'id';
    END

SET @start = @start * @length 

SELECT id, distributor,  subActivity, subAccount, WHTType, modifiedBy, modifiedEmail, modifiedOn

INTO #temp_page_result

FROM tbset_distributor_wht a
WHERE 
	IIF(ISNULL(@distributor,'')='', '', @distributor)=IIF(ISNULL(@distributor,'')='', '', distributor) AND
	IIF(ISNULL(@subActivity,'')='', '', @subActivity)=IIF(ISNULL(@subActivity,'')='', '', subActivity) AND
	IIF(ISNULL(@subAccount,'')='', '', @subAccount)=IIF(ISNULL(@subAccount,'')='', '', subAccount) AND
	IIF(ISNULL(@whtType,'')='', '', @whtType)=IIF(ISNULL(@whtType,'')='', '', WHTtype) 
	--SubAccount LIKE + '%' + ISNULL(@subaccount, '') + '%' AND
	--(
	--	(@IsDeductable is not null AND IsDeductable=@isDeductable) OR
	--	@IsDeductable is null
	--)





DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = '
		SELECT * 
	FROM #temp_page_result 
	WHERE
    (ISNULL(Distributor,'''') LIKE ''%' +  isnull(@txtSearch,'') + '%'') OR 
    (ISNULL(SubActivity,'''') LIKE ''%' +  isnull(@txtSearch,'')  + '%'') OR 
    (ISNULL(SubAccount,'''') LIKE ''%' +  isnull(@txtSearch,'')  + '%'') 
	ORDER BY ' + @fieldOrder + ' ' + @sort 

	IF (@length>=0)
	BEGIN
		SET @SQL = @SQL + ' OFFSET ' + CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY '

	END

	--select @SQL
	EXEC sys.sp_executesql @SQL	     

	SELECT
	COUNT(*) AS recordsTotal,
    COUNT(CASE WHEN 
                (ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(SubActivity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(SubAccount,'') like '%' + ISNULL(@txtSearch, '') + '%')
		THEN 1 
		END) AS recordsFiltered
	FROM #temp_page_result

	DROP TABLE IF EXISTS #temp_page_result

END



GO
