USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_get_baseline]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_get_baseline]

@p_promoid int
,@p_period int
,@p_date date --creation date for plan/promo
,@p_type int --plan/promo=1, recon=2
,@p_distributor int
,@p_region AttributeType READONLY
,@p_channel AttributeType READONLY
,@p_subchannel AttributeType  READONLY
,@p_account AttributeType  READONLY
,@p_subaccount AttributeType  READONLY
,@p_brand AttributeType  READONLY
,@p_product AttributeType  READONLY
,@p_subcategory int
,@p_startpromo DATE
,@p_endpromo DATE
,@p_subactivity int
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--/************************************************************************************/
--DECLARE
--@p_promoid int
--,@p_period int
--,@p_date date --creation date for plan/promo
--,@p_type int --plan/promo=1, recon=2
--,@p_distributor int
--,@p_region AttributeType
--,@p_channel AttributeType
--,@p_subchannel AttributeType
--,@p_account AttributeType
--,@p_subaccount AttributeType
--,@p_brand AttributeType
--,@p_product AttributeType
--,@p_subcategory int
--,@p_startpromo DATE
--,@p_endpromo DATE
--,@p_subactivity int

--set @p_promoid=0
--set @p_period=2023
--set @p_date=@utcDate123
--set @p_type=1
--set @p_distributor=2
--set @p_subcategory=51
--set @p_startpromo ='2023-01-01'
--set @p_endpromo ='2023-12-31'
--set @p_subactivity =1277

--insert into @p_region(id) values (2),(3),(4),(5),(6),(7),(8),(9),(10)
--insert into @p_channel(id) values (6)
--insert into @p_subchannel(id) values (9)
--insert into @p_account(id) values (43)
--insert into @p_subaccount(id) values (114)
--insert into @p_brand(id)
----values(12)
--select id from tbmst_brand where PrincipalId=2
--insert into @p_product(id)
----values(69)
--select id from tbmst_product where brandid in (select id from tbmst_brand where PrincipalId=2)

--select
--@p_promoid=a.id
--, @p_period=a.Periode
--, @p_date=a.CreateOn
--, @p_type=1
--, @p_distributor=a.DistributorId
--, @p_subcategory=a.SubCategoryId
--, @p_startpromo =a.StartPromo
--, @p_endpromo =a.EndPromo
--, @p_subactivity =a.SubActivityId
--from  tbtrx_promo_planning a
--where id=8298--8155

--insert into @p_region (id) select regionid from tbtrx_promo_planning_region				where promoplanid=@p_promoid
--insert into @p_channel (id) select channelid from tbtrx_promo_planning_channel			where promoplanid=@p_promoid
--insert into @p_subchannel (id) select SubChannelId from tbtrx_promo_planning_subchannel	where promoplanid=@p_promoid
--insert into @p_account (id) select AccountId from tbtrx_promo_planning_account			where promoplanid=@p_promoid
--insert into @p_subaccount (id) select SubAccountId from tbtrx_promo_planning_subaccount	where promoplanid=@p_promoid
--insert into @p_brand (id) select BrandId from tbtrx_promo_planning_brand				where promoplanid=@p_promoid
--insert into @p_product (id) select ProductId from tbtrx_promo_planning_product			where promoplanid=@p_promoid
--/************************************************************************************/

BEGIN

/*	start cek parameter
 *  from UI
 */
	--delete from TempGetbaseline
	--INSERT INTO TempGetbaseline VALUES (
	--	@p_promoid
	--	,@p_period
	--	,@p_date
	--	,@p_type
	--	,@p_distributor
	--	,@p_subcategory
	--	,@p_startpromo
	--	,@p_endpromo
	--)
	--delete from mytmp

	--insert into mytmp (f1,f2) values('promoid', @p_promoid )
	--insert into mytmp (f1,f2) values('period', @p_period )
	--insert into mytmp (f1,f2) values('date', @p_date )
	--insert into mytmp (f1,f2) values('type', @p_type )
	--insert into mytmp (f1,f2) values('distributor', @p_distributor)
	--insert into mytmp (f1,f2) values('subcategory', @p_subcategory )
	--insert into mytmp (f1,f2) values('starpromo', @p_startpromo )
	--insert into mytmp (f1,f2) values('endpromo', @p_endpromo )
	--insert into mytmp (f1,f2) values('subactivity', @p_subactivity )
	--insert into mytmp (f1,f2) select 'region', id from @p_region
	--insert into mytmp (f1,f2) select 'channel', id from @p_channel
	--insert into mytmp (f1,f2) select 'subchannel', id from @p_subchannel
	--insert into mytmp (f1,f2) select 'account', id from @p_account
	--insert into mytmp (f1,f2) select 'subaccount', id from @p_subaccount
	--insert into mytmp (f1,f2) select 'brand', id from @p_brand
	--insert into mytmp (f1,f2) select 'sku', id from @p_product
/*	end cek parameter
 *  from UI
 */


declare @Period int
	, @distributorid nvarchar(50)
	, @channel varchar(100)
	, @ap3m decimal(38,12)
	, @ap6m decimal(38,12)
	, @ap9m decimal(38,12)
	, @ap12m decimal(38,12)
	, @baseline_old decimal(38,12)
	, @baseline_new decimal(38,12)
	, @baseline_final decimal(38,12)
	, @baseline_tot decimal(38,12)
	, @my1 varchar(6)
	, @my3 varchar(6)
	, @my6 varchar(6)
	, @my9 varchar(6)
	, @my12 varchar(6)
	, @anomaly_pct decimal(38,12)
	, @startpromo varchar(6)
	, @endpromo varchar(6)
	, @salesamount varchar(5)
	, @actual_sales decimal(38,12)

declare @Temp_Blitz table
(
	[Distributor_Id] [int] NULL,
	[Distributor_Name] [varchar](100) NULL,
	[Region_Code] [int] NULL,
	[Region_Desc] [varchar](100) NULL,
	[Year] [int] NULL,
	[Month_Name] [varchar](15) NULL,
	[AccountCode] [varchar](15) NULL,
	[AccountDesc] [varchar](100) NULL,
	[SubAccountCode] [varchar](20) NULL,
	[SubAccountDesc] [varchar](100) NULL,
	[Product_Code] [varchar](20) NULL,
	[Product_Name] [varchar](100) NULL,
	[Qty_In_Ton] [numeric](18, 6) NULL,
	[Qty_In_Car] [numeric](18, 6) NULL,
	[SS_DBP] [numeric](18, 6) NULL,
	[SS_RBP] [numeric](18, 6) NULL,
	[SOURCE] [varchar](15) NULL,
	[month_int] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ym] [varchar] (6) NULL
)
declare @Temp_Blitz_TS table
(
	[Distributor_Id] [int] NULL,
	[Distributor_Name] [varchar](100) NULL,
	[Region_Code] [int] NULL,
	[Region_Desc] [varchar](100) NULL,
	[Year] [int] NULL,
	[Month_Name] [varchar](15) NULL,
	[AccountCode] [varchar](15) NULL,
	[AccountDesc] [varchar](100) NULL,
	[SubAccountCode] [varchar](20) NULL,
	[SubAccountDesc] [varchar](100) NULL,
	[Product_Code] [varchar](20) NULL,
	[Product_Name] [varchar](100) NULL,
	[Qty_In_Ton] [numeric](18, 6) NULL,
	[Qty_In_Car] [numeric](18, 6) NULL,
	[SS_DBP] [numeric](18, 6) NULL,
	[SS_RBP] [numeric](18, 6) NULL,
	[SOURCE] [varchar](15) NULL,
	[month_int] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ym] [varchar] (6) NULL
)
declare @Temp_Blitz_TS_AS table
(
	[Distributor_Id] [int] NULL,
	[Distributor_Name] [varchar](100) NULL,
	[Region_Code] [int] NULL,
	[Region_Desc] [varchar](100) NULL,
	[Year] [int] NULL,
	[Month_Name] [varchar](15) NULL,
	[AccountCode] [varchar](15) NULL,
	[AccountDesc] [varchar](100) NULL,
	[SubAccountCode] [varchar](20) NULL,
	[SubAccountDesc] [varchar](100) NULL,
	[Product_Code] [varchar](20) NULL,
	[Product_Name] [varchar](100) NULL,
	[Qty_In_Ton] [numeric](18, 6) NULL,
	[Qty_In_Car] [numeric](18, 6) NULL,
	[SS_DBP] [numeric](18, 6) NULL,
	[SS_RBP] [numeric](18, 6) NULL,
	[SOURCE] [varchar](15) NULL,
	[month_int] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ym] [varchar] (6) NULL
)
declare @Temp_Blitz_pm_old table
(
	[ym] [varchar] (6) NULL,
	[tot] [numeric](18, 6)
)
declare @Temp_Blitz_pm_pct table
(
	[ym] [varchar] (6) NULL,
	[pct] [numeric](18, 6)
)
declare @Temp_Blitz_pm_new table
(
	[ym] [varchar] (6) NULL,
	[tot] [numeric](18, 6)
)


--/*PROMO RECON*/
--IF @p_type=3 and @p_promoid<>0
--	BEGIN
--		set @p_date=(
--			select a.StartPromo from tbtrx_promo a WHERE a.id=@p_promoid
--			)
--	end
--/*CREATE-EDIT PROMO*/
--ELSE IF @p_type=2 and @p_promoid<>0
--	BEGIN
--		set @p_date=(
--			select a.createon from tbtrx_promo_planning a where a.id=@p_promoid
--			)
--	end
--/*EDIT PLANNING*/
--ELSE IF @p_type=1 and @p_promoid<>0
--	BEGIN
--		set @p_date=(
--			select a.createon from tbtrx_promo_planning a where a.id=@p_promoid
--			)
--	end

IF @p_promoid<>0
	BEGIN
		IF @p_type=1 --@p_promoid=planid
			BEGIN
				set @p_date=(
					select a.createon from tbtrx_promo_planning a where a.id=@p_promoid
					)

			END
		ELSE IF @p_type=2 --@p_promoid=planid
			BEGIN
				IF @utcDate123>@p_endpromo
					BEGIN
						set @p_date=(
							select a.EndPromo from tbtrx_promo a inner join tbtrx_promo_planning b on a.promoplanid=b.id WHERE a.PromoPlanId=@p_promoid
							)
					END
				ELSE
					BEGIN
						set @p_date=(
							select a.createon from tbtrx_promo_planning a where a.id=@p_promoid
							)
					END
			END
		ELSE IF @p_type=3 --@p_promoid=promoid
			BEGIN
				IF @utcDate123>@p_endpromo
					BEGIN
						set @p_date=(
							select a.EndPromo from tbtrx_promo a inner join tbtrx_promo_planning b on a.promoplanid=b.id WHERE a.Id=@p_promoid
							)
					END
				ELSE
					BEGIN
						set @p_date=(
							select b.CreateOn from tbtrx_promo a inner join tbtrx_promo_planning b on a.promoplanid=b.id WHERE a.Id=@p_promoid
							)
					END
			END
	END

/*CREATION PLANNING*/
--ELSE IF @p_type=1 and @p_promoid=0
--	BEGIN
--		set @p_date= [CURRENT DATE FROM UI]
--	end

select
	@my1=convert(varchar(6),dateadd(month,-1,@p_date),112)
	, @my3=convert(varchar(6),dateadd(month,-3,@p_date),112)
	, @my6=convert(varchar(6),dateadd(month,-6,@p_date),112)
	, @my9=convert(varchar(6),dateadd(month,-9,@p_date),112)
	, @my12=convert(varchar(6),dateadd(month,-12,@p_date),112)


	set @period=@p_period
	set @distributorid=(select sapcode from tbmst_distributor where id=@p_distributor)
	set @startpromo=convert(varchar(6),@p_startpromo,112)
	set @endpromo=convert(varchar(6),@p_endpromo,112)
	set @channel=(select a.longdesc from tbmst_channel a inner join @p_channel b on a.id=b.id)
	set @salesamount=(select salesamount from tbset_map_subactivity_salesamount where SubActivityID=@p_subactivity)

if @salesamount='SS'
begin
	insert into @Temp_Blitz
		select [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='SS' and a.distributor_id = @distributorid and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12
end

else if @salesamount='TS'
begin
	INSERT INTO @Temp_Blitz_TS
	select
		[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym
		from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='TS' and a.distributor_id = 99999999 and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12

	insert into @Temp_Blitz
		SELECT
			a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
		FROM @Temp_Blitz_TS a
		inner join (
				select distinct e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code from tbset_map_brand_subacc_dist_ts a
					inner join tbmst_product b on a.brandid=b.BrandId
					inner join tbset_map_subaccount_sap c on a.subaccountid=c.subaccountid
					inner join tbset_map_product_sap d on b.id=d.ProductId
					inner join tbmst_distributor e on a.distributorid=e.id
					where e.SAPCode=@distributorid
			)b on a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code


	insert into @Temp_Blitz
		select a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],concat(a.year,right(concat('0',a.month_int),2)) from tbtrx_blitz a
			inner join (
				select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
				)b on a.subaccountcode=b.sapcode
			inner join (
				select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
				)c on a.Region_Code=c.sapcode
			inner join (
				select distinct sapcode, ProductId from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
				)d on a.Product_Code=d.sapcode
		where
			a.SOURCE='SS'
			and concat(a.year,right(concat('0',a.month_int),2))>=@my12 and concat(a.year,right(concat('0',a.month_int),2))<=@my1
			and a.distributor_id =@distributorid
			and productid not in (
			select productid from tbset_map_product_sap a inner join @Temp_Blitz b on a.SAPCode=b.Product_Code)
--			and (a.distributor_id =@distributorid and x.SubAccountCode is null and x.SubAccountCode is null and x.Region_Code is null and d.productid is null)
end




--/*TOBEREMARKED*/	select * from @Temp_Blitz order by ym
--/*TOBEREMARKED*/	select ym, sum(SS_RBP)*1.00 as totpm from @Temp_Blitz group by ym

/*hitung sales initial per bulan*/
insert into @Temp_Blitz_pm_old select ym, sum(SS_RBP)*1.00  from @Temp_Blitz group by ym


--/*hitung old baseline*/
--/*TOBEREMARKED*/	select @my1, @my3, @my6, @my9, @my12

select @ap3m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my3
select @ap6m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my6
select @ap9m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my9
select @ap12m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my12

if (iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))<>0
begin
	set @Baseline_old = (@ap3m + @ap6m + @ap9m + @ap12m)/(iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))
end
--/*TOBEREMARKED*/	select @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_old as baseline_old

/*pct anomaly based on channel*/
--set @anomaly_pct =
--	case when @channel='MMKA' or @channel='PROVISION' then 0.15
--		when @channel='HYSU' or @channel='LKA' then 0.30
--		else 0
--	end
set @anomaly_pct = 0.15

--/*TOBEREMARKED*/	select ym, tot as sales, @anomaly_pct as anomaly_pct, @baseline_old as baseline_old, (tot/@baseline_old)-1 as abnormal_pct,
--/*TOBEREMARKED*/	case
--/*TOBEREMARKED*/	when @anomaly_pct=0 then tot
--/*TOBEREMARKED*/	when (tot/@baseline_old)-1 <=@anomaly_pct then tot
--/*TOBEREMARKED*/	else 0 end as sales_abnorm  from @Temp_Blitz_pm_old

/*sales takeout jika diluar range anomaly*/
insert into @Temp_Blitz_pm_new select ym, case
	when @anomaly_pct=0 then tot
	when (tot>=@baseline_old) and ((tot/@baseline_old)-1 <=@anomaly_pct) then tot
	when (tot<@baseline_old) and ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) then tot
--	else 0 end from @Temp_Blitz_pm_old
	end from @Temp_Blitz_pm_old

--/*TOBEREMARKED*/	select * from @Temp_Blitz_pm_new

/*hitung new baseline*/
select @ap3m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my3
select @ap6m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my6
select @ap9m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my9
select @ap12m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my12
--if (iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))<>0
--begin
--	set @Baseline_new = (@ap3m + @ap6m + @ap9m + @ap12m)/(iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))
--end
if (iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))<>0
begin
	set @Baseline_new = (@ap3m + @ap6m + @ap9m + @ap12m)/(iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))
end
else
begin
	set @Baseline_new = 0
end
--set @baseline_final= (select 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end )
set @baseline_final= iif(isnull(@baseline_new,0)=0, @baseline_old, (select 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end ))

--/*TOBEREMARKED*/select @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_final as baseline_new

declare @ndays_start int, @ndays_end int, @nmonths int
,@bl_start money, @bl_end money, @bl_tot money
set @ndays_start=0; set @ndays_end=0; set @nmonths=0;


if month(@p_startpromo)=month(@p_endpromo)
begin
	set @ndays_start = iif(day(@p_endpromo)-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(@p_endpromo)-day(@p_startpromo)+1)
	set @ndays_end=0
	set @nmonths=iif(@ndays_start=0,1,0)
end
else
begin
	set @ndays_start = iif(day(eomonth(@p_startpromo))-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(eomonth(@p_startpromo))-day(@p_startpromo)+1)
	set @ndays_end = iif(day(@p_endpromo)=day(eomonth(@p_endpromo)),0,day(@p_endpromo))
	set @nmonths = datediff(month,@p_startpromo, @p_endpromo)-1+iif(@ndays_start=0,1,0)+iif(@ndays_end=0,1,0)
end

set @baseline_tot =
	(1.00*@ndays_start*@baseline_final/day(eomonth(@p_startpromo)))
	+((1.00*@ndays_end*@baseline_final/day(eomonth(@p_endpromo))))
	+(1.00*@nmonths*@baseline_final)
--select 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end as baseline_sales

--/*TOBEREMARKED*/select @salesamount, @baseline_final,@p_startpromo, @p_endpromo, @ndays_start, @ndays_end, @nmonths

/*Actual Sales****************************************************************/
delete from @Temp_Blitz where 0=0

set @my1=convert(varchar(6),@p_endpromo,112)
set @my12=convert(varchar(6),@p_startpromo,112)

if @salesamount='SS'
begin
	insert into @Temp_Blitz
		select [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='SS' and a.distributor_id = @distributorid and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12
end

else if @salesamount='TS'
begin
	INSERT INTO @Temp_Blitz_TS_AS
	select
		[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym
		from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='TS' and a.distributor_id = 99999999 and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12

	insert into @Temp_Blitz
		SELECT
			a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
		FROM @Temp_Blitz_TS_AS a
		inner join (
				select distinct e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code from tbset_map_brand_subacc_dist_ts a
					inner join tbmst_product b on a.brandid=b.BrandId
					inner join tbset_map_subaccount_sap c on a.subaccountid=c.subaccountid
					inner join tbset_map_product_sap d on b.id=d.ProductId
					inner join tbmst_distributor e on a.distributorid=e.id
					where e.SAPCode=@distributorid
			)b on a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code

	insert into @Temp_Blitz
		select a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],concat(a.year,right(concat('0',a.month_int),2)) from tbtrx_blitz a
			inner join (
				select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
				)b on a.subaccountcode=b.sapcode
			inner join (
				select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
				)c on a.Region_Code=c.sapcode
			inner join (
				select distinct sapcode, ProductId from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
				)d on a.Product_Code=d.sapcode
		where
			a.SOURCE='SS'
			and concat(a.year,right(concat('0',a.month_int),2))>=@my12 and concat(a.year,right(concat('0',a.month_int),2))<=@my1
			and a.distributor_id =@distributorid
			and productid not in (
			select productid from tbset_map_product_sap a inner join @Temp_Blitz b on a.SAPCode=b.Product_Code)
end

set @actual_sales = (
		select sum(SS_RBP) from @Temp_Blitz
		where
			ym>=left(convert(varchar, @p_startpromo, 112),6)
			and ym<=left(convert(varchar, @p_endpromo, 112),6)
		)

	if DATEDIFF(day, @p_startpromo, @p_endpromo)<=14
	begin
		if datediff(month,@p_startpromo, @p_endpromo)+1>1
		begin
			set  @actual_sales= @actual_sales*0.7/2
		end
		else
		begin
			set  @actual_sales= @actual_sales*0.7
		end
	end


--/****************************************************************Actual Sales*/

--select format(round(@baseline_tot,0),'#') as baseline_sales, format(round(isnull(@actual_sales,0),0),'#') as actual_sales

/*Result****************************************************************/
/* Untuk mencover btn get baseeline di UI promo Creation */
IF @p_type=1
BEGIN
	select cast(format(round(@baseline_tot,0),'#')as bigint) as baseline_sales, cast(format(round(isnull(@actual_sales,0),0),'#')as bigint) as actual_sales
END
ELSE
BEGIN
	select cast(format(round(NormalSales,0),'#')as bigint) as baseline_sales, cast(format(round(isnull(@actual_sales,0),0),'#')as bigint) as actual_sales
--	FROM tbtrx_promo_planning WHERE id in (select PromoPlanId from tbtrx_promo where id=@p_promoid)
	FROM tbtrx_promo_planning WHERE id = @p_promoid	
END

/*Log****************************************************************/
insert into tblog_baseline (dtime,pload,baseline,actualsales)
	select @utcDate123,
	concat(
	'pid:', @p_promoid
	,'; period:',@p_period
	,'; dtime:',@p_date 
	,'; type:',@p_type 
	,'; distributor:',@p_distributor 
	,'; region:',(select string_agg(id,',') from @p_region)
	,'; channel:',(select string_agg(id,',') from @p_channel AttributeType )
	,'; subchannel:',(select string_agg(id,',') from @p_subchannel AttributeType  )
	,'; account:',(select string_agg(id,',') from @p_account AttributeType  )
	,'; subaccount:',(select string_agg(id,',') from @p_subaccount AttributeType  )
	,'; brand:',(select string_agg(id,',') from @p_brand AttributeType  )
	,'; sku:',(select string_agg(id,',') from @p_product AttributeType  )
	,'; subcategory:',@p_subcategory 
	,'; startpromo:',@p_startpromo 
	,'; endpromo:',@p_endpromo 
	,'; subactivity:',@p_subactivity )
	,@baseline_tot,@actual_sales


END
GO
