USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_invoice_select]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_invoice_select]
@id int
as
begin

	SELECT * FROM tbtrx_invoice_header with (nolock) where id=@id

	SELECT c.RefId PromoRefId,b.RefId DnRefId,b.ActivityDesc,b.TotalClaim FROM tbtrx_invoice_detail a 
	INNER JOIN tbtrx_debetnote b on a.DNId=b.Id
	LEFT JOIN tbtrx_promo c on b.PromoId=c.Id
	where ParentId=@id

end
GO
