USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_budget_approval_rpt_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_budget_approval_rpt_list] 
	@Period int, 
	@ChannelId ArrayIntType Readonly, 
	@groupBrand ArrayIntType Readonly,
	@approvalStatus CharAttributeType Readonly,
	@batchid VARCHAR (255) = NULL,
	@categoryId int = 0,
	@5bio INT = NULL,
	@month ArrayIntType Readonly
AS

/*TEST*/
	--DECLARE
	--	@Period int, 
	--	@ChannelId ArrayIntType , 
	--	@groupBrand ArrayIntType ,
	--	@approvalStatus CharAttributeType ,
	--	@batchid VARCHAR (255) = NULL,
	--	@categoryId int = 22,
	--	@5bio INT = NULL,
	--	@month ArrayIntType 

	--	SET @Period = 2025 
	--	INSERT INTO @ChannelId		values(0)
	--	INSERT INTO @groupBrand		values(0)
	--	INSERT INTO @approvalStatus values (0)
	--	SET @batchid = ''
	--	SET @categoryId = 22
	--	INSERT INTO @month VALUES 
	--	--	(1),(2),(3),(4),(5),(6),
	--		(7)
	--	--	,(8),(9),(10),(11),(12)
	--	SET @5bio = 1

	--	INSERT INTO @ChannelId		select id from tbmst_channel where ISNULL(IsDelete,0)=0
	--	INSERT INTO @groupBrand		select id from tbmst_brand_group where ISNULL(IsDeleted,0)=0
	--	INSERT INTO @approvalStatus values ('TP01'),('TP02'),('TP03'),('TP04')
	--	--SET @batchid = '20241018093057'
	--	--EXEC [ip_promo_budget_approval_rpt_list] 
	--	--		@Period, 
	--	--		@ChannelId, 
	--	--		@groupBrand,
	--	--		@approvalStatus,
	--	--		@batchid

BEGIN
set nocount on
	IF ISNULL(@categoryId,0)=0
	BEGIN
		SET @categoryId = (SELECT id from tbmst_category where ShortDesc='RC')
	END

	DECLARE
		@pChannelId ArrayIntType , 
		@pgroupBrand ArrayIntType ,
		@papprovalStatus CharAttributeType ,
		@monthFilter ArrayIntType,
		@cnt int,
		@monthCek int,
		@rc int

	DECLARE @tmpappseq AS Table (
		appseq int,
		profileid varchar(100),
		profilecc varchar(100)
		)
	
	DECLARE 
		@cseqapp INT
		,@cprofileid VARCHAR(100)


	IF (SELECT ShortDesc FROM tbmst_category WHERE Id=@categoryId)='RC'
	BEGIN
		SET @rc=1
	END
	ELSE
	BEGIN
		SET @rc=2
	END

			SELECT TOP 1 @monthCek = keyid FROM @month

			SELECT @cnt=COUNT(*) FROM @month
			IF @cnt = 0 OR @monthCek = 0
				BEGIN
					INSERT INTO @monthFilter VALUES (1), (2), (3), (4), (5), (6), (7), (8), (9), (10), (11), (12)		
				END
			ELSE
				BEGIN
					INSERT INTO @monthFilter SELECT keyid FROM @month
				END

			SELECT @cnt=COUNT(*) FROM @ChannelId

			IF @cnt=0 
				BEGIN
					INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @ChannelId) = 0
				BEGIN
					INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
				END
			ELSE 
				BEGIN
					INSERT INTO @pChannelId (keyid) select keyid from @ChannelId
				END

			SELECT @cnt=COUNT(*) FROM @groupBrand

			IF @cnt=0 
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @groupBrand) = 0
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
				END
			ELSE 
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select keyid from @groupBrand
				END
		
			SELECT @cnt=COUNT(*) FROM @approvalStatus

			IF @cnt=0 
				BEGIN
					INSERT INTO @papprovalStatus (id) select StatusCode from tbmst_master_status where StatusType='TPD'
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 id FROM @approvalStatus) = '0'
				BEGIN
					INSERT INTO @papprovalStatus (id) select StatusCode from tbmst_master_status where StatusType='TPD'
				END
			ELSE
				BEGIN
					INSERT INTO @papprovalStatus (id) select id from @approvalStatus
				END

	DROP TABLE IF EXISTS #tempResultAbove5Bio
	DROP TABLE IF EXISTS #tempResultBelow5BioAll
	DROP TABLE IF EXISTS #tempResultBelow5BioContractual
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractual

	DROP TABLE IF EXISTS #tempResultAbove5BioDC
	DROP TABLE IF EXISTS #tempResultBelow5BioAllDC
	DROP TABLE IF EXISTS #tempResultBelow5BioContractualDC
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractualDC

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail
	DROP TABLE IF EXISTS #tempResultDetailDC
	DROP TABLE IF EXISTS #tmpappseq
	DROP TABLE IF EXISTS #tmpFormat

	DECLARE @tmpPromoId TABLE (
		promoId int,
		statusCode varchar(50), statusDesc varchar(50))

	IF ISNULL(@batchid,'') <> ''
		BEGIN
			SELECT top 1 @Period = pr.Period from tbtrx_promo pr
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						WHERE prbs.BatchId=@batchid

			INSERT INTO @tmpPromoId
						SELECT pr.id, maps.statusCode, maps.statusDesc from tbtrx_promo pr
						INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
						INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
						INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode
						WHERE prbs.BatchId=@batchid AND prbs.LastStatusCode IN ('TP02', 'TP04') AND ISNULL(pr.iscancel,0)=0

			IF (select COUNT(*) from tbtrx_promo_budget_status where batchid=@batchid)=0
				BEGIN
					RAISERROR ('All Promo ID already requested for approval or approved', -- Message text.
					16, -- Severity.
					1 -- State.
					);
				END
			
			IF (select top 1 pr.CategoryShortDesc from @tmpPromoId a inner join tbtrx_promo pr on a.promoId=pr.Id)='RC'
				BEGIN
					SET @rc=1
				END
				ELSE
				BEGIN
					SET @rc=2
				END

		END
	ELSE
		BEGIN
			IF @5bio IS NULL
				BEGIN
					INSERT INTO @tmpPromoId
								SELECT pr.id, maps.statusCode, maps.statusDesc from tbtrx_promo pr
								INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
								INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
								INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
								INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
								INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
								INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
								INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
								INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
								INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode
								WHERE MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) 
									AND prbs.Approved=0 AND prbs.LastStatusCode IN ('TP01', 'TP04') 
									AND ISNULL(pr.iscancel,0)=0
									AND pr.CategoryId=@categoryId
				END 
			ELSE IF @5bio =0
				BEGIN
					INSERT INTO @tmpPromoId
								SELECT pr.id, maps.statusCode, maps.statusDesc from tbtrx_promo pr
								INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
								INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
								INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
								INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
								INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
								INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
								INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
								INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
								INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode
								WHERE pr.investment <= 5000000000
									AND MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) 
									AND prbs.Approved=0 AND prbs.LastStatusCode IN ('TP01', 'TP04') AND ISNULL(pr.iscancel,0)=0
									AND pr.CategoryId=@categoryId
				END 
			ELSE IF @5bio =1
				BEGIN
					INSERT INTO @tmpPromoId
								SELECT pr.id, maps.statusCode, maps.statusDesc from tbtrx_promo pr
								INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
								INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
								INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
								INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
								INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
								INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
								INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
								INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
								INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode
								WHERE pr.investment > 5000000000
									AND MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) 
									AND prbs.Approved=0 AND prbs.LastStatusCode IN ('TP01', 'TP04') AND ISNULL(pr.iscancel,0)=0
									AND pr.CategoryId=@categoryId
				END 

					IF (select COUNT(*) from @tmpPromoId)=0
						BEGIN
							RAISERROR ('All Promo ID already requested for approval or approved', -- Message text.
							16, -- Severity.
							1 -- State.
							);
						END
		END

IF @rc=1
	BEGIN
	/*ABOVE 5 BIO*/
		SELECT
		pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
		, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
		, prcha.channelId, mcha.LongDesc channel, ISNULL(pracc.accountId,0) accountId, ISNULL(macc.LongDesc,'---') account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
		INTO #tempResultAbove5Bio
		from @tmpPromoId tpr
		INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
		INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId AND prcal.Cost>5000000000
		INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
		INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
		INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
		INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
		INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
		INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
		INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
		LEFT JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
		LEFT JOIN tbmst_account macc ON pracc.AccountId = macc.Id

	/*BELOW 5 BIO - ALL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
		INTO #tempResultBelow5BioAll FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId
	UNION ALL
	SELECT 'Grand Total' channel
		, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
		, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
		, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

		, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
		, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
		FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*BELOW 5 BIO - CONTRACTUAL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
		INTO #tempResultBelow5BioContractual FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId
	UNION ALL
	SELECT 'Grand Total' channel
		, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
		, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
		, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

		, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
		, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
		FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*BELOW 5 BIO - NON CONTRACTUAL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
		INTO #tempResultBelow5BioNonContractual FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId
	UNION ALL
	SELECT 'Grand Total' channel
		, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
		, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
		, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

		, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
		, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
		FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*DETAIL*/
		SELECT
		pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
		, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
		, prcha.channelId, mcha.LongDesc channel, ISNULL(pracc.accountId,0)accountId, ISNULL(macc.LongDesc,'---') account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
		, IIF(prcal.Cost<=5000000000, 'No', 'Yes') investment5bio, mbgr.LongDesc brand
		, IIF(msat.LongDesc = 'Contractual', 'Trading Term'
			, IIF(msat.LongDesc = 'Non Contractual', 'Adhoc'
			, IIF(mmac.LongDesc = 'Running Rate DC', 'Trading Term'
			, IIF(mmac.LongDesc = 'Non Running Rate DC', 'Adhoc'
			,'')))
			) tradingTermAdhoc
		--, IIF(msat.LongDesc = 'Contractual', 'Trading Term', IIF(msat.LongDesc = 'Non Contractual', 'Adhoc','')) tradingTermAdhoc
		, 0 crMechanism, DATENAME(month, pr.startpromo) monthStart, DATENAME(month, pr.endpromo) monthEnd, '' forRevision
		, tpr.promoId id
		, tpr.statusCode, tpr.statusDesc
		INTO #tempResultDetail
		from @tmpPromoId tpr
		INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
		INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId 
		INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
		INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
		INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
		INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
		LEFT JOIN tbmst_main_activity_dtl mmacd ON msac.id=mmacd.subactivityid
		LEFT JOIN tbmst_main_activity mmac ON mmacd.mainactivityid=mmac.id
		INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
		INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
		INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
		INNER JOIN tbmst_brand_group mbgr ON pr.groupbrandid = mbgr.id
		LEFT JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
		LEFT JOIN tbmst_account macc ON pracc.AccountId = macc.Id

/*PROFILE AND EMAIL to be sent*/

		IF (SELECT COUNT(*) FROM #tempResultAbove5Bio)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 4, Approver4, cc4 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver4 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 5, Approver5, cc5 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver5 IS NOT NULL AND category = 'RC'
			end

		IF (SELECT COUNT(*) FROM #tempResultBelow5BioAll)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'RC'
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver4 IS NOT NULL
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver5 IS NOT NULL
			end

		SELECT * FROM #tempResultAbove5Bio
		SELECT * FROM #tempResultBelow5BioAll
		SELECT * FROM #tempResultBelow5BioContractual
		SELECT * FROM #tempResultBelow5BioNonContractual
		SELECT * FROM #tempResultDetail

	END
ELSE
	BEGIN
	/*ABOVE 5 BIO*/
		SELECT
		pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
		, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
		, prcha.channelId, mcha.LongDesc channel, 0 accountId, '---' account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
		INTO #tempResultAbove5BioDC
		from @tmpPromoId tpr
		INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND pr.CategoryShortDesc='DC'
		INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId AND prcal.Cost>5000000000
		INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
		INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
		INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
		INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
		INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
		INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
		INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id

	/*BELOW 5 BIO - ALL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
		INTO #tempResultBelow5BioAllDC FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_distributor WHERE ISNULL(IsDeleted,0)=0) mcha
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId
	UNION ALL
	SELECT 'Grand Total' channel
		, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
		, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
		, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

		, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
		, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
		FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_distributor WHERE ISNULL(IsDeleteD,0)=0) mcha
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*BELOW 5 BIO - CONTRACTUAL*/
	SELECT * INTO #tempResultBelow5BioContractualDC FROM #tempResultBelow5BioAllDC
	DELETE FROM #tempResultBelow5BioContractualDC

	/*BELOW 5 BIO - NON CONTRACTUAL*/
	SELECT * INTO #tempResultBelow5BioNonContractualDC FROM #tempResultBelow5BioAllDC
	DELETE FROM #tempResultBelow5BioNonContractualDC

	/*DETAIL*/
		SELECT
		pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
		, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
		, prcha.channelId, mcha.LongDesc channel, 0 accountId, '---' account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
		, IIF(prcal.Cost<=5000000000, 'No', 'Yes') investment5bio, mbgr.LongDesc brand
		, '' tradingTermAdhoc
		, 0 crMechanism, DATENAME(month, pr.startpromo) monthStart, DATENAME(month, pr.endpromo) monthEnd, '' forRevision
		, tpr.promoId id
		, tpr.statusCode, tpr.statusDesc
		INTO #tempResultDetailDC
		from @tmpPromoId tpr
		INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND pr.CategoryShortDesc='DC'
		INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId 
		INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
		INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
		INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
		INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
		LEFT JOIN tbmst_main_activity_dtl mmacd ON msac.id=mmacd.subactivityid
		LEFT JOIN tbmst_main_activity mmac ON mmacd.mainactivityid=mmac.id
		INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
		INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
		INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
		INNER JOIN tbmst_brand_group mbgr ON pr.groupbrandid = mbgr.id

/*PROFILE AND EMAIL to be sent*/

		IF (SELECT COUNT(*) FROM #tempResultAbove5BioDC)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 4, Approver4, cc4 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver4 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 5, Approver5, cc5 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver5 IS NOT NULL AND category = 'DC'
			end

		IF (SELECT COUNT(*) FROM #tempResultBelow5BioAllDC)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'DC'
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver4 IS NOT NULL
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver5 IS NOT NULL
			end

		SELECT * FROM #tempResultAbove5BioDC
		SELECT * FROM #tempResultBelow5BioAllDC
		SELECT * FROM #tempResultBelow5BioContractualDC
		SELECT * FROM #tempResultBelow5BioNonContractualDC
		SELECT * FROM #tempResultDetailDC
	END

	SELECT DISTINCT * INTO #tmpappseq FROM @tmpappseq a
	SELECT a.appseq, a.profileid, b.email, b.jobtitle, c.username, d.email ccEmail  FROM #tmpappseq a
		LEFT JOIN tbset_user b ON a.profileid = b.id 
		LEFT JOIN tbset_user_login c ON b.email = c.email 
		LEFT JOIN tbset_user d ON a.profilecc = d.id 

	SELECT 
	'123456789012345678901234567890123456789012345678901234567890' fkey
	,'123456789012345678901234567890123456789012345678901234567890' textAlign
	,'123456789012345678901234567890123456789012345678901234567890' textColor
	,'123456789012345678901234567890123456789012345678901234567890' fontWeigth
	,'123456789012345678901234567890123456789012345678901234567890' verticalAlign
	,'123456789012345678901234567890123456789012345678901234567890' borderTop
	,'123456789012345678901234567890123456789012345678901234567890' backgroundColor
	,99 rowSpan
	,99 colSpan
	INTO #tmpFormat

	DELETE from #tmpFormat

	INSERT INTO #tmpFormat VALUES
	('header'			,'center'	,'#ffffff'	,'bold'		,'center'		,''						,'#366092'		,1			,1),
	('subHeader'		,'left'		,'#ffffff'	,'bold'		,'center'		,''						,'#366092'		,1			,1),
	('valueSubHeader'	,'center'	,'#ffffff'	,'bold'		,'center'		,'1px solid white'		,'#366092'		,1			,1),
	('body'				,'center'	,'#000000'	,'bold'		,'center'		,''						,'#ffffff'		,1			,1),
	('value'			,'center'	,'#000000'	,'bold'		,'center'		,''						,'#ffffff'		,1			,1),
	('footer'			,'center'	,'#000000'	,'bold'		,'center'		,'1px double #000000'	,'#ffffff'		,1			,1)

	SELECT * FROM #tmpFormat

	/*NEXT APPROVER*/

	DECLARE @SEQAPP AS TABLE (
	seq INT, approvedOn DATETIME, approvedBy VARCHAR(100), approvedEmail VARCHAR(100)
	)

	IF ISNULL(@batchid,'')<>''
		BEGIN
			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 1, Approved1On, Approved1By, Approved1Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved1By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 2, Approved2On, Approved2By, Approved2Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved2By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 3, Approved3On, Approved3By, Approved3Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved3By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 4, Approved4On, Approved4By, Approved4Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved4By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 5, Approved5On, Approved5By, Approved5Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved5By IS NOT NULL

			SELECT a.seq, max(a.approvedOn)approvedOn, a.approvedBy, max(a.approvedEmail)approvedEmail
				, max(b.email)email, max(b.jobtitle)jobtitle, max(c.username)username
				, d.email ccEmail 
			FROM @SEQAPP a
			INNER JOIN #tmpappseq ax ON a.seq = ax.appseq
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			LEFT JOIN tbset_user d ON ax.profilecc = d.id 
			GROUP BY a.seq, a.approvedBy, d.email order by a.seq

			SELECT TOP 1  a.*, b.email, b.jobtitle, c.username
				, d.email ccEmail 
			FROM @SEQAPP a
			INNER JOIN #tmpappseq ax ON a.seq = ax.appseq
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			LEFT JOIN tbset_user d ON ax.profilecc = d.id 
			WHERE approvedOn is null ORDER BY SEQ
	
			SELECT TOP 1 b.period,
				CASE WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (1,2,3) THEN 'Jan - Mar'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (4,5,6) THEN 'Apr - Jun'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (7,8,9) THEN 'Jul - Sep'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (10,11,12) THEN 'Oct - Dec'
				END periodDesc,
				b.CategoryShortDesc category
				FROM @tmpPromoId x
				INNER JOIN tbtrx_promo_budget_status a on x.promoId = a.PromoId
				INNER JOIN tbtrx_promo b on a.PromoId=b.Id

		END
	ELSE
		BEGIN
			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 1, NULL, Approved1By, Approved1Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved1By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 2, NULL, Approved2By, Approved2Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved2By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 3, NULL, Approved3By, Approved3Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved3By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 4, NULL, Approved4By, Approved4Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved4By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 5, NULL, Approved5By, Approved5Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved5By IS NOT NULL
	
			SELECT a.seq, max(a.approvedOn)approvedOn, a.approvedBy, max(a.approvedEmail)approvedEmail
				, max(b.email)email, max(b.jobtitle)jobtitle, max(c.username)username
				, d.email ccEmail 
			FROM @SEQAPP a
			INNER JOIN #tmpappseq ax ON a.seq = ax.appseq
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			LEFT JOIN tbset_user d ON ax.profilecc = d.id 
			where c.username='asdasd'
			GROUP BY a.seq, a.approvedBy, d.email order by a.seq

			SELECT TOP 1  a.*, b.email, b.jobtitle, c.username
				, d.email ccEmail 
			FROM @SEQAPP a
			INNER JOIN #tmpappseq ax ON a.seq = ax.appseq
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			LEFT JOIN tbset_user d ON ax.profilecc = d.id 
			WHERE approvedOn is null and c.username='asdasd'	ORDER BY SEQ

			SELECT TOP 1 b.period,
				CASE WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (1,2,3) THEN 'Jan - Mar'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (4,5,6) THEN 'Apr - Jun'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (7,8,9) THEN 'Jul - Sep'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (10,11,12) THEN 'Oct - Dec'
				END periodDesc
				FROM @tmpPromoId x
				INNER JOIN tbtrx_promo_budget_status a on x.promoId = a.PromoId
				INNER JOIN tbtrx_promo b on a.PromoId=b.Id
		END

	DROP TABLE IF EXISTS #tempResultAbove5Bio
	DROP TABLE IF EXISTS #tempResultBelow5BioAll
	DROP TABLE IF EXISTS #tempResultBelow5BioContractual
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractual

	DROP TABLE IF EXISTS #tempResultAbove5BioDC
	DROP TABLE IF EXISTS #tempResultBelow5BioAllDC
	DROP TABLE IF EXISTS #tempResultBelow5BioContractualDC
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractualDC

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail
	DROP TABLE IF EXISTS #tempResultDetailDC
	DROP TABLE IF EXISTS #tmpappseq
	DROP TABLE IF EXISTS #tmpFormat


END

GO
