USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_v3_list_download]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_planning_v3_list_download] --'2020',2,2,'1900-01-01','9999-12-31','1900-01-01','9999-12-31','kamsat'
--declare
 @periode varchar(4)
,@entity int
,@distributor int
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @userid='kamsat'
--SET @create_from='1900-12-01'
--SET @create_to='9999-12-31'
--SET @start_from='1900-01-01'
--SET @start_to='9999-12-01'

AS

/*
 * 2020-04-15 EDJ add laststatus if iscancel = 1
 */
BEGIN
	DROP TABLE IF EXISTS #temp_promo_planning;
	select pl.id INTO #temp_promo_planning
	FROM tbtrx_promo_planning pl
		where 	
		IIF(@entity=0,'',EntityId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',pl.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@userid='0','',pl.CreateBy) =IIF(@userid='0','',@userid)
		AND NOT (CONVERT(varchar(8),pl.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pl.EndPromo,112) < convert(varchar(8),@start_from,112))
	
	
	SELECT pl.id PromoPlanId,
		pl.refid,pr.Id PromoId,
		pr.refid PromorefId,
		region.RegionDesc,
		groupbrand.groupBrandDesc,
		brand.BrandDesc,
		subaccount.SubAccountDesc,
		pl.StartPromo,
		pl.EndPromo,
		pl.ActivityDesc,
		pl.Investment,
		IIF(pl.IsCancel=1, 'Cancelled by ' + CAST(pl.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pl.CancelOn as varchar), IIF(isnull(pl.tscode, '')='', 'waiting for approval', 'approved')) LastStatus,
		pl.tscode,
		EntityId,
		pcp.LongDesc EntityLongDesc,
		pcp.ShortDesc EntityShortDesc,
		pl.DistributorId,
		dis.LongDesc DistributorLongDesc,
		dis.ShortDesc DistributorShortDesc,
		mechanism.mechanism Mechanism,
		pl.Mechanisme1,
		pl.Mechanisme2,
		pl.Mechanisme3,
		pl.Mechanisme4,
		pl.CancelNotes,
		isnull(pl.IsCancel, 0) as IsCancel 
	    ,pl.TSCodeOn
	    ,pl.TSCodeBy
	    ,pl.initiator_notes
	    ,pl.InvestmentTypeId 
	    ,tit.RefId InvestmentTypeRefId
	    ,tit.LongDesc InvestmentTypeDesc	         
	FROM tbtrx_promo_planning pl
	left join tbmst_investment_type tit WITH(NOLOCK) on pl.InvestmentTypeId = tit.id
    inner join
    (
        select PromoPlanId, string_agg(reg.LongDesc,', ') RegionDesc
                from tbtrx_promo_planning_region a with (nolock)
                INNER join tbmst_region reg with (nolock) ON a.RegionId = reg.id
                INNER JOIN tbtrx_promo_planning pr with (nolock) ON pr.Id=a.PromoPlanId 
            GROUP BY a.PromoPlanId
    ) region on pl.Id = region.PromoPlanId
    inner join
    (
        select PromoPlanId, string_agg(sac.LongDesc,', ') SubAccountDesc
                    from tbtrx_promo_planning_subaccount a with (nolock)
                    INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                    INNER JOIN tbtrx_promo_planning pr with (nolock) ON pr.Id=a.PromoPlanId
            GROUP BY a.PromoPlanId
    ) subaccount on pl.Id = subaccount.PromoPlanId
    inner join
    (
        select PromoPlanId, string_agg(sac.LongDesc,', ') brandDesc
                    from tbtrx_promo_planning_brand a with (nolock)
                    INNER join tbmst_brand sac with (nolock) ON a.brandid=sac.Id
                    INNER JOIN tbtrx_promo_planning pr with (nolock) ON pr.Id=a.PromoPlanId
            GROUP BY a.PromoPlanId
    ) brand	on pl.Id = brand.PromoPlanId
    inner join 
    (
        select  PromoPlanId, string_agg(LongDesc,', ') groupBrandDesc
        FROM (
        	SELECT distinct PromoPlanId, bg.LongDesc
                    from tbtrx_promo_planning_brand a with (nolock)
                    INNER join tbmst_brand sac with (nolock) ON a.brandid=sac.Id
                    inner join tbmst_brand_group bg with (nolock) ON sac.brandgroupid = bg.id
                    inner join #temp_promo_planning tpp on a.promoplanid = tpp.id
        ) a
        GROUP BY a.PromoPlanId    
    ) groupbrand on pl.id = groupbrand.promoplanid
    inner join
    (
        select PromoPlanId, string_agg(concat(a.mechanism, ' ', a.notes),', ') mechanism
                    from tbtrx_promo_planning_mechanism a with (nolock)
            GROUP BY a.PromoPlanId
    ) mechanism	on pl.Id = mechanism.PromoPlanId    
	inner join tbmst_principal pcp on pl.EntityId=pcp.Id
	inner join tbmst_distributor dis on pl.DistributorId=dis.Id
	left join tbset_user uo on uo.Id=pl.CancelBy
	left join tbtrx_promo pr on pl.Id=pr.PromoPlanId and pr.tscoding=pl.TSCode
--	where 	
--	IIF(@entity=0,'',EntityId) =IIF(@entity=0,'',@entity)
--	AND IIF(@distributor=0,'',pl.DistributorId) =IIF(@distributor=0,'',@distributor)
--	AND IIF(@userid='0','',pl.CreateBy) =IIF(@userid='0','',@userid)
----	AND CONVERT(varchar(8),pl.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
----	AND CONVERT(varchar(8),pl.EndPromo,112) <= convert(varchar(8),@start_to,112)
--	
--	AND NOT (CONVERT(varchar(8),pl.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pl.EndPromo,112) < convert(varchar(8),@start_from,112))
----	AND (CONVERT(varchar(8),pl.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(6),pl.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))	
	
	DROP TABLE IF EXISTS #temp_promo_planning;
END
GO
