

/****** Object:  StoredProcedure [dbo].[ip_dn_validation]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_validation]
@dnid int,
@status varchar(50),
@notes varchar(255),
@userid varchar(50),
@taxlevel varchar(100)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
begin transaction

declare 
@laststatus varchar(50),
@prevstatus varchar(50),
@promoid int,
@isdnpromo int,
@messageout varchar(255)

	IF @status='rejected_by_dist_ho' OR @status='rejected_by_danone' OR @status='rejected_by_sales' OR @status='rejected_by_finance'
		BEGIN
			SET @laststatus=(SELECT LastStatus FROM tbtrx_debetnote where Id=@dnid)
			SET @prevstatus=(
				SELECT PrevStatus FROM
				(
					SELECT ParameterValue,
					LAG(parametervalue) OVER(ORDER BY Sequence) PrevStatus
					FROM tbset_general_parameter 
					where ParameterName='DNFLOW' 
				)X WHERE ParameterValue=@laststatus
			)
		
		
			UPDATE tbtrx_debetnote 
			SET LastStatus=@prevstatus
			,IsFreeze=0
			,Notes=@notes
			,TaxLevel = @taxlevel
			where id=@dnid
			
		
		
			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn)
			VALUES(@dnid,@status,@userid,@utcDate123)	
		END
	ELSE
		BEGIN

		   if @status='validate_by_dist_ho'
		   begin
			  UPDATE a
			  SET validate_by_dist_ho_on=@utcDate123
			  ,validate_by_dist_ho_by=@userid
			  FROM tbtrx_debetnote_his a	  
			  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0
			end


			if @status='validate_by_finance' 
			begin

					SET @isdnpromo = (SELECT isnull(IsDNPromo, 0) FROM tbtrx_debetnote where Id=@dnid)
					SET @promoid=(SELECT PromoId FROM tbtrx_debetnote where Id=@dnid)
					
					IF isnull(@isdnpromo,0)=1
					BEGIN						
						IF isnull(@promoid,0)=0
						BEGIN
							SET @messageout='You can not validate, please assign to Promo Number'
							RAISERROR (@messageout, -- Message text.  
						   16, -- Severity.  
						   1 -- State.  
						   );  
						END
		   			
						IF EXISTS
						(
						SELECT DNId FROM
						(
							SELECT 
							pr.Id PromoId,
							pr.RefId RefId,
							pr.Investment,
							dn.id DNId,
							dn.TotalClaim, 
							SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
							pr.Investment-SUM (dn.DPP) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
							from tbtrx_promo pr
							left join  tbtrx_debetnote dn
							on pr.Id=dn.PromoId
							WHERE pr.Id=@promoid and isnull(dn.IsCancel,0)=0
						) ob WHERE Remaining < 0 and DNId=@dnid
						)
						BEGIN
							SET @messageout='You can not validate, DN Over Budget'
							RAISERROR (@messageout, -- Message text.  
							16, -- Severity.  
							1 -- State.  
							);  
						END
						
					    UPDATE a
						  SET validate_by_finance_on=@utcDate123
						  ,validate_by_finance_by=@userid
						  ,Taxlevel=@taxlevel
						  FROM tbtrx_debetnote_his a	 
						  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0


						  UPDATE tbtrx_debetnote
						  SET LastStatus=@status
						  ,TaxLevel=@taxlevel
						  ,Notes=@notes
						  where Id=@dnid		

					END
					ELSE
					BEGIN
						--Jika bukan DN promo update validate_by_danone
						SET @status='validate_by_danone'
						
						  UPDATE a
						  SET validate_by_finance_on=@utcDate123
						  ,validate_by_finance_by=@userid
						  ,Taxlevel=@taxlevel
						  FROM tbtrx_debetnote_his a	 
						  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0

						
						  UPDATE tbtrx_debetnote
						  SET LastStatus=@status
						  ,TaxLevel=@taxlevel
						  ,Notes=@notes
						  where Id=@dnid		

					END




			end

			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn)
			VALUES(@dnid,@status,@userid,@utcDate123)	

		END
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
RAISERROR (@ErrorMessage, -- Message text.  
             @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
END CATCH







GO
