USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_bystatus]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_promo_list_bystatus] --'2020',1,0,0,0,'kamsat',0
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@cancelstatus bit
AS

--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--,@cancelstatus bit

--SET @periode ='2025'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid = 'kamsat'
--SET @cancelstatus =1

BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	DECLARE @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
		FROM 
			tbtrx_allocation where BudgetType='BAL' 
 
	OPEN cursor_product;
	FETCH NEXT FROM cursor_product INTO 
		@product_name
 
	WHILE @@FETCH_STATUS = 0
		BEGIN        
			SET @p_alcid=@product_name;
		
				WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				AS
					(
						SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) AS BDG_CHILD,1 AS Levels,CAST((Row_Number() OVER (ORDER BY @p_alcid) ) AS Varchar(MAx)) AS RowNumber
						UNION ALL
						SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() OVER (ORDER BY @p_alcid) ) AS Varchar(MAx)) AS RowNumber from tbtrx_budgetassignment a 
						INNER JOIN tbtrx_budgetassignment_detail b  ON (a.Id=b.assignmentId)
						INNER JOIN tbtrx_allocation c ON b.Id=c.BudgetSourceId and c.BudgetType='BTR'
						INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
					)
		
			INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				option (maxrecursion 0);

			FETCH NEXT FROM cursor_product INTO 
				@product_name             
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	IF @periode >= 2025
		BEGIN
			SELECT
				mp.longDesc entity
				,md.LongDesc distributor
				,mp.longDesc principalDesc
				, pr.id promoId
				, pr.refId
				,pr.ActivityDesc
				,IIF(pr.IsCancel=1
					,'Cancelled by ' + CAST(pr.CancelBy AS varchar) + '-' + CAST(ucancel.username AS varchar) + ' on ' + CAST(pr.CancelOn AS varchar)
					, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username AS varchar) +' on ' + CAST(pr.ApproveOn AS varchar)
						, IIF(pr.StatusApprovalCode = 'TP0', pr.laststatus, pr.LastStatus + '-' + uapprover.username)
					)
				)  LastStatus
				,CONCAT(a.period,' ', msat.longdesc, ' - ', md.ShortDesc, ' - ', d.LongDesc, ' ', vaa.activityDesc) allocation
				,pr.Investment
				,isnull(pr.IsCancelLocked,0) IsCancelLocked
				,'---' [tsCoding]
				,pr.cancelNotes 
				,ISNULL(pr.Reconciled,0) Reconciled
				, pr.startPromo
				, pr.endPromo
			FROM tbtrx_promo pr
			INNER JOIN tbtrx_promo_subaccount prsc ON pr.Id = prsc.PromoId  AND CategoryShortDesc='RC'
			INNER JOIN tbmst_brand_group f ON pr.groupbrandid = f.Id
			INNER JOIN vw_activity vaa ON pr.subactivityid = vaa.SubActivityId
			INNER JOIN tbmst_subactivity msa ON vaa.SubActivityId = msa.Id
			INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId=msat.Id
			INNER JOIN tbmst_principal mp ON pr.EntityId = mp.id
			INNER JOIN tbmst_distributor md ON pr.DistributorId = md.id
			LEFT JOIN tbmst_subaccount d ON prsc.subaccountid = d.Id
			LEFT JOIN tbtrx_ss_tt a ON pr.AllocationId = a.id
			LEFT JOIN tbset_user					ucancel		ON ucancel.Id=pr.CancelBy
			LEFT JOIN tbset_user					uapprover	ON uapprover.Id=pr.Approver
			LEFT JOIN
			(
	      		SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
					FROM tbtrx_promo_mechanism mec 
					GROUP BY mec.PromoId
			) mec ON pr.Id = mec.PromoId
			WHERE pr.Period=@periode
				AND IIF(@budgetparent=0,'',pr.allocationid) =IIF(@budgetparent=0,'',@budgetparent) 
				AND IIF(@entity=0,'',pr.EntityId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@channel=0,'',a.ChannelId) =IIF(@channel=0,'',@channel)
				AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
				AND isnull(pr.IsCancel,0)=@cancelstatus
UNION ALL
			SELECT
				mp.longDesc entity
				,md.LongDesc distributor
				,mp.longDesc principalDesc
				, pr.id promoId
				, pr.refId
				,mec.Mechanism [activityDesc]
				,IIF(pr.IsCancel=1
					,'Cancelled by ' + CAST(pr.CancelBy AS varchar) + '-' + CAST(ucancel.username AS varchar) + ' on ' + CAST(pr.CancelOn AS varchar)
					, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username AS varchar) +' on ' + CAST(pr.ApproveOn AS varchar)
						, IIF(pr.StatusApprovalCode = 'TP0', pr.laststatus, pr.LastStatus + '-' + uapprover.username)
					)
				)  LastStatus
				,CONCAT(a.period,' ', f.longdesc, ' - ', md.ShortDesc, ' - ', d.shortdesc, ' ', msat.longdesc) allocation
				,pr.Investment
				,isnull(pr.IsCancelLocked,0) IsCancelLocked
				,'---' [tsCoding]
				,pr.cancelNotes 
				,ISNULL(pr.Reconciled,0) Reconciled
				, pr.startPromo
				, pr.endPromo
			FROM tbtrx_promo pr
			INNER JOIN tbtrx_promo_channel prc ON pr.Id = prc.PromoId AND CategoryShortDesc='DC'
			INNER JOIN tbmst_channel d ON prc.ChannelId = d.Id
			INNER JOIN tbmst_brand_group f ON pr.groupbrandid = f.Id
			INNER JOIN vw_activity vaa ON pr.subactivityid = vaa.SubActivityId
			INNER JOIN tbmst_subactivity msa ON vaa.SubActivityId = msa.Id
			INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId=msat.Id
			INNER JOIN tbmst_principal mp ON pr.EntityId = mp.id
			INNER JOIN tbmst_distributor md ON pr.DistributorId = md.id
			LEFT JOIN tbtrx_ss_tt a ON pr.AllocationId = a.id
			LEFT JOIN tbset_user					ucancel		ON ucancel.Id=pr.CancelBy
			LEFT JOIN tbset_user					uapprover	ON uapprover.Id=pr.Approver
			LEFT JOIN
			(
	      		SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
					FROM tbtrx_promo_mechanism mec 
					GROUP BY mec.PromoId
			) mec ON pr.Id = mec.PromoId
			WHERE pr.Period=@periode
				AND IIF(@budgetparent=0,'',pr.allocationid) =IIF(@budgetparent=0,'',@budgetparent) 
				AND IIF(@entity=0,'',pr.EntityId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@channel=0,'',a.ChannelId) =IIF(@channel=0,'',@channel)
				AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
				AND isnull(pr.IsCancel,0)=@cancelstatus

		END
	ELSE
	BEGIN
		IF @userid='0'
			BEGIN
				SELECT DISTINCT	  
						p.LongDesc Entity
						,d.LongDesc Distributor
						,p.LongDesc PrincipalDesc
						,pr.Id PromoId
						,pr.RefId
						,IIF(cat.ShortDesc='DC',mec.Mechanism, pr.ActivityDesc) [ActivityDesc]
						,IIF(pr.IsCancel=1
							,'Cancelled by ' + CAST(pr.CancelBy AS varchar) + '-' + CAST(ucancel.username AS varchar) + ' on ' + CAST(pr.CancelOn AS varchar)
							, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username AS varchar) +' on ' + CAST(pr.ApproveOn AS varchar)
								,pr.LastStatus + '-' + uapprover.username
							)
						)  LastStatus
						,c.LongDesc Allocation 
						,pr.Investment
						,isnull(pr.IsCancelLocked,0) IsCancelLocked
						,IIF(cat.ShortDesc='DC','---', pr.TsCoding) [TsCoding]
						,pr.CancelNotes 
						, pr.startPromo
						, pr.endPromo
					FROM @temp a
					INNER JOIN tbtrx_promo					pr			ON a.BudgetId=pr.AllocationId
					INNER JOIN tbmst_category				cat			ON pr.CategoryId=cat.Id
					INNER JOIN tbtrx_allocation				c			ON a.BudgetId=c.Id 
					INNER JOIN tbtrx_budgetmaster			m			ON c.BudgetMasterId=m.Id
					LEFT JOIN tbmst_distributor				d			ON m.DistributorId=d.Id
					LEFT JOIN tbmst_principal				p			ON m.PrincipalId=p.Id
					LEFT JOIN tbtrx_allocation_channel		chn			ON c.Id=chn.AllocationId
					INNER JOIN tbtrx_allocation_useraccess	usr			ON usr.AllocationId=c.Id
					INNER JOIN tbset_user					uo			ON uo.Id=usr.UserId
					INNER JOIN tbset_user					uf			ON uf.Id=usr.UserId
					INNER JOIN tbset_user					upr			ON upr.Id=pr.Approver
					LEFT JOIN tbset_user					ucancel		ON ucancel.Id=pr.CancelBy
					LEFT JOIN tbset_user					uapprover	ON uapprover.Id=pr.Approver
					LEFT JOIN
						(
	      					SELECT AllocationId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
								FROM tbtrx_allocation_channel a WITH (NOLOCK)
								INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
								INNER JOIN tbtrx_allocation pr WITH (NOLOCK) ON pr.Id=a.AllocationId
								GROUP BY a.AllocationId
						) channel ON c.Id = channel.AllocationId
					LEFT JOIN
						(
	      					SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
								FROM tbtrx_promo_mechanism mec 
								GROUP BY mec.PromoId
						) mec ON pr.Id = mec.PromoId
					WHERE m.Periode=@periode
						AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
						AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
						AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
						AND isnull(IsCancel,0)=@cancelstatus
					ORDER BY pr.Id
			END 
		ELSE
			BEGIN 
				SELECT DISTINCT	  
						p.LongDesc Entity
						,d.LongDesc Distributor
						,p.LongDesc PrincipalDesc
						,pr.Id PromoId
						,pr.RefId
						,IIF(cat.ShortDesc='DC',mec.Mechanism, pr.ActivityDesc) [ActivityDesc]
						,IIF(pr.IsCancel=1
							,'Cancelled by ' + CAST(pr.CancelBy AS varchar) + '-' + CAST(ucancel.username AS varchar) + ' on ' + CAST(pr.CancelOn AS varchar)
							, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username AS varchar) +' on ' + CAST(pr.ApproveOn AS varchar)
								,pr.LastStatus + '-' + uapprover.username
							)
						)  LastStatus
						,c.LongDesc Allocation 
						,pr.Investment
						,isnull(pr.IsCancelLocked,0) IsCancelLocked
						,IIF(cat.ShortDesc='DC','---', pr.TsCoding) [TsCoding]
						,pr.CancelNotes 
						, pr.startPromo
						, pr.endPromo
					FROM @temp a
					INNER JOIN tbtrx_promo 							pr			ON a.BudgetId=pr.AllocationId
					INNER JOIN tbmst_category				cat			ON pr.CategoryId=cat.Id
					INNER JOIN tbtrx_allocation 					c			ON a.BudgetId=c.Id 
					INNER JOIN tbtrx_budgetmaster 					m			ON c.BudgetMasterId=m.Id
					LEFT JOIN tbmst_distributor 					d			ON m.DistributorId=d.Id
					LEFT JOIN tbmst_principal						p			ON m.PrincipalId=p.Id
					LEFT JOIN tbtrx_allocation_channel				chn			ON c.Id=chn.AllocationId
					INNER JOIN tbtrx_allocation_useraccess			usr			ON usr.AllocationId=c.Id
					INNER JOIN tbset_user 							uo			ON uo.Id=usr.UserId
					INNER JOIN tbset_user 							uf			ON uf.Id=usr.UserId
					INNER JOIN tbset_user 							upr			ON upr.Id=pr.Approver
					LEFT JOIN tbset_user 							ucancel		ON ucancel.Id=pr.CancelBy
					LEFT JOIN tbset_user 							uapprover	ON uapprover.Id=pr.Approver
					LEFT JOIN
						(
	      					SELECT AllocationId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
								FROM tbtrx_allocation_channel a WITH (NOLOCK)
								INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
								INNER JOIN tbtrx_allocation pr WITH (NOLOCK) ON pr.Id=a.AllocationId
								GROUP BY a.AllocationId
						) channel ON c.Id = channel.AllocationId
					LEFT JOIN
						(
	      					SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
								FROM tbtrx_promo_mechanism mec 
								GROUP BY mec.PromoId
						) mec ON pr.Id = mec.PromoId
					WHERE m.Periode=@periode
						AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
						AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
						AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
						AND isnull(IsCancel,0)=@cancelstatus
						AND EXISTS
							(
								SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and m.DistributorId=dis.DistributorId
							)
					ORDER BY pr.Id
		
			END
	END
END
GO
