

/****** Object:  StoredProcedure [dbo].[ip_dn_create_invoice_by_import]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_dn_create_invoice_by_import]
@userid varchar(50),
@header InvoiceHeaderType READONLY,
@detail InvoiceDetailType READONLY
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
BEGIN TRANSACTION


	declare 
	@distributorid int
	,@headerid int
	,@entityid int
	,@entitydesc varchar(50)
	,@entitycount int
	
	declare @temp as TABLE
	(
	doc varchar(50),
	doc_status varchar(255)
	)

	

	insert into @temp
	SELECT a.DnNumber,'DN not found' from @detail a
	left join tbtrx_debetnote b on b.RefId=a.DnNumber
	where b.RefId is null

	insert into @temp
	SELECT a.DnNumber,'DN status is not ready to invoice' from @detail a
	inner join tbtrx_debetnote b on b.RefId=a.DnNumber
	where b.LastStatus <> 'ready_to_invoice'

	insert into @temp
	SELECT a.DnNumber,'There are DN numbers already on another invoice' from @detail a
	inner join tbtrx_debetnote b on b.RefId=a.DnNumber
	inner join tbtrx_invoice_detail c on b.id=c.DNId and isnull(c.IsCancel,0)=0


SET @entitycount=
(
SELECT COUNT(distinct PrincipalShortDesc) from @detail a
inner join tbtrx_debetnote b on b.RefId=a.DnNumber group by PrincipalShortDesc
)

IF @entitycount > 1
	begin
		SELECT 'All' doc,'Can not create Invoice for multiple Entity' [status]
		rollback
		return
	end
	
	

	SELECT TOP 1 @entityid=c.Id,@entitydesc=c.ShortDesc from @detail a
	inner join tbtrx_debetnote b on b.RefId=a.DnNumber
	inner join tbmst_principal c on b.PrincipalShortDesc=c.ShortDesc


	if exists(select * from @temp)
	begin
	  SELECT doc,'OK',doc_status [status] from @temp
	  rollback
	  RETURN
	end

	INSERT INTO tbtrx_invoice_header(DistributorId,DistributorShortDesc,EntityId,EntityDesc,[Desc],DPPAmount,PPN,InvoiceAmount,CreateBy,CreateOn)
	SELECT b.Id,b.ShortDesc,@entityid,@entitydesc,a.InvoiceDesc,a.DPP,a.PPN,a.InvoiceAmount,@userid,@utcDate123 FROM @header a
	inner join tbmst_distributor b on a.DistributorShortDesc=b.ShortDesc 


	SET @headerid=(SELECT SCOPE_IDENTITY())

	INSERT INTO tbtrx_invoice_detail(ParentId,DNId,IsCancel)
	select @headerid,b.Id,0 FROM @detail a
	inner join tbtrx_debetnote b on a.DnNumber=b.RefId

	UPDATE a
	SET LastStatus='invoice'
	FROM tbtrx_debetnote a
	INNER JOIN @detail b on a.RefId=b.DnNumber 	


	UPDATE a
	SET invoice_on=@utcDate123
	,invoice_by=@userid
	FROM tbtrx_debetnote_his a
	INNER JOIN tbtrx_debetnote dn on a.DNId=dn.id and a.is_cancel=0
	INNER JOIN @detail b on dn.RefId=b.DnNumber 
	

commit
end try
begin catch
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

end catch






GO
