

/****** Object:  StoredProcedure [dbo].[ip_promo_v4_approval_recon_withdraft]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_v4_approval_recon_withdraft] --25,'TP2','','2019-10-21'
@promoid int,
@statuscode varchar(55),
@notes varchar(255),
@approvaldate datetime

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN 


declare 
@p_reqid int
,@rowcount int
,@initialstatus varchar(5)
,@initialstatusrecon varchar(5)
,@messageout varchar(255)
,@userid varchar(50)
,@paramstatus varchar(55)
,@userapprover varchar(50)
,@statusApprovalRecon varchar(50)
,@err int

SET @err = 0;
SET @paramstatus = @statuscode
SET @statuscode = LEFT(@paramstatus, 3)
SET @userid = SUBSTRING(@paramstatus, 4, 50)

SET @initialstatus=(SELECT StatusApprovalCode from tbtrx_promo where Id=@promoid)
SET @initialstatusrecon=(SELECT StatusApprovalCodeRecon from tbtrx_promo where Id=@promoid)
--Cek Promo approver = @userid
SET @userapprover = (SELECT ApproverRecon FROM tbtrx_promo WHERE id= @promoid)
SET @statusApprovalRecon = (SELECT StatusApprovalRecon FROM tbtrx_promo WHERE Id=@promoid)

DELETE from mytmp
insert INTO mytmp (f1, f2, f3)
values(@userapprover, @userid, @paramstatus)

IF @initialstatusrecon='TP2'
BEGIN
	SET @err = 1;
	IF @statuscode='TP2'
	BEGIN
		SET @messageout='Promo ID has been approved '
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	END
	IF @statuscode='TP3'
	BEGIN
		SET @messageout='Promo ID send back failed because it has been approved'
	  	RAISERROR (@messageout, -- Message text.  
	           16, -- Severity.  
	           1 -- State.  
	           );  
	END
END

IF @statusApprovalRecon='Sendback'
BEGIN
		SET @messageout='Promo ID has been sendback to initiator '
	  	RAISERROR (@messageout, -- Message text.  
	           16, -- Severity.  
	           1 -- State.  
	           );  
	
END
ELSE
BEGIN

	IF @userapprover<>@userid
	BEGIN
		SET @messageout='Promo ID has been approved '
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	END
	ELSE
	BEGIN
		IF @err = 0
		BEGIN
			IF @initialstatus='TP2'
			BEGIN
		--		IF @statuscode='TP3'
		--		BEGIN
		--			SET @messageout='Can not sendback Promo'
		--		  	RAISERROR (@messageout, -- Message text.  
		--		           16, -- Severity.  
		--		           1 -- State.  
		--		           );  
		--
		--		END
		--		ELSE
		--		BEGIN
		
					SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@promoid and IsCancel=0)
		
		
					update tpa
					SET [Status]=@statuscode
					,Notes=@notes			
					,ActionDate=(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
					,tpa.UserApproverName = usr.username 
					,tpa.UserApproverEmail = usr.email 
					FROM tbtrx_promo_approval_recon tpa
					INNER JOIN tbset_user usr ON tpa.UserApprover = usr.id
					WHERE RequestId=@p_reqid  AND IsOnGoing=1
		
		
		
					UPDATE tbtrx_promo
					SET StatusApprovalRecon=tbmst_master_status.StatusDesc
					,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
					,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
					,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
					from tbtrx_promo 
					inner join tbtrx_promo_request_approval_recon	
					on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
					inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
					inner join tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
					where tbtrx_promo_request_approval_recon.IsCancel=0
					and tbtrx_promo_approval_recon.IsOnGoing=1
					AND RequestId=@p_reqid
		
					if @statuscode='TP2'
					begin
		
							UPDATE A
							SET IsOnGoing=0
							,A.UserApproverName=usr.username 
							,A.UserApproverEmail = usr.email 
							FROM tbtrx_promo_approval_recon A
							INNER JOIN tbset_user usr ON A.UserApprover = usr.id
							INNER JOIN
							(SELECT MAX(Sequence) Sequence,RequestId
							FROM tbtrx_promo_approval_recon WHERE [Status]='TP2' GROUP BY RequestId) X
							ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
							where A.RequestId=@p_reqid
		
		
							UPDATE A
							SET IsOnGoing=1
							,RequestDate=(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
							,A.UserApproverName = usr.username
							,A.UserApproverEmail = usr.email 
							FROM tbtrx_promo_approval_recon A
							INNER JOIN tbset_user usr ON A.UserApprover = usr.id
							INNER JOIN
							(SELECT MIN(Sequence) Sequence,RequestId
							FROM tbtrx_promo_approval_recon WHERE [Status]='TP1' GROUP BY RequestId) X
							ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
							where A.RequestId=@p_reqid
		
		
							UPDATE tbtrx_promo
							SET StatusApprovalRecon=tbmst_master_status.StatusDesc
							,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
							,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
							from tbtrx_promo 
							inner join tbtrx_promo_request_approval_recon	
							on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
							inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
							inner join tbmst_master_status on StatusCode=tbtrx_promo_request_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
							where tbtrx_promo_request_approval_recon.IsCancel=0
							and tbtrx_promo_approval_recon.IsOnGoing=1
							AND RequestId=@p_reqid
		
		
		
				
							UPDATE TPP
							SET TPP.StatusApprovalCodeRecon=A.[Status]
							,ApproveOnRecon = (getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
							,ApprovalNotesRecon = A.Notes
							,TPP.OldInvest=TPP.Investment
							,ApproverRecon=A.UserApprover
							FROM tbtrx_promo_approval_recon A
							INNER JOIN tbtrx_promo_request_approval_recon ON A.RequestId=tbtrx_promo_request_approval_recon.Id
							INNER JOIN tbtrx_promo TPP ON TPP.Id=tbtrx_promo_request_approval_recon.ParentId
							INNER JOIN
							(SELECT RequestId,MAX(Sequence) Sequence
							FROM tbtrx_promo_approval_recon GROUP BY RequestId) Y
							ON Y.RequestId=A.RequestId and A.Sequence=Y.Sequence
							where A.RequestId=@p_reqid AND A.[Status]='TP2'
		
							set @rowcount=@@ROWCOUNT
		
							IF @rowcount=1
							BEGIN
								/********************
								UPDATE BALANCE
								********************/
								UPDATE bal
								SET ReserveAmount=(ReserveAmount - X.TotInvest)
								,UseAmount=(UseAmount + X.TotInvest) 
								FROM tbtrx_allocation_balance bal
								inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
								INNER JOIN
								(
									SELECT ParentId,TotInvest from tbtrx_promo_request_approval_recon where Id IN
									(
										SELECT MAX(Id) Id
										FROM tbtrx_promo_request_approval_recon WHERE [IsCancel]=0 GROUP BY ParentId
									)
								) X
								ON X.ParentId=pr.Id 
								where pr.Id=@promoid
							END
		
					end
		--		END
			END
			ELSE
			BEGIN
			
					SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@promoid and IsCancel=0)
		
		
					update tpa
					SET [Status]=@statuscode
					,Notes=@notes		
					,ActionDate=(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
					,tpa.UserApproverName = usr.username 
					,tpa.UserApproverEmail = usr.email 
					FROM tbtrx_promo_approval tpa
					INNER JOIN tbset_user usr ON tpa.UserApprover = usr.id
					WHERE RequestId=@p_reqid  AND IsOnGoing=1
		
		
		
					UPDATE tbtrx_promo
					SET StatusApproval=tbmst_master_status.StatusDesc
					,Approver=tbtrx_promo_approval.UserApprover
					,ApproveOn=tbtrx_promo_approval.ActionDate
					,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
					from tbtrx_promo 
					inner join tbtrx_promo_request_approval	
					on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
					inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
					inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
					where tbtrx_promo_request_approval.IsCancel=0
					and tbtrx_promo_approval.IsOnGoing=1
					AND RequestId=@p_reqid
		
					if @statuscode='TP2'
					begin
		
							UPDATE A
							SET IsOnGoing=0
							,A.UserApproverName = usr.username 
							,A.UserApproverEmail = usr.email 
							FROM tbtrx_promo_approval A
							INNER JOIN tbset_user usr ON A.UserApprover = usr.id
							INNER JOIN
							(SELECT MAX(Sequence) Sequence,RequestId
							FROM tbtrx_promo_approval WHERE [Status]='TP2' GROUP BY RequestId) X
							ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
							where A.RequestId=@p_reqid
		
		
							UPDATE A
							SET IsOnGoing=1
							,RequestDate=(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
							,A.UserApproverName = usr.username 
							,A.UserApproverEmail = usr.email 
							FROM tbtrx_promo_approval A
							INNER JOIN tbset_user usr ON A.UserApprover = usr.id
							INNER JOIN
							(SELECT MIN(Sequence) Sequence,RequestId
							FROM tbtrx_promo_approval WHERE [Status]='TP1' GROUP BY RequestId) X
							ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
							where A.RequestId=@p_reqid
		
		
							UPDATE tbtrx_promo
							SET StatusApproval=tbmst_master_status.StatusDesc
							,Approver=tbtrx_promo_approval.UserApprover
							,ApproveOn=tbtrx_promo_approval.ActionDate
							,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
							from tbtrx_promo 
							inner join tbtrx_promo_request_approval	
							on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
							inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
							inner join tbmst_master_status on StatusCode=tbtrx_promo_request_approval.[Status] and tbmst_master_status.StatusType='TPP'
							where tbtrx_promo_request_approval.IsCancel=0
							and tbtrx_promo_approval.IsOnGoing=1
							AND RequestId=@p_reqid
		
		
		
				
							UPDATE TPP
							SET TPP.StatusApprovalCode=A.[Status]
							,ApproveOn = (getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
							,ApprovalNotes = A.Notes
							,TPP.OldInvest=TPP.Investment
							,Approver=A.UserApprover
							FROM tbtrx_promo_approval A
							INNER JOIN tbtrx_promo_request_approval ON A.RequestId=tbtrx_promo_request_approval.Id
							INNER JOIN tbtrx_promo TPP ON TPP.Id=tbtrx_promo_request_approval.ParentId
							INNER JOIN
							(SELECT RequestId,MAX(Sequence) Sequence
							FROM tbtrx_promo_approval GROUP BY RequestId) Y
							ON Y.RequestId=A.RequestId and A.Sequence=Y.Sequence
							where A.RequestId=@p_reqid AND A.[Status]='TP2'
		
							set @rowcount=@@ROWCOUNT
		
							IF @rowcount=1
							BEGIN
		
								/********************
								UPDATE BALANCE
								********************/
								UPDATE bal
								SET ReserveAmount=(ReserveAmount - X.TotInvest)
								,UseAmount=(UseAmount + X.TotInvest) 
								FROM tbtrx_allocation_balance bal
								inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
								INNER JOIN
								(
									SELECT ParentId,TotInvest from tbtrx_promo_request_approval where Id IN
									(
										SELECT MAX(Id) Id
										FROM tbtrx_promo_request_approval WHERE [IsCancel]=0 GROUP BY ParentId
									)
								) X
								ON X.ParentId=pr.Id 
								where pr.Id=@promoid
							END
		
					end
				END
			END
		END
END

IF NOT EXISTS
(
select 1 as error
,'success' as [message]
, 200 as [statuscode]
,a.Id [userid_initiator]
,a.username [username_initiator]
,a.email [email_initiator]
,b.Id [userid_approver]
,b.username [username_approver]
,b.email [email_approver]
FROM tbtrx_promo pr
inner join tbset_user a on pr.CreateBy=a.Id
inner join tbset_user b on pr.ApproverRecon=b.Id 
where pr.Id=@promoid
)
BEGIN
		SET @messageout='email address initator or approver not found '
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
END


	select 1 as error
	,'success' as [message]
	, 200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	,b.Id [userid_approver]
	,b.username [username_approver]
	,b.email [email_approver]
	,pr.Id [PromoId]
	,pr.RefId
	,IIF(ISNULL(pr.StatusApprovalCode,'TP1')='TP2',1,0) IsFullyApproved
	,IIF(ISNULL(pr.StatusApprovalCodeRecon,'TP1')='TP2',1,0) IsFullyApprovedRecon
	FROM tbtrx_promo pr
	inner join tbset_user a on pr.CreateBy=a.Id
	inner join tbset_user b on pr.ApproverRecon=b.Id 
	where pr.Id=@promoid

END
GO
