

/****** Object:  StoredProcedure [dbo].[ip_promo_update_cost_rr]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_update_cost_rr] 
	@sourceupdate int
	, @sscrtype SSConversionRateType READONLY
	, @ssvolumetype SSVolumeType READONLY
	, @sstttype SSTTTypeRC READONLY

AS

--DECLARE 
--	@sourceupdate int
--	, @sscrtype SSConversionRateType
--	, @ssvolumetype SSVolumeType
--	, @sstttype SSTTTypeRC
	--SET @sourceupdate = 2

--DROP TABLE IF EXISTS tempSSTTTypeRC
--select * into  tempSSTTTypeRC from @sstttype

BEGIN
	DECLARE
		@promoidtype ArrayIntType
		, @promoid int
		, @period int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @groupbrandid int
		, @subactivityid int
		, @distributorid int
		, @promostart datetime
		, @promoend datetime
		, @ssvalue float
		, @cr float

	DECLARE @ss_ssvalue_promoid_get as table (
		period int
		, channelid int 
		, subchannelid int 
		, accountid int 
		, subaccountid int 
		, groupbrandid int 
		, ssvalue float
		)

	DECLARE @promo_cr_get as table (
		id INT
		,budgetname varchar(255)
		,tt float
		)


	IF @sourceupdate = 1
		BEGIN
			INSERT INTO @promoidtype
				SELECT
					pr.Id
					from @sscrtype A
					INNER JOIN tbtrx_ss_conversion_rate b ON b.period = A.period AND b.channelid = A.channel AND b.subChannelId = A.subchannel AND b.groupbrandid = A.groupbrand
					inner join tbtrx_ss_volume c ON b.period = c.period AND b.channelid = c.channelid AND b.groupbrandid = c.groupbrandid
					INNER JOIN tbtrx_ss_tt d ON d.period = c.period AND d.subaccountid = c.subaccountid AND d.groupbrandid = c.groupbrandid
					INNER JOIN tbtrx_promo pr ON d.id=pr.AllocationId
					INNER JOIN tbmst_main_activity_dtl x ON pr.subactivityid = x.subactivityid
					INNER JOIN tbmst_main_activity y ON x.mainactivityid = y.id AND y.longdesc = 'Running Rate'

		END
	IF @sourceupdate = 2
		BEGIN
			INSERT INTO @promoidtype
				SELECT
					pr.Id
					from tbtrx_ss_conversion_rate b 
					inner join @ssvolumetype A ON b.period = A.period AND b.channelid = A.channel AND b.subChannelId = A.subchannel AND b.groupbrandid = A.groupbrand
					inner join tbtrx_ss_volume c ON A.period = c.period AND A.subaccount = c.subaccountid AND A.groupbrand = c.groupbrandid
					INNER JOIN tbtrx_ss_tt d ON d.period = c.period AND d.subaccountid = c.subaccountid AND d.groupbrandid = c.groupbrandid
					INNER JOIN tbtrx_promo pr ON d.id=pr.AllocationId
					INNER JOIN tbmst_main_activity_dtl x ON pr.subactivityid = x.subactivityid
					INNER JOIN tbmst_main_activity y ON x.mainactivityid = y.id AND y.longdesc = 'Running Rate'
		END

	IF @sourceupdate = 3
		BEGIN
			INSERT INTO @promoidtype
				SELECT
					pr.Id
					from tbtrx_ss_conversion_rate b 
					inner join tbtrx_ss_volume c ON b.period = c.period AND b.channelid = c.channelid AND b.subChannelId = c.subchannelid AND b.groupbrandid = c.groupbrandid
					INNER JOIN @sstttype A ON A.period = c.period AND A.subaccount = c.subaccountid AND A.groupbrand = c.groupbrandid
					INNER JOIN tbtrx_ss_tt d ON d.period = A.period AND d.subaccountid = A.subaccount AND d.groupbrandid = A.groupbrand
					INNER JOIN tbtrx_promo pr ON d.id=pr.AllocationId
					INNER JOIN tbmst_main_activity_dtl x ON pr.subactivityid = x.subactivityid
					INNER JOIN tbmst_main_activity y ON x.mainactivityid = y.id AND y.longdesc = 'Running Rate'
		END


	DECLARE update_cursor CURSOR FOR 
		SELECT keyid from @promoidtype

	OPEN update_cursor  
	FETCH NEXT FROM update_cursor INTO @promoid

	WHILE @@FETCH_STATUS = 0  
		BEGIN  
			SELECT
				@period=Period,@channelid=C.ChannelId,@subchannelid=C.SubChannelId,@accountid=C.AccountId,@subaccountid=B.SubAccountId
				,@groupbrandid =A.GroupBrandId,@promostart =A.StartPromo,@promoend =A.EndPromo, @subactivityid = A.subactivityid, @distributorid = A.distributorid
				FROM tbtrx_promo A
				INNER JOIN tbtrx_promo_subaccount B ON A.Id = B.PromoId
				INNER JOIN vw_account C ON B.SubAccountId = C.SubAccountId
				WHERE Id=@promoid

			DELETE FROM @ss_ssvalue_promoid_get
			INSERT INTO @ss_ssvalue_promoid_get (period,channelid,subchannelid,accountid,subaccountid,groupbrandid,ssvalue)
					EXEC ip_ss_ssvalue_promoid_get
						@period ,@channelid ,@subchannelid ,@accountid ,@subaccountid ,@groupbrandid ,@promostart ,@promoend

			SELECT @ssvalue = ISNULL(ssvalue,0) FROM @ss_ssvalue_promoid_get

			DELETE FROM @promo_cr_get
			INSERT INTO @promo_cr_get (id, budgetname, tt)
					EXEC ip_promo_cr_get
						@period ,@subactivityid ,@subaccountid ,@distributorid ,@groupbrandid 

			SELECT @cr = ISNULL(tt,0) FROM @promo_cr_get

			UPDATE tbtrx_promo_calculator 
				SET totalsales = @ssvalue, cr=@cr, cost = ROUND(@cr*@ssvalue/100,2)
				WHERE promoid = @promoid

			UPDATE tbtrx_promo 
				SET investment = ROUND(@cr*@ssvalue/100,2)
				WHERE id = @promoid

			FETCH NEXT FROM update_cursor INTO @promoid
		END 

	CLOSE update_cursor  
	DEALLOCATE update_cursor

END
--exec [dbo].[ip_ss_ssvalue_promoid_get] @period=2025,@channelid=6,@subchannelid=9,@accountid=43,@subaccountid=114,@groupbrandid =1,@promostart ='2025-01-01 00:00:00',@promoend ='2025-03-31 00:00:00'

GO
