USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_brand_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_brand_list]
@entity int
as
BEGIN
	SELECT 
	A.[Id]
	,A.[PrincipalId]
	,A.[LongDesc]
	,A.[ShortDesc]
	,A.[CreateBy]
	,A.[RefID]
	,B.[ShortDesc] PrincipalShortDesc
	,B.[LongDesc] PrincipalLongDesc
	FROM [dbo].[tbmst_brand] AS A LEFT JOIN tbmst_principal AS B ON A.PrincipalId= B.Id WHERE ISNULL(A.IsDeleted, 0) = 0
	AND A.PrincipalId=@entity
END
GO
