

/****** Object:  StoredProcedure [dbo].[ip_ewa_promo_aging_cc]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--select FORMAT(123456789,'#,#')

CREATE PROCEDURE [dbo].[ip_ewa_promo_aging_cc] (
@p_output nvarchar(max) OUTPUT
)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

drop table if exists #ewaemail
drop table if exists #ewaemail1
drop table if exists #ewaemail2

set nocount on;

select a.id, d.email
into #ewaemail
from tbtrx_promo a
inner join tbtrx_promo_channel b on a.id=b.PromoId
inner join tbmst_channel c on b.ChannelId=c.id
inner join tbset_user d on a.CreateBy=d.id
where isnull(a.iscancel,0)=0 and a.StatusApprovalCode<>'TP2' and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)

select a.email as email1, a3.email as email2
into #ewaemail1
from #ewaemail a
inner join tbtrx_promo_request_approval a1 on a.id=a1.ParentId and a1.IsCancel=0
inner join tbtrx_promo_approval a2 on a1.id=a2.RequestId and IsOnGoing=1
inner join tbset_user a3 on a2.UserApprover=a3.id

select distinct email1 as email into #ewaemail2 from #ewaemail1
insert into #ewaemail2  select distinct email2 from #ewaemail1
insert into #ewaemail2  select distinct email from tbset_user where usergroupid in ('101','102','108')

set @p_output=
(
	select 
	abc = STUFF(
                 (SELECT distinct ';' + email FROM #ewaemail2 FOR XML PATH ('')), 1, 1, ''
               ) 
)
drop table if exists #ewaemail
drop table if exists #ewaemail1
drop table if exists #ewaemail2

return 0

GO
