

/****** Object:  StoredProcedure [dbo].[ip_promo_approval_list_recon]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_approval_list_recon] --'2020',0,0,0,0,'hoka'
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@category int =NULL
AS

--DECLARE 
--	 @periode varchar(4)
--	,@category int
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	SET @periode ='2024'
--	SET @category = 0
--	SET @entity = 0
--	SET @distributor =0
--	SET @budgetparent=0
--	SET @channel = 0
--	SET @userid='GKAMALFA'

BEGIN
SET @category=isnull(@category,0)
	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		  --BudgetType varchar(3),
		  --BudgetName varchar(255),
		  --InitialBudgetAmount numeric(18,0),
		  --PromoCreated numeric(18,0),
		  --TotalSpending numeric(18,0),
		  --DnClaim numeric(18,0),
		  --DnPaid numeric(18,0),
		  --Available numeric(18,0)
		)
/*
	declare 
		@p_alcid int
		, @product_name int
    
	DECLARE cursor_product CURSOR
		FOR SELECT 
			Id
        FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 	FETCH NEXT FROM cursor_product INTO 
		@product_name
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
			--SET @p_alcid=@budgetparent;
			SET @p_alcid=@product_name;
		
			WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
			AS
				(
					SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
					UNION ALL
					SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
						INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
						INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
						INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				)
				
			INSERT INTO @Temp
			SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
			option (maxrecursion 0);
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;
*/

	SELECT DISTINCT
		pr.Id PromoId
		,r.Id RequestId
		,appr.RequestDate
		,pr.RefId
		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
		, CASE WHEN
				datediff(d,appr.RequestDate,getdate()) < 0 THEN 0
			ELSE 
				datediff(d,appr.RequestDate,getdate())
			END AgingApproval
		,pr.StartPromo
		,pr.EndPromo	  
		,pr.CreateBy [Initiator] 
		,pr.CreateOn
		,pr.Investment
		,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) TotalSales
		,IIF(cat.ShortDesc='DC', '---', pr.tscoding)tscoding
		,tcr.[Description] descstatus
		,pr.CategoryId -- isu E2#38
		,pr.CategoryShortDesc
		--FROM @temp a
		--INNER JOIN tbtrx_promo pr on a.BudgetId=pr.AllocationId
		FROM tbtrx_promo pr 
		INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id
		INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and r.IsCancel=0 
		INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
		LEFT JOIN tbtrx_allocation c on pr.AllocationId=c.Id 
		LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
		LEFT JOIN tbset_user uo on uo.Id=usr.UserId
		LEFT JOIN tbset_user uf on uf.Id=usr.UserId
		LEFT JOIN
			(
				SELECT AllocationId,
					STUFF
						(
							(
								SELECT ',' + chn.LongDesc 
									FROM tbtrx_allocation_channel a
									JOIN tbmst_channel chn ON a.ChannelId=chn.Id
									WHERE a.AllocationId=b.AllocationId
									FOR XML PATH ('')
							),1,1,''
						) AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel ON c.Id = channel.AllocationId
		INNER JOIN 
		(
			SELECT Id, max(categorystatus)categorystatus from 
				(
					SELECT pr.id
						,case 
						when description='precaution' AND
							CASE WHEN
								  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
							END <=daysto then [category]
						when description='warning' and
							CASE WHEN
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
							  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
							END >=daysfrom 
							AND
							CASE WHEN
							  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
							  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
							END <=daysto then [category]
						when description='critical' AND 
							CASE WHEN
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
						  END >=daysfrom  then [category]
					end as categorystatus
				from tbtrx_promo pr
				INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
				INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
				cross join tbset_config_reminder
			)a group by a.Id
		) conf ON pr.id=conf.id
		INNER JOIN tbset_config_reminder tcr on conf.categorystatus=tcr.category 
		LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
		WHERE 
			--IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
			--AND 
			IIF(@category=0,'',pr.CategoryId) =IIF(@category=0,'',@category)
			AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
			AND isnull(pr.IsCancel,0)=0
			AND isnull(pr.IsCancelLocked,0)=0
			--AND m.Periode < 2025
		ORDER BY pr.Id

END
GO
