

/****** Object:  StoredProcedure [dbo].[ip_promo_generate]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_generate]
	@period int
	,@categoryId int
	--,@distributor arrayIntType READONLY
	--,@brand arrayIntType READONLY
	--,@channel arrayIntType READONLY
	--,@subAccount arrayIntType READONLY
	--,@subActivity arrayIntType READONLY
	,@distributorId int
	,@brandId int
	,@channelId int
	,@subAccountId int
	,@subActivityId int
	,@createdBy varchar(100)
	,@createdEmail varchar(100)
AS
--DECLARE
--	@period int
--	,@categoryId int
--	,@distributorId int
--	,@brandId int
--	,@channelId int
--	,@subAccountId int
--	,@subActivityId int
--	,@createdBy varchar(100)
--	,@createdEmail varchar(100)

--SET @period = 2025
--SET @categoryId = 3
--SET @distributorId = 2
--SET @brandId = 2
--SET @channelId = 0
--SET @subAccountId = 6
--SET @subActivityId = 1299
--SET @createdBy ='kamecom'
--SET @createdEmail ='edy.jumantoro@xvautomation.com'

BEGIN
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE @distributorName varchar(100)
	DECLARE @promo PromoFormType
		,@region ArrayIntType
		,@sku ArrayIntType
		,@attachment PromoAttachmentType
		,@mechanism PromoMechanismType
		,@categoryShortDesc varchar(50)

		,@subCategoryId int
		,@activityId int
		,@subActivityTypeId int

		--,@ditributorId int
		--,@brandId int
		,@entityId int
		,@subChannelId int
		,@accountId int
		,@subActivityDesc varchar(255)
		,@subAccountDesc varchar(255)
		,@promoActivityDesc varchar(255)
		,@ssValue numeric(18,0)
		,@promoStart date
		,@promoEnd date
		,@tt float
		,@cost float
		,@budgetExist int
		,@messageout nvarchar(max)

	SELECT @categoryShortDesc = shortDesc FROM tbmst_category WHERE id = @categoryId
	BEGIN TRY
		SELECT @entityId = PrincipalId FROM tbmst_brand_group WHERE id = @brandId
		SELECT @subCategoryId = SubCategoryId, @activityId = ActivityId, @subActivityTypeId = SubActivityTypeId, @subActivityDesc = SubActivityDesc FROM vw_activity_active WHERE SubActivityId = @subActivityId
		IF @categoryShortDesc = 'DC'
		BEGIN
			SET @subChannelId = 0
			SET @accountId = 0
			SET @subAccountId = 0
		END
		ELSE
		BEGIN
			SELECT @channelId = channelId, @subChannelId= isnull(subChannelid, 0), @accountId = isnull(accountId, 0), @subAccountDesc = SubAccountDesc FROM vw_account WHERE SubAccountId= @subAccountId
		END
		SET @promoStart = DATEFROMPARTS(@period, 1, 1)
		SET @promoEnd = DATEFROMPARTS(@period, 12, 31)
			
		/* Cek config calculator */
		IF NOT EXISTS (
			SELECT a.*, tmad.subactivityid
			FROM tbset_config_promo_calculator a
			INNER JOIN tbmst_main_activity tma ON a.mainActivityId = tma.id
			INNER JOIN tbmst_main_activity_dtl tmad ON tma.id = tmad.mainactivityid AND tmad.subactivityid = @subActivityId
			WHERE a.channelId = @channelId
		)
		BEGIN
			SET @messageout='Promo calculator configuration not found'		
			RAISERROR (@messageout, -- Message text.
					16, -- Severity.
					1 -- State.
					);

		END;

		--SELECT a.*, tmad.subactivityid
		--FROM tbset_config_promo_calculator a
		--INNER JOIN tbmst_main_activity tma ON a.mainActivityId = tma.id
		--INNER JOIN tbmst_main_activity_dtl tmad ON tma.id = tmad.mainactivityid AND tmad.subactivityid = @subActivityId
		--WHERE a.channelId = @channelId


		SELECT @budgetExist = dbo.CheckExistingBudget (
			@period
			, @categoryid 
			, @subcategoryid 
			, @channelid 
			, @subchannelid 
			, @accountid 
			, @subaccountid 
			, @distributorId 
			, @brandId 
			, @subActivityTypeId 
			, @activityid 
			, @subactivityid 

		)

		--INSERT INTO mytmp(f1, f2)
		--VALUES ('@period', @period)
		--	, ('@categoryid',@categoryid)
		--	, ('@subcategoryid', @subcategoryid)
		--	, ('@channelid', @channelid)
		--	, ('@subchannelid', @subchannelid)
		--	, ('@accountid', @accountid)
		--	, ('@subaccountid', @subaccountid)
		--	, ('@distributorId', @distributorId )
		--	, ('@brandId', @brandId)
		--	, ('@subActivityTypeId', @subActivityTypeId)
		--	, ('@activityid', @activityid)
		--	, ('@subactivityid', @subactivityid)
		--	, ('@budgetExist', @budgetExist)

		IF @budgetExist = 0
		BEGIN
			SET @messageout='Running Rate Budget not found'		
			RAISERROR (@messageout, -- Message text.
					16, -- Severity.
					1 -- State.
					);

		END

		/* get CR (tt) */
		IF @categoryShortDesc = 'DC'
			BEGIN
				SELECT TOP 1 @tt = ROUND(tt,2) FROM tbtrx_ss_tt 
				WHERE 
					period = @period
					AND subactivityid = @subactivityid
					AND channelid = @channelId
					AND subchannelid = ISNULL(@subChannelId,0)
					AND accountid = ISNULL(@accountId,0)
					AND subaccountid = ISNULL(@subaccountid,0)
					AND distributorId = @distributorid
					AND groupbrandid = @brandId
			END
		else
			BEGIN
				SELECT TOP 1 @tt = ROUND(tt,2) FROM tbtrx_ss_tt 
				WHERE 
					period = @period
					AND subactivityid = @subactivityid
					AND channelid = @channelId
					AND subaccountid = ISNULL(@subaccountid,0)
					AND distributorId = @distributorid
					AND groupbrandid = @brandId
			END


		IF @categoryShortDesc = 'DC'
		BEGIN
			/* get ss Value (Total Sales) */
			SELECT @ssValue = ISNULL(SUM(ISNULL(a.m1,0) +
				ISNULL(a.m2,0) +
				ISNULL(a.m3,0) +
				ISNULL(a.m4,0) +
				ISNULL(a.m5,0) +
				ISNULL(a.m6,0) +
				ISNULL(a.m7,0) +
				ISNULL(a.m8,0) +
				ISNULL(a.m9,0) +
				ISNULL(a.m10,0) +
				ISNULL(a.m11,0) +
				ISNULL(a.m12,0) ) 	,0)
			FROM tbtrx_ps_value a
			WHERE 
				a.period= @period
				AND a.distributorid = @distributorid
				AND a.groupbrandid = @brandId
			SET @distributorName = (SELECT LongDesc FROM tbmst_distributor WHERE Id=@distributorId)
			SET @cost = ISNULL(ROUND(@ssValue * @tt / 100,0), 0)
			SET @promoActivityDesc = CONCAT(@subActivityDesc, ' ', @distributorName, ' FY ', @period)

			INSERT INTO @promo (PromoId, Periode, EntityId, DistributorId, BudgetMasterId, CategoryId, SubCategoryId, ActivityId, SubActivityId, SubActivityTypeId, ActivityDesc, StartPromo, EndPromo
				, ChannelId, SubChannelId, AccountId, SubAccountId, GroupBrandId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost, StatusApproval, Notes
				, CreateOn, CreateBy, initiator_notes, CreatedEmail, ModifReason)
				VALUES (0, @period, @entityId, @distributorId, 0, @categoryId, @subCategoryId, @activityId, @subActivityId, @subActivityTypeId, @promoActivityDesc, @promoStart, @promoEnd
				, @channelId, @subChannelId, @accountId, @subAccountId, @brandId, 0, 0, @ssValue, 0, 0, 0, @tt, @cost, null, ''
				,@utcDate123, @createdBy, '', @createdEmail, '');

			INSERT INTO @mechanism (Id, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost)
			VALUES (0, @promoActivityDesc, '', 0, 0, 0, @ssValue, 0, 0, 0, @tt, @cost)

			EXEC [dbo].[ip_promo_insert_DC] @IsNew = 1
				,@Promo = @promo
				,@Region = @region
				,@Sku = @sku
				,@attachment = @attachment
				,@Mechanism = @mechanism
		END
		ELSE
		BEGIN
			/* get ss Value (Total Sales) */
			DECLARE 
				@SQL NVARCHAR(MAX)
				, @sumSQL NVARCHAR(MAX)
				, @apstart int
				, @apend int

			SET @apstart=MONTH(@promostart)
			SET @apend=MONTH(@promoend)

			WHILE @apstart <= @apend
				BEGIN
					SET @sumSQL = CONCAT(@sumSQL, '(ISNULL(a.m',@apstart,',0) * ISNULL(b.m',@apstart,',0))+')
					SET @apstart = @apstart + 1
				/* do some work */
				END
			SET @sumSQL = LEFT(@sumSQL, LEN(@sumSQL)-1) 
			SET @SQL = CONCAT('
				SELECT 
				@ssValue=ROUND(SUM(',@sumSQL,'),0)
				FROM tbtrx_ss_volume a
				INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.groupbrandid=b.groupbrandid
				WHERE 
					a.period= ',@period,'
					AND a.channelid = ',@channelId,'
					AND a.subchannelid = ',@subChannelId,'
					AND a.accountid = ',@accountId,'
					AND a.subaccountid = ',@subAccountId,'
					AND a.groupbrandid = ',@brandId
				)

			EXEC sys.sp_executesql @SQL, N'@ssValue numeric(18,0) OUTPUT', @ssValue = @ssValue OUTPUT
			
			SET @cost = ISNULL(ROUND(@ssValue * @tt / 100,0), 0)
			SET @promoActivityDesc = CONCAT(@subActivityDesc, ' ', @subAccountDesc, ' FY ', @period)

			INSERT INTO @promo (PromoId, Periode, EntityId, DistributorId, BudgetMasterId, CategoryId, SubCategoryId, ActivityId, SubActivityId, SubActivityTypeId, ActivityDesc, StartPromo, EndPromo
				, ChannelId, SubChannelId, AccountId, SubAccountId, GroupBrandId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost, StatusApproval, Notes
				, CreateOn, CreateBy, initiator_notes, CreatedEmail, ModifReason)
				VALUES (0, @period, @entityId, @distributorId, 0, @categoryId, @subCategoryId, @activityId, @subActivityId, @subActivityTypeId, @promoActivityDesc, @promoStart, @promoEnd
				, @channelId, @subChannelId, @accountId, @subAccountId, @brandId, 0, 0, @ssValue, 0, 0, 0, @tt, @cost, null, ''
				,@utcDate123, @createdBy, '', @createdEmail, '');

			INSERT INTO @region SELECT id FROM tbmst_region WHERE longdesc = 'Region - All'

			INSERT INTO @sku SELECT DISTINCT skuId FROM vw_sku_active WHERE groupBrandId = @brandId

			INSERT INTO @mechanism (Id, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost)
			VALUES (0, @promoActivityDesc, '', 0, 0, 0, @ssValue, 0, 0, 0, @tt, @cost)

			EXEC [dbo].[ip_promo_insert] @IsNew = 1
				,@Promo = @promo
				,@Region = @region
				,@Sku = @sku
				,@attachment = @attachment
				,@Mechanism = @mechanism
		END

	END TRY
	BEGIN CATCH
		-- Tangkap error yang dihasilkan dari stored procedure
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
		DECLARE @ErrorState INT = ERROR_STATE();
    
        -- Kirim error dengan RAISERROR atau THROW agar API menerima pesan
		PRINT 'Error terjadi saat memanggil stored procedure';
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN;  -- Berhenti dan kembalikan error ke pemangg
    
		-- Lakukan tindakan lain seperti logging atau RAISERROR ulang jika perlu
	END CATCH;


	/* GENERATE PROMO */
	--IF @categoryShortDesc = 'DC'
	--BEGIN
	--	DECLARE @distributorCursor CURSOR;
	--	SET @distributorCursor = CURSOR FOR
	--		SELECT keyid FROM @distributor;

	--	OPEN @distributorCursor;
	--	FETCH NEXT FROM @distributorCursor INTO @distributorId;

	--	WHILE @@FETCH_STATUS = 0
	--	BEGIN
	--		DECLARE @brandCursor CURSOR;
	--		SET @brandCursor = CURSOR FOR
	--			SELECT keyid FROM @brand;

	--		OPEN @brandCursor;
	--		FETCH NEXT FROM @brandCursor INTO @brandId;

	--		WHILE @@FETCH_STATUS = 0
	--		BEGIN
	--			SELECT @entityId = PrincipalId FROM tbmst_brand_group WHERE id = @brandId
	--			--INSERT INTO @promo (PromoId, Periode, EntityId, DistributorId, BudgetMasterId, CategoryId, SubCategoryId, ActivityId, SubActivityId, SubActivityTypeId, ActivityDesc, StartPromo, EndPromo
	--			--	, ChannelId, SubChannelId, AccountId, SubAccountId, GroupBrandId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost, StatusApproval, Notes
	--			--	, CreateOn, CreateBy, initiator_notes, CreatedEmail, ModifReason)
	--			--	VALUES (0, @period, @entityId, @ditributorId, 0, @categoryId, 
	--		END;
	--		CLOSE @brandCursor;
	--		DEALLOCATE @brandCursor;

	--	END;
	--	CLOSE @distributorCursor;
	--	DEALLOCATE @distributorCursor;

	--END
END

GO
