USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_adm_report]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_user_adm_report] 
@userid varchar(30)
as 
begin
	DECLARE @usergroupid varchar(15);
	DECLARE @Temp TABLE
	(
		usergroupid varchar(15),
		menuid varchar(10),
		parent varchar(10),
		name varchar(50),
		icon varchar(50),
		url varchar(50),
		[number] int,
		flag varchar(10),
		crud tinyint,
		approve tinyint
	);

	DECLARE cursor_groupmenu CURSOR
	FOR SELECT DISTINCT a.usergroupid FROM tbset_user a WHERE iif(@userid='0','0',a.id)=iif(@userid='0','0',@userid)
	;
	
	OPEN cursor_groupmenu;
	FETCH NEXT FROM cursor_groupmenu
	INTO @usergroupid;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO @Temp 
		SELECT @usergroupid as usergroupid, a.id,a.parent,a.name,a.icon,a.url,a.number,a.flag,a.crud,a.approve --a.*
		from tbset_menu a left join ( select usergroupid, menuid from tbset_userrights where usergroupid = @usergroupid ) b on a.id=b.menuid
		
		FETCH NEXT FROM cursor_groupmenu
		INTO @usergroupid;
	END

	CLOSE cursor_groupmenu;
	DEALLOCATE cursor_groupmenu;


	SELECT        
		a.id, a.username, a.email, a.department, a.jobtitle, a.contactinfo, a.distributorid, a.usergroupid, e.usergroupname, a.userlevel, f.levelname, b.menuid, 
		iif(b.parent = 0, b.name, '') AS menu, iif(b.parent <> 0, b.name, '') AS submenu, b.flag, b.crud
		, iif(isnull(c.menuid,0)=0,0, b.approve) as approve
		, iif(isnull(c.menuid,0)=0,0, c.create_rec) as create_rec
		, iif(isnull(c.menuid,0)=0,0, c.read_rec) as read_rec
		, iif(isnull(c.menuid,0)=0,0, c.update_rec) as update_rec
		, iif(isnull(c.menuid,0)=0,0, c.delete_rec) as delete_rec		
	FROM tbset_user a 
		INNER JOIN @Temp b ON a.usergroupid = b.usergroupid
        INNER JOIN tbset_usergroup e ON a.usergroupid = e.usergroupid 
        INNER JOIN tbset_userlevel f ON a.userlevel = f.userlevel 
        LEFT JOIN  tbset_userlevel_access c ON a.userlevel = c.userlevel AND a.usergroupid = c.usergroupid AND b.menuid = c.menuid
	WHERE isnull(a.isdeleted, 0) = 0
	-- and '0'='0'
	and iif(@userid='0','0',a.id)=iif(@userid='0','0',@userid)
	order by a.id, a.usergroupid, a.userlevel, b.menuid

end

GO
