

/****** Object:  StoredProcedure [dbo].[ip_mst_investment_type_getbyid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_investment_type_getbyid]
@id int
AS
BEGIN
	select tit.id, 0 SubactivityId, tit.id InvestmentTypeId, tit.RefId InvestmentTypeRefId, tit.LongDesc InvestmentTypeDesc
	from tbmst_investment_type tit
    where tit.id=@id
    and isnull(tit.IsDeleted, 0)=0
END
GO
