USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dashboard_promo_approval_request]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_promo_approval_request] --'gkamalfa'
@userid varchar(50)
AS
BEGIN
	SELECT u.id
	,SUM(IIF(a.[Status]='TP1',1,0)) OVER(PARTITION BY a.UserApprover) pending_promo_approval 
	,SUM(IIF(b.[Status]='TP3',1,0)) OVER(PARTITION BY b.PromoInitiator) promo_send_back 
	,0 as dn_manual
	from tbset_user u
	left join vw_dashboard a on u.Id=a.UserApprover and a.[Status]='TP1'
	left join vw_dashboard b on u.Id=b.PromoInitiator and b.[Status]='TP3'
	where u.Id=@userid
END






GO
