USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_subactivity_salesamount_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_subactivity_salesamount_ins]
	@IsNew           bit,
	@Id              int ,
	@SubActivityId   int ,
	@SalesAmount     varchar(5) ,
	@UserId          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.SubActivityID
                FROM tbset_map_subactivity_salesamount a
                where a.SubActivityID = @SubActivityId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Sub Activity Sales Amount already exist';
                    SET @messageout='Mapping Sub Activity Sales Amount already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_subactivity_salesamount
                (
                   SubActivityId
                  ,SalesAmount
                  ,CreateOn
                  ,CreateBy
                  ,CreatedEmail
                )
                Values
                (
                   @SubActivityId
                  ,@SalesAmount
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_subactivity_salesamount
			SET
				SubActivityId  = @SubActivityId
				,SalesAmount     =@SalesAmount
				,ModifiedOn      = @CreatedOn
				,ModifiedBy      = @UserID
				,ModifiedEmail   = @UserLogin
			WHERE
				Id  = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
