

/****** Object:  StoredProcedure [dbo].[ip_promo_accrual_report_hdr]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_accrual_report_hdr] --'2020',0,0,0,0,'scsh1','2020-01-22'
    @periode varchar(4)
    ,@entity int
    ,@closingdt date
AS
BEGIN
    insert into mytmp(f1) values(@closingdt)
    SELECT
        hdr.Id
        ,hdr.Periode
        ,hdr.EntityId
        ,hdr.Entity
        ,hdr.DistributorId
        ,hdr.Distributor
        ,hdr.budgetparent
        ,hdr.ChannelId
        ,hdr.UserId
        ,hdr.ClosingDt
        ,hdr.CreateOn
        ,hdr.Email
        ,hdr.UserName
    FROM tbhis_accrual_report_hdr hdr
    INNER JOIN
    (
        SELECT id, count(id) dtl FROM tbhis_accrual_report_dtl GROUP BY id
    ) dtl ON hdr.id=dtl.id
    WHERE hdr.Periode=@periode
    AND IIF(@entity=0, 0, hdr.EntityId) = IIF(@entity=0, 0, @entity)
    AND IIF(@closingdt is null, '', hdr.ClosingDt)=IIF(@closingdt is null, '', @closingdt)
    ORDER BY id desc
END
GO
