USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_management_ins]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_user_management_ins]
    @isnew int
    ,@id int
    ,@username varchar(200)
    ,@password varchar(200)
    ,@email varchar(100)
    ,@contactinfo varchar(100)
    ,@userid varchar(50)
    ,@profile UserType readonly
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN TRY
BEGIN TRANSACTION
    DECLARE
        @identity int
        ,@messageout varchar(255)
    IF @isnew=1 --addnew
    BEGIN
        IF EXISTS
        (
            SELECT 1 as bool
            FROM tbset_user_login
            WHERE email=@email
        )
        BEGIN
            SET @messageout='email address is exist '
                 RAISERROR (@messageout, -- Message text.
                       16, -- Severity.
                       1 -- State.
                       );
        END
        ELSE
        BEGIN
            INSERT INTO tbset_user_login (username, email, password, contactinfo, registered, userinput, dateinput, password_change, usernew)
            VALUES (@username, @email, @password, @contactinfo, 1, @userid, @utcDate123, @utcDate123, 1)
    
            SET @identity = (SELECT SCOPE_IDENTITY())
            
            INSERT INTO tbset_user_login_profile (id, profileid)
            select @identity, id FROM @profile
        END
    END
    IF @isnew=2 --update
    BEGIN
        UPDATE tbset_user_login
        SET
            username = @username
            , email = @email
            , contactinfo = @contactinfo
            , useredit = @userid
            , dateedit = @utcDate123
        WHERE id = @id
        
        DELETE FROM tbset_user_login_profile WHERE id=@id
        INSERT INTO tbset_user_login_profile (id, profileid)
        select @id, id FROM @profile

    END
    IF @isnew=3 --deactivate
    BEGIN
        UPDATE tbset_user_login
        SET
            isdeleted = 1
            , deletedby = @userid
            , deletedon = @utcDate123
        WHERE id = @id
    END
    IF @isnew=4 --activate
    BEGIN
        UPDATE tbset_user_login
        SET
            isdeleted = 0
            , deletedby = @userid
            , deletedon = @utcDate123
        WHERE id = @id
    END
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
