USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_check_budget_plan_availability]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_check_budget_plan_availability] as 
SELECT distinct a.period, mp.id as entityid, mp.LongDesc as EntityDesc, md.id as distributorid, md.LongDesc as distributorDesc, 
	c.AllocationId, d.LongDesc as AllocationDesc, d.budgetAmount, a.TSCode, channel.id as channelid, 
	channel.LongDesc as channdeldesc, subchannel.id as subchannelid, subchannel.LongDesc as subchanneldesc, 
	account.id as accountid, account.LongDesc as accountdesc, users.userid as initiatior
	FROM _200604_promoplan a inner join dbo.tbmst_channel b on a.Channel=b.LongDesc
	inner join tbtrx_allocation_channel c on b.Id=c.channelId
	inner join dbo.tbmst_principal mp on a.Entity= mp.LongDesc
	inner join dbo.tbmst_distributor md on a.Distributor=md.LongDesc
	inner join tbtrx_allocation d with (nolock) on c.AllocationId=d.Id and a.period=d.periode
	inner join tbtrx_budgetmaster m with (nolock) on d.BudgetMasterId=m.Id and mp.id=m.PrincipalId and md.id=m.DistributorId
	inner join 
	(
		SELECT c.AllocationId, a.TSCode, b.Id, b.LongDesc FROM _200604_promoplan a inner join dbo.tbmst_channel b on a.Channel=b.LongDesc
		inner join tbtrx_allocation_channel c on b.Id=c.channelId
	)channel on channel.TSCode=a.TSCode and channel.AllocationId=c.AllocationId
	inner join
	(
		SELECT c.AllocationId, a.TSCode, b.Id, b.LongDesc FROM _200604_promoplan a inner join dbo.tbmst_subchannel b on a.SUb_Channel=b.LongDesc
		inner join tbtrx_allocation_subchannel c on b.Id=c.subchannelId
	)subchannel on subchannel.TSCode=a.TSCode and subchannel.AllocationId=c.AllocationId
	inner join
	(
		SELECT c.AllocationId, a.TSCode, b.Id, b.LongDesc FROM _200604_promoplan a inner join dbo.tbmst_account b on a.Account=b.LongDesc
		inner join tbtrx_allocation_account c on b.Id=c.accountId
	)account on account.TSCode=a.TSCode and account.AllocationId=c.AllocationId
	inner join
	(
		SELECT c.AllocationId, a.TSCode, c.userid FROM _200604_promoplan a 
		inner join tbtrx_allocation_useraccess c on c.UserId=a.Initiator
	)users on users.TSCode=a.TSCode and users.AllocationId=c.AllocationId
	inner join 
	(
		SELECT distinct c.AllocationId, a.TSCode FROM _200604_promoplan a inner join dbo.tbmst_subcategory b on a.Sub_Category=b.LongDesc
		inner join tbtrx_allocation_detail c on b.Id=c.SubCategoryId
	)subcategory on subcategory.TSCode=a.TSCode and subcategory.AllocationId=c.AllocationId
GO
