

/****** Object:  StoredProcedure [dbo].[ip_promo_budget_approval_reject]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_budget_approval_reject]
		@batchid varchar(100)
		, @profileid varchar(100)
		, @useremail varchar(100)

AS

BEGIN
SET NOCOUNT ON
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE @tmpappseq AS Table (
		appseq int,
		profileid varchar(100)
		)
	
	DECLARE 
		@cseqapp INT
		,@cprofileid VARCHAR(100)
		,@isAlreadyAction int
	
	SET @isAlreadyAction=0
	
	BEGIN TRY
	BEGIN TRANSACTION
/*TEST*/
	--DECLARE
	--	@batchid varchar(100)
	--	, @profileid varchar(100)
	--	, @useremail varchar(100)

	--	SET @batchid ='TES-20241002192513.867'--'TES-'+replace(replace(replace(convert(nvarchar(MAX), @utcDate123, 21),'-',''),' ',''),':','')
	--	SET @profileid ='MTSF1'
	--	SET @useremail ='lukman@danone.com'

	--	--select a.* from tbtrx_promo_budget_status a
	--	--inner join tbtrx_promo b on a.PromoId=b.Id 
	--	--order by PromoId


	DROP TABLE IF EXISTS #tmpappseq	

	INSERT INTO @tmpappseq (appseq,profileid) SELECT 1, Approver1 from tbset_promo_budget_approval WHERE Approver1 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 2, Approver2 from tbset_promo_budget_approval WHERE Approver2 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 3, Approver3 from tbset_promo_budget_approval WHERE Approver3 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE Approver4 = @profileid
	INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE Approver5 = @profileid

	SELECT DISTINCT @batchid batchid, * INTO #tmpappseq FROM @tmpappseq

	SET @cseqapp = (SELECT appseq FROM #tmpappseq WHERE profileid=@profileid)

/*Check already make an action*/
	IF @cseqapp = 1
		BEGIN					
			IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
					WHERE
						batchid = @BatchId 
						AND Approved1By = @profileid
						AND Approved1On IS NOT NULL)>0
				BEGIN
					SET @isAlreadyAction = 1
				END
		END
	ELSE IF @cseqapp = 2
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved2By = @profileid
							AND Approved2On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyAction = 1
					END
			END
	ELSE IF @cseqapp = 3
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved3By = @profileid
							AND Approved3On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyAction = 1
					END
			END
	ELSE IF @cseqapp = 4
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved4By = @profileid
							AND Approved4On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyAction = 1
					END
			END
	ELSE IF @cseqapp = 5
			BEGIN					
				IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
						WHERE
							batchid = @BatchId 
							AND Approved5By = @profileid
							AND Approved5On IS NOT NULL)>0
					BEGIN
						SET @isAlreadyAction = 1
					END
			END

	IF (SELECT COUNT(*) from tbtrx_promo_budget_status 
			WHERE
				batchid = @BatchId 
				AND LastStatusCode='TP04')>0
		BEGIN
			SET @isAlreadyAction = 2
		END

	
	IF @isAlreadyAction=1
		BEGIN
			RAISERROR ('You have already done the approval action', -- Message text.
				16, -- Severity.
				1 -- State.
				);
		END
	ELSE IF @isAlreadyAction=2
		BEGIN
			RAISERROR ('Budget mass approval have already rejected', -- Message text.
				16, -- Severity.
				1 -- State.
				);
		END

/*UPDATE INFO APPROVAL*/
	UPDATE prbs
		SET ApprovedOn = NULL, ApprovedBy = NULL, ApprovedEmail = NULL
			, Approved1On = NULL, Approved1By = NULL, Approved1Email = NULL
			, Approved2On = NULL, Approved2By = NULL, Approved2Email = NULL
			, Approved3On = NULL, Approved3By = NULL, Approved3Email = NULL
			, Approved4On = NULL, Approved4By = NULL, Approved4Email = NULL
			, Approved5On = NULL, Approved5By = NULL, Approved5Email = NULL
			, RejectedOn = @utcDate123, RejectedBy = @profileid, RejectedEmail = @useremail
			, prbs.LastStatusCode = mmst.StatusCode, prbs.LastStatus = mmst.StatusDesc
		FROM tbtrx_promo_budget_status  prbs
		CROSS JOIN tbmst_master_status mmst
		WHERE
			batchid = @BatchId AND Approved=0 AND mmst.StatusCode = 'TP04'  AND prbs.LastStatusCode='TP02'

	COMMIT

	END TRY
			BEGIN CATCH
			ROLLBACK
				DECLARE @ErrorMessage NVARCHAR(4000);
				DECLARE @ErrorSeverity INT;
				DECLARE @ErrorState INT;

				SELECT
					@ErrorMessage = ERROR_MESSAGE(),
					@ErrorSeverity = ERROR_SEVERITY(),
					@ErrorState = ERROR_STATE();
				RAISERROR (@ErrorMessage, -- Message text.
						   @ErrorSeverity, -- Severity.
						   @ErrorState -- State.
			   );

			END CATCH

END
GO
