

/****** Object:  StoredProcedure [dbo].[ip_init_majorchanges]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_init_majorchanges]
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

UPDATE tbset_major_changes
SET CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='RC')
WHERE CategoryId is null

IF NOT EXISTS(
SELECT mc.Id FROM tbset_major_changes mc
LEFT JOIN tbmst_category cat on cat.id = mc.CategoryId
WHERE cat.ShortDesc='DC'
)
BEGIN
	INSERT INTO tbset_major_changes (CategoryId, ModifiedBy, ModifiedEmail, ModifiedOn) 
	SELECT id, 'admin', 'admin@xvautomation.com', @utcDate123
		FROM tbmst_category WHERE ShortDesc='DC'
END

select * from tbset_major_changes

END
GO
