USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_exist]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_planning_exist]
@periode varchar(4)
,@ActivityDesc varchar(255)
,@Channel ArrayIntType READONLY
,@Account ArrayIntType READONLY
,@startPromo date
,@endPromo date
AS
	SELECT top 1 tpp.id,tpp.RefId,tpp.Periode,tpp.ActivityDesc, tppc.ChannelId, tc.LongDesc channel, tppa.AccountId, ta.LongDesc account,
	tpp.StartPromo, tpp.EndPromo, tpps.SubAccountId, tsa.LongDesc subaccount
	FROM tbtrx_promo_planning tpp with (nolock)
	INNER JOIN tbtrx_promo_planning_channel tppc with (nolock) ON tpp.id=tppc.PromoPlanId
	INNER JOIN tbmst_channel tc with (nolock) ON tppc.ChannelId = tc.id
	INNER JOIN tbtrx_promo_planning_account tppa with (nolock) ON tpp.id=tppa.PromoPlanId
	INNER JOIN tbmst_account ta with (nolock) ON tppa.AccountId = ta.id
	INNER JOIN tbtrx_promo_planning_subaccount tpps with (nolock) ON tpp.id=tpps.PromoPlanId
	INNER JOIN tbmst_subaccount tsa with (nolock) ON tpps.SubAccountId=tsa.id
	INNER JOIN @channel chn ON tppc.ChannelId = chn.keyid
-- 	INNER JOIN @Account acc ON tppa.AccountId = acc.keyid
	INNER JOIN @Account acc ON tpps.SubAccountId = acc.keyid
	WHERE isnull(tpp.IsCancel, 0) = 0
	AND tpp.Periode = @periode
	AND tpp.ActivityDesc = @ActivityDesc
    AND tpp.StartPromo=@startPromo AND tpp.EndPromo=@endPromo
    ORDER BY tpp.id desc
GO
