USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_get_account_by_access]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_get_account_by_access] --'kamsat',1
@userid varchar(50)
,@channelid int
as
SELECT distinct c.AccountId Id,d.AccountDesc LongDesc  from tbtrx_allocation a with (nolock)
INNER JOIN tbtrx_allocation_useraccess b with (nolock) on a.Id=AllocationId
inner join tbtrx_allocation_account c with (nolock) on a.Id=c.AllocationId
inner join vw_account d with (nolock) on c.AccountId=d.AccountId
where b.Userid=@userid and iif(@channelid=0,0,@channelid)=iif(@channelid=0,0,d.ChannelId)




GO
