

/****** Object:  StoredProcedure [dbo].[ip_promoid_workflow]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promoid_workflow] 
	@RefId				varchar(30)
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--declare @RefId	varchar(30)
--set @RefId='SGM00060/AL25/RC'


DECLARE 
	@Id	INT
	, @category as varchar(5)
	, @period INT

DECLARE
					@ongoingapproval Tinyint
					,@fullyapproved Tinyint
					,@stsongoingapproval Tinyint
					,@stsfullyapproved Tinyint
					,@claimprocess Tinyint
					,@closed Tinyint
					,@cancelled Tinyint


select top 1 @Id=a.id, @category=b.ShortDesc, @period = ISNULL(a.period,0) from tbtrx_promo a 
INNER JOIN tbmst_category b on a.CategoryId=b.Id where a.RefId like '%'+@RefId+'%'


IF isnull(@Id, 0 ) <> 0
BEGIN
	IF @category<>'DC' 
	BEGIN
		SET NOCOUNT ON;
		
		IF @period=0 OR @period<2025
			BEGIN
				DECLARE @ALO AS TABLE(
					PromoId INT NULL,
					AllocationId INT NULL
				)
	
				INSERT INTO @ALO(PromoId,AllocationId)
				SELECT p.Id,a.Id
				FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
				INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
				WHERE ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0
					AND (ISNULL(@Id,'')='' OR p.Id=@Id)
			/*******************************/
				DECLARE @Alloc_ID INT
	
				set @Alloc_ID= (select allocationid from @ALO where promoid=@id)
				exec ip_recalculate_balance_by_id @alloc_id
	
			/*******************************/
				SELECT
					pr.PromoPlanId
					,pr.RefId
					,pr.Id
					,pl.RefId PromoPlanRefId
					,pr.CreateOn
					,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
					,pr.CreateBy
					,pr.ActivityDesc
					,pr.Investment
					,PREV.Investment PrevInvestment
					,cast(format(round(pr.NormalSales,0),'#') as bigint) NormalSales
					,cast(format(round(PREV.NormalSales,0),'#') as bigint) PrevNormalSales
					,pr.IncrSales
					,PREV.IncrSales PrevIncrSales
					,PREV.NormalSales+PREV.IncrSales PrevTotSales
					,pr.Roi
					,PREV.Roi PrevRoi
					,pr.CostRatio
					,PREV.CostRatio PrevCostRatio
					,pr.Mechanisme1
					,pr.Mechanisme2
					,pr.Mechanisme3
					,pr.Mechanisme4
					,pr.StartPromo
					,pr.EndPromo
					,ALLOC.Id AllocationId
					,ALLOC.Periode
					,ALLOC.RefId AllocationRefId
					,ALLOC.BudgetType
					,ALLOC.DistributorId
					,d.LongDesc DistributorName
					,m.PrincipalId
					,p.LongDesc PrincipalName
					,ALLOC.OwnerId
					,uo.username BudgetOwner
					,ALLOC.FromOwnerId
					,uf.username FromOwnerName
					,ALLOC.BudgetMasterId
					,m.CategoryId
					,pr.SubCategoryId
					,pr.ActivityId
					,ta.LongDesc as ActivityLongDesc
					,pr.SubactivityId
					,ts.LongDesc as SubActivityLongDesc
					,ctg.LongDesc CategoryDesc
	
			--add andrie Sept 25 2023
					,subctg.LongDesc SubCategoryDesc
	
					,ALLOC.BudgetSourceId
					--,ALLOC.SalesAmount
					,ALLOC.BudgetAmount
					,bal.remainingamount as RemainingBudget
					,ALLOC.LongDesc AllocationDesc
					,ALLOC.ShortDesc
					,ALLOC.StatusApproval
					,ALLOC.IsActive
					,ALLOC.IsLocked
					,left(appr1.username, 11) UserApprover1
					,LastStatus1
					,ApprovalDate1
					,left(appr2.username, 11) UserApprover2
					,LastStatus2
					,ApprovalDate2
					,left(appr3.username, 11) UserApprover3
					,LastStatus3
					,ApprovalDate3
					,left(appr4.username, 11) UserApprover4
					,LastStatus4
					,ApprovalDate4
					,left(appr5.username, 11) UserApprover5
					,LastStatus5
					,ApprovalDate5
					,attr.RegionDesc
					,attr.ChannelDesc
					,attr.AccountDesc
					,attr.BrandDesc
					,attr.ProductDesc
					,@utcDate123 + 90 CutOffClaim
					,isnull(CancelReason,'') CancelReason
					,pr.Notes
					,pr.ApprovalNotes
					,pr.TsCoding
					,pr.IsClose
					,pl.Investment PlanInvestment
					,cast(format(round(pl.NormalSales,0),'#') as bigint) PlanNormalSales
					,pl.IncrSales PlanIncrSales
					,pl.NormalSales+pl.IncrSales PlanTotSales
					,pl.Roi PlanRoi
					,pl.CostRatio PlanCostRatio
					,pl.Mechanisme1 prevMechanisme1
					,pl.Mechanisme2 prevMechanisme2
					,pl.Mechanisme3 prevMechanisme3
					,pl.Mechanisme4 prevMechanisme4
					,pr.initiator_notes
					,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
					,pr.Approver userid_Approver
					,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
					,pr.InvestmentTypeId 
					,tit.RefId InvestmentTypeRefId
					,tit.LongDesc InvestmentTypeDesc
					,isnull(dn.TotalClaim,0) TotalClaim
					,isnull(dn.TotalPaid,0) TotalPaid
		--			,iif(isnull(pr.iscancel, 0)=1, 'Canceled', iif(isnull(pr.isclose, 0)=1, 'Closed', iif(isnull(pr.LastStatusRecon, '') = '', pr.laststatus,  pr.LastStatusRecon))) laststatus
					,iif(isnull(pr.iscancel, 0)=1, 'Canceled', iif(isnull(pr.isclose, 0)=1, 'Closed', iif(isnull(pr.LastStatusRecon, '') = '', 
						((iif(pr.[StatusApproval]='sendback','Send Back', pr.[StatusApproval]) +case when upper(pr.[StatusApproval])='SENDBACK' OR upper(pr.[StatusApproval])='APPROVED' then ' by ' else ' by ' end)+upper(pr.[Approver])+ ' - ' + pr.ApproverName),  
						((iif(pr.[StatusApprovalRecon]='sendback', 'Send Back', pr.[StatusApprovalRecon])+case when pr.[StatusApprovalRecon]='SENDBACK' OR pr.[StatusApprovalRecon]='APPROVED' then ' Recon by ' else ' Recon by ' end)+upper(pr.[ApproverRecon])+ ' - ' + pr.ApproverReconName)
					))) laststatus			
				FROM tbtrx_promo pr	WITH (NOLOCK)
				inner join tbtrx_promo_planning pl WITH (NOLOCK) on pr.PromoPlanId=pl.Id
				inner join [dbo].[tbtrx_allocation] AS ALLOC WITH (NOLOCK) on ALLOC.Id=pr.AllocationId
				inner join tbtrx_allocation_balance as bal WITH (NOLOCK) on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
				inner join tbtrx_budgetmaster m WITH (NOLOCK) on ALLOC.BudgetMasterId=m.Id
				INNER JOIN tbmst_activity ta WITH (NOLOCK) on pr.ActivityId = ta.Id
				INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
				inner join tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
				inner join tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
				inner join tbset_user uo WITH (NOLOCK) on uo.Id=ALLOC.OwnerId
				inner join tbset_user uf WITH (NOLOCK) on uf.Id=ALLOC.FromOwnerId
				inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=m.CategoryId
				--add andrie Sept 25 2023
				inner join tbmst_subcategory subctg WITH (NOLOCK) on subctg.Id=pr.SubCategoryId
	
				left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
				left join vw_promo_attribute attr WITH (NOLOCK) on pr.Id=attr.PromoId
				left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
				left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
				left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
				left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
				left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
				left join vw_promo_sendback_notes_last note on pr.id=note.ParentId --and pr.Approver=note.UserApprover
				LEFT JOIN
					(
						select a.* from tbhis_promo a WITH (NOLOCK)
						inner join
						(
						select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
						where StatusApprovalCode = 'TP1' and id=@Id
						group by id
						) b on a.parentid=b.parentid
					) PREV ON pr.id=PREV.id
				left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
				left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
				left join 
					(
						SELECT 
							a.PromoId
							, SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
							, SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
						FROM tbtrx_debetnote a
							INNER JOIN tbtrx_promo pr on pr.Id=@Id and a.PromoId=pr.Id
							inner join tbtrx_allocation c on pr.AllocationId=c.Id
							inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id 
							where 
								isnull(a.IsCancel, 0) = 0
								AND isnull(a.IsDNPromo,0)=1
						GROUP BY a.PromoId
					)dn on pr.Id=dn.PromoId
				WHERE ISNULL(ALLOC.IsDelete,0)=0
					AND pr.Id IN (SELECT PromoId FROM @ALO)
	
					/*****************
					REGION
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_region]  AS MR
					LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R  ON MR.Id=R.RegionId
					LEFT JOIN (select * from tbtrx_promo_region WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.RegionId=pr.RegionId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO)
	
					/*****************
					CHANNEL
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_channel]  AS MR
					LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R  ON MR.Id=R.ChannelId
					LEFT JOIN (select * from tbtrx_promo_channel WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ChannelId=pr.ChannelId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO)
	
					/*****************
					SUB CHANNEL
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_subchannel]  AS MR
					LEFT JOIN  [dbo].[tbtrx_allocation_subchannel] AS R  ON MR.Id=R.SubChannelId
					LEFT JOIN (select * from tbtrx_promo_subchannel WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubChannelId=pr.SubChannelId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO)
	
					/*****************
					ACCOUNT
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_account]  AS MR
					LEFT JOIN  [dbo].[tbtrx_allocation_account] AS R  ON MR.Id=R.AccountId
					INNER JOIN (select * from tbtrx_promo_account WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.AccountId=pr.AccountId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO)
	
					/*****************
					SUB ACCOUNT
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_subaccount]  AS MR
					inner join tbtrx_promo_account AS prsa ON MR.AccountId=prsa.AccountId and prsa.promoid IN (SELECT PromoId FROM @ALO)
					INNER JOIN  [dbo].[tbtrx_allocation_subaccount] AS R  ON MR.Id=R.SubAccountId
					INNER JOIN (select * from tbtrx_promo_subaccount WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubAccountId=pr.SubAccountId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO)
	
					/*****************
					BRAND
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_brand]  AS MR
					LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R  ON MR.Id=R.BrandId
					LEFT JOIN (select * from tbtrx_promo_brand WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO)
	
					/*****************
					SKU
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_product]  AS MR
					LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R  ON MR.Id=R.ProductId
					LEFT JOIN (select * from tbtrx_promo_product WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ProductId=pr.ProductId
					where R.AllocationId IN (SELECT AllocationId FROM @ALO) and R.BrandId IN (SELECT BrandId FROM [dbo].[tbtrx_promo_brand] WHERE promoid IN (SELECT PromoId FROM @ALO))
					ORDER BY MR.SeqNo
	
					/*****************
					ACTIVITY
					*****************/
					SELECT
					a.AllocationId AS ActivityAllocId
					,ctg.ActivityId AS id
					,ctg.ActivityDesc AS longDesc
					FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
					INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
					and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
	
					WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null
	
	
					/*****************
					SUB ACTIVITY
					*****************/
					SELECT
					a.AllocationId AS SubActivityAllocId
					,ctg.SubActivityId AS id
					,ctg.SubActivityDesc AS longDesc
					FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
					INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
					and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
					WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null
	
					/*****************
					File attach
					*****************/
					SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink
	
			
			
					/***************
					MASTER STATUS APPROVAL
					***************/
					SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
	
					/***************
					INVESTMENT
					***************/
					SELECT TotInvest Investment
					,NormalSales
					,IncrSales
					,TotSales
					,Roi
					,CostRatio
					from tbtrx_promo_request_approval_recon WITH (NOLOCK)
					where ParentId IN (SELECT PromoId FROM @ALO)
					ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
			/************************************************************************/
	
				select 
					@ongoingapproval = iif(pr.StatusApprovalCode<>'TP2',1,iif(pr.statusapprovalcoderecon<>'TP2',2,0)) 
					, @fullyapproved = iif(pr.StatusApprovalCoderecon='TP2',2,iif(pr.statusapprovalcode='TP2',1,0)) 
					, @closed = ISNULL(IsClose,0)
					, @cancelled = ISNULL(IsCancel,0)
					from tbtrx_promo pr where Id=@Id
	
				select @claimprocess=iif(SUM(isnull(dpp,0))>0,1,0) from tbtrx_debetnote where PromoId=@Id and isnull(IsCancel,0)=0
	
				set @claimprocess=iif(@closed=1,0,@claimprocess)
				set @stsongoingapproval = IIF(@ongoingapproval=0,0,1)
				set @stsfullyapproved = IIF(@stsongoingapproval=0,1,0)
	
				select 		
					iif(@closed=1 or @cancelled=1, 0, @ongoingapproval) ongoingapproval 
					,iif(@closed=1 or @cancelled=1, 0, @fullyapproved) fullyapproved
					,iif(@closed=1 or @cancelled=1, 0, @stsongoingapproval) stsongoingapproval 
					,iif(@closed=1 or @cancelled=1, 0, @stsfullyapproved) stsfullyapproved
					,iif(@closed=1 or @cancelled=1, 0, @claimprocess) claimprocess
					,@closed closed 
					,@cancelled cancelled 
			
			
					/***************
					MASTER MECHANISM
					***************/
					SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
					  FROM [dbo].tbtrx_promo_mechanism tppm 
					  WHERE promoid =@Id
	
					/***************
					Group Brand 
					***************/
					SELECT distinct 
						CASE WHEN B.PromoId is null THEN 0 ELSE 1 END as flag,
						b.PromoId brandGroupPromoId, a.id, a.longDesc, b.brandGroupId
					FROM tbmst_brand_group a
					INNER JOIN 
					(
						select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
						INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId AND b.PromoId=@Id
					) b on a.Id=b.BrandGroupId
			END

		IF @period>=2025
			BEGIN
				SELECT
					0 PromoPlanId
					,pr.RefId
					,pr.Id
					,'' PromoPlanRefId
					,pr.CreateOn
					,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
					,pr.CreateBy
					,pr.ActivityDesc
					,pr.Investment
					,PREV.Investment PrevInvestment
					,cast(format(round(pr.NormalSales,0),'#') as bigint) NormalSales
					,cast(format(round(PREV.NormalSales,0),'#') as bigint) PrevNormalSales
					,pr.IncrSales
					,PREV.IncrSales PrevIncrSales
					,PREV.NormalSales+PREV.IncrSales PrevTotSales
					,pr.Roi
					,PREV.Roi PrevRoi
					,pr.CostRatio
					,PREV.CostRatio PrevCostRatio
					,pr.Mechanisme1
					,pr.Mechanisme2
					,pr.Mechanisme3
					,pr.Mechanisme4
					,pr.StartPromo
					,pr.EndPromo
					,0 AllocationId
					,pr.period Periode
					,'' AllocationRefId
					,'' BudgetType
					,pr.DistributorId
					,d.LongDesc DistributorName
					,pr.entityid PrincipalId
					,p.LongDesc PrincipalName
					,'' OwnerId
					,'' BudgetOwner
					,'' FromOwnerId
					,'' FromOwnerName
					,0 BudgetMasterId
					,pr.CategoryId
					,pr.SubCategoryId
					,pr.ActivityId
					,ta.LongDesc as ActivityLongDesc
					,pr.SubactivityId
					,ts.LongDesc as SubActivityLongDesc
					,ctg.LongDesc CategoryDesc
					,subctg.LongDesc SubCategoryDesc
					,0 BudgetSourceId
					,0 BudgetAmount
					,0 RemainingBudget
					,'' AllocationDesc
					,'' ShortDesc
					,'' StatusApproval
					,0 IsActive
					,0 IsLocked
					,left(appr1.username, 11) UserApprover1
					,LastStatus1
					,ApprovalDate1
					,left(appr2.username, 11) UserApprover2
					,LastStatus2
					,ApprovalDate2
					,left(appr3.username, 11) UserApprover3
					,LastStatus3
					,ApprovalDate3
					,left(appr4.username, 11) UserApprover4
					,LastStatus4
					,ApprovalDate4
					,left(appr5.username, 11) UserApprover5
					,LastStatus5
					,ApprovalDate5
					,attr.RegionDesc
					,attr.ChannelDesc
					,attr.AccountDesc
					,attr.BrandDesc
					,attr.ProductDesc
					,@utcDate123 + 90 CutOffClaim
					,isnull(CancelReason,'') CancelReason
					,pr.Notes
					,pr.ApprovalNotes
					,pr.TsCoding
					,pr.IsClose
					,0 PlanInvestment
					,0 PlanNormalSales
					,0 PlanIncrSales
					,0 PlanTotSales
					,0 PlanRoi
					,0 PlanCostRatio
					,'' prevMechanisme1
					,'' prevMechanisme2
					,'' prevMechanisme3
					,'' prevMechanisme4
					,pr.initiator_notes
					,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
					,pr.Approver userid_Approver
					,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
					,pr.InvestmentTypeId 
					,tit.RefId InvestmentTypeRefId
					,tit.LongDesc InvestmentTypeDesc
					,isnull(dn.TotalClaim,0) TotalClaim
					,isnull(dn.TotalPaid,0) TotalPaid
					,iif(isnull(pr.iscancel, 0)=1, 'Canceled'
						, iif(isnull(pr.isclose, 0)=1, 'Closed'
						, iif(isnull(pr.LastStatusRecon, '') = '', 
						(
							(iif(pr.[StatusApproval]='sendback','Send Back', pr.[StatusApproval]) 
								+ case when upper(pr.[StatusApproval])='SENDBACK' OR upper(pr.[StatusApproval])='APPROVED' then ' by ' else ' by ' end) 
								+ upper(pr.[Approver])+ ' - ' + pr.ApproverName),  
						(
							(iif(pr.[StatusApprovalRecon]='sendback', 'Send Back', pr.[StatusApprovalRecon])
								+case when pr.[StatusApprovalRecon]='SENDBACK' OR pr.[StatusApprovalRecon]='APPROVED' then ' Recon by ' else ' Recon by ' end) 
								+ upper(pr.[ApproverRecon])+ ' - ' + pr.ApproverReconName)
					))) laststatus

					, d.ShortDesc distributorSortDesc
					, p.ShortDesc entityShortDesc
					, pr.groupBrandId
					, ctg.ShortDesc categoryShortDesc
					, vwacc.channelId
					, vwacc.subChannelId
					, vwacc.subChannelDesc
					, vwacc.accountId
					, vwacc.accountDesc
					, vwacc.subAccountId
					, vwacc.subAccountDesc
					, prcal.baseline
					, prcal.upLift
					, prcal.totalSales
					, prcal.salesContribution
					, prcal.storesCoverage
					, prcal.redemptionRate
					, prcal.cr
					, prcal.cost
					--, investmentTypeRefId
					--, investmentTypeDesc
					--, late_submission_day
					--, investmentBfrClose 
					--, statusApprovalCode

				FROM tbtrx_promo pr	WITH (NOLOCK)
				INNER JOIN tbtrx_promo_calculator prcal ON pr.id=prcal.PromoId
				INNER JOIN tbtrx_promo_subaccount prsubacc ON pr.id=prsubacc.PromoId
				INNER JOIN vw_account vwacc ON prsubacc.subaccountid = vwacc.subaccountid
				INNER JOIN tbmst_activity ta WITH (NOLOCK) on pr.ActivityId = ta.Id AND pr.id=@Id
				INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
				inner join tbmst_distributor d WITH (NOLOCK) on pr.DistributorId=d.Id
				inner join tbmst_principal p WITH (NOLOCK) on pr.entityid=p.Id
				inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=pr.CategoryId
				inner join tbmst_subcategory subctg WITH (NOLOCK) on subctg.Id=pr.SubCategoryId
				left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
				left join vw_promo_attribute attr WITH (NOLOCK) on pr.Id=attr.PromoId
				left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
				left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
				left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
				left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
				left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
				left join vw_promo_sendback_notes_last note on pr.id=note.ParentId --and pr.Approver=note.UserApprover
				LEFT JOIN
					(
						select a.* from tbhis_promo a WITH (NOLOCK)
						inner join
						(
						select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
						where StatusApprovalCode = 'TP1' and id=@Id
						group by id
						) b on a.parentid=b.parentid
					) PREV ON pr.id=PREV.id
				left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
				left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
				left join 
					(
						SELECT 
							a.PromoId
							, SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
							, SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
						FROM tbtrx_debetnote a
							INNER JOIN tbtrx_promo pr on pr.Id=@Id and a.PromoId=pr.Id
							where 
								isnull(a.IsCancel, 0) = 0
								AND isnull(a.IsDNPromo,0)=1
						GROUP BY a.PromoId
					)dn on pr.Id=dn.PromoId
	
					/*****************
					REGION
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_region]  AS MR
					LEFT JOIN (select * from tbtrx_promo_region where promoid =@Id) pr ON MR.Id=pr.RegionId
	
					/*****************
					CHANNEL
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_channel]  AS MR
					LEFT JOIN (select * from tbtrx_promo_channel where promoid =@Id) pr ON MR.Id=pr.ChannelId
	
					/*****************
					SUB CHANNEL
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_subchannel]  AS MR
					LEFT JOIN (select * from tbtrx_promo_subchannel where promoid =@Id) pr ON MR.Id=pr.SubChannelId
	
					/*****************
					ACCOUNT
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_account]  AS MR
					INNER JOIN (select * from tbtrx_promo_account where promoid =@Id) pr ON MR.Id=pr.AccountId
	
					/*****************
					SUB ACCOUNT
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_subaccount]  AS MR
					INNER JOIN (select * from tbtrx_promo_subaccount where promoid =@Id) pr ON MR.Id=pr.SubAccountId
	
					/*****************
					BRAND
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_brand]  AS MR
					LEFT JOIN (select * from tbtrx_promo_brand where promoid =@Id) pr ON MR.Id=pr.BrandId
	
					/*****************
					SKU
					*****************/
					SELECT
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
					pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_product]  AS MR
					LEFT JOIN (select * from tbtrx_promo_product where promoid =@Id) pr ON MR.Id=pr.ProductId
					ORDER BY MR.SeqNo
	
					/*****************
					ACTIVITY
					*****************/
					SELECT
					0 AS ActivityAllocId
					,ctg.ActivityId AS id
					,ctg.ActivityDesc AS longDesc
					FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
					INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
					and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)	
					AND a.AllocationId=0
	
	
					/*****************
					SUB ACTIVITY
					*****************/
					SELECT
					a.AllocationId AS SubActivityAllocId
					,ctg.SubActivityId AS id
					,ctg.SubActivityDesc AS longDesc
					FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
					INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
					and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
					AND a.AllocationId=0

					/*****************
					File attach
					*****************/
					SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink where promoid =@Id order by DocLink		
			
					/***************
					MASTER STATUS APPROVAL
					***************/
					SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
	
					/***************
					INVESTMENT
					***************/
					SELECT TotInvest Investment
					,NormalSales
					,IncrSales
					,TotSales
					,Roi
					,CostRatio
					from tbtrx_promo_request_approval_recon WITH (NOLOCK)
					where ParentId =@Id
					ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
			/************************************************************************/	
				select 
					@ongoingapproval = iif(pr.StatusApprovalCode<>'TP2',1,iif(pr.statusapprovalcoderecon<>'TP2',2,0)) 
					, @fullyapproved = iif(pr.StatusApprovalCoderecon='TP2',2,iif(pr.statusapprovalcode='TP2',1,0)) 
					, @closed = ISNULL(IsClose,0)
					, @cancelled = ISNULL(IsCancel,0)
					from tbtrx_promo pr where Id=@Id
	
				select @claimprocess=iif(SUM(isnull(dpp,0))>0,1,0) from tbtrx_debetnote where PromoId=@Id and isnull(IsCancel,0)=0
	
				set @claimprocess=iif(@closed=1,0,@claimprocess)
				set @stsongoingapproval = IIF(@ongoingapproval=0,0,1)
				set @stsfullyapproved = IIF(@stsongoingapproval=0,1,0)
	
				select 		
					iif(@closed=1 or @cancelled=1, 0, @ongoingapproval) ongoingapproval 
					,iif(@closed=1 or @cancelled=1, 0, @fullyapproved) fullyapproved
					,iif(@closed=1 or @cancelled=1, 0, @stsongoingapproval) stsongoingapproval 
					,iif(@closed=1 or @cancelled=1, 0, @stsfullyapproved) stsfullyapproved
					,iif(@closed=1 or @cancelled=1, 0, @claimprocess) claimprocess
					,@closed closed 
					,@cancelled cancelled 
			
			
					/***************
					MECHANISM
					***************/
					SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost
					  FROM [dbo].tbtrx_promo_mechanism tppm 
					  WHERE promoid =@Id

					/***************
					Group Brand 
					***************/
					SELECT CASE WHEN B.PromoId is null THEN 0 ELSE 1 END as flag,
						b.PromoId brandGroupPromoId, a.id, a.longDesc, b.brandGroupId
					FROM tbmst_brand_group a
					INNER JOIN 
					(
						select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
						INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId AND b.PromoId=@Id
					) b on a.Id=b.BrandGroupId AND a.Id=0
			END

	END
	ELSE
	BEGIN
		EXEC ip_promoid_workflow_dc @RefId
	END
END
ELSE 
BEGIN 
   RAISERROR ('Promo not found', -- Message text.
   16, -- Severity.
   1 -- State.
   );
	
END
GO
