

/****** Object:  StoredProcedure [dbo].[ip_dn_update_overbudget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dn_update_overbudget] -- 9
	@PromoId			int
AS
BEGIN

	EXEC ip_dn_overbudget_by_prommoid @promoid

END
GO
