USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_investment_report_test]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_investment_report_test] --'2020',0,0,0,0,'scsh1'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)


AS

/*
	LGP 2020-02-28 : Bug fix investment report vs listing promo
	EDY 2020-03-24 : Bug fix investment report vs listing promo
*/

--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--set @userid='kamsat'

	select
-- 	  distinct
	  p.LongDesc Entity,
	  d.LongDesc Distributor,
	  c.LongDesc [BudgetAllocationName],--BudgetName [BudgetAllocationName],
	  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
	  iif(lyr.Id is null,0,1) IsLastLayer,
	  isnull(channel.ChannelDesc,'') [Channel],
	  c.BudgetAmount [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
	  isnull(TPP.FixCost,0) [PromoCreated],
	  isnull(TPP.TotalClaim,0) [DNClaimed],
	  isnull(TPP.TotalPaid,0) [DNPaid],
	  c.BudgetAmount -isnull(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated],
	  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
	  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid]
--     select c.*
	from --@temp a
	tbtrx_allocation c with (nolock)--on a.BudgetId=c.Id
	inner join tbtrx_allocation_useraccess usr with (nolock) on usr.AllocationId=c.Id
	inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
	inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
	inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
	left join tbtrx_allocation_channel chn with (nolock) on c.Id=chn.AllocationId
	left join
			(
				select AllocationId,
				STUFF(
						(select  ',' + chn.LongDesc
							from tbtrx_allocation_channel a with (nolock)
							join tbmst_channel chn with (nolock)
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					FROM tbtrx_allocation_channel b with (nolock) INNER JOIN tbtrx_allocation with (nolock) ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	left join
	(
			SELECT	tbtrx_promo.AllocationId AS AllocationId, b.longdesc,
							SUM(Investment) FixCost,
							SUM(ISNULL(TotalClaim, 0)) TotalClaim,
							SUM(ISNULL(TotalPaid, 0)) TotalPaid
					  FROM	tbtrx_promo with (nolock)
							inner join tbmst_subactivity a with (nolock) on tbtrx_promo.SubActivityId=a.id----------200324
							inner join tbmst_subactivity_type b with (nolock) on a.SubActivityTypeId=b.id----------200324
							LEFT JOIN (
											SELECT a.Id AS PromoId,
											SUM(ISNULL(TotalClaim, 0)) AS TotalClaim,
-- 											SUM( IIF(isnull(b.VATExpired,0)=0, isnull(b.DPP,0), isnull(b.DPP,0) + isnull(b.PPNAmt,0))) TotalClaim,
											SUM(ISNULL(TotalPaid, 0)) AS TotalPaid
											FROM tbtrx_promo a with (nolock)
											LEFT JOIN tbtrx_debetnote b with (nolock)
											ON a.Id = b.PromoId	and isnull(b.IsCancel,0)=0
											GROUP BY a.Id
							) DN
							ON
								DN.PromoId = tbtrx_promo.Id
							WHERE isnull(IsCancel,0)=0
						GROUP BY tbtrx_promo.AllocationId, b.longdesc
		)TPP ON TPP.AllocationId=c.Id--a.BudgetId
	left join vw_budget_last_layer lyr on c.Id=lyr.Id
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',c.Id) =IIF(@budgetparent=0,'',@budgetparent)
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)
GO
