USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_budget_approval_by_batch_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_budget_approval_by_batch_list] 
	@batchid VARCHAR (255) = NULL
AS

/*TEST*/
	--DECLARE
	--	@batchId VARCHAR (255) = NULL

	--	SET @batchid = '20241128195917'--'20241113150757'
		--'20241126095742' --(select top 1 BatchId from tbtrx_promo_budget_status where Approved=1)
----select batchid,categoryshortdesc, RefId, Investment from tbtrx_promo_budget_status a
----inner join tbtrx_promo b on a.PromoId = b.Id --and b.categoryshortdesc='dc'
----where BatchId='20241126095742'
------order by BatchId

--	--	EXEC ip_promo_budget_approval_by_batch_list 
--	--			@batchId

BEGIN
SET NOCOUNT ON
	DECLARE
		@period int,
		@pChannelId ArrayIntType , 
		@pgroupBrand ArrayIntType ,
		@papprovalStatus CharAttributeType ,
		@cnt int,
		@rc int

	DECLARE @tmpappseq AS Table (
		appseq int,
		profileid varchar(100),
		profilecc varchar(100)
		)
	
	DECLARE 
		@cseqapp INT
		,@cprofileid VARCHAR(100)
	
	DECLARE @SEQAPP AS TABLE (
	seq INT, approvedOn DATETIME, approvedBy VARCHAR(100), approvedEmail VARCHAR(100)
	)

	DROP TABLE IF EXISTS #tempResultAbove5Bio
	DROP TABLE IF EXISTS #tempResultBelow5BioAll
	DROP TABLE IF EXISTS #tempResultBelow5BioContractual
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractual

	DROP TABLE IF EXISTS #tempResultAbove5BioRC
	DROP TABLE IF EXISTS #tempResultBelow5BioAllRC
	DROP TABLE IF EXISTS #tempResultBelow5BioContractualRC
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractualRC

	DROP TABLE IF EXISTS #tempResultAbove5BioDC
	DROP TABLE IF EXISTS #tempResultBelow5BioAllDC
	DROP TABLE IF EXISTS #tempResultBelow5BioContractualDC
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractualDC

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail
	DROP TABLE IF EXISTS #tempResultDetailRC
	DROP TABLE IF EXISTS #tempResultDetailDC
	DROP TABLE IF EXISTS #tmpappseq
	DROP TABLE IF EXISTS #tmpFormat

	DECLARE @tmpPromoId TABLE (
		promoId int,
		statusCode varchar(50), statusDesc varchar(50), investment float)

			SELECT top 1 @Period = pr.Period from tbtrx_promo pr
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						WHERE prbs.BatchId=@batchid

			INSERT INTO @tmpPromoId
						SELECT pr.id, maps.statusCode, maps.statusDesc, Investment from tbtrx_promo pr
						INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
						INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
						INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN tbmst_master_status maps ON prbs.LastStatusCode = maps.StatusCode
						WHERE prbs.BatchId=@batchid AND prbs.LastStatusCode = 'TP03'

			IF (select COUNT(*) from tbtrx_promo_budget_status where batchid=@batchid)=0
				BEGIN
					RAISERROR ('No Promo IDs found', -- Message text.
					16, -- Severity.
					1 -- State.
					);
				END

			IF (select top 1 pr.CategoryShortDesc from @tmpPromoId a inner join tbtrx_promo pr on a.promoId=pr.Id)='RC'
					BEGIN
						SET @rc=1
					END
				ELSE
					BEGIN
						SET @rc=2
					END

IF @rc=1
	BEGIN
	/*ABOVE 5 BIO*/
		SELECT
		pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
		, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
		, prcha.channelId, mcha.LongDesc channel, ISNULL(pracc.accountId,0) accountId, ISNULL(macc.LongDesc,'---') account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
		INTO #tempResultAbove5BioRC
		from @tmpPromoId tpr
		INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
		INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId AND prcal.Cost>5000000000
		INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
		INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
		INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
		INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
		INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
		INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
		INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
		LEFT JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
		LEFT JOIN tbmst_account macc ON pracc.AccountId = macc.Id

	/*BELOW 5 BIO - ALL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestment
		INTO #tempResultBelow5BioAllRC FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*BELOW 5 BIO - CONTRACTUAL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestment
		INTO #tempResultBelow5BioContractualRC FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*BELOW 5 BIO - NON CONTRACTUAL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestment
		INTO #tempResultBelow5BioNonContractualRC FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
				INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
				GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

/*PROFILE AND EMAIL to be sent*/

		IF (SELECT COUNT(*) FROM #tempResultAbove5BioRC)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 4, Approver4, cc4 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver4 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 5, Approver5, cc5 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver5 IS NOT NULL AND category = 'RC'
			end

		IF (SELECT COUNT(*) FROM #tempResultBelow5BioAllRC)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'RC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'RC'
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver4 IS NOT NULL
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver5 IS NOT NULL
			end

		SELECT * FROM #tempResultAbove5BioRC
		SELECT * FROM #tempResultBelow5BioAllRC
		SELECT * FROM #tempResultBelow5BioContractualRC
		SELECT * FROM #tempResultBelow5BioNonContractualRC

	END
ELSE
	BEGIN
	/*ABOVE 5 BIO*/
		SELECT
		pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
		, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
		, prcha.channelId, mcha.LongDesc channel, 0 accountId, '---' account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
		INTO #tempResultAbove5BioDC
		from @tmpPromoId tpr
		INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND pr.CategoryShortDesc='DC'
		INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId AND prcal.Cost>5000000000
		INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
		INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
		INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
		INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
		INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
		INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
		INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id

	/*BELOW 5 BIO - ALL*/
	SELECT mcha.channel
		, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
		, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
		, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

		, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
		, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestment
		INTO #tempResultBelow5BioAllDC FROM (
			SELECT Id channelId, LongDesc channel FROM tbmst_distributor WHERE ISNULL(IsDeleted,0)=0) mcha
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)sgm ON mcha.channelId=sgm.ChannelId
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nis ON mcha.channelId=nis.ChannelId
		LEFT JOIN (
			SELECT
				pr.DistributorId ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
				FROM @tmpPromoId tpr
				INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4 AND pr.CategoryShortDesc = 'DC'
				INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
				INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
				GROUP BY pr.period, pr.DistributorId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
			)nmn ON mcha.channelId=nmn.ChannelId

	/*BELOW 5 BIO - CONTRACTUAL*/
	SELECT * INTO #tempResultBelow5BioContractualDC FROM #tempResultBelow5BioAllDC
	DELETE FROM #tempResultBelow5BioContractualDC

	/*BELOW 5 BIO - NON CONTRACTUAL*/
	SELECT * INTO #tempResultBelow5BioNonContractualDC FROM #tempResultBelow5BioAllDC
	DELETE FROM #tempResultBelow5BioNonContractualDC

/*PROFILE AND EMAIL to be sent*/

		IF (SELECT COUNT(*) FROM #tempResultAbove5BioDC)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 4, Approver4, cc4 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver4 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 5, Approver5, cc5 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver5 IS NOT NULL AND category = 'DC'
			end

		IF (SELECT COUNT(*) FROM #tempResultBelow5BioAllDC)>0 
			BEGIN
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 1, Approver1, cc1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 2, Approver2, cc2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL AND category = 'DC'
				INSERT INTO @tmpappseq (appseq,profileid, profilecc) SELECT 3, Approver3, cc3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL AND category = 'DC'
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver4 IS NOT NULL
				--INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver5 IS NOT NULL
			end

		SELECT * FROM #tempResultAbove5BioDC
		SELECT * FROM #tempResultBelow5BioAllDC
		SELECT * FROM #tempResultBelow5BioContractualDC
		SELECT * FROM #tempResultBelow5BioNonContractualDC
	END

	SELECT DISTINCT * INTO #tmpappseq FROM @tmpappseq a

	/*APPROVAL INFO*/


			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 1, Approved1On, Approved1By, Approved1Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved1By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 2, Approved2On, Approved2By, Approved2Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved2By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 3, Approved3On, Approved3By, Approved3Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved3By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 4, Approved4On, Approved4By, Approved4Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved4By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 5, Approved5On, Approved5By, Approved5Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved5By IS NOT NULL

			SELECT a.seq, max(a.approvedOn)approvedOn, a.approvedBy, max(a.approvedEmail)approvedEmail
				, max(b.email)email, max(b.jobtitle)jobtitle, max(c.username)username
				, d.email ccEmail 
			FROM @SEQAPP a
			INNER JOIN #tmpappseq ax ON a.seq = ax.appseq
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			LEFT JOIN tbset_user d ON ax.profilecc = d.id 
			GROUP BY a.seq, a.approvedBy, d.email order by a.seq

			SELECT TOP 1 b.period,
				CASE WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (1,2,3) THEN 'Jan - Mar'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (4,5,6) THEN 'Apr - Jun'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (7,8,9) THEN 'Jul - Sep'
					WHEN MIN(month(StartPromo)) OVER (PARTITION BY period) IN (10,11,12) THEN 'Oct - Dec'
				END periodDesc,
				iif((SELECT COUNT(*) FROM @tmpPromoId WHERE investment > 5000000000)>0,1,0) above5Bio, 
				iif((SELECT COUNT(*) FROM @tmpPromoId WHERE investment <= 5000000000)>0,1,0) under5Bio
				,b.CategoryShortDesc category
				FROM @tmpPromoId x
				INNER JOIN tbtrx_promo_budget_status a on x.promoId = a.PromoId
				INNER JOIN tbtrx_promo b on a.PromoId=b.Id	

	DROP TABLE IF EXISTS #tempResultAbove5Bio
	DROP TABLE IF EXISTS #tempResultBelow5BioAll
	DROP TABLE IF EXISTS #tempResultBelow5BioContractual
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractual

	DROP TABLE IF EXISTS #tempResultAbove5BioRC
	DROP TABLE IF EXISTS #tempResultBelow5BioAllRC
	DROP TABLE IF EXISTS #tempResultBelow5BioContractualRC
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractualRC

	DROP TABLE IF EXISTS #tempResultAbove5BioDC
	DROP TABLE IF EXISTS #tempResultBelow5BioAllDC
	DROP TABLE IF EXISTS #tempResultBelow5BioContractualDC
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractualDC

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail
	DROP TABLE IF EXISTS #tempResultDetailDC
	DROP TABLE IF EXISTS #tmpappseq
	DROP TABLE IF EXISTS #tmpFormat
END

GO
