

/****** Object:  StoredProcedure [dbo].[ip_debetnote_filter_validate_by_finance]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_filter_validate_by_finance]
@userid varchar(50),
@status varchar(50),
@entity int,
@dn TemplateDebetNote READONLY
,@TaxLevel varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin

INSERT INTO TempTemplateDebetNote
SELECT * FROM @dn

	SELECT
	CASE WHEN a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance') THEN
		CASE WHEN a.LastStatus is not null THEN 1 ELSE 0 END
	ELSE
		0
	END CheckFlag
	,a.Id
	,temp.RefId
	,temp.PromoRefId
	,temp.Activity ActivityDesc
	,a.DPP
	,a.PPnAmt
	,a.memDocNo
	,a.intDocNo
	,temp.TotalClaim
	,temp.LastStatus
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,a.TaxLevel
	,CASE WHEN a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance') THEN
		CASE WHEN a.LastStatus is not null THEN 'OK' ELSE 'DN Not Found' END
	ELSE
		'DN Status is not received_by_danone or validate_by_sales or  validate_by_finance'
	END [Status]
	,a.StatusSalesCode
	,a.StatusSales
	,a.StatusSalesOn
	,a.StatusSalesBy
	,a.StatusSalesDistOn
	,a.StatusSalesDistBy
	,a.StatusSalesNotes
	,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
	,d.actionOn SalesValidationStatusOn
	,a.AccountId SubAccountId
	,ts.LongDesc SubAccount
    ,a.FPNumber
    ,a.FPDate
    ,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired	
	,isnull(a.VATExpired, 0) DNVATExpired
	,ob.Remaining
	,a.IsOverBudget
	,a.TaxLevel MaterialNumber
	,a.TotalClaim
	,a.PrincipalId entityId
	,a.promoId
	,sp.RefId sp_ho
	from @dn temp
	LEFT JOIN tbtrx_debetnote a on a.RefId=temp.RefId
    LEFT JOIN
        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
        from tbhis_debetnote_sales_log
        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
	LEFT JOIN
		(
	        SELECT
	        pr.Id PromoId,
	        pr.RefId RefId,
	        pr.investmentForDN investment,
	        dn.id DNId,
	        dn.TotalClaim,
	        b.dt,
	        SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
	        pr.investmentForDN-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY iif(dn.LastStatus ='confirm_paid',0,1),b.dt) Remaining
	        from tbtrx_promo pr
	        inner join  tbtrx_debetnote dn on pr.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 --AND pr.Id=28989
	        inner join (
	            select id, iif(ModifiedOn is null, CreateOn, ModifiedOn) dt from tbtrx_debetnote a
	        ) b on dn.id=b.id
		) ob ON a.Id=ob.DNId				
	LEFT JOIN tbtrx_debetnote_sp_detail spdtl on a.Id=spdtl.DnId and isnull(spdtl.IsCancel,0)=0
	LEFT JOIN tbtrx_debetnote_sp_header sp on sp.Id=spdtl.ParentId        
	LEFT JOIN tbmst_subaccount ts ON a.AccountId = ts.id
	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
	where iif(@entity=0,0,a.PrincipalId)=iif(@entity=0,0,@entity)
	AND iif(@TaxLevel='0','',a.TaxLevel)=iif(@TaxLevel='0','',@TaxLevel)

end

GO
