

/****** Object:  StoredProcedure [dbo].[ip_promo_v4_insert_recon_dc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[ip_promo_v4_insert_recon_dc]
@IsNew bit = 0
,@Promo PromoV4ReconType READONLY
,@Region BudgetAllocationChildsType READONLY
,@Channel BudgetAllocationChildsType READONLY
,@SubChannel BudgetAllocationChildsType READONLY
,@Account BudgetAllocationChildsType READONLY
,@SubAccount BudgetAllocationChildsType READONLY
,@Brand BudgetAllocationChildsType READONLY
,@Sku BudgetAllocationChildsType READONLY
,@Mechanism MechanismType READONLY
,@Reconciled bit
,@ReconciledUpd bit
--,@messageout varchar(255) OUT

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE*********************************************/
--DROP TABLE IF EXISTS PromoV4ReconType
--DROP TABLE IF EXISTS TempRegion4
--DROP TABLE IF EXISTS TempChannel4 
--DROP TABLE IF EXISTS TempSubChannel4 
--DROP TABLE IF EXISTS TempAccount4 
--DROP TABLE IF EXISTS TempSubAccount4 
--DROP TABLE IF EXISTS TempBrand4 
--DROP TABLE IF EXISTS TempSku4 
----DROP TABLE IF EXISTS Tempattachment4 
--DROP TABLE IF EXISTS TempMechanism4 

--SELECT * INTO PromoV4ReconType	FROM @promo
--SELECT * INTO TempRegion4		FROM @Region
--SELECT * INTO TempChannel4 		FROM @Channel
--SELECT * INTO TempSubChannel4 	FROM @SubChannel
--SELECT * INTO TempAccount4 		FROM @Account
--SELECT * INTO TempSubAccount4 	FROM @SubAccount
--SELECT * INTO TempBrand4 		FROM @Brand
--SELECT * INTO TempSku4 			FROM @Sku
----SELECT * INTO Tempattachment4 	FROM @attachment
--SELECT * INTO TempMechanism4 	FROM @Mechanism

--DECLARE
--	@IsNew bit=0
--	,@Promo PromoV4Type 
--	,@Region BudgetAllocationChildsType 
--	,@Channel BudgetAllocationChildsType 
--	,@SubChannel BudgetAllocationChildsType 
--	,@Account BudgetAllocationChildsType 
--	,@SubAccount BudgetAllocationChildsType 
--	,@Brand BudgetAllocationChildsType 
--	,@Sku BudgetAllocationChildsType 
--	--,@attachment PromoAttachmentType 
--	,@Mechanism MechanismType 
--	,@Reconciled bit=0
--	,@ReconciledUpd bit=0

--insert into @promo			select * from PromoV4ReconType
--insert into @region			SELECT * from TempRegion4		
--insert into @Channel		SELECT * from TempChannel4 		
--insert into @SubChannel		SELECT * from TempSubChannel4 	
--insert into @Account		SELECT * from TempAccount4 		
--insert into @SubAccount		SELECT * from TempSubAccount4
--insert into @Brand			SELECT * from TempBrand4 	
--insert into	@Sku			SELECT * from TempSku4 		
----insert into	@attachment		SELECT * from Tempattachment4
--insert into	@Mechanism		SELECT * from TempMechanism4 

/*********************************************TESTING PURPOSE*/

	DECLARE @categoryShortDesc varchar(20)
	DECLARE @ChnCount int

	SELECT @categoryShortDesc=c.ShortDesc from @Promo a
	INNER JOIN tbmst_subcategory b on a.SubCategoryId=b.Id
	INNER JOIN tbmst_category c on b.CategoryId=c.Id	
	SET @ChnCount=(SELECT COUNT(*) FROM @Channel)


BEGIN TRY
	BEGIN TRANSACTION
		DECLARE @DCRegion BudgetAllocationChildsType 
		DECLARE @DCBrand BudgetAllocationChildsType 
		DECLARE @DCSku BudgetAllocationChildsType 

		INSERT INTO @DCRegion (Id)	SELECT RegionId FROM tbtrx_allocation_region WHERE AllocationId=(SELECT AllocationId FROM @Promo)
		INSERT INTO @DCBrand (Id)		SELECT BrandId FROM tbtrx_allocation_brand WHERE AllocationId=(SELECT AllocationId FROM @Promo)
		INSERT INTO @DCSku (ParentId, Id)		SELECT BrandId, ProductId FROM tbtrx_allocation_product WHERE AllocationId=(SELECT AllocationId FROM @Promo)	
		
		--Cek data promo
	-- insert into TempPromoReconType select * from @promo
		SET @IsNew = 0;
		DECLARE
			@rowcount int,
			@ParentId_his int,
			@PromoId int,
			@MajorChanges int

		DECLARE @p_reqid int

		SET @MajorChanges = 0;
		DECLARE
			@AllocationId int,
			@AllocationId_old int,
			@Periode varchar(4),
			@PrincipalId int,
			@DistributorId int,
			@ActivityId int, --#876
			@SubActivityId int,	--#876
			@SubActivityType int,
			@SubCategoryId int,
			@ChannelId int,
			@SubChannelId int,
			@Initiator varchar(50),
			@Investment numeric (19,0),
			@PrevTotInvest numeric (19,0),
			@TotSales numeric (19,0),
			@PrevTotSales numeric (19,0),
			@IncrSales numeric (19,0),
			@PrevIncrSales numeric (19,0),
			@NormalSales numeric (19,0),
			@PrevNormalSales numeric (19,0),
			@StartPromo date,
			@EndPromo date,
			@matrixid int,
			@messageout varchar(255),
			@RequestId int,

			@budgetamount numeric(19,2),
			@remainingamount numeric(19,2),
			@promorefid varchar(50),
			@roi numeric(19,2),
			@PrevRoi numeric(19,2),
			@costratio numeric(19,2),
			@PrevCostRatio numeric(19,2),
			@statusapproval VARCHAR(255),
			@statusapprovalrecon VARCHAR(255),
			@oldinvest numeric(19,0),
			@tscoding varchar(50),
			@sumDPPDN numeric(19,2),
			@investmentTypeId int
			,@ActivityDesc varchar(255)
			,@PrevStartPromo date
			,@PrevEndPromo date
			,@PrevActivityDesc varchar(255)
			,@PrevMechanism int
			,@PrevMechanism1 int
			,@PrevMechanism2 int
			,@ReconciledUpdNew bit
			,@useremail varchar(100)
			,@promoIsClose int
			,@promoIsCancel int
	/* start ISU #886 */
			,@initiatorNotesOld varchar(255)
			,@initiatorNotesNew varchar(255)
			,@mechanismOld nvarchar(max)
			,@mechanismNew nvarchar(max)
		
			,@channelOld varchar(max)
			,@channelNew varchar(max)
			,@subChannelOld varchar(max)
			,@subChannelNew varchar(max)
			,@accountOld varchar(max)
			,@accountNew varchar(max)
			,@subAccountOld varchar(max)
			,@subAccountNew varchar(max)
		
			,@regionOld nvarchar(max)
			,@regionNew nvarchar(max)
			,@brandOld nvarchar(max)
			,@brandNew nvarchar(max)
			,@skuOld nvarchar(max)
			,@skuNew nvarchar(max)		
			,@sttChannel int
			,@sttSubChannel int
			,@sttAccount int
			,@sttSubAccount int
			,@sttRegion int
			,@sttBrand int
			,@sttSKU int
			,@sttMechanism int
			,@sttInitiatorNotes int

	-- new item
			,@sttDistributor int
			,@distributorOld int
			,@distributorNew int
			,@sttSubCategory int
			,@subCategoryOld varchar(255)
			,@sttBudgetSources int
			,@budgetOld varchar(255)
			,@sttPromoPlan int
			,@promoPlanOld varchar(255)
			,@sttAttachment int
			,@attachmentOld nvarchar(MAX)
			,@attachmentNew nvarchar(MAX)


			SELECT TOP 1
				@sttChannel = Channel
				,@sttSubChannel = SubChannel
				,@sttAccount = Account
				,@sttSubAccount = SubAccount
				,@sttRegion = Region
				,@sttBrand = Brand
				,@sttSKU = SKU
				,@sttMechanism = Mechanism
				,@sttInitiatorNotes = initiatorNotes
				-- new item
				,@sttDistributor = Distributor
				,@sttSubCategory = SubCategory
				,@sttBudgetSources = BudgetSources
				,@sttPromoPlan = PromoPlan
				,@sttAttachment = Attachment

			FROM tbset_major_changes
		-- select DC
			WHERE CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='DC')
		

			SELECT @attachmentOld = string_agg(tpd.FileName,', ') WITHIN GROUP (ORDER BY doclink )
				FROM tbhis_promo_doclink tpd 
			where ParentId =
				(select max(ParentId)
				from tbhis_promo where id = @PromoId)
			GROUP BY tpd.PromoId 
			
			SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM tbtrx_promo_doclink where promoid = @PromoId)	
			
			
			SET @channelNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Channel)
			SET @subChannelNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @SubChannel)
			SET @accountNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Account)
			SET @subAccountNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @SubAccount)
			SET @regionNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Region)
			SET @brandNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Brand)
			SET @skuNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Sku)
	/* end ISU #886 */

			SET @distributorOld = 0
			SET @distributorNew = 0
			-- get distributor to compare
			if (@sttDistributor = 1)
			BEGIN
				SET @distributorNew = (SELECT DistributorId  
									from tbtrx_budgetmaster budget
									WHERE budget.Id = (SELECT BudgetMasterId FROM @Promo))


				SET @distributorOld = (SELECT budget.DistributorId  
									from tbtrx_budgetmaster budget
									LEFT JOIN tbtrx_promo prm1 ON prm1.BudgetMasterId = budget.id
									WHERE prm1.Id = (SELECT PromoId FROM @Promo))
			END

		/*RECALCULATE BALANCE********************/
			EXEC ip_recalculate_balance @AllocationId

		SELECT TOP 1
			@AllocationId=t.AllocationId
			,@SubCategoryId=t.SubCategoryId
			,@PromoId=t.PromoId
			,@Periode=m.Periode
			,@PrincipalId=m.PrincipalId
			,@DistributorId=m.DistributorId
			,@ActivityId = t.ActivityId  --#876
			,@SubActivityId = t.SubActivityId --#876	
			,@SubActivityType=st.Id
			,@ChannelId=tc.Id
			,@SubChannelId=tsc.Id
			,@Initiator=t.CreateBy
			,@Investment=t.Investment
			,@NormalSales=t.NormalSales
			,@IncrSales=t.IncrSales
			,@Startpromo=t.StartPromo
			,@EndPromo=t.EndPromo
			,@ActivityDesc = t.ActivityDesc -- #886
			,@budgetamount=alc.BudgetAmount
			,@remainingamount=bal.RemainingAmount
			,@roi=t.roi
			,@costratio=t.costratio
			,@tscoding=t.tscoding
			,@investmentTypeId = tmit.InvestmentTypeId
			,@ActivityDesc = t.ActivityDesc
			,@useremail = t.CreatedEmail
			,@initiatorNotesNew = t.initiator_notes
		FROM @Promo t
		INNER JOIN tbtrx_allocation alc ON t.AllocationId=alc.Id
		INNER JOIN tbtrx_allocation_balance bal ON alc.Id=bal.AllocationId and bal.SubCategoryId=t.SubCategoryId
		INNER JOIN tbtrx_budgetmaster m on alc.BudgetMasterId=m.Id
		INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
		INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
		INNER JOIN @Channel tc on 1=1
		INNER JOIN @SubChannel tsc on 1=1
		LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId


		/*GET MATRIX APPROVAL********************/
		DECLARE 
			@entitiydesc varchar(255)
			, @distributordesc varchar(255)
			, @subactivitytypedesc varchar(255)
			, @channeldesc varchar(255)
			, @subchanneldesc varchar(255)

		SELECT @entitiydesc=a.Longdesc FROM tbmst_principal a WHERE a.Id=@PrincipalId
		SELECT @distributordesc=a.Longdesc FROM tbmst_distributor a WHERE a.Id=@DistributorId
		SELECT @subactivitytypedesc=a.Longdesc FROM tbmst_subactivity_type a WHERE a.Id=@SubActivityType
		SELECT @channeldesc=a.Longdesc FROM tbmst_channel a WHERE a.Id=@ChannelId
		SELECT @subchanneldesc=a.Longdesc FROM tbmst_subchannel a WHERE a.Id=@SubChannelId



		IF @ChnCount>1
			BEGIN
				SELECT top 1 @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						INNER JOIN 
							(
								SELECT Id ChnId FROM tbmst_channel WHERE ShortDesc='ALL'
							) b ON a.ChannelId=b.ChnId
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=b.ChnId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='DC'
			END
		ELSE
			BEGIN
				SELECT top 1  @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='DC'
			END


		IF @matrixid is null
			BEGIN
				SET @messageout='Matrix Approval not found for :<br>Entity: ' +  cast(@entitiydesc as varchar) + ', Distributor: ' + cast(@distributordesc as varchar) + ', Category: ' + cast(@categoryShortDesc as varchar)  + ', Sub Activity Type: ' + cast(@subactivitytypedesc as varchar)+ ', Channel: ' + cast(@channeldesc as varchar) + ', Initiator: ' + cast(@Initiator as varchar)		
					RAISERROR (@messageout, -- Message text.
						16, -- Severity.
						1 -- State.
						);
			END

		/*********************
		PROSES UPDATE
		*********************/
		IF @IsNew=0
			BEGIN
				SELECT @mechanismNew = STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ')
					FROM @Mechanism a
	
				SELECT @attachmentOld = string_agg(tpd.FileName,', ') WITHIN GROUP (ORDER BY doclink )
					FROM tbhis_promo_doclink tpd 
				where ParentId =
					(select max(ParentId)
					from tbhis_promo where id = @PromoId)
				GROUP BY tpd.PromoId 
		            
				SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM tbtrx_promo_doclink where promoid = @PromoId)	
					
				SELECT
					@oldinvest=Investment
					,@PrevTotinvest=Investment
					,@promorefid=refid
					,@PrevRoi=Roi
					,@PrevCostRatio=CostRatio
					,@PrevIncrSales=IncrSales
					,@PrevNormalSales=NormalSales
					,@PrevTotSales=IncrSales + NormalSales
					,@PrevStartPromo=startpromo
					,@PrevEndPromo = endpromo
					,@PrevActivityDesc = activitydesc
					,@promoIsClose=IsClose
					,@promoIsCancel=IsCancel
					,@mechanismOld = mechanism.mechanism
		/* start ISU #886 */			
					,@initiatorNotesOld = pr.initiator_notes
					,@channelOld = tpc.channelid
					,@subChannelOld = tps.subchannelid
					,@accountOld = tpa.accountid
					,@subAccountOld = tps2.subaccountid
					,@regionOld = region.region
					,@brandOld = brand.brand
					,@skuOld = sku.sku		
					,@AllocationId_old = pr.allocationid

				FROM tbtrx_promo pr WITH (nolock)
				INNER JOIN 
					(
						SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism FROM tbtrx_promo_mechanism a WITH (nolock) GROUP BY a.PromoId		
					) mechanism ON pr.id=mechanism.PromoId
				INNER JOIN 
					(
						SELECT PromoId,  STRING_AGG(channelId,', ') channelid FROM tbtrx_promo_channel WITH (nolock) GROUP BY PromoId
					) tpc ON pr.id=tpc.PromoId 
				INNER JOIN 
					(
						SELECT PromoId,  STRING_AGG(subchannelId,', ') subchannelid FROM tbtrx_promo_subchannel WITH (nolock) GROUP BY PromoId
					) tps ON pr.id= tps.PromoId 
				INNER JOIN 
					(
						SELECT PromoId,  STRING_AGG(accountId,', ') accountid FROM tbtrx_promo_account WITH (nolock) GROUP BY PromoId
					) tpa ON pr.id=tpa.PromoId
				INNER JOIN 
					(
						SELECT PromoId,  STRING_AGG(subaccountId,', ') subaccountid FROM tbtrx_promo_subaccount WITH (nolock) GROUP BY PromoId
					) tps2 ON pr.id=tps2.PromoId 
				INNER JOIN 
					(
						SELECT PromoId, STRING_AGG(a.regionid,', ') region FROM tbtrx_promo_region a WITH (nolock) GROUP BY a.PromoId
					) region ON pr.id=region.PromoId
				INNER JOIN 
					(
						SELECT PromoId, STRING_AGG(a.brandid,', ') brand FROM tbtrx_promo_brand a WITH (nolock) GROUP BY a.PromoId
					) brand ON pr.id=brand.PromoId
				INNER JOIN 
					(
						SELECT PromoId, STRING_AGG(a.productid,', ') sku FROM tbtrx_promo_product a WITH (nolock) GROUP BY a.PromoId
					) sku ON pr.id=sku.PromoId		
		/* end #ISU 886 */
				WHERE pr.Id=@PromoId


				IF @promoIsClose=1 or @promoIsCancel=1
					BEGIN
						RAISERROR ('Can not Edit this Promo, this promo is close or cancel', -- Message text.
						16, -- Severity.
						1 -- State.
						);
					END

				IF @Investment > (@remainingamount + @oldinvest)
					BEGIN
							RAISERROR ('Budget Exeeded', -- Message text.
							16, -- Severity.
							1 -- State.
							);
					END

				SET @sumDPPDN = (SELECT SUM(dpp) from dbo.tbtrx_debetnote WHERE ISNULL(iscancel, 0)= 0 and promoid=@PromoId)
				IF @sumDPPDN > @Investment
					BEGIN
							RAISERROR ('Total Investment cannot be less than Total Debetnote', -- Message text.
							16, -- Severity.
							1 -- State.
							);
					END
		
				/* Cek Update Final Reconciliation */
				SET @PrevMechanism = 0;
				SELECT @PrevMechanism1= ISNULL(count(a.Mechanism),0)
					FROM tbtrx_promo_mechanism a
					LEFT JOIN @Mechanism b on a.Mechanism = b.Mechanism
					WHERE a.PromoId = @PromoId
					AND b.Mechanism IS NULL
			
				SELECT @PrevMechanism2= ISNULL(count(a.Mechanism),0)
					FROM @Mechanism a
					LEFT JOIN tbtrx_promo_mechanism b on a.Mechanism = b.Mechanism
					WHERE b.PromoId = @PromoId
					AND b.Mechanism IS NULL
			
				SET @PrevMechanism = @PrevMechanism1 + @PrevMechanism2
			
				SET @ReconciledUpdNew = 0;
				SET @Reconciled = 0
				IF @oldinvest<>@Investment OR @PrevIncrSales<>@IncrSales OR @PrevStartPromo<>@Startpromo OR @PrevEndPromo<>@EndPromo OR @PrevActivityDesc<>@ActivityDesc OR @PrevMechanism<>0
					BEGIN
						SET @ReconciledUpdNew = 1;
						SET @Reconciled = 1
					END
		
				/*DELETE INSERT ATTRIBUTE*********************/
				DELETE FROM tbtrx_promo_region WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_region(PromoId,RegionId)
					SELECT @PromoId,t.Id from @DCRegion t inner join tbmst_region a on a.Id=t.Id

				DELETE FROM tbtrx_promo_channel WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_channel(PromoId,ChannelId)
					SELECT @PromoId,t.Id from @Channel t inner join tbmst_channel a on a.Id=t.Id

				DELETE FROM tbtrx_promo_subchannel WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_subchannel(PromoId,ChannelId,SubChannelId)
					SELECT @PromoId,ParentId,t.Id from @SubChannel t inner join tbmst_subchannel a on a.Id=t.Id

				DELETE FROM tbtrx_promo_account WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_account(PromoId,SubChannelId,AccountId)
					SELECT @PromoId,ParentId,t.Id from @Account t inner join tbmst_account a on a.Id=t.Id

				DELETE FROM tbtrx_promo_subaccount WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_subaccount(PromoId,AccountId,SubAccountId)
					SELECT @PromoId,ParentId,t.Id from @SubAccount t inner join tbmst_subaccount a on a.Id=t.Id

				DELETE FROM tbtrx_promo_brand WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_brand(PromoId,BrandId)
					SELECT DISTINCT @PromoId,t.Id from @DCBrand t inner join tbmst_brand a on a.Id=t.Id

				DELETE FROM tbtrx_promo_product WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_product(PromoId,BrandId,ProductId)
					SELECT DISTINCT @PromoId,ParentId,t.Id from @DCSku t inner join tbmst_product a on a.Id=t.Id

				DELETE FROM tbtrx_promo_mechanism WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_mechanism(PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
					SELECT @PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM @Mechanism

				/*UPDATE DATA DI TABLE PROMO*********************/
				UPDATE A
				SET
					A.ActivityId=B.ActivityId
					,A.SubActivityId=B.SubActivityId
					,A.ActivityDesc=B.ActivityDesc
					,A.AllocationId = B.AllocationId
					,A.AllocationRefId = C.RefId 
					,A.BudgetMasterId = C.BudgetMasterId 					
					,A.StartPromo=B.StartPromo
					,A.EndPromo=B.EndPromo
					,A.Mechanisme1=B.Mechanisme1
					,A.Mechanisme2=B.Mechanisme2
					,A.Mechanisme3=B.Mechanisme3
					,A.Mechanisme4=B.Mechanisme4
					,A.Investment =B.Investment
					,A.investmentForDN =B.Investment
					,A.NormalSales=B.NormalSales
					,A.IncrSales=B.IncrSales
					,A.Roi=iif(B.investment=0,0,round((B.incrsales-B.investment) / B.investment * 100, 2))
					,A.CostRatio=iif((B.normalsales+B.incrsales)=0,0,round(B.investment / (B.normalsales+B.incrsales) * 100, 2))				
					,A.Notes=B.Notes
					,A.TsCoding=B.TsCoding
					,A.ModifiedBy=@initiator
					,A.ModifiedOn=@utcDate123
					,A.Reconciled = @Reconciled
					,A.initiator_notes=B.initiator_notes
					,A.actual_sales=B.actual_sales
					,A.investmentTypeId=@investmentTypeId
					,A.matrixapprovalid = @matrixid
					,A.ModifReason = B.ModifReason
					,A.ModifiedEmail = @useremail
				FROM tbtrx_promo A
				INNER JOIN @Promo B on A.Id=B.PromoId
				INNER JOIN tbtrx_allocation C ON B.AllocationId = C.Id 
				WHERE A.Id=@PromoId

		

				EXEC ip_dn_overbudget_by_prommoid @PromoId;
		
				/*start issue #855 promo recon draft*******************************/
				UPDATE tbtrx_promo_draft SET IsOnGoing = 0 WHERE PromoId = @PromoId
				INSERT INTO tbtrx_promo_draft 
					(
						PromoId
						, Investment
						, IsOnGoing
						, Status
						, ModifiedOn
						, ModifiedBy
						, ModifiedEmail
					) 
					SELECT 
						@PromoId
						, Investment
						, 1
						, 'TP1'
						, @utcDate123
						, @Initiator
						, @useremail
						FROM @Promo
				/*end issue #855 promo recon draft*******************************/

				/*UPDATE RECONCILED********************/

				IF @ReconciledUpdNew = 1
					BEGIN
						UPDATE tbtrx_promo SET Reconciled = 1, ReconciledOn = @utcDate123, ReconciledBy=@initiator WHERE id=@PromoId
					END

				UPDATE prhis
					SET prhis.Reconciled = pr.Reconciled
						,prhis.ReconciledOn = @utcDate123
						,prhis.ReconciledBy= @initiator
		--				,prhis.ReconciledOn = pr.ReconciledOn
		--				,prhis.ReconciledBy= pr.ReconciledBy
					FROM tbhis_promo prhis inner join tbtrx_promo pr on prhis.id=pr.id
					WHERE prhis.ParentId=@ParentId_his

				SET @statusapproval=(SELECT StatusApprovalCode from tbtrx_promo WHERE Id=@PromoId)
				SET @statusapprovalrecon=(SELECT ISNULL(StatusApprovalCodeRecon, '') from tbtrx_promo WHERE Id=@PromoId)


				--switching to recon
				IF @statusapproval='TP2' AND @statusapprovalrecon=''
					BEGIN
			/* start ISU #886 */		
						UPDATE tpra
							SET tpra.ModifiedOn=@utcDate123
						FROM tbtrx_promo_request_approval tpra
							CROSS JOIN tbset_major_changes tmc 
						WHERE ParentId=@PromoId
						-- select DC
						AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc='DC')


						AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
						AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
						AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
						AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
						AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
						AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @Investment, 0)
						AND iif(tmc.IncrSales = 1, tpra.IncrSales, 0) = iif(tmc.IncrSales = 1, @IncrSales, 0)
						AND iif(tmc.ROI = 1, tpra.Roi, 0) = iif(tmc.ROI = 1, @roi, 0)
						AND iif(tmc.CR = 1, tpra.CostRatio, 0) = iif(tmc.CR = 1, @costratio, 0)
						AND iif(tmc.BudgetSources = 1, tpra.AllocationId, 0) = iif(tmc.BudgetSources = 1, @AllocationId, 0)
						-- added 16Nov
--						AND iif(tmc.[BudgetSources]  = 1, tpra.BudgetMasterId, 0) = iif(tmc.[BudgetSources] = 1, (SELECT BudgetMasterId FROM @Promo), 0)
						AND iif(tmc.[PromoPlan]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[PromoPlan] = 1, (SELECT PromoPlanId FROM @Promo), 0)
						AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT SubCategoryId FROM @Promo), 0)
						AND ISNULL(IsCancel,0)=0

						SET @rowcount=@@ROWCOUNT
			
						--JIKA MAJOR CHANGES ATAU REQUEST BARU
						IF @rowcount = 0 
							OR (@channelOld <> @channelNew AND @sttChannel = 1) 
							OR (@subChannelOld <> @subChannelNew AND @sttSubChannel = 1) 
							OR (@accountOld <> @accountNew AND @sttAccount = 1) 
							OR (@subAccountOld <> @subAccountNew AND @sttSubAccount = 1) 
							OR (@regionOld <> @regionNew AND @sttRegion = 1) 
							OR (@brandOld <> @brandNew AND @sttBrand = 1) 
							OR (@skuOld <> @skuNew AND @sttSKU = 1) 
							OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
							OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
							OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
							OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)


			/**** End ISU #886 */			
							BEGIN
								SET @MajorChanges = 1;

								/****************************
								BUAT REQUEST APPROVAL BARU
								INSERT KE TABLE REQUEST APPROVAL
								****************************/
								INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
									([ParentId]
									,[RefId]
									,[PromoPlanId]
									,[AllocationId]
									,[AllocationRefId]
									,[CategoryShortDesc]
									,[PrincipalShortDesc]
									,[BudgetMasterId]
									,[CategoryId]
									,[SubCategoryId]
									,[ActivityId]
									,[SubActivityId]
									,[ActivityDesc]
									,[StartPromo]
									,[EndPromo]
									,[Mechanisme1]
									,[Mechanisme2]
									,[Mechanisme3]
									,[Mechanisme4]
									,[Notes]
									,[Roi]
									,[CostRatio]
									,[NormalSales]
									,[IncrSales]
									,[TotSales]
									,[TotInvest]
									,[PrevRoi]
									,[PrevCostRatio]
									,[PrevNormalSales]
									,[PrevIncrSales]
									,[PrevTotSales]
									,[PrevTotInvest]
									,[Status]
									,[TsCoding]
									,[CreateOn]
									,[CreateBy]
									,[ModifiedOn]
									,[ModifiedBy]
									,[IsCancel]
								)
								SELECT
									@PromoId
									,[RefId]
									,[PromoPlanId]
									,[AllocationId]
									,[AllocationRefId]
									,[CategoryShortDesc]
									,[PrincipalShortDesc]
									,[BudgetMasterId]
									,[CategoryId]
									,[SubCategoryId]
									,[ActivityId]
									,[SubActivityId]
									,[ActivityDesc]
									,[StartPromo]
									,[EndPromo]
									,[Mechanisme1]
									,[Mechanisme2]
									,[Mechanisme3]
									,[Mechanisme4]
									,[Notes]
									,[Roi]
									,[CostRatio]
									,[NormalSales]
									,[IncrSales]
									,[NormalSales] + [IncrSales]
									,[Investment]
									,@PrevRoi
									,@PrevCostRatio
									,@PrevNormalSales
									,@PrevIncrSales
									,@PrevTotSales
									,@PrevTotInvest
									,'TP1'
									,[TsCoding]
									,[CreateOn]
									,[CreateBy]
									,[ModifiedOn]
									,[ModifiedBy]
									,0
								FROM tbtrx_promo WHERE Id=@PromoId
								/************************/

								/************************
								AMBIL ID REQUEST YANG BARU DI CREATE
								************************/
									SET @RequestId=(SELECT SCOPE_IDENTITY())
								/***********************/

								/****************************
								INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
								****************************/
								INSERT INTO [dbo].[tbtrx_promo_approval_recon]
									([RequestId]
									,[Sequence]
									,[UserApprover]
									,[Status]
									,[RequestDate]
									,[ActionDate]
									,[IsOnGoing]
									,UserApproverName
									,UserApproverEmail
									)
								SELECT @RequestId
									,SeqApproval
									,Approver
									,'TP1'
									,@utcDate123
									,@utcDate123
									,IIF(SeqApproval=1,1,0)
									,b.username
									,b.email
								FROM tbset_matrix_promo_approver a
								inner join tbset_user b on a.Approver=b.id
								WHERE ParentId=@matrixId
								/***********************************/


								--AMBIL ID REQUEST YANG BARU DI CREATE
								SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon WHERE ParentId=@Promoid and IsCancel=0)

								--UPDATE STATUS DI TABLE PROMO
								UPDATE tbtrx_promo
								SET
									StatusApprovalCodeRecon=tbmst_master_status.StatusCode
									,StatusApprovalRecon=tbmst_master_status.StatusDesc
									,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
									,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
									,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
									,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
								FROM tbtrx_promo
								inner join tbtrx_promo_request_approval_recon
								ON tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
								inner join tbtrx_promo_approval_recon ON RequestId=tbtrx_promo_request_approval_recon.Id
								inner join tbmst_master_status ON StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
								WHERE tbtrx_promo_request_approval_recon.IsCancel=0
								and tbtrx_promo_approval_recon.IsOnGoing=1
								AND RequestId=@p_reqid

							END
					END
				ELSE
					BEGIN
												
						IF @statusapproval='TP2' --JIKA PROMO SUDAH BERSTATUS APPROVE
							BEGIN
								/******************************************
								CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
								*******************************************/
--								insert into mytmp (f1, f2) values ('ActivityId', @ActivityId)
--								insert into mytmp (f1, f2) values ('SubActivityId', @SubActivityId)
--								insert into mytmp (f1, f2) values ('Startpromo', @Startpromo)
--								insert into mytmp (f1, f2) values ('EndPromo', @EndPromo)
--								insert into mytmp (f1, f2) values ('ActivityDesc', @ActivityDesc)
--								insert into mytmp (f1, f2) values ('Investment', @Investment)
--								insert into mytmp (f1, f2) values ('IncrSales', @IncrSales)
--								insert into mytmp (f1, f2) values ('roi', @roi)
--								insert into mytmp (f1, f2) values ('costratio', @costratio)
--								insert into mytmp (f1, f2) values ('AllocationId', @AllocationId)
--											
--								insert into mytmp (f1, f2, f3, f4) values ('channelOld', @channelOld, 'channelNew', @channelNew)
--								insert into mytmp (f1, f2, f3, f4) values ('subChannelOld', @subChannelOld, 'subChannelNew', @subChannelNew)
--								insert into mytmp (f1, f2, f3, f4) values ('accountOld', @accountOld, 'accountNew', @accountNew)
--								insert into mytmp (f1, f2, f3, f4) values ('subAccountOld', @subAccountOld, 'subAccountNew', @subAccountNew)
--								insert into mytmp (f1, f2, f3, f4) values ('regionOld', @regionOld, 'regionNew', @regionNew)
--								insert into mytmp (f1, f2, f3, f4) values ('brandOld', @brandOld, 'brandNew', @brandNew)
--								insert into mytmp (f1, f2, f3, f4) values ('skuOld', @skuOld, 'skuNew', @skuNew)
--								insert into mytmp (f1, f2, f3, f4) values ('MechanismOld', @MechanismOld, 'mechanismNew', @mechanismNew)
--								insert into mytmp (f1, f2, f3, f4) values ('initiatorNotesOld', @initiatorNotesOld, 'initiatorNotesNew', @initiatorNotesNew)
--								insert into mytmp (f1, f2, f3, f4) values ('attachmentOld', @attachmentOld, 'attachmentNew', @attachmentNew)
--								insert into mytmp (f1, f2, f3, f4) values ('distributorOld', @distributorOld, 'distributorNew', @distributorNew)
								
								UPDATE tpra
									SET tpra.ModifiedOn=GETDATE()
								FROM tbtrx_promo_request_approval_recon tpra
									CROSS JOIN tbset_major_changes tmc 
								WHERE ParentId=@PromoId
								-- select DC
								AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc='DC')

								AND iif(tmc.Activity = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
								AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
								AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
								AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
								AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
								AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @Investment, 0)
								AND iif(tmc.IncrSales = 1, tpra.IncrSales, 0) = iif(tmc.IncrSales = 1, @IncrSales, 0)
								AND iif(tmc.ROI = 1, tpra.Roi, 0) = iif(tmc.ROI = 1, @roi, 0)
								AND iif(tmc.CR = 1, tpra.CostRatio, 0) = iif(tmc.CR = 1, @costratio, 0)
								AND iif(tmc.BudgetSources = 1, tpra.AllocationId, 0) = iif(tmc.BudgetSources = 1, @AllocationId, 0)
							-- added 16Nov
								--AND iif(tmc.[BudgetSources]  = 1, tpra.BudgetMasterId, 0) = iif(tmc.[BudgetSources] = 1, (SELECT BudgetMasterId FROM @Promo), 0)
								--AND iif(tmc.[PromoPlan]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[PromoPlan] = 1, (SELECT PromoPlanId FROM @Promo), 0)
								--AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT SubCategoryId FROM @Promo), 0)

								AND ISNULL(IsCancel,0)=0

								SET @rowcount=@@ROWCOUNT
					--JIKA MAJOR CHANGES ATAU REQUEST BARU
							IF @rowcount = 0 
								OR (@channelOld <> @channelNew AND @sttChannel = 1) 
								OR (@subChannelOld <> @subChannelNew AND @sttSubChannel = 1) 
								OR (@accountOld <> @accountNew AND @sttAccount = 1) 
								OR (@subAccountOld <> @subAccountNew AND @sttSubAccount = 1) 
								OR (@regionOld <> @regionNew AND @sttRegion = 1) 
								OR (@brandOld <> @brandNew AND @sttBrand = 1) 
								OR (@skuOld <> @skuNew AND @sttSKU = 1) 
								OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
								OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
								OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
								OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)
				/**** End ISU #886 */			
								BEGIN
									SET @MajorChanges = 1;

									UPDATE [tbtrx_promo_request_approval_recon]
									SET IsCancel=1
									WHERE ParentId=@PromoId
									AND ISNULL(IsCancel,0)=0

									/****************************
									BUAT REQUEST APPROVAL BARU
									INSERT KE TABLE REQUEST APPROVAL
									****************************/
									INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
										([ParentId]
										,[RefId]
										,[PromoPlanId]
										,[AllocationId]
										,[AllocationRefId]
										,[CategoryShortDesc]
										,[PrincipalShortDesc]
										,[BudgetMasterId]
										,[CategoryId]
										,[SubCategoryId]
										,[ActivityId]
										,[SubActivityId]
										,[ActivityDesc]
										,[StartPromo]
										,[EndPromo]
										,[Mechanisme1]
										,[Mechanisme2]
										,[Mechanisme3]
										,[Mechanisme4]
										,[Notes]
										,[Roi]
										,[CostRatio]
										,[NormalSales]
										,[IncrSales]
										,[TotSales]
										,[TotInvest]
										,[PrevRoi]
										,[PrevCostRatio]
										,[PrevNormalSales]
										,[PrevIncrSales]
										,[PrevTotSales]
										,[PrevTotInvest]
										,[Status]
										,[TsCoding]
										,[CreateOn]
										,[CreateBy]
										,[ModifiedOn]
										,[ModifiedBy]
										,[IsCancel]
									)
									SELECT
										@PromoId
										,[RefId]
										,[PromoPlanId]
										,[AllocationId]
										,[AllocationRefId]
										,[CategoryShortDesc]
										,[PrincipalShortDesc]
										,[BudgetMasterId]
										,[CategoryId]
										,[SubCategoryId]
										,[ActivityId]
										,[SubActivityId]
										,[ActivityDesc]
										,[StartPromo]
										,[EndPromo]
										,[Mechanisme1]
										,[Mechanisme2]
										,[Mechanisme3]
										,[Mechanisme4]
										,[Notes]
										,[Roi]
										,[CostRatio]
										,[NormalSales]
										,[IncrSales]
										,[NormalSales] + [IncrSales]
										,[Investment]
										,@PrevRoi
										,@PrevCostRatio
										,@PrevNormalSales
										,@PrevIncrSales
										,@PrevTotSales
										,@PrevTotInvest
										,'TP1'
										,[TsCoding]
										,[CreateOn]
										,[CreateBy]
										,[ModifiedOn]
										,[ModifiedBy]
										,0
									FROM tbtrx_promo WHERE Id=@PromoId
									/************************/

									/************************
									AMBIL ID REQUEST YANG BARU DI CREATE
									************************/
									SET @RequestId=(SELECT SCOPE_IDENTITY())
									/***********************/

									/****************************
									INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
									****************************/
									INSERT INTO [dbo].[tbtrx_promo_approval_recon]
										(
											[RequestId]
											,[Sequence]
											,[UserApprover]
											,[Status]
											,[RequestDate]
											,[ActionDate]
											,[IsOnGoing]
											,UserApproverName
											,UserApproverEmail
										)
										SELECT @RequestId
											,SeqApproval
											,Approver
											,'TP1'
											,@utcDate123
											,@utcDate123
											,IIF(SeqApproval=1,1,0)
											,b.username
											,b.email
										FROM tbset_matrix_promo_approver a
										INNER JOIN tbset_user b on a.Approver=b.id
										WHERE ParentId=@matrixId
									/***********************************/

									--AMBIL ID REQUEST YANG BARU DI CREATE
									SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon WHERE ParentId=@Promoid and IsCancel=0)

									--UPDATE STATUS DI TABLE PROMO
									UPDATE tbtrx_promo
									SET
										StatusApprovalCodeRecon=tbmst_master_status.StatusCode
										,StatusApprovalRecon=tbmst_master_status.StatusDesc
										,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
										,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
										,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
										,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
										,matrixapprovalid = @matrixid
									FROM tbtrx_promo
									INNER JOIN tbtrx_promo_request_approval_recon ON tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
									INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
									INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
									WHERE tbtrx_promo_request_approval_recon.IsCancel=0
										AND tbtrx_promo_approval_recon.IsOnGoing=1
										AND RequestId=@p_reqid

								END
								ELSE
								----- jika tidak ada perubahan angka dan promo periode
									BEGIN
										SET @MajorChanges = 0;
										UPDATE A
											SET A.[Status]='TP1'
											,A.RequestDate=@utcDate123
											,A.ActionDate=@utcDate123
											FROM tbtrx_promo_approval_recon A
											LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
											WHERE ParentId=@PromoId AND IsCancel=0
											AND A.[Status]='TP3' and A.IsOnGoing=1

										UPDATE tbtrx_promo
											SET
											StatusApprovalCodeRecon=tbmst_master_status.StatusCode
											,StatusApprovalRecon=tbmst_master_status.StatusDesc
											,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
											,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
											,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
											,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
											,matrixapprovalid = @matrixid
											FROM tbtrx_promo
											INNER JOIN tbtrx_promo_request_approval_recon ON tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
											INNER JOIN tbtrx_promo_approval_recon ON RequestId=tbtrx_promo_request_approval_recon.Id
											INNER JOIN tbmst_master_status ON StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
											WHERE tbtrx_promo_request_approval_recon.IsCancel=0
											AND tbtrx_promo_approval_recon.IsOnGoing=1
											AND ParentId=@PromoId
									END


								/********************
								UPDATE BALANCE
								********************/

								DECLARE @reconcount int
								SET @reconcount=(SELECT COUNT(*) from tbtrx_promo_request_approval_recon WHERE ParentId=@Promoid)

								IF @reconcount > 1
									BEGIN
										UPDATE bal
											SET
											ReserveAmount=@Investment
											,UseAmount=UseAmount - X.TotInvest
											FROM tbtrx_allocation_balance bal
											INNER JOIN tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
											INNER JOIN
												(
													SELECT ParentId,TotInvest from tbtrx_promo_request_approval_recon WHERE Id IN
													(
														SELECT MAX(Id) Id
														FROM tbtrx_promo_request_approval_recon WHERE [IsCancel]=1 GROUP BY ParentId
													)
												) X ON X.ParentId=pr.Id
											where pr.Id=@Promoid
									END
								ELSE
									BEGIN
										UPDATE bal
										SET
											ReserveAmount=@Investment
											,UseAmount=UseAmount - X.TotInvest
											FROM tbtrx_allocation_balance bal
											inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
											INNER JOIN
											(
												SELECT ParentId,TotInvest from tbtrx_promo_request_approval WHERE Id IN
												(
													SELECT MAX(Id) Id
													FROM tbtrx_promo_request_approval WHERE [IsCancel]=1 GROUP BY ParentId
												)
											) X
											ON X.ParentId=pr.Id
											where pr.Id=@Promoid
									END
							END
						ELSE
							BEGIN
								/******************************************
								CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
								*******************************************/
				/* start ISU #886 */		
								UPDATE tpra
									SET tpra.ModifiedOn=@utcDate123
								FROM tbtrx_promo_request_approval tpra
									CROSS JOIN tbset_major_changes tmc 
								WHERE ParentId=@PromoId
								-- select DC
								AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc='DC')

								AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
								AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
								AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
								AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
								AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
								AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @Investment, 0)
								AND iif(tmc.IncrSales = 1, tpra.IncrSales, 0) = iif(tmc.IncrSales = 1, @IncrSales, 0)
								AND iif(tmc.ROI = 1, tpra.Roi, 0) = iif(tmc.ROI = 1, @roi, 0)
								AND iif(tmc.CR = 1, tpra.CostRatio, 0) = iif(tmc.CR = 1, @costratio, 0)
								AND iif(tmc.BudgetSources = 1, tpra.AllocationId, 0) = iif(tmc.BudgetSources = 1, @AllocationId, 0)
								-- added 16Nov
--								AND iif(tmc.[BudgetSources]  = 1, tpra.BudgetMasterId, 0) = iif(tmc.[BudgetSources] = 1, (SELECT BudgetMasterId FROM @Promo), 0)
								AND iif(tmc.[PromoPlan]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[PromoPlan] = 1, (SELECT PromoPlanId FROM @Promo), 0)
								AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT SubCategoryId FROM @Promo), 0)

								AND ISNULL(IsCancel,0)=0
					/*			
								-- 	and NormalSales=@NormalSales
								-- 	and IncrSales=@IncrSales
								AND Roi=@roi
								AND CostRatio=@costratio
								AND TotInvest=@Investment
								AND StartPromo=@StartPromo
								AND EndPromo=@EndPromo
								-- start #876
								AND ActivityId=@ActivityId
								AND SubActivityId=@SubActivityId
								-- end #876
					**** ISU #886 */
	
								set @rowcount=@@ROWCOUNT
				
								--JIKA MAJOR CHANGES ATAU REQUEST BARU
								if @rowcount = 0 
								OR (@channelOld <> @channelNew AND @sttChannel = 1) 
								OR (@subChannelOld <> @subChannelNew AND @sttSubChannel = 1) 
								OR (@accountOld <> @accountNew AND @sttAccount = 1) 
								OR (@subAccountOld <> @subAccountNew AND @sttSubAccount = 1) 
								OR (@regionOld <> @regionNew AND @sttRegion = 1) 
								OR (@brandOld <> @brandNew AND @sttBrand = 1) 
								OR (@skuOld <> @skuNew AND @sttSKU = 1) 
								OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
								OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
								OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
								OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)			
								
								/**** End ISU #886 */			

								begin
									SET @MajorChanges = 1;

									UPDATE [tbtrx_promo_request_approval]
									SET IsCancel=1
									WHERE ParentId=@PromoId
									AND ISNULL(IsCancel,0)=0

									/****************************
									BUAT REQUEST APPROVAL BARU
									INSERT KE TABLE REQUEST APPROVAL
									****************************/

									INSERT INTO [dbo].[tbtrx_promo_request_approval]
										([ParentId]
										,[RefId]
										,[PromoPlanId]
										,[AllocationId]
										,[AllocationRefId]
										,[CategoryShortDesc]
										,[PrincipalShortDesc]
										,[BudgetMasterId]
										,[CategoryId]
										,[SubCategoryId]
										,[ActivityId]
										,[SubActivityId]
										,[ActivityDesc]
										,[StartPromo]
										,[EndPromo]
										,[Mechanisme1]
										,[Mechanisme2]
										,[Mechanisme3]
										,[Mechanisme4]
										,[Notes]
										,[Roi]
										,[CostRatio]
										,[NormalSales]
										,[IncrSales]
										,[TotSales]
										,[TotInvest]
										,[PrevRoi]
										,[PrevCostRatio]
										,[PrevNormalSales]
										,[PrevIncrSales]
										,[PrevTotSales]
										,[PrevTotInvest]
										,[Status]
										,[TsCoding]
										,[CreateOn]
										,[CreateBy]
										,[ModifiedOn]
										,[ModifiedBy]
										,[IsCancel]
									)
									SELECT
										@PromoId
										,[RefId]
										,[PromoPlanId]
										,[AllocationId]
										,[AllocationRefId]
										,[CategoryShortDesc]
										,[PrincipalShortDesc]
										,[BudgetMasterId]
										,[CategoryId]
										,[SubCategoryId]
										,[ActivityId]
										,[SubActivityId]
										,[ActivityDesc]
										,[StartPromo]
										,[EndPromo]
										,[Mechanisme1]
										,[Mechanisme2]
										,[Mechanisme3]
										,[Mechanisme4]
										,[Notes]
										,[Roi]
										,[CostRatio]
										,[NormalSales]
										,[IncrSales]
										,[NormalSales] + [IncrSales]
										,[Investment]
										,@PrevRoi
										,@PrevCostRatio
										,@PrevNormalSales
										,@PrevIncrSales
										,@PrevTotSales
										,@PrevTotInvest
										,[StatusApprovalCode]
										,[TsCoding]
										,@utcDate123
										,@Initiator
										,[ModifiedOn]
										,[ModifiedBy]
										,0
									FROM tbtrx_promo WHERE Id=@PromoId
									/************************/

									/************************
									AMBIL ID REQUEST YANG BARU DI CREATE
									************************/
										SET @RequestId=(SELECT SCOPE_IDENTITY())
									/***********************/

									/****************************
									INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
									****************************/
									INSERT INTO [dbo].[tbtrx_promo_approval]
										([RequestId]
										,[Sequence]
										,[UserApprover]
										,[Status]
										,[RequestDate]
										,[ActionDate]
										,[IsOnGoing]
										)
									SELECT @RequestId
										,SeqApproval
										,Approver
										,'TP1'
										,@utcDate123
										,@utcDate123
										,IIF(SeqApproval=1,1,0)
									FROM tbset_matrix_promo_approver
									where ParentId=@matrixId
									/***********************************/

									--AMBIL ID REQUEST YANG BARU DI CREATE
									SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval WHERE ParentId=@Promoid and IsCancel=0)

									--UPDATE STATUS DI TABLE PROMO
									UPDATE tbtrx_promo
									SET
										StatusApprovalCode=tbmst_master_status.StatusCode
										,StatusApproval=tbmst_master_status.StatusDesc
										,Approver=tbtrx_promo_approval.UserApprover
										,ApproverName=tbtrx_promo_approval.UserApproverName
										,ApproveOn=tbtrx_promo_approval.ActionDate
										,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
										,matrixapprovalid = @matrixid
									from tbtrx_promo
									inner join tbtrx_promo_request_approval
									on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
									inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
									inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
									where tbtrx_promo_request_approval.IsCancel=0
									and tbtrx_promo_approval.IsOnGoing=1
									AND RequestId=@p_reqid

								end
								/********************
								UPDATE BALANCE
								********************/
								UPDATE bal
								SET ReserveAmount=(ReserveAmount - X.TotInvest) + @Investment
								FROM tbtrx_allocation_balance bal
								inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
								INNER JOIN
								(
									SELECT ParentId,TotInvest from tbtrx_promo_request_approval WHERE Id IN
									(
										SELECT MAX(Id) Id
										FROM tbtrx_promo_request_approval WHERE [IsCancel]=1 GROUP BY ParentId
									)
								) X
								ON X.ParentId=pr.Id
								where pr.Id=@Promoid

							END
					END

				SELECT @messageout=@PromoId

			IF @MajorChanges=1 OR NOT(@statusapproval='TP2' AND @statusapprovalrecon='')
				BEGIN
					IF NOT EXISTS
					(
						select 1 as bool
							,@PromoId as [Id]
							,@promorefid as [RefId]
							,200 as [statuscode]
							,a.Id [userid_initiator]
							,a.username [username_initiator]
							,a.email [email_initiator]
							,b.Id [userid_approver]
							,b.username [username_approver]
							,b.email [email_approver]
						FROM tbtrx_promo pr
						inner join tbset_user a on pr.CreateBy=a.Id
						inner join tbset_user b on pr.Approver=b.Id
						where pr.Id=@PromoId
					)
					BEGIN
						SET @messageout='email address initator or approver not found '
								RAISERROR (@messageout, -- Message text.
									16, -- Severity.
									1 -- State.
									);
					END
				END

				select 1 as bool
--					,@PromoId as [Id]
--					,@promorefid as [RefId]
					,pr.id as [Id]
					,pr.RefId  as [RefId]					
					,200 as [statuscode]
					,a.Id [userid_initiator]
					,a.username [username_initiator]
					,a.email [email_initiator]
					,b.Id [userid_approver]
					,b.username [username_approver]
					,b.email [email_approver]
					,IIF(@statusapproval='TP2',1,0) [IsFullyApproved]
					,@MajorChanges [major_changes]
				FROM tbtrx_promo pr
				inner join tbset_user a on pr.CreateBy=a.Id
				left join tbset_user b on pr.ApproverRecon=b.Id
				where pr.Id=@PromoId

			END

		/*RESET OVER BUDGET******************************/
		UPDATE dn
		SET IsOverBudget=IIF(ob.remaining >=0 ,0,1)
		FROM tbtrx_debetnote dn
		INNER JOIN
		(
			SELECT
			pr.Id PromoId,
			pr.RefId RefId,
			pr.Investment,
			dn.id DNId,
			dn.TotalClaim,
			SUM (ISNULL(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
		--	pr.Investment-SUM (ISNULL(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
		-- 	pr.Investment-SUM (ISNULL(dn.DPP,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
			pr.Investment-SUM ( IIF(ISNULL(dn.VATExpired,0)=0, ISNULL(dn.DPP,0), ISNULL(dn.DPP,0) + ISNULL(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
			from tbtrx_promo pr
			inner join  tbtrx_debetnote dn
			on pr.Id=dn.PromoId
			AND ISNULL(dn.IsCancel,0)=0
			AND pr.Id=@PromoId
		-- 	group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
		) ob ON dn.Id=ob.DNId

		/******************************/
		/*Create History**********************/
		INSERT INTO tbhis_promo_parent(
			StatusAction
			,ActionOn
			,ActionBy
			,CreatedEmail
		) VALUES (
			'update recon'
			,@utcDate123
			,@initiator
			,@useremail
		)
		SET @ParentId_his=(SELECT SCOPE_IDENTITY())

		INSERT INTO [tbhis_promo] (
			ParentId,
			Id,
			PromoPlanId,
			AllocationId,
			AllocationRefId,
			CategoryShortDesc,
			PrincipalShortDesc,
			BudgetMasterId,
			CategoryId,
			SubCategoryId,
			ActivityId,
			SubActivityId,
			ActivityDesc,
			StartPromo,
			EndPromo,
			Mechanisme1,
			Mechanisme2,
			Mechanisme3,
			Mechanisme4,
			Investment,
			NormalSales,
			IncrSales,
			Roi,
			CostRatio,
			StatusApprovalCode,
			StatusApproval,
			StatusApprovalCodeRecon,
			StatusApprovalRecon,
			Notes,
			IsActive,
			IsLocked,
			CreateOn,
			CreateBy,
			ModifiedOn,
			ModifiedBy,
			IsDelete,
			DeleteOn,
			DeleteBy,
			ApproveOn,
			ApproveOnRecon,
			Approver,
			ApproverRecon,
			ApprovalNotes,
			ApprovalNotesRecon,
			OldInvest,
			IsCancel,
			CancelOn,
			CancelBy,
			CancelNotes,
			IsCancelLocked,
			LastStatusRecon,
			LastStatus,
			TsCoding,
			PromoNumber,
			RefId,
			IsClose,
			CloseOn,
			CloseBy,
			Reconciled,
			ReconciledOn,
			ReconciledBy
			,CreatedEmail
			,matrixapprovalid
			,ModifReason
		)
		SELECT @ParentId_his,
			t.Id,
			t.PromoPlanId,
			t.AllocationId,
			t.AllocationRefId,
			t.CategoryShortDesc,
			t.PrincipalShortDesc,
			t.BudgetMasterId,
			t.CategoryId,
			t.SubCategoryId,
			t.ActivityId,
			t.SubActivityId,
			t.ActivityDesc,
			t.StartPromo,
			t.EndPromo,
			t.Mechanisme1,
			t.Mechanisme2,
			t.Mechanisme3,
			t.Mechanisme4,
			t.Investment,
			t.NormalSales,
			t.IncrSales,
			t.Roi,
			t.CostRatio,
			t.StatusApprovalCode,
			t.StatusApproval,
			t.StatusApprovalCodeRecon,
			t.StatusApprovalRecon,
			t.Notes,
			t.IsActive,
			t.IsLocked,
			t.CreateOn,
			t.CreateBy,
			t.ModifiedOn,
			t.ModifiedBy,
			t.IsDelete,
			t.DeleteOn,
			t.DeleteBy,
			t.ApproveOn,
			t.ApproveOnRecon,
			t.Approver,
			t.ApproverRecon,
			t.ApprovalNotes,
			t.ApprovalNotesRecon,
			t.OldInvest,
			t.IsCancel,
			t.CancelOn,
			t.CancelBy,
			t.CancelNotes,
			t.IsCancelLocked,
			t.LastStatusRecon,
			t.LastStatus,
			t.TsCoding,
			t.PromoNumber,
			t.RefId,
			t.IsClose,
			t.CloseOn,
			t.CloseBy,
			t.Reconciled,
			t.ReconciledOn,
			t.ReconciledBy
			,@useremail
			,@matrixid
			,t.ModifReason
		FROM tbtrx_promo t
		LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id
		LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId
		WHERE t.id = @PromoId

		INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
		SELECT @ParentId_his,@PromoId,t.Id from @DCRegion t inner join tbmst_region a on a.Id=t.Id

		INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId)
		SELECT @ParentId_his,@PromoId,t.Id from @Channel t inner join tbmst_channel a on a.Id=t.Id

		INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId)
		SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubChannel t inner join tbmst_subchannel a on a.Id=t.Id

		INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId)
		SELECT @ParentId_his,@PromoId,ParentId,t.Id from @Account t inner join tbmst_account a on a.Id=t.Id

		INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId)
		SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubAccount t inner join tbmst_subaccount a on a.Id=t.Id

		INSERT INTO tbhis_promo_brand(ParentId,PromoId,BrandId)
		SELECT DISTINCT @ParentId_his,@PromoId,t.Id from @DCBrand t inner join tbmst_brand a on a.Id=t.Id

		INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId)
		SELECT DISTINCT @ParentId_his,@PromoId,ParentId,t.Id from @DCSku t inner join tbmst_product a on a.Id=t.Id

		INSERT INTO tbhis_promo_doclink(ParentId,PromoId,DocLink,[FileName],CreateOn,Createby)
		SELECT @ParentId_his,@PromoId,DocLink,[Filename],@utcDate123,@initiator FROM tbtrx_promo_doclink where promoid = @PromoId
		
		INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
		SELECT @ParentId_his, @PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM @Mechanism			
	
		/*Create Promo Workflow Change********************************/
		IF @MechanismOld<>@mechanismNew
		BEGIN
			INSERT INTO tbtrx_promo_workflow_change (
				PromoId,
				Mechanism1Old,
				Mechanism1,
				CreatedOn,
				CreatedBy,
				CreatedByEmail,
				statusField,
				oldvalue,
				newvalue
			)
			VALUES(
				@promoid,
				@mechanismOld,
				@mechanismNew,
	--             (@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
				@utcDate123,
				@initiator,
				@useremail,
				'Mechanism',
				@mechanismOld,
				@mechanismNew
			)
		END

	COMMIT

	/*REFRESH DN OVER BUDGET***************************/
	EXEC ip_dn_overbudget_by_prommoid @PromoId
	
	/*Budget Recalculate balance***************************/
	IF @AllocationId<> @AllocationId_old
	BEGIN
		exec ip_recalculate_balance_by_id @AllocationId_old
	END
	
	EXEC ip_recalculate_balance_by_id @AllocationId

END TRY
	BEGIN CATCH
	ROLLBACK
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		RAISERROR (@ErrorMessage, -- Message text.
					@ErrorSeverity, -- Severity.
					@ErrorState -- State.
		);

	END CATCH
GO
