USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_insert]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_matrix_approval_insert]
@entityid int
,@distributorid int
,@subactivitytypeid int
,@channelid int
,@subchannelid int
,@initiator varchar(50)
,@mininvestment numeric(19,2)
,@maxinvestment numeric(19,2)
,@userid varchar(255)
,@useremail varchar(100)
,@categoryId int =NULL
,@matrix MatrixApproverType READONLY
AS
DECLARE @utcDate123 DATETIME,
		@periode varchar(4)
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
SET @periode=''
SET @categoryId = (SELECT IIF(@categoryId IS NULL, 3, @categoryId))

	DECLARE
		@matrixid int,
		@matrixidhis int,
		@messageout varchar(255)
		
	IF EXISTS (
		SELECT Id FROM tbset_matrix_promo_approval
		WHERE Periode=@periode
		AND PrincipalId=@entityid
		AND DistributorId=@distributorid
		AND SubActivityType=@subactivitytypeid
		AND ChannelId=@channelid
		AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@subchannelid)
		AND [Initiator]=@initiator
		AND MinInvestment = @mininvestment
		AND MaxInvestment = @maxinvestment
	)
	BEGIN 
		SET @messageout='Matrix Approval is exist'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
		RETURN;

	END
	INSERT INTO tbset_matrix_promo_approval(
		periode
		,PrincipalId
		,DistributorId
		,SubActivityType
		,ChannelId
		,Initiator
		,MinInvestment
		,MaxInvestment
		,SubChannelId
		,CreateOn
		,CreateBy
		,CreatedEmail
		,CategoryId
	)
	VALUES(
		@periode
		,@entityid
		,@distributorid
		,@subactivitytypeid
		,@channelid
		,@initiator
		,@mininvestment
		,@maxinvestment
		,@subchannelid
		,@utcDate123
--		,(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
		,@userid
		,@useremail
		,@categoryId
	);
	SET @matrixid=(SELECT SCOPE_IDENTITY());



	INSERT INTO tbset_matrix_promo_approver (parentid, SeqApproval, Approver, IsActive)
	SELECT 
		@matrixid
		,SeqApproval
		,Approver
		,1
	FROM @matrix;
	
	INSERT INTO tbhis_matrix_promo_approval (
		matrixid,
		Periode,
		RefId,
		PrincipalId,
		DistributorId,
		SubActivityType,
		ChannelId,
		SubChannelId,
		Initiator,
		MinInvestment,
		MaxInvestment,
		IsActive,
		ActionOn,
		ActionBy,
		ActionEmail,
		ActionStatus,
		CategoryId
	)
	SELECT 
		id
		,Periode
		,RefId
		,PrincipalId
		,DistributorId
		,SubActivityType
		,ChannelId
		,SubChannelId
		,Initiator
		,MinInvestment
		,MaxInvestment
		,IsActive
		,createon
		,createby
		,createdemail
		,'inserted'
		,CategoryId
	FROM tbset_matrix_promo_approval
	WHERE id = @matrixid;
	
	SET @matrixidhis=(SELECT SCOPE_IDENTITY());
	
	INSERT INTO dbo.tbhis_matrix_promo_approver (
		ParentId
		,matrixid
		,SeqApproval
		,Approver
		,IsActive
		,ActionOn
		,ActionBy
		,ActionEmail
		,ActionStatus	
	)
	SELECT 
		@matrixidhis 
		,@matrixid
		,SeqApproval
		,Approver
		,1
		,@utcDate123
--		,(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
		,@userid
		,@useremail
		,'inserted'
	FROM @matrix;

	-- Add to approval process, and return process id

	declare @processId int;

	INSERT INTO tbset_matrix_approval_process ([Date] ,[IsFinished] ,[UserProfile] ,[UserEmail])
	VALUES (@utcDate123, 0, @userid,@useremail);

	SET @processId = (SELECT SCOPE_IDENTITY());

	INSERT INTO tbset_matrix_approval_process_detail(ProcessId, MatrixPromoApprovalId) 
	VALUES (@processId, @matrixid);

	-- sent matrixid to API
	SELECT @matrixid matrixid;
END







GO
