

/****** Object:  StoredProcedure [dbo].[ip_recalculate_balance_by_id]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_recalculate_balance_by_id]
@budgetid int
AS

BEGIN TRY

/*
	SELECT
	bal.AllocationId,
	ReserveAmount,XX.act_reserve_amount,
	UseAmount,XX.act_use_amount
*/

UPDATE bal
SET ReserveAmount=XX.act_reserve_amount,
UseAmount=XX.act_use_amount
FROM tbtrx_allocation_balance bal
INNER JOIN
(
	SELECT
	AllocationId,
	SubCategoryId,
	InitialAmount,
	ReserveAmount bal_reserve_amount,
	SUM(IIF(StatusApprovalCode='TP2', 0, IIF(isnull(IsCancel,0)=0, IIF(isnull(IsClose,0)=1, 0, isnull(Investment,0)), 0))) act_reserve_amount,
	UseAmount bal_use_amount,
	SUM(IIF(StatusApprovalCode='TP2', IIF(isnull(IsCancel,0)=0, IIF(isnull(IsClose,0)=1, TotalClaim, Investment), 0), 0)) act_use_amount
	
--	SUM(IIF(StatusApprovalCode='TP2',0,IIF(isnull(IsCancel,0)=0 OR isnull(IsClose,0)=0,Investment,0))) act_reserve_amount,
--	UseAmount bal_use_amount,
-- 	SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0,Investment,0),0)) act_use_amount
--	SUM(IIF(StatusApprovalCode='TP2', IIF(isnull(IsCancel,0)=0,IIF(isnull(IsClose,0)=1, TotalClaim, Investment),0),0)) act_use_amount
	FROM
	(
	SELECT
	a.AllocationId,
	a.SubCategoryId,
	a.InitialAmount,
	a.ReserveAmount,
	a.UseAmount,
	b.RefId,
	b.Investment,
	b.StatusApprovalCode,
	isnull(b.IsCancel,0) IsCancel
	,b.IsClose
	,C.TotalClaim
	FROM tbtrx_allocation_balance a WITH (NOLOCK)
	LEFT JOIN tbtrx_promo b WITH (NOLOCK) on a.AllocationId=b.AllocationId AND a.SubCategoryId=b.SubCategoryId
	LEFT JOIN
    (
--         SELECT PromoId,SUM(TotalClaim) TotalClaim
        SELECT PromoId,SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) TotalClaim
        FROM tbtrx_debetnote A WITH (NOLOCK)
--        left join (
--	    	SELECT dnid
--	    		, SUM(isnull(dpp, 0)) dpp
--	    		, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
--	    	FROM tbtrx_creditnote
--	    	WHERE isnull(iscancel, 0) = 0
--	    	GROUP BY dnid
--	    ) tc ON a.id = tc.dnid	
        WHERE isnull(IsCancel,0)=0
        AND LastStatus='confirm_paid'
        GROUP BY PromoId
    ) C	on b.Id=C.PromoId
	WHERE IIF(@budgetid=0,0,a.AllocationId)=IIF(@budgetid=0,0,@budgetid)
		AND
		EXISTS
		(
			SELECT Id FROM vw_budget_last_layer xx WHERE xx.Id=a.AllocationId
		)
	) X
	GROUP BY
	AllocationId,
	SubCategoryId,
	InitialAmount,
	ReserveAmount,
	UseAmount


) XX on bal.AllocationId=XX.AllocationId AND bal.SubCategoryId=XX.SubCategoryId
WHERE IIF(@budgetid=0,0,bal.AllocationId)=IIF(@budgetid=0,0,@budgetid) AND (bal_reserve_amount <> act_reserve_amount OR bal_use_amount <> act_use_amount)



END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
