USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_pricecondition_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_pricecondition_list_dl]
as
BEGIN
	SELECT        
		Id
		,CategoryId
		,Category
		,SubCategoryId
		,SubCategory
		,ActivityId
		,Activity
		,PriceConditionForPayment
		,PriceConditionForAccrual
		,PriceConditionForAccrualReversal
		,CreateOn
		,CreateBy
		,CreateByName
		,ModifiedOn
		,ModifiedBy
		,ModifiedByName
		,IsDelete
		,DeleteOn
		,DeleteBy
		,DeleteByName

		, CreatedEmail
		, DeleteEmail
	FROM
		(
			SELECT        
				t.Id, 
				t.CategoryId, 
				c.LongDesc AS Category, 
				t.SubCategoryId, 
				sc.LongDesc AS SubCategory, 
				t.ActivityId, 
				a.LongDesc AS Activity, 
				t.PriceConditionForPayment, 
				t.PriceConditionForAccrual, 
				t.PriceConditionForAccrualReversal, 
				t.CreateOn,
				t.CreateBy, 
				uc.username AS CreateByName, 
				t.ModifiedOn, 
				t.ModifiedBy, 
				um.username AS ModifiedByName, 
				t.IsDelete, 
				t.DeleteOn, 
				t.DeleteBy, 
				ud.username AS DeleteByName

				, t.CreatedEmail
				, t.DeleteEmail
			FROM            
				tbset_mapping_pricecondition   t 
				INNER JOIN tbmst_activity      a   on t.ActivityId    = a.id
				INNER JOIN tbmst_subcategory   sc  ON t.SubCategoryId = sc.Id
				INNER JOIN tbmst_category      c   ON t.CategoryId    = c.Id
				LEFT JOIN tbset_user           uc  ON t.CreateBy      = uc.id
				LEFT JOIN tbset_user           um  ON t.ModifiedBy    = um.id
				LEFT JOIN tbset_user           ud  ON t.DeleteBy      = ud.id

			UNION ALL

			SELECT        
				t.ParentId    Id, 
				t.CategoryId, 
				c.LongDesc AS Category, 
				t.SubCategoryId, 
				sc.LongDesc AS SubCategory, 
				t.ActivityId, 
				a.LongDesc AS Activity, 
				t.PriceConditionForPayment, 
				t.PriceConditionForAccrual, 
				t.PriceConditionForAccrualReversal, 
				t.CreateOn,
				t.CreateBy, 
				uc.username AS CreateByName, 
				t.ModifiedOn, 
				t.ModifiedBy, 
				um.username AS ModifiedByName, 
				t.IsDelete, 
				t.DeleteOn, 
				t.DeleteBy, 
				ud.username AS DeleteByName

				, t.CreatedEmail
				, t.DeleteEmail
			FROM            
				tbhis_mapping_pricecondition   t 
				INNER JOIN tbmst_activity      a   on t.ActivityId    = a.id
				INNER JOIN tbmst_subcategory   sc  ON t.SubCategoryId = sc.Id
				INNER JOIN tbmst_category      c   ON t.CategoryId    = c.Id
				LEFT JOIN tbset_user           uc  ON t.CreateBy      = uc.id
				LEFT JOIN tbset_user           um  ON t.ModifiedBy    = um.id
				LEFT JOIN tbset_user           ud  ON t.DeleteBy      = ud.id

		) dl
END








GO
