

/****** Object:  StoredProcedure [dbo].[ip_get_subcategory_by_access]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_get_subcategory_by_access]
@userid varchar(50)
as
SELECT distinct d.Id Id,d.LongDesc,d.ShortDesc from tbtrx_allocation a with (nolock)
inner join tbtrx_allocation_useraccess b on a.Id=b.AllocationId
inner join tbtrx_allocation_detail c on a.Id=c.AllocationId
inner join tbmst_subcategory d on c.SubCategoryId=d.Id
where b.Userid=@userid
GO
