USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_report_p_req]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_report_p_req]

 @periode varchar(4),
 @entity int,
 @distributor int,
 @channel int,
 @account int,
 @userid varchar(50),

 @start int,
 @length int,
 @filter varchar(255),
 @txtSearch varchar(255)

AS
 
-- DECLARE
-- @periode varchar(4),
-- @entity int,
-- @distributor int,
-- @channel int,
-- @account int,
-- @userid varchar(50),

-- @start int,
-- @length int,
-- @filter varchar(255),
-- @txtSearch varchar(255)

--SET @periode ='2020'
--SET @entity =0
--SET @distributor =0
--SET @channel =0
--SET @account =0
--SET @userid ='admclho1'

--SET @start =1
--SET @length =10
--SET @filter =''
--SET @txtSearch =''--'visibility'

/*
 * EJ 2020-03-02 add total paid from total claim if laststaus="confirm_paid"
   LGP 2020-03-24 add DPP PPNAmt
   LGP 2020-03-31 add entity and distributor
   EDJ 20200-06-225 add AND isnull(k.IsCancel, 0) = 0
 */
BEGIN

        drop table if exists #temp_result1;
		drop table if exists #temp_result2;
		drop table if exists  #temp_account
		drop table if exists  #temp_channel
		drop table if exists  #temp_ponum_a
		drop table if exists  #temp_ponum

		DECLARE @recordsFiltered int;
		DECLARE @profitcenter varchar(10)


	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
/*XVA*account********************************************************/
		SELECT ta.id as AccountId, ta.LongDesc as AccountDesc,
			tsa.id as SubAccountId, tsa.LongDesc as SubAccountDesc
			into #temp_account
			FROM tbmst_subaccount tsa
			INNER JOIN tbmst_account ta ON tsa.AccountId = ta.id

/*XVA*channel********************************************************/
		SELECT tc.id as ChannelId, tc.LongDesc as ChannelDesc,
			tsc.id as SubChannelId, tsc.LongDesc as SubChannelDesc
			into #temp_channel
			FROM tbmst_subchannel tsc 
			INNER JOIN tbmst_channel tc ON tsc.ChannelId = tc.Id 

/*XVA*PONUMBER********************************************************/
	select a.Id,a.RefId, ISNULL(PONumber,'----')ponumber, x.id xmlid into #temp_ponum_a from tbtrx_debetnote a WITH (NOLOCK)
	left join
	(
		SELECT       PONumber AS RefID, PONumber, id
		FROM         tbxml_generate WITH (NOLOCK)
		WHERE        left(PONumber,3)= 'DN-'

		UNION ALL

		SELECT       dn.RefId, xml.PONumber, xml.id
		FROM
						tbxml_generate xml INNER JOIN
						tbtrx_invoice_header ih WITH (NOLOCK) ON xml.PONumber = ih.RefId INNER JOIN
						tbtrx_invoice_detail id WITH (NOLOCK) ON ih.Id = id.ParentId INNER JOIN
						tbtrx_debetnote dn WITH (NOLOCK) ON id.DNId = dn.Id
		WHERE        left(xml.PONumber,4) = 'INV/'

		UNION ALL

		SELECT       dn.RefId, xml.PONumber, xml.id
		FROM         tbtrx_debetnote dn WITH (NOLOCK) INNER JOIN tbxml_generate xml WITH (NOLOCK) ON RIGHT(dn.RefId, 8) = RIGHT(xml.PONumber, 8)
		WHERE        (NOT (left(xml.PONumber,4)='INV/' OR left(xml.PONumber,3)='DN-'))
	)x on a.refid=x.refid

	select distinct a.Id,a.RefId, ISNULL(PONumber,'----')ponumber into #temp_ponum from tbtrx_debetnote a WITH (NOLOCK)
	left join (
			select tpa.* from #temp_ponum_a tpa
			inner join (
				select RefId,MAX(xmlid) xmlid from #temp_ponum_a group by refid
				)tpag on tpa.RefId=tpag.RefId and tpa.xmlid=tpag.xmlid
		)b on a.RefId=b.RefId

	/*********************************************************XVA*/

	IF isnull(@profitcenter,'')='1100'
	BEGIN
			SELECT *
			INTO #temp_result1
			FROM
			(
				SELECT 
					'Debit Note' Category,
					a.Id dnurut,
					0 dnurut1,
					a.Id,
					a.RefId,
					'' dnkontra,
					isnull(a.PromoId,0) PromoId,
					a.PrincipalId EntityId,
					p.LongDesc EntityDesc,
					a.DistributorId,
					n.LongDesc DistributorDesc,
					isnull(b.RefId,'') PromoRefId,
					a.ActivityDesc,
					acc.AccountDesc Account,
					acc.SubAccountDesc SubAccount,
					f.LongDesc Sellingpoint,
					f.ProfitCenter,
					a.dpp DPP,
					a.PPnAmt,
					a.TotalClaim,
					IIF(a.LastStatus = 'confirm_paid', a.TotalClaim, 0) TotalPaid,
					a.PaymentDate,
					a.LastStatus,
					isnull(h.RefId,'') SuratPengantarCabang,
					isnull(j.RefId,'') SuratPengantarHO,
					l.[RefId] InvoiceNo,
					isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
					isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
					datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, getdate(), m.ready_to_invoice_on)) Aging,
					a.CreateOn,
					a.CreateBy,
					iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
					a.ModifiedBy,
					isnull(a.IsOverBudget,0) IsOverBudget,
					b.TsCoding,
					a.InternalOrderNumber,
					a.IsDNPromo,
					a.IntDocNo,
					a.MemDocNo,
					n.LongDesc DistributorName,
					a.FeeDesc,
					a.FeePct,
					a.FeeAmount
					,a.TaxLevel MaterialNumber
					,tmm.Description TaxLevel
					,a.Notes
					,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
					,m.received_by_danone_by
					,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
					,m.validate_by_finance_by
					,m.validate_by_finance_on
					,m.validate_by_sales_by
					,m.validate_by_sales_on
					,m.ready_to_invoice_by InvoiceNotifBy
					,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
					,m.invoice_by
					,m.invoice_on
					,m.confirm_paid_by
					,m.confirm_paid_on
					,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
					,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
					,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
					,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
					,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
					,a.PPHPct
					,a.PPHAmt
					,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
					,a.StatusSalesNotes
					,a.StatusSalesDistOn
					,usr.username validate_by_finance_by_username
					,a.FPNumber
					,a.FPDate
				    ,a.VATExpired
				    , tbl.ponumber
				    ,chn.ChannelDesc channel
				    ,iif(isnull(a.IsDNPromo,0)=1 and isnull(a.PromoId,0)=0, a.AssignBy, '---') PIC
				    ,m.send_to_danone_on
				from tbtrx_debetnote a WITH (NOLOCK)
	/*XVA*********************************************************/
				inner join #temp_ponum tbl on a.Id=tbl.id
	/*********************************************************XVA*/
				inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
	            INNER JOIN(
	                SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid
	            ) dis on a.DistributorId=dis.DistributorId
				inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
				left JOIN #temp_channel chn on a.SubChannelId=chn.SubChannelId
				LEFT JOIN #temp_account acc on a.accountid=acc.subaccountid
				LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
				LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber
				LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint) e on e.DNId=a.Id
				LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
				LEFT JOIN tbtrx_debetnote_sp_detail g on g.DnId=a.Id and isnull(g.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header h on g.ParentId=h.Id
				LEFT JOIN tbtrx_debetnote_sp_detail_ho i on i.DnId=a.Id and isnull(i.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header_ho j on i.ParentId=j.Id
				LEFT JOIN tbtrx_invoice_detail k on k.DnId=a.Id AND isnull(k.IsCancel, 0) = 0
				LEFT JOIN tbtrx_invoice_header l on l.id=k.Parentid
				LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
				LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id
	            WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
	            AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
	            AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
			    AND year(a.CreateOn)=@periode
			) dnreport
			order by dnreport.dnurut, dnreport.dnurut1


	        /**********************
	            start pagination
	        **********************/
	        IF @length = -1
	        BEGIN
	            IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result1
	                ORDER BY id ASC
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result1
	                WHERE
	                    (PromorefId like '%' + @txtSearch + '%') OR
	                    (refId like '%' + @txtSearch + '%') OR
	                    (EntityDesc like '%' + @txtSearch + '%') OR
	                    (DistributorDesc like '%' + @txtSearch + '%') OR
	                    (ActivityDesc like '%' + @txtSearch + '%') OR
	                    (IntDocNo like '%' + @txtSearch + '%') OR
	                    (MemDocNo like '%' + @txtSearch + '%')
	                ORDER BY Id ASC
	            END
	        END
	        ELSE
	        BEGIN
	            IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result1
	                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result1
	                WHERE
	                    (PromorefId like '%' + @txtSearch + '%') OR
	                    (refId like '%' + @txtSearch + '%') OR
	                    (EntityDesc like '%' + @txtSearch + '%') OR
	                    (DistributorDesc like '%' + @txtSearch + '%') OR
	                    (ActivityDesc like '%' + @txtSearch + '%') OR
	                    (IntDocNo like '%' + @txtSearch + '%') OR
	                    (MemDocNo like '%' + @txtSearch + '%')
	                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	        END
	        SET @recordsFiltered =
				(
				SELECT isnull(count(id),0)
				FROM #temp_result1
	            WHERE
	                    (PromorefId like '%' + @txtSearch + '%') OR
	                    (refId like '%' + @txtSearch + '%') OR
	                    (EntityDesc like '%' + @txtSearch + '%') OR
	                    (DistributorDesc like '%' + @txtSearch + '%') OR
	                    (ActivityDesc like '%' + @txtSearch + '%') OR
	                    (IntDocNo like '%' + @txtSearch + '%') OR
	                    (MemDocNo like '%' + @txtSearch + '%')
				)

	        SELECT isnull(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result1
	        drop table #temp_result1
	        /**********************
	            end pagination
	        **********************/
	END
	ELSE
	BEGIN
			SELECT *
			INTO #temp_result2
			FROM
			(
				SELECT
					'Debit Note' Category,
					a.Id dnurut,
					0 dnurut1,
					a.Id,
					a.RefId,
					'' dnkontra,
					isnull(a.PromoId,0) PromoId,
					a.PrincipalId EntityId,
					p.LongDesc EntityDesc,
					a.DistributorId,
					n.LongDesc DistributorDesc,
					isnull(b.RefId,'') PromoRefId,
					a.ActivityDesc,
					acc.AccountDesc Account,
					acc.SubAccountDesc SubAccount,
					f.LongDesc Sellingpoint,
					f.ProfitCenter,
					a.dpp DPP,
					--iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP,
					a.PPnAmt,
					a.TotalClaim,
			--        a.TotalPaid,
					IIF(a.LastStatus = 'confirm_paid', a.TotalClaim, 0) TotalPaid,
					a.PaymentDate,
					a.LastStatus,
					isnull(h.RefId,'') SuratPengantarCabang,
					isnull(j.RefId,'') SuratPengantarHO,
					l.[RefId] InvoiceNo,
					isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
					isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
					datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, getdate(), m.ready_to_invoice_on)) Aging,
			--        datediff(d,m.received_by_danone_on,m.ready_to_invoice_on) Aging,
					a.CreateOn,
					a.CreateBy,
					iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
					a.ModifiedBy,
					isnull(a.IsOverBudget,0) IsOverBudget,
					b.TsCoding,
					a.InternalOrderNumber,
					a.IsDNPromo,
					a.IntDocNo,
					a.MemDocNo,
					n.LongDesc DistributorName,
					a.FeeDesc,
					a.FeePct,
					a.FeeAmount
					,a.TaxLevel MaterialNumber
					,tmm.Description TaxLevel
					,a.Notes
					,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
					,m.received_by_danone_by
					,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
					,m.validate_by_finance_by
					,m.validate_by_finance_on
			-- 	    ,isnull(convert(varchar(50),m.validate_by_finance_on,120),'') validate_by_finance_on
					,m.validate_by_sales_by
					,m.validate_by_sales_on
					,m.ready_to_invoice_by InvoiceNotifBy
					,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
					,m.invoice_by
					,m.invoice_on
					,m.confirm_paid_by
					,m.confirm_paid_on
					,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
					,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
					,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
					,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
					,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
					,a.PPHPct
					,a.PPHAmt
					,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
					,a.StatusSalesNotes
					,a.StatusSalesDistOn
					,usr.username validate_by_finance_by_username
					,a.FPNumber
					,a.FPDate
				    ,a.VATExpired
				    , tbl.ponumber
				    ,chn.ChannelDesc channel
				    ,iif(isnull(a.IsDNPromo,0)=1 and isnull(a.PromoId,0)=0, a.AssignBy, '---') PIC
				from tbtrx_debetnote a WITH (NOLOCK)
	/*XVA*********************************************************/
				inner join #temp_ponum tbl on a.Id=tbl.id
	/*********************************************************XVA*/
				inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
	            INNER JOIN(
	                SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid
	            ) dis on a.DistributorId=dis.DistributorId
				inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
				left JOIN #temp_channel chn on a.SubChannelId=chn.SubChannelId
				LEFT JOIN #temp_account acc on a.accountid=acc.subaccountid
				LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
				LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber
				LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint) e on e.DNId=a.Id
				LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
				LEFT JOIN tbtrx_debetnote_sp_detail g on g.DnId=a.Id and isnull(g.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header h on g.ParentId=h.Id
				LEFT JOIN tbtrx_debetnote_sp_detail_ho i on i.DnId=a.Id and isnull(i.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header_ho j on i.ParentId=j.Id
				LEFT JOIN tbtrx_invoice_detail k on k.DnId=a.Id AND isnull(k.IsCancel, 0) = 0
				LEFT JOIN tbtrx_invoice_header l on l.id=k.Parentid
				LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
				LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id
	            WHERE a.AreaCode=@profitcenter
	            AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
	            AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
	            AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
			    AND year(a.CreateOn)=@periode
			) dnreport
			order by dnreport.dnurut, dnreport.dnurut1


	        /**********************
	            start pagination
	        **********************/
	        IF @length = -1
	        BEGIN
	            IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result2
	                ORDER BY id ASC
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result2
	                WHERE
	                    (PromorefId like '%' + @txtSearch + '%') OR
	                    (refId like '%' + @txtSearch + '%') OR
	                    (EntityDesc like '%' + @txtSearch + '%') OR
	                    (DistributorDesc like '%' + @txtSearch + '%') OR
	                    (ActivityDesc like '%' + @txtSearch + '%') OR
	                    (IntDocNo like '%' + @txtSearch + '%') OR
	                    (MemDocNo like '%' + @txtSearch + '%')
	                ORDER BY Id ASC
	            END
	        END
	        ELSE
	        BEGIN
	            IF @txtSearch is null
	            BEGIN
	                SELECT * FROM #temp_result2
	                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	            ELSE
	            BEGIN
	                SELECT * FROM #temp_result2
	                WHERE
	                    (PromorefId like '%' + @txtSearch + '%') OR
	                    (refId like '%' + @txtSearch + '%') OR
	                    (EntityDesc like '%' + @txtSearch + '%') OR
	                    (DistributorDesc like '%' + @txtSearch + '%') OR
	                    (ActivityDesc like '%' + @txtSearch + '%') OR
	                    (IntDocNo like '%' + @txtSearch + '%') OR
	                    (MemDocNo like '%' + @txtSearch + '%')
	                ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
	            END
	        END
	        SET @recordsFiltered =
				(
				SELECT isnull(count(id),0)
				FROM #temp_result2
	            WHERE
	                    (PromorefId like '%' + @txtSearch + '%') OR
	                    (refId like '%' + @txtSearch + '%') OR
	                    (EntityDesc like '%' + @txtSearch + '%') OR
	                    (DistributorDesc like '%' + @txtSearch + '%') OR
	                    (ActivityDesc like '%' + @txtSearch + '%') OR
	                    (IntDocNo like '%' + @txtSearch + '%') OR
	                    (MemDocNo like '%' + @txtSearch + '%')
				)

	        SELECT isnull(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result2
	        drop table #temp_result2
	        /**********************
	            end pagination
	        **********************/		
	END
	/*XVA*********************************************************/
		drop table if exists  #temp_account
		drop table if exists  #temp_channel
		drop table if exists  #temp_ponum_a
		drop table if exists  #temp_ponum
	/*********************************************************XVA*/	
END
GO
