USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dashboard_spend_new]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_spend_new] --'2020-01-01','kammidi',0,'0','0',0,'YTD'
--DECLARE
@periode datetime,
@userid varchar(50),
@entity int,
@channel varchar(10),
@account varchar(10),
@subcategory int,
@viewmode varchar(3)

as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--SET @userid='kamsat'
--SET @entity=0
--SET @channel='0'
--SET @account='0'
--SET @subcategory=0
--SET @viewmode='YTD'
--SET @periode='2020-01-01'


BEGIN

declare 
@startdate date
,@enddate date
,@year varchar(4)
,@subcategorydesc varchar(20)

SELECT @subcategorydesc=LongDesc from tbmst_subcategory where Id=@subcategory



SET @year=year(@periode)



if @viewmode='YTD'
	begin		
			set @startdate=(SELECT DATEFROMPARTS(@year, 1, 1))

			if year(@utcDate123)=@year
			begin
				set @enddate=@utcDate123
			end
			else
			begin
				set @enddate=(SELECT DATEFROMPARTS(@year, 12, 31))
			end
	end
	else
	begin

			set @startdate=(SELECT @periode-DAY(@periode)+1)
			set @enddate=EOMONTH(@periode)


	end

declare @alloc as table
(
	allocationid int
)

declare @temp2 as table
(
	allocationid int
)

insert into @alloc
select AllocationId from vw_budget_vs_user where Id=@userid

if not exists
(
	select * from @alloc
)
begin
	SELECT 
	'Undefined Category' SubCategory
	,0 BudgetDeployed
	,dbo.udf_Num_ToWord(0) budget_deployed
	,'0' as budget_spending 
	,dbo.udf_Num_ToWord(0) promo_created
	,0 promo_created_pct
	,0 promo_not_created_yet_pct
	,dbo.udf_Num_ToWord(0) dn_claim
	,dbo.udf_Num_ToWord(0) dn_paid	
	RETURN
end

if not exists
(
select 
IIF(@subcategory=0,'All Category',c.LongDesc) SubCategory
,dbo.udf_Num_ToWord(sum(isnull(g.BudgetAmount,0))) BudgetDeployed
from @alloc  a
inner join vw_budget_vs_entity b on a.Allocationid=b.AllocationId 
inner join vw_budget_vs_subcategory c on b.AllocationId=c.AllocationId
inner join vw_budget_vs_channel d on c.AllocationId=d.Alcid
left join vw_budget_vs_account e on d.AlcId=e.Alcid
inner join vw_budget_last_layer f on e.AlcId=f.Id
inner join tbtrx_allocation_detail g on f.Id=g.Allocationid
where IIF(@entity=0,0,@entity)=IIF(@entity=0,0,b.EntityId)
AND IIF(@subcategory=0,0,@subcategory)=IIF(@subcategory=0,0,c.Id)
AND IIF(@channel=0,0,@channel)=IIF(@channel=0,0,d.Id)
AND IIF(@account=0,0,@account)=IIF(@account=0,0,e.Id)
group by IIF(@subcategory=0,'All Category',c.LongDesc)
)
begin
	SELECT 
	IIF(@subcategory=0,'All Category',isnull(@subcategorydesc,'Undefined Category')) SubCategory
	,0 BudgetDeployed
	,dbo.udf_Num_ToWord(0) budget_deployed
	,'0' as budget_spending 
	,dbo.udf_Num_ToWord(0) promo_created
	,0 promo_created_pct
	,0 promo_not_created_yet_pct
	,dbo.udf_Num_ToWord(0) dn_claim
	,dbo.udf_Num_ToWord(0) dn_paid	
	RETURN
end

SELECT 
SubCategory
,dbo.udf_Num_ToWord(sum(isnull(IIF(rn_budget=1,BudgetDeployed,0),0))) budget_deployed
,'0' as budget_spending
,dbo.udf_Num_ToWord(sum(isnull(IIF(rn_promo=1,PromoCreated,0),0))) promo_created
,IIF(sum(isnull(IIF(rn_budget=1,BudgetDeployed,0),0)) =0,0,ROUND((sum(isnull(IIF(rn_promo=1,PromoCreated,0),0)) / cast(sum(isnull(IIF(rn_budget=1,BudgetDeployed,0),0)) as float)) * 100,0)) promo_created_pct
,IIF(sum(isnull(IIF(rn_budget=1,BudgetDeployed,0),0)) =0,0,ROUND(((sum(isnull(IIF(rn_budget=1,BudgetDeployed,0),0))-sum(isnull(IIF(rn_promo=1,PromoCreated,0),0)) ) / cast(sum(isnull(IIF(rn_budget=1,BudgetDeployed,0),0)) as FLOAT)) * 100,2)) promo_not_created_yet_pct
,dbo.udf_Num_ToWord(sum(isnull(DNClaimed,0))) dn_claim
,dbo.udf_Num_ToWord(sum(isnull(DNPaid,0))) dn_paid
FROM
(
select 
IIF(@subcategory=0,'All Category',isnull(@subcategorydesc,'Undefined Category')) SubCategory
,g.AllocationId
,g.SubCategoryId
,isnull(g.BudgetAmount,0) BudgetDeployed
,ROW_NUMBER() OVER(PARTITION BY g.AllocationId ORDER BY g.AllocationId) rn_budget
,'0' as budget_spending 
,isnull(pr.Id,'') PromoId
,isnull(pr.investment,0) PromoCreated
,ROW_NUMBER() OVER(PARTITION BY g.AllocationId,pr.Id ORDER BY pr.Id) rn_promo
,isnull(dn.Id,0) DNId
,isnull(dn.TotalClaim,0) DNClaimed
,isnull(dn.TotalPaid,0) DNPaid
from @alloc  a
inner join vw_budget_vs_entity b on a.Allocationid=b.AllocationId 
inner join vw_budget_vs_subcategory c on b.AllocationId=c.AllocationId
inner join vw_budget_vs_channel d on c.AllocationId=d.Alcid
left join vw_budget_vs_account e on d.AlcId=e.Alcid
inner join vw_budget_last_layer f on e.AlcId=f.Id
inner join tbtrx_allocation_detail g on f.Id=g.Allocationid
left join tbtrx_promo pr on g.AllocationId=pr.AllocationId and g.SubCategoryId=pr.SubCategoryId
AND NOT (convert(varchar(10),StartPromo,120) > @enddate OR  convert(varchar(10),EndPromo,120) < @startdate)
AND isnull(IsCancel,0)=0
left join tbtrx_debetnote dn on dn.PromoId=pr.Id
where IIF(@entity=0,0,@entity)=IIF(@entity=0,0,b.EntityId)
AND IIF(@subcategory=0,0,@subcategory)=IIF(@subcategory=0,0,c.Id)
AND IIF(@channel=0,0,@channel)=IIF(@channel=0,0,d.Id)
AND IIF(@account=0,0,@account)=IIF(@account=0,0,e.Id)
) dashboard
group by SubCategory




end











GO
