

/****** Object:  StoredProcedure [dbo].[ip_get_channel_by_access]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_get_channel_by_access]
@userid varchar(50)
as
SELECT distinct c.ChannelId Id,d.LongDesc,d.ShortDesc from tbtrx_allocation a with (nolock)
INNER JOIN tbtrx_allocation_useraccess b with (nolock) on a.Id=AllocationId
inner join tbtrx_allocation_channel c with (nolock) on a.Id=c.AllocationId
inner join tbmst_channel d with (nolock) on c.ChannelId=d.Id
where b.Userid=@userid

GO
