

/****** Object:  StoredProcedure [dbo].[ip_import_budget_attribute]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_budget_attribute]
@Account ImportAccountType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN


/***********
DELETE DETAIL CHANNEL
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_channel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc


	DELETE ac 
	FROM 
	tbtrx_allocation_subchannel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_channel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subchannel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc


	DELETE ac 
	FROM 
	tbtrx_allocation_account ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subaccount ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_account ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subaccount ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc


/*****************
END DELETE DETAIL CHANNEL
*****************/

/**************************
INSERT CHANNEL
***************************/

INSERT INTO tbtrx_allocation_channel(AllocationId,ChannelId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,ChannelId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,ChannelId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.ChannelId
--,acc.SubChannelId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Derivative, Accounts
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
	[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]

   FROM @Account) p  
UNPIVOT  
   (Accounts FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
		[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
	  )  
)AS unpvt
)x 
INNER JOIN vw_account acc on acc.AccountDesc=Accounts
INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

group by 

Id
,ChannelId
--,SubChannelId
--,AccountId
--,SubAccountId 
) XXX


UNION ALL

SELECT 
Id
,ChannelId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.ChannelId
--,acc.SubChannelId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Allocation, Accounts
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
	[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
   FROM @Account) p  
UNPIVOT  
   (Accounts FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
		[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
	  )  
)AS unpvt
)x 
INNER JOIN vw_account acc on acc.AccountDesc=Accounts
INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
group by 
Id
,ChannelId
--,SubChannelId
--,AccountId
--,SubAccountId 
) XXX
)XXXX


/********************
END INSERT CHANNEL
********************/

/******************
INSERT SUB CHANNEL
*******************/
INSERT INTO tbtrx_allocation_subchannel(AllocationId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,ChannelId,SubChannelId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.ChannelId,acc.SubChannelId
					--,acc.AccountId
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							   FROM @Account) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
									[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
									[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_account acc on acc.AccountDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,ChannelId
					,SubChannelId
					--,AccountId
					--,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,ChannelId,SubChannelId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.ChannelId
				,acc.SubChannelId
				--,acc.AccountId
				--,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
							[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
							[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
						   FROM @Account) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_account acc on acc.AccountDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,ChannelId
				,SubChannelId
				--,AccountId
				--,SubAccountId 
		) XXX
)XXXX




/******************
INSERT ACCOUNT
*******************/
INSERT INTO tbtrx_allocation_account(AllocationId,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,ChannelId,SubChannelId,AccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.ChannelId,acc.SubChannelId,acc.AccountId	
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							   FROM @Account) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
									[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
									[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_account acc on acc.AccountDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,ChannelId
					,SubChannelId
					,AccountId
					--,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,ChannelId,SubChannelId,AccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.ChannelId
				,acc.SubChannelId
				,acc.AccountId
				--,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
							[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
							[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
						   FROM @Account) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_account acc on acc.AccountDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,ChannelId
				,SubChannelId
				,AccountId
				--,SubAccountId 
		) XXX
)XXXX



/******************
INSERT SUB ACCOUNT
*******************/
INSERT INTO tbtrx_allocation_subaccount(AllocationId,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,ChannelId,SubChannelId,AccountId,SubAccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.ChannelId,acc.SubChannelId,acc.AccountId,acc.SubAccountId
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							   FROM @Account) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
									[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
									[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_account acc on acc.AccountDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,ChannelId
					,SubChannelId
					,AccountId
					,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,ChannelId,SubChannelId,AccountId,SubAccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.ChannelId
				,acc.SubChannelId
				,acc.AccountId
				,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
							[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
							[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
						   FROM @Account) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_account acc on acc.AccountDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,ChannelId
				,SubChannelId
				,AccountId
				,SubAccountId 
		) XXX
)XXXX



END
GO
