

/****** Object:  StoredProcedure [dbo].[ip_promo_submission_list_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_submission_list_p] --'2020'
 @periode varchar(4)
,@entity int
,@distributor int 
,@channel int
,@userid varchar(50)
,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)


--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int 
--,@channel int
--,@userid varchar(50)
--,@start int
--,@length int
--,@filter varchar(255)
--,@txtSearch varchar(255)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor = 0
--SET @channel = 0
--SET @userid ='admin'

--SET @start =1
--SET @length =-1
--SET @filter =''
--SET @txtSearch =''

AS

BEGIN
	--SET @order = IIF(ISNULL(@order,'')='','RefId', @order)
	--SET @start = @start * @length

/****************************/
    DROP TABLE IF EXISTS #temp_promo;
    DECLARE @recordsFiltered int;
	SET @userid = 'admin'
    select
        pr.StartPromo
        , pr.EndPromo
        , pr.CreateOn
        , pr.CreateBy
        , pr.ModifiedOn
        , pr.RefId
        ,IIF(pr.CategoryId<>3,'---', pr.ActivityDesc) [ActivityDesc]
        ,mechanism.mechanism Mechanisme1        
        , pr.Mechanisme2
        , pr.Mechanisme3
        , pr.Mechanisme4
        , pr.IsCancel
        , pr.CancelBy
        , pr.CancelOn
        , pr.CancelByName
        , pr.StatusApprovalCode
        , pr.LastStatus
        , pr.ApproveOn
        , pr.ApprovalNotes
        , pr.ApproverName
        ,IIF(pr.CategoryId<>3,0, pr.NormalSales) [NormalSales]
        ,IIF(pr.CategoryId<>3,0, pr.IncrSales) [IncrSales]
        , pr.Investment
        ,IIF(pr.CategoryId<>3,0, pr.CostRatio) [CostRatio]
        ,IIF(pr.CategoryId<>3, '---', pr.TsCoding) [TsCoding]
        , pr.IsClose
        , pr.AllocationId
        , pr.SubCategoryId
        , pr.Approver
        , pr.ActivityId
        , pr.SubActivityId
        , pr.Id
        ,IIF(pr.CategoryId<>3,0, pr.PromoPlanId) [PromoPlanId]
        , pr.Reconciled
        , pr.ReconciledOn
        , pr.StatusApprovalCodeRecon
        , pr.LastStatusRecon
        , pr.ApproverRecon
        , pr.ApproveOnRecon
        , pr.ApproverReconName
        , tpa.ActionDate
        , tpa.RequestDate
        , tpar.ActionDate ActionDateRecon
        , tpar.RequestDate RequestDateRecon
        , r.CancelReason
        ,IIF(pr.CategoryId<>3,0, IIF(isnull(pr.actual_sales, 0)=0, isnull(baseline.asales,0), isnull(pr.actual_sales, 0))) [actual_sales]
        , pr.initiator_notes
        ,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
        ,IIF(isnull(note.Notes,'')='', null, CONCAT(convert(varchar, note.ActionDate, 105), ' ', convert(varchar, note.ActionDate, 108)) ) sendback_notes_date
        ,pr.InvestmentTypeId
        ,pr.late_submission_day 
        ,sttc.Reason 
        ,sttc.PromoId 
        into #temp_promo
		FROM tbtrx_promo pr
	    INNER JOIN
	    (
	        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
	            GROUP BY a.PromoId
	    ) mechanism ON pr.Id = mechanism.PromoId   			
        LEFT JOIN tbtrx_promo_cancel_request r on r.PromoId=pr.Id and isnull(r.IsCancel,0)=0
        inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
        INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
        LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND isnull(tprar.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
        LEFT JOIN tbhlp_baseline_promo baseline on pr.id=baseline.id
        left join vw_promo_sendback_notes_last note on pr.id=note.ParentId --and pr.Approver=note.UserApprover
        inner join tbtrx_promo_submission_static sttc on pr.id=sttc.promoid
        WHERE left(sttc.period, 4) = @periode

    /****************************/
    /****************************/

    DROP TABLE IF EXISTS #tmp_channel
    DROP TABLE IF EXISTS #tmp_subchannel
    DROP TABLE IF EXISTS #tmp_region
    DROP TABLE IF EXISTS #tmp_account
    DROP TABLE IF EXISTS #tmp_subaccount
    DROP TABLE IF EXISTS #tmp_brand
    DROP TABLE IF EXISTS #tmp_sku
    DROP TABLE IF EXISTS #tmp_dn

    SELECT 
    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) TotalPaid
    into #tmp_dn					
    	FROM tbtrx_debetnote a
  INNER JOIN #temp_promo pr on a.PromoId=pr.Id
        AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
        AND isnull(a.IsCancel, 0) = 0
        AND isnull(a.IsDNPromo,0)=1
        GROUP BY a.PromoId

    /****************************/
    /****************************/
    declare @endofmonth date,@closingdtx date, @submission_day int;
   
   	set @submission_day = (select daysfrom  from tbset_config_reminder tcr where id=502)

    set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

    drop table if exists #temp_result;
    SELECT
        p.LongDesc Entity
        ,d.LongDesc Distributor
        ,p.LongDesc PrincipalDesc
        ,c.LongDesc BudgetSource
        ,pr.CreateBy [Initiator]
        ,pr.CreateOn [CreateOn]
        ,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
        ,pr.RefId [PromoNumber]
		,IIF(cat.shortdesc='DC','---', sctg.LongDesc) [SubCategory]
		,IIF(cat.shortdesc='DC','---', act.LongDesc) [Activity]
        ,sact.LongDesc [SubActivity]
        ,IIF(cat.shortdesc='DC','---', pr.ActivityDesc) [ActivityDesc]
        , isnull(mechanism.mechanism, '') Mechanisme1
        ,isnull(pr.Mechanisme2,'') Mechanisme2
        ,isnull(pr.Mechanisme3,'') Mechanisme3
        ,isnull(pr.Mechanisme4,'') Mechanisme4
        ,IIF(cat.shortdesc='DC','---', region.RegionDesc) [RegionDesc]
        ,channel.ChannelDesc
		,IIF(cat.shortdesc='DC','---', subchannel.SubChannelDesc) [SubChannelDesc]
		,IIF(cat.shortdesc='DC','---', account.AccountDesc) [AccountDesc]
		,IIF(cat.shortdesc='DC','---', subaccount.SubAccountDesc) [SubAccountDesc]
        ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(pr.ApproverName as varchar) ))) LastStatus
        ,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.ActionDate as varchar), CAST(pr.RequestDate as varchar)))) LastStatusDate
        ,pr.ApprovalNotes
        ,IIF(cat.shortdesc='DC', 0, pr.NormalSales + pr.IncrSales) [Target]
        ,pr.Investment
        ,IIF(cat.shortdesc='DC', 0, pr.NormalSales) [NormalSales]
        ,IIF(cat.shortdesc='DC', 0, pr.IncrSales) [IncrSales]
		,IIF(cat.shortdesc='DC', 0, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment)) [Roi]
        ,IIF(cat.shortdesc='DC', 0, pr.CostRatio) [CostRatio]
        ,TotalClaim DnClaim
        ,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
        ,TotalPaid DnPaid
        ,pr.StartPromo
        ,pr.EndPromo
        ,@submission_day Gap
        ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_day,0,1) OnTime
        ,IIF(cat.shortdesc='DC','---', pr.TsCoding) [TsCoding]
        ,brand.BrandDesc
        ,IIF(cat.shortdesc='DC','---', sku.SKUDesc) [SKUDesc]
        ,IIF(cat.shortdesc='DC', 0, isnull(tpp.id, 0)) [PromoPlanId]
        ,IIF(cat.shortdesc='DC', '---', isnull(tpp.RefId, '')) [PromoPlanRefId]
        ,isnull(pr.IsClose, 0) as ClosureStatus
        ,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
        ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(pr.ApproverReconName as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.ActionDateRecon as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.RequestDateRecon as varchar) ))) LastReconStatus
        , tst.Id SubactivityTypeId
        , tst.RefId SubactivityTypeRefId
        , tst.LongDesc SubactivityType
        ,pr.CancelReason
        ,IIF(cat.shortdesc='DC', 0, pr.actual_sales) [actual_sales]
        , pr.initiator_notes
        ,pr.sendback_notes
        ,pr.sendback_notes_date
        ,isnull(tmit.InvestmentTypeId,'-') InvestmentTypeId
	    ,isnull(tit2.RefId,'----') InvestmentTypeRefId
	    ,isnull(tit2.LongDesc,'----') InvestmentTypeDesc
	    ,isnull(pr.InvestmentTypeId,'-') InvestmentTypeId_promo
	    ,isnull(tit.RefId,'----') InvestmentTypeRefId_promo
	    ,isnull(tit.LongDesc,'----') InvestmentTypeDesc_promo
	    ,isnull(pr.Reason,'') Reason
        INTO #temp_result
        FROM #temp_promo pr
        INNER JOIN tbtrx_promo_submission_static sttc on pr.id=sttc.promoid
        inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
        inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
        inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
        inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
        inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
        inner join tbmst_category cat on sctg.CategoryId=cat.id
        inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
        inner join tbmst_activity act on pr.ActivityId=act.id
        inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
        inner join tbmst_subactivity_type tst on sact.SubActivityTypeId = tst.id
        left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id --and isnull(tit.IsDeleted,0)=0
	    left join tbset_map_investment_type tmit on pr.SubActivityId=tmit.SubactivityId and isnull(tmit.IsDeleted,0)=0
	    left join tbmst_investment_type tit2 on tmit.InvestmentTypeId=tit2.id and isnull(tit2.IsDeleted,0)=0
	    INNER JOIN
	    (
	        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
	            GROUP BY a.PromoId
	    ) mechanism ON pr.Id = mechanism.PromoId   			
        inner join
        (
            select a.PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
                    from tbtrx_promo_channel a with (nolock)
                    INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                    INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
			   WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
                GROUP BY a.PromoId
        ) channel
        on pr.Id = channel.PromoId
        inner join
        (
            select a.PromoId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
                        from tbtrx_promo_subchannel a with (nolock)
                        INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
                     INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) subchannel
        on pr.Id = subchannel.PromoId
        inner join
        (
            select a.PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
 from tbtrx_promo_account a with (nolock)
                        INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
                        INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) account
        on pr.Id = account.PromoId
        inner join
        (
            select a.PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
                        from tbtrx_promo_subaccount a with (nolock)
                        INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                        INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) subaccount
        on pr.Id = subaccount.PromoId
		inner join tbhlp_promo_region region on pr.Id = region.PromoId
		inner join tbhlp_promo_brand brand on pr.Id = brand.PromoId
		inner join tbhlp_promo_product sku on pr.Id = sku.PromoId
        left join #tmp_dn dn on pr.Id=dn.PromoId
        LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
        WHERE
        IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

        /**********************
            start pagination
         **********************/
        IF @length = -1
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC
                END
                ELSE
                BEGIN
	               SELECT * FROM #temp_result
	                    WHERE
				            (isNull(Entity,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(Distributor,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(PrincipalDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(BudgetSource,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull([PromoNumber],'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SubCategory,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(Activity,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SubActivity,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(ActivityDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(Mechanisme1,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(Mechanisme2,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(Mechanisme3,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(Mechanisme4,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(RegionDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(ChannelDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SubChannelDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(AccountDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SubAccountDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(LastStatus,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(ApprovalNotes,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(BrandDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SKUDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(PromoPlanRefId,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(ReconStatus,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SubactivityTypeRefId,'') like '%' + isnull(@txtSearch,'') + '%') OR
				            (isNull(SubactivityType,'') like '%' + isnull(@txtSearch,'') + '%')
	                    ORDER BY PromoNumber ASC
                END
			        SET @recordsFiltered = (SELECT isnull(count( [PromoNumber]),0) FROM #temp_result
			        WHERE
			            (isNull(Entity,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Distributor,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(PrincipalDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(BudgetSource,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull([PromoNumber],'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubCategory,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Activity,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubActivity,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ActivityDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme1,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme2,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme3,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme4,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(RegionDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ChannelDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubChannelDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(AccountDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubAccountDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(LastStatus,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ApprovalNotes,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(BrandDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SKUDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(PromoPlanRefId,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ReconStatus,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubactivityTypeRefId,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubactivityType,'') like '%' + isnull(@txtSearch,'') + '%')
			        )
                
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
                ELSE
                BEGIN
                    SELECT * FROM #temp_result
                    WHERE
			            (isNull(Entity,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Distributor,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(PrincipalDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(BudgetSource,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull([PromoNumber],'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubCategory,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Activity,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubActivity,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ActivityDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme1,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme2,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme3,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(Mechanisme4,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(RegionDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ChannelDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubChannelDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(AccountDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubAccountDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(LastStatus,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ApprovalNotes,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(BrandDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SKUDesc,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(PromoPlanRefId,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(ReconStatus,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubactivityTypeRefId,'') like '%' + isnull(@txtSearch,'') + '%') OR
			            (isNull(SubactivityType,'') like '%' + isnull(@txtSearch,'') + '%')
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END 
    			SELECT @recordsFiltered = @@ROWCOUNT		    			        
			END

        SELECT isnull(count(PromoNumber),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        drop table #temp_result
        /**********************
            end pagination
         **********************/
    /****************************/
    DROP TABLE IF EXISTS #temp_promo
    DROP TABLE IF EXISTS #tmp_channel
    DROP TABLE IF EXISTS #tmp_subchannel
    DROP TABLE IF EXISTS #tmp_region
    DROP TABLE IF EXISTS #tmp_account
    DROP TABLE IF EXISTS #tmp_subaccount
    DROP TABLE IF EXISTS #tmp_brand
    DROP TABLE IF EXISTS #tmp_sku
    DROP TABLE IF EXISTS #tmp_dn
    /****************************/

END
GO
