

/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_mechanism_get]
	@entityid int,
	@subcategoryid int,
	@activityid int,
	@subactivityid int,
	@productid int,
	@channelid int,
	@startdate date,
	@enddate date,
	@brandid int = 0
AS

/*TEST*/

--{"entityId":"2","subCategoryId":0,"activityId":"733","subActivityId":"1186","skuId":0,"channelId":"6","startDate":"2025-01-01","endDate":"2025-12-31"}
	--DECLARE
	--	@entityid int
	--	,	@subcategoryid int
	--	,	@activityid int
	--	,	@subactivityid int
	--	,	@productid int
	--	,	@channelid int
	--	,	@startdate date
	--	,	@enddate date	

	--	SET @entityid = 2
	--	SET @subcategoryid = 0
	--	SET @activityid = 733
	--	SET @subactivityid = 1186
	--	SET @productid = 0
	--	SET @channelid = 6
	--	SET @startdate = '2025-01-01'
	--	SET @enddate = '2025-12-31'

	----	EXEC ip_mst_mechanism_get
	----			@entityid ,
	----			@subcategoryid ,
	----			@activityid ,
	----			@subactivityid ,
	----			@productid ,
	----			@channelid ,
	----			@startdate ,
	----			@enddate 

BEGIN
--	truncate table mytmp 
--	INSERT INTO mytmp (f1,f2) values 
--		('entityid', @entityid)
--		,('subcategoryid', @subcategoryid)
--		,('activityid', @activityid)
--		,('subactivityid', @subactivityid)
--		,('productid', @productid)
--		,('channelid', @channelid)
		

	DECLARE 
		@entity varchar(255)
		, @subcategory varchar(255)
		, @activity varchar(255)
		, @subactivity varchar(255)
		, @product varchar(255)
		, @channel varchar(255)
		, @mechanismliststatus bit = 0
		
/*CHECK MECHANISM INPUT METHOD Based on sub activity*/
	SET @mechanismliststatus = 0
	IF (select COUNT(*) from tbset_promo_mechanism_input_method where subactivityid=@subactivityid AND inputmethod=1)>0
		BEGIN
			SET @mechanismliststatus = 1
		END
/**/

	IF @mechanismliststatus = 1 
		BEGIN
			SET @entity = (SELECT LongDesc FROM tbmst_principal WHERE id=@entityid)
			SET @subcategory = (SELECT LongDesc FROM tbmst_subcategory WHERE id=@subcategoryid)
			SET @activity = (SELECT LongDesc FROM tbmst_activity WHERE id=@activityid)
			SET @subactivity = (SELECT LongDesc FROM tbmst_subactivity WHERE id=@subactivityid)
			SET @channel = (SELECT LongDesc FROM tbmst_channel WHERE id=@channelid)	
			
			IF EXISTS (
					SELECT id FROM tbmst_mechanism m
						WHERE isnull(m.IsDelete, 0)=0
						AND  m.StartDate <=  @startdate
						AND m.EndDate >=  @enddate
						AND m.Entity = @entity
						AND m.Activity = @activity
						AND m.SubActivity = @subactivity
						AND m.SubCategory = @subcategory
						AND (m.ChannelId = @channelid OR m.ChannelId = 0)
					)
				BEGIN
					SELECT DISTINCT      
						m.Id,
						m.EntityId,
						mp.LongDesc Entity,
						m.SubActivityId,
						va.SubActivityDesc SubActivity,
						m.ProductId,
						pd.LongDesc Product,
						pd.BrandId,
						tb.LongDesc Brand,
						m.Requirement,
						m.Discount,
						m.Mechanism,
						m.ChannelId Channel,
						m.StartDate,
						m.EndDate,
						m.CreateOn,
						m.CreateBy,
						m.CreatedEmail,
						m.ModifiedOn,
						m.ModifiedBy,
						m.ModifiedEmail,
						m.IsDelete,
						m.DeleteOn,
						m.DeleteBy,
						m.DeleteEmail
					FROM            
						tbmst_mechanism m
						inner join tbmst_principal mp on m.Entity = mp.LongDesc 
						inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
						inner join tbmst_product pd on m.ProductId = pd.id
						inner join tbmst_brand tb on pd.BrandId = tb.id and IIF(@brandid = 0, 0, tb.brandgroupid) = IIF(@brandid = 0, 0, @brandid)
					WHERE isnull(m.IsDelete, 0)=0
						AND  m.StartDate <=  @startdate
						AND m.EndDate >=  @enddate
						AND m.Entity = @entity
						AND m.Activity = @activity
						AND m.SubActivity = @subactivity
						AND m.SubCategory = @subcategory
						AND (m.ChannelId = @channelid OR m.ChannelId = 0)
				END
			ELSE 
				BEGIN
					IF EXISTS (
							SELECT id FROM tbmst_mechanism m
							WHERE isnull(m.IsDelete, 0)=0
							AND  m.StartDate <=  @startdate
							AND m.EndDate >=  @enddate
								AND m.Entity = @entity
								AND m.Activity = @activity
								AND m.SubActivity = @subactivity
								AND m.SubCategory = @subcategory
								AND m.ChannelId = 0
							)
						BEGIN
							SELECT DISTINCT
								m.Id,
								m.EntityId,
								mp.LongDesc Entity,
								m.SubActivityId,
								va.SubActivityDesc SubActivity,
								m.ProductId,
								pd.LongDesc Product,
								pd.BrandId,
								tb.LongDesc Brand,
								m.Requirement,
								m.Discount,
								m.Mechanism,
								m.ChannelId Channel,
								m.StartDate,
								m.EndDate,
								m.CreateOn,
								m.CreateBy,
								m.CreatedEmail,
								m.ModifiedOn,
								m.ModifiedBy,
								m.ModifiedEmail,
								m.IsDelete,
								m.DeleteOn,
								m.DeleteBy,
								m.DeleteEmail
							FROM            
								tbmst_mechanism m
								inner join tbmst_principal mp on m.Entity = mp.LongDesc 
								inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
								inner join tbmst_product pd on m.ProductId = pd.id
								inner join tbmst_brand tb on pd.BrandId = tb.id and IIF(@brandid = 0, 0, tb.brandgroupid) = IIF(@brandid = 0, 0, @brandid)
							WHERE isnull(m.IsDelete, 0)=0
								AND  m.StartDate <=  @startdate
								AND m.EndDate >=  @enddate
								AND m.Entity = @entity
								AND m.Activity = @activity
								AND m.SubActivity = @subactivity
								AND m.SubCategory = @subcategory
								AND m.ChannelId = 0
						END
					ELSE 
						BEGIN 
							IF EXISTS (
									SELECT id FROM tbmst_mechanism m
									WHERE isnull(m.IsDelete, 0)=0
									AND  m.StartDate <=  @startdate
									AND m.EndDate >=  @enddate
										AND m.Entity = @entity
										AND m.Activity = @activity
										AND m.SubActivity = @subactivity
										AND m.SubCategory = 'ALL'
										AND (m.ChannelId = @channelid OR m.ChannelId = 0)
									)
								BEGIN
									SELECT  DISTINCT
										m.Id,
										m.EntityId,
										mp.LongDesc Entity,
										m.SubActivityId,
										va.SubActivityDesc SubActivity,
										m.ProductId,
										pd.LongDesc Product,
										pd.BrandId,
										tb.LongDesc Brand,
										m.Requirement,
										m.Discount,
										m.Mechanism,
										m.ChannelId Channel,
										m.StartDate,
										m.EndDate,
										m.CreateOn,
										m.CreateBy,
										m.CreatedEmail,
										m.ModifiedOn,
										m.ModifiedBy,
										m.ModifiedEmail,
										m.IsDelete,
										m.DeleteOn,
										m.DeleteBy,
										m.DeleteEmail
									FROM            
										tbmst_mechanism m
										inner join tbmst_principal mp on m.Entity = mp.LongDesc 
										inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
										inner join tbmst_product pd on m.ProductId = pd.id
										inner join tbmst_brand tb on pd.BrandId = tb.id and IIF(@brandid = 0, 0, tb.brandgroupid) = IIF(@brandid = 0, 0, @brandid)
									WHERE isnull(m.IsDelete, 0)=0
							AND  m.StartDate <=  @startdate
							AND m.EndDate >=  @enddate
										AND m.Entity = @entity
										AND m.Activity = @activity
										AND m.SubActivity = @subactivity
										AND m.SubCategory = 'ALL'
										AND (m.ChannelId = @channelid OR m.ChannelId = 0)
								END
							ELSE 
								BEGIN 
									IF EXISTS (
											SELECT id FROM tbmst_mechanism m
											WHERE isnull(m.IsDelete, 0)=0
												AND  m.StartDate <=  @startdate
												AND m.EndDate >=  @enddate
												AND m.Entity = @entity
												AND m.Activity = @activity
												AND m.SubActivity = @subactivity
												AND m.SubCategory = 'ALL'
												AND m.ChannelId = 0
											)
										BEGIN
											SELECT DISTINCT
												m.Id,
												m.EntityId,
												mp.LongDesc Entity,
												m.SubActivityId,
												va.SubActivityDesc SubActivity,
												m.ProductId,
												pd.LongDesc Product,
												pd.BrandId,
												tb.LongDesc Brand,
												m.Requirement,
												m.Discount,
												m.Mechanism,
												m.ChannelId Channel,
												m.StartDate,
												m.EndDate,
												m.CreateOn,
												m.CreateBy,
												m.CreatedEmail,
												m.ModifiedOn,
												m.ModifiedBy,
												m.ModifiedEmail,
												m.IsDelete,
												m.DeleteOn,
												m.DeleteBy,
												m.DeleteEmail
											FROM            
												tbmst_mechanism m
												inner join tbmst_principal mp on m.Entity = mp.LongDesc 
												inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
												inner join tbmst_product pd on m.ProductId = pd.id
												inner join tbmst_brand tb on pd.BrandId = tb.id and IIF(@brandid = 0, 0, tb.brandgroupid) = IIF(@brandid = 0, 0, @brandid)
											WHERE isnull(m.IsDelete, 0)=0
												AND  m.StartDate <=  @startdate
												AND m.EndDate >=  @enddate
												AND m.Entity = @entity
												AND m.Activity = @activity
												AND m.SubActivity = @subactivity
												AND m.SubCategory = 'ALL'
												AND m.ChannelId = 0
										END
									ELSE
										BEGIN
													SELECT DISTINCT      
																m.Id,
																m.EntityId,
																mp.LongDesc Entity,
																m.SubActivityId,
																va.SubActivityDesc SubActivity,
																m.ProductId,
																pd.LongDesc Product,
																pd.BrandId,
																tb.LongDesc Brand,
																m.Requirement,
																m.Discount,
																m.Mechanism,
																m.ChannelId Channel,
																m.StartDate,
																m.EndDate,
																m.CreateOn,
																m.CreateBy,
																m.CreatedEmail,
																m.ModifiedOn,
																m.ModifiedBy,
																m.ModifiedEmail,
																m.IsDelete,
																m.DeleteOn,
																m.DeleteBy,
																m.DeleteEmail
														FROM            
																tbmst_mechanism m
																inner join tbmst_principal mp on m.Entity = mp.LongDesc 
																inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
																inner join tbmst_product pd on m.ProductId = pd.id
																inner join tbmst_brand tb on pd.BrandId = tb.id and IIF(@brandid = 0, 0, tb.brandgroupid) = IIF(@brandid = 0, 0, @brandid)
															WHERE m.Mechanism = 'EMPTY RECORDSET' 
												END
						
								END
			
						END
				END
		END
	ELSE
		BEGIN
			SELECT DISTINCT      
						m.Id,
						m.EntityId,
						mp.LongDesc Entity,
						m.SubActivityId,
						va.SubActivityDesc SubActivity,
						m.ProductId,
						pd.LongDesc Product,
						pd.BrandId,
						tb.LongDesc Brand,
						m.Requirement,
						m.Discount,
						m.Mechanism,
						m.ChannelId Channel,
						m.StartDate,
						m.EndDate,
						m.CreateOn,
						m.CreateBy,
						m.CreatedEmail,
						m.ModifiedOn,
						m.ModifiedBy,
						m.ModifiedEmail,
						m.IsDelete,
						m.DeleteOn,
						m.DeleteBy,
						m.DeleteEmail
				FROM            
						tbmst_mechanism m
						inner join tbmst_principal mp on m.Entity = mp.LongDesc 
						inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
						inner join tbmst_product pd on m.ProductId = pd.id
						inner join tbmst_brand tb on pd.BrandId = tb.id and IIF(@brandid = 0, 0, tb.brandgroupid) = IIF(@brandid = 0, 0, @brandid)
					WHERE m.Mechanism = 'EMPTY RECORDSET' 
		END

	SELECT @mechanismliststatus mechanismListStatus
END
GO
