

/****** Object:  StoredProcedure [dbo].[ip_promo_list_sendback]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_promo_list_sendback] --'2020',0,0,0,0,'0'
	@periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@category int=NULL
AS

--DECLARE 
--	@periode varchar(4)
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@category int 

--SET @periode ='2024'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid ='kammidi'
--SET @category = 0

BEGIN
	SET @category = ISNULL(@category,0)

    DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo
    DROP TABLE IF EXISTS #temp_promo_recon
	SELECT 999999999 id INTO #temp_promo
	SELECT 999999999 id INTO #temp_promo_recon
	DELETE from #temp_promo
	DELETE from #temp_promo_recon

    DECLARE @recordsFiltered int;

	--DECLARE @Temp TABLE
	--	(
	--	  BudgetParent int, 
	--	  Levels int,
	--	  BudgetId int
	--	  --BudgetType varchar(3),
	--	  --BudgetName varchar(255),
	--	  --InitialBudgetAmount numeric(18,0),
	--	  --PromoCreated numeric(18,0),
	--	  --TotalSpending numeric(18,0),
	--	  --DnClaim numeric(18,0),
	--	  --DnPaid numeric(18,0),
	--	  --Available numeric(18,0)
	--	)

	--declare @p_alcid int;

	--DECLARE 
	--	@product_name int
    
 
	--DECLARE cursor_product CURSOR
	--	FOR SELECT 
	--		Id
	--	FROM 
	--		tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	--	OPEN cursor_product;
 
	--	FETCH NEXT FROM cursor_product INTO 
	--		@product_name
    
	--	WHILE @@FETCH_STATUS = 0
	--		BEGIN		
	--			SET @p_alcid=@product_name;
		
	--			WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
	--			AS
	--				(
	--					SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
	--					union all
	--					SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
	--					INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
	--					INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
	--					INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD				
	--				)
		
	--			INSERT INTO @Temp
	--			SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	--			option (maxrecursion 0);		 
				
	--			FETCH NEXT FROM cursor_product INTO 
	--				@product_name 
            
	--		END;
 
	--CLOSE cursor_product;
	--DEALLOCATE cursor_product;

	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		)

	declare 
		@p_alcid int,
		@product_name int
    
	IF @periode <='2024' 
		BEGIN
			DECLARE cursor_product CURSOR
			FOR SELECT 
					Id
				FROM 
					tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
			OPEN cursor_product;

			FETCH NEXT FROM cursor_product INTO 
				@product_name

			WHILE @@FETCH_STATUS = 0
				BEGIN
        
					SET @p_alcid=@product_name;
			
					with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
					AS
						(
							SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							UNION ALL
							SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
							INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
						)
		
					INSERT INTO @Temp
						SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
						option (maxrecursion 0);

					FETCH NEXT FROM cursor_product INTO 
						@product_name 
            
				END;
 
			CLOSE cursor_product;
 
			DEALLOCATE cursor_product;

			INSERT INTO #temp_promo (id)
				SELECT pr.id FROM tbtrx_promo pr
				INNER JOIN tbtrx_budgetmaster m on pr.BudgetMasterId=m.Id
				INNER JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId 
				INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId 
				WHERE
					m.Periode=@periode
					AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
					AND IIF(@category=0,'',pr.CategoryId) =IIF(@category=0,'',@category)
					AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					--AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
					AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
					AND pr.StatusApproval='SENDBACK'
					AND pr.StatusApprovalCode<>'TP2'
					AND ISNULL(pr.IsCancel,0)=0
					AND ISNULL(pr.IsClose,0)=0
					AND tpa.IsOnGoing = 1 
					AND ISNULL(tpra.IsCancel, 0)=0 

			--INSERT INTO #temp_promo_recon (id)
			--	SELECT pr.id FROM tbtrx_promo pr
			--	INNER JOIN tbtrx_budgetmaster m on pr.BudgetMasterId=m.Id
			--	INNER JOIN tbtrx_promo_request_approval_recon tpra ON pr.id=tpra.ParentId 
			--	INNER JOIN tbtrx_promo_approval_recon tpa ON tpra.id=tpa.RequestId 
			--	WHERE
			--		m.Periode=@periode
			--		AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
			--		AND IIF(@category=0,'',pr.CategoryId) =IIF(@category=0,'',@category)
			--		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			--		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			--		--AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			--		AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
			--		AND pr.StatusApprovalRecon='SENDBACK'
			--		AND pr.StatusApprovalCodeRecon<>'TP2'
			--		AND ISNULL(pr.IsCancel,0)=0
			--		AND ISNULL(pr.IsClose,0)=0
			--		AND tpa.IsOnGoing = 1 
			--		AND ISNULL(tpra.IsCancel, 0)=0 
		END
	ELSE
		BEGIN

			INSERT INTO #temp_promo (id)
				SELECT pr.id FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
				INNER JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId 
				INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId 
				WHERE
					pr.period=@periode
					AND IIF(@category=0,'',pr.CategoryId) =IIF(@category=0,'',@category)
					AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
					AND pr.StatusApproval='SENDBACK'
					AND pr.StatusApprovalCode<>'TP2'
					AND ISNULL(pr.IsCancel,0)=0
					AND ISNULL(pr.IsClose,0)=0
					AND tpa.IsOnGoing = 1 
					AND ISNULL(tpra.IsCancel, 0)=0 

			INSERT INTO #temp_promo_recon (id)
				SELECT pr.id FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
				INNER JOIN tbtrx_promo_request_approval_recon tpra ON pr.id=tpra.ParentId 
				INNER JOIN tbtrx_promo_approval_recon tpa ON tpra.id=tpa.RequestId 
				WHERE
					pr.period=@periode
					AND IIF(@category=0,'',pr.CategoryId) =IIF(@category=0,'',@category)
					AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
					AND pr.StatusApprovalRecon='SENDBACK'
					AND pr.StatusApprovalCodeRecon<>'TP2'
					AND ISNULL(pr.IsCancel,0)=0
					AND ISNULL(pr.IsClose,0)=0
					AND tpa.IsOnGoing = 1 
					AND ISNULL(tpra.IsCancel, 0)=0 
		END

	SELECT 
	DISTINCT	
		pr.Id [PromoId],
		pr.CreateOn [CreateOn]
		,ISNULL(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
		,pr.StartPromo
		,pr.EndPromo 
		,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) [Target]
		,pr.Investment
		,CAST(pr.LastStatus as varchar) + ' on ' + CAST(tpa.ActionDate as varchar) LastStatus
		,pr.ApproveOn
		,pr.ApprovalNotes
		,pr.CategoryId -- AND isu E2#38
		,pr.CategoryShortDesc
		,1 approvalCycle
		FROM #temp_promo tpr
		INNER JOIN tbtrx_promo pr on tpr.id=pr.Id
		LEFT JOIN @Temp a ON a.BudgetId=pr.AllocationId
		LEFT JOIN tbmst_category cat ON pr.CategoryId=cat.Id
		LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
		LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
		LEFT JOIN tbset_user uo on uo.Id=usr.UserId
		LEFT JOIN tbset_user uf on uf.Id=usr.UserId
		LEFT JOIN vw_activity sctg on pr.SubCategoryId=sctg.SubCategoryId
		LEFT JOIN vw_activity act on pr.ActivityId=act.ActivityId
		LEFT JOIN vw_activity sact on pr.SubActivityId=sact.SubActivityId
		LEFT JOIN
			(
				SELECT PromoId,
					STUFF
						(
							(
								SELECT ',' + chn.LongDesc 
									FROM tbtrx_promo_channel a
									JOIN tbmst_channel chn ON a.ChannelId=chn.Id
									WHERE a.PromoId=b.PromoId
									FOR XML PATH ('')
							),1,1,''
						) AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel ON pr.Id = channel.PromoId	
		INNER JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId 
		INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId 
		LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
		WHERE 
			tpa.IsOnGoing = 1 
			AND ISNULL(tpra.IsCancel, 0)=0 
UNION ALL
	SELECT 
	DISTINCT	
		pr.Id [PromoId],
		pr.CreateOn [CreateOn]
		,ISNULL(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
		,pr.StartPromo
		,pr.EndPromo 
		,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) [Target]
		,pr.Investment
		,CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpa.ActionDate as varchar) LastStatus
		,pr.ApproveOnRecon
		,pr.ApprovalNotesRecon
		,pr.CategoryId -- AND isu E2#38
		,pr.CategoryShortDesc
		,2 approvalCycle
		FROM #temp_promo_recon tpr
		INNER JOIN tbtrx_promo pr on tpr.id=pr.Id
		LEFT JOIN @Temp a ON a.BudgetId=pr.AllocationId
		LEFT JOIN tbmst_category cat ON pr.CategoryId=cat.Id
		LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
		LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
		LEFT JOIN tbset_user uo on uo.Id=usr.UserId
		LEFT JOIN tbset_user uf on uf.Id=usr.UserId
		LEFT JOIN vw_activity sctg on pr.SubCategoryId=sctg.SubCategoryId
		LEFT JOIN vw_activity act on pr.ActivityId=act.ActivityId
		LEFT JOIN vw_activity sact on pr.SubActivityId=sact.SubActivityId
		LEFT JOIN
			(
				SELECT PromoId,
					STUFF
						(
							(
								SELECT ',' + chn.LongDesc 
									FROM tbtrx_promo_channel a
									JOIN tbmst_channel chn ON a.ChannelId=chn.Id
									WHERE a.PromoId=b.PromoId
									FOR XML PATH ('')
							),1,1,''
						) AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel ON pr.Id = channel.PromoId	
		INNER JOIN tbtrx_promo_request_approval_recon tpra ON pr.id=tpra.ParentId 
		INNER JOIN tbtrx_promo_approval_recon tpa ON tpra.id=tpa.RequestId 
		LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
		WHERE 
			tpa.IsOnGoing = 1 
			AND ISNULL(tpra.IsCancel, 0)=0 

		ORDER BY pr.CreateOn

END
GO
