USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_v3_list_display_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_v3_list_display_p]
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@cancelstatus bit
	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS

--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--,@cancelstatus bit
--,@start int
--,@length int
--,@filter varchar(255)
--,@txtSearch varchar(255)

--SET @periode ='2025'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid ='kamsat'
--SET @cancelstatus = 0
--SET @start =0
--SET @length =-1
--SET @filter =''
--SET @txtSearch ='SGM00008/AL25/DC'

BEGIN
	SET NOCOUNT ON


    DECLARE @recordsFiltered int;
    DROP TABLE IF EXISTS #temp_result0;
	DROP TABLE IF EXISTS #temp_result1;
	DROP TABLE IF EXISTS #temp_promo
	DROP TABLE IF EXISTS #temp_dn

		SELECT 999999999 id INTO #temp_promo
		DELETE from #temp_promo

	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		)

	DECLARE 
		@p_alcid int, 
		@product_name int 
 
	 IF @periode<=2024
		 BEGIN
			DECLARE cursor_product CURSOR
				FOR 
					SELECT Id FROM tbtrx_allocation where BudgetType='BAL' 
 
			OPEN cursor_product
 			FETCH NEXT FROM cursor_product INTO 
				@product_name
 
			WHILE @@FETCH_STATUS = 0
				BEGIN
					SET @p_alcid=@product_name;
		
						WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
						AS
						(
							SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							UNION ALL
							SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
							INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
							WHERE c.Periode=@periode
						)
				
					INSERT INTO @Temp
						SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
					OPTION (maxrecursion 0);

					FETCH NEXT FROM cursor_product INTO 
						@product_name 
				END
 
			CLOSE cursor_product; 
			DEALLOCATE cursor_product;


				INSERT INTO #temp_promo (id)
					SELECT pr.Id FROM tbtrx_promo pr 
					INNER JOIN tbtrx_budgetmaster m ON pr.BudgetMasterId=m.Id
					WHERE m.Periode=@periode
						AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
						AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)

		END
	ELSE
		BEGIN
			INSERT INTO #temp_promo (id)
				SELECT pr.id FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
				WHERE
					convert(varchar(4),YEAR(pr.StartPromo))=@periode
					AND IIF(@entity=0,'',pc.EntityId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',pc.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
					AND ISNULL(IsCancel,0)=@cancelstatus
					--AND ISNULL(pr.StatusApprovalCode, '')<>'TP2'
					--AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
		END

	SELECT a.PromoId,SUM ( IIF(ISNULL(a.VATExpired,0)=0, ISNULL(a.DPP,0), ISNULL(a.DPP,0) + ISNULL(a.PPNAmt,0))) dnclaim
		INTO #temp_dn
			FROM tbtrx_debetnote a
			INNER JOIN #temp_promo b on a.PromoId=b.Id
			WHERE ISNULL(a.IsCancel, 0) = 0
				AND ISNULL(a.IsDNPromo,0)=1
			GROUP BY a.PromoId

	IF @userid='0'
		BEGIN

			SELECT DISTINCT
			  p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,IIF(cat.ShortDesc='DC',mec.Mechanism, pr.ActivityDesc)ActivityDesc	
			  ,IIF(pr.IsCancel=1
					,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
					, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
						,pr.LastStatus + '-' + uapprover.username
					)
			  )  LastStatus
			  ,c.LongDesc Allocation 
			  ,pr.Investment
			  ,ISNULL(pr.IsCancelLocked,0) IsCancelLocked
			  ,IIF(cat.ShortDesc='DC','---', pr.TsCoding)TsCoding
			  ,subaccount.subAccountId SubAccountId
			  ,IIF(cat.ShortDesc='DC','---', subaccount.subAccountDesc) SubAccountDesc
			  ,pr.CancelNotes 	
			  ,pr.StartPromo 
			  ,pr.EndPromo 
			  ,pr.initiator_notes
	  		  ,pr.InvestmentTypeId 
			  ,tit.RefId InvestmentTypeRefId
			  ,tit.LongDesc InvestmentTypeDesc	     	  
			  ,pr.CreateBy 
			  ,dn.dnclaim
			  ,pr.CreateOn 
  			  ,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) LastStatusDate
			  ,pr.CategoryId -- isu E2#38
			  ,pr.CategoryShortDesc
			  ,isnull(pr.Reconciled, 0) reconciled
			INTO #temp_result0
			FROM #temp_promo tpr 
			INNER JOIN tbtrx_promo pr on pr.Id=tpr.id
			INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
			LEFT JOIN @temp a ON a.BudgetId=pr.AllocationId
			LEFT  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
			LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover				
			LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
			LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
			LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
			LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
			LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
			LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
			LEFT JOIN tbset_user uo on uo.Id=usr.UserId
			LEFT JOIN tbset_user uf on uf.Id=usr.UserId
			LEFT JOIN tbset_user upr on upr.Id=pr.Approver
			LEFT JOIN tbset_user ucancel on ucancel.Id=pr.CancelBy
			LEFT JOIN tbset_user uapprover on uapprover.Id=pr.Approver
			LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			LEFT JOIN 
				(
					SELECT a.AllocationId, STRING_AGG(b.longdesc,', ')ChannelDesc FROM tbtrx_allocation_channel a
					INNER JOIN tbmst_channel b ON a.channelid=b.id
					GROUP BY a.AllocationId
				)channel on c.Id = channel.AllocationId
			LEFT JOIN
				(
					select PromoId, string_agg(sub.Id,', ') SubAccountId, string_agg(sub.LongDesc,', ') SubAccountDesc
						FROM tbtrx_promo_subaccount a with (nolock)
						INNER JOIN tbmst_subaccount sub with (nolock) ON a.SubAccountId=sub.Id
						GROUP BY a.PromoId
				) subaccount ON pr.Id = subaccount.PromoId   				
			LEFT JOIN
				(
	      			SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
						FROM tbtrx_promo_mechanism mec 
						GROUP BY mec.PromoId
				) mec ON pr.Id = mec.PromoId
			LEFT JOIN #temp_dn dn on pr.id=dn.promoid
			where 
			IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			ORDER BY pr.Id

			/**********************
				start pagination
			 **********************/
			IF @length = -1
				BEGIN
					IF @txtSearch is null
						BEGIN
							SELECT * FROM #temp_result0
							ORDER BY PromoId ASC
						END
					ELSE
						BEGIN
							SELECT * FROM #temp_result0
							WHERE
								(ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
								(ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(RefId,'') like '%' + @txtSearch + '%') OR
								(ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Allocation,'') like '%' + @txtSearch + '%')
							ORDER BY PromoId ASC
						END        
				END
			ELSE
				BEGIN
					IF @txtSearch is null
						BEGIN
							SELECT * FROM #temp_result0
							ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
						END
					ELSE
						BEGIN
							SELECT * FROM #temp_result0
							WHERE
								(ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
								(ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(RefId,'') like '%' + @txtSearch + '%') OR
								(ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Allocation,'') like '%' + @txtSearch + '%')
							ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
						END        
				END
	
			SET @recordsFiltered = 
				(
				SELECT ISNULL(COUNT(PromoId),0) 
				FROM #temp_result0
				WHERE 
						(ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(PrincipalDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(RefId,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(Allocation,'') like '%' + ISNULL(@txtSearch, '') + '%')
				)
	
			SELECT ISNULL(COUNT(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result0
	    
			DROP TABLE #temp_result0
			/**********************
				end pagination
			 **********************/

		END
	ELSE
		BEGIN
			SELECT DISTINCT
				p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,pr.Id PromoId
				,pr.RefId
			  ,IIF(cat.ShortDesc='DC',mec.Mechanism, pr.ActivityDesc)ActivityDesc	
				,IIF(pr.IsCancel=1
					,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
					, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
						,pr.LastStatus + '-' + uapprover.username
					)) LastStatus
				,c.LongDesc Allocation 
				,pr.Investment
				,ISNULL(pr.IsCancelLocked,0) IsCancelLocked
				,IIF(cat.ShortDesc='DC', '---', pr.TsCoding)TsCoding
				,subaccount.subAccountId SubAccountId
				,IIF(cat.ShortDesc='DC', '---', subaccount.subAccountDesc) SubAccountDesc
				,pr.CancelNotes
				,pr.StartPromo 
				,pr.EndPromo 	  
				,pr.initiator_notes
	  			,pr.InvestmentTypeId 
				,tit.RefId InvestmentTypeRefId
				,tit.LongDesc InvestmentTypeDesc	     	  
				,pr.CreateBy 
				,dn.dnclaim
				,pr.CreateOn 
				,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) LastStatusDate
				,pr.CategoryId
				,pr.CategoryShortDesc
				,isnull(pr.Reconciled, 0) reconciled
			INTO #temp_result1
			FROM #temp_promo tpr 
			INNER JOIN tbtrx_promo pr on pr.Id=tpr.id
			INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
			LEFT JOIN @temp a ON a.BudgetId=pr.AllocationId
			LEFT  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
			LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover				
			LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
			LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
			LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
			LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
			LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
			LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
			LEFT JOIN tbset_user uo on uo.Id=usr.UserId
			LEFT JOIN tbset_user uf on uf.Id=usr.UserId
			LEFT JOIN tbset_user upr on upr.Id=pr.Approver
			LEFT JOIN tbset_user ucancel on ucancel.Id=pr.CancelBy
			LEFT JOIN tbset_user uapprover on uapprover.Id=pr.Approver
			LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			LEFT JOIN 
				(
					SELECT a.AllocationId, STRING_AGG(b.longdesc,', ')ChannelDesc FROM tbtrx_allocation_channel a
					INNER JOIN tbmst_channel b ON a.channelid=b.id
					GROUP BY a.AllocationId
				)channel on c.Id = channel.AllocationId
			LEFT JOIN
				(
					select PromoId, string_agg(sub.Id,', ') SubAccountId, string_agg(sub.LongDesc,', ') SubAccountDesc
						FROM tbtrx_promo_subaccount a with (nolock)
						INNER JOIN tbmst_subaccount sub with (nolock) ON a.SubAccountId=sub.Id
						GROUP BY a.PromoId
				) subaccount ON pr.Id = subaccount.PromoId   				
			LEFT JOIN
				(
	      			SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
						FROM tbtrx_promo_mechanism mec 
						GROUP BY mec.PromoId
				) mec ON pr.Id = mec.PromoId
			LEFT JOIN #temp_dn dn on pr.id=dn.promoid
			WHERE 
				IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
				AND (
					EXISTS(
							SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and m.DistributorId=dis.DistributorId)
					OR EXISTS(
							SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and pr.DistributorId=dis.DistributorId)
					)
			ORDER BY pr.Id
			/**********************
				start pagination
		 **********************/
			IF @length = -1
				BEGIN
					IF @txtSearch is null
						BEGIN
							SELECT * FROM #temp_result1
							ORDER BY PromoId ASC
						END
					ELSE
						BEGIN
							SELECT * FROM #temp_result1
							WHERE
								(ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
								(ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(RefId,'') like '%' + @txtSearch + '%') OR
								(ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Allocation,'') like '%' + @txtSearch + '%')
							ORDER BY PromoId ASC
						END        
				END
			ELSE
				BEGIN
					IF @txtSearch is null
						BEGIN
							SELECT * FROM #temp_result1
							ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
						END
					ELSE
						BEGIN
							SELECT * FROM #temp_result1
							WHERE
								(ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
								(ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(RefId,'') like '%' + @txtSearch + '%') OR
								(ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
								(ISNULL(Allocation,'') like '%' + @txtSearch + '%')
							ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
						END        
				END
	
			SET @recordsFiltered = 
				(
				SELECT ISNULL(count(PromoId),0) 
				FROM #temp_result1
				WHERE 
						(ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(PrincipalDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(RefId,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(Allocation,'') like '%' + ISNULL(@txtSearch, '') + '%')
				)
	
			SELECT ISNULL(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result1
	    
			drop table if exists #temp_result1
			/**********************
				end pagination
			 **********************/		
		END

			DROP TABLE IF EXISTS #temp_promo
			DROP TABLE IF EXISTS #temp_dn
	
END
GO
