USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_master_activity]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_activity]

@Activity ActivityType READONLY,


@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN



/*****************
CATEGORY
*****************/

	MERGE tbmst_category t
	USING
	( 
	SELECT DISTINCT Category,CategoryShortDesc
	FROM
	@Activity 
	) s
	ON t.LongDesc=s.Category
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Category
	,ShortDesc=CategoryShortDesc
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
           [LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           Category
           ,CategoryShortDesc
           ,1
           ,@utcDate123
           ,@userid
           );

/*****************
SUB CATEGORY
*****************/

	MERGE tbmst_subcategory t
	USING
	( 
	SELECT DISTINCT ctg.Id CategoryId,SubCategory
	FROM
	@Activity x INNER JOIN tbmst_category ctg ON ctg.LongDesc=x.Category 	
	) s
	ON t.LongDesc=s.SubCategory
	AND t.CategoryId=s.CategoryId
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=SubCategory
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            [CategoryId]
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
   ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   CategoryId
           ,SubCategory
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );


/*****************
ACTIVITY
*****************/

	MERGE tbmst_activity t
	USING
	( 
	SELECT DISTINCT ctg.Id CategoryId,sctg.Id SubCategoryId,Activity
	FROM
	@Activity x 
	INNER JOIN tbmst_subcategory sctg ON sctg.LongDesc=x.SubCategory
	INNER JOIN tbmst_category ctg ON ctg.LongDesc=x.Category  and sctg.LongDesc=x.SubCategory	
	) s
	ON t.LongDesc=s.Activity
	AND t.SubCategoryId=s.SubCategoryId
	AND t.CategoryId=s.CategoryId
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Activity
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            [CategoryId]
		   ,[SubCategoryId]		   
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   CategoryId
		   ,SubCategoryId           
		   ,Activity
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );


--INSERT INTO TempActivityType
--SELECT * FROM @Activity



/*****************
SUB ACTIVITY
*****************/

	MERGE tbmst_subactivity t
	USING
	( 
	SELECT distinct 
	act.categoryid,t.category,
	act.subcategoryid,t.subcategory,
	act.activityid,t.activity,
	subactivity,	
	typ.Id SubActivityTypeId
	FROM @Activity t	
	INNER JOIN
	(
	SELECT a.Id activityid,b.Id subcategoryid,c.Id categoryid,a.LongDesc activity,b.LongDesc subcategory,c.LongDesc category FROM tbmst_activity a
	INNER JOIN tbmst_subcategory b ON a.subcategoryid=b.id
	INNER JOIN tbmst_category c ON b.categoryid=c.Id
	) act ON t.activity=act.activity and t.subcategory=act.subcategory and t.category=act.category
	INNER JOIN tbmst_subactivity_type typ ON typ.LongDesc=t.SubActivityType

	) s
	ON t.LongDesc=s.SubActivity
	AND t.ActivityId=s.activityid
	AND t.SubCategoryId=s.subcategoryid
	AND t.CategoryId=s.categoryid
	AND t.SubActivityTypeId=s.SubActivityTypeId
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=SubActivity
	,SubActivityTypeId=s.SubActivityTypeId
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            [CategoryId]
		   ,[SubCategoryId]		   
		   ,[ActivityId]		   
		   ,[LongDesc]
		   ,[SubActivityTypeId]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   CategoryId
		   ,SubCategoryId           
		   ,ActivityId
		   ,SubActivity
		   ,SubActivityTypeId
           ,''
       ,1
           ,@utcDate123
           ,@userid
           );
		   


END
GO
