USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_v3_select]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_planning_v3_select]
@Id				INT
AS
BEGIN
	DECLARE @entityid int
	SET @entityid=(SELECT EntityId FROM tbtrx_promo_planning tpp WHERE tpp.id=@id)
	
	  SELECT 
	  a.Id,
      a.RefId,
	  a.tscode tscoding,
      a.EntityId,
      b.ShortDesc EntityShortDesc,
      b.LongDesc EntityLongDesc,
      a.DistributorId,
      c.ShortDesc DistributorShortDesc,
      c.LongDesc DistributorLongDesc,
      a.CategoryId,
      d.LongDesc CategoryDesc,
      d.ShortDesc CategoryShortDesc,
      a.SubCategoryId,
      e.LongDesc SubCategoryDesc,
      a.ActivityId,
--      f.LongDesc ActivityDesc,
      a.ActivityDesc,
      a.SubActivityId,
      g.LongDesc SubActivityDesc,
      a.StartPromo,
      a.EndPromo,
      a.Mechanisme1,
      a.Mechanisme2,
      a.Mechanisme3,
      a.Mechanisme4,
      a.Investment,
      a.NormalSales,
      a.IncrSales,
      a.Roi,
      a.CostRatio,
      a.Notes,
      a.CreateOn,
      a.ModifiedOn,
      a.CreateBy
	  ,a.initiator_notes
	  ,a.late_submission_day
	  FROM tbtrx_promo_planning a
	  INNER JOIN tbmst_principal b ON a.EntityId=b.Id
	  INNER JOIN tbmst_distributor c ON a.DistributorId=c.Id
	  INNER JOIN tbmst_category d on a.CategoryId=d.id
	  INNER JOIN tbmst_subcategory e on a.SubCategoryId=e.id
	  INNER JOIN tbmst_activity f on a.ActivityId=f.id
	  INNER JOIN tbmst_subactivity g on a.SubActivityId=g.id
	  WHERE a.Id=@Id


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_region]  AS MR 	  
	  LEFT JOIN (select * from tbtrx_promo_planning_region where promoplanid =@Id) pr ON MR.Id=pr.RegionId

	  	  
	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Channel]  AS MR 	  
	  LEFT JOIN (select * from tbtrx_promo_planning_channel where promoplanid =@Id) pr ON MR.Id=pr.ChannelId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_SubChannel]  AS MR 	  
	  LEFT JOIN (select * from tbtrx_promo_planning_SubChannel where promoplanid =@Id) pr ON MR.Id=pr.SubChannelId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Account]  AS MR 	  
	  LEFT JOIN (select * from tbtrx_promo_planning_Account where promoplanid =@Id) pr ON MR.Id=pr.AccountId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_SubAccount]  AS MR 	  
	  LEFT JOIN (select * from tbtrx_promo_planning_SubAccount where promoplanid =@Id) pr ON MR.Id=pr.SubAccountId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as BrandPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Brand]  AS MR
	  LEFT JOIN (select * from tbtrx_promo_planning_Brand where promoplanid =@Id) pr ON MR.Id=pr.BrandId
	  WHERE MR.PrincipalId = @entityid


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Product]  AS MR
	  INNER JOIN tbmst_brand tb on MR.BrandId = tb.id AND tb.PrincipalId =@entityid
	  LEFT JOIN (select * from tbtrx_promo_planning_Product where promoplanid =@Id) pr ON MR.Id=pr.ProductId
	  WHERE MR.BrandId IN (select BrandId from tbtrx_promo_planning_Brand where promoplanid =@Id)

	  SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
	  FROM [dbo].tbtrx_promo_planning_mechanism tppm 
	  WHERE promoplanid =@Id

	  
END
GO
