

/****** Object:  StoredProcedure [dbo].[ip_promo_approval_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_approval_list] --'2020',0,0,0,0,'scsh1'
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@category int = NULL
AS

--DECLARE 
-- @periode varchar(4)
--,@category int
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--SET @periode ='2024'
--SET @category = 0
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='sfa nka'
-----------------------------------------------------------------

--BEGIN
--SET @category = ISNULL(@category,0)
--DECLARE @Temp TABLE
--	(
--	  BudgetParent int, 
--	  Levels int,
--	  BudgetId int
--	  --BudgetType varchar(3),
--	  --BudgetName varchar(255),
--	  --InitialBudgetAmount numeric(18,0),
--	  --PromoCreated numeric(18,0),
--	  --TotalSpending numeric(18,0),
--	  --DnClaim numeric(18,0),
--	  --DnPaid numeric(18,0),
--	  --Available numeric(18,0)
--	)
--	;

--	declare @p_alcid int;

--	DECLARE 
--		@product_name int
    
 
--	DECLARE cursor_product CURSOR
--	FOR SELECT 
--			Id
        
--		FROM 
--			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
--	OPEN cursor_product;
 

--	FETCH NEXT FROM cursor_product INTO 
--		@product_name
    
 
--	WHILE @@FETCH_STATUS = 0
--		BEGIN
        
--			--SET @p_alcid=@budgetparent;
--			SET @p_alcid=@product_name;
		
--			/***/

--			with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber) as
--				(
--					SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
--					UNION ALL
--					SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
--					INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
--					INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
--					INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
--					--where AllocationId=@p_alcid
--				)
		
--			INSERT INTO @Temp
--				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
--				option (maxrecursion 0);
		 
--				FETCH NEXT FROM cursor_product INTO 
--					@product_name 
            
--		END;
 
--		CLOSE cursor_product;
--		DEALLOCATE cursor_product;

BEGIN
    DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo
    DROP TABLE IF EXISTS #temp_promo_recon
	SELECT 999999999 id INTO #temp_promo
	SELECT 999999999 id INTO #temp_promo_recon
	DELETE from #temp_promo
	DELETE from #temp_promo_recon

    DECLARE @recordsFiltered int;

	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		)

	declare 
		@p_alcid int,
		@product_name int
    
			DECLARE cursor_product CURSOR
			FOR SELECT 
					Id
				FROM 
					tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
			OPEN cursor_product;

			FETCH NEXT FROM cursor_product INTO 
				@product_name

			WHILE @@FETCH_STATUS = 0
				BEGIN
        
					SET @p_alcid=@product_name;
			
					with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
					AS
						(
							SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							UNION ALL
							SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
							INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
						)
		
					INSERT INTO @Temp
						SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
						option (maxrecursion 0);

					FETCH NEXT FROM cursor_product INTO 
						@product_name 
            
				END;
 
			CLOSE cursor_product;
 
			DEALLOCATE cursor_product;

			INSERT INTO #temp_promo (id)
				SELECT pr.id FROM tbtrx_promo pr
				INNER JOIN tbtrx_budgetmaster m on pr.BudgetMasterId=m.Id
				INNER JOIN tbtrx_promo_request_approval r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
				INNER JOIN tbtrx_promo_approval appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
				WHERE
					IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
					AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
					AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					--AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
					AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
					AND isnull(pr.IsCancel,0)=0
					AND isnull(pr.IsCancelLocked,0)=0
					AND isnull(pr.IsClose,0)=0

			--INSERT INTO #temp_promo_recon (id)
			--	SELECT pr.id FROM tbtrx_promo pr
			--	INNER JOIN tbtrx_budgetmaster m on pr.BudgetMasterId=m.Id
			--	INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
			--	INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
			--	WHERE
			--		IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
			--		AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
			--		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			--		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			--		--AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			--		AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
			--		AND isnull(pr.IsCancel,0)=0
			--		AND isnull(pr.IsCancelLocked,0)=0
			--		AND isnull(pr.IsClose,0)=0

			INSERT INTO #temp_promo (id)
				SELECT pr.id FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId AND pr.Period >= 2025
				INNER JOIN tbtrx_promo_request_approval r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
				INNER JOIN tbtrx_promo_approval appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
				WHERE
					IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
					AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
					--AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
					AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
					AND isnull(pr.IsCancel,0)=0
					AND isnull(pr.IsCancelLocked,0)=0
					AND isnull(pr.IsClose,0)=0

			--INSERT INTO #temp_promo_recon (id)
			--	SELECT pr.id FROM tbtrx_promo pr
			--	INNER JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId AND pr.Period >= 2025
			--	INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
			--	INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
			--	WHERE
			--		IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
			--		AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
			--		AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
			--		--AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			--		AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
			--		AND isnull(pr.IsCancel,0)=0
			--		AND isnull(pr.IsCancelLocked,0)=0
			--		AND isnull(pr.IsClose,0)=0

	SELECT DISTINCT
		pr.Id PromoId
		,r.Id RequestId
		,appr.RequestDate
		,pr.RefId
		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
		,CASE WHEN
			DATEDIFF(day,appr.RequestDate,getdate()) 
			-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
			-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
			-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
		ELSE 
			DATEDIFF(day,appr.RequestDate,getdate()) 
			-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
			-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
			-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
		END AgingApproval			
		,pr.StartPromo
		,pr.EndPromo	  
		,pr.CreateBy [Initiator] 
		,pr.CreateOn
		,IIF(pr.Investment=0, prcal.cost, pr.Investment) Investment
		,IIF(cat.ShortDesc='DC',0, pr.NormalSales + pr.IncrSales) TotalSales
		,IIF(cat.ShortDesc='DC','---', pr.tscoding)tscoding
		,pl.Investment PlanInvestment
		,IIF(cat.ShortDesc='DC',0, cast(format(round(pl.NormalSales,0),'#') as bigint)) PlanNormalSales
		,IIF(cat.ShortDesc='DC',0, pl.IncrSales) PlanIncrSales
		,IIF(cat.ShortDesc='DC',0,pl.NormalSales+pl.IncrSales) PlanTotSales
		,IIF(cat.ShortDesc='DC',0,pl.Roi) PlanRoi
		,IIF(cat.ShortDesc='DC',0,pl.CostRatio) PlanCostRatio
		,tcr.[Description] descstatus
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100))))) LastStatus
		,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(appr.ActionDate as varchar), CAST(appr.RequestDate as varchar)))) LastStatusDate
		,pr.CategoryId -- isu E2#38
		,pr.CategoryShortDesc
		,1 approvalCycle
	FROM #temp_promo tpr
	INNER JOIN tbtrx_promo pr on tpr.id=pr.Id
	LEFT JOIN tbtrx_promo_calculator prcal ON pr.Id=prcal.PromoId
	LEFT JOIN @Temp a ON a.BudgetId=pr.AllocationId
	LEFT JOIN tbmst_category cat on pr.CategoryId=cat.Id
	LEFT JOIN tbtrx_promo_planning pl on pr.PromoPlanId=pl.Id
	INNER JOIN tbtrx_promo_request_approval r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0 -- EDJ 2020-06-08
	INNER JOIN tbtrx_promo_approval appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
    LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
	LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
	LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
	LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	LEFT JOIN tbset_user uo on uo.Id=usr.UserId
	LEFT JOIN tbset_user uf on uf.Id=usr.UserId
	LEFT JOIN
		(
			SELECT AllocationId,
				STUFF(
						(SELECT ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
		) channel ON c.Id = channel.AllocationId
	INNER JOIN 
		(
			SELECT Id, max(categorystatus)categorystatus from 
				(
					SELECT pr.id
						,case 
						when description='precaution' AND
							CASE WHEN
								  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
							END <=daysto then [category]
						when description='warning' and
							CASE WHEN
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
							  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
							END >=daysfrom 
							AND
							CASE WHEN
							  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
							  DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
							END <=daysto then [category]
						when description='critical' AND 
							CASE WHEN
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
							ELSE 
								DATEDIFF(day,appr.RequestDate,getdate()) 
								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
						  END >=daysfrom  then [category]
					end as categorystatus
				from tbtrx_promo pr
				INNER JOIN tbtrx_promo_request_approval r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
				INNER JOIN tbtrx_promo_approval appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
				cross join tbset_config_reminder
			)a group by a.Id
		) conf ON pr.id=conf.id
		INNER JOIN tbset_config_reminder tcr on conf.categorystatus=tcr.category 
		LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
	WHERE
	IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
	AND isnull(pr.IsCancel,0)=0
	AND isnull(pr.IsCancelLocked,0)=0
	AND isnull(pr.IsClose,0)=0

	--ORDER BY pr.Id

--UNION ALL

--	SELECT DISTINCT
--		pr.Id PromoId
--		,r.Id RequestId
--		,appr.RequestDate
--		,pr.RefId
--		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
--		,CASE WHEN
--			DATEDIFF(day,appr.RequestDate,getdate()) 
--			-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--			-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--			-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
--		ELSE 
--			DATEDIFF(day,appr.RequestDate,getdate()) 
--			-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--			-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--			-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
--		END AgingApproval			
--		,pr.StartPromo
--		,pr.EndPromo	  
--		,pr.CreateBy [Initiator] 
--		,pr.CreateOn
--		,IIF(pr.Investment=0, prcal.cost, pr.Investment) Investment
--		,IIF(cat.ShortDesc='DC',0, pr.NormalSales + pr.IncrSales) TotalSales
--		,IIF(cat.ShortDesc='DC','---', pr.tscoding)tscoding
--		,pl.Investment PlanInvestment
--		,IIF(cat.ShortDesc='DC',0, cast(format(round(pl.NormalSales,0),'#') as bigint)) PlanNormalSales
--		,IIF(cat.ShortDesc='DC',0, pl.IncrSales) PlanIncrSales
--		,IIF(cat.ShortDesc='DC',0,pl.NormalSales+pl.IncrSales) PlanTotSales
--		,IIF(cat.ShortDesc='DC',0,pl.Roi) PlanRoi
--		,IIF(cat.ShortDesc='DC',0,pl.CostRatio) PlanCostRatio
--		,tcr.[Description] descstatus
--		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar)
--			, IIF(pr.StatusApprovalCoderecon='TP2',pr.LastStatusrecon + '-' + CAST(uf.username as varchar)
--			, IIF(pr.StatusApprovalCoderecon='TP3', CAST(pr.LastStatusrecon as varchar), CAST(pr.LastStatusrecon as varchar(100))))) LastStatus
--		,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCoderecon='TP2', CAST(pr.ApproveOnrecon as varchar), IIF(pr.StatusApprovalCoderecon='TP3', CAST(appr.ActionDate as varchar), CAST(appr.RequestDate as varchar)))) LastStatusDate
--		,pr.CategoryId -- isu E2#38
--		,pr.CategoryShortDesc
--		,2 approvalCycle
--	FROM #temp_promo_recon tpr
--	INNER JOIN tbtrx_promo pr on tpr.id=pr.Id
--	LEFT JOIN tbtrx_promo_calculator prcal ON pr.Id=prcal.PromoId
--	LEFT JOIN @Temp a ON a.BudgetId=pr.AllocationId
--	LEFT JOIN tbmst_category cat on pr.CategoryId=cat.Id
--	LEFT JOIN tbtrx_promo_planning pl on pr.PromoPlanId=pl.Id
--	INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0 -- EDJ 2020-06-08
--	INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
--    LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
--	LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
--	LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
--	LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
--	LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
--	LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
--	LEFT JOIN tbset_user uo on uo.Id=usr.UserId
--	LEFT JOIN tbset_user uf on uf.Id=usr.UserId
--	LEFT JOIN
--		(
--			SELECT AllocationId,
--				STUFF(
--						(SELECT ',' + chn.LongDesc 
--							from tbtrx_allocation_channel a
--							join tbmst_channel chn
--							ON a.ChannelId=chn.Id
--							where a.AllocationId=b.AllocationId
--							FOR XML PATH ('')),1,1,'') AS ChannelDesc
--					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
--		) channel ON c.Id = channel.AllocationId
--	INNER JOIN 
--		(
--			SELECT Id, max(categorystatus)categorystatus from 
--				(
--					SELECT pr.id
--						,case 
--						when description='precaution' AND
--							CASE WHEN
--								  DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
--							ELSE 
--								DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
--							END <=daysto then [category]
--						when description='warning' and
--							CASE WHEN
--								DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
--							ELSE 
--							  DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
--							END >=daysfrom 
--							AND
--							CASE WHEN
--							  DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
--							ELSE 
--							  DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
--							END <=daysto then [category]
--						when description='critical' AND 
--							CASE WHEN
--								DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
--							ELSE 
--								DATEDIFF(day,appr.RequestDate,getdate()) 
--								-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
--								-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
--								-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
--						  END >=daysfrom  then [category]
--					end as categorystatus
--				from tbtrx_promo pr
--				INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
--				INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
--				cross join tbset_config_reminder
--			)a group by a.Id
--		) conf ON pr.id=conf.id
--		INNER JOIN tbset_config_reminder tcr on conf.categorystatus=tcr.category 
--		LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
--	WHERE
--	IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
--	AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
--	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
--	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
--	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
--	AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
--	AND isnull(pr.IsCancel,0)=0
--	AND isnull(pr.IsCancelLocked,0)=0
--	AND isnull(pr.IsClose,0)=0
--	--ORDER BY pr.Id


    DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo
    DROP TABLE IF EXISTS #temp_promo_recon

END
GO
