

/****** Object:  StoredProcedure [dbo].[ip_dashboard_trend_promo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dashboard_trend_promo] --'2020-01-01','kammidi',0,'0','0'
@periode datetime,
@userid varchar(50),
@entity int,
@channel AttributeType READONLY,
@account AttributeType READONLY
AS

BEGIN
--DECLARE
--@periode datetime,
--@userid varchar(50),
--@entity int,
--@channel AttributeType,
--@account AttributeType

--set @periode ='2020-12-31'
--set @userid ='admin'
--set @entity =0
--insert into @channel (id) values(0)
--insert into @account (id) values(0)

	DECLARE
		@year varchar(4)
	DECLARE @channel_list AttributeType;
	DECLARE @account_list AttributeType;

	DECLARE @alloc as table
	(
		allocationid int
	)

	INSERT INTO @alloc
		SELECT AllocationId from vw_budget_vs_user
		WHERE IIF(@userid='0','',id) =IIF(@userid='0','',@userid)

	DECLARE @Temp TABLE(monthnumber int, periode VARCHAR(8), Late decimal(18,2), OnTime decimal(18,2))

	SET @year=year(@periode)
	DECLARE @init_channel varchar(50), @init_account varchar(50);
	SET @init_channel=(SELECT id FROM @channel WHERE id=0);
	SET @init_account=(SELECT id FROM @account WHERE id=0);
	IF(@init_channel=0)
	BEGIN
		INSERT INTO @channel_list (id)
			SELECT id FROM tbmst_channel tc WHERE isnull(tc.isdelete, 0) = 0;
	END
	ELSE
	BEGIN
		INSERT INTO @channel_list (id)
			SELECT id FROM @channel WHERE id NOT IN (0)
	END

	IF(@init_account=0)
	BEGIN
		INSERT INTO @account_list (id)
			SELECT id FROM tbmst_subaccount ts WHERE isnull(ts.isdelete, 0) = 0;
	END
	ELSE
	BEGIN
		INSERT INTO @account_list (id)
			SELECT id FROM @account WHERE id NOT IN (0)
	END


	INSERT INTO @Temp VALUES
		(1, 'Jan ' + @year, 0.00, 0.00), (2, 'Feb ' + @year, 0.00, 0.00), (3, 'Mar ' + @year, 0.00, 0.00), (4, 'Apr ' + @year, 0.00, 0.00), (5, 'May ' + @year, 0.00, 0.00), (6, 'Jun ' + @year, 0.00, 0.00)
		,(7, 'Jul ' + @year, 0.00, 0.00), (8, 'Aug ' + @year, 0.00, 0.00), (9, 'Sep ' + @year, 0.00, 0.00), (10, 'Oct ' + @year, 0.00, 0.00), (11, 'Nov ' + @year, 0.00, 0.00), (12, 'Dec ' + @year, 0.00, 0.00)

	UPDATE b SET b.Late = promo.Late, b.OnTime = promo.OnTime
	--SELECT b.monthnumber, b.period, b.Late, b.OnTime, promo.period, promo.Late, promo.OnTime
		FROM @Temp b INNER JOIN
		(
			SELECT period, sum(Late)/(sum(Late)+sum(ontime)) as Late, sum(OnTime)/(sum(Late)+sum(ontime)) as OnTime
			FROM
			(
				SELECT
			--		CONVERT(CHAR(4), tp.StartPromo, 120) + CONVERT(CHAR(2), tp.StartPromo, 22) AS period
					CONVERT(CHAR(4), tp.StartPromo, 100) + CONVERT(CHAR(4), tp.StartPromo, 120) AS period
					, tp.CreateOn, tp.StartPromo
					,datediff(day, tp.CreateOn, tp.StartPromo) as days
					,CASE WHEN datediff(day, tp.CreateOn, tp.StartPromo)<30 THEN cast(1.00 as decimal(10,2)) ELSE cast(0.00 as decimal(10,2)) END AS Late
					,CASE WHEN datediff(day, tp.CreateOn, tp.StartPromo)<30 THEN cast(0.00 as decimal(10,2)) ELSE cast(1.00 as decimal(10,2)) END AS OnTime
--					,CASE WHEN datediff(day, tp.CreateOn, tp.StartPromo)<30 THEN 1.00 ELSE 0.00 END AS Late
--					,CASE WHEN datediff(day, tp.CreateOn, tp.StartPromo)<30 THEN 0.00 ELSE 1.00 END AS OnTime
					FROM tbtrx_promo tp
					INNER JOIN @alloc alc ON tp.AllocationId = alc.AllocationId
					INNER JOIN tbtrx_promo_channel tpc ON tp.id = tpc.PromoId
					INNER JOIN tbtrx_promo_subaccount tps ON tp.id = tps.PromoId
					INNER JOIN @channel_list cl ON tpc.ChannelId = cl.id
					INNER JOIN @account_list al ON tps.SubAccountId = al.id
					WHERE CONVERT(CHAR(4), tp.StartPromo, 120) = @year
			) z GROUP BY z.period
		) promo ON TRIM(b.periode)=TRIM(promo.period)

	SELECT monthnumber, periode period, Late, OnTime FROM @Temp
END
GO
