USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_sendtoho]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dn_sendtoho]
@id ArrayIntType READONLY
as
begin
	UPDATE a
	set LastStatus='DN2'
	FROM tbtrx_debetnote a
	INNER JOIN @id b on a.Id=b.keyid
end
GO
