USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_volume_upload]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_volume_upload] 
	@profileid varchar(50),
	@email varchar(100),
	@ssvolume SSVolumeType READONLY
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE 
--	@profileid varchar(50),
--	@email varchar(100),
--	@ssvolume SSVolumeType

--SET @profileid = 'xvamain'
--SET @email ='edy.admin@xvautomation.com'

--INSERT INTO @ssvolume(period,channel,subchannel,account,subaccount,region,groupbrand,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12)
----VALUES	(2025,'MMKA','MMKA','ALFAMART','ALFAMART','Region - All','SGM',1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011)
--VALUES	(2025,'MMKA','MMKA','ALFAMART','ALFAMART','Region - All','SGM',1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012)


DROP TABLE IF EXISTS tempSSVolumeType
select * INTO tempSSVolumeType from @ssvolume

BEGIN 
	DROP TABLE IF EXISTS #ss123
	SELECT ROW_NUMBER() OVER(ORDER BY channel ASC, groupbrand ASC) AS RowID, * into #ss123 FROM @ssvolume

    DECLARE @temp as TABLE
    (
         doc varchar(255),
         [status] varchar(255)
	)

	DECLARE @tbfailed TABLE
	( 
		[RowId] INT,
		[channel] varchar (255),
		[subchannel] varchar (255),
		[account] varchar (255),
		[subaccount] varchar (255),
		[region] varchar (255),
		[groupbrand] varchar (255)
	)

	/*channel validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.channel
		,'Channel not found'
	FROM #ss123 a
	LEFT JOIN tbmst_channel b WITH (NOLOCK) ON a.channel = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN tbmst_channel b WITH (NOLOCK) ON a.channel = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	/*sub channel validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.subchannel
		,'Sub channel not found'
	FROM #ss123 a
	LEFT JOIN tbmst_subchannel b WITH (NOLOCK) ON a.subchannel = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN tbmst_subchannel b WITH (NOLOCK) ON a.subchannel = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	/*account validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.account
		,'Account not found'
	FROM #ss123 a
	LEFT JOIN tbmst_account b WITH (NOLOCK) ON a.account = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN tbmst_account b WITH (NOLOCK) ON a.account = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	/*sub account validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.subaccount
		,'Sub account not found'
	FROM #ss123 a
	LEFT JOIN tbmst_subaccount b WITH (NOLOCK) ON a.subaccount = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN tbmst_subaccount b WITH (NOLOCK) ON a.subaccount = b.longdesc AND isnull(b.isdelete, 0) = 0
	WHERE b.longdesc IS NULL

	/*hirarki account validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		CONCAT(a.channel, '-', a.subchannel, '-', a.account, '-', a.subaccount)
		,'Hierarchy account not match'
	FROM #ss123 a
	LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel = b.SubChannelDesc AND a.account = b.AccountDesc AND a.subaccount = b.SubAccountDesc
	WHERE b.SubAccountDesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel = b.SubChannelDesc AND a.account = b.AccountDesc AND a.subaccount = b.SubAccountDesc
	WHERE b.SubAccountDesc IS NULL

	/*region validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.region
		,'Region not found'
	FROM #ss123 a
	LEFT JOIN tbmst_region b WITH (NOLOCK) ON a.region = b.longdesc AND isnull(b.IsDelete, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN tbmst_region b WITH (NOLOCK) ON a.region = b.longdesc AND isnull(b.IsDelete, 0) = 0
	WHERE b.longdesc IS NULL

	/*groupbrand validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.groupbrand
		,'Group brand not found'
	FROM #ss123 a
	LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.IsDeleted, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.channel
		,a.subchannel
		,a.account
		,a.subaccount
		,a.region
		,a.groupbrand
	FROM #ss123 a
	LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.IsDeleted, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO tbtrx_ss_volume
	(
		period
		,channelid
		,subchannelid
		,accountid
		,subaccountid
		,regionid
		,groupbrandid
		,m1
		,m2
		,m3
		,m4
		,m5
		,m6
		,m7
		,m8
		,m9
		,m10
		,m11
		,m12
		,CreatedBy
		,CreatedEmail
		,CreatedOn
	)
	SELECT 
		a.period
		, b.id channelid
		, ms.id subchannelid
		, ma.id accountid
		, msa.id subaccountid
		, mr.id regionid
		, c.id groupbrandid
		, a.m1
		, a.m2
		, a.m3
		, a.m4
		, a.m5
		, a.m6
		, a.m7
		, a.m8
		, a.m9
		, a.m10
		, a.m11
		, a.m12
		, @profileid
		, @email
		, @utcDate123
	FROM #ss123 a
	INNER JOIN tbmst_channel b ON a.channel = b.LongDesc AND isnull(b.isdelete, 0) = 0
	INNER JOIN tbmst_subchannel ms ON a.subchannel = ms.LongDesc AND isnull(ms.isdelete, 0) = 0
	INNER JOIN tbmst_account ma ON a.account = ma.LongDesc AND isnull(ma.isdelete, 0) = 0
	INNER JOIN tbmst_subaccount msa ON a.subaccount = msa.LongDesc AND isnull(msa.isdelete, 0) = 0
	INNER JOIN tbmst_region mr ON a.region= mr.LongDesc AND isnull(mr.isdelete, 0) = 0
	INNER JOIN tbmst_brand_group c ON a.groupbrand = c.LongDesc AND isnull(c.isdeleted, 0) = 0
	LEFT JOIN tbtrx_ss_volume d ON a.period = d.period AND b.id = d.channelid AND ms.id = d.subchannelid AND ma.id=d.accountid AND msa.id = d.subaccountid AND mr.id = d.regionid AND c.id = d.groupbrandid
	WHERE a.RowID NOT IN (SELECT RowId FROM @tbfailed)
	AND d.period IS NULL

	UPDATE d
	SET d.m1 = a.m1
		,d.m2 = a.m2
		,d.m3 = a.m3
		,d.m4 = a.m4
		,d.m5 = a.m5
		,d.m6 = a.m6
		,d.m7 = a.m7
		,d.m8 = a.m8
		,d.m9 = a.m9
		,d.m10 = a.m10
		,d.m11 = a.m11
		,d.m12 = a.m12
		,d.ModifiedBy = @profileid
		,d.ModifiedEmail = @email
		,d.ModifiedOn = @utcDate123
	FROM #ss123 a
	INNER JOIN tbmst_channel b ON a.channel = b.LongDesc AND isnull(b.isdelete, 0) = 0
	INNER JOIN tbmst_subchannel ms ON a.subchannel = ms.LongDesc AND isnull(ms.isdelete, 0) = 0
	INNER JOIN tbmst_account ma ON a.account = ma.LongDesc AND isnull(ma.isdelete, 0) = 0
	INNER JOIN tbmst_subaccount msa ON a.subaccount = msa.LongDesc AND isnull(msa.isdelete, 0) = 0
	INNER JOIN tbmst_region mr ON a.region = mr.LongDesc AND isnull(mr.isdelete, 0) = 0
	INNER JOIN tbmst_brand_group c ON a.groupbrand = c.LongDesc AND isnull(c.isdeleted, 0) = 0
	LEFT JOIN tbtrx_ss_volume d ON a.period = d.period AND b.id = d.channelid AND ms.id = d.subchannelid AND ma.id=d.accountid AND msa.id = d.subaccountid AND mr.id = d.regionid AND c.id = d.groupbrandid
	WHERE a.RowID NOT IN (SELECT RowId FROM @tbfailed)

	DECLARE @totUpload INT, @totFailed INT, @totSuccess INT

	SET @totUpload = (SELECT COUNT(RowId) FROM #ss123)	
	SET @totFailed = (select count(a.rowid) FROM (select rowid from @tbfailed group by rowid) a)
	SET @totSuccess = @totUpload - @totFailed

	SELECT * 
	FROM @temp

	SELECT @totUpload totUpload, @totFailed totFailed, @totSuccess totSuccess

	--/* result promo */
	--SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approverRecon approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.ApproverRecon=b.Id
	--where pr.period = 2025
	--and pr.id IN (3691,3681)
	--UNION ALL
	--SELECT pr.id promoId, pr.refid, pr.CreateBy userNameInitiator, pr.Approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.Approver=b.Id
	--where pr.period = 2025
	--and pr.id IN (3683,3693)
	EXEC [dbo].[ip_ss_volume_upload_promo_update] @ssvolume = @ssvolume


END
GO
