USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_viewmap_account]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_viewmap_account]
as
SELECT
	c.Id AS ChannelId, s.Id AS SubChannelId, ac.Id AS AccountId, a.Id AS SubAccountId, 
	a.RefId AS ChannelRefID, ac.RefId AS SubChannelRefID, s.RefId AS AccountRefID, c.RefId AS SubAccountRefID,
	c.LongDesc AS ChannelDesc, s.LongDesc AS SubChannelDesc, ac.LongDesc AS AccountDesc, a.LongDesc AS SubAccountDesc, 
	d.sapcode
FROM
	dbo.tbmst_subaccount AS a 
	INNER JOIN dbo.tbmst_account AS ac ON ac.Id = a.AccountId
	INNER JOIN dbo.tbmst_subchannel AS s ON s.Id = ac.SubChannelId
	INNER JOIN dbo.tbmst_channel AS c ON c.Id = s.ChannelId
	left join tbset_map_subaccount_sap d on a.Id=d.subaccountid
GO
