

/****** Object:  StoredProcedure [dbo].[ip_recalculate_balance_bal]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_recalculate_balance_bal] --17
@budgetid int
AS

BEGIN TRY
	
UPDATE BAL
SET BAL.Useamount=ISNULL(CHILD.BudgetAmount,0)
FROM tbtrx_allocation_balance BAL
INNER JOIN tbtrx_allocation PARENT ON BAL.AllocationId=PARENT.Id
	LEFT JOIN
	(
			SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
			INNER JOIN
			(
				SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
				LEFT JOIN
					tbtrx_budgetassignment
				ON
					tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
			) B
			ON A.BudgetSourceId=B.Id
				and A.BudgetType='BTR'
			where 
			A.IsActive=1 GROUP BY B.AllocationId
	) CHILD ON BAL.AllocationId=CHILD.AllocationId 
	WHERE PARENT.BudgetType='BAL' AND PARENT.id=@budgetid


END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH
GO
