USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_vat_expired_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_vat_expired_update]
@userid varchar(50),
@id int,
@VATExpired int
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin
	DECLARE @promoid int;
	SET @promoid=(select promoid from tbtrx_debetnote WHERE id=@id)
	
    UPDATE tbtrx_debetnote SET VATExpired=@VATExpired WHERE id=@id
    INSERT INTO tbhis_debetnote_vatexpired_log(parentid, actionon, actionby, vatexpired)
    VALUES(@id,@utcDate123,@userid,@VATExpired)
    
    exec ip_dn_overbudget_by_prommoid @promoid
end
GO
