USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_cancel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_planning_cancel] --1001,'TP2','admin'
@promoplanid int,
@reason varchar(255),
@userid varchar(50)

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION


declare 
@promoplanrefid varchar(50)
,@notes varchar(255)
,@messageout varchar(255)



SELECT 
@promoplanrefid=refid
FROM tbtrx_promo_planning where Id=@promoplanid

UPDATE tbtrx_promo_planning 
SET IsCancel=1
,CancelOn=@utcDate123
,CancelBy=@userid
,CancelNotes=@reason
WHERE Id=@promoplanid


select 1 as bool,@promoplanid as [Id],@promoplanrefid as [RefId], 200 as [statuscode]

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH



GO
