

/****** Object:  StoredProcedure [dbo].[ip_select_subcategory_byuser]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_select_subcategory_byuser] --'scsh1'
	-- Add the parameters for the stored procedure here
	@userid			VARCHAR(50)
AS

/*
	LGP 2020-03-31 add shortcategorydesc
*/

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 
		a.CategoryId,
		ctg.ShortDesc CategoryShortDesc,
		ctg.LongDesc CategoryLongDesc,
		a.Id,
		a.LongDesc,
		isnull(a.ShortDesc,'') as ShortDesc
	FROM [dbo].[tbmst_subcategory] a WITH(NOLOCK)
	inner join tbmst_category ctg WITH (NOLOCK) on a.CategoryId=ctg.Id
	inner join tbtrx_allocation_detail b WITH(NOLOCK) on a.Id=b.SubCategoryId
	inner join tbtrx_allocation c WITH(NOLOCK) on b.AllocationId=c.Id
	inner join tbtrx_allocation_useraccess d WITH(NOLOCK) on c.Id=d.AllocationId
	WHERE a.IsActive=1 
		AND IIF(@userid='0','0',@userid)=IIF(@userid='0','0',d.userid)
	group by
	a.CategoryId,
	a.Id,
	a.LongDesc,
	a.ShortDesc,
	ctg.ShortDesc,
	ctg.LongDesc
			

END



GO
