USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_budget_with_attribute]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_budget_with_attribute]
@Allocation ImportAllocationType READONLY,
@Derivative ImportDerivativeType READONLY,
@Account ImportAccountType READONLY,
@AllocationUser ImportAllocationUserType READONLY,
@DerivativeUser ImportDerivativeUserType READONLY,
@Region ImportRegionType READONLY,
@Brand ImportBrandType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()


--declare
--@Allocation ImportAllocationType ,
--@Derivative ImportDerivativeType ,
--@Account ImportAccountType ,
--@AllocationUser ImportAllocationUserType ,
--@DerivativeUser ImportDerivativeUserType ,
--@Region ImportRegionType ,
--@Brand ImportBrandType ,
--@userid varchar(50)


BEGIN TRY

declare @messageout varchar(max)

delete from TempImportAllocationType
INSERT INTO TempImportAllocationType
SELECT * FROM @Allocation

delete from TempImportDerivativeType
INSERT INTO TempImportDerivativeType
SELECT * FROM @Derivative

delete from TempImportAccountType
INSERT INTO TempImportAccountType
SELECT * FROM @Account


delete from TempImportAllocationUserType
INSERT INTO TempImportAllocationUserType
SELECT * FROM @AllocationUser

delete from TempImportDerivativeUserType
INSERT INTO TempImportDerivativeUserType
SELECT * FROM @DerivativeUser

delete from TempImportRegionType
INSERT INTO TempImportRegionType
SELECT * FROM @Region

delete from TempImportBrandType
INSERT INTO TempImportBrandType
SELECT * FROM @Brand

/************************************************/
declare @recalc_id int
DECLARE cur_recalc_id CURSOR
FOR 
	SELECT b.id FROM TempImportDerivativeType a
		inner join tbtrx_allocation b on a.AssignDesc=b.LongDesc;
 
OPEN cur_recalc_id;
 
FETCH NEXT FROM cur_recalc_id INTO 
    @recalc_id; 
     
WHILE @@FETCH_STATUS = 0
    BEGIN
		
		exec ip_recalculate_balance_by_id @recalc_id
        
        FETCH NEXT FROM cur_recalc_id INTO 
            @recalc_id; 
    END;
 
CLOSE cur_recalc_id;
 
DEALLOCATE cur_recalc_id;
/************************************************/

BEGIN TRANSACTION



declare @rowcount int

declare @errtemp as table
(
	budget varchar(255),
	[status] varchar(255)
)




insert into @errtemp
SELECT BudgetParent,'Total detail <> Budget Parent' as [status]
FROM
(
SELECT BudgetParent,TotalAssignmentAmount,SUM(AssignAmount) AssignDetail  
FROM @Derivative
GROUP BY BudgetParent,TotalAssignmentAmount
) X WHERE TotalAssignmentAmount < AssignDetail



DECLARE 
    @budgetname VARCHAR(MAX)

declare 
			@usedamount numeric(19,0)
			,@newamount numeric(19,0)
			,@currentamount numeric(19,0)

			,@detailnewamount numeric(19,0)
			,@detailcurrentamount numeric(19,0)
			

DECLARE 
    @BudgetParent VARCHAR(255), 
    @TotalAssignmentAmount   numeric(18,0),
	@AssignTo varchar(255),
	@AssignDesc varchar(255),
	@AssignAmount numeric(18,0),
	@SubCategory varchar(255),
	@Activity varchar(255),
	@SubActivity varchar(255),
	@Approval varchar(255);

DECLARE
	@assignmentid int,
	@assignmentdetailid int,
	@allocationid int,
	@BudgetParentId int,
	@subcategoryid int,
	@remainingbudget numeric(19,0),
	@useamount numeric(19,0),
	@spendingpromo numeric(19,0) 


/*******************
PROSES INSERT BUDGET BARU
********************/

DECLARE cursor_allocation CURSOR
FOR SELECT 
        BudgetDesc
        
    FROM 
        @Allocation;
 
OPEN cursor_allocation;
 
FETCH NEXT FROM cursor_allocation INTO 
    @budgetname; 
    
 
WHILE @@FETCH_STATUS = 0
    BEGIN
        --PRINT @budgetname ;

		/********************
		CREATE BUDGET MASTER
		********************/
		IF NOT EXISTS(SELECT * from tbtrx_budgetmaster where LongDesc=@budgetname)
		BEGIN
			INSERT INTO tbtrx_budgetmaster(
			Periode	
			,DistributorId
			,PrincipalId
			,OwnerId
			,CategoryId
			,StartDate
			,EndDate
			,BudgetAmount
			,IsAllocated
			,LongDesc
			,IsActive
			,CreateOn
			,CreateBy
			)
			SELECT 
			Periode
			,d.Id DistributorId
			,p.Id PrincipalId
			,[Owner] OwnerId
			,c.Id CategoryId
			,DATEADD(yy, DATEDIFF(yy, 0, Periode), 0) StartDate
			,DATEADD (dd, -1, DATEADD(yy, DATEDIFF(yy, 0, Periode) +1, 0)) EndDate	
			,BudgetAmount
			,0
			,BudgetDesc LongDesc
			,1
			,@utcDate123
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_category c on c.LongDesc=a.Category
			where a.BudgetDesc=@budgetname
		END
		


		/**********************
		CREATE BUDGET ALLOCATION (BAL)
		**********************/
		IF NOT EXISTS(SELECT Id from tbtrx_allocation where LongDesc=@budgetname)
		BEGIN
			INSERT INTO tbtrx_allocation
           ([Periode]
           ,[BudgetType]
        ,[DistributorId]
           ,[OwnerId]
           ,[FromOwnerId]
           ,[BudgetMasterId]
           ,[BudgetSourceId]           
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]
           ,[StatusApproval]
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
		    SELECT 
			a.Periode
			,'BAL'
			,d.Id DistributorId
			,[Owner] 
			,[Owner] 
			,m.Id BudgetMasterId
			,m.Id BudgetSourceId
			,a.BudgetAmount
			,BudgetDesc LongDesc					
			,''
			,'AP2'
			,1
			,0
			,@utcDate123
			,[Owner]			
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname

			UPDATE tbtrx_budgetmaster
			SET IsAllocated=1
			WHERE LongDesc=@budgetname

		/***********************
		ALLOCATION DETAIL (BAL)
		************************/
		IF NOT EXISTS(
			SELECT AllocationId from tbtrx_allocation_detail a
			inner join @Allocation b on a.LongDesc=b.BudgetDesc
			WHERE b.BudgetDesc=@budgetname
		)
		BEGIN
			INSERT INTO tbtrx_allocation_detail
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
		   SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,''
			,1
			,0
			,@utcDate123
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname


			/**********************************
			HISTORICAL 
			**********************************/
			INSERT INTO tbtrx_allocation_request_approval
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
		   ,[PrevAmount]
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
		   ,[IsRecon]
           ,[CreateOn]
      ,[CreateBy]
		   ,[ModifiedOn]
           ,[ModifiedBy]
          )
		   SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,0
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,''
			,1
			,0
			,1
           ,alc.[CreateOn]
           ,alc.[CreateBy]
		   ,alc.[ModifiedOn]
           ,alc.[ModifiedBy]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname


			INSERT INTO tbtrx_allocation_balance(
			AllocationId
			,SubCategoryId
			,InitialAmount
			,ReserveAmount
			,UseAmount
			,CreateOn
			,CreateBy)
			SELECT 
			alc.Id AllocationId			
			,sc.Id SubCategoryId	
			,a.BudgetAmount
			,0
			,0
			,@utcDate123
			,alc.OwnerId			
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			WHERE a.BudgetDesc=@budgetname

		END
		
		END
        FETCH NEXT FROM cursor_allocation INTO 
            @budgetname; 
    END;
 
CLOSE cursor_allocation;
 
DEALLOCATE cursor_allocation;


/******************/


/**********************
PROSES DERIVATIVE BUDGET
**********************/ 

DECLARE cursor_product CURSOR
FOR SELECT 
        BudgetParent 
        ,TotalAssignmentAmount
		,AssignTo
		,AssignDesc
		,AssignAmount
		,SubCategory
		,Activity
		,SubActivity
		,Approval
    FROM 
        @Derivative 
	LEFT JOIN @errtemp  on BudgetParent=budget
	WHERE budget is null;
 
OPEN cursor_product;
 
FETCH NEXT FROM cursor_product INTO 
    @BudgetParent, 
    @TotalAssignmentAmount,
	@AssignTo,
	@AssignDesc,
	@AssignAmount,
	@SubCategory,
	@Activity,
	@SubActivity,
	@Approval;
 
WHILE @@FETCH_STATUS = 0
    BEGIN
 


	--IF NOT EXISTS(SELECT Id from tbtrx_allocation where LongDesc=@BudgetParent)
	--begin
	--	INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Parent Not Found !')
	--end


	SET @spendingpromo=
	(
		SELECT SUM(Investment) 
		FROM tbtrx_promo a WITH (NOLOCK)
		inner join tbtrx_allocation b WITH (NOLOCK) ON a. AllocationId=b.Id
		where isnull(a.IsCancel,0)=0 and isnull(IsClose, 0)=0 and b.LongDesc=@AssignDesc
	)
	/*********************/


	if @AssignAmount < @spendingpromo 
	begin
		INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Amount must be greater than spending promo !')
	end
	else
	begin


		SET @BudgetParentId=(SELECT Id from tbtrx_allocation where LongDesc=@BudgetParent)
    
		SET @assignmentid=(SELECT Id from tbtrx_budgetassignment where RefId=@BudgetParent);

		IF @assignmentid is null
				BEGIN
					INSERT INTO tbtrx_budgetassignment
						([RefId]
						,[BudgetId]
						,[FrownId]
						,[AllocationId]
						,[BudgetAmount]
						,[IsActive]
						,[IsLocked]
						,[CreateOn]
						,[CreateBy]
						)
					SELECT DISTINCT
					@BudgetParent AssignmentRefId
					,al.BudgetMasterId
					,al.OwnerId AssignFromUser
					,al.Id AllocationId
					,@TotalAssignmentAmount
					,1
					,0
					,@utcDate123
					,@AssignTo
					FROM tbtrx_allocation al where al.LongDesc=@Budgetparent;

					SET @assignmentid=(SELECT SCOPE_IDENTITY())
				END
				ELSE
				BEGIN

					UPDATE tbtrx_budgetassignment
					SET
					BudgetAmount= @TotalAssignmentAmount
					,ModifiedBy=@AssignTo
					,ModifiedOn=@utcDate123
					WHERE
					Id=@assignmentid

				END


				IF @assignmentid is not null
					BEGIN	
					SET @assignmentdetailid=(SELECT Id from tbtrx_budgetassignment_detail where [Desc]=@AssignDesc)

					IF @assignmentdetailid is null
					BEGIN
						INSERT INTO tbtrx_budgetassignment_detail
						([AssignmentId]
						,[RefId]
						,[OwnId]
						,[Desc]
						,[BudgetAmount]
						,[IsAllocated]
						,[IsActive]
						,[IsLocked]
						,[CreateOn]
						,[CreateBy]
						)
						SELECT
						 @assignmentid
						,@AssignDesc RefId
						,@AssignTo OwnId
						,@AssignDesc [Desc]
						,@AssignAmount [BudgetAmount]
						,0 IsAllocated
						,1 IsActive
						,0 IsLocked
						,@utcDate123 CreateOn
						,@AssignTo CreateBy
/*[221121]*/
						SET @assignmentdetailid=(SELECT SCOPE_IDENTITY())
					END
					ELSE
					BEGIN
						UPDATE tbtrx_budgetassignment_detail
						SET BudgetAmount=@AssignAmount,
						[Desc]=@AssignDesc,
						OwnId=@AssignTo,
						ModifiedBy=@AssignTo,
						ModifiedOn=@utcDate123
						WHERE Id=@assignmentdetailid
					END	

/* move to INSERT block [221121]
					SET @assignmentdetailid=(SELECT SCOPE_IDENTITY())
*/


					SET @allocationid=(SELECT Id from tbtrx_allocation where LongDesc=@AssignDesc)

					IF @allocationid is null
					BEGIN
						INSERT INTO tbtrx_allocation
						([Periode]           
						,[BudgetType]
						,[DistributorId]
						,[OwnerId]
						,[FromOwnerId]
						,[BudgetMasterId]
						,[BudgetSourceId]           
						,[BudgetAmount]
						,[LongDesc]           
						,[StatusApproval]           
						,[CreateOn]
						,[CreateBy]
						)
						SELECT 
						m.Periode	
						,'BTR' BudgetType
						,m.DistributorId
						,td.OwnId OwnerId
						,tp.FrownId FromOwnerId
						,tp.BudgetId BudgetMasterId
						,td.Id BudgetSourceId
						,@AssignAmount BudgetAmount 
						,@AssignDesc LongDesc
						,IIF(@Approval='auto','AP2','AP1') StatusApproval
						,@utcDate123 CreateOn
						,@AssignTo CreateBy
						FROM tbtrx_budgetassignment_detail td
						INNER JOIN tbtrx_budgetassignment tp on tp.Id=td.AssignmentId
						INNER JOIN tbtrx_budgetmaster m on tp.BudgetId=m.Id	
						WHERE td.id=@assignmentdetailid

						UPDATE tbtrx_budgetassignment_detail 
						SET IsAllocated=1
						WHERE Id=@assignmentdetailid


						SET @allocationid=(SELECT SCOPE_IDENTITY())

					END
					ELSE
					BEGIN

						UPDATE tbtrx_allocation
						SET BudgetAmount=@AssignAmount	
						,ModifiedBy=@AssignTo
						,ModifiedOn=@utcDate123					
						WHERE Id=@allocationid
						AND BudgetAmount <> @AssignAmount	


						UPDATE tbtrx_allocation
						SET StatusApproval=IIF(@Approval='auto','AP2','AP1')
						,ModifiedBy=@AssignTo
						,ModifiedOn=@utcDate123					
						WHERE Id=@allocationid

					END

					IF NOT EXISTS(SELECT AllocationId from tbtrx_allocation_detail where LongDesc=@AssignDesc)
					BEGIN
						INSERT INTO tbtrx_allocation_detail
							   ([AllocationId]
							   ,[LineIndex]
							   ,[LongDesc]
							   ,[BudgetAmount]
							   ,[SubCategoryId]
							   ,[ActivityId]
							   ,[SubActivityId] 
							   ,[IsActive]
							   ,[IsLocked]
							   ,[CreateOn]
							   ,[CreateBy]
							   )
						SELECT 		
							a.Id AllocationId
							,ROW_NUMBER() OVER(PARTITION BY Id ORDER BY Id) LineIndex
							,LongDesc AllocationDetailDesc
							,@AssignAmount AllocationDetailAmount
							,isnull(ctg.SubCategoryId,0) SubCategoryId
							,isnull(act.ActivityId,0) ActivityId
							,isnull(sact.SubActivityId,0) SubActivityId	
							,1 IsActive
							,0 IsLocked
							,@utcDate123 CreateOn
							,@AssignTo CreateBy
							FROM
							tbtrx_allocation a 
							LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
							LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
							LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
							and @Activity=sact.ActivityDesc 
							and @SubActivity=sact.SubActivityDesc		
							where a.Id=@allocationid


							INSERT INTO tbtrx_allocation_request_approval
							   ([AllocationId]
							   ,[LineIndex]
							   ,[LongDesc]
							   ,[PrevAmount]
							   ,[BudgetAmount]
							   ,[SubCategoryId]
							   ,[ActivityId]
							   ,[SubActivityId] 
							   ,[IsActive]
							   ,[IsLocked]
							   ,[IsRecon]
							   ,[CreateOn]
							   ,[CreateBy]
							   ,[ModifiedOn]
							   ,[ModifiedBy]
							   ,ApproveBy
							   ,ApproveOn
							   )
							SELECT 		
								a.Id AllocationId
								,ROW_NUMBER() OVER(PARTITION BY a.Id ORDER BY a.Id) LineIndex
								,a.LongDesc AllocationDetailDesc
								,0
								,@AssignAmount AllocationDetailAmount
								,isnull(ctg.SubCategoryId,0) SubCategoryId
								,isnull(act.ActivityId,0) ActivityId
								,isnull(sact.SubActivityId,0) SubActivityId	
								,1 IsActive
								,0 IsLocked
								,1
						        ,a.[CreateOn]
							    ,a.[CreateBy]
							    ,a.[ModifiedOn]
							    ,a.[ModifiedBy]
								,IIF(@Approval='auto',
								CASE 
								WHEN b.PrincipalId=3 THEN 'ccnis'
								WHEN b.PrincipalId=4 THEN 'ccnis'
								WHEN b.PrincipalId=2 THEN 'ccsh'
								ELSE
								'admin'
								END,null)
								,IIF(@Approval='auto',@utcDate123,null)
								FROM
								tbtrx_allocation a 
								inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
								LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
								LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
								LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
								and @Activity=sact.ActivityDesc 
								and @SubActivity=sact.SubActivityDesc		
								where a.Id=@allocationid

							INSERT INTO [dbo].[tbtrx_allocation_balance]
						   ([AllocationId]
						   ,[SubCategoryId]
						   ,[InitialAmount]
						   ,[ReserveAmount]
						   ,[UseAmount]
						   ,[CreateOn]
						   ,[CreateBy]
							)
							SELECT 		
							a.Id AllocationId
							,isnull(ctg.SubCategoryId,0) SubCategoryId							
							,@AssignAmount AllocationDetailAmount
							,0
							,0
							,@utcDate123 CreateOn
							,@AssignTo CreateBy
							FROM
							tbtrx_allocation a 
							LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory						
							where a.Id=@allocationid

							UPDATE tbtrx_allocation_balance
							SET ReserveAmount=ReserveAmount + IIF(@Approval='auto',0,@AssignAmount)
							,UseAmount=UseAmount + IIF(@Approval='auto',@AssignAmount,0)
							WHERE AllocationId=@BudgetParentId
					END
					ELSE
					BEGIN

						UPDATE A 
						SET A.BudgetAmount=@AssignAmount
						--,A.SubCategoryId=isnull(ctg.SubCategoryid,0)
						--,A.ActivityId=isnull(act.ActivityId,0)
						--,A.SubActivityId=isnull(sact.SubActivityid,0)
						,ModifiedBy=@AssignTo
						,ModifiedOn=@utcDate123
						FROM tbtrx_allocation_detail A
						LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
						LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on ltrim(rtrim(@SubCategory))=act.SubCategoryDesc and ltrim(rtrim(@activity))=act.ActivityDesc
						LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on ltrim(rtrim(@SubCategory))=sact.SubCategoryDesc 
						and ltrim(rtrim(@Activity))=sact.ActivityDesc 
						and ltrim(rtrim(@SubActivity))=sact.SubActivityDesc			
						WHERE AllocationId=@allocationid

						
						SET @currentamount=(SELECT InitialAmount FROM tbtrx_allocation_balance A
						LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
						WHERE AllocationId=@allocationid 
						and A.SubCategoryId=ctg.SubCategoryId)


						UPDATE A 
						SET A.InitialAmount=@AssignAmount
						FROM tbtrx_allocation_balance A
						LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
						WHERE AllocationId=@allocationid 
						and A.SubCategoryId=ctg.SubCategoryId
						AND A.InitialAmount <> @AssignAmount

						

						--SET @rowcount=(SELECT @@ROWCOUNT)
						--if @rowcount <> 0
						--BEGIN


						--	UPDATE tbtrx_allocation
						--	set StatusApproval='AP1'
						--	,ModifiedBy=@AssignTo
						--	,ModifiedOn=@utcDate123
						--	where Id=@allocationid


						INSERT INTO tbtrx_allocation_request_approval
							([AllocationId]
							,[LineIndex]
							,[LongDesc]
							,[PrevAmount]
							,[BudgetAmount]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId] 
							,[IsActive]
							,[IsLocked]
							,[IsRecon]
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,ApproveBy
							,ApproveOn
							)
						SELECT 		
							a.Id AllocationId
							,ROW_NUMBER() OVER(PARTITION BY a.Id ORDER BY a.Id) LineIndex
							,a.LongDesc AllocationDetailDesc
							,@currentamount
							,@AssignAmount AllocationDetailAmount
							,isnull(ctg.SubCategoryId,0) SubCategoryId
							,isnull(act.ActivityId,0) ActivityId
							,isnull(sact.SubActivityId,0) SubActivityId	
							,1 IsActive
							,0 IsLocked
							,1
							,a.[CreateOn]
							,a.[CreateBy]
							,a.[ModifiedOn]
							,a.[ModifiedBy]
							,IIF(@Approval='auto',
							CASE 
							WHEN b.PrincipalId=3 THEN 'ccnis'
							WHEN b.PrincipalId=4 THEN 'ccnis'
							WHEN b.PrincipalId=2 THEN 'ccsh'
							ELSE
							'admin'
							END,null)
							,IIF(@Approval='auto',@utcDate123,null)
							FROM
							tbtrx_allocation a 
							inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
							LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
							LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
							LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
							and @Activity=sact.ActivityDesc 
							and @SubActivity=sact.SubActivityDesc		
							where a.Id=@allocationid

						--END
						
						/*** RECALCULATE BALANCE****/
						EXEC ip_recalculate_balance_bal @allocationid

					END

				END

	
	
	
	/*****************
	CEK SPENDING DARI DERIVATIVE BUDGET
	*****************/

			UPDATE BAL
			SET BAL.Useamount=IIF(@approval='auto',isnull(CHILD.BudgetAmount,0),0)
			,BAL.ReserveAmount=IIF(@approval='auto',0,isnull(CHILD.BudgetAmount,0))
			FROM tbtrx_allocation_balance BAL
			INNER JOIN tbtrx_allocation PARENT ON BAL.AllocationId=PARENT.Id
			LEFT JOIN
			(
					SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
					INNER JOIN
					(
						SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
						LEFT JOIN
							tbtrx_budgetassignment
						ON
							tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
					) B
					ON A.BudgetSourceId=B.Id
						and A.BudgetType='BTR'
					where 
					A.IsActive=1 GROUP BY B.AllocationId
			) CHILD ON BAL.AllocationId=CHILD.AllocationId
			WHERE PARENT.BudgetType='BTR' AND PARENT.LongDesc=@BudgetParent 
			AND NOT EXISTS 
			(
				SELECT AllocationId FROM tbtrx_promo WHERE AllocationId=PARENT.Id
			)

	/*****************************************/

	end
		FETCH NEXT FROM cursor_product INTO 
        @BudgetParent, 
		@TotalAssignmentAmount,
		@AssignTo,
		@AssignDesc,
		@AssignAmount,
		@SubCategory,
		@Activity,
		@SubActivity,
		@Approval;
    END;





		INSERT INTO @errtemp(budget,[status])
		SELECT AssignDesc,'Budget Exeeded' FROM tbtrx_allocation_balance a 
		inner join tbtrx_allocation b on a.AllocationId=b.Id
		inner join @Derivative c on b.LongDesc=AssignDesc
		where RemainingAmount < 0
	
		--INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Exeeded')
	
 

CLOSE cursor_product;
 
DEALLOCATE cursor_product;
    
/*********************/
 
/******************************
PROSES UPDATE BUDGET ALLOCATION
*******************************/

DECLARE cursor_allocation CURSOR
FOR SELECT 
        BudgetDesc
        
    FROM 
        @Allocation;
 
OPEN cursor_allocation;
 
FETCH NEXT FROM cursor_allocation INTO 
    @budgetname; 
    
 
WHILE @@FETCH_STATUS = 0
    BEGIN
        --PRINT @budgetname ;

		/********************
		CREATE BUDGET MASTER
		********************/
		IF NOT EXISTS(SELECT * from tbtrx_budgetmaster where LongDesc=@budgetname)
		BEGIN
			INSERT INTO tbtrx_budgetmaster(
			Periode	
			,DistributorId
			,PrincipalId
			,OwnerId
			,CategoryId
			,StartDate
			,EndDate
			,BudgetAmount
			,IsAllocated
			,LongDesc
			,IsActive
			,CreateOn
			,CreateBy
			)
			SELECT 
			Periode
			,d.Id DistributorId
			,p.Id PrincipalId
			,[Owner] OwnerId
			,c.Id CategoryId
			,DATEADD(yy, DATEDIFF(yy, 0, Periode), 0) StartDate
			,DATEADD (dd, -1, DATEADD(yy, DATEDIFF(yy, 0, Periode) +1, 0)) EndDate	
			,BudgetAmount
			,0
			,BudgetDesc LongDesc
			,1
			,@utcDate123
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_category c on c.LongDesc=a.Category
			where a.BudgetDesc=@budgetname
		END
		ELSE
		BEGIN
			UPDATE m
			SET m.BudgetAmount=t.BudgetAmount
			,ModifiedBy=[Owner]
			,ModifiedOn=@utcDate123
			FROM tbtrx_budgetmaster m
			INNER JOIN @Allocation t on LongDesc=t.BudgetDesc
			WHERE LongDesc=@budgetname
		END


		/**********************
		CREATE BUDGET ALLOCATION (BAL)
		**********************/
		IF NOT EXISTS(SELECT Id from tbtrx_allocation where LongDesc=@budgetname)
		BEGIN
			INSERT INTO tbtrx_allocation
           ([Periode]
           ,[BudgetType]
           ,[DistributorId]
           ,[OwnerId]
           ,[FromOwnerId]
           ,[BudgetMasterId]
           ,[BudgetSourceId]           
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]
           ,[StatusApproval]
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
		    SELECT 
			a.Periode
			,'BAL'
			,d.Id DistributorId
			,[Owner] 
			,[Owner] 
			,m.Id BudgetMasterId
			,m.Id BudgetSourceId
			,a.BudgetAmount
			,BudgetDesc LongDesc					
			,''
			,'AP2'
			,1
			,0
			,@utcDate123
			,[Owner]			
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname

			UPDATE tbtrx_budgetmaster
			SET IsAllocated=1
			WHERE LongDesc=@budgetname

		END
		ELSE
		BEGIN



		UPDATE BAL
		SET BAL.Useamount=IIF(@approval='auto',isnull(CHILD.BudgetAmount,0),0)
		,BAL.ReserveAmount=IIF(@approval='auto',0,isnull(CHILD.BudgetAmount,0))
		FROM tbtrx_allocation_balance BAL
		INNER JOIN tbtrx_allocation PARENT ON BAL.AllocationId=PARENT.Id
			LEFT JOIN
			(
					SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
					INNER JOIN
					(
						SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
						LEFT JOIN
							tbtrx_budgetassignment
						ON
							tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
					) B
					ON A.BudgetSourceId=B.Id
						and A.BudgetType='BTR'
					where 
					A.IsActive=1 GROUP BY B.AllocationId
			) CHILD ON BAL.AllocationId=CHILD.AllocationId 
			WHERE PARENT.BudgetType='BAL' AND PARENT.LongDesc=@budgetname

			/*****************************************/


			
			
			SET @currentamount=(SELECT isnull(BudgetAmount,0) BudgetAmount from tbtrx_allocation where LongDesc=@budgetname)


			set @usedamount=(select UseAmount + ReserveAmount from tbtrx_allocation_balance a
			inner join (select AllocationId,SubCategoryId from tbtrx_allocation_detail d 
			inner join tbtrx_allocation alc on d.AllocationId=alc.Id WHERE alc.LongDesc=@budgetname) b on a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId)	
			
			set @newamount=(select BudgetAmount from @Allocation where BudgetDesc=@budgetname)



			if @newamount < @usedamount
			begin
			    declare @cek varchar(255)

				SET @cek=CAST(@newamount as varchar) + '-' + CAST(@usedamount as varchar) + ' -B' 
				insert into @errtemp
--				SELECT @budgetname,'Budget Exeeded' as [status]
				SELECT @budgetname,@cek as [status]
				
			end
			else
			begin
				UPDATE alc
				SET alc.BudgetAmount=a.BudgetAmount
				,ModifiedBy=[Owner]
				,ModifiedOn=@utcDate123
				FROM tbtrx_allocation alc
				INNER JOIN @Allocation a on alc.LongDesc=a.BudgetDesc
				where a.BudgetDesc=@budgetname 
				AND alc.BudgetAmount <> a.BudgetAmount



						/***********************
		ALLOCATION DETAIL (BAL)
		************************/
		IF NOT EXISTS(
			SELECT AllocationId from tbtrx_allocation_detail a
			inner join @Allocation b on a.LongDesc=b.BudgetDesc
			WHERE b.BudgetDesc=@budgetname
		)
		BEGIN
			INSERT INTO tbtrx_allocation_detail
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
		   SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,''
			,1
			,0
			,@utcDate123
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname


			/**********************************
			HISTORICAL 
			**********************************/
			INSERT INTO tbtrx_allocation_request_approval
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
		   ,[PrevAmount]
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
		   ,[IsRecon]
           ,[CreateOn]
      ,[CreateBy]
		   ,[ModifiedOn]
           ,[ModifiedBy]
          )
		   SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,0
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,''
			,1
			,0
			,1
           ,alc.[CreateOn]
           ,alc.[CreateBy]
		   ,alc.[ModifiedOn]
           ,alc.[ModifiedBy]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname


			INSERT INTO tbtrx_allocation_balance(
			AllocationId
			,SubCategoryId
			,InitialAmount
			,ReserveAmount
			,UseAmount
			,CreateOn
			,CreateBy)
			SELECT 
			alc.Id AllocationId			
			,sc.Id SubCategoryId	
			,a.BudgetAmount
			,0
			,0
			,@utcDate123
			,alc.OwnerId			
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			WHERE a.BudgetDesc=@budgetname
		END
		ELSE
		BEGIN

		    --SET @detailcurrentamount=(SELECT isnull(BudgetAmount,0) BudgetAmount from tbtrx_allocation where LongDesc=@budgetname)

			UPDATE A
			SET A.BudgetAmount=b.BudgetAmount
			--,A.SubCategoryId=B.SubCategoryId
			--,A.ActivityId=B.ActivityId
			--,A.SubActivityId=B.SubActivityId
			,ModifiedBy=[Owner]
			,ModifiedOn=@utcDate123
			FROM tbtrx_allocation_detail A
			INNER JOIN
			(
			SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			) b ON A.AllocationId=b.AllocationId and A.SubCategoryId=B.SubCategoryId
		END



		   
		    UPDATE A
			SET A.InitialAmount=b.BudgetAmount
			,A.ModifiedBy=[Owner]
			,A.ModifiedOn=@utcDate123
			FROM tbtrx_allocation_balance A
			INNER JOIN
			(
			SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			WHERE a.BudgetDesc=@budgetname
			) b ON A.AllocationId=b.AllocationId and A.SubCategoryId=B.SubCategoryId
			WHERE A.InitialAmount <> b.BudgetAmount


			end



		END



			/*****************************
			RESET APPROVAL JIKA ADA UPDATE
			******************************/
		
			--SET @rowcount=(SELECT @@ROWCOUNT)
			--IF @rowcount > 0
			--BEGIN
			--UPDATE tbtrx_allocation
			--SET StatusApproval='AP1'
			--where LongDesc=@budgetname

			/**********************************
			HISTORICAL 
			**********************************/
			INSERT INTO tbtrx_allocation_request_approval
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
		   ,[PrevAmount]
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
		   ,[IsRecon]
           ,[CreateOn]
           ,[CreateBy]
           )
		   SELECT 
			alc.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
			,sc.Id SubCategoryId
			,ISNULL(act. ActivityId,0) ActivityId
			,ISNULL(sact.SubActivityId,0) SubActivityId	
			,@currentamount
			,a.BudgetAmount
			,BudgetDesc LongDesc
			,''
			,1
			,0
			,1
			,@utcDate123
			,[Owner]
			FROM @Allocation a
			INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
			INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
			INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
			INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
			INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
			LEFT JOIN (
				SELECT 
				SubCategoryId
				,c.LongDesc SubCategoryDesc
				,a.Id ActivityId
				,a.LongDesc ActivityDesc 
				FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
			) act
			ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
			LEFT JOIN (
				SELECT 
				act.Id ActivityId
				,a.Id SubActivityId
				,a.LongDesc SubActivityDesc 
				FROM tbmst_subactivity a 
				INNER JOIN tbmst_activity act on a.ActivityId=act.Id
				INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
			) sact
			ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
			where a.BudgetDesc=@budgetname



			--END

        FETCH NEXT FROM cursor_allocation INTO 
            @budgetname; 
    END;
 
CLOSE cursor_allocation;
 
DEALLOCATE cursor_allocation;

/************************/

UPDATE a
SET StatusApproval=IIF(b.Approval='auto','AP2','AP1')
FROM tbtrx_allocation a
inner join @Derivative b on a.LongDesc=b.AssignDesc 


/***********
DELETE DETAIL CHANNEL
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_channel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc


	DELETE ac 
	FROM 
	tbtrx_allocation_subchannel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_channel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subchannel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc


	DELETE ac 
	FROM 
	tbtrx_allocation_account ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subaccount ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_account ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subaccount ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Account temp on temp.Derivative=al.LongDesc


/*****************
END DELETE DETAIL CHANNEL
*****************/

/**************************
INSERT CHANNEL
***************************/

INSERT INTO tbtrx_allocation_channel(AllocationId,ChannelId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,ChannelId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,ChannelId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.ChannelId
--,acc.SubChannelId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Derivative, Accounts
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
	[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]

   FROM @Account) p  
UNPIVOT  
   (Accounts FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
		[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
	  )  
)AS unpvt
)x 
INNER JOIN vw_account acc on acc.AccountDesc=Accounts
INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

group by 

Id
,ChannelId
--,SubChannelId
--,AccountId
--,SubAccountId 
) XXX


UNION ALL

SELECT 
Id
,ChannelId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.ChannelId
--,acc.SubChannelId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Allocation, Accounts
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
	[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
   FROM @Account) p  
UNPIVOT  
   (Accounts FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
		[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
	  )  
)AS unpvt
)x 
INNER JOIN vw_account acc on acc.AccountDesc=Accounts
INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
group by 
Id
,ChannelId
--,SubChannelId
--,AccountId
--,SubAccountId 
) XXX
)XXXX


/********************
END INSERT CHANNEL
********************/

/******************
INSERT SUB CHANNEL
*******************/
INSERT INTO tbtrx_allocation_subchannel(AllocationId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,ChannelId,SubChannelId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.ChannelId,acc.SubChannelId
					--,acc.AccountId
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							   FROM @Account) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
									[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
									[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_account acc on acc.AccountDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,ChannelId
					,SubChannelId
					--,AccountId
					--,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,ChannelId,SubChannelId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.ChannelId
				,acc.SubChannelId
				--,acc.AccountId
				--,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
							[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
							[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
						   FROM @Account) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_account acc on acc.AccountDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,ChannelId
				,SubChannelId
				--,AccountId
				--,SubAccountId 
		) XXX
)XXXX




/******************
INSERT ACCOUNT
*******************/
INSERT INTO tbtrx_allocation_account(AllocationId,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,ChannelId,SubChannelId,AccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.ChannelId,acc.SubChannelId,acc.AccountId	
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							   FROM @Account) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
									[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
									[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_account acc on acc.AccountDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,ChannelId
					,SubChannelId
					,AccountId
					--,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,ChannelId,SubChannelId,AccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.ChannelId
				,acc.SubChannelId
				,acc.AccountId
				--,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
							[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
							[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
						   FROM @Account) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_account acc on acc.AccountDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,ChannelId
				,SubChannelId
				,AccountId
				--,SubAccountId 
		) XXX
)XXXX



/******************
INSERT SUB ACCOUNT
*******************/
INSERT INTO tbtrx_allocation_subaccount(AllocationId,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,ChannelId,SubChannelId,AccountId,SubAccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.ChannelId,acc.SubChannelId,acc.AccountId,acc.SubAccountId
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							   FROM @Account) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
									[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
									[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
								  ) 
							)AS unpvt
					)x 
					INNER JOIN vw_account acc on acc.AccountDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,ChannelId
					,SubChannelId
					,AccountId
					,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,ChannelId,SubChannelId,AccountId,SubAccountId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.ChannelId
				,acc.SubChannelId
				,acc.AccountId
				,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
							[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
							[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
						   FROM @Account) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],
								[61],[62],[63],[64],[65],[66],[67],[68],[69],[70]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_account acc on acc.AccountDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,ChannelId
				,SubChannelId
				,AccountId
				,SubAccountId 
		) XXX
)XXXX


/***********
DELETE USER
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_useraccess ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @AllocationUser temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_useraccess ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @DerivativeUser temp on temp.Derivative=al.LongDesc

/*****************
END DELETE USER
*****************/
/**************************
INSERT USER
***************************/

INSERT INTO tbtrx_allocation_useraccess(AllocationId,UserId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,UserId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,UserId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,UserId

FROM
(
SELECT Derivative, UserId
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]

   FROM @DerivativeUser) p  
UNPIVOT  
   (UserId FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
	  )  
)AS unpvt
)x 
--INNER JOIN tbset_user tus on tus.id=UserId
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Derivative

group by 

al.Id
,UserId
) XXX

UNION ALL

SELECT 
Id
,UserId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,UserId

FROM
(
SELECT Allocation, UserId
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
   FROM @AllocationUser) p  
UNPIVOT  
   (UserId FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
	  )  
)AS unpvt
)x 
--INNER JOIN tbset_user tus on tus.id=UserId
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Allocation
group by 
al.Id
,UserId
) XXX
)XXXX
WHERE UserId <> ''

/********************
END INSERT USER ACCES
********************/


/***********
DELETE DETAIL REGION
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_region ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Region temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_region ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Region temp on temp.Derivative=al.LongDesc

/*****************
END DELETE DETAIL REGION
*****************/

/**************************
INSERT REGION
***************************/

INSERT INTO tbtrx_allocation_region(AllocationId,RegionId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,RegionId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,RegionId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,r.Id as RegionId

FROM
(
SELECT Derivative, Regions
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
   FROM @Region) p  
UNPIVOT  
   (Regions FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
	  )  
)AS unpvt
)x 
INNER JOIN tbmst_region r on r.LongDesc=Regions
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Derivative

group by 

al.Id
,r.Id
) XXX

UNION ALL

SELECT 
Id
,RegionId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,r.Id as RegionId

FROM
(
SELECT Allocation, Regions
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
   FROM @Region) p  
UNPIVOT  
   (Regions FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
	  )  
)AS unpvt
)x 
INNER JOIN tbmst_region r on r.LongDesc=Regions
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Allocation
group by 
al.Id
,r.Id
) XXX
)XXXX
WHERE RegionId <> ''

/********************
END INSERT REGION
********************/

/***********
DELETE DETAIL CHANNEL
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_brand ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_product ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_brand ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Derivative=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_product ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Derivative=al.LongDesc




/*****************
END DELETE DETAIL CHANNEL
*****************/

/**************************
INSERT BRAND
***************************/

INSERT INTO tbtrx_allocation_brand(AllocationId,BrandId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,BrandId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,BrandId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.BrandId
--,acc.SubBrandId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Derivative, Brand
FROM   
(
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]

   FROM @Brand) p  
UNPIVOT  
   (Brand FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
	  )  
)AS unpvt
)x 
INNER JOIN vw_product acc on acc.BrandDesc=Brand
INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

group by 

Id
,BrandId
--,SubBrandId
--,AccountId
--,SubAccountId 
) XXX


UNION ALL

SELECT 
Id
,BrandId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.BrandId
--,acc.SubBrandId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Allocation, Brand
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
   FROM @Brand) p  
UNPIVOT  
   (Brand FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
	  )  
)AS unpvt
)x 
INNER JOIN vw_product acc on acc.BrandDesc=Brand
INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
group by 
Id
,BrandId
--,SubBrandId
--,AccountId
--,SubAccountId 
) XXX
)XXXX


/********************
END INSERT CHANNEL
********************/

/******************
INSERT SUB CHANNEL
*******************/
INSERT INTO tbtrx_allocation_product(AllocationId,BrandId,ProductId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,BrandId,ProductId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,BrandId,ProductId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.BrandId,acc.ProductId
					--,acc.AccountId
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
							   FROM @Brand) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_product acc on acc.BrandDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,BrandId
					,ProductId
					--,AccountId
					--,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,BrandId,ProductId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.BrandId
				,acc.ProductId
				--,acc.AccountId
				--,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
						   FROM @Brand) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_product acc on acc.BrandDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,BrandId
				,ProductId
				--,AccountId
				--,SubAccountId 
		) XXX
)XXXX

if exists(select * from @errtemp)
begin
	ROLLBACK
end
else
begin
	COMMIT TRANSACTION
end
select * from @errtemp

END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH









GO
