

/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_getattribute_byparent]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_mechanism_getattribute_byparent] --'subacticity', ''
@attribute varchar(50),
@longdesc varchar(255)
AS
BEGIN
	if @attribute='activity'
	begin
		select distinct 0 id, LongDesc from tbmst_activity
		where isnull(isDeleted, 0) = 0
	end

	if @attribute='subactivity'
	begin
		select distinct 0 id, ts.LongDesc from tbmst_subactivity ts
		inner join tbmst_activity ta on ts.ActivityId = ta.Id 
		where isnull(ts.isDeleted, 0) = 0
		and ta.LongDesc = @longdesc
	end
	
	if @attribute='product'
	begin
		select distinct tp.id, tp.LongDesc from tbmst_product tp
		inner join tbmst_principal tp2 on tp.PrincipalId = tp2.id 
		where isnull(tp.isDeleted, 0) = 0
		and tp2.LongDesc = @longdesc
	end
	
end
GO
