USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_print]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_print] --4
@id int
AS
BEGIN
	
SELECT
	  f.ProfitCenter
	  ,f.ProfitCenterDesc
	  ,a.[Id]
      ,a.[IsDNManual]
      ,a.[Periode]
      ,a.[RefId]
	  ,isnull(b.RefId,'') PromoRefId
	  ,convert(varchar(10),b.StartPromo,120) StartPromo
	  ,convert(varchar(10),b.EndPromo,120) EndPromo
	  ,c.Id [EntityId]
	  ,iif(isnull(a.PromoId, 0)=0,e.LongDesc, ts.LongDesc)  AccountDesc
      ,a.[PrincipalShortDesc] EntityShortDesc
	  ,c.LongDesc [EntityLongDesc]
	  ,d.Id DistributorId
      ,a.[DistributorShortDesc]
	  ,d.LongDesc [DistributorLongDesc]
      ,a.[AreaCode]
      ,a.[DNNumber]
      ,a.[ActivityDesc]
      ,a.[SubChannelId]
      ,iif(isnull(a.PromoId, 0)=0,a.[AccountId], tps.SubAccountId)  AccountId
      ,a.[PromoId]
      ,a.[IntDocNo]
      ,a.[MemDocNo]
      ,a.[DPP]
      ,a.[PPNPct]
      ,a.[PPNAmt]
      ,a.[TotalClaim]
	  ,dbo.Terbilang(a.TotalClaim) Terbilang
	  ,d.BankName
	  ,d.BankCabang
	  ,d.NoRekening
	  ,d.ClaimManager
	  ,c.EntityUp
	  ,c.EntityAddress
      ,a.CreateOn [DeductionDate]
      ,a.[Notes]
      ,a.[LastStatus]
      ,a.[IsPaid]
      ,a.[TotalPaid]
      ,a.[IsCancel]
      ,a.[IsLocked]
      ,a.[CreateOn]
      ,a.[CreateBy] UserId
      ,a.[ModifiedOn]
      ,a.[ModifiedBy]
      ,a.[IsDelete]
      ,a.[DeleteOn]
      ,a.[DeleteBy]
      ,a.[AssignOn]
      ,a.[AssignBy]
      ,a.[IsFreeze]
	  ,a.[IsOverBudget]
	  ,a.[IsDNPromo]
	  ,a.[IsDNManual]
	  ,a.[DNAmount]
	  ,a.[FeeDesc]
	  ,a.[FeePct]
	  ,a.[FeeAmount]
	from tbtrx_debetnote a
	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
	LEFT JOIN tbtrx_promo_subaccount tps on b.Id = tps.PromoId 
	LEFT JOIN tbmst_subaccount ts on tps.SubAccountId = ts.Id 					
	inner join tbmst_principal c on a.PrincipalShortDesc=c.ShortDesc
	inner join tbmst_distributor d on a.DistributorShortDesc=d.ShortDesc
	left join tbmst_subaccount e on a.AccountId=e.Id
	left join tbmst_profit_center f on a.AreaCode=f.ProfitCenter
	where a.Id=@id

END








GO
