

/****** Object:  StoredProcedure [dbo].[ip_import_sellpo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create Date,,20190916>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_import_sellpo]
	@TABLE AS SellingPointRegion READONLY,
	@USERID AS VARCHAR(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- BEGIN UPDATE REGION STATE
	UPDATE REG
		SET 
			--REG.RefId=TBL.RegionRefId,
			REG.LongDesc=TBL.RegionLongDesc
			,REG.ShortDesc=TBL.RegionShortDesc
			,REG.ModifiedOn=GETDATE()
			,REG.ModifiedBy=@USERID
	FROM [dbo].[tbmst_region] REG
	INNER JOIN @TABLE TBL ON TBL.RegionRefId=REG.RefId
	-- END UPDATE REGION STATE

	-- BEGIN INSERT REGION STATE
	INSERT INTO .[tbmst_region]
	--(RefId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	(LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		--TBL.RegionRefId AS RefId,
		TBL.RegionLongDesc AS LongDesc,
		TBL.RegionShortDesc AS ShortDesc,
		CAST(1 AS BIT) AS IsActive,
		GETDATE() AS CreateOn,
		@USERID AS CreateBy,
		GETDATE() AS ModifiedOn,
		@USERID AS ModifiedBy,
		CAST(0 AS BIT) AS IsDelete
	FROM @TABLE TBL
	LEFT JOIN .[tbmst_region] REG WITH(NOLOCK) ON TBL.RegionRefId=REG.RefId
	WHERE REG.RefId IS NULL
	-- END INSERT REGION STATE


	-- BEGIN UPDATE SELLPO STATE
	UPDATE SELL
		SET 
			SELL.RefId=TBL.SellpoRefId
			,SELL.RegionId=REG.Id
			,SELL.LongDesc=TBL.SellpoLongDesc
			,SELL.ShortDesc=TBL.SellpoShortDesc
			,SELL.ModifiedOn=GETDATE()
			,SELL.ModifiedBy=@USERID
	FROM [dbo].[tbmst_sellingpoint] SELL
	INNER JOIN @TABLE TBL ON TBL.SellpoRefId=SELL.RefId
	INNER JOIN [dbo].[tbmst_region] REG ON TBL.RegionRefId=REG.RefId
	-- END UPDATE SELLPO STATE

	-- BEGIN INSERT SELLPO STATE
	INSERT INTO .[tbmst_sellingpoint]
	--(RefId,RegionId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	(RegionId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		--TBL.SellpoRefId AS RefId,
		REG.Id AS RegionId,
		TBL.SellpoLongDesc AS LongDesc,
		TBL.SellpoShortDesc AS ShortDesc,
		CAST(1 AS BIT) AS IsActive,
		GETDATE() AS CreateOn,
		@USERID AS CreateBy,
		GETDATE() AS ModifiedOn,
		@USERID AS ModifiedBy,
		CAST(0 AS BIT) AS IsDelete
	FROM @TABLE TBL
	INNER JOIN [dbo].[tbmst_region] REG ON TBL.RegionRefId=REG.RefId
	LEFT JOIN .[tbmst_sellingpoint] SELL WITH(NOLOCK) ON TBL.SellpoRefId=SELL.RefId
	WHERE SELL.RefId IS NULL
	-- END INSERT SELLPO STATE
END
GO
