

/****** Object:  StoredProcedure [dbo].[ip_promo_budget_request_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_promo_budget_request_approval]
		@batchid varchar(100)
		, @profileid varchar(100)
		, @useremail varchar(100)
		, @promoid arrayinttype readonly

AS

	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

/*TEST*/
	--DECLARE
	--	@batchid varchar(100)
	--	, @profileid varchar(100)
	--	, @useremail varchar(100)
	--	, @promoid arrayinttype 

	--	SET @batchid ='TES-'+replace(replace(replace(convert(nvarchar(MAX), @utcDate123, 21),'-',''),' ',''),':','')
	--	SET @profileid ='xvamain'
	--	SET @useremail ='lukman@danone.com'
	--	INSERT INTO @promoid (keyid) select id from tbtrx_promo where YEAR(StartPromo)=2024

	----	select a.* from tbtrx_promo_budget_status a
	----	inner join tbtrx_promo b on a.PromoId=b.Id 
	----	order by PromoId

BEGIN
	DECLARE @category varchar(20)

	SET @category =  (select top 1 CategoryShortDesc from tbtrx_promo a
		inner join @promoid b on a.Id=b.keyid)

	UPDATE prbs
		SET 
			BatchId = @batchid
			, ApprovalRequestOn = @utcDate123
			, ApprovalRequestby = @profileid
			, ApprovalRequestemail = @useremail
			, LastStatusCode = mmst.StatusCode
			, LastStatus = mmst.StatusDesc
		FROM @promoid pid
		INNER JOIN tbtrx_promo_budget_status prbs ON pid.keyid = prbs.PromoId AND prbs.LastStatusCode IN ('TP01', 'TP04')
		CROSS JOIN tbmst_master_status mmst
		WHERE mmst.StatusCode='TP02' 


	UPDATE prbs
	SET 
		prbs.Approved1By = sprbs.Approver1
		,prbs.Approved2By = sprbs.Approver2
		,prbs.Approved3By = sprbs.Approver3
		,prbs.Approved4By = sprbs.Approver4
		,prbs.Approved5By = sprbs.Approver5
	FROM @promoid pid
	INNER JOIN tbtrx_promo_calculator prcal ON pid.keyid = prcal.PromoId 
	INNER JOIN tbtrx_promo_budget_status prbs ON pid.keyid = prbs.PromoId
	INNER JOIN tbset_promo_budget_approval sprbs ON prcal.Cost >= MinAmount AND prcal.Cost <= sprbs.MaxAmount AND category=@category
END
GO
