

/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_doc_completeness_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_debetnote_list_doc_completeness_p] --'xvamain','validate_by_finance',2,2,'0'
@status varchar(50),
@userid varchar(50),
@entityid int,
@distributorid int,
@TaxLevel varchar(100)

,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)

AS

--DECLARE
--@status varchar(50),
--@userid varchar(50),
--@entityid int,
--@distributorid int,
--@TaxLevel varchar(100)

--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @status =0
--SET @userid ='ADMIN'
--SET @entityid =0
--SET @distributorid =0
--SET @TaxLevel =0

--SET @start =0
--SET @length =-1
--SET @txtSearch =''
--SET @order ='promoRefId'
--SET @sort ='asc'

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
    drop table if exists #temp_dn;
    drop table if exists #temp_dn_his;
    drop table if exists #temp_promo;
    drop table if exists #temp_dncompleteness;

    DECLARE @recordsFiltered int;
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(ISNULL(@order,'')='','RefId', @order)
	SET @start = @start * @length
	
----------------------------------------------------------------------
	select id, PromoId into #temp_dn from tbtrx_debetnote a
		where
		a.LastStatus IN ('validate_by_finance', 'validate_by_danone','ready_to_invoice', 'invoice', 'confirm_paid')
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0 and isnull(a.IsDNPromo,0)=1
		AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
	
	select distinct b.id,b.RefId,b.CreateBy into #temp_promo from #temp_dn a 
		inner join tbtrx_promo b on a.PromoId=b.Id
		where IIF(@userid='admin','',b.CreateBy)= IIF(@userid='admin','',@userid)

	select a.dnid, a.validate_by_finance_by, max(a.validate_by_finance_on) validate_by_finance_on, b.username
	INTO #temp_dn_his
	FROM #temp_dn td
		INNER JOIN tbtrx_debetnote_his a ON td.Id=a.DNId
        INNER join tbset_user b on a.validate_by_finance_by=b.id
        group by a.dnid, a.validate_by_finance_by, b.username
----------------------------------------------------------------------

	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid
		,IIF(a.StatusSalesCode='TP2', 'received_by_danone', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(a.IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo
		,a.IntDocNo
	--	,a.TaxLevel
		,a.Notes
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark by Sales', 'No'))) SalesValidationStatus
	 	,a.FPNumber
	 	,a.FPDate
	 	,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired
	 	,isnull(a.VATExpired, 0) DNVATExpired
        ,doc.Original_Invoice_from_retailers
        ,doc.Tax_Invoice
        ,doc.Promotion_Agreement_Letter
        ,doc.Trading_Term
        ,doc.Sales_Data
        ,doc.Copy_of_Mailer
        ,doc.Copy_of_Photo_Doc
        ,doc.List_of_Transfer
	 	,his.validate_by_finance_by
	 	,his.username validate_by_finance_username
	 	,his.validate_by_finance_on
	 	INTO #temp_dncompleteness
		from tbtrx_debetnote a
		INNER JOIN #temp_dn TD ON a.Id  = TD.Id
		INNER JOIN #temp_dn_his his on td.id=his.DNId
        --INNER JOIN (
        --    select a.dnid, a.validate_by_finance_by, max(a.validate_by_finance_on) validate_by_finance_on, b.username
        --    from tbtrx_debetnote_his a
        --    inner join tbset_user b on a.validate_by_finance_by=b.id
        --    group by a.dnid, a.validate_by_finance_by, b.username
        --) his on a.id=his.DNId
		LEFT JOIN tbtrx_debetnote_doc_completeness doc on a.id=doc.DNId
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN #temp_promo b on a.PromoId=b.Id
		--LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		--where
		--a.LastStatus IN ('validate_by_finance', 'validate_by_danone','ready_to_invoice', 'invoice', 'confirm_paid')
		--AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		--AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		--and isnull(a.IsCancel,0)=0 and isnull(a.IsDNPromo,0)=1
		--AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
		--AND EXISTS
		--(
		--	SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		--)
  --      AND IIF(@userid='admin','',b.CreateBy)= IIF(@userid='admin','',@userid)

    /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(RefId),0) FROM #temp_dncompleteness
		WHERE 
			(RefId like '%' + isnull(@txtSearch,'') + '%') OR 
			(PromoRefId like '%' + isnull(@txtSearch,'') + '%') OR
			(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			(TotalClaim like '%' + isnull(@txtSearch,'') + '%') OR
			(LastStatus like '%' + isnull(@txtSearch,'') + '%') OR
			(LastUpdate like '%' + isnull(@txtSearch,'') + '%') OR
			(TaxLevel like '%' + isnull(@txtSearch,'') + '%') OR
			(MaterialNumber like '%' + isnull(@txtSearch,'') + '%') OR
			(Notes like '%' + isnull(@txtSearch,'') + '%') OR
			(sp_principal like '%' + isnull(@txtSearch,'') + '%') OR
			(remarkSales like '%' + isnull(@txtSearch,'') + '%') OR
			(SalesValidationStatus like '%' + isnull(@txtSearch,'') + '%') OR
			(FPNumber like '%' + isnull(@txtSearch,'') + '%') OR
			(FPDate like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(RefId),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_dncompleteness
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_dncompleteness			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_dncompleteness
				WHERE 
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(PromoRefId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotalClaim like ''%' + isnull(@txtSearch,'') + '%'') OR
					(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
					(LastUpdate like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TaxLevel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MaterialNumber like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Notes like ''%' + isnull(@txtSearch,'') + '%'') OR
					(sp_principal like ''%' + isnull(@txtSearch,'') + '%'') OR
					(remarkSales like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SalesValidationStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
					(FPNumber like ''%' + isnull(@txtSearch,'') + '%'') OR
					(FPDate like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_dncompleteness
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_dncompleteness
				WHERE 
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(PromoRefId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotalClaim like ''%' + isnull(@txtSearch,'') + '%'') OR
					(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
					(LastUpdate like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TaxLevel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MaterialNumber like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Notes like ''%' + isnull(@txtSearch,'') + '%'') OR
					(sp_principal like ''%' + isnull(@txtSearch,'') + '%'') OR
					(remarkSales like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SalesValidationStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
					(FPNumber like ''%' + isnull(@txtSearch,'') + '%'') OR
					(FPDate like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    /**********************
        end pagination
     **********************/				
    drop table if exists #temp_dn;
    drop table if exists #temp_dn_his;
    drop table if exists #temp_promo;
    drop table if exists #temp_dncompleteness;

END
GO
