

/****** Object:  StoredProcedure [dbo].[ip_debetnote_filter]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_filter]
@userid varchar(50),
@status varchar(50),
@entity int,
@dn TemplateDebetNote READONLY
,@TaxLevel varchar(100)
AS
/*
	LGP 2020-03-21 : Penambahan DPP,PPN dan filter entity
	EDJ 2020-06-09 : add TaxLevel
*/
begin

INSERT INTO TempTemplateDebetNote
SELECT * FROM @dn

	SELECT
	CASE WHEN a.LastStatus=@status THEN
		CASE WHEN a.LastStatus is not null THEN 1 ELSE 0 END
	ELSE
		0
	END CheckFlag
	,a.Id
	,temp.RefId
	,temp.PromoRefId
	,temp.Activity ActivityDesc
	,a.DPP
	,a.PPnAmt
	,a.memDocNo
	,a.intDocNo
	,temp.TotalClaim
	,temp.LastStatus
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,a.TaxLevel
	,CASE WHEN a.LastStatus=@status THEN
		CASE WHEN a.LastStatus is not null THEN 'OK' ELSE 'DN Not Found' END
	ELSE
		'DN Status is not ' + @status
	END [Status]
	,a.StatusSalesCode
	,a.StatusSales
	,a.StatusSalesOn
	,a.StatusSalesBy
	,a.StatusSalesDistOn
	,a.StatusSalesDistBy
	,a.StatusSalesNotes
	,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
	,d.actionOn SalesValidationStatusOn
	,a.AccountId SubAccountId
	,ts.LongDesc SubAccount
	,a.StatusSalesNotes remarkSales
	from @dn temp
	LEFT JOIN tbtrx_debetnote a on a.RefId=temp.RefId and isnull(a.iscancel, 0) = 0
    LEFT JOIN
        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
        from tbhis_debetnote_sales_log
        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
	LEFT JOIN tbmst_subaccount ts ON a.AccountId = ts.id
	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
	where iif(@entity=0,0,a.PrincipalId)=iif(@entity=0,0,@entity)
	AND iif(@TaxLevel='0','',a.TaxLevel)=iif(@TaxLevel='0','',@TaxLevel)

end
GO
