

/****** Object:  StoredProcedure [dbo].[ip_useradmrepot]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_useradmrepot] 
@usergroupid varchar(15),
@userlevel int

AS 
begin
	
	select a.id, a.username, a.email, a.contactinfo, a.department, a.jobtitle, a.distributorid, 
	a.usergroupid, b.usergroupname, 
	a.userlevel, c.levelname, 
	d.menuid, e.name, e.flag, e.crud, e.approve, 
	isnull(f.create_rec,'') as create_rec, isnull(f.read_rec,'') as read_rec, isnull(f.update_rec,'') as update_rec, isnull(f.delete_rec,'') as delete_rec from tbset_user a 
	inner join tbset_usergroup b on a.usergroupid=b.usergroupid
	inner join tbset_userlevel c on a.userlevel=c.userlevel
	inner join tbset_userrights d on a.usergroupid=d.usergroupid
	inner join tbset_menu e on d.menuid=e.id
	left join tbset_userlevel_access f on a.userlevel=f.userlevel and a.usergroupid=f.usergroupid and d.menuid=f.menuid
	where 
		a.usergroupid=iif(@usergroupid='ALL',a.usergroupid,@usergroupid) 
		and a.userlevel=iif(@userlevel=0,a.userlevel,@userlevel)
	order by a.id, e.id
end

GO
