

/****** Object:  StoredProcedure [dbo].[ip_mst_map_distributor_account_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_distributor_account_del]
        @Id        int,
        @UserId    varchar(50),
        @UserLogin varchar(100),
        @DeleteOn  datetime
AS
BEGIN
       	INSERT INTO tbhis_map_distributor_account
	( 
       [DistributorId]
      ,[ChannelId]
      ,[SubChannelId]
      ,[AccountId]
      ,[SubAccountId]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]
      ,[CreateOn]
      ,[CreateBy]
      ,[parentId]
      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [DistributorId]
      ,[ChannelId]
      ,[SubChannelId]
      ,[AccountId]
      ,[SubAccountId]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1                     [IsDelete]
      ,@DeleteOn             [DeleteOn]
      ,@UserId               [DeleteBy]
      ,[CreateOn]
      ,[CreateBy]
      ,id
      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin            [DeleteEmail]
    FROM
            tbset_map_distributor_account
    WHERE Id = @Id

    DELETE tbset_map_distributor_account
    WHERE Id = @Id
END

GO
