USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_material_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_mst_map_material_ins]
	@IsNew           bit,
	@Id              int ,
	@MaterialNumber  varchar(20) ,
	@Description     varchar(255) ,
	@WHT_Type        varchar(255) ,
	@WHT_Code        varchar(255) ,
	@Purpose         varchar(255) ,
	@Entity          varchar(255) ,
	@EntityId        int ,
	@PPNPct			 decimal(10,4),
	@PPHPct			 decimal(10,4),
	@UserID          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.id
                FROM tbset_mapping_material a
                where a.MaterialNumber = @MaterialNumber and a.Description=@Description and WHT_Type=@WHT_Type and WHT_Code=@WHT_Code
                and a.Purpose=@Purpose and EntityId=@EntityId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Material already exist';
                    SET @messageout='Mapping Material already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_mapping_material
                (
                   MaterialNumber
                  ,Description
                  ,WHT_Type
                  ,WHT_Code
                  ,Purpose
                  ,Entity
                  ,EntityId
                  ,PPNPct
                  ,PPHPct
                  ,CreateOn
                  ,CreateBy
				  ,CreatedEmail
                )
                Values
                (
                   @MaterialNumber
                  ,@Description
                  ,@WHT_Type
                  ,@WHT_Code
                  ,@Purpose
                  ,@Entity
                  ,@EntityId
                  ,@PPNPct
                  ,@PPHPct
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';
		    
			UPDATE tbset_mapping_material
			SET
				MaterialNumber  =@MaterialNumber,
				Description     =@Description,
				WHT_Type        =@WHT_Type,
				WHT_Code        =@WHT_Code,
				Purpose         =@Purpose,
				Entity          =@Entity,
				EntityId        =@EntityId,
				PPNPct			=@PPNPct,
				PPHPct			=@PPHPct,
				ModifiedOn          = @CreatedOn,
				ModifiedBy          = @UserID,
				ModifiedEmail       = @UserLogin
			WHERE
				Id  = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
