

/****** Object:  StoredProcedure [dbo].[ip_import_master_activitytype]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_master_activitytype]
@Activity ActivityType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
ACTIVITY
*****************/

	MERGE tbmst_activity t
	USING
	( 
	SELECT DISTINCT ctg.Id CategoryId,sctg.Id SubCategoryId,Activity
	FROM
	@Activity x 
	INNER JOIN tbmst_subcategory sctg ON sctg.LongDesc=x.SubCategory
	INNER JOIN tbmst_category ctg ON ctg.LongDesc=x.Category  and sctg.LongDesc=x.SubCategory	
	) s
	ON t.LongDesc=s.Activity
	AND t.SubCategoryId=s.SubCategoryId
	AND t.CategoryId=s.CategoryId
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Activity
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            [CategoryId]
		   ,[SubCategoryId]		   
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   CategoryId
		   ,SubCategoryId           
		   ,Activity
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );



END
GO
