USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_matrix_promo_report]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_matrix_promo_report] --'2020',0,0,'fcm-kalimantan'
 @periode varchar(4)
,@entity int
,@distributor int
--,@subactivitytypeid int
--,@channel int
,@userid varchar(255)
AS
select 
Periode
,a.[Initiator]
,b.Id EntityId
,b.LongDesc Entity
,c.Id DistributorId
,c.LongDesc Distributor
,d.Id SubActivityTypeId
,d.LongDesc SubActivityType
,e.Id ChannelId
,e.LongDesc Channel
,isnull(f.Id,0) SubChannelId
,isnull(f.LongDesc,'All Sub Channel') SubChannel
,a.MinInvestment
,a.MaxInvestment
,appr.Approver MatrixApprover
,appr.ModifiedOn 
from tbset_matrix_promo_approval a
inner join tbmst_principal b on a.PrincipalId=b.Id
inner join tbmst_distributor c on a.DistributorId=c.Id
inner join tbmst_subactivity_type d on a.SubActivityType=d.Id
inner join tbmst_channel e on a.ChannelId=e.Id
left join tbmst_subchannel f on a.SubChannelId=f.Id
--IIF(a.SubChannelId=0,1,a.SubChannelId)=IIF(f.Id=0,1,f.Id) 
left join
(
	select ParentId,
	STUFF(
			(select ',' + QUOTENAME(a.SeqApproval) + QUOTENAME(a.Approver)
				from tbset_matrix_promo_approver a
				where a.ParentId=b.ParentId 
				 order by ',' + QUOTENAME(a.SeqApproval) + QUOTENAME(a.Approver)
				FOR XML PATH ('')),1,1,'') AS Approver, b.ModifiedOn
		FROM tbset_matrix_promo_approver b INNER JOIN tbset_matrix_promo_approval ON tbset_matrix_promo_approval.Id=ParentId  GROUP BY ParentId, b.ModifiedOn
) appr
on a.Id = appr.parentId	
where Periode=@periode
--AND IIF(@subactivitytypeid=0,'',d.Id) =IIF(@subactivitytypeid=0,'',@subactivitytypeid) 
AND IIF(@entity=0,'',b.id) =IIF(@entity=0,'',@entity)
AND IIF(@distributor=0,'',c.Id) =IIF(@distributor=0,'',@distributor)
--AND IIF(@channel=0,'',e.Id) =IIF(@channel=0,'',@channel)
AND IIF(@userid='0','',[Initiator]) =IIF(@userid='0','',@userid)









GO
