USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_activity]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_activity]

@cat_ref varchar(20),
@cat_desc varchar(50),
@cat_sdesc varchar(10),
@sub_cat_ref varchar(20),
@sub_cat_desc varchar(50),
@sub_cat_sdesc varchar(10),
@act_ref varchar(20),
@act_desc varchar(50),
@act_sdesc varchar(10),
@sub_act_ref varchar(20),
@sub_act_desc varchar(50),
@sub_act_sdesc varchar(10),
@is_active bit,
@create_on datetime,
@create_by varchar(10),
@modified_on datetime,
@modified_by varchar(10),
@is_deleted bit,
@delete_on datetime,
@delete_by varchar(10)

AS

DECLARE
@cat_id varchar(20) = '',
@sub_cat_id varchar(20) = '',
@act_id varchar(20) = ''

BEGIN TRY

IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_category WITH (NOLOCK) WHERE RefId = @cat_ref)
BEGIN

	INSERT INTO [dbo].[tbmst_category]
           (
			LongDesc                                          
			,ShortDesc 
			,IsActive
			,CreateOn             
			,CreateBy                           
			,ModifiedOn             
			,ModifiedBy
			,IsDeleted
			,DeleteOn              
			,DeleteBy
			)
     VALUES
           (
		   
		   @cat_desc
		   ,@cat_sdesc
           ,@is_active
           ,@create_on
           ,@create_by
           ,@modified_on
           ,@modified_by
           ,@is_deleted
           ,@delete_on 
           ,@delete_by
		   )
END

SET @cat_id = (SELECT TOP 1 Id FROM tbmst_category WITH (NOLOCK) WHERE RefId = @cat_ref)

IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_subcategory WITH (NOLOCK) WHERE RefId = @sub_cat_ref)
BEGIN

	INSERT INTO [dbo].[tbmst_subcategory]
           (
		    CategoryId                              
			,LongDesc                                          
			,ShortDesc 
			,IsActive
			,CreateOn             
			,CreateBy                           
			,ModifiedOn             
			,ModifiedBy
			,IsDeleted
			,DeleteOn              
			,DeleteBy
			)
     VALUES
           (
		   
		   @cat_id
		   ,@sub_cat_desc
		   ,@sub_cat_sdesc
           ,@is_active
           ,@create_on
           ,@create_by
           ,@modified_on
           ,@modified_by
           ,@is_deleted
           ,@delete_on 
           ,@delete_by
		   )
END

SET @sub_cat_id = (SELECT TOP 1 Id FROM tbmst_subcategory WITH (NOLOCK) WHERE RefId = @sub_cat_ref)

IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_activity WITH (NOLOCK) WHERE RefId = @act_ref)
BEGIN

	INSERT INTO [dbo].[tbmst_activity]
           (CategoryId                            
			,LongDesc                                          
			,ShortDesc 
			,IsActive
			,CreateOn             
			,CreateBy                           
			,ModifiedOn             
			,ModifiedBy
			,IsDeleted
			,DeleteOn              
			,DeleteBy
			)
     VALUES
           (
		   @cat_id
		   ,@sub_cat_desc
		   ,@sub_cat_sdesc
           ,@is_active
           ,@create_on
           ,@create_by
           ,@modified_on
           ,@modified_by
           ,@is_deleted
           ,@delete_on 
           ,@delete_by
		   )
END

SET @act_id = (SELECT TOP 1 Id FROM tbmst_activity WITH (NOLOCK) WHERE RefId = @act_ref)

IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_subactivity WITH (NOLOCK) WHERE RefId = @sub_act_ref)
BEGIN

	INSERT INTO [dbo].[tbmst_subactivity]
           (CategoryId
			,SubCategoryId
			,ActivityId                            
			,LongDesc                                          
			,ShortDesc 
			,IsActive
			,CreateOn             
			,CreateBy                           
			,ModifiedOn             
			,ModifiedBy
			,IsDeleted
			,DeleteOn              
			,DeleteBy
			)
     VALUES
           (@cat_id
		   ,@sub_cat_id
		   ,@act_id
		   ,@sub_cat_desc
		   ,@sub_cat_sdesc
           ,@is_active
           ,@create_on
           ,@create_by
           ,@modified_on
           ,@modified_by
           ,@is_deleted
           ,@delete_on 
           ,@delete_by
		   )
END

END TRY
BEGIN CATCH
  
  DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
               );  
  
END CATCH
GO
