USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_conf_reminder_promo_initiator_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_conf_reminder_promo_initiator_list]
    @recon int
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
    if @recon=0
    begin
        if exists(select id, category, Description, datereminder, datediff(day, datereminder, @utcDate123)
            from tbset_config_reminder
            where remindertype=400 and datediff(day, datereminder, @utcDate123)=-5 and category<>410)
        begin
            select top 5 id, username, email from tbset_user where usergroupid IN('104','106')
        end
    end
    else
    begin
        if exists(select id, category, Description, datereminder, datediff(day, datereminder, @utcDate123)
            from tbset_config_reminder
            where remindertype=400 and datereminder= @utcDate123 and category=410)
        begin
            select top 5 id, username, email from tbset_user where usergroupid IN('104','106')
        end
    end
END
GO
