

/****** Object:  StoredProcedure [dbo].[ip_mst_investment_type_lp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_investment_type_lp]
    @isdeleted int
AS
BEGIN
    select id, RefId InvestmentTypeCode, LongDesc InvestmentType, CreateOn, CreateBy, IsDeleted, ModifiedOn, ModifiedBy, DeleteOn,DeleteBy
    from tbmst_investment_type
	where iif(@isdeleted = 99, 0, isnull(IsDeleted,0))=iif(@isdeleted = 99, 0, @isdeleted)
end
GO
