USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_investment_report_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_investment_report_p] --'2020',0,0,0,0,'scsh1'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)

AS

--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @periode ='2024'
--SET @entity = 2
--SET @distributor =2
--SET @budgetparent=0
--SET @channel = 0
--set @userid='admin'
--SET @start = 0
--SET @length = -1
--SET @txtSearch=''
--SET @order = 'budgetAllocationName'
--SET @sort='asc'

BEGIN
    DECLARE @recordsFiltered int;
	
	DECLARE @temp_investment AS TABLE (
		Entity VARCHAR(255),
		EntityShortDesc VARCHAR(255),
		Distributor VARCHAR(255),
		BudgetAllocationName VARCHAR(255),
		ActivityType VARCHAR(255),
		IsLastLayer FLOAT,
		Channel VARCHAR(255),
		BudgetDeployed FLOAT,
		PromoCreated FLOAT,
		DNClaimed FLOAT,
		DNPaid FLOAT,
		ReturnBalanceFromPromo FLOAT,
		RemainingBudget FLOAT,
		GapBudgetDeployedvsPromoCreated FLOAT,
		GapPromoCreatedvsDNClaimed FLOAT,
		GapDNClaimedvsDNPaid FLOAT,
		CategoryDesc VARCHAR(255)
	)

	DROP TABLE IF EXISTS #temp_investment


--IF @periode>=2025
--BEGIN 
--	/*DC with TT*/
--	INSERT INTO @temp_investment
--	SELECT
--		entity.LongDesc entity
--		,entity.ShortDesc entityShortDesc
--		, md.LongDesc distributor
--		, budget.budgetname budgetAllocationName
--		, vaa.subActivityTypeDesc activityType
--		, 1 IsLastLayer
--		, mc.LongDesc channel
--		, budget.budgetamount budgetDeployed
--		, isnull(TPP.FixCost,0) [PromoCreated]
--		, isnull(TPP.TotalClaim,0) [DNClaimed]
--		, isnull(TPP.TotalPaid,0) [DNPaid]
--		, isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo]
--		, budget.remainingBudget
--		, budget.budgetamount -isnull(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated]
--		, isnull(TPP.FixCost,0) - isnull(TPP.TotalClaim, 0) [GapPromoCreatedvsDNClaimed]
--		, isnull(TPP.TotalClaim, 0) - isnull(TPP.TotalPaid, 0) [GapDNClaimedvsDNPaid]
--		, vaa.categoryDesc
--	FROM vw_budget_contractual_dc budget
--	INNER JOIN tbmst_brand_group mbg ON budget.groupbrandid = mbg.id
--	INNER JOIN tbmst_principal entity ON mbg.PrincipalId = entity.Id
--	INNER JOIN tbmst_distributor md ON budget.distributorId = md.id
--	INNER JOIN tbmst_channel mc ON budget.channelId = mc.id
--	--INNER JOIN vw_account va ON budget.subaccountid = va.SubAccountId
--	INNER JOIN (
--		SELECT categoryDesc, activityId, activityDesc, subActivityId, subActivityTypeDesc 
--			FROM vw_activity_active 
--		) vaa ON budget.activityid = vaa.ActivityId and budget.subactivityid = vaa.subActivityId
--	LEFT JOIN
--		(
--				SELECT	pr.AllocationId AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
--						SUM(Investment) FixCost,
--						SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--						SUM(ISNULL(TotalPaid, 0)) TotalPaid,
--						SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
--					FROM tbtrx_promo pr WITH (NOLOCK) 
--					INNER JOIN tbmst_category tc WITH (NOLOCK) ON pr.CategoryId = tc.id 
--					INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON pr.SubCategoryId = ts.id
--					INNER JOIN tbmst_subactivity a WITH (NOLOCK) on pr.SubActivityId=a.id----------200324
--					INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
--					LEFT JOIN (
--						SELECT td.promoid
--						,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
--						,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
--						FROM tbtrx_debetnote td WITH (NOLOCK) 
--						LEFT JOIN 
--						(
--							SELECT tc.dnid
--								,SUM(isnull(tc.dpp,0)) TotalClaim
--								,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
--							FROM tbtrx_creditnote tc WITH (NOLOCK) 
--							WHERE isnull(IsCancel, 0) = 0
--							GROUP BY tc.dnid
--						) tc ON td.id=tc.dnid
--						WHERE isnull(td.iscancel, 0) = 0
--						GROUP BY td.promoid
--					) td on pr.id=td.promoid			 
--				WHERE isnull(IsCancel,0)=0 AND pr.StatusApprovalCode<>'TP0'
--					GROUP BY pr.AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
--		)TPP ON TPP.AllocationId=budget.Id
--	WHERE budget.Period=@periode
--		AND IIF(@entity=0,'', mbg.PrincipalId) =IIF(@entity=0,'',@entity)
--		AND IIF(@distributor=0,'', budget.distributorId) =IIF(@distributor=0,'',@distributor)
--		AND IIF(@channel=0,'', budget.channelId) =IIF(@channel=0,'',@channel)
--		--AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)

--	/*DC no TT*/
--	INSERT INTO @temp_investment
--	SELECT DISTINCT
--	  p.LongDesc Entity,
--	  p.ShortDesc EntityShortDesc,
--	  d.LongDesc Distributor,
--	  '---' [BudgetAllocationName],--BudgetName [BudgetAllocationName],	  
--	  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
--	  1 IsLastLayer,
--	  isnull(channel.ChannelDesc,'') [Channel],
--	  pr.Investment [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
--	  isnull(TPP.FixCost,0) [PromoCreated],
--	  isnull(TPP.TotalClaim,0) [DNClaimed],
--	  isnull(TPP.TotalPaid,0) [DNPaid],
--      isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
--	  0  [RemainingBudget],
--	  pr.Investment [GapBudgetDeployedvsPromoCreated],
--	  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
--	  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid],
--	  cat.LongDesc CategoryDesc
--	FROM tbtrx_promo pr
--	INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id AND pr.StatusApprovalCode<>'TP0' AND pr.AllocationId = 0
--	INNER JOIN tbmst_main_activity_dtl mad ON pr.SubActivityId = mad.subactivityid
--	INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id AND ma.longDesc NOT IN ('RUNNING RATE')
--	LEFT JOIN tbmst_distributor d on pr.DistributorId=d.Id
--	LEFT JOIN tbmst_principal p WITH (NOLOCK) on pr.EntityId=p.Id
--	LEFT JOIN tbtrx_promo_channel chn ON pr.Id=chn.PromoId
--    LEFT JOIN
--    (
--        SELECT a.PromoId AllocationId, string_agg(chn.LongDesc,', ') ChannelDesc
--			FROM tbtrx_promo_channel a WITH (NOLOCK) 
--				join tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
--            GROUP BY a.PromoId
--    ) channel ON pr.Id = channel.AllocationId   		
--	LEFT JOIN
--	(
--			SELECT	tbtrx_promo.id AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
--					SUM(Investment) FixCost,
--					SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--					SUM(ISNULL(TotalPaid, 0)) TotalPaid,
--					SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
--				FROM tbtrx_promo WITH (NOLOCK) 
--				INNER JOIN tbmst_category tc WITH (NOLOCK) ON tbtrx_promo.CategoryId = tc.id
--				INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON tbtrx_promo.SubCategoryId = ts.id
--				INNER JOIN tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
--				INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
--				LEFT JOIN (
--					SELECT td.promoid
--					,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
--					,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
--					FROM tbtrx_debetnote td WITH (NOLOCK) 
--					LEFT JOIN 
--					(
--						SELECT tc.dnid
--							,SUM(isnull(tc.dpp,0)) TotalClaim
--							,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
--						FROM tbtrx_creditnote tc WITH (NOLOCK) 
--						WHERE isnull(IsCancel, 0) = 0
--						GROUP BY tc.dnid
--					) tc ON td.id=tc.dnid
--					WHERE isnull(td.iscancel, 0) = 0
--					GROUP BY td.promoid
--				) td on tbtrx_promo.id=td.promoid			 
--			WHERE isnull(IsCancel,0)=0
--				GROUP BY tbtrx_promo.Id, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
--	)TPP ON TPP.AllocationId=pr.Id--a.BudgetId
--	WHERE pr.Period=@periode AND pr.StatusApprovalCode<>'TP0'
--		AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
--		AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
--		AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)


--	/*RC with TT*/
--	INSERT INTO @temp_investment
--	SELECT
--		entity.LongDesc entity
--		,entity.ShortDesc entityShortDesc
--		, md.LongDesc distributor
--		, budget.budgetname budgetAllocationName
--		, vaa.subActivityTypeDesc activityType
--		, 1 IsLastLayer
--		, va.channelDesc channel
--		, budget.budgetamount budgetDeployed
--		, isnull(TPP.FixCost,0) [PromoCreated]
--		, isnull(TPP.TotalClaim,0) [DNClaimed]
--		, isnull(TPP.TotalPaid,0) [DNPaid]
--		, isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo]
--		, budget.remainingBudget
--		, budget.budgetamount -isnull(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated]
--		, isnull(TPP.FixCost,0) - isnull(TPP.TotalClaim, 0) [GapPromoCreatedvsDNClaimed]
--		, isnull(TPP.TotalClaim, 0) - isnull(TPP.TotalPaid, 0) [GapDNClaimedvsDNPaid]
--		, vaa.categoryDesc
--	FROM vw_budget_contractual budget
--	INNER JOIN tbmst_brand_group mbg ON budget.groupbrandid = mbg.id
--	INNER JOIN tbmst_principal entity ON mbg.PrincipalId = entity.Id
--	INNER JOIN tbmst_distributor md ON budget.distributorId = md.id
--	INNER JOIN vw_account va ON budget.subaccountid = va.SubAccountId
--	INNER JOIN (
--		SELECT DISTINCT categoryDesc, activityId, activityDesc, 0 subActivityId, subActivityTypeDesc 
--			FROM vw_activity_active 
--			WHERE ActivityDesc = 'Trading Term - Consumer Promo' -- and SubActivityTypeDesc = 'Contractual'
--		UNION ALL
--		SELECT categoryDesc, activityId, activityDesc, subActivityId, subActivityTypeDesc 
--			FROM vw_activity_active 
--			WHERE ActivityDesc <> 'Trading Term - Consumer Promo'
--		) vaa ON budget.activityid = vaa.ActivityId and budget.subactivityid = vaa.subActivityId
--	--INNER JOIN vw_activity_active vaa ON budget.subactivityid = vaa.SubActivityId
--	--INNER JOIN tbmst_main_activity_dtl mad ON vaa.SubActivityId = mad.subactivityid
--	--INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id AND ma.longDesc IN ('RUNNING RATE')
--	--INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id AND ma.longDesc NOT IN ('RUNNING RATE', 'RUNNING RATE DC')
--	LEFT JOIN
--		(
--				SELECT	pr.AllocationId AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
--						SUM(Investment) FixCost,
--						SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--						SUM(ISNULL(TotalPaid, 0)) TotalPaid,
--						SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
--					FROM tbtrx_promo pr WITH (NOLOCK) 
--					INNER JOIN tbmst_category tc WITH (NOLOCK) ON pr.CategoryId = tc.id
--					INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON pr.SubCategoryId = ts.id
--					INNER JOIN tbmst_subactivity a WITH (NOLOCK) on pr.SubActivityId=a.id----------200324
--					INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
--					LEFT JOIN (
--						SELECT td.promoid
--						,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
--						,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
--						FROM tbtrx_debetnote td WITH (NOLOCK) 
--						LEFT JOIN 
--						(
--							SELECT tc.dnid
--								,SUM(isnull(tc.dpp,0)) TotalClaim
--								,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
--							FROM tbtrx_creditnote tc WITH (NOLOCK) 
--							WHERE isnull(IsCancel, 0) = 0
--							GROUP BY tc.dnid
--						) tc ON td.id=tc.dnid
--						WHERE isnull(td.iscancel, 0) = 0
--						GROUP BY td.promoid
--					) td on pr.id=td.promoid			 
--				WHERE isnull(IsCancel,0)=0 AND pr.StatusApprovalCode<>'TP0'
--					GROUP BY pr.AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
--		)TPP ON TPP.AllocationId=budget.Id
--		WHERE budget.Period=@periode
--		AND IIF(@entity=0,'' , mbg.PrincipalId) =IIF(@entity=0,'',@entity)
--		AND IIF(@distributor=0,'', budget.distributorId) =IIF(@distributor=0,'',@distributor)
--		AND IIF(@channel=0,'', va.ChannelId) =IIF(@channel=0,'',@channel)

--	/*RC no TT*/
--	INSERT INTO @temp_investment
--	SELECT DISTINCT
--	  p.LongDesc Entity,
--	  p.ShortDesc EntityShortDesc,
--	  d.LongDesc Distributor,
--	  '---' [BudgetAllocationName],--BudgetName [BudgetAllocationName],	  
--	  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
--	  1 IsLastLayer,
--	  isnull(channel.ChannelDesc,'') [Channel],
--	  pr.Investment [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
--	  isnull(TPP.FixCost,0) [PromoCreated],
--	  isnull(TPP.TotalClaim,0) [DNClaimed],
--	  isnull(TPP.TotalPaid,0) [DNPaid],
--      isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
--	  0  [RemainingBudget],
--	  pr.Investment [GapBudgetDeployedvsPromoCreated],
--	  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
--	  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid],
--	  cat.LongDesc CategoryDesc
--	FROM tbtrx_promo pr
--	INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id AND pr.StatusApprovalCode<>'TP0' AND pr.AllocationId = 0
--	INNER JOIN tbmst_main_activity_dtl mad ON pr.SubActivityId = mad.subactivityid
--	INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id AND ma.longDesc NOT IN ('RUNNING RATE')
--	INNER JOIN tbtrx_promo_subaccount sac ON pr.Id=sac.PromoId
--	INNER JOIN vw_activity va on pr.SubActivityId = va.SubActivityId
--	LEFT JOIN tbmst_distributor d on pr.DistributorId=d.Id
--	LEFT JOIN tbmst_principal p WITH (NOLOCK) on pr.EntityId=p.Id
--	LEFT JOIN tbtrx_promo_channel chn ON pr.Id=chn.PromoId
--    LEFT JOIN
--    (
--        SELECT a.PromoId AllocationId, string_agg(chn.LongDesc,', ') ChannelDesc
--			FROM tbtrx_promo_channel a WITH (NOLOCK) 
--				join tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
--            GROUP BY a.PromoId
--    ) channel ON pr.Id = channel.AllocationId   		
--	LEFT JOIN
--	(
--			SELECT	tbtrx_promo.id AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
--					SUM(Investment) FixCost,
--					SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--					SUM(ISNULL(TotalPaid, 0)) TotalPaid,
--					SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
--				FROM tbtrx_promo WITH (NOLOCK) 
--				INNER JOIN tbmst_category tc WITH (NOLOCK) ON tbtrx_promo.CategoryId = tc.id
--				INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON tbtrx_promo.SubCategoryId = ts.id
--				INNER JOIN tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
--				INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
--				LEFT JOIN (
--					SELECT td.promoid
--					,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
--					,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
--					FROM tbtrx_debetnote td WITH (NOLOCK) 
--					LEFT JOIN 
--					(
--						SELECT tc.dnid
--							,SUM(isnull(tc.dpp,0)) TotalClaim
--							,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
--						FROM tbtrx_creditnote tc WITH (NOLOCK) 
--						WHERE isnull(IsCancel, 0) = 0
--						GROUP BY tc.dnid
--					) tc ON td.id=tc.dnid
--					WHERE isnull(td.iscancel, 0) = 0
--					GROUP BY td.promoid
--				) td on tbtrx_promo.id=td.promoid			 
--			WHERE isnull(IsCancel,0)=0
--				GROUP BY tbtrx_promo.Id, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
--	)TPP ON TPP.AllocationId=pr.Id--a.BudgetId
--	WHERE pr.Period=@periode AND pr.StatusApprovalCode<>'TP0'
--		AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
--		AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
--		AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)


--	/*RR RC*/
--	--INSERT INTO @temp_investment
--	--SELECT DISTINCT
--	--  p.LongDesc Entity,
--	--  p.ShortDesc EntityShortDesc,
--	--  d.LongDesc Distributor,
--	--  bc.budgetname [BudgetAllocationName],--BudgetName [BudgetAllocationName],
--	--  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
--	--  1 IsLastLayer,
--	--  isnull(channel.ChannelDesc,'') [Channel],
--	--  bc.budgetamount [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
--	--  isnull(TPP.FixCost,0) [PromoCreated],
--	--  isnull(TPP.TotalClaim,0) [DNClaimed],
--	--  isnull(TPP.TotalPaid,0) [DNPaid],
-- --     isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
--	--  bc.RemainingBudget [RemainingBudget],
--	--  bc.budgetamount -isnull(TPP.FixCost,0)  [GapBudgetDeployedvsPromoCreated],
--	--  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
--	--  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid],
--	--  cat.LongDesc CategoryDesc
--	--FROM tbtrx_promo pr
--	--INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id AND pr.StatusApprovalCode<>'TP0'
--	--INNER JOIN tbmst_distributor d on pr.DistributorId=d.Id
--	--INNER JOIN tbmst_principal p WITH (NOLOCK) on pr.EntityId=p.Id
--	--INNER JOIN tbtrx_promo_channel chn ON pr.Id=chn.PromoId
--	--INNER JOIN tbtrx_promo_subaccount sac ON pr.Id=sac.PromoId
--	--INNER JOIN tbmst_main_activity_dtl mad ON pr.SubActivityId = mad.subactivityid
--	--INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id AND ma.longDesc IN ('RUNNING RATE')
-- --   INNER JOIN vw_budget_contractual bc ON
--	--	pr.Period=bc.period
--	--	AND pr.DistributorId=bc.distributorId
--	--	AND sac.SubAccountId= bc.subaccountid
--	--	AND pr.SubActivityId = bc.subactivityid
--	--	AND pr.GroupBrandId = bc.groupbrandid
--	--LEFT JOIN
-- --   (
-- --       SELECT a.PromoId AllocationId, string_agg(chn.LongDesc,', ') ChannelDesc
--	--		FROM tbtrx_promo_channel a WITH (NOLOCK) 
--	--			join tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
-- --           GROUP BY a.PromoId
-- --   ) channel ON pr.Id = channel.AllocationId   		
--	--LEFT JOIN
--	--(
--	--		SELECT	tbtrx_promo.id AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
--	--				SUM(Investment) FixCost,
--	--				SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--	--				SUM(ISNULL(TotalPaid, 0)) TotalPaid,
--	--				SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
--	--			FROM tbtrx_promo WITH (NOLOCK) 
--	--			INNER JOIN tbmst_category tc WITH (NOLOCK) ON tbtrx_promo.CategoryId = tc.id
--	--			INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON tbtrx_promo.SubCategoryId = ts.id
--	--			INNER JOIN tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
--	--			INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
--	--			LEFT JOIN (
--	--				SELECT td.promoid
--	--				,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
--	--				,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
--	--				FROM tbtrx_debetnote td WITH (NOLOCK) 
--	--				LEFT JOIN 
--	--				(
--	--					SELECT tc.dnid
--	--						,SUM(isnull(tc.dpp,0)) TotalClaim
--	--						,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
--	--					FROM tbtrx_creditnote tc WITH (NOLOCK) 
--	--					WHERE isnull(IsCancel, 0) = 0
--	--					GROUP BY tc.dnid
--	--				) tc ON td.id=tc.dnid
--	--				WHERE isnull(td.iscancel, 0) = 0
--	--				GROUP BY td.promoid
--	--			) td on tbtrx_promo.id=td.promoid			 
--	--		WHERE isnull(IsCancel,0)=0
--	--			GROUP BY tbtrx_promo.Id, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
--	--)TPP ON TPP.AllocationId=pr.Id--a.BudgetId
--	--WHERE pr.Period=@periode
--	--	AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
--	--	AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
--	--	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
--	--	--AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)

--	/*NR*/
--	--INSERT INTO @temp_investment
--	--SELECT DISTINCT
--	--  p.LongDesc Entity,
--	--  p.ShortDesc EntityShortDesc,
--	--  d.LongDesc Distributor,
--	--  --'' [BudgetAllocationName],--BudgetName [BudgetAllocationName],
--	--  iif(isnull(bc.budgetname, '') = '', '', bc.budgetname) [BudgetAllocationName],--BudgetName [BudgetAllocationName],
--	--  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
--	--  1 IsLastLayer,
--	--  isnull(channel.ChannelDesc,'') [Channel],
--	--  pr.Investment [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
--	--  isnull(TPP.FixCost,0) [PromoCreated],
--	--  isnull(TPP.TotalClaim,0) [DNClaimed],
--	--  isnull(TPP.TotalPaid,0) [DNPaid],
-- --     isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
--	--  iif(isnull(bc.budgetname, '') = '', 0, bc.RemainingBudget -isnull(TPP.FixCost,0)) [RemainingBudget],
--	--  iif(isnull(bc.budgetname, '') = '', pr.Investment -isnull(TPP.FixCost,0), bc.budgetamount -isnull(TPP.FixCost,0)) [GapBudgetDeployedvsPromoCreated],
--	--  --0 [RemainingBudget],
--	--  --pr.Investment -isnull(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated],
--	--  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
--	--  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid],
--	--  cat.LongDesc CategoryDesc
--	--FROM tbtrx_promo pr
--	--INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id AND pr.StatusApprovalCode<>'TP0'
--	--INNER JOIN tbmst_main_activity_dtl mad ON pr.SubActivityId = mad.subactivityid
--	--INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id AND ma.longDesc NOT IN ('RUNNING RATE', 'RUNNING RATE DC')
--	--INNER JOIN tbtrx_promo_subaccount sac ON pr.Id=sac.PromoId
--	--INNER JOIN vw_activity va on pr.SubActivityId = va.SubActivityId
--	--LEFT JOIN tbmst_distributor d on pr.DistributorId=d.Id
--	--LEFT JOIN tbmst_principal p WITH (NOLOCK) on pr.EntityId=p.Id
--	--LEFT JOIN tbtrx_promo_channel chn ON pr.Id=chn.PromoId
-- --   LEFT JOIN vw_budget_contractual bc ON
--	--	pr.Period=bc.period
--	--	AND pr.DistributorId=bc.distributorId
--	--	AND sac.SubAccountId= bc.subaccountid
--	--	AND pr.ActivityId = bc.activityid
--	--	AND IIF(va.activitydesc pr.SubActivityId = bc.subactivityid
--	--	AND pr.GroupBrandId = bc.groupbrandid
-- --   LEFT JOIN
-- --   (
-- --       SELECT a.PromoId AllocationId, string_agg(chn.LongDesc,', ') ChannelDesc
--	--		FROM tbtrx_promo_channel a WITH (NOLOCK) 
--	--			join tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
-- --           GROUP BY a.PromoId
-- --   ) channel ON pr.Id = channel.AllocationId   		
--	--LEFT JOIN
--	--(
--	--		SELECT	tbtrx_promo.id AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
--	--				SUM(Investment) FixCost,
--	--				SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--	--				SUM(ISNULL(TotalPaid, 0)) TotalPaid,
--	--				SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
--	--			FROM tbtrx_promo WITH (NOLOCK) 
--	--			INNER JOIN tbmst_category tc WITH (NOLOCK) ON tbtrx_promo.CategoryId = tc.id
--	--			INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON tbtrx_promo.SubCategoryId = ts.id
--	--			INNER JOIN tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
--	--			INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
--	--			LEFT JOIN (
--	--				SELECT td.promoid
--	--				,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
--	--				,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
--	--				FROM tbtrx_debetnote td WITH (NOLOCK) 
--	--				LEFT JOIN 
--	--				(
--	--					SELECT tc.dnid
--	--						,SUM(isnull(tc.dpp,0)) TotalClaim
--	--						,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
--	--					FROM tbtrx_creditnote tc WITH (NOLOCK) 
--	--					WHERE isnull(IsCancel, 0) = 0
--	--					GROUP BY tc.dnid
--	--				) tc ON td.id=tc.dnid
--	--				WHERE isnull(td.iscancel, 0) = 0
--	--				GROUP BY td.promoid
--	--			) td on tbtrx_promo.id=td.promoid			 
--	--		WHERE isnull(IsCancel,0)=0
--	--			GROUP BY tbtrx_promo.Id, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
--	--)TPP ON TPP.AllocationId=pr.Id--a.BudgetId
--	--WHERE pr.Period=@periode
--	--	AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
--	--	AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
--	--	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
--	--	--AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)

--END

IF @periode<=2024
BEGIN 
	INSERT INTO @temp_investment
	SELECT DISTINCT
	  p.LongDesc Entity,
	  p.ShortDesc EntityShortDesc,
	  d.LongDesc Distributor,
	  c.LongDesc [BudgetAllocationName],--BudgetName [BudgetAllocationName],
	  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
	  iif(lyr.Id is null,0,1) IsLastLayer,
	  isnull(channel.ChannelDesc,'') [Channel],
	  c.BudgetAmount [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
	  isnull(TPP.FixCost,0) [PromoCreated],
	  isnull(TPP.TotalClaim,0) [DNClaimed],
	  isnull(TPP.TotalPaid,0) [DNPaid],
      isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
	  tab.RemainingAmount [RemainingBudget],
	  c.BudgetAmount -isnull(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated],
	  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
	  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid],
	  cat.LongDesc CategoryDesc
	FROM tbtrx_allocation c WITH (NOLOCK) 
	INNER JOIN tbtrx_allocation_useraccess usr WITH (NOLOCK) on usr.AllocationId=c.Id
	INNER JOIN tbtrx_budgetmaster m WITH (NOLOCK) on c.BudgetMasterId=m.Id
	INNER JOIN tbmst_category cat on m.CategoryId=cat.Id
	INNER JOIN tbtrx_allocation_balance tab WITH (NOLOCK) on c.id=tab.AllocationId 
	LEFT JOIN tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
	LEFT JOIN tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
	LEFT JOIN tbtrx_allocation_channel chn WITH (NOLOCK) on c.Id=chn.AllocationId
    LEFT JOIN
    (
        SELECT AllocationId, string_agg(chn.LongDesc,', ') ChannelDesc
			FROM tbtrx_allocation_channel a WITH (NOLOCK) 
				join tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
            GROUP BY a.AllocationId
    ) channel ON c.Id = channel.AllocationId   		
	
	LEFT JOIN
	(
			SELECT	tbtrx_promo.AllocationId AS AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc) longDesc,
					SUM(Investment) FixCost,
					SUM(ISNULL(TotalClaim, 0)) TotalClaim,
					SUM(ISNULL(TotalPaid, 0)) TotalPaid,
					SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
				FROM tbtrx_promo WITH (NOLOCK) 
				INNER JOIN tbmst_category tc WITH (NOLOCK) ON tbtrx_promo.CategoryId = tc.id
				INNER JOIN tbmst_subcategory ts WITH (NOLOCK) ON tbtrx_promo.SubCategoryId = ts.id
				INNER JOIN tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
				INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
				LEFT JOIN (
					SELECT td.promoid
					,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
					,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
					FROM tbtrx_debetnote td WITH (NOLOCK) 
					LEFT JOIN 
					(
						SELECT tc.dnid
							,SUM(isnull(tc.dpp,0)) TotalClaim
							,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
						FROM tbtrx_creditnote tc WITH (NOLOCK) 
						WHERE isnull(IsCancel, 0) = 0
						GROUP BY tc.dnid
					) tc ON td.id=tc.dnid
					WHERE isnull(td.iscancel, 0) = 0
					GROUP BY td.promoid
				) td on tbtrx_promo.id=td.promoid			 
			WHERE isnull(IsCancel,0)=0 and isnull(tbtrx_promo.period, '') < 2025
				GROUP BY tbtrx_promo.AllocationId, IIF(tc.shortdesc='DC', ts.longdesc, b.longdesc)
	)TPP ON TPP.AllocationId=c.Id--a.BudgetId
	LEFT JOIN vw_budget_last_layer lyr on c.Id=lyr.Id
	WHERE m.Periode=@periode AND m.periode<=2024
		AND IIF(@budgetparent=0,'',c.Id) =IIF(@budgetparent=0,'',@budgetparent) 
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
		AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)
END	

SELECT * INTO #temp_investment FROM @temp_investment 

    /**********************
        start pagination
     **********************/
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(@order is null,'Entity', @order)
	SET @start = @start * @length
	
    SET @recordsFiltered = (
    	SELECT isnull(count(budgetAllocationName),0) FROM #temp_investment
		WHERE 
			(EntityShortDesc like '%' + isnull(@txtSearch,'') + '%') OR 
			(distributor like '%' + isnull(@txtSearch,'') + '%') OR
			(CategoryDesc like '%' + isnull(@txtSearch,'') + '%') OR
			(budgetAllocationName like '%' + isnull(@txtSearch,'') + '%') OR
			(isLastLayer like '%' + isnull(@txtSearch,'') + '%') OR
			(budgetDeployed like '%' + isnull(@txtSearch,'') + '%') OR
			(promoCreated like '%' + isnull(@txtSearch,'') + '%') OR
			(gapBudgetDeployedvsPromoCreated like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(budgetAllocationName),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_investment
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_investment			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_investment
				WHERE 
					(EntityShortDesc like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(CategoryDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(budgetAllocationName like ''%' + isnull(@txtSearch,'') + '%'') OR
					(isLastLayer like ''%' + isnull(@txtSearch,'') + '%'') OR
					(budgetDeployed like ''%' + isnull(@txtSearch,'') + '%'') OR
					(promoCreated like ''%' + isnull(@txtSearch,'') + '%'') OR
					(gapBudgetDeployedvsPromoCreated like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_investment
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_investment
				WHERE 
					(EntityShortDesc like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(CategoryDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(budgetAllocationName like ''%' + isnull(@txtSearch,'') + '%'') OR
					(isLastLayer like ''%' + isnull(@txtSearch,'') + '%'') OR
					(budgetDeployed like ''%' + isnull(@txtSearch,'') + '%'') OR
					(promoCreated like ''%' + isnull(@txtSearch,'') + '%'') OR
					(gapBudgetDeployedvsPromoCreated like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    /**********************
        end pagination
     **********************/
	DROP TABLE IF EXISTS #temp_investment
	
END	
GO
