USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_summary_budgeting_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_summary_budgeting_list] 
		@period int
		, @categoryId int
		, @groupBrandId arrayinttype READONLY
		, @channelId arrayinttype READONLY
		--, @subActivityType arrayinttype READONLY

		,@start int
		,@length int
		,@txtSearch varchar(255)
		,@order varchar(255) 
		,@sort varchar(4) 

AS

	--DECLARE 
	--	@period int
	--	, @categoryId int
	--	, @groupBrandId arrayinttype
	--	, @channelid arrayinttype 
	--	,@start int
	--	,@length int
	--	,@txtSearch varchar(255)
	--	,@order varchar(255) 
	--	,@sort varchar(4) 

	--SET @period			= 2025
	--SET @categoryId		= 3
	--INSERT INTO @channelid VALUES (6)
	----INSERT INTO @groupBrandId VALUES (1)
	----INSERT INTO @channelid SELECT Id FROM tbmst_channel
	----INSERT INTO @groupBrandId SELECT Id FROM tbmst_brand_group

	--SET @start =0
	--SET @length =20
	--SET @txtSearch ='INDOMARET'
	--SET @order =''
	--SET @sort ='asc'
	----------EXEC [ip_summary_budgeting_list]
	----------	@period 
	----------	, @categoryId 
	----------	, @groupBrandId 
	----------	, @channelid
	----	------,@start 
	----	------,@length 
	----	------,@txtSearch 
	----	------,@order 
	----	------,@sort 
BEGIN
SET NOCOUNT ON
	DROP TABLE IF EXISTS #tmpBrandAccount
	DROP TABLE IF EXISTS #tempDetail1
	DROP TABLE IF EXISTS #tempDetail2
	DROP TABLE IF EXISTS #tempDetail

	DECLARE 
		@groupBrandId1 arrayinttype
		, @channelId1 arrayinttype 
		, @subActivityType1 arrayinttype 
	
	INSERT INTO @channelid1 SELECT * FROM @channelid
	INSERT INTO @groupBrandId1 SELECT * FROM @groupBrandId
	--INSERT INTO @subActivityType1 SELECT * FROM @subActivityType

	SET @categoryId = IIF(isnull(@categoryId,0)=0,3,@categoryid)
	IF (SELECT COUNT(*) FROM @channelid WHERE ISNULL(keyid,0)<>0)=0
		BEGIN
			INSERT INTO @channelid1 SELECT Id FROM tbmst_channel
		END
	IF (SELECT COUNT(*) FROM @groupBrandId WHERE ISNULL(keyid,0)<>0)=0
		BEGIN
			INSERT INTO @groupBrandId1 SELECT Id FROM tbmst_brand_group
		END
	--IF (SELECT COUNT(*) FROM @subActivityType WHERE ISNULL(keyid,0)<>0)=0
	--	BEGIN
	--		INSERT INTO @subActivityType1 SELECT SubActivityTypeId FROM vw_activity_active where CategoryId=@categoryId
	--	END

	DECLARE
	    @recordsFiltered int	
		,@SQL NVARCHAR(MAX)

	DECLARE @detail TABLE (
		brand varchar(100)
		, channel varchar(100)
		, subchannel varchar(100)
		, account varchar(100)
		, subaccount varchar(100)

		, ssVolumeTons float
		, psVolumeTons float
		, ss float
		, ps float

		, kpi float
		, kpiPct float
		, rga float
		, rgaPct float
		, transport float
		, transportPct float
		, otherCost float
		, otherCostPct float
		, totalDistributorCost float
		, totalDistributorCostPct float

		, tt float
		, pctTtToSs float
		, pctTtToPs float
		, adhoc float
		, pctAdhocToSs float
		, pctAdhocToPs float
		, ttPlusAdhoc float
		, pctTtPlusAdhocTotSs float
		, pctTtPlusAdhocTotPs float

		, totalTradeSpend float
		, tradeSpendPctToPs float

		, warChest float
		, warChestPctToPs float

		, totalTS float
		, pctToPs float

		,seqNum INT
	)

	DECLARE @promoid arrayinttype

	INSERT INTO @promoid
		SELECT id FROM tbtrx_promo a
			INNER JOIN @groupBrandId1 b ON a.GroupBrandId = b.keyid AND ISNULL(a.iscancel,0)=0
			INNER JOIN tbtrx_promo_channel c ON a.Id=c.PromoId
			INNER JOIN @channelid1 d ON c.ChannelId = d.keyid
		WHERE a.Period=@period AND a.CategoryId = @categoryId

/* REF
select 
brand, channel, account, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs
'', '', '', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
from @detail
*/

	DECLARE @categoryShortDesc varchar(50)
	SET @categoryShortDesc = (SELECT ShortDesc FROM tbmst_category WHERE Id=@categoryId)

	SELECT DISTINCT channelId, channelDesc, subChannelId, subChannelDesc, accountId, accountDesc, subAccountId, subAccountDesc, c.Id groupBrandId, c.LongDesc groupBrand  
		INTO #tmpBrandAccount
		FROM vw_account a
					INNER JOIN @channelid1 b ON a.ChannelId = b.keyid
					CROSS JOIN (
						SELECT a.id, a.longdesc FROM tbmst_brand_group a 
							INNER JOIN @groupBrandId1 b ON a.Id = b.keyid
						)c

/*brand*/
/*channel*/
/*account*/
	INSERT INTO @detail
		SELECT groupBrand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 FROM #tmpBrandAccount
/*ssVolumeTons*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, channelDesc channel, subChannelDesc subchannel, accountDesc account, subAccountDesc subaccount, 
			SUM(b.m1 + b.m2 + b.m3 + b.m4 + b.m5 + b.m6 + b.m7 + b.m8 + b.m9 + b.m10 + b.m11 + b.m12) ssVolumeTons
			, 0 psVolumeTons, 0 ss, 0 ps, 0 kpi, 0 kpiPct, 0 rga, 0 rgaPct, 0 transport, 0 transportPct, 0 otherCost, 0 otherCostPct, 0 totalDistributorCost, 0 totalDistributorCostPct, 0 tt, 0 pctTtToSs, 0 pctTtToPs, 0 adhoc, 0 pctAdhocToSs, 0 pctAdhocToPs, 0 ttPlusAdhoc, 0 pctTtPlusAdhocTotSs, 0 pctTtPlusAdhocTotPs, 0 totalTradeSpend, 0 tradeSpendPctToPs, 0 warChest, 0 warChestPctToPs, 0 totalTS, 0 pctToPs
			, 0 seqnum
		FROM #tmpBrandAccount a
		INNER JOIN tbtrx_ss_volume b ON a.SubAccountId = b.subaccountid AND a.groupBrandId = b.groupbrandid AND b.period = @period
		GROUP BY a.groupBrand , a.channelDesc, a.subChannelDesc, a.accountDesc, a.subAccountDesc 
		)s
	ON (s.brand = t.brand and s.channel=t.channel AND s.account=t.account and s.subchannel=t.subchannel AND s.subaccount=t.subaccount )
	WHEN MATCHED THEN
	UPDATE SET t.ssVolumeTons = s.ssVolumeTons
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, channel, subchannel, account, subaccount, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs)
	VALUES (s.brand, s.channel, s.subchannel, s.account, s.subaccount, s.ssVolumeTons, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*psVolumeTons*/
/*ss*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, channelDesc channel, subChannelDesc subchannel, accountDesc account, subAccountDesc subaccount
			, 0 ssVolumeTons, 0 psVolumeTons
			, SUM((b.m1*c.m1) + (b.m2*c.m2) + (b.m3*c.m3) + (b.m4*c.m4) + (b.m5*c.m5) + (b.m6*c.m6) + (b.m7*c.m7) + (b.m8*c.m8) + (b.m9*c.m9) + (b.m10*c.m10) + (b.m11*c.m11) + (b.m12*c.m12)) ss
			, 0 ps, 0 kpi, 0 kpiPct, 0 rga, 0 rgaPct, 0 transport, 0 transportPct, 0 otherCost, 0 otherCostPct, 0 totalDistributorCost, 0 totalDistributorCostPct, 0 tt, 0 pctTtToSs, 0 pctTtToPs, 0 adhoc, 0 pctAdhocToSs, 0 pctAdhocToPs, 0 ttPlusAdhoc, 0 pctTtPlusAdhocTotSs, 0 pctTtPlusAdhocTotPs, 0 totalTradeSpend, 0 tradeSpendPctToPs, 0 warChest, 0 warChestPctToPs, 0 totalTS, 0 pctToPs
			, 0 seqnum
		FROM #tmpBrandAccount a
		INNER JOIN tbtrx_ss_volume b ON a.SubAccountId = b.subaccountid AND a.groupBrandId = b.groupbrandid AND b.period = @period
		INNER JOIN tbtrx_ss_conversion_rate c ON b.period=c.period AND b.channelid = c.channelid AND b.groupbrandid = c.groupbrandid 
		GROUP BY a.groupBrand , a.channelDesc, a.subChannelDesc, a.accountDesc, a.subAccountDesc 
		)s
	ON (s.brand = t.brand and s.channel=t.channel AND s.account=t.account and s.subchannel=t.subchannel AND s.subaccount=t.subaccount )
	WHEN MATCHED THEN
	UPDATE SET t.ss= s.ss
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, channel, subchannel, account, subaccount, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs)
	VALUES (s.brand, s.channel, s.subchannel, s.account, s.subaccount, 0, 0, s.ss, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*ps*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, channelDesc channel, subChannelDesc subchannel, accountDesc account, subAccountDesc subaccount
			, 0 ssVolumeTons, 0 psVolumeTons, 0 ss
			, SUM(b.m1 + b.m2 + b.m3 + b.m4 + b.m5 + b.m6 + b.m7 + b.m8 + b.m9 + b.m10 + b.m11 + b.m12) ps
			, 0 kpi, 0 kpiPct, 0 rga, 0 rgaPct, 0 transport, 0 transportPct, 0 otherCost, 0 otherCostPct, 0 totalDistributorCost, 0 totalDistributorCostPct, 0 tt, 0 pctTtToSs, 0 pctTtToPs, 0 adhoc, 0 pctAdhocToSs, 0 pctAdhocToPs, 0 ttPlusAdhoc, 0 pctTtPlusAdhocTotSs, 0 pctTtPlusAdhocTotPs, 0 totalTradeSpend, 0 tradeSpendPctToPs, 0 warChest, 0 warChestPctToPs, 0 totalTS, 0 pctToPs
			, 0 seqnum
		FROM #tmpBrandAccount a
		INNER JOIN tbtrx_ps_value b ON a.groupBrandId = b.groupbrandid AND b.period = @period
		GROUP BY a.groupBrand , a.channelDesc, a.subChannelDesc, a.accountDesc, a.subAccountDesc 
		)s
	ON (s.brand = t.brand and s.channel=t.channel AND s.account=t.account and s.subchannel=t.subchannel AND s.subaccount=t.subaccount )
	WHEN MATCHED THEN
	UPDATE SET t.ps = s.ps
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, channel, subchannel, account, subaccount, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs)
	VALUES (s.brand, s.channel, s.subchannel, s.account, s.subaccount, 0, 0, 0, s.ps, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*kpi*/
/*kpiPct*/
/*rga*/
/*rgaPct*/
/*transport*/
/*transportPct*/
/*otherCost*/
/*otherCostPct*/
/*totalDistributorCost*/
/*totalDistributorCostPct*/
/*tt - ttconsol*/
--	MERGE @detail t
--	USING (
--		SELECT  
--			a.groupBrand brand, channelDesc channel, subChannelDesc subchannel, accountDesc account, subAccountDesc subaccount 
--			, 0 ssVolumeTons, 0 psVolumeTons, 0 ss, 0 ps, 0 kpi, 0 kpiPct, 0 rga, 0 rgaPct, 0 transport, 0 transportPct, 0 otherCost, 0 otherCostPct, 0 totalDistributorCost, 0 totalDistributorCostPct
--			, SUM(
--				ROUND(((b.m1*c.m1) + (b.m2*c.m2) + (b.m3*c.m3) + (b.m4*c.m4) + (b.m5*c.m5) + (b.m6*c.m6) + (b.m7*c.m7) + (b.m8*c.m8) + (b.m9*c.m9) + (b.m10*c.m10) + (b.m11*c.m11) + (b.m12*c.m12))*tt.tt/100,0)
--				) tt
--			, 0 pctTtToSs, 0 pctTtToPs, 0 adhoc, 0 pctAdhocToSs, 0 pctAdhocToPs, 0 ttPlusAdhoc, 0 pctTtPlusAdhocTotSs, 0 pctTtPlusAdhocTotPs, 0 totalTradeSpend, 0 tradeSpendPctToPs, 0 warChest, 0 warChestPctToPs, 0 totalTS, 0 pctToPs
--			, 0 seqnum
--		FROM #tmpBrandAccount a
--		INNER JOIN tbtrx_ss_tt tt ON a.SubAccountId = tt.subaccountid AND a.groupBrandId = tt.groupbrandid AND tt.period = @period AND tt.categoryid = @categoryid
--		INNER JOIN tbtrx_ss_volume b ON  tt.period = b.period AND tt.SubAccountId = b.subaccountid AND tt.groupBrandId = b.groupbrandid
--		INNER JOIN tbtrx_ss_conversion_rate c ON b.period=c.period AND b.channelid = c.channelid AND b.groupbrandid = c.groupbrandid 
--		GROUP BY a.groupBrand , a. ChannelDesc , a.SubAccountDesc 
--		)s
--	ON (s.brand = t.brand and s.channel=t.channel AND s.account=t.account and s.subchannel=t.subchannel AND s.subaccount=t.subaccount)
--	WHEN MATCHED THEN
--	UPDATE SET t.tt= s.tt
--	WHEN NOT MATCHED BY TARGET THEN
--	INSERT (brand, channel, account, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs)
--	VALUES (s.brand, s.channel, s.account, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, tt, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
--	;

/*tt - cost*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, channelDesc channel, subChannelDesc subchannel, accountDesc account, subAccountDesc subaccount 
			, 0 ssVolumeTons, 0 psVolumeTons, 0 ss, 0 ps, 0 kpi, 0 kpiPct, 0 rga, 0 rgaPct, 0 transport, 0 transportPct, 0 otherCost, 0 otherCostPct, 0 totalDistributorCost, 0 totalDistributorCostPct
			, SUM(tpr.investment) tt
			, 0 pctTtToSs, 0 pctTtToPs, 0 adhoc, 0 pctAdhocToSs, 0 pctAdhocToPs, 0 ttPlusAdhoc, 0 pctTtPlusAdhocTotSs, 0 pctTtPlusAdhocTotPs, 0 totalTradeSpend, 0 tradeSpendPctToPs, 0 warChest, 0 warChestPctToPs, 0 totalTS, 0 pctToPs
		FROM #tmpBrandAccount a
		INNER JOIN (
			SELECT pr.investment, pr.groupbrandid , prs.subaccountid FROM tbtrx_promo pr 
			INNER JOIN tbtrx_promo_subaccount prs on pr.id=prs.promoid 
			INNER JOIN tbmst_subactivity msa on pr.subactivityid = msa.id
			INNER JOIN tbmst_subactivity_type msat ON msa.subactivitytypeid = msat.id 
			WHERE pr.period=@period AND msat.LongDesc = 'CONTRACTUAL' AND ISNULL(pr.IsCancel,0)=0 AND pr.CategoryShortDesc='RC'
			) tpr ON tpr.subaccountid= a.subaccountid and tpr.groupbrandid = a.groupbrandid
		GROUP BY a.groupBrand , a.channelDesc, a.subChannelDesc, a.accountDesc, a.subAccountDesc 
		)s
	ON (s.brand = t.brand and s.channel=t.channel AND s.account=t.account and s.subchannel=t.subchannel AND s.subaccount=t.subaccount )
	WHEN MATCHED THEN
	UPDATE SET t.tt= s.tt
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, channel, subchannel, account, subaccount, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs)
	VALUES (s.brand, s.channel, s.subchannel, s.account, s.subaccount, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, tt, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*pctTtToSs*/
	UPDATE @detail SET pctTtToSs = ROUND(ISNULL(tt/NULLIF(ss,0),0)*100,2)
/*pctTtToPs*/
	UPDATE @detail SET pctTtToPs = ROUND(ISNULL(tt/NULLIF(ps,0),0)*100,2)
/*adhoc*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, channelDesc channel, subChannelDesc subchannel, accountDesc account, subAccountDesc subaccount 
			, 0 ssVolumeTons, 0 psVolumeTons, 0 ss, 0 ps, 0 kpi, 0 kpiPct, 0 rga, 0 rgaPct, 0 transport, 0 transportPct, 0 otherCost, 0 otherCostPct, 0 totalDistributorCost, 0 totalDistributorCostPct
			, 0 tt, 0 pctTtToSs, 0 pctTtToPs
			, SUM(
				investment
				) adhoc
			, 0 pctAdhocToSs, 0 pctAdhocToPs, 0 ttPlusAdhoc, 0 pctTtPlusAdhocTotSs, 0 pctTtPlusAdhocTotPs, 0 totalTradeSpend, 0 tradeSpendPctToPs, 0 warChest, 0 warChestPctToPs, 0 totalTS, 0 pctToPs
			, 0 seqnum
		FROM #tmpBrandAccount a
		INNER JOIN (
			SELECT a.groupbrandid, d.subaccountid, a.investment FROM @promoid x
				INNER JOIN tbtrx_promo a ON x.keyid=a.Id 
				INNER JOIN tbmst_subactivity b ON a.SubActivityId = b.id 
				INNER JOIN  tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id 
				INNER JOIN tbtrx_promo_subaccount d ON a.id=d.promoid
				WHERE a.period=@period AND c.LongDesc = 'NON CONTRACTUAL' AND ISNULL(a.IsCancel,0)=0 AND a.CategoryShortDesc='RC'
			)b 	ON a.subaccountid = b.subaccountid AND a.groupbrandid=b.groupbrandid
		GROUP BY a.groupBrand , a.channelDesc, a.subChannelDesc, a.accountDesc, a.subAccountDesc 
		)s
	ON (s.brand = t.brand and s.channel=t.channel AND s.account=t.account and s.subchannel=t.subchannel AND s.subaccount=t.subaccount )
	WHEN MATCHED THEN
	UPDATE SET t.adhoc= s.adhoc
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, channel, subchannel, account, subaccount, ssVolumeTons, psVolumeTons, ss, ps, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs, totalTradeSpend, tradeSpendPctToPs, warChest, warChestPctToPs, totalTS, pctToPs)
	VALUES (s.brand, s.channel, s.subchannel, s.account, s.subaccount, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, adhoc, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*pctAdhocToSs*/
	UPDATE @detail SET pctAdhocToSs = ROUND(ISNULL(adhoc/NULLIF(ss,0),0)*100,2)
/*pctAdhocToPs*/
	UPDATE @detail SET pctAdhocToPs = ROUND(ISNULL(adhoc/NULLIF(ps,0),0)*100,2)
/*ttPlusAdhoc*/
	UPDATE @detail SET ttPlusAdhoc = tt+adhoc
/*pctTtPlusAdhocTotSs*/
	UPDATE @detail SET pctTtPlusAdhocTotSs = ROUND(ISNULL(ttPlusAdhoc/NULLIF(ss,0),0)*100,2)
/*pctTtPlusAdhocTotPs*/
	UPDATE @detail SET pctTtPlusAdhocTotPs = ROUND(ISNULL(ttPlusAdhoc/NULLIF(ps,0),0)*100,2)
/*totalTradeSpend*/
	UPDATE @detail SET totalTradeSpend = totalDistributorCost + ttPlusAdhoc
/*tradeSpendPctToPs*/
	UPDATE @detail SET tradeSpendPctToPs = ROUND(ISNULL(totalTradeSpend/NULLIF(ps,0),0)*100,2)
/*warChest*/
/*warChestPctToPs*/
/*totalTS*/
	UPDATE @detail SET totalTS = totalTradeSpend + warChest
/*pctToPs*/
	UPDATE @detail SET pctToPs = ROUND(ISNULL(totalTS/NULLIF(ps,0),0)*100,2)
/*DETAIL*/
	INSERT INTO @detail
		SELECT  
			'DSN' brand, channel, subchannel, account, subaccount
			, SUM(ssVolumeTons) ssVolumeTons, SUM(psVolumeTons) psVolumeTons, SUM(ss)ss, SUM(ps)ps
			, SUM(kpi)kpi, SUM(kpiPct)kpiPct, SUM(rga)rga, SUM(rgaPct)rgaPct, SUM(transport)transport, SUM(transportPct)transportPct, SUM(otherCost)otherCost, SUM(otherCostPct)otherCostPct, SUM(totalDistributorCost)totalDistributorCost, SUM(totalDistributorCostPct)totalDistributorCostPct
			, SUM(tt)tt, SUM(pctTtToSs)pctTtToSs, SUM(pctTtToPs)pctTtToPs, SUM(adhoc)adhoc, SUM(pctAdhocToSs)pctAdhocToSs, SUM(pctAdhocToPs)pctAdhocToPs, SUM(ttPlusAdhoc)ttPlusAdhoc, SUM(pctTtPlusAdhocTotSs)pctTtPlusAdhocTotSs, SUM(pctTtPlusAdhocTotPs)pctTtPlusAdhocTotPs
			, SUM(totalTradeSpend)totalTradeSpend, SUM(tradeSpendPctToPs)tradeSpendPctToPs
			, SUM(warChest)warChest, SUM(warChestPctToPs)warChestPctToPs
			, SUM(totalTS)totalTS, SUM(pctToPs)pctToPs
			, 0 seqnum
		FROM @detail GROUP BY channel, subchannel, account, subaccount
	SELECT * INTO  #tempDetail1 FROM @detail

/*sub total*/
	INSERT INTO @detail
		SELECT  
			brand, channel, '' subchannel, ''account, ''subaccount
			, SUM(ssVolumeTons) ssVolumeTons, SUM(psVolumeTons) psVolumeTons, SUM(ss)ss, SUM(ps)ps
			, SUM(kpi)kpi, SUM(kpiPct)kpiPct, SUM(rga)rga, SUM(rgaPct)rgaPct, SUM(transport)transport, SUM(transportPct)transportPct, SUM(otherCost)otherCost, SUM(otherCostPct)otherCostPct, SUM(totalDistributorCost)totalDistributorCost, SUM(totalDistributorCostPct)totalDistributorCostPct
			, SUM(tt)tt, SUM(pctTtToSs)pctTtToSs, SUM(pctTtToPs)pctTtToPs, SUM(adhoc)adhoc, SUM(pctAdhocToSs)pctAdhocToSs, SUM(pctAdhocToPs)pctAdhocToPs, SUM(ttPlusAdhoc)ttPlusAdhoc, SUM(pctTtPlusAdhocTotSs)pctTtPlusAdhocTotSs, SUM(pctTtPlusAdhocTotPs)pctTtPlusAdhocTotPs
			, SUM(totalTradeSpend)totalTradeSpend, SUM(tradeSpendPctToPs)tradeSpendPctToPs
			, SUM(warChest)warChest, SUM(warChestPctToPs)warChestPctToPs
			, SUM(totalTS)totalTS, SUM(pctToPs)pctToPs
			, 1 seqNum
		FROM #tempDetail1 GROUP BY brand, channel

	INSERT INTO @detail
		SELECT  
			brand, '' channel, '' subchannel, '' account, '' subaccount
			, SUM(ssVolumeTons) ssVolumeTons, SUM(psVolumeTons) psVolumeTons, SUM(ss)ss, SUM(ps)ps
			, SUM(kpi)kpi, SUM(kpiPct)kpiPct, SUM(rga)rga, SUM(rgaPct)rgaPct, SUM(transport)transport, SUM(transportPct)transportPct, SUM(otherCost)otherCost, SUM(otherCostPct)otherCostPct, SUM(totalDistributorCost)totalDistributorCost, SUM(totalDistributorCostPct)totalDistributorCostPct
			, SUM(tt)tt, SUM(pctTtToSs)pctTtToSs, SUM(pctTtToPs)pctTtToPs, SUM(adhoc)adhoc, SUM(pctAdhocToSs)pctAdhocToSs, SUM(pctAdhocToPs)pctAdhocToPs, SUM(ttPlusAdhoc)ttPlusAdhoc, SUM(pctTtPlusAdhocTotSs)pctTtPlusAdhocTotSs, SUM(pctTtPlusAdhocTotPs)pctTtPlusAdhocTotPs
			, SUM(totalTradeSpend)totalTradeSpend, SUM(tradeSpendPctToPs)tradeSpendPctToPs
			, SUM(warChest)warChest, SUM(warChestPctToPs)warChestPctToPs
			, SUM(totalTS)totalTS, SUM(pctToPs)pctToPs
			, 2 seqNum
		FROM #tempDetail1 GROUP BY brand

	SELECT 
		brand, channel, subchannel, account, subaccount
		, ssVolumeTons, psVolumeTons, ss, ps
		, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct
		, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs
		, totalTradeSpend, tradeSpendPctToPs
		, warChest, warChestPctToPs
		, totalTS, pctToPs
		, seqNum
		, IIF(brand='DSN',0,IIF(brand='SGM',1,IIF(brand='Nutrilon',2,IIF(brand='Bebelac',3,IIF(brand='NMN',4,9))))) seqBrandNum, ISNULL(b.Id,999) seqChannelNum 
		INTO #tempDetail2 
		FROM @detail a
		LEFT JOIN (select id, LongDesc from tbmst_channel) b on a.channel = b.LongDesc

	select 
		IIF (subaccount='','',brand) brand
		, IIF (subaccount='','',channel) channel
		, IIF (subaccount='','',subchannel) subchannel
		, IIF (subaccount='','',account) account
		, IIF (channel = '' AND subaccount='','GRAND TOTAL'
			, IIF(subaccount = '', channel, subaccount)) subaccount
		, ssVolumeTons, psVolumeTons, ss, ps
		, kpi, kpiPct, rga, rgaPct, transport, transportPct, otherCost, otherCostPct, totalDistributorCost, totalDistributorCostPct
		, tt, pctTtToSs, pctTtToPs, adhoc, pctAdhocToSs, pctAdhocToPs, ttPlusAdhoc, pctTtPlusAdhocTotSs, pctTtPlusAdhocTotPs
		, totalTradeSpend, tradeSpendPctToPs
		, warChest, warChestPctToPs
		, totalTS, pctToPs
		, seqBrandNum, seqChannelNum, seqNum
		INTO #tempDetail
		from #tempDetail2 ORDER BY seqBrandNum, seqChannelNum, seqNum

	/**********************
        pagination
	**********************/
	set @start=(@start*@length)+1

    SET @recordsFiltered = (
    	SELECT COUNT(*) FROM #tempDetail
			WHERE 
				(brand like '%' + isnull(@txtSearch,'') + '%') OR
				(channel like '%' + isnull(@txtSearch,'') + '%') OR
				(subchannel like '%' + isnull(@txtSearch,'') + '%') OR
				(account like '%' + isnull(@txtSearch,'') + '%') OR
				(subaccount like '%' + isnull(@txtSearch,'') + '%') 
		)

    SELECT COUNT(*) as totalCount, @recordsFiltered as filteredCount FROM #tempDetail

    IF @length = -1
		BEGIN
			IF ISNULL(@txtSearch,'')=''
    			BEGIN
					SET @SQL = '
						SELECT *
						FROM #tempDetail
						ORDER BY seqBrandNum, seqChannelNum, seqNum'

					EXEC sys.sp_executesql @SQL
				END 
					ELSE 
						BEGIN
							SET @SQL = '
								SELECT * 
								FROM #tempDetail
								WHERE 
									(brand like ''%' + isnull(@txtSearch,'') + '%'') OR
									(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subchannel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(account like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subaccount like ''%' + isnull(@txtSearch,'') + '%'') 
									ORDER BY seqBrandNum, seqChannelNum, seqNum'
								EXEC sys.sp_executesql @SQL
						END
		END
		    ELSE
				BEGIN
					IF ISNULL(@txtSearch,'')=''
    					BEGIN
							SET @SQL = '
								SELECT * 
								FROM #tempDetail
									ORDER BY seqBrandNum, seqChannelNum, seqNum
								OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
							EXEC sys.sp_executesql @SQL
						END 
							ELSE 
								BEGIN
									SET @SQL = '
										SELECT * 
										FROM #tempDetail
										WHERE 
											(brand like ''%' + isnull(@txtSearch,'') + '%'') OR
											(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
											(subchannel like ''%' + isnull(@txtSearch,'') + '%'') OR
											(account like ''%' + isnull(@txtSearch,'') + '%'') OR
											(subaccount like ''%' + isnull(@txtSearch,'') + '%'') 
									ORDER BY seqBrandNum, seqChannelNum, seqNum
										OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
									EXEC sys.sp_executesql @SQL
								END	    
				END

HELL:
	DROP TABLE IF EXISTS #tmpBrandAccount
	DROP TABLE IF EXISTS #tempDetail1
	DROP TABLE IF EXISTS #tempDetail2
	DROP TABLE IF EXISTS #tempDetail
END

GO
