USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_list_pagination]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_planning_list_pagination] --'2020',2,2,'1900-01-01','9999-12-31','1900-01-01','9999-12-31','kamsat', 0, 10
--declare
 @periode varchar(4)
,@entity int
,@distributor int
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@userid varchar(50)
,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @userid='kamsat'
--SET @create_from='1900-12-01'
--SET @create_to='9999-12-31'
--SET @start_from='1900-01-01'
--SET @start_to='9999-12-01'

AS

/*
 * 2020-04-15 EDJ add laststatus if iscancel = 1
 */
BEGIN
--     SET @filter = 'pl.refId + pl.tsCode + pcp.ShortDesc + dis.ShortDesc + subaccount.SubAccountDesc + brand.BrandDesc + pl.ActivityDesc';
--     insert into mytmp(f1) values(@txtSearch);
    DECLARE @recordsFiltered int;
    drop table if exists #temp_planning;

    SELECT pl.id PromoPlanId,
    pl.refid,pr.Id PromoId,
    pr.refid PromorefId,
    region.RegionDesc,
    brand.BrandDesc,
    subaccount.SubAccountDesc,
    pl.StartPromo,
    pl.EndPromo,
    pl.ActivityDesc,
    pl.Investment,
    --IIF(pl.LastStatus='created','waiting for approval',pl.LastStatus) LastStatus,
    IIF(pl.IsCancel=1, 'Cancelled by ' + CAST(pl.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pl.CancelOn as varchar), IIF(isnull(pl.tscode, '')='', 'waiting for approval', 'approved')) LastStatus,
    pl.tscode,
    EntityId,
    pcp.LongDesc EntityLongDesc,
    pcp.ShortDesc EntityShortDesc,
    pl.DistributorId,
    dis.LongDesc DistributorLongDesc,
    dis.ShortDesc DistributorShortDesc,
    pl.Mechanisme1,
    pl.Mechanisme2,
    pl.Mechanisme3,
    pl.Mechanisme4,
    pl.CancelNotes,
    isnull(pl.IsCancel, 0) as IsCancel,
    pl.TSCodeOn,
    pl.TSCodeBy,
    pl.initiator_notes
    ,pl.InvestmentTypeId 
    ,tit.RefId InvestmentTypeRefId
    ,tit.LongDesc InvestmentTypeDesc	     
    
    INTO #temp_planning
    FROM tbtrx_promo_planning pl
    left join tbmst_investment_type tit WITH(NOLOCK) on pl.InvestmentTypeId = tit.id 
    left join
                (
                    select PromoPlanId,
                    STUFF(
                            (select ',' + reg.LongDesc
                                from tbtrx_promo_planning_region a
                                join tbmst_region reg
                                ON a.RegionId=reg.Id
                                where a.PromoPlanId=b.PromoPlanId
                                FOR XML PATH ('')),1,1,'') AS RegionDesc
                        FROM tbtrx_promo_planning_region b INNER JOIN tbtrx_promo_planning ON Id=PromoPlanId  GROUP BY PromoPlanId
                ) region
                on pl.Id = region.PromoPlanId
    inner join
                (
                    select PromoPlanId,
                    STUFF(
                            (select ',' + sub.LongDesc
                                from tbtrx_promo_planning_subaccount a
                                join tbmst_subaccount sub
                                ON a.SubAccountId=sub.Id
                                where a.PromoPlanId=b.PromoPlanId
                                FOR XML PATH ('')),1,1,'') AS SubAccountDesc
                        FROM tbtrx_promo_planning_subaccount b INNER JOIN tbtrx_promo_planning ON Id=PromoPlanId  GROUP BY PromoPlanId
                ) subaccount
                on pl.Id = subaccount.PromoPlanId
    left join
                (
                    select PromoPlanId,
                    STUFF(
                            (select ',' + sub.LongDesc
                                from tbtrx_promo_planning_brand a
                                join tbmst_brand sub
                                ON a.brandId=sub.Id
                                where a.PromoPlanId=b.PromoPlanId
                                FOR XML PATH ('')),1,1,'') AS brandDesc
                        FROM tbtrx_promo_planning_brand b INNER JOIN tbtrx_promo_planning ON Id=PromoPlanId  GROUP BY PromoPlanId
                ) brand
                on pl.Id = brand.PromoPlanId

    inner join tbmst_principal pcp on pl.EntityId=pcp.Id
    inner join tbmst_distributor dis on pl.DistributorId=dis.Id
    left join tbset_user uo on uo.Id=pl.CancelBy
    left join tbtrx_promo pr on pl.Id=pr.PromoPlanId and pr.tscoding=pl.TSCode
	where
-- 	IIF(@txtSearch is null, '', pl.refId + pl.tsCode + pcp.ShortDesc + dis.ShortDesc + subaccount.SubAccountDesc + brand.BrandDesc + pl.ActivityDesc) like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
	IIF(@entity=0,'',EntityId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',pl.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@userid='0','',pl.CreateBy) =IIF(@userid='0','',@userid)
	AND NOT (CONVERT(varchar(8),pl.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pl.EndPromo,112) < convert(varchar(8),@start_from,112))
	AND (CONVERT(varchar(8),pl.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(6),pl.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
-- --------------------------------------------------------------------
--	AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- --------------------------------------------------------------------

    /**********************
        start pagination
     **********************/
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SELECT * FROM #temp_planning
			ORDER BY PromoPlanId ASC
		END 
		ELSE 
		BEGIN
			SELECT * FROM #temp_planning
			WHERE 
				(refId like '%' + @txtSearch + '%') OR
				(tsCode like '%' + @txtSearch + '%') OR
				(EntityShortDesc like '%' + @txtSearch + '%') OR
				(DistributorShortDesc like '%' + @txtSearch + '%') OR
				(SubAccountDesc like '%' + @txtSearch + '%') OR
				(BrandDesc like '%' + @txtSearch + '%') OR
				(ActivityDesc like '%' + @txtSearch + '%')
			ORDER BY PromoPlanId ASC
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SELECT * FROM #temp_planning
			ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
		END 
		ELSE 
		BEGIN
			SELECT * FROM #temp_planning
			WHERE 
				(refId like '%' + @txtSearch + '%') OR
				(tsCode like '%' + @txtSearch + '%') OR
				(EntityShortDesc like '%' + @txtSearch + '%') OR
				(DistributorShortDesc like '%' + @txtSearch + '%') OR
				(SubAccountDesc like '%' + @txtSearch + '%') OR
				(BrandDesc like '%' + @txtSearch + '%') OR
				(ActivityDesc like '%' + @txtSearch + '%')
			ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
		END	    
    END
    
    SET @recordsFiltered = (
    	SELECT isnull(count(PromoPlanId),0) FROM #temp_planning
		WHERE 
			(refId like '%' + @txtSearch + '%') OR
			(tsCode like '%' + @txtSearch + '%') OR
			(EntityShortDesc like '%' + @txtSearch + '%') OR
			(DistributorShortDesc like '%' + @txtSearch + '%') OR
			(SubAccountDesc like '%' + @txtSearch + '%') OR
			(BrandDesc like '%' + @txtSearch + '%') OR
			(ActivityDesc like '%' + @txtSearch + '%')
		)

    SELECT isnull(count(PromoPlanId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_planning
    drop table #temp_planning
    /**********************
        end pagination
     **********************/

END
GO
