

/****** Object:  StoredProcedure [dbo].[ip_promo_exist]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_exist]
@periode varchar(4)
,@ActivityDesc varchar(255)
,@Channel ArrayIntType READONLY
,@Account ArrayIntType READONLY
,@startPromo date
,@endPromo date
AS 
	SELECT top 1 tp.id,tp.RefId,ta2.Periode,tp.ActivityDesc, tpc.ChannelId, tc.LongDesc channel, tpa.AccountId, ta.LongDesc account,
	tp.StartPromo, tp.EndPromo, tps.SubAccountId, ts.LongDesc subaccount
	FROM tbtrx_promo tp with (nolock)
	INNER JOIN tbmst_category mc WITH (NOLOCK) ON tp.categoryid = mc.id
	INNER JOIN tbtrx_allocation ta2 ON tp.AllocationId = ta2.id
	INNER JOIN tbtrx_promo_channel tpc with (nolock) ON tp.id=tpc.PromoId 
	INNER JOIN tbmst_channel tc with (nolock) ON tpc.ChannelId = tc.id
	INNER JOIN tbtrx_promo_account tpa with (nolock) ON tp.id=tpa.PromoId 
	INNER JOIN tbmst_account ta with (nolock) ON tpa.AccountId = ta.id
	INNER JOIN tbtrx_promo_subaccount tps with (nolock) ON tp.id=tps.PromoId
	INNER JOIN tbmst_subaccount ts with (nolock) ON tps.SubAccountId = ts.id
	INNER JOIN @channel chn ON tpc.ChannelId = chn.keyid
	INNER JOIN @Account acc ON tps.SubAccountId = acc.keyid
	WHERE isnull(tp.IsCancel, 0) = 0
	AND ta2.Periode = @periode 
	AND iif(mc.shortdesc='DC', '', tp.ActivityDesc) = iif(mc.shortdesc='DC', '', @ActivityDesc)
    AND tp.StartPromo=@startPromo AND tp.EndPromo=@endPromo
    ORDER BY tp.id DESC
GO
