

/****** Object:  StoredProcedure [dbo].[ip_conf_roi_cr_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_conf_roi_cr_ins]
    @config SetRoiCrType READONLY
	,@UserId             varchar(50)
	,@userEmail		varchar(50) = ''
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
    DELETE FROM tbset_roi_cr WHERE id IN (SELECT Id FROM @config)
    INSERT INTO tbset_roi_cr (id, SubActivityID, SubActivity, MinimumROI, MaksimumROI, MinimumCostRatio, MaksimumCostRatio, CreateOn, CreateBy, CreatedEmail)
    SELECT a.Id,b.RefId,b.LongDesc,a.MinimumROI,a.MaksimumROI,a.MinimumCostRatio, a.MaksimumCostRatio,@utcDate123,@UserId, @userEmail
    FROM @config a
    INNER JOIN tbmst_subactivity b on a.Id=b.Id
END


GO
