USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promoid_workflow_change]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promoid_workflow_change] 
	@RefId				varchar(30)
AS

--declare @RefId	varchar(30)
--set @RefId='SGM00005'

BEGIN
DECLARE @Id	INT, @CategoryShortDesc varchar(20)
SELECT TOP 1 @Id=id, @CategoryShortDesc=CategoryShortDesc from tbtrx_promo where RefId like '%'+@RefId+'%'

	SET NOCOUNT ON;
	
	--select distinct ModifiedOn [date], ModifiedBy userid, '' loginemail, 'Promo Period' [field], '' oldvalue, '' newvalue, StartPromo,EndPromo from tbhis_promo where Id=@Id
	--select distinct ModifiedOn [date], ModifiedBy userid, '' loginemail, 'Activity Name' [field], '' oldvalue, '' newvalue, ActivityDesc from tbhis_promo where Id=@Id
	--select distinct ModifiedOn [date], ModifiedBy userid, '' loginemail, 'Mechanism 1' [field], '' oldvalue, '' newvalue, Mechanisme1 from tbhis_promo where Id=@Id

/*DUMMY RESULT*******************************/
--format(CreatedOn,'dd/MM/yyyy hh:mm')

	IF @CategoryShortDesc='DC'
		BEGIN
			SELECT format(CreatedOn,'dd/MM/yyyy HH:mm') [date], createdby userid, createdbyemail loginemail, statusfield [field], oldvalue, newvalue
				FROM tbtrx_promo_workflow_change 
				where PromoId=@Id AND statusField<>'Activity Name'
				order by convert(datetime, CreatedOn) desc
		END
	ELSE
		BEGIN
			SELECT format(CreatedOn,'dd/MM/yyyy HH:mm') [date], createdby userid, createdbyemail loginemail, statusfield [field], oldvalue, newvalue
				FROM tbtrx_promo_workflow_change 
				where PromoId=@Id
				order by convert(datetime, CreatedOn) desc
		END
END


--select * from tbtrx_promo where StatusApprovalCodeRecon is not NULL

GO
