USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_product_sap_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_product_sap_list]
as
BEGIN
	SELECT        
		t.Id, 
		t.ProductId, 
		p.LongDesc     Product, 
		p.PrincipalId, 
		pr.LongDesc AS Principal, 
		p.BrandId, 
		b.LongDesc  AS Brand, 
		p.IsActive, 
		t.CreateOn, 
		t.CreateBy, 
		t.CreatedEmail, 
		t.SAPCode
	FROM            
		tbset_map_product_sap t 
		INNER JOIN tbmst_product   p  ON t.ProductId = p.Id 
		INNER JOIN tbmst_principal pr ON p.PrincipalId = pr.Id 
		INNER JOIN tbmst_brand     b  ON p.BrandId = b.Id
END


GO
