USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_planning_list_reporting]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_planning_list_reporting] --'2020',0,0,'kamsat','1900-01-01','9999-01-01','1900-01-01','9999-01-31'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date



--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @userid='0'
--SET @create_from='1900-12-01'
--SET @create_to='9999-12-31'
--SET @start_from='1900-01-01'
--SET @start_to='9999-12-01'


AS

/*
 * 2020-06-17 LUK add laststatus if iscancel = 1
 */

BEGIN
DROP TABLE IF EXISTS #temp_promoplanning
	SELECT
		pr.Periode
		,pr.Id
		,pr.refId
		,pr.tscode
		,pr.CreateBy
		,pr.CreateOn
		,pr.ModifiedOn
		,pr.ActivityDesc
		,mechanism.mechanism Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.LastStatus
		,pr.IsCancel
		,pr.CancelBy
		,pr.CancelOn
		,pr.NormalSales
		,pr.IncrSales
		,pr.Investment
		,pr.CostRatio
		,pr.StartPromo
		,pr.EndPromo
		,pr.CancelNotes
		,pr.DistributorId
		,pr.EntityId
		,pr.SubCategoryId
		,pr.ActivityId
		,pr.SubActivityId
	into #temp_promoplanning from tbtrx_promo_planning pr with (nolock)
    inner join
    (
        select PromoPlanId, string_agg(concat(a.mechanism, ' ', a.notes),', ') mechanism
                    from tbtrx_promo_planning_mechanism a with (nolock)
            GROUP BY a.PromoPlanId
    ) mechanism on pr.Id = mechanism.PromoPlanId   	
	
				WHERE pr.Periode=@periode
				AND IIF(@userid='0','',pr.CreateBy ) =IIF(@userid='0','',@userid)
				AND IIF(@entity=0,'',pr.EntityId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
				AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)
				
--				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--				AND (CONVERT(varchar(8),pr.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),pr.CreateOn,112) <= CONVERT(varchar(8),@create_to,112))


				SELECT 
					pr.Periode
					,pr.Id PromoPlanId
					,pr.refId PromoPlanRefId
					,promo.Id PromoId
					,iif(isnull(pr.tscode,'')='','',promo.refId) PromoRefId ---LUK 2020-05-15
					,p.LongDesc Entity
					,d.LongDesc Distributor
					,pr.CreateBy [Initiator]
					,pr.CreateOn [CreateOn]
					,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
					,promo.RefId [PromoNumber]
					,sctg.LongDesc [SubCategory]
					,act.LongDesc [Activity]
					,sact.LongDesc [SubActivity]
					,pr.ActivityDesc	
					,isnull(pr.Mechanisme1,'') Mechanisme1
					,isnull(pr.Mechanisme2,'') Mechanisme2
					,isnull(pr.Mechanisme3,'') Mechanisme3
					,isnull(pr.Mechanisme4,'') Mechanisme4
					,region.RegionDesc
					,channel.ChannelDesc				
					,subchannel.SubChannelDesc 
					,account.AccountDesc
					,subaccount.SubAccountDesc
					--,pr.LastStatus 	  --LUK 2020-06-17
					,IIF(pr.IsCancel=1, 'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(isnull(pr.tscode, '')='', 'waiting for approval', 'approved')) LastStatus --LUK 2020-06-17
					,pr.NormalSales + pr.IncrSales [Target]
					,pr.Investment
					,pr.NormalSales
					,pr.IncrSales
	--				,(pr.IncrSales-pr.Investment)/pr.Investment as Roi	---LUK 2020-04-21
					,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---EJ 2020-06-02
					,pr.CostRatio
					,pr.StartPromo
					,pr.EndPromo
					,pr.TsCode
					,brand.BrandDesc
					,sku.SKUDesc
					,pr.CancelNotes
					,pr.NormalSales + pr.IncrSales TotalSales
				FROM #temp_promoplanning pr -- tbtrx_promo_planning pr with (nolock)
				left join tbset_user uo on uo.Id=pr.CancelBy --LUK 2020-06-17
				left join tbtrx_promo promo on pr.Id=promo.PromoPlanId and pr.tscode=promo.TsCoding
				inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on pr.EntityId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id	
				inner join
						(
								select PromoPlanId, string_agg(chn.LongDesc,' ,') ChannelDesc
										from tbtrx_promo_planning_channel a with (nolock)
										INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id 
										INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
									GROUP BY a.PromoPlanId
							) channel
						on pr.Id = channel.PromoPlanId

				inner join
						(
								select PromoPlanId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
										from tbtrx_promo_planning_subchannel a with (nolock)
										INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id 
										INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
									GROUP BY a.PromoPlanId
						) subchannel
						on pr.Id = subchannel.PromoPlanId

				--inner join
				--		(
				--				select PromoPlanId, string_agg(reg.LongDesc,' ,') RegionDesc
				--						from tbtrx_promo_planning_region a with (nolock)
				--						INNER join tbmst_region reg with (nolock) ON a.RegionId=reg.Id 
				--						INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
				--					GROUP BY a.PromoPlanId
				--			) region
				--		on pr.Id = region.PromoPlanId
				inner join
						(
								select PromoPlanId, string_agg(acc.LongDesc,' ,') AccountDesc
										from tbtrx_promo_planning_account a with (nolock)
										INNER join tbmst_account acc with (nolock) ON a.AccountId=acc.Id 
										INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
									GROUP BY a.PromoPlanId
							) account
						on pr.Id = account.PromoPlanId
				inner join
						(
								select PromoPlanId, string_agg(subacc.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_planning_subaccount a with (nolock)
										INNER join tbmst_subaccount subacc with (nolock) ON a.SubAccountId=subacc.Id 
										INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
									GROUP BY a.PromoPlanId
							) subaccount
						on pr.Id = subaccount.PromoPlanId
				--inner join
				--		(
				--				select PromoPlanId, string_agg(brd.LongDesc,' ,') BrandDesc
				--						from tbtrx_promo_planning_brand a with (nolock)
				--						INNER join tbmst_brand brd with (nolock) ON a.BrandId=brd.Id 
				--						INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
				--					GROUP BY a.PromoPlanId
				--			) brand
				--		on pr.Id = brand.PromoPlanId
				--inner join	
				--		(
				--				select PromoPlanId, string_agg(sku.LongDesc,' ,') SKUDesc
				--						from tbtrx_promo_planning_product a with (nolock)
				--						INNER join tbmst_product sku with (nolock) ON a.ProductId=sku.Id 
				--						INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId  
				--					GROUP BY a.PromoPlanId
				--			) sku

				--		on pr.Id = sku.PromoPlanId
				inner join tbhlp_promo_planning_region region with (nolock) on pr.id=region.promoplanid
				inner join tbhlp_promo_planning_brand brand with (nolock) on pr.id=brand.promoplanid
				inner join tbhlp_promo_planning_product sku with (nolock) on pr.id=sku.promoplanid
--				WHERE pr.Periode=@periode
--				AND IIF(@userid='0','',pr.CreateBy ) =IIF(@userid='0','',@userid)
--				AND IIF(@entity=0,'',pr.EntityId) =IIF(@entity=0,'',@entity)
--				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
--				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--				AND (CONVERT(varchar(8),pr.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),pr.CreateOn,112) <= CONVERT(varchar(8),@create_to,112))
---- --------------------------------------------------------------------
----				AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))					
---- --------------------------------------------------------------------
	
DROP TABLE IF EXISTS #temp_promoplanning


END




GO
