

/****** Object:  StoredProcedure [dbo].[ip_invoice_void_list_reporting]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_invoice_void_list_reporting] --'2020',0,0
--DECLARE
@void_from date
,@void_to date
,@entity int
,@distributor int
,@userid varchar(50)
AS
BEGIN
    DECLARE @profitcenter varchar(10)
    SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

    SELECT a.Id, a.RefId invoice_number,b.DNId, c.RefId dn_number , a.CreateOn, a.CreateBy, d.username, tih.CreateOn invoicedate
    FROM tbtrx_invoice_void_header a
    INNER JOIN tbtrx_invoice_header tih on a.id=tih.id
    INNER JOIN tbtrx_invoice_void_detail b ON a.id=b.ParentId
    INNER JOIN tbtrx_debetnote c ON b.DNId=c.id
    INNER JOIN tbset_user d ON a.CreateBy=d.id
    INNER JOIN
	(
		SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid
	) dis ON c.DistributorId=dis.DistributorId
    WHERE (CONVERT(varchar(6),a.CreateOn,112) >= CONVERT(varchar(6),@void_from,112) AND  CONVERT(varchar(6),a.CreateOn,112) <= CONVERT(varchar(6),@void_to,112))
    AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
    AND IIF(@entity=0,'',a.EntityId) =IIF(@entity=0,'',@entity)
    AND IIF(isnull(@profitcenter,'')='1100','',c.AreaCode) =IIF(isnull(@profitcenter,'')='1100','',@profitcenter)
END
GO
