

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_non_batching]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_xml_generate_non_batching]
@entity int
AS

--declare @entity int
--set @entity=2

BEGIN
	DECLARE @Temp TABLE
	(
		DistributorId int,
		EntityId int,
		EntityDesc varchar(50),
		InvoiceId int,
		InvoiceNo varchar(50),
		CreateOn Datetime,
		ActivityDesc varchar(255),
		DPPAmount numeric(19,2),
		PriceConditionForPayment varchar(10),
		SAPCode varchar(20),
		TaxLevel varchar(100),
		promoNumber varchar(50),
		FPDate datetime,
		FPNumber varchar(50)	);
/*
 * INSERT DATA Others Distributor
 */
INSERT INTO @Temp
SELECT 
	td.DistributorId, td.PrincipalId as EntityId, mp.ShortDesc EntityDesc, td.id as InvoiceId
	, case 
			when SUBSTRING(td.refid,4,5)='Tempo' then 
				concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
			when SUBSTRING(td.refid,4,3)='WCI' then 
				concat('WCI', SUBSTRING(td.refid,12,4), right(td.refid,8))
			when SUBSTRING(td.refid,4,7)='Aladdin' then 
				concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
			else 
				concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
		end as InvoiceNo
	, td.CreateOn
    , tp.refid
	, iif(
			((td.taxlevel='10355228')
			 or (td.taxlevel='10355208')
			 or (td.taxlevel='10355223')
			 or (td.taxlevel='10355203'))
			 AND td.vatexpired=1
			, (td.DNAmount+round((td.ppnpct*td.dnamount/100),0)), td.DNAmount)as DPPAmount 
	, tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex, '') as SAPCode, td.TaxLevel 
    ,tp.RefId, td.FPDate, isnull(td.FPNumber,'')FPNumber
FROM tbtrx_debetnote td 
	INNER JOIN tbmst_principal mp ON td.PrincipalId = mp.id
	LEFT JOIN tbtrx_promo tp on td.PromoId = tp.id
	LEFT JOIN tbset_mapping_pricecondition tsmp on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
	INNER JOIN tbmst_distributor tmd on td.DistributorId = tmd.Id
--	WHERE td.DistributorId <> 2 and td.LastStatus = 'validate_by_danone'
--	WHERE td.DistributorId <> 2 and td.LastStatus = 'invoice'
	WHERE td.LastStatus = 'invoice'
	AND isnull(td.IsCancel, 0) = 0
	AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
	AND td.TaxLevel<>'00000000'
	
SELECT 
	invoice.EntityId
	,invoice.EntityDesc
	,'ID9' as OrderCBU
	, 'ZID9ORDERS_01' as OrderLogicalMessage
	, invoice.SAPCode as SoldToCode
	, 'B' as TypeOfSoldToCode
	,invoice.SAPCode as ShipToCode
	, 'B' as TypeofShipToCode
	, ' ' as OtherPartnerCode
	, ' ' as PartnerFunctionOfOtherPartner
	,' ' as TypeOfOtherPartnerCode
	, ' ' as OtherPartnerCode2
	, ' ' as PartnerFunctionOfOtherPartner2
	, ' ' as TypeOfOtherPartnerCode2
	,' ' as OtherPartnerCode3
	, ' ' as PartnerFunctionOfOtherPartner3
	, ' ' as TypeOfOtherPartnerCode3
	, 'C001' as PaymentTerm
	, invoice.InvoiceNo as PONumber
	, invoice.CreateON as RequestedDeliveryDate
	, ' ' as RequestedDeliveryTime
	, ' ' as PODate
	, 'ZTD3' as OrderType
	, CASE WHEN invoice.EntityId=2 THEN '4450' ELSE CASE WHEN invoice.EntityId=3 THEN '5600' ELSE CASE WHEN invoice.EntityId=4 THEN '5610' ELSE ' ' END END END as SalesOrg
	, '00' as Channel
	, '00' as Division
	, ' ' as DeliveryBlock
	, ' ' as BillingBlock
	, ' ' as ShippingCondition
	, ' ' as ShippingType
	, invoice.ActivityDesc as Assignment
	, ' ' as OrderReason
	, ' ' as PurchaseOrderType
	, ' ' as OrderModificationReason
	, ' ' as ShipToPartysPurchaseOrderNumber
	, ' ' as ShipToPartysPurchaseOrderDate
	, ' ' as TypeDocumentInReferenceHeader
	, ' ' as DocumentInReference
	, ' ' as SoldToYourReference
	, ' ' as ShipToYourReference
	, ' ' as ShipToName1
	, ' ' as ShipToName2
	, ' ' as ShipToStreet
	, ' ' as ShipToPostalCode
	, ' ' as ShipToCity
	, ' ' as ShipToCountry
	, 'Z014' as TextType
    , concat(invoice.promoNumber,'_',FPNumber,'_', convert(varchar(8), invoice.FPDate, 112)) as DetailOfText
-- 	, ' ' as DetailOfText
	, ' ' as TextType2
	, ' ' as DetailOfText2
	, '10' as ItemNumber
--	, '10355204' as material
	, invoice.TaxLevel as material
	, 'B' as TypeOfMaterialCode
	, ' ' as ItemCategory
	, 1 as Quantity
	, 'PCE' as UnitOfQuantity
	, ' ' as PlannedGoodIssueDate
	, PriceConditionForPayment as PriceCondition
	, ' ' as PriceList
	, ' ' as Sign
	, format(invoice.DPPAmount,'#') as Value
	, ' ' as ConditionPricingUnit
	, ' ' as UnitOfPrice
	, ' ' as ConditionCurrency
	, CASE WHEN invoice.EntityId=2 THEN '4450' ELSE CASE WHEN invoice.EntityId=3 THEN '5600' ELSE CASE WHEN invoice.EntityId=4 THEN '5610' ELSE ' ' END END END as Plant
	, ' ' as StorageLocation
	, ' ' as ItemUsage
	, ' ' as BatchNumber
	, ' ' as InternalOrder
	, ' ' as ShiptoPartysPurchaseOrderNumber
	, ' ' as TypeDocumentInReferenceLine
	, ' ' as ItemInReference
	, ' ' as ItemTextType
	, ' ' as ItemTextLanguage
	, ' ' as ItemDetailOfText
	, ' ' as ItemTextType2
	, ' ' as ItemTextLanguage2
	, ' ' as ItemDetailOfText2
FROM @Temp invoice
WHERE invoice.InvoiceNo NOT IN (SELECT PONumber FROM tbxml_generate WHERE isnull(isDeleted,0) = 0)


END
GO
