USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_multiprint_dist]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_multiprint_dist] --'2020',1,0,0,0,'kamsat',0
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@cancelstatus bit
--SET @periode = 2025
--SET @entity = 0
--SET @distributor = 0
--SET @budgetparent = 0
--SET @channel = 0
--SET @userid = 'admclho1'
--SET @cancelstatus = 0
AS
/*
 * EDJ 2020-04-01 : add username in laststatus
 * EDJ 2020-07-11 : AND isnull(pr.StatusApprovalCodeRecon, '')='' for reconciliation
 */
BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	IF @periode < 2025
	BEGIN
		DECLARE cursor_product CURSOR
		FOR SELECT 
				Id
        
			FROM 
				tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
		OPEN cursor_product;
 

		FETCH NEXT FROM cursor_product INTO 
			@product_name
    
 
		WHILE @@FETCH_STATUS = 0
			BEGIN
        
			--SET @p_alcid=@budgetparent;
			SET @p_alcid=@product_name;
		
				/***/

					with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
					as
					(
					select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
					union all
					select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
					inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
					inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
					INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
					--where AllocationId=@p_alcid
					)
				
		
		INSERT INTO @Temp
		SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
		option (maxrecursion 0);

				FETCH NEXT FROM cursor_product INTO 
					@product_name 
            
			END;
 
		CLOSE cursor_product;
 
		DEALLOCATE cursor_product;

			select distinct	 
				m.Periode period
			  ,p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,pr.ActivityDesc	
			  ,IIF(pr.IsCancel=1
					,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
					, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
						,pr.LastStatus + '-' + uapprover.username
					)
			  )  LastStatus
			  ,c.LongDesc Allocation 
			  ,pr.Investment
			  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
			  ,pr.TsCoding
			  ,pr.CancelNotes 
			--FROM tbtrx_promo pr WITH (NOLOCK)
			--LEFT JOIN @temp a ON pr.AllocationId = a.BudgetId
			--LEFT JOIN tbtrx_allocation c WITH (NOLOCK) ON a.BudgetId = c.Id
			--LEFT JOIN tbtrx_budgetmaster m WITH (NOLOCK) ON c.BudgetMasterId = m.id
			from @temp a
			inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
			left join tbtrx_allocation c on a.BudgetId=c.Id 
			inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
			left join tbmst_distributor d on m.DistributorId=d.Id
			left join tbmst_principal p on m.PrincipalId=p.Id
			left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
			inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
			inner join tbset_user uo on uo.Id=usr.UserId
			inner join tbset_user uf on uf.Id=usr.UserId
			inner join tbset_user upr on upr.Id=pr.Approver
			left join tbset_user ucancel on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
			left join tbset_user uapprover on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
			left join
					(
						select AllocationId,
						STUFF(
								(select ',' + chn.LongDesc 
									from tbtrx_allocation_channel a
									join tbmst_channel chn
									ON a.ChannelId=chn.Id
									where a.AllocationId=b.AllocationId
									FOR XML PATH ('')),1,1,'') AS ChannelDesc
							FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
					) channel
					on c.Id = channel.AllocationId
			where m.Periode=@periode
			AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
			AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			AND isnull(pr.IsCancel,0)=0
			AND EXISTS
			(
				SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and m.DistributorId=dis.DistributorId
			)		
			ORDER BY pr.Id
	END
	ELSE
	BEGIN
			select 	 
			  pr.period
			  ,p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,pr.ActivityDesc	
			  ,IIF(pr.IsCancel=1
					,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
					, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
						,pr.LastStatus + '-' + isnull(uapprover.username, '')
					)
			  )  LastStatus
			  ,dbo.getBudgetName(pr.id) Allocation 
			  ,pr.Investment
			  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
			  ,pr.TsCoding
			  ,pr.CancelNotes 
			FROM tbtrx_promo pr WITH (NOLOCK)
			inner join tbmst_distributor d on pr.DistributorId=d.Id
			inner join tbmst_principal p on pr.entityid=p.Id
			inner join tbtrx_promo_channel tpc on pr.id = tpc.promoid
			left join tbset_user ucancel on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
			left join tbset_user uapprover on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
			where pr.Period=@periode
			AND IIF(@entity=0,'', pr.entityid) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
			AND isnull(pr.IsCancel,0)=0
			AND EXISTS
			(
				SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and pr.DistributorId=dis.DistributorId
			)		
			ORDER BY pr.Id
	END
END




GO
