USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_data_recon]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_data_recon] --9,''
	@Id				INT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE @Id INT
--SET @Id=52387

BEGIN
/*************************
Category selection
***************************/
DECLARE @category as varchar(5)
SET @category = (SELECT ShortDesc FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) 

	IF @category='RC' 
		BEGIN
		/*******************************/
			SELECT
				pr.refId
				,pr.id
				,pr.period
				,pr.distributorId
				,d.LongDesc distributorLongDesc
				,d.ShortDesc distributorSortDesc
				,pr.entityId
				,p.LongDesc entityLongDesc
				,p.ShortDesc entityShortDesc
				,pr.groupBrandId
				,mbg.LongDesc groupBrandLongDesc
				,pr.categoryId
				,ctg.LongDesc categoryLongDesc
				,ctg.ShortDesc categoryShortDesc
				,pr.subCategoryId
				,sctg.LongDesc subCategoryLongDesc
				,pr.activityId
				,ta.LongDesc as activityLongDesc
				,pr.subActivityId
				,ts.LongDesc as subActivityLongDesc

				,prc.channelId, prc.channelDesc
				,prsc.subChannelId, prsc.subChannelDesc
				,pra.accountId, pra.accountDesc
				,prsa.subAccountId, prsa.subAccountDesc
				
				,pr.activityDesc
				,pr.startPromo
				,pr.endPromo
				,pr.budgetMasterId 
				,'' budgetName
				, 0 remainingBudget
				, pc.baseline
				, pc.upLift
				, pc.totalSales
				, pc.salesContribution
				, pc.storesCoverage
				, pc.redemptionRate
				,CONVERT(DECIMAL(20, 2), pc.cr) cr
				--, pc.cr
				, pc.cost

				,pr.notes
				,pr.approvalNotes
				,pr.isClose
				,pr.initiator_notes
				,pr.investmentTypeId 
				,tit.refId investmentTypeRefId
				,tit.LongDesc investmentTypeDesc
				,pr.late_submission_day
				,pr.investment investmentBfrClose --issue #839
				,pr.lastStatus
				,pr.statusApprovalCode
				,pr.statusApproval
				,pr.isLocked
				,pr.createOn
				,pr.createBy
				,pr.createdEmail
				,pr.modifiedOn
				,pr.modifiedBy
				,pr.modifiedEmail
				,pr.modifReason
				,pr.IsDelete
				,pr.deleteOn
				,pr.deleteBy
				,pr.deleteEmail
				,isnull(pr.isCancel, 0) isCancel
				,pr.cancelOn
				,pr.cancelBy
				,pr.cancelByEmail
				,pr.isCancelLocked
				,isnull(pr.IsClose, 0) isClose
				,pr.closeOn
				,pr.closeBy
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendBackNotes
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendBackNotesDate
				,ts.subActivityTypeId
				,td.Invoiced actualDnClaim

				/*-- history prev promo calculator --*/
				, isnull(pr_calc_bfr.baseline, 0) baselineBfr
				, isnull(pr_calc_bfr.uplift, 0) upliftBfr
				, isnull(pr_calc_bfr.totalsales, 0) totalSalesBfr
				, isnull(pr_calc_bfr.salescontribution, 0) salesContibutionBfr
				, isnull(pr_calc_bfr.storescoverage, 0) storesCoverageBfr
				, isnull(pr_calc_bfr.redemptionrate, 0) redemptionRateBfr
				, CONVERT(DECIMAL(20, 2), isnull(pr_calc_bfr.cr, 0)) crBfr
				--, isnull(pr_calc_bfr.cr, 0) crBfr
				, isnull(pr_calc_bfr.cost, 0) costBfr
				/*-- history prev promo calculator --*/
			FROM tbtrx_promo pr	
			INNER JOIN tbtrx_promo_calculator pc on pr.Id=pc.PromoId
			INNER JOIN tbmst_activity ta  on pr.ActivityId = ta.Id and pr.Id=@Id
			INNER JOIN tbmst_subactivity ts  on pr.SubActivityId = ts.id
			inner join tbmst_distributor d  on pr.DistributorId=d.Id
			inner join tbmst_principal p  on pr.EntityId=p.Id
			inner join tbset_user ucreateby ON pr.createby = ucreateby.id 
			inner join tbmst_category ctg  on ctg.Id=pr.CategoryId 
			inner join tbmst_subcategory sctg  on pr.SubCategoryId = sctg.id 
			INNER JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
			INNER JOIN (
				SELECT a.promoId, a.channelId, b.LongDesc channelDesc
					FROM tbtrx_promo_channel a
					INNER JOIN tbmst_channel b on a.ChannelId=b.Id AND PromoId=@Id
				)prc ON pr.Id=prc.promoid
			INNER JOIN (
				SELECT a.promoId, a.subChannelId, b.LongDesc subChannelDesc
					FROM tbtrx_promo_subchannel a
					INNER JOIN tbmst_subchannel b on a.SubChannelId=b.Id AND PromoId=@Id
				)prsc  ON pr.Id=prsc.promoid
			INNER JOIN (
				SELECT a.promoId, a.accountId, b.LongDesc accountDesc
					FROM tbtrx_promo_account a
					INNER JOIN tbmst_account b on a.AccountId=b.Id AND PromoId=@Id
				)pra ON pr.Id=pra.promoid
			INNER JOIN (
				SELECT a.promoId, a.subAccountId, b.LongDesc subAccountDesc
					FROM tbtrx_promo_subaccount a
					INNER JOIN tbmst_subaccount b on a.SubAccountId=b.Id AND PromoId=@Id
				)prsa  ON pr.Id=prsa.promoid
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			left join vw_promo_sendbackrecon_notes_last note on pr.id=note.ParentId
			left join (
				SELECT td.promoid, sum(iif(td.vatexpired=1,td.DPP+td.ppnamt,td.DPP))as Invoiced
					,SUM(iif(vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)) TotalClaim
	    			,SUM(iif(td.laststatus='confirm_paid',(iif(vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) TotalPaid
				FROM tbtrx_debetnote td WITH(NOLOCK) 
				WHERE isnull(td.IsCancel, 0)=0
				GROUP BY td.promoid 
			) td on pr.id=td.promoid		
			/******************************************
			history prev promo calculator
			*******************************************/
			left join (
				select id, min(parentid) parentid
				from tbhis_promo
				where isnull(reconciled, 0) = 1
				group by id
			) his on pr.id = his.id
			left join tbhis_promo_calculator pr_calc_bfr on his.parentid = pr_calc_bfr.parentid AND his.id = pr_calc_bfr.PromoId
			/*****************************************************************************************************/

				/*****************
				REGION
				*****************/
				SELECT a.regionId, b.LongDesc regionDesc
				FROM tbtrx_promo_region a
				INNER JOIN tbmst_region b on a.RegionId=b.Id AND PromoId=@Id

				/*****************
				SKU
				*****************/
				SELECT a.productId skuId, b.LongDesc skuDesc
				FROM tbtrx_promo_product a
				INNER JOIN tbmst_product b on a.ProductId=b.Id AND PromoId=@Id

				/*****************
				File attach
				*****************/
				SELECT promoId, [fileName], docLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId =@Id order by DocLink

				/***************
				MASTER STATUS APPROVAL
				***************/
				SELECT statusCode,statusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
				/***************
				MECHANISM
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					,baseline, uplift ,totalSales ,salesContribution ,storesCoverage ,redemptionRate, CONVERT(DECIMAL(20, 2), cr) cr ,cost, 1 statusRecon
					FROM [dbo].tbtrx_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id
					WHERE promoid =@Id

				/***************
				MECHANISM - PREVIOUS
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					,baseline, uplift ,totalSales ,salesContribution ,storesCoverage ,redemptionRate, CONVERT(DECIMAL(20, 2), cr) cr ,cost
					FROM [dbo].tbhis_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id 
					INNER JOIN (
						select id, min(parentid) parentid
						from tbhis_promo
						where isnull(reconciled, 0) = 1
						group by id
						)his ON tppm.ParentId = his.parentid AND tppm.PromoId=his.Id
					WHERE promoid =@Id
				/*EDITABLE RECON ITEMS*/
				SELECT tcpi.budgetYear, tcpi.promoPlanning, tcpi.budgetSource, tcpi.entity, tcpi.distributor
						, tcpi.subCategory, tcpi.activity, tcpi.subActivity, tcpi.subActivityType
						, tcpi.startPromo, tcpi.endPromo, tcpi.activityName, tcpi.initiatorNotes, tcpi.incrSales, tcpi.investment, tcpi.ROI, CONVERT(DECIMAL(20, 2), tcpi.CR) CR
						, tcpi.channel, tcpi.subChannel, tcpi.account, tcpi.subAccount
						, tcpi.region, tcpi.groupBrand, tcpi.brand, tcpi.SKU, tcpi.mechanism, tcpi.attachment
					FROM tbset_config_promo_items tcpi 
					INNER JOIN tbmst_category tc on tcpi.categoryId = tc.id
					WHERE tc.ShortDesc <> 'DC'

				/*Promo Calculator Recon*/
				DECLARE
					@p_promoid INT
					, @p_period INT
					, @p_date DATE --creation date for plan/promo
					, @p_type INT --plan/promo=1, recon=2
					, @p_distributor INT
					, @p_region AttributeType
					, @p_channel INT
					, @p_subchannel INT
					, @p_account INT
					, @p_subaccount INT
					, @p_product AttributeType
					, @p_subcategory INT
					, @p_startpromo DATE
					, @p_endpromo DATE
					, @p_subactivity INT
					, @p_groupbrand INT
					, @mainActivity VARCHAR(255)
					, @actualSales FLOAT

					, @baseline FLOAT
					, @uplift FLOAT
					, @salesContribution FLOAT
					, @storesCoverage FLOAT
					, @redemptionRate FLOAT
					, @CR FLOAT
					, @ROI FLOAT
					, @cost FLOAT		

				SELECT @p_promoid = pr.id
					, @p_period = pr.period
					, @p_date = @utcDate123
					, @p_type = 2
					, @p_distributor = pr.distributorId
					, @p_channel = prc.channelid
					, @p_subchannel = prsc.subchannelid
					, @p_account = pra.accountid
					, @p_subaccount = prsa.subaccountid
					, @p_subcategory = pr.subcategoryid
					, @p_startpromo = pr.StartPromo
					, @p_endpromo = pr.EndPromo
					, @p_subactivity = pr.SubActivityId
					, @p_groupbrand = pr.GroupBrandId
					, @mainActivity = tma.longDesc
				FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_channel prc ON pr.id = prc.promoid
				INNER JOIN tbtrx_promo_subchannel prsc ON pr.id = prsc.promoid
				INNER JOIN tbtrx_promo_account pra ON pr.id = pra.promoid
				INNER JOIN tbtrx_promo_subaccount prsa ON pr.id = prsa.promoid
				INNER JOIN tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
				INNER JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id
				WHERE pr.id = @Id
								
				IF @mainActivity = 'Non Running Rate - Cosmo' AND CONVERT(varchar(8), @p_endpromo, 112) < CONVERT(varchar(8), @utcDate123, 112)
				BEGIN 
					DECLARE @totalSales TABLE (
						baselineSales FLOAT
						, actualSales FLOAT
					)

					INSERT INTO @p_region
					SELECT RegionId FROM tbtrx_promo_region WHERE promoid = @p_promoid

					INSERT INTO @p_product
					SELECT ProductId FROM tbtrx_promo_product WHERE promoid = @p_promoid

					INSERT INTO @totalSales
					EXEC ip_promo_baseline_get
						@p_promoid 
						,@p_period 
						,@p_date 
						,@p_type 
						,@p_distributor 
						,@p_region 
						,@p_channel 
						,@p_subchannel 
						,@p_account 
						,@p_subaccount 
						,@p_product 
						,@p_subcategory 
						,@p_startpromo 
						,@p_endpromo 
						,@p_subactivity 
						,@p_groupbrand 

					SELECT @actualSales = ISNULL(actualSales, 0) FROM @totalSales
					--SET @actualSales = 5999994

					--redemptionRate = cost / (baseline * 1+Uplift (%) * Sales Contribution (%) * Stores Coverage (%) * CR)
					-- CR = 100 * cost/ totalsales
					-- ROI = (((((uplift+100) / 100) * baseline) - cost) / cost * 100)
					
					SELECT @baseline = baseline
						, @uplift = ISNULL((@actualSales - baseline) / NULLIF(@actualSales, 0) * 100, 0)
						, @salesContribution = salesContribution 
						, @storesCoverage = storesCoverage
						, @redemptionRate = (cost / NULLIF(( baseline * ((100 + ISNULL((@actualSales - baseline) / NULLIF(@actualSales, 0) * 100, 0)) / 100) * (salesContribution / 100) * (storesCoverage / 100) * (ISNULL(cost/NULLIF(@actualSales, 0), 0)) ), 0) * 100)
						, @CR = ISNULL(100 * cost/NULLIF(@actualSales, 0), 0)
						, @ROI = (( (((( ISNULL((((@actualSales - baseline) / NULLIF(@actualSales, 0)) * 100), 0) + 100) / 100) * baseline)) - cost) / cost * 100)
						, @cost = cost
					FROM tbtrx_promo_calculator_recon
					WHERE promoid = @Id

					SELECT ISNULL(@baseline, 0) baseline, ISNULL(@actualSales, 0) totalSales, ISNULL(@uplift, 0) uplift
						, CONVERT(FLOAT, isnull(@salesContribution, 0)) salesContribution
						, CONVERT(FLOAT, isnull(@storesCoverage, 0)) storesCoverage
						, CONVERT(FLOAT, isnull(@redemptionRate, 0)) redemptionRate
						, CONVERT(FLOAT, isnull(@CR, 0)) cr
						, CONVERT(FLOAT, isnull(@ROI, 0)) roi
						, ISNULL(@cost, 0) cost
				END
				ELSE
				BEGIN
					DECLARE @rowCalculatorRecon INT
					SELECT @rowCalculatorRecon = count(promoid) FROM tbtrx_promo_calculator_recon WHERE promoid = @Id

					IF @rowCalculatorRecon = 0 AND @mainActivity = 'Non Running Rate - Cosmo'
					BEGIN
						SELECT promoId
							, SUM(baseline) baseline
							, SUM(totalSales) totalSales
							, ((SUM(totalSales) - SUM(baseline)) / NULLIF(SUM(totalsales), 0)) * 100  uplift
							, AVG(salesContribution) salesContribution
							, AVG(storesCoverage) storesCoverage
							, ((SUM(cost) / ( SUM(baseline) * ((((((SUM(totalSales) - SUM(baseline)) / NULLIF(SUM(totalsales), 0)) * 100)) + 100) / 100) * (AVG(salesContribution) / 100) * (AVG(storesCoverage) / 100) * (SUM(cost)/NULLIF(SUM(totalsales), 0)) )) * 100) redemptionRate
							, 100 * SUM(cost)/NULLIF(SUM(totalsales), 0) cr
							, (( (( (((((SUM(totalSales) - SUM(baseline)) / NULLIF(SUM(totalsales), 0)) * 100) + 100) / 100) * SUM(Baseline) )) - SUM(cost) ) / SUM(cost) * 100) roi
							, SUM(cost) cost
						FROM tbtrx_promo_mechanism a
						INNER JOIN tbtrx_promo pr ON a.PromoId = pr.Id
						INNER JOIN tbmst_main_activity_dtl tmad ON pr.SubActivityId = tmad.subactivityid
						INNER JOIN tbmst_main_activity tma ON tmad.mainactivityid = tma.id
						WHERE tma.longDesc = 'Non Running Rate - Cosmo'
						AND pr.id = @Id
						GROUP BY PromoId	
					END
					ELSE
					BEGIN
						SELECT promoId, ISNULL(baseline, 0) baseline, ISNULL(totalSales, 0) totalSales, ISNULL(uplift, 0) uplift
							, CONVERT(FLOAT, isnull(SalesContribution, 0)) salesContribution
							, CONVERT(FLOAT, isnull(StoresCoverage, 0)) storesCoverage
							, CONVERT(FLOAT, isnull(RedemptionRate, 0)) redemptionRate
							, CONVERT(FLOAT, isnull(CR, 0)) cr
							, CONVERT(FLOAT, isnull(ROI, 0)) roi
							, ISNULL(cost, 0) cost
						FROM tbtrx_promo_calculator_recon
						WHERE promoid = @Id
					END
				END

/* DN total claim dan total paid */
				SELECT ISNULL(b.TotalClaim, 0) totalClaim, ISNULL(b.TotalPaid, 0) totalPaid
				FROM tbtrx_promo pr
				LEFT JOIN (
				SELECT 		
					a.PromoId, SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) as TotalClaim
					, SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) as TotalPaid
				FROM tbtrx_debetnote a			
					where 
						a.PromoId=@Id and
						isnull(a.IsCancel, 0) = 0
						AND isnull(a.IsDNPromo,0)=1
					GROUP BY a.PromoId
				) b ON pr.id = b.promoid
				WHERE pr.id = @Id

/* List DN Claim */
				SELECT 
					td.id
					, td.refId
					, td.lastStatus
					, td.dpp
					, td.ppnAmt
					, td.pphAmt
					, td.vatExpired
					, IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0)) totalClaim
					, iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0) totalPaid
				FROM tbtrx_debetnote td WITH (NOLOCK)
				WHERE isnull(td.IsCancel, 0) = 0 AND td.PromoId = @Id

/* List DN Paid */
				SELECT 
					td.id
					, td.refId
					, td.lastStatus
					, td.dpp
					, td.ppnAmt
					, td.pphAmt
					, td.vatExpired
					, IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0)) totalClaim
					, iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0) totalPaid
				FROM tbtrx_debetnote td WITH (NOLOCK)
				WHERE isnull(td.IsCancel, 0) = 0 AND td.PromoId = @Id
				AND td.laststatus='confirm_paid'

		END
END
GO
