USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_kpi_scoring]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_kpi_scoring] --'2020-07-01','2020-07-31','0'
--declare
@create_from date
,@create_to date
,@userid varchar(50)

	--set @create_from ='2020-01-01'
	--set @create_to ='2020-07-31'
	--set @userid ='0'
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
/*****************************************************************************************/
DROP TABLE IF EXISTS #Temp_Account
DROP TABLE IF EXISTS #Temp_Brand
DROP TABLE IF EXISTS #Temp_Channel
DROP TABLE IF EXISTS #Temp_Product
DROP TABLE IF EXISTS #Temp_PromoPlan
DROP TABLE IF EXISTS #Temp_Region
DROP TABLE IF EXISTS #Temp_SubAccount
DROP TABLE IF EXISTS #Temp_SubChannel
DROP TABLE IF EXISTS #Temp_Promo
DROP TABLE IF EXISTS #Temp_promo_skp_validate
/*****************************************************************************************/
	--DECLARE @Quater2Start date
	--SET @Quater2Start = '2020-04-01'
	select 
	tpp.id
	, tpp.DistributorId
	, tpp.EntityId
	, tpp.CreateBy
	, tpp.CreateOn
	, tpp.CategoryId
	, tpp.SubCategoryId
	, tpp.ActivityId
	, tpp.SubActivityId
	, tpp.StartPromo 
	, tpp.EndPromo 
	, tpp.TSCode 
	, tpp.Investment 
	, tpp.NormalSales 
	, tpp.IncrSales 
	, tpp.ActivityDesc
	, tpp.Mechanisme1, tpp.Mechanisme2, tpp.Mechanisme3, tpp.Mechanisme4
	, iif(isnull(tpp.NormalSales + tpp.IncrSales, 0) = 0, 0, tpp.Investment / (tpp.NormalSales + tpp.IncrSales )) as UpliftSalesPersen
	, iif(isnull(tpp.Investment,0)=0,0,(tpp.IncrSales-tpp.Investment)/tpp.Investment) as ROIPersen
	, tmu.username
	, tmu.jobtitle as jobtitle1
	, tmu.jobtitle as jobtitle2
	into #Temp_PromoPlan 
	FROM tbtrx_promo_planning tpp
		INNER JOIN tbset_user tmu on tpp.CreateBy = tmu.id 
		where 
			((CONVERT(varchar(8),@create_to,112) >= CONVERT(varchar(8),tpp.StartPromo,112) AND  CONVERT(varchar(8),@create_to,112) <= CONVERT(varchar(8),tpp.EndPromo,112))
			or
			(CONVERT(varchar(8),tpp.EndPromo,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),tpp.EndPromo,112) <= CONVERT(varchar(8),@create_to,112)))
			AND IIF(@userid='0', '', tpp.CreateBy) = IIF(@userid='0','', @userid) 
			and isnull(tpp.IsCancel,0)=0
			--and createby in ('acem-gt', 'acem-mti', 'cemretail-east')

/*****************************************************************************************/
	select 
		tp.ActivityDesc 
		, isnull(tp.Mechanisme1,'') Mechanisme1
		, isnull(tp.Mechanisme2,'') Mechanisme2
		, isnull(tp.Mechanisme3,'') Mechanisme3
		, isnull(tp.Mechanisme4,'') Mechanisme4
		, isnull(tp.id, 0) id
		, isnull(tp.RefId, '') RefId
		, tp.CreateOn 
		, tp.StartPromo
		, tp.EndPromo 
		, tp.Investment 
		, tp.IsCancel
		, tp.PromoPlanId
		, tp.StatusApprovalCodeRecon
		, tp.ModifiedOn
	into #Temp_Promo 
		from #Temp_PromoPlan tpp
		inner JOIN tbtrx_promo tp on tp.PromoPlanId = tpp.Id and isnull(tp.IsCancel,0)=0
/*****************************************************************************************/
	select tpskp.* into #Temp_promo_skp_validate 
		from #Temp_Promo tp 
		INNER JOIN tbtrx_promo_skp_validate tpskp on tp.id=tpskp.PromoId and isnull(tp.IsCancel,0)=0
/*****************************************************************************************/
	SELECT PromoPlanId,
		STUFF(
				(select  ',' + reg.LongDesc 
					from tbtrx_promo_planning_region a with (nolock)
					join tbmst_region reg with (nolock)
					ON a.RegionId=reg.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
					FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
	into #Temp_Region
	FROM tbtrx_promo_planning_region b INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
		
			select PromoPlanId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_planning_channel a with (nolock)
							join tbmst_channel chn with (nolock)
							ON a.ChannelId=chn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					into #Temp_Channel
					FROM tbtrx_promo_planning_channel b INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
			select PromoPlanId,
				STUFF(
						(select  ',' + subchn.LongDesc 
							from tbtrx_promo_planning_subchannel a with (nolock)
							join tbmst_subchannel subchn with (nolock)
							ON a.SubChannelId=subchn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
							into #Temp_SubChannel
					FROM tbtrx_promo_planning_subchannel b INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
		
			select PromoPlanId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_planning_account a with (nolock)
							join tbmst_account chn with (nolock)
							ON a.AccountId=chn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
					into #Temp_Account
					FROM tbtrx_promo_planning_account b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
					
/*****************************************************************************************/
select PromoPlanId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_planning_subaccount a with (nolock)
							join tbmst_subaccount chn with (nolock)
							ON a.subAccountId=chn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
into #Temp_SubAccount
					FROM tbtrx_promo_planning_subaccount b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
select PromoPlanId,
				STUFF(
						(select  ',' + brd.LongDesc 
							from tbtrx_promo_planning_brand a with (nolock)
							join tbmst_brand brd with (nolock)
							ON a.brandid=brd.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
into #Temp_Brand
					FROM tbtrx_promo_planning_brand b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
select PromoPlanId,
				STUFF(
						(select  ',' + sku.LongDesc 
							from tbtrx_promo_planning_product a with (nolock)
							join tbmst_product sku with (nolock)
							ON a.productid=sku.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
into #Temp_Product
					FROM tbtrx_promo_planning_product b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
	SELECT --count(tpp.DistributorId)
		tpp.DistributorId
		, tmd.ShortDesc as DistributorShortDesc
		, tpp.EntityId
		, tmp.ShortDesc as PrincipalShortDesc
		, tpp.CreateBy as PromoPlanCreateBy
		, tpp.CreateOn as PromoPlanCreateOn
		, region.RegionDesc
		, tms.SubActivityTypeId
		, tmst.LongDesc as SubActivityType
		, tpp.CategoryId
		, tmc.LongDesc as Category
		, tpp.SubCategoryId
		, tmsc.LongDesc as SubCategory
		, tpp.ActivityId
		, tma.LongDesc as Activity
		, tpp.SubActivityId
		, tms.LongDesc as SubActivity
		, tpp.StartPromo as StartPlanning
		, tpp.EndPromo as EndPlanning
		, channel.ChannelDesc
		, subchannel.SubChannelDesc
		, account.AccountDesc
		, subaccount.SubAccountDesc
		, tpp.TSCode 
		, brand.BrandDesc
		, sku.SKUDesc
		, '' as SourceOfPromo
		, '' as PromotionType
		, tp.ActivityDesc 
		, tp.Mechanisme1
		, tp.Mechanisme2
		, tp.Mechanisme3
		, tp.Mechanisme4
		, tpp.Investment 
		, tpp.NormalSales as BaselineSales
		, tpp.IncrSales as UpliftSales
		, tpp.NormalSales + tpp.IncrSales as TotalSales
		, tpp.UpliftSalesPersen
		, tpp.ROIPersen
		, tp.id as PromodId
		, tp.RefId as PromoRefId
		, username as Creator
		, tp.CreateOn as CreationDate
		, tp.StartPromo as PeriodStart
		, tp.EndPromo as PeriodEnd
		, isnull(tp.Investment, 0) as PromoAmount
		, @utcDate123 as today
		, '' as Quater2Start--@Quater2Start as Quater2Start
		, dateadd(day, 60, @utcDate123) as today60
		, datediff(day, tp.CreateOn, tpp.StartPromo) as DaysOfCreation
		, datediff(day, tp.StartPromo, tpp.StartPromo) as PeriodStartMatching
		, datediff(day, tp.EndPromo, tpp.EndPromo) as PeriodEndMatcing
		, tp.Investment - tpp.Investment as Amount
		, month(tpp.StartPromo) as PeriodOfStart
		, month(tpp.EndPromo) as PeriodOfEnd
		, datediff(day, tpp.createon, tpp.startpromo) as PromoPlanSubmissionDays
		, IIF(datediff(day, tpp.createon, tpp.startpromo)<60, 'N', 'Y' )  as PromoPlanSubmittedBfrQuarterStart90 --change to 60days
		, IIF(isnull(tp.Investment, 0) = 0, 'N', 'Y') as AvailabilityInOptima
		, IIF(tp.CreateOn is null, '',  IIF(datediff(day, tp.CreateOn, tp.StartPromo)<30, 'N', 'Y' ))  as OptimaCreationBrfActivityStart60 --change to 30days
		, IIF(tpp.StartPromo is null, '', IIF(datediff(day, tp.StartPromo, tpp.StartPromo)=0 and datediff(day, tp.EndPromo, tpp.EndPromo)=0, 'Y', 'N')) as OptimaPeriodMatch
		, IIF(tp.Investment - tpp.Investment=0, 'Y', 'N') as OptimaAmountMatch
		, IIF(tpp.ActivityDesc = tp.ActivityDesc, 'Y', 'N' ) as OptimaDescMatch
		, IIF(tpp.Mechanisme1 = tp.Mechanisme1, 'Y', 'N') as OptimaMechanismMatch
--		, IIF(tpp.Mechanisme1 = tp.Mechanisme1 and tpp.Mechanisme2 = tp.Mechanisme2 and tpp.Mechanisme3 = tp.Mechanisme3 and tpp.Mechanisme4 = tp.Mechanisme4, 'Y', 'N') as OptimaMechanismMatch
		, IIF(tpp.ActivityDesc = tp.ActivityDesc and tpp.Mechanisme1 = tp.Mechanisme1, 'Y', 'N') as OptimaDescAndMechanismMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.SKPDraftAvail, 0)=0, 'N', 'Y')) as SKPAvailability
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.SKPDraftAvailBfrAct60 , 0)=0, 'N', 'Y')) as SKPAvailBfrActivityStart60
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.PeriodMatch, 0)=0, 'N', 'Y')) as SKPPeriodMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.InvestmentMatch, 0)=0, 'N', 'Y')) as SKPAmountMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.MechanismMatch, 0)=0, 'N', 'Y')) as SKPMechanismMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.SKPSign7, 0)=0, 'N', 'Y')) as SKPSigned7
		, '' as ActivityAuditCompliance
		, '' as ExtendedPeriodMatch  
		, '' as ExtendedAmountMatch
		, '' as ExtendedMechanismMatch
		, iif(isnull(tp.StatusApprovalCodeRecon, '')='TP2',
				iif(tpc.ChannelId IN (2, 6, 3, 11) and datediff(day, tp.EndPromo, tp.ModifiedOn)<60,'Y',
					iif(tpc.ChannelId NOT IN (2, 6, 3, 11) and datediff(day, tp.EndPromo, tp.ModifiedOn)<90,'Y','N'
						)
					)
			,'')as ReconNKA
		,'' as AdjustBudgetRecon
		,'' as FeedbackOnPostROI
		,'' as AgingDNBySales
		, JobTitle1
		, JobTitle2

	FROM #Temp_PromoPlan tpp
	LEFT JOIN #Temp_Promo tp on tp.PromoPlanId = tpp.Id
	left JOIN (
		select promoid, min(channelid) as channelid from tbtrx_promo_channel group by promoid
		) tpc  on tp.id=tpc.promoid 
	LEFT JOIN #Temp_promo_skp_validate tpskp on tp.id=tpskp.PromoId 
	INNER JOIN tbmst_principal tmp on tpp.EntityId = tmp.id
	INNER JOIN tbmst_distributor tmd on tpp.DistributorId = tmd.Id 
	INNER JOIN tbmst_activity tma on tpp.ActivityId = tma.Id 
	INNER JOIN tbmst_subactivity tms on tpp.SubActivityId = tms.Id 
	INNER JOIN tbmst_subactivity_type tmst on tms.SubActivityTypeId = tmst.Id 
	INNER JOIN tbmst_category tmc on tpp.CategoryId = tmc.Id 
	INNER JOIN tbmst_subcategory tmsc on tpp.SubCategoryId = tmsc.Id 
	left JOIN #Temp_Region region on tpp.Id = region.PromoPlanId
	left JOIN #Temp_Channel channel on tpp.Id = channel.PromoPlanId
	left JOIN #Temp_SubChannel subchannel on tpp.Id = subchannel.PromoPlanId
	left JOIN #Temp_Account account on tpp.Id = account.PromoPlanId
	left JOIN #Temp_SubAccount subaccount on tpp.Id = subaccount.PromoPlanId
	left JOIN #Temp_Brand brand on tpp.Id = brand.PromoPlanId
	left JOIN #Temp_Product sku on tpp.Id = sku.PromoPlanId
/*****************************************************************************************/
DROP TABLE IF EXISTS #Temp_Account
DROP TABLE IF EXISTS #Temp_Brand
DROP TABLE IF EXISTS #Temp_Channel
DROP TABLE IF EXISTS #Temp_Product
DROP TABLE IF EXISTS #Temp_PromoPlan
DROP TABLE IF EXISTS #Temp_Region
DROP TABLE IF EXISTS #Temp_SubAccount
DROP TABLE IF EXISTS #Temp_SubChannel
DROP TABLE IF EXISTS #Temp_Promo
DROP TABLE IF EXISTS #Temp_promo_skp_validate
/*****************************************************************************************/

END
GO
