

/****** Object:  StoredProcedure [dbo].[ip_dn_create_ttd_manual]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dn_create_ttd_manual]
@distributorid int,
@userid	varchar(50),
@id ArrayIntType READONLY
as
begin try
BEGIN TRANSACTION
	declare 
	@distributorshortdesc varchar(50)
	,@headerid int
	,@createon datetime
	SET @distributorshortdesc=(SELECT ShortDesc FROM tbmst_distributor where Id=@distributorid)
	
	SET @createon = (SELECT top 1 send_to_dist_ho_on FROM tbtrx_debetnote_his a INNER JOIN @id b ON a.dnid=b.keyid)
	
	INSERT INTO tbtrx_debetnote_sp_header(DistributorId,DistributorShortDesc,CreateBy,CreateOn)
	values
	(@distributorid,@distributorshortdesc,@userid,@createon)

	SET @headerid=(SELECT SCOPE_IDENTITY())

	INSERT INTO tbtrx_debetnote_sp_detail(ParentId,DNId,IsCancel)
	select @headerid,keyid,0 FROM @id 


	
	UPDATE a
	SET IsCancel=1
	FROM tbtrx_debetnote_sp_detail a
	INNER JOIN @id b on a.DNId=b.keyid
	WHERE a.ParentId <> @headerid

	SELECT Id,RefId from tbtrx_debetnote_sp_header where Id=@headerid

commit
end try
begin catch
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

end catch
GO
