

/****** Object:  StoredProcedure [dbo].[ip_dashboard_main]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_dashboard_main] --'2020-01-01','kammidi',0,'0','0',0,'YTD'
@periode datetime,
@userid varchar(50),
@entity int,
@channel AttributeType readonly,
@account AttributeType readonly,
@subcategory int,
@viewmode varchar(3),
@category AttributeType readonly

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE
--@periode datetime,
--@userid varchar(50),
--@entity int,
--@channel AttributeType ,
--@account AttributeType ,
--@subcategory int,
--@viewmode varchar(3),
--@category AttributeType

--SET @userid='kamsat'
--SET @entity=0
--SET @subcategory=0
--SET @viewmode='YTD'
--SET @periode='2023-12-31'
--INSERT INTO @channel(id)values('0')
--INSERT INTO @acCOUNT(id)values('0')
--INSERT INTO @category(id)values('0')
BEGIN
	DECLARE @mydtime datetime
	SET @mydtime=@utcDate123

	DECLARE @channel_list AttributeType;
	DECLARE @account_list AttributeType;
	DECLARE @category_list AttributeType;

	DECLARE 
	@startdate date
	,@enddate date
	,@year varchar(4)
	,@subcategorydesc varchar(20)
	,@promo_planning numeric(19,2)
	,@promo_planning_word varchar(255)
	,@promo_created numeric(19,2)
	,@promo_created_word varchar(255)
	,@promo_created_vs_budget numeric(19,2)
	,@promoid_created decimal(19,2)
	,@total_claim numeric(19,2)
	,@total_claim_word varchar(255)
	,@total_paid numeric(19,2)
	,@total_paid_word varchar(255)
	,@promo_approved numeric(19,2)
	,@promoid_approved decimal(19,2)
	,@promo_reconciled numeric(19,2)
	,@promoid_reconciled decimal(19,2)
	,@pct_promo_created_ontime decimal(19,2)
	,@pct_promo_approved_ontime decimal(19,2)
	,@pct_submitted_claim decimal(19,2)
	,@avgdayscreated_bfr_promostart numeric(19,2)
	,@avgpromo numeric(19,2)
	,@claim_received numeric(19,2)

	SELECT @subcategorydesc=LongDesc FROM tbmst_subcategory WHERE Id=@subcategory	
	SET @year=YEAR(@periode)

	IF @viewmode='YTD'
		BEGIN
			SET @startdate=(SELECT DATEFROMPARTS(@year, 1, 1))
			IF YEAR(@utcDate123)=@year
				BEGIN
					SET @enddate=@utcDate123
				END
			ELSE
				BEGIN
					set @enddate=(SELECT DATEFROMPARTS(@year, 12, 31))
				END
		END
	ELSE
		BEGIN
			SET @startdate=(SELECT @periode-DAY(@periode)+1)
			SET @enddate=EOMONTH(@periode)
		END

	DECLARE @init_channel varchar(50), @init_account varchar(50), @init_category varchar(50);
	SET @init_channel=ISNULL((SELECT count(id) FROM @channel WHERE id<>0),0);
	SET @init_account=ISNULL((SELECT count(id) FROM @account WHERE id<>0),0);
	SET @init_category=ISNULL((SELECT count(id) FROM @category WHERE id<>0),0);

	IF(@init_channel=0)
		BEGIN 
			INSERT INTO @channel_list (id)
				SELECT id FROM tbmst_channel tc WHERE ISNULL(tc.isdelete, 0) = 0;	
		END
	ELSE
		BEGIN
			INSERT INTO @channel_list (id)
				SELECT id FROM @channel WHERE id NOT IN (0)
		END

	IF(@init_account=0)
		BEGIN 
			INSERT INTO @account_list (id)
				SELECT id FROM tbmst_subaccount ts WHERE ISNULL(ts.isdelete, 0) = 0;	
		END
	ELSE
		BEGIN
			INSERT INTO @account_list (id)
				SELECT id FROM @account WHERE id NOT IN (0)
		END

	IF(@init_category=0)
		BEGIN 
			INSERT INTO @category_list (id)
				SELECT id FROM tbmst_category ct WHERE ISNULL(ct.IsDeleted, 0) = 0;	
		END
	ELSE
		BEGIN
			INSERT INTO @category_list (id)
				SELECT id FROM @category WHERE id NOT IN (0)
		END

	DECLARE @temp_board as table
	(
		periode varchar(4)
		,budget_deployed numeric(19,2)
		,budget_deployed_word varchar(255)
		,promo_planning numeric(19,2)
		,promo_planning_word varchar(255)
		,promo_created numeric(19,2)
		,promo_created_word varchar(255)
		,total_claim numeric(19,2)
		,total_claim_word varchar(255)
		,total_paid numeric(19,2)
		,total_paid_word varchar(255)
		,pct_promo_created_vs_budget numeric(19,2)
		,promoid_created decimal(19,2)
		,pct_promo_approved decimal(19,2)
		,promoid_approved decimal(19,2)
		,pct_promo_reconciled decimal(19,2)
		,promoid_reconciled decimal(19,2)
		,pct_promo_created_ontime decimal(19,2)
		,pct_promo_approved_ontime decimal(19,2)
		,pct_submitted_claim decimal(19,2)
		,avgdayscreated_bfr_promostart numeric(19,2)
		,avgpromo numeric(19,2)
		,claim_received numeric(19,2)		
	)
	
	DECLARE @alloc AS TABLE
	(
		allocationid int
	)
	INSERT INTO @alloc
		SELECT AllocationId FROM vw_budget_vs_user
		WHERE IIF(@userid='0','',id) =IIF(@userid='0','',@userid)

	DECLARE @allocid AS TABLE
	(
		allocationid int
	)
			
	INSERT INTO @allocid
		SELECT a.AllocationId
		FROM @alloc  a
		INNER JOIN vw_budget_vs_entity b on a.Allocationid=b.AllocationId 
		INNER JOIN vw_budget_vs_subcategory c on b.AllocationId=c.AllocationId
		INNER JOIN vw_budget_vs_channel d on c.AllocationId=d.Alcid
		INNER JOIN @channel_list cl ON d.id=cl.id
		INNER JOIN vw_budget_last_layer f on d.AlcId=f.Id
		INNER JOIN tbtrx_allocation_detail g on f.Id=g.Allocationid	
		INNER JOIN tbtrx_allocation ta ON g.AllocationId = ta.Id 
		INNER JOIN tbtrx_allocation_useraccess tau ON ta.id=tau.AllocationId
		INNER JOIN tbmst_subcategory scat ON g.SubCategoryId=scat.Id
		INNER JOIN @category_list cat ON scat.CategoryId=cat.Id
		WHERE ta.Periode = @year
		AND IIF(@entity=0,0,@entity)=IIF(@entity=0,0,b.EntityId)
		AND IIF(@subcategory=0,0,@subcategory)=IIF(@subcategory=0,0,c.Id)
		AND IIF(@userid='0','',tau.UserId) =IIF(@userid='0','',@userid)
		
	
	INSERT INTO @temp_board (periode, budget_deployed, budget_deployed_word)
		SELECT @year, ISNULL(SUM(ISNULL(g.BudgetAmount,0)), 0), dbo.udf_Num_ToWord(ISNULL(SUM(ISNULL(g.BudgetAmount,0)), 0))
		FROM @allocid  a
		INNER JOIN tbtrx_allocation_detail g on a.Allocationid=g.Allocationid	
		 
	
	DECLARE @promoplanid as table
	(
		promoplanid int
	)
	
/******************************
PROMO PLANNING
******************************/
	INSERT INTO @promoplanid
		SELECT tpp.id
			FROM tbtrx_promo_planning tpp 
			INNER JOIN tbtrx_promo_planning_channel tppc ON tpp.id = tppc.PromoPlanId 
			INNER JOIN tbtrx_promo_planning_subaccount tpps ON tpp.id = tpps.PromoPlanId 
			INNER JOIN @channel_list cl ON tppc.ChannelId = cl.id
			INNER JOIN @account_list al ON tpps.SubAccountId = al.id
			INNER JOIN @category_list ct ON tpp.CategoryId=ct.Id
			WHERE IIF(@entity=0,0,@entity)=IIF(@entity=0,0,tpp.EntityId)
			AND IIF(@subcategory=0,0,@subcategory)=IIF(@subcategory=0,0,tpp.SubCategoryId)
			AND (CONVERT(varchar(8),tpp.StartPromo,112) >= CONVERT(VARCHAR(8),@startdate,112) and  CONVERT(varchar(8),tpp.EndPromo,112) <= convert(varchar(8),@enddate,112))
			AND IIF(@userid='0','',tpp.CreateBy) =IIF(@userid='0','',@userid)
			AND ISNULL(tpp.IsCancel, 0) = 0

	
	SELECT 
		@promo_planning = ISNULL(SUM(ISNULL(tpp.Investment, 0)), 0)
		, @promo_planning_word = dbo.udf_Num_ToWord(ISNULL(SUM(ISNULL(tpp.Investment, 0)), 0))
	FROM tbtrx_promo_planning tpp 
	INNER JOIN @promoplanid tmp ON tpp.id = tmp.promoplanid
	
	UPDATE @temp_board SET 
		promo_planning=@promo_planning
		, promo_planning_word=@promo_planning_word
/******************************
PROMO
******************************/
	SELECT 
		@promo_created = ISNULL(SUM(ISNULL(tp.Investment, 0)), 0)
		, @promo_created_word = dbo.udf_Num_ToWord(ISNULL(SUM(ISNULL(tp.Investment, 0)), 0))
		, @promoid_created = COUNT(tp.id)
		,@promo_approved = SUM(CASE WHEN ISNULL(tp.StatusApprovalCode, '')='TP2' THEN tp.Investment ELSE 0 END)
		,@promoid_approved = SUM(CASE WHEN ISNULL(tp.StatusApprovalCode, '')='TP2' THEN 1 ELSE 0 END)
		,@promo_reconciled = SUM(CASE WHEN ISNULL(tp.StatusApprovalCodeRecon, '')<>'' and ISNULL(tp.StatusApprovalCode, '')='TP2' THEN tp.Investment ELSE 0 END)
		,@promoid_reconciled = SUM(CASE WHEN ISNULL(tp.StatusApprovalCodeRecon, '')<>'' and ISNULL(tp.StatusApprovalCode, '')='TP2' THEN 1 ELSE 0 END)
	FROM tbtrx_promo tp 
	INNER JOIN tbtrx_promo_channel tpc ON tp.id = tpc.PromoId 
			AND IIF(@subcategory=0,0,@subcategory)=IIF(@subcategory=0,0,tp.SubCategoryId)
			AND (CONVERT(varchar(8),tp.StartPromo,112) >= CONVERT(VARCHAR(8),@startdate,112) AND  CONVERT(varchar(8),tp.StartPromo,112) <= convert(varchar(8),@enddate,112))
			--AND (CONVERT(varchar(8),tp.StartPromo,112) >= CONVERT(VARCHAR(8),@startdate,112) and  CONVERT(varchar(8),tp.EndPromo,112) <= convert(varchar(8),@enddate,112))
			AND ISNULL(tp.IsCancel, 0) = 0
	INNER JOIN tbtrx_promo_subaccount tps ON tp.id = tps.PromoId 
	INNER JOIN @channel_list cl ON tpc.ChannelId = cl.id
	INNER JOIN @account_list al ON tps.SubAccountId = al.id
	INNER JOIN tbtrx_allocation alc ON tp.AllocationId = alc.id
	INNER JOIN tbtrx_budgetmaster m ON alc.BudgetMasterId = m.id
			AND IIF(@entity=0,0,@entity)=IIF(@entity=0,0,m.PrincipalId)
	INNER JOIN @allocid tmp_alc ON alc.Id = tmp_alc.allocationid

	DROP TABLE IF EXISTS #promo
	DROP TABLE IF EXISTS #dn

/******************************
DEBIT NOTE
******************************/
	SELECT tp.id INTO #promo
		FROM tbtrx_promo tp 
		INNER JOIN tbtrx_promo_channel tpc ON tp.id = tpc.PromoId 
				AND (CONVERT(varchar(8),tp.StartPromo,112) >= CONVERT(VARCHAR(8),@startdate,112) AND  CONVERT(varchar(8),tp.StartPromo,112) <= convert(varchar(8),@enddate,112))
				--AND (CONVERT(varchar(8),tp.StartPromo,112) >= CONVERT(VARCHAR(8),@startdate,112) and  CONVERT(varchar(8),tp.EndPromo,112) <= convert(varchar(8),@enddate,112))
				AND ISNULL(tp.IsCancel, 0) = 0
		INNER JOIN tbtrx_promo_subaccount tps ON tp.id = tps.PromoId 
		INNER JOIN @channel_list cl ON tpc.ChannelId = cl.id
		INNER JOIN @account_list al ON tps.SubAccountId = al.id
		INNER JOIN tbtrx_allocation alc ON tp.AllocationId = alc.id
		INNER JOIN tbtrx_budgetmaster m ON alc.BudgetMasterId = m.id
				AND IIF(@entity=0,0,@entity)=IIF(@entity=0,0,m.PrincipalId)
		INNER JOIN @allocid tmp_alc ON alc.Id = tmp_alc.allocationid

	SELECT 
		td.PromoId 
		,ISNULL(SUM(CASE WHEN td.LastStatus = 'received_by_danone' OR td.LastStatus = 'validate_by_finance' OR td.LastStatus = 'validate_by_danone' OR td.LastStatus = 'ready_to_invoice' OR td.LastStatus = 'invoice' THEN ISNULL(td.TotalClaim, 0) ELSE 0 END), 0) TotalClaim
		,ISNULL(SUM(CASE WHEN td.LastStatus = 'confirm_paid' THEN ISNULL(td.TotalPaid, 0) ELSE 0 END), 0) TotalPaid
	INTO #dn
		FROM tbtrx_debetnote td 
		WHERE ISNULL(td.IsCancel, 0) = 0
		GROUP BY td.PromoId 

	SELECT 
		@total_claim = SUM(ISNULL(DN.TotalClaim, 0))
		, @total_paid = SUM(ISNULL(DN.TotalPaid, 0))
		FROM #promo a left join #dn DN ON a.id=DN.promoid

	DROP TABLE IF EXISTS #promo
	DROP TABLE IF EXISTS #dn
		
	DECLARE 
		@pct_promo_approved NUMERIC(19,2)
		,@pct_promo_reconciled NUMERIC(19,2)
	
	SET @pct_promo_approved = ROUND(@promoid_approved * 100 / @promoid_created, 0) 
	SET @pct_promo_reconciled =	ROUND(@promoid_reconciled * 100 / @promoid_created, 0)
	
	UPDATE @temp_board SET 
		promo_created = @promo_created
		, promo_created_word = @promo_created_word
		, promoid_created = @promoid_created
		, pct_promo_created_vs_budget = ROUND(IIF(budget_deployed=0,0,@promo_created / budget_deployed * 100), 0)
		, total_claim = @total_claim
		, total_claim_word = dbo.udf_Num_ToWord(ISNULL(@total_claim,0))
		, total_paid = @total_paid
		, total_paid_word = dbo.udf_Num_ToWord(ISNULL(@total_paid,0))
		, pct_promo_approved = @pct_promo_approved
		, promoid_approved = @promoid_approved
		, pct_promo_reconciled = @pct_promo_reconciled
		, promoid_reconciled = @promoid_reconciled		

/******************************
Promo Created On-Time
******************************/
	SELECT 
		@avgdayscreated_bfr_promostart = ROUND(SUM(DATEDIFF(DAY, b.CreateOn, b.StartPromo))/COUNT(b.id),0), 
		@pct_promo_created_ontime = ROUND(IIF(COUNT(b.id)=0,0,SUM(CASE WHEN DATEDIFF(DAY, b.CreateOn, b.StartPromo)>=30 THEN 1.00 ELSE 0 END)/COUNT(b.id)) *100,0)
	FROM tbtrx_promo b
		INNER JOIN @allocid tmp_alc ON b.AllocationId = tmp_alc.allocationid

	UPDATE @temp_board SET 
			avgdayscreated_bfr_promostart = @avgdayscreated_bfr_promostart
			, pct_promo_created_ontime = @pct_promo_created_ontime
		
/******************************
Approved On-Time
******************************/
	SELECT 
		@pct_promo_approved_ontime = 
			ROUND(SUM(CASE 
					WHEN DATEDIFF(DAY, tpa.RequestDate, tpa.ActionDate) < 0 THEN 0.00 
					WHEN DATEDIFF(DAY, tpa.RequestDate, tpa.ActionDate) > 7 THEN 0.00 
					ELSE 1.00 END)*100/COUNT(tp.Id),0),
		@avgpromo = ROUND(SUM(DATEDIFF(DAY, tpa.RequestDate, tpa.ActionDate))/COUNT(tp.id),0)
	from tbtrx_promo tp 
		INNER JOIN tbtrx_promo_request_approval tpra on tp.id=tpra.ParentId 
		INNER JOIN tbtrx_promo_approval tpa on tpra.Id = tpa.RequestId 
		INNER JOIN tbtrx_promo_channel tpc ON tp.id = tpc.PromoId 
		INNER JOIN tbtrx_promo_subaccount tps ON tp.id = tps.PromoId 
		INNER JOIN @channel_list cl ON tpc.ChannelId = cl.id
		INNER JOIN @account_list al ON tps.SubAccountId = al.id
		INNER JOIN tbtrx_allocation alc ON tp.AllocationId = alc.id
		INNER JOIN tbtrx_budgetmaster m ON alc.BudgetMasterId = m.id
		INNER JOIN @allocid tmp_alc ON alc.Id = tmp_alc.allocationid
	WHERE ISNULL(tp.iscancel, 0)=0 
		and tpa.Status ='TP2'

	UPDATE @temp_board SET 
			pct_promo_approved_ontime = @pct_promo_approved_ontime,
			avgpromo = @avgpromo

/******************************
Submitted Claim
******************************/
	SELECT 
		@claim_received = COUNT(c.id),
		@pct_submitted_claim = ROUND(IIF(SUM(dnamount)=0,0,SUM(CASE WHEN c.laststatus='confirm_paid' then dnamount else 0 end)/SUM(dnamount)) *100,0)
	from tbtrx_promo b 
		INNER JOIN @allocid tmp_alc ON b.AllocationId = tmp_alc.allocationid
		INNER JOIN tbtrx_debetnote c on b.Id=c.PromoId and ISNULL(c.iscancel,0)=0
	where c.LastStatus in ('received_by_danone', 'validate_by_finance', 'validate_by_danone', 'ready_to_invoice', 'invoice', 'confirm_paid')

	UPDATE @temp_board SET 
			claim_received = @claim_received
			, pct_submitted_claim = @pct_submitted_claim
/******************************
Final Result
******************************/
	SELECT 
		periode
		, ISNULL(budget_deployed,0)					budget_deployed
		, budget_deployed_word
		, ISNULL(promo_planning,0)					promo_planning
		, promo_planning_word
		, ISNULL(promo_created,0)					promo_created
		, promo_created_word
		, ISNULL(total_claim,0)						total_claim
		, total_claim_word
		, ISNULL(total_paid,0)						total_paid
		, total_paid_word
		, ISNULL(pct_promo_created_vs_budget,0)		pct_promo_created_vs_budget
		, ISNULL(promoid_created,0)					promoid_created
		, ISNULL(pct_promo_approved,0)				pct_promo_approved
		, ISNULL(promoid_approved,0)				promoid_approved
		, ISNULL(pct_promo_reconciled,0)			pct_promo_reconciled
		, ISNULL(promoid_reconciled,0)				promoid_reconciled
		, ISNULL(pct_promo_created_ontime,0)		pct_promo_created_ontime
		, ISNULL(pct_promo_approved_ontime,0)		pct_promo_approved_ontime
		, ISNULL(pct_submitted_claim,0)				pct_submitted_claim
		, ISNULL(avgdayscreated_bfr_promostart,0)	avgdayscreated_bfr_promostart
		, ISNULL(avgpromo,0)						avgpromo
		, ISNULL(claim_received,0)					claim_received
	FROM @temp_board

END 


GO
