USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_wo_doclink_notif]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dn_wo_doclink_notif]
as
begin
	DECLARE @tableHTML  NVARCHAR(MAX) 
	,@recipient varchar(100)
	,@isnodata bit
	--select @recipient=email from tbset_user where id='admin'
	set @recipient='lukman.handrianto@xvautomation.com'
	select @isnodata=iif(count(refid)>=1,0,1) from tbtrx_debetnote
	where id not in (
		select DNId from tbtrx_dn_doclink)
		and isnull(iscancel,0)=0

	SET @tableHTML =  
		N'<H3>Daftar DN Tanpa Attachment per '+convert(varchar,getdate(),0)+'</H3>' +  
		N'<table border="1">' +  
		N'<tr><th>DN Number</th><th>Entity</th>' +  
		N'<th>Distributor</th><th>Activity</th><th>Last Status</th><th>Creator</th><th>Creation Date</th></tr>' +  
		CAST ( ( SELECT td = 'No Data',       '',  
						td = 'No Data', '',  
						td = 'No Data', '',  
						td = 'No Data', '',  
						td = 'No Data', '',  
						td = 'No Data', '',  
						td = 'No Data', ''
					FOR XML PATH('tr'), TYPE   
		) AS NVARCHAR(MAX) ) +  
		N'</table>' ;  
	if @isnodata=0  
	begin
		SET @tableHTML =  
		N'<H3>Daftar DN Tanpa Attachment per '+convert(varchar,getdate(),0)+'</H3>' +  
		N'<table border="1">' +  
		N'<tr><th>DN Number</th><th>Entity</th>' +  
		N'<th>Distributor</th><th>Activity</th><th>Last Status</th><th>Creator</th><th>Creation Date</th></tr>' +  
			CAST ( ( 
			select 
				td = isnull(tdn.refid, '-'), '',
				td = isnull(tdn.PrincipalShortDesc, '-'), '',
				td = isnull(tdn.DistributorShortDesc , '-'), '',
				td = isnull(tdn.ActivityDesc , '-'), '',
				td = isnull(tdn.LastStatus , '-'), '',
				td = isnull(tdn.CreateBy , '-'), '',
				td = isnull(tdn.CreateOn, '-'), ''
			from tbtrx_debetnote tdn
			where tdn.id not in (select DNId from tbtrx_dn_doclink) and isnull(tdn.iscancel,0)=0
			order by tdn.refid

	--SELECT td = isnull(tbomc.[type],'-'),       '',  
	--						td = isnull(tbomc.code,'-'), '',  
	--						td = isnull(tbomc.[desc],'-'), ''
	--				  FROM tbtemp_blitz_optima_map_check as tbomc  
	--				  WHERE convert(varchar(8),tbomc.created_on,112) = convert(varchar(8),getdate(),112) 
	--				  ORDER BY tbomc.type   
					  FOR XML PATH('tr'), TYPE   
			) AS NVARCHAR(MAX) ) +  
			N'</table>' ;  
	end
	EXEC remoterds.msdb.dbo.sp_send_dbmail 
		@recipients=@recipient,
--		@copy_recipients='Johan.FIRDAUS@danone.com;lukman.handrianto@xvautomation.com',
		@subject = '[NOTIFICATION] Daftar DN Tanpa Attachment',  
		@body = @tableHTML,  
		@body_format = 'HTML' ;
end


GO
