

/****** Object:  StoredProcedure [dbo].[ip_promo_insert]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_insert]
@IsNew bit
,@Promo PromoFormType READONLY
,@Region ArrayIntType READONLY
,@Sku ArrayIntType READONLY
,@attachment PromoAttachmentType READONLY
,@Mechanism PromoMechanismType READONLY
--,@messageout varchar(255) OUT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE*********************************************/
--	DECLARE
--		@IsNew bit
--		,@Promo PromoFormType 
--		,@Region ArrayIntType 
--		,@Sku ArrayIntType 
--		,@attachment PromoAttachmentType 
--		,@Mechanism PromoMechanismType 

--insert into @Promo values(0,2025,2,2,0,3,45,729,1163,3,N'Cut Price Jan 2025','2025-01-01 00:00:00','2025-12-31 00:00:00',6,9,44,115,1,2171335966,10,2388469563,10,10,10,10,570478685242203,NULL,N'','2024-11-01 14:54:21.6199376',N'kammidi',N'',N'lukman.handrianto@xvautomation.com',NULL)
--insert into @Region values(N'36')
--insert into @Sku values(N'13')
--insert into @Mechanism values(0,N'Beli 2 SGM GUM 1+ 900 dapat potongan harga maximal 4% DISKON 6.800',N'',13,2171335966,10,2388469563,10,10,10,10,570478685242203)
--set @IsNew=1

--,@promo=@p2,@region=@p3,@sku=@p4,@attachment=@p5,@Mechanism=@p6

--	/*INSERT*/
--		SET @IsNew=1

--		INSERT INTO @Promo (
--			[PromoId]
--			,[Periode],[EntityId],[DistributorId],[BudgetMasterId]
--			,[CategoryId],[SubCategoryId],[ActivityId],[SubActivityId],[SubActivityTypeId]
--			,[ActivityDesc]
--			,[StartPromo],[EndPromo]
--			,[ChannelId],[SubChannelId],[AccountId],[SubAccountId]
--			,[GroupBrandId]
--			,[Baseline],[UpLift],[TotalSales],[SalesContribution],[StoresCoverage],[RedemptionRate],[CR],[Cost]
--			,[StatusApproval],[Notes]
--			,[CreateOn],[CreateBy],[initiator_notes]
--			,[CreatedEmail],[ModifReason]
--			) VALUES (
--0,
--2025,2,2,0,
--3,42,716,1105,2,
--'Cut Price Jan 2025',
--'2025-01-01','2025-12-31',
--6,9,43,114,
--1,
--1055799756768,1,0,1,1,1,1,10664,
--'','',
--@utcDate123,'kamsat','',
--'',''
--			)

--	INSERT INTO @Region (keyid) values (36)--select id from tbmst_region
--	INSERT INTO @Sku (keyid) values 
--	(157),

--(46),
--(47),
--(48),
--(42),
--(43),
--(44),
--(45),
--(49),
--(50),
--(38),
--(39),
--(40),
--(41),
--(5),
--(6),
--(7),
--(8),
--(9),
--(51),
--(52),
--(11),
--(13),
--(10),
--(12),
--(14),
--(15),
--(16),
--(53),
--(54),
--(55),
--(56),
--(17),
--(18),
--(19),
--(20),
--(21),
--(22),
--(23),
--(24),
--(25),
--(26),
--(27),
--(28),
--(29),
--(30),
--(31),
--(32),
--(33),
--(34),
--(35),
--(36),
--(37),
--(57),
--(58),
--(2),
--(3),
--(4),
--(59),
--(60),
--(61),
--(163),
--(164),
--(162)

--	--select skuId from vw_sku_active where groupBrandId=1
--	INSERT INTO @attachment (DocLink,Filename) values 
--		(1,'a.pdf')
--	INSERT INTO @Mechanism (Id, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost) VALUES 
--		(0, 'BUY ME GET FREE', '',0, 1055799756768, 1,0,1,1,1,1,10664)


/*********************************************TESTING PURPOSE*/

	DECLARE @categoryShortDesc varchar(20)
	DECLARE @ChnCount int

	SELECT @categoryShortDesc=c.ShortDesc from @Promo a
	INNER JOIN vw_activity b on a.SubActivityId=b.SubActivityId
	INNER JOIN tbmst_category c on b.CategoryId=c.Id	
	SET @ChnCount=1

	IF (SELECT ISNULL(Cost,0) FROM @Promo) <=3000
		BEGIN
			RAISERROR ('Cost can not less than 3000 or Running rate budget not found', -- Message text.
				16, -- Severity.
				1 -- State.
				);
		END

IF @categoryShortDesc <> 'DC'
	BEGIN

		BEGIN
				BEGIN TRY
				BEGIN TRANSACTION

					DECLARE
						@rowcount int,
						@PromoId int,
						@ParentId_his int,
						@p_reqid int,

						@Periode varchar(4),
						@EntityId int,
						@DistributorId int,
						@ActivityId int, --#876
						@CategoryId int,
						@SubCategoryId int,
						@SubActivityId int,
						@SubActivityType int,
						@ChannelId int,
						@SubChannelId int,
						@AccountId int,
						@SubAccountId int,
						@Initiator varchar(50),

						@GroupBrandId int,
						@Baseline numeric (19,0), 
						@UpLift numeric (19,0), 
						@TotalSales numeric (19,0), 
						@StoreCoverage numeric (19,0), 
						@RedemptionRate numeric (19,0), 
						@CR numeric (19,0), 
						@Cost numeric (19,0),
						@roi numeric(19,2),

						@PrevBaseline numeric (19,0), 
						@PrevUpLift numeric (19,0), 
						@PrevTotalSales numeric (19,0), 
						@PrevSalesContribution numeric (19,0), 
						@PrevStoresCoverage numeric (19,0), 
						@PrevRedemptionRate numeric (19,0), 
						@PrevCR numeric (19,0), 
						@PrevCost numeric (19,0),
						@PrevRoi numeric(19,2),

						@StartPromo date,
						@EndPromo date,

						@matrixid int,
						@messageout varchar(255),
						@RequestId int,
						@budgetamount numeric(19,2),
						@remainingamount numeric(19,2),
						@promorefid varchar(50),

						@statusapproval VARCHAR(255),

						@userid varchar(50),
						@SKP_Draft int,

						@sumDPPDN numeric(19,2)
						,@userApprover varchar(50)
						,@investmentTypeId int
						,@late_submission_day int
						,@useremail varchar(100)
						,@modifreason varchar(255)
						,@promoIsClose int
						,@promoIsCancel int

						,@ActivityDesc varchar(255)
						,@initiatorNotesOld varchar(255)
						,@initiatorNotesNew varchar(255)
						,@mechanismOld nvarchar(max)
						,@mechanismNew nvarchar(max)
		
						,@channelOld int
						,@channelNew int
						,@subChannelOld int
						,@subChannelNew int
						,@accountOld int
						,@accountNew int
						,@subAccountOld int
						,@subAccountNew int

						,@regionOld nvarchar(max)
						,@regionNew nvarchar(max)
						,@brandOld nvarchar(max)
						,@brandNew nvarchar(max)
						,@skuOld nvarchar(max)
						,@skuNew nvarchar(max)		

						,@sttChannel int
						,@sttSubChannel int
						,@sttAccount int
						,@sttSubAccount int
						,@sttRegion int
						,@sttBrand int
						,@sttSKU int
						,@sttMechanism int
						,@sttInitiatorNotes int

						,@sttDistributor int
						,@distributorOld int
						,@distributorNew int
						,@sttSubCategory int
						,@subCategoryOld varchar(255)
						,@sttBudgetSources int
						,@budgetOld varchar(255)
						,@sttPromoPlan int
						,@promoPlanOld varchar(255)
						,@sttAttachment int
						,@attachmentOld nvarchar(MAX)
						,@attachmentNew nvarchar(MAX)
						,@errFileName nvarchar(max)
						,@errCntFileName int

						,@mainActivity varchar(100)
					
					/*VALIDATE MORE THAN 1 FILE HAVE SAME FILENAME*/
					SELECT TOP 1 @errFileName = isnull(filename, ''), @errCntFileName = isnull(COUNT(filename), 0) 
						FROM @attachment
						GROUP BY filename
						HAVING COUNT(filename) > 1
					
					IF @errFileName <> ''
							BEGIN
								SET @messageout='More than one attachment with same filename (' + @errFileName + ') are not allowed'		
								RAISERROR (@messageout, -- Message text.
									   16, -- Severity.
									   1 -- State.
									   );
							END

					/*GET MAJOR CHANGES CONFIG*/
					SELECT TOP 1
							@sttChannel = Channel
							,@sttSubChannel = SubChannel
							,@sttAccount = Account
							,@sttSubAccount = SubAccount
							,@sttRegion = Region
							,@sttBrand = Brand
							,@sttSKU = SKU
							,@sttMechanism = Mechanism
							,@sttInitiatorNotes = initiatorNotes
							-- new item
							,@sttDistributor = Distributor
							,@sttSubCategory = SubCategory
							,@sttAttachment = Attachment
						FROM tbset_major_changes
						WHERE CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='RC')
		
					SET @channelNew = (SELECT channelid FROM @Promo)
					SET @subChannelNew = (SELECT subchannelid FROM @Promo)
					SET @accountNew = (SELECT accountid FROM @Promo)
					SET @subAccountNew = (SELECT subaccountid FROM @Promo)
					SET @regionNew = (SELECT string_agg(keyid,', ') WITHIN GROUP (ORDER BY cast(keyId as int) ) FROM @Region)
					SET @brandNew = (SELECT GroupBrandId FROM @Promo)
					SET @skuNew = (SELECT string_agg(keyId,', ') WITHIN GROUP (ORDER BY cast(keyId as int) ) FROM @Sku)
					SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM @attachment)	
					
					--SET @distributorOld = 0
					--SET @distributorNew = 0

					--IF (@sttDistributor = 1)
					--	BEGIN
					--		SET @distributorNew = (SELECT DistributorId  
					--					from tbtrx_budgetmaster budget
					--					WHERE budget.Id = (SELECT BudgetMasterId FROM @Promo))
					--		SET @distributorOld = (SELECT DistributorId  
					--					from tbtrx_budgetmaster budget
					--					LEFT JOIN tbtrx_promo prm1 ON prm1.BudgetMasterId = budget.id
					--					WHERE prm1.Id = (SELECT PromoId FROM @Promo))
					--	END
	    
					SET @late_submission_day=(SELECT daysfrom FROM tbset_config_reminder WHERE id = 502)

					--RECALCULATE BALANCE--
						--EXEC ip_recalculate_balance @AllocationId
					--RECALCULATE BALANCE--

					DECLARE 
						@entitiydesc varchar(255)
						, @distributordesc varchar(255)
						, @subactivitytypedesc varchar(255)
						, @channeldesc varchar(255)
						, @subchanneldesc varchar(255)

					SELECT @entitiydesc=a.Longdesc from tbmst_principal a					INNER JOIN @Promo t ON a.Id=t.EntityId
					SELECT @distributordesc=a.Longdesc from tbmst_distributor a				INNER JOIN @Promo t ON a.Id=t.DistributorId
					SELECT @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a	INNER JOIN @Promo t ON a.Id=t.SubActivityTypeId
					SELECT @channeldesc=a.Longdesc from tbmst_channel a						INNER JOIN @Promo t ON a.Id=t.ChannelId
					SELECT @subchanneldesc=a.Longdesc from tbmst_subchannel a				INNER JOIN @Promo t ON a.Id=t.SubChannelId
	
					SELECT @mainActivity=C.longDesc from @Promo a
					INNER JOIN tbmst_main_activity_dtl b on a.SubActivityId=b.subactivityid
					INNER JOIN tbmst_main_activity c ON b.mainactivityid = c.id

				--IF @subactivitytypedesc = 'Contractual'
				--BEGIN
				--	IF @mainActivity = 'Running Rate'
				--	BEGIN
				--		SELECT TOP 1
				--			@SubCategoryId=t.SubCategoryId
				--			,@CategoryId=t.CategoryId
				--			,@PromoId=t.PromoId
				--			,@Periode=t.Periode
				--			,@EntityId=t.EntityId
				--			,@DistributorId=t.DistributorId
				--			,@SubActivityType=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
				--			,@ChannelId=t.ChannelId
				--			,@SubChannelId=t.SubChannelId
				--			,@AccountId=t.AccountId
				--			,@SubAccountId=t.SubAccountId
				--			,@Initiator=t.CreateBy
				--			,@Startpromo=t.StartPromo
				--			,@EndPromo=t.EndPromo
				--			,@ActivityDesc = t.ActivityDesc
				--			,@remainingamount=bc.RemainingBudget
				--			,@cr=t.cr
				--			,@userid=t.CreateBy
				--			,@ActivityId = t.ActivityId
				--			,@SubActivityId = t.SubActivityId
				--			,@investmentTypeId = tmit.InvestmentTypeId
				--			,@useremail = t.CreatedEmail
				--			,@modifreason = t.modifReason
				--			,@initiatorNotesNew = t.initiator_notes
				--			,@Cost=t.Cost
				--			,@GroupBrandId=t.GroupBrandId
				--		FROM @Promo t
				--		INNER JOIN vw_budget_contractual bc ON
				--			t.categoryid=bc.categoryid
				--			AND t.subcategoryid=bc.subcategoryid
				--			AND t.channelid=bc.channelid
				--			AND t.subchannelid=bc.subchannelid
				--			AND t.accountid=bc.accountid
				--			AND t.subaccountid=bc.subaccountid
				--			AND t.distributorId=bc.distributorid
				--			AND t.groupbrandid=bc.groupbrandid
				--			AND t.activityid=bc.activityid
				--		--INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
				--		--INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
				--		LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId
				--	END
				--	ELSE
				--	BEGIN
				--		SELECT TOP 1
				--			@SubCategoryId=t.SubCategoryId
				--			,@CategoryId=t.CategoryId
				--			,@PromoId=t.PromoId
				--			,@Periode=t.Periode
				--			,@EntityId=t.EntityId
				--			,@DistributorId=t.DistributorId
				--			,@SubActivityType=st.Id
				--			,@ChannelId=t.ChannelId
				--			,@SubChannelId=t.SubChannelId
				--			,@AccountId=t.AccountId
				--			,@SubAccountId=t.SubAccountId
				--			,@Initiator=t.CreateBy
				--			,@Startpromo=t.StartPromo
				--			,@EndPromo=t.EndPromo
				--			,@ActivityDesc = t.ActivityDesc -- #886
				--			--,@budgetamount=alc.BudgetAmount
				--			,@remainingamount=isnull(bc.RemainingBudget, 0)
				--			--,@roi=t.roi
				--			,@cr=t.cr
				--			,@userid=t.CreateBy
				--			,@ActivityId = t.ActivityId  --#876
				--			,@SubActivityId = t.SubActivityId
				--			,@investmentTypeId = tmit.InvestmentTypeId
				--			,@useremail = t.CreatedEmail
				--			,@modifreason = t.modifReason
				--			,@initiatorNotesNew = t.initiator_notes
				--			,@Cost=t.Cost
				--			,@GroupBrandId=t.GroupBrandId
				--		FROM @Promo t
				--		LEFT JOIN vw_budget_contractual bc ON
				--			t.categoryid=bc.categoryid
				--			AND t.subcategoryid=bc.subcategoryid
				--			AND t.channelid=bc.channelid
				--			AND t.subchannelid=bc.subchannelid
				--			AND t.accountid=bc.accountid
				--			AND t.subaccountid=bc.subaccountid
				--			AND t.distributorId=bc.distributorid
				--			AND t.groupbrandid=bc.groupbrandid
				--			AND t.activityid=bc.activityid
				--		INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
				--		INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
				--		LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId
				--	END
				--END
				--ELSE
				--BEGIN
					SELECT TOP 1
							@SubCategoryId=t.SubCategoryId
							,@CategoryId=t.CategoryId
							,@PromoId=t.PromoId
							,@Periode=t.Periode
							,@EntityId=t.EntityId
							,@DistributorId=t.DistributorId
							,@SubActivityType=st.Id
							,@ChannelId=t.ChannelId
							,@SubChannelId=t.SubChannelId
							,@AccountId=t.AccountId
							,@SubAccountId=t.SubAccountId
							,@Initiator=t.CreateBy
							,@Startpromo=t.StartPromo
							,@EndPromo=t.EndPromo
							,@ActivityDesc = t.ActivityDesc -- #886
							--,@budgetamount=alc.BudgetAmount
							,@remainingamount=0
							--,@roi=t.roi
							,@cr=t.cr
							,@userid=t.CreateBy
							,@ActivityId = t.ActivityId  --#876
							,@SubActivityId = t.SubActivityId
							,@investmentTypeId = tmit.InvestmentTypeId
							,@useremail = t.CreatedEmail
							,@modifreason = t.modifReason
							,@initiatorNotesNew = t.initiator_notes
							,@Cost=t.Cost
							,@GroupBrandId=t.GroupBrandId
						FROM @Promo t
						INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
						INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
						LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId
				--END
					--DECLARE 
					--	@entitiydesc varchar(255)
					--	, @distributordesc varchar(255)
					--	, @subactivitytypedesc varchar(255)
					--	, @channeldesc varchar(255)
					--	, @subchanneldesc varchar(255)

					--SELECT @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@EntityId
					--SELECT @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
					--SELECT @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
					--SELECT @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
					--SELECT @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId
	

					/********************
					GET MATRIX APPROVAL
					********************/

					SELECT TOP 1
						@matrixid=tmpa.Id 
					FROM tbset_matrix_promo_approval tmpa
						INNER JOIN tbmst_category c on tmpa.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@EntityId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @cost >= MinInvestment and @Cost <= MaxInvestment
						AND c.ShortDesc='RC'

					IF @matrixid IS NULL
						BEGIN
							SET @messageout='Matrix Approval not found for :<br> Entity: ' +  cast(ISNULL(@entitiydesc,'') as varchar) + ', Distributor: ' + cast(ISNULL(@distributordesc,'') as varchar) + ', Category: ' + cast(ISNULL(@categoryShortDesc,'') as varchar)  + ', Sub Activity Type: ' + cast(ISNULL(@subactivitytypedesc,'') as varchar)+ ', Channel: ' + cast(ISNULL(@channeldesc,'') as varchar) + ', Initiator: ' + cast(ISNULL(@Initiator,'') as varchar)		
							RAISERROR (@messageout, -- Message text.
								   16, -- Severity.
								   1 -- State.
								   );
						END


					IF @IsNew = 1
						BEGIN
						/*NEW PROMOID*/
							/*Cek SKP Draft*/
							SET @SKP_Draft = 1
							IF @SKP_Draft=0
								BEGIN
									IF NOT EXISTS(
										SELECT DocLink,[Filename] FROM @attachment where DocLink='row1'
									)
									BEGIN
									   RAISERROR ('Please attach file', -- Message text.
									   16, -- Severity.
									   1 -- State.
									   );
									END
								END

							/*CHECK BUDGET*/
							DECLARE @budgetExist int
								,@isNotOverBudget int

							SELECT @budgetExist = dbo.CheckExistingBudget (
									@periode 
								, @categoryid 
								, @subcategoryid 
								, @channelid 
								, @subchannelid 
								, @accountid 
								, @subaccountid 
								, @distributorId 
								, @groupbrandid 
								, @subactivitytype 
								, @activityid 
								, @subactivityid 

							)

							IF @mainActivity = 'Running Rate'
							BEGIN
								IF @budgetExist = 0
								BEGIN
									SET @messageout='Running Rate Budget not found'		
									RAISERROR (@messageout, -- Message text.
											16, -- Severity.
											1 -- State.
											);

								END
								ELSE
								BEGIN
									SELECT @isNotOverBudget = dbo.CheckRemainingBudget (
											@PromoId ,
											@Cost ,
											 @periode 
											, @categoryid 
											, @subcategoryid 
											, @channelid 
											, @subchannelid 
											, @accountid 
											, @subaccountid 
											, @distributorId 
											, @groupbrandid 
											, @subactivitytype 
											, @activityid 
											, @subactivityid 
											) 
									IF @isNotOverBudget=0 
									BEGIN
										RAISERROR ('Cost is higher than [SS*TT Rate]', -- Message text.
										16, -- Severity.
										1 -- State.
										);
									END

								END
							END
							ELSE
							BEGIN
								IF @budgetExist > 0
								BEGIN									
									SELECT @isNotOverBudget = dbo.CheckRemainingBudget (
											@PromoId ,
											@Cost ,
											 @periode 
											, @categoryid 
											, @subcategoryid 
											, @channelid 
											, @subchannelid 
											, @accountid 
											, @subaccountid 
											, @distributorId 
											, @groupbrandid 
											, @subactivitytype 
											, @activityid 
											, @subactivityid 
											) 
									IF @isNotOverBudget=0 
									BEGIN
										RAISERROR ('Cost is higher than [SS*TT Rate]', -- Message text.
										16, -- Severity.
										1 -- State.
										);
									END
								END

							END

							IF @Cost<=3000
								BEGIN
										RAISERROR ('Cost can not less than 3000', -- Message text.
										16, -- Severity.
										1 -- State.
										);
								END

							INSERT INTO [tbtrx_promo]
							(
								PrincipalShortDesc
								,CategoryShortDesc
		--						,BudgetMasterId
								,CategoryId
								,SubCategoryId
								,ActivityId
								,SubActivityId
								,ActivityDesc
								,StartPromo
								,EndPromo
								,StatusApprovalCode
								,StatusApproval
								,Approver
								,Notes
								,CreateOn
								,CreateBy
								,initiator_notes
								,investmentTypeId
								,late_submission_day
								,CreatedEmail
								,matrixapprovalid
								,EntityId
								,DistributorId
								,GroupBrandId
								,[period]
								,investment
								,investmentForDN
							)
								SELECT
									p.ShortDesc 
									,ctg.ShortDesc 
	--								,al.BudgetMasterId
									,t.CategoryId
									,t.SubCategoryId
									,t.ActivityId
									,t.SubActivityId
									,ActivityDesc
									,StartPromo
									,EndPromo
									,'TP0' 
									,'Draft' 
									,'' 
									,t.Notes
									,@utcDate123 
									,t.CreateBy
									,t.initiator_notes
									,@investmentTypeId
									,@late_submission_day
									,t.CreatedEmail
									,@matrixid
									,EntityId
									,DistributorId
									,GroupBrandId
									,[Periode]
									,@Cost
									,@Cost
								FROM @Promo t
								LEFT JOIN tbmst_principal p on t.EntityId=p.Id
								LEFT JOIN tbmst_category ctg on ctg.Id=t.CategoryId

							SET @rowcount=@@ROWCOUNT

							if @rowcount = 0
								begin
									 SET @messageout='Unable to save promotion !'
									 RAISERROR (@messageout, -- Message text.
										   16, -- Severity.
										   1 -- State.
										   );
								end
							SET @PromoId=(SELECT SCOPE_IDENTITY())

							INSERT INTO tbtrx_promo_doclink(PromoId,DocLink,[FileName],CreateOn,Createby)
								SELECT @PromoId,DocLink,[Filename],@utcDate123,@userid FROM @attachment

							SET @promorefid=(SELECT RefId from tbtrx_promo where Id=@PromoId)

							IF @rowcount <> 0
								BEGIN
								 /*DELETE INSERT ATTRIBUTE*/
									INSERT INTO tbtrx_promo_calculator(PromoId, GroupBrandID, DistributorId, EntityId, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost) 
										SELECT @PromoId, GroupBrandID, DistributorId, EntityId, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost FROM @Promo

									INSERT INTO tbtrx_promo_region(PromoId,RegionId)
										SELECT @PromoId,t.keyid from @Region t inner join tbmst_region a on a.Id=t.keyid

									INSERT INTO tbtrx_promo_channel(PromoId,ChannelId) SELECT @PromoId, ChannelId FROM @Promo

									INSERT INTO tbtrx_promo_subchannel(PromoId,ChannelId,SubChannelId) SELECT @PromoId, ChannelId, SubChannelId FROM @Promo

									INSERT INTO tbtrx_promo_account(PromoId,SubChannelId,AccountId) SELECT @PromoId, SubChannelId, AccountId FROM @Promo

									INSERT INTO tbtrx_promo_subaccount(PromoId, AccountId,SubAccountId) SELECT @PromoId, AccountId, SubAccountId FROM @Promo

									INSERT INTO tbtrx_promo_product(PromoId,BrandId,ProductId) 
										SELECT @PromoId, a.BrandId ,t.keyid from @Sku t 
											INNER JOIN tbmst_product a on a.Id=t.keyid
											--INNER JOIN tbmst_brand b ON a.BrandId=b.Id

									INSERT INTO tbtrx_promo_mechanism(PromoId, Mechanism, Notes, ProductId, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost)
										SELECT @PromoId, Mechanism, Notes, ProductId, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost FROM @Mechanism a
											LEFT JOIN tbmst_product b ON a.ProductId=b.id

									/* create smart code */
									INSERT INTO tbtrx_promo_mechanism_smartcode (
										promoId
										, mechanism
										, notes
										, productId
										, [product]
										, brandId
										, brand
										, baseline
										, uplift
										, totalSales
										, salesContribution
										, storesCoverage
										, redemptionRate
										, cr
										, cost
										, smartSequence
										, createdBy
										, createdOn
										, createdEmail
									)
									SELECT 
										@PromoId,
										[mechanism],
										[notes],
										[productId],
										mp.LongDesc [product],
										mp.brandId,
										mb.LongDesc [brand],
										[baseline],
										[uplift],
										[totalSales],
										[salesContribution],
										[storesCoverage],
										[redemptionRate],
										[cr],
										[cost],
										ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) [smartSequence]
										,@initiator
										,@utcDate123
										,@useremail
									FROM @Mechanism prm 
									INNER JOIN tbmst_product mp ON prm.ProductId = mp.Id
									INNER JOIN tbmst_brand mb ON mp.BrandId = mb.id

								END
						
							INSERT INTO tbtrx_promo_budget_status (promoid, LastStatusCode, LastStatus) 
							SELECT @PromoId, StatusCode, StatusDesc from tbmst_master_status where StatusCode='TP01'
						
							/*Promo Last Status based on Budget Status*/
							DECLARE
								@BudgetApprovalStatus int = 0
								,@BudgetDeployStatus int = 0
					
							/*Check budget status*/

							/*IF NOT APPROVED AND NOT DEPLOYED*/
							IF @BudgetApprovalStatus=1 AND @BudgetDeployStatus=1
								BEGIN
									/*INSERT KE TABLE REQUEST APPROVAL*/

									INSERT INTO [dbo].[tbtrx_promo_request_approval]
									(
										[ParentId]
										,[RefId]
										,[PromoPlanId]
										,[AllocationId]
										,[AllocationRefId]
										,[CategoryShortDesc]
										,[PrincipalShortDesc]
										,[BudgetMasterId]
										,[CategoryId]
										,[SubCategoryId]
										,[ActivityId]
										,[SubActivityId]
										,[ActivityDesc]
										,[StartPromo]
										,[EndPromo]
										,[Mechanisme1]
										,[Mechanisme2]
										,[Mechanisme3]
										,[Mechanisme4]
										,[Notes]
										,[Roi]
										,[CostRatio]
										,[NormalSales]
										,[IncrSales]
										,[TotSales]
										,[TotInvest]
										,[Status]
										,[CreateOn]
										,[CreateBy]
										,[ModifiedOn]
										,[ModifiedBy]
										,[IsCancel]
										,[TsCoding]
										,[RequestEmail]
									)
									SELECT	
										@PromoId
										,[RefId]
										,[PromoPlanId]
										,[AllocationId]
										,[AllocationRefId]
										,[CategoryShortDesc]
										,[PrincipalShortDesc]
										,[BudgetMasterId]
										,[CategoryId]
										,[SubCategoryId]
										,[ActivityId]
										,[SubActivityId]
										,[ActivityDesc]
										,[StartPromo]
										,[EndPromo]
										,[Mechanisme1]
										,[Mechanisme2]
										,[Mechanisme3]
										,[Mechanisme4]
										,[Notes]
										,[Roi]
										,[CostRatio]
										,[NormalSales]
										,[IncrSales]
										,[NormalSales] + [IncrSales]
										,[Investment]
										,[StatusApprovalCode]
										,[CreateOn]
										,[CreateBy]
										,[ModifiedOn]
										,[ModifiedBy]
										,0
										,TsCoding
										,@useremail
								   FROM tbtrx_promo WHERE Id=@PromoId

									SET @RequestId=(SELECT SCOPE_IDENTITY())

									/*INSERT KE TABLE APPROVAL*/
									INSERT INTO [dbo].[tbtrx_promo_approval]
										   ([RequestId]
										   ,[Sequence]
										   ,[UserApprover]
										   ,[Status]
										   ,[RequestDate]
										   ,[ActionDate]
										   ,[IsOnGoing]
										   ,UserApproverName
										   , UserApproverEmail
										   )
										SELECT @RequestId
											,a.SeqApproval
											,a.Approver
											,'TP1'
											,@utcDate123
											,@utcDate123
											,IIF(SeqApproval=1,1,0)
											,b.username
											,b.email
										FROM tbset_matrix_promo_approver a
										inner join tbset_user b on a.Approver=b.id
										where a.ParentId=@matrixId

										SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

										UPDATE tbtrx_promo
											SET
												StatusApprovalCode=tbmst_master_status.StatusCode
												,StatusApproval=tbmst_master_status.StatusDesc
												,Approver=tbtrx_promo_approval.UserApprover
												,ApproverName=tbtrx_promo_approval.UserApproverName
												,ApproveOn=tbtrx_promo_approval.ActionDate
												,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
											from tbtrx_promo
											inner join tbtrx_promo_request_approval	on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
											inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
											inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
											where tbtrx_promo_request_approval.IsCancel=0
											and tbtrx_promo_approval.IsOnGoing=1
											AND RequestId=@p_reqid							
								END
							ELSE
								BEGIN
									UPDATE tbtrx_promo
										SET
											StatusApprovalCode='TP0'
											,StatusApproval='Draft'
											,Approver=''
											,ApproverName=''
											--,ApproveOn=tbtrx_promo_approval.ActionDate
											--,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
										from tbtrx_promo
									WHERE id=@PromoId
								END


							--/*UPDATE BALANCE*/
							--UPDATE tbtrx_allocation_balance
							--	SET ReserveAmount=ReserveAmount + @Investment
							--	WHERE AllocationId=@AllocationId
							--		and SubCategoryId=@SubCategoryId

							/* Create History */
							INSERT INTO tbhis_promo_parent(
								StatusAction
								,ActionOn
								,ActionBy
								,CreatedEmail
								) VALUES (
									'insert'
									,@utcDate123
									,@initiator
									,@useremail
									)
					
							SET @ParentId_his=(SELECT SCOPE_IDENTITY())
			
							INSERT INTO [tbhis_promo] (
								ParentId,				Id,						PromoPlanId,		AllocationId,	AllocationRefId,	CategoryShortDesc,	PrincipalShortDesc,
								BudgetMasterId,			CategoryId,				SubCategoryId,		ActivityId,		SubActivityId,		ActivityDesc,
								StartPromo,				EndPromo,				Mechanisme1,		Mechanisme2,
								Mechanisme3,			Mechanisme4,			Investment,			NormalSales,
								IncrSales,				Roi,					CostRatio,			StatusApprovalCode,
								StatusApproval,			StatusApprovalCodeRecon,StatusApprovalRecon,Notes,	IsActive,
								IsLocked,				CreateOn,				CreateBy,			ModifiedOn,
								ModifiedBy,				IsDelete,				DeleteOn,			DeleteBy,
								ApproveOn,				ApproveOnRecon,			Approver,			ApproverRecon,
								ApprovalNotes,			ApprovalNotesRecon,		OldInvest,			IsCancel,
								CancelOn,				CancelBy,				CancelNotes,		IsCancelLocked,
								LastStatusRecon,		LastStatus,				TsCoding,			PromoNumber,
								RefId,					IsClose,				CloseOn,			CloseBy,
								Reconciled,				ReconciledOn,			ReconciledBy,	initiator_notes,
								CreatedEmail,			matrixapprovalid,		ModifReason
							)
								SELECT @ParentId_his,
									t.Id,
									t.PromoPlanId,
									t.AllocationId,
									t.AllocationRefId,
									t.CategoryShortDesc,
									t.PrincipalShortDesc,
									t.BudgetMasterId,
									t.CategoryId,
									t.SubCategoryId,
									t.ActivityId,
									t.SubActivityId,
									t.ActivityDesc,
									t.StartPromo,
									t.EndPromo,
									t.Mechanisme1,
									t.Mechanisme2,
									t.Mechanisme3,
									t.Mechanisme4,
									t.Investment,
									t.NormalSales,
									t.IncrSales,
									t.Roi,
									t.CostRatio,
									t.StatusApprovalCode,
									t.StatusApproval,
									t.StatusApprovalCodeRecon,
									t.StatusApprovalRecon,
									t.Notes,
									t.IsActive,
									t.IsLocked,
									t.CreateOn,
									t.CreateBy,
									t.ModifiedOn,
									t.ModifiedBy,
									t.IsDelete,
									t.DeleteOn,
									t.DeleteBy,
									t.ApproveOn,
									t.ApproveOnRecon,
									t.Approver,
									t.ApproverRecon,
									t.ApprovalNotes,
									t.ApprovalNotesRecon,
									t.OldInvest,
									t.IsCancel,
									t.CancelOn,
									t.CancelBy,
									t.CancelNotes,
									t.IsCancelLocked,
									t.LastStatusRecon,
									t.LastStatus,
									t.TsCoding,
									t.PromoNumber,
									t.RefId,
									t.IsClose,
									t.CloseOn,
									t.CloseBy,
									t.Reconciled,
									t.ReconciledOn,
									t.ReconciledBy,
									t.initiator_notes,
									t.CreatedEmail,
									@matrixid,
									t.ModifReason 
								FROM tbtrx_promo t
									LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id
									LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
									LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
									LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId
									where t.id=@PromoId

							INSERT INTO tbhis_promo_calculator (
								[ParentId] ,
								[PromoId] ,
								[GroupBrandID] ,
								[DistributorId] ,
								[EntityId] ,
								[Baseline] ,
								[Uplift] ,
								[TotalSales] ,
								[SalesContribution] ,
								[StoresCoverage] ,
								[RedemptionRate] ,
								[CR] ,
								[Cost] 
								)
								SELECT 
									@ParentId_his ,
									[PromoId] ,
									[GroupBrandID] ,
									[DistributorId] ,
									[EntityId] ,
									[Baseline] ,
									[Uplift] ,
									[TotalSales] ,
									[SalesContribution] ,
									[StoresCoverage] ,
									[RedemptionRate] ,
									[CR] ,
									[Cost] 
									FROM tbtrx_promo_calculator
									where PromoId=@PromoId

									INSERT INTO tbhis_promo_channel(ParentId, PromoId,ChannelId) SELECT @ParentId_his, @PromoId, ChannelId FROM @Promo

									INSERT INTO tbhis_promo_subchannel(ParentId, PromoId,ChannelId,SubChannelId) SELECT @ParentId_his, @PromoId, ChannelId, SubChannelId FROM @Promo

									INSERT INTO tbhis_promo_account(ParentId, PromoId,SubChannelId,AccountId) SELECT @ParentId_his, @PromoId, SubChannelId, AccountId FROM @Promo

									INSERT INTO tbhis_promo_subaccount(ParentId, PromoId,AccountId,SubAccountId) SELECT @ParentId_his, @PromoId, AccountId, SubAccountId FROM @Promo

									INSERT INTO tbhis_promo_product(ParentId, PromoId,BrandId,ProductId) 
										SELECT @ParentId_his, @PromoId,a.BrandId,t.keyid from @Sku t 
											INNER JOIN tbmst_product a on a.Id=t.keyid
											INNER JOIN tbmst_brand b ON a.BrandId=b.Id

									INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost)
										SELECT @ParentId_his, @PromoId, Mechanism, Notes, ProductId, Baseline, Uplift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost FROM @Mechanism

								/* create history smart code */
								INSERT INTO tbhis_promo_mechanism_smartcode (
									parentId
									, promoId
									, mechanism
									, notes
									, productId
									, [product]
									, brandId
									, brand
									, baseline
									, uplift
									, totalSales
									, salesContribution
									, storesCoverage
									, redemptionRate
									, cr
									, cost
									, smartSequence
									, createdBy
									, createdOn
									, createdEmail
								)
								SELECT 
									@ParentId_his,
									@PromoId,
									[mechanism],
									[notes],
									[productId],
									mp.LongDesc [product],
									mp.brandId,
									mb.LongDesc [brand],
									[baseline],
									[uplift],
									[totalSales],
									[salesContribution],
									[storesCoverage],
									[redemptionRate],
									[cr],
									[cost],
									ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) [smartSequence]
									,@initiator
									,@utcDate123
									,@useremail
								FROM @Mechanism prm 
								INNER JOIN tbmst_product mp ON prm.ProductId = mp.Id
								INNER JOIN tbmst_brand mb ON mp.BrandId = mb.id

			
							/* cREATE SKP Draft */
							INSERT INTO tbtrx_promo_skp_validate ( 
								PromoId
								, SKPDraftAvail
								, SKPDraftAvailOn
								, SKPDraftAvailBy
								, SKPDraftAvailBfrAct60
								, SKPDraftAvailBfrAct60On
								, SKPDraftAvailBfrAct60By
								, EntityDraft
								, EntityDraftOn
								, EntityDraftBy
								, BrandDraft
								, BrandDraftOn
								, BrandDraftBy
								, PeriodDraft
								, PeriodDraftOn
								, PeriodDraftBy
								, ActivityDescDraft
								, ActivityDescDraftOn
								, ActivityDescDraftBy
								, MechanismDraft
								, MechanismDraftOn
								, MechanismDraftBy
								, InvestmentDraft
								, InvestmentDraftOn
								, InvestmentDraftBy
								, DistributorDraft
								, DistributorDraftOn
								, DistributorDraftBy
								, ChannelDraft
								, ChannelDraftOn
								, ChannelDraftBy
								, StoreNameDraft
								, StoreNameDraftOn
								, StoreNameDraftBy
							) VALUES (
								@PromoId
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
								,1
								,@utcDate123
								,@userid
							)

							/*VALIDATE EMAIL ADDRESS APPROVER*/
							DECLARE @emailinactive int, @emailapprover varchar(255), @StatusApprovalCode varchar(255), @isSendEmail bit
						
							SET @isSendEmail=0

							SET @emailinactive = (
										SELECT isnull(c.isdeleted,0) isinactive
										FROM tbtrx_promo pr
										inner join tbset_user b on pr.Approver=b.Id
										inner join tbset_user_login c on b.email=c.email
										where pr.Id=@PromoId
										)
							SET @emailapprover = (
										SELECT b.email
										FROM tbtrx_promo pr
										inner join tbset_user b on pr.Approver=b.Id
										where pr.Id=@PromoId
										)
							SET @StatusApprovalCode = (
										SELECT StatusApprovalCode
										FROM tbtrx_promo pr
										where pr.Id=@PromoId
										)
							IF (@BudgetApprovalStatus=1 AND @BudgetDeployStatus=1) OR @StatusApprovalCode<>'TP0'
								BEGIN
									SET @isSendEmail=1

									IF NOT EXISTS
										(
											select 1 as bool
											,@PromoId as [Id]
											,@promorefid as [RefId]
											,200 as [statuscode]
											,a.Id [userid_initiator]
											,a.username [username_initiator]
											,a.email [email_initiator]
											,b.Id [userid_approver]
											,b.username [username_approver]
											,b.email [email_approver]
											FROM tbtrx_promo pr
											inner join tbset_user a on pr.CreateBy=a.Id
											inner join tbset_user b on pr.Approver=b.Id
											where pr.Id=@PromoId
										)
										BEGIN
											SET @isSendEmail=0
											SET @messageout='email address initator or approver not found '
												 RAISERROR (@messageout, -- Message text.
													   16, -- Severity.
													   1 -- State.
													   );
										END

									IF @emailinactive=1 
										BEGIN
											SET @isSendEmail=0
											--SET @messageout='email address approver ['+@emailapprover+'] is inactive '
											--	 RAISERROR (@messageout, -- Message text.
											--		   16, -- Severity.
											--		   1 -- State.
											--		   );
										END

								END
							
						END


					/* Create Promo Workflow Change */
					IF @MechanismOld<>@mechanismNew
						BEGIN
						   INSERT INTO tbtrx_promo_workflow_change (
								PromoId,
								Mechanism1Old,
								Mechanism1,
								CreatedOn,
								CreatedBy,
								CreatedByEmail,
								statusField,
								oldvalue,
								newvalue
							   )
							VALUES (
								@promoid,
								@mechanismOld,
								@mechanismNew,
								@utcDate123,
								@userid,
								@useremail,
								'Mechanism',
								@mechanismOld,
								@mechanismNew
								)
						END

				COMMIT

				/* cek promo backdate auto close*/
				IF DATEDIFF(day, @Startpromo, GETDATE())  > = 7
				BEGIN
					exec ip_promo_closure_auto @PromoId
				END

				/*** Update allocationid ***/
				UPDATE tbtrx_promo SET allocationid = dbo.getBudgetId(@PromoId) WHERE id =@PromoId
				/***************************/

				/*RESULT SET*/
				SELECT id as [id]
						,RefId as [refId]
						,@isSendEmail [isSendEmail]
					FROM tbtrx_promo pr
					where pr.Id=@PromoId

				IF @isSendEmail=1
					BEGIN
						SELECT
								pr.CreateBy userIdInitiaator
								, a.username userNameInitiaator
								,a.email emailInitiator
								,b.Id userIdApprover
								,b.username userNameApprover
								,b.email emailApprover
							FROM tbtrx_promo pr
							LEFT join tbset_user a on pr.CreateBy=a.Id
							LEFT join tbset_user b on pr.Approver=b.Id
							where pr.Id=@PromoId
					END

				--exec ip_dn_overbudget_by_prommoid @PromoId
				/***************************
				 Budget Recalculate balance
				 ***************************/
				--IF @AllocationId<> @AllocationId_old
				--	BEGIN
				--		exec ip_recalculate_balance_by_id @AllocationId_old
				--	END
				--exec ip_recalculate_balance_by_id @AllocationId

				END TRY

				BEGIN CATCH
				ROLLBACK
					DECLARE @ErrorMessage NVARCHAR(4000);
					DECLARE @ErrorSeverity INT;
					DECLARE @ErrorState INT;

					SELECT
						@ErrorMessage = ERROR_MESSAGE(),
						@ErrorSeverity = ERROR_SEVERITY(),
						@ErrorState = ERROR_STATE();
					RAISERROR (@ErrorMessage, -- Message text.
							   @ErrorSeverity, -- Severity.
							   @ErrorState -- State.
				   );

				END CATCH


		END
	END
ELSE
	BEGIN
			EXEC ip_promo_insert_DC
				@IsNew 
				,@Promo 
				,@Region
				,@Sku 
				,@attachment 
				,@Mechanism 

	END


GO
