

/****** Object:  StoredProcedure [dbo].[ip_mst_map_user_subaccount_skp_draft_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_map_user_subaccount_skp_draft_ins]
	@IsNew           bit,
	@Id              int,
	@longdesc        varchar(50),
	@UserId          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.id
                FROM tbset_map_user_subaccount_skp_draft a
                where a.id = @Id
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping User Subaccount SKP Draft already exist';
                    SET @messageout='Mapping User Subaccount SKP Draft already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_user_subaccount_skp_draft
                (
                   Id
                  ,longdesc
                  ,CreateOn
                  ,CreateBy
                  ,CreatedEmail
                )
                Values
                (
                   @Id
                  ,@longdesc
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_user_subaccount_skp_draft
			SET
				longdesc        = @longdesc
				,ModifiedOn      = @CreatedOn
				,ModifiedBy      = @UserID
				,ModifiedEmail   = @UserLogin
			WHERE
				Id=@Id
		End
    select @errCode errCode, @errMessage errMessage
END

GO
