USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_select_byrefid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_select_byrefid] --'kamsat','SGM00001/AL20-00026/TS'
	-- Add the parameters for the stored procedure here
	@refid		VARCHAR(50),
	@userid			VARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		PromoId INT NULL,
		AllocationId INT NULL
	)

	DECLARE @Id INT

	SET @Id=(SELECT Id from tbtrx_promo where RefId=@refid)

	INSERT INTO @ALO(PromoId,AllocationId)
	SELECT p.Id,a.Id
	FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
	INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
	inner join tbtrx_allocation_useraccess alc on a.Id=alc.AllocationId
	WHERE IIF(@userid='0','0',@userid)=IIF(@userid='0','0',alc.userid)
	AND p.Refid=@refid
		

	SELECT
		pr.PromoPlanId
		,pr.RefId
		,pr.Id
		,pr.RefId
		,pr.ActivityDesc	
		,pr.Investment
		,PREV.Investment PrevInvestment
		,pr.NormalSales
		,PREV.NormalSales PrevNormalSales
		,pr.IncrSales
		,PREV.IncrSales PrevIncrSales
		,PREV.TotSales PrevTotSales
		,pr.Roi
		,PREV.Roi PrevRoi
		,pr.CostRatio
		,PREV.CostRatio PrevCostRatio
		,pr.Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.StartPromo
		,pr.EndPromo	
		,ALLOC.Id AllocationId
		,ALLOC.Periode
		,ALLOC.RefId AllocationRefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName
		,ALLOC.OwnerId
		,uo.username BudgetOwner
		,ALLOC.FromOwnerId
		,uf.username FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,pr.SubCategoryId
		,pr.ActivityId
		,pr.SubactivityId
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		--,ALLOC.SalesAmount
		,ALLOC.BudgetAmount
		,bal.remainingamount as RemainingBudget
		,ALLOC.LongDesc AllocationDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
	FROM tbtrx_promo pr	
	inner join [dbo].[tbtrx_allocation] AS ALLOC on ALLOC.Id=pr.AllocationId
	inner join tbtrx_allocation_balance as bal on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
	inner join tbtrx_budgetmaster m on ALLOC.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	inner join tbset_user uo on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf on uf.Id=ALLOC.FromOwnerId
	inner join tbmst_category ctg on ctg.Id=m.CategoryId
	left join
	(
		SELECT 
		ParentId
		,TotInvest Investment 
		,NormalSales
		,IncrSales
		,TotSales
		,Roi
		,CostRatio
		from tbtrx_promo_request_approval_recon
		where ParentId IN (SELECT PromoId FROM @ALO)
		ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
	) PREV on pr.Id=PREV.ParentId
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND pr.Id IN (SELECT PromoId FROM @ALO)
		/*****************
		REGION
		*****************/
		/***
		SELECT
		1 flag
		,R.PromoId AS RegionPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_region]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_region] AS R WITH(NOLOCK) ON R.RegionId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_region]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK) ON R.RegionId=MR.Id
		LEFT JOIN tbtrx_promo_region pr ON pr.RegionId=R.RegionId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		***/
		/***start custom by jummy **/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_region]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R  ON MR.Id=R.RegionId
		LEFT JOIN (select * from tbtrx_promo_region where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.RegionId=pr.RegionId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/		
		/*****************/



		/*****************
		CHANNEL
		*****************/
		/***
		SELECT
		1 flag
		,R.PromoId AS ChannelPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_channel]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_channel] AS R WITH(NOLOCK) ON R.ChannelId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id ChannelPromoId--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_channel]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R WITH(NOLOCK) ON R.ChannelId=MR.Id
		LEFT JOIN tbtrx_promo_channel pr ON pr.ChannelId=R.ChannelId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		***/
		/***start custom by jummy **/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_channel]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R  ON MR.Id=R.ChannelId
		LEFT JOIN (select * from tbtrx_promo_channel where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ChannelId=pr.ChannelId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/		
		
		/*****************/

		/*****************
		SUB CHANNEL
		*****************/
		SELECT
		1 flag
		,R.PromoId AS SubChannelPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_subchannel]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_subchannel] AS R WITH(NOLOCK) ON R.SubChannelId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id SubChannelPromoId--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_subchannel]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_subchannel] AS R WITH(NOLOCK) ON R.SubChannelId=MR.Id
		LEFT JOIN tbtrx_promo_subchannel pr ON pr.SubChannelId=R.SubChannelId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		/*****************/


		/*****************
		ACCOUNT
		*****************/
		SELECT
		1 flag
		,R.PromoId AS AccountPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_account]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_account] AS R WITH(NOLOCK) ON R.AccountId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id AccountPromoId--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_account]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_account] AS R WITH(NOLOCK) ON R.AccountId=MR.Id
		LEFT JOIN tbtrx_promo_account pr ON pr.AccountId=R.AccountId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		/*****************/


		/*****************
		SUB ACCOUNT
		*****************/
		SELECT
		1 flag
		,R.PromoId AS SubAccountPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_subaccount]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_subaccount] AS R WITH(NOLOCK) ON R.SubAccountId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id SubAccountPromoId--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_subaccount]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_subaccount] AS R WITH(NOLOCK) ON R.SubAccountId=MR.Id
		LEFT JOIN tbtrx_promo_subaccount pr ON pr.SubAccountId=R.SubAccountId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		/*****************/

		/*****************
		BRAND
		*****************/		
		/***
		SELECT
		1 flag
		,R.PromoId AS BrandPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_brand]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_brand] AS R WITH(NOLOCK) ON R.BrandId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id BrandPromoId--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_brand]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R WITH(NOLOCK) ON R.BrandId=MR.Id
		LEFT JOIN tbtrx_promo_brand pr ON pr.BrandId=R.BrandId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		***/
		/*****************/
		
		/***start custom by jummy **/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_brand]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R  ON MR.Id=R.BrandId
		LEFT JOIN (select * from tbtrx_promo_brand where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/
		

		/*****************
		PRODUCT
		*****************/
		/***
		SELECT
		1 flag
		,R.PromoId AS ProductPromoId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_product]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_promo_product] AS R WITH(NOLOCK) ON R.ProductId=MR.Id
		WHERE R.PromoId IN (SELECT PromoId FROM @ALO)
	UNION ALL
		SELECT
		0 flag
		,@Id ProductPromoId--R.AllocationId AS RegionAllocId
		,MR.Id AS id
		,MR.LongDesc AS longDesc
		FROM [dbo].[tbmst_product]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R WITH(NOLOCK) ON R.ProductId=MR.Id
		LEFT JOIN tbtrx_promo_product pr ON pr.ProductId=R.ProductId 
		WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) AND pr.PromoId is null
		***/
		/***start custom by jummy **/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_product]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R  ON MR.Id=R.ProductId
		LEFT JOIN (select * from tbtrx_promo_product where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ProductId=pr.ProductId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO) and R.BrandId IN (SELECT BrandId FROM [dbo].[tbtrx_promo_brand] WHERE promoid IN (SELECT PromoId FROM @ALO))
		ORDER BY MR.SeqNo
		/***end custom by jummy **/
		
		/*****************/


		/*****************
		ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS ActivityAllocId
		,ctg.ActivityId AS id
		,ctg.ActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 
		
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null
		/*****************/

		/*****************
		SUB ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS SubActivityAllocId
		,ctg.SubActivityId AS id
		,ctg.SubActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

		/*****************
		File attach
		*****************/
		SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink


		/***************
		MASTER STATUS APPROVAL
		***************/
		SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		

		SELECT TotInvest Investment 
		,NormalSales
		,IncrSales
		,TotSales
		,Roi
		,CostRatio
		from tbtrx_promo_request_approval_recon
		where ParentId IN (SELECT PromoId FROM @ALO)
		ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY


END






GO
