

/****** Object:  StoredProcedure [dbo].[ip_promo_list_reporting_by_mechanism_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_reporting_by_mechanism_p] --'2020',0,0,0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31',30
 @periode varchar(4)
,@category int=NULL
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@submission_param int

,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)

AS

-- DECLARE
--	 @periode varchar(4)
--	,@category int=NULL
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@create_from date
--	,@create_to date
--	,@start_from date
--	,@start_to date
--	,@submission_param int

--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--SET @periode ='2025'
--SET @entity =0
--SET @distributor =0
--SET @budgetparent =0
--SET @channel =0
--SET @userid ='admin'
--SET @create_from ='2025-01-01'
--SET @create_to ='2025-12-31'
--SET @start_from ='2025-01-01'
--SET @start_to ='2025-12-31'
--SET @submission_param = 0

--SET @start =0
--SET @length =-1
--SET @filter =''
--SET @txtSearch =''


BEGIN

/****************************/
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	SET @category = ISNULL(@category,0)
	SET @entity = ISNULL(@entity,0)
	SET @distributor  = ISNULL(@distributor,0)
	SET @budgetparent  = ISNULL(@budgetparent,0)
	SET @channel  = ISNULL(@channel,0)
	SET @userid  = ISNULL(@userid,'')


    DROP TABLE IF EXISTS #temp_promo;

    DECLARE @recordsFiltered int;
--	SET @order = IIF(@order is null,'RefId', @order)
	--SET @start = @start * @length
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;

	SELECT id, allocationid, CategoryShortDesc INTO #temp_promo_id FROM tbtrx_promo pr
		WHERE
		CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
		AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)

	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')BrandDesc INTO #temp_brand FROM tbmst_brand 
	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')skuDesc INTO #temp_SKU FROM tbmst_product where principalid=2
	DELETE FROM #temp_brand
	DELETE FROM #temp_SKU

	IF @periode>='2025'
		BEGIN
			INSERT INTO #temp_brand (PromoId, BrandDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')BrandDesc 
			FROM #temp_promo_id a
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbmst_product mp on c.ProductId=mp.Id
			INNER JOIN tbmst_brand e on c.BrandId=e.Id
			GROUP BY a.Id

			INSERT INTO #temp_sku (PromoId, skuDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')SKUDesc FROM #temp_promo_id a
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbmst_product e on c.ProductId=e.Id AND ISNULL(e.IsDeleted,0)=0 
			GROUP BY a.Id

		END


select CONCAT(a.refid,'-', Row_Number() OVER (PARTITION BY a.id order by a.id)) as smartCode, * 
		INTO #temp_promo
from (
    SELECT DISTINCT
        pr.startPromo
        , pr.endPromo
        , pr.createOn
        , pr.createBy
        , pr.modifiedOn
        , pr.refId
        , pr.activityDesc
		, mechanismmulti.mechanism mechanism
    
		, mechanismmulti.baseline baseline
		, mechanismmulti.totalSales totalSales
		, mechanismmulti.uplift uplift
		, mechanismmulti.salesContribution salesContribution
		, mechanismmulti.storesCoverage storesCoverage
		, mechanismmulti.redemptionRate redemptionRate
		, mechanismmulti.cr cr
		, mechanismmulti.cost cost
		, pr.mechanisme1
        , pr.mechanisme2
        , pr.mechanisme3
        , pr.mechanisme4
        , pr.isCancel
        , pr.cancelBy
        , pr.cancelOn
        , pr.cancelByName
        , pr.statusApprovalCode
--        , pr.LastStatus
        , pr.approveOn
        , pr.approvalNotes
        , pr.approverName
        , IIF(@periode>='2025', ISNULL(pc.baseline, 0), pr.NormalSales) NormalSales
        , IIF(@periode>='2025', ROUND(ISNULL(pc.baseline, 0)*pc.uplift/100,0), pr.IncrSales) IncrSales
        , IIF(ISNULL(pc.promoid,0)=0, pr.investment, mechanismmulti.cost) Investment
        , IIF(@periode>='2025', round(pc.cost/NULLIF(pc.totalsales,0),2) ,pr.CostRatio) CostRatio
        , pr.tsCoding
        , pr.isClose
        , pr.allocationId
        , pr.subCategoryId
        , pr.approver
        , pr.activityId
        , pr.subActivityId
        , pr.id
        , pr.promoPlanId
        , pr.reconciled
        , pr.reconciledOn
        , pr.reconciledBy
        , pr.statusApprovalCodeRecon
        , pr.lastStatusRecon
        , pr.approverRecon
        , pr.approveOnRecon
        , pr.approverReconName
        , tpa.actionDate
        , tpa.requestDate
        , tpar.ActionDate actionDateRecon
        , tpar.RequestDate requestDateRecon
        , r.cancelReason
        ,IIF(ISNULL(pr.actual_sales, 0)=0, ISNULL(baseline.asales,0), ISNULL(pr.actual_sales, 0)) actualSales
        , pr.initiator_notes initiatorNotes
        ,pr.investmentTypeId
        ,pr.late_submission_day lateSubmissionDay
		,pr.categoryId
		,cat.LongDesc categoryLongDesc
		,cat.ShortDesc categoryShortDesc
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.laststatus='Draft', 'Draft', IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
		,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + tulRecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(tulRecon.username as varchar), pr.lastStatusRecon + '-' + CAST(tulRecon.username as varchar)  ))), 'BY', 'by') lastReconStatus
		,pr.distributorId, pr.entityId, pr.period, pr.groupBrandId
		, mp.longdesc skuDesc
		FROM tbtrx_promo pr
		inner join #temp_promo_id prid ON pr.id = prid.Id
		LEFT JOIN tbset_promo_mechanism_input_method pmim on pr.SubActivityId = pmim.subActivityId 
		LEFT JOIN tbset_user tu ON pr.Approver = tu.id 
		LEFT JOIN tbset_user_login tul ON tu.email = tul.email 
		LEFT JOIN tbset_user tuRecon ON pr.ApproverRecon = tuRecon.id 
		LEFT JOIN tbset_user_login tulRecon ON tuRecon.email = tulRecon.email 
		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
		INNER JOIN tbtrx_promo_mechanism mechanismmulti on pr.Id = mechanismmulti.PromoId

		LEFT JOIN tbmst_product mp ON mechanismmulti.ProductId = mp.Id

        LEFT JOIN tbtrx_promo_cancel_request r ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
        LEFT JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
        LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND ISNULL(tprar.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
        LEFT JOIN tbhlp_baseline_promo baseline ON pr.id=baseline.id
		LEFT JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
		WHERE pmim.inputMethod=1
		UNION ALL
		    SELECT DISTINCT
        pr.startPromo
        , pr.endPromo
        , pr.createOn
        , pr.createBy
        , pr.modifiedOn
        , pr.refId
        , pr.activityDesc
		, mechanism.mechanism mechanism
		, pc.baseline baseline
		, pc.totalSales totalSales
		, pc.uplift uplift
		, pc.salesContribution salesContribution
		, pc.storesCoverage storesCoverage
		, pc.redemptionRate redemptionRate
		, pc.cr cr
		, pc.cost cost
		, pr.mechanisme1
        , pr.mechanisme2
        , pr.mechanisme3
        , pr.mechanisme4
        , pr.isCancel
        , pr.cancelBy
        , pr.cancelOn
        , pr.cancelByName
        , pr.statusApprovalCode
--        , pr.LastStatus
        , pr.approveOn
        , pr.approvalNotes
        , pr.approverName
        , IIF(@periode>='2025', ISNULL(pc.baseline, 0), pr.NormalSales) NormalSales
        , IIF(@periode>='2025', ROUND(ISNULL(pc.baseline, 0)*pc.uplift/100,0), pr.IncrSales) IncrSales
        , IIF(ISNULL(pc.promoid,0)=0, pr.investment, pc.cost) Investment
        , IIF(@periode>='2025', round(pc.cost/NULLIF(pc.totalsales,0),2) ,pr.CostRatio) CostRatio
        , pr.tsCoding
        , pr.isClose
        , pr.allocationId
        , pr.subCategoryId
        , pr.approver
        , pr.activityId
        , pr.subActivityId
        , pr.id
        , pr.promoPlanId
        , pr.reconciled
        , pr.reconciledOn
        , pr.reconciledBy
        , pr.statusApprovalCodeRecon
        , pr.lastStatusRecon
        , pr.approverRecon
        , pr.approveOnRecon
        , pr.approverReconName
        , tpa.actionDate
        , tpa.requestDate
        , tpar.ActionDate actionDateRecon
        , tpar.RequestDate requestDateRecon
        , r.cancelReason
        ,IIF(ISNULL(pr.actual_sales, 0)=0, ISNULL(baseline.asales,0), ISNULL(pr.actual_sales, 0)) actualSales
        , pr.initiator_notes initiatorNotes
        ,pr.investmentTypeId
        ,pr.late_submission_day lateSubmissionDay
		,pr.categoryId
		,cat.LongDesc categoryLongDesc
		,cat.ShortDesc categoryShortDesc
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.laststatus='Draft', 'Draft', IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
		,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + tulRecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(tulRecon.username as varchar), pr.lastStatusRecon + '-' + CAST(tulRecon.username as varchar)  ))), 'BY', 'by') lastReconStatus
		,pr.distributorId, pr.entityId, pr.period, pr.groupBrandId
		, sku.SKUDesc skuDesc
		FROM tbtrx_promo pr
		inner join #temp_promo_id prid ON pr.id = prid.Id
		LEFT JOIN tbset_promo_mechanism_input_method pmim on pr.SubActivityId = pmim.subActivityId 
		LEFT JOIN tbset_user tu ON pr.Approver = tu.id 
		LEFT JOIN tbset_user_login tul ON tu.email = tul.email 
		LEFT JOIN tbset_user tuRecon ON pr.ApproverRecon = tuRecon.id 
		LEFT JOIN tbset_user_login tulRecon ON tuRecon.email = tulRecon.email 
		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
	    INNER JOIN
	    (
	        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
	            GROUP BY a.PromoId
	    ) mechanism ON pr.Id = mechanism.PromoId   		
		LEFT JOIN #temp_sku sku ON pr.Id = sku.PromoId

        LEFT JOIN tbtrx_promo_cancel_request r ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
        LEFT JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
        LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND ISNULL(tprar.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
        LEFT JOIN tbhlp_baseline_promo baseline ON pr.id=baseline.id
		LEFT JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
		WHERE ISNULL(pmim.inputMethod,0)=0

 )a

----	DELETE FROM #temp_promo
 
----    INSERT INTO #temp_promo
----    SELECT
----        pr.StartPromo
----        , pr.EndPromo
----        , pr.CreateOn
----        , pr.CreateBy
----        , pr.ModifiedOn
----        , pr.RefId
----        , pr.ActivityDesc
----        , smartCode 
----        --, CONCAT(pr.RefId,  ' - ', mechanism.SequenceNumber) smartCode 
----        , mechanism.mechanism Mechanism
----        , mechanism.Baseline
----        , mechanism.TotalSales
----        , mechanism.Uplift
----        , mechanism.SalesContribution
----        , mechanism.StoresCoverage
----        , mechanism.RedemptionRate
----        , mechanism.CR
----        , mechanism.Cost
----        , pr.Mechanisme1
----        , pr.Mechanisme2
----        , pr.Mechanisme3
----        , pr.Mechanisme4
----        , pr.IsCancel
----        , pr.CancelBy
----        , pr.CancelOn
----        , pr.CancelByName
----        , pr.StatusApprovalCode
------        , pr.LastStatus
----        , pr.ApproveOn
----        , pr.ApprovalNotes
----        , pr.ApproverName
----        , IIF(@periode>='2025', ISNULL(pc.baseline, 0), pr.NormalSales) NormalSales
----        , IIF(@periode>='2025', ROUND(ISNULL(pc.baseline, 0)*pc.uplift/100,0), pr.IncrSales) IncrSales
----        , IIF(ISNULL(pc.promoid,0)=0, pr.investment, pc.cost) Investment
----        , IIF(@periode>='2025', round(pc.cost/NULLIF(pc.totalsales,0),2) ,pr.CostRatio) CostRatio
----        , pr.tsCoding
----        , pr.IsClose
----        , pr.AllocationId
----        , pr.SubCategoryId
----        , pr.Approver
----        , pr.ActivityId
----        , pr.SubActivityId
----        , pr.Id
----        , pr.PromoPlanId
----        , pr.Reconciled
----        , pr.ReconciledOn
----        , pr.ReconciledBy
----        , pr.StatusApprovalCodeRecon
----        , pr.lastStatusRecon
----        , pr.ApproverRecon
----        , pr.ApproveOnRecon
----        , pr.ApproverReconName
----        , tpa.ActionDate
----        , tpa.RequestDate
----        , tpar.ActionDate ActionDateRecon
----        , tpar.RequestDate RequestDateRecon
----        , r.CancelReason
----        ,IIF(ISNULL(pr.actual_sales, 0)=0, ISNULL(baseline.asales,0), ISNULL(pr.actual_sales, 0)) actual_sales
----        , pr.initiator_notes
----        ,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendback_notes
----        ,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendback_notes_date
----        ,pr.InvestmentTypeId
----        ,pr.late_submission_day
----		,pr.categoryId
----		,cat.LongDesc categoryLongDesc
----		,cat.ShortDesc categoryShortDesc
----		,IIF(pr.laststatus='Draft', 'Draft', IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
----		,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + tulRecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(tulRecon.username as varchar), pr.lastStatusRecon + '-' + CAST(tulRecon.username as varchar)  ))), 'BY', 'by') LastReconStatus
----		,pr.DistributorId, pr.EntityId, pr.period, pr. GroupBrandId
----		FROM tbtrx_promo pr
----		--INNER JOIN tbset_promo_mechanism_input_method pmim ON pr.SubActivityId = pmim.subActivityId AND pmim.inputMethod=1
----		LEFT JOIN tbset_user tu ON pr.Approver = tu.id 
----		LEFT JOIN tbset_user_login tul ON tu.email = tul.email 
----		LEFT JOIN tbset_user tuRecon ON pr.ApproverRecon = tuRecon.id 
----		LEFT JOIN tbset_user_login tulRecon ON tuRecon.email = tulRecon.email 
----		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
----		/*-- mechanism sequnce --*/
----	    INNER JOIN (
----			select ROW_NUMBER() OVER (PARTITION BY PromoID ORDER BY mechanismid) AS SequenceNumber,* 
----			from tbtrx_promo_mechanism
----		) mechanism ON pr.Id = mechanism.PromoId
----		/**************************************************************************************/
----        LEFT JOIN tbtrx_promo_cancel_request r ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
----        LEFT JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
----        LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
----        LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND ISNULL(tprar.IsCancel, 0)=0
----        LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
----        LEFT JOIN tbhlp_baseline_promo baseline ON pr.id=baseline.id
----        LEFT JOIN vw_promo_sendback_notes_last note ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
----		LEFT JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
----        WHERE
----		CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
----		AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
----		AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)

    /****************************/
    /****************************/	
    DROP TABLE IF EXISTS #tmp_dn

    SELECT 
    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) - SUM(ISNULL(tc.dpp,0)) TotalClaim
    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0))- SUM(ISNULL(tc.dpp,0)) TotalPaid
    INTO #tmp_dn					
    	FROM tbtrx_debetnote a
        INNER JOIN (
			SELECT DISTINCT id FROM #temp_promo 
			)
			pr ON a.PromoId=pr.Id
        LEFT JOIN (
        	SELECT 0 dnid
        		, 0 dpp
        		, 0 TotalPaid
        ) tc ON a.id = tc.dnid
        AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
        WHERE ISNULL(a.IsCancel, 0) = 0
        AND ISNULL(a.IsDNPromo,0)=1	
        GROUP BY a.PromoId

    /****************************/
    /****************************/
    declare @endofmonth date,@closingdtx date;

    set @endofmonth=(SELECT dateadd(month,1+datediff(month,0,@closingdtx),-1))

    DECLARE @Temp TABLE
        (
          BudgetParent int,
          Levels int,
          BudgetId int
        )
        ;

    DROP TABLE if exists #temp_promo_alloc;
	SELECT 
		pr.id
		,p.LongDesc Entity
        ,d.LongDesc Distributor
        ,p.LongDesc PrincipalDesc
        ,c.LongDesc BudgetSource
		,IIF(cat.shortdesc='DC','---', sctg.LongDesc) [SubCategory]
        ,IIF(cat.shortdesc='DC','---', act.LongDesc) [Activity]
        ,sact.LongDesc [SubActivity]
        ,IIF(cat.shortdesc='DC','---', pr.ActivityDesc) ActivityDesc
		,cat.ShortDesc
        , tst.Id subActivityTypeId
        , tst.RefId subActivityTypeRefId
        , tst.LongDesc subActivityType
		, mma.longDesc mainActivity
	INTO #temp_promo_alloc
	FROM #temp_promo pr WITH (NOLOCK)
			INNER JOIN tbtrx_allocation c WITH (NOLOCK) ON pr.AllocationId=c.Id
			INNER JOIN tbtrx_budgetmaster m WITH (NOLOCK) ON c.BudgetMasterId=m.Id
			INNER JOIN tbmst_distributor d WITH (NOLOCK) ON m.DistributorId=d.Id
			INNER JOIN tbmst_principal p WITH (NOLOCK) ON m.PrincipalId=p.Id
			INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
			INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
			INNER JOIN tbtrx_allocation_useraccess usr  WITH (NOLOCK) ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
			INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
			INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
			INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.subActivityTypeId = tst.id
			INNER JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
			INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
			WHERE c.Periode=@periode
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

	INSERT INTO #temp_promo_alloc	
		SELECT 
			pr.id
			,p.LongDesc Entity
			,d.LongDesc Distributor
			,p.LongDesc PrincipalDesc
			,'' BudgetSource--c.LongDesc BudgetSource
			,IIF(cat.shortdesc='DC','---', sctg.LongDesc) [SubCategory]
			,IIF(cat.shortdesc='DC','---', act.LongDesc) [Activity]
			,sact.LongDesc [SubActivity]
			,IIF(cat.shortdesc='DC','---', pr.ActivityDesc) ActivityDesc
			,cat.ShortDesc
			, tst.Id subActivityTypeId
			, tst.RefId subActivityTypeRefId
			, tst.LongDesc subActivityType
			, mma.longDesc mainActivity
		FROM #temp_promo pr WITH (NOLOCK)
				INNER JOIN tbmst_distributor d WITH (NOLOCK) ON pr.DistributorId=d.Id
				INNER JOIN tbmst_principal p WITH (NOLOCK) ON pr.EntityId=p.Id
				INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
				INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
				INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
				INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
				INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.subActivityTypeId = tst.id
				LEFT JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
				LEFT JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
				WHERE pr.Period=@periode
				AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)

    DROP TABLE if exists #temp_result;

    SELECT DISTINCT
	     tpa.entity
        ,tpa.distributor
        ,tpa.principalDesc
        ,tpa.budgetSource
        ,pr.CreateBy [initiator]
        ,pr.CreateOn [createOn]
        ,ISNULL(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
        ,pr.RefId [promoNumber]
        ,tpa.subCategory
        ,tpa.activity
        ,tpa.subActivity
        ,IIF(tpa.shortdesc='DC','---', pr.ActivityDesc) activityDesc
        , pr.smartCode 
        , pr.mechanism 
        , pr.baseline
        , pr.totalSales
        , pr.uplift
        , pr.salesContribution
        , pr.storesCoverage
        , pr.redemptionRate
        , pr.cr
        , pr.cost
        ,ISNULL(pr.Mechanisme1,'') mechanisme1
        ,ISNULL(pr.Mechanisme2,'') mechanisme2
        ,ISNULL(pr.Mechanisme3,'') mechanisme3
        ,ISNULL(pr.Mechanisme4,'') mechanisme4
        ,IIF(tpa.shortdesc='DC','---', region.RegionDesc) regionDesc
        ,channel.channelDesc
        ,IIF(tpa.shortdesc='DC','---', subchannel.subChannelDesc) subChannelDesc 
        ,IIF(tpa.shortdesc='DC','---', account.AccountDesc) accountDesc
        ,IIF(tpa.shortdesc='DC','---', subaccount.SubAccountDesc) subAccountDesc
        ,pr.lastStatus
        ,IIF(pr.IsCancel=1,  FORMAT (pr.CancelOn, 'dd-MM-yyyy'), 
			IIF(pr.StatusApprovalCode='TP2', FORMAT (pr.ApproveOn, 'dd-MM-yyyy'), 
				IIF(pr.StatusApprovalCode='TP3', FORMAT (pr.ActionDate, 'dd-MM-yyyy'), 
					IIF(pr.RequestDate is null, '---', FORMAT (pr.RequestDate, 'dd-MM-yyyy'))))) lastStatusDate
        ,isnull(pr.approvalNotes, '') approvalNotes
        --,IIF(tpa.shortdesc='DC',0, pr.NormalSales + pr.IncrSales) [target]
		,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.NormalSales + pr.IncrSales), ISNULL(pr.totalsales,0)) [target]
        ,IIF(ISNULL(pr.isclose,0)=0, round(pr.Investment, 0), ISNULL(dn.TotalPaid, 0)) investment 
        --,IIF(tpa.shortdesc='DC',0, pr.NormalSales) normalSales
		,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.NormalSales), ISNULL(pr.baseline, 0)) normalSales
        ,IIF(tpa.shortdesc='DC',0, pr.IncrSales) incrSales
        --,IIF(tpa.shortdesc='DC',0, iif(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-round(pr.Investment, 0))/round(pr.Investment, 0))) roi	
        --,IIF(tpa.shortdesc='DC',0, pr.CostRatio) costRatio
        ,IIF(ISNULL(pr.period, '') < 2025, 
			IIF(tpa.shortdesc='DC',0, IIF(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-round(pr.Investment,0))/round(pr.Investment, 0))), 
			round(IIF(pr.CategoryShortDesc<>'DC', round(((((pr.uplift+100) / 100) * pr.baseline)  - pr.Cost) / pr.Cost * 100, 0), ((((pr.uplift+100) / 100) * pr.TotalSales) - pr.cost) / pr.cost * 100), 0) ) roi	
        ,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.CostRatio), IIF(tma.longdesc = 'Running Rate', pr.cost/pr.totalsales * 100, pr.cr)) costRatio
        ,TotalClaim dnClaim
        ,(round(pr.Investment, 0)-ISNULL(TotalClaim,0)) remainingBalance
        ,TotalPaid dnPaid
        ,pr.startPromo
        ,pr.endPromo
        ,datediff(day,pr.CreateOn,pr.StartPromo) gap
        ,CONCAT('H-', pr.lateSubmissionDay) submissionDeadline
      ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < pr.lateSubmissionDay,0,1) onTime
        ,IIF(tpa.shortdesc='DC' OR pr.period>=2025,'---', pr.TsCoding) tsCoding
        ,brand.brandDesc
        ,IIF(tpa.shortdesc='DC','---', pr.SKUDesc) skuDesc
        ,IIF(tpa.shortdesc='DC',0, ISNULL(tpp.id, 0)) promoPlanId
        ,ISNULL(tpp.RefId, '---') as promoPlanRefId
        ,ISNULL(pr.IsClose, 0) as closureStatus
		,IIF(ISNULL(pr.Reconciled,0)=0, 'Waiting recon', IIF(pr.endpromo>@utcDate123, 'Ready to recon', 'Reconciled')) reconStatus
        ,pr.lastReconStatus
        , tpa.subActivityTypeId
        , tpa.subActivityTypeRefId
        , tpa.subActivityType
        ,pr.cancelReason
        ,pr.actualSales
        , pr.initiatorNotes 
        ,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendbackNotes
        ,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendbackNotesDate
        --,pr.sendbackNotes 
        --,pr.sendbackNotesDate 
        ,ISNULL(tmit.InvestmentTypeId,'-') investmentTypeId
	    ,ISNULL(tit2.RefId,'---') investmentTypeRefId
	    ,ISNULL(tit2.LongDesc,'---') investmentTypeDesc
	    ,ISNULL(pr.InvestmentTypeId,'-') investmentTypeIdPromo
	    ,ISNULL(tit.RefId,'---') investmentTypeRefIdPromo
	    ,ISNULL(tit.LongDesc,'---') investmentTypeDescPromo
	    ,round(pr.investment, 0) investmentBfrClose --issue #839
	    ,iif(ISNULL(pr.isclose,0)=0, 0, round(pr.investment, 0)-dn.TotalPaid) investmentClosedBalance --issue #839
		,pr.categoryId
		,pr.categoryShortDesc
		,pr.categoryLongDesc
		, IIF (groupbrand.groupBrandDesc IS NULL, mbg.longdesc, groupbrand.groupBrandDesc) groupBrandDesc
		, ISNULL(prbs.LastStatus, '---') budgetApprovalStatus
		, CASE prbs.LastStatusCode
				WHEN 'TP01' THEN '---'
				WHEN 'TP02' THEN ISNULL(CONVERT(VARCHAR(10), IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequeston, prbs.ApprovedOn), 105),'---')
				WHEN 'TP03' THEN ISNULL(CONVERT(VARCHAR(10), prbs.ApprovedOn, 105),'---')
				WHEN 'TP04' THEN ISNULL(CONVERT(VARCHAR(10), prbs.RejectedOn, 105),'---')
				ELSE '---'
			END budgetApprovalStatusOn
		, CASE prbs.LastStatusCode
			WHEN 'TP01' THEN '---'
			WHEN 'TP02' THEN ISNULL(IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequestby, prbs.Approvedby),'---')
			WHEN 'TP03' THEN ISNULL(prbs.Approvedby,'---')
			WHEN 'TP04' THEN ISNULL(prbs.Rejectedby,'---')
			ELSE '---'
		END budgetApprovalStatusBy
		, IIF(prbs.Deployed=0, 'Not Yet Deployed', 'Deployed') budgetDeployStatus
		,ISNULL(CONVERT(VARCHAR(10), prbs.DeployedOn, 105),'---') budgetDeployStatusOn
		,ISNULL(prbs.DeployedBy,'---') budgetDeployStatusBy
		, tpa.mainActivity
        INTO #temp_result
        FROM #temp_promo pr WITH (NOLOCK)
		INNER JOIN #temp_promo_alloc tpa on pr.Id=tpa.Id
		LEFT JOIN  tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
		LEFT JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id
		LEFT JOIN vw_promo_sendback_notes_last note ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
        LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) ON pr.InvestmentTypeId = tit.id 
	    LEFT JOIN tbset_map_investment_type tmit  WITH (NOLOCK) ON pr.SubActivityId=tmit.SubactivityId and ISNULL(tmit.IsDeleted,0)=0
	    LEFT JOIN tbmst_investment_type tit2  WITH (NOLOCK) ON tmit.InvestmentTypeId=tit2.id and ISNULL(tit2.IsDeleted,0)=0
        INNER JOIN
			(
			  SELECT PromoId, STRING_AGG(chn.LongDesc,' ,') ChannelDesc
						FROM tbtrx_promo_channel a WITH (NOLOCK)
						INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
  						INNER JOIN (SELECT DISTINCT Id FROM #temp_promo) pr ON pr.Id=a.PromoId
					WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
		  GROUP BY a.PromoId
			) channel
			ON pr.Id = channel.PromoId
        LEFT JOIN
			(
				SELECT PromoId, STRING_AGG(subchn.LongDesc,' ,') SubChannelDesc
			  FROM tbtrx_promo_subchannel a WITH (NOLOCK)
							INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
						 INNER JOIN (SELECT DISTINCT Id FROM #temp_promo) pr ON pr.Id=a.PromoId
					GROUP BY a.PromoId
			) subchannel
			ON pr.Id = subchannel.PromoId
        LEFT JOIN
        (
            SELECT PromoId, STRING_AGG(ac.LongDesc,' ,') AccountDesc
                        FROM tbtrx_promo_account a WITH (NOLOCK)
                        INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
                        INNER JOIN (SELECT DISTINCT Id FROM #temp_promo) pr ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) account
        ON pr.Id = account.PromoId
        LEFT JOIN
        (
            SELECT PromoId, STRING_AGG(sac.LongDesc,' ,') SubAccountDesc
                        FROM tbtrx_promo_subaccount a WITH (NOLOCK)
                        INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
                        INNER JOIN (SELECT DISTINCT Id FROM #temp_promo) pr ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) subaccount
        ON pr.Id = subaccount.PromoId
		LEFT JOIN tbhlp_promo_region region ON pr.Id = region.PromoId
		LEFT JOIN #temp_brand brand ON pr.Id = brand.PromoId
		--LEFT JOIN #temp_sku sku ON pr.Id = sku.PromoId
		--LEFT JOIN tbhlp_promo_brand brand ON pr.Id = brand.PromoId
		--LEFT JOIN tbhlp_promo_product sku ON pr.Id = sku.PromoId
        LEFT JOIN #tmp_dn dn ON pr.Id=dn.PromoId
        LEFT JOIN tbtrx_promo_planning tpp ON pr.PromoPlanId = tpp.id        
        LEFT JOIN (
			select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
			FROM
			(
					SELECT distinct 
						b.PromoId, a.longDesc
					FROM tbmst_brand_group a
					INNER JOIN 
					(
						select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
						INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId 
						INNER JOIN (SELECT DISTINCT Id, allocationId FROM #temp_promo) pr ON pr.Id=b.PromoId
						INNER JOIN tbtrx_allocation_brand d WITH (NOLOCK) ON b.BrandId=d.BrandId AND pr.allocationid=d.allocationid
					) b on a.Id=b.BrandGroupId
			) groupbrand
			group by groupbrand.promoid
		) groupbrand ON pr.id = groupbrand.promoid	
		LEFT JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
		LEFT JOIN tbtrx_promo_budget_status prbs ON pr.Id = prbs.PromoId

        /**********************
            start pagination
         **********************/
        IF @length = -1
			BEGIN
                IF @txtSearch is null
       BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC
                END
                ELSE
                BEGIN
              SELECT * FROM #temp_result
                    WHERE
                        (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
                    (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
      (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
                (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
                   (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
        (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
      (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(subActivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(subActivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC
                END
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
                ELSE
                BEGIN
                    SELECT * FROM #temp_result
                    WHERE
                        (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
     (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
    (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
 (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
      (ISNULL(subActivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(subActivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
			END
        SET @recordsFiltered = (SELECT ISNULL(count( [PromoNumber]),0) FROM #temp_result
        WHERE
            (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
            (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
    (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
            (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
            (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
      (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
            (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
            (ISNULL(subActivityTypeRefId,'') like '%' + @txtSearch + '%') OR
            (ISNULL(subActivityType,'') like '%' + @txtSearch + '%')
        )

        SELECT ISNULL(count(PromoNumber),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        /**********************
            end pagination
         **********************/
    /****************************/
    /****************************/
HELL:
    DROP TABLE IF EXISTS #tmp_dn
	DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;
END

GO
