

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_flagging_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_xml_generate_flagging_list]
    @entityid int
    ,@userid varchar(50)
    ,@generateon date
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
--     Join tbset_user untuk mengambil email krn generatedemail itu untuk login by profile
	SELECT a.Id
	     , a.PONumber
	     , a.OriginalId
	     , concat(a.GenerateBy, ' - ', a.GeneratedEmail) GenerateBy
	     , a.GeneratedEmail
	     , a.GenerateOn
	     , a.isDeleted
	     , concat(a.DeletedBy, ' - ', a.DeletedEmail) DeletedBy
	     , a.DeletedEmail
	     , a.DeletedOn
	     , a.EntityId
	     , b.LongDesc Entity
	FROM tbxml_generate a
	LEFT JOIN tbmst_principal b on a.EntityId=b.id
    WHERE isnull(a.isDeleted, 0) = 0
    AND IIF(@entityid=0, 0, a.EntityId) = IIF(@entityid=0, 0, @entityid)
 	AND IIF(@userid='0', '0', GenerateBy) = IIF(@userid='0', '0', @userid)
 	AND IIF(isnull(@generateon,'')='', @utcDate123, CONVERT(varchar(8), GenerateOn,112)) = IIF(isnull(@generateon,'')='', @utcDate123, CONVERT(VARCHAR(8),@generateon,112))
END
GO
