USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getattribute_bymapping]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- use danone
CREATE PROCEDURE [dbo].[ip_getattribute_bymapping]
@userid varchar(50),
@attribute varchar(50),
@parent ArrayIntType READONLY
AS
BEGIN
    if @attribute='channel'
        begin
            SELECT distinct a.channelid Id,c.LongDesc,c.Shortdesc FROM vw_account a
            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
            inner join tbmst_channel c on c.Id=a.ChannelId
            WHERE isnull(c.IsDelete, 0)=0
            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
            GROUP BY a.channelid,c.Shortdesc,c.LongDesc
        end

    if @attribute='subchannel'
        begin
            SELECT a.subchannelid Id,c.LongDesc,c.Shortdesc FROM vw_account a
            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
            inner join tbmst_subchannel c on c.Id=a.SubChannelId
            inner join @parent d on d.keyid=c.ChannelId
            WHERE isnull(c.IsDelete, 0)=0
            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
--             AND b.userid=@userid
            GROUP BY a.subchannelid,c.Shortdesc,c.LongDesc
        end

    if @attribute='account'
        begin
            SELECT a.accountid Id,c.LongDesc,c.Shortdesc FROM vw_account a
            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
            inner join tbmst_account c on c.Id=a.accountId
            inner join @parent d on d.keyid=c.SubChannelId
            WHERE isnull(c.IsDelete, 0)=0
            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
--             AND b.userid=@userid
            GROUP BY a.accountid,c.Shortdesc,c.LongDesc
        end

    if @attribute='subaccount'
        begin
            SELECT a.subaccountid Id,c.LongDesc,c.Shortdesc FROM vw_account a
            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
            inner join tbmst_subaccount c on c.Id=a.subaccountId
            inner join @parent d on d.keyid=c.AccountId
            WHERE isnull(c.IsDelete, 0)=0
            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
--             AND b.userid=@userid
            GROUP BY a.subaccountid,c.Shortdesc,c.LongDesc
        end
END
GO
