USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_reporting_submission_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_list_reporting_submission_p] --'2020',0,0,0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31',30
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@create_from date
	,@create_to date
	,@start_from date
	,@start_to date
	,@submission_param int

	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS

--DECLARE

--	 @periode varchar(4)
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@create_from date
--	,@create_to date
--	,@start_from date
--	,@start_to date
--	,@submission_param int

--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

	--SET @periode ='2020'
	--SET @entity =0
	--SET @distributor =0
	--SET @budgetparent =0
	--SET @channel =0
	--SET @userid ='admin'
	--SET @create_from ='2019-01-01'
	--SET @create_to ='2021-12-31'
	--SET @start_from ='2019-01-01'
	--SET @start_to ='2021-12-31'
	--SET @submission_param = 0

	--SET @start =1
	--SET @length =-1
	--SET @filter =''
	--SET @txtSearch =''


BEGIN

/****************************/
    DROP TABLE IF EXISTS #temp_promo;
    DECLARE @recordsFiltered int;
--	SET @order = IIF(@order is null,'RefId', @order)
	SET @start = @start * @length

    select
        pr.StartPromo
        , pr.EndPromo
        , pr.CreateOn
        , pr.CreateBy
        , pr.ModifiedOn
        , pr.RefId
        , pr.ActivityDesc
        , pr.Mechanisme1
        , pr.Mechanisme2
        , pr.Mechanisme3
        , pr.Mechanisme4
        , pr.IsCancel
        , pr.CancelBy
        , pr.CancelOn
        , pr.CancelByName
        , pr.StatusApprovalCode
        , pr.LastStatus
        , pr.ApproveOn
        , pr.ApprovalNotes
        , pr.ApproverName
        , pr.NormalSales
        , pr.IncrSales
        , pr.Investment
        , pr.CostRatio
        , pr.TsCoding
        , pr.IsClose
        , pr.AllocationId
        , pr.SubCategoryId
        , pr.Approver
        , pr.ActivityId
        , pr.SubActivityId
        , pr.Id
        , pr.PromoPlanId
        , pr.Reconciled
        , pr.ReconciledOn
        , pr.StatusApprovalCodeRecon
        , pr.LastStatusRecon
        , pr.ApproverRecon
        , pr.ApproveOnRecon
        , pr.ApproverReconName
        , tpa.ActionDate
        , tpa.RequestDate
        , tpar.ActionDate ActionDateRecon
        , tpar.RequestDate RequestDateRecon
        , r.CancelReason
        ,IIF(isnull(pr.actual_sales, 0)=0, isnull(baseline.asales,0), isnull(pr.actual_sales, 0)) actual_sales
        , pr.initiator_notes
        ,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
        ,IIF(isnull(note.Notes,'')='', null, CONCAT(convert(varchar, note.ActionDate, 105), ' ', convert(varchar, note.ActionDate, 108)) ) sendback_notes_date
        ,pr.InvestmentTypeId
        ,pr.late_submission_day 
        ,excpt.Reason 
        into #temp_promo
		from tbtrx_promo pr
        LEFT JOIN tbtrx_promo_cancel_request r on r.PromoId=pr.Id and isnull(r.IsCancel,0)=0
        inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
        INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
        LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND isnull(tprar.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
        LEFT JOIN tbhlp_baseline_promo baseline on pr.id=baseline.id
        left join vw_promo_sendback_notes_last note on pr.id=note.ParentId --and pr.Approver=note.UserApprover
        left join tbtemp_promo_submission_exception excpt on pr.id=excpt.PromoId and excpt.idx=@userid
        where
            NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
            AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
            AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))

    /****************************/
    /****************************/

    DROP TABLE IF EXISTS #tmp_channel
    DROP TABLE IF EXISTS #tmp_subchannel
    DROP TABLE IF EXISTS #tmp_region
    DROP TABLE IF EXISTS #tmp_account
    DROP TABLE IF EXISTS #tmp_subaccount
    DROP TABLE IF EXISTS #tmp_brand
    DROP TABLE IF EXISTS #tmp_sku
    DROP TABLE IF EXISTS #tmp_dn

    SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
    into #tmp_dn					FROM tbtrx_debetnote a
                        INNER JOIN #temp_promo pr on a.PromoId=pr.Id
                        inner join tbtrx_allocation c on pr.AllocationId=c.Id
                        inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
                        inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
                        AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
                        AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
                        AND isnull(a.IsCancel, 0) = 0
                        AND isnull(a.IsDNPromo,0)=1	--LUK210128
                        GROUP BY a.PromoId


    /****************************/
    /****************************/
    declare @endofmonth date,@closingdtx date, @submission_day int;
   
   	set @submission_day = (select daysfrom  from tbset_config_reminder tcr where id=502)

    set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

    DECLARE @Temp TABLE
        (
          BudgetParent int,
          Levels int,
          BudgetId int
        )
        ;

    drop table if exists #temp_result;
    SELECT
        p.LongDesc Entity
        ,d.LongDesc Distributor
        ,p.LongDesc PrincipalDesc
        ,c.LongDesc BudgetSource
        ,pr.CreateBy [Initiator]
        ,pr.CreateOn [CreateOn]
        ,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
        ,pr.RefId [PromoNumber]
        ,sctg.LongDesc [SubCategory]
        ,act.LongDesc [Activity]
        ,sact.LongDesc [SubActivity]
        ,pr.ActivityDesc
        ,isnull(pr.Mechanisme1,'') Mechanisme1
        ,isnull(pr.Mechanisme2,'') Mechanisme2
        ,isnull(pr.Mechanisme3,'') Mechanisme3
        ,isnull(pr.Mechanisme4,'') Mechanisme4
        ,region.RegionDesc
        ,channel.ChannelDesc
        ,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
        ,account.AccountDesc
        ,subaccount.SubAccountDesc
--         ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(uf.username as varchar) ))) LastStatus
        ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(pr.ApproverName as varchar) ))) LastStatus
        ,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.ActionDate as varchar), CAST(pr.RequestDate as varchar)))) LastStatusDate
        ,pr.ApprovalNotes
        ,pr.NormalSales + pr.IncrSales [Target]
        ,pr.Investment
        ,pr.NormalSales
        ,pr.IncrSales
        ,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---LUK 2020-04-21
        ,pr.CostRatio
        ,TotalClaim DnClaim
        ,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
        ,TotalPaid DnPaid
        ,pr.StartPromo
        ,pr.EndPromo
--        ,datediff(day,pr.CreateOn,pr.StartPromo) Gap
        ,@submission_day Gap
--   ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,0,1) OnTime
        ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_day,0,1) OnTime
        ,pr.TsCoding
        ,brand.BrandDesc
        ,sku.SKUDesc
        ,isnull(tpp.id, 0) as PromoPlanId
        ,isnull(tpp.RefId, '') as PromoPlanRefId
        ,isnull(pr.IsClose, 0) as ClosureStatus
        ,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
--         ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(ufr.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.ActionDateRecon as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.RequestDateRecon as varchar) ))) LastReconStatus
        ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(pr.ApproverReconName as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.ActionDateRecon as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.RequestDateRecon as varchar) ))) LastReconStatus
        , tst.Id SubactivityTypeId
        , tst.RefId SubactivityTypeRefId
        , tst.LongDesc SubactivityType
        ,pr.CancelReason
        ,pr.actual_sales
        , pr.initiator_notes
        ,pr.sendback_notes
        ,pr.sendback_notes_date
        ,isnull(tmit.InvestmentTypeId,'-') InvestmentTypeId
	    ,isnull(tit2.RefId,'----') InvestmentTypeRefId
	    ,isnull(tit2.LongDesc,'----') InvestmentTypeDesc
	    ,isnull(pr.InvestmentTypeId,'-') InvestmentTypeId_promo
	    ,isnull(tit.RefId,'----') InvestmentTypeRefId_promo
	    ,isnull(tit.LongDesc,'----') InvestmentTypeDesc_promo
	    ,isnull(pr.Reason,'') Reason
        INTO #temp_result
        FROM #temp_promo pr with (nolock)
        inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
        inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
        inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
        inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
        inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
        inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
--         left join tbset_user uo on uo.Id=pr.CancelBy
--         inner join tbset_user uf on uf.Id=pr.Approver
--         left join tbset_user ufr on ufr.Id=pr.ApproverRecon
        inner join tbmst_activity act on pr.ActivityId=act.id
        inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
        inner join tbmst_subactivity_type tst on sact.SubActivityTypeId = tst.id
        left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id --and isnull(tit.IsDeleted,0)=0
	    left join tbset_map_investment_type tmit on pr.SubActivityId=tmit.SubactivityId and isnull(tmit.IsDeleted,0)=0
	    left join tbmst_investment_type tit2 on tmit.InvestmentTypeId=tit2.id and isnull(tit2.IsDeleted,0)=0
        inner join
        (
            select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
                    from tbtrx_promo_channel a with (nolock)
                    INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                    INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
   WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
                GROUP BY a.PromoId
        ) channel
        on pr.Id = channel.PromoId
        inner join
        (
            select PromoId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
                        from tbtrx_promo_subchannel a with (nolock)
                        INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
                     INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) subchannel
        on pr.Id = subchannel.PromoId
--         inner join
--         (
--             select PromoId, string_agg(reg.LongDesc,' ,') RegionDesc
--                         from tbtrx_promo_region a with (nolock)
--                         INNER join tbmst_region reg with (nolock) ON a.RegionId=reg.Id
--                         INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
--                 GROUP BY a.PromoId
--         ) region
--         on pr.Id = region.PromoId
        inner join
        (
            select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
                        from tbtrx_promo_account a with (nolock)
                        INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
                        INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) account
        on pr.Id = account.PromoId
        inner join
        (
            select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
                        from tbtrx_promo_subaccount a with (nolock)
                        INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                        INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) subaccount
        on pr.Id = subaccount.PromoId
--         inner join
--         (
--             select PromoId, string_agg(brd.LongDesc,' ,') BrandDesc
--                         from tbtrx_promo_brand a with (nolock)
--                         INNER join tbmst_brand brd with (nolock) ON a.brandid=brd.Id
--                         INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
--                 GROUP BY a.PromoId
--         ) brand
--         on pr.Id = brand.PromoId
--         inner join
--         (
--             select PromoId, string_agg(sku.LongDesc,' ,') SKUDesc
--                         from tbtrx_promo_product a with (nolock)
--                         INNER join tbmst_product sku with (nolock) ON a.productid=sku.Id
--                         INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
--                 GROUP BY a.PromoId
--         ) sku
--         on pr.Id = sku.PromoId
			inner join tbhlp_promo_region region on pr.Id = region.PromoId
			inner join tbhlp_promo_brand brand on pr.Id = brand.PromoId
			inner join tbhlp_promo_product sku on pr.Id = sku.PromoId
        left join #tmp_dn dn on pr.Id=dn.PromoId
        INNER JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
        WHERE c.Periode=@periode
        AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

        /**********************
            start pagination
         **********************/
        IF @length = -1
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC
                END
                ELSE
                BEGIN
                    SELECT * FROM #temp_result
                    WHERE
                        (isNull(Entity,'') like '%' + @txtSearch + '%') OR
                        (isNull(Distributor,'') like '%' + @txtSearch + '%') OR
                        (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (isNull([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (isNull(SubCategory,'') like '%' + @txtSearch + '%') OR
                        (isNull(Activity,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubActivity,'') like '%' + @txtSearch + '%') OR
                   (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (isNull(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
                        (isNull(BrandDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
                        (isNull(ReconStatus,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubactivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC
                END
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
                ELSE
                BEGIN
                    SELECT * FROM #temp_result
                    WHERE
                        (isNull(Entity,'') like '%' + @txtSearch + '%') OR
                        (isNull(Distributor,'') like '%' + @txtSearch + '%') OR
                        (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (isNull([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (isNull(SubCategory,'') like '%' + @txtSearch + '%') OR
                        (isNull(Activity,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubActivity,'') like '%' + @txtSearch + '%') OR
                        (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (isNull(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
                        (isNull(BrandDesc,'') like '%' + @txtSearch + '%') OR
                        (isNull(SKUDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
                        (isNull(ReconStatus,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (isNull(SubactivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
			END
        SET @recordsFiltered = (SELECT isnull(count( [PromoNumber]),0) FROM #temp_result
        WHERE
            (isNull(Entity,'') like '%' + @txtSearch + '%') OR
            (isNull(Distributor,'') like '%' + @txtSearch + '%') OR
            (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(BudgetSource,'') like '%' + @txtSearch + '%') OR
            (isNull([PromoNumber],'') like '%' + @txtSearch + '%') OR
            (isNull(SubCategory,'') like '%' + @txtSearch + '%') OR
            (isNull(Activity,'') like '%' + @txtSearch + '%') OR
            (isNull(SubActivity,'') like '%' + @txtSearch + '%') OR
            (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
            (isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(AccountDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(LastStatus,'') like '%' + @txtSearch + '%') OR
            (isNull(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
            (isNull(BrandDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SKUDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
            (isNull(ReconStatus,'') like '%' + @txtSearch + '%') OR
            (isNull(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
            (isNull(SubactivityType,'') like '%' + @txtSearch + '%')
        )

        SELECT isnull(count(PromoNumber),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        drop table #temp_result
        /**********************
            end pagination
         **********************/
    /****************************/
    DROP TABLE IF EXISTS #temp_promo
    DROP TABLE IF EXISTS #tmp_channel
    DROP TABLE IF EXISTS #tmp_subchannel
    DROP TABLE IF EXISTS #tmp_region
    DROP TABLE IF EXISTS #tmp_account
    DROP TABLE IF EXISTS #tmp_subaccount
    DROP TABLE IF EXISTS #tmp_brand
    DROP TABLE IF EXISTS #tmp_sku
    DROP TABLE IF EXISTS #tmp_dn
    /****************************/

END
GO
