USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_creation_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_list_creation_p]
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@cancelstatus bit
	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS

--DECLARE 
--	 @periode varchar(4)
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@cancelstatus bit
--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--	SET @periode ='2023'
--	SET @entity = 0
--	SET @distributor =0
--	SET @budgetparent=0
--	SET @channel = 0
--	SET @userid ='kamsat'
--	SET @cancelstatus = 0
--	SET @start =0
--	SET @length =-1
--	SET @filter =''
--	SET @txtSearch ='/dc'

BEGIN
    DECLARE @recordsFiltered int;
    drop table if exists #temp_result;
--	SET @order = IIF(@order is null,'RefId', @order)
	SET @start = @start * @length

DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				)
						
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);

			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	SELECT DISTINCT
		p.LongDesc Entity
		,d.LongDesc Distributor
		,p.LongDesc PrincipalDesc
		,pr.Id PromoId
		,pr.RefId
		,IIF(cat.ShortDesc='DC','---', pr.ActivityDesc)ActivityDesc
		,IIF(pr.IsCancel=1
				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
				,IIF(ISNULL(pr.isClose, 0) = 1, 'Promo Closed by ' + CAST(pr.CloseBy as varchar) + '-' + CAST(uclose.username as varchar) + ' on ' + CAST(pr.CloseOn as varchar)
				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
					,pr.LastStatus + '-' + uapprover.username
				))
			)LastStatus 
		,c.LongDesc Allocation 
		,IIF(ISNULL(pr.isclose,0)=0, pr.Investment, ISNULL(dn.TotalPaid, 0)) Investment --issue #839
		,ISNULL(pr.IsCancelLocked,0) IsCancelLocked
		,IIF(cat.ShortDesc='DC','---', pr.TsCoding)TsCoding
		,pr.CancelNotes 
		,pr.initiator_notes
		,pr.InvestmentTypeId 
		,tit.RefId InvestmentTypeRefId
		,tit.LongDesc InvestmentTypeDesc	  
	   ,ISNULL(pr.IsClose, 0) isClose
	    ,pr.investment investmentBfrClose --issue #839
	    ,iif(ISNULL(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance --issue #839			    	   
	    ,pr.StartPromo --issue #864
	  	,pr.EndPromo --issue #864
    INTO #temp_result
	from @temp a
	INNER JOIN tbtrx_promo pr on a.BudgetId=pr.AllocationId
    INNER JOIN tbtrx_allocation c on a.BudgetId=c.Id 
	INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id
	LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
	LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
	LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	INNER JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	INNER JOIN tbset_user uo on uo.Id=usr.UserId
	INNER JOIN tbset_user uf on uf.Id=usr.UserId
	INNER JOIN tbset_user upr on upr.Id=pr.Approver
	LEFT JOIN tbset_user ucancel on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
	LEFT JOIN tbset_user uapprover on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
	LEFT JOIN tbset_user uclose on pr.closeby = uclose.id
	LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
	LEFT JOIN
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	LEFT JOIN (
	    SELECT 
		    a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) - SUM(ISNULL(tc.dpp,0)) TotalClaim
	    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0))- SUM(ISNULL(tc.dpp,0)) TotalPaid	    
		FROM tbtrx_debetnote a
        LEFT JOIN (
        	SELECT dnid
        		, SUM(ISNULL(dpp, 0)) dpp
        		, SUM(iif(ISNULL(laststatus, '')='confirm_paid',ISNULL(dpp, 0),0)) TotalPaid
        	FROM tbtrx_creditnote
        	WHERE ISNULL(iscancel, 0) = 0
        	GROUP BY dnid
        ) tc ON a.id = tc.dnid		
		WHERE ISNULL(a.IsCancel, 0) = 0
        AND ISNULL(a.IsDNPromo,0)=1
        GROUP BY a.PromoId
	) dn on pr.id=dn.promoid
			
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
	AND ISNULL(IsCancel,0)=@cancelstatus
----	AND ISNULL(pr.StatusApprovalCodeRecon, '')=''
	AND ISNULL(pr.StatusApprovalCode, '')<>'TP2'
	ORDER BY pr.Id

    /**********************
        start pagination
     **********************/

    IF @length = -1
    BEGIN
        IF @txtSearch is null
        BEGIN
            SELECT * FROM #temp_result
            ORDER BY PromoId ASC
        END
        ELSE
        BEGIN
            SELECT * FROM #temp_result
            WHERE
                (ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(PrincipalDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(RefId,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(Allocation,'') like '%' + ISNULL(@txtSearch, '') + '%')
            ORDER BY PromoId ASC
        END        
    END
    ELSE
    BEGIN
        IF @txtSearch is null
        BEGIN
            SELECT * FROM #temp_result
            ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
        END
        ELSE
        BEGIN
            SELECT * FROM #temp_result
            WHERE
                (ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(PrincipalDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(RefId,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(Allocation,'') like '%' + ISNULL(@txtSearch, '') + '%')
            ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
        END        
    END

    SET @recordsFiltered = 
		(
		SELECT ISNULL(count(PromoId),0) 
		FROM #temp_result
        WHERE 
                (ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(PrincipalDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(RefId,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
                (ISNULL(Allocation,'') like '%' + ISNULL(@txtSearch, '') + '%')
		)

	SELECT ISNULL(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
    
    drop table #temp_result
    /**********************
        end pagination
     **********************/
END
GO
