USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_recalculate_balance]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_recalculate_balance] --868
@id int
AS
BEGIN
    exec ip_recalculate_balance_by_id @id
    select  AllocationId, SubCategoryId, InitialAmount, RemainingAmount, UseAmount, RemainingAmount
    from tbtrx_allocation_balance where AllocationId=@id
END
GO
