

/****** Object:  StoredProcedure [dbo].[ip_promo_select_withskp]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_select_withskp] --9,''
	@Id				INT,
	@LongDesc		VARCHAR(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE
--	@Id				INT,
--	@LongDesc		VARCHAR(50)

--	SET @Id			=48812
--	SET @LongDesc	=''

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @CategoryShortDesc varchar(20)
	SELECT @CategoryShortDesc=A.ShortDesc FROM tbmst_category A INNER JOIN tbtrx_promo B ON A.Id=B.CategoryId WHERE B.Id=@Id

	DECLARE @ALO AS TABLE
		(
			PromoId INT NULL,
			AllocationId INT NULL
		)

	INSERT INTO @ALO(PromoId,AllocationId)
	SELECT p.Id,a.Id
		FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
		INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
		WHERE ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0 
			AND (ISNULL(@Id,'')='' OR p.Id=@Id)
			AND isnull(p.period, '') < 2025

	INSERT INTO @ALO(PromoId,AllocationId)
	select pr.id, pr.allocationid
	FROM tbtrx_promo pr
	WHERE isnull(pr.period, '') = 2025
		AND pr.id = @Id

/* Budget 2025 */
DECLARE @budgetamount float, @remainingbudget float
DECLARE 
	@period int
	, @categoryid int
	, @subcategoryid int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @distributorId int
	, @groupbrandid int
	, @subactivitytypeid int
	, @activityid int
	, @subactivityid int

declare @spPromoBudgetGet as table (
	period int
	, categoryid int 
	, CategoryDesc varchar(255)
	, subcategoryid int 
	, SubCategoryDesc varchar(255)
	, channelid int 
	, ChannelDesc varchar(255)
	, subchannelid int 
	, SubChannelDesc varchar(255)
	, accountid int 
	, AccountDesc varchar(255)
	, subaccountid int 
	, SubAccountDesc varchar(255)
	, distributorId int 
	, Distributor varchar(255)
	, groupbrandid int 
	, Brand varchar(255)
	, activityid int 
	, ActivityDesc varchar(255)
	, budgetname varchar(255)
	, budgetamount float
	, TotCost float
	, RemainingBudget float
	, subactivityid int 
	--, subactivityDesc varchar(255)
	)

SELECT
	@period=a.period
	,@categoryid=a.categoryid
	,@subcategoryid=a.subcategoryid
	,@channelid=b.channelid
	,@subchannelid=c.subchannelid
	,@accountid=d.accountid
	,@subaccountid=e.subaccountid
	,@distributorId=a.distributorId
	,@groupbrandid=a.groupbrandid
	,@subactivitytypeid=g.subactivitytypeid
	,@activityid=a.activityid
	,@subactivityid=a.subactivityid
from tbtrx_promo a
			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
			INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
			INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
			INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
			INNER join vw_activity_active g on a.SubActivityId=g.SubActivityId
where a.id=@Id

BEGIN TRY  
	insert into @spPromoBudgetGet (period,categoryid,CategoryDesc,subcategoryid,SubCategoryDesc,channelid,ChannelDesc,subchannelid,SubChannelDesc,accountid,AccountDesc,subaccountid,SubAccountDesc,distributorId,Distributor,groupbrandid,Brand,activityid,ActivityDesc,budgetname,budgetamount,TotCost,RemainingBudget,subactivityid)
	EXEC ip_promo_budget_get
		@period
		,@categoryid
		,@subcategoryid
		,@channelid
		,@subchannelid
		,@accountid
		,@subaccountid
		,@distributorId
		,@groupbrandid
		,@subactivitytypeid
		,@activityid
		,@subactivityid
END TRY  
BEGIN CATCH  

END CATCH;  


select @remainingbudget = ISNULL(RemainingBudget,0), @budgetamount = isnull(budgetamount, 0) from @spPromoBudgetGet

	SELECT
		pr.PromoPlanId
		,pr.RefId
		,pr.Id
		,IIF(cat.ShortDesc='DC', '---', pl.RefId) PromoPlanRefId
		,pr.CreateOn
		,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
		,pr.CreateBy
		,IIF(cat.ShortDesc='DC', '---', pr.ActivityDesc) ActivityDesc	
		,pr.Investment
		,PREV.Investment PrevInvestment
		,IIF(cat.ShortDesc='DC', 0, pr.NormalSales) NormalSales
		,IIF(cat.ShortDesc='DC', 0, PREV.NormalSales) PrevNormalSales
		,IIF(cat.ShortDesc='DC', 0, pr.IncrSales) IncrSales
		,IIF(cat.ShortDesc='DC', 0, PREV.IncrSales) PrevIncrSales
		,IIF(cat.ShortDesc='DC', 0, PREV.TotSales) PrevTotSales
		,IIF(cat.ShortDesc='DC', 0, pr.Roi) Roi
		,IIF(cat.ShortDesc='DC', 0, PREV.Roi) PrevRoi
		,IIF(cat.ShortDesc='DC', 0, pr.CostRatio) CostRatio
		,IIF(cat.ShortDesc='DC', 0, PREV.CostRatio) PrevCostRatio
		,pr.Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.StartPromo
		,pr.EndPromo	
		,ALLOC.Id AllocationId
		,ALLOC.Periode
		,IIF(isnull(pr.period, '') < 2025, ALLOC.RefId, '---') AllocationRefId
		--,ALLOC.RefId AllocationRefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		--,d.LongDesc DistributorName
		,iif(isnull(pr.period, '') < 2025, d.LongDesc, md.longdesc) DistributorName
		,m.PrincipalId
		--,p.LongDesc PrincipalName
		,iif(isnull(pr.period, '') < 2025, p.LongDesc, mp.longdesc) PrincipalName
		,ALLOC.OwnerId
		,uo.username BudgetOwner
		,ALLOC.FromOwnerId
		,uf.username FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,pr.SubCategoryId
		,pr.ActivityId
		,IIF(cat.ShortDesc='DC', '---', ta.LongDesc) ActivityLongDesc 
		,pr.SubactivityId
		,ts.LongDesc as SubActivityLongDesc
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		,IIF(isnull(pr.period, '') < 2025,  ALLOC.BudgetAmount, @budgetamount) BudgetAmount
		,IIF(isnull(pr.period, '') < 2025, bal.remainingamount, @remainingbudget) as RemainingBudget
		,IIF(isnull(pr.period, '') < 2025, ALLOC.LongDesc, dbo.getBudgetName(pr.allocationid)) AllocationDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
		,left(appr1.username, 11) UserApprover1
		,LastStatus1
		,ApprovalDate1
		,left(appr2.username, 11) UserApprover2
		,LastStatus2
		,ApprovalDate2
		,left(appr3.username, 11) UserApprover3
		,LastStatus3
		,ApprovalDate3
		,left(appr4.username, 11) UserApprover4
		,LastStatus4
		,ApprovalDate4
		,left(appr5.username, 11) UserApprover5
		,LastStatus5
		,ApprovalDate5
		,attr.RegionDesc
		,attr.ChannelDesc
		,attr.AccountDesc
		,attr.BrandDesc
		,attr.ProductDesc
		,@utcDate123 + 90 CutOffClaim
		,isnull(CancelReason,'') CancelReason
		,pr.Notes
		,pr.ApprovalNotes
		,pr.initiator_notes
		,IIF(cat.ShortDesc='DC', '---', pr.TsCoding)TsCoding
		,sctg.LongDesc SubCategoryDesc
		FROM tbtrx_promo pr	WITH (NOLOCK)
		INNER JOIN tbmst_subcategory sctg WITH (NOLOCK) on pr.SubCategoryId = sctg.id 
		INNER JOIN tbmst_category cat WITH (NOLOCK) ON sctg.CategoryId=cat.Id
		LEFT JOIN tbtrx_promo_planning pl WITH (NOLOCK) ON pr.PromoPlanId=pl.Id
		LEFT JOIN [dbo].[tbtrx_allocation] AS ALLOC WITH (NOLOCK) ON ALLOC.Id=pr.AllocationId
		LEFT JOIN tbtrx_allocation_balance as bal WITH (NOLOCK) ON bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
		LEFT JOIN tbtrx_budgetmaster m WITH (NOLOCK) ON ALLOC.BudgetMasterId=m.Id
		INNER JOIN tbmst_activity ta WITH (NOLOCK) ON pr.ActivityId = ta.Id 
		INNER JOIN tbmst_subactivity ts WITH (NOLOCK) ON pr.SubActivityId = ts.id 
		LEFT JOIN tbmst_distributor d WITH (NOLOCK) ON m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p WITH (NOLOCK) ON m.PrincipalId=p.Id
		LEFT JOIN tbset_user uo WITH (NOLOCK) ON uo.Id=ALLOC.OwnerId
		LEFT JOIN tbset_user uf WITH (NOLOCK) ON uf.Id=ALLOC.FromOwnerId
		INNER JOIN tbmst_category ctg WITH (NOLOCK) ON ctg.Id=pr.CategoryId
		LEFT JOIN vw_promo_approval_his his ON pr.Id=his.PromoId 
		LEFT JOIN vw_promo_attribute attr ON pr.Id=attr.PromoId
		LEFT JOIN tbset_user appr1 WITH (NOLOCK) ON appr1.Id=his.UserApprover1
		LEFT JOIN tbset_user appr2 WITH (NOLOCK) ON appr2.Id=his.UserApprover2
		LEFT JOIN tbset_user appr3 WITH (NOLOCK) ON appr3.Id=his.UserApprover3
		LEFT JOIN tbset_user appr4 WITH (NOLOCK) ON appr4.Id=his.UserApprover4
		LEFT JOIN tbset_user appr5 WITH (NOLOCK) ON appr5.Id=his.UserApprover5
		LEFT JOIN tbmst_principal mp on pr.entityid = mp.id
		LEFT JOIN tbmst_distributor md on pr.distributorid = md.id
		LEFT JOIN
			(
				SELECT 
					ParentId
					,TotInvest Investment 
					,NormalSales
					,IncrSales
					,TotSales
					,Roi
					,CostRatio
					FROM tbtrx_promo_request_approval_recon WITH (NOLOCK)
					WHERE ParentId IN (SELECT PromoId FROM @ALO)
					ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
			) PREV ON pr.Id=PREV.ParentId
		LEFT JOIN tbtrx_promo_cancel_request cr WITH (NOLOCK) ON pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
		WHERE ISNULL(ALLOC.IsDelete,0)=0 
			AND pr.Id IN (SELECT PromoId FROM @ALO)

		IF @CategoryShortDesc='DC' 
			BEGIN
				/*REGION*****************/
				SELECT 0 flag, 0 RegionPromoId,'---' longDesc
				/*CHANNEL*****************/
				SELECT 1 flag, 0 ChannelPromoId,STRING_AGG(longDesc,', ')longDesc FROM tbtrx_promo_channel A WITH (NOLOCK)
				INNER JOIN tbmst_channel B WITH (NOLOCK) ON A.ChannelId=B.Id
				WHERE A.PromoId=@Id GROUP BY  A.ChannelId				
				/*SUB CHANNEL*****************/
				SELECT 0 flag, 0 SubChannelPromoId,'---' longDesc
				/*ACCOUNT*****************/
				SELECT 0 flag, 0 AccountPromoId,'---' longDesc
				/*SUB ACCOUNT*****************/
				SELECT 0 flag, 0 SubAccountPromoId,'---' longDesc
				
				/*BRAND*****************/		
				SELECT 
					CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
					pr.PromoId as BrandPromoId, MR.Id as id, MR.LongDesc as longDesc
					FROM [dbo].[tbmst_brand]  AS MR  WITH (NOLOCK)
					LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R WITH (NOLOCK) ON MR.Id=R.BrandId
					LEFT JOIN (select * from tbtrx_promo_brand WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
					WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				
				/*PRODUCT*****************/
				SELECT 0 flag, 0 ProductPromoId,'---' longDesc							
				/*ACTIVITY*****************/
				SELECT 0 flag, 0 ActivityId,'---' longDesc					
				/*SUB ACTIVITY*****************/
				SELECT
					a.AllocationId AS SubActivityAllocId
					,ctg.SubActivityId AS id
					,ctg.SubActivityDesc AS longDesc
					FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
					INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
					and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 
					WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null
			END
		ELSE
			BEGIN
				/*REGION*****************/
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_region]  AS MR WITH (NOLOCK)
						LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R WITH (NOLOCK) ON MR.Id=R.RegionId
						LEFT JOIN (select * from tbtrx_promo_region WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.RegionId=pr.RegionId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid RegionPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_region tpr
					INNER JOIN tbmst_region mr on tpr.RegionId = mr.id and tpr.promoid = @Id
				END
		
				/*CHANNEL*****************/
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_channel]  AS MR WITH (NOLOCK)
						LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R WITH (NOLOCK) ON MR.Id=R.ChannelId
						LEFT JOIN (select * from tbtrx_promo_channel WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ChannelId=pr.ChannelId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid ChannelPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_channel tpr
					INNER JOIN tbmst_channel mr on tpr.ChannelId = mr.id and tpr.promoid = @Id
				END

				/*SUB CHANNEL*****************/
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_subchannel]  AS MR WITH (NOLOCK)
						LEFT JOIN  [dbo].[tbtrx_allocation_subchannel] AS R WITH (NOLOCK) ON MR.Id=R.SubChannelId
						LEFT JOIN (select * from tbtrx_promo_subchannel WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubChannelId=pr.SubChannelId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid SubChannelPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_subchannel tpr
					INNER JOIN tbmst_subchannel mr on tpr.SubChannelId = mr.id and tpr.promoid = @Id
				END
		
				/*ACCOUNT*****************/
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_account]  AS MR WITH (NOLOCK)
						LEFT JOIN  [dbo].[tbtrx_allocation_account] AS R WITH (NOLOCK) ON MR.Id=R.AccountId
						INNER JOIN (select * from tbtrx_promo_account WITH (NOLOCK)  WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.AccountId=pr.AccountId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid AccountPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_account tpr
					INNER JOIN tbmst_account mr on tpr.AccountId = mr.id and tpr.promoid = @Id
				END
		
				/*SUB ACCOUNT*****************/
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_subaccount]  AS MR WITH (NOLOCK)
						INNER JOIN tbtrx_promo_account AS prsa WITH (NOLOCK) ON MR.AccountId=prsa.AccountId and prsa.promoid IN (SELECT PromoId FROM @ALO)
						LEFT JOIN  [dbo].[tbtrx_allocation_subaccount] AS R WITH (NOLOCK) ON MR.Id=R.SubAccountId
						LEFT JOIN (select * from tbtrx_promo_subaccount WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubAccountId=pr.SubAccountId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid SubAccountPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_subaccount tpr
					INNER JOIN tbmst_subaccount mr on tpr.SubAccountId = mr.id and tpr.promoid = @Id
				END

				/*BRAND*****************/		
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as BrandPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_brand]  AS MR WITH (NOLOCK)
						LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R WITH (NOLOCK) ON MR.Id=R.BrandId
						LEFT JOIN (select * from tbtrx_promo_brand  WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO)
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid BrandPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_brand tpr
					INNER JOIN tbmst_brand mr on tpr.brandid = mr.id and tpr.promoid = @Id
				END
					
				/*PRODUCT*****************/
				IF ISNULL(@period, '') < 2025
				BEGIN
					SELECT 
						CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
						pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
						FROM [dbo].[tbmst_product]  AS MR WITH (NOLOCK)
						LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R WITH (NOLOCK) ON MR.Id=R.ProductId
						LEFT JOIN (select * from tbtrx_promo_product WITH (NOLOCK) WHERE promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ProductId=pr.ProductId
						WHERE R.AllocationId IN (SELECT AllocationId FROM @ALO) and R.BrandId IN (SELECT BrandId FROM [dbo].[tbtrx_promo_brand] WHERE promoid IN (SELECT PromoId FROM @ALO))
						ORDER BY MR.SeqNo
				END
				ELSE
				BEGIN
					SELECT
						1 flag
						, tpr.promoid ProductPromoId
						, mr.id
						, mr.longDesc
					FROM tbtrx_promo_product tpr
					INNER JOIN tbmst_product mr on tpr.productid = mr.id and tpr.promoid = @Id
				END
		
				/*ACTIVITY*****************/
					SELECT DISTINCT
						a.AllocationId AS ActivityAllocId
						,ctg.ActivityId AS id
						,ctg.ActivityDesc AS longDesc
						FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
						INNER JOIN vw_activity ctg WITH (NOLOCK) ON a.SubCategoryId=ctg.SubCategoryId
						and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 		
						WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null

				/*SUB ACTIVITY*****************/
				SELECT
					a.AllocationId AS SubActivityAllocId
					,ctg.SubActivityId AS id
					,ctg.SubActivityDesc AS longDesc
					FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
					INNER JOIN vw_activity ctg WITH (NOLOCK) ON a.SubCategoryId=ctg.SubCategoryId
					and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 
					WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null
			END

		/*****************
		File attach
		*****************/
		SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK) WHERE PromoId IN (SELECT PromoId FROM @ALO) order by DocLink


		/***************
		MASTER STATUS APPROVAL
		***************/
		SELECT StatusCode,StatusDesc FROM tbmst_master_status WITH (NOLOCK) WHERE StatusType='TPP' AND IsActive=1 order by StatusSeq
		
        /***************
		SKP Validate
		***************/
		SELECT 
			PromoId,
			SKPDraftAvail,
			SKPDraftAvailOn,
			SKPDraftAvailBy,
			SKPDraftAvailBfrAct60,
			SKPDraftAvailBfrAct60On,
			SKPDraftAvailBfrAct60By,
			PeriodMatch,
			PeriodMatchOn,
			PeriodMatchBy,
			InvestmentMatch,
			InvestmentMatchOn,
			InvestmentMatchBy,
			MechanismMatch,
			MechanismMatchOn,
			MechanismMatchBy,
			SKPSign7,
			SKPSign7On,
			SKPSign7By,
			EntityDraft,
			EntityDraftOn,
			EntityDraftBy,
			BrandDraft,
			BrandDraftOn,
			BrandDraftBy,
			PeriodDraft,
			PeriodDraftOn,
			PeriodDraftBy,
			ActivityDescDraft,
			ActivityDescDraftOn,
			ActivityDescDraftBy,
			MechanismDraft,
			MechanismDraftOn,
			MechanismDraftBy,
			InvestmentDraft,
			InvestmentDraftOn,
			InvestmentDraftBy,
			Entity,
			EntityOn,
			EntityBy,
			Brand,
			BrandOn,
			BrandBy,
			ActivityDesc,
			ActivityDescOn,
			ActivityDescBy,
			DistributorDraft,
			DistributorDraftOn,
			DistributorDraftBy,
			Distributor,
			DistributorOn,
			DistributorBy,
			ChannelDraft,
			ChannelDraftOn,
			ChannelDraftBy,
			Channel,
			ChannelOn,
			ChannelBy,
			StoreNameDraft,
			StoreNameDraftOn,
			StoreNameDraftBy,
			StoreName,
			StoreNameOn,
			StoreNameBy,
            skpstatus,
            skp_notes		
			FROM tbtrx_promo_skp_validate WITH (NOLOCK)
			WHERE PromoId=@Id

		SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
			FROM [dbo].tbtrx_promo_mechanism tppm  WITH (NOLOCK)
			WHERE promoid =@Id
		
		SELECT TotInvest Investment 
			,NormalSales
			,IncrSales
			,TotSales
			,Roi
			,CostRatio
			from tbtrx_promo_request_approval_recon WITH (NOLOCK)
			WHERE ParentId IN (SELECT PromoId FROM @ALO)
			ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY

		SELECT distinct 
			CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
			pr.PromoId brandGroupPromoId, tbg.id, tbg.longDesc, pr.brandGroupId
		FROM tbmst_brand tb WITH (NOLOCK)
		INNER JOIN tbmst_brand_group tbg WITH (NOLOCK) on tb.BrandGroupId = tbg.id
		LEFT JOIN tbtrx_allocation_brand tab WITH (NOLOCK) on tb.Id = tab.BrandId 
		LEFT JOIN (
			select tpb.promoId, tbg.id BrandGroupId from tbtrx_promo_brand tpb  WITH (NOLOCK) 
			INNER JOIN tbmst_brand tb WITH (NOLOCK) ON tpb.brandid=tb.id
			INNER JOIN tbmst_brand_group tbg  WITH (NOLOCK) ON tb.BrandGroupId=tbg.id
			where promoid IN (SELECT PromoId FROM @ALO)
		) pr ON tbg.id = pr.BrandGroupId
		WHERE tab.allocationid=(SELECT AllocationId FROM @ALO)
END

GO
