USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_create_region]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_create_region]
	-- Add the parameters for the stored procedure here
	@REFID		VARCHAR(36),
	@LONGDESC	VARCHAR(50),
	@SHORTDESC	VARCHAR(10),
	@USERID		VARCHAR(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS(SELECT TOP 1 RefId FROM [dbo].[tbmst_region] WITH(NOLOCK) WHERE RefId=@REFID)
	BEGIN
		DECLARE @ERROR VARCHAR(100)='DATA <' + @REFID + '> IS AVAILABLE.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	INSERT INTO [dbo].[tbmst_region]
		--(RefId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,IsDelete)
		(LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,IsDelete)
	SELECT
		--@REFID AS RefId,
		@LONGDESC AS LongDesc,
		@SHORTDESC AS ShortDesc,
		CAST(1 AS BIT) AS IsActive,
		GETDATE() AS CreateOn,
		@USERID AS CreateBy,
		CAST(0 AS BIT) AS IsDelete

END
GO
