

/****** Object:  StoredProcedure [dbo].[ip_matrix_promo_report_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_matrix_promo_report_p] --'2023',22,0,0,'kamsat', 0, -1, null, 'EntityId', 'asc'
 @periode varchar(4)
,@category int = 0
,@entity int
,@distributor int
,@userid varchar(255)

,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)
AS

--DECLARE
-- @periode varchar(4)
--,@category int = 0
--,@entity int
--,@distributor int
--,@userid varchar(255)

--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @periode ='2024'
--SET @category =3
--SET @entity = 0
--SET @distributor =0
--SET @userid='0'

--SET @start =0
--SET @length =-1
--SET @txtSearch ='[6]'
--SET @order ='EntityId'
--SET @sort ='asc'

BEGIN
	drop table if exists #temp_matrix_id
	drop table if exists #temp_matrix_approver
    drop table if exists #temp_matrix;
    drop table if exists #temp_matrix_lastupdate;


    DECLARE @recordsFiltered int;	
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(ISNULL(@order,'')='','EntityId', @order)
	SET @start = @start * @length

	select Id, ModifiedOn into #temp_matrix_lastupdate from
		(
			select Id, CreateOn ModifiedOn from tbset_matrix_promo_approval 
			union all
			select Id, ModifiedOn from tbset_matrix_promo_approval where ModifiedOn is not null
			union all
			select distinct parentId, CreateOn ModifiedOn  from tbset_matrix_promo_approver 
			union all
			select distinct parentId, ModifiedOn  from tbset_matrix_promo_approver where ModifiedOn is not null
		)a 

	select id, ModifiedOn, CreateOn into #temp_matrix_id from tbset_matrix_promo_approval a
	where 
	ISNULL(Periode,'')=''
	AND 
	IIF(@entity=0,'',a.principalid) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',a.distributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@userid='0','',a.[Initiator]) =IIF(@userid='0','',@userid)
	AND IIF(@category=0,'',a.categoryId) =IIF(@category=0,'',@category)

	select a.ParentId, STRING_AGG(concat('[',a.seqapproval,']','[',a.Approver,']'),' ,') 
	WITHIN GROUP (ORDER BY a.seqapproval ASC) 
	as Approver 
		into #temp_matrix_approver
			from tbset_matrix_promo_approver a
			inner join #temp_matrix_id b on a.ParentId=b.Id
				where a.SeqApproval<6 
					group by a.ParentId

	select 
		--Periode
		--,
		a.[Initiator]
		,b.Id EntityId
		,b.LongDesc Entity
		,c.Id DistributorId
		,c.LongDesc Distributor
		,d.Id SubActivityTypeId
		,d.LongDesc SubActivityType
		,e.Id ChannelId
		,ISNULL(e.LongDesc, 'ALL Channel') Channel
		,IIF(x.shortdesc='DC',0, isnull(f.Id,0)) [SubChannelId]
		,IIF(x.shortdesc='DC','---', isnull(f.LongDesc,'All Sub Channel')) [SubChannel]
		,a.MinInvestment
		,a.MaxInvestment
		,appr.Approver MatrixApprover
		,tmlu.ModifiedOn  --appr.ModifiedOn 
		,x.id categoryId
		,x.shortDesc categorySHortDesc
		,x.longDesc categoryLongDesc
	into #temp_matrix
	from tbset_matrix_promo_approval a
	INNER JOIN 
		(
			select id, max(ModifiedOn)ModifiedOn from #temp_matrix_lastupdate group by Id
		)tmlu on a.Id=tmlu.Id
	inner join #temp_matrix_id tmi on a.Id=tmi.Id
	inner join tbmst_principal b on a.PrincipalId=b.Id
	inner join tbmst_distributor c on a.DistributorId=c.Id
	INNER JOIN tbmst_category x ON a.CategoryId=x.Id
	inner join tbmst_subactivity_type d on a.SubActivityType=d.Id
	LEFT join tbmst_channel e on a.ChannelId=e.Id
	left join tbmst_subchannel f on a.SubChannelId=f.Id
	left join #temp_matrix_approver appr on a.Id = appr.parentId	

    /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(Entity),0) FROM #temp_matrix
		WHERE 
			(Entity like '%' + isnull(@txtSearch,'') + '%') OR 
			(Distributor like '%' + isnull(@txtSearch,'') + '%') OR
			(Initiator like '%' + isnull(@txtSearch,'') + '%') OR
			(Channel like '%' + isnull(@txtSearch,'') + '%') OR
			(SubChannel like '%' + isnull(@txtSearch,'') + '%') OR
			(SubActivityType like '%' + isnull(@txtSearch,'') + '%') OR
			(MinInvestment like '%' + isnull(@txtSearch,'') + '%') OR
			(MaxInvestment like '%' + isnull(@txtSearch,'') + '%') OR
			(MatrixApprover like '%' + isnull(@txtSearch,'') + '%') OR
			(ModifiedOn like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(Entity),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_matrix
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_matrix			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_matrix
				WHERE 
					(Entity like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(Distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Initiator like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MinInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MaxInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MatrixApprover like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ModifiedOn like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_matrix
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_matrix
				WHERE 
					(Entity like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(Distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Initiator like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MinInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MaxInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MatrixApprover like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ModifiedOn like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    /**********************
        end pagination
     **********************/				
	drop table if exists #temp_matrix_id
	drop table if exists #temp_matrix_approver
    drop table if exists #temp_matrix;
    drop table if exists #temp_matrix_lastupdate;
	
END
GO
