

/****** Object:  StoredProcedure [dbo].[ip_dn_invoice_detail]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_invoice_detail] --1,'claimho1'
@id int

AS

--declare @id int
--set @id=94

BEGIN

SELECT 
a.Id,
a.RefId,
a.DistributorId,
md.companyName distributorDesc,
a.EntityId,
CONCAT(mp.shortdesc, ' - ', mp.longdesc) entityDesc,
convert(varchar(10),a.CreateOn,120) InvoiceDate,
[Desc] InvoiceDesc,
DPPAmount DPP,
PPN,
InvoiceAmount,
a.TaxLevel,
CONCAT(tmm.materialnumber, ' - ', tmm.description) taxLevelDesc
,a.dnPeriod
,a.categoryId
,tc.longdesc categoryDesc
FROM tbtrx_invoice_header a
inner join tbmst_distributor md on a.distributorid = md.id
inner join tbmst_principal mp on a.entityid=mp.id
inner join tbset_mapping_material tmm on a.taxlevel = tmm.materialnumber AND a.EntityId=tmm.EntityId
left join tbmst_category tc on a.categoryid = tc.id
WHERE a.id=@id

SELECT 
c.Id
,c.RefId
,e.Id PromoId
,e.RefId PromoRefId
,c.ActivityDesc
,c.dpp
,c.ppnAmt 
,c.TotalClaim
,c.TotalPaid 
,c.LastStatus
,c.IsFreeze
,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
,IsOverBudget
,c.TaxLevel 
,c.FPNumber
,c.FPDate
FROM tbtrx_invoice_header a
inner join tbtrx_invoice_detail b on a.Id=b.ParentId and isnull(b.IsCancel,0)=0
inner join tbtrx_debetnote c on b.DnId=c.Id and isnull(b.IsCancel,0)=0
inner join tbmst_subaccount d on c.AccountId=d.Id 
left join tbtrx_promo e on c.PromoId=e.Id
where a.id=@id


END
GO
