USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_data_recon_DC]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_promo_data_recon_DC] --9,''
	@Id				INT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE @Id INT
--SET @Id=3694

	BEGIN
		/*************************
		Category selection
		***************************/
		DECLARE @category as varchar(5)
		SET @category = (SELECT ShortDesc FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) 


		/*******************************/
		SELECT
				pr.refId
				,pr.id
				,pr.period
				,pr.distributorId
				,d.LongDesc distributorLongDesc
				,d.ShortDesc distributorSortDesc
				,pr.entityId
				,p.LongDesc entityLongDesc
				,p.ShortDesc entityShortDesc
				,pr.groupBrandId
				,mbg.LongDesc groupBrandLongDesc
				,pr.categoryId
				,ctg.LongDesc categoryLongDesc
				,ctg.ShortDesc categoryShortDesc
				,pr.subCategoryId
				,vwa.SubCategoryDesc subCategoryLongDesc
				,pr.activityId
				,vwa.ActivityDesc activityLongDesc
				,pr.subActivityId
				,vwa.SubActivityDesc subActivityLongDesc

				,prc.channelId, prc.channelDesc
				,0 subChannelId, '' subChannelDesc
				,0 accountId, '' accountDesc
				,0 subAccountId, '' subAccountDesc
				
				,pr.activityDesc
				,pr.startPromo
				,pr.endPromo
				,pr.budgetMasterId 
				,'' budgetName
				, 0 remainingBudget
				, pc.baseline
				, pc.upLift
				, pc.totalSales
				, pc.salesContribution
				, pc.storesCoverage
				, pc.redemptionRate
				--,CAST(pc.cr AS DECIMAL(10, 2)) cr
				,CONVERT(DECIMAL(10, 2), pc.cr) cr
				--, pc.cr
				, pc.cost

				,pr.notes
				,pr.approvalNotes
				,pr.isClose
				,pr.initiator_notes
				,pr.investmentTypeId 
				,tit.refId investmentTypeRefId
				,tit.LongDesc investmentTypeDesc
				,pr.late_submission_day
				,pr.investment investmentBfrClose --issue #839
				,pr.lastStatus
				,pr.statusApprovalCode
				,pr.statusApproval
				,pr.isLocked
				,pr.createOn
				,pr.createBy
				,pr.createdEmail
				,pr.modifiedOn
				,pr.modifiedBy
				,pr.modifiedEmail
				,pr.modifReason
				,pr.IsDelete
				,pr.deleteOn
				,pr.deleteBy
				,pr.deleteEmail
				,isnull(pr.isCancel, 0) isCancel
				,pr.cancelOn
				,pr.cancelBy
				,pr.cancelByEmail
				,pr.isCancelLocked
				,isnull(pr.IsClose, 0) isClose
				,pr.closeOn
				,pr.closeBy
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendBackNotes
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendBackNotesDate
				,ts.subActivityTypeId
				,td.Invoiced actualDnClaim

				/*-- history prev promo calculator --*/
				, isnull(pr_calc_bfr.baseline, 0) baselineBfr
				, isnull(pr_calc_bfr.uplift, 0) upliftBfr
				, isnull(pr_calc_bfr.totalsales, 0) totalSalesBfr
				, isnull(pr_calc_bfr.salescontribution, 0) salesContibutionBfr
				, isnull(pr_calc_bfr.storescoverage, 0) storesCoverageBfr
				, isnull(pr_calc_bfr.redemptionrate, 0) redemptionRateBfr
				, CONVERT(DECIMAL(10, 2), isnull(pr_calc_bfr.cr, 0)) crBfr
				, isnull(pr_calc_bfr.cost, 0) costBfr
				/*-- history prev promo calculator --*/
			FROM tbtrx_promo pr	
			INNER JOIN tbtrx_promo_calculator pc on pr.Id=pc.PromoId and pr.Id=@Id
			INNER JOIN vw_activity vwa ON pr.SubActivityId = vwa.SubActivityId
			--INNER JOIN tbmst_activity ta  on pr.ActivityId = ta.Id
			INNER JOIN tbmst_subactivity ts  on pr.SubActivityId = ts.id
			inner join tbmst_distributor d  on pr.DistributorId=d.Id
			inner join tbmst_principal p  on pr.EntityId=p.Id
			inner join tbset_user ucreateby ON pr.createby = ucreateby.id 
			inner join tbmst_category ctg  on ctg.Id=pr.CategoryId 
			--inner join tbmst_subcategory sctg  on pr.SubCategoryId = sctg.id 
			INNER JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
			INNER JOIN (
				SELECT a.promoId, a.channelId, b.LongDesc channelDesc
					FROM tbtrx_promo_channel a
					INNER JOIN tbmst_channel b on a.ChannelId=b.Id AND PromoId=@Id
				)prc ON pr.Id=prc.promoid
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
			left join (
				SELECT td.promoid, sum(iif(td.vatexpired=1,td.DPP+td.ppnamt,td.DPP))as Invoiced
					,SUM(iif(vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)) TotalClaim
	    			,SUM(iif(td.laststatus='confirm_paid',(iif(vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) TotalPaid
				FROM tbtrx_debetnote td WITH(NOLOCK) 
				WHERE isnull(td.IsCancel, 0)=0
				GROUP BY td.promoid 
			) td on pr.id=td.promoid		
			/******************************************
			history prev promo calculator
			*******************************************/
			left join (
				select id, min(parentid) parentid
				from tbhis_promo
				where isnull(reconciled, 0) = 1
				group by id
			) his on pr.id = his.id
			left join tbhis_promo_calculator pr_calc_bfr on his.parentid = pr_calc_bfr.parentid and his.id = pr_calc_bfr.PromoId
			/*****************************************************************************************************/

				/*****************
				REGION
				*****************/
				SELECT a.regionId, b.LongDesc regionDesc
				FROM tbtrx_promo_region a
				INNER JOIN tbmst_region b on a.RegionId=b.Id AND PromoId=@Id

				/*****************
				SKU
				*****************/
				SELECT a.productId skuId, b.LongDesc skuDesc
				FROM tbtrx_promo_product a
				INNER JOIN tbmst_product b on a.ProductId=b.Id AND PromoId=@Id
								/*****************
				File attach
				*****************/
				SELECT promoId, [fileName], docLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId =@Id order by DocLink

				/***************
				MASTER STATUS APPROVAL
				***************/
				SELECT statusCode,statusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
				/***************
				MECHANISM
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					,baseline, uplift ,totalSales ,salesContribution ,storesCoverage ,redemptionRate, CONVERT(DECIMAL(10, 2), cr) cr ,cost
					FROM [dbo].tbtrx_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id
					WHERE promoid =@Id
	END

GO
