

/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_process_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_matrix_approval_process_update]
@processId int
AS
DECLARE 
@utcDate123 DATETIME

SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

UPDATE tbset_matrix_approval_process
SET isFinished=1
WHERE Id=@processId

END

GO
