USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_baseline_one_baseline_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_baseline_one_baseline_get]
	@p_promoid INT
	,@p_period INT
	,@p_date DATE --creation date for plan/promo
	,@p_type INT --plan/promo=1, recon=2
	,@p_distributor INT
	,@p_region AttributeType READONLY
	,@p_channel INT
	,@p_subchannel INT
	,@p_account INT
	,@p_subaccount INT
	,@p_product AttributeType  READONLY
	,@p_subcategory INT
	,@p_startpromo DATE
	,@p_endpromo DATE
	,@p_subactivity INT
	,@p_groupbrand INT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/************************************************************************************/
--DECLARE 
--	@p_promoid INT
--	,@p_period INT
--	,@p_date DATE --creation date for plan/promo
--	,@p_type INT --plan/promo=1, recon=2
--	,@p_distributor INT
--	,@p_region AttributeType 
--	,@p_channel INT
--	,@p_subchannel INT
--	,@p_account INT
--	,@p_subaccount INT
--	,@p_product AttributeType  
--	,@p_subcategory INT
--	,@p_startpromo DATE
--	,@p_endpromo DATE
--	,@p_subactivity INT
--	,@p_groupbrand INT

--	SET @p_promoid=0
--	SET @p_period=2025
--	SET @p_date=@utcDate123
--	SET @p_type=1
--	SET @p_distributor=2
--	SET @p_subcategory=30
--	SET @p_startpromo ='2025-03-20'
--	SET @p_endpromo ='2025-04-30'
--	SET @p_subactivity =778
--	SET @p_channel = 3
--	SET @p_subchannel = 3
--	SET @p_account = 106
--	SET @p_subaccount = 309
--	--SET @p_channel = 6
--	--SET @p_subchannel = 9
--	--SET @p_account = 45
--	--SET @p_subaccount = 116
--	--SET @p_groupbrand = 2
--	INSERT INTO @p_product(id) values (194)
/*
pid:0; period:2025; dtime:2024-11-24; type:1; distributor:2; region:2,3,4,5,6,7,8,9,10,11; 
channel:6; subchannel:9; account:45; subaccount:116; 
brand:4; sku:186; subcategory:30; 
startpromo:2025-01-01; endpromo:2025-12-31; subactivity:778
*/

--select * from tbtrx_promo a inner join tbmst_main_activity_dtl b on a.SubActivityId = b.subactivityid inner join tbmst_main_activity c on b.mainactivityid = c.id and c.longDesc = 'Non Running Rate - Cosmo' and a.Period=2025

--select 
--	@p_promoid			= a.Id
--	,@p_period			= a.Period
--	,@p_date			= @utcDate123
--	,@p_type			= 1
--	,@p_distributor		= a.DistributorId
--	,@p_subcategory		= a.SubCategoryId
--	,@p_startpromo		= a.StartPromo
--	,@p_endpromo		= a.EndPromo
--	,@p_subactivity		= a.SubActivityId
--	,@p_subaccount		= b.SubAccountId
--	,@p_groupbrand		= a.groupbrandid
--from tbtrx_promo a 
--	inner join tbtrx_promo_subaccount b on a.id=b.promoid
--	inner join tbset_map_subactivity_salesamount c on a.SubActivityId=c.SubActivityID
--where a.id=5186

--	--INSERT INTO @p_region(id) values (2),(3),(4),(5),(6),(7),(8),(9),(10)
--	INSERT INTO @p_product(id)
--		SELECT ProductId FROM tbtrx_promo_product WHERE PromoId =5186

--/************************************************************************************/

BEGIN

	DECLARE
		@p_product1 AttributeType  
		, @p_brand AttributeType
		, @Period int
		, @distributorid nvarchar(50)
		, @channel varchar(100)
		, @ap3m decimal(38,12)
		, @ap6m decimal(38,12)
		, @ap9m decimal(38,12)
		, @ap12m decimal(38,12)
		, @baseline_old decimal(38,12)
		, @baseline_new decimal(38,12)
		, @baseline_final decimal(38,12)
		, @baseline_tot decimal(38,12)
		, @my1 varchar(6)
		, @my3 varchar(6)
		, @my6 varchar(6)
		, @my9 varchar(6)
		, @my12 varchar(6)
		, @anomaly_pct decimal(38,12)
		, @startpromo varchar(6)
		, @endpromo varchar(6)
		, @salesamount varchar(5)
		, @actual_sales decimal(38,12)
		, @p_region_all AttributeType
		, @p_subaccount1 int

	DECLARE @Temp_Blitz table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)
	DECLARE @Temp_Blitz_TS table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)
	DECLARE @Temp_Blitz_TS_AS table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)
---------------------------
	DECLARE @Temp_Blitz_Offtake table
	(
		[distributorId] [varchar](50) NULL,
		[distributorName] [varchar](50) NULL,
		[channelId] [varchar](255) NULL,
		[channelName] [varchar](255) NULL,
		[subChannelId] [varchar](255) NULL,
		[subChannelDesc] [varchar](255) NULL,
		[accountId] [varchar](255) NULL,
		[accountName] [varchar](255) NULL,
		[subAccountId] [varchar](255) NULL,
		[subAccountDesc] [varchar](255) NULL,
		[brandGroupName] [varchar](255) NULL,
		[productStageName] [varchar](255) NULL,
		[productSkuId] [varchar](255) NULL,
		[subBrandName] [varchar](255) NULL,
		[productSizeName] [varchar](255) NULL,
		--[totalSsTon] [float] NULL,
		--[totalTsTon] [float] NULL,
		--[totalTsTonExtrapolated] [float] NULL,
		[oneBaselineValue] [float] NULL
	)
	DECLARE @Temp_Blitz_Offtake_TS table
	(
		[distributorId] [varchar](50) NULL,
		[distributorName] [varchar](50) NULL,
		[channelId] [varchar](255) NULL,
		[channelName] [varchar](255) NULL,
		[subChannelId] [varchar](255) NULL,
		[subChannelDesc] [varchar](255) NULL,
		[accountId] [varchar](255) NULL,
		[accountName] [varchar](255) NULL,
		[subAccountId] [varchar](255) NULL,
		[subAccountDesc] [varchar](255) NULL,
		[brandGroupName] [varchar](255) NULL,
		[productStageName] [varchar](255) NULL,
		[productSkuId] [varchar](255) NULL,
		[subBrandName] [varchar](255) NULL,
		[productSizeName] [varchar](255) NULL,
		--[totalSsTon] [float] NULL,
		--[totalTsTon] [float] NULL,
		--[totalTsTonExtrapolated] [float] NULL,
		[oneBaselineValue] [float] NULL
	)
	DECLARE @Temp_Blitz_Offtake_TS_AS table
	(
		[distributorId] [varchar](50) NULL,
		[distributorName] [varchar](50) NULL,
		[channelId] [varchar](255) NULL,
		[channelName] [varchar](255) NULL,
		[subChannelId] [varchar](255) NULL,
		[subChannelDesc] [varchar](255) NULL,
		[accountId] [varchar](255) NULL,
		[accountName] [varchar](255) NULL,
		[subAccountId] [varchar](255) NULL,
		[subAccountDesc] [varchar](255) NULL,
		[brandGroupName] [varchar](255) NULL,
		[productStageName] [varchar](255) NULL,
		[productSkuId] [varchar](255) NULL,
		[subBrandName] [varchar](255) NULL,
		[productSizeName] [varchar](255) NULL,
		--[totalSsTon] [float] NULL,
		--[totalTsTon] [float] NULL,
		--[totalTsTonExtrapolated] [float] NULL,
		[oneBaselineValue] [float] NULL
	)

	INSERT INTO @p_brand(id)
		SELECT DISTINCT brandId FROM vw_sku_active a 
			INNER JOIN @p_product b ON a.skuId=b.Id 
	
	INSERT INTO @p_region_all (Id) SELECT Id FROM @p_region
	IF (SELECT COUNT(*) FROM @p_region a INNER JOIN tbmst_region b ON a.Id = b.Id AND b.LongDesc LIKE '%All%') > 0
		BEGIN
			DELETE FROM @p_region_all
			INSERT INTO @p_region_all (Id) SELECT Id FROM tbmst_region WHERE ISNULL(IsDelete,0)=0
		END

	SELECT
		@my1=CONVERT(varchar(6),dateadd(month,-1,@p_date),112)
		, @my3=CONVERT(varchar(6),dateadd(month,-3,@p_date),112)
		, @my6=CONVERT(varchar(6),dateadd(month,-6,@p_date),112)
		, @my9=CONVERT(varchar(6),dateadd(month,-9,@p_date),112)
		, @my12=CONVERT(varchar(6),dateadd(month,-12,@p_date),112)

	SET @period=@p_period
	SET @distributorid=(SELECT sapcode FROM tbmst_distributor WHERE id=@p_distributor)
	SET @startpromo=CONVERT(varchar(6),@p_startpromo,112)
	SET @endpromo=CONVERT(varchar(6),@p_endpromo,112)
	SET @channel=(SELECT a.longdesc FROM tbmst_channel a WHERE a.id=@p_channel )
	SET @salesamount=(SELECT salesamount FROM tbset_map_subactivity_salesamount WHERE SubActivityID=@p_subactivity)

	SET @p_subaccount1=@p_subaccount

	--INSERT INTO @p_product1 SELECT * FROM @p_product
	--IF (SELECT subaccountdesc FROM vw_account WHERE SubAccountId=@p_subaccount) = 'Indomaret'
	--	BEGIN
	--		SELECT @p_subaccount1 = (SELECT SubAccountId FROM vw_account where ChannelId=@p_channel and SubAccountDesc like 'KLIK%INDOMARET')
	--		DELETE a
	--			FROM @p_product1 a
	--			INNER JOIN (
	--				select a.id from tbmst_product a
	--				where a.LongDesc in (
	--					'Bebelac GUM 3 1800',
	--					'Bebelac GUM 4 1800',
	--					'Nutrilon Royal GUM 3 1800',
	--					'Nutrilon Royal GUM 4 1800',
	--					'Bebelac GUM 3 3000',
	--					'Bebelac GUM 4 3000',
	--					'Bebelove 1 620')
	--				) p ON a.Id = p.Id
	--	END

	IF @salesamount='SS'
		BEGIN
			INSERT INTO @Temp_Blitz_Offtake
				SELECT [distributorId], [distributorName], [channelId], [channelName], [subChannelId], [subChannelDesc], [accountId], [accountName], [subAccountId], [subAccountDesc], [brandGroupName], [productStageName], [productSkuId], [subBrandName], [productSizeName], ISNULL([oneBaselineValue],0) FROM tbtrx_blitz_offtake_one_baseline a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a WHERE a.subaccountid = @p_subaccount --OR a.subaccountid = @p_subaccount1
					)b ON a.subAccountId=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
					)d ON a.productSkuId=d.sapcode
				WHERE a.distributorId = @distributorid
		END

	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_Offtake_TS
				SELECT 
					a.[distributorId], a.[distributorName]
					, a.[channelId], a.[channelName], a.[subChannelId], a.[subChannelDesc], a.[accountId], a.[accountName], a.[subAccountId], a.[subAccountDesc]
					, a.[brandGroupName], a.[productStageName], a.[productSkuId], a.[subBrandName], a.[productSizeName]
					, ISNULL(a.[oneBaselineValue],0) 
				FROM tbtrx_blitz_offtake_one_baseline a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
					)b ON a.subaccountid=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
					)d ON a.productSkuId=d.sapcode
				WHERE a.distributorid = '99999999'

			INSERT INTO @Temp_Blitz_Offtake
				SELECT
					a.[distributorId], a.[distributorName], a.[channelId], a.[channelName], a.[subChannelId], a.[subChannelDesc], a.[accountId], a.[accountName], a.[subAccountId], a.[subAccountDesc], a.[brandGroupName], a.[productStageName], a.[productSkuId], a.[subBrandName], a.[productSizeName], ISNULL(a.[oneBaselineValue],0)
				FROM @Temp_Blitz_Offtake_TS a
				INNER JOIN (
						SELECT DISTINCT e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code FROM tbset_map_brand_subacc_dist_ts a
							INNER JOIN tbmst_product b ON a.brandid=b.BrandId
							INNER JOIN tbset_map_subaccount_sap c ON a.subaccountid=c.subaccountid --OR a.subaccountid = @p_subaccount1
							INNER JOIN tbset_map_product_sap d ON b.id=d.ProductId
							INNER JOIN tbmst_distributor e ON a.distributorid=e.id
							WHERE e.SAPCode=@distributorid
					)b ON a.subaccountid=b.subaccountcode and a.productSkuId=b.product_code

			INSERT INTO @Temp_Blitz_Offtake
				SELECT a.[distributorId], a.[distributorName], a.[channelId], a.[channelName], a.[subChannelId], a.[subChannelDesc], a.[accountId], a.[accountName], a.[subAccountId], a.[subAccountDesc], a.[brandGroupName], a.[productStageName], a.[productSkuId], a.[subBrandName], a.[productSizeName], ISNULL(a.[oneBaselineValue] ,0)
				FROM tbtrx_blitz_offtake_one_baseline a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
						)b ON a.subaccountid=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
						)d ON a.productSkuId=d.sapcode
				WHERE
					a.distributorId =@distributorid
					AND d.ProductId not in (
					SELECT a.ProductId FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz_Offtake b ON a.SAPCode=b.productSkuId)

		END

SELECT @baseline_tot = SUM(oneBaselineValue) from @Temp_Blitz_Offtake
SET @baseline_tot = IIF(ISNULL(@baseline_tot,0)<=0,999999,@baseline_tot)

	--SELECT @baseline_tot = SUM(avgSumValue) FROM (
	--	SELECT 
	--		skuDesc
	--		, AVG(sumvalue)avgSumValue
	--		FROM (
	--			SELECT 
	--				a.distributorId, a.distributorName
	--				, d.skuDesc
	--				, SUM(a.oneBaselineValue) sumvalue
	--				FROM @Temp_Blitz_offtake a
	--					INNER JOIN (
	--						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
	--							)b ON a.subAccountId=b.sapcode
	--					INNER JOIN (
	--						SELECT DISTINCT sapcode, ProductId, y.LongDesc skuDesc FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
	--							inner join tbmst_product y on a.Id=y.Id
	--							)d ON a.productSkuId=d.sapcode
	--					GROUP BY
	--						a.distributorId, a.distributorName,d.skuDesc
	--			)AVGSKU GROUP BY 	skuDesc
	--)BASELINE

-----------------------------------

/*Actual Sales****************************************************************/
	SET @my1=CONVERT(varchar(6),@p_endpromo,112)
	SET @my12=CONVERT(varchar(6),@p_startpromo,112)

	IF @salesamount='SS'
		BEGIN
			INSERT INTO @Temp_Blitz
				SELECT [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym FROM tbtrx_blitz a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
					)b ON a.subaccountcode=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
					)c ON a.Region_Code=c.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
					)d ON a.Product_Code=d.sapcode
				WHERE a.SOURCE='SS' AND a.distributor_id = @distributorid AND CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 AND CONCAT(year,right(CONCAT('0',month_int),2))>=@my12
		END
	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_TS_AS
				SELECT
					[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym
					from tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
						)b ON a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
						)c ON a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
						)d ON a.Product_Code=d.sapcode
					WHERE a.SOURCE='TS' AND a.distributor_id = 99999999 AND CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 AND CONCAT(year,right(CONCAT('0',month_int),2))>=@my12

			INSERT INTO @Temp_Blitz
				SELECT
						a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
					FROM @Temp_Blitz_TS_AS a
					INNER JOIN (
							SELECT DISTINCT e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code FROM tbset_map_brand_subacc_dist_ts a
								INNER JOIN tbmst_product b ON a.brandid=b.BrandId
								INNER JOIN tbset_map_subaccount_sap c ON a.subaccountid=c.subaccountid --OR a.subaccountid = @p_subaccount1
								INNER JOIN tbset_map_product_sap d ON b.id=d.ProductId
								INNER JOIN tbmst_distributor e ON a.distributorid=e.id
								where e.SAPCode=@distributorid
						)b ON a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code

			INSERT INTO @Temp_Blitz
				SELECT a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],CONCAT(a.year,right(CONCAT('0',a.month_int),2)) FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
						)b ON a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
						)c ON a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
						)d ON a.Product_Code=d.sapcode
				WHERE
					a.SOURCE='SS'
					and CONCAT(a.year,right(CONCAT('0',a.month_int),2))>=@my12 and CONCAT(a.year,right(CONCAT('0',a.month_int),2))<=@my1
					and a.distributor_id =@distributorid
					and productid not in (
					SELECT productid FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz b ON a.SAPCode=b.Product_Code)
		END

	SET @actual_sales = (
			SELECT sum(SS_RBP) FROM @Temp_Blitz
				WHERE
					ym>=left(CONVERT(varchar, @p_startpromo, 112),6)
					and ym<=left(CONVERT(varchar, @p_endpromo, 112),6)
				)

	IF DATEDIFF(day, @p_startpromo, @p_endpromo)<=14
		BEGIN
			IF datediff(month,@p_startpromo, @p_endpromo)+1>1
				BEGIN
					SET  @actual_sales= @actual_sales*0.7/2
				END
			ELSE
				BEGIN
					SET  @actual_sales= @actual_sales*0.7
				END
		END

/****************************************************************Actual Sales*/


/*Result****************************************************************/
/* Untuk mencover btn get baseeline di UI promo Creation */
	SELECT cast(format(round(ISNULL(@baseline_tot,0),0),'#')as bigint) as baseline_sales, cast(format(round(isnull(@actual_sales,0),0),'#')as bigint) as actual_sales

/*Log****************************************************************/
	INSERT INTO tblog_baseline (dtime,pload,baseline,actualsales)
		SELECT @utcDate123,
		CONCAT(
		'pid:', @p_promoid
		,'; period:',@p_period
		,'; dtime:',@p_date 
		,'; type:',@p_type 
		,'; distributor:',@p_distributor 
		,'; region:',(SELECT string_agg(id,',') FROM @p_region_all)
		,'; channel:',@p_channel
		,'; subchannel:',@p_subchannel
		,'; account:',@p_account
		,'; subaccount:',@p_subaccount
		,'; brand:',(SELECT string_agg(id,',') FROM @p_brand AttributeType  )
		,'; sku:',(SELECT string_agg(id,',') FROM @p_product AttributeType  )
		,'; subcategory:',@p_subcategory 
		,'; startpromo:',@p_startpromo 
		,'; endpromo:',@p_endpromo 
		,'; subactivity:',@p_subactivity )
		,@baseline_tot,@actual_sales



END
GO
