

/****** Object:  StoredProcedure [dbo].[ip_refresh_matrix_used_by_promoid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_refresh_matrix_used_by_promoid]
@matrixid int
AS

/*TEST PURPOSE**********************************/
--DECLARE @matrixid int

/*Tes C1 */
--Tes RC
--SET @matrixid=12106
----select * from tbtrx_promo where RefId='SGM00013/AL25/RC'
----select * from tbset_matrix_promo_approval where Id=@matrixid
----select * from tbset_matrix_promo_approver where ParentId=@matrixid
--update tbset_matrix_promo_approver set Approver='gkamalfa' where id=52829

--Tes DC
--SET @matrixid=12124
----select * from tbtrx_promo where RefId='SGM00001/AL25/DC'
----select * from tbset_matrix_promo_approval where Id=@matrixid
----select * from tbset_matrix_promo_approver where ParentId=@matrixid
--update tbset_matrix_promo_approver set Approver='SF HEAD' where id=63579

/*Tes C2 */
--Tes RC
--SET @matrixid=8880
------select * from tbtrx_promo where RefId='SGM00006/AL25/RC'
------select * from tbset_matrix_promo_approval where Id=@matrixid
------select * from tbset_matrix_promo_approver where ParentId=@matrixid
--update tbset_matrix_promo_approver set Approver='gkamhyper' where id=51843

--Tes DC
--SET @matrixid=12603
----select * from tbtrx_promo where RefId='NIS00005/AL25/DC'
----select * from tbset_matrix_promo_approval where Id=@matrixid
----select * from tbset_matrix_promo_approver where ParentId=@matrixid
--update tbset_matrix_promo_approver set Approver='SF HEAD' where id=69598

/**********************************TEST PURPOSE*/

--GOTO HELL

DROP TABLE IF EXISTS #tmppromo_c1_RC
DROP TABLE IF EXISTS #tmppromo_c1_RC_2025
DROP TABLE IF EXISTS #tmppromo_c1_DC_2025
DROP TABLE IF EXISTS #tmppromo_c1
DROP TABLE IF EXISTS #tmppromo_bysubchannel_C1
DROP TABLE IF EXISTS #tmppromo_allsubchannel_C1
DROP TABLE IF EXISTS #tmppromo_c1_RC_match
DROP TABLE IF EXISTS #tmppromo_c1_DC_match
DROP TABLE IF EXISTS #tmppromoid_C1

DROP TABLE IF EXISTS #tmppromo_c2_RC
DROP TABLE IF EXISTS #tmppromo_c2_RC_2025
DROP TABLE IF EXISTS #tmppromo_c2_DC_2025
DROP TABLE IF EXISTS #tmppromo_c2
DROP TABLE IF EXISTS #tmppromo_bysubchannel_C2
DROP TABLE IF EXISTS #tmppromo_allsubchannel_C2
DROP TABLE IF EXISTS #tmppromo_c2_RC_match
DROP TABLE IF EXISTS #tmppromo_c2_DC_match
DROP TABLE IF EXISTS #tmppromoid_C2



BEGIN
	DECLARE @utcDate123 DATETIME
	DECLARE @requestid int
	Declare @promoid int

	SET @utcDate123 = dbo.getUTCDateConversion()

/*CYCLE-1*************************************************************************************************************/

/*LIST OF PROMOID WAITING APPROVAL*/
	/*Promo periode 2021 - 2024*/
	select 
			a.id, a.CreateBy, a.Investment
			,b.PrincipalId, b.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, b.CategoryId
			, STRING_AGG(g.UserApprover,',')WITHIN GROUP (ORDER BY g.sequence asc)UserApprover
		INTO #tmppromo_c1_RC
		from tbtrx_promo a 
		INNER JOIN tbtrx_budgetmaster b on a.BudgetMasterId=b.id
		INNER JOIN tbmst_subactivity c on a.SubActivityId=c.Id
		INNER JOIN tbtrx_promo_channel d on a.Id=d.PromoId
		INNER JOIN tbtrx_promo_subchannel e on d.PromoId=e.PromoId
		INNER JOIN tbtrx_promo_request_approval f ON e.PromoId=f.ParentId AND ISNULL(f.IsCancel,0)=0
		INNER JOIN tbtrx_promo_approval g ON f.Id=g.RequestId
		WHERE StatusApprovalCode<>'TP2' AND ISNULL(a.IsCancel,0)=0 AND ISNULL(a.IsClose,0)=0 AND b.Periode>=2021
		GROUP BY a.id, a.CreateBy, a.Investment, b.PrincipalId, b.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, b.CategoryId

	SELECT * 
	INTO #tmppromo_c1
	FROM (
				select 
					p.id, p.CreateBy, p.Investment
					,bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, pc.ChannelId, '' SubChannelId, bm.CategoryId
					, STRING_AGG(pa.UserApprover,',')WITHIN GROUP (ORDER BY pa.sequence asc)  UserApprover
				from tbtrx_promo p 
				INNER JOIN tbtrx_budgetmaster bm on p.BudgetMasterId=bm.id
				INNER JOIN tbmst_subactivity msa on p.SubActivityId=msa.Id
				INNER JOIN (
					Select PromoId from tbtrx_promo_channel group by PromoId having count(channelid)=1
					)c1 ON p.Id = c1.PromoId
				INNER JOIN tbtrx_promo_channel pc on c1.PromoId=pc.PromoId
				INNER JOIN tbtrx_promo_request_approval pra ON pc.PromoId=pra.ParentId AND ISNULL(pra.IsCancel,0)=0
				INNER JOIN tbtrx_promo_approval pa ON pra.Id=pa.RequestId
				WHERE StatusApprovalCode<>'TP2' AND ISNULL(p.IsCancel,0)=0 AND ISNULL(p.IsClose,0)=0 AND bm.Periode>=2021 
				GROUP BY p.id, p.CreateBy, p.Investment, bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, pc.ChannelId, bm.CategoryId
			UNION ALL
			select 
					p.id, p.CreateBy, p.Investment
					,bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, mc.Id ChannelId, '' SubChannelId, bm.CategoryId
					, STRING_AGG(pa.UserApprover,',')WITHIN GROUP (ORDER BY pa.sequence asc)  UserApprover
				from tbtrx_promo p 
				INNER JOIN tbtrx_budgetmaster bm on p.BudgetMasterId=bm.id
				INNER JOIN tbmst_subactivity msa on p.SubActivityId=msa.Id
				INNER JOIN (
					Select PromoId from tbtrx_promo_channel pc
					group by PromoId having count(channelid)=2
					)c1 ON p.Id = c1.PromoId
				INNER JOIN tbtrx_promo_request_approval pra ON C1.PromoId=pra.ParentId AND ISNULL(pra.IsCancel,0)=0
				INNER JOIN tbtrx_promo_approval pa ON pra.Id=pa.RequestId
				CROSS JOIN tbmst_channel mc 
				WHERE StatusApprovalCode<>'TP2' AND ISNULL(p.IsCancel,0)=0 AND ISNULL(p.IsClose,0)=0 AND bm.Periode>=2021 AND mc.LongDesc='All Channel'
				GROUP BY p.id, p.CreateBy, p.Investment, bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, mc.Id, bm.CategoryId
		)x

	/*Promo periode 2025 keatas*/
	/* Promo RC*/
	SELECT 
		a.id, a.CreateBy, a.Investment
		,a.EntityId PrincipalId, a.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, a.CategoryId
		, STRING_AGG(g.UserApprover,',')WITHIN GROUP (ORDER BY g.sequence asc)UserApprover		
	INTO #tmppromo_c1_RC_2025
	FROM tbtrx_promo a 
	INNER JOIN tbmst_category mc ON a.CategoryId = mc.id
	INNER JOIN tbmst_subactivity c ON a.SubActivityId=c.Id
	INNER JOIN tbtrx_promo_channel d ON a.Id=d.PromoId
	INNER JOIN tbtrx_promo_subchannel e ON d.PromoId=e.PromoId
	INNER JOIN tbtrx_promo_request_approval f ON e.PromoId=f.ParentId AND ISNULL(f.IsCancel,0)=0
	INNER JOIN tbtrx_promo_approval g ON f.Id=g.RequestId
	WHERE StatusApprovalCode<>'TP2' AND ISNULL(a.IsCancel,0)=0 AND ISNULL(a.IsClose,0)=0 AND a.Period>=2025 AND mc.ShortDesc<> 'DC'
	GROUP BY a.id, a.CreateBy, a.Investment, a.EntityId , a.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, a.CategoryId

	/* Promo DC*/
	SELECT 
		a.id, a.CreateBy, a.Investment
		,a.EntityId PrincipalId, a.DistributorId, c.SubActivityTypeId, d.ChannelId, '' SubChannelId, a.CategoryId
		, STRING_AGG(g.UserApprover,',')WITHIN GROUP (ORDER BY g.sequence asc)UserApprover
	INTO #tmppromo_c1_DC_2025
	FROM tbtrx_promo a 
	INNER JOIN tbmst_category mc ON a.CategoryId = mc.id
	INNER JOIN tbmst_subactivity c ON a.SubActivityId=c.Id
	INNER JOIN tbtrx_promo_channel d ON a.Id=d.PromoId
	INNER JOIN tbtrx_promo_request_approval f ON a.Id=f.ParentId AND ISNULL(f.IsCancel,0)=0
	INNER JOIN tbtrx_promo_approval g ON f.Id=g.RequestId
	WHERE StatusApprovalCode<>'TP2' AND ISNULL(a.IsCancel,0)=0 AND ISNULL(a.IsClose,0)=0 AND a.Period>=2025 AND mc.ShortDesc='DC'
	GROUP BY a.id, a.CreateBy, a.Investment, a.EntityId , a.DistributorId, c.SubActivityTypeId, d.ChannelId, a.CategoryId

SELECT TOP 1 * INTO #tmppromoid_c1 FROM #tmppromo_c1
DELETE FROM #tmppromoid_c1

/*LIST OF PROMOID MATCHED CRITERIA*/
	SELECT a.* INTO #tmppromo_bysubchannel_c1 
		FROM #tmppromo_c1_RC a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND b.SubChannelId=a.SubChannelId
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		INNER JOIN tbmst_category CAT ON a.CategoryId=CAT.Id  AND CAT.ShortDesc='RC'
		WHERE a.UserApprover<>b.Approver

	SELECT a.* INTO #tmppromo_allsubchannel_c1 
		FROM #tmppromo_c1 a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',') WITHIN GROUP (ORDER BY b.seqapproval asc)Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		WHERE a.UserApprover<>b.Approver
			AND a.Id NOT IN (SELECT Id FROM #tmppromo_bysubchannel_c1)

/*LIST OF PROMOID MATCHED CRITERIA >= 2025*/
/*RC*/
	SELECT a.* INTO #tmppromo_c1_RC_match
		FROM #tmppromo_c1_RC_2025 a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND IIF(b.SubChannelId=0,1,b.SubChannelId)=IIF(b.SubChannelId=0,1,a.SubChannelId)
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		INNER JOIN tbmst_category CAT ON a.CategoryId=CAT.Id  AND CAT.ShortDesc='RC'
		WHERE a.UserApprover<>b.Approver

/*LIST OF PROMOID MATCHED CRITERIA >= 2025*/
/*DC*/
	SELECT a.* INTO #tmppromo_c1_DC_match
		FROM #tmppromo_c1_DC_2025 a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		INNER JOIN tbmst_category CAT ON a.CategoryId=CAT.Id  AND CAT.ShortDesc='DC'
		WHERE a.UserApprover<>b.Approver

		INSERT INTO #tmppromoid_c1 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_bysubchannel_c1
		INSERT INTO #tmppromoid_c1 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_allsubchannel_c1
		INSERT INTO #tmppromoid_c1 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_c1_RC_match
		INSERT INTO #tmppromoid_c1 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_c1_DC_match

/*UPDATE MATRIX USED BY PROMOID*/
/*CURSOR */

		DECLARE cursor_product CURSOR
		FOR SELECT id FROM #tmppromoid_c1;

		OPEN cursor_product;

		FETCH NEXT FROM cursor_product INTO @promoid

		WHILE @@FETCH_STATUS = 0
			BEGIN
				/*CHECK CHANGES ON PROMOID*****************************/
				--SELECT a.Id, a.RefId, a.LastStatus, a.StatusApproval, a.StatusApprovalCode, a.Approver, a.ApproverName, b.Id, c.* FROM tbtrx_promo a
				--INNER JOIN tbtrx_promo_request_approval b ON a.Id=b.ParentId AND ISNULL(b.IsCancel,0)=0
				--INNER JOIN tbtrx_promo_approval c ON b.Id=c.RequestId
				--WHERE a.Id=@promoid
				/*****************************CHECK CHANGES ON PROMOID*/
				SET @requestid = (select id from tbtrx_promo_request_approval WHERE ParentId=@PromoId AND ISNULL(IsCancel,0)=0)

				UPDATE [tbtrx_promo_request_approval]
					SET IsCancel=1
						WHERE ParentId=@PromoId
							AND ISNULL(IsCancel,0)=0

				/****************************
				BUAT REQUEST APPROVAL BARU
				INSERT KE TABLE REQUEST APPROVAL
				****************************/
				INSERT INTO [tbtrx_promo_request_approval] (
					[ParentId], [RefId], [PromoPlanId], [AllocationId], [AllocationRefId], [CategoryShortDesc], [PrincipalShortDesc]
					, [BudgetMasterId], [CategoryId], [SubCategoryId], [ActivityId], [SubActivityId], [ActivityDesc], [StartPromo], [EndPromo]
					, [Mechanisme1], [Mechanisme2], [Mechanisme3], [Mechanisme4], [Notes], [Roi], [CostRatio], [NormalSales]
					, [IncrSales], [TotSales], [TotInvest], [Status], [CreateOn], [CreateBy], [ModifiedOn], [ModifiedBy]
					, [IsCancel], [PrevRoi], [PrevCostRatio], [PrevNormalSales], [PrevIncrSales], [PrevTotInvest], [PrevTotSales], [TsCoding], [RequestEmail]
					)
					SELECT 
							[ParentId], [RefId], [PromoPlanId], [AllocationId], [AllocationRefId], [CategoryShortDesc], [PrincipalShortDesc]
							, [BudgetMasterId], [CategoryId], [SubCategoryId], [ActivityId], [SubActivityId], [ActivityDesc], [StartPromo], [EndPromo]
							, [Mechanisme1], [Mechanisme2], [Mechanisme3], [Mechanisme4], [Notes], [Roi], [CostRatio], [NormalSales]
							, [IncrSales], [TotSales], [TotInvest], [Status], [CreateOn], [CreateBy], [ModifiedOn], [ModifiedBy]
							, 0, [PrevRoi], [PrevCostRatio], [PrevNormalSales], [PrevIncrSales], [PrevTotInvest], [PrevTotSales], [TsCoding], [RequestEmail]
						  FROM [tbtrx_promo_request_approval]
						  WHERE Id=@requestid AND ParentId=@PromoId

				/************************
				AMBIL ID REQUEST YANG BARU DI CREATE
				************************/
					SET @RequestId=(SELECT SCOPE_IDENTITY())

				/****************************
				INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
				****************************/
				INSERT INTO [dbo].[tbtrx_promo_approval]
					([RequestId], [Sequence], [UserApprover], [Status], [RequestDate], [ActionDate], [IsOnGoing], UserApproverName, UserApproverEmail)
					SELECT 
							@RequestId
							,SeqApproval
							,Approver
							,'TP1'
							,@utcDate123
							,@utcDate123
							,IIF(SeqApproval=1,1,0)
							,b.username
							,b.email
						FROM tbset_matrix_promo_approver a
						inner join tbset_user b on a.Approver=b.id
						where ParentId=@matrixId
				/***********************************/
	
				--UPDATE STATUS DI TABLE PROMO
				UPDATE tbtrx_promo
					SET
							StatusApprovalCode=tbmst_master_status.StatusCode
							,StatusApproval=tbmst_master_status.StatusDesc
							,Approver=tbtrx_promo_approval.UserApprover
							,ApproverName=tbtrx_promo_approval.UserApproverName
							,ApproveOn=tbtrx_promo_approval.ActionDate
							,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
							,matrixapprovalid = @matrixid
						from tbtrx_promo
						inner join tbtrx_promo_request_approval on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
						inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
						inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval.IsCancel=0
							and tbtrx_promo_approval.IsOnGoing=1
							AND RequestId=@requestid

				/*CHECK CHANGES ON PROMOID*****************************/
				--SELECT a.Id, a.RefId, a.LastStatus, a.StatusApproval, a.StatusApprovalCode, a.Approver, a.ApproverName, b.Id, c.* FROM tbtrx_promo a
				--INNER JOIN tbtrx_promo_request_approval b ON a.Id=b.ParentId AND ISNULL(b.IsCancel,0)=0
				--INNER JOIN tbtrx_promo_approval c ON b.Id=c.RequestId
				--WHERE a.Id=@promoid
				/*****************************CHECK CHANGES ON PROMOID*/

				FETCH NEXT FROM cursor_product INTO @promoid 
			END;
		CLOSE cursor_product;
		DEALLOCATE cursor_product;
						
						
/*CYCLE-2*************************************************************************************************************/

/*LIST OF PROMOID WAITING APPROVAL*/
	select 
			a.id, a.CreateBy, a.Investment
			,b.PrincipalId, b.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, b.CategoryId
			, STRING_AGG(g.UserApprover,',')WITHIN GROUP (ORDER BY g.sequence asc)UserApprover
		INTO #tmppromo_c2_RC
		from tbtrx_promo a 
		INNER JOIN tbtrx_budgetmaster b on a.BudgetMasterId=b.id
		INNER JOIN tbmst_subactivity c on a.SubActivityId=c.Id
		INNER JOIN tbtrx_promo_channel d on a.Id=d.PromoId
		INNER JOIN tbtrx_promo_subchannel e on d.PromoId=e.PromoId
		INNER JOIN tbtrx_promo_request_approval_recon f ON e.PromoId=f.ParentId AND ISNULL(f.IsCancel,0)=0
		INNER JOIN tbtrx_promo_approval_recon g ON f.Id=g.RequestId
		WHERE StatusApprovalCodeRecon<>'TP2' AND ISNULL(a.IsCancel,0)=0 AND ISNULL(a.IsClose,0)=0 AND b.Periode>=2021
		GROUP BY a.id, a.CreateBy, a.Investment, b.PrincipalId, b.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, b.CategoryId

	select * 
		INTO #tmppromo_c2
		from (
			select 
					p.id, p.CreateBy, p.Investment
					,bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, pc.ChannelId, '' SubChannelId, bm.CategoryId
					, STRING_AGG(pa.UserApprover,',')WITHIN GROUP (ORDER BY pa.sequence asc)  UserApprover
				from tbtrx_promo p 
				INNER JOIN tbtrx_budgetmaster bm on p.BudgetMasterId=bm.id
				INNER JOIN tbmst_subactivity msa on p.SubActivityId=msa.Id
				INNER JOIN (
					Select PromoId from tbtrx_promo_channel group by PromoId having count(channelid)=1
					)c1 ON p.Id = c1.PromoId
				INNER JOIN tbtrx_promo_channel pc on c1.PromoId=pc.PromoId
				INNER JOIN tbtrx_promo_request_approval_recon pra ON pc.PromoId=pra.ParentId AND ISNULL(pra.IsCancel,0)=0
				INNER JOIN tbtrx_promo_approval_recon pa ON pra.Id=pa.RequestId
				WHERE StatusApprovalCodeRecon<>'TP2' AND ISNULL(p.IsCancel,0)=0 AND ISNULL(p.IsClose,0)=0 AND bm.Periode>=2021 
				AND p.Id=3443
				GROUP BY p.id, p.CreateBy, p.Investment, bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, pc.ChannelId, bm.CategoryId
			UNION ALL
			select 
					p.id, p.CreateBy, p.Investment
					,bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, mc.Id ChannelId, '' SubChannelId, bm.CategoryId
					, STRING_AGG(pa.UserApprover,',')WITHIN GROUP (ORDER BY pa.sequence asc)  UserApprover
				from tbtrx_promo p 
				INNER JOIN tbtrx_budgetmaster bm on p.BudgetMasterId=bm.id
				INNER JOIN tbmst_subactivity msa on p.SubActivityId=msa.Id
				INNER JOIN (
					Select PromoId from tbtrx_promo_channel pc
					group by PromoId having count(channelid)=2
					)c1 ON p.Id = c1.PromoId
				INNER JOIN tbtrx_promo_request_approval_recon pra ON C1.PromoId=pra.ParentId AND ISNULL(pra.IsCancel,0)=0
				INNER JOIN tbtrx_promo_approval_recon pa ON pra.Id=pa.RequestId
				CROSS JOIN tbmst_channel mc 
				WHERE StatusApprovalCodeRecon<>'TP2' AND ISNULL(p.IsCancel,0)=0 AND ISNULL(p.IsClose,0)=0 AND bm.Periode>=2021 AND mc.LongDesc='All Channel'
				AND p.Id=3443
				GROUP BY p.id, p.CreateBy, p.Investment, bm.PrincipalId, bm.DistributorId, msa.SubActivityTypeId, mc.Id, bm.CategoryId
		)x

	/*Promo periode 2025 keatas Cycle 2*/
	/* Promo RC*/
	SELECT 
		a.id, a.CreateBy, a.Investment
		,a.EntityId PrincipalId, a.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, a.CategoryId
		, STRING_AGG(g.UserApprover,',')WITHIN GROUP (ORDER BY g.sequence asc)UserApprover		
	INTO #tmppromo_c2_RC_2025
	FROM tbtrx_promo a 
	INNER JOIN tbmst_category mc ON a.CategoryId = mc.id
	INNER JOIN tbmst_subactivity c ON a.SubActivityId=c.Id
	INNER JOIN tbtrx_promo_channel d ON a.Id=d.PromoId
	INNER JOIN tbtrx_promo_subchannel e ON d.PromoId=e.PromoId
	INNER JOIN tbtrx_promo_request_approval f ON e.PromoId=f.ParentId AND ISNULL(f.IsCancel,0)=0
	INNER JOIN tbtrx_promo_approval g ON f.Id=g.RequestId
	WHERE StatusApprovalCodeRecon<>'TP2' AND ISNULL(a.IsCancel,0)=0 AND ISNULL(a.IsClose,0)=0 AND a.Period>=2025 AND mc.ShortDesc<> 'DC'
	GROUP BY a.id, a.CreateBy, a.Investment, a.EntityId , a.DistributorId, c.SubActivityTypeId, d.ChannelId, e.SubChannelId, a.CategoryId

	/* Promo DC*/
	SELECT 
		a.id, a.CreateBy, a.Investment
		,a.EntityId PrincipalId, a.DistributorId, c.SubActivityTypeId, d.ChannelId, '' SubChannelId, a.CategoryId
		, STRING_AGG(g.UserApprover,',')WITHIN GROUP (ORDER BY g.sequence asc)UserApprover
	INTO #tmppromo_c2_DC_2025
	FROM tbtrx_promo a 
	INNER JOIN tbmst_category mc ON a.CategoryId = mc.id
	INNER JOIN tbmst_subactivity c ON a.SubActivityId=c.Id
	INNER JOIN tbtrx_promo_channel d ON a.Id=d.PromoId
	INNER JOIN tbtrx_promo_request_approval f ON a.Id=f.ParentId AND ISNULL(f.IsCancel,0)=0
	INNER JOIN tbtrx_promo_approval g ON f.Id=g.RequestId
	WHERE StatusApprovalCodeRecon<>'TP2' AND ISNULL(a.IsCancel,0)=0 AND ISNULL(a.IsClose,0)=0 AND a.Period>=2025 AND mc.ShortDesc='DC'
	GROUP BY a.id, a.CreateBy, a.Investment, a.EntityId , a.DistributorId, c.SubActivityTypeId, d.ChannelId, a.CategoryId

SELECT TOP 1 * INTO #tmppromoid_c2 FROM #tmppromo_c2
DELETE FROM #tmppromoid_c2

/*LIST OF PROMOID MATCHED CRITERIA*/
	SELECT a.* INTO #tmppromo_bysubchannel_c2
		FROM #tmppromo_c2_RC a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND b.SubChannelId=a.SubChannelId
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		WHERE a.UserApprover<>b.Approver

	SELECT a.* INTO #tmppromo_allsubchannel_c2
		FROM #tmppromo_c2 a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		WHERE a.UserApprover<>b.Approver
			AND a.Id NOT IN (SELECT Id FROM #tmppromo_bysubchannel_c2)

/*LIST OF PROMOID MATCHED CRITERIA >= 2025 Cycle 2*/
/*RC*/
	SELECT a.* INTO #tmppromo_c2_RC_match
		FROM #tmppromo_c2_RC_2025 a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND IIF(b.SubChannelId=0,1,b.SubChannelId)=IIF(b.SubChannelId=0,1,a.SubChannelId)
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		INNER JOIN tbmst_category CAT ON a.CategoryId=CAT.Id  AND CAT.ShortDesc='RC'
		WHERE a.UserApprover<>b.Approver

/*LIST OF PROMOID MATCHED CRITERIA >= 2025 Cycle 2*/
/*DC*/
	SELECT a.* INTO #tmppromo_c2_DC_match
		FROM #tmppromo_c2_DC_2025 a
		INNER JOIN (
			SELECT a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId 
				, STRING_AGG(b.Approver,',')WITHIN GROUP (ORDER BY b.seqapproval asc) Approver
			FROM tbset_matrix_promo_approval a
			INNER JOIN tbset_matrix_promo_approver b ON a.Id=b.ParentId
			WHERE a.Id=@matrixid
			GROUP BY a.Id, a.Periode, a.RefId, a.PrincipalId, a.DistributorId, a.SubActivityType, a.ChannelId, a.SubChannelId, a.Initiator, a.MinInvestment, a.MaxInvestment, a.CategoryId
			) b ON 
				a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.SubActivityTypeId=b.SubActivityType
				AND a.ChannelId=b.ChannelId
				AND a.CreateBy=b.Initiator
				AND a.Investment >= b.MinInvestment and a.Investment <= b.MaxInvestment
				AND a.CategoryId=b.CategoryId
		INNER JOIN tbmst_category CAT ON a.CategoryId=CAT.Id  AND CAT.ShortDesc='DC'
		WHERE a.UserApprover<>b.Approver

		INSERT INTO #tmppromoid_c2 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_bysubchannel_c2
		INSERT INTO #tmppromoid_c2 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_allsubchannel_c2
		INSERT INTO #tmppromoid_c2 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_c2_RC_match
		INSERT INTO #tmppromoid_c2 (id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover) 
			SELECT id, CreateBy, Investment, PrincipalId, DistributorId, SubActivityTypeId, ChannelId, SubChannelId, CategoryId, UserApprover FROM #tmppromo_c2_DC_match

/*UPDATE MATRIX USED BY PROMOID*/
/*CURSOR */

		DECLARE cursor_product CURSOR
		FOR SELECT id FROM #tmppromoid_c2 ;

		OPEN cursor_product;

		FETCH NEXT FROM cursor_product INTO @promoid

		WHILE @@FETCH_STATUS = 0
			BEGIN
				insert into mytmp (f1,f2) values (@utcDate123, @promoid)

				/*CHECK CHANGES ON PROMOID*****************************/
				--SELECT a.Id, a.RefId, a.LastStatus, a.StatusApproval, a.StatusApprovalCodeRecon, a.ApproverRecon, a.ApproverReconName, b.Id, c.* FROM tbtrx_promo a
				--INNER JOIN tbtrx_promo_request_approval_recon b ON a.Id=b.ParentId AND ISNULL(b.IsCancel,0)=0
				--INNER JOIN tbtrx_promo_approval_recon c ON b.Id=c.RequestId
				--WHERE a.Id=@promoid
				/*****************************CHECK CHANGES ON PROMOID*/
				SET @requestid = (select id from tbtrx_promo_request_approval_recon WHERE ParentId=@PromoId AND ISNULL(IsCancel,0)=0)

				UPDATE [tbtrx_promo_request_approval_recon]
					SET IsCancel=1
						WHERE ParentId=@PromoId
							AND ISNULL(IsCancel,0)=0

				/****************************
				BUAT REQUEST APPROVAL BARU
				INSERT KE TABLE REQUEST APPROVAL
				****************************/
				INSERT INTO [tbtrx_promo_request_approval_recon] (
					[ParentId], [RefId], [PromoPlanId], [AllocationId], [AllocationRefId], [CategoryShortDesc], [PrincipalShortDesc]
					, [BudgetMasterId], [CategoryId], [SubCategoryId], [ActivityId], [SubActivityId], [ActivityDesc], [StartPromo], [EndPromo]
					, [Mechanisme1], [Mechanisme2], [Mechanisme3], [Mechanisme4], [Notes], [Roi], [CostRatio], [NormalSales]
					, [IncrSales], [TotSales], [TotInvest], [Status], [CreateOn], [CreateBy], [ModifiedOn], [ModifiedBy]
					, [IsCancel], [PrevRoi], [PrevCostRatio], [PrevNormalSales], [PrevIncrSales], [PrevTotInvest], [PrevTotSales], [TsCoding], [RequestEmail]
					)
					SELECT 
							[ParentId], [RefId], [PromoPlanId], [AllocationId], [AllocationRefId], [CategoryShortDesc], [PrincipalShortDesc]
							, [BudgetMasterId], [CategoryId], [SubCategoryId], [ActivityId], [SubActivityId], [ActivityDesc], [StartPromo], [EndPromo]
							, [Mechanisme1], [Mechanisme2], [Mechanisme3], [Mechanisme4], [Notes], [Roi], [CostRatio], [NormalSales]
							, [IncrSales], [TotSales], [TotInvest], [Status], [CreateOn], [CreateBy], [ModifiedOn], [ModifiedBy]
							, 0, [PrevRoi], [PrevCostRatio], [PrevNormalSales], [PrevIncrSales], [PrevTotInvest], [PrevTotSales], [TsCoding], [RequestEmail]
						  FROM [tbtrx_promo_request_approval_recon]
						  WHERE Id=@requestid AND ParentId=@PromoId

				/************************
				AMBIL ID REQUEST YANG BARU DI CREATE
				************************/
					SET @RequestId=(SELECT SCOPE_IDENTITY())

				/****************************
				INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
				****************************/
				INSERT INTO [dbo].[tbtrx_promo_approval_recon]
					([RequestId], [Sequence], [UserApprover], [Status], [RequestDate], [ActionDate], [IsOnGoing], UserApproverName, UserApproverEmail)
					SELECT 
							@RequestId
							,SeqApproval
							,Approver
							,'TP1'
							,@utcDate123
							,@utcDate123
							,IIF(SeqApproval=1,1,0)
							,b.username
							,b.email
						FROM tbset_matrix_promo_approver a
						inner join tbset_user b on a.Approver=b.id
						where ParentId=@matrixId
				/***********************************/
	
				--UPDATE STATUS DI TABLE PROMO
				UPDATE tbtrx_promo
					SET
							StatusApprovalCodeRecon	=tbmst_master_status.StatusCode
							,StatusApprovalRecon	=tbmst_master_status.StatusDesc
							,ApproverRecon			=tbtrx_promo_approval_recon.UserApprover
							,ApproverReconName		=tbtrx_promo_approval_recon.UserApproverName
							,ApproveOnRecon			=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon		=coalesce(tbtrx_promo_approval_recon.Notes,'')
							,matrixapprovalid		= @matrixid
						from tbtrx_promo
						inner join tbtrx_promo_request_approval_recon	on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						inner join tbtrx_promo_approval_recon			on RequestId=tbtrx_promo_request_approval_recon.Id
						inner join tbmst_master_status					on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval_recon.IsCancel=0
							and tbtrx_promo_approval_recon.IsOnGoing=1
							AND RequestId=@requestid

				/*CHECK CHANGES ON PROMOID*****************************/
				--SELECT a.Id, a.RefId, a.LastStatusRecon, a.StatusApprovalRecon, a.StatusApprovalCodeRecon, a.ApproverRecon, a.ApproverReconName, b.Id, c.* FROM tbtrx_promo a
				--INNER JOIN tbtrx_promo_request_approval_recon b ON a.Id=b.ParentId AND ISNULL(b.IsCancel,0)=0
				--INNER JOIN tbtrx_promo_approval_recon c ON b.Id=c.RequestId
				--WHERE a.Id=@promoid
				/*****************************CHECK CHANGES ON PROMOID*/

				FETCH NEXT FROM cursor_product INTO @promoid 
			END;
		CLOSE cursor_product;
		DEALLOCATE cursor_product;

/*WRITE HISTORY*/
		INSERT INTO tbhis_promo_matrix_changes
			(PromoID,CreatedOn,CreatedBy,CreatedEmail,ChangeStatus,ChangeReason)
				SELECT a.id, @utcDate123, 'Optima system', 'noreply-optima@danone.id','Approval reset', 'Approval reset due to changes in approval matrix' from #tmppromoid_c1 a

		INSERT INTO tbhis_promo_matrix_changes
			(PromoID,CreatedOn,CreatedBy,CreatedEmail,ChangeStatus,ChangeReason)
				SELECT a.id, @utcDate123, 'Optima system', 'noreply-optima@danone.id','Approval reset', 'Approval reset due to changes in approval matrix'  from #tmppromoid_c2 a

/*CREATE FINAL LIST OF PROMOID FOR EMAIL NOTIF*/

	SELECT 
		a.id promoid, 1 cycle,  b.ShortDesc category, p2.UserApprover userid, p2.UserApproverName username, p2.UserApproverEmail email, p.refId
		from #tmppromoid_c1 a 
		inner join tbmst_category b on a.CategoryId=b.Id
		INNER JOIN tbtrx_promo p on a.Id=p.Id
		inner join tbtrx_promo_request_approval p1 on p.Id=p1.ParentId AND ISNULL(p1.IsCancel,0)=0
		inner join tbtrx_promo_approval p2 on p1.Id=p2.RequestId AND p2.Sequence=1
	union all
	SELECT 
		a.id promoid, 2 cycle,  b.ShortDesc category, p2.UserApprover userid, p2.UserApproverName username, p2.UserApproverEmail email, p.refId
		from #tmppromoid_c2 a 
		inner join tbmst_category b on a.CategoryId=b.Id
		INNER JOIN tbtrx_promo p on a.Id=p.Id
		inner join tbtrx_promo_request_approval_recon p1 on p.Id=p1.ParentId AND ISNULL(p1.IsCancel,0)=0
		inner join tbtrx_promo_approval_recon p2 on p1.Id=p2.RequestId AND p2.Sequence=1

DROP TABLE IF EXISTS #tmppromo_c1_RC
DROP TABLE IF EXISTS #tmppromo_c1_RC_2025
DROP TABLE IF EXISTS #tmppromo_c1_DC_2025
DROP TABLE IF EXISTS #tmppromo_c1
DROP TABLE IF EXISTS #tmppromo_bysubchannel_C1
DROP TABLE IF EXISTS #tmppromo_allsubchannel_C1
DROP TABLE IF EXISTS #tmppromo_c1_RC_match
DROP TABLE IF EXISTS #tmppromo_c1_DC_match
DROP TABLE IF EXISTS #tmppromoid_C1

DROP TABLE IF EXISTS #tmppromo_c2_RC
DROP TABLE IF EXISTS #tmppromo_c2_RC_2025
DROP TABLE IF EXISTS #tmppromo_c2_DC_2025
DROP TABLE IF EXISTS #tmppromo_c2
DROP TABLE IF EXISTS #tmppromo_bysubchannel_C2
DROP TABLE IF EXISTS #tmppromo_allsubchannel_C2
DROP TABLE IF EXISTS #tmppromo_c2_RC_match
DROP TABLE IF EXISTS #tmppromo_c2_DC_match
DROP TABLE IF EXISTS #tmppromoid_C2

HELL:
/*DUMMY RESULT*/

	--select * from (
	--SELECT top 2 id promoid, 1 cycle, 'RC' category , 'admin' username, 'temmykurniawan123@gmail.com' email, RefId refId  from tbtrx_promo 
	--where StatusApproval='Waiting For Approval' and CategoryId=3 order by CreateOn desc) a
	--union all
	--select * from (
	--SELECT top 2 id promoid, 2 cycle, 'DC' category, 'admin' username, 'temmykurniawan123@gmail.com' email, RefId refId from tbtrx_promo 
	--where StatusApprovalrecon='Waiting For Approval' and CategoryId=22 order by CreateOn desc) b
END
GO
