USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_validation_paralel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_validation_paralel]
@dnid int,
@status varchar(50),
@notes varchar(255),
@userid varchar(50),
@taxlevel varchar(100)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
begin transaction

declare
@laststatus varchar(50),
@updlaststatus varchar(50),
@prevstatus varchar(50),
@StatusSalesCode varchar(3),
@promoid int,
@isdnpromo int,
@messageout varchar(255)
	SET @laststatus=(SELECT LastStatus FROM tbtrx_debetnote where Id=@dnid)
	SET @StatusSalesCode=(SELECT StatusSalesCode FROM tbtrx_debetnote where Id=@dnid)

	IF @status='rejected_by_dist_ho' OR @status='rejected_by_danone' OR @status='rejected_by_sales' OR @status='rejected_by_finance'
	BEGIN
		IF @status='rejected_by_sales'
		BEGIN
			UPDATE tbtrx_debetnote
		  	SET
		  		StatusSalesCode='TP3'
		  		,StatusSales=@status
		  		,StatusSalesOn=@utcDate123
		  		,StatusSalesBy=@userid
		  		,StatusSalesNotes=@notes
		  		,TaxLevel = @taxlevel
	  		WHERE Id=@dnid

			INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes)
			VALUES(@dnid,@utcDate123,@userid,'TP3',@notes)

		END
		ELSE
		BEGIN
			SET @prevstatus=(
				SELECT PrevStatus FROM
				(
					SELECT ParameterValue,
					LAG(parametervalue) OVER(ORDER BY Sequence) PrevStatus
--					FROM tbset_general_parameter_paralel
					FROM tbset_general_parameter
					where ParameterName='DNFLOW'
				)X WHERE ParameterValue=@laststatus
			)

			UPDATE tbtrx_debetnote
			SET LastStatus=@prevstatus
			,IsFreeze=0
			,Notes=@notes
			,TaxLevel = @taxlevel
			where id=@dnid

			IF @status='rejected_by_finance'
			BEGIN
				UPDATE tbtrx_debetnote
				SET LastStatus='send_to_danone'
				where id=@dnid
			END

		END
		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn)
		VALUES(@dnid,@status,@userid,@utcDate123)

	END
	ELSE
		BEGIN

		   if @status='validate_by_dist_ho'
		    begin
			  UPDATE a
			  SET validate_by_dist_ho_on=@utcDate123
			  ,validate_by_dist_ho_by=@userid
			  FROM tbtrx_debetnote_his a
			  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0
		    end


			if @status='validate_by_sales' OR @status='validate_by_finance'
			begin

				   SET @isdnpromo = (SELECT isnull(IsDNPromo, 0) FROM tbtrx_debetnote where Id=@dnid)
				   SET @promoid=(SELECT PromoId FROM tbtrx_debetnote where Id=@dnid)
   				   IF isnull(@isdnpromo,0)=1
				   BEGIN
					   IF isnull(@promoid,0)=0
					   BEGIN
							SET @messageout='You can not validate, please assign to Promo Number'
							RAISERROR (@messageout, -- Message text.
						   16, -- Severity.
						   1 -- State.
						   );
					   END

					   IF EXISTS
					   (
					   SELECT DNId FROM
					   (
							SELECT
							pr.Id PromoId,
							pr.RefId RefId,
							pr.Investment,
							dn.id DNId,
							dn.TotalClaim,
							SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
-- 							pr.Investment-SUM (dn.DPP) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
							pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
							from tbtrx_promo pr
							left join  tbtrx_debetnote dn
							on pr.Id=dn.PromoId
							WHERE pr.Id=@promoid And isnull(dn.iscancel,0)=0 AND isnull(dn.IsDNPromo, 0) = 1
-- 					       group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
						) ob WHERE Remaining < 0 and DNId=@dnid
						)
						BEGIN
							SET @messageout='You can not validate, DN Over Budget'
							RAISERROR (@messageout, -- Message text.
						   16, -- Severity.
						   1 -- State.
						   );
						END
				  END

				  IF @status='validate_by_sales'
				  BEGIN

					SET @updlaststatus= IIF(@laststatus='validate_by_finance','validate_by_danone',@status)

					UPDATE tbtrx_debetnote
					  	SET
					  		StatusSalesCode='TP2'
					  		,StatusSales=@status
					  		,StatusSalesOn=@utcDate123
					  		,StatusSalesBy=@userid
					  		,StatusSalesNotes=@notes
					  		,TaxLevel = @taxlevel
				  		WHERE Id=@dnid

					UPDATE a
					  	SET
							validate_by_sales_on=@utcDate123
							,validate_by_sales_by=@userid
					  FROM tbtrx_debetnote_his a
					  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0

					INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes)
					VALUES(@dnid,@utcDate123,@userid,'TP2',@notes)

				 END
				  IF @status='validate_by_finance'
				  BEGIN
					  SET @updlaststatus= IIF(@laststatus='validate_by_sales' OR @laststatus='received_by_danone', IIF(@StatusSalesCode='TP2' or isnull(@isdnpromo,0)=0,'validate_by_danone',@status), @status)

					  UPDATE a
					  SET
						  validate_by_finance_on=@utcDate123
						  ,validate_by_finance_by=@userid
					  FROM tbtrx_debetnote_his a
					  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0
				  END

				  IF @updlaststatus='validate_by_danone'
				  BEGIN
					  UPDATE a
					  SET
						  validate_by_danone_on=@utcDate123
						  ,validate_by_danone_by=@userid
					  FROM tbtrx_debetnote_his a
					  WHERE a.DNId=@dnid and isnull(is_cancel,0)=0
				  END

			 end

			UPDATE tbtrx_debetnote
			SET LastStatus= @updlaststatus
			,Notes=@notes
			,TaxLevel = @taxlevel
			where Id=@dnid


			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn)
			VALUES(@dnid,@status,@userid,@utcDate123)

		END
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
RAISERROR (@ErrorMessage, -- Message text.
             @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );
END CATCH
GO
