USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_del]
	@Id        int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_matrix_dnmanual_assignment_new
	( 
       [ParentId]
      ,[ChannelId]
      ,[SubChannelId]
      ,[AccountId]
      ,[SubAccountId]
      ,[Pic1]
      ,[Pic2]
      ,[IsActive]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDeleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[CreateOn]
      ,[CreateBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]
      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       id
      ,[ChannelId]
      ,[SubChannelId]
      ,[AccountId]
      ,[SubAccountId]
      ,[Pic1]
      ,[Pic2]
      ,[IsActive]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1                    [IsDeleted]
      ,[DeletedOn]
      ,@UserId              [DeletedBy]
      ,[CreateOn]
      ,[CreateBy]
      ,1                    [IsDelete]
      ,@DeleteOn            [DeleteOn]
      ,@UserId              [DeleteBy]
      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin           [DeleteEmail]
	FROM
		tbset_matrix_dnmanual_assignment_new
	WHERE Id = @Id

	DELETE tbset_matrix_dnmanual_assignment_new
	WHERE
		Id = @Id
END
GO
