

/****** Object:  StoredProcedure [dbo].[ip_mst_map_material_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_mst_map_material_del]
	@Id              int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_mapping_material
	( 
       [ParentId]
      ,[MaterialNumber]
      ,[Description]
      ,[WHT_Type]
      ,[WHT_Code]
      ,[Purpose]
      ,[Entity]
      ,[EntityId]
      ,[PPNPct]
      ,[PPHPct]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[MaterialNumber]
      ,[Description]
      ,[WHT_Type]
      ,[WHT_Code]
      ,[Purpose]
      ,[Entity]
      ,[EntityId]
      ,[PPNPct]
      ,[PPHPct]      
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_mapping_material
	WHERE Id = @Id

	DELETE tbset_mapping_material
	WHERE
				Id  = @Id
END

GO
