

/****** Object:  StoredProcedure [dbo].[ip_approval_promo_tes]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_approval_promo_tes] --25,'TP3','','2019-10-21'
@promoid int,
@statuscode varchar(3),
@notes varchar(255),
@approvaldate datetime

AS

BEGIN 

declare @p_reqid int

SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@promoid and IsCancel=0)


update tbtrx_promo_approval
SET [Status]=@statuscode
,Notes=@notes
,ActionDate=@approvaldate
WHERE RequestId=@p_reqid  AND IsOnGoing=1



UPDATE tbtrx_promo
SET StatusApproval=tbmst_master_status.StatusDesc
,Approver=tbtrx_promo_approval.UserApprover
,ApproveOn=tbtrx_promo_approval.ActionDate
,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
from tbtrx_promo 
inner join tbtrx_promo_request_approval	
on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
where tbtrx_promo_request_approval.IsCancel=0
and tbtrx_promo_approval.IsOnGoing=1
AND RequestId=@p_reqid

if @statuscode='TP2'
begin

		UPDATE A
		SET IsOnGoing=0
		FROM tbtrx_promo_approval A
		INNER JOIN
		(SELECT MAX(Sequence) Sequence,RequestId
		FROM tbtrx_promo_approval WHERE [Status]='TP2' GROUP BY RequestId) X
		ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
		where A.RequestId=@p_reqid


		UPDATE A
		SET IsOnGoing=1
		,RequestDate=getdate()
		FROM tbtrx_promo_approval A
		INNER JOIN
		(SELECT MIN(Sequence) Sequence,RequestId
		FROM tbtrx_promo_approval WHERE [Status]='TP1' GROUP BY RequestId) X
		ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
		where A.RequestId=@p_reqid


		UPDATE tbtrx_promo
		SET StatusApproval=tbmst_master_status.StatusDesc
		,Approver=tbtrx_promo_approval.UserApprover
		,ApproveOn=tbtrx_promo_approval.ActionDate
		,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
		from tbtrx_promo 
		inner join tbtrx_promo_request_approval	
		on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
		inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
		inner join tbmst_master_status on StatusCode=tbtrx_promo_request_approval.[Status] and tbmst_master_status.StatusType='TPP'
		where tbtrx_promo_request_approval.IsCancel=0
		and tbtrx_promo_approval.IsOnGoing=1
		AND RequestId=@p_reqid
end


END
GO
