

/****** Object:  StoredProcedure [dbo].[ip_create_sellpoint]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_create_sellpoint]
	-- Add the parameters for the stored procedure here
	@REFID			VARCHAR(36),
	@REGIONID		VARCHAR(36),
	@LONGDESC		VARCHAR(50),
	@SHORTDESC		VARCHAR(10),
	@USERID			VARCHAR(25)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ERROR VARCHAR(100)
	IF NOT EXISTS(SELECT TOP 1 RefId FROM [dbo].[tbmst_region] WITH(NOLOCK) WHERE Id=@REGIONID)
	BEGIN
		SET @ERROR='REGION <' + @REGIONID + '> NOT FOUND.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	IF EXISTS(SELECT TOP 1 RefId FROM [dbo].[tbmst_sellingpoint] WITH(NOLOCK) WHERE RefId=@REFID AND RegionId=@REGIONID)
	BEGIN
		SET @ERROR='DATA <' + @REFID + '> IS AVAILABLE.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	INSERT INTO [dbo].[tbmst_sellingpoint](RefId,RegionId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,IsDelete)
	SELECT
		@REFID AS RefId,
		@REGIONID AS RegionId,
		@LONGDESC AS LongDesc,
		@SHORTDESC AS ShortDesc,
		CAST(1 AS BIT) AS IsActive,
		@utcDate123 AS CreateOn,
		@USERID AS CreateBy,
		CAST(0 AS BIT) AS IsDelete

END

GO
