

/****** Object:  StoredProcedure [dbo].[ip_mst_user_subaccount_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_user_subaccount_ins]
	@IsNew          int,
	@Id             int,
	@SubAccountId   int,
	@IsActive       bit,
	@UserId         varchar(50),
	@UserLogin      varchar(100),
	@CreatedOn      datetime,
	@UserEmail   varchar(100)

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.UserId
                ,a.SubAccountId
                FROM tbset_user_subaccount a
                where
                      a.UserId     = @UserId
                  AND SubAccountId = @SubAccountId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping User Subaccount already exist';
                    SET @messageout='Mapping User Subaccount already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_user_subaccount
                (
                   UserId
                  ,SubAccountId
                  ,IsActive
                  ,CreateOn
                  ,CreateBy
                  ,CreatedEmail
                )
                Values
                (
                   @UserId
                  ,@SubAccountId
                  ,1
                  ,@CreatedOn
                  ,@UserLogin
                  ,@UserEmail
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_user_subaccount
			SET
				UserId          =@UserId,
				SubAccountId    =@SubAccountId,
				IsActive        =@IsActive,
				ModifiedOn      =@CreatedOn,
				ModifiedBy      =@UserLogin,
			    ModifiedEmail   =@UserEmail
			WHERE
				Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
