USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_get_assignment]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_get_assignment]
	@id int
AS

--declare @id int
--set @id = 1480

BEGIN

DECLARE @BudgetPeriod VARCHAR(4)

select @BudgetPeriod=Periode from tbtrx_budgetmaster where Id = (
	select budgetmasterid from tbtrx_allocation where id = (
		SELECT allocationid FROM tbtrx_budgetassignment where id=@id
		)
	)

	SELECT 
		A.Id
		,A.RefId
		,A.BudgetId
		,A.FrownId
		,C.username FrownName
		,A.AllocationId
		,E.LongDesc BudgetSource
        ,F.StartDate
        ,F.EndDate
		,F.PrincipalId EntityId
		,G.LongDesc Entity
		,A.BudgetAmount
		,A.IsActive
		,A.IsLocked
		,A.CreateOn
		,A.CreateBy
		,A.ModifiedOn
		,A.ModifiedBy
		,A.IsDelete
		,A.DeleteOn
		,A.DeleteBy
		,@BudgetPeriod Periode
	FROM 
		dbo.tbtrx_budgetassignment  AS A WITH (NOLOCK) --LEFT JOIN 
		--dbo.tbtrx_budgetassignment_detail AS B WITH (NOLOCK) ON A.Id = B.AssignmentId
		LEFT JOIN dbo.tbset_user AS C WITH (NOLOCK) ON A.FrownId = C.id
		INNER JOIN tbtrx_allocation AS E WITH (NOLOCK) ON A.AllocationId=E.Id
		INNER JOIN tbtrx_budgetmaster AS F WITH (NOLOCK) ON E.BudgetMasterId=F.Id
		INNER JOIN tbmst_principal AS G WITH (NOLOCK) ON F.PrincipalId=G.Id
	WHERE A.Id=@id


	SELECT A.userid  as OwnerName 
	FROM 
		tbtrx_allocation_useraccess A
		INNER JOIN tbtrx_budgetassignment B ON A.AllocationId=B.AllocationId
	WHERE B.Id=@Id


	SELECT
		A.AssignmentId DetailId
		,A.Id
		,A.RefId
		,A.OwnId 
		,B.username OwnName
		,A.[Desc]
		,A.BudgetAmount
		,A.IsAllocated
		,A.IsActive
		,A.IsLocked
		,A.CreateOn
		,A.CreateBy
		,A.ModifiedOn
		,A.ModifiedBy
		,A.IsDelete
		,A.DeleteOn
		,A.DeleteBy
	FROM 
		tbtrx_budgetassignment_detail A WITH (NOLOCK)
		LEFT JOIN dbo.tbset_user AS B WITH (NOLOCK) ON A.OwnId = B.id
	WHERE A.AssignmentId=@Id
end


GO
