USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_xml_upload_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_xml_upload_list]
@uploadtype varchar(50)
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
    SELECT
        a.UploadType,
        a.FileName,
        concat(a.UploadBy, ' - ', iif(isnull(a.UploadEmail,'')='',b.email,a.uploademail)) UploadBy,
        a.UploadEmail,
        a.UploadOn

    FROM tbxml_SAP_upload a
    inner join tbset_user b on a.UploadBy=b.id
    WHERE IIF(@uploadtype='', '', a.UploadType) = IIF(@uploadtype='', '', @uploadtype)
    AND a.UploadOn >= DATEADD(MONTH, -3, @utcDate123) 
    AND isnull(a.isDeleted,0)=0
END
GO
