

/****** Object:  StoredProcedure [dbo].[ip_log_debetnote_parent_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_log_debetnote_parent_p]
--DECLARE 
 @periode  varchar(4),
 @entity int,
 @distributor int,
 @channel int,
 @account int,
 @userid varchar(50),
 @isdnmanual bit,

 @start int,
 @length int,
 @filter varchar(255),
 @txtSearch varchar(255)

 
--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @channel = 0
--SET @account=0
--set @userid ='kamc4'
--SET @isdnmanual = 0

--SET @start =1
--SET @length =10
--SET @filter =''
--SET @txtSearch ='visibility'

AS
BEGIN
    drop table if exists #temp_result1;        
    drop table if exists #temp_result2;        
	DECLARE @recordsFiltered int;
	DECLARE @profitcenter varchar(10)

    SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

	SELECT a.Id
	,a.RefId
	,b.Id PromoId
	,b.RefId PromoRefId
	,a.ActivityDesc
	,a.dpp
	,a.PPNAmt
	,a.TotalClaim
	,a.TotalPaid
--	,IIF(a.StatusSalesCode='TP2', 'validate_by_sales', a.LastStatus) LastStatus
	,a.LastStatus
	,a.IsFreeze
	,a.CreateOn
	,a.CreateBy
	,a.IsOverBudget
	,a.AssignBy
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,c.Id EntityId
	,c.LongDesc EntityLongDesc
	,c.ShortDesc EntityShortDesc
	,a.MemDocNo
	,a.IntDocNo
	,a.TaxLevel MaterialNumber
	,tmm.Description TaxLevel
	,a.IsDNPromo
	,isnull(docFile.docCount, 0) as docCount
	,a.StatusSalesNotes remarkSales
	,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
	,IIF(a.StatusSalesCode='TP1', a.StatusSalesDistOn , a.statussaleson) SalesValidationStatusOn
	--,d.actionOn SalesValidationStatusOn
	,a.AccountId SubAccountId
	,ts.LongDesc SubAccount
	,tdh.validate_by_finance_by
	,tdh.validate_by_finance_on
	,tdh.validate_by_sales_by
	,tdh.validate_by_sales_on
	,tdh.confirm_paid_by
	,tdh.confirm_paid_on
	,a.FPNumber
	,a.FPDate
	,a.VATExpired
	INTO #temp_result1
	from tbtrx_debetnote a
	left join tbmst_subaccount ts ON a.AccountId = ts.id
	inner join tbtrx_debetnote_his tdh ON a.id=tdh.DNId
	LEFT JOIN (
		select dnid, count(DocLink) as docCount from tbtrx_dn_doclink group by dnid
	) docFile on a.Id = docFile.dnid
	LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
	LEFT JOIN tbmst_principal c on a.PrincipalId=c.Id
	WHERE IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND EXISTS
	(
		SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
	)

	/**********************
        start pagination
    **********************/
    IF @length = -1
    BEGIN
		SELECT * FROM #temp_result1
		WHERE 
			IIF(@txtSearch is null, '', 
				isNull(RefId,'') +
				isNull(PromoRefId,'') +
				isNull(ActivityDesc,'') +
				isNull(EntityLongDesc,'') +
				isNull(EntityShortDesc,'') +
				isNull(MemDocNo,'') +
				isNull(SubAccount,'') 
				) 
				like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
		ORDER BY PromoId ASC
    END
    ELSE
    BEGIN
		SELECT * FROM #temp_result1
		WHERE 
			IIF(@txtSearch is null, '', 
				isNull(RefId,'') +
				isNull(PromoRefId,'') +
				isNull(ActivityDesc,'') +
				isNull(EntityLongDesc,'') +
				isNull(EntityShortDesc,'') +
				isNull(MemDocNo,'') +
				isNull(SubAccount,'') 
				) 
				like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
        ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
    END

	SET @recordsFiltered = 
		(
		SELECT isnull(count(PromoId),0) 
		FROM #temp_result1
		WHERE 
			IIF(@txtSearch is null, '', 
				isNull(RefId,'') +
				isNull(PromoRefId,'') +
				isNull(ActivityDesc,'') +
				isNull(EntityLongDesc,'') +
				isNull(EntityShortDesc,'') +
				isNull(MemDocNo,'') +
				isNull(SubAccount,'') 
				) 
				like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
		)

    SELECT isnull(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result1
    drop table #temp_result1
    /**********************
        end pagination
    **********************/

END
GO
