

/****** Object:  StoredProcedure [dbo].[ip_get_wht_distributor_mapping]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_get_wht_distributor_mapping]  --2, 2, 2, 1
@promoId int
AS

--DECLARE @promoId int
--SET @promoId =(SELECT TOP 1 id FROM tbtrx_promo WHERE CategoryShortDesc='RC' ORDER BY Id DESC)
--SET @promoId =(SELECT TOP 1 id FROM tbtrx_promo WHERE CategoryShortDesc='DC' ORDER BY Id DESC)

BEGIN

	DECLARE 
		@subAccount varchar(50)
		,@categoryShortDesc varchar(10)
	
	SELECT TOP 1 @categoryShortDesc = isnull(pr.CategoryShortDesc, '')
		, @subAccount = isnull(ms.longdesc, '')
	FROM tbtrx_promo pr WITH (NOLOCK)
	INNER JOIN tbtrx_promo_subaccount tps WITH (NOLOCK) ON pr.id=tps.promoid
	INNER JOIN tbmst_subaccount ms WITH (NOLOCK) ON tps.subaccountid = ms.id
	WHERE pr.id = @promoId

	SELECT 
		ISNULL(B.WHTType, '') WHTType
		FROM tbtrx_promo A 
		INNER JOIN tbmst_subactivity D ON A.SubActivityId=D.Id
		INNER JOIN tbtrx_budgetmaster E ON A.BudgetMasterId=E.Id
		INNER JOIN tbmst_distributor F ON E.DistributorId=F.Id
		LEFT JOIN tbset_distributor_wht B ON F.LongDesc = B.distributor AND D.LongDesc = B.subActivity AND B.subAccount = IIF(@categoryShortDesc = 'DC', 'All Sub Account', @subAccount)
		WHERE 
		A.Id=@promoId
END
GO
