

/****** Object:  StoredProcedure [dbo].[ip_promo_list_reporting_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_reporting_p] --'2020',0,0,0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31',30
 @periode varchar(4)
,@category int=NULL
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@submission_param int

,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)

AS

-- DECLARE
--	 @periode varchar(4)
--	,@category int=NULL
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@create_from date
--	,@create_to date
--	,@start_from date
--	,@start_to date
--	,@submission_param int

--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--SET @periode ='2025'
--SET @category =0
--SET @entity =0
--SET @distributor =0
--SET @budgetparent =0
--SET @channel =0
--SET @userid ='admin'
--SET @create_from ='2000-01-01'
--SET @create_to ='2025-12-31'
--SET @start_from ='2025-01-01'
--SET @start_to ='2025-12-31'
--SET @submission_param = 0

--SET @start =0
--SET @length =-1
--SET @filter =''
--SET @txtSearch ='NIS00909/AL25/RC'


BEGIN

/****************************/
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	SET @category = ISNULL(@category,0)
	SET @entity = ISNULL(@entity,0)
	SET @distributor  = ISNULL(@distributor,0)
	SET @budgetparent  = ISNULL(@budgetparent,0)
	SET @channel  = ISNULL(@channel,0)
	SET @userid  = ISNULL(@userid,0)

	DECLARE @usergroupid varchar(30)
	SELECT @usergroupid = usergroupid FROM tbset_user WITH (NOLOCK) WHERE id = @userid

    DROP TABLE IF EXISTS #temp_promo;
    DECLARE @recordsFiltered int;
--	SET @order = IIF(@order is null,'RefId', @order)
	--SET @start = @start * @length
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;
	DROP TABLE IF EXISTS #temp_promo_sendback_notes_last;

	SELECT id, allocationid, CategoryShortDesc INTO #temp_promo_id FROM tbtrx_promo pr WITH (NOLOCK)
		WHERE
		CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
		AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
		OPTION (MAXDOP 4);

	CREATE INDEX idx_temp_promo_id ON #temp_promo_id (id);

	SELECT vwnote.* 
	INTO #temp_promo_sendback_notes_last
		FROM vw_promo_sendback_notes_last vwnote
		INNER JOIN #temp_promo_id pr ON vwnote.parentid = pr.id

	CREATE INDEX idx_temp_promo_sendback_notes_last ON #temp_promo_sendback_notes_last (parentid);

	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')BrandDesc INTO #temp_brand FROM tbmst_brand
	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')skuDesc INTO #temp_SKU FROM tbmst_product where PrincipalId=2

	CREATE INDEX idx_temp_brand_id ON #temp_brand (PromoId);
	CREATE INDEX idx_temp_sku_id ON #temp_sku (PromoId);

	DELETE FROM #temp_brand
	DELETE FROM #temp_SKU

	IF @periode>='2025'
		BEGIN
			INSERT INTO #temp_brand (PromoId, BrandDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')BrandDesc 
			FROM #temp_promo_id a
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbmst_product mp on c.ProductId=mp.Id
			INNER JOIN tbmst_brand e on c.BrandId=e.Id
			GROUP BY a.Id
			OPTION (MAXDOP 4);

			INSERT INTO #temp_sku (PromoId, skuDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')SKUDesc FROM #temp_promo_id a
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbmst_product e on c.ProductId=e.Id AND ISNULL(e.IsDeleted,0)=0 
			GROUP BY a.Id
			OPTION (MAXDOP 4);
		END
	ELSE
		BEGIN
			INSERT INTO #temp_brand (PromoId, BrandDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')BrandDesc 
			FROM #temp_promo_id a
			INNER JOIN tbtrx_allocation b on a.allocationid=b.id
			INNER JOIN tbtrx_promo_brand c on a.id=c.promoid
			INNER JOIN tbtrx_allocation_brand d on c.BrandId=d.BrandId AND d.allocationid=b.id
			INNER JOIN tbmst_brand e on d.BrandId=e.Id
			GROUP BY a.Id
			OPTION (MAXDOP 4);

			INSERT INTO #temp_sku (PromoId, skuDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')SKUDesc FROM #temp_promo_id a
			INNER JOIN tbtrx_allocation b on a.allocationid=b.id and a.CategoryShortDesc in ('TS','RC')
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbtrx_allocation_product d on c.ProductId=d.ProductId AND d.allocationid=b.id
			INNER JOIN tbmst_product e on d.ProductId=e.Id AND ISNULL(e.IsDeleted,0)=0 
			GROUP BY a.Id
			OPTION (MAXDOP 4);
		END


    SELECT
        pr.StartPromo
        , pr.EndPromo
        , pr.CreateOn
        , pr.CreateBy
        , pr.ModifiedOn
        , pr.RefId
        , pr.ActivityDesc
        , mechanism.mechanism Mechanism
        , pr.Mechanisme1
        , pr.Mechanisme2
        , pr.Mechanisme3
        , pr.Mechanisme4
        , pr.IsCancel
        , pr.CancelBy
        , pr.CancelOn
        , pr.CancelByName
        , pr.StatusApprovalCode
--        , pr.LastStatus
        , pr.ApproveOn
        , pr.ApprovalNotes
        , pr.ApproverName
        , IIF(@periode>='2025', ISNULL(pc.baseline, 0), pr.NormalSales) NormalSales
        , IIF(@periode>='2025', ROUND(ISNULL(pc.baseline, 0)*pc.uplift/100,0), pr.IncrSales) IncrSales
        , IIF(ISNULL(pc.promoid,0)=0, pr.investment, pc.cost) Investment
        , IIF(@periode>='2025', round(pc.cost/NULLIF(pc.totalsales,0),2) ,pr.CostRatio) CostRatio
        , pr.TsCoding
        , pr.IsClose
        , pr.AllocationId
        , pr.SubCategoryId
        , pr.Approver
        , pr.ActivityId
        , pr.SubActivityId
        , pr.Id
        , pr.PromoPlanId
        , pr.Reconciled
        , pr.ReconciledOn
        , pr.ReconciledBy
        , pr.StatusApprovalCodeRecon
        , pr.LastStatusRecon
        , pr.ApproverRecon
        , pr.ApproveOnRecon
        , pr.ApproverReconName
        , tpa.ActionDate
        , tpa.RequestDate
        , tpar.ActionDate ActionDateRecon
        , tpar.RequestDate RequestDateRecon
        , r.CancelReason
		/*-- baseline promo period >= 2025 --*/
        ,IIF(ISNULL(pr.actual_sales, 0)=0, IIF(@periode>='2025', ISNULL(pc.baseline, 0), ISNULL(baseline.asales,0)), ISNULL(pr.actual_sales, 0)) actual_sales
		/*************************************/
        , pr.initiator_notes
        --,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendback_notes
        --,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendback_notes_date
        ,pr.InvestmentTypeId
        ,pr.late_submission_day
		,pr.categoryId
		,cat.LongDesc categoryLongDesc
		,cat.ShortDesc categoryShortDesc
		--,IIF(pr.laststatus='Draft', 'Draft', IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.laststatus='Draft', 'Draft', IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
		,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + tulRecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(tulRecon.username as varchar), pr.LastStatusRecon + '-' + CAST(tulRecon.username as varchar)  ))), 'BY', 'by') LastReconStatus
		,pr.DistributorId, pr.EntityId, pr.period, pr. GroupBrandId
		, ISNULL(prbs.LastStatus, '---') budgetApprovalStatus
		, CASE prbs.LastStatusCode
				WHEN 'TP01' THEN '---'
				WHEN 'TP02' THEN ISNULL(CONVERT(VARCHAR(10), IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequeston, prbs.ApprovedOn), 105),'---')
				WHEN 'TP03' THEN ISNULL(CONVERT(VARCHAR(10), prbs.ApprovedOn, 105),'---')
				WHEN 'TP04' THEN ISNULL(CONVERT(VARCHAR(10), prbs.RejectedOn, 105),'---')
				ELSE '---'
			END budgetApprovalStatusOn
		, CASE prbs.LastStatusCode
			WHEN 'TP01' THEN '---'
			WHEN 'TP02' THEN ISNULL(IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequestby, prbs.Approvedby),'---')
			WHEN 'TP03' THEN ISNULL(prbs.Approvedby,'---')
			WHEN 'TP04' THEN ISNULL(prbs.Rejectedby,'---')
			ELSE '---'
		END budgetApprovalStatusBy
		, IIF(prbs.Deployed=0, 'Not Yet Deployed', 'Deployed') budgetDeployStatus
		,ISNULL(CONVERT(VARCHAR(10), prbs.DeployedOn, 105),'---') budgetDeployStatusOn
		,ISNULL(prbs.DeployedBy,'---') budgetDeployStatusBy
		, prbs.batchId

		INTO #temp_promo
		FROM tbtrx_promo pr WITH (NOLOCK)
		INNER JOIN #temp_promo_id prid WITH (NOLOCK) ON pr.id = prid.Id
		LEFT JOIN tbset_user tu ON pr.Approver = tu.id 
		LEFT JOIN tbset_user_login tul ON tu.email = tul.email 
		LEFT JOIN tbset_user tuRecon ON pr.ApproverRecon = tuRecon.id 
		LEFT JOIN tbset_user_login tulRecon ON tuRecon.email = tulRecon.email 
		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
	    INNER JOIN
	    (
	        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
	            GROUP BY a.PromoId
	    ) mechanism ON pr.Id = mechanism.PromoId   		
        LEFT JOIN tbtrx_promo_cancel_request r WITH (NOLOCK) ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
        LEFT JOIN tbtrx_promo_request_approval tpra WITH (NOLOCK) ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval tpa WITH (NOLOCK) ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
        LEFT JOIN tbtrx_promo_request_approval_recon tprar WITH (NOLOCK) ON pr.id=tprar.ParentId AND ISNULL(tprar.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval_recon tpar WITH (NOLOCK) ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
        LEFT JOIN tbhlp_baseline_promo baseline WITH (NOLOCK) ON pr.id=baseline.id
        --LEFT JOIN vw_promo_sendback_notes_last note ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
		LEFT JOIN tbtrx_promo_calculator pc WITH (NOLOCK) ON pr.Id=pc.PromoId
		LEFT JOIN tbtrx_promo_budget_status prbs ON pr.Id = prbs.PromoId
  --      WHERE
		--CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		--AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
		--AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
		OPTION (MAXDOP 4);      

	CREATE INDEX idx_temp_promo ON #temp_promo (Id);

    /****************************/
	DROP TABLE IF EXISTS #temp_promo_channel

	SELECT PromoId, STRING_AGG(chn.LongDesc,' ,') ChannelDesc
	INTO #temp_promo_channel
            FROM tbtrx_promo_channel a WITH (NOLOCK)
            INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
  			INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
        WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
	GROUP BY a.PromoId
	OPTION (MAXDOP 4);

    /****************************/
	DROP TABLE IF EXISTS #temp_promo_subchannel

	SELECT PromoId, STRING_AGG(subchn.LongDesc,' ,') SubChannelDesc
	INTO #temp_promo_subchannel
		FROM tbtrx_promo_subchannel a WITH (NOLOCK)
        INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
        INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
    GROUP BY a.PromoId
	OPTION (MAXDOP 4);

	/****************************/
	DROP TABLE IF EXISTS #temp_promo_account

	SELECT PromoId, STRING_AGG(ac.LongDesc,' ,') AccountDesc
	INTO #temp_promo_account
            FROM tbtrx_promo_account a WITH (NOLOCK)
            INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
            INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
    GROUP BY a.PromoId
	OPTION (MAXDOP 4);

	/****************************/
	DROP TABLE IF EXISTS #temp_promo_subaccount

	SELECT PromoId, STRING_AGG(sac.LongDesc,' ,') SubAccountDesc
	INTO #temp_promo_subaccount
            FROM tbtrx_promo_subaccount a WITH (NOLOCK)
            INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
            INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
    GROUP BY a.PromoId
	OPTION (MAXDOP 4);

	/****************************/
	DROP TABLE IF EXISTS #temp_promo_groupbrand
	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')groupBrandDesc INTO #temp_promo_groupbrand FROM tbmst_brand_group
	DELETE FROM #temp_promo_groupbrand
	IF @periode>='2025'
		BEGIN
			INSERT INTO #temp_promo_groupbrand (PromoId, groupBrandDesc)
			select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
			FROM
			(
				SELECT distinct 
					b.PromoId, a.longDesc
				FROM tbmst_brand_group a
				INNER JOIN 
				(
					select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
					INNER JOIN tbtrx_promo_product b ON A.Id=B.BrandId 
					INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId and pr.id = 50815
				) b on a.Id=b.BrandGroupId
			) groupbrand
			group by groupbrand.promoid
			OPTION (MAXDOP 4);
		END
	ELSE
		BEGIN
			INSERT INTO #temp_promo_groupbrand (PromoId, groupBrandDesc)
			select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
			FROM
			(
					SELECT distinct 
						b.PromoId, a.longDesc
					FROM tbmst_brand_group a
					INNER JOIN 
					(
						select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
						INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId 
						INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId
						LEFT JOIN tbtrx_allocation_brand d WITH (NOLOCK) ON b.BrandId=d.BrandId AND pr.allocationid=d.allocationid
					) b on a.Id=b.BrandGroupId
			) groupbrand
			group by groupbrand.promoid
			OPTION (MAXDOP 4);
		END
	CREATE INDEX idx_temp_promo_channel ON #temp_promo_channel (PromoId);
	CREATE INDEX idx_temp_promo_subchannel ON #temp_promo_subchannel (PromoId);
	CREATE INDEX idx_temp_promo_account ON #temp_promo_account (PromoId);
	CREATE INDEX idx_temp_promo_subaccount ON #temp_promo_subaccount (PromoId);
	CREATE INDEX idx_temp_promo_groupbrand ON #temp_promo_groupbrand (PromoId);

	/****************************/
    DROP TABLE IF EXISTS #tmp_dn

    SELECT 
    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) - SUM(ISNULL(tc.dpp,0)) TotalClaim
    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0))- SUM(ISNULL(tc.dpp,0)) TotalPaid
    INTO #tmp_dn					
    	FROM tbtrx_debetnote a
        INNER JOIN #temp_promo pr ON a.PromoId=pr.Id
        LEFT JOIN (
        	SELECT 0 dnid
        		, 0 dpp
        		, 0 TotalPaid
        ) tc ON a.id = tc.dnid
        AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
        WHERE ISNULL(a.IsCancel, 0) = 0
        AND ISNULL(a.IsDNPromo,0)=1	
        GROUP BY a.PromoId
		OPTION (MAXDOP 4);

	CREATE INDEX idx_temp_dn ON #tmp_dn (PromoId);

    /****************************/
    /****************************/
    declare @endofmonth date,@closingdtx date;

    set @endofmonth=(SELECT dateadd(month,1+datediff(month,0,@closingdtx),-1))

    DECLARE @Temp TABLE
        (
          BudgetParent int,
          Levels int,
          BudgetId int
        )
        ;

	DECLARE @temp_promo_alloc TABLE (
		id int
		, Entity varchar(255)
        ,Distributor varchar(255)
        ,PrincipalDesc varchar(255)
        ,BudgetSource varchar(255)
		,[SubCategory] varchar(255)
        ,[Activity] varchar(255)
        ,[SubActivity] varchar(255)
        ,ActivityDesc varchar(255)
		,ShortDesc varchar(255)
        ,SubactivityTypeId int
        ,SubactivityTypeRefId varchar(255)
        ,SubactivityType varchar(255)
		,mainActivity varchar(255)
		)

    DROP TABLE if exists #temp_promo_alloc;

	INSERT INTO @temp_promo_alloc
	SELECT 
		pr.id
		,p.LongDesc Entity
        ,d.LongDesc Distributor
        ,p.LongDesc PrincipalDesc
        ,c.LongDesc BudgetSource
		,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', sctg.LongDesc) [SubCategory]
        ,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', act.LongDesc) [Activity]
        ,sact.LongDesc [SubActivity]
        ,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', pr.ActivityDesc) ActivityDesc
		,cat.ShortDesc
        , tst.Id SubactivityTypeId
        , tst.RefId SubactivityTypeRefId
        , tst.LongDesc SubactivityType
		, '' mainActivity
	FROM #temp_promo pr WITH (NOLOCK)
			INNER JOIN tbtrx_allocation c WITH (NOLOCK) ON pr.AllocationId=c.Id
			INNER JOIN tbtrx_budgetmaster m WITH (NOLOCK) ON c.BudgetMasterId=m.Id
			INNER JOIN tbmst_distributor d WITH (NOLOCK) ON m.DistributorId=d.Id
			INNER JOIN tbmst_principal p WITH (NOLOCK) ON m.PrincipalId=p.Id
			INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
			INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
			INNER JOIN tbtrx_allocation_useraccess usr  WITH (NOLOCK) ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
			INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
			INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
			INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.SubActivityTypeId = tst.id
			--INNER JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
			--INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
			WHERE c.Periode=@periode
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

	IF @userid='admin'
	BEGIN
		INSERT INTO @temp_promo_alloc	
		SELECT 
			pr.id
			,p.LongDesc Entity
			,d.LongDesc Distributor
			,p.LongDesc PrincipalDesc
			,'' BudgetSource--c.LongDesc BudgetSource
			,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', sctg.LongDesc) [SubCategory]
			,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', act.LongDesc) [Activity]
			,sact.LongDesc [SubActivity]
			,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', pr.ActivityDesc) ActivityDesc
			,cat.ShortDesc
			, tst.Id SubactivityTypeId
			, tst.RefId SubactivityTypeRefId
			, tst.LongDesc SubactivityType
			, mma.longDesc mainActivity
		FROM #temp_promo pr WITH (NOLOCK)
				INNER JOIN tbmst_distributor d WITH (NOLOCK) ON pr.DistributorId=d.Id
				INNER JOIN tbmst_principal p WITH (NOLOCK) ON pr.EntityId=p.Id
				INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
				INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
				INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
				INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
				INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.SubActivityTypeId = tst.id
				LEFT JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
				LEFT JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
				WHERE pr.Period=@periode
				AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@userid='admin','',pr.createby) =IIF(@userid='admin','',@userid)
	END
	ELSE
	BEGIN
		INSERT INTO @temp_promo_alloc	
		SELECT 
			pr.id
			,p.LongDesc Entity
			,d.LongDesc Distributor
			,p.LongDesc PrincipalDesc
			,'' BudgetSource--c.LongDesc BudgetSource
			,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', sctg.LongDesc) [SubCategory]
			,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', act.LongDesc) [Activity]
			,sact.LongDesc [SubActivity]
			,IIF(cat.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', pr.ActivityDesc) ActivityDesc
			,cat.ShortDesc
			, tst.Id SubactivityTypeId
			, tst.RefId SubactivityTypeRefId
			, tst.LongDesc SubactivityType
			, mma.longDesc mainActivity
		FROM #temp_promo pr WITH (NOLOCK)
				INNER JOIN tbmst_distributor d WITH (NOLOCK) ON pr.DistributorId=d.Id
				INNER JOIN tbmst_principal p WITH (NOLOCK) ON pr.EntityId=p.Id
				INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
				INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
				INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
				INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
				INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.SubActivityTypeId = tst.id
				INNER JOIN tbtrx_promo_channel prc WITH (NOLOCK) ON pr.id = prc.PromoId
				INNER JOIN (
					SELECT DISTINCT va.channelid 
					FROM vw_account va
					inner join tbset_user_subaccount tus WITH (NOLOCK) ON va.SubAccountId = tus.SubAccountId AND tus.userid = @userid
				) msa ON prc.ChannelId = msa.ChannelId
				LEFT JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
				LEFT JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
				WHERE pr.Period=@periode
				AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@usergroupid = '104' OR @usergroupid = '111', pr.createby, '') = IIF(@usergroupid = '104' OR @usergroupid = '111', @userid, '')
	END

    DROP TABLE if exists #temp_result;

    SELECT DISTINCT 
	     tpa.Entity
        ,tpa.Distributor
        ,tpa.PrincipalDesc
        ,IIF(@periode< 2025, tpa.BudgetSource, dbo.getBudgetName(pr.allocationId)) budgetSource
        ,pr.CreateBy [Initiator]
        ,pr.CreateOn [CreateOn]
        ,ISNULL(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
        ,pr.RefId [PromoNumber]
        ,tpa.SubCategory
        ,tpa.Activity
        ,tpa.SubActivity
        --,IIF(tpa.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', pr.ActivityDesc) ActivityDesc
		,IIF(tpa.shortdesc='DC' and isnull(pr.period, '') < 2025,'---', IIF(tpa.shortdesc='DC', pr.Mechanism, pr.ActivityDesc)) ActivityDesc
        ,pr.Mechanism
        ,ISNULL(pr.Mechanisme1,'') Mechanisme1
        ,ISNULL(pr.Mechanisme2,'') Mechanisme2
        ,ISNULL(pr.Mechanisme3,'') Mechanisme3
        ,ISNULL(pr.Mechanisme4,'') Mechanisme4
        ,IIF(tpa.shortdesc='DC','---', region.RegionDesc)RegionDesc
        ,channel.ChannelDesc
        ,IIF(tpa.shortdesc='DC','---', subchannel.SubChannelDesc)SubChannelDesc 
        ,IIF(tpa.shortdesc='DC','---', account.AccountDesc)AccountDesc
        ,IIF(tpa.shortdesc='DC','---', subaccount.SubAccountDesc)SubAccountDesc
--        ,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(pr.ApproverName as varchar) ))) LastStatus
        ,pr.LastStatus
        ,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), 
			IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), 
				IIF(pr.StatusApprovalCode='TP3', CAST(pr.ActionDate as varchar), 
					CAST(pr.RequestDate as varchar)))) LastStatusDate
        ,pr.ApprovalNotes
        --,IIF(tpa.shortdesc='DC',0, pr.NormalSales + pr.IncrSales) [Target]
		,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.NormalSales + pr.IncrSales), ISNULL(tpc.totalsales,0)) [Target]
        ,IIF(ISNULL(pr.isclose,0)=0, round(pr.Investment, 0), ISNULL(dn.TotalPaid, 0)) Investment 
        --,IIF(tpa.shortdesc='DC',0, pr.NormalSales) NormalSales
		,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.NormalSales), ISNULL(tpc.baseline, 0)) NormalSales
        ,IIF(tpa.shortdesc='DC',0, pr.IncrSales) IncrSales
        --,IIF(tpa.shortdesc='DC',0, IIF(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-round(pr.Investment,0))/round(pr.Investment, 0))) Roi	
        --,IIF(tpa.shortdesc='DC',0, pr.CostRatio) CostRatio
        ,IIF(ISNULL(pr.period, '') < 2025, 
			IIF(tpa.shortdesc='DC',0, IIF(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-round(pr.Investment,0))/round(pr.Investment, 0))), 
			round(IIF(pr.CategoryShortDesc<>'DC', round(((((tpc.uplift+100) / 100) * tpc.baseline)  - tpc.Cost) / tpc.Cost * 100, 0), ((((tpc.uplift+100) / 100) * tpc.TotalSales) - tpc.cost) / tpc.cost * 100), 0) ) Roi	
        --,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.CostRatio), IIF(tma.longdesc = 'Running Rate', tpc.cost/tpc.totalsales * 100, tpc.cr)) CostRatio
        ,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.CostRatio), 100 * tpc.cost/NULLIF(tpc.totalsales,0)) CostRatio
        ,TotalClaim DnClaim
        ,(round(pr.Investment, 0)-ISNULL(TotalClaim,0)) RemainingBalance
        ,TotalPaid DnPaid
        ,pr.StartPromo
        ,pr.EndPromo
        ,datediff(day,pr.CreateOn,pr.StartPromo) Gap
        ,CONCAT('H-', pr.late_submission_day) submission_deadline
		,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < pr.late_submission_day,0,1) OnTime
        ,IIF(tpa.shortdesc='DC' OR pr.period>=2025,'---', pr.TsCoding) TsCoding
        ,brand.BrandDesc
        ,IIF(tpa.shortdesc='DC','---', sku.SKUDesc)SKUDesc
        ,IIF(tpa.shortdesc='DC',0, ISNULL(tpp.id, 0)) PromoPlanId
        ,ISNULL(tpp.RefId, '---') as PromoPlanRefId
        ,ISNULL(pr.IsClose, 0) as ClosureStatus
		,IIF(ISNULL(pr.Reconciled,0)=0, 'Waiting recon', IIF(pr.endpromo>@utcDate123, 'Ready to recon', 'Reconciled')) ReconStatus
        --,IIF(ISNULL(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar) + ' by ' + ISNULL(Reconciledby,''), 'Not yet Reconciled') as ReconStatus
--        ,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + pr.CancelBy + '-' + pr.CancelByName + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + pr.ApproverReconName +' on ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', pr.LastStatusRecon + ' on ' + CAST(pr.ActionDateRecon as varchar), pr.LastStatusRecon + '-' + pr.ApproverReconName + ' on ' + CAST(pr.RequestDateRecon as varchar) ))), 'BY', 'by') LastReconStatus
        ,ISNULL(pr.LastReconStatus,'---') LastReconStatus
        , tpa.SubactivityTypeId
        , tpa.SubactivityTypeRefId
        , tpa.SubactivityType
        ,pr.CancelReason
        ,pr.actual_sales
        , pr.initiator_notes
        ,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendback_notes
        ,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendback_notes_date
        --,pr.sendback_notes
        --,pr.sendback_notes_date
        ,ISNULL(tmit.InvestmentTypeId,'-') InvestmentTypeId
	    ,ISNULL(tit2.RefId,'---') InvestmentTypeRefId
	    ,ISNULL(tit2.LongDesc,'---') InvestmentTypeDesc
	    ,ISNULL(pr.InvestmentTypeId,'-') InvestmentTypeId_promo
	    ,ISNULL(tit.RefId,'---') InvestmentTypeRefId_promo
	    ,ISNULL(tit.LongDesc,'---') InvestmentTypeDesc_promo
	    ,round(pr.investment, 0) investmentBfrClose --issue #839
	    ,iif(ISNULL(pr.isclose,0)=0, 0, round(pr.investment, 0)-ISNULL(dn.TotalPaid, 0)) investmentClosedBalance --issue #839
		,pr.categoryId
		,pr.categoryShortDesc
		,pr.categoryLongDesc
		, IIF (groupbrand.groupBrandDesc IS NULL, mbg.longdesc, groupbrand.groupBrandDesc)groupBrandDesc

		, pr.budgetApprovalStatus
		, pr.budgetApprovalStatusOn
		, pr.budgetApprovalStatusBy
		, pr.budgetDeployStatus
		, pr.budgetDeployStatusOn
		, pr.budgetDeployStatusBy

		--, ISNULL(prbs.LastStatus, '---') budgetApprovalStatus
		--, CASE prbs.LastStatusCode
		--		WHEN 'TP01' THEN '---'
		--		WHEN 'TP02' THEN ISNULL(CONVERT(VARCHAR(10), IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequeston, prbs.ApprovedOn), 105),'---')
		--		WHEN 'TP03' THEN ISNULL(CONVERT(VARCHAR(10), prbs.ApprovedOn, 105),'---')
		--		WHEN 'TP04' THEN ISNULL(CONVERT(VARCHAR(10), prbs.RejectedOn, 105),'---')
		--		ELSE '---'
		--	END budgetApprovalStatusOn
--		, CASE prbs.LastStatusCode
--			WHEN 'TP01' THEN '---'
--			WHEN 'TP02' THEN ISNULL(IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequestby, prbs.Approvedby),'---')
--			WHEN 'TP03' THEN ISNULL(prbs.Approvedby,'---')
--			WHEN 'TP04' THEN ISNULL(prbs.Rejectedby,'---')
--			ELSE '---'
--		END budgetApprovalStatusBy
--		, IIF(prbs.Deployed=0, 'Not Yet Deployed', 'Deployed') budgetDeployStatus
--		,ISNULL(CONVERT(VARCHAR(10), prbs.DeployedOn, 105),'---') budgetDeployStatusOn
--		,ISNULL(prbs.DeployedBy,'---') budgetDeployStatusBy
		, tpa.mainActivity
		, pr.batchId
		--, prbs.batchId
        INTO #temp_result
        FROM #temp_promo pr WITH (NOLOCK)
		INNER JOIN @temp_promo_alloc tpa on pr.Id=tpa.Id 
		LEFT JOIN  tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
		LEFT JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id
		LEFT JOIN tbtrx_promo_calculator tpc WITH(NOLOCK) ON pr.id = tpc.PromoId
        LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) ON pr.InvestmentTypeId = tit.id 
	    LEFT JOIN tbset_map_investment_type tmit  WITH (NOLOCK) ON pr.SubActivityId=tmit.SubactivityId and ISNULL(tmit.IsDeleted,0)=0
	    LEFT JOIN tbmst_investment_type tit2  WITH (NOLOCK) ON tmit.InvestmentTypeId=tit2.id and ISNULL(tit2.IsDeleted,0)=0
		INNER JOIN #temp_promo_channel channel ON pr.Id = channel.PromoId
		LEFT JOIN #temp_promo_subchannel subchannel ON pr.Id = subchannel.PromoId
		LEFT JOIN #temp_promo_account account ON pr.Id = account.PromoId
		LEFT JOIN #temp_promo_subaccount subaccount ON pr.Id = subaccount.PromoId
		LEFT JOIN #temp_promo_sendback_notes_last note ON pr.id = note.ParentId
		----LEFT JOIN vw_promo_sendback_notes_last note ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
    --    INNER JOIN
    --    (
    --      SELECT PromoId, STRING_AGG(chn.LongDesc,' ,') ChannelDesc
    --                FROM tbtrx_promo_channel a WITH (NOLOCK)
    --                INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
  		--			INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
    --            WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
		  --GROUP BY a.PromoId
    --    ) channel
    --    ON pr.Id = channel.PromoId
   --     LEFT JOIN
   --     (
   --         SELECT PromoId, STRING_AGG(subchn.LongDesc,' ,') SubChannelDesc
			--FROM tbtrx_promo_subchannel a WITH (NOLOCK)
   --                     INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
   --                  INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
   --             GROUP BY a.PromoId
   --     ) subchannel
   --     ON pr.Id = subchannel.PromoId
        --LEFT JOIN
        --(
        --    SELECT PromoId, STRING_AGG(ac.LongDesc,' ,') AccountDesc
        --                FROM tbtrx_promo_account a WITH (NOLOCK)
        --                INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
        --                INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
        --        GROUP BY a.PromoId
        --) account
        --ON pr.Id = account.PromoId
        --LEFT JOIN
        --(
        --    SELECT PromoId, STRING_AGG(sac.LongDesc,' ,') SubAccountDesc
        --                FROM tbtrx_promo_subaccount a WITH (NOLOCK)
        --                INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
        --                INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
        --        GROUP BY a.PromoId
        --) subaccount
        --ON pr.Id = subaccount.PromoId
		LEFT JOIN tbhlp_promo_region region ON pr.Id = region.PromoId
		LEFT JOIN #temp_brand brand ON pr.Id = brand.PromoId
		LEFT JOIN #temp_sku sku ON pr.Id = sku.PromoId
		--LEFT JOIN tbhlp_promo_brand brand ON pr.Id = brand.PromoId
		--LEFT JOIN tbhlp_promo_product sku ON pr.Id = sku.PromoId
        LEFT JOIN #tmp_dn dn ON pr.Id=dn.PromoId
        LEFT JOIN tbtrx_promo_planning tpp ON pr.PromoPlanId = tpp.id        
		LEFT JOIN #temp_promo_groupbrand groupbrand ON pr.id = groupbrand.promoid	
        --LEFT JOIN (
		--	select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
		--	FROM
		--	(
		--			SELECT distinct 
		--				b.PromoId, a.longDesc
		--			FROM tbmst_brand_group a
		--			INNER JOIN 
		--			(
		--				select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
		--				INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId 
		--				INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId
		--				INNER JOIN tbtrx_allocation_brand d WITH (NOLOCK) ON b.BrandId=d.BrandId AND pr.allocationid=d.allocationid
		--			) b on a.Id=b.BrandGroupId
		--	) groupbrand
		--	group by groupbrand.promoid
		--) groupbrand ON pr.id = groupbrand.promoid	
		LEFT JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
		--LEFT JOIN tbtrx_promo_budget_status prbs ON pr.Id = prbs.PromoId
		OPTION (MAXDOP 4);

        /**********************
            start pagination
         **********************/
        IF @length = -1
			BEGIN
                IF @txtSearch is null
       BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC
                END
                ELSE
                BEGIN
              SELECT * FROM #temp_result
                    WHERE
                        (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
                    (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
      (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
                (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
                   (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
        (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
      (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubactivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC
                END
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
                ELSE
                BEGIN
                    SELECT * FROM #temp_result
                    WHERE
                        (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
     (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
    (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
 (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
      (ISNULL(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubactivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
			END
        SET @recordsFiltered = (SELECT ISNULL(count( [PromoNumber]),0) FROM #temp_result
        WHERE
            (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
            (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
    (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
            (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
            (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
      (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
            (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubactivityType,'') like '%' + @txtSearch + '%')
        )

        SELECT ISNULL(count(PromoNumber),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        /**********************
            end pagination
         **********************/
    /****************************/
    /****************************/

    DROP TABLE IF EXISTS #tmp_dn
	DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;

	DROP TABLE IF EXISTS #temp_promo_channel
	DROP TABLE IF EXISTS #temp_promo_subchannel
	DROP TABLE IF EXISTS #temp_promo_account
	DROP TABLE IF EXISTS #temp_promo_subaccount
	DROP TABLE IF EXISTS #temp_promo_groupbrand
	DROP TABLE IF EXISTS #temp_promo_sendback_notes_last;
END

GO
