

/****** Object:  StoredProcedure [dbo].[ip_promo_historical_movement_new]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_historical_movement_new] --'2020',3,1,0,'5','scsh1'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

AS

--declare
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel varchar(50)
--,@userid varchar(50)

--set @periode =2022
--set @entity =0
--set @distributor =0
--set @budgetparent =0
--set @channel =0
--set @userid ='admin'


BEGIN

declare @alloc as table
(
	allocationid int
)


insert into @alloc
select AllocationId from vw_budget_vs_user where Id=@userid

	SELECT 
	a.CreateOn
--EDJ 2020-06-18	,ChannelDesc
--EDJ 2020-06-18	,AccountDesc
--EDJ 2020-06-18
	,channel.ChannelDesc
	,account.AccountDesc
--EDJ 2020-06-18
	--,Id
	,c.LongDesc
	,pr.RefId
	,pr.ActivityDesc
	,a.CreateBy
	,isnull(CAST(LAG(TotSales) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') TotSalesBefore
	,TotSales TotSalesAfter
	,isnull(CAST(LAG(TotInvest) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') TotInvestBefore
	,TotInvest TotInvestAfter
	,isnull(CAST(LAG(a.StartPromo) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') StartPromoBefore
	,a.StartPromo StartPromoAfter
	,isnull(CAST(LAG(a.EndPromo) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') EndPromoBefore
	,a.EndPromo EndPromoAfter
	FROM tbtrx_promo_request_approval a
	left join tbtrx_promo pr on a.Parentid=pr.id 
--EDJ 2020-06-18	left join vw_promo_attribute b on a.ParentId=b.PromoId
--EDJ 2020-06-18
	left join
			(
				select PromoId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel
			on a.ParentId = channel.PromoId
	left join
			(
				select PromoId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_account a
							join tbmst_account chn
							ON a.AccountId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
					FROM tbtrx_promo_account b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) account
			on a.ParentId = account.PromoId
--EDJ 2020-06-18
	left join tbtrx_allocation c on a.AllocationId=c.Id
	inner join @alloc d on d.allocationId=c.Id
	inner join vw_budget_vs_entity e on e.AllocationId=d.allocationid 	
	inner join vw_budget_vs_channel f on f.alcid=e.AllocationId
	inner join vw_budget_last_layer g on g.Id=f.AlcId
	where IIF(@entity=0,0,@entity)=IIF(@entity=0,0,e.EntityId)
	AND IIF(@channel=0,0,@channel)=IIF(@channel=0,0,f.Id)

END

GO
