USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_tt_control_rc_dc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_tt_control_rc_dc] 
	@period INT
	, @category varchar(5)
	, @groupbrandid int
	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS

--DECLARE
--	@period INT
--	, @category varchar(5)
--	, @groupbrandid int
--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--SET @period = 2025
--SET @category='RC'
--SET @groupbrandid = 0
--SET @start = 0
--SET @length = -1
--SET @filter = null
--SET @txtSearch = null

BEGIN
DROP TABLE IF EXISTS #tmpchannel
DROP TABLE IF EXISTS #tmpContractual
DROP TABLE IF EXISTS #tmpDCNoTT
DROP TABLE IF EXISTS #tmpDCTT
DROP TABLE IF EXISTS #tmpNonContractual
DROP TABLE IF EXISTS #tmpssvalue
DROP TABLE IF EXISTS #tmpTTControl
DROP TABLE IF EXISTS #tmpTTControlSum

	SET @start = @start * @length


DROP TABLE IF EXISTS #tmpchannel
DROP TABLE IF EXISTS #tmpssvalue
DROP TABLE IF EXISTS #tmpTTControl
DROP TABLE IF EXISTS #tmpTTControlSum
DROP TABLE IF EXISTS #tmpContractual
DROP TABLE IF EXISTS #tmpNonContractual

DROP TABLE IF EXISTS #tmpDCTT
DROP TABLE IF EXISTS #tmpDCNoTT

DECLARE @recordsFiltered int;

	DECLARE @detail TABLE (
		urut int
		, categoryShortDesc varchar(255)
		, channelId int
		, channelDesc varchar(255)
		, accountId int
		, accountDesc varchar(255)
		, fySs float
		, subActivityId int
		, subActivityDesc varchar(255)
		, ttRate float
		, fyTtBudget float
		, fyTtCostSubmitted float
		, ttGap float
		, adhocCost float
		, budgetStatus varchar(255)
		, urut1 varchar(255)

	)

SELECT DISTINCT ChannelId, ChannelDesc, AccountId, AccountDesc, SubAccountId, SubAccountDesc INTO #tmpchannel FROM vw_account 
--where AccountId=45


/*CONTRACTUAL*/
/*SS VOLUME*/
	SELECT  ssv.period, ssv.accountid, ssv.subaccountid, ssv.groupbrandid, ssv.channelid, ChannelDesc, Accountdesc,SubAccountDesc,
		SUM(ISNULL(ssv.m1, 0) * ISNULL(sscr.m1, 0))  +  SUM(ISNULL	(ssv.m2, 0) * ISNULL(sscr.m2, 0))  +  SUM(ISNULL	(ssv.m3, 0) * ISNULL(sscr.m3, 0))  +  SUM(ISNULL	(ssv.m4, 0) * ISNULL(sscr.m4, 0)) + 
		SUM(ISNULL(ssv.m5, 0) * ISNULL(sscr.m5, 0))  +  SUM(ISNULL	(ssv.m6, 0) * ISNULL(sscr.m6, 0))  +  SUM(ISNULL	(ssv.m7, 0) * ISNULL(sscr.m7, 0))  +  SUM(ISNULL	(ssv.m8, 0) * ISNULL(sscr.m8, 0)) +  
		SUM(ISNULL(ssv.m9, 0) * ISNULL(sscr.m9, 0))  +  SUM(ISNULL	(ssv.m10, 0) * ISNULL(sscr.m10, 0))  +  SUM(ISNULL	(ssv.m11, 0) * ISNULL(sscr.m11, 0))  +  SUM(ISNULL	(ssv.m12, 0) * ISNULL(sscr.m12, 0)) FY
	INTO #tmpssvalue
	FROM tbtrx_ss_volume ssv
	INNER JOIN tbtrx_ss_conversion_rate sscr on 
		ssv.period = sscr.period 
		AND ssv.channelid = sscr.channelid 
		AND ssv.subchannelid = sscr.subChannelId 
		AND ssv.groupbrandid = sscr.groupbrandid
	INNER JOIN #tmpchannel tcha ON ssv.subaccountid = tcha.SubAccountId
	WHERE ssv.period = @period
	AND IIF(@groupbrandid=0, 0, ssv.groupbrandid) =IIF(@groupbrandid=0, 0, @groupbrandid)
	GROUP BY ssv.period, ssv.accountid, ssv.subaccountid, ssv.groupbrandid, ssv.channelid, ChannelDesc, Accountdesc,SubAccountDesc

/* REF
urut, categoryShortDesc, channelId, channelDesc, accountId, accountDesc, fySs, subActivityId, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted, ttGap, adhocCost, budgetStatus
0, '', 0, '', 0, '', 0, 0, '', 0, 0, 0, 0, 0, ''
0 urut, '' categoryShortDesc, 0 channelId, '' channelDesc, 0 accountId, '' accountDesc, 0 fySs, 0 subActivityId, '' subActivityDesc, 0 ttRate, 0 fyTtBudget, 0 fyTtCostSubmitted, 0 ttGap, 0 adhocCost, '' budgetStatus

*/
/*CONTRCTUAL TT*/
INSERT INTO @detail
select 
	0 , 'RC', ChannelId, channelDesc, AccountId, accountDesc, fySs, subActivityId, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted, 0, 0, budgetStatus
	,CONCAT(channelDesc,0)
	from (
		SELECT 
			A.ChannelId, a.ChannelDesc, a.AccountId, a.AccountDesc, a.SubAccountDesc, subActivityDesc , ssv.FY fyss
			,tt.ttrate, tt.fyttbudget, tt.fyTtCostSubmitted, tt.budgetStatus, subactivityid
		FROM #tmpchannel a
		INNER join #tmpssvalue ssv on a.SubAccountId = ssv.subaccountid --and ISNULL(ssv.FY,0)<>0
		INNER join (
			SELECT  
				IIF(mc.ShortDesc = 'DC', 'DC', 'RC') categoryShortDesc,
				sstt.ChannelId,
				ChannelDesc, 
				sstt.AccountId, 
				AccountDesc, 
				sstt.subaccountid, 
				sstt.subactivityid, 
				mact.subActivityDesc, 
				sstt.tt ttRate,
				ROUND(sstt.tt * tssv.FY / 100,0) fyTtBudget, 
				ISNULL(tpr.cost,0) fyTtCostSubmitted, 
				IIF(isnull(tpr.budgetstatus, '') = '', 'Not yet deployed', tpr.budgetStatus) budgetStatus,
				sstt.groupbrandid
			FROM tbtrx_ss_tt sstt
			INNER JOIN tbmst_category mc ON sstt.categoryid = mc.id
			INNER JOIN vw_activity mact ON sstt.subactivityid = mact.SubActivityId
			INNER JOIN #tmpssvalue tssv ON 
				sstt.subaccountid=tssv.subaccountid AND sstt.groupbrandid=tssv.groupbrandid
				AND sstt.period=tssv.period
			LEFT JOIN (
				SELECT tpr.Id promoid, tpr.Period, tpr.AllocationId, tpr.DistributorId, tpr.GroupBrandId, tpr.SubActivityId, pracc.AccountId, prsacc.SubAccountId, prcal.cost, IIF(tpbs.deployed = 0, 'Not yet deployed', 'Deployed') budgetStatus
					FROM tbtrx_promo tpr 
					INNER JOIN tbtrx_promo_calculator prcal ON tpr.Id=prcal.PromoId AND ISNULL(tpr.iscancel,0)=0
					INNER JOIN tbtrx_promo_account pracc ON prcal.PromoId = pracc.PromoId
					INNER JOIN tbtrx_promo_subaccount prsacc ON prcal.PromoId = prsacc.PromoId
					INNER JOIN tbtrx_promo_budget_status tpbs ON tpr.id = tpbs.PromoId
				)tpr ON sstt.id = tpr.AllocationId
					--sstt.period=tpr.Period
					--AND sstt.subactivityid=tpr.SubActivityId AND sstt.subaccountid = tpr.SubAccountId 
					--AND sstt.groupbrandid=tpr.GroupBrandId AND sstt.distributorId = tpr.DistributorId
			WHERE sstt.period = @period
			AND mc.ShortDesc <> 'DC'
			) tt ON tt.subaccountid=ssv.subaccountid and tt.groupbrandid=ssv.groupbrandid
	)a

/*CONTRCTUAL TT TRADING TERM*/
INSERT INTO @detail
select 
	0, 'RC', ChannelId, channelDesc, AccountId, accountDesc, fySs, subActivityId, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted, 0, 0, budgetStatus
	,CONCAT(channelDesc,0)
	from (
		SELECT 
			A.ChannelId, a.ChannelDesc, a.AccountId, a.AccountDesc, a.SubAccountDesc, ISNULL(subActivityDesc,'')subActivityDesc , ssv.FY fyss
			,tt.ttrate, tt.fyttbudget, tt.fyTtCostSubmitted, tt.budgetStatus, subactivityid
		FROM #tmpchannel a
		INNER join #tmpssvalue ssv on a.SubAccountId = ssv.subaccountid --and ISNULL(ssv.FY,0)<>0
		INNER join (
			SELECT  
				IIF(mc.ShortDesc = 'DC', 'DC', 'RC') categoryShortDesc,
				sstt.ChannelId,
				ChannelDesc, 
				sstt.AccountId, 
				AccountDesc, 
				sstt.subaccountid, 
				tpr.subactivityid, 
				tpr.subActivityDesc, 
				sstt.tt ttRate,
				ROUND(sstt.tt * tssv.FY / 100,0) fyTtBudget, 
				ISNULL(tpr.cost,0) fyTtCostSubmitted, 
				IIF(isnull(tpr.budgetstatus, '') = '', 'Not yet deployed', tpr.budgetStatus) budgetStatus,
				sstt.groupbrandid
			FROM tbtrx_ss_tt sstt
			INNER JOIN tbmst_category mc ON sstt.categoryid = mc.id
			INNER JOIN tbmst_activity mact ON sstt.activityid = mact.Id AND sstt.subactivityid=0
			INNER JOIN #tmpssvalue tssv ON 
				sstt.subaccountid=tssv.subaccountid AND sstt.groupbrandid=tssv.groupbrandid
				AND sstt.period=tssv.period
			LEFT JOIN (
				SELECT tpr.Id promoid, tpr.Period, tpr.AllocationId, tpr.DistributorId, tpr.GroupBrandId, tpr.SubActivityId, msa.LongDesc subactivitydesc, pracc.AccountId, prsacc.SubAccountId, prcal.cost, IIF(tpbs.deployed = 0, 'Not yet deployed', 'Deployed') budgetStatus
					FROM tbtrx_promo tpr 
					INNER JOIN tbtrx_promo_calculator prcal ON tpr.Id=prcal.PromoId AND ISNULL(tpr.iscancel,0)=0
					INNER JOIN tbtrx_promo_account pracc ON prcal.PromoId = pracc.PromoId
					INNER JOIN tbtrx_promo_subaccount prsacc ON prcal.PromoId = prsacc.PromoId
					INNER JOIN tbtrx_promo_budget_status tpbs ON tpr.id = tpbs.PromoId
					INNER JOIN tbmst_subactivity msa ON tpr.SubActivityId=msa.Id
				)tpr ON sstt.id = tpr.AllocationId
					--sstt.period=tpr.Period
					--AND sstt.subactivityid=tpr.SubActivityId AND sstt.subaccountid = tpr.SubAccountId 
					--AND sstt.groupbrandid=tpr.GroupBrandId AND sstt.distributorId = tpr.DistributorId
			WHERE sstt.period = @period
			AND mc.ShortDesc <> 'DC'
			) tt ON tt.subaccountid=ssv.subaccountid and tt.groupbrandid=ssv.groupbrandid
	)a

/*CONTRACTUAL NON TT*/
INSERT INTO @detail
select 
	0, 'RC', ChannelId, channelDesc, AccountId, accountDesc, fySs, subActivityId, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted, 0, 0, budgetStatus
	,CONCAT(channelDesc,0)
	from (
		SELECT 
			A.ChannelId, a.ChannelDesc, a.AccountId, a.AccountDesc, a.SubAccountDesc, subActivityDesc , ssv.FY fyss
			,0 ttrate, 0 fyttbudget, tpr.fyTtCostSubmitted, tpr.budgetStatus, subactivityid
		FROM #tmpchannel a
		INNER join #tmpssvalue ssv on a.SubAccountId = ssv.subaccountid and ISNULL(ssv.FY,0)<>0
		INNER join (
			SELECT  tpr.period,
				IIF(mc.ShortDesc = 'DC', 'DC', 'RC') categoryShortDesc,
				prcha.ChannelId,
				pracc.AccountId, 
				prsacc.subaccountid, 
				tpr.subactivityid, 
				mact.subActivityDesc, 
				ISNULL(prcal.cost,0) fyTtCostSubmitted, 
				IIF(tpbs.deployed = 0, 'Not yet deployed', 'Deployed') budgetStatus,
				tpr.groupbrandid
			FROM tbtrx_promo tpr
				INNER JOIN tbtrx_promo_calculator prcal ON tpr.Id=prcal.PromoId
				INNER JOIN tbtrx_promo_channel prcha ON prcal.PromoId = prcha.PromoId
				INNER JOIN tbtrx_promo_account pracc ON prcal.PromoId = pracc.PromoId
				INNER JOIN tbtrx_promo_subaccount prsacc ON prcal.PromoId = prsacc.PromoId
				INNER JOIN tbtrx_promo_budget_status tpbs ON tpr.id = tpbs.PromoId
				INNER JOIN tbmst_category mc ON tpr.categoryid = mc.id
				INNER JOIN vw_activity mact ON tpr.subactivityid = mact.SubActivityId
				INNER JOIN tbmst_subactivity msa ON tpr.SubActivityId = msa.Id
				INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.Id AND msat.LongDesc = 'CONTRACTUAL'
				--INNER JOIN #tmpssvalue tssv ON prsacc.subaccountid=tssv.subaccountid AND tpr.groupbrandid=tssv.groupbrandid
				--AND tpr.period=tssv.period
			where tpr.Period=@period AND tpr.CategoryShortDesc <> 'DC' AND ISNULL(AllocationId,0)=0 AND ISNULL(tpr.iscancel,0)=0
			)tpr ON tpr.period = ssv.period AND tpr.AccountId = ssv.accountid AND ssv.groupbrandid = tpr.GroupBrandId
		WHERE tpr.period = @period
	)a


/*NON CONTRCTUAL */

SELECT 
		a.channelid, a.ChannelDesc, a.Accountid, a.AccountDesc, nc.subactivityid, nc.subActivityDesc, 
		adhocCost, budgetStatus
	INTO #tmpNonContractual
	FROM #tmpchannel a
	INNER JOIN (
			SELECT 
				chn.channelId, chn.ChannelDesc, chn.AccountId, chn.AccountDesc, chn.SubAccountId, tpr.SubActivityId, msact.LongDesc subActivityDesc
				, (prcal.cost) adhocCost, IIF(isnull(tpbs.deployed, 0) = 0, 'Not yet deployed', 'Deployed') budgetStatus, tpr.GroupBrandId
			FROM tbtrx_promo tpr 
			INNER JOIN tbtrx_promo_calculator prcal ON tpr.Id=prcal.PromoId
			INNER JOIN tbtrx_promo_account pracc ON prcal.PromoId = pracc.PromoId
			INNER JOIN #tmpchannel chn ON pracc.AccountId = chn.AccountId
			INNER JOIN tbmst_subactivity msact ON tpr.SubActivityId = msact.Id
			INNER JOIN tbmst_subactivity_type msat ON msact.SubActivityTypeId = msat.Id AND msat.LongDesc = 'Non Contractual'
			INNER JOIN tbtrx_promo_budget_status tpbs ON tpr.id = tpbs.PromoId
			WHERE tpr.period = @period AND ISNULL(tpr.iscancel,0)=0
			AND tpr.categoryShortDesc <> 'DC'
			AND IIF(@groupbrandid=0, 0, tpr.groupbrandid) =IIF(@groupbrandid=0, 0, @groupbrandid)
		)nc ON a.SubAccountId = nc.SubAccountId 
	INNER JOIN 	#tmpssvalue ssv on a.SubAccountId = ssv.subaccountid AND ssv.groupbrandid = nc.GroupBrandId and ISNULL(ssv.FY,0)<>0


	MERGE @detail t
	USING (
		select * from #tmpnoncontractual
		)s
	ON (s.channelid = t.channelid and s.accountId = t.accountId and s.subactivityid = t.subactivityid AND s.budgetstatus = t.budgetstatus)
	WHEN MATCHED THEN
	UPDATE SET t.adhoccost= s.adhoccost
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (urut, categoryShortDesc, channelId, channelDesc, accountId, accountDesc, fySs, subActivityId, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted, ttGap, adhocCost, budgetStatus, urut1)
	VALUES (0, 'RC', s.channelid, s.channelDesc, s.accountId, s.accountDesc, 0, s.subactivityid, s.subactivitydesc, 0, 0, 0, 0, s.adhoccost, s.budgetstatus,CONCAT(channelDesc,0))
	;

INSERT INTO @detail
	select 
		0 , 'RC', a.ChannelId, a.channelDesc, a.AccountId, a.accountDesc, SUM(ISNULL(fy,0)) fySs, 0 subActivityId, '' subActivityDesc, 0 ttRate, 0 fyTtBudget, 0 fyTtCostSubmitted, 0, 0, '' budgetStatus
		,CONCAT(a.ChannelDesc,0)
	FROM #tmpchannel a
	LEFT JOIN 	#tmpssvalue ssv on a.SubAccountId = ssv.subaccountid and ISNULL(ssv.FY,0)<>0
	where a.AccountId not in (select accountid from @detail)
	GROUP BY a.ChannelId, a.channelDesc, a.AccountId, a.accountDesc

SELECT urut, '' categoryShortDesc, '' channelId, channelDesc, '' accountId, accountDesc, max(isnull(fySs,0)) fySs, '' subActivityId, subActivityDesc
		, ISNULL(ROUND((100*sum(isnull(fyTtBudget, 0))/max(NULLIF(fySs,0))),2),0) ttRate, sum(isnull(fyTtBudget, 0)) fyTtBudget, sum(isnull(fyTtCostSubmitted, 0)) fyTtCostSubmitted, sum(isnull(fyTtBudget, 0))-sum(isnull(fyTtCostSubmitted, 0)) ttGap
		, sum(isnull(adhocCost, 0)) adhocCost, budgetStatus
		,urut1
	INTO #tmpTTControlSum
	FROM @detail
	GROUP BY urut1, urut, channelDesc, accountDesc, subActivityDesc, budgetStatus

	UPDATE #tmpTTControlSum set ttGap = fyTtBudget - fyTtCostSubmitted
	UPDATE a set a.fySs = b.fyss
	FROM #tmpTTControlSum a
	INNER JOIN ( select ChannelDesc,AccountDesc, SUM(fy) fyss from #tmpssvalue group by ChannelDesc,AccountDesc) b on a.accountDesc= b.AccountDesc AND a.channelDesc = b.ChannelDesc
	
	--INSERT INTO #tmpTTControlSum
	--SELECT 1 urut, '', '', CONCAT('Total ', channelDesc) channelDesc, '' accountId, '' accountDesc, max(isnull(fySs,0)) fySs, '' subActivityId, '' subActivityDesc
	--	, ISNULL(ROUND((100*sum(isnull(fyTtBudget, 0))/max(NULLIF(fySs,0))),2),0) ttRate, sum(isnull(fyTtBudget, 0)) fyTtBudget, sum(isnull(fyTtCostSubmitted, 0)) fyTtCostSubmitted, sum(isnull(ttGap, 0)) ttGap
	--	--, sum(isnull(ttRate, 0)) ttRate, sum(isnull(fyTtBudget, 0)) fyTtBudget, sum(isnull(fyTtCostSubmitted, 0)) fyTtCostSubmitted, sum(isnull(ttGap, 0)) ttGap
	--	, sum(isnull(adhocCost, 0)) adhocCost, '' budgetStatus
	--FROM @detail
	--GROUP BY urut, channelDesc

	INSERT INTO #tmpTTControlSum
	Select 
		1 urut, '', '', CONCAT('Total ', a.channelDesc) channelDesc, '' accountId, '' accountDesc, SUM(isnull(fySs,0)) fySs, '' subActivityId, '' subActivityDesc
		, 0 ttRate, 0 fyTtBudget, 0 fyTtCostSubmitted, 0 ttGap
		, 0 adhocCost, '' budgetStatus
		,CONCAT(a.ChannelDesc,1) urut1
	from #tmpchannel a
	LEFT JOIN ( select ChannelDesc,AccountDesc, SUM(fy) fyss from #tmpssvalue group by ChannelDesc,AccountDesc) b 
		on a.accountDesc= b.AccountDesc AND a.channelDesc = b.ChannelDesc
	GROUP BY a.ChannelDesc

	UPDATE a
		SET
			a.ttrate=b.ttRate, a.fyttbudget=b.fyTtBudget, a.fyTtCostSubmitted = b.fyTtCostSubmitted, a.ttgap = b.ttGap, a.adhoccost = b.adhocCost
	FROM #tmpTTControlSum a
	INNER JOIN (
		SELECT CONCAT(channelDesc,1) urut1, 1 urut, CONCAT('Total ', channelDesc) channelDesc
			, ISNULL(ROUND((100*sum(isnull(fyTtBudget, 0))/max(NULLIF(fySs,0))),2),0) ttRate
			, sum(isnull(fyTtBudget, 0)) fyTtBudget
			, sum(isnull(fyTtCostSubmitted, 0)) fyTtCostSubmitted
			, sum(isnull(fyTtBudget, 0)) - sum(isnull(fyTtCostSubmitted, 0)) ttGap
			, sum(isnull(adhocCost, 0)) adhocCost, '' budgetStatus
		FROM @detail
		GROUP BY urut, urut1, channelDesc
	)b ON a.urut = b.urut AND a.channeldesc =  b.channelDesc


	/**********************
		start pagination
    **********************/
    IF @length = -1
	BEGIN
		IF @txtSearch is null
		BEGIN
            SELECT * FROM #tmpTTControlSum
            ORDER BY urut1, channelDesc, accountDesc, subActivityDesc
        END
        ELSE
        BEGIN
              SELECT * FROM #tmpTTControlSum
                    WHERE
                        (ISNULL(channeldesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(accountdesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(subactivitydesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
                        (ISNULL(budgetstatus,'') like '%' + isnull(@txtSearch, '') + '%')
                    ORDER BY urut1, channelDesc, accountDesc, subActivityDesc
                END
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #tmpTTControlSum
                    ORDER BY urut1, channelDesc, accountDesc, subActivityDesc OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
                ELSE
                BEGIN
                    SELECT * FROM #tmpTTControlSum
                    WHERE
                        (ISNULL(channeldesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(accountdesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(subactivitydesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
                        (ISNULL(budgetstatus,'') like '%' + isnull(@txtSearch, '') + '%')
                    ORDER BY urut1, channelDesc, accountDesc, subActivityDesc OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
			END
        SET @recordsFiltered = (SELECT ISNULL(count( urut),0) FROM #tmpTTControlSum
        WHERE
            (ISNULL(channeldesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(accountdesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(subactivitydesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
            (ISNULL(budgetstatus,'') like '%' + isnull(@txtSearch, '') + '%')
        )

        SELECT ISNULL(count(urut),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #tmpTTControlSum
        /**********************
            end pagination
         **********************/
DROP TABLE IF EXISTS #tmpchannel
DROP TABLE IF EXISTS #tmpContractual
DROP TABLE IF EXISTS #tmpDCNoTT
DROP TABLE IF EXISTS #tmpDCTT
DROP TABLE IF EXISTS #tmpNonContractual
DROP TABLE IF EXISTS #tmpssvalue
DROP TABLE IF EXISTS #tmpTTControl
DROP TABLE IF EXISTS #tmpTTControlSum
HELL:
END
GO
