USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_get_tax_level]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_get_tax_level]   --  2, 'Non WHT Object'
@entityId int,
@whtType varchar(50)=''
as						
BEGIN						
						select 
	                        mt.id
	                        , mt.MaterialNumber taxLevel
	                        , mt.Description
	                        , mt.WHT_Type
	                        , mt.WHT_Code
	                        , mt.Purpose
	                        , mt.EntityId
	                        , mp.LongDesc Entity
	                        , mt.PPNPct 
                            , mt.PPHPct

                        from tbset_mapping_material mt
                        inner join tbmst_principal mp on mt.EntityId = mp.Id 
                        WHERE mt.EntityId = @entityId AND 
							CASE 
								WHEN @whtType<>'' AND @whtType = 'Non WHT Object' THEN 
									CASE 
										WHEN ISNULL(PPHPct,0) = 0 THEN 1 
										ELSE 0 
									END 
								WHEN @whtType<>'' AND @whtType <> 'Non WHT Object' THEN 
									CASE 
										WHEN ISNULL(PPHPct,0) > 0 THEN 1 
										ELSE 0 
									END 
								ELSE 1
							END = 1
                        union all
                        select 
	                        mt.id
	                        , mt.MaterialNumber taxLevel
	                        , mt.Description
	                        , mt.WHT_Type
	                        , mt.WHT_Code
	                        , mt.Purpose
	                        , mt.EntityId
	                        , '' Entity
	                        , mt.PPNPct 
                            , mt.PPHPct
                        from tbset_mapping_material mt 
                        where isnull(mt.EntityId,0)=0
END
GO
