

/****** Object:  StoredProcedure [dbo].[ip_mst_map_product_sap_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_mst_map_product_sap_list_dl]
as
BEGIN
	SELECT        
		Id, 
		ProductId, 
		Product, 
		PrincipalId, 
		Principal, 
		BrandId, 
		Brand, 
		IsActive, 
		CreateOn, 
		CreateBy, 
		CreatedEmail,
		isDelete, 
		DeleteOn, 
		DeleteBy,
		DeleteEmail,
		SAPCode
	FROM
		(
			SELECT        
				t.Id, 
				t.ProductId, 
				p.LongDesc     Product, 
				p.PrincipalId, 
				pr.LongDesc AS Principal, 
				p.BrandId, 
				b.LongDesc  AS Brand, 
				p.IsActive, 
				t.CreateOn, 
				t.CreateBy, 
				t.CreatedEmail,
				t.isDelete, 
				t.DeleteOn, 
				t.DeleteBy,
				t.DeleteEmail,
				t.SAPCode
			FROM            
				tbset_map_product_sap t 
				INNER JOIN tbmst_product   p  ON t.ProductId   = p.Id 
				INNER JOIN tbmst_principal pr ON p.PrincipalId = pr.Id 
				INNER JOIN tbmst_brand     b  ON p.BrandId     = b.Id

			UNION ALL

			SELECT        
				t.ParentId     id, 
				t.ProductId, 
				p.LongDesc     Product, 
				p.PrincipalId, 
				pr.LongDesc AS Principal, 
				p.BrandId, 
				b.LongDesc  AS Brand, 
				p.IsActive, 
				t.CreateOn, 
				t.CreateBy, 
				t.CreatedEmail,
				t.isDelete, 
				t.DeleteOn, 
				t.DeleteBy,
				t.DeleteEmail,
				t.SAPCode
			FROM            
				tbhis_map_product_sap t 
				INNER JOIN tbmst_product   p  ON t.ProductId   = p.Id 
				INNER JOIN tbmst_principal pr ON p.PrincipalId = pr.Id 
				INNER JOIN tbmst_brand     b  ON p.BrandId     = b.Id
		) dl
END



GO
