

/****** Object:  StoredProcedure [dbo].[ip_promo_cancel_request_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_cancel_request_list] --'2023',0,0,0,0,'admin'
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--SET @periode ='2024'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='admin'

--EXEC ip_promo_cancel_request_list @periode ,@entity ,@distributor ,@budgetparent ,@channel ,@userid 


BEGIN
	DECLARE @Temp TABLE
		(
		  BudgetParent int,
		  Levels int,
		  BudgetId int
		)

	DECLARE @p_alcid int, @product_name int
	
	DECLARE cursor_product CURSOR
		FOR SELECT
				Id
			FROM
				tbtrx_allocation WHERE BudgetType='BAL' 
		OPEN cursor_product;
		FETCH NEXT FROM cursor_product INTO
			@product_name
			
	WHILE @@FETCH_STATUS = 0
		BEGIN

		SET @p_alcid=@product_name;
			WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
			AS
				(
					SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) AS BDG_CHILD,1 AS Levels,CAST((Row_Number() OVER (ORDER BY @p_alcid) ) AS Varchar(MAx)) AS RowNumber
					UNION ALL 
					SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() OVER (ORDER BY @p_alcid) ) AS Varchar(MAx)) AS RowNumber FROM tbtrx_budgetassignment a
					INNER JOIN tbtrx_budgetassignment_detail b  ON (a.Id=b.assignmentId)
					INNER JOIN tbtrx_allocation c ON b.Id=c.BudgetSourceId and c.BudgetType='BTR'
					INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				)


			INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				OPTION (maxrecursion 0);

			FETCH NEXT FROM cursor_product INTO
				@product_name

		END;

	CLOSE cursor_product;
	DEALLOCATE cursor_product;

	IF @periode >= 2025
	BEGIN
		SELECT DISTINCT
			pr.Id PromoId
			,r.Id RequestId
			,appr.RequestDate
			,pr.RefId
			,IIF(CAT.ShortDesc='DC', mec.Mechanism, pr.ActivityDesc)ActivityDesc
			,datediff(d,appr.RequestDate,@utcDate123) AgingApproval
			,pr.StartPromo
			,pr.EndPromo
			,pr.CreateBy [Initiator]
			,pr.CreateOn
			,pr.Investment
			,IIF(CAT.ShortDesc='DC', 0, pr.NormalSales + pr.IncrSales) TotalSales
			,IIF(CAT.ShortDesc='DC', '---', pr.TsCoding)TsCoding
			,r.CancelReason
			,channel.ChannelDesc
			,IIF(CAT.ShortDesc='DC', '---', subaccount.SubAccountDesc)SubAccountDesc
			,dn.TotalClaim
			,dn.TotalPaid
			,pr.CreateBy
			,IIF(CAT.ShortDesc='DC', 0, pr.PromoPlanId)PromoPlanId
			,pr.CategoryId
			,cat.ShortDesc categoryShortDesc
			,ISNULL(pr.reconciled,0) reconciled
		FROM tbtrx_promo pr
		INNER JOIN tbmst_brand_group mbg on pr.groupbrandid = mbg.id
		INNER JOIN tbmst_principal mp on mbg.PrincipalId = mp.id
		INNER JOIN tbtrx_promo_channel tpc on pr.id = tpc.PromoId
		INNER JOIN tbmst_category cat ON cat.Id = pr.CategoryId
		INNER JOIN tbtrx_promo_cancel_request r ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
		INNER JOIN tbtrx_promo_cancel_approval appr ON appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
		INNER JOIN
			(
				SELECT PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
					FROM tbtrx_promo_channel a WITH(NOLOCK)
					INNER JOIN tbmst_channel chn WITH(NOLOCK) ON a.ChannelId=chn.Id
					GROUP BY a.PromoId
			) channel ON pr.Id = channel.PromoId
		LEFT JOIN
			(
				SELECT PromoId, STRING_AGG(sac.LongDesc,', ') SubAccountDesc
					FROM tbtrx_promo_subaccount a WITH(NOLOCK)
					INNER JOIN tbmst_subaccount sac WITH(NOLOCK) ON a.subAccountId=sac.Id
					GROUP BY a.PromoId
			) subaccount ON pr.Id = subaccount.PromoId
		INNER JOIN
			(
				SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
					FROM tbtrx_promo_mechanism mec WITH(NOLOCK)
					GROUP BY mec.PromoId
			) mec ON pr.Id = mec.PromoId
		LEFT JOIN
			(
				SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN tbtrx_promo pr ON a.PromoId=pr.Id
					INNER JOIN tbmst_brand_group mbg on pr.groupbrandid = mbg.id
					INNER JOIN tbmst_principal mp on mbg.PrincipalId = mp.id
					WHERE pr.Period=@periode
						AND IIF(@entity=0,'',mbg.PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND ISNULL(a.IsCancel, 0) = 0
					GROUP BY a.PromoId
			) dn ON pr.Id=dn.PromoId	
		WHERE pr.Period=@periode
			AND IIF(@entity=0,'',mbg.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
			AND ISNULL(pr.IsCancel,0)=0
		ORDER BY pr.Id
	END
	ELSE
	BEGIN
		SELECT DISTINCT
			pr.Id PromoId
			,r.Id RequestId
			,appr.RequestDate
			,pr.RefId
			,IIF(CAT.ShortDesc='DC', mec.Mechanism, pr.ActivityDesc)ActivityDesc
			,datediff(d,appr.RequestDate,@utcDate123) AgingApproval
			,pr.StartPromo
			,pr.EndPromo
			,pr.CreateBy [Initiator]
			,pr.CreateOn
			,pr.Investment
			,IIF(CAT.ShortDesc='DC', 0, pr.NormalSales + pr.IncrSales) TotalSales
			,IIF(CAT.ShortDesc='DC', '---', pr.TsCoding)TsCoding
			,r.CancelReason
			,channel.ChannelDesc
			,IIF(CAT.ShortDesc='DC', '---', subaccount.SubAccountDesc)SubAccountDesc
			,dn.TotalClaim
			,dn.TotalPaid
			,pr.CreateBy
			,IIF(CAT.ShortDesc='DC', 0, pr.PromoPlanId)PromoPlanId
			,pr.CategoryId
			,cat.ShortDesc categoryShortDesc 
			,ISNULL(pr.reconciled,0) reconciled
		FROM @temp a
		INNER JOIN tbtrx_promo pr ON a.BudgetId=pr.AllocationId
		INNER JOIN tbmst_category cat ON cat.Id = pr.CategoryId
		INNER JOIN tbtrx_promo_cancel_request r ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
		INNER JOIN tbtrx_promo_cancel_approval appr ON appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
		INNER JOIN tbtrx_allocation c ON a.BudgetId=c.Id
		INNER JOIN tbtrx_budgetmaster m ON c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d ON m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p ON m.PrincipalId=p.Id
		LEFT JOIN tbtrx_allocation_channel chn ON c.Id=chn.AllocationId
		INNER JOIN tbtrx_allocation_useraccess usr ON usr.AllocationId=c.Id
		INNER JOIN tbset_user uo ON uo.Id=usr.UserId
		INNER JOIN tbset_user uf ON uf.Id=usr.UserId
		INNER JOIN
			(
				SELECT PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
					FROM tbtrx_promo_channel a WITH(NOLOCK)
					INNER JOIN tbmst_channel chn WITH(NOLOCK) ON a.ChannelId=chn.Id
					GROUP BY a.PromoId
			) channel ON pr.Id = channel.PromoId
		INNER JOIN
			(
				SELECT PromoId, STRING_AGG(sac.LongDesc,', ') SubAccountDesc
					FROM tbtrx_promo_subaccount a WITH(NOLOCK)
					INNER JOIN tbmst_subaccount sac WITH(NOLOCK) ON a.subAccountId=sac.Id
					GROUP BY a.PromoId
			) subaccount ON pr.Id = subaccount.PromoId
		INNER JOIN
			(
				SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
					FROM tbtrx_promo_mechanism mec WITH(NOLOCK)
					GROUP BY mec.PromoId
			) mec ON pr.Id = mec.PromoId
		LEFT JOIN
			(
				SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN tbtrx_promo pr ON a.PromoId=pr.Id
					INNER JOIN tbtrx_allocation c ON pr.AllocationId=c.Id
					INNER JOIN tbtrx_budgetmaster m ON c.BudgetMasterId=m.Id
					WHERE c.Periode=@periode
						AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr WITH(NOLOCK) WHERE usr.AllocationId=pr.AllocationId AND usr.UserId =@userid)
						AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND ISNULL(a.IsCancel, 0) = 0
					GROUP BY a.PromoId
			) dn ON pr.Id=dn.PromoId	
		WHERE m.Periode=@periode and isnull(pr.period, '') < 2025
			AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent)
			AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			AND ISNULL(pr.IsCancel,0)=0
		ORDER BY pr.Id
	END
END
GO
