USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_investment_type_map_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_investment_type_map_ins]
    @isnew int
    ,@InvestmentType InvestmentMapType READONLY
    ,@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION
    DECLARE
        @messageout varchar(255)

    IF @isnew=1 --insert
    BEGIN
        IF EXISTS
        (
            select 1 as bool
            FROM tbset_map_investment_type a
            inner join @InvestmentType b on a.SubactivityId=b.SubActivityId and a.InvestmentTypeId=b.InvestmentTypeId
        )
        BEGIN
            SET @messageout='Mapping Investment Type is exists'
             RAISERROR (@messageout, -- Message text.
                   16, -- Severity.
                   1 -- State.
                   );
        END
        ELSE
        BEGIN
            insert into tbset_map_investment_type_deleted(id,SubactivityId,InvestmentTypeId,CreateOn,CreateBy,ModifiedOn,ModifiedBy)
            select id,SubactivityId,InvestmentTypeId,CreateOn,CreateBy,@utcDate123,@userid
            from tbset_map_investment_type where SubActivityId IN (select SubActivityId from @InvestmentType)
            
            delete tbset_map_investment_type where SubActivityId IN (select SubActivityId from @InvestmentType)
            insert into tbset_map_investment_type(SubactivityId, InvestmentTypeId, CreateOn, CreateBy)
            select SubActivityId,InvestmentTypeId, @utcDate123, @userid
            from @InvestmentType
        END
    END
    ELSE
    BEGIN
        IF @isnew=3 --deleted
        BEGIN
            insert into tbset_map_investment_type_deleted(id,SubactivityId,InvestmentTypeId,IsDeleted,DeleteOn,DeleteBy,CreateOn,CreateBy)
            select a.id,a.SubActivityId,a.InvestmentTypeId,1, @utcDate123, @userid, a.CreateOn, a.CreateBy
            from tbset_map_investment_type a inner join @InvestmentType b on a.SubactivityId=b.SubactivityId

            delete tbset_map_investment_type where SubActivityId IN (select SubActivityId from @InvestmentType)
        END
    END
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
