

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_accrual_byid_nmn]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_xml_generate_accrual_byid_nmn]
	@id int

AS

--declare @id int
--	set @id=2103

	BEGIN
		DECLARE
			@accrutype int
			set @accrutype=cast(left(CAST(@id as varchar),1) as int)
			set @id=cast(right(CAST(@id as varchar),LEN(CAST(@id as varchar))-1) as int)

		DECLARE 
			@utcDate123 DATETIME
			SET @utcDate123 = dbo.getUTCDateConversion()

		DECLARE
			@closingdt date
			SET @closingdt=(SELECT ClosingDt FROM tbhis_accrual_report_hdr WHERE id=@id)

		select * from (
			select 
			1 nomor, 'GLAW' glaw, format(a.createon,'dd.MM.yyyy') dateretrieve1, format(a.createon,'dd.MM.yyyy') dateretrieve2, '5610' entitycode
			, 'IDR' idr,'' blank1, 'RISTHAULY' nama, 'TC Accrual NMN' tc, concat(10, '.', right(concat('0',month(DATEADD(m,1,@utcDate123))),2),'.',year(DATEADD(m,1,@utcDate123))) dateretrieve10,	'02 ' noldua, 'CBUFIN' cbufin, 'TOPLINE' topline
			,'' blank2, '40' fix1,'' blank3,  '700430' fix2,'' blank4, '' blank5, b.AccrueYTD ytdvalue, '160000' fix3, '' blank6, '' blank7, 'Accrual TS' accruts,b.PromoNumber promoid
			,'' blank8,upper(format(a.CreateOn,'MMM yyyy'))my,'' blank10,'' blank11,'S' sh,'' blank12,'' blank13,'' blank14,'' blank15,'' blank16,'' blank17,'' blank18
			FROM tbhis_accrual_report_hdr a 
			inner join tbhis_accrual_report_dtl b on a.id=b.Id
			where a.Id=@id and a.EntityId=4
			union all
			select 
			1 nomor, 'GLAW' glaw, format(a.createon,'dd.MM.yyyy') dateretrieve1, format(a.createon,'dd.MM.yyyy') dateretrieve2, '5610' entitycode
			, 'IDR' idr,'' blank1, 'RISTHAULY' nama, 'TC Accrual NMN' tc, concat(10, '.', right(concat('0',month(DATEADD(m,1,@utcDate123))),2),'.',year(DATEADD(m,1,@utcDate123))) dateretrieve10,	'02 ' noldua, 'CBUFIN' cbufin, 'TOPLINE' topline
			,'' blank2, '50' fix1,'' blank3,  '230200' fix2,'' blank4, '' blank5, b.AccrueYTD ytdvalue, '' fix3, '' blank6, '' blank7, 'Accrual TS' accruts,b.PromoNumber promoid
			,'' blank8,upper(format(a.CreateOn,'MMM yyyy'))my,'' blank10,'' blank11,'H' sh,'' blank12,'' blank13,'' blank14,'' blank15,'' blank16,'' blank17,'' blank18
			FROM tbhis_accrual_report_hdr a 
			inner join tbhis_accrual_report_dtl b on a.id=b.Id
			where a.Id=@id and a.EntityId=4
		)nmn order by promoid, fix1

	END


GO
