

/****** Object:  StoredProcedure [dbo].[ip_debetnote_report]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_debetnote_report]
 @periode varchar(4),
 @entity int,
 @distributor int,
 @channel int,
 @account int,
 @userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * EJ 2020-03-02 add total paid from total claim if laststaus="confirm_paid"
   LGP 2020-03-24 add DPP PPNAmt
   LGP 2020-03-31 add entity and distributor
   EDJ 20200-06-225 add AND isnull(k.IsCancel, 0) = 0
 */
BEGIN

DECLARE @profitcenter varchar(10)

--IF NOT EXISTS (SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
--BEGIN
--	SET @profitcenter='1100'
--END
--ELSE
--BEGIN
--	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
--END

SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

--DECLARE @distributorid int
--SET @distributorid=(SELECT DistributorId FROM tbset_user_distributor WHERE UserId=@userid)

IF isnull(@profitcenter,'')='1100'
BEGIN
    SELECT * FROM (
        SELECT
            'Debit Note' Category,
            a.Id dnurut,
            0 dnurut1,
            a.Id,
            a.RefId,
            '' dnkontra,
            isnull(a.PromoId,0) PromoId,
            a.PrincipalId EntityId,
            p.LongDesc EntityDesc,
            a.DistributorId,
            n.LongDesc DistributorDesc,
            isnull(b.RefId,'') PromoRefId,
            a.ActivityDesc,
            d.LongDesc Account,
            c.LongDesc SubAccount,
            f.LongDesc Sellingpoint,
            f.ProfitCenter,
            a.DPP,
            a.PPnAmt,
			iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)) TotalClaim,					
			iif(a.laststatus='confirm_paid',iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)),0) TotalPaid,
            a.PaymentDate,
            a.LastStatus,
            isnull(h.RefId,'') SuratPengantarCabang,
            isnull(j.RefId,'') SuratPengantarHO,
            l.[RefId] InvoiceNo,
            isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
            isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
            datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, @utcDate123, m.ready_to_invoice_on)) Aging,
    --        datediff(d,m.received_by_danone_on,m.ready_to_invoice_on) Aging,
            a.CreateOn,
            a.CreateBy,
            iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
            a.ModifiedBy,
            isnull(a.IsOverBudget,0) IsOverBudget,
            b.TsCoding,
            a.InternalOrderNumber,
            a.IsDNPromo,
            a.IntDocNo,
            a.MemDocNo,
            n.LongDesc DistributorName,
            a.FeeDesc,
            a.FeePct,
            a.FeeAmount
            ,a.TaxLevel MaterialNumber
            ,tmm.Description TaxLevel
            ,a.Notes
            ,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
            ,m.received_by_danone_by
            ,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
            ,m.validate_by_finance_by
            ,m.validate_by_finance_on
    -- 	    ,isnull(convert(varchar(50),m.validate_by_finance_on,120),'') validate_by_finance_on
            ,m.validate_by_sales_by
            ,m.validate_by_sales_on
            ,m.ready_to_invoice_by InvoiceNotifBy
            ,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
            ,m.invoice_by
            ,m.invoice_on
            ,m.confirm_paid_by
            ,m.confirm_paid_on
            ,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
            ,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
            ,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
            ,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
            ,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
            ,a.PPHPct
            ,a.PPHAmt
            ,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
            ,a.StatusSalesNotes
            ,a.StatusSalesDistOn
            ,usr.username validate_by_finance_by_username
            ,a.FPNumber
            ,a.FPDate
        from tbtrx_debetnote a WITH (NOLOCK)
        inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
														AND EXISTS
																(
																	SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
																)
																AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
																AND isnull(a.IsCancel, 0) = 0
        inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
        LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
        LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
        INNER JOIN tbmst_subaccount c on a.AccountId=c.Id
        INNER JOIN tbmst_account d on c.AccountId=d.Id
        LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint) e on e.DNId=a.Id
        LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
        LEFT JOIN tbtrx_debetnote_sp_detail g on g.DnId=a.Id and isnull(g.IsCancel,0)=0
        LEFT JOIN tbtrx_debetnote_sp_header h on g.ParentId=h.Id
        LEFT JOIN tbtrx_debetnote_sp_detail_ho i on i.DnId=a.Id and isnull(i.IsCancel,0)=0
        LEFT JOIN tbtrx_debetnote_sp_header_ho j on i.ParentId=j.Id
        LEFT JOIN tbtrx_invoice_detail k on k.DnId=a.Id AND isnull(k.IsCancel, 0) = 0
        LEFT JOIN tbtrx_invoice_header l on l.id=k.Parentid
        LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
        LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id

        UNION ALL

        SELECT
           'Credit Note' Category,
            a.DNId dnurut,
            1 dnurut1,
            a.Id,
            a.RefId,
            a.DNRefId dnkontra,
            isnull(a.PromoId,0) PromoId,
            a.PrincipalId EntityId,
            p.LongDesc EntityDesc,
            a.DistributorId,
            n.LongDesc DistributorDesc,
            isnull(b.RefId,'') PromoRefId,
            a.ActivityDesc,
            d.LongDesc Account,
            c.LongDesc SubAccount,
            f.LongDesc Sellingpoint,
            f.ProfitCenter,
            a.DPP * -1 DPP,
            a.PPnAmt * -1 PPnAmt,
            a.TotalClaim * -1 TotalClaim,
    --        a.TotalPaid,
            IIF(a.LastStatus = 'confirm_paid', a.TotalClaim, 0) TotalPaid,
            a.PaymentDate,
            a.LastStatus,
            isnull(h.RefId,'') SuratPengantarCabang,
            isnull(j.RefId,'') SuratPengantarHO,
            l.[RefId] InvoiceNo,
            isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
            isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
            datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, @utcDate123, m.ready_to_invoice_on)) Aging,
    --        datediff(d,m.received_by_danone_on,m.ready_to_invoice_on) Aging,
            a.CreateOn,
            a.CreateBy,
            iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
            a.ModifiedBy,
            isnull(a.IsOverBudget,0) IsOverBudget,
            b.TsCoding,
            a.InternalOrderNumber,
            a.IsDNPromo,
            a.IntDocNo,
            a.MemDocNo,
            n.LongDesc DistributorName,
            a.FeeDesc,
            a.FeePct,
            a.FeeAmount * -1 FeeAmount
            ,a.TaxLevel MaterialNumber
            ,tmm.Description TaxLevel
            ,a.Notes
            ,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
            ,m.received_by_danone_by
            ,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
            ,m.validate_by_finance_by
            ,m.validate_by_finance_on
    -- 	    ,isnull(convert(varchar(50),m.validate_by_finance_on,120),'') validate_by_finance_on
            ,m.validate_by_sales_by
            ,m.validate_by_sales_on
            ,m.ready_to_invoice_by InvoiceNotifBy
            ,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
            ,m.invoice_by
            ,m.invoice_on
            ,m.confirm_paid_by
            ,m.confirm_paid_on
            ,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
            ,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
            ,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
            ,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
            ,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
            ,a.PPHPct
            ,a.PPHAmt * -1 PPHAmt
            ,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
            ,a.StatusSalesNotes
            ,a.StatusSalesDistOn
            ,usr.username validate_by_finance_by_username
            ,'' FPNumber
            ,'' FPDate
        from tbtrx_creditnote a WITH (NOLOCK)
        inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
														AND EXISTS
																(
																	SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
																)
																AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
																AND isnull(a.IsCancel, 0) = 0
        inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
        LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
        LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
        INNER JOIN tbmst_subaccount c on a.AccountId=c.Id
        INNER JOIN tbmst_account d on c.AccountId=d.Id
        LEFT JOIN (SELECT CNId,Sellpoint from tbtrx_creditnote_sellpoint) e on e.CNId=a.Id
        LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
        LEFT JOIN tbtrx_creditnote_sp_detail g on g.CnId=a.Id and isnull(g.IsCancel,0)=0
        LEFT JOIN tbtrx_creditnote_sp_header h on g.ParentId=h.Id
        LEFT JOIN tbtrx_creditnote_sp_detail_ho i on i.CnId=a.Id and isnull(i.IsCancel,0)=0
        LEFT JOIN tbtrx_creditnote_sp_header_ho j on i.ParentId=j.Id
        LEFT JOIN tbtrx_creditnote_invoice_detail k on k.CnId=a.Id AND isnull(k.IsCancel, 0) = 0
        LEFT JOIN tbtrx_creditnote_invoice_header l on l.id=k.Parentid
        LEFT JOIN tbtrx_creditnote_his m on m.CnId=a.Id --and isnull(m.is_cancel,0)=0
        LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id
    ) dnreport order by dnreport.dnurut, dnreport.dnurut1
END

ELSE

BEGIN
    SELECT * FROM (
		SELECT
        'Debit Note' Category,
		a.Id dnurut,
	    0 dnurut1,
		a.Id,
        a.RefId,
       '' dnkontra,
        isnull(a.PromoId,0) PromoId,
		a.PrincipalId EntityId,
		p.LongDesc EntityDesc,
		a.DistributorId,
		n.LongDesc DistributorDesc,
        isnull(b.RefId,'') PromoRefId,
        a.ActivityDesc,
        d.LongDesc Account,
        c.LongDesc SubAccount,
        f.LongDesc Sellingpoint,
        f.ProfitCenter,
		a.DPP,
		a.PPnAmt,
-- 		a.PPHPct,
-- 		a.PPHAmt,
		iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)) TotalClaim,					
		iif(a.laststatus='confirm_paid',iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)),0) TotalPaid,
        a.PaymentDate,
       a.LastStatus,
        isnull(h.RefId,'') SuratPengantarCabang,
        isnull(j.RefId,'') SuratPengantarHO,
        l.[RefId] InvoiceNo,
        isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
        isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
        datediff(d,m.received_by_danone_on,m.ready_to_invoice_on) Aging,
        a.CreateOn,
		a.CreateBy,
        iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
		a.ModifiedBy,
        isnull(a.IsOverBudget,0) IsOverBudget,
		b.TsCoding,
		a.InternalOrderNumber,
		a.IsDNPromo,
		a.IntDocNo,
		a.MemDocNo,
		a.FeeDesc,
		a.FeePct,
		a.FeeAmount
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.Notes
		,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
	    ,m.received_by_danone_by
	    ,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
		,m.validate_by_finance_by
		,m.validate_by_finance_on
-- 		,isnull(convert(varchar(50),m.validate_by_finance_on,120),'') validate_by_finance_on
		,m.validate_by_sales_by
		,m.validate_by_sales_on
		,m.ready_to_invoice_by InvoiceNotifBy
		,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
		,m.invoice_by
		,m.invoice_on
		,m.confirm_paid_by
		,m.confirm_paid_on
		,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
		,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
		,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
		,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
		,a.PPHPct
		,a.PPHAmt
		,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
		,a.StatusSalesNotes
		,a.StatusSalesDistOn
		,usr.username validate_by_finance_by_username
        ,a.FPNumber
        ,a.FPDate
	from tbtrx_debetnote a WITH (NOLOCK)
	LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
												AND EXISTS
													(
														SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
													)	AND a.AreaCode=@profitcenter
													AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
													AND isnull(a.IsCancel, 0) = 0
	LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
	inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
	inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
	INNER JOIN tbmst_subaccount c on a.AccountId=c.Id
	INNER JOIN tbmst_account d on c.AccountId=d.Id
	LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint) e on e.DNId=a.Id
	LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
	LEFT JOIN tbtrx_debetnote_sp_detail g on g.DnId=a.Id and isnull(g.IsCancel,0)=0
	LEFT JOIN tbtrx_debetnote_sp_header h on g.ParentId=h.Id
	LEFT JOIN tbtrx_debetnote_sp_detail_ho i on i.DnId=a.Id and isnull(i.IsCancel,0)=0
	LEFT JOIN tbtrx_debetnote_sp_header_ho j on i.ParentId=j.Id
	LEFT JOIN tbtrx_invoice_detail k on k.DnId=a.Id AND isnull(k.IsCancel, 0) = 0
	LEFT JOIN tbtrx_invoice_header l on l.id=k.Parentid
	LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
	LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id

    UNION ALL

		SELECT
		'Credit Note' Category,
		a.DNId dnurut,
		1 dnurut1,
		a.Id,
        a.RefId,
        a.DNRefId dnkontra,
        isnull(a.PromoId,0) PromoId,
		a.PrincipalId EntityId,
		p.LongDesc EntityDesc,
		a.DistributorId,
		n.LongDesc DistributorDesc,
        isnull(b.RefId,'') PromoRefId,
        a.ActivityDesc,
        d.LongDesc Account,
        c.LongDesc SubAccount,
        f.LongDesc Sellingpoint,
        f.ProfitCenter,
		a.DPP * -1 DPP,
		a.PPnAmt * -1 PPnAmt,
-- 		a.PPHPct,
-- 		a.PPHAmt,
        a.TotalClaim * -1 TotalClaim,
--        a.TotalPaid,
		IIF(a.LastStatus = 'confirm_paid', a.TotalClaim, 0) TotalPaid,
        a.PaymentDate,
       a.LastStatus,
        isnull(h.RefId,'') SuratPengantarCabang,
        isnull(j.RefId,'') SuratPengantarHO,
        l.[RefId] InvoiceNo,
        isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
        isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
        datediff(d,m.received_by_danone_on,m.ready_to_invoice_on) Aging,
        a.CreateOn,
		a.CreateBy,
        iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
		a.ModifiedBy,
        isnull(a.IsOverBudget,0) IsOverBudget,
		b.TsCoding,
		a.InternalOrderNumber,
		a.IsDNPromo,
		a.IntDocNo,
		a.MemDocNo,
		a.FeeDesc,
		a.FeePct,
		a.FeeAmount * -1 FeeAmount
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.Notes
		,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
	    ,m.received_by_danone_by
	    ,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
		,m.validate_by_finance_by
		,m.validate_by_finance_on
-- 		,isnull(convert(varchar(50),m.validate_by_finance_on,120),'') validate_by_finance_on
		,m.validate_by_sales_by
		,m.validate_by_sales_on
		,m.ready_to_invoice_by InvoiceNotifBy
		,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
		,m.invoice_by
		,m.invoice_on
		,m.confirm_paid_by
		,m.confirm_paid_on
		,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
		,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
		,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
		,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
		,a.PPHPct
		,a.PPHAmt * -1 PPHAmt
		,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
		,a.StatusSalesNotes
		,a.StatusSalesDistOn
		,usr.username validate_by_finance_by_username
        ,'' FPNumber
        ,'' FPDate
	from tbtrx_creditnote a WITH (NOLOCK)
	LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
											AND EXISTS
												(
													SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
												)	AND a.AreaCode=@profitcenter
												AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
												AND isnull(a.IsCancel, 0) = 0
	LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
	inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
	inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
	INNER JOIN tbmst_subaccount c on a.AccountId=c.Id
	INNER JOIN tbmst_account d on c.AccountId=d.Id
	LEFT JOIN (SELECT CNId,Sellpoint from tbtrx_creditnote_sellpoint) e on e.CNId=a.Id
	LEFT JOIN tbmst_sellingpoint f on e.Sellpoint=f.RefId
	LEFT JOIN tbtrx_creditnote_sp_detail g on g.CnId=a.Id and isnull(g.IsCancel,0)=0
	LEFT JOIN tbtrx_creditnote_sp_header h on g.ParentId=h.Id
	LEFT JOIN tbtrx_creditnote_sp_detail_ho i on i.CnId=a.Id and isnull(i.IsCancel,0)=0
	LEFT JOIN tbtrx_creditnote_sp_header_ho j on i.ParentId=j.Id
	LEFT JOIN tbtrx_creditnote_invoice_detail k on k.CnId=a.Id AND isnull(k.IsCancel, 0) = 0
	LEFT JOIN tbtrx_creditnote_invoice_header l on l.id=k.Parentid
	LEFT JOIN tbtrx_creditnote_his m on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
	LEFT JOIN tbset_user usr on m.validate_by_finance_by=usr.id
    ) dnreport order by dnreport.dnurut, dnreport.dnurut1
END
END
GO
