

/****** Object:  StoredProcedure [dbo].[ip_promo_accrual_report_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_accrual_report_p] --'2020',0,0,0,0,'scsh1','2020-01-22'
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@closingdt date
	,@download int
	, @grpBrandId INT = 0

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255)
	,@sort varchar(4)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*Testing Purpose****************/
--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--,@closingdt date
--,@download int
--, @grpBrandId INT
--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @periode ='2025'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='admin'
--SET @closingdt='2025-03-30'
--SET @download =0
--SET @grpBrandId = 0
--SET @start =0
--SET @length =-1
--SET @txtSearch =''
--SET @order ='accrualid'
--SET @sort ='asc'
/****************Testing Purpose*/

BEGIN
    DECLARE @recordsFiltered int;
    drop table if exists #temp_accrual1;
    drop table if exists #temp_accrual2;

	DROP TABLE IF EXISTS #promoRC_bySubActivity;
	DROP TABLE IF EXISTS #promoRC_byActivity;
	DROP TABLE IF EXISTS #promoRC;
	DROP TABLE IF EXISTS #promoDC_bySubActivity;
	DROP TABLE IF EXISTS #promoDC_byActivity;
	DROP TABLE IF EXISTS #promoDC;
	DROP TABLE IF EXISTS #acrualYTD;


	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(ISNULL(@order,'')='','PromoNumber', @order)
	SET @start = @start * @length
   
	
	declare @endofmonth date,@closingdtx date;
	declare @AccrualId int, @strEntity varchar(50), @strDistributor varchar(50);
	
	set @closingdtx=(select convert(date,@closingdt,120))
	set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))
	
	DECLARE @Temp TABLE
		(
		  BudgetParent int,
		  Levels int,
		  BudgetId int
		)
		;

/****************************************
** Start accrual YTD Running Rate 2025 **
*****************************************/
DECLARE @toDay date
SET @toDay = @utcDate123

	SELECT 	CAST(0 AS INT) id, CAST(0 AS FLOAT) ssActual, CAST(0 AS FLOAT) ssForecast
	INTO #acrualYTD
	DELETE FROM #acrualYTD

/** select promo RC by sub activity **/
	SELECT tt.period, pr.id, pr.RefId, ISNULL(pr.IsCancel, 0) isCancel
	  , pr.categoryid, pr.subcategoryid, pr.distributorId, pr.groupbrandid
	  , tt.channelid, tt.subchannelid, tt.accountid, tt.subaccountid, tt.activityid, tt.subactivityid
	  , pr.StartPromo, pr.EndPromo, tt.tt
	INTO #promoRC_bySubActivity
	FROM tbtrx_promo pr WITH (NOLOCK)
	INNER JOIN tbmst_main_activity_dtl tmad WITH (NOLOCK) ON pr.SubActivityId = tmad.subactivityid
	INNER JOIN tbmst_main_activity tma WITH (NOLOCK) ON tmad.mainactivityid = tma.id
	INNER JOIN tbtrx_promo_subaccount prsa WITH (NOLOCK) ON pr.Id = prsa.PromoId
	INNER JOIN tbtrx_ss_tt tt ON pr.AllocationId = tt.id
	--INNER JOIN tbtrx_ss_tt tt ON pr.Period = tt.Period 
	--		AND pr.CategoryId = tt.CategoryId 
	--		AND pr.SubCategoryId = tt.subcategoryid 
	--		AND pr.SubActivityId = tt.subactivityid
	--		AND prsa.SubAccountId = tt.subaccountid
	--		AND pr.DistributorId = tt.distributorId
	--		AND pr.GroupBrandId = tt.groupbrandid
			--AND ISNULL(tt.subactivityid, 0) <> 0
	WHERE tma.longDesc = 'Running Rate' AND pr.CategoryShortDesc <> 'DC' AND ISNULL(pr.period, 0) >= 2025
	AND ISNULL(pr.period, 0) = @periode
	AND IIF(@grpBrandId=0, 0, pr.groupBrandId) =IIF(@grpBrandId=0, 0, @grpBrandId)
	AND IIF(@entity=0, 0, pr.entityId) =IIF(@entity=0, 0, @entity)

/** select promo RC by activity **/
	--SELECT tt.period, pr.id, pr.RefId, ISNULL(pr.IsCancel, 0) isCancel
	--  , pr.categoryid, pr.subcategoryid, pr.distributorId, pr.groupbrandid
	--  , tt.channelid, tt.subchannelid, tt.accountid, tt.subaccountid, tt.activityid, tt.subactivityid
	--  , pr.StartPromo, pr.EndPromo, tt.tt
	--INTO #promoRC_byActivity
	--FROM tbtrx_promo pr WITH (NOLOCK)
	--INNER JOIN tbmst_main_activity_dtl tmad WITH (NOLOCK) ON pr.SubActivityId = tmad.subactivityid
	--INNER JOIN tbmst_main_activity tma WITH (NOLOCK) ON tmad.mainactivityid = tma.id
	--INNER JOIN tbtrx_promo_subaccount prsa WITH (NOLOCK) ON pr.Id = prsa.PromoId
	--INNER JOIN tbtrx_ss_tt tt ON pr.Period = tt.Period 
	--		AND pr.CategoryId = tt.CategoryId 
	--		AND pr.SubCategoryId = tt.subcategoryid 
	--		AND pr.ActivityId = tt.activityid
	--		AND prsa.SubAccountId = tt.subaccountid
	--		AND pr.DistributorId = tt.distributorId
	--		AND pr.GroupBrandId = tt.groupbrandid
	--		AND ISNULL(tt.subactivityid, 0) = 0
	--WHERE tma.longDesc = 'Running Rate' AND pr.CategoryShortDesc <> 'DC' AND ISNULL(pr.period, 0) >= 2025
	--AND pr.id NOT IN (SELECT id FROM #promoRC_bySubActivity)
	--AND ISNULL(pr.period, 0) = @periode
	--AND IIF(@grpBrandId=0, 0, pr.groupBrandId) =IIF(@grpBrandId=0, 0, @grpBrandId)
	--AND IIF(@entity=0, 0, pr.entityId) =IIF(@entity=0, 0, @entity)

/* gabung promo RC*/
	SELECT period, id, RefId, isCancel
		, categoryid, subcategoryid, distributorId, groupbrandid
		, channelid, subchannelid, accountid, subaccountid, activityid, subactivityid, startPromo, endPromo, tt
	INTO #promoRC
	FROM #promoRC_bySubActivity
	--UNION ALL
	--SELECT period, id, RefId, isCancel
	--	, categoryid, subcategoryid, distributorId, groupbrandid
	--	, channelid, subchannelid, accountid, subaccountid, activityid, subactivityid, StartPromo, endPromo, tt
	--FROM #promoRC_byActivity

;
WITH CTE_ssv AS (
		SELECT 
			a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
			, SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)) [1]
			, SUM(ISNULL(a.m2,0) * ISNULL(b.m2,0)) [2]
			, SUM(ISNULL(a.m3,0) * ISNULL(b.m3,0)) [3]
			, SUM(ISNULL(a.m4,0) * ISNULL(b.m4,0)) [4]
			, SUM(ISNULL(a.m5,0) * ISNULL(b.m5,0)) [5]
			, SUM(ISNULL(a.m6,0) * ISNULL(b.m6,0)) [6]
			, SUM(ISNULL(a.m7,0) * ISNULL(b.m7,0)) [7]
			, SUM(ISNULL(a.m8,0) * ISNULL(b.m8,0)) [8]
			, SUM(ISNULL(a.m9,0) * ISNULL(b.m9,0)) [9]
			, SUM(ISNULL(a.m10,0) * ISNULL(b.m10,0)) [10]
			, SUM(ISNULL(a.m11,0) * ISNULL(b.m11,0)) [11]
			, SUM(ISNULL(a.m12,0) * ISNULL(b.m12,0)) [12]
			FROM tbtrx_ss_volume a WITH (NOLOCK)
			INNER JOIN tbtrx_ss_conversion_rate b WITH (NOLOCK) ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
			WHERE 
				a.period= @periode
				AND IIF(@grpBrandId=0, 0, a.groupbrandid) =IIF(@grpBrandId=0, 0, @grpBrandId)
			GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
)
, CTE_unpivotRC AS (
	SELECT  period, channelid, subchannelid, accountid, subaccountid, groupbrandid, monthPromo, ssv
	FROM (
		SELECT period, channelid, subchannelid, accountid, subaccountid, groupbrandid
		  , [1], [2], [3], [4], [5], [6]
		  , [7], [8], [9], [10], [11], [12]
		FROM CTE_ssv

	) p
	UNPIVOT (
		ssv FOR monthPromo IN (
		  [1], [2], [3], [4], [5], [6]
		  , [7], [8], [9], [10], [11], [12]
		)

	) unp
)
, CTE_actualRC AS (
	--SELECT pr.id, ROUND(pr.tt*SUM(ssv.ssv)/100,0) ssActual
	SELECT pr.id, pr.tt*SUM(ssv.ssv)/100 ssActual
	FROM #promoRC pr 
	INNER JOIN CTE_unpivotRC ssv ON pr.Period = ssv.period 
		AND pr.channelId = ssv.channelid 
		AND pr.subchannelid = ssv.subchannelid
		AND pr.accountId = ssv.accountid
		AND pr.subAccountId = ssv.subaccountid
		AND pr.groupBrandId = ssv.groupbrandid
	WHERE ssv.monthPromo >= month(pr.startPromo) AND ssv.monthPromo < month(@toDay) AND ssv.monthPromo <= month(pr.endPromo)
	AND ssv.monthPromo <= month(@closingdt)
	GROUP BY pr.id, pr.tt
)
, CTE_forecastRC AS (
	--SELECT pr.id, ROUND(pr.tt*SUM(ssv.ssv)/100,0) ssForecast
	SELECT pr.id, pr.tt*SUM(ssv.ssv)/100 ssForecast
	FROM #promoRC pr
	INNER JOIN CTE_unpivotRC ssv ON pr.Period = ssv.period 
		AND pr.channelId = ssv.channelid 
		AND pr.subChannelId = ssv.subchannelid
		AND pr.accountId = ssv.accountid
		AND pr.subAccountId = ssv.subaccountid
		AND pr.GroupBrandId = ssv.groupbrandid
	WHERE ssv.monthPromo <= month(@closingdt) AND ssv.monthPromo >= month(@toDay) AND ssv.monthPromo <= month(pr.endPromo)
	and ssv.monthPromo >= month(pr.startPromo)
	GROUP BY pr.id, pr.tt
)
, CTE_ytdRC AS (
	SELECT id, ISNULL(ssActual, 0) ssActual, 0 ssForecast FROM CTE_actualRC
	UNION ALL
	SELECT id, 0 ssActual, ISNULL(ssForecast, 0) ssForecast FROM CTE_forecastRC
)

INSERT INTO #acrualYTD
SELECT id, SUM(ssActual) ssActual, SUM(ssForecast) ssForecast
FROM CTE_ytdRC
GROUP BY id

	DROP TABLE IF EXISTS #promoDC_bySubActivity;
	DROP TABLE IF EXISTS #promoDC_byActivity;
	DROP TABLE IF EXISTS #promoDC;

/* select promo DC by sub activity*/
	SELECT tt.period, pr.id, pr.RefId, ISNULL(pr.IsCancel, 0) isCancel
	  , pr.categoryid, pr.subcategoryid, pr.distributorId, pr.groupbrandid
	  , tt.channelid, tt.subchannelid, tt.accountid, tt.subaccountid, tt.activityid, tt.subactivityid, pr.startPromo, pr.endPromo, tt.tt
	INTO #promoDC_bySubActivity
	FROM tbtrx_promo pr WITH (NOLOCK)
	INNER JOIN tbmst_main_activity_dtl tmad WITH (NOLOCK) ON pr.SubActivityId = tmad.subactivityid
	INNER JOIN tbmst_main_activity tma WITH (NOLOCK) ON tmad.mainactivityid = tma.id
	INNER JOIN tbtrx_promo_channel prc WITH (NOLOCK) ON pr.Id = prc.PromoId
	INNER JOIN tbtrx_ss_tt tt ON pr.AllocationId = tt.id
	--INNER JOIN tbtrx_ss_tt tt ON pr.Period = tt.Period 
	--		AND pr.CategoryId = tt.CategoryId 
	--		AND pr.SubCategoryId = tt.subcategoryid 
	--		AND pr.SubActivityId = tt.subactivityid
	--		AND prc.ChannelId = tt.channelid
	--		AND pr.DistributorId = tt.distributorId
	--		AND pr.GroupBrandId = tt.groupbrandid
	--		AND ISNULL(tt.subactivityid, 0) <> 0
	WHERE tma.longDesc = 'Running Rate' AND pr.CategoryShortDesc = 'DC' AND ISNULL(pr.period, 0) >= 2025
	AND ISNULL(pr.period, 0) = @periode
	AND IIF(@grpBrandId=0, 0, pr.groupBrandId) =IIF(@grpBrandId=0, 0, @grpBrandId)
	AND IIF(@entity=0, 0, pr.entityId) =IIF(@entity=0, 0, @entity)

/* select promo DC by activity*/
	--SELECT tt.period, pr.id, pr.RefId, ISNULL(pr.IsCancel, 0) isCancel
	--  , pr.categoryid, pr.subcategoryid, pr.distributorId, pr.groupbrandid
	--  , tt.channelid, tt.subchannelid, tt.accountid, tt.subaccountid, tt.activityid, tt.subactivityid, pr.startPromo, pr.endPromo, tt.tt
	--INTO #promoDC_byActivity
	--FROM tbtrx_promo pr WITH (NOLOCK)
	--INNER JOIN tbmst_main_activity_dtl tmad WITH (NOLOCK) ON pr.SubActivityId = tmad.subactivityid
	--INNER JOIN tbmst_main_activity tma WITH (NOLOCK) ON tmad.mainactivityid = tma.id
	--INNER JOIN tbtrx_promo_channel prc WITH (NOLOCK) ON pr.Id = prc.PromoId
	--INNER JOIN tbtrx_ss_tt tt ON pr.Period = tt.Period 
	--		AND pr.CategoryId = tt.CategoryId 
	--		AND pr.SubCategoryId = tt.subcategoryid 
	--		AND pr.ActivityId = tt.activityid
	--		AND prc.ChannelId = tt.channelid
	--		AND pr.DistributorId = tt.distributorId
	--		AND pr.GroupBrandId = tt.groupbrandid
	--		AND ISNULL(tt.subactivityid, 0) = 0
	--WHERE tma.longDesc = 'Running Rate' AND pr.CategoryShortDesc = 'DC' AND ISNULL(pr.period, 0) >= 2025
	--AND pr.id NOT IN (SELECT id FROM #promoDC_bySubActivity)
	--AND ISNULL(pr.period, 0) = @periode
	--AND IIF(@grpBrandId=0, 0, pr.groupBrandId) =IIF(@grpBrandId=0, 0, @grpBrandId)
	--AND IIF(@entity=0, 0, pr.entityId) =IIF(@entity=0, 0, @entity)

/* gabung promo DC */
	SELECT period, id, RefId, isCancel
		, categoryid, subcategoryid, distributorId, groupbrandid
		, channelid, subchannelid, accountid, subaccountid, activityid, subactivityid, startPromo, endPromo, tt
	INTO #promoDC
	FROM #promoDC_bySubActivity
	--UNION ALL
	--SELECT period, id, RefId, isCancel
	--	, categoryid, subcategoryid, distributorId, groupbrandid
	--	, channelid, subchannelid, accountid, subaccountid, activityid, subactivityid, startPromo, endPromo, tt
	--FROM #promoDC_byActivity

;

WITH CTE_budgetDC AS (
	SELECT psv.period,  psv.distributorId, psv.groupbrandid
		, isnull(psv.m1, 0) [1]
		, isnull(psv.m2, 0) [2]
		, isnull(psv.m3, 0) [3]
		, isnull(psv.m4, 0) [4]
		, isnull(psv.m5, 0) [5]
		, isnull(psv.m6, 0) [6]
		, isnull(psv.m7, 0) [7]
		, isnull(psv.m8, 0) [8]
		, isnull(psv.m9, 0) [9]
		, isnull(psv.m10, 0) [10]
		, isnull(psv.m11, 0) [11]
		, isnull(psv.m12, 0) [12]
	FROM tbtrx_ps_value psv
	WHERE 
	psv.period= @periode
	AND IIF(@grpBrandId=0, 0, psv.groupbrandid) =IIF(@grpBrandId=0, 0, @grpBrandId)
)
, CTE_unpivotDC AS (
	SELECT  period,  distributorId, groupbrandid, monthPromo, psv
	FROM (
		SELECT period,  distributorId, groupbrandid
		  , [1], [2], [3], [4], [5], [6]
		  , [7], [8], [9], [10], [11], [12]
		FROM CTE_budgetDC

	) p
	UNPIVOT (
		psv FOR monthPromo IN (
		  [1], [2], [3], [4], [5], [6]
		  , [7], [8], [9], [10], [11], [12]
		)

	) unp
)
, CTE_actualDC AS (
	--SELECT pr.id, ROUND(pr.tt*SUM(psv.psv)/100,0) ssActual
	SELECT pr.id, pr.tt*SUM(psv.psv)/100 ssActual
	FROM #promoDC pr WITH (NOLOCK)
	INNER JOIN CTE_unpivotDC psv ON pr.Period = psv.period 
		AND pr.DistributorId = psv.distributorid
		AND pr.GroupBrandId = psv.groupbrandid
	WHERE psv.monthPromo >= month(pr.startPromo) AND psv.monthPromo < month(@toDay) AND psv.monthPromo <= month(pr.endPromo)
	AND psv.monthPromo <= month(@closingdt)
	GROUP BY pr.id, pr.tt
)
, CTE_forecastDC AS (
	--SELECT pr.id, ROUND(pr.tt*SUM(psv.psv)/100,0) ssForecast
	SELECT pr.id, pr.tt*SUM(psv.psv)/100 ssForecast
	FROM #promoDC pr WITH (NOLOCK)
	INNER JOIN CTE_unpivotDC psv ON pr.Period = psv.period 
		AND pr.DistributorId = psv.distributorid
		AND pr.GroupBrandId = psv.groupbrandid
	WHERE psv.monthPromo <= month(@closingdt) AND psv.monthPromo >= month(@toDay) AND psv.monthPromo <= month(pr.endPromo)
	and psv.monthPromo >= month(pr.startPromo)
	GROUP BY pr.id, pr.tt
)
, CTE_ytdDC AS (
	SELECT id, ISNULL(ssActual, 0) ssActual, 0 ssForecast FROM CTE_actualDC
	UNION ALL
	SELECT id, 0 ssActual, ISNULL(ssForecast, 0) ssForecast FROM CTE_forecastDC
)

INSERT INTO #acrualYTD
SELECT id, SUM(ssActual) ssActual, SUM(ssForecast) ssForecast
FROM CTE_ytdDC
GROUP BY id

/****************************************
** End accrual YTD Running Rate 2025 **
*****************************************/


    If @download=1
		BEGIN

			SET @strEntity = IIF(@entity=0,'All',(SELECT longdesc FROM tbmst_principal WHERE id=@entity));
			SET @strDistributor = IIF(@distributor=0,'All',(SELECT longdesc FROM tbmst_distributor WHERE id=@distributor));

			INSERT INTO tbhis_accrual_report_hdr (Periode, EntityId, Entity, DistributorId, Distributor, budgetparent, ChannelId, UserId, ClosingDt, CreateOn)
				VALUES(@periode, @entity, @strEntity, @distributor, @strDistributor, @budgetparent, @channel, @userid, @closingdt, (@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC')

			SET @AccrualId=(SELECT SCOPE_IDENTITY())

			IF @periode <= 2024
				BEGIN
					INSERT INTO dbo.tbhis_accrual_report_dtl
					SELECT
						@AccrualId accrualId
						,p.id entityId
						,p.LongDesc entity
						,d.id distributorId
						,d.LongDesc distributor
						,p.LongDesc principalDesc
						,c.LongDesc budgetSource
						,pr.CreateBy [initiator]
						,pr.CreateOn [createOn]
						,isnull(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
						,pr.RefId [promoNumber]
						,IIF(cat.ShortDesc='DC','---', sctg.LongDesc) [subCategory]
						,IIF(cat.ShortDesc='DC','---', act.LongDesc) [activity]
						,sact.LongDesc [subActivity]
						,IIF(cat.ShortDesc='DC','---', pr.ActivityDesc) [activityDesc]
						,isnull(mechanism.mechanism,'') mechanisme1
						,isnull(pr.Mechanisme2,'') mechanisme2
						,isnull(pr.Mechanisme3,'') mechanisme3
						,isnull(pr.Mechanisme4,'') mechanisme4
						,channel.channelDesc
						,IIF(cat.ShortDesc='DC','---', account.AccountDesc) accountDesc
						,IIF(cat.ShortDesc='DC','---', subaccount.SubAccountDesc) subAccountDesc
						,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) lastStatus
						,pr.approvalNotes
						,IIF(cat.ShortDesc='DC',0, pr.NormalSales + pr.IncrSales) [target]
						,pr.investment
						,TotalClaim dnClaim
						,TotalPaid dnPaid
						,pr.startPromo
						,pr.endPromo
						,CASE
							WHEN isnull(pr.IsCancel,0)=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') 
								/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) 
								* promoclose.dnpaid,0),0)
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / 
								NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / 
								NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * Investment,0),0)
							END AS accrueMTD
						,CASE
							WHEN pr.IsCancel=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') 
								/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') 
								/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') 
								/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float),0) * Investment,0),0)
							END AS accrueYTD
						,IIF(cat.ShortDesc='DC','---', pr.TsCoding) tsCoding
						,d.SAPCodex soldToCode
						,brandgroup.sapcode material
						, mbg.grpBrandId
						, mbg.grpBrandDesc
						FROM tbtrx_promo pr with (nolock)
						INNER JOIN tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
						INNER JOIN tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
						LEFT JOIN tbmst_distributor d with (nolock) on m.DistributorId=d.Id
						LEFT JOIN tbmst_principal p with (nolock) on m.PrincipalId=p.Id
						INNER JOIN tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
						LEFT JOIN tbset_user uo on uo.Id=pr.CancelBy
						INNER JOIN tbset_user uf on uf.Id=pr.Approver
						INNER JOIN tbmst_activity act on pr.ActivityId=act.id
						INNER JOIN tbmst_subactivity sact on pr.SubActivityId=sact.id
						INNER JOIN tbmst_category cat on sact.CategoryId=cat.Id						
						INNER JOIN
							(
								SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
											FROM tbtrx_promo_mechanism a WITH (NOLOCK)
									GROUP BY a.PromoId
							) mechanism ON pr.Id = mechanism.PromoId   		

						LEFT JOIN
								(
									select aa.Id promoid, min(isnull(cc.sapcode,'')) sapcode from tbtrx_promo aa
										INNER JOIN tbtrx_promo_brand bb on aa.Id=bb.PromoId
										INNER JOIN tbset_brand_group cc on bb.BrandId=cc.brandid
										GROUP BY aa.Id
								) brandgroup
								ON pr.Id=brandgroup.promoid
						INNER JOIN
								(
									select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
											from tbtrx_promo_channel a with (nolock)
											INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
											INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) channel
								on pr.Id = channel.PromoId
						INNER JOIN
								(
									select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
												from tbtrx_promo_account a with (nolock)
												INNER JOIN tbmst_account ac with (nolock) ON a.AccountId=ac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) account
								on pr.Id = account.PromoId
						INNER JOIN
								(
									select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
												from tbtrx_promo_subaccount a with (nolock)
												INNER JOIN tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) subaccount
								on pr.Id = subaccount.PromoId
						LEFT JOIN
						(
							SELECT 
								a.PromoId
								,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
								,SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
								--,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
							FROM tbtrx_debetnote a
												INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
												INNER JOIN tbtrx_allocation c on pr.AllocationId=c.Id
												INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
												INNER JOIN tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
												AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
												AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
												AND isnull(a.IsCancel, 0) = 0
												AND isnull(a.IsDNPromo,0)=1	--LUK210128
												GROUP BY a.PromoId					
						) dn on pr.Id=dn.PromoId
						LEFT JOIN 
						(
							SELECT a.id
							,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
							FROM tbtrx_promo a
							LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
							WHERE isnull(a.isclose,0)=1
							GROUP BY a.id 
						) promoclose on pr.Id = promoclose.id
						LEFT JOIN (
							SELECT promoId, STRING_AGG(id, ', ') grpBrandId, STRING_AGG(longdesc, ', ') grpBrandDesc
							FROM (
								SELECT prb.promoId, mg.id, mg.longDesc
								FROM tbtrx_promo_brand prb
								INNER JOIN tbmst_brand mb ON prb.BrandId = mb.id
								INNER JOIN tbmst_brand_group mg ON mb.BrandGroupId = mg.id
								GROUP BY prb.PromoId, mg.Id, mg.LongDesc
							) a GROUP BY promoId
						) mbg ON pr.Id = mbg.promoId
						WHERE c.Periode=@periode
						AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
						AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

				END
			ELSE
				BEGIN
					INSERT INTO dbo.tbhis_accrual_report_dtl
					SELECT
						@AccrualId accrualId
						,p.id entityId
						,p.LongDesc entity
						,d.id distributorId
						,d.LongDesc distributor
						,p.LongDesc principalDesc
						,[dbo].[getBudgetName] (pr.AllocationId) budgetSource
						,pr.CreateBy [initiator]
						,pr.CreateOn [createOn]
						,isnull(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
						,pr.RefId [promoNumber]
						,IIF(cat.ShortDesc='DC','---', sctg.LongDesc) [subCategory]
						,IIF(cat.ShortDesc='DC','---', act.LongDesc) [activity]
						,sact.LongDesc [subActivity]
						,IIF(cat.ShortDesc='DC','---', pr.ActivityDesc) [activityDesc]
						,isnull(mechanism.mechanism,'') mechanisme1
						,isnull(pr.Mechanisme2,'') mechanisme2
						,isnull(pr.Mechanisme3,'') mechanisme3
						,isnull(pr.Mechanisme4,'') mechanisme4
						,channel.channelDesc
						,IIF(cat.ShortDesc='DC','---', account.AccountDesc) accountDesc
						,IIF(cat.ShortDesc='DC','---', subaccount.SubAccountDesc) subAccountDesc
						,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) lastStatus
						,pr.approvalNotes
						,IIF(cat.ShortDesc='DC',0, pr.NormalSales + pr.IncrSales) [target]
						,pr.investment
						,TotalClaim dnClaim
						,TotalPaid dnPaid
						,pr.startPromo
						,pr.endPromo
						,CASE
							WHEN isnull(pr.IsCancel,0)=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') 
								/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) 
								* promoclose.dnpaid,0),0)
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / 
								NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / 
								NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * Investment,0),0)
							END AS accrueMTD
						,IIF(ISNULL(rrYTD.id, 0) <> 0,  ROUND(ISNULL(rrYTD.ssActual, 0) + ISNULL(rrYTD.ssForecast, 0), 0)
							,CASE
								WHEN pr.IsCancel=1 THEN 0
								WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y')<0 THEN 0
								WHEN isnull(pr.IsClose,0) = 1 THEN 
									ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') 
									/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
								WHEN
									isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') 
									/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
								ELSE
									ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') 
									/ NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float),0) * Investment,0),0)
								END
						) AS accrueYTD
						,IIF(cat.ShortDesc='DC','---', pr.TsCoding) tsCoding
						,d.SAPCodex soldToCode
						,brandgroup.sapcode material
						, ISNULL(brandgroup.id, 0) grpBrandId
						, ISNULL(brandgroup.LongDesc, '') grpBrandDesc
					FROM tbtrx_promo pr with (nolock)
					--LEFT JOIN tbmst_main_activity_dtl tmad ON pr.SubActivityId = tmad.subactivityid
					--LEFT JOIN tbmst_main_activity tma ON tmad.mainactivityid = tma.id
					LEFT JOIN #acrualYTD rrYTD ON pr.id = rrYTD.id
					LEFT JOIN tbmst_distributor d with (nolock) on pr.DistributorId=d.Id 
					LEFT JOIN tbmst_principal p with (nolock) on pr.EntityId=p.Id
					INNER JOIN tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
					LEFT JOIN tbset_user uo on uo.Id=pr.CancelBy
					INNER JOIN tbset_user uf on uf.Id=pr.Approver
					INNER JOIN tbmst_activity act on pr.ActivityId=act.id
					INNER JOIN tbmst_subactivity sact on pr.SubActivityId=sact.id
					INNER JOIN tbmst_category cat on sact.CategoryId=cat.Id
					INNER JOIN
					(
						SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
									FROM tbtrx_promo_mechanism a WITH (NOLOCK)
							GROUP BY a.PromoId
					) mechanism ON pr.Id = mechanism.PromoId   		
					INNER JOIN tbmst_brand_group brandgroup ON pr.GroupBrandId=brandgroup.Id
					INNER JOIN
					(
						select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
								from tbtrx_promo_channel a with (nolock)
								INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
								INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
							GROUP BY a.PromoId
					) channel
					on pr.Id = channel.PromoId
					LEFT JOIN
					(
						select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
									from tbtrx_promo_account a with (nolock)
									INNER JOIN tbmst_account ac with (nolock) ON a.AccountId=ac.Id
									INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
							GROUP BY a.PromoId
					) account
					on pr.Id = account.PromoId
					LEFT JOIN
					(
						select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
									from tbtrx_promo_subaccount a with (nolock)
									INNER JOIN tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
									INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
							GROUP BY a.PromoId
					) subaccount
					on pr.Id = subaccount.PromoId
					LEFT JOIN
					(
						SELECT 
							a.PromoId
							,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
							,SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
							--,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
						FROM tbtrx_debetnote a
											INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
						where
							IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
								AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
								AND isnull(a.IsCancel, 0) = 0
								AND isnull(a.IsDNPromo,0)=1	--LUK210128
						GROUP BY a.PromoId					
					) dn on pr.Id=dn.PromoId
					LEFT JOIN 
					(
						SELECT a.id
						,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
						FROM tbtrx_promo a
						LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
						WHERE isnull(a.isclose,0)=1
						GROUP BY a.id 
					) promoclose on pr.Id = promoclose.id
					WHERE pr.Period=@periode
					AND IIF(@entity=0,'',pr.entityId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
					and pr.StatusApprovalCode<>'TP0'
					AND IIF(@grpBrandId=0,'', ISNULl(pr.groupbrandid, 0)) =IIF(@grpBrandId=0,'',@grpBrandId)
				END

			SET @recordsFiltered = (
		    	SELECT isnull(count(PromoNumber),0) FROM tbhis_accrual_report_dtl where id=@AccrualId
			)
		
			SELECT isnull(count(PromoNumber),0) as totalCount, @recordsFiltered as filteredCount FROM tbhis_accrual_report_dtl where id=@AccrualId
				
			EXEC ip_promo_accrual_report_byId @AccrualId
		END
    ELSE
		BEGIN
			IF @periode <= 2024
				BEGIN
					IF @budgetparent <> 0
					BEGIN
						declare @p_alcid int;

						DECLARE
							@product_name int


						DECLARE cursor_product CURSOR
						FOR SELECT
								Id

							FROM
								tbtrx_allocation where BudgetType='BAL' and BudgetMasterId=@budgetparent;

						OPEN cursor_product;


						FETCH NEXT FROM cursor_product INTO
							@product_name


						WHILE @@FETCH_STATUS = 0
							BEGIN


							SET @p_alcid=@product_name;

								/***/

									with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
									as
									(
									select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
									union all
									select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a
									INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
									INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
									INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD

									)


						INSERT INTO @Temp
						SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
						option (maxrecursion 0);
								FETCH NEXT FROM cursor_product INTO
									@product_name

							END;

						CLOSE cursor_product;

						DEALLOCATE cursor_product;

						SELECT
						@AccrualId accrualId
						,p.LongDesc entity
						,d.LongDesc distributor
						,p.LongDesc principalDesc
						,c.LongDesc budgetSource
						,pr.CreateBy [initiator]
						,pr.CreateOn [createOn]
						,isnull(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
						,pr.RefId [promoNumber]
						,IIF(cat.ShortDesc='DC','---',sctg.LongDesc) [subCategory]
						,IIF(cat.ShortDesc='DC','---',act.LongDesc) [activity]
						,sact.LongDesc [subActivity]
						,IIF(cat.ShortDesc='DC','---',pr.ActivityDesc) activityDesc
						,isnull(mechanism.mechanism,'') mechanisme1
						,isnull(pr.Mechanisme2,'') mechanisme2
						,isnull(pr.Mechanisme3,'') mechanisme3
						,isnull(pr.Mechanisme4,'') mechanisme4
						,channel.channelDesc
						,IIF(cat.ShortDesc='DC','---',account.AccountDesc) accountDesc
						,IIF(cat.ShortDesc='DC','---',subaccount.SubAccountDesc) subAccountDesc
						,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) lastStatus
						,pr.approvalNotes
						,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) [target]
						,pr.investment
						,TotalClaim dnClaim
						,TotalPaid dnPaid
						,pr.startPromo
						,pr.endPromo
						,CASE
							WHEN pr.IsCancel=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * Investment,0),0)
							END AS accrueMTD
						,CASE
							WHEN pr.IsCancel=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float),0) * Investment,0),0)
							END AS accrueYTD
						,pr.tsCoding
						, mbg.grpBrandId
						, mbg.grpBrandDesc
						INTO #temp_accrual1
						FROM tbtrx_promo pr with (nolock)
						INNER JOIN tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
						INNER JOIN tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
						LEFT JOIN tbmst_distributor d with (nolock) on m.DistributorId=d.Id
						LEFT JOIN tbmst_principal p with (nolock) on m.PrincipalId=p.Id
						INNER JOIN tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
						LEFT JOIN tbset_user uo on uo.Id=pr.CancelBy
						INNER JOIN tbset_user uf on uf.Id=pr.Approver
						INNER JOIN tbmst_activity act on pr.ActivityId=act.id
						INNER JOIN tbmst_subactivity sact on pr.SubActivityId=sact.id
						INNER JOIN tbmst_category cat on sact.CategoryId=cat.Id
						INNER JOIN
							(
								SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
											FROM tbtrx_promo_mechanism a WITH (NOLOCK)
									GROUP BY a.PromoId
							) mechanism ON pr.Id = mechanism.PromoId   		
						INNER JOIN
								(
									select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
											from tbtrx_promo_channel a with (nolock)
											INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
											INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) channel
								on pr.Id = channel.PromoId
						INNER JOIN
								(
									select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
												from tbtrx_promo_account a with (nolock)
												INNER JOIN tbmst_account ac with (nolock) ON a.AccountId=ac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) account
								on pr.Id = account.PromoId
						INNER JOIN
								(
									select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
												from tbtrx_promo_subaccount a with (nolock)
												INNER JOIN tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) subaccount
								on pr.Id = subaccount.PromoId
					LEFT JOIN
						(
							SELECT 
								a.PromoId
								,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
								,SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
								--,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
							FROM tbtrx_debetnote a
												INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
												INNER JOIN tbtrx_allocation c on pr.AllocationId=c.Id
												INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
												INNER JOIN tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
												AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
												AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
												AND isnull(a.IsCancel, 0) = 0
												AND isnull(a.IsDNPromo,0)=1	--LUK210128
												GROUP BY a.PromoId					
						) dn on pr.Id=dn.PromoId
						LEFT JOIN 
						(
							SELECT a.id
							,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
							FROM tbtrx_promo a
							LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
							WHERE isnull(a.isclose,0)=1
							GROUP BY a.id 
						) promoclose on pr.Id = promoclose.id				
						LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
						LEFT JOIN (
							SELECT promoId, STRING_AGG(id, ', ') grpBrandId, STRING_AGG(longdesc, ', ') grpBrandDesc
							FROM (
								SELECT prb.promoId, mg.id, mg.longDesc
								FROM tbtrx_promo_brand prb
								INNER JOIN tbmst_brand mb ON prb.BrandId = mb.id
								INNER JOIN tbmst_brand_group mg ON mb.BrandGroupId = mg.id
								GROUP BY prb.PromoId, mg.Id, mg.LongDesc
							) a GROUP BY promoId
						) mbg ON pr.Id = mbg.promoId

						WHERE c.Periode=@periode
						AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
						AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND EXISTS(SELECT BudgetId FROM @temp WHERE pr.AllocationId=BudgetId)
						AND IIF(@grpBrandId=0,'', ISNULl(pr.groupbrandid, 0)) =IIF(@grpBrandId=0,'',@grpBrandId)
				
						/**********************
							start pagination
						 **********************/
				
						SET @recordsFiltered = (
			    			SELECT isnull(count(PromoNumber),0) FROM #temp_accrual1
							WHERE 
								(PromoNumber like '%' + isnull(@txtSearch,'') + '%') OR 
								(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
								(StartPromo like '%' + isnull(@txtSearch,'') + '%') OR
								(EndPromo like '%' + isnull(@txtSearch,'') + '%') OR
								(Investment like '%' + isnull(@txtSearch,'') + '%') OR
								(AccrueYTD like '%' + isnull(@txtSearch,'') + '%') OR
								(LastStatus like '%' + isnull(@txtSearch,'') + '%')
						)
			
						SELECT isnull(count(PromoNumber),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_accrual1
				
				
						IF @length = -1
						BEGIN
							IF @txtSearch is null
			    			BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual1			
									ORDER BY ' + @order + ' ' + @sort
			
								EXEC sys.sp_executesql @SQL
							END 
							ELSE 
							BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual1
									WHERE 
										(PromoNumber like ''%' + isnull(@txtSearch,'') + '%'') OR 
										(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
										(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
										(AccrueYTD like ''%' + isnull(@txtSearch,'') + '%'') OR
										(LastStatus like ''%' + isnull(@txtSearch,'') + '%'')
									ORDER BY ' + @order + ' ' + @sort
								EXEC sys.sp_executesql @SQL
							END
						END
						ELSE
						BEGIN
							IF @txtSearch is null
			    			BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual1
									ORDER BY ' + @order + ' ' + @sort +' 
									OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
								EXEC sys.sp_executesql @SQL
							END 
							ELSE 
							BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual1
									WHERE 
										(PromoNumber like ''%' + isnull(@txtSearch,'') + '%'') OR 
										(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
										(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
										(AccrueYTD like ''%' + isnull(@txtSearch,'') + '%'') OR
										(LastStatus like ''%' + isnull(@txtSearch,'') + '%'')
									ORDER BY ' + @order + ' ' + @sort +' 
									OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
								EXEC sys.sp_executesql @SQL
							END	    
						END
			        
						drop table #temp_accrual1
						/**********************
							end pagination
						 **********************/				

					END
					ELSE
					BEGIN
						SELECT
						@AccrualId accrualId
						,p.LongDesc entity
						,d.LongDesc distributor
						,p.LongDesc principalDesc
						,c.LongDesc budgetSource
						,pr.CreateBy [initiator]
						,pr.CreateOn [createOn]
						,isnull(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
						,pr.RefId [promoNumber]
						,IIF(cat.ShortDesc='DC','---',sctg.LongDesc) [subCategory]
						,IIF(cat.ShortDesc='DC','---',act.LongDesc) [activity]
						,sact.LongDesc [subActivity]
						,IIF(cat.ShortDesc='DC','---',pr.ActivityDesc) activityDesc
						,isnull(mechanism.mechanism,'') mechanisme1
						,isnull(pr.Mechanisme2,'') mechanisme2
						,isnull(pr.Mechanisme3,'') mechanisme3
						,isnull(pr.Mechanisme4,'') mechanisme4
						,channel.channelDesc
						,IIF(cat.ShortDesc='DC','---',account.AccountDesc) accountDesc
						,IIF(cat.ShortDesc='DC','---',subaccount.SubAccountDesc) subAccountDesc
						,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) lastStatus
						,pr.approvalNotes
						,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) [target]
						,pr.investment
						,TotalClaim dnClaim
						,TotalPaid dnPaid
						,pr.startPromo
						,pr.endPromo
						,CASE
							WHEN pr.IsCancel=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * Investment,0),0)
							END AS accrueMTD
						,CASE
							WHEN pr.IsCancel=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float),0) * Investment,0),0)
							END AS accrueYTD
						,pr.tsCoding
						, mbg.grpBrandId
						, mbg.grpBrandDesc
						INTO #temp_accrual2
						FROM tbtrx_promo pr with (nolock)
						INNER JOIN tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
						INNER JOIN tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
						LEFT JOIN tbmst_distributor d with (nolock) on m.DistributorId=d.Id
						LEFT JOIN tbmst_principal p with (nolock) on m.PrincipalId=p.Id
						INNER JOIN tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
						LEFT JOIN tbset_user uo on uo.Id=pr.CancelBy
						INNER JOIN tbset_user uf on uf.Id=pr.Approver
						INNER JOIN tbmst_activity act on pr.ActivityId=act.id
						INNER JOIN tbmst_subactivity sact on pr.SubActivityId=sact.id
						INNER JOIN tbmst_category cat on sact.CategoryId=cat.Id
						INNER JOIN
							(
								SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
											FROM tbtrx_promo_mechanism a WITH (NOLOCK)
									GROUP BY a.PromoId
							) mechanism ON pr.Id = mechanism.PromoId   		
						INNER JOIN
								(
									select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
											from tbtrx_promo_channel a with (nolock)
											INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
											INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) channel
								on pr.Id = channel.PromoId
						INNER JOIN
								(
									select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
												from tbtrx_promo_account a with (nolock)
												INNER JOIN tbmst_account ac with (nolock) ON a.AccountId=ac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) account
								on pr.Id = account.PromoId
						INNER JOIN
								(
									select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
												from tbtrx_promo_subaccount a with (nolock)
												INNER JOIN tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) subaccount
								on pr.Id = subaccount.PromoId
						LEFT JOIN
						(
							SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
							FROM tbtrx_debetnote a
							INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
							INNER JOIN tbtrx_allocation c on pr.AllocationId=c.Id
							INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
							WHERE c.Periode=@periode
							AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
							AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
							AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
							GROUP BY a.PromoId
						) dn on pr.Id=dn.PromoId
						LEFT JOIN 
						(
							SELECT a.id
							,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
		--					, isnull(sum(b.TotalPaid),0) dnpaid
							FROM tbtrx_promo a
							LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
							WHERE isnull(a.isclose,0)=1
							GROUP BY a.id 
						) promoclose on pr.Id = promoclose.id				
						LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
						LEFT JOIN (
							SELECT promoId, STRING_AGG(id, ', ') grpBrandId, STRING_AGG(longdesc, ', ') grpBrandDesc
							FROM (
								SELECT prb.promoId, mg.id, mg.longDesc
								FROM tbtrx_promo_brand prb
								INNER JOIN tbmst_brand mb ON prb.BrandId = mb.id
								INNER JOIN tbmst_brand_group mg ON mb.BrandGroupId = mg.id
								GROUP BY prb.PromoId, mg.Id, mg.LongDesc
							) a GROUP BY promoId
						) mbg ON pr.Id = mbg.promoId
						WHERE c.Periode=@periode
						AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
						AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
						AND IIF(@grpBrandId=0,'', ISNULl(pr.groupbrandid, 0)) =IIF(@grpBrandId=0,'',@grpBrandId)

						/**********************
							start pagination
						 **********************/
				
						SET @recordsFiltered = (
			    			SELECT isnull(count(PromoNumber),0) FROM #temp_accrual2
							WHERE 
								(PromoNumber like '%' + isnull(@txtSearch,'') + '%') OR 
								(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
								(StartPromo like '%' + isnull(@txtSearch,'') + '%') OR
								(EndPromo like '%' + isnull(@txtSearch,'') + '%') OR
								(Investment like '%' + isnull(@txtSearch,'') + '%') OR
								(AccrueYTD like '%' + isnull(@txtSearch,'') + '%') OR
								(LastStatus like '%' + isnull(@txtSearch,'') + '%')
						)
			
						SELECT isnull(count(PromoNumber),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_accrual2
				
				
						IF @length = -1
						BEGIN
							IF @txtSearch is null
			    			BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual2			
									ORDER BY ' + @order + ' ' + @sort
			
								EXEC sys.sp_executesql @SQL
							END 
							ELSE 
							BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual2
									WHERE 
										(PromoNumber like ''%' + isnull(@txtSearch,'') + '%'') OR 
										(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
										(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
										(AccrueYTD like ''%' + isnull(@txtSearch,'') + '%'') OR
										(LastStatus like ''%' + isnull(@txtSearch,'') + '%'')
									ORDER BY ' + @order + ' ' + @sort
								EXEC sys.sp_executesql @SQL
							END
						END
						ELSE
						BEGIN
							IF @txtSearch is null
			    			BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual2
									ORDER BY ' + @order + ' ' + @sort +' 
									OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
								EXEC sys.sp_executesql @SQL
							END 
							ELSE 
							BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual2
									WHERE 
										(PromoNumber like ''%' + isnull(@txtSearch,'') + '%'') OR 
										(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
										(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
										(AccrueYTD like ''%' + isnull(@txtSearch,'') + '%'') OR
										(LastStatus like ''%' + isnull(@txtSearch,'') + '%'')
									ORDER BY ' + @order + ' ' + @sort +' 
									OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
								EXEC sys.sp_executesql @SQL
							END	    
						END
			        
						drop table #temp_accrual2
						/**********************
							end pagination
						 **********************/				
				
					END
				END
			ELSE
				BEGIN
						SELECT
						@AccrualId accrualId
						,p.LongDesc entity
						,d.LongDesc distributor
						,p.LongDesc principalDesc
						,[dbo].[getBudgetName] (pr.AllocationId) budgetSource					
						,pr.CreateBy [initiator]
						,pr.CreateOn [createOn]
						,isnull(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
						,pr.RefId [promoNumber]
						,IIF(cat.ShortDesc='DC','---',sctg.LongDesc) [subCategory]
						,IIF(cat.ShortDesc='DC','---',act.LongDesc) [activity]
						,sact.LongDesc [subActivity]
						,IIF(cat.ShortDesc='DC','---',pr.ActivityDesc) activityDesc
						,isnull(mechanism.mechanism,'') mechanisme1
						,isnull(pr.Mechanisme2,'') mechanisme2
						,isnull(pr.Mechanisme3,'') mechanisme3
						,isnull(pr.Mechanisme4,'') mechanisme4
						,channel.channelDesc
						,IIF(cat.ShortDesc='DC','---',account.AccountDesc) accountDesc
						,IIF(cat.ShortDesc='DC','---',subaccount.SubAccountDesc) subAccountDesc
						,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) lastStatus
						,pr.approvalNotes
						,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) [target]
						,pr.investment
						,TotalClaim dnClaim
						,TotalPaid dnPaid
						,pr.startPromo
						,pr.endPromo
						,CASE
							WHEN pr.IsCancel=1 THEN 0
							WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M')<0 THEN 0
							WHEN isnull(pr.IsClose,0) = 1 THEN 
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
							WHEN
								isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
							ELSE
								ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * Investment,0),0)
							END AS accrueMTD
						,IIF(ISNULL(rrYTD.id, 0) <> 0,  ROUND(ISNULL(rrYTD.ssActual, 0) + ISNULL(rrYTD.ssForecast, 0), 0)
							,CASE
								WHEN pr.IsCancel=1 THEN 0
								WHEN dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y')<0 THEN 0
								WHEN isnull(pr.IsClose,0) = 1 THEN 
									ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT),0) * promoclose.dnpaid,0),0)					
								WHEN
									isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)),0) * Investment,0) < 0 then 0
								ELSE
									ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / NULLIF(cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float),0) * Investment,0),0)
								END
						) AS accrueYTD
						,pr.tsCoding
						, ISNULL(mbg.id, 0) grpBrandId
						, ISNULL(mbg.longDesc, '') grpBrandDesc
						INTO #temp_accrual3
						FROM tbtrx_promo pr with (nolock)
						--LEFT JOIN tbmst_main_activity_dtl tmad ON pr.SubActivityId = tmad.subactivityid
						--LEFT JOIN tbmst_main_activity tma ON tmad.mainactivityid = tma.id
						LEFT JOIN #acrualYTD rrYTD ON pr.id = rrYTD.id
						LEFT JOIN tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
						LEFT JOIN tbmst_principal p with (nolock) on pr.EntityId=p.Id
						INNER JOIN tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
						LEFT JOIN tbset_user uo on uo.Id=pr.CancelBy
						INNER JOIN tbset_user uf on uf.Id=pr.Approver
						INNER JOIN tbmst_activity act on pr.ActivityId=act.id
						INNER JOIN tbmst_subactivity sact on pr.SubActivityId=sact.id
						INNER JOIN tbmst_category cat on sact.CategoryId=cat.Id
						INNER JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
						INNER JOIN
							(
								SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
											FROM tbtrx_promo_mechanism a WITH (NOLOCK)
									GROUP BY a.PromoId
							) mechanism ON pr.Id = mechanism.PromoId   		
						INNER JOIN
								(
									select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
											from tbtrx_promo_channel a with (nolock)
											INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
											INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) channel
								on pr.Id = channel.PromoId
						LEFT JOIN
								(
									select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
												from tbtrx_promo_account a with (nolock)
												INNER JOIN tbmst_account ac with (nolock) ON a.AccountId=ac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) account
								on pr.Id = account.PromoId
						LEFT JOIN
								(
									select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
												from tbtrx_promo_subaccount a with (nolock)
												INNER JOIN tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
												INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
										GROUP BY a.PromoId
								) subaccount
								on pr.Id = subaccount.PromoId
						LEFT JOIN
						(
							SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
							FROM tbtrx_debetnote a
							INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
							WHERE pr.Period=@periode
							AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
							AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
							AND pr.StatusApprovalCode<>'TP0'
							GROUP BY a.PromoId
						) dn on pr.Id=dn.PromoId
						LEFT JOIN 
						(
							SELECT a.id
							,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
		--					, isnull(sum(b.TotalPaid),0) dnpaid
							FROM tbtrx_promo a
							LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
							WHERE isnull(a.isclose,0)=1
							GROUP BY a.id 
						) promoclose on pr.Id = promoclose.id				
						LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
						WHERE pr.period=@periode
						AND IIF(@entity=0,'',pr.entityId) =IIF(@entity=0,'',@entity)
						AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
						and pr.StatusApprovalCode<>'TP0'
						AND IIF(@grpBrandId=0,'', ISNULl(pr.groupbrandid, 0)) =IIF(@grpBrandId=0,'',@grpBrandId)

						/**********************
							start pagination
						 **********************/
				
						SET @recordsFiltered = (
			    			SELECT isnull(count(PromoNumber),0) FROM #temp_accrual3
							WHERE 
								(PromoNumber like '%' + isnull(@txtSearch,'') + '%') OR 
								(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
								(StartPromo like '%' + isnull(@txtSearch,'') + '%') OR
								(EndPromo like '%' + isnull(@txtSearch,'') + '%') OR
								(Investment like '%' + isnull(@txtSearch,'') + '%') OR
								(AccrueYTD like '%' + isnull(@txtSearch,'') + '%') OR
								(LastStatus like '%' + isnull(@txtSearch,'') + '%')
						)
			
						SELECT isnull(count(PromoNumber),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_accrual3
				
				
						IF @length = -1
						BEGIN
							IF @txtSearch is null
			    			BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual3			
									ORDER BY ' + @order + ' ' + @sort
			
								EXEC sys.sp_executesql @SQL
							END 
							ELSE 
							BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual3
									WHERE 
										(PromoNumber like ''%' + isnull(@txtSearch,'') + '%'') OR 
										(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
										(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
										(AccrueYTD like ''%' + isnull(@txtSearch,'') + '%'') OR
										(LastStatus like ''%' + isnull(@txtSearch,'') + '%'')
									ORDER BY ' + @order + ' ' + @sort
								EXEC sys.sp_executesql @SQL
							END
						END
						ELSE
						BEGIN
							IF @txtSearch is null
			    			BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual3
									ORDER BY ' + @order + ' ' + @sort +' 
									OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
								EXEC sys.sp_executesql @SQL
							END 
							ELSE 
							BEGIN
								SET @SQL = '
									SELECT * FROM #temp_accrual3
									WHERE 
										(PromoNumber like ''%' + isnull(@txtSearch,'') + '%'') OR 
										(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
										(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
										(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
										(AccrueYTD like ''%' + isnull(@txtSearch,'') + '%'') OR
										(LastStatus like ''%' + isnull(@txtSearch,'') + '%'')
									ORDER BY ' + @order + ' ' + @sort +' 
									OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
								EXEC sys.sp_executesql @SQL
							END	    
						END
			        
						drop table #temp_accrual3
						/**********************
							end pagination
						 **********************/				
				END
		END
END

GO
