USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_tt_upload_dc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_tt_upload_dc] 
	@profileid varchar(50),
	@email varchar(100),
	@ssttdc SSTTTypeDC READONLY
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE 
--	@profileid varchar(50),
--	@email varchar(100),
--	@ssttdc SSTTTypeDC

--SET @profileid = 'admin'
--SET @email ='luk@danone.com'

--INSERT INTO @ssttdc VALUES
--	('2024', 'Distributor Cost', 'DA & Subdist', 'LKA', 'Tempo', 'PTT', 'Bebelac', 'DA & Subdist', 'KPI', 'KPI', 11, '2024 Bebelac - PTT RAJA SUSU KPI - DA & Subdist'),
--	('2024', 'Distributor Cost', 'Logistics', 'LKA', 'Tempo', 'PTT', 'Bebelac', 'Logistics', 'Direct Shipment', 'Direct Shipment', 22, '2024 Bebelac - PTT RAJA SUSU Direct Shipment - Logistics')

--EXEC [ip_ss_tt_upload_dc] @profileid, @email, @ssttdc

DROP TABLE IF EXISTS tempSSVolumeType
select * INTO tempSSVolumeType from @ssttdc

BEGIN 

/*VALIDATE*/
	DROP TABLE IF EXISTS #sstt123
	
	SELECT ROW_NUMBER() OVER(ORDER BY category ASC, subcategory ASC, channel ASC
		, distributor ASC, groupbrand ASC, subactivitytype ASC, subactivity ASC, activity ASC, budgetname ASC
	) AS RowID, * into #sstt123 FROM @ssttdc

    DECLARE @temp as TABLE(
         doc varchar(255),
         [status] varchar(255)
	)

	DECLARE @tbfailed TABLE ( 
		[RowId] INT,
		[category] varchar (255),
		[subcategory] varchar (255),
		[channel] varchar (255),
		[distributor] varchar (255),
		[distributorshortdesc] varchar (255),
		[groupbrand] varchar (255),
		[subactivitytype] varchar (255),
		[subactivity] varchar (255),
		[activity] varchar (255),
		[budgetname] varchar (255)
	)

/*category*/
	INSERT INTO @temp
		SELECT DISTINCT a.category,'Category not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc 
			WHERE b.categoryDesc IS NULL

	INSERT INTO @tbfailed
		SELECT DISTINCT
			a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc 
			WHERE b.categoryDesc IS NULL

/*subcategory*/
	INSERT INTO @temp
		SELECT DISTINCT a.subcategory,'Sub Category not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc and a.subcategory = b.subcategoryDesc 
			WHERE b.subcategoryDesc IS NULL

	INSERT INTO @tbfailed
		SELECT DISTINCT
			a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc 
			WHERE b.categoryDesc IS NULL
/*channel*/
	INSERT INTO @temp
		SELECT DISTINCT a.channel,'Channel not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc 
			WHERE b.ChannelDesc IS NULL

	INSERT INTO @tbfailed
		SELECT  DISTINCT
			a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc 
			WHERE b.ChannelDesc IS NULL

--/*sub channel*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subchannel,'Sub Channel not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc
--			WHERE b.SubChannelDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, 
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc
--			WHERE b.SubChannelDesc IS NULL

--/*account*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.account,'Account not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc
--			WHERE b.AccountDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, 
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc
--			WHERE b.AccountDesc IS NULL

--/*sub account*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subaccount,'Sub Account not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc AND a.subaccount=b.SubAccountDesc
--			WHERE b.SubAccountDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, 
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc AND a.subaccount=b.SubAccountDesc
--			WHERE b.SubAccountDesc IS NULL

/*distributor*/
	INSERT INTO @temp
		SELECT DISTINCT a.distributor,'Distributor not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN tbmst_distributor b WITH (NOLOCK) ON a.distributor = b.longdesc AND isnull(b.isdeleted, 0) = 0 
			WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
		SELECT DISTINCT
   a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN tbmst_distributor b WITH (NOLOCK) ON a.distributor= b.longdesc AND isnull(b.IsDeleted, 0) = 0
			WHERE b.longdesc IS NULL

/*group brand*/
	INSERT INTO @temp
		SELECT DISTINCT a.groupbrand,'Brand not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.isdeleted, 0) = 0 
			WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
		SELECT 
   a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.isdeleted, 0) = 0
			WHERE b.longdesc IS NULL

/*sub activity type*/
	INSERT INTO @temp
		SELECT DISTINCT a.subactivitytype,'Sub Activity Type not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc  AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitytypedesc IS NULL

	INSERT INTO @tbfailed
		SELECT DISTINCT
   a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitytypedesc IS NULL

/*sub activity*/
	INSERT INTO @temp
		SELECT DISTINCT a.subactivity,'Sub Activity not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitydesc IS NULL

	INSERT INTO @tbfailed
		SELECT 
   a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitydesc IS NULL

/*Activity*/
	INSERT INTO @temp
		SELECT DISTINCT a.activity,'Activity not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.activitydesc IS NULL

	INSERT INTO @tbfailed
		SELECT 
   a.RowId, a.category, a.subcategory,
			a.channel, 
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.activitydesc IS NULL

--GOTO HELL

/*Brand NUT dan BEB gak boleh beda rate*/

/*INSERT IF NOT EXIST
	period, categoryid, subcategoryid, channelid, subchannelid, accountid, subaccountid, distributorId, distributorshortdesc, groupbrandid, subactivitytypeid, activityid, subactivityid, budgetname, tt, ssvalue, budgetamount, approvalstatus, deploymentstatus, CreatedBy, CreatedEmail, CreatedOn, ModifiedBy, ModifiedEmail, ModifiedOn, IsDeleted, DeletedBy, DeleteEmail, DeletedOn, approvedon, approvedby, approvedbyemail, deployedon, deployedby, deployedbyemail, id
*/
	INSERT INTO tbtrx_ss_tt
		(period, categoryid, subcategoryid, channelid, subchannelid, accountid, subaccountid, distributorId, distributorshortdesc, groupbrandid, subactivitytypeid, activityid, subactivityid, budgetname, tt, ssvalue, CreatedBy, CreatedEmail, CreatedOn)
	SELECT distinct  
		a.period, b.categoryid, b.subcategoryid, c.id,0,0,0, d.id, d.ShortDesc, e.Id, b.subactivitytypeid, b.activityid, b.subactivityid
		, CONCAT(a.period,' ', e.LongDesc, ' - ', d.ShortDesc, ' - ', b.SubCategoryDesc, ' ', b.subActivityTypeDesc) budgetname
		, a.tt*100, 0 ssvalue, @profileid, @email, @utcDate123 
	FROM #sstt123 a
		INNER JOIN vw_activity_active b ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
		INNER JOIN tbmst_channel c ON a.channel = c.LONGDESC --AND a.subchannel=c.SubChannelDesc AND a.account=c.AccountDesc AND a.subaccount=c.SubAccountDesc
		INNER JOIN tbmst_distributor d ON a.distributor=d.LongDesc
		INNER JOIN tbmst_brand_group e ON a.groupbrand=e.LongDesc
		LEFT JOIN tbtrx_ss_tt tt on 
				a.period = tt.period 
				AND b.categoryid=tt.categoryid
				AND b.subcategoryid=tt.subcategoryid
				AND c.Id=tt.channelid
				AND d.id=tt.distributorId
				AND d.ShortDesc=tt.distributorshortdesc
				AND e.Id=tt.groupbrandid
				AND b.subactivitytypeid=tt.subactivitytypeid
				AND b.activityid=tt.activityid
				AND b.subactivityid=tt.subactivityid
		WHERE 
			a.RowID NOT IN (SELECT RowID FROM @tbfailed)
			AND tt.id IS NULL --a.budgetname NOT IN (SELECT budgetname FROM tbtrx_ss_tt)
/*UPDATE IF EXIST*/
	UPDATE tt
		SET tt.tt=a.tt *100
			, tt.ssvalue=0
			, tt.budgetname=CONCAT(a.period,' ', e.LongDesc, ' - ', d.ShortDesc, ' - ', b.SubCategoryDesc, ' ', b.subActivityTypeDesc)
			, tt.modifiedby=@profileid
			, modifiedEmail=@email
			, modifiedon=@utcDate123
		--SELECT distinct  
		--	a.period, b.categoryid, b.subcategoryid, c.channelid, c.subchannelid, c.accountid, c.subaccountid, d.id, d.ShortDesc, e.Id, b.subactivitytypeid, b.activityid, b.subactivityid, a.budgetname, a.tt, 0 ssvalue, @profileid, @email, @utcDate123 
		FROM #sstt123 a
			INNER JOIN vw_activity_active b ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc		
			INNER JOIN tbmst_channel c ON a.channel = c.LongDesc 
			INNER JOIN tbmst_distributor d ON a.distributor=d.LongDesc
			INNER JOIN tbmst_brand_group e ON a.groupbrand=e.LongDesc
			INNER JOIN tbtrx_ss_tt tt on 
				a.period = tt.period 
				AND b.categoryid=tt.categoryid
				AND b.subcategoryid=tt.subcategoryid
				AND c.Id=tt.channelid
				AND d.id=tt.distributorId
				AND d.ShortDesc=tt.distributorshortdesc
				AND e.Id=tt.groupbrandid
				AND b.subactivitytypeid=tt.subactivitytypeid
				AND b.activityid=tt.activityid
				AND b.subactivityid=tt.subactivityid
			WHERE 
				a.RowID NOT IN (SELECT RowID FROM @tbfailed)
				--AND a.budgetname IN (SELECT budgetname FROM tbtrx_ss_tt)


	DECLARE @totUpload INT, @totFailed INT, @totSuccess INT

	SET @totUpload = (SELECT COUNT(RowId) FROM #sstt123)
	SET @totFailed = (select count(a.rowid) FROM (select rowid from @tbfailed group by rowid) a)
	SET @totSuccess = @totUpload - @totFailed

	SELECT * 
	FROM @temp

	SELECT @totUpload totUpload, @totFailed totFailed, @totSuccess totSuccess

	/* result promo */
	--SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approverRecon approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.ApproverRecon=b.Id
	--where pr.period = 2025
	--and pr.id IN (3691,3681)
	--UNION ALL
	--SELECT pr.id promoId, pr.refid, pr.CreateBy userNameInitiator, pr.Approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.Approver=b.Id
	--where pr.period = 2025
	--and pr.id IN (3683,3693)

	EXEC [dbo].[ip_ss_tt_upload_dc_promo_update] @ssttdc = @ssttdc




END

GO
