

/****** Object:  StoredProcedure [dbo].[ip_getbaseline_raw]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_getbaseline_raw] 
	@refid varchar(50), @promoplan int
AS
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE @refid varchar(50), @promoplan int
--set @refid='NIS00007/AL25/RC'
----set @refid='NIS/PL-05331/TS'
--set @promoplan=0

	DECLARE 
		@p_promoid int
		,@p_period int
		,@p_date date --creation date for plan/promo
		,@p_type int --plan/promo=1, recon=2
		,@p_distributor int
		,@p_subcategory int
		,@p_startpromo DATE
		,@p_endpromo DATE
		,@p_subactivity int

		,@p_region AttributeType 
		,@p_channel AttributeType   
		,@p_subchannel AttributeType  
		,@p_account AttributeType  
		,@p_subaccount AttributeType  
		,@p_brand AttributeType  
		,@p_product AttributeType  
		,@p_refid varchar(50)

	DECLARE @mybaseline_raw TABLE (
		f1 [varchar](50) NULL,
		f2 [varchar](50) NULL,
		f3 [varchar](50) NULL,
		f4 [varchar](50) NULL,
		f5 [varchar](50) NULL,
		f6 [varchar](50) NULL,
		f7 [varchar](50) NULL,
		f8 [varchar](50) NULL,
		f9 [varchar](50) NULL
	)

	IF @promoplan=1 /*PROMO PLANNING*****************************************************************************************************/
		BEGIN
			SET @p_promoid=(SELECT TOP 1 id FROM tbtrx_promo_planning WHERE refid like '%'+@refid+'%') /*nis02088<<<<<<<<<<PROMOID*/
			INSERT INTO @mybaseline_raw (f1,f2,f3) SELECT 'Promo Planning ID', @p_promoid, refid FROM tbtrx_promo_planning WHERE id=@p_promoid

			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'Period', Periode											FROM tbtrx_promo_planning WHERE id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'Planning Creation Date', a.CreateOn						FROM tbtrx_promo_planning a WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3,f4) 	SELECT TOP 1 'Distributor'	, a.DistributorId, b.LongDesc, b.SAPCode	FROM tbtrx_promo_planning a INNER JOIN tbmst_distributor b on a.DistributorId=b.id WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT TOP 1 'Sub Category'	, a.SubCategoryId, c.LongDesc				FROM tbtrx_promo_planning a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.id WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'Start Promo'	, a.StartPromo								FROM tbtrx_promo_planning a WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'End Promo'	, a.EndPromo								FROM tbtrx_promo_planning a WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT TOP 1 'Sub Activity'	, a.SubActivityId, c.LongDesc				FROM tbtrx_promo_planning a INNER JOIN tbmst_subactivity c on a.SubActivityId=c.id WHERE a.id=@p_promoid

			INSERT INTO @mybaseline_raw (f1,f2,f3, f4)	SELECT DISTINCT 'Region'		, a.RegionId, c.LongDesc, c.SAPCode		FROM tbtrx_promo_planning_region a INNER JOIN tbmst_region c on a.RegionId=c.Id WHERE a.PromoPlanId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Channel'		, a.ChannelId, c.LongDesc				FROM tbtrx_promo_planning_channel a INNER JOIN tbmst_channel c on a.ChannelId=c.Id WHERE a.PromoPlanId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Sub Channel'	, a.SubChannelId, c.LongDesc			FROM tbtrx_promo_planning_subchannel a INNER JOIN tbmst_subchannel c on a.SubChannelId=c.Id WHERE a.PromoPlanId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Account'		, a.AccountId, c.LongDesc				FROM tbtrx_promo_planning_account a INNER JOIN tbmst_account c on a.AccountId=c.Id WHERE a.PromoPlanId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3,f4)	SELECT DISTINCT 'Sub Account'	, a.SubAccountId, c.LongDesc, d.sapcode FROM tbtrx_promo_planning_subaccount a LEFT JOIN tbmst_subaccount c on a.SubAccountId=c.Id LEFT JOIN tbset_map_subaccount_sap d on c.id=d.subaccountid WHERE a.PromoPlanId=@p_promoid

			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Brand'		, a.brandid, c.LongDesc					FROM tbtrx_promo_planning_brand a INNER JOIN tbmst_brand c on a.BrandId=c.Id WHERE a.PromoPlanId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3,f4)	SELECT DISTINCT 'SKU'		, a.ProductId, c.LongDesc, d.SAPCode	FROM tbtrx_promo_planning_product a INNER JOIN tbmst_product c on a.ProductId=c.Id INNER JOIN tbset_map_product_sap d on c.Id=d.ProductId WHERE a.PromoPlanId=@p_promoid

			SET @p_promoid=	(SELECT f2 FROM @mybaseline_raw WHERE f1='Promo Planning ID' )
			SET @p_period=	(SELECT f2 FROM @mybaseline_raw WHERE f1='Period')
		END
	ELSE		/*PROMO *****************************************************************************************************/
		BEGIN
			SET @p_promoid=(SELECT TOP 1 id FROM tbtrx_promo WHERE refid like '%'+@refid+'%') /*nis02088<<<<<<<<<<PROMOID*/
			INSERT INTO @mybaseline_raw (f1,f2,f3)	SELECT 'Promo ID', @p_promoid, refid FROM tbtrx_promo WHERE id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2)		SELECT 'Period', Periode FROM tbtrx_promo_planning a INNER JOIN tbtrx_promo b on a.id=b.PromoPlanId WHERE b.id=@p_promoid

			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'Planning Creation Date'			, b.CreateOn			FROM tbtrx_promo a INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.id  WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3,f4)	SELECT TOP 1 'Distributor'	, b.DistributorId, c.LongDesc, c.SAPCode	FROM tbtrx_promo a INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.id INNER JOIN tbmst_distributor c on b.DistributorId=c.id WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT TOP 1 'Sub Category'	, a.SubCategoryId, c.LongDesc				FROM tbtrx_promo a INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.id INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.id WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'Start Promo'	, a.StartPromo								FROM tbtrx_promo a INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.id WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2)			SELECT TOP 1 'End Promo'		, a.EndPromo							FROM tbtrx_promo a INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.id WHERE a.id=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT TOP 1 'Sub Activity'	, a.SubActivityId, c.LongDesc				FROM tbtrx_promo a INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.id INNER JOIN tbmst_subactivity c on a.SubActivityId=c.id WHERE a.id=@p_promoid

			INSERT INTO @mybaseline_raw (f1,f2,f3, f4)	SELECT DISTINCT 'Region'		, a.RegionId, c.LongDesc, c.SAPCode			FROM tbtrx_promo_region a LEFT JOIN tbmst_region c on a.RegionId=c.Id WHERE a.PromoId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Channel'		, a.ChannelId, c.LongDesc					FROM tbtrx_promo_channel a LEFT JOIN tbmst_channel c on a.ChannelId=c.Id WHERE a.PromoId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Sub Channel'	, a.SubChannelId, c.LongDesc				FROM tbtrx_promo_subchannel a LEFT JOIN tbmst_subchannel c on a.SubChannelId=c.Id WHERE a.PromoId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3)		SELECT DISTINCT 'Account'		, a.AccountId, c.LongDesc					FROM tbtrx_promo_account a LEFT JOIN tbmst_account c on a.AccountId=c.Id WHERE a.PromoId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3,f4)	SELECT DISTINCT 'Sub Account'	, a.SubAccountId, c.LongDesc, d.sapcode		FROM tbtrx_promo_subaccount a LEFT JOIN tbmst_subaccount c on a.SubAccountId=c.Id LEFT JOIN tbset_map_subaccount_sap d on c.id=d.subaccountid WHERE a.PromoId=@p_promoid

			INSERT INTO @mybaseline_raw (f1,f2,f3) 
				SELECT DISTINCT 'Brand'		, a.brandid, c.LongDesc FROM tbtrx_promo_brand a 
					INNER JOIN tbmst_brand c on a.BrandId=c.Id 
					INNER JOIN tbtrx_promo d on a.PromoId=d.id 
					INNER JOIN tbtrx_allocation_brand e on a.BrandId=e.BrandId  and d.AllocationId=e.AllocationId
						WHERE a.PromoId=@p_promoid
			INSERT INTO @mybaseline_raw (f1,f2,f3,f4) 
				SELECT DISTINCT 'SKU'		, a.ProductId, c.LongDesc, d.SAPCode FROM tbtrx_promo_product a 
					INNER JOIN tbmst_product c on a.ProductId=c.Id 
					INNER JOIN tbset_map_product_sap d on c.Id=d.ProductId 
					INNER JOIN tbtrx_promo e on a.PromoId=e.id 
					INNER JOIN tbtrx_allocation_product f on a.ProductId=f.ProductId and e.AllocationId=f.AllocationId
						WHERE a.PromoId=@p_promoid


			SET @p_promoid=	(SELECT f2 FROM @mybaseline_raw WHERE f1='Promo ID' )
			SET @p_period=	(SELECT f2 FROM @mybaseline_raw WHERE f1='Period')

		END

	SET @p_date=			(SELECT f2 FROM @mybaseline_raw WHERE f1='Creation Date')
	SET @p_type=			(SELECT f2 FROM @mybaseline_raw WHERE f1='type')
	SET @p_distributor=		(SELECT f2 FROM @mybaseline_raw WHERE f1='Distributor')
	SET @p_subcategory=		(SELECT f2 FROM @mybaseline_raw WHERE f1='Sub Category')
	SET @p_startpromo =		(SELECT f2 FROM @mybaseline_raw WHERE f1='Start Promo')
	SET @p_endpromo =		(SELECT f2 FROM @mybaseline_raw WHERE f1='End Promo')
	SET @p_subactivity =	(SELECT f2 FROM @mybaseline_raw WHERE f1='Sub Activity')

	INSERT INTO @p_region(id) SELECT f2 FROM @mybaseline_raw WHERE f1='Region'
	INSERT INTO @p_channel(id) SELECT f2 FROM @mybaseline_raw WHERE f1='Channel'
	INSERT INTO @p_subchannel(id) SELECT f2 FROM @mybaseline_raw WHERE f1='Sub Channel'
	INSERT INTO @p_account(id) SELECT f2 FROM @mybaseline_raw WHERE f1='Account'
	INSERT INTO @p_subaccount(id) SELECT f2 FROM @mybaseline_raw WHERE f1='Sub Account'
	INSERT INTO @p_brand(id) SELECT f2 FROM @mybaseline_raw WHERE f1='Brand'
	INSERT INTO @p_product(id) SELECT f2 FROM @mybaseline_raw WHERE f1='SKU'

	DECLARE @Period int
		, @distributorid nvarchar(50)
		, @channel varchar(100)
		, @ap3m decimal(38,12)
		, @ap6m decimal(38,12)
		, @ap9m decimal(38,12)
		, @ap12m decimal(38,12)
		, @baseline_old decimal(38,12)
		, @baseline_new decimal(38,12)
		, @baseline_final decimal(38,12)
		, @baseline_tot decimal(38,12)
		, @my1 varchar(6)
		, @my3 varchar(6)
		, @my6 varchar(6)
		, @my9 varchar(6)
		, @my12 varchar(6)
		, @anomaly_pct decimal(38,12)
		, @startpromo varchar(6)
		, @endpromo varchar(6)
		, @salesamount varchar(5)
		, @actual_sales decimal(38,12)

	DECLARE @Temp_Blitz TABLE 
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)

	DECLARE @Temp_Blitz_TS TABLE
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)

	DECLARE @Temp_Blitz_TS_AS TABLE
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)

	DECLARE @Temp_Blitz_BL table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)


	DECLARE @Temp_Blitz_pm_old TABLE
	(
		[ym] [varchar] (6) NULL,
		[tot] [numeric](18, 6) 
	)
	DECLARE @Temp_Blitz_pm_pct TABLE
	(
		[ym] [varchar] (6) NULL,
		[pct] [numeric](18, 6) 
	)
	DECLARE @Temp_Blitz_pm_new TABLE
	(
		[ym] [varchar] (6) NULL,
		[tot] [numeric](18, 6) 
	)
	DECLARE @Temp_ym TABLE
	(
		[ym] [varchar] (6), 
		[sales] [numeric](18, 6), 
		[anomaly_pct] [numeric](18, 6), 
		[bsold] [numeric](18, 6) ,
		[abnormal_pct] [numeric](18, 6), 
		[sales_abnormal] [numeric](18, 6), 
		[sales_new] [numeric](18, 6) 
	)
	DECLARE @Temp_bs TABLE
	(
		[bs] [varchar] (10) NULL,
		[bsold] [numeric](18, 6), 
		[bsnew] [numeric](18, 6) 
	)

	IF @promoplan<>1 and @utcDate123>@p_endpromo 
		BEGIN
			SET @p_date=(SELECT a.EndPromo FROM tbtrx_promo a WHERE a.id=@p_promoid); 
		END
	ELSE IF @promoplan<>1
		BEGIN
			SET @p_date=(SELECT a.createon FROM tbtrx_promo_planning a INNER JOIN tbtrx_promo b on a.id=b.PromoPlanId WHERE b.id=@p_promoid); 
		END
	ELSE 	
		BEGIN
			SET @p_date=(SELECT a.createon FROM tbtrx_promo_planning a WHERE a.id=@p_promoid); 
		END

--INSERT INTO @mybaseline_raw (f1,f2,f3) values (@p_date,@utcDate123,@p_endpromo)

	SELECT 
		@my1=CONVERT(varchar(6),DATEADD(month,-1,@p_date),112)
		, @my3=CONVERT(varchar(6),DATEADD(month,-3,@p_date),112)
		, @my6=CONVERT(varchar(6),DATEADD(month,-6,@p_date),112)
		, @my9=CONVERT(varchar(6),DATEADD(month,-9,@p_date),112)
		, @my12=CONVERT(varchar(6),DATEADD(month,-12,@p_date),112)

	SET @period=@p_period
	SET @distributorid=(SELECT sapcode FROM tbmst_distributor WHERE id=@p_distributor)
	SET @startpromo=CONVERT(varchar(6),@p_startpromo,112)
	SET @endpromo=CONVERT(varchar(6),@p_endpromo,112)
	SET @channel=(SELECT a.longdesc FROM tbmst_channel a INNER JOIN @p_channel b on a.id=b.id)
	SET @salesamount=(SELECT salesamount FROM tbset_map_subactivity_salesamount WHERE SubActivityID=@p_subactivity)

	UPDATE @mybaseline_raw SET f4=@salesamount WHERE f1='Sub Activity'

	INSERT INTO @temp_ym (ym) values
		(CONVERT(varchar(6),DATEADD(month,-1,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-2,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-3,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-4,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-5,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-6,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-7,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-8,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-9,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-10,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-11,@p_date),112)),
		(CONVERT(varchar(6),DATEADD(month,-12,@p_date),112))

	INSERT INTO @Temp_bs (bs) values
	('AP3M'),('AP6M'),('AP9M'),('AP12M'),('BASELINE')

	IF @salesamount='SS' 
		BEGIN
			INSERT INTO @Temp_Blitz 
				SELECT [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym FROM tbtrx_blitz a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a INNER JOIN @p_subaccount b on a.subaccountid=b.id
					)b on a.subaccountcode=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region b on a.id=b.Id
					)c on a.Region_Code=c.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a on x.productid=a.id
					)d on a.Product_Code=d.sapcode
				WHERE a.SOURCE='SS' and a.distributor_id = @distributorid and CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 and CONCAT(year,right(CONCAT('0',month_int),2))>=@my12	
		END

	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_TS
				SELECT  
					[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym 
					FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a INNER JOIN @p_subaccount b on a.subaccountid=b.id
						)b on a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region b on a.id=b.Id
						)c on a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a on x.productid=a.id
						)d on a.Product_Code=d.sapcode
					WHERE a.SOURCE='TS' and a.distributor_id = 99999999 and CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 and CONCAT(year,right(CONCAT('0',month_int),2))>=@my12

			INSERT INTO @Temp_Blitz 
				SELECT 
					a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
				FROM @Temp_Blitz_TS a
				INNER JOIN (
						SELECT DISTINCT e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code FROM tbset_map_brand_subacc_dist_ts a
							INNER JOIN tbmst_product b on a.brandid=b.BrandId
							INNER JOIN tbset_map_subaccount_sap c on a.subaccountid=c.subaccountid
							INNER JOIN tbset_map_product_sap d on b.id=d.ProductId
							INNER JOIN tbmst_distributor e on a.distributorid=e.id
							where e.SAPCode=@distributorid
					)b on a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code

			INSERT INTO @Temp_Blitz 
				SELECT a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],CONCAT(a.year,right(CONCAT('0',a.month_int),2)) FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a INNER JOIN @p_subaccount b on a.subaccountid=b.id
						)b on a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region b on a.id=b.Id
						)c on a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x INNER JOIN @p_product a on x.productid=a.id
						)d on a.Product_Code=d.sapcode
					WHERE 
						a.SOURCE='SS' 
						AND CONCAT(a.year,right(CONCAT('0',a.month_int),2))>=@my12 AND CONCAT(a.year,right(CONCAT('0',a.month_int),2))<=@my1
						AND a.distributor_id =@distributorid
						AND productid NOT IN (
						SELECT productid FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz b on a.SAPCode=b.Product_Code)
		END

--SELECT a.ym, b.totpm FROM @temp_ym a
--	LEFT JOIN (
--		SELECT ym, sum(SS_RBP)*1.00 as totpm FROM @Temp_Blitz group by ym
--	)b on a.ym=b.ym
/*hitung sales initial per bulan*/
	INSERT INTO @Temp_Blitz_pm_old SELECT ym, sum(SS_RBP)*1.00  FROM @Temp_Blitz group by ym

--/*hitung old baseline*/
--/*TOBEREMARKED*/	SELECT @my1, @my3, @my6, @my9, @my12

	SELECT @ap3m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my3  
	SELECT @ap6m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my6  
	SELECT @ap9m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my9  
	SELECT @ap12m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my12

	IF (IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))<>0
		BEGIN
			SET @Baseline_old = (@ap3m + @ap6m + @ap9m + @ap12m)/(IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))
		END

--/*TOBEREMARKED*/	SELECT @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_old as baseline_old

	UPDATE @Temp_bs SET bsold=@ap3m WHERE bs='AP3M'
	UPDATE @Temp_bs SET bsold=@ap6m WHERE bs='AP6M'
	UPDATE @Temp_bs SET bsold=@ap9m WHERE bs='AP9M'
	UPDATE @Temp_bs SET bsold=@ap12m WHERE bs='AP12M'
	UPDATE @Temp_bs SET bsold=@baseline_old WHERE bs='BASELINE'

/*pct anomaly based on channel*/
--SET @anomaly_pct = 
--	case when @channel='MMKA' or @channel='PROVISION' then 0.15
--		when @channel='HYSU' or @channel='LKA' then 0.30
--		else 0
--	end
	SET @anomaly_pct = 0.15

--/*TOBEREMARKED*/	SELECT ym, tot as sales, @anomaly_pct as anomaly_pct, @baseline_old as baseline_old, (tot/@baseline_old)-1 as abnormal_pct, 
--/*TOBEREMARKED*/	case 
--/*TOBEREMARKED*/	when @anomaly_pct=0 then tot 
--/*TOBEREMARKED*/	when (tot/@baseline_old)-1 <=@anomaly_pct then tot 
--/*TOBEREMARKED*/	else 0 end as sales_abnorm  FROM @Temp_Blitz_pm_old

	UPDATE a 
		SET a.sales=b.sales, a.anomaly_pct=b.anomaly_pct, a.bsold=@baseline_old, a.abnormal_pct=b.abnormal_pct, a.sales_abnormal=b.sales_abnormal
		FROM @Temp_ym a
		LEFT JOIN (
			SELECT ym, tot as sales, @anomaly_pct as anomaly_pct, @baseline_old as baseline_old, (tot/@baseline_old)-1 as abnormal_pct, 
				CASE
					WHEN @anomaly_pct=0 THEN tot 
					WHEN (tot/@baseline_old)-1 <=@anomaly_pct THEN tot 
					ELSE 0 END as sales_abnormal  FROM @Temp_Blitz_pm_old
			)b on a.ym=b.ym

/*sales takeout jika diluar range anomaly*/
	INSERT INTO @Temp_Blitz_pm_new SELECT ym, case 
		when @anomaly_pct=0 then tot 
		when (tot>=@baseline_old) AND ((tot/@baseline_old)-1 <=@anomaly_pct) then tot 
		when (tot<@baseline_old) AND ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) then tot 
		end FROM @Temp_Blitz_pm_old

	--where isnull(case 
	--when @anomaly_pct=0 then tot 
	--when (tot>=@baseline_old) AND ((tot/@baseline_old)-1 <=@anomaly_pct) then tot 
	--when (tot<@baseline_old) AND ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) then tot end,0)<>0

--/*TOBEREMARKED*/	SELECT * FROM @Temp_Blitz_pm_new

	UPDATE a 
		SET a.sales_new=b.sales_new
		FROM @Temp_ym a
		LEFT JOIN (
			SELECT ym, CASE 
					WHEN @anomaly_pct=0 THEN tot 
					WHEN (tot>=@baseline_old) AND ((tot/@baseline_old)-1 <=@anomaly_pct) THEN tot 
					WHEN (tot<@baseline_old) AND ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) THEN tot 
					END sales_new FROM @Temp_Blitz_pm_old
				)b on a.ym=b.ym

/*hitung new baseline*/
	SELECT @ap3m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my3  
	SELECT @ap6m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my6  
	SELECT @ap9m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my9  
	SELECT @ap12m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my12

	IF (IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))<>0
		BEGIN
			SET @Baseline_new = (@ap3m + @ap6m + @ap9m + @ap12m)/(IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))
		END
	ELSE
		BEGIN
			SET @Baseline_new = 0
		END

	SET @baseline_final= IIF(@baseline_new=0, @baseline_old, (SELECT 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end ))

--/*TOBEREMARKED*/SELECT @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_final as baseline_new

	UPDATE @Temp_bs SET bsnew=@ap3m WHERE bs='AP3M'
	UPDATE @Temp_bs SET bsnew=@ap6m WHERE bs='AP6M'
	UPDATE @Temp_bs SET bsnew=@ap9m WHERE bs='AP9M'
	UPDATE @Temp_bs SET bsnew=@ap12m WHERE bs='AP12M'
	UPDATE @Temp_bs SET bsnew=@baseline_final WHERE bs='BASELINE'

	DECLARE 
		@ndays_start int, @ndays_end int, @nmonths int
		,@bl_start money, @bl_end money, @bl_tot money

	SET @ndays_start=0; SET @ndays_end=0; SET @nmonths=0;

	IF month(@p_startpromo)=month(@p_endpromo)
		BEGIN
			SET @ndays_start = IIF(day(@p_endpromo)-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(@p_endpromo)-day(@p_startpromo)+1)
			SET @ndays_end=0
			SET @nmonths=IIF(@ndays_start=0,1,0)
		END
	ELSE
		BEGIN
			SET @ndays_start = IIF(day(eomonth(@p_startpromo))-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(eomonth(@p_startpromo))-day(@p_startpromo)+1)	
			SET @ndays_end = IIF(day(@p_endpromo)=day(eomonth(@p_endpromo)),0,day(@p_endpromo))	
			SET @nmonths = DATEDIFF(month,@p_startpromo, @p_endpromo)-1+IIF(@ndays_start=0,1,0)+IIF(@ndays_end=0,1,0)
		END

	SET @baseline_tot = 
		(1.00*@ndays_start*@baseline_final/day(eomonth(@p_startpromo)))
		+((1.00*@ndays_end*@baseline_final/day(eomonth(@p_endpromo))))
		+(1.00*@nmonths*@baseline_final)
--SELECT 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end as baseline_sales

--/*TOBEREMARKED*/SELECT @salesamount, @baseline_final,@p_startpromo, @p_endpromo, @ndays_start, @ndays_end, @nmonths

/*Result SET for baseline raw data****************************************************/
	INSERT INTO @Temp_Blitz_BL SELECT * FROM  @Temp_Blitz
/****************************************************Result SET for baseline raw data*/


/*Actual Sales****************************************************************/
	DELETE FROM @Temp_Blitz

	SET @my1=CONVERT(varchar(6),@p_endpromo,112)
	SET @my12=CONVERT(varchar(6),@p_startpromo,112)

	IF @salesamount='SS' 
		BEGIN
			INSERT INTO @Temp_Blitz 
				SELECT [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym FROM tbtrx_blitz a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a INNER JOIN @p_subaccount b on a.subaccountid=b.id
					)b on a.subaccountcode=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region b on a.id=b.Id
					)c on a.Region_Code=c.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a on x.productid=a.id
					)d on a.Product_Code=d.sapcode
				WHERE a.SOURCE='SS' AND a.distributor_id = @distributorid AND CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 AND CONCAT(year,right(CONCAT('0',month_int),2))>=@my12	
		END
	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_TS_AS
				SELECT  
					[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym 
					FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a INNER JOIN @p_subaccount b on a.subaccountid=b.id
						)b on a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region b on a.id=b.Id
						)c on a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a on x.productid=a.id
						)d on a.Product_Code=d.sapcode
					WHERE a.SOURCE='TS' AND a.distributor_id = 99999999 AND CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 AND CONCAT(year,right(CONCAT('0',month_int),2))>=@my12

			INSERT INTO @Temp_Blitz 
				SELECT 
					a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
					FROM @Temp_Blitz_TS_AS a
					INNER JOIN (
							SELECT DISTINCT e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code FROM tbset_map_brand_subacc_dist_ts a
								INNER JOIN tbmst_product b on a.brandid=b.BrandId
								INNER JOIN tbset_map_subaccount_sap c on a.subaccountid=c.subaccountid
								INNER JOIN tbset_map_product_sap d on b.id=d.ProductId
								INNER JOIN tbmst_distributor e on a.distributorid=e.id
								where e.SAPCode=@distributorid
						)b on a.subaccountcode=b.subaccountcode AND a.Product_Code=b.product_code
 
			INSERT INTO @Temp_Blitz 
				SELECT a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],CONCAT(a.year,right(CONCAT('0',a.month_int),2)) 
					FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a INNER JOIN @p_subaccount b on a.subaccountid=b.id
						)b on a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region b on a.id=b.Id
						)c on a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x INNER JOIN @p_product a on x.productid=a.id
						)d on a.Product_Code=d.sapcode
					WHERE 
						a.SOURCE='SS' 
						AND CONCAT(a.year,right(CONCAT('0',a.month_int),2))>=@my12 AND CONCAT(a.year,right(CONCAT('0',a.month_int),2))<=@my1
						AND a.distributor_id =@distributorid
						AND productid NOT IN (
						SELECT productid FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz b on a.SAPCode=b.Product_Code)
		END

	SET @actual_sales = (
			SELECT sum(SS_RBP) FROM @Temp_Blitz 
			WHERE 
				ym>=left(CONVERT(varchar, @p_startpromo, 112),6)
				AND ym<=left(CONVERT(varchar, @p_endpromo, 112),6)
			) 

	IF DATEDIFF(day, @p_startpromo, @p_endpromo)<=14 
		BEGIN
			IF datediff(month,@p_startpromo, @p_endpromo)+1>1
				BEGIN 
					SET  @actual_sales= @actual_sales*0.7/2
				END
			ELSE
				BEGIN
					SET  @actual_sales= @actual_sales*0.7
				END
		END

/****************************************************************Actual Sales*/

/*final results*/
delete FROM @mybaseline_raw WHERE f1='type'
SELECT * FROM @mybaseline_raw
SELECT * FROM @Temp_ym
SELECT * FROM @Temp_bs
SELECT @baseline_tot as baseline_sales, isnull(@actual_sales,0)  as actual_sales
SELECT * FROM @Temp_Blitz 
SELECT * FROM @Temp_Blitz_BL 

--INSERT INTO rekap201202 SELECT @refid, Investment, normalsales, IncrSales, roi, CostRatio, isnull(@baseline_tot,0) FROM tbtrx_promo_planning WHERE RefId=@refid
GO
