USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_xml_generate_non_batching_dist_payment]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_xml_generate_non_batching_dist_payment]
@entity int
AS

--declare @entity int
--set @entity=2

BEGIN
	DECLARE @Temp TABLE
	(
		InvoiceNo varchar(50)
		,BatchName varchar(100)
		,Distributor varchar(100)
		,BudgetBucket varchar(100)
		,InvoiceDNNumber varchar(50)
		,DNAmount numeric(18,2)
		,FeeAmount numeric(18,2)
		,FeePct numeric(18,2)
		,PPNAmt numeric(18,2)
		,PPNPct numeric(18,2)
		,PPHAmt numeric(18,2)
		,PPHPct numeric(18,2)
		,TotalToPay numeric(18,2)
		,DNNumber varchar(50)
		,DNDesc varchar(255)
		,PromoNumber varchar(50)
	);
INSERT INTO @Temp
SELECT 
	case 
			when SUBSTRING(td.refid,4,5)='Tempo' then 
				concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
			when SUBSTRING(td.refid,4,3)='WCI' then 
				concat('WCI', SUBSTRING(td.refid,12,4), right(td.refid,8))
			when SUBSTRING(td.refid,4,7)='Aladdin' then 
				concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
			else 
				concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
		end as InvoiceNo
	,CONCAT('BATCH ', td.refid, ' ', tc.LongDesc,' ', ta.Periode) BatchName
	,tmd.LongDesc Distributor
	,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket 
	,td.RefId InvoiceDNNumber
	,isnull(td.DNAmount,0) DNAmount
	,isnull(td.FeeAmount, 0) FeeAmount
	,isnull(td.FeePct, 0) FeePct
	,isnull(td.PPNAmt, 0) PPNAmt
	,isnull(td.PPNPct, 0) PPNPct
	,isnull(td.PPHAmt, 0) PPHAmt
	,isnull(td.PPHPct, 0) PPHPct
	,isnull(td.DPP, 0) + isnull(td.PPNPct, 0) - isnull(td.PPNAmt, 0) TotalToPay
	,td.RefId DNNumber
	,td.ActivityDesc DNDesc
	,tp.RefId PromoNumber
FROM tbtrx_debetnote td 
	INNER JOIN tbmst_principal mp ON td.PrincipalId = mp.id
	INNER JOIN tbmst_subchannel ts ON td.SubChannelId=ts.id
	INNER JOIN tbmst_channel tc ON ts.ChannelId = tc.id
	LEFT JOIN tbtrx_promo tp on td.PromoId = tp.id
	LEFT JOIN tbtrx_allocation ta ON tp.AllocationId = ta.Id 
	LEFT JOIN tbset_mapping_pricecondition tsmp on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
	INNER JOIN tbmst_distributor tmd on td.DistributorId = tmd.Id
	WHERE td.LastStatus = 'invoice'
	AND isnull(td.IsCancel, 0) = 0
	AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
	AND td.TaxLevel<>'00000000'
	
SELECT 
	InvoiceNo
	,BatchName
	,Distributor
	,BudgetBucket
	,InvoiceDNNumber
	,DNAmount 
	,FeeAmount 
	,FeePct 
	,PPNAmt 
	,PPNPct 
	,PPHAmt 
	,PPHPct 
	,TotalToPay
	,DNNumber
	,DNDesc
	,PromoNumber
FROM @Temp invoice
--WHERE invoice.InvoiceNo NOT IN (SELECT PONumber FROM tbxml_generate WHERE isnull(isDeleted,0) = 0)

END
GO
