

/****** Object:  StoredProcedure [dbo].[ip_dnid_workflow_change]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dnid_workflow_change] --1
@refid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--declare @id int
--set @id=425

BEGIN
/************
xxxx
************/
--DECLARE @Temp TABLE
--	(
--		strdtime varchar(20)
--		, userid varchar(20)
--		, loginemail varchar(100)
--		, [status] varchar(50)
--		, dpp bigint
--		, [action] varchar(50)
--		, dtime varchar(20)
--	)
--		insert into @Temp 
--			select format(createon,'dd/mm/yyyy hh:ss'), createby, createdemail, laststatus, dpp, '',createon from tbhis_debetnote where id=@id and laststatus='created' and isnull(modifiedby,'')=''

--		insert into @Temp 
--			select format(modifiedon,'dd/mm/yyyy hh:ss'), modifiedby, modifiedemail, laststatus, dpp, '',modifiedon from tbhis_debetnote where id=@id and laststatus<>'created' and isnull(modifiedby,'')<>''

--		insert into @Temp 
--			select format(CreateOn,'dd/mm/yyyy hh:ss'), CreateBy, '' createdemail, dnstatus, 0 dpp, '',CreateOn from tbtrx_debetnote_status_log where dnid=@id 

--		insert into @Temp 
--			select format(actionOn,'dd/mm/yyyy hh:ss'), actionBy, '' createdemail, statussalescode, 0 dpp, iif(statussalescode='TP3','rejection',''),ActionOn from tbhis_debetnote_sales_log where id=@id 
		
--		select * from @Temp order by dtime

/************
DUMMY
************/
-- 	select format(@utcDate123,'dd/mm/yyyy hh:ss') dtime, 'admin' userid, 'lukman.hand@danone.com' loginemail, 'DPP' field, 123000 oldvalue, 234000 newvalue
    SELECT format(a.CreatedOn,'dd/MM/yyyy HH:mm') dtime, a.CreatedBy userid, a.CreatedByEmail loginemail, a.statusField field,
        a.oldvalue, a.newvalue
    FROM dbo.tbtrx_debetnote_workflow_change a
    INNER JOIN dbo.tbtrx_debetnote dn on a.dnid=dn.Id
    WHERE dn.RefId like '%'+@RefId+'%'
    order by convert(datetime, a.CreatedOn) desc
END
GO
