USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_tscode_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_tscode_del]
	@Id     int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_tscode_mapping
	( 
       [ParentId]
      ,[ACTIVITY]
      ,[TSCodeMap]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[ACTIVITY]
      ,[TSCodeMap]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_tscode_mapping
	WHERE Id = @Id

	DELETE tbset_tscode_mapping
	WHERE Id = @Id
END




GO
