

/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_delete]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,AINUL>
-- Create date: <Create Date,,20190928>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_budgetallocation_delete]
	-- Add the parameters for the stored procedure here
	@Id			VARCHAR(10),
	@UserId		VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- DELETE BUDGET ALLOCATION USER PROMO BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_userpromo] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION USER PROMO END -----

	-- DELETE BUDGET ALLOCATION USER ASSIGN BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_userassign] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION USER ASSIGN END -----

	-- DELETE BUDGET ALLOCATION USER ACCESS BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_useraccess] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION USER ACCESS END -----

	-- DELETE BUDGET ALLOCATION SUBACCOUNT BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_subaccount] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION SUBACCOUNT END -----

	-- DELETE BUDGET ALLOCATION ACCOUNT BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_account] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION ACCOUNT END -----

	-- INSERT BUDGET ALLOCATION SUBCHANNEL BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_subchannel] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION SUBCHANNEL END -----

	-- DELETE BUDGET ALLOCATION CHANNEL BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_channel] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION CHANNEL END -----

	-- DELETE BUDGET ALLOCATION REGION BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_region] where AllocationId=@Id
	-- DELETE BUDGET ALLOCATION REGION END -----

	-- DELETE BUDGET ALLOCATION ALLACTION BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation] WHERE Id=@Id
	-- DELETE BUDGET ALLOCATION ALLACTION END -----
END
GO
