USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_recalculate_budget_balance]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_recalculate_budget_balance] --380

@p_bal int

AS

--declare @p_bal int
--set @p_bal=1348

declare @p_useamt_from_budget decimal(18,2);
declare @p_rsvamt_from_budget decimal(18,2);
declare @p_useamt_from_tpp decimal(18,2);
declare @p_rsvamt_from_tpp decimal(18,2);
declare @keyid int;
declare @balid int;
declare @ctgid int;
declare @useamt decimal(18,2);
declare @rsvamt decimal(18,2);
declare @p_totrsvamt decimal(18,2);
declare @p_totuseamt decimal(18,2);
declare @p_FLAG char(1);
declare @p_TPP_CODE varchar(20);
declare @msg nvarchar(max);

set @p_FLAG='0';
set @p_TPP_CODE='';


				--CREATE TABLE #TEMP_BDG(
				--BALID INT,
				--KEYID INT,
				--USEAMT DECIMAL(18,2),
				--RSVAMT DECIMAL(18,2),
				--CTGID INT
				--)

declare cursor_bal CURSOR for
	select AllocationId,UseAmount,ReserveAmount,SubCategoryId FROM tbtrx_allocation_balance where AllocationId=@p_bal
	open cursor_bal;
	fetch next from cursor_bal into @keyid,@useamt,@rsvamt,@ctgid;

BEGIN TRANSACTION
BEGIN TRY
	while(@@FETCH_STATUS=0)
	begin

				--DARI BUDGET
				set @p_rsvamt_from_budget=( SELECT sum(A.BudgetAmount) FROM tbtrx_allocation A
				INNER JOIN
				(
				SELECT tbtrx_budgetassignment_detail.Id FROM tbtrx_budgetassignment_detail 
				LEFT JOIN
					tbtrx_budgetassignment
				ON
					tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
	
				WHERE tbtrx_budgetassignment.AllocationId=@keyid	
				) B
				ON A.BudgetSourceId=B.Id
				 and A.BudgetType='BTR'
				INNER JOIN tbtrx_allocation_detail C
				ON A.Id=C.AllocationId 
				AND C.SubCategoryId=@ctgid
				where StatusApproval='AP1' 
				)

				set @p_useamt_from_budget=( SELECT sum(a.BudgetAmount) FROM tbtrx_allocation A
				INNER JOIN
				(
				SELECT tbtrx_budgetassignment_detail.Id FROM tbtrx_budgetassignment_detail 
				LEFT JOIN
					tbtrx_budgetassignment
				ON
					tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
	
				WHERE tbtrx_budgetassignment.AllocationId=@keyid	
				) B
				ON A.BudgetSourceId=B.Id
				 and A.BudgetType='BTR'
				INNER JOIN tbtrx_allocation_detail C
				ON A.Id=C.AllocationId 
				AND C.SubCategoryId=@ctgid
				where StatusApproval='AP2' 
				)


				--END DARI BUDGET

				--DARI TPP
										
				

				SELECT	tbtrx_allocation_balance.AllocationId AS BAL_ID,
						tbtrx_allocation_balance.SubCategoryId,
						tbtrx_promo.Id AS TPP_ID,
						StatusApprovalCode,
						ISNULL(Investment, 0) Investment,
						tbtrx_promo.IsCancel,
						tbtrx_promo.IsClose 
				  INTO  #TPP_DN
				  FROM	tbtrx_promo
						INNER JOIN tbtrx_allocation_balance
						ON
							tbtrx_promo.AllocationId = tbtrx_allocation_balance.AllocationId
							--AND tbtrx_promo.SubCategoryId = tbtrx_allocation_balance.SubCategoryId
						--INNER JOIN (
						--				SELECT tbtrx_promo.Id AS PromoId,
						--					   SUM(ISNULL(TotalClaim, 0))  AS TotalClaim
						--				  FROM tbtrx_promo
						--					   LEFT JOIN tbtrx_debetnote
						--					   ON tbtrx_promo.Id = tbtrx_debetnote.PromoId
											   
						--				  WHERE tbtrx_debetnote.IsCancel = 0 OR tbtrx_debetnote.IsCancel IS NULL
						--			   GROUP BY tbtrx_promo.Id	
						--) DN
						--ON
						--	DN.PromoId = tbtrx_promo.id
			
					WHERE	tbtrx_allocation_balance.AllocationId=@keyid

					set @p_rsvamt_from_tpp=(
					SELECT
						   SUM(CASE WHEN isnull(IsCancel,0)=0 AND isnull(IsClose,0)=0 THEN Investment ELSE 0 END) AS USEAMT				
					  FROM #TPP_DN
				     where StatusApprovalCode <>'TP2'
				  GROUP BY BAL_ID,SubCategoryId
				  );


				set @p_useamt_from_tpp=( 
				SELECT
					SUM(CASE WHEN isnull(IsCancel,0)=0 AND isnull(IsClose,0)=0 THEN Investment  ELSE 0 END) AS USEAMT					
				  FROM #TPP_DN
				 where StatusApprovalCode ='TP2'
			  GROUP BY BAL_ID,SubCategoryId);


				set @p_totrsvamt=isnull(@p_rsvamt_from_budget,0) + isnull(@p_rsvamt_from_tpp,0)
				set @p_totuseamt=isnull(@p_useamt_from_budget,0) + isnull(@p_useamt_from_tpp,0)
				--END TPP

				--select @p_rsvamt_from_budget as total_bgd_reserve,@p_useamt_from_budget as total_bdg_use,@p_rsvamt_from_tpp as total_tpp_rsv,@p_useamt_from_tpp as total_tpp_use;
				
				update tbtrx_allocation_balance set ReserveAmount=@p_totrsvamt,UseAmount=@p_totuseamt  where current of cursor_bal;
				


				--INSERT INTO #TEMP_BDG (BALID,KEYID,USEAMT,RSVAMT,CTGID)VALUES(@balid,@keyid,@p_totuseamt,@p_totrsvamt,@ctgid);
				
				DROP TABLE #TPP_DN
			   


		   fetch next from cursor_bal into @keyid,@useamt,@rsvamt,@ctgid;

	end
END TRY
begin catch
	ROLLBACK TRANSACTION
		set @msg = ERROR_MESSAGE()
		raiserror (@msg,18,1)
end catch

IF @@TranCount>0 -- Transaction still open, so must have succeeded. If rolled back, trancount would be 0
 COMMIT TRANSACTION

	close cursor_bal;
	deallocate cursor_bal;


	






GO
