USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list] --'2020',0,0,0,0,'claimpku',0
--DECLARE 
@periode  varchar(4),
@entity int,
@distributor int,
@channel int,
@account int,
@userid varchar(50),
@isdnmanual bit

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @channel = 0
--SET @account=0
--set @userid ='admin'
--SET @isdnmanual = 0

--SET @start =1
--SET @length =10
--SET @filter =''
--SET @txtSearch ='visibility'

AS

/*
	LGP : 2020-02-15 perbaikan filter user vs distributor
	LGP : 2020-02-20 penambahan field entityid,entityshortdesc,entitylongdesc
	EDJ : 2020-03-19 penambahan field 	,a.MemDocNo ,a.IntDocNo
*/

BEGIN

DECLARE @profitcenter varchar(10)
SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

IF isnull(@profitcenter,'')='1100'
BEGIN
	SELECT DISTINCT a.Id
	,a.RefId
	,b.Id PromoId
	,b.RefId PromoRefId
	,a.ActivityDesc
	,a.dpp
	,a.PPNAmt
	,a.TotalClaim
	,a.TotalPaid
--	,IIF(a.StatusSalesCode='TP2', 'validate_by_sales', a.LastStatus) LastStatus
	,a.LastStatus
	,a.IsFreeze
	,a.CreateOn
	,a.CreateBy
	,a.IsOverBudget
	,a.AssignBy
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,c.Id EntityId
	,c.LongDesc EntityLongDesc
	,c.ShortDesc EntityShortDesc
	,a.MemDocNo
	,a.IntDocNo
	,a.TaxLevel MaterialNumber
	,tmm.Description TaxLevel
	,a.IsDNPromo
	,isnull(docFile.docCount, 0) as docCount
	,a.StatusSalesNotes remarkSales
	,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
	,d.actionOn SalesValidationStatusOn
--	,a.AccountId SubAccountId
--	,ts.LongDesc SubAccount
	,subaccount.SubAccountId
	,subaccount.LongDesc SubAccount
	,tdh.validate_by_finance_by
	,tdh.validate_by_finance_on
	,tdh.validate_by_sales_by
	,tdh.validate_by_sales_on
	,tdh.confirm_paid_by
	,tdh.confirm_paid_on
	,a.FPNumber
	,a.FPDate
	from tbtrx_debetnote a WITH (NOLOCK)
--	left join tbmst_subaccount ts ON a.AccountId = ts.id
	INNER JOIN 
	(
		SELECT a.id dnid, c.SubAccountId, d.LongDesc
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
		INNER JOIN tbtrx_promo_subaccount c WITH (NOLOCK) ON b.id = c.PromoId 
		INNER JOIN tbmst_subaccount d WITH (NOLOCK) ON c.SubAccountId = d.id
		UNION ALL
		SELECT a.id dnid, a.AccountId SubAccountId, b.LongDesc
		FROM tbtrx_debetnote a WITH (NOLOCK)
		LEFT JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		WHERE isnull(promoid, 0) = 0
	) subaccount ON a.id=subaccount.dnid
	inner join tbtrx_debetnote_his tdh WITH (NOLOCK) ON a.id=tdh.DNId
	LEFT JOIN (
		select dnid, count(DocLink) as docCount from tbtrx_dn_doclink WITH (NOLOCK) group by dnid
	) docFile on a.Id = docFile.dnid
	LEFT JOIN tbset_mapping_material tmm WITH (NOLOCK) on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
	LEFT JOIN tbtrx_promo b WITH (NOLOCK) on a.PromoId=b.Id
	LEFT JOIN tbmst_principal c WITH (NOLOCK) on a.PrincipalId=c.Id
    LEFT JOIN
        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
        from tbhis_debetnote_sales_log WITH (NOLOCK)
        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
	WHERE 
        IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
    	AND a.Periode = @periode
	    AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
	    AND EXISTS
	(
		SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
	)

END
ELSE
BEGIN
	SELECT DISTINCT a.Id
	,a.RefId
	,b.Id PromoId
	,b.RefId PromoRefId
	,a.ActivityDesc
	,a.dpp
	,a.PPNAmt
	,a.TotalClaim
	,a.TotalPaid
	,a.LastStatus
	,a.IsFreeze
	,a.CreateOn
	,a.CreateBy
	,a.IsOverBudget
	,a.AssignBy
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,c.Id EntityId
	,c.LongDesc EntityLongDesc
	,c.ShortDesc EntityShortDesc
	,a.MemDocNo
	,a.IntDocNo
	,a.TaxLevel MaterialNumber
	,tmm.Description TaxLevel
	,a.IsDNPromo
	,isnull(docFile.docCount,
 0) as docCount
	,a.StatusSalesNotes remarkSales
	,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
	,d.actionOn SalesValidationStatusOn
--	,a.AccountId SubAccountId
--	,ts.LongDesc SubAccount
	,subaccount.SubAccountId
	,subaccount.LongDesc SubAccount
	,tdh.validate_by_finance_by
	,tdh.validate_by_finance_on
	,tdh.validate_by_sales_by
	,tdh.validate_by_sales_on
	,tdh.confirm_paid_by
	,tdh.confirm_paid_on
    ,a.FPNumber
	,a.FPDate
	from tbtrx_debetnote a WITH (NOLOCK)
--	left join tbmst_subaccount ts ON a.AccountId = ts.id
	INNER JOIN 
	(
		SELECT a.id dnid, c.SubAccountId, d.LongDesc
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
		INNER JOIN tbtrx_promo_subaccount c WITH (NOLOCK) ON b.id = c.PromoId 
		INNER JOIN tbmst_subaccount d WITH (NOLOCK) ON c.SubAccountId = d.id
		UNION ALL
		SELECT a.id dnid, a.AccountId SubAccountId, b.LongDesc
		FROM tbtrx_debetnote a WITH (NOLOCK)
		LEFT JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		WHERE isnull(promoid, 0) = 0
	) subaccount ON a.id=subaccount.dnid
	inner join tbtrx_debetnote_his tdh WITH (NOLOCK) ON a.id=tdh.DNId
	LEFT JOIN (
		select dnid, count(DocLink) as docCount from tbtrx_dn_doclink WITH (NOLOCK) group by dnid
	) docFile on a.Id = docFile.dnid
	LEFT JOIN tbset_mapping_material tmm WITH (NOLOCK) on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
	LEFT JOIN tbtrx_promo b WITH (NOLOCK) on a.PromoId=b.Id
	LEFT JOIN tbmst_principal c WITH (NOLOCK) on a.PrincipalId=c.Id
    LEFT JOIN
        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
        from tbhis_debetnote_sales_log WITH (NOLOCK)
        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
	where
        IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND a.Periode = @periode
	    AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
	    AND EXISTS
	(
		SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
	)	AND a.AreaCode=@profitcenter

END
END
GO
