

/****** Object:  StoredProcedure [dbo].[ip_distributor_wht_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[ip_distributor_wht_update] --10, 'WHT Deductible','admin','admin@xv.com'
@id int,
@whtType varchar(50), -- if empty then DELETE data
@modifBy varchar(50),
@modifEmail varchar(50)
as

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
	
	-- Check if @Param is not null and not an empty string
	IF @id>0 AND COALESCE(@whtType, '') <> ''
	BEGIN

		UPDATE tbset_distributor_wht
		SET WHTType=@whtType,
		ModifiedBy=@modifBy, ModifiedEmail = @modifEmail, ModifiedOn = @utcDate123
		FROM tbset_distributor_wht dw
		WHERE dw.Id=@id 

	-- insert history 
		INSERT INTO tbhis_distributor_wht (parentId, Distributor, subActivity, subAccount, 
		[status], WHTType, ModifiedBy, ModifiedEmail, ModifiedOn)
		SELECT id, Distributor,  SubActivity, SubAccount, 'Update', WHTType,
			@modifBy, @modifEmail, @utcDate123
	
		FROM tbset_distributor_wht
		WHERE Id=@id

	END
	-- Check if @Param is null or an empty string, DELETE
	IF @id>0 AND COALESCE(@whtType, '') = ''
	BEGIN

		-- insert history 
		INSERT INTO tbhis_distributor_wht (parentId, Distributor, subActivity, subAccount, 
		[status], WHTType, ModifiedBy, ModifiedEmail, ModifiedOn)
		SELECT id, Distributor,  SubActivity, SubAccount, 
			'Delete', WHTType, @modifBy, @modifEmail, @utcDate123
	
		FROM tbset_distributor_wht
		WHERE Id=@id

		DELETE tbset_distributor_wht 	
		WHERE id=@id
		
	END


END
GO
