

/****** Object:  StoredProcedure [dbo].[ip_debetnote_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_debetnote_update]
@IsDNPromo bit=1
,@Id int
,@Periode varchar(4)
,@EntityId int
,@DistributorId int
,@ActivityDesc varchar(255)
,@AccountId int
,@PromoId int
,@IntDocNo varchar(50)
,@MemDocNo varchar(50)
,@DNAmount numeric(19,0)
,@FeeDesc varchar(255)
,@FeePct numeric(10,4)
,@FeeAmount numeric(19,0)
,@DPP numeric(19,0)
,@PPNPct numeric(10,4)
,@DeductionDate datetime
,@userid varchar(50)
,@sellingpoint CharAttributeType READONLY
,@attachment DNAttachmentType READONLY
,@TaxLevel varchar(100)
,@pphPct numeric(10,4)
,@pphAmt numeric(18)
,@statusPPH varchar(30)
,@FPNumber varchar(50)
,@FPDate datetime
,@statusPPN varchar(50)
,@WHTType varchar(50) = ''
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * EDY 2020-03-21 : change overbudget from totalclaim to DPP
 * EDJ 2020-06-09 : add TaxLevel
 */
BEGIN TRY
BEGIN TRANSACTION

DECLARE
@PrincipalShortDesc varchar(10)
,@DistributorShortDesc varchar(10)
,@SubChannelId int
,@DNId int
,@RequestId int
,@PPNAmt numeric(19,0)
,@TotalClaim numeric(19,0)
,@AreaCode varchar(20)
,@messageout varchar(255)
,@matrixid int
,@distributorIdPromo int
,@distributorIdDN int
,@picuserassign varchar(50)
declare @createdemail varchar(50)
SELECT @createdemail=email from tbset_user where id=@userid
SET @PPNAmt=0;
IF @statusPPN='PPN DN AMOUNT'
BEGIN
	SET @PPNAmt=(@PPNPct*@DNAmount) / 100
END
IF @statusPPN='PPN FEE'
BEGIN
	SET @PPNAmt=(@PPNPct*@FeeAmount) / 100
END
IF @statusPPN='PPN DPP'
BEGIN
	SET @PPNAmt=(@PPNPct*@DPP) / 100
END

IF @WHTType = 'WHT No Deduct'
BEGIN
	SET @TotalClaim=@DPP + @PPNAmt
END
ELSE
BEGIN
	SET @TotalClaim=@DPP + @PPNAmt - @pphAmt
END 


SET @PrincipalShortDesc=(SELECT isnull(ShortDesc,'') FROM tbmst_principal where Id=@EntityId)
SET @DistributorShortDesc=(SELECT isnull(ShortDesc,'') FROM tbmst_distributor where Id=@DistributorId)
--SET @SubChannelId=(SELECT SubChannelId from tbmst_account where Id=@AccountId)
SET @SubChannelId=isnull((SELECT SubChannelId from tbmst_account a inner join tbmst_subaccount b on a.id=b.AccountId where b.Id=@AccountId), 0)
SET @AreaCode=(SELECT TOP 1  AreaCode from tbmst_sellingpoint where RefId in (SELECT Id from @sellingpoint))

if @PromoId=0 AND @IsDNPromo=1
begin
	SET @picuserassign=(select Pic1 from tbset_matrix_dnmanual_assignment_new where SubAccountId=@AccountId)
	IF @picuserassign IS NULL
	BEGIN
		SET @messageout='PIC user DN assignment not found'
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	END
end

if isnull(@PrincipalShortDesc,'')=''
	begin
		SET @messageout='Entity ShortDesc not defined'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

if isnull(@DistributorShortDesc,'') = ''
	begin
		SET @messageout='Distributor ShortDesc not defined'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

if isnull(@SubChannelId,'') = '' and @PromoId<>0
	begin
		SET @messageout='SubChannel not defined'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

--if isnull(@AreaCode,'') = ''
--	begin
--		SET @messageout='Area Code not defined'
--		 RAISERROR (@messageout, -- Message text.
--               16, -- Severity.
--               1 -- State.
--               );
--	end


--	SELECT @matrixid=Id FROM tbset_matrix_dn_approval
--	WHERE Periode=@Periode
--	AND PrincipalId=@EntityId
--	AND DistributorId=@DistributorId
--
--	if @matrixid is null
--	begin
--		SET @messageout='Matrix Approval not found for ' + @DistributorShortDesc + ' distributor,' +  cast(@PrincipalShortDesc as varchar) + ' entity,'
--		 RAISERROR (@messageout, -- Message text.
--               16, -- Severity.
--               1 -- State.
--               );
--	end

    IF @PromoId <> 0
    BEGIN
        SET @distributorIdPromo=(SELECT ta.DistributorId FROM tbtrx_promo pr INNER JOIN tbtrx_allocation ta ON pr.AllocationId=ta.id WHERE pr.id=@PromoId);
        SET @distributorIdDN=(SELECT dn.DistributorId FROM tbtrx_debetnote dn WHERE dn.id=@DNId);

        IF @distributorIdPromo<>@distributorIdDN
        BEGIN
            SET @messageout='Promo and DN distributors must be the same'
                RAISERROR (@messageout, -- Message text.
                16, -- Severity.
                1 -- State.
            );
        END
    END

UPDATE tbtrx_debetnote
SET ActivityDesc=@ActivityDesc
,IntDocNo=@IntDocNo
,MemDocNo=@MemDocNo
,DPP=@DPP
,PPNPct=@PPNPct
,PPNAmt=@PPNAmt
,TotalClaim=@TotalClaim
,DNAmount=@DNAmount
,FeeDesc=@FeeDesc
,FeePct=@FeePct
,FeeAmount=@FeeAmount
,TaxLevel = @TaxLevel
,PPHPct = @pphPct
,PPHAmt = @pphAmt
,statusPPH = @statusPPH
,FPNumber=@FPNumber
,FPDate=@FPDate
,FPModifiedBy=@userid
,FPModifiedOn=@utcDate123
,PromoId=@PromoId
,IsDNPromo=@IsDNPromo
,SubChannelId = @SubChannelId
,AccountId=@AccountId
,statusPPN=@statusPPN
,ModifiedBy=@userid
,ModifiedOn=@utcDate123
,periode=@Periode
,IsDNManual = IIF(isnull(@PromoId,0)=0 AND @IsDNPromo=1,1,0)
,[AssignOn] = null
,[AssignBy] = @picuserassign
WHERE Id=@Id

UPDATE tbtrx_debetnote_wht
SET WHTtype=@WHTType
WHERE DNId=@Id 

--DELETE FROM tbtrx_dn_doclink where DNId=@Id
--
--insert into tbtrx_dn_doclink(DNId,DocLink,[FileName],CreateOn,Createby)
--SELECT @Id,DocLink,Filename,getdate(),@userid FROM @attachment



/************************
HISTORICAL
************************/
		INSERT INTO [dbo].[tbtrx_debetnote_his]
				   ([DNId]
				   ,[ActivityDesc]
				   ,[SubChannelId]
				   ,[AccountId]
				   ,[PromoId]
				   ,[IntDocNo]
				   ,[MemDocNo]
				   ,[DPP]
				   ,[PPNPct]
				   ,[PPNAmt]
				   ,[TotalClaim]
				   ,[DeductionDate]
				   ,[Notes]
				   ,[created_on]
				   ,[created_by]
				   ,[send_to_dist_ho_on]
				   ,[send_to_dist_ho_by]
				   ,[validate_by_dist_ho_on]
				   ,[validate_by_dist_ho_by]
				   ,[send_to_danone_on]
				   ,[send_to_danone_by]
				   ,[received_by_danone_on]
				   ,[received_by_danone_by]
				   ,[validate_by_finance_on]
				   ,[validate_by_finance_by]
				   ,[validate_by_sales_on]
				   ,[validate_by_sales_by]				   
				   ,[validate_by_danone_on]
				   ,[validate_by_danone_by]
				   ,[ready_to_invoice_on]
				   ,[ready_to_invoice_by]
				   ,[invoice_on]
				   ,[invoice_by]
				   ,[confirm_paid_on]
				   ,[confirm_paid_by]
				   ,[DNAmount]
				   ,[FeeDesc]
				   ,[FeePct]
				   ,[FeeAmount]
				   ,[TaxLevel]
		   		   ,[PPHPct]
				   ,[PPHAmt]
				   ,statusPPH
                   ,FPNumber
                   ,FPDate
                   ,FPModifiedBy
                   ,FPModifiedOn
                   ,statusPPN
					)
			SELECT
				  @Id
				  ,@ActivityDesc
				  ,@SubChannelId
				  ,@AccountId
				  ,@PromoId
				  ,@IntDocNo
				  ,@MemDocNo
				  ,@DPP
				  ,@PPNPct
				  ,@PPNAmt
				  ,@TotalClaim
				  ,@DeductionDate
				  ,''
				  ,@utcDate123
				  ,@userid
				  ,[send_to_dist_ho_on]
				  ,[send_to_dist_ho_by]
				  ,[validate_by_dist_ho_on]
				  ,[validate_by_dist_ho_by]
				  ,[send_to_danone_on]
				  ,[send_to_danone_by]
				   ,[received_by_danone_on]
				   ,[received_by_danone_by]
				   ,[validate_by_finance_on]
				   ,[validate_by_finance_by]
				   ,[validate_by_sales_on]
				   ,[validate_by_sales_by]			     
				  ,[validate_by_danone_on]
				  ,[validate_by_danone_by]
				  ,[ready_to_invoice_on]
				  ,[ready_to_invoice_by]
				  ,[invoice_on]
				  ,[invoice_by]
				  ,[confirm_paid_on]
				  ,[confirm_paid_by]
				   ,@DNAmount
				   ,@FeeDesc
				   ,@FeePct
				   ,@FeeAmount
				   ,@TaxLevel
		   		   ,@pphPct
				   ,@pphAmt
				   ,@statusPPH
				   ,@FPNumber
                   ,@FPDate
                   ,@userid
                   ,@utcDate123
		           ,@statusPPN
			  FROM [dbo].[tbtrx_debetnote_his] where is_cancel=0
--			  FROM [dbo].[tbtrx_debetnote_his] where isnull(is_cancel, 0)=0 and dnid=@Id 

/**************************/

SET @RequestId=(SELECT SCOPE_IDENTITY())

UPDATE tbtrx_debetnote_his SET is_cancel=1 WHERE Id <> @RequestId

/*
 Create History Debetnote
 */
INSERT INTO [dbo].[tbhis_debetnote]
(
    dnid,
    IsDNManual,
  Periode,
    PrincipalShortDesc,
    DistributorShortDesc,
    AreaCode,
    DNNumber,
    ActivityDesc,
    SubChannelId,
    AccountId,
    PromoId,
    IntDocNo,
    MemDocNo,
    DPP,
    PPNPct,
    PPNAmt,
    TotalClaim,
    DeductionDate,
    Notes,
    LastStatus,
    IsPaid,
    TotalPaid,
    IsCancel,
    IsLocked,
    CreateOn,
    CreateBy,
    ModifiedOn,
    ModifiedBy,
    IsDelete,
    DeleteOn,
    DeleteBy,
    AssignOn,
    AssignBy,
    IsFreeze,
    PrincipalId,
    DistributorId,
    DueDate,
   IsAllowModify,
    IsOverBudget,
    AssignRequestDate,
  CancelOn,
  CancelBy,
    PaymentDate,
    ImportId,
    RefId,
    IsDNPromo,
    InternalOrderNumber,
    DNAmount,
    FeeDesc,
    FeePct,
    FeeAmount,
    TaxLevel,
    PPHPct,
    PPHAmt,
    statusPPH,
    StatusSalesCode,
    StatusSales,
    StatusSalesOn,
    StatusSalesBy,
    StatusSalesDistOn,
   StatusSalesDistBy,
    StatusSalesNotes,
    FPNumber,
    FPDate,
    FPModifiedBy,
    FPModifiedOn,
    VATExpired,
    statusPPN,
    WHTType
)
select 
    id,
    IsDNManual,
    Periode,
    PrincipalShortDesc,
    DistributorShortDesc,
    AreaCode,
    DNNumber,
    ActivityDesc,
    SubChannelId,
    AccountId,
    PromoId,
    IntDocNo,
    MemDocNo,
    DPP,
    PPNPct,
    PPNAmt,
    TotalClaim,
    DeductionDate,
    Notes,
    'Edited',
    IsPaid,
    TotalPaid,
    IsCancel,
    IsLocked,
    CreateOn,
    CreateBy,
    ModifiedOn,
    ModifiedBy,
    IsDelete,
    DeleteOn,
    DeleteBy,
    AssignOn,
    AssignBy,
    IsFreeze,
    PrincipalId,
    DistributorId,
    DueDate,
    IsAllowModify,
    IsOverBudget,
    AssignRequestDate,
    CancelOn,
    CancelBy,
    PaymentDate,
    ImportId,
    RefId,
    IsDNPromo,
    InternalOrderNumber,
    DNAmount,
    FeeDesc,
    FeePct,
    FeeAmount,
    TaxLevel,
    PPHPct,
    PPHAmt,
    statusPPH,
    StatusSalesCode,
    StatusSales,
    StatusSalesOn,
    StatusSalesBy,
    StatusSalesDistOn,
    StatusSalesDistBy,
    StatusSalesNotes,
    FPNumber,
    FPDate,
    FPModifiedBy,
    FPModifiedOn,
    VATExpired,
    statusPPN,
    @WHTType
from tbtrx_debetnote where id=@Id
/*******************************************/
INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
VALUES(@Id,'Edited',@userid,@utcDate123,@DPP, 'Edited',@createdemail)


SELECT RefId FROM tbtrx_debetnote where Id=@Id

DELETE FROM tbtrx_debetnote_sellpoint where DNId=@Id
INSERT INTO tbtrx_debetnote_sellpoint
SELECT @Id,Id,1,@utcDate123,@userid,null,null,0,null,null from @sellingpoint

exec ip_dn_overbudget_by_prommoid @PromoId
-- UPDATE dn
-- SET IsOverBudget=IIF(ob.Remaining >= 0,0,1 )
-- FROM tbtrx_debetnote dn
-- INNER JOIN
-- (
-- SELECT
-- pr.Id PromoId,
-- pr.RefId RefId,
-- pr.Investment,
-- dn.id DNId,
-- dn.TotalClaim,
-- SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
-- --pr.Investment-SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- -- pr.Investment-SUM (isnull(dn.DPP,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- from tbtrx_promo pr
-- left join  tbtrx_debetnote dn
-- on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0)=0 AND isnull(dn.IsDNPromo, 0)=1
-- -- group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
-- ) ob ON dn.Id=ob.DNId
-- -- where
-- -- dn.Id=@Id
-- 


COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.  
             @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
END CATCH
GO
