

/****** Object:  StoredProcedure [dbo].[ip_getdistentity_byuser]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_getdistentity_byuser] --'pitempo'
@userid varchar(50) 
as
begin
  SELECT d.Id,d.LongDesc,d.ShortDesc,d.EntityUp,d.EntityAddress FROM 
  tbmst_distributor a
  inner join tbset_user_distributor b on b.DistributorId=a.id
  inner join tbset_principal_distributor c on b.DistributorId=c.DistributorId
  inner join tbmst_principal d on c.PrincipalId=d.Id
  where b.Userid=@userid
  
  SELECT a.Id,LongDesc,a.ShortDesc  FROM 
  tbmst_distributor a
  inner join tbset_user_distributor b on b.DistributorId=a.id
  where b.Userid=@userid
end 
  
GO
