USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[ip_budgetallocation_update]
	-- Add the parameters for the stored procedure here
	@BUDGETALLOC	AS BudgetAllocType     		READONLY,
	@REGIONS		AS IntAttributeType	READONLY,
	@CHANNELS		AS IntAttributeType	READONLY,
	@SUBCHANNELS	AS IntAttributeType	READONLY,
	@ACCOUNTS		AS IntAttributeType	READONLY,
	@SUBACCOUNTS	AS IntAttributeType	READONLY,
	@BRANDS			AS IntAttributeType	READONLY,
	@PRODUCTS		AS IntAttributeType	READONLY,
	@USERACCESS		AS CharAttributeType	READONLY,
	@BUDGETDETAIL	AS BudgetDetailType				READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE 
	@ERROR VARCHAR(100)
	,@USERID VARCHAR(36)
	,@ALLOCID INT
	,@approver varchar(50)
	,@messageout varchar(255)
	
	DECLARE 
	@budgetid int
	,@budgetrefid varchar(10)
	,@entityid int
	,@budgettype varchar(10)
	,@budgetsource int
	,@budgetamount numeric(19,0)
	,@budgetparent numeric(19,0)
	,@useamount numeric(19,0)
	,@ExeededBudget varchar(255)
	,@spendingamount numeric(19,0)
	,@totalbudget numeric(19,0)



	SELECT 
	@budgetid=a.Id
	,@budgetrefid=b.RefId
	,@entityid=c.PrincipalId
	,@budgettype=a.BudgetType
	,@budgetsource=a.BudgetSourceId
	,@budgetamount=a.BudgetAmount
	,@USERID=a.UserId
	FROM @BUDGETALLOC a
	INNER JOIN tbtrx_allocation b on a.Id=b.Id 
	INNER JOIN tbtrx_budgetmaster c on b.BudgetMasterId=c.Id



	SET @totalbudget=(SELECT SUM(BudgetAmount) from @BUDGETDETAIL)

	IF @budgetamount <> @totalbudget
	BEGIN
	SET @messageout='Total Budget Detail <> Budget Parent'
				RAISERROR (@messageout, -- Message text.  
				   16, -- Severity.  
				   1 -- State.  
				   );				     
	END


	/*******************
	COMPARE NEW AMOUNT VS SPENDING AMOUNT
	*******************/
		SET @ExeededBudget=(SELECT c.LongDesc 
		FROM @BUDGETDETAIL a
		INNER JOIN tbtrx_allocation_balance b
		INNER JOIN tbmst_subcategory c on b.SubCategoryId=c.id
		ON a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
		WHERE a.BudgetAmount < (b.InitialAmount-b.RemainingAmount) 
		)

		IF isnull(@ExeededBudget,'') <> ''
		BEGIN
			SET @spendingamount=(SELECT b.InitialAmount-b.RemainingAmount 
			FROM @BUDGETDETAIL a
			INNER JOIN tbtrx_allocation_balance b
			INNER JOIN tbmst_subcategory c on b.SubCategoryId=c.id
			ON a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
			WHERE a.BudgetAmount < (b.InitialAmount-b.RemainingAmount) 
			)

				SET @messageout='Budget Exeeded for Category '+ @ExeededBudget +' ,spending amount : ' + cast(@spendingamount as varchar)
				RAISERROR (@messageout, -- Message text.  
				   16, -- Severity.  
				   1 -- State.  
				   );				     
		END
	/*******************/


	/************************
	COMPARE NEW AMOUNT VS ASSIGNMENT AMOUNT
	************************/
	--IF @budgettype='BAL'
	--BEGIN
	--	SELECT @budgetparent=BudgetAmount from tbtrx_budgetmaster where Id=@budgetsource

	--	IF @budgetamount > @budgetparent
	--	 BEGIN
	--		SET @messageout='Over budget,budget assigned : ' + cast(@budgetparent as varchar)			
	--		RAISERROR (@messageout, -- Message text.  
 --              16, -- Severity.  
 --              1 -- State.  
 --              );
	--	 END 
	--END


	IF @budgettype='BTR'
	BEGIN
		SELECT @budgetparent=BudgetAmount from tbtrx_budgetassignment_detail where Id=@budgetsource

		IF @budgetamount > @budgetparent
		BEGIN	
			SET @messageout='Over budget,budget assigned : ' + cast(@budgetparent as varchar)
			RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
		END	
	END

	/*****************************/


	/****************************
	UPDATE BUDGET ALLOCATION
	****************************/
		UPDATE b
		SET b.BudgetAmount=a.BudgetAmount
		,b.StatusApproval='AP1'
		,b.ModifiedBy=a.UserId
		,b.ModifiedOn=@utcDate123
		FROM @BUDGETALLOC a
		INNER JOIN tbtrx_allocation b
		ON a.Id=b.Id 

		IF @budgettype='BAL'
		BEGIN
		UPDATE c
			SET c.BudgetAmount=a.BudgetAmount		
			,c.ModifiedBy=a.UserId
			,c.ModifiedOn=@utcDate123
			FROM @BUDGETALLOC a
			INNER JOIN tbtrx_allocation b
			ON a.Id=b.Id 
			INNER JOIN tbtrx_budgetmaster c
			ON b.BudgetSourceId=c.Id
		
		END

			UPDATE c
			SET BudgetAmount=a.BudgetAmount
			,RefId=a.LongDesc
			FROM @BUDGETALLOC a
			INNER JOIN tbtrx_allocation b
			ON a.Id=b.Id 
			INNER JOIN tbtrx_budgetassignment c
			ON b.Id=c.AllocationId

	/*****************************/

	/****************************
	UPDATE BUDGET ALLOCATION DETAIL
	****************************/
		UPDATE b
		SET b.BudgetAmount=a.BudgetAmount
		FROM @BUDGETDETAIL a
		INNER JOIN tbtrx_allocation_detail b
		INNER JOIN tbmst_subcategory c on b.SubCategoryId=c.id
		ON a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
	/*****************************/

	/****************************
	UPDATE BUDGET ALLOCATION BALANCE
	****************************/
		UPDATE b
		SET b.InitialAmount=a.BudgetAmount
		,b.ModifiedON=@utcDate123
		,b.ModifiedBy=d.UserId
		FROM @BUDGETDETAIL a
		INNER JOIN tbtrx_allocation_balance b
		INNER JOIN tbmst_subcategory c on b.SubCategoryId=c.id		
		ON a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
		INNER JOIN @BUDGETALLOC d on a.AllocationId=d.Id
	/*****************************/


	/*****************************/
	-- INSERT BUDGET ALLOCATION REGION BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_region] where AllocationId=@budgetid
	INSERT INTO [dbo].[tbtrx_allocation_region] (AllocationId,RegionId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@budgetid AS AllocationId
		,R.Id AS RegionId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @REGIONS AS R

	/*****************************/
	-- INSERT BUDGET ALLOCATION CHANNEL BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_channel] where AllocationId=@budgetid
	INSERT INTO [dbo].[tbtrx_allocation_channel] (AllocationId,ChannelId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@budgetid AS AllocationId
		,C.Id AS ChannelId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @CHANNELS AS C

	/*****************************/
	-- INSERT BUDGET ALLOCATION SUBCHANNEL BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_subchannel] where AllocationId=@budgetid
	INSERT INTO [dbo].[tbtrx_allocation_subchannel] (AllocationId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@budgetid AS AllocationId
		,chn.CHannelId AS ChannelId
		,SC.Id AS SubChannelId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @SUBCHANNELS AS SC
	INNER JOIN tbmst_subchannel chn on SC.Id=chn.Id

	/*****************************/
	-- INSERT BUDGET ALLOCATION ACCOUNT BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_account] where AllocationId=@budgetid
	INSERT INTO [dbo].[tbtrx_allocation_account] (AllocationId,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
		@budgetid AS AllocationId
		,chn.CHannelId AS ChannelId
		,chn.Id AS subcChannelId
		,AC.Id AS AccountId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @ACCOUNTS AS AC
	INNER JOIN tbmst_account acc on AC.Id=acc.Id
	INNER JOIN tbmst_subchannel chn on acc.SubChannelId=chn.Id

	/*****************************/
	-- INSERT BUDGET ALLOCATION SUB ACCOUNT BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_subaccount] where AllocationId=@budgetid
	INSERT INTO [dbo].[tbtrx_allocation_subaccount] (AllocationId,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
		@budgetid AS AllocationId
		,chn.CHannelId AS ChannelId
		,chn.Id AS subcChannelId
		,acc.Id AS AccountId
		,sac.Id AS SubAccountId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @ACCOUNTS AS AC
	INNER JOIN tbmst_subaccount sac on AC.Id=sac.AccountId
	INNER JOIN tbmst_account acc on sac.AccountId=acc.Id
	INNER JOIN tbmst_subchannel chn on acc.SubChannelId=chn.Id

	/*****************************/
	-- INSERT BUDGET ALLOCATION BRAND BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_brand] where AllocationId=@budgetid
	INSERT INTO tbtrx_allocation_brand(AllocationId,BrandId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
	     @budgetid AS AllocationId
		,B.Id AS UserId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @BRANDS B


	/*****************************/
	-- INSERT BUDGET ALLOCATION SKU BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_product] where AllocationId=@budgetid
	INSERT INTO tbtrx_allocation_product(AllocationId,BrandId,ProductId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
	     @budgetid AS AllocationId
		,C.Id
		,A.Id 
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @PRODUCTS A INNER JOIN tbmst_product B ON A.Id=B.Id
	INNER JOIN tbmst_brand C ON B.BrandId=C.Id

	/*****************************/
	-- INSERT BUDGET ALLOCATION USER ACCESS BEGIN -----
	/*****************************/
	DELETE FROM [dbo].[tbtrx_allocation_useraccess] where AllocationId=@budgetid
	INSERT INTO tbtrx_allocation_useraccess(AllocationId,UserId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
	     @budgetid AS AllocationId
		,A.Id 
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @USERACCESS A 

	/**********************************
	HISTORICAL 
	**********************************/
			INSERT INTO tbtrx_allocation_request_approval
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
		   ,[PrevAmount]
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
		   ,[IsRecon]
           ,[CreateOn]
           ,[CreateBy]
           )
		   SELECT 
		   a.AllocationId
		   ,a.LineIndex
		   ,a.SubCategoryId
		   ,a.ActivityId
		   ,a.SubActivityId
		   ,b.BUdgetAmount
		   ,a.BudgetAmount
		   ,a.LongDesc
		   ,''
		   ,1
		   ,0
		   ,1
		   ,@utcDate123
		   ,c.UserId
		   FROM @BUDGETDETAIL a
		   INNER JOIN tbtrx_allocation_detail b on a.AllocationId=b.AllocationId
		   INNER JOIN @BUDGETALLOC c on a.AllocationId=c.Id




    SET @approver=(select ParameterValue from tbset_general_parameter where ParameterName='BUDGETAPPROVER' AND Sequence=@entityid)

	select 1 as bool
	,@budgetid as [Id]
	,@budgetrefid as [RefId]
	,200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	,b.Id [userid_approver]
	,b.username [username_approver]
	,b.email [email_approver]
	FROM tbtrx_allocation alc
	inner join tbset_user a on alc.CreateBy=a.Id
	inner join tbset_user b on b.Id = @approver
	where alc.Id=@budgetid



COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH

GO
