

/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_select]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,AINUL>
-- Create date: <Create Date,,20190928>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_budgetallocation_select] --12,''
	-- Add the parameters for the stored procedure here
	@Id				INT,
	@LongDesc		VARCHAR(50)
AS

--DECLARE
--	@Id				INT,
--	@LongDesc		VARCHAR(50)

--	SET @Id=1240
--	SET @LongDesc=NULL

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		Id INT NULL
	)

	INSERT INTO @ALO(Id)
	SELECT ALLOC.Id
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND (ISNULL(@Id,'')='' OR ALLOC.Id=@Id)
		AND (ISNULL(@LongDesc,'')='' OR ALLOC.LongDesc LIKE @LongDesc)

DECLARE 
@budgetsource INT,
@budgetparent INT,
@budgettype varchar(3),
@budgetmaster INT
SELECT @budgetmaster=BudgetMasterId,@budgetsource=BudgetSourceId,@budgettype=BudgetType FROM tbtrx_allocation where Id=@Id;

IF @budgettype='BTR'
BEGIN
WITH CTE_ASSIGN
AS(
	SELECT 
	 assignment_detail.Id
	,SUM(alloc_detail.BudgetAmount) Spending
	FROM tbtrx_allocation_detail alloc_detail 
	INNER JOIN tbtrx_allocation alloc ON alloc_detail.AllocationId=alloc.Id
	--INNER JOIN tbtrx_allocation_balance balance_child ON balance_child.AllocationId=alloc.Id
	INNER JOIN tbtrx_budgetassignment_detail assignment_detail ON alloc.BudgetSourceId=assignment_detail.Id
	WHERE assignment_detail.Id=@budgetsource and BudgetType='BTR'
	GROUP BY assignment_detail.Id
),
CTE_ASSIGN_REMAIN
AS
(
	SELECT a.Id,a.RefId,a.AssignmentId,a.OwnId,a.[Desc],a.BudgetAmount BudgetAssigned,ISNULL(b.Spending,0) Spending,a.BudgetAmount-ISNULL(b.Spending,0) Remaining from tbtrx_budgetassignment_detail a
	LEFT JOIN CTE_ASSIGN b ON a.Id=b.Id
	where a.Id=@budgetsource
)

SELECT * FROM CTE_ASSIGN_REMAIN;
END
ELSE
BEGIN
WITH CTE_ASSIGN
AS(
    select 
	m.Id,
	m.LongDesc RefId,
	m.Id AssignmentId,
	m.LongDesc,
	m.OwnerId OwnId,
	m.BudgetAmount BudgetAssigned,
	m.BudgetAmount
	FROM tbtrx_budgetmaster m 
	WHERE Id=@budgetmaster
	
),
CTE_ASSIGN_REMAIN
AS
(
	select 
	CTE_ASSIGN.Id,
	CTE_ASSIGN.LongDesc RefId,
	CTE_ASSIGN.Id AssignmentId,
	CTE_ASSIGN.LongDesc,
	CTE_ASSIGN.OwnId,
	CTE_ASSIGN.BudgetAmount BudgetAssigned,
	sum(alloc.BudgetAmount) Spending,	
	CTE_ASSIGN.BudgetAmount-sum(alloc.BudgetAmount) RemainingAmount	
	from tbtrx_allocation alloc
	INNER JOIN CTE_ASSIGN ON BudgetMasterId=CTE_ASSIGN.Id
	WHERE BudgetType='BAL' AND alloc.id=@Id
	group by 	
	CTE_ASSIGN.Id,
	CTE_ASSIGN.LongDesc,
	CTE_ASSIGN.Id,
	CTE_ASSIGN.LongDesc,
	CTE_ASSIGN.OwnId,
	CTE_ASSIGN.BudgetAmount
)
SELECT * FROM CTE_ASSIGN_REMAIN
END	

IF @budgettype='BTR'
BEGIN
WITH CTE_PARENT
AS(
    SELECT 
	alloc.Id ParentId,alloc.LongDesc ParentLongDesc,assignment_detail.BudgetAmount AssignedFromParent
	FROM 
	tbtrx_allocation alloc 	
	INNER JOIN tbtrx_budgetassignment assign WITH (NOLOCK) ON assign.AllocationId=alloc.Id
	INNER JOIN tbtrx_budgetassignment_detail assignment_detail ON assign.Id=assignment_detail.AssignmentId
	WHERE assignment_detail.Id=@budgetsource --and BudgetType='BTR'
),
CTE_PARENT_REMAIN
AS
(
	select AllocationId,
	ParentLongDesc LongDesc,
	sum(InitialAmount) InitialAmount,
	sum(UseAmount) UseAmount,
	sum(ReserveAmount) ReserveAmount,
	sum(RemainingAmount) RemainingAmount,
	AssignedFromParent
	from tbtrx_allocation_balance dtl 
	INNER JOIN CTE_PARENT ON AllocationId=ParentId
	group by AllocationId,ParentLongDesc,AssignedFromParent
)
SELECT * FROM CTE_PARENT_REMAIN
END


IF @budgettype='BAL'
BEGIN
WITH CTE_PARENT
AS(
    SELECT 
	Id ParentId,LongDesc ParentLongDesc,BudgetAmount ParentAmount,BudgetAmount AssignedFromParent
	FROM 
	tbtrx_budgetmaster m 		
	WHERE Id=@budgetmaster
),
CTE_PARENT_REMAIN
AS
(
	select ParentId,
	ParentLongDesc LongDesc,
	ParentAmount InitialAmount,
	sum(BudgetAmount) UseAmount,
	0 ReserveAmount	,
	ParentAmount-sum(BudgetAmount) RemainingAmount,
	AssignedFromParent
	from tbtrx_allocation alloc
	INNER JOIN CTE_PARENT ON BudgetMasterId=ParentId
	WHERE BudgetType='BAL'
	group by ParentId,ParentLongDesc,ParentAmount,AssignedFromParent
)
SELECT * FROM CTE_PARENT_REMAIN

END


    
	SELECT
		ALLOC.Id
		,ALLOC.Periode
		,ALLOC.RefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName		
		,ALLOC.OwnerId
		,uo.id Ownername
		,ALLOC.FromOwnerId
		,uf.id FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		--,ALLOC.SalesAmount
		,ALLOC.BudgetAmount
		,bal.RemainingBudget
		,ALLOC.LongDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
	    ,m.RefId mrefid
	    ,m.LongDesc mlongdesc
		,m.StartDate 
		,m.EndDate
		,ALLOC.CreateOn
		,ALLOC.CreateBy
	    ,p.LongDesc entity
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)	
	left join (select AllocationId,sum(RemainingAmount) RemainingBudget from tbtrx_allocation_balance dtl where AllocationId IN (SELECT Id from @ALO) group by AllocationId)  bal on bal.AllocationId=ALLOC.Id 
	inner join tbtrx_budgetmaster m on ALLOC.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	inner join tbset_user uo on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf on uf.Id=ALLOC.FromOwnerId
	inner join tbmst_category ctg on ctg.Id=m.CategoryId
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND ALLOC.Id IN (SELECT Id FROM @ALO)

	SELECT
		R.AllocationId AS RegionAllocId
		,MR.Id AS RegionId
		,MR.LongDesc AS RegionName
	FROM [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_region] AS MR WITH(NOLOCK) ON R.RegionId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)
	
	SELECT
		C.AllocationId AS ChannelAllocId
		,MC.Id AS ChannelId
		,MC.LongDesc AS ChannelName
	FROM [dbo].[tbtrx_allocation_channel] AS C WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_channel] AS MC WITH(NOLOCK) ON C.ChannelId=MC.Id
	WHERE C.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		SC.AllocationId AS SubChannelAllocId
		,MSC.Id AS SubChannelId
		,MSC.LongDesc AS SubChannelName
	FROM [dbo].[tbtrx_allocation_subchannel] AS SC WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON SC.ChannelId=MSC.ChannelId AND SC.SubChannelId=MSC.Id
	WHERE SC.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		A.AllocationId AS AccountAllocId
		,MA.Id AS AccountId
		,MA.LongDesc AS AccountName
	FROM [dbo].[tbtrx_allocation_account] AS A WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON A.SubChannelId=MA.SubChannelId AND A.AccountId=MA.Id
	WHERE A.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		SA.AllocationId AS SubAccountAllocId
		,MSA.Id AS SubAccountId
		,MSA.LongDesc AS SubAccountName
	FROM [dbo].[tbtrx_allocation_subaccount] AS SA WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_subaccount] AS MSA WITH(NOLOCK) ON SA.AccountId=MSA.AccountId AND SA.SubAccountId=MSA.Id
	WHERE SA.AllocationId IN (SELECT Id FROM @ALO)


	SELECT distinct
	R.AllocationId AS BrandAllocId
	,MR.Id AS BrandId
	,MR.LongDesc AS BrandName
	FROM [dbo].[tbmst_brand]  AS MR  WITH(NOLOCK)
	LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R WITH(NOLOCK) ON R.BrandId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
	R.AllocationId AS ProductAllocId
	,MR.Id AS ProductId
	,MR.LongDesc AS ProductName
	FROM [dbo].[tbmst_product]  AS MR  WITH(NOLOCK)
	LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R WITH(NOLOCK) ON R.ProductId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)
	ORDER BY MR.SeqNo
	--	SELECT
	--a.AllocationId AS SubCategoryAllocId
	--,b.Id AS SubCategoryId
	--,b.LongDesc AS SubCategoryName
	--FROM [dbo].[tbmst_subcategory] AS b WITH(NOLOCK)
	--LEFT JOIN [dbo].[tbtrx_allocation_detail]  AS a WITH(NOLOCK) ON a.SubCategoryId=b.Id 
	--WHERE a.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
	a.AllocationId AS SubCategoryAllocId
	,b.Id AS SubCategoryId
	,b.LongDesc AS SubCategoryName
	FROM [dbo].[tbmst_subcategory] AS b WITH(NOLOCK)
	LEFT JOIN [dbo].[tbtrx_allocation_detail]  AS a WITH(NOLOCK) ON a.SubCategoryId=b.Id 
	WHERE a.AllocationId IN (SELECT Id FROM @ALO)



	SELECT distinct
	a.AllocationId AS ActivityAllocId
	,ctg.ActivityId AS ActivityId
	,ctg.ActivityDesc AS ActivityName
	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
	INNER JOIN vw_activity ctg --ON a.SubCategoryId=ctg.SubCategoryId
	--and 
	ON iif(a.ActivityId=0,ctg.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,a.SubCategoryId,ctg.ActivityId)
	WHERE a.AllocationId IN (SELECT Id FROM @ALO) AND ctg.ActivityId is not null


	SELECT 
	a.AllocationId AS SubActivityAllocId
	,ctg.SubActivityId AS SubActivityId
	,ctg.SubActivityDesc AS SubActivityName
	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
	INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
	and iif(a.ActivityId=0,ctg.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,a.SubCategoryId,ctg.ActivityId)
	--and iif(a.SubActivityId=0,ctg.ActivityId,a.SubActivityId)=iif(a.SubActivityId=0,a.ActivityId,ctg.SubActivityId) 
	WHERE a.AllocationId IN (SELECT Id FROM @ALO) AND ctg.SubActivityId is not null



	

--	SELECT
--		CASE WHEN UA.userid is null THEN 0 ELSE 1 END as flag,
--		UA.AllocationId AS UserAccAllocId
--		,MU.id AS UserAccessId
--		,MU.username AS UserAccessName
--	FROM [dbo].[tbtrx_allocation_useraccess] AS UA WITH(NOLOCK)
--	RIGHT JOIN [dbo].[tbset_user] MU WITH(NOLOCK) ON UA.UserId=MU.id
--	WHERE UA.AllocationId IN (SELECT Id FROM @ALO)
	select 
		CASE WHEN UA.AllocationId is null THEN 0 ELSE 1 END as flag,
		UA.AllocationId AS UserAccAllocId
		,MU.id AS UserAccessId
		,MU.username AS UserAccessName
	from tbset_user MU
	left join tbtrx_allocation_useraccess UA on UA.UserId=MU.id and UA.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		UAS.AllocationId AS UserAssAllocId
		,MU1.id AS UserAssignId
		,MU1.username AS UserAssignName
	FROM [dbo].[tbtrx_allocation_userassign] AS UAS WITH(NOLOCK)
	INNER JOIN [dbo].[tbset_user] MU1 WITH(NOLOCK) ON UAS.UserId=MU1.id
	WHERE UAS.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		UP.AllocationId AS UserProAllocId
		,MU2.id AS UserPromoId
		,MU2.username AS UserPromoName
	FROM [dbo].[tbtrx_allocation_userpromo] AS UP WITH(NOLOCK)
	INNER JOIN [dbo].[tbset_user] MU2 WITH(NOLOCK) ON UP.UserId=MU2.id
	WHERE UP.AllocationId IN (SELECT Id FROM @ALO)


	SELECT distinct
	AllocationId,
	LineIndex,
	a.SubCategoryId SubCategory,
	c.SubCategoryDesc SubCategoryDesc,
	IIF(a.ActivityId=0,'',a.ActivityId) Activity,
	isnull(d.ActivityDesc,'') ActivityDesc,
	IIF(e.SubActivityDesc is null,'',a.SubActivityId) SubActivity,
	isnull(e.SubActivityDesc,'') SubActivityDesc,
	BudgetAmount,
	LongDesc
	FROM
	tbtrx_allocation_detail a
	inner join @ALO b on a.AllocationId=b.Id
	inner join vw_activity c on a.SubCategoryId=c.SubCategoryId
	left join vw_activity d on d.ActivityId=a.ActivityId
	left join vw_activity e on e.SubActivityId=a.SubActivityId

	
END


GO
