

/****** Object:  StoredProcedure [dbo].[ip_kpi_scorboard_creator_league_standings]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_kpi_scorboard_creator_league_standings]
--declare
@create_from date
,@create_to date
----,@userid varchar(255)
--,@ChannelDesc varchar(255)

--set @create_from ='2019-01-01'
--set @create_to ='2020-06-30'
--set @userid ='0'
--set @ChannelDesc = 'LKA'

AS
BEGIN
	--DECLARE 
	--	@username varchar(50)
	--	,@jobtitle varchar(255)
	DECLARE @Temp TABLE
	(
		DistributorId int
		, DistributorShortDesc varchar(50)
		, EntityId int
		, PrincipalShortDesc varchar(50)
		, PromoPlanCreateBy varchar(50)
		, PromoPlanCreateOn datetime
		, RegionDesc nvarchar(max)
		, SubActivityTypeId int
		, SubActivityType varchar(50)
		, CategoryId int
		, Category varchar(50)
		, SubCategoryId int
		, SubCategory varchar(50)
		, ActivityId int
		, Activity varchar(50)
		, SubActivityId int
		, SubActivity varchar(50)
		, StartPlanning date
		, EndPlanning date
		, ChannelDesc nvarchar(max)
		, SubChannelDesc nvarchar(max)
		, AccountDesc nvarchar(max)
		, SubAccountDesc nvarchar(max)
		, TSCode varchar(50)
		, BrandDesc nvarchar(max)
		, SKUDesc nvarchar(max)
		, SourceOfPromo varchar(50)
		, PromotionType varchar(50)
		, ActivityDesc varchar(255)
		, Mechanisme1 varchar(255)
		, Mechanisme2 varchar(255)
		, Mechanisme3 varchar(255)
		, Mechanisme4 varchar(255)
		, Investment numeric(19,2)
		, BaselineSales numeric(19,2)
		, UpliftSales numeric(19,2)
		, TotalSales numeric(19,2)
		, UpliftSalesPersen numeric(19,2)
		, ROIPersen numeric(19,2)
		, PromodId int
		, PromoRefId varchar(50)
		, Creator varchar(50) 
		, CreationDate datetime
		, PeriodStart datetime
		, PeriodEnd datetime
		, PromoAmount numeric(19,2)
		, today datetime 
		, Quater2Start datetime
		, today60 datetime
		, DaysOfCreation numeric(19,3)
		, PeriodStartMatching numeric(19,3)
		, PeriodEndMatcing numeric(19,3)
		, Amount numeric(19,3)
		, PeriodOfStart numeric(19,3)
		, PeriodOfEnd numeric(19,3)
		, PromoPlanSubmissionDays numeric(19,3)
		, PromoPlanSubmittedBfrQuarterStart90 varchar(1)
		, AvailabilityInOptima varchar(1)
		, OptimaCreationBrfActivityStart60 varchar(1)
		, OptimaPeriodMatch varchar(1)
		, OptimaAmountMatch varchar(1)
		, OptimaDescMatch varchar(1)
		, OptimaMechanismMatch varchar(1)
		, OptimaDescAndMechanismMatch varchar(1)
		, SKPAvailability varchar(1)
		, SKPAvailBfrActivityStart60 varchar(1)
		, SKPPeriodMatch varchar(1)
		, SKPAmountMatch varchar(1)
		, SKPMechanismMatch varchar(1)
		, SKPSigned7 varchar(1)
		, ActivityAuditCompliance varchar(1)
		, ExtendedPeriodMatch varchar(1)
		, ExtendedAmountMatch varchar(1)
		, ExtendedMechanismMatch varchar(1)
		, ReconNKA varchar(1)
		, AdjustBudgetRecon varchar(1)
		, FeedbackOnPostROI varchar(1)
		, AgingDNBySales varchar(1)
		, JobTitle1 varchar(100)
		, JobTitle2 varchar(100)
	)

	DECLARE @Temp_TB TABLE
	(
		ChannelDesc varchar(50)
		, Creator varchar(50)
		, Total_Score numeric(19,2)	
	)
	DECLARE @Temp_T TABLE
	(
		iNum int
		, ChannelDesc varchar(50)
		, Top_Creator varchar(50)
		, Total_Score numeric(19,2)	
	)	
	DECLARE @Temp_B TABLE
	(
		iNum int 
		, ChannelDesc varchar(50)
		, Bottom_Creator varchar(50)
		, Total_Score numeric(19,2)	
	)		
	
--		INSERT INTO @Temp
--		EXEC ip_kpi_scoring @create_from, @create_to, 0
		INSERT INTO @Temp
			select distinct
				DistributorId
				, DistributorShortDesc
				, EntityId
				, PrincipalShortDesc
				, PromoPlanCreateBy
				, PromoPlanCreateOn
				, RegionDesc
				, SubActivityTypeId
				, SubActivityType
				, CategoryId
				, Category
				, SubCategoryId
				, SubCategory
				, ActivityId
				, Activity
				, SubActivityId
				, SubActivity
				, StartPlanning
				, EndPlanning
				, ChannelDesc
				, SubChannelDesc
				, AccountDesc
				, SubAccountDesc
				, TSCode
				, BrandDesc
				, SKUDesc
				, SourceOfPromo
				, PromotionType
				, ActivityDesc
				, Mechanisme1
				, Mechanisme2
				, Mechanisme3
				, Mechanisme4
				, Investment
				, BaselineSales
				, UpliftSales
				, TotalSales
				, UpliftSalesPersen
				, ROIPersen
				, PromoId
				, PromoRefId
				, Creator 
				, CreationDate
				, PeriodStart
				, PeriodEnd
				, PromoAmount
				, today 
				, Quater2Start
				, today60
				, DaysOfCreation
				, PeriodStartMatching
				, PeriodEndMatcing
				, Amount
				, PeriodOfStart
				, PeriodOfEnd
				, PromoPlanSubmissionDays
				, PromoPlanSubmittedBfrQuarterStart90
				, AvailabilityInOptima
				, OptimaCreationBrfActivityStart60
				, OptimaPeriodMatch
				, OptimaAmountMatch
				, OptimaDescMatch
				, OptimaMechanismMatch
				, OptimaDescAndMechanismMatch
				, SKPAvailability
				, SKPAvailBfrActivityStart60
				, SKPPeriodMatch
				, SKPAmountMatch
				, SKPMechanismMatch
				, SKPSigned7
				, ActivityAuditCompliance
				, ExtendedPeriodMatch
				, ExtendedAmountMatch
				, ExtendedMechanismMatch
				, ReconNKA
				, AdjustBudgetRecon
				, FeedbackOnPostROI
				, AgingDNBySales
				, JobTitle1
				, JobTitle2
		from tbtemp_kpi_scoring 
		where 
			((CONVERT(varchar(8),@create_to,112) >= CONVERT(varchar(8),StartPlanning,112) AND  CONVERT(varchar(8),@create_to,112) <= CONVERT(varchar(8),EndPlanning,112))
			or
			(CONVERT(varchar(8),EndPlanning,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),EndPlanning,112) <= CONVERT(varchar(8),@create_to,112)))
--			AND IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0','', @userid) 
	
		INSERT INTO @Temp_TB
		select 
		case when ChannelDesc in ('LKA') then 'LKA'
		when ChannelDesc in ('MMKA','HYSU','WHOLESALER KA') then 'MMKA,HYSU,WHOLESALER KA'
		when ChannelDesc in ('GT','MTI','WHOLESALER GT') then 'GT,MTI,WHOLESALER GT'
		when ChannelDesc in ('E- COMMERCE','MOM & BABY SHOP','PHARMA') then 'E- COMMERCE,MOM & BABY SHOP,PHARMA'
		else '' end as ChannelDesc
		, Creator
	-------------------------------------------------------------
		, ((ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0))+ --PromoPlanSubmittedBfrQuarterStart90_Score_pct	--persen promo plan submitted h-90
		 ((ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0))
			+ (ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0)))+ --ScoreboardAccuracy_OptimaInput_vs_PromoPlan_pct	--persen accuracy on optima vs promo plan
		(((ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(SKPAvailBfrActivityStart60) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(ExtendedAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0))))+	--ScoreboardAccuracy_SKP_vs_Optima_pct	--persen accuracy on skp
		 0.00 --ScoreboardReconMonitoring_pct	--persen reconciliation monitoring	
		 )/18  *100 as Overall_Score_pct

		FROM @Temp
		group by creator, 
		case when ChannelDesc in ('LKA') then 'LKA'
		when ChannelDesc in ('MMKA','HYSU','WHOLESALER KA') then 'MMKA,HYSU,WHOLESALER KA'
		when ChannelDesc in ('GT','MTI','WHOLESALER GT') then 'GT,MTI,WHOLESALER GT'
		when ChannelDesc in ('E- COMMERCE','MOM & BABY SHOP','PHARMA') then 'E- COMMERCE,MOM & BABY SHOP,PHARMA'
		else '' end


	insert into @Temp_T
		select  ROW_NUMBER() OVER(ORDER BY total_score desc) AS iNum, '', creator, total_score from (
			select  creator, AVG(total_score) as total_score from @Temp_TB  group by creator
			) as tempT

	insert into @Temp_B
		select  ROW_NUMBER() OVER(ORDER BY total_score asc) AS iNum, '', creator, total_score from (
			select  creator, AVG(total_score) as total_score from @Temp_TB  group by creator
			)  as tempB

	select 
		a.iNum as iNumTop, '' as ChannelDescTop, a. Top_Creator, a.Total_Score as topTotalScore,
		b.iNum as iNumBot, '' as ChannelDescBot, Bottom_Creator, b.Total_Score as botTotalScore
	from @temp_T a inner join @temp_b b on a.inum=b.inum

delete from @Temp_T
delete from @Temp_B
	insert into @Temp_T
	select  ROW_NUMBER() OVER(ORDER BY total_score desc) AS iNum, ChannelDesc, creator, total_score from @Temp_TB  order by total_score desc
	insert into @Temp_B
	select  ROW_NUMBER() OVER(ORDER BY total_score asc) AS iNum, ChannelDesc, creator, total_score from @Temp_TB  order by total_score asc
	
	--select a.iNum as iNumTop, a.ChannelDesc as ChannelDescTop, a. Top_Creator, a.Total_Score as topTotalScore,
	--b.iNum as iNumBot, a.ChannelDesc as ChannelDescBot, Bottom_Creator, a.Total_Score as botTotalScore
	--from @temp_T a inner join @temp_b b on a.inum=b.inum

	select top_creator, total_score from @temp_T where ChannelDesc='LKA'
	select top_creator, total_score from @temp_T where ChannelDesc='MMKA,HYSU,WHOLESALER KA'
	select top_creator, total_score from @temp_T where ChannelDesc ='GT,MTI,WHOLESALER GT'
	select top_creator, total_score from @temp_T where ChannelDesc='E- COMMERCE,MOM & BABY SHOP,PHARMA'


END
GO
