

/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_select_new]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_budgetallocation_select_new] --12,''
	-- Add the parameters for the stored procedure here
	@Id				INT,
	@LongDesc		VARCHAR(50)
AS

--DECLARE
--	@Id				INT,
--	@LongDesc		VARCHAR(50)

--	SET @Id=5078
--	SET @LongDesc=NULL

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		Id INT NULL
	)

	INSERT INTO @ALO(Id)
	SELECT ALLOC.Id
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND (ISNULL(@Id,'')='' OR ALLOC.Id=@Id)
		AND (ISNULL(@LongDesc,'')='' OR ALLOC.LongDesc LIKE @LongDesc)

DECLARE 
@budgetsource INT,
@budgetparent INT,
@budgettype varchar(3),
@budgetmaster INT,
@principalid INT
SELECT @budgetmaster=ta.BudgetMasterId,@budgetsource=ta.BudgetSourceId,@budgettype=ta.BudgetType, @principalid=tb.principalid
	FROM tbtrx_allocation ta
	INNER JOIN tbtrx_budgetmaster tb on ta.BudgetMasterId=tb.Id
where ta.Id=@Id;

IF @budgettype='BTR'
BEGIN
WITH CTE_ASSIGN
AS(
	SELECT 
	 assignment_detail.Id
	,SUM(alloc_detail.BudgetAmount) Spending
	FROM tbtrx_allocation_detail alloc_detail 
	INNER JOIN tbtrx_allocation alloc ON alloc_detail.AllocationId=alloc.Id
	--INNER JOIN tbtrx_allocation_balance balance_child ON balance_child.AllocationId=alloc.Id
	INNER JOIN tbtrx_budgetassignment_detail assignment_detail ON alloc.BudgetSourceId=assignment_detail.Id
	WHERE assignment_detail.Id=@budgetsource and BudgetType='BTR'
	GROUP BY assignment_detail.Id
),
CTE_ASSIGN_REMAIN
AS
(
	SELECT a.Id,a.RefId,a.AssignmentId,a.OwnId,a.[Desc],a.BudgetAmount BudgetAssigned,ISNULL(b.Spending,0) Spending,a.BudgetAmount-ISNULL(b.Spending,0) Remaining from tbtrx_budgetassignment_detail a
	LEFT JOIN CTE_ASSIGN b ON a.Id=b.Id
	where a.Id=@budgetsource
)

SELECT * FROM CTE_ASSIGN_REMAIN;
END
ELSE
BEGIN
WITH CTE_ASSIGN
AS(
    select 
	m.Id,
	m.LongDesc RefId,
	m.Id AssignmentId,
	m.LongDesc,
	m.OwnerId OwnId,
	m.BudgetAmount BudgetAssigned,
	m.BudgetAmount
	FROM tbtrx_budgetmaster m 
	WHERE Id=@budgetmaster
	
),
CTE_ASSIGN_REMAIN
AS
(
	select 
	CTE_ASSIGN.Id,
	CTE_ASSIGN.LongDesc RefId,
	CTE_ASSIGN.Id AssignmentId,
	CTE_ASSIGN.LongDesc,
	CTE_ASSIGN.OwnId,
	CTE_ASSIGN.BudgetAmount BudgetAssigned,
	sum(alloc.BudgetAmount) Spending,	
	CTE_ASSIGN.BudgetAmount-sum(alloc.BudgetAmount) RemainingAmount	
	from tbtrx_allocation alloc
	INNER JOIN CTE_ASSIGN ON BudgetMasterId=CTE_ASSIGN.Id
	WHERE BudgetType='BAL' AND alloc.id=@Id
	group by 	
	CTE_ASSIGN.Id,
	CTE_ASSIGN.LongDesc,
	CTE_ASSIGN.Id,
	CTE_ASSIGN.LongDesc,
	CTE_ASSIGN.OwnId,
	CTE_ASSIGN.BudgetAmount
)
SELECT * FROM CTE_ASSIGN_REMAIN
END	

IF @budgettype='BTR'
BEGIN
WITH CTE_PARENT
AS(
    SELECT 
	alloc.Id ParentId,alloc.LongDesc ParentLongDesc,assignment_detail.BudgetAmount AssignedFromParent
	FROM 
	tbtrx_allocation alloc 	
	INNER JOIN tbtrx_budgetassignment assign WITH (NOLOCK) ON assign.AllocationId=alloc.Id
	INNER JOIN tbtrx_budgetassignment_detail assignment_detail ON assign.Id=assignment_detail.AssignmentId
	WHERE assignment_detail.Id=@budgetsource --and BudgetType='BTR'
),
CTE_PARENT_REMAIN
AS
(
	select AllocationId,
	ParentLongDesc LongDesc,
	sum(InitialAmount) InitialAmount,
	sum(UseAmount) UseAmount,
	sum(ReserveAmount) ReserveAmount,
	sum(RemainingAmount) RemainingAmount,
	AssignedFromParent
	from tbtrx_allocation_balance dtl 
	INNER JOIN CTE_PARENT ON AllocationId=ParentId
	group by AllocationId,ParentLongDesc,AssignedFromParent
)
SELECT * FROM CTE_PARENT_REMAIN
END


IF @budgettype='BAL'
BEGIN
WITH CTE_PARENT
AS(
    SELECT 
	Id ParentId,LongDesc ParentLongDesc,BudgetAmount ParentAmount,BudgetAmount AssignedFromParent
	FROM 
	tbtrx_budgetmaster m 		
	WHERE Id=@budgetmaster
),
CTE_PARENT_REMAIN
AS
(
	select ParentId,
	ParentLongDesc LongDesc,
	ParentAmount InitialAmount,
	sum(BudgetAmount) UseAmount,
	0 ReserveAmount	,
	ParentAmount-sum(BudgetAmount) RemainingAmount,
	AssignedFromParent
	from tbtrx_allocation alloc
	INNER JOIN CTE_PARENT ON BudgetMasterId=ParentId
	WHERE BudgetType='BAL'
	group by ParentId,ParentLongDesc,ParentAmount,AssignedFromParent
)
SELECT * FROM CTE_PARENT_REMAIN

END


    
	SELECT
		ALLOC.Id
		,ALLOC.Periode
		,ALLOC.RefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName		
		,ALLOC.OwnerId
		,uo.id Ownername
		,ALLOC.FromOwnerId
		,uf.id FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		--,ALLOC.SalesAmount
		,ALLOC.BudgetAmount
		,bal.RemainingBudget
		,ALLOC.LongDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
	    ,m.RefId mrefid
	    ,m.LongDesc mlongdesc
		,m.StartDate 
		,m.EndDate
		,ALLOC.CreateOn
		,ALLOC.CreateBy
	    ,p.LongDesc entity
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)	
	left join (select AllocationId,sum(RemainingAmount) RemainingBudget from tbtrx_allocation_balance dtl where AllocationId IN (SELECT Id from @ALO) group by AllocationId)  bal on bal.AllocationId=ALLOC.Id 
	inner join tbtrx_budgetmaster m on ALLOC.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	inner join tbset_user uo on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf on uf.Id=ALLOC.FromOwnerId
	inner join tbmst_category ctg on ctg.Id=m.CategoryId
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND ALLOC.Id IN (SELECT Id FROM @ALO)
/*************************************************/
	/* Attribute Region */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN
		SELECT
			CASE WHEN R.AllocationId is null THEN 0 ELSE 1 END as flag,
			R.AllocationId AS RegionAllocId
			,MR.Id AS RegionId
			,MR.LongDesc AS RegionName
		FROM [dbo].[tbmst_region] AS MR WITH(NOLOCK)
		LEFT JOIN [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK) ON MR.Id=R.RegionId AND R.AllocationId IN (SELECT Id FROM @ALO)	
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
				R.AllocationId AS RegionAllocId
				,R.RegionId
				,tr.LongDesc AS RegionName
			FROM (
				select * from tbtrx_allocation_region where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_region tr WITH(NOLOCK) ON R.RegionId = tr.Id
			LEFT JOIN tbtrx_allocation_region MR on  tr.id = MR.RegionId AND MR.AllocationId=@Id
	END
	

/*************************************************/
	/* Attribute Channel */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN	
		SELECT
			CASE WHEN C.AllocationId is null THEN 0 ELSE 1 END as flag,
			C.AllocationId AS ChannelAllocId
			,MC.Id AS ChannelId
			,MC.LongDesc AS ChannelName
		FROM [dbo].[tbmst_channel] AS MC WITH(NOLOCK)
		LEFT JOIN [dbo].[tbtrx_allocation_channel] AS C WITH(NOLOCK) ON C.ChannelId=MC.Id AND C.AllocationId IN (SELECT Id FROM @ALO)
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS ChannelAllocId
			,R.ChannelId
			,tr.LongDesc AS ChannelName
			FROM (
				select * from tbtrx_allocation_channel where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_channel tr WITH(NOLOCK) ON R.ChannelId = tr.Id
			LEFT JOIN tbtrx_allocation_channel MR on  tr.id = MR.ChannelId AND MR.AllocationId=@Id
	END
	
/*************************************************/
	/* Attribute Sub Channel */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN		
		SELECT
			CASE WHEN SC.AllocationId is null THEN 0 ELSE 1 END as flag,
			SC.AllocationId AS SubChannelAllocId
			, MSC.channelId
			,MSC.Id AS SubChannelId
			,MSC.LongDesc AS SubChannelName
		FROM [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK)
		LEFT JOIN [dbo].[tbtrx_allocation_subchannel] AS SC WITH(NOLOCK) ON SC.ChannelId=MSC.ChannelId AND SC.SubChannelId=MSC.Id AND SC.AllocationId IN (SELECT Id FROM @ALO) 
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS SubChannelAllocId
			, R.channelId
			,R.SubChannelId
			,tr.LongDesc AS SubChannelName
			FROM (
				select * from tbtrx_allocation_subchannel where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_subchannel tr WITH(NOLOCK) ON R.SubChannelId = tr.Id
			LEFT JOIN tbtrx_allocation_subchannel MR on  tr.id = MR.SubChannelId AND MR.AllocationId=@Id
	END

/*************************************************/
	/* Attribute Account */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN			
		SELECT
			CASE WHEN A.AllocationId is null THEN 0 ELSE 1 END as flag,
			A.AllocationId AS AccountAllocId
			,MA.subChannelId
			,MA.Id AS AccountId
			,MA.LongDesc AS AccountName
		FROM [dbo].[tbmst_account] AS MA WITH(NOLOCK)
		LEFT JOIN [dbo].[tbtrx_allocation_account] AS A WITH(NOLOCK) ON A.SubChannelId=MA.SubChannelId AND A.AccountId=MA.Id AND A.AllocationId IN (SELECT Id FROM @ALO)	
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS AccountAllocId
			,R.subChannelId
			,R.AccountId
			,tr.LongDesc AS AccountName
			FROM (
				select * from tbtrx_allocation_account where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_account tr WITH(NOLOCK) ON R.AccountId = tr.Id
			LEFT JOIN tbtrx_allocation_account MR on  tr.id = MR.AccountId AND MR.AllocationId=@Id
	END

/*************************************************/
	/* Attribute Sub Account */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN				
		SELECT
			CASE WHEN SA.AllocationId is null THEN 0 ELSE 1 END as flag,
			SA.AllocationId AS SubAccountAllocId
			,MSA.accountId
			,MSA.Id AS SubAccountId
			,MSA.LongDesc AS SubAccountName
		FROM [dbo].[tbmst_subaccount] AS MSA WITH(NOLOCK)
		LEFT JOIN [dbo].[tbtrx_allocation_subaccount] AS SA WITH(NOLOCK) ON SA.AccountId=MSA.AccountId AND SA.SubAccountId=MSA.Id AND SA.AllocationId IN (SELECT Id FROM @ALO)
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS SubAccountAllocId
			,R.accountId
			,R.SubAccountId
			,tr.LongDesc AS SubAccountName
			FROM (
				select * from tbtrx_allocation_subaccount where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_subaccount tr WITH(NOLOCK) ON R.SubAccountId = tr.Id
			LEFT JOIN tbtrx_allocation_subaccount MR on  tr.id = MR.SubAccountId AND MR.AllocationId=@Id
	END

/*************************************************/
	/* Attribute Brand */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN					
		SELECT distinct
			CASE WHEN R.AllocationId is null THEN 0 ELSE 1 END as flag,	
			R.AllocationId AS BrandAllocId
			,MR.Id AS BrandId
			,MR.LongDesc AS BrandName
		FROM [dbo].[tbmst_brand]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R WITH(NOLOCK) ON R.BrandId=MR.Id AND R.AllocationId IN (SELECT Id FROM @ALO) 
		WHERE MR.principalid = @principalid
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS BrandAllocId
			,R.BrandId
			,tr.LongDesc AS BrandName
			FROM (
				select * from tbtrx_allocation_brand where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_brand tr WITH(NOLOCK) ON R.BrandId = tr.Id
			LEFT JOIN tbtrx_allocation_brand MR on  tr.id = MR.BrandId AND MR.AllocationId=@Id
	END

/*************************************************/
	/* Attribute SKU */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN						
		SELECT
			CASE WHEN R.AllocationId is null THEN 0 ELSE 1 END as flag,	
			R.AllocationId AS ProductAllocId
			,MR.brandId
			,MR.Id AS ProductId
			,MR.LongDesc AS ProductName
		FROM [dbo].[tbmst_product]  AS MR  WITH(NOLOCK)
		LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R WITH(NOLOCK) ON R.ProductId=MR.Id AND R.AllocationId IN (SELECT Id FROM @ALO)
		ORDER BY MR.SeqNo
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS ProductAllocId
			,R.brandId
			,R.ProductId
			,tr.LongDesc AS ProductName
			FROM (
				select * from tbtrx_allocation_product where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbmst_product tr WITH(NOLOCK) ON R.ProductId = tr.Id
			LEFT JOIN tbtrx_allocation_product MR on  tr.id = MR.ProductId AND MR.AllocationId=@Id
	END

	SELECT
		CASE WHEN a.AllocationId is null THEN 0 ELSE 1 END as flag,	
		a.AllocationId AS SubCategoryAllocId
		,b.Id AS SubCategoryId
		,b.LongDesc AS SubCategoryName
	FROM [dbo].[tbmst_subcategory] AS b WITH(NOLOCK)
	LEFT JOIN [dbo].[tbtrx_allocation_detail]  AS a WITH(NOLOCK) ON a.SubCategoryId=b.Id AND a.AllocationId IN (SELECT Id FROM @ALO)

	SELECT distinct
		CASE WHEN a.AllocationId is null THEN 0 ELSE 1 END as flag,	
		a.AllocationId AS ActivityAllocId
		,ctg.ActivityId AS ActivityId
		,ctg.ActivityDesc AS ActivityName
	FROM vw_activity ctg
	LEFT JOIN [tbtrx_allocation_detail] AS a WITH(NOLOCK) ON iif(a.ActivityId=0,ctg.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,a.SubCategoryId,ctg.ActivityId) --AND a.AllocationId IN (5062)
	WHERE a.AllocationId IN (SELECT Id FROM @ALO)
	AND ctg.ActivityId is not null	

	SELECT 
		CASE WHEN a.AllocationId is null THEN 0 ELSE 1 END as flag,	
		a.AllocationId AS SubActivityAllocId
		,ctg.SubActivityId AS SubActivityId
		,ctg.SubActivityDesc AS SubActivityName
	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
	INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
	and iif(a.ActivityId=0,ctg.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,a.SubCategoryId,ctg.ActivityId) 
	WHERE a.AllocationId IN (SELECT Id FROM @ALO) AND ctg.SubActivityId is not null


/*************************************************/
	/* Attribute UserAccess */
/*************************************************/
	IF @budgettype='BAL'
	BEGIN						
		select 
			CASE WHEN UA.AllocationId is null THEN 0 ELSE 1 END as flag,
			UA.AllocationId AS UserAccAllocId
			,MU.id AS UserAccessId
			,MU.username AS UserAccessName
		from tbset_user MU
		left join tbtrx_allocation_useraccess UA on UA.UserId=MU.id and UA.AllocationId IN (SELECT Id FROM @ALO)
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN MR.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS UserAccAllocId
			,R.UserId UserAccessId
			,tr.username AS UserAccessName
			FROM (
				select * from tbtrx_allocation_useraccess where AllocationId = (
					select d.allocationid from tbtrx_allocation b 
					inner join tbtrx_budgetassignment_detail c on c.Id = b.BudgetSourceId
					inner join tbtrx_budgetassignment d on c.AssignmentId = d.id
					where c.Id=@budgetsource
					)
				)R 
			INNER JOIN tbset_user tr WITH(NOLOCK) ON R.UserId = tr.Id
			LEFT JOIN tbtrx_allocation_useraccess MR on  tr.id = MR.UserId AND MR.AllocationId=@Id
	END

	/* Attribute UserAccess */
	IF @budgettype='BAL'
	BEGIN							
		SELECT
			CASE WHEN UAS.AllocationId is null THEN 0 ELSE 1 END as flag,
			UAS.AllocationId AS UserAssAllocId
			,MU1.id AS UserAssignId
			,MU1.username AS UserAssignName
		FROM [dbo].[tbset_user] MU1 WITH(NOLOCK)
		LEFT JOIN [dbo].[tbtrx_allocation_userassign] AS UAS WITH(NOLOCK) ON UAS.UserId=MU1.id and UAS.AllocationId IN (SELECT Id FROM @ALO)
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN R.AllocationId is null THEN 0 ELSE 1 END as flag, mr.AllocationId,
			R.AllocationId AS UserAccAllocId
			,MR.UserId UserAccessId
			,tr.username AS UserAccessName
		FROM [dbo].[tbtrx_allocation_userassign] AS MR WITH(NOLOCK)
		INNER JOIN tbset_user tr WITH(NOLOCK) ON MR.UserId = tr.Id 
		LEFT JOIN [dbo].[tbtrx_allocation_userassign] AS R WITH(NOLOCK) ON MR.UserId=R.UserId AND R.AllocationId IN (SELECT Id FROM @ALO)	
		WHERE mr.AllocationId=@budgetsource
	END
	
	SELECT
		CASE WHEN UP.AllocationId is null THEN 0 ELSE 1 END as flag,
		UP.AllocationId AS UserProAllocId
		,MU2.id AS UserPromoId
		,MU2.username AS UserPromoName
	FROM [dbo].[tbset_user] MU2 WITH(NOLOCK)
	LEFT JOIN [dbo].[tbtrx_allocation_userpromo] AS UP WITH(NOLOCK) ON UP.UserId=MU2.id and UP.AllocationId IN (5062)

	SELECT distinct
	AllocationId,
	LineIndex,
	a.SubCategoryId SubCategory,
	c.SubCategoryDesc SubCategoryDesc,
	IIF(a.ActivityId=0,'',a.ActivityId) Activity,
	isnull(d.ActivityDesc,'') ActivityDesc,
	IIF(e.SubActivityDesc is null,'',a.SubActivityId) SubActivity,
	isnull(e.SubActivityDesc,'') SubActivityDesc,
	BudgetAmount,
	LongDesc
	FROM
	tbtrx_allocation_detail a
	inner join @ALO b on a.AllocationId=b.Id
	inner join vw_activity c on a.SubCategoryId=c.SubCategoryId
	left join vw_activity d on d.ActivityId=a.ActivityId
	left join vw_activity e on e.SubActivityId=a.SubActivityId
END

GO
