

/****** Object:  StoredProcedure [dbo].[ip_promo_mechanism_input_method_upload]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_promo_mechanism_input_method_upload]
@dataSet mechanismInputMethodType READONLY
AS

--DECLARE @dataSet mechanismInputMethodType
--INSERT INTO @dataSet (categoryDesc, subCategoryDesc, activityDesc, subActivityDesc, inputMethod) 
--	SELECT
--		categoryDesc, subCategoryDesc, activityDesc, subActivityDesc, 'No'
--	FROM vw_activity_active a 
--	WHERE SubActivityDesc='Block Shelving'
--SELECT * FROM @DATASET
--select * into tmpmechanismInputMethodType from @dataSet
--insert into @dataSet select * from tmpmechanismInputMethodType

--truncate table tmpmechanismInputMethodType
--insert into tmpmechanismInputMethodType select * from @dataSet
--select * from tmpmechanismInputMethodType
BEGIN

/*UPDATE EXISTING*/
	UPDATE A
		SET inputMethod = IIF(C.inputMethod = 'YES',1,0)
		FROM tbset_promo_mechanism_input_method A
		INNER JOIN vw_activity B ON A.subActivityId = B.SubActivityId
		INNER JOIN (select distinct * from @dataSet) C ON
			B.categoryDesc = C.categoryDesc
			AND B.subCategoryDesc = C.subCategoryDesc
			AND B.activityDesc = C.activityDesc
			AND B.subActivityDesc = C.subActivityDesc
/*INSERT NEW*/
	INSERT INTO tbset_promo_mechanism_input_method (subActivityId, inputMethod)
		SELECT DISTINCT B.SubActivityId, IIF(A.inputMethod = 'YES',1,0)  FROM @dataSet A
			INNER JOIN vw_activity B ON 
				A.categoryDesc = B.categoryDesc
				AND A.subCategoryDesc = B.subCategoryDesc
				AND A.activityDesc = B.activityDesc
				AND A.subActivityDesc = B.subActivityDesc
			LEFT JOIN tbset_promo_mechanism_input_method C ON B.SubActivityId = C.subActivityId
			WHERE C.subActivityId IS NULL

--SELECT
--a.categoryId, a.categoryDesc, a.subCategoryId, a.subCategoryDesc, a.activityId, a.activityDesc, a.subActivityId, a.subActivityDesc, b.inputMethod
--FROM vw_activity_active a
--LEFT JOIN tbset_promo_mechanism_input_method b ON a.SubActivityId = b.subActivityId
--WHERE a.SubActivityDesc='Block Shelving'

END

GO
