USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_set_config_email]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_set_config_email]
@id varchar(50)
,@param varchar(255)
AS 
BEGIN
	DECLARE @email varchar(max)
	select @email = email from tbset_user where id=@param -- for prod
	/*for dev n stg*/
--	select DISTINCT @email = string_agg(tul.email,',') from tbset_user_login_profile a
--		inner join tbset_user_login tul on a.id=tul.id
--		where a.profileid=@param
		
	SELECT @email email_to, email email_cc FROM tbset_config_email where id=@id
END
GO
