

/****** Object:  StoredProcedure [dbo].[ip_import_budget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_budget]
@Allocation ImportAllocationType READONLY,
@Derivative ImportDerivativeType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

truncate table TempImportDerivativeType
insert INTO [dbo].[TempImportDerivativeType]
SELECT * FROM @Derivative

truncate table Tempcekbudget
insert into Tempcekbudget
SELECT BudgetParent,(TotalAssignmentAmount-AssignDetail) FROM
(
SELECT BudgetParent,TotalAssignmentAmount,SUM(AssignAmount) AssignDetail  
FROM @Derivative
GROUP BY BudgetParent,TotalAssignmentAmount
) X WHERE TotalAssignmentAmount < AssignDetail


/*******************************************
BUDGET MASTER
********************************************/
MERGE tbtrx_budgetmaster t
USING
(
SELECT 
Periode
,BudgetDesc LongDesc
,[Owner] OwnerId
,BudgetAmount
,d.Id DistributorId
,p.Id PrincipalId
,c.Id CategoryId
,DATEADD(yy, DATEDIFF(yy, 0, Periode), 0) StartDate
,DATEADD (dd, -1, DATEADD(yy, DATEDIFF(yy, 0, Periode) +1, 0)) EndDate	
FROM @Allocation a
INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
INNER JOIN tbmst_category c on c.LongDesc=a.Category
)s
ON s.LongDesc=t.LongDesc
WHEN MATCHED THEN
UPDATE
SET t.BudgetAmount=s.BudgetAmount
WHEN NOT MATCHED THEN
 INSERT (
	Periode	
	,DistributorId
	,PrincipalId
	,OwnerId
	,CategoryId
	,StartDate
	,EndDate
	,BudgetAmount
	,IsAllocated
	,LongDesc
	,ShortDesc
	,IsActive
	,CreateOn
	,CreateBy
	)
	VALUES
	(
	s.Periode	
	,s.DistributorId 
	,s.PrincipalId
	,s.OwnerId
	,s.CategoryId
	,convert(datetime,s.StartDate,5)
	,convert(datetime,s.EndDate,5)
	,s.BudgetAmount
	,0
	,s.LongDesc
	,''
	,1
	,@utcDate123
	,@userid
	);


/*******************************************
BUDGET ALLOCATION (BAL)
********************************************/

MERGE tbtrx_allocation t
USING
(
	SELECT 
a.Periode
,BudgetDesc LongDesc
,[Owner] OwnerId
,m.Id BudgetMasterId
,m.Id BudgetSourceId
,a.BudgetAmount
,d.Id DistributorId
,p.Id PrincipalId
,DATEADD(yy, DATEDIFF(yy, 0, a.Periode), 0) StartDate
,DATEADD (dd, -1, DATEADD(yy, DATEDIFF(yy, 0, a.Periode) +1, 0)) EndDate
,sc.Id SubCategoryId
,ISNULL(act. ActivityId,0) ActivityId
,ISNULL(sact.SubActivityId,0) SubActivityId	
FROM @Allocation a
INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
LEFT JOIN (
	SELECT 
	SubCategoryId
	,c.LongDesc SubCategoryDesc
	,a.Id ActivityId
	,a.LongDesc ActivityDesc 
	FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
) act
ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
LEFT JOIN (
	SELECT 
	act.Id ActivityId
	,a.Id SubActivityId
	,a.LongDesc SubActivityDesc 
	FROM tbmst_subactivity a 
	INNER JOIN tbmst_activity act on a.ActivityId=act.Id
	INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
) sact
ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc

)s
ON t.LongDesc=s.LongDesc
WHEN MATCHED THEN
UPDATE
SET t.BudgetAmount=s.BudgetAmount
WHEN NOT MATCHED THEN

INSERT
           ([Periode]
           ,[BudgetType]
           ,[DistributorId]
           ,[OwnerId]
           ,[FromOwnerId]
           ,[BudgetMasterId]
           ,[BudgetSourceId]           
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]
           ,[StatusApproval]
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
	VALUES
			(
			s.Periode			
			,'BAL'
			,s.DistributorId 
			,s.OwnerId
			,s.OwnerId
			,s.BudgetMasterId
			,s.BudgetSourceId
			,s.BudgetAmount
			,s.LongDesc
			,''
			,1
			,1
			,0
			,@utcDate123
			,@userid
			);



/*******************************************
BUDGET ALLOCATION DETAIL (BAL)
********************************************/
MERGE tbtrx_allocation_detail t
USING
(
SELECT 
alc.Id AllocationId
,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
,sc.Id SubCategoryId
,ISNULL(act. ActivityId,0) ActivityId
,ISNULL(sact.SubActivityId,0) SubActivityId	
,a.BudgetAmount
,BudgetDesc LongDesc
FROM @Allocation a
INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
LEFT JOIN (
	SELECT 
	SubCategoryId
	,c.LongDesc SubCategoryDesc
	,a.Id ActivityId
	,a.LongDesc ActivityDesc 
	FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
) act
ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
LEFT JOIN (
	SELECT 
	act.Id ActivityId
	,a.Id SubActivityId
	,a.LongDesc SubActivityDesc 
	FROM tbmst_subactivity a 
	INNER JOIN tbmst_activity act on a.ActivityId=act.Id
	INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
) sact
ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc

)s
ON t.LongDesc=s.LongDesc
WHEN MATCHED THEN
UPDATE
SET t.BudgetAmount=s.BudgetAmount
,t.SubCategoryId=s.SubCategoryId
,t.ActivityId=s.ActivityId
,t.SubActivityId=s.SubActivityId
WHEN NOT MATCHED THEN

INSERT
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
	VALUES
           (s.[AllocationId]
           ,s.[LineIndex]
           ,s.[SubCategoryId]
           ,s.[ActivityId]
           ,s.[SubActivityId]  
           ,s.[BudgetAmount]
           ,s.[LongDesc]
		   ,''			
		   ,1
		   ,0
		   ,@utcDate123
		   ,@userid
			);



DECLARE 
    @BudgetParent VARCHAR(255), 
    @TotalAssignmentAmount   numeric(18,0),
	@AssignTo varchar(255),
	@AssignDesc varchar(255),
	@AssignAmount numeric(18,0),
	@SubCategory varchar(255),
	@Activity varchar(255),
	@SubActivity varchar(255),
	@Approval varchar(255);
 
DECLARE cursor_product CURSOR
FOR SELECT 
        BudgetParent 
        ,TotalAssignmentAmount
		,AssignTo
		,AssignDesc
		,AssignAmount
		,SubCategory
		,Activity
		,SubActivity
		,Approval
    FROM 
        @Derivative;
 
OPEN cursor_product;
 
FETCH NEXT FROM cursor_product INTO 
    @BudgetParent, 
    @TotalAssignmentAmount,
	@AssignTo,
	@AssignDesc,
	@AssignAmount,
	@SubCategory,
	@Activity,
	@SubActivity,
	@Approval;
 
WHILE @@FETCH_STATUS = 0
    BEGIN
 

		EXEC ip_insert_derivative_budget
		    @BudgetParent, 
			@TotalAssignmentAmount,
			@AssignTo,
			@AssignDesc,
			@AssignAmount,
			@SubCategory,
			@Activity,
			@SubActivity,
			@Approval
    

		FETCH NEXT FROM cursor_product INTO 
        @BudgetParent, 
		@TotalAssignmentAmount,
		@AssignTo,
		@AssignDesc,
		@AssignAmount,
		@SubCategory,
		@Activity,
		@SubActivity,
		@Approval;
    END;
 

CLOSE cursor_product;
 
DEALLOCATE cursor_product;

END
GO
