USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_skpflagging]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_skpflagging]
@promoid int,
@statuscode varchar(3),
@notes varchar(255),
@approvaldate datetime
,@PromoSKP PromoSKPType READONLY
AS

BEGIN
	INSERT INTO tbtrx_promo_skp_validate_deleted
	SELECT * FROM tbtrx_promo_skp_validate WHERE PromoId = @promoid
	DELETE FROM tbtrx_promo_skp_validate WHERE PromoId = @promoid
	INSERT INTO tbtrx_promo_skp_validate
	SELECT * FROM @PromoSKP
END
GO
