USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_insert_activity]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[ip_insert_activity]

@ActivityType tbtype_activity READONLY

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

	IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_category c WITH (NOLOCK) 
					INNER JOIN @ActivityType t on c.RefId = t.CatRef)
	BEGIN
		INSERT INTO tbmst_category(LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy)
		SELECT DISTINCT CatDesc,CatSDesc,IsActive,CreateOn,CreateBy,@utcDate123,''
		FROM @ActivityType
	END

	IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_subcategory c WITH (NOLOCK) 
					INNER JOIN @ActivityType t on c.RefId = t.SubCatRef)
	BEGIN
		INSERT INTO tbmst_subcategory(CategoryId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy)
		SELECT DISTINCT c.Id,SubCatDesc,SubCatSDesc,t.IsActive,t.CreateOn,t.CreateBy,@utcDate123,''
		FROM @ActivityType t
		INNER JOIN tbmst_category c on t.CatRef=c.RefId
	END

	IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_activity c WITH (NOLOCK) 
					INNER JOIN @ActivityType t on c.RefId = t.ActRef)
	BEGIN
		INSERT INTO tbmst_activity(CategoryId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy)
		SELECT DISTINCT c.Id,ActDesc,ActSDesc,t.IsActive,t.CreateOn,t.CreateBy,@utcDate123,''
		FROM @ActivityType t
		INNER JOIN tbmst_category c on t.CatRef=c.RefId
	END
	
	IF NOT EXISTS(SELECT TOP 1 Id FROM tbmst_subactivity c WITH (NOLOCK) 
					INNER JOIN @ActivityType t on c.RefId = t.SubActRef)
	BEGIN
		INSERT INTO tbmst_subactivity(CategoryId,SubCategoryId,ActivityId,LongDesc,ShortDesc,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy)
		SELECT DISTINCT c.CategoryId,c.Id,d.Id,SubActDesc,SubActSDesc,t.IsActive,t.CreateOn,t.CreateBy,@utcDate123,''
		FROM @ActivityType t
		INNER JOIN tbmst_subcategory c on t.SubCatRef=c.RefId
		INNER JOIN tbmst_activity d on t.ActRef=d.RefId
	END

END
GO
