USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_blitz_transfer_notif]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_blitz_transfer_notif]
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin
	DECLARE @tableHTML  NVARCHAR(MAX) 
	,@recipient varchar(100)
	,@isnodata bit
	select @recipient=email from tbset_user where id='admin'

	select @isnodata=iif(count(type)>=1,0,1) FROM tbtemp_blitz_optima_map_check as tbomc  
		WHERE convert(varchar(8),tbomc.created_on,112) = convert(varchar(8),@utcDate123,112)

	SET @tableHTML =  
		N'<H3>BLITZ Transfered at '+convert(varchar,@utcDate123,0)+'</H3>' +  
		N'<table border=""1"">' +  
		N'<tr><th colspan=""3"">BLITZ Transfer - Unmapped attributes</th></tr>' +  
		N'<tr><th>Type</th><th>Code</th>' +  
		N'<th>Desc</th></tr>' +  
		CAST ( ( SELECT td = 'No Data',       '',  
						td = 'No Data', '',  
						td = 'No Data', ''
					FOR XML PATH('tr'), TYPE   
		) AS NVARCHAR(MAX) ) +  
		N'</table>' ;  
	if @isnodata=0  
	begin
		SET @tableHTML =  
			N'<H3>BLITZ Transfered at '+convert(varchar,@utcDate123,0)+'</H3>' +  
			N'<table border=""1"">' +  
			N'<tr><th colspan=""3"">BLITZ Transfer - Unmapped attributes</th></tr>' +  
			N'<tr><th>Type</th><th>Code</th>' +  
			N'<th>Desc</th></tr>' +  
			CAST ( ( SELECT td = isnull(tbomc.[type],'-'),       '',  
							td = isnull(tbomc.code,'-'), '',  
							td = isnull(tbomc.[desc],'-'), ''
					  FROM tbtemp_blitz_optima_map_check as tbomc  
					  WHERE convert(varchar(8),tbomc.created_on,112) = convert(varchar(8),@utcDate123,112) 
					  ORDER BY tbomc.type   
					  FOR XML PATH('tr'), TYPE   
			) AS NVARCHAR(MAX) ) +  
			N'</table>' ;  
	end
	EXEC msdb.dbo.sp_send_dbmail 
		@recipients=@recipient,
--		@copy_recipients='edy.jumantoro@xvautomation.com',
		@subject = '[NOTIFICATION] BLITZ Transfer',  
		@body = @tableHTML,  
		@body_format = 'HTML' ;
end

GO
