USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ewa_promo_aging_att]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--select FORMAT(123456789,'#,#')

CREATE PROCEDURE [dbo].[ip_ewa_promo_aging_att] as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

drop table if exists #ewatmp
set nocount on;

select  a.id, a.refid , a.LastStatus , a.CreateBy ,  d.username , a.CreateOn, c.LongDesc as Channel
	, '' as subaccount
	, a.StartPromo, a.EndPromo, a.ActivityDesc, a. Mechanisme1, a.Investment
into #ewatmp
from tbtrx_promo a
inner join tbtrx_promo_channel b on a.id=b.PromoId
inner join tbmst_channel c on b.ChannelId=c.id
inner join tbset_user d on a.CreateBy=d.id
where isnull(a.iscancel,0)=0 and a.StatusApprovalCode<>'TP2' and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)

--delete from remoterds.danone.dbo.tbstg_ewa_promo_aging_att
--insert into remoterds.danone.dbo.tbstg_ewa_promo_aging_att
delete from tbdev_ewa_promo_aging_att
insert into tbdev_ewa_promo_aging_att
	select 
	a.refid as [Promo ID], concat(a.LastStatus,'-', a3.username) as [Last Status], a.CreateBy as [Promo Initiator],  a.username as [Intiator Name], convert(varchar(10), a.CreateOn, 103) as [Creation Date], a.Channel
	, subacc.SubAccountDesc as [Sub Account], convert(varchar(10), a.StartPromo, 103) as [Promo Start], convert(varchar(10), a.EndPromo, 103) as [Promo End], a.ActivityDesc as [Activity Name], a. Mechanisme1 as [Mechanism 1], FORMAT(a.Investment,'#,#') as Investment
	, case when a2.Status='TP3' then datediff(day,ActionDate,@utcDate123) else datediff(day,RequestDate,@utcDate123) end as [Aging (sendback or approval)]
	--, a2.RequestDate, a2.ActionDate, a2.UserApprover, a2.Status
	from #ewatmp a
	inner join tbtrx_promo_request_approval a1 on a.id=a1.ParentId and a1.IsCancel=0
	inner join tbtrx_promo_approval a2 on a1.id=a2.RequestId and IsOnGoing=1
	inner join tbset_user a3 on a2.UserApprover=a3.id
	left join
		(
			select PromoId,
				STUFF(
						(
							select  ',' + sac.LongDesc 
							from tbtrx_promo_subaccount aa with (nolock)
							join tbmst_subaccount sac with (nolock)
							ON aa.subAccountId=sac.Id AND aa.PromoId=bb.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
						FROM tbtrx_promo_subaccount bb with (nolock) INNER JOIN #ewatmp with (nolock) ON Id=PromoId GROUP BY PromoId
						) subacc
						on a.Id = subacc.PromoId

drop table if exists #ewatmp


GO
