USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_ssvalue_promoid_get]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_ssvalue_promoid_get] 
	@period int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @groupbrandid int
	, @promostart date
	, @promoend date

AS

--DECLARE
--	@period int
--	, @channelid int
--	, @subchannelid int
--	, @accountid int
--	, @subaccountid int
--	, @groupbrandid int
--	, @promostart date
--	, @promoend date

--	SET @period = 2024
--	SET @channelid = 2
--	SET @subchannelid = 2
--	SET @accountid = 3
--	SET @subaccountid = 2
--	SET @groupbrandid = 1
--	SET @promostart ='2024-01-01'
--	SET @promoend = '2024-03-31'
	
----	EXEC [ip_ss_ssvalue_promoid_get] @period, @channelid, @subchannelid, @accountid, @subaccountid, @groupbrandid, @promostart, @promoend

BEGIN
	DECLARE 
		@SQL NVARCHAR(MAX)
		, @sumSQL NVARCHAR(MAX)
		, @ssvalue numeric(18,0)
		, @apstart int
		, @apend int

	SET @apstart=MONTH(@promostart)
	SET @apend=MONTH(@promoend)

	WHILE @apstart <= @apend
		BEGIN
			SET @sumSQL = CONCAT(@sumSQL, '(ISNULL(a.m',@apstart,',0) * ISNULL(b.m',@apstart,',0))+')
			SET @apstart = @apstart + 1
		/* do some work */
		END
	SET @sumSQL = LEFT(@sumSQL, LEN(@sumSQL)-1) 
	SET @SQL = CONCAT('
		SELECT 
		a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		,ROUND(SUM(',@sumSQL,'),0) ssvalue
		FROM tbtrx_ss_volume a
		INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
		WHERE 
			a.period= ',@period,'
			AND a.channelid = ',@channelid,'
			AND a.subchannelid = ',@subchannelid,'
			AND a.accountid = ',@accountid,'
			AND a.subaccountid = ',@subaccountid,'
			AND a.groupbrandid = ',@groupbrandid,'
		GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid'
		)

	EXEC sys.sp_executesql @SQL

END
GO
