

/****** Object:  StoredProcedure [dbo].[ip_promo_mechanism_validate]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_mechanism_validate]
	@entityid int,
	@subcategoryid int,
	@activityid int,
	@subactivityid int,
	@productid int,
	@channelid int,
	@startdate date,
	@enddate date,
	@promoid int
--	@mechanism MechanismType READONLY
as
BEGIN
--	truncate table mytmp 
--	INSERT INTO mytmp (f1,f2) values 
--		('entityid', @entityid)
--		,('subcategoryid', @subcategoryid)
--		,('activityid', @activityid)
--		,('subactivityid', @subactivityid)
--		,('productid', @productid)
--		,('channelid', @channelid)
		
	DECLARE 
		@entity varchar(255)
		, @subcategory varchar(255)
		, @activity varchar(255)
		, @subactivity varchar(255)
		, @product varchar(255)
		, @channel varchar(255)
		
		, @totMechanismExisting int
		, @totMechanismMaster int
		
	SET @entity = (SELECT LongDesc FROM tbmst_principal WHERE id=@entityid)
	SET @subcategory = (SELECT LongDesc FROM tbmst_subcategory WHERE id=@subcategoryid)
	SET @activity = (SELECT LongDesc FROM tbmst_activity WHERE id=@activityid)
	SET @subactivity = (SELECT LongDesc FROM tbmst_subactivity WHERE id=@subactivityid)
	SET @channel = (SELECT LongDesc FROM tbmst_channel WHERE id=@channelid)	
	
	DECLARE @PromoMechanism as TABLE (
		PromoId int,
		MechanismId int,
		Mechanism varchar(MAX),
		Notes varchar(255),
		ProductId int,
		Product varchar(255),
		BrandId int,
		Brand varchar(255)
	);

	INSERT INTO @PromoMechanism (
		PromoId,
		MechanismId,
		Mechanism,
		Notes,
		ProductId,
		Product,
		BrandId,
		Brand
	)
	SELECT 
		PromoId,
		MechanismId,
		Mechanism,
		Notes,
		ProductId,
		Product,
		BrandId,
		Brand	
	FROM tbtrx_promo_mechanism 
	WHERE promoid = @promoid
	
	DECLARE @PromoMechanismValidate as TABLE (
		Id int,
		EntityId int,
		Entity varchar(50),
		SubActivityId int,
		SubActivity varchar(50),
		ProductId int,
		Product varchar(255),
		BrandId int,
		Brand varchar(255),
		Requirement varchar(255),
		Discount varchar(255),
		Mechanism varchar(255),
		Channel int,
		StartDate date,
		EndDate date,
		CreateOn datetime,
		CreateBy varchar(50),
		CreatedEmail varchar(50),
		ModifiedOn datetime,
		ModifiedBy varchar(50),
		ModifiedEmail varchar(50),
		IsDelete bit,
		DeleteOn datetime,
		DeleteBy varchar(50),
		DeleteEmail varchar(50)
	);
			
	IF EXISTS (
	SELECT id FROM tbmst_mechanism m
		WHERE isnull(m.IsDelete, 0)=0
		AND  m.StartDate <=  @startdate
		AND m.EndDate >=  @enddate
		AND m.Entity = @entity
		AND m.Activity = @activity
		AND m.SubActivity = @subactivity
		AND m.SubCategory = @subcategory
		AND (m.ChannelId = @channelid OR m.ChannelId = 0)
	)
	BEGIN
		INSERT INTO @PromoMechanismValidate (
			Id,
			EntityId,
			Entity,
			SubActivityId,
			SubActivity,
			ProductId,
			Product,
			BrandId,
			Brand,
			Requirement,
			Discount,
			Mechanism,
			Channel,
			StartDate,
			EndDate,
			CreateOn,
			CreateBy,
			CreatedEmail,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail,
			IsDelete,
			DeleteOn,
			DeleteBy,
			DeleteEmail
		)
		SELECT DISTINCT      
			m.Id,
			m.EntityId,
			mp.LongDesc Entity,
			m.SubActivityId,
			va.SubActivityDesc SubActivity,
			m.ProductId,
			pd.LongDesc Product,
			pd.BrandId,
			tb.LongDesc Brand,
			m.Requirement,
			m.Discount,
			m.Mechanism,
			m.ChannelId Channel,
			m.StartDate,
			m.EndDate,
			m.CreateOn,
			m.CreateBy,
			m.CreatedEmail,
			m.ModifiedOn,
			m.ModifiedBy,
			m.ModifiedEmail,
			m.IsDelete,
			m.DeleteOn,
			m.DeleteBy,
			m.DeleteEmail
		FROM            
			tbmst_mechanism m
			inner join tbmst_principal mp on m.Entity = mp.LongDesc 
			inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
			inner join tbmst_product pd on m.ProductId = pd.id
			inner join tbmst_brand tb on pd.BrandId = tb.id
		WHERE isnull(m.IsDelete, 0)=0
		AND  m.StartDate <=  @startdate
		AND m.EndDate >=  @enddate
			AND m.Entity = @entity
			AND m.Activity = @activity
			AND m.SubActivity = @subactivity
			AND m.SubCategory = @subcategory
			AND (m.ChannelId = @channelid OR m.ChannelId = 0)
	END
	ELSE 
	BEGIN
		IF EXISTS (
		SELECT id FROM tbmst_mechanism m
		WHERE isnull(m.IsDelete, 0)=0
		AND  m.StartDate <=  @startdate
		AND m.EndDate >=  @enddate
			AND m.Entity = @entity
			AND m.Activity = @activity
			AND m.SubActivity = @subactivity
			AND m.SubCategory = @subcategory
			AND m.ChannelId = 0
		)
		BEGIN
			INSERT INTO @PromoMechanismValidate (
				Id,
				EntityId,
				Entity,
				SubActivityId,
				SubActivity,
				ProductId,
				Product,
				BrandId,
				Brand,
				Requirement,
				Discount,
				Mechanism,
				Channel,
				StartDate,
				EndDate,
				CreateOn,
				CreateBy,
				CreatedEmail,
				ModifiedOn,
				ModifiedBy,
				ModifiedEmail,
				IsDelete,
				DeleteOn,
				DeleteBy,
				DeleteEmail
			)			
			SELECT DISTINCT
				m.Id,
				m.EntityId,
				mp.LongDesc Entity,
				m.SubActivityId,
				va.SubActivityDesc SubActivity,
				m.ProductId,
				pd.LongDesc Product,
				pd.BrandId,
				tb.LongDesc Brand,
				m.Requirement,
				m.Discount,
				m.Mechanism,
				m.ChannelId Channel,
				m.StartDate,
				m.EndDate,
				m.CreateOn,
				m.CreateBy,
				m.CreatedEmail,
				m.ModifiedOn,
				m.ModifiedBy,
				m.ModifiedEmail,
				m.IsDelete,
				m.DeleteOn,
				m.DeleteBy,
				m.DeleteEmail
			FROM            
				tbmst_mechanism m
				inner join tbmst_principal mp on m.Entity = mp.LongDesc 
				inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
				inner join tbmst_product pd on m.ProductId = pd.id
				inner join tbmst_brand tb on pd.BrandId = tb.id
			WHERE isnull(m.IsDelete, 0)=0
				AND  m.StartDate <=  @startdate
				AND m.EndDate >=  @enddate
				AND m.Entity = @entity
				AND m.Activity = @activity
				AND m.SubActivity = @subactivity
				AND m.SubCategory = @subcategory
				AND m.ChannelId = 0
		END
		ELSE 
		BEGIN 
			IF EXISTS (
			SELECT id FROM tbmst_mechanism m
			WHERE isnull(m.IsDelete, 0)=0
				AND  m.StartDate <=  @startdate
				AND m.EndDate >=  @enddate
				AND m.Entity = @entity
				AND m.Activity = @activity
				AND m.SubActivity = @subactivity
				AND m.SubCategory = 'ALL'
				AND (m.ChannelId = @channelid OR m.ChannelId = 0)
			)
			BEGIN
				INSERT INTO @PromoMechanismValidate (
					Id,
					EntityId,
					Entity,
					SubActivityId,
					SubActivity,
					ProductId,
					Product,
					BrandId,
					Brand,
					Requirement,
					Discount,
					Mechanism,
					Channel,
					StartDate,
					EndDate,
					CreateOn,
					CreateBy,
					CreatedEmail,
					ModifiedOn,
					ModifiedBy,
					ModifiedEmail,
					IsDelete,
					DeleteOn,
					DeleteBy,
					DeleteEmail
				)							
				SELECT  DISTINCT
					m.Id,
					m.EntityId,
					mp.LongDesc Entity,
					m.SubActivityId,
					va.SubActivityDesc SubActivity,
					m.ProductId,
					pd.LongDesc Product,
					pd.BrandId,
					tb.LongDesc Brand,
					m.Requirement,
					m.Discount,
					m.Mechanism,
					m.ChannelId Channel,
					m.StartDate,
					m.EndDate,
					m.CreateOn,
					m.CreateBy,
					m.CreatedEmail,
					m.ModifiedOn,
					m.ModifiedBy,
					m.ModifiedEmail,
					m.IsDelete,
					m.DeleteOn,
					m.DeleteBy,
					m.DeleteEmail
				FROM            
					tbmst_mechanism m
					inner join tbmst_principal mp on m.Entity = mp.LongDesc 
					inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
					inner join tbmst_product pd on m.ProductId = pd.id
					inner join tbmst_brand tb on pd.BrandId = tb.id
				WHERE isnull(m.IsDelete, 0)=0
					AND  m.StartDate <=  @startdate
					AND m.EndDate >=  @enddate
					AND m.Entity = @entity
					AND m.Activity = @activity
					AND m.SubActivity = @subactivity
					AND m.SubCategory = 'ALL'
					AND (m.ChannelId = @channelid OR m.ChannelId = 0)
			END
			ELSE 
			BEGIN 
				IF EXISTS (
				SELECT id FROM tbmst_mechanism m
				WHERE isnull(m.IsDelete, 0)=0
					AND  m.StartDate <=  @startdate
					AND m.EndDate >=  @enddate
					AND m.Entity = @entity
					AND m.Activity = @activity
					AND m.SubActivity = @subactivity
					AND m.SubCategory = 'ALL'
					AND m.ChannelId = 0
				)
				BEGIN
					INSERT INTO @PromoMechanismValidate (
						Id,
						EntityId,
						Entity,
						SubActivityId,
						SubActivity,
						ProductId,
						Product,
						BrandId,
						Brand,
						Requirement,
						Discount,
						Mechanism,
						Channel,
						StartDate,
						EndDate,
						CreateOn,
						CreateBy,
						CreatedEmail,
						ModifiedOn,
						ModifiedBy,
						ModifiedEmail,
						IsDelete,
						DeleteOn,
						DeleteBy,
						DeleteEmail
					)							
					SELECT DISTINCT
						m.Id,
						m.EntityId,
						mp.LongDesc Entity,
						m.SubActivityId,
						va.SubActivityDesc SubActivity,
						m.ProductId,
						pd.LongDesc Product,
						pd.BrandId,
						tb.LongDesc Brand,
						m.Requirement,
						m.Discount,
						m.Mechanism,
						m.ChannelId Channel,
						m.StartDate,
						m.EndDate,
						m.CreateOn,
						m.CreateBy,
						m.CreatedEmail,
						m.ModifiedOn,
						m.ModifiedBy,
						m.ModifiedEmail,
						m.IsDelete,
						m.DeleteOn,
						m.DeleteBy,
						m.DeleteEmail
					FROM            
						tbmst_mechanism m
						inner join tbmst_principal mp on m.Entity = mp.LongDesc 
						inner join vw_activity va on m.activity=va.ActivityDesc and m.SubActivity = va.SubActivityDesc 	
						inner join tbmst_product pd on m.ProductId = pd.id
						inner join tbmst_brand tb on pd.BrandId = tb.id
					WHERE isnull(m.IsDelete, 0)=0
						AND  m.StartDate <=  @startdate
						AND m.EndDate >=  @enddate
						AND m.Entity = @entity
						AND m.Activity = @activity
						AND m.SubActivity = @subactivity
						AND m.SubCategory = 'ALL'
						AND m.ChannelId = 0
				END
			END			
		END
	END
	
	IF EXISTS ( -- to select
		SELECT a.mechanism FROM @PromoMechanism a
		INNER JOIN @PromoMechanismValidate b ON a.mechanism = b.mechanism
	)
	BEGIN 
		IF EXISTS (
			SELECT a.mechanism FROM @PromoMechanism a
			LEFT JOIN @PromoMechanismValidate b ON a.mechanism = b.mechanism
			WHERE b.mechanism IS NULL
		)
		BEGIN 
			SET @totMechanismExisting = (SELECT COUNT(a.mechanism) FROM @PromoMechanism a LEFT JOIN @PromoMechanismValidate b ON a.mechanism = b.mechanism WHERE b.mechanism IS NULL);
			SET @totMechanismMaster = (SELECT COUNT (mechanism) FROM @PromoMechanism)
			
			IF @totMechanismExisting = @totMechanismMaster -- tidak ada dalam coverage
			BEGIN
				SELECT 0 validateStatus, 'Pilih ulang mechanism' message
				SELeCT a.mechanismId, a.mechanism, iif(b.mechanism IS NULL, 0, 1) coverageStatus
				FROM @PromoMechanism a
				LEFT JOIN @PromoMechanismValidate b ON a.mechanism = b.mechanism				
			END
			ELSE -- Ada sebagian dalam coverage
			BEGIN
				SELECT 1 validateStatus, 'Hapus mechanim yang tidak ada dalam coverage' message
				SELECT a.mechanismId, a.mechanism, iif(b.mechanism IS NULL, 0, 1) coverageStatus
				FROM @PromoMechanism a
				LEFT JOIN @PromoMechanismValidate b ON a.mechanism = b.mechanism
			END
		END
		ELSE
		BEGIN -- Ada dalam coverage
			SELECT 1 validateStatus, '' message
			SELECT a.mechanismId, a.mechanism, iif(b.id IS NULL, 0, 1) coverageStatus
			FROM @PromoMechanism a
			INNER JOIN @PromoMechanismValidate b ON a.mechanism = b.mechanism			
		END
	END
	ELSE
	BEGIN -- to freetext
		SELECT 0 validateStatus, 'Ada perubahan metode input mechanism, user harus input ulang BRAND, SKU dan mechanism' message
		SELECT 0 mechanismId, '' mechanism, 0 coverageStatus
	END
--	select * INTO tempCekMechanism FROM @mechanism
--	select * INTO tempCekMechanismValidate from @PromoMechanismValidate
END
GO
