USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_get_for_close]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_get_for_close] --'2020',0,0,0,0,'xvamain','1900-01-01','9999-01-01','1900-01-01','9999-01-31'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date



--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='scsh1'
--SET @create_from='2019-12-01'
--SET @create_to='2020-10-31'
--SET @start_from='2019-08-01'
--SET @start_to='2019-12-01'


AS

/*
	LGP 2020-02014 Perbaikan filter start_from dan start_to
	EJ 2020-03-03 Add BrandDesc and SKU
	EJ 2020-03-18 remark AND a.LastStatus IN ('validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	EDJ 2020-03-19 : add AND isnull(a.IsCancel, 0) = 0
	EDJ 2020-03-23 : SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid to SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid
	EDJ 2020-04-13 : add column subchanneldesc, NormalSales, IncrSales, Roi, CostRatio
*/

BEGIN


declare @endofmonth date,@closingdtx date;

--set @closingdtx=(select convert(date,@closingdt,120))
set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

IF @budgetparent <> 0
BEGIN
				declare @p_alcid int;

				DECLARE 
					@product_name int
    
 
				DECLARE cursor_product CURSOR
				FOR SELECT 
						Id
        
					FROM 
						tbtrx_allocation where BudgetType='BAL' and BudgetMasterId=@budgetparent;
 
				OPEN cursor_product;
 

				FETCH NEXT FROM cursor_product INTO 
					@product_name
    
 
				WHILE @@FETCH_STATUS = 0
					BEGIN
        
		
					SET @p_alcid=@product_name;
		
						/***/

							with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
							as
							(
							select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							union all
							select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
							inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD

							)
				
		
				INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				option (maxrecursion 0);		 
						FETCH NEXT FROM cursor_product INTO 
							@product_name 
            
					END;
 
				CLOSE cursor_product;
 
				DEALLOCATE cursor_product;

	

				SELECT 
				p.Id PromoId
				,p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc	
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,region.RegionDesc
				,channel.ChannelDesc
				,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
				,account.AccountDesc
				,subaccount.SubAccountDesc
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus 
				,pr.ApprovalNotes	  
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
-- Start EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------				
				,pr.NormalSales
				,pr.IncrSales
				,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---LUK 2020-04-21
				,pr.CostRatio
-- End EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------				
				,TotalClaim DnClaim
				,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo	
				
				,pr.TsCoding
				,brand.BrandDesc
				,sku.SKUDesc
				,isnull(tpp.id, 0) as PromoPlanId 
				,isnull(tpp.RefId, '') as PromoPlanRefId
				FROM tbtrx_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id 
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id	
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_channel a with (nolock)
										join tbmst_channel chn with (nolock)
										ON a.ChannelId=chn.Id
										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) channel
						on pr.Id = channel.PromoId
-- Start EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + subchn.LongDesc 
										from tbtrx_promo_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id
										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_subchannel b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
-- End EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------						
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + reg.LongDesc 
										from tbtrx_promo_region a with (nolock)
										join tbmst_region reg with (nolock)
										ON a.RegionId=reg.Id
										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
								FROM tbtrx_promo_region b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) region
						on pr.Id = region.PromoId
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id
										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_account b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) account
						on pr.Id = account.PromoId
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id
										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + brd.LongDesc 
										from tbtrx_promo_brand a with (nolock)
										join tbmst_brand brd with (nolock)
										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
								FROM tbtrx_promo_brand b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) brand
						on pr.Id = brand.PromoId
				left join
						(
							select PromoId,
							STUFF(
									(select  ',' + sku.LongDesc 
										from tbtrx_promo_product a with (nolock)
										join tbmst_product sku with (nolock)
										ON a.productid=sku.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
								FROM tbtrx_promo_product b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) sku
						on pr.Id = sku.PromoId
				left join 
				(
--					SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
					SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
					inner join tbtrx_allocation c on pr.AllocationId=c.Id 
					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id		
					WHERE c.Periode=@periode
--					AND a.LastStatus IN ('validate_by_danone','ready_to_invoice','invoice','confirm_paid')
					AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)	
					AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
					AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))	
-- --------------------------------------------------------------------
					AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))					
-- --------------------------------------------------------------------
					AND isnull(a.IsCancel, 0) = 0
					GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
				LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
				WHERE pr.StatusApprovalCode='TP2' 
				AND isnull(pr.IsClose,0)=0
				AND c.Periode=@periode
				AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND EXISTS(SELECT BudgetId FROM @temp WHERE pr.AllocationId=BudgetId)
				AND NOT EXISTS (
					SELECT PromoId 
					FROM tbtrx_debetnote dn with (nolock) 
					WHERE dn.PromoId=pr.Id 
					and isnull(dn.IsCancel,0)=0 
					and dn.LastStatus <> 'confirm_paid'
					)
				AND NOT EXISTS(
					SELECT Id FROM
					[dbo].[tbtrx_promo_request_approval_recon] a
					INNER JOIN [dbo].[tbtrx_promo_approval_recon] b on a.Id=b.RequestId
					WHERE isnull(a.IsCancel,0)=0 AND b.[Status] <> 'TP2' AND pr.Id=a.ParentId
				)

				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
				AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
END
ELSE
BEGIN

				SELECT 
				pr.Id PromoId
				,p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc	
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,region.RegionDesc
				,channel.ChannelDesc				
				,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
				,account.AccountDesc
				,subaccount.SubAccountDesc
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus 
				,pr.ApprovalNotes	  
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
-- Start EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------				
				,pr.NormalSales
				,pr.IncrSales
				,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---LUK 2020-04-21
				,pr.CostRatio
-- End EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------				
				,TotalClaim DnClaim
				,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo
				,pr.TsCoding
				,brand.BrandDesc
				,sku.SKUDesc
				,isnull(tpp.id, 0) as PromoPlanId 
				,isnull(tpp.RefId, '') as PromoPlanRefId
				FROM tbtrx_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id 
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id	
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_channel a with (nolock)
										join tbmst_channel chn with (nolock)
										ON a.ChannelId=chn.Id and a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) channel
						on pr.Id = channel.PromoId
-- Start EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + subchn.LongDesc 
										from tbtrx_promo_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_subchannel b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
-- End EDJ 2020-04-13 ------------------------------------------------------------------------------------------------------------------------
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + reg.LongDesc 
										from tbtrx_promo_region a with (nolock)
										join tbmst_region reg with (nolock)
										ON a.RegionId=reg.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
								FROM tbtrx_promo_region b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) region
						on pr.Id = region.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_account b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) account
						on pr.Id = account.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId GROUP BY PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + brd.LongDesc 
										from tbtrx_promo_brand a with (nolock)
										join tbmst_brand brd with (nolock)
										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
								FROM tbtrx_promo_brand b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) brand
						on pr.Id = brand.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + sku.LongDesc 
										from tbtrx_promo_product a with (nolock)
										join tbmst_product sku with (nolock)
										ON a.productid=sku.Id AND a.PromoId=b.PromoId
-- 2020-04-14										where a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
								FROM tbtrx_promo_product b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) sku
						on pr.Id = sku.PromoId

				left join 
				(
--					SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
					SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
					inner join tbtrx_allocation c on pr.AllocationId=c.Id 
					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
					inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 2020-04-14					WHERE c.Periode=@periode
--					AND a.LastStatus IN ('validate_by_danone','ready_to_invoice','invoice','confirm_paid')
-- 2020-04-14					AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)	
					AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
					AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
					AND isnull(a.IsCancel, 0) = 0
					GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
--				LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
				WHERE pr.StatusApprovalCode='TP2' 
				AND isnull(pr.IsClose,0)=0
				AND c.Periode=@periode
				AND NOT EXISTS (
					SELECT PromoId 
					FROM tbtrx_debetnote dn with (nolock) 
					WHERE dn.PromoId=pr.Id 
					and isnull(dn.IsCancel,0)=0 
					and dn.LastStatus <> 'confirm_paid')
				AND NOT EXISTS(
					SELECT Id FROM
					[dbo].[tbtrx_promo_request_approval_recon] a
					INNER JOIN [dbo].[tbtrx_promo_approval_recon] b on a.Id=b.RequestId
					WHERE isnull(a.IsCancel,0)=0 AND b.[Status] <> 'TP2' AND pr.Id=a.ParentId
				)
--				AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
				AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
-- --------------------------------------------------------------------
				AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))					
-- --------------------------------------------------------------------
	
END	


END




GO
