

/****** Object:  StoredProcedure [dbo].[ip_insert_channel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_insert_channel]
@ChannelType tbtype_channel READONLY
AS
BEGIN
/*
    INSERT INTO tbmst_channel(RefId,LongDesc)
    SELECT ChannelId,Channel FROM @ChannelType group by ChannelId,Channel

	INSERT INTO tbmst_subchannel(RefId,ChannelId,LongDesc)
	SELECT distinct SubChannelId,c.Id,SubChannel FROM @ChannelType t
	INNER JOIN tbmst_channel c on t.ChannelId=c.refId

	INSERT INTO tbmst_account(RefId,SubChannelId,LongDesc)
	SELECT distinct AccountId,c.Id,Account FROM @ChannelType t
	INNER JOIN tbmst_subchannel c on t.SubChannelId=c.refid
	
	INSERT INTO tbmst_subaccount(RefId,AccountId,LongDesc)
	SELECT distinct SubAccountId,c.Id,SubAccount FROM @ChannelType t
	INNER JOIN tbmst_account c on t.AccountId=c.refId
*/
    INSERT INTO tbmst_channel(LongDesc)
    SELECT Channel FROM @ChannelType group by ChannelId,Channel

	INSERT INTO tbmst_subchannel(ChannelId,LongDesc)
	SELECT distinct c.Id,SubChannel FROM @ChannelType t
	INNER JOIN tbmst_channel c on t.ChannelId=c.refId

	INSERT INTO tbmst_account(SubChannelId,LongDesc)
	SELECT distinct c.Id,Account FROM @ChannelType t
	INNER JOIN tbmst_subchannel c on t.SubChannelId=c.refid
	
	INSERT INTO tbmst_subaccount(AccountId,LongDesc)
	SELECT distinct c.Id,SubAccount FROM @ChannelType t
	INNER JOIN tbmst_account c on t.AccountId=c.refId

END
GO
