USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_user_profitcenter_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_user_profitcenter_list]
as
BEGIN
	SELECT        
		t.Id, 
		t.UserId, 
		t.ProfitCenter, 
		pc.ProfitCenterDesc, 
		t.CreateOn, 
		t.CreateBy, 
		uc.username AS CreateByName, 
		t.ModifiedOn, 
		t.ModifiedBy, 
		um.username AS ModifiedByName, 
		t.IsDelete, 
		t.DeleteOn, 
		t.DeleteBy, 
		ud.username AS DeleteByName
	
		, t.CreatedEmail
		, t.DeleteEmail
	FROM            
		tbset_map_user_profitcenter t 
		INNER JOIN tbmst_profit_center pc  on t.ProfitCenter  = pc.ProfitCenter
		LEFT JOIN tbset_user           uc  ON t.CreateBy      = uc.id
		LEFT JOIN tbset_user           um  ON t.ModifiedBy    = um.id
		LEFT JOIN tbset_user           ud  ON t.DeleteBy      = ud.id

		--select * from tbset_map_user_profitcenter
END


GO
