

/****** Object:  StoredProcedure [dbo].[ip_dn_confirmpaid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_confirmpaid]
@userid varchar(50),
@status varchar(50),
@payment_date datetime,
@id ArrayIntType READONLY
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin

	declare @distributorid int
	set @distributorid=(SELECT TOP 1 DistributorId from tbset_user_distributor where UserId=@userid)
	
	declare @createdemail varchar(50)
	SELECT @createdemail=email from tbset_user where id=@userid
	
	UPDATE a
	set LastStatus=@status
	,TotalPaid = TotalClaim
	,paymentdate=@payment_date
	,modifiedby=@userid
	,modifiedon=@utcDate123
	FROM tbtrx_debetnote a
	INNER JOIN @id b on a.Id=b.keyid
	WHERE isnull(a.IsCancel,0)=0
	
	INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
	SELECT keyid,@status,@userid,@utcDate123,dn.dpp, dn.laststatus, @createdemail
	from @id a
	INNER JOIN dbo.tbtrx_debetnote dn ON a.keyid=dn.id
		
	UPDATE a
	SET confirm_paid_on=@utcDate123
	,confirm_paid_by=@userid
	FROM tbtrx_debetnote_his a
	INNER JOIN @id b on a.DNId=b.keyid 
	--WHERE isnull(is_cancel,0)=0

/*RECALC OVER BUDGET**************************************/
	DECLARE @promoid int
	DECLARE db_cursor CURSOR FOR 
	SELECT distinct promoid 
	FROM @id a inner join tbtrx_debetnote b on a.keyid=b.Id
	WHERE isnull(b.PromoId,0)<>0 
	
	OPEN db_cursor  
	FETCH NEXT FROM db_cursor INTO @promoid  
	
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		exec ip_dn_overbudget_by_prommoid @promoid
	
	      FETCH NEXT FROM db_cursor INTO @promoid 
	END 
	
	CLOSE db_cursor  
	DEALLOCATE db_cursor
/**************************************RECALC OVER BUDGET*/
	
end
GO
