USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_subaccount_sap_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_map_subaccount_sap_ins]
	@IsNew           int,
	@id              int ,
	@subaccountid    int ,
	@SAPCode         varchar(20),
	@UserId          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime


AS
BEGIN
    DECLARE @messageout varchar(255)
    ,@errCode int
    ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.SubAccountId
				,a.sapcode
                FROM tbset_map_subaccount_sap a
                WHERE
					SubAccountId = @SubAccountId
					AND sapcode = @SAPCode
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Subaccount SAP already exist';
                    SET @messageout='Mapping Subaccount SAP already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';		    
                INSERT INTO tbset_map_subaccount_sap 
                (
                  subaccountid
                  ,SAPCode
                  ,CreateOn
                  ,CreateBy
                  ,CreatedEmail
                )
                Values
                (
                  @subaccountid
                  ,@SAPCode
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_subaccount_sap 
			SET
			    subaccountid    = @subaccountid
				,SAPCode         = @SAPCode
				,ModifiedOn      = @CreatedOn
				,ModifiedBy      = @UserID
				,ModifiedEmail   = @UserLogin
			WHERE
				Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
