USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_update_recon_status_job]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_update_recon_status_job]
AS
BEGIN

SET NOCOUNT ON
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE 
		@ParentId_his INT
		,@updatedpromoid ArrayIntType
		,@profileid VARCHAR(50) = 'Optima'
		,@email VARCHAR(100) = 'noreply-optima@danone.id'

	INSERT INTO @updatedpromoid (keyid)
		SELECT Id FROM tbtrx_promo WHERE ISNULL(Reconciled,0)=0 AND EndPromo < @utcDate123

	IF @@ROWCOUNT>0
		BEGIN

			UPDATE pr
				SET
					pr.Reconciled = 1
					, pr.ReconciledOn = @utcDate123
					, pr.ReconciledBy = @profileid
					, pr.ReconciledEmail = @email
				FROM tbtrx_promo pr 
					INNER JOIN @updatedpromoid prid ON prid.keyid = pr.id
	
			INSERT INTO tbhis_promo_parent(
							StatusAction
							,ActionOn
							,ActionBy
							,CreatedEmail
						) VALUES (
							'update'
							,@utcDate123
							,@profileid
							,@email
						)
			SET @ParentId_his=(SELECT SCOPE_IDENTITY())

			INSERT INTO [tbhis_promo] (
							ParentId,
							Id,
							PromoPlanId,
							AllocationId,
							AllocationRefId,
							CategoryShortDesc,
							PrincipalShortDesc,
							BudgetMasterId,
							CategoryId,
							SubCategoryId,
							ActivityId,
							SubActivityId,
							ActivityDesc,
							StartPromo,
							EndPromo,
							Mechanisme1,
							Mechanisme2,
							Mechanisme3,
							Mechanisme4,
							Investment,
							NormalSales,
							IncrSales,
							Roi,
							CostRatio,
							StatusApprovalCode,
							StatusApproval,
							StatusApprovalCodeRecon,
							StatusApprovalRecon,
							Notes,
							IsActive,
							IsLocked,
							CreateOn,
							CreateBy,
							ModifiedOn,
							ModifiedBy,
							IsDelete,
							DeleteOn,
							DeleteBy,
							ApproveOn,
							ApproveOnRecon,
							Approver,
							ApproverRecon,
							ApprovalNotes,
							ApprovalNotesRecon,
							OldInvest,
							IsCancel,
							CancelOn,
							CancelBy,
							CancelNotes,
							IsCancelLocked,
							LastStatusRecon,
							LastStatus,
							TsCoding,
							PromoNumber,
							RefId,
							IsClose,
							CloseOn,
							CloseBy,
							Reconciled,
							ReconciledOn,
							ReconciledBy,
							initiator_notes,
							CreatedEmail,
							matrixapprovalid,
							modifReason
						)
						SELECT @ParentId_his,
							t.Id,
							t.PromoPlanId,
							t.AllocationId,
							t.AllocationRefId,
							t.CategoryShortDesc,
							t.PrincipalShortDesc,
							t.BudgetMasterId,
							t.CategoryId,
							t.SubCategoryId,
							t.ActivityId,
							t.SubActivityId,
							t.ActivityDesc,
							t.StartPromo,
							t.EndPromo,
							t.Mechanisme1,
							t.Mechanisme2,
							t.Mechanisme3,
							t.Mechanisme4,
							t.Investment,
							t.NormalSales,
							t.IncrSales,
							t.Roi,
							t.CostRatio,
							t.StatusApprovalCode,
							t.StatusApproval,
							t.StatusApprovalCodeRecon,
							t.StatusApprovalRecon,
							t.Notes,
							t.IsActive,
							t.IsLocked,
							t.CreateOn,
							t.CreateBy,
							t.ModifiedOn,
							t.ModifiedBy,
							t.IsDelete,
							t.DeleteOn,
							t.DeleteBy,
							t.ApproveOn,
							t.ApproveOnRecon,
							t.Approver,
							t.ApproverRecon,
							t.ApprovalNotes,
							t.ApprovalNotesRecon,
							t.OldInvest,
							t.IsCancel,
							t.CancelOn,
							t.CancelBy,
							t.CancelNotes,
							t.IsCancelLocked,
							t.LastStatusRecon,
							t.LastStatus,
							t.TsCoding,
							t.PromoNumber,
							t.RefId,
							t.IsClose,
							t.CloseOn,
							t.CloseBy,
							t.Reconciled,
							t.ReconciledOn,
							t.ReconciledBy,
							t.initiator_notes,
							@email,
							matrixapprovalid,
							modifReason
						FROM tbtrx_promo t
						INNER JOIN @updatedpromoid u ON t.id=u.keyid

			INSERT INTO tbhis_promo_calculator (
								[ParentId] ,
								[PromoId] ,
								[GroupBrandID] ,
								[DistributorId] ,
								[EntityId] ,
								[Baseline] ,
								[Uplift] ,
								[TotalSales] ,
								[SalesContribution] ,
								[StoresCoverage] ,
								[RedemptionRate] ,
								[CR] ,
								[Cost] 
								)
								SELECT 
									@ParentId_his ,
									[PromoId] ,
									[GroupBrandID] ,
									[DistributorId] ,
									[EntityId] ,
									[Baseline] ,
									[Uplift] ,
									[TotalSales] ,
									[SalesContribution] ,
									[StoresCoverage] ,
									[RedemptionRate] ,
									[CR] ,
									[Cost] 
									FROM tbtrx_promo_calculator t
									INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
					SELECT @ParentId_his, t.promoid, t.RegionId from tbtrx_promo_region t 
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId) 
					SELECT @ParentId_his, t.PromoId, t.ChannelId from tbtrx_promo_channel t 
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId) 
					SELECT @ParentId_his, t.promoid, t.ChannelId, t.SubChannelId from tbtrx_promo_subchannel t 
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId) 
					SELECT @ParentId_his, t.promoid,t.SubChannelId,t.AccountId from tbtrx_promo_account t 
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId) 
					SELECT @ParentId_his, t.promoid,t.AccountId,t.SubAccountId from tbtrx_promo_subaccount t 
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId) 
					SELECT DISTINCT @ParentId_his, t.promoid, t.BrandId,t.ProductId from tbtrx_promo_product t 
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid

			INSERT INTO tbhis_promo_doclink(ParentId,PromoId,DocLink,[FileName],CreateOn,Createby)
					SELECT @ParentId_his, t.promoid,DocLink,[Filename], CreateOn,CreateBy FROM tbtrx_promo_doclink t

			INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR,Cost)
					SELECT @ParentId_his,  t.promoid, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR,Cost FROM tbtrx_promo_mechanism t
						INNER JOIN @updatedpromoid u ON t.PromoId=u.keyid
		END

END


GO
