

/****** Object:  StoredProcedure [dbo].[ip_get_account_byuser]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_get_account_byuser] --'pitempo'
@userid varchar(50)

as

--declare @userid varchar(50)
--set @userid='pitempo'
begin

SELECT d.Id,d.LongDesc,d.ShortDesc,d.EntityUp,d.EntityAddress FROM 
tbmst_distributor a
inner join tbset_user_distributor b on b.DistributorId=a.id
inner join tbset_principal_distributor c on b.DistributorId=c.DistributorId
inner join tbmst_principal d on c.PrincipalId=d.Id
where b.Userid=@userid
  
SELECT a.Id,LongDesc,a.ShortDesc  FROM 
tbmst_distributor a
inner join tbset_user_distributor b on b.DistributorId=a.id
where b.Userid=@userid

select c.Id,c.LongDesc  from tbset_map_distributor_account a
inner join tbset_user_distributor b on a.DistributorId=b.DistributorId and b.UserId=@userid
inner join tbmst_channel c on a.ChannelId=c.Id group by b.UserId,c.Id,c.LongDesc

select c.Id,c.LongDesc  from tbset_map_distributor_account a
inner join tbset_user_distributor b on a.DistributorId=b.DistributorId and b.UserId=@userid
inner join tbmst_subchannel c on a.SubChannelId=c.Id group by b.UserId,c.Id,c.LongDesc

select c.Id,c.LongDesc  from tbset_map_distributor_account a
inner join tbset_user_distributor b on a.DistributorId=b.DistributorId and b.UserId=@userid
inner join tbmst_account c on a.AccountId=c.Id group by b.UserId,c.Id,c.LongDesc

select c.Id,c.LongDesc  from tbset_map_distributor_account a
inner join tbset_user_distributor b on a.DistributorId=b.DistributorId and b.UserId=@userid
inner join tbmst_subaccount c on a.SubAccountId=c.Id group by b.UserId,c.Id,c.LongDesc

end



GO
