

/****** Object:  StoredProcedure [dbo].[ip_promo_budget_request_deploy]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_budget_request_deploy]
		@batchid varchar(100)
		, @profileid varchar(100)
		, @useremail varchar(100)
		, @promoid arrayinttype readonly

AS

	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

/*TEST*/
	--DECLARE
	--	@batchid varchar(100)
	--	, @profileid varchar(100)
	--	, @useremail varchar(100)
	--	, @promoid arrayinttype 

	--	SET @batchid ='TES-'+replace(replace(replace(convert(nvarchar(MAX), @utcDate123, 21),'-',''),' ',''),':','')
	--	SET @profileid ='xvamain'
	--	SET @useremail ='lukman@danone.com'
	--	INSERT INTO @promoid (keyid) select id from tbtrx_promo where YEAR(StartPromo)=2023

	----	select a.* from tbtrx_promo_budget_status a
	----	inner join tbtrx_promo b on a.PromoId=b.Id 
	----	order by PromoId

BEGIN
	UPDATE prbs
		SET 
			prbs.batchiddeploy = @batchid
		FROM @promoid pid
		INNER JOIN tbtrx_promo_budget_status prbs ON pid.keyid = prbs.PromoId

END
GO
