

/****** Object:  StoredProcedure [dbo].[ip_listprofile_forpakjo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_listprofile_forpakjo] as
select  a.id [Profile ID], a.username UserName, a.email Email
	, iif(isnull(b.department,'')='',a.department, b.department) Department
	, iif(isnull(b.jobtitle,'')='',a.jobtitle, b.jobtitle) [Job Title]
	, c.usergroupname [User Group]
	, iif(isnull(a.isdeleted,'')='','Active', 'Non Active') [Status Profile]
	, iif(isnull(b.isdeleted,'')='','Active', 'Non Active') [Status Email/User]
from tbset_user a
left join tbset_user_login b on a.email=b.email
left join tbset_usergroup c on a.usergroupid=c.usergroupid

GO
