

/****** Object:  StoredProcedure [dbo].[ip_dn_attachment_store]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_attachment_store]
@id int,
@doclink varchar(255),
@filename varchar(255),
@createby varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION

DECLARE @messageout varchar(255)

IF NOT EXISTS(SELECT Id from tbtrx_debetnote where Id=@id)
BEGIN	
	SET @messageout='Debet Note not found '
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
END

DELETE FROM tbtrx_dn_doclink WHERE DNId = @id AND DocLink = @doclink
insert into tbtrx_dn_doclink(DNId,DocLink,[FileName],CreateOn,Createby)values(@id,@doclink,@filename,@utcDate123,@createby)

SELECT Id,RefId from tbtrx_debetnote where Id=@id

COMMIT
END TRY

BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  



END CATCH

GO
