

/****** Object:  StoredProcedure [dbo].[ip_conf_roi_cr_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_conf_roi_cr_del]
	@Id              int,
	@UserId          varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	INSERT INTO tbhis_roi_cr
	( 
       [ParentId]
		,SubActivityID
		,SubActivity
		,MinimumROI
		,MaksimumROI
		,MinimumCostRatio
		,MaksimumCostRatio
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]
	)
	SELECT
       [Id]
		,SubActivityID
		,SubActivity
		,MinimumROI
		,MaksimumROI
		,MinimumCostRatio
		,MaksimumCostRatio
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1             [IsDelete]
      ,@utcDate123     [DeleteOn]
      ,@UserId       [DeleteBy]
	FROM
		tbset_roi_cr
	WHERE Id = @Id

	DELETE tbset_roi_cr
	WHERE
		Id  = @Id
END


GO
