USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_cr_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_cr_get] 
	@period INT
	,@subactivityid INT
	,@subaccountid INT --plan/promo=1, recon=2
	,@distributorid INT
	,@groupbrandid INT
AS
BEGIN
	
	--DECLARE 
	--	@period INT
	--	,@subactivityid INT
	--	,@subaccountid INT --plan/promo=1, recon=2
	--	,@distributorid INT
	--	,@groupbrandid INT

	--	SET @period=2025
	--	SET @subactivityid=1251
	--	SET @subaccountid=101
	--	SET @distributorid=7
	--	SET @groupbrandid = 4

	--	EXEC ip_promo_cr_get @period ,@subactivityid ,@subaccountid ,@distributorid ,@groupbrandid 

	DECLARE @subCategoryShortDesc varchar(100)
		, @activitydesc varchar(100)
		, @activityid int
	select @activitydesc = activitydesc, @activityid=ActivityId from vw_activity where SubActivityId=@subactivityid
	SELECT @subCategoryShortDesc = b.ShortDesc FROM vw_activity a
	INNER JOIN tbmst_category b ON a.CategoryId=b.Id
	WHERE SubActivityId=@subactivityid

	DECLARE @result AS TABLE(
		Id INT NULL
		, budgetNmae varchar(255)
		, tt float
	)

	IF @subCategoryShortDesc='RC'
		BEGIN
			INSERT INTO @result
			SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
			WHERE 
				period = @period
				AND subactivityid = @subactivityid
				AND subaccountid = @subaccountid
				AND distributorId = @distributorid
				AND groupbrandid = @groupbrandid

			IF @@ROWCOUNT = 0
			BEGIN
				INSERT INTO @result
				SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
				WHERE 
					period = @period
					AND activityid = @activityid
					AND subactivityid = 0
					AND subaccountid = @subaccountid
					AND distributorId = @distributorid
					AND groupbrandid = @groupbrandid
			END
			SELECT * FROM @result
		END
	ELSE
		BEGIN
			SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
			WHERE 
				period = @period
				AND subactivityid = @subactivityid
				AND channelid = @subaccountid
				AND distributorId = @distributorid
				AND groupbrandid = @groupbrandid
		END
	
END
GO
