USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_create_by_import]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_create_by_import]
@dn DebetNoteType READONLY,
@userid varchar(50)

as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

truncate table TempDebetnoteType
insert into TempDebetnoteType
SELECT * FROM @dn

/**********************************************TESTING PURPOSE*/
--declare
--@dn DebetNoteType, 
--@userid varchar(50)

--set @userid='xvamain'

--insert into @dn
--SELECT * FROM TempDebetnoteType
/***********************************************/

drop table if exists #dn123
SELECT ROW_NUMBER() OVER(ORDER BY activity ASC) AS RowID, * into #dn123 FROM @dn

begin try
    BEGIN TRANSACTION
        DECLARE
            @id UNIQUEIDENTIFIER;

        SET @id = NEWID();



        DECLARE
            @PrincipalId int
            ,@DistributorId int
            ,@PrincipalShortDesc varchar(10)
            ,@DistributorShortDesc varchar(10)
            ,@SubChannelId int
            ,@DNId int
            ,@RequestId int
            ,@PPNAmt numeric(19,0)
            ,@TotalClaim numeric(19,0)
            ,@AreaCode varchar(20)
            ,@messageout varchar(255)
            ,@matrixid int
            ,@picuserassign varchar(50)
			,@createdEmail varchar(100)
			,@subAccountId int
		
		SET @subAccountId = (SELECT id FROM tbmst_subaccount WHERE longdesc = 'All Sub Account')
		SET @createdEmail = (select email from tbset_user where id=@userid)
		
        declare @dnfailed as DebetNoteType

        declare @failedrec as TABLE (
							RowID INT,
		              		 Activity varchar(255),
		                     TotalClaim varchar(255),
                      		 PromoNumber varchar(255),
                      		 InternalDocNumber varchar(255),
                      		 Entity varchar(255),
                      		 Distributor varchar(255)        
        )

        declare @temp as TABLE
                         (
                             doc varchar(255),
                             [status] varchar(255)
                         )

/***********************************************/
        /* Activity desc empty */
/***********************************************/
        INSERT INTO @temp
        SELECT a.PromoNumber [doc],'Activity Description empty' [status] FROM #dn123 a
        WHERE trim(isnull(a.Activity,''))=''

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        WHERE trim(isnull(a.Activity,''))=''      
        
        INSERT INTO @failedrec
        SELECT
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
      	WHERE trim(isnull(a.Activity,''))=''
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)
        
/***********************************************/
      	/* Promo is Cancel */
/***********************************************/
        INSERT INTO @temp
        SELECT a.PromoNumber [doc],'Promo ID status is Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) [status] FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        WHERE isnull(pr.iscancel,0)=1 AND a.PromoNumber<>''

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        WHERE isnull(pr.iscancel,0)=1 AND a.PromoNumber<>''
        
        INSERT INTO @failedrec
        SELECT 
			a.RowID,
			a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
      	inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
      	WHERE isnull(pr.iscancel,0)=1 AND a.PromoNumber<>''
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
      	/* DN and Promo year not match */
/***********************************************/
/*<=2024*/
        INSERT INTO @temp
        SELECT a.Activity [doc],'DN and Promo ID year does not match' [status] FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        inner join tbtrx_allocation c on pr.AllocationId=c.Id
    	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
        WHERE isnull(pr.iscancel,0)=0 AND a.PromoNumber<>'' and a.Periode<>m.Periode and a.Periode <=2024

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        inner join tbtrx_allocation c on pr.AllocationId=c.Id
    	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
        WHERE isnull(pr.iscancel,0)=0 AND a.PromoNumber<>'' and a.Periode<>m.Periode and a.Periode <=2024

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        inner join tbtrx_allocation c on pr.AllocationId=c.Id
    	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id      	
        WHERE isnull(pr.iscancel,0)=0 AND a.PromoNumber<>'' and a.Periode<>m.Periode and a.Periode <=2024
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/*>=2025*/
        INSERT INTO @temp
        SELECT a.Activity [doc],'DN and Promo ID year does not match' [status] FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        WHERE isnull(pr.iscancel,0)=0 AND a.PromoNumber<>'' and a.Periode<>isnull(pr.Period, '') and a.Periode >=2025

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        WHERE isnull(pr.iscancel,0)=0 AND a.PromoNumber<>'' and a.Periode<>isnull(pr.Period, '') and a.Periode >=2025

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        inner join tbtrx_promo pr on a.PromoNumber=pr.RefId
        WHERE isnull(pr.iscancel,0)=0 AND a.PromoNumber<>'' and a.Periode<>isnull(pr.Period, '') and a.Periode >=2025
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)


/***********************************************/
      	/* Taxlevel no found */
/***********************************************/
        INSERT INTO @temp
        SELECT a.Activity [doc],'Taxlevel not found' [status] FROM #dn123 a
        left join tbset_mapping_material m on a.taxlevel=m.MaterialNumber  AND a.Entity=m.Entity
        WHERE isnull(a.taxlevel,'')<>'' and m.MaterialNumber is null

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        left join tbset_mapping_material m on a.taxlevel=m.MaterialNumber  AND a.Entity=m.Entity
        WHERE isnull(a.taxlevel,'')<>'' and m.MaterialNumber is null
                         
        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        left join tbset_mapping_material m on a.taxlevel=m.MaterialNumber  AND a.Entity=m.Entity
        WHERE isnull(a.taxlevel,'')<>'' and m.MaterialNumber is null
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
      	/* DN Promo already exist */
/***********************************************/

		INSERT INTO @temp
        SELECT a.Activity [doc],'DN Promo already exists [Same Entity, Distributor, and either Activity or Internal Doc Number with '+ dnexist.RefId +']' [status] FROM #dn123 a
        inner join (
                    SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
                  	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
					inner join tbmst_distributor dis on dis.id=dn.DistributorId
                  	left join tbtrx_promo pr on dn.PromoId=pr.Id
        where isnull(dn.iscancel, 0)=0
						AND isnull(dn.IntDocNo, '') <> ''
						AND IsDNPromo=1
					) dnexist on                       	
						dnexist.entity=a.Entity
            	AND dnexist.distributor=a.Distributor                    
                    	AND (dnexist.activity=a.Activity OR dnexist.internaldocnumber=a.InternalDocNumber)
						AND lower(a.DNType)='promo'
		--INSERT INTO @temp
  --      SELECT  a.Activity [doc],'DN Promo already exists [Same Entity, Distributor and Internal Doc Number with '+ dnexist.RefId +']' [status] FROM #dn123 a
  --      inner join (
  --                  SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
  --                	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
		--			inner join tbmst_distributor dis on dis.id=dn.DistributorId
  --                	left join tbtrx_promo pr on dn.PromoId=pr.Id
  --                  where isnull(dn.iscancel, 0)=0
		--				AND isnull(dn.IntDocNo, '') <> ''
		--				AND IsDNPromo=1
		--			) dnexist on                       	
		--				dnexist.entity=a.Entity
  --                    	AND dnexist.distributor=a.Distributor                    
  --                  	AND dnexist.internaldocnumber=a.InternalDocNumber
		--				AND lower(a.DNType)='promo'

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        INNER JOIN (
                    SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
                  	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
					inner join tbmst_distributor dis on dis.id=dn.DistributorId
                  	left join tbtrx_promo pr on dn.PromoId=pr.Id
                    where isnull(dn.iscancel, 0)=0
						AND isnull(dn.IntDocNo, '') <> ''
						AND IsDNPromo=1
					) dnexist on                       	
						dnexist.entity=a.Entity
                      	AND dnexist.distributor=a.Distributor                    
                    	AND (dnexist.activity=a.Activity OR dnexist.internaldocnumber=a.InternalDocNumber)
						AND lower(a.DNType)='promo'

		
        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        INNER JOIN (
                    SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
                  	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
					inner join tbmst_distributor dis on dis.id=dn.DistributorId
                  	left join tbtrx_promo pr on dn.PromoId=pr.Id
                    where isnull(dn.iscancel, 0)=0
						AND isnull(dn.IntDocNo, '') <> ''
						AND IsDNPromo=1
					) dnexist on                       	
						dnexist.entity=a.Entity
                      	AND dnexist.distributor=a.Distributor                    
                    	AND (dnexist.activity=a.Activity OR dnexist.internaldocnumber=a.InternalDocNumber)
						AND lower(a.DNType)='promo'
      	AND a.RowID NOT IN (SELECT RowID FROM @failedrec)

/***********************************************/
      	/* DN Non Promo already exist */
/***********************************************/
        INSERT INTO @temp
        SELECT a.Activity [doc],'DN Non Promo already exists [Same Entity, Distributor, and either Activity or Internal Doc Number with '+ dnexist.RefId +']' [status] FROM #dn123 a
        inner join (
      SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
                  	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
					inner join tbmst_distributor dis on dis.id=dn.DistributorId
                    where isnull(dn.iscancel, 0)=0
						AND isnull(dn.IntDocNo, '') <> ''
						AND IsDNPromo=0
					) dnexist on                       	
						dnexist.entity=a.Entity
                      	AND dnexist.distributor=a.Distributor                    
                    	AND (dnexist.activity=a.Activity OR dnexist.internaldocnumber=a.InternalDocNumber)
						AND LOWER(a.DNType) = 'non promo'

        INSERT into @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        INNER JOIN (
                    SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
                  	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
					inner join tbmst_distributor dis on dis.id=dn.DistributorId
                    where isnull(dn.iscancel, 0)=0
						AND isnull(dn.IntDocNo, '') <> ''
						AND IsDNPromo=0
					) dnexist on                       	
						dnexist.entity=a.Entity
                      	AND dnexist.distributor=a.Distributor                    
                    	AND (dnexist.activity=a.Activity OR dnexist.internaldocnumber = a.InternalDocNumber)
						AND LOWER(a.DNType) = 'non promo'

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        INNER JOIN (
                    SELECT dn.Periode, pcp.LongDesc entity, dis.LongDesc distributor, dn.ActivityDesc activity, dn.IntDocNo internaldocnumber, dn.RefId FROM tbtrx_debetnote dn
                  	inner join tbmst_principal pcp on pcp.Id=dn.PrincipalId
					inner join tbmst_distributor dis on dis.id=dn.DistributorId
                    where isnull(dn.iscancel, 0)=0
						AND isnull(dn.IntDocNo, '') <> ''
						AND IsDNPromo=0
					) dnexist on                       	
						dnexist.entity=a.Entity
                      	AND dnexist.distributor=a.Distributor                    
                    	AND (dnexist.activity=a.Activity OR dnexist.internaldocnumber = a.InternalDocNumber)
						AND LOWER(a.DNType) = 'non promo'
      	AND a.RowID NOT IN (SELECT RowID FROM @failedrec)

/***********************************************/
		
        SET @AreaCode=(select ProfitCenter from tbset_map_user_profitcenter where UserId=@userid)
        IF isnull(@AreaCode,0) = 0
            begin
                SET @AreaCode='HO'
            end

/***********************************************/
        /* Entity Not found */
/***********************************************/
    INSERT INTO @temp
        SELECT a.Entity doc,'Entity not found' [status] FROM #dn123 a
             left join tbmst_principal b on a.Entity=b.LongDesc
			 where b.Id is null

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
            left join tbmst_principal b on a.Entity=b.LongDesc
        	where b.Id is null

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
            left join tbmst_principal b on a.Entity=b.LongDesc
    	where b.Id is null      	
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
      	/* Distributor not found */
/***********************************************/
    	INSERT INTO @temp
        SELECT a.Distributor doc,'Distributor not found' [status] FROM #dn123 a
   			left join tbmst_distributor b on a.Distributor=b.LongDesc
            LEFT JOIN
          	(
                      SELECT DistributorId,UserId FROM tbset_user_distributor dis WHERE UserId=@userid
            ) dis ON dis.DistributorId=b.Id
        	where dis.DistributorId is null

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
		    left join tbmst_distributor b on a.Distributor=b.LongDesc
		    LEFT JOIN
			(
			    SELECT DistributorId,UserId FROM tbset_user_distributor dis WHERE UserId=@userid
			) dis ON dis.DistributorId=b.Id
        where dis.DistributorId is null

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
		    left join tbmst_distributor b on a.Distributor=b.LongDesc
		    LEFT JOIN
			(
			    SELECT DistributorId,UserId FROM tbset_user_distributor dis WHERE UserId=@userid
			) dis ON dis.DistributorId=b.Id
        where dis.DistributorId is null
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

        
/***********************************************/
		/* Sub Account not found */
/***********************************************/
        INSERT INTO @temp
        SELECT a.Account doc,'Sub Account not found' [status] FROM #dn123 a
        inner join tbmst_distributor c on a.Distributor=c.LongDesc
        LEFT JOIN (
            SELECT msa.Id, msa.LongDesc, smda.DistributorId
            FROM tbmst_subaccount msa INNER JOIN tbset_map_distributor_account smda on msa.Id = smda.SubAccountId
        ) b on a.Account=b.LongDesc and c.id=b.DistributorId
        where b.LongDesc is null and LOWER(a.DnType)='promo'


        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
                            inner join tbmst_distributor c on a.Distributor=c.LongDesc
                            LEFT JOIN (
            SELECT msa.Id, msa.LongDesc, smda.DistributorId
            FROM tbmst_subaccount msa INNER JOIN tbset_map_distributor_account smda on msa.Id = smda.SubAccountId
        ) b on a.Account=b.LongDesc and c.id=b.DistributorId
        where b.LongDesc is null

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
    	FROM #dn123 a
        inner join tbmst_distributor c on a.Distributor=c.LongDesc
   LEFT JOIN (
            SELECT msa.Id, msa.LongDesc, smda.DistributorId
 FROM tbmst_subaccount msa INNER JOIN tbset_map_distributor_account smda on msa.Id = smda.SubAccountId
        ) b on a.Account=b.LongDesc and c.id=b.DistributorId
        where b.LongDesc is null and LOWER(a.DnType)='promo'
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)
        
/***********************************************/
      	/* PIC KAM not fount */
/***********************************************/
        INSERT INTO @temp
        SELECT a.Account doc,'PIC KAM for this Account not found' [status] FROM #dn123 a
            LEFT join tbmst_subaccount b on a.Account=b.LongDesc
            LEFT JOIN tbset_matrix_dnmanual_assignment_new c ON c.SubAccountId=b.Id
        WHERE c.SubAccountId is null 
        and LOWER(a.DnType)='promo' 
        and isnull(a.PromoNumber,'') = ''

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
            LEFT join tbmst_subaccount b on a.Account=b.LongDesc
            LEFT JOIN tbset_matrix_dnmanual_assignment_new c ON c.SubAccountId=b.Id
        WHERE c.SubAccountId is null and LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') = ''

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
            LEFT join tbmst_subaccount b on a.Account=b.LongDesc
            LEFT JOIN tbset_matrix_dnmanual_assignment_new c ON c.SubAccountId=b.Id
        WHERE c.SubAccountId is null and LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') = ''
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
      	/* Promo ID not found or cancel or close */
/***********************************************/
        INSERT INTO @temp
        SELECT a.PromoNumber doc, 'Promo ID not found or cancel or close' [status] 
        FROM #dn123 a  
		left join tbtrx_promo pr on a.PromoNumber=pr.RefId and isnull(pr.IsCancel,0)=0 and isnull(pr.isclose,0)=0 and pr.StatusApprovalCode = 'TP2'
		where  LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''
		and pr.RefId is null

        INSERT INTO @dnfailed
		SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
		left join tbtrx_promo pr on a.PromoNumber=pr.RefId and isnull(pr.IsCancel,0)=0 and isnull(pr.isclose,0)=0 and pr.StatusApprovalCode = 'TP2'
		where  LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''
		and pr.RefId is null

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
		left join tbtrx_promo pr on a.PromoNumber=pr.RefId and isnull(pr.IsCancel,0)=0 and isnull(pr.isclose,0)=0 
		where  LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''
		and pr.RefId is null
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
		/* Promo and subaccount not match */
/***********************************************/
/** Promo RC **/
    INSERT INTO @temp
        SELECT a.Activity doc,'Promo and SubAccount not match' [status] FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId and pr.CategoryShortDesc <> 'DC'
         LEFT JOIN (
            SELECT pr.Id, pr.RefId, pr.categoryShortDesc, tsd.DistributorId,sa.LongDesc SubAccount
            FROM tbtrx_promo pr
                     inner join tbtrx_promo_subaccount tps on pr.id=tps.PromoId
                     inner join tbset_map_distributor_account tsd on tps.SubAccountId = tsd.SubAccountId
                     inner join tbmst_subaccount sa on sa.Id=tps.SubAccountId
        ) b on a.PromoNumber=b.RefId and c.id=b.DistributorId and a.Account=b.SubAccount
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND b.RefId is null

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId and pr.CategoryShortDesc <> 'DC'
         LEFT JOIN (
            SELECT pr.Id, pr.RefId, pr.categoryShortDesc, tsd.DistributorId,sa.LongDesc SubAccount
            FROM tbtrx_promo pr
                     inner join tbtrx_promo_subaccount tps on pr.id=tps.PromoId
                     inner join tbset_map_distributor_account tsd on tps.SubAccountId = tsd.SubAccountId
                     inner join tbmst_subaccount sa on sa.Id=tps.SubAccountId
        ) b on a.PromoNumber=b.RefId and c.id=b.DistributorId and a.Account=b.SubAccount
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND b.RefId is null

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId and pr.CategoryShortDesc <> 'DC'
         LEFT JOIN (
            SELECT pr.Id, pr.RefId, pr.categoryShortDesc, tsd.DistributorId,sa.LongDesc SubAccount
            FROM tbtrx_promo pr
                     inner join tbtrx_promo_subaccount tps on pr.id=tps.PromoId
                     inner join tbset_map_distributor_account tsd on tps.SubAccountId = tsd.SubAccountId
                     inner join tbmst_subaccount sa on sa.Id=tps.SubAccountId
        ) b on a.PromoNumber=b.RefId and c.id=b.DistributorId and a.Account=b.SubAccount
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND b.RefId is null
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

    /** Promo DC **/
	    INSERT INTO @temp
        SELECT a.Activity doc,'Promo and SubAccount not match' [status] FROM #dn123 a
        INNER JOIN tbmst_distributor c on a.Distributor=c.LongDesc
        inner join tbtrx_promo pr on a.PromoNumber = pr.RefId and pr.CategoryShortDesc = 'DC'
        WHERE LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''
		AND a.account <> 'All Sub Account'

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        INNER JOIN tbmst_distributor c on a.Distributor=c.LongDesc
        inner join tbtrx_promo pr on a.PromoNumber = pr.RefId and pr.CategoryShortDesc = 'DC'
        WHERE LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''
		AND a.account <> 'All Sub Account'

    	INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        INNER JOIN tbmst_distributor c ON a.Distributor=c.LongDesc
        INNER JOIN tbtrx_promo pr ON a.PromoNumber = pr.RefId and pr.CategoryShortDesc = 'DC'
		LEFT JOIN @failedrec d ON a.RowID = d.RowID
        WHERE LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''
		AND a.account <> 'All Sub Account'
		AND d.RowID IS NULL

/***********************************************/
		/* Promo not Fully Approve */
/***********************************************/
        INSERT INTO @temp
        SELECT a.PromoNumber doc,IIF(b.StatusApprovalCode='TP3', CAST(b.LastStatus as varchar), CAST(b.LastStatus as varchar(100)) + '-' + CAST(b.ApproverName as varchar) ) [status] FROM #dn123 a
        inner join tbmst_distributor c on a.Distributor=c.LongDesc
        INNER JOIN (
            SELECT pr.Id, pr.RefId, tsd.DistributorId, pr.StatusApprovalCode, pr.LastStatus, pr.ApproverName
            FROM tbtrx_promo pr
                     inner join tbtrx_promo_subaccount tps on pr.id=tps.PromoId
                     inner join tbset_map_distributor_account tsd on tps.SubAccountId = tsd.SubAccountId
            where pr.StatusApprovalCode <> 'TP2'
        ) b on a.PromoNumber=b.RefId and c.id=b.DistributorId
        WHERE LOWER(a.DnType)='promo' and isnull(a.PromoNumber,'') <> ''

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        inner join tbmst_distributor c on a.Distributor=c.LongDesc
        INNER JOIN (
            SELECT pr.Id, pr.RefId, tsd.DistributorId, pr.StatusApprovalCode, pr.LastStatus, pr.ApproverName
            FROM tbtrx_promo pr
                 inner join tbtrx_promo_subaccount tps on pr.id=tps.PromoId
       inner join tbset_map_distributor_account tsd on tps.SubAccountId = tsd.SubAccountId
       where pr.StatusApprovalCode <> 'TP2'
        ) b on a.PromoNumber=b.RefId and c.id=b.DistributorId
        WHERE a.DnType='Promo' and isnull(a.PromoNumber,'') <> ''

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        inner join tbmst_distributor c on a.Distributor=c.LongDesc
        INNER JOIN (
            SELECT pr.Id, pr.RefId, tsd.DistributorId, pr.StatusApprovalCode, pr.LastStatus, pr.ApproverName
            FROM tbtrx_promo pr
                     inner join tbtrx_promo_subaccount tps on pr.id=tps.PromoId
           inner join tbset_map_distributor_account tsd on tps.SubAccountId = tsd.SubAccountId
            where pr.StatusApprovalCode <> 'TP2'
        ) b on a.PromoNumber=b.RefId and c.id=b.DistributorId
        WHERE a.DnType='Promo' and isnull(a.PromoNumber,'') <> ''
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
      	/* Duplicate Activity Desc */
/***********************************************/
        INSERT INTO @temp
        SELECT Activity doc,'Duplicate Activity Description' [status] FROM
            (
                SELECT COUNT(a.Activity) jml,Activity
                FROM #dn123 a GROUP BY Activity
                HAVING COUNT(a.Activity) > 1
            )X
                    
        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        WHERE Activity IN (
        	SELECT doc FROM @temp WHERE status ='Duplicate Activity Description'
        )

        
        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
        WHERE Activity IN (
        	SELECT doc FROM @temp WHERE status ='Duplicate Activity Description'
        )   
      	
/***********************************************/
      	/* Duplicate Internal Doc Number */
/***********************************************/
   --     INSERT INTO @temp
   --     SELECT InternalDocNumber doc,'Duplicate Internal Doc Number' [status] FROM
   --         (
   --             SELECT COUNT(a.Activity) jml,InternalDocNumber
   --             FROM #dn123 a GROUP BY InternalDocNumber
   --             HAVING COUNT(a.Activity) > 1
   --         )X
                    
   --     INSERT INTO @dnfailed
   --     SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
   --     WHERE InternalDocNumber IN (
   --     	SELECT doc FROM @temp WHERE status ='Duplicate Internal Doc Number'
   --     )

        
   --     INSERT INTO @failedrec
   --     SELECT 
			--a.RowID,
   --   		 a.Activity,
   --          a.TotalClaim,
   --   		 a.PromoNumber,
   --   		 a.InternalDocNumber,
   --   		 a.Entity,
   --   		 a.Distributor
   --   	FROM #dn123 a
   --     WHERE InternalDocNumber IN (
   --     	SELECT doc FROM @temp WHERE status ='Duplicate Internal Doc Number'
   --     )   

/***********************************************/
        /* Internal Doc Number Empty */
/***********************************************/
        INSERT INTO @temp
        SELECT InternalDocNumber as doc,'Internal Doc Number Empty' [status] FROM #dn123
  WHERE isnull(InternalDocNumber,'')=''

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
        WHERE isnull(InternalDocNumber,'')=''

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
		WHERE isnull(InternalDocNumber,'')=''
		AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/***********************************************/
		/* Entity Promo not match */
/***********************************************/
/*<=2024*/
    INSERT INTO @temp
        SELECT a.Activity doc,'Entity Promo not match' [status] FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId 
		 LEFT join (
			 SELECT bm.Id budgetmasterid, mp.longdesc entity FROM tbtrx_budgetmaster bm 
			 INNER join tbmst_principal mp on bm.PrincipalId=mp.id
			 )ent on pr.BudgetMasterId=ent.budgetmasterid and a.Entity=ent.entity
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND ent.entity is null AND a.Periode<=2024

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId 
		 LEFT join (
			 SELECT bm.Id budgetmasterid, mp.longdesc entity FROM tbtrx_budgetmaster bm 
			 INNER join tbmst_principal mp on bm.PrincipalId=mp.id
			 )ent on pr.BudgetMasterId=ent.budgetmasterid and a.Entity=ent.entity
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND ent.entity is null AND a.Periode<=2024

        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId 
		 LEFT join (
			 SELECT bm.Id budgetmasterid, mp.longdesc entity FROM tbtrx_budgetmaster bm 
			 INNER join tbmst_principal mp on bm.PrincipalId=mp.id
			 )ent on pr.BudgetMasterId=ent.budgetmasterid and a.Entity=ent.entity
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND ent.entity is null AND a.Periode<=2024
      	AND NOT EXISTS (
      		SELECT * FROM @failedrec
      	)

/*>=2025*/
    INSERT INTO @temp
		SELECT a.Activity doc,'Entity Promo not match' [status] 
		FROM TempDebetnoteType a
			inner join tbmst_distributor c on a.Distributor=c.LongDesc
			inner join tbtrx_promo pr on a.PromoNumber = pr.RefId 
			inner join tbmst_principal ent on a.Entity = ent.LongDesc
		WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
		AND a.Periode>=2025
		AND ent.id <> pr.EntityId 

        INSERT INTO @dnfailed
        SELECT a.Periode,a.Entity,a.Distributor,a.Account,a.Activity,a.PromoNumber,a.InternalDocNumber,a.TotalClaim,a.DueDate,a.FeeDesc,a.FeeAmount,a.DNType,a.statusPPN,a.PPNPct,a.PPNAmt,a.statusPPH,a.PPHPct,a.PPHAmt,a.FPNumber,a.FPDate,a.TaxLevel FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId 
		 inner join tbmst_principal ent on a.Entity = ent.LongDesc
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND a.Periode>=2025
		AND ent.id <> pr.EntityId 


        INSERT INTO @failedrec
        SELECT 
			a.RowID,
      		 a.Activity,
             a.TotalClaim,
      		 a.PromoNumber,
      		 a.InternalDocNumber,
      		 a.Entity,
      		 a.Distributor
      	FROM #dn123 a
         inner join tbmst_distributor c on a.Distributor=c.LongDesc
         inner join tbtrx_promo pr on a.PromoNumber = pr.RefId 
		 inner join tbmst_principal ent on a.Entity = ent.LongDesc
        WHERE isnull(a.PromoNumber,'') <> '' and LOWER(a.DnType)='promo'
        AND a.Periode>=2025
		AND ent.id <> pr.EntityId 
		AND a.RowID NOT IN (SELECT RowID FROM @failedrec)
      	--AND NOT EXISTS (
      	--	SELECT * FROM @failedrec
      	--)
		
/***********************************************/
      	/*Create DN Number Refid*/
/***********************************************/
        IF NOT EXISTS(
                SELECT sequence_name FROM tbtrx_sequence_table WHERE sequence_name=N'DN ' + CONVERT(nchar(4), YEAR(@utcDate123))
            )
            BEGIN
                INSERT dbo.tbtrx_sequence_table
                (sequence_name, next_value)
                VALUES
                (N'DN ' + CONVERT(nchar(4), YEAR(@utcDate123)),1)
            END

/***********************************************/
/*WRITE DATA*/
/***********************************************/
        /* Insert DN Promo */
/***********************************************/
		DECLARE @subChannelIdDC INT, @subAccountIdDC INT, @subAccountDescDC VARCHAR(50)
		SELECT @subChannelIdDC = SubChannelId, @subAccountIdDC = SubAccountId, @subAccountDescDC = SubAccountDesc FROM vw_account WHERE SubAccountDesc = 'All Sub Account';

		/*Promo <= 2024 dan >= 2025 RC*/
		WITH CTE_Promo1 AS (
			SELECT pr.Id, pr.RefId, pr.CategoryShortDesc, pr.SubActivityId, msac.LongDesc subActivityDesc, ma.SubChannelId, msa.Id subAccountId, msa.LongDesc subAccountDesc
			FROM tbtrx_promo pr WITH (NOLOCK)
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.Id
			INNER JOIN tbtrx_promo_subaccount prsa WITH (NOLOCK) ON pr.id = prsa.PromoId                    
			INNER JOIN tbmst_subaccount msa ON prsa.SubAccountId = msa.Id
			INNER JOIN tbmst_account ma ON msa.AccountId = ma.Id
		),
		/*Promo >= 2025 DC*/
		CTE_Promo2 AS (
			SELECT pr.Id, pr.RefId, pr.CategoryShortDesc, pr.SubActivityId, msac.LongDesc subActivityDesc
			, @subChannelIdDC SubChannelId, @subAccountIdDC subAccountId, @subAccountDescDC subAccountDesc
			FROM tbtrx_promo pr WITH (NOLOCK)
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.Id
			WHERE ISNULL(pr.Period, '') >= 2025 AND pr.CategoryShortDesc = 'DC'
		),
		CTE_PromoGabungan AS (
			SELECT * FROM CTE_Promo1
			UNION ALL
			SELECT * FROM CTE_Promo2
		)

        INSERT INTO [dbo].[tbtrx_debetnote]
        (
            RefId
	        ,[IsDnManual]
	        ,[Periode]
	        ,[PrincipalId]
	        ,[PrincipalShortDesc]
	        ,[DistributorId]
	        ,[DistributorShortDesc]
	        ,[AreaCode]
	        ,[ActivityDesc]
	        ,[SubChannelId]
	        ,[AccountId]
	 		,[PromoId]
	        ,[IntDocNo]
	        ,[MemDocNo]
	        ,[DPP]
	        ,[PPNPct]
	        ,[PPNAmt]
	        ,[TotalClaim]
	        ,[DeductionDate]
	        ,[Notes]
	        ,[LastStatus]
	        ,[IsPaid]
	        ,[TotalPaid]
	        ,[IsCancel]
	        ,[IsLocked]
	        ,[CreateOn]
	        ,[CreateBy]
	        ,[IsFreeze]
	        ,[ImportId]
	        ,[DueDate]
    		,[AssignBy]
	        ,[DNAmount]
	        ,[FeeDesc]
	        ,[FeePct]
	        ,[FeeAmount]
	        ,[IsDNPromo]
	        ,statusPPH
	        ,PPHPct
	        ,PPHAmt
	        ,FPNumber
	        ,FPDate
	        ,FPModifiedBy
	        ,FPModifiedOn
	        ,TaxLevel
	        ,statusPPN 
        )

        SELECT
        	ROW_NUMBER() OVER (ORDER BY Periode)
        	,IIF(d.Id is null,1,0)
        	,a.Periode
        	,b.Id
        	,b.ShortDesc
			,c.Id
         	,c.ShortDesc
            ,@AreaCode
         	,a.Activity
			,d.SubChannelId
			,iif(isnull(d.CategoryShortDesc, '') <> 'DC', d.subAccountId, @subAccountId)
			,isnull(d.Id,0)
			,a.InternalDocNumber
			,''
			,CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) --DPP
			,CAST(a.PPNPct AS float)			
			,IIF(a.statusPPN='PPN - DN Amount', CAST(TotalClaim AS float) * CAST(a.PPNPct AS float) / 100 
				, IIF(a.statusPPN='PPN - Fee', CAST(a.FeeAmount AS float) * CAST(a.PPNPct AS float) / 100
					, IIF(a.statusPPN='PPN - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPNPct AS float) / 100, 0)))
			--total Claim
            ,IIF(isnull(sdw.WHTType, '') = 'Non WHT Object' OR isnull(sdw.WHTType, '') = 'WHT No Deduct'
            	, CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) + (TotalClaim * CAST(a.PPNPct AS float) / 100)
            	, CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) 
					+ IIF(a.statusPPN='PPN - DN Amount', CAST(TotalClaim AS float) * CAST(a.PPNPct AS float) / 100 
						, IIF(a.statusPPN='PPN - Fee', CAST(a.FeeAmount AS float) * CAST(a.PPNPct AS float) / 100
						, IIF(a.statusPPN='PPN - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPNPct AS float) / 100, 0)))
					- (IIF(a.statusPPH='PPH - DN Amount', TotalClaim * CAST(a.PPHPct AS float) / 100 
						, IIF(a.statusPPH='PPH - Fee', a.FeeAmount * CAST(a.PPHPct AS float) / 100
						, IIF(a.statusPPH='PPH - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPHPct AS float) / 100, 0)))))				
					
            ,@utcDate123
      		,''
            ,'created'
            ,0
            ,0
            ,0
            ,0
            ,@utcDate123
            ,@userid
            ,0
            ,@id
            ,iif(isnull(a.DueDate,'')='',null, CONVERT(date, a.DueDate, 105))
     		,dnm.Pic1
      		,CAST(TotalClaim AS float) --DN Amount
		  	,a.FeeDesc
            ,IIF(CAST(a.TotalClaim as float)=0,0,(CAST(a.FeeAmount AS float)/CAST(a.TotalClaim AS float)) * 100)
       		,CAST(a.FeeAmount AS float)
            ,IIF(LOWER(a.DnType)='promo',1,0)
            ,IIF(a.statusPPH='PPH - DN Amount', 'DN Amount PPH', IIF(a.statusPPH='PPH - Fee', 'FEE PPH', IIF(a.statusPPH='PPH - DPP', 'DPP PPH', 'undifined')))
            ,IIF(isnull(sdw.WHTType, '')='Non WHT Object', 0, CAST(a.PPHPct AS float))
            ,IIF(isnull(sdw.WHTType, '')='Non WHT Object', 0
				, IIF(a.statusPPH='PPH - DN Amount', TotalClaim * CAST(a.PPHPct AS float) / 100 
				, IIF(a.statusPPH='PPH - Fee', a.FeeAmount * CAST(a.PPHPct AS float) / 100
				, IIF(a.statusPPH='PPH - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPHPct AS float) / 100, 0))))
            ,a.FPNumber
            ,iif(isnull(a.FPDate,'')='',null, CONVERT(date, a.FPDate, 105))
            ,@userid
            ,@utcDate123
            ,a.taxlevel
            ,IIF(a.statusPPN='PPN - DN Amount', 'PPN DN AMOUNT', IIF(a.statusPPN='PPN - Fee', 'PPN FEE', IIF(a.statusPPN='PPN - DPP', 'PPN DPP', 'undifined')))
         FROM #dn123 a
                 inner join tbmst_principal b on a.Entity=b.LongDesc
                 inner join tbmst_distributor c on a.Distributor=c.LongDesc
				 INNER JOIN CTE_PromoGabungan d ON a.PromoNumber = d.RefId AND a.Account = d.subAccountDesc
                 LEFT JOIN tbset_matrix_dnmanual_assignment_new dnm ON d.subAccountId=dnm.SubAccountId
                 LEFT JOIN tbset_distributor_wht sdw WITH (NOLOCK) ON c.longdesc = sdw.distributor AND d.subActivityDesc = sdw.subactivity AND d.subAccountDesc = sdw.subaccount
        WHERE LOWER(a.DnType)='promo' AND ISNULL(a.PromoNumber, '') <> ''
		AND RowID NOT IN (SELECT RowID from @failedrec)

        /* Insert DN Promo (DN Manual))*/
/***********************************************/
        INSERT INTO [dbo].[tbtrx_debetnote]
        (
            RefId
	        ,[IsDnManual]
	        ,[Periode]
	        ,[PrincipalId]
	        ,[PrincipalShortDesc]
	        ,[DistributorId]
	        ,[DistributorShortDesc]
	        ,[AreaCode]
	        ,[ActivityDesc]
	        ,[SubChannelId]
	        ,[AccountId]
	 		,[PromoId]
	        ,[IntDocNo]
	        ,[MemDocNo]
	        ,[DPP]
	        ,[PPNPct]
	        ,[PPNAmt]
	        ,[TotalClaim]
	        ,[DeductionDate]
	        ,[Notes]
	        ,[LastStatus]
	        ,[IsPaid]
	        ,[TotalPaid]
	        ,[IsCancel]
	        ,[IsLocked]
	        ,[CreateOn]
	        ,[CreateBy]
	        ,[IsFreeze]
	        ,[ImportId]
	        ,[DueDate]
    		,[AssignBy]
	        ,[DNAmount]
	        ,[FeeDesc]
	        ,[FeePct]
	        ,[FeeAmount]
	        ,[IsDNPromo]
	        ,statusPPH
	        ,PPHPct
	        ,PPHAmt
	        ,FPNumber
	        ,FPDate
	        ,FPModifiedBy
	        ,FPModifiedOn
	        ,TaxLevel
	        ,statusPPN 
        )

        SELECT
        	ROW_NUMBER() OVER (ORDER BY Periode)
        	,IIF(e.Id is null,1,0)
        	,a.Periode
        	,b.Id
        	,b.ShortDesc
			,c.Id
         	,c.ShortDesc
            ,@AreaCode
         	,a.Activity
			,acc.SubChannelId
			,iif(isnull(e.CategoryShortDesc, '') <> 'DC', d.Id, @subAccountId)
			,isnull(e.Id,0)
			,a.InternalDocNumber
			,''
			,CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) --DPP
			,CAST(a.PPNPct AS float)			
			,IIF(a.statusPPN='PPN - DN Amount', CAST(TotalClaim AS float) * CAST(a.PPNPct AS float) / 100 
				, IIF(a.statusPPN='PPN - Fee', CAST(a.FeeAmount AS float) * CAST(a.PPNPct AS float) / 100
					, IIF(a.statusPPN='PPN - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPNPct AS float) / 100, 0)))
			--total Claim
            ,IIF(isnull(sdw.WHTType, '') = 'Non WHT Object' OR isnull(sdw.WHTType, '') = 'WHT No Deduct'
            	, CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) + (TotalClaim * CAST(a.PPNPct AS float) / 100)
            	, CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) 
					+ IIF(a.statusPPN='PPN - DN Amount', CAST(TotalClaim AS float) * CAST(a.PPNPct AS float) / 100 
						, IIF(a.statusPPN='PPN - Fee', CAST(a.FeeAmount AS float) * CAST(a.PPNPct AS float) / 100
						, IIF(a.statusPPN='PPN - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPNPct AS float) / 100, 0)))
					- (IIF(a.statusPPH='PPH - DN Amount', TotalClaim * CAST(a.PPHPct AS float) / 100 
						, IIF(a.statusPPH='PPH - Fee', a.FeeAmount * CAST(a.PPHPct AS float) / 100
						, IIF(a.statusPPH='PPH - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPHPct AS float) / 100, 0)))))				
					
            ,@utcDate123
      		,''
            ,'created'
            ,0
            ,0
            ,0
            ,0
            ,@utcDate123
            ,@userid
            ,0
            ,@id
            ,iif(isnull(a.DueDate,'')='',null, CONVERT(date, a.DueDate, 105))
     		,dnm.Pic1
      		,CAST(TotalClaim AS float) --DN Amount
		  	,a.FeeDesc
            ,IIF(CAST(a.TotalClaim as float)=0,0,(CAST(a.FeeAmount AS float)/CAST(a.TotalClaim AS float)) * 100)
       		,CAST(a.FeeAmount AS float)
            ,IIF(LOWER(a.DnType)='promo',1,0)
            ,IIF(a.statusPPH='PPH - DN Amount', 'DN Amount PPH', IIF(a.statusPPH='PPH - Fee', 'FEE PPH', IIF(a.statusPPH='PPH - DPP', 'DPP PPH', 'undifined')))
            ,IIF(isnull(sdw.WHTType, '')='Non WHT Object', 0, CAST(a.PPHPct AS float))
            ,IIF(isnull(sdw.WHTType, '')='Non WHT Object', 0
				, IIF(a.statusPPH='PPH - DN Amount', TotalClaim * CAST(a.PPHPct AS float) / 100 
				, IIF(a.statusPPH='PPH - Fee', a.FeeAmount * CAST(a.PPHPct AS float) / 100
				, IIF(a.statusPPH='PPH - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPHPct AS float) / 100, 0))))
            ,a.FPNumber
            ,iif(isnull(a.FPDate,'')='',null, CONVERT(date, a.FPDate, 105))
            ,@userid
            ,@utcDate123
            ,a.taxlevel
            ,IIF(a.statusPPN='PPN - DN Amount', 'PPN DN AMOUNT', IIF(a.statusPPN='PPN - Fee', 'PPN FEE', IIF(a.statusPPN='PPN - DPP', 'PPN DPP', 'undifined')))
        FROM #dn123 a
                 inner join tbmst_principal b on a.Entity=b.LongDesc
                 inner join tbmst_distributor c on a.Distributor=c.LongDesc
                 inner join tbmst_subaccount d on a.Account=d.LongDesc
				 INNER JOIN ( SELECT min(id) id, longdesc FROM tbmst_subaccount GROUP BY LongDesc ) daa ON d.Id = daa.id
                 inner join tbmst_account acc on d.AccountId=acc.Id
                 LEFT JOIN tbset_matrix_dnmanual_assignment_new dnm ON d.Id=dnm.SubAccountId
                 LEFT join tbtrx_promo e on a.PromoNumber=e.RefId --change inner to left for check dnmanual
                 LEFT JOIN tbmst_subactivity ts WITH (NOLOCK) ON e.subactivityid = ts.id
                 LEFT JOIN tbset_distributor_wht sdw WITH (NOLOCK) ON c.longdesc = sdw.distributor AND ts.longdesc = sdw.subactivity AND d.longdesc = sdw.subaccount
        WHERE LOWER(a.DnType)='promo' AND ISNULL(a.PromoNumber, '') = ''
        	AND RowID NOT IN (SELECT RowID from @failedrec)

/***********************************************/
        /* Insert DN Non Promo */
/***********************************************/
        INSERT INTO [dbo].[tbtrx_debetnote]
        (
	        RefId
	        ,[IsDnManual]
	        ,[Periode]
	        ,[PrincipalId]
	        ,[PrincipalShortDesc]
	        ,[DistributorId]
	        ,[DistributorShortDesc]
	        ,[AreaCode]
	        ,[ActivityDesc]
	        ,[SubChannelId]
	        ,[AccountId]
	        ,[PromoId]
	        ,[IntDocNo]
	        ,[MemDocNo]
	        ,[DPP]
	        ,[PPNPct]
	        ,[PPNAmt]
	        ,[TotalClaim]
	        ,[DeductionDate]
	        ,[Notes]
	        ,[LastStatus]
	        ,[IsPaid]
	        ,[TotalPaid]
	        ,[IsCancel]
	        ,[IsLocked]
	        ,[CreateOn]
	        ,[CreateBy]
	        ,[IsFreeze]
	        ,[ImportId]
	        ,[DueDate]
	        ,[AssignBy]
	        ,[DNAmount]
	        ,[FeeDesc]
	        ,[FeePct]
	        ,[FeeAmount]
	        ,[IsDNPromo]
	        ,statusPPH
  			,PPHPct
        	,PPHAmt
        	,FPNumber
        	,FPDate
        	,FPModifiedBy
			,FPModifiedOn
        	,TaxLevel 
        	,statusPPN 
        )
        SELECT
   			ROW_NUMBER() OVER (ORDER BY Periode)
            ,0
            ,a.Periode
            ,b.Id
            ,b.ShortDesc
            ,c.Id
            ,c.ShortDesc
            ,@AreaCode
            ,a.Activity
            ,acc.SubChannelId
            ,d.Id
            ,0
   			,a.InternalDocNumber
            ,''
            ,CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float) --DPP
            ,CAST(a.PPNPct AS float)
            ,IIF(a.statusPPN='PPN - DN Amount', CAST(TotalClaim AS float) * CAST(a.PPNPct AS float) / 100 , IIF(a.statusPPN='PPN - Fee', CAST(a.FeeAmount AS float) * CAST(a.PPNPct AS float) / 100, 
				IIF(a.statusPPN='PPN - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPNPct AS float) / 100, 0)))              
            ,CAST(TotalClaim AS float)  
				+ (TotalClaim * CAST(a.PPNPct AS float) / 100) 
				- (IIF(a.statusPPH='PPH - DN Amount', TotalClaim * CAST(a.PPHPct AS float) / 100 
					, IIF(a.statusPPH='PPH - Fee', a.FeeAmount * CAST(a.PPHPct AS float) / 100
					, IIF(a.statusPPH='PPH - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPHPct AS float) / 100, 0))))
        	,@utcDate123
            ,''
            ,'created'
      		,0
            ,0
		   	,0
    		,0
            ,@utcDate123
	 		,@userid
            ,0
            ,@id
            ,iif(isnull(a.DueDate,'')='',null, CONVERT(date, a.DueDate, 105))
            ,'' Pic1
            ,CAST(TotalClaim AS float)
            ,a.FeeDesc
            ,IIF(CAST(a.TotalClaim as float)=0,0,(CAST(a.FeeAmount AS float)/CAST(a.TotalClaim AS float)) * 100)
            ,CAST(a.FeeAmount AS float)
            ,IIF(a.DNType='Promo',1,0)
            ,IIF(a.statusPPH='PPH - DN Amount', 'DN Amount PPH', IIF(a.statusPPH='PPH - Fee', 'FEE PPH', IIF(a.statusPPH='PPH - DPP', 'DPP PPH', 'undifined')))
      		,a.PPHPct
            ,IIF(a.statusPPH='PPH - DN Amount', TotalClaim * CAST(a.PPHPct AS float) / 100 
				, IIF(a.statusPPH='PPH - Fee', a.FeeAmount * CAST(a.PPHPct AS float) / 100
				, IIF(a.statusPPH='PPH - DPP', (CAST(TotalClaim AS float) + CAST(a.FeeAmount AS float)) * CAST(a.PPHPct AS float) / 100, 0)))
            ,a.FPNumber
            ,iif(isnull(a.FPDate,'')='',null, CONVERT(date, a.FPDate, 105))
            ,@userid
            ,@utcDate123
            ,a.taxlevel
            ,IIF(a.statusPPN='PPN - DN Amount', 'PPN DN AMOUNT', IIF(a.statusPPN='PPN - Fee', 'PPN FEE', IIF(a.statusPPN='PPN - DPP', 'PPN DPP', 'undifined')))
        FROM #dn123 a
             inner join tbmst_principal b on a.Entity=b.LongDesc
             inner join tbmst_distributor c on a.Distributor=c.LongDesc
             inner join tbmst_subaccount d on a.Account=d.LongDesc
			 INNER JOIN ( SELECT min(id) id, longdesc FROM tbmst_subaccount GROUP BY LongDesc ) daa ON d.Id = daa.id
             inner join tbmst_account acc on d.AccountId=acc.Id
        WHERE LOWER(a.DnType)='non promo'
        	AND RowID NOT IN (SELECT RowID from @failedrec)
          
        	
       /* insert wht type */
		INSERT INTO tbtrx_debetnote_wht (DNId, WHTtype)
		SELECT td.id, isnull(sdw.whttype, '')
		FROM tbtrx_debetnote td WITH (NOLOCK)
		INNER JOIN tbmst_distributor md WITH (NOLOCK) ON td.distributorid = md.id
		INNER JOIN tbmst_subaccount ms WITH (NOLOCK) ON td.accountid = ms.id
		LEFT JOIN tbtrx_promo tp WITH (NOLOCK) ON td.PromoId = tp.id
		LEFT JOIN tbmst_subactivity ts WITH (NOLOCK) ON tp.subactivityid = ts.id
		LEFT JOIN tbset_distributor_wht sdw WITH (NOLOCK) ON md.longdesc = sdw.distributor AND ts.longdesc = sdw.subactivity AND ms.longdesc = sdw.subaccount
		WHERE td.ImportId = @id
        
        	
/***********************************************/
		/* Update Status Overbudget */          
/***********************************************/
		DECLARE @promoid int;
		DECLARE cursor_recal CURSOR

		FOR select DISTINCT td.PromoId 
			FROM tbtrx_debetnote td 
			WHERE td.importid = @id
			AND isnull(td.PromoId, 0) <> 0
		;
 
		OPEN cursor_recal;
		FETCH NEXT FROM cursor_recal
		INTO @promoid;

		WHILE @@FETCH_STATUS = 0
			BEGIN
				exec ip_dn_overbudget_by_prommoid @promoid
	
				FETCH NEXT FROM cursor_recal
				INTO @promoid;
			END

		CLOSE cursor_recal;
		DEALLOCATE cursor_recal;
            
/***********************************************/
        /* Create History Debetnote */  
/***********************************************/
        INSERT INTO [dbo].[tbtrx_debetnote_his]
        (
	        [DNId]
	        ,[ActivityDesc]
	    	,[SubChannelId]
	        ,[AccountId]
	        ,[PromoId]
	        ,[IntDocNo]
	        ,[MemDocNo]
	        ,[DPP]
	        ,[PPNPct]
	        ,[PPNAmt]
	        ,[TotalClaim]
	        ,[DeductionDate]
	        ,[Notes]
	        ,[created_on]
	        ,[created_by]
	        ,[DNAmount]
	        ,[FeeDesc]
	        ,[FeePct]
	        ,[FeeAmount]
	        ,[TaxLevel]
	        ,[PPHPct]
	        ,[PPHAmt]
	        ,statusPPH
	        ,FPNumber
	        ,FPDate
	        ,FPModifiedBy
	        ,FPModifiedOn
        )
        SELECT
        	[Id]
            ,[ActivityDesc]
            ,[SubChannelId]
            ,[AccountId]
			,[PromoId]
            ,[IntDocNo]
            ,[MemDocNo]
			,[DPP]
            ,[PPNPct]
            ,[PPNAmt]
            ,[TotalClaim]
            ,[DeductionDate]
            ,[Notes]
            ,@utcDate123 --[created_on]
            ,@userid --[created_by]
            ,[DNAmount]
			,[FeeDesc]
            ,[FeePct]
            ,[FeeAmount]
            ,[TaxLevel]
            ,[PPHPct]
            ,[PPHAmt]
            ,statusPPH
            ,FPNumber
            ,FPDate
            ,FPModifiedBy
            ,FPModifiedOn
        FROM [dbo].[tbtrx_debetnote] where IMportId=@id
        
		/*
		 Create History Debetnote
		 */
		INSERT INTO [dbo].[tbhis_debetnote]
		(
		    dnid,
		    IsDNManual,
			Periode,
		    PrincipalShortDesc,
		    DistributorShortDesc,
		    AreaCode,
		    DNNumber,
		    ActivityDesc,
		    SubChannelId,
		    AccountId,
		    PromoId,
		    IntDocNo,
		    MemDocNo,
		    DPP,
		    PPNPct,
		    PPNAmt,
		    TotalClaim,
		    DeductionDate,
		    Notes,
		    LastStatus,
		    IsPaid,
		    TotalPaid,
		    IsCancel,
		    IsLocked,
		    CreateOn,
		    CreateBy,
			ModifiedOn,
		    ModifiedBy,
		    IsDelete,
		    DeleteOn,
		    DeleteBy,
		    AssignOn,
		    AssignBy,
		    IsFreeze,
		    PrincipalId,
		    DistributorId,
		    DueDate,
			IsAllowModify,
		    IsOverBudget,
		    AssignRequestDate,
			CancelOn,
			CancelBy,
		    PaymentDate,
		    ImportId,
		    RefId,
		    IsDNPromo,
		    InternalOrderNumber,
		    DNAmount,
		    FeeDesc,
		    FeePct,
		    FeeAmount,
		    TaxLevel,
		    PPHPct,
		    PPHAmt,
		    statusPPH,
		    StatusSalesCode,
		    StatusSales,
		    StatusSalesOn,
		    StatusSalesBy,
		    StatusSalesDistOn,
			StatusSalesDistBy,
		    StatusSalesNotes,
		    FPNumber,
		    FPDate,
		    FPModifiedBy,
		    FPModifiedOn,
		    VATExpired,
		    statusPPN
		)
		select 
		    id,
		    IsDNManual,
		    Periode,
		    PrincipalShortDesc,
		    DistributorShortDesc,
		    AreaCode,
		    DNNumber,
		    ActivityDesc,
		    SubChannelId,
		    AccountId,
		    PromoId,
		    IntDocNo,
		    MemDocNo,
		    DPP,
		    PPNPct,
		    PPNAmt,
		    TotalClaim,
		    DeductionDate,
		    Notes,
		    'created',
		    IsPaid,
		    TotalPaid,
		    IsCancel,
		    IsLocked,
		    CreateOn,
		    CreateBy,
		    ModifiedOn,
		    ModifiedBy,
		    IsDelete,
		    DeleteOn,
		    DeleteBy,
		    AssignOn,
		    AssignBy,
		    IsFreeze,
		    PrincipalId,
		    DistributorId,
		    DueDate,
		    IsAllowModify,
		    IsOverBudget,
		    AssignRequestDate,
		    CancelOn,
		    CancelBy,
		    PaymentDate,
		    ImportId,
		    RefId,
		    IsDNPromo,
		    InternalOrderNumber,
		    DNAmount,
		    FeeDesc,
		    FeePct,
		    FeeAmount,
		    TaxLevel,
		    PPHPct,
		    PPHAmt,
		    statusPPH,
		    StatusSalesCode,
		    StatusSales,
		    StatusSalesOn,
		    StatusSalesBy,
		    StatusSalesDistOn,
		    StatusSalesDistBy,
		    StatusSalesNotes,
		 FPNumber,
		    FPDate,
		    FPModifiedBy,
		    FPModifiedOn,
		    VATExpired,
		    statusPPN
		from tbtrx_debetnote where IMportId=@id
		/***********************************************/

    	COMMIT
    	/* Create History Create from import */
    	INSERT INTO tbtrx_debetnote_status_log (DNId, DNStatus, CreateBy, CreateOn, DPP, laststatus, createdEmail)
        select td.id, 'Created',@userid,@utcDate123, td.DPP, 'Created', @createdEmail
		from tbtrx_debetnote td 
		where td.importid = @id				

		DECLARE @errFailedRec INT, @successRec INT, @totRec INT
		SET @totRec = (SELECT count(Activity) FROM #dn123)
		SET @successRec = (SELECT count(RowID) FROM #dn123 WHERE RowID not in (SELECT RowID FROM @failedrec))
		SET @errFailedRec = @totRec - @successRec
	    if exists(SELECT * FROM @temp)
	        begin
	            select distinct doc,[status] from @temp
	            SELECT @errFailedRec failedRec, @successRec successRec, @totRec totRec
	            RETURN
	        end
		else
	        begin
	            select doc,[status] from @temp where doc='sukses upload'
	            SELECT 0 failedRec, @successRec successRec, @totRec totRec
	            RETURN
	        end	
	end try
begin catch
    ROLLBACK
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
            @ErrorMessage = ERROR_MESSAGE(),
      @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
        @ErrorSeverity, -- Severity.
        @ErrorState -- State.
        );

end catch
GO
