

/****** Object:  StoredProcedure [dbo].[ip_mst_map_user_channel_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_user_channel_del]
	@Id     int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_map_user_channel
	( 
       [ParentId]
      ,[userid]
      ,[channelid]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[userid]
      ,[channelid]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_map_user_channel
	WHERE Id = @Id

	DELETE tbset_map_user_channel
	WHERE
		Id = @Id
END


GO
