USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_user_channel_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_user_channel_list]
as
BEGIN
	SELECT        
		t.Id, 
		t.userid, 
		t.channelid, 
		c.LongDesc AS Channel, 
		t.CreateOn, 
		t.CreateBy, 
		uc.username AS CreateByName, 
		t.ModifiedOn, 
		t.ModifiedBy, 
		um.username AS ModifiedByName, 
		t.IsDelete, 
		t.DeleteOn, 
		t.DeleteBy, 
		ud.username AS DeleteByName

		, t.CreatedEmail
		, t.DeleteEmail
	FROM            
		tbset_map_user_channel t 
		INNER JOIN tbmst_channel       c   on t.ChannelId     = c.id
		LEFT JOIN tbset_user           uc  ON t.CreateBy      = uc.id
		LEFT JOIN tbset_user           um  ON t.ModifiedBy    = um.id
		LEFT JOIN tbset_user           ud  ON t.DeleteBy      = ud.id

		--select * from tbset_map_user_channel
END


GO
