

/****** Object:  StoredProcedure [dbo].[ip_budgetassignment_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[ip_budgetassignment_list]
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

--SET @periode ='2022'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='scnis2'



AS
BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
		FROM 
			tbtrx_allocation WHERE BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				SELECT 
					0 AS BDG_PARENT,
					CAST(@p_alcid AS VARCHAR) as BDG_CHILD,
					1 as Levels,
					CAST((Row_Number() Over (Order by @p_alcid)) as Varchar(MAx)) as RowNumber
				UNION ALL
				SELECT 
					a.AllocationId  AS BDG_PARENT,
					CAST(C.Id AS VARCHAR) AS BDG_CHILD,
					Levels + 1,
					CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber 
				FROM 
					tbtrx_budgetassignment a 
					inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
					inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
					INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				)

	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	--SELECT * FROM @Temp

	SELECT 
		asn.Id
		,asn.RefId
		,asn.BudgetId
		,asn.FrownId
		,usrf.id FrownName
		,asn.AllocationId
		,asn.BudgetAmount
		,asn.IsActive
		,asn.IsLocked
		,asn.CreateOn
		,asn.CreateBy
		,asn.ModifiedOn
		,asn.ModifiedBy
		,asn.IsDelete
		,asn.DeleteOn
		,asn.DeleteBy
	FROM 
		dbo.tbtrx_budgetassignment AS asn 
		--dbo.tbtrx_budgetassignment_detail AS asd ON asn.Id = asd.AssignmentId
		LEFT JOIN dbo.tbset_user AS usrf ON asn.FrownId = usrf.id
		--LEFT JOIN dbo.tbset_user AS usro ON asd.OwnId = usro.id
		INNER JOIN @Temp a ON a.BudgetId=asn.AllocationId 
		inner join tbtrx_allocation c on a.BudgetId=c.Id 
		inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		left join tbmst_distributor d on m.DistributorId=d.Id
		left join tbmst_principal p on m.PrincipalId=p.Id
		
		left join
			(
				SELECT 
					AllocationId,
					STUFF(
						(SELECT ',' + chn.LongDesc 
							FROM tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							WHERE a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	WHERE 
		m.Periode=@periode
		AND IIF(@budgetparent=0,'',BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)		
		AND IIF(@userid='0','0',asn.CreateBy) =IIF(@userid='0','0',@userid)
		
	ORDER BY c.Id
END




GO
