

/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_process_insert]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_matrix_approval_process_insert]
@matrixPromoId int
,@userprofile varchar(100)
,@useremail varchar(100)
AS
DECLARE 
--@matrixPromoId int,
--@userprofile varchar(255),
--@useremail varchar(100),
@utcDate123 DATETIME

--SET @userprofile='kamsat'
--SET @useremail='admin@xv.com'

SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

DECLARE
@principalid int,
@distributorid int,
@subactivitytype int,
@ChannelId int,
@subChannelId int,
@initiator varchar(50),
@mininvestment decimal,
@maxinvestment decimal,
@category varchar(10),
@totPromo int,
@processId int

--set @matrixPromoId = 6043;
-- insert create proces
INSERT INTO tbset_matrix_approval_process(Date, UserProfile, UserEmail, isFinished)
VALUES (@utcDate123, @userprofile, @useremail, 0)

SELECT @processId = SCOPE_IDENTITY();

select 
	@principalid = b.Id,
	@distributorid = c.Id,
	@subactivitytype = subactivitytype,
	@ChannelId = a.ChannelId,
	@subChannelId = a.SubChannelId, 
	@initiator = a.Initiator, 
	@mininvestment = a.MinInvestment, 
	@maxinvestment = a.MaxInvestment,
	@category = a.CategoryId
	from tbset_matrix_promo_approval a
	inner join tbmst_principal b on a.PrincipalId=b.id
	inner join tbmst_distributor c on a.DistributorId=c.id
	inner join tbmst_subactivity_type d on a.SubActivityType=d.Id
	where a.Id=@matrixPromoId

INSERT INTO tbset_matrix_approval_process_detail(ProcessId, MatrixPromoApprovalId, PromoId)
	-- Select promo based on matrix
select  @processId as ProcessId, @matrixPromoId as MatrixPromoId, pr.id as PromoId

--COUNT(*) OVER () AS TotalRowCount
from tbtrx_promo pr
INNER JOIN tbmst_category c on pr.CategoryId=c.Id	
inner join tbmst_principal b on pr.PrincipalShortDesc=b.ShortDesc
INNER JOIN tbtrx_allocation alc ON pr.AllocationId=alc.Id
INNER JOIN tbtrx_allocation_balance bal ON alc.Id=bal.AllocationId 
INNER JOIN tbtrx_budgetmaster m on alc.BudgetMasterId=m.Id
INNER JOIN tbmst_subactivity sa on sa.Id=pr.SubactivityId
INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
inner join tbtrx_promo_channel pc on pc.PromoId = pr.id
inner join tbtrx_promo_subchannel psc on psc.PromoId = pr.id
WHERE b.Id=@PrincipalId
AND alc.DistributorId=@DistributorId
AND st.id=@SubActivityType
AND IIF(psc.SubChannelId=0,1,psc.SubChannelId)=IIF(psc.SubChannelId=0,1,@SubChannelId)
AND pr.CreateBy=@Initiator
AND pr.investment >= @mininvestment and pr.investment <= @maxinvestment
AND c.Id=@category

END

GO
