

/****** Object:  StoredProcedure [dbo].[ip_budget_historical_movement_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_budget_historical_movement_p] --'2020',0,0,0,0,'ADMIN',0,1,'A','B','C'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)
AS
/*TESTING PURPOSE*************************/
--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)

--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @periode ='2032'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='admin'

--SET @start =0
--SET @length =-1
--SET @txtSearch =''
--SET @order =''
--SET @sort =''
/*************************TESTING PURPOSE*/

BEGIN
    DECLARE @recordsFiltered int;
    drop table if exists #temp_budgethis;
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(isnull(@order,'')='','RefId', @order)
	SET @start = @start * @length

	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		)
		;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;


	SELECT 	
		c.RefId
		,his.AllocationId
		,IIF(isnull(his.LongDesc,'')='',c.longdesc,his.longdesc) longdesc
		,his.PrevAmount
		,his.BudgetAmount
		,IIF(his.ModifiedBy is null,'Create by ' + cast(his.CreateBy as varchar) + ' On ' + cast(his.CreateOn as varchar),'Modified by ' + cast(his.ModifiedBy as varchar) + ' On ' + cast(c.ModifiedOn as varchar)) [Notes]
	INTO #temp_budgethis
	FROM 
	tbtrx_allocation c 
	INNER JOIN @temp t on c.Id=t.BudgetId
	INNER JOIN tbtrx_allocation_request_approval his on c.Id=his.AllocationId
	INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	INNER JOIN tbmst_distributor d on m.DistributorId=d.Id
	INNER JOIN tbmst_principal p on m.PrincipalId=p.Id
	LEFT JOIN (
		select a.AllocationId, STRING_AGG(b.longdesc,', ')ChannelDesc from tbtrx_allocation_channel a
			INNER JOIN tbmst_channel b on a.ChannelId=b.Id 
			WHERE IIF(@channel=0,'',a.ChannelId) =IIF(@channel=0,'',@channel)
			group by a.AllocationId
			)chn on c.Id=chn.AllocationId
	LEFT JOIN (
		select a.AllocationId, STRING_AGG(a.userid,', ')UserId from tbtrx_allocation_useraccess a 
		WHERE IIF(@userid='0','',a.UserId) =IIF(@userid='0','',@userid)
		group by a.AllocationId
			)usr on c.Id=usr.AllocationId
	where m.Periode=@periode
		AND IIF(@budgetparent=0,'',c.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	ORDER BY c.BudgetMasterId, c.BudgetSourceId, his.AllocationId,his.Id

	/**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(RefId),0) FROM #temp_budgethis
		WHERE 
			(RefId like '%' + isnull(@txtSearch,'') + '%') OR 
			(LongDesc like '%' + isnull(@txtSearch,'') + '%') OR
			(PrevAmount like '%' + isnull(@txtSearch,'') + '%') OR
			(BudgetAmount like '%' + isnull(@txtSearch,'') + '%') OR 
			(Notes like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(RefId),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_budgethis
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_budgethis			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_budgethis
				WHERE 
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(LongDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(PrevAmount like ''%' + isnull(@txtSearch,'') + '%'') OR
					(BudgetAmount like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Notes like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_budgethis
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_budgethis
				WHERE 
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(LongDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(PrevAmount like ''%' + isnull(@txtSearch,'') + '%'') OR
					(BudgetAmount like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Notes like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    drop table #temp_budgethis
    
    /**********************
        end pagination
     **********************/		
END

GO
