USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getattribute_byparent]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_getattribute_byparent] --1089,'account',1
@budgetid int,
@attribute varchar(50),
@parent ArrayIntType READONLY
AS
/*
 * EDJ 2020-03-30 : add distinct from budgetid=0
 * EDJ 2020-04-06 : add distinct from budgetid=0
 */
BEGIN

	if @attribute='subchannel'
	begin
		IF @budgetid = 0  --* EDJ 2020-03-30
		BEGIN --* EDJ 2020-03-30
			select Id,LongDesc,ShortDesc from tbmst_subchannel m --* EDJ 2020-03-30
			inner join @parent on keyid=channelid --* EDJ 2020-03-30
			where isnull(isDelete, 0) = 0
		END --* EDJ 2020-03-30
		ELSE  --* EDJ 2020-03-30
		BEGIN
			select Id,LongDesc,ShortDesc from tbmst_subchannel m
			inner join @parent on keyid=channelid
			inner join tbtrx_allocation_subchannel a
			on iif(@budgetid=0,0,m.Id) = iif(@budgetid=0,0,a.SubChannelId ) 
			and iif(@budgetid=0,0,AllocationId) = iif(@budgetid=0,0,@budgetid)
			where isnull(m.isDelete, 0) = 0
		END
		
	end

	if @attribute='account'
	begin
		IF @budgetid = 0  --* EDJ 2020-04-06
		BEGIN --* EDJ 2020-04-06
			select Id,LongDesc,ShortDesc from tbmst_account m
			inner join @parent on keyid=subchannelid
			where isnull(isDelete, 0) = 0
		END
		ELSE
		BEGIN
			select DISTINCT Id,LongDesc,ShortDesc from tbmst_account m
			inner join @parent on keyid=subchannelid 
			inner join tbtrx_allocation_account a on 
			iif(@budgetid=0,0,m.Id) = iif(@budgetid=0,0,a.AccountId ) 
			and iif(@budgetid=0,0,AllocationId) = iif(@budgetid=0,0,@budgetid) 
			where isnull(m.isDelete, 0) = 0
		END		
	end

	if @attribute='subaccount'
	begin
		IF @budgetid = 0  --* EDJ 2020-04-06
		BEGIN --* EDJ 2020-04-06
			select Id,LongDesc,ShortDesc from tbmst_subaccount m
			inner join @parent on keyid=accountid
			where isnull(isDelete, 0) = 0
		END
		ELSE
		BEGIN		
			select DISTINCT Id,LongDesc,ShortDesc from tbmst_subaccount m
			inner join @parent on keyid=accountid
			inner join tbtrx_allocation_subaccount a 
			on iif(@budgetid=0,0,m.Id) = iif(@budgetid=0,0,a.SubAccountId) 
			and iif(@budgetid=0,0,AllocationId) = iif(@budgetid=0,0,@budgetid) 
			where isnull(m.isDelete, 0) = 0
		END		
	end


	if @attribute='activity'
	begin
		select Id,LongDesc,ShortDesc from tbmst_activity
		inner join @parent on keyid=SubCategoryId
		where isnull(isDeleted, 0) = 0
	end

	if @attribute='subactivity'
	begin
		select Id,LongDesc,ShortDesc from tbmst_subactivity
		inner join @parent on keyid=ActivityId
		where isnull(isDeleted, 0) = 0
	end

	if @attribute='brand'
	begin
		IF @budgetid = 0  --* EDJ 2020-03-30
		BEGIN --* EDJ 2020-03-30
			select Id,LongDesc,ShortDesc from tbmst_brand m
			inner join @parent on keyid=PrincipalId
			where isnull(isDeleted, 0) = 0
			ORDER BY m.LongDesc 
		END
		ELSE 
		BEGIN
			select Id,LongDesc,ShortDesc from tbmst_brand m
			inner join @parent on keyid=PrincipalId
			inner join tbtrx_allocation_brand a 
			on iif(@budgetid=0,0,m.Id) = iif(@budgetid=0,0,a.BrandId ) 
			and iif(@budgetid=0,0,a.AllocationId) = iif(@budgetid=0,0,@budgetid) 
			where isnull(m.isDeleted, 0) = 0
			ORDER BY m.LongDesc 
		END		
	end
	
	if @attribute='product'
	begin
		IF @budgetid = 0  --* EDJ 2020-03-30
		BEGIN --* EDJ 2020-03-30
			select Id,LongDesc,ShortDesc from tbmst_product m
			inner join @parent on keyid=BrandId
			where isnull(isDeleted, 0) = 0
			ORDER BY m.SeqNo
		END
		ELSE 
		BEGIN
			select Id,LongDesc,ShortDesc from tbmst_product m
			inner join @parent on keyid=BrandId
			inner join tbtrx_allocation_product a 
			on iif(@budgetid=0,0,m.Id) = iif(@budgetid=0,0,a.ProductId ) 
			and iif(@budgetid=0,0,AllocationId) = iif(@budgetid=0,0,@budgetid) 
			where isnull(m.isDeleted, 0) = 0
			ORDER BY m.SeqNo
		END		
	end


	if @attribute='distributor'
	begin
		select d.Id,d.LongDesc,d.ShortDesc from tbset_principal_distributor a
		inner join @parent on keyid=PrincipalId
		inner join tbmst_distributor d on a.DistributorId=d.Id
	end

	if @attribute='category'
	begin
		select Id,LongDesc,ShortDesc from tbmst_category a
		
	end

	--	custom by jummy for hierarchy subcategory budget allocation entry
	if @attribute='subcategory'
	begin
		select Id,LongDesc,ShortDesc from tbmst_subcategory m
		inner join @parent on keyid=categoryid		
	end
end
GO
