USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_investment_type_map_lp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_investment_type_map_lp]
    @ActivityId int
    ,@SubactivityId int
    ,@CategoryId int
    ,@SubcategoryId int
    
AS
BEGIN

    select tc.id CategoryId, tc.LongDesc Category, tsb.id SubCategoryId, tsb.LongDesc SubCategory, map.id,ts.ActivityId,ta.LongDesc Activity, ts.Id SubactivityId,ts.LongDesc Subactivity, map.InvestmentTypeId, tit.RefId InvestmentTypeCode, tit.LongDesc InvestmentType,
       iif(isnull(map.createby,'')='', bfr.DeleteOn, map.CreateOn) CreateOn, iif(isnull(map.createby,'')='', bfr.DeleteBy, map.CreateBy) CreateBy, map.IsDeleted
       , bfr.InvestmentTypeId InvestmentTypeId_bfr, tit2.RefId InvestmentTypeCode_bfr, tit2.LongDesc InvestmentType_bfr
    from tbmst_activity ta 
    inner join tbmst_subactivity ts on ta.id=ts.ActivityId and isnull(ts.IsDeleted,0)=0
    inner join tbmst_subcategory tsb on ta.SubCategoryId=tsb.id and isnull(tsb.IsDeleted,0)=0
    inner join tbmst_category tc on tsb.CategoryId=tc.id and isnull(tc.IsDeleted,0)=0
    left join tbset_map_investment_type map on ts.id=map.SubactivityId and isnull(map.IsDeleted,0)=0
    left join tbmst_investment_type tit on map.InvestmentTypeId=tit.id and isnull(tit.IsDeleted,0)=0
    left join (
        select a.* from tbset_map_investment_type_deleted a
        inner join (
            select SubactivityId, max(id) id
            from tbset_map_investment_type_deleted
            group by SubactivityId
        ) b on a.id=b.id
    ) bfr on bfr.SubactivityId=ts.id
    left join tbmst_investment_type tit2 on bfr.InvestmentTypeId=tit2.id --and isnull(tit2.IsDeleted,0)=0
    where isnull(ta.IsDeleted, 0)=0
    AND IIF(@CategoryId=0,0,tc.Id) =IIF(@CategoryId=0,0,@CategoryId)
    AND IIF(@SubcategoryId=0,0,tsb.Id) =IIF(@SubcategoryId=0,0,@SubcategoryId)
    AND IIF(@ActivityId=0,0,ta.Id) =IIF(@ActivityId=0,0,@ActivityId)
    AND IIF(@SubactivityId=0,0,ts.Id) =IIF(@SubactivityId=0,0,@SubactivityId)
end
GO
