

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_flagging_hist]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_xml_generate_flagging_hist]
    @ponumber varchar(50)
AS
BEGIN
--     Join tbset_user untuk mengambil email krn generatedemail itu untuk login by profile
	SELECT a.Id
	     , a.PONumber
	     , a.OriginalId
	     , concat(a.GenerateBy, ' - ', a.GeneratedEmail) GenerateBy
	     , a.GeneratedEmail
	     , a.GenerateOn
	     , a.isDeleted
	     , concat(a.DeletedBy, ' - ', a.DeletedEmail) DeletedBy
	     , a.DeletedEmail
	     , a.DeletedOn
	     , a.EntityId
	     , b.LongDesc Entity
	FROM tbxml_generate a
	LEFT JOIN tbmst_principal b on a.EntityId=b.id
    WHERE isnull(a.isDeleted, 0) = 1
    AND IIF(@ponumber='', '', a.PONumber) = IIF(@ponumber='', '', @ponumber)
    order by a.Id desc
END
GO
