USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_assignment_detail_select]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_assignment_detail_select] --'2022',0,0,'scnis2'
 @periode varchar(4)
,@entity int
,@distributor int
,@userid varchar(50)
AS
BEGIN
	SELECT a.Id, a.[Desc],a.BudgetAmount,a.OwnId,d.Periode,c.Id BudgetSourceId,a.IsAllocated
	FROM tbtrx_budgetassignment_detail a
	INNER JOIN tbtrx_budgetassignment b on a.AssignmentId=b.Id
	INNER JOIN tbtrx_allocation c on c.Id=b.AllocationId
	INNER JOIN tbtrx_budgetmaster d on d.Id=c.BudgetMasterId 
	WHERE OwnId=@userid and a.IsAllocated=0
	and d.Periode=@periode
	and IIF(@entity=0,0,d.PrincipalId)=IIF(@entity=0,0,@entity)
	and IIF(@distributor=0,0,d.DistributorId)=IIF(@distributor=0,0,@distributor)
	AND isnull(a.IsAllocated,0)=0

END




GO
