

/****** Object:  StoredProcedure [dbo].[ip_distributor_wht_create]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[ip_distributor_wht_create] 
@distributor varchar(50),
@subActivity varchar(50),
@subAccount varchar(50),
@createBy varchar(50),
@createEmail varchar(50),
@WHTType varchar(50)
as

BEGIN
	DECLARE @utcDate123 DATETIME,
			@ErrorMessage NVARCHAR(4000),
			@id int
	SET @utcDate123 = dbo.getUTCDateConversion()
	
	IF EXISTS (
		SELECT 1
		FROM tbset_distributor_wht
		WHERE distributor=@distributor AND subActivity=@subActivity AND subAccount=@subAccount AND WHTType=@WHTType
	)
	BEGIN
			SET	@ErrorMessage = 'Data Already Exist'
			RAISERROR (@ErrorMessage, -- Message text.
						16, -- Severity.
						1 -- State.
			);
	END
	ELSE
	BEGIN
		IF EXISTS (
			SELECT 1
			FROM tbset_distributor_wht
			WHERE distributor=@distributor AND subActivity=@subActivity AND subAccount=@subAccount
		)
		BEGIN
			SET	@ErrorMessage = 'Data Already Exist'
			RAISERROR (@ErrorMessage, -- Message text.
						16, -- Severity.
						1 -- State.
			);
		END
		ELSE 
		BEGIN
			INSERT INTO tbset_distributor_wht (distributor, subAccount, subActivity,WHTType, ModifiedBy, ModifiedEmail, ModifiedOn)
			VALUES (@distributor, @subAccount, @subActivity, @WHTType, @createBy, @createEmail, @utcDate123)
			SET @id = SCOPE_IDENTITY();
			--insert history
			INSERT INTO tbhis_distributor_wht (parentId, distributor, subAccount, subActivity, WHTType, [status], ModifiedBy, ModifiedEmail, ModifiedOn)
			SELECT id,distributor, subAccount, subActivity, WHTType, 'Create', ModifiedBy, ModifiedEmail, ModifiedOn
			FROM tbset_distributor_wht
			WHERE id = @id
		END
	END

END




GO
