USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_plan_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_promo_plan_approval]
@ApprovalPlanType as PromoPlanningApprovalType READONLY,
@userid varchar(50)

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

 DROP TABLE IF EXISTS _temp_ApprovalPlanType
 SELECT * INTO _temp_ApprovalPlanType FROM @ApprovalPlanType

BEGIN TRY

BEGIN TRANSACTION


 DECLARE 
        @rc integer,
        @FirstAllocated integer,        
		@RowCount integer,
        @Years integer,
        @SeqName nvarchar(20);

SELECT PromoPlanRefId, count(PromoPlanRefId)
FROM @ApprovalPlanType
GROUP BY PromoPlanRefId
HAVING count(PromoPlanRefId) > 1

IF @@ROWCOUNT>0
BEGIN
    RAISERROR('There are duplicate Promo Planning ID', 16, 1);
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    RETURN;
END

SELECT PromoPlanRefId
FROM @ApprovalPlanType
WHERE PromoPlanRefId NOT IN (SELECT refid FROM tbtrx_promo_planning)

IF @@ROWCOUNT>0
BEGIN
    RAISERROR('There are some Promo Planning ID not exist', 16, 1);
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    RETURN;
END


 IF NOT EXISTS
 (
	    SELECT 			
		    CONVERT(nchar(4),YEAR(IP.CreateOn)) CreateOn,
			PCP.ShortDesc2 PrincipalShortDesc,			
			act.ShortDesc as ActivityMappingCode   
			FROM @ApprovalPlanType INS
		INNER JOIN dbo.tbtrx_promo_planning AS IP
            ON IP.refid = INS.promoplanrefid
		INNER JOIN dbo.tbmst_principal AS pcp 
			on IP.EntityId=pcp.id
		INNER JOIN tbmst_activity as act 
			ON IP.activityid=act.Id		
        WHERE IP.LastStatus='created' and isnull(IP.tscode,'')=''
 )
    BEGIN
        RAISERROR('Approval failed, your promo plan already Approved', 16, 1);
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        RETURN;
    END;


DECLARE @createon varchar(4),@principalshortdesc varchar(3),@actmappingcode varchar(4)
	DECLARE cur1 CURSOR
	FOR
		SELECT DISTINCT			
--		    CONVERT(nchar(4),YEAR(IP.CreateOn)) CreateOn,
		    periode CreateOn,
			PCP.ShortDesc2 PrincipalShortDesc,			
			act.ShortDesc as ActivityMappingCode   
			FROM @ApprovalPlanType INS
		INNER JOIN dbo.tbtrx_promo_planning AS IP
            ON IP.refid = INS.promoplanrefid
		INNER JOIN dbo.tbmst_principal AS pcp 
			on IP.EntityId=pcp.id
		INNER JOIN tbmst_activity as act 
			ON IP.activityid=act.Id		
        WHERE IP.LastStatus='created'
		
	OPEN cur1
	FETCH NEXT FROM cur1 INTO @createon,@principalshortdesc,@actmappingcode;

	WHILE @@FETCH_STATUS = 0  
    BEGIN

		


		/*********************************/

		SELECT 
		@RowCount = COUNT(*),
		@Years = COUNT(DISTINCT(YEAR(@utcDate123 ))),
		@SeqName = @principalshortdesc + '-' +
		@actmappingcode + ' ' +	
		@createon
		FROM @ApprovalPlanType AS INS
		JOIN dbo.tbtrx_promo_planning AS IP
		ON IP.refid = INS.promoplanrefid
		INNER JOIN tbmst_principal pcp 
			ON IP.EntityId=pcp.Id
		INNER JOIN tbmst_activity as act 
			ON IP.activityid=act.Id		
		WHERE IP.laststatus='created' 
		AND pcp.ShortDesc2=@principalshortdesc
		AND act.ShortDesc=@actmappingcode
		AND Periode=@createon;


/* cek
 * 
 */
 --INSERT into mytmp(f1, f2,f3,f4) values('rowcount', @RowCount,@principalshortdesc, @actmappingcode)

if @RowCount > 0

begin

	 EXECUTE @rc = dbo.[ip_allocated_sequence]
        @SequenceName = @SeqName,
        @RangeSize = @RowCount,
        @FirstAllocated = @FirstAllocated OUTPUT;
       
--INSERT into mytmp(f1,f2) values('rc',@rc)
--INSERT into mytmp(f1,f2) values('SeqName',@SeqName)

    IF @rc <> 0
    BEGIN
        RAISERROR('Sequence allocation failed.', 16, 1);
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        RETURN;
    END;

    -- Assign ImportPermitNo values using the sequence numbers allocated
    WITH Sequenced AS
    (
        SELECT
            IP.lastStatus,
			IP.TSCode,
            IP.TSCodeOn,
            IP.TSCodeBy,
--            RIGHT(YEAR(IP.CreateOn),2) CreateOn,
            RIGHT(periode,2) CreateOn,
			PCP.ShortDesc2 PrincipalShortDesc,
			IP.[CategoryShortDesc],
			act.ShortDesc as ActivityMappingCode,
            Seq = 
                @FirstAllocated - 1 + 
                ROW_NUMBER() OVER (
                    ORDER BY IP.id ASC)
        FROM @ApprovalPlanType AS INS
        JOIN dbo.tbtrx_promo_planning AS IP
            ON IP.refid = INS.promoplanrefid
		INNER JOIN dbo.tbmst_principal AS pcp 
			on IP.EntityId=pcp.id
		INNER JOIN tbmst_activity as act 
			ON IP.activityid=act.Id		
        WHERE IP.LastStatus='created'
		AND pcp.ShortDesc2=@principalshortdesc
		AND act.ShortDesc=@actmappingcode
		AND Periode=@createon

    )

    UPDATE Sequenced
    SET Sequenced.TSCode = 
	CAST(Sequenced.PrincipalShortDesc as varchar) + '-' +
	CAST(Sequenced.ActivityMappingCode as varchar) +	
	CAST(Sequenced.CreateOn as varchar) + '-' +
    right('0000'+CONVERT([varchar](4),Sequenced.Seq ),(4)),
	Sequenced.LastStatus='approved',
    Sequenced.TSCodeOn=@utcDate123,
    Sequenced.TSCodeBy=@userid

end
	


		/*********************************/

    FETCH NEXT FROM cur1 INTO @createon,@principalshortdesc,@actmappingcode;	  
    END;

	CLOSE cur1;
	DEALLOCATE cur1;
	


	

	SELECT COUNT(*) totalplanning,SUM(investment) totalinvestment FROM tbtrx_promo_planning a
	inner join @ApprovalPlanType b on a.refid=b.PromoPlanRefId

	SELECT id planningid,refid planningrefid,a.tscode,a.investment FROM tbtrx_promo_planning a
	inner join @ApprovalPlanType b on a.refid=b.PromoPlanRefId




COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH
GO
