USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_developer_promo_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_developer_promo_update]
AS 
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * SP ini untuk update investment backdoor
 */
BEGIN

	DECLARE @userid varchar(50);
	DECLARE @PromoId int;
	DECLARE @refid nvarchar(50);
	DECLARE @investment numeric(19,2);

	DECLARE cursor_promo CURSOR
	FOR SELECT id, refid, investment 
		FROM _20201030_promo_update_investment
	;
	 
	SET @userid = 'developer';
	OPEN cursor_promo;
	FETCH NEXT FROM cursor_promo
	INTO @PromoId, @refid, @investment;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		DECLARE @ParentId_his int
		
		UPDATE tp SET tp.investment=upd.investment
		FROM tbtrx_promo tp inner join _20201030_promo_update_investment upd ON tp.id=upd.id
		WHERE tp.id = @PromoId
		
		INSERT INTO tbhis_promo_parent(
			StatusAction
			,ActionOn
			,ActionBy
		) VALUES (
			'update'
			,@utcDate123
			,'developer'
		)
		SET @ParentId_his=(SELECT SCOPE_IDENTITY())

		INSERT INTO [tbhis_promo] (
		ParentId,
		Id,
		PromoPlanId,
		AllocationId,
		AllocationRefId,
		CategoryShortDesc,
		PrincipalShortDesc,
		BudgetMasterId,
		CategoryId,
		SubCategoryId,
		ActivityId,
		SubActivityId,
		ActivityDesc,
		StartPromo,
		EndPromo,
		Mechanisme1,
		Mechanisme2,
		Mechanisme3,
		Mechanisme4,
		Investment,
		NormalSales,
		IncrSales,
		Roi,
		CostRatio,
		StatusApprovalCode,
		StatusApproval,
		StatusApprovalCodeRecon,
		StatusApprovalRecon,
		Notes,
		IsActive,
		IsLocked,
		CreateOn,
		CreateBy,
		ModifiedOn,
		ModifiedBy,
		IsDelete,
		DeleteOn,
		DeleteBy,
		ApproveOn,
		ApproveOnRecon,
		Approver,
		ApproverRecon,
		ApprovalNotes,
		ApprovalNotesRecon,
		OldInvest,
		IsCancel,
		CancelOn,
		CancelBy,
		CancelNotes,
		IsCancelLocked,
		LastStatusRecon,
		LastStatus,
		TsCoding,
		PromoNumber,
		RefId,
		IsClose,
		CloseOn,
		CloseBy,
		Reconciled,
		ReconciledOn,
		ReconciledBy	
		)
		SELECT @ParentId_his,
		t.Id,
		t.PromoPlanId,
		t.AllocationId,
		t.AllocationRefId,
		t.CategoryShortDesc,
		t.PrincipalShortDesc,
		t.BudgetMasterId,
		t.CategoryId,
		t.SubCategoryId,
		t.ActivityId,
		t.SubActivityId,
		t.ActivityDesc,
		t.StartPromo,
		t.EndPromo,
		t.Mechanisme1,
		t.Mechanisme2,
		t.Mechanisme3,
		t.Mechanisme4,
		t.Investment,
		t.NormalSales,
		t.IncrSales,
		t.Roi,
		t.CostRatio,
		t.StatusApprovalCode,
		t.StatusApproval,
		t.StatusApprovalCodeRecon,
		t.StatusApprovalRecon,
		t.Notes,
		t.IsActive,
		t.IsLocked,
		t.CreateOn,
		t.CreateBy,
		t.ModifiedOn,
		t.ModifiedBy,
		t.IsDelete,
		t.DeleteOn,
		t.DeleteBy,
		t.ApproveOn,
		t.ApproveOnRecon,
		t.Approver,
		t.ApproverRecon,
		t.ApprovalNotes,
		t.ApprovalNotesRecon,
		t.OldInvest,
		t.IsCancel,
		t.CancelOn,
		t.CancelBy,
		t.CancelNotes,
		t.IsCancelLocked,
		t.LastStatusRecon,
		t.LastStatus,
		t.TsCoding,
		t.PromoNumber,
		t.RefId,
		t.IsClose,
		t.CloseOn,
		t.CloseBy,
		t.Reconciled,
		t.ReconciledOn,
		t.ReconciledBy	
		FROM tbtrx_promo t
		LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id	
		LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId
		WHERE t.id = @PromoId
	
		INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
		SELECT @ParentId_his,@PromoId,t.RegionId from tbtrx_promo_region t 
		WHERE t.PromoId = @PromoId
		
		INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId)
		SELECT @ParentId_his,@PromoId,t.ChannelId from tbtrx_promo_channel t 
		WHERE t.PromoId = @PromoId
	
		INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId)
		SELECT @ParentId_his,@PromoId, t.ChannelId, t.SubChannelId from tbtrx_promo_subchannel t 
		WHERE t.PromoId = @PromoId
		
		INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId)
		SELECT @ParentId_his,@PromoId,t.SubChannelId,t.AccountId from tbtrx_promo_account t 
		WHERE t.PromoId = @PromoId
	
		INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId)
		SELECT @ParentId_his,@PromoId,t.AccountId,t.SubAccountId from tbtrx_promo_subaccount t  
		WHERE t.PromoId = @PromoId
	
		INSERT INTO tbhis_promo_brand(ParentId,PromoId,BrandId)
		SELECT @ParentId_his,@PromoId,t.BrandId from tbtrx_promo_brand t  
		WHERE t.PromoId = @PromoId
	
		INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId)
		SELECT @ParentId_his,@PromoId,t.BrandId,t.ProductId from tbtrx_promo_product t 
		WHERE t.PromoId = @PromoId
		
		INSERT INTO tbhis_promo_doclink(ParentId,PromoId,DocLink,[FileName],CreateOn,Createby)
		SELECT @ParentId_his,@PromoId,DocLink,[Filename],@utcDate123,@userid FROM tbtrx_promo_doclink t
		WHERE t.PromoId = @PromoId
		
		FETCH NEXT FROM cursor_promo
		INTO @PromoId, @refid, @investment;
	END

	CLOSE cursor_promo;
	DEALLOCATE cursor_promo;
END
GO
