

/****** Object:  StoredProcedure [dbo].[ip_viewmap_product]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_viewmap_product]
as
select a.id as brandid, b.id as productid, c.id as entityid, 
a.refid as brandrefid , b.refid as productrefid, c.refid as entityrefid, 
a.longdesc as branddesc, b.longdesc as productdesc, c.LongDesc as entitydesc, d.SAPCode from tbmst_brand a
inner join tbmst_product b on a.id=b.BrandId
inner join tbmst_principal c on a.PrincipalId=c.id
left join tbset_map_product_sap d on b.id=d.ProductId

GO
