

/****** Object:  StoredProcedure [dbo].[ip_budgetmaster_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[ip_budgetmaster_list]
--DECLARE 
 @periode      varchar(4)
,@entity       int
,@distributor  int
,@budgetparent int
,@channel      int
,@userid       varchar(50)

--SET @periode ='2021'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel='0'
--SET @userid='admin'

AS
BEGIN
	SELECT  
		A.Id  
		,A.Periode
		,A.RefId
		,A.DistributorId
		,A.PrincipalId
		,A.OwnerId
		,A.StartDate
		,A.EndDate
		,A.IsActive
		,A.BudgetAmount
		,A.IsAllocated
		,A.CategoryId
		,A.LongDesc BudgetMasterLongDesc
		,A.ShortDesc  BudgetMasterShortDesc
		,A.CreateOn
		,A.CreateBy
		,A.CreateOn
		,A.ModifiedOn
		,A.ModifiedBy
		,A.IsDelete
		,A.DeleteOn
		,A.DeleteBy
		,A.CreateEmail  
		,A.ModifiedEmail
		,A.DeleteEmail 
		,B.LongDesc DistributorLongDesc
		,B.ShortDesc DistributorShortDesc
		,B.CompanyName
		,B.[Address]
		,B.NPWP
		,C.LongDesc PrincipalLongDesc
		,C.ShortDesc PrincipalShortDesc
		,D.username
		,E.LongDesc CategoryLongDesc
	FROM  
		tbtrx_budgetmaster A LEFT OUTER JOIN
		tbmst_category E ON A.CategoryId = E.Id LEFT OUTER JOIN
		tbmst_distributor B ON A.DistributorId = B.Id LEFT OUTER JOIN
		tbmst_principal C ON A.PrincipalId = C.Id LEFT OUTER JOIN
		tbset_user D ON A.OwnerId = D.id
	WHERE 
		A.Periode=@periode 
		AND IIF(@entity=0,'',A.PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',A.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@userid='0','0',A.CreateBy) =IIF(@userid='0','0',@userid)

	ORDER BY A.Id
END

GO
