

/****** Object:  StoredProcedure [dbo].[ip_getlastuseractivities_forpakjo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_getlastuseractivities_forpakjo] AS 
SELECT  
t1.usergroupname ProfileGroupMenu, ProfileID, OwnerEmail, OwnerName, LastLogin, LastPasswordChange, InactiveStatus, InactiveOn
, PromoActDate, t2.PromoAct, ApprovalActDate, t3.ApprovalAct, DNActDate, t4.DNAct
FROM (
		SELECT x.usergroupname, b.id ProfileID, a.email OwnerEmail, a.username OwnerName, a.lastLogin, a.password_change LastPasswordChange, iif(isnull(a.isdeleted,0)=0,'NO','YES') InactiveStatus, iif(isnull(a.isdeleted,0)=1,a.deletedon,NULL) InactiveOn
			, c.PromoActDate
			, d.ApprovalActDate
			, e.DNActDate
			, c.promoid, d.RequestId, e.dnstatusid
			, a.dateinput
				FROM tbset_user_login a
		INNER JOIN tbset_user b ON a.email=b.email
		INNER JOIN tbset_usergroup x ON b.usergroupid=x.usergroupid and x.usergroupid<>'999.999'
		LEFT JOIN 
			(SELECT MAX(id)promoid, CreateBy, MAX(ISNULL(ModifiedOn,CreateOn)) PromoActDate FROM tbtrx_promo GROUP BY CreateBy) c ON b.id=c.CreateBy
		LEFT JOIN 
			(SELECT MAX(RequestId)RequestId, UserApprover, MAX(actiondate) ApprovalActDate FROM tbtrx_promo_approval WHERE status<>'TP1' GROUP BY UserApprover) d ON b.id=d.UserApprover
		LEFT JOIN 
			(SELECT MAX(id)dnstatusid,  CreateBy, MAX(CreateOn) DNActDate FROM tbtrx_debetnote_status_log GROUP BY CreateBy) e ON b.id=e.CreateBy
	)t1
	LEFT JOIN (
		SELECT id, iif(ModifiedOn IS NULL,'Create Promo','Modify Promo') PromoAct FROM tbtrx_promo) t2 ON t2.Id=t1.promoid
	LEFT JOIN (
		SELECT RequestId, IIF(Status='TP2','Approve Promo','Send Back Promo')ApprovalAct, UserApprover FROM tbtrx_promo_approval) t3 ON t3.RequestId=t1.RequestId and t3.UserApprover=t1.ProfileID
	LEFT JOIN (
		SELECT id, DNStatus DNAct FROM tbtrx_debetnote_status_log) t4 ON t4.Id=t1.dnstatusid
ORDER BY ProfileGroupMenu,ProfileID

GO
