USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_insert_promo_planning]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_insert_promo_planning]
@IsNew bit
,@Promo PromoPlanningType READONLY
,@Region BudgetAllocationChildsType READONLY
,@Channel BudgetAllocationChildsType READONLY
,@SubChannel BudgetAllocationChildsType READONLY
,@Account BudgetAllocationChildsType READONLY
,@SubAccount BudgetAllocationChildsType READONLY
,@Brand BudgetAllocationChildsType READONLY
,@Sku BudgetAllocationChildsType READONLY
--,@messageout varchar(255) OUT

AS
/*
 * EDJ 2020-05-29 add A.CategoryId=B.CategoryId --add by jummy
				,A.SubCategoryId=B.SubCategoryId -- add by jummy
   EDJ 2020-07-22 add 				,A.EntityId=B.EntityId -- add by jummy
				,A.DistributorId=B.DistributorId -- add by jummy
 */

BEGIN TRY
BEGIN TRANSACTION

DECLARE
@rowcount int,
@PromoPlanId int

DECLARE @p_reqid int

DECLARE
	@AllocationId int,
	@Periode varchar(4),
	@PrincipalId int,
	@DistributorId int,
	@SubActivityType int,
	@SubCategoryId int,
	@ChannelId int,
	@SubChannelId int,
	@Initiator varchar(50),
	@Investment numeric (19,0),
	@PrevTotInvest numeric (19,0),
	@TotSales numeric (19,0),
	@PrevTotSales numeric (19,0),
	@IncrSales numeric (19,0),
	@PrevIncrSales numeric (19,0),
	@NormalSales numeric (19,0),
	@PrevNormalSales numeric (19,0),
	@StartPromo date,
	@EndPromo date,
	@matrixid int,
	@messageout nvarchar(255),
	@RequestId int,

	@budgetamount numeric(19,2),
	@remainingamount numeric(19,2),
	@promorefid varchar(50),
	@roi numeric(19,2),
	@PrevRoi numeric(19,2),
	@costratio numeric(19,2),
	@PrevCostRatio numeric(19,2),
	@statusapproval VARCHAR(255),
	@oldinvest numeric(19,0),
	@tscoding varchar(50),
	@investmentTypeId int
    ,@late_submission_day int
    
    SET @late_submission_day=(SELECT daysfrom FROM tbset_config_reminder WHERE id = 501)

	IF NOT EXISTS(
	SELECT sequence_name FROM tbtrx_sequence_table WHERE sequence_name=N'PROMOPLAN ' + CONVERT(nchar(4), YEAR(getdate()))
	)
	BEGIN
		INSERT dbo.tbtrx_sequence_table
		(sequence_name, next_value)
		VALUES
		(N'PROMOPLAN ' + CONVERT(nchar(4), YEAR(getdate())),1)
	END


	SELECT TOP 1
	@SubCategoryId=t.SubCategoryId
	,@PromoPlanId=t.PromoPlanId
	,@Periode=t.Periode
	,@PrincipalId=t.EntityId
	,@DistributorId=t.DistributorId
	,@SubActivityType=st.Id
	,@ChannelId=tc.Id
	,@SubChannelId=tsc.Id
	,@Initiator=t.CreateBy
	,@Investment=t.Investment
	,@NormalSales=t.NormalSales
	,@IncrSales=t.IncrSales
	,@Startpromo=t.StartPromo
	,@EndPromo=t.EndPromo
	,@investmentTypeId = tmit.InvestmentTypeId

	,@roi=t.roi
	,@costratio=t.costratio

	FROM @Promo t
	INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
	INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
	INNER JOIN @Channel tc on 1=1
	INNER JOIN @SubChannel tsc on 1=1
	LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId

	--SET @messageout=@Periode +' '+ CAST(@PrincipalId AS VARCHAR) + ' ' + CAST(@DistributorId AS VARCHAR) + ' ' + CAST(@SubActivityType AS VARCHAR) + ' ' + CAST(@ChannelId AS VARCHAR) + ' ' + @initiator + ' ' + CAST(@Investment AS VARCHAR)
	--select 1 as bool,@messageout as [message],422 as [statuscode]
	--select 1 as bool,1 as Id,@Periode as [RefId], 200 as [statuscode]
	--RETURN

    /*************************************
    * Cek Set ROI and CostRatio
    **************************************/
	DECLARE
        @set_minroi numeric(19,2),
        @set_maxroi numeric(19,2),
        @set_mincr numeric(19,2),
	    @set_maxcr numeric(19,2),
        @subactivity varchar(255),
        @err_conf int

    SELECT
        @set_mincr=st.MinimumCostRatio
        ,@set_maxcr=st.MaksimumCostRatio
        ,@set_minroi=st.MinimumROI
         ,@set_minroi=st.MaksimumROI
        ,@subactivity=sa.LongDesc
	FROM @Promo t
	INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
    INNER JOIN tbset_roi_cr st on sa.id=st.id

--     insert into mytmp(f1,f2) values('set_cr', @set_cr)
--     insert into mytmp(f1,f2) values('set_roi', @set_roi)
--     IF @set_minroi is not null or @set_maxroi is not null
--     BEGIN
--   IF @roi < @set_minroi or @roi > @set_maxroi
--             BEGIN
-- --                 SET @messageout='Minimum ROI ' + FORMAT(@set_roi, 'P0') + ' PERCENT';
-- --                 SET @messageout=N'Minimum ROI ' + cast(@set_roi as varchar) + '%%';
-- -- select @messageout = 'Minimum ROI ' + cast(@set_roi as varchar) + ' PERCENT';
--                     select @messageout = N'For ' + @subactivity +', Min. ROI for is ' + FORMAT(@set_minroi, 'N0') + N' percent & Max. ROI is ' + FORMAT(@set_maxroi, 'N0') + ' percent';
-- --                 insert into mytmp(f1) values (@messageout);
--                 RAISERROR (@messageout, -- Message text.
--                    16, -- Severity.
--                    1 -- State.
--                    );
-- 
--             END
--     END
--     IF @set_mincr is not null or @set_maxcr is not null
--     BEGIN
--         IF @costratio<@set_mincr or @costratio > @set_maxcr
--             BEGIN
-- --                 SET @messageout='Maximum Cost Ratio ' + FORMAT(@set_cr, 'P0') + ' PERCENT';
-- --                 SET @messageout=N'Maximum Cost Ratio ' + cast(@set_cr as varchar) + '%%';
-- --                 select @messageout = 'Maximum Cost Ratio ' + cast(@set_cr as varchar) + ' PERCENT';
--                     select @messageout = N'For ' + @subactivity +', Min. Cost Ratio for is ' + FORMAT(@set_mincr, 'N0') + N' percent & Max. Cost Ratio is ' + FORMAT(@set_maxcr, 'N0') + ' percent';
-- --                 insert into mytmp(f1) values (@messageout);
--                 RAISERROR (@messageout, -- Message text.
--                    16, -- Severity.
--                    1 -- State.
--                    );
-- 
--             END
--     END

declare @entitiydesc varchar(255)
declare @distributordesc varchar(255)
declare @subactivitytypedesc varchar(255)
declare @channeldesc varchar(255),@subchanneldesc varchar(255)

select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId


IF @IsNew = 1
BEGIN
/*********************
PROSES NEW
*********************/





	INSERT INTO [tbtrx_promo_planning]
	(
	Periode
	,EntityId
	,DistributorId
	,PrincipalShortDesc
	,CategoryShortDesc
	,CategoryId
	,SubCategoryId
	,ActivityId
	,SubActivityId
	,ActivityDesc
	,StartPromo
	,EndPromo
	,Mechanisme1
	,Mechanisme2
	,Mechanisme3
	,Mechanisme4
	,Investment
	,NormalSales
	,IncrSales
	,Roi
	,CostRatio
	,Notes
	,LastStatus
	,CreateOn
	,CreateBy
	,initiator_notes
	,InvestmentTypeId 
	,late_submission_day
	)
	SELECT
	Periode
	,EntityId
	,DistributorId
	,p.ShortDesc PrincipalShortDesc
	,ctg.ShortDesc CategoryShortDesc
	,t.CategoryId
	,t.SubCategoryId
	,t.ActivityId
	,t.SubActivityId
	,ActivityDesc
	,StartPromo
	,EndPromo
	,Mechanisme1
	,Mechanisme2
	,Mechanisme3
	,Mechanisme4
	,Investment
	,NormalSales
	,IncrSales
	,Roi
	,CostRatio
	,Notes
	,'created'
	,(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC' CreateOn
	,t.CreateBy
	,t.initiator_notes
	,@investmentTypeId
	,@late_submission_day
	FROM @Promo t
	LEFT JOIN tbmst_principal p on t.EntityId=p.Id
	LEFT JOIN tbmst_category ctg on ctg.Id=t.CategoryId


	SET @rowcount=@@ROWCOUNT

	if @rowcount = 0
	begin
	     SET @messageout='Unable to save promotion planning !'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end


	SET @PromoPlanId=(SELECT SCOPE_IDENTITY())

	SET @promorefid=(SELECT RefId from tbtrx_promo_planning where Id=@PromoPlanId)



	IF @rowcount <> 0
	BEGIN
		 /*********************
		 INSERT ATTRIBUTE
		 *********************/

			INSERT INTO tbtrx_promo_planning_region(PromoPlanId,RegionId)
			SELECT @PromoPlanId,t.Id from @Region t inner join tbmst_region a on a.Id=t.Id


			INSERT INTO tbtrx_promo_planning_channel(PromoPlanId,ChannelId)
			SELECT @PromoPlanId,t.Id from @Channel t inner join tbmst_channel a on a.Id=t.Id


			INSERT INTO tbtrx_promo_planning_subchannel(PromoPlanId,ChannelId,SubChannelId)
			SELECT @PromoPlanId,ParentId,t.Id from @SubChannel t inner join tbmst_subchannel a on a.Id=t.Id


			INSERT INTO tbtrx_promo_planning_account(PromoPlanId,SubChannelId,AccountId)
			SELECT @PromoPlanId,ParentId,t.Id from @Account t inner join tbmst_account a on a.Id=t.Id


			INSERT INTO tbtrx_promo_planning_subaccount(PromoPlanId,AccountId,SubAccountId)
			SELECT @PromoPlanId,ParentId,t.Id from @SubAccount t inner join tbmst_subaccount a on a.Id=t.Id


			INSERT INTO tbtrx_promo_planning_brand(PromoPlanId,BrandId)
			SELECT @PromoPlanId,t.Id from @Brand t inner join tbmst_brand a on a.Id=t.Id


			INSERT INTO tbtrx_promo_planning_product(PromoPlanId,BrandId,ProductId)
			SELECT @PromoPlanId,ParentId,t.Id from @Sku t inner join tbmst_product a on a.Id=t.Id

  END




	select 1 as bool
	,@PromoPlanId as [Id]
	,@promorefid as [RefId]
	,200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	FROM tbtrx_promo_planning pr
	inner join tbset_user a on pr.CreateBy=a.Id
	where pr.Id=@PromoPlanId


END

/*********************
SELESAI PROSES NEW
*********************/




/*********************
PROSES UPDATE
*********************/
if @IsNew=0



	BEGIN



		 /*********************
		 DELETE INSERT ATTRIBUTE
		 *********************/
			DELETE FROM tbtrx_promo_planning_region WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_region(PromoPlanId,RegionId)
			SELECT @PromoPlanId,t.Id from @Region t inner join tbmst_region a on a.Id=t.Id

			DELETE FROM tbtrx_promo_planning_channel WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_channel(PromoPlanId,ChannelId)
			SELECT @PromoPlanId,t.Id from @Channel t inner join tbmst_channel a on a.Id=t.Id

			DELETE FROM tbtrx_promo_planning_subchannel WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_subchannel(PromoPlanId,ChannelId,SubChannelId)
			SELECT @PromoPlanId,ParentId,t.Id from @SubChannel t inner join tbmst_subchannel a on a.Id=t.Id

			DELETE FROM tbtrx_promo_planning_account WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_account(PromoPlanId,SubChannelId,AccountId)
			SELECT @PromoPlanId,ParentId,t.Id from @Account t inner join tbmst_account a on a.Id=t.Id

			DELETE FROM tbtrx_promo_planning_subaccount WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_subaccount(PromoPlanId,AccountId,SubAccountId)
			SELECT @PromoPlanId,ParentId,t.Id from @SubAccount t inner join tbmst_subaccount a on a.Id=t.Id

			DELETE FROM tbtrx_promo_planning_brand WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_brand(PromoPlanId,BrandId)
			SELECT @PromoPlanId,t.Id from @Brand t inner join tbmst_brand a on a.Id=t.Id

			DELETE FROM tbtrx_promo_planning_product WHERE PromoPlanId=@PromoPlanId
			INSERT INTO tbtrx_promo_planning_product(PromoPlanId,BrandId,ProductId)
			SELECT @PromoPlanId,ParentId,t.Id from @Sku t inner join tbmst_product a on a.Id=t.Id


				UPDATE A
				SET
				a.periode=@Periode
				,A.CategoryId=B.CategoryId --add by jummy
				,A.SubCategoryId=B.SubCategoryId -- add by jummy
				,A.EntityId=B.EntityId -- add by jummy
				,A.DistributorId=B.DistributorId -- add by jummy
				,A.ActivityId=B.ActivityId
				,A.SubActivityId=B.SubActivityId
				,A.ActivityDesc=B.ActivityDesc
				,A.StartPromo=B.StartPromo
				,A.EndPromo=B.EndPromo
				,A.Mechanisme1=B.Mechanisme1
				,A.Mechanisme2=B.Mechanisme2
				,A.Mechanisme3=B.Mechanisme3
				,A.Mechanisme4=B.Mechanisme4
				,A.Investment =B.Investment
				,A.NormalSales=B.NormalSales
				,A.IncrSales=B.IncrSales
				,A.Roi=B.Roi
				,A.CostRatio=B.CostRatio
				,A.Notes=B.Notes
				,A.ModifiedBy=@initiator
				,A.ModifiedOn=(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
				,A.initiator_notes=B.initiator_notes
				,A.investmentTypeId=@investmentTypeId
				FROM tbtrx_promo_planning A
				inner join @Promo B on A.Id=B.PromoPlanId
				WHERE Id=@PromoPlanId
			--------------







	select @messageout=@PromoPlanId

	select 1 as bool
	,@PromoPlanId as [Id]
	,@promorefid as [RefId]
	,200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	,IIF(@statusapproval='TP2',1,0) [IsFullyApproved]
	FROM tbtrx_promo_planning pr
	inner join tbset_user a on pr.CreateBy=a.Id
	where pr.Id=@PromoPlanId

END




/*********************
SELESAI PROSES UPDATE
*********************/
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
