USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_hlp_investment_notif_cek]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_hlp_investment_notif_cek] --'2022','admin'
 @periode varchar(4)
,@userid varchar(50)
AS
BEGIN
	DECLARE 
		@year int
		,@create_from date
		,@create_to date
		,@start_from date
		,@start_to date
		,@DNClaim_accr numeric(19)
		,@DNClaim_promo numeric(19)
		,@DNClaim_dn numeric(19)
		,@DNPaid_accr numeric(19)
		,@DNPaid_promo numeric(19)
		,@DNPaid_dn numeric(19)
		
	;
	
	SET @year = CAST(CAST(@periode AS NUMERIC) - 1 AS VARCHAR(4));
	SET @create_from=(SELECT CONVERT(date,CONCAT(@year,'-01-01'),120));
	SET @create_to=(SELECT CONVERT(date,CONCAT(@periode,'-12-31'),120));
	SET @start_from=(SELECT CONVERT(date,CONCAT(@periode,'-01-01'),120));
	SET @start_to=(SELECT CONVERT(date,CONCAT(@periode,'-12-31'),120));
	
--	exec ip_hlp_investment @periode, 0, 0, 0, 0, @userid;
	exec ip_hlp_investment_accrual @periode, 0, 0, 0, 0, @userid, @start_to
	exec ip_hlp_investment_promo @periode, 0, 0, 0, 0, @userid, @create_from, @create_to, @start_from, @start_to, 30;
	exec ip_hlp_investment_dn @periode,0,0,0,0,@userid;
	
--	select sum(isnull(DNClaimed,0)) DNClaimed, sum(isnull(DNPaid,0)) DNPaid from tbhlp_investment
	select @DNClaim_accr=sum(isnull(DNClaim,0)), @DNPaid_accr=sum(isnull(DNPaid,0)) from tbhlp_investment_accrual where userid = @userid
	select @DNClaim_promo=sum(isnull(DNClaim,0)), @DNPaid_promo=sum(isnull(DNPaid,0)) from tbhlp_investment_promo where userid = @userid
	select @DNClaim_dn=sum(isnull(TotalClaim,0)), @DNPaid_dn=sum(isnull(TotalPaid,0)) from tbhlp_investment_dn where userid = @userid

	SELECT @DNClaim_accr DNClaim, @DNPaid_accr DNPaid
	SELECT @DNClaim_promo DNClaim, @DNPaid_promo DNPaid
	SELECT @DNClaim_dn DNClaim, @DNPaid_dn DNPaid
	
	select b.BudgetSource, b.PromoNumber, b.DNClaim_promo, b.DNPaid_promo, a.RefId DNNumber, a.TotalClaim, a.TotalPaid, b.GAP_DNClaim, b.GAP_DNPaid
	from tbhlp_investment_dn a 
	inner join (
		select a.id,a.BudgetSource, a.PromoNumber, a.DNClaim DNClaim_promo, a.DNPaid DNPaid_promo
			, sum(isnull(TotalClaim,0)) DNClaim, sum(isnull(TotalPaid,0)) DNPaid
			, a.DNClaim-sum(isnull(TotalClaim,0)) GAP_DNClaim, a.DNPaid-sum(isnull(TotalPaid,0)) GAP_DNPaid
		from tbhlp_investment_promo a
		inner join tbhlp_investment_dn b on a.id=b.promoid and a.userid = b.userid
		where a.userid = @userid
		group by a.id,a.BudgetSource, a.PromoNumber, a.DNClaim, a.DNPaid
		having isnull(a.DNClaim,0)<>sum(isnull(TotalClaim,0)) or isnull(a.DNPaid,0)<>sum(isnull(TotalPaid,0))
	) b on a.promoid=b.id
	
--	select @periode, 0, 0, 0, 0, @userid, @create_from, @create_to, @start_from, @start_to, 30
END
GO
