USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_for_validatebyfinance_paralel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_debetnote_list_for_validatebyfinance_paralel] --'validate_by_finance','admin', 0, 0,'0'
@status varchar(50),
@userid varchar(50),
@entityid int,
@distributorid int,
@TaxLevel varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN	
	DECLARE @profitcenter varchar(10)
	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
			
	IF isnull(@profitcenter,'')='1100'
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,ob.PromoId
		,ob.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,IIF(a.StatusSalesCode='TP2', 'validate_by_sales', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,a.IsOverBudget
		,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
		,d.RefId sp_ho
		,f.Refid sp_principal
		,IIF(a.IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo 
		,a.Notes 
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel	
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark by Sales', 'No'))) SalesValidationStatus
	 	,a.FPNumber
	 	,a.FPDate
	 	,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired
	 	,isnull(a.VATExpired, 0) DNVATExpired
        ,doc.Original_Invoice_from_retailers
        ,doc.Tax_Invoice
        ,doc.Promotion_Agreement_Letter
        ,doc.Trading_Term
        ,doc.Sales_Data
        ,doc.Copy_of_Mailer
        ,doc.Copy_of_Photo_Doc
        ,doc.List_of_Transfer	 		 	
        ,ob.Remaining
        ,a.PrincipalId entityId
        ,a.statusPPH
        ,tdw.WHTType
        ,iif ((((isnull(a.promoId, 0) = 0 OR isnull(a.isOverBudget,0) <> 0 OR isnull(a.TaxLevel, '') = '') 
	        AND isnull(a.isDNPromo,0) = 1) OR a.lastStatus = 'validate_by_finance') 
	        OR (tdw.WHTtype = 'WHT Deductible' AND isnull(a.pphamt,0) = 0) OR isnull(tdw.WHTType,'') = '', 0, 1) tickable
		, a.PPHPct
		, a.PPHAmt
		from tbtrx_debetnote a
		LEFT JOIN tbtrx_debetnote_doc_completeness doc on a.id=doc.DNId
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN
		(
	        SELECT
	        pr.Id PromoId,
	        pr.RefId RefId,
			mc.ShortDesc,
			pr.investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0)))  Remaining	        
	        from tbtrx_promo pr WITH (nolock)
			inner join tbmst_category mc WITH (nolock) on pr.categoryId = mc.id
	        inner join  tbtrx_debetnote dn WITH (nolock) on pr.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 --AND pr.Id=28989
	        group by pr.id, pr.refid, pr.investment, mc.ShortDesc
		) ob ON a.promoId = ob.promoid
		LEFT JOIN tbtrx_debetnote_sp_detail c WITH (nolock) on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d WITH (nolock) on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e WITH (nolock) on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f WITH (nolock) on f.Id=e.ParentId
		LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
		LEFT JOIN tbtrx_debetnote_wht tdw WITH (nolock) ON a.id = tdw.dnid
		where 
		((isnull(ob.ShortDesc, '') = 'DC' and a.LastStatus IN ('validate_by_sales'))
			OR (isnull(ob.ShortDesc, '') <> 'DC' and a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance')))
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WITH (nolock) WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)	
	END
	ELSE
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,ob.PromoId
		,ob.RefId PromoRefId		
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,IIF(a.StatusSalesCode='TP2', 'validate_by_sales', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,a.IsOverBudget
		,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
		,d.RefId sp_ho
		,f.Refid sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo 
		,a.Notes 
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel	
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
	 	,a.FPNumber
	 	,a.FPDate
	 	,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired
	 	,isnull(a.VATExpired, 0) DNVATExpired
        ,doc.Original_Invoice_from_retailers
        ,doc.Tax_Invoice
        ,doc.Promotion_Agreement_Letter
        ,doc.Trading_Term
        ,doc.Sales_Data
        ,doc.Copy_of_Mailer
        ,doc.Copy_of_Photo_Doc
        ,doc.List_of_Transfer	 		 	
        ,a.PrincipalId entityId
        ,a.statusPPH
        ,tdw.WHTType
        ,iif ((((isnull(a.promoId, 0) = 0 OR isnull(a.isOverBudget,0) <> 0 OR isnull(a.TaxLevel, '') = '') 
	        AND isnull(a.isDNPromo,0) = 1) OR a.lastStatus = 'validate_by_finance') 
	        OR (tdw.WHTtype = 'WHT Deductible' AND isnull(a.pphamt,0) = 0) OR isnull(tdw.WHTType,'') = '', 0, 1) tickable
		, a.PPHPct
		, a.PPHAmt
		from tbtrx_debetnote a
		LEFT JOIN tbtrx_debetnote_doc_completeness doc on a.id=doc.DNId
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN
		(
	        SELECT
	        pr.Id PromoId,
	        pr.RefId RefId,
			mc.ShortDesc,
			pr.investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0)))  Remaining	        
	        from tbtrx_promo pr WITH (nolock)
			inner join tbmst_category mc WITH (nolock) on pr.categoryId = mc.id
	        inner join  tbtrx_debetnote dn WITH (nolock) on pr.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 --AND pr.Id=28989
	        group by pr.id, pr.refid, pr.investment, mc.ShortDesc
		) ob ON a.promoId = ob.promoid		
		LEFT JOIN tbtrx_debetnote_sp_detail c WITH (nolock) on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d WITH (nolock) on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e WITH (nolock) on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f WITH (nolock) on f.Id=e.ParentId
		LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
		LEFT JOIN tbtrx_debetnote_wht tdw WITH (nolock) ON a.id = tdw.dnid
		where 
		((isnull(ob.ShortDesc, '') = 'DC' and a.LastStatus IN ('validate_by_sales'))
			OR (isnull(ob.ShortDesc, '') <> 'DC' and a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance')))
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='','',@TaxLevel)=IIF(@TaxLevel='0','',isnull(a.TaxLevel,''))
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WITH (nolock) WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		) AND a.AreaCode=@profitcenter
	END
END
GO
