USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_reporting]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_list_reporting] --'2020',0,0,0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31',30
 --DECLARE
@periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@submission_param int


--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='admin'
--SET @create_from='2019-01-01'
--SET @create_to='2020-12-31'
--SET @start_from='2020-01-01'
--SET @start_to='2020-12-31'

AS


/*
	LGP 2020-02014 Perbaikan filter start_from dan start_to
	EJ 2020-03-03 Add BrandDesc and SKU
	EJ 2020-03-18 remark AND a.LastStatus IN ('validate_by_danone','ready_to_invoice','invoice','confirm_paid')
	EDJ 2020-03-19 : add AND isnull(a.IsCancel, 0) = 0
	EDJ 2020-03-23 : SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid to SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid
	EDJ 2020-04-13 : add column subchanneldesc, NormalSales, IncrSales, Roi, CostRatio
	edj 2020-07-02 : IIF(@userid='0','',usr.UserId) =IIF(@userid='0','',@userid)
	LUK 2020-07-17 : SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid >>> SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid

*/

BEGIN

/****************************/
DROP TABLE IF EXISTS #temp_promo
select
 pr.StartPromo
, pr.EndPromo
, pr.CreateOn
, pr.CreateBy
, pr.ModifiedOn
, pr.RefId
, pr.ActivityDesc
, mechanism.mechanism Mechanism -- issue #871
, pr.Mechanisme1
, pr.Mechanisme2
, pr.Mechanisme3
, pr.Mechanisme4
, pr.IsCancel
, pr.CancelBy
, pr.CancelOn
, pr.StatusApprovalCode
, pr.LastStatus
, pr.ApproveOn
, pr.ApprovalNotes
, pr.NormalSales
, pr.IncrSales
, pr.Investment
, pr.CostRatio
, pr.TsCoding
, pr.IsClose
, pr.AllocationId
, pr.SubCategoryId
, pr.Approver
, pr.ActivityId
, pr.SubActivityId
, pr.Id
, pr.PromoPlanId
, pr.Reconciled
, pr.ReconciledOn
, pr.StatusApprovalCodeRecon
, pr.LastStatusRecon
, pr.ApproverRecon
, pr.ApproveOnRecon
, tpa.ActionDate
, tpa.RequestDate
, tpar.ActionDate ActionDateRecon
, tpar.RequestDate RequestDateRecon
, r.CancelReason
into #temp_promo 
from tbtrx_promo pr
/* start issue #871 */
inner join
(
    select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                from tbtrx_promo_mechanism a with (nolock)
        GROUP BY a.PromoId
) mechanism on pr.Id = mechanism.PromoId   		
LEFT JOIN tbtrx_promo_cancel_request r on r.PromoId=pr.Id and isnull(r.IsCancel,0)=0
inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND isnull(tprar.IsCancel, 0)=0
LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
LEFT JOIN tbhlp_baseline_promo baseline on pr.id=baseline.id
left join vw_promo_sendback_notes_last note on pr.id=note.ParentId --and pr.Approver=note.UserApprover
where
		CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)

--	NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--	AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
--	AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))

--add approval isongoing=0 (all)
--INSERT INTO #temp_promo
--select
-- pr.StartPromo
--, pr.EndPromo
--, pr.CreateOn
--, pr.CreateBy
--, pr.ModifiedOn
--, pr.RefId
--, pr.ActivityDesc
--, pr.Mechanisme1
--, pr.Mechanisme2
--, pr.Mechanisme3
--, pr.Mechanisme4
--, pr.IsCancel
--, pr.CancelBy
--, pr.CancelOn
--, pr.StatusApprovalCode
--, pr.LastStatus
--, pr.ApproveOn
--, pr.ApprovalNotes
--, pr.NormalSales
--, pr.IncrSales
--, pr.Investment
--, pr.CostRatio
--, pr.TsCoding
--, pr.IsClose
--, pr.AllocationId
--, pr.SubCategoryId
--, pr.Approver
--, pr.ActivityId
--, pr.SubActivityId
--, pr.Id
--, pr.PromoPlanId
--, pr.Reconciled
--, pr.ReconciledOn
--, pr.StatusApprovalCodeRecon
--, pr.LastStatusRecon
--, pr.ApproverRecon
--, pr.ApproveOnRecon
--, tpa.ActionDate
--, tpa.RequestDate
--, tpar.ActionDate ActionDateRecon
--, tpar.RequestDate RequestDateRecon
--from tbtrx_promo pr
--inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
----INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND tpa.IsOnGoing = 1
--INNER JOIN (
--	select tpa.Requestid, tpa.ActionDate, tpa.RequestDate from tbtrx_promo_approval tpa
--	inner join
--	(
--	SELECT requestid, max(sequence) as sequence from tbtrx_promo_approval
--	--where requestid=2678
--	group by requestid
--	) tpamax on tpa.requestid=tpamax.requestid and tpa.sequence=tpamax.sequence
--	and tpa.isongoing=0
--) tpa ON tpra.id=tpa.RequestId
--
--LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND isnull(tprar.IsCancel, 0)=0
--LEFT JOIN tbtrx_promo_approval_recon tpar ON tpra.id=tpar.RequestId AND tpar.IsOnGoing = 1
--where
--	NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--	AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
--	AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))


/****************************/
/****************************/

DROP TABLE IF EXISTS #tmp_channel
DROP TABLE IF EXISTS #tmp_subchannel
DROP TABLE IF EXISTS #tmp_region
DROP TABLE IF EXISTS #tmp_account
DROP TABLE IF EXISTS #tmp_subaccount
DROP TABLE IF EXISTS #tmp_brand
DROP TABLE IF EXISTS #tmp_sku
DROP TABLE IF EXISTS #tmp_dn
/*
select * into #tmp_channel from (
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc
										from tbtrx_promo_channel a with (nolock)
										join tbmst_channel chn with (nolock)
										ON a.ChannelId=chn.Id and a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_channel b INNER JOIN #temp_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) channel
select * into #tmp_subchannel from (
							select PromoId,
							STUFF(
									(select  ',' + subchn.LongDesc
										from tbtrx_promo_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_subchannel b INNER JOIN #temp_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) subchannel
select * into #tmp_region from (

							select PromoId,
							STUFF(
									(select  ',' + reg.LongDesc
										from tbtrx_promo_region a with (nolock)
										join tbmst_region reg with (nolock)
										ON a.RegionId=reg.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
								FROM tbtrx_promo_region b INNER JOIN #temp_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) region
select * into #tmp_account from (
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc
										from tbtrx_promo_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_account b with (nolock) INNER JOIN #temp_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) account
select * into #tmp_subaccount from (
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc
										from tbtrx_promo_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN #temp_promo with (nolock) ON Id=PromoId GROUP BY PromoId
						) subaccount
select * into #tmp_brand from (
							select PromoId,
							STUFF(
									(select  ',' + brd.LongDesc
										from tbtrx_promo_brand a with (nolock)
										join tbmst_brand brd with (nolock)
										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
										inner join #temp_promo pr on a.PromoId = pr.Id
										inner join tbtrx_allocation_brand tab2  on pr.AllocationId =tab2.AllocationId and a.BrandId =tab2.BrandId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
								FROM tbtrx_promo_brand b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON Id=PromoId
								GROUP BY PromoId
--							select PromoId,
--							STUFF(
--									(select  ',' + brd.LongDesc
--										from tbtrx_promo_brand a with (nolock)
--										join tbmst_brand brd with (nolock)
--										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
--										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
--								FROM tbtrx_promo_brand b with (nolock) INNER JOIN #temp_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) brand
select * into #tmp_sku from (
							select PromoId,
							STUFF(
									(select  ',' + sku.LongDesc
										from tbtrx_promo_product a with (nolock)
										join tbmst_product sku with (nolock)
										ON a.productid=sku.Id AND a.PromoId=b.PromoId
										inner join #temp_promo pr on a.PromoId = pr.Id
										inner join tbtrx_allocation_product tap on pr.AllocationId =tap.AllocationId and a.ProductId = tap.ProductId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
								FROM tbtrx_promo_product b with (nolock) INNER JOIN #temp_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) sku
*/
SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
into #tmp_dn					FROM tbtrx_debetnote a
					INNER JOIN #temp_promo pr on a.PromoId=pr.Id
					inner join tbtrx_allocation c on pr.AllocationId=c.Id
					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
					inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND isnull(a.IsCancel, 0) = 0
					GROUP BY a.PromoId


/****************************/
/****************************/
declare @endofmonth date,@closingdtx date;

set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

DECLARE @Temp TABLE
	(
	  BudgetParent int,
	  Levels int,
	  BudgetId int
	)
	;

IF @budgetparent <> 0
BEGIN
				declare @p_alcid int;

				DECLARE
					@product_name int


				DECLARE cursor_product CURSOR
				FOR SELECT
						Id

					FROM
						tbtrx_allocation where BudgetType='BAL' and BudgetMasterId=@budgetparent;

				OPEN cursor_product;


				FETCH NEXT FROM cursor_product INTO
					@product_name


				WHILE @@FETCH_STATUS = 0
					BEGIN


					SET @p_alcid=@product_name;

						/***/

							with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
							as
							(
							select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							union all
							select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a
							inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD

							)


				INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				option (maxrecursion 0);
						FETCH NEXT FROM cursor_product INTO
							@product_name

					END;

				CLOSE cursor_product;

				DEALLOCATE cursor_product;



				SELECT
				p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc
				,pr.Mechanism --#871
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,region.RegionDesc
				,channel.ChannelDesc
				,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
				,account.AccountDesc
				,subaccount.SubAccountDesc
--				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
--				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar) + ' on ' + CAST(pr.ActionDate as varchar), CAST(pr.LastStatus as varchar(100)) + ' on ' + CAST(pr.RequestDate as varchar)))) LastStatus
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100))))) LastStatus
				,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.ActionDate as varchar), CAST(pr.RequestDate as varchar)))) LastStatusDate
				,pr.ApprovalNotes
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
				,pr.NormalSales
				,pr.IncrSales
				,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---LUK 2020-04-21
				,pr.CostRatio
				,TotalClaim DnClaim
				,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo
				,datediff(day,pr.CreateOn,pr.StartPromo) Gap
				,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,1,0) OnTime
				,pr.TsCoding
				,brand.BrandDesc
				,sku.SKUDesc
				,isnull(tpp.id, 0) as PromoPlanId
				,isnull(tpp.RefId, '') as PromoPlanRefId
				,isnull(pr.IsClose, 0) as ClosureStatus
				,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
--				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(ufr.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar),pr.LastStatusRecon + '-' + ufr.username)) LastReconStatus
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(ufr.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.ActionDateRecon as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.RequestDateRecon as varchar) ))) LastReconStatus
				, tst.Id SubactivityTypeId
				, tst.RefId SubactivityTypeRefId
				, tst.LongDesc SubactivityType
				,pr.CancelReason
--				FROM tbtrx_promo pr with (nolock)
				FROM #temp_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				left join tbset_user ufr on ufr.Id=pr.ApproverRecon
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
				inner join tbmst_subactivity_type tst on sact.SubActivityTypeId = tst.id
inner join
						(
							select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
									from tbtrx_promo_channel a with (nolock)
									INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
									INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) channel
						on pr.Id = channel.PromoId
	inner join
						(
							select PromoId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
										from tbtrx_promo_subchannel a with (nolock)
										INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
	inner join
						(
							select PromoId, string_agg(reg.LongDesc,' ,') RegionDesc
										from tbtrx_promo_region a with (nolock)
										INNER join tbmst_region reg with (nolock) ON a.RegionId=reg.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) region
						on pr.Id = region.PromoId
	inner join
						(
							select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
										from tbtrx_promo_account a with (nolock)
										INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) account
						on pr.Id = account.PromoId
	inner join
						(
							select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_subaccount a with (nolock)
										INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
	inner join
						(
							select PromoId, string_agg(brd.LongDesc,' ,') BrandDesc
										from tbtrx_promo_brand a with (nolock)
										INNER join tbmst_brand brd with (nolock) ON a.brandid=brd.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) brand
						on pr.Id = brand.PromoId
	inner join
						(
							select PromoId, string_agg(sku.LongDesc,' ,') SKUDesc
										from tbtrx_promo_product a with (nolock)
										INNER join tbmst_product sku with (nolock) ON a.productid=sku.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) sku
						on pr.Id = sku.PromoId
				left join
				(
					SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN #temp_promo pr on a.PromoId=pr.Id
					inner join tbtrx_allocation c on pr.AllocationId=c.Id
					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
					WHERE c.Periode=@periode
					AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE usr.AllocationId=pr.AllocationId AND usr.UserId =@userid)
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND isnull(a.IsCancel, 0) = 0
					GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
				INNER JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
				WHERE c.Periode=@periode
				AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE usr.AllocationId=pr.AllocationId AND usr.UserId=@userid)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND EXISTS(SELECT BudgetId FROM @temp WHERE pr.AllocationId=BudgetId)

/****************************/
/****************************/


END
ELSE
BEGIN

				SELECT
				p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc
				,pr.Mechanism --#871
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,region.RegionDesc
				,channel.ChannelDesc
				,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
				,account.AccountDesc
				,subaccount.SubAccountDesc
--				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
--				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar) + ' on ' + CAST(pr.ActionDate as varchar), CAST(pr.LastStatus as varchar(100)) + ' on ' + CAST(pr.RequestDate as varchar)))) LastStatus
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100))))) LastStatus
				,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.ActionDate as varchar), CAST(pr.RequestDate as varchar)))) LastStatusDate
				,pr.ApprovalNotes
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
				,pr.NormalSales
				,pr.IncrSales
				,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---LUK 2020-04-21
				,pr.CostRatio
				,TotalClaim DnClaim
				,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo
				,datediff(day,pr.CreateOn,pr.StartPromo) Gap
				,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,0,1) OnTime
				,pr.TsCoding
				,brand.BrandDesc
				,sku.SKUDesc
				,isnull(tpp.id, 0) as PromoPlanId
				,isnull(tpp.RefId, '') as PromoPlanRefId
				,isnull(pr.IsClose, 0) as ClosureStatus
				,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
--				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(ufr.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar),pr.LastStatusRecon + '-' + ufr.username)) LastReconStatus
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(ufr.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.ActionDateRecon as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(pr.RequestDateRecon as varchar) ))) LastReconStatus
				, tst.Id SubactivityTypeId
				, tst.RefId SubactivityTypeRefId
				, tst.LongDesc SubactivityType
				,pr.CancelReason
				FROM #temp_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				left join tbset_user ufr on ufr.Id=pr.ApproverRecon
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
				inner join tbmst_subactivity_type tst on sact.SubActivityTypeId = tst.id
inner join
						(
							select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
									from tbtrx_promo_channel a with (nolock)
									INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
									INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) channel
						on pr.Id = channel.PromoId
	inner join
						(
							select PromoId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
										from tbtrx_promo_subchannel a with (nolock)
										INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
	inner join
						(
							select PromoId, string_agg(reg.LongDesc,' ,') RegionDesc
										from tbtrx_promo_region a with (nolock)
										INNER join tbmst_region reg with (nolock) ON a.RegionId=reg.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) region
						on pr.Id = region.PromoId
	inner join
						(
							select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
										from tbtrx_promo_account a with (nolock)
										INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) account
						on pr.Id = account.PromoId
	inner join
						(
							select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_subaccount a with (nolock)
										INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
	inner join
						(
							select PromoId, string_agg(brd.LongDesc,' ,') BrandDesc
										from tbtrx_promo_brand a with (nolock)
										INNER join tbmst_brand brd with (nolock) ON a.brandid=brd.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) brand
						on pr.Id = brand.PromoId
	inner join
						(
							select PromoId, string_agg(sku.LongDesc,' ,') SKUDesc
										from tbtrx_promo_product a with (nolock)
										INNER join tbmst_product sku with (nolock) ON a.productid=sku.Id
										INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) sku
						on pr.Id = sku.PromoId
				left join #tmp_dn dn on pr.Id=dn.PromoId
				--(
				--	SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
				--	FROM tbtrx_debetnote a
				--	INNER JOIN #temp_promo pr on a.PromoId=pr.Id
				--	inner join tbtrx_allocation c on pr.AllocationId=c.Id
				--	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
				--	inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
				--	AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				--	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				--	AND isnull(a.IsCancel, 0) = 0
				--	GROUP BY a.PromoId
				--)dn on pr.Id=dn.PromoId
				INNER JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
				WHERE c.Periode=@periode
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)


END

/****************************/
DROP TABLE IF EXISTS #temp_promo
DROP TABLE IF EXISTS #tmp_channel
DROP TABLE IF EXISTS #tmp_subchannel
DROP TABLE IF EXISTS #tmp_region
DROP TABLE IF EXISTS #tmp_account
DROP TABLE IF EXISTS #tmp_subaccount
DROP TABLE IF EXISTS #tmp_brand
DROP TABLE IF EXISTS #tmp_sku
DROP TABLE IF EXISTS #tmp_dn
/****************************/

END
GO
