USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_hlp_investment]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_hlp_investment] --'2020',0,0,0,0,'scsh1'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
AS

--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--
--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--set @userid='admin'

	DROP TABLE IF EXISTS tbhlp_investment;

	select
	  c.Periode,
	  m.PrincipalId entityid,
	  m.DistributorId,
	  c.id allocationid,
	  p.LongDesc Entity,
	  p.ShortDesc EntityShortDesc,
	  d.LongDesc Distributor,
	  c.LongDesc [BudgetAllocationName],--BudgetName [BudgetAllocationName],
	  isnull(TPP.LongDesc,'') ActivityType,--isnull(ty.LongDesc,'') ActivityType,
	  iif(lyr.Id is null,0,1) IsLastLayer,
	  isnull(channel.ChannelDesc,'') [Channel],
	  c.BudgetAmount [BudgetDeployed],--InitialBudgetAmount [BudgetDeployed],
	  isnull(TPP.FixCost,0) [PromoCreated],
	  isnull(TPP.TotalClaim,0) [DNClaimed],
	  isnull(TPP.TotalPaid,0) [DNPaid],
      isnull(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
	  tab.RemainingAmount [RemainingBudget],
	  c.BudgetAmount -isnull(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated],
	  isnull(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
	  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid]
	into tbhlp_investment
	from tbtrx_allocation c WITH (NOLOCK)
	inner join (
		select allocationid
		from tbtrx_allocation_useraccess WITH (NOLOCK)
		WHERE IIF(@userid='0','',userId) =IIF(@userid='0','',@userid)	
	) usr on usr.AllocationId=c.Id
	inner join tbtrx_budgetmaster m WITH (NOLOCK) on c.BudgetMasterId=m.Id
	inner join tbtrx_allocation_balance tab WITH (NOLOCK) on c.id=tab.AllocationId 
	left join tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
	left join tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
	left join
			(
				select AllocationId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_allocation_channel a WITH (NOLOCK) 
							join tbmst_channel chn WITH (NOLOCK) 
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					FROM tbtrx_allocation_channel b WITH (NOLOCK) INNER JOIN tbtrx_allocation WITH (NOLOCK) ON Id=AllocationId  
					AND IIF(@channel=0,'',b.ChannelId) =IIF(@channel=0,'',@channel)
					GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	left join
	(
			SELECT	tbtrx_promo.AllocationId AS AllocationId, b.longdesc,
					SUM(Investment) FixCost,
					SUM(ISNULL(TotalClaim, 0)) TotalClaim,
					SUM(ISNULL(TotalPaid, 0)) TotalPaid,
					SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
				FROM tbtrx_promo WITH (NOLOCK) 
				inner join tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
				inner join tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
				LEFT JOIN (
					SELECT td.promoid
					,SUM ( IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0))) - SUM(isnull(tc.TotalClaim, 0))  TotalClaim
					,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0)) - SUM(isnull(tc.TotalPaid, 0)) TotalPaid
					FROM tbtrx_debetnote td WITH (NOLOCK) 
					LEFT JOIN 
					(
						SELECT tc.dnid
							,SUM(isnull(tc.dpp,0)) TotalClaim
							,SUM(iif(isnull(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
						FROM tbtrx_creditnote tc WITH (NOLOCK) 
						WHERE isnull(IsCancel, 0) = 0
						GROUP BY tc.dnid
					) tc ON td.id=tc.dnid
					WHERE isnull(td.iscancel, 0) = 0
					GROUP BY td.promoid
				) td on tbtrx_promo.id=td.promoid			                
			WHERE isnull(IsCancel,0)=0
				GROUP BY tbtrx_promo.AllocationId, b.longdesc
	)TPP ON TPP.AllocationId=c.Id--a.BudgetId
	left join vw_budget_last_layer lyr on c.Id=lyr.Id
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',c.Id) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
GO
