

/****** Object:  StoredProcedure [dbo].[ip_mst_map_subactivity_salesamount_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_subactivity_salesamount_list]
as
BEGIN
	SELECT        
		t.Id
		,t.SubActivityID
		,sa.LongDesc       AS SubActivity
		,t.SalesAmount
		,t.CreateOn
		,t.CreateBy
		,uc.username       AS CreateByName
		,t.ModifiedOn
		,t.ModifiedBy
		,um.username       AS ModifiedByName
		,t.IsDelete
		,t.DeleteOn
		,t.DeleteBy
		,ud.username       AS DeleteByName

		, sa.ActivityID
		, a.LongDesc       AS Activity
		, a.SubCategoryId
		, sc.LongDesc      AS SubCategory
		, sc.CategoryId
		, c.LongDesc       AS Category
		, t.CreatedEmail
		, t.DeleteEmail
	FROM            
		tbset_map_subactivity_salesamount t 
		INNER JOIN tbmst_subactivity   sa  ON t.SubActivityID = sa.Id
		INNER JOIN tbmst_activity      a   on sa.ActivityID   = a.id
		INNER JOIN tbmst_subcategory   sc  on a.SubCategoryId = sc.Id
		INNER JOIN tbmst_category      c   on sc.CategoryId   = c.Id
		LEFT JOIN tbset_user           uc  ON t.CreateBy      = uc.id
		LEFT JOIN tbset_user           um  ON t.ModifiedBy    = um.id
		LEFT JOIN tbset_user           ud  ON t.DeleteBy      = ud.id

		--select * from tbset_map_subactivity_salesamount 
END


GO
