USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_update_attachment]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_update_attachment]

@Id int
,@userid varchar(50)
,@attachment DNAttachmentType READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
	LGP : 2020-02-20 Create new Procedure untuk proses update attachment DN
*/

BEGIN TRY
BEGIN TRANSACTION



DELETE FROM tbtrx_dn_doclink WHERE DnId=@Id;

insert into tbtrx_dn_doclink(DNId,DocLink,[FileName],CreateOn,Createby)
SELECT @Id,DocLink,Filename,@utcDate123,@userid FROM @attachment



SELECT a.Id, a.RefId, b.id approver_userid
,b.username approver_username
,b.email approver_email
FROM tbtrx_debetnote a
left join tbset_user b on a.AssignBy=b.id
where a.Id=@Id



COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
             @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
END CATCH



























GO
