USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_select_sellpoint]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_select_sellpoint]
	-- Add the parameters for the stored procedure here
	@ID			VARCHAR(10),
	@IDPARENT	VARCHAR(10),
	@NAME		VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 
		A.Id,
		A.RefId,
		A.RegionId,
		B.LongDesc RegionDesc,
		A.LongDesc,
		isnull(A.ShortDesc,'') as ShortDesc,
		A.IsActive
	FROM [dbo].[tbmst_sellingpoint] as A WITH(NOLOCK) LEFT JOIN
	tbmst_region as B on A.RegionId = B.Id
	WHERE isnull(A.IsDelete,0)=0 
		AND (ISNULL(@ID,'')='' OR A.Id=@ID)
		AND (ISNULL(@IDPARENT,'')='' OR RegionId=@IDPARENT)
		AND (ISNULL(@NAME,'')='' OR A.LongDesc LIKE @NAME)

END


GO
