USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_create]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_budgetallocation_create]
	-- Add the parameters for the stored procedure here
	@BUDGETALLOC	AS BudgetAllocType       		READONLY,
	@REGIONS		AS IntAttributeType             READONLY,
	@CHANNELS		AS IntAttributeType             READONLY,
	@SUBCHANNELS	AS IntAttributeType	            READONLY,
	@ACCOUNTS		AS IntAttributeType             READONLY,
	@SUBACCOUNTS	AS IntAttributeType	            READONLY,
	@BRANDS			AS IntAttributeType	            READONLY,
	@PRODUCTS		AS IntAttributeType	            READONLY,
	@USERACCESS		AS CharAttributeType	        READONLY,
	@BUDGETDETAIL	AS BudgetDetailType				READONLY
	--@userid as varchar(50)

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ERROR VARCHAR(100)
	
	DECLARE 
	@ALLOCID INT
	,@AllocationId INT
	,@USERID VARCHAR(50)
	,@BUDGETTYPE VARCHAR(3)
	,@BUDGETSOURCEID INT


	SELECT @USERID=UserId,@BUDGETTYPE=BudgetType,@BUDGETSOURCEID=BudgetSourceId from @BUDGETALLOC
	


	INSERT INTO [dbo].[tbtrx_allocation]
		--(Periode,RefId,BudgetType,DistributorId,OwnerId,FromOwnerId,BudgetMasterId,BudgetSourceId,SalesAmount,BudgetAmount,LongDesc,ShortDesc,StatusApproval,IsActive,IsLocked,
		(Periode,BudgetType,DistributorId,OwnerId,FromOwnerId,BudgetMasterId,BudgetSourceId,BudgetAmount,LongDesc,ShortDesc,StatusApproval,IsActive,IsLocked,CreateOn,CreateBy)
	SELECT
		BA.Periode AS Periode		
		,BA.BudgetType AS BudgetType
		,BA.DistributorId AS DistributorId
		,BA.OwnerId AS OwnerId
		,BA.FromOwnerId AS FromOwnerId
		,BA.BudgetMasterId AS BudgetMasterId
		,BA.BudgetSourceId AS BudgetSourceId
		--,BA.SalesAmount AS SalesAmount
		,BD.BudgetAmount AS BudgetAmount
		,BA.LongDesc AS LongDesc
		,BA.ShortDesc AS ShortDesc
		,'AP1' AS StatusApproval
		,CAST(1 AS BIT) AS IsActive
		,CAST(1 AS BIT) AS IsLocked
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
	FROM @BUDGETALLOC AS BA
	INNER JOIN @BUDGETDETAIL BD ON 1=1
	-- INSERT BUDGET ALLOCATION END -----

	SET @ALLOCID=(SELECT SCOPE_IDENTITY())

	
	/*******************************************
	INSERT BUDGET ALLOCATION DETAIL
	*******************************************/	
	INSERT INTO tbtrx_allocation_detail
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           )
		   SELECT 
			@ALLOCID
			,a.LineIndex
			,a.SubCategoryId
			,ISNULL(a.ActivityId,0) ActivityId
			,ISNULL(a.SubActivityId,0) SubActivityId	
			,a.BudgetAmount
			,a.LongDesc
			,''
			,1
			,0
			,@utcDate123
			,@userid
			FROM @BUDGETDETAIL a
			--LEFT JOIN tbtrx_allocation_detail b on a.AllocationId=b.AllocationId
			--and a.SubCategoryId=b.SubCategoryId
			--where b.AllocationId is null

	/*****************************************/


	IF @BUDGETTYPE='BTR'
	BEGIN
		UPDATE A SET IsAllocated=1 FROM tbtrx_budgetassignment_detail A  where Id=@BUDGETSOURCEID
	END
	ELSE
	BEGIN
		UPDATE A SET IsAllocated=1 FROM tbtrx_budgetmaster A  where Id=@BUDGETSOURCEID
	END
	
	/**********************************
			HISTORICAL 
			**********************************/
			INSERT INTO tbtrx_allocation_request_approval
           ([AllocationId]
           ,[LineIndex]
           ,[SubCategoryId]
           ,[ActivityId]
           ,[SubActivityId]  
		   ,[PrevAmount]
           ,[BudgetAmount]
           ,[LongDesc]
           ,[ShortDesc]           
           ,[IsActive]
           ,[IsLocked]
		   ,[IsRecon]
           ,[CreateOn]
		   ,[CreateBy]		   
          )
		   SELECT 
			@ALLOCID
			,a.LineIndex
			,a.SubCategoryId
			,ISNULL(a.ActivityId,0) ActivityId
			,ISNULL(a.SubActivityId,0) SubActivityId
			,0
			,a.BudgetAmount
			,a.LongDesc
			,''
			,1
			,0
			,1
			,@utcDate123
			,@userid
			FROM @BUDGETDETAIL a

		/*******BALANCE********/
		INSERT INTO tbtrx_allocation_balance(
			AllocationId
			,SubCategoryId
			,InitialAmount
			,ReserveAmount
			,UseAmount
			,CreateOn
			,CreateBy)
		SELECT 
			@ALLOCID			
			,a.SubCategoryId		
			,a.BudgetAmount
			,0
			,0
			,@utcDate123
			,@userid
			FROM @BUDGETDETAIL a


	-- GET ALLOCATION ID BEGIN -----
	--SELECT @ALLOCID=TRX_A.Id FROM [dbo].[tbtrx_allocation] AS TRX_A WITH(NOLOCK) INNER JOIN @BUDGETALLOC AS BA ON TRX_A.RefId=BA.RefId
	-- GET ALLOCATION ID END -----

	-- INSERT BUDGET ALLOCATION REGION BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_region] where AllocationId=@ALLOCID
	INSERT INTO [dbo].[tbtrx_allocation_region] (AllocationId,RegionId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@ALLOCID AS AllocationId
		,R.Id AS RegionId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @REGIONS AS R
	-- INSERT BUDGET ALLOCATION REGION END -----

	-- INSERT BUDGET ALLOCATION CHANNEL BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_channel] where AllocationId=@ALLOCID
	INSERT INTO [dbo].[tbtrx_allocation_channel] (AllocationId,ChannelId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@ALLOCID AS AllocationId
		,C.Id AS ChannelId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @CHANNELS AS C
	-- INSERT BUDGET ALLOCATION CHANNEL END -----

	-- INSERT BUDGET ALLOCATION SUBCHANNEL BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_subchannel] where AllocationId=@ALLOCID
	INSERT INTO [dbo].[tbtrx_allocation_subchannel] (AllocationId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@ALLOCID AS AllocationId
		,chn.CHannelId AS ChannelId
		,SC.Id AS SubChannelId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @SUBCHANNELS AS SC
	INNER JOIN tbmst_subchannel chn on SC.Id=chn.Id
	-- INSERT BUDGET ALLOCATION SUBCHANNEL END -----

	-- INSERT BUDGET ALLOCATION ACCOUNT BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_account] where AllocationId=@ALLOCID
	INSERT INTO [dbo].[tbtrx_allocation_account] (AllocationId,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@ALLOCID AS AllocationId
		,MSC.ChannelId AS ChannelId
		,MA.SubChannelId AS SubChannelId
		,A.Id AS AccountId		
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @ACCOUNTS AS A
	INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON A.Id=MA.Id
	INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON MA.SubChannelId=MSC.Id
	-- INSERT BUDGET ALLOCATION ACCOUNT END -----

	-- INSERT BUDGET ALLOCATION SUBACCOUNT BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_subaccount] where AllocationId=@ALLOCID
	INSERT INTO [dbo].[tbtrx_allocation_subaccount] (AllocationId,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@ALLOCID AS AllocationId
		,MSC.ChannelId AS ChannelId
		,MA.SubChannelId AS SubChannelId
		,MA.Id AS AccountId
		,SA.Id AS SubAccountId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @SUBACCOUNTS AS SA
	INNER JOIN [dbo].[tbmst_subaccount] AS mstsa ON SA.Id=mstsa.Id
	INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON mstsa.AccountId=MA.Id
	INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON MA.SubChannelId=MSC.Id
	-- INSERT BUDGET ALLOCATION SUBACCOUNT END -----

	-- INSERT BUDGET ALLOCATION USER ACCESS BEGIN -----
	DELETE FROM [dbo].[tbtrx_allocation_useraccess] where AllocationId=@ALLOCID
	INSERT INTO [dbo].[tbtrx_allocation_useraccess] (AllocationId,UserId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT
		@ALLOCID AS AllocationId
		,UA.Id AS UserId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @USERACCESS AS UA
	-- INSERT BUDGET ALLOCATION USER ACCESS END -----


	DELETE FROM [dbo].[tbtrx_allocation_brand] where AllocationId=@ALLOCID
	INSERT INTO tbtrx_allocation_brand(AllocationId,BrandId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
	     @ALLOCID AS AllocationId
		,B.Id AS UserId
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @BRANDS B


	DELETE FROM [dbo].[tbtrx_allocation_product] where AllocationId=@ALLOCID
	INSERT INTO tbtrx_allocation_product(AllocationId,BrandId,ProductId,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy,IsDelete)
	SELECT 
	     @ALLOCID AS AllocationId
		,C.Id
		,A.Id 
		,CAST(1 AS BIT) AS IsActive
		,@utcDate123 AS CreateOn
		,@USERID AS CreateBy
		,@utcDate123 AS ModifiedOn
		,@USERID AS ModifiedBy
		,CAST(0 AS BIT) AS IsDelete
	FROM @PRODUCTS A INNER JOIN tbmst_product B ON A.Id=B.Id
	INNER JOIN tbmst_brand C ON B.BrandId=C.Id
--ROLLBACK	
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH

GO
