

/****** Object:  StoredProcedure [dbo].[ip_xml_generate_accrual]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- use dboptimasystem
CREATE PROCEDURE [dbo].[ip_xml_generate_accrual] --'2020',0,0,0,0,'scsh1','2020-01-22'
@entity int
,@userid varchar(50)

AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()


DECLARE
@closingdt date
--,@entity int
--,@userid varchar(50)

--SET @entity = 2
--SET @userid='admin'
SET @closingdt=@utcDate123

BEGIN
declare @endofmonth date,@closingdtx date;

set @closingdtx=(select convert(date,@closingdt,120))
set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))
drop table if exists #temp_accrual

				SELECT
				p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,channel.ChannelDesc
				,account.AccountDesc
				,subaccount.SubAccountDesc
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
				,pr.ApprovalNotes
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
				,pr.StartPromo
				,pr.EndPromo
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * Investment,0),0)
				    END AS AccrueMTD
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float) * Investment,0),0)
				    END AS AccrueYTD
				,pr.TsCoding
				,m.PrincipalId
				,m.DistributorId
				,p.LongDesc EntityDesc
				,d.SAPCodex SoldToCode
				,brandgroup.sapcode Material
				into #temp_accrual
				FROM tbtrx_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
                inner join
						(
							select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
									from tbtrx_promo_channel a with (nolock)
									INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
									INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) channel
						on pr.Id = channel.PromoId
	            inner join
						(
							select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
										from tbtrx_promo_account a with (nolock)
										INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) account
						on pr.Id = account.PromoId
                inner join
						(
							select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_subaccount a with (nolock)
										INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				left join
						(
							select aa.Id promoid, isnull(cc.sapcode,'')sapcode from tbtrx_promo aa
								INNER JOIN tbtrx_promo_brand bb on aa.Id=bb.PromoId
								INNER JOIN tbset_brand_group cc on bb.BrandId=cc.brandid
								GROUP BY aa.Id,cc.sapcode
						) brandgroup
						ON pr.Id=brandgroup.promoid
				WHERE
-- 				EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				m.PrincipalId=@entity


SELECT
	PrincipalId
	,PrincipalDesc
	,'ID9' as OrderCBU
	, 'ZID9ORDERS_01' as OrderLogicalMessage
	, SoldToCode as SoldToCode
	, 'B' as TypeOfSoldToCode
	,SoldToCode as ShipToCode
	, 'B' as TypeofShipToCode
	, ' ' as OtherPartnerCode
	, ' ' as PartnerFunctionOfOtherPartner
	,' ' as TypeOfOtherPartnerCode
	, ' ' as OtherPartnerCode2
	, ' ' as PartnerFunctionOfOtherPartner2
	, ' ' as TypeOfOtherPartnerCode2
	,' ' as OtherPartnerCode3
	, ' ' as PartnerFunctionOfOtherPartner3
	, ' ' as TypeOfOtherPartnerCode3
	, ' ' as PaymentTerm
	, PromoNumber as PONumber
	, CONVERT(varchar(8), @closingdt,112) as RequestedDeliveryDate
	, ' ' as RequestedDeliveryTime
	, ' ' as PODate
	, 'ZTD5' as OrderType
	, CASE WHEN PrincipalId=2 THEN '4450' ELSE CASE WHEN PrincipalId=3 THEN '5600' ELSE CASE WHEN PrincipalId=4 THEN '5610' ELSE ' ' END END END as SalesOrg
	, '00' as Channel
	, '00' as Division
	, ' ' as DeliveryBlock
	, ' ' as BillingBlock
	, ' ' as ShippingCondition
	, ' ' as ShippingType
	, PromoNumber as Assignment
	, ' ' as OrderReason
	, ' ' as PurchaseOrderType
	, ' ' as OrderModificationReason
	, ' ' as ShipToPartysPurchaseOrderNumber
	, ' ' as ShipToPartysPurchaseOrderDate
	, ' ' as TypeDocumentInReferenceHeader
	, ' ' as DocumentInReference
	, ' ' as SoldToYourReference
	, ' ' as ShipToYourReference
	, ' ' as ShipToName1
	, ' ' as ShipToName2
	, ' ' as ShipToStreet
	, ' ' as ShipToPostalCode
	, ' ' as ShipToCity
	, ' ' as ShipToCountry
	, ' ' as TextType
	, ' ' as DetailOfText
	, ' ' as TextType2
	, ' ' as DetailOfText2
	, ' ' as ItemNumber
	, Material as material
	, 'B' as TypeOfMaterialCode
	, ' ' as ItemCategory
	, 1 as Quantity
	, 'PCE' as UnitOfQuantity
	, ' ' as PlannedGoodIssueDate
	, 'ZTA5' as PriceCondition
	, ' ' as PriceList
	, ' ' as Sign
	, format(AccrueYTD,'#') as Value
	, ' ' as ConditionPricingUnit
	, ' ' as UnitOfPrice
	, ' ' as ConditionCurrency
	, CASE WHEN PrincipalId=2 THEN '4450' ELSE CASE WHEN PrincipalId=3 THEN '5600' ELSE CASE WHEN PrincipalId=4 THEN '5610' ELSE ' ' END END END as Plant
	, ' ' as StorageLocation
	, ' ' as ItemUsage
	, ' ' as BatchNumber
	, ' ' as InternalOrder
	, ' ' as ShiptoPartysPurchaseOrderNumber
	, ' ' as TypeDocumentInReferenceLine
	, ' ' as ItemInReference
	, ' ' as ItemTextType
	, ' ' as ItemTextLanguage
	, ' ' as ItemDetailOfText
	, ' ' as ItemTextType2
	, ' ' as ItemTextLanguage2
	, ' ' as ItemDetailOfText2
FROM #temp_accrual
drop table if exists #temp_accrual

END
GO
