USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dnreassign_list_byfinance]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dnreassign_list_byfinance] --'2020',0,0,0,0,'claimpku',0
@periode  varchar(4),
@entity int,
@distributor int,
@channel int,
@account int,
@userid varchar(50),
@isdnmanual bit
AS
BEGIN

	DECLARE @profitcenter varchar(10)
	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

	IF isnull(@profitcenter,'')='1100'
	BEGIN
		SELECT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.TotalClaim
		,a.TotalPaid
		,a.LastStatus
		,a.IsFreeze
		,a.CreateOn
		,a.CreateBy
		,a.IsOverBudget
		,a.AssignBy
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,c.Id EntityId
		,c.LongDesc EntityLongDesc
		,c.ShortDesc EntityShortDesc
		,a.MemDocNo
		,a.IntDocNo
		,a.AccountId
		,iif(isnull(a.PromoId, 0)=0,e.LongDesc, ts.LongDesc)  SubAccount
		,iif(isnull(a.PromoId, 0)=0,a.[AccountId], tps.SubAccountId)  SubAccountId
		,f.LongDesc [Account]
		from tbtrx_debetnote a
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbmst_principal c on a.PrincipalId=c.Id
		left join tbmst_subaccount e on a.AccountId=e.Id
		LEFT JOIN tbtrx_promo_subaccount tps on b.Id = tps.PromoId 
		LEFT JOIN tbmst_subaccount ts on tps.SubAccountId = ts.Id 	
		LEFT JOIN tbmst_account f on a.AccountId=f.Id
		WHERE IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
		AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
		and isnull(a.isCancel,0)=0 and isnull(a.IsDNPromo,0)=1
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
	END
	ELSE
	BEGIN
		SELECT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.TotalClaim
		,a.TotalPaid
		,a.LastStatus
		,a.IsFreeze
		,a.CreateOn
		,a.CreateBy
		,a.IsOverBudget
		,a.AssignBy
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,c.Id EntityId
		,c.LongDesc EntityLongDesc
		,c.ShortDesc EntityShortDesc
		,a.MemDocNo
		,a.IntDocNo
		from tbtrx_debetnote a
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbmst_principal c on a.PrincipalId=c.Id
		where
		IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
		AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
		and isnull(a.isCancel,0)=0 and isnull(a.IsDNPromo,0)=1
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)	AND a.AreaCode=@profitcenter
	END
END
GO
