USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_generate_attribute_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_generate_attribute_list]
	@profileid varchar(100)
AS
--DECLARE @profileid varchar(100)
--SET @profileid = 'kamsat'
BEGIN
	/* List Category */
	SELECT DISTINCT categoryId, categoryDesc FROM vw_activity_active ORDER BY CategoryDesc
	/* List Distributor */
	SELECT DISTINCT Id distributorId, LongDesc distributorDesc, ShortDesc distributorShortDesc FROM tbmst_distributor WHERE ISNULL(IsDeleteD,0)=0 ORDER BY LongDesc
	/* List group Brand */
	SELECT DISTINCT entityId, entityDesc, entityShortDesc, groupBrandId, groupBrandDesc FROM vw_sku_active ORDER BY entityDesc, groupBrandDesc
	/* List Channel */
	SELECT DISTINCT a.channelId, a.channelDesc FROM vw_account a
		INNER JOIN tbset_user_subaccount b on a.SubAccountId=b.SubAccountId AND b.UserId=@profileid
		ORDER BY a.ChannelDesc
	/* List Sub Account */
	SELECT DISTINCT a.channelId, a.channelDesc, a.subChannelId, a.subChannelDesc, a.accountId, a.accountDesc, a.subAccountId, a.subAccountDesc FROM vw_account a
		INNER JOIN tbset_user_subaccount b on a.SubAccountId=b.SubAccountId AND b.UserId=@profileid
		ORDER BY a.ChannelDesc, a.SubChannelDesc, a.AccountDesc, a.SubAccountDesc 
	/* List Sub Activity */
	SELECT DISTINCT vaa.categoryId, vaa.categoryDesc, vaa.subCategoryId, vaa.subCategoryDesc, vaa.activityId, vaa.activityDesc, vaa.subActivityId, vaa.subActivityDesc, vaa.subActivityTypeId, vaa.subActivityTypeDesc 
	FROM vw_activity_active vaa
	INNER JOIN tbmst_main_activity_dtl mad ON vaa.SubActivityId = mad.subactivityid
	INNER JOIN tbmst_main_activity ma ON mad.mainactivityid = ma.id
	WHERE ma.longDesc = 'Running Rate'
	ORDER BY vaa.CategoryDesc, vaa.SubCategoryDesc, vaa.ActivityDesc, vaa.SubActivityDesc
END
GO
