

/****** Object:  StoredProcedure [dbo].[ip_promo_budget_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_budget_get]
	@period int
	, @categoryid int
	, @subcategoryid int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @distributorId int
	, @groupbrandid int
	, @subactivitytypeid int
	, @activityid int
	, @subactivityid int

AS

--DECLARE 
--	@period int
--	, @categoryid int
--	, @subcategoryid int
--	, @channelid int
--	, @subchannelid int
--	, @accountid int
--	, @subaccountid int
--	, @distributorId int
--	, @groupbrandid int
--	, @subactivitytypeid int
--	, @activityid int
--	, @subactivityid int

--SET @period = 2025
--SET @groupBrandId = 2
--SET @categoryId = 3
--SET @subCategoryId = 30
--SET @activityId = 188
--SET @subActivityId = 921
--SET @subActivityTypeId = 3
--SET @distributorId = 3
--SET @channelId = 6
--SET @subChannelId = 9
--SET @accountId = 45
--SET @subAccountId = 116

--{"period":"2025","groupBrandId":"1","categoryId":"3","subCategoryId":"30","activityId":"188","subActivityId":"955","subActivityTypeId":"3"
--,"distributorId":"2","channelId":"6","subChannelId":"9","accountId":"45","subAccountId":"116"}  

--"period":"2025","groupBrandId":"1","categoryId":"3","subCategoryId":"30","activityId":"140","subActivityId":"817","subActivityTypeId":"3","distributorId":"2","channelId":"6","subChannelId":"9","accountId":"45","subAccountId":"116"}  
--"period":"2025","groupBrandId":"2","categoryId":"5","subCategoryId":"0","activityId":"0","subActivityId":"900","subActivityTypeId":"11","distributorId":"3","channelId":"3","subChannelId":"0","accountId":"0","subAccountId":"0"}  

--SELECT
--	@period=a.period
--	,@categoryid=a.categoryid
--	,@subcategoryid=a.subcategoryid
--	,@channelid=b.channelid
--	,@subchannelid=c.subchannelid
--	,@accountid=d.accountid
--	,@subaccountid=e.subaccountid
--	,@distributorId=a.distributorId
--	,@groupbrandid=a.groupbrandid
--	,@subactivitytypeid=g.subactivitytypeid
--	,@activityid=a.activityid
--	,@subactivityid=a.subactivityid
--from tbtrx_promo a
--			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
--			INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
--			INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
--			INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
--			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
--			INNER join vw_activity_active g on a.SubActivityId=g.SubActivityId
--where a.RefId='SGM00012/AL25/RC'
--EXEC ip_promo_budget_get
--	@period
--	,@categoryid
--	,@subcategoryid
--	,@channelid
--	,@subchannelid
--	,@accountid
--	,@subaccountid
--	,@distributorId
--	,@groupbrandid
--	,@subactivitytypeid
--	,@activityid
--	,@subactivityid


--INSERT INTO mytmp(f1, f2)
--VALUES ('@period', @period)
--	, ('@categoryid', @categoryid)
--	, ('@subcategoryid', @subcategoryid)
--	, ('@channelid', @channelid)
--	, ('@subchannelid', @subchannelid)
--	, ('@accountid', @accountid)
--	, ('@subaccountid', @subaccountid)
--	, ('@distributorId', @distributorId)
--	, ('@groupbrandid', @groupbrandid)
--	, ('@subactivitytypeid', @subactivitytypeid)
--	, ('@activityid', @activityid)
--	, ('@subactivityid', @subactivityid)

BEGIN

	DROP TABLE IF EXISTS #tmp_ss_tt_rcCosmo
	DROP TABLE IF EXISTS #tmp_ss_tt_rcNonCosmo
	DROP TABLE IF EXISTS #tmp_ss_tt_dc
	DROP TABLE IF EXISTS #tmp_ss_tt_rc_activity
	DROP TABLE IF EXISTS #tmp_ss_tt_rc_subactivity
	DROP TABLE IF EXISTS #result


	DECLARE @subactivitytypedesc varchar(50)
		, @mainActivity varchar(50)
		, @activityDesc varchar(50)
		, @subactivityDesc varchar(50)
		, @messageout varchar(255)

	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;
	SELECT @subactivityDesc = longDesc FROM tbmst_subactivity WHERE id = @subactivityid;
	SELECT @subCategoryId = SubCategoryId, @activityId = ActivityId FROM vw_activity WHERE SubActivityId= @subactivityid
	SELECT @mainActivity=a.longDesc from tbmst_main_activity a 
		INNER JOIN tbmst_main_activity_dtl b on a.id=b.mainactivityid
		WHERE SubActivityId=@subactivityid
	SELECT @subactivitytypedesc=b.LongDesc from tbmst_subactivity a 
		INNER JOIN tbmst_subactivity_type b ON a.SubActivityTypeId=b.Id
		WHERE a.Id = @subactivityid

IF @subchannelid=0 AND @accountid=0 AND @subaccountid=0 /*PS VALUE for DC*/
	BEGIN

		SELECT a.*, b.CategoryDesc, b.SubCategoryDesc, b.ActivityDesc, b.SubActivityDesc, f.LongDesc subActivityTypeDesc, d.id mainActivityId, d.longDesc mainActivityDesc 
		into #tmp_ss_tt_dc 
		from tbtrx_ss_tt a
			INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
				AND a.period=@period
				AND a.categoryid=@categoryid
				AND a.channelid=@channelid
				AND a.distributorId=@distributorId
				AND a.groupbrandid=@groupbrandid
				AND a.subactivitytypeid=@subactivitytypeid
				AND a.subactivityid=@subactivityid
				AND a.tt > 0
			INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
			INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
			INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
			INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

		SELECT 
			a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
			, a.channelid, d.LongDesc ChannelDesc
			, 0 subchannelid, '' SubChannelDesc, 0 accountid, '' AccountDesc, 0 subaccountid, '' SubAccountDesc
			, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
			, a.subactivityid, a.SubActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', a.SubCategoryDesc, ' ', a.subActivityTypeDesc) budgetname
			, round(a.tt*b.psvalue/100,0) budgetamount
			, SUM(ISNULL(g.cost,0)) TotCost
			, ROUND(round(a.tt*b.psvalue/100,0) - SUM(ISNULL(g.cost,0)),0) RemainingBudget
			, a.subactivityid
				FROM #tmp_ss_tt_dc a
				INNER JOIN (
					SELECT 
						a.period, a.distributorid, a.groupbrandid
						,ROUND(SUM(ISNULL(a.m1,0) + ISNULL(a.m2,0) + ISNULL(a.m3,0) + ISNULL(a.m4,0) + ISNULL(a.m5,0) + ISNULL(a.m6,0) + ISNULL(a.m7,0) + ISNULL(a.m8,0) + ISNULL(a.m9,0) + ISNULL(a.m10,0) + ISNULL(a.m11,0) + ISNULL(a.m12,0)),0) psvalue
							FROM tbtrx_ps_value a
							WHERE a.period=@period AND a.distributorid= @distributorId AND a.groupbrandid=@groupbrandid
							GROUP BY a.period, a.distributorid, a.groupbrandid
						)b ON 
							a.period = b.period
							AND a.distributorId= b.distributorid
							AND a.groupbrandid = b.groupbrandid
				INNER JOIN tbmst_channel d ON a.channelid=d.Id
				INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
				INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
				LEFT JOIN (
						--SELECT a.CategoryId, a.SubCategoryId, a.SubActivityId, a.period, b.ChannelId, 0 SubChannelId, 0 AccountId, 0 SubAccountId, a.groupbrandid, a.distributorid, SUM(f.Cost)Cost from tbtrx_promo a
						--	INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND a.subactivityid=@subactivityid
						--	INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
						--	WHERE ISNULL(a.IsCancel,0)=0
						--GROUP BY a.CategoryId, a.SubCategoryId, a.SubActivityId, a.period, b.ChannelId, a.groupbrandid, a.distributorid
					select 
						prid.promoid, prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.subActivityId
						, prid.period, prid.ChannelId, prid.groupbrandid, prid.distributorid,
						IIF(prid.isClose=1, SUM(ISNULL(dn.dpp,0)), prid.investment) cost
						--prid.promoid, SUM(prid.cost), SUM(ISNULL(dn.dpp,0)) dnclaim, prid.isClose, IIF(prid.isClose=1, SUM(ISNULL(dn.dpp,0)), SUM(prid.cost)) actualCost  
							from (
								select a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityId, a.period, b.ChannelId, a.groupbrandid, a.distributorid,
									a.id promoid, a.Investment, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
									INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
									WHERE
										a.period				=@period
										AND a.categoryid		=@categoryid
										AND a.subcategoryid		=@subcategoryid
										AND a.activityid		=@activityid
										AND a.subactivityid		=@SubActivityId
										AND b.channelid			=@channelid
										AND a.distributorId		=@distributorid
										AND a.groupbrandid		=@groupbrandid
										AND ISNULL(a.IsCancel,0)=0
										AND ISNULL(a.IsCancel,0)=0
									GROUP BY a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityId, a.period, b.ChannelId, a.groupbrandid, a.distributorid,
											a.id, a.Investment, ISNULL(a.IsClose,0) 
										)prid
								LEFT JOIN tbtrx_debetnote dn ON prid.promoid = dn.PromoId AND ISNULL(dn.IsCancel,0)=0
								GROUP BY prid.promoid, prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.SubActivityId, prid.period, prid.ChannelId, prid.groupbrandid, prid.distributorid, prid.isClose, prid.investment
						) g ON 
							a.period=g.period
							AND a.categoryid=g.categoryid
							AND a.subcategoryid=g.subcategoryid
							AND a.channelid=g.channelid
							AND a.distributorId=g.distributorid
							AND a.groupbrandid=g.groupbrandid
							AND a.subactivityid=g.subactivityid

							--AND a.channelid=g.channelid
							--AND a.distributorId=g.distributorid
							--AND a.groupbrandid=g.groupbrandid
							--AND a.subactivityid=g.subactivityid
					GROUP BY 	
						a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
						, a.channelid, d.LongDesc
						, a.distributorId, e.ShortDesc, a.groupbrandid, f.LongDesc 
						, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', a.mainActivityDesc, ' ', a.subActivityTypeDesc)
						, a.subactivityid, a.SubActivityDesc
						, a.subActivityTypeDesc, a.tt, b.psvalue

					IF @@ROWCOUNT=0 and @mainActivity='Running Rate'
						BEGIN
							SET @messageout='Running Rate Budget not found'		
							RAISERROR (@messageout, -- Message text.
									16, -- Severity.
									1 -- State.
									);
						END
			--END
	END
ELSE
	BEGIN
		--IF (@activityDesc = 'Trading Term - Consumer Promo') OR (@activityDesc = 'Trading Term - Promo Fund')
		--BEGIN
		--	SELECT DISTINCT a.*, b.CategoryDesc, b.SubCategoryDesc, b.ActivityDesc, '' SubActivityDesc, 'Contractual' subActivityTypeDesc, d.id mainActivityId, d.longDesc mainActivityDesc 
		--	INTO #tmp_ss_tt_rcCosmo from tbtrx_ss_tt a
		--		INNER JOIN vw_activity b ON a.activityid = b.activityid 
		--			AND a.period=@period
		--			AND a.categoryid=@categoryid
		--			AND a.subcategoryid=@subcategoryid
		--			AND a.channelid=@channelid
		--			AND a.subchannelid=@subchannelid
		--			AND a.accountid=@accountid
		--			AND a.subaccountid=@subaccountid
		--			AND a.distributorId=@distributorId
		--			AND a.groupbrandid=@groupbrandid
		--			AND a.subactivitytypeid=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
		--			AND a.activityid=@activityid
		--			--AND a.subactivityid=@subactivityid
		--		INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
		--		INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id

		--	SELECT 
		--		a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
		--		, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
		--		, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
		--		, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', d.SubAccountDesc, ' ', a.ActivityDesc ) budgetname
		--		, SUM(round(a.tt*b.ssvalue/100,0)) budgetamount
		--		, SUM(ISNULL(g.cost,0)) TotCost
		--		, ROUND(SUM(round(a.tt*b.ssvalue/100,0)) - SUM(ISNULL(g.cost,0)),0) RemainingBudget
		--		, 0 subactivityid
		--		--, 0 RemainingBudget
		--			FROM #tmp_ss_tt_rcCosmo a
		--			INNER JOIN (
		--				SELECT 
		--						a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		--						,ROUND(SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))),0) ssvalue
		--						FROM tbtrx_ss_volume a
		--						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.groupbrandid=b.groupbrandid
		--						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		--				)b ON 
		--					a.period = b.period
		--					AND a.channelid = b.channelid
		--					AND a.subchannelid = b.subchannelid
		--					AND a.accountid = b.accountid
		--					AND a.subaccountid = b.subaccountid
		--					AND a.groupbrandid = b.groupbrandid
		--			INNER JOIN vw_account d ON a.subaccountid=d.SubAccountId
		--			INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
		--			INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
		--			LEFT JOIN (
		--				--SELECT a.CategoryId, a.SubCategoryId, a.ActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, f.groupbrandid, f.distributorid, SUM(f.Cost)Cost  from tbtrx_promo a
		--				--	INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
		--				--	INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
		--				--	INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
		--				--	INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
		--				--	INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
		--				--	WHERE ISNULL(a.IsCancel,0)=0
		--				--GROUP BY a.CategoryId, a.SubCategoryId, a.ActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, f.groupbrandid, f.distributorid
		--					select 
		--							prid.promoid, prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid,
		--							 IIF(prid.isClose=1, SUM(ISNULL(dn.dpp,0)), prid.investment) cost
		--							--prid.promoid, SUM(prid.cost), SUM(ISNULL(dn.dpp,0)) dnclaim, prid.isClose, IIF(prid.isClose=1, SUM(ISNULL(dn.dpp,0)), SUM(prid.cost)) actualCost  
		--							from (
		--								select a.CategoryId, a.SubCategoryId, a.ActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
		--										a.id promoid, a.Investment, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
		--										INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
		--										INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
		--										INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
		--										INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
		--									WHERE
		--										a.period				=@period
		--										AND a.categoryid		=@categoryid
		--										AND a.subcategoryid		=@subcategoryid
		--										AND a.activityid		=@activityid
		--										AND a.subactivityid		=@SubActivityId
		--										AND b.channelid			=@channelid
		--										AND c.subchannelid		=@subchannelid
		--										AND d.accountid			=@accountid
		--										AND e.subaccountid		=@SubAccountId
		--										AND a.distributorId		=@distributorid
		--										AND a.groupbrandid		=@groupbrandid
		--										AND ISNULL(a.IsCancel,0)=0
		--										AND ISNULL(a.IsCancel,0)=0
		--									GROUP BY a.CategoryId, a.SubCategoryId, a.ActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
		--											a.id, a.Investment, ISNULL(a.IsClose,0) 
		--								)prid
		--						LEFT JOIN tbtrx_debetnote dn ON prid.promoid = dn.PromoId AND ISNULL(dn.IsCancel,0)=0
		--						GROUP BY prid.promoid, prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid, prid.isClose, prid.investment
													
		--						) g ON 
		--					a.period=g.period
		--					AND a.categoryid=g.categoryid
		--					AND a.subcategoryid=g.subcategoryid
		--					AND a.channelid=g.channelid
		--					AND a.subchannelid=g.subchannelid
		--					AND a.accountid=g.accountid
		--					AND a.subaccountid=g.SubAccountId
		--					AND a.distributorId=g.distributorid
		--					AND a.groupbrandid=g.groupbrandid
		--					AND a.activityid=g.activityid
		--					AND a.subactivityid=0
		--			GROUP BY 	
		--				a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
		--				, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
		--				, a.distributorId, e.ShortDesc, a.groupbrandid, f.LongDesc 
		--				, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, d.SubAccountDesc, a.ActivityDesc )
		--				--, a.subactivityid

		--			IF @@ROWCOUNT=0 and @mainActivity='Running Rate'
		--				BEGIN
		--					SET @messageout='Contractual Budget not found'		
		--					RAISERROR (@messageout, -- Message text.
		--							16, -- Severity.
		--							1 -- State.
		--							);
		--				END
		--	--END
		--END
		--ELSE
		--BEGIN
		--	SELECT a.*, b.CategoryDesc, b.SubCategoryDesc, b.ActivityDesc, b.SubActivityDesc, f.LongDesc subActivityTypeDesc, d.id mainActivityId, d.longDesc mainActivityDesc 
		--	INTO #tmp_ss_tt_rcNonCosmo from tbtrx_ss_tt a
		--		INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
		--			AND a.period=@period
		--			AND a.categoryid=@categoryid
		--			AND a.subcategoryid=@subcategoryid
		--			AND a.channelid=@channelid
		--			AND a.subchannelid=@subchannelid
		--			AND a.accountid=@accountid
		--			AND a.subaccountid=@subaccountid
		--			AND a.distributorId=@distributorId
		--			--AND distributorshortdesc=@distributorshortdesc
		--			AND a.groupbrandid=@groupbrandid
		--			AND a.subactivitytypeid=@subactivitytypeid
		--			AND a.activityid=@activityid
		--			AND a.subactivityid=@subactivityid
		--		INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
		--		INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		--		INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
		--		INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

		--	--IF @subactivitytypedesc='Contractual' AND @mainActivity='Running Rate'
		--	--BEGIN
		--		SELECT 
		--			a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
		--			, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
		--			, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
		--			, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', d.SubAccountDesc, ' ', a.ActivityDesc ) budgetname
		--			, SUM(round(a.tt*b.ssvalue/100,0)) budgetamount
		--			, SUM(ISNULL(g.cost,0)) TotCost
		--			, ROUND(SUM(round(a.tt*b.ssvalue/100,0)) - SUM(ISNULL(g.cost,0)),0) RemainingBudget
		--			, a.subactivityid
		--			--, 0 RemainingBudget
		--			FROM #tmp_ss_tt_rcNonCosmo a
		--			LEFT JOIN (
		--				SELECT 
		--						a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		--						,ROUND(SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))),0) ssvalue
		--						FROM tbtrx_ss_volume a
		--						LEFT JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.groupbrandid=b.groupbrandid
		--						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		--				)b ON 
		--					a.period = b.period
		--					AND a.channelid = b.channelid
		--					AND a.subchannelid = b.subchannelid
		--					AND a.accountid = b.accountid
		--					AND a.subaccountid = b.subaccountid
		--					AND a.groupbrandid = b.groupbrandid
		--			INNER JOIN vw_account d ON a.subaccountid=d.SubAccountId
		--			INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
		--			INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
		--			LEFT JOIN (
		--					select 
		--							--prid.promoid, 
		--							prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.subActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid,
		--							 IIF(prid.isClose=1, SUM(ISNULL(prid.dpp,0)), sum(prid.investment)) cost
		--							from (
		--								select a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
		--										--a.id promoid, 
		--										sum(a.Investment) investment, ISNULL(a.IsClose,0) isClose, sum(isnull(dn.dpp, 0)) dpp from tbtrx_promo a
		--										INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
		--										INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
		--										INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
		--										INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
		--										LEFT JOIN (
		--											select promoid, sum(dpp) dpp from tbtrx_debetnote 
		--											where ISNULL(IsCancel,0)=0
		--											group by promoid
		--										)dn ON a.id = dn.PromoId 
		--									WHERE
		--										a.period				=@period
		--										AND a.categoryid		=@categoryid
		--										AND a.subcategoryid		=@subcategoryid
		--										AND a.activityid		=@activityid
		--										AND a.subactivityid		=@SubActivityId
		--										AND b.channelid			=@channelid
		--										AND c.subchannelid		=@subchannelid
		--										AND d.accountid			=@accountid
		--										AND e.subaccountid		=@SubAccountId
		--										AND a.distributorId		=@distributorid
		--										AND a.groupbrandid		=@groupbrandid
		--										AND ISNULL(a.IsCancel,0)=0
		--										AND ISNULL(a.IsCancel,0)=0
		--									GROUP BY a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
		--											--a.id, a.Investment, 
		--											ISNULL(a.IsClose,0) 
		--								)prid
		--						----LEFT JOIN tbtrx_debetnote dn ON prid.promoid = dn.PromoId AND ISNULL(dn.IsCancel,0)=0
		--						GROUP BY 
		--							--prid.promoid, 
		--							prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.SubActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid, prid.isClose, prid.investment
		--				) g ON 
		--					a.period=g.period
		--					AND a.categoryid=g.categoryid
		--					AND a.subcategoryid=g.subcategoryid
		--					AND a.channelid=g.channelid
		--					AND a.subchannelid=g.subchannelid
		--					AND a.accountid=g.accountid
		--					AND a.subaccountid=g.SubAccountId
		--					AND a.distributorId=g.distributorid
		--					AND a.groupbrandid=g.groupbrandid
		--					AND a.activityid=g.activityid
		--					AND a.SubActivityId = g.SubActivityId
		--			GROUP BY 	
		--				a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
		--				, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
		--				, a.distributorId, e.ShortDesc, a.groupbrandid, f.LongDesc 
		--				, a.activityid, a.ActivityDesc, a.subactivityid, a.SubActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, d.SubAccountDesc, a.ActivityDesc )
		--				, a.subactivityid

		--			IF @@ROWCOUNT=0 AND @subactivitytypedesc='Contractual' AND @mainActivity='Running Rate'
		--				BEGIN
		--					SET @messageout='Contractual Budget not found'		
		--					RAISERROR (@messageout, -- Message text.
		--							16, -- Severity.
		--							1 -- State.
		--							);
		--				END
		--		--END
		--	END

		/* Cek by subactivity */
			SELECT a.*, b.CategoryDesc, b.SubCategoryDesc, b.ActivityDesc, b.SubActivityDesc, f.LongDesc subActivityTypeDesc, d.id mainActivityId, d.longDesc mainActivityDesc 
			INTO #tmp_ss_tt_rc_subactivity from tbtrx_ss_tt a
				INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
					AND a.period=@period
					AND a.categoryid=@categoryid
					AND a.subcategoryid=@subcategoryid
					AND a.channelid=@channelid
					AND a.subchannelid=@subchannelid
					AND a.accountid=@accountid
					AND a.subaccountid=@subaccountid
					AND a.distributorId=@distributorId
					--AND distributorshortdesc=@distributorshortdesc
					AND a.groupbrandid=@groupbrandid
					AND a.subactivitytypeid=@subactivitytypeid
					AND a.activityid=@activityid
					AND a.subactivityid=@subactivityid
					AND a.tt > 0
				INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
				INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
				INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
				INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

			SELECT 
				a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
				, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
				, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
				, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', d.SubAccountDesc, ' ', a.ActivityDesc ) budgetname
				, round(a.tt*b.ssvalue/100,0) budgetamount
				, SUM(ISNULL(g.cost,0)) TotCost
				, ROUND(round(a.tt*b.ssvalue/100,0) - SUM(ISNULL(g.cost,0)),0) RemainingBudget
				, a.subactivityid
				--, 0 RemainingBudget
				INTO #result
				FROM #tmp_ss_tt_rc_subactivity a
				LEFT JOIN (
					SELECT 
							a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
							,ROUND(SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))),0) ssvalue
							FROM tbtrx_ss_volume a
							LEFT JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid = b.subChannelId AND a.groupbrandid=b.groupbrandid
							GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
					)b ON 
						a.period = b.period
						AND a.channelid = b.channelid
						AND a.subchannelid = b.subchannelid
						AND a.accountid = b.accountid
						AND a.subaccountid = b.subaccountid
						AND a.groupbrandid = b.groupbrandid
				INNER JOIN vw_account d ON a.subaccountid=d.SubAccountId
				INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
				INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
				LEFT JOIN (
						select 
								--prid.promoid, 
								prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.subActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid,
									IIF(prid.isClose=1, SUM(ISNULL(prid.dpp,0)), sum(prid.investment)) cost
								from (
									select a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
											--a.id promoid, 
											sum(a.Investment) investment, ISNULL(a.IsClose,0) isClose, sum(isnull(dn.dpp, 0)) dpp from tbtrx_promo a
											INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
											INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
											INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
											INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
											LEFT JOIN (
												select promoid, sum(dpp) dpp from tbtrx_debetnote 
												where ISNULL(IsCancel,0)=0
												group by promoid
											)dn ON a.id = dn.PromoId 
										WHERE
											a.period				=@period
											AND a.categoryid		=@categoryid
											AND a.subcategoryid		=@subcategoryid
											AND a.activityid		=@activityid
											AND a.subactivityid		=@SubActivityId
											AND b.channelid			=@channelid
											AND c.subchannelid		=@subchannelid
											AND d.accountid			=@accountid
											AND e.subaccountid		=@SubAccountId
											AND a.distributorId		=@distributorid
											AND a.groupbrandid		=@groupbrandid
											AND ISNULL(a.IsCancel,0)=0
											AND ISNULL(a.IsCancel,0)=0
										GROUP BY a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
												--a.id, a.Investment, 
												ISNULL(a.IsClose,0) 
									)prid
							----LEFT JOIN tbtrx_debetnote dn ON prid.promoid = dn.PromoId AND ISNULL(dn.IsCancel,0)=0
							GROUP BY 
								--prid.promoid, 
								prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.SubActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid, prid.isClose, prid.investment
					) g ON 
						a.period=g.period
						AND a.categoryid=g.categoryid
						AND a.subcategoryid=g.subcategoryid
						AND a.channelid=g.channelid
						AND a.subchannelid=g.subchannelid
						AND a.accountid=g.accountid
						AND a.subaccountid=g.SubAccountId
						AND a.distributorId=g.distributorid
						AND a.groupbrandid=g.groupbrandid
						AND a.activityid=g.activityid
						AND a.SubActivityId = g.SubActivityId
				GROUP BY 	
					a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
					, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
					, a.distributorId, e.ShortDesc, a.groupbrandid, f.LongDesc 
					, a.activityid, a.ActivityDesc, a.subactivityid, a.SubActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, d.SubAccountDesc, a.ActivityDesc )
					, a.subactivityid, a.tt, b.ssvalue

			/*Jika by subactivity tidak ada, maka cari by activity*/
			IF @@ROWCOUNT=0
			BEGIN
				SELECT DISTINCT a.*, b.CategoryDesc, b.SubCategoryDesc, b.ActivityDesc, '' SubActivityDesc, 'Contractual' subActivityTypeDesc --, d.id mainActivityId, d.longDesc mainActivityDesc 
				INTO #tmp_ss_tt_rc_activity from tbtrx_ss_tt a
					INNER JOIN vw_activity b ON a.activityid = b.activityid 
						AND a.period=@period
						AND a.categoryid=@categoryid
						AND a.subcategoryid=@subcategoryid
						AND a.channelid=@channelid
						AND a.subchannelid=@subchannelid
						AND a.accountid=@accountid
						AND a.subaccountid=@subaccountid
						AND a.distributorId=@distributorId
						AND a.groupbrandid=@groupbrandid
						AND a.subactivitytypeid=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
						AND a.activityid=@activityid
						AND a.subactivityid = 0
						AND a.tt>0
						--AND a.subactivityid=@subactivityid
					--INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
					--INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id

				INSERT INTO #result
				SELECT 
					a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
					, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
					, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
					, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', d.SubAccountDesc, ' ', a.ActivityDesc ) budgetname
					--, SUM(round(a.tt*b.ssvalue/100,0)) budgetamount
					, round(a.tt*b.ssvalue/100,0) budgetamount
					, SUM(ISNULL(g.cost,0)) TotCost
					, ROUND(round(a.tt*b.ssvalue/100,0) - SUM(ISNULL(g.cost,0)),0) RemainingBudget
					, 0 subactivityid				
				FROM #tmp_ss_tt_rc_activity a
				INNER JOIN (
					SELECT 
							a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
							,ROUND(SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))),0) ssvalue
							FROM tbtrx_ss_volume a
							INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid = b.subChannelId AND a.groupbrandid=b.groupbrandid
							GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
					)b ON 
						a.period = b.period
						AND a.channelid = b.channelid
						AND a.subchannelid = b.subchannelid
						AND a.accountid = b.accountid
						AND a.subaccountid = b.subaccountid
						AND a.groupbrandid = b.groupbrandid
				INNER JOIN vw_account d ON a.subaccountid=d.SubAccountId
				INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
				INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
				LEFT JOIN (
					select 
							prid.promoid, prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid,
								IIF(prid.isClose=1, SUM(ISNULL(dn.dpp,0)), prid.investment) cost
							--prid.promoid, SUM(prid.cost), SUM(ISNULL(dn.dpp,0)) dnclaim, prid.isClose, IIF(prid.isClose=1, SUM(ISNULL(dn.dpp,0)), SUM(prid.cost)) actualCost  
							from (
								select a.CategoryId, a.SubCategoryId, a.ActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
										a.id promoid, a.Investment, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
										INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
										INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
										INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
										INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
									WHERE
										a.period				=@period
										AND a.categoryid		=@categoryid
										AND a.subcategoryid		=@subcategoryid
										AND a.activityid		=@activityid
										--AND a.subactivityid		=@SubActivityId
										AND b.channelid			=@channelid
										AND c.subchannelid		=@subchannelid
										AND d.accountid			=@accountid
										AND e.subaccountid		=@SubAccountId
										AND a.distributorId		=@distributorid
										AND a.groupbrandid		=@groupbrandid
										AND ISNULL(a.IsCancel,0)=0
										AND ISNULL(a.IsCancel,0)=0
									GROUP BY a.CategoryId, a.SubCategoryId, a.ActivityId, a.period, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, a.groupbrandid, a.distributorid,
											a.id, a.Investment, ISNULL(a.IsClose,0) 
								)prid
						LEFT JOIN tbtrx_debetnote dn ON prid.promoid = dn.PromoId AND ISNULL(dn.IsCancel,0)=0
						GROUP BY prid.promoid, prid.CategoryId, prid.SubCategoryId, prid.ActivityId, prid.period, prid.ChannelId, prid.SubChannelId, prid.AccountId, prid.SubAccountId, prid.groupbrandid, prid.distributorid, prid.isClose, prid.investment
													
						) g ON 
					a.period=g.period
					AND a.categoryid=g.categoryid
					AND a.subcategoryid=g.subcategoryid
					AND a.channelid=g.channelid
					AND a.subchannelid=g.subchannelid
					AND a.accountid=g.accountid
					AND a.subaccountid=g.SubAccountId
					AND a.distributorId=g.distributorid
					AND a.groupbrandid=g.groupbrandid
					AND a.activityid=g.activityid
					AND a.subactivityid=0
				GROUP BY 	
					a.period, a.categoryid, a.CategoryDesc, a.subcategoryid, a.SubCategoryDesc
					, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
					, a.distributorId, e.ShortDesc, a.groupbrandid, f.LongDesc 
					, a.activityid, a.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, d.SubAccountDesc, a.ActivityDesc )
					, a.tt, b.ssvalue
					--, a.subactivityid

			END
			SELECT * FROM #result

			IF @@ROWCOUNT=0 AND @subactivitytypedesc='Contractual' AND @mainActivity='Running Rate'
			BEGIN
				SET @messageout='Contractual Budget not found'		
				RAISERROR (@messageout, -- Message text.
						16, -- Severity.
						1 -- State.
						);
			END

	END

	DROP TABLE IF EXISTS #tmp_ss_tt_rc
	DROP TABLE IF EXISTS #tmp_ss_tt_dc
	DROP TABLE IF EXISTS #tmp_ss_tt_rc_activity
	DROP TABLE IF EXISTS #tmp_ss_tt_rc_subactivity
	DROP TABLE IF EXISTS #result
END

GO
