USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_assign_request]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_assign_request]
@dnid int,
@approveruserid varchar(50),
@internalordernumber varchar(50)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
	LGP 2020-02-22: Penambahan flag IsDNManual pada block update,jika internal doc nya ada maka IsDNManual=false

*/

begin try
begin transaction


	UPDATE tbtrx_debetnote 
	SET AssignBy=@approveruserid, 
	InternalOrderNumber=@internalordernumber,
	IsDnPromo=IIF(len(isnull(@internalordernumber,'')) > 0,0,1),
	IsDnManual=IIF(len(isnull(@internalordernumber,'')) > 0,0,1),
	AssignOn=IIF(len(isnull(@internalordernumber,'')) > 0,@utcDate123,AssignOn), 
	AssignRequestDate=IIF(len(isnull(@internalordernumber,'')) > 0,AssignRequestDate,@utcDate123) 
	where Id=@dnid

	SELECT a.Id, a.RefId, b.id approver_userid
	,b.username approver_username
	,b.email approver_email
	FROM tbtrx_debetnote a
	left join tbset_user b on a.AssignBy=b.id
	where a.Id=@dnid

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
             @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
END CATCH



GO
