USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_list_budget_allocation]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_list_budget_allocation] --'2020'
@periode varchar(4)
AS
select 
b.RefId,
b.BudgetType,
a.LongDesc [Budget Allocation]
,ctg.SubCategoryDesc [Sub Category]
,isnull(act.ActivityDesc,'') [Activity]
,isnull(sact.SubActivityDesc,'') [Sub Activity]
,a.BudgetAmount [Budget Amount]
from tbtrx_allocation_detail a
inner join tbtrx_allocation b on a.AllocationId=b.Id
inner join tbtrx_budgetmaster m on b.BudgetMasterId=m.Id
LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryid=a.Subcategoryid
LEFT JOIN (SELECT ActivityId,SubCategoryId,ActivityDesc from vw_activity group by ActivityId,SubCategoryId,ActivityDesc) act on act.SubCategoryId=a.SubCategoryId and a.ActivityId=act.ActivityId
LEFT JOIN (SELECT SubActivityId,SubCategoryId,ActivityId,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryId,ActivityId,SubActivityDesc) sact 
on a.SubCategoryId=sact.SubCategoryId 
and a.ActivityId=sact.ActivityId 
and a.SubActivityId=sact.SubActivityId	
where m.Periode=@periode
GO
