

/****** Object:  StoredProcedure [dbo].[ip_import_master_distributor]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_distributor]
@Distributor DistributorType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
DISTRIBUTOR
*****************/

	MERGE tbmst_distributor t
	USING 		
		@Distributor s 	
	ON t.LongDesc=s.LongDesc 
	WHEN MATCHED THEN
	UPDATE 
	SET t.LongDesc=s.LongDesc
	,t.ShortDesc=s.ShortDesc
	,t.CompanyName=s.Company
	,t.[Address]=s.[Address]
	,t.NPWP=s.NPWP
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		
           [LongDesc]
           ,[ShortDesc]
		   ,CompanyName
		   ,[Address]
		   ,NPWP
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           LongDesc
           ,ShortDesc
		   ,Company
		   ,[Address]
		   ,NPWP
           ,1
           ,@utcDate123
           ,@userid
           );



END
GO
