USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_adm_report_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_user_adm_report_p] 
	 @userid varchar(30),
	 @start int,
	 @length int,
	 @filter varchar(255),
	 @txtSearch varchar(255)
AS

--DECLARE 
-- @userid varchar(30),
-- @start int,
-- @length int,
-- @filter varchar(255),
-- @txtSearch varchar(255)
--set @userid ='cmgt'
--SET @start =1
--SET @length =-1
--SET @filter =''
--SET @txtSearch =''

BEGIN

	set @userid=IIF(@userid='0', '0', @userid)
	set @length=IIF(@length=0, 10, @length)
	set @filter=ISNULL(@filter,'')
	set @txtSearch=ISNULL(@txtSearch,'')
	--SET @order = IIF(ISNULL(@order,'')='','RefId', @order)
	SET @start = @start * @length

    drop table if exists #temp_result;        
	DECLARE @recordsFiltered int;

	DECLARE @usergroupid varchar(15);
	DECLARE @Temp TABLE
	(
		usergroupid varchar(15),
		menuid varchar(10),
		parent varchar(10),
		name varchar(50),
		icon varchar(50),
		url varchar(50),
		[number] int,
		flag varchar(10),
		crud tinyint,
		approve tinyint,
		menuaccess tinyint
	);

	DECLARE cursor_groupmenu CURSOR
	FOR SELECT DISTINCT a.usergroupid FROM tbset_user a WHERE iif(@userid='0','0',a.id)=iif(@userid='0','0',@userid)
	;
	
	OPEN cursor_groupmenu;
	FETCH NEXT FROM cursor_groupmenu
	INTO @usergroupid;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO @Temp 
		SELECT @usergroupid as usergroupid
			, a.id menuid, a.parent, a.name, a.icon, a.url, a.number, a.flag, a.crud
			, a.approve, IIF(isnull(b.menuid,'')='',0,1) menuaccess
		from tbset_menu a left join ( 
			select usergroupid, menuid from tbset_userrights where usergroupid = @usergroupid )
			b on a.id=b.menuid
		
		FETCH NEXT FROM cursor_groupmenu
		INTO @usergroupid;
	END

	CLOSE cursor_groupmenu;
	DEALLOCATE cursor_groupmenu;

	SELECT    
		a.id, y.username, y.email, a.department, a.jobtitle, y.contactinfo, a.distributorid, a.usergroupid, e.usergroupname
		, a.userlevel, f.levelname, b.menuid, 
		iif(b.parent = 0, b.name, '') AS menu, iif(b.parent <> 0, b.name, '') AS submenu, b.flag, b.crud
		, iif(isnull(b.menuid,0)=0,0, b.approve) as approve
		, iif(isnull(c.menuid,0)=0,0, c.create_rec) as create_rec
		, iif(isnull(b.menuaccess,0)=0,0, 1) as read_rec
		, iif(isnull(c.menuid,0)=0,0, c.update_rec) as update_rec
		, iif(isnull(c.menuid,0)=0,0, c.delete_rec) as delete_rec
		, parent
		INTO #temp_result	
	FROM tbset_user_login y
		inner join tbset_user_login_profile x on x.id=y.id
		inner join tbset_user a on x.profileid=a.id
 		INNER JOIN @Temp b ON a.usergroupid = b.usergroupid
        INNER JOIN tbset_usergroup e ON a.usergroupid = e.usergroupid 
        INNER JOIN tbset_userlevel f ON a.userlevel = f.userlevel 
        LEFT JOIN  tbset_userlevel_access c ON a.userlevel = c.userlevel 
			AND a.usergroupid = c.usergroupid 
			AND b.menuid = c.menuid
	WHERE isnull(y.isdeleted, 0) = 0
	and iif(@userid='0','0',a.id)=iif(@userid='0','0',@userid)
	order by y.email, a.id, a.usergroupid, a.userlevel, b.menuid

	/**********************
        start pagination
    **********************/
    IF @length = -1
    BEGIN
		SELECT id, username, email, department, jobtitle, contactinfo, distributorid, usergroupid, usergroupname, userlevel, levelname, menuid, menu, submenu, flag, crud, approve, create_rec, read_rec, update_rec, delete_rec 
			FROM #temp_result
		WHERE 
            (isNull(username,'') like '%' + @txtSearch + '%') OR
            (isNull(email,'') like '%' + @txtSearch + '%') OR
            (isNull(department,'') like '%' + @txtSearch + '%') OR
            (isNull(jobtitle,'') like '%' + @txtSearch + '%') OR
            (isNull(contactinfo,'') like '%' + @txtSearch + '%') OR
            (isNull(usergroupname,'') like '%' + @txtSearch + '%') OR
            (isNull(levelname,'') like '%' + @txtSearch + '%')
		ORDER BY email, id, usergroupid, userlevel, iif(menuid='1','0',menuid),parent ASC
    END
    ELSE
    BEGIN
		SELECT id, username, email, department, jobtitle, contactinfo, distributorid, usergroupid, usergroupname, userlevel, levelname, menuid, menu, submenu, flag, crud, approve, create_rec, read_rec, update_rec, delete_rec 
			FROM #temp_result
		WHERE 
            (isNull(username,'') like '%' + @txtSearch + '%') OR
            (isNull(email,'') like '%' + @txtSearch + '%') OR
            (isNull(department,'') like '%' + @txtSearch + '%') OR
            (isNull(jobtitle,'') like '%' + @txtSearch + '%') OR
            (isNull(contactinfo,'') like '%' + @txtSearch + '%') OR
            (isNull(usergroupname,'') like '%' + @txtSearch + '%') OR
            (isNull(levelname,'') like '%' + @txtSearch + '%')
        ORDER BY email, id, usergroupid, userlevel, iif(menuid='1','0',menuid),parent ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
    END

	SET @recordsFiltered =
    (
        SELECT isnull(count(Id), 0)
        FROM #temp_result
        WHERE (isNull(username, '') like '%' + @txtSearch + '%')
           OR (isNull(email, '') like '%' + @txtSearch + '%')
           OR (isNull(department, '') like '%' + @txtSearch + '%')
           OR (isNull(jobtitle, '') like '%' + @txtSearch + '%')
           OR (isNull(contactinfo, '') like '%' + @txtSearch + '%')
           OR (isNull(usergroupname, '') like '%' + @txtSearch + '%')
           OR (isNull(levelname, '') like '%' + @txtSearch + '%')
    )
    SELECT isnull(count(Id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
    drop table if exists #temp_result
    /**********************
        end pagination
    **********************/

end


GO
