USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_recon_DNPaid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_promo_recon_DNPaid]
	@Id				INT
AS
BEGIN
	SELECT 
	     a.id
		,a.refId
		,a.activityDesc
		,a.dpp
		,a.ppnPct
		,a.ppnAmt
		,a.pphPct
		,a.pphAmt
		,a.VATExpired [vATExpired]
		,a.lastStatus
	--				,a.totalClaim
	--				,a.totalPaid
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0), a.dpp) totalClaim
		,iif(a.laststatus='confirm_paid',(iif(a.vatexpired=1, a.DPP+isnull(a.ppnamt,0),a.dpp)),0) totalPaid
		FROM tbtrx_debetnote a
		INNER JOIN tbtrx_promo b on a.PromoId=b.Id
		WHERE isnull(a.iscancel, 0) = 0
		AND a.laststatus='confirm_paid'
	    AND b.id=@Id			
END
GO
