USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_search_dnbyrefid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_search_dnbyrefid]
	@refid		VARCHAR(50)

AS 
DECLARE 
	@messageout varchar(255)

IF EXISTS
(
	SELECT td.RefId
	FROM tbtrx_debetnote td 
	WHERE td.RefId = @refid
)
BEGIN
	select id, RefId from tbtrx_debetnote td2 where td2.RefId = @refid
END
ELSE
BEGIN
	SET @messageout='DN Number not found'
	RAISERROR (@messageout, -- Message text.  
   		16, -- Severity.  
   		1 -- State.  
   );  
END

GO
