USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_pricecondition_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_pricecondition_ins]
	@IsNew                            bit,
	@Id                               int ,
	@CategoryId                       int ,
	@SubCategoryId                    int ,
	@ActivityId                       int ,
	@PriceConditionForPayment         varchar(10) ,
	@PriceConditionForAccrual         varchar(10) ,
	@PriceConditionForAccrualReversal varchar(10) ,
	@UserID          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.id
                FROM tbset_mapping_pricecondition a
                where a.CategoryId = @CategoryId and a.SubCategoryId=@SubCategoryId and a.ActivityId=@ActivityId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Price Condition already exist';
                    SET @messageout='Mapping Price Condition already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_mapping_pricecondition
                (
                   CategoryId
                  ,SubCategoryId
                  ,ActivityId
                  ,PriceConditionForPayment
                  ,PriceConditionForAccrual
                  ,PriceConditionForAccrualReversal
                  ,CreateOn
                  ,CreateBy
				  ,CreatedEmail
                )
                Values
                (
                   @CategoryId
                  ,@SubCategoryId
                  ,@ActivityId
                  ,@PriceConditionForPayment
                  ,@PriceConditionForAccrual
                  ,@PriceConditionForAccrualReversal
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';
		    
			UPDATE tbset_mapping_pricecondition
			SET
				CategoryId                       = @CategoryId,
				SubCategoryId                    = @SubCategoryId,
				ActivityId                       = @ActivityId,
				PriceConditionForPayment         = @PriceConditionForPayment,
				PriceConditionForAccrual         = @PriceConditionForAccrual,
				PriceConditionForAccrualReversal = @PriceConditionForAccrualReversal,
				ModifiedOn          = @CreatedOn,
				ModifiedBy          = @UserID,
				ModifiedEmail       = @UserLogin
			WHERE
				Id    = @Id
		End
    select @errCode errCode, @errMessage errMessage
END

GO
