

/****** Object:  StoredProcedure [dbo].[ip_mst_map_subaccount_sap_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_subaccount_sap_list_dl]
as
BEGIN
	SELECT 
		Id, 
		AccountId, 
		Account,
		subaccountid, 
		subaccount,
		ChannelId,
		Channel,
		SubChannelId,
		SubChannel,
		sapcode,
		CreateOn, CreateBy, CreatedEmail,  
		IsDelete, DeleteOn, DeleteBy, DeleteEmail
	FROM 
		(
			SELECT        
				t.Id, 
				sa.AccountId, 
				a.LongDesc  AS Account,
				t.subaccountid, 
				sa.LongDesc AS subaccount,
				c.Id        AS ChannelId,
				c.LongDesc  AS Channel,
				a.SubChannelId,
				sc.LongDesc AS SubChannel,
				t.sapcode,
				t.CreateOn, t.CreateBy, t.CreatedEmail,  
				0 IsDelete, NULL DeleteOn, NULL DeleteBy, NULL DeleteEmail
			FROM            
				tbset_map_subaccount_sap t INNER JOIN
				tbmst_subaccount sa ON sa.id = t.subaccountid INNER JOIN
				tbmst_account a ON a.id = sa.AccountId INNER JOIN
				tbmst_subchannel sc ON sc.Id = a.SubChannelId INNER JOIN
				tbmst_channel c ON c.id=sc.channelid

			UNION ALL

			SELECT        
				t.Id, 
				sa.AccountId, 
				a.LongDesc  AS Account,
				t.subaccountid, 
				sa.LongDesc AS subaccount,
				c.Id        AS ChannelId,
				c.LongDesc  AS Channel,
				a.SubChannelId,
				sc.LongDesc AS SubChannel,
				t.sapcode,
				t.CreateOn, t.CreateBy, t.CreatedEmail,  
				t.IsDelete, t.DeleteOn, t.DeleteBy, t.DeleteEmail
			FROM            
				tbhis_map_subaccount_sap t INNER JOIN
				tbmst_subaccount sa ON sa.id = t.subaccountid INNER JOIN
				tbmst_account a ON a.id = sa.AccountId INNER JOIN
				tbmst_subchannel sc ON sc.Id = a.SubChannelId INNER JOIN
				tbmst_channel c ON c.id=sc.channelid
		)dl
END
GO
