

/****** Object:  StoredProcedure [dbo].[ip_promo_recon_list_reporting]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_recon_list_reporting] --'2020',0,0,0,0,'0','2019-01-01','2020-12-31','2020-01-01','2020-12-31',30
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@submission_param int
,@userid UserType READONLY

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='0'
--SET @create_from='2019-01-01'
--SET @create_to='2020-12-31'
--SET @start_from='2019-01-01'
--SET @start_to='2020-12-31'

AS

BEGIN
DECLARE @user_list UserType;
DECLARE @UserCreator varchar(50);
SET @UserCreator=(SELECT id FROM @userid WHERE id='All');
--DECLARE @User104 varchar(50);
--DECLARE @User106 varchar(50);
--SET @User104=(SELECT id FROM @userid WHERE id='All_104');
--SET @User106=(SELECT id FROM @userid WHERE id='All_106');
/* select all user 104 and 106 */
--IF(@User104='All_104')
--BEGIN 
--	INSERT INTO @user_list (id)
--		SELECT id FROM tbset_user WHERE usergroupid IN ('104') AND isnull(isdeleted, 0) = 0;	
--END
--IF(@User104='All_106')
--BEGIN 
--	INSERT INTO @user_list (id)
--		SELECT id FROM tbset_user WHERE usergroupid IN ('104') AND isnull(isdeleted, 0) = 0;	
--END
IF(@UserCreator='All')
BEGIN 
	INSERT INTO @user_list (id)
		SELECT id FROM tbset_user WHERE usergroupid IN ('104', '106') AND isnull(isdeleted, 0) = 0;	
END

INSERT INTO @user_list (id)
	SELECT id FROM @userid WHERE id NOT IN ('All')
--	SELECT id FROM @userid WHERE id NOT IN ('All_104', 'All_106')

/*************************************************/
DROP TABLE IF EXISTS #temp_promo
DROP TABLE IF EXISTS #temp_promo_his
DROP TABLE IF EXISTS #temp_before
DROP TABLE IF EXISTS #temp_after
/*************************************************/

select 
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
--	,pr.Mechanisme1
	,mechanism.mechanism Mechanisme1	
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
--	,pr.Roi
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,m.DistributorId, m.PrincipalId, c.LongDesc as BudgetSource
    ,IIF(isnull(pr.actual_sales, 0)=0, isnull(baseline.asales,0), isnull(pr.actual_sales, 0)) actual_sales
    into #temp_promo from tbtrx_promo pr
    inner join
    (
        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbtrx_promo_mechanism a with (nolock)
            GROUP BY a.PromoId
    ) mechanism on pr.Id = mechanism.PromoId   		    
    inner join tbtrx_allocation c on pr.AllocationId=c.Id 
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	inner join @user_list usra ON pr.CreateBy = usra.id
	LEFT JOIN tbhlp_baseline_promo baseline on pr.id=baseline.id
--	inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId 
--	inner join @userid usra ON usr.UserId = usra.id
	--AND usr.UserId = iif(@userid='0','admin', @userid)
	WHERE m.Periode=@periode
		AND CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)	
--	AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--	AND (CONVERT(varchar(8),pr.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),pr.CreateOn,112) <= CONVERT(varchar(8),@create_to,112))
--	AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))	
	AND isnull(pr.StatusApprovalCode, '')='TP2'
	AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

/* create promo history
 *********************************************************************************************/
select 
	0 as parentid,
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
	,pr.Mechanisme1
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
--	,pr.Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,pr.DistributorId, pr.PrincipalId, pr.BudgetSource, pr.actual_sales
	into #temp_promo_his from #temp_promo pr WHERE isnull(pr.StatusApprovalCode, '')='TP2' AND isnull(pr.StatusApprovalCodeRecon, '')=''

INSERT INTO #temp_promo_his
	select
	0 as parentid,
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
--	,pr.Mechanisme1
	,mechanism.mechanism Mechanisme1	
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
--	,pr.Roi
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,m.DistributorId, m.PrincipalId, c.LongDesc as BudgetSource
    ,a.actual_sales
	from #temp_promo a
	inner join 
	(
	select max(tp.parentid) as parentid, id, AllocationId, BudgetMasterId from tbhis_promo tp
	where StatusApprovalCode = 'TP1'
	group by id, AllocationId, BudgetMasterId
	) b on a.id=b.id
	inner join tbhis_promo pr on pr.ParentId = b.parentid and pr.id=b.id
    inner join
    (
        select ParentId, PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbhis_promo_mechanism a with (nolock)
            GROUP BY a.ParentId, a.PromoId
    ) mechanism on pr.Id = mechanism.PromoId and pr.ParentId = mechanism.ParentId
    inner join tbtrx_allocation c on b.AllocationId=c.Id 
	inner join tbtrx_budgetmaster m on b.BudgetMasterId=m.Id	
	WHERE a.id NOT IN (SELECT id FROM #temp_promo_his)

INSERT INTO #temp_promo_his 
SELECT 
	0 as parentid,
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
	,pr.Mechanisme1
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
--	,pr.Roi
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,pr.DistributorId, pr.PrincipalId, pr.BudgetSource	
    ,pr.actual_sales
FROM #temp_promo pr WHERE pr.id NOT IN (SELECT id FROM #temp_promo_his)

/* create promo before
 *********************************************************************************************/
SELECT distinct
		p.LongDesc Entity
		,d.LongDesc Distributor
		,p.LongDesc PrincipalDesc
		,pr.BudgetSource
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,sctg.LongDesc [SubCategory]
		,act.LongDesc [Activity]
		,sact.LongDesc [SubActivity]
		,pr.ActivityDesc	
		,isnull(pr.Mechanisme1,'') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,region.RegionDesc
		,channel.ChannelDesc				
		,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
		,account.AccountDesc
		,subaccount.SubAccountDesc
--		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
--		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar),pr.LastStatusRecon + '-' + uf.username)) LastStatus
		,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as LastStatus
		,pr.ApprovalNotes	  
		,pr.NormalSales + pr.IncrSales [Target]
		,pr.Investment
		,pr.NormalSales
		,pr.IncrSales
		,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi	---LUK 2020-04-21
		,pr.CostRatio
		,TotalClaim DnClaim
		,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
		,TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		--,datediff(day,pr.CreateOn,pr.StartPromo) Gap
		--,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,0,1) OnTime	
		,pr.TsCoding
		,brand.BrandDesc
		,sku.SKUDesc
		,isnull(tpp.id, 0) as PromoPlanId 
		,isnull(tpp.RefId, '') as PromoPlanRefId
		,pr.id as id
        ,pr.actual_sales
	into #temp_before
	FROM #temp_promo_his pr with (nolock)
	inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
	inner join tbmst_principal p with (nolock) on pr.PrincipalId=p.Id
	inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
	--inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
	--left join tbset_user uo on uo.Id=pr.CancelBy
	--inner join tbset_user uf on uf.Id=pr.Approver
--	inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId --AND usr.UserId = iif(@userid='0','admin', @userid)
	left join tbset_user uo on uo.Id=pr.CancelBy
	left join tbset_user uf on uf.Id=pr.ApproverRecon --<<< To be changed to INNER JOIN
	inner join tbmst_activity act on pr.ActivityId=act.id
	inner join tbmst_subactivity sact on pr.SubActivityId=sact.id	
	inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_channel a with (nolock)
										join tbmst_channel chn with (nolock) 
										ON a.ChannelId=chn.Id and a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_channel b 
								INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) channel
						on pr.Id = channel.PromoId 
	inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + subchn.LongDesc 
										from tbtrx_promo_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_subchannel b INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + reg.LongDesc 
										from tbtrx_promo_region a with (nolock)
										join tbmst_region reg with (nolock)
										ON a.RegionId=reg.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
								FROM tbtrx_promo_region b INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId 
								GROUP BY PromoId
						) region
						on pr.Id = region.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_account b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) account
						on pr.Id = account.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + brd.LongDesc 
										from tbtrx_promo_brand a with (nolock)
										join tbmst_brand brd with (nolock)
										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
								FROM tbtrx_promo_brand b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) brand
						on pr.Id = brand.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + sku.LongDesc 
										from tbtrx_promo_product a with (nolock)
										join tbmst_product sku with (nolock)
										ON a.productid=sku.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
								FROM tbtrx_promo_product b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) sku
						on pr.Id = sku.PromoId
				left join
				(				
--					SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					SELECT
				    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) TotalClaim
				    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(iif(isnull(tc.laststatus,'')='confirm_paid',isnull(tc.dpp,0),0)) TotalPaid									
					FROM tbtrx_debetnote a
					INNER JOIN #temp_promo pr on a.PromoId=pr.Id
					AND isnull(a.IsCancel, 0) = 0
					LEFT JOIN tbtrx_creditnote tc on a.id=tc.DNId 
					GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
/*************************************************/

/* create promo after
 *********************************************************************************************/
SELECT distinct
		p.LongDesc Entity
		,d.LongDesc Distributor
		,p.LongDesc PrincipalDesc
		,pr.BudgetSource
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,sctg.LongDesc [SubCategory]
		,act.LongDesc [Activity]
		,sact.LongDesc [SubActivity]
		,pr.ActivityDesc	
		,isnull(pr.Mechanisme1,'') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,region.RegionDesc
		,channel.ChannelDesc				
		,subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
		,account.AccountDesc
		,subaccount.SubAccountDesc
--		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar),pr.LastStatusRecon + '-' + uf.username)) LastStatus
--		,CASE WHEN pr.Reconciled=1 THEN 'Reconciled' ELSE 'Not Yet Reconciled' END as LastStatus
		,pr.ApprovalNotes	  
		,pr.NormalSales + pr.IncrSales [Target]
		,pr.Investment
		,pr.NormalSales
		,pr.IncrSales
		,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi	---LUK 2020-04-21
		,pr.CostRatio
		,TotalClaim DnClaim
		,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
		,TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		--,datediff(day,pr.CreateOn,pr.StartPromo) Gap
		--,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,0,1) OnTime	
		,pr.TsCoding
		,brand.BrandDesc
		,sku.SKUDesc
		,isnull(tpp.id, 0) as PromoPlanId 
		,isnull(tpp.RefId, '') as PromoPlanRefId
		,pr.id as id
        ,pr.actual_sales
	into #temp_after 
	FROM #temp_promo pr with (nolock)
	inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
	inner join tbmst_principal p with (nolock) on pr.PrincipalId=p.Id
	inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
	--inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
	--left join tbset_user uo on uo.Id=pr.CancelBy
	--inner join tbset_user uf on uf.Id=pr.Approver
--	inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId = iif(@userid='0','admin', @userid)
	left join tbset_user uo on uo.Id=pr.CancelBy
	left join tbset_user uf on uf.Id=pr.ApproverRecon --<<< To be changed to INNER JOIN
	inner join tbmst_activity act on pr.ActivityId=act.id
	inner join tbmst_subactivity sact on pr.SubActivityId=sact.id	
	inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_channel a with (nolock)
										join tbmst_channel chn with (nolock) 
										ON a.ChannelId=chn.Id and a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_channel b 
								INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) channel
						on pr.Id = channel.PromoId 
	inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + subchn.LongDesc 
										from tbtrx_promo_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_subchannel b INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + reg.LongDesc 
										from tbtrx_promo_region a with (nolock)
										join tbmst_region reg with (nolock)
										ON a.RegionId=reg.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
								FROM tbtrx_promo_region b INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId 
								GROUP BY PromoId
						) region
						on pr.Id = region.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_account b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) account
						on pr.Id = account.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + brd.LongDesc 
										from tbtrx_promo_brand a with (nolock)
										join tbmst_brand brd with (nolock)
										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
								FROM tbtrx_promo_brand b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) brand
						on pr.Id = brand.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + sku.LongDesc 
										from tbtrx_promo_product a with (nolock)
										join tbmst_product sku with (nolock)
										ON a.productid=sku.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
								FROM tbtrx_promo_product b with (nolock) INNER JOIN #temp_promo pr with (nolock) ON pr.Id=b.PromoId  
								GROUP BY PromoId
						) sku
						on pr.Id = sku.PromoId
				left join
				(				
--					SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					SELECT
				    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) TotalClaim
				    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(iif(isnull(tc.laststatus,'')='confirm_paid',isnull(tc.dpp,0),0)) TotalPaid									
					FROM tbtrx_debetnote a
					INNER JOIN #temp_promo pr on a.PromoId=pr.Id
					AND isnull(a.IsCancel, 0) = 0
					LEFT JOIN tbtrx_creditnote tc on a.id=tc.DNId 
					GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
/*************************************************/
--select * from #temp_after
--select * from #temp_promo_his
--select * from #temp_before
select 
	a.Entity, 	a.Distributor, 	a.PrincipalDesc, 	a.BudgetSource, 	a.Initiator, 	a.CreateOn, 	a.LastUpdate, 	a.PromoNumber, 	a.SubCategory, 	a.Activity, 	a.SubActivity, 	a.ActivityDesc, 	a.Mechanisme1, 	a.Mechanisme2, 	a.Mechanisme3, 	a.Mechanisme4, 	a.RegionDesc, 	a.ChannelDesc, 	a.SubChannelDesc, 	a.AccountDesc, 	a.SubAccountDesc,
	a.LastStatus,
--	CASE WHEN a.Reconciled=1 THEN 'Reconciled' ELSE 'Not Yet Reconciled' END as LastStatus, 	
	a.ApprovalNotes, 	a.Target, 	a.Investment, 	a.NormalSales, 	a.IncrSales, 	a.Roi, 	a.CostRatio, 	a.DnClaim, 	a.RemainingBalance, 	a.DnPaid, 	a.StartPromo, 	a.EndPromo, 	a.TsCoding, 	a.BrandDesc, 	a.SKUDesc, 	a.PromoPlanId, 	a.PromoPlanRefId, 	a.id 
	,b.Entity as Entity_after, 	b.Distributor as Distributor_after, 	b.PrincipalDesc as PrincipalDesc_after, 	b.BudgetSource as BudgetSource_after, 	b.Initiator as Initiator_after, 	b.CreateOn as CreateOn_after, 	b.LastUpdate as LastUpdate_after, 	b.PromoNumber as PromoNumber_after, 	b.SubCategory as SubCategory_after, 	b.Activity as Activity_after, 	b.SubActivity as SubActivity_after, 	b.ActivityDesc as ActivityDesc_after, 	b.Mechanisme1 as Mechanisme1_after, 	b.Mechanisme2 as Mechanisme2_after, 	b.Mechanisme3 as Mechanisme3_after, 	b.Mechanisme4 as Mechanisme4_after, 	b.RegionDesc as RegionDesc_after, 	b.ChannelDesc as ChannelDesc_after, 	b.SubChannelDesc as SubChannelDesc_after, 	b.AccountDesc as AccountDesc_after, 	b.SubAccountDesc as SubAccountDesc_after,
	b.Laststatus as lastStatus_after,
--	CASE WHEN b.Reconciled=1 THEN 'Reconciled' ELSE 'Not Yet Reconciled' END as LastStatus_after, 	
	b.ApprovalNotes as ApprovalNotes_after, 	b.Target as Target_after, 	b.Investment as Investment_after, 	b.NormalSales as NormalSales_after, 	b.IncrSales as IncrSales_after, 	b.Roi as Roi_after, 	b.CostRatio as CostRatio_after, 	b.DnClaim as DnClaim_after, 	b.RemainingBalance as RemainingBalance_after, 	b.DnPaid as DnPaid_after, 	b.StartPromo as StartPromo_after, 	b.EndPromo as EndPromo_after, 	b.TsCoding as TsCoding_after, 	b.BrandDesc as BrandDesc_after, 	b.SKUDesc as SKUDesc_after, 	b.PromoPlanId as PromoPlanId_after, 	b.PromoPlanRefId as PromoPlanRefId_after, 	b.id as id_after
    ,IIF(isnull(b.actual_sales, 0)=0, isnull(baseline.actual_sales,0), isnull(b.actual_sales, 0)) actual_sales
from #temp_before a inner join #temp_after b on a.id=b.id
LEFT JOIN tbhlp_promo_baseline baseline on a.id=baseline.PromoId
/*************************************************/
DROP TABLE IF EXISTS #temp_promo
DROP TABLE IF EXISTS #temp_promo_his
DROP TABLE IF EXISTS #temp_before
DROP TABLE IF EXISTS #temp_after
/*************************************************/
END
GO
