

/****** Object:  StoredProcedure [dbo].[ip_mst_map_channel_subactivity_skp_draft_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_channel_subactivity_skp_draft_list_dl]
as
BEGIN
	SELECT        
		Id
		, ChannelId
		, Channel
		, SubActivityId
		, SubActivity
		, SKP_Draft
		, CreateOn
		, CreateBy
		, CreateByName
		, IsDelete
		, DeleteOn
		, DeleteBy
		, DeleteByName
		, ActivityID
		, Activity
		, SubCategoryId
		, SubCategory
		, CategoryId
		, Category
		, CreatedEmail
		, DeleteEmail
	FROM
		(
			SELECT        
				t.Id
				,t.ChannelId
				,c.LongDesc AS Channel
				,t.SubActivityId
				,sa.LongDesc AS SubActivity
				,t.SKP_Draft
				,t.CreateOn
				,t.CreateBy
				,uc.username AS CreateByName
				,t.IsDelete
				,t.DeleteOn
				,t.DeleteBy
				,ud.username AS DeleteByName
				, sa.ActivityID
				, a.LongDesc       AS Activity
				, a.SubCategoryId
				, sc.LongDesc      AS SubCategory
				, sc.CategoryId
				, c.LongDesc       AS Category
				, t.CreatedEmail
				, t.DeleteEmail
			FROM            
				tbset_map_channel_subactivity_skp_draft t 
				INNER JOIN tbmst_channel       c   on t.ChannelId     = c.id
				INNER JOIN tbmst_subactivity   sa  ON t.SubActivityID = sa.Id
				INNER JOIN tbmst_activity      a   on sa.ActivityID   = a.id
				INNER JOIN tbmst_subcategory   sc  on a.SubCategoryId = sc.Id
				INNER JOIN tbmst_category      cat on sc.CategoryId   = cat.Id
				LEFT JOIN  tbset_user          uc  ON t.CreateBy      = uc.id
				LEFT JOIN  tbset_user          ud  ON t.DeleteBy      = ud.id

			UNION ALL

			SELECT        
				t.ParentID     Id
				,t.ChannelId
				,c.LongDesc AS Channel
				,t.SubActivityId
				,sa.LongDesc AS SubActivity
				,t.SKP_Draft
				,t.CreateOn
				,t.CreateBy
				,uc.username AS CreateByName
				,t.IsDelete
				,t.DeleteOn
				,t.DeleteBy
				,ud.username AS DeleteByName
				, sa.ActivityID
				, a.LongDesc       AS Activity
				, a.SubCategoryId
				, sc.LongDesc      AS SubCategory
				, sc.CategoryId
				, c.LongDesc       AS Category
				, t.CreatedEmail
				, t.DeleteEmail

			FROM            
				tbhis_map_channel_subactivity_skp_draft t 
				INNER JOIN tbmst_channel       c   on t.ChannelId     = c.id
				INNER JOIN tbmst_subactivity   sa  ON t.SubActivityID = sa.Id
				INNER JOIN tbmst_activity      a   on sa.ActivityID   = a.id
				INNER JOIN tbmst_subcategory   sc  on a.SubCategoryId = sc.Id
				INNER JOIN tbmst_category      cat on sc.CategoryId   = cat.Id
				LEFT JOIN  tbset_user          uc  ON t.CreateBy      = uc.id
				LEFT JOIN  tbset_user          ud  ON t.DeleteBy      = ud.id
		) dl

END




GO
