USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_reminder_pending_approval_aging]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_reminder_pending_approval_aging] 
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
declare @isnodata int, @email_to nvarchar(MAX), @email_cc nvarchar(MAX)

	select @isnodata=iif(count(a.id)>=1,0,1) 
		from tbtrx_promo a
		inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
		inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 
		inner join tbset_user d on a.CreateBy=d.id and isnull(d.isdeleted, 0) = 0

	if @isnodata=0  
	begin
/*BODY********************************************************************************/

/*APPROVAL*/
			select 
				convert(varchar,ROW_NUMBER() over (order by a.approver)) num
				, 'Approval' category
				, a.Approver UserID
				, d.username PIC
				, FORMAT(sum(case when datediff(day,c.RequestDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-') qty15
				, FORMAT(sum(case when datediff(day,c.RequestDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-') val15
				, FORMAT(sum(case when datediff(day,c.RequestDate, @utcDate123)>=6 and datediff(day,c.RequestDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-') qty610
				, FORMAT(sum(case when datediff(day,c.RequestDate, @utcDate123)>=6 and datediff(day,c.RequestDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-') val610
				, FORMAT(sum(case when datediff(day,c.RequestDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-') qty10
				, FORMAT(sum(case when datediff(day,c.RequestDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-') val10
				, FORMAT(count(a.id), '#,#;(#,#);-') as qtytot
				, FORMAT(sum(a.investment), '#,#;(#,#);-') valtot
			from tbtrx_promo a
			inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
			inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP1'
			inner join tbset_user d on a.Approver=d.id and isnull(d.isdeleted, 0) = 0
			where isnull(a.IsClose, 0) = 0 and isnull(a.iscancel,0)=0 and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)
			group by 	a.Approver, d.username
		UNION ALL

/*APPROVAL SUB TOTAL*/
			select 
				'Sub Total Approval' num
				, '' [Category]
				, '' UserID
				, '' PIC
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-') qty15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-') val15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-') qty610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-') val610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-') qty10
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-') val10
				, FORMAT(count(a.id), '#,#;(#,#);-') qtytot
				, FORMAT(sum(a.investment), '#,#;(#,#);-') valtot
			from tbtrx_promo a
			inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
			inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP1'
			inner join tbset_user d on a.Approver=d.id and isnull(d.isdeleted, 0) = 0
			where isnull(a.IsClose, 0) = 0 and isnull(a.iscancel,0)=0 and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)
		UNION ALL

/*SENDBACK*/
		SELECT 
				convert(varchar,ROW_NUMBER() over (order by a.CreateBy)) as num
				, 'Sendback' as [Category]
				, a.CreateBy as UserID
				, d.username as PIC
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-') as qty15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-') as val15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-') as qty610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-') as val610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-') as qty10
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-') as val10
				, FORMAT(count(a.id), '#,#;(#,#);-') as qtytot
				, FORMAT(sum(a.investment), '#,#;(#,#);-') as valtot
			from tbtrx_promo a
			inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
			inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP3'
			inner join tbset_user d on a.CreateBy=d.id and isnull(d.isdeleted, 0) = 0
			where isnull(a.IsClose, 0) = 0 and isnull(a.iscancel,0)=0 and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)
			group by 	a.CreateBy, d.username
		UNION ALL

/*SENDBACK SUBTOTAL*/
		select 
				'Sub Total Sendback' num
				, '' [Category]
				, '' UserID
				, '' PIC
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-') qty15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-') val15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-') qty610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-') val610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-') qty10
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-') val10
				, FORMAT(count(a.id), '#,#;(#,#);-') qtytot
				, FORMAT(sum(a.investment), '#,#;(#,#);-') valtot
			from tbtrx_promo a
			inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
			inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 and c.status='TP3'
			inner join tbset_user d on a.CreateBy=d.id and isnull(d.isdeleted, 0) = 0
			where isnull(a.IsClose, 0) = 0 and isnull(a.iscancel,0)=0 and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)
		UNION ALL

/*GRAND TOTAL*/
		select 
				'Grand Total' num
				, '' [Category]
				, '' UserID
				, '' PIC
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then 1 else 0 end), '#,#;(#,#);-') qty15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)<=5 then a.Investment else 0 end), '#,#;(#,#);-') val15
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then 1 else 0 end), '#,#;(#,#);-') qty610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=6 and datediff(day,c.ActionDate, @utcDate123)<=10 then a.Investment else 0 end), '#,#;(#,#);-') val610
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then 1 else 0 end), '#,#;(#,#);-') qty10
				, FORMAT(sum(case when datediff(day,c.ActionDate, @utcDate123)>=11 then a.Investment else 0 end), '#,#;(#,#);-') val10
				, FORMAT(count(a.id), '#,#;(#,#);-') qtytot
				, FORMAT(sum(a.investment), '#	,#;(#,#);-') valtot
			from tbtrx_promo a
			inner join tbtrx_promo_request_approval b on a.id=b.parentid and isnull(a.iscancel,0)=0 and StatusApprovalCode<>'TP2'
			inner join tbtrx_promo_approval c on b.id=c.requestid and isnull(b.iscancel,0)=0 and IsOnGoing=1 
			inner join tbset_user d on a.CreateBy=d.id and isnull(d.isdeleted, 0) = 0
			where isnull(a.IsClose, 0) = 0 and isnull(a.iscancel,0)=0 and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)

/*ATTACHMENT********************************************************************************/
	drop table if exists #ewatmp
	set nocount on;

	select  a.id, a.refid , a.LastStatus , a.CreateBy ,  d.username , a.CreateOn, c.LongDesc as Channel
		, '' as subaccount
		, a.StartPromo, a.EndPromo, a.ActivityDesc, a. Mechanisme1, a.Investment
	into #ewatmp
	from tbtrx_promo a
	inner join tbtrx_promo_channel b on a.id=b.PromoId
	inner join tbmst_channel c on b.ChannelId=c.id
	inner join tbset_user d on a.CreateBy=d.id and isnull(d.isdeleted, 0) = 0
	where isnull(a.iscancel,0)=0 and a.StatusApprovalCode<>'TP2' and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)

		select 
		a.refid as promo_id, concat(a.LastStatus,'-', a3.username) as last_status, a.CreateBy as promo_initiator,  a.username as initiator_name
		, convert(varchar(10), a.CreateOn, 103) as creation_date, a.Channel
		, subacc.SubAccountDesc as sub_account, convert(varchar(10), a.StartPromo, 103) as promo_start, convert(varchar(10), a.EndPromo, 103) as promo_end, a.ActivityDesc as activity_name
--		, a. Mechanisme1 as mechanism_1, FORMAT(a.Investment,'#,#') as investment
		, a. Mechanisme1 as mechanism_1, a.Investment as investment
		, case when a2.Status='TP3' then datediff(day,ActionDate,@utcDate123) else datediff(day,RequestDate,@utcDate123) end as aging
		--, a2.RequestDate, a2.ActionDate, a2.UserApprover, a2.Status
		from #ewatmp a
		inner join tbtrx_promo_request_approval a1 on a.id=a1.ParentId and a1.IsCancel=0
		inner join tbtrx_promo_approval a2 on a1.id=a2.RequestId and IsOnGoing=1
		inner join tbset_user a3 on a2.UserApprover=a3.id and isnull(a3.isdeleted, 0) = 0
		left join
			(
				select PromoId,
					STUFF(
							(
								select  ',' + sac.LongDesc 
								from tbtrx_promo_subaccount aa with (nolock)
								join tbmst_subaccount sac with (nolock)
								ON aa.subAccountId=sac.Id AND aa.PromoId=bb.PromoId
								FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
							FROM tbtrx_promo_subaccount bb with (nolock) INNER JOIN #ewatmp with (nolock) ON Id=PromoId GROUP BY PromoId
							) subacc
							on a.Id = subacc.PromoId

	drop table if exists #ewatmp
/*EMAIL TO********************************************************************************/
drop table if exists #ewaemail
drop table if exists #ewaemail1
drop table if exists #ewaemail2

set nocount on;

select a.id, d.email
into #ewaemail
from tbtrx_promo a
inner join tbtrx_promo_channel b on a.id=b.PromoId
inner join tbmst_channel c on b.ChannelId=c.id
inner join tbset_user d on a.CreateBy=d.id and isnull(d.isdeleted, 0) = 0
where isnull(a.iscancel,0)=0 and a.StatusApprovalCode<>'TP2' and YEAR(a.startpromo) in (year(@utcDate123), year(@utcDate123)-1)

select a.email as email1, a3.email as email2
into #ewaemail1
from #ewaemail a
inner join tbtrx_promo_request_approval a1 on a.id=a1.ParentId and a1.IsCancel=0
inner join tbtrx_promo_approval a2 on a1.id=a2.RequestId and IsOnGoing=1
inner join tbset_user a3 on a2.UserApprover=a3.id and isnull(a3.isdeleted, 0) = 0

select distinct email1 as email into #ewaemail2 from #ewaemail1
insert into #ewaemail2  select distinct email2 from #ewaemail1
insert into #ewaemail2  select distinct email from tbset_user where usergroupid in ('101','102','108') and isnull(isdeleted, 0) = 0

set @email_to=
(
	select 
	abc = STUFF(
                 (SELECT distinct ';' + email FROM #ewaemail2 FOR XML PATH ('')), 1, 1, ''
               ) 
)
drop table if exists #ewaemail
drop table if exists #ewaemail1
drop table if exists #ewaemail2

/*EMAIL CC********************************************************************************/
set @email_cc='andrie.isharyono@xvautomation.com; lukman.handrianto@xvautomation.com'  --'purwanti.purwanti@danone.com; Loly.andasari@danone.com'


select @email_to email_to, @email_cc email_cc
end

GO
