USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_select_display_recon_dc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_select_display_recon_dc]
	-- Add the parameters for the stored procedure here
	@Id				INT
	, @profile VARCHAR(50) = ''
AS
/*TESTING PURPOSE********************/
--DECLARE
--	@Id				INT
--	, @profile VARCHAR(50) = ''

--SET	@Id				=3953
--SET @profile = 'claimplb'
----SET @profile = 'busdev1'

/********************TESTING PURPOSE*/

BEGIN
	SET NOCOUNT ON;

	/* Cek user distributor */
	DECLARE @userDistributor INT
	SELECT @userDistributor = IIF(ISNULL(sug.usergroupid, '') = '', 0, 1) 
	FROM tbset_user su
	LEFT JOIN tbset_usergroup sug ON su.usergroupid = sug.usergroupid AND sug.usergroupname like '%distributor%'
	WHERE su.id = @profile

	DECLARE @ALO AS TABLE(
		PromoId INT NULL,
		AllocationId INT NULL
	)

	INSERT INTO @ALO(PromoId,AllocationId)
	SELECT p.Id,a.Id
	FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
	INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
	WHERE ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0 
		AND p.Id=@Id

	SELECT
		0 PromoPlanId
		,pr.RefId
		,pr.Id
		,'---' PromoPlanRefId
		,pr.CreateOn
		,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
		,pr.CreateBy
		,'---' ActivityDesc	
		, IIF(@userDistributor = 1, 0, IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(td.TotalPaid, 0))) Investment
		, IIF(@userDistributor = 1, 0, 
			IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
				, pr.Investment
				, IIF(PREV.id is null, pr.Investment, isnull(PREV.Investment, 0)))
			) PrevInvestment
		,cast(format(0,'#') as bigint) NormalSales
		,cast(format(0,'#') as bigint) PrevNormalSales
		,cast(format(0,'#') as bigint) IncrSales
		,cast(format(0,'#') as bigint) PrevIncrSales
		,cast(format(0,'#') as bigint) PrevTotSales
		,cast(format(0,'#') as bigint) as Roi
		,cast(format(0,'#') as bigint) PrevRoi
		,cast(format(0,'#') as bigint) as CostRatio
		,cast(format(0,'#') as bigint) PrevCostRatio
		,mechanism.mechanism Mechanism		
		,pr.Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.StartPromo
		,pr.EndPromo	
		,ALLOC.Id AllocationId
		,ALLOC.Periode
		,ALLOC.RefId AllocationRefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName
		,p.ShortDesc PrincipalShortDesc
		,ALLOC.OwnerId
		,uo.username BudgetOwner
		,ALLOC.FromOwnerId
		,uf.username FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,pr.SubCategoryId
		,ts2.longDesc SubCategoryLongDesc
		,pr.ActivityId
		,'---' [ActivityLongDesc]
		,pr.SubactivityId
		,ts.LongDesc as SubActivityLongDesc
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		, IIF(@userDistributor = 1, 0, ALLOC.BudgetAmount) BudgetAmount
		, IIF(@userDistributor = 1, 0, bal.remainingamount) as RemainingBudget
		,ALLOC.LongDesc AllocationDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
		,his.UserApprover1
		,left(his.UserApproverName1, 15) UserApprover1Name
		,replace(his.LastStatus1,'for ','') LastStatus1
		,his.ApprovalDate1
		,his.UserApprover2
		,left(his.UserApproverName2, 15) UserApprover2Name
		,replace(his.LastStatus2,'for ','') LastStatus2
		,his.ApprovalDate2
		,his.UserApprover3
		,left(his.UserApproverName3, 15) UserApprover3Name
		,replace(his.LastStatus3,'for ','') LastStatus3
		,his.ApprovalDate3
		,his.UserApprover4
		,left(his.UserApproverName4, 15) UserApprover4Name
		,replace(his.LastStatus4,'for ','') LastStatus4
		,his.ApprovalDate4
		,his.UserApprover5
		,left(his.UserApproverName5, 15) UserApprover5Name
		,replace(his.LastStatus5,'for ','') LastStatus5
		,his.ApprovalDate5
		,'---' [ChannelDesc]
		,'---' [AccountDesc]
		,attr.BrandDesc
		,'---' [ProductDesc]
		,getdate() + 90 CutOffClaim
		,isnull(CancelReason,'') CancelReason
		,pr.Notes
		,pr.ApprovalNotesRecon ApprovalNotes
		,'---' [TsCoding]
		,pr.Reconciled 
		,td.Invoiced
		,PREV.mechanism precMechanism
		,IIF(PREV.id is null, pr.Mechanisme1, PREV.Mechanisme1) prevMechanism1
		,IIF(PREV.id is null, pr.Mechanisme2, PREV.Mechanisme2) prevMechanism2
		,IIF(PREV.id is null, pr.Mechanisme3, PREV.Mechanisme3) prevMechanism3
		,IIF(PREV.id is null, pr.Mechanisme4, PREV.Mechanisme4) prevMechanism4
		
		,hisprev.UserApprover1 UserApprover1prev
		,left(hisprev.UserApproverName1, 15) UserApprover1prevName
		,replace(hisprev.LastStatus1,'for ','') LastStatus1prev
		,hisprev.ApprovalDate1 ApprovalDate1prev

		,hisprev.UserApprover2 UserApprover2prev
		,left(hisprev.UserApproverName2, 15) UserApprover2prevName
		,replace(hisprev.LastStatus2,'for ','') LastStatus2prev
		,hisprev.ApprovalDate2 ApprovalDate2prev
		
		,hisprev.UserApprover3 UserApprover3prev
		,left(hisprev.UserApproverName3, 15) UserApprover3prevName
		,replace(hisprev.LastStatus3,'for ','') LastStatus3prev
		,hisprev.ApprovalDate3 ApprovalDate3prev

		,hisprev.UserApprover4 UserApprover4prev
		,left(hisprev.UserApproverName4, 15) UserApprover4prevName
		,replace(hisprev.LastStatus4,'for ','') LastStatus4prev
		,hisprev.ApprovalDate4 ApprovalDate4prev

		,hisprev.UserApprover5 UserApprover5prev
		,left(hisprev.UserApproverName5, 15) UserApprover5prevName
		,replace(hisprev.LastStatus5,'for ','') LastStatus5prev
		,hisprev.ApprovalDate5 ApprovalDate5prev
		,pr.initiator_notes
	     ,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
	     ,pr.ApproverRecon userid_Approver
	     ,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
	     ,0 InvestmentTypeId 
	     ,'---' [InvestmentTypeRefId]
	     ,'---' [InvestmentTypeDesc]
	    ,pr.late_submission_day
	    , IIF(@userDistributor = 1, 0, pr.investment) investmentBfrClose
	    , IIF(@userDistributor = 1, 0, iif(isnull(pr.isclose,0)=0, 0, pr.investment-td.TotalPaid)) investmentClosedBalance    	    
	    ,pr.ModifReason
	    , IIF(@userDistributor = 1, 0, pr.investment) investmentDraft
	    ,allowedit.allowedit 
	    , 0 lastNormalSales
	    , 0 lastIncrSales
	    , IIF(@userDistributor = 1, 0, lasthis.Investment) lastInvestment
	    , 0 as lastTotSales
	    , 0 lastRoi
	    , 0 lastCostRatio
	    , pr.statusApprovalCode
	    , isnull(pr.isCancel, 0) isCancel
	    , isnull(pr.isClose, 0) isClose
	    , isnull(pr.isCancelLocked, 0) isCancelLocked
	    ,pr.createBy
	FROM tbtrx_promo pr	WITH(NOLOCK) 
	INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id
	inner join [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK) on ALLOC.Id=pr.AllocationId
	inner join tbtrx_allocation_balance as bal WITH(NOLOCK) on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
	inner join tbtrx_budgetmaster m WITH(NOLOCK) on ALLOC.BudgetMasterId=m.Id
	INNER JOIN tbmst_activity ta WITH(NOLOCK) on pr.ActivityId = ta.Id 
	INNER JOIN tbmst_subactivity ts WITH(NOLOCK) on pr.SubActivityId = ts.id 
	inner join tbmst_distributor d WITH(NOLOCK) on m.DistributorId=d.Id
	inner join tbmst_principal p WITH(NOLOCK) on m.PrincipalId=p.Id
	inner join tbmst_subcategory ts2 WITH(NOLOCK) on pr.SubCategoryId = ts2.id
	inner join tbset_user uo WITH(NOLOCK) on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf WITH(NOLOCK) on uf.Id=ALLOC.FromOwnerId
	inner join tbmst_category ctg WITH(NOLOCK) on ctg.Id=m.CategoryId
	left join vw_promo_approval_his_recon his WITH(NOLOCK) on pr.Id=his.PromoId 
	left join vw_promo_approval_his hisprev WITH(NOLOCK) on pr.Id=hisprev.PromoId 
	left join vw_promo_attribute attr WITH(NOLOCK) on pr.Id=attr.PromoId
	left join vw_promo_sendbackrecon_notes_last note on pr.id=note.ParentId 
	left join tbset_map_promorecon_period_subactivity allowedit on pr.subactivityid=allowedit.subactivityid --#875
	left join (
		SELECT td.promoid, sum(iif(td.vatexpired=1,td.DPP+td.ppnamt,td.DPP)) - SUM(isnull(tc.dpp,0)) as Invoiced
			,SUM(iif(vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)) - SUM(isnull(tc.dpp,0)) TotalClaim
	    	,SUM(iif(td.laststatus='confirm_paid',(iif(vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0))- SUM(isnull(tc.dpp,0)) TotalPaid
		FROM tbtrx_debetnote td WITH(NOLOCK) 
        LEFT JOIN (
        	SELECT dnid
        		, SUM(isnull(dpp, 0)) dpp
        	FROM tbtrx_creditnote WITH(NOLOCK)
        	WHERE isnull(iscancel, 0) = 0
        	GROUP BY dnid
        ) tc ON td.id = tc.dnid
		WHERE isnull(td.IsCancel, 0)=0
		GROUP BY td.promoid 
	) td on pr.id=td.promoid		
    left join
    (
        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),', ') mechanism
                    from tbtrx_promo_mechanism a with (nolock)
            GROUP BY a.PromoId
    ) mechanism	on pr.Id = mechanism.PromoId    
	
	/** start 2020-08-06 get prev from his **/
	LEFT JOIN 
	(
		select a.*, prevmechanism.mechanism from tbhis_promo a WITH(NOLOCK) 
		inner join 
		(
--			select max(parentid) as parentid, id from tbhis_promo tp WITH(NOLOCK) 
--			where StatusApprovalCode = 'TP2' and isnull(StatusApprovalCodeRecon,'') = '' and id=@Id
--			group by id
			select max(parentid) as parentid, id from tbhis_promo tp WITH(NOLOCK) 
			where StatusApprovalCode = 'TP1' and id=@Id
			group by id				
		) b on a.parentid=b.parentid and a.id=b.id
	    left join
	    (
	        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),', ') mechanism
	                    from tbtrx_promo_mechanism a with (nolock)
	            GROUP BY a.PromoId
	    ) prevmechanism	on a.Id = prevmechanism.PromoId    		
	) PREV ON pr.id=PREV.id
	/** end 2020-08-06 get prev from his **/
	left join (
		SELECT TOP (1) *
		FROM (
			SELECT TOP (2) ParentId, Id, NormalSales, IncrSales, Investment, NormalSales + IncrSales as totSales, roi, CostRatio  
			FROM tbhis_promo 
			WHERE id=@Id ORDER BY parentid DESC
  		) AS RawData
		ORDER BY parentid ASC
	) lasthis on pr.id = lasthis.id		
	left join tbtrx_promo_cancel_request cr WITH(NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
	left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
	
		WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND pr.Id IN (SELECT PromoId FROM @ALO)

		/*****************
		REGION
		*****************/
		SELECT
		1 flag
		, 0 RegionPromoId
		, 0 id
		, '---' longDesc

		/*****************
		CHANNEL
		*****************/
		SELECT 
			CASE WHEN b.PromoId is null THEN 0 ELSE 1 END as flag,
			b.PromoId as ChannelPromoId, a.Id as id, a.LongDesc as longDesc
		FROM [dbo].[tbmst_channel]  a 
		LEFT JOIN tbtrx_promo_channel b ON a.id=b.ChannelId AND b.PromoId=@Id
		
		/*****************
		SUB CHANNEL
		*****************/
		SELECT
		1 flag
		, 0 SubChannelPromoId
		, 0 id
		, '---' longDesc

		/*****************
		ACCOUNT
		*****************/
		SELECT
		1 flag
		, 0 AccountPromoId
		, 0 id
		, '---' longDesc

		/*****************
		SUB ACCOUNT
		*****************/	
		SELECT
		1 flag
		, 0 SubAccountPromoId
		, 0 id
		, '---' longDesc
		
		/*****************
		BRAND
		*****************/	
		SELECT
		CASE WHEN b.PromoId is null THEN 0 ELSE 1 END as flag,
		b.PromoId as BrandPromoId, a.Id as id, a.LongDesc as longDesc
		FROM [dbo].[tbmst_brand] a
		LEFT JOIN  tbtrx_promo_brand b ON a.Id=b.BrandId AND b.PromoId=@Id
		
		/*****************
		SKU
		*****************/	
		SELECT
		1 flag
		, 0 ProductPromoId
		, 0 id
		, '---' longDesc
		
		/*****************
		ACTIVITY
		*****************/
		SELECT DISTINCT 
		a.AllocationId AS ActivityAllocId
		,ctg.ActivityId AS id
		,ctg.ActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 		
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null


		/*****************
		SUB ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS SubActivityAllocId
		,ctg.SubActivityId AS id
		,ctg.SubActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

		/*****************
		File attach
		*****************/
		SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH(NOLOCK) where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink


		/***************
		MASTER STATUS APPROVAL
		***************/
		SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
				
        /***************
		SKP Validate
		***************/
		SELECT 
			PromoId,
			SKPDraftAvail,
			SKPDraftAvailOn,
			SKPDraftAvailBy,
			SKPDraftAvailBfrAct60,
			SKPDraftAvailBfrAct60On,
			SKPDraftAvailBfrAct60By,
			PeriodMatch,
			PeriodMatchOn,
			PeriodMatchBy,
			InvestmentMatch,
			InvestmentMatchOn,
			InvestmentMatchBy,
			MechanismMatch,
			MechanismMatchOn,
			MechanismMatchBy,
			SKPSign7,
			SKPSign7On,
			SKPSign7By,
			EntityDraft,
			EntityDraftOn,
			EntityDraftBy,
			BrandDraft,
			BrandDraftOn,
			BrandDraftBy,
			PeriodDraft,
			PeriodDraftOn,
			PeriodDraftBy,
			ActivityDescDraft,
			ActivityDescDraftOn,
			ActivityDescDraftBy,
			MechanismDraft,
			MechanismDraftOn,
			MechanismDraftBy,
			InvestmentDraft,
			InvestmentDraftOn,
			InvestmentDraftBy,
			Entity,
			EntityOn,
			EntityBy,
			Brand,
			BrandOn,
			BrandBy,
			ActivityDesc,
			ActivityDescOn,
			ActivityDescBy
		FROM tbtrx_promo_skp_validate WITH(NOLOCK)
		WHERE PromoId=@Id
		
		/***************
		Investment
		***************/
		SELECT IIF(@userDistributor = 1, 0, TotInvest) Investment 
		, IIF(@userDistributor = 1, 0, NormalSales) NormalSales
		, IIF(@userDistributor = 1, 0, IncrSales) IncrSales
		, IIF(@userDistributor = 1, 0, TotSales) TotSales
		, IIF(@userDistributor = 1, 0, Roi) Roi
		, IIF(@userDistributor = 1, 0, CostRatio) CostRatio
		from tbtrx_promo_request_approval_recon WITH(NOLOCK)
		where ParentId IN (SELECT PromoId FROM @ALO)
		ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
		
		/***************
		Mechanism
		***************/
		SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
		  FROM [dbo].tbtrx_promo_mechanism tppm 
		  WHERE promoid =@Id

		 /***************
		Group Brand 
		***************/
		SELECT distinct 
			CASE WHEN B.PromoId is null THEN 0 ELSE 1 END as flag,
			b.PromoId brandGroupPromoId, a.id, a.longDesc, b.BrandGroupId brandGroupId
		FROM tbmst_brand_group a
		INNER JOIN 
		(
			select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
			INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId AND b.PromoId=@Id
		) b on a.Id=b.BrandGroupId

END
GO
