

/****** Object:  StoredProcedure [dbo].[ip_getinvoice_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_getinvoice_list] --'2020-02-17',2,3
@createdate varchar(10),
@entity int,
@distributor int,
@profileid varchar(50)=NULL
AS

BEGIN

IF @profileid IS NULL
	BEGIN
		SELECT
			a.Id,
			a.RefId,
			a.DistributorId,
			a.EntityId,
			convert(varchar(10),a.CreateOn,120) InvoiceDate,
			[Desc] InvoiceDesc,
			DPPAmount DPP,
			PPN,
			InvoiceAmount
			,ROW_NUMBER() OVER(PARTITION BY DnNumber ORDER BY DNNumber) [No]
			,iif(c.PromoId=0,'DN Manual',e.RefId) PromoNumber
			,c.Id DNId
			,c.RefId DNNumber
			,c.MemDocNo
			,d.LongDesc AccountDesc
			,c.ActivityDesc
			,c.TotalClaim
		FROM tbtrx_invoice_header a
			inner join tbtrx_invoice_detail b on a.Id=b.ParentId and isnull(b.IsCancel,0)=0
			inner join tbtrx_debetnote c on b.DnId=c.Id and isnull(b.IsCancel,0)=0
			left join tbmst_subaccount d on c.AccountId=d.Id
			left join tbtrx_promo e on c.PromoId=e.Id
		where convert(varchar(10),a.CreateOn,120)=@createdate
			AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@entity=0,'',a.EntityId) =IIF(@entity=0,'',@entity)
	END
ELSE
	BEGIN
		SELECT
			a.Id,
			a.RefId,
			a.DistributorId,
			a.EntityId,
			convert(varchar(10),a.CreateOn,120) InvoiceDate,
			[Desc] InvoiceDesc,
			DPPAmount DPP,
			PPN,
			InvoiceAmount
			,ROW_NUMBER() OVER(PARTITION BY DnNumber ORDER BY DNNumber) [No]
			,iif(c.PromoId=0,'DN Manual',e.RefId) PromoNumber
			,c.Id DNId
			,c.RefId DNNumber
			,c.MemDocNo
			,d.LongDesc AccountDesc
			,c.ActivityDesc
			,c.TotalClaim
		FROM tbtrx_invoice_header a
			inner join tbtrx_invoice_detail b on a.Id=b.ParentId and isnull(b.IsCancel,0)=0
			inner join tbtrx_debetnote c on b.DnId=c.Id and isnull(b.IsCancel,0)=0
			left join tbmst_subaccount d on c.AccountId=d.Id
			left join tbtrx_promo e on c.PromoId=e.Id
		where convert(varchar(10),a.CreateOn,120)=@createdate
			AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@entity=0,'',a.EntityId) =IIF(@entity=0,'',@entity)
			AND a.DistributorId in (select DistributorId from tbset_user_distributor where UserId=@profileid)

	END
END
GO
