USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dashboard_user_notifications_new]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_user_notifications_new] --'kamyog'
--declare
@userid varchar(50)

--SET @userid='scsh2'
AS
/*
 * EJ 2020-02-05 Add planing notif
 * EDJ 2020-03-20 : change AND datediff(day, getdate(), a.StartPromo) < 60 to < 67
 * EDJ 2020-04-20 : chane promo_calendar to promo_planning for Optima2
 * EDJ 2020-04-20 : add and isnull(a.TSCode,'')<>''
 */

BEGIN
	SELECT
	u.Id id
	,CAST(isnull(pending_promo_approval,0) AS VARCHAR) + ' Promo' pending_promo_approval
	,isnull(aging_promo_approval,0) aging_promo_approval
	,CAST(isnull(pending_dn_manual,0) AS VARCHAR) + ' DN Manual' as dn_manual
	,CAST(isnull(s.pending_promo_sendback,0) AS varchar) + ' Promo' promo_send_back
	,CAST(isnull(ob.dn_over_budget,0) AS varchar) + ' DN Over Budget' as dn_over_budget
	,CAST(isnull(planning.planning,0) AS varchar) + ' Promo Plan' as promo_plan
	,CAST(isnull(pending_promorecon_approval,0) AS VARCHAR) + ' Promo' pending_promorecon_approval
	,CAST(isnull(sr.pending_promo_sendback_recon,0) AS varchar) + ' Promo' promo_send_back_recon
	,CAST(isnull(dnsales.validate_by_sales,0) AS varchar) + ' DN' dn_validate_by_sales
	FROM tbset_user u
	left join vw_pending_approval_promo p on u.Id=p.UserApprover
	left join vw_pending_approval_promorecon precon on u.Id=precon.UserApprover
	left join vw_pending_promo_sendback s on u.Id=s.[Initiator]
	left join vw_pending_promo_sendback_recon sr on u.Id=sr.[Initiator]
	left join vw_pending_dn_manual dn on u.Id=dn.UserApprover
	left join vw_debetnote_overbudget ob on u.Id=ob.userid
	left join vw_validate_by_sales dnsales on u.id=dnsales.createby
	left join --plaing notif

	--	start for Optima 1
--	(
--		SElECT a.userid, count(a.userid) planning
--		from tbtrx_promo_calendar a
--		left join tbtrx_promo b on a.PromoRefId = b.RefId
--		WHERE b.RefId is null
--		AND datediff(day, getdate(), a.StartPromo) < 67
--		GROUP BY a.userid
--	) planning on u.Id=planning.userid
	--	end for Optima 1

	--	start for Optima 2
	(
		SElECT a.createBy, count(a.createBy) planning
		from tbtrx_promo_planning a
		left join tbtrx_promo b on a.Id=b.PromoPlanId and a.TSCode=b.tscoding
		WHERE b.RefId is null
		AND isnull(b.IsCancel,0)=0
		AND isnull(a.IsCancel,0)=0
		and isnull(a.TSCode,'')<>''
/*200929*/		AND datediff(day, getdate(), a.StartPromo) <= 30
--		AND datediff(day, getdate(), a.CancelOn) <= 60
		GROUP BY a.createBy
	) planning on u.Id=planning.createBy
	--	end for Optima 2
	where Id=@userid

END
GO
