

/****** Object:  StoredProcedure [dbo].[ip_promo_planning_import]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_planning_import]
@planningheader PromoPlanningImport READONLY,
@region ImportPromoPlanRegionType READONLY,
@brand ImportPromoPlanBrandType READONLY,
@sku ImportPromoPlanSkuType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

	truncate table _PromoPlanningImport
	insert into _PromoPlanningImport
	select * from @planningheader
BEGIN TRY
BEGIN TRANSACTION


declare @messageout varchar(255)
declare @errtemp as table
(
	promoplan varchar(255),
	[status] varchar(255)
)

INSERT INTO @errtemp 
SELECT activitydesc,'Cross year is not allowed, start date must be older than end date'
FROM @planningheader
WHERE periode<>year(startpromo) OR periode<>year(endpromo) OR startpromo>endpromo

	if exists (select * from @errtemp)
	begin
		SET @messageout='Cross year is not allowed, start date must be older than end date'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

	INSERT INTO [tbtrx_promo_planning]
	(
	refid
	,Periode
	,EntityId
	,DistributorId
	,PrincipalShortDesc
	,CategoryShortDesc 
	,CategoryId
	,SubCategoryId
	,ActivityId
	,SubActivityId
	,ActivityDesc
	,StartPromo
	,EndPromo
	,Mechanisme1
	,Investment 
	,NormalSales
	,IncrSales
	,Roi
	,CostRatio
	,Notes 
	,LastStatus
	,CreateOn 
	,CreateBy
	,importid
	,rowid 
	)
    SELECT 
	t.importid + CAST(t.id AS VARCHAR)
	,t.Periode
	,p.Id EntityId
	,d.Id DistributorId
	,p.ShortDesc PrincipalShortDesc
	,ctg.ShortDesc CategoryShortDesc 
	,ctg.Id CategoryId
	,sctg.Id SubCategoryId
	,act.Id ActivityId
	,sact.Id SubActivityId
	,t.ActivityDesc
	,t.StartPromo
	,t.EndPromo
	,t.mechanisme Mechanisme1
	,Investment 
	,baselinesales
	,IncrSales
	,iif(isnull(Investment,0)=0,0,(IncrSales-Investment)/Investment * 100) as Roi	---EDJ 2020-06-02
	,iif(baselinesales + IncrSales=0,0,Investment / (baselinesales + IncrSales) * 100) as CR ---EDJ 2020-06-02
	,''
	,'created' 
	,@utcDate123 CreateOn 
	,@userid
	,t.importid
	,t.id
	FROM @planningheader t
	INNER JOIN tbmst_principal p on t.entity=p.LongDesc
	INNER JOIN tbmst_distributor d on t.distributor=d.ShortDesc
	INNER JOIN tbmst_category ctg on t.category=ctg.LongDesc
    INNER JOIN tbmst_subcategory sctg on t.subcategory=sctg.LongDesc and sctg.categoryid=ctg.Id
	INNER JOIN tbmst_activity act on t.activity=act.LongDesc and act.subcategoryid=sctg.Id
	INNER JOIN tbmst_subactivity sact on t.subactivity=sact.LongDesc and sact.activityid=act.Id

	INSERT INTO tbtrx_promo_planning_channel(PromoPlanId,ChannelId,IsActive,CreateOn,CreateBy)
	SELECT pl.Id,m.Id,1,@utcDate123,@userid
	FROM @planningheader t
	INNER JOIN tbtrx_promo_planning pl on CAST(pl.importid AS VARCHAR) + CAST(pl.rowid AS VARCHAR) = CAST(t.importid AS VARCHAR) + CAST(t.id AS VARCHAR)
	INNER JOIN tbmst_channel m on t.channel=m.LongDesc

	
	INSERT INTO tbtrx_promo_planning_subchannel(PromoPlanId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy)
	SELECT pl.Id,m.ChannelId,m.Id,1,@utcDate123,@userid
	FROM @planningheader t
	INNER JOIN tbtrx_promo_planning pl on CAST(pl.importid AS VARCHAR) + CAST(pl.rowid AS VARCHAR) = CAST(t.importid AS VARCHAR) + CAST(t.id AS VARCHAR)
	INNER JOIN tbmst_subchannel m on t.subchannel=m.LongDesc

	INSERT INTO tbtrx_promo_planning_account(PromoPlanId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy)
	SELECT pl.Id,m.SubChannelid,m.Id,1,@utcDate123,@userid
	FROM @planningheader t
	INNER JOIN tbtrx_promo_planning pl on CAST(pl.importid AS VARCHAR) + CAST(pl.rowid AS VARCHAR) = CAST(t.importid AS VARCHAR) + CAST(t.id AS VARCHAR)
	INNER JOIN tbmst_account m on t.account=m.LongDesc


	INSERT INTO tbtrx_promo_planning_subaccount(PromoPlanId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy)
	SELECT pl.Id,m.AccountId,m.Id,1,@utcDate123,@userid
	FROM @planningheader t
	INNER JOIN tbtrx_promo_planning pl on CAST(pl.importid AS VARCHAR) + CAST(pl.rowid AS VARCHAR) = CAST(t.importid AS VARCHAR) + CAST(t.id AS VARCHAR)
	INNER JOIN tbmst_subaccount m on t.subaccount=m.LongDesc


	INSERT INTO tbtrx_promo_planning_region(PromoPlanId,RegionId,IsActive,CreateOn,CreateBy)
	SELECT DISTINCT Id
	,RegionId
	,IsActive
	,CreateOn
	,CreateBy
	FROM
	(
	SELECT 
	Id
	,RegionId
	,1 IsActive
	,@utcDate123 CreateOn
	,@userid CreateBy
	FROM
	(
	SELECT
	al.Id
	,r.Id as RegionId
	FROM
	(
	SELECT parentid, Regions
	FROM   
	  (SELECT CAST(importid AS VARCHAR) + CAST(id AS VARCHAR) parentid, 
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
	   FROM @region) p  
	UNPIVOT  
	   (Regions FOR Attribute IN   
		  (
			[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
		  )  
	)AS unpvt
	)x 
	INNER JOIN tbmst_region r on r.LongDesc=Regions
	INNER JOIN tbtrx_promo_planning al on CAST(al.importid AS VARCHAR) + CAST(al.rowid AS VARCHAR) = x.parentid
	group by 
	al.Id
	,r.Id
	) XXX
	)XXXX
	WHERE RegionId <> ''

	INSERT INTO tbtrx_promo_planning_brand(PromoPlanId,BrandId,IsActive,CreateOn,CreateBy)
	SELECT DISTINCT Id
	,BrandId
	,IsActive
	,CreateOn
	,CreateBy
	FROM
	(
	SELECT 
	Id
	,BrandId
	,1 IsActive
	,@utcDate123 CreateOn
	,@userid CreateBy
	FROM
	(
	SELECT
	al.Id
	,r.Id as BrandId
	FROM
	(
	SELECT parentid, Brands
	FROM   
	  (SELECT CAST(importid AS VARCHAR) + CAST(id AS VARCHAR) parentid, 
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
	   FROM @brand) p  
	UNPIVOT  
	   (Brands FOR Attribute IN   
		  (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
		  )  
	)AS unpvt
	)x 
	INNER JOIN tbmst_brand r on r.LongDesc=Brands
	INNER JOIN tbtrx_promo_planning al on CAST(al.importid AS VARCHAR) + CAST(al.rowid AS VARCHAR) = x.parentid
	group by 
	al.Id
	,r.Id
	) XXX
	)XXXX
	WHERE BrandId <> ''


	INSERT INTO tbtrx_promo_planning_product(PromoPlanId,BrandId,ProductId,IsActive,CreateOn,CreateBy)
	SELECT DISTINCT Id
	,BrandId
	,ProductId
	,IsActive
	,CreateOn
	,CreateBy
	FROM
	(
	SELECT 
	Id
	,BrandId
	,ProductId
	,1 IsActive
	,@utcDate123 CreateOn
	,@userid CreateBy
	FROM
	(
	SELECT
	al.Id
	,r.BrandId as BrandId
	,r.Id as ProductId
	FROM
	(
	SELECT parentid, Products
	FROM   
	  (SELECT CAST(importid AS VARCHAR) + CAST(id AS VARCHAR) parentid, 
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
	   FROM @sku) p  
	UNPIVOT  
	   (Products FOR Attribute IN   
		  (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
		  )  
	)AS unpvt
	)x 

	INNER JOIN tbmst_product r on r.LongDesc=Products
	INNER JOIN tbtrx_promo_planning al on CAST(al.importid AS VARCHAR) + CAST(al.rowid AS VARCHAR) = x.parentid
	group by 
	al.Id
	,r.BrandId
	,r.Id
	) XXX
	)XXXX
	WHERE ProductId <> ''


	--DELETE FROM TempPromoPlanningImport
	--insert into TempPromoPlanningImport
	--SELECT * FROM @planningheader

	--DELETE FROM TempImportPromoPlanRegionType
	--INSERT INTO TempImportPromoPlanRegionType
	--SELECT * FROM @region

	--DELETE FROM TempImportPromoPlanBrandType
	--INSERT INTO TempImportPromoPlanBrandType
	--SELECT * FROM @brand


	--DELETE FROM TempImportPromoPlanSkuType
	--INSERT INTO TempImportPromoPlanSkuType
	--SELECT * FROM @sku

COMMIT
	if exists(SELECT * FROM @errtemp)
        begin
            select promoplan,[status] from @errtemp
--	rollback
            RETURN
	end
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH




GO
