USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_channel_summary]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_channel_summary] 
	@period INT
	, @categoryid ArrayIntType READONLY	
	, @groupbrandid ArrayIntType READONLY
	, @channelid ArrayIntType READONLY
	, @subactivityType ArrayIntType READONLY
	, @profileid VARCHAR(50)

	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS

/* testing */
--DECLARE
--	@period INT
--	, @categoryid ArrayIntType
--	, @groupbrandid ArrayIntType
--	, @channelid ArrayIntType
--	, @subactivityType ArrayIntType
--	, @profileid VARCHAR(50)

--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--SET @period = 2025
--SET @profileid = '' -- untuk finance report => ''

--SET @start = 0
--SET @length = -1
--SET @filter = null
--SET @txtSearch = null

----INSERT INTO @categoryid values (3) -- data dev => 3 = RC, 22 = DC
--INSERT INTO @groupbrandid values (2)
--INSERT INTO @channelid values (3)
------INSERT INTO @subactivityType values (3)

/**********************************************************************/
BEGIN
	SET NOCOUNT ON

	SET @start = @start * @length

	DECLARE @recordsFiltered int;
	DECLARE 
		@categoryIdRC INT
		, @categoryIdDC INT
		, @brandAll VARCHAR(50)
		, @tFilterBrand INT

	SELECT @categoryIdRC = id FROM tbmst_category WHERE ISNULL(isdeleted, 0) = 0 AND ShortDesc = 'RC'
	SELECT @categoryIdDC = id FROM tbmst_category WHERE ISNULL(isdeleted, 0) = 0 AND ShortDesc = 'DC'

	/* Filter */
	DECLARE
		@categoryid_filter ArrayIntType
		, @groupbrandid_filter ArrayIntType
		, @channelid_filter ArrayIntType
		, @subactivityType_filter ArrayIntType

	INSERT INTO @categoryid_filter (keyid)	SELECT keyid from @categoryid
	INSERT INTO @groupbrandid_filter (keyid)	SELECT keyid from @groupbrandid
	INSERT INTO @channelid_filter (keyid)		SELECT keyid from @channelid
	INSERT INTO @subactivityType_filter (keyid)		SELECT keyid from @subactivityType

	IF (SELECT COUNT(*) FROM @categoryid_filter where isnull(keyid,0)<>0)=0 
	BEGIN
		DELETE FROM @categoryid_filter
		INSERT INTO @categoryid_filter	(keyid) SELECT id FROM tbmst_category WHERE isnull(IsDeleted, 0) = 0
	END

	IF (SELECT COUNT(*) FROM @groupbrandid_filter where isnull(keyid,0)<>0)=0 
	BEGIN
		DELETE FROM @groupbrandid_filter
		INSERT INTO @groupbrandid_filter	(keyid) SELECT id FROM tbmst_brand_group WHERE isnull(IsDeleted, 0) = 0
	END

	IF (SELECT COUNT(*) FROM @channelid_filter where isnull(keyid,0)<>0)=0 
	BEGIN
		DELETE FROM @channelid_filter
		INSERT INTO @channelid_filter	(keyid) SELECT channelId FROM vw_account GROUP BY ChannelId
	END
	
	IF (SELECT COUNT(*) FROM @subactivityType_filter where isnull(keyid,0)<>0)=0
	BEGIN
		DELETE FROM @subactivityType_filter		
		INSERT INTO @subactivityType_filter	(keyid) SELECT id FROM tbmst_subactivity_type WHERE isnull(IsDeleted, 0) = 0
	END	
	INSERT INTO @subactivityType_filter	(keyid) values(0)
	/* End Filter */

	--SELECT @brandAll = CONCAT('(',STRING_AGG(a.LongDesc,', '), ')')
	SELECT @brandAll = STRING_AGG(a.LongDesc,', ')
	FROM tbmst_brand_group a
	INNER JOIN @groupbrandid_filter b ON a.id = b.keyid

	SELECT @tFilterBrand = count(keyid) from @groupbrandid_filter
	--SET @tFilterBrand = 1 


	/* Create tabel untuk menampung data budget, promo dan channel summary karena ada kondisi (IF)*/
	DECLARE @channelSummary TABLE(
		period VARCHAR(5)
		, categoryId INT
		, category VARCHAR(10)
		, brand VARCHAR(100)
		, channelDesc VARCHAR(100)
		, subChannelDesc VARCHAR(100)
		, accountDesc VARCHAR(100)
		, subAccountDesc VARCHAR(100)
		, fySs FLOAT
		, subActivityType VARCHAR(100)
		, activityDesc VARCHAR(100)
		, subActivityDesc VARCHAR(100)
		, ttRate FLOAT
		, fyTtBudget FLOAT
		, fyTtCostSubmitted FLOAT
		, returnedBalanceFromClosure FLOAT
		, remainingBudgetIncludeClosure FLOAT
		, dnClaim FLOAT
		, dnPaid FLOAT
		, urutBrand INT
		, urutString VARCHAR(MAX)
		, urutData INT
		, tBrand INT
		, tChannel INT
		, tSubAccount INT
		, tActivity INT
		, isSubTotal INT
		, groupBrandId INT
		, channelId INT
		, subAccountId INT
		, urutStringChannel VARCHAR(100)
	)

	DECLARE @tmpBudget TABLE (
		budgetRowId INT
		, period INT
		, categoryId INT
		, subCategoryId INT
		, activityId INT
		, subActivityId INT
		, distributorId INT
		, subActivityTypeId INT
		, groupBrandId INT
		, subAccountId INT
		, fySS FLOAT
		, tt FLOAT
		, fyBudget FLOAT
	)

	DECLARE @tmpPromo TABLE (
		period INT
		, id INT
		, CategoryId INT
		, SubCategoryId INT
		, ActivityId INT
		, SubActivityId INT
		, DistributorId INT
		, SubActivityTypeId INT
		, GroupBrandId INT
		, SubAccountId INT
		, Investment FLOAT
		, isClose INT
		, totalClaim FLOAT
		, totalPaid FLOAT
		, returnedBalanceFromClosure FLOAT
	)

	DECLARE @tmpBudgetDC TABLE (
		budgetRowId INT
		, period INT
		, categoryId INT
		, subCategoryId INT
		, activityId INT
		, subActivityId INT
		, distributorId INT
		, subActivityTypeId INT
		, groupBrandId INT
		, channelId INT
		, fySS FLOAT
		, tt FLOAT
		, fyBudget FLOAT
	)

	DECLARE @tmpPromoDC TABLE (
		period INT
		, id INT
		, CategoryId INT
		, SubCategoryId INT
		, ActivityId INT
		, SubActivityId INT
		, DistributorId INT
		, SubActivityTypeId INT
		, GroupBrandId INT
		, SubAccountId INT
		, Investment FLOAT
		, isClose INT
		, totalClaim FLOAT
		, totalPaid FLOAT
		, returnedBalanceFromClosure FLOAT
	)

	DECLARE @tmpResult TABLE (
			brand VARCHAR(50)
			, channelDesc VARCHAR(100)
			, subChannelDesc VARCHAR(100)
			, accountDesc VARCHAR(100)
			, subAccountDesc VARCHAR(100)
			, fySs FLOAT
			, subActivityType VARCHAR(100)
			, activityDesc VARCHAR(100)
			, subActivityDesc VARCHAR(100)
			, ttRate FLOAT
			, fyTtBudget FLOAT
			, fyTtCostSubmitted FLOAT
			, returnedBalanceFromClosure FLOAT
			, remainingBudgetIncludeClosure FLOAT
			, dnClaim FLOAT
			, dnPaid FLOAT
			, urutBrand INT
			, urutString VARCHAR(MAX)
			, urutData INT
			, tBrand INT
			, tChannel INT
			, tSubAccount INT
			, tActivity INT
			, isSubTotal INT
			, channelId INT
			, subAccountId INT
			, urutStringChannel VARCHAR(100)
		)
	/* End Create tabel untuk menampung data budget, promo dan channel summary karena ada kondisi (IF)*/

/* Master Data brand dan subaccount */
	DROP TABLE IF EXISTS #mstdata_noFilter
	DROP TABLE IF EXISTS #mstdata
	SELECT mbg.id groupBrandId, mbg.LongDesc groupBrand
		, va.ChannelId, va.ChannelDesc, va.SubChannelId, va.AccountId, va.SubAccountId, va.SubAccountDesc
	INTO #mstdata_noFilter
	FROM tbmst_brand_group  mbg
	CROSS JOIN vw_account va
	WHERE ISNULL(mbg.IsDeleted, 0) = 0

	SELECT mst.groupBrandId, mst.groupBrand
		, mst.ChannelId, mst.SubChannelId, mst.ChannelDesc, mst.AccountId, mst.SubAccountId, mst.SubAccountDesc
	INTO #mstdata
	FROM #mstdata_noFilter mst
	INNER JOIN @channelid_filter fltc ON mst.channelid = fltc.keyid	
	INNER JOIN @groupbrandid_filter fltg ON mst.groupbrandid = fltg.keyid

/* RC Data*/
	/* SS INPUT*/
	DROP TABLE IF EXISTS #tmpSSV
	SELECT  ssv.period, ssv.groupBrandId, ssv.subaccountid, 
		SUM(ISNULL(ssv.m1, 0) * ISNULL(sscr.m1, 0))  +  SUM(ISNULL	(ssv.m2, 0) * ISNULL(sscr.m2, 0))  +  SUM(ISNULL	(ssv.m3, 0) * ISNULL(sscr.m3, 0))  +  SUM(ISNULL	(ssv.m4, 0) * ISNULL(sscr.m4, 0)) + 
		SUM(ISNULL(ssv.m5, 0) * ISNULL(sscr.m5, 0))  +  SUM(ISNULL	(ssv.m6, 0) * ISNULL(sscr.m6, 0))  +  SUM(ISNULL	(ssv.m7, 0) * ISNULL(sscr.m7, 0))  +  SUM(ISNULL	(ssv.m8, 0) * ISNULL(sscr.m8, 0)) +  
		SUM(ISNULL(ssv.m9, 0) * ISNULL(sscr.m9, 0))  +  SUM(ISNULL	(ssv.m10, 0) * ISNULL(sscr.m10, 0))  +  SUM(ISNULL	(ssv.m11, 0) * ISNULL(sscr.m11, 0))  +  SUM(ISNULL	(ssv.m12, 0) * ISNULL(sscr.m12, 0)) fySs
	INTO #tmpSSV
	FROM tbtrx_ss_volume ssv
	INNER JOIN vw_account va ON ssv.channelid = va.ChannelId AND ssv.subchannelid = va.SubChannelId AND ssv.accountid = va.AccountId AND ssv.subaccountid = va.subaccountid
	INNER JOIN @channelid_filter fltc ON va.ChannelId = fltc.keyid
	INNER JOIN @groupbrandid_filter fltg ON ssv.groupbrandid = fltg.keyid
	LEFT JOIN tbtrx_ss_conversion_rate sscr ON SSCR.period = ssv.period AND sscr.channelid = ssv.channelid AND sscr.subChannelId = ssv.subchannelid AND sscr.groupbrandid = ssv.groupbrandid
	WHERE ssv.period=@period		
	GROUP BY ssv.period, ssv.groupBrandId, ssv.subaccountid

	/* RC TT Consol */
	DROP TABLE IF EXISTS #tmpTT
	SELECT tt.id, tt.period, tt.groupBrandId, tt.categoryid, tt.subcategoryid, tt.subaccountid, tt.subactivitytypeid, tt.activityid, tt.subactivityid, tt.distributorId, tt.tt
	INTO #tmpTT
	FROM tbtrx_ss_tt tt
	INNER JOIN tbmst_category mc on tt.categoryid = mc.id AND mc.ShortDesc <> 'DC'
	INNER JOIN tbmst_brand_group mbg ON tt.groupbrandid = mbg.id
	INNER JOIN vw_account va ON tt.channelid = va.ChannelId AND tt.subchannelid = va.SubChannelId AND tt.accountid = va.AccountId AND tt.subaccountid = va.subaccountid
	INNER JOIN tbset_map_subcategory_channel B ON tt.SubCategoryId = B.subCategoryId AND tt.ChannelId = B.channelId
	INNER JOIN tbset_map_channel_brand_distributor c ON B.channelId = C.channelId AND tt.groupBrandId = C.brandId AND tt.distributorId = c.distributorId
	INNER JOIN @channelid_filter fltc ON va.ChannelId = fltc.keyid
	INNER JOIN @groupbrandid_filter fltg ON tt.groupbrandid = fltg.keyid
	INNER JOIN @subactivityType_filter flsat ON tt.subactivitytypeid = flsat.keyid
	WHERE tt.period=@period	AND tt.tt > 0

	/* RC Budget */	
	DROP TABLE IF EXISTS #tmpBudget_noFilterProfile;
	DROP TABLE IF EXISTS #tmpBudget;
	/* SSV All */
	WITH CTE_BudgetSSV AS(
		SELECT tt.id, ssv.period, ISNULL(tt.categoryId, 0) categoryId, ISNULL(tt.subCategoryId, 0) subCategoryId
			, ISNULL(tt.activityId, 0) activityId, ISNULL(tt.subActivityId, 0) subActivityId, ISNULL(tt.distributorId, 0) distributorId
			, ISNULL(tt.subactivitytypeid, 0) subActivityTypeId, mst.groupbrandid, mst.subaccountid, ISNULL(ssv.fySs, 0) fySs, ISNULL(tt.tt, 0) tt, ISNULL(ROUND((tt.tt*ssv.fySs/100),0), 0) fyBudget
		FROM #mstdata mst
		LEFT JOIN #tmpSSV ssv ON mst.SubAccountId = ssv.subaccountid AND mst.groupBrandId = ssv.groupbrandid
		LEFT JOIN #tmpTT tt ON ssv.period = tt.period AND ssv.subaccountid = tt.subaccountid AND ssv.groupbrandid = tt.groupbrandid
	),
	/* TT No SSV */
	CTE_BudgetTTNoSSV AS (
		SELECT tt.period,  tt.categoryId, tt.subCategoryId, tt.activityId, tt.subActivityId, tt.distributorId, ISNULL(tt.subactivitytypeid, 0) subActivityTypeId, tt.groupbrandid, tt.subaccountid, 0 fySs, tt.tt, 0 fyBudget
		FROM #tmpSSV ssv
		RIGHT JOIN #tmpTT tt ON ssv.period = tt.period AND ssv.subaccountid = tt.subaccountid AND ssv.groupbrandid = tt.groupbrandid
		LEFT JOIN CTE_BudgetSSV ttSSV ON tt.id = ttSSV.id
		WHERE ttSSV.id IS NULL AND tt.tt > 0
	),
	CTE_tmpBudget_noFilterProfile AS(
		SELECT ROW_NUMBER() OVER(ORDER BY activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, subAccountId) AS budgetRowId
			, period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, subAccountId, fySS, tt, fyBudget, 0 cek 	
		FROM CTE_BudgetSSV
		UNION ALL
		SELECT ROW_NUMBER() OVER(ORDER BY activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, subAccountId) AS budgetRowId
			, period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, subAccountId, fySS, tt, fyBudget , 1 cek
		FROM CTE_BudgetTTNoSSV
	),
	CTE_SSV AS ( 
		SELECT groupBrandId, SubAccountId, fySs 
		FROM CTE_tmpBudget_noFilterProfile 
		--where SubAccountId = 119
		GROUP BY groupBrandId, SubAccountId, fySs
	),
	CTE_SSVTT AS (
		SELECT groupBrandId, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, subAccountId, distributorId, tt, fyBudget
		FROM CTE_tmpBudget_noFilterProfile
		WHERE tt > 0
		--AND SubAccountId = 119
		GROUP BY groupBrandId, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, subAccountId, distributorId, tt, fyBudget
	)
		
	SELECT ROW_NUMBER() OVER(ORDER BY activityId, subActivityId, distributorId, subActivityTypeId, ssv.groupBrandId, ssv.subAccountId) AS budgetRowId
		, @period period, ssv.groupBrandId, ISNULL(tt.categoryId, 0) categoryId, ISNULL(tt.subCategoryId, 0) subCategoryId, ISNULL(tt.activityId, 0) activityId
		, ISNULL(tt.subActivityId, 0) subActivityId, ISNULL(tt.subActivityTypeId, 0) subActivityTypeId, ssv.SubAccountId, ISNULL(tt.distributorId, 0) distributorId
		, fySs, ISNULL(tt.tt, 0) tt, ISNULL(tt.fyBudget, 0) fyBudget
	INTO #tmpBudget_noFilterProfile
	FROM CTE_SSV ssv
	LEFT JOIN CTE_SSVTT tt ON ssv.groupBrandId = tt.groupBrandId AND ssv.subAccountId = tt.subAccountId

	/* RC filter budget by profile */
	IF @profileid=''
	BEGIN
		INSERT INTO @tmpBudget
		SELECT
			budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, tt.subAccountId, fySS, tt, fyBudget 
		FROM #tmpBudget_noFilterProfile tt
		INNER JOIN vw_account va ON tt.SubAccountId = va.SubAccountId
		INNER JOIN @channelid_filter fltc ON va.ChannelId = fltc.keyid
		INNER JOIN @groupbrandid_filter fltg ON tt.groupbrandid = fltg.keyid
		INNER JOIN @subactivityType_filter flsat ON tt.subActivityTypeId = flsat.keyid
	END
	ELSE
	BEGIN
		INSERT INTO @tmpBudget
		SELECT
			budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, tt.subAccountId, fySS, tt, fyBudget 
		FROM #tmpBudget_noFilterProfile tt
		INNER JOIN vw_account va ON tt.SubAccountId = va.SubAccountId
		INNER JOIN @channelid_filter fltc ON va.ChannelId = fltc.keyid
		INNER JOIN @groupbrandid_filter fltg ON tt.groupbrandid = fltg.keyid
		INNER JOIN @subactivityType_filter flsat ON tt.subActivityTypeId = flsat.keyid
		INNER JOIN tbset_user_subaccount msa ON tt.subAccountId = msa.subAccountId AND msa.UserId = @profileid
	END

	/* RC Promo */
	DROP TABLE IF EXISTS #tmpPromo_noFilterProfile;
	DROP TABLE IF EXISTS #tmpPromo
	SELECT ISNULL(pr.period, '') period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.DistributorId
		, msa.SubActivityTypeId, pr.GroupBrandId, prsac.SubAccountId
		--, pr.Investment
		, IIF(ISNULL(pr.isclose,0)=0, round(pr.Investment, 0), ISNULL(td.TotalPaid, 0)) Investment 
		, ISNULL(pr.isclose, 0) isClose, ISNULL(td.TotalClaim, 0) totalClaim, ISNULL(td.TotalPaid, 0) totalPaid
		, IIF(ISNULL(pr.isclose, 0) = 1, pr.Investment - ISNULL(td.TotalPaid, 0), 0) returnedBalanceFromClosure
	INTO #tmpPromo_noFilterProfile
	FROM tbtrx_promo pr
	INNER JOIN tbtrx_promo_channel prc ON pr.id = prc.promoid
	INNER JOIN tbtrx_promo_subaccount prsac ON pr.Id = prsac.promoid
	INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.Id
	INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.Id
	INNER JOIN @channelid_filter fltc ON prc.ChannelId = fltc.keyid
	INNER JOIN @groupbrandid_filter fltg ON pr.groupbrandid = fltg.keyid
	INNER JOIN @subactivityType_filter flsat ON msat.id = flsat.keyid
	LEFT JOIN (
		SELECT td.promoid
		,SUM ( IIF(isnull(td.VATExpired,0)=0, ISNULL(td.DPP,0), ISNULL(td.DPP,0) + ISNULL(td.PPNAmt,0)))   TotalClaim
		,SUM(IIF(td.laststatus='confirm_paid',(IIF(td.vatexpired=1,td.DPP+ISNULL(td.ppnamt,0),td.dpp)),0)) TotalPaid
		FROM tbtrx_debetnote td WITH (NOLOCK) 
		WHERE ISNULL(td.iscancel, 0) = 0
		GROUP BY td.promoid
	) td on pr.id=td.promoid			 
	WHERE pr.Period=@period AND ISNULL(IsCancel,0)=0 AND pr.CategoryShortDesc <> 'DC'

	/* RC filter promo by profile */
	IF @profileid = ''
	BEGIN
		INSERT INTO @tmpPromo
		SELECT period, id, CategoryId, SubCategoryId, ActivityId, SubActivityId, DistributorId, SubActivityTypeId
			, GroupBrandId, SubAccountId, Investment, isClose, totalClaim, totalPaid, returnedBalanceFromClosure
		FROM #tmpPromo_noFilterProfile
	END
	ELSE
	BEGIN
		INSERT INTO @tmpPromo
		SELECT period, pr.id, CategoryId, SubCategoryId, ActivityId, SubActivityId, DistributorId, SubActivityTypeId
			, GroupBrandId, pr.SubAccountId, Investment, isClose, totalClaim, totalPaid, returnedBalanceFromClosure
		FROM #tmpPromo_noFilterProfile pr
		INNER JOIN tbset_user_subaccount msa ON pr.SubAccountId = msa.SubAccountId AND msa.UserId = @profileid
	END

	/* RC Promo and budget */
	DROP TABLE IF EXISTS #tmpBudgetPromo;	
	/* Promo with budget by subactivity*/
	WITH CTE_budgetPromoBySubActivity AS (
		SELECT tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
			, tt.fySs, tt.tt, tt.fyBudget, sum(pr.Investment) cost, sum(pr.totalClaim) totalClaim, sum(pr.totalPaid) totalPaid
			, sum(pr.returnedBalanceFromClosure) returnedBalanceFromClosure
			, tt.fyBudget - sum(pr.Investment) remainingBudget
		FROM @tmpPromo pr
		INNER JOIN @tmpBudget tt ON 
			pr.Period = tt.Period 
			AND pr.CategoryId = tt.CategoryId 
			AND pr.SubCategoryId = tt.subcategoryid 
			AND pr.SubActivityId = tt.subactivityid
			AND pr.SubAccountId = tt.subaccountid
			AND pr.DistributorId = tt.distributorId
			AND pr.GroupBrandId = tt.groupbrandid
			AND ISNULL(tt.subactivityid, 0) <> 0
		GROUP BY tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId, tt.fySs, tt.tt, tt.fyBudget
	),
	/* RC Promo with budget by activity*/
	CTE_budgetPromoByActivity AS (
		SELECT tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, 0 SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
			, tt.fySs, tt.tt, tt.fyBudget, sum(pr.Investment) cost, sum(pr.totalClaim) totalClaim, sum(pr.totalPaid) totalPaid
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure
			, tt.fyBudget - sum(pr.Investment) remainingBudget
		FROM @tmpPromo pr
		INNER JOIN @tmpBudget tt ON 
			pr.Period = tt.Period 
			AND pr.CategoryId = tt.CategoryId 
			AND pr.SubCategoryId = tt.subcategoryid 
			AND pr.ActivityId = tt.activityid
			AND pr.SubAccountId = tt.subaccountid
			AND pr.DistributorId = tt.distributorId
			AND pr.GroupBrandId = tt.groupbrandid
			AND ISNULL(tt.subactivityid, 0) = 0
		WHERE pr.id NOT IN (SELECT id FROM CTE_budgetPromoBySubActivity)
		GROUP BY tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId, tt.fySs, tt.tt, tt.fyBudget
	),
	/* RC Promo without budget*/
	CTE_PromoNoBudget AS (
		SELECT 0 budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
			, 0 fySs, 0 tt, 0 fyBudget, sum(pr.Investment) cost, sum(pr.totalClaim) totalClaim, sum(pr.totalPaid) totalPaid
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure
			, 0 - sum(pr.Investment) remainingBudget
		FROM @tmpPromo pr
		WHERE pr.id NOT IN (SELECT id FROM CTE_budgetPromoBySubActivity)
		AND pr.id NOT IN (SELECT id FROM CTE_budgetPromoByActivity)
		GROUP BY pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
	),
	/* RC Budget without Promo */
	CTE_BudgetNoPromo AS (
		SELECT budgetRowId, tt.period, 0 id, tt.CategoryId, tt.SubCategoryId, tt.ActivityId, tt.SubActivityId, tt.SubActivityTypeId, tt.GroupBrandId, tt.SubAccountId
			, tt.fySs, tt.tt, tt.fyBudget
			, 0 cost, 0 totalClaim, 0 totalPaid, 0 returnedBalanceFromClosure, 0 remainingBudget
		FROM @tmpBudget tt
		WHERE tt.budgetRowId NOT IN (SELECT budgetRowId FROM CTE_budgetPromoBySubActivity)
		AND tt.budgetRowId NOT IN (SELECT budgetRowId FROM CTE_budgetPromoByActivity)
	)


	/* RC Promo All */
	SELECT period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget
	INTO #tmpBudgetPromo
	FROM CTE_budgetPromoBySubActivity
	UNION ALL
	SELECT period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget
	FROM CTE_budgetPromoByActivity
	UNION ALL
	SELECT period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget
	FROM CTE_PromoNoBudget
	UNION ALL
	SELECT period, @categoryIdRC categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget
	FROM CTE_BudgetNoPromo;

	/* RC Detail */
	DROP TABLE IF EXISTS #tmpDetailRC;
	DROP TABLE IF EXISTS #tmpPrepareDetailRC;
	WITH CTE_budget AS (
		SELECT 
			period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, a.subAccountId
			, sum(a.fyBudget) fyBudget 
		FROM @tmpBudget a
		group by 		
			period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, a.subAccountId
	),
	CTE_detail AS (
		SELECT pr.period, pr.categoryId, pr.subCategoryId, pr.activityId, pr.subActivityId, pr.subActivityTypeId
			, pr.groupBrandId, pr.subAccountId
			, sum(fySS) fySs, sum(tt) tt, tt.fyBudget, sum(cost) cost, sum(totalClaim) totalClaim, sum(totalPaid) totalPaid
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure
			, tt.fyBudget - sum(cost) remainingBudget
		FROM #tmpBudgetPromo pr
		LEFT JOIN CTE_budget tt ON 
			pr.period = tt.period
			AND pr.CategoryId = tt.categoryId
			AND pr.SubCategoryId = tt.subCategoryId
			AND pr.ActivityId = tt.activityId
			AND pr.SubActivityId = tt.subActivityId
			AND pr.GroupBrandId = tt.groupBrandId
			AND pr.SubAccountId = tt.subAccountId
		GROUP BY pr.period, pr.categoryId, pr.subCategoryId, pr.activityId, pr.subActivityId, pr.subActivityTypeId
			, pr.groupBrandId, pr.subAccountId
			--, fySS, tt
			, tt.fyBudget
	),
	CTE_fyBudget AS (
		SELECT dtlRC.period, dtlRC.categoryId, dtlRC.subCategoryId
			--, dtlRC.ActivityId, dtlRC.SubActivityId
			,ISNULL(ma.LongDesc, '') activity, ISNULL(msa.LongDesc, '') subActivity
			, dtlRC.SubActivityTypeId
			, dtlRC.GroupBrandId, dtlRC.SubAccountId, sum(dtlRC.fyBudget) fyBudget
		FROM CTE_detail dtlRC
		INNER JOIN tbmst_category mc ON dtlRC.categoryId = mc.Id
		INNER JOIN tbmst_brand_group mbg ON dtlRC.groupbrandid = mbg.id
		INNER JOIN vw_account va ON dtlRC.subaccountid = va.SubAccountId
		LEFT JOIN tbmst_activity ma ON dtlRC.activityId = ma.id
		LEFT JOIN tbmst_subactivity msa ON dtlRC.subActivityId = msa.id
		where va.ChannelId = 12
		and isnull(fybudget, 0)>0
		GROUP BY dtlRC.period, dtlRC.categoryId, dtlRC.subCategoryId
			,ISNULL(ma.LongDesc, ''), ISNULL(msa.LongDesc, '') 
			, dtlRC.SubActivityTypeId
			, dtlRC.GroupBrandId, dtlRC.SubAccountId
	)

	/* prepare data detail RC */
	SELECT dtlRC.period, dtlRC.categoryId, mc.shortDesc category, dtlRC.GroupBrandId, mbg.LongDesc brand
		, va.ChannelId, ChannelDesc, SubChannelDesc, AccountDesc, va.SubAccountId, subAccountDesc, fySS
		, ISNULL(msat.longDesc, '') subActivityType
		, ISNULL(ma.LongDesc, '') activity, ISNULL(msa.LongDesc, '') subActivity, sum(tt) tt
		, SUM(ISNULL(dtlRC.fyBudget, 0)) fyBudget, sum(cost) fyCostSubmitted
		, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(ISNULL(dtlRC.fyBudget, 0)) - sum(cost) remainingBudget
		, sum(totalClaim) dnClaim, sum(totalPaid) dnPaid
		, 1 urutBrand
		, CONCAT(mbg.LongDesc, channelDesc, ' - ', SubChannelDesc, ' - ', AccountDesc, ' - ', subAccountDesc) urutString
		, 0 urutData, 0 tBrand, 0 tChannel, 0 tSubAccount, 0 tActivity, 0 isSubTotal
		, ChannelDesc urutStringChannel
	INTO #tmpPrepareDetailRC
	FROM CTE_detail dtlRC
	INNER JOIN tbmst_category mc ON dtlRC.categoryId = mc.Id
	INNER JOIN tbmst_brand_group mbg ON dtlRC.groupbrandid = mbg.id
	INNER JOIN vw_account va ON dtlRC.subaccountid = va.SubAccountId
	LEFT JOIN tbmst_activity ma ON dtlRC.activityId = ma.id
	LEFT JOIN tbmst_subactivity msa ON dtlRC.subActivityId = msa.id
	LEFT JOIN tbmst_subactivity_type msat ON dtlRC.SubActivityTypeId = msat.id
	GROUP BY dtlRC.period, dtlRC.categoryId, mc.shortDesc, dtlRC.GroupBrandId, mbg.LongDesc
		, va.ChannelId, ChannelDesc, SubChannelDesc, AccountDesc, va.SubAccountId
		, subAccountDesc, fySS, ISNULL(msat.longDesc, ''), ma.LongDesc, ISNULL(msa.LongDesc, '')
		--, tt, ISNULL(dtlRC.fyBudget, 0)
		;
	/* Update fyBudget RC */
	WITH CTE_fybRC AS (
		SELECT tt.groupBrandId, tt.categoryId, va.ChannelId, va.SubAccountId, ISNULL(ma.LongDesc, '')  activity, ISNULL(msa.longDesc, '') subActivity
			, sum(fyBudget) fyBudget, sum(tt) tt 
		FROM @tmpBudget tt
		INNER JOIN vw_account va ON tt.subAccountId = va.SubAccountId
		LEFT JOIN tbmst_activity ma ON tt.activityId = ma.id
		LEFT JOIN tbmst_subactivity msa ON tt.subActivityId = msa.id
		GROUP BY tt.groupBrandId, tt.categoryId, va.ChannelId, va.SubAccountId, ISNULL(ma.LongDesc, ''), ISNULL(msa.longDesc, '')
	)

	/* update fyBudget detail RC*/
	UPDATE cs
	SET cs.fyBudget = fyb.fyBudget, cs.tt = fyb.tt
	FROM #tmpPrepareDetailRC cs
	INNER JOIN CTE_fybRC fyb ON cs.GroupBrandId = fyb.groupBrandId AND cs.channelId = fyb.ChannelId AND cs.subAccountId = fyb.SubAccountId 
		AND cs.activity=fyb.activity AND cs.subActivity = fyb.subActivity
	;

	/*RC data detail */
	WITH CTE_detailRC AS (
		SELECT period, categoryId, category, GroupBrandId, brand
			, ChannelId, ChannelDesc, SubChannelDesc, AccountDesc, SubAccountId, subAccountDesc, fySS
			, subActivityType, activity, subActivity, tt
			, fyBudget, fyCostSubmitted, returnedBalanceFromClosure, fyBudget - fyCostSubmitted remainingBudget, dnClaim, dnPaid
			, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, urutStringChannel
		FROM #tmpPrepareDetailRC dtlRC
	),
	/* RC sub total by brand */
	CTE_detailRC_tBrand AS (
		SELECT period, dtlRC.categoryId, dtlRC.category, brand
			, CONCAT('Total Brand ', brand) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc, sum(fySS) fySS
			, '' subActivityType, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, 1 urutBrand, brand urutString, 4 urutData, 1 tBrand, 0 tChannel, 0 tSubAccount, 0 tActivity, 1 isSubTotal
			, dtlRC.GroupBrandId, 0 channelId, 0 subAccountId
			, 'ZZZZZZZZZZZZZZZZZZZZ' urutStringChannel
		FROM CTE_detailRC dtlRC
		GROUP BY period,  dtlRC.categoryId, dtlRC.category, dtlRC.GroupBrandId, brand
	),
	/* RC sub total by channel */
	CTE_detailRC_tChannel AS (
		SELECT period, dtlRC.categoryId,  dtlRC.category, brand
			, CONCAT('Total Channel ', ChannelDesc) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc, sum(fySS) fySS
			, '' subActivityType, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, 1 urutBrand, CONCAT(brand, channelDesc, ' - ') urutString , 3 urutData, 0 tBrand, 1 tChannel, 0 tSubAccount, 0 tActivity, 1 isSubTotal
			, dtlRC.GroupBrandId, dtlRC.channelId, 0 subAccountId
			, dtlRC.urutStringChannel
		FROM CTE_detailRC dtlRC
		GROUP BY period, dtlRC.categoryId,  dtlRC.category, dtlRC.GroupBrandId, brand, dtlRC.channelId, ChannelDesc, dtlRC.urutStringChannel
	),
	/* RC sub total by subaccount */
	CTE_detailRC_tSubAccount AS (
		SELECT period, dtlRC.categoryId,  dtlRC.category, brand
			, CONCAT('Total Sub Account ', subAccountDesc) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc, sum(fySS) fySS
			, '' subActivityType, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, 1 urutBrand
			, CONCAT(brand, channelDesc, ' - ', SubChannelDesc, ' - ', AccountDesc, ' - ', subAccountDesc) urutString
			, 2 urutData, 0 tBrand, 0 tChannel, 1 tSubAccount, 0 tActivity, 1 isSubTotal
			, dtlRC.GroupBrandId, dtlRC.channelId, dtlRC.subAccountId
			, dtlRC.urutStringChannel
		FROM CTE_detailRC dtlRC
		GROUP BY period, dtlRC.categoryId, dtlRC.category, dtlRC.GroupBrandId, brand, dtlRC.channelId, ChannelDesc
		, dtlRC.urutStringChannel, SubChannelDesc, AccountDesc, dtlRC.subAccountId, SubAccountDesc
	),
	--/* RC sub total by activity */
	--CTE_detailRC_tActivity AS (
	--	SELECT period, dtlRC.categoryId,  dtlRC.category, brand, CONCAT('Total Activity ', activity) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc
	--		, fySS, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
	--		, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
	--		, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
	--		, 1 urutBrand, CONCAT(brand, channelDesc, ' - ', SubAccountDesc, ' - ', activity) urutString
	--		, 1 urutData, 0 tBrand, 0 tChannel, 0 tSubAccount, 1 tActivity, 1 isSubTotal
	--		, dtlRC.urutStringChannel
	--	FROM CTE_detailRC dtlRC
	--	GROUP BY period, dtlRC.categoryId, dtlRC.category, brand, ChannelDesc, dtlRC.urutStringChannel, SubAccountDesc, activity, fySS
	--),
	/* RC gabung semua data */
	CTE_detailRC_merge AS (
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, subAccountId
			, urutStringChannel
		FROM CTE_detailRC
		UNION ALL
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, subAccountId
			, urutStringChannel
		FROM CTE_detailRC_tBrand
		UNION ALL
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, subAccountId
			, urutStringChannel
		FROM CTE_detailRC_tChannel
		UNION ALL
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, subAccountId
			, urutStringChannel
		FROM CTE_detailRC_tSubAccount
		--UNION ALL
		--SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs, activity, subActivity, tt, fyBudget, fyCostSubmitted
		--	, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
		--	, 0 GroupBrandId, 0 channelId, 0 subAccountId
		--	, urutStringChannel
		--FROM CTE_detailRC_tActivity
	)

	INSERT INTO @channelSummary
	SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
		, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
		, returnedBalanceFromClosure
		, fyBudget - fyCostSubmitted remainingBudget
		, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
		, GroupBrandId, channelId, subAccountId
		, urutStringChannel
	FROM CTE_detailRC_merge
	ORDER BY period, category, brand, urutBrand, urutString desc, urutData;
	
/*DC*/
	/* DC Master Data brand dan channel */
	DROP TABLE IF EXISTS #mstdataDC
	SELECT groupBrandId, va.ChannelId, va.ChannelDesc, va.SubChannelId, va.SubChannelDesc, va.AccountId, va.AccountDesc
		, va.SubAccountId, va.SubAccountDesc
	INTO #mstdataDC
	FROM #mstdata  mst
	INNER JOIN vw_account va ON mst.SubAccountId = va.SubAccountId
	WHERE mst.SubAccountDesc = 'All Sub Account'

	/*PS Input*/
	DROP TABLE IF EXISTS #tmpPSV
	SELECT  ssv.period, ssv.distributorid, ssv.groupbrandid,
				ISNULL(ssv.m1, 0.00) + ISNULL	(ssv.m2, 0.00) + ISNULL(ssv.m3, 0.00) + ISNULL(ssv.m4, 0.00) + 
				ISNULL(ssv.m5, 0.00) +  ISNULL	(ssv.m6, 0.00) + ISNULL(ssv.m7, 0.00) + ISNULL(ssv.m8, 0.00) +  
				ISNULL(ssv.m9, 0.00) +  ISNULL	(ssv.m10, 0.00) + ISNULL(ssv.m11, 0.00) + ISNULL(ssv.m12, 0.00)  fySs
		INTO #tmppsv
		FROM tbtrx_ps_value ssv
		INNER JOIN @groupbrandid_filter fltg ON ssv.groupbrandid = fltg.keyid
		WHERE ssv.period=@period
		AND ISNULL(ssv.m1, 0.00) + ISNULL	(ssv.m2, 0.00) + ISNULL(ssv.m3, 0.00) + ISNULL(ssv.m4, 0.00) + 
				ISNULL(ssv.m5, 0.00) +  ISNULL	(ssv.m6, 0.00) + ISNULL(ssv.m7, 0.00) + ISNULL(ssv.m8, 0.00) +  
				ISNULL(ssv.m9, 0.00) +  ISNULL	(ssv.m10, 0.00) + ISNULL(ssv.m11, 0.00) + ISNULL(ssv.m12, 0.00)  > 0

	/* DC TT Consol */
	DROP TABLE IF EXISTS #tmpTTDC
	SELECT tt.id, tt.period, tt.groupBrandId, tt.categoryid, tt.subcategoryid, tt.channelid, tt.subactivitytypeid, tt.activityid, tt.subactivityid, tt.distributorId, tt.tt
	INTO #tmpTTDC
	FROM tbtrx_ss_tt tt
	INNER JOIN tbmst_category mc on tt.categoryid = mc.id AND mc.ShortDesc = 'DC'
	INNER JOIN tbmst_brand_group mbg ON tt.groupbrandid = mbg.id
	INNER JOIN tbmst_channel va ON tt.channelid = va.id
	INNER JOIN @channelid_filter fltc ON va.id = fltc.keyid
	INNER JOIN @groupbrandid_filter fltg ON tt.groupbrandid = fltg.keyid
	INNER JOIN @subactivityType_filter flsat ON tt.subactivitytypeid = flsat.keyid
	WHERE tt.period=@period		
	AND tt.tt > 0

	/* DC Budget */	
	DROP TABLE IF EXISTS #tmpBudgetDC_noFilterProfile;
	DROP TABLE IF EXISTS #tmpBudgetDC;
	/* PS Input All */
	WITH CTE_BudgetPSV AS(
		SELECT tt.id, ssv.period, ISNULL(tt.categoryId, @categoryIdDC) categoryId, ISNULL(tt.subCategoryId, 0) subCategoryId
			, ISNULL(tt.activityId, 0) activityId, ISNULL(tt.subActivityId, 0) subActivityId, ISNULL(ssv.distributorId, 0) distributorId
			, ISNULL(tt.subactivitytypeid, 0) subActivityTypeId, mst.groupbrandid, mst.channelId, ISNULL(ssv.fySs, 0) fySs, ISNULL(tt.tt, 0) tt, ISNULL(ROUND((tt.tt*ssv.fySs/100),0), 0) fyBudget
		FROM #mstdataDC mst
		LEFT JOIN #tmpPSV ssv ON mst.groupBrandId = ssv.groupbrandid
		LEFT JOIN #tmpTTDC tt ON ssv.period = tt.period AND ssv.distributorid = tt.distributorId AND ssv.groupbrandid = tt.groupbrandid
	),
	/* TT No PSV */
	CTE_BudgetTTNoPSV AS (
		SELECT tt.period,  tt.categoryId, tt.subCategoryId, tt.activityId, tt.subActivityId, tt.distributorId, ISNULL(tt.subactivitytypeid, 0) subActivityTypeId, tt.groupbrandid, tt.channelId, 0 fySs, tt.tt, 0 fyBudget
		FROM #tmpPSV ssv
		RIGHT JOIN #tmpTTDC tt ON ssv.period = tt.period AND ssv.distributorid = tt.distributorId AND ssv.groupbrandid = tt.groupbrandid
		LEFT JOIN CTE_BudgetPSV ttSSV ON tt.id = ttSSV.id
		WHERE ttSSV.id IS NULL AND tt.tt > 0
	), 
	/* Budget DC */
	CTE_BudgetDC AS (
		SELECT 
			period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, channelId
				, fySS, tt, fyBudget 	
		FROM CTE_BudgetPSV
		UNION ALL
		SELECT 
			period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, channelId
				, fySS, tt, fyBudget 
		FROM CTE_BudgetTTNoPSV
	)
	
	SELECT ROW_NUMBER() OVER(ORDER BY activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, channelId) AS budgetRowId
		,period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, channelId
		, fySS, tt, fyBudget 
	INTO #tmpBudgetDC_noFilterProfile
	FROM CTE_BudgetDC

	/* DC filter budget by profile */
	IF @profileid=''
	BEGIN
		INSERT INTO @tmpBudgetDC
		SELECT
			budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, tt.channelId, fySS, tt, fyBudget 
		FROM #tmpBudgetDC_noFilterProfile tt
		INNER JOIN (
			SELECT channelId FROM vw_account 
			GROUP BY ChannelId
		) va ON tt.ChannelId = va.ChannelId
		INNER JOIN @channelid_filter fltc ON va.ChannelId = fltc.keyid
		INNER JOIN @groupbrandid_filter fltg ON tt.groupbrandid = fltg.keyid
		INNER JOIN @subactivityType_filter flsat ON tt.subActivityTypeId = flsat.keyid
	END
	ELSE
	BEGIN
		INSERT INTO @tmpBudgetDC
		SELECT
			budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, distributorId, subActivityTypeId, groupBrandId, tt.channelId, fySS, tt, fyBudget 
		FROM #tmpBudgetDC_noFilterProfile tt
		INNER JOIN (
			SELECT b.ChannelId
			FROM tbset_user_subaccount a
			INNER JOIN vw_account b on a.SubAccountId = b.SubAccountId
			WHERE a.UserId = @profileid
			GROUP BY b.ChannelId
		) msa ON tt.channelId = msa.ChannelId
		INNER JOIN @channelid_filter fltc ON msa.ChannelId = fltc.keyid
		INNER JOIN @groupbrandid_filter fltg ON tt.groupbrandid = fltg.keyid
		INNER JOIN @subactivityType_filter flsat ON tt.subActivityTypeId = flsat.keyid
	END

	/* DC Promo  */
	DROP TABLE IF EXISTS #tmpPromoDC_noFilterProfile;
	DROP TABLE IF EXISTS #tmpPromoDC
	
	SELECT ISNULL(pr.period, '') period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.DistributorId
		, msa.SubActivityTypeId, pr.GroupBrandId, prc.ChannelId SubAccountId
		--, pr.Investment
		, IIF(ISNULL(pr.isclose,0)=0, round(pr.Investment, 0), ISNULL(td.TotalPaid, 0)) Investment 
		, ISNULL(pr.isclose, 0) isClose, ISNULL(td.TotalClaim, 0) totalClaim, ISNULL(td.TotalPaid, 0) totalPaid
		, IIF(ISNULL(pr.isclose, 0) = 1, pr.Investment - ISNULL(td.TotalPaid, 0), 0) returnedBalanceFromClosure
	INTO #tmpPromoDC_noFilterProfile
	FROM tbtrx_promo pr
	INNER JOIN tbtrx_promo_channel prc ON pr.id = prc.promoid
	INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.Id
	INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.Id
	INNER JOIN @channelid_filter fltc ON prc.ChannelId = fltc.keyid
	INNER JOIN @groupbrandid_filter fltg ON pr.groupbrandid = fltg.keyid
	INNER JOIN @subactivityType_filter flsat ON msat.id = flsat.keyid
	LEFT JOIN (
		SELECT td.promoid
		,SUM ( IIF(isnull(td.VATExpired,0)=0, ISNULL(td.DPP,0), ISNULL(td.DPP,0) + ISNULL(td.PPNAmt,0)))   TotalClaim
		,SUM(IIF(td.laststatus='confirm_paid',(IIF(td.vatexpired=1,td.DPP+ISNULL(td.ppnamt,0),td.dpp)),0)) TotalPaid
		FROM tbtrx_debetnote td WITH (NOLOCK) 
		WHERE ISNULL(td.iscancel, 0) = 0
		GROUP BY td.promoid
	) td on pr.id=td.promoid			 
	WHERE pr.Period=@period AND ISNULL(IsCancel,0)=0 AND CategoryShortDesc='DC'

	/* DC filter promo by profile */
	IF @profileid = ''
	BEGIN
		INSERT INTO @tmpPromoDC
		SELECT period, id, CategoryId, SubCategoryId, ActivityId, SubActivityId, DistributorId, SubActivityTypeId
			, GroupBrandId, SubAccountId, Investment, isClose, totalClaim, totalPaid, returnedBalanceFromClosure
		FROM #tmpPromoDC_noFilterProfile
	END
	ELSE
	BEGIN
		INSERT INTO @tmpPromoDC
		SELECT period, id, CategoryId, SubCategoryId, ActivityId, SubActivityId, DistributorId, SubActivityTypeId
			, GroupBrandId, SubAccountId, Investment, isClose, totalClaim, totalPaid, returnedBalanceFromClosure
		FROM #tmpPromoDC_noFilterProfile pr
		INNER JOIN (
			SELECT b.ChannelId
			FROM tbset_user_subaccount a
			INNER JOIN vw_account b on a.SubAccountId = b.SubAccountId
			WHERE a.UserId = @profileid
			GROUP BY b.ChannelId
		) msa ON pr.SubAccountId = msa.ChannelId
	END

	/* DC Promo and budget */
	DROP TABLE IF EXISTS #tmpBudgetPromoDC;	
	/* Promo with budget by subactivity*/
	WITH CTE_budgetPromoBySubActivity AS (
		SELECT tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
			, tt.fySs, tt.tt, tt.fyBudget, sum(pr.Investment) cost, sum(pr.totalClaim) totalClaim, sum(pr.totalPaid) totalPaid
			, sum(pr.returnedBalanceFromClosure) returnedBalanceFromClosure
			, tt.fyBudget - sum(pr.Investment) remainingBudget
			, pr.DistributorId
		FROM @tmpPromoDC pr
		INNER JOIN @tmpBudgetDC tt ON 
			pr.Period = tt.Period 
			AND pr.CategoryId = tt.CategoryId 
			AND pr.SubCategoryId = tt.subcategoryid 
			AND pr.SubActivityId = tt.subactivityid
			AND pr.SubAccountId = tt.channelId
			AND pr.DistributorId = tt.distributorId
			AND pr.GroupBrandId = tt.groupbrandid
			AND ISNULL(tt.subactivityid, 0) <> 0
		GROUP BY tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId, tt.fySs, tt.tt, tt.fyBudget, pr.DistributorId
	),
	/* DC Promo with budget by activity*/
	CTE_budgetPromoByActivity AS (
		SELECT tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, 0 SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
			, tt.fySs, tt.tt, tt.fyBudget, sum(pr.Investment) cost, sum(pr.totalClaim) totalClaim, sum(pr.totalPaid) totalPaid
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure
			, tt.fyBudget - sum(pr.Investment) remainingBudget
			, pr.DistributorId
		FROM @tmpPromoDC pr
		INNER JOIN @tmpBudgetDC tt ON 
			pr.Period = tt.Period 
			AND pr.CategoryId = tt.CategoryId 
			AND pr.SubCategoryId = tt.subcategoryid 
			AND pr.ActivityId = tt.activityid
			AND pr.SubAccountId = tt.channelid
			AND pr.DistributorId = tt.distributorId
			AND pr.GroupBrandId = tt.groupbrandid
			AND ISNULL(tt.subactivityid, 0) = 0
		WHERE pr.id NOT IN (SELECT id FROM CTE_budgetPromoBySubActivity)
		GROUP BY tt.budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId, tt.fySs, tt.tt, tt.fyBudget, pr.DistributorId
	),
	/* DC Promo without budget*/
	CTE_PromoNoBudget AS (
		SELECT 0 budgetRowId, pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId
			, 0 fySs, 0 tt, 0 fyBudget, sum(pr.Investment) cost, sum(pr.totalClaim) totalClaim, sum(pr.totalPaid) totalPaid
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure	
			, 0 - sum(pr.Investment) remainingBudget			
			, pr.DistributorId
		FROM @tmpPromoDC pr
		WHERE pr.id NOT IN (SELECT id FROM CTE_budgetPromoBySubActivity)
		AND pr.id NOT IN (SELECT id FROM CTE_budgetPromoByActivity)
		GROUP BY pr.period, pr.id, pr.CategoryId, pr.SubCategoryId, pr.ActivityId, pr.SubActivityId, pr.SubActivityTypeId, pr.GroupBrandId, pr.SubAccountId, pr.DistributorId
	),
	/* DC Budget without Promo */
	CTE_BudgetNoPromo AS (
		SELECT budgetRowId, tt.period, 0 id, tt.CategoryId, tt.SubCategoryId, tt.ActivityId, tt.SubActivityId, tt.SubActivityTypeId, tt.GroupBrandId, tt.channelId SubAccountId
			, tt.fySs, tt.tt, tt.fyBudget
			, 0 cost, 0 totalClaim, 0 totalPaid, 0 returnedBalanceFromClosure, 0 remainingBudget
			, tt.distributorId
		FROM @tmpBudgetDC tt
		WHERE tt.budgetRowId NOT IN (SELECT budgetRowId FROM CTE_budgetPromoBySubActivity)
		AND tt.budgetRowId NOT IN (SELECT budgetRowId FROM CTE_budgetPromoByActivity)
	)

	/* DC Promo All */
	SELECT budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget, distributorId
	INTO #tmpBudgetPromoDC
	FROM CTE_budgetPromoBySubActivity
	UNION ALL
	SELECT budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget, distributorId
	FROM CTE_budgetPromoByActivity
	UNION ALL
	SELECT budgetRowId, period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget, distributorId
	FROM CTE_PromoNoBudget
	UNION ALL
	SELECT budgetRowId, period, @categoryIdDC categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
		, fySS, tt, fyBudget, cost, totalClaim, totalPaid, returnedBalanceFromClosure, remainingBudget, distributorId
	FROM CTE_BudgetNoPromo;

	/* Detail DC */
	DROP TABLE IF EXISTS #tmpPrepareDetailDC;
	
	WITH CTE_detail AS (
		SELECT period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId
			, fySS, tt, sum(fyBudget) fyBudget, sum(cost) cost, sum(totalClaim) totalClaim, sum(totalPaid) totalPaid
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure
			, sum(remainingBudget) remainingBudget
			, distributorId
		FROM #tmpBudgetPromoDC
		GROUP BY period, categoryId, subCategoryId, activityId, subActivityId, subActivityTypeId, groupBrandId, subAccountId, fySS, tt, DistributorId
	)

	/* prepare Data Detail DC */
	SELECT period, dtlDC.categoryId, mc.shortDesc category, dtlDC.groupBrandId, mbg.LongDesc brand
		, va.ChannelId, va.ChannelDesc, va.SubChannelDesc, va.AccountDesc, va.SubAccountDesc, sum(fySS) fySs
		, ISNULL(msat.LongDesc, '') subActivityType, ISNULL(ma.LongDesc, '') activity, ISNULL(msa.LongDesc, '') subActivity
		, SUM(tt) tt, SUM(fyBudget) fyBudget, sum(cost) fyCostSubmitted
		, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(fyBudget) - sum(cost) remainingBudget
		, sum(totalClaim) dnClaim, sum(totalPaid) dnPaid
		, 1 urutBrand
		, CONCAT(mbg.LongDesc, channelDesc, ' - ', SubChannelDesc, ' - ', AccountDesc, ' - ', subAccountDesc) urutString
		, 0 urutData, 0 tBrand, 0 tChannel, 0 tSubAccount, 0 tActivity, 0 isSubTotal
		, ChannelDesc urutStringChannel, dtlDC.DistributorId, va.SubAccountId
	INTO #tmpPrepareDetailDC
	FROM CTE_detail dtlDC 
	INNER JOIN tbmst_category mc ON dtlDC.categoryId = mc.Id
	INNER JOIN tbmst_brand_group mbg ON dtlDC.groupbrandid = mbg.id
	INNER JOIN #mstdataDC va ON dtlDC.SubAccountId = va.ChannelId AND dtlDC.GroupBrandId = va.groupBrandId
	LEFT JOIN tbmst_activity ma ON dtlDC.activityId = ma.id
	LEFT JOIN tbmst_subactivity msa ON dtlDC.subActivityId = msa.id
	LEFT JOIN tbmst_subactivity_type msat ON dtlDC.SubActivityTypeId = msat.id
	GROUP BY period, dtlDC.categoryId, mc.shortDesc, dtlDC.groupBrandId, mbg.LongDesc
		, ChannelDesc, va.ChannelId, SubChannelDesc, AccountDesc, va.SubAccountId, va.SubAccountDesc
		, ISNULL(msat.LongDesc, ''), ISNULL(ma.LongDesc, ''), ISNULL(msa.LongDesc, '')
		, dtlDC.DistributorId, dtlDC.SubAccountId
	;

	/* update fyBudget Data DC */	
	WITH CTE_fybDC AS (
		SELECT tt.groupBrandId, tt.categoryId, tt.ChannelId, 0 SubAccountId
			, ISNULL(msat.longDesc, '') subActivityType, ISNULL(ma.LongDesc, '')  activity, ISNULL(msa.longDesc, '') subActivity
			, tt.distributorId, sum(fyBudget) fyBudget, sum(tt) tt 
		FROM @tmpBudgetDC tt
		INNER JOIN tbmst_channel mc ON tt.channelId = mc.id
		LEFT JOIN tbmst_activity ma ON tt.activityId = ma.id
		LEFT JOIN tbmst_subactivity msa ON tt.subActivityId = msa.id
		LEFT JOIN tbmst_subactivity_type msat ON tt.subActivityTypeId = msat.id
		GROUP BY tt.groupBrandId, tt.categoryId, tt.ChannelId
			, ISNULL(msat.longDesc, ''), ISNULL(ma.LongDesc, ''), ISNULL(msa.longDesc, ''), tt.distributorId
	)

	--/* update fyBudget detail */
	UPDATE cs
	SET cs.fyBudget = fyb.fyBudget, cs.tt = fyb.tt
	FROM #tmpPrepareDetailDC cs
	INNER JOIN CTE_fybDC fyb ON cs.GroupBrandId = fyb.groupBrandId AND cs.CategoryId = fyb.categoryId AND cs.channelId = fyb.ChannelId
		AND cs.subActivityType = fyb.subActivityType
		AND cs.activity=fyb.activity AND cs.subActivity = fyb.subActivity AND cs.DistributorId = fyb.distributorId
	;

	/*data detail DC */
	WITH CTE_detailDC AS (
		SELECT period, categoryId, category, groupBrandId, brand
			, channelId, ChannelDesc, SubChannelDesc, AccountDesc, subAccountDesc, sum(fySS) fySS
			, subActivityType, activity, subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal, urutStringChannel, SubAccountId		
		FROM #tmpPrepareDetailDC dtlDC
		GROUP BY period, categoryId, category, groupBrandId, brand, channelId, ChannelDesc, SubChannelDesc, AccountDesc, subAccountDesc
			, subActivityType, activity, subActivity, urutBrand, urutString, urutData
			, tBrand, tChannel, tSubAccount, tActivity, isSubTotal, urutStringChannel, SubAccountId
	),
	/* DC sub total by brand */
	CTE_detailDC_tBrand AS (
		SELECT period, categoryId, category, brand
			, CONCAT('Total Brand ', brand) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc, sum(fySS) fySS
			, '' subActivityType, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, 1 urutBrand, brand urutString, 4 urutData, 1 tBrand, 0 tChannel, 0 tSubAccount, 0 tActivity, 1 isSubTotal
			, dtlDC.groupBrandId, 0 channelId, 0 subAccountId
			, 'ZZZZZZZZZZZZZZZZZZZZ' urutStringChannel
		FROM CTE_detailDC dtlDC
		GROUP BY period, dtlDC.categoryId, dtlDC.category, dtlDC.groupBrandId, brand
	),
	/* DC sub total by channel */
	CTE_detailDC_tChannel AS (
		SELECT period, categoryId, category, brand
			, CONCAT('Total Channel ', ChannelDesc) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc, sum(fySS) fySS
			, '' subActivityType, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, 1 urutBrand, CONCAT(brand, channelDesc, ' - ') urutString , 3 urutData, 0 tBrand, 1 tChannel, 0 tSubAccount, 0 tActivity, 1 isSubTotal
			, dtlDC.GroupBrandId, dtlDC.channelId, 0 subAccountId
			, dtlDC.urutStringChannel
		FROM CTE_detailDC dtlDC
		GROUP BY period, dtlDC.categoryId,  dtlDC.category, dtlDC.GroupBrandId, brand, dtlDC.channelId, ChannelDesc, dtlDC.urutStringChannel
	),
	/* DC sub total by subaccount */
	CTE_detailDC_tSubAccount AS (
		SELECT period, dtlDC.categoryId,  dtlDC.category, brand
			, CONCAT('Total Sub Account ', subAccountDesc) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc, sum(fySS) fySS
			, '' subActivityType, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
			, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
			, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
			, 1 urutBrand
			, CONCAT(brand, channelDesc, ' - ', SubChannelDesc, ' - ', AccountDesc, ' - ', subAccountDesc) urutString
			, 2 urutData, 0 tBrand, 0 tChannel, 1 tSubAccount, 0 tActivity, 1 isSubTotal
			, dtlDC.GroupBrandId, dtlDC.channelId, subAccountId, dtlDC.urutStringChannel
		FROM CTE_detailDC dtlDC
		GROUP BY period, dtlDC.categoryId, dtlDC.category, dtlDC.GroupBrandId, brand, dtlDC.channelId, ChannelDesc
			, SubChannelDesc, AccountDesc, dtlDC.urutStringChannel, SubAccountDesc, subAccountId
	),
	--/* DC sub total by activity */
	--CTE_detailDC_tActivity AS (
	--	SELECT period, categoryId, category, brand, CONCAT('Total Activity ', activity) ChannelDesc, '' SubChannelDesc, '' AccountDesc, '' subAccountDesc
	--		, fySS, '' activity, '' subActivity, sum(tt) tt, sum(fyBudget) fyBudget, sum(fyCostSubmitted) fyCostSubmitted
	--		, sum(returnedBalanceFromClosure) returnedBalanceFromClosure, sum(remainingBudget) remainingBudget
	--		, sum(dnClaim) dnClaim, sum(dnPaid) dnPaid
	--		, 1 urutBrand, CONCAT(brand, channelDesc, ' - ', activity) urutString 
	--		, 1 urutData, 0 tBrand, 0 tChannel, 0 tSubAccount, 1 tActivity, 1 isSubTotal
	--		, dtlDC.urutStringChannel
	--	FROM CTE_detailDC dtlDC
	--	GROUP BY period, dtlDC.categoryId, dtlDC.category, brand, ChannelDesc, dtlDC.urutStringChannel, SubAccountDesc, activity, fySS
	--),
	/* gabung semua data DC */
	CTE_detailDC_merge AS (
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, urutStringChannel, SubAccountId
		FROM CTE_detailDC
		UNION ALL
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, urutStringChannel, 0 subAccountId
		FROM CTE_detailDC_tBrand
		UNION ALL
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, urutStringChannel, 0 subAccountId
		FROM CTE_detailDC_tChannel
		UNION ALL
		SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
			, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
			, GroupBrandId, channelId, urutStringChannel, subAccountId
		FROM CTE_detailDC_tSubAccount
		--UNION ALL
		--SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs, activity, subActivity, tt, fyBudget, fyCostSubmitted
		--	, returnedBalanceFromClosure, remainingBudget, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
		--	, 0 GroupBrandId, 0 channelId, urutStringChannel
		--FROM CTE_detailDC_tActivity
	)

	INSERT INTO @channelSummary
	SELECT period, categoryId, category, brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
		, subActivityType, activity, subActivity, tt, fyBudget, fyCostSubmitted
		, returnedBalanceFromClosure
		, fyBudget - fyCostSubmitted + returnedBalanceFromClosure remainingBudget
		, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
		, GroupBrandId, channelId, subAccountId
		, urutStringChannel
	FROM CTE_detailDC_merge cs
	ORDER BY period, category, brand, urutBrand, urutString desc, urutData;

	/********************************
	* RC SS Input untuk update total **
	********************************/
	/* SS Input by Sub Account distinct*/
	DECLARE @tmpSSInput TABLE (
		categoryId INT
		,period INT
		, groupBrandId INT
		, channelId INT
		, subAccountId INT
		, fySs FLOAT
	)
	DROP TABLE IF EXISTS #tmpSSInputNoFilter;
	DROP TABLE IF EXISTS #tmpSSInput_brandSubAccount;
	DROP TABLE IF EXISTS #tmpSSInput_brandChannel;
	DROP TABLE IF EXISTS #tmpSSInput_brand
	DROP TABLE IF EXISTS #tmpSSInput_ALL;

	/* fySs RC */
	WITH CTE_SSV AS (
		SELECT @categoryIdRC categoryId, period, groupBrandId, va.channelId, va.subAccountId, fySs
		FROM @tmpBudget tt
		INNER JOIN vw_account va on tt.subAccountId = va.SubAccountId
		GROUP BY period, groupBrandId, va.channelId, va.subAccountId, fySs
		UNION ALL
		SELECT @categoryIdDC categoryId, period, tt.groupBrandId, tt.channelId, m.subAccountId, fySs
		FROM @tmpBudgetDC tt
		INNER JOIN #mstdataDC m ON tt.channelId = m.ChannelId AND tt.groupBrandId = m.groupBrandId
		GROUP BY period, tt.groupBrandId, tt.channelId, m.SubAccountId, fySs
	)

	INSERT INTO @tmpSSInput
	SELECT categoryId, period, groupBrandId, channelId, subAccountId, fySs
	FROM CTE_SSV ssv
	INNER JOIN @categoryid_filter fltc ON ssv.categoryid = fltc.keyid

	/* SS Input total by sub account */
	SELECT ssv.categoryId, ssv.period, ssv.groupBrandId, ssv.channelId, ssv.subAccountId, SUM(ssv.fySs) fySs 
	INTO #tmpSSInput_brandSubAccount
		FROM @tmpSSInput ssv
		GROUP BY categoryId, period, groupBrandId, ssv.channelId, ssv.subAccountId

	/* SS Input total by channel */
	SELECT ssv.categoryId, ssv.period, ssv.groupBrandId, va.ChannelId, SUM(ssv.fySs) fySs 
	INTO #tmpSSInput_brandChannel
		FROM @tmpSSInput ssv
		INNER JOIN vw_account va ON ssv.subAccountId = va.SubAccountId
		GROUP BY categoryId, period, groupBrandId, va.ChannelId
	UNION ALL
	SELECT ssv.categoryId, ssv.period, ssv.groupBrandId, va.ChannelId, SUM(ssv.fySs) fySs 
		FROM @tmpSSInput ssv
		INNER JOIN #mstdataDC va ON ssv.channelId = va.ChannelId
		GROUP BY categoryId, period, ssv.groupBrandId, va.ChannelId

	/* SS Input total by brand */
	SELECT ssv.categoryId, ssv.period, ssv.groupBrandId, SUM(ssv.fySs) fySs 
	INTO #tmpSSInput_brand
		FROM @tmpSSInput ssv
		GROUP BY categoryId, period, groupBrandId

	/* SS Input total ALL */
	SELECT ssv.period, SUM(ssv.fySs) fySs 
	INTO #tmpSSInput_ALL
		FROM @tmpSSInput ssv
		GROUP BY categoryId, period;
	/***********************************
	* End SS Input untuk update total **
	************************************/

	
	/***********************************
	** RC Update total fy Ss by brand **
	************************************/
	/* RC Update total fySs sub account */
	UPDATE cs
	SET cs.fySs = upd.fySs
	FROM @channelSummary cs
	INNER JOIN #tmpSSInput_brandSubAccount upd ON cs.categoryId = upd.categoryId AND cs.groupBrandId = upd.groupBrandId 
		AND cs.subAccountId = upd.subAccountId
	WHERE (cs.tSubAccount in (0, 1) OR cs.tActivity = 1) AND cs.categoryId = @categoryIdRC

	/* DC Update total fySs sub account */
	UPDATE cs
	SET cs.fySs = upd.fySs
	FROM @channelSummary cs
	INNER JOIN #tmpSSInput_brandSubAccount upd ON cs.categoryId = upd.categoryId AND cs.groupBrandId = upd.groupBrandId AND cs.channelId = upd.channelId
	WHERE (cs.tSubAccount in (0, 1) OR cs.tActivity = 1) AND cs.categoryId = @categoryIdDC

	/* RC Update total fySs channel */
	UPDATE cs
	SET cs.fySs = upd.fySs
	FROM @channelSummary cs
	INNER JOIN #tmpSSInput_brandChannel upd ON cs.categoryId = upd.categoryId AND cs.groupBrandId = upd.groupBrandId AND cs.channelId = upd.channelid
	WHERE cs.tChannel = 1 AND cs.categoryId = @categoryIdRC

	/* DC Update total fySs channel */
	UPDATE cs
	SET cs.fySs = upd.fySs
	FROM @channelSummary cs
	INNER JOIN #tmpSSInput_brandChannel upd ON cs.categoryId = upd.categoryId AND cs.groupBrandId = upd.groupBrandId AND cs.channelId = upd.channelid
	WHERE cs.tChannel = 1 AND cs.categoryId = @categoryIdDC

	/* RC Update total fySs brand */
	UPDATE cs
	SET cs.fySs = upd.fySs
	FROM @channelSummary cs
	INNER JOIN #tmpSSInput_brand upd ON cs.categoryId = upd.categoryId AND cs.groupBrandId = upd.groupBrandId 
	WHERE cs.tBrand = 1 AND cs.categoryId = @categoryIdRC

	/* DC Update total fySs brand */
	UPDATE cs
	SET cs.fySs = upd.fySs
	FROM @channelSummary cs
	INNER JOIN #tmpSSInput_brand upd ON cs.categoryId = upd.categoryId AND cs.groupBrandId = upd.groupBrandId 
	WHERE cs.tBrand = 1 AND cs.categoryId = @categoryIdDC;
	/***************************************
	** End RC Update total fy Ss by brand **
	****************************************/

	/* filter data by category */
	DROP TABLE IF EXISTS #tmpResult;
	DROP TABLE IF EXISTS  #tmpDetailBrandALL;
	WITH CTE_csSSVDistinct AS (
		SELECT brand,cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc,  fySs
		FROM @channelSummary cs 
		INNER JOIN @categoryid_filter fltc ON cs.categoryid = fltc.keyid
		WHERE isSubTotal = 0
		GROUP BY brand,cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc,  fySs
	),
	CTE_csSSV AS (
		SELECT cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc, SUM(fySs) fySs
		FROM CTE_csSSVDistinct cs 
		GROUP BY cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc
	),
	CTE_csPromo AS (
		SELECT cs.subAccountId, subAccountDesc, subActivityType, activityDesc, subActivityDesc
			, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
			, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure, SUM(remainingBudgetIncludeClosure) remainingBudgetIncludeClosure
			, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
		FROM @channelSummary cs 
		INNER JOIN @categoryid_filter fltc ON cs.categoryid = fltc.keyid
		--WHERE isSubTotal = 0
		WHERE (cs.ttRate <> 0 OR fyTtCostSubmitted<>0 OR returnedBalanceFromClosure <> 0) 
			AND isSubTotal = 0
		GROUP BY cs.subAccountId, subAccountDesc, subActivityType, activityDesc, subActivityDesc
	)

	/* prepare Data Brand ALL */
	SELECT @brandAll brand, csSSV.channelId, csSSV.channelDesc, csSSV.subChannelDesc, csSSV.accountDesc, csSSV.subAccountId, csSSV.subAccountDesc, csSSV.fySs
		, ISNULL(subActivityType, '') subActivityType, ISNULL(activityDesc, '') activityDesc, ISNULL(subActivityDesc, '') subActivityDesc
		, ISNULL(ttRate, 0) ttRate, ISNULL(fyTtBudget, 0) fyTtBudget, ISNULL(fyTtCostSubmitted, 0) fyTtCostSubmitted
		, ISNULL(returnedBalanceFromClosure, 0) returnedBalanceFromClosure
		, ISNULL(fyTtBudget, 0) - ISNULL(fyTtCostSubmitted, 0) remainingBudgetIncludeClosure
		, ISNULL(dnClaim, 0) dnClaim, ISNULL(dnPaid, 0) dnPaid
		, 0 urutBrand
		, CONCAT(@brandAll, channelDesc, ' - ', csSSV.SubChannelDesc, ' - ', csSSV.AccountDesc, ' - ', csSSV.subAccountDesc) urutString
		, 0 urutData, 0 tBrand, 0 tChannel, 0 tSubAccount, 0 tActivity, 0 isSubTotal	
		, csSSV.channelDesc urutStringChannel
	INTO #tmpDetailBrandALL
	FROM CTE_csSSV csSSV
	LEFT JOIN CTE_csPromo csPromo ON csSSV.subAccountId = csPromo.subAccountId;

	/* update fyBudget Data Brand ALL */
	WITH CTE_fybRCDC AS (
		SELECT va.ChannelId, va.SubAccountId
			, ISNULL(msat.longDesc, '') subActivityType, ISNULL(ma.LongDesc, '')  activity, ISNULL(msa.longDesc, '') subActivity
			, sum(fyBudget) fyBudget, sum(tt) tt
		FROM @tmpBudget tt
		INNER JOIN vw_account va ON tt.subAccountId = va.SubAccountId
		LEFT JOIN tbmst_subactivity_type msat ON tt.subActivityTypeId = msat.id
		LEFT JOIN tbmst_activity ma ON tt.activityId = ma.id
		LEFT JOIN tbmst_subactivity msa ON tt.subActivityId = msa.id
		GROUP BY va.ChannelId, va.SubAccountId, ISNULL(msat.longDesc, ''), ISNULL(ma.LongDesc, ''), ISNULL(msa.longDesc, '')
		UNION ALL
		SELECT tt.ChannelId, va.SubAccountId
			, ISNULL(msat.longDesc, '') subActivityType, ISNULL(ma.LongDesc, '')  activity, ISNULL(msa.longDesc, '') subActivity
			, sum(fyBudget) fyBudget, sum(tt) tt
		FROM @tmpBudgetDC tt
		inner join #mstdataDC va ON tt.channelId = va.ChannelId AND tt.groupBrandId = va.groupBrandId
		LEFT JOIN tbmst_subactivity_type msat ON tt.subActivityTypeId = msat.id
		LEFT JOIN tbmst_activity ma ON tt.activityId = ma.id
		LEFT JOIN tbmst_subactivity msa ON tt.subActivityId = msa.id
		GROUP BY tt.ChannelId, va.SubAccountId, ISNULL(msat.longDesc, ''), ISNULL(ma.LongDesc, ''), ISNULL(msa.longDesc, '')
	), 
	CTE_fyb AS (
		SELECT ChannelId, SubAccountId, subActivityType, activity, subActivity, sum(fyBudget) fyBudget, sum(tt) tt
		FROM CTE_fybRCDC 
		GROUP BY ChannelId, SubAccountId, subActivityType, activity, subActivity
	)

	/* update fyBudget detail */
	UPDATE cs
	SET cs.fyTtBudget = fyb.fyBudget, cs.ttRate = fyb.tt
	FROM #tmpDetailBrandALL cs
	INNER JOIN CTE_fyb fyb ON cs.channelId = fyb.ChannelId AND cs.subAccountId = fyb.SubAccountId 
		AND cs.subActivityType = fyb.subActivityType AND cs.activityDesc=fyb.activity AND cs.subActivityDesc = fyb.subActivity
	;

	/* Filter Brand (1 brand atau lebih) */
	IF @tFilterBrand > 1
	BEGIN

		/* Brand ALL */
		WITH CTE_brandALL AS (
			SELECT brand, channelId, channelDesc, subChannelDesc, accountDesc, subAccountId, subAccountDesc, fySs
				, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget
				, fyTtCostSubmitted, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	, urutStringChannel
			FROM #tmpDetailBrandALL csSSV
		),
		/* Brand ALL total by brand */
		CTE_brandALL_tBrand AS (
			SELECT 			
				@brandAll brand, CONCAT('Total Brand ', @brandAll) channelDesc, '' subChannelDesc, '' accountDesc, '' subAccountDesc, SUM(fySs) fySs
				, '' subActivityType, '' activityDesc, '' subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure
				, SUM(fyTtBudget) - SUM(fyTtCostSubmitted) remainingBudgetIncludeClosure
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
				, 0 urutBrand, @brandAll urutString, 4 urutData, 1 tBrand, 0 tChannel, 0 tSubAccount, 0 tActivity, 1 isSubTotal
				, 'ZZZZZZZZZZZZZZZZZZZZ' urutStringChannel
			FROM CTE_brandALL
		),
		/* Brand ALL total by Channel */
		CTE_brandALL_tChannel AS (
			SELECT @brandAll brand
				, CONCAT('Total Channel ', ChannelDesc) channelDesc, '' subChannelDesc, '' accountDesc, '' subAccountDesc, SUM(fySs) fySs
				, '' subActivityType, '' activityDesc, '' subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure
				, SUM(fyTtBudget) - SUM(fyTtCostSubmitted) remainingBudgetIncludeClosure			
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
				, 0 urutBrand, CONCAT(@brandAll, channelDesc) urutString, 3 urutData, 0 tBrand, 1 tChannel, 0 tSubAccount, 0 tActivity, 1 isSubTotal
				, channelId, 0 subAccountId
				, channelDesc urutStringChannel
			FROM CTE_brandALL
			GROUP BY channelDesc, channelId
		),
		--/* Brand ALL total by Sub Account */
		CTE_brandALL_tSubAccount AS (
			SELECT 	@brandAll brand
				, CONCAT('Total Sub Account ', subAccountDesc) channelDesc, '' subChannelDesc, '' accountDesc, '' subAccountDesc, SUM(fySs) fySs
				, '' subActivityType, '' activityDesc, '' subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure
				, SUM(fyTtBudget) - SUM(fyTtCostSubmitted) remainingBudgetIncludeClosure			
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
				, 0 urutBrand
				, CONCAT(@brandAll, channelDesc, ' - ', SubChannelDesc, ' - ', AccountDesc, ' - ', subAccountDesc) urutString
				, 2 urutData, 0 tBrand, 0 tChannel, 1 tSubAccount, 0 tActivity, 1 isSubTotal
				, channelId, subAccountId
				, channelDesc urutStringChannel
			FROM CTE_brandALL
			--WHERE subAccountDesc <> '' -- digunakan jikan total subaccount DC tidak dimunculkan
			GROUP BY channelDesc, channelId, SubChannelDesc, AccountDesc, subAccountDesc, subAccountId
		),
		----/* Brand ALL total by Activity */
		--CTE_brandALL_Activity AS (
		--	SELECT 			
		--		@brandAll brand, CONCAT('Total Activity ', activityDesc) channelDesc, '' subChannelDesc, '' accountDesc, '' subAccountDesc
		--		, fySs, '' activityDesc, '' subActivityDesc
		--		, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
		--		, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure
		--		, SUM(fyTtBudget) - SUM(fyTtCostSubmitted) + SUM(returnedBalanceFromClosure) remainingBudgetIncludeClosure
		--		, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
		--		, 0 urutBrand, CONCAT(@brandAll, channelDesc, subAccountDesc, ' - ', activityDesc) urutString, 1 urutData
		--		, 0 tBrand, 0 tChannel, 0 tSubAccount, 1 tActivity, 1 isSubTotal
		--		, channelDesc urutStringChannel
		--	FROM CTE_brandALL
		--	GROUP BY channelDesc, subAccountDesc, activityDesc, fySs
		--),
		--CTE_brandALL_tActivity AS (
		--	SELECT 			
		--		brand, channelDesc, '' subChannelDesc, '' accountDesc, '' subAccountDesc
		--		, SUM(fySs) fySs, '' activityDesc, '' subActivityDesc
		--		, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
		--		, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure
		--		, SUM(fyTtBudget) - SUM(fyTtCostSubmitted) + SUM(returnedBalanceFromClosure) remainingBudgetIncludeClosure			
		--		, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
		--		, 0 urutBrand, urutString, 1 urutData, 0 tBrand, 0 tChannel, 0 tSubAccount, 1 tActivity, 1 isSubTotal
		--		, urutStringChannel
		--	FROM CTE_brandALL_Activity
		--	GROUP BY brand, channelDesc, urutStringChannel, subAccountDesc, activityDesc, urutString
		--),
		/* result Detail semua Brand  */
		CTE_resDetail AS (
			SELECT 
				brand, cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc, SUM(fySs) fySs
				, subActivityType, activityDesc, subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure, SUM(remainingBudgetIncludeClosure) remainingBudgetIncludeClosure
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
				, urutStringChannel
			FROM @channelSummary cs
			INNER JOIN @categoryid_filter fltc ON cs.categoryid = fltc.keyid
			GROUP BY brand, urutStringChannel, channelid, channelDesc, subChannelDesc, accountDesc, subAccountId, subAccountDesc
				, subActivityType, activityDesc, subActivityDesc, urutBrand, urutString, urutData
				, tBrand, tChannel, tSubAccount, tActivity, isSubTotal		
		)
	
	/* Data for display */
		 ,CTE_csSSVDistinct AS (
			SELECT brand,cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc,  fySs
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, urutStringChannel	
			FROM CTE_resDetail cs 
			WHERE isSubTotal = 0
			GROUP BY brand,cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc,  fySs
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, channelId, urutStringChannel	

		),
		CTE_csSSV AS (
			SELECT cs.brand, cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc, SUM(fySs) fySs
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, urutStringChannel	
			FROM CTE_csSSVDistinct cs 
			GROUP BY cs.brand, cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, urutStringChannel	
		),
		CTE_csPromo AS (
			SELECT cs.brand, cs.subAccountId, subAccountDesc, subActivityType, activityDesc, subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure, SUM(remainingBudgetIncludeClosure) remainingBudgetIncludeClosure
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, channelId, urutStringChannel	
			FROM CTE_resDetail cs 
			--WHERE isSubTotal = 0
			WHERE (cs.ttRate <> 0 OR fyTtCostSubmitted<>0 OR returnedBalanceFromClosure <> 0) 
				AND isSubTotal = 0
			GROUP BY cs.brand, cs.subAccountId, subAccountDesc, subActivityType, activityDesc, subActivityDesc
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, channelId, cs.subAccountId, urutStringChannel	
		)
		, CTE_resDetailDisplay AS (
			SELECT  csSSV.brand, csSSV.channelId, csSSV.channelDesc, csSSV.subChannelDesc, csSSV.accountDesc, csSSV.subAccountId, csSSV.subAccountDesc, csSSV.fySs
				, ISNULL(subActivityType, '') subActivityType, ISNULL(activityDesc, '') activityDesc, ISNULL(subActivityDesc, '') subActivityDesc
				, ISNULL(ttRate, 0) ttRate, ISNULL(fyTtBudget, 0) fyTtBudget, ISNULL(fyTtCostSubmitted, 0) fyTtCostSubmitted
				, ISNULL(returnedBalanceFromClosure, 0) returnedBalanceFromClosure
				, ISNULL(fyTtBudget, 0) - ISNULL(fyTtCostSubmitted, 0) remainingBudgetIncludeClosure
				, ISNULL(dnClaim, 0) dnClaim, ISNULL(dnPaid, 0) dnPaid
				, csSSV.urutBrand, csSSV.urutString, csSSV.urutData, csSSV.tBrand, csSSV.tChannel, csSSV.tSubAccount, csSSV.tActivity, csSSV.isSubTotal	
				, csSSV.urutStringChannel
			FROM CTE_csSSV csSSV
			LEFT JOIN CTE_csPromo csPromo ON csssv.brand = csPromo.brand AND csSSV.subAccountId = csPromo.subAccountId
		)
/* end data for display */

		/* Result Data */
		INSERT INTO @tmpResult
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, channelId, subAccountId
			, urutStringChannel	
		--FROM CTE_resDetail
		FROM CTE_resDetailDisplay
		UNION ALL
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, channelId, subAccountId
			, urutStringChannel	
		FROM CTE_resDetail
		WHERE isSubTotal = 1
		UNION ALL
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, 0 channelId, 0 subAccountId
			, urutStringChannel
		FROM CTE_brandALL
		UNION ALL
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, 0 channelId, 0 subAccountId
			, urutStringChannel
		FROM CTE_brandALL_tBrand
		UNION ALL
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, channelId, subAccountId
			, urutStringChannel
		FROM CTE_brandALL_tChannel
		UNION ALL
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, channelId, subAccountId
			, urutStringChannel
		FROM CTE_brandALL_tSubAccount;
		----UNION ALL
		----SELECT 
		----	brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
		----	, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
		----	, 0 channelId, 0 subAccountId
		----	, urutStringChannel
		----FROM CTE_brandALL_tActivity
		;	

		/************************************
		** Update total fy Ss brand ALL **
		************************************/

		/* Update total fySs sub account */
		WITH CTE_ALL_tSubAccount AS (
			select subAccountId, SUM(fySs) fySs 
			FROM #tmpSSInput_brandSubAccount
			GROUP BY subAccountId
		)

		UPDATE cs
		SET cs.fySs = upd.fySs
		FROM @tmpResult cs
		INNER JOIN CTE_ALL_tSubAccount upd ON cs.subAccountId = upd.subAccountId
		WHERE brand = @brandAll AND (tSubAccount = 1 OR tActivity = 1)
		;		
		

		/* Update total fySs channel */
		WITH CTE_ALL_tChannel AS (
			SELECT ChannelId, SUM(fySs) fySs 
			FROM #tmpSSInput_brandSubAccount
			GROUP BY ChannelId
			--select ChannelId, SUM(fySs) fySs 
			--FROM #tmpSSInput_brandChannel
			--GROUP BY ChannelId
		)

		UPDATE cs
		SET cs.fySs = upd.fySs
		FROM @tmpResult cs
		INNER JOIN CTE_ALL_tChannel upd ON cs.channelId = upd.ChannelId
		WHERE brand = @brandAll and tChannel = 1
		;

		/* Update total fySs channel */
		DECLARE @tBrand_ALL_fySs FLOAT
		SELECT @tBrand_ALL_fySs = SUM(fySs) FROM #tmpSSInput_ALL 

		UPDATE @tmpResult SET fySs = @tBrand_ALL_fySs WHERE brand = @brandAll and tbrand = 1;

		/****************************************
		** End RC Update total fy Ss brand ALL **
		*****************************************/

	END
	ELSE
	BEGIN
		WITH CTE_resDetail AS (
			SELECT 
				brand, cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc, SUM(fySs) fySs
				, subActivityType, activityDesc, subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure, SUM(remainingBudgetIncludeClosure) remainingBudgetIncludeClosure
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal
				, urutStringChannel
			FROM @channelSummary cs
			INNER JOIN @categoryid_filter fltc ON cs.categoryid = fltc.keyid
			GROUP BY brand, urutStringChannel, channelid, channelDesc, subChannelDesc, accountDesc, subAccountId, subAccountDesc
				, subActivityType, activityDesc, subActivityDesc, urutBrand, urutString, urutData
				, tBrand, tChannel, tSubAccount, tActivity, isSubTotal		
		)
	/* Data for display */
		 ,CTE_csSSVDistinct AS (
			SELECT brand,cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc,  fySs
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, urutStringChannel	
			FROM CTE_resDetail cs 
			WHERE isSubTotal = 0
			GROUP BY brand,cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc,  fySs
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, channelId, urutStringChannel	

		),
		CTE_csSSV AS (
			SELECT cs.brand, cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc, SUM(fySs) fySs
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, urutStringChannel	
			FROM CTE_csSSVDistinct cs 
			GROUP BY cs.brand, cs.channelId, channelDesc, subChannelDesc, accountDesc, cs.subAccountId, subAccountDesc
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, urutStringChannel	
		),
		CTE_csPromo AS (
			SELECT cs.brand, cs.subAccountId, subAccountDesc, subActivityType, activityDesc, subActivityDesc
				, SUM(ttRate) ttRate, SUM(fyTtBudget) fyTtBudget, SUM(fyTtCostSubmitted) fyTtCostSubmitted
				, SUM(returnedBalanceFromClosure) returnedBalanceFromClosure, SUM(remainingBudgetIncludeClosure) remainingBudgetIncludeClosure
				, SUM(dnClaim) dnClaim, SUM(dnPaid) dnPaid
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, channelId, urutStringChannel	
			FROM CTE_resDetail cs 
			--WHERE isSubTotal = 0
			WHERE (cs.ttRate <> 0 OR fyTtCostSubmitted<>0 OR returnedBalanceFromClosure <> 0) 
				AND isSubTotal = 0
			GROUP BY cs.brand, cs.subAccountId, subAccountDesc, subActivityType, activityDesc, subActivityDesc
				, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
				, channelId, cs.subAccountId, urutStringChannel	
		)
		, CTE_resDetailDisplay AS (
			SELECT  csSSV.brand, csSSV.channelId, csSSV.channelDesc, csSSV.subChannelDesc, csSSV.accountDesc, csSSV.subAccountId, csSSV.subAccountDesc, csSSV.fySs
				, ISNULL(subActivityType, '') subActivityType, ISNULL(activityDesc, '') activityDesc, ISNULL(subActivityDesc, '') subActivityDesc
				, ISNULL(ttRate, 0) ttRate, ISNULL(fyTtBudget, 0) fyTtBudget, ISNULL(fyTtCostSubmitted, 0) fyTtCostSubmitted
				, ISNULL(returnedBalanceFromClosure, 0) returnedBalanceFromClosure
				, ISNULL(fyTtBudget, 0) - ISNULL(fyTtCostSubmitted, 0) remainingBudgetIncludeClosure
				, ISNULL(dnClaim, 0) dnClaim, ISNULL(dnPaid, 0) dnPaid
				, csSSV.urutBrand, csSSV.urutString, csSSV.urutData, csSSV.tBrand, csSSV.tChannel, csSSV.tSubAccount, csSSV.tActivity, csSSV.isSubTotal	
				, csSSV.urutStringChannel
			FROM CTE_csSSV csSSV
			LEFT JOIN CTE_csPromo csPromo ON csssv.brand = csPromo.brand AND csSSV.subAccountId = csPromo.subAccountId
		)
/* end data for display */
	

		/* Result Data */
		INSERT INTO @tmpResult
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, 0 channelId, 0 subAccountId
			, urutStringChannel
		--FROM CTE_resDetail
		FROM CTE_resDetailDisplay
		UNION ALL
		SELECT 
			brand, channelDesc, subChannelDesc, accountDesc, subAccountDesc, fySs
			, subActivityType, activityDesc, subActivityDesc, ttRate, fyTtBudget, fyTtCostSubmitted
			, returnedBalanceFromClosure, remainingBudgetIncludeClosure, dnClaim, dnPaid, urutBrand, urutString, urutData, tBrand, tChannel, tSubAccount, tActivity, isSubTotal	
			, 0 channelId, 0 subAccountId
			, urutStringChannel
		FROM CTE_resDetail
		WHERE isSubTotal = 1
	END


/*PAGINATION*/
	IF @length = -1
		BEGIN
			IF @txtSearch is null
				BEGIN
					SELECT * FROM @tmpResult
					ORDER BY urutBrand, brand, urutStringChannel, urutString desc, urutData
				END
			ELSE
				BEGIN
					SELECT * FROM @tmpResult
						WHERE
							(ISNULL(channelDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
							(ISNULL(subChannelDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
							(ISNULL(accountDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
							(ISNULL(subAccountDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
							(ISNULL(subactivitydesc,'') like '%' + isnull(@txtSearch, '') + '%')
						ORDER BY urutBrand, brand, urutStringChannel, urutString desc, urutData
				END
		END
	ELSE
		BEGIN
			IF @txtSearch is null
				BEGIN
					SELECT * FROM @tmpResult
					ORDER BY urutBrand, brand, urutStringChannel, urutString desc, urutData OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
				END
			ELSE
				BEGIN
					SELECT * FROM @tmpResult
					WHERE
						(ISNULL(channelDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(subChannelDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(accountDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(subAccountDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
						(ISNULL(subactivitydesc,'') like '%' + isnull(@txtSearch, '') + '%')
					ORDER BY urutBrand, brand, urutStringChannel, urutString desc, urutData OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
				END
		END
		SET @recordsFiltered = (SELECT ISNULL(count(urutData),0) FROM @tmpResult
		WHERE
			(ISNULL(channelDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(subChannelDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(accountDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(subAccountDesc,'') like '%' + isnull(@txtSearch, '') + '%') OR
			(ISNULL(subactivitydesc,'') like '%' + isnull(@txtSearch, '') + '%')
		)

		SELECT ISNULL(count(urutData),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM @tmpResult
/*PAGINATION*/

/*filter brand*/
	IF @tFilterBrand > 1
	BEGIN
		SELECT @brandAll brand
		UNION ALL
		SELECT a.LongDesc brand FROM tbmst_brand_group a
		INNER JOIN @groupbrandid_filter b ON a.id = b.keyid
	END 
	ELSE
	BEGIN
		SELECT a.LongDesc brand FROM tbmst_brand_group a
		INNER JOIN @groupbrandid_filter b ON a.id = b.keyid
	END

	/* drop table temporary */
	DROP TABLE IF EXISTS #mstdata
	DROP TABLE IF EXISTS #mstdataDC
	DROP TABLE IF EXISTS #tmpSSV
	DROP TABLE IF EXISTS #tmpTT
	DROP TABLE IF EXISTS #tmpBudget
	DROP TABLE IF EXISTS #tmpPromo
	DROP TABLE IF EXISTS #tmpBudgetPromo
	DROP TABLE IF EXISTS #tmpDetailRC;

	DROP TABLE IF EXISTS #tmpPSV
	DROP TABLE IF EXISTS #tmpTTDC
	DROP TABLE IF EXISTS #tmpBudgetDC;
	DROP TABLE IF EXISTS #tmpPromoDC
	DROP TABLE IF EXISTS #tmpResult
	
END
GO
