USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_close]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_list_close] --0,0,0,'1900-01-01','9999-01-31',0,'kamsat'
--DECLARE
@entity int
,@distributor int
,@channel int
--,@closure_status int
,@start_from date
,@start_to date
,@remaining_budget numeric(19,2)
,@userid varchar(50)

--SET @entity = 0
--SET @distributor =0
--SET @channel = 0
--SET @closure_status = 0
--SET @start_from='2019-08-01'
--SET @start_to='2019-12-01'
--SET @remaining_budget='scsh1'
--SET @userid='scsh1'

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

declare @endofmonth date,@closingdtx date;
--set @closingdtx=(select convert(date,@closingdt,120))
set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

--DECLARE @temp_balance AS TABLE(
--	AllocationId int NOT NULL,
--	SubCategoryId int NOT NULL,
--	InitialAmount numeric(18,0) NOT NULL,
--	ReserveAmount numeric(18,0) NOT NULL,
--	UseAmount numeric(18,0) NOT NULL,
--	RemainingAmount numeric(20,0) NULL,
--	CreateOn datetime NOT NULL,
--	CreateBy varchar(36) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
--	ModifiedOn datetime NULL,
--	ModifiedBy varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
--)
DROP TABLE IF EXISTS #temp_promo_dn;

    SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
    into #temp_promo_dn
    FROM tbtrx_debetnote a with (nolock)
    INNER JOIN tbtrx_promo pr with (nolock) on a.PromoId=pr.Id
    inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
    inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id --AND c.Periode=@periode
--			inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
    AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
    AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
    AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
    AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
    AND isnull(a.IsCancel, 0) = 0
    AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
    GROUP BY a.PromoId

DECLARE @temp_promo AS TABLE(
	promoId int NOT NULL,
	TotalClaim numeric(18,0),
	TotalPaid numeric(18,0),
	LastDNCreationDate date
)

IF @remaining_budget=0
BEGIN
		INSERT INTO @temp_promo
		SELECT pr.id, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate FROM tbtrx_promo pr
		LEFT JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
-- 		(
-- 			SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
-- 			FROM tbtrx_debetnote a
-- 			INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
-- 			inner join tbtrx_allocation c on pr.AllocationId=c.Id
-- 			inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
-- --			inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
-- 			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
-- 			AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
-- 			AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 			AND isnull(a.IsCancel, 0) = 0
-- 			AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
-- 			GROUP BY a.PromoId
-- 		) dn on pr.Id=dn.PromoId
		WHERE isnull(pr.IsCancel, 0) = 0
END

IF @remaining_budget=1
BEGIN
--	INSERT INTO @temp_balance SELECT * FROM tbtrx_allocation_balance
--		WHERE isnull(RemainingAmount, 0) BETWEEN 0 AND 10000000
	INSERT INTO @temp_promo
		SELECT pr.id, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate FROM tbtrx_promo pr
		LEFT JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
-- 		(
-- 			SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
-- 			FROM tbtrx_debetnote a
-- 			INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
-- 			inner join tbtrx_allocation c on pr.AllocationId=c.Id
-- 			inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
-- --			inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
-- 			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
-- 			AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
-- 			AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 			AND isnull(a.IsCancel, 0) = 0
-- 			AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
-- 			GROUP BY a.PromoId
-- 		) dn on pr.Id=dn.PromoId
		WHERE pr.Investment-isnull(dn.TotalPaid, 0) BETWEEN 0 AND 10000000 and isnull(pr.IsCancel, 0) = 0
END
ELSE
BEGIN
	IF @remaining_budget=2
	BEGIN
--		INSERT INTO @temp_balance SELECT * FROM tbtrx_allocation_balance
--			WHERE isnull(RemainingAmount, 0) BETWEEN 10000001 AND 100000000
		INSERT INTO @temp_promo
			SELECT pr.id, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate FROM tbtrx_promo pr
			LEFT JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
-- 			(
-- 				SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
-- 				FROM tbtrx_debetnote a
-- 				INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
-- 				inner join tbtrx_allocation c on pr.AllocationId=c.Id
-- 				inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
-- --				inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
-- 				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
-- 				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
-- 				AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 				AND isnull(a.IsCancel, 0) = 0
-- 				AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
-- 				GROUP BY a.PromoId
-- 			) dn on pr.Id=dn.PromoId
			WHERE pr.Investment-isnull(dn.TotalPaid, 0) BETWEEN 10000001 AND 100000000 and isnull(pr.IsCancel, 0) = 0

	END
	ELSE
	BEGIN
		IF @remaining_budget=3
		BEGIN
--			INSERT INTO @temp_balance SELECT * FROM tbtrx_allocation_balance
--				WHERE isnull(RemainingAmount, 0) BETWEEN 100000001 AND 500000000
			INSERT INTO @temp_promo
				SELECT pr.id, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate FROM tbtrx_promo pr
				LEFT JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
-- 				(
-- 					SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
-- 					FROM tbtrx_debetnote a
-- 					INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
-- 					inner join tbtrx_allocation c on pr.AllocationId=c.Id
-- 					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
-- --					inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
-- 					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
-- 					AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
-- 					AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 					AND isnull(a.IsCancel, 0) = 0
-- 					AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
-- 					GROUP BY a.PromoId
-- 				) dn on pr.Id=dn.PromoId
				WHERE pr.Investment-isnull(dn.TotalPaid, 0) BETWEEN 100000001 AND 500000000 and isnull(pr.IsCancel, 0) = 0
		END
		ELSE
		BEGIN
			IF @remaining_budget=4
			BEGIN
--				INSERT INTO @temp_balance SELECT * FROM tbtrx_allocation_balance
--					WHERE isnull(RemainingAmount, 0) BETWEEN 500000001 AND 1000000000
				INSERT INTO @temp_promo
					SELECT pr.id, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate FROM tbtrx_promo pr
					LEFT JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
-- 					(
-- 						SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
-- 						FROM tbtrx_debetnote a
-- 						INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
-- 						inner join tbtrx_allocation c on pr.AllocationId=c.Id
-- 						inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
-- --						inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 						AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
-- 						AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
-- 						AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
-- 						AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 						AND isnull(a.IsCancel, 0) = 0
-- 						AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
-- 						GROUP BY a.PromoId
-- 					) dn on pr.Id=dn.PromoId
					WHERE pr.Investment-isnull(dn.TotalPaid, 0) BETWEEN 500000001 AND 1000000000 and isnull(pr.IsCancel, 0) = 0

			END
			ELSE
			BEGIN
				IF @remaining_budget=5
				BEGIN
--					INSERT INTO @temp_balance SELECT * FROM tbtrx_allocation_balance
--						WHERE isnull(RemainingAmount, 0)>1000000000
					INSERT INTO @temp_promo
						SELECT pr.id, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate FROM tbtrx_promo pr
						LEFT JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
-- 						(
-- 							SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
-- 							FROM tbtrx_debetnote a
-- 							INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
-- 							inner join tbtrx_allocation c on pr.AllocationId=c.Id
-- 							inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
-- --							inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 							AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
-- 							AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
-- 							AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
-- 							AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 							AND isnull(a.IsCancel, 0) = 0
-- 							AND a.LastStatus IN ('received_by_danone', 'validate_by_sales', 'validate_by_finance', 'ready_to_invoice', 'invoice', 'confirm_paid')
-- 							GROUP BY a.PromoId
-- 						) dn on pr.Id=dn.PromoId
						WHERE pr.Investment-isnull(dn.TotalPaid, 0) >1000000000 and isnull(pr.IsCancel, 0) = 0

				END

			END
		END
	END
END
DROP TABLE IF EXISTS #temp_promo_dn;

DECLARE @Temp TABLE
	(
	  BudgetParent int,
	  Levels int,
	  BudgetId int
	)
	;

				SELECT
				pr.Id PromoId
				,pr.RefId [PromoNumber]
				,p.LongDesc Entity
				,d.LongDesc Distributor
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,pr.StartPromo
				,pr.EndPromo
				,channel.ChannelDesc
				,subchannel.SubChannelDesc
				,account.AccountDesc
				,subaccount.SubAccountDesc
				,brand.BrandDesc
				,sctg.LongDesc [SubCategory]
				,pr.ActivityDesc
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + pr.ApproverName)) PromoStatus
        		,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) PromoStatusDate
				,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
				,pr.Investment
				,isnull(dn.TotalPaid, 0) as DNPaid
				,isnull(dn.TotalClaim, 0) as DNClaim
				,datediff(day, pr.EndPromo, @utcDate123 ) as aging
				,dn.LastDNCreationDate
				,pr.Investment-isnull(dn.TotalPaid, 0) as RemainingInvestment_DN
				,isnull(pr.IsClose, 0) as ClosureStatus
				,isnull(b.RemainingAmount, 0) RemainingBudget
				,pr.CloseBy
				,pr.CloseOn
				FROM tbtrx_promo pr with (nolock)
				INNER JOIN @temp_promo dn on pr.id=dn.promoId
		        inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
		        INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover				
				INNER JOIN tbtrx_promo_channel tpc on pr.id=tpc.PromoId
--				inner join @temp_balance b on pr.AllocationId=b.AllocationId and pr.SubCategoryId=b.SubCategoryId
				inner join tbtrx_allocation_balance b with (nolock) on pr.AllocationId=b.AllocationId and pr.SubCategoryId=b.SubCategoryId
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
--				inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
-- 				left join tbset_user uo on uo.Id=pr.CancelBy
-- 				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc
										from tbtrx_promo_channel a with (nolock)
										join tbmst_channel chn with (nolock)
										ON a.ChannelId=chn.Id and a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) channel
						on pr.Id = channel.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + subchn.LongDesc
										from tbtrx_promo_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_subchannel b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) subchannel
						on pr.Id = subchannel.PromoId
-- 				inner join
-- 						(
-- 							select PromoId,
-- 							STUFF(
-- 									(select  ',' + reg.LongDesc
-- 										from tbtrx_promo_region a with (nolock)
-- 										join tbmst_region reg with (nolock)
-- 										ON a.RegionId=reg.Id AND a.PromoId=b.PromoId
-- 										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
-- 								FROM tbtrx_promo_region b INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
-- 						) region
-- 						on pr.Id = region.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc
										from tbtrx_promo_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_account b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
						) account
						on pr.Id = account.PromoId
				inner join
						(
							select PromoId,
							STUFF(
									(select  ',' + chn.LongDesc
										from tbtrx_promo_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id AND a.PromoId=b.PromoId
										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId GROUP BY PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
-- 				inner join
-- 						(
-- 							select PromoId,
-- 							STUFF(
-- 									(select  ',' + brd.LongDesc
-- 										from tbtrx_promo_brand a with (nolock)
-- 										join tbmst_brand brd with (nolock)
-- 										ON a.brandid=brd.Id AND a.PromoId=b.PromoId
-- 										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
-- 								FROM tbtrx_promo_brand b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
-- 						) brand
-- 						on pr.Id = brand.PromoId
-- 				inner join
-- 						(
-- 							select PromoId,
-- 							STUFF(
-- 									(select  ',' + sku.LongDesc
-- 										from tbtrx_promo_product a with (nolock)
-- 										join tbmst_product sku with (nolock)
-- 										ON a.productid=sku.Id AND a.PromoId=b.PromoId
-- 										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
-- 								FROM tbtrx_promo_product b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
-- 						) sku
-- 						on pr.Id = sku.PromoId
                inner join tbhlp_promo_region region on pr.Id = region.PromoId
                inner join tbhlp_promo_brand brand on pr.Id = brand.PromoId
                inner join tbhlp_promo_product sku on pr.Id = sku.PromoId

--				left join
--				(
--					SELECT a.PromoId,SUM(DPP) TotalClaim,SUM(TotalPaid)  TotalPaid, max(a.CreateOn) LastDNCreationDate
--					FROM tbtrx_debetnote a
--					INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
--					inner join tbtrx_allocation c on pr.AllocationId=c.Id
--					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id --AND c.Periode=@periode
--					inner join tbtrx_allocation_useraccess usr ON usr.UserId=@userid AND usr.AllocationId=pr.AllocationId
--					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
--					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
--					AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
----					AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
--					AND isnull(a.IsCancel, 0) = 0
--					GROUP BY a.PromoId
--				) dn on pr.Id=dn.PromoId
--				LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
-- 				WHERE pr.StatusApprovalCode='TP2'
--				AND isnull(pr.IsClose,0)=0
--				AND c.Periode=@periode
--				AND NOT EXISTS (
--					SELECT PromoId
--					FROM tbtrx_debetnote dn with (nolock)
--					WHERE dn.PromoId=pr.Id
--					and isnull(dn.IsCancel,0)=0
--					and dn.LastStatus <> 'confirm_paid')
-- 				AND NOT EXISTS(
-- 					SELECT Id FROM
-- 					[dbo].[tbtrx_promo_request_approval_recon] a
-- 					INNER JOIN [dbo].[tbtrx_promo_approval_recon] b on a.Id=b.RequestId
-- 					WHERE isnull(a.IsCancel,0)=0 AND b.[Status] <> 'TP2' AND pr.Id=a.ParentId
-- 				)
				WHERE IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
-- /*LUK 200818*/				AND EXISTS(SELECT promoid FROM tbtrx_promo_channel WHERE pr.id=promoid and IIF(@channel=0,'',channelid) =IIF(@channel=0,'',@channel))
--				AND IIF(@channel=0,'',m.DistributorId) =IIF(@channel=0,'',@channel)
--				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--				AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))

END
GO
