USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_select_display_dc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_promo_select_display_dc] 
	@Id				INT
AS

--DECLARE
--	@Id				INT

--SET @Id				=3681

BEGIN
	SET NOCOUNT ON;
	DECLARE @tmpPromoId arrayinttype
	delete from @tmpPromoId
	insert into @tmpPromoId select id from tbtrx_promo where Id=@Id

	IF (SELECT Period FROM tbtrx_promo a  WHERE a.Id=@Id) >=2025
		BEGIN
			SELECT 
				0 PromoPlanId
				,pr.RefId
				,pr.Id
				,'---' PromoPlanRefId
				,pr.CreateOn
				,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
				,pr.CreateBy
				,'---' ActivityDesc
				,IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(dn.TotalPaid, 0)) Investment --issue #839
				,ISNULL(pr_calc_prev.Cost,0) PrevInvestment
				,0 NormalSales
				,0 PrevNormalSales
				,0 IncrSales
				,0 PrevIncrSales
				--,0 PrevTotSales
				--,0 Roi
				,pr_calc_prev.TotalSales PrevTotSales
				,round((prc.TotalSales - prc.Cost) / prc.Cost * 100, 0) Roi
				--,0 PrevRoi
				,round((pr_calc_prev.TotalSales - pr_calc_prev.Cost) / pr_calc_prev.Cost * 100, 0) PrevRoi
				,prc.CR CostRatio
				--,0 PrevCostRatio
				,pr_calc_prev.CR PrevCostRatio
				,pr.Mechanisme1
				,pr.Mechanisme2
				,pr.Mechanisme3
				,pr.Mechanisme4
				,pr.StartPromo
				,pr.EndPromo
				,pr.AllocationId
				,pr.Period
				,'---' AllocationRefId
				,'---' BudgetType
				,pr.DistributorId
				,dd.LongDesc DistributorName
				,pr.entityid PrincipalId
				,Pp.LongDesc PrincipalName
				,Pp.ShortDesc principalShortDesc
				,0 OwnerId
				,'' BudgetOwner
				,'' FromOwnerId
				,'' FromOwnerName
				,0 BudgetMasterId
				,pr.categoryID CategoryId
				,pr.SubCategoryId
				,pr.ActivityId
				,'---' as ActivityLongDesc
				,pr.SubactivityId
				,ts.LongDesc as SubActivityLongDesc
				,ctg.LongDesc CategoryDesc
				,0 BudgetSourceId
				,0 BudgetAmount
				,0 RemainingBudget
				,'' AllocationDesc
				,'' ShortDesc
				,pr.StatusApproval
				,1 IsActive
				,0 IsLocked
				,left(appr1.username, 15) UserApprover1
				,LastStatus1
				,ApprovalDate1
				,left(appr2.username, 15) UserApprover2
				,LastStatus2
				,ApprovalDate2
				,left(appr3.username, 15) UserApprover3
				,LastStatus3
				,ApprovalDate3
				,left(appr4.username, 15) UserApprover4
				,LastStatus4
				,ApprovalDate4
				,left(appr5.username, 15) UserApprover5
				,LastStatus5
				,ApprovalDate5
				,attr.RegionDesc
				,attr.ChannelDesc
				,attr.AccountDesc
				,attr.BrandDesc
				,attr.ProductDesc
				,attr.GroupBrandDesc
				,getdate() + 90 CutOffClaim
				,isnull(CancelReason,'') CancelReason
				,pr.Notes
				,pr.ApprovalNotes
				,pr.TsCoding
				,pr.IsClose
				,0 PlanInvestment
				,0 PlanNormalSales
				,0 PlanIncrSales
				,0 PlanTotSales
				,0 PlanRoi
				,0 PlanCostRatio
				,'' prevMechanisme1
				,'' prevMechanisme2
				,'' prevMechanisme3
				,'' prevMechanisme4
				,pr.initiator_notes
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
				,pr.Approver userid_Approver
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
				,pr.InvestmentTypeId 
				,tit.RefId InvestmentTypeRefId
				,tit.LongDesc InvestmentTypeDesc
				,pr.late_submission_day
				,sctg.LongDesc SubCategoryDesc
				,pr.LastStatus
				,CONCAT(pr.CreateBy,' - ', ucreateby.username) Initiator -- for Prod
				,pr.investment investmentBfrClose --issue #839
				,iif(isnull(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance --issue #839			    
				,pr.ModifReason
				,pr.StatusApprovalCode
				,isnull(pr.isCancel, 0) isCancel
				,pr.IsCancelLocked
				,prc.TotalSales totSales
		FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON tpr.keyid=pr.Id
			INNER JOIN tbtrx_promo_calculator prc ON prc.PromoId=pr.Id
			INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
			INNER JOIN tbmst_activity ta WITH (NOLOCK) on ts.ActivityId = ta.Id
			LEFT  JOIN tbmst_distributor dd WITH (NOLOCK) on pr.DistributorId=dd.Id
			LEFT  JOIN tbmst_principal pp WITH (NOLOCK) on pr.EntityId=pp.Id
			inner join tbset_user ucreateby WITH (NOLOCK) ON pr.createby = ucreateby.id -- for Prod
			inner join tbmst_subcategory sctg WITH (NOLOCK) on ta.SubCategoryId = sctg.id 
			inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=sctg.CategoryId 
			left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
			left join (
				select p.Id PromoId
					,channel.ChannelDesc
					,account.AccountDesc 
					,region.RegionDesc
					,brand.BrandDesc
					,product.ProductDesc
					,groupbrand.GroupBrandDesc
					from @tmpPromoId tpr
					INNER JOIN tbtrx_promo p ON tpr.keyid=p.Id
					left join
								(
									select PromoId,
									STUFF(
											(select  ', ' + chn.LongDesc 
												from tbtrx_promo_channel a
												join tbmst_channel chn
												ON a.ChannelId=chn.Id
												where a.PromoId=b.PromoId
												FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
										FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
								) channel
								on p.Id = channel.PromoId
					left join
								(
									select PromoId,
									STUFF(
											(select  ', ' + chn.LongDesc 
												from tbtrx_promo_account a
												join tbmst_account chn
												ON a.AccountId=chn.Id
												where a.PromoId=b.PromoId
												FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
										FROM tbtrx_promo_account b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
								) account
								on p.Id = account.PromoId
					left join
								(
									select PromoId,
									STUFF(
											(select  ', ' + chn.LongDesc 
												from tbtrx_promo_region a
												join tbmst_region chn
												ON a.RegionId=chn.Id
												where a.PromoId=b.PromoId
												FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
										FROM tbtrx_promo_region b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
								) region
								on p.Id = region.PromoId
					left join
					(
						select PromoId,
						STUFF(
								(select  ', ' + chn.LongDesc 
									from tbtrx_promo_brand a
									join tbmst_brand chn
									ON a.BrandId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
							FROM tbtrx_promo_brand b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
					) brand
					on p.Id = brand.PromoId

					left join
					(
						select PromoId,
						STUFF(
								(select  ', ' + chn.LongDesc 
									from tbtrx_promo_product a
									join tbmst_product chn
									ON a.ProductId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ProductDesc
							FROM tbtrx_promo_product b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
					) product
					on p.Id = product.PromoId

					left join 
					(
						SELECT brandGroupPromoId, STRING_AGG(groupbrand.LongDesc,', ') GroupBrandDesc
						FROM (
							SELECT distinct 
								b.PromoId brandGroupPromoId, a.longDesc
							FROM tbmst_brand_group a
							INNER JOIN 
							(
								select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
								INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId
							) b on a.Id=b.BrandGroupId
						) groupbrand GROUP BY brandGroupPromoId
					) groupbrand on p.id= groupbrand.brandGroupPromoId

			)attr on pr.Id=attr.PromoId
			left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
			left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
			left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
			left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
			left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
			left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
			LEFT JOIN
			(
				select a.* from 
					(
					select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
					where StatusApprovalCode = 'TP1' and id=@Id
					group by id
					) b 
					inner join tbhis_promo a on a.parentid=b.parentid
			) PREV ON pr.id=PREV.id
			left join (
				select id, min(parentid) parentid
				from tbhis_promo
				where isnull(reconciled, 0) = 1
				group by id
			) his_promo on pr.id = his_promo.id
			left join tbhis_promo_calculator pr_calc_prev on his_promo.parentid = pr_calc_prev.parentid and his_promo.id = pr_calc_prev.PromoId
			left join (
				SELECT 
					a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp))  TotalClaim
	    			,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) TotalPaid	    
				FROM tbtrx_debetnote a 
				WHERE a.PromoId=@Id AND isnull(a.IsCancel, 0) = 0 AND isnull(a.IsDNPromo,0)=1
				GROUP BY a.PromoId
			) dn on pr.id=dn.promoid
			left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 

		/*REGION*****************/
			SELECT
			1 as flag
			, @Id as RegionPromoId
			, 0 as id
			, '---' as longDesc
		/*CHANNEL*****************/
			SELECT 
				CASE WHEN b.PromoId is null THEN 0 ELSE 1 END as flag,
				b.PromoId as ChannelPromoId, a.Id as id, a.LongDesc as longDesc
			FROM [dbo].[tbmst_channel]  a 
			LEFT JOIN tbtrx_promo_channel b ON a.id=b.ChannelId AND b.PromoId=@Id
		/*SUB CHANNEL*****************/
			SELECT
				1 as flag
				, @Id as SubChannelPromoId
				, 0 as id
				, '---' as longDesc
		/*ACCOUNT*****************/
		SELECT
			1 as flag
			, @Id as AccountPromoId
			, 0 as id
			, '---' as longDesc
		/*SUB ACCOUNT*****************/	
		SELECT
			1 as flag
			, @Id as SubAccountPromoId
			, 0 as id
			, '---' as longDesc				
		/*BRAND*****************/	
		SELECT
			CASE WHEN b.id is null THEN 0 ELSE 1 END as flag,
			b.id as ProductPromoId, a.Id as id, a.LongDesc as longDesc
			FROM [dbo].[tbmst_brand] a
			LEFT JOIN  tbtrx_promo b ON a.BrandGroupId=b.GroupBrandId AND b.Id=@Id		
		/*SKU*****************/	
		SELECT
			1 as flag
			, @Id as ProductPromoId
			, 0 as id
			, '---' as longDesc				
		/*ACTIVITY*****************/
		SELECT DISTINCT
			0 AS ActivityAllocId
			,ctg.ActivityId AS id
			,ctg.ActivityDesc AS longDesc
			FROM vw_activity ctg 
			WHERE ctg.ActivityId is not null
		/*****************/

		/*SUB ACTIVITY*****************/
		SELECT
			0 AS SubActivityAllocId
			,ctg.SubActivityId AS id
			,ctg.SubActivityDesc AS longDesc
			FROM vw_activity ctg 
			--WHERE ctg.SubActivityId is not null
		/*File attach*****************/
		SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK)  where PromoId=@Id order by DocLink
		/*MASTER STATUS APPROVAL***************/
		SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		/*MECHANISM***************/
		SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
		  FROM [dbo].tbtrx_promo_mechanism tppm 
		  WHERE promoid =@Id
		 /*INVESTMENT***************/
		SELECT TotInvest Investment
			,NormalSales
			,IncrSales
			,TotSales
			,ROUND((ISNULL(IncrSales,0)-TotInvest)/TotInvest,2) Roi
			,CostRatio
			from tbtrx_promo_request_approval WITH (NOLOCK)
			where ParentId =@Id
			ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
		 /*Group Brand ***************/
		SELECT distinct 
			CASE WHEN B.id is null THEN 0 ELSE 1 END as flag,
			b.id brandGroupPromoId, a.id, a.longDesc, b.GroupBrandId brandGroupId
		FROM tbmst_brand_group a
		LEFT JOIN tbtrx_promo b on a.Id=b.GroupBrandId and b.Id=@Id
	END
	ELSE
		BEGIN

			DECLARE @ALO AS TABLE(
				PromoId INT NULL,
				AllocationId INT NULL
			)

			INSERT INTO @ALO(PromoId,AllocationId)
				SELECT p.Id,a.Id
				FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
				INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
				WHERE 
					ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0
					AND p.Id=@Id
					--AND (ISNULL(@Id,0)=0 OR p.Id=@Id)

			--INSERT INTO @ALO(PromoId,AllocationId)
			--	SELECT p.Id,0
			--	FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
			--	WHERE 
			--		ISNULL(p.IsDelete,0)=0
			--		AND p.Id=@Id

		/*******************************/
			DECLARE @Alloc_ID INT
			set @Alloc_ID= (select allocationid from @ALO where promoid=@id)
			exec ip_recalculate_balance_by_id @alloc_id

		/*******************************/
			SELECT
				0 PromoPlanId
				,pr.RefId
				,pr.Id
				,'---' PromoPlanRefId
				,pr.CreateOn
				,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
				,pr.CreateBy
				,'---' ActivityDesc
				,IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(dn.TotalPaid, 0)) Investment --issue #839
				,PREV.Investment PrevInvestment
				,cast(format(0,'#') as bigint) NormalSales
				,cast(format(0,'#') as bigint) PrevNormalSales
				,0 IncrSales
				,0 PrevIncrSales
				,0 PrevTotSales
				,0 Roi
				,0 PrevRoi
				,0 CostRatio
				,0 PrevCostRatio
				,pr.Mechanisme1
				,pr.Mechanisme2
				,pr.Mechanisme3
				,pr.Mechanisme4
				,pr.StartPromo
				,pr.EndPromo
				,ALLOC.Id AllocationId
				,ALLOC.Periode
				,ALLOC.RefId AllocationRefId
				,ALLOC.BudgetType
				,ALLOC.DistributorId
				,d.LongDesc DistributorName
				,IIF(pr.Period>=2025, pr.entityid, m.PrincipalId)PrincipalId
				,IIF(pr.Period>=2025, Pp.LongDesc, p.LongDesc) PrincipalName
				,IIF(pr.Period>=2025, Pp.ShortDesc, p.ShortDesc) principalShortDesc
				,ALLOC.OwnerId
				,uo.username BudgetOwner
				,ALLOC.FromOwnerId
				,uf.username FromOwnerName
				,ALLOC.BudgetMasterId
				,IIF(pr.Period>=2025,pr.categoryID, m.CategoryId) CategoryId
				,pr.SubCategoryId
				,pr.ActivityId
				,'---' as ActivityLongDesc
				,pr.SubactivityId
				,ts.LongDesc as SubActivityLongDesc
				,ctg.LongDesc CategoryDesc
				,ALLOC.BudgetSourceId
				,ALLOC.BudgetAmount
				,bal.remainingamount as RemainingBudget
				,ALLOC.LongDesc AllocationDesc
				,ALLOC.ShortDesc
				,ALLOC.StatusApproval
				,ALLOC.IsActive
				,ALLOC.IsLocked
				,left(appr1.username, 15) UserApprover1
				,LastStatus1
				,ApprovalDate1
				,left(appr2.username, 15) UserApprover2
				,LastStatus2
				,ApprovalDate2
				,left(appr3.username, 15) UserApprover3
				,LastStatus3
				,ApprovalDate3
				,left(appr4.username, 15) UserApprover4
				,LastStatus4
				,ApprovalDate4
				,left(appr5.username, 15) UserApprover5
				,LastStatus5
				,ApprovalDate5
				,attr.RegionDesc
				,attr.ChannelDesc
				,attr.AccountDesc
				,attr.BrandDesc
				,attr.ProductDesc
				,attr.GroupBrandDesc
				,getdate() + 90 CutOffClaim
				,isnull(CancelReason,'') CancelReason
				,pr.Notes
				,pr.ApprovalNotes
				,pr.TsCoding
				,pr.IsClose
				,0 PlanInvestment
				,0 PlanNormalSales
				,0 PlanIncrSales
				,0 PlanTotSales
				,0 PlanRoi
				,0 PlanCostRatio
				,'' prevMechanisme1
				,'' prevMechanisme2
				,'' prevMechanisme3
				,'' prevMechanisme4
				,pr.initiator_notes
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
				,pr.Approver userid_Approver
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
				,pr.InvestmentTypeId 
				,tit.RefId InvestmentTypeRefId
				,tit.LongDesc InvestmentTypeDesc
				,pr.late_submission_day
				,sctg.LongDesc SubCategoryDesc
				,pr.LastStatus
				,CONCAT(pr.CreateBy,' - ', ucreateby.username) Initiator -- for Prod
				,pr.investment investmentBfrClose --issue #839
				,iif(isnull(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance --issue #839			    
				,pr.ModifReason
				,pr.StatusApprovalCode
				,isnull(pr.isCancel, 0) isCancel
				,pr.IsCancelLocked
				,pr.NormalSales+pr.IncrSales totSales
			FROM tbtrx_promo pr	WITH (NOLOCK)
			LEFT join [dbo].[tbtrx_allocation] AS ALLOC WITH (NOLOCK) on ALLOC.Id=pr.AllocationId AND ISNULL(ALLOC.IsDelete,0)=0
			LEFT join tbtrx_allocation_balance as bal WITH (NOLOCK) on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
			LEFT join tbtrx_budgetmaster m WITH (NOLOCK) on ALLOC.BudgetMasterId=m.Id
			INNER JOIN tbmst_activity ta WITH (NOLOCK) on pr.ActivityId = ta.Id
			INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
			LEFT  JOIN tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
			LEFT  JOIN tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
			LEFT  JOIN tbmst_distributor dd WITH (NOLOCK) on pr.DistributorId=d.Id
			LEFT  JOIN tbmst_principal pp WITH (NOLOCK) on pr.EntityId=p.Id
			LEFT join tbset_user uo WITH (NOLOCK) on uo.Id=ALLOC.OwnerId
			LEFT join tbset_user uf WITH (NOLOCK) on uf.Id=ALLOC.FromOwnerId
			inner join tbset_user ucreateby WITH (NOLOCK) ON pr.createby = ucreateby.id -- for Prod
			inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=pr.CategoryId 
			inner join tbmst_subcategory sctg WITH (NOLOCK) on pr.SubCategoryId = sctg.id 
			left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
			left join vw_promo_attribute attr WITH (NOLOCK) on pr.Id=attr.PromoId
			left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
			left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
			left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
			left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
			left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
			left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
			LEFT JOIN
			(
				select a.* from tbhis_promo a WITH (NOLOCK)
				inner join
				(
				select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
				where StatusApprovalCode = 'TP1' and id=@Id
				group by id
				) b on a.parentid=b.parentid
			) PREV ON pr.id=PREV.id
			left join (
				SELECT 
					a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) TotalClaim
	    			,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(isnull(tc.dpp,0)) TotalPaid	    
				FROM tbtrx_debetnote a
				left join (
        			SELECT dnid
        				, SUM(isnull(dpp, 0)) dpp
        				, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
        			FROM tbtrx_creditnote
        			WHERE isnull(iscancel, 0) = 0
        			GROUP BY dnid
				) tc ON a.id = tc.dnid		
				WHERE isnull(a.IsCancel, 0) = 0
				AND isnull(a.IsDNPromo,0)=1
				GROUP BY a.PromoId
			) dn on pr.id=dn.promoid
			left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			WHERE pr.Id IN (SELECT PromoId FROM @ALO)
			----WHERE ISNULL(ALLOC.IsDelete,0)=0
			----	AND pr.Id IN (SELECT PromoId FROM @ALO)

				/*****************
				REGION
				*****************/
				SELECT
				1 as flag
				, @Id as RegionPromoId
				, 0 as id
				, '---' as longDesc

				/*****************
				CHANNEL
				*****************/
				SELECT 
					CASE WHEN b.PromoId is null THEN 0 ELSE 1 END as flag,
					b.PromoId as ChannelPromoId, a.Id as id, a.LongDesc as longDesc
				FROM [dbo].[tbmst_channel]  a 
				LEFT JOIN tbtrx_promo_channel b ON a.id=b.ChannelId AND b.PromoId=@Id
		
				/*****************
				SUB CHANNEL
				*****************/
				SELECT
				1 as flag
				, @Id as SubChannelPromoId
				, 0 as id
				, '---' as longDesc
		
				/*****************
				ACCOUNT
				*****************/
				SELECT
				1 as flag
				, @Id as AccountPromoId
				, 0 as id
				, '---' as longDesc

				/*****************
				SUB ACCOUNT
				*****************/	
				SELECT
				1 as flag
				, @Id as SubAccountPromoId
				, 0 as id
				, '---' as longDesc		
		
				/*****************
				BRAND
				*****************/	
				SELECT
				CASE WHEN b.PromoId is null THEN 0 ELSE 1 END as flag,
				b.PromoId as ProductPromoId, a.Id as id, a.LongDesc as longDesc
				FROM [dbo].[tbmst_brand] a
				LEFT JOIN  tbtrx_promo_brand b ON a.Id=b.BrandId AND b.PromoId=@Id
		
				/*****************
				SKU
				*****************/	
				SELECT
				1 as flag
				, @Id as ProductPromoId
				, 0 as id
				, '---' as longDesc		
		
				/*****************
				ACTIVITY
				*****************/
				SELECT
				a.AllocationId AS ActivityAllocId
				,ctg.ActivityId AS id
				,ctg.ActivityDesc AS longDesc
				FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
				INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
				and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)

				WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null
				/*****************/

				/*****************
				SUB ACTIVITY
				*****************/
				SELECT
				a.AllocationId AS SubActivityAllocId
				,ctg.SubActivityId AS id
				,ctg.SubActivityDesc AS longDesc
				FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
				INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
				and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
				WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

				/*****************
				File attach
				*****************/
				SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink

				/***************
				MASTER STATUS APPROVAL
				***************/
				SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
				/***************
				MECHANISM
				***************/
				SELECT MechanismId, Mechanism, Notes, ProductId, Product, BrandId, Brand
				  FROM [dbo].tbtrx_promo_mechanism tppm 
				  WHERE promoid =@Id

				 /***************
				INVESTMENT
				***************/
				SELECT TotInvest Investment
				,NormalSales
				,IncrSales
				,TotSales
				,Roi
				,CostRatio
				from tbtrx_promo_request_approval_recon WITH (NOLOCK)
				where ParentId IN (SELECT PromoId FROM @ALO)
				ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY

				 /***************
				Group Brand 
				***************/
				SELECT distinct 
					CASE WHEN B.PromoId is null THEN 0 ELSE 1 END as flag,
					b.PromoId brandGroupPromoId, a.id, a.longDesc, b.brandGroupId
				FROM tbmst_brand_group a
				INNER JOIN 
				(
					select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
					INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId AND b.PromoId=@Id
				) b on a.Id=b.BrandGroupId

		
		END

END
GO
