USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getinvoice_print]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_getinvoice_print] --1

@id int
as
begin
	DECLARE @singleDN int
	
	SELECT @singleDN = count(dnid) FROM tbtrx_invoice_detail WHERE parentid = @id and isnull(iscancel, 0) = 0
	
	IF @singleDN > 1
	BEGIN
		SELECT a.RefId
			,convert(varchar(10),a.CreateOn,120) InvoiceDate 
			,a.[Desc] InvoiceDesc
			,a.DPPAmount DPP
			,(a.PPN*DPPAmount/100) PPN
			,a.InvoiceAmount
			,dbo.Terbilang(a.InvoiceAmount) Terbilang
			,c.ClaimManager
			,a.DistributorId
			,c.CompanyName DistributorDesc
			,c.[Address] DistributorAddress
			,c.Phone DistributorPhone
			,c.Fax DistributorFax
			,c.NPWP DistributorNPWP
			,b.DescForInvoice EntityDesc
			,b.[EntityAddress] 
			,b.EntityNPWP
			,b.EntityUp
			, a.PPN ppnpct
			, 0 pphppct
			, CONCAT('PPN = ', a.PPN, '% x Dasar Pengenaan Pajak') PPNLabel
			, CONCAT('PPH = ', '0% x Dasar Pengenaan Pajak') PPHLabel
		FROM tbtrx_invoice_header a
		inner join tbmst_principal b on a.EntityId=b.Id
		inner join tbmst_distributor c on a.DistributorId=c.Id 
		WHERE a.id=@id
	END 
	ELSE 
	BEGIN 
		SELECT a.RefId
			,convert(varchar(10),a.CreateOn,120) InvoiceDate 
			,a.[Desc] InvoiceDesc
			,a.DPPAmount DPP
			,(a.PPN*DPPAmount/100) PPN
			,a.InvoiceAmount
			,dbo.Terbilang(a.InvoiceAmount) Terbilang
			,c.ClaimManager
			,a.DistributorId
			,c.CompanyName DistributorDesc
			,c.[Address] DistributorAddress
			,c.Phone DistributorPhone
			,c.Fax DistributorFax
			,c.NPWP DistributorNPWP
			,b.DescForInvoice EntityDesc
			,b.[EntityAddress] 
			,b.EntityNPWP
			,b.EntityUp
			, td.ppnpct
			, td.pphpct
			, CONCAT('PPN = ', td.ppnpct, '% x ', IIF(td.statusPPN='PPN DPP', 'Dasar Pengenaan Pajak', REPLACE(td.statusPPN, 'PPN ', ''))) PPNLabel
			, CONCAT('PPH = ', td.pphpct, '% x ', IIF(td.statusPPH='DPP PPH', 'Dasar Pengenaan Pajak', REPLACE(td.statusPPN, ' PPH', ''))) PPHLabel
		FROM tbtrx_invoice_header a
		INNER JOIN tbmst_principal b on a.EntityId=b.Id
		INNER JOIN tbmst_distributor c on a.DistributorId=c.Id 
		INNER JOIN tbtrx_invoice_detail d on a.id = d.parentid and isnull(d.iscancel, 0) = 0
		INNER JOIN tbtrx_debetnote td on d.dnid = td.id
		WHERE a.id=@id
		
	END
	
	SELECT c.RefId PromoNumber,
		b.RefId DNNumber, 
		b.TotalClaim DNAmount,
		b.ActivityDesc,
		b.TotalClaim
	FROM tbtrx_invoice_detail a
	inner join tbtrx_debetnote b on a.DNId=b.Id
	left join tbtrx_promo c on b.PromoId=c.Id
	where a.ParentId=@id

end
GO
