

/****** Object:  StoredProcedure [dbo].[ip_dn_validate_by_finance_DC]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_dn_validate_by_finance_DC]
@dnid int,
@status varchar(50),
@notes varchar(255),
@userid varchar(50),
@taxlevel varchar(100)
,@EntityId int
,@PromoIdNew int
,@IsDNPromo bit
,@DN_Doc_Completeness DebetNote_doc_completeness_Type READONLY
,@WHTType varchar(50) = ''
,@statusPPH varchar(30) = ''
,@pphPct numeric(10,4) = 0
,@pphAmt numeric(18) = 0
as	
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE @createdemail varchar(100), @promoid int, @categoryShortDesc varchar(20)
	SELECT @createdemail=email from tbset_user where id=@userid
	INSERT INTO tblog_dn_change_status (dtime,dnstatus,userid,dnid, CreatedEmail, dpp) 
	SELECT @utcDate123,concat(@status,' -p'),@userid,@dnid, @createdemail, dpp 
	FROM tbtrx_debetnote WHERE id=@dnid
	
   	SELECT @promoid = td.promoid, @categoryShortDesc = mc.shortDesc
	FROM tbtrx_debetnote td
	INNER JOIN tbtrx_promo tp ON td.promoid = tp.id
	INNER JOIN tbmst_category mc ON tp.categoryId = mc.id 
BEGIN TRY
BEGIN TRANSACTION
	declare
	@laststatus varchar(50),
	@updlaststatus varchar(50),
	@prevstatus varchar(50),
	@StatusSalesCode varchar(3),
	@messageout varchar(255),
	@dpp numeric(19,0),
	@laststatuslog varchar(50),
	@whtTypeCount int

	set @notes = left(@notes,255)
	SELECT @dpp=dpp from dbo.tbtrx_debetnote where id=@dnid
	SELECT @createdemail=email from tbset_user where id=@userid

	SET @laststatus=(SELECT LastStatus FROM tbtrx_debetnote where Id=@dnid)
	SET @StatusSalesCode=(SELECT StatusSalesCode FROM tbtrx_debetnote where Id=@dnid)

	IF @status='rejected_by_finance'
	BEGIN
		SET @updlaststatus= 'received_by_danone'
		UPDATE tbtrx_debetnote
		SET LastStatus=@updlaststatus
			,Notes=@notes
			,StatusSalesCode='TP1'
			,StatusSales=''
			,StatusSalesOn=null
			,StatusSalesBy=''
			,StatusSalesNotes=''
		where id=@dnid
		
		if isnull(@taxlevel,'') <> ''
		BEGIN 
			UPDATE tbtrx_debetnote
			SET TaxLevel = @taxlevel
			where id=@dnid
		END

		--Update WHT, recalculate totclaim, modif by AND March 19 2024
		declare @whtOld varchar(50);
		SET @whtOld = (SELECT WHTtype FROM tbtrx_debetnote_wht WHERE dnid = @dnid)
		if @WHTType<>'' 
		BEGIN
			UPDATE tbtrx_debetnote_wht SET whtType = @WHTType WHERE dnid = @dnid
		END
		-- recalculate total claim if whtType changed
		IF ISNULL(@whtOld,'')<>@WHTType
		BEGIN
			UPDATE tbtrx_debetnote
				SET statusPPH = @statusPPH
				,pphPct = @pphPct
				,pphAmt = @pphAmt
			WHERE Id=@dnid

			IF @WHTType = 'WHT No Deduct'
			BEGIN
				UPDATE tbtrx_debetnote SET totalClaim = DPP + ppnAmt
				WHERE id = @dnid
			END
			ELSE
			BEGIN
				UPDATE tbtrx_debetnote SET totalClaim = DPP + ppnAmt - pphAmt
				WHERE id = @dnid
			END 
		END

		SET @laststatuslog=(SELECT LastStatus FROM tbtrx_debetnote where Id=@dnid)
		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail, Notes)
		VALUES(@dnid,@status,@userid,@utcDate123,@dpp, @laststatuslog,@createdemail, @notes)
		
		  SET @promoid=(SELECT PromoId FROM tbtrx_debetnote where Id=@dnid)
		  exec ip_dn_overbudget_by_prommoid @promoid
		
	END
	ELSE
	BEGIN
		IF @status='validate_by_finance'
		BEGIN
			SET @promoid=@PromoIdNew
			IF isnull(@IsDNPromo,0)=1
			BEGIN
				IF isnull(@promoid,0)=0
				BEGIN
					SET @messageout='You can not validate, please assign to Promo Number'
					RAISERROR (@messageout, -- Message text.
				   16, -- Severity.
				   1 -- State.
				   );
				END

			   IF EXISTS
			   (
				   SELECT DNId FROM
				   (
						SELECT
						pr.Id PromoId,
						pr.RefId RefId,
--							pr.Investment,
						pr.investmentForDN investment,
						dn.id DNId,
						dn.TotalClaim,
						SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
						pr.investmentForDN-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY iif(dn.LastStatus ='confirm_paid',0,1), b.sequence desc,b.dt asc, dn.id) Remaining								
						from tbtrx_promo pr
						left join  tbtrx_debetnote dn on pr.Id=dn.PromoId
				        inner join (
				            select a.id, iif(a.ModifiedOn is null, a.CreateOn, a.ModifiedOn) dt, 
							CASE 
						    	WHEN a.laststatus='created' THEN 1 
						    	WHEN a.laststatus='send_to_dist_ho' THEN 2
						    	WHEN a.laststatus='validate_by_dist_ho' THEN 3
								WHEN a.laststatus='send_to_danone' THEN 4
								WHEN a.laststatus='received_by_danone' THEN 5
								WHEN a.laststatus='validate_by_sales' THEN 6
								WHEN a.laststatus='validate_by_finance' THEN 7
								WHEN a.laststatus='validate_by_danone' THEN 8
								WHEN a.laststatus='ready_to_invoice' THEN 9
								WHEN a.laststatus='invoice' THEN 10
								WHEN a.laststatus='confirm_paid' THEN 11    	
							END sequence
				            from tbtrx_debetnote a        
				        ) b on dn.id=b.id
						WHERE pr.Id=@promoid And isnull(dn.iscancel,0)=0 AND isnull(dn.IsDNPromo, 0) = 1
-- 					       group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
					) ob WHERE Remaining < 0 and DNId=@dnid
				)
				BEGIN
					SET @messageout='You can not validate, DN Over Budget'
					RAISERROR (@messageout, -- Message text.
				   16, -- Severity.
				   1 -- State.
				   );
				END
			END
			  
			SET @updlaststatus= 'validate_by_danone'

			UPDATE a
			SET
				validate_by_finance_on=@utcDate123
				,validate_by_finance_by=@userid
			FROM tbtrx_debetnote_his a
			WHERE a.DNId=@dnid --and isnull(is_cancel,0)=0

			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
			VALUES(@dnid,'validate_by_finance',@userid,@utcDate123,@dpp, 'validate_by_finance',@createdemail)
			  
			insert into mytmp (f1, f2, f3) values(@EntityId, @PromoIdNew, @IsDNPromo)
				
			UPDATE tbtrx_debetnote
			SET LastStatus= @updlaststatus
			,Notes=@notes
			,TaxLevel = @taxlevel
			,IsDNPromo = @IsDNPromo
			,PromoId = @PromoIdNew
			,ModifiedBy = @userid
			,ModifiedOn = @utcDate123
			,IsDNManual = IIF(isnull(@PromoId,0)=0 AND @IsDNPromo=1,1,0)
			where Id=@dnid
				
			/* start BE 126 */
			IF @statusPPH <> ''
			BEGIN
				UPDATE tbtrx_debetnote
					SET statusPPH = @statusPPH
					,pphPct = @pphPct
					,pphAmt = @pphAmt
				WHERE Id=@dnid
			END
			
			IF @WHTType <> ''
			BEGIN
				IF @WHTType='WHT Deduct' AND @pphAmt = 0
				BEGIN
					SET @messageout='You can not validate, please fill in PPH'
						RAISERROR (@messageout, -- Message text.
							16, -- Severity.
							1 -- State.
					   	);
				END
			
				SET @whtTypeCount = (SELECT dnid FROM tbtrx_debetnote_wht WHERE dnid = @dnid)
				IF @whtTypeCount = 0
				BEGIN 
					INSERT INTO tbtrx_debetnote_wht (dnid, whtType)
					VALUES (@dnid, @WHTType)
				END
				ELSE
				BEGIN
					UPDATE tbtrx_debetnote_wht SET whtType = @WHTType WHERE dnid = @dnid
				END		
				
				IF @WHTType = 'WHT No Deduct'
				BEGIN
					UPDATE tbtrx_debetnote SET totalClaim = DPP + ppnAmt
					WHERE id = @dnid
				END
				ELSE
				BEGIN
					UPDATE tbtrx_debetnote SET totalClaim = DPP + ppnAmt - pphAmt
					WHERE id = @dnid
				END 
			END
			
			/*
			 Create History Debetnote
			 */
			INSERT INTO [dbo].[tbhis_debetnote]
			(
			    dnid,
			    IsDNManual,
			  	Periode,
			    PrincipalShortDesc,
			    DistributorShortDesc,
			    AreaCode,
			    DNNumber,
			    ActivityDesc,
			    SubChannelId,
			    AccountId,
			    PromoId,
			    IntDocNo,
			    MemDocNo,
			    DPP,
			    PPNPct,
			    PPNAmt,
			    TotalClaim,
			    DeductionDate,
			    Notes,
			    LastStatus,
			    IsPaid,
			    TotalPaid,
			    IsCancel,
			    IsLocked,
			    CreateOn,
			    CreateBy,
			    ModifiedOn,
			    ModifiedBy,
			    IsDelete,
			    DeleteOn,
			    DeleteBy,
			    AssignOn,
			    AssignBy,
			    IsFreeze,
			    PrincipalId,
			    DistributorId,
			    DueDate,
			   	IsAllowModify,
			    IsOverBudget,
			    AssignRequestDate,
			  	CancelOn,
			  	CancelBy,
			    PaymentDate,
			    ImportId,
			    RefId,
			    IsDNPromo,
			    InternalOrderNumber,
			    DNAmount,
			    FeeDesc,
			    FeePct,
			    FeeAmount,
			    TaxLevel,
			    PPHPct,
			    PPHAmt,
			    statusPPH,
			    StatusSalesCode,
			    StatusSales,
			    StatusSalesOn,
			    StatusSalesBy,
			    StatusSalesDistOn,
			   	StatusSalesDistBy,
			    StatusSalesNotes,
			    FPNumber,
			    FPDate,
			    FPModifiedBy,
			    FPModifiedOn,
			    VATExpired,
			    statusPPN,
			    WHTType
			)
			select 
			    id,
			  IsDNManual,
			    Periode,
			    PrincipalShortDesc,
			    DistributorShortDesc,
			    AreaCode,
			    DNNumber,
			    ActivityDesc,
			    SubChannelId,
			    AccountId,
			    PromoId,
			    IntDocNo,
			    MemDocNo,
			    DPP,
			    PPNPct,
			    PPNAmt,
			    TotalClaim,
			    DeductionDate,
			    Notes,
			    'validate_by_finance',
			    IsPaid,
			    TotalPaid,
			    IsCancel,
			    IsLocked,
			    CreateOn,
			    CreateBy,
			    ModifiedOn,
			    ModifiedBy,
			    IsDelete,
			    DeleteOn,
			    DeleteBy,
			    AssignOn,
			    AssignBy,
			    IsFreeze,
			    PrincipalId,
			    DistributorId,
			    DueDate,
			    IsAllowModify,
			    IsOverBudget,
			    AssignRequestDate,
			    CancelOn,
			    CancelBy,
			    PaymentDate,
			    ImportId,
			    RefId,
			    IsDNPromo,
			    InternalOrderNumber,
			    DNAmount,
			    FeeDesc,
			    FeePct,
			    FeeAmount,
			    TaxLevel,
			    PPHPct,
			    PPHAmt,
			    statusPPH,
			    StatusSalesCode,
			    StatusSales,
			    StatusSalesOn,
			    StatusSalesBy,
			    StatusSalesDistOn,
			    StatusSalesDistBy,
			    StatusSalesNotes,
			    FPNumber,
			    FPDate,
			    FPModifiedBy,
			    FPModifiedOn,
			    VATExpired,
			    statusPPN,
			    @WHTType
			from tbtrx_debetnote where id=@dnid
			/* end BE 126 */
			
			exec ip_dn_overbudget_by_prommoid @promoid
			exec ip_dn_overbudget_by_prommoid @PromoIdNew
				
			DELETE FROM tbtrx_debetnote_doc_completeness WHERE DNId=@dnid
			INSERT INTO tbtrx_debetnote_doc_completeness 
			SELECT @dnid
					, Original_Invoice_from_retailers, @utcDate123, @userid
					, Tax_Invoice, @utcDate123, @userid
					, Promotion_Agreement_Letter, @utcDate123, @userid
					, Trading_Term, @utcDate123, @userid
					, Sales_Data, @utcDate123, @userid
					, Copy_of_Mailer, @utcDate123, @userid
					, Copy_of_Photo_Doc, @utcDate123, @userid
					, List_of_Transfer, @utcDate123, @userid
			FROM @DN_Doc_Completeness 

			UPDATE a
			SET
				validate_by_danone_on=@utcDate123
				,validate_by_danone_by=@userid
			FROM tbtrx_debetnote_his a
			WHERE a.DNId=@dnid --and isnull(is_cancel,0)=0
		  
			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
			VALUES(@dnid,@updlaststatus,@userid,@utcDate123,@dpp, @updlaststatus,@createdemail)

			UPDATE tbtrx_debetnote
			SET LastStatus= @updlaststatus
			,Notes=@notes
			where Id=@dnid
				
		END

		if isnull(@taxlevel,'') <> ''
		BEGIN 
			UPDATE tbtrx_debetnote
			SET TaxLevel = @taxlevel
			where id=@dnid
		END
	END
			
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	SELECT
		@ErrorMessage = ERROR_MESSAGE(),
		@ErrorSeverity = ERROR_SEVERITY(),
		@ErrorState = ERROR_STATE();
RAISERROR (@ErrorMessage, -- Message text.
			 @ErrorSeverity, -- Severity.
			   @ErrorState -- State.
   );
END CATCH
GO
