

/****** Object:  StoredProcedure [dbo].[ip_invoice_filter]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_invoice_filter]
@userid varchar(50),
@status varchar(50),
@entity int,
@dn TemplateDebetNote READONLY
,@TaxLevel varchar(100)
,@invoiceid int = 0
,@dnPeriod varchar(4) = ''
,@categoryId int = 0
AS
begin

TRUNCATE TABLE TempTemplateDebetNote
INSERT INTO TempTemplateDebetNote
SELECT * FROM @dn
	DROP TABLE IF EXISTS #tempDN

	select id
	INTO #tempDN
	from @dn a
	inner join tbtrx_debetnote td on a.refid = td.RefId 
	left join tbtrx_invoice_detail tid on td.id= tid.DNId and isnull(tid.IsCancel, 0) = 0
	where tid.ParentId = @invoiceid or td.LastStatus = 'ready_to_invoice'
	
	SELECT
	iif(isnull(tmp.id, 0)=0, 0, 1) CheckFlag
	,a.Id
	,temp.RefId
	,temp.PromoRefId
	,temp.Activity ActivityDesc
	,a.DPP
	,a.PPnAmt
	,a.memDocNo
	,a.intDocNo
	,temp.TotalClaim
	,temp.LastStatus
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,a.TaxLevel
	,CASE WHEN a.LastStatus=@status THEN
		CASE WHEN a.LastStatus is not null THEN 'OK' ELSE 'DN Not Found' END
	ELSE
		'DN Status is not ' + @status
	END [Status]
	,a.StatusSalesCode
	,a.StatusSales
	,a.StatusSalesOn
	,a.StatusSalesBy
	,a.StatusSalesDistOn
	,a.StatusSalesDistBy
	,a.StatusSalesNotes
	,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
	,d.actionOn SalesValidationStatusOn
	,a.AccountId SubAccountId
	,ts.LongDesc SubAccount
	,a.StatusSalesNotes remarkSales
	from @dn temp
	LEFT JOIN tbtrx_debetnote a on a.RefId=temp.RefId and isnull(a.iscancel, 0) = 0
	LEFT JOIN #tempDN tmp on a.id = tmp.id
    LEFT JOIN
        (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
        from tbhis_debetnote_sales_log
        group by parentid, StatusSalesCode) d on a.id=d.ParentId and a.StatusSalesCode=d.StatusSalesCode
	LEFT JOIN tbmst_subaccount ts ON a.AccountId = ts.id
	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
	where iif(@entity=0,0,a.PrincipalId)=iif(@entity=0,0,@entity)
	AND iif(@TaxLevel='0','',a.TaxLevel)=iif(@TaxLevel='0','',@TaxLevel)
	AND IIF(@dnPeriod='','',@dnPeriod)=IIF(@dnPeriod='','',isnull(a.periode, ''))
	AND IIF(@categoryId=0,0,@categoryId)=IIF(@categoryId='','',isnull(b.categoryId, 0))
	
	DROP TABLE IF EXISTS #tempDN
end
GO
