

/****** Object:  StoredProcedure [dbo].[ip_insert_budget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_insert_budget]
@budgettype ImportBudgetAllocationType READONLY
,@derbudgettype ImportBudgetDerivativeType READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
SELECT ''
END
/*******************************************
BUDGET MASTER
********************************************/
--MERGE tbtrx_budgetmaster t
--    USING 
--	(
--	SELECT 
--	MasterRefId
--	,MasterPeriode
--	,MasterDesc
--	,MasterOwner
--	,MasterAmount
--	,MasterDistributorRefId
--	,d.Id [DistributorId]
--	,p.Id [PrincipalId]
--	,MasterPrincipalRefId
--	,StartDate
--	,EndDate
--	FROM
--	@budgettype
--	INNER JOIN tbmst_distributor d on MasterDistributorRefId=d.RefId 
--	INNER JOIN tbmst_principal p on MasterPrincipalRefId=p.RefId 
--	GROUP BY 
--	 MasterRefId
--	,MasterPeriode
--	,MasterDesc
--	,MasterOwner
--	,MasterAmount
--	,MasterDistributorRefId
--	,MasterPrincipalRefId
--	,d.Id 
--	,p.Id 
--	,StartDate
--	,EndDate) s
--    ON s.MasterRefId = t.RefId
--    WHEN MATCHED 
--        THEN     UPDATE
--            SET BudgetAmount = s.MasterAmount
--			,DistributorId = s.DistributorId
--			,PrincipalId= s.PrincipalId
--    WHEN NOT MATCHED
--        THEN     
--  INSERT (
--	Periode
--	,RefId
--	,DistributorId
--	,PrincipalId
--	,OwnerId
--	,StartDate
--	,EndDate
--	,BudgetAmount
--	,IsAllocated
--	,LongDesc
--	,ShortDesc
--	,IsActive
--	,CreateOn
--	,CreateBy
--	)
--	VALUES
--	(
--	s.MasterPeriode
--	,s.MasterRefId
--	,s.DistributorId 
--	,s.PrincipalId
--	,s.MasterOwner
--	,convert(datetime,s.StartDate,5)
--	,convert(datetime,s.EndDate,5)
--	,s.MasterAmount
--	,0
--	,s.MasterDesc
--	,''
--	,1
--	,@utcDate123
--	,'ADMIN'
--	);

--	/*************************************
--	BUDGET ALLOCATION (BAL)
--	*************************************/
--	MERGE tbtrx_allocation t
--    USING 
--	(
--	SELECT 
--	AllocationRefId
--	,MasterPeriode
--	,MasterDesc
--	,MasterOwner
--	,AllocationAmount
--	,MasterDistributorRefId
--	,d.Id [DistributorId]
--	,m.Id [BudgetId]
--	,SubCategoryRefId
--	,ActivityRefId
--	,SubActivityRefId	
--	FROM
--	@budgettype
--	INNER JOIN tbtrx_budgetmaster m on MasterRefId=m.RefId
--	INNER JOIN tbmst_distributor d on MasterDistributorRefId=d.RefId 
--	INNER JOIN tbmst_principal p on MasterPrincipalRefId=p.RefId 
--	GROUP BY 
--	AllocationRefId
--	,MasterPeriode
--	,MasterDesc
--	,MasterOwner
--	,AllocationAmount
--	,MasterDistributorRefId
--	,d.Id 
--	,m.Id 
--	,SubCategoryRefId
--	,ActivityRefId
--	,SubActivityRefId	
--	) s
--    ON s.AllocationRefId = t.RefId
--    WHEN MATCHED 
--        THEN     UPDATE
--            SET BudgetAmount = s.AllocationAmount
--    WHEN NOT MATCHED
--        THEN     
--	INSERT
--           ([Periode]
--           ,[RefId]
--           ,[BudgetType]
--           ,[DistributorId]
--           ,[OwnerId]
--           ,[FromOwnerId]
--           ,[BudgetMasterId]
--           ,[BudgetSourceId]           
--           ,[BudgetAmount]
--           ,[LongDesc]
--           ,[ShortDesc]
--           ,[StatusApproval]
--           ,[IsActive]
--           ,[IsLocked]
--           ,[CreateOn]
--           ,[CreateBy]
--           )
--	VALUES
--			(
--			MasterPeriode
--			,AllocationRefId
--			,'BAL'
--			,s.DistributorId 
--			,MasterOwner
--			,MasterOwner
--			,s.BudgetId
--			,s.BudgetId
--			,AllocationAmount
--			,MasterDesc
--			,''
--			,1
--			,1
--			,0
--			,@utcDate123
--			,'ADMIN'
--			);



--	/*************************************
--	BUDGET ALLOCATION DETAIL (BAL)
--	*************************************/
	
		
--	MERGE tbtrx_allocation_detail t
--    USING 
--	(
--	SELECT 
--		AllocationRefId
--		,AllocationId
--		,LineIndex
--		,AllocationDetailDesc
--		,AllocationDetailAmount
--		,SubCategoryId
--		,ActivityId
--		,SubActivityId	
--	FROM
--	(
--		SELECT 
--		AllocationRefId
--		,a.Id AllocationId
--		,ROW_NUMBER() OVER(PARTITION BY AllocationRefId ORDER BY AllocationRefId) LineIndex
--		,AllocationDetailDesc
--		,AllocationDetailAmount
--		,SubCategoryRefId SubCategoryId
--		,ActivityRefId ActivityId
--		,SubActivityRefId SubActivityId	
--		FROM
--		@budgettype
--		INNER JOIN tbtrx_allocation a on AllocationRefId=a.RefId
--	) X
--	GROUP BY 
--		AllocationRefId
--		,AllocationId
--		,LineIndex
--		,AllocationDetailDesc
--		,AllocationDetailAmount
--		,SubCategoryId
--		,ActivityId
--		,SubActivityId	
--	) s
--    ON s.AllocationId = t.AllocationId 
--	and s.SubCategoryId =t.SubCategoryId 
--	and s.ActivityId=t.ActivityId
--	and s.SubActivityId=t.SubActivityId
--    WHEN MATCHED 
--        THEN     UPDATE
--            SET BudgetAmount = s.AllocationDetailAmount
--    WHEN NOT MATCHED
--        THEN     
--	INSERT
--           ([AllocationId]
--           ,[LineIndex]
--           ,[SubCategoryId]
--           ,[ActivityId]
--           ,[SubActivityId]      
--           ,[BudgetAmount]
--           ,[LongDesc]
--           ,[ShortDesc]
--           ,[IsActive]
--           ,[IsLocked]
--		   ,[IsRecon]
--           ,[CreateOn]
--           ,[CreateBy]
--           )
--	VALUES
--			(
--			AllocationId
--			,LineIndex
--			,SubCategoryId
--			,ActivityId
--			,SubActivityId	
--			,AllocationDetailAmount
--			,AllocationDetailDesc
--			,''
--			,1
--			,0
--			,1
--			,@utcDate123
--			,'ADMIN'
--			)
--	WHEN NOT MATCHED BY SOURCE 
--    THEN DELETE
--			;


--	/*************************************
--	BUDGET ASSIGNMENT
--	*************************************/

--	MERGE tbtrx_budgetassignment t
--	USING
--	(
--		SELECT DISTINCT
--		AssignmentRefId
--		,al.BudgetMasterId
--		,AssignFromUser
--		,al.Id AllocationId
--		,AssignAmount
--		FROM @derbudgettype tp
--		INNER JOIN tbtrx_allocation al ON AssignFromAllocation=al.RefId
--	)s
--	ON t.RefId=s.AssignmentRefId
--	WHEN MATCHED 
--        THEN     UPDATE
--            SET BudgetAmount = s.AssignAmount
--    WHEN NOT MATCHED
--        THEN    

--	INSERT 
--           ([RefId]
--           ,[BudgetId]
--           ,[FrownId]
--           ,[AllocationId]
--           ,[BudgetAmount]
--           ,[IsActive]
--           ,[IsLocked]
--           ,[CreateOn]
--           ,[CreateBy]
--			)
--     VALUES
--           (
--		   AssignmentRefId
--		   ,BudgetMasterId
--		   ,AssignFromUser
--		   ,AllocationId
--		   ,AssignAmount
--		   ,1
--		   ,0
--		   ,@utcDate123
--		   ,'ADMIN'
--		   );
		   

--	/*************************************
--	BUDGET ASSIGNMENT DETAIL
--	*************************************/
--	MERGE tbtrx_budgetassignment_detail t
--	USING
--	(
--	SELECT
--	ba.Id AssignmentId
--	,DetailAssignRefId RefId
--	,AssignToUser OwnId
--	,AssignDesc [Desc]
--	,AssignDetailAmount [BudgetAmount]
--	,0 IsAllocated
--	,1 IsActive
--	,0 IsLocked
--	,@utcDate123 CreateOn
--	,'Admin' CreateBy
--	FROM @derbudgettype
--	INNER JOIN tbtrx_budgetassignment ba on RefId=AssignmentRefId
--	)s
--	ON s.AssignmentId=t.AssignmentId AND s.OwnId=t.OwnId AND s.[Desc]=t.[Desc] AND s.RefId=t.RefId
--	WHEN MATCHED THEN
--		UPDATE SET BudgetAmount=s.BudgetAmount
--		,[Desc]=s.[Desc]
--		,ModifiedOn=@utcDate123
--		,ModifiedBy='ADMIN'
--	WHEN NOT MATCHED THEN


--INSERT
--           ([AssignmentId]
--		   ,[RefId]
--           ,[OwnId]
--           ,[Desc]
--           ,[BudgetAmount]
--           ,[IsAllocated]
--           ,[IsActive]
--           ,[IsLocked]
--           ,[CreateOn]
--           ,[CreateBy]

--		   )
--     VALUES
--           (AssignmentId
--		   ,RefId
--           ,OwnId
--           ,[Desc]
--           ,BudgetAmount
--           ,IsAllocated
--           ,IsActive
--           ,IsLocked
--           ,CreateOn
--           ,CreateBy
--		   );



--	/*************************************
--	BUDGET ALLOCATION (BTR)
--	*************************************/
--	MERGE tbtrx_allocation t
--    USING 
--	(
--	SELECT 
--	Periode	
--	,RefId
--	,BudgetType
--	,DistributorId
--	,OwnerId
--	,FromOwnerId
--	,BudgetMasterId
--	,BudgetSourceId
--	,BudgetAmount 
--	,LongDesc
--	,StatusApproval
--	,CreateOn
--	,CreateBy
--	FROM
--	(
--	SELECT 
--	m.Periode	
--	,DerBudgetRefId RefId
--	,'BTR' BudgetType
--	,m.DistributorId
--	,td.OwnId OwnerId
--	,tp.FrownId FromOwnerId
--	,tp.BudgetId BudgetMasterId
--	,td.Id BudgetSourceId
--	,DerDetailAmount BudgetAmount 
--	,DerDetailBudgetDesc LongDesc
--	,1 StatusApproval
--	,@utcDate123 CreateOn
--	,'ADMIN' CreateBy
--	FROM
--	@derbudgettype
--	INNER JOIN tbtrx_budgetassignment_detail td on td.RefId=DetailAssignRefId
--	INNER JOIN tbtrx_budgetassignment tp on tp.Id=td.AssignmentId
--	INNER JOIN tbtrx_budgetmaster m on tp.BudgetId=m.Id	
--	) X
--	GROUP BY 
--	Periode	
--	,RefId
--	,BudgetType
--	,DistributorId
--	,OwnerId
--	,FromOwnerId
--	,BudgetMasterId
--	,BudgetSourceId
--	,BudgetAmount 
--	,LongDesc
--	,StatusApproval
--	,CreateOn
--	,CreateBy
--	) s
--    ON s.RefId = t.RefId
--    WHEN MATCHED 
--        THEN     UPDATE
--            SET BudgetAmount = s.BudgetAmount
--    WHEN NOT MATCHED
--        THEN     
--	INSERT
--           ([Periode]
--           ,[RefId]
--           ,[BudgetType]
--           ,[DistributorId]
--           ,[OwnerId]
--           ,[FromOwnerId]
--           ,[BudgetMasterId]
--           ,[BudgetSourceId]           
--           ,[BudgetAmount]
--           ,[LongDesc]           
--           ,[StatusApproval]           
--           ,[CreateOn]
--           ,[CreateBy]
--           )
--	VALUES
--			(
--			[Periode]
--           ,[RefId]
--           ,[BudgetType]
--           ,[DistributorId]
--           ,[OwnerId]
--           ,[FromOwnerId]
--           ,[BudgetMasterId]
--           ,[BudgetSourceId]           
--           ,[BudgetAmount]
--           ,[LongDesc]           
--           ,[StatusApproval]           
--           ,[CreateOn]
--           ,[CreateBy]
--			);


			

--	/*************************************
--	BUDGET ALLOCATION DETAIL (BTR)
--	*************************************/
	
		
--	MERGE tbtrx_allocation_detail t
--    USING 
--	(
--	SELECT 
--		DerBudgetRefId
--		,AllocationId
--		,LineIndex
--		,AllocationDetailDesc
--		,AllocationDetailAmount
--		,SubCategoryId
--		,ActivityId
--		,SubActivityId	
--	FROM
--	(
--		SELECT 
--		DerBudgetRefId
--		,a.Id AllocationId
--		,ROW_NUMBER() OVER(PARTITION BY DerBudgetRefId ORDER BY DerBudgetRefId) LineIndex
--		,DerBudgetDesc AllocationDetailDesc
--		,DerDetailAmount AllocationDetailAmount
--		,DerSubCategoryRefId SubCategoryId
--		,DerActivityRefId ActivityId
--		,DerSubActivityRefId SubActivityId	
--		FROM
--		@derbudgettype
--		INNER JOIN tbtrx_allocation a on DerBudgetRefId=a.RefId
--	) X
--	GROUP BY 
--		DerBudgetRefId
--		,AllocationId
--		,LineIndex
--		,AllocationDetailDesc
--		,AllocationDetailAmount
--		,SubCategoryId
--		,ActivityId
--		,SubActivityId	
--	) s
--    ON s.AllocationId = t.AllocationId 
--	and s.SubCategoryId =t.SubCategoryId 
--	and s.ActivityId=t.ActivityId
--	and s.SubActivityId=t.SubActivityId
--    WHEN MATCHED 
--        THEN     UPDATE
--            SET BudgetAmount = s.AllocationDetailAmount
--    WHEN NOT MATCHED
--        THEN     
--	INSERT
--           ([AllocationId]
--           ,[LineIndex]
--           ,[SubCategoryId]
--           ,[ActivityId]
--           ,[SubActivityId]      
--           ,[BudgetAmount]
--           ,[LongDesc]
--           ,[ShortDesc]
--           ,[IsActive]
--           ,[IsLocked]
--		   ,[IsRecon]
--           ,[CreateOn]
--           ,[CreateBy]
--           )
--	VALUES
--			(
--			AllocationId
--			,LineIndex
--			,SubCategoryId
--			,ActivityId
--			,SubActivityId	
--			,AllocationDetailAmount
--			,AllocationDetailDesc
--			,''
--			,1
--			,0
--			,1
--			,@utcDate123
--			,'ADMIN'
--			)
--	WHEN NOT MATCHED BY SOURCE 
--    THEN DELETE
--			;

			

--END
GO
