

/****** Object:  StoredProcedure [dbo].[ip_recalculate_balance_last_layer]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_recalculate_balance_last_layer]
AS 
/*
 * SP ini untuk recalculate balance by last layer from vw_budget_last_layer
 * by jummy
 */
BEGIN
	DECLARE @id int;
	DECLARE cursor_alc CURSOR
	FOR SELECT * FROM vw_budget_last_layer 
	;
	 
	OPEN cursor_alc;
	FETCH NEXT FROM cursor_alc
	INTO @id;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		exec ip_recalculate_balance_by_id @id;
	
		FETCH NEXT FROM cursor_alc
		INTO @id;
	END

	CLOSE cursor_alc;
	DEALLOCATE cursor_alc;
END

GO
