USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_closure_open]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_closure_open] --372,'xvamain'
@promoid ArrayintType READONLY,
@userid varchar(50)
,@useremail varchar(100) = ''
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION
	DECLARE @budgetid int,
		@remainingbudget numeric(19,0),
		@investment numeric(19,0),
		@messageout nvarchar(255),
		@promoRefId varchar(50)
	
    declare @errtemp as table
    (
	doc varchar(255),
	[status] varchar(255)
    )
    
	declare @createdemail varchar(50)
	SET @createdemail = @useremail
	if(@useremail = '')
	begin
		SELECT @createdemail=email from tbset_user where id=@userid
	end

	
	SELECT @remainingbudget = isnull(tab.RemainingAmount, 0), @investment=pr.Investment-isnull(dn.totalClaim, 0)
		from tbtrx_promo pr 
		inner join tbtrx_allocation_balance tab on pr.AllocationId = tab.AllocationId and pr.SubCategoryId = tab.SubCategoryId 
		INNER JOIN @promoid b on pr.id=b.keyid
		LEFT JOIN
	    (
	        SELECT A.PromoId,SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) TotalClaim
	        FROM tbtrx_debetnote A
	        WHERE isnull(A.IsCancel,0)=0
	        AND A.LastStatus='confirm_paid'
	        GROUP BY A.PromoId
	    ) dn on pr.id=dn.promoid		
		

	IF @remainingbudget < @investment 
	begin
		SELECT @promoRefId = RefId
		    FROM @promoid t INNER JOIN
		    tbtrx_promo A ON t.keyid=A.Id
			
	     SET @messageout=CONCAT(@promoRefId , ' : Reopen failed, Budget Amount must be greater than spending promo !')
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );

	/* untuk error multi reopen */
--	    INSERT INTO @errtemp
--	    SELECT RefId, 'Reopen failed, Budget Amount must be greater than spending promo !'
--	    FROM @promoid t INNER JOIN
--	    tbtrx_promo A ON t.keyid=A.Id
	end
	else
	begin
		UPDATE A
		SET
			IsClose=0
			,isCancelLocked=0
			,CloseOn=@utcDate123
			,CloseBy=@userid
		FROM tbtrx_promo A
		INNER JOIN @promoid B ON A.Id=B.keyid
	
		DECLARE cur CURSOR
		FOR
		SELECT distinct AllocationId
		FROM tbtrx_promo A
		INNER JOIN @promoid ON A.Id=keyid
		LEFT JOIN @errtemp t ON A.RefId=t.doc
		WHERE t.doc is null
		;
		
		OPEN cur
		FETCH NEXT FROM cur INTO @budgetid
		WHILE @@FETCH_STATUS=0
		BEGIN
		
			UPDATE bal
			SET ReserveAmount=XX.act_reserve_amount,
			UseAmount=XX.act_use_amount
			FROM tbtrx_allocation_balance bal
			INNER JOIN
			(
				SELECT
				AllocationId,
				SubCategoryId,
				InitialAmount,
				ReserveAmount bal_reserve_amount,
				SUM(IIF(StatusApprovalCode='TP2',0,IIF(isnull(IsCancel,0)=0,Investment,0))) act_reserve_amount,
				UseAmount bal_use_amount,
			-- 	SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0,Investment,0),0)) act_use_amount
				SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0, IIF(isnull(IsClose,0)=1, TotalClaim, Investment),0),0)) act_use_amount
				FROM
				(
				SELECT
				a.AllocationId,
				a.SubCategoryId,
				a.InitialAmount,
				a.ReserveAmount,
				a.UseAmount,
				b.RefId,
				b.Investment,
				b.StatusApprovalCode,
				isnull(b.IsCancel,0) IsCancel
				,isnull(C.TotalClaim, 0) TotalClaim
				,b.IsClose
				FROM tbtrx_allocation_balance a
				INNER JOIN tbtrx_promo b on a.AllocationId=b.AllocationId AND a.SubCategoryId=b.SubCategoryId
				LEFT JOIN
			    (
			        SELECT A.PromoId,SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) - SUM(isnull(tc.dpp,0)) TotalClaim
			        FROM tbtrx_debetnote A
		            LEFT JOIN (
				    	SELECT dnid
				    		, SUM(isnull(dpp, 0)) dpp
				    		, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
				    	FROM tbtrx_creditnote
				    	WHERE isnull(iscancel, 0) = 0
				    	GROUP BY dnid
				    ) tc ON a.id = tc.dnid	
			        WHERE isnull(A.IsCancel,0)=0
			        AND A.LastStatus='confirm_paid'
			        GROUP BY A.PromoId
			    ) C	on b.Id=C.PromoId
				WHERE a.AllocationId=@budgetid
					AND
					EXISTS
					(
						SELECT Id FROM vw_budget_last_layer xx WHERE xx.Id=a.AllocationId
					)
				) X
				GROUP BY
				AllocationId,
				SubCategoryId,
				InitialAmount,
				ReserveAmount,
				UseAmount
			
			
			) XX on bal.AllocationId=XX.AllocationId AND bal.SubCategoryId=XX.SubCategoryId
			WHERE bal.AllocationId=@budgetid
			FETCH NEXT FROM cur INTO @budgetid
		END
		
		CLOSE cur;
		DEALLOCATE cur;
		
		/* start create history promo closure */
		INSERT INTO tbhis_promo_closure (PromoId, IsClose, CloseOn, CloseBy, useremail, investment)
			SELECT keyid, 0, @utcDate123, @userid, @createdemail, pr.investment
			FROM @promoid a
			INNER JOIN tbtrx_promo pr on a.keyid=pr.id
		/* end create history promo closure */
	
		/* untuk error multi reopen */
--	    INSERT INTO @errtemp
--	    SELECT RefId, 'Reopen success'
--	    FROM @promoid t INNER JOIN
--	    tbtrx_promo A ON t.keyid=A.Id
	end
/* untuk error multi reopen */
--    SELECT * FROM @errtemp
	COMMIT
	EXEC ip_recalculate_balance_by_id @budgetid
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH
GO
