

/****** Object:  StoredProcedure [dbo].[ip_summary_budgeting_DC]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_summary_budgeting_DC] 
		@period int
		, @categoryId int
		, @groupBrandId arrayinttype READONLY
		, @channelid arrayinttype READONLY

AS

	--DECLARE 
	--	@period int
	--	, @categoryId int
	--	, @groupBrandId arrayinttype
	--	, @channelid arrayinttype 

	--SET @period			= 2025
	--SET @categoryId		= 3
	--INSERT INTO @channelid VALUES (0)
	--INSERT INTO @groupBrandId VALUES (0)
	----INSERT INTO @channelid SELECT Id FROM tbmst_channel
	------INSERT INTO @groupBrandId SELECT Id FROM tbmst_brand_group

	----EXEC [ip_summary_budgeting]
	----	@period 
	----	, @categoryId 
	----	, @groupBrandId 
	----	, @channelid

BEGIN
	DROP TABLE IF EXISTS #tmpBrand
	set @categoryId = (select Id from tbmst_category where ShortDesc='DC')

	DECLARE @detail TABLE (
		brand varchar(100)
		, subactivitytype varchar(100)

		, ssVolumeTons float
		--, psVolumeTons float
		, ss float
		, ps float

		, rrTrs float
		, rrPtt float
		, rrApl float
		, rrAld float
		, rrTotal float

		, nrTrs float
		, nrPtt float
		, nrApl float
		, nrAld float
		, nrTotal float

		, totTrs float
		, totPtt float
		, totApl float
		, totAld float
		, totTotal float

	)
	DECLARE @subTotal TABLE (
		brand varchar(100)
		, subactivitytype varchar(100)

		, ssVolumeTons float
		--, psVolumeTons float
		, ss float
		, ps float

		, rrTrs float
		, rrPtt float
		, rrApl float
		, rrAld float
		, rrTotal float

		, nrTrs float
		, nrPtt float
		, nrApl float
		, nrAld float
		, nrTotal float

		, totTrs float
		, totPtt float
		, totApl float
		, totAld float
		, totTotal float
	)
	DECLARE @grandTotal TABLE (
		brand varchar(100)
		, subActivityType varchar(100)

		, ssVolumeTons float
		--, psVolumeTons float
		, ss float
		, ps float

		, rrTrs float
		, rrPtt float
		, rrApl float
		, rrAld float
		, rrTotal float

		, nrTrs float
		, nrPtt float
		, nrApl float
		, nrAld float
		, nrTotal float

		, totTrs float
		, totPtt float
		, totApl float
		, totAld float
		, totTotal float
	)

	DECLARE 
		@promoid arrayinttype
		, @groupBrandId1 arrayinttype
		, @channelId1 arrayinttype 


	IF (SELECT COUNT(*) FROM @channelid WHERE ISNULL(keyid,0)<>0)=0
		BEGIN
			INSERT INTO @channelid1 SELECT Id FROM tbmst_channel
		END
	IF (SELECT COUNT(*) FROM @groupBrandId WHERE ISNULL(keyid,0)<>0)=0
		BEGIN
			INSERT INTO @groupBrandId1 SELECT Id FROM tbmst_brand_group
		END

	INSERT INTO @promoid
		SELECT id FROM tbtrx_promo a
			INNER JOIN @groupBrandId1 b ON a.GroupBrandId = b.keyid AND ISNULL(a.iscancel,0)=0
			WHERE a.Period=@period 
				AND a.CategoryId = (select Id from tbmst_category where ShortDesc='DC')
/* REF
select 
brand, distributor, ssVolumeTons, psVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal
'',	'',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
'' brand, '' distributor, 0 ssVolumeTons, 0 psVolumeTons, 0 ss, 0 ps, 0 rrTrs, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
from @detail
*/

	--DECLARE @categoryShortDesc varchar(50)
	--SET @categoryShortDesc = (SELECT ShortDesc FROM tbmst_category WHERE Id=@categoryId)

	SELECT DISTINCT a.Id groupBrandId, a.LongDesc groupBrand, b.Id subActivityTypeId, b.LongDesc subActivityType, b.SubCategoryId, b.SubCategoryDesc, b.subactivityid, b.SubActivityDesc
		INTO #tmpBrand
		FROM tbmst_brand_group a
		CROSS JOIN (
			SELECT * FROM vw_activity_active a INNER JOIN tbmst_subactivity_type  b ON a.SubActivityTypeId = b.Id WHERE ISNULL(b.IsDeleted,0)=0 AND CategoryDesc='Distributor Cost')b
		

/*brand*/
/*subactivitytype*/
	INSERT INTO @detail
		SELECT DISTINCT groupBrand, subActivityType, 0, 0, 0
			, 0, 0, 0, 0, 0
			, 0, 0, 0, 0, 0
			, 0, 0, 0, 0, 0 FROM #tmpBrand

/*ssVolumeTons*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, a.subactivitytype
			, SUM(b.m1 + b.m2 + b.m3 + b.m4 + b.m5 + b.m6 + b.m7 + b.m8 + b.m9 + b.m10 + b.m11 + b.m12) ssVolumeTons
			, 0 ss, 0 ps
			, 0 rrTrs, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal
			, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal
			, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
		FROM #tmpBrand a
		INNER JOIN tbtrx_ss_volume b ON a.groupbrandid = b.groupbrandid AND b.period = @period
		GROUP BY a.groupBrand, a.subactivitytype 
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.ssVolumeTons= s.ssVolumeTons
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, ssvolumetons, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;

/*psVolumeTons*/
/*ss*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, a.subactivitytype 
			, 0 ssVolumeTons
			, SUM((b.m1*c.m1) + (b.m2*c.m2) + (b.m3*c.m3) + (b.m4*c.m4) + (b.m5*c.m5) + (b.m6*c.m6) + (b.m7*c.m7) + (b.m8*c.m8) + (b.m9*c.m9) + (b.m10*c.m10) + (b.m11*c.m11) + (b.m12*c.m12)) ss
			, 0 ps, 0 rrTrs, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
		FROM #tmpBrand a
		INNER JOIN tbtrx_ss_volume b ON a.groupBrandId = b.groupbrandid AND b.period = @period
		INNER JOIN tbtrx_ss_conversion_rate c ON b.period=c.period AND b.channelid = c.channelid AND b.groupbrandid = c.groupbrandid 
		GROUP BY a.groupBrand, a.subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.ss= s.ss
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, ss, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*ps*/
	MERGE @detail t
	USING (
		SELECT  
			a.groupBrand brand, a.subactivitytype 
			, 0 ssVolumeTons, 0 ss
			, SUM(b.m1 + b.m2 + b.m3 + b.m4 + b.m5 + b.m6 + b.m7 + b.m8 + b.m9 + b.m10 + b.m11 + b.m12) ps
			, 0 rrTrs, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
		FROM #tmpBrand a
		INNER JOIN tbtrx_ps_value b ON a.groupBrandId = b.groupbrandid AND b.period = @period
		GROUP BY a.groupBrand, a.subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.ps = s.ps
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, ps, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*rrTrs*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, SUM(rrTrs) rrTrs
			, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			from (
					SELECT distinct pr.Id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment rrTrs
					FROM #tmpBrand a
					INNER JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
						AND tt.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'TRS')
					INNER JOIN tbtrx_ps_value ps ON tt.period=ps.period AND ps.groupbrandid = tt.groupbrandid AND tt.distributorid = ps.distributorid
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND tt.subActivityId = pr.SubActivityId
						AND pr.period = tt.period 
						AND pr.categoryid = tt.categoryid 
						AND pr.distributorid = tt.distributorid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc = 'Running Rate'
					INNER JOIN @promoid prid ON pr.id=prid.keyid
				)xyz GROUP BY brand , subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.rrTrs= s.rrTrs
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, rrTrs, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;

/*rrPtt*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, SUM(rrPtt) rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			from (
					SELECT distinct pr.Id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment rrPtt
					FROM #tmpBrand a
					INNER JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
						AND tt.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'PTT')
					INNER JOIN tbtrx_ps_value ps ON tt.period=ps.period AND ps.groupbrandid = tt.groupbrandid AND tt.distributorid = ps.distributorid
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND tt.subActivityId = pr.SubActivityId
						AND pr.period = tt.period 
						AND pr.categoryid = tt.categoryid 
						AND pr.distributorid = tt.distributorid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc = 'Running Rate'
					INNER JOIN @promoid prid ON pr.id=prid.keyid
				)xyz GROUP BY brand , subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.rrPtt= s.rrPtt
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, rrPtt, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
--/*rrApl*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, 0 rrPtt, SUM(rrApl) rrApl, 0 rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			from (
					SELECT distinct pr.Id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment rrApl
					FROM #tmpBrand a
					INNER JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
						AND tt.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'APL')
					INNER JOIN tbtrx_ps_value ps ON tt.period=ps.period AND ps.groupbrandid = tt.groupbrandid AND tt.distributorid = ps.distributorid
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND tt.subActivityId = pr.SubActivityId
						AND pr.period = tt.period 
						AND pr.categoryid = tt.categoryid 
						AND pr.distributorid = tt.distributorid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc = 'Running Rate'
					INNER JOIN @promoid prid ON pr.id=prid.keyid
				)xyz GROUP BY brand , subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.rrApl= s.rrApl
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, 0, rrApl, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*rrAld*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, 0 rrPtt, 0 rrApl, SUM(rrAld) rrAld, 0 rrTotal, 0 nrTrs, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			from (
					SELECT distinct pr.Id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment rrAld
					FROM #tmpBrand a
					INNER JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
						AND tt.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'ALD')
					INNER JOIN tbtrx_ps_value ps ON tt.period=ps.period AND ps.groupbrandid = tt.groupbrandid AND tt.distributorid = ps.distributorid
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND tt.subActivityId = pr.SubActivityId
						AND pr.period = tt.period 
						AND pr.categoryid = tt.categoryid 
						AND pr.distributorid = tt.distributorid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc = 'Running Rate'
					INNER JOIN @promoid prid ON pr.id=prid.keyid
				)xyz GROUP BY brand , subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.rrAld= s.rrAld
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, 0, 0, rrAld, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*rrTotal*/
UPDATE @detail SET rrTotal = rrTrs + rrPtt + rrApl + rrAld
/*nrTrs*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal
			, SUM(nrTrs) nrTrs
			, 0 nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			FROM (
					SELECT  DISTINCT pr.id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment nrTrs
					FROM #tmpBrand a
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND pr.period = @period
						AND pr.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'TRS')
						AND a.SubActivityId = pr.SubActivityId
					INNER JOIN @promoid prid ON pr.id=prid.keyid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc <> 'Running Rate'
					LEFT JOIN tbtrx_ps_value ps ON pr.period=ps.period AND ps.groupbrandid = pr.groupbrandid AND pr.distributorid = ps.distributorid
					LEFT JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
				) xyz GROUP BY brand , subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.nrTrs= s.nrTrs
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, 0, 0, 0, 0, nrTrs, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*nrPtt*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal
			, 0 nrTrs
			, SUM(nrPtt) nrPtt, 0 nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			FROM (
					SELECT  DISTINCT pr.id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment nrPtt
					FROM #tmpBrand a
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND pr.period = @period
						AND pr.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'PTT')
						AND a.SubActivityId = pr.SubActivityId
					INNER JOIN @promoid prid ON pr.id=prid.keyid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc <> 'Running Rate'
					LEFT JOIN tbtrx_ps_value ps ON pr.period=ps.period AND ps.groupbrandid = pr.groupbrandid AND pr.distributorid = ps.distributorid
					LEFT JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
				) xyz GROUP BY brand , subactivitytype
		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.nrPtt= s.nrPtt
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, 0, 0, 0, 0, 0, nrPtt, 0, 0, 0, 0, 0, 0, 0, 0)
	;
/*nrApl*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal
			, 0 nrTrs
			, 0 nrPtt, SUM(nrApl) nrApl, 0 nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			FROM (
					SELECT  DISTINCT pr.id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment nrApl
					FROM #tmpBrand a
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND pr.period = @period
						AND pr.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'APL')
						AND a.SubActivityId = pr.SubActivityId
					INNER JOIN @promoid prid ON pr.id=prid.keyid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc <> 'Running Rate'
					LEFT JOIN tbtrx_ps_value ps ON pr.period=ps.period AND ps.groupbrandid = pr.groupbrandid AND pr.distributorid = ps.distributorid
					LEFT JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
				) xyz GROUP BY brand , subactivitytype

		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.nrApl= s.nrApl
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, nrApl, 0, 0, 0, 0, 0, 0, 0)
	;
/*nrAld*/
	MERGE @detail t
	USING (
		SELECT  
			brand, subactivitytype
			, 0 ssVolumeTons, 0 ss, 0 ps
			, 0 rrTrs
			, 0 rrPtt, 0 rrApl, 0 rrAld, 0 rrTotal
			, 0 nrTrs
			, 0 nrPtt, 0 nrApl, SUM(nrAld) nrAld, 0 nrTotal, 0 totTrs, 0 totPtt, 0 totApl, 0 totAld, 0 totTotal
			FROM (
					SELECT  DISTINCT pr.id,
						a.groupBrand brand, a.subactivitytype
						, pr.investment nrAld
					FROM #tmpBrand a
					INNER JOIN tbtrx_promo pr ON 
						a.groupBrandId = pr.groupbrandid 
						AND pr.period = @period
						AND pr.distributorid = (SELECT id FROM tbmst_distributor WHERE shortdesc = 'ALD')
						AND a.SubActivityId = pr.SubActivityId
					INNER JOIN @promoid prid ON pr.id=prid.keyid
					INNER JOIN tbmst_main_activity_dtl mmad ON pr.subactivityid = mmad.subactivityid
					INNER JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id AND mma.longdesc <> 'Running Rate'
					LEFT JOIN tbtrx_ps_value ps ON pr.period=ps.period AND ps.groupbrandid = pr.groupbrandid AND pr.distributorid = ps.distributorid
					LEFT JOIN tbtrx_ss_tt tt ON tt.subactivitytypeid=a.subactivitytypeid AND tt.period=@period AND tt.subactivityid = a.subactivityid AND a.groupbrandid = tt.groupbrandid 
				) xyz GROUP BY brand , subactivitytype

		)s
	ON (s.brand = t.brand AND s.subactivitytype = t.subactivitytype )
	WHEN MATCHED THEN
	UPDATE SET t.nrAld= s.nrAld
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (brand, subactivitytype, ssVolumeTons, ss, ps, rrTrs, rrPtt, rrApl, rrAld, rrTotal, nrTrs, nrPtt, nrApl, nrAld, nrTotal, totTrs, totPtt, totApl, totAld, totTotal)
	VALUES (s.brand, s.subactivitytype, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, nrAld, 0, 0, 0, 0, 0, 0)
	;
/*nrTotal*/
UPDATE @detail SET nrTotal = nrTrs + nrPtt + nrApl + nrAld
/*totTrs*/
UPDATE @detail SET totTrs = rrTrs + nrTrs
/*totPtt*/
UPDATE @detail SET totPtt = nrPtt + nrPtt
/*totApl*/
UPDATE @detail SET totApl = nrApl + nrApl 
/*totAld*/
UPDATE @detail SET totAld = nrAld + nrAld
/*totTotal*/
UPDATE @detail SET totTotal = rrTotal + nrTotal

/*SUB TOTAL*/
	INSERT INTO @subTotal
		SELECT  
			brand, '' subactivitytype
			, SUM(ssVolumeTons), SUM(ss), SUM(ps)
			, SUM(rrTrs), SUM(rrPtt), SUM(rrApl), SUM(rrAld), SUM(rrTotal)
			, SUM(nrTrs), SUM(nrPtt), SUM(nrApl), SUM(nrAld), SUM(nrTotal)
			, SUM(totTrs), SUM(totPtt), SUM(totApl), SUM(totAld), SUM(totTotal)
		FROM @detail GROUP BY brand
/*GRAND TOTAL*/
	INSERT INTO @grandTotal
		SELECT  
			'' brand, '' subactivitytype
			, SUM(ssVolumeTons), SUM(ss), SUM(ps)
			, SUM(rrTrs), SUM(rrPtt), SUM(rrApl), SUM(rrAld), SUM(rrTotal)
			, SUM(nrTrs), SUM(nrPtt), SUM(nrApl), SUM(nrAld), SUM(nrTotal)
			, SUM(totTrs), SUM(totPtt), SUM(totApl), SUM(totAld), SUM(totTotal)
		FROM @detail 

	SELECT * FROM @detail		ORDER BY IIF(brand='DSN',0,IIF(brand='SGM',1,IIF(brand='Nutrilon',2,IIF(brand='Bebelac',3,IIF(brand='NMN',4,9))))), brand, subactivitytype
	SELECT * FROM @subTotal		ORDER BY IIF(brand='DSN',0,IIF(brand='SGM',1,IIF(brand='Nutrilon',2,IIF(brand='Bebelac',3,IIF(brand='NMN',4,9))))), brand, subactivitytype
	SELECT * FROM @grandTotal		ORDER BY IIF(brand='DSN',0,IIF(brand='SGM',1,IIF(brand='Nutrilon',2,IIF(brand='Bebelac',3,IIF(brand='NMN',4,9))))), brand, subactivitytype

HELL:
	DROP TABLE IF EXISTS #tmpBrand
END

GO
