USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_mechanism_del]
	@Id              int ,
	@UserId			varchar(100),
	@UserEmail		varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
--	DECLARE 
--		@EntityId int
--		, @SubActivityId int
--		, @ProductId int
--		, @Channel int
--	
--	SELECT @EntityId = Id FROM tbmst_principal tp WHERE LongDesc = 
		/* Create History Delete */
	
		INSERT INTO tbhis_mechanism(
			ParentId,
			Entity,
			SubCategory,
			Activity,
			SubActivity,
			ProductId,
			Product,
			Mechanism,
			ChannelId,
			Channel,
			StartDate,
			EndDate,
			CreateOn,
			CreateBy,
			CreatedEmail,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail,
			DeleteOn,
			DeleteBy,
			DeleteEmail 
		) SELECT
			Id,
			Entity,
			SubCategory,
			Activity,
			SubActivity,
			ProductId,
			Product,
			Mechanism,
			ChannelId,
			Channel,
			StartDate,
			EndDate,
			CreateOn,
			CreateBy,
			CreatedEmail,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail,
			@utcDate123,
--			(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
			@UserId,
			@UserEmail 	
		FROM tbmst_mechanism WHERE Id = @Id
	
	DELETE FROM tbmst_mechanism WHERE Id = @Id
END
GO
