

/****** Object:  StoredProcedure [dbo].[ip_mst_map_material_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_mst_map_material_list]
as
BEGIN
	SELECT
		t.Id, 
		t.MaterialNumber, 
		t.Description, 
		t.WHT_Type, 
		t.WHT_Code, 
		t.Purpose, 
		t.EntityId, 
		t.Entity, 
		t.PPNPct,
		t.PPHPct,
		t.CreateOn, 
		t.CreateBy, 
		uc.username AS CreateByName, 
		t.ModifiedOn, 
		t.ModifiedBy, 
		um.username AS ModifiedByName, 
		t.IsDelete, 
		t.DeleteOn, 
		t.DeleteBy, 
		ud.username AS DeleteByName

		, t.CreatedEmail
		--, IsDeleted
		--, DeletedOn
		--, DeleteBy
		, t.DeleteEmail

	FROM
		tbset_mapping_material t 
		LEFT JOIN tbset_user           uc ON t.CreateBy      = uc.id
		LEFT JOIN tbset_user           um ON t.ModifiedBy    = um.id
		LEFT JOIN tbset_user           ud ON t.DeleteBy      = ud.id
END

GO
