

/****** Object:  StoredProcedure [dbo].[ip_mst_cancelreason_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_cancelreason_list]
	-- Add the parameters for the stored procedure here
-- 	@status int
AS
BEGIN
    SELECT id, longdesc, createon, createby, modifiedon, modifiedby, isdeleted, deletedon, deletedby
    FROM tbmst_cancelreason
    WHERE isnull(IsDeleted, 0) = 0
END
GO
