USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_list] --'2020',1,0,0,0,'GCMMTI'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 1
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
AS
/*
	EJ 2020-02-28 Change filter user by derivative for promo display
*/

BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	  --BudgetType varchar(3),
	  --BudgetName varchar(255),
	  --InitialBudgetAmount numeric(18,0),
	  --PromoCreated numeric(18,0),
	  --TotalSpending numeric(18,0),
	  --DnClaim numeric(18,0),
	  --DnPaid numeric(18,0),
	  --Available numeric(18,0)
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);
--	INSERT INTO @Temp
--	SELECT  
--	Levels,
--	BDG_PARENT BudgetParent,
--	PARENT.Id BudgetId,
--	PARENT.BudgetType,
--	PARENT.LongDesc BudgetName,
--	PARENT.BudgetAmount as InitialBudgetAmount,
--	coalesce(TPP.FixCost,0) AS PromoCreated,
--	(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) AS TotalSpending,
--	COALESCE(TPP.TotalClaim,0) DnClaim,
--	COALESCE(TPP.TotalPaid,0) DnPaid,
--	PARENT.BudgetAmount-(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) as AVAILABLE
--	FROM tbtrx_allocation PARENT
--	LEFT JOIN
--	(
--			SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
--			INNER JOIN
--			(
--				SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
--				LEFT JOIN
--					tbtrx_budgetassignment
--				ON
--					tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
--			) 
--B
--			ON A.BudgetSourceId=B.Id
--				and A.BudgetType='BTR'
--			where 
--			A.IsActive=1 GROUP BY B.AllocationId
--	) CHILD ON PARENT.Id=CHILD.AllocationId 
--	LEFT JOIN
--	(
--	SELECT	tbtrx_allocation_balance.AllocationId AS AllocationId,SUM(Investment) FixCost,SUM(ISNULL(TotalClaim, 0)) TotalClaim,
--							SUM(ISNULL(TotalPaid, 0)) TotalPaid
--					  FROM	tbtrx_promo
--							INNER JOIN tbtrx_allocation_balance
--							ON
--								tbtrx_promo.AllocationId = tbtrx_allocation_balance.AllocationId
--								AND tbtrx_promo.SubCategoryId = tbtrx_allocation_balance.SubCategoryId
--							LEFT JOIN (
--											SELECT tbtrx_promo.Id AS PromoId,
--												   SUM(ISNULL(TotalClaim, 0)) OVER(PARTITION BY tbtrx_promo.Id)  AS TotalClaim
--											  FROM tbtrx_promo
				
--								   LEFT JOIN tbtrx_debetnote
--												   ON tbtrx_promo.Id = tbtrx_debetnote.PromoId									   
--											--GROUP BY tbtrx_promo.Id	
--							) DN
--							ON
--								DN.PromoId = tbtrx_promo.Id
--														LEFT JOIN (
--											SELECT tbtrx_promo.Id AS PromoId,
--												   SUM(ISNULL(TotalPaid, 0)) OVER(PARTITION BY tbtrx_promo.Id)  AS TotalPaid
--											  FROM tbtrx_promo
--												   LEFT JOIN tbtrx_debetnote
--												   ON tbtrx_promo.Id = tbtrx_debetnote.PromoId									   
				
--							--GROUP BY tbtrx_promo.Id	
--							) DNPAID
--							ON
--								DN.PromoId = tbtrx_promo.Id
--						GROUP BY tbtrx_allocation_balance.AllocationId
--		)TPP ON TPP.AllocationId=PARENT.Id
--	INNER JOIN (select BDG_PARENT,BDG_CHILD,Levels,Rownumber from CTE) sourcetbl ON sourcetbl.BDG_CHILD=PARENT.Id  order by Levels
--	option (maxrecursion 0);


			/***/
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	select distinct	  
	  p.LongDesc Entity
	  ,d.LongDesc Distributor
	  ,p.LongDesc PrincipalDesc
	  ,pr.Id PromoId
	  ,pr.RefId
	  ,pr.ActivityDesc	
	  ,pr.LastStatus
	  ,c.LongDesc Allocation 
	  ,pr.Investment
	  ,pr.tscoding
	from @temp a
	inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
    inner join tbtrx_allocation c on a.BudgetId=c.Id 
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join tbset_user uo on uo.Id=usr.UserId
--	inner join tbset_user uf on uf.Id=usr.UserId
	left join
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',usr.UserId) =IIF(@userid='0','',@userid)
--	AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
	ORDER BY pr.Id

END

GO
