

/****** Object:  StoredProcedure [dbo].[ip_config_promo_items_gethis]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_config_promo_items_gethis] --2024
@year int
,@category varchar(2)
AS

--declare @year int
--set @year=2024
--select * from tbhis_config_promo_items
BEGIN
	SELECT 
		conf.id,
		iif(conf.status = 'delete', 'old', 'new') status,
		conf.categoryId,
		mc.shortDesc categoryShortDesc,
		mc.longDesc categoryLongDesc,
		conf.budgetYear,
		conf.promoPlanning,
		conf.budgetSource,
		conf.entity,
		conf.distributor,
		conf.subCategory,
		conf.activity,
		conf.subActivity,
		conf.subActivityType,
		conf.startPromo,
		conf.endPromo,
		conf.activityName,
		conf.initiatorNotes,
		conf.incrSales,
		conf.investment,
		conf.channel,
		conf.subChannel,
		conf.account,
		conf.subAccount,
		conf.region,
		conf.groupBrand,
		conf.brand,
		conf.SKU,
		conf.mechanism,
		conf.attachment,
		conf.ROI,
		conf.CR,	
		conf.createOn,
		conf.createBy,
		conf.createdEmail
	FROM tbhis_config_promo_items conf
	INNER JOIN tbmst_category mc ON conf.categoryId = mc.id
	WHERE year(conf.createon) = @year
	AND mc.shortdesc = @category
END
GO
