USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_skpflag_fordanny]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_skpflag_fordanny] 
@iscancel int, @period int
as
select
a.refid PromoID,
b.CategoryDesc, b.SubActivityDesc, b.ActivityDesc, b.SubActivityDesc, 
a.ActivityDesc, a.StartPromo, a.EndPromo
--, a.Mechanisme1, a.Mechanisme2, a.Mechanisme3, a.Mechanisme4
,x.mechanism, '' Mechanisme2, '' Mechanisme3, '' Mechanisme4
, a.Investment, a.NormalSales, a.IncrSales, a.Roi, a.CostRatio, a.StatusApproval, a.StatusApprovalRecon, 
a.CreateOn, a.CreateBy, 
c.SKPDraftAvail, c.SKPDraftAvailBfrAct60, c.EntityDraft, c.BrandDraft, c.PeriodDraft, c.ActivityDescDraft, c.MechanismDraft, c.InvestmentDraft, c.DistributorDraft, c.ChannelDraft, c.StoreNameDraft, 
c.PeriodMatch, c.InvestmentMatch, c.MechanismMatch, c.SKPSign7, c.Entity, c.Brand, c.ActivityDesc, c.Distributor, c.Channel, c.StoreName
from tbtrx_promo a
inner join vw_activity b on a.subactivityid=b.subactivityid
/************************************************************************************/
INNER JOIN (
select a.id, string_agg(ac.Mechanism,' ;') mechanism
	from tbtrx_promo a with (nolock)
		INNER join tbtrx_promo_mechanism ac with (nolock) ON a.id=ac.PromoId
		INNER JOIN tbtrx_promo_planning b on a.PromoPlanId=b.Id
	WHERE 	IIF(@period=0,0,year(a.endpromo)) = IIF(@period=0,0,@period) 
    GROUP BY a.id
)x on a.Id=x.Id
/************************************************************************************/
left join tbtrx_promo_skp_validate c on a.Id=c.PromoId
where 
	IIF(@iscancel=0,0,isnull(a.iscancel,0))=0 and
	IIF(@period=0,0,year(a.endpromo)) = IIF(@period=0,0,@period) 
GO
