

/****** Object:  StoredProcedure [dbo].[ip_promo_historical_movement_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_promo_historical_movement_p] --'2020',3,1,0,'5','scsh1'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

,@start int
,@length int
,@txtSearch varchar(255)
AS


--declare
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel varchar(50)
--,@userid varchar(50)

--,@start int
--,@length int
--,@txtSearch varchar(255)


--set  @periode ='2032'
--set  @entity =3
--set  @distributor =3
--set  @budgetparent =0
--set  @channel =0
--set  @userid ='admin'

--set  @start =0
--set  @length =10
--set  @txtSearch =''


BEGIN
    DECLARE @recordsFiltered int;
    drop table if exists #temp_movement;
	DECLARE @SQL NVARCHAR(MAX)
--	SET @order = IIF(@order is null,'RefId', @order)
	--SET @start = @start * @length

	declare @alloc as table
	(
		allocationid int
	)
	
	
	insert into @alloc
	select AllocationId from vw_budget_vs_user where Id=@userid
	
	SELECT 
		a.CreateOn
		,channel.ChannelDesc
		,IIF(pr.CategoryId<>3,'---', account.AccountDesc) [AccountDesc]
		,c.LongDesc
		,pr.RefId
		,IIF(pr.CategoryId<>3,'---', pr.ActivityDesc) [ActivityDesc]
		,a.CreateBy
		,isnull(CAST(LAG(TotSales) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') TotSalesBefore
		,TotSales TotSalesAfter
		,isnull(CAST(LAG(TotInvest) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') TotInvestBefore
		,TotInvest TotInvestAfter
		,isnull(CAST(LAG(a.StartPromo) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') StartPromoBefore
		,a.StartPromo StartPromoAfter
		,isnull(CAST(LAG(a.EndPromo) OVER (PARTITION BY a.Parentid ORDER BY a.Id) AS VARCHAR),'') EndPromoBefore
		,a.EndPromo EndPromoAfter		
	INTO #temp_movement
	FROM tbtrx_promo_request_approval a
	left join tbtrx_promo pr on a.Parentid=pr.id 
    LEFT JOIN
    (
      	SELECT PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
		    FROM tbtrx_promo_channel a WITH (NOLOCK)
		    INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
			INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) channel ON a.ParentId = channel.PromoId
    LEFT JOIN
    (
    	SELECT PromoId, STRING_AGG(ac.LongDesc,', ') AccountDesc
        	FROM tbtrx_promo_account a WITH (NOLOCK)
     		INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
            INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) account ON a.ParentId = account.PromoId
	left join tbtrx_allocation c on a.AllocationId=c.Id
	inner join @alloc d on d.allocationId=c.Id
	inner join vw_budget_vs_entity e on e.AllocationId=d.allocationid 	
	inner join vw_budget_vs_channel f on f.alcid=e.AllocationId
	inner join vw_budget_last_layer g on g.Id=f.AlcId
	where IIF(@entity=0,0,@entity)=IIF(@entity=0,0,e.EntityId)
	AND IIF(@channel=0,0,@channel)=IIF(@channel=0,0,f.Id)
	and c.Periode=@periode
		


    /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(RefId),0) FROM #temp_movement
		WHERE 
			(RefId like '%' + isnull(@txtSearch,'') + '%') OR 
			(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			(StartPromoBefore like '%' + isnull(@txtSearch,'') + '%') OR
			(StartPromoAfter like '%' + isnull(@txtSearch,'') + '%') OR
			(EndPromoBefore like '%' + isnull(@txtSearch,'') + '%') OR
			(EndPromoAfter like '%' + isnull(@txtSearch,'') + '%') OR
			(TotInvestBefore like '%' + isnull(@txtSearch,'') + '%') OR
			(TotInvestAfter like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(RefId),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_movement
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_movement
				order by createon'

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_movement
				WHERE 
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(StartPromoBefore like ''%' + isnull(@txtSearch,'') + '%'') OR
					(StartPromoAfter like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EndPromoBefore like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EndPromoAfter like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotInvestBefore like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotInvestAfter like ''%' + isnull(@txtSearch,'') + '%'')
				order by createon'
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_movement 
				order by createon
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_movement
				WHERE 
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(StartPromoBefore like ''%' + isnull(@txtSearch,'') + '%'') OR
					(StartPromoAfter like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EndPromoBefore like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EndPromoAfter like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotInvestBefore like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotInvestAfter like ''%' + isnull(@txtSearch,'') + '%'') 
				order by createon
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    drop table #temp_movement
    /**********************
        end pagination
     **********************/				
		
END

GO
