

/****** Object:  StoredProcedure [dbo].[ip_summary_aging_approval_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[ip_summary_aging_approval_p] --'2020',0,0,0,'0','admin'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

,@start int
,@length int
,@txtSearch varchar(255)
AS

/*TESTING PURPOSE***********************/
--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel varchar(50)
--,@userid varchar(50)
--,@start int
--,@length int
--,@txtSearch varchar(255)

--SET @periode='2023'
--SET @entity=0
--SET @distributor=0
--SET @budgetparent=0
--SET @channel='0'
--SET @userid='admin'
--SET @start =0
--SET @length =-1
--SET @txtSearch =''
/***********************TESTING PURPOSE*/

BEGIN

    DECLARE @recordsFiltered int;
    drop table if exists #temp_summary;
	drop table if exists #temp_summary2025;
	DECLARE @SQL NVARCHAR(MAX)
	SET @start = @start * @length

	IF @periode <= 2024
	BEGIN
		SELECT
		ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) line_index
		,(CASE WHEN grouping([Approver UserName])=0 and grouping([Approver Id])=1 and grouping([Promo No])=1
			THEN 'Subtotal'
		ELSE
				CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN [Approver UserName] ELSE '' END
		END) [user_name]
		,(CASE WHEN grouping([Approver UserName])=1 and 
			grouping([Approver Id])=0 and 
			grouping([Promo No])=1
			THEN 'Subtotal'
		ELSE
			CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN isnull([Approver Id],'') ELSE '' END
		END) [user_id]
		
		  ,(CASE WHEN grouping([Approver UserName])=0 and 
			grouping([Approver Id])=1 and 
			grouping([Promo No])=1
			THEN 
				CAST((ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]))-1 AS VARCHAR)
			ELSE
				CAST([Promo No] AS VARCHAR)
			END) promo_ref_id
		  ,SUM([Aging]) aging 
		  ,IIF(SUM(Agingpenyebut)>0,  ROUND(sum(aging) * 1.00 / sum(agingpenyebut) * 1.00, 0), 0) avgAging
	INTO #temp_summary
	FROM VW_HISTORICAL_APPROVAL his
  	inner join tbtrx_allocation c on his.AllocationId=c.Id 
    inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id	
	  left join
				(
					select PromoId,
					STUFF(
							(select ',' + CAST(chn.Id AS VARCHAR) 
								from tbtrx_promo_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.PromoId=b.PromoId
								FOR XML PATH ('')),1,1,'') AS ChannelId
					,STUFF(
							(select ',' + chn.LongDesc 
								from tbtrx_promo_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.PromoId=b.PromoId
								FOR XML PATH ('')),1,1,'') AS ChannelDesc
						FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
				) chn
				on c.Id = chn.PromoId
	  WHERE 
	  [Budget Periode] = @periode  
	  and IIF(@entity='0','',m.principalid) =IIF(@entity='0','',@entity)
	  AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=his.AllocationId)
	
	  GROUP BY grouping sets(([Approver Id],[Approver UserName],[Promo No])
	  						, ([Approver Id])					   
	                      )
	order by line_index

		/**********************
			start pagination
		 **********************/
		SET @recordsFiltered = (
    		SELECT isnull(count(promo_ref_id),0) FROM #temp_summary
			WHERE 
				(promo_ref_id like '%' + isnull(@txtSearch,'') + '%') OR 
				(user_name like '%' + isnull(@txtSearch,'') + '%') OR
				(user_id like '%' + isnull(@txtSearch,'') + '%')
		)

		SELECT isnull(count(promo_ref_id),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_summary
	
	
		IF @length = -1
		BEGIN
			IF @txtSearch is null
    		BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary			
					order by line_index'

				EXEC sys.sp_executesql @SQL
			END 
			ELSE 
			BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary
					WHERE 
						(promo_ref_id like ''%' + isnull(@txtSearch,'') + '%'') OR 
						(user_name like ''%' + isnull(@txtSearch,'') + '%'') OR
						(user_id like ''%' + isnull(@txtSearch,'') + '%'')
					order by line_index'
				EXEC sys.sp_executesql @SQL
			END
		END
		ELSE
		BEGIN
			IF @txtSearch is null
    		BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary
					order by line_index 
					OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
				EXEC sys.sp_executesql @SQL
			END 
			ELSE 
			BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary
					WHERE 
						(promo_ref_id like ''%' + isnull(@txtSearch,'') + '%'') OR 
						(user_name like ''%' + isnull(@txtSearch,'') + '%'') OR
						(user_id like ''%' + isnull(@txtSearch,'') + '%'')
					order by line_index 
					OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
				EXEC sys.sp_executesql @SQL
			END	    
		END
        
		drop table #temp_summary
		/**********************
			end pagination
		 **********************/				
	END
	ELSE
	BEGIN
		SELECT
			ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) line_index
			,(CASE WHEN grouping([Approver UserName])=0 and grouping([Approver Id])=1 and grouping([Promo No])=1
				THEN 'Subtotal'
			ELSE
					CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN [Approver UserName] ELSE '' END
			END) [user_name]
			,(CASE WHEN grouping([Approver UserName])=1 and 
				grouping([Approver Id])=0 and 
				grouping([Promo No])=1
				THEN 'Subtotal'
			ELSE
				CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN isnull([Approver Id],'') ELSE '' END
			END) [user_id]
		
			  ,(CASE WHEN grouping([Approver UserName])=0 and 
				grouping([Approver Id])=1 and 
				grouping([Promo No])=1
				THEN 
					CAST((ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]))-1 AS VARCHAR)
				ELSE
					CAST([Promo No] AS VARCHAR)
				END) promo_ref_id
			  ,SUM([Aging]) aging 
			  ,IIF(SUM(Agingpenyebut)>0,  ROUND(sum(aging) * 1.00 / sum(agingpenyebut) * 1.00, 0), 0) avgAging
		INTO #temp_summary2025
		FROM VW_HISTORICAL_APPROVAL his
		INNER JOIN tbtrx_promo pr ON his.id = pr.id
		left join
				(
					select PromoId,
					STUFF(
							(select ',' + CAST(chn.Id AS VARCHAR) 
								from tbtrx_promo_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.PromoId=b.PromoId
								FOR XML PATH ('')),1,1,'') AS ChannelId
					,STUFF(
							(select ',' + chn.LongDesc 
								from tbtrx_promo_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.PromoId=b.PromoId
								FOR XML PATH ('')),1,1,'') AS ChannelDesc
						FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
				) chn
				on his.id = chn.PromoId
		  WHERE 
		  [Budget Periode] = @periode  
		  and IIF(@entity='0','',pr.entityId) =IIF(@entity='0','',@entity)
	
		  GROUP BY grouping sets(([Approver Id],[Approver UserName],[Promo No])
	  							, ([Approver Id])					   
							  )
		order by line_index

		/**********************
			start pagination
		 **********************/
		SET @recordsFiltered = (
    		SELECT isnull(count(promo_ref_id),0) FROM #temp_summary2025
			WHERE 
				(promo_ref_id like '%' + isnull(@txtSearch,'') + '%') OR 
				(user_name like '%' + isnull(@txtSearch,'') + '%') OR
				(user_id like '%' + isnull(@txtSearch,'') + '%')
		)

		SELECT isnull(count(promo_ref_id),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_summary2025
	
	
		IF @length = -1
		BEGIN
			IF @txtSearch is null
    		BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary2025	
					order by line_index'

				EXEC sys.sp_executesql @SQL
			END 
			ELSE 
			BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary2025
					WHERE 
						(promo_ref_id like ''%' + isnull(@txtSearch,'') + '%'') OR 
						(user_name like ''%' + isnull(@txtSearch,'') + '%'') OR
						(user_id like ''%' + isnull(@txtSearch,'') + '%'')
					order by line_index'
				EXEC sys.sp_executesql @SQL
			END
		END
		ELSE
		BEGIN
			IF @txtSearch is null
    		BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary2025
					order by line_index 
					OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
				EXEC sys.sp_executesql @SQL
			END 
			ELSE 
			BEGIN
				SET @SQL = '
					SELECT * FROM #temp_summary2025
					WHERE 
						(promo_ref_id like ''%' + isnull(@txtSearch,'') + '%'') OR 
						(user_name like ''%' + isnull(@txtSearch,'') + '%'') OR
						(user_id like ''%' + isnull(@txtSearch,'') + '%'')
					order by line_index 
					OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
				EXEC sys.sp_executesql @SQL
			END	    
		END
        
		drop table #temp_summary2025
		/**********************
			end pagination
		 **********************/				

	END
END
GO
