

/****** Object:  StoredProcedure [dbo].[ip_promo_list_reporting_post_recon_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_reporting_post_recon_p] --'2020',0,0,0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31',30
 @periode varchar(4)
,@category int=NULL
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@submission_param int

,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)

AS

-- DECLARE
--	 @periode varchar(4)
--	,@category int=NULL
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@create_from date
--	,@create_to date
--	,@start_from date
--	,@start_to date
--	,@submission_param int

--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--SET @periode ='2025'
--SET @entity =0
--SET @distributor =0
--SET @budgetparent =0
--SET @channel =0
--SET @userid ='admin'
--SET @create_from ='2000-01-01'
--SET @create_to ='2025-12-31'
--SET @start_from ='2025-01-01'
--SET @start_to ='2025-12-31'
--SET @submission_param = 0

--SET @start =0
--SET @length =-1
--SET @filter =''
--SET @txtSearch ='SGM00033/AL25/RC'


BEGIN
    DROP TABLE IF EXISTS #tmp_dn
	DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;
	DROP TABLE IF EXISTS #tmphistory

/****************************/
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	SET @category = ISNULL(@category,0)
	SET @entity = ISNULL(@entity,0)
	SET @distributor  = ISNULL(@distributor,0)
	SET @budgetparent  = ISNULL(@budgetparent,0)
	SET @channel  = ISNULL(@channel,0)
	SET @userid  = ISNULL(@userid,'')


    DROP TABLE IF EXISTS #temp_promo;

    DECLARE @recordsFiltered int;
--	SET @order = IIF(@order is null,'RefId', @order)
	--SET @start = @start * @length
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;

	DROP TABLE IF EXISTS #temp_promo_his;

	SELECT id, allocationid, CategoryShortDesc INTO #temp_promo_id FROM tbtrx_promo pr WITH (NOLOCK)
		WHERE
		CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
		AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)

 /*****************************************/
 			SELECT his.id, min(his.parentid) parentid
			INTO #temp_promo_his
			FROM tbhis_promo his WITH (NOLOCK)
			INNER JOIN #temp_promo_id prid WITH (NOLOCK) ON his.id = prid.id
			WHERE isnull(his.reconciled, 0) = 1
			GROUP BY his.id
/*****************************************/
    /****************************/
	DROP TABLE IF EXISTS #temp_promo_channel

	SELECT PromoId, STRING_AGG(chn.LongDesc,' ,') ChannelDesc
	INTO #temp_promo_channel
            FROM tbtrx_promo_channel a WITH (NOLOCK)
            INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
  			INNER JOIN #temp_promo_id pr WITH (NOLOCK) ON pr.Id=a.PromoId
        WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
	GROUP BY a.PromoId

    /****************************/
	DROP TABLE IF EXISTS #temp_promo_subchannel

	SELECT PromoId, STRING_AGG(subchn.LongDesc,' ,') SubChannelDesc
	INTO #temp_promo_subchannel
		FROM tbtrx_promo_subchannel a WITH (NOLOCK)
        INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
        INNER JOIN #temp_promo_id pr WITH (NOLOCK) ON pr.Id=a.PromoId
    GROUP BY a.PromoId
	/****************************/

	DROP TABLE IF EXISTS #temp_promo_account

	SELECT PromoId, STRING_AGG(ac.LongDesc,' ,') AccountDesc
	INTO #temp_promo_account
            FROM tbtrx_promo_account a WITH (NOLOCK)
            INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
            INNER JOIN #temp_promo_id pr WITH (NOLOCK) ON pr.Id=a.PromoId
    GROUP BY a.PromoId

	/****************************/
	DROP TABLE IF EXISTS #temp_promo_subaccount

	SELECT PromoId, STRING_AGG(sac.LongDesc,' ,') SubAccountDesc
	INTO #temp_promo_subaccount
            FROM tbtrx_promo_subaccount a WITH (NOLOCK)
            INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
            INNER JOIN #temp_promo_id pr WITH (NOLOCK) ON pr.Id=a.PromoId
    GROUP BY a.PromoId
	/****************************/
	DROP TABLE IF EXISTS #temp_promo_groupbrand

	select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
	INTO #temp_promo_groupbrand
	FROM
	(
			SELECT distinct 
				b.PromoId, a.longDesc
			FROM tbmst_brand_group a
			INNER JOIN 
			(
				select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
				INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId 
				INNER JOIN #temp_promo_id pr WITH (NOLOCK) ON pr.Id=b.PromoId
				INNER JOIN tbtrx_allocation_brand d WITH (NOLOCK) ON b.BrandId=d.BrandId AND pr.allocationid=d.allocationid
			) b on a.Id=b.BrandGroupId
	) groupbrand
	group by groupbrand.promoid

	/****************************/

	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')BrandDesc INTO #temp_brand FROM tbmst_brand
	SELECT 1234567890 PromoId, STRING_AGG(longdesc,', ')skuDesc INTO #temp_SKU FROM tbmst_product where principalid=2
	DELETE FROM #temp_brand
	DELETE FROM #temp_SKU

	IF @periode>='2025'
		BEGIN
			INSERT INTO #temp_brand (PromoId, BrandDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')BrandDesc 
			FROM #temp_promo_id a
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbmst_product mp on c.ProductId=mp.Id
			INNER JOIN tbmst_brand e on c.BrandId=e.Id
			GROUP BY a.Id

			INSERT INTO #temp_sku (PromoId, skuDesc)
			SELECT a.Id PromoId, STRING_AGG(e.longdesc,', ')SKUDesc FROM #temp_promo_id a
			INNER JOIN tbtrx_promo_product c on a.id=c.promoid
			INNER JOIN tbmst_product e on c.ProductId=e.Id AND ISNULL(e.IsDeleted,0)=0 
			GROUP BY a.Id

		END

--    SELECT
--        pr.StartPromo
--        , pr.EndPromo
--        , pr.CreateOn
--        , pr.CreateBy
--        , pr.ModifiedOn
--        , pr.RefId
--        , pr.ActivityDesc
--        , pr.RefId + ' - 1' smartCode 
--        , mechanism.mechanism Mechanism
--        , pc.Baseline
--        , pc.TotalSales
--        , pc.Uplift
--        , pc.SalesContribution
--        , pc.StoresCoverage
--        , pc.RedemptionRate
--        , pc.CR
--        , pc.Cost
--        , mechanism.mechanism MechanismBefore
--        , pc.Baseline BaselineBefoe
--        , pc.TotalSales TotalSalesBefore
--        , pc.Uplift UpliftBefore
--        , pc.SalesContribution SalesContributionBefore
--        , pc.StoresCoverage StoresCoverageBefore
--        , pc.RedemptionRate RedemptionRateBefore
--        , pc.CR CRBefore
--        , pc.Cost CostBefore
--        , pr.Mechanisme1
--        , pr.Mechanisme2
--        , pr.Mechanisme3
--        , pr.Mechanisme4
--        , pr.IsCancel
--        , pr.CancelBy
--        , pr.CancelOn
--        , pr.CancelByName
--        , pr.StatusApprovalCode
----        , pr.LastStatus
--        , pr.ApproveOn
--        , pr.ApprovalNotes
--        , pr.ApproverName
--        , IIF(@periode>='2025', ISNULL(pc.baseline, 0), pr.NormalSales) NormalSales
--        , IIF(@periode>='2025', ROUND(ISNULL(pc.baseline, 0)*pc.uplift/100,0), pr.IncrSales) IncrSales
--        , IIF(ISNULL(pc.promoid,0)=0, pr.investment, pc.cost) Investment
--        , IIF(@periode>='2025', round(pc.cost/NULLIF(pc.totalsales,0),2) ,pr.CostRatio) CostRatio
--        , pr.tsCoding
--        , pr.IsClose
--        , pr.AllocationId
--        , pr.SubCategoryId
--        , pr.Approver
--        , pr.ActivityId
--        , pr.SubActivityId
--        , pr.Id
--        , pr.PromoPlanId
--        , pr.Reconciled
--        , pr.ReconciledOn
--        , pr.ReconciledBy
--        , pr.StatusApprovalCodeRecon
--        , pr.LastStatusRecon
--        , pr.ApproverRecon
--        , pr.ApproveOnRecon
--        , pr.ApproverReconName
--        , tpa.ActionDate
--        , tpa.RequestDate
--        , tpar.ActionDate ActionDateRecon
--        , tpar.RequestDate RequestDateRecon
--        , r.CancelReason
--        ,IIF(ISNULL(pr.actual_sales, 0)=0, ISNULL(baseline.asales,0), ISNULL(pr.actual_sales, 0)) actual_sales
--        , pr.initiator_notes
--        ,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendback_notes
--        ,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendback_notes_date
--        ,pr.InvestmentTypeId
--        ,pr.late_submission_day
--		,pr.categoryId
--		,cat.LongDesc categoryLongDesc
--		,cat.ShortDesc categoryShortDesc
--		,IIF(pr.laststatus='Draft', 'Draft', IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
--		,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + tulRecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(tulRecon.username as varchar), pr.LastStatusRecon + '-' + CAST(tulRecon.username as varchar)  ))), 'BY', 'by') LastReconStatus
--		,pr.DistributorId, pr.EntityId, pr.period, pr. GroupBrandId
--		INTO #temp_promo
--		FROM tbtrx_promo pr
--		LEFT JOIN tbset_user tu ON pr.Approver = tu.id 
--		LEFT JOIN tbset_user_login tul ON tu.email = tul.email 
--		LEFT JOIN tbset_user tuRecon ON pr.ApproverRecon = tuRecon.id 
--		LEFT JOIN tbset_user_login tulRecon ON tuRecon.email = tulRecon.email 
--		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
--	    INNER JOIN
--	    (
--	        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
--	                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
--	            GROUP BY a.PromoId
--	    ) mechanism ON pr.Id = mechanism.PromoId   		
--        LEFT JOIN tbtrx_promo_cancel_request r ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
--        LEFT JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
--        LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
--        LEFT JOIN tbtrx_promo_request_approval_recon tprar ON pr.id=tprar.ParentId AND ISNULL(tprar.IsCancel, 0)=0
--        LEFT JOIN tbtrx_promo_approval_recon tpar ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
--        LEFT JOIN tbhlp_baseline_promo baseline ON pr.id=baseline.id
--        LEFT JOIN vw_promo_sendback_notes_last note ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
--		LEFT JOIN tbtrx_promo_calculator pc ON pr.Id=pc.PromoId
--        WHERE
--		CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
--		AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
--		AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)

 
----	DELETE FROM #temp_promo

--    INSERT INTO @temp_promo
	SELECT 
        pr.StartPromo
        , pr.EndPromo
        , pr.CreateOn
        , pr.CreateBy
        , pr.ModifiedOn
        , pr.RefId
        , pr.ActivityDesc
        , CONCAT(pr.RefId, ' - 1') smartCode 
        , mechanism.mechanism Mechanism
        , pc.Baseline
        , pc.TotalSales
        , pc.Uplift
        , pc.SalesContribution
        , pc.StoresCoverage
        , pc.RedemptionRate
        , pc.CR
        , pc.Cost
        , mechanism.mechanism MechanismBefore
        , pr_calc_bfr.Baseline baselineBefore
        , pr_calc_bfr.TotalSales totalSalesBefore
        , pr_calc_bfr.Uplift upliftBefore
        , pr_calc_bfr.SalesContribution salesContributionBefore
        , pr_calc_bfr.StoresCoverage storesCoverageBefore
        , pr_calc_bfr.RedemptionRate redemptionRateBefore
        , pr_calc_bfr.CR crBefore
        , pr_calc_bfr.Cost costBefore
        , pr.Mechanisme1
        , pr.Mechanisme2
        , pr.Mechanisme3
        , pr.Mechanisme4
        , pr.IsCancel
        , pr.CancelBy
        , pr.CancelOn
        , pr.CancelByName
        , pr.StatusApprovalCode
--        , pr.LastStatus
        , pr.ApproveOn
        , pr.ApprovalNotes
        , pr.ApproverName
        , IIF(@periode>='2025', ISNULL(pc.baseline, 0), pr.NormalSales) NormalSales
        , IIF(@periode>='2025', ROUND(ISNULL(pc.baseline, 0)*pc.uplift/100,0), pr.IncrSales) IncrSales
        , IIF(ISNULL(pc.promoid,0)=0, pr.investment, pc.cost) Investment
        , IIF(@periode>='2025', round(pc.cost/NULLIF(pc.totalsales,0),2) ,pr.CostRatio) CostRatio
        , pr.TsCoding
        , pr.IsClose
        , pr.AllocationId
        , pr.SubCategoryId
        , pr.Approver
        , pr.ActivityId
        , pr.SubActivityId
        , pr.Id
        , pr.PromoPlanId
        , pr.Reconciled
        , pr.ReconciledOn
        , pr.ReconciledBy
        , pr.StatusApprovalCodeRecon
        , pr.LastStatusRecon
        , pr.ApproverRecon
        , pr.ApproveOnRecon
        , pr.ApproverReconName
        , tpa.ActionDate
        , tpa.RequestDate
        , tpar.ActionDate ActionDateRecon
        , tpar.RequestDate RequestDateRecon
        , r.CancelReason
        ,IIF(ISNULL(pr.actual_sales, 0)=0, ISNULL(baseline.asales,0), ISNULL(pr.actual_sales, 0)) actual_sales
        , pr.initiator_notes
        --,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendback_notes
        --,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendback_notes_date
        ,pr.InvestmentTypeId
        ,pr.late_submission_day
		,pr.categoryId
		,cat.LongDesc categoryLongDesc
		,cat.ShortDesc categoryShortDesc
		--,IIF(pr.laststatus='Draft', 'Draft', IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(upper(pr.CancelBy) as varchar) + '-' + CAST(pr.CancelByName as varchar), IIF(pr.laststatus='Draft', 'Draft', IIF(upper(pr.StatusApproval)='APPROVED',pr.LastStatus + '-' + CAST(tul.username as varchar), IIF(upper(pr.StatusApproval)='SENDBACK', CAST(pr.LastStatus as varchar) + '-' + CAST(tul.username as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(tul.username as varchar) )))) LastStatus
		,REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + tulRecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(tulRecon.username as varchar), pr.LastStatusRecon + '-' + CAST(tulRecon.username as varchar)  ))), 'BY', 'by') LastReconStatus
		,pr.DistributorId, pr.EntityId, pr.period, pr. GroupBrandId
		INTO #temp_promo
		FROM tbtrx_promo pr WITH (NOLOCK)
		INNER JOIN #temp_promo_id prid ON pr.id = prid.id
				--INNER JOIN tbset_promo_mechanism_input_method pmim ON pr.SubActivityId = pmim.subActivityId AND pmim.inputMethod=0
		LEFT JOIN tbset_user tu ON pr.Approver = tu.id 
		LEFT JOIN tbset_user_login tul ON tu.email = tul.email 
		LEFT JOIN tbset_user tuRecon ON pr.ApproverRecon = tuRecon.id 
		LEFT JOIN tbset_user_login tulRecon ON tuRecon.email = tulRecon.email 
		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
	    INNER JOIN
	    (
	        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
	            GROUP BY a.PromoId
	    ) mechanism ON pr.Id = mechanism.PromoId   		
        LEFT JOIN tbtrx_promo_cancel_request r WITH (NOLOCK) ON r.PromoId=pr.Id and ISNULL(r.IsCancel,0)=0
        LEFT JOIN tbtrx_promo_request_approval tpra WITH (NOLOCK) ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval tpa WITH (NOLOCK) ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover
        LEFT JOIN tbtrx_promo_request_approval_recon tprar WITH (NOLOCK) ON pr.id=tprar.ParentId AND ISNULL(tprar.IsCancel, 0)=0
        LEFT JOIN tbtrx_promo_approval_recon tpar WITH (NOLOCK) ON tprar.id=tpar.RequestId AND pr.ApproverRecon=tpar.UserApprover
        LEFT JOIN tbhlp_baseline_promo baseline WITH (NOLOCK) ON pr.id=baseline.id
        --LEFT JOIN vw_promo_sendback_notes_last note WITH (NOLOCK) ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
		LEFT JOIN tbtrx_promo_calculator pc WITH (NOLOCK) ON pr.Id=pc.PromoId
		/******************************************
		history prev promo calculator
		*******************************************/
		LEFT JOIN #temp_promo_his his WITH (NOLOCK) ON pr.id = his.id
		--left join (
		--	select id, min(parentid) parentid
		--	from tbhis_promo
		--	where isnull(reconciled, 0) = 1
		--	group by id
		--) his on pr.id = his.id
		left join tbhis_promo_calculator pr_calc_bfr WITH (NOLOCK) on his.parentid = pr_calc_bfr.parentid AND his.id = pr_calc_bfr.PromoId
  --      WHERE
		--CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		--AND CONVERT(varchar(8),pr.EndPromo,112) <= CONVERT(varchar(8),@start_to,112)
		--AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)

    /****************************/
    /****************************/

    DROP TABLE IF EXISTS #tmp_dn

    SELECT 
    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) - SUM(ISNULL(tc.dpp,0)) TotalClaim
    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0))- SUM(ISNULL(tc.dpp,0)) TotalPaid
    INTO #tmp_dn					
    	FROM tbtrx_debetnote a WITH (NOLOCK)
        INNER JOIN #temp_promo pr ON a.PromoId=pr.Id
        LEFT JOIN (
        	SELECT 0 dnid
        		, 0 dpp
        		, 0 TotalPaid
        ) tc ON a.id = tc.dnid
        AND IIF(@entity=0,'',a.PrincipalId) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
        WHERE ISNULL(a.IsCancel, 0) = 0
        AND ISNULL(a.IsDNPromo,0)=1	
        GROUP BY a.PromoId

    /****************************/
    /****************************/
    declare @endofmonth date,@closingdtx date;

    set @endofmonth=(SELECT dateadd(month,1+datediff(month,0,@closingdtx),-1))

    DECLARE @Temp TABLE
        (
          BudgetParent int,
          Levels int,
          BudgetId int
        )
        ;

    DROP TABLE if exists #temp_promo_alloc;
	SELECT 
		pr.id
		,p.LongDesc Entity
        ,d.LongDesc Distributor
        ,p.LongDesc PrincipalDesc
        ,c.LongDesc BudgetSource
		,IIF(cat.shortdesc='DC','---', sctg.LongDesc) [SubCategory]
        ,IIF(cat.shortdesc='DC','---', act.LongDesc) [Activity]
        ,sact.LongDesc [SubActivity]
        ,IIF(cat.shortdesc='DC','---', pr.ActivityDesc) ActivityDesc
		,cat.ShortDesc
        , tst.Id SubactivityTypeId
        , tst.RefId SubactivityTypeRefId
        , tst.LongDesc SubactivityType
		, mma.longDesc mainActivity
	INTO #temp_promo_alloc
	FROM #temp_promo pr WITH (NOLOCK)
			INNER JOIN tbtrx_allocation c WITH (NOLOCK) ON pr.AllocationId=c.Id
			INNER JOIN tbtrx_budgetmaster m WITH (NOLOCK) ON c.BudgetMasterId=m.Id
			INNER JOIN tbmst_distributor d WITH (NOLOCK) ON m.DistributorId=d.Id
			INNER JOIN tbmst_principal p WITH (NOLOCK) ON m.PrincipalId=p.Id
			INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
			INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
			INNER JOIN tbtrx_allocation_useraccess usr  WITH (NOLOCK) ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
			INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
			INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
			INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.SubActivityTypeId = tst.id
			LEFT JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
			LEFT JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
			WHERE c.Periode=@periode
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

	INSERT INTO #temp_promo_alloc	
		SELECT 
			pr.id
			,p.LongDesc Entity
			,d.LongDesc Distributor
			,p.LongDesc PrincipalDesc
			,'' BudgetSource--c.LongDesc BudgetSource
			,IIF(cat.shortdesc='DC','---', sctg.LongDesc) [SubCategory]
			,IIF(cat.shortdesc='DC','---', act.LongDesc) [Activity]
			,sact.LongDesc [SubActivity]
			,IIF(cat.shortdesc='DC','---', pr.ActivityDesc) ActivityDesc
			,cat.ShortDesc
			, tst.Id SubactivityTypeId
			, tst.RefId SubactivityTypeRefId
			, tst.LongDesc SubactivityType
			, mma.longDesc mainActivity
		FROM #temp_promo pr WITH (NOLOCK)
				INNER JOIN tbmst_distributor d WITH (NOLOCK) ON pr.DistributorId=d.Id
				INNER JOIN tbmst_principal p WITH (NOLOCK) ON pr.EntityId=p.Id
				INNER JOIN tbmst_subcategory sctg  WITH (NOLOCK) ON pr.SubCategoryId=sctg.id
				INNER JOIN tbmst_category cat  WITH (NOLOCK) ON sctg.CategoryId=cat.id
				INNER JOIN tbmst_activity act  WITH (NOLOCK) ON pr.ActivityId=act.id
				INNER JOIN tbmst_subactivity sact  WITH (NOLOCK) ON pr.SubActivityId=sact.id
				INNER JOIN tbmst_subactivity_type tst  WITH (NOLOCK) ON sact.SubActivityTypeId = tst.id
				LEFT JOIN tbmst_main_activity_dtl mmad ON sact.Id = mmad.subactivityid
				LEFT JOIN tbmst_main_activity mma ON mmad.mainactivityid = mma.id
				WHERE pr.Period=@periode
				AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)

    DROP TABLE if exists #temp_result;

	SELECT CONCAT(th.refid,'-', Row_Number() OVER (PARTITION BY th.id order by th.id)) as smartCode, * 
	into #tmphistory
	from (
		select distinct 
		pr.Id, pr.RefId
		, d.mechanism
		, d.Baseline baseline
		, d.Uplift upLift
		, d.TotalSales totalSales
		, d.SalesContribution salesContribution
		, d.StoresCoverage storesCoverage
		, d.RedemptionRate redemptionRate
		, d.CR cr
		, d.Cost cost
		, his.Baseline baselineBefore
		, his.Uplift upLiftBefore
		, his.TotalSales totalSalesBefore
		, his.SalesContribution salesContributionBefore
		, his.StoresCoverage storesCoverageBefore
		, his.RedemptionRate redemptionRateBefore
		, his.CR crBefore
		, his.Cost costBefore
		from tbtrx_promo pr
		INNER JOIN tbset_promo_mechanism_input_method b on pr.SubActivityId = b.subActivityId AND b.inputMethod=1
		inner join (
			select ROW_NUMBER() OVER (partition by promoid ORDER BY mechanismid) AS  mid, * from tbtrx_promo_mechanism 
			)d on pr.Id=d.PromoId
		LEFT JOIN (
			SELECT ROW_NUMBER() OVER (partition by promoid ORDER BY mechanismid) AS mid, hpm2.* FROM (
				SELECT id, min(parentid) parentid
						from tbhis_promo
						where isnull(reconciled, 0) = 1
						group by id
					)his 
			INNER JOIN(
					select * from tbhis_promo_mechanism hpm2
					)hpm2 ON his.Id=hpm2.PromoId AND his.parentid = hpm2.ParentId
		)his ON pr.Id = his.PromoId AND d.mid = his.mid
	)TH 
UNION ALL
	SELECT CONCAT(th.refid,'-', Row_Number() OVER (PARTITION BY th.id order by th.id)) as smartCode, * 
	from (
		select distinct 
		pr.Id, pr.RefId
		, c.mechanism mechanism
		, e.Baseline baseline
		, e.Uplift upLift
		, e.TotalSales totalSales
		, e.SalesContribution salesContribution
		, e.StoresCoverage storesCoverage
		, e.RedemptionRate redemptionRate
		, e.CR cr
		, e.Cost cost
		, hpc.Baseline baselineBefore
		, hpc.Uplift upLiftBefore
		, hpc.TotalSales totalSalesBefore
		, hpc.SalesContribution salesContributionBefore
		, hpc.StoresCoverage storesCoverageBefore
		, hpc.RedemptionRate redemptionRateBefore
		, hpc.CR crBefore
		, hpc.Cost costBefore
		from #temp_promo tpr
		INNER JOIN tbtrx_promo pr ON tpr.Id = pr.Id
		LEFT JOIN tbset_promo_mechanism_input_method b on pr.SubActivityId = b.subActivityId 
		inner join (
			select promoid, STRING_AGG(mechanism,'; ') mechanism from tbtrx_promo_mechanism group by PromoId
			) c on pr.Id=c.PromoId
		inner join tbtrx_promo_mechanism d on pr.Id=d.PromoId
		INNER JOIN tbtrx_promo_calculator e on pr.Id=e.PromoId
		LEFT JOIN (
			SELECT id, min(parentid) parentid
					from tbhis_promo
					where isnull(reconciled, 0) = 1
					group by id
				)his on pr.id = his.id
		LEFT JOIN tbhis_promo_calculator hpc ON his.Id=hpc.PromoId AND his.parentid = hpc.ParentId
		LEFT JOIN (
			select promoid, STRING_AGG(mechanism,'; ') mechanism from tbhis_promo_mechanism group by PromoId
			) hpm1 on pr.Id=hpm1.PromoId
		WHERE isnull(b.inputMethod, 0)=0
	)TH 

    SELECT DISTINCT
	     tpa.entity
        ,tpa.distributor
        ,tpa.principalDesc
        ,tpa.budgetSource
        ,pr.createBy [initiator]
        ,pr.createOn [createOn]
        ,ISNULL(pr.ModifiedOn,pr.CreateOn) [lastUpdate]
        ,pr.RefId [promoNumber]
        ,tpa.subCategory
        ,tpa.activity
        ,tpa.subActivity
        ,IIF(tpa.shortdesc='DC','---', pr.ActivityDesc) activityDesc
        , th.smartCode 
        , th.mechanism 
        , th.baseline
        , th.totalSales
        , th.uplift
        , th.salesContribution
        , th.storesCoverage
        , th.redemptionRate
        , th.cr
        , th.cost
        , pr.mechanism mechanismBefore
        , th.baselineBefore
        , th.totalSalesBefore
        , th.upliftBefore
        , th.salesContributionBefore
        , th.storesCoverageBefore
        , th.redemptionRateBefore
        , th.crBefore
        , th.costBefore
        ,ISNULL(pr.Mechanisme1,'') mechanisme1
        ,ISNULL(pr.Mechanisme2,'') mechanisme2
        ,ISNULL(pr.Mechanisme3,'') mechanisme3
        ,ISNULL(pr.Mechanisme4,'') mechanisme4
        ,IIF(tpa.shortdesc='DC','---', region.RegionDesc) regionDesc
        ,channel.channelDesc
        ,IIF(tpa.shortdesc='DC','---', subchannel.SubChannelDesc) subChannelDesc 
        ,IIF(tpa.shortdesc='DC','---', account.AccountDesc) accountDesc
        ,IIF(tpa.shortdesc='DC','---', subaccount.SubAccountDesc) subAccountDesc
        ,pr.lastStatus
        ,IIF(pr.IsCancel=1,  FORMAT (pr.CancelOn, 'dd-MM-yyyy'), 
			IIF(pr.StatusApprovalCode='TP2', FORMAT (pr.ApproveOn, 'dd-MM-yyyy'), 
				IIF(pr.StatusApprovalCode='TP3', FORMAT (pr.ActionDate, 'dd-MM-yyyy'), 
					IIF(pr.RequestDate is null, '---', FORMAT (pr.RequestDate, 'dd-MM-yyyy'))))) lastStatusDate
        ,pr.approvalNotes
        --,IIF(tpa.shortdesc='DC',0, pr.NormalSales + pr.IncrSales) [target]
		,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.NormalSales + pr.IncrSales), ISNULL(th.totalsales,0)) [target]
        ,IIF(ISNULL(pr.isclose,0)=0, IIF(ISNULL(pr.period, '') < 2025, round(pr.Investment, 0), round(th.cost, 0)), ISNULL(dn.TotalPaid, 0)) investment 
        --,IIF(tpa.shortdesc='DC',0, pr.NormalSales) normalSales
		,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.NormalSales), ISNULL(th.baseline, 0)) normalSales
        ,IIF(tpa.shortdesc='DC',0, pr.IncrSales) incrSales
        --,IIF(tpa.shortdesc='DC',0, iif(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-round(pr.Investment, 0))/round(pr.Investment, 0))) roi	
        --,IIF(tpa.shortdesc='DC',0, pr.CostRatio) costRatio
        ,IIF(ISNULL(pr.period, '') < 2025, 
			IIF(tpa.shortdesc='DC',0, IIF(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-round(pr.Investment,0))/round(pr.Investment, 0))), 
			round(IIF(pr.CategoryShortDesc<>'DC', round(((((th.uplift+100) / 100) * th.baseline)  - th.Cost) / th.Cost * 100, 0), ((((th.uplift+100) / 100) * th.TotalSales) - th.cost) / th.cost * 100), 0) ) roi	
        ,IIF(ISNULL(pr.period, '') < 2025, IIF(tpa.shortdesc='DC',0, pr.CostRatio), IIF(tma.longdesc = 'Running Rate', th.cost/th.totalsales * 100, th.cr)) costRatio
        ,TotalClaim dnClaim
        ,(round(pr.Investment, 0)-ISNULL(TotalClaim,0)) remainingBalance
        ,TotalPaid dnPaid
        ,pr.startPromo
        ,pr.endPromo
        ,datediff(day,pr.CreateOn,pr.StartPromo) gap
        ,CONCAT('H-', pr.late_submission_day) submissionDeadline
      ,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < pr.late_submission_day,0,1) onTime
        ,IIF(tpa.shortdesc='DC' OR pr.period>=2025,'---', pr.TsCoding) tsCoding
        ,brand.brandDesc
        ,IIF(tpa.shortdesc='DC','---', sku.SKUDesc) skuDesc
        ,IIF(tpa.shortdesc='DC',0, ISNULL(tpp.id, 0)) promoPlanId
        ,ISNULL(tpp.RefId, '---') as promoPlanRefId
        ,ISNULL(pr.IsClose, 0) as closureStatus
		,IIF(ISNULL(pr.Reconciled,0)=0, 'Waiting recon', IIF(pr.endpromo>@utcDate123, 'Ready to recon', 'Reconciled')) reconStatus
        ,pr.lastReconStatus
        , tpa.subActivityTypeId
        , tpa.subActivityTypeRefId
        , tpa.subActivityType
        ,pr.cancelReason
        ,pr.actual_sales actualSales
        , pr.initiator_notes initiatorNotes
        ,IIF(ISNULL(note.Notes,'')='','', note.Notes) sendbackNotes
        ,IIF(ISNULL(note.Notes,'')='', null, CONCAT(CONVERT(varchar, note.ActionDate, 105), ' ', CONVERT(varchar, note.ActionDate, 108)) ) sendbackNotesDate
        --,pr.sendback_notes sendbackNotes
        --,pr.sendback_notes_date sendbackNotesDate
        ,ISNULL(tmit.InvestmentTypeId,'-') investmentTypeId
	    ,ISNULL(tit2.RefId,'---') investmentTypeRefId
	    ,ISNULL(tit2.LongDesc,'---') investmentTypeDesc
	    ,ISNULL(pr.InvestmentTypeId,'-') investmentTypeIdPromo
	    ,ISNULL(tit.RefId,'---') investmentTypeRefIdPromo
	    ,ISNULL(tit.LongDesc,'---') investmentTypeDescPromo
	    ,round(pr.investment, 0) investmentBfrClose --issue #839
	    ,iif(ISNULL(pr.isclose,0)=0, 0, round(pr.investment, 0)-dn.TotalPaid) investmentClosedBalance --issue #839
		,pr.categoryId
		,pr.categoryShortDesc
		,pr.categoryLongDesc
		, IIF (groupbrand.groupBrandDesc IS NULL, mbg.longdesc, groupbrand.groupBrandDesc)groupBrandDesc
		, ISNULL(prbs.LastStatus, '---') budgetApprovalStatus
		, CASE prbs.LastStatusCode
				WHEN 'TP01' THEN '---'
				WHEN 'TP02' THEN ISNULL(CONVERT(VARCHAR(10), IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequeston, prbs.ApprovedOn), 105),'---')
				WHEN 'TP03' THEN ISNULL(CONVERT(VARCHAR(10), prbs.ApprovedOn, 105),'---')
				WHEN 'TP04' THEN ISNULL(CONVERT(VARCHAR(10), prbs.RejectedOn, 105),'---')
				ELSE '---'
			END budgetApprovalStatusOn
		, CASE prbs.LastStatusCode
			WHEN 'TP01' THEN '---'
			WHEN 'TP02' THEN ISNULL(IIF(prbs.ApprovedOn IS NULL, prbs.approvalrequestby, prbs.Approvedby),'---')
			WHEN 'TP03' THEN ISNULL(prbs.Approvedby,'---')
			WHEN 'TP04' THEN ISNULL(prbs.Rejectedby,'---')
			ELSE '---'
		END budgetApprovalStatusBy
		, IIF(prbs.Deployed=0, 'Not Yet Deployed', 'Deployed') budgetDeployStatus
		,ISNULL(CONVERT(VARCHAR(10), prbs.DeployedOn, 105),'---') budgetDeployStatusOn
		,ISNULL(prbs.DeployedBy,'---') budgetDeployStatusBy
		, tpa.mainActivity
        INTO #temp_result
        FROM #temp_promo pr WITH (NOLOCK)
		INNER JOIN #tmphistory th ON pr.Id=th.Id
		INNER JOIN #temp_promo_alloc tpa on pr.Id=tpa.Id
		LEFT JOIN  tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
		LEFT JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id
        LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) ON pr.InvestmentTypeId = tit.id 
	    LEFT JOIN tbset_map_investment_type tmit  WITH (NOLOCK) ON pr.SubActivityId=tmit.SubactivityId and ISNULL(tmit.IsDeleted,0)=0
	    LEFT JOIN tbmst_investment_type tit2  WITH (NOLOCK) ON tmit.InvestmentTypeId=tit2.id and ISNULL(tit2.IsDeleted,0)=0
		LEFT JOIN vw_promo_sendback_notes_last note WITH (NOLOCK) ON pr.id=note.ParentId --and pr.Approver=note.UserApprover
		INNER JOIN #temp_promo_channel channel ON pr.Id = channel.PromoId
		LEFT JOIN #temp_promo_subchannel subchannel ON pr.Id = subchannel.PromoId
		LEFT JOIN #temp_promo_account account ON pr.Id = account.PromoId
		LEFT JOIN #temp_promo_subaccount subaccount ON pr.Id = subaccount.PromoId

      --  INNER JOIN
      --  (
      --    SELECT PromoId, STRING_AGG(chn.LongDesc,' ,') ChannelDesc
      --              FROM tbtrx_promo_channel a WITH (NOLOCK)
      --              INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
  				--	INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
      --          WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
      --GROUP BY a.PromoId
      --  ) channel
      --  ON pr.Id = channel.PromoId
      --  LEFT JOIN
      --  (
      --      SELECT PromoId, STRING_AGG(subchn.LongDesc,' ,') SubChannelDesc
      --    FROM tbtrx_promo_subchannel a WITH (NOLOCK)
      --                  INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
      --               INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
      --          GROUP BY a.PromoId
      --  ) subchannel
      --  ON pr.Id = subchannel.PromoId
      --  LEFT JOIN
      --  (
      --      SELECT PromoId, STRING_AGG(ac.LongDesc,' ,') AccountDesc
      --                  FROM tbtrx_promo_account a WITH (NOLOCK)
      --                  INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
      --                  INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
      --          GROUP BY a.PromoId
      --  ) account
      --  ON pr.Id = account.PromoId
      --  LEFT JOIN
      --  (
      --      SELECT PromoId, STRING_AGG(sac.LongDesc,' ,') SubAccountDesc
      --                  FROM tbtrx_promo_subaccount a WITH (NOLOCK)
      --                  INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
      --                  INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
      --          GROUP BY a.PromoId
      --  ) subaccount
      --  ON pr.Id = subaccount.PromoId
		LEFT JOIN tbhlp_promo_region region ON pr.Id = region.PromoId
		LEFT JOIN #temp_brand brand ON pr.Id = brand.PromoId
		LEFT JOIN #temp_sku sku ON pr.Id = sku.PromoId
		--LEFT JOIN tbhlp_promo_brand brand ON pr.Id = brand.PromoId
		--LEFT JOIN tbhlp_promo_product sku ON pr.Id = sku.PromoId
        LEFT JOIN #tmp_dn dn ON pr.Id=dn.PromoId
        LEFT JOIN tbtrx_promo_planning tpp ON pr.PromoPlanId = tpp.id        
		LEFT JOIN #temp_promo_groupbrand groupbrand ON pr.id = groupbrand.promoid	
  --      LEFT JOIN (
		--	select promoid, STRING_AGG(longDesc, ', ') groupBrandDesc
		--	FROM
		--	(
		--			SELECT distinct 
		--				b.PromoId, a.longDesc
		--			FROM tbmst_brand_group a
		--			INNER JOIN 
		--			(
		--				select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
		--				INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId 
		--				INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=b.PromoId
		--				INNER JOIN tbtrx_allocation_brand d WITH (NOLOCK) ON b.BrandId=d.BrandId AND pr.allocationid=d.allocationid
		--			) b on a.Id=b.BrandGroupId
		--	) groupbrand
		--	group by groupbrand.promoid
		--) groupbrand ON pr.id = groupbrand.promoid	
		LEFT JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
		LEFT JOIN tbtrx_promo_budget_status prbs ON pr.Id = prbs.PromoId

        /**********************
            start pagination
         **********************/
        IF @length = -1
			BEGIN
                IF @txtSearch is null
       BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC
                END
                ELSE
                BEGIN
              SELECT * FROM #temp_result
                    WHERE
                        (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
                    (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
      (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
                (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
                   (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
        (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
      (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubactivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC
                END
			END
        ELSE
			BEGIN
                IF @txtSearch is null
                BEGIN
                    SELECT * FROM #temp_result
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
                ELSE
                BEGIN
                    SELECT * FROM #temp_result
                    WHERE
                        (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
                        (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
     (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
    (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
 (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
      (ISNULL(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
                        (ISNULL(SubactivityType,'') like '%' + @txtSearch + '%')
                    ORDER BY PromoNumber ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
                END
			END
        SET @recordsFiltered = (SELECT ISNULL(count( [PromoNumber]),0) FROM #temp_result
        WHERE
            (ISNULL(Entity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Distributor,'') like '%' + @txtSearch + '%') OR
            (ISNULL(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
    (ISNULL(BudgetSource,'') like '%' + @txtSearch + '%') OR
            (ISNULL([PromoNumber],'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubCategory,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Activity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubActivity,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme1,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme2,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme3,'') like '%' + @txtSearch + '%') OR
            (ISNULL(Mechanisme4,'') like '%' + @txtSearch + '%') OR
            (ISNULL(RegionDesc,'') like '%' + @txtSearch + '%') OR
      (ISNULL(ChannelDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(AccountDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(LastStatus,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ApprovalNotes,'') like '%' + @txtSearch + '%') OR
            (ISNULL(BrandDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SKUDesc,'') like '%' + @txtSearch + '%') OR
            (ISNULL(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
            (ISNULL(ReconStatus,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubactivityTypeRefId,'') like '%' + @txtSearch + '%') OR
            (ISNULL(SubactivityType,'') like '%' + @txtSearch + '%')
        )

        SELECT ISNULL(count(PromoNumber),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        /**********************
            end pagination
         **********************/
    /****************************/
    /****************************/

    DROP TABLE IF EXISTS #tmp_dn
	DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo_id;
    DROP TABLE IF EXISTS #temp_brand;
    DROP TABLE IF EXISTS #temp_sku;
	DROP TABLE IF EXISTS #tmphistory

	DROP TABLE IF EXISTS #temp_promo_his;
	DROP TABLE IF EXISTS #temp_promo_channel
	DROP TABLE IF EXISTS #temp_promo_subchannel
	DROP TABLE IF EXISTS #temp_promo_account
	DROP TABLE IF EXISTS #temp_promo_subaccount
	DROP TABLE IF EXISTS #temp_promo_groupbrand

END

GO
