USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_approval_budget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_approval_budget]

@budgetid int,
@status varchar(3),
@notes varchar(255),
@userid varchar(50)

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION
	UPDATE tbtrx_allocation 
	SET 
		StatusApproval=@status
		, notes=@notes
		, ApprovedBy = @userid
		, ApprovedOn = @utcDate123 
	WHERE Id=@budgetid
COMMIT
END TRY
BEGIN CATCH
	ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
               );  
END CATCH
GO
