USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budget_approval_rpt_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_budget_approval_rpt_list] 
	@Period int, 
	@ChannelId ArrayIntType Readonly, 
	@groupBrand ArrayIntType Readonly,
	@batchid VARCHAR (255) = NULL
AS

/*TEST*/
	--DECLARE
	--	@Period int, 
	--	@ChannelId ArrayIntType , 
	--	@groupBrand ArrayIntType ,
	--	@batchid VARCHAR (255) = NULL

	--	--SET @Period = 2025 
	--	--INSERT INTO @ChannelId		select id from tbmst_channel where ISNULL(IsDelete,0)=0
	--	--INSERT INTO @groupBrand		select id from tbmst_brand_group where ISNULL(IsDeleted,0)=0
	--	SET @batchid = '20241009221612'

	------	EXEC [ip_budget_approval_rpt_list] 
	------			@Period, 
	------			@ChannelId, 
	------			@groupBrand,
	------			@batchid

BEGIN
	DECLARE
	@pChannelId ArrayIntType , 
	@pgroupBrand ArrayIntType ,
	@cnt int

			SELECT @cnt=COUNT(*) FROM @ChannelId

			IF @cnt=0 
				BEGIN
					INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @ChannelId) = 0
				BEGIN
					INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
				END
			ELSE 
				BEGIN
					INSERT INTO @pChannelId (keyid) select keyid from @ChannelId
				END

			SELECT @cnt=COUNT(*) FROM @groupBrand

			IF @cnt=0 
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @groupBrand) = 0
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
				END
			ELSE 
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select keyid from @groupBrand
				END
		

	DROP TABLE IF EXISTS #tempResultAbove5Bio
	DROP TABLE IF EXISTS #tempResultBelow5BioAll
	DROP TABLE IF EXISTS #tempResultBelow5BioContractual
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractual
	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail
	DROP TABLE IF EXISTS #tmpappseq
	DROP TABLE IF EXISTS #tmpFormat

	DECLARE @tmpPromoId TABLE (
		promoId int)

	IF @batchid IS NOT NULL
		BEGIN
			SELECT top 1 @Period = pr.Period from tbtrx_promo pr
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						WHERE prbs.BatchId=@batchid

			INSERT INTO @tmpPromoId
						SELECT pr.id from tbtrx_promo pr
						INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
						INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
						INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						WHERE prbs.BatchId=@batchid
		END
	ELSE
		BEGIN
			INSERT INTO @tmpPromoId
						SELECT pr.id from tbtrx_promo pr
						INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
						INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
						WHERE prbs.Approved=0 
		END

/*ABOVE 5 BIO*/
	SELECT
	pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
	, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
	, prcha.channelId, mcha.LongDesc channel, pracc.accountId, macc.LongDesc account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
	INTO #tempResultAbove5Bio
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId AND prcal.Cost>5000000000
	INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
	INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
	INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
	INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
	INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
	INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
	INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
	INNER JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
	INNER JOIN tbmst_account macc ON pracc.AccountId = macc.Id

/*BELOW 5 BIO - ALL*/
SELECT mcha.channel
	, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
	, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
	, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

	, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
	, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
	INTO #tempResultBelow5BioAll FROM (
		SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)sgm ON mcha.channelId=sgm.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nis ON mcha.channelId=nis.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nmn ON mcha.channelId=nis.ChannelId
UNION ALL
SELECT 'Grand Total' channel
	, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
	, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
	, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

	, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
	, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
	FROM (
		SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)sgm ON mcha.channelId=sgm.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nis ON mcha.channelId=nis.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nmn ON mcha.channelId=nis.ChannelId

/*BELOW 5 BIO - CONTRACTUAL*/
SELECT mcha.channel
	, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
	, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
	, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

	, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
	, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
	INTO #tempResultBelow5BioContractual FROM (
		SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)sgm ON mcha.channelId=sgm.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nis ON mcha.channelId=nis.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nmn ON mcha.channelId=nis.ChannelId
UNION ALL
SELECT 'Grand Total' channel
	, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
	, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
	, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

	, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
	, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
	FROM (
		SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)sgm ON mcha.channelId=sgm.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nis ON mcha.channelId=nis.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nmn ON mcha.channelId=nis.ChannelId

/*BELOW 5 BIO - NON CONTRACTUAL*/
SELECT mcha.channel
	, 'Sari Husada Generasi Mahardika' entitySGM, ISNULL(sgm.promoIdTotCount,0) promoIdTotCountSGM, ISNULL(sgm.totInvestment,0) totInvestmentSGM 
	, 'Nutricia Indonesia Sejahtera' entityNIS, ISNULL(nis.promoIdTotCount,0) promoIdTotCountNIS, ISNULL(nis.totInvestment,0) totInvestmentNIS
	, 'Nutricia Medical Nutrition' entityNMN, ISNULL(nmn.promoIdTotCount,0) promoIdTotCountNMN, ISNULL(nmn.totInvestment,0) totInvestmentNMN

	, ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0) promoIdTotCount
	, ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0) totInvestmenT
	INTO #tempResultBelow5BioNonContractual FROM (
		SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)sgm ON mcha.channelId=sgm.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nis ON mcha.channelId=nis.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nmn ON mcha.channelId=nis.ChannelId
UNION ALL
SELECT 'Grand Total' channel
	, '' , SUM(ISNULL(sgm.promoIdTotCount,0)) , SUM(ISNULL(sgm.totInvestment,0)) 
	, '' , SUM(ISNULL(nis.promoIdTotCount,0)), SUM(ISNULL(nis.totInvestment,0))
	, '' , SUM(ISNULL(nmn.promoIdTotCount,0)), SUM(ISNULL(nmn.totInvestment,0))

	, SUM(ISNULL(sgm.promoIdTotCount,0) + ISNULL(nis.promoIdTotCount,0) + ISNULL(nmn.promoIdTotCount,0))
	, SUM(ISNULL(sgm.totInvestment,0) + ISNULL(nis.totInvestment,0) + ISNULL(nmn.totInvestment,0))
	FROM (
		SELECT Id channelId, LongDesc channel FROM tbmst_channel WHERE ISNULL(IsDelete,0)=0) mcha
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=2
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)sgm ON mcha.channelId=sgm.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=3
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nis ON mcha.channelId=nis.ChannelId
	LEFT JOIN (
		SELECT
			prcha.ChannelId, mpri.LongDesc entity , ISNULL(COUNT(*),0) promoIdTotCount, ISNULL(SUM(prcal.Cost),0) totInvestment
			--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prcal.Cost) totInvestment
			FROM @tmpPromoId tpr
			INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id AND EntityId=4
			INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  AND prcal.Cost<=5000000000
			INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
			INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
			INNER JOIN tbmst_subactivity msac ON pr.SubActivityId=msac.Id
			INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.Id AND msat.LongDesc='NON CONTRACTUAL'
			GROUP BY pr.period, prcha.channelId, mpri.LongDesc --, msa.subActivityTypeId, msat.LongDesc 
		)nmn ON mcha.channelId=nis.ChannelId

/*DETAIL*/
	SELECT
	--pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
	--, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
	--, prcha.channelId, mcha.LongDesc channel, pracc.accountId, macc.LongDesc account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
	--INTO #tempResultDetail
	--from @tmpPromoId tpr
	--INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	--INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId  -- AND prcal.Cost<=5000000000
	--INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
	--INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
	--INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
	--INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
	--INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
	--INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
	--INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
	--INNER JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
	--INNER JOIN tbmst_account macc ON pracc.AccountId = macc.Id
	pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
	, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
	, prcha.channelId, mcha.LongDesc channel, pracc.accountId, macc.LongDesc account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
	, IIF(prcal.Cost<=5000000000, 'No', 'Yes') investment5bio, mbgr.LongDesc brand
	, IIF(msat.LongDesc = 'Contractual', 'Trading Term', IIF(msat.LongDesc = 'Non Contractual', 'Adhoc','')) tradingTermAdhoc
	, 0 crMechanism, DATENAME(month, pr.startpromo) monthStart, DATENAME(month, pr.endpromo) monthEnd, '' forRevision
	, tpr.promoId id
	INTO #tempResultDetail
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId 
	INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
	INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
	INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
	INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
	INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
	INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
	INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
	INNER JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
	INNER JOIN tbmst_account macc ON pracc.AccountId = macc.Id
	INNER JOIN tbmst_brand_group mbgr ON pr.groupbrandid = mbgr.id

/*PROFILE AND EMAIL to be sent*/

	DECLARE @tmpappseq AS Table (
		appseq int,
		profileid varchar(100)
		)
	
	DECLARE 
		@cseqapp INT
		,@cprofileid VARCHAR(100)
	

	IF (SELECT COUNT(*) FROM #tempResultAbove5Bio)>0 
		BEGIN
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 1, Approver1 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver1 IS NOT NULL
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 2, Approver2 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver2 IS NOT NULL
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 3, Approver3 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver3 IS NOT NULL
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver4 IS NOT NULL
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE LongDesc = 'Above 5 bio' AND Approver5 IS NOT NULL
		end

	IF (SELECT COUNT(*) FROM #tempResultBelow5BioAll)>0 
		BEGIN
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 1, Approver1 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver1 IS NOT NULL
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 2, Approver2 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver2 IS NOT NULL
			INSERT INTO @tmpappseq (appseq,profileid) SELECT 3, Approver3 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver3 IS NOT NULL
			--INSERT INTO @tmpappseq (appseq,profileid) SELECT 4, Approver4 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver4 IS NOT NULL
			--INSERT INTO @tmpappseq (appseq,profileid) SELECT 5, Approver5 from tbset_promo_budget_approval WHERE LongDesc = 'Below 5 bio' AND Approver5 IS NOT NULL
		end

	SELECT DISTINCT * INTO #tmpappseq FROM @tmpappseq a

	SELECT * FROM #tempResultAbove5Bio
	SELECT * FROM #tempResultBelow5BioAll
	SELECT * FROM #tempResultBelow5BioContractual
	SELECT * FROM #tempResultBelow5BioNonContractual
	SELECT * FROM #tempResultDetail
	SELECT a.appseq, a.profileid, b.email, b.jobtitle, c.username  FROM #tmpappseq a
		LEFT JOIN tbset_user b ON a.profileid = b.id 
		LEFT JOIN tbset_user_login c ON b.email = c.email 

	SELECT 
	'123456789012345678901234567890123456789012345678901234567890' fkey
	,'123456789012345678901234567890123456789012345678901234567890' textAlign
	,'123456789012345678901234567890123456789012345678901234567890' textColor
	,'123456789012345678901234567890123456789012345678901234567890' fontWeigth
	,'123456789012345678901234567890123456789012345678901234567890' verticalAlign
	,'123456789012345678901234567890123456789012345678901234567890' borderTop
	,'123456789012345678901234567890123456789012345678901234567890' backgroundColor
	,99 rowSpan
	,99 colSpan
	INTO #tmpFormat

	DELETE from #tmpFormat

	INSERT INTO #tmpFormat VALUES
	('header'			,'center'	,'#ffffff'	,'bold'		,'center'		,''						,'#366092'		,1			,1),
	('subHeader'		,'left'		,'#ffffff'	,'bold'		,'center'		,''						,'#366092'		,1			,1),
	('valueSubHeader'	,'center'	,'#ffffff'	,'bold'		,'center'		,'1px solid white'		,'#366092'		,1			,1),
	('body'				,'center'	,'#000000'	,'bold'		,'center'		,''						,'#ffffff'		,1			,1),
	('value'			,'center'	,'#000000'	,'bold'		,'center'		,''						,'#ffffff'		,1			,1),
	('footer'			,'center'	,'#000000'	,'bold'		,'center'		,'1px double #000000'	,'#ffffff'		,1			,1)

	SELECT * FROM #tmpFormat

	/*NEXT APPROVER*/

	DECLARE @SEQAPP AS TABLE (
	seq INT, approvedOn DATETIME, approvedBy VARCHAR(100), approvedEmail VARCHAR(100)
	)
	IF @batchid IS NOT NULL
		BEGIN
			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 1, Approved1On, Approved1By, Approved1Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved1By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 2, Approved2On, Approved2By, Approved2Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved2By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 3, Approved3On, Approved3By, Approved3Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved3By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 4, Approved4On, Approved4By, Approved4Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved4By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 5, Approved5On, Approved5By, Approved5Email from tbtrx_promo_budget_status where BatchId=@batchid AND Approved5By IS NOT NULL

			SELECT a.seq, max(a.approvedOn)approvedOn, a.approvedBy, max(a.approvedEmail)approvedEmail, max(b.email)email, max(b.jobtitle)jobtitle, max(c.username)username FROM @SEQAPP a
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			GROUP BY a.seq, a.approvedBy order by a.seq

			SELECT TOP 1  a.*, b.email, b.jobtitle, c.username FROM @SEQAPP a
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			WHERE approvedOn is null ORDER BY SEQ
	
			SELECT TOP 1 b.period FROM tbtrx_promo_budget_status a
			INNER JOIN tbtrx_promo b on a.PromoId=b.Id
			WHERE BatchId = @batchid

		END
	ELSE
		BEGIN
			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 1, NULL, Approved1By, Approved1Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved1By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 2, NULL, Approved2By, Approved2Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved2By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 3, NULL, Approved3By, Approved3Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved3By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 4, NULL, Approved4By, Approved4Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved4By IS NOT NULL

			INSERT INTO @SEQAPP (seq, approvedOn, approvedBy, approvedEmail) 
			SELECT DISTINCT 5, NULL, Approved5By, Approved5Email from tbtrx_promo_budget_status PRBS
				INNER JOIN @tmpPromoId TPR ON PRBS.PromoId = TPR.promoId where Approved5By IS NOT NULL


			SELECT a.*, b.email, b.jobtitle, c.username FROM @SEQAPP a
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			where c.username='asdasd'

			SELECT TOP 1  a.*, b.email, b.jobtitle, c.username FROM @SEQAPP a
			LEFT JOIN tbset_user b ON a.ApprovedBy = b.id 
			LEFT JOIN tbset_user_login c ON b.email = c.email 
			WHERE approvedOn is null and c.username='asdasd'	ORDER BY SEQ
	
			SELECT TOP 1 b.period FROM tbtrx_promo_budget_status a
			INNER JOIN tbtrx_promo b on a.PromoId=b.Id
			WHERE BatchId = 'kasjkhkajshd'

		END


	DROP TABLE IF EXISTS #tempResultAbove5Bio
	DROP TABLE IF EXISTS #tempResultBelow5BioAll
	DROP TABLE IF EXISTS #tempResultBelow5BioContractual
	DROP TABLE IF EXISTS #tempResultBelow5BioNonContractual
	DROP TABLE IF EXISTS #tempResultDetail
	DROP TABLE IF EXISTS #tmpappseq
	DROP TABLE IF EXISTS #tmpFormat

END

GO
