

/****** Object:  StoredProcedure [dbo].[ip_mst_user_subaccount_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_user_subaccount_del]
	@Id        int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeletedOn datetime
AS
BEGIN
	INSERT INTO [tbhis_user_subaccount]
	(
        Id
        ,UserId
        ,SubAccountId
        ,IsActive
        ,CreateOn
        ,CreateBy
        ,IsDeleted
        ,DeletedOn
        ,DeletedBy
        ,CreatedEmail
        ,DeleteEmail
	)
	SELECT
        Id
        ,UserId
        ,SubAccountId
        ,IsActive
        ,CreateOn
        ,CreateBy
        ,1 IsDeleted
        ,@DeletedOn DeletedOn
        ,@UserId DeletedBy
        ,CreatedEmail
        ,@UserLogin DeleteEmail
	FROM
		tbset_user_subaccount
	WHERE Id = @Id


	DELETE tbset_user_subaccount
	WHERE
		Id = @Id
	
END
GO
