USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_update_sendback]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_update_sendback]
@Id int
,@Periode varchar(4)
,@EntityId int
,@DistributorId int
,@ActivityDesc varchar(255)
,@AccountId int
,@PromoId int
,@IntDocNo varchar(50)
,@MemDocNo varchar(50)
,@DNAmount numeric(19,0)
,@FeeDesc varchar(255)
,@FeePct numeric(10,2)
,@FeeAmount numeric(19,0)
,@DPP numeric(19,0)
,@PPNPct numeric(10,2)
,@DeductionDate datetime
,@userid varchar(50)
,@sellingpoint CharAttributeType READONLY
,@attachment DNAttachmentType READONLY
,@TaxLevel varchar(100)
,@pphPct numeric(10,2)
,@pphAmt numeric(18)
,@statusPPH varchar(30)
,@FPNumber varchar(50)
,@FPDate datetime
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * EDY 2020-03-21 : change overbudget from totalclaim to DPP
 * EDJ 2020-06-09 : add TaxLevel
 */
BEGIN TRY
BEGIN TRANSACTION

DECLARE
@PrincipalShortDesc varchar(10)
,@DistributorShortDesc varchar(10)
,@SubChannelId int
,@DNId int
,@RequestId int
,@PPNAmt numeric(19,0)
,@TotalClaim numeric(19,0)
,@AreaCode varchar(20)
,@messageout varchar(255)
,@matrixid int
,@notes varchar(255)
,@laststatuslog varchar(50)

declare @createdemail varchar(50)
SELECT @createdemail=email from tbset_user where id=@userid

SET @PPNAmt=(@PPNPct*@DPP) / 100
SET @TotalClaim=@DPP + @PPNAmt
SET @PrincipalShortDesc=(SELECT isnull(ShortDesc,'') FROM tbmst_principal where Id=@EntityId)
SET @DistributorShortDesc=(SELECT isnull(ShortDesc,'') FROM tbmst_distributor where Id=@DistributorId)
--SET @SubChannelId=(SELECT SubChannelId from tbmst_account where Id=@AccountId)
SET @SubChannelId=(SELECT SubChannelId from tbmst_account a inner join tbmst_subaccount b on a.id=b.AccountId where b.Id=@AccountId)
SET @AreaCode=(SELECT TOP 1  AreaCode from tbmst_sellingpoint where RefId in (SELECT Id from @sellingpoint))
SET @notes=(SELECT StatusSalesNotes FROM tbtrx_debetnote where Id=@id)

if isnull(@PrincipalShortDesc,'')=''
	begin
		SET @messageout='Entity ShortDesc not defined'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

if isnull(@DistributorShortDesc,'') = ''
	begin
		SET @messageout='Distributor ShortDesc not defined'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

if isnull(@SubChannelId,'') = ''
	begin
		SET @messageout='SubChannel not defined'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

--if isnull(@AreaCode,'') = ''
--	begin
--		SET @messageout='Area Code not defined'
--		 RAISERROR (@messageout, -- Message text.
--               16, -- Severity.
--               1 -- State.
--               );
--	end


-- 	SELECT @matrixid=Id FROM tbset_matrix_dn_approval
-- 	WHERE Periode=@Periode
-- 	AND PrincipalId=@EntityId
-- 	AND DistributorId=@DistributorId
--
-- 	if @matrixid is null
-- 	begin
-- 		SET @messageout='Matrix Approval not found for ' + @DistributorShortDesc + ' distributor,' +  cast(@PrincipalShortDesc as varchar) + ' entity,'
-- 		 RAISERROR (@messageout, -- Message text.
--                16, -- Severity.
--                1 -- State.
--                );
-- 	end


UPDATE tbtrx_debetnote
SET ActivityDesc=@ActivityDesc
,IntDocNo=@IntDocNo
,MemDocNo=@MemDocNo
,DPP=@DPP
,PPNPct=@PPNPct
,PPNAmt=@PPNAmt
,TotalClaim=@TotalClaim
,DNAmount=@DNAmount
,FeeDesc=@FeeDesc
,FeePct=@FeePct
,FeeAmount=@FeeAmount
,TaxLevel = @TaxLevel
,PPHPct = @pphPct
,PPHAmt = @pphAmt
,statusPPH = @statusPPH
,StatusSalesCode='TP1'
,StatusSales='sendback_by_distributor'
,StatusSalesDistOn=@utcDate123
,StatusSalesDistBy=@userid
WHERE Id=@Id

INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes,DPP)
VALUES(@id,@utcDate123,@userid,'TP1',@notes, @DPP)

SET @laststatuslog=(SELECT LastStatus FROM tbtrx_debetnote where Id=@id)
INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
VALUES(@id,'sendback_by_distributor',@userid,@utcDate123,@dpp, @laststatuslog,@createdemail)

--DELETE FROM tbtrx_dn_doclink where DNId=@Id
--
--insert into tbtrx_dn_doclink(DNId,DocLink,[FileName],CreateOn,Createby)
--SELECT @Id,DocLink,Filename,getdate(),@userid FROM @attachment



/************************
HISTORICAL
************************/
		INSERT INTO [dbo].[tbtrx_debetnote_his]
				   ([DNId]
				   ,[ActivityDesc]
				   ,[SubChannelId]
				   ,[AccountId]
				   ,[PromoId]
				   ,[IntDocNo]
				   ,[MemDocNo]
				   ,[DPP]
				   ,[PPNPct]
				   ,[PPNAmt]
				   ,[TotalClaim]
				   ,[DeductionDate]
				   ,[Notes]
				   ,[created_on]
				   ,[created_by]
				   ,[send_to_dist_ho_on]
				   ,[send_to_dist_ho_by]
				   ,[validate_by_dist_ho_on]
				   ,[validate_by_dist_ho_by]
				   ,[send_to_danone_on]
				   ,[send_to_danone_by]
				   ,[received_by_danone_on]
				   ,[received_by_danone_by]
				   ,[validate_by_finance_on]
				   ,[validate_by_finance_by]
				   ,[validate_by_sales_on]
				   ,[validate_by_sales_by]				   
				   ,[validate_by_danone_on]
				   ,[validate_by_danone_by]
				   ,[ready_to_invoice_on]
				   ,[ready_to_invoice_by]
				   ,[invoice_on]
				   ,[invoice_by]
				   ,[confirm_paid_on]
				   ,[confirm_paid_by]
				   ,[DNAmount]
				   ,[FeeDesc]
				   ,[FeePct]
				   ,[FeeAmount]
				   ,[TaxLevel]
		   		   ,[PPHPct]
				   ,[PPHAmt]
				   ,statusPPH
                   ,FPNumber
                   ,FPDate
                   ,FPModifiedBy
                   ,FPModifiedOn				   
					)
			SELECT
				  @Id
				  ,@ActivityDesc
				  ,@SubChannelId
				  ,@AccountId
				  ,@PromoId
				  ,@IntDocNo
				  ,@MemDocNo
				  ,@DPP
				  ,@PPNPct
				  ,@PPNAmt
				  ,@TotalClaim
				  ,@DeductionDate
				  ,''
				  ,@utcDate123
				  ,@userid
				  ,[send_to_dist_ho_on]
				  ,[send_to_dist_ho_by]
				  ,[validate_by_dist_ho_on]
				  ,[validate_by_dist_ho_by]
				  ,[send_to_danone_on]
				  ,[send_to_danone_by]
				   ,[received_by_danone_on]
				   ,[received_by_danone_by]
				   ,[validate_by_finance_on]
				   ,[validate_by_finance_by]
				   ,[validate_by_sales_on]
				   ,[validate_by_sales_by]			     
				  ,[validate_by_danone_on]
				  ,[validate_by_danone_by]
				  ,[ready_to_invoice_on]
				  ,[ready_to_invoice_by]
				  ,[invoice_on]
				  ,[invoice_by]
				  ,[confirm_paid_on]
				  ,[confirm_paid_by]
				   ,@DNAmount
				   ,@FeeDesc
				   ,@FeePct
				   ,@FeeAmount
				   ,@TaxLevel
		   		   ,@pphPct
				   ,@pphAmt
				   ,@statusPPH
				   ,@FPNumber
                   ,@FPDate
                   ,@userid
                   ,@utcDate123		
			  FROM [dbo].[tbtrx_debetnote_his] where is_cancel=0 and DNId=@Id

/**************************/

SET @RequestId=(SELECT SCOPE_IDENTITY())

UPDATE tbtrx_debetnote_his SET is_cancel=1 WHERE Id <> @RequestId and DNId=@Id


SELECT RefId FROM tbtrx_debetnote where Id=@Id

DELETE FROM tbtrx_debetnote_sellpoint where DNId=@Id
INSERT INTO tbtrx_debetnote_sellpoint
SELECT @Id,Id,1,@utcDate123,@userid,null,null,0,null,null from @sellingpoint

			IF ISNULL(@promoid,0)<>0 
				BEGIN
					exec ip_dn_overbudget_by_prommoid @promoid
				END

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
             @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );
END CATCH
GO
