

/****** Object:  StoredProcedure [dbo].[ip_get_config_cr_roi]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_get_config_cr_roi]
@id int
AS
BEGIN
    select id,SubActivityID refid, SubActivity, MinimumROI, MaksimumROI, MinimumCostRatio, MaksimumCostRatio
    from tbset_roi_cr
    where id=@id
END
GO
