

/****** Object:  StoredProcedure [dbo].[ip_gen_matrix_promo_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_gen_matrix_promo_approval] as
select 
	Periode
	, b.LongDesc principal
	, c.LongDesc distributor
	, d.LongDesc subactivitytype
	, e.LongDesc channel
	, isnull(f.LongDesc,'') subchannel
	, initiator
	, mininvestment
	, maxinvestment
	, isnull([1],'')[1], isnull([2],'')[2], isnull([3],'')[3], isnull([4],'')[4], isnull([5],'')[5]
	from tbset_matrix_promo_approval a
inner join tbmst_principal b on a.PrincipalId=b.id
inner join tbmst_distributor c on a.DistributorId=c.id
inner join tbmst_subactivity_type d on a.SubActivityType=d.Id
inner join tbmst_channel e on a.ChannelId=e.id
left join tbmst_subchannel f on a.SubChannelId=f.id
inner join (
	select * from 
		(
			select ParentId, seqapproval, approver from tbset_matrix_promo_approver
		)t
	pivot (
		max(t.approver)
		for t.seqapproval in ([1], [2], [3], [4], [5])
		)as pivot_table
)x on a.id=x.ParentId
GO
