

/****** Object:  StoredProcedure [dbo].[ip_mst_map_brand_subacc_dist_ts_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_brand_subacc_dist_ts_del]
	@Id              int,
	@UserId          varchar(50),
	@UserLogin       varchar(100),
	@DeleteOn        datetime
AS
BEGIN
	INSERT INTO tbhis_map_brand_subacc_dist_ts
	( 
       [ParentId]
      ,[BrandId]
      ,[SubAccountId]
      ,[DistributorId]
      ,[GroupBrandDesc]
      ,[CreateOn]
      ,[CreateBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]
      ,[CreatedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[BrandId]
      ,[SubAccountId]
      ,[DistributorId]
      ,[GroupBrandDesc]
      ,[CreateOn]
      ,[CreateBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]
      ,[CreatedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_map_brand_subacc_dist_ts
	WHERE Id = @Id

	DELETE tbset_map_brand_subacc_dist_ts
	WHERE Id = @Id
END


GO
