USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_fin_validation_doc_completeness]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[ip_dn_fin_validation_doc_completeness]
@dnid int,
@userid varchar(50),
@DN_Doc_Completeness DebetNote_doc_completeness_Type READONLY
as
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
	DELETE FROM tbtrx_debetnote_doc_completeness WHERE DNId=@dnid

	INSERT INTO tbtrx_debetnote_doc_completeness 
		SELECT @dnid
			, Original_Invoice_from_retailers, @utcDate123, @userid
			, Tax_Invoice, @utcDate123, @userid
			, Promotion_Agreement_Letter, @utcDate123, @userid
			, Trading_Term, @utcDate123, @userid
			, Sales_Data, @utcDate123, @userid
			, Copy_of_Mailer, @utcDate123, @userid
			, Copy_of_Photo_Doc, @utcDate123, @userid
			, List_of_Transfer, @utcDate123, @userid
	FROM @DN_Doc_Completeness 

END
GO
