

/****** Object:  StoredProcedure [dbo].[ip_search_promobyrefid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_search_promobyrefid]
	@refid		VARCHAR(50)

AS 
DECLARE 
	@messageout varchar(255)

IF EXISTS
(
	SELECT tp.RefId
	FROM tbtrx_promo tp 
	WHERE tp.RefId = @refid
)
BEGIN
	select id, RefId, CreateBy from tbtrx_promo tp2 where tp2.RefId = @refid
END
ELSE
BEGIN
	SET @messageout='Promo Number not found'
	RAISERROR (@messageout, -- Message text.  
   		16, -- Severity.  
   		1 -- State.  
   );  
END

GO
