USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_assign]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_assign]
@DNId int,
@PromoId int,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE***************************/ 
--DECLARE
--	@DNId int,
--	@PromoId int,
--	@userid varchar(50)

--SET @DNId = 65183
----SET @PromoId = 4011
--SET @PromoId = 4010
--SET @userid = 'kamsat'
/***************************TESTING PURPOSE*/ 
BEGIN TRY
BEGIN TRANSACTION
    DECLARE
        @messageout varchar(100),
        @distributorIdPromo int,
        @distributorIdDN int,
        @promoid_old int,
        @useremail varchar(100)
		, @isOverBudget int
		, @dnRefId varchar(100)
		, @promoRefId varchar(100)
		, @totalClaim float
		, @lastStatus varchar(30)
    ;

    SELECT @distributorIdPromo = pr.DistributorId, @promoRefId = pr.RefId FROM tbtrx_promo pr WHERE pr.id=@PromoId and pr.Period>=2025;
	IF ISNULL(@distributorIdPromo,0)= 0
		BEGIN
			SELECT @distributorIdPromo = ta.DistributorId FROM tbtrx_promo pr INNER JOIN tbtrx_allocation ta ON pr.AllocationId=ta.id WHERE pr.id=@PromoId;
		END
    SELECT @dnRefId = dn.refId, @distributorIdDN = dn.DistributorId, @promoid_old = dn.PromoId FROM tbtrx_debetnote dn WHERE dn.id=@DNId;
   	SELECT @useremail = email FROM tbset_user WHERE id=@userid;

   /* Cek overbudget */	
    SELECT @totalClaim = IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0)), @lastStatus = dn.LastStatus
	FROM tbtrx_debetnote dn WHERE id = @DNId

	DECLARE @remaining float
    SELECT
	    @remaining = pr.investmentForDN-ISNULL( SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY iif(dn.LastStatus ='confirm_paid',0,1), b.sequence desc,b.dt asc, b.id), 0) 
    FROM tbtrx_promo pr
    LEFT JOIN  tbtrx_debetnote dn on pr.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 AND pr.Id=@PromoId
    LEFT JOIN (
        select a.id, iif(a.ModifiedOn is null, a.CreateOn, a.ModifiedOn) dt, 
		CASE 
		    WHEN a.laststatus='created' THEN 1 
		    WHEN a.laststatus='send_to_dist_ho' THEN 2
		    WHEN a.laststatus='validate_by_dist_ho' THEN 3
			WHEN a.laststatus='send_to_danone' THEN 4
			WHEN a.laststatus='received_by_danone' THEN 5
			WHEN a.laststatus='validate_by_sales' THEN 6
			WHEN a.laststatus='validate_by_finance' THEN 7
			WHEN a.laststatus='validate_by_danone' THEN 8
			WHEN a.laststatus='ready_to_invoice' THEN 9
			WHEN a.laststatus='invoice' THEN 10
			WHEN a.laststatus='confirm_paid' THEN 11    	
		END sequence
        from tbtrx_debetnote a        
    ) b on dn.id=b.id
	WHERE pr.Id=@PromoId

	SET @isOverBudget = IIF(ISNULL(@remaining, 0) - @totalClaim >= 0 ,0,1)
	
	/* error handling */
	DECLARE @failed INT
	SET @failed = 0;
	IF @isOverBudget = 1
	BEGIN
		SET @failed = 1
        SET @messageout= CONCAT('Can''t assign ', @dnRefId, ' to Promo ID ', @promoRefId, ' due to insufficient promo cost') 
		
	END

    IF @distributorIdPromo<>@distributorIdDN
    BEGIN
		SET @failed = 1
        SET @messageout='Promo and DN distributors must be the same'
    END

	IF @failed = 1 AND @lastStatus IN ('validate_by_danone', 'ready_to_invoice', 'invoice', 'confirm_paid')
	BEGIN
		RAISERROR (@messageout, -- Message text.
            16, -- Severity.
            1 -- State.
        );
	END
	ELSE
	BEGIN
        UPDATE tbtrx_debetnote
            SET PromoId=@PromoId
            ,AssignBy=@userid
            ,AssignOn=@utcDate123
            ,IsDnManual=IIF(PromoId=0,1,0)
            WHERE Id=@DNId

		/*
		 Create History Debetnote
		 */
		INSERT INTO [dbo].[tbhis_debetnote]
		(
		    dnid,
		    IsDNManual,
		    Periode,
		    PrincipalShortDesc,
		    DistributorShortDesc,
		    AreaCode,
		    DNNumber,
		    ActivityDesc,
		    SubChannelId,
		    AccountId,
		    PromoId,
		    IntDocNo,
		    MemDocNo,
		    DPP,
		    PPNPct,
		    PPNAmt,
		    TotalClaim,
		    DeductionDate,
		    Notes,
		    LastStatus,
		    IsPaid,
		    TotalPaid,
		    IsCancel,
		    IsLocked,
		    CreateOn,
		    CreateBy,
		    ModifiedOn,
		    ModifiedBy,
		    IsDelete,
		    DeleteOn,
		    DeleteBy,
		    AssignOn,
		    AssignBy,
		    IsFreeze,
		    PrincipalId,
		    DistributorId,
		    DueDate,
		    IsAllowModify,
		    IsOverBudget,
		    AssignRequestDate,
		    CancelOn,
		    CancelBy,
		    PaymentDate,
		    ImportId,
		    RefId,
		    IsDNPromo,
		    InternalOrderNumber,
		    DNAmount,
		    FeeDesc,
		    FeePct,
		    FeeAmount,
		    TaxLevel,
		    PPHPct,
		    PPHAmt,
		    statusPPH,
		    StatusSalesCode,
		    StatusSales,
		    StatusSalesOn,
		    StatusSalesBy,
		    StatusSalesDistOn,
		    StatusSalesDistBy,
		    StatusSalesNotes,
		    FPNumber,
		    FPDate,
		    FPModifiedBy,
		    FPModifiedOn,
		    VATExpired
		)
		SELECT
		    id,
		    IsDNManual,
		    Periode,
		    PrincipalShortDesc,
		    DistributorShortDesc,
		    AreaCode,
		    DNNumber,
		    ActivityDesc,
		    SubChannelId,
		    AccountId,
		    @PromoId,
		    IntDocNo,
		    MemDocNo,
		    DPP,
		    PPNPct,
		    PPNAmt,
		    TotalClaim,
		    DeductionDate,
		    Notes,
		    LastStatus,
		    IsPaid,
			TotalPaid,
		    IsCancel,
		    IsLocked,
		    CreateOn,
		    CreateBy,
		    @utcDate123,
		    @userid,
		    IsDelete,
		    DeleteOn,
		    DeleteBy,
		    AssignOn,
		    AssignBy,
		    IsFreeze,
		    PrincipalId,
		    DistributorId,
		    DueDate,
		    IsAllowModify,
		    IsOverBudget,
		    AssignRequestDate,
		    CancelOn,
		    CancelBy,
		    PaymentDate,
		    ImportId,
		    RefId,
		    IsDNPromo,
		    InternalOrderNumber,
		    DNAmount,
		    FeeDesc,
		    FeePct,
		    FeeAmount,
		    TaxLevel,
		    PPHPct,
		    PPHAmt,
			statusPPH,
		    StatusSalesCode,
		    StatusSales,
		    StatusSalesOn,
		    StatusSalesBy,
		    StatusSalesDistOn,
		    StatusSalesDistBy,
		    StatusSalesNotes,
		    FPNumber,
		    FPDate,
		    FPModifiedBy,
		    FPModifiedOn,
		    VATExpired
		from tbtrx_debetnote where id=@DNId
		
		INSERT INTO tbhis_debetnote_assign
		(
			ParentId,
			PromoId_Old,
			PromoId_New,
			ActionOn,
			ActionBy,	
			ActionEmail
		)
		VALUES
		(
			@DNId,
			@promoid_old,
			@PromoId,
			@utcDate123,
			@userid,
			@useremail
		)

        SELECT RefId from tbtrx_debetnote where Id=@DNId
    END

	COMMIT
	exec ip_dn_overbudget_by_prommoid @promoid_old
	exec ip_dn_overbudget_by_prommoid @PromoId
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (
        @ErrorMessage, -- Message text.
        @ErrorSeverity, -- Severity.
        @ErrorState -- State.
   );
END CATCH
GO
