USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_changestatus]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_changestatus]
@userid varchar(50),
@status varchar(50),
@id ArrayIntType READONLY
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
	LGP : 2020-02-20 : Perbaikan bugs proses received_by_danone
	LGP : 2020-02-22 : DN non promo di by pass/lolos di proses validate
*/

begin
insert into tblog_dn_change_status (dtime,dnstatus,userid,dnid) select @utcDate123,@status,@userid,keyid from @id

declare @distributorid int
set @distributorid=(SELECT TOP 1 DistributorId from tbset_user_distributor where UserId=@userid)

declare @temp as ArrayIntType
declare @createdemail varchar(50)
SELECT @createdemail=email from tbset_user where id=@userid

insert into @temp 
SELECT keyid from @id a
left join vw_debetnote_overbudget_list b on a.keyid=b.id
inner join tbtrx_debetnote c on a.keyid=c.id
where c.IsDNPromo=0 OR (b.Id is null and isnull(c.PromoId,0) <> 0)


insert into mytmp(f1, f2) select keyid, @status from @id

IF @status = 'validate_by_finance' OR @status='validate_by_sales'
begin
	IF @status = 'validate_by_finance'
	BEGIN 
		UPDATE a
		set LastStatus=IIF(@status='validate_by_sales', 'validate_by_danone' , IIF(a.IsDNPromo=1,@status,'validate_by_danone')) --if isdnpromo=0 then validate_by_danone
		,modifiedby=@userid
		,modifiedon=@utcDate123
		FROM tbtrx_debetnote a
		INNER JOIN @temp b on a.Id=b.keyid
		WHERE isnull(a.IsCancel,0)=0

		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
		SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, IIF(@status='validate_by_sales', 'validate_by_danone' , IIF(b.IsDNPromo=1,@status,'validate_by_danone')), @createdemail from @temp a
		INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id
		
	END
	ELSE 
	BEGIN
		UPDATE a
		set LastStatus=IIF(@status='validate_by_sales','validate_by_danone',@status)
		,modifiedby=@userid
		,modifiedon=@utcDate123
		FROM tbtrx_debetnote a
		INNER JOIN @temp b on a.Id=b.keyid
		WHERE isnull(a.IsCancel,0)=0

		INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus, createdemail)
		SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, IIF(@status='validate_by_sales','validate_by_danone',@status), @createdemail from @temp a
		INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id
	END
	
end
else
begin
	IF @status NOT IN ('validate_by_danone', 'ready_to_invoice', 'invoice', 'confirm_paid')
		BEGIN
			UPDATE a
			set LastStatus=@status
				,VATExpired = IIF(isnull(FPNumber,'')='', 0
					, IIF(fpdate IS NULL OR YEAR(FPDATE)<2000,0
						, IIF(concat(year(dateadd(month, 4, fpdate)),'-', month(dateadd(month, 4, fpdate)),-01) <= @utcDate123, 1, 0) ))						
			,modifiedby=@userid
			,modifiedon=@utcDate123
			FROM tbtrx_debetnote a
			INNER JOIN @id b on a.Id=b.keyid
		END

	ELSE
		BEGIN
			UPDATE a
			set LastStatus=@status
			--,VATExpired = IIF(isnull(FPNumber,'')='', 0, IIF(concat(year(dateadd(month, 4, fpdate)),'-', month(dateadd(month, 4, fpdate)),-01) <= @utcDate123, 1, 0) )
			,modifiedby=@userid
			,modifiedon=@utcDate123
			FROM tbtrx_debetnote a
			INNER JOIN @id b on a.Id=b.keyid
		END

	INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
	SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, @status, @createdemail from @id a
	INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id

end

   if @status='send_to_dist_ho'
   BEGIN
	  UPDATE a
	  set IsFreeze=1
	  FROM tbtrx_debetnote a
	  INNER JOIN @id b on a.Id=b.keyid

      UPDATE a
	  SET send_to_dist_ho_on=@utcDate123
	  ,send_to_dist_ho_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0

	  --exec [ip_dn_create_ttd] @distributorid,@userid,@id
   END

   if @status='rejected_by_dist_ho'
	BEGIN
      UPDATE a
	  set IsFreeze=0
	  FROM tbtrx_debetnote a
	  INNER JOIN @id b on a.Id=b.keyid
    END
   
   if @status='validate_by_dist_ho'
   BEGIN
      UPDATE a
	  SET validate_by_dist_ho_on=@utcDate123
	  ,validate_by_dist_ho_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0

   END
   if @status='send_to_danone'
   BEGIN
		UPDATE a
		set StatusSalesCode=null
		,IsFreeze=1
		FROM tbtrx_debetnote a
		INNER JOIN @id b on a.Id=b.keyid
	   
      UPDATE a
	  SET send_to_danone_on=@utcDate123
	  ,send_to_danone_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0 

	  --exec [ip_dn_create_ttd_ho] @distributorid,@userid,@id

--    UPDATE dn
--        SET
--            StatusSalesCode='TP2'
--            ,StatusSales='validate_by_sales'
--  ,StatusSalesOn=getdate()
--            ,StatusSalesBy=pr.CreateBy
--    FROM tbtrx_debetnote dn
--    INNER JOIN @id b on dn.id=b.keyid
--    INNER JOIN tbtrx_promo pr on dn.PromoId=pr.id
--    WHERE dn.DPP>=0 and dn.DPP<=10000000
--
--    UPDATE a
--        SET
--            validate_by_sales_on=getdate()
--            ,validate_by_sales_by=pr.CreateBy
--    FROM tbtrx_debetnote_his a
--    INNER JOIN tbtrx_debetnote dn on a.DNId=dn.Id
--    INNER JOIN @id b on dn.id=b.keyid
--    INNER JOIN tbtrx_promo pr on dn.PromoId=pr.id
--    WHERE dn.DPP>=0 and dn.DPP<=10000000
--
--    INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes)
--    SELECT dn.id,getdate(), pr.CreateBy, 'TP2', ''
--    FROM tbtrx_debetnote dn
--    INNER JOIN @id b on dn.id=b.keyid
--    INNER JOIN tbtrx_promo pr on dn.PromoId=pr.id
--    WHERE dn.DPP>=0 and dn.DPP<=10000000

   END
	
	if @status='received_by_danone'
    BEGIN
        UPDATE a
        SET received_by_danone_on=@utcDate123
        ,received_by_danone_by=@userid
        FROM tbtrx_debetnote_his a
        INNER JOIN @id b on a.DNId=b.keyid
        WHERE DNId=b.keyid --and isnull(is_cancel,0)=0

    END


	if @status='validate_by_danone'
    BEGIN  
	  UPDATE a
	  SET validate_by_danone_on=@utcDate123
	  ,validate_by_danone_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @temp b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END


	if @status='validate_by_finance'
    BEGIN  
	  UPDATE a
	  SET validate_by_finance_on=@utcDate123
	  ,validate_by_finance_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @temp b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END

	
	if @status='validate_by_sales'
    BEGIN  
	  UPDATE a
	  SET validate_by_sales_on=@utcDate123
	  ,validate_by_sales_by=@userid
	  ,validate_by_danone_on=@utcDate123
	  ,validate_by_danone_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @temp b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END


--	if @status='rejected_by_danone'
--	BEGIN
--      UPDATE a
--	  set IsFreeze=0
--	  FROM tbtrx_debetnote a
--	  INNER JOIN @id b on a.Id=b.keyid
--    END

	if @status='ready_to_invoice'
    BEGIN  
	  UPDATE a
	  SET ready_to_invoice_on=@utcDate123
	  ,ready_to_invoice_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END
	if @status='invoice'

    BEGIN 
	  UPDATE a
	  SET invoice_on=@utcDate123
	  ,invoice_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END

	if @status='confirm_paid'
    BEGIN  
	  UPDATE a
	  SET confirm_paid_on=@utcDate123
	  ,confirm_paid_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid 
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END
    
/*RECALC OVER BUDGET**************************************/
DECLARE @promoid int
DECLARE db_cursor CURSOR FOR 
SELECT distinct promoid 
FROM @id a inner join tbtrx_debetnote b on a.keyid=b.Id
WHERE isnull(b.PromoId,0)<>0 

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @promoid  

WHILE @@FETCH_STATUS = 0  
BEGIN  
	exec ip_dn_overbudget_by_prommoid @promoid

      FETCH NEXT FROM db_cursor INTO @promoid 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor
/**************************************RECALC OVER BUDGET*/
END
GO
