USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_tmp_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_mst_mechanism_tmp_list] AS
BEGIN
	DROP TABLE IF EXISTS #mpMechanism

	SELECT TOP 1
		entity, subCategory, activity, subActivity, product, requirement, discount, mechanism, channel, startDate, endDate
		INTO #mpMechanism
		FROM tbmst_mechanism 

	DELETE FROM #mpMechanism

	INSERT INTO #mpMechanism VALUES
		('Sari Husada Generasi Mahardika', 'ALL', 'Trading Term - Consumer Promo', 'Cut Price', 'SGM GUM 1+ 900', 'Beli 2', 'dapat potongan harga maximal 4%', 'Beli 2 SGM GUM 1+ 900 dapat potongan harga maximal 4%', 'MMKA,HYSU,E-COMMERCE', '2025-01-01', '2025-12-31'),
		('Sari Husada Generasi Mahardika', 'ALL', 'Trading Term - Consumer Promo', 'Cut Price', 'SGM GUM 1+ SOYA 700', 'Beli 1', 'dapat potongan harga maximal 15%', 'Beli 1 SGM GUM 1+ SOYA 700 dapat potongan harga maximal 15%', 'MMKA,HYSU,E-COMMERCE,PHARMACY', '2025-01-01', '2025-12-31'),
		('Sari Husada Generasi Mahardika', 'ALL', 'Trading Term - Consumer Promo', 'Cut Price', 'SGM GUM 1+ SOYA 400', 'Beli 2', 'dapat potongan harga maximal 10%', 'Beli 2 SGM GUM 1+ SOYA 400 dapat potongan harga maximal 10%', 'PHARMACY', '2025-01-01', '2025-12-31'),
		('Sari Husada Generasi Mahardika', 'ALL', 'Adhoc Channel - Consumer Promo', 'Cut Price', 'SGM GUM 1+ SOYA 700', 'Beli 1', 'dapat potongan harga maximal 15%', 'Beli 1 SGM GUM 1+ SOYA 700 dapat potongan harga maximal 15%', 'MTI,PROVISION', '2025-01-01', '2025-12-31'),
		('Sari Husada Generasi Mahardika', 'ALL', 'Adhoc Channel - Consumer Promo', 'Cut Price', 'SGM GUM 1+ 900', 'Beli 2', 'dapat potongan harga maximal 4%', 'Beli 2 SGM GUM 1+ 900 dapat potongan harga maximal 4%', 'MTI,PROVISION', '2025-01-01', '2025-12-31')

	SELECT * FROM #mpMechanism

	DROP TABLE IF EXISTS #mpMechanism
END
GO
