USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_reminder_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_reminder_list]
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
/*
 * SP ini untuk landing page dg category percation, warning, critical
 * untuk kirim notif email bikin SP baru yg manggil SP ini, dimana aging % frequency = 0
 */
BEGIN
	DECLARE @query nvarchar(MAX);
	DECLARE @id int;
	DECLARE @reminder_desc nvarchar(50);
	DECLARE @frequency int;
	DECLARE @strcondition nvarchar(50);

	DECLARE @Temp TABLE
	(
		reminderid int,
		Id int NOT NULL,
		ParentId int NOT NULL,
		RefId varchar(115) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		PromoPlanId int NOT NULL,
		AllocationId int NOT NULL,
		AllocationRefId varchar(36) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		CategoryShortDesc varchar(36) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		PrincipalShortDesc varchar(36) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		BudgetMasterId int NOT NULL,
		CategoryId int NOT NULL,
		SubCategoryId int NOT NULL,
		ActivityId int NOT NULL,
		SubActivityId int NOT NULL,
		ActivityDesc varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		StartPromo date NOT NULL,
		EndPromo date NOT NULL,
		Mechanisme1 varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		Mechanisme2 varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		Mechanisme3 varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		Mechanisme4 varchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		Notes varchar(8000) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		Roi numeric(19,2) NOT NULL,
		CostRatio numeric(19,2) NOT NULL,
		NormalSales numeric(19,0) NOT NULL,
		IncrSales numeric(19,0) NOT NULL,
		TotSales numeric(18,0) NOT NULL,
		TotInvest numeric(18,0) NOT NULL,
		Status varchar(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		CreateOn datetime NULL,
		CreateBy varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		ModifiedOn datetime NULL,
		ModifiedBy varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		IsCancel bit NULL,
		PrevRoi numeric(19,2) NULL,
		PrevCostRatio numeric(19,2) NULL,
		PrevNormalSales numeric(19,2) NULL,
		PrevIncrSales numeric(19,2) NULL,
		PrevTotInvest numeric(19,2) NULL,
		PrevTotSales numeric(19,2) NULL,
		TsCoding varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,		
		UserApprover varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		UserApproverName varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
--		Status varchar(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		RequestDate datetime NOT NULL,
		IsOnGoing bit NOT NULL,
--		Notes nvarchar(250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		Aging int,
		ReconStatus int
	);
	
	DECLARE cursor_reminder CURSOR
	FOR SELECT id, description, frequency, CASE WHEN category <> 203 THEN concat('BETWEEN ',daysfrom,' AND ', daysto) ELSE concat('>= ', daysto) END 
		FROM tbset_config_reminder where remindertype=100
--		WHERE id=1
	;
	 
	OPEN cursor_reminder;
	FETCH NEXT FROM cursor_reminder
	INTO @id, @reminder_desc, @frequency, @strcondition;

	WHILE @@FETCH_STATUS = 0
	BEGIN
--		SET @id=CONVERT(INT,@id)
--		SET @query='select id, aging, description, ''' + @reminder_desc + ''' from tbset_config_test tct where aging ' + @strcondition;
--		SET @query='select id, aging, description, @id from tbset_config_test tct where aging ' + @strcondition;
--		SET @query='SELECT a.id, a.parentid, datediff(day, b.RequestDate, getdate()) as aging, @id, b.userapprover, a.createby,b.status, b.requestdate, b.isongoing, b.notes
		SET @query='SELECT @id,
				a.Id,
				a.ParentId,
				a.RefId,
				a.PromoPlanId,
				a.AllocationId,
				a.AllocationRefId,
				a.CategoryShortDesc,
				a.PrincipalShortDesc,
				a.BudgetMasterId,
				a.CategoryId,
				a.SubCategoryId,
				a.ActivityId,
				a.SubActivityId,
				a.ActivityDesc,
				a.StartPromo,
				a.EndPromo,
				a.Mechanisme1,
				a.Mechanisme2,
				a.Mechanisme3,
				a.Mechanisme4,
				a.Notes,
				a.Roi,
				a.CostRatio,
				a.NormalSales,
				a.IncrSales,
				a.TotSales,
				a.TotInvest,
				a.Status,
				a.CreateOn,
				a.CreateBy,
				a.ModifiedOn,
				a.ModifiedBy,
				a.IsCancel,
				a.PrevRoi,
				a.PrevCostRatio,
				a.PrevNormalSales,
				a.PrevIncrSales,
				a.PrevTotInvest,
				a.PrevTotSales,
				a.TsCoding,   
				b.userapprover, 
				b.userapprovername, 
				b.requestdate, 
				b.isongoing, 
				datediff(day, b.RequestDate, ''' + CAST(@utcDate123 AS varchar) + ''') as aging, 0
			FROM tbtrx_promo_request_approval a INNER JOIN tbtrx_promo_approval b ON a.id=b.RequestId
			INNER JOIN tbtrx_promo pr on a.parentid=pr.id and isnull(pr.IsCancel, 0) = 0 and pr.StatusApprovalCode=''TP1''
			WHERE isnull(pr.IsCancelLocked,0)=0 AND isnull(a.iscancel,0) = 0 and b.Status = ''TP1'' AND IsOnGoing = 1 AND datediff(day, b.RequestDate, '''+ CAST(@utcDate123 AS varchar) +''') ' + @strcondition;

		INSERT INTO @Temp EXEC sp_executesql @query, N'@id int', @id
--		SET @query='SELECT a.id, a.parentid, datediff(day, b.RequestDate, getdate()) as aging, @id, b.userapprover, a.createby,b.status, b.requestdate, b.isongoing, b.notes
		SET @query='SELECT @id,
				a.Id,
				a.ParentId,
				a.RefId,
				a.PromoPlanId,
				a.AllocationId,
				a.AllocationRefId,
				a.CategoryShortDesc,
				a.PrincipalShortDesc,
				a.BudgetMasterId,
				a.CategoryId,
				a.SubCategoryId,
				a.ActivityId,
				a.SubActivityId,
				a.ActivityDesc,
				a.StartPromo,
				a.EndPromo,
				a.Mechanisme1,
				a.Mechanisme2,
				a.Mechanisme3,
				a.Mechanisme4,
				a.Notes,
				a.Roi,
				a.CostRatio,
				a.NormalSales,
				a.IncrSales,
				a.TotSales,
				a.TotInvest,
				a.Status,
				a.CreateOn,
				a.CreateBy,
				a.ModifiedOn,
				a.ModifiedBy,
				a.IsCancel,
				a.PrevRoi,
				a.PrevCostRatio,
				a.PrevNormalSales,
				a.PrevIncrSales,
				a.PrevTotInvest,
				a.PrevTotSales,
				a.TsCoding,   
				b.userapprover, 
				b.UserApproverName, 
				b.requestdate, 
				b.isongoing, datediff(day, b.RequestDate, ''' + CAST(@utcDate123 AS varchar) + ''') as aging, 1
			FROM tbtrx_promo_request_approval_recon a INNER JOIN tbtrx_promo_approval_recon b ON a.id=b.RequestId
			INNER JOIN tbtrx_promo pr on a.parentid=pr.id and isnull(pr.IsCancel, 0) = 0 and pr.StatusApprovalCodeRecon=''TP1''
			WHERE isnull(pr.IsCancelLocked,0)=0 AND isnull(a.iscancel,0) = 0 and b.Status = ''TP1'' AND IsOnGoing = 1 AND datediff(day, b.RequestDate, '''+ CAST(@utcDate123 AS varchar) +''') ' + @strcondition;
	
		INSERT INTO @Temp EXEC sp_executesql @query, N'@id int', @id
		
		
		FETCH NEXT FROM cursor_reminder
		INTO @id, @reminder_desc, @frequency, @strcondition;
	END

	CLOSE cursor_reminder;
	DEALLOCATE cursor_reminder;

--	SELECT a.*, b.description as reminder_category, b.frequency 
--	FROM @Temp a inner join tbset_config_reminder b on a.reminderid=b.id;

--	SELECT a.*, b.userapprover, b.status, b.requestdate, b.isongoing, b.notes, datediff(day, b.RequestDate, getdate()) as aging, 
--	y.description as reminder_category, y.frequency, case when datediff(day, b.RequestDate, getdate()) % y.frequency = 0 THEN 1 ELSE 0 END as send,
--	tu1.email as initiatiorEmail, tu2.email as UserApproverEmail
	

	SELECT 
	z.*,
	y.description as reminder_category, y.frequency, case when datediff(day, z.RequestDate, getdate()) % y.frequency = 0 THEN 1 ELSE 0 END as send,
	tu1.email as initiatiorEmail, tu2.email as UserApproverEmail
	FROM @Temp z 
	inner join tbset_config_reminder y on z.reminderid=y.id
	inner join tbset_user tu1 on z.createby = tu1.id and isnull(tu1.isdeleted, 0) = 0 
	inner join tbset_user tu2 on z.userapprover = tu2.id and isnull(tu2.isdeleted, 0) = 0
	inner join tbtrx_promo pr on z.ParentId=pr.id and isnull(pr.iscancel,0)=0
	--where z.ReconStatus = 1 and z.CategoryShortDesc <> 'DC'
	--WHERE z.RefId IN ('NIS00017/AL24/RC', 'NIS00018/AL24/RC')
--	WHERE z.CreateOn>='2024-06-24'

--	WHERE isnull(a.IsCancel, 0) = 0
--/*TO BE REMARKED*/		AND a.ParentId IN (4720)
END
GO
