

/****** Object:  StoredProcedure [dbo].[ip_ps_value_tmp_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_ps_value_tmp_list] 
	@period varchar(4)
	,@distributorid ArrayIntType READONLY
	,@groupbrandid ArrayIntType READONLY

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255)
	,@sort varchar(4)
AS

--DECLARE
--	@period varchar(4)
--	,@distributorid ArrayIntType
--	,@groupbrandid ArrayIntType 

--	,@start int
--	,@length int
--	,@txtSearch varchar(255)
--	,@order varchar(255)
--	,@sort varchar(4)

--SET @period = '2024'
--INSERT INTO @distributorid VALUES (2),(3), (4), (5), (6)
--INSERT INTO @groupbrandid VALUES(1),(2)
--SET @start = 0
--SET @length = -1
--SET @txtSearch = null
SET @order = 'distributor, groupBrandId, groupBrand'
--SET @sort = 'asc'

--exec ip_ps_value_tmp_list 2024,@distributorid, @subdistributorid, @accountid, @subaccountid, @regionid, @groupbrandid, 0,-1,'','',''

BEGIN 
	DROP TABLE IF EXISTS #temp_ps_value

	DECLARE 
		@distributor_list ArrayIntType
		, @groupbrand_list ArrayIntType

		, @distributorSelect INT
		, @groupbrandSelect INT

		, @recordsFiltered int
		, @SQL NVARCHAR(MAX)

	SET @order = IIF(ISNULL(@order,'')='','period', @order)
	SET @start = @start * @length

	SET @distributorSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @distributorid)
	SET @groupbrandSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @groupbrandid)

	IF @distributorSelect = 0
	BEGIN
		INSERT INTO @distributor_list
		SELECT id FROM tbmst_distributor WHERE ISNULL(IsDeleted, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @distributor_list
		SELECT keyid FROM @distributorid
	END


	IF @groupbrandSelect = 0
	BEGIN
		INSERT INTO @groupbrand_list
		SELECT id FROM tbmst_brand_group WHERE ISNULL(IsDeleted, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @groupbrand_list
		SELECT keyid FROM @groupbrandid
	END


/*PS VALUE EXIST*/
	SELECT 
		@period period, 
		a.distributorid, a.distributor
		, a.groupBrandId, a.groupBrand,
		isnull(psv.m1,0) m1, isnull(psv.m2, 0) m2, isnull(psv.m3, 0) m3, isnull(psv.m4, 0) m4, isnull(psv.m5, 0) m5, isnull(psv.m6, 0) m6, isnull(psv.m7,0) m7, isnull(psv.m8, 0) m8, isnull(psv.m9, 0) m9, isnull(psv.m10, 0) m10, isnull(psv.m11, 0) m11, isnull(psv.m12, 0) m12, 
		isnull(psv.fy, 0) fy
		INTO #temp_ps_value
		FROM (
			SELECT md.id distributorid, md.LongDesc distributor
				, mbg.id groupBrandId, mbg.LongDesc groupBrand
			FROM tbmst_distributor md 
			INNER JOIN @distributor_list mcl ON md.id = mcl.keyid
			CROSS JOIN (
				select * from tbmst_brand_group a
				inner join @groupbrand_list b on a.Id=b.keyid
				) mbg
			)a
		LEFT JOIN (
			select * from tbtrx_ps_value WHERE period=@period 
			) psv ON
				a.distributorid=psv.distributorid AND
				a.groupBrandId=psv.groupbrandid 
		WHERE psv.id is not null

/*SS VALUE NOT EXIST*/
	INSERT INTO #temp_ps_value
	SELECT 
		@period period, 
		a.distributorid, a.distributor
		, a.groupBrandId, a.groupBrand,
		isnull(psv.m1,0) m1, isnull(psv.m2, 0) m2, isnull(psv.m3, 0) m3, isnull(psv.m4, 0) m4, isnull(psv.m5, 0) m5, isnull(psv.m6, 0) m6, isnull(psv.m7,0) m7, isnull(psv.m8, 0) m8, isnull(psv.m9, 0) m9, isnull(psv.m10, 0) m10, isnull(psv.m11, 0) m11, isnull(psv.m12, 0) m12, 
		isnull(psv.fy, 0) fy
		FROM (
			SELECT md.id distributorid, md.LongDesc distributor
				, mbg.id groupBrandId, mbg.LongDesc groupBrand
			FROM tbmst_distributor md 
			CROSS JOIN (
				select * from tbmst_brand_group a
				inner join @groupbrand_list b on a.Id=b.keyid
				) mbg
			WHERE ISNULL(md.isdeleted,0)=0
			)a
		LEFT JOIN (
			select * from tbtrx_ps_value WHERE period=@period 
			) psv ON
				a.distributorid=psv.distributorid AND
				a.groupBrandId=psv.groupbrandid 
		WHERE psv.id IS null



 /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(period),0) FROM #temp_ps_value
		WHERE 
			(period like '%' + isnull(@txtSearch,'') + '%') OR 
			(distributor like '%' + isnull(@txtSearch,'') + '%') OR
			(groupBrand like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(period),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_ps_value
	
--goto HELL	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT *
				FROM #temp_ps_value			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * 
				FROM #temp_ps_value
				WHERE 
					(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') 
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * 
				FROM #temp_ps_value
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * 
				FROM #temp_ps_value
				WHERE 
					(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') 
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
	Select ROW_NUMBER() OVER (ORDER BY LongDesc ASC) id, longDesc from tbmst_distributor where ISNULL(IsDeleted,0)=0 

	DROP TABLE IF EXISTS #temp_ps_value

END
GO
