

/****** Object:  StoredProcedure [dbo].[ip_promo_accrual_report]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_accrual_report] --'2020',0,0,0,0,'scsh1','2020-01-22'
--DECLARE
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@closingdt date
,@download int

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='scsh1'
--SET @closingdt='2020-12-01'

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
declare @endofmonth date,@closingdtx date;
declare @AccrualId int, @strEntity varchar(50), @strDistributor varchar(50);

set @closingdtx=(select convert(date,@closingdt,120))
set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

DECLARE @Temp TABLE
	(
	  BudgetParent int,
	  Levels int,
	  BudgetId int
	)
	;

    If @download=1
    BEGIN
        SET @strEntity = IIF(@entity=0,'All',(SELECT longdesc FROM tbmst_principal WHERE id=@entity));
        SET @strDistributor = IIF(@distributor=0,'All',(SELECT longdesc FROM tbmst_distributor WHERE id=@distributor));

        INSERT INTO tbhis_accrual_report_hdr (Periode, EntityId, Entity, DistributorId, Distributor, budgetparent, ChannelId, UserId, ClosingDt, CreateOn)
            VALUES(@periode, @entity, @strEntity, @distributor, @strDistributor, @budgetparent, @channel, @userid, @closingdt, (@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC')

        SET @AccrualId=(SELECT SCOPE_IDENTITY())

        INSERT INTO dbo.tbhis_accrual_report_dtl
            SELECT
				@AccrualId
                ,p.id EntityId
				,p.LongDesc Entity
                ,d.id DistributorId
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,channel.ChannelDesc
				,account.AccountDesc
				,subaccount.SubAccountDesc
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
				,pr.ApprovalNotes
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
				,TotalClaim DnClaim
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo
				,CASE
					WHEN isnull(pr.IsCancel,0)=1 THEN 0
					WHEN isnull(pr.IsClose,0) = 1 THEN 
						ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * Investment,0),0)
				    END AS AccrueMTD
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN isnull(pr.IsClose,0) = 1 THEN 
						ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float) * Investment,0),0)
				    END AS AccrueYTD
				,pr.TsCoding
                ,d.SAPCodex SoldToCode
                ,brandgroup.sapcode Material
				FROM tbtrx_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
				left join
						(
							select aa.Id promoid, min(isnull(cc.sapcode,'')) sapcode from tbtrx_promo aa
								INNER JOIN tbtrx_promo_brand bb on aa.Id=bb.PromoId
								INNER JOIN tbset_brand_group cc on bb.BrandId=cc.brandid
								GROUP BY aa.Id
						) brandgroup
						ON pr.Id=brandgroup.promoid
                inner join
						(
							select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
									from tbtrx_promo_channel a with (nolock)
									INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
									INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) channel
						on pr.Id = channel.PromoId
	            inner join
						(
							select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
										from tbtrx_promo_account a with (nolock)
										INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) account
						on pr.Id = account.PromoId
                inner join
						(
							select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_subaccount a with (nolock)
										INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				LEFT JOIN
				(
				    SELECT 
						a.PromoId
						,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
						,SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
						--,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					FROM tbtrx_debetnote a
										INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
										inner join tbtrx_allocation c on pr.AllocationId=c.Id
										inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
										inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
										AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
										AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
										AND isnull(a.IsCancel, 0) = 0
										AND isnull(a.IsDNPromo,0)=1	--LUK210128
										GROUP BY a.PromoId					
					--SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
					--FROM tbtrx_debetnote a
					--INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
					--inner join tbtrx_allocation c on pr.AllocationId=c.Id
					--inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
					--WHERE c.Periode=@periode
					--AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
					--AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					--AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					--GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN 
				(
					SELECT a.id
					,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
--					, isnull(sum(b.TotalPaid),0) dnpaid
					FROM tbtrx_promo a
					LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
					WHERE isnull(a.isclose,0)=1
					GROUP BY a.id 
				) promoclose on pr.Id = promoclose.id
-- 				LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
				WHERE c.Periode=@periode
				AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

            EXEC ip_promo_accrual_report_byId @AccrualId
    END
    ELSE
    BEGIN
        IF @budgetparent <> 0
        BEGIN
				declare @p_alcid int;

				DECLARE
					@product_name int


				DECLARE cursor_product CURSOR
				FOR SELECT
						Id

					FROM
						tbtrx_allocation where BudgetType='BAL' and BudgetMasterId=@budgetparent;

				OPEN cursor_product;


				FETCH NEXT FROM cursor_product INTO
					@product_name


				WHILE @@FETCH_STATUS = 0
					BEGIN


					SET @p_alcid=@product_name;

						/***/

							with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
							as
							(
							select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							union all
							select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a
							inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD

							)


				INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				option (maxrecursion 0);
						FETCH NEXT FROM cursor_product INTO
							@product_name

					END;

				CLOSE cursor_product;

				DEALLOCATE cursor_product;

				SELECT
				@AccrualId
				,p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,channel.ChannelDesc
				,account.AccountDesc
			    ,subaccount.SubAccountDesc
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
				,pr.ApprovalNotes
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
				,TotalClaim DnClaim
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN isnull(pr.IsClose,0) = 1 THEN 
						ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * Investment,0),0)
				    END AS AccrueMTD
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN isnull(pr.IsClose,0) = 1 THEN 
						ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float) * Investment,0),0)
				    END AS AccrueYTD
				,pr.TsCoding
				FROM tbtrx_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
                inner join
						(
							select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
									from tbtrx_promo_channel a with (nolock)
									INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
									INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) channel
						on pr.Id = channel.PromoId
	            inner join
						(
							select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
										from tbtrx_promo_account a with (nolock)
										INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) account
						on pr.Id = account.PromoId
                inner join
						(
							select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_subaccount a with (nolock)
										INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
			LEFT JOIN
				(
				    SELECT 
						a.PromoId
						,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
						,SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
						--,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					FROM tbtrx_debetnote a
										INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
										inner join tbtrx_allocation c on pr.AllocationId=c.Id
										inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
										inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
										AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
										AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
										AND isnull(a.IsCancel, 0) = 0
										AND isnull(a.IsDNPromo,0)=1	--LUK210128
										GROUP BY a.PromoId					
					--SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
					--FROM tbtrx_debetnote a
					--INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
					--inner join tbtrx_allocation c on pr.AllocationId=c.Id
					--inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
					--WHERE c.Periode=@periode
					--AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
					--AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					--AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					--GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN 
				(
					SELECT a.id
					,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
--					, isnull(sum(b.TotalPaid),0) dnpaid
					FROM tbtrx_promo a
					LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
					WHERE isnull(a.isclose,0)=1
					GROUP BY a.id 
				) promoclose on pr.Id = promoclose.id				
				LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
				WHERE c.Periode=@periode
				AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND EXISTS(SELECT BudgetId FROM @temp WHERE pr.AllocationId=BudgetId)

        END
        ELSE
        BEGIN
				SELECT
				@AccrualId
				,p.LongDesc Entity
				,d.LongDesc Distributor
				,p.LongDesc PrincipalDesc
				,c.LongDesc BudgetSource
				,pr.CreateBy [Initiator]
				,pr.CreateOn [CreateOn]
				,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
				,pr.RefId [PromoNumber]
				,sctg.LongDesc [SubCategory]
				,act.LongDesc [Activity]
				,sact.LongDesc [SubActivity]
				,pr.ActivityDesc
				,isnull(pr.Mechanisme1,'') Mechanisme1
				,isnull(pr.Mechanisme2,'') Mechanisme2
				,isnull(pr.Mechanisme3,'') Mechanisme3
				,isnull(pr.Mechanisme4,'') Mechanisme4
				,channel.ChannelDesc
				,account.AccountDesc
				,subaccount.SubAccountDesc
				,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
				,pr.ApprovalNotes
				,pr.NormalSales + pr.IncrSales [Target]
				,pr.Investment
				,TotalClaim DnClaim
				,TotalPaid DnPaid
				,pr.StartPromo
				,pr.EndPromo
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN isnull(pr.IsClose,0) = 1 THEN 
						ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * Investment,0),0)
				    END AS AccrueMTD
				,CASE
					WHEN pr.IsCancel=1 THEN 0
					WHEN isnull(pr.IsClose,0) = 1 THEN 
						ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
					WHEN
				        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
				    ELSE
				        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float) * Investment,0),0)
				    END AS AccrueYTD
				,pr.TsCoding
				FROM tbtrx_promo pr with (nolock)
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				left join tbset_user uo on uo.Id=pr.CancelBy
				inner join tbset_user uf on uf.Id=pr.Approver
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
                inner join
						(
							select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
									from tbtrx_promo_channel a with (nolock)
									INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
									INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) channel
						on pr.Id = channel.PromoId
	            inner join
						(
							select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
										from tbtrx_promo_account a with (nolock)
										INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) account
						on pr.Id = account.PromoId
                inner join
						(
							select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
										from tbtrx_promo_subaccount a with (nolock)
										INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
										INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
								GROUP BY a.PromoId
						) subaccount
						on pr.Id = subaccount.PromoId
				left join
				(
					SELECT a.PromoId,SUM(TotalClaim) TotalClaim,SUM(TotalPaid)  TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
					inner join tbtrx_allocation c on pr.AllocationId=c.Id
					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
					WHERE c.Periode=@periode
					AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					GROUP BY a.PromoId
				) dn on pr.Id=dn.PromoId
				LEFT JOIN 
				(
					SELECT a.id
					,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
--					, isnull(sum(b.TotalPaid),0) dnpaid
					FROM tbtrx_promo a
					LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
					WHERE isnull(a.isclose,0)=1
					GROUP BY a.id 
				) promoclose on pr.Id = promoclose.id				
				LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
				WHERE c.Periode=@periode
				AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
        END

    END
END
GO
