USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_list_for_adjustment]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_budgetallocation_list_for_adjustment] --'2020',0
    @periode varchar(4)
    ,@entity int
AS

/*TESTING PURPOSE*******************/
-- DECLARE 
--  @periode varchar(4)
-- ,@entity int

--SET @periode ='2020'
--SET @entity = 1
/*******************TESTING PURPOSE*/
BEGIN
    select ta.Periode, ta.RefId, ta.BudgetType, ta.DistributorId, tb.PrincipalId,ta.BudgetAmount, ta.LongDesc, ta.StatusApproval
    from dbo.tbtrx_allocation ta
    inner join dbo.tbtrx_budgetmaster tb on ta.BudgetMasterId=tb.id
    where ta.BudgetType='BAL'
    and ta.Periode=@periode
	AND IIF(@entity=0,'',tb.PrincipalId) =IIF(@entity=0,'',@entity)
END

GO
