USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_config_promo_items_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_config_promo_items_get] --'DC'
@category varchar(2)
AS

--declare @category varchar(2)
--set @category='DC'

BEGIN
	SELECT 
		conf.id,	
		conf.categoryId,	
		conf.budgetYear,
		conf.promoPlanning,
		conf.budgetSource,
		conf.entity,
		conf.distributor,
		conf.subCategory,
		conf.activity,
		conf.subActivity,
		conf.subActivityType,
		conf.startPromo,
		conf.endPromo,
		conf.activityName,
		conf.initiatorNotes,
		conf.incrSales,
		conf.investment,
		conf.channel,
		conf.subChannel,
		conf.account,
		conf.subAccount,
		conf.region,
		conf.groupBrand,
		conf.brand,
		conf.SKU,
		conf.mechanism,
		conf.attachment,
		conf.ROI,
		conf.CR,	
		conf.createOn,
		conf.createBy,
		conf.createdEmail,
		conf.modifiedOn,
		conf.modifiedBy,
		conf.modifiedEmail,
		conf.isDelete,
		conf.deleteOn,
		conf.deleteBy,
		conf.deleteEmail
	FROM tbset_config_promo_items conf
	INNER JOIN tbmst_category mc ON conf.categoryId = mc.id
	WHERE mc.ShortDesc=@category
	
	SELECT 
		conf.categoryId disabledCategoryId,	
		conf.budgetYear disabledBudgetYear,
		conf.promoPlanning disabledPromoPlanning,
		conf.budgetSource disabledBudgetSource,
		conf.entity disabledEntity,
		conf.distributor disabledDistributor,
		conf.subCategory disabledSubCategory,
		conf.activity disabledActivity,
		conf.subActivity disabledSubActivity,
		conf.subActivityType disabledSubActivityType,
		conf.startPromo disabledStartPromo,
		conf.endPromo disabledEndPromo,
		conf.activityName disabledActivityName,
		conf.initiatorNotes disabledInitiatorNotes,
		conf.incrSales disabledIncrSales,
		conf.investment disabledInvestment,
		conf.channel disabledChannel,
		conf.subChannel disabledSubChannel,
		conf.account disabledAccount,
		conf.subAccount disabledSubAccount,
		conf.region disabledRegion,
		conf.groupBrand disabledGroupBrand,
		conf.brand disabledBrand,
		conf.SKU disabledSKU,
		conf.mechanism disabledMechanism,
		conf.attachment disabledAttachment,
		conf.ROI disabledROI,
		conf.CR disabledCR
	FROM tbset_config_promo_items_disabled conf
	INNER JOIN tbmst_category mc ON conf.categoryId = mc.id
	WHERE mc.ShortDesc=@category
END
GO
