USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_budget_approval_dl_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_budget_approval_dl_list] 
	@Period int, 
	@ChannelId ArrayIntType Readonly, 
	@groupBrand ArrayIntType Readonly,
	@approvalStatus CharAttributeType Readonly,
	@5bio INT = NULL,
	@month ArrayIntType Readonly,
	@categoryId int = 0


AS

/*TEST*/
	--DECLARE
	--	@Period int, 
	--	@ChannelId ArrayIntType , 
	--	@groupBrand ArrayIntType ,
	--	@approvalStatus CharAttributeType ,
	--	@5bio INT = NULL,
	--	@month ArrayIntType, 
	--	@categoryId int = 0

	--	SET @Period = 2025 
	--	INSERT INTO @ChannelId		select id from tbmst_channel where ISNULL(IsDelete,0)=0
	--	INSERT INTO @groupBrand		select id from tbmst_brand_group where ISNULL(IsDeleted,0)=0
	--	INSERT INTO @approvalStatus values ('TP01'),('TP02'),('TP03'),('TP04')
	--	--SET @batchid = ''
	--	--INSERT INTO @ChannelId		select id from tbmst_channel where ISNULL(IsDelete,0)=0
	--	--INSERT INTO @groupBrand		select id from tbmst_brand_group where ISNULL(IsDeleted,0)=0
	--	--INSERT INTO @approvalStatus values ('TP01'),('TP02'),('TP03'),('TP04')
	--	--SET @batchid = '20241018093057'
	--	INSERT INTO @month VALUES (1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12)
----EXEC [ip_promo_budget_approval_rpt_list] 
--		--		@Period, 
--		--		@ChannelId, 
--		--		@groupBrand,
--		--		@approvalStatus,
--		--		@batchid

BEGIN
	SET @categoryId=ISNULL(@categoryId,0)
	--IF ISNULL(@categoryId,0)=0
	--BEGIN
	--	SET @categoryId = (SELECT id from tbmst_category where ShortDesc='RC')
	--END

	DECLARE
	@pChannelId ArrayIntType , 
	@pgroupBrand ArrayIntType ,
	@papprovalStatus CharAttributeType ,
	@monthFilter ArrayIntType,
	@monthCek int,
	@cnt int 
	--@sql nvarchar(max)

			SELECT TOP 1 @monthCek = keyid FROM @month

			SELECT @cnt=COUNT(*) FROM @month
			IF @cnt = 0 OR @monthCek = 0
			BEGIN
				INSERT INTO @monthFilter VALUES (1), (2), (3), (4), (5), (6), (7), (8), (9), (10), (11), (12)		
			END
			ELSE
			BEGIN
				INSERT INTO @monthFilter SELECT keyid FROM @month
			END

			SELECT @cnt=COUNT(*) FROM @ChannelId

			IF @cnt=0 
				BEGIN
					INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @ChannelId) = 0
				BEGIN
					INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
				END
			ELSE 
				BEGIN
					INSERT INTO @pChannelId (keyid) select keyid from @ChannelId
				END

			SELECT @cnt=COUNT(*) FROM @groupBrand

			IF @cnt=0 
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @groupBrand) = 0
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
				END
			ELSE 
				BEGIN
					INSERT INTO @pgroupBrand (keyid) select keyid from @groupBrand
				END
		
			SELECT @cnt=COUNT(*) FROM @approvalStatus

			IF @cnt=0 
				BEGIN
					INSERT INTO @papprovalStatus (id) select StatusCode from tbmst_master_status where StatusType='TPD'
				END
			ELSE IF @cnt=1 AND (SELECT TOP 1 id FROM @approvalStatus) = '0'
				BEGIN
					INSERT INTO @papprovalStatus (id) select StatusCode from tbmst_master_status where StatusType='TPD'
				END
			ELSE
				BEGIN
					INSERT INTO @papprovalStatus (id) select id from @approvalStatus
				END

	DROP TABLE IF EXISTS #tempResultDetail

	DECLARE @tmpPromoId TABLE (
		promoId int,
		statusCode varchar(50), statusDesc varchar(50), StartPromo datetime)

	IF @5bio IS NULL
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id, maps.StatusCode, maps.StatusDesc, pr.StartPromo from tbtrx_promo pr
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId AND Period = @Period
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode AND maps.StatusType='TPD'
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId=gb.keyid
				WHERE MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) AND ISNULL(pr.iscancel,0)=0
				AND IIF(@categoryId=0, 0, pr.categoryId) = IIF(@categoryId=0, 0, @categoryId)
					--AND pr.CategoryId=@categoryId
		END
	ELSE IF @5bio = 0
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id, maps.StatusCode, maps.StatusDesc, pr.StartPromo from tbtrx_promo pr
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId AND Period = @Period
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode AND maps.StatusType='TPD'
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId=gb.keyid
				WHERE pr.investment <= 5000000000
				AND MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) AND ISNULL(pr.iscancel,0)=0
				AND IIF(@categoryId=0, 0, pr.categoryId) = IIF(@categoryId=0, 0, @categoryId)
					--AND pr.CategoryId=@categoryId
		END
	ELSE IF @5bio = 1
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id, maps.StatusCode, maps.StatusDesc, pr.StartPromo from tbtrx_promo pr
						INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId AND Period = @Period
						INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
						INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
						INNER JOIN @papprovalStatus apps ON prbs.LastStatusCode = apps.id
						INNER JOIN tbmst_master_status maps ON apps.Id = maps.StatusCode AND maps.StatusType='TPD'
						INNER JOIN @pgroupBrand gb ON pr.GroupBrandId=gb.keyid
				WHERE pr.investment > 5000000000
				AND MONTH(pr.StartPromo) IN (SELECT keyid FROM @monthFilter) AND ISNULL(pr.iscancel,0)=0
				AND IIF(@categoryId=0, 0, pr.categoryId) = IIF(@categoryId=0, 0, @categoryId)
					--AND pr.CategoryId=@categoryId
		END



/*DETAIL*/
	SELECT
	pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
	, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
	, prcha.channelId, mcha.LongDesc channel, ISNULL(pracc.accountId,0)accountId, ISNULL(macc.LongDesc,'---') account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment
	, IIF(prcal.Cost<=5000000000, 'No', 'Yes') investment5bio, mbgr.LongDesc brand
	, IIF(msat.LongDesc = 'Contractual', 'Trading Term'
		, IIF(msat.LongDesc = 'Non Contractual', 'Adhoc'
		, IIF(mmac.LongDesc = 'Running Rate', 'Trading Term'
		, IIF(mmac.LongDesc = 'Non Running Rate - Fix Value', 'Trading Term'
		,'')))
		) tradingTermAdhoc
	--, IIF(msat.LongDesc = 'Contractual', 'Trading Term', IIF(msat.LongDesc = 'Non Contractual', 'Adhoc','')) tradingTermAdhoc
	, 0 crMechanism, DATENAME(month, pr.startpromo) monthStart, DATENAME(month, pr.endpromo) monthEnd, '' forRevision
	, tpr.promoId id
	, tpr.statusCode, tpr.statusDesc
	, approved, deployed
	, prbs.approvalRequestOn, prbs.approvalRequestBy, prbs.approvalRequestEmail
	, prbs.approved1On, prbs.approved1By, prbs.approved1Email
	, prbs.approved2On, prbs.approved2By, prbs.approved2Email
	, prbs.approved3On, prbs.approved3By, prbs.approved3Email
	, prbs.approved4On, prbs.approved4By, prbs.approved4Email
	, prbs.approved5On, prbs.approved5By, prbs.approved5Email
	, prbs.deployedOn, prbs.deployedBy, prbs.deployedEmail
	, prbs.rejectedOn, prbs.rejectedBy, prbs.rejectedEmail
	INTO #tempResultDetail
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
	INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId 
	INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
	INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
	INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
	INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
	LEFT JOIN tbmst_main_activity_dtl mmacd ON msac.id=mmacd.subactivityid
	LEFT JOIN tbmst_main_activity mmac ON mmacd.mainactivityid=mmac.id
	INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
	INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
	INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
	INNER JOIN tbmst_brand_group mbgr ON pr.groupbrandid = mbgr.id
	LEFT JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
	LEFT JOIN tbmst_account macc ON pracc.AccountId = macc.Id

	select * from #tempResultDetail

	DROP TABLE IF EXISTS #tempResultDetail

END

GO
