USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_hlp_investment_accrual]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_hlp_investment_accrual] --'2020',0,0,0,0,'scsh1','2020-01-22'
--DECLARE
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@closingdt date

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='scsh1'
--SET @closingdt='2020-12-01'

AS
BEGIN
	--DROP TABLE IF EXISTS tbhlp_investment_accrual;
	delete from tbhlp_investment_accrual where userid = @userid

	declare @endofmonth date,@closingdtx date;
	declare @AccrualId int, @strEntity varchar(50), @strDistributor varchar(50);
	
	set @closingdtx=(select convert(date,@closingdt,120))
	set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))
	
	DECLARE @Temp TABLE
		(
		  BudgetParent int,
		  Levels int,
		  BudgetId int
		)
		;

	INSERT INTO tbhlp_investment_accrual
	SELECT
		@userid
		,pr.id PromoId 
		,p.LongDesc Entity
		,d.LongDesc Distributor
		,p.LongDesc PrincipalDesc
		,c.LongDesc BudgetSource
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,sctg.LongDesc [SubCategory]
		,act.LongDesc [Activity]
		,sact.LongDesc [SubActivity]
		,pr.ActivityDesc
		,isnull(pr.Mechanisme1,'') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,channel.ChannelDesc
		,account.AccountDesc
		,subaccount.SubAccountDesc
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + uf.username)) LastStatus
		,pr.ApprovalNotes
		,pr.NormalSales + pr.IncrSales [Target]
		,pr.Investment
		,TotalClaim DnClaim
		,TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		,CASE
			WHEN pr.IsCancel=1 THEN 0
			WHEN isnull(pr.IsClose,0) = 1 THEN 
				ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
			WHEN
		        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
		    ELSE
		        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'M') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * Investment,0),0)
		    END AS AccrueMTD
		,CASE
			WHEN pr.IsCancel=1 THEN 0
			WHEN isnull(pr.IsClose,0) = 1 THEN 
				ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as FLOAT) * promoclose.dnpaid,0),0)					
			WHEN
		        isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as decimal(18,2)) * Investment,0) < 0 then 0
		    ELSE
		        ROUND(isnull(dbo.getTotDayPromo(pr.StartPromo,pr.EndPromo,@closingdt,'Y') / cast(datediff(d,pr.StartPromo,dateadd(d,1,pr.EndPromo)) as float) * Investment,0),0)
		    END AS AccrueYTD
		,pr.TsCoding
		--INTO tbhlp_investment_accrual
		FROM tbtrx_promo pr with (nolock)
		inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
		inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
		left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
		left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
		inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
		left join tbset_user uo on uo.Id=pr.CancelBy
		inner join tbset_user uf on uf.Id=pr.Approver
		inner join tbmst_activity act on pr.ActivityId=act.id
		inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
        inner join
				(
					select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
							from tbtrx_promo_channel a with (nolock)
							INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
							INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
						GROUP BY a.PromoId
				) channel
				on pr.Id = channel.PromoId
        inner join
				(
					select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
								from tbtrx_promo_account a with (nolock)
								INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
								INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
						GROUP BY a.PromoId
				) account
				on pr.Id = account.PromoId
        inner join
				(
					select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
								from tbtrx_promo_subaccount a with (nolock)
								INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
								INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
						GROUP BY a.PromoId
				) subaccount
				on pr.Id = subaccount.PromoId
		LEFT JOIN
				(
				    SELECT 
						a.PromoId
						,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
						,SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) TotalPaid
						--,SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
					FROM tbtrx_debetnote a
					INNER JOIN tbtrx_promo pr on a.PromoId=pr.Id
					inner join tbtrx_allocation c on pr.AllocationId=c.Id
					inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id AND c.Periode=@periode
					inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND isnull(a.IsCancel, 0) = 0
					AND isnull(a.IsDNPromo,0)=1	--LUK210128
					GROUP BY a.PromoId					
				) dn on pr.Id=dn.PromoId
		LEFT JOIN 
		(
			SELECT a.id
			,SUM(iif(b.laststatus='confirm_paid',iif(vatexpired=1,b.DPP+isnull(b.ppnamt,0),b.dpp),0)) dnpaid
--					, isnull(sum(b.TotalPaid),0) dnpaid
			FROM tbtrx_promo a
			LEFT JOIN tbtrx_debetnote b on a.id=b.PromoId 
			WHERE isnull(a.isclose,0)=1
			GROUP BY a.id 
		) promoclose on pr.Id = promoclose.id				
		LEFT JOIN @temp temp on temp.BudgetId=pr.Allocationid
		WHERE c.Periode=@periode
		AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
		AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

END
GO
