USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_channel_subactivity_skp_draft_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_channel_subactivity_skp_draft_del]
	@Id       int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_map_channel_subactivity_skp_draft
	( 
       [ParentId]
      ,[ChannelId]
      ,[SubActivityId]
      ,[SKP_Draft]
      ,[CreateOn]
      ,[CreateBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]
      ,[CreatedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[ChannelId]
      ,[SubActivityId]
      ,[SKP_Draft]
      ,[CreateOn]
      ,[CreateBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]

      ,[CreatedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_map_channel_subactivity_skp_draft
	WHERE Id = @Id

	DELETE tbset_map_channel_subactivity_skp_draft
	WHERE
		Id = @Id
END


GO
