

/****** Object:  StoredProcedure [dbo].[ip_ss_tt_upload_dc_promo_update]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_tt_upload_dc_promo_update] 
	@ssttdc SSTTTypeDC READONLY
AS

--DECLARE 
--	@ssttdc SSTTTypeDC

--INSERT INTO @ssttdc VALUES
--	('2025', 'Distributor Cost', 'Running Rate', 'MMKA', 'Tigaraksa', 'TRS', 'SGM', 'DA & Subdist SC', 'BDI', 'Other DA & Subdist', 30, '2025 SGM - TRS Other DA & Subdist')

--drop table if exists LUKtmpSSTTTypeDC
----select * into LUKtmpSSTTTypeDC from @ssttdc

--update LUKtmpSSTTTypeDC set tt=0.059

--insert into @ssttdc
--select * from LUKtmpSSTTTypeDC

--select * from LUKtmpSSTTTypeDC

BEGIN
	DECLARE @resPromo as TABLE
    (
		promoId int
		--promoRefId varchar(50),
  --      userIdInitiaator varchar(255),
  --      userNameInitiaator varchar(255),
		--emailInitiator varchar(255),
		--userIdApprover varchar(255),
		--userNameApprover varchar(255),
		--emailApprover varchar(255),
		--reconciled int
	)

	--SELECT distinct pr.period, mc.id channelid, 0 subchannelid, 0 accountid, 0 subaccountid, mbg.id groupbrandid, pr.StartPromo, pr.EndPromo, pr.id promoId, pr.investment, a.tt, pr.StatusApprovalCode, isnull(pr.StatusApprovalCodeRecon, '') StatusApprovalCodeRecon, isnull(pr.reconciled, 0) reconciled, pr.DistributorId
	----, pr.RefId promoRefId, pr.IsCancel, pr.IsClose
	--FROM @ssttdc a
	--INNER JOIN tbmst_channel mc ON a.channel = mc.LongDesc --AND isnull(mc.isdelete, 0) = 0
	--INNER JOIN tbmst_distributor md ON a.distributor = md.LongDesc --AND isnull(md.isdeleted, 0) = 0
	--INNER JOIN tbmst_brand_group mbg ON a.groupbrand = mbg.LongDesc --AND isnull(mbg.isdeleted, 0) = 0
	--INNER JOIN tbmst_category cat ON a.category = cat.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	--INNER JOIN tbmst_subcategory scat ON a.subcategory = scat.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	--INNER JOIN tbmst_activity act ON a.activity = act.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	--INNER JOIN tbmst_subactivity sa ON a.subactivity = sa.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	--INNER JOIN tbmst_main_activity_dtl mad ON sa.Id = mad.subactivityid
	--INNER JOIN tbmst_main_activity mah ON mad.mainactivityid = mah.id AND mah.longDesc = 'Running Rate'
	--INNER JOIN (
	--	SELECT 
	--			a.period, a.distributorid, a.groupbrandid
	--			,SUM(ISNULL(a.m1,0) + ISNULL(a.m2,0) + ISNULL(a.m3,0) + ISNULL(a.m4,0) + ISNULL(a.m5,0) + ISNULL(a.m6,0) + ISNULL(a.m7,0) + ISNULL(a.m8,0) + ISNULL(a.m9,0) + ISNULL(a.m10,0) + ISNULL(a.m11,0) + ISNULL(a.m12,0)) psvalue
	--			FROM tbtrx_ps_value a
	--			GROUP BY a.period, a.distributorid, a.groupbrandid
	--	)b ON 
	--		a.period = b.period
	--		AND md.id= b.distributorid
	--		AND mbg.id = b.groupbrandid
	--INNER JOIN tbtrx_ss_tt tt ON 
	--	a.period = tt.period
	--	AND mc.id = tt.channelid
	--	AND tt.distributorid = md.id
	--	AND mbg.id = tt.groupbrandid
	--	AND sa.id = tt.subactivityid
	--INNER JOIN tbtrx_promo pr ON tt.id = pr.AllocationId AND pr.CategoryShortDesc = 'DC' AND isnull(pr.iscancel, 0) = 0 AND isnull(pr.isclose, 0) = 0

	/* TT Consol by Sub Activity*/
	SELECT distinct tt.id ttid, pr.period, mc.id channelid, 0 subchannelid, 0 accountid, 0 subaccountid, mbg.id groupbrandid, pr.StartPromo, pr.EndPromo, pr.id promoId, pr.investment, a.tt, pr.StatusApprovalCode, isnull(pr.StatusApprovalCodeRecon, '') StatusApprovalCodeRecon, isnull(pr.reconciled, 0) reconciled, pr.DistributorId
	INTO #temp_ss_tt
	FROM @ssttdc a
	INNER JOIN tbmst_channel mc ON a.channel = mc.LongDesc AND a.tt>0 --AND isnull(mc.isdelete, 0) = 0
	INNER JOIN tbmst_distributor md ON a.distributor = md.LongDesc --AND isnull(md.isdeleted, 0) = 0
	INNER JOIN tbmst_brand_group mbg ON a.groupbrand = mbg.LongDesc --AND isnull(mbg.isdeleted, 0) = 0
	INNER JOIN tbmst_category cat ON a.category = cat.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	INNER JOIN tbmst_subcategory scat ON a.subcategory = scat.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	INNER JOIN tbmst_activity act ON a.activity = act.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	INNER JOIN tbmst_subactivity sa ON a.subactivity = sa.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	INNER JOIN tbmst_main_activity_dtl mad ON sa.Id = mad.subactivityid
	INNER JOIN tbmst_main_activity mah ON mad.mainactivityid = mah.id AND mah.longDesc = 'Running Rate'
	INNER JOIN (
		SELECT 
				a.period, a.distributorid, a.groupbrandid
				,SUM(ISNULL(a.m1,0) + ISNULL(a.m2,0) + ISNULL(a.m3,0) + ISNULL(a.m4,0) + ISNULL(a.m5,0) + ISNULL(a.m6,0) + ISNULL(a.m7,0) + ISNULL(a.m8,0) + ISNULL(a.m9,0) + ISNULL(a.m10,0) + ISNULL(a.m11,0) + ISNULL(a.m12,0)) psvalue
				FROM tbtrx_ps_value a
				GROUP BY a.period, a.distributorid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND md.id= b.distributorid
			AND mbg.id = b.groupbrandid
	INNER JOIN tbtrx_ss_tt tt ON 
		a.period = tt.period
		AND mc.id = tt.channelid
		AND tt.distributorid = md.id
		AND mbg.id = tt.groupbrandid
		AND sa.id = tt.subactivityid
		AND cat.Id = tt.categoryid
		AND scat.Id = tt.subcategoryid
		AND act.Id = tt.activityid
		AND sa.Id = tt.subactivityid
	INNER JOIN tbtrx_promo pr ON tt.id = pr.AllocationId AND pr.CategoryShortDesc = 'DC' AND isnull(pr.iscancel, 0) = 0 AND isnull(pr.isclose, 0) = 0 and isnull(pr.Period, '') >=2025
	INNER JOIN tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
	INNER JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id AND tma.longDesc = 'Running Rate'

	/* TT Consol by Activity*/
	INSERT INTO #temp_ss_tt
	SELECT distinct tt.id ttid, pr.period, mc.id channelid, 0 subchannelid, 0 accountid, 0 subaccountid, mbg.id groupbrandid, pr.StartPromo, pr.EndPromo, pr.id promoId, pr.investment, a.tt, pr.StatusApprovalCode, isnull(pr.StatusApprovalCodeRecon, '') StatusApprovalCodeRecon, isnull(pr.reconciled, 0) reconciled, pr.DistributorId
	FROM @ssttdc a
	INNER JOIN tbmst_channel mc ON a.channel = mc.LongDesc AND a.tt>0 
	INNER JOIN tbmst_distributor md ON a.distributor = md.LongDesc 
	INNER JOIN tbmst_brand_group mbg ON a.groupbrand = mbg.LongDesc 
	INNER JOIN tbmst_category cat ON a.category = cat.LongDesc 
	INNER JOIN tbmst_subcategory scat ON a.subcategory = scat.LongDesc
	INNER JOIN tbmst_activity act ON a.activity = act.LongDesc AND ISNULL(a.subactivity, '') = '' 
	INNER JOIN (
		SELECT 
				a.period, a.distributorid, a.groupbrandid
				,SUM(ISNULL(a.m1,0) + ISNULL(a.m2,0) + ISNULL(a.m3,0) + ISNULL(a.m4,0) + ISNULL(a.m5,0) + ISNULL(a.m6,0) + ISNULL(a.m7,0) + ISNULL(a.m8,0) + ISNULL(a.m9,0) + ISNULL(a.m10,0) + ISNULL(a.m11,0) + ISNULL(a.m12,0)) psvalue
				FROM tbtrx_ps_value a
				GROUP BY a.period, a.distributorid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND md.id= b.distributorid
			AND mbg.id = b.groupbrandid
	INNER JOIN tbtrx_ss_tt tt ON 
		a.period = tt.period
		AND mc.id = tt.channelid
		AND tt.distributorid = md.id
		AND mbg.id = tt.groupbrandid
		AND cat.Id = tt.categoryid
		AND scat.Id = tt.subcategoryid
		AND act.Id = tt.activityid
		AND tt.subactivityid = 0
	INNER JOIN tbtrx_promo pr ON tt.id = pr.AllocationId AND pr.CategoryShortDesc = 'DC' AND isnull(pr.iscancel, 0) = 0 AND isnull(pr.isclose, 0) = 0 and isnull(pr.Period, '') >=2025
	INNER JOIN tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
	INNER JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id AND tma.longDesc = 'Running Rate'


	DECLARE cursor_psvalue CURSOR FOR
	SELECT distinct period, channelid, 0 subchannelid, 0 accountid, 0 subaccountid, groupbrandid, StartPromo, EndPromo, promoId, investment, tt, StatusApprovalCode, StatusApprovalCodeRecon, reconciled, DistributorId
	FROM #temp_ss_tt

	DECLARE @utcDate123 DATETIME
		SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE
		@period int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @groupbrandid int
		, @promostart date
		, @promoend date
		, @promoid int
		, @promoInvestment numeric(18,0)
		, @cr float
		, @tt float
		, @ss_value float
		, @cost float
		, @statusApprovalCode varchar(3)
		, @statusApprovalCodeRecon varchar(3)
		, @reconciled int

	DECLARE 
		@salesContribution float
		, @storeCoverage float
		, @redemptionRate float
		, @salesContribution_val float
		, @storeCoverage_val float
		, @redemptionRate_val float

	DECLARE @tbssvalue TABLE
	( 
		[ssvalue] float
	)

	DECLARE
		@Promo PromoFormType
		,@Region ArrayIntType
		,@Sku ArrayIntType
		,@attachment PromoAttachmentType
		,@Mechanism PromoMechanismType

	DECLARE
		@entityId INT
		, @distributorId INT
		, @categoryId INT
		, @subCategoryId INT
		, @activityId INT
		, @subActivityId INT
		, @subActivityTypeId INT
		, @promoActivityDesc VARCHAR(255)
		, @brandId INT
		, @createdBy VARCHAR(100)
		, @createdEmail VARCHAR(100)

	DECLARE 
		@SQL NVARCHAR(MAX)
		, @sumSQL NVARCHAR(MAX)
		, @ssvalue float
		, @apstart int
		, @apend int

	OPEN cursor_psvalue;
	FETCH NEXT FROM cursor_psvalue INTO 	@period
		, @channelid
		, @subchannelid
		, @accountid
		, @subaccountid
		, @groupbrandid
		, @promostart
		, @promoend
		, @promoid
		, @promoInvestment
		, @cr
		, @statusApprovalCode
		, @statusApprovalCodeRecon
		, @reconciled
		, @distributorid
	;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @apstart=MONTH(@promostart)
		SET @apend=MONTH(@promoend)
		SET @sumSQL = '';
		SET @SQL = '';

		WHILE @apstart <= @apend
		BEGIN
			SET @sumSQL = CONCAT(@sumSQL, '(ISNULL(a.m',@apstart,',0))+')
			SET @apstart = @apstart + 1
		/* do some work */
		END
		SET @sumSQL = LEFT(@sumSQL, LEN(@sumSQL)-1) 

		SET @SQL = CONCAT('
			SELECT 
				ROUND(SUM(',@sumSQL,'),0) ssvalue
			FROM tbtrx_ps_value a
			WHERE 
				a.period= ',@period,'
				AND a.distributorid = ',@distributorid,'
				AND a.groupbrandid = ',@groupbrandid,'
			GROUP BY a.period, a.distributorid, a.groupbrandid'
			)

		DELETE FROM @tbssvalue
		INSERT INTO @tbssvalue
		EXEC sys.sp_executesql @SQL

		SELECT @ss_value=ssvalue FROM @tbssvalue		
		--SET @cost = ROUND(@ss_value * @cr, 0)	
		SELECT @salesContribution_val = IIF(SalesContribution = 0, 100, SalesContribution), @salesContribution = SalesContribution
			, @storeCoverage_val = IIF(StoresCoverage = 0, 100, StoresCoverage), @storeCoverage = StoresCoverage
			, @redemptionRate_val = IIF(RedemptionRate = 0, 100, RedemptionRate), @redemptionRate = RedemptionRate
		FROM tbtrx_promo_calculator WHERE promoid = @promoid

		SET @cost = ROUND(@ss_value * (@salesContribution_val / 100) * (@storeCoverage_val / 100) * (@redemptionRate_val / 100) * @cr, 0)		
		
--select @promoInvestment, @cost		
		IF @promoInvestment <> @cost
		BEGIN			
			
			SELECT 
				@entityId = pr.entityId
				, @distributorId = pr.distributorId
				, @categoryId = pr.categoryId
				, @subCategoryId = pr.subCategoryId
				, @activityId = pr.activityId
				, @subActivityId = pr.subActivityId
				, @subActivityTypeId = ms.subActivityTypeId
				, @promoActivityDesc = pr.activityDesc
				, @brandId = pr.groupBrandId
				, @createdBy = pr.createBy
				, @createdEmail = pr.createdEmail
			FROM tbtrx_promo pr
			INNER JOIN tbmst_subactivity ms ON pr.subActivityId = ms.id
			WHERE pr.id = @promoid

			DELETE FROM @Promo;
			DELETE FROM @Region;
			DELETE FROM @Sku;
			DELETE FROM @attachment;
			DELETE FROM @Mechanism;

			INSERT INTO @Promo (PromoId, Periode, EntityId, DistributorId, BudgetMasterId, CategoryId, SubCategoryId, ActivityId, SubActivityId, SubActivityTypeId, ActivityDesc, StartPromo, EndPromo
				, ChannelId, SubChannelId, AccountId, SubAccountId, GroupBrandId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost, StatusApproval, Notes
				, CreateOn, CreateBy, initiator_notes, CreatedEmail, ModifReason)
				VALUES (@promoid, @period, @entityId, @distributorId, 0, @categoryId, @subCategoryId, @activityId, @subActivityId, @subActivityTypeId, @promoActivityDesc, @promoStart, @promoEnd
				, @channelId, @subChannelId, @accountId, @subAccountId, @brandId, 0, 0, @ss_value, @salesContribution, @storeCoverage, @redemptionRate, @cr * 100, @cost, null, ''
				,@utcDate123, @createdBy, '', @createdEmail, '');

			INSERT INTO @Region
				SELECT regionId FROM tbtrx_promo_region WHERE promoid = @promoid

			INSERT INTO @Sku
				SELECT productId FROM tbtrx_promo_product WHERE promoid = @promoid

			INSERT INTO @attachment
				SELECT fileName, docLink FROM tbtrx_promo_doclink WHERE promoid = @promoid

			INSERT INTO @Mechanism
				SELECT mechanismId, mechanism, notes, productId, baseline, uplift, @ss_value, salesContribution, storesCoverage, redemptionRate, @cr * 100, @cost FROM tbtrx_promo_mechanism WHERE promoid = @promoid

			--INSERT INTO @resPromo VALUES(@promoid)

			--SELECT @promoid promoid, @promoInvestment promoinvestment, @cost cost, @reconciled			

			BEGIN TRY
				IF @reconciled = 0 --and @promoid = 3686
				BEGIN
					INSERT INTO @resPromo VALUES(@promoid)

					--SELECT @promoid promoid, @promoInvestment promoinvestment, @cost cost, @reconciled
					exec [dbo].[ip_promo_update_DC_for_tt]
						@Promo = @Promo
						,@Region = @Region
						,@Sku = @Sku
						,@attachment = @attachment
						,@Mechanism = @Mechanism
				 
				END
				ELSE
				BEGIN
					INSERT INTO @resPromo VALUES(@promoid)
					exec [dbo].[ip_promo_update_recon_DC_for_tt]
						@Promo = @Promo
						,@Region = @Region
						,@Sku = @Sku
						,@attachment = @attachment
						,@Mechanism = @Mechanism
				END
			END TRY
			BEGIN CATCH
				PRINT 'Error details: ' + ERROR_MESSAGE();
				-- Log error if needed
				INSERT INTO [dbo].[tblog_promo_update]
				VALUES (getdate(), 'ip_ss_tt_upload_dc_promo_update', ERROR_MESSAGE()) 

			END CATCH;
		END

		FETCH NEXT FROM cursor_psvalue INTO 	@period
			, @channelid
			, @subchannelid
			, @accountid
			, @subaccountid
			, @groupbrandid
			, @promostart
			, @promoend
			, @promoid
			, @promoInvestment
			, @cr
			, @statusApprovalCode
			, @statusApprovalCodeRecon
			, @reconciled
			, @distributorid
		;
	END;

	CLOSE cursor_psvalue;
	DEALLOCATE cursor_psvalue;

	--select * from @resPromo

	SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approver
		, a.username userNameInitiator
		,a.email emailInitiator
		,b.username userNameApprover
		,b.email emailApprover
		,isnull(pr.reconciled, 0) reconciled
	FROM tbtrx_promo pr 
	INNER JOIN @resPromo res ON res.promoId = pr.id
	LEFT JOIN tbset_user a ON pr.CreateBy=a.Id
	LEFT JOIN tbset_user b ON pr.Approver=b.Id
	WHERE isnull(pr.reconciled, 0) = 0 AND pr.StatusApprovalCode<>'TP0'
	UNION ALL
	SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approverRecon approver
		, a.username userNameInitiator
		,a.email emailInitiator
		,b.username userNameApprover
		,b.email emailApprover
		,isnull(pr.reconciled, 0) reconciled
	FROM tbtrx_promo pr 
	INNER JOIN @resPromo res ON res.promoId = pr.id
	LEFT JOIN tbset_user a ON pr.CreateBy=a.Id
	LEFT JOIN tbset_user b ON pr.ApproverRecon=b.Id
	WHERE isnull(pr.reconciled, 0) = 1

END
GO
