USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_skpflagging]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_skpflagging] --'2020','2020-01-01',0,0,0,0,'xvamain',-1,'2020-01-01','2020-12-01',-1
	@periode varchar(4)
	,@datenow date
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@cancelstatus bit
	,@start_from date
	,@start_to date
	,@status int

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE
--@periode varchar(4)
--,@datenow date
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--,@cancelstatus bit
--,@start_from date
--,@start_to date
--,@status int

--set @periode =2025
--set @datenow =@utcDate123
--set @entity =0
--set @distributor =0
--set @budgetparent =0
--set @channel =0
--set @userid ='adminsales10'
--set @cancelstatus =0
--set @start_from ='2025-01-01'
--set @start_to ='2025-12-31'
--set @status =-1

BEGIN

	--DECLARE @yStart int, @yEnd int, @dtStart date, @dtEnd date;
	--SET @yStart = YEAR(@datenow);
	--SET @yEnd = @yStart + 1;
	--SET @dtStart = CAST(@yStart as varchar(4)) + '-01-01';
	--SET @dtEnd = CAST(@yEnd as varchar(4)) + '-01-31';

	DROP TABLE IF EXISTS #temp_promo
	SELECT DISTINCT pr.Id INTO #temp_promo FROM tbtrx_promo pr
	INNER JOIN tbtrx_promo_channel tpc ON pr.Id=tpc.PromoId
	INNER JOIN tbset_map_user_channel tmuc WITH (NOLOCK) on tpc.ChannelId = tmuc.channelid AND tmuc.userid = @userid
	WHERE
			IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
			AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
			AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
		
	SELECT DISTINCT
			p.LongDesc Entity
			,IIF(isnull(pr.period, '') < 2025, d.LongDesc, md.longdesc) Distributor
			,IIF(isnull(pr.period, '') < 2025, p.LongDesc, mp.longdesc) PrincipalDesc
			,pr.Id PromoId
			,pr.RefId
			,IIF(cat.shortdesc='DC',mec.mechanism, pr.ActivityDesc) [ActivityDesc]
			,IIF(pr.IsCancel=1
				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
					,pr.LastStatus + '-' + uapprover.username
				)
			)  LastStatus 
			,c.LongDesc Allocation
			,pr.Investment
			,ISNULL(pr.IsCancelLocked,0) IsCancelLocked
			,IIF(cat.shortdesc='DC','---', pr.TsCoding) [TsCoding]
			,cat.shortdesc categoryShortDesc
			,pr.CancelNotes
			,pr.createBy
			,pr.createdName
			,channel.ChannelDesc ChannelDesc
			--,IIF(LEN(channel.ChannelDesc)>10, LEFT(channel.ChannelDesc,10)+'...', channel.ChannelDesc)ChannelDesc
			,IIF(cat.shortdesc='DC','---', subaccount.SubAccountDesc) [SubAccountDesc]
			,IIF(tpsv.PromoId is null, 'N',
			IIF(
					tpsv.SKPDraftAvail = 1
					AND tpsv.SKPDraftAvailBfrAct60 = 1
					AND tpsv.PeriodMatch = 1
					AND tpsv.InvestmentMatch = 1
					AND tpsv.MechanismMatch = 1
					AND tpsv.SKPSign7 = 1
					AND tpsv.EntityDraft = 1
					AND tpsv.BrandDraft = 1
					AND tpsv.PeriodDraft = 1
					AND tpsv.ActivityDescDraft = 1
					AND tpsv.MechanismDraft = 1
					AND tpsv.InvestmentDraft = 1
					AND tpsv.Entity = 1
					AND tpsv.Brand = 1
					AND tpsv.ActivityDesc = 1
					AND tpsv.DistributorDraft = 1
					AND tpsv.Distributor = 1
					AND tpsv.ChannelDraft = 1
					AND tpsv.Channel = 1
					AND tpsv.StoreNameDraft = 1
					AND tpsv.StoreName = 1
				, 'Y'
			, 'N')) as skp_flagging_status
			,tpsv.skpstatus
			,CAST(tpsv.skp_notes AS VARCHAR(MAX)) skp_notes
		FROM tbtrx_promo pr WITH (NOLOCK)
		INNER JOIN #temp_promo tpr ON pr.Id=tpr.Id
		--INNER JOIN tbtrx_promo_channel tpc WITH (NOLOCK) on pr.id=tpc.PromoId 
		--INNER JOIN tbset_map_user_channel tmuc WITH (NOLOCK) on tpc.ChannelId = tmuc.channelid AND tmuc.userid = @userid	
		LEFT JOIN tbtrx_promo_skp_validate tpsv on pr.id=tpsv.PromoId
		LEFT JOIN tbtrx_allocation c on pr.AllocationId = c.id
		LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id
		LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbmst_distributor md WITH (NOLOCK) ON pr.DistributorId = md.id
		LEFT JOIN tbmst_principal mp WITH (NOLOCK) ON pr.EntityId = mp.id
		INNER JOIN tbset_user upr on upr.Id=pr.Approver
		LEFT JOIN tbset_user ucancel on ucancel.Id=pr.CancelBy
		LEFT JOIN tbset_user uapprover on uapprover.Id=pr.Approver
		INNER JOIN
			(
				select PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
            		from tbtrx_promo_channel a WITH (NOLOCK)
					INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
					INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
				GROUP BY a.PromoId
			) channel on pr.Id = channel.PromoId
		INNER JOIN
			(
				select PromoId, STRING_AGG(sac.LongDesc,', ') SubAccountDesc
							from tbtrx_promo_subaccount a WITH (NOLOCK)
							INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
							INNER JOIN tbtrx_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
					GROUP BY a.PromoId
			) subaccount on pr.Id = subaccount.PromoId
		LEFT JOIN
			(
	      		SELECT PromoId, STRING_AGG(mec.Mechanism,', ') Mechanism
					FROM tbtrx_promo_mechanism mec 
					GROUP BY mec.PromoId
			) mec ON pr.Id = mec.PromoId
		LEFT JOIN (select promoid, SUM(ISNULL(dpp,0))dpp from tbtrx_debetnote where isdnpromo=1 and ISNULL(promoid,0)<>0 group by promoid) dn on pr.id=dn.promoid
		WHERE 
			((ISNULL(pr.IsCancel,0)=0 AND ISNULL(pr.IsClose,0)=0 ) OR (ISNULL(pr.IsClose,0)=1 and dn.dpp>0))
			AND IIF(@periode < 2025, m.Periode, pr.period) = @periode
			AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			--AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
			--AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
			--AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
			AND IIF(@status=-1, '',ISNULL(tpsv.skpstatus,0)) = IIF(@status=-1, '', @status)
		ORDER BY pr.Id desc

	DROP TABLE IF EXISTS #temp_promo
END
GO
