

/****** Object:  StoredProcedure [dbo].[ip_ss_volume_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_volume_list] 
	@period varchar(4)
	,@channelid ArrayIntType READONLY
	,@subchannelid ArrayIntType READONLY
	,@accountid ArrayIntType READONLY
	,@subaccountid ArrayIntType READONLY
	,@regionid ArrayIntType READONLY
	,@groupbrandid ArrayIntType READONLY

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255)
	,@sort varchar(4)

	,@profileid varchar(50)=NULL
AS

--DECLARE
--	@period varchar(4)
--	,@channelid ArrayIntType
--	,@subchannelid ArrayIntType 
--	,@accountid ArrayIntType 
--	,@subaccountid ArrayIntType 
--	,@regionid ArrayIntType 
--	,@groupbrandid ArrayIntType 

--	,@start int
--	,@length int
--	,@txtSearch varchar(255)
--	,@order varchar(255)
--	,@sort varchar(4)

--	,@profileid varchar(50)=NULL

--SET @period = '2025'
--INSERT INTO @channelid 	values(2) --VALUES(6)--(2),(3), (4), (5), (6)
--INSERT INTO @subchannelid VALUES(null)
--INSERT INTO @accountid VALUES(null)
--INSERT INTO @subaccountid VALUES(null)
--INSERT INTO @regionid VALUES(NULL)
--INSERT INTO @groupbrandid VALUES(null)
--SET @start = 1
--SET @length = 10
--SET @txtSearch = null
--SET @sort = 'asc'
--SET @profileid = 'xvamain'
--SET @order = 'channel'


----exec ip_ss_volume_list 2024,@channelid, @subchannelid, @accountid, @subaccountid, @regionid, @groupbrandid, 0,-1,'','',''

BEGIN 
	DROP TABLE IF EXISTS #temp_ss_volume

	DECLARE @channel_list ArrayIntType
		,@subchannel_list ArrayIntType
		,@account_list ArrayIntType
		,@subaccount_list ArrayIntType
		,@region_list ArrayIntType
		,@groupbrand_list ArrayIntType;

	DECLARE @channelSelect INT
		,@subChannelSelect INT
		,@accountSelect INT
		,@subAccountSelect INT
		,@regionSelect INT
		,@groupbrandSelect INT;
    DECLARE @recordsFiltered int;	
	DECLARE @SQL NVARCHAR(MAX)

	SET @order = IIF(ISNULL(@order,'')='','channel, subChannel, account, subAccount, region, groupBrandId, groupBrand', @order)
	SET @start = @start * @length

	--SET @order = IIF(ISNULL(@order,'')='' OR ISNULL(@order,'')='channel','channel, subChannel, account, subAccount, region, groupBrandId, groupBrand', @order)
	SET @order = (SELECT CASE WHEN ISNULL(@order,'') = 'channel' THEN 'channel, subChannel, account, subAccount, region, groupBrand'
							WHEN ISNULL(@order,'') = 'subChannel' THEN 'subChannel, channel, account, subAccount, region, groupBrand'
							WHEN ISNULL(@order,'') = 'account' THEN 'account, channel, subChannel, subAccount, region, groupBrand'
							WHEN ISNULL(@order,'') = 'subAccount' THEN 'subAccount, channel, subChannel, account, region, groupBrand'
							WHEN ISNULL(@order,'') = 'region' THEN 'region, channel, subChannel, account, subAccount, groupBrand'
							WHEN ISNULL(@order,'') = 'groupBrand' THEN 'groupBrand, channel, subChannel, account, subAccount, region'
							ELSE 'channel, subChannel, account, subAccount, region, groupBrand'
						END)

	SET @channelSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @channelid)
	SET @subChannelSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @subchannelid)
	SET @accountSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @accountid)
	SET @subAccountSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @subaccountid)
	SET @regionSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @regionid)
	SET @groupbrandSelect = (SELECT TOP 1 ISNULL(keyid, 0) FROM @groupbrandid)

	IF @channelSelect = 0
	BEGIN
		INSERT INTO @channel_list
		SELECT a.id FROM tbmst_channel a INNER JOIN tbset_user_channel_sstt b ON a.Id=b.channelId AND b.userId=@profileid WHERE ISNULL(a.IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @channel_list
		SELECT keyid FROM @channelid a INNER JOIN tbset_user_channel_sstt b ON a.keyid=b.channelId AND b.userId=@profileid
	END

	IF @subChannelSelect = 0
	BEGIN
		INSERT INTO @subchannel_list
		SELECT c.id 
		FROM tbmst_channel a 
		INNER JOIN @channel_list b ON a.Id = b.keyid
		INNER JOIN tbmst_subchannel c ON a.id = c.ChannelId
		WHERE ISNULL(c.IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @subchannel_list
		SELECT c.id 
		FROM tbmst_channel a 
		INNER JOIN @channel_list b ON a.Id = b.keyid
		INNER JOIN tbmst_subchannel c ON a.id = c.ChannelId
		INNER JOIN @subchannelid d ON c.id = d.keyid
		WHERE ISNULL(c.IsDelete, 0) = 0
	END

	IF @accountSelect = 0
	BEGIN
		INSERT INTO @account_list
		SELECT c.id 
		FROM tbmst_subchannel a 
		INNER JOIN @subchannel_list b ON a.Id = b.keyid
		INNER JOIN tbmst_account c ON a.id = c.SubChannelId
		WHERE ISNULL(c.IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @account_list
		SELECT c.id 
		FROM tbmst_subchannel a 
		INNER JOIN @subchannel_list b ON a.Id = b.keyid
		INNER JOIN tbmst_account c ON a.id = c.SubChannelId
		INNER JOIN @accountid d ON c.id = d.keyid
		WHERE ISNULL(c.IsDelete, 0) = 0
	END

	IF @subAccountSelect = 0
	BEGIN
		INSERT INTO @subaccount_list
		SELECT c.id 
		FROM tbmst_account a 
		INNER JOIN @account_list b ON a.Id = b.keyid
		INNER JOIN tbmst_subaccount c ON a.id = c.AccountId
		WHERE ISNULL(c.IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @subaccount_list
		SELECT c.id 
		FROM tbmst_account a 
		INNER JOIN @account_list b ON a.Id = b.keyid
		INNER JOIN tbmst_subaccount c ON a.id = c.AccountId
		INNER JOIN @subaccountid d ON c.id = d.keyid
		WHERE ISNULL(c.IsDelete, 0) = 0
	END

	IF @regionSelect = 0
	BEGIN
		INSERT INTO @region_list
		SELECT id FROM tbmst_region WHERE ISNULL(IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @region_list
		SELECT keyid FROM @regionid
	END

	IF @groupbrandSelect = 0
	BEGIN
		INSERT INTO @groupbrand_list
		SELECT id FROM tbmst_brand_group WHERE ISNULL(IsDeleted, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @groupbrand_list
		SELECT keyid FROM @groupbrandid
	END

/*SS VOLUME EXIST*/
	SELECT 
		@period period, 
		a.channelId, a.channel, a.subChannelId, a.subChannel, a.accountId, a.account, a.subAccountId, a.subAccount
		, ssv.regionId, a.region
		, a.groupBrandId, a.groupBrand,
		isnull(ssv.m1,0) m1, isnull(ssv.m2, 0) m2, isnull(ssv.m3, 0) m3, isnull(ssv.m4, 0) m4, isnull(ssv.m5, 0) m5, isnull(ssv.m6, 0) m6, isnull(ssv.m7,0) m7, isnull(ssv.m8, 0) m8, isnull(ssv.m9, 0) m9, isnull(ssv.m10, 0) m10, isnull(ssv.m11, 0) m11, isnull(ssv.m12, 0) m12, 
		isnull(ssv.fy, 0) fy, 
		isnull(sscr.m1, 0) rate1, isnull(sscr.m2, 0) rate2, isnull(sscr.m3, 0) rate3, isnull(sscr.m4, 0) rate4, isnull(sscr.m5, 0) rate5, isnull(sscr.m6, 0) rate6, 
		isnull(sscr.m7, 0) rate7, isnull(sscr.m8, 0) rate8, isnull(sscr.m9, 0) rate9, isnull(sscr.m10, 0) rate10, isnull(sscr.m11, 0) rate11, isnull(sscr.m12, 0) rate12, 
		isnull(ssv.m1, 0) * isnull(sscr.m1, 0) value1, isnull(ssv.m2, 0) * isnull(sscr.m2, 0) value2, isnull(ssv.m3, 0) * isnull(sscr.m3, 0) value3, isnull(ssv.m4, 0) * isnull(sscr.m4, 0) value4, 
		isnull(ssv.m5, 0) * isnull(sscr.m5, 0) value5, isnull(ssv.m6, 0) * isnull(sscr.m6, 0) value6, isnull(ssv.m7, 0) * isnull(sscr.m7, 0) value7, isnull(ssv.m8, 0) * isnull(sscr.m8, 0) value8, 

		isnull(ssv.m9, 0) * isnull(sscr.m9, 0) value9, isnull(ssv.m10, 0) * isnull(sscr.m10, 0) value10, isnull(ssv.m11, 0) * isnull(sscr.m11, 0) value11, isnull(ssv.m12, 0) * isnull(sscr.m12, 0) value12
		INTO #temp_ss_volume
		FROM (
			SELECT mc.id channelId, mc.LongDesc channel
				,ms.id subChannelId, ms.LongDesc subChannel
				,ma.id accountId, ma.LongDesc account
				,msa.id subAccountId, msa.LongDesc subAccount
				, mr.id regionId, mr.LongDesc region
				, mbg.id groupBrandId, mbg.LongDesc groupBrand
			FROM tbmst_channel mc 
			INNER JOIN @channel_list mcl ON mc.id = mcl.keyid
			INNER JOIN tbmst_subchannel ms ON mc.id = ms.ChannelId
			INNER JOIN @subchannel_list msl ON ms.id = msl.keyid
			INNER JOIN tbmst_account ma ON ms.id = ma.SubChannelId
			INNER JOIN @account_list mal ON ma.id = mal.keyid
			INNER JOIN tbmst_subaccount msa ON ma.id = msa.AccountId
			INNER JOIN @subaccount_list msal ON msa.id = msal.keyid
			CROSS JOIN (
				select Id, LongDesc from tbmst_region a
				inner join @region_list b on a.Id=b.keyid and ISNULL(a.IsDelete,0)=0
				) mr
			CROSS JOIN (
				select * from tbmst_brand_group a
				inner join @groupbrand_list b on a.Id=b.keyid
				) mbg
			)a
		LEFT JOIN (
			select * from tbtrx_ss_volume WHERE period=@period ) ssv ON
				a.channelId=ssv.channelid AND
				a.subChannelId=ssv.subchannelid AND
				a.accountId=ssv.accountid AND
				a.subAccountId=ssv.subaccountid AND
				a.regionId=ssv.regionId  AND 
				a.groupBrandId=ssv.groupbrandid 
		LEFT JOIN tbtrx_ss_conversion_rate sscr ON
			a.channelId=sscr.channelid AND
			a.subchannelId=sscr.subchannelid AND
			a.groupBrandId=sscr.groupbrandid AND
			sscr.period=@period
		LEFT JOIN tbhlp_ss_volume_region hssv ON ssv.id=hssv.ss_volume_id
		WHERE ssv.id is not null

/*SS VOLUME NOT EXIST AND CHANNEL IN 
'MTI',
'MTI ADVANCED',
'PROVISION',
'WHOLESALER PROXY'*/
	INSERT INTO #temp_ss_volume
	SELECT 
		@period period, 
		a.channelId, a.channel, a.subChannelId, a.subChannel, a.accountId, a.account, a.subAccountId, a.subAccount
		, a.regionId, a.region
		, a.groupBrandId, a.groupBrand,
		isnull(ssv.m1,0) m1, isnull(ssv.m2, 0) m2, isnull(ssv.m3, 0) m3, isnull(ssv.m4, 0) m4, isnull(ssv.m5, 0) m5, isnull(ssv.m6, 0) m6, isnull(ssv.m7,0) m7, isnull(ssv.m8, 0) m8, isnull(ssv.m9, 0) m9, isnull(ssv.m10, 0) m10, isnull(ssv.m11, 0) m11, isnull(ssv.m12, 0) m12, 
		isnull(ssv.fy, 0) fy, 
		isnull(sscr.m1, 0) rate1, isnull(sscr.m2, 0) rate2, isnull(sscr.m3, 0) rate3, isnull(sscr.m4, 0) rate4, isnull(sscr.m5, 0) rate5, isnull(sscr.m6, 0) rate6, 
		isnull(sscr.m7, 0) rate7, isnull(sscr.m8, 0) rate8, isnull(sscr.m9, 0) rate9, isnull(sscr.m10, 0) rate10, isnull(sscr.m11, 0) rate11, isnull(sscr.m12, 0) rate12, 
		isnull(ssv.m1, 0) * isnull(sscr.m1, 0) value1, isnull(ssv.m2, 0) * isnull(sscr.m2, 0) value2, isnull(ssv.m3, 0) * isnull(sscr.m3, 0) value3, isnull(ssv.m4, 0) * isnull(sscr.m4, 0) value4, 
		isnull(ssv.m5, 0) * isnull(sscr.m5, 0) value5, isnull(ssv.m6, 0) * isnull(sscr.m6, 0) value6, isnull(ssv.m7, 0) * isnull(sscr.m7, 0) value7, isnull(ssv.m8, 0) * isnull(sscr.m8, 0) value8, 
		isnull(ssv.m9, 0) * isnull(sscr.m9, 0) value9, isnull(ssv.m10, 0) * isnull(sscr.m10, 0) value10, isnull(ssv.m11, 0) * isnull(sscr.m11, 0) value11, isnull(ssv.m12, 0) * isnull(sscr.m12, 0) value12
		
		FROM (
			SELECT mc.id channelId, mc.LongDesc channel
				,ms.id subChannelId, ms.LongDesc subChannel
				,ma.id accountId, ma.LongDesc account
				,msa.id subAccountId, msa.LongDesc subAccount
				, mr.id regionId, mr.LongDesc region
				, mbg.id groupBrandId, mbg.LongDesc groupBrand
			FROM tbmst_channel mc 
			INNER JOIN @channel_list mcl ON mc.id = mcl.keyid 
				AND mc.LongDesc IN ('MTI', 'MTI ADVANCED', 'PROVISION', 'WHOLESALER PROXY')
			INNER JOIN tbmst_subchannel ms ON mc.id = ms.ChannelId
			INNER JOIN @subchannel_list msl ON ms.id = msl.keyid
			INNER JOIN tbmst_account ma ON ms.id = ma.SubChannelId
			INNER JOIN @account_list mal ON ma.id = mal.keyid
			INNER JOIN tbmst_subaccount msa ON ma.id = msa.AccountId
			INNER JOIN @subaccount_list msal ON msa.id = msal.keyid
			CROSS JOIN (
				select Id, LongDesc from tbmst_region a
				inner join @region_list b on a.Id=b.keyid and ISNULL(a.IsDelete,0)=0
				where a.LongDesc<>'Region - All'
				) mr
			CROSS JOIN (
				select * from tbmst_brand_group a
				inner join @groupbrand_list b on a.Id=b.keyid
				) mbg
			)a
		LEFT JOIN (
			select * from tbtrx_ss_volume WHERE period=@period ) ssv ON
				a.channelId=ssv.channelid AND
				a.subChannelId=ssv.subchannelid AND
				a.accountId=ssv.accountid AND
				a.subAccountId=ssv.subaccountid AND
				a.regionId=ssv.regionId  AND 
				a.groupBrandId=ssv.groupbrandid 
		LEFT JOIN tbtrx_ss_conversion_rate sscr ON
			a.channelId=sscr.channelid AND
			a.subchannelId=sscr.subchannelid AND
			a.groupBrandId=sscr.groupbrandid AND
			sscr.period=@period
		LEFT JOIN tbhlp_ss_volume_region hssv ON ssv.id=hssv.ss_volume_id
		WHERE ssv.id IS null

/*SS VOLUME NOT EXIST AND CHANNEL NOT IN 
'MTI',
'MTI ADVANCED',
'PROVISION',
'WHOLESALER PROXY'*/
	INSERT INTO #temp_ss_volume
	SELECT 
		@period period, 
		a.channelId, a.channel, a.subChannelId, a.subChannel, a.accountId, a.account, a.subAccountId, a.subAccount
		, a.regionId, a.region
		, a.groupBrandId, a.groupBrand,
		isnull(ssv.m1,0) m1, isnull(ssv.m2, 0) m2, isnull(ssv.m3, 0) m3, isnull(ssv.m4, 0) m4, isnull(ssv.m5, 0) m5, isnull(ssv.m6, 0) m6, isnull(ssv.m7,0) m7, isnull(ssv.m8, 0) m8, isnull(ssv.m9, 0) m9, isnull(ssv.m10, 0) m10, isnull(ssv.m11, 0) m11, isnull(ssv.m12, 0) m12, 
		isnull(ssv.fy, 0) fy, 
		isnull(sscr.m1, 0) rate1, isnull(sscr.m2, 0) rate2, isnull(sscr.m3, 0) rate3, isnull(sscr.m4, 0) rate4, isnull(sscr.m5, 0) rate5, isnull(sscr.m6, 0) rate6, 
		isnull(sscr.m7, 0) rate7, isnull(sscr.m8, 0) rate8, isnull(sscr.m9, 0) rate9, isnull(sscr.m10, 0) rate10, isnull(sscr.m11, 0) rate11, isnull(sscr.m12, 0) rate12, 
		isnull(ssv.m1, 0) * isnull(sscr.m1, 0) value1, isnull(ssv.m2, 0) * isnull(sscr.m2, 0) value2, isnull(ssv.m3, 0) * isnull(sscr.m3, 0) value3, isnull(ssv.m4, 0) * isnull(sscr.m4, 0) value4, 
		isnull(ssv.m5, 0) * isnull(sscr.m5, 0) value5, isnull(ssv.m6, 0) * isnull(sscr.m6, 0) value6, isnull(ssv.m7, 0) * isnull(sscr.m7, 0) value7, isnull(ssv.m8, 0) * isnull(sscr.m8, 0) value8, 
		isnull(ssv.m9, 0) * isnull(sscr.m9, 0) value9, isnull(ssv.m10, 0) * isnull(sscr.m10, 0) value10, isnull(ssv.m11, 0) * isnull(sscr.m11, 0) value11, isnull(ssv.m12, 0) * isnull(sscr.m12, 0) value12
		
		FROM (
			SELECT mc.id channelId, mc.LongDesc channel
				,ms.id subChannelId, ms.LongDesc subChannel
				,ma.id accountId, ma.LongDesc account
				,msa.id subAccountId, msa.LongDesc subAccount
				, mr.id regionId, mr.LongDesc region
				, mbg.id groupBrandId, mbg.LongDesc groupBrand
			FROM tbmst_channel mc 
			INNER JOIN @channel_list mcl ON mc.id = mcl.keyid 
				AND mc.LongDesc NOT IN ('MTI', 'MTI ADVANCED', 'PROVISION', 'WHOLESALER PROXY')
			INNER JOIN tbmst_subchannel ms ON mc.id = ms.ChannelId
			INNER JOIN @subchannel_list msl ON ms.id = msl.keyid
			INNER JOIN tbmst_account ma ON ms.id = ma.SubChannelId
			INNER JOIN @account_list mal ON ma.id = mal.keyid
			INNER JOIN tbmst_subaccount msa ON ma.id = msa.AccountId
			INNER JOIN @subaccount_list msal ON msa.id = msal.keyid
			CROSS JOIN (
				select id, longDesc from tbmst_region where LongDesc='Region - All'
				) mr
			CROSS JOIN (
				select * from tbmst_brand_group a
				inner join @groupbrand_list b on a.Id=b.keyid
				) mbg
			)a
		LEFT JOIN (
			select * from tbtrx_ss_volume WHERE period=@period ) ssv ON
				a.channelId=ssv.channelid AND
				a.subChannelId=ssv.subchannelid AND
				a.accountId=ssv.accountid AND
				a.subAccountId=ssv.subaccountid AND
				--a.regionId=ssv.regionId  AND 
				a.groupBrandId=ssv.groupbrandid 
		LEFT JOIN tbtrx_ss_conversion_rate sscr ON
			a.channelId=sscr.channelid AND
			a.subchannelId=sscr.subchannelid AND
			a.groupBrandId=sscr.groupbrandid AND
			sscr.period=@period
		LEFT JOIN tbhlp_ss_volume_region hssv ON ssv.id=hssv.ss_volume_id
		WHERE ssv.id IS null

 /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(period),0) FROM #temp_ss_volume
		WHERE 
			(period like '%' + isnull(@txtSearch,'') + '%') OR 
			(channel like '%' + isnull(@txtSearch,'') + '%') OR
			(subChannel like '%' + isnull(@txtSearch,'') + '%') OR
			(account like '%' + isnull(@txtSearch,'') + '%') OR
			(subAccount like '%' + isnull(@txtSearch,'') + '%') OR
			(groupBrand like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(period),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_ss_volume
	
----goto HELL	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT *
					, (value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12) valueFY 
				FROM #temp_ss_volume			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * 
					, (value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12) valueFY 
				FROM #temp_ss_volume
				WHERE 
					(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(subChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(account like ''%' + isnull(@txtSearch,'') + '%'') OR
					(subAccount like ''%' + isnull(@txtSearch,'') + '%'') OR
					(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') 
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * 
					, (value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12) valueFY 
				FROM #temp_ss_volume
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * 
					, (value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12) valueFY 
				FROM #temp_ss_volume
				WHERE 
					(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(subChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(account like ''%' + isnull(@txtSearch,'') + '%'') OR
					(subAccount like ''%' + isnull(@txtSearch,'') + '%'') OR
					(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') 
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
	DROP TABLE IF EXISTS #temp_ss_volume

--HELL:
--select *  from luk_temp_ss_volume dummy

END
GO
