

/****** Object:  StoredProcedure [dbo].[ip_dashboard_tsmwow]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_tsmwow]
@create_from date
,@create_to date
,@userid varchar(50)
AS
BEGIN
--declare
--@create_from date
--,@create_to date
--,@userid varchar(50)
--SET @create_from ='2020-01-01'
--SET @create_to ='2020-12-31'
--SET @userid ='0'


	DECLARE @Temp TABLE
	(
		DistributorId int
		, DistributorShortDesc varchar(50)
		, EntityId int
		, PrincipalShortDesc varchar(50)
		, PromoPlanCreateBy varchar(50)
		, PromoPlanCreateOn datetime
		, RegionDesc varchar(255)
		, SubActivityTypeId int
		, SubActivityType varchar(50)
		, CategoryId int
		, Category varchar(50)
		, SubCategoryId int
		, SubCategory varchar(50)
		, ActivityId int
		, Activity varchar(50)
		, SubActivityId int
		, SubActivity varchar(50)
		, StartPlanning date
		, EndPlanning date
		, ChannelDesc varchar(255)
		, SubChannelDesc varchar(255)
		, AccountDesc varchar(255)
		, SubAccountDesc varchar(255)
		, TSCode varchar(50)
		, BrandDesc text
		, SKUDesc text
		, SourceOfPromo varchar(50)
		, PromotionType varchar(50)
		, ActivityDesc varchar(255)
		, Mechanisme1 varchar(255)
		, Mechanisme2 varchar(255)
		, Mechanisme3 varchar(255)
		, Mechanisme4 varchar(255)
		, Investment numeric(19,2)
		, BaselineSales numeric(19,2)
		, UpliftSales numeric(19,2)
		, TotalSales numeric(19,2)
		, UpliftSalesPersen numeric(19,2)
		, ROIPersen numeric(19,2)
		, PromodId int
		, PromoRefId varchar(50)
		, Creator varchar(50) 
		, CreationDate datetime
		, PeriodStart datetime
		, PeriodEnd datetime
		, PromoAmount numeric(19,2)
		, today datetime 
		, Quater2Start datetime
		, today60 datetime
		, DaysOfCreation numeric(19,3)
		, PeriodStartMatching numeric(19,3)
		, PeriodEndMatcing numeric(19,3)
		, Amount numeric(19,3)
		, PeriodOfStart numeric(19,3)
		, PeriodOfEnd numeric(19,3)
		, PromoPlanSubmissionDays numeric(19,3)
		, PromoPlanSubmittedBfrQuarterStart90 varchar(1)
		, AvailabilityInOptima varchar(1)
		, OptimaCreationBrfActivityStart60 varchar(1)
		, OptimaPeriodMatch varchar(1)
		, OptimaAmountMatch varchar(1)
		, OptimaDescMatch varchar(1)
		, OptimaMechanismMatch varchar(1)
		, OptimaDescAndMechanismMatch varchar(1)
		, SKPAvailability varchar(1)
		, SKPAvailBfrActivityStart60 varchar(1)
		, SKPPeriodMatch varchar(1)
		, SKPAmountMatch varchar(1)
		, SKPMechanismMatch varchar(1)
		, SKPSigned7 varchar(1)
		, ActivityAuditCompliance varchar(1)
---------------------------------------------------------
		, ExtendedPeriodMatch varchar(1) 
		, ExtendedAmountMatch varchar(1) 
		, ExtendedMechanismMatch varchar(1) 
		, ReconNKA varchar(1) 
		, AdjustBudgetRecon varchar(1) 
		, FeedbackOnPostROI varchar(1) 
		, AgingDNBySales varchar(1) 
		, JobTitle1 varchar(255) 
		, JobTitle2 varchar(255) 
	)
	INSERT INTO @Temp
	EXEC ip_kpi_scoring @create_from, @create_to, @userid
	
	select 
	PromoPlanCreateBy
	, Creator
	, count(PromoPlanCreateBy) as PromoPlanEvaluated 
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1 ELSE 0 END), 0) as PromoPlanSubmittedBfrQuarterStart90_Y
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'N' THEN 1 ELSE 0 END), 0) as PromoPlanSubmittedBfrQuarterStart90_N
	, isnull(COUNT(PromoPlanSubmittedBfrQuarterStart90),0) as PromoPlanSubmittedBfrQuarterStart90_Total
	, SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1 ELSE 0 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2 as PromoPlanSubmittedBfrQuarterStart90_Score
	
	, ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1 ELSE 0 END), 0) as OptimaPeriodMatch_Y
	, ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'N' THEN 1 ELSE 0 END), 0) as OptimaPeriodMatch_N
	, isnull(COUNT(OptimaPeriodMatch),0) as OptimaPeriodMatch_Total
	, SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1 ELSE 0 END) / COUNT(OptimaPeriodMatch) * 1 as OptimaPeriodMatch_Score

	, ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1 ELSE 0 END), 0) as OptimaDescAndMechanismMatch_Y
	, ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'N' THEN 1 ELSE 0 END), 0) as OptimaDescAndMechanismMatch_N
	, isnull(COUNT(OptimaDescAndMechanismMatch),0) as OptimaDescAndMechanismMatch_Total
	, SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1 ELSE 0 END) / COUNT(OptimaDescAndMechanismMatch) * 1 as OptimaDescAndMechanismMatch_Score

	from @Temp
	group by PromoPlanCreateBy, Creator
END





GO
