

/****** Object:  StoredProcedure [dbo].[ip_ss_tt_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_tt_list] 
	@period varchar(4)
	,@profileId varchar(30)
	,@categoryId ArrayIntType READONLY
	,@subcategoryId ArrayIntType READONLY
	,@subActivityTypeId ArrayIntType READONLY
	,@activityId ArrayIntType READONLY
	,@subActivityId ArrayIntType READONLY
	,@channelId ArrayIntType READONLY
	,@subChannelId ArrayIntType READONLY
	,@accountId ArrayIntType READONLY
	,@subAccountId ArrayIntType READONLY
	,@distributorId ArrayIntType READONLY
	,@groupBrandId ArrayIntType READONLY

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255) 
	,@sort varchar(4) 
AS

--DECLARE
--	@period varchar(4)
--	,@profileId varchar(30)
--	,@categoryId ArrayIntType 
--	,@subcategoryId ArrayIntType 
--	,@subActivityTypeId ArrayIntType 
--	,@activityId ArrayIntType 
--	,@subActivityId ArrayIntType 
--	,@channelId ArrayIntType
--	,@subChannelId ArrayIntType 
--	,@accountId ArrayIntType 
--	,@subaccountId ArrayIntType 
--	,@distributorId ArrayIntType 
--	,@groupBrandId ArrayIntType 

--	,@start int
--	,@length int
--	,@txtSearch varchar(255)
--	,@order varchar(255)
--	,@sort varchar(4)

--	SET @period = '2025'
--	SET @profileId ='xvamain'
--	INSERT INTO @categoryId			(keyid) VALUES (3)
--	INSERT INTO @subcategoryId		(keyid) VALUES (30) 
--	INSERT INTO @subActivityTypeId	(keyid) VALUES (0) 
--	INSERT INTO @activityId			(keyid) VALUES (0) 
--	INSERT INTO @subActivityId		(keyid) VALUES (0) 
--	INSERT INTO @channelId			(keyid) VALUES (3) 
--	INSERT INTO @subChannelId		(keyid) VALUES (38) 
--	INSERT INTO @accountId			(keyid) VALUES (0) 
--	INSERT INTO @subaccountId		(keyid) VALUES (0) 
--	INSERT INTO @distributorId		(keyid) VALUES (0) 
--	INSERT INTO @groupBrandId		(keyid) VALUES (0) 
--	SET @start = 0
--	SET @length = -1
--	SET @txtSearch = 'HYSU'--'2024 SGM - TRS ACOMMERCE B2C Trading Term -  Mailer & Visibility - Trading Term'
--	SET @order = NUll
--	SET @sort = NULL

--	--EXEC ip_ss_tt_list @period, @profileId, @categoryId, @subcategoryId, @subActivityTypeId, @activityId, @subActivityId, @channelId, @subChannelId, @accountId, @subaccountId, @distributorId, @groupBrandId, @start,@length, @txtSearch, @order, @sort 
--SELECT COUNT(*) FROM tbtrx_ss_tt A
--	INNER JOIN tbset_user_channel_sstt B ON A.channelid = B.channelId AND B.userId=@profileId

BEGIN
	DROP TABLE IF EXISTS #temp_ss_tt
	DROP TABLE IF EXISTS #temp_ss_tt_rc
	DROP TABLE IF EXISTS #temp_ss_tt_dc

	SET @order = IIF(ISNULL(@order,'')='','period, category, subcategory, channel, subChannel, account, subAccount, distributor, groupbrand, subActivityType, activity, subActivity, budgetName', @order)
	SET @sort = IIF(ISNULL(@sort,'')='','asc', @sort)

	DECLARE 
		@categoryId1 ArrayIntType 
		,@subcategoryId1 ArrayIntType 
		,@subActivityTypeId1 ArrayIntType 
		,@activityId1 ArrayIntType 
		,@subActivityId1 ArrayIntType 
		,@channelId1 ArrayIntType 
		,@subChannelId1 ArrayIntType 
		,@accountId1 ArrayIntType 
		,@subAccountId1 ArrayIntType 
		,@distributorId1 ArrayIntType 
		,@groupBrandId1 ArrayIntType 

	    ,@recordsFiltered int	
		,@SQL NVARCHAR(MAX)


		INSERT INTO @categoryId1 (keyid)		SELECT keyid from @categoryId
		INSERT INTO @subcategoryId1 (keyid)		SELECT keyid from @subcategoryId
		INSERT INTO @subActivityTypeId1 (keyid) SELECT keyid from @subActivityTypeId
		INSERT INTO @activityId1 (keyid)		SELECT keyid from @activityId
		INSERT INTO @subActivityId1 (keyid)		SELECT keyid from @subActivityId
		INSERT INTO @channelId1 (keyid)			SELECT keyid from @channelId a INNER JOIN tbset_user_channel_sstt b ON a.keyid=b.channelId AND b.userId = @profileId
		INSERT INTO @subChannelId1 (keyid)		SELECT keyid from @subChannelId
		INSERT INTO @accountId1 (keyid)			SELECT keyid from @accountId
		INSERT INTO @subAccountId1 (keyid)		SELECT keyid from @subAccountId
		INSERT INTO @distributorId1 (keyid)		SELECT keyid from @distributorId
		INSERT INTO @groupBrandId1 (keyid)		SELECT keyid from @groupBrandId

	IF (SELECT COUNT(*) FROM @categoryid1 where isnull(keyid,0)<>0)=0 
		BEGIN
			DELETE FROM @categoryId1
			INSERT INTO @categoryId1			(keyid) SELECT DISTINCT categoryId FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subcategoryid1 where isnull(keyid,0)<>0)=0 
		BEGIN
			DELETE FROM @subcategoryId1
			INSERT INTO @subcategoryId1			(keyid) SELECT DISTINCT subcategoryId FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subActivityTypeId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @subActivityTypeId1
			INSERT INTO @subActivityTypeId1	(keyid) SELECT DISTINCT subactivitytypeid FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @activityId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @activityId1
			INSERT INTO @activityId1			(keyid) SELECT DISTINCT activityid FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subActivityId1 where isnull(keyid,0)<>0)=0
		BEGIN
			DELETE FROM @subActivityId1
			INSERT INTO @subActivityId1		(keyid) SELECT DISTINCT subactivityid FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @channelId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @channelId1
			INSERT INTO @channelId1			(keyid) SELECT DISTINCT a.channelid FROM tbtrx_ss_tt a  INNER JOIN tbset_user_channel_sstt b ON a.channelid=b.channelId AND b.userId = @profileId
		END
	IF (SELECT COUNT(*) FROM @subChannelId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @subChannelId1
			INSERT INTO @subChannelId1		(keyid) SELECT DISTINCT subchannelid FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @accountId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @accountId1
			INSERT INTO @accountId1			(keyid) SELECT DISTINCT accountid FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @subaccountId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @subAccountId1
			INSERT INTO @subaccountId1		(keyid) SELECT DISTINCT subaccountid FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @distributorId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @distributorId1
			INSERT INTO @distributorId1		(keyid) SELECT DISTINCT distributorId FROM tbtrx_ss_tt
		END
	IF (SELECT COUNT(*) FROM @groupBrandId1 where isnull(keyid,0)<>0)=0
		BEGIN			
			DELETE FROM @groupBrandId1
			INSERT INTO @groupBrandId1		(keyid) SELECT DISTINCT groupbrandid FROM tbtrx_ss_tt
		END

	/* Non Cosmo */
	SELECT DISTINCT
		tt.period, tt.categoryId, a.category, tt.subCategoryId, a.subCategory, 
		tt.channelId, c.channel, tt.subChannelId, c.subChannel,tt.accountId, c.account,tt.subAccountId, c.subAccount, 
		tt.distributorId, d.LongDesc distributor, tt.distributorShortDesc, tt.groupBrandId, bg.LongDesc groupbrand,
		tt.subActivityTypeId, a.subActivityType, tt.activityId, a.activity, tt.subActivityId, a.subActivity, 
		CONCAT(tt.period,' ', bg.longdesc, ' - ', d.shortdesc, ' - ', c.subaccount, ' ', a.activity) budgetName,  
		--tt.budgetName, 
		tt.tt, tt.ssValue, tt.budgetAmount, tt.Id,
		IIF(tt.ModifiedOn IS NULL, tt.createdOn, tt.modifiedOn) lastUpdatedOn, IIF(tt.ModifiedOn IS NULL, tt.createdBy, tt.modifiedBy) lastUpdatedBy, IIF(tt.ModifiedOn IS NULL, tt.createdEmail, tt.modifiedEmail) lastUpdatedByEmail
		INTO #temp_ss_tt_rc
		FROM tbtrx_ss_tt tt
		INNER JOIN (
			SELECT 
				c.Id categoryId, c.LongDesc category,
				sc.Id subCategoryId, sc.LongDesc subCategory, 
				a.Id activityId, a.LongDesc activity, 
				sa.Id subActivityId, sa.LongDesc subActivity,
				sat.Id subActivityTypeId, sat.LongDesc subActivityType
				FROM @categoryId1						ci 
					INNER JOIN tbmst_category			c	ON ci.keyid=c.Id AND c.ShortDesc='RC' 
					INNER JOIN tbmst_subcategory		sc  ON c.Id=sc.CategoryId
					INNER JOIN @subcategoryId1			sc1	ON sc1.keyid=sc.Id 
					INNER JOIN tbmst_activity			a	ON sc.id = a.SubCategoryId
					INNER JOIN @activityId1				ai	ON a.id =  ai.keyid
					INNER JOIN tbmst_subactivity		sa	ON ai.keyid = sa.ActivityId
					INNER JOIN @subActivityId1			sai	ON sa.id = sai.keyid
					INNER JOIN @subActivityTypeId1		sati ON sa.SubActivityTypeId = sati.keyid
					INNER JOIN tbmst_subactivity_type	sat ON sati.keyid = sat.Id
				--WHERE a.longdesc <> 'Trading Term - Consumer Promo' AND a.longdesc <> 'Trading Term - Promo Fund'
			)a ON 
				tt.categoryid=a.categoryId 
				and tt.subcategoryid=a.subcategoryid 
				and tt.activityid=a.activityid 
				and tt.subactivityid=a.subActivityId 
				and tt.period=@period
		INNER JOIN @distributorId1		di	ON tt.distributorId=di.keyid
		INNER JOIN tbmst_distributor	d	ON di.keyid=d.Id
		INNER JOIN @groupBrandId1		bgi ON tt.groupbrandid=bgi.keyid
		INNER JOIN tbmst_brand_group	bg	ON bgi.keyid=bg.Id
		INNER JOIN (
			SELECT 
				c.Id channelId, c.LongDesc channel,
				sc.Id subChannelId, sc.LongDesc subChannel, 
				a.Id accountId, a.LongDesc account, 
				sa.Id subAccountId, sa.LongDesc subAccount
				FROM @channelId1 ci
					INNER JOIN tbmst_channel		c	ON ci.keyid=c.Id 
					INNER JOIN tbmst_subchannel		sc	ON c.Id = sc.ChannelId 
					INNER JOIN @subChannelId1		sci	ON sc.Id = sci.keyid
					INNER JOIN tbmst_account		a	ON sc.Id = a.SubChannelId
					INNER JOIN @accountId1			ai	ON a.Id = ai.keyid
					INNER JOIN tbmst_subaccount		sa	ON a.Id = sa.AccountId
					INNER JOIN @subaccountId1		sai	ON sa.Id = sai.keyid
			)c ON tt.channelid = c.channelId AND tt.subchannelid = c.subChannelId AND tt.accountid = c.accountId AND tt.subaccountid=c.subAccountId	
		WHERE a.subActivityType='CONTRACTUAL'


	/* Cosmo */
	INSERT INTO #temp_ss_tt_rc
	SELECT DISTINCT
		tt.period, tt.categoryId, a.category, tt.subCategoryId, a.subCategory, 
		tt.channelId, c.channel, tt.subChannelId, c.subChannel,tt.accountId, c.account,tt.subAccountId, c.subAccount, 
		tt.distributorId, d.LongDesc distributor, tt.distributorShortDesc, tt.groupBrandId, bg.LongDesc groupbrand,
		tt.subActivityTypeId, a.subActivityType, tt.activityId, a.activity, tt.subActivityId, a.subActivity, 
		CONCAT(tt.period,' ', bg.longdesc, ' - ', d.shortdesc, ' - ', c.subaccount, ' ', a.activity) budgetName,  
		--tt.budgetName, 
		tt.tt, tt.ssValue, tt.budgetAmount, tt.Id,
		IIF(tt.ModifiedOn IS NULL, tt.createdOn, tt.modifiedOn) lastUpdatedOn, IIF(tt.ModifiedOn IS NULL, tt.createdBy, tt.modifiedBy) lastUpdatedBy, IIF(tt.ModifiedOn IS NULL, tt.createdEmail, tt.modifiedEmail) lastUpdatedByEmail
		FROM tbtrx_ss_tt tt
		INNER JOIN (
			SELECT DISTINCT
				c.Id categoryId, c.LongDesc category,
				sc.Id subCategoryId, sc.LongDesc subCategory, 
				a.Id activityId, a.LongDesc activity, 
				0 subActivityId, '' subActivity,
				(SELECT id FROM tbmst_subactivity_type WHERE longdesc ='Contractual') subActivityTypeId, 'Contractual' subActivityType
				FROM @categoryId1						ci 
					INNER JOIN tbmst_category			c	ON ci.keyid=c.Id AND c.ShortDesc='RC' 
					INNER JOIN tbmst_subcategory		sc  ON c.Id=sc.CategoryId
					INNER JOIN @subcategoryId1			sc1	ON sc1.keyid=sc.Id 
					INNER JOIN tbmst_activity			a	ON sc.id = a.SubCategoryId
					INNER JOIN @activityId1				ai	ON a.id =  ai.keyid
					--INNER JOIN tbmst_subactivity		sa	ON ai.keyid = sa.ActivityId
					--INNER JOIN @subActivityId1			sai	ON sa.id = sai.keyid
					--INNER JOIN @subActivityTypeId1		sati ON sa.SubActivityTypeId = sati.keyid
					--INNER JOIN tbmst_subactivity_type	sat ON sati.keyid = sat.Id
				--WHERE a.longdesc IN ('Trading Term - Consumer Promo', 'Trading Term - Promo Fund')
			)a ON 
				tt.categoryid=a.categoryId and 
				tt.subcategoryid=a.subcategoryid and 
				tt.activityid=a.activityid and 
				tt.subactivityid=0 and 
				tt.period=@period
		INNER JOIN @distributorId1		di	ON tt.distributorId=di.keyid
		INNER JOIN tbmst_distributor	d	ON di.keyid=d.Id
		INNER JOIN @groupBrandId1		bgi ON tt.groupbrandid=bgi.keyid
		INNER JOIN tbmst_brand_group	bg	ON bgi.keyid=bg.Id
		INNER JOIN (
			SELECT 
				c.Id channelId, c.LongDesc channel,
				sc.Id subChannelId, sc.LongDesc subChannel, 
				a.Id accountId, a.LongDesc account, 
				sa.Id subAccountId, sa.LongDesc subAccount
				FROM @channelId1 ci
					INNER JOIN tbmst_channel		c	ON ci.keyid=c.Id 
					INNER JOIN tbmst_subchannel		sc	ON c.Id = sc.ChannelId 
					INNER JOIN @subChannelId1		sci	ON sc.Id = sci.keyid
					INNER JOIN tbmst_account		a	ON sc.Id = a.SubChannelId
					INNER JOIN @accountId1			ai	ON a.Id = ai.keyid
					INNER JOIN tbmst_subaccount		sa	ON a.Id = sa.AccountId
					INNER JOIN @subaccountId1		sai	ON sa.Id = sai.keyid
			)c ON tt.channelid = c.channelId AND tt.subchannelid = c.subChannelId AND tt.accountid = c.accountId AND tt.subaccountid=c.subAccountId	
		WHERE a.subActivityType='CONTRACTUAL'

	SELECT 
		tt.period, tt.categoryId, a.category, tt.subCategoryId, a.subCategory, 
		tt.channelId, c.channel, tt.subChannelId, c.subChannel,tt.accountId, c.account,tt.subAccountId, c.subAccount, 
		tt.distributorId, d.LongDesc distributor, tt.distributorShortDesc, tt.groupBrandId, bg.LongDesc groupbrand,
		tt.subActivityTypeId, a.subActivityType, tt.activityId, a.activity, tt.subActivityId, a.subActivity, 
		CONCAT(tt.period,' ', bg.longdesc, ' - ', d.shortdesc, ' - ', a.subCategory, ' ', a.subActivityType) budgetName,  
		--tt.budgetName, 
		tt.tt, tt.ssValue, tt.budgetAmount, tt.Id,
		IIF(tt.ModifiedOn IS NULL, tt.createdOn, tt.modifiedOn) lastUpdatedOn, IIF(tt.ModifiedOn IS NULL, tt.createdBy, tt.modifiedBy) lastUpdatedBy, IIF(tt.ModifiedOn IS NULL, tt.createdEmail, tt.modifiedEmail) lastUpdatedByEmail
		INTO #temp_ss_tt_dc
		FROM tbtrx_ss_tt tt
		INNER JOIN (
			SELECT 
				c.Id categoryId, c.LongDesc category,
				sc.Id subCategoryId, sc.LongDesc subCategory, 
				a.Id activityId, a.LongDesc activity, 
				sa.Id subActivityId, sa.LongDesc subActivity,
				sat.Id subActivityTypeId, sat.LongDesc subActivityType
				FROM @categoryId1						ci 
					INNER JOIN tbmst_category			c	ON ci.keyid=c.Id AND c.ShortDesc='DC'
					INNER JOIN tbmst_subcategory		sc  ON c.Id=sc.CategoryId
					INNER JOIN @subcategoryId1			sc1	ON sc1.keyid=sc.Id 
					INNER JOIN tbmst_activity			a	ON sc.id = a.SubCategoryId
					INNER JOIN @activityId1				ai	ON a.id =  ai.keyid
					INNER JOIN tbmst_subactivity		sa	ON ai.keyid = sa.ActivityId
					INNER JOIN @subActivityId1			sai	ON sa.id = sai.keyid
					INNER JOIN @subActivityTypeId1		sati ON sa.SubActivityTypeId = sati.keyid
					INNER JOIN tbmst_subactivity_type	sat ON sati.keyid = sat.Id
					INNER JOIN tbmst_main_activity_dtl msa ON sai.keyid = msa.subactivityid
					INNER JOIN tbmst_main_activity mma ON msa.mainactivityid = mma.id --AND mma.longDesc = 'Running Rate'
			)a ON 
				tt.categoryid=a.categoryId and 
				tt.subcategoryid=a.subcategoryid and 
				tt.activityid=a.activityid and 
				tt.subactivityid=a.subActivityId and tt.period=@period
		INNER JOIN @distributorId1		di	ON tt.distributorId=di.keyid
		INNER JOIN tbmst_distributor	d	ON di.keyid=d.Id
		INNER JOIN @groupBrandId1		bgi ON tt.groupbrandid=bgi.keyid
		INNER JOIN tbmst_brand_group	bg	ON bgi.keyid=bg.Id
		INNER JOIN (
			SELECT 
				c.Id channelId, c.LongDesc channel,
				0 subChannelId, '---' subChannel, 
				0 accountId, '---' account, 
				0 subAccountId, '---' subAccount
				FROM @channelId1 ci
					INNER JOIN tbmst_channel		c	ON ci.keyid=c.Id 
			)c ON tt.channelid=c.channelId
		--where channel = 'All Chnnel'

	SELECT * INTO #temp_ss_tt FROM (
		SELECT A.* FROM #temp_ss_tt_rc A --ORDER BY period, category, subcategory, channel, subChannel, account, subAccount, distributor, groupbrand, subActivityType, activity, subActivity, budgetName
			INNER JOIN tbset_map_subcategory_channel B ON A.SubCategoryId = B.subCategoryId AND A.ChannelId = B.channelId
			INNER JOIN tbset_map_channel_brand_distributor c ON B.channelId = C.channelId AND A.groupBrandId = C.brandId AND A.distributorId = c.distributorId
		UNION ALL
		SELECT * FROM #temp_ss_tt_dc
	)A

set @start=@start*@length
	/**********************
        pagination
	**********************/
    SET @recordsFiltered = (
    	SELECT COUNT(*) FROM #temp_ss_tt
			WHERE 
				(period like '%' + isnull(@txtSearch,'') + '%') OR 
				(category like '%' + isnull(@txtSearch,'') + '%') OR
				(subcategory like '%' + isnull(@txtSearch,'') + '%') OR
				(subActivityType like '%' + isnull(@txtSearch,'') + '%') OR
				(activity like '%' + isnull(@txtSearch,'') + '%') OR
				(subActivity like '%' + isnull(@txtSearch,'') + '%') OR
				(channel like '%' + isnull(@txtSearch,'') + '%') OR
				(subChannel like '%' + isnull(@txtSearch,'') + '%') OR
				(account like '%' + isnull(@txtSearch,'') + '%') OR
				(subAccount like '%' + isnull(@txtSearch,'') + '%') OR
				(distributor like '%' + isnull(@txtSearch,'') + '%') OR
				(groupBrand like '%' + isnull(@txtSearch,'') + '%') OR 
				(budgetname like '%' + isnull(@txtSearch,'') + '%') 
		)

    SELECT COUNT(*) as totalCount, @recordsFiltered as filteredCount FROM #temp_ss_tt

    IF @length = -1
		BEGIN
			IF ISNULL(@txtSearch,'')=''
    			BEGIN
					SET @SQL = '
						SELECT *
						FROM #temp_ss_tt			
						ORDER BY ' + @order + ' ' + @sort

					EXEC sys.sp_executesql @SQL
				END 
					ELSE 
						BEGIN
							SET @SQL = '
								SELECT * 
								FROM #temp_ss_tt
								WHERE 
									(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(category like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subcategory like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
									(activity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(account like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subAccount like ''%' + isnull(@txtSearch,'') + '%'') OR
									(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(budgetname like ''%' + isnull(@txtSearch,'') + '%'') 
								ORDER BY ' + @order + ' ' + @sort
							EXEC sys.sp_executesql @SQL
						END
		END
		    ELSE
				BEGIN
					IF ISNULL(@txtSearch,'')=''
    					BEGIN
							SET @SQL = '
								SELECT * 
								FROM #temp_ss_tt
								ORDER BY ' + @order + ' ' + @sort +' 
								OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
							EXEC sys.sp_executesql @SQL
						END 
							ELSE 
								BEGIN
									SET @SQL = '
										SELECT * 
										FROM #temp_ss_tt
										WHERE 
									(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(category like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subcategory like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
									(activity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
									(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
									(account like ''%' + isnull(@txtSearch,'') + '%'') OR
									(subAccount like ''%' + isnull(@txtSearch,'') + '%'') OR
									(distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
									(groupBrand like ''%' + isnull(@txtSearch,'') + '%'') OR 
									(budgetname like ''%' + isnull(@txtSearch,'') + '%'') 
										ORDER BY ' + @order + ' ' + @sort +' 
										OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
									EXEC sys.sp_executesql @SQL
								END	    
				END


	DROP TABLE IF EXISTS #temp_ss_tt
	DROP TABLE IF EXISTS #temp_ss_tt_rc
	DROP TABLE IF EXISTS #temp_ss_tt_dc
END

GO
