

/****** Object:  StoredProcedure [dbo].[ip_promo_aging_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_aging_approval] --'2020',0,0,0,0,'scsh1'
@periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

AS

--declare 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel varchar(50)
--,@userid varchar(50)

--SET @periode='2020'
--SET @entity=0
--SET @distributor=0
--SET @budgetparent=0
--SET @channel='0'
--SET @userid='scsh1'

DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

IF @budgetparent <> 0
BEGIN
				declare @p_alcid int;

				DECLARE 
					@product_name int
    
 
				DECLARE cursor_product CURSOR
				FOR SELECT 
						Id
        
					FROM 
						tbtrx_allocation where BudgetType='BAL' and BudgetMasterId=@budgetparent;
 
				OPEN cursor_product;
 

				FETCH NEXT FROM cursor_product INTO 
					@product_name
    
 
				WHILE @@FETCH_STATUS = 0
					BEGIN
        
		
					SET @p_alcid=@product_name;
		
						/***/

							with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
							as
							(
							select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							union all
							select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
							inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD

							)
				
		
				INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				option (maxrecursion 0);		 
						FETCH NEXT FROM cursor_product INTO 
							@product_name 
            
					END;
 
				CLOSE cursor_product;
 
				DEALLOCATE cursor_product;



SELECT 
ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) idx,
(CASE WHEN grouping(PromoNumber)=0 and 
grouping (pr.CreateBy)=1 and 
grouping (Channel) = 1 and
grouping (Account) = 1 and 
grouping (pr.CreateOn) = 1 and 
grouping (Activity) = 1 and
grouping (SubActivity) = 1 and 
grouping (StartPromo) = 1 and 
grouping (EndPromo) = 1 and 
grouping (PeriodePromo) = 1 and 
grouping (ActivityDesc) = 1 and 
grouping (TotInvest) = 1 and 
grouping (LastStatus) = 1 and 
grouping (Initiator) = 1 and 
grouping (Approver1) = 1 and 
grouping (Approver2) = 1 and 
grouping (Approver3) = 1 and 
grouping (Approver4) = 1 and 
grouping (Approver5) = 1
THEN 'Subtotal'
ELSE
PromoNumber 
END) PromoNo
,ISNULL(pr.CreateBy,'') InitiatorName
,ISNULL(Channel,'') ChannelDesc
,ISNULL(Account,'') AccountDesc
--,ISNULL(CAST(pr.CreateOn AS VARCHAR),'') EntryDate
,pr.CreateOn EntryDate
,ISNULL(Activity,'') Activity
,ISNULL(SubActivity,'') SubActivity
,ISNULL(StartPromo,'') StartPeriode
,ISNULL(EndPromo,'') EndPeriod
,ISNULL(PeriodePromo,'') PromoPeriode
,ISNULL(ActivityDesc,'') ActivityDesc
,ISNULL(Mechanisme1,'') Mechanisme1
,ISNULL(Mechanisme2,'') Mechanisme2
,ISNULL(Mechanisme3,'') Mechanisme3
,ISNULL(Mechanisme4,'') Mechanisme4
,TotInvest Investment
,ISNULL(LastStatus,'') LastStatus
,[Initiator]
,Approver1
,Approver2
,Approver3
,Approver4
,Approver5
,SUM(Aging) Aging 
,ISNULL(Approver,'') Approver
FROM vw_aging_detail pr
inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id 
inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
INNER JOIN @temp temp on temp.BudgetId=Allocationid
WHERE EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
GROUP BY grouping sets((
PromoNumber
,pr.CreateBy
,Channel
,Account
,pr.CreateOn
,Activity
,SubActivity
,StartPromo
,EndPromo
,PeriodePromo
,ActivityDesc
,Mechanisme1
,Mechanisme2
,Mechanisme3
,Mechanisme4
,TotInvest
,LastStatus
,[Initiator]
,Approver1
,Approver2
,Approver3
,Approver4
,Approver5
,Approver
),                       
(PromoNumber)					   
)


END

ELSE
BEGIN

SELECT 
ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) idx,
(CASE WHEN grouping(PromoNumber)=0 and 
grouping (pr.CreateBy)=1 and 
grouping (Channel) = 1 and
grouping (Account) = 1 and 
grouping (pr.CreateOn) = 1 and 
grouping (Activity) = 1 and
grouping (SubActivity) = 1 and 
grouping (StartPromo) = 1 and 
grouping (EndPromo) = 1 and 
grouping (PeriodePromo) = 1 and 
grouping (ActivityDesc) = 1 and 
grouping (TotInvest) = 1 and 
grouping (LastStatus) = 1 and 
grouping (Initiator) = 1 and 
grouping (Approver1) = 1 and 
grouping (Approver2) = 1 and 
grouping (Approver3) = 1 and 
grouping (Approver4) = 1 and 
grouping (Approver5) = 1
THEN 'Subtotal'
ELSE
PromoNumber 
END) PromoNo
,ISNULL(pr.CreateBy,'') InitiatorName
,ISNULL(Channel,'') ChannelDesc
,ISNULL(Account,'') AccountDesc
--,ISNULL(CAST(pr.CreateOn AS VARCHAR),'') EntryDate
,pr.CreateOn EntryDate
,ISNULL(Activity,'') Activity
,ISNULL(SubActivity,'') SubActivity
,ISNULL(StartPromo,'') StartPeriode
,ISNULL(EndPromo,'') EndPeriod
,ISNULL(PeriodePromo,'') PromoPeriode
,ISNULL(ActivityDesc,'') ActivityDesc
,ISNULL(Mechanisme1,'') Mechanisme1
,ISNULL(Mechanisme2,'') Mechanisme2
,ISNULL(Mechanisme3,'') Mechanisme3
,ISNULL(Mechanisme4,'') Mechanisme4
,TotInvest Investment
,ISNULL(LastStatus,'') LastStatus
,[Initiator]
,Approver1
,Approver2
,Approver3
,Approver4
,Approver5
,SUM(Aging) Aging 
,ISNULL(Approver,'') Approver
FROM vw_aging_detail pr
inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id 
inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
WHERE EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
GROUP BY grouping sets((
PromoNumber
,pr.CreateBy
,Channel
,Account
,pr.CreateOn
,Activity
,SubActivity
,StartPromo
,EndPromo
,PeriodePromo
,ActivityDesc
,Mechanisme1
,Mechanisme2
,Mechanisme3
,Mechanisme4
,TotInvest
,LastStatus
,[Initiator]
,Approver1
,Approver2
,Approver3
,Approver4
,Approver5
,Approver
),                       
(PromoNumber)					   
)


END


GO
