USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_upload_attach]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list_upload_attach] --'2020',0,'claimpku',0
@periode  varchar(4),             
--@entity int,
@distributor int,
--@channel int,
--@account int,
@userid varchar(50),
@isdnmanual bit

AS
BEGIN
	DECLARE @profitcenter varchar(10)
	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
	
	IF isnull(@profitcenter,'')='1100'
	BEGIN
		select *
		from 
		(
			SELECT a.Id, a.RefId, tdd.DocLink, tdd.FileName 
				FROM tbtrx_debetnote a
				LEFT JOIN tbtrx_dn_doclink tdd on a.id=tdd.DNId
				WHERE IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND isnull(a.IsCancel, 0) = 0 --AND isnull(a.IsPaid, 0) = 0
				AND EXISTS
				(
					SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
				)				
		) src
		pivot
		(
		  max(FileName)
		  for DocLink in ([row1], [row2], [row3], [row4], [row5], [row6], [row7], [row8], [row9])
		) piv;	
	END
	ELSE
	BEGIN
		select *
		from 
		(
			SELECT a.Id, a.RefId, tdd.DocLink, tdd.FileName 
				FROM tbtrx_debetnote a
				LEFT JOIN tbtrx_dn_doclink tdd on a.id=tdd.DNId
				WHERE
				IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND isnull(a.IsCancel, 0) = 0 --AND isnull(a.IsPaid, 0) = 0
				AND EXISTS
				(
					SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
				)	AND a.AreaCode=@profitcenter
		) src
		pivot
		(
		  max(FileName)
		  for DocLink in ([row1], [row2], [row3], [row4], [row5], [row6], [row7], [row8], [row9])
		) piv;	
	END
END
GO
