

/****** Object:  StoredProcedure [dbo].[ip_promo_list_close_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_close_p] --0,0,0,'1900-01-01','9999-01-31',0,'kamsat'
@entity int
,@distributor int
,@channel int
,@start_from date
,@start_to date
,@remaining_budget numeric(19,2)
,@userid varchar(50)
,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)

AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE
--@entity int
--,@distributor int
--,@channel int
--,@start_from date
--,@start_to date
--,@remaining_budget numeric(19,2)
--,@userid varchar(50)
--,@start int
--,@length int
--,@filter varchar(255)
--,@txtSearch varchar(255)

--SET @entity = 2
--SET @distributor =2
--SET @channel = 0
--SET @start_from='2025-01-01'
--SET @start_to='2025-12-31'
--SET @remaining_budget=0
--SET @userid='admin'

--set @start =0
--set @length =-1
--set @filter =''
--set @txtSearch ='SGM03256/AL25/RC'

BEGIN
	SET @start = @start * @length

    DECLARE @recordsFiltered int;
    DROP TABLE IF EXISTS #temp_result;

	declare @endofmonth date,@closingdtx date;
	set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))
	
	DROP TABLE IF EXISTS #temp_promo_dn;

	SELECT 9999999999 PromoId,99999999999999999999 TotalClaim, 99999999999999999999 TotalPaid, GETDATE() LastDNCreationDate
		, 0 distributorId, 0 entityId
		INTO #temp_promo_dn
	UNION
	SELECT NULL, NULL, NULL, NULL, NULL, NULL
	
	DELETE FROM #temp_promo_dn


	IF YEAR(@start_from) <= 2024
	BEGIN
		INSERT 	INTO #temp_promo_dn
			SELECT 
					pr.id PromoId
					,ISNULL(SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0) TotalClaim
					,ISNULL(SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp),0)),0) TotalPaid
					, max(a.CreateOn) LastDNCreationDate
					, m.distributorId
					, m.PrincipalId entityId
				FROM tbtrx_promo pr WITH (NOLOCK)
				INNER JOIN tbtrx_allocation c WITH (NOLOCK) on pr.AllocationId=c.Id
				INNER JOIN tbtrx_budgetmaster m WITH (NOLOCK) on c.BudgetMasterId=m.Id 
				LEFT JOIN tbtrx_debetnote a WITH (NOLOCK) on pr.id=a.PromoId
					AND ISNULL(a.IsCancel, 0) = 0
					AND ISNULL(a.IsDNPromo,0)=1
				WHERE IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
				AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
				GROUP BY pr.id, m.DistributorId, m.PrincipalId
	END
	ELSE
	BEGIN
		INSERT 	INTO #temp_promo_dn
			SELECT 
					pr.id PromoId
					,ISNULL(SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0) TotalClaim
					,ISNULL(SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp),0)),0) TotalPaid
					, max(a.CreateOn) LastDNCreationDate
					, pr.distributorId
					, pr.entityId
				FROM tbtrx_promo pr WITH (NOLOCK)
				LEFT JOIN tbtrx_debetnote a WITH (NOLOCK) on pr.id=a.PromoId
					AND ISNULL(a.IsCancel, 0) = 0
					AND ISNULL(a.IsDNPromo,0)=1
				WHERE IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
				AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
				GROUP BY pr.id, pr.DistributorId, pr.EntityId
	END	
	
	--DECLARE @temp_promo AS TABLE(
	--	promoId int NOT NULL,
	--	TotalClaim numeric(18,0),
	--	TotalPaid numeric(18,0),
	--	LastDNCreationDate date,
	--	distributorId INT,
	--	entityId INT
	--)
	
	DROP TABLE IF EXISTS #temp_promo;
	SELECT 9999999999 PromoId,99999999999999999999 TotalClaim, 99999999999999999999 TotalPaid, GETDATE() LastDNCreationDate
	, 0 distributorId, 0 entityId
	INTO #temp_promo
	UNION
	SELECT NULL, NULL, NULL, NULL, NULL, NULL

	--OPTION (MAXDOP 4);
	CREATE INDEX idx_temp_promo_id ON #temp_promo (promoId);

	DELETE FROM #temp_promo

	IF @remaining_budget=0
		BEGIN			
			INSERT INTO #temp_promo
			SELECT pr.id promoId, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate, dn.distributorId, dn.entityId 
			FROM tbtrx_promo pr
			INNER JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
			WHERE ISNULL(pr.IsCancel, 0) = 0
		END
	
	IF @remaining_budget=1
		BEGIN
			INSERT INTO #temp_promo
			SELECT pr.id promoId, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate, dn.distributorId, dn.entityId 
			FROM tbtrx_promo pr
			INNER JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
			WHERE pr.Investment-ISNULL(dn.TotalPaid, 0) BETWEEN 0 AND 10000000 and ISNULL(pr.IsCancel, 0) = 0
		END
	ELSE
		BEGIN
			IF @remaining_budget=2
				BEGIN
					INSERT INTO #temp_promo
					SELECT pr.id promoId, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate, dn.distributorId, dn.entityId 
					FROM tbtrx_promo pr
					INNER JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
					WHERE pr.Investment-ISNULL(dn.TotalPaid, 0) BETWEEN 10000001 AND 100000000 and ISNULL(pr.IsCancel, 0) = 0	
				END
			ELSE
				BEGIN
					IF @remaining_budget=3
						BEGIN
							INSERT INTO #temp_promo
							SELECT pr.id promoId, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate, dn.distributorId, dn.entityId 
							FROM tbtrx_promo pr
							INNER JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
							WHERE pr.Investment-ISNULL(dn.TotalPaid, 0) BETWEEN 100000001 AND 500000000 and ISNULL(pr.IsCancel, 0) = 0
						END
					ELSE
						BEGIN
							IF @remaining_budget=4
								BEGIN
									INSERT INTO #temp_promo
									SELECT pr.id promoId, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate, dn.distributorId, dn.entityId 
									FROM tbtrx_promo pr
									INNER JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
									WHERE pr.Investment-ISNULL(dn.TotalPaid, 0) BETWEEN 500000001 AND 1000000000 and ISNULL(pr.IsCancel, 0) = 0	
								END
							ELSE
								BEGIN
									IF @remaining_budget=5
										BEGIN
											INSERT INTO #temp_promo
											SELECT pr.id promoId, dn.TotalClaim, dn.TotalPaid, dn.LastDNCreationDate, dn.distributorId, dn.entityId 
											FROM tbtrx_promo pr
											INNER JOIN  #temp_promo_dn dn on pr.Id=dn.PromoId
											WHERE pr.Investment-ISNULL(dn.TotalPaid, 0) >1000000000 and ISNULL(pr.IsCancel, 0) = 0
										END	
								END
						END
				END
		END

	DROP TABLE IF EXISTS #temp_promo_dn;
	
	DECLARE @Temp TABLE
		(
		  BudgetParent int,
		  Levels int,
		  BudgetId int
		)
		;

	SELECT 
	--DISTINCT
			pr.Id PromoId
			,pr.RefId [PromoNumber]
			,IIF(pr.Period>=2025, pp.LongDesc, p.LongDesc) Entity
			,IIF(pr.Period>=2025, dd.LongDesc, d.LongDesc) Distributor
			,pr.CreateBy [Initiator]
			,pr.CreateOn [CreateOn]
			,pr.StartPromo
			,pr.EndPromo
			,channel.ChannelDesc
			,IIF(pr.categoryshortdesc='DC','---', subchannel.SubChannelDesc) [SubChannelDesc]
			,IIF(pr.categoryshortdesc='DC','---', account.AccountDesc) [AccountDesc]
			,IIF(pr.categoryshortdesc='DC','---', subaccount.SubAccountDesc) [SubAccountDesc]
			,brand.BrandDesc
			,IIF(pr.categoryshortdesc='DC','---', sctg.LongDesc) [SubCategory]
			,IIF(pr.categoryshortdesc='DC', mechanism.mechanism, pr.ActivityDesc) [ActivityDesc]
			, ISNULL(mechanism.mechanism, '') Mechanisme1
			,ISNULL(pr.Mechanisme2,'') Mechanisme2
			,ISNULL(pr.Mechanisme3,'') Mechanisme3
			,ISNULL(pr.Mechanisme4,'') Mechanisme4
			,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar) +' ON ' + CAST(pr.ApproveOn as varchar),pr.LastStatus + '-' + pr.ApproverName)) PromoStatus
			,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar)
				, IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) PromoStatusDate
			,IIF(ISNULL(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
			,pr.Investment
			,ISNULL(dn.TotalPaid, 0) as DNPaid
			,ISNULL(dn.TotalClaim, 0) as DNClaim
			,datediff(day, pr.EndPromo, @utcDate123 ) as aging
			,dn.LastDNCreationDate
			,pr.Investment-ISNULL(dn.TotalPaid, 0) as RemainingInvestment_DN
			,ISNULL(pr.IsClose, 0) as ClosureStatus
			,ISNULL(b.RemainingAmount, 0) RemainingBudget
			,pr.CloseBy
			,pr.CloseOn
			,pr.CategoryId -- isu E2#38
			,pr.CategoryShortDesc
			,ISNULL(pr.Reconciled,0) Reconciled
		INTO #temp_result
		FROM tbtrx_promo pr WITH (NOLOCK)
		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
		INNER JOIN #temp_promo dn on pr.id=dn.promoId
	    LEFT  JOIN tbtrx_promo_request_approval tpra with (nolock) ON pr.id=tpra.ParentId AND ISNULL(tpra.IsCancel, 0)=0 
	    LEFT JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover								
		INNER JOIN tbtrx_promo_channel tpc on pr.id=tpc.PromoId
		LEFT JOIN tbtrx_allocation_balance b WITH (NOLOCK) on pr.AllocationId=b.AllocationId and pr.SubCategoryId=b.SubCategoryId
		----LEFT JOIN tbtrx_allocation c WITH (NOLOCK) on pr.AllocationId=c.Id
		----LEFT JOIN tbtrx_budgetmaster m WITH (NOLOCK) on c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d WITH (NOLOCK) on dn.distributorId=d.Id
		LEFT JOIN tbmst_principal p WITH (NOLOCK) on dn.entityId=p.Id
		LEFT JOIN tbmst_distributor dd WITH (NOLOCK) on pr.DistributorId=dd.Id
		LEFT JOIN tbmst_principal pp WITH (NOLOCK) on pr.EntityId=pp.Id
		INNER JOIN tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
		INNER JOIN tbmst_activity act on pr.ActivityId=act.id
		INNER JOIN tbmst_subactivity sact on pr.SubActivityId=sact.id
	    INNER JOIN
	    (
	        SELECT a.PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
	            FROM tbtrx_promo_mechanism a WITH (NOLOCK)
				inner join #temp_promo pr on a.PromoId=pr.promoId
	            GROUP BY a.PromoId
	    ) mechanism ON pr.Id = mechanism.PromoId
	    INNER JOIN
	    (
	      	SELECT a.PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
			    FROM tbtrx_promo_channel a WITH (NOLOCK)
			    INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
				INNER JOIN #temp_promo pr ON pr.PromoId=a.PromoId
	            GROUP BY a.PromoId
	    ) channel ON pr.Id = channel.PromoId
	    LEFT JOIN
	    (
	    	SELECT a.PromoId, STRING_AGG(subchn.LongDesc,', ') SubChannelDesc
	      		FROM tbtrx_promo_subchannel a WITH (NOLOCK)
	            INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
	        	INNER JOIN #temp_promo pr ON pr.PromoId=a.PromoId
	            GROUP BY a.PromoId
	    ) subchannel ON pr.Id = subchannel.PromoId
	    LEFT JOIN
	    (
	    	SELECT a.PromoId, STRING_AGG(ac.LongDesc,', ') AccountDesc
	        	FROM tbtrx_promo_account a WITH (NOLOCK)
	     		INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
	            INNER JOIN #temp_promo pr ON pr.PromoId=a.PromoId
	            GROUP BY a.PromoId
	    ) account ON pr.Id = account.PromoId
	    LEFT JOIN
	    (
	        SELECT a.PromoId, STRING_AGG(sac.LongDesc,', ') SubAccountDesc
	            FROM tbtrx_promo_subaccount a WITH (NOLOCK)
	            INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
	            INNER JOIN #temp_promo pr ON pr.PromoId=a.PromoId
	            GROUP BY a.PromoId
	    ) subaccount ON pr.Id = subaccount.PromoId
	    LEFT JOIN tbhlp_promo_region region on pr.Id = region.PromoId
		LEFT JOIN tbhlp_promo_brand brand on pr.Id = brand.PromoId
	    LEFT JOIN tbhlp_promo_product sku on pr.Id = sku.PromoId
	WHERE 	
	IIF(@entity=0,'',dn.entityId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',dn.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)


    /**********************
        start pagination
     **********************/
	IF @length = -1
		BEGIN
			IF @txtSearch is null
				BEGIN
					SELECT * FROM #temp_result
					ORDER BY PromoId ASC
				END
			ELSE
				BEGIN
					SELECT * FROM #temp_result
					WHERE
						(ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(PromoNumber,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%')
					ORDER BY PromoId ASC
				END
		END
    ELSE
		BEGIN
			IF @txtSearch is null
				BEGIN
					SELECT * FROM #temp_result
					ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
				END
			ELSE
				BEGIN
					SELECT * FROM #temp_result
					WHERE
						(ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(PromoNumber,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
						(ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%')
					ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
				END
		END
	
    SET @recordsFiltered =
		(
			SELECT ISNULL(count(PromoId),0)
			FROM #temp_result
			WHERE
				(ISNULL(Entity,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
				(ISNULL(Distributor,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
				(ISNULL(PromoNumber,'') like '%' + ISNULL(@txtSearch, '') + '%') OR
				(ISNULL(ActivityDesc,'') like '%' + ISNULL(@txtSearch, '') + '%')
		)
	
    SELECT ISNULL(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
	DROP TABLE IF EXISTS #temp_result
    /**********************
        end pagination
     **********************/
END
GO
