

/****** Object:  StoredProcedure [dbo].[ip_import_matrix]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_import_matrix]
@matrix as PromoApproverType READONLY,
@userid varchar(50)
,@useremail varchar(100) = ''
AS
DECLARE 
	@utcDate123 DATETIME
	, @processId INT

SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE****************************************/
	--DECLARE
	--@matrix as PromoApproverType,
	--@userid varchar(50)
	--,@useremail varchar(100) = ''

	--SET @userid='xvamain'
	--INSERT INTO @matrix (
	--	PrincipalId, DistributorId, Category, SubActivityType, ChannelId, SubChannelId, Initiator, MinInvestment, MaxInvestment, Approver1, Approver2, Approver3, Approver4, Approver5)
	--SELECT PrincipalId, DistributorId, Category, SubActivityType, ChannelId, SubChannelId, Initiator, MinInvestment, MaxInvestment, Approver1, Approver2, Approver3, Approver4, Approver5
	--FROM TempPromoApproverType
	--	--VALUES
	--	--('Sari Husada Generasi Mahardika', 'Tigaraksa', 'Retailer Cost', 'Contractual', 'MMKA', '', 'kamsat', 0, 1000000, 'gkamalfa', 'cmmmka','SCNIS1','',''),
	--	--('Sari Husada Generasi Mahardika', 'Tempo', 'Retailer Cost', 'Contractual', 'MMKA', '', 'kamsat', 0, 1000000, 'gkamalfa', 'cmmmka','SCNIS2','','')
/****************************************TESTING PURPOSE*/

BEGIN

	/*DEBUGGING PURPOSE****************************************/
		--TRUNCATE TABLE TempPromoApproverType
		--	 INSERT INTO TempPromoApproverType
		--	 SELECT * FROM @matrix
	/****************************************DEBUGGING  PURPOSE*/
		DROP TABLE IF EXISTS #temp_matrix;
		--SELECT DISTINCT * INTO #temp_matrix FROM @matrix

		SELECT ROW_NUMBER() OVER(ORDER BY category,subactivitytype, principalid, distributorid, channelid, subchannelid, initiator, minInvestment, maxinvestment) AS RowID, * INTO #temp_matrix FROM @matrix
		GROUP BY category,subactivitytype, principalid, distributorid, channelid, subchannelid, initiator, minInvestment, maxinvestment, Approver1, Approver2, Approver3, Approver4, Approver5

	DECLARE @statusRec as TABLE (
		RowID INT,
		statusAction VARCHAR(30)
	);

	DECLARE
		@matrixIdBfrUpload INT
		,@matrixidhis int
		,@rowId INT

	IF @useremail = ''
	BEGIN
		SET @useremail = (SELECT email FROM tbset_user WHERE id = @userid)
	END

    DECLARE @failedrec as TABLE (
		RowID INT,
		principalDec VARCHAR(255),
		distributorDesc VARCHAR(255),
        categoryDesc VARCHAR(255),
        subActivityTypeDesc VARCHAR(255),
        channelDec VARCHAR(255),
        subChannelDesc VARCHAR(255),
		[initiator] VARCHAR(255),
		minInvestment NUMERIC(19,0),
		maxInvestment NUMERIC(19,0)
	)

	DECLARE @temp as TABLE
    (
        doc varchar(MAX),
        [status] varchar(255)
    )

/* Cek Entity */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', distributorId, ' - ', category, ' - ', subActivityType, ' - ', channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Entity not found'
	FROM #temp_matrix a
	LEFT JOIN tbmst_principal b ON a.PrincipalId = b.longDesc
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, distributorId, category, subActivityType, channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbmst_principal b ON a.PrincipalId = b.longDesc
	WHERE b.id IS NULL

/* Cek Distributor */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', distributorId, ' - ', category, ' - ', subActivityType, ' - ', channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Distributor not found'
	FROM #temp_matrix a
	LEFT JOIN tbmst_distributor b ON a.DistributorId = b.longDesc
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, distributorId, category, subActivityType, channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbmst_distributor b ON a.DistributorId = b.longDesc
	WHERE b.id IS NULL

/* Cek category */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', distributorId, ' - ', category, ' - ', subActivityType, ' - ', channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Category not found'
	FROM #temp_matrix a
	LEFT JOIN tbmst_category b ON a.Category = b.longDesc
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, distributorId, category, subActivityType, channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbmst_category b ON a.Category = b.longDesc
	WHERE b.id IS NULL

/* Cek sub activity type */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', distributorId, ' - ', category, ' - ', subActivityType, ' - ', channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Sub activity type not found'
	FROM #temp_matrix a
	LEFT JOIN tbmst_subactivity_type b ON a.SubActivityType = b.longDesc
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, distributorId, category, subActivityType, channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbmst_subactivity_type b ON a.SubActivityType = b.longDesc
	WHERE b.id IS NULL

/* Cek channel */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', distributorId, ' - ', category, ' - ', subActivityType, ' - ', channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Channel not found'
	FROM #temp_matrix a
	LEFT JOIN tbmst_channel b ON a.ChannelId = b.longDesc
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, distributorId, category, subActivityType, channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbmst_channel b ON a.ChannelId = b.longDesc
	WHERE b.id IS NULL

/* Cek sub channel */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Sub channel not found'
	FROM #temp_matrix a
	LEFT JOIN tbmst_subchannel b ON a.SubChannelId = b.longDesc
	WHERE b.id IS NULL
	AND ISNULL(a.subChannelId, '') <> ''

	INSERT INTO @failedrec
	SELECT rowId, principalId, distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbmst_subchannel b ON a.SubChannelId = b.longDesc
	WHERE b.id IS NULL
	AND ISNULL(a.subChannelId, '') <> ''

/* Cek initiator */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Initiator not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Initiator = b.id
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Initiator = b.id
	WHERE b.id IS NULL

/* Cek approver1 */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Approver1 not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver1 = b.id
	WHERE b.id IS NULL

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver1 = b.id
	WHERE b.id IS NULL

/* Cek approver2 */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Approver2 not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver2 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver2, '') <> ''

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver2 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver2, '') <> ''

/* Cek approver2 */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Approver2 not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver2 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver2, '') <> ''

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver2 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver2, '') <> ''

/* Cek approver3 */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Approver3 not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver3 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver3, '') <> ''

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver3 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver3, '') <> ''

/* Cek approver4 */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Approver4 not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver4 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver4, '') <> ''

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver4 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver4, '') <> ''

/* Cek approver5 */
	INSERT INTO @temp
	SELECT 
		CONCAT(principalId, ' - ', a.distributorId, ' - ', category, ' - ', subActivityType, ' - ', a.channelId
			, IIF(ISNULL(subChannelId, '') ='', '', CONCAT(' - ', subChannelId)), ' - ', initiator, ' - investment : '
			, FORMAT(minInvestment, 'N0'), ' - ', FORMAT(maxInvestment, 'N0')) [doc]
		, 'Approver5 not found'
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver5 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver5, '') <> ''

	INSERT INTO @failedrec
	SELECT rowId, principalId, a.distributorId, category, subActivityType, a.channelId, subChannelId, initiator, minInvestment, maxInvestment 
	FROM #temp_matrix a
	LEFT JOIN tbset_user b ON a.Approver5 = b.id
	WHERE b.id IS NULL
	AND ISNULL(a.approver5, '') <> ''

/***********
* end cek *
***********/

/* Create History Update*/
DECLARE curUploadUpdated CURSOR FOR
SELECT b.rowId, a.Id FROM tbset_matrix_promo_approval a
INNER JOIN
(
	SELECT 
		t.RowID
		,p.Id PrincipalId
		,d.Id DistributorId
		,x.Id CategoryId
		,c.Id ChannelId
		,isnull(sc.Id,0) SubChannelId
		,MinInvestment
		,MaxInvestment
		,[Initiator]
		,sa.Id SubActivityType
		FROM #temp_matrix t
		INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
		INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
		INNER JOIN tbmst_category x on x.LongDesc=t.category
		INNER JOIN tbmst_channel c on c.LongDesc=t.ChannelId
		LEFT JOIN tbmst_subchannel sc on sc.LongDesc=t.SubChannelId
		INNER JOIN tbmst_subactivity_type sa on sa.LongDesc=t.SubActivityType
		GROUP BY
			t.RowID
			,p.Id
			,d.Id
			,x.Id
			,c.Id
			,isnull(sc.Id,0)
			,MinInvestment
			,MaxInvestment
			,[Initiator]
			,sa.Id
) b
	ON a.PrincipalId=b.PrincipalId
	AND a.DistributorId=b.DistributorId
	AND a.CategoryId=b.CategoryId
	AND a.ChannelId=b.ChannelId
	AND a.SubChannelId=b.SubChannelId
	AND a.MinInvestment=b.MinInvestment
	AND a.MaxInvestment=b.MaxInvestment
	AND a.[Initiator]=b.[Initiator]
	AND a.SubActivityType=b.SubActivityType
	AND ISNULL(a.Periode, '') = ''
;

OPEN curUploadUpdated;

FETCH NEXT FROM curUploadUpdated INTO @rowId, @matrixIdBfrUpload;

WHILE @@FETCH_STATUS = 0
BEGIN
	/* INSERT matrix approval header updated history*/
	INSERT INTO tbhis_matrix_promo_approval (
		matrixid,
		Periode,
		RefId,
		PrincipalId,
		DistributorId,
		SubActivityType,
		ChannelId,
		SubChannelId,
		Initiator,
		MinInvestment,
		MaxInvestment,
		IsActive,
		ActionOn,
		ActionBy,
		ActionEmail,
		ActionStatus,
		CategoryId
	)
	SELECT 
		id
		,Periode
		,RefId
		,PrincipalId
		,DistributorId
		,SubActivityType
		,ChannelId
		,SubChannelId
		,Initiator
		,MinInvestment
		,MaxInvestment
		,IsActive
		,@utcDate123
		,@userid
		,@useremail
		,'updated'
		,CategoryId
	FROM tbset_matrix_promo_approval
	WHERE id = @matrixIdBfrUpload

	/* get identtiy header history*/
	SET @matrixidhis=(SELECT SCOPE_IDENTITY());

	/* insert matrix approval detail updated history*/
		INSERT INTO dbo.tbhis_matrix_promo_approver (
		ParentId
		,matrixid
		,SeqApproval
		,Approver
		,IsActive
		,ActionOn
		,ActionBy
		,ActionEmail
		,ActionStatus	
	)
	SELECT 
		@matrixidhis 
		,ParentId
		,SeqApproval
		,Approver
		,1
		,@utcDate123
		,@userid
		,@useremail
		,'updated'
	FROM tbset_matrix_promo_approver WHERE ParentId = @matrixIdBfrUpload;

	/*insert into status record*/
	INSERT INTO @statusRec VALUES (@rowId, 'Updated')

    FETCH NEXT FROM curUploadUpdated INTO @rowId, @matrixIdBfrUpload;
END;
CLOSE curUploadUpdated;
DEALLOCATE curUploadUpdated;
/***************************************************************************************/

/* create history inserted*/
DECLARE curUploadInserted CURSOR FOR
SELECT b.rowId, a.Id FROM tbset_matrix_promo_approval a
RIGHT JOIN
(
	SELECT 
		t.rowId
		,p.Id PrincipalId
		,d.Id DistributorId
		,x.Id CategoryId
		,c.Id ChannelId
		,isnull(sc.Id,0) SubChannelId
		,MinInvestment
		,MaxInvestment
		,[Initiator]
		,sa.Id SubActivityType
		FROM #temp_matrix t
		INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
		INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
		INNER JOIN tbmst_category x on x.LongDesc=t.category
		INNER JOIN tbmst_channel c on c.LongDesc=t.ChannelId
		LEFT JOIN tbmst_subchannel sc on sc.LongDesc=t.SubChannelId
		INNER JOIN tbmst_subactivity_type sa on sa.LongDesc=t.SubActivityType
		GROUP BY
			t.rowId
			,p.Id
			,d.Id
			,x.Id
			,c.Id
			,isnull(sc.Id,0)
			,MinInvestment
			,MaxInvestment
			,[Initiator]
			,sa.Id
) b
	ON a.PrincipalId=b.PrincipalId
	AND a.DistributorId=b.DistributorId
	AND a.CategoryId=b.CategoryId
	AND a.ChannelId=b.ChannelId
	AND a.SubChannelId=b.SubChannelId
	AND a.MinInvestment=b.MinInvestment
	AND a.MaxInvestment=b.MaxInvestment
	AND a.[Initiator]=b.[Initiator]
	AND a.SubActivityType=b.SubActivityType
	AND ISNULL(a.Periode, '') = ''
WHERE a.id is null
;


OPEN curUploadInserted;

FETCH NEXT FROM curUploadInserted INTO @rowId, @matrixIdBfrUpload;

WHILE @@FETCH_STATUS = 0
BEGIN
	/* INSERT matrix approval header inserted history*/
	INSERT INTO tbhis_matrix_promo_approval (
		matrixid,
		Periode,
		RefId,
		PrincipalId,
		DistributorId,
		SubActivityType,
		ChannelId,
		SubChannelId,
		Initiator,
		MinInvestment,
		MaxInvestment,
		IsActive,
		ActionOn,
		ActionBy,
		ActionEmail,
		ActionStatus,
		CategoryId
	)
	SELECT 
		id
		,Periode
		,RefId
		,PrincipalId
		,DistributorId
		,SubActivityType
		,ChannelId
		,SubChannelId
		,Initiator
		,MinInvestment
		,MaxInvestment
		,IsActive
		,@utcDate123
		,@userid
		,@useremail
		,'inserted'
		,CategoryId
	FROM tbset_matrix_promo_approval
	WHERE id = @matrixIdBfrUpload

	/* get identtiy matrix approval header history*/
	SET @matrixidhis=(SELECT SCOPE_IDENTITY());

	/* INSERT matrix approval detail inserted history*/
		INSERT INTO dbo.tbhis_matrix_promo_approver (
		ParentId
		,matrixid
		,SeqApproval
		,Approver
		,IsActive
		,ActionOn
		,ActionBy
		,ActionEmail
		,ActionStatus	
	)
	SELECT 
		@matrixidhis 
		,ParentId
		,SeqApproval
		,Approver
		,1
		,@utcDate123
		,@userid
		,@useremail
		,'inserted'
	FROM tbset_matrix_promo_approver WHERE ParentId = @matrixIdBfrUpload;

	/*insert into status record*/
	INSERT INTO @statusRec VALUES (@rowId, 'Inserted')

    FETCH NEXT FROM curUploadInserted INTO @rowId, @matrixIdBfrUpload;
END;
CLOSE curUploadInserted;
DEALLOCATE curUploadInserted;
/***********************************************************************************/

	DELETE FROM tbset_matrix_promo_approver WHERE ParentId IN
	(
		SELECT Id FROM tbset_matrix_promo_approval a
		INNER JOIN
		(
			SELECT DISTINCT 
				p.Id PrincipalId
				,d.Id DistributorId
				,x.Id CategoryId
				,c.Id ChannelId
				,isnull(sc.Id,0) SubChannelId
				,MinInvestment
				,MaxInvestment
				,[Initiator]
				,sa.Id SubActivityType
			FROM #temp_matrix t
			INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
			INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
			INNER JOIN tbmst_category x on x.LongDesc=t.category
			INNER JOIN tbmst_channel c on c.LongDesc=t.ChannelId
			LEFT JOIN tbmst_subchannel sc on sc.LongDesc=t.SubChannelId
			INNER JOIN tbmst_subactivity_type sa on sa.LongDesc=t.SubActivityType
			WHERE t.RowID NOT IN ( SELECT rowId FROM @failedrec )
		) b
		ON a.PrincipalId=b.PrincipalId
		AND a.DistributorId=b.DistributorId
		AND a.CategoryId=b.CategoryId
		AND a.ChannelId=b.ChannelId
		AND a.SubChannelId=b.SubChannelId
		AND a.MinInvestment=b.MinInvestment
		AND a.MaxInvestment=b.MaxInvestment
		AND a.[Initiator]=b.[Initiator]
		AND a.SubActivityType=b.SubActivityType
		AND ISNULL(a.Periode, '') = ''
		--AND a.Periode IS NULL

	)


	INSERT INTO tbset_matrix_promo_approval
		(
			PrincipalId			,DistributorId			,CategoryId
			,ChannelId			,SubChannelId			,MinInvestment			,MaxInvestment
			,[Initiator]			,SubActivityType			,CreateOn			,CreateBy
			,ModifiedOn			,ModifiedBy				,CreatedEmail
		)
	SELECT
		a.PrincipalId		,a.DistributorId		,a.CategoryId
		,a.ChannelId		,a.SubChannelId		,a.MinInvestment		,a.MaxInvestment
		,a.[Initiator]		,a.SubActivityType		,@utcDate123		,@userid
		,@utcDate123		,@userid				,@useremail

		FROM
		(
			SELECT DISTINCT 
					p.Id PrincipalId
					,d.Id DistributorId
					,x.Id CategoryId
					,c.Id ChannelId
					,isnull(sc.Id,0) SubChannelId
					,MinInvestment
					,MaxInvestment
					,[Initiator]
					,sa.Id SubActivityType
				FROM #temp_matrix t
				INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
				INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
				INNER JOIN tbmst_category x on x.LongDesc=t.category
				INNER JOIN tbmst_channel c on c.LongDesc=t.ChannelId
				LEFT JOIN tbmst_subchannel sc on sc.LongDesc=t.SubChannelId
				INNER JOIN tbmst_subactivity_type sa on sa.LongDesc=t.SubActivityType
				WHERE t.RowID NOT IN ( SELECT rowId FROM @failedrec )
		 ) a LEFT JOIN tbset_matrix_promo_approval b
			ON a.PrincipalId=b.PrincipalId
				AND a.DistributorId=b.DistributorId
				AND a.CategoryId=b.CategoryId
				AND a.ChannelId=b.ChannelId
				AND a.SubChannelId=b.SubChannelId
				AND a.MinInvestment=b.MinInvestment
				AND a.MaxInvestment=b.MaxInvestment
				AND a.[Initiator]=b.[Initiator]
				AND a.SubActivityType=b.SubActivityType
				AND ISNULL(b.Periode, '') = ''
				--AND b.Periode is null
		WHERE b.PrincipalId is null

	INSERT INTO tbset_matrix_promo_approver(ParentId,SeqApproval,Approver,IsActive,CreateOn,CreateBy,ModifiedOn,ModifiedBy)
		SELECT
			m.Id,x.Seq,Approver,1,@utcDate123,@userid,@utcDate123,@userid
			FROM
			(
				SELECT
					PrincipalId
					,DistributorId
					,CategoryId
					,ChannelId
					,SubChannelId
					,MinInvestment
					,MaxInvestment
					,[Initiator]
					,SubActivityType
					,ROW_NUMBER() OVER(PARTITION BY 
						PrincipalId
						,DistributorId
						,CategoryId
						,ChannelId
						,SubChannelId
						,MinInvestment
						,MaxInvestment
						,[Initiator]
						,SubActivityType ORDER BY (select null)
					) Seq
					,Approver
				FROM
				(
					SELECT p.Id PrincipalId
						,d.Id DistributorId
						,x.Id CategoryId
						,c.Id ChannelId
						,isnull(sc.Id,0) SubChannelId
						,MinInvestment
						,MaxInvestment
						,[Initiator]
						,sa.Id SubActivityType
						,[Approver1],[Approver2],[Approver3],[Approver4],[Approver5]
					FROM #temp_matrix t
				   INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
				   INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
				   INNER JOIN tbmst_category x on x.LongDesc=t.Category
				   INNER JOIN tbmst_channel c on c.LongDesc=t.ChannelId
				   LEFT JOIN tbmst_subchannel sc on sc.LongDesc=t.SubChannelId
				   --sc.ChannelId=c.Id and IIF(t.SubChannelId='',1,sc.LongDesc)=IIF(t.SubChannelId='',1,t.SubChannelId)
				  INNER JOIN tbmst_subactivity_type sa on sa.LongDesc=t.SubActivityType
				  WHERE t.RowID NOT IN (SELECT RowID FROM @failedrec)
				   ) p
				UNPIVOT
				(Approver FOR Attribute IN
					  (
						[Approver1],[Approver2],[Approver3],[Approver4],[Approver5]
					  )
				)AS unpvt
			) x
		INNER JOIN tbset_matrix_promo_approval m
			ON x.PrincipalId=m.PrincipalId
			AND x.DistributorId=m.DistributorId
			AND x.CategoryId=m.CategoryId
			AND x.ChannelId=m.ChannelId
			AND x.SubChannelId=m.SubChannelId
			AND x.MinInvestment=m.MinInvestment
			AND x.MaxInvestment=m.MaxInvestment
			AND x.[Initiator]=m.[Initiator]
			AND x.SubActivityType=m.SubActivityType
			AND ISNULL(m.Periode, '') = ''
		WHERE isnull(x.Approver,'') <> ''


INSERT INTO tbset_matrix_approval_process ([Date] ,[IsFinished] ,[UserProfile] ,[UserEmail])
	VALUES (@utcDate123, 0, @userid,'EMAIL')

SET @processId = (SELECT SCOPE_IDENTITY())

INSERT INTO tbset_matrix_approval_process_detail (processid,MatrixPromoApprovalId) 
	SELECT DISTINCT @processid, m.Id FROM
		(
			SELECT
					PrincipalId
					,DistributorId
					,CategoryId
					,ChannelId
					,SubChannelId
					,MinInvestment
					,MaxInvestment
					,[Initiator]
					,SubActivityType
					,ROW_NUMBER() OVER(PARTITION BY 
						PrincipalId
						,DistributorId
						,CategoryId
						,ChannelId
						,SubChannelId
						,MinInvestment
						,MaxInvestment
						,[Initiator]
						,SubActivityType ORDER BY (select null)
						) Seq
					,Approver
				FROM
				(
					SELECT p.Id PrincipalId
						,d.Id DistributorId
						,x.Id CategoryId
						,c.Id ChannelId
						,isnull(sc.Id,0) SubChannelId
						,MinInvestment
						,MaxInvestment
						,[Initiator]
						,sa.Id SubActivityType
						,[Approver1],[Approver2],[Approver3],[Approver4],[Approver5]
					FROM #temp_matrix t
					INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
					INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
					INNER JOIN tbmst_category x on x.LongDesc=t.Category
					INNER JOIN tbmst_channel c on c.LongDesc=t.ChannelId
					LEFT JOIN tbmst_subchannel sc on sc.LongDesc=t.SubChannelId
					INNER JOIN tbmst_subactivity_type sa on sa.LongDesc=t.SubActivityType
					WHERE t.RowID NOT IN (SELECT RowID FROM @failedrec)
				   ) p
				UNPIVOT
					(Approver FOR Attribute IN
						  (
							[Approver1],[Approver2],[Approver3],[Approver4],[Approver5]
						  )
					)AS unpvt
			) x
		INNER JOIN tbset_matrix_promo_approval m
			ON x.PrincipalId=m.PrincipalId
			AND x.DistributorId=m.DistributorId
			AND x.CategoryId=m.CategoryId
			AND x.ChannelId=m.ChannelId
			AND x.SubChannelId=m.SubChannelId
			AND x.MinInvestment=m.MinInvestment
			AND x.MaxInvestment=m.MaxInvestment
			AND x.[Initiator]=m.[Initiator]
			AND x.SubActivityType=m.SubActivityType
			AND ISNULL(m.Periode, '') = ''
		WHERE isnull(x.Approver,'') <> ''

	DECLARE @errFailedRec INT, @successRec INT, @totRec INT
	SET @totRec = (SELECT count(RowID) FROM #temp_matrix)
	SET @successRec = (SELECT count(RowID) FROM #temp_matrix WHERE rowId not in (SELECT RowID FROM @failedrec))
	SET @errFailedRec = @totRec - @successRec
		
	/* @processId set null jika data yang di upload failed semua */
	IF @totRec = @errFailedRec
	BEGIN
		SELECT NULL processId
	END
	ELSE
	BEGIN
		SELECT @processId processId
	END

	/* result failed data */
	    IF EXISTS (SELECT * FROM @temp)
	    BEGIN
	        SELECT doc,[status] from @temp GROUP BY doc, [status]
	        SELECT @errFailedRec failedRec, @successRec successRec, @totRec totRec
	        RETURN
	    END
		ELSE
	    BEGIN
	        SELECT doc,[status] from @temp where doc='Success upload'
	        SELECT 0 failedRec, @successRec successRec, @totRec totRec
	        RETURN
	    END

	DROP TABLE IF EXISTS #temp_matrix;


/*DEBUGGING PURPOSE***********************************/
--select * from @matrix
--select * from tbset_matrix_approval_process where Id=@processId
--select * from tbset_matrix_approval_process_detail where ProcessId=@processId
--select * from tbset_matrix_promo_approval where Id in (select MatrixPromoApprovalId from tbset_matrix_approval_process_detail where ProcessId=@processId)
--select * from tbset_matrix_promo_approver where ParentId in (select MatrixPromoApprovalId from tbset_matrix_approval_process_detail where ProcessId=@processId)
/***********************************DEBUGGING PURPOSE*/


END

GO
