USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_xml_upload]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_xml_upload]
@userid varchar(50)
,@useremail varchar(50)
,@filename varchar(200)
,@uploadtype varchar(50)

AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
    --     untuk prod
--     SET @useremail = (SELECT email FROM tbset_user WHERE id=@userid)
    
	INSERT INTO tbxml_SAP_upload (
        UploadType,
        FileName,
        UploadBy,
        UploadEmail,
        UploadOn
    )
    VALUES(
        @uploadtype
        , @filename
        , @userid
        , @useremail
        , @utcDate123
    )

END
GO
