

/****** Object:  StoredProcedure [dbo].[ip_import_master_subactivitytype]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_subactivitytype]
@ActivityType SubActivityType READONLY,


@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN


/*****************
SUB ACTIVITY TYPE
*****************/

	MERGE tbmst_subactivity_type t
	USING @ActivityType s
	ON t.LongDesc=s.SubActivityType
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=SubActivityType
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
           [LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           SubActivityType
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );


END
GO
