USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_xml_generate_flagging_update]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_xml_generate_flagging_update]
    @userid varchar(50)
    ,@useremail varchar(50)
    ,@ponumber AttributeType READONLY
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
--     INSERT INTO mytmp (f1)
--     select * from @ponumber
    --     untuk prod
--     SET @useremail = (SELECT email FROM tbset_user WHERE id=@userid)

    UPDATE xml
        SET xml.isDeleted = 1, xml.DeletedBy=@userid, xml.DeletedOn=@utcDate123, xml.DeletedEmail=@useremail
	FROM tbxml_generate xml
    INNER JOIN @ponumber po on xml.Id=po.Id
END

GO
