USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_upload_attach]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_list_upload_attach] --'2020',0,'0'
@periode  varchar(4),
@entity int,
@userid varchar(50)

AS
BEGIN
		select *
		from
		(
			SELECT a.Id, a.RefId, tpd.DocLink, tpd.FileName
				FROM tbtrx_promo a
				INNER JOIN tbtrx_allocation ta ON a.AllocationId = ta.Id
				INNER JOIN tbtrx_budgetmaster tb ON ta.BudgetMasterId = tb.Id
				INNER JOIN tbtrx_promo_subaccount tps ON a.id=tps.PromoId
				INNER JOIN tbset_user_subaccount tus ON tps.SubAccountId=tus.SubAccountId AND IIF(@userid='0','',tus.userid) =IIF(@userid='0','',@userid)
-- 				INNER JOIN tbtrx_promo_channel tpc ON a.id=tpc.PromoId
-- 				INNER JOIN tbset_map_user_channel tmuc ON tpc.ChannelId = tmuc.channelid AND IIF(@userid='0','',tmuc.userid) =IIF(@userid='0','',@userid)
				LEFT JOIN tbtrx_promo_doclink tpd on a.id=tpd.PromoId
				WHERE isnull(a.IsCancel, 0) = 0 AND year(a.StartPromo)=@periode
				AND IIF(@userid='0','',a.CreateBy) =IIF(@userid='0','',@userid)
				AND IIF(@entity=0,'',tb.PrincipalId) =IIF(@entity=0,'',@entity)

		) src
		pivot
		(
		  max(FileName)
		  for DocLink in ([row1], [row2], [row3], [row4], [row5], [row6], [row7])
		) piv;
END
GO
