

/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_by_promoid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list_by_promoid] --0
@promoid int
AS
BEGIN
	SELECT DISTINCT a.Id
	,a.RefId
	,b.Id PromoId
	,b.RefId PromoRefId
	,a.ActivityDesc
	,a.dpp
-- 	    ,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
	,a.PPNAmt
	,a.TotalClaim
	,a.TotalPaid
	,a.LastStatus
	,a.IsFreeze
	,a.CreateOn
	,a.CreateBy
	,a.IsOverBudget
	,a.AssignBy
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	,c.Id EntityId
	,c.LongDesc EntityLongDesc
	,c.ShortDesc EntityShortDesc
	,a.MemDocNo
	,a.IntDocNo
	,a.TaxLevel MaterialNumber
	,tmm.Description TaxLevel
	,a.IsDNPromo
	,a.StatusSalesNotes remarkSales
	,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
	,a.AccountId SubAccountId
	,ts.LongDesc SubAccount
	,a.FPNumber
	,a.FPDate
    ,a.VATExpired
	FROM tbtrx_debetnote a
	INNER JOIN tbtrx_promo b on a.PromoId=b.Id
	INNER JOIN tbmst_subaccount ts ON a.AccountId = ts.id
	INNER JOIN tbmst_principal c on a.PrincipalId=c.Id
	LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
	WHERE isnull(a.iscancel, 0) = 0
    AND b.id=@promoid
END

GO
