

/****** Object:  StoredProcedure [dbo].[ip_promo_v4_list_creation_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_v4_list_creation_p]
 @periode varchar(4)
,@category int
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@cancelstatus bit
,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)

AS

	--DECLARE 
	--	 @periode varchar(4)
	--	,@category int
	--	,@entity int
	--	,@distributor int
	--	,@budgetparent int
	--	,@channel int
	--	,@userid varchar(50)
	--	,@cancelstatus bit
	--	,@start int
	--	,@length int
	--	,@filter varchar(255)
	--	,@txtSearch varchar(255)
	--	,@order varchar(255)
	--	,@sort varchar(4)

	--SET @periode ='2025'
	--SET @entity = 0
	--SET @distributor =0
	--SET @budgetparent=0
	--SET @channel = 0
	--SET @userid ='kamsat'
	--SET @cancelstatus = 0
	--SET @start =0
	--SET @length =-1
	--SET @filter =''
	--SET @txtSearch =''
	--SET @sort =''
	--SET @order ='refid'

BEGIN

	SET NOCOUNT ON
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()

	SET @order = IIF(ISNULL(@order,'')='','RefId', @order)
	SET @start = @start * @length
	SET @category=ISNULL(@category,0)
	SET @sort = IIF(ISNULL(@sort,'')='','asc', @sort)

    DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo
	SELECT 999999999 id, 999999999999999 cost INTO #temp_promo
	DELETE from #temp_promo

    DECLARE @recordsFiltered int;

	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		)

	declare 
		@p_alcid int,
		@product_name int
    
	IF @periode <='2024' 
		BEGIN
			DECLARE cursor_product CURSOR
			FOR SELECT 
					Id
				FROM 
					tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
			OPEN cursor_product;

			FETCH NEXT FROM cursor_product INTO 
				@product_name

			WHILE @@FETCH_STATUS = 0
				BEGIN
        
					SET @p_alcid=@product_name;
			
					with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
					AS
						(
							SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
							UNION ALL
							SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
							INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
							INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
						)
		
					INSERT INTO @Temp
						SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
						option (maxrecursion 0);

					FETCH NEXT FROM cursor_product INTO 
						@product_name 
            
				END;
 
			CLOSE cursor_product;
 
			DEALLOCATE cursor_product;

			INSERT INTO #temp_promo (id, cost)
				SELECT pr.id, pr.investment FROM tbtrx_promo pr
				INNER JOIN tbtrx_budgetmaster m on pr.BudgetMasterId=m.Id
				WHERE
					m.Periode=@periode
					AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
					AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
					AND ISNULL(IsCancel,0)=@cancelstatus
					AND ISNULL(pr.StatusApprovalCode, '')<>'TP2'
					AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
		END
	ELSE
		BEGIN

			INSERT INTO #temp_promo (id, cost)
				SELECT pr.id, IIF(isnull(tpmim.inputMethod, 0) = 0, pr.investment, sum(tpm.Cost)) cost  FROM tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator tpc ON pr.Id=tpc.PromoId
				INNER JOIN tbtrx_promo_mechanism tpm on pr.id = tpm.PromoId
				LEFT JOIN tbset_promo_mechanism_input_method tpmim on pr.SubActivityId = tpmim.subActivityId
				WHERE
					pr.Period=@periode
					AND IIF(@entity=0,'',pr.EntityId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
					AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
					AND ISNULL(IsCancel,0)=@cancelstatus
					--AND ISNULL(pr.StatusApprovalCode, '')<>'TP2'
					--AND ISNULL(pr.reconciled,0)=0
					AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
			GROUP BY pr.id, tpmim.inputMethod, pr.Investment
		END


	SELECT DISTINCT 
		IIF(ISNULL(p.LongDesc,'')='',p1.LongDesc,p.LongDesc) Entity
		, IIF(ISNULL(d.LongDesc,'')='',d1.LongDesc,d.LongDesc) Distributor
		, IIF(ISNULL(p.LongDesc,'')='',p1.LongDesc,p.LongDesc) PrincipalDesc
  		,pr.Id PromoId
  		,pr.RefId
  		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
  		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
			,IIF(ISNULL(pr.isClose, 0) = 1, 'Promo Closed by ' + CAST(pr.CloseBy as varchar) + '-' + CAST(uclose.username as varchar) + ' on ' + CAST(pr.CloseOn as varchar)
				,IIF(pr.StatusApprovalCodeRecon IS NULL AND pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
						,pr.LastStatus)))
			LastStatus -- * EDJ 2020-04-01 : add username in laststatus
  	--	,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
			--,IIF(ISNULL(pr.isClose, 0) = 1, 'Promo Closed by ' + CAST(pr.CloseBy as varchar) + '-' + CAST(uclose.username as varchar) + ' on ' + CAST(pr.CloseOn as varchar)
			--	,IIF(pr.StatusApprovalCodeRecon IS NULL AND pr.StatusApprovalCode='TP2','(1)' + pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
			--		--,IIF(pr.StatusApprovalCoderecon IS NOT NULL AND pr.StatusApprovalCode='TP2','(2)' + pr.LastStatusrecon + '-' + CAST(uapproverrecon.username as varchar) +' ON ' + CAST(pr.ApproveOnrecon as varchar)
			--			,IIF(pr.StatusApprovalCode='TP0',pr.LastStatus
			--				,IIF(pr.StatusApprovalCoderecon IS NOT NULL ,'(2)' + pr.LastStatusrecon + '-' + CAST(uapproverrecon.username as varchar) +' ON ' + CAST(pr.ApproveOnrecon as varchar)
			--					,'(1)' + pr.LastStatus + '-' + uapprover.username
			--)))))  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
  		,c.LongDesc Allocation 
  	--	,IIF(ISNULL(pc.promoid,0)=0,(
			--IIF(ISNULL(pr.isclose,0)=0, pr.Investment, ISNULL(dn.TotalPaid, 0))), tpr.cost) Investment --issue #839
		, IIF(ISNULL(pr.isclose,0)=0, tpr.cost, ISNULL(dn.TotalPaid, 0)) Investment
  		,ISNULL(pr.IsCancelLocked,0) IsCancelLocked
  		,IIF(pr.CategoryId<>3 OR pr.period=2025,'---', pr.TsCoding) [TsCoding]
  		,pr.CancelNotes 
  		,pr.initiator_notes
		,IIF(pr.CategoryId<>3, 0, ISNULL(pr.InvestmentTypeId, 0)) [InvestmentTypeId]
		,IIF(pr.CategoryId<>3,'---', ISNULL(tit.RefId, '')) [InvestmentTypeRefId]
		,IIF(pr.CategoryId<>3,'---', ISNULL(tit.LongDesc, '')) [InvestmentTypeDesc]		
		   ,ISNULL(pr.IsClose, 0) isClose
		    ,pr.investment investmentBfrClose --issue #839
		,iif(ISNULL(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance --issue #839			    	   
		,pr.StartPromo --issue #864
		,pr.EndPromo --issue #864
		,pr.CategoryId -- isu E2#38
		,cat.ShortDesc CategoryShortDesc
		,ISNULL(pr.Reconciled,0) reconciled
		--,IIF(pr.StatusApprovalCode='TP2' AND ISNULL(pr.Reconciled,0)=0, 0, 1) editable
		--, IIF(pr.StatusApprovalCode='TP0' AND tpbs.LastStatusCode ='TP01', 1, IIF(pr.StatusApprovalCode='TP2' AND ISNULL(pr.Reconciled,0)=0, 0, 1)) editable
		, CASE WHEN pr.StatusApprovalCode='TP0' AND tpbs.LastStatusCode ='TP01' THEN 1
			   WHEN pr.StatusApprovalCode='TP0' AND tpbs.LastStatusCode ='TP02' THEN 0
			   WHEN pr.StatusApprovalCode='TP0' AND tpbs.LastStatusCode ='TP03' THEN 1
			   WHEN pr.StatusApprovalCode='TP0' AND tpbs.LastStatusCode ='TP04' THEN 1
			   WHEN pr.StatusApprovalCode='TP1' THEN 1
			   WHEN pr.StatusApprovalCode='TP2' AND ISNULL(pr.Reconciled, 0) = 0 THEN 0
			   WHEN pr.StatusApprovalCode='TP2' AND ISNULL(pr.Reconciled, 0) = 1 THEN 1
		  END AS editable
		,IIF(ISNULL(pr.Reconciled,0)=0, 'Waiting recon', IIF(pr.endpromo>@utcDate123, 'Ready to recon', 'Reconciled')) reconciledStatus
  		,ISNULL(REPLACE(IIF(pr.IsCancel=1,'Cancelled by ' + upper(pr.CancelBy) + '-' + pr.CancelByName, IIF(upper(pr.StatusApprovalRecon)='APPROVED', 'Approved by ' + upper(pr.approverrecon) + '-' + uapproverrecon.username, IIF(upper(pr.StatusApprovalRecon)='SENDBACK', 'Sendback by ' + upper(pr.approverrecon) + '-' + CAST(uapproverrecon.username as varchar), pr.LastStatusRecon + '-' + CAST(uapproverrecon.username as varchar)  ))), 'BY', 'by'),'---') 
			approvalReconStatus
		INTO #temp_result
		FROM #temp_promo tpr
		INNER JOIN tbtrx_promo pr on tpr.id=pr.Id
		LEFT JOIN tbtrx_promo_budget_status tpbs on pr.id = tpbs.PromoId
		LEFT JOIN @Temp a ON a.BudgetId=pr.AllocationId
		INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id
		LEFT JOIN tbtrx_allocation c on a.BudgetId=c.Id 
		LEFT JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
		LEFT JOIN tbmst_distributor d1 on pr.DistributorId=d1.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbmst_principal p1 on pr.entityid=p1.Id
		LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
		LEFT JOIN tbset_user uo on uo.Id=usr.UserId
		LEFT JOIN tbset_user uf on uf.Id=usr.UserId
		LEFT JOIN tbset_user upr on upr.Id=pr.Approver
		LEFT JOIN tbset_user ucancel on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
		LEFT JOIN tbset_user uapprover on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
		LEFT JOIN tbset_user uclose on pr.closeby = uclose.id
		LEFT JOIN tbset_user uapproverrecon on uapproverrecon.Id=pr.ApproverRecon -- * EDJ 2020-04-01 : add username in laststatus
		LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
		LEFT JOIN (
				SELECT AllocationId,
					STUFF(
							(select ',' + chn.LongDesc 
								from tbtrx_allocation_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.AllocationId=b.AllocationId
								FOR XML PATH ('')),1,1,'') AS ChannelDesc
						FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
				) channel
				on c.Id = channel.AllocationId
		LEFT JOIN (
			SELECT 
				a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) - SUM(ISNULL(tc.dpp,0)) TotalClaim
	    		,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0))- SUM(ISNULL(tc.dpp,0)) TotalPaid	    
			FROM tbtrx_debetnote a
			LEFT JOIN (
        		SELECT dnid
        			, SUM(ISNULL(dpp, 0)) dpp
        			, SUM(iif(ISNULL(laststatus, '')='confirm_paid',ISNULL(dpp, 0),0)) TotalPaid
        		FROM tbtrx_creditnote
        		WHERE ISNULL(iscancel, 0) = 0
        		GROUP BY dnid
			) tc ON a.id = tc.dnid		
			WHERE ISNULL(a.IsCancel, 0) = 0
			AND ISNULL(a.IsDNPromo,0)=1
			GROUP BY a.PromoId
		) dn on pr.id=dn.promoid
		LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
		--LEFT JOIN tbtrx_promo_calculator pc ON pr.Id = pc.PromoId
		WHERE
			IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)

	ORDER BY pr.Id



    /**********************
        start pagination
     **********************/
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(@order is null,'refid', @order)

    IF @length = -1
    BEGIN
        IF @txtSearch is null
        BEGIN
			SET @SQL = '
				SELECT * FROM #temp_result			
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
        END
        ELSE
        BEGIN
			SET @SQL = '
				SELECT * FROM #temp_result
				WHERE 
					(refid like ''%' + ISNULL(@txtSearch,'') + '%'') OR 
					(lastStatus like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(activityDesc like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(startPromo like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(endPromo like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(tsCoding like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(investment like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(initiator_notes like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(investmentBfrClose like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(investmentClosedBalance like ''%' + ISNULL(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL	        
        END        
    END
    ELSE
    BEGIN
        IF @txtSearch is null
        BEGIN
			SET @SQL = '
				SELECT * FROM #temp_result
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
    END
        ELSE
 BEGIN
			SET @SQL = '
				SELECT * FROM #temp_result
				WHERE 
					(refid like ''%' + ISNULL(@txtSearch,'') + '%'') OR 
					(lastStatus like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(activityDesc like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(startPromo like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(endPromo like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(tsCoding like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(investment like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(initiator_notes like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(investmentBfrClose like ''%' + ISNULL(@txtSearch,'') + '%'') OR
					(investmentClosedBalance like ''%' + ISNULL(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
        END        
    END

    SET @recordsFiltered = (
    	SELECT ISNULL(count(PromoId),0) FROM #temp_result
		WHERE 
			(refId like '%' + ISNULL(@txtSearch, '') + '%') OR
			(lastStatus like '%' + ISNULL(@txtSearch, '') + '%') OR
			(activityDesc like '%' + ISNULL(@txtSearch, '') + '%') OR
			(startPromo like '%' + ISNULL(@txtSearch,'') + '%') OR
			(endPromo like '%' + ISNULL(@txtSearch,'') + '%') OR
			(tsCoding like '%' + ISNULL(@txtSearch,'') + '%') OR
			(investment like '%' + ISNULL(@txtSearch,'') + '%') OR
			(initiator_notes like '%' + ISNULL(@txtSearch,'') + '%') OR
			(investmentBfrClose like '%' + ISNULL(@txtSearch,'') + '%') OR
			(investmentClosedBalance like '%' + ISNULL(@txtSearch,'') + '%')
		)

	SELECT ISNULL(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
    
    DROP TABLE IF EXISTS #temp_result
    DROP TABLE IF EXISTS #temp_promo
    /**********************
        end pagination
     **********************/
END
GO
