USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_blitz_transfer]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_blitz_transfer]
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin
	--declare @transfer_status int


	--if @transfer_status=1 
	begin
	/*********************************************************************************INSERT TO OPTIMA TEMP*/
		truncate table tbtemp_blitz_optima
		insert into tbtemp_blitz_optima select * from tbtemp_blitz /*<<< DELETE ""TOP 100"" ON DEPLOYMENT*/

	/********************************************************************************MERGE TO TRANSACTION*/
		MERGE tbtrx_blitz t 
			USING tbtemp_blitz_optima s
		ON (
					s.[Distributor_Id]=t.[Distributor_Id]
					and s.[Distributor_Name]=t.[Distributor_Name]
					and s.[Region_Code]=t.[Region_Code]
					and s.[Region_Desc]=t.[Region_Desc]
					and s.[Year]=t.[Year]
					and s.[Month_Name]=t.[Month_Name]
					and s.[AccountCode]=t.[AccountCode]
					and s.[AccountDesc]=t.[AccountDesc]
					and s.[SubAccountCode]=t.[SubAccountCode]
					and s.[SubAccountDesc]=t.[SubAccountDesc]
					and s.[Product_Code]=t.[Product_Code]
					and s.[Product_Name]=t.[Product_Name]
					and s.[Original SKU]=t.[Original_SKU]
					and s.[Original SKU Desc]=t.[Original_SKU_Desc]
					and s.[SOURCE]=t.[SOURCE]
			--s.[Distributor_Id]=t.[Distributor_Id]
		 -- AND s.[Region_Code]= t.[Region_Code]
		 -- AND s.[Year]= t.[Year]
		 -- AND s.[Month_Name]= t.[Month_Name]
		 -- AND s.[AccountCode]= t.[AccountCode]
		 -- AND s.[SubAccountCode]= t.[SubAccountCode]
		 -- AND s.[Product_Code]= t.[Product_Code]
		 -- AND s.[Original SKU]= t.[original_sku]
		 -- AND s.[Original SKU Desc]= t.[original_sku_desc]
		 -- AND s.[SOURCE]= t.[SOURCE]
		 -- --AND s.[created_at]= t.[created_at]
		 -- --AND s.[update_at]= t.[updated_at]
			)
		WHEN MATCHED
			THEN UPDATE SET 
				 t.[QTY_IN_TON]= s.[QTY IN TON]
				 , t.[QTY_IN_CAR]= s.[QTY IN CAR]
				 ,t.[SS_DBP]= s.[SS DBP]
				 ,t.[SS_RBP]= s.[SS RBP]
--				 ,t.[SOURCE]= s.[SOURCE]
				 ,t.[Created_At]= s.[Created_At]
				 ,t.[Updated_At]= s.[Update_At]

		WHEN NOT MATCHED BY TARGET 
			THEN INSERT (
				[Distributor_Id] ,[Distributor_Name] ,[Region_Code] ,[Region_Desc] ,[Year] ,[Month_Name] 
				,[AccountCode] ,[AccountDesc] ,[SubAccountCode] ,[SubAccountDesc] 
				,[Product_Code] ,[Product_Name], [Original_SKU], [Original_SKU_Desc]
				,[QTY_IN_TON],[QTY_IN_CAR] ,[SS_DBP] ,[SS_RBP] ,[SOURCE] ,[Created_At] ,[Updated_At])
				 VALUES (
					s.[Distributor_Id] ,s.[Distributor_Name] ,s.[Region_Code] ,s.[Region_Desc] ,s.[Year] ,s.[Month_Name]
					,s.[AccountCode] ,s.[AccountDesc] ,s.[SubAccountCode] ,s.[SubAccountDesc] 
					,s.[Product_Code] ,s.[Product_Name], s.[Original SKU], s.[Original SKU Desc]
					,s.[QTY IN TON] ,s.[QTY IN CAR] ,s.[SS DBP] ,s.[SS RBP] ,s.[SOURCE] ,s.[Created_At] ,s.[Update_At])
		;

	/********************************************************************************CHECK ATTRIBUTES MAP*/
	drop table if exists #tmpcheck_distributor
	drop table if exists #tmpcheck_region
	drop table if exists #tmpcheck_subaccount
	drop table if exists #tmpcheck_product

	select distributor_id, distributor_name into #tmpcheck_distributor from tbtemp_blitz_optima group by distributor_id, distributor_name
	select region_code, region_desc into #tmpcheck_region from tbtemp_blitz_optima group by region_code, region_desc
	select subaccountcode, subaccountdesc into #tmpcheck_subaccount from tbtemp_blitz_optima a group by subaccountcode, subaccountdesc 
	select product_code, product_name into #tmpcheck_product from tbtemp_blitz_optima a group by product_code, product_name

	insert into tbtemp_blitz_optima_map_check ([type] ,[code] ,[desc] ,[created_on] ,[notif_status])
		select 'distributor', distributor_id, distributor_name, @utcDate123, 0 from #tmpcheck_distributor where distributor_id not in (select sapcode from tbmst_distributor)
	insert into tbtemp_blitz_optima_map_check ([type] ,[code] ,[desc] ,[created_on] ,[notif_status])
		select 'region', region_code, region_desc, @utcDate123, 0 from #tmpcheck_region where region_code not in (select sapcode from tbmst_region)
	insert into tbtemp_blitz_optima_map_check ([type] ,[code] ,[desc] ,[created_on] ,[notif_status])
		select 'subaccount', subaccountcode, subaccountdesc, @utcDate123, 0 from #tmpcheck_subaccount where subaccountcode not in (select sapcode from tbset_map_subaccount_sap)
	insert into tbtemp_blitz_optima_map_check ([type] ,[code] ,[desc] ,[created_on] ,[notif_status])
		select 'product', product_code, product_name, @utcDate123, 0 from #tmpcheck_product where product_code not in (select sapcode from tbset_map_product_sap)

	drop table if exists #tmpcheck_distributor
	drop table if exists #tmpcheck_region
	drop table if exists #tmpcheck_subaccount
	drop table if exists #tmpcheck_product

	end
end

GO
