USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budgetassignment_create]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






--exec sp_helptext ip_budgetassignment_create



CREATE PROCEDURE [dbo].[ip_budgetassignment_create]
	@id int,
	@refid varchar(255),
	@budgetid int,
	@frownid varchar(50),
	@allocationid int,
	@budgetamount numeric(19,0),
	@userid varchar(50),
	@budgetdetail BudgetAssignmentDetailType READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION

DECLARE 
	@remainingparentamount numeric(19,0)
	,@messageout varchar(255)
	,@assignmentid int
	,@allocation_longdesc varchar(255)


SET @remainingparentamount=(SELECT SUM(RemainingAmount) FROM tbtrx_allocation_balance where AllocationId=@allocationid)
SET @allocation_longdesc=(SELECT LongDesc FROM tbtrx_allocation WITH (NOLOCK) WHERE Id=@allocationid)
IF @budgetamount > @remainingparentamount
BEGIN
	SET @messageout='Budget Exeeded, remaining budget ' + CAST(@remainingparentamount as varchar)
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
END


		INSERT INTO tbtrx_budgetassignment
		([RefId]
		,[BudgetId]
		,[FrownId]
		,[AllocationId]
		,[BudgetAmount]
		,[IsActive]
		,[IsLocked]
		,[CreateOn]
		,[CreateBy]
		)VALUES
		(
		@allocation_longdesc--@refid
		,@budgetid
		,@frownid
		,@allocationid
		,@budgetamount
		,1
		,0
		,@utcDate123
		,@userid
		)					

		SET @assignmentid=(SELECT SCOPE_IDENTITY())

		INSERT INTO tbtrx_budgetassignment_detail
		([AssignmentId]
		,[RefId]
		,[OwnId]
		,[Desc]
		,[BudgetAmount]
		,[IsAllocated]
		,[IsActive]
		,[IsLocked]
		,[CreateOn]
		,[CreateBy]
		)
		SELECT
		@assignmentid
		,@allocation_longdesc--RefId
		,OwnId
		,[Desc]
		,BudgetAmount
		,0
		,1
		,0
		,@utcDate123
		,@userid
		FROM @budgetdetail

COMMIT
	
END	TRY
BEGIN CATCH
	ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE
 @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
        
       @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

END CATCH





GO
