USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_alloc_region]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_alloc_region]
@Region ImportRegionType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN



/***********
DELETE DETAIL REGION
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_region ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Region temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_region ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Region temp on temp.Derivative=al.LongDesc

/*****************
END DELETE DETAIL REGION
*****************/

/**************************
INSERT REGION
***************************/

INSERT INTO tbtrx_allocation_region(AllocationId,RegionId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,RegionId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,RegionId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,r.Id as RegionId

FROM
(
SELECT Derivative, Regions
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
   FROM @Region) p  
UNPIVOT  
   (Regions FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
	  )  
)AS unpvt
)x 
INNER JOIN tbmst_region r on r.LongDesc=Regions
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Derivative

group by 

al.Id
,r.Id
) XXX

UNION ALL

SELECT 
Id
,RegionId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,r.Id as RegionId

FROM
(
SELECT Allocation, Regions
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
   FROM @Region) p  
UNPIVOT  
   (Regions FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]
	  )  
)AS unpvt
)x 
INNER JOIN tbmst_region r on r.LongDesc=Regions
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Allocation
group by 
al.Id
,r.Id
) XXX
)XXXX
WHERE RegionId <> ''

/********************
END INSERT REGION
********************/

END
GO
