USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_conf_latepromocreation_his]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_conf_latepromocreation_his]
AS
BEGIN
	select tcr.category, tcr.Description, tcr.daysfrom days, tcr.useredit modifiedby, tcr.dateedit modifiedon, tu.email modifiedemail
	from tbhis_config_reminder tcr 
	inner join tbset_user tu on tcr.useredit = tu.id
	where tcr.parentid IN (501,502)
	order by tcr.id
END 


GO
