

/****** Object:  StoredProcedure [dbo].[ip_dnoverbudget_tobesettled]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dnoverbudget_tobesettled] --'2020',0,0,0,0,'claimpku',0
@userid varchar(50)
AS
BEGIN
	SELECT pr.id
		,pr.RefId
	    ,pr.ActivityDesc
		,pr.LastStatus
		,pr.NormalSales
		,pr.IncrSales
		,pr.Investment
		,pr.CostRatio
		,pr.StartPromo
		,pr.EndPromo
	    ,ob.Remaining
	    ,ob.dpp
	    ,subaccount.SubAccountDesc
	    ,tc.Id [categoryId]
	    ,tc.ShortDesc [categoryShortDesc]
	    ,tc.LongDesc [categoryLongDesc]
		FROM tbtrx_promo pr with (nolock)
		inner join
        (
            select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
                        from tbtrx_promo_subaccount a with (nolock)
                        INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                        INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                GROUP BY a.PromoId
        ) subaccount
        on pr.Id = subaccount.PromoId
		LEFT JOIN tbmst_category tc on pr.CategoryId = tc.Id

        INNER JOIN
        (
            SELECT
            pr.Id PromoId,
            SUM (dn.TotalClaim) AS RunningClaim
            ,SUM(iif(dn.vatexpired=1,dn.DPP+isnull(dn.ppnamt,0),dn.dpp)) DPP
            ,pr.investmentForDN-SUM ( IIF(isnull(dn.VATExpired,0)=0, dn.DPP, dn.DPP + dn.PPNAmt)) Remaining
            from tbtrx_promo pr with (nolock)
            inner join  tbtrx_debetnote dn with (nolock)
            on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0) = 0 and isnull(pr.IsCancel, 0) = 0
            GROUP BY pr.id, pr.investmentForDN
            HAVING pr.investmentForDN-SUM ( IIF(isnull(dn.VATExpired,0)=0, dn.DPP, dn.DPP + dn.PPNAmt)) < 0
		) ob ON pr.Id=ob.PromoId
		WHERE isnull(pr.IsCancel, 0) = 0 AND isnull(IsClose, 0) = 0
		AND isnull(ob.Remaining,0) < 0
	    AND pr.CreateBy=@userid
	    
END
GO
