USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_list]
as
BEGIN
	SELECT        
		t.Id, 
		t.ChannelId, 
		c.LongDesc          AS Channel, 
		t.SubChannelId, 
		sc.LongDesc         AS SubChannel, 
		t.AccountId, 
		a.LongDesc          AS Account, 
		t.SubAccountId, 
		sa.LongDesc          AS SubAccount, 
		t.IsActive, 
		t.Pic1,
		t.Pic2,
		t.CreateOn, 
		t.CreateBy, 
		t.ModifiedOn, 
		t.ModifiedBy, 
		t.CreatedEmail
	FROM            
		tbset_matrix_dnmanual_assignment_new t 
		INNER JOIN tbmst_subaccount sa   ON sa.Id = t.SubAccountId 
		INNER JOIN tbmst_account a     ON a.id= sa.AccountId 
		INNER JOIN tbmst_subchannel sc ON sc.id= a.SubChannelId  
		INNER JOIN tbmst_channel c     ON c.id= sc.ChannelId  
END


GO
