USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_suratpengantar_ho_select]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_suratpengantar_ho_select] --1
@id int
as
/*
 * EJ 2020-03-18 add order by b.RefId
 */
--declare @id int
--set @id=1
begin


select a.Id,
a.RefId,
DistributorId,
b.LongDesc DistributorDesc, 
b.[Address]
,convert(varchar(10),a.CreateOn,120) CreateOn
from tbtrx_debetnote_sp_header_ho a
inner join tbmst_distributor b on a.DistributorId=b.id
where a.Id=@id

select 
iif(b.PromoId=0,'DN Manual',d.RefId) PromoNumber
,b.RefId DNNumber
,b.MemDocNo
,c.LongDesc AccountDesc
,b.ActivityDesc
,b.TotalClaim
from tbtrx_debetnote_sp_detail_ho a
inner join tbtrx_debetnote b on a.DnId=b.Id
LEFT join tbmst_subaccount c on b.AccountId=c.Id 
left join tbtrx_promo d on b.PromoId=d.Id
where a.ParentId=@id
order by b.RefId
end


GO
