

/****** Object:  StoredProcedure [dbo].[ip_promo_approved_list_for_dn_by_initiator]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_approved_list_for_dn_by_initiator] --'2020',0,0,0,'asmbjm'
 @periode varchar(4)
,@entity int
,@channel varchar(5)
,@account varchar(5)
,@userid varchar(50)

AS

--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@channel varchar(5)
--,@account varchar(5)
--,@userid varchar(50)

--SET @periode ='2025'
--SET @entity = 3
----SET @distributor =0
----SET @budgetparent=0
--SET @channel = 0
--SET @account = 0
--set @userid='kammidi'

BEGIN
	DECLARE @DCSubAccountId int
	set @DCSubAccountId=(SELECT id FROM tbmst_subaccount WHERE LongDesc='All Sub Account')

	IF @periode<='2024'
		BEGIN
			select distinct	  
			  p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,p.EntityUp
			  ,p.EntityAddress
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,pr.ActivityDesc	
			  ,IIF (isnull(pr.IsCancelLocked,0)=1,'Waiting for approval cancel request',pr.LastStatus) LastStatus
			  ,c.LongDesc Allocation 
			  ,pr.Investment
			  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
			  ,sa.Id SubAccountId
			  ,sa.LongDesc SubAccountDesc
			  ,p.id entityId
			  ,p.LongDesc entityName
			  ,pr.StartPromo 
			  ,pr.EndPromo 
			from 
			tbtrx_promo pr 
			inner join tbtrx_allocation c on pr.AllocationId=c.Id 
			inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
			inner join tbset_user_distributor md on md.DistributorId=m.DistributorId and md.userid=@userid
			left join tbmst_distributor d on m.DistributorId=d.Id
			left join tbmst_principal p on m.PrincipalId=p.Id	
			inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
			inner join tbset_user uo on uo.Id=usr.UserId
			inner join tbset_user uf on uf.Id=usr.UserId
			left join tbtrx_promo_subaccount psa ON pr.Id=psa.PromoId
			inner join tbmst_subaccount sa ON psa.SubAccountId=sa.Id
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(chn.Id as varchar) 
									from tbtrx_promo_channel a
									join tbmst_channel chn
									ON a.ChannelId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS ChannelId
							FROM tbtrx_promo_channel b 
					) channel
					on pr.Id = channel.PromoId
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(acc.Id as varchar) 
									from tbtrx_promo_subaccount a
									join tbmst_subaccount acc
									ON a.subaccountId=acc.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS AccountId
							FROM tbtrx_promo_subaccount b 
					) account
					on pr.Id = account.PromoId
			where m.Periode=@periode
			AND pr.CategoryShortDesc<>'DC'
			AND IIF(@channel='0','',channel.ChannelId) =IIF(@channel='0','',@channel)
			AND IIF(@account='0','',psa.SubAccountId) =IIF(@account='0','',@account)	
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)	
			AND isnull(IsCancel,0)=0 
			AND isnull(StatusApprovalCode,'TP1')='TP2'
			AND isnull(IsCancelLocked,0)=0
			AND isnull(IsClose,0)=0
			AND @userid=pr.createby
		--	ORDER BY pr.Id
			UNION ALL
			select distinct	  
			  p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,p.EntityUp
			  ,p.EntityAddress
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,pr.ActivityDesc	
			  ,IIF (isnull(pr.IsCancelLocked,0)=1,'Waiting for approval cancel request',pr.LastStatus) LastStatus
			  ,c.LongDesc Allocation 
			  ,pr.Investment
			  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
			  ,@DCSubAccountId SubAccountId
			  ,'All Sub Account' SubAccountDesc
			  ,p.id entityId
			  ,p.LongDesc entityName
			  ,pr.StartPromo 
			  ,pr.EndPromo 
			from 
			tbtrx_promo pr 
			inner join tbtrx_allocation c on pr.AllocationId=c.Id 
			inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
			inner join tbset_user_distributor md on md.DistributorId=m.DistributorId and md.userid=@userid
			left join tbmst_distributor d on m.DistributorId=d.Id
			left join tbmst_principal p on m.PrincipalId=p.Id	
			inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
			inner join tbset_user uo on uo.Id=usr.UserId
			inner join tbset_user uf on uf.Id=usr.UserId
			left join tbtrx_promo_subaccount psa ON pr.Id=psa.PromoId
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(chn.Id as varchar) 
									from tbtrx_promo_channel a
									join tbmst_channel chn
									ON a.ChannelId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS ChannelId
							FROM tbtrx_promo_channel b 
					) channel
					on pr.Id = channel.PromoId
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(acc.Id as varchar) 
									from tbtrx_promo_subaccount a
									join tbmst_subaccount acc
									ON a.subaccountId=acc.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS AccountId
							FROM tbtrx_promo_subaccount b 
					) account
					on pr.Id = account.PromoId
			where m.Periode=@periode
			AND pr.CategoryShortDesc='DC'
			AND IIF(@channel='0','',channel.ChannelId) =IIF(@channel='0','',@channel)
			AND IIF(@account='0','',psa.SubAccountId) =IIF(@account='0','',@account)	
			AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)	
			AND isnull(IsCancel,0)=0 
			AND isnull(StatusApprovalCode,'TP1')='TP2'
			AND isnull(IsCancelLocked,0)=0
			AND isnull(IsClose,0)=0
			AND @userid=pr.createby
		--	ORDER BY pr.Id
		END
	ELSE
		BEGIN
			select distinct	  
			  p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,p.EntityUp
			  ,p.EntityAddress
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,pr.ActivityDesc	
			  ,IIF (isnull(pr.IsCancelLocked,0)=1,'Waiting for approval cancel request',pr.LastStatus) LastStatus
			  --,c.LongDesc Allocation 
			  ,'---' Allocation 
			  ,pr.Investment
			  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
			  ,sa.Id SubAccountId
			  ,sa.LongDesc SubAccountDesc
			  ,p.id entityId
			  ,p.LongDesc entityName
			  ,pr.StartPromo 
			  ,pr.EndPromo 
			from 
			tbtrx_promo pr 
			inner join tbset_user_distributor md on md.DistributorId=pr.DistributorId and md.userid=@userid
			left join tbmst_distributor d on pr.DistributorId=d.Id
			left join tbmst_principal p on pr.EntityId=p.Id	
			--inner join tbset_user uo on uo.Id=usr.UserId
			--inner join tbset_user uf on uf.Id=usr.UserId
			left join tbtrx_promo_subaccount psa ON pr.Id=psa.PromoId
			inner join tbmst_subaccount sa ON psa.SubAccountId=sa.Id
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(chn.Id as varchar) 
									from tbtrx_promo_channel a
									join tbmst_channel chn
									ON a.ChannelId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS ChannelId
							FROM tbtrx_promo_channel b 
					) channel
					on pr.Id = channel.PromoId
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(acc.Id as varchar) 
									from tbtrx_promo_subaccount a
									join tbmst_subaccount acc
									ON a.subaccountId=acc.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS AccountId
							FROM tbtrx_promo_subaccount b 
					) account
					on pr.Id = account.PromoId
			where pr.Period=@periode
			AND pr.CategoryShortDesc<>'DC'
			AND IIF(@channel='0','',channel.ChannelId) =IIF(@channel='0','',@channel)
			AND IIF(@account='0','',psa.SubAccountId) =IIF(@account='0','',@account)	
			AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)	
			AND isnull(IsCancel,0)=0 
			AND isnull(StatusApprovalCode,'TP1')='TP2'
			AND isnull(IsCancelLocked,0)=0
			AND isnull(IsClose,0)=0
			AND @userid=pr.createby
		--	ORDER BY pr.Id
			UNION ALL
			select distinct	  
			  p.LongDesc Entity
			  ,d.LongDesc Distributor
			  ,p.LongDesc PrincipalDesc
			  ,p.EntityUp
			  ,p.EntityAddress
			  ,pr.Id PromoId
			  ,pr.RefId
			  ,pr.ActivityDesc	
			  ,IIF (isnull(pr.IsCancelLocked,0)=1,'Waiting for approval cancel request',pr.LastStatus) LastStatus
			  --,c.LongDesc Allocation 
			  ,'---' Allocation 
			  ,pr.Investment
			  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
			  ,@DCSubAccountId SubAccountId
			  ,'All Sub Account' SubAccountDesc
			  ,p.id entityId
			  ,p.LongDesc entityName
			  ,pr.StartPromo 
			  ,pr.EndPromo 
			from 
			tbtrx_promo pr 
			inner join tbset_user_distributor md on md.DistributorId=pr.DistributorId and md.userid=@userid
			left join tbmst_distributor d on pr.DistributorId=d.Id
			left join tbmst_principal p on pr.EntityId=p.Id	
			--inner join tbset_user uo on uo.Id=usr.UserId
			--inner join tbset_user uf on uf.Id=usr.UserId
			left join tbtrx_promo_subaccount psa ON pr.Id=psa.PromoId
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(chn.Id as varchar) 
									from tbtrx_promo_channel a
									join tbmst_channel chn
									ON a.ChannelId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS ChannelId
							FROM tbtrx_promo_channel b 
					) channel
					on pr.Id = channel.PromoId
			left join
					(
						select PromoId,
						STUFF(
								(select ',' + cast(acc.Id as varchar) 
									from tbtrx_promo_subaccount a
									join tbmst_subaccount acc
									ON a.subaccountId=acc.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS AccountId
							FROM tbtrx_promo_subaccount b 
					) account
					on pr.Id = account.PromoId
			where pr.Period=@periode
			AND pr.CategoryShortDesc='DC'
			AND IIF(@channel='0','',channel.ChannelId) =IIF(@channel='0','',@channel)
			AND IIF(@account='0','',psa.SubAccountId) =IIF(@account='0','',@account)	
			AND IIF(@entity=0,'',pr.entityid) =IIF(@entity=0,'',@entity)	
			AND isnull(IsCancel,0)=0 
			AND isnull(StatusApprovalCode,'TP1')='TP2'
			AND isnull(IsCancelLocked,0)=0
			AND isnull(IsClose,0)=0
			AND @userid=pr.createby
		END

END;
GO
