USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_cancel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_cancel]
@promoid int,
@userid varchar(50),
@cancelon datetime,
@notes varchar(255)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION

declare 
@promorefid varchar(50),
@subcategoryid int,
@allocationid int,
@laststatus varchar(5),
@investment numeric(19,0),
@messageout varchar(255)

--set @promorefid=(SELECT refid FROM tbtrx_promo where Id=@promoid)
--set @subcategoryid=(SELECT SubCategoryId FROM tbtrx_promo where Id=@promoid)

IF EXISTS
(
	SELECT TOP 1 Id 
	FROM tbtrx_debetnote 
	WHERE PromoId=@promoid AND isnull(IsCancel,0)=0 AND isnull(IsDNPromo,0)=1 and 
	LastStatus NOT IN ('ready_to_invoice','invoice','confirm_paid')
)
BEGIN
		SET @messageout='Cancel promo failed, you have Debet Note to be process '
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
END

SELECT 
@laststatus=StatusApprovalCode,
@allocationid=AllocationId,
@promorefid=refid,
@subcategoryid=SubCategoryId 
FROM tbtrx_promo where Id=@promoid


	UPDATE tbtrx_promo 
	SET IsCancel=1
	,CancelOn=@utcDate123
	,CancelBy=@userid
	,CancelNotes=@notes
	WHERE Id=@promoid


	/********************
	UPDATE BALANCE
	********************/
	IF @laststatus='TP2'
	BEGIN
		UPDATE tbtrx_allocation_balance
		SET UseAmount=UseAmount - @investment
		WHERE AllocationId=@allocationid
		and SubCategoryId=@subcategoryid
	END

	IF @laststatus='TP1'
	BEGIN
		UPDATE tbtrx_allocation_balance
		SET ReserveAmount=ReserveAmount - @investment
		WHERE AllocationId=@allocationid
		and SubCategoryId=@subcategoryid
	END

select 1 as bool,@promoid as [Id],@promorefid as [RefId], 200 as [statuscode]

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH


GO
