USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_historical_movement]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_historical_movement] --'2020',0,0,0,'0','scsh1'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = '0'
--SET @userid='scsh1'
AS
BEGIN

DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

SELECT * FROM 
(
	SELECT 
	--distinct 
	pr.RefId
	,his.Id
	,his.ParentId Promoid
	,his.ActivityDesc LongDesc
	,his.PrevTotInvest PrevAmount
	,his.TotInvest BudgetAmount
	,IIF(his.PrevTotInvest is null,'Created by ' + cast(his.CreateBy as varchar) + ' On ' + cast(his.CreateOn as varchar),'Modified by ' + cast(his.CreateBy as varchar) + ' On ' + cast(his.CreateOn as varchar)) [Notes]
	FROM 
	tbtrx_promo pr
	inner join tbtrx_allocation c on c.Id=pr.AllocationId
	inner join @temp t on c.Id=t.BudgetId
	inner join tbtrx_promo_request_approval his on pr.Id=his.ParentId
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	--left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join tbset_user uo on uo.Id=usr.UserId
	left join
			(
				select PromoId,
				STUFF(
						(select ',' + chn.Id 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH ('')),1,1,'') AS ChannelId
				,STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel
			on c.Id = channel.PromoId


	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',c.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	--AND IIF(@channel='0','',channel.ChannelId) =IIF(@channel='0','',@channel)
	AND IIF(@userid='0','',usr.UserId) =IIF(@userid='0','',@userid)	
	) XX
	ORDER BY PromoId,Id

END







GO
