

/****** Object:  StoredProcedure [dbo].[ip_promo_approval_list_recon_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_promo_approval_list_recon_p] --'2020',0,0,0,0,'hoka'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='cmhyper'
AS
BEGIN
    DECLARE @recordsFiltered int;
    drop table if exists #temp_approval_list_recon;
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(@order is null,'PromoId', @order)
	SET @start = @start * @length

DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	  --BudgetType varchar(3),
	  --BudgetName varchar(255),
	  --InitialBudgetAmount numeric(18,0),
	  --PromoCreated numeric(18,0),
	  --TotalSpending numeric(18,0),
	  --DnClaim numeric(18,0),
	  --DnPaid numeric(18,0),
	  --Available numeric(18,0)
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	select distinct	  
	  --p.LongDesc Entity
	  --,d.LongDesc Distributor
	  --,p.LongDesc PrincipalDesc
	  

	  pr.Id PromoId
	  ,r.Id RequestId
	  ,appr.RequestDate
	  ,pr.RefId
	  ,pr.ActivityDesc
	  , CASE WHEN
	  		datediff(d,appr.RequestDate,getdate()) < 0 THEN 0
	  	ELSE 
	  		datediff(d,appr.RequestDate,getdate())
	  	END AgingApproval
	  ,pr.StartPromo
	  ,pr.EndPromo	  
	  ,pr.CreateBy [Initiator] 
	  ,pr.CreateOn
	  ,pr.Investment
	  ,pr.NormalSales + pr.IncrSales TotalSales
	  ,pr.tscoding
	  ,conf.descstatus
	INTO #temp_approval_list_recon
	from @temp a
	inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
	INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and r.IsCancel=0 
	INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
    inner join tbtrx_allocation c on a.BudgetId=c.Id 
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join tbset_user uo on uo.Id=usr.UserId
	inner join tbset_user uf on uf.Id=usr.UserId
	left join
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	INNER JOIN (
		select * from 
		(
			select pr.id
			  ,case when description='precaution' and
				  CASE WHEN
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
				  ELSE 
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
				  END <=daysto then [description]
			when description='warning' and
				  CASE WHEN
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
				  ELSE 
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
				  END >=daysfrom and
				  CASE WHEN
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
				  ELSE 
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
				  END <=daysto then [description]
			when description='critical' and 
				  CASE WHEN
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) < 0 THEN 0 
				  ELSE 
					  DATEDIFF(day,appr.RequestDate,getdate()) 
						-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
						-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
						-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)
				  END >=daysfrom  then [description]
			end as descstatus
			from tbtrx_promo pr
			INNER JOIN tbtrx_promo_request_approval_recon r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
			INNER JOIN tbtrx_promo_approval_recon appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
			cross join tbset_config_reminder
		)a
		where descstatus is not null	
	) conf ON pr.id=conf.id
	where 
	IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
	AND isnull(pr.IsCancel,0)=0
	AND isnull(pr.IsCancelLocked,0)=0
	AND m.Periode < 2025
	ORDER BY pr.Id

    /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(promoid),0) FROM #temp_approval_list_recon
		WHERE 
			(PromoId like '%' + isnull(@txtSearch,'') + '%') OR 
			(RequestId like '%' + isnull(@txtSearch,'') + '%') OR
			(RequestDate like '%' + isnull(@txtSearch,'') + '%') OR
			(RefId like '%' + isnull(@txtSearch,'') + '%') OR
			(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
			(AgingApproval like '%' + isnull(@txtSearch,'') + '%') OR
			(StartPromo like '%' + isnull(@txtSearch,'') + '%') OR
			(EndPromo like '%' + isnull(@txtSearch,'') + '%') OR
			(Initiator like '%' + isnull(@txtSearch,'') + '%') OR
			(CreateOn like '%' + isnull(@txtSearch,'') + '%') OR
			(Investment like '%' + isnull(@txtSearch,'') + '%') OR
			(TotalSales like '%' + isnull(@txtSearch,'') + '%') OR
			(tsCoding like '%' + isnull(@txtSearch,'') + '%') OR
			(descStatus like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(promoid),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_approval_list_recon
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_approval_list_recon			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_approval_list_recon
				WHERE 
					(PromoId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(RequestId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(RequestDate like ''%' + isnull(@txtSearch,'') + '%'') OR
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(AgingApproval like ''%' + isnull(@txtSearch,'') + '%'') OR
					(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Initiator like ''%' + isnull(@txtSearch,'') + '%'') OR
					(CreateOn like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotalSales like ''%' + isnull(@txtSearch,'') + '%'') OR
					(tsCoding like ''%' + isnull(@txtSearch,'') + '%'') OR
					(descStatus like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_approval_list_recon
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_approval_list_recon
				WHERE 
					(PromoId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(RequestId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(RequestDate like ''%' + isnull(@txtSearch,'') + '%'') OR
					(RefId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(AgingApproval like ''%' + isnull(@txtSearch,'') + '%'') OR
					(StartPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EndPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Initiator like ''%' + isnull(@txtSearch,'') + '%'') OR
					(CreateOn like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Investment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(TotalSales like ''%' + isnull(@txtSearch,'') + '%'') OR
					(tsCoding like ''%' + isnull(@txtSearch,'') + '%'') OR
					(descStatus like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    drop table #temp_approval_list_recon
    
    /**********************
        end pagination
     **********************/	
END
GO
