

/****** Object:  StoredProcedure [dbo].[ip_menu_getlist]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_menu_getlist] as
begin
select  
x.id, x.username, x.email, x.department, x.jobtitle, x.contactinfo, x.distributorid, x.usergroupid, 
b.usergroupname, 
d.userlevel, 
e.levelname, 
a.menuid, 
iif(c.parent=0,c.name,'') as menu, iif(c.parent<>0,c.name,'') as submenu,
c.flag, 
c.crud, 
c.approve, 
d.create_rec, 
d.read_rec, 
d.update_rec, 
d.delete_rec ,
'x'
from tbset_user x
inner join tbset_userrights a on x.usergroupid=a.usergroupid
inner join tbset_usergroup b on a.usergroupid=b.usergroupid --and b.usergroupid=0
inner join  tbset_menu c on a.menuid=c.id
left join tbset_userlevel_access d on x.usergroupid=d.usergroupid and c.id=d.menuid
left join tbset_userlevel e on d.userlevel=e.userlevel
order by x.id, a.usergroupid, a.menuid
end
GO
