USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_data]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_promo_data] --9,''
	@Id				INT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE @Id INT
--SET @Id=3525

BEGIN
/*************************
Category selection
***************************/
DECLARE @category as varchar(5)
SET @category = (SELECT ShortDesc FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) 
	IF @category<>'DC' 
		BEGIN
		/*******************************/
			SELECT
				pr.refId
				,pr.id
				,pr.period
				,pr.distributorId
				,d.LongDesc distributorLongDesc
				,d.ShortDesc distributorSortDesc
				,pr.entityId
				,p.LongDesc entityLongDesc
				,p.ShortDesc entityShortDesc
				,pr.groupBrandId
				,mbg.LongDesc groupBrandLongDesc
				,pr.categoryId
				,ctg.LongDesc categoryLongDesc
				,ctg.ShortDesc categoryShortDesc
				,pr.subCategoryId
				,sctg.LongDesc subCategoryLongDesc
				,pr.activityId
				,ta.LongDesc as activityLongDesc
				,pr.subActivityId
				,ts.LongDesc as subActivityLongDesc

				,prc.channelId, prc.channelDesc
				,prsc.subChannelId, prsc.subChannelDesc
				,pra.accountId, pra.accountDesc
				,prsa.subAccountId, prsa.subAccountDesc
				
				,pr.activityDesc
				,pr.startPromo
				,pr.endPromo
				,pr.budgetMasterId 
				,'' budgetName
				, 0 remainingBudget
				, pc.baseline
				, pc.upLift
				, pc.totalSales
				, pc.salesContribution
				, pc.storesCoverage
				, pc.redemptionRate
				, CONVERT(DECIMAL(10, 2), pc.cr) cr
				--, pc.cr
				, pc.cost

				,pr.notes
				,pr.approvalNotes
				,pr.isClose
				,pr.initiator_notes
				,pr.investmentTypeId 
				,tit.refId investmentTypeRefId
				,tit.LongDesc investmentTypeDesc
				,pr.late_submission_day
				,pr.investment investmentBfrClose --issue #839
				,pr.lastStatus
				,pr.statusApprovalCode
				,pr.statusApproval
				,pr.isLocked
				,pr.createOn
				,pr.createBy
				,pr.createdEmail
				,pr.modifiedOn
				,pr.modifiedBy
				,pr.modifiedEmail
				,pr.modifReason
				,pr.IsDelete
				,pr.deleteOn
				,pr.deleteBy
				,pr.deleteEmail
				,isnull(pr.isCancel, 0) isCancel
				,pr.cancelOn
				,pr.cancelBy
				,pr.cancelByEmail
				,pr.isCancelLocked
				,isnull(pr.IsClose, 0) isClose
				,pr.closeOn
				,pr.closeBy
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendBackNotes
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendBackNotesDate
				,ts.subActivityTypeId
			FROM tbtrx_promo pr	
			INNER JOIN tbtrx_promo_calculator pc on pr.Id=pc.PromoId
			INNER JOIN tbmst_activity ta  on pr.ActivityId = ta.Id and pr.Id=@Id
			INNER JOIN tbmst_subactivity ts  on pr.SubActivityId = ts.id
			inner join tbmst_distributor d  on pr.DistributorId=d.Id
			inner join tbmst_principal p  on pr.EntityId=p.Id
			inner join tbset_user ucreateby ON pr.createby = ucreateby.id 
			inner join tbmst_category ctg  on ctg.Id=pr.CategoryId 
			inner join tbmst_subcategory sctg  on pr.SubCategoryId = sctg.id 
			INNER JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
			INNER JOIN (
				SELECT a.promoId, a.channelId, b.LongDesc channelDesc
					FROM tbtrx_promo_channel a
					INNER JOIN tbmst_channel b on a.ChannelId=b.Id AND PromoId=@Id
				)prc ON pr.Id=prc.promoid
			INNER JOIN (
				SELECT a.promoId, a.subChannelId, b.LongDesc subChannelDesc
					FROM tbtrx_promo_subchannel a
					INNER JOIN tbmst_subchannel b on a.SubChannelId=b.Id AND PromoId=@Id
				)prsc  ON pr.Id=prsc.promoid
			INNER JOIN (
				SELECT a.promoId, a.accountId, b.LongDesc accountDesc
					FROM tbtrx_promo_account a
					INNER JOIN tbmst_account b on a.AccountId=b.Id AND PromoId=@Id
				)pra ON pr.Id=pra.promoid
			INNER JOIN (
				SELECT a.promoId, a.subAccountId, b.LongDesc subAccountDesc
					FROM tbtrx_promo_subaccount a
					INNER JOIN tbmst_subaccount b on a.SubAccountId=b.Id AND PromoId=@Id
				)prsa  ON pr.Id=prsa.promoid
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 

				/*****************
				REGION
				*****************/
				SELECT a.regionId, b.LongDesc regionDesc
				FROM tbtrx_promo_region a
				INNER JOIN tbmst_region b on a.RegionId=b.Id AND PromoId=@Id

				--/*****************
				--CHANNEL
				--*****************/
				--SELECT a.channelId, b.LongDesc channelDesc
				--FROM tbtrx_promo_channel a
				--INNER JOIN tbmst_channel b on a.ChannelId=b.Id AND PromoId=@Id

				--/*****************
				--SUB CHANNEL
				--*****************/
				--SELECT a.subChannelId, b.LongDesc subChannelDesc
				--FROM tbtrx_promo_subchannel a
				--INNER JOIN tbmst_subchannel b on a.SubChannelId=b.Id AND PromoId=@Id

				--/*****************
				--ACCOUNT
				--*****************/
				--SELECT a.accountId, b.LongDesc accountDesc
				--FROM tbtrx_promo_account  a
				--INNER JOIN tbmst_account b on a.AccountId=b.Id AND PromoId=@Id

				--/*****************
				--SUB ACCOUNT
				--*****************/
				--SELECT a.subAccountId, b.LongDesc subAccountDesc
				--FROM tbtrx_promo_subaccount a
				--INNER JOIN tbmst_subaccount b on a.SubAccountId=b.Id AND PromoId=@Id

				--/*****************
				--GROUP BRAND
				--*****************/
				--SELECT a.groupBrandId, b.LongDesc groupBrandDesc
				--FROM tbtrx_promo a
				--INNER JOIN tbmst_brand_group b on a.groupBrandId=b.Id AND a.Id=@Id

				/*****************
				SKU
				*****************/
				SELECT a.productId skuId, b.LongDesc skuDesc
				FROM tbtrx_promo_product a
				INNER JOIN tbmst_product b on a.ProductId=b.Id AND PromoId=@Id
				
				--/*****************
				--ACTIVITY
				--*****************/
				--SELECT
				--	a.AllocationId AS ActivityAllocId
				--	,ctg.ActivityId AS id
				--	,ctg.ActivityDesc AS longDesc
				--	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
				--	INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
				--	and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
				--	WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null

				--/*****************
				--SUB ACTIVITY
				--*****************/
				--SELECT
				--	a.AllocationId AS SubActivityAllocId
				--	,ctg.SubActivityId AS id
				--	,ctg.SubActivityDesc AS longDesc
				--	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
				--	INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
				--	and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
				--	WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

				/*****************
				File attach
				*****************/
				SELECT promoId, [fileName], docLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId =@Id order by DocLink

				/***************
				MASTER STATUS APPROVAL
				***************/
				SELECT statusCode,statusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
				/***************
				MECHANISM
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					,baseline, uplift ,totalSales ,salesContribution ,storesCoverage ,redemptionRate, CONVERT(DECIMAL(10, 2), cr) cr ,cost
					FROM [dbo].tbtrx_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id
					WHERE promoid =@Id
		END

	ELSE
		BEGIN
			EXEC ip_promo_data_DC @id
		END

END
GO
