USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_create_invoice_void]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_create_invoice_void]
	@id	int,
	@reason varchar(255),
	@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
    BEGIN TRANSACTION
        -- SET NOCOUNT ON added to prevent extra result sets from
        -- interfering with SELECT statements.
        SET NOCOUNT ON;
        DECLARE @headerid int;
        UPDATE tbtrx_invoice_header SET void=1 WHERE id=@id;
		declare @createdemail varchar(50)
		SELECT @createdemail=email from tbset_user where id=@userid

        -- insert into table void
        INSERT INTO tbtrx_invoice_void_header(
            Id,
            [Desc],
            DPPAmount,
            PPN,
            InvoiceAmount,
            DistributorId,
            DistributorShortDesc,
            RefId,
            CreateBy,
            CreateOn,
            EntityId,
            EntityDesc,
            TaxLevel,
            void_reason
        )
        SELECT
            Id,
            [Desc],
            DPPAmount,
            PPN,
            InvoiceAmount,
            DistributorId,
            DistributorShortDesc,
            RefId,
            @userid,
            @utcDate123,
            EntityId,
            EntityDesc,
            TaxLevel,
            @reason
        FROM tbtrx_invoice_header WHERE Id=@id

    -- 	SET @headerid=(SELECT SCOPE_IDENTITY())

        INSERT INTO tbtrx_invoice_void_detail(
            ParentId,
            DNId,
            IsCancel
        )
        SELECT @id, DNId, IsCancel FROM tbtrx_invoice_detail where ParentId=@id

        UPDATE dn
        SET dn.LastStatus='ready_to_invoice'
        FROM tbtrx_debetnote dn
        INNER JOIN tbtrx_invoice_detail tid ON dn.id=tid.DNId
        WHERE tid.ParentId=@id

        UPDATE his
        SET validate_by_danone_by=@userid, validate_by_danone_on=@utcDate123
        FROM tbtrx_debetnote_his his
        INNER JOIN tbtrx_invoice_detail tid ON his.DNId=tid.DNId
        WHERE tid.ParentId=@id

        INSERT INTO tbtrx_debetnote_status_log(DNId, DNStatus, Notes, CreateBy, CreateOn, DPP, laststatus,createdemail)
        SELECT inv.DNId, 'ready_to_invoice', CONCAT('Invoice Void - ', @reason), @userid, @utcDate123,dn.dpp, dn.laststatus, @createdemail
        FROM tbtrx_invoice_detail inv
        inner join tbtrx_debetnote dn on inv.dnid=dn.id
        where inv.ParentId=@id and isnull(inv.iscancel,0)=0

        UPDATE tbtrx_invoice_detail SET IsCancel=1 WHERE ParentId=@id
        commit
end try
begin catch
    ROLLBACK
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
        @ErrorSeverity, -- Severity.
        @ErrorState -- State.
        );

end catch
GO
