

/****** Object:  StoredProcedure [dbo].[ip_select_sellpoint_byuser]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_select_sellpoint_byuser] --'habsby'
@userid			VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
DECLARE @profitcenter varchar(10)

SET @profitcenter=(SELECT ProfitCenter FROM tbset_map_user_profitcenter where UserId=@userid)

IF @profitcenter='1100'
BEGIN
	SELECT 
		Id,
		RefId,
		RegionId,
		LongDesc,
		isnull(ShortDesc,'') as ShortDesc,
		IsActive
	FROM [dbo].[tbmst_sellingpoint] slp WITH(NOLOCK)
	WHERE isnull(IsDelete,0)=0
END
ELSE
BEGIN
	SELECT 
		Id,
		RefId,
		RegionId,
		LongDesc,
		isnull(ShortDesc,'') as ShortDesc,
		IsActive
	FROM [dbo].[tbmst_sellingpoint] slp WITH(NOLOCK)
	WHERE isnull(IsDelete,0)=0 AND
	EXISTS(
		SELECT Refid FROM tbmst_sellingpoint a
		INNER JOIN tbset_map_user_profitcenter b on a.ProfitCenter=b.ProfitCenter
		WHERE b.UserId=@userid and a.RefId=slp.RefId
	)
END		

END






GO
