USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_promo_closure]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_promo_closure]
@promo CharAttributeType READONLY,
@userid varchar(50),
@useremail varchar(50)
AS
BEGIN 
	insert into mytmp (f1) select * from @promo
    declare @temp as TABLE
	(
		id varchar(50),
		doc varchar(255),
	    [status] varchar(255)
	)    

	INSERT INTO @temp
    SELECT a.Id,'Promo not exists', 'failed' FROM @promo a
    WHERE a.Id NOT IN (SELECT tp.refid  FROM tbtrx_promo tp)

	INSERT INTO @temp
    SELECT a.Id,'Promo is close', 'failed'  FROM @promo a
    WHERE a.Id IN (SELECT tp.refid FROM tbtrx_promo tp WHERE isnull(tp.isclose, 0) = 1 )
    
	INSERT INTO @temp
	SELECT a.Id,'You still have DN to be paid', 'failed'
	FROM @promo t INNER JOIN
	tbtrx_promo A ON t.Id=A.refId
	WHERE EXISTS (
		SELECT PromoId
		FROM tbtrx_debetnote dn with (nolock)
		WHERE dn.PromoId=A.Id
		and isnull(dn.IsCancel,0)=0
		and dn.LastStatus <> 'confirm_paid'
	)
    
    DECLARE @promo_list ArrayintType
    INSERT INTO @promo_list
    SELECT tp.id FROM tbtrx_promo tp
    INNER JOIN @promo b ON tp.refid=b.Id
    WHERE tp.refid NOT IN (SELECT id FROM @temp)
    
	exec ip_promo_closure @promoid=@promo_list, @userid = @userid	
	
--    IF EXISTS(SELECT * FROM @temp)
--    BEGIN
--        select id, doc, [status] from @temp
--        
--        RETURN
--    END

END
GO
