

/****** Object:  StoredProcedure [dbo].[ip_debetnote_report_outstanding]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_report_outstanding]
 @period varchar(4),
 @distributorId ArrayIntType READONLY,
 @profile varchar(50),
 @start int,
 @length int,
 @txtSearch varchar(255)

 , @order varchar(255) = 'RefId'
 , @sort varchar(4) = 'asc'

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE***************************/ 
-- DECLARE
-- @period varchar(4),
-- @distributorId ArrayIntType,
-- @profile varchar(50),

-- @start int,
-- @length int,
-- @filter varchar(255),
-- @txtSearch varchar(255)

--SET @period ='2025'
--SET @profile ='xvamain'

--SET @start =0
--SET @length =-1
--SET @filter =''
--SET @txtSearch = null

--INSERT INTO @distributorId VALUES(2)
/***************************TESTING PURPOSE*/ 

BEGIN

	DROP TABLE IF EXISTS #temp_result;
	DROP TABLE IF EXISTS #temp_promo;
	--SET @start = @start * @length

	DECLARE 
		@profitcenter varchar(10)
		,@distributorId_filter ArrayIntType

	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@profile)
	
	INSERT INTO @distributorId_filter (keyid)	SELECT keyid from @distributorId
		
	IF (SELECT COUNT(*) FROM @distributorId_filter where isnull(keyid,0)<>0)=0 
	BEGIN
		DELETE FROM @distributorId_filter
		INSERT INTO @distributorId_filter	(keyid) SELECT id FROM tbmst_distributor WHERE isnull(IsDeleted, 0) = 0
	END
		

	SELECT pr.Id
		, pr.RefId 
		, pr.TsCoding
		,pr.StartPromo
		,pr.EndPromo
		,pr.ActivityDesc
		, pr.CreateBy 
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar)
		, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(pr.ApproverName as varchar) ))) ApprovalStatus
		,ISNULL(pr.isClose, 0) isClose 
		,ISNULL(pr.Investment,0) Investment
		,ISNULL(pr.InvestmentForDN,0) InvestmentForDN 
		,tst.longDesc subActivityType
		,pr.categoryId
		,mc.shortDesc categoryShortDesc
		,mc.longDesc  categoryLongDesc
		,pr.subactivityid
		,ts.longdesc subactivitydesc		
	INTO #temp_promo
	FROM tbtrx_promo pr WITH (NOLOCK)
	INNER JOIN tbmst_category mc WITH (NOLOCK) ON pr.categoryid = mc.id
	INNER JOIN tbmst_subactivity ts WITH (NOLOCK) ON pr.SubActivityId = ts.id 
	INNER JOIN tbmst_subactivity_type tst WITH (NOLOCK) ON ts.SubActivityTypeId  = tst.Id 
	WHERE YEAR(pr.startPromo) = @period

	SELECT
		a.distributorId
		,n.LongDesc distributorLongDesc
		,a.id
		,a.refId
		,ISNULL(a.PromoId,0) promoId
		,ISNULL(b.RefId,'') promoRefId
		,a.activityDesc
		,isnull(a.dpp, 0) dpp
		,a.lastStatus
		, FORMAT (m.send_to_danone_on, 'dd-MM-yyyy') sendToDanoneOn
	INTO #temp_result
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
	INNER JOIN(
	    SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@profile
	) dis on a.DistributorId=dis.DistributorId
	INNER JOIN @distributorId_filter disf ON a.DistributorId = disf.keyid
	LEFT JOIN #temp_promo b WITH (NOLOCK) ON a.PromoId=b.Id		
	LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id
	WHERE a.LastStatus IN (
		'send_to_danone'
		, 'received_by_danone'
		, 'validate_by_finance'
		, 'validate_by_sales'
		, 'validate_by_danone'
		, 'ready_to_invoice'
		, 'invoice'
	)
	AND YEAR(a.createon)=@period				

	/**********************
		start pagination
	**********************/
	DECLARE @sql NVARCHAR(MAX);
	SET @sort = IIF(ISNULL(@sort,'')='','asc', @sort)
	SET @order = IIF(ISNULL(@order,'')='','refId', @order)
	SET @start = @start * @length

	IF @length = -1
	BEGIN
	SET @sql = N'
		SELECT * FROM #temp_result
		WHERE (
			refId LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			OR distributorLongDesc LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			OR promoRefId LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			OR activityDesc LIKE ''%' + ISNULL(@txtSearch, '') + '%''
		)
		ORDER BY ' + @order + ' ' + @sort + ';'
	END
	ELSE
	BEGIN
		SET @sql = N'
			SELECT * FROM #temp_result
			WHERE (
			refId LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			OR distributorLongDesc LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			OR promoRefId LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			OR activityDesc LIKE ''%' + ISNULL(@txtSearch, '') + '%''
			)
			ORDER BY ' + @order + ' ' + @sort + ' 
			OFFSET ' + CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY;'
	END
	
	EXEC sp_executesql @sql;
	DECLARE @recordsFiltered int;
	SELECT @recordsFiltered= ISNULL(COUNT(id),0) FROM #temp_result;
	SELECT ISNULL(COUNT(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
	/**********************
		end pagination
	**********************/

    DROP TABLE IF EXISTS #temp_result;
	DROP TABLE IF EXISTS #temp_promo;
	DROP TABLE IF EXISTS #temp_account
END;

GO
