USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_update_region]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_update_region]
	-- Add the parameters for the stored procedure here
	@ID			VARCHAR(10),
	@REFID		VARCHAR(36),
	@LONGDESC	VARCHAR(50),
	@SHORTDESC	VARCHAR(10),
	@ISACTIVE	BIT,
	--@ISDELETE	BIT,
	@USERID		VARCHAR(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT TOP 1 RefId FROM [dbo].[tbmst_region] WITH(NOLOCK) WHERE RefId=@REFID)
	BEGIN
		DECLARE @ERROR VARCHAR(100)='DATA <' + @REFID + '> NOT FOUND.'
		RAISERROR (@ERROR, 18, 1)
		RETURN
	END

	UPDATE [dbo].[tbmst_region]
	SET 
		--RefId=@REFID,
		LongDesc=@LONGDESC,
		ShortDesc=@SHORTDESC,
		IsActive=@ISACTIVE,
		ModifiedOn=GETDATE(),
		ModifiedBy=@USERID
		--IsDelete=@ISDELETE
	WHERE Id=@ID
		AND RefId=@REFID

END
GO
