

/****** Object:  StoredProcedure [dbo].[ip_promo_update_recon_DC]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_update_recon_DC]
@Promo PromoFormType READONLY
,@Region ArrayIntType READONLY
,@Sku ArrayIntType READONLY
,@attachment PromoAttachmentType READONLY
,@Mechanism PromoMechanismType READONLY
--,@messageout varchar(255) OUT

AS

SET NOCOUNT ON
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
DECLARE @emailinactive int, @emailapprover varchar(255), @StatusApprovalCode varchar(255), @StatusApprovalCodeRecon varchar(255), @isSendEmail bit
					
SET @isSendEmail=0

/*TESTING PURPOSE*********************************************/
--	DECLARE
--		@Promo PromoFormType 
--		,@Region ArrayIntType 
--		,@Sku ArrayIntType 
--		,@attachment PromoAttachmentType 
--		,@Mechanism PromoMechanismType 

--insert into @Promo values(3676,2025,2,2,0,22,0,0,1504,24,N'BDI Jan 2025','2025-01-01 00:00:00','2025-12-30 00:00:00',2,0,0,0,1,0,0,78000,0,0,0,100,78000,NULL,N'','2024-11-12 18:44:14.7362204',N'kamsat',N'',N'edy.jumantoro@xvautomation.com',N'.')
--insert into @Mechanism values(0,N'DC running Rate',N'',0,0,0,78000,0,0,0,100,78000)

/*********************************************TESTING PURPOSE*/

	DECLARE @categoryShortDesc varchar(20)
	DECLARE @ChnCount int

	SELECT @categoryShortDesc=c.ShortDesc from @Promo a
	INNER JOIN tbmst_category c on a.CategoryId=c.Id	
	SET @ChnCount=1

IF @categoryShortDesc = 'DC'
BEGIN
	BEGIN
			BEGIN TRY
			BEGIN TRANSACTION

				DECLARE
					@rowcount int,
					@PromoId int,
					@ParentId_his int,
					@p_reqid int,

					@Periode varchar(4),
					@EntityId int,
					@DistributorId int,
					@ActivityId int, --#876
					@CategoryId int,
					@SubCategoryId int,
					@SubActivityId int,
					@SubActivityType int,
					@ChannelId int,
					@SubChannelId int,
					@AccountId int,
					@SubAccountId int,
					@Initiator varchar(50),

					@GroupBrandId int,
					@Baseline numeric (19,0), 
					@UpLift float, 
					@TotalSales numeric (19,0), 
					@SalesContribution float, 
					@StoreCoverage float, 
					@RedemptionRate float, 
					@CR float, 
					@Cost numeric (19,0),
					@roi numeric(19,2),

					@PrevBaseline numeric (19,0), 
					@PrevUpLift numeric (19,0), 
					@PrevTotalSales numeric (19,0), 
					@PrevSalesContribution numeric (19,0), 
					@PrevStoresCoverage numeric (19,0), 
					@PrevRedemptionRate numeric (19,0), 
					@PrevCR numeric (19,2), 
					@PrevCost numeric (19,0),
					@PrevRoi numeric(19,2),
					@PrevNormalSales numeric (19,2), 
					@PrevIncrSales numeric (19,2), 
					@PrevTotSales numeric (19,2), 
					@PrevTotInvest numeric (19,2), 

					@StartPromo date,
					@EndPromo date,

					@matrixid int,
					@messageout varchar(255),
					@RequestId int,
					@budgetamount numeric(19,2),
					@remainingamount numeric(19,2),
					@promorefid varchar(50),

					@statusapproval VARCHAR(255),
					@statusapprovalrecon VARCHAR(255),

					@userid varchar(50),
					@SKP_Draft int,

					@sumDPPDN numeric(19,2)
					,@userApprover varchar(50)
					,@investmentTypeId int
					,@late_submission_day int
					,@useremail varchar(100)
					,@modifreason varchar(255)
					,@promoIsClose int
					,@promoIsCancel int

					,@ActivityDesc varchar(255)
					,@initiatorNotesOld varchar(255)
					,@initiatorNotesNew varchar(255)
					,@mechanismOld nvarchar(max)
					,@mechanismNew nvarchar(max)
		
					,@channelOld int
					,@channelNew int
					,@subChannelOld int
					,@subChannelNew int
					,@accountOld int
					,@accountNew int
					,@subAccountOld int
					,@subAccountNew int

					,@regionOld nvarchar(max)
					,@regionNew nvarchar(max)
					,@brandOld nvarchar(max)
					,@brandNew nvarchar(max)
					,@skuOld nvarchar(max)
					,@skuNew nvarchar(max)		

					,@sttChannel int
					,@sttSubChannel int
					,@sttAccount int
					,@sttSubAccount int
					,@sttRegion int
					,@sttBrand int
					,@sttSKU int
					,@sttMechanism int
					,@sttInitiatorNotes int

					,@sttDistributor int
					,@distributorOld int
					,@distributorNew int
					,@sttSubCategory int
					,@subCategoryOld varchar(255)
					,@sttBudgetSources int
					,@budgetOld varchar(255)
					,@sttPromoPlan int
					,@promoPlanOld varchar(255)
					,@sttAttachment int
					,@attachmentOld nvarchar(MAX)
					,@attachmentNew nvarchar(MAX)
					,@errFileName nvarchar(max)
					,@errCntFileName int
					,@oldInvest FLOAT
					
					,@mainActivity varchar(100)
				/*ATTACHMENT VALIDATE MORE THAN 1 FILE HAVE SAME FILENAME*/
				SELECT TOP 1 @errFileName = isnull(filename, ''), @errCntFileName = isnull(COUNT(filename), 0) 
					FROM @attachment
					GROUP BY filename
					HAVING COUNT(filename) > 1
					
				IF @errFileName <> ''
						BEGIN
							SET @messageout='More than one attachment with same filename (' + @errFileName + ') are not allowed'		
							RAISERROR (@messageout, -- Message text.
								   16, -- Severity.
								   1 -- State.
								   );
						END

				/*GET MAJOR CHANGES CONFIG*/
				SELECT TOP 1
						@sttChannel = Channel
						,@sttSubChannel = SubChannel
						,@sttAccount = Account
						,@sttSubAccount = SubAccount
						,@sttRegion = Region
						,@sttBrand = Brand
						,@sttSKU = SKU
						,@sttMechanism = Mechanism
						,@sttInitiatorNotes = initiatorNotes
						-- new item
						,@sttDistributor = Distributor
						,@sttSubCategory = SubCategory
						,@sttAttachment = Attachment
					FROM tbset_major_changes
					WHERE CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='DC')
		
				SET @channelNew = (SELECT channelid FROM @Promo)
				SET @subChannelNew = (SELECT subchannelid FROM @Promo)
				SET @accountNew = (SELECT accountid FROM @Promo)
				SET @subAccountNew = (SELECT subaccountid FROM @Promo)
				SET @regionNew = (SELECT string_agg(keyid,', ') WITHIN GROUP (ORDER BY cast(keyId as int) ) FROM @Region)
				SET @brandNew = (SELECT GroupBrandId FROM @Promo)
				SET @skuNew = (SELECT string_agg(keyId,', ') WITHIN GROUP (ORDER BY cast(keyId as int) ) FROM @Sku)
				SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM @attachment)	
					
				--SET @distributorOld = 0
				--SET @distributorNew = 0

				--IF (@sttDistributor = 1)
				--	BEGIN
				--		SET @distributorNew = (SELECT DistributorId  
				--					from tbtrx_budgetmaster budget
				--					WHERE budget.Id = (SELECT BudgetMasterId FROM @Promo))
				--		SET @distributorOld = (SELECT DistributorId  
				--					from tbtrx_budgetmaster budget
				--					LEFT JOIN tbtrx_promo prm1 ON prm1.BudgetMasterId = budget.id
				--					WHERE prm1.Id = (SELECT PromoId FROM @Promo))
				--	END
	    
				SET @late_submission_day=(SELECT daysfrom FROM tbset_config_reminder WHERE id = 502)

				DECLARE 
					@entitiydesc varchar(255)
					, @distributordesc varchar(255)
					, @subactivitytypedesc varchar(255)
					, @channeldesc varchar(255)
					, @subchanneldesc varchar(255)

				SELECT @entitiydesc=a.Longdesc from tbmst_principal a					INNER JOIN @Promo t ON a.Id=t.EntityId
				SELECT @distributordesc=a.Longdesc from tbmst_distributor a				INNER JOIN @Promo t ON a.Id=t.DistributorId
				SELECT @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a	INNER JOIN @Promo t ON a.Id=t.SubActivityTypeId
				SELECT @channeldesc=a.Longdesc from tbmst_channel a						INNER JOIN @Promo t ON a.Id=t.ChannelId
				SELECT @subchanneldesc=a.Longdesc from tbmst_subchannel a				INNER JOIN @Promo t ON a.Id=t.SubChannelId
	
				SELECT @mainActivity=C.longDesc from @Promo a
					INNER JOIN tbmst_main_activity_dtl b on a.SubActivityId=b.subactivityid
					INNER JOIN tbmst_main_activity c ON b.mainactivityid = c.id

				SELECT TOP 1
						@SubCategoryId=vwac.SubCategoryId
						,@CategoryId=t.CategoryId
						,@PromoId=t.PromoId
						,@Periode=t.Periode
						,@EntityId=t.EntityId
						,@DistributorId=t.DistributorId
						,@SubActivityType=st.Id
						,@ChannelId=t.ChannelId
						,@SubChannelId=t.SubChannelId
						,@AccountId=t.AccountId
						,@SubAccountId=t.SubAccountId
						,@Initiator=t.CreateBy
						,@Startpromo=t.StartPromo
						,@EndPromo=t.EndPromo
						,@ActivityId = vwac.ActivityId
						--,@budgetamount=alc.BudgetAmount
						,@remainingamount=0
						--,@roi=t.roi
						,@cr=t.cr
						,@userid=t.CreateBy
						,@ActivityId = t.ActivityId  --#876
						,@SubActivityId = t.SubActivityId
						,@investmentTypeId = tmit.InvestmentTypeId
						,@useremail = t.CreatedEmail
						,@modifreason = t.modifReason
						,@initiatorNotesNew = t.initiator_notes
						,@Baseline = t.Baseline
						,@UpLift  = t.UpLift
						,@TotalSales  = t.TotalSales
						,@SalesContribution  = t.SalesContribution
						,@StoreCoverage  = t.StoresCoverage
						,@RedemptionRate  = t.RedemptionRate
						,@CR  = t.CR
						,@Cost=t.Cost
						,@GroupBrandId=t.GroupBrandId
					FROM @Promo t
					INNER JOIN vw_activity vwac ON t.SubActivityId=vwac.SubActivityId
					INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
					INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
					LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId

			/*VALIDATE MATRIX APPROVAL*/
	
				SELECT TOP 1
					@matrixid=tmpa.Id 
					FROM tbset_matrix_promo_approval tmpa
						INNER JOIN tbmst_category c on tmpa.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@EntityId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						--AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @cost >= MinInvestment and @Cost <= MaxInvestment
						AND c.ShortDesc='DC'

					IF @matrixid IS NULL
						BEGIN
							SET @messageout='Matrix Approval not found for :<br> Entity: ' +  cast(ISNULL(@entitiydesc,'') as varchar) + ', Distributor: ' + cast(ISNULL(@distributordesc,'') as varchar) + ', Category: ' + cast(ISNULL(@categoryShortDesc,'') as varchar)  + ', Sub Activity Type: ' + cast(ISNULL(@subactivitytypedesc,'') as varchar)+ ', Channel: ' + cast(ISNULL(@channeldesc,'') as varchar) + ', Initiator: ' + cast(ISNULL(@Initiator,'') as varchar)		
							RAISERROR (@messageout, -- Message text.
								   16, -- Severity.
								   1 -- State.
								   );
						END

				SET @promorefid=(SELECT RefId from tbtrx_promo where Id=@PromoId)
				SELECT @mechanismNew = string_agg(concat(a.mechanism, ' ', a.notes),'; ')
							from @Mechanism a
		
				SELECT @attachmentOld = string_agg(tpd.FileName,', ') WITHIN GROUP (ORDER BY doclink )
								FROM tbhis_promo_doclink tpd 
								where ParentId =
									(select max(ParentId)
									from tbhis_promo where id = @PromoId)
								GROUP BY tpd.PromoId 
					
				SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM tbtrx_promo_doclink where promoid = @PromoId)	
				
				SELECT
								@oldinvest=pr.Investment
								--,@PrevTotinvest=pr.Investment
								,@PrevCost = pc.Cost
								,@promorefid=pr.refid
								--,@PrevRoi=pr.Roi
								--,@PrevCostRatio=pr.CostRatio
								--,@PrevIncrSales=pr.IncrSales
								--,@PrevNormalSales=pr.NormalSales
								--,@PrevTotSales=pr.IncrSales + pr.NormalSales
								, @PrevCR = pc.CR
								, @PrevBaseline = pc.Baseline
								,@promoIsClose=pr.IsClose
								,@promoIsCancel=pr.IsCancel
								,@mechanismOld = mechanism.mechanism
								,@initiatorNotesOld = pr.initiator_notes
								,@channelOld = tpc.channelid
								--,@subChannelOld = tps.subchannelid
								--,@accountOld = tpa.accountid
								--,@subAccountOld = tps2.subaccountid
								--,@regionOld = region.region
								,@brandOld = pr.GroupBrandId
								--,@skuOld = sku.sku		
								--,@AllocationId_old = pr.allocationid
		--						,@attachmentOld = att.fileAttachment
							FROM tbtrx_promo pr 
							INNER JOIN tbtrx_promo_calculator pc on pr.Id=pc.PromoId
							INNER JOIN (
								select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
								   from tbtrx_promo_mechanism a 
    								GROUP BY a.PromoId		
								) mechanism ON pr.id=mechanism.PromoId
							INNER JOIN (
								SELECT PromoId,  string_agg(channelId,', ') channelid FROM tbtrx_promo_channel  
								GROUP BY PromoId
								) tpc ON pr.id=tpc.PromoId 
							--INNER JOIN (
							--	SELECT PromoId,  string_agg(subchannelId,', ') subchannelid FROM tbtrx_promo_subchannel  
							--	GROUP BY PromoId
							--	) tps ON pr.id= tps.PromoId 
							--INNER JOIN (
							--	SELECT PromoId,  string_agg(accountId,', ') accountid FROM tbtrx_promo_account  
							--	GROUP BY PromoId
							--	) tpa ON pr.id=tpa.PromoId
							--INNER JOIN (
							--	SELECT PromoId,  string_agg(subaccountId,', ') subaccountid FROM tbtrx_promo_subaccount  
							--	GROUP BY PromoId
							--	) tps2 ON pr.id=tps2.PromoId 
							--INNER JOIN (
							--	SELECT PromoId, string_agg(a.regionid,', ') region
							--		FROM tbtrx_promo_region a 
							--		GROUP BY a.PromoId
							--	) region ON pr.id=region.PromoId
							----INNER JOIN (
							----	SELECT PromoId, string_agg(a.brandid,', ') brand
							----		FROM tbtrx_promo_brand a 
							----		GROUP BY a.PromoId	
							----	) brand ON pr.id=brand.PromoId
							--INNER JOIN (
							--	SELECT PromoId, string_agg(a.productid,', ') sku
							--		FROM tbtrx_promo_product a 
							--		GROUP BY a.PromoId
							--	) sku ON pr.id=sku.PromoId	
							LEFT JOIN (
								SELECT Promoid, string_agg(a.FileName,', ') fileAttachment
									FROM tbtrx_promo_doclink a 
									GROUP BY a.PromoId
								) att ON pr.id=att.PromoId		
							WHERE pr.Id=@PromoId

			/*SET MAJOR CHANGES STATUS*/

				DECLARE @majorchanges bit
				SET @majorchanges = IIF(
						(@channelOld <> @channelNew AND @sttChannel = 1) 
						OR (@brandOld <> @brandNew AND @sttBrand = 1) 
						OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
						OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
						OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
						OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)
						,1,0)
				
				IF @majorchanges=0
				BEGIN
					
					IF (select COUNT(*) from @Promo a 
							inner join tbtrx_promo b on a.PromoId = b.Id
							WHERE a.StartPromo <> b.StartPromo OR a.EndPromo <> b.EndPromo OR a.Cost <> b.Investment
							)<>0
						BEGIN
							SET @majorchanges=1
						END
				END


			/*VALIDATE CLOSE OR CANCEL STATUS*/
				IF @promoIsClose=1 or @promoIsCancel=1
					BEGIN
						RAISERROR ('Can not Edit this Promo, Promo already closed or cancelled', -- Message text.
								16, -- Severity.
								1 -- State.
								);
					END

				/*CHECK BUDGET*/
				DECLARE @budgetExist int
					,@isNotOverBudget int

				SELECT @budgetExist = dbo.CheckExistingBudget (
						@periode 
					, @categoryid 
					, (SELECT subCategoryId FROM vw_activity_active WHERE SubActivityId=@subactivityid)
					, @channelid 
					, ISNULL(@subchannelid, 0)
					, ISNULL(@accountid, 0)
					, ISNULL(@subaccountid, 0)
					, @distributorId 
					, @groupbrandid 
					, @subactivitytype 
					, @activityid 
					, @subactivityid 
				)

				/*CHECK REMAINING BUDGET - FOR CONTRACTUAL ONLY*/
				IF @mainActivity='Running Rate' 
				BEGIN
					IF @budgetExist = 0
					BEGIN
						SET @messageout='Running Rate Budget not found'		
						RAISERROR (@messageout, -- Message text.
								16, -- Severity.
								1 -- State.
								);

					END
					ELSE
					BEGIN
						SELECT @isNotOverBudget = dbo.CheckRemainingBudget (
								@PromoId ,
								@Cost ,
									@periode 
								, @categoryid 
								, @subcategoryid 
								, @channelid 
								, ISNULL(@subchannelid, 0) 
								, ISNULL(@accountid, 0) 
								, ISNULL(@subaccountid, 0)
								, @distributorId 
								, @groupbrandid 
								, @subactivitytype 
								, @activityid 
								, @subactivityid 
								) 
						IF @isNotOverBudget=0 
						BEGIN
							RAISERROR ('Cost is higher than [PS*DA Rate]', -- Message text.
							16, -- Severity.
							1 -- State.
							);
						END

					END
				END
				ELSE
				BEGIN
					IF @budgetExist > 0
					BEGIN								
						IF @Cost > @PrevCost
						BEGIN										
							SELECT @isNotOverBudget = dbo.CheckRemainingBudget (
									@PromoId ,
									@Cost ,
										@periode 
									, @categoryid 
									, (SELECT subCategoryId FROM vw_activity_active WHERE SubActivityId=@subactivityid)
									, @channelid 
									, ISNULL(@subchannelid, 0) 
									, ISNULL(@accountid, 0) 
									, ISNULL(@subaccountid, 0)
									, @distributorId 
									, @groupbrandid 
									, @subactivitytype 
									, @activityid 
									, @subactivityid 
									) 

							IF @isNotOverBudget=0 
							BEGIN
								RAISERROR ('Cost is higher than [PS*DA Rate]', -- Message text.
								16, -- Severity.
								1 -- State.
								);
							END
						END
					END

				END
						IF @Cost<3000 
							BEGIN
									RAISERROR ('Cost can not less than 3000', -- Message text.
									16, -- Severity.
									1 -- State.
									);
							END


			/*VALIDATE REMAINING BUDGET*/
				--DECLARE @isNotOverBudget int
				--SELECT @isNotOverBudget = dbo.CheckRemainingBudget (
				--		@PromoId ,
				--		@Cost ,
				--		 @periode 
				--		, @categoryid 
				--		, @subcategoryid 
				--		, @channelid 
				--		, @subchannelid 
				--		, @accountid 
				--		, @subaccountid 
				--		, @distributorId 
				--		, @groupbrandid 
				--		, @subactivitytype 
				--		, @activityid 
				--		, @subactivityid 
				--		) 
				--IF @isNotOverBudget=0 
				--	BEGIN
				--		RAISERROR ('Cost is higher than [PS*DA Rate]', -- Message text.
				--				16, -- Severity.
				--				1 -- State.
				--				);
				--	END

			/*VALIDATE INVESTMENT vs DN CLAIM*/
				SET @sumDPPDN = (select sum(dpp) from dbo.tbtrx_debetnote where isnull(iscancel, 0)= 0 and promoid=@PromoId)
				IF @sumDPPDN>0 AND @sumDPPDN > @Cost
					BEGIN
						   RAISERROR ('Total Investment cannot be less than Total Debetnote', -- Message text.
						   16, -- Severity.
						   1 -- State.
						   );
					END


			/*UPDATE ATTRIBUTES*/
			/* DELETE INSERT ATTRIBUTE */
				UPDATE tbtrx_promo_channel SET ChannelId = @ChannelId WHERE PromoId = @PromoId
				DELETE FROM tbtrx_promo_mechanism WHERE PromoId=@PromoId
				INSERT INTO tbtrx_promo_mechanism(PromoId, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR,Cost)
							SELECT @PromoId, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR,Cost FROM @Mechanism

						/* UPDATE DATA DI TABLE PROMO */
				UPDATE A
							SET
								A.DistributorId=B.DistributorId
								,A.SubCategoryId=C.SubCategoryId
								,A.ActivityId=C.ActivityId
								,A.SubActivityId=B.SubActivityId
								,A.ActivityDesc=B.ActivityDesc
								,A.StartPromo=B.StartPromo
								,A.EndPromo=B.EndPromo
								,A.Investment=@Cost
								,A.investmentForDN=@Cost
								,A.Notes=ISNULL(B.Notes,'')
								,A.ModifiedBy=@initiator
								,A.ModifiedOn=@utcDate123
								,A.ModifiedEmail = @useremail
								,A.initiator_notes=B.initiator_notes
								,A.statusapproval= (CASE A.statusapprovalcode WHEN 'TP0' THEN 'Draft' WHEN 'TP1' THEN 'Waiting For Approval' ELSE 'Approved' END)
								,A.investmentTypeId = @investmentTypeId
								,A.matrixapprovalid = @matrixid
								,A.ModifReason = B.ModifReason
								,A.AllocationId = dbo.getBudgetId(@PromoId)
								,A.GroupBrandId = @GroupBrandId --ISSUE DB #3
								,A.EntityId = @EntityId --ISSUE DB #3
							FROM tbtrx_promo A
							INNER JOIN @Promo B on A.Id=B.PromoId
							INNER JOIN vw_activity C ON A.SubActivityId=C.SubActivityId
							WHERE A.Id=@PromoId
				
				UPDATE tbtrx_promo_calculator
					SET Baseline=@Baseline
					, Uplift=@UpLift
					, TotalSales=@TotalSales
					, SalesContribution=@SalesContribution
					, StoresCoverage=@StoreCoverage
					, RedemptionRate=@RedemptionRate
					, CR=@CR
					, Cost=@Cost
					WHERE PromoId=@PromoId


				SET @statusapproval=(SELECT StatusApprovalCode from tbtrx_promo where Id=@PromoId)
				SET @statusapprovalrecon=(SELECT StatusApprovalCoderecon from tbtrx_promo where Id=@PromoId)

				IF @statusapproval<>'TP0'
					BEGIN
						IF @statusapproval='TP2' AND @statusapprovalrecon IS NULL --JIKA PROMO SUDAH BERSTATUS APPROVE
							BEGIN
								/******************************************
								CEK MAJOR CHANGES
								*******************************************/
								IF @majorchanges=1
									BEGIN
										SET @isSendEmail=1
--SELECT GETDATE(),@isSendEmail,1
										UPDATE [tbtrx_promo_request_approval_recon]
											SET IsCancel=1
											WHERE ParentId=@PromoId
											AND ISNULL(IsCancel,0)=0

										/*BUAT REQUEST APPROVAL BARU*/

										INSERT INTO [dbo].[tbtrx_promo_request_approval_recon](
											[ParentId]
											,[RefId]
											,[PromoPlanId]
											,[AllocationId]
											,[AllocationRefId]
											,[CategoryShortDesc]
											,[PrincipalShortDesc]
											,[BudgetMasterId]
											,[CategoryId]
											,[SubCategoryId]
											,[ActivityId]
											,[SubActivityId]
											,[ActivityDesc]
											,[StartPromo]
											,[EndPromo]
											,[Mechanisme1]
											,[Mechanisme2]
											,[Mechanisme3]
											,[Mechanisme4]
											,[Notes]
											,[Roi]
											,[CostRatio]
											,[NormalSales]
											,[IncrSales]
											,[TotSales]
											,[TotInvest]
											,[PrevRoi]
											,[PrevCostRatio]
											,[PrevNormalSales]
											,[PrevIncrSales]
											,[PrevTotSales]
											,[PrevTotInvest]
											,[Status]
											,[TsCoding]
											,[CreateOn]
											,[CreateBy]
											,[ModifiedOn]
											,[ModifiedBy]
											,[IsCancel]
											,[RequestEmail]
										)
										SELECT
											@PromoId
											,[RefId]
											,[PromoPlanId]
											,[AllocationId]
											,[AllocationRefId]
											,[CategoryShortDesc]
											,[PrincipalShortDesc]
											,[BudgetMasterId]
											,[CategoryId]
											,[SubCategoryId]
											,[ActivityId]
											,[SubActivityId]
											,[ActivityDesc]
											,[StartPromo]
											,[EndPromo]
											,[Mechanisme1]
											,[Mechanisme2]
											,[Mechanisme3]
											,[Mechanisme4]
											,[Notes]
											,[Roi]
											,[CostRatio]
											,[NormalSales]
											,[IncrSales]
											,[NormalSales] + [IncrSales]
											,[Investment]
											,@PrevRoi
											,@PrevCR
											,@PrevNormalSales
											,@PrevIncrSales
											,@PrevTotSales
											,@PrevTotInvest
											,'TP1'
											,[TsCoding]
											,@utcDate123
											,@Initiator
											,[ModifiedOn]
											,[ModifiedBy]
											,0
											,@useremail
										FROM tbtrx_promo WHERE Id=@PromoId

										/*AMBIL ID REQUEST YANG BARU DI CREATE*/
										SET @RequestId=(SELECT SCOPE_IDENTITY())

										/*INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU*/
										INSERT INTO [dbo].[tbtrx_promo_approval_recon]
											([RequestId]
												,[Sequence]
												,[UserApprover]
												,[Status]
												,[RequestDate]
												,[ActionDate]
												,[IsOnGoing]
												,UserApproverName
												,UserApproverEmail
											)
											SELECT @RequestId
												,SeqApproval
												,Approver
												,'TP1'
												,@utcDate123
												,@utcDate123
												,IIF(SeqApproval=1,1,0)
												,b.username
												,b.email
											FROM tbset_matrix_promo_approver a
											inner join tbset_user b on a.Approver=b.id
											where ParentId=@matrixId

										--AMBIL ID REQUEST YANG BARU DI CREATE
										SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@Promoid and IsCancel=0)

										--UPDATE STATUS DI TABLE PROMO
										UPDATE pr
											SET
												pr.StatusApprovalCodeRecon=msts.StatusCode
												,pr.StatusApprovalRecon=msts.StatusDesc
												,pr.ApproverRecon=prar.UserApprover
												,pr.ApproverReconName=prar.UserApproverName
												,pr.ApproveOnRecon=prar.ActionDate
												,pr.ApprovalNotesRecon=coalesce(prar.Notes,'')
												,matrixapprovalid = @matrixid
											FROM tbtrx_promo pr
											INNER JOIN tbtrx_promo_request_approval_recon prrar ON pr.Id=prrar.parentid
											INNER JOIN tbtrx_promo_approval_recon prar ON RequestId=prrar.Id
											INNER JOIN tbmst_master_status msts ON StatusCode=prar.[Status] and msts.StatusType='TPP'
											where prrar.IsCancel=0
												and prar.IsOnGoing=1
													AND RequestId=@p_reqid

									END
								ELSE
									BEGIN
										UPDATE A
												SET A.[Status]='TP1'
													,A.RequestDate=@utcDate123
													,A.ActionDate=@utcDate123
												FROM tbtrx_promo_approval_recon A
												LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
												WHERE ParentId=@PromoId AND IsCancel=0
												AND A.[Status]='TP3' and A.IsOnGoing=1
										
										SET @isSendEmail = IIF(@@ROWCOUNT>0,1,0)
--SELECT GETDATE(),@issendemail,2

										UPDATE tbtrx_promo
												SET
													StatusApprovalCodeRecon=tbmst_master_status.StatusCode
													,StatusApprovalRecon=tbmst_master_status.StatusDesc
													,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
													,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
													,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
													,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
													,matrixapprovalid = @matrixid
												FROM tbtrx_promo
												INNER JOIN tbtrx_promo_request_approval_recon ON tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
												INNER JOIN tbtrx_promo_approval_recon ON RequestId=tbtrx_promo_request_approval_recon.Id
												INNER JOIN tbmst_master_status ON StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
												WHERE tbtrx_promo_request_approval_recon.IsCancel=0
													AND tbtrx_promo_approval_recon.IsOnGoing=1
													AND ParentId=@PromoId
									END

							END
						ELSE IF @statusapprovalrecon IS NOT NULL --JIKA PROMO SUDAH BERSTATUS APPROVE
							BEGIN
									/******************************************
									CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
									*******************************************/

									UPDATE tpra
										SET tpra.ModifiedOn=@utcDate123
									FROM tbtrx_promo_request_approval_recon tpra
										CROSS JOIN tbset_major_changes tmc 
									WHERE ParentId=@PromoId
									-- select RC major
									AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc='DC')
									AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
									AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
									AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
									AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
									AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
									AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @cost, 0)
									AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT vwac.SubCategoryId FROM @Promo t INNER JOIN vw_activity vwac ON t.SubActivityId=vwac.SubActivityId), 0)
									AND ISNULL(IsCancel,0)=0

									set @rowcount=@@ROWCOUNT
			
									--JIKA MAJOR CHANGES ATAU REQUEST BARU
									IF @rowcount = 0 
										OR (@channelOld <> @channelNew AND @sttChannel = 1) 
										OR (@brandOld <> @brandNew AND @sttBrand = 1) 
										OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
										OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
										OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
										OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)

										BEGIN
											SET @isSendEmail=1
--SELECT GETDATE(),@issendemail,3
												UPDATE [tbtrx_promo_request_approval_recon]
												SET IsCancel=1
												WHERE ParentId=@PromoId
												AND ISNULL(IsCancel,0)=0

											/****************************
											BUAT REQUEST APPROVAL BARU
											INSERT KE TABLE REQUEST APPROVAL
											****************************/

											INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
										   ([ParentId]
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[TotSales]
												,[TotInvest]
												,[PrevRoi]
												,[PrevCostRatio]
												,[PrevNormalSales]
												,[PrevIncrSales]
												,[PrevTotSales]
												,[PrevTotInvest]
												,[Status]
												,[TsCoding]
												,[CreateOn]
												,[CreateBy]
												,[ModifiedOn]
												,[ModifiedBy]
												,[IsCancel]
												,[RequestEmail]
											)
											SELECT
												@PromoId
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[NormalSales] + [IncrSales]
												,[Investment]
												,@PrevRoi
												,@PrevCR
												,@PrevNormalSales
												,@PrevIncrSales
												,@PrevTotSales
												,@PrevTotInvest
												,'TP1'
												,[TsCoding]
												,@utcDate123
												,@Initiator
												,[ModifiedOn]
												,[ModifiedBy]
												,0
												,@useremail
											FROM tbtrx_promo WHERE Id=@PromoId
											/************************/

											/************************
											AMBIL ID REQUEST YANG BARU DI CREATE
											************************/
												SET @RequestId=(SELECT SCOPE_IDENTITY())
											/***********************/

											/****************************
											INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
											****************************/
											INSERT INTO [dbo].[tbtrx_promo_approval_recon]
											([RequestId]
												,[Sequence]
												,[UserApprover]
												,[Status]
												,[RequestDate]
												,[ActionDate]
												,[IsOnGoing]
												,UserApproverName
												,UserApproverEmail
											)
											SELECT @RequestId
												,SeqApproval
												,Approver
												,'TP1'
												,@utcDate123
												,@utcDate123
												,IIF(SeqApproval=1,1,0)
												,b.username
												,b.email
											FROM tbset_matrix_promo_approver a
											inner join tbset_user b on a.Approver=b.id
											where ParentId=@matrixId
											/***********************************/


											--AMBIL ID REQUEST YANG BARU DI CREATE
											SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@Promoid and IsCancel=0)

											--UPDATE STATUS DI TABLE PROMO

											UPDATE pr
											SET
												pr.StatusApprovalCodeRecon =msts.StatusCode
												,pr.StatusApprovalRecon=msts.StatusDesc
												,pr.ApproverRecon=prar.UserApprover
												,pr.ApproverReconName=prar.UserApproverName
												,pr.ApproveOnRecon=prar.ActionDate
												,pr.ApprovalNotesRecon=coalesce(prar.Notes,'')
												,pr.matrixapprovalid = @matrixid
											FROM tbtrx_promo pr
											INNER JOIN tbtrx_promo_request_approval_recon prrar ON pr.Id=prrar.parentid
											INNER JOIN tbtrx_promo_approval_recon prar on prar.RequestId = prrar.Id
											INNER JOIN tbmst_master_status msts on msts.StatusCode = prar.[Status] and msts.StatusType='TPP'
											WHERE prrar.IsCancel=0
												AND prar.IsOnGoing=1
													AND prar.RequestId=@p_reqid
										END
									ELSE
									----- jika tidak ada perubahan angka dan promo periode
										BEGIN
											/****************************
											BUAT REQUEST APPROVAL BARU
											INSERT KE TABLE REQUEST APPROVAL
											****************************/

											INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
												([ParentId]
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[TotSales]
												,[TotInvest]
												,[PrevRoi]
												,[PrevCostRatio]
												,[PrevNormalSales]
												,[PrevIncrSales]
												,[PrevTotSales]
												,[PrevTotInvest]
												,[Status]
												,[TsCoding]
												,[CreateOn]
												,[CreateBy]
												,[ModifiedOn]
												,[ModifiedBy]
												,[IsCancel]
												,[RequestEmail]
												)
											SELECT
												@PromoId
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[NormalSales] + [IncrSales]
												,[Investment]
												,@PrevRoi
												,@PrevCR
												,@PrevNormalSales
												,@PrevIncrSales
												,@PrevTotSales
												,@PrevTotInvest
												,[StatusApprovalCodeRecon]
												,[TsCoding]
												,@utcDate123
												,@initiator
												,[ModifiedOn]
												,[ModifiedBy]
												,0
												,@useremail
											FROM tbtrx_promo WHERE Id=@PromoId
											/************************/

											/************************
											AMBIL ID REQUEST YANG BARU DI CREATE
											************************/
												SET @RequestId=(SELECT SCOPE_IDENTITY())
											/***********************/

											INSERT INTO tbtrx_promo_approval_recon(RequestId,Sequence,UserApprover,[Status],RequestDate,ActionDate,IsOnGoing,UserApproverName, UserApproverEmail)
											SELECT @RequestId,
												A.Sequence,
												A.UserApprover,
												A.[Status],
												CASE WHEN A.[Status]='TP2' THEN A.ActionDate ELSE A.RequestDate END,
												A.ActionDate,
												A.IsOnGoing
												,A.UserApproverName
												,A.UserApproverEmail
											FROM tbtrx_promo_approval_recon A
											LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
											LEFT JOIN tbtrx_promo C ON C.Id= B.ParentId
											WHERE
												B.ParentId=@Promoid AND B.IsCancel=0

											UPDATE [tbtrx_promo_request_approval_recon]
											SET IsCancel=1
											WHERE ParentId=@PromoId
											and Id <> @RequestId
											AND ISNULL(IsCancel,0)=0

											UPDATE A
											SET A.[Status]='TP1'
												,A.RequestDate=@utcDate123
												,A.ActionDate=@utcDate123
											FROM tbtrx_promo_approval_recon A
											LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
											WHERE ParentId=@PromoId AND IsCancel=0
											AND A.[Status]='TP3' and A.IsOnGoing=1
----SELECT GETDATE(),@issendemail, 4
											IF @@rowcount>0 /*SWITCH SENDBACK TO WAITING*/
											BEGIN
												SET @isSendEmail=1
											END
--SELECT GETDATE(),@issendemail, 4

											UPDATE pr
											SET
												pr.StatusApprovalCodeRecon	=msts.StatusCode
												,pr.StatusApprovalRecon		=msts.StatusDesc
												,pr.ApproverRecon			=prar.UserApprover
												,pr.ApproverReconName		=prar.UserApproverName
												,pr.ApproveOnRecon			=prar.ActionDate
												,pr.ApprovalNotesRecon		=coalesce(prar.Notes,'')
												,pr.matrixapprovalid = @matrixid
											FROM tbtrx_promo pr
											INNER JOIN tbtrx_promo_request_approval_recon prrar	ON pr.Id = prrar.parentid
											INNER JOIN tbtrx_promo_approval_recon	prar				ON prar.RequestId = prrar.Id
											INNER JOIN tbmst_master_status	msts				ON msts.StatusCode =prar.[Status] AND msts.StatusType='TPP'
											WHERE prrar.IsCancel = 0
											AND prar.IsOnGoing = 1 AND prrar.ParentId = @PromoId
										end

								END
						ELSE
							BEGIN
									/******************************************
									CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
									*******************************************/

									UPDATE tpra
										SET tpra.ModifiedOn=@utcDate123
									FROM tbtrx_promo_request_approval tpra
										CROSS JOIN tbset_major_changes tmc 
									WHERE ParentId=@PromoId
									-- select RC major
									AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc='DC')
									AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
									AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
									AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
									AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
									AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
									AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @cost, 0)
									AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT vwac.SubCategoryId FROM @Promo t INNER JOIN vw_activity vwac ON t.SubActivityId=vwac.SubActivityId), 0)
									AND ISNULL(IsCancel,0)=0

									set @rowcount=@@ROWCOUNT
			
									--JIKA MAJOR CHANGES ATAU REQUEST BARU
									if @rowcount = 0 
										OR (@channelOld <> @channelNew AND @sttChannel = 1) 
										OR (@brandOld <> @brandNew AND @sttBrand = 1) 
										OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
										OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
										OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
										OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)

										begin
											SET @isSendEmail=1
--SELECT GETDATE(),@issendemail, 5
											UPDATE [tbtrx_promo_request_approval]
											SET IsCancel=1
											WHERE ParentId=@PromoId
											AND ISNULL(IsCancel,0)=0

											/****************************
											BUAT REQUEST APPROVAL BARU
											INSERT KE TABLE REQUEST APPROVAL
											****************************/

											INSERT INTO [dbo].[tbtrx_promo_request_approval]
										   ([ParentId]
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[TotSales]
												,[TotInvest]
												,[PrevRoi]
												,[PrevCostRatio]
												,[PrevNormalSales]
												,[PrevIncrSales]
												,[PrevTotSales]
												,[PrevTotInvest]
												,[Status]
												,[TsCoding]
												,[CreateOn]
												,[CreateBy]
												,[ModifiedOn]
												,[ModifiedBy]
												,[IsCancel]
												,[RequestEmail]
											)
											SELECT
												@PromoId
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[NormalSales] + [IncrSales]
												,[Investment]
												,@PrevRoi
												,@PrevCR
												,@PrevNormalSales
												,@PrevIncrSales
												,@PrevTotSales
												,@PrevTotInvest
												,[StatusApprovalCode]
												,[TsCoding]
												,@utcDate123
												,@Initiator
												,[ModifiedOn]
												,[ModifiedBy]
												,0
												,@useremail
											FROM tbtrx_promo WHERE Id=@PromoId
											/************************/

											/************************
											AMBIL ID REQUEST YANG BARU DI CREATE
											************************/
												SET @RequestId=(SELECT SCOPE_IDENTITY())
											/***********************/

											/****************************
											INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
											****************************/
											INSERT INTO [dbo].[tbtrx_promo_approval]
											([RequestId]
												,[Sequence]
												,[UserApprover]
												,[Status]
												,[RequestDate]
												,[ActionDate]
												,[IsOnGoing]
												,UserApproverName
												,UserApproverEmail
											)
											SELECT @RequestId
												,SeqApproval
												,Approver
												,'TP1'
												,@utcDate123
												,@utcDate123
												,IIF(SeqApproval=1,1,0)
												,b.username
												,b.email
											FROM tbset_matrix_promo_approver a
											inner join tbset_user b on a.Approver=b.id
											where ParentId=@matrixId
											/***********************************/


											--AMBIL ID REQUEST YANG BARU DI CREATE
											SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

											--UPDATE STATUS DI TABLE PROMO
											UPDATE tbtrx_promo
											SET
												StatusApprovalCode=tbmst_master_status.StatusCode
												,StatusApproval=tbmst_master_status.StatusDesc
												,Approver=tbtrx_promo_approval.UserApprover
												,ApproverName=tbtrx_promo_approval.UserApproverName
												,ApproveOn=tbtrx_promo_approval.ActionDate
												,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
												,matrixapprovalid = @matrixid
											from tbtrx_promo
											inner join tbtrx_promo_request_approval
											on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
											inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
											inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
											where tbtrx_promo_request_approval.IsCancel=0
											and tbtrx_promo_approval.IsOnGoing=1
													AND RequestId=@p_reqid

										end
									else
									----- jika tidak ada perubahan angka dan promo periode
										begin
											SET @isSendEmail=1
--SELECT GETDATE(),@issendemail,6
											/****************************
											BUAT REQUEST APPROVAL BARU
											INSERT KE TABLE REQUEST APPROVAL
											****************************/

											INSERT INTO [dbo].[tbtrx_promo_request_approval]
												([ParentId]
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[TotSales]
												,[TotInvest]
												,[PrevRoi]
												,[PrevCostRatio]
												,[PrevNormalSales]
												,[PrevIncrSales]
												,[PrevTotSales]
												,[PrevTotInvest]
												,[Status]
												,[TsCoding]
												,[CreateOn]
												,[CreateBy]
												,[ModifiedOn]
												,[ModifiedBy]
												,[IsCancel]
												,[RequestEmail]
												)
											SELECT
												@PromoId
												,[RefId]
												,[PromoPlanId]
												,[AllocationId]
												,[AllocationRefId]
												,[CategoryShortDesc]
												,[PrincipalShortDesc]
												,[BudgetMasterId]
												,[CategoryId]
												,[SubCategoryId]
												,[ActivityId]
												,[SubActivityId]
												,[ActivityDesc]
												,[StartPromo]
												,[EndPromo]
												,[Mechanisme1]
												,[Mechanisme2]
												,[Mechanisme3]
												,[Mechanisme4]
												,[Notes]
												,[Roi]
												,[CostRatio]
												,[NormalSales]
												,[IncrSales]
												,[NormalSales] + [IncrSales]
												,[Investment]
												,@PrevRoi
												,@PrevCR
												,@PrevNormalSales
												,@PrevIncrSales
												,@PrevTotSales
												,@PrevTotInvest
												,[StatusApprovalCode]
												,[TsCoding]
												,@utcDate123
												,@initiator
												,[ModifiedOn]
												,[ModifiedBy]
												,0
												,@useremail
											FROM tbtrx_promo WHERE Id=@PromoId
											/************************/

											/************************
											AMBIL ID REQUEST YANG BARU DI CREATE
											************************/
												SET @RequestId=(SELECT SCOPE_IDENTITY())
											/***********************/

											INSERT INTO tbtrx_promo_approval(RequestId,Sequence,UserApprover,[Status],RequestDate,ActionDate,IsOnGoing,UserApproverName, UserApproverEmail)
											select @RequestId,
												A.Sequence,
												A.UserApprover,
												A.[Status],
												CASE WHEN A.[Status]='TP2' THEN A.ActionDate ELSE A.RequestDate END,
												A.ActionDate,
												A.IsOnGoing
												,A.UserApproverName
												,A.UserApproverEmail
											FROM tbtrx_promo_approval A
											LEFT JOIN tbtrx_promo_request_approval ON Id=RequestId
											LEFT JOIN tbtrx_promo ON tbtrx_promo.Id= tbtrx_promo_request_approval.ParentId
											WHERE
											ParentId=@Promoid AND
											tbtrx_promo_request_approval.IsCancel=0


											UPDATE [tbtrx_promo_request_approval]
											SET IsCancel=1
											WHERE ParentId=@PromoId
											and Id <> @RequestId
											AND ISNULL(IsCancel,0)=0

											UPDATE A
											SET A.[Status]='TP1'
												,A.RequestDate=@utcDate123
												,A.ActionDate=@utcDate123
											FROM tbtrx_promo_approval A
											LEFT JOIN tbtrx_promo_request_approval B ON B.Id=A.RequestId
											WHERE ParentId=@PromoId AND IsCancel=0
											AND A.[Status]='TP3' and A.IsOnGoing=1

											UPDATE tbtrx_promo
											SET
												StatusApprovalCode=tbmst_master_status.StatusCode
												,StatusApproval=tbmst_master_status.StatusDesc
												,Approver=tbtrx_promo_approval.UserApprover
												,ApproverName=tbtrx_promo_approval.UserApproverName
												,ApproveOn=tbtrx_promo_approval.ActionDate
												,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
												,matrixapprovalid = @matrixid
											from tbtrx_promo
											inner join tbtrx_promo_request_approval
											on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
											inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
											inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
											where tbtrx_promo_request_approval.IsCancel=0
											and tbtrx_promo_approval.IsOnGoing=1
											AND ParentId=@PromoId
										end

								END

					END

				/* Start Create History */
				INSERT INTO tbhis_promo_parent(
							StatusAction
							,ActionOn
							,ActionBy
							,CreatedEmail
						) VALUES (
							'update'
							,@utcDate123
							,@initiator
							,@useremail
						)
						SET @ParentId_his=(SELECT SCOPE_IDENTITY())

				INSERT INTO [tbhis_promo] (
							ParentId,
							Id,
							PromoPlanId,
							AllocationId,
							AllocationRefId,
							CategoryShortDesc,
							PrincipalShortDesc,
							BudgetMasterId,
							CategoryId,
							SubCategoryId,
							ActivityId,
							SubActivityId,
							ActivityDesc,
							StartPromo,
							EndPromo,
							Mechanisme1,
							Mechanisme2,
							Mechanisme3,
							Mechanisme4,
							Investment,
							NormalSales,
							IncrSales,
							Roi,
							CostRatio,
							StatusApprovalCode,
							StatusApproval,
							StatusApprovalCodeRecon,
							StatusApprovalRecon,
							Notes,
							IsActive,
							IsLocked,
							CreateOn,
							CreateBy,
							ModifiedOn,
							ModifiedBy,
							IsDelete,
							DeleteOn,
							DeleteBy,
							ApproveOn,
							ApproveOnRecon,
							Approver,
							ApproverRecon,
							ApprovalNotes,
							ApprovalNotesRecon,
							OldInvest,
							IsCancel,
							CancelOn,
							CancelBy,
							CancelNotes,
							IsCancelLocked,
							LastStatusRecon,
							LastStatus,
							TsCoding,
							PromoNumber,
							RefId,
							IsClose,
							CloseOn,
							CloseBy,
							Reconciled,
							ReconciledOn,
							ReconciledBy,
							initiator_notes,
							CreatedEmail,
							matrixapprovalid,
							modifReason,
							entityid,
							distributorid,
							groupbrandid
						)
						SELECT @ParentId_his,
							t.Id,
							t.PromoPlanId,
							dbo.getBudgetId(@PromoId),
							t.AllocationRefId,
							t.CategoryShortDesc,
							t.PrincipalShortDesc,
							t.BudgetMasterId,
							t.CategoryId,
							t.SubCategoryId,
							t.ActivityId,
							t.SubActivityId,
							t.ActivityDesc,
							t.StartPromo,
							t.EndPromo,
							t.Mechanisme1,
							t.Mechanisme2,
							t.Mechanisme3,
							t.Mechanisme4,
							t.Investment,
							t.NormalSales,
							t.IncrSales,
							t.Roi,
							t.CostRatio,
							t.StatusApprovalCode,
							t.StatusApproval,
							t.StatusApprovalCodeRecon,
							t.StatusApprovalRecon,
							t.Notes,
							t.IsActive,
							t.IsLocked,
							t.CreateOn,
							t.CreateBy,
							t.ModifiedOn,
							t.ModifiedBy,
							t.IsDelete,
							t.DeleteOn,
							t.DeleteBy,
							t.ApproveOn,
							t.ApproveOnRecon,
							t.Approver,
							t.ApproverRecon,
							t.ApprovalNotes,
							t.ApprovalNotesRecon,
							t.OldInvest,
							t.IsCancel,
							t.CancelOn,
							t.CancelBy,
							t.CancelNotes,
							t.IsCancelLocked,
							t.LastStatusRecon,
							t.LastStatus,
							t.TsCoding,
							t.PromoNumber,
							t.RefId,
							t.IsClose,
							t.CloseOn,
							t.CloseBy,
							t.Reconciled,
							t.ReconciledOn,
							t.ReconciledBy,
							t.initiator_notes,
							@useremail,
							@matrixid,
							@modifreason,
							@EntityId,
							@DistributorId,
							@GroupBrandId
						FROM tbtrx_promo t
						WHERE t.id = @PromoId

				INSERT INTO tbhis_promo_calculator (
								[ParentId] ,
								[PromoId] ,
								[GroupBrandID] ,
								[DistributorId] ,
								[EntityId] ,
								[Baseline] ,
								[Uplift] ,
								[TotalSales] ,
								[SalesContribution] ,
								[StoresCoverage] ,
								[RedemptionRate] ,
								[CR] ,
								[Cost] 
								)
								SELECT 
									@ParentId_his ,
									[PromoId] ,
									[GroupBrandID] ,
									[DistributorId] ,
									[EntityId] ,
									[Baseline] ,
									[Uplift] ,
									[TotalSales] ,
									[SalesContribution] ,
									[StoresCoverage] ,
									[RedemptionRate] ,
									[CR] ,
									[Cost] 
									FROM tbtrx_promo_calculator
									where PromoId=@PromoId
				
				INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId) SELECT @ParentId_his,@PromoId,t.ChannelId from @Promo t inner join tbmst_channel a on a.Id=t.ChannelId

				INSERT INTO tbhis_promo_doclink(ParentId,PromoId,DocLink,[FileName],CreateOn,Createby)
							SELECT @ParentId_his,@PromoId,DocLink,[Filename],@utcDate123,@userid FROM @attachment

				INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR,Cost)
							SELECT @ParentId_his, @PromoId, Mechanism, Notes, ProductId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR,Cost FROM @Mechanism			
	
				/*********************
						 * End Create History
				*********************/
						/*VALIDATE EMAIL ADDRESS APPROVER*/

				SET @emailinactive = (
					SELECT isnull(c.isdeleted,0) isinactive
									FROM tbtrx_promo pr
									inner join tbset_user b on pr.Approver=b.Id
									inner join tbset_user_login c on b.email=c.email
									where pr.Id=@PromoId
									)
				SET @emailapprover = (
					SELECT b.email
									FROM tbtrx_promo pr
									inner join tbset_user b on pr.Approver=b.Id
									where pr.Id=@PromoId
									)
				SET @StatusApprovalCode = (
					SELECT StatusApprovalCode
									FROM tbtrx_promo pr
									where pr.Id=@PromoId
									)
				IF @StatusApprovalCode<>'TP0'
					BEGIN
						IF NOT EXISTS
									(
										select 1 as bool
										,@PromoId as [Id]
										,@promorefid as [RefId]
										,200 as [statuscode]
										,a.Id [userid_initiator]
										,a.username [username_initiator]
										,a.email [email_initiator]
										,b.Id [userid_approver]
										,b.username [username_approver]
										,b.email [email_approver]
										FROM tbtrx_promo pr
										inner join tbset_user a on pr.CreateBy=a.Id
										inner join tbset_user b on pr.Approver=b.Id
										where pr.Id=@PromoId
									)
							BEGIN
								SET @isSendEmail=0
								SET @messageout='email address initator or approver not found '
											 RAISERROR (@messageout, -- Message text.
												   16, -- Severity.
												   1 -- State.
												   );
							END

							IF @emailinactive=1 
								BEGIN
									SET @isSendEmail=0
								END

						END

				/* Create Promo Workflow Change */
				IF @MechanismOld<>@mechanismNew
					BEGIN
					   INSERT INTO tbtrx_promo_workflow_change (
							PromoId,
							Mechanism1Old,
							Mechanism1,
							CreatedOn,
							CreatedBy,
							CreatedByEmail,
							statusField,
							oldvalue,
							newvalue
						   )
						VALUES (
							@promoid,
							@mechanismOld,
							@mechanismNew,
							@utcDate123,
							@userid,
							@useremail,
							'Mechanism',
							@mechanismOld,
							@mechanismNew
							)
					END
			COMMIT
			/*** Update allocationid ***/
			UPDATE tbtrx_promo SET allocationid = dbo.getBudgetId(@PromoId) WHERE id =@PromoId
			/***************************/
			/*recal over budget*/
			DECLARE @dnPromoID int = (select promoid from @Promo)
			EXEC ip_dn_overbudget_by_prommoid @dnPromoID

			/*RESULT SET*/
			SELECT id as [id]
					,RefId as [refId]
					,@isSendEmail [isSendEmail]
				FROM tbtrx_promo pr
				where pr.Id=@PromoId

			IF @isSendEmail=1
				BEGIN
					IF (SELECT ISNULL(Reconciled,0) FROM tbtrx_promo WHERE Id=@PromoId)=0
						BEGIN
							SELECT
									pr.CreateBy userIdInitiaator
									, a.username userNameInitiaator
									,a.email emailInitiator
									,b.Id userIdApprover
									,b.username userNameApprover
									,b.email emailApprover
								FROM tbtrx_promo pr
								LEFT join tbset_user a on pr.CreateBy=a.Id
								LEFT join tbset_user b on pr.Approver=b.Id
								where pr.Id=@PromoId
						END
					ELSE
						BEGIN
							SELECT
									pr.CreateBy userIdInitiaator
									, a.username userNameInitiaator
									,a.email emailInitiator
									,b.Id userIdApprover
									,b.username userNameApprover
									,b.email emailApprover
								FROM tbtrx_promo pr
								LEFT join tbset_user a on pr.CreateBy=a.Id
								LEFT join tbset_user b on pr.ApproverRecon=b.Id
								where pr.Id=@PromoId
						END				END
			ELSE
				BEGIN
					SELECT
							pr.CreateBy userIdInitiaator
							, a.username userNameInitiaator
							,a.email emailInitiator
							,b.Id userIdApprover
							,b.username userNameApprover
							,b.email emailApprover
						FROM tbtrx_promo pr
						LEFT join tbset_user a on pr.CreateBy=a.Id
						LEFT join tbset_user b on pr.Approver=b.Id
						where pr.Id=0
				END

			END TRY
			BEGIN CATCH
			ROLLBACK
				DECLARE @ErrorMessage NVARCHAR(4000);
				DECLARE @ErrorSeverity INT;
				DECLARE @ErrorState INT;

				SELECT
					@ErrorMessage = ERROR_MESSAGE(),
					@ErrorSeverity = ERROR_SEVERITY(),
					@ErrorState = ERROR_STATE();
				RAISERROR (@ErrorMessage, -- Message text.
						   @ErrorSeverity, -- Severity.
						   @ErrorState -- State.
			   );

			END CATCH

	END

END
GO
