

/****** Object:  StoredProcedure [dbo].[ip_getattribute_brand_for_promo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_getattribute_brand_for_promo] --1089,'account',1
@budgetid int,
@attribute varchar(50),
@entity int,
@promoplanid int,
@parent ArrayIntType READONLY
AS
BEGIN
	IF @attribute='region'
	BEGIN
		IF @budgetid = 0
		BEGIN
			select 
				CASE WHEN tppb.PromoPlanId is null THEN 0 ELSE 1 END as flag,
				m.Id,m.LongDesc,m.ShortDesc 
			from tbmst_region m 
			left join tbtrx_promo_planning_region tppb on m.id = tppb.RegionId  
			where tppb.PromoPlanId=@promoplanid		
		END
		ELSE
		BEGIN
			select 
				CASE WHEN tppb.PromoPlanId is null THEN 0 ELSE 1 END as flag,
				m.Id,m.LongDesc,m.ShortDesc 
			from tbmst_region m
			inner join tbtrx_allocation_region a on m.id=a.RegionId
			left join tbtrx_promo_planning_region tppb on a.RegionId  = tppb.RegionId  
			where a.allocationid=@budgetid
			and tppb.PromoPlanId=@promoplanid
		END
		
	END
	IF @attribute='brand'
	BEGIN
		IF @budgetid = 0
		BEGIN
			select 
				CASE WHEN tppb.PromoPlanId is null THEN 0 ELSE 1 END as flag,
				m.Id,m.LongDesc,m.ShortDesc 
			from tbmst_brand m 
			left join tbtrx_promo_planning_brand tppb on m.id = tppb.BrandId 
			where m.PrincipalId = @entity
			and tppb.PromoPlanId=@promoplanid		
			AND m.id NOT  IN (9,17)
		END
		ELSE
		BEGIN
			select 
				CASE WHEN tppb.PromoPlanId is null THEN 0 ELSE 1 END as flag,
				m.Id,m.LongDesc,m.ShortDesc 
			from tbmst_brand m
		--	inner join @parent on keyid=PrincipalId
			inner join tbtrx_allocation_brand a on m.id=a.BrandId 
			left join tbtrx_promo_planning_brand tppb on a.BrandId = tppb.BrandId 
			where m.PrincipalId = @entity
			and a.allocationid=@budgetid
			and tppb.PromoPlanId=@promoplanid
			AND m.id NOT  IN (9,17)
		END
	END
	IF @attribute='sku'
	BEGIN
		IF @budgetid = 0
		BEGIN
			select 
				CASE WHEN tppb.PromoPlanId is null THEN 0 ELSE 1 END as flag,
				m.Id,m.LongDesc,m.ShortDesc 
			from tbmst_product m
			inner join @parent a on m.brandid = a.keyid
			left join tbtrx_promo_planning_product tppb on m.id = tppb.productid 
			where tppb.PromoPlanId=@promoplanid		
		END
		ELSE
		BEGIN
			select 
				CASE WHEN tppb.PromoPlanId is null THEN 0 ELSE 1 END as flag,
				m.Id,m.LongDesc,m.ShortDesc 
			from tbmst_product m
		    inner join @parent p on m.brandid = p.keyid
			inner join tbtrx_allocation_product a on m.id=a.productid 
			left join tbtrx_promo_planning_product tppb on a.productid = tppb.productid 
			where a.allocationid=@budgetid
			and tppb.PromoPlanId=@promoplanid
		END
	END	
END
GO
