USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_create]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_create]
@IsDNPromo bit=0
,@Id int
,@Periode varchar(4)
,@EntityId int
,@DistributorId int
,@ActivityDesc varchar(255)
,@AccountId int =0 --diganti jadi subaccount
,@PromoId int =0
,@IntDocNo varchar(50)
,@MemDocNo varchar(50)
,@DNAmount numeric(19,0)
,@FeeDesc varchar(255)
,@FeePct numeric(10,4)
,@FeeAmount numeric(9)
,@DPP numeric(19,0)
,@PPNPct numeric(10,4)
,@DeductionDate datetime
,@userid varchar(50)
,@sellingpoint CharAttributeType READONLY
,@attachment DNAttachmentType READONLY
,@TaxLevel varchar(100)
,@pphPct numeric(10,4)
,@pphAmt numeric(18)
,@statusPPH varchar(30)
,@FPNumber varchar(50)
,@FPDate datetime
,@statusPPN varchar(50)
,@WHTType varchar(50) = ''
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * EDJ 2020-03-21 : change overbudget from totalclaim to DPP
 * EDJ 2020-06-09 : add TaxLevel
 */


 --/*DC PROMO*/
	--IF ISNULL(@PromoId,0)<>0 
	--	BEGIN
	--		IF (SELECT CategoryShortDesc FROM tbtrx_promo WHERE Id=@PromoId)='DC'
	--			BEGIN
	--				IF (SELECT COUNT(*) FROM tbtrx_promo_subaccount)>1
	--					BEGIN
	--						SET @AccountId=(SELECT id FROM tbmst_subaccount WHERE LongDesc='All Sub Account')
	--					END
	--			END
	--	END
 --/*DC PROMO*/
BEGIN TRY
BEGIN TRANSACTION

DECLARE 
@PrincipalShortDesc varchar(10)
,@DistributorShortDesc varchar(10)
,@SubChannelId int
,@DNId int
,@RequestId int
,@PPNAmt numeric(19,0)
,@TotalClaim numeric(19,0)
,@AreaCode varchar(20)
,@messageout varchar(255)
,@matrixid int
,@picuserassign varchar(50)
,@distributorIdPromo int
,@distributorIdDN int

declare @createdemail varchar(50)
SELECT @createdemail=email from tbset_user where id=@userid

SET @PPNAmt=0;
IF @statusPPN='PPN DN AMOUNT'
BEGIN
	SET @PPNAmt=(@PPNPct*@DNAmount) / 100
END
IF @statusPPN='PPN FEE'
BEGIN
	SET @PPNAmt=(@PPNPct*@FeeAmount) / 100
END
IF @statusPPN='PPN DPP'
BEGIN
	SET @PPNAmt=(@PPNPct*@DPP) / 100
END

IF @WHTType = 'WHT No Deduct'
BEGIN
	SET @TotalClaim=@DPP + @PPNAmt
END
ELSE
BEGIN
	SET @TotalClaim=@DPP + @PPNAmt - @pphAmt
END 

SET @PrincipalShortDesc=(SELECT isnull(ShortDesc,'') FROM tbmst_principal where Id=@EntityId)
SET @DistributorShortDesc=(SELECT isnull(ShortDesc,'') FROM tbmst_distributor where Id=@DistributorId)
--SET @SubChannelId=(SELECT SubChannelId from tbmst_account where Id=@AccountId)
SET @SubChannelId=isnull((SELECT SubChannelId from tbmst_account a inner join tbmst_subaccount b on a.id=b.AccountId where b.Id=@AccountId), '')
SET @AreaCode=(select ProfitCenter from tbset_map_user_profitcenter where UserId=@userid)




if @PromoId=0 AND @IsDNPromo=1
begin
	SET @picuserassign=(select Pic1 from tbset_matrix_dnmanual_assignment_new where SubAccountId=@AccountId)
	IF @picuserassign IS NULL
	BEGIN
		SET @messageout='PIC user DN assignment not found'
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	END
end


if isnull(@PrincipalShortDesc,'')=''
	begin
		SET @messageout='Entity ShortDesc not defined'
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	end

if isnull(@DistributorShortDesc,'') = ''
	begin
		SET @messageout='Distributor ShortDesc not defined'
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	end

if isnull(@SubChannelId,'') = '' and @IsDNPromo=1
	begin
		SET @messageout='SubChannel not defined'
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	end

if isnull(@AreaCode,'') = ''
	begin
	SET @AreaCode='HO'
		--SET @messageout='Area Code not defined'
		-- RAISERROR (@messageout, -- Message text.  
  --             16, -- Severity.  
  --             1 -- State.  
  --             );  
	end


--	SELECT @matrixid=Id FROM tbset_matrix_dn_approval
--	WHERE Periode=@Periode
--	AND PrincipalId=@EntityId
--	AND DistributorId=@DistributorId
--	
--
--	if @matrixid is null
--	begin
--		SET @messageout='Matrix Approval not found for ' + @DistributorShortDesc + ' distributor,' +  cast(@PrincipalShortDesc as varchar) + ' entity,'
--		 RAISERROR (@messageout, -- Message text.  
--               16, -- Severity.  
--               1 -- State.  
--               );  
--	end



	--IF NOT EXISTS(
	--SELECT sequence_name FROM tbtrx_sequence_table WHERE sequence_name=N'DN ' + CONVERT(nchar(4), YEAR(getdate()))
	--)
	--BEGIN
	--	INSERT dbo.tbtrx_sequence_table
	--	(sequence_name, next_value)
	--	VALUES
	--	(N'DN ' + CONVERT(nchar(4), YEAR(getdate())),1)
	--END


IF @PromoId <> 0
BEGIN
    SET @distributorIdPromo=(SELECT ta.DistributorId FROM tbtrx_promo pr INNER JOIN tbtrx_allocation ta ON pr.AllocationId=ta.id WHERE pr.id=@PromoId);
    SET @distributorIdDN=(SELECT dn.DistributorId FROM tbtrx_debetnote dn WHERE dn.id=@DNId);

    IF @distributorIdPromo<>@distributorIdDN
    BEGIN
        SET @messageout='Promo and DN distributors must be the same'
            RAISERROR (@messageout, -- Message text.
            16, -- Severity.
            1 -- State.
        );
    END

    declare 
    @investpromo numeric(19,2),
    @IsOverBudget bit

	SET @investpromo=(select Investment from tbtrx_promo where id=@PromoId)

	if @DPP > @investpromo 
	begin
		SET @IsOverBudget=1
	end
	else
	begin
		SET @IsOverBudget=0
	end


END

INSERT INTO [dbo].[tbtrx_debetnote]
           ([IsDnManual]
		   ,IsDNPromo
		 ,[Periode]
		   ,[PrincipalId]
           ,[PrincipalShortDesc]
         ,[DistributorId]
           ,[DistributorShortDesc]
           ,[AreaCode]           
 		,[ActivityDesc]
          ,[SubChannelId]
           ,[AccountId]
          ,[PromoId]
           ,[IntDocNo]
           ,[MemDocNo]
           ,[DPP]
           ,[PPNPct]
           ,[PPNAmt]
           ,[TotalClaim]
           ,[DeductionDate]
           ,[Notes]
           ,[LastStatus]
           ,[IsPaid]
		   ,[TotalPaid]
		 ,[IsCancel]
           ,[IsLocked]
           ,[CreateOn]
           ,[CreateBy]
           ,[ModifiedOn]
           ,[ModifiedBy]
         ,[IsDelete]
           ,[DeleteOn]
       ,[DeleteBy]
           ,[AssignOn]
           ,[AssignBy]
           ,[IsFreeze]
		   ,[IsOverBudget]
		   ,[DNAmount]
		   ,[FeeDesc]
		   ,[FeePct]
		   ,[FeeAmount]
		   ,[TaxLevel]
		   ,[PPHPct]
		   ,[PPHAmt]
		   ,statusPPH
		   ,FPNumber
		   ,FPDate
		   ,FPModifiedBy
		   ,FPModifiedOn
		   ,statusPPN
	)
     VALUES
           (
		   IIF(isnull(@PromoId,0)=0 AND @IsDNPromo=1,1,0)
		    ,@IsDNPromo
			,@Periode
			,@EntityId
			,@PrincipalShortDesc
			,@DistributorId
			,@DistributorShortDesc
			,@AreaCode
			,@ActivityDesc
			,@SubChannelId
			,@AccountId
			,IIF(@IsDNPromo=1,@PromoId,0)
			,@IntDocNo
			,@MemDocNo
			,@DPP
			,@PPNPct
			,@PPNAmt
			,@TotalClaim
			,@DeductionDate
           ,''
           ,IIF(@IsDNPromo=1,'created','send_to_dist_ho')
           ,0
           ,0
           ,0
           ,0
           ,@utcDate123
           ,@userid
           ,null
           ,null
           ,0
           ,null
           ,null
           ,null
           ,@picuserassign
           ,0
		   ,0 --@IsOverBudget
    	   ,@DNAmount
	       ,@FeeDesc
		   ,@FeePct
		   ,@FeeAmount
		   ,@TaxLevel
		   ,@pphPct
		   ,@pphAmt
		   ,@statusPPH
		   ,@FPNumber
		   ,@FPDate
		   ,@userid
		   ,@utcDate123
		   ,@statusPPN
	)
SET @DNId=(SELECT SCOPE_IDENTITY());

INSERT INTO tbtrx_debetnote_wht (DNId, WHTtype)
VALUES (@DNId, @WHTType)


insert into tbtrx_dn_doclink(DNId,DocLink,[FileName],CreateOn,Createby)
SELECT @DNId,DocLink,Filename,@utcDate123,@userid FROM @attachment

/************************
HISTORICAL
************************/
		INSERT INTO [dbo].[tbtrx_debetnote_his]
				   ([DNId]				          
				   ,[ActivityDesc]
				   ,[SubChannelId]
				   ,[AccountId]
				   ,[PromoId]
				   ,[IntDocNo]
				   ,[MemDocNo]
				   ,[DPP]
				   ,[PPNPct]
				   ,[PPNAmt]
				   ,[TotalClaim]
				   ,[DeductionDate]
				   ,[Notes]
				   ,[created_on]
				   ,[created_by]
				   ,[send_to_dist_ho_on]
				   ,[send_to_dist_ho_by]
				   ,[DNAmount]
					,[FeeDesc]
					,[FeePct]
					,[FeeAmount]
					,[TaxLevel]
 				   ,[PPHPct]
				   ,[PPHAmt]
				   ,statusPPH
                   ,FPNumber
                   ,FPDate
                   ,FPModifiedBy
                   ,FPModifiedOn
                   ,statusPPN
					)
			 VALUES
				   (
					 @DNId
					,@ActivityDesc
					,@SubChannelId
					,@AccountId
					,@PromoId
					,@IntDocNo
					,@MemDocNo
					,@DPP
					,@PPNPct
					,@PPNAmt
					,@TotalClaim
					,@DeductionDate
					,''
					,@utcDate123
					,@userid
					,@utcDate123
					,@userid
					,@DNAmount
					,@FeeDesc
					,@FeePct
					,@FeeAmount
					,@TaxLevel
				   	,@pphPct
				   	,@pphAmt
					,@statusPPH
                   ,@FPNumber
                   ,@FPDate
                   ,@userid
                   ,@utcDate123
                   ,@statusPPN
					)
/**************************/

/*
 Create History Debetnote
 */
INSERT INTO [dbo].[tbhis_debetnote]
(
    dnid,
    IsDNManual,
    Periode,
    PrincipalShortDesc,
    DistributorShortDesc,
    AreaCode,
    DNNumber,
    ActivityDesc,
    SubChannelId,
    AccountId,
    PromoId,
    IntDocNo,
    MemDocNo,
    DPP,
    PPNPct,
    PPNAmt,
    TotalClaim,
    DeductionDate,
    Notes,
    LastStatus,
    IsPaid,
    TotalPaid,
    IsCancel,
    IsLocked,
    CreateOn,
    CreateBy,
    ModifiedOn,
    ModifiedBy,
    IsDelete,
    DeleteOn,
    DeleteBy,
    AssignOn,
    AssignBy,
    IsFreeze,
    PrincipalId,
    DistributorId,
    DueDate,
    IsAllowModify,
    IsOverBudget,
    AssignRequestDate,
    CancelOn,
    CancelBy,
    PaymentDate,
    ImportId,
    RefId,
    IsDNPromo,
    InternalOrderNumber,
    DNAmount,
    FeeDesc,
    FeePct,
    FeeAmount,
    TaxLevel,
    PPHPct,
    PPHAmt,
    statusPPH,
    StatusSalesCode,
    StatusSales,
    StatusSalesOn,
    StatusSalesBy,
    StatusSalesDistOn,
    StatusSalesDistBy,
    StatusSalesNotes,
    FPNumber,
    FPDate,
    FPModifiedBy,
    FPModifiedOn,
    VATExpired,
    statusPPN,
    WHTType
)
select 
    id,
    IsDNManual,
    Periode,
    PrincipalShortDesc,
    DistributorShortDesc,
    AreaCode,
    DNNumber,
    ActivityDesc,
    SubChannelId,
    AccountId,
    PromoId,
    IntDocNo,
    MemDocNo,
    DPP,
    PPNPct,
    PPNAmt,
    TotalClaim,
    DeductionDate,
    Notes,
    LastStatus,
    IsPaid,
    TotalPaid,
    IsCancel,
    IsLocked,
    CreateOn,
    CreateBy,
    ModifiedOn,
    ModifiedBy,
    IsDelete,
    DeleteOn,
    DeleteBy,
    AssignOn,
    AssignBy,
    IsFreeze,
    PrincipalId,
    DistributorId,
    DueDate,
    IsAllowModify,
    IsOverBudget,
    AssignRequestDate,
    CancelOn,
    CancelBy,
    PaymentDate,
    ImportId,
    RefId,
    IsDNPromo,
    InternalOrderNumber,
    DNAmount,
    FeeDesc,
    FeePct,
    FeeAmount,
    TaxLevel,
    PPHPct,
    PPHAmt,
    statusPPH,
    StatusSalesCode,
    StatusSales,
    StatusSalesOn,
    StatusSalesBy,
    StatusSalesDistOn,
    StatusSalesDistBy,
    StatusSalesNotes,
    FPNumber,
    FPDate,
    FPModifiedBy,
    FPModifiedOn,
    VATExpired,
    statusPPN,
    @WHTType
from tbtrx_debetnote where id=@dnid
/*******************************************/

exec ip_dn_overbudget_by_prommoid @PromoId
-- UPDATE dn
-- SET IsOverBudget=IIF(ob.remaining >=0 ,0,1)
-- FROM tbtrx_debetnote dn
-- INNER JOIN
-- (
-- SELECT 
-- pr.Id PromoId,
-- pr.RefId RefId,
-- pr.Investment,
-- dn.id DNId,
-- dn.TotalClaim, 
-- SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
-- --pr.Investment-SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- -- pr.Investment-SUM (isnull(dn.DPP,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- from tbtrx_promo pr
-- inner join  tbtrx_debetnote dn
-- on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0) = 0
-- -- group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
-- ) ob ON dn.Id=ob.DNId
-- where dn.Id=@DNId


INSERT INTO tbtrx_debetnote_sellpoint (DNId,Sellpoint, IsActive,CreateOn, createby, ModifiedOn, ModifiedBy, IsDelete, DeleteBy, DeleteOn)
SELECT @DNId,Id,1,@utcDate123,@userid,null,null,0,null,null from @sellingpoint
	
INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
VALUES(@DNId,'Created',@userid,@utcDate123,@DPP, 'Created',@createdemail)

SELECT a.Id, a.RefId, b.id approver_userid
,b.username approver_username
,b.email approver_email
FROM tbtrx_debetnote a
left join tbset_user b on a.AssignBy=b.id
where a.Id=@DNId



COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
       @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
             @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
END CATCH
GO
