

/****** Object:  StoredProcedure [dbo].[ip_promo_accrual_report_byId]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_accrual_report_byId] --'2020',0,0,0,0,'scsh1','2020-01-22'
--DECLARE
@id int

AS
BEGIN
    SELECT
        entity
        ,distributor
        ,principalDesc
        ,budgetSource
        ,initiator
        ,createOn
        ,lastUpdate
        ,promoNumber
        ,subCategory
        ,activity
        ,subActivity
        ,activityDesc
        ,mechanisme1
        ,mechanisme2
        ,mechanisme3
        ,mechanisme4
        ,channelDesc
        ,accountDesc
        ,subAccountDesc
        ,lastStatus
        ,approvalNotes
        ,target
        ,investment
        ,dnClaim
        ,dnPaid
        ,startPromo
        ,endPromo
        ,accrueMTD
        ,accrueYTD
        ,tsCoding
		,grpBrandId
		,grpBrandDesc
    FROM tbhis_accrual_report_dtl
    WHERE Id=@id
END
GO
