USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_list_for_promo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_budgetallocation_list_for_promo]
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @userid='cmmmka'
AS

BEGIN

SELECT
	  p.LongDesc Entity
	  ,d.LongDesc Distributor
	  ,c.Id
	  ,m.Periode
	  ,c.RefId
	  ,sctg.LongDesc SubCategory
	  ,c.BudgetType
	  ,m.DistributorId
	  ,d.LongDesc DistributorName
	  ,c.OwnerId
	  ,uo.username OwnerName
	  ,c.FromOwnerId
	  ,uf.username FromOwnerName
	  ,c.BudgetmasterId
	  ,c.BudgetAmount
	  ,isnull(b.RemainingAmount, 0) RemainingBudget
	  ,c.LongDesc
	  ,c.ShortDesc
	  ,c.StatusApproval
	  ,c.IsActive
	  ,c.IsLocked
FROM tbtrx_allocation_detail a with (nolock)
inner join tbtrx_allocation_balance b with (nolock) on a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId
inner join tbtrx_allocation c with (nolock) on a.AllocationId=c.Id
inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
inner join tbmst_subcategory sctg on a.SubCategoryId=sctg.id
inner join tbset_user uo on uo.Id=c.OwnerId
inner join tbset_user uf on uf.Id=c.FromOwnerId
WHERE c.Periode=@periode 
AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=a.AllocationId)
AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
AND StatusApproval='AP2'
END
GO
