USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_for_validatebysales_paralel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list_for_validatebysales_paralel] --'xvamain','validate_by_finance',2,2,'0', '2020'
@userid varchar(50),
@status varchar(50),
@entityid int,
@distributorid int,
@TaxLevel varchar(100),
@period varchar(4)
AS
BEGIN
--	SET @status = 'validate_by_finance';
	
	DROP TABLE IF EXISTS #temp_promo
		
	SELECT distinct pr.Id, pr.RefId, mc.ShortDesc, pr.CreateBy, pr.investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0)))  Remaining
		, pr.CategoryShortDesc
	INTO #temp_promo
    FROM tbtrx_promo pr WITH (nolock)
    INNER JOIN tbmst_category mc WITH (nolock) ON pr.categoryId = mc.id
    INNER JOIN  tbtrx_debetnote dn ON  pr.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0
--    INNER JOIN
--	(
--		SELECT PromoId, string_agg(subacc.LongDesc,' ,') SubAccountDesc
--				FROM tbtrx_promo_subaccount a with (nolock)
--				INNER JOIN tbmst_subaccount subacc with (nolock) ON a.subaccountid = subacc.Id 
--			GROUP BY a.PromoId
--	) subaccount on pr.id=subaccount.promoid        
	WHERE dn.Periode = @period
			AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',dn.PrincipalId)
			AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',dn.DistributorId)
			AND isnull(dn.IsCancel,0)=0 AND isnull(dn.IsDNPromo, 0) = 1
			AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',dn.TaxLevel)    
    GROUP BY pr.Id, pr.RefId, pr.CreateBy, pr.investment, mc.shortdesc, pr.CategoryShortDesc
	
	SET @status = 'send_to_danone';
	IF @userid = 'admin'
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid
		,IIF(isnull(a.StatusSalesCode, '')='TP2', 'validate_by_sales', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,a.IsOverBudget
		,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo
		,a.IntDocNo
		,a.Notes
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.StatusSalesCode
		,IIF(isnull(a.StatusSalesCode, '')='TP2', 'validate_by_sales', a.LastStatus) StatusSales
		,a.StatusSalesOn
		,a.StatusSalesBy
		,a.StatusSalesDistOn
		,a.StatusSalesDistBy
		,a.StatusSalesNotes
		,IIF(b.ShortDesc = 'DC',
			IIF(a.StatusSalesCode='TP1', 'No', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Rejected by Sales', 'No'))) 
			,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark by Sales', 'No')))) SalesValidationStatus
	 	,g.actionOn SalesValidationStatusOn
		,a.AccountId SubAccountId
--		,ts.LongDesc SubAccount
		,IIF(b.CategoryShortDesc<>'DC', subaccount.SubAccountDesc, 'All Sub Account') SubAccount
        ,doc.Original_Invoice_from_retailers
        ,doc.Tax_Invoice
        ,doc.Promotion_Agreement_Letter
        ,doc.Trading_Term
        ,doc.Sales_Data
        ,doc.Copy_of_Mailer
        ,doc.Copy_of_Photo_Doc
        ,doc.List_of_Transfer
      ,IIF(isnull(his.validate_by_finance_by,'')='', 'No', 'Yes') FinanceValidationStatus
        ,his.validate_by_finance_on FinanceValidationStatusOn
        ,b.Remaining
		from tbtrx_debetnote a
--		inner join tbmst_subaccount ts ON a.AccountId = ts.id
		inner join tbtrx_debetnote_his his on a.id=his.DNId 
		LEFT JOIN tbtrx_debetnote_doc_completeness doc on a.id=doc.DNId
        LEFT JOIN
            (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
      from tbhis_debetnote_sales_log
            group by parentid, StatusSalesCode) g on a.id=g.ParentId and a.StatusSalesCode=g.StatusSalesCode
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN #temp_promo b on a.PromoId=b.Id
	    LEFT JOIN
		(
			SELECT PromoId, string_agg(subacc.LongDesc,' ,') SubAccountDesc
					FROM tbtrx_promo_subaccount a with (nolock)
					INNER JOIN tbmst_subaccount subacc with (nolock) ON a.subaccountid = subacc.Id 
				GROUP BY a.PromoId
		) subaccount on a.promoid=subaccount.promoid        		
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
		WHERE a.Periode = @period
--			and a.LastStatus IN ('send_to_danone','received_by_danone','validate_by_finance')
			AND ((b.ShortDesc = 'DC' and a.LastStatus IN ('received_by_danone'))
				OR (b.ShortDesc <> 'DC' and a.LastStatus IN ('send_to_danone','received_by_danone','validate_by_finance')))
			AND (isnull(a.StatusSalesCode, '') = '' 
				OR isnull(a.StatusSalesCode, '') = 'TP1' 
				OR (b.ShortDesc = 'DC' AND a.LastStatus IN ('received_by_danone' ) AND isnull(a.StatusSalesCode, '') = 'TP3'))
			AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
			AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
			AND isnull(a.IsCancel,0)=0 AND isnull(a.IsDNPromo, 0) = 1
			AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)

	END
	ELSE
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid
		,IIF(isnull(a.StatusSalesCode, '')='TP2', 'validate_by_sales', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,a.IsOverBudget
		,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo
		,a.IntDocNo
		,a.Notes
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.StatusSalesCode
		,IIF(isnull(a.StatusSalesCode, '')='TP2', 'validate_by_sales', a.LastStatus) StatusSales
		,a.StatusSalesOn
		,a.StatusSalesBy
		,a.StatusSalesDistOn
		,a.StatusSalesDistBy
		,a.StatusSalesNotes
		,IIF(b.ShortDesc = 'DC',
			IIF(a.StatusSalesCode='TP1', 'No', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Rejected by Sales', 'No'))) 
			,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark by Sales', 'No')))) SalesValidationStatus
	 	,g.actionOn SalesValidationStatusOn	 	
		,a.AccountId SubAccountId
--		,ts.LongDesc SubAccount
		,IIF(b.CategoryShortDesc<>'DC', subaccount.SubAccountDesc, 'All Sub Account') SubAccount
        ,doc.Original_Invoice_from_retailers
        ,doc.Tax_Invoice
        ,doc.Promotion_Agreement_Letter
        ,doc.Trading_Term
        ,doc.Sales_Data
        ,doc.Copy_of_Mailer
        ,doc.Copy_of_Photo_Doc
        ,doc.List_of_Transfer
        ,IIF(isnull(his.validate_by_finance_by,'')='', 'No', 'Yes') FinanceValidationStatus
        ,his.validate_by_finance_on FinanceValidationStatusOn
        ,b.Remaining
		from tbtrx_debetnote a
--		inner join tbmst_subaccount ts ON a.AccountId = ts.id
		inner join tbtrx_debetnote_his his on a.id=his.DNId 
		LEFT JOIN tbtrx_debetnote_doc_completeness doc on a.id=doc.DNId
        LEFT JOIN
            (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
            from tbhis_debetnote_sales_log
            group by parentid, StatusSalesCode) g on a.id=g.ParentId and a.StatusSalesCode=g.StatusSalesCode
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN #temp_promo b on a.PromoId=b.Id
	    LEFT JOIN
		(
			SELECT PromoId, string_agg(subacc.LongDesc,' ,') SubAccountDesc
					FROM tbtrx_promo_subaccount a with (nolock)
					INNER JOIN tbmst_subaccount subacc with (nolock) ON a.subaccountid = subacc.Id 
				GROUP BY a.PromoId
		) subaccount on a.promoid=subaccount.promoid        				
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
		WHERE a.Periode = @period
--			and a.LastStatus IN ('send_to_danone','received_by_danone','validate_by_finance')
			AND ((b.ShortDesc = 'DC' and a.LastStatus IN ('received_by_danone'))
				OR (b.ShortDesc <> 'DC' and a.LastStatus IN ('send_to_danone','received_by_danone','validate_by_finance')))
			AND (isnull(a.StatusSalesCode, '') = '' 
				OR isnull(a.StatusSalesCode, '') = 'TP1' 
				OR (b.ShortDesc = 'DC' AND a.LastStatus IN ('received_by_danone' ) AND isnull(a.StatusSalesCode, '') = 'TP3'))
			AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
			AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
			and isnull(a.IsCancel,0)=0 AND isnull(a.IsDNPromo, 0) = 1
			AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
			AND b.CreateBy = @userid
	END
	
	DROP TABLE IF EXISTS #temp_promo
END
GO
