USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_budget_deploy_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_budget_deploy_list] 
	@Period int, 
	@ChannelId ArrayIntType Readonly, 
	@subactivityTypeId ArrayIntType Readonly,
	@groupBrand ArrayIntType Readonly,
	@5bio int =0
AS

/*TEST*/
--	DECLARE
--		@Period int, 
--		@ChannelId ArrayIntType , 
--		@subactivityTypeId ArrayIntType, 
--		@groupBrand ArrayIntType ,
--		@5bio int =0

--		SET @Period = 2025 
--		--INSERT INTO @ChannelId		select id from tbmst_channel where ISNULL(IsDelete,0)=0
--		--INSERT INTO @subactivitytypeId select id from tbmst_subactivity_type where ISNULL(IsDeleted,0)=0	
--		--INSERT INTO @groupBrand		select id from tbmst_brand_group where ISNULL(IsDeleted,0)=0
--		SET @5bio=NULL

--	----	EXEC [ip_budget_approval_list]
--	----			@Period, 
--	----			@ChannelId, 
--	----			@subactivityTypeId, 
--	----			@groupBrand,
--	----			@5bio

BEGIN
	DECLARE
	@pChannelId ArrayIntType , 
	@psubactivityTypeId ArrayIntType ,
	@pgroupBrand ArrayIntType ,
	@cnt int

	SELECT @cnt=COUNT(*) FROM @ChannelId

	IF @cnt=0 
		BEGIN
			INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
		END
	ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @ChannelId) = 0
		BEGIN
			INSERT INTO @pChannelId (keyid) select id from tbmst_channel where isnull(IsDelete,0) = 0
		END
	ELSE 
		BEGIN
			INSERT INTO @pChannelId (keyid) select keyid from @ChannelId 
		END

	SELECT @cnt=COUNT(*) FROM @subactivityTypeId

	IF @cnt=0 
		BEGIN
			INSERT INTO @psubactivityTypeId (keyid) select id from tbmst_subactivity_type where isnull(IsDeleteD,0) = 0
		END
	ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @subactivityTypeId) = 0
		BEGIN
			INSERT INTO @psubactivityTypeId (keyid) select id from tbmst_subactivity_type where isnull(IsDeleteD,0) = 0
		END
	ELSE 
		BEGIN
			INSERT INTO @psubactivityTypeId (keyid) select keyid from @subactivityTypeId
		END


	SELECT @cnt=COUNT(*) FROM @groupBrand

	IF @cnt=0 
		BEGIN
			INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
		END
	ELSE IF @cnt=1 AND (SELECT TOP 1 keyid FROM @groupBrand) = 0
		BEGIN
			INSERT INTO @pgroupBrand (keyid) select id from tbmst_brand_group where isnull(IsDeleteD,0) = 0
		END
	ELSE 
		BEGIN
			INSERT INTO @pgroupBrand (keyid) select keyid from @groupBrand
		END


	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail

	DECLARE @tmpPromoId TABLE (
		promoId int)
	
	IF @5bio IS NULL
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id from tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
				INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
				INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
				INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
				INNER JOIN @psubactivityTypeId asa ON msa.SubActivityTypeId = asa.keyid
				INNER JOIN tbmst_subactivity_type msat ON asa.keyid = msat.id
				INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
				INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
				WHERE prbs.Approved=1 AND pr.LastStatus='Draft'
		END	
	ELSE IF @5bio=0
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id from tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
				INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
				INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
				INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
				INNER JOIN @psubactivityTypeId asa ON msa.SubActivityTypeId = asa.keyid
				INNER JOIN tbmst_subactivity_type msat ON asa.keyid = msat.id
				INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
				INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
				WHERE prbs.Approved=1 AND prc.Cost<=5000000000 AND pr.LastStatus='Draft'
		END
	ELSE IF @5bio=1
		BEGIN
			INSERT INTO @tmpPromoId
				SELECT pr.id from tbtrx_promo pr
				INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId AND Period = @Period
				INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
				INNER JOIN @pChannelId ach ON prch.ChannelId = ach.keyid
				INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
				INNER JOIN @psubactivityTypeId asa ON msa.SubActivityTypeId = asa.keyid
				INNER JOIN tbmst_subactivity_type msat ON asa.keyid = msat.id
				INNER JOIN tbtrx_promo_budget_status prbs ON pr.Id=prbs.PromoId
				INNER JOIN @pgroupBrand gb ON pr.GroupBrandId = gb.keyid
				WHERE prbs.Approved=1 AND prc.Cost>5000000000 AND pr.LastStatus='Draft'
		END

	SELECT
	pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.longdesc subActivityType, COUNT(*) promoIdTotCount, SUM(prc.Cost) totInvestment
	--pr.period, prch.channelId, mc.LongDesc channel, msa.subActivityTypeId, msat.LongDesc subActivityType, COUNT(*) promoIdTotCount, SUM(prc.Cost) totInvestment 
	INTO #tempResultSum
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_calculator prc on pr.Id = prc.PromoId 
	INNER JOIN tbtrx_promo_channel prch on pr.Id = prch.PromoId
	INNER JOIN tbmst_channel mc on prch.ChannelId = mc.Id
	INNER JOIN tbmst_subactivity msa ON pr.SubActivityId = msa.id
	INNER JOIN tbmst_subactivity_type msat ON msa.SubActivityTypeId = msat.id
	--INNER JOIN tbmst_brand_group mbrg ON pr.groupbrandid = mbrg.id
	GROUP BY pr.period, prch.channelId, mc.LongDesc , msa.subActivityTypeId, msat.LongDesc 

	SELECT
	pr.period, pr.RefId promoId, pr.entityId, mpri.LongDesc entity, pr.distributorId, mdis.LongDesc distributor
	, pr.activityId, mact.LongDesc activity, pr.ActivityDesc activityName
	, prcha.channelId, mcha.LongDesc channel, pracc.accountId, macc.LongDesc account, pr.StartPromo promoStart, pr.EndPromo promoEnd, prcal.Cost investment, tpr.promoId Id 
	, msac.subActivityTypeId, msat.LongDesc subActivityType
	INTO #tempResultDetail
	from @tmpPromoId tpr
	INNER JOIN tbtrx_promo pr ON tpr.promoId = pr.Id
	INNER JOIN tbtrx_promo_calculator prcal on pr.Id = prcal.PromoId 
	INNER JOIN tbtrx_promo_channel prcha on pr.Id = prcha.PromoId
	INNER JOIN tbmst_channel mcha on prcha.ChannelId = mcha.Id
	INNER JOIN tbmst_subactivity msac ON pr.SubActivityId = msac.id
	INNER JOIN tbmst_subactivity_type msat ON msac.SubActivityTypeId = msat.id
	INNER JOIN tbmst_principal mpri ON pr.EntityId = mpri.Id
	INNER JOIN tbmst_distributor mdis ON pr.DistributorId = mdis.Id
	INNER JOIN tbmst_activity mact ON pr.ActivityId = mact.Id
	INNER JOIN tbtrx_promo_account pracc ON pr.id = pracc.PromoId
	INNER JOIN tbmst_account macc ON pracc.AccountId = macc.Id
	--INNER JOIN tbmst_brand_group mbrg ON pr.groupbrandid = mbrg.id

select * from #tempResultSum
select * from #tempResultDetail

	DROP TABLE IF EXISTS #tempResultSum
	DROP TABLE IF EXISTS #tempResultDetail

--DUMMY
--SUMM
--SELECT
--	2025 period, 0 channelId, 'MMKA' channel, 2 subActivityTypeId, 'CONTRACTUAL' subActivityType, 12345 promoIdTotalCount, 123456789012345 BudgetAmount 
----DETAILS
--SELECT
--	2025 Period, 'SGM00001/AL25/RC' promoId, 2 entityId, 'Sari Husada Generasi Mahardika' Entity, 2 distributorId, 'Tigaraksa' distributor
--	, 1 activityId, 'Trading Term - Consumer Promo' activity, 'Promo 2025' activityName
--	, 6 channelId, 'MMKA' channel, 6 accountId, 'ALFAMART' account, '2025-01-01' promoStart, '2025-12-31' promoEnd, 1234567890 Investment
	
END
GO
