USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_master_sellingpoint]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_sellingpoint]
@Sellingpoint SellingPointType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
SELLINGPOINT
*****************/

	MERGE tbmst_sellingpoint t
	USING 		
	(
	SELECT a.Sellingpoint RefId
	,a.SellingPointDesc LongDesc
	,a.AreaCode
	,b.Id RegionId
	,a.ProfitCenter
	FROM
	@Sellingpoint a INNER JOIN tbmst_region b on a.Region=b.LongDesc
	) s
	ON REPLICATE('0',10-LEN(t.RefId)) + t.RefID = REPLICATE('0',10-LEN(s.RefId)) + s.RefID
	WHEN MATCHED THEN
	UPDATE 
	SET t.LongDesc=s.LongDesc
	,t.RegionId=s.RegionId
	,t.ProfitCenter=s.ProfitCenter
	,t.AreaCode=s.AreaCode
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		
           [RefId]
		   ,[AreaCode]
		   ,[RegionId]
		   ,[LongDesc]
		   ,[ProfitCenter]
		   ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           RefId
           ,AreaCode
		   ,RegionId
		   ,LongDesc
		   ,[ProfitCenter]
		   ,1
           ,@utcDate123
           ,@userid
           );


END


GO
