USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_select_recon]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_select_recon] --9,''
	-- Add the parameters for the stored procedure here
	@Id				INT,
	@LongDesc		VARCHAR(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		PromoId INT NULL,
		AllocationId INT NULL
	)

	INSERT INTO @ALO(PromoId,AllocationId)
	SELECT p.Id,a.Id
	FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
	INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
	WHERE ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0 
		AND (ISNULL(@Id,'')='' OR p.Id=@Id)
		--AND (ISNULL(@LongDesc,'')='' OR ALLOC.LongDesc LIKE @LongDesc)

	SELECT
		pr.PromoPlanId
		,pr.RefId
		,pr.Id
		,pl.RefId PromoPlanRefId
		,pr.CreateOn
		,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
		,pr.CreateBy
		,pr.ActivityDesc	
		,pr.Investment
--		,PREV.Investment PrevInvestment
		,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
			, pr.Investment
			, IIF(PREV.id is null, pr.Investment, isnull(PREV.Investment, 0))) PrevInvestment
		,cast(format(round(pr.NormalSales,0),'#') as bigint) NormalSales
--		,PREV.NormalSales PrevNormalSales
		,cast(format(round(
			IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
			, pr.NormalSales
			, IIF(PREV.id is null, pr.NormalSales, isnull(PREV.NormalSales, 0)))
			,0),'#') as bigint) PrevNormalSales
		,pr.IncrSales
--		,PREV.IncrSales PrevIncrSales
		,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
			, pr.IncrSales
			, IIF(PREV.id is null, pr.IncrSales, isnull(PREV.IncrSales, 0))) PrevIncrSales
--		,(PREV.NormalSales + PREV.IncrSales) PrevTotSales
		,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
			, pr.NormalSales + pr.IncrSales
			, IIF(PREV.id is null, pr.NormalSales + pr.IncrSales, isnull(PREV.NormalSales, 0) + isnull(PREV.IncrSales, 0))) PrevTotSales
		,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
--		,pr.Roi
--		,PREV.Roi PrevRoi
--		,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', (pr.IncrSales-pr.Investment)/pr.Investment, (PREV.IncrSales-PREV.Investment)/PREV.Investment) PrevRoi
		,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
			, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100)
			, IIF(PREV.id is null, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100)
			, iif(isnull(PREV.Investment,0)=0,0,(PREV.IncrSales-PREV.Investment)/prev.Investment * 100))) PrevRoi
--		,pr.CostRatio
		,iif(isnull((pr.IncrSales+pr.normalsales),0)=0,0,pr.Investment/(pr.IncrSales+pr.normalsales) * 100) as CostRatio
--		,PREV.CostRatio PrevCostRatio
		,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')=''
			, iif(isnull((pr.IncrSales+pr.normalsales),0)=0,0,pr.Investment/(pr.IncrSales+pr.normalsales) * 100)
			, IIF(PREV.id is null
				, iif(isnull((pr.IncrSales+pr.normalsales),0)=0,0,pr.Investment/(pr.IncrSales+pr.normalsales) * 100)
				, iif(isnull((PREV.IncrSales+PREV.normalsales),0)=0,0,PREV.Investment/(PREV.IncrSales+PREV.normalsales) * 100))) PrevCostRatio
		,pr.Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.StartPromo
		,pr.EndPromo	
		,ALLOC.Id AllocationId
		,ALLOC.Periode
		,ALLOC.RefId AllocationRefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName
		,ALLOC.OwnerId
		,uo.username BudgetOwner
		,ALLOC.FromOwnerId
		,uf.username FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,pr.SubCategoryId
		,pr.ActivityId
		,ta.LongDesc as ActivityLongDesc 
		,pr.SubactivityId
		,ts.LongDesc as SubActivityLongDesc
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		,ALLOC.BudgetAmount
		,bal.remainingamount as RemainingBudget
		,ALLOC.LongDesc AllocationDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
		,his.UserApprover1
--		,left(appr1.username, 15) UserApprover1Name
		,left(his.UserApproverName1, 15) UserApprover1Name
		,replace(his.LastStatus1,'for ','') LastStatus1
		,his.ApprovalDate1
		,his.UserApprover2
--		,left(appr2.username, 15) UserApprover2Name
		,left(his.UserApproverName2, 15) UserApprover2Name
		,replace(his.LastStatus2,'for ','') LastStatus2
		,his.ApprovalDate2
		,his.UserApprover3
--		,left(appr3.username, 15) UserApprover3Name
		,left(his.UserApproverName3, 15) UserApprover3Name
		,replace(his.LastStatus3,'for ','') LastStatus3
		,his.ApprovalDate3
		,his.UserApprover4
--		,left(appr4.username, 15) UserApprover4Name
		,left(his.UserApproverName4, 15) UserApprover4Name
		,replace(his.LastStatus4,'for ','') LastStatus4
		,his.ApprovalDate4
		,his.UserApprover5
--		,left(appr5.username, 15) UserApprover5Name
		,left(his.UserApproverName5, 15) UserApprover5Name
		,replace(his.LastStatus5,'for ','') LastStatus5
		,his.ApprovalDate5
		,attr.RegionDesc
		,attr.ChannelDesc
		,attr.AccountDesc
		,attr.BrandDesc
		,attr.ProductDesc
		,@utcDate123 + 90 CutOffClaim
		,isnull(CancelReason,'') CancelReason
		,pr.Notes
		,pr.ApprovalNotesRecon ApprovalNotes
		,pr.TsCoding
		,pr.Reconciled 
		,td.Invoiced
		,IIF(PREV.id is null, pr.Mechanisme1, PREV.Mechanisme1) prevMechanism1
		,IIF(PREV.id is null, pr.Mechanisme2, PREV.Mechanisme2) prevMechanism2
		,IIF(PREV.id is null, pr.Mechanisme3, PREV.Mechanisme3) prevMechanism3
		,IIF(PREV.id is null, pr.Mechanisme4, PREV.Mechanisme4) prevMechanism4
		
		,hisprev.UserApprover1 UserApprover1prev
--		,left(appr1prev.username, 15) UserApprover1prevName
		,left(hisprev.UserApproverName1, 15) UserApprover1prevName
		,replace(hisprev.LastStatus1,'for ','') LastStatus1prev
		,hisprev.ApprovalDate1 ApprovalDate1prev

		,hisprev.UserApprover2 UserApprover2prev
--		,left(appr2prev.username, 15) UserApprover2prevName
		,left(hisprev.UserApproverName2, 15) UserApprover2prevName
		,replace(hisprev.LastStatus2,'for ','') LastStatus2prev
		,hisprev.ApprovalDate2 ApprovalDate2prev
		
		,hisprev.UserApprover3 UserApprover3prev
--		,left(appr3prev.username, 15) UserApprover3prevName
		,left(hisprev.UserApproverName3, 15) UserApprover3prevName
		,replace(hisprev.LastStatus3,'for ','') LastStatus3prev
		,hisprev.ApprovalDate3 ApprovalDate3prev

		,hisprev.UserApprover4 UserApprover4prev
--		,left(appr4prev.username, 15) UserApprover4prevName
		,left(hisprev.UserApproverName4, 15) UserApprover4prevName
		,replace(hisprev.LastStatus4,'for ','') LastStatus4prev
		,hisprev.ApprovalDate4 ApprovalDate4prev

		,hisprev.UserApprover5 UserApprover5prev
--		,left(appr5prev.username, 15) UserApprover5prevName
		,left(hisprev.UserApproverName5, 15) UserApprover5prevName
		,replace(hisprev.LastStatus5,'for ','') LastStatus5prev
		,hisprev.ApprovalDate5 ApprovalDate5prev
		,pr.initiator_notes
	     ,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
	     ,pr.ApproverRecon userid_Approver
	     ,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
	    ,pr.InvestmentTypeId 
	    ,tit.RefId InvestmentTypeRefId
	    ,tit.LongDesc InvestmentTypeDesc
	    ,pr.late_submission_day
--		,PREV.Mechanisme1 prevMechanism1
--		,PREV.Mechanisme2 prevMechanism2
--		,PREV.Mechanisme3 prevMechanism3
--		,PREV.Mechanisme4 prevMechanism4
--		,appr1.id UserApprover1
--		,left(appr1.username, 15) UserApprover1Name
--		,replace(his.LastStatus1,'for ','') LastStatus1
--		,his.ApprovalDate1

--		,IIF(PREV.id is null, appr1.id, appr1prev.id) UserApprover1prev
--		,IIF(PREV.id is null, left(appr1.username, 15), left(appr1prev.username, 15)) UserApprover1prevName
--		,IIF(PREV.id is null, replace(his.LastStatus1,'for ',''), replace(hisprev.LastStatus1,'for ','')) LastStatus1prev
--		,IIF(PREV.id is null, his.ApprovalDate1, hisprev.ApprovalDate1) ApprovalDate1prev
--
--		,IIF(PREV.id is null, appr2.id, appr2prev.id) UserApprover2prev
--		,IIF(PREV.id is null, left(appr2.username, 15), left(appr2prev.username, 15)) UserApprover2prevName
--		,IIF(PREV.id is null, replace(his.LastStatus2,'for ',''), replace(hisprev.LastStatus2,'for ','')) LastStatus2prev
--		,IIF(PREV.id is null, his.ApprovalDate2, hisprev.ApprovalDate2) ApprovalDate2prev
--		
--		,IIF(PREV.id is null, appr3.id, appr3prev.id) UserApprover3prev
--		,IIF(PREV.id is null, left(appr3.username, 15), left(appr3prev.username, 15)) UserApprover3prevName
--		,IIF(PREV.id is null, replace(his.LastStatus3,'for ',''), replace(hisprev.LastStatus3,'for ','')) LastStatus3prev
--		,IIF(PREV.id is null, his.ApprovalDate3, hisprev.ApprovalDate3) ApprovalDate3prev
--
--		,IIF(PREV.id is null, appr4.id, appr4prev.id) UserApprover4prev
--		,IIF(PREV.id is null, left(appr4.username, 15), left(appr4prev.username, 15)) UserApprover4prevName
--		,IIF(PREV.id is null, replace(his.LastStatus4,'for ',''), replace(hisprev.LastStatus4,'for ','')) LastStatus4prev
--		,IIF(PREV.id is null, his.ApprovalDate4, hisprev.ApprovalDate4) ApprovalDate4prev
--
--		,IIF(PREV.id is null, appr5.id, appr5prev.id) UserApprover5prev
--		,IIF(PREV.id is null, left(appr5.username, 15), left(appr5prev.username, 15)) UserApprover5prevName
--		,IIF(PREV.id is null, replace(his.LastStatus5,'for ',''), replace(hisprev.LastStatus5,'for ','')) LastStatus5prev
--		,IIF(PREV.id is null, his.ApprovalDate5, hisprev.ApprovalDate5) ApprovalDate5prev

--		,appr5prev.id UserApprover5prev
--		,left(appr5prev.username, 15) UserApprover5prevName
--/**/		,replace(hisprev.LastStatus5,'for ','') LastStatus5prev 
--/**/		,hisprev.ApprovalDate5 ApprovalDate5prev

	FROM tbtrx_promo pr	WITH(NOLOCK) 
	inner join tbtrx_promo_planning pl WITH(NOLOCK) on pr.PromoPlanId=pl.Id
	inner join [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK) on ALLOC.Id=pr.AllocationId
	inner join tbtrx_allocation_balance as bal WITH(NOLOCK) on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
	inner join tbtrx_budgetmaster m WITH(NOLOCK) on ALLOC.BudgetMasterId=m.Id
	INNER JOIN tbmst_activity ta WITH(NOLOCK) on pr.ActivityId = ta.Id 
	INNER JOIN tbmst_subactivity ts WITH(NOLOCK) on pr.SubActivityId = ts.id 
	inner join tbmst_distributor d WITH(NOLOCK) on m.DistributorId=d.Id
	inner join tbmst_principal p WITH(NOLOCK) on m.PrincipalId=p.Id
	inner join tbset_user uo WITH(NOLOCK) on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf WITH(NOLOCK) on uf.Id=ALLOC.FromOwnerId
	inner join tbmst_category ctg WITH(NOLOCK) on ctg.Id=m.CategoryId
	left join vw_promo_approval_his_recon his WITH(NOLOCK) on pr.Id=his.PromoId 
	left join vw_promo_approval_his hisprev WITH(NOLOCK) on pr.Id=hisprev.PromoId 
	left join vw_promo_attribute attr WITH(NOLOCK) on pr.Id=attr.PromoId
	left join vw_promo_sendbackrecon_notes_last note on pr.id=note.ParentId --and pr.ApproverRecon=note.UserApprover
--	left join tbset_user appr1 WITH(NOLOCK) on appr1.Id=his.UserApprover1
--	left join tbset_user appr2 WITH(NOLOCK) on appr2.Id=his.UserApprover2
--	left join tbset_user appr3 WITH(NOLOCK) on appr3.Id=his.UserApprover3
--	left join tbset_user appr4 WITH(NOLOCK) on appr4.Id=his.UserApprover4
--	left join tbset_user appr5 WITH(NOLOCK) on appr5.Id=his.UserApprover5
--	left join tbset_user appr1prev WITH(NOLOCK) on appr1prev.Id=hisprev.UserApprover1
--	left join tbset_user appr2prev WITH(NOLOCK) on appr2prev.Id=hisprev.UserApprover2
--	left join tbset_user appr3prev WITH(NOLOCK) on appr3prev.Id=hisprev.UserApprover3
--	left join tbset_user appr4prev WITH(NOLOCK) on appr4prev.Id=hisprev.UserApprover4
--	left join tbset_user appr5prev WITH(NOLOCK) on appr5prev.Id=hisprev.UserApprover5
	left join (
		SELECT td.promoid, sum(iif(td.vatexpired=1,td.DPP+td.ppnamt,td.DPP)) - SUM(isnull(tc.dpp,0)) as Invoiced 
		FROM tbtrx_debetnote td WITH(NOLOCK) 
        LEFT JOIN (
        	SELECT dnid
        		, SUM(isnull(dpp, 0)) dpp
        	FROM tbtrx_creditnote WITH(NOLOCK)
        	WHERE isnull(iscancel, 0) = 0
        	GROUP BY dnid
        ) tc ON td.id = tc.dnid
		WHERE isnull(td.IsCancel, 0)=0
		GROUP BY td.promoid 
	) td on pr.id=td.promoid		
	/** start 2020-08-06 get prev from his **/
	LEFT JOIN 
	(
		select a.* from tbhis_promo a WITH(NOLOCK) 
		inner join 
		(
		select max(parentid) as parentid, id from tbhis_promo tp WITH(NOLOCK) 
		where StatusApprovalCode = 'TP2' and isnull(StatusApprovalCodeRecon,'') = '' and id=@Id
--		where StatusApprovalCode = 'TP1' and id=@Id
		group by id
		) b on a.parentid=b.parentid and a.id=b.id
	) PREV ON pr.id=PREV.id
	/** end 2020-08-06 get prev from his **/
	
--	left join
--	(
--		SELECT 
--		ParentId
--		,TotInvest Investment 
--		,NormalSales
--		,IncrSales
--		,TotSales
--		,Roi
--		,CostRatio
--		from tbtrx_promo_request_approval_recon
--		where ParentId IN (SELECT PromoId FROM @ALO)
--		ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
--	) PREV on pr.Id=PREV.ParentId
	left join tbtrx_promo_cancel_request cr WITH(NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
	left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
	
		WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND pr.Id IN (SELECT PromoId FROM @ALO)
		/*****************
		REGION
		*****************/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_region]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R  ON MR.Id=R.RegionId
		LEFT JOIN (select * from tbtrx_promo_region WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.RegionId=pr.RegionId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)

		/*****************
		CHANNEL
		*****************/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_channel]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R  ON MR.Id=R.ChannelId
		LEFT JOIN (select * from tbtrx_promo_channel WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ChannelId=pr.ChannelId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)

		/*****************
		SUB CHANNEL
		*****************/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_subchannel]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_subchannel] AS R  ON MR.Id=R.SubChannelId
		LEFT JOIN (select * from tbtrx_promo_subchannel WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubChannelId=pr.SubChannelId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)

		/*****************
		ACCOUNT
		*****************/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_account]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_account] AS R  ON MR.Id=R.AccountId
		INNER JOIN (select * from tbtrx_promo_account WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.AccountId=pr.AccountId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)

		/*****************
		SUB ACCOUNT
		*****************/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_subaccount]  AS MR 
		inner join tbtrx_promo_account AS prsa ON MR.AccountId=prsa.AccountId and prsa.promoid IN (SELECT PromoId FROM @ALO)
		LEFT JOIN  [dbo].[tbtrx_allocation_subaccount] AS R  ON MR.Id=R.SubAccountId
		LEFT JOIN (select * from tbtrx_promo_subaccount WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubAccountId=pr.SubAccountId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		
		/*****************
		BRAND 
		*****************/		
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as BrandPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_brand]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R  ON MR.Id=R.BrandId
		LEFT JOIN (select * from tbtrx_promo_brand WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)

		/*****************
		PRODUCT
		*****************/
		SELECT 
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag, 
		pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_product]  AS MR 
		LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R  ON MR.Id=R.ProductId
		LEFT JOIN (select * from tbtrx_promo_product WITH(NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ProductId=pr.ProductId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO) and R.BrandId IN (SELECT BrandId FROM [dbo].[tbtrx_promo_brand] WHERE promoid IN (SELECT PromoId FROM @ALO))
		ORDER BY MR.SeqNo

		/*****************
		ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS ActivityAllocId
		,ctg.ActivityId AS id
		,ctg.ActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 		
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null


		/*****************
		SUB ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS SubActivityAllocId
		,ctg.SubActivityId AS id
		,ctg.SubActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId) 
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

		/*****************
		File attach
		*****************/
		SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH(NOLOCK) where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink


		/***************
		MASTER STATUS APPROVAL
		***************/
		SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
        /***************
		SKP Validate
		***************/
		SELECT 
			PromoId,
			SKPDraftAvail,
			SKPDraftAvailOn,
			SKPDraftAvailBy,
			SKPDraftAvailBfrAct60,
			SKPDraftAvailBfrAct60On,
			SKPDraftAvailBfrAct60By,
			PeriodMatch,
			PeriodMatchOn,
			PeriodMatchBy,
			InvestmentMatch,
			InvestmentMatchOn,
			InvestmentMatchBy,
			MechanismMatch,
			MechanismMatchOn,
			MechanismMatchBy,
			SKPSign7,
			SKPSign7On,
			SKPSign7By,
			EntityDraft,
			EntityDraftOn,
			EntityDraftBy,
			BrandDraft,
			BrandDraftOn,
			BrandDraftBy,
			PeriodDraft,
			PeriodDraftOn,
			PeriodDraftBy,
			ActivityDescDraft,
			ActivityDescDraftOn,
			ActivityDescDraftBy,
			MechanismDraft,
			MechanismDraftOn,
			MechanismDraftBy,
			InvestmentDraft,
			InvestmentDraftOn,
			InvestmentDraftBy,
			Entity,
			EntityOn,
			EntityBy,
			Brand,
			BrandOn,
			BrandBy,
			ActivityDesc,
			ActivityDescOn,
			ActivityDescBy
		FROM tbtrx_promo_skp_validate WITH(NOLOCK)
		WHERE PromoId=@Id

		SELECT TotInvest Investment 
		,NormalSales
		,IncrSales
		,TotSales
		,Roi
		,CostRatio
		from tbtrx_promo_request_approval_recon WITH(NOLOCK)
		where ParentId IN (SELECT PromoId FROM @ALO)
		ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY
		
		

END
GO
