

/****** Object:  StoredProcedure [dbo].[ip_recalculate_balance_by_id_job]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ip_recalculate_balance_by_id_job] as
declare @allo_id int
DECLARE cursor_allo CURSOR
    FOR SELECT id FROM tbtrx_allocation;

OPEN cursor_allo;
FETCH NEXT FROM cursor_allo INTO @allo_id;
WHILE @@FETCH_STATUS = 0  
    BEGIN
		exec ip_recalculate_balance_by_id @allo_id;
		WAITFOR DELAY '00:00:02';
        FETCH NEXT FROM cursor_allo into @allo_id;  
    END;

CLOSE cursor_allo;
DEALLOCATE cursor_allo;



GO
