USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_log_debetnote_detail]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_log_debetnote_detail]
--DECLARE
 @id int
AS
BEGIN
	SELECT
	    dn.id, dn.RefId, dn.ActivityDesc, dn.MemDocNo, dn.IntDocNo, dn.TotalClaim, dn.TaxLevel, dn.FPNumber, dn.FPDate
	FROM tbhis_debetnote dn
    WHERE dnid=@id
    ORDER BY dnid
END
GO
