USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_management_lp]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_user_management_lp]
    @active int
as
BEGIN
    select tul.id, tul.username, tul.email, tul.contactinfo, tul.registered, tul.password_change, tul.userinput, tul.dateinput, tul.useredit
         , tul.dateedit, tul.isdeleted, tul.deletedby, tul.deletedon, tul.lastLogin, profileuser.profileuser
    from dbo.tbset_user_login tul
    left join
        (
            select id, string_agg(profileid,', ') profileuser
                from tbset_user_login_profile a with (nolock)
                GROUP BY a.id
        ) profileuser
    on tul.Id = profileuser.id
    where iif(@active=0,0,isnull(isdeleted, 0)) = iif(@active=0,0,iif(@active=2,0,1))
END
GO
