

/****** Object:  StoredProcedure [dbo].[ip_mst_map_principal_distributor_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_principal_distributor_del]
	@Id     int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_principal_distributor
	( 
       [ParentId]
      ,[PrincipalId]
      ,[DistributorId]
      ,[IsActive]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDeleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[PrincipalId]
      ,[DistributorId]
      ,[IsActive]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDeleted]
      ,[DeletedOn]
      ,[DeletedBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_principal_distributor
	WHERE Id = @Id

	DELETE tbset_principal_distributor
	WHERE 
		    Id = @Id
END




GO
