USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_forinvoice]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list_forinvoice] --'claimho1','received_by_danone'
@userid varchar(50),
@status varchar(50),
@entityid int,
@distributorid int
,@TaxLevel varchar(100)
,@dnPeriod varchar(4) = ''
,@categoryId int = 0
AS

--DEClare
--@userid varchar(50)='APLHO'
--,@status varchar(50)='ready_to_invoice'
--,@entityid int=2
--,@distributorid int=7
--,@TaxLevel varchar(100)='10509341'
--,@dnPeriod varchar(4) = '2024'
--,@categoryId int = 3

BEGIN
	DECLARE @profitcenter varchar(10)
	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
	
	IF isnull(@profitcenter,'')='1100'
	BEGIN
		 SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,a.LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo
		,concat(a.TaxLevel, ' - ', g.Description) AS TaxLevel
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
		from tbtrx_debetnote a
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		LEFT JOIN tbset_mapping_material g on a.TaxLevel = g.MaterialNumber AND a.PrincipalId=g.EntityId
		where a.LastStatus=@status
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='0','',@TaxLevel)=IIF(@TaxLevel='0','',a.TaxLevel)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
		AND IIF(@dnPeriod='','',@dnPeriod)=IIF(@dnPeriod='','',a.periode)
		AND IIF(@categoryId=0,0,@categoryId)=IIF(@categoryId='','',isnull(b.categoryId, 0))
	END
	ELSE
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,a.LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo  
		,a.TaxLevel 
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
		from tbtrx_debetnote a
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		LEFT JOIN tbset_mapping_material g on a.TaxLevel = g.MaterialNumber AND a.PrincipalId=g.EntityId
		where a.LastStatus=@status
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='0','',@TaxLevel)=IIF(@TaxLevel='0','',a.TaxLevel)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		) AND a.AreaCode=@profitcenter
		AND IIF(@dnPeriod='','',@dnPeriod)=IIF(@dnPeriod='','',a.periode)
		AND IIF(@categoryId=0,0,@categoryId)=IIF(@categoryId='','',isnull(b.categoryId, 0))
	END
END
GO
