

/****** Object:  StoredProcedure [dbo].[ip_debetnote_overbudget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_overbudget]
@periode varchar(4)
as
SELECT dn.Id
,dn.RefId
,dn.Id PromoId
,ob.RefId PromoRefId
,dn.ActivityDesc
,dn.TotalClaim
,dn.TotalPaid 
,dn.LastStatus
,dn.IsFreeze
,isnull(dn.ModifiedOn,dn.CreateOn) LastUpdate
FROM tbtrx_debetnote dn
INNER JOIN
(
SELECT 
pr.Id PromoId,
pr.RefId RefId,
pr.Investment,
dn.id DNId,
dn.TotalClaim, 
SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
pr.Investment-SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
from tbtrx_promo pr
left join  tbtrx_debetnote dn
on pr.Id=dn.PromoId
) ob ON dn.Id=ob.DNId
where ob.Remaining < 0 and dn.Periode=@periode
GO
