USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_v3_get_sourceforpromo]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_promo_planning_v3_get_sourceforpromo] --'2020',2,2,'kamsat'
 @periode varchar(4)
,@entity int
,@distributor int
,@userid varchar(50)
AS

--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@userid varchar(50)

--set @periode ='2024'
--set @entity = 0
--set @distributor =0
--set @userid ='kamsat'

BEGIN


	DECLARE @PromoPlan AS TABLE(
		Id INT NULL
	)

	INSERT INTO @PromoPlan
	SELECT pl.Id
	FROM tbtrx_promo_planning pl
	left join tbset_user uo on uo.Id=pl.CancelBy
	left join tbtrx_promo pr on pl.Id=pr.PromoPlanId --and pr.tscoding=pl.TSCode
	inner join tbmst_principal pcp on pl.EntityId=pcp.Id
	inner join tbmst_distributor dis on pl.DistributorId=dis.Id
	where 	
	IIF(@entity=0,'',pl.EntityId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',pl.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@userid='0','',pl.CreateBy) =IIF(@userid='0','',@userid)
	AND pr.Id is null
	and isnull(pl.tscode,'')<>''
	AND isnull(pl.iscancel,0)=0

	  SELECT 
	  a.Id,
      a.RefId,
	  a.tscode tscoding,
      a.EntityId,
      b.ShortDesc EntityShortDesc,
      b.LongDesc EntityLongDesc,
      a.DistributorId,
      c.ShortDesc DistributorShortDesc,
      c.LongDesc DistributorLongDesc,
      a.CategoryId,
      d.LongDesc CategoryDesc,
      d.ShortDesc CategoryShortDesc,
      a.SubCategoryId,
      e.LongDesc SubCategoryDesc,
      a.ActivityId,
--      f.LongDesc ActivityDesc,
      a.ActivityDesc,
      a.SubActivityId,
      g.LongDesc SubActivityDesc,
      a.StartPromo,
      a.EndPromo,
      a.Mechanisme1,
      a.Mechanisme2,
      a.Mechanisme3,
      a.Mechanisme4,
      a.Investment,
      a.NormalSales,
      a.IncrSales,
      a.Roi,
      a.CostRatio,
      a.Notes,
      a.CreateOn,
      a.ModifiedOn,
      a.CreateBy,
	  a.initiator_notes
	  FROM tbtrx_promo_planning a
	  INNER JOIN tbmst_principal b ON a.EntityId=b.Id
	  INNER JOIN tbmst_distributor c ON a.DistributorId=c.Id
	  INNER JOIN tbmst_category d on a.CategoryId=d.id
	  INNER JOIN tbmst_subcategory e on a.SubCategoryId=e.id
	  INNER JOIN tbmst_activity f on a.ActivityId=f.id
	  INNER JOIN tbmst_subactivity g on a.SubActivityId=g.id
	  INNER join @PromoPlan temp on temp.Id=a.Id 
	  


	SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_region]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_region pr ON MR.Id=pr.RegionId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId

	  	  
	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Channel]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_channel pr ON MR.Id=pr.ChannelId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_SubChannel]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_SubChannel pr ON MR.Id=pr.SubChannelId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Account]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_Account pr ON MR.Id=pr.AccountId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_SubAccount]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_SubAccount pr ON MR.Id=pr.SubAccountId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as BrandPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Brand]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_Brand pr ON MR.Id=pr.BrandId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId


	  SELECT 
	  CASE WHEN pr.PromoPlanId is null THEN 0 ELSE 1 END as flag, 
	  pr.PromoPlanId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
	  FROM [dbo].[tbmst_Product]  AS MR 	  
	  LEFT JOIN tbtrx_promo_planning_Product pr ON MR.Id=pr.ProductId
	  inner join @PromoPlan temp on temp.Id=pr.PromoPlanId

	  SELECT 0 flag, tppm.PromoPlanId as MechanismPromoId, tppm.MechanismId id, Mechanism, Notes, ProductId, Product, BrandId, Brand
	  FROM [dbo].tbtrx_promo_planning_mechanism tppm 
	  inner join @PromoPlan temp on temp.Id=tppm.PromoPlanId

END
GO
