USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_investment_report_all]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[ip_investment_report_all]
AS
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int,
	  BudgetType varchar(3),
	  BudgetName varchar(255),
	  InitialBudgetAmount numeric(18,0),
	  TotalSpending numeric(18,0),
	  DnClaim numeric(18,0),
	  Available numeric(18,0)
	)

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 
	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/


				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				

	INSERT INTO @Temp
	SELECT  
	Levels,
	BDG_PARENT BudgetParent,
	PARENT.Id BudgetId,
	PARENT.BudgetType,
	PARENT.LongDesc BudgetName,
	PARENT.BudgetAmount as InitialBudgetAmount,
	(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) AS TotalSpending,
	COALESCE(TPP.TotalClaim,0) DnClaim,
	PARENT.BudgetAmount-(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) as AVAILABLE
	FROM tbtrx_allocation PARENT
	LEFT JOIN
	(
	SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
	INNER JOIN
	(
	SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
	LEFT JOIN
		tbtrx_budgetassignment
	ON
		tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
	) B
	ON A.BudgetSourceId=B.Id
		and A.BudgetType='BTR'
	where 
	A.IsActive=1 GROUP BY B.AllocationId
	) CHILD ON PARENT.Id=CHILD.AllocationId 
	LEFT JOIN
	(
	SELECT	tbtrx_allocation_balance.AllocationId AS AllocationId,
							SUM(Investment) FixCost,
							SUM(ISNULL(TotalClaim, 0)) TotalClaim
					  FROM	tbtrx_promo
							INNER JOIN tbtrx_allocation_balance
							ON
								tbtrx_promo.AllocationId = tbtrx_allocation_balance.AllocationId
								AND tbtrx_promo.SubCategoryId = tbtrx_allocation_balance.SubCategoryId
							LEFT JOIN (
											SELECT tbtrx_promo.Id AS PromoId,
												   SUM(ISNULL(TotalClaim, 0))  AS TotalClaim
											  FROM tbtrx_promo
												   LEFT JOIN tbtrx_debetnote
												   ON tbtrx_promo.Id = tbtrx_debetnote.PromoId									   
											GROUP BY tbtrx_promo.Id	
							) DN
							ON
								DN.PromoId = tbtrx_promo.Id
						GROUP BY tbtrx_allocation_balance.AllocationId
		)TPP ON TPP.AllocationId=PARENT.Id
	INNER JOIN (select BDG_PARENT,BDG_CHILD,Levels,Rownumber from CTE) sourcetbl ON sourcetbl.BDG_CHILD=PARENT.Id  order by Levels
	option (maxrecursion 0);


			/***/
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	select 
	  b.RefId BudgetParent,
	  Levels,
	  c.RefId BudgetId,
	  c.BudgetType,
	  BudgetName,
	  InitialBudgetAmount,
	  TotalSpending,
	  DnClaim,
	  Available
	from @temp a
	inner join tbtrx_allocation b on a.BudgetParent=b.Id
	inner join tbtrx_allocation c on a.BudgetId=c.Id 
	--where BudgetParent <> 0
GO
