

/****** Object:  StoredProcedure [dbo].[ip_distributor_wht]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[ip_distributor_wht] --3
@id int
as

BEGIN
	SELECT id, distributor, subActivity, subAccount, WHTType, modifiedBy, modifiedEmail, modifiedOn
	FROM tbset_distributor_wht
	WHERE  id=@id
END




GO
