USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_upload_attchment_get]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_upload_attchment_get] 
	@profileid VARCHAR(50),
	@attachment PromoUploadAttachmentType READONLY
AS
BEGIN
	DECLARE
		@Investment NUMERIC (19,0),
		@PrincipalId INT,
		@DistributorId INT,
		@SubActivityType INT, 
		@ChannelId INT,
		@SubChannelId INT,
		@Initiator varchar(50),
		@ChnCount INT,
		@entitiydesc varchar(255),
		@distributordesc varchar(255),
		@subactivitytypedesc varchar(255),
		@channeldesc varchar(255),@subchanneldesc varchar(255),
		@categoryShortDesc varchar(20),
		@PromoId INT, 
		@PromoNumber VARCHAR(50),
		@category VARCHAR(10),
		@matrixid INT

	DECLARE @totUpload INT, @totSendbackSKP INT
	DECLARE @promosendbackSKP TABLE
	( 
		recon INT,
		[PromoId] INT,
		[PromoNumber] VARCHAR(50)
	)

	DECLARE @promomatrix TABLE
	( 
		[PromoId] INT,
		[PromoNumber] VARCHAR(50),
		pesan VARCHAR(255)
	)

	INSERT INTO @promosendbackSKP
	SELECT 
		0 recon,
		tp.Id [PromoId],
		tp.RefId [PromoNumber]
	FROM tbtrx_promo tp WITH (NOLOCK)
	INNER JOIN @attachment a ON tp.RefId = a.PromoNumber
	INNER JOIN tbmst_category cat WITH (NOLOCK) ON tp.CategoryId=cat.Id
	INNER JOIN tbtrx_promo_request_approval tpra WITH (NOLOCK) ON tp.id = tpra.ParentId AND isnull(tpra.IsCancel, 0) = 0
	INNER JOIN tbtrx_promo_approval tpa WITH (NOLOCK) ON tpra.id = tpa.RequestId AND isnull(tpa.IsOnGoing, 0) =1
	WHERE tp.StatusApprovalCode = 'TP1'
	AND tpa.Status = 'TP3'
	AND tpa.Notes LIKE '%SKP%'
	AND IIF(ISNULL(@profileid, '') = '', '', tp.CreateBy) = IIF(ISNULL(@profileid, '') = '', '', @profileid)
	UNION ALL
	SELECT 
		1 recon,
		tp.Id [PromoId],
		tp.RefId [PromoNumber]
	FROM tbtrx_promo tp WITH (NOLOCK)
	INNER JOIN @attachment a ON tp.RefId = a.PromoNumber
	INNER JOIN tbmst_category cat WITH (NOLOCK) ON tp.CategoryId=cat.Id
	INNER JOIN tbtrx_promo_request_approval_recon tpra WITH (NOLOCK) ON tp.id = tpra.ParentId AND isnull(tpra.IsCancel, 0) = 0
	INNER JOIN tbtrx_promo_approval_recon tpa WITH (NOLOCK) ON tpra.id = tpa.RequestId AND isnull(tpa.IsOnGoing, 0) =1
	WHERE tp.StatusApprovalCode = 'TP1'
	AND tpa.Status = 'TP3'
	AND tpa.Notes LIKE '%SKP%'
	AND IIF(ISNULL(@profileid, '') = '', '', tp.CreateBy) = IIF(ISNULL(@profileid, '') = '', '', @profileid)

	DECLARE cursor_promo CURSOR
	FOR SELECT 
		tp.id
		,tp.refid
		,IIF(cat.ShortDesc='DC', 'DC', 'RC') category
	FROM @promosendbackSKP pr
	INNER JOIN tbtrx_promo tp WITH (NOLOCK) ON pr.PromoId = tp.id
	INNER JOIN tbmst_category cat WITH (NOLOCK) ON tp.CategoryId=cat.Id
	;
	 
	OPEN cursor_promo;
	FETCH NEXT FROM cursor_promo
	INTO @PromoId, @PromoNumber, @category;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT
			@Investment = pr.investment,
			@PrincipalId = tb.principalid,
			@DistributorId = tb.distributorid,
			@SubActivityType = ts.subactivitytypeid, 
			@ChannelId = tpc.channelid,
			@SubChannelId = tps.subchannelid,
			@Initiator = pr.createby
		FROM tbtrx_promo pr
		INNER JOIN tbtrx_allocation ta ON pr.allocationid = ta.id
		INNER JOIN tbtrx_budgetmaster tb ON ta.BudgetMasterId = tb.id
		INNER JOIN tbmst_subactivity ts ON pr.subactivityid = ts.id
		INNER JOIN tbtrx_promo_channel tpc ON pr.id = tpc.promoid
		INNER JOIN tbtrx_promo_subchannel tps ON pr.id = tps.promoid
		WHERE pr.id = @PromoId

		IF @category<>'DC'
		BEGIN
			SELECT top 1  @matrixid=tmpa.Id FROM tbset_matrix_promo_approval tmpa
				INNER JOIN tbmst_category c on tmpa.CategoryId=c.Id	
				WHERE isnull(Periode,'')=''
				AND PrincipalId=@PrincipalId
				AND DistributorId=@DistributorId
				AND SubActivityType=@SubActivityType
				AND ChannelId=@ChannelId
				AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
				AND [Initiator]=@Initiator
				AND @Investment >= MinInvestment and @Investment <= MaxInvestment
				AND c.ShortDesc='RC'
		
			select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
			select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
			select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
			select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
			select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

			IF @matrixid is null
			BEGIN
				INSERT INTO @promomatrix VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ' + cast(@channeldesc as varchar), ', Initiator: ' + cast(@Initiator as varchar)))
			END
		END
		ELSE
		BEGIN
			SET @ChnCount=(SELECT COUNT(*) FROM tbtrx_promo_channel WHERE promoid = @PromoId)

			IF @ChnCount>1
			BEGIN
				SELECT top 1 @matrixid=a.Id FROM tbset_matrix_promo_approval a
					INNER JOIN tbmst_category c on a.CategoryId=c.Id	
					INNER JOIN 
					(
						SELECT Id ChnId FROM tbmst_channel WHERE ShortDesc='ALL'
					) b ON a.ChannelId=b.ChnId
				WHERE isnull(Periode,'')=''
				AND PrincipalId=@PrincipalId
				AND DistributorId=@DistributorId
				AND SubActivityType=@SubActivityType
				AND ChannelId=b.ChnId
				AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
				AND [Initiator]=@Initiator
				AND @Investment >= MinInvestment and @Investment <= MaxInvestment
				AND c.ShortDesc='DC'

				select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
				select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
				select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
				select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
				select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

				IF @matrixid is null
				BEGIN
					INSERT INTO @promomatrix VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ALL CHANNEL, Initiator: ' + cast(@Initiator as varchar)))
				END
			END
			ELSE
			BEGIN
				SELECT top 1  @matrixid=a.Id FROM tbset_matrix_promo_approval a
				INNER JOIN tbmst_category c on a.CategoryId=c.Id	
				WHERE isnull(Periode,'')=''
				AND PrincipalId=@PrincipalId
				AND DistributorId=@DistributorId
				AND SubActivityType=@SubActivityType
				AND ChannelId=@ChannelId
				AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
				AND [Initiator]=@Initiator
				AND @Investment >= MinInvestment and @Investment <= MaxInvestment
				AND c.ShortDesc='DC'

				select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
				select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
				select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
				select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
				select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

				IF @matrixid is null
				BEGIN
					INSERT INTO @promomatrix VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ' + cast(@channeldesc as varchar), ', Initiator: ' + cast(@Initiator as varchar)))
				END
			END
		END
		FETCH NEXT FROM cursor_promo
		INTO @PromoId, @PromoNumber, @category;
	END

	CLOSE cursor_promo;
	DEALLOCATE cursor_promo;

	SELECT a.*, IIF(ISNULL(b.PromoNumber, '') = '', 0, 1) sendbackautoclear, ISNULL(c.pesan, '') pesan
	FROM @attachment a 
	LEFT JOIN @promosendbackSKP b ON a.PromoNumber = b.PromoNumber
	LEFT JOIN @promomatrix c ON a.PromoNumber = c.PromoNumber

	SET @totUpload = (SELECT COUNT(PromoNumber) FROM @attachment)
	SET @totSendbackSKP = (SELECT COUNT(PromoNumber) FROM @promosendbackSKP)

	SELECT @totUpload totUpload, @totSendbackSKP totSendbackSKP
END
GO
