USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_upload_attchment]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_upload_attchment]
	@profileid VARCHAR(50),
	@email VARCHAR(100),
	@attachment PromoUploadAttachmentType READONLY
AS
	--DECLARE
	--	@profileid VARCHAR(50),
	--	@email VARCHAR(100),
	--	@attachment PromoUploadAttachmentType

	--SET @profileid = 'kamsat'
	--SET @email = 'tes@gmail.com'

	--INSERT INTO @attachment 
	--VALUES('SGM00014/AL24/DC', '', '', '', '', 'file5.tes', 'file6.tes', 'file7.tes')
	--	,('SGM00015/AL24/RC', '', '', '', '', 'file5.tes', 'file6.tes', '')

BEGIN
	--BEGIN TRY
	--BEGIN TRANSACTION

		DECLARE @utcDate123 DATETIME
		SET @utcDate123 = dbo.getUTCDateConversion()

		DECLARE 
			@sttAttachmentRC INT,
			@sttAttachmentDC INT,
			@PromoId INT,
			@PromoNumber VARCHAR(50),
			@category varchar(2),
			@RequestId INT,
			@p_reqid INT,
			@matrixid INT,
			@Investment NUMERIC (19,0),
			@PrincipalId INT,
			@DistributorId INT,
			@SubActivityType INT, 
			@ChannelId INT,
			@SubChannelId INT,
			@Initiator varchar(50),
			@ChnCount INT,
			@entitiydesc varchar(255),
			@distributordesc varchar(255),
			@subactivitytypedesc varchar(255),
			@channeldesc varchar(255),@subchanneldesc varchar(255),
			@categoryShortDesc varchar(20),
			@messageout varchar(255),
			@MajorChanges INT,
			@failed INT

			DECLARE @res TABLE
			( 
				recon INT,
				id INT,
				refid varchar(50),
				statuscode INT,
				userid_initiator VARCHAR(50),
				username_initiator VARCHAR(100),
				email_initiator VARCHAR(100),
				userid_approver VARCHAR(50),
				username_approver VARCHAR(100),
				email_approver VARCHAR(100),
				isfullyapproved INT,
				major_changes INT
			)

			DECLARE @tbfailed as TABLE 
			(
				PromoId INT,
				PromoNumber VARCHAR(50),
				[status] varchar(max)
			)


		SELECT TOP 1
			@sttAttachmentRC = Attachment
			FROM tbset_major_changes
			WHERE CategoryId=(SELECT TOP 1 id FROM tbmst_category WHERE ShortDesc<>'DC');

		SELECT TOP 1
			@sttAttachmentDC = Attachment
			FROM tbset_major_changes
			WHERE CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='DC');

		/* Delete Promo doclink */
		DELETE tpd
		FROM tbtrx_promo_doclink tpd
		INNER JOIN (
			SELECT pr.id,CONCAT('row', DX_Order) doclink
			FROM @attachment a
			INNER JOIN tbtrx_promo pr ON a.promonumber= pr.refid
			CROSS APPLY (VALUES (filename1,1),(filename2,2),(filename3,3),(filename4,4),(filename5,5),(filename6,6),(filename7,7)) cs (DX, DX_Order)
			WHERE ISNULL(DX, '') <> ''
			AND IIF(ISNULL(@profileid, '') = '', '', pr.CreateBy) = IIF(ISNULL(@profileid, '') = '', '', @profileid)
		) b ON tpd.promoid = b.id and tpd.DocLink = b.doclink

		/* INSERT Promo docllink */
		INSERT INTO tbtrx_promo_doclink
		(
			PromoId,
			DocLink,
			FileName,
			CreateOn,
			CreateBy
		)
		SELECT pr.id, CONCAT('row', DX_Order) doclink, DX FileName, @utcDate123, @profileid
		FROM @attachment a
		INNER JOIN tbtrx_promo pr ON a.promonumber= pr.refid
		Cross apply (values (filename1,1),(filename2,2),(filename3,3),(filename4,4),(filename5,5),(filename6,6),(filename7,7)) cs (DX, DX_Order)
		WHERE isnull(DX, '') <> ''
		AND IIF(ISNULL(@profileid, '') = '', '', pr.CreateBy) = IIF(ISNULL(@profileid, '') = '', '', @profileid)

		/* clear sendback cycle 1 */
		DECLARE cursor_promo CURSOR
		FOR SELECT 
			tp.Id [PromoId]
			,tp.RefId [PromoNumber]
			,IIF(cat.ShortDesc='DC', 'DC', 'RC') category
		FROM tbtrx_promo tp WITH (NOLOCK)
		INNER JOIN @attachment a ON tp.RefId = a.PromoNumber
		INNER JOIN tbmst_category cat WITH (NOLOCK) ON tp.CategoryId=cat.Id
		INNER JOIN tbtrx_promo_request_approval tpra WITH (NOLOCK) ON tp.id = tpra.ParentId AND isnull(tpra.IsCancel, 0) = 0
		INNER JOIN tbtrx_promo_approval tpa WITH (NOLOCK) ON tpra.id = tpa.RequestId AND isnull(tpa.IsOnGoing, 0) =1
		WHERE tp.StatusApprovalCode = 'TP1'
		AND tpa.Status = 'TP3'
		AND tpa.Notes LIKE '%SKP%'
		AND IIF(ISNULL(@profileid, '') = '', '', tp.CreateBy) = IIF(ISNULL(@profileid, '') = '', '', @profileid)
		;
	 
		OPEN cursor_promo;
		FETCH NEXT FROM cursor_promo
		INTO @PromoId, @PromoNumber, @category;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @category='RC'
			BEGIN
				SELECT
					@Investment = pr.investment,
					@PrincipalId = tb.principalid,
					@DistributorId = tb.distributorid,
					@SubActivityType = ts.subactivitytypeid, 
					@ChannelId = tpc.channelid,
					@SubChannelId = tps.subchannelid,
					@Initiator = pr.createby
				FROM tbtrx_promo pr
				INNER JOIN tbtrx_allocation ta ON pr.allocationid = ta.id
				INNER JOIN tbtrx_budgetmaster tb ON ta.BudgetMasterId = tb.id
				INNER JOIN tbmst_subactivity ts ON pr.subactivityid = ts.id
				INNER JOIN tbtrx_promo_channel tpc ON pr.id = tpc.promoid
				INNER JOIN tbtrx_promo_subchannel tps ON pr.id = tps.promoid
				WHERE pr.id = @PromoId

				IF @sttAttachmentRC = 1 --major changes
				BEGIN
					SET @MajorChanges = 1
					SELECT top 1  @matrixid=tmpa.Id FROM tbset_matrix_promo_approval tmpa
						INNER JOIN tbmst_category c on tmpa.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='RC'
		
					select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
					select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
					select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
					select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
					select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

					IF @matrixid is null
					BEGIN
						INSERT INTO @tbfailed VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ' + cast(@channeldesc as varchar), ', Initiator: ' + cast(@Initiator as varchar)))
					END
					ELSE
					BEGIN
						UPDATE [tbtrx_promo_request_approval]
							SET IsCancel=1
						WHERE ParentId=@PromoId
						AND ISNULL(IsCancel,0)=0

						/****************************
						BUAT REQUEST APPROVAL BARU
						INSERT KE TABLE REQUEST APPROVAL
						****************************/

						INSERT INTO [dbo].[tbtrx_promo_request_approval]
							([ParentId]
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[TotSales]
							,[TotInvest]
							,[PrevRoi]
							,[PrevCostRatio]
							,[PrevNormalSales]
							,[PrevIncrSales]
							,[PrevTotSales]
							,[PrevTotInvest]
							,[Status]
							,[TsCoding]
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,[IsCancel]
							,[RequestEmail]
						)
						SELECT
							@PromoId
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[NormalSales] + [IncrSales]
							,[Investment]
							,Roi
							,CostRatio
							,NormalSales
							,IncrSales
							,IncrSales + NormalSales
							,Investment
							,[StatusApprovalCode]
							,[TsCoding]
							,@utcDate123
							,CreateBy
							,[ModifiedOn]
							,[ModifiedBy]
							,0
							,@email
						FROM tbtrx_promo WHERE Id=@PromoId
						/************************/

						/************************
						AMBIL ID REQUEST YANG BARU DI CREATE
						************************/
						SET @RequestId=(SELECT SCOPE_IDENTITY())
						/***********************/

						/****************************
						INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_approval]
						([RequestId]
							,[Sequence]
							,[UserApprover]
							,[Status]
							,[RequestDate]
							,[ActionDate]
							,[IsOnGoing]
							,UserApproverName
							,UserApproverEmail
						)
						SELECT @RequestId
							,SeqApproval
							,Approver
							,'TP1'
							,@utcDate123
							,@utcDate123
							,IIF(SeqApproval=1,1,0)
							,b.username
							,b.email
						FROM tbset_matrix_promo_approver a
						inner join tbset_user b on a.Approver=b.id
						where ParentId=@matrixId
						/***********************************/


						--AMBIL ID REQUEST YANG BARU DI CREATE
						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

						--UPDATE STATUS DI TABLE PROMO
						UPDATE tbtrx_promo
						SET
							StatusApprovalCode=tbmst_master_status.StatusCode
							,StatusApproval=tbmst_master_status.StatusDesc
							,Approver=tbtrx_promo_approval.UserApprover
							,ApproverName=tbtrx_promo_approval.UserApproverName
							,ApproveOn=tbtrx_promo_approval.ActionDate
							,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
							,matrixapprovalid = @matrixid
						from tbtrx_promo
						inner join tbtrx_promo_request_approval
						on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
						inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
						inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval.IsCancel=0
						and tbtrx_promo_approval.IsOnGoing=1
								AND RequestId=@p_reqid
					END
				END
				ELSE
				BEGIN
					SET @MajorChanges = 0
					UPDATE A
						SET A.[Status]='TP1'
							,A.RequestDate=@utcDate123
							,A.ActionDate=@utcDate123
						FROM tbtrx_promo_approval_recon A
						LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
						WHERE ParentId=@PromoId AND IsCancel=0
						AND A.[Status]='TP3' and A.IsOnGoing=1

					UPDATE tbtrx_promo
						SET
							StatusApprovalCodeRecon=tbmst_master_status.StatusCode
							,StatusApprovalRecon=tbmst_master_status.StatusDesc
							,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
							,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
							,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
							,matrixapprovalid = @matrixid
						from tbtrx_promo
						inner join tbtrx_promo_request_approval_recon
						on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
						inner join tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval_recon.IsCancel=0
						and tbtrx_promo_approval_recon.IsOnGoing=1
						AND ParentId=@PromoId
				END
			END
			ELSE
			BEGIN
				IF @sttAttachmentDC = 1 --major changes
				BEGIN
					SET @MajorChanges = 1
					SET @ChnCount=(SELECT COUNT(*) FROM tbtrx_promo_channel WHERE promoid = @PromoId)
					SET @failed = 0

					IF @ChnCount>1
					BEGIN
						SELECT top 1 @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						INNER JOIN 
						(
							SELECT Id ChnId FROM tbmst_channel WHERE ShortDesc='ALL'
						) b ON a.ChannelId=b.ChnId
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=b.ChnId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='DC'

						select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
						select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
						select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
						select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
						select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

						IF @matrixid is null
						BEGIN
							SET @failed = 1
							INSERT INTO @tbfailed VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ALL CHANNEL, Initiator: ' + cast(@Initiator as varchar)))
						END
					END
					ELSE
					BEGIN
						SELECT top 1  @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='DC'

						select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
						select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
						select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
						select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
						select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

						IF @matrixid is null
						BEGIN
							SET @failed = 1
							INSERT INTO @tbfailed VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ' + cast(@channeldesc as varchar), ', Initiator: ' + cast(@Initiator as varchar)))
						END
					END

					IF @failed = 0
					BEGIN
						UPDATE [tbtrx_promo_request_approval]
							SET IsCancel=1
							WHERE ParentId=@PromoId
							AND ISNULL(IsCancel,0)=0

						/****************************
						BUAT REQUEST APPROVAL BARU
						INSERT KE TABLE REQUEST APPROVAL
						****************************/

						INSERT INTO [dbo].[tbtrx_promo_request_approval]
						([ParentId]
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[TotSales]
							,[TotInvest]
							,[PrevRoi]
							,[PrevCostRatio]
							,[PrevNormalSales]
							,[PrevIncrSales]
							,[PrevTotSales]
							,[PrevTotInvest]
							,[Status]
							,[TsCoding]
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,[IsCancel]
							,[RequestEmail]
						)
						SELECT
							@PromoId
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[NormalSales] + [IncrSales]
							,[Investment]
							,Roi
							,CostRatio
							,NormalSales
							,IncrSales
							,IncrSales + NormalSales
							,Investment
							,[StatusApprovalCode]
							,[TsCoding]
							,@utcDate123
							,@Initiator
							,[ModifiedOn]
							,[ModifiedBy]
							,0
							,@email
						FROM tbtrx_promo WHERE Id=@PromoId
						/************************/

						/************************
						AMBIL ID REQUEST YANG BARU DI CREATE
						************************/
							SET @RequestId=(SELECT SCOPE_IDENTITY())
						/***********************/

						/****************************
						INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_approval]
						([RequestId]
							,[Sequence]
							,[UserApprover]
							,[Status]
							,[RequestDate]
							,[ActionDate]
							,[IsOnGoing]
							,UserApproverName
							,UserApproverEmail
						)
						SELECT @RequestId
							,SeqApproval
							,Approver
							,'TP1'
							,@utcDate123
							,@utcDate123
							,IIF(SeqApproval=1,1,0)
							,b.username
							,b.email
						FROM tbset_matrix_promo_approver a
						INNER JOIN tbset_user b on a.Approver=b.id
						where ParentId=@matrixId
						/***********************************/


						--AMBIL ID REQUEST YANG BARU DI CREATE
						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

						--UPDATE STATUS DI TABLE PROMO
						UPDATE tbtrx_promo
						SET
							StatusApprovalCode=tbmst_master_status.StatusCode
							,StatusApproval=tbmst_master_status.StatusDesc
							,Approver=tbtrx_promo_approval.UserApprover
							,ApproverName=tbtrx_promo_approval.UserApproverName
							,ApproveOn=tbtrx_promo_approval.ActionDate
							,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
							,matrixapprovalid = @matrixid
						from tbtrx_promo
						INNER JOIN tbtrx_promo_request_approval
						on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
						INNER JOIN tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
						INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval.IsCancel=0
						and tbtrx_promo_approval.IsOnGoing=1
								AND RequestId=@p_reqid
					END
				END
				ELSE
				BEGIN
					SET @MajorChanges = 0
					UPDATE A
						SET A.[Status]='TP1'
							,A.RequestDate=@utcDate123
							,A.ActionDate=@utcDate123
						FROM tbtrx_promo_approval_recon A
						LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
						WHERE ParentId=@PromoId AND IsCancel=0
						AND A.[Status]='TP3' and A.IsOnGoing=1

					UPDATE tbtrx_promo
						SET
							StatusApprovalCodeRecon=tbmst_master_status.StatusCode
							,StatusApprovalRecon=tbmst_master_status.StatusDesc
							,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
							,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
							,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
							,matrixapprovalid = @matrixid
						from tbtrx_promo
						INNER JOIN tbtrx_promo_request_approval_recon
						on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
						INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval_recon.IsCancel=0
						and tbtrx_promo_approval_recon.IsOnGoing=1
						AND ParentId=@PromoId
				END
			END

			INSERT INTO @res
			SELECT 0 as recon
				,pr.id as [Id]
				,pr.RefId  as [RefId]					
				,200 as [statuscode]
				,a.Id [userid_initiator]
				,a.username [username_initiator]
				,a.email [email_initiator]
				,b.Id [userid_approver]
				,b.username [username_approver]
				,b.email [email_approver]
				,IIF(pr.StatusApprovalCode='TP2',1,0) [IsFullyApproved]
				,@MajorChanges [major_changes]
			FROM tbtrx_promo pr
			LEFT JOIN tbset_user a on pr.CreateBy=a.Id AND isnull(a.isdeleted, 0) = 0
			LEFT JOIN tbset_user b on pr.Approver=b.Id AND isnull(b.isdeleted, 0) = 0
			WHERE pr.Id=@PromoId

			FETCH NEXT FROM cursor_promo
			INTO @PromoId, @PromoNumber, @category;
		END

		CLOSE cursor_promo;
		DEALLOCATE cursor_promo;



		/* clear sendback cycle 2 */
		DECLARE cursor_promorecon CURSOR
		FOR SELECT 
			tp.Id [PromoId]
			,tp.RefId
			,IIF(cat.ShortDesc='DC', 'DC', 'RC') category
		FROM tbtrx_promo tp WITH (NOLOCK)
		INNER JOIN @attachment a ON tp.RefId = a.PromoNumber
		INNER JOIN tbmst_category cat WITH (NOLOCK) ON tp.CategoryId=cat.Id
		INNER JOIN tbtrx_promo_request_approval_recon tpra WITH (NOLOCK) ON tp.id = tpra.ParentId AND isnull(tpra.IsCancel, 0) = 0
		INNER JOIN tbtrx_promo_approval_recon tpa WITH (NOLOCK) ON tpra.id = tpa.RequestId AND isnull(tpa.IsOnGoing, 0) =1
		WHERE tp.StatusApprovalCodeRecon = 'TP1'
		AND tpa.Status = 'TP3'
		AND tpa.Notes LIKE '%SKP%'
		AND IIF(ISNULL(@profileid, '') = '', '', tp.CreateBy) = IIF(ISNULL(@profileid, '') = '', '', @profileid)
		;
	 
		OPEN cursor_promorecon;
		FETCH NEXT FROM cursor_promorecon
		INTO @PromoId, @PromoNumber, @category;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @category='RC'
			BEGIN
				SELECT
					@Investment = pr.investment,
					@PrincipalId = tb.principalid,
					@DistributorId = tb.distributorid,
					@SubActivityType = ts.subactivitytypeid, 
					@ChannelId = tpc.channelid,
					@SubChannelId = tps.subchannelid,
					@Initiator = pr.createby
				FROM tbtrx_promo pr
				INNER JOIN tbtrx_allocation ta ON pr.allocationid = ta.id
				INNER JOIN tbtrx_budgetmaster tb ON ta.BudgetMasterId = tb.id
				INNER JOIN tbmst_subactivity ts ON pr.subactivityid = ts.id
				INNER JOIN tbtrx_promo_channel tpc ON pr.id = tpc.promoid
				INNER JOIN tbtrx_promo_subchannel tps ON pr.id = tps.promoid
				WHERE pr.id = @PromoId

				IF @sttAttachmentRC = 1 --major changes
				BEGIN
					SELECT @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						WHERE Periode=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='RC'

					select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
					select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
					select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
					select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
					select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

					IF @matrixid is null
					BEGIN
						INSERT INTO @tbfailed VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ' + cast(@channeldesc as varchar), ', Initiator: ' + cast(@Initiator as varchar)))
					END
					ELSE
					BEGIN
						SET @MajorChanges = 1
						UPDATE [tbtrx_promo_request_approval_recon]
							SET IsCancel=1
							WHERE ParentId=@PromoId
							AND ISNULL(IsCancel,0)=0

							/****************************
							BUAT REQUEST APPROVAL BARU
							INSERT KE TABLE REQUEST APPROVAL
							****************************/
							INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
								([ParentId]
								,[RefId]
								,[PromoPlanId]
								,[AllocationId]
								,[AllocationRefId]
								,[CategoryShortDesc]
								,[PrincipalShortDesc]
								,[BudgetMasterId]
								,[CategoryId]
								,[SubCategoryId]
								,[ActivityId]
								,[SubActivityId]
								,[ActivityDesc]
								,[StartPromo]
								,[EndPromo]
								,[Mechanisme1]
								,[Mechanisme2]
								,[Mechanisme3]
								,[Mechanisme4]
								,[Notes]
								,[Roi]
								,[CostRatio]
								,[NormalSales]
								,[IncrSales]
								,[TotSales]
								,[TotInvest]
								,[PrevRoi]
								,[PrevCostRatio]
								,[PrevNormalSales]
								,[PrevIncrSales]
								,[PrevTotSales]
								,[PrevTotInvest]
								,[Status]
								,[TsCoding]
								,[CreateOn]
								,[CreateBy]
								,[ModifiedOn]
								,[ModifiedBy]
								,[IsCancel]
							)
							SELECT
								@PromoId
								,[RefId]
								,[PromoPlanId]
								,[AllocationId]
								,[AllocationRefId]
								,[CategoryShortDesc]
								,[PrincipalShortDesc]
								,[BudgetMasterId]
								,[CategoryId]
								,[SubCategoryId]
								,[ActivityId]
								,[SubActivityId]
								,[ActivityDesc]
								,[StartPromo]
								,[EndPromo]
								,[Mechanisme1]
								,[Mechanisme2]
								,[Mechanisme3]
								,[Mechanisme4]
								,[Notes]
								,[Roi]
								,[CostRatio]
								,[NormalSales]
								,[IncrSales]
								,[NormalSales] + [IncrSales]
								,[Investment]
								,Roi
								,CostRatio
								,NormalSales
								,IncrSales
								,[NormalSales] + [IncrSales]
								,[Investment]
								,'TP1'
								,[TsCoding]
								,[CreateOn]
								,[CreateBy]
								,[ModifiedOn]
								,[ModifiedBy]
								,0
							FROM tbtrx_promo WHERE Id=@PromoId
							/************************/

						/************************
						AMBIL ID REQUEST YANG BARU DI CREATE
						************************/
							SET @RequestId=(SELECT SCOPE_IDENTITY())
						/***********************/

						/****************************
						INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_approval_recon]
							([RequestId]
							,[Sequence]
							,[UserApprover]
							,[Status]
							,[RequestDate]
							,[ActionDate]
							,[IsOnGoing]
							,UserApproverName
							,UserApproverEmail
						)
						SELECT @RequestId
							,SeqApproval
							,Approver
							,'TP1'
							,@utcDate123
							,@utcDate123
							,IIF(SeqApproval=1,1,0)
							,b.username
							,b.email
						FROM tbset_matrix_promo_approver a
						INNER JOIN tbset_user b on a.Approver=b.id
						where ParentId=@matrixId
						/***********************************/


						--AMBIL ID REQUEST YANG BARU DI CREATE
						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@Promoid and IsCancel=0)

						--UPDATE STATUS DI TABLE PROMO
						UPDATE tbtrx_promo
						SET
							StatusApprovalCodeRecon=tbmst_master_status.StatusCode
							,StatusApprovalRecon=tbmst_master_status.StatusDesc
							,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
							,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
							,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
							,matrixapprovalid = @matrixid
						from tbtrx_promo
						INNER JOIN tbtrx_promo_request_approval_recon
						on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
						INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval_recon.IsCancel=0
						and tbtrx_promo_approval_recon.IsOnGoing=1
						AND RequestId=@p_reqid
					END
				END
				ELSE
				BEGIN
					SET @MajorChanges = 0
					UPDATE A
					SET A.[Status]='TP1'
					,A.RequestDate=@utcDate123
					,A.ActionDate=@utcDate123
					FROM tbtrx_promo_approval_recon A
					LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
					WHERE ParentId=@PromoId AND IsCancel=0
					AND A.[Status]='TP3' and A.IsOnGoing=1

					UPDATE tbtrx_promo
					SET
					StatusApprovalCodeRecon=tbmst_master_status.StatusCode
					,StatusApprovalRecon=tbmst_master_status.StatusDesc
					,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
					,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
					,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
					,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
					,matrixapprovalid = @matrixid
					from tbtrx_promo
					INNER JOIN tbtrx_promo_request_approval_recon
					on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
					INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
					INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
					where tbtrx_promo_request_approval_recon.IsCancel=0
					and tbtrx_promo_approval_recon.IsOnGoing=1
					AND ParentId=@PromoId
				END
			END
			ELSE
			BEGIN
				IF @sttAttachmentDC = 1 --major changes
				BEGIN
					SET @MajorChanges = 1
					SET @ChnCount=(SELECT COUNT(*) FROM tbtrx_promo_channel WHERE promoid = @PromoId)
					SET @failed = 0

					IF @ChnCount>1
					BEGIN
						SELECT top 1 @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						INNER JOIN 
						(
							SELECT Id ChnId FROM tbmst_channel WHERE ShortDesc='ALL'
						) b ON a.ChannelId=b.ChnId
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=b.ChnId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='DC'

						select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
						select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
						select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
						select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
						select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

						IF @matrixid is null
						BEGIN
							SET @failed = 1
							INSERT INTO @tbfailed VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ALL CHANNEL, Initiator: ' + cast(@Initiator as varchar)))
						END

					END
					ELSE
					BEGIN
						SELECT top 1  @matrixid=a.Id FROM tbset_matrix_promo_approval a
						INNER JOIN tbmst_category c on a.CategoryId=c.Id	
						WHERE isnull(Periode,'')=''
						AND PrincipalId=@PrincipalId
						AND DistributorId=@DistributorId
						AND SubActivityType=@SubActivityType
						AND ChannelId=@ChannelId
						AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
						AND [Initiator]=@Initiator
						AND @Investment >= MinInvestment and @Investment <= MaxInvestment
						AND c.ShortDesc='DC'

						select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
						select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
						select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
						select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
						select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId

						IF @matrixid is null
						BEGIN
							SET @failed = 1
							INSERT INTO @tbfailed VALUES (@PromoId, @PromoNumber, CONCAT('Matrix Approval not found for Entity: ', cast(@entitiydesc as varchar), ', Distributor: ', cast(@distributordesc as varchar), ', Category: ', cast(@category as varchar), ', Sub Activity Type: ', cast(@subactivitytypedesc as varchar), ', Channel: ' + cast(@channeldesc as varchar), ', Initiator: ' + cast(@Initiator as varchar)))
						END
					END

					IF @failed = 0
					BEGIN
						UPDATE [tbtrx_promo_request_approval_recon]
							SET IsCancel=1
							WHERE ParentId=@PromoId
							AND ISNULL(IsCancel,0)=0

						/****************************
						BUAT REQUEST APPROVAL BARU
						INSERT KE TABLE REQUEST APPROVAL
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
							([ParentId]
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[TotSales]
							,[TotInvest]
							,[PrevRoi]
							,[PrevCostRatio]
							,[PrevNormalSales]
							,[PrevIncrSales]
							,[PrevTotSales]
							,[PrevTotInvest]
							,[Status]
							,[TsCoding]
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,[IsCancel]
						)
						SELECT
							@PromoId
							,[RefId]
							,[PromoPlanId]
							,[AllocationId]
							,[AllocationRefId]
							,[CategoryShortDesc]
							,[PrincipalShortDesc]
							,[BudgetMasterId]
							,[CategoryId]
							,[SubCategoryId]
							,[ActivityId]
							,[SubActivityId]
							,[ActivityDesc]
							,[StartPromo]
							,[EndPromo]
							,[Mechanisme1]
							,[Mechanisme2]
							,[Mechanisme3]
							,[Mechanisme4]
							,[Notes]
							,[Roi]
							,[CostRatio]
							,[NormalSales]
							,[IncrSales]
							,[NormalSales] + [IncrSales]
							,[Investment]
							,Roi
							,CostRatio
							,NormalSales
							,IncrSales
							,[NormalSales] + [IncrSales]
							,[Investment]
							,'TP1'
							,[TsCoding]
							,[CreateOn]
							,[CreateBy]
							,[ModifiedOn]
							,[ModifiedBy]
							,0
						FROM tbtrx_promo WHERE Id=@PromoId
						/************************/

						/************************
						AMBIL ID REQUEST YANG BARU DI CREATE
						************************/
						SET @RequestId=(SELECT SCOPE_IDENTITY())
						/***********************/

						/****************************
						INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_approval_recon]
							(
								[RequestId]
								,[Sequence]
								,[UserApprover]
								,[Status]
								,[RequestDate]
								,[ActionDate]
								,[IsOnGoing]
								,UserApproverName
								,UserApproverEmail
							)
							SELECT @RequestId
								,SeqApproval
								,Approver
								,'TP1'
								,@utcDate123
								,@utcDate123
								,IIF(SeqApproval=1,1,0)
								,b.username
								,b.email
							FROM tbset_matrix_promo_approver a
							INNER JOIN tbset_user b on a.Approver=b.id
							WHERE ParentId=@matrixId
						/***********************************/

						--AMBIL ID REQUEST YANG BARU DI CREATE
						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon WHERE ParentId=@Promoid and IsCancel=0)

						--UPDATE STATUS DI TABLE PROMO
						UPDATE tbtrx_promo
						SET
							StatusApprovalCodeRecon=tbmst_master_status.StatusCode
							,StatusApprovalRecon=tbmst_master_status.StatusDesc
							,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
							,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
							,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
							,matrixapprovalid = @matrixid
						FROM tbtrx_promo
						INNER JOIN tbtrx_promo_request_approval_recon ON tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
						INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						WHERE tbtrx_promo_request_approval_recon.IsCancel=0
							AND tbtrx_promo_approval_recon.IsOnGoing=1
							AND RequestId=@p_reqid
					END
				END
				ELSE
				BEGIN
					SET @MajorChanges = 0
					UPDATE A
						SET A.[Status]='TP1'
						,A.RequestDate=@utcDate123
						,A.ActionDate=@utcDate123
						FROM tbtrx_promo_approval_recon A
						LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
						WHERE ParentId=@PromoId AND IsCancel=0
						AND A.[Status]='TP3' and A.IsOnGoing=1

					UPDATE tbtrx_promo
						SET
						StatusApprovalCodeRecon=tbmst_master_status.StatusCode
						,StatusApprovalRecon=tbmst_master_status.StatusDesc
						,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
						,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
						,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
						,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
						,matrixapprovalid = @matrixid
						FROM tbtrx_promo
						INNER JOIN tbtrx_promo_request_approval_recon ON tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						INNER JOIN tbtrx_promo_approval_recon ON RequestId=tbtrx_promo_request_approval_recon.Id
						INNER JOIN tbmst_master_status ON StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						WHERE tbtrx_promo_request_approval_recon.IsCancel=0
						AND tbtrx_promo_approval_recon.IsOnGoing=1
						AND ParentId=@PromoId
				END
			END

			INSERT INTO @res
			SELECT 1 as recon
				,pr.id as [Id]
				,pr.RefId  as [RefId]					
				,200 as [statuscode]
				,a.Id [userid_initiator]
				,a.username [username_initiator]
				,a.email [email_initiator]
				,b.Id [userid_approver]
				,b.username [username_approver]
				,b.email [email_approver]
				,IIF(pr.StatusApprovalCode='TP2',1,0) [IsFullyApproved]
				,@MajorChanges [major_changes]
			FROM tbtrx_promo pr
			LEFT JOIN tbset_user a on pr.CreateBy=a.Id AND isnull(a.isdeleted, 0) = 0
			LEFT JOIN tbset_user b on pr.ApproverRecon=b.Id AND isnull(b.isdeleted, 0) = 0
			WHERE pr.Id=@PromoId

			FETCH NEXT FROM cursor_promorecon
			INTO @PromoId, @PromoNumber, @category;
		END
		CLOSE cursor_promorecon;
		DEALLOCATE cursor_promorecon;

		/* dummy */
			INSERT INTO @res
			SELECT 0 as recon
				,pr.id as [Id]
				,pr.RefId  as [RefId]					
				,200 as [statuscode]
				,a.Id [userid_initiator]
				,a.username [username_initiator]
				,a.email [email_initiator]
				,b.Id [userid_approver]
				,b.username [username_approver]
				,b.email [email_approver]
				,IIF(pr.StatusApprovalCode='TP2',1,0) [IsFullyApproved]
				,@MajorChanges [major_changes]
			FROM tbtrx_promo pr
			LEFT JOIN tbset_user a on pr.CreateBy=a.Id AND isnull(a.isdeleted, 0) = 0
			LEFT JOIN tbset_user b on pr.Approver=b.Id AND isnull(b.isdeleted, 0) = 0
			WHERE pr.Id IN (3489, 3490, 3472, 3465)

			INSERT INTO @res
			SELECT 1 as recon
				,pr.id as [Id]
				,pr.RefId  as [RefId]					
				,200 as [statuscode]
				,a.Id [userid_initiator]
				,a.username [username_initiator]
				,a.email [email_initiator]
				,b.Id [userid_approver]
				,b.username [username_approver]
				,b.email [email_approver]
				,IIF(pr.StatusApprovalCode='TP2',1,0) [IsFullyApproved]
				,@MajorChanges [major_changes]
			FROM tbtrx_promo pr
			LEFT JOIN tbset_user a on pr.CreateBy=a.Id AND isnull(a.isdeleted, 0) = 0
			LEFT JOIN tbset_user b on pr.ApproverRecon=b.Id AND isnull(b.isdeleted, 0) = 0
			WHERE pr.Id in (3449, 3443)
			/* end dummy*/

		SELECT a.*, IIF(b.promoid IS NULL, 0, IIF(a.userid_initiator IS NULL OR a.userid_approver IS NULL, 1, 0)) error, IIF(a.userid_initiator IS NULL OR a.userid_approver IS NULL,'email address initator or approver not found', '') message1, b.status message2 FROM @res a LEFT JOIN @tbfailed b ON a.id = b.PromoId

		
	--END TRY
	--BEGIN CATCH
	--ROLLBACK
	--	DECLARE @ErrorMessage NVARCHAR(4000);
	--	DECLARE @ErrorSeverity INT;
	--	DECLARE @ErrorState INT;

	--	SELECT
	--		@ErrorMessage = ERROR_MESSAGE(),
	--		@ErrorSeverity = ERROR_SEVERITY(),
	--		@ErrorState = ERROR_STATE();
	--	RAISERROR (@ErrorMessage, -- Message text.
	--				@ErrorSeverity, -- Severity.
	--				@ErrorState -- State.
	--	);

	--END CATCH
END
GO
