

/****** Object:  StoredProcedure [dbo].[ip_check_dataavail_byuser]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_check_dataavail_byuser]
-- declare 
@userid varchar(20),
@principalid int,
@distributorid int,
@datanum int
--set @userid='kaomlka4'
--set @principalid =3
--set @distributorid =3
--set @datanum =10000

as
BEGIN

select a.PrincipalId, c.longdesc, a.DistributorId, b.LongDesc from tbset_principal_distributor a
inner join tbmst_distributor b on a.DistributorId=b.id
inner join tbmst_principal c on a.PrincipalId=c.id

SELECT   distinct distributor, entity, subcategory, ActivityDesc, SubActivityDesc
				, SubAccountDesc, AccountDesc, SubChannelDesc, ChannelDesc
				, brand, sku, Region_Desc, refid, allocation
				, DistributorId, PrincipalId, SubCategoryId, SubActivityId
				, ChannelId, SubChannelId, AccountId, SubAccountId
				,BrandId, id, StatusApproval, shortdesc, BudgetAmount, matrixid, SalesAmount
from (
	SELECT  *
	FROM    ( 
				SELECT   ROW_NUMBER() OVER ( ORDER BY a.distributorid ) as RowNum, COUNT(a.distributorid) OVER (PARTITION BY a.distributorid) as TotalRec, 
					h.longdesc as distributor, i.longdesc as entity, j.longdesc as subcategory, n.ActivityDesc, n.SubActivityDesc
					, g.SubAccountDesc, g.AccountDesc, g.SubChannelDesc, g.ChannelDesc
					, k.longdesc as brand, l.longdesc as sku, z.Region_Desc, b.refid, b.longdesc as allocation, b.DistributorId, a.PrincipalId, c.SubCategoryId, c.SubActivityId, g.ChannelId, g.SubChannelId, g.AccountId, g.SubAccountId
					,l.BrandId, l.id, b.StatusApproval, q.shortdesc, b.BudgetAmount, p.id as matrixid, zz.SalesAmount
				from tbtrx_budgetmaster a 
				inner join tbtrx_allocation b on a.id=b.BudgetMasterId and b.BudgetType='BTR' and b.BudgetAmount<>0 and a.DistributorId=@distributorid and a.PrincipalId=@principalid
				inner join tbtrx_allocation_detail c on b.id=c.allocationid
				inner join tbtrx_allocation_subaccount d on c.AllocationId=d.AllocationId
				inner join tbtrx_allocation_useraccess e on d.AllocationId=e.AllocationId and e.UserId=@userid
				inner join tbset_user_subaccount f on e.UserId=f.UserId and d.SubAccountId=f.SubAccountId and f.UserId=@userid
				inner join vw_account g on f.SubAccountId=g.SubAccountId
				inner join tbmst_distributor h on a.DistributorId=h.id 
				inner join tbmst_principal i on a.PrincipalId=i.id
				inner join tbmst_subcategory j on c.SubCategoryId=j.id
				inner join tbmst_brand k on i.id=k.PrincipalId
				inner join tbmst_product l on k.id=l.BrandId
				inner join tbset_principal_distributor m on a.DistributorId=m.DistributorId and a.PrincipalId=m.PrincipalId 
				inner join vw_activity n on c.ActivityId=n.ActivityId
				inner join tbmst_subactivity o on n.SubActivityId=o.id 
				inner join tbset_matrix_promo_approval p on a.DistributorId=p.DistributorId and a.PrincipalId=p.PrincipalId and o.SubActivityTypeId=p.SubActivityType and g.ChannelId=p.ChannelId and p.Initiator=@userid
				inner join tbmst_activity q on o.activityid=q.id and isnull(q.shortdesc,'')<>''
				-------------------------------------------------------
				inner join tbset_map_subaccount_sap aa on aa.subaccountid=d.SubAccountId
				inner join tbset_map_product_sap bb on l.id=bb.ProductId
				inner join tbtrx_blitz z on 
					z.Distributor_Id=h.SAPCode 
					and z.SubAccountCode=aa.sapcode
					and z.Product_Code=bb.SAPCode
				inner join tbset_map_subactivity_salesamount zz on n.SubActivityId=zz.SubActivityID and isnull(zz.SalesAmount,'')<>''
		) AS asd
	WHERE   RowNum >= 1
		AND RowNum < @datanum
) qwe
END
GO
