

/****** Object:  StoredProcedure [dbo].[ip_import_map_promorecon_period_subactivity]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_map_promorecon_period_subactivity]
@SubActivity PromoReconPeriodSubActivityType READONLY,
@userid varchar(50),
@useremail varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
    BEGIN TRANSACTION

        declare @temp as TABLE
		(
			id varchar(50),
			doc varchar(255),
		    [status] varchar(255)
		)    

		INSERT INTO @temp
        SELECT a.SubActivity, CONCAT(a.SubActivity, ' ', a.LongDesc), 'Sub Activity not exist'  FROM @SubActivity a
        WHERE a.SubActivity NOT IN (SELECT ts2.RefId FROM tbmst_subactivity ts2 WHERE isnull(ts2.IsDeleted, 0) = 0)
         
         
        /* create his for delete data */
        INSERT INTO tbhis_map_promorecon_period_subactivity (
        	SubActivityId,
			AllowEdit,
			CreateOn,
			CreateBy,
			CreatedEmail,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail,
			IsDeleted,
			DeleteOn,
			DeleteBy,
			DeleteEmail,
			[Action]
		) SELECT 
        	SubActivityId,
			AllowEdit,
			CreateOn,
			CreateBy,
			CreatedEmail,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail,
			IsDeleted,
			DeleteOn,
			DeleteBy,
			DeleteEmail,
			'import'
		FROM tbset_map_promorecon_period_subactivity
		WHERE SubActivityId IN (
        	SELECT ts.id
			FROM @SubActivity a
			INNER JOIN tbmst_subactivity ts on a.SubActivity = ts.RefId 
        )	
        
		/* delete data if exist */
        DELETE FROM tbset_map_promorecon_period_subactivity WHERE SubActivityId IN (
        	SELECT ts.id
			FROM @SubActivity a
			INNER JOIN tbmst_subactivity ts on a.SubActivity = ts.RefId 
        )
		
		/* insert data if not exist */
		INSERT INTO tbset_map_promorecon_period_subactivity (SubActivityId, AllowEdit, CreateBy, CreateOn, CreatedEmail)
		select ts.id, case a.[Action] WHEN 'During promo period: allow edit' THEN 1 ELSE 0 END, @userid, @utcDate123, @useremail
		from @SubActivity a
		inner join tbmst_subactivity ts on a.SubActivity = ts.RefId 
		WHERE ts.id NOT IN (select SubActivityId FROM tbset_map_promorecon_period_subactivity)
		AND a.SubActivity NOT IN (SELECT id FROM @temp)
		
		COMMIT	
		
	    IF EXISTS(SELECT * FROM @temp)
        BEGIN
            select id, doc, [status] from @temp
            
            RETURN
        END

	END TRY
BEGIN CATCH
    ROLLBACK
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
    	@ErrorMessage = ERROR_MESSAGE(),
      	@ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
        @ErrorSeverity, -- Severity.
        @ErrorState -- State.
        );

END CATCH

GO
