

/****** Object:  StoredProcedure [dbo].[ip_promo_list_reconciliation]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_list_reconciliation] --'2020',1,0,0,0,'kamsat',0
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@cancelstatus bit
,@create_from date
,@create_to date
,@start_from date
,@start_to date

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--set @userid ='kamc4'
--SET @cancelstatus =0
--SET @create_from ='2019-01-01'
--SET @create_to ='2020-12-31'
--SET @start_from ='2020-01-01'
--SET @start_to ='2020-12-31'
AS
/*
 * EDJ 2020-08-04 : get prev from his 
 */
BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);

			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;
/*************************************************/
drop table if exists #xtmp_promo
drop table if exists #xtmp_his_promo

select pr.* into #xtmp_promo from tbtrx_promo pr 
	inner join @temp a on a.BudgetId=pr.AllocationId
	where 	
		isnull(pr.IsCancel,0)=0
		AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
		AND isnull(pr.StatusApprovalCode, '')='TP2'
		AND CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)
		
--		AND (CONVERT(varchar(8),pr.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),pr.CreateOn,112) <= CONVERT(varchar(8),@create_to,112))
--		AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
--		AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))	

select a.* into #xtmp_his_promo from tbhis_promo a
		inner join 
		(
		select max(parentid) as parentid, id from tbhis_promo tp
		where StatusApprovalCode = 'TP1'
		group by id
		) b on a.parentid=b.parentid and a.id=b.id
		inner join #xtmp_promo pr on pr.id=a.id
/*************************************************/

	select distinct
		pr.id promoId
		,pr.RefId 
	  	,p.LongDesc Entity
	  	,d.LongDesc Distributor
	  	,pr.ActivityDesc
	  	,pr.StartPromo 
	  	,pr.EndPromo
	  	,pr.CreateBy 
	  	,AccountDesc
	  	,SubAccountDesc
	  	,c.LongDesc Allocation 
--	  	,isnull(prev.prevtotinvest, 0) as bfrInvestment
--	  	,isnull(prev.prevroi, 0) as bfrRoi
--	  	,isnull(prev.prevcostratio, 0) as bfrCostRatio
/** start 2020-08-04 get prev from his **/
--	  	,isnull(hispromo.Investment, 0) as bfrInvestment
--	  	,isnull(hispromo.Roi, 0) as bfrRoi
--	  	,isnull(hispromo.CostRatio, 0) as bfrCostRatio

--	  	,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', pr.Investment, isnull(hispromo.Investment, 0)) bfrInvestment
--	  	,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100), iif(isnull(hispromo.Investment,0)=0,0,(hispromo.IncrSales-hispromo.Investment)/hispromo.Investment*100)) bfrRoi
--	  	,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', pr.CostRatio, isnull(hispromo.CostRatio, 0)) bfrCostRatio
/** end 2020-08-04 get prev from his **/
-- start jika hist null = 0, ambilkan data promo 2020-09-07
	  	,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', pr.Investment, isnull(hispromo.Investment, pr.Investment)) bfrInvestment
	  	,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100), iif(isnull(hispromo.Investment,0)=0, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100),(hispromo.IncrSales-hispromo.Investment)/hispromo.Investment*100)) bfrRoi
	  	,IIF(isnull(pr.StatusApprovalCode, '')='TP2' and isnull(pr.StatusApprovalCodeRecon, '')='', pr.CostRatio, isnull(hispromo.CostRatio, pr.CostRatio)) bfrCostRatio
-- end jika hist null = 0, ambilkan data promo 2020-09-07
	  	,pr.Investment
--	  	,pr.Roi 
	  	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	  	,pr.CostRatio 
	  	,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
      	,IIF(pr.IsCancel=1
			,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
			, IIF(pr.statusapprovalcoderecon='TP2', 'Approved recon by ' + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
			,pr.LastStatusRecon + '-' + uapprover.username
			)
	  	) LastStatus
	  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
	  ,pr.TsCoding
	  ,pr.CancelNotes 
	from @temp a
	inner join #xtmp_promo pr on a.BudgetId=pr.AllocationId
	/** start 2020-08-04 get prev from his **/
	LEFT JOIN #xtmp_his_promo hispromo ON pr.id=hispromo.id
	/** end 2020-08-04 get prev from his **/
    inner join tbtrx_allocation c on a.BudgetId=c.Id 
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join tbset_user uo on uo.Id=usr.UserId
	inner join tbset_user uf on uf.Id=usr.UserId
	inner join tbset_user upr on upr.Id=pr.Approver
	left join tbset_user ucancel on ucancel.Id=pr.CancelBy
	left join tbset_user uapprover on uapprover.Id=pr.ApproverRecon
	inner join
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	inner join
			(
				select PromoId,
				STUFF(
						(select ',' + sub.LongDesc 
							from tbtrx_promo_account a
							join tbmst_account sub
							ON a.AccountId=sub.Id
							where a.PromoId=b.PromoId
							FOR XML PATH ('')),1,1,'') AS AccountDesc
					FROM tbtrx_promo_account b INNER JOIN #xtmp_promo ON Id=PromoId  GROUP BY PromoId
			) account
			on pr.Id = account.PromoId
	inner join
			(
				select PromoId,
				STUFF(
						(select ',' + sub.LongDesc 
							from tbtrx_promo_subaccount a
							join tbmst_subaccount sub
							ON a.SubAccountId=sub.Id
							where a.PromoId=b.PromoId
							FOR XML PATH ('')),1,1,'') AS SubAccountDesc
					FROM tbtrx_promo_subaccount b INNER JOIN #xtmp_promo ON Id=PromoId  GROUP BY PromoId
			) subaccount
			on pr.Id = subaccount.PromoId
	LEFT JOIN 
	(
		SELECT a.* from tbtrx_promo_request_approval a
			inner join 
			(
				select max(id) as id from tbtrx_promo_request_approval
					group by ParentId 
			) hispromoappr on a.id=hispromoappr.id
	) prev on pr.id=prev.parentid
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	ORDER BY pr.Id

drop table if exists #xtmp_promo
drop table if exists #xtmp_his_promo

END
GO
