USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_mst_map_matrix_dnmanual_assignment_new_ins]
	@IsNew                            bit,
	@Id                               Int,
	@ChannelId                        varchar(255) ,
	@SubChannelId                     varchar(255) ,
	@AccountId                        varchar(255) ,
	@SubAccountId                     varchar(255) ,
	@Pic1                             varchar(50) ,
	@Pic2                             varchar(50) ,
	@IsActive                         bit ,
	@UserID                           varchar(50),
	@UserLogin                        varchar(100),
	@CreatedOn                        datetime,
	@Createdemail                     varchar(100)

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.id
                FROM tbset_matrix_dnmanual_assignment_new a
                where a.SubAccountId=@SubAccountId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Matrix DN Manual already exist';
                    SET @messageout='Mapping Matrix DN Manual already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_matrix_dnmanual_assignment_new
                (
                   ChannelId
                  ,SubChannelId
                  ,AccountId
                  ,SubAccountId
                  ,Pic1
                  ,Pic2
                  ,IsActive
                  ,CreateOn
                  ,CreateBy
				  ,CreatedEmail
                )
                Values
                (
                   @ChannelId
                  ,@SubChannelId
                  ,@AccountId
                  ,@SubAccountId
                  ,@Pic1
                  ,@Pic2
                  ,1
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_matrix_dnmanual_assignment_new
			SET
				ChannelId      = @ChannelId,
				SubChannelId   = @SubChannelId,
				AccountId      = @AccountId,
				SubAccountId   = @SubAccountId,
				Pic1           = @Pic1,
				Pic2           = @Pic2,
				IsActive       = @IsActive,
				ModifiedOn     = @CreatedOn,
				ModifiedBy     = @UserID,
				ModifiedEmail  = @UserLogin
			WHERE
				Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END
GO
