USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_investment_report]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[ip_investment_report] --'2020',0,0,0,0,'scsh1'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
AS

/*TESTING PURPOSES**************************/
--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)

--SET @periode ='2023'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--set @userid='kamsat'
/**************************TESTING PURPOSES*/

	SELECT DISTINCT
	  p.LongDesc Entity,
	  p.ShortDesc EntityShortDesc,
	  d.LongDesc Distributor,
	  c.LongDesc [BudgetAllocationName],
	  ISNULL(TPP.LongDesc,'') ActivityType,
	  iif(lyr.Id is null,0,1) IsLastLayer,
	  ISNULL(channel.ChannelDesc,'') [Channel],
	  c.BudgetAmount [BudgetDeployed],
	  ISNULL(TPP.FixCost,0) [PromoCreated],
	  ISNULL(TPP.TotalClaim,0) [DNClaimed],
	  ISNULL(TPP.TotalPaid,0) [DNPaid],
      ISNULL(TPP.ReturnBalanceFromPromo,0) [ReturnBalanceFromPromo],
	  tab.RemainingAmount [RemainingBudget],
	  c.BudgetAmount -ISNULL(TPP.FixCost,0) [GapBudgetDeployedvsPromoCreated],
	  ISNULL(TPP.FixCost,0)- TPP.TotalClaim [GapPromoCreatedvsDNClaimed],
	  TPP.TotalClaim-TPP.TotalPaid [GapDNClaimedvsDNPaid],
	  cat.longdesc CategoryDesc
	FROM tbtrx_allocation c WITH (NOLOCK) 
	INNER JOIN tbtrx_allocation_useraccess usr WITH (NOLOCK) on usr.AllocationId=c.Id
	INNER JOIN tbtrx_budgetmaster m WITH (NOLOCK) on c.BudgetMasterId=m.Id
	INNER JOIN tbmst_category cat WITH (NOLOCK) on m.CategoryId=cat.Id
	INNER JOIN tbtrx_allocation_balance tab WITH (NOLOCK) on c.id=tab.AllocationId 
	LEFT JOIN tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
	LEFT JOIN tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
	LEFT JOIN tbtrx_allocation_channel chn WITH (NOLOCK) on c.Id=chn.AllocationId
	LEFT JOIN 
		(
			SELECT AllocationId, STRING_AGG(b.LongDesc, ', ') ChannelDesc FROM tbtrx_allocation_channel a
			INNER JOIN tbmst_channel b ON a.ChannelId=b.Id
			GROUP BY AllocationId
		)channel ON c.Id=channel.AllocationId
	LEFT JOIN
		(
			SELECT	tbtrx_promo.AllocationId AS AllocationId, b.longdesc,
				SUM(Investment) FixCost,
				SUM(ISNULL(TotalClaim, 0)) TotalClaim,
				SUM(ISNULL(TotalPaid, 0)) TotalPaid,
				SUM(IIF(ISNULL(isclose,0)=0, 0, ISNULL(Investment,0) - ISNULL(td.TotalClaim, 0))) ReturnBalanceFromPromo
				FROM tbtrx_promo WITH (NOLOCK) 
				INNER JOIN tbmst_subactivity a WITH (NOLOCK) on tbtrx_promo.SubActivityId=a.id----------200324
				INNER JOIN tbmst_subactivity_type b WITH (NOLOCK) on a.SubActivityTypeId=b.id----------200324				
				LEFT JOIN (
					SELECT td.promoid
						,SUM ( IIF(ISNULL(td.VATExpired,0)=0, ISNULL(td.DPP,0), ISNULL(td.DPP,0) + ISNULL(td.PPNAmt,0))) - SUM(ISNULL(tc.TotalClaim, 0))  TotalClaim
						,SUM(iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+ISNULL(td.ppnamt,0),td.dpp)),0)) - SUM(ISNULL(tc.TotalPaid, 0)) TotalPaid
						FROM tbtrx_debetnote td WITH (NOLOCK) 
						LEFT JOIN 
						(
							SELECT tc.dnid
								,SUM(ISNULL(tc.dpp,0)) TotalClaim
								,SUM(iif(ISNULL(tc.laststatus, '')='confirm_paid',tc.dpp,0)) TotalPaid
							FROM tbtrx_creditnote tc WITH (NOLOCK) 
							WHERE ISNULL(IsCancel, 0) = 0
							GROUP BY tc.dnid
						) tc ON td.id=tc.dnid
					WHERE ISNULL(td.iscancel, 0) = 0
					GROUP BY td.promoid
				) td on tbtrx_promo.id=td.promoid			                
			WHERE ISNULL(IsCancel,0)=0
				GROUP BY tbtrx_promo.AllocationId, b.longdesc
	)TPP ON TPP.AllocationId=c.Id
	LEFT JOIN vw_budget_last_layer lyr ON c.Id=lyr.Id
	WHERE m.Periode=@periode
	AND IIF(@budgetparent=0,'',c.Id) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)
GO
