USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_master_channel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_channel]
@Channel ChannelType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
CHANNEL
*****************/

	MERGE tbmst_channel t
	USING
	( 
	SELECT DISTINCT Channel
	FROM
	@Channel
	) s
	ON t.LongDesc=s.Channel
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Channel
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
           [LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           Channel
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );



/*****************
SUB CHANNEL
*****************/

	MERGE tbmst_subchannel t
	USING
	( 
	SELECT DISTINCT ctg.Id ChannelId,SubChannel
	FROM
	@Channel x INNER JOIN tbmst_channel ctg ON ctg.LongDesc=x.Channel 	
	) s
	ON t.LongDesc=s.SubChannel
	AND t.ChannelId=s.ChannelId
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=SubChannel
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            [ChannelId]
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   ChannelId
           ,SubChannel
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );


/*****************
ACCOUNT
*****************/

	MERGE tbmst_account t
	USING
	( 
	SELECT DISTINCT sctg.Id SubChannelId,Account
	FROM
	@Channel x 
	INNER JOIN tbmst_subchannel sctg ON sctg.LongDesc=x.SubChannel
	
	) s
	ON t.LongDesc=s.Account
	AND t.SubChannelId=s.SubChannelId
	
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Account
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            
		   [SubChannelId]		   
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   
		   SubChannelId           
		   ,Account
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );


/*****************
SUB ACCOUNT
*****************/

	MERGE tbmst_subaccount t
	USING
	( 
	SELECT DISTINCT sctg.Id AccountId,SubAccount
	FROM
	@Channel x 
	INNER JOIN tbmst_account sctg ON sctg.LongDesc=x.Account
	
	) s
	ON t.LongDesc=s.SubAccount
	AND t.AccountId=s.AccountId
	
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=SubAccount
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            
		   [AccountId]		   
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   
		   AccountId           
		   ,SubAccount
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );


END
GO
