USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_changestatus_paralel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_changestatus_paralel]
@status varchar(50),
@userid varchar(50),
@id ArrayIntType READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	declare @dnfailed_laststatus int, @dnfailed_isdnpromo int, @laststatus_cek varchar(50), @isdnpromo_cek int, @id_cek int, @messageout varchar(255)
	select top 1 @id_cek = dn.id, @laststatus_cek = dn.laststatus, @isdnpromo_cek=dn.IsDNPromo 
	from @id a
	inner join tbtrx_debetnote dn on a.keyid=dn.id
	
	select @dnfailed_laststatus = count(id)
	from @id a
	inner join tbtrx_debetnote dn on a.keyid=dn.id
	where dn.id<>@id_cek and dn.LastStatus <> @laststatus_cek

	IF @dnfailed_laststatus>0
	BEGIN 
		SET @messageout='DN Laststatus must be same'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );		
	END
	
	select @dnfailed_isdnpromo = count(id)
	from @id a
	inner join tbtrx_debetnote dn on a.keyid=dn.id
	where dn.id<>@id_cek and dn.IsDNPromo <> @isdnpromo_cek
	
	IF @dnfailed_isdnpromo>0
	BEGIN 
		SET @messageout='DN Promo must be same'
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );		
	END
	
	insert into tblog_dn_change_status (dtime,dnstatus,userid,dnid) select @utcDate123,concat(@status,' -p'),@userid,keyid from @id

	declare @distributorid int
	set @distributorid=(SELECT TOP 1 DistributorId from tbset_user_distributor where UserId=@userid)
	declare @createdemail varchar(50)
	SELECT @createdemail=email from tbset_user where id=@userid

	declare @temp as ArrayIntType, @updlaststatus varchar(50)

	insert into tbtemp_validate_array(keyid, action,actionby,status)
	SELECT keyid,@utcDate123,@userid,@status from @id

	insert into @temp
	SELECT keyid from @id a
	left join vw_debetnote_overbudget_list b on a.keyid=b.id
	inner join tbtrx_debetnote c on a.keyid=c.id
	where c.IsDNPromo=0 OR (b.Id is null and isnull(c.PromoId,0) <> 0)

	DECLARE @LastStatus varchar(50), @StatusSalesCode varchar(50), @IsDNPromo int

	SELECT @LastStatus =c.LastStatus, @StatusSalesCode =c.StatusSalesCode, @IsDNPromo =c.IsDNPromo from @id a
	left join vw_debetnote_overbudget_list b on a.keyid=b.id
	inner join tbtrx_debetnote c on a.keyid=c.id
	where c.IsDNPromo=0 OR (b.Id is null and isnull(c.PromoId,0) <> 0)

	IF @status = 'validate_by_finance' OR @status='validate_by_sales'
		BEGIN
			IF @status = 'validate_by_finance'
				BEGIN
						select @dnfailed_laststatus = count(id)
						from @id a
						inner join tbtrx_debetnote dn on a.keyid=dn.id
						where dn.LastStatus not in ('received_by_danone','validate_by_sales','validate_by_finance')
					
						IF @dnfailed_laststatus>0
						BEGIN 
							SET @messageout='DN Laststatus can not validate by finance'
							 RAISERROR (@messageout, -- Message text.
					               16, -- Severity.
					               1 -- State.
					               );		
						END
					
					IF @StatusSalesCode='TP2' or @IsDNPromo=0 OR @LastStatus='validate_by_sales'
						BEGIN
	                        insert into tblog_dn_change_status (dtime,dnstatus,userid,dnid) select @utcDate123,concat(@status,' -p1'),@userid,keyid from @id
							UPDATE a
								SET
									LastStatus = 'validate_by_danone'
									,modifiedby=@userid
									,modifiedon=@utcDate123
								FROM tbtrx_debetnote a
								INNER JOIN @temp b on a.Id=b.keyid
								WHERE isnull(a.IsCancel,0)=0

								INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus, createdemail)
								SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, @status, @createdemail from @temp a
								INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id

								INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus, createdemail)
								SELECT a.keyid,'validate_by_danone',@userid,@utcDate123, b.DPP, 'validate_by_danone', @createdemail from @temp a
								INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id
								
								UPDATE a
								  SET validate_by_finance_on=@utcDate123
								  ,validate_by_finance_by=@userid
								  ,validate_by_danone_on=@utcDate123
								  ,validate_by_danone_by=@userid
								  FROM tbtrx_debetnote_his a
								  INNER JOIN @temp b on a.DNId=b.keyid
								  INNER JOIN tbtrx_debetnote td ON a.DNId = td.id
								  WHERE DNId=b.keyid --and isnull(td.iscancel,0)=0
						END
					ELSE
						BEGIN
	                        insert into tblog_dn_change_status (dtime,dnstatus,userid,dnid) select @utcDate123,concat(@status,' -p2'),@userid,keyid from @id
							UPDATE a
								SET
									LastStatus = 'validate_by_finance'
									,modifiedby=@userid
									,modifiedon=@utcDate123
								FROM tbtrx_debetnote a
								INNER JOIN @temp b on a.Id=b.keyid
								WHERE isnull(a.IsCancel,0)=0

								INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus, createdemail)
								SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, @status, @createdemail from @temp a
								INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id

								UPDATE a
								  SET validate_by_finance_on=@utcDate123
								  ,validate_by_finance_by=@userid
								  FROM tbtrx_debetnote_his a
								  INNER JOIN @temp b on a.DNId=b.keyid
								  INNER JOIN tbtrx_debetnote td ON a.DNId = td.id
								  WHERE DNId=b.keyid --and isnull(td.iscancel,0)=0
						END
	/*LUK 20210706
					UPDATE a
			--		set LastStatus=IIF(@status='validate_by_sales', 'validate_by_danone' , IIF(a.IsDNPromo=1,@status,'validate_by_danone')) --if isdnpromo=0 then validate_by_danone
					SET
					LastStatus = IIF(a.IsDNPromo=1,
									(IIF(a.laststatus='validate_by_sales'  OR a.laststatus='received_by_danone',
											IIF(a.StatusSalesCode='TP2','validate_by_danone',@status)
											, @status))
									, 'validate_by_danone')
					,modifiedby=@userid
					,modifiedon=getdate()
					FROM tbtrx_debetnote a
					INNER JOIN @temp b on a.Id=b.keyid
					WHERE isnull(a.IsCancel,0)=0

					INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn)
					SELECT keyid,@status,@userid,getdate() from @temp

					UPDATE a
					  SET validate_by_finance_on=getdate()
					  ,validate_by_finance_by=@userid
					  FROM tbtrx_debetnote_his a
					  INNER JOIN @temp b on a.DNId=b.keyid
					  INNER JOIN tbtrx_debetnote td ON a.DNId = td.id
					  WHERE DNId=b.keyid and isnull(td.iscancel,0)=0
	*/
				END
			ELSE
				BEGIN
						select @dnfailed_laststatus = count(id)
						from @id a
						inner join tbtrx_debetnote dn on a.keyid=dn.id
						where dn.LastStatus not in ('received_by_danone','validate_by_finance','send_to_danone')
					
						IF @dnfailed_laststatus>0
						BEGIN 
							SET @messageout='DN Laststatus can not validate by sales'
							 RAISERROR (@messageout, -- Message text.
					               16, -- Severity.
					               1 -- State.
					               );		
						END
					
					IF @LastStatus='validate_by_finance'
						BEGIN
							UPDATE a
								SET
									LastStatus = 'validate_by_danone'
									,modifiedby=@userid
									,modifiedon=@utcDate123
  									,StatusSalesCode='TP2'
  									,StatusSales=@status
  									,StatusSalesOn=@utcDate123
  									,StatusSalesBy=@userid
									FROM tbtrx_debetnote a
									INNER JOIN @temp b on a.Id=b.keyid
									WHERE isnull(a.IsCancel,0)=0

									INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
									SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, @status,@createdemail from @temp a
									INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id

									INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
									SELECT a.keyid,'validate_by_danone',@userid,@utcDate123, b.DPP, 'validate_by_danone',@createdemail from @temp a
									INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id
									
									INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes,DPP)
									SELECT keyid,@utcDate123,@userid,'TP2','', b.DPP from @temp a
									INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id

							UPDATE a
							  SET
								  validate_by_sales_on=@utcDate123
								  ,validate_by_sales_by=@userid
								  ,validate_by_danone_on=@utcDate123
								  ,validate_by_danone_by=@userid
							  FROM tbtrx_debetnote_his a
							  INNER JOIN @temp b on a.DNId=b.keyid
							  INNER JOIN tbtrx_debetnote td ON a.DNId = td.id
							  WHERE DNId=b.keyid --and isnull(td.iscancel,0)=0 --and td.LastStatus = 'validate_by_sales'
	/*
							UPDATE a
								SET
									LastStatus = IIF(a.LastStatus='validate_by_finance','validate_by_danone',@status)
									,modifiedby=@userid
									,modifiedon=getdate()
  									,StatusSalesCode='TP2'
  									,StatusSales=@status
  									,StatusSalesOn=getdate()
  									,StatusSalesBy=@userid
									FROM tbtrx_debetnote a
									INNER JOIN @temp b on a.Id=b.keyid
									WHERE isnull(a.IsCancel,0)=0

									INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn)
									SELECT keyid,@status,@userid,getdate() from @temp

									INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes)
									SELECT keyid,getdate(),@userid,'TP2','' from @temp

							UPDATE a
							  SET validate_by_sales_on=getdate()
							  ,validate_by_sales_by=@userid
							  FROM tbtrx_debetnote_his a
							  INNER JOIN @temp b on a.DNId=b.keyid
							  INNER JOIN tbtrx_debetnote td ON a.DNId = td.id
							  WHERE DNId=b.keyid and isnull(td.iscancel,0)=0 --and td.LastStatus = 'validate_by_sales'
	*/
				END
					ELSE
						BEGIN
							UPDATE a
								SET
-- 									LastStatus = @LastStatus
-- 									,modifiedby=@userid
-- 									,modifiedon=getdate()
  									StatusSalesCode='TP2'
  									,StatusSales=@status
  									,StatusSalesOn=@utcDate123
  									,StatusSalesBy=@userid
									FROM tbtrx_debetnote a
									INNER JOIN @temp b on a.Id=b.keyid
									WHERE isnull(a.IsCancel,0)=0

									INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
									SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, @status,@createdemail from @temp a
									INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id
									
									INSERT INTO tbhis_debetnote_sales_log(ParentId,ActionOn,ActionBy,StatusSalesCode,StatusSalesNotes,DPP)
									SELECT keyid,@utcDate123,@userid,'TP2','', b.DPP from @temp a
									INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id

							UPDATE a
								SET
									validate_by_sales_on=@utcDate123
									,validate_by_sales_by=@userid
								FROM tbtrx_debetnote_his a
								INNER JOIN @temp b on a.DNId=b.keyid
								INNER JOIN tbtrx_debetnote td ON a.DNId = td.id
								WHERE DNId=b.keyid --and isnull(td.iscancel,0)=0 --and td.LastStatus = 'validate_by_sales'
						END
				END
		END
	ELSE
		BEGIN
			UPDATE a
			set LastStatus=@status
			,modifiedby=@userid
			,modifiedon=@utcDate123
			FROM tbtrx_debetnote a
			INNER JOIN @id b on a.Id=b.keyid

			INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
			SELECT a.keyid,@status,@userid,@utcDate123, b.DPP, @status,@createdemail from @id a
			INNER JOIN dbo.tbtrx_debetnote b on a.keyid=b.id
		END

   if @status='send_to_dist_ho'
   BEGIN
	  UPDATE a
	  set IsFreeze=1
	  FROM tbtrx_debetnote a
	  INNER JOIN @id b on a.Id=b.keyid

      UPDATE a
	  SET send_to_dist_ho_on=@utcDate123
	  ,send_to_dist_ho_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0

	  exec [ip_dn_create_ttd] @distributorid,@userid,@id
   END

   if @status='rejected_by_dist_ho'
	BEGIN
      UPDATE a
	  set IsFreeze=0
	  FROM tbtrx_debetnote a
	  INNER JOIN @id b on a.Id=b.keyid
    END

   if @status='validate_by_dist_ho'
   BEGIN
      UPDATE a
	  SET validate_by_dist_ho_on=@utcDate123
	  ,validate_by_dist_ho_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
   END
   if @status='send_to_danone'
   BEGIN
		UPDATE a
		set StatusSalesCode=null
		FROM tbtrx_debetnote a
		INNER JOIN @id b on a.Id=b.keyid

      UPDATE a
	  SET send_to_danone_on=@utcDate123
	  ,send_to_danone_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0

	  exec [ip_dn_create_ttd_ho] @distributorid,@userid,@id
   END

	if @status='received_by_danone'
    BEGIN
	  UPDATE a
	  SET received_by_danone_on=@utcDate123
	  ,received_by_danone_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END


	if @status='validate_by_danone'
    BEGIN
	  UPDATE a
	  SET validate_by_danone_on=@utcDate123
	  ,validate_by_danone_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @temp b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END


-- 	if @status='validate_by_finance'
--     BEGIN
--         UPDATE a
--         SET validate_by_finance_on=getdate()
--         ,validate_by_finance_by=@userid
--         FROM tbtrx_debetnote_his a
--         INNER JOIN @temp b on a.DNId=b.keyid
--         INNER JOIN tbtrx_debetnote td ON b.keyid=td.id
--         WHERE DNId=b.keyid --and isnull(is_cancel,0)=0 --AND td.LastStatus='validate_by_finance'
--
--         UPDATE a
--         SET validate_by_danone_on=getdate()
--         ,validate_by_danone_by=@userid
--         FROM tbtrx_debetnote_his a
--         INNER JOIN @temp b on a.DNId=b.keyid
--         INNER JOIN tbtrx_debetnote td ON b.keyid=td.id
--         WHERE DNId=b.keyid AND td.LastStatus='validate_by_danone' --and isnull(is_cancel,0)=0
--
--     END
--
--
-- 	if @status='validate_by_sales'
--     BEGIN
--         UPDATE a
--         SET validate_by_sales_on=getdate()
--         ,validate_by_sales_by=@userid
--         -- 	  ,validate_by_danone_on=getdate()
--         -- 	  ,validate_by_danone_by=@userid
--         FROM tbtrx_debetnote_his a
--         INNER JOIN @temp b on a.DNId=b.keyid
--         INNER JOIN tbtrx_debetnote td ON b.keyid=td.id
--         WHERE DNId=b.keyid --and isnull(is_cancel,0)=0 --AND td.LastStatus='validate_by_sales'
--
--         UPDATE a
--         SET validate_by_danone_on=getdate()
--         ,validate_by_danone_by=@userid
--         FROM tbtrx_debetnote_his a
--         INNER JOIN @temp b on a.DNId=b.keyid
--         INNER JOIN tbtrx_debetnote td ON b.keyid=td.id
--         WHERE DNId=b.keyid AND td.LastStatus='validate_by_danone' --and isnull(is_cancel,0)=0
--
--     END


--	if @status='rejected_by_danone'
--	BEGIN
--      UPDATE a
--	  set IsFreeze=0
--	  FROM tbtrx_debetnote a
--	  INNER JOIN @id b on a.Id=b.keyid
--    END

	if @status='ready_to_invoice'
    BEGIN
	  UPDATE a
	  SET ready_to_invoice_on=@utcDate123
	  ,ready_to_invoice_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END
	if @status='invoice'

    BEGIN
	  UPDATE a
	  SET invoice_on=@utcDate123
	  ,invoice_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
    END

	if @status='confirm_paid'
    BEGIN
	  UPDATE a
	  SET confirm_paid_on=@utcDate123
	  ,confirm_paid_by=@userid
	  FROM tbtrx_debetnote_his a
	  INNER JOIN @id b on a.DNId=b.keyid
	  WHERE DNId=b.keyid --and isnull(is_cancel,0)=0
	END
    
/*RECALC OVER BUDGET**************************************/
DECLARE @promoid int
DECLARE db_cursor CURSOR FOR 
SELECT distinct promoid 
FROM @id a inner join tbtrx_debetnote b on a.keyid=b.Id
WHERE isnull(b.PromoId,0)<>0 

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @promoid  

WHILE @@FETCH_STATUS = 0  
BEGIN  
	exec ip_dn_overbudget_by_prommoid @promoid

      FETCH NEXT FROM db_cursor INTO @promoid 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor
/**************************************RECALC OVER BUDGET*/
	
end
GO
