USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_skp_validate_report_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_skp_validate_report_p]
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@cancelstatus bit
	,@start_from date
	,@start_to date
	,@submission_param int
	,@status int

	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS

--DECLARE
--	 @periode varchar(4)
--	,@entity int
--	,@distributor int
--	,@budgetparent int
--	,@channel int
--	,@userid varchar(50)
--	,@cancelstatus bit
--	,@start_from date
--	,@start_to date
--	,@submission_param int
--	,@status int

--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--	SET @periode ='2025'
--	SET @entity =0
--	SET @distributor =0
--	SET @budgetparent =0
--	SET @channel =0
--	SET @userid ='adminsales10'
--	SET @cancelstatus =0
--	SET @start_from ='2025-01-01'
--	SET @start_to ='2025-12-31'
--	SET @submission_param = 0
--	SET @status =-1

--	SET @start =0
--	SET @length =-1
--	SET @filter =''
--	SET @txtSearch =''


BEGIN

    DROP TABLE IF EXISTS #temp_result;
    DROP TABLE IF EXISTS #tmp_dn;
	DROP TABLE IF EXISTS #temp_promo

	DECLARE @recordsFiltered int;


DECLARE @Temp TABLE
	(
	  BudgetParent int,
	  Levels int,
	  BudgetId int
	)
	;

	SELECT DISTINCT pr.Id INTO #temp_promo FROM tbtrx_promo pr
	INNER JOIN tbtrx_promo_channel tpc ON pr.Id=tpc.PromoId
	INNER JOIN tbset_map_user_channel tmuc WITH (NOLOCK) on tpc.ChannelId = tmuc.channelid AND tmuc.userid = @userid	
	WHERE
			IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
			AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
			AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))

	SELECT DISTINCT  --top 100
		p.LongDesc Entity
		,IIF(isnull(pr.period, '') < 2025, d.LongDesc, md.longdesc) Distributor
		,IIF(isnull(pr.period, '') < 2025, p.LongDesc, mp.longdesc) PrincipalDesc
		,pr.Id PromoId
		,pr.RefId
		,c.LongDesc BudgetSource
		,CONCAT(pr.CreateBy,'_', tu.username)  [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,IIF(cat.shortdesc='DC','---', sctg.LongDesc) [SubCategory]
		,IIF(cat.shortdesc='DC','---', act.LongDesc) [Activity]
		,sact.LongDesc [SubActivity]
		,IIF(cat.shortdesc='DC','---', pr.ActivityDesc) [ActivityDesc]
		,isnull(mechanism.mechanism,'') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,IIF(cat.shortdesc='DC','---', region.RegionDesc) [RegionDesc]
		,channel.ChannelDesc
		,IIF(cat.shortdesc='DC','---', subchannel.SubChannelDesc) [SubChannelDesc]
		,IIF(cat.shortdesc='DC','---', account.AccountDesc) [AccountDesc]
		,IIF(cat.shortdesc='DC','---', subaccount.SubAccountDesc) [SubAccountDesc]		
		,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) LastStatusDate
		,pr.ApprovalNotes
		,IIF(cat.shortdesc='DC', 0, pr.NormalSales + pr.IncrSales) [Target]		
		,pr.Investment
		,IIF(cat.shortdesc='DC', 0, pr.NormalSales) [NormalSales]		
		,IIF(cat.shortdesc='DC', 0, pr.IncrSales) [IncrSales]		
		,IIF(cat.shortdesc='DC', 0, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment)) [Roi]		
		,IIF(cat.shortdesc='DC', 0, pr.CostRatio) [CostRatio]		
		,TotalClaim DnClaim
		,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
		,TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		,datediff(day,pr.CreateOn,pr.StartPromo) Gap
		,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,1,0) OnTime
		,IIF(cat.shortdesc='DC','---', pr.TsCoding) [TsCoding]		
		,brand.BrandDesc
		,IIF(cat.shortdesc='DC','---', sku.SKUDesc) [SKUDesc]	
		,IIF(cat.shortdesc='DC', 0, isnull(tpp.id, 0)) [PromoPlanId]	
		,IIF(cat.shortdesc='DC','---', isnull(tpp.RefId, '')) [PromoPlanRefId]	
		,isnull(pr.IsClose, 0) as ClosureStatus
		,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.cancelbyname as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(pr.approverreconname as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpar.ActionDate as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpar.RequestDate as varchar) ))) LastReconStatus
		, tst.Id SubactivityTypeId
		, tst.RefId SubactivityTypeRefId
		, tst.LongDesc SubactivityType
		,r.CancelReason
      	,IIF(pr.IsCancel=1
			,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.cancelbyname as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
			, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.approvername as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
				,pr.LastStatus + '-' + pr.approvername
			)
	  	)  LastStatus
	  	,c.LongDesc Allocation
	  	,isnull(pr.IsCancelLocked,0) IsCancelLocked
	  	,pr.CancelNotes
		,iif(tpsv.SKPDraftAvail=0,'N',iif(tpsv.SKPDraftAvail=1,'Y','----')) SKPDraftAvail
		,iif(tpsv.SKPDraftAvailBfrAct60=0,'N',iif(tpsv.SKPDraftAvailBfrAct60=1,'Y','----')) SKPDraftAvailBfrAct60
		,iif(tpsv.EntityDraft=0,'N',iif(tpsv.EntityDraft=1,'Y','----')) SKPEntityDraft
		,iif(tpsv.BrandDraft=0,'N',iif(tpsv.BrandDraft=1,'Y','----')) SKPBrandDraft
		,iif(tpsv.PeriodDraft=0,'N',iif(tpsv.PeriodDraft=1,'Y','----')) SKPPeriodDraft
		,iif(tpsv.ActivityDescDraft=0,'N',iif(tpsv.ActivityDescDraft=1,'Y','----')) SKPActivityDescDraft
		,iif(tpsv.MechanismDraft=0,'N',iif(tpsv.MechanismDraft=1,'Y','----')) SKPMechanismDraft
		,iif(tpsv.InvestmentDraft=0,'N',iif(tpsv.InvestmentDraft=1,'Y','----')) SKPInvestmentDraft
		,iif(tpsv.DistributorDraft=0,'N',iif(tpsv.DistributorDraft=1,'Y','----')) SKPDistributorDraft
		,iif(tpsv.ChannelDraft=0,'N',iif(tpsv.ChannelDraft=1,'Y','----')) SKPChannelDraft
		,iif(tpsv.StoreNameDraft=0,'N',iif(tpsv.StoreNameDraft=1,'Y','----')) SKPStoreNameDraft
		,iif(tpsv.PeriodMatch=0,'N',iif(tpsv.PeriodMatch=1,'Y','----')) SKPPeriodMatch
		,tpsv.PeriodMatchon
		,tpsv.PeriodMatchby
		,iif(tpsv.InvestmentMatch=0,'N',iif(tpsv.InvestmentMatch=1,'Y','----')) SKPInvestmentMatch
		,tpsv.InvestmentMatchon
		,tpsv.InvestmentMatchby
		,iif(tpsv.MechanismMatch=0,'N',iif(tpsv.MechanismMatch=1,'Y','----')) SKPMechanismMatch
		,tpsv.MechanismMatchon
		,tpsv.MechanismMatchby
		,iif(tpsv.SKPSign7=0,'N',iif(tpsv.SKPSign7=1,'Y','----')) SKPSign7
		,tpsv.SKPSign7on
		,tpsv.SKPSign7by
		,iif(tpsv.Entity=0,'N',iif(tpsv.Entity=1,'Y','----')) SKPEntity
		,tpsv.Entityon
		,tpsv.Entityby
		,iif(tpsv.Brand=0,'N',iif(tpsv.Brand=1,'Y','----')) SKPBrand
		,tpsv.Brandon
		,tpsv.Brandby
		,iif(tpsv.ActivityDesc=0,'N',iif(tpsv.ActivityDesc=1,'Y','----')) SKPActivityDesc
		,tpsv.ActivityDescon
		,tpsv.ActivityDescby
		,iif(tpsv.Distributor=0,'N',iif(tpsv.Distributor=1,'Y','----')) SKPDistributor
		,tpsv.Distributoron
		,tpsv.Distributorby
		,iif(tpsv.Channel=0,'N',iif(tpsv.Channel=1,'Y','----')) SKPChannel
		,tpsv.Channelon
		,tpsv.Channelby
		,iif(tpsv.StoreName=0,'N',iif(tpsv.StoreName=1,'Y','----')) SKPStoreName
		,tpsv.StoreNameon
		,tpsv.StoreNameby
        ,IIF(isnull(tpsv.skpstatus,0)=0, 'New',IIF(isnull(tpsv.skpstatus,0)=1, 'Pending', 'Final')) SKPStatus
	  	,cast(tpsv.SKP_Notes as varchar(max)) SKP_Notes
		,IIF(tpsv.PromoId is null, 'N',
			IIF(
				tpsv.SKPDraftAvail = 1
				AND tpsv.SKPDraftAvailBfrAct60 = 1
				AND tpsv.PeriodMatch = 1
				AND tpsv.InvestmentMatch = 1
				AND tpsv.MechanismMatch = 1
				AND tpsv.SKPSign7 = 1
				AND tpsv.EntityDraft = 1
				AND tpsv.BrandDraft = 1
				AND tpsv.PeriodDraft = 1
				AND tpsv.ActivityDescDraft = 1
				AND tpsv.MechanismDraft = 1
				AND tpsv.InvestmentDraft = 1
				AND tpsv.Entity = 1
				AND tpsv.Brand = 1
				AND tpsv.ActivityDesc = 1
				AND tpsv.DistributorDraft = 1
				AND tpsv.Distributor = 1
				AND tpsv.ChannelDraft = 1
				AND tpsv.Channel = 1
				AND tpsv.StoreNameDraft = 1
				AND tpsv.StoreName = 1
			, 'Y'
		, 'N')) as skp_flagging_status
    INTO #temp_result
	from tbtrx_promo pr with (nolock)
	INNER JOIN #temp_promo tpr ON pr.Id=tpr.Id
    INNER JOIN
    (
        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbtrx_promo_mechanism a with (nolock)
            GROUP BY a.PromoId
    ) mechanism on pr.Id = mechanism.PromoId   			
    LEFT JOIN tbtrx_promo_planning tpp with (nolock) on pr.PromoPlanId = tpp.id
    INNER JOIN tbtrx_promo_request_approval tpra with (nolock) ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
    LEFT JOIN tbtrx_promo_approval tpa with (nolock) ON tpra.id=tpa.RequestId AND tpa.IsOnGoing = 1
    LEFT JOIN tbtrx_promo_request_approval_recon tprar with (nolock) ON pr.id=tprar.ParentId AND isnull(tprar.IsCancel, 0)=0
    LEFT JOIN tbtrx_promo_approval_recon tpar with (nolock) ON tpra.id=tpar.RequestId AND tpar.IsOnGoing = 1
    LEFT JOIN tbtrx_promo_cancel_request r with (nolock) on r.PromoId=pr.Id and isnull(r.IsCancel,0)=0
	left join tbtrx_promo_skp_validate tpsv with (nolock) on pr.id=tpsv.PromoId
    left JOIN tbtrx_allocation c with (nolock) on pr.AllocationId = c.id
	left JOIN tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
	INNER JOIN tbmst_category cat with (nolock) on pr.CategoryId=cat.Id
	LEFT JOIN tbmst_distributor d with (nolock) on m.DistributorId=d.Id
	LEFT JOIN tbmst_principal p with (nolock) on m.PrincipalId=p.Id
	LEFT JOIN tbmst_distributor md WITH (NOLOCK) ON pr.DistributorId = md.id
	LEFT JOIN tbmst_principal mp WITH (NOLOCK) ON pr.EntityId = mp.id
	INNER JOIN tbmst_subcategory sctg with (nolock) on pr.SubCategoryId=sctg.id
	INNER JOIN tbset_user tu on pr.CreateBy = tu.id
    INNER JOIN tbmst_activity act with (nolock) on pr.ActivityId=act.id
    INNER JOIN tbmst_subactivity sact with (nolock) on pr.SubActivityId=sact.id
    INNER JOIN tbmst_subactivity_type tst with (nolock) on sact.SubActivityTypeId = tst.id
    --INNER JOIN tbtrx_promo_channel tpc with (nolock) on pr.id=tpc.PromoId
    --INNER JOIN tbset_map_user_channel tmuc with (nolock) on tpc.ChannelId = tmuc.channelid and tmuc.userid = @userid
    INNER JOIN
            (
                select PromoId, string_agg(chn.LongDesc,', ') ChannelDesc
                        from tbtrx_promo_channel a with (nolock)
                        INNER JOIN tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                        INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                    GROUP BY a.PromoId
            ) channel
            on pr.Id = channel.PromoId
    INNER JOIN
            (
                select PromoId, string_agg(subchn.LongDesc,', ') SubChannelDesc
                            from tbtrx_promo_subchannel a with (nolock)
                            INNER JOIN tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
                            INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                    GROUP BY a.PromoId
            ) subchannel
            on pr.Id = subchannel.PromoId
	INNER JOIN
            (
                select PromoId, string_agg(ac.LongDesc,', ') AccountDesc
                            from tbtrx_promo_account a with (nolock)
                            INNER JOIN tbmst_account ac with (nolock) ON a.AccountId=ac.Id
                            INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                    GROUP BY a.PromoId
            ) account
        on pr.Id = account.PromoId
	INNER JOIN
            (
                select PromoId, string_agg(sac.LongDesc,', ') SubAccountDesc
                            from tbtrx_promo_subaccount a with (nolock)
                            INNER JOIN tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                            INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                    GROUP BY a.PromoId
            ) subaccount
            on pr.Id = subaccount.PromoId
	INNER JOIN tbhlp_promo_region region on pr.Id = region.PromoId
	LEFT JOIN tbhlp_promo_brand brand on pr.Id = brand.PromoId
	INNER JOIN tbhlp_promo_product sku on pr.Id = sku.PromoId
	left join (
	    SELECT
			a.PromoId,
			SUM(DPP) TotalClaim,
			SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
		FROM
			tbtrx_debetnote a with (nolock)
			INNER JOIN tbtrx_promo pr with (nolock) on a.PromoId=pr.Id
			AND isnull(a.IsCancel, 0) = 0
		GROUP BY a.PromoId
	) dn on pr.Id=dn.PromoId
	WHERE 
		((isnull(pr.IsCancel,0)=0 AND isnull(pr.IsClose,0)=0 ) OR (isnull(pr.IsClose,0)=1 and dn.TotalClaim>0))
		AND IIF(@periode < 2025, m.Periode, pr.period) = @periode
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
		--AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
		--AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
	 --   AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
		AND IIF(@status=-1, '',isnull(tpsv.skpstatus,0)) = IIF(@status=-1, '', @status)

	ORDER BY pr.Id DESC


    /**********************
        start pagination
    **********************/
    IF @length = -1
    BEGIN
        IF @txtSearch is null
        BEGIN
            SELECT * FROM #temp_result
            ORDER BY PromoId ASC
        END
        ELSE
        BEGIN
            SELECT * FROM #temp_result
            WHERE
                (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                (isNull(refId,'') like '%' + @txtSearch + '%') OR
                (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                (isNull(Allocation,'') like '%' + @txtSearch + '%')
            ORDER BY PromoId ASC
        END
    END
    ELSE
    BEGIN
        IF @txtSearch is null
        BEGIN
            SELECT * FROM #temp_result
            ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
        END
        ELSE
        BEGIN
            SELECT * FROM #temp_result
            WHERE
                (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
                (isNull(refId,'') like '%' + @txtSearch + '%') OR
                (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
                (isNull(Allocation,'') like '%' + @txtSearch + '%')
            ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
        END
    END
    SET @recordsFiltered = (SELECT isnull(count( [PromoId]),0) FROM #temp_result
        WHERE 
            (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(refId,'') like '%' + @txtSearch + '%') OR
            (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(Allocation,'') like '%' + @txtSearch + '%')

        )

    SELECT isnull(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
    /**********************
        end pagination
    **********************/
    DROP TABLE IF EXISTS #temp_result;
    DROP TABLE IF EXISTS #tmp_dn;
	DROP TABLE IF EXISTS #temp_promo


END
GO
