USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_conversion_rate_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_conversion_rate_list] 
	@period varchar(4)
	,@channelid ArrayIntType READONLY
	,@groupbrandid ArrayIntType READONLY

	,@start int
	,@length int
	,@txtSearch varchar(255)
	,@order varchar(255)
	,@sort varchar(4)

	,@profileid varchar(50) = NULL
	,@subchannelid ArrayIntType READONLY 
AS
--DECLARE
--	@period varchar(4)
--	,@channelid ArrayIntType
--	,@groupbrandid ArrayIntType 

--	,@start int
--	,@length int
--	,@txtSearch varchar(255)
--	,@order varchar(255)
--	,@sort varchar(4)
--	,@profileid varchar(50) = NULL
--	,@subchannelid ArrayIntType

--SET @period = '2025'
----INSERT INTO @channelid VALUES(2),(3), (4), (5), (6)
----INSERT INTO @groupbrandid VALUES(1),(2),(3),(4),(5)
--INSERT INTO @channelid VALUES(null)
--INSERT INTO @groupbrandid VALUES(null)
--INSERT INTO @subchannelid VALUES(null)
--SET @start = 0
--SET @length = -1
--SET @txtSearch = null
--SET @order = 'channel'
--SET @sort = 'asc'
--SET @profileid = 'xvamain'
BEGIN 
	DROP TABLE IF EXISTS #temp_ss_conversion_rate

	DECLARE @channel_list ArrayIntType, @groupbrand_list ArrayIntType, @subchannel_list ArrayIntType;
	DECLARE @channelCount INT, @groupbrandCount INT, @subchannelCount INT;
    DECLARE @recordsFiltered int;	
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(ISNULL(@order,'')='','period', @order)
	SET @start = @start * @length

	SET @channelCount = (SELECT TOP 1 ISNULL(keyid, 0) FROM @channelid)
	SET @groupbrandCount = (SELECT TOP 1 ISNULL(keyid, 0) FROM @groupbrandid)
	SET @subchannelCount = (SELECT TOP 1 ISNULL(keyid, 0) FROM @subchannelid)

	IF @channelCount = 0
	BEGIN
		INSERT INTO @channel_list
		SELECT a.id FROM tbmst_channel a INNER JOIN tbset_user_channel_sstt b ON a.Id=b.channelId AND b.userId=@profileid WHERE ISNULL(a.IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @channel_list
		SELECT keyid FROM @channelid a INNER JOIN tbset_user_channel_sstt b ON a.keyid=b.channelId AND b.userId=@profileid
	END

	IF @groupbrandCount = 0
	BEGIN
		INSERT INTO @groupbrand_list
		SELECT id FROM tbmst_brand_group WHERE ISNULL(IsDeleted, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @groupbrand_list
		SELECT keyid FROM @groupbrandid
	END

	IF @subchannelCount = 0
	BEGIN
		INSERT INTO @subchannel_list
		SELECT ms.id FROM tbmst_channel a INNER JOIN tbmst_subchannel ms ON a.id = ms.ChannelId AND ISNULL(ms.isdelete, 0) = 0 INNER JOIN tbset_user_channel_sstt b ON a.Id=b.channelId AND b.userId=@profileid WHERE ISNULL(a.IsDelete, 0) = 0
	END
	ELSE
	BEGIN
		INSERT INTO @subchannel_list
		SELECT keyid FROM @subchannelid a INNER JOIN tbmst_subchannel ms ON a.keyid = ms.id INNER JOIN tbmst_channel mc ON ms.ChannelId = mc.Id 
		INNER JOIN tbset_user_channel_sstt b ON mc.id=b.channelId AND b.userId=@profileid
	END

	SELECT @period period, b.channelId, b.channel, b.subChannelId, b.subChannel, b.groupBrandId, b.groupBrand
		, isnull(a.m1,0) m1, isnull(a.m2, 0) m2, isnull(a.m3, 0) m3, isnull(a.m4, 0) m4, isnull(a.m5, 0) m5, isnull(a.m6, 0) m6
		, isnull(a.m7,0) m7, isnull(a.m8, 0) m8, isnull(a.m9, 0) m9, isnull(a.m10, 0) m10, isnull(a.m11, 0) m11, isnull(a.m12, 0) m12
	INTO #temp_ss_conversion_rate
	FROM tbtrx_ss_conversion_rate a
	RIGHT JOIN (
		SELECT mc.id channelId, mc.LongDesc channel, ms.Id subChannelId, ms.LongDesc subChannel, mbg.id groupBrandId, mbg.LongDesc groupBrand
		FROM tbmst_channel mc
		INNER JOIN tbmst_subchannel ms ON mc.id = ms.ChannelId AND isnull(ms.isdelete, 0) = 0
		CROSS JOIN tbmst_brand_group mbg
		WHERE isnull(mc.isdelete, 0) = 0
		AND isnull(mbg.isdeleted, 0) = 0
		AND mc.id IN (SELECT keyid FROM @channel_list)
		AND mbg.id IN (SELECT keyid FROM @groupbrand_list)
		AND ms.id IN (SELECT keyid FROM @subchannel_list)
	) b ON a.channelid = b.channelId AND a.groupbrandid = b.groupBrandId AND a.subChannelId = b.subChannelId
	AND a.period = @period

 /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(period),0) FROM #temp_ss_conversion_rate
		WHERE 
			(period like '%' + isnull(@txtSearch,'') + '%') OR 
			(channel like '%' + isnull(@txtSearch,'') + '%') OR
			(groupbrand like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(period),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_ss_conversion_rate
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_ss_conversion_rate			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_ss_conversion_rate
				WHERE 
					(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(groupbrand like ''%' + isnull(@txtSearch,'') + '%'') 
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_ss_conversion_rate
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_ss_conversion_rate
				WHERE 
					(period like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(groupbrand like ''%' + isnull(@txtSearch,'') + '%'') 
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
	DROP TABLE IF EXISTS #temp_ss_conversion_rate
END
GO
