

/****** Object:  StoredProcedure [dbo].[ip_promo_list_display]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_display] --'2020',1,0,0,0,'kamsat',0
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@cancelstatus bit
--SET @periode ='2020'
--SET @entity = 1
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
AS
/*
 * EDJ 2020-04-01 : add username in laststatus
 * EDJ 2020-07-11 : AND isnull(pr.StatusApprovalCodeRecon, '')='' for reconciliation
 */
BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);

			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	IF @userid='0'
	BEGIN
		select distinct	  
		  p.LongDesc Entity
		  ,d.LongDesc Distributor
		  ,p.LongDesc PrincipalDesc
		  ,pr.Id PromoId
		  ,pr.RefId
		  ,pr.ActivityDesc	
	      ,IIF(pr.IsCancel=1
				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
					,pr.LastStatus + '-' + pr.ApproverName
				)
		  )  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
		  
--	      ,IIF(pr.IsCancel=1
--				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
--				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
--					,pr.LastStatus + '-' + uapprover.username
--				)
--		  )  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
	--  	  ,IIF (isnull(pr.IsCancelLocked,0)=1,'Waiting for approval cancel request',pr.LastStatus)  LastStatus
		  ,c.LongDesc Allocation 
          ,IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(dn.dnpaid, 0)) Investment --issue #839
		  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
		  ,pr.TsCoding
		  ,pr.CancelNotes 
		  ,pr.CreateBy 
		  ,dn.dnclaim
		  ,pr.CreateOn 
		  ,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) LastStatusDate
   	    ,pr.investment investmentBfrClose --issue #839
	    ,iif(isnull(pr.isclose,0)=0, 0, pr.investment-dn.dnpaid) investmentClosedBalance --issue #839		
		from @temp a
		inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
        inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
        INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover		
	    inner join tbtrx_allocation c on a.BudgetId=c.Id 
		inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		left join tbmst_distributor d on m.DistributorId=d.Id
		left join tbmst_principal p on m.PrincipalId=p.Id
		left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
--		inner join tbset_user uo on uo.Id=usr.UserId
--		inner join tbset_user uf on uf.Id=usr.UserId
--		inner join tbset_user upr on upr.Id=pr.Approver
--		left join tbset_user ucancel on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
--		left join tbset_user uapprover on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
		left join
				(
					select AllocationId,
					STUFF(
							(select ',' + chn.LongDesc 
								from tbtrx_allocation_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.AllocationId=b.AllocationId
								FOR XML PATH ('')),1,1,'') AS ChannelDesc
						FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
				) channel
				on c.Id = channel.AllocationId
		left join (
--		    SELECT a.PromoId,SUM ( IIF(isnull(a.VATExpired,0)=0, isnull(a.DPP,0), isnull(a.DPP,0) + isnull(a.PPNAmt,0))) dnclaim
--	    	SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) dnclaim
--	    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(isnull(tc.dpp,0)) dnpaid
	    	SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) dnclaim
	    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) dnpaid		
	    	FROM tbtrx_debetnote a
--	        left join (
--	        	SELECT dnid
--	        		, SUM(isnull(dpp, 0)) dpp
--	        		, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
--	        	FROM tbtrx_creditnote
--	        	WHERE isnull(iscancel, 0) = 0
--	        	GROUP BY dnid
--	        ) tc ON a.id = tc.dnid
    		WHERE isnull(a.IsCancel, 0) = 0
            AND isnull(a.IsDNPromo,0)=1
            GROUP BY a.PromoId
		) dn on pr.id=dn.promoid
		where m.Periode=@periode
		AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
		AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
-- 		AND isnull(IsCancel,0)=@cancelstatus
--		AND EXISTS
--		(
--			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and m.DistributorId=dis.DistributorId
--		)
		
	----	AND isnull(pr.StatusApprovalCodeRecon, '')=''
	--	AND isnull(pr.StatusApprovalCode, '')<>'TP2' --remark for listing promo cancel
		ORDER BY pr.Id
	END 
	ELSE
	BEGIN 
		select distinct	  
		  p.LongDesc Entity
		  ,d.LongDesc Distributor
		  ,p.LongDesc PrincipalDesc
		  ,pr.Id PromoId
		  ,pr.RefId
		  ,pr.ActivityDesc	
	      ,IIF(pr.IsCancel=1
				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
					,pr.LastStatus + '-' + pr.ApproverName 
				)
		  )  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
--	      ,IIF(pr.IsCancel=1
--				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
--				, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
--					,pr.LastStatus + '-' + uapprover.username
--				)
--		  )  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
	--  	  ,IIF (isnull(pr.IsCancelLocked,0)=1,'Waiting for approval cancel request',pr.LastStatus)  LastStatus
		  ,c.LongDesc Allocation 
		  ,IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(dn.dnpaid, 0)) Investment --issue #839
		  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
		  ,pr.TsCoding
		  ,pr.CancelNotes 
		  ,pr.CreateBy 
		  ,dn.dnclaim		
		  ,pr.CreateOn 
		  ,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) LastStatusDate
   	    ,pr.investment investmentBfrClose --issue #839
	    ,pr.investment-dn.dnpaid investmentClosedBalance --issue #839		  
		from @temp a
		inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
        inner  JOIN tbtrx_promo_request_approval tpra ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
        INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.RequestId AND pr.Approver=tpa.UserApprover				
	    inner join tbtrx_allocation c on a.BudgetId=c.Id 
		inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		left join tbmst_distributor d on m.DistributorId=d.Id
		left join tbmst_principal p on m.PrincipalId=p.Id
		left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
--		inner join tbset_user uo on uo.Id=usr.UserId
--		inner join tbset_user uf on uf.Id=usr.UserId
--		inner join tbset_user upr on upr.Id=pr.Approver
--		left join tbset_user ucancel on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
--		left join tbset_user uapprover on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
		left join
				(
					select AllocationId,
					STUFF(
							(select ',' + chn.LongDesc 
								from tbtrx_allocation_channel a
								join tbmst_channel chn
								ON a.ChannelId=chn.Id
								where a.AllocationId=b.AllocationId
								FOR XML PATH ('')),1,1,'') AS ChannelDesc
						FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
				) channel
				on c.Id = channel.AllocationId
		left join (
--		    SELECT a.PromoId,SUM ( IIF(isnull(a.VATExpired,0)=0, isnull(a.DPP,0), isnull(a.DPP,0) + isnull(a.PPNAmt,0))) dnclaim
--	    	SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) - SUM(isnull(tc.dpp,0)) dnclaim
--	    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0))- SUM(isnull(tc.dpp,0)) dnpaid
	    	SELECT a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) dnclaim
	    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) dnpaid		
	    	FROM tbtrx_debetnote a
--	        left join (
--	        	SELECT dnid
--	        		, SUM(isnull(dpp, 0)) dpp
--	        		, SUM(iif(isnull(laststatus, '')='confirm_paid',isnull(dpp, 0),0)) TotalPaid
--	        	FROM tbtrx_creditnote
--	        	WHERE isnull(iscancel, 0) = 0
--	        	GROUP BY dnid
--	        ) tc ON a.id = tc.dnid
    		WHERE isnull(a.IsCancel, 0) = 0
            AND isnull(a.IsDNPromo,0)=1
            GROUP BY a.PromoId
		) dn on pr.id=dn.promoid
		where m.Periode=@periode
		AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
		AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
-- 		AND isnull(IsCancel,0)=@cancelstatus
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and m.DistributorId=dis.DistributorId
		)
		
	----	AND isnull(pr.StatusApprovalCodeRecon, '')=''
	--	AND isnull(pr.StatusApprovalCode, '')<>'TP2' --remark for listing promo cancel
		ORDER BY pr.Id
		
	END
END
GO
