USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dnmanual_assign_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_dnmanual_assign_list] --'cmmmka'
@userid varchar(50)
AS
/*
 * EDJ 2020-04-01 : Add isnull(isCancel,0)=0
 */
BEGIN
	SELECT *, iif(ModifiedOn is NULL, createon,ModifiedOn) as LastUpdate
	FROM tbtrx_debetnote where AssignBy=@userid and isnull(PromoId,0)=0 and isnull(IsDNManual,0)=1 and isnull(isCancel,0)=0 and isnull(IsDNPromo,0)=1 
END


GO
