USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_update_fp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dn_update_fp]
@dn DebetNoteFPType READONLY,
@userid varchar(50)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

		truncate table tbtemp_DebetNoteFPType
        INSERT INTO tbtemp_DebetNoteFPType
            SELECT * from @dn

begin try
    BEGIN TRANSACTION

        declare @dnfailed as DebetNoteFPType
        declare @temp as TABLE
             (
                 doc varchar(255),
                 [status] varchar(255)
             )

        INSERT INTO @temp
        SELECT a.RefId [doc],'DN doesn`t exists' [status] FROM @dn a
        WHERE
            NOT EXISTS
                (
                    SELECT * FROM tbtrx_debetnote dn
                    where dn.RefId=a.RefId
                )
            and a.Type='DN'

        INSERT INTO @temp
        SELECT a.RefId [doc],'Wrong Type (Only use DN or Invoice for Type)' [status] FROM @dn a
        WHERE a.Type<>'DN' and a.Type<>'Invoice'

        INSERT into @dnfailed
        SELECT a.* FROM @dn a
        WHERE
            NOT EXISTS
                (
                    SELECT * FROM tbtrx_debetnote dn
                    where dn.RefId=a.RefId
                )
            and a.Type='DN'

        UPDATE dn
            SET dn.FPNumber=a.FPNumber,
            	dn.FPDate=CONVERT(date, a.FPDate, 105),
--                dn.FPDate=cast(a.FPDate as date),
                dn.FPModifiedBy=@userid,
                dn.FPModifiedOn=@utcDate123
        FROM tbtrx_debetnote dn
        INNER JOIN @dn a ON dn.RefId=a.RefId
        WHERE a.Type='DN'

        UPDATE dn
            SET dn.FPNumber=a.FPNumber,
                dn.FPDate=CONVERT(date, a.FPDate, 105),
--				dn.VATExpired = IIF(isnull(a.FPNumber,'')='', 0
--					, IIF(a.fpdate IS NULL OR YEAR(a.fpdate)<2000,0
--						, IIF(concat(year(dateadd(month, 4, a.fpdate)),'-', month(dateadd(month, 4, a.fpdate)),-01) <= @utcDate123, 1, 0) )),
					dn.VATExpired = IIF(isnull(a.FPNumber,'')='', 0
					, IIF(a.fpdate IS NULL OR YEAR(CONVERT(date, a.FPDate, 105))<2000,0
						, IIF(concat(year(dateadd(month, 4, CONVERT(date, a.FPDate, 105))),'-', month(dateadd(month, 4, CONVERT(date, a.FPDate, 105))),-01) <= @utcDate123, 1, 0) )),
                dn.FPModifiedBy=@userid,
                dn.FPModifiedOn=@utcDate123
        FROM tbtrx_debetnote dn
        INNER JOIN tbtrx_invoice_detail tid on dn.id=tid.DNId
        INNER JOIN tbtrx_invoice_header tih on tid.ParentId=tih.Id
        INNER JOIN @dn a ON tih.RefId=a.RefId
        WHERE a.Type='Invoice' and isnull(dn.IsCancel, 0)=0 and isnull(tid.IsCancel, 0)=0

    commit


    if exists(SELECT * FROM @temp)
        begin
            select doc,[status] from @temp
--	rollback
            RETURN
        end

end try
begin catch
    ROLLBACK
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
        @ErrorSeverity, -- Severity.
        @ErrorState -- State.
        );

end catch
GO
