USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_tt_upload_rc_promo_update]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_tt_upload_rc_promo_update] 	
	@ssttrc SSTTTypeRC READONLY
AS

--DECLARE @ssttrc SSTTTypeRC
----INSERT INTO @ssttrc VALUES
----	('2025', 'Retailer Cost', 'NKA Trading Term', 'MMKA', 'MMKA', 'ALFAMART','ALFAMART', 'Tigaraksa', 'TRS', 'SGM', 'Contractual', 'Data Sharing', 'Trading Term - Others', 20, '2025 SGM - TRS ALFAMART Trading Term - Others')

----drop table if exists LUKTEMPssttrc
----select * into LUKTEMPssttrc from @ssttrc 

----insert into @ssttrc select * from  LUKTEMPssttrc 
----select * from LUKTEMPssttrc 

BEGIN
	DROP TABLE IF EXISTS #temp_ss_tt
	DECLARE @resPromo as TABLE
    (
		promoId int
	)

	/* TT Consol by Sub Activity*/
	SELECT DISTINCT tt.id ttid, pr.period, mc.id channelid, ms.id subchannelid, ma.id accountid, msa.id subaccountid, mbg.id groupbrandid, pr.StartPromo, pr.EndPromo, pr.id promoId, pr.investment, a.tt, pr.StatusApprovalCode, isnull(pr.StatusApprovalCodeRecon, '') StatusApprovalCodeRecon, isnull(pr.reconciled, 0) reconciled
	INTO #temp_ss_tt
	FROM @ssttrc a
	INNER JOIN tbmst_channel mc ON a.channel = mc.LongDesc AND a.tt>0 --AND isnull(mc.isdelete, 0) = 0 
	INNER JOIN tbmst_subchannel ms ON a.subchannel = ms.LongDesc --AND isnull(ms.isdelete, 0) = 0
	INNER JOIN tbmst_account ma ON a.account = ma.LongDesc --AND isnull(ma.isdelete, 0) = 0
	INNER JOIN tbmst_subaccount msa ON a.subaccount = msa.LongDesc --AND isnull(msa.isdelete, 0) = 0
	INNER JOIN tbmst_brand_group mbg ON a.groupbrand = mbg.LongDesc --AND isnull(mbg.isdeleted, 0) = 0
	INNER JOIN tbmst_subactivity sa ON a.subactivity = sa.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	INNER JOIN tbmst_distributor  md ON a.distributor = md.LongDesc
	INNER JOIN tbmst_main_activity_dtl mad ON sa.Id = mad.subactivityid
	INNER JOIN tbmst_main_activity mah ON mad.mainactivityid = mah.id AND mah.longDesc = 'Running Rate'
	INNER JOIN (
		SELECT 
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
				FROM tbtrx_ss_volume a
					INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND mc.id = b.channelid
			AND ms.id = b.subchannelid
			AND ma.id = b.accountid
			AND msa.id = b.subaccountid
			AND mbg.id = b.groupbrandid
	INNER JOIN tbtrx_ss_tt tt ON a.period = tt.period
		AND mc.id = tt.channelid
		AND ms.id = tt.subchannelid
		AND ma.id = tt.accountid
		AND msa.id = tt.subaccountid
		AND mbg.id = tt.groupbrandid
		AND sa.id = tt.subactivityid
		AND md.id = tt.distributorid
	INNER JOIN tbtrx_promo pr ON tt.id = pr.AllocationId AND pr.CategoryShortDesc = 'RC' AND isnull(pr.iscancel, 0) = 0 AND isnull(pr.isclose, 0) = 0 and isnull(pr.Period, '') >=2025

	/* TT Consol by Activity*/
	INSERT INTO #temp_ss_tt
	SELECT DISTINCT tt.id ttid, pr.period, mc.id channelid, ms.id subchannelid, ma.id accountid, msa.id subaccountid, mbg.id groupbrandid, pr.StartPromo, pr.EndPromo, pr.id promoId, pr.investment, a.tt, pr.StatusApprovalCode, isnull(pr.StatusApprovalCodeRecon, '') StatusApprovalCodeRecon, isnull(pr.reconciled, 0) reconciled
	FROM @ssttrc a
	INNER JOIN tbmst_channel mc ON a.channel = mc.LongDesc AND a.tt>0 --AND isnull(mc.isdelete, 0) = 0 
	INNER JOIN tbmst_subchannel ms ON a.subchannel = ms.LongDesc --AND isnull(ms.isdelete, 0) = 0
	INNER JOIN tbmst_account ma ON a.account = ma.LongDesc --AND isnull(ma.isdelete, 0) = 0
	INNER JOIN tbmst_subaccount msa ON a.subaccount = msa.LongDesc --AND isnull(msa.isdelete, 0) = 0
	INNER JOIN tbmst_brand_group mbg ON a.groupbrand = mbg.LongDesc --AND isnull(mbg.isdeleted, 0) = 0
	INNER JOIN tbmst_activity msta ON a.activity = msta.LongDesc --AND isnull(sa.isdeleted, 0) = 0
	INNER JOIN tbmst_distributor  md ON a.distributor = md.LongDesc
	INNER JOIN (
		SELECT 
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
				FROM tbtrx_ss_volume a
					INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND mc.id = b.channelid
			AND ms.id = b.subchannelid
			AND ma.id = b.accountid
			AND msa.id = b.subaccountid
			AND mbg.id = b.groupbrandid
	INNER JOIN tbtrx_ss_tt tt ON a.period = tt.period
		AND mc.id = tt.channelid
		AND ms.id = tt.subchannelid
		AND ma.id = tt.accountid
		AND msa.id = tt.subaccountid
		AND mbg.id = tt.groupbrandid
		AND msta.id = tt.activityid
		AND tt.subactivityid = 0
		AND md.id = tt.distributorid
	INNER JOIN tbtrx_promo pr ON tt.id = pr.AllocationId AND pr.CategoryShortDesc = 'RC' AND isnull(pr.iscancel, 0) = 0 AND isnull(pr.isclose, 0) = 0 and isnull(pr.Period, '') >=2025
	INNER JOIN tbmst_main_activity_dtl tmad on pr.SubActivityId = tmad.subactivityid
	INNER JOIN tbmst_main_activity tma on tmad.mainactivityid = tma.id AND tma.longDesc = 'Running Rate'
	WHERE pr.id NOT IN (SELECT promoId FROM #temp_ss_tt)



	DECLARE cursor_tt CURSOR FOR
	SELECT DISTINCT period, channelid, subchannelid, accountid, subaccountid, groupbrandid, StartPromo, EndPromo, promoId, investment, tt, StatusApprovalCode, StatusApprovalCodeRecon, reconciled
	FROM #temp_ss_tt

	DECLARE @utcDate123 DATETIME
		SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE
		@period int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @groupbrandid int
		, @promostart date
		, @promoend date
		, @promoid int
		, @promoInvestment numeric(18,0)
		, @cr float
		, @promoCR numeric(19,2)
		, @tt float
		, @ss_value float
		, @cost float
		, @statusApprovalCode varchar(3)
		, @statusApprovalCodeRecon varchar(3)
		, @reconciled int

	DECLARE 
		@salesContribution float
		, @storeCoverage float
		, @redemptionRate float
		, @salesContribution_val float
		, @storeCoverage_val float
		, @redemptionRate_val float

	DECLARE @tbvolume TABLE
	( 
		[period] INT,
		[channelid] INT,
		[subchannelid] INT,
		[accountid] INT,
		[subaccountid] INT,
		[groupbrandid] INT,
		[ssvalue] numeric(18,0)
	)

	DECLARE
		@Promo PromoFormType
		,@Region ArrayIntType
		,@Sku ArrayIntType
		,@attachment PromoAttachmentType
		,@Mechanism PromoMechanismType

	DECLARE
		@entityId INT
		, @distributorId INT
		, @categoryId INT
		, @subCategoryId INT
		, @activityId INT
		, @subActivityId INT
		, @subActivityTypeId INT
		, @promoActivityDesc VARCHAR(255)
		, @brandId INT
		, @createdBy VARCHAR(100)
		, @createdEmail VARCHAR(100)

	DECLARE 
		@SQL NVARCHAR(MAX)
		, @sumSQL NVARCHAR(MAX)
		, @ssvalue float
		, @apstart int
		, @apend int

	OPEN cursor_tt;
	FETCH NEXT FROM cursor_tt INTO 	@period
		, @channelid
		, @subchannelid
		, @accountid
		, @subaccountid
		, @groupbrandid
		, @promostart
		, @promoend
		, @promoid
		, @promoInvestment
		, @cr
		, @statusApprovalCode
		, @statusApprovalCodeRecon
		, @reconciled
	;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @apstart=MONTH(@promostart)
		SET @apend=MONTH(@promoend)
		SET @sumSQL = '';
		SET @SQL = '';

		WHILE @apstart <= @apend
		BEGIN
			SET @sumSQL = CONCAT(@sumSQL, '(ISNULL(a.m',@apstart,',0) * ISNULL(b.m',@apstart,',0))+')
			SET @apstart = @apstart + 1
		/* do some work */
		END
		SET @sumSQL = LEFT(@sumSQL, LEN(@sumSQL)-1) 

		SET @SQL = CONCAT('
			SELECT 
			a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
			,ROUND(SUM(', @sumSQL, '),0) ssvalue
			FROM tbtrx_ss_volume a
			INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelId=b.channelId AND a.subchannelId=b.subchannelId AND a.groupbrandid=b.groupbrandid
			WHERE 
				a.period= ',@period,'
				AND a.channelid = ', @channelid, '
				AND a.subchannelid = ', @subchannelid, '
				AND a.accountid = ', @accountid, '
				AND a.subaccountid = ', @subaccountid, '
				AND a.groupbrandid = ', @groupbrandid, '
			GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid'
		)

		DELETE FROM @tbvolume
		INSERT INTO @tbvolume
		EXEC sys.sp_executesql @SQL

		SELECT @ss_value=ssvalue FROM @tbvolume		
		--SET @cost = ROUND(@ss_value*@cr, 0)	
		SELECT @salesContribution_val = IIF(SalesContribution = 0, 100, SalesContribution), @salesContribution = SalesContribution
			, @storeCoverage_val = IIF(StoresCoverage = 0, 100, StoresCoverage), @storeCoverage = StoresCoverage
			, @redemptionRate_val = IIF(RedemptionRate = 0, 100, RedemptionRate), @redemptionRate = RedemptionRate
		FROM tbtrx_promo_calculator WHERE promoid = @promoid

		SET @cost = ROUND(@ss_value * (@salesContribution_val / 100) * (@storeCoverage_val / 100) * (@redemptionRate_val / 100) * @cr, 0)		
		

		--SELECT @promoid promoid, @promoInvestment promoinvestment, @cost cost, @reconciled

		IF @promoInvestment <> @cost
		BEGIN			
			SELECT 
				@entityId = pr.entityId
				, @distributorId = pr.distributorId
				, @categoryId = pr.categoryId
				, @subCategoryId = pr.subCategoryId
				, @activityId = pr.activityId
				, @subActivityId = pr.subActivityId
				, @subActivityTypeId = ms.subActivityTypeId
				, @promoActivityDesc = pr.activityDesc
				, @brandId = pr.groupBrandId
				, @createdBy = pr.createBy
				, @createdEmail = pr.createdEmail
			FROM tbtrx_promo pr
			INNER JOIN tbmst_subactivity ms ON pr.subActivityId = ms.id
			WHERE pr.id = @promoid

			DELETE FROM @Promo;
			DELETE FROM @Region;
			DELETE FROM @Sku;
			DELETE FROM @attachment;
			DELETE FROM @Mechanism;

			INSERT INTO @Promo (PromoId, Periode, EntityId, DistributorId, BudgetMasterId, CategoryId, SubCategoryId, ActivityId, SubActivityId, SubActivityTypeId, ActivityDesc, StartPromo, EndPromo
				, ChannelId, SubChannelId, AccountId, SubAccountId, GroupBrandId, Baseline, UpLift, TotalSales, SalesContribution, StoresCoverage, RedemptionRate, CR, Cost, StatusApproval, Notes
				, CreateOn, CreateBy, initiator_notes, CreatedEmail, ModifReason)
				VALUES (@promoid, @period, @entityId, @distributorId, 0, @categoryId, @subCategoryId, @activityId, @subActivityId, @subActivityTypeId, @promoActivityDesc, @promoStart, @promoEnd
				, @channelId, @subChannelId, @accountId, @subAccountId, @brandId, 0, 0, @ss_value, @salesContribution, @storeCoverage, @redemptionRate, @cr * 100, @cost, null, ''
				,@utcDate123, @createdBy, '', @createdEmail, '');

			INSERT INTO @Region
				SELECT regionId FROM tbtrx_promo_region WHERE promoid = @promoid

			INSERT INTO @Sku
				SELECT productId FROM tbtrx_promo_product WHERE promoid = @promoid

			INSERT INTO @attachment
				SELECT fileName, docLink FROM tbtrx_promo_doclink WHERE promoid = @promoid

			INSERT INTO @Mechanism
				SELECT mechanismId, mechanism, notes, productId, baseline, uplift, @ss_value, salesContribution, storesCoverage, redemptionRate, @cr * 100, @cost FROM tbtrx_promo_mechanism WHERE promoid = @promoid

			--BEGIN TRY
			--	IF @reconciled = 0 --and @promoid = 3686
			--	BEGIN
			--		INSERT INTO @resPromo VALUES(@promoid)

			--		exec [dbo].[ip_promo_update_for_tt]
			--			@Promo = @Promo
			--			,@Region = @Region
			--			,@Sku = @Sku
			--			,@attachment = @attachment
			--			,@Mechanism = @Mechanism
			--	END
			--	ELSE
			--	BEGIN
			--		INSERT INTO @resPromo VALUES(@promoid)

			--		exec [dbo].[ip_promo_update_recon_for_tt]
			--			@Promo = @Promo
			--			,@Region = @Region
			--			,@Sku = @Sku
			--			,@attachment = @attachment
			--			,@Mechanism = @Mechanism
			--	END
			--END TRY
			--BEGIN CATCH
			--	PRINT 'Error details: ' + ERROR_MESSAGE();
			--	-- Log error if needed
			--	INSERT INTO [dbo].[tblog_promo_update]
			--	VALUES (getdate(), 'ip_ss_tt_upload_rc_promo_update', ERROR_MESSAGE()) 
			--END CATCH;
		END

		FETCH NEXT FROM cursor_tt INTO 	@period
			, @channelid
			, @subchannelid
			, @accountid
			, @subaccountid
			, @groupbrandid
			, @promostart
			, @promoend
			, @promoid
			, @promoInvestment
			, @cr
			, @statusApprovalCode
			, @statusApprovalCodeRecon
			, @reconciled
		;
	END;

	CLOSE cursor_tt;
	DEALLOCATE cursor_tt;

	SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approver
		, a.username userNameInitiator
		,a.email emailInitiator
		,b.username userNameApprover
		,b.email emailApprover
		,isnull(pr.reconciled, 0) reconciled
	FROM tbtrx_promo pr 
	INNER JOIN @resPromo res ON res.promoId = pr.id
	LEFT JOIN tbset_user a ON pr.CreateBy=a.Id
	LEFT JOIN tbset_user b ON pr.Approver=b.Id
	WHERE isnull(pr.reconciled, 0) = 0 AND pr.StatusApprovalCode<>'TP0'
	UNION ALL
	SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approverRecon approver
		, a.username userNameInitiator
		,a.email emailInitiator
		,b.username userNameApprover
		,b.email emailApprover
		,isnull(pr.reconciled, 0) reconciled
	FROM tbtrx_promo pr 
	INNER JOIN @resPromo res ON res.promoId = pr.id
	LEFT JOIN tbset_user a ON pr.CreateBy=a.Id
	LEFT JOIN tbset_user b ON pr.ApproverRecon=b.Id
	WHERE isnull(pr.reconciled, 0) = 1

END

GO
