USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_select]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_select] --1
@id int
AS

--declare @id int
--set @id=2359
declare @WHTType varchar(50) = ''

BEGIN

DECLARE
	@cnt int
--	,@distributorId int
--	,@subActivityId int
--	,@subAccountId int
	
SELECT @cnt=COUNT(*) FROM tbtrx_debetnote WHERE Id=@id

-- GET WHT Mapping
--SELECT @distributorId = td.DistributorId, @subActivityId = tp.SubActivityId, @subAccountId = td.AccountId 
--	FROM tbtrx_debetnote td WITH (NOLOCK)
--	LEFT JOIN tbtrx_promo tp WITH (NOLOCK) ON td.PromoId = tp.id
--	WHERE td.id = @id
--
--EXEC ip_get_wht_distributor_mapping @distributorId, @subActivityId, @subAccountId, @WHTType OUTPUT

SELECT distinct a.[Id]
      ,a.[IsDNManual]
      ,a.[Periode]
      ,a.[RefId]
	  ,isnull(b.RefId,'') PromoRefId
	  ,b.CategoryShortDesc
	  ,convert(varchar(10),b.StartPromo,120) StartPromo
	  ,convert(varchar(10),b.EndPromo,120) EndPromo
	  ,c.Id [EntityId]
	  ,IIF(b.CategoryShortDesc='DC','All Sub Account', iif(isnull(a.PromoId, 0)=0,e.LongDesc, ts.LongDesc))  AccountDesc
      ,a.[PrincipalShortDesc] EntityShortDesc
	  ,c.LongDesc [EntityLongDesc]
	  ,c.EntityUp
	  ,c.EntityAddress
	  ,d.Id DistributorId
      ,a.[DistributorShortDesc]
	  ,d.LongDesc [DistributorLongDesc]
      ,a.[AreaCode]
      ,a.[DNNumber]
      ,a.[ActivityDesc]
      ,a.[SubChannelId] SubChannelId
      ,IIF(b.CategoryShortDesc='DC', (select id from tbmst_subaccount where longdesc='All Sub Account')
		,iif(isnull(a.PromoId, 0)=0,a.[AccountId], tps.SubAccountId))AccountId
      ,a.[PromoId]
      ,a.[IntDocNo]
      ,a.[MemDocNo]
      ,a.[DPP]
      ,a.[PPNPct]
      ,a.[PPNAmt]
      ,a.[TotalClaim]
      ,a.[DeductionDate]
      ,a.[Notes]
      ,a.[LastStatus]
      ,a.[IsPaid]
      ,a.[TotalPaid]
      ,a.[IsCancel]
      ,a.[IsLocked]
      ,a.[CreateOn]
      ,a.[CreateBy] UserId
      ,a.[ModifiedOn]
      ,a.[ModifiedBy]
      ,a.[IsDelete]
      ,a.[DeleteOn]
      ,a.[DeleteBy]
      ,a.[AssignOn]
      ,a.[AssignBy]
      ,a.[IsFreeze]
	  ,g.id approver_userid
	  ,g.username approver_username
	  ,g.email approver_email
	  ,a.InternalOrderNumber
	  ,a.[DNAmount]
	  ,a.[FeeDesc]
	  ,a.[FeePct]
	  ,a.[FeeAmount]
	   ,a.[TaxLevel]
    	--,concat(a.TaxLevel, ' - ', h.Description) AS TaxLevel
	  ,isnull(a.isDNPromo, 0) isDNPromo
	  ,a.PPHPct
	  ,a.PPHAmt
	  ,a.statusPPH
	  ,a.StatusSalesNotes
      ,a.FPNumber
      ,a.FPDate
      ,IIF(b.CategoryShortDesc='DC',(select id from tbmst_channel where longdesc='All Channel')
		,tpc.ChannelId)ChannelId
      ,a.statusPPN
      ,CONCAT(a.CreateBy,' - ', ucreateby.username) DNCreator -- for Prod
      ,a.StatusSalesCode
	  ,isnull(x.WHTType, '') WHTType
	FROM tbtrx_debetnote a
	inner join tbtrx_debetnote_wht x on a.Id=x.DNId
	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
	LEFT JOIN tbtrx_promo_subaccount tps on b.Id = tps.PromoId 
	LEFT JOIN tbmst_subaccount ts on tps.SubAccountId = ts.Id 				
	LEFT JOIN tbtrx_promo_channel tpc on b.id=tpc.PromoId
	inner join tbmst_principal c on a.PrincipalId = c.id
	inner join tbmst_distributor d on a.DistributorId = d.id	
	inner join tbset_user ucreateby ON a.createby=ucreateby.id --for prod
--	inner join tbmst_principal c on a.PrincipalShortDesc=c.ShortDesc
--	inner join tbmst_distributor d on a.DistributorShortDesc=d.ShortDesc
--	inner join tbmst_account e on a.AccountId=e.Id
	left join tbmst_subaccount e on a.AccountId=e.Id
	left join tbset_matrix_dnmanual_assignment_new f on a.AccountId=f.SubAccountId	--LUK 200430 change INNER to LEFT
	left join tbset_user g on iif(isnull(f.Pic2,'')='',f.Pic1,f.Pic2)=g.id			--LUK 200430 change INNER to LEFT
--	inner join tbset_user g on isnull(f.Pic2,f.Pic1)=g.id
    left join tbset_mapping_material h on a.TaxLevel = h.MaterialNumber AND a.PrincipalId=h.EntityId
	--left join tbset_distributor_wht tdw on tdw.distributorid = a.distributorid and tdw.subactivityid = b.subactivityid and tdw.subaccountid = a.accountid
	where a.Id=@id

/*******
Sellingpoint
*******/
IF @cnt>0
BEGIN
	SELECT IIF(b.Sellpoint is null,0,1) Flag,a.RefId sellpoint,a.LongDesc FROM tbmst_sellingpoint a
	left join
	(
	SELECT Sellpoint FROM tbtrx_debetnote_sellpoint a
	INNER JOIN tbtrx_debetnote b ON a.DNId=b.Id
	WHERE b.Id=@id
	) b ON a.RefId=b.Sellpoint
END
ELSE
BEGIN
	SELECT 0 Flag,a.RefId sellpoint,a.LongDesc FROM tbmst_sellingpoint a where a.Id=32767
END

/*******
File attach
*******/
SELECT DNId, [FileName], DocLink FROM tbtrx_dn_doclink where DNId =@id ORDER BY DocLink

/************
 * Document Completeness
 */

SELECT
	Original_Invoice_from_retailers,
	Tax_Invoice,
	Promotion_Agreement_Letter,
	Trading_Term,
	Sales_Data,
	Copy_of_Mailer,
	Copy_of_Photo_Doc,
	List_of_Transfer
-- FROM tbtrx_debetnote a
--      left join tbtrx_debetnote_doc_completeness b on a.id=b.DNId WHERE a.id=@Id
FROM tbtrx_debetnote_doc_completeness WHERE DNId=@id
END
GO
