

/****** Object:  StoredProcedure [dbo].[ip_kpi_scorboard_approver]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_kpi_scorboard_approver] --'gkamalfa','2020-01-01','2020-03-31'
--declare 
@userid varchar(50),
@promostart date,
@promoend date

--set @userid='0'
--set @promostart = '2020-01-01'
--set @promoend = '2020-03-31'

AS

begin
declare @temp_promo table
(
	id int, startpromo date, endpromo date
)
declare @temp_promo_request_approval table
(
	id int, parentid int
)
declare @temp_promo_approval table
(
	requestid int, userapprover varchar(50), requestdate date, actiondate date
)
declare @temp_approver_tb table
(
	userapprover varchar(50), score numeric(18,6), num_of_optima int, avg_days numeric(18,6)
)
declare @temp_approver_top table
(
	inum int, userapprover_top varchar(50), score_top numeric(18,6), num_of_optima_top int, avg_days_top numeric(18,6)
)
declare @temp_approver_bottom table
(
	inum int, userapprover_bottom varchar(50), score_bottom numeric(18,6), num_of_optima_bottom int, avg_days_bottom numeric(18,6)
)

--select * from tbset_user
--drop table #Temp_PromoPlan
select tpp.id into #Temp_PromoPlan 
		 FROM tbtrx_promo_planning tpp
			INNER JOIN tbset_user tmu on tpp.CreateBy = tmu.id 
				AND
					((CONVERT(varchar(8),@promoend,112) >= CONVERT(varchar(8),tpp.StartPromo,112) AND  CONVERT(varchar(8),@promoend,112) <= CONVERT(varchar(8),tpp.EndPromo,112))
					or
					(CONVERT(varchar(8),tpp.EndPromo,112) >= CONVERT(varchar(8),@promostart,112) AND  CONVERT(varchar(8),tpp.EndPromo,112) <= CONVERT(varchar(8),@promoend,112)))
				--AND IIF(@userid='0', '', tpp.CreateBy) = IIF(@userid='0','', @userid) 
				AND tmu.usergroupid in ('105', '106')
				and isnull(tpp.IsCancel,0)=0

insert into @temp_promo select tp.id, startpromo, endpromo from tbtrx_promo tp inner join #Temp_PromoPlan tpp on tp.PromoPlanId=tpp.id
insert into @temp_promo_request_approval select tpra.id, parentid from tbtrx_promo_request_approval tpra inner join @temp_promo tp on tp.id=tpra.ParentId where isnull(tpra.iscancel,0)=0
insert into @temp_promo_approval select requestid, userapprover, requestdate, actiondate from tbtrx_promo_approval tpa inner join @temp_promo_request_approval tpra on tpa.RequestId=tpra.id
/*RESULT-1**************************************************************************************/
select 
	count(pr.id) as approval_request
	, sum(iif(b.ActionDate>=b.RequestDate,DATEDIFF(day, b.RequestDate, b.ActionDate),0)) as tot_days
	, sum((iif(b.ActionDate>=b.RequestDate,DATEDIFF(day, b.RequestDate, b.ActionDate),0.00)))/count(b.requestdate) as avg_approval_response_time
	, sum(iif(DATEDIFF(day, b.RequestDate, b.ActionDate)<=3,1,0)) as promo_approval_sla_max_3days
	, 5*sum(iif(DATEDIFF(day, b.RequestDate, b.ActionDate)<=3,1.00,0.00))/count(b.requestdate) as promo_approval_sla_max_3days_subscore
	, 5 as promo_approval_sla_max_3days_bobot
	, (5*sum(iif(DATEDIFF(day, b.RequestDate, b.ActionDate)<=3,1.00,0.00))/count(b.requestdate))/5*100 as promo_approval_pct
from @temp_promo pr
inner join @temp_promo_request_approval a on pr.id=a.parentid
inner join @temp_promo_approval b on a.id=b.requestid and iif(@userid='0','',userapprover)=iif(@userid='0','',@userid)
/**************************************************************************************RESULT-1*/
insert into @temp_approver_tb
select c.username
	, (5*sum(iif(DATEDIFF(day, b.RequestDate, b.ActionDate)<=5,1.00,0.00))/count(b.requestdate))/5*100 as promo_approval_pct
	, count(pr.id) as approval_request
	, sum((iif(b.ActionDate>=b.RequestDate,DATEDIFF(day, b.RequestDate, b.ActionDate),0.00)))/count(b.requestdate) as avg_approval_response_time
from @temp_promo pr
inner join @temp_promo_request_approval a on pr.id=a.parentid
inner join @temp_promo_approval b on a.id=b.requestid
inner join tbset_user c on c.id=b.userapprover
group by c.username
---------------------------------------------------------------------------------
insert into @temp_approver_top 
select  ROW_NUMBER() OVER(ORDER BY score desc) AS iNum, *
from @temp_approver_tb
order by score desc
---------------------------------------------------------------------------------
insert into @temp_approver_bottom
select  ROW_NUMBER() OVER(ORDER BY score asc) AS iNum, *
from @temp_approver_tb
order by score asc
/*RESULT-2**************************************************************************************/
select userapprover_top, score_top, num_of_optima_top, avg_days_top, userapprover_bottom, score_bottom, num_of_optima_bottom, avg_days_bottom 
from @temp_approver_top a inner join @temp_approver_bottom b on a.inum=b.inum
/**************************************************************************************RESULT-2*/
drop table #Temp_PromoPlan
end
GO
