USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_mechanism_ins]
	@IsNew           bit,
	@Id              int ,
	@Entity			varchar(255),
	@SubCategory	varchar(255),
	@Activity		varchar(255),
	@SubActivity	varchar(255),
	@ProductId 		int,
	@Mechanism		varchar(255),
	@ChannelId		int,
	@StartDate		date,
	@EndDate		date,
	@UserId			varchar(100),
	@UserEmail		varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION
	DECLARE 
		@Product varchar(255),
		@Channel varchar(255),
		@messageout varchar(255)
--	
	SELECT @Product = LongDesc FROM dbo.tbmst_product WHERE id = @ProductId 
	SELECT @Channel = LongDesc FROM dbo.tbmst_channel WHERE id = @ChannelId
	IF @ChannelId = 0
	BEGIN 
		SET @Channel='ALL'
	END
	
--	insert into mytmp (f1) values(@SubActivityId)
	IF @IsNew = 1
	BEGIN
		IF EXISTS(
			SELECT * FROM tbmst_mechanism tm 
			WHERE Entity = @Entity
			AND SubCategory = @SubCategory
			AND Activity = @Activity
			AND SubActivity = @SubActivity
			AND ProductId  = @ProductId
			AND Mechanism = @Mechanism
			AND ChannelId = @ChannelId
			AND StartDate = @StartDate
			AND EndDate = @EndDate
		)
		BEGIN 
			SET @messageout='Master Mechanism is exist'
		 	RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
			
		END
		ELSE 
		BEGIN		
			INSERT INTO tbmst_mechanism(
				Entity,
				SubCategory,
				Activity,
				SubActivity,
				ProductId,
				Product,
				Mechanism,
				ChannelId,
				Channel,
				StartDate,
				EndDate,
				CreateOn,
				CreateBy,
				CreatedEmail
			) VALUES (
				@Entity,
				@SubCategory,
				@Activity,
				@SubActivity,
				@ProductId,
				@Product,
				@Mechanism,
				@ChannelId,
				@Channel,
				@StartDate,
				@EndDate,
				@utcDate123,
	--			(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
				@UserId,
				@UserEmail
			)
			
			SET @Id = (SELECT SCOPE_IDENTITY())
	--		tambahan chandra
			SELECT
				Id,
	            Entity,
				SubCategory,
				Activity,
				SubActivity,
				ProductId,
				Product,
				Mechanism,
				ChannelId,
				Channel,
				StartDate,
				EndDate,
				CreateOn,
				CreateBy,
				CreatedEmail
				FROM tbmst_mechanism WHERE Id = @Id
				
			/* Create History Insert */
			INSERT INTO tbhis_mechanism(
				ParentId,
				Entity,
				SubCategory,
				Activity,
				SubActivity,
				ProductId,
				Product,
				Mechanism,
				ChannelId,
				Channel,
				StartDate,
				EndDate,
				CreateOn,
				CreateBy,
				CreatedEmail
			) VALUES (
				@Id,
				@Entity,
				@SubCategory,
				@Activity,
				@SubActivity,
				@ProductId,
				@Product,
				@Mechanism,
				@ChannelId,
				@Channel,
				@StartDate,
				@EndDate,
				@utcDate123,
	--			(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
				@UserId,
				@UserEmail
			)
		END			
	END
	ELSE
	BEGIN 
		UPDATE tbmst_mechanism SET
			Entity			= @Entity,
			SubCategory		= @SubCategory,
			Activity		= @Activity,
			SubActivity		= @SubActivity,
			ProductId		= @ProductId,
			Product			= @Product,
			Mechanism		= @Mechanism,
			ChannelId		= @ChannelId,
			Channel			= @Channel,
			StartDate	= @StartDate,
			EndDate		= @EndDate,
			ModifiedOn 	= @utcDate123,
--			ModifiedOn 	= (@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC',
			ModifiedBy 	= @UserId,
			ModifiedEmail = @UserEmail
		WHERE Id = @Id
		
--		tambahan chandra
		SELECT
			Id,
            Entity,
			SubCategory,
			Activity,
			SubActivity,
			ProductId,
			Product,
			Mechanism,
			ChannelId,
			Channel,
			StartDate,
			EndDate,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail
			FROM tbmst_mechanism WHERE Id = @Id
		
		/* Create History Insert */
		INSERT INTO tbhis_mechanism(
			ParentId,
			Entity,
			SubCategory,
			Activity,
			SubActivity,
			ProductId,
			Product,
			Mechanism,
			ChannelId,
			Channel,
			StartDate,
			EndDate,
			CreateOn,
			CreateBy,
			CreatedEmail,
			ModifiedOn,
			ModifiedBy,
			ModifiedEmail			
		) VALUES (
			@Id,
			@Entity,
			@SubCategory,
			@Activity,
			@SubActivity,
			@ProductId,
			@Product,
			@Mechanism,
			@ChannelId,
			@Channel,
			@StartDate,
			@EndDate,
			@utcDate123,
--			(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
			@UserId,
			@UserEmail,
			@utcDate123,
--			(@utcDate123 at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
			@UserId,
			@UserEmail 	
		)
			
	END

	COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
