

/****** Object:  StoredProcedure [dbo].[ip_cost_summary_dl_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_cost_summary_dl_list] 
	@period int
	, @categoryId int
	, @groupBrandId int
	, @channelid arrayinttype READONLY

AS

	--DECLARE 
	--	@period int
	--	, @categoryId int
	--	, @groupBrandId int
	--	, @channelid arrayinttype 

	--SET @period			= 2025
	--SET @categoryId		= 3
	--SET @groupBrandId	= 1
	--INSERT INTO @channelid VALUES (6)
	----INSERT INTO @channelid SELECT Id FROM tbmst_channel

	----EXEC ip_cost_summary_dl_list
	----	@period 
	----	, @categoryId 
	----	, @groupBrandId 
	----	, @channelid

BEGIN
	DECLARE @detail TABLE (
		channel varchar(100)
		, subAccount varchar(100)
		, fySs float
		, subActivity varchar(100)
		, ttRate float 
		, fyTtBudget float
		, fyTtCostSubmitted float
		, ttGap float
		, adhocCost float
		, budgetStatus varchar(50)
		, subActivityTypeDesc varchar(50)
		, mainActivityDesc varchar(50)
	)
	DECLARE @categoryShortDesc varchar(50)
	SET @categoryShortDesc = (SELECT ShortDesc FROM tbmst_category WHERE Id=@categoryId)

	/*TT Console - RC*/
	IF @categoryShortDesc = 'RC'
		BEGIN
			INSERT INTO @detail
			select 
				acc.ChannelDesc, acc.SubAccountDesc, ssv.ssvalue
				, IIF(ISNULL(ttcon.subactivityid,0)=0, mact.activitydesc, mact.subactivityDesc) , ttcon.tt 
				, ROUND(ssv.ssvalue*ttcon.tt/100,0)
				, ISNULL(pr.cost,0) fyTtCostSubmitted
				, ROUND(ssv.ssvalue*ttcon.tt/100,0) - ISNULL(pr.cost,0) 
				, 0
				, ''
				, mact.subActivityTypeDesc
				, mact.mainActivityDesc
			from (
				SELECT DISTINCT channelId, channelDesc, subAccountId, subAccountDesc FROM vw_account a
					INNER JOIN @channelid b ON a.ChannelId = b.keyid
				) acc
				INNER JOIN (
					SELECT 
						a.period, a.channelid, a.subaccountid, a.groupbrandid
						,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON 
							a.period=b.period 
							AND a.channelid=b.channelid 
							AND a.subchannelid=b.subChannelId
							AND a.groupbrandid=b.groupbrandid 
							AND a.period=@period 
							AND a.groupbrandid=@groupbrandid
						GROUP BY a.period, a.channelid, a.subaccountid, a.groupbrandid
				) ssv ON acc.SubAccountId = ssv.subaccountid 
				INNER JOIN (
					SELECT a.id, a.period, a.categoryid, b.LongDesc categoryDesc, b.ShortDesc categoryShortDesc, a.groupbrandid, a.subaccountid, a.activityid, a.subactivityid, a.tt FROM tbtrx_ss_tt a 
						INNER JOIN tbmst_category b ON a.categoryid = b.Id
						WHERE period=@period AND groupbrandid=@groupbrandid AND subcategoryid=@categoryId
					)ttcon ON ssv.period=ttcon.period AND ssv.subaccountid=ttcon.subaccountid 
				INNER JOIN (
					SELECT a.id activityId, IIF(a.LongDesc = 'Trading Term - Consumer Promo',0,b.id) subActivityId, a.LongDesc activityDesc, b.LongDesc subActivityDesc, c.LongDesc subActivityTypeDesc, e.longDesc mainActivityDesc from tbmst_activity a 
						INNER JOIN tbmst_subactivity b ON a.Id=b.ActivityId
						INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id
						INNER JOIN tbmst_main_activity_dtl d ON b.id = d.subactivityid
						INNER JOIN tbmst_main_activity e ON d.mainactivityid = e.id
					)mact ON ttcon.activityid=mact.activityId AND ttcon.subactivityid=mact.subactivityId
				LEFT JOIN (
					SELECT a.AllocationId, SUM(a.Investment) cost FROM tbtrx_promo a 
						where ISNULL(a.AllocationId,0)<>0 AND a.Period=@period AND a.GroupBrandId=@groupbrandid
						GROUP BY a.AllocationId
				)pr ON ttcon.id = pr.AllocationId

			UNION ALL
			select 
				acc.ChannelDesc, acc.SubAccountDesc, 0
				, '' , 0
				, 0
				, 0
				, 0
				, ISNULL(prc.adhocCost,0)
				, ''
				, ''
				, ''
			from (
				SELECT DISTINCT channelId, channelDesc, subAccountId, subAccountDesc FROM vw_account a
					INNER JOIN @channelid b ON a.ChannelId = b.keyid
				) acc
				INNER JOIN (
					SELECT b.channelid, c.subaccountid, SUM(a.Investment) adhocCost FROM tbtrx_promo a 
						INNER JOIN tbtrx_promo_channel b ON a.Id = b.PromoId
						INNER JOIN tbtrx_promo_subaccount c ON a.Id = c.PromoId
						where ISNULL(a.AllocationId,0)=0 AND a.Period=@period AND a.GroupBrandId=@groupbrandid AND a.CategoryId = @categoryId
						GROUP BY b.channelid, c.subaccountid--,a.subactivityid
				)prc ON acc.ChannelId = prc.channelid and acc.SubAccountId = prc.SubAccountId --and msact.Id = prc.SubActivityId

			SELECT DISTINCT channel FROM @detail

			SELECT * FROM @detail

			SELECT channel, '' subAccount, '' fySs, ''ttRate,  SUM(fyTtBudget)fyTtBudget, SUM(fyTtCostSubmitted)fyTtCostSubmitted, SUM(ttGap)ttGap, SUM(adhocCost)adhocCost, ''budgetStatus FROM @detail
			GROUP BY CHANNEL
		END

	/*TT Console - DC*/
	IF @categoryShortDesc = 'DC'
		BEGIN
			INSERT INTO @detail
			select 
				acc.ChannelDesc, acc.SubAccountDesc, psv.psvalue
				, IIF(ISNULL(ttcon.subactivityid,0)=0, mact.activitydesc, mact.subactivityDesc) , ttcon.tt 
				, ROUND(psv.psvalue*ttcon.tt/100,0)
				, ISNULL(pr.cost,0) fyTtCostSubmitted
				, ROUND(psv.psvalue*ttcon.tt/100,0) - ISNULL(pr.cost,0) 
				, 0
				, ''
				, mact.subActivityTypeDesc
				, mact.mainActivityDesc
			from (
				SELECT DISTINCT channelId, channelDesc, subAccountId, subAccountDesc FROM vw_account a
					INNER JOIN @channelid b ON a.ChannelId = b.keyid
				) acc
				INNER JOIN (
					SELECT a.id, a.period, a.categoryid, b.LongDesc categoryDesc, b.ShortDesc categoryShortDesc, a.groupbrandid, 0 subaccountid, a.activityid, a.subactivityid, a.tt, a.channelid, a.distributorId FROM tbtrx_ss_tt a 
						INNER JOIN tbmst_category b ON a.categoryid = b.Id
						WHERE period=@period AND groupbrandid=@groupbrandid AND a.categoryid=@categoryId
					)ttcon ON acc.ChannelId=ttcon.channelid
				INNER JOIN (
					SELECT 
						a.period, a.distributorid, a.groupbrandid
						,ISNULL(a.m1,0)+ISNULL(a.m2,0)+ISNULL(a.m3,0)+ISNULL(a.m4,0)+ISNULL(a.m5,0)+ISNULL(a.m6,0)
							+ISNULL(a.m7,0)+ISNULL(a.m8,0)+ISNULL(a.m9,0)+ISNULL(a.m10,0)+ISNULL(a.m11,0)+ISNULL(a.m12,0) psvalue
						FROM tbtrx_ps_value a
				) psv ON ttcon.period = psv.period AND ttcon.groupbrandid = psv.groupbrandid AND ttcon.distributorId = psv.distributorid
				INNER JOIN (
					SELECT a.id activityId, b.id subActivityId, a.LongDesc activityDesc, b.LongDesc subActivityDesc, c.LongDesc subActivityTypeDesc, e.longDesc mainActivityDesc from tbmst_activity a 
						INNER JOIN tbmst_subactivity b ON a.Id=b.ActivityId
						INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id
						INNER JOIN tbmst_main_activity_dtl d ON b.id = d.subactivityid
						INNER JOIN tbmst_main_activity e ON d.mainactivityid = e.id
					)mact ON ttcon.activityid=mact.activityId AND ttcon.subactivityid=mact.subactivityId
				INNER JOIN (
					SELECT a.AllocationId, SUM(a.Investment) cost FROM tbtrx_promo a 
						where ISNULL(a.AllocationId,0)<>0 AND a.Period=@period AND a.GroupBrandId=@groupbrandid
						GROUP BY a.AllocationId
				)pr ON ttcon.id = pr.AllocationId
			UNION ALL
			select 
				acc.ChannelDesc, acc.SubAccountDesc, 0
				, '' , 0
				, 0
				, 0
				, 0
				, ISNULL(prc.adhocCost,0)
				, ''
				, ''
				, ''
			from (
				SELECT DISTINCT channelId, channelDesc, subAccountId, subAccountDesc FROM vw_account a
					INNER JOIN @channelid b ON a.ChannelId = b.keyid
				) acc
				LEFT JOIN (
					SELECT b.channelid, c.subaccountid, SUM(a.Investment) adhocCost FROM tbtrx_promo a 
						INNER JOIN tbtrx_promo_channel b ON a.Id = b.PromoId
						INNER JOIN tbtrx_promo_subaccount c ON a.Id = c.PromoId
						where ISNULL(a.AllocationId,0)=0 AND a.Period=@period AND a.GroupBrandId=@groupbrandid AND a.CategoryId = @categoryId
						GROUP BY b.channelid, c.subaccountid--,a.subactivityid
				)prc ON acc.ChannelId = prc.channelid and acc.SubAccountId = prc.SubAccountId --and msact.Id = prc.SubActivityId

			SELECT DISTINCT channel FROM @detail

			SELECT * FROM @detail

			SELECT channel, '' subAccount, '' fySs, ''ttRate,  SUM(fyTtBudget)fyTtBudget, SUM(fyTtCostSubmitted)fyTtCostSubmitted, SUM(ttGap)ttGap, SUM(adhocCost)adhocCost, ''budgetStatus FROM @detail
			GROUP BY CHANNEL
		END

END
GO
