

/****** Object:  StoredProcedure [dbo].[ip_budgetallocation_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_budgetallocation_list] --'2020',0,0,0,0,'scsh1'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 1
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
AS
/*
 * EJ 2020-02-28 add remaining budget ( source from ipbudget allocation select )
 */
BEGIN
	DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR 
		SELECT 
			Id
		FROM 
			tbtrx_allocation 
		WHERE 
			BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO @product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 
					0 AS BDG_PARENT,
					CAST(@p_alcid AS VARCHAR) as BDG_CHILD,
					1 as Levels,
					CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select 
					a.AllocationId  AS BDG_PARENT,
					CAST(C.Id AS VARCHAR) AS BDG_CHILD,
					Levels + 1,
					CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber 
				from 
					tbtrx_budgetassignment a 
					inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
					inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
					INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);


			/***/
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	select distinct	  
	  p.LongDesc Entity
	  ,d.LongDesc Distributor
	  ,c.Id
	  ,m.Periode
	  ,c.RefId
	  ,c.BudgetType
	  ,m.DistributorId
	  ,d.LongDesc DistributorName
	  ,c.OwnerId
	  ,uo.username OwnerName
	  ,c.FromOwnerId
	  ,uf.username FromOwnerName
	  ,c.BudgetmasterId
	  ,c.BudgetAmount
	  ,isnull(dtl.RemainingAmount, 0) remainingBudget
	  ,c.LongDesc
	  ,c.ShortDesc
	  ,c.StatusApproval
	  ,c.IsActive
	  ,c.IsLocked
	from 
		@temp a
		inner join tbtrx_allocation c on a.BudgetId=c.Id 
		inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
		left join tbmst_distributor d on m.DistributorId=d.Id
		left join tbmst_principal p on m.PrincipalId=p.Id
		left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
		LEFT JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
		inner join tbset_user uo on uo.Id=c.OwnerId
		inner join tbset_user uf on uf.Id=c.FromOwnerId
		left join tbtrx_allocation_balance dtl on c.id=dtl.AllocationId -- add by jummy 
		left join
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',c.OwnerId) =IIF(@userid='0','',@userid)
	ORDER BY c.Id

END


GO
