

/****** Object:  StoredProcedure [dbo].[ip_debetnote_reject]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_reject] --4,'','admin'
@dnid int,
@reason varchar(255),
@userid varchar(255)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
begin transaction

declare
@laststatus varchar(50),
@prevstatus varchar(50),
@isdnpromo int,
@dpp numeric(19,0)

set @reason = left(@reason,255)
SELECT @dpp=dpp from dbo.tbtrx_debetnote where id=@dnid
declare @createdemail varchar(50), @promoid int
SELECT @createdemail=email from tbset_user where id=@userid

SELECT @isdnpromo = isnull(IsDNPromo, 0), @laststatus = LastStatus, @promoid = promoid FROM tbtrx_debetnote where Id=@dnid
IF isnull(@isdnpromo,0)=0 AND @laststatus='validate_by_danone'
BEGIN
	SET @prevstatus='received_by_danone'
END
ELSE
BEGIN
	SET @prevstatus=(
		SELECT PrevStatus FROM
		(
			SELECT ParameterValue,
			LAG(parametervalue) OVER(ORDER BY Sequence) PrevStatus
			FROM tbset_general_parameter
			where ParameterName='DNFLOW'
		)X WHERE ParameterValue=@laststatus
	)
END

	UPDATE tbtrx_debetnote
	SET LastStatus=@prevstatus, Notes=@reason
	where id=@dnid


	/***********
	LGP 25062020 => PENAMBAHAN update flag IsCancel = 1 untuk DN yg di reject
   *************/
   IF @laststatus='invoice'
   BEGIN
	UPDATE tbtrx_invoice_detail
	SET IsCancel=1
	where DNId=@dnid and IsCancel=0
   END

	/**************
	 * reject recevied_by_danone paralel
	 */
	   IF @laststatus='received_by_danone'
	   BEGIN
		UPDATE tbtrx_debetnote
		SET StatusSalesCode='', StatusSales=''
		where Id=@dnid and IsCancel=0
	   END

	INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail,Notes)
	VALUES(@dnid,'rejected',@userid,@utcDate123,@dpp, @prevstatus,@createdemail,@reason)
	   
	exec ip_dn_overbudget_by_prommoid @promoid
	SELECT Id ,RefId from tbtrx_debetnote where id=@dnid

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
             @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );
END CATCH
GO
