USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_submission_exception_upload]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_submission_exception_upload]
@promo PromoSubmissionException READONLY,
@idx varchar(200)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
--insert into tbtemp_promo_submission_exception_cek (		
--		PromoRefId,
--		Reason,
--		ActionOn
--)
--	SELECT 
--		a.PromoRefId,
--		a.Reason,
--		@utcDate123
--	FROM @promo a

--begin try
--    BEGIN TRANSACTION
	DELETE FROM tbtemp_promo_submission_exception 
		WHERE idx = @idx AND PromoId IN (
			SELECT b.id FROM @promo a
			INNER JOIN tbtrx_promo b on a.promorefid=b.RefId 
		)
	INSERT INTO tbtemp_promo_submission_exception (
		Idx,
		PromoId,
		Reason,
		ActionOn
	)
	SELECT 
		@idx,
		b.id,
		a.Reason,
		@utcDate123
	FROM @promo a
	INNER JOIN tbtrx_promo b on a.promorefid=b.RefId 
	
--    COMMIT
--end try
--begin catch
--    ROLLBACK
--    DECLARE @ErrorMessage NVARCHAR(4000);
--    DECLARE @ErrorSeverity INT;
--    DECLARE @ErrorState INT;
--
--    SELECT
--            @ErrorMessage = ERROR_MESSAGE(),
--      @ErrorSeverity = ERROR_SEVERITY(),
--            @ErrorState = ERROR_STATE();
--    RAISERROR (@ErrorMessage, -- Message text.
--        @ErrorSeverity, -- Severity.
--        @ErrorState -- State.
--        );
--
--end catch
end
GO
