

/****** Object:  StoredProcedure [dbo].[ip_debetnote_confirmpaid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_confirmpaid]
@dnpaid ConfirmPaidType READONLY,
@userid varchar(50)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	UPDATE A
	SET LastStatus='confirm_paid'
	,TotalPaid=B.PaidAmount
	,PaymentDate=B.PayDate
	FROM tbtrx_debetnote A
	INNER JOIN @dnpaid B on a.RefId=B.DnNumber

	UPDATE a
	SET confirm_paid_on=@utcDate123
	,confirm_paid_by=@userid
	FROM tbtrx_debetnote_his a
	INNER JOIN tbtrx_debetnote dn on a.DNId=dn.id and a.is_cancel=0
	INNER JOIN @dnpaid b on dn.RefId=b.DnNumber 

END

GO
