USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_insert_promo_recon]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_insert_promo_recon]
@IsNew bit
,@Promo PromoReconType READONLY
,@Region BudgetAllocationChildsType READONLY
,@Channel BudgetAllocationChildsType READONLY
,@SubChannel BudgetAllocationChildsType READONLY
,@Account BudgetAllocationChildsType READONLY
,@SubAccount BudgetAllocationChildsType READONLY
,@Brand BudgetAllocationChildsType READONLY
,@Sku BudgetAllocationChildsType READONLY
,@Reconciled bit
,@ReconciledUpd bit
--,@messageout varchar(255) OUT

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * EDY 2020-03-21 : change overbudget from totalclaim to DPP
 */
BEGIN TRY
BEGIN TRANSACTION
--Cek data promo
-- insert into TempPromoReconType select * from @promo

DECLARE
@rowcount int,
@ParentId_his int,
@PromoId int,
@MajorChanges int

DECLARE @p_reqid int

SET @MajorChanges = 0;
DECLARE
	@AllocationId int,
	@Periode varchar(4),
	@PrincipalId int,
	@DistributorId int,
	@SubActivityType int,
	@SubCategoryId int,
	@ChannelId int,
	@SubChannelId int,
	@Initiator varchar(50),
	@Investment numeric (19,0),
	@PrevTotInvest numeric (19,0),
	@TotSales numeric (19,0),
	@PrevTotSales numeric (19,0),
	@IncrSales numeric (19,0),
	@PrevIncrSales numeric (19,0),
	@NormalSales numeric (19,0),
	@PrevNormalSales numeric (19,0),
	@StartPromo date,
	@EndPromo date,
	@matrixid int,
	@messageout varchar(255),
	@RequestId int,

	@budgetamount numeric(19,2),
	@remainingamount numeric(19,2),
	@promorefid varchar(50),
	@roi numeric(19,2),
	@PrevRoi numeric(19,2),
	@costratio numeric(19,2),
	@PrevCostRatio numeric(19,2),
	@statusapproval VARCHAR(255),
	@statusapprovalrecon VARCHAR(255),
	@oldinvest numeric(19,0),
	@tscoding varchar(50),
	@sumDPPDN numeric(19,2),
	@investmentTypeId int
    ,@status_cancel int
    ,@status_close int
	
--	insert into PromoType(ActivityId,SubActivityId)
--	select ActivityId,SubActivityId from @Promo


	--RECALCULATE BALANCE--
		EXEC ip_recalculate_balance @AllocationId
	--RECALCULATE BALANCE--

	SELECT TOP 1
	@AllocationId=t.AllocationId
	,@SubCategoryId=t.SubCategoryId
	,@PromoId=t.PromoId
	,@Periode=m.Periode
	,@PrincipalId=m.PrincipalId
	,@DistributorId=m.DistributorId
	,@SubActivityType=st.Id
	,@ChannelId=tc.Id
	,@SubChannelId=tsc.Id
	,@Initiator=t.CreateBy
	,@Investment=t.Investment
	,@NormalSales=t.NormalSales
	,@IncrSales=t.IncrSales
	,@Startpromo=t.StartPromo
	,@EndPromo=t.EndPromo
	,@budgetamount=alc.BudgetAmount
	,@remainingamount=bal.RemainingAmount
	,@roi=t.roi
	,@costratio=t.costratio
	,@tscoding=t.tscoding
	,@investmentTypeId = tmit.InvestmentTypeId
	FROM @Promo t
	INNER JOIN tbtrx_allocation alc ON t.AllocationId=alc.Id
	INNER JOIN tbtrx_allocation_balance bal ON alc.Id=bal.AllocationId and bal.SubCategoryId=t.SubCategoryId
	INNER JOIN tbtrx_budgetmaster m on alc.BudgetMasterId=m.Id
	INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
	INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
	INNER JOIN @Channel tc on 1=1
	INNER JOIN @SubChannel tsc on 1=1
	LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId


	--SET @messageout=@Periode +' '+ CAST(@PrincipalId AS VARCHAR) + ' ' + CAST(@DistributorId AS VARCHAR) + ' ' + CAST(@SubActivityType AS VARCHAR) + ' ' + CAST(@ChannelId AS VARCHAR) + ' ' + @initiator + ' ' + CAST(@Investment AS VARCHAR)
	--select 1 as bool,@messageout as [message],422 as [statuscode]
	--select 1 as bool,1 as Id,@Periode as [RefId], 200 as [statuscode]
	--RETURN




	/********************
	GET MATRIX APPROVAL
	********************/

declare @entitiydesc varchar(255)
declare @distributordesc varchar(255)
declare @subactivitytypedesc varchar(255)
declare @channeldesc varchar(255),@subchanneldesc varchar(255)

select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId



	SELECT @matrixid=Id FROM tbset_matrix_promo_approval
	WHERE Periode=@Periode
	AND PrincipalId=@PrincipalId
	AND DistributorId=@DistributorId
	AND SubActivityType=@SubActivityType
	AND ChannelId=@ChannelId
	AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
	AND [Initiator]=@Initiator
	AND @Investment >= MinInvestment and @Investment <= MaxInvestment

	if @matrixid is null
	begin
		SET @messageout='Matrix Approval not found for ' + @subactivitytypedesc --+ ' activity,' +  cast(@channeldesc as varchar) + ' Channel,' + cast(@subchanneldesc as varchar)  + ' Sub Channel and Initiator :' + cast(@Initiator as varchar)
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

/*********************
PROSES UPDATE
*********************/
if @IsNew=0
	BEGIN

		SELECT
		@oldinvest=Investment
		,@PrevTotinvest=Investment
		,@promorefid=refid
		,@PrevRoi=Roi
		,@PrevCostRatio=CostRatio
		,@PrevIncrSales=IncrSales
		,@PrevNormalSales=NormalSales
		,@PrevTotSales=IncrSales + NormalSales
	    ,@status_cancel = isnull(iscancel,0)
    	,@status_close = isnull(isclose,0)		
		from tbtrx_promo where Id=@PromoId

		if @status_cancel = 1
		begin
			   RAISERROR ('This Promo is cancelled', -- Message text.
               16, -- Severity.
               1 -- State.
               );
		end

		if @status_close = 1
		begin
			   RAISERROR ('This Promo is closed', -- Message text.
               16, -- Severity.
               1 -- State.
               );
		end
		
		if @Investment > (@remainingamount + @oldinvest)
		begin
			   RAISERROR ('Budget Exeeded', -- Message text.
               16, -- Severity.
               1 -- State.
               );
		end

		SET @sumDPPDN = (select sum(dpp) from dbo.tbtrx_debetnote where isnull(iscancel, 0)= 0 and promoid=@PromoId)
		IF @sumDPPDN > @Investment
		BEGIN
			   RAISERROR ('Total Investment cannot be less than Total Debetnote', -- Message text.
               16, -- Severity.
               1 -- State.
               );
		END

		 /*********************
		 DELETE INSERT ATTRIBUTE
		 *********************/
			DELETE FROM tbtrx_promo_region WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_region(PromoId,RegionId)
			SELECT @PromoId,t.Id from @Region t inner join tbmst_region a on a.Id=t.Id

			DELETE FROM tbtrx_promo_channel WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_channel(PromoId,ChannelId)
			SELECT @PromoId,t.Id from @Channel t inner join tbmst_channel a on a.Id=t.Id

			DELETE FROM tbtrx_promo_subchannel WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_subchannel(PromoId,ChannelId,SubChannelId)
			SELECT @PromoId,ParentId,t.Id from @SubChannel t inner join tbmst_subchannel a on a.Id=t.Id

			DELETE FROM tbtrx_promo_account WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_account(PromoId,SubChannelId,AccountId)
			SELECT @PromoId,ParentId,t.Id from @Account t inner join tbmst_account a on a.Id=t.Id

			DELETE FROM tbtrx_promo_subaccount WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_subaccount(PromoId,AccountId,SubAccountId)
			SELECT @PromoId,ParentId,t.Id from @SubAccount t inner join tbmst_subaccount a on a.Id=t.Id

			DELETE FROM tbtrx_promo_brand WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_brand(PromoId,BrandId)
			SELECT @PromoId,t.Id from @Brand t inner join tbmst_brand a on a.Id=t.Id

			DELETE FROM tbtrx_promo_product WHERE PromoId=@PromoId
			INSERT INTO tbtrx_promo_product(PromoId,BrandId,ProductId)
			SELECT @PromoId,ParentId,t.Id from @Sku t inner join tbmst_product a on a.Id=t.Id


			--SET @promorefid=(SELECT RefId from tbtrx_promo where Id=@PromoId)

			---UPDATE DATA DI TABLE PROMO



				UPDATE A
				SET
				A.ActivityId=B.ActivityId
				,A.SubActivityId=B.SubActivityId
				,A.ActivityDesc=B.ActivityDesc
				,A.StartPromo=B.StartPromo
				,A.EndPromo=B.EndPromo
				,A.Mechanisme1=B.Mechanisme1
				,A.Mechanisme2=B.Mechanisme2
				,A.Mechanisme3=B.Mechanisme3
				,A.Mechanisme4=B.Mechanisme4
				,A.Investment =B.Investment
				,A.NormalSales=B.NormalSales
				,A.IncrSales=B.IncrSales
-- 				,A.Roi=B.Roi
-- 				,A.CostRatio=B.CostRatio
--				,A.Roi=(B.IncrSales - B.Investment) / B.Investment * 100
--				,A.CostRatio=B.Investment / (B.NormalSales + B.IncrSales) * 100
				,A.Roi=iif(B.investment=0,0,round((B.incrsales-B.investment) / B.investment * 100, 2))
				,A.CostRatio=iif((B.normalsales+B.incrsales)=0,0,round(B.investment / (B.normalsales+B.incrsales) * 100, 2))				
				,A.Notes=B.Notes
				,A.TsCoding=B.TsCoding
				,A.ModifiedBy=@initiator
				,A.ModifiedOn=@utcDate123
				,A.Reconciled = @Reconciled
				,A.initiator_notes=B.initiator_notes
				,A.actual_sales=B.actual_sales
				,A.investmentTypeId=@investmentTypeId
				FROM tbtrx_promo A
				inner join @Promo B on A.Id=B.PromoId
				WHERE Id=@PromoId
			--------------

		/********************
		 * UPDATE RECONCILED
		 ********************/
		IF @ReconciledUpd = 1
		BEGIN
			UPDATE tbtrx_promo SET Reconciled = 1, ReconciledOn = @utcDate123, ReconciledBy=@initiator WHERE id=@PromoId
		END
		UPDATE prhis
			SET prhis.Reconciled = pr.Reconciled
				,prhis.ReconciledOn = @utcDate123
				,prhis.ReconciledBy= @initiator
--				,prhis.ReconciledOn = pr.ReconciledOn
--				,prhis.ReconciledBy= pr.ReconciledBy
		FROM tbhis_promo prhis inner join tbtrx_promo pr on prhis.id=pr.id
		WHERE prhis.ParentId=@ParentId_his

SET @statusapproval=(SELECT StatusApprovalCode from tbtrx_promo where Id=@PromoId)
SET @statusapprovalrecon=(SELECT isnull(StatusApprovalCodeRecon, '') from tbtrx_promo where Id=@PromoId)


--switching to recon
IF @statusapproval='TP2' AND @statusapprovalrecon=''
BEGIN
		UPDATE [tbtrx_promo_request_approval]
		SET
			ModifiedOn=@utcDate123
		WHERE ParentId=@PromoId
		AND TotInvest=@Investment
		AND StartPromo=@StartPromo
		AND EndPromo=@EndPromo
		AND ISNULL(IsCancel,0)=0

		SET @rowcount=@@ROWCOUNT

		IF @rowcount = 0 --JIKA MAJOR CHANGES ATAU REQUEST BARU
		BEGIN
			SET @MajorChanges = 1;
				/****************************
				BUAT REQUEST APPROVAL BARU
				INSERT KE TABLE REQUEST APPROVAL
				****************************/
			  INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
	           ([ParentId]
	           ,[RefId]
	           ,[PromoPlanId]
	           ,[AllocationId]
	           ,[AllocationRefId]
	           ,[CategoryShortDesc]
	           ,[PrincipalShortDesc]
	           ,[BudgetMasterId]
	           ,[CategoryId]
	           ,[SubCategoryId]
	           ,[ActivityId]
	           ,[SubActivityId]
	           ,[ActivityDesc]
	           ,[StartPromo]
	           ,[EndPromo]
	           ,[Mechanisme1]
	           ,[Mechanisme2]
	           ,[Mechanisme3]
	           ,[Mechanisme4]
	           ,[Notes]
	           ,[Roi]
	           ,[CostRatio]
	           ,[NormalSales]
	           ,[IncrSales]
	           ,[TotSales]
	           ,[TotInvest]
			   ,[PrevRoi]
	           ,[PrevCostRatio]
	           ,[PrevNormalSales]
	           ,[PrevIncrSales]
	           ,[PrevTotSales]
	           ,[PrevTotInvest]
	           ,[Status]
			   ,[TsCoding]
	           ,[CreateOn]
	           ,[CreateBy]
			   ,[ModifiedOn]
	           ,[ModifiedBy]
			   ,[IsCancel]
				)
			   SELECT
				@PromoId
	           ,[RefId]
	           ,[PromoPlanId]
	           ,[AllocationId]
	           ,[AllocationRefId]
	           ,[CategoryShortDesc]
	           ,[PrincipalShortDesc]
	           ,[BudgetMasterId]
	           ,[CategoryId]
	           ,[SubCategoryId]
	           ,[ActivityId]
	           ,[SubActivityId]
	           ,[ActivityDesc]
	           ,[StartPromo]
	           ,[EndPromo]
	           ,[Mechanisme1]
	           ,[Mechanisme2]
	           ,[Mechanisme3]
	           ,[Mechanisme4]
	           ,[Notes]
	           ,[Roi]
	           ,[CostRatio]
	           ,[NormalSales]
	     	   ,[IncrSales]
			   ,[NormalSales] + [IncrSales]
	           ,[Investment]
			   ,@PrevRoi
	           ,@PrevCostRatio
	           ,@PrevNormalSales
	           ,@PrevIncrSales
	           ,@PrevTotSales
	           ,@PrevTotInvest
	           ,'TP1'
			   ,[TsCoding]
	           ,[CreateOn]
	           ,[CreateBy]
			   ,[ModifiedOn]
	           ,[ModifiedBy]
			   ,0
			   FROM tbtrx_promo WHERE Id=@PromoId
				/************************/

				/************************
				AMBIL ID REQUEST YANG BARU DI CREATE
				************************/
					SET @RequestId=(SELECT SCOPE_IDENTITY())
				/***********************/

				/****************************
				INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
				****************************/
				INSERT INTO [dbo].[tbtrx_promo_approval_recon]
				   ([RequestId]
				   ,[Sequence]
				   ,[UserApprover]
				   ,[Status]
				   ,[RequestDate]
				   ,[ActionDate]
				   ,[IsOnGoing]
				   ,UserApproverName
				   )
				SELECT @RequestId
				,SeqApproval
				,Approver
				,'TP1'
				,@utcDate123
				,@utcDate123
				,IIF(SeqApproval=1,1,0)
				,b.username
				FROM tbset_matrix_promo_approver a
				inner join tbset_user b on a.Approver=b.id
				where ParentId=@matrixId
				/***********************************/


				--AMBIL ID REQUEST YANG BARU DI CREATE
				SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@Promoid and IsCancel=0)

				--UPDATE STATUS DI TABLE PROMO
				UPDATE tbtrx_promo
				SET
				StatusApprovalCodeRecon=tbmst_master_status.StatusCode
				,StatusApprovalRecon=tbmst_master_status.StatusDesc
				,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
				,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
				,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
				,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
				from tbtrx_promo
				inner join tbtrx_promo_request_approval_recon
				on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
				inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
				inner join tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
				where tbtrx_promo_request_approval_recon.IsCancel=0
				and tbtrx_promo_approval_recon.IsOnGoing=1
				AND RequestId=@p_reqid

		END

END
ELSE
BEGIN
			IF @statusapproval='TP2' --JIKA PROMO SUDAH BERSTATUS APPROVE
			BEGIN
				/******************************************
				CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
				*******************************************/
				UPDATE [tbtrx_promo_request_approval_recon]
				SET
					ModifiedOn=@utcDate123
				WHERE ParentId=@PromoId
			--	and NormalSales=@NormalSales
			--	and IncrSales=@IncrSales
			--	AND Roi=@roi
			--	AND CostRatio=@costratio
				AND TotInvest=@Investment
				AND StartPromo=@StartPromo
				AND EndPromo=@EndPromo
				AND ISNULL(IsCancel,0)=0

				set @rowcount=@@ROWCOUNT

				if @rowcount = 0  --JIKA MAJOR CHANGES ATAU REQUEST BARU
					begin
						SET @MajorChanges = 1;

						UPDATE [tbtrx_promo_request_approval_recon]
						SET IsCancel=1
						WHERE ParentId=@PromoId
						AND ISNULL(IsCancel,0)=0

						/****************************
						BUAT REQUEST APPROVAL BARU
						INSERT KE TABLE REQUEST APPROVAL
						****************************/
					  INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
			           ([ParentId]
			           ,[RefId]
			           ,[PromoPlanId]
			           ,[AllocationId]
			           ,[AllocationRefId]
			           ,[CategoryShortDesc]
			           ,[PrincipalShortDesc]
			           ,[BudgetMasterId]
			           ,[CategoryId]
			           ,[SubCategoryId]
			           ,[ActivityId]
			      ,[SubActivityId]
			           ,[ActivityDesc]
			           ,[StartPromo]
			           ,[EndPromo]
			           ,[Mechanisme1]
			           ,[Mechanisme2]
			           ,[Mechanisme3]
			           ,[Mechanisme4]
			           ,[Notes]
			           ,[Roi]
			           ,[CostRatio]
			           ,[NormalSales]
			           ,[IncrSales]
			           ,[TotSales]
			           ,[TotInvest]
					   ,[PrevRoi]
			           ,[PrevCostRatio]
			           ,[PrevNormalSales]
			           ,[PrevIncrSales]
			           ,[PrevTotSales]
			           ,[PrevTotInvest]
			           ,[Status]
					   ,[TsCoding]
			           ,[CreateOn]
			           ,[CreateBy]
					   ,[ModifiedOn]
			           ,[ModifiedBy]
					   ,[IsCancel]
						)
					   SELECT
						@PromoId
			           ,[RefId]
			           ,[PromoPlanId]
			           ,[AllocationId]
			           ,[AllocationRefId]
			           ,[CategoryShortDesc]
			           ,[PrincipalShortDesc]
			           ,[BudgetMasterId]
			           ,[CategoryId]
			           ,[SubCategoryId]
			           ,[ActivityId]
			           ,[SubActivityId]
			           ,[ActivityDesc]
			           ,[StartPromo]
			           ,[EndPromo]
			           ,[Mechanisme1]
			           ,[Mechanisme2]
			           ,[Mechanisme3]
			           ,[Mechanisme4]
			           ,[Notes]
			           ,[Roi]
			           ,[CostRatio]
			           ,[NormalSales]
			     ,[IncrSales]
					   ,[NormalSales] + [IncrSales]
			           ,[Investment]
					   ,@PrevRoi
			           ,@PrevCostRatio
			           ,@PrevNormalSales
			           ,@PrevIncrSales
			           ,@PrevTotSales
			           ,@PrevTotInvest
			           ,'TP1'
					   ,[TsCoding]
			           ,[CreateOn]
			           ,[CreateBy]
					   ,[ModifiedOn]
			           ,[ModifiedBy]
					   ,0
					   FROM tbtrx_promo WHERE Id=@PromoId
						/************************/

						/************************
						AMBIL ID REQUEST YANG BARU DI CREATE
						************************/
							SET @RequestId=(SELECT SCOPE_IDENTITY())
						/***********************/

						/****************************
						INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_approval_recon]
						   ([RequestId]
						   ,[Sequence]
						   ,[UserApprover]
						   ,[Status]
						   ,[RequestDate]
						   ,[ActionDate]
						   ,[IsOnGoing]
						   ,UserApproverName
						   )
						SELECT @RequestId
						,SeqApproval
						,Approver
						,'TP1'
						,@utcDate123
						,@utcDate123
						,IIF(SeqApproval=1,1,0)
						,b.username
						FROM tbset_matrix_promo_approver a
						inner join tbset_user b on a.Approver=b.id
						where ParentId=@matrixId
						/***********************************/


						--AMBIL ID REQUEST YANG BARU DI CREATE
						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@Promoid and IsCancel=0)

						--UPDATE STATUS DI TABLE PROMO
						UPDATE tbtrx_promo
						SET
						StatusApprovalCodeRecon=tbmst_master_status.StatusCode
						,StatusApprovalRecon=tbmst_master_status.StatusDesc
						,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
						,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
						,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
						,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
						from tbtrx_promo
						inner join tbtrx_promo_request_approval_recon
						on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
						inner join tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval_recon.IsCancel=0
						and tbtrx_promo_approval_recon.IsOnGoing=1
						AND RequestId=@p_reqid

					end
				else
				----- jika tidak ada perubahan angka dan promo periode
					begin
--						IF @statusapprovalrecon='Sendback'
--						BEGIN
							SET @MajorChanges = 1;
							UPDATE A
							SET A.[Status]='TP1'
							,A.RequestDate=@utcDate123
							,A.ActionDate=@utcDate123
							FROM tbtrx_promo_approval_recon A
							LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
							WHERE ParentId=@PromoId AND IsCancel=0
							AND A.[Status]='TP3' and A.IsOnGoing=1

							UPDATE tbtrx_promo
							SET
							StatusApprovalCodeRecon=tbmst_master_status.StatusCode
							,StatusApprovalRecon=tbmst_master_status.StatusDesc
							,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
							,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
							,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
							,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
							from tbtrx_promo
							inner join tbtrx_promo_request_approval_recon
							on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
							inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
							inner join tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
							where tbtrx_promo_request_approval_recon.IsCancel=0
							and tbtrx_promo_approval_recon.IsOnGoing=1
							AND ParentId=@PromoId
--						END
					end


					/********************
					UPDATE BALANCE
					********************/

					declare @reconcount int
					SET @reconcount=(SELECT COUNT(*) from tbtrx_promo_request_approval_recon where ParentId=@Promoid)

					if @reconcount > 1
					BEGIN
						UPDATE bal
						SET
						ReserveAmount=@Investment
						,UseAmount=UseAmount - X.TotInvest
						FROM tbtrx_allocation_balance bal
						inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
						INNER JOIN
						(
							SELECT ParentId,TotInvest from tbtrx_promo_request_approval_recon where Id IN
							(
								SELECT MAX(Id) Id
								FROM tbtrx_promo_request_approval_recon WHERE [IsCancel]=1 GROUP BY ParentId
							)
						) X
						ON X.ParentId=pr.Id
						where pr.Id=@Promoid
					END
					ELSE
					BEGIN
						UPDATE bal
						SET
						ReserveAmount=@Investment
						,UseAmount=UseAmount - X.TotInvest
						FROM tbtrx_allocation_balance bal
						inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
						INNER JOIN
						(
							SELECT ParentId,TotInvest from tbtrx_promo_request_approval where Id IN
							(
								SELECT MAX(Id) Id
								FROM tbtrx_promo_request_approval WHERE [IsCancel]=1 GROUP BY ParentId
							)
						) X
						ON X.ParentId=pr.Id
						where pr.Id=@Promoid
					END
			END
			ELSE
			BEGIN
			/******************************************
			CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
			*******************************************/
				UPDATE [tbtrx_promo_request_approval]
				SET ModifiedOn=@utcDate123
				WHERE ParentId=@PromoId
			--	AND NormalSales=@NormalSales
			--	AND IncrSales=@IncrSales
				AND TotInvest=@Investment
				AND StartPromo=@StartPromo
				AND EndPromo=@EndPromo
				AND ISNULL(IsCancel,0)=0

				set @rowcount=@@ROWCOUNT


				if @rowcount = 0 --JIKA MAJOR CHANGES ATAU REQUEST BARU
					begin
						SET @MajorChanges = 1;

						UPDATE [tbtrx_promo_request_approval]
						SET IsCancel=1
						WHERE ParentId=@PromoId
						AND ISNULL(IsCancel,0)=0

						/****************************
						BUAT REQUEST APPROVAL BARU
						INSERT KE TABLE REQUEST APPROVAL
						****************************/

						INSERT INTO [dbo].[tbtrx_promo_request_approval]
			           ([ParentId]
			           ,[RefId]
			           ,[PromoPlanId]
			           ,[AllocationId]
			           ,[AllocationRefId]
			           ,[CategoryShortDesc]
			           ,[PrincipalShortDesc]
			           ,[BudgetMasterId]
			           ,[CategoryId]
			           ,[SubCategoryId]
			           ,[ActivityId]
			           ,[SubActivityId]
			           ,[ActivityDesc]
			           ,[StartPromo]
			           ,[EndPromo]
			           ,[Mechanisme1]
			           ,[Mechanisme2]
			           ,[Mechanisme3]
			           ,[Mechanisme4]
			           ,[Notes]
			           ,[Roi]
			    	   ,[CostRatio]
			           ,[NormalSales]
			           ,[IncrSales]
			           ,[TotSales]
			           ,[TotInvest]
					   ,[PrevRoi]
					   ,[PrevCostRatio]
			           ,[PrevNormalSales]
			           ,[PrevIncrSales]
			           ,[PrevTotSales]
			           ,[PrevTotInvest]
			           ,[Status]
					   ,[TsCoding]
			           ,[CreateOn]
			           ,[CreateBy]
					   ,[ModifiedOn]
			           ,[ModifiedBy]
					   ,[IsCancel]
						)
					   SELECT
						@PromoId
			           ,[RefId]
			           ,[PromoPlanId]
			           ,[AllocationId]
			           ,[AllocationRefId]
			      ,[CategoryShortDesc]
			           ,[PrincipalShortDesc]
			 		   ,[BudgetMasterId]
			           ,[CategoryId]
			           ,[SubCategoryId]
			           ,[ActivityId]
			           ,[SubActivityId]
			           ,[ActivityDesc]
			           ,[StartPromo]
			           ,[EndPromo]
			           ,[Mechanisme1]
			           ,[Mechanisme2]
					   ,[Mechanisme3]
			           ,[Mechanisme4]
			           ,[Notes]
			           ,[Roi]
			           ,[CostRatio]
			           ,[NormalSales]
			           ,[IncrSales]
					   ,[NormalSales] + [IncrSales]
			           ,[Investment]
					   ,@PrevRoi
					   ,@PrevCostRatio
			           ,@PrevNormalSales
			           ,@PrevIncrSales
			           ,@PrevTotSales
			           ,@PrevTotInvest
			           ,[StatusApprovalCode]
					   ,[TsCoding]
			           ,@utcDate123
			           ,@Initiator
					   ,[ModifiedOn]
			           ,[ModifiedBy]
					   ,0
					   FROM tbtrx_promo WHERE Id=@PromoId
						/************************/

						/************************
						AMBIL ID REQUEST YANG BARU DI CREATE
						************************/
							SET @RequestId=(SELECT SCOPE_IDENTITY())
						/***********************/

						/****************************
						INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
						****************************/
						INSERT INTO [dbo].[tbtrx_promo_approval]
						   ([RequestId]
						   ,[Sequence]
						   ,[UserApprover]
						   ,[Status]
						   ,[RequestDate]
						   ,[ActionDate]
						  ,[IsOnGoing]
						   )
						SELECT @RequestId
						,SeqApproval
						,Approver
						,'TP1'
						,@utcDate123
						,@utcDate123
						,IIF(SeqApproval=1,1,0)
						FROM tbset_matrix_promo_approver
						where ParentId=@matrixId
						/***********************************/


						--AMBIL ID REQUEST YANG BARU DI CREATE
						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

						--UPDATE STATUS DI TABLE PROMO
						UPDATE tbtrx_promo
						SET
						StatusApprovalCode=tbmst_master_status.StatusCode
						,StatusApproval=tbmst_master_status.StatusDesc
						,Approver=tbtrx_promo_approval.UserApprover
						,ApproverName=tbtrx_promo_approval.UserApproverName
						,ApproveOn=tbtrx_promo_approval.ActionDate
						,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
						from tbtrx_promo
						inner join tbtrx_promo_request_approval
						on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
						inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
						inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval.IsCancel=0
						and tbtrx_promo_approval.IsOnGoing=1
						AND RequestId=@p_reqid

					end
			--	else
			--	----- jika tidak ada perubahan angka dan promo periode
			--		begin
			--
			--			SET @MajorChanges = 0;
			--
			--			/****************************
			--			BUAT REQUEST APPROVAL BARU
			--			INSERT KE TABLE REQUEST APPROVAL
			--			****************************/
			--
			--			INSERT INTO [dbo].[tbtrx_promo_request_approval]
			--           ([ParentId]
			--           ,[RefId]
			--          ,[PromoPlanId]
			--           ,[AllocationId]
			--           ,[AllocationRefId]
			-- 		   ,[CategoryShortDesc]
			--           ,[PrincipalShortDesc]
			--           ,[BudgetMasterId]
			--           ,[CategoryId]
			--           ,[SubCategoryId]
			--           ,[ActivityId]
			--           ,[SubActivityId]
			--           ,[ActivityDesc]
			--           ,[StartPromo]
			--           ,[EndPromo]
			--           ,[Mechanisme1]
			--           ,[Mechanisme2]
			--           ,[Mechanisme3]
			--           ,[Mechanisme4]
			--           ,[Notes]
			--           ,[Roi]
			--           ,[CostRatio]
			--           ,[NormalSales]
			--           ,[IncrSales]
			--           ,[TotSales]
			--           ,[TotInvest]
			--		   ,[PrevRoi]
			--		   ,[PrevCostRatio]
			--     ,[PrevNormalSales]
			--           ,[PrevIncrSales]
			--           ,[PrevTotSales]
			--           ,[PrevTotInvest]
			--           ,[Status]
			--		   ,[TsCoding]
			--           ,[CreateOn]
			--           ,[CreateBy]
			--		   ,[ModifiedOn]
			--           ,[ModifiedBy]
			--		   ,[IsCancel]
			--			)
			--		   SELECT
			--			@PromoId
			--           ,[RefId]
			--           ,[PromoPlanId]
			--           ,[AllocationId]
			--           ,[AllocationRefId]
			--           ,[CategoryShortDesc]
			--           ,[PrincipalShortDesc]
			--          ,[BudgetMasterId]
			--           ,[CategoryId]
			--           ,[SubCategoryId]
			--           ,[ActivityId]
			--           ,[SubActivityId]
			--           ,[ActivityDesc]
			--           ,[StartPromo]
			--           ,[EndPromo]
			--           ,[Mechanisme1]
			--           ,[Mechanisme2]
			--           ,[Mechanisme3]
			--           ,[Mechanisme4]
			--           ,[Notes]
			--           ,[Roi]
			--           ,[CostRatio]
			--           ,[NormalSales]
			--           ,[IncrSales]
			--		   ,[NormalSales] + [IncrSales]
			--           ,[Investment]
			--		   ,@PrevRoi
			--		   ,@PrevCostRatio
			--           ,@PrevNormalSales
			--           ,@PrevIncrSales
			--           ,@PrevTotSales
			--      ,@PrevTotInvest
			--   ,[StatusApprovalCode]
			--		   ,[TsCoding]
			--           ,@utcDate123
			--           ,@initiator
			--		   ,[ModifiedOn]
			--           ,[ModifiedBy]
			--		   ,0
			--		   FROM tbtrx_promo WHERE Id=@PromoId
			--			/************************/
			--
			--			/************************
			--			AMBIL ID REQUEST YANG BARU DI CREATE
			--			************************/
			--				SET @RequestId=(SELECT SCOPE_IDENTITY())
			--			/***********************/
			--
			--
			--			INSERT INTO tbtrx_promo_approval(RequestId,Sequence,UserApprover,[Status],RequestDate,ActionDate,IsOnGoing)
			--			select @RequestId,
			--			A.Sequence,
			--			A.UserApprover,
			--			A.[Status],
			--			CASE WHEN A.[Status]='TP2' THEN A.ActionDate ELSE A.RequestDate END,
			--			A.ActionDate,
			--			A.IsOnGoing
			--			FROM tbtrx_promo_approval A
			--			LEFT JOIN tbtrx_promo_request_approval ON Id=RequestId
			--			LEFT JOIN tbtrx_promo ON tbtrx_promo.Id= tbtrx_promo_request_approval.ParentId
			--			WHERE
			--			ParentId=@Promoid AND
			--			tbtrx_promo_request_approval.IsCancel=0
			--
			--
			--			UPDATE [tbtrx_promo_request_approval]
			--			SET IsCancel=1
			--			WHERE ParentId=@PromoId
			--			and Id <> @RequestId
			--			AND ISNULL(IsCancel,0)=0
			--
			--			UPDATE A
			--			SET A.[Status]='TP1'
			--			,A.RequestDate=@utcDate123
			--			,A.ActionDate=@utcDate123
			--			FROM tbtrx_promo_approval A
			--			LEFT JOIN tbtrx_promo_request_approval B ON B.Id=A.RequestId
			--			WHERE ParentId=@PromoId AND IsCancel=0
			--			AND A.[Status]='TP3' and A.IsOnGoing=1
			--
			--			UPDATE tbtrx_promo
			--			SET
			--			StatusApprovalCode=tbmst_master_status.StatusCode
			--			,StatusApproval=tbmst_master_status.StatusDesc
			--			,Approver=tbtrx_promo_approval.UserApprover
			--			,ApproveOn=tbtrx_promo_approval.ActionDate
			--			,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
			--			,Reconciled = @Reconciled
			--			from tbtrx_promo
			--			inner join tbtrx_promo_request_approval
			--			on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
			--			inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
			--			inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
			--			where tbtrx_promo_request_approval.IsCancel=0
			--			and tbtrx_promo_approval.IsOnGoing=1
			--			AND ParentId=@PromoId
			--		end

					/********************
					UPDATE BALANCE
					********************/
					UPDATE bal
					SET ReserveAmount=(ReserveAmount - X.TotInvest) + @Investment
					FROM tbtrx_allocation_balance bal
					inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
					INNER JOIN
					(
						SELECT ParentId,TotInvest from tbtrx_promo_request_approval where Id IN
						(
							SELECT MAX(Id) Id
							FROM tbtrx_promo_request_approval WHERE [IsCancel]=1 GROUP BY ParentId
						)
					) X
					ON X.ParentId=pr.Id
					where pr.Id=@Promoid


			END
END

	select @messageout=@PromoId

IF NOT EXISTS
(
	select 1 as bool
	,@PromoId as [Id]
	,@promorefid as [RefId]
	,200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	,b.Id [userid_approver]
	,b.username [username_approver]
	,b.email [email_approver]
	FROM tbtrx_promo pr
	inner join tbset_user a on pr.CreateBy=a.Id
	inner join tbset_user b on pr.Approver=b.Id
	where pr.Id=@PromoId
)
BEGIN
	SET @messageout='email address initator or approver not found '
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
END


	select 1 as bool
	,@PromoId as [Id]
	,@promorefid as [RefId]
	,200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	,b.Id [userid_approver]
	,b.username [username_approver]
	,b.email [email_approver]
	,IIF(@statusapproval='TP2',1,0) [IsFullyApproved]
	,@MajorChanges [major_changes]
	FROM tbtrx_promo pr
	inner join tbset_user a on pr.CreateBy=a.Id
	left join tbset_user b on pr.ApproverRecon=b.Id
	where pr.Id=@PromoId

END


/*****************************
RESET OVER BUDGET
******************************/

	UPDATE dn
	SET IsOverBudget=IIF(ob.remaining >=0 ,0,1)
	FROM tbtrx_debetnote dn
	INNER JOIN
	(
	SELECT
	pr.Id PromoId,
	pr.RefId RefId,
	pr.Investment,
	dn.id DNId,
	dn.TotalClaim,
	SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
--	pr.Investment-SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- 	pr.Investment-SUM (isnull(dn.DPP,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
	pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
	from tbtrx_promo pr
	inner join  tbtrx_debetnote dn
	on pr.Id=dn.PromoId
	AND isnull(dn.IsCancel,0)=0
	AND pr.Id=@PromoId
-- 	group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
	) ob ON dn.Id=ob.DNId

/******************************/
/***********************
 * Start Create History
 **********************/
	INSERT INTO tbhis_promo_parent(
		StatusAction
		,ActionOn
		,ActionBy
	) VALUES (
		'update recon'
		,@utcDate123
		,@initiator
	)
	SET @ParentId_his=(SELECT SCOPE_IDENTITY())

	INSERT INTO [tbhis_promo] (
	ParentId,
	Id,
	PromoPlanId,
	AllocationId,
	AllocationRefId,
	CategoryShortDesc,
	PrincipalShortDesc,
	BudgetMasterId,
	CategoryId,
	SubCategoryId,
	ActivityId,
	SubActivityId,
	ActivityDesc,
	StartPromo,
	EndPromo,
	Mechanisme1,
	Mechanisme2,
	Mechanisme3,
	Mechanisme4,
	Investment,
	NormalSales,
	IncrSales,
	Roi,
	CostRatio,
	StatusApprovalCode,
	StatusApproval,
	StatusApprovalCodeRecon,
	StatusApprovalRecon,
	Notes,
	IsActive,
	IsLocked,
	CreateOn,
	CreateBy,
	ModifiedOn,
	ModifiedBy,
	IsDelete,
	DeleteOn,
	DeleteBy,
	ApproveOn,
	ApproveOnRecon,
	Approver,
	ApproverRecon,
	ApprovalNotes,
	ApprovalNotesRecon,
	OldInvest,
	IsCancel,
	CancelOn,
	CancelBy,
	CancelNotes,
	IsCancelLocked,
	LastStatusRecon,
	LastStatus,
	TsCoding,
	PromoNumber,
	RefId,
	IsClose,
	CloseOn,
	CloseBy,
	Reconciled,
	ReconciledOn,
	ReconciledBy
	)
	SELECT @ParentId_his,
	t.Id,
	t.PromoPlanId,
	t.AllocationId,
	t.AllocationRefId,
	t.CategoryShortDesc,
	t.PrincipalShortDesc,
	t.BudgetMasterId,
	t.CategoryId,
	t.SubCategoryId,
	t.ActivityId,
	t.SubActivityId,
	t.ActivityDesc,
	t.StartPromo,
	t.EndPromo,
	t.Mechanisme1,
	t.Mechanisme2,
	t.Mechanisme3,
	t.Mechanisme4,
	t.Investment,
	t.NormalSales,
	t.IncrSales,
	t.Roi,
	t.CostRatio,
	t.StatusApprovalCode,
	t.StatusApproval,
	t.StatusApprovalCodeRecon,
	t.StatusApprovalRecon,
	t.Notes,
	t.IsActive,
	t.IsLocked,
	t.CreateOn,
	t.CreateBy,
	t.ModifiedOn,
	t.ModifiedBy,
	t.IsDelete,
	t.DeleteOn,
	t.DeleteBy,
	t.ApproveOn,
	t.ApproveOnRecon,
	t.Approver,
	t.ApproverRecon,
	t.ApprovalNotes,
	t.ApprovalNotesRecon,
	t.OldInvest,
	t.IsCancel,
	t.CancelOn,
	t.CancelBy,
	t.CancelNotes,
	t.IsCancelLocked,
	t.LastStatusRecon,
	t.LastStatus,
	t.TsCoding,
	t.PromoNumber,
	t.RefId,
	t.IsClose,
	t.CloseOn,
	t.CloseBy,
	t.Reconciled,
	t.ReconciledOn,
	t.ReconciledBy
	FROM tbtrx_promo t
	LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id
	LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
	LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
	LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId
	WHERE t.id = @PromoId

	INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
	SELECT @ParentId_his,@PromoId,t.Id from @Region t inner join tbmst_region a on a.Id=t.Id

	INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId)
	SELECT @ParentId_his,@PromoId,t.Id from @Channel t inner join tbmst_channel a on a.Id=t.Id

	INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubChannel t inner join tbmst_subchannel a on a.Id=t.Id

	INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @Account t inner join tbmst_account a on a.Id=t.Id

	INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubAccount t inner join tbmst_subaccount a on a.Id=t.Id

	INSERT INTO tbhis_promo_brand(ParentId,PromoId,BrandId)
	SELECT @ParentId_his,@PromoId,t.Id from @Brand t inner join tbmst_brand a on a.Id=t.Id

	INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @Sku t inner join tbmst_product a on a.Id=t.Id
/*********************
 * End Create History
 *********************/

/*****************************
RESET OVER BUDGET
******************************/
    exec ip_dn_overbudget_by_prommoid @PromoId
-- 	UPDATE dn
-- 	SET IsOverBudget=IIF(ob.remaining >=0 ,0,1)
-- 	FROM tbtrx_debetnote dn
-- 	INNER JOIN
-- 	(
-- 	SELECT
-- 	pr.Id PromoId,
-- 	pr.RefId RefId,
-- 	pr.Investment,
-- 	dn.id DNId,
-- 	dn.TotalClaim,
-- 	SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
-- --	pr.Investment-SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- -- 	pr.Investment-SUM (isnull(dn.DPP,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- 	pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
-- 	from tbtrx_promo pr
-- 	inner join  tbtrx_debetnote dn
-- 	on pr.Id=dn.PromoId
-- 	AND isnull(dn.IsCancel,0)=0
-- 	AND pr.Id=@PromoId
-- --     group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
-- 	) ob ON dn.Id=ob.DNId

/***************************
 Budget Recalculate balance
 ***************************/
exec ip_recalculate_balance_by_id @AllocationId

/*********************
SELESAI PROSES UPDATE
*********************/
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
