USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_brand_subacc_dist_ts_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_map_brand_subacc_dist_ts_list]
as
BEGIN
	SELECT        
		t.Id
		,t.BrandId
		,b.LongDesc           Brand
		,t.SubAccountId
		,sa.LongDesc          SubAccount
		,t.DistributorId
		,d.LongDesc           Distributor
		,t.GroupBrandDesc
		,t.CreateOn
		,t.CreateBy
		,uc.username          CreateByName
		,t.ModifiedOn
		,t.ModifiedBy
		,um.username          ModifiedByName
		,t.IsDelete
		,t.DeleteOn
		,t.DeleteBy
		,ud.username          DeleteByName

		, ts.ChannelId
		, tc.LongDesc         channel
		, ta.SubChannelId
		, ts.LongDesc         subchannel
		, sa.AccountId
		, ta.LongDesc         account
		--, SubAccountId
		--, SubAccount
		--, t.IsActive
		--, CreateOn
		--, CreateBy
		, t.CreatedEmail
		--, IsDeleted
		--, DeletedOn
		--, DeleteBy
		, t.DeleteEmail

	FROM            
		tbset_map_brand_subacc_dist_ts t 
		INNER JOIN tbmst_distributor   d  ON t.DistributorId = d.Id
		INNER JOIN tbmst_brand         b  ON t.BrandId       = b.Id
		INNER JOIN tbmst_subaccount    sa ON t.SubAccountId  = sa.Id 
		INNER JOIN tbmst_account       ta on sa.AccountId    = ta.Id
		INNER JOIN tbmst_subchannel    ts on ta.SubChannelId = ts.id
		INNER JOIN tbmst_channel       tc on ts.ChannelId    = tc.id
		LEFT JOIN tbset_user           uc ON t.CreateBy      = uc.id
		LEFT JOIN tbset_user           um ON t.ModifiedBy    = um.id
		LEFT JOIN tbset_user           ud ON t.DeleteBy      = ud.id
END


GO
