USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_brand_subacc_dist_ts_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_brand_subacc_dist_ts_ins]
	@IsNew           bit,
	@Id              int ,
	@BrandId         int ,
	@SubAccountId    int ,
	@DistributorId   int ,
	@GroupBrandDesc  varchar(255) ,
	@UserID          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
    ,@errCode int
    ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.BrandId
                  ,a.SubAccountId
                  ,a.DistributorId
                  ,a.GroupBrandDesc
                FROM tbset_map_brand_subacc_dist_ts a
                where a.BrandId = @BrandId AND SubAccountId = @SubAccountId and DistributorId=@DistributorId and GroupBrandDesc=@GroupBrandDesc
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Brand Subaccount already exist';
                    SET @messageout='Mapping Brand Subaccount already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_brand_subacc_dist_ts
                (
                   BrandId
                  ,SubAccountId
                  ,DistributorId
                  ,GroupBrandDesc
                  ,CreateOn
                  ,CreateBy
				  ,CreatedEmail
                )
                Values
                (
                   @BrandId
                  ,@SubAccountId
                  ,@DistributorId
                  ,@GroupBrandDesc
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_brand_subacc_dist_ts
			SET
				BrandId             = @BrandId,
				SubAccountId        = @SubAccountId,
				DistributorId       = @DistributorId,
				GroupBrandDesc      = @GroupBrandDesc,
				ModifiedOn          = @CreatedOn,
				ModifiedBy          = @UserID,
				ModifiedEmail       = @UserLogin
			WHERE
				Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END

GO
