USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promoid_workflow_timeline]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[ip_promoid_workflow_timeline] 
	@RefId	varchar(30)
AS

/*TESTING PURPOSE**********************/
--DECLARE @RefId	varchar(30)
--SET @RefId='SGM00002/AL24/RC'
/**********************TESTING PURPOSE*/

DECLARE @promoId int
SET @promoId=(SELECT TOP 1 id FROM tbtrx_promo WHERE RefId LIKE '%'+@RefId+'%')


SELECT section1, section2, section3, section4, section5, section6
	, CASE
		WHEN section1='Created' THEN 'background-color: #0095E8 !important; border-radius: 5px; font-weight: 650 !important; font-size: 14pt !important; color: #fff !important;' 
		WHEN section5='Approved' THEN 'background-color: #47BE7D !important; border-radius: 5px; font-weight: 650 !important; font-size: 14pt !important; color: #fff !important;' 
		WHEN section5='Waiting For Approval' THEN 'background-color: #F1BC00 !important; border-radius: 5px; font-weight: 650 !important; font-size: 14pt !important; color: #fff !important;' 
		WHEN section5='Send Back' THEN 'background-color: #D9214E !important; border-radius: 5px; font-weight: 650 !important; font-size: 14pt !important; color: #fff !important;' 
		ELSE 
			'background-color: #5E6278 !important; border-radius: 5px; font-weight: 650 !important; font-size: 14pt !important; color: #fff !important;' 
		END stylingSection1
	,'font-size: 11pt !important; color: #5c5e6d !important;' stylingSection2
	,'font-size: 11pt !important; color: #5c5e6d !important;' stylingSection3
	,'font-size: 8pt !important; color: #5c5e6d !important;' stylingSection4
	,'font-size: 11pt !important; color: #5c5e6d !important;' stylingSection5
	,'font-size: 11pt !important; color: #5c5e6d !important;' stylingsection6
	,'font-size: 16pt !important; margin-top: 2px;' stylingSectionCircle

FROM
(
	SELECT 'Created' section1, CreateBy section2, CreatedName section3, CreatedEmail section4, CONVERT(VARCHAR(10),CreateOn,103) section5, '' section6 FROM tbtrx_promo WHERE Id=@promoId
	UNION ALL
		SELECT 
			 'Approval - ' + cast(b.Sequence as varchar(1)) section1
			, b.UserApprover section2
			, b.UserApproverName section3
			, b.UserApproverEmail section4
			, IIF(b.status='TP3', 'Send Back'
				,IIF(b.status='TP2', 'Approved'
					,IIF(b.isongoing=1, 'Waiting For Approval'
						,''))) section5
			, IIF(b.status='TP3', CONVERT(VARCHAR(10),b.actiondate,103)
				,IIF(b.status='TP2', CONVERT(VARCHAR(10),b.actiondate,103)
					,IIF(b.isongoing=1, CONVERT(VARCHAR(10),b.requestdate,103)
						,''))) section6
		FROM tbtrx_promo_request_approval a
		INNER JOIN tbtrx_promo_approval b ON a.Id=b.RequestId
		WHERE a.ParentId= @promoId and ISNULL(iscancel,0)=0
	UNION ALL
		SELECT 
			 'Approval Recon - ' + cast(b.Sequence as varchar(1)) section1
			, b.UserApprover section2
			, b.UserApproverName section3
			, b.UserApproverEmail section4
			, IIF(b.status='TP3', 'Send Back'
				,IIF(b.status='TP2', 'Approved'
					,IIF(b.isongoing=1, 'Waiting For Approval'
						,''))) section5
			, IIF(b.status='TP3', CONVERT(VARCHAR(10),b.actiondate,103)
				,IIF(b.status='TP2', CONVERT(VARCHAR(10),b.actiondate,103)
					,IIF(b.isongoing=1, CONVERT(VARCHAR(10),b.requestdate,103)
						,''))) section6
		FROM tbtrx_promo_request_approval_recon a
		INNER JOIN tbtrx_promo_approval_recon b ON a.Id=b.RequestId
		WHERE a.ParentId= @promoId and ISNULL(iscancel,0)=0
) xva

GO
