

/****** Object:  StoredProcedure [dbo].[ip_promo_submission_sum]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_submission_sum] --'2020',0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31',30
	@periode varchar(4)
	,@entity int
	,@distributor int
	,@userid varchar(50)
	,@create_from date
	,@create_to date
	,@start_from date
	,@start_to date
	,@submission_param int
	
--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @userid='scsh1'
--SET @create_from='2019-12-01'
--SET @create_to='2020-10-31'
--SET @start_from='2019-08-01'
--SET @start_to='2019-12-01'

AS 
/*
	EJ 2020-02-27 Create by Jummy
*/

SELECT 
submission.CreateBy, tu.username, channel.ChannelDesc, subaccount.SubAccountDesc,
sum(ontime) as ontime, 
cast((sum(ontime) * 100 /(sum(ontime) + sum(late)))  as decimal(19,2)) as pctontime,   
sum(late) as late,
cast((sum(late) * 100 /(sum(ontime) + sum(late)))  as decimal(19,2)) as pctlate
FROM
	(
	SELECT 
		pr.CreateBy, pr.id,
		IIF(datediff(day,pr.CreateOn,pr.StartPromo) >= @submission_param,1,0) OnTime
		,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,1,0) Late
	FROM tbtrx_promo pr
	inner join tbtrx_allocation c on pr.AllocationId=c.Id 
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
	WHERE c.Periode=@periode
	AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)	
	AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
	AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))	
	AND ISNULL(pr.IsCancel, 0) = 0
--		inner join tbtrx_promo_channel tc on pr.id = tc.PromoId 
--		inner join tbtrx_promo_subaccount tsa on pr.Id = tsa.PromoId
	) submission
INNER JOIN
(
select PromoId,
STUFF(
		(select  ', ' + chn.LongDesc 
			from tbtrx_promo_channel a with (nolock)
			join tbmst_channel chn with (nolock)
			ON a.ChannelId = chn.Id
			where a.PromoId=b.PromoId
			FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
	FROM tbtrx_promo_channel b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
) channel on submission.id=channel.promoid
INNER JOIN
(
select PromoId,
STUFF(
		(select  ', ' + chn.LongDesc 
			from tbtrx_promo_subaccount a with (nolock)
			join tbmst_subaccount chn with (nolock)
			ON a.subAccountId=chn.Id
			where a.PromoId=b.PromoId
			FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
	FROM tbtrx_promo_subaccount b with (nolock) INNER JOIN tbtrx_promo with (nolock) ON Id=PromoId  GROUP BY PromoId
) subaccount on submission.id=subaccount.promoid
INNER JOIN tbset_user tu on submission.CreateBy = tu.id
GROUP BY submission.CreateBy, tu.username, channel.ChannelDesc, subaccount.SubAccountDesc
GO
