USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_user_login_profile_upd_lastlogin]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_user_login_profile_upd_lastlogin]
@email varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
    UPDATE [dbo].[tbset_user_login]
    SET isLogin = (isLogin + 1), [lastLogin] = @utcDate123 
    WHERE email = @email

    SELECT * FROM [dbo].[tbset_user_login]
    WHERE email= @email
END
GO
