

/****** Object:  StoredProcedure [dbo].[ip_promo_recon_list_reporting_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_promo_recon_list_reporting_p] --'2020',0,0,0,0,'0','2019-01-01','2020-12-31','2020-01-01','2020-12-31',30
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@create_from date
,@create_to date
,@start_from date
,@start_to date
,@submission_param int
,@userid UserType READONLY

,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)

AS

--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@create_from date
--,@create_to date
--,@start_from date
--,@start_to date
--,@submission_param int
--,@userid UserType 

--,@start int
--,@length int
--,@filter varchar(255)
--,@txtSearch varchar(255)

--SET @periode ='2023'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--insert into @userid values ('all')
--SET @create_from='2019-01-01'
--SET @create_to='2020-12-31'
--SET @start_from='2023-01-01'
--SET @start_to='2023-12-31'

--SET @start =1
--SET @length =10
--SET @filter =''
--SET @txtSearch =''

BEGIN

	DECLARE @user_list UserType;
	DECLARE @UserCreator varchar(50);

    drop table if exists #temp_result;
	DECLARE @recordsFiltered int;


	SET @UserCreator=(SELECT id FROM @userid WHERE id='All');
	IF(@UserCreator='All')
	BEGIN
		INSERT INTO @user_list (id)
			SELECT id FROM tbset_user WHERE usergroupid IN ('104', '106') AND isnull(isdeleted, 0) = 0;
	END

	INSERT INTO @user_list (id)
		SELECT id FROM @userid WHERE id NOT IN ('All')

/*************************************************/
DROP TABLE IF EXISTS #temp_promo
DROP TABLE IF EXISTS #temp_promo_his
DROP TABLE IF EXISTS #temp_before
DROP TABLE IF EXISTS #temp_after
/*************************************************/

select
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
	,mechanism.mechanism Mechanisme1
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,m.DistributorId, m.PrincipalId, c.LongDesc as BudgetSource
    ,IIF(isnull(pr.actual_sales, 0)=0, isnull(baseline.asales,0), isnull(pr.actual_sales, 0)) actual_sales
    ,isnull(tmit.InvestmentTypeId,'-') InvestmentTypeId
    ,isnull(tit2.RefId,'-') InvestmentTypeRefId
    ,isnull(tit2.LongDesc,'-') InvestmentTypeDesc
    ,pr.InvestmentTypeId InvestmentTypeId_promo
    ,tit.RefId InvestmentTypeRefId_promo
    ,tit.LongDesc InvestmentTypeDesc_promo
    into #temp_promo from tbtrx_promo pr
    inner join
    (
        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbtrx_promo_mechanism a with (nolock)
     GROUP BY a.PromoId
    ) mechanism on pr.Id = mechanism.PromoId   		
    inner join tbtrx_allocation c on pr.AllocationId=c.Id
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	inner join @user_list usra ON pr.CreateBy = usra.id
	LEFT JOIN tbhlp_baseline_promo baseline on pr.id=baseline.id
    left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id --and isnull(tit.IsDeleted,0)=0
    left join tbset_map_investment_type tmit on pr.SubActivityId=tmit.SubactivityId and isnull(tmit.IsDeleted,0)=0
    left join tbmst_investment_type tit2 on tmit.InvestmentTypeId=tit2.id and isnull(tit2.IsDeleted,0)=0
	WHERE m.Periode=@periode
		AND CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)
		AND isnull(pr.StatusApprovalCode, '')='TP2'
		AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

/* create promo history
 *********************************************************************************************/
select
	0 as parentid,
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
	,pr.Mechanisme1
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,pr.DistributorId, pr.PrincipalId, pr.BudgetSource, pr.actual_sales
    ,pr.InvestmentTypeId
	,pr.InvestmentTypeRefId
	,pr.InvestmentTypeDesc
    ,pr.InvestmentTypeId_promo
	,pr.InvestmentTypeRefId_promo
	,pr.InvestmentTypeDesc_promo
	into #temp_promo_his from #temp_promo pr WHERE isnull(pr.StatusApprovalCode, '')='TP2' AND isnull(pr.StatusApprovalCodeRecon, '')=''

INSERT INTO #temp_promo_his
	select
	0 as parentid,
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
	,pr.Mechanisme1
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,m.DistributorId, m.PrincipalId, c.LongDesc as BudgetSource
    ,a.actual_sales
    ,a.InvestmentTypeId
	,a.InvestmentTypeRefId
	,a.InvestmentTypeDesc
    ,a.InvestmentTypeId_promo
	,a.InvestmentTypeRefId_promo
	,a.InvestmentTypeDesc_promo
	from #temp_promo a
	inner join
	(
		select max(tp.parentid) as parentid, id, AllocationId, BudgetMasterId from tbhis_promo tp
		where StatusApprovalCode = 'TP1'
		group by id, AllocationId, BudgetMasterId
	) b on a.id=b.id
	inner join tbhis_promo pr on pr.ParentId = b.parentid and pr.id=b.id
    inner join tbtrx_allocation c on b.AllocationId=c.Id
	inner join tbtrx_budgetmaster m on b.BudgetMasterId=m.Id
	WHERE a.id NOT IN (SELECT id FROM #temp_promo_his)

INSERT INTO #temp_promo_his
SELECT
	0 as parentid,
	pr.Id
	,pr.PromoPlanId
	,pr.AllocationId
	,pr.AllocationRefId
	,pr.CategoryShortDesc
	,pr.PrincipalShortDesc
	,pr.BudgetMasterId
	,pr.CategoryId
	,pr.SubCategoryId
	,pr.ActivityId
	,pr.SubActivityId
	,pr.ActivityDesc
	,pr.StartPromo
	,pr.EndPromo
	,pr.Mechanisme1
	,pr.Mechanisme2
	,pr.Mechanisme3
	,pr.Mechanisme4
	,pr.Investment
	,pr.NormalSales
	,pr.IncrSales
	,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
	,pr.CostRatio
	,pr.StatusApprovalCode
	,pr.StatusApproval
	,pr.StatusApprovalCodeRecon
	,pr.StatusApprovalRecon
	,pr.Notes
	,pr.IsActive
	,pr.IsLocked
	,pr.CreateOn
	,pr.CreateBy
	,pr.ModifiedOn
	,pr.ModifiedBy
	,pr.IsDelete
	,pr.DeleteOn
	,pr.DeleteBy
	,pr.ApproveOn
	,pr.ApproveOnRecon
	,pr.Approver
	,pr.ApproverRecon
	,pr.ApprovalNotes
	,pr.ApprovalNotesRecon
	,pr.OldInvest
	,pr.IsCancel
	,pr.CancelOn
	,pr.CancelBy
	,pr.CancelNotes
	,pr.IsCancelLocked
	,pr.LastStatusRecon
	,pr.LastStatus
	,pr.TsCoding
	,pr.PromoNumber
	,pr.RefId
	,pr.IsClose
	,pr.CloseOn
	,pr.CloseBy
	,pr.Reconciled
	,pr.ReconciledOn
	,pr.ReconciledBy
	,pr.DistributorId, pr.PrincipalId, pr.BudgetSource
    ,pr.actual_sales
    ,pr.InvestmentTypeId
	,pr.InvestmentTypeRefId
	,pr.InvestmentTypeDesc
    ,pr.InvestmentTypeId_promo
	,pr.InvestmentTypeRefId_promo
	,pr.InvestmentTypeDesc_promo
FROM #temp_promo pr WHERE pr.id NOT IN (SELECT id FROM #temp_promo_his)

/* create promo before
 *********************************************************************************************/
 DROP TABLE IF EXISTS #temp_promo_brand
 DROP TABLE IF EXISTS #temp_promo_sku
 DROP TABLE IF EXISTS #temp_dn

	SELECT PromoId, STRING_AGG(brd.LongDesc, ', ') BrandDesc
	INTO #temp_promo_brand
			FROM tbtrx_promo_brand a WITH (NOLOCK)
			INNER JOIN tbmst_brand brd WITH (NOLOCK) ON a.brandid=brd.Id
			INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
			GROUP BY a.PromoId

	SELECT PromoId, STRING_AGG(sku.LongDesc, ', ') SKUDesc
	INTO #temp_promo_sku
			FROM tbtrx_promo_product a WITH (NOLOCK)
			INNER JOIN tbmst_product sku with (NOLOCK) ON a.productid=sku.Id
			INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
			GROUP BY a.PromoId

	SELECT
	    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
	    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) TotalPaid									
	INTO #temp_dn
		FROM tbtrx_debetnote a
		INNER JOIN #temp_promo pr on a.PromoId=pr.Id
		AND isnull(a.IsCancel, 0) = 0
		GROUP BY a.PromoId

/*********************************************************************************************/
SELECT distinct
		p.LongDesc Entity
		,d.LongDesc Distributor
		,p.LongDesc PrincipalDesc
		,pr.BudgetSource
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,IIF(sctg.CategoryId<>3,'---', sctg.LongDesc) [SubCategory]
		,IIF(sctg.CategoryId<>3,'---', act.LongDesc) [Activity]
		,sact.LongDesc [SubActivity]
		,IIF(sctg.CategoryId<>3,'---', pr.ActivityDesc) [ActivityDesc]
		, isnull(mechanism.mechanism, '') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,IIF(sctg.CategoryId<>3,'---', region.RegionDesc) [RegionDesc]
		,channel.ChannelDesc
		,IIF(sctg.CategoryId<>3,'---', subchannel.SubChannelDesc) [SubChannelDesc]
		,IIF(sctg.CategoryId<>3,'---', account.AccountDesc) [AccountDesc]
		,IIF(sctg.CategoryId<>3,'---', subaccount.SubAccountDesc) [SubAccountDesc]
		,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as LastStatus
		,pr.ApprovalNotes
		,IIF(sctg.CategoryId<>3,0, pr.NormalSales + pr.IncrSales) [Target]
		,pr.Investment
		,IIF(sctg.CategoryId<>3,0, pr.NormalSales) [NormalSales]
		,IIF(sctg.CategoryId<>3,0, pr.IncrSales) [IncrSales]
		,IIF(sctg.CategoryId<>3,0, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100)) [Roi]
		,IIF(sctg.CategoryId<>3,0, pr.CostRatio) [CostRatio]
		,TotalClaim DnClaim
		,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
		,TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		,IIF(sctg.CategoryId<>3,'---', pr.TsCoding) [TsCoding]
		,brand.BrandDesc
		,IIF(sctg.CategoryId<>3,'---', sku.SKUDesc) [SKUDesc]
		,IIF(sctg.CategoryId<>3, 0, isnull(tpp.id, 0)) [PromoPlanId]
		,IIF(sctg.CategoryId<>3,'---', isnull(tpp.RefId, '')) [PromoPlanRefId]
		,pr.id as id
		,IIF(sctg.CategoryId<>3,0, pr.actual_sales) [actual_sales]
		,IIF(sctg.CategoryId<>3, 0, isnull(pr.InvestmentTypeId, 0)) [InvestmentTypeId]
	    ,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeRefId, '')) [InvestmentTypeRefId]
		,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeDesc, '')) [InvestmentTypeDesc]
		,IIF(sctg.CategoryId<>3, 0, isnull(pr.InvestmentTypeId_promo, 0)) [InvestmentTypeId_promo]
	    ,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeRefId_promo, '')) [InvestmentTypeRefId_promo]
	    ,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeDesc_promo, '')) [InvestmentTypeDesc_promo]
	into #temp_before
	FROM #temp_promo_his pr with (nolock)
	inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
	inner join tbmst_principal p with (nolock) on pr.PrincipalId=p.Id
	inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
	left join tbset_user uo on uo.Id=pr.CancelBy
	left join tbset_user uf on uf.Id=pr.ApproverRecon  --<<< To be changed to INNER JOIN
	inner join tbmst_activity act on pr.ActivityId=act.id
	inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
    INNER JOIN
    (
        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
            GROUP BY a.PromoId
    ) mechanism ON pr.Id = mechanism.PromoId   			
    INNER JOIN
    (
      	SELECT PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
		    FROM tbtrx_promo_channel a WITH (NOLOCK)
		    INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
			INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) channel ON pr.Id = channel.PromoId
    INNER JOIN
    (
    	SELECT PromoId, STRING_AGG(subchn.LongDesc,', ') SubChannelDesc
      		FROM tbtrx_promo_subchannel a WITH (NOLOCK)
            INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
        	INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) subchannel ON pr.Id = subchannel.PromoId
    INNER JOIN
    (
    	SELECT PromoId, STRING_AGG(reg.LongDesc, ', ') RegionDesc
    		FROM tbtrx_promo_region a WITH (nolock)
    		INNER JOIN tbmst_region reg WITH (nolock) ON a.RegionId = reg.id
    		INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
    		GROUP BY a.PromoId
    ) region on pr.Id = region.PromoId
    INNER JOIN
    (
    	SELECT PromoId, STRING_AGG(ac.LongDesc,', ') AccountDesc
        	FROM tbtrx_promo_account a WITH (NOLOCK)
     		INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
            INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) account ON pr.Id = account.PromoId
    INNER JOIN
    (
        SELECT PromoId, STRING_AGG(sac.LongDesc,', ') SubAccountDesc
            FROM tbtrx_promo_subaccount a WITH (NOLOCK)
            INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
            INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) subaccount ON pr.Id = subaccount.PromoId
	INNER JOIN #temp_promo_brand brand	on pr.Id = brand.PromoId
	INNER JOIN #temp_promo_sku sku	on pr.Id = sku.PromoId
	LEFT JOIN #temp_dn	dn on pr.Id=dn.PromoId
	--INNER JOIN 
	--(
	--	SELECT PromoId, STRING_AGG(brd.LongDesc, ', ') BrandDesc
	--		FROM tbtrx_promo_brand a WITH (NOLOCK)
	--		INNER JOIN tbmst_brand brd WITH (NOLOCK) ON a.brandid=brd.Id
	--		INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
	--		GROUP BY a.PromoId
	--) brand	on pr.Id = brand.PromoId
	--INNER JOIN 
	--(
	--	SELECT PromoId, STRING_AGG(sku.LongDesc, ', ') SKUDesc
	--		FROM tbtrx_promo_product a WITH (NOLOCK)
	--		INNER JOIN tbmst_product sku with (NOLOCK) ON a.productid=sku.Id
	--		INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
	--		GROUP BY a.PromoId
	--) sku on pr.Id = sku.PromoId
	--left join
	--(				
	--	SELECT
	--    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
	--    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) TotalPaid									
	--	FROM tbtrx_debetnote a
	--	INNER JOIN #temp_promo pr on a.PromoId=pr.Id
	--	AND isnull(a.IsCancel, 0) = 0
	--	GROUP BY a.PromoId
	--) dn on pr.Id=dn.PromoId
	LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id

/*************************************************/

/* create promo after
 *********************************************************************************************/
SELECT distinct
		p.LongDesc Entity
		,d.LongDesc Distributor
		,p.LongDesc PrincipalDesc
		,pr.BudgetSource
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,IIF(sctg.CategoryId<>3,'---', sctg.LongDesc) [SubCategory]
		,IIF(sctg.CategoryId<>3,'---', act.LongDesc) [Activity]
		,sact.LongDesc [SubActivity]
		,IIF(sctg.CategoryId<>3,'---', pr.ActivityDesc) [ActivityDesc]
		, isnull(mechanism.mechanism, '') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,IIF(sctg.CategoryId<>3,'---', region.RegionDesc) [RegionDesc]
		,channel.ChannelDesc
		,IIF(sctg.CategoryId<>3,'---', subchannel.SubChannelDesc) [SubChannelDesc]
		,IIF(sctg.CategoryId<>3,'---', account.AccountDesc) [AccountDesc]
		,IIF(sctg.CategoryId<>3,'---', subaccount.SubAccountDesc) [SubAccountDesc]
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(uf.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar),pr.LastStatusRecon + '-' + uf.username)) LastStatus
		,pr.ApprovalNotes
		,IIF(sctg.CategoryId<>3,0, pr.NormalSales + pr.IncrSales) [Target]
		,IIF(isnull(pr.isclose,0)=0, pr.Investment, isnull(dn.TotalPaid,0)) Investment
		,IIF(sctg.CategoryId<>3,0, pr.NormalSales) [NormalSales]
		,IIF(sctg.CategoryId<>3,0, pr.IncrSales) [IncrSales]
		,IIF(sctg.CategoryId<>3,0, iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100)) [Roi]
		,IIF(sctg.CategoryId<>3,0, pr.CostRatio) [CostRatio]
		,TotalClaim DnClaim
		,(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
		,TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		,IIF(sctg.CategoryId<>3,'---', pr.TsCoding) [TsCoding]
		,brand.BrandDesc
		,IIF(sctg.CategoryId<>3,'---', sku.SKUDesc) [SKUDesc]
		,IIF(sctg.CategoryId<>3, 0, isnull(tpp.id, 0)) [PromoPlanId]
		,IIF(sctg.CategoryId<>3,'---', isnull(tpp.RefId, '')) [PromoPlanRefId]
		,pr.id as id
		,IIF(sctg.CategoryId<>3,0, pr.actual_sales) [actual_sales]
		,IIF(sctg.CategoryId<>3, 0, isnull(pr.InvestmentTypeId, 0)) [InvestmentTypeId]
	    ,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeRefId, '')) [InvestmentTypeRefId]
		,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeDesc, '')) [InvestmentTypeDesc]
		,IIF(sctg.CategoryId<>3, 0, isnull(pr.InvestmentTypeId_promo, 0)) [InvestmentTypeId_promo]
	    ,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeRefId_promo, '')) [InvestmentTypeRefId_promo]
	    ,IIF(sctg.CategoryId<>3,'---', isnull(pr.InvestmentTypeDesc_promo, '')) [InvestmentTypeDesc_promo]
	    ,pr.investment investmentBfrClose
	    ,iif(isnull(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance	
	into #temp_after
	FROM #temp_promo pr with (nolock)
	inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
	inner join tbmst_principal p with (nolock) on pr.PrincipalId=p.Id
	inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
	left join tbset_user uo on uo.Id=pr.CancelBy
	left join tbset_user uf on uf.Id=pr.ApproverRecon --<<< To be changed to INNER JOIN
	inner join tbmst_activity act on pr.ActivityId=act.id
	inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
    INNER JOIN
    (
        SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    FROM tbtrx_promo_mechanism a WITH (NOLOCK)
            GROUP BY a.PromoId
    ) mechanism ON pr.Id = mechanism.PromoId   			
    INNER JOIN
    (
      	SELECT PromoId, STRING_AGG(chn.LongDesc,', ') ChannelDesc
		    FROM tbtrx_promo_channel a WITH (NOLOCK)
		    INNER JOIN tbmst_channel chn WITH (NOLOCK) ON a.ChannelId=chn.Id
			INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) channel ON pr.Id = channel.PromoId
    INNER JOIN
    (
    	SELECT PromoId, STRING_AGG(subchn.LongDesc,', ') SubChannelDesc
      		FROM tbtrx_promo_subchannel a WITH (NOLOCK)
            INNER JOIN tbmst_subchannel subchn WITH (NOLOCK) ON a.SubChannelId=subchn.Id
        	INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) subchannel ON pr.Id = subchannel.PromoId
    INNER JOIN
    (
    	SELECT PromoId, STRING_AGG(reg.LongDesc, ', ') RegionDesc
    		FROM tbtrx_promo_region a WITH (nolock)
    		INNER JOIN tbmst_region reg WITH (nolock) ON a.RegionId = reg.Id
    		INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
    		GROUP BY a.PromoId
    ) region on pr.Id = region.PromoId
    INNER JOIN
    (
    	SELECT PromoId, STRING_AGG(ac.LongDesc,', ') AccountDesc
        	FROM tbtrx_promo_account a WITH (NOLOCK)
     		INNER JOIN tbmst_account ac WITH (NOLOCK) ON a.AccountId=ac.Id
            INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) account ON pr.Id = account.PromoId
    INNER JOIN
    (
        SELECT PromoId, STRING_AGG(sac.LongDesc,', ') SubAccountDesc
            FROM tbtrx_promo_subaccount a WITH (NOLOCK)
            INNER JOIN tbmst_subaccount sac WITH (NOLOCK) ON a.subAccountId=sac.Id
            INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
            GROUP BY a.PromoId
    ) subaccount ON pr.Id = subaccount.PromoId
	INNER JOIN #temp_promo_brand brand	on pr.Id = brand.PromoId
	INNER JOIN #temp_promo_sku sku	on pr.Id = sku.PromoId
	LEFT JOIN #temp_dn	dn on pr.Id=dn.PromoId
	--INNER JOIN 
	--(
	--	SELECT PromoId, STRING_AGG(brd.LongDesc, ', ') BrandDesc
	--		FROM tbtrx_promo_brand a WITH (NOLOCK)
	--		INNER JOIN tbmst_brand brd WITH (NOLOCK) ON a.brandid=brd.Id
	--		INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
	--		GROUP BY a.PromoId
	--) brand	on pr.Id = brand.PromoId
	--INNER JOIN 
	--(
	--	SELECT PromoId, STRING_AGG(sku.LongDesc, ', ') SKUDesc
	--		FROM tbtrx_promo_product a WITH (NOLOCK)
	--		INNER JOIN tbmst_product sku with (NOLOCK) ON a.productid=sku.Id
	--		INNER JOIN #temp_promo pr WITH (NOLOCK) ON pr.Id=a.PromoId
	--		GROUP BY a.PromoId
	--) sku on pr.Id = sku.PromoId
	--left join
	--(				
	--	SELECT
	--    	a.PromoId,SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) TotalClaim
	--    	,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)),0)) TotalPaid									
	--	FROM tbtrx_debetnote a
	--	INNER JOIN #temp_promo pr on a.PromoId=pr.Id
	--	AND isnull(a.IsCancel, 0) = 0
	--	GROUP BY a.PromoId
	--) dn on pr.Id=dn.PromoId
	LEFT JOIN tbtrx_promo_planning tpp on pr.PromoPlanId = tpp.id
/*************************************************/
select
	a.Entity,
	a.Distributor,
	a.PrincipalDesc,
	a.BudgetSource,
	a.Initiator,
	a.CreateOn,
	a.LastUpdate,
	a.PromoNumber,
	a.SubCategory,
	a.Activity,
	a.SubActivity,
	a.ActivityDesc,
	a.Mechanisme1,
	a.Mechanisme2,
	a.Mechanisme3,
	a.Mechanisme4,
	a.RegionDesc,
	a.ChannelDesc,
	a.SubChannelDesc,
	a.AccountDesc,
	a.SubAccountDesc,
	a.LastStatus,
	a.ApprovalNotes,
	a.Target,
	a.Investment,
	a.NormalSales,
	a.IncrSales,
	a.Roi,
	a.CostRatio,
	a.DnClaim,
	a.RemainingBalance,
	a.DnPaid,
	a.StartPromo,
	a.EndPromo,
	a.TsCoding,
	a.BrandDesc,
	a.SKUDesc,
	a.PromoPlanId,
	a.PromoPlanRefId,
	a.id,
	b.Entity as Entity_after,
	b.Distributor as Distributor_after,
	b.PrincipalDesc as PrincipalDesc_after,
	b.BudgetSource as BudgetSource_after,
	b.Initiator as Initiator_after,
	b.CreateOn as CreateOn_after,
	b.LastUpdate as LastUpdate_after,
	b.PromoNumber as PromoNumber_after,
	b.SubCategory as SubCategory_after,
	b.Activity as Activity_after,
	b.SubActivity as SubActivity_after,
	b.ActivityDesc as ActivityDesc_after,
	b.Mechanisme1 as Mechanisme1_after,
	b.Mechanisme2 as Mechanisme2_after,
	b.Mechanisme3 as Mechanisme3_after,
	b.Mechanisme4 as Mechanisme4_after,
	b.RegionDesc as RegionDesc_after,
	b.ChannelDesc as ChannelDesc_after,
	b.SubChannelDesc as SubChannelDesc_after,
	b.AccountDesc as AccountDesc_after,
	b.SubAccountDesc as SubAccountDesc_after,
	b.Laststatus as lastStatus_after,
	b.ApprovalNotes as ApprovalNotes_after,
	b.Target as Target_after,
	b.Investment as Investment_after,
	b.NormalSales as NormalSales_after,
	b.IncrSales as IncrSales_after,
	b.Roi as Roi_after,
	b.CostRatio as CostRatio_after,
	b.DnClaim as DnClaim_after,
	b.RemainingBalance as RemainingBalance_after,
	b.DnPaid as DnPaid_after,
	b.StartPromo as StartPromo_after,
	b.EndPromo as EndPromo_after,
	b.TsCoding as TsCoding_after,
	b.BrandDesc as BrandDesc_after,
	b.SKUDesc as SKUDesc_after,
	b.PromoPlanId as PromoPlanId_after,
	b.PromoPlanRefId as PromoPlanRefId_after,
	b.id as id_after,
	IIF(isnull(b.actual_sales, 0)=0, isnull(baseline.actual_sales,0), isnull(b.actual_sales, 0)) actual_sales
    ,b.InvestmentTypeId
	,b.InvestmentTypeRefId
	,b.InvestmentTypeDesc
    ,b.InvestmentTypeId_promo
	,b.InvestmentTypeRefId_promo
	,b.InvestmentTypeDesc_promo
	,b.investmentBfrClose 
	,b.investmentClosedBalance 
INTO #temp_result
from #temp_before a inner join #temp_after b on a.id=b.id
LEFT JOIN tbhlp_promo_baseline baseline on a.id=baseline.PromoId
/*************************************************/

/**********************
   start pagination
**********************/
IF @length = -1
BEGIN
    IF @txtSearch is null
    BEGIN
        SELECT * FROM #temp_result
        ORDER BY PromoPlanId ASC
    END
    ELSE
    BEGIN
        SELECT * FROM #temp_result
        WHERE
            (isNull(Entity,'') like '%' + @txtSearch + '%') OR
            (isNull(Distributor,'') like '%' + @txtSearch + '%') OR
            (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(PromoNumber,'') like '%' + @txtSearch + '%') OR
            (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
            (isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(AccountDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(ApprovalNotes,'') like '%' + @txtSearch + '%') OR

            (isNull(Entity_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Distributor_after,'') like '%' + @txtSearch + '%') OR
            (isNull(PrincipalDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(PromoNumber_after,'') like '%' + @txtSearch + '%') OR
            (isNull(ActivityDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme1_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme2_after,'') like '%' + @txtSearch + '%') OR
			(isNull(Mechanisme3_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme4_after,'') like '%' + @txtSearch + '%') OR
            (isNull(RegionDesc_after,'') like '%' + @txtSearch + '%') OR
        	(isNull(ChannelDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(SubChannelDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(AccountDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(SubAccountDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(ApprovalNotes_after,'') like '%' + @txtSearch + '%')
       ORDER BY PromoPlanId ASC
    END
END
ELSE
BEGIN
    IF @txtSearch is null
 BEGIN
        SELECT * FROM #temp_result
        ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
    END
    ELSE
    BEGIN
        SELECT * FROM #temp_result
        WHERE
            (isNull(Entity,'') like '%' + @txtSearch + '%') OR
            (isNull(Distributor,'') like '%' + @txtSearch + '%') OR
            (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(PromoNumber,'') like '%' + @txtSearch + '%') OR
            (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
   			(isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
            (isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(AccountDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
            (isNull(ApprovalNotes,'') like '%' + @txtSearch + '%') OR

            (isNull(Entity_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Distributor_after,'') like '%' + @txtSearch + '%') OR
            (isNull(PrincipalDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(PromoNumber_after,'') like '%' + @txtSearch + '%') OR
            (isNull(ActivityDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme1_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme2_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme3_after,'') like '%' + @txtSearch + '%') OR
            (isNull(Mechanisme4_after,'') like '%' + @txtSearch + '%') OR
            (isNull(RegionDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(ChannelDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(SubChannelDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(AccountDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(SubAccountDesc_after,'') like '%' + @txtSearch + '%') OR
            (isNull(ApprovalNotes_after,'') like '%' + @txtSearch + '%')
        ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
    END
END

SET @recordsFiltered =
	(
	SELECT isnull(count(PromoPlanId),0)
	FROM #temp_result
	WHERE
        (isNull(Entity,'') like '%' + @txtSearch + '%') OR
        (isNull(Distributor,'') like '%' + @txtSearch + '%') OR
        (isNull(PrincipalDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(PromoNumber,'') like '%' + @txtSearch + '%') OR
        (isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
        (isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(AccountDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(SubAccountDesc,'') like '%' + @txtSearch + '%') OR
        (isNull(ApprovalNotes,'') like '%' + @txtSearch + '%') OR

        (isNull(Entity_after,'') like '%' + @txtSearch + '%') OR
        (isNull(Distributor_after,'') like '%' + @txtSearch + '%') OR
        (isNull(PrincipalDesc_after,'') like '%' + @txtSearch + '%') OR
        (isNull(PromoNumber_after,'') like '%' + @txtSearch + '%') OR
        (isNull(ActivityDesc_after,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme1_after,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme2_after,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme3_after,'') like '%' + @txtSearch + '%') OR
        (isNull(Mechanisme4_after,'') like '%' + @txtSearch + '%') OR
        (isNull(RegionDesc_after,'') like '%' + @txtSearch + '%') OR
        (isNull(ChannelDesc_after,'') like '%' + @txtSearch + '%') OR
        (isNull(SubChannelDesc_after,'') like '%' + @txtSearch + '%') OR
      	(isNull(AccountDesc_after,'') like '%' + @txtSearch + '%') OR
        (isNull(SubAccountDesc_after,'') like '%' + @txtSearch + '%') OR
        (isNull(ApprovalNotes_after,'') like '%' + @txtSearch + '%')
	)

SELECT isnull(count(PromoPlanId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
drop table #temp_result
/**********************
    end pagination
**********************/

DROP TABLE IF EXISTS #temp_promo
DROP TABLE IF EXISTS #temp_promo_his
DROP TABLE IF EXISTS #temp_before
DROP TABLE IF EXISTS #temp_after
 DROP TABLE IF EXISTS #temp_promo_brand
 DROP TABLE IF EXISTS #temp_promo_sku
 DROP TABLE IF EXISTS #temp_dn
/*************************************************/

END
GO
