

/****** Object:  StoredProcedure [dbo].[ip_budgetmaster_list_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_budgetmaster_list_p]

--DECLARE 
@periode      varchar(4),
@entity       int,
@distributor  int,
--@budgetparent int,
--@channel      int,
@userid       varchar(50),
@keyword   varchar(50),
@sortColumn   varchar(50),
@sortDirection   varchar(4),
@pageNum	  int,
@pageSize	  int

--SET @periode='2023'
--SET @entity = 4
--SET @distributor =0
--SET @budgetparent=0
--SET @channel=0
--SET @userid=0
--SET @pageNum=-1
--SET @pageSize=5
--SET @keyword='M23-0064'
--SET @sortColumn='refid'
--SET @sortDirection='ASC'
AS
BEGIN


SET @keyword = LOWER(@keyword);

SELECT 	SUM(case when 
		A.Periode=@periode AND isnull(A.isDelete, 0) = 0
		AND IIF(@entity=0,'',A.PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',A.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@userid='0','0',A.CreateBy) =IIF(@userid='0','0',@userid)
			then 1 else 0 end
		) as TotalCount,    
	SUM(case when 
		A.Periode=@periode AND isnull(A.isDelete, 0) = 0
		AND IIF(@entity=0,'',A.PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',A.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@userid='0','0',A.CreateBy) =IIF(@userid='0','0',@userid)
		AND (
			isnull(@keyword, '')='' OR 
			(isnull(@keyword, '')<>'' AND LOWER(CONCAT_WS(' ', A.RefId, A.LongDesc, B.ShortDesc, A.BudgetAmount, C.ShortDesc, A.Periode )) LIKE '%'+@keyword+'%' )
		)
	then 1 else 0 end) as FilteredCount
FROM  
		tbtrx_budgetmaster A LEFT OUTER JOIN
		tbmst_category E ON A.CategoryId = E.Id LEFT OUTER JOIN
		tbmst_distributor B ON A.DistributorId = B.Id LEFT OUTER JOIN
		tbmst_principal C ON A.PrincipalId = C.Id LEFT OUTER JOIN
		tbset_user D ON A.OwnerId = D.id

SELECT  
		A.Id  
		,A.Periode
		,A.RefId
		,A.DistributorId
		,A.PrincipalId
		,A.OwnerId
		,A.StartDate
		,A.EndDate
		,A.IsActive
		,A.BudgetAmount
		,A.IsAllocated
		,A.CategoryId
		,A.LongDesc BudgetMasterLongDesc
		,A.ShortDesc  BudgetMasterShortDesc
		,A.CreateOn
		,A.CreateBy
		,A.CreateOn
		,A.ModifiedOn
		,A.ModifiedBy
		,A.IsDelete
		,A.DeleteOn
		,A.DeleteBy
		,A.CreateEmail  
		,A.ModifiedEmail
		,A.DeleteEmail 
		,B.LongDesc DistributorLongDesc
		,B.ShortDesc DistributorShortDesc
		,B.CompanyName
		,B.[Address]
		,B.NPWP
		,C.LongDesc PrincipalLongDesc
		,C.ShortDesc PrincipalShortDesc
		,D.username
		,E.LongDesc CategoryLongDesc
	FROM  
		tbtrx_budgetmaster A LEFT OUTER JOIN
		tbmst_category E ON A.CategoryId = E.Id LEFT OUTER JOIN
		tbmst_distributor B ON A.DistributorId = B.Id LEFT OUTER JOIN
		tbmst_principal C ON A.PrincipalId = C.Id LEFT OUTER JOIN
		tbset_user D ON A.OwnerId = D.id
	WHERE 
		A.Periode=@periode AND isnull(A.isDelete, 0) = 0
		AND IIF(@entity=0,'',A.PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',A.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND IIF(@userid='0','0',A.CreateBy) =IIF(@userid='0','0',@userid)
		AND (
			(@keyword='') OR 
			(@keyword<>'' AND CONCAT_WS(' ', A.RefId, A.LongDesc, B.ShortDesc, A.BudgetAmount, C.ShortDesc ) LIKE '%'+@keyword+'%' )
		)

	ORDER BY 
		CASE WHEN @sortDirection = 'ASC' THEN
			CASE 
			   WHEN @sortColumn = 'principalLongDesc' THEN C.ShortDesc
			   WHEN @sortColumn = 'distributorLongDesc' THEN B.LongDesc
			   WHEN @sortColumn = 'periode' THEN A.Periode 
			   WHEN @sortColumn = 'refid' THEN A.RefId 
			   WHEN @sortColumn = 'budgetMasterLongDesc' THEN A.LongDesc
			   WHEN @sortColumn = 'amount' THEN CAST(A.BudgetAmount AS varchar(50))
			END
		END ASC
		, CASE WHEN @sortDirection = 'DESC' THEN
			CASE 
			   WHEN @sortColumn = 'principalLongDesc' THEN C.ShortDesc
			   WHEN @sortColumn = 'distributorLongDesc' THEN B.LongDesc
			   WHEN @sortColumn = 'periode' THEN A.Periode 
			   WHEN @sortColumn = 'refid' THEN A.RefId 
			   WHEN @sortColumn = 'budgetMasterLongDesc' THEN A.LongDesc
			   WHEN @sortColumn = 'amount' THEN CAST(A.BudgetAmount AS varchar(50))
			END
		END DESC

	
		OFFSET 
			CASE WHEN @pageNum >= 0 THEN @pageNum * @pageSize ELSE 0 END ROWS
		FETCH NEXT 
			CASE WHEN @pageSize >= 0 THEN @pageSize ELSE 1000000 END ROWS ONLY
	

END

GO
