

/****** Object:  StoredProcedure [dbo].[ip_insert_derivative_budget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_insert_derivative_budget]
    @BudgetParent VARCHAR(255), 
    @TotalAssignmentAmount   numeric(19,2),
	@AssignTo varchar(255),
	@AssignDesc varchar(255),
	@AssignAmount numeric(19,2),
	@SubCategory varchar(255),
	@Activity varchar(255),
	@SubActivity varchar(255),
	@Approval varchar(255)

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--SELECT 
--@BudgetParent=BudgetParent,
--@TotalAssignmentAmount=TotalAssignmentAmount,
--@AssignTo=AssignTo,
--@AssignDesc=AssignDesc,
--@AssignAmount=AssignAmount,
--@SubCategory=SubCategory,
--@Activity=Activity,
--@SubActivity=SubActivity
--FROM TempImportDerivativeType where AssignDesc='2019 MMKA Trading Term'

DECLARE
@assignmentid int,
@assignmentdetailid int,
@allocationid int,
@BudgetParentId int,
@subcategoryid int,
@remainingbudget numeric(19,0),
@useamount numeric(19,0)

BEGIN

SET @subcategoryid=(SELECT Id from tbmst_subcategory where LongDesc=@SubCategory);

SET @BudgetParentId = (select AllocationId from tbtrx_allocation_detail where LongDesc=@BudgetParent and SubCategoryId=@subcategoryid)

SET @assignmentid=(SELECT Id from tbtrx_budgetassignment where RefId=@BudgetParent);

select @useamount=UseAmount,@remainingbudget=RemainingAmount from tbtrx_allocation_balance where AllocationId=@BudgetParentId and SubCategoryId=@subcategoryid;

--IF @TotalAssignmentAmount < (@useamount + @AssignAmount)
--begin
--	INSERT INTO Tempcekbudget(Budget,[Remain])values(@BudgetParent,@remainingbudget)
--end

IF @assignmentid is null
BEGIN



	INSERT INTO tbtrx_budgetassignment
		([RefId]
		,[BudgetId]
		,[FrownId]
		,[AllocationId]
		,[BudgetAmount]
		,[IsActive]
		,[IsLocked]
		,[CreateOn]
		,[CreateBy]
		)
	SELECT DISTINCT
	@BudgetParent AssignmentRefId
	,al.BudgetMasterId
	,al.OwnerId AssignFromUser
	,al.Id AllocationId
	,@TotalAssignmentAmount
	,1
	,0
	,@utcDate123
	,@AssignTo
	FROM tbtrx_allocation al where al.LongDesc=@Budgetparent;

	SET @assignmentid=(SELECT SCOPE_IDENTITY())
END
ELSE
BEGIN
	UPDATE tbtrx_budgetassignment
	SET
	BudgetAmount= @TotalAssignmentAmount
	WHERE
	Id=@assignmentid
END


IF @assignmentid is not null
	BEGIN	
	SET @assignmentdetailid=(SELECT Id from tbtrx_budgetassignment_detail where [Desc]=@AssignDesc)

	IF @assignmentdetailid is null
	BEGIN
		INSERT INTO tbtrx_budgetassignment_detail
		([AssignmentId]
		,[RefId]
		,[OwnId]
		,[Desc]
		,[BudgetAmount]
		,[IsAllocated]
		,[IsActive]
		,[IsLocked]
		,[CreateOn]
		,[CreateBy]
		)
		SELECT
		 @assignmentid
		,@AssignDesc RefId
		,@AssignTo OwnId
		,@AssignDesc [Desc]
		,@AssignAmount [BudgetAmount]
		,0 IsAllocated
		,1 IsActive
		,0 IsLocked
		,@utcDate123 CreateOn
		,@AssignTo CreateBy
	END
	ELSE
	BEGIN
		UPDATE tbtrx_budgetassignment_detail
		SET BudgetAmount=@AssignAmount,
		[Desc]=@AssignDesc,
		OwnId=@AssignTo
		WHERE Id=@assignmentdetailid
	END	

	SET @assignmentdetailid=(SELECT SCOPE_IDENTITY())



	SET @allocationid=(SELECT Id from tbtrx_allocation where LongDesc=@AssignDesc)

	IF @allocationid is null
	BEGIN
		INSERT INTO tbtrx_allocation
		([Periode]           
		,[BudgetType]
		,[DistributorId]
		,[OwnerId]
		,[FromOwnerId]
		,[BudgetMasterId]
		,[BudgetSourceId]           
		,[BudgetAmount]
		,[LongDesc]           
		,[StatusApproval]           
		,[CreateOn]
		,[CreateBy]
		)
		SELECT 
		m.Periode	
		,'BTR' BudgetType
		,m.DistributorId
		,td.OwnId OwnerId
		,tp.FrownId FromOwnerId
		,tp.BudgetId BudgetMasterId
		,td.Id BudgetSourceId
		,@AssignAmount BudgetAmount 
		,@AssignDesc LongDesc
		,IIF(@Approval='auto','AP2','AP1') StatusApproval
		,@utcDate123 CreateOn
		,@AssignTo CreateBy
		FROM tbtrx_budgetassignment_detail td
		INNER JOIN tbtrx_budgetassignment tp on tp.Id=td.AssignmentId
		INNER JOIN tbtrx_budgetmaster m on tp.BudgetId=m.Id	
		WHERE td.id=@assignmentdetailid

		SET @allocationid=(SELECT SCOPE_IDENTITY())
	END
	ELSE
	BEGIN
		UPDATE tbtrx_allocation
		SET BudgetAmount=@AssignAmount
		,StatusApproval=IIF(@Approval='auto','AP2','AP1') 
		WHERE Id=@allocationid
	END

	IF NOT EXISTS(SELECT AllocationId from tbtrx_allocation_detail where LongDesc=@AssignDesc)
	BEGIN
		INSERT INTO tbtrx_allocation_detail
			   ([AllocationId]
			   ,[LineIndex]
			   ,[LongDesc]
			   ,[BudgetAmount]
			   ,[SubCategoryId]
			   ,[ActivityId]
			   ,[SubActivityId]                 
			   ,[IsActive]
			   ,[IsLocked]
			   ,[CreateOn]
			   ,[CreateBy]
			   )
		SELECT 		
			a.Id AllocationId
			,ROW_NUMBER() OVER(PARTITION BY Id ORDER BY Id) LineIndex
			,LongDesc AllocationDetailDesc
			,@AssignAmount AllocationDetailAmount
			,isnull(ctg.SubCategoryId,0) SubCategoryId
			,isnull(act.ActivityId,0) ActivityId
			,isnull(sact.SubActivityId,0) SubActivityId	
			,1 IsActive
			,0 IsLocked
			,@utcDate123 CreateOn
			,@AssignTo CreateBy
			FROM
			tbtrx_allocation a 
			LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
			LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
			LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
			and @Activity=sact.ActivityDesc 
			and @SubActivity=sact.SubActivityDesc		
			where a.Id=@allocationid
	END
	ELSE
	BEGIN
		UPDATE A 
		SET A.BudgetAmount=@AssignAmount
		,A.SubCategoryId=isnull(ctg.SubCategoryid,0)
		,A.ActivityId=isnull(act.ActivityId,0)
		,A.SubActivityId=isnull(sact.SubActivityid,0)
		FROM tbtrx_allocation_detail A
		LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
		LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on ltrim(rtrim(@SubCategory))=act.SubCategoryDesc and ltrim(rtrim(@activity))=act.ActivityDesc
		LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on ltrim(rtrim(@SubCategory))=sact.SubCategoryDesc 
		and ltrim(rtrim(@Activity))=sact.ActivityDesc 
		and ltrim(rtrim(@SubActivity))=sact.SubActivityDesc			
		WHERE AllocationId=@allocationid
	END

END



update tbtrx_allocation_balance
set UseAmount=UseAmount + @AssignAmount
where AllocationId=@BudgetParentId and SubCategoryId=@subcategoryid


END
GO
