

/****** Object:  StoredProcedure [dbo].[ip_dashboard_promo_calendar]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dashboard_promo_calendar]
--declare
@userid varchar(50),
@promoplanid int, --EDJ 2020-06-08
@activity_desc varchar(255)
AS 
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

set @userid ='0'
--set @promoplanid =0
--set @activity_desc =''

select pp.id as planningid, pr.id as promoid,
	case
		when isnull(pr.promoplanid,'')='' then 0
		when isnull(dn.PromoId,0)<>0 then 3
		when pr.StatusApprovalCode='TP1' then 1
		when pr.StatusApprovalCode='TP2' then 2
	end sts,
	case
--		when pr.StatusApprovalCode='TP1' and DATEDIFF(day,pr.CreateOn,@utcDate123)<=5 then 1 --ijo
		when  pr.StatusApprovalCode='TP1' and DATEDIFF(day,pr.CreateOn,@utcDate123)>5 and DATEDIFF(day,pr.CreateOn,@utcDate123)<=7 then 1 --kuning
		when pr.StatusApprovalCode='TP1' and DATEDIFF(day,pr.CreateOn,@utcDate123)>7 then 2 --abang
		else 0 --no warning
	end warningsts, 
	iif(isnull(pr.promoplanid,'')='',concat(pp.refid,' - ',pp.activitydesc), concat(pr.refid,' - ',pr.activitydesc)) activitydesc,
	iif(isnull(pr.promoplanid,'')='',pp.startpromo,pr.startpromo) startpromo,
	iif(isnull(pr.promoplanid,'')='',pp.endpromo,pr.endpromo) endpromo,
	pp.Investment planinvest, 
	isnull(pr.investment,0) promoinvest, 
	isnull(dn.totalclaim,0) totalclaim,
	pp.CreateBy,
	pr.createon,
	pr.StatusApproval,
	pr.Approver,
	iif(pr.StatusApprovalCode='TP2',pr.ApproveOn,NULL) as ApproveOn
from tbtrx_promo_planning pp
left join tbtrx_promo pr on pp.id=pr.promoplanid and pr.TsCoding=pp.TSCode
left join (
	select promoid, sum(totalclaim) as totalclaim from  tbtrx_debetnote group by PromoId
	)dn on pr.id=dn.PromoId
where 
isnull(pp.IsCancel,0)=0 and --LUK 201013
IIF(@userid='0','',pp.CreateBy) =IIF(@userid='0','',@userid)
and IIF(@promoplanid=0,0,pr.promoplanid) =IIF(@promoplanid=0,0,@promoplanid) --EDJ 2020-06-08
and iif(isnull(pr.promoplanid,'')='',concat(pp.refid,' - ',pp.activitydesc), concat(pr.refid,' - ',pr.activitydesc)) like '%'+@activity_desc+'%'
--and year(pp.StartPromo) = year(@utcDate123)
--and iif(isnull(pr.promoplanid,'')='',pp.activitydesc,pr.activitydesc) like '%'+@activity_desc+'%'

GO
