USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_planning_list_reporting_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_planning_list_reporting_p] --'2020',0,0,'kamsat','1900-01-01','9999-01-01','1900-01-01','9999-01-31'
 @periode varchar(4)
,@entity int
,@distributor int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date

,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)


AS

--DECLARE
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@channel int
--,@userid varchar(50)
--,@create_from date
--,@create_to date
--,@start_from date
--,@start_to date

--,@start int
--,@length int
--,@filter varchar(255)
--,@txtSearch varchar(255)


--SET @periode ='2024'
--SET @entity = 0
--SET @distributor =0
--SET @channel =0
--SET @userid='0'
--SET @create_from='2021-01-01'
--SET @create_to='2024-12-31'
--SET @start_from='2024-01-01'
--SET @start_to='2024-12-31'

--SET @start =0
--SET @length =-1
--SET @filter =''
--SET @txtSearch =''


/*
 * 2020-06-17 LUK add laststatus if iscancel = 1
 */
BEGIN
	DROP TABLE IF EXISTS #temp_promoplanning
	DROP TABLE IF EXISTS #temp_brand
	DROP TABLE IF EXISTS #temp_sku
    drop table if exists #temp_result;
	DECLARE @recordsFiltered int;


	SELECT
		pr.Periode
		,pr.Id
		,pr.refId
		,pr.tscode
		,pr.CreateBy
		,pr.CreateOn
		,pr.ModifiedOn
		,pr.ActivityDesc
		,mechanism.mechanism Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.LastStatus
		,pr.IsCancel
		,pr.CancelBy
		,pr.CancelOn
		,pr.NormalSales
		,pr.IncrSales
		,pr.Investment
		,pr.CostRatio
		,pr.StartPromo
		,pr.EndPromo
		,pr.CancelNotes
		,pr.DistributorId
		,pr.EntityId
		,pr.SubCategoryId
		,pr.ActivityId
		,pr.SubActivityId
	    ,pr.TSCodeOn
        ,pr.TSCodeBy
	    ,pr.InvestmentTypeId
	into #temp_promoplanning
	from tbtrx_promo_planning pr with (nolock)
    inner join
    (
        select PromoPlanId, string_agg(concat(a.mechanism, ' ', a.notes),', ') mechanism
                    from tbtrx_promo_planning_mechanism a with (nolock)
            GROUP BY a.PromoPlanId
    ) mechanism on pr.Id = mechanism.PromoPlanId   	
	WHERE
		pr.Periode=@periode
		AND IIF(@userid='0','',pr.CreateBy ) =IIF(@userid='0','',@userid)
		AND IIF(@entity=0,'',pr.EntityId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',pr.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
		AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)

    select  PromoPlanId, string_agg(LongDesc,', ') groupBrandDesc
    into #temp_groupbrand
    FROM (
    	SELECT distinct PromoPlanId, bg.LongDesc
                from tbtrx_promo_planning_brand a with (nolock)
                INNER join tbmst_brand sac with (nolock) ON a.brandid=sac.Id
                inner join tbmst_brand_group bg with (nolock) ON sac.brandgroupid = bg.id
                inner join #temp_promoplanning tpp on a.promoplanid = tpp.id
    ) a
    GROUP BY a.PromoPlanId    
		
	select PromoPlanId, string_agg(brd.LongDesc,' ,') BrandDesc
	into #temp_brand
                        from tbtrx_promo_planning_brand a with (nolock)
                        INNER join tbmst_brand brd with (nolock) ON a.brandid=brd.Id
                        INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId
                GROUP BY a.PromoPlanId		
	select sku.* 
	into #temp_sku
		from 	#temp_promoplanning a 
		inner join tbhlp_promo_planning_product sku
		on a.Id = sku.PromoPlanId

	SELECT 
		pr.Periode
		,pr.Id PromoPlanId
		,pr.refId PromoPlanRefId
		,promo.Id PromoId
		,iif(isnull(pr.tscode,'')='','',promo.refId) PromoRefId ---LUK 2020-05-15
		,p.LongDesc Entity
		,d.LongDesc Distributor
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,promo.RefId [PromoNumber]
		,sctg.LongDesc [SubCategory]
		,act.LongDesc [Activity]
		,sact.LongDesc [SubActivity]
		,pr.ActivityDesc
		,isnull(pr.Mechanisme1,'') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,region.RegionDesc
		,channel.ChannelDesc
		,subchannel.SubChannelDesc
		,account.AccountDesc
		,subaccount.SubAccountDesc
		--,pr.LastStatus 	  --LUK 2020-06-17
		,IIF(pr.IsCancel=1, 'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(isnull(pr.tscode, '')='', 'waiting for approval', 'approved')) LastStatus --LUK 2020-06-17
		,pr.NormalSales + pr.IncrSales [Target]
		,pr.Investment
		,pr.NormalSales
		,pr.IncrSales
	--				,(pr.IncrSales-pr.Investment)/pr.Investment as Roi	---LUK 2020-04-21
		,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---EJ 2020-06-02
		,pr.CostRatio
		,pr.StartPromo
		,pr.EndPromo
		,pr.TsCode
		,groupbrand.GroupBrandDesc
		,brand.BrandDesc
		,sku.SKUDesc
		,pr.CancelNotes
		,pr.NormalSales + pr.IncrSales TotalSales
		,pr.TSCodeOn
		,pr.TSCodeBy
        ,isnull(tmit.InvestmentTypeId,'-') InvestmentTypeId
	    ,isnull(tit2.RefId,'-') InvestmentTypeRefId
	    ,isnull(tit2.LongDesc,'-') InvestmentTypeDesc
	    ,pr.InvestmentTypeId InvestmentTypeId_promo
	    ,tit.RefId InvestmentTypeRefId_promo
	    ,tit.LongDesc InvestmentTypeDesc_promo
	INTO #temp_result
	FROM #temp_promoplanning pr -- tbtrx_promo_planning pr with (nolock)
		left join tbset_user uo on uo.Id=pr.CancelBy --LUK 2020-06-17
		left join tbtrx_promo promo on pr.Id=promo.PromoPlanId and pr.tscode=promo.TsCoding
		left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id --and isnull(tit.IsDeleted,0)=0
		inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
		inner join tbmst_principal p with (nolock) on pr.EntityId=p.Id
		inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
		inner join tbmst_activity act on pr.ActivityId=act.id
		inner join tbmst_subactivity sact on pr.SubActivityId=sact.id
	    left join tbset_map_investment_type tmit on pr.SubActivityId=tmit.SubactivityId and isnull(tmit.IsDeleted,0)=0
	    left join tbmst_investment_type tit2 on tmit.InvestmentTypeId=tit2.id and isnull(tit2.IsDeleted,0)=0
        inner join
        (
            select PromoPlanId, string_agg(chn.LongDesc,' ,') ChannelDesc
                    from tbtrx_promo_planning_channel a with (nolock)
                    INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                    INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId
                WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
                GROUP BY a.PromoPlanId
        ) channel
		on pr.Id = channel.PromoPlanId
        inner join
        (
            select PromoPlanId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
		          from tbtrx_promo_planning_subchannel a with (nolock)
                        INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
                     INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId
                GROUP BY a.PromoPlanId
        ) subchannel
        on pr.Id = subchannel.PromoPlanId
        left join
        (
            select PromoPlanId, string_agg(reg.LongDesc,' ,') RegionDesc
		          from tbtrx_promo_planning_region a with (nolock)
                        INNER join tbmst_region reg with (nolock) ON a.regionid=reg.id
                     INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId
                GROUP BY a.PromoPlanId
		) region
		on pr.Id = region.PromoPlanId
        inner join
        (
            select PromoPlanId, string_agg(ac.LongDesc,' ,') AccountDesc
                        from tbtrx_promo_planning_account a with (nolock)
                        INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
                        INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId
                GROUP BY a.PromoPlanId
        ) account
		on pr.Id = account.PromoPlanId
        inner join
        (
            select PromoPlanId, string_agg(sac.LongDesc,' ,') SubAccountDesc
                        from tbtrx_promo_planning_subaccount a with (nolock)
                        INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                        INNER JOIN #temp_promoplanning pr with (nolock) ON pr.Id=a.PromoPlanId
                GROUP BY a.PromoPlanId
        ) subaccount
        on pr.Id = subaccount.PromoPlanId
        left join #temp_groupbrand groupbrand on pr.Id=groupbrand.PromoPlanId        
		left join #temp_brand brand on pr.Id=brand.PromoPlanId
		left join #temp_sku sku on pr.Id=sku.PromoPlanId



	    /**********************
            start pagination
        **********************/
        IF @length = -1
        BEGIN
		    IF @txtSearch is null
	    	BEGIN
				SELECT * FROM #temp_result
				ORDER BY PromoPlanId ASC
			END
			ELSE
			BEGIN
				SELECT * FROM #temp_result
				WHERE
					(isNull(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
					(isNull(PromoRefId,'') like '%' + @txtSearch + '%') OR
					(isNull(Entity,'') like '%' + @txtSearch + '%') OR
					(isNull(Distributor,'') like '%' + @txtSearch + '%') OR
					(isNull(SubCategory,'') like '%' + @txtSearch + '%') OR
					(isNull(Activity,'') like '%' + @txtSearch + '%') OR
					(isNull(SubActivity,'') like '%' + @txtSearch + '%') OR
					(isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
					(isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(TsCode,'') like '%' + @txtSearch + '%') OR
					(isNull(BrandDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(SKUDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(CancelNotes,'') like '%' + @txtSearch + '%')
				ORDER BY PromoPlanId ASC
			END
        END
        ELSE
        BEGIN
		    IF @txtSearch is null
	    	BEGIN
				SELECT * FROM #temp_result
				ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
			END
			ELSE
			BEGIN
				SELECT * FROM #temp_result
				WHERE
					(isNull(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
					(isNull(PromoRefId,'') like '%' + @txtSearch + '%') OR
					(isNull(Entity,'') like '%' + @txtSearch + '%') OR
					(isNull(Distributor,'') like '%' + @txtSearch + '%') OR
					(isNull(SubCategory,'') like '%' + @txtSearch + '%') OR
					(isNull(Activity,'') like '%' + @txtSearch + '%') OR
					(isNull(SubActivity,'') like '%' + @txtSearch + '%') OR
					(isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
					(isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(TsCode,'') like '%' + @txtSearch + '%') OR
					(isNull(BrandDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(SKUDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(CancelNotes,'') like '%' + @txtSearch + '%')
				ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
			END
        END

		SET @recordsFiltered =
			(
			SELECT isnull(count(PromoPlanId),0)
			FROM #temp_result
				WHERE
					(isNull(PromoPlanRefId,'') like '%' + @txtSearch + '%') OR
					(isNull(PromoRefId,'') like '%' + @txtSearch + '%') OR
					(isNull(Entity,'') like '%' + @txtSearch + '%') OR
					(isNull(Distributor,'') like '%' + @txtSearch + '%') OR
					(isNull(SubCategory,'') like '%' + @txtSearch + '%') OR
					(isNull(Activity,'') like '%' + @txtSearch + '%') OR
					(isNull(SubActivity,'') like '%' + @txtSearch + '%') OR
					(isNull(ActivityDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme1,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme2,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme3,'') like '%' + @txtSearch + '%') OR
					(isNull(Mechanisme4,'') like '%' + @txtSearch + '%') OR
					(isNull(RegionDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(ChannelDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(SubChannelDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(TsCode,'') like '%' + @txtSearch + '%') OR
					(isNull(BrandDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(SKUDesc,'') like '%' + @txtSearch + '%') OR
					(isNull(CancelNotes,'') like '%' + @txtSearch + '%')
			)

        SELECT isnull(count(PromoPlanId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        /**********************
            end pagination
        **********************/

	DROP TABLE IF EXISTS #temp_promoplanning
	DROP TABLE IF EXISTS #temp_brand
	DROP TABLE IF EXISTS #temp_sku
    drop table if exists #temp_result;

END
GO
