USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_cancel_approval]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_cancel_approval] --1001,'TP2','admin'
@promoid int,
@statuscode varchar(5),
@userid varchar(50),
@approverEmail varchar(100)

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

-- EDJ 2020-07-01 add cek dn creation
BEGIN TRY
BEGIN TRANSACTION


declare
@promorefid varchar(50)
,@p_reqid int
,@notes varchar(255)
,@username varchar(50)

declare

@subcategoryid int,
@allocationid int,
@laststatus varchar(5),
@investment numeric(19,0),
@messageout varchar(255)

--set @promorefid=(SELECT refid FROM tbtrx_promo where Id=@promoid)
IF EXISTS
(
	SELECT TOP 1 Id
	FROM tbtrx_debetnote
	WHERE PromoId=@promoid AND isnull(IsCancel,0)=0 AND isnull(IsDNPromo,0)=1
--	and LastStatus NOT IN ('ready_to_invoice','invoice','confirm_paid')
) AND @statuscode='TP2'
BEGIN
		SET @messageout='Cancel promo failed, you have Debet Note to be process '
		 RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
END

SELECT
@username=username
FROM tbset_user where Id=@userid

SELECT
@laststatus=StatusApprovalCode,
@allocationid=AllocationId,
@promorefid=refid,
@subcategoryid=SubCategoryId,
@investment=Investment
FROM tbtrx_promo where Id=@promoid

SELECT @p_reqid=Id
,@notes=CancelReason
from tbtrx_promo_cancel_request
where PromoId=@promoid and isnull(IsCancel,0)=0


	update tbtrx_promo_cancel_approval
	SET [Status]=@statuscode
	,Notes=@notes
	,ActionDate=@utcDate123
	,UserApprover = @userid
	,ApproverEmail = @approverEmail
	WHERE RequestId=@p_reqid
	AND IsOnGoing=1




	if @statuscode='TP2'
	begin

			UPDATE tbtrx_promo
			SET IsCancel=1
			,IsCancelLocked=0
			,CancelOn=@utcDate123
			,CancelBy=@userid
			,CancelNotes=@notes
			,CancelByName = @username
			,CancelByEmail = @approverEmail
			WHERE Id=@promoid

			UPDATE A
			SET IsOnGoing=0
			FROM tbtrx_promo_cancel_approval A
			INNER JOIN
			(SELECT MAX(Sequence) Sequence,RequestId
			FROM tbtrx_promo_cancel_approval WHERE [Status]='TP2' GROUP BY RequestId) X
			ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
			where A.RequestId=@p_reqid


			/********************
			UPDATE BALANCE
			********************/
			IF @laststatus='TP2'
			BEGIN
				UPDATE tbtrx_allocation_balance
				SET UseAmount=UseAmount - @investment
				WHERE AllocationId=@allocationid
				and SubCategoryId=@subcategoryid
			END

			IF @laststatus='TP1'
			BEGIN
				UPDATE tbtrx_allocation_balance
				SET ReserveAmount=ReserveAmount - @investment
				WHERE AllocationId=@allocationid
				and SubCategoryId=@subcategoryid
			END


	end


			UPDATE tbtrx_promo
			SET
			IsCancelLocked=0
			WHERE Id=@promoid

	select 1 as bool,@promoid as [Id],@promorefid as [RefId], 200 as [statuscode]

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH
GO
