

/****** Object:  StoredProcedure [dbo].[ip_promo_autoclose_list_reminder]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_autoclose_list_reminder]
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * SP ini untuk list auto close promo
 */
BEGIN
	SELECT 
top 2 
		tp.id, tp.PromoPlanId, tp.RefId, StatusApprovalCode, StatusApproval, tp.CreateOn, tp.ModifiedOn, 
--		datediff(day, iif(tp.ModifiedOn is null, tp.CreateOn, tp.ModifiedOn), @utcDate123 ) as dayfreeze, 
		datediff(day, tp.CreateOn, @utcDate123 ) as dayfreeze,
		tp.CreateBy, tu.email as emailInitiator, tp.Approver, ta.email as emailApprover
	FROM tbtrx_promo tp
	inner join 
	(
		SELECT ParentId, max(tpa.ActionDate) as ActionDate from tbtrx_promo_request_approval tpra
		inner join tbtrx_promo_approval tpa on tpra.id=tpa.RequestId 
		and tpa.[Sequence] = 1 and tpa.IsOnGoing = 1 and tpa.Status = 'TP1' --and parentid IN (53, 134)
--			where parentid not in (
--					select a.parentid 
--					from tbtrx_promo_request_approval a 
--					inner join tbtrx_promo_approval b on a.id=b.RequestId
--					where (b.Status='TP2')
----					where (b.Status='TP2' or b.status='TP3')
--				)
		group by parentid
	) approval on tp.id=approval.ParentId 
	INNER JOIN tbset_user tu on tp.CreateBy = tu.id 
	INNER JOIN tbset_user ta on tp.Approver = ta.id 
	LEFT JOIN (
		SELECT distinct tpra.parentid promoid
		FROM tbtrx_promo_request_approval tpra
		INNER JOIN tbtrx_promo_approval tpa ON tpra.id=tpa.requestid
		WHERE tpa.status='TP2'
	) approval1 ON tp.id=approval1.promoid
	WHERE approval1.promoid is null	
	AND StatusApproval = 'Waiting For Approval' and isnull(tp.IsCancel, 0)=0
--	and datediff(day, iif(tp.ModifiedOn is null, tp.CreateOn, tp.ModifiedOn), @utcDate123 ) = 40
	and datediff(day, tp.CreateOn, @utcDate123 ) = 40
/****************************************************/
	AND statusapproval = 'Fill this with any text to prevent the notif'
/****************************************************/
--	and tp.CreateBy ='kammidi'	
--	and tp.CreateBy ='cmlka'
END
GO
