USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_select]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- use danone
CREATE PROCEDURE [dbo].[ip_promo_select] --9,''
	-- Add the parameters for the stored procedure here
	@Id				INT,
	@LongDesc		VARCHAR(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
 * 2020-04-15 EDJ add username appr1, appr2, appr3, appr4, appr5
 */
--begin try
--begin transaction
--DECLARE @messageout varchar(255)
--
--IF @Id=0
--BEGIN
--	SET @messageout='Promo Number Not Found'
--	RAISERROR (@messageout, -- Message text.
--	   16, -- Severity.
--	   1 -- State.
--   );
--END
--ELSE
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		PromoId INT NULL,
		AllocationId INT NULL
	)

	INSERT INTO @ALO(PromoId,AllocationId)
	SELECT p.Id,a.Id
	FROM [dbo].[tbtrx_promo]  p WITH(NOLOCK)
	INNER JOIN tbtrx_allocation a on p.AllocationId=a.Id
	WHERE ISNULL(a.IsDelete,0)=0  and ISNULL(p.IsDelete,0)=0
		AND (ISNULL(@Id,'')='' OR p.Id=@Id)
		--AND (ISNULL(@LongDesc,'')='' OR ALLOC.LongDesc LIKE @LongDesc)
/*******************************/
	DECLARE @Alloc_ID INT

	set @Alloc_ID= (select allocationid from @ALO where promoid=@id)
	exec ip_recalculate_balance_by_id @alloc_id

/*******************************/
	SELECT
		pr.PromoPlanId
		,pr.RefId
		,pr.Id
		,pl.RefId PromoPlanRefId
		,pr.CreateOn
		,isnull(pr.ModifiedOn,pr.CreateOn) ModifiedOn
		,pr.CreateBy
		,pr.ActivityDesc
		,pr.Investment
		,PREV.Investment PrevInvestment
		,cast(format(round(pr.NormalSales,0),'#') as bigint) NormalSales
		,cast(format(round(PREV.NormalSales,0),'#') as bigint) PrevNormalSales
		,pr.IncrSales
		,PREV.IncrSales PrevIncrSales
		,PREV.NormalSales+PREV.IncrSales PrevTotSales
		,pr.Roi
		,PREV.Roi PrevRoi
		,pr.CostRatio
		,PREV.CostRatio PrevCostRatio
		,pr.Mechanisme1
		,pr.Mechanisme2
		,pr.Mechanisme3
		,pr.Mechanisme4
		,pr.StartPromo
		,pr.EndPromo
		,ALLOC.Id AllocationId
		,ALLOC.Periode
		,ALLOC.RefId AllocationRefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName
		,ALLOC.OwnerId
		,uo.username BudgetOwner
		,ALLOC.FromOwnerId
		,uf.username FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,pr.SubCategoryId
		,pr.ActivityId
		,ta.LongDesc as ActivityLongDesc
		,pr.SubactivityId
		,ts.LongDesc as SubActivityLongDesc
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		--,ALLOC.SalesAmount
		,ALLOC.BudgetAmount
		,bal.remainingamount as RemainingBudget
		,ALLOC.LongDesc AllocationDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
--		,UserApprover1
		,left(appr1.username, 11) UserApprover1
		,LastStatus1
		,ApprovalDate1
--		,UserApprover2
		,left(appr2.username, 11) UserApprover2
		,LastStatus2
		,ApprovalDate2
--		,UserApprover3
		,left(appr3.username, 11) UserApprover3
		,LastStatus3
		,ApprovalDate3
--		,UserApprover4
		,left(appr4.username, 11) UserApprover4
		,LastStatus4
		,ApprovalDate4
--		,UserApprover5
		,left(appr5.username, 11) UserApprover5
		,LastStatus5
		,ApprovalDate5
		,attr.RegionDesc
		,attr.ChannelDesc
		,attr.AccountDesc
		,attr.BrandDesc
		,attr.ProductDesc
		,@utcDate123 + 90 CutOffClaim
		,isnull(CancelReason,'') CancelReason
		,pr.Notes
		,pr.ApprovalNotes
		,pr.TsCoding
		,pr.IsClose
		,pl.Investment PlanInvestment
		,cast(format(round(pl.NormalSales,0),'#') as bigint) PlanNormalSales
		,pl.IncrSales PlanIncrSales
		,pl.NormalSales+pl.IncrSales PlanTotSales
		,pl.Roi PlanRoi
		,pl.CostRatio PlanCostRatio
		,pl.Mechanisme1 prevMechanisme1
		,pl.Mechanisme2 prevMechanisme2
		,pl.Mechanisme3 prevMechanisme3
		,pl.Mechanisme4 prevMechanisme4
	    ,pr.initiator_notes
	    ,IIF(isnull(note.Notes,'')='','', note.Notes) sendback_notes
	    ,pr.Approver userid_Approver
	    ,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendback_notes_date
	    ,pr.InvestmentTypeId 
	    ,tit.RefId InvestmentTypeRefId
	    ,tit.LongDesc InvestmentTypeDesc
	    ,pr.late_submission_day
	    ,sctg.LongDesc SubCategoryDesc
	FROM tbtrx_promo pr	WITH (NOLOCK)
	inner join tbtrx_promo_planning pl WITH (NOLOCK) on pr.PromoPlanId=pl.Id
	inner join [dbo].[tbtrx_allocation] AS ALLOC WITH (NOLOCK) on ALLOC.Id=pr.AllocationId
	inner join tbtrx_allocation_balance as bal WITH (NOLOCK) on bal.allocationid=pr.allocationid and bal.subcategoryid=pr.subcategoryid
	inner join tbtrx_budgetmaster m WITH (NOLOCK) on ALLOC.BudgetMasterId=m.Id
	INNER JOIN tbmst_activity ta WITH (NOLOCK) on pr.ActivityId = ta.Id
	INNER JOIN tbmst_subactivity ts WITH (NOLOCK) on pr.SubActivityId = ts.id
	inner join tbmst_distributor d WITH (NOLOCK) on m.DistributorId=d.Id
	inner join tbmst_principal p WITH (NOLOCK) on m.PrincipalId=p.Id
	inner join tbset_user uo WITH (NOLOCK) on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf WITH (NOLOCK) on uf.Id=ALLOC.FromOwnerId
--	inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=m.CategoryId
	inner join tbmst_category ctg WITH (NOLOCK) on ctg.Id=pr.CategoryId 
	inner join tbmst_subcategory sctg WITH (NOLOCK) on pr.SubCategoryId = sctg.id 
	left join vw_promo_approval_his his WITH (NOLOCK) on pr.Id=his.PromoId
	left join vw_promo_attribute attr WITH (NOLOCK) on pr.Id=attr.PromoId
-- start 2020-04-15 EDJ
	left join tbset_user appr1 WITH (NOLOCK) on appr1.Id=his.UserApprover1
	left join tbset_user appr2 WITH (NOLOCK) on appr2.Id=his.UserApprover2
	left join tbset_user appr3 WITH (NOLOCK) on appr3.Id=his.UserApprover3
	left join tbset_user appr4 WITH (NOLOCK) on appr4.Id=his.UserApprover4
	left join tbset_user appr5 WITH (NOLOCK) on appr5.Id=his.UserApprover5
	left join vw_promo_sendback_notes_last note on pr.id=note.ParentId --and pr.Approver=note.UserApprover
	/** start 2020-08-04 get prev from his **/
	LEFT JOIN
	(
		select a.* from tbhis_promo a WITH (NOLOCK)
		inner join
		(
		select max(parentid) as parentid, id from tbhis_promo tp WITH (NOLOCK)
		where StatusApprovalCode = 'TP1' and id=@Id
		group by id
		) b on a.parentid=b.parentid
	) PREV ON pr.id=PREV.id
	/** end 2020-08-04 get prev from his **/
	left join tbtrx_promo_cancel_request cr WITH (NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
	left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
	WHERE ISNULL(ALLOC.IsDelete,0)=0
		AND pr.Id IN (SELECT PromoId FROM @ALO)
		/*****************
		REGION
		*****************/
		/***start custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as RegionPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_region]  AS MR
		LEFT JOIN  [dbo].[tbtrx_allocation_region] AS R  ON MR.Id=R.RegionId
		LEFT JOIN (select * from tbtrx_promo_region WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.RegionId=pr.RegionId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/
		/*****************/

		/*****************
		CHANNEL
		*****************/
		/***start custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as ChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_channel]  AS MR
		LEFT JOIN  [dbo].[tbtrx_allocation_channel] AS R  ON MR.Id=R.ChannelId
		LEFT JOIN (select * from tbtrx_promo_channel WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ChannelId=pr.ChannelId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/

		/*****************/

		/*****************
		SUB CHANNEL
		*****************/
		/***start custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as SubChannelPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_subchannel]  AS MR
		LEFT JOIN  [dbo].[tbtrx_allocation_subchannel] AS R  ON MR.Id=R.SubChannelId
		LEFT JOIN (select * from tbtrx_promo_subchannel WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubChannelId=pr.SubChannelId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/
		/*****************/
		/*****************
		ACCOUNT
		*****************/
		/***start custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as AccountPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_account]  AS MR
		LEFT JOIN  [dbo].[tbtrx_allocation_account] AS R  ON MR.Id=R.AccountId
		INNER JOIN (select * from tbtrx_promo_account WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.AccountId=pr.AccountId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/
		/*****************/
		/*****************
		SUB ACCOUNT
		*****************/
		/***start custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as SubAccountPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_subaccount]  AS MR
		inner join tbtrx_promo_account AS prsa ON MR.AccountId=prsa.AccountId and prsa.promoid IN (SELECT PromoId FROM @ALO)
		LEFT JOIN  [dbo].[tbtrx_allocation_subaccount] AS R  ON MR.Id=R.SubAccountId
		LEFT JOIN (select * from tbtrx_promo_subaccount WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.SubAccountId=pr.SubAccountId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_brand]  AS MR
		LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R  ON MR.Id=R.BrandId
		LEFT JOIN (select * from tbtrx_promo_brand WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.BrandId=pr.BrandId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO)
		/***end custom by jummy **/
		/***start custom by jummy **/
		SELECT
		CASE WHEN pr.PromoId is null THEN 0 ELSE 1 END as flag,
		pr.PromoId as ProductPromoId, MR.Id as id, MR.LongDesc as longDesc
		FROM [dbo].[tbmst_product]  AS MR
		LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R  ON MR.Id=R.ProductId
		LEFT JOIN (select * from tbtrx_promo_product WITH (NOLOCK) where promoid IN (SELECT PromoId FROM @ALO)) pr ON R.ProductId=pr.ProductId
		where R.AllocationId IN (SELECT AllocationId FROM @ALO) and R.BrandId IN (SELECT BrandId FROM [dbo].[tbtrx_promo_brand] WHERE promoid IN (SELECT PromoId FROM @ALO))
		ORDER BY MR.SeqNo
		/***end custom by jummy **/

		/*****************/


		/*****************
		ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS ActivityAllocId
		,ctg.ActivityId AS id
		,ctg.ActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)

		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.ActivityId is not null
		/*****************/

		/*****************
		SUB ACTIVITY
		*****************/
		SELECT
		a.AllocationId AS SubActivityAllocId
		,ctg.SubActivityId AS id
		,ctg.SubActivityDesc AS longDesc
		FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)
		INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
		and iif(a.ActivityId=0,a.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,ctg.SubCategoryId,ctg.ActivityId)
		WHERE a.AllocationId IN (SELECT AllocationId FROM @ALO) AND ctg.SubActivityId is not null

		/*****************
		File attach
		*****************/
		SELECT PromoId, [FileName], DocLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId IN (SELECT PromoId FROM @ALO) order by DocLink


		/***************
		MASTER STATUS APPROVAL
		***************/
		SELECT StatusCode,StatusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq


		SELECT TotInvest Investment
		,NormalSales
		,IncrSales
		,TotSales
		,Roi
		,CostRatio
		from tbtrx_promo_request_approval_recon WITH (NOLOCK)
		where ParentId IN (SELECT PromoId FROM @ALO)
		ORDER BY Id DESC OFFSET 1 ROW FETCH NEXT 1 ROW ONLY

--		exec ip_skp_creation @Id
END
GO
