

/****** Object:  StoredProcedure [dbo].[ip_kpi_scorboard_detail]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_kpi_scorboard_detail] -- '2020-01-01', '2020-12-31','0',1,'2020-05-31'
--declare
@create_from date
,@create_to date
,@userid varchar(50)
,@period_monitoring bit
,@date_monitoring date

--set @create_from ='2020-01-01'
--set @create_to ='2020-12-31'
--set @userid ='0'
--set @period_monitoring =1
--set @date_monitoring ='2020-05-31'

AS
BEGIN

SELECT distinct year(tpp.StartPromo) as Period, kpi.PromoPlanID, kpi.PromoPlanRefID, kpi.TSCode, kpi.EntityId, kpi.PrincipalShortDesc as Entity, 
	kpi.DistributorId, kpi.DistributorShortDesc as Distributor, kpi.SubCategoryId, kpi.SubCategory,
	kpi.ActivityId, kpi.Activity, kpi.SubActivityId, kpi.SubActivity, kpi.ActivityDesc, 
	kpi.RegionDesc, kpi.ChannelDesc, kpi.SubChannelDesc, kpi.AccountDesc, kpi.SubAccountDesc, kpi.BrandDesc, kpi.SKUDesc,
	kpi.Mechanisme1, kpi.Mechanisme2, kpi.Mechanisme3, kpi.Mechanisme4, kpi.StartPlanning, kpi.EndPlanning, 
	kpi.BaselineSales as NormalSales, kpi.UpliftSales as SalesInc, kpi.Investment, tpp.Roi, tpp.CostRatio, 
	kpi.Creator, kpi.CreationDate, tpp.LastStatus, kpi.PromoRefId, tpp.CancelNotes, '' as PIC, tp.LastStatus as StatusPromo,
	month(kpi.PeriodStart) as PeriodStart, month(kpi.PeriodEnd) as PeriodEnd, tp.Investment as InvestmentCreation, tp.CreateOn as PromoCreation,
	0 as PromoPlanCreation, tp.StartPromo, tp.EndPromo, tp.ActivityDesc as PromoActivityDesc,
	iif(@period_monitoring=1 and kpi.StartPlanning<@date_monitoring, '', kpi.PromoPlanSubmittedBfrQuarterStart90) as PromoPlanSubmittedBfrQuarterStart90,
	kpi.PeriodOfStart, kpi.PeriodOfEnd, '' as [check],
	kpi.OptimaPeriodMatch, kpi.OptimaMechanismMatch, kpi.OptimaDescMatch, kpi.OptimaDescAndMechanismMatch,
	kpi.OptimaAmountMatch, kpi.OptimaCreationBrfActivityStart60 
	FROM tbtemp_kpi_scoring kpi
	INNER JOIN tbtrx_promo_planning tpp ON kpi.PromoPlanID = tpp.id
	LEFT JOIN tbtrx_promo tp ON kpi.PromoId = tp.id
	WHERE
		((CONVERT(varchar(8),@create_to,112) >= CONVERT(varchar(8),StartPlanning,112) AND  CONVERT(varchar(8),@create_to,112) <= CONVERT(varchar(8),EndPlanning,112))
		OR
		(CONVERT(varchar(8),EndPlanning,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),EndPlanning,112) <= CONVERT(varchar(8),@create_to,112)))
		AND IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0','', @userid) 
END
GO
