

/****** Object:  StoredProcedure [dbo].[ip_tools_promo_approval_reminder]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_tools_promo_approval_reminder]
@yperiod int, @mperiod1 int, @mperiod2 int
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--declare @yperiod int
--declare @mperiod1 int
--declare @mperiod2 int
--set @yperiod=2023
--set @mperiod1=7
--set @mperiod2=8

BEGIN 
	BEGIN TRANSACTION;
	/*SIMULATE UNIQUE ID FOR MULTI USER REQUEST
	*IF IMPLEMENTED, "tbhlp_tools_promo_approval_reminder" PHYSICAL TABLE MUST EXIST PERMANENTLY
	*AND "DROP TABLE" QUERY CODE MUST CHANGED INTO "DELETE" QUERY CODE ***************************************************/
	DECLARE @ReqID bigint
	set @ReqID=(select DATEDIFF_BIG( microsecond, '00010101', GETDATE() ) * 10 + (DATEPART( NANOSECOND, GETDATE() ) % 1000) / 100)
    DECLARE
        @ID UNIQUEIDENTIFIER;

        SET @ID = NEWID();
	

	truncate table tbhlp_tools_promo_approval_reminder
--	drop table if exists tbhlp_tools_promo_approval_reminder
	drop table if exists #temp_collist
	
	/*EXTRACT*PERIOD1*PERIOD2***************************************************/
    DECLARE @DCSubAccountId int, @DCChannelId int;
    DECLARE @DCSubAccountDesc varchar(100), @DCChannelDesc varchar(100), @DCChannelHead varchar(100);
    SELECT @DCSubAccountId = id, @DCSubAccountDesc = longdesc FROM tbmst_subaccount WHERE LongDesc='ALL SUB ACCOUNT';
	SELECT @DCChannelId = id, @DCChannelDesc = longdesc FROM tbmst_channel WHERE LongDesc = 'ALL CHANNEL';
    SET @DCChannelHead = (SELECT u.username FROM tbset_map_channel_head h WITH(NOLOCK)
				LEFT JOIN tbset_user_login u WITH(NOLOCK) on h.userid = u.id
                WHERE h.channelid = @DCChannelId);


	DECLARE @peri1a varchar(10), @peri2a varchar(10)
	DECLARE @peri1b varchar(10), @peri2b varchar(10)
	set @peri1a=(concat(@yperiod,'-',@mperiod1,'-','01'))
	set @peri1b=(iif (@mperiod1<>12,concat(@yperiod,'-',@mperiod1+1,'-','01'),concat(@yperiod+1,'-','01-01')))
	IF @mperiod1=12 AND @mperiod2=1
	BEGIN
		set @peri2a=(concat(@yperiod+1,'-',@mperiod2,'-','01'))
		set @peri2b=(concat(@yperiod+1,'-',@mperiod2+1,'-','01'))
	END
	ELSE
	BEGIN
		set @peri2a=(concat(@yperiod,'-',@mperiod2,'-','01'))
		set @peri2b=(iif (@mperiod2<>12,concat(@yperiod,'-',@mperiod2+1,'-','01'),concat(@yperiod+1,'-','01-01')))
	END

	/*run SP ip_tools_promo_approval_reminder_promo_list_reporting untuk mendapatkan promo dari listing promo reporting */
	EXEC ip_tools_promo_approval_reminder_promo_list_reporting @yperiod, 0, 0, 0, 0, 'admin', @peri1a, @peri1b, @peri2a, @peri2b, @ID
	
	insert into mytmp (f1, f2, f3, f4) values(@peri1a, @peri1b, @peri2a, @peri2b)
	/*DETAIL*****************************************************/
	INSERT INTO tbhlp_tools_promo_approval_reminder 
	select @ReqID reqid, * from 
	(
			select channelhead, channel, subacc, kamfcmcem, status2, sb_group
			, sum(W11)W11, 		SUM(Inv11)Inv11, 	sum(W12)W12, 	SUM(Inv12)Inv12 , 	sum(W11)+sum(W12)W1tot, 		SUM(Inv11)+SUM(Inv12)Inv1tot 
			, sum(W21)W21, 		SUM(Inv21)Inv21, 	sum(W22)W22, 	SUM(Inv22)Inv22 , 	sum(W21)+sum(W22)W2tot, 		SUM(Inv21)+SUM(Inv22)Inv2tot 
			, SUM(wtot)wtot, sum(invtot)invtot
			, CONCAT(channel,'0') urut, 0 urut1
			from 
			(
				select 
					isnull(u.username, '') channelhead, isnull(e.longdesc, '') channel, g.longdesc subacc,
					iif(c.status='TP3', a.createdName, c.userapprovername) kamfcmcem,
					iif(c.status='TP3', 'Sendback', 'Waiting for Approval') status2,
					case c.Status when 'TP3' then
						case when c.Notes like '%SKP%' then 'SKP'
							when c.Notes like '%Period%' then 'Promo Period'
							when c.Notes like '%Period Promo%' then 'Promo Period'
							when c.Notes like '%Mechanism%' then 'Promo Mechanism'
							when c.Notes like '%Mekanisme%' then 'Promo Mechanism'
							when c.Notes like '%SKU%' then 'SKU'
							when c.Notes like '%Activity%' then 'Activity'
							when c.Notes like '%Sub Activity%' then 'Activity'
							else 'Others' end
					else ug.usergroupname end sb_group
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)<16,1,0),0)				W11
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)<16,a.investment,0),0)	Inv11
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)>15,1,0),0)				W12
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)>15,a.investment,0),0)	Inv12

					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)<16,1,0),0),0)				W21
					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)<16,a.investment,0),0),0)	Inv21
					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)>15,1,0),0),0)				W22
					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)>15,a.investment,0),0),0)	Inv22

					, 1 wtot, a.Investment invtot
				from tbtrx_promo a WITH(NOLOCK)
				inner join tbset_user tu WITH(NOLOCK) on a.createby = tu.id
				inner join tbtrx_promo_request_approval b WITH(NOLOCK) on a.Id=b.ParentId and ISNULL(b.iscancel,0)=0
				inner join tbtrx_promo_approval c WITH(NOLOCK) on b.Id=c.RequestId
				inner  join tbset_user tu2 WITH(NOLOCK) on c.userapprover = tu2.id
				inner join tbset_usergroup ug WITH(NOLOCK) on tu2.usergroupid=ug.usergroupid
				inner join tbtrx_promo_channel d WITH(NOLOCK) on a.id=d.PromoId
				inner join tbmst_channel e WITH(NOLOCK) on d.ChannelId=e.Id
				inner join tbtrx_promo_subaccount f WITH(NOLOCK) on a.id=f.PromoId
				inner join tbmst_subaccount g WITH(NOLOCK) on f.SubAccountId=g.Id
				LEFT JOIN tbset_map_channel_head h WITH(NOLOCK) on e.Id=h.channelid
				LEFT JOIN tbset_user_login u WITH(NOLOCK) on h.userid = u.id
				where ((a.startpromo >= @peri1a and a.StartPromo < @peri1b)
				OR (a.startpromo >= @peri2a and a.StartPromo < @peri2b))
					and a.StatusApprovalCode<>'TP2' and isnull(a.iscancel,0)=0 and isnull(a.IsClose,0)=0 and c.isongoing=1
                AND a.CategoryShortDesc<>'DC'
			)tmpdetail 
			--group by channel, kamfcmcem, status2, sb_group
			group by channelhead, channel, subacc, kamfcmcem, status2, sb_group 
	)tmp1

	INSERT INTO tbhlp_tools_promo_approval_reminder 
	select @ReqID reqid, * from 
	(
			select channelhead, channel, subacc, kamfcmcem, status2, sb_group
			, sum(W11)W11, 		SUM(Inv11)Inv11, 	sum(W12)W12, 	SUM(Inv12)Inv12 , 	sum(W11)+sum(W12)W1tot, 		SUM(Inv11)+SUM(Inv12)Inv1tot 
			, sum(W21)W21, 		SUM(Inv21)Inv21, 	sum(W22)W22, 	SUM(Inv22)Inv22 , 	sum(W21)+sum(W22)W2tot, 		SUM(Inv21)+SUM(Inv22)Inv2tot 
			, SUM(wtot)wtot, sum(invtot)invtot
			, CONCAT(channel,'0') urut, 0 urut1
			from 
			(
				select 
					isnull(@DCChannelHead, '') channelhead, isnull(@DCChannelDesc, '') channel, isnull(@DCSubAccountDesc, '') subacc,
					iif(c.status='TP3', a.createdName, c.userapprovername) kamfcmcem,
					iif(c.status='TP3', 'Sendback', 'Waiting for Approval') status2,
					case c.Status when 'TP3' then
						case when c.Notes like '%SKP%' then 'SKP'
							when c.Notes like '%Period%' then 'Promo Period'
							when c.Notes like '%Period Promo%' then 'Promo Period'
							when c.Notes like '%Mechanism%' then 'Promo Mechanism'
							when c.Notes like '%Mekanisme%' then 'Promo Mechanism'
							when c.Notes like '%SKU%' then 'SKU'
							when c.Notes like '%Activity%' then 'Activity'
							when c.Notes like '%Sub Activity%' then 'Activity'
							else 'Others' end
					else ug.usergroupname end sb_group
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)<16,1,0),0)				W11
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)<16,a.investment,0),0)	Inv11
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)>15,1,0),0)				W12
					, IIF(month(a.startpromo)=@mperiod1, IIF(day(a.startpromo)>15,a.investment,0),0)	Inv12

					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)<16,1,0),0),0)				W21
					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)<16,a.investment,0),0),0)	Inv21
					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)>15,1,0),0),0)				W22
					, IIF(@mperiod1<>@mperiod2, IIF(month(a.startpromo)=@mperiod2, IIF(day(a.startpromo)>15,a.investment,0),0),0)	Inv22

					, 1 wtot, a.Investment invtot
				from tbtrx_promo a WITH(NOLOCK)
				inner join tbset_user tu WITH(NOLOCK) on a.createby = tu.id
				inner join tbtrx_promo_request_approval b WITH(NOLOCK) on a.Id=b.ParentId and ISNULL(b.iscancel,0)=0
				inner join tbtrx_promo_approval c WITH(NOLOCK) on b.Id=c.RequestId
				inner  join tbset_user tu2 WITH(NOLOCK) on c.userapprover = tu2.id
				inner join tbset_usergroup ug WITH(NOLOCK) on tu2.usergroupid=ug.usergroupid
				where ((a.startpromo >= @peri1a and a.StartPromo < @peri1b)
				OR (a.startpromo >= @peri2a and a.StartPromo < @peri2b))
					and a.StatusApprovalCode<>'TP2' and isnull(a.iscancel,0)=0 and isnull(a.IsClose,0)=0 and c.isongoing=1
                AND a.CategoryShortDesc='DC'
			)tmpdetail 
			--group by channel, kamfcmcem, status2, sb_group
			group by channelhead, channel, subacc, kamfcmcem, status2, sb_group 
	)tmp1

	/*TOTAL BY CHANNEL*****************************************************/
	insert into tbhlp_tools_promo_approval_reminder (reqid, channelhead, channel, subacc, kamfcmcem, status2, sb_group
		, W11, Inv11, W12, Inv12, W1tot, Inv1tot
		, W21, Inv21, W22, Inv22, W2tot, Inv2tot
		, wtot, invtot, urut, urut1)
		select 
			reqid, channelhead, concat(channel,' Total'), '', '', '', ''
			, sum(W11)W11, 		SUM(Inv11)Inv11, 	sum(W12)W12, 	SUM(Inv12)Inv12 , 	sum(W11)+sum(W12)W1tot, 		SUM(Inv11)+SUM(Inv12)Inv1tot 
			, sum(W21)W21, 		SUM(Inv21)Inv21, 	sum(W22)W22, 	SUM(Inv22)Inv22 , 	sum(W21)+sum(W22)W2tot, 		SUM(Inv21)+SUM(Inv22)Inv2tot 
			, SUM(wtot)wtot, SUM(invtot)invtot
			, CONCAT(channel,'1') urut, 0 urut1
		from tbhlp_tools_promo_approval_reminder
		where reqid=@ReqID 
		group by reqid, channelhead, channel

	/*GRAND TOTAL*****************************************************/
	insert into tbhlp_tools_promo_approval_reminder (reqid, channelhead, channel, subacc, kamfcmcem, status2, sb_group
		, W11, Inv11, W12, Inv12, W1tot, Inv1tot
		, W21, Inv21, W22, Inv22, W2tot, Inv2tot
		, wtot, invtot, urut, urut1)
		Select reqid, 
			'Grand Total', '', '', '', '', ''
			, sum(W11)W11, 		SUM(Inv11)Inv11, 	sum(W12)W12, 	SUM(Inv12)Inv12 , 	sum(W11)+sum(W12)W1tot, 		SUM(Inv11)+SUM(Inv12)Inv1tot 
			, sum(W21)W21, 		SUM(Inv21)Inv21, 	sum(W22)W22, 	SUM(Inv22)Inv22 , 	sum(W21)+sum(W22)W2tot, 		SUM(Inv21)+SUM(Inv22)Inv2tot 
			, SUM(wtot)wtot, SUM(invtot)invtot, 99, 99
		from tbhlp_tools_promo_approval_reminder
		where ISNULL(subacc,'')<>'' and reqid=@ReqID 
		group by reqid

	/*RESULT WITH COLUMNS SELECTION MANIPULATION BASED ON SELECTED PERIOD*****************************************************/
	DECLARE @sqlCommand nvarchar(MAX)
	DECLARE @columnList Nvarchar(1000)

	select 12 id, ', W121, Inv121, W122, Inv122, W12tot, Inv12tot ' collist into #temp_collist
	DELETE FROM #temp_collist
	insert into #temp_collist (id, collist) values
		(1, ', W11, Inv11, W12, Inv12, W1tot, Inv1tot'),
		(2, ', W21, Inv21, W22, Inv22, W2tot, Inv2tot')

	SET @columnList = (select STRING_AGG(collist,'') from #temp_collist)
	
	SET @sqlCommand = 'SELECT channelhead, channel, subacc, kamfcmcem, status2, sb_group ' 
		+ @columnList 
		+ ', wtot, invtot, urut, urut1 FROM tbhlp_tools_promo_approval_reminder WHERE reqid=@ReqID  order by urut1, channel,urut'

	EXECUTE sp_executesql @sqlCommand, N'@reqid bigint', @ReqID = @ReqID

	/*RESULT WITHOUT COLUMNS SELECTION MANIPULATION BASED ON SELECTED PERIOD*****************************************************/
	--select * from tbhlp_tools_promo_approval_reminder where reqid=@ReqID  order by urut1, channel,urut
	
	/*Mecari selisih dengan listing promo reporting*/
	DECLARE @wtot numeric(19), @invtot numeric(19)
	DECLARE @promoTot numeric(19), @investmentTot numeric(19)
	SELECT @wtot = wtot, @invtot = invtot
		FROM tbhlp_tools_promo_approval_reminder WHERE channelhead = 'Grand Total'

--	SELECT @promoTot = count(PromoNumber), @investmentTot = sum(investment) FROM tbhlp_tools_promo_approval_reminder_listing
	SELECT count(PromoNumber) - @wtot promoCount, sum(investment) - @invtot promoInvestment FROM tbhlp_tools_promo_approval_reminder_listing
	
	SELECT * FROM tbhlp_tools_promo_approval_reminder_listing
	
--	drop table if exists tbhlp_tools_promo_approval_reminder
	drop table if exists #temp_collist
	COMMIT TRANSACTION;
END
GO
