

/****** Object:  StoredProcedure [dbo].[ip_log_upload_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_log_upload_get]
@activity varchar(50)
AS
BEGIN
	SELECT
		LogDate,
		Activity,
		[FileName],
		[ProfileId],
		[Email],
		[LogStatus]
	FROM [dbo].[tblog_upload]
	WHERE Activity = @activity
	
END
GO
