USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dashboard_promo_submission]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dashboard_promo_submission] --'2020-11-01','YTD'
--DECLARE
@periode datetime,
@viewmode varchar(3)

--SET @periode='2020-11-01'
--SET @viewmode='YTD'

as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin

declare 
@startdate date
,@enddate date
,@year varchar(4)

SET @year=year(@periode)



if @viewmode='YTD'
	begin		
			set @startdate=(SELECT DATEFROMPARTS(@year, 1, 1))

			if year(@utcDate123)=@year
			begin
				set @enddate=@utcDate123
			end
			else
			begin
				set @enddate=(SELECT DATEFROMPARTS(@year, 12, 31))
			end
	end
	else
	begin

			set @startdate=(SELECT @periode-DAY(@periode)+1)
			set @enddate=EOMONTH(@periode)


	end



SELECT 
case when COUNT(Id)=0 then 0
else
isnull(SUM(IIF(Submission >= 30,1,0)),0) * 100 / (COUNT(Id))
end ontime_promo
,isnull(SUM(IIF(Submission >= 30,1,0)),0) submission
,COUNT(Id) total
,@startdate startdate
,@enddate enddate
FROM
(
	SELECT 
	CreateBy [Initiator]
	,Id
	,convert(varchar(10),StartPromo,120) StartPromo
	,convert(varchar(10),EndPromo,120) EndPromo
	,convert(varchar(10),CreateOn,120) PromoCreationDate
	,StatusApprovalCode
	,datediff(day,CreateOn,StartPromo) Submission
	from tbtrx_promo a	
	where
--	AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
	NOT (convert(varchar(10),StartPromo,120) > @enddate or convert(varchar(10),EndPromo,120) < @startdate) 
	AND isnull(isCancel,0)=0
	--PromoId is not null and 
--	NOT (convert(varchar(10),StartPromo,120) > @enddate OR  convert(varchar(10),EndPromo,120) < @startdate)	
) KPI

	
end






GO
