

/****** Object:  StoredProcedure [dbo].[ip_mst_map_subaccount_sap_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_map_subaccount_sap_del]
	@Id        int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn datetime
AS
BEGIN
	INSERT INTO tbhis_map_subaccount_sap
	(
	    Id,
	    subaccountid,
        sapcode,
        CreateOn,
        CreateBy,
        IsDelete,
        DeleteOn,
        DeleteBy,
        CreatedEmail,
        DeleteEmail
	)
	SELECT
	    Id,
	    subaccountid,
        sapcode,
        CreateOn,
        CreateBy,
        1 IsDelete,
        @DeleteOn,
        @UserId,
        CreatedEmail,
        @UserLogin
	FROM
		tbset_map_subaccount_sap
	WHERE Id = @Id

	DELETE tbset_map_subaccount_sap WHERE Id = @Id
END
GO
