USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_budget_brand]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_budget_brand]
@Brand ImportBrandType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN



/***********
DELETE DETAIL CHANNEL
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_brand ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_product ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_brand ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Derivative=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_product ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Brand temp on temp.Derivative=al.LongDesc




/*****************
END DELETE DETAIL CHANNEL
*****************/

/**************************
INSERT CHANNEL
***************************/

INSERT INTO tbtrx_allocation_brand(AllocationId,BrandId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,BrandId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,BrandId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.BrandId
--,acc.SubBrandId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Derivative, Brand
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]

   FROM @Brand) p  
UNPIVOT  
   (Brand FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
	  )  
)AS unpvt
)x 
INNER JOIN vw_product acc on acc.BrandDesc=Brand
INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

group by 

Id
,BrandId
--,SubBrandId
--,AccountId
--,SubAccountId 
) XXX


UNION ALL

SELECT 
Id
,BrandId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
Id
,acc.BrandId
--,acc.SubBrandId
--,acc.AccountId
--,acc.SubAccountId 

FROM
(
SELECT Allocation, Brand
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
   FROM @Brand) p  
UNPIVOT  
   (Brand FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
	  )  
)AS unpvt
)x 
INNER JOIN vw_product acc on acc.BrandDesc=Brand
INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
group by 
Id
,BrandId
--,SubBrandId
--,AccountId
--,SubAccountId 
) XXX
)XXXX


/********************
END INSERT CHANNEL
********************/

/******************
INSERT SUB CHANNEL
*******************/
INSERT INTO tbtrx_allocation_product(AllocationId,BrandId,ProductId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id,BrandId,ProductId,IsActive,CreateOn,CreateBy
FROM
		(
		SELECT Id,BrandId,ProductId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
					SELECT
					Id,acc.BrandId,acc.ProductId
					--,acc.AccountId
					--,acc.SubAccountId 

					FROM
					(
							SELECT Derivative, Accounts
							FROM   
							  (SELECT Derivative, 
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
							   FROM @Brand) p  
							UNPIVOT  
							   (Accounts FOR Attribute IN   
								  (
									[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
									[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
								  )  
							)AS unpvt
					)x 
					INNER JOIN vw_product acc on acc.BrandDesc=Accounts
					INNER JOIN tbtrx_allocation on LongDesc=x.Derivative

					group by 

					Id
					,BrandId
					,ProductId
					--,AccountId
					--,SubAccountId 
		) XXX


		UNION ALL

		SELECT 
		Id,BrandId,ProductId,1 IsActive,@utcDate123 CreateOn,@userid CreateBy
		FROM
		(
				SELECT
				Id
				,acc.BrandId
				,acc.ProductId
				--,acc.AccountId
				--,acc.SubAccountId 

				FROM
				(
						SELECT Allocation, Accounts
						FROM   
						  (SELECT Allocation, 
							[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
							[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
						   FROM @Brand) p  
						UNPIVOT  
						   (Accounts FOR Attribute IN   
							  (
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30]
							  )  
						)AS unpvt
				)x 
				INNER JOIN vw_product acc on acc.BrandDesc=Accounts
				INNER JOIN tbtrx_allocation on LongDesc=x.Allocation
				group by 
				Id
				,BrandId
				,ProductId
				--,AccountId
				--,SubAccountId 
		) XXX
)XXXX



END
GO
