USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_xml_generate_payment_batch]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_xml_generate_payment_batch]
@entity int
, @batching int
,@distributor AttributeType READONLY
AS

--declare @entity int
--, @batching int
--set @entity=2
--set @batching =0

BEGIN
	DECLARE @Temp TABLE
	(
		DistributorId int,
		EntityId int,
		EntityDesc varchar(50),
		InvoiceId int,
		InvoiceNo varchar(50),
		CreateOn Datetime,
		ActivityDesc varchar(255),
		DPPAmount numeric(19,2),
		PriceConditionForPayment varchar(10),
		SAPCode varchar(20),
		TaxLevel varchar(100),
		promoNumber varchar(50),
		FPNumber varchar(50),
		FPDate datetime
	    ,DistributorDesc varchar(255)
	    ,BatchName varchar(max)
		,BudgetBucket varchar(255)
        ,DNNumber varchar(50)
	    ,DNDesc varchar(255)
		,DNAmount numeric(18,2)
		,FeeAmount numeric(18,2)
		,FeePct numeric(18,2)
		,PPNAmt numeric(18,2)
		,PPNPct numeric(18,2)
		,PPHAmt numeric(18,2)
		,PPHPct numeric(18,2)
		,TotalToPay numeric(18,2)
	    ,OriginalId varchar(50)
	    ,DNDescription varchar(255)
	);

	DECLARE @TempPayment TABLE
	(
		DistributorId int,
		EntityId int,
		EntityDesc varchar(50),
		InvoiceId int,
		InvoiceNo varchar(50),
		CreateOn Datetime,
		ActivityDesc varchar(255),
		DPPAmount numeric(19,2),
		PriceConditionForPayment varchar(10),
		SAPCode varchar(20),
		TaxLevel varchar(100),
		promoNumber varchar(50),
		FPNumber varchar(50),
		FPDate datetime
	    ,DistributorDesc varchar(255)
	    ,BatchName varchar(max)
		,BudgetBucket varchar(255)
        ,DNNumber varchar(50)
	    ,DNDesc varchar(255)
		,DNAmount numeric(18,2)
		,FeeAmount numeric(18,2)
		,FeePct numeric(18,2)
		,PPNAmt numeric(18,2)
		,PPNPct numeric(18,2)
		,PPHAmt numeric(18,2)
		,PPHPct numeric(18,2)
		,TotalToPay numeric(18,2)
	    ,OriginalId varchar(50)
	    ,DNDescription varchar(255)
	);

DECLARE @dist_list UserType, @dist_init int

SET @dist_init=(SELECT id FROM @distributor WHERE id=0);
IF(@dist_init=0)
BEGIN
	INSERT INTO @dist_list (id)
		SELECT id FROM tbmst_distributor WHERE isnull(isdeleted, 0) = 0;
END
ELSE
BEGIN
	INSERT INTO @dist_list (id)
		SELECT id FROM @distributor WHERE id NOT IN (0)
END

/*
 * INSERT DATA Distributor TRS (invoice more than 1 DN)
 */
    if @batching = 1
    begin
        INSERT INTO @Temp
        SELECT tih.DistributorId, tih.EntityId, mp.ShortDesc EntityDesc, tih.id as InvoiceId, tih.refid as InvoiceNo, tih.CreateOn, tih.[Desc] as ActivityDesc,
            tih.DPPAmount, tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex,'') as SAPCode, tih.TaxLevel
            ,tp.RefId, td.FPNumber, td.FPDate
            ,tmd.LongDesc DistributorDesc
-- 	        ,CONCAT('BATCH ', td.refid, ' ', tc.LongDesc,' ', ta.Periode) BatchName
--            ,CONCAT('BATCH ', right(tih.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
            ,batchname.BatchName
	        ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
            ,td.RefId DNNumber
	        ,td.ActivityDesc DNDesc
        	,tid.DNAmount
            ,tid.FeeAmount
            ,tid.FeePct
            ,isnull(tih.DPPAmount, 0) * isnull(tih.PPN,0)/100  PPNAmt
            ,tih.PPN PPNPct
            , 0 PPHAmt
            , 0 PPHPct
            , tih.InvoiceAmount TotalToPay
            , tih.refid OriginalId
            , '' DNDescription
--             ,tid.PPNAmt
--             ,tid.PPNPct
--             ,tid.PPHAmt
--             ,tid.PPHPct
--             ,tid.TotalToPay
            FROM tbtrx_debetnote td with (nolock)
--            INNER JOIN tbmst_subchannel ts with (nolock) ON td.SubChannelId=ts.id
--            INNER JOIN tbmst_channel tc with (nolock) ON ts.ChannelId = tc.id
            INNER JOIN
            (
                SELECT ParentId, max(DNId) DNId
                    ,sum(isnull(td.DNAmount,0)) DNAmount
                    ,sum(isnull(td.FeeAmount, 0)) FeeAmount
                ,sum(isnull(td.FeeAmount, 0)) / sum(isnull(td.DNAmount,0)) * 100 FeePct
                    ,sum(isnull(td.PPNAmt, 0)) PPNAmt
                    ,sum(isnull(td.PPNAmt, 0)) / (sum(isnull(td.DNAmount,0)) + sum(isnull(td.FeeAmount, 0))) * 100 PPNPct
                    ,sum(isnull(td.PPHAmt, 0)) PPHAmt
                    , 0 PPHPct
--                     ,sum(isnull(td.PPHPct, 0)) PPHPct
                    ,sum(isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0)) TotalToPay
                    FROM tbtrx_invoice_detail tid with (nolock)
                    INNER JOIN tbtrx_debetnote td with (nolock) on tid.DNId=td.id
                    WHERE isnull(tid.IsCancel, 0) = 0
                    GROUP BY ParentId
                    HAVING count(DNId)>1
            ) tid on td.Id = tid.DNId
            INNER JOIN tbtrx_invoice_header tih with (nolock) on tid.ParentId = tih.Id
            INNER JOIN tbmst_principal mp with (nolock) ON tih.EntityId = mp.id
            LEFT JOIN tbtrx_promo tp with (nolock) on td.PromoId = tp.id
            LEFT JOIN tbtrx_allocation ta with (nolock) ON tp.AllocationId = ta.Id
            LEFT JOIN tbset_mapping_pricecondition tsmp with (nolock) on  tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
            INNER JOIN tbmst_distributor tmd with (nolock) on tih.DistributorId = tmd.Id
            INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
            LEFT JOIN
	        (
	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
	        	FROM tbtrx_invoice_header a with (nolock)
	        	INNER JOIN tbtrx_invoice_detail b with (nolock) ON a.Id = b.DNId 
	        	LEFT JOIN tbhis_xml_generate_batchname c with (nolock) ON b.DNId = c.DNId 
	        	WHERE isnull(b.IsCancel, 0) = 0
	        	GROUP BY a.id
	        ) batchname ON td.id=batchname.id
   		WHERE
                (
                    --(td.DistributorId = 2 and mp.id=2)
                    --or 	(td.DistributorId = 7 and mp.id=2)
                    --or 	(td.DistributorId = 7 and mp.id=4)
                    (td.DistributorId = 2)
                    or 	(td.DistributorId = 7)

                )
                and td.LastStatus = 'invoice'
                AND isnull(td.IsCancel, 0) = 0
                AND IIF(@entity=0,'',tih.EntityId) =IIF(@entity=0,'',@entity)

            /*
             * INSERT DATA Others Distributor
             */
            INSERT INTO @Temp
            SELECT
                td.DistributorId, td.PrincipalId as EntityId, mp.ShortDesc EntityDesc, td.id as InvoiceId
                , case
                        when SUBSTRING(td.refid,4,5)='Tempo' then
                            concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
                        when SUBSTRING(td.refid,4,3)='WCI' then
                            concat('WCI', SUBSTRING(td.refid,8,3), right(td.refid,8))
                        when SUBSTRING(td.refid,4,7)='Aladdin' then
                            concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
                        else
                            concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
                    end as InvoiceNo
                , td.CreateOn
                , iif(isnull(tp.RefId,'')='',tmp.refid, tp.refid)
                , iif(
                        ((td.taxlevel='10355228')
                         or (td.taxlevel='10355208')
                         or (td.taxlevel='10355223')
                         or (td.taxlevel='10355203'))
                         AND td.vatexpired=1
                        , (td.DNAmount+round((td.ppnpct*td.dnamount/100),0)), td.DNAmount)as DPPAmount
                , tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex, '') as SAPCode, td.TaxLevel
                ,tp.RefId, td.FPNumber, td.FPDate
                ,tmd.LongDesc DistributorDesc
--                ,CONCAT('BATCH ', right(tmp.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
                ,batchname.BatchName
                ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
                ,td.RefId DNNumber
	            ,td.ActivityDesc DNDesc
                ,isnull(td.DNAmount,0) DNAmount
                ,isnull(td.FeeAmount, 0) FeeAmount
                ,isnull(td.FeePct, 0) FeePct
                ,isnull(td.PPNAmt, 0) PPNAmt
                ,isnull(td.PPNPct, 0) PPNPct
                ,isnull(td.PPHAmt, 0) PPHAmt
                ,isnull(td.PPHPct, 0) PPHPct
                ,isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0) TotalToPay
                ,td.RefId as OriginalId
                ,td.ActivityDesc DNDescription
            FROM tbtrx_debetnote td with (nolock)
--            INNER JOIN tbmst_subchannel ts with (nolock) ON td.SubChannelId=ts.id
--        	INNER JOIN tbmst_channel tc with (nolock) ON ts.ChannelId = tc.id
            INNER JOIN
                (
                    SELECT a.id, c.RefId  FROM tbtrx_debetnote a with (nolock)
                        INNER JOIN tbtrx_invoice_detail b with (nolock) ON a.id=b.DNId
                        INNER JOIN tbtrx_invoice_header c with (nolock) ON b.ParentId = c.Id
                        WHERE c.refid NOT IN (SELECT InvoiceNo FROM @Temp)
                        AND isnull(b.IsCancel, 0)=0
                ) tmp ON td.id=tmp.id
            INNER JOIN tbmst_principal mp with (nolock) ON td.PrincipalId = mp.id
            LEFT JOIN tbtrx_promo tp with (nolock) on td.PromoId = tp.id
            LEFT JOIN tbtrx_allocation ta with (nolock) ON tp.AllocationId = ta.Id
            LEFT JOIN tbset_mapping_pricecondition tsmp with (nolock) on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
            INNER JOIN tbmst_distributor tmd with (nolock) on td.DistributorId = tmd.Id
            INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
            LEFT JOIN
	        (
	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
	        	FROM tbtrx_debetnote a  with (nolock)
	        	LEFT JOIN tbhis_xml_generate_batchname c with (nolock) ON a.Id = c.DNId 
	        	GROUP BY a.id
	        ) batchname ON td.id=batchname.id
            
        --	WHERE td.DistributorId <> 2 and td.LastStatus = 'validate_by_danone'
   --	WHERE td.DistributorId <> 2 and td.LastStatus = 'invoice'
            WHERE td.LastStatus = 'invoice'
            AND isnull(td.IsCancel, 0) = 0
            AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
            AND td.TaxLevel<>'00000000'
            
            /* INSERT DATA payment
             * 
             */
            INSERT INTO @TempPayment
            SELECT
                td.DistributorId, td.PrincipalId as EntityId, mp.ShortDesc EntityDesc, td.id as InvoiceId
                , case
                        when SUBSTRING(td.refid,4,5)='Tempo' then
                            concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
                        when SUBSTRING(td.refid,4,3)='WCI' then
                            concat('WCI', SUBSTRING(td.refid,8,3), right(td.refid,8))
                        when SUBSTRING(td.refid,4,7)='Aladdin' then
                            concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
                        else
                            concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
                    end as InvoiceNo
                , td.CreateOn
                , iif(isnull(tp.RefId,'')='',tmp.refid, tp.refid)
                , iif(
                        ((td.taxlevel='10355228')
                         or (td.taxlevel='10355208')
                         or (td.taxlevel='10355223')
                         or (td.taxlevel='10355203'))
                         AND td.vatexpired=1
                        , (td.DNAmount+round((td.ppnpct*td.dnamount/100),0)), td.DNAmount)as DPPAmount
                , tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex, '') as SAPCode, td.TaxLevel
                ,tp.RefId, td.FPNumber, td.FPDate
          ,tmd.LongDesc DistributorDesc
--                ,CONCAT('BATCH ', right(tmp.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
                ,batchname.BatchName
                ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
                ,td.RefId DNNumber
	            ,td.ActivityDesc DNDesc
                ,isnull(td.DNAmount,0) DNAmount
                ,isnull(td.FeeAmount, 0) FeeAmount
                ,isnull(td.FeePct, 0) FeePct
                ,isnull(td.PPNAmt, 0) PPNAmt
                ,isnull(td.PPNPct, 0) PPNPct
                ,isnull(td.PPHAmt, 0) PPHAmt
                ,isnull(td.PPHPct, 0) PPHPct
                ,isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0) TotalToPay
                ,td.RefId as OriginalId
                ,td.ActivityDesc DNDescription
            FROM tbtrx_debetnote td with (nolock)
--            INNER JOIN tbmst_subchannel ts with (nolock) ON td.SubChannelId=ts.id
--        	INNER JOIN tbmst_channel tc with (nolock) ON ts.ChannelId = tc.id
            INNER JOIN
                (
                    SELECT a.id, c.RefId  FROM tbtrx_debetnote a with (nolock)
                        INNER JOIN tbtrx_invoice_detail b with (nolock) ON a.id=b.DNId
                        INNER JOIN tbtrx_invoice_header c with (nolock) ON b.ParentId = c.Id
                        WHERE c.refid NOT IN (SELECT InvoiceNo FROM @Temp)
                        AND isnull(b.IsCancel, 0)=0
                ) tmp ON td.id=tmp.id
            INNER JOIN tbmst_principal mp with (nolock) ON td.PrincipalId = mp.id
            LEFT JOIN tbtrx_promo tp with (nolock) on td.PromoId = tp.id
            LEFT JOIN tbtrx_allocation ta with (nolock) ON tp.AllocationId = ta.Id
            LEFT JOIN tbset_mapping_pricecondition tsmp with (nolock) on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
            INNER JOIN tbmst_distributor tmd with (nolock) on td.DistributorId = tmd.Id
            INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
            LEFT JOIN
	        (
	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
	        	FROM tbtrx_debetnote a  with (nolock)
	        	LEFT JOIN tbhis_xml_generate_batchname c with (nolock) ON a.Id = c.DNId 
	        	GROUP BY a.id
	        ) batchname ON td.id=batchname.id
            
            WHERE td.LastStatus = 'invoice'
            AND isnull(td.IsCancel, 0) = 0
            AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
            AND td.TaxLevel<>'00000000'
            
    end
	else
    begin
            /*
             * INSERT DATA FOR XML
             */
        INSERT INTO @Temp
        SELECT
            td.DistributorId, td.PrincipalId as EntityId, mp.ShortDesc EntityDesc, td.id as InvoiceId
            , case
                    when SUBSTRING(td.refid,4,5)='Tempo' then
                        concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
                    when SUBSTRING(td.refid,4,3)='WCI' then
                        concat('WCI', SUBSTRING(td.refid,8,3), right(td.refid,8))
                    when SUBSTRING(td.refid,4,7)='Aladdin' then
                        concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
                    else
                        concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
                end as InvoiceNo
            , td.CreateOn
 , iif(isnull(tp.RefId,'')='',tmp.refid, tp.refid)
            , iif(
                    ((td.taxlevel='10355228')
                     or (td.taxlevel='10355208')
                     or (td.taxlevel='10355223')
                     or (td.taxlevel='10355203'))
                     AND td.vatexpired=1
                    , (td.DNAmount+round((td.ppnpct*td.dnamount/100),0)), td.DNAmount)as DPPAmount
            , tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex, '') as SAPCode, td.TaxLevel
            ,tp.RefId, td.FPNumber, td.FPDate
      ,tmd.LongDesc DistributorDesc
--            ,CONCAT('BATCH ', right(tmp.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
            ,batchname.BatchName
            ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
            ,td.RefId DNNumber
            ,td.ActivityDesc DNDesc
            ,isnull(td.DNAmount,0) DNAmount
            ,isnull(td.FeeAmount, 0) FeeAmount
            ,isnull(td.FeePct, 0) FeePct
            ,isnull(td.PPNAmt, 0) PPNAmt
            ,isnull(td.PPNPct, 0) PPNPct
            ,isnull(td.PPHAmt, 0) PPHAmt
            ,isnull(td.PPHPct, 0) PPHPct
            ,isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0) TotalToPay
            ,td.RefId as OriginalId
            ,td.ActivityDesc DNDescription
        FROM tbtrx_debetnote td with (nolock)
--        INNER JOIN tbmst_subchannel ts with (nolock) ON td.SubChannelId=ts.id
--        INNER JOIN tbmst_channel tc with (nolock) ON ts.ChannelId = tc.id
        INNER JOIN
            (
                SELECT a.id, c.RefId  FROM tbtrx_debetnote a with (nolock)
                    INNER JOIN tbtrx_invoice_detail b with (nolock) ON a.id=b.DNId
                    INNER JOIN tbtrx_invoice_header c with (nolock) ON b.ParentId = c.Id
                    WHERE isnull(b.IsCancel, 0)=0
--                     AND c.refid NOT IN (SELECT InvoiceNo FROM @Temp)
            ) tmp ON td.id=tmp.id
        INNER JOIN tbmst_principal mp with (nolock) ON td.PrincipalId = mp.id
        LEFT JOIN tbtrx_promo tp with (nolock) on td.PromoId = tp.id
        LEFT JOIN tbtrx_allocation ta with (nolock) ON tp.AllocationId = ta.Id
        LEFT JOIN tbset_mapping_pricecondition tsmp with (nolock) on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
        INNER JOIN tbmst_distributor tmd with (nolock) on td.DistributorId = tmd.Id
        INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
        LEFT JOIN
	        (
	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
	        	FROM tbtrx_debetnote a 
	        	LEFT JOIN tbhis_xml_generate_batchname c ON a.Id = c.DNId 
	        	GROUP BY a.id
	        ) batchname ON td.id=batchname.id

    --	WHERE td.DistributorId <> 2 and td.LastStatus = 'validate_by_danone'
    --	WHERE td.DistributorId <> 2 and td.LastStatus = 'invoice'
        WHERE td.LastStatus = 'invoice'
        AND isnull(td.IsCancel, 0) = 0
        AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
        AND td.TaxLevel<>'00000000'

            /* INSERT DATA payment
             * 
             */
            INSERT INTO @TempPayment
            SELECT
                td.DistributorId, td.PrincipalId as EntityId, mp.ShortDesc EntityDesc, td.id as InvoiceId
                , case
                        when SUBSTRING(td.refid,4,5)='Tempo' then
                            concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
                        when SUBSTRING(td.refid,4,3)='WCI' then
                            concat('WCI', SUBSTRING(td.refid,8,3), right(td.refid,8))
                        when SUBSTRING(td.refid,4,7)='Aladdin' then
                            concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
                        else
     concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
                    end as InvoiceNo
                , td.CreateOn
                , iif(isnull(tp.RefId,'')='',tmp.refid, tp.refid)
                , iif(
                        ((td.taxlevel='10355228')
                         or (td.taxlevel='10355208')
                         or (td.taxlevel='10355223')
                         or (td.taxlevel='10355203'))
                         AND td.vatexpired=1
                        , (td.DNAmount+round((td.ppnpct*td.dnamount/100),0)), td.DNAmount)as DPPAmount
                , tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex, '') as SAPCode, td.TaxLevel
         ,tp.RefId, td.FPNumber, td.FPDate
                ,tmd.LongDesc DistributorDesc
--                ,CONCAT('BATCH ', right(tmp.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
                ,batchname.BatchName
                ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
                ,td.RefId DNNumber
	            ,td.ActivityDesc DNDesc
                ,isnull(td.DNAmount,0) DNAmount
                ,isnull(td.FeeAmount, 0) FeeAmount
                ,isnull(td.FeePct, 0) FeePct
                ,isnull(td.PPNAmt, 0) PPNAmt
                ,isnull(td.PPNPct, 0) PPNPct
                ,isnull(td.PPHAmt, 0) PPHAmt
                ,isnull(td.PPHPct, 0) PPHPct
                ,isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0) TotalToPay
                ,td.RefId as OriginalId
                ,td.ActivityDesc DNDescription
            FROM tbtrx_debetnote td with (nolock)
--            INNER JOIN tbmst_subchannel ts with (nolock) ON td.SubChannelId=ts.id
--        	INNER JOIN tbmst_channel tc with (nolock) ON ts.ChannelId = tc.id
            INNER JOIN
                (
                    SELECT a.id, c.RefId  FROM tbtrx_debetnote a with (nolock)
                        INNER JOIN tbtrx_invoice_detail b with (nolock) ON a.id=b.DNId
                        INNER JOIN tbtrx_invoice_header c with (nolock) ON b.ParentId = c.Id
                        WHERE c.refid NOT IN (SELECT InvoiceNo FROM @Temp)
                        AND isnull(b.IsCancel, 0)=0
                ) tmp ON td.id=tmp.id
            INNER JOIN tbmst_principal mp with (nolock) ON td.PrincipalId = mp.id
            LEFT JOIN tbtrx_promo tp with (nolock) on td.PromoId = tp.id
            LEFT JOIN tbtrx_allocation ta with (nolock) ON tp.AllocationId = ta.Id
            LEFT JOIN tbset_mapping_pricecondition tsmp with (nolock) on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
            INNER JOIN tbmst_distributor tmd with (nolock) on td.DistributorId = tmd.Id
            INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
            LEFT JOIN
	        (
	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
	        	FROM tbtrx_debetnote a  with (nolock)
	        	LEFT JOIN tbhis_xml_generate_batchname c with (nolock) ON a.Id = c.DNId 
	        	GROUP BY a.id
	        ) batchname ON td.id=batchname.id
            
            WHERE td.LastStatus = 'invoice'
            AND isnull(td.IsCancel, 0) = 0
            AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
            AND td.TaxLevel<>'00000000'
        
       /* INSERT DATA DIST PAYMENT */
--        INSERT INTO @TempPayment
--        SELECT
--            td.DistributorId, td.PrincipalId as EntityId, mp.ShortDesc EntityDesc, td.id as InvoiceId
--            , case
--                    when SUBSTRING(td.refid,4,5)='Tempo' then
--                        concat('PTT', SUBSTRING(td.refid,10,3), right(td.refid,8))
--                    when SUBSTRING(td.refid,4,3)='WCI' then
--                        concat('WCI', SUBSTRING(td.refid,8,3), right(td.refid,8))
-- when SUBSTRING(td.refid,4,7)='Aladdin' then
--                        concat('ALD', SUBSTRING(td.refid,12,3), right(td.refid,8))
--                    else
--                        concat(SUBSTRING(td.refid,4,3), SUBSTRING(td.refid,8,3), right(td.refid,8))
--                end as InvoiceNo
--            , td.CreateOn
--            , iif(isnull(tp.RefId,'')='',tmp.refid, tp.refid)
--            , iif(
--                    ((td.taxlevel='10355228')
--                     or (td.taxlevel='10355208')
--                     or (td.taxlevel='10355223')
--                     or (td.taxlevel='10355203'))
--                     AND td.vatexpired=1
--                    , (td.DNAmount+round((td.ppnpct*td.dnamount/100),0)), td.DNAmount)as DPPAmount
--            , tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex, '') as SAPCode, td.TaxLevel
-- ,tp.RefId, td.FPNumber, td.FPDate
--            ,tmd.LongDesc DistributorDesc
----            ,CONCAT('BATCH ', right(tmp.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
--            ,batchname.BatchName
--            ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
--            ,td.RefId DNNumber
--            ,td.ActivityDesc DNDesc
--            ,isnull(td.DNAmount,0) DNAmount
--            ,isnull(td.FeeAmount, 0) FeeAmount
--            ,isnull(td.FeePct, 0) FeePct
--            ,isnull(td.PPNAmt, 0) PPNAmt
--            ,isnull(td.PPNPct, 0) PPNPct
--            ,isnull(td.PPHAmt, 0) PPHAmt
--            ,isnull(td.PPHPct, 0) PPHPct
--            ,isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0) TotalToPay
--            ,td.RefId as OriginalId
--            ,td.ActivityDesc DNDescription
--        FROM tbtrx_debetnote td
--        INNER JOIN tbmst_subchannel ts ON td.SubChannelId=ts.id
--        INNER JOIN tbmst_channel tc ON ts.ChannelId = tc.id
--        INNER JOIN
--            (
--                SELECT a.id, c.RefId  FROM tbtrx_debetnote a
--                    INNER JOIN tbtrx_invoice_detail b ON a.id=b.DNId
--                    INNER JOIN tbtrx_invoice_header c ON b.ParentId = c.Id
--                    WHERE isnull(b.IsCancel, 0)=0
----                     AND c.refid NOT IN (SELECT InvoiceNo FROM @Temp)
--            ) tmp ON td.id=tmp.id
--        INNER JOIN tbmst_principal mp ON td.PrincipalId = mp.id
--        LEFT JOIN tbtrx_promo tp on td.PromoId = tp.id
--        LEFT JOIN tbtrx_allocation ta ON tp.AllocationId = ta.Id
--        LEFT JOIN tbset_mapping_pricecondition tsmp on tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
--        INNER JOIN tbmst_distributor tmd on td.DistributorId = tmd.Id
--        INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
--        LEFT JOIN
--	        (
--	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
--	        	FROM tbtrx_debetnote a 
--	        	LEFT JOIN tbhis_xml_generate_batchname c ON a.Id = c.DNId 
--	        	GROUP BY a.id
--	        ) batchname ON td.id=batchname.id
--
--    --	WHERE td.DistributorId <> 2 and td.LastStatus = 'validate_by_danone'
--    --	WHERE td.DistributorId <> 2 and td.LastStatus = 'invoice'
--        WHERE td.LastStatus = 'invoice' and td.DistributorId=3
--        AND isnull(td.IsCancel, 0) = 0
--        AND IIF(@entity=0,'',td.PrincipalId) =IIF(@entity=0,'',@entity)
--        AND td.TaxLevel<>'00000000'
--
--            /*
--             * INSERT DATA Other Tempo
--             */
--
--        INSERT INTO @TempPayment
--        SELECT tih.DistributorId, tih.EntityId, mp.ShortDesc EntityDesc, tih.id as InvoiceId, tih.refid as InvoiceNo, tih.CreateOn, tih.[Desc] as ActivityDesc,
--            tih.DPPAmount, tsmp.PriceConditionForPayment, isnull(tmd.SAPCodex,'') as SAPCode, tih.TaxLevel
--            ,tp.RefId, td.FPNumber, td.FPDate
--            ,tmd.LongDesc DistributorDesc
---- 	        ,CONCAT('BATCH ', td.refid, ' ', tc.LongDesc,' ', ta.Periode) BatchName
----            ,CONCAT('BATCH ', right(tih.refid, 6), ' ', tc.LongDesc,' ', ta.Periode) BatchName
--            ,batchname.BatchName
--	        ,iif(isnull(td.IsDNPromo, 0)=1, CONCAT('Trade Support ', ta.Periode), CONCAT('Deferred Rebate/Overhead ', ta.Periode)) BudgetBucket
--            ,td.RefId DNNumber
--	        ,td.ActivityDesc DNDesc
--        	,tid.DNAmount
--            ,tid.FeeAmount
--            ,tid.FeePct
--            ,isnull(tih.DPPAmount, 0) * isnull(tih.PPN,0)/100  PPNAmt
--            ,tih.PPN PPNPct
--            , 0 PPHAmt
--            , 0 PPHPct
--            , tih.InvoiceAmount TotalToPay
--            , tih.refid OriginalId
--            , '' DNDescription
----             ,tid.PPNAmt
----             ,tid.PPNPct
----   ,tid.PPHAmt
----             ,tid.PPHPct
----             ,tid.TotalToPay
--            FROM tbtrx_debetnote td
--            INNER JOIN tbmst_subchannel ts ON td.SubChannelId=ts.id
--            INNER JOIN tbmst_channel tc ON ts.ChannelId = tc.id
--            INNER JOIN
--            (
--                SELECT ParentId, max(DNId) DNId
--                    ,sum(isnull(td.DNAmount,0)) DNAmount
--                    ,sum(isnull(td.FeeAmount, 0)) FeeAmount
--                    ,sum(isnull(td.FeeAmount, 0)) / sum(isnull(td.DNAmount,0)) * 100 FeePct
--                    ,sum(isnull(td.PPNAmt, 0)) PPNAmt
--                    ,sum(isnull(td.PPNAmt, 0)) / (sum(isnull(td.DNAmount,0)) + sum(isnull(td.FeeAmount, 0))) * 100 PPNPct
--                    ,sum(isnull(td.PPHAmt, 0)) PPHAmt
--                    , 0 PPHPct
----                     ,sum(isnull(td.PPHPct, 0)) PPHPct
--                    ,sum(isnull(td.DPP, 0) + isnull(td.PPNAmt, 0) - isnull(td.PPHAmt, 0)) TotalToPay
--                    FROM tbtrx_invoice_detail tid
--                    INNER JOIN tbtrx_debetnote td on tid.DNId=td.id
--                    WHERE isnull(tid.IsCancel, 0) = 0
--                    GROUP BY ParentId
--                    HAVING count(DNId)>1
--            ) tid on td.Id = tid.DNId
--            INNER JOIN tbtrx_invoice_header tih on tid.ParentId = tih.Id
--            INNER JOIN tbmst_principal mp ON tih.EntityId = mp.id
--            LEFT JOIN tbtrx_promo tp on td.PromoId = tp.id
--            LEFT JOIN tbtrx_allocation ta ON tp.AllocationId = ta.Id
--            LEFT JOIN tbset_mapping_pricecondition tsmp on  tp.CategoryId = tsmp.CategoryId and tp.SubCategoryId = tsmp.SubCategoryId and tp.ActivityId = tsmp.ActivityId
--            INNER JOIN tbmst_distributor tmd on tih.DistributorId = tmd.Id
--            INNER JOIN @dist_list arr_dist on tmd.Id = arr_dist.Id
--            LEFT JOIN
--	        (
--	        	SELECT a.id, string_agg(c.BatchName ,' ,') BatchName
--	        	FROM tbtrx_invoice_header a
--	        	INNER JOIN tbtrx_invoice_detail b ON a.Id = b.DNId 
--	        	LEFT JOIN tbhis_xml_generate_batchname c ON b.DNId = c.DNId 
--	        	WHERE isnull(b.IsCancel, 0) = 0
--	        	GROUP BY a.id
--	        ) batchname ON tih.id=batchname.id
--   		WHERE td.DistributorId<>3
--                and td.LastStatus = 'invoice'
--                AND isnull(td.IsCancel, 0) = 0
--                AND IIF(@entity=0,'',tih.EntityId) =IIF(@entity=0,'',@entity)
    end

/*******************
* XML Generate
*******************/
SELECT
	invoice.EntityId
	,invoice.EntityDesc
	,'ID9' as OrderCBU
	, 'ZID9ORDERS_01' as OrderLogicalMessage
	, invoice.SAPCode as SoldToCode
	, 'B' as TypeOfSoldToCode
	,invoice.SAPCode as ShipToCode
	, 'B' as TypeofShipToCode
	, ' ' as OtherPartnerCode
	, ' ' as PartnerFunctionOfOtherPartner
	,' ' as TypeOfOtherPartnerCode
	, ' ' as OtherPartnerCode2
	, ' ' as PartnerFunctionOfOtherPartner2
	, ' ' as TypeOfOtherPartnerCode2
	,' ' as OtherPartnerCode3
	, ' ' as PartnerFunctionOfOtherPartner3
	, ' ' as TypeOfOtherPartnerCode3
	, 'C001' as PaymentTerm
	, invoice.InvoiceNo as PONumber
	, invoice.CreateON as RequestedDeliveryDate
	, ' ' as RequestedDeliveryTime
	, ' ' as PODate
	, 'ZTD3' as OrderType
	, CASE WHEN invoice.EntityId=2 THEN '4450' ELSE CASE WHEN invoice.EntityId=3 THEN '5600' ELSE CASE WHEN invoice.EntityId=4 THEN '5610' ELSE ' ' END END END as SalesOrg
	, '00' as Channel
	, '00' as Division
	, ' ' as DeliveryBlock
	, ' ' as BillingBlock
	, ' ' as ShippingCondition
	, ' ' as ShippingType
	, invoice.ActivityDesc as Assignment
	, ' ' as OrderReason
	, ' ' as PurchaseOrderType
	, ' ' as OrderModificationReason
	, ' ' as ShipToPartysPurchaseOrderNumber
	, ' ' as ShipToPartysPurchaseOrderDate
	, ' ' as TypeDocumentInReferenceHeader
	, ' ' as DocumentInReference
	, ' ' as SoldToYourReference
	, ' ' as ShipToYourReference
	, ' ' as ShipToName1
	, ' ' as ShipToName2
	, ' ' as ShipToStreet
	, ' ' as ShipToPostalCode
	, ' ' as ShipToCity
	, ' ' as ShipToCountry
	, 'Z014' as TextType
  --  , concat(invoice.promoNumber,
  --      IIF(isnull(invoice.FPNumber,'')='', '/', concat('/', invoice.FPNumber)),
		--IIF(invoice.FPDate is null or invoice.FPDate = '1901-01-01', '/',  concat('/', convert(varchar(8), invoice.FPDate, 112)))) as DetailOfText
	,concat(
		replace(LEFT(SUBSTRING(replace(replace(replace(replace(replace(invoice.FPNumber,'(',''),')',''),'-',''),' ',''),',',''), PATINDEX('%[0-9.-]%'
		, replace(replace(replace(replace(replace(invoice.FPNumber,'(',''),')',''),'-',''),' ',''),',','')), 8000),
           PATINDEX('%[^0-9.-]%', SUBSTRING(replace(replace(replace(replace(replace(invoice.FPNumber,'(',''),')',''),'-',''),' ',''),',','')
		   , PATINDEX('%[0-9.-]%', replace(replace(replace(replace(replace(invoice.FPNumber,'(',''),')',''),'-',''),' ',''),',','')), 8000) + 'X') -1),'.','')
		,'/', invoice.originalid) as DetailOfText
	, ' ' as TextType2
	, ' ' as DetailOfText2
	, '10' as ItemNumber
	, invoice.TaxLevel as material
	, 'B' as TypeOfMaterialCode
	, ' ' as ItemCategory
	, 1 as Quantity
	, 'PCE' as UnitOfQuantity
	, ' ' as PlannedGoodIssueDate
	, PriceConditionForPayment as PriceCondition
	, ' ' as PriceList
	, ' ' as Sign
	, format(invoice.DPPAmount,'#') as Value
	, ' ' as ConditionPricingUnit
	, ' ' as UnitOfPrice
	, ' ' as ConditionCurrency
	, CASE WHEN invoice.EntityId=2 THEN '4450' ELSE CASE WHEN invoice.EntityId=3 THEN '5600' ELSE CASE WHEN invoice.EntityId=4 THEN '5610' ELSE ' ' END END END as Plant
	, ' ' as StorageLocation
	, ' ' as ItemUsage
	, ' ' as BatchNumber
	, ' ' as InternalOrder
	, ' ' as ShiptoPartysPurchaseOrderNumber
	, ' ' as TypeDocumentInReferenceLine
	, ' ' as ItemInReference
	, ' ' as ItemTextType
	, ' ' as ItemTextLanguage
	, ' ' as ItemDetailOfText
	, ' ' as ItemTextType2
	, ' ' as ItemTextLanguage2
	, ' ' as ItemDetailOfText2
    , invoice.OriginalId
FROM @Temp invoice
LEFT JOIN tbxml_generate gen with (nolock) ON invoice.InvoiceNo = gen.PONumber and isnull(gen.isDeleted,0)= 0
WHERE gen.PONumber is null
--WHERE invoice.InvoiceNo NOT IN (SELECT PONumber FROM tbxml_generate WHERE isnull(isDeleted,0) = 0)

/**********************
* Distributor Payment
***********************/
--if @batching = 1
--begin
--	SELECT
--		InvoiceNo
--		,BatchName
--		,DistributorDesc Distributor
--		,BudgetBucket
--		,InvoiceNo InvoiceDNNumber
--		,DNAmount
--		,FeeAmount
--		,FeePct
--		,PPNAmt
--		,PPNPct
--		,PPHAmt
--		,PPHPct
--		,TotalToPay
--		,DNNumber
--		,DNDesc
--		,PromoNumber
--	    ,TaxLevel
--	    ,FPNumber
--	    ,FPDate
--	    ,OriginalId
--	    ,DNDescription
--	FROM @Temp invoice
--	WHERE invoice.InvoiceNo NOT IN (SELECT PONumber FROM tbxml_generate WHERE isnull(isDeleted,0) = 0)
--end
--ELSE 
--BEGIN
	SELECT
		InvoiceNo
		,BatchName
		,DistributorDesc Distributor
		,BudgetBucket
		,InvoiceNo InvoiceDNNumber
		,DNAmount
		,FeeAmount
		,FeePct
		,PPNAmt
		,PPNPct
		,PPHAmt
		,PPHPct
		,TotalToPay
		,DNNumber
		,DNDesc
		,PromoNumber
	    ,TaxLevel
	    ,FPNumber
	    ,FPDate
	    ,invoice.OriginalId
	    ,DNDescription
	FROM @TempPayment invoice
	LEFT JOIN tbxml_generate gen with (nolock) ON invoice.InvoiceNo = gen.PONumber and isnull(gen.isDeleted,0)= 0
	WHERE gen.PONumber is null
--	WHERE invoice.InvoiceNo NOT IN (SELECT PONumber FROM tbxml_generate WHERE isnull(isDeleted,0) = 0)
	
--END 
/**********************
* Payment Batch
***********************/
SELECT
    DNNumber
    ,DNDesc
    ,promoNumber
	,DNAmount
	,FeeAmount
	,PPNAmt
    ,PPHAmt
    ,TotalToPay
	,BatchName
    ,TaxLevel
    ,FPNumber
    ,FPDate
    ,invoice.OriginalId
FROM @Temp invoice
LEFT JOIN tbxml_generate gen with (nolock) ON invoice.InvoiceNo = gen.PONumber and isnull(gen.isDeleted,0)= 0
WHERE gen.PONumber is null

--WHERE invoice.InvoiceNo NOT IN (SELECT PONumber FROM tbxml_generate WHERE isnull(isDeleted,0) = 0)

END
GO
