USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getattribute_budget_byuser]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[ip_getattribute_budget_byuser]
	-- Add the parameters for the stored procedure here
	@Id			VARCHAR(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		Id INT NULL
	)

	INSERT INTO @ALO(Id)
	SELECT ALLOC.Id
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)
	INNER JOIN [dbo].[tbtrx_allocation_useracces] USR WITH(NOLOCK) ON ALLOC.Id=USR.AllocationId
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
	AND (ISNULL(@Id,'')='' OR ALLOC.Id=@Id)
		

	SELECT
		c.Id
		,c.Periode
		,c.RefId
		,c.BudgetType
		,c.DistributorId
		,d.LongDesc DistributorName
		,c.OwnerId
		,uo.username OwnerName		
		,c.FromOwnerId
		,uf.username FromOwnername
		,c.BudgetMasterId
		,c.BudgetSourceId		
		,c.BudgetAmount
		,c.LongDesc
		,c.ShortDesc
		,c.StatusApproval
		,c.IsActive
		,c.IsLocked
	FROM 
	tbtrx_allocation c
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	inner join tbset_user uo on uo.Id=c.OwnerId
	inner join tbset_user uf on uf.Id=c.FromOwnerId
	INNER JOIN @ALO t on t.Id=c.Id 
	WHERE ISNULL(c.IsDelete,0)=0 
		

	SELECT
		R.AllocationId AS RegionAllocId
		,MR.Id AS RegionId
		,MR.LongDesc AS RegionName
	FROM [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_region] AS MR WITH(NOLOCK) ON R.RegionId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)
	
	SELECT
		C.AllocationId AS ChannelAllocId
		,MC.Id AS ChannelId
		,MC.LongDesc AS ChannelName
	FROM [dbo].[tbtrx_allocation_channel] AS C WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_channel] AS MC WITH(NOLOCK) ON C.ChannelId=MC.Id
	WHERE C.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		SC.AllocationId AS SubChannelAllocId
		,MSC.Id AS SubChannelId
		,MSC.LongDesc AS SubChannelName
	FROM [dbo].[tbtrx_allocation_subchannel] AS SC WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON SC.ChannelId=MSC.ChannelId AND SC.SubChannelId=MSC.Id
	WHERE SC.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		A.AllocationId AS AccountAllocId
		,MA.Id AS AccountId
		,MA.LongDesc AS AccountName
	FROM [dbo].[tbtrx_allocation_account] AS A WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON A.SubChannelId=MA.SubChannelId AND A.AccountId=MA.Id
	WHERE A.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		SA.AllocationId AS SubAccountAllocId
		,MSA.Id AS SubAccountId
		,MSA.LongDesc AS SubAccountName
	FROM [dbo].[tbtrx_allocation_subaccount] AS SA WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_subaccount] AS MSA WITH(NOLOCK) ON SA.AccountId=MSA.AccountId AND SA.SubAccountId=MSA.Id
	WHERE SA.AllocationId IN (SELECT Id FROM @ALO)




	SELECT
		A.AllocationId AS BrandAllocId
		,BA.Id AS BrandId
		,BA.LongDesc AS BrandName
	FROM [dbo].[tbtrx_allocation_brand] AS A WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_brand] AS BA WITH(NOLOCK) ON A.BrandId=BA.Id
	WHERE A.AllocationId IN (SELECT Id FROM @ALO)


	SELECT
	A.AllocationId AS ProductAllocId
	,BA.Id AS BrandId
	,BA.LongDesc AS BrandName
	FROM [dbo].[tbtrx_allocation_product] AS A WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_product] AS BA WITH(NOLOCK) ON A.ProductId=BA.Id
	WHERE A.AllocationId IN (SELECT Id FROM @ALO)
	ORDER BY BA.SeqNo

END

GO
