

/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_getbyid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_mechanism_getbyid]
	@id int
as
BEGIN 
		SELECT        
			m.Id,
			m.EntityId,
			m.Entity,
			m.SubCategoryId,
			m.SubCategory,
			m.ActivityId,
			m.Activity,
			m.SubActivityId,
			m.SubActivity,
			m.ProductId,
			m.Product,
			m.Requirement,
			m.Discount,
			m.Mechanism,
			m.ChannelId,
			m.Channel,
			m.StartDate,
			m.EndDate,
			m.CreateOn,
			m.CreateBy,
			m.CreatedEmail,
			m.ModifiedOn,
			m.ModifiedBy,
			m.ModifiedEmail,
			m.IsDelete,
			m.DeleteOn,
			m.DeleteBy,
			m.DeleteEmail
		FROM            
			tbmst_mechanism m
--			inner join tbmst_principal mp on m.EntityId = mp.id
--			inner join tbmst_subactivity ms on m.SubActivityId = ms.id
--			inner join vw_activity va on ms.Id = va.SubActivityId 
--			inner join tbmst_product pd on m.ProductId = pd.id
--			inner join tbmst_brand tb on pd.BrandId = tb.id
			WHERE m.id=@id
END
GO
