USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_skp_validate_report_new]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_skp_validate_report_new]
--DECLARE
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@cancelstatus bit
,@start_from date
,@start_to date
,@submission_param int
,@status int

,@start int
,@length int
,@filter varchar(255)
,@txtSearch varchar(255)


--SET @periode ='2020'
--SET @entity =0
--SET @distributor =0
--SET @budgetparent =0
--SET @channel =0
--SET @userid ='admin'
--SET @cancelstatus =0
--SET @start_from ='2020-07-01'
--SET @start_to ='2020-12-31'
--SET @submission_param = 0
--set @status=-1

--SET @start =1
--SET @length =10
--SET @filter =''
--SET @txtSearch =''

AS

BEGIN

    drop table if exists #tmp_dn;


DECLARE @Temp TABLE
	(
	  BudgetParent int,
	  Levels int,
	  BudgetId int
	)
	;

	select distinct
		'' Entity--p.LongDesc Entity
		,d.LongDesc Distributor
		,'' PrincipalDesc --p.LongDesc PrincipalDesc
		,pr.Id PromoId
		,pr.RefId
		,'' BudgetSource --c.LongDesc BudgetSource
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,isnull(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,'' [SubCategory] --sctg.LongDesc [SubCategory]
		,'' [Activity]--act.LongDesc [Activity]
		,'' [SubActivity] --sact.LongDesc [SubActivity]
		,pr.ActivityDesc
		,isnull(pr.Mechanisme1,'') Mechanisme1
		,isnull(pr.Mechanisme2,'') Mechanisme2
		,isnull(pr.Mechanisme3,'') Mechanisme3
		,isnull(pr.Mechanisme4,'') Mechanisme4
		,'' RegionDesc --region.RegionDesc
		,channel.ChannelDesc
 		,'' SubChannelDesc --subchannel.SubChannelDesc -- Start EDJ 2020-04-13 -------------
		,'' AccountDesc --account.AccountDesc
		,subaccount.SubAccountDesc
		--,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar), IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uf.username as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100))))) LastStatus
		,IIF(pr.IsCancel=1, CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCode='TP2', CAST(pr.ApproveOn as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(tpa.ActionDate as varchar), CAST(tpa.RequestDate as varchar)))) LastStatusDate
		,'' ApprovalNotes --pr.ApprovalNotes
		,pr.NormalSales + pr.IncrSales [Target]
		,pr.Investment
		,pr.NormalSales
		,pr.IncrSales
		,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	---LUK 2020-04-21
		,pr.CostRatio
		,0 DnClaim --TotalClaim DnClaim
		,0 RemainingBalance--(pr.Investment-isnull(TotalClaim,0)) RemainingBalance
		,0 DnPaid-- TotalPaid DnPaid
		,pr.StartPromo
		,pr.EndPromo
		,datediff(day,pr.CreateOn,pr.StartPromo) Gap
		,IIF(datediff(day,pr.CreateOn,pr.StartPromo) < @submission_param,1,0) OnTime
		,pr.TsCoding
		,'' BrandDesc --brand.BrandDesc
		,'' SKUDesc --sku.SKUDesc
		,0 PromoPlanId --isnull(tpp.id, 0) as PromoPlanId
		,''PromoPlanRefId --isnull(tpp.RefId, '') as PromoPlanRefId
		,isnull(pr.IsClose, 0) as ClosureStatus
		,IIF(isnull(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
-- 		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(ufr.username as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpar.ActionDate as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpar.RequestDate as varchar) ))) LastReconStatus
-- 		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.cancelbyname as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(pr.StatusApprovalCodeRecon='TP2',pr.LastStatusRecon + '-' + CAST(pr.approverreconname as varchar) +' ON ' + CAST(pr.ApproveOnRecon as varchar), IIF(pr.StatusApprovalCodeRecon='TP3', CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpar.ActionDate as varchar), CAST(pr.LastStatusRecon as varchar) + ' on ' + CAST(tpar.RequestDate as varchar) ))) LastReconStatus
	    , '' LastReconStatus
		, 0 SubactivityTypeId --tst.Id SubactivityTypeId
		, '' SubactivityTypeRefId --tst.RefId SubactivityTypeRefId
		, '' SubactivityType --tst.LongDesc SubactivityType
		, '' CancelReason -- r.CancelReason
	  --,pr.ActivityDesc
--       ,IIF(pr.IsCancel=1
-- 			,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
-- 			, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(uapprover.username as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
-- 				,pr.LastStatus + '-' + uapprover.username
-- 			)
-- 	  )  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
--
     ,IIF(pr.IsCancel=1
			,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.cancelbyname as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
			, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.approvername as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
				,pr.LastStatus + '-' + pr.approvername
			)
	  )  LastStatus -- * EDJ 2020-04-01 : add username in laststatus
	  ,'' Allocation --c.LongDesc Allocation
	  ,isnull(pr.IsCancelLocked,0) IsCancelLocked
	  ,pr.CancelNotes

			,iif(tpsv.SKPDraftAvail=0,'N',iif(tpsv.SKPDraftAvail=1,'Y','')) SKPDraftAvail
			,iif(tpsv.SKPDraftAvailBfrAct60=0,'N',iif(tpsv.SKPDraftAvailBfrAct60=1,'Y','')) SKPDraftAvailBfrAct60
			,iif(tpsv.EntityDraft=0,'N',iif(tpsv.EntityDraft=1,'Y','')) SKPEntityDraft
			,iif(tpsv.BrandDraft=0,'N',iif(tpsv.BrandDraft=1,'Y','')) SKPBrandDraft
			,iif(tpsv.PeriodDraft=0,'N',iif(tpsv.PeriodDraft=1,'Y','')) SKPPeriodDraft
			,iif(tpsv.ActivityDescDraft=0,'N',iif(tpsv.ActivityDescDraft=1,'Y','')) SKPActivityDescDraft
			,iif(tpsv.MechanismDraft=0,'N',iif(tpsv.MechanismDraft=1,'Y','')) SKPMechanismDraft
			,iif(tpsv.InvestmentDraft=0,'N',iif(tpsv.InvestmentDraft=1,'Y','')) SKPInvestmentDraft
			,iif(tpsv.DistributorDraft=0,'N',iif(tpsv.DistributorDraft=1,'Y','')) SKPDistributorDraft
			,iif(tpsv.ChannelDraft=0,'N',iif(tpsv.ChannelDraft=1,'Y','')) SKPChannelDraft
			,iif(tpsv.StoreNameDraft=0,'N',iif(tpsv.StoreNameDraft=1,'Y','')) SKPStoreNameDraft
			,iif(tpsv.PeriodMatch=0,'N',iif(tpsv.PeriodMatch=1,'Y','')) SKPPeriodMatch
			,tpsv.PeriodMatchon
			,tpsv.PeriodMatchby
			,iif(tpsv.InvestmentMatch=0,'N',iif(tpsv.InvestmentMatch=1,'Y','')) SKPInvestmentMatch
			,tpsv.InvestmentMatchon
			,tpsv.InvestmentMatchby
			,iif(tpsv.MechanismMatch=0,'N',iif(tpsv.MechanismMatch=1,'Y','')) SKPMechanismMatch
			,tpsv.MechanismMatchon
			,tpsv.MechanismMatchby
			,iif(tpsv.SKPSign7=0,'N',iif(tpsv.SKPSign7=1,'Y','')) SKPSign7
			,tpsv.SKPSign7on
			,tpsv.SKPSign7by
			,iif(tpsv.Entity=0,'N',iif(tpsv.Entity=1,'Y','')) SKPEntity
			,tpsv.Entityon
			,tpsv.Entityby
			,iif(tpsv.Brand=0,'N',iif(tpsv.Brand=1,'Y','')) SKPBrand
			,tpsv.Brandon
			,tpsv.Brandby
			,iif(tpsv.ActivityDesc=0,'N',iif(tpsv.ActivityDesc=1,'Y','')) SKPActivityDesc
			,tpsv.ActivityDescon
			,tpsv.ActivityDescby
			,iif(tpsv.Distributor=0,'N',iif(tpsv.Distributor=1,'Y','')) SKPDistributor
			,tpsv.Distributoron
			,tpsv.Distributorby
			,iif(tpsv.Channel=0,'N',iif(tpsv.Channel=1,'Y','')) SKPChannel
			,tpsv.Channelon
			,tpsv.Channelby
			,iif(tpsv.StoreName=0,'N',iif(tpsv.StoreName=1,'Y','')) SKPStoreName
			,tpsv.StoreNameon
			,tpsv.StoreNameby

	--   ,iif(tpsv.SKPStatus=0,'N',iif(tpsv.SKPStatus=1,'Y',''))							SKPStatus
        ,IIF(isnull(tpsv.skpstatus,0)=0, 'New',IIF(isnull(tpsv.skpstatus,0)=1, 'Pending', 'Final')) SKPStatus
	  ,cast(tpsv.SKP_Notes as varchar(max)) SKP_Notes

		,IIF(tpsv.PromoId is null, 'N',
			IIF(
				tpsv.SKPDraftAvail = 1
				AND tpsv.SKPDraftAvailBfrAct60 = 1
				AND tpsv.PeriodMatch = 1
				AND tpsv.InvestmentMatch = 1
				AND tpsv.MechanismMatch = 1
				AND tpsv.SKPSign7 = 1
				AND tpsv.EntityDraft = 1
				AND tpsv.BrandDraft = 1
				AND tpsv.PeriodDraft = 1
				AND tpsv.ActivityDescDraft = 1
				AND tpsv.MechanismDraft = 1
				AND tpsv.InvestmentDraft = 1
				AND tpsv.Entity = 1
				AND tpsv.Brand = 1
				AND tpsv.ActivityDesc = 1
				AND tpsv.DistributorDraft = 1
				AND tpsv.Distributor = 1
				AND tpsv.ChannelDraft = 1
				AND tpsv.Channel = 1
				AND tpsv.StoreNameDraft = 1
				AND tpsv.StoreName = 1
			, 'Y'
		, 'N')) as skp_flagging_status
	from tbtrx_promo pr with (nolock)
--     INNER JOIN tbtrx_promo_planning tpp with (nolock) on pr.PromoPlanId = tpp.id
    inner  JOIN tbtrx_promo_request_approval tpra with (nolock) ON pr.id=tpra.ParentId AND isnull(tpra.IsCancel, 0)=0
    LEFT JOIN tbtrx_promo_approval tpa with (nolock) ON tpra.id=tpa.RequestId AND tpa.IsOnGoing = 1
--     LEFT JOIN tbtrx_promo_request_approval_recon tprar with (nolock) ON pr.id=tprar.ParentId AND isnull(tprar.IsCancel, 0)=0
--     LEFT JOIN tbtrx_promo_approval_recon tpar with (nolock) ON tpra.id=tpar.RequestId AND tpar.IsOnGoing = 1
--     LEFT JOIN tbtrx_promo_cancel_request r with (nolock) on r.PromoId=pr.Id and isnull(r.IsCancel,0)=0
	left join tbtrx_promo_skp_validate tpsv with (nolock) on pr.id=tpsv.PromoId
    inner join tbtrx_allocation c with (nolock) on pr.AllocationId = c.id
	inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
	inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
	inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
-- 	inner join tbmst_subcategory sctg with (nolock) on pr.SubCategoryId=sctg.id
-- 	inner join tbset_user upr with (nolock) on upr.Id=pr.Approver
-- 	left join tbset_user ucancel with (nolock) on ucancel.Id=pr.CancelBy -- * EDJ 2020-04-01 : add username in laststatus
-- 	left join tbset_user uapprover with (nolock) on uapprover.Id=pr.Approver -- * EDJ 2020-04-01 : add username in laststatus
--     left join tbset_user ufr with (nolock) on ufr.Id=pr.ApproverRecon
    inner join tbmst_activity act with (nolock) on pr.ActivityId=act.id
    inner join tbmst_subactivity sact with (nolock) on pr.SubActivityId=sact.id
    inner join tbmst_subactivity_type tst with (nolock) on sact.SubActivityTypeId = tst.id
    inner join tbtrx_promo_channel tpc with (nolock) on pr.id=tpc.PromoId
    inner join tbset_map_user_channel tmuc with (nolock) on tpc.ChannelId = tmuc.channelid and tmuc.userid = @userid
    inner join
            (
                select PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
                        from tbtrx_promo_channel a with (nolock)
                        INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                        INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                    GROUP BY a.PromoId
            ) channel
            on pr.Id = channel.PromoId
--     inner join
--             (
--                 select PromoId, string_agg(subchn.LongDesc,' ,') SubChannelDesc
--                             from tbtrx_promo_subchannel a with (nolock)
--                             INNER join tbmst_subchannel subchn with (nolock) ON a.SubChannelId=subchn.Id
--                             INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
--                     GROUP BY a.PromoId
--             ) subchannel
--             on pr.Id = subchannel.PromoId
-- 	inner join
--             (
--                 select PromoId, string_agg(reg.LongDesc,' ,') RegionDesc
--                             from tbtrx_promo_region a with (nolock)
--                             INNER join tbmst_region reg with (nolock) ON a.RegionId=reg.Id
--                             INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
--                     GROUP BY a.PromoId
--             ) region
--             on pr.Id = region.PromoId
-- 	inner join
--             (
--                 select PromoId, string_agg(ac.LongDesc,' ,') AccountDesc
--                             from tbtrx_promo_account a with (nolock)
--                             INNER join tbmst_account ac with (nolock) ON a.AccountId=ac.Id
--                             INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
--                     GROUP BY a.PromoId
--             ) account
--         on pr.Id = account.PromoId
	inner join
            (
                select PromoId, string_agg(sac.LongDesc,' ,') SubAccountDesc
                            from tbtrx_promo_subaccount a with (nolock)
                            INNER join tbmst_subaccount sac with (nolock) ON a.subAccountId=sac.Id
                            INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
                    GROUP BY a.PromoId
            ) subaccount
            on pr.Id = subaccount.PromoId
-- 	inner join
--             (
--                 select PromoId, string_agg(brd.LongDesc,' ,') BrandDesc
--                             from tbtrx_promo_brand a with (nolock)
--                             INNER join tbmst_brand brd with (nolock) ON a.brandid=brd.Id
--                             INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
--                     GROUP BY a.PromoId
--             ) brand
--             on pr.Id = brand.PromoId
-- 	inner join
--             (
--                 select PromoId, string_agg(sku.LongDesc,' ,') SKUDesc
--                             from tbtrx_promo_product a with (nolock)
--                             INNER join tbmst_product sku with (nolock) ON a.productid=sku.Id
--                             INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId
--                     GROUP BY a.PromoId
--             ) sku
--             on pr.Id = sku.PromoId
-- 	left join (
-- 	    SELECT
-- 			a.PromoId,
-- 			SUM(DPP) TotalClaim,
-- 			SUM(iif(a.laststatus='confirm_paid',DPP,0)) TotalPaid
-- 		FROM
-- 			tbtrx_debetnote a with (nolock)
-- 			INNER JOIN tbtrx_promo pr with (nolock) on a.PromoId=pr.Id
-- 			AND isnull(a.IsCancel, 0) = 0
-- 		GROUP BY a.PromoId
-- 	) dn on pr.Id=dn.PromoId
	WHERE
		isnull(pr.IsCancel,0)=0 AND isnull(pr.IsClose,0)=0
		AND m.Periode=@periode
		--AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent)
		AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
		AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
		AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))
-- 		AND EXISTS(SELECT promoid FROM tbtrx_promo_channel WHERE pr.id=promoid and IIF(@channel=0,'',channelid) =IIF(@channel=0,'',@channel))
	    AND IIF(@channel=0,'',tpc.ChannelId) =IIF(@channel=0,'',@channel)
		AND IIF(@status=-1, '',isnull(tpsv.skpstatus,0)) = IIF(@status=-1, '', @status)

	SELECT 0 as recordsTotal, 0 as recordsFiltered



END
GO
