

/****** Object:  StoredProcedure [dbo].[ip_dn_validate_by_dist_ho]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_dn_validate_by_dist_ho]
@userid varchar(50),
@createdemail varchar(100) = '',
@status varchar(50),
@id INT

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*
	LGP : 2020-02-20 : Perbaikan bugs proses received_by_danone
	LGP : 2020-02-22 : DN non promo di by pass/lolos di proses validate
*/

BEGIN
	INSERT INTO tblog_dn_change_status (dtime,dnstatus,userid,dnid) SELECT @utcDate123,@status,@userid,@id

	IF @createdemail = ''
	BEGIN
		SELECT @createdemail=email FROM tbset_user WHERE id=@userid
	END

	UPDATE a
		SET LastStatus=@status
		,VATExpired = IIF(isnull(FPNumber,'')='', 0
			, IIF(fpdate IS NULL OR YEAR(FPDATE)<2000,0
				, IIF(concat(year(dateadd(month, 4, fpdate)),'-', month(dateadd(month, 4, fpdate)),-01) <= @utcDate123, 1, 0) ))
		,modifiedby=@userid
		,modifiedon=@utcDate123
		FROM tbtrx_debetnote a
		WHERE a.id= @id 

	INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus,createdemail)
		SELECT @id,@status,@userid,@utcDate123, DPP, @status, @createdemail FROM tbtrx_debetnote WHERE Id=@id

   if @status='rejected_by_dist_ho'
	BEGIN
      UPDATE a
	  set IsFreeze=0
	  FROM tbtrx_debetnote a
	  where a.Id=@id
    END
   
   if @status='validate_by_dist_ho'
   BEGIN
      UPDATE a
	  SET validate_by_dist_ho_on=@utcDate123
	  ,validate_by_dist_ho_by=@userid
	  FROM tbtrx_debetnote_his a
	  where a.DNId=@id
   END
   

/*RECALC OVER BUDGET**************************************/
	DECLARE @promoid INT
		SET @promoid = (SELECT promoid FROM tbtrx_debetnote WHERE Id=@id)
		IF ISNULL(@promoid,0)<>0
			BEGIN
				EXEC ip_dn_overbudget_by_prommoid @promoid
			END
/**************************************RECALC OVER BUDGET*/

    
end
GO
