

/****** Object:  StoredProcedure [dbo].[ip_import_master_region]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_region]
@Region RegionType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
DISTRIBUTOR
*****************/

	MERGE tbmst_region t
	USING 		
		@Region s 	
	ON t.LongDesc=s.Region 
	WHEN MATCHED THEN
	UPDATE 
	SET t.LongDesc=s.Region	
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		
           [LongDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           Region
           ,1
           ,@utcDate123
           ,@userid
           );


END
GO
