

/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_for_edit_taxlevel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_debetnote_list_for_edit_taxlevel] --'xvamain','validate_by_finance',2,2,'0'
@status varchar(50),
@userid varchar(50),
@entityid int,
@distributorid int,
@TaxLevel varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()


BEGIN
	DECLARE @profitcenter varchar(10)
	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
	IF isnull(@profitcenter,'')='1100'
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,IIF(a.StatusSalesCode='TP2', 'received_by_danone', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(a.IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo 
	--	,a.TaxLevel
		,a.Notes 
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel	
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark by Sales', 'No'))) SalesValidationStatus
	 	,a.FPNumber
	 	,a.FPDate
	 	,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired
	 	,isnull(a.VATExpired, 0) DNVATExpired
	 	,a.IsDNPromo 
		from tbtrx_debetnote a
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		where 
		a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance','validate_by_danone', 'ready_to_invoice')
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
		--AND IIF(@status='validate_by_finance','',@TaxLevel)=IIF(@status='validate_by_finance','',a.TaxLevel)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
	
	END
	ELSE
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,iif(a.vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp) DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,IIF(a.StatusSalesCode='TP2', 'validate_by_sales', a.LastStatus) LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo 
		,a.Notes 
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel	
		,a.StatusSalesNotes remarkSales
		,IIF(a.StatusSalesCode='TP1', 'Sendback', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remark', 'No'))) SalesValidationStatus
	 	,a.FPNumber
	 	,a.FPDate
	 	,IIF(IIF(isnull(a.FPNumber,'')='', 0,  datediff(month, FPDate, @utcDate123))>3, 1, 0) VATExpired
	 	,isnull(a.VATExpired, 0) DNVATExpired
	 	,a.IsDNPromo 
		from tbtrx_debetnote a
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		where 
		a.LastStatus IN ('received_by_danone','validate_by_sales', 'validate_by_finance','validate_by_danone', 'ready_to_invoice')
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='','',@TaxLevel)=IIF(@TaxLevel='0','',isnull(a.TaxLevel,''))
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		) AND a.AreaCode=@profitcenter
	END
END
GO
