

/****** Object:  StoredProcedure [dbo].[ip_debetnote_update_taxlevel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_update_taxlevel]
@Id int
,@Periode varchar(4)
,@EntityId int
,@DistributorId int
,@TaxLevel varchar(100)
,@PromoId int
,@IsDNPromo bit
,@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY
BEGIN TRANSACTION

	DECLARE
	@PrincipalShortDesc varchar(10)
	,@DistributorShortDesc varchar(10)
	,@SubChannelId int
	,@DNId int
	,@RequestId int
	,@PPNAmt numeric(19,0)
	,@TotalClaim numeric(19,0)
	,@AreaCode varchar(20)
	,@messageout varchar(255)
	,@matrixid int
	,@distributorIdPromo int
	,@distributorIdDN int

--	SELECT @matrixid=Id FROM dbo.tbset_matrix_dn_approval
--	WHERE Periode=@Periode
--	AND PrincipalId=@EntityId
--	AND DistributorId=@DistributorId
--
--	if @matrixid is null
--	begin
--		SET @messageout='Matrix Approval not found for ' + @DistributorShortDesc + ' distributor,' +  cast(@PrincipalShortDesc as varchar) + ' entity,'
--		 RAISERROR (@messageout, -- Message text.
--               16, -- Severity.
--               1 -- State.
--               );
--	end

    IF @PromoId <> 0
    BEGIN
        SET @distributorIdPromo=(SELECT ta.DistributorId FROM dbo.tbtrx_promo pr INNER JOIN dbo.tbtrx_allocation ta ON pr.AllocationId=ta.id WHERE pr.id=@PromoId);
        SET @distributorIdDN=(SELECT dn.DistributorId FROM dbo.tbtrx_debetnote dn WHERE dn.id=@DNId);

        IF @distributorIdPromo<>@distributorIdDN
        BEGIN
            SET @messageout='Promo and DN distributors must be the same'
                RAISERROR (@messageout, -- Message text.
                16, -- Severity.
                1 -- State.
            );
        END
    END

	UPDATE dbo.tbtrx_debetnote
		SET
		TaxLevel = @TaxLevel
		,IsDNPromo = @IsDNPromo
		,PromoId = @PromoId
		,ModifiedBy = @userid
		,ModifiedOn = @utcDate123
		,IsDNManual = IIF(isnull(@PromoId,0)=0 AND @IsDNPromo=1,1,0)
	WHERE Id=@Id


/************************
HISTORICAL
************************/
	INSERT INTO dbo.tbhis_debetnote_modiftaxlevel (
        dnid,
        IsDNManual,
        PromoId,
        IsCancel,
        IsLocked,
        IsDNPromo,
        status,
        ModifiedOn,
        ModifiedBy
    )
    SELECT dn.id, dn.IsDNManual, dn.PromoId, dn.IsCancel, dn.IsLocked, dn.IsDNPromo, 'modified_taxlevel', @utcDate123, @userid
	FROM dbo.tbtrx_debetnote dn WHERE dn.Id=@Id

		INSERT INTO [dbo].[tbtrx_debetnote_his]
				   ([DNId]
				   ,[ActivityDesc]
				   ,[SubChannelId]
				   ,[AccountId]
				   ,[PromoId]
				   ,[IntDocNo]
				   ,[MemDocNo]
				   ,[DPP]
				   ,[PPNPct]
				   ,[PPNAmt]
				   ,[TotalClaim]
				   ,[DeductionDate]
				   ,[Notes]
				   ,[created_on]
				   ,[created_by]
				   ,[send_to_dist_ho_on]
				   ,[send_to_dist_ho_by]
				   ,[validate_by_dist_ho_on]
				   ,[validate_by_dist_ho_by]
				   ,[send_to_danone_on]
				   ,[send_to_danone_by]
				   ,[validate_by_danone_on]
				   ,[validate_by_danone_by]
				   ,[ready_to_invoice_on]
				   ,[ready_to_invoice_by]
				   ,[invoice_on]
				   ,[invoice_by]
				   ,[confirm_paid_on]
				   ,[confirm_paid_by]
				   ,[DNAmount]
				   ,[FeeDesc]
				   ,[FeePct]
				   ,[FeeAmount]
				   ,[TaxLevel]
		   		   ,[PPHPct]
				   ,[PPHAmt]
				   ,statusPPH
                   ,FPNumber
                   ,FPDate
                   ,FPModifiedBy
                   ,FPModifiedOn
					)
			SELECT
				  @Id
				   ,[ActivityDesc]
				   ,[SubChannelId]
				   ,[AccountId]
				   ,[PromoId]
				   ,[IntDocNo]
				   ,[MemDocNo]
				   ,[DPP]
				   ,[PPNPct]
				   ,[PPNAmt]
				   ,[TotalClaim]
				   ,[DeductionDate]
				  ,[Notes]
				  ,@utcDate123
				  ,@userid
				  ,[send_to_dist_ho_on]
				  ,[send_to_dist_ho_by]
				  ,[validate_by_dist_ho_on]
				  ,[validate_by_dist_ho_by]
				  ,[send_to_danone_on]
				  ,[send_to_danone_by]
				  ,[validate_by_danone_on]
				  ,[validate_by_danone_by]
				  ,[ready_to_invoice_on]
				  ,[ready_to_invoice_by]
				  ,[invoice_on]
				  ,[invoice_by]
				  ,[confirm_paid_on]
				  ,[confirm_paid_by]
  				  ,[DNAmount]
				   ,[FeeDesc]
				   ,[FeePct]
				   ,[FeeAmount]
				   ,@TaxLevel
		   		   ,[PPHPct]
				   ,[PPHAmt]
				   ,statusPPH
                   ,FPNumber
                   ,FPDate
           ,FPModifiedBy
                   ,FPModifiedOn
			  FROM [dbo].[tbtrx_debetnote_his] where is_cancel=0

/**************************/

SET @RequestId=(SELECT SCOPE_IDENTITY())

UPDATE dbo.tbtrx_debetnote_his SET is_cancel=1 WHERE Id <> @RequestId
exec ip_dn_overbudget_by_prommoid @Id

SELECT RefId FROM dbo.tbtrx_debetnote where Id=@Id

--UPDATE dn
--SET IsOverBudget=IIF(ob.Remaining >= 0,0,1 )
--FROM dbo.tbtrx_debetnote dn
--INNER JOIN
--(
--SELECT
--pr.Id PromoId,
--pr.RefId RefId,
--pr.Investment,
--dn.id DNId,
--dn.TotalClaim,
--SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
----pr.Investment-SUM (isnull(dn.TotalClaim,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
---- pr.Investment-SUM (isnull(dn.DPP,0)) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
--pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
--from dbo.tbtrx_promo pr
--left join  dbo.tbtrx_debetnote dn
--on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0)=0 AND isnull(dn.IsDNPromo, 0)=1
---- group by pr.Id, pr.RefId, pr.Investment, dn.id, dn.TotalClaim
--) ob ON dn.Id=ob.DNId
---- where
---- dn.Id=@Id
--


COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
             @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );
END CATCH
GO
