USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_cancelreason]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,maybs>
-- Create date: <Create 20190921,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_mst_cancelreason]
	-- Add the parameters for the stored procedure here
    @id int,
	@longdesc	VARCHAR(100),
	@userid		VARCHAR(25),
	@status int
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ERROR VARCHAR(100);
    IF @status=0 --insert data
    BEGIN
        IF EXISTS(SELECT TOP 1 LongDesc FROM [dbo].[tbmst_cancelreason] WITH(NOLOCK) WHERE LongDesc=@longdesc)
        BEGIN
            SET @ERROR ='DATA <' + @longdesc + '> IS AVAILABLE.'
            RAISERROR (@ERROR, 18, 1)
            RETURN
        END
        ELSE
        BEGIN
            INSERT INTO [dbo].[tbmst_cancelreason](LongDesc,CreateOn,CreateBy,IsDeleted)
            VALUES (@longdesc, @utcDate123, @userid, 0)
        END
    END

    IF @status=1 --update data
    BEGIN
        IF NOT EXISTS(SELECT TOP 1 LongDesc FROM [dbo].[tbmst_cancelreason] WITH(NOLOCK) WHERE id=@id)
        BEGIN
            SET @ERROR ='DATA <' + @longdesc + '> IS NOT AVAILABLE.'
            RAISERROR (@ERROR, 18, 1)
            RETURN
        END
        ELSE
        BEGIN
            UPDATE tbmst_cancelreason SET
                LongDesc=@longdesc
                ,ModifiedBy=@userid
                ,ModifiedOn=@utcDate123
            WHERE id=@id
        END
    END

    IF @status=3 --delete data
    BEGIN
        IF NOT EXISTS(SELECT TOP 1 LongDesc FROM [dbo].[tbmst_cancelreason] WITH(NOLOCK) WHERE id=@id)
        BEGIN
            SET @ERROR ='DATA <' + @longdesc + '> IS NOT AVAILABLE.'
            RAISERROR (@ERROR, 18, 1)
            RETURN
        END
        ELSE
        BEGIN
            UPDATE tbmst_cancelreason SET
                IsDeleted=1
                ,DeletedBy=@userid
                ,DeletedOn=@utcDate123
            WHERE id=@id
        END
    END

END
GO
