

/****** Object:  StoredProcedure [dbo].[ip_skp_draft]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_skp_draft] --9
	@Id				INT
AS
BEGIN
	/*
	 * Cek SKP Draft
	 */
-- 	iF EXISTS
-- 	(
-- 		SELECT tp.id, tp.RefId
-- 		from tbtrx_promo tp
-- --		inner join dbo.tbtrx_promo_doclink doc on tp.id=doc.promoid and doc.doclink='row1'
-- 		inner join tbtrx_promo_channel tpc  on tp.id=tpc.PromoId
-- 		inner join tbset_map_channel_subactivity_skp_draft tmcssd on tp.SubActivityId = tmcssd.SubActivityId and tpc.ChannelId = tmcssd.ChannelId and tmcssd.SKP_Draft = 1
-- 		where tp.id=@id
-- 	)
-- 	BEGIN
		SELECT 
			tp.id
			, tp.RefId
			, tpc.ChannelId
			, tc.LongDesc Channel
			, tps.SubChannelId
			, ts.LongDesc SubChannel
			, tpa.AccountId
			, ta.LongDesc Account
			, tps2.SubAccountId
			, ts2.LongDesc SubAccount
			, tp.CreateBy Initiator
			, initiatorx.username InitiatorName --tu.username 
			, initiatorx.jobtitle
			, initiatorx.email
			, initiatorx.contactinfo
			, tb.PrincipalId EntityId
			, tp2.LongDesc Entity
			, tp.StartPromo
			, tp.EndPromo
			, tp.SubActivityId
			, ts3.LongDesc SubActivity
			, tp.Mechanisme1
			, brand.brandDesc
			, sku.skuDesc
			, tb.DistributorId
			, td.LongDesc Distributor 
			, isnull(investment.Investment, 0) Investment --tp.Investment
			, 0 NormalSales --tp.NormalSales 
			, 0 IncrSales --tp.IncrSales
			, tp.NormalSales+tp.IncrSales TotalSales
			, tp.CostRatio
			, tp.TsCoding 
		FROM tbtrx_promo AS tp WITH(NOLOCK)
		LEFT JOIN tbtrx_promo_channel tpc WITH(NOLOCK) ON tp.id=tpc.PromoId 
		INNER JOIN tbmst_channel tc WITH(NOLOCK) ON tpc.ChannelId = tc.Id 	
		LEFT JOIN tbtrx_promo_subchannel tps WITH(NOLOCK) ON tp.id=tps.PromoId 
		INNER JOIN tbmst_subchannel ts WITH(NOLOCK) ON tps.SubChannelId = ts.id
		LEFT JOIN tbtrx_promo_account tpa WITH(NOLOCK) ON tp.id=tpa.PromoId 
		INNER JOIN tbmst_account ta WITH(NOLOCK) ON tpa.AccountId = ta.id
		LEFT JOIN tbtrx_promo_subaccount tps2 WITH(NOLOCK) ON tp.id=tps2.PromoId 
		INNER JOIN tbmst_subaccount ts2 WITH(NOLOCK) ON tps2.SubAccountId = ts2.id
		INNER JOIN tbset_user tu WITH(NOLOCK) ON tp.CreateBy = tu.id 
		INNER JOIN tbtrx_allocation ta2 WITH(NOLOCK) ON tp.AllocationId = ta2.Id 
		INNER JOIN tbtrx_budgetmaster tb WITH(NOLOCK) ON ta2.BudgetMasterId = tb.Id 
		INNER JOIN tbmst_principal tp2 WITH(NOLOCK) ON tb.PrincipalId = tp2.id
		INNER JOIN tbmst_subactivity ts3 WITH(NOLOCK) ON tp.SubActivityId = ts3.Id 
		INNER JOIN tbmst_distributor td WITH(NOLOCK) ON tb.DistributorId = td.id
		LEFT JOIN
		(
			select PromoId,
			STUFF(
					(select ',' + sub.LongDesc 
						FROM tbtrx_promo_brand a
						INNER JOIN tbmst_brand sub ON a.brandId=sub.Id
						INNER JOIN tbtrx_promo tp ON a.PromoId = tp.id
						INNER JOIN tbtrx_allocation_brand d ON tp.AllocationId = d.AllocationId AND d.BrandId = a.BrandId 
						WHERE a.PromoId=b.PromoId
						FOR XML PATH ('')),1,1,'') AS brandDesc
				FROM tbtrx_promo_brand b INNER JOIN tbtrx_promo c ON Id=PromoId 
				GROUP BY PromoId
		) brand
		on tp.Id = brand.PromoId
		LEFT JOIN
		(
			select PromoId,
			STUFF(
					(select ',' + sub.LongDesc 
						from tbtrx_promo_product a
						inner join tbmst_product sub ON a.ProductId=sub.Id
						INNER JOIN tbtrx_promo tp ON a.PromoId = tp.id
						INNER JOIN tbtrx_allocation_product d ON tp.AllocationId = d.AllocationId AND d.ProductId = a.ProductId 
						where a.PromoId=b.PromoId
						FOR XML PATH ('')),1,1,'') AS skuDesc
				FROM tbtrx_promo_product b INNER JOIN tbtrx_promo c ON Id=PromoId  
				GROUP BY PromoId
		) sku
		on tp.Id = sku.PromoId
		LEFT JOIN (
			SELECT a.id, a.Investment FROM tbtrx_promo a 
			INNER JOIN tbtrx_promo_channel b ON a.id=b.PromoId 
-- 			WHERE b.ChannelId IN (4, 7, 2, 10, 8) -- LKA, MOM & BABY SHOP, PHARMA, E-COMMERCE, PROVISION, MTI minus PHARMA
		) investment ON tp.id=investment.id
		LEFT JOIN (
			SELECT a.Id, d.username, d.jobtitle, d.email, d.contactinfo FROM tbtrx_promo a 
			INNER JOIN tbtrx_promo_subaccount b ON a.id=b.PromoId 
			INNER JOIN tbset_map_user_subaccount_skp_draft c ON b.SubAccountId = c.id
			INNER JOIN tbset_user d ON a.CreateBy = d.id
		) initiatorx ON tp.id=initiatorx.Id	
		WHERE tp.id=@id
-- 	END
END
GO
