USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_ssvalue_get]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ss_ssvalue_get] 
	@period int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @groupbrandid int

AS

--period: 2025
--groupBrandId: 1
--startDate: 2025-01-01
--endDate: 2025-12-31
--channelId: 13
--subChannelId: 0
--accountId: 0
--subAccountId: 0

--DECLARE
--	@period int
--	, @channelid int
--	, @subchannelid int
--	, @accountid int
--	, @subaccountid int
--	, @groupbrandid int


--	SET @period = 2025
--	SET @channelid = 13
--	SET @subchannelid = 0
--	SET @accountid = 0
--	SET @subaccountid = 0
--	SET @groupbrandid = 1
	
	----EXEC [ip_ss_ssvalue_get] @period, @channelid, @subchannelid, @accountid, @subaccountid, @groupbrandid

BEGIN
	DECLARE @ssvalue numeric(18,0)

IF @subchannelid=0 AND @accountid=0 AND @subaccountid=0 /*PS VALUE for DC*/
BEGIN
		select @ssvalue = ROUND(ISNULL(SUM(ISNULL(a.m1,0) +
			ISNULL(a.m2,0) +
			ISNULL(a.m3,0) +
			ISNULL(a.m4,0) +
			ISNULL(a.m5,0) +
			ISNULL(a.m6,0) +
			ISNULL(a.m7,0) +
			ISNULL(a.m8,0) +
			ISNULL(a.m9,0) +
			ISNULL(a.m10,0) +
			ISNULL(a.m11,0) +
			ISNULL(a.m12,0) ) 	,0),0)
		from tbtrx_ps_value a
		where 
			a.period= @period
			AND a.groupbrandid = @groupbrandid
		GROUP BY a.period, a.groupbrandid

END
ELSE
	BEGIN
		select 
			a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
			,ROUND(SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
			ISNULL(a.m2,0) * ISNULL(b.m2,0)+
			ISNULL(a.m3,0) * ISNULL(b.m3,0)+
			ISNULL(a.m4,0) * ISNULL(b.m4,0)+
			ISNULL(a.m5,0) * ISNULL(b.m5,0)+
			ISNULL(a.m6,0) * ISNULL(b.m6,0)+
			ISNULL(a.m7,0) * ISNULL(b.m7,0)+
			ISNULL(a.m8,0) * ISNULL(b.m8,0)+
			ISNULL(a.m9,0) * ISNULL(b.m9,0)+
			ISNULL(a.m10,0) * ISNULL(b.m10,0)+
			ISNULL(a.m11,0) * ISNULL(b.m11,0)+
			ISNULL(a.m12,0) * ISNULL(b.m12,0)),0) ssvalue
			--, ROUND(SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
			--ISNULL(a.m2,0) * ISNULL(b.m2,0)+
			--ISNULL(a.m3,0) * ISNULL(b.m3,0)+
			--ISNULL(a.m4,0) * ISNULL(b.m4,0)+
			--ISNULL(a.m5,0) * ISNULL(b.m5,0)+
			--ISNULL(a.m6,0) * ISNULL(b.m6,0)+
			--ISNULL(a.m7,0) * ISNULL(b.m7,0)+
			--ISNULL(a.m8,0) * ISNULL(b.m8,0)+
			--ISNULL(a.m9,0) * ISNULL(b.m9,0)+
			--ISNULL(a.m10,0) * ISNULL(b.m10,0)+
			--ISNULL(a.m11,0) * ISNULL(b.m11,0)+
			--ISNULL(a.m12,0) * ISNULL(b.m12,0)) * @tt/100 ,0)budgetamount
		from tbtrx_ss_volume a
		INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
		where 
			a.period= @period
			AND a.channelid = @channelid
			AND a.subchannelid = @subchannelid
			AND a.accountid = @accountid
			AND a.subaccountid = @subaccountid
			AND a.groupbrandid = @groupbrandid
		GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid

		select @ssvalue = ROUND(ISNULL(SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
			ISNULL(a.m2,0) * ISNULL(b.m2,0)+
			ISNULL(a.m3,0) * ISNULL(b.m3,0)+
			ISNULL(a.m4,0) * ISNULL(b.m4,0)+
			ISNULL(a.m5,0) * ISNULL(b.m5,0)+
			ISNULL(a.m6,0) * ISNULL(b.m6,0)+
			ISNULL(a.m7,0) * ISNULL(b.m7,0)+
			ISNULL(a.m8,0) * ISNULL(b.m8,0)+
			ISNULL(a.m9,0) * ISNULL(b.m9,0)+
			ISNULL(a.m10,0) * ISNULL(b.m10,0)+
			ISNULL(a.m11,0) * ISNULL(b.m11,0)+
			ISNULL(a.m12,0) * ISNULL(b.m12,0)) 	,0),0)
		from tbtrx_ss_volume a
		INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
		where 
			a.period= @period
			AND a.channelid = @channelid
			AND a.subchannelid = @subchannelid
			AND a.accountid = @accountid
			AND a.subaccountid = @subaccountid
			AND a.groupbrandid = @groupbrandid
		GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		--RETURN @ssvalue
	END
END
GO
