USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_summary_aging_approval]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_summary_aging_approval] --'2020',0,0,0,'0','admin'
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

AS

--declare 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel varchar(50)
--,@userid varchar(50)

--SET @periode='2021'
--SET @entity=0
--SET @distributor=0
--SET @budgetparent=0
--SET @channel='0'
--SET @userid='admin'

declare @sqlstr as nvarchar(max)

BEGIN


--DECLARE @Temp TABLE
--	(
--	  BudgetParent int, 
--	  Levels int,
--	  BudgetId int
--	)
--	;

--	declare @p_alcid int;

--	DECLARE 
--		@product_name int
    
 
--	DECLARE cursor_product CURSOR
--	FOR SELECT 
--			c.Id
        
--		FROM 
--			tbtrx_allocation c
--			inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
--			left join tbmst_distributor d on m.DistributorId=d.Id
--			left join tbmst_principal p on m.PrincipalId=p.Id
--			where BudgetType='BAL' and m.Periode=@periode
--			AND IIF(@budgetparent=0,'',BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
--		    AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
--			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)

 
--	OPEN cursor_product;
 

--	FETCH NEXT FROM cursor_product INTO 
--		@product_name
    
 
--	WHILE @@FETCH_STATUS = 0
--		BEGIN
        
		
--		SET @p_alcid=@product_name;
		
--			/***/

--				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
--				as
--				(
--				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
--				union all
--				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
--				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
--				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
--				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				
--				)
				
		
--	INSERT INTO @Temp
--	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE 
--	INNER JOIN vw_budget_vs_user alcusr on BDG_CHILD=alcusr.AllocationId and alcusr.Id=@userid
--	option (maxrecursion 0);
		 
--			FETCH NEXT FROM cursor_product INTO 
--				@product_name 
            
--		END;
 
--	CLOSE cursor_product;
 
--	DEALLOCATE cursor_product;



SELECT
--grouping([Approver UserName]),
--grouping([Approver Id]),
--grouping([Promo No]),
ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) line_index
,(CASE WHEN grouping([Approver UserName])=0 and 
grouping([Approver Id])=1 and 
grouping([Promo No])=1
THEN 'Subtotal'
ELSE
CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN [Approver UserName] ELSE '' END
END) [user_name]
--  ,CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN isnull([Approver Id],'') ELSE isnull([Approver Id],'') END user_id
,(CASE WHEN grouping([Approver UserName])=1 and 
grouping([Approver Id])=0 and 
grouping([Promo No])=1
THEN 'Subtotal'
ELSE
CASE WHEN ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]) = 1 THEN isnull([Approver Id],'') ELSE '' END
END) [user_id]

  ,(CASE WHEN grouping([Approver UserName])=0 and 
	grouping([Approver Id])=1 and 
	grouping([Promo No])=1
	THEN 
		CAST((ROW_NUMBER() OVER (PARTITION BY [Approver Id] ORDER BY [Approver Id]))-1 AS VARCHAR)
	ELSE
		CAST([Promo No] AS VARCHAR)
	END) promo_ref_id
  ,SUM([Aging]) aging 
  ,IIF(SUM(Agingpenyebut)>0,  ROUND(sum(aging) * 1.00 / sum(agingpenyebut) * 1.00, 0), 0) avgAging
  FROM VW_HISTORICAL_APPROVAL his
  inner join tbtrx_allocation c on his.AllocationId=c.Id 
  inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
  
  left join
			(
				select PromoId,
				STUFF(
						(select ',' + CAST(chn.Id AS VARCHAR) 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH ('')),1,1,'') AS ChannelId
				,STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) chn
			on c.Id = chn.PromoId
  WHERE 
  [Budget Periode] = @periode  
	AND IIF(@entity='0','',m.principalid) =IIF(@entity='0','',@entity)
--  and IIF(@channel='0','',chn.ChannelId) =IIF(@channel='0','',@channel)
  --AND IIF(@userid='0','',usr.userId) =IIF(@userid='0','',@userid)
  --AND Aging > 0
--  AND his.id=67
  AND EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=his.AllocationId)

  GROUP BY grouping sets(([Approver Id],[Approver UserName],[Promo No])
  						, ([Approver Id])					   
--  						, ([Approver UserName])					   
                      )
order by line_index
END
GO
