USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_overbudget_by_prommoid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_dn_overbudget_by_prommoid]
@promoid int
as
BEGIN
--     select ob.dt,dn.id, dn.RefId, IIF(ob.remaining >=0 ,0,1)
	UPDATE dn
	SET IsOverBudget=IIF(ob.remaining >=0 ,0,1)
	FROM tbtrx_debetnote dn
	INNER JOIN
	(
        SELECT
        pr.Id PromoId,
        pr.RefId RefId,
        pr.investmentForDN investment,
        dn.id DNId,
        dn.TotalClaim,
        b.dt,        
        SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY iif(dn.LastStatus ='confirm_paid',0,1), b.sequence desc,b.dt asc, b.id ) AS RunningClaim,
        pr.investmentForDN-SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) OVER (Partition by pr.id ORDER BY iif(dn.LastStatus ='confirm_paid',0,1), b.sequence desc,b.dt asc, b.id) Remaining        
        from tbtrx_promo pr
        inner join  tbtrx_debetnote dn on pr.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 AND pr.Id=@PromoId
        inner join (
            select a.id, iif(a.ModifiedOn is null, a.CreateOn, a.ModifiedOn) dt, 
			CASE 
		    	WHEN a.laststatus='created' THEN 1 
		    	WHEN a.laststatus='send_to_dist_ho' THEN 2
		    	WHEN a.laststatus='validate_by_dist_ho' THEN 3
				WHEN a.laststatus='send_to_danone' THEN 4
				WHEN a.laststatus='received_by_danone' THEN 5
				WHEN a.laststatus='validate_by_sales' THEN 6
				WHEN a.laststatus='validate_by_finance' THEN 7
				WHEN a.laststatus='validate_by_danone' THEN 8
				WHEN a.laststatus='ready_to_invoice' THEN 9
				WHEN a.laststatus='invoice' THEN 10
				WHEN a.laststatus='confirm_paid' THEN 11    	
			END sequence
            from tbtrx_debetnote a        
        ) b on dn.id=b.id
	) ob ON dn.Id=ob.DNId

	
	/* from init table for DEPLOY */
	--DROP TABLE IF EXISTS #temp_dn;
	--SELECT dn.promoId, SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))) totalClaim
	--	INTO #temp_dn
	--	FROM tbtrx_debetnote dn 
	--	WHERE isnull(dn.promoid, 0) <> 0
	--GROUP BY dn.PromoId 
	--
	--INSERT INTO tbtrx_debetnote_overbudget_status(dnId, promoId, investment, investmentForDN, StatusApprovalCodeRecon, totalClaim, isOverBudget, overBudgetStatus)	
	--SELECT dn.id, dn.PromoId, tp.Investment, tp.investmentForDN, tpar.status, totalClaim.totalClaim, dn.isOverBudget, 0
	--FROM tbtrx_promo tp WITH (NOLOCK)
	--INNER JOIN tbtrx_promo_request_approval_recon tprar WITH (NOLOCK) ON tp.id = tprar.ParentId AND isnull(tprar.IsCancel, 0) = 0
	--INNER JOIN tbtrx_promo_approval_recon tpar on tprar.id = tpar.requestid AND tpar.sequence = 1
	--INNER JOIN tbtrx_debetnote dn WITH (NOLOCK) ON tp.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0
	--INNER JOIN (
	--    SELECT id, iif(ModifiedOn is null, CreateOn, ModifiedOn) dt FROM tbtrx_debetnote a WITH (NOLOCK)
	--) b ON dn.id=b.id
	--INNER JOIN #temp_dn totalClaim ON tp.id = totalClaim.promoId
	/****************************************/
	
	
	DECLARE @totalClaim numeric(19,2)
	SELECT @totalClaim = SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0)))
		FROM tbtrx_debetnote dn WHERE dn.promoid = @promoId AND isnull(dn.IsCancel,0)=0
		
	UPDATE tdo
		SET tdo.promoId = dn.PromoId 
			, tdo.investment = tp.Investment 
			, tdo.investmentForDN = tp.investmentForDN 
			, tdo.totalClaim = @totalClaim
			, tdo.StatusApprovalCodeRecon = tpar.status
			, tdo.isOverBudget = dn.IsOverBudget 
			, tdo.overBudgetStatus = iif(isnull(dn.IsOverBudget, 0) = 0, 0, iif(tp.InvestmentForDN>=@totalClaim, 0, iif(tp.investment>=@totalClaim and isnull(tpar.status, '')<>'TP2', 2, 1)))
	FROM tbtrx_promo tp
	LEFT JOIN tbtrx_promo_request_approval_recon tprar WITH (NOLOCK) ON tp.id = tprar.ParentId AND isnull(tprar.IsCancel, 0) = 0
	LEFT JOIN tbtrx_promo_approval_recon tpar on tprar.id = tpar.requestid AND tpar.sequence = 1
	INNER JOIN tbtrx_debetnote dn on tp.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 AND tp.Id = @promoId
	INNER JOIN (
	    SELECT id, iif(ModifiedOn is null, CreateOn, ModifiedOn) dt FROM tbtrx_debetnote a
	) b ON dn.id=b.id
	INNER JOIN tbtrx_debetnote_overbudget_status tdo ON dn.id = tdo.dnId

	INSERT INTO tbtrx_debetnote_overbudget_status(dnId, promoId, investment, investmentForDN, StatusApprovalCodeRecon, totalClaim, isOverBudget, overBudgetStatus)	
	SELECT dn.id, dn.PromoId, tp.Investment, tp.investmentForDN, tpar.status, @totalClaim, dn.isOverBudget, iif(isnull(dn.IsOverBudget, 0) = 0, 0, iif(tp.InvestmentForDN>=@totalClaim, 0, iif(tp.investment>=@totalClaim and isnull(tpar.status, '')<>'TP2', 2, 1)))
	FROM tbtrx_promo tp
	LEFT JOIN tbtrx_promo_request_approval_recon tprar WITH (NOLOCK) ON tp.id = tprar.ParentId AND isnull(tprar.IsCancel, 0) = 0
	LEFT JOIN tbtrx_promo_approval_recon tpar on tprar.id = tpar.requestid AND tpar.sequence = 1
	INNER JOIN tbtrx_debetnote dn on tp.Id=dn.PromoId AND isnull(dn.IsCancel,0)=0 AND tp.Id = @promoId
	INNER JOIN (
	    SELECT id, iif(ModifiedOn is null, CreateOn, ModifiedOn) dt FROM tbtrx_debetnote a
	) b ON dn.id=b.id
	LEFT JOIN tbtrx_debetnote_overbudget_status tdo ON dn.id = tdo.dnId
	WHERE tdo.dnId IS NULL
	
END
GO
