

/****** Object:  StoredProcedure [dbo].[ip_promo_tobecreated]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_promo_tobecreated] --'2020',2,2,'1900-01-01','9999-12-31','1900-01-01','9999-12-31','kamsat', 0, 10
	@userid varchar(50)
	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE
--	@userid varchar(50)
--	,@start int
--	,@length int
--	,@filter varchar(255)
--	,@txtSearch varchar(255)

--	SET @userid ='KAMSAT'
--	SET @start =0
--	SET @length =-1
--	SET @filter =''
--	SET @txtSearch =''

BEGIN
	SET @start = @start * @length
    DECLARE @recordsFiltered int;
   
	DROP TABLE IF EXISTS #temp_planning;

    SELECT 
		pl.id PromoPlanId,
		pl.refid,pr.Id PromoId,
		pr.refid PromorefId,
		region.RegionDesc,
		brand.BrandDesc,
		subaccount.SubAccountDesc,
		pl.StartPromo,
		pl.EndPromo,
		pl.ActivityDesc,
		pl.Investment,
		IIF(pl.IsCancel=1, 'Cancelled by ' + CAST(pl.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pl.CancelOn as varchar), IIF(ISNULL(pl.tscode, '')='', 'waiting for approval', 'approved')) LastStatus,
		pl.tscode,
		EntityId,
		pcp.LongDesc EntityLongDesc,
		pcp.ShortDesc EntityShortDesc,
		pl.DistributorId,
		dis.LongDesc DistributorLongDesc,
		dis.ShortDesc DistributorShortDesc,
		mechanism.mechanism mechanism,
		pl.Mechanisme1,
		pl.Mechanisme2,
		pl.Mechanisme3,
		pl.Mechanisme4,
		pl.CancelNotes,
		ISNULL(pl.IsCancel, 0) as IsCancel,
		pl.TSCodeOn,
		pl.TSCodeBy,
		pl.initiator_notes
		INTO #temp_planning
	    FROM tbtrx_promo_planning pl
		LEFT JOIN 
			(
				SELECT PromoPlanId,
					STUFF
						(
                            (
								SELECT ',' + reg.LongDesc
									FROM tbtrx_promo_planning_region a
									JOIN tbmst_region reg ON a.RegionId=reg.Id
									WHERE a.PromoPlanId=b.PromoPlanId
									FOR XML PATH ('')
							),1,1,''
						) AS RegionDesc
					FROM tbtrx_promo_planning_region b LEFT JOIN tbtrx_promo_planning ON Id=PromoPlanId  GROUP BY PromoPlanId
			) region ON pl.Id = region.PromoPlanId
		LEFT JOIN 
			(
				SELECT 
					PromoPlanId,
                    STUFF
						(
                            (
								SELECT ',' + sub.LongDesc
									FROM tbtrx_promo_planning_subaccount a
									JOIN tbmst_subaccount sub ON a.SubAccountId=sub.Id
									where a.PromoPlanId=b.PromoPlanId
									FOR XML PATH ('')
							),1,1,''
						) AS SubAccountDesc
					FROM tbtrx_promo_planning_subaccount b LEFT JOIN tbtrx_promo_planning ON Id=PromoPlanId  GROUP BY PromoPlanId
                ) subaccount ON pl.Id = subaccount.PromoPlanId
		LEFT JOIN 
			(
				SELECT PromoPlanId,
                    STUFF
						(
                            (
								SELECT ',' + sub.LongDesc
									FROM tbtrx_promo_planning_brand a
									JOIN tbmst_brand sub ON a.brandId=sub.Id
									WHERE a.PromoPlanId=b.PromoPlanId
									FOR XML PATH ('')
							),1,1,''
						) AS brandDesc
					FROM tbtrx_promo_planning_brand b LEFT JOIN tbtrx_promo_planning ON Id=PromoPlanId  GROUP BY PromoPlanId
			) brand ON pl.Id = brand.PromoPlanId
		LEFT JOIN 
			(
				SELECT PromoPlanId, STRING_AGG(CONCAT(a.mechanism, ' ', a.notes),'; ') mechanism
                    FROM tbtrx_promo_planning_mechanism a with (nolock)
					GROUP BY a.PromoPlanId
			) mechanism ON pl.Id = mechanism.PromoPlanId   

		LEFT JOIN tbmst_principal pcp on pl.EntityId=pcp.Id
		LEFT JOIN tbmst_distributor dis on pl.DistributorId=dis.Id
		LEFT JOIN tbset_user uo on uo.Id=pl.CancelBy
		LEFT JOIN tbtrx_promo pr on pl.Id=pr.PromoPlanId and pr.tscoding=pl.TSCode
		WHERE pr.RefId IS NULL
			AND ISNULL(pr.IsCancel,0)=0
			AND ISNULL(pl.IsCancel,0)=0
			and ISNULL(pl.TSCode,'')<>''
			AND DATEDIFF(DAY, @utcDate123, pl.StartPromo) <= 30
			AND IIF(@userid='0','',pl.CreateBy) =IIF(@userid='0','',@userid)
-- --------------------------------------------------------------------
    /**********************
        start pagination
     **********************/
    IF @length = -1
		BEGIN
			SELECT * FROM #temp_planning
				WHERE IIF(@txtSearch is null, '', refId + tsCode + EntityShortDesc + DistributorShortDesc + SubAccountDesc + BrandDesc + ActivityDesc) like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
				ORDER BY PromoPlanId ASC
		END
    ELSE
		BEGIN
			SELECT * FROM #temp_planning
				WHERE IIF(@txtSearch is null, '', refId + tsCode + EntityShortDesc + DistributorShortDesc + SubAccountDesc + BrandDesc + ActivityDesc) like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
				ORDER BY PromoPlanId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
		END

    SET @recordsFiltered = (SELECT ISNULL(count(PromoPlanId),0) FROM #temp_planning
        WHERE IIF(@txtSearch is null, '', refId + tsCode + EntityShortDesc + DistributorShortDesc + SubAccountDesc + BrandDesc + ActivityDesc) like IIF(@txtSearch is null,'','%' + @txtSearch + '%'))

    SELECT ISNULL(count(PromoPlanId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_planning
    DROP TABLE IF EXISTS #temp_planning
    /**********************
        end pagination
     **********************/

END
GO
