USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_refresh_baseline_job]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_refresh_baseline_job] 
as
SET NOCOUNT ON
declare 
	@promoplanid bigint 

declare cur_promoplanid cursor
	for select  id from tbtrx_promo_planning where isnull(iscancel,0)=0 and isnull(NormalSales,0)=0 --and refid='NIS/PL21-00122/TS'

open cur_promoplanid

fetch next from cur_promoplanid into @promoplanid
while @@FETCH_STATUS = 0
begin
        /*COMMAND HERE*/
		exec ip_refresh_baseline @promoplanid

        FETCH NEXT FROM cur_promoplanid INTO 
            @promoplanid
end
CLOSE cur_promoplanid
DEALLOCATE cur_promoplanid


GO
