USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getbaseline_hlp_job]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[ip_getbaseline_hlp_job] 
as
declare 
	@promoid bigint 

declare cur_promoid cursor
	for select id from tbtrx_promo where isnull(iscancel,0)=0

open cur_promoid

fetch next from cur_promoid into @promoid
while @@FETCH_STATUS = 0
begin
        /*COMMAND HERE*/
		exec ip_getbaseline_hlp @promoid

        FETCH NEXT FROM cur_promoid INTO 
            @promoid
end
CLOSE cur_promoid
DEALLOCATE cur_promoid

GO
