

/****** Object:  StoredProcedure [dbo].[ip_hierarchybudget_foradjust]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_hierarchybudget_foradjust]
	@period varchar(4),
	@entityid int,
	@budgetname varchar(255)
as
--declare
--	@period varchar(4),
--	@entityid int,
--	@budgetname varchar(255)
--	--@BudgetParent int

--set @period =2020
--set @entityid =4--4
--set @budgetname =''--'2020 NMN - National LKA Master Budget'

BEGIN
	declare @BudgetParent int

	DECLARE @Temp_BudgetParent TABLE
		(
		  BudgetParent int
		)
	DECLARE @Temp_BudgetParentx TABLE
		(
		  BudgetParent int
		)
/************************************************************************
get BAL
************************************************************************/
	declare cur_budgetid cursor
		for select a.id from tbtrx_allocation	a inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
			where a.BudgetType='BAL'
				AND IIF(isnull(@period,'')='','',b.Periode)=IIF(isnull(@period,'')='','',@period)
				AND IIF(isnull(@entityid,0)=0,0,b.PrincipalId)=IIF(isnull(@entityid,0)=0,0,@entityid)
				AND IIF(isnull(@budgetname,'')='','',a.longdesc)=IIF(isnull(@budgetname,'')='','',@budgetname)
	open cur_budgetid

	fetch next from cur_budgetid into @BudgetParent
		while @@FETCH_STATUS = 0
			begin
					/*COMMAND HERE*/
					insert into @Temp_BudgetParent (BudgetParent) values (@BudgetParent)

					FETCH NEXT FROM cur_budgetid INTO
						@BudgetParent
			end
	CLOSE cur_budgetid
	DEALLOCATE cur_budgetid

--select * from @Temp_BudgetParent
/********************************************************************************
gen hierarchy
********************************************************************************/
	DECLARE @Temp_all TABLE
					(
					BudgetParentID int,
					  BudgetParent int,
					  Levels int,
					  BudgetId int,
					  BudgetType varchar(3),
					  BudgetName varchar(255),
					  InitialBudgetAmount numeric(18,0),
					  PromoCreated numeric(18,0),
					  TotalSpending numeric(18,0),
					  DnClaim numeric(18,0),
					  DnPaid numeric(18,0),
					  Available numeric(18,0),
					  CategoryId int,
					  SubCategoryId int,
					  ActivityId int,
					  SubActivityId int,
					  CategoryDesc varchar(255),
					  SubCategoryDesc varchar(255),
					  ActivityDesc varchar(255),
					  SubActivityDesc varchar(255)
					)
					;

	declare cur_budgetid cursor
			for select BudgetParent from @Temp_BudgetParent

	open cur_budgetid
	fetch next from cur_budgetid into @BudgetParent
		while @@FETCH_STATUS = 0
			begin
		        /*COMMAND HERE*/

				DECLARE @Temp TABLE
					(
					  BudgetParent int,
					  Levels int,
					  BudgetId int,
					  BudgetType varchar(3),
					  BudgetName varchar(255),
					  InitialBudgetAmount numeric(18,0),
					  PromoCreated numeric(18,0),
					  TotalSpending numeric(18,0),
					  DnClaim numeric(18,0),
					  DnPaid numeric(18,0),
					  Available numeric(18,0)
					)
					;

					declare @p_alcid int;

					SET @p_alcid=@budgetparent;

							/***/

								with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
								as
								(
								select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
								union all
								select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a
								inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
								inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
								INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
								--where AllocationId=@p_alcid
								)


					INSERT INTO @Temp
					SELECT
					BDG_PARENT BudgetParent,
					Levels,
					PARENT.Id BudgetId,
					PARENT.BudgetType,
					PARENT.LongDesc BudgetName,
					PARENT.BudgetAmount as InitialBudgetAmount,
					coalesce(TPP.FixCost,0) AS PromoCreated,
					(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) AS TotalSpending,
					COALESCE(TPP.TotalClaim,0) DnClaim,
					COALESCE(TPP.TotalPaid,0) DnPaid,
					PARENT.BudgetAmount-(COALESCE(CHILD.BudgetAmount,0) + coalesce(TPP.FixCost,0)) as AVAILABLE
					FROM tbtrx_allocation PARENT
					LEFT JOIN
					(
							SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
							INNER JOIN
							(
								SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail
								LEFT JOIN
									tbtrx_budgetassignment
								ON
									tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
							) B
							ON A.BudgetSourceId=B.Id
								and A.BudgetType='BTR'
							where
							A.IsActive=1 GROUP BY B.AllocationId
					) CHILD ON PARENT.Id=CHILD.AllocationId

					left join
					(
							SELECT	tbtrx_promo.AllocationId AS AllocationId, b.longdesc,
											SUM(Investment) FixCost,
											SUM(ISNULL(TotalClaim, 0)) TotalClaim,
											SUM(ISNULL(TotalPaid, 0)) TotalPaid
									  FROM	tbtrx_promo
											inner join tbmst_subactivity a on tbtrx_promo.SubActivityId=a.id----------200324
											inner join tbmst_subactivity_type b on a.SubActivityTypeId=b.id----------200324
											LEFT JOIN (
															SELECT a.Id AS PromoId,
															SUM(ISNULL(TotalClaim, 0)) AS TotalClaim,
															SUM(ISNULL(TotalPaid, 0)) AS TotalPaid
															FROM tbtrx_promo a
															LEFT JOIN tbtrx_debetnote b
															ON a.Id = b.PromoId	and isnull(b.IsCancel,0)=0
															GROUP BY a.Id
											) DN
											ON
												DN.PromoId = tbtrx_promo.Id
											WHERE isnull(IsCancel,0)=0
										GROUP BY tbtrx_promo.AllocationId, b.longdesc
						)TPP ON TPP.AllocationId=PARENT.Id
					INNER JOIN (select BDG_PARENT,BDG_CHILD,Levels,Rownumber from CTE) sourcetbl ON sourcetbl.BDG_CHILD=PARENT.Id  order by Levels
					option (maxrecursion 0);

					insert into @Temp_all (BudgetParentID, BudgetParent, Levels,BudgetId,BudgetType,BudgetName,InitialBudgetAmount,PromoCreated,TotalSpending,DnClaim,DnPaid,Available)
						SELECT @BudgetParent, * FROM @Temp order by Levels,BudgetId
					delete from @Temp where 0=0
					insert into @Temp_BudgetParentx (BudgetParent) values (@BudgetParent)
				FETCH NEXT FROM cur_budgetid INTO
						@BudgetParent
			end
	CLOSE cur_budgetid
	DEALLOCATE cur_budgetid
/********************************************************************************/
			update a set
				a.subCategoryId = b.SubCategoryId
				,a.activityId = b.activityId
				,a.subactivityId = b.SubActivityId
				from @Temp_all a inner join tbtrx_allocation_detail b on a.BudgetId=b.AllocationId
			update a set
				a.categoryid = isnull(b.categoryId,0)
				,a.categorydesc = isnull(b.categorydesc,'')
				,a.subcategorydesc = isnull(b.subcategorydesc,'')
				from @Temp_all a left join vw_activity b on a.subcategoryid=b.subcategoryid
			update a set
				a.ActivityDesc= isnull(b.activitydesc,'')
				from @Temp_all a left join vw_activity b on a.subcategoryid=b.subcategoryid and a.ActivityId=b.ActivityId
			update a set
				a.SubActivityDesc= isnull(b.SubActivityDesc,'')
				from @Temp_all a left join vw_activity b on a.subcategoryid=b.subcategoryid and a.ActivityId=b.ActivityId and a.SubActivityId=b.SubActivityId

/********************************************************************************/
			select
			a.BudgetParentID,a.BudgetParent,a.Levels,a.BudgetId
			,b.BudgetName BudgetParentDesc, b.InitialBudgetAmount TotalAssignmentAmount
			,a.BudgetName AssignmentDesc, a.InitialBudgetAmount AssignmentAmount
			,'Auto' Approval
			, a.CategoryId, a.SubCategoryId,a.ActivityId,a.SubActivityId
			, a.CategoryDesc, a.SubCategoryDesc,a.ActivityDesc,a.SubActivityDesc
			from @Temp_all a left join @Temp_all b
				on a.BudgetParent=b.BudgetId
			where ISNULL(b.BudgetName,'')<>''
			order by a.budgetparentid,a.Levels,a.BudgetId
END
GO
