USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_sendback_distributor]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_debetnote_list_sendback_distributor] --'2020',0,0,0,0,'claimpku',0
@periode  varchar(4),
@entity int,
@distributor int,
@channel int,
@account int,
@userid varchar(50),
@isdnmanual bit
AS
BEGIN
	DECLARE @profitcenter varchar(10)
	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

	IF isnull(@profitcenter,'')='1100'
	BEGIN
		SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.TotalClaim
		,a.TotalPaid
		,a.LastStatus
		,a.IsFreeze
		,a.CreateOn
		,a.CreateBy
		,a.IsOverBudget
		,a.AssignBy
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,c.Id EntityId
		,c.LongDesc EntityLongDesc
		,c.ShortDesc EntityShortDesc
		,a.MemDocNo
		,a.IntDocNo
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.IsDNPromo
		,isnull(docFile.docCount, 0) as docCount
		,a.StatusSalesNotes remarkSales
--		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), tc.longDesc) dnCategory
		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), iif(isnull(a.promoid, 0) = 0, 'DN Manual', tc.longDesc)) dnCategory
		from tbtrx_debetnote a
		LEFT JOIN (
			select dnid, count(DocLink) as docCount from tbtrx_dn_doclink group by dnid
		) docFile on a.Id = docFile.dnid
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbmst_category tc on b.categoryId = tc.id
		LEFT JOIN tbmst_principal c on a.PrincipalId=c.Id
		WHERE IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
		AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)
		AND isnull(a.StatusSalesCode, '')= 'TP3'
	    AND isnull(a.IsCancel, 0) = 0
	END
	ELSE
	BEGIN
		SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.TotalClaim
		,a.TotalPaid
		,a.LastStatus
		,a.IsFreeze
		,a.CreateOn
		,a.CreateBy
		,a.IsOverBudget
		,a.AssignBy
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,c.Id EntityId
		,c.LongDesc EntityLongDesc
		,c.ShortDesc EntityShortDesc
		,a.MemDocNo
		,a.IntDocNo
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel
		,a.IsDNPromo
		,isnull(docFile.docCount, 0) as docCount
		,a.StatusSalesNotes remarkSales
--		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), tc.longDesc) dnCategory
		, iif(a.periode<='2023', iif(isnull(a.isDNPromo,0)=1, 'Promo', 'Non Promo'), iif(isnull(a.promoid, 0) = 0, 'DN Manual', tc.longDesc)) dnCategory
		from tbtrx_debetnote a
		LEFT JOIN (
			select dnid, count(DocLink) as docCount from tbtrx_dn_doclink group by dnid
		) docFile on a.Id = docFile.dnid
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbmst_category tc on b.categoryId = tc.id
		LEFT JOIN tbmst_principal c on a.PrincipalId=c.Id
		where
		IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
		AND IIF(@distributor=0,'',a.DistributorId) =IIF(@distributor=0,'',@distributor)
		AND EXISTS
		(
			SELECT DistributorId FROM tbset_user_distributor dis WHERE UserId=@userid and a.DistributorId=dis.DistributorId
		)	AND a.AreaCode=@profitcenter
		AND isnull(a.StatusSalesCode, '')= 'TP3'
	    AND isnull(a.IsCancel, 0) = 0
	END
END
GO
