

/****** Object:  StoredProcedure [dbo].[ip_budgetassignment_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_budgetassignment_update]
	@assignmentid int,
	@userid varchar(50),
	@budgetdetail BudgetAssignmentDetailUpdateType READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

DECLARE 
	@allocatedbudget varchar(255)
	,@messageout varchar (255)
	,@budgetexeeded varchar(255)
	,@allocation_longdesc varchar(255)

BEGIN TRY



BEGIN TRANSACTION
	
	SET @budgetexeeded=
	(
		SELECT TOP 1 b.[Desc] 
		FROM 
			tbtrx_allocation a
			INNER JOIN @budgetdetail b ON a.BudgetSourceId=b.Id
		where a.BudgetType='BTR' AND a.BudgetAmount > b.BudgetAmount AND b.Id <> 0
	)

	IF ISNULL(@budgetexeeded,'') <> ''
	BEGIN	
	SET @messageout='Budget Exeeded : ' + @budgetexeeded
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	END

	
	SET @allocatedbudget=
	(
		SELECT TOP 1 [Desc] 
		FROM tbtrx_budgetassignment_detail a 
		WHERE assignmentid=@assignmentid
		AND NOT EXISTS
		(
		SELECT Id FROM @budgetdetail b where a.Id=b.Id
		) 
		AND IsAllocated=1
	)

	IF isnull(@allocatedbudget,'') <> ''
	BEGIN	
	SET @messageout='Unable to remove allocated budget: ' + @allocatedbudget
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	END

	DELETE a
	FROM tbtrx_budgetassignment_detail a 
	WHERE assignmentid=@assignmentid
	AND NOT EXISTS
	(
	SELECT Id FROM @budgetdetail b where a.Id=b.Id
	)
	AND IsAllocated=0

	
	UPDATE a
	SET 
		a.BudgetAmount=b.BudgetAmount
		,a.[Desc]     =b.[Desc]
		,a.OwnId      =b.OwnId
	FROM 
		tbtrx_budgetassignment_detail a
		INNER JOIN @budgetdetail b on a.Id=b.Id


    UPDATE A
	SET A.LongDesc=C.[Desc]
	FROM tbtrx_allocation A 
	INNER JOIN tbtrx_budgetassignment_detail B
		ON A.BudgetSourceId=B.Id
    INNER JOIN @budgetdetail C 
		ON B.Id=C.Id

	UPDATE A
	SET A.LongDesc=C.[Desc]
	FROM tbtrx_allocation_detail A 
	INNER JOIN tbtrx_allocation X 
		ON A.AllocationId=X.Id
	INNER JOIN tbtrx_budgetassignment_detail B
		ON X.BudgetSourceId=B.Id
    INNER JOIN @budgetdetail C 
		ON B.Id=C.Id


		
		SET @allocation_longdesc=(
			SELECT LongDesc FROM tbtrx_allocation A WITH (NOLOCK) 
			INNER JOIN tbtrx_budgetassignment B WITH (NOLOCK) ON A.Id=B.AllocationId
			WHERE B.Id=@assignmentid
		)

		INSERT INTO tbtrx_budgetassignment_detail
		([AssignmentId]
		,[RefId]
		,[OwnId]
		,[Desc]
		,[BudgetAmount]
		,[IsAllocated]
		,[IsActive]
		,[IsLocked]
		,[CreateOn]
		,[CreateBy]
		)
		SELECT
		@assignmentid
		,@allocation_longdesc--RefId
		,OwnId
		,[Desc]
		,BudgetAmount
		,0
		,1
		,0
		,@utcDate123
		,@userid
		FROM @budgetdetail
		WHERE Id=0


COMMIT
	
END	TRY

BEGIN CATCH
	ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  

END CATCH


GO
