

/****** Object:  StoredProcedure [dbo].[ip_conf_roi_cr_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_conf_roi_cr_list]
    @CategoryId int,
    @SubCategoryId int,
    @ActivityId int
as
BEGIN
    select a.id, a.RefId, a.CategoryId, a.SubCategoryId, a.ActivityId, a.SubActivityTypeId, a.LongDesc, b.MinimumROI,b.MaksimumROI,b.MinimumCostRatio, b.MaksimumCostRatio
    from tbmst_subactivity a
    left join tbset_roi_cr b on a.id=b.id
    where isnull(a.IsDeleted, 0) = 0
    AND IIF(@CategoryId=0, 0, a.CategoryId) = IIF(@CategoryId=0, 0, @CategoryId)
    AND IIF(@SubCategoryId=0, 0, a.SubCategoryId) = IIF(@SubCategoryId=0, 0, @SubCategoryId)
    AND IIF(@ActivityId=0, 0, a.ActivityId) = IIF(@ActivityId=0, 0, @ActivityId)
END
GO
