USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_planning_v3_list_p]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_promo_planning_v3_list_p] --'2020',2,2,'1900-01-01','9999-12-31','1900-01-01','9999-12-31','kamsat', 0, 10
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@create_from date
	,@create_to date
	,@start_from date
	,@start_to date
	,@userid varchar(50)
	,@start int
	,@length int
	,@filter varchar(255)
	,@txtSearch varchar(255)
	,@order varchar(255)
	,@sort varchar(4)
AS
	--DECLARE
	-- @periode varchar(4)
	--,@entity int
	--,@distributor int
	--,@create_from date
	--,@create_to date
	--,@start_from date
	--,@start_to date
	--,@userid varchar(50)
	--,@start int
	--,@length int
	--,@filter varchar(255)
	--,@txtSearch varchar(255)
	--,@order varchar(255)
	--,@sort varchar(4)

	--SET @periode ='2020'
	--SET @entity = 0
	--SET @distributor =0
	--SET @userid='kamsat'
	--SET @create_from='1900-12-01'
	--SET @create_to='9999-12-31'
	--SET @start_from='1900-01-01'
	--SET @start_to='9999-12-01'
	--SET @start =0
	--SET @length =10
	--SET @filter =''
	--SET @txtSearch =''
	--SET @order =''
	--SET @sort ='asc'

BEGIN
	SET @order = IIF(ISNULL(@order,'')='','RefId', @order)
	SET @start = @start * @length

    DECLARE @recordsFiltered int;
    drop table if exists #temp_planning;

    SELECT pl.id PromoPlanId,
    pl.refid,pr.Id PromoId,
    pr.refid PromorefId,
    region.RegionDesc,
    brand.BrandDesc,
    subaccount.SubAccountDesc,
    pl.StartPromo,
    pl.EndPromo,
    pl.ActivityDesc,
    pl.Investment,
    --IIF(pl.LastStatus='created','waiting for approval',pl.LastStatus) LastStatus,
    IIF(pl.IsCancel=1, 'Cancelled by ' + CAST(pl.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pl.CancelOn as varchar), IIF(isnull(pl.tscode, '')='', 'waiting for approval', 'approved')) LastStatus,
    pl.tscode,
    pl.EntityId,
    pcp.LongDesc EntityLongDesc,
    pcp.ShortDesc EntityShortDesc,
    pl.DistributorId,
    dis.LongDesc DistributorLongDesc,
    dis.ShortDesc DistributorShortDesc,
    mechanism.mechanism Mechanism,
    pl.Mechanisme1,
    pl.Mechanisme2,
    pl.Mechanisme3,
    pl.Mechanisme4,
    pl.CancelNotes,
    isnull(pl.IsCancel, 0) as IsCancel,
    pl.TSCodeOn,
    pl.TSCodeBy,
    pl.initiator_notes
    ,pl.InvestmentTypeId 
    ,tit.RefId InvestmentTypeRefId
    ,tit.LongDesc InvestmentTypeDesc	     
    
    INTO #temp_planning
    FROM tbtrx_promo_planning pl
    left join tbmst_investment_type tit WITH(NOLOCK) on pl.InvestmentTypeId = tit.id 
    inner join
    (
        select PromoPlanId, string_agg(reg.LongDesc,', ') RegionDesc
                FROM tbtrx_promo_planning_region a with (nolock)
                INNER join tbmst_region reg with (nolock) ON a.RegionId=reg.Id
            GROUP BY a.PromoPlanId
    ) region on pl.Id = region.PromoPlanId
    inner join
    (
        select PromoPlanId, string_agg(sub.LongDesc,', ') SubAccountDesc
                FROM tbtrx_promo_planning_subaccount a with (nolock)
                INNER join tbmst_subaccount sub with (nolock) ON a.SubAccountId=sub.Id
            GROUP BY a.PromoPlanId
    ) subaccount on pl.Id = subaccount.PromoPlanId   
    inner join
    (
        select PromoPlanId, string_agg(sub.LongDesc,', ') BrandDesc
                FROM tbtrx_promo_planning_brand a with (nolock)
                INNER join tbmst_brand sub with (nolock) ON a.brandId=sub.Id
            GROUP BY a.PromoPlanId
    ) brand on pl.Id = brand.PromoPlanId
    inner join
    (
        select PromoPlanId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbtrx_promo_planning_mechanism a with (nolock)
            GROUP BY a.PromoPlanId
    ) mechanism on pl.Id = mechanism.PromoPlanId   
    
    inner join tbmst_principal pcp on pl.EntityId=pcp.Id
    inner join tbmst_distributor dis on pl.DistributorId=dis.Id
    left join tbset_user uo on uo.Id=pl.CancelBy
    left join tbtrx_promo pr on pl.Id=pr.PromoPlanId and pr.tscoding=pl.TSCode
	where
	IIF(@entity=0,'',pl.EntityId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',pl.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@userid='0','',pl.CreateBy) =IIF(@userid='0','',@userid)
	AND CONVERT(varchar(8),pl.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
	AND CONVERT(varchar(8),pl.EndPromo,112) <= convert(varchar(8),@start_to,112)
	
--	AND NOT (CONVERT(varchar(8),pl.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pl.EndPromo,112) < convert(varchar(8),@start_from,112))
--	AND (CONVERT(varchar(8),pl.CreateOn,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(6),pl.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))

    /**********************
        start pagination
     **********************/
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(@order is null,'PromoPlanId', @order)
    IF @length = -1
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_planning			
				ORDER BY ' + @order + ' ' + @sort

			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_planning
				WHERE 
					(refId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(tsCode like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EntityShortDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(DistributorShortDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubAccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(BrandDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Mechanism like ''%' + isnull(@txtSearch,'') + '%'') OR
					(startPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(endPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(investment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(lastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
					(CancelNotes like ''%' + isnull(@txtSearch,'') + '%'') OR
					(initiator_notes like ''%' + isnull(@txtSearch,'') + '%'') OR
					(tsCodeOn like ''%' + isnull(@txtSearch,'') + '%'') OR
					(tsCodeBy like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
                    (PromorefId like ''%' + isnull(@txtSearch,'') + '%'')

				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT * FROM #temp_planning
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT * FROM #temp_planning
				WHERE 
					(refId like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(tsCode like ''%' + isnull(@txtSearch,'') + '%'') OR
					(EntityShortDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(DistributorShortDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubAccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(BrandDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Mechanism like ''%' + isnull(@txtSearch,'') + '%'') OR
					(startPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(endPromo like ''%' + isnull(@txtSearch,'') + '%'') OR
					(investment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(lastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
					(CancelNotes like ''%' + isnull(@txtSearch,'') + '%'') OR
					(initiator_notes like ''%' + isnull(@txtSearch,'') + '%'') OR
					(tsCodeOn like ''%' + isnull(@txtSearch,'') + '%'') OR
					(tsCodeBy like ''%' + isnull(@txtSearch,'') + '%'') OR
                    (PromorefId like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
    
    SET @recordsFiltered = (
    	SELECT isnull(count(PromoPlanId),0) FROM #temp_planning
		WHERE 
			(refId like '%' + isnull(@txtSearch, '') + '%') OR
			(tsCode like '%' + isnull(@txtSearch, '') + '%') OR
			(EntityShortDesc like '%' + isnull(@txtSearch, '') + '%') OR
			(DistributorShortDesc like '%' + isnull(@txtSearch, '') + '%') OR
			(SubAccountDesc like '%' + isnull(@txtSearch, '') + '%') OR
			(BrandDesc like '%' + isnull(@txtSearch, '') + '%') OR
			(Mechanism like '%' + isnull(@txtSearch,'') + '%') OR
			(startPromo like '%' + isnull(@txtSearch,'') + '%') OR
			(endPromo like '%' + isnull(@txtSearch,'') + '%') OR
			(investment like '%' + isnull(@txtSearch,'') + '%') OR
			(lastStatus like '%' + isnull(@txtSearch,'') + '%') OR
			(CancelNotes like '%' + isnull(@txtSearch,'') + '%') OR
			(initiator_notes like '%' + isnull(@txtSearch,'') + '%') OR
			(tsCodeOn like '%' + isnull(@txtSearch,'') + '%') OR
			(tsCodeBy like '%' + isnull(@txtSearch,'') + '%') OR
            (PromorefId like '%' + isnull(@txtSearch,'') + '%') OR
			(ActivityDesc like '%' + isnull(@txtSearch, '') + '%')
		)

	SELECT isnull(count(PromoPlanId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_planning
    drop table #temp_planning
    /**********************
        end pagination
     **********************/

END
GO
