

/****** Object:  StoredProcedure [dbo].[ip_blitz_transfer_notif_c]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_blitz_transfer_notif_c]
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin
	DECLARE @tableHTML  NVARCHAR(MAX)
	,@email_to varchar(100)
	,@email_cc varchar(100)
	,@email_subject varchar(100)
	,@isnodata bit

	select @email_to=email from tbset_user where id='admin'
	if datepart(WEEKDAY,@utcDate123)=1 -- monitor functionality every week
		begin 
			set @email_cc='lukman.handrianto@xvautomation.com; edy.jumantoro@xvautomation.com;'
		end
			else
				begin
					set @email_cc='Johan.FIRDAUS@danone.com;'
				end
-- 	set @email_to='lukman.handrianto@xvautomation.com'
-- 	set @email_cc='edy.jumantoro@xvautomation.com'
	
	set @email_subject = '[NOTIFICATION] BLITZ Transfer on Production'

		SELECT isnull(tbomc.[type],'-') [type]
			,isnull(tbomc.code,'-') code
			,isnull(tbomc.[desc],'-') [desc]
					  FROM tbtemp_blitz_optima_map_check as tbomc
					  ORDER BY tbomc.type;

	select @email_to email_to, @email_cc email_cc,@email_subject email_subject;
end

GO
