USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_user_profitcenter_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_user_profitcenter_ins]
	@IsNew           bit,
	@Id              Int,
	@ProfitCenter    varchar(10) ,
	@UserId          varchar(50),
	@UserLogin       varchar(100),
	@UserEmail       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
    ,@errCode int
    ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.UserId
                FROM tbset_map_user_profitcenter a
                where a.UserId = @UserId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping User Profit Center already exist';
                    SET @messageout='Mapping User Profit Center already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_user_profitcenter
                (
                   UserId
                  ,ProfitCenter
                  ,CreateOn
                  ,CreateBy
                  ,CreatedEmail
                )
                Values
                (
                   @UserId
                  ,@ProfitCenter
                  ,@CreatedOn
                  ,@UserLogin
                  ,@UserEmail
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_user_profitcenter
			SET
				ProfitCenter  = @ProfitCenter
				,UserId        = @UserId
				,ModifiedOn      = @CreatedOn
				,ModifiedBy      = @UserLogin
				,ModifiedEmail   = @UserEmail
			WHERE
				Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END

GO
