

/****** Object:  StoredProcedure [dbo].[ip_import_alloc_user]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_alloc_user]
@User ImportUserType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

insert into TempImportUserType
select * from @User

/***********
DELETE USER
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_useraccess ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @User temp on temp.Allocation=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_useraccess ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @User temp on temp.Derivative=al.LongDesc

/*****************
END DELETE USER
*****************/

/**************************
INSERT USER
***************************/

INSERT INTO tbtrx_allocation_useraccess(AllocationId,UserId,IsActive,CreateOn,CreateBy)
SELECT DISTINCT Id
,UserId
,IsActive
,CreateOn
,CreateBy
FROM
(
SELECT 
Id
,UserId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,UserId

FROM
(
SELECT Derivative, UserId
FROM   
  (
	SELECT Derivative, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]

   FROM @User) p  
UNPIVOT  
   (UserId FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
	  )  
)AS unpvt
)x 
--INNER JOIN tbset_user tus on tus.id=UserId
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Derivative

group by 

al.Id
,UserId
) XXX

UNION ALL

SELECT 
Id
,UserId
,1 IsActive
,@utcDate123 CreateOn
,@userid CreateBy
FROM
(
SELECT
al.Id
,UserId

FROM
(
SELECT Allocation, UserId
FROM   
  (SELECT Allocation, 
	[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
	[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
	[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
   FROM @User) p  
UNPIVOT  
   (UserId FOR Attribute IN   
      (
		[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
		[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
		[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
	  )  
)AS unpvt
)x 
--INNER JOIN tbset_user tus on tus.id=UserId
INNER JOIN tbtrx_allocation al on al.LongDesc=x.Allocation
group by 
al.Id
,UserId
) XXX
)XXXX
WHERE UserId <> ''

/********************
END INSERT CHANNEL
********************/

END
GO
