

/****** Object:  StoredProcedure [dbo].[ip_import_promo_plan]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_promo_plan]
@PromoPlan PromoPlanType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

MERGE tbtrx_promo_plan t
USING 
(
	SELECT * FROM @PromoPlan
) s
ON s.Periode=t.Periode
AND @userid=t.[Initiator]
AND s.LongDesc=t.LongDesc
WHEN MATCHED THEN
UPDATE
SET StartPromo=s.StartPromo
,EndPromo=s.EndPromo
WHEN NOT MATCHED THEN
INSERT
           ([Initiator]
           ,[Periode]
           ,[LongDesc]
           ,[StartPromo]
           ,[EndPromo]
           ,[IsCompleted]           
           ,[Notes]
           ,[IsActive]           
           ,[CreateOn]
           ,[CreateBy]
           )
     VALUES
           (@userid
           ,s.Periode
           ,s.LongDesc
           ,s.StartPromo
           ,s.EndPromo
           ,0           
           ,s.Notes
           ,1           
           ,@utcDate123
           ,@userid           
		   );




END
GO
