

/****** Object:  StoredProcedure [dbo].[ip_promo_aging_approval_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_aging_approval_p] --'2020',0,0,0,0,'scsh1'
@periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel varchar(50)
,@userid varchar(50)

,@start int
,@length int
,@txtSearch varchar(255)
,@order varchar(255)
,@sort varchar(4)

AS

--declare 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel varchar(50)
--,@userid varchar(50)

--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @periode='2025'
--SET @entity=0
--SET @distributor=0
--SET @budgetparent=0
--SET @channel='0'
--SET @userid='scsh1'
--SET @start=0
--SET @length=10
--SET @txtSearch='kamidm'
--SET @order='idx'
--SET @sort='asc'

DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	)
	;
    DECLARE @recordsFiltered int;
    drop table if exists #temp_aging;
    drop table if exists #temp_aging1;
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = 'idx'
	SET @start = @start * @length

drop table if exists #temp_aging
drop table if exists #temp_aging1
drop table if exists #temp_aging2

IF @periode<=2024
	BEGIN
		IF @budgetparent <> 0
			BEGIN
	
				declare @p_alcid int;

				DECLARE 
					@product_name int
    
 
				DECLARE cursor_product CURSOR
				FOR SELECT 
						Id
					FROM 
						tbtrx_allocation where BudgetType='BAL' and BudgetMasterId=@budgetparent;
 
				OPEN cursor_product;
 

				FETCH NEXT FROM cursor_product INTO 
					@product_name

 
				WHILE @@FETCH_STATUS = 0
					BEGIN        		
						SET @p_alcid=@product_name;
		
						/***/

							with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
							as
							(
								select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
								union all
								select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
								inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
								inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
								INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
							)
		
							INSERT INTO @Temp
								SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
								option (maxrecursion 0);		 
						FETCH NEXT FROM cursor_product INTO 
							@product_name 

					END;
 
				CLOSE cursor_product; 
				DEALLOCATE cursor_product;

				SELECT 
					ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) idx,
					(CASE WHEN grouping(PromoNumber)=0 and 
					grouping (pr.CreateBy)=1 and 
					grouping (Channel) = 1 and
					grouping (Account) = 1 and 
					grouping (pr.CreateOn) = 1 and 
					grouping (Activity) = 1 and
					grouping (SubActivity) = 1 and 
					grouping (StartPromo) = 1 and 
					grouping (EndPromo) = 1 and 
					grouping (PeriodePromo) = 1 and 
					grouping (ActivityDesc) = 1 and 
					grouping (TotInvest) = 1 and 
					grouping (LastStatus) = 1 and 
					grouping (Initiator) = 1 and 
					grouping (Approver1) = 1 and 
					grouping (Approver2) = 1 and 
					grouping (Approver3) = 1 and 
					grouping (Approver4) = 1 and 
					grouping (Approver5) = 1
					THEN 'Subtotal'
					ELSE
					PromoNumber 
					END) PromoNo
					,ISNULL(pr.CreateBy,'') InitiatorName
					,ISNULL(Channel,'') ChannelDesc
					,IIF(m.CategoryId<>3,'---', ISNULL(Account,'')) [AccountDesc]
					,pr.CreateOn EntryDate
					,IIF(m.CategoryId<>3,'---', ISNULL(Activity,'')) [Activity]
					,ISNULL(SubActivity,'') SubActivity
					,ISNULL(StartPromo,'') StartPeriode
					,ISNULL(EndPromo,'') EndPeriod
					,ISNULL(PeriodePromo,'') PromoPeriode
					,IIF(m.CategoryId<>3,'---', ISNULL(ActivityDesc,'')) [ActivityDesc]
					,ISNULL(Mechanisme1,'') Mechanisme1
					,ISNULL(Mechanisme2,'') Mechanisme2
					,ISNULL(Mechanisme3,'') Mechanisme3
					,ISNULL(Mechanisme4,'') Mechanisme4
					,TotInvest Investment
					,ISNULL(LastStatus,'') LastStatus
					,[Initiator]
					,Approver1
					,Approver2
					,Approver3
					,Approver4
					,Approver5
					,SUM(Aging) Aging 
					,ISNULL(Approver,'') Approver
					,m.categoryId
					INTO #temp_aging
					FROM vw_aging_detail pr
					inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id 
					inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
					left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
					left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
					INNER JOIN @temp temp on temp.BudgetId=Allocationid
					WHERE EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
					AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
					GROUP BY grouping sets((
							PromoNumber
							,m.CategoryId
							,pr.CreateBy
							,Channel
							,Account
							,pr.CreateOn
							,Activity
							,SubActivity
							,StartPromo
							,EndPromo
							,PeriodePromo
							,ActivityDesc
							,Mechanisme1
							,Mechanisme2
							,Mechanisme3
							,Mechanisme4
							,TotInvest
							,LastStatus
							,[Initiator]
							,Approver1
							,Approver2
							,Approver3
							,Approver4
							,Approver5
							,Approver
						),                       
						(PromoNumber)					   
					)


				/**********************
					start pagination
				 **********************/
				SET @recordsFiltered = (
    				SELECT isnull(count(idx),0) FROM #temp_aging
					WHERE 
						(PromoNo like '%' + isnull(@txtSearch,'') + '%') OR 
						(InitiatorName like '%' + isnull(@txtSearch,'') + '%') OR
						(ChannelDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(AccountDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(Activity like '%' + isnull(@txtSearch,'') + '%') OR
						(SubActivity like '%' + isnull(@txtSearch,'') + '%') OR
						(PromoPeriode like '%' + isnull(@txtSearch,'') + '%') OR
						(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(LastStatus like '%' + isnull(@txtSearch,'') + '%') OR
						(Approver like '%' + isnull(@txtSearch,'') + '%')
				)

				SELECT isnull(count(idx),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_aging
	
	
				IF @length = -1
				BEGIN
					IF @txtSearch is null
    				BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging			
							ORDER BY ' + @order + ' ' + @sort

						EXEC sys.sp_executesql @SQL
					END 
					ELSE 
					BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging 
							WHERE 
								(PromoNo like ''%' + isnull(@txtSearch,'') + '%'') OR 
								(InitiatorName like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ChannelDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(AccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Activity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(SubActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(PromoPeriode like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Approver like ''%' + isnull(@txtSearch,'') + '%'')
							ORDER BY ' + @order + ' ' + @sort
						EXEC sys.sp_executesql @SQL
					END
				END
				ELSE
				BEGIN
					IF @txtSearch is null
    				BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging 
							ORDER BY ' + @order + ' ' + @sort +' 
							OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
						EXEC sys.sp_executesql @SQL
					END 
					ELSE 
					BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging 
							WHERE 
								(PromoNo like ''%' + isnull(@txtSearch,'') + '%'') OR 
								(InitiatorName like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ChannelDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(AccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Activity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(SubActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(PromoPeriode like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Approver like ''%' + isnull(@txtSearch,'') + '%'')
							ORDER BY ' + @order + ' ' + @sort +' 
							OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
						EXEC sys.sp_executesql @SQL
					END	    
				END
        
				drop table #temp_aging
				/**********************
					end pagination
				 **********************/				
	
			END
		ELSE
			BEGIN

				SELECT 
					ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) idx,
					(CASE WHEN grouping(PromoNumber)=0 and 
					grouping (pr.CreateBy)=1 and 
					grouping (Channel) = 1 and
					grouping (Account) = 1 and 
					grouping (pr.CreateOn) = 1 and 
					grouping (Activity) = 1 and
					grouping (SubActivity) = 1 and 
					grouping (StartPromo) = 1 and 
					grouping (EndPromo) = 1 and 
					grouping (PeriodePromo) = 1 and 
					grouping (ActivityDesc) = 1 and 
					grouping (TotInvest) = 1 and 
					grouping (LastStatus) = 1 and 
					grouping (Initiator) = 1 and 
					grouping (Approver1) = 1 and 
					grouping (Approver2) = 1 and 
					grouping (Approver3) = 1 and 
					grouping (Approver4) = 1 and 
					grouping (Approver5) = 1
					THEN 'Subtotal'
					ELSE
					PromoNumber 
					END) PromoNo
					,ISNULL(pr.CreateBy,'') InitiatorName
					,ISNULL(Channel,'') ChannelDesc
					,IIF(m.CategoryId<>3,'---', ISNULL(Account,'')) [AccountDesc]
					,pr.CreateOn EntryDate
					,IIF(m.CategoryId<>3,'---', ISNULL(Activity,'')) [Activity]
					,ISNULL(SubActivity,'') SubActivity
					,ISNULL(StartPromo,'') StartPeriode
					,ISNULL(EndPromo,'') EndPeriod
					,ISNULL(PeriodePromo,'') PromoPeriode
					,ISNULL(ActivityDesc,'') ActivityDesc
					,ISNULL(Mechanisme1,'') Mechanisme1
					,ISNULL(Mechanisme2,'') Mechanisme2
					,ISNULL(Mechanisme3,'') Mechanisme3
					,ISNULL(Mechanisme4,'') Mechanisme4
					,TotInvest Investment
					,ISNULL(LastStatus,'') LastStatus
					,[Initiator]
					,Approver1
					,Approver2
					,Approver3
					,Approver4
					,Approver5
					,SUM(Aging) Aging 
					,ISNULL(Approver,'') Approver
					,m.categoryId
				INTO #temp_aging1
				FROM vw_aging_detail pr
				inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id 
				inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
				left join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
				left join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
				WHERE EXISTS(SELECT AllocationId FROM tbtrx_allocation_useraccess usr with (nolock) WHERE UserId=@userid AND usr.AllocationId=pr.AllocationId)
				AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				GROUP BY grouping sets((
						PromoNumber
						,m.CategoryId
						,pr.CreateBy
						,Channel
						,Account
						,pr.CreateOn
						,Activity
						,SubActivity
						,StartPromo
						,EndPromo
						,PeriodePromo
						,ActivityDesc
						,Mechanisme1
						,Mechanisme2
						,Mechanisme3
						,Mechanisme4
						,TotInvest
						,LastStatus
						,[Initiator]
						,Approver1
						,Approver2
						,Approver3
						,Approver4
						,Approver5
						,Approver
					),                       
					(PromoNumber)					   
				)

				/**********************
					start pagination
				 **********************/
				SET @recordsFiltered = (
    				SELECT isnull(count(idx),0) FROM #temp_aging1
					WHERE 
						(PromoNo like '%' + isnull(@txtSearch,'') + '%') OR 
						(InitiatorName like '%' + isnull(@txtSearch,'') + '%') OR
						(ChannelDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(AccountDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(Activity like '%' + isnull(@txtSearch,'') + '%') OR
						(SubActivity like '%' + isnull(@txtSearch,'') + '%') OR
						(PromoPeriode like '%' + isnull(@txtSearch,'') + '%') OR
						(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(LastStatus like '%' + isnull(@txtSearch,'') + '%') OR
						(Approver like '%' + isnull(@txtSearch,'') + '%')
				)

				SELECT isnull(count(idx),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_aging1
	
				IF @length = -1
				BEGIN
					IF @txtSearch is null
    				BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging1	
							ORDER BY ' + @order + ' ' + @sort

						EXEC sys.sp_executesql @SQL
					END 
					ELSE 
					BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging1 
							WHERE 
								(PromoNo like ''%' + isnull(@txtSearch,'') + '%'') OR 
								(InitiatorName like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ChannelDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(AccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Activity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(SubActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(PromoPeriode like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Approver like ''%' + isnull(@txtSearch,'') + '%'')
							ORDER BY ' + @order + ' ' + @sort
						EXEC sys.sp_executesql @SQL
					END
				END
				ELSE
				BEGIN
					IF @txtSearch is null
    				BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging1 
							ORDER BY idx ' + @sort +'  
							OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'

						EXEC sys.sp_executesql @SQL
					END 
					ELSE 
					BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging1 
							WHERE 
								(PromoNo like ''%' + isnull(@txtSearch,'') + '%'') OR 
								(InitiatorName like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ChannelDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(AccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Activity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(SubActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(PromoPeriode like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Approver like ''%' + isnull(@txtSearch,'') + '%'')
							ORDER BY ' + @order + ' ' + @sort +' 
							OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
						EXEC sys.sp_executesql @SQL
					END	    
				END
    
				drop table #temp_aging1
				/**********************
					end pagination
				 **********************/				

			END

	END
ELSE
	BEGIN
				SELECT 
					ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) idx,
					(CASE WHEN grouping(pr.PromoNumber)=0 and 
					grouping (pr.CreateBy)=1 and 
					grouping (pr.Channel) = 1 and
					grouping (pr.Account) = 1 and 
					grouping (pr.CreateOn) = 1 and 
					grouping (pr.Activity) = 1 and
					grouping (pr.SubActivity) = 1 and 
					grouping (pr.StartPromo) = 1 and 
					grouping (pr.EndPromo) = 1 and 
					grouping (pr.PeriodePromo) = 1 and 
					grouping (pr.ActivityDesc) = 1 and 
					grouping (pr.TotInvest) = 1 and 
					grouping (pr.LastStatus) = 1 and 
					grouping (pr.Initiator) = 1 and 
					grouping (pr.Approver1) = 1 and 
					grouping (pr.Approver2) = 1 and 
					grouping (pr.Approver3) = 1 and 
					grouping (pr.Approver4) = 1 and 
					grouping (pr.Approver5) = 1
					THEN 'Subtotal'
					ELSE
					pr.PromoNumber 
					END) PromoNo
					,ISNULL(pr.CreateBy,'') InitiatorName
					,ISNULL(Channel,'') ChannelDesc
					,IIF(tp.CategoryId<>3,'---', ISNULL(Account,'')) [AccountDesc]
					,pr.CreateOn EntryDate
					,IIF(tp.CategoryId<>3,'---', ISNULL(Activity,'')) [Activity]
					,ISNULL(SubActivity,'') SubActivity
					,ISNULL(pr.StartPromo,'') StartPeriode
					,ISNULL(pr.EndPromo,'') EndPeriod
					,ISNULL(PeriodePromo,'') PromoPeriode
					,IIF(tp.CategoryId<>3,'---', ISNULL(pr.ActivityDesc,'')) [ActivityDesc]
					,ISNULL(pr.Mechanisme1,'') Mechanisme1
					,ISNULL(pr.Mechanisme2,'') Mechanisme2
					,ISNULL(pr.Mechanisme3,'') Mechanisme3
					,ISNULL(pr.Mechanisme4,'') Mechanisme4
					,TotInvest Investment
					,ISNULL(pr.LastStatus,'') LastStatus
					,[Initiator]
					,Approver1
					,Approver2
					,Approver3
					,Approver4
					,Approver5
					,SUM(Aging) Aging 
					,ISNULL(pr.Approver,'') Approver
					,tp.categoryId
				INTO #temp_aging2
					FROM vw_aging_detail pr
				inner join tbtrx_promo tp on pr.PromoId=tp.Id and tp.Period=@periode
				inner join tbmst_distributor d with (nolock) on tp.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on tp.EntityId=p.Id
					AND IIF(@entity=0,'',tp.entityid) =IIF(@entity=0,'',@entity)
					AND IIF(@distributor=0,'',tp.DistributorId) =IIF(@distributor=0,'',@distributor)
			GROUP BY grouping sets((
					pr.PromoNumber
						,tp.CategoryId
						,pr.CreateBy
						,Channel
						,Account
						,pr.CreateOn
						,Activity
						,SubActivity
						,pr.StartPromo
						,pr.EndPromo
						,PeriodePromo
						,pr.ActivityDesc
						,pr.Mechanisme1
						,pr.Mechanisme2
						,pr.Mechanisme3
						,pr.Mechanisme4
						,TotInvest
						,pr.LastStatus
						,[Initiator]
						,Approver1
						,Approver2
						,Approver3
						,Approver4
						,Approver5
						,pr.Approver
					),                       
					(pr.PromoNumber)					   
				)

				/**********************
					start pagination
				 **********************/
				SET @recordsFiltered = (
    				SELECT isnull(count(idx),0) FROM #temp_aging2
					WHERE 
						(PromoNo like '%' + isnull(@txtSearch,'') + '%') OR 
						(InitiatorName like '%' + isnull(@txtSearch,'') + '%') OR
						(ChannelDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(AccountDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(Activity like '%' + isnull(@txtSearch,'') + '%') OR
						(SubActivity like '%' + isnull(@txtSearch,'') + '%') OR
						(PromoPeriode like '%' + isnull(@txtSearch,'') + '%') OR
						(ActivityDesc like '%' + isnull(@txtSearch,'') + '%') OR
						(LastStatus like '%' + isnull(@txtSearch,'') + '%') OR
						(Approver like '%' + isnull(@txtSearch,'') + '%')
				)

				SELECT isnull(count(idx),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_aging2
	
				IF @length = -1
				BEGIN
					IF @txtSearch is null
    				BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging2	
							ORDER BY ' + @order + ' ' + @sort

						EXEC sys.sp_executesql @SQL
					END 
					ELSE 
					BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging2 
							WHERE 
								(PromoNo like ''%' + isnull(@txtSearch,'') + '%'') OR 
								(InitiatorName like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ChannelDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(AccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Activity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(SubActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(PromoPeriode like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Approver like ''%' + isnull(@txtSearch,'') + '%'')
							ORDER BY ' + @order + ' ' + @sort
						EXEC sys.sp_executesql @SQL
					END
				END
				ELSE
				BEGIN
					IF @txtSearch is null
    				BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging2
							ORDER BY idx ' + @sort +'  
							OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'

						EXEC sys.sp_executesql @SQL
					END 
					ELSE 
					BEGIN
						SET @SQL = '
							SELECT * FROM #temp_aging2
							WHERE 
								(PromoNo like ''%' + isnull(@txtSearch,'') + '%'') OR 
								(InitiatorName like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ChannelDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(AccountDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Activity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(SubActivity like ''%' + isnull(@txtSearch,'') + '%'') OR
								(PromoPeriode like ''%' + isnull(@txtSearch,'') + '%'') OR
								(ActivityDesc like ''%' + isnull(@txtSearch,'') + '%'') OR
								(LastStatus like ''%' + isnull(@txtSearch,'') + '%'') OR
								(Approver like ''%' + isnull(@txtSearch,'') + '%'')
							ORDER BY ' + @order + ' ' + @sort +' 
							OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
						EXEC sys.sp_executesql @SQL
					END	    
				END
    
				drop table if exists #temp_aging2
				/**********************
					end pagination
				 **********************/	
	END

drop table if exists #temp_aging
drop table if exists #temp_aging1
drop table if exists #temp_aging2
GO
