USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_pricecondition_del]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_pricecondition_del]
	@Id        int,
	@UserId    varchar(50),
	@UserLogin varchar(100),
	@DeleteOn  datetime
AS
BEGIN
	INSERT INTO tbhis_mapping_pricecondition
	( 
       [ParentId]
      ,[CategoryId]
      ,[SubCategoryId]
      ,[ActivityId]
      ,[PriceConditionForPayment]
      ,[PriceConditionForAccrual]
      ,[PriceConditionForAccrualReversal]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,[IsDelete]
      ,[DeleteOn]
      ,[DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,[DeleteEmail]
	)
	SELECT
       [Id]
      ,[CategoryId]
      ,[SubCategoryId]
      ,[ActivityId]
      ,[PriceConditionForPayment]
      ,[PriceConditionForAccrual]
      ,[PriceConditionForAccrualReversal]
      ,[CreateOn]
      ,[CreateBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
      ,1             [IsDelete]
      ,@DeleteOn     [DeleteOn]
      ,@UserId       [DeleteBy]

      ,[CreatedEmail]
      ,[ModifiedEmail]
      ,@UserLogin            [DeleteEmail]
	FROM
		tbset_mapping_pricecondition
	WHERE Id = @Id

	DELETE tbset_mapping_pricecondition
	WHERE
			Id    = @Id
END



GO
