USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_kpi_scoring_to_temp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_kpi_scoring_to_temp] 
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
/*****************************************************************************************/
DROP TABLE IF EXISTS #Temp_Account
DROP TABLE IF EXISTS #Temp_Brand
DROP TABLE IF EXISTS #Temp_Channel
DROP TABLE IF EXISTS #Temp_Product
DROP TABLE IF EXISTS #Temp_PromoPlan
DROP TABLE IF EXISTS #Temp_Region
DROP TABLE IF EXISTS #Temp_SubAccount
DROP TABLE IF EXISTS #Temp_SubChannel
DROP TABLE IF EXISTS #Temp_Promo
DROP TABLE IF EXISTS #Temp_promo_skp_validate
DROP TABLE IF EXISTS #tbtemp_kpi_scoring
/*****************************************************************************************/
declare
@create_from date
,@create_to date
,@userid varchar(50)

SELECT
   @create_from = DATEADD(yy, DATEDIFF(yy, 0, @utcDate123), 0),
   @create_to = DATEADD(yy, DATEDIFF(yy, 0, @utcDate123) + 1, -1) 

	select 
	tpp.id
	, tpp.RefId
	, tpp.DistributorId
	, tpp.EntityId
	, tpp.CreateBy
	, tpp.CreateOn
	, tpp.CategoryId
	, tpp.SubCategoryId
	, tpp.ActivityId
	, tpp.SubActivityId
	, tpp.StartPromo 
	, tpp.EndPromo 
	, tpp.TSCode 
	, tpp.Investment 
	, tpp.NormalSales 
	, tpp.IncrSales 
	, tpp.ActivityDesc
	, tpp.Mechanisme1, tpp.Mechanisme2, tpp.Mechanisme3, tpp.Mechanisme4
	, iif(isnull(tpp.NormalSales + tpp.IncrSales, 0) = 0, 0, tpp.Investment / (tpp.NormalSales + tpp.IncrSales )) as UpliftSalesPersen
	, iif(isnull(tpp.Investment,0)=0,0,(tpp.IncrSales-tpp.Investment)/tpp.Investment) as ROIPersen
	, tmu.username
	, tmu.jobtitle as jobtitle1
	, tmu.jobtitle as jobtitle2
	into #Temp_PromoPlan 
	FROM tbtrx_promo_planning tpp
		INNER JOIN tbset_user tmu on tpp.CreateBy = tmu.id 
		where 
			((CONVERT(varchar(8),@create_to,112) >= CONVERT(varchar(8),tpp.StartPromo,112) AND  CONVERT(varchar(8),@create_to,112) <= CONVERT(varchar(8),tpp.EndPromo,112))
			or
			(CONVERT(varchar(8),tpp.EndPromo,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),tpp.EndPromo,112) <= CONVERT(varchar(8),@create_to,112)))
			--AND IIF(@userid='0', '', tpp.CreateBy) = IIF(@userid='0','', @userid) 
			and isnull(tpp.IsCancel,0)=0
--			and tpp.RefId='SGM/PL-05268/TS'

/*****************************************************************************************/
--select RefId from #Temp_PromoPlan 
--group by RefId having count(RefId )>1
/*****************************************************************************************/
	select 
		tp.ActivityDesc 
		, isnull(tp.Mechanisme1,'') Mechanisme1
		, isnull(tp.Mechanisme2,'') Mechanisme2
		, isnull(tp.Mechanisme3,'') Mechanisme3
		, isnull(tp.Mechanisme4,'') Mechanisme4
		, isnull(tp.id, 0) id
		, isnull(tp.RefId, '') RefId
		, tp.CreateOn 
		, tp.StartPromo
		, tp.EndPromo 
		, tp.Investment 
		, tp.IsCancel
		, tp.PromoPlanId
		, tp.StatusApprovalCodeRecon
		, tp.ModifiedOn
	into #Temp_Promo 
		from #Temp_PromoPlan tpp
		inner JOIN tbtrx_promo tp on tp.PromoPlanId = tpp.Id and tpp.tscode=tp.tscoding and isnull(tp.IsCancel,0)=0

/*****************************************************************************************/
--select RefId from #Temp_Promo 
--group by RefId having count(RefId )>1
/*****************************************************************************************/
	select tpskp.* into #Temp_promo_skp_validate 
		from #Temp_Promo tp 
		INNER JOIN tbtrx_promo_skp_validate tpskp on tp.id=tpskp.PromoId and isnull(tp.IsCancel,0)=0
/*****************************************************************************************/
	SELECT PromoPlanId,
		STUFF(
				(select  ',' + reg.LongDesc 
					from tbtrx_promo_planning_region a with (nolock)
					join tbmst_region reg with (nolock)
					ON a.RegionId=reg.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
					FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
	into #Temp_Region
	FROM tbtrx_promo_planning_region b INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
		
			select PromoPlanId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_planning_channel a with (nolock)
							join tbmst_channel chn with (nolock)
							ON a.ChannelId=chn.Id and a.PromoPlanId=b.PromoPlanId
--    INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					into #Temp_Channel
					FROM tbtrx_promo_planning_channel b INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
			select PromoPlanId,
				STUFF(
						(select  ',' + subchn.LongDesc 
							from tbtrx_promo_planning_subchannel a with (nolock)
							join tbmst_subchannel subchn with (nolock)
							ON a.SubChannelId=subchn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
							into #Temp_SubChannel
					FROM tbtrx_promo_planning_subchannel b INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
		
			select PromoPlanId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_planning_account a with (nolock)
							join tbmst_account chn with (nolock)
							ON a.AccountId=chn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
					into #Temp_Account
					FROM tbtrx_promo_planning_account b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
					
/*****************************************************************************************/
select PromoPlanId,
				STUFF(
						(select  ',' + chn.LongDesc 
							from tbtrx_promo_planning_subaccount a with (nolock)
							join tbmst_subaccount chn with (nolock)
							ON a.subAccountId=chn.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
into #Temp_SubAccount
					FROM tbtrx_promo_planning_subaccount b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
select PromoPlanId,
				STUFF(
						(select  ',' + brd.LongDesc 
							from tbtrx_promo_planning_brand a with (nolock)
							join tbmst_brand brd with (nolock)
							ON a.brandid=brd.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
into #Temp_Brand
					FROM tbtrx_promo_planning_brand b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
select PromoPlanId,
				STUFF(
						(select  ',' + sku.LongDesc 
							from tbtrx_promo_planning_product a with (nolock)
							join tbmst_product sku with (nolock)
							ON a.productid=sku.Id and a.PromoPlanId=b.PromoPlanId
--       INNER JOIN #Temp_PromoPlan x  ON x.Id=a.PromoPlanId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
into #Temp_Product
					FROM tbtrx_promo_planning_product b with (nolock) INNER JOIN #Temp_PromoPlan  ON Id=PromoPlanId  GROUP BY PromoPlanId
/*****************************************************************************************/
	SELECT  --count(tpp.DistributorId)
		tpp.DistributorId
		, tmd.ShortDesc as DistributorShortDesc
		, tpp.EntityId
		, tmp.ShortDesc as PrincipalShortDesc
		, tpp.CreateBy as PromoPlanCreateBy
		, tpp.CreateOn as PromoPlanCreateOn
		, region.RegionDesc
		, tms.SubActivityTypeId
		, tmst.LongDesc as SubActivityType
		, tpp.CategoryId
		, tmc.LongDesc as Category
		, tpp.SubCategoryId
		, tmsc.LongDesc as SubCategory
		, tpp.ActivityId
		, tma.LongDesc as Activity
		, tpp.SubActivityId
		, tms.LongDesc as SubActivity
		, tpp.StartPromo as StartPlanning
		, tpp.EndPromo as EndPlanning
		, channel.ChannelDesc
		, subchannel.SubChannelDesc
		, account.AccountDesc
		, subaccount.SubAccountDesc
		, tpp.TSCode 
		, brand.BrandDesc
		, sku.SKUDesc
		, '' as SourceOfPromo
		, '' as PromotionType
		, tp.ActivityDesc 
		, tp.Mechanisme1
		, tp.Mechanisme2
		, tp.Mechanisme3
		, tp.Mechanisme4
		, tpp.Investment 
		, tpp.NormalSales as BaselineSales
		, tpp.IncrSales as UpliftSales
		, tpp.NormalSales + tpp.IncrSales as TotalSales
		, tpp.UpliftSalesPersen
		, tpp.ROIPersen
		, tp.id as PromoId
		, tp.RefId as PromoRefId
		, username as Creator
		, tp.CreateOn as CreationDate
		, tp.StartPromo as PeriodStart
		, tp.EndPromo as PeriodEnd
		, isnull(tp.Investment, 0) as PromoAmount
		, @utcDate123 as today
		, '' as Quater2Start--@Quater2Start as Quater2Start
		, dateadd(day, 45, @utcDate123) as today60
		, datediff(day, tp.CreateOn, tpp.StartPromo) as DaysOfCreation
		, datediff(day, tp.StartPromo, tpp.StartPromo) as PeriodStartMatching
		, datediff(day, tp.EndPromo, tpp.EndPromo) as PeriodEndMatcing
		, tp.Investment - tpp.Investment as Amount
		, month(tpp.StartPromo) as PeriodOfStart
		, month(tpp.EndPromo) as PeriodOfEnd
		, datediff(day, tpp.createon, tpp.startpromo) as PromoPlanSubmissionDays
		, IIF(datediff(day, tpp.createon, tpp.startpromo)<45, 'N', 'Y' )  as PromoPlanSubmittedBfrQuarterStart90 --change to 60days
		, IIF(isnull(tp.Investment, 0) = 0, 'N', 'Y') as AvailabilityInOptima
		, IIF(tp.CreateOn is null, 'Y',  IIF(datediff(day, tp.CreateOn, tpp.StartPromo)<30, 'N', 'Y' ))  as OptimaCreationBrfActivityStart60 --change to 30days
		, IIF(tpp.StartPromo is null, 'N', IIF(datediff(day, tp.StartPromo, tpp.StartPromo)=0 and datediff(day, tp.EndPromo, tpp.EndPromo)=0, 'Y', 'N')) as OptimaPeriodMatch
		, IIF(tp.Investment - tpp.Investment=0, 'Y', 'N') as OptimaAmountMatch
		, IIF(tpp.ActivityDesc = tp.ActivityDesc, 'Y', 'N' ) as OptimaDescMatch
		, IIF(tpp.Mechanisme1 = tp.Mechanisme1, 'Y', 'N') as OptimaMechanismMatch
--		, IIF(tpp.Mechanisme1 = tp.Mechanisme1 and tpp.Mechanisme2 = tp.Mechanisme2 and tpp.Mechanisme3 = tp.Mechanisme3 and tpp.Mechanisme4 = tp.Mechanisme4, 'Y', 'N') as OptimaMechanismMatch
		, IIF(tpp.ActivityDesc = tp.ActivityDesc and tpp.Mechanisme1 = tp.Mechanisme1, 'Y', 'N') as OptimaDescAndMechanismMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.SKPDraftAvail, 0)=0, 'N', 'Y')) as SKPAvailability
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.SKPDraftAvailBfrAct60 , 0)=0, 'N', 'Y')) as SKPAvailBfrActivityStart60
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.PeriodMatch, 0)=0, 'N', 'Y')) as SKPPeriodMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.InvestmentMatch, 0)=0, 'N', 'Y')) as SKPAmountMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.MechanismMatch, 0)=0, 'N', 'Y')) as SKPMechanismMatch
		, IIF(tpskp.PromoId IS NULL, 'N', IIF(isnull(tpskp.SKPSign7, 0)=0, 'N', 'Y')) as SKPSigned7
		, '' as ActivityAuditCompliance
		, '' as ExtendedPeriodMatch  
		, '' as ExtendedAmountMatch
		, '' as ExtendedMechanismMatch
		, iif(isnull(tp.StatusApprovalCodeRecon, '')='TP2',
				iif(tpc.ChannelId IN (2, 6, 3, 11) and datediff(day, tp.EndPromo, tp.ModifiedOn)<60,'Y',
					iif(tpc.ChannelId NOT IN (2, 6, 3, 11) and datediff(day, tp.EndPromo, tp.ModifiedOn)<90,'Y','N'
						)
					)
			,'')as ReconNKA
		,'' as AdjustBudgetRecon
		,'' as FeedbackOnPostROI
		,'' as AgingDNBySales
		, JobTitle1
		, JobTitle2
		, tpp.id as PromoPlanID
		, tpp.refid as PromoPlanRefID
	into #tbtemp_kpi_scoring
	FROM #Temp_PromoPlan tpp
	LEFT JOIN #Temp_Promo tp on tp.PromoPlanId = tpp.Id 
	left JOIN (
		select promoid, min(channelid) as channelid from tbtrx_promo_channel group by promoid
		) tpc  on tp.id=tpc.promoid 
	LEFT JOIN #Temp_promo_skp_validate tpskp on tp.id=tpskp.PromoId 
	INNER JOIN tbmst_principal tmp on tpp.EntityId = tmp.id
	INNER JOIN tbmst_distributor tmd on tpp.DistributorId = tmd.Id 
	INNER JOIN tbmst_activity tma on tpp.ActivityId = tma.Id 
	INNER JOIN tbmst_subactivity tms on tpp.SubActivityId = tms.Id 
	INNER JOIN tbmst_subactivity_type tmst on tms.SubActivityTypeId = tmst.Id 
	INNER JOIN tbmst_category tmc on tpp.CategoryId = tmc.Id 
	INNER JOIN tbmst_subcategory tmsc on tpp.SubCategoryId = tmsc.Id 
	left JOIN #Temp_Region region on tpp.Id = region.PromoPlanId
	left JOIN #Temp_Channel channel on tpp.Id = channel.PromoPlanId
	left JOIN #Temp_SubChannel subchannel on tpp.Id = subchannel.PromoPlanId
	left JOIN #Temp_Account account on tpp.Id = account.PromoPlanId
	left JOIN #Temp_SubAccount subaccount on tpp.Id = subaccount.PromoPlanId
	left JOIN #Temp_Brand brand on tpp.Id = brand.PromoPlanId
	left JOIN #Temp_Product sku on tpp.Id = sku.PromoPlanId

/*****************************************************************************************/
--select * from #tbtemp_kpi_scoring 
--where promoplanrefid in ('NIS/PL-05648/TS', 'NIS/PL-06444/TS')

--select promoplanrefid from #tbtemp_kpi_scoring 
--group by promoplanrefid having count(promoplanrefid )>1
/********************************************************************************MERGE TO TRANSACTION*/

		MERGE tbtemp_kpi_scoring t 
			USING #tbtemp_kpi_scoring s
		ON (
			s.[PromoPlanID]=t.[PromoPlanID]
			--AND s.[PromoID]=t.[PromoID]
			)
		WHEN MATCHED
			THEN UPDATE SET 
				 t.[DistributorId]=s.[DistributorId]
				, t.[DistributorShortDesc]=s.[DistributorShortDesc]
				, t.[EntityId]=s.[EntityId]
				, t.[PrincipalShortDesc]=s.[PrincipalShortDesc]
				, t.[PromoPlanCreateBy]=s.[PromoPlanCreateBy]
				, t.[PromoPlanCreateOn]=s.[PromoPlanCreateOn]
				, t.[RegionDesc]=s.[RegionDesc]
				, t.[SubActivityTypeId]=s.[SubActivityTypeId]
				, t.[SubActivityType]=s.[SubActivityType]
				, t.[CategoryId]=s.[CategoryId]
				, t.[Category]=s.[Category]
				, t.[SubCategoryId]=s.[SubCategoryId]
				, t.[SubCategory]=s.[SubCategory]
				, t.[ActivityId]=s.[ActivityId]
				, t.[Activity]=s.[Activity]
				, t.[SubActivityId]=s.[SubActivityId]
				, t.[SubActivity]=s.[SubActivity]
				, t.[StartPlanning]=s.[StartPlanning]
				, t.[EndPlanning]=s.[EndPlanning]
				, t.[ChannelDesc]=s.[ChannelDesc]
				, t.[SubChannelDesc]=s.[SubChannelDesc]
				, t.[AccountDesc]=s.[AccountDesc]
				, t.[SubAccountDesc]=s.[SubAccountDesc]
				, t.[TSCode]=s.[TSCode]
				, t.[BrandDesc]=s.[BrandDesc]
				, t.[SKUDesc]=s.[SKUDesc]
				, t.[SourceOfPromo]=s.[SourceOfPromo]
				, t.[PromotionType]=s.[PromotionType]
				, t.[ActivityDesc]=s.[ActivityDesc]
				, t.[Mechanisme1]=s.[Mechanisme1]
				, t.[Mechanisme2]=s.[Mechanisme2]
				, t.[Mechanisme3]=s.[Mechanisme3]
				, t.[Mechanisme4]=s.[Mechanisme4]
				, t.[Investment]=s.[Investment]
				, t.[BaselineSales]=s.[BaselineSales]
				, t.[UpliftSales]=s.[UpliftSales]
				, t.[TotalSales]=s.[TotalSales]
				, t.[UpliftSalesPersen]=s.[UpliftSalesPersen]
				, t.[ROIPersen]=s.[ROIPersen]
				, t.[PromoId]=s.[PromoId]
				, t.[PromoRefId]=s.[PromoRefId]
				, t.[Creator]=s.[Creator]
				, t.[CreationDate]=s.[CreationDate]
				, t.[PeriodStart]=s.[PeriodStart]
				, t.[PeriodEnd]=s.[PeriodEnd]
				, t.[PromoAmount]=s.[PromoAmount]
				, t.[today]=s.[today]
				, t.[Quater2Start]=s.[Quater2Start]
				, t.[today60]=s.[today60]
				, t.[DaysOfCreation]=s.[DaysOfCreation]
				, t.[PeriodStartMatching]=s.[PeriodStartMatching]
				, t.[PeriodEndMatcing]=s.[PeriodEndMatcing]
				, t.[Amount]=s.[Amount]
				, t.[PeriodOfStart]=s.[PeriodOfStart]
				, t.[PeriodOfEnd]=s.[PeriodOfEnd]
				, t.[PromoPlanSubmissionDays]=s.[PromoPlanSubmissionDays]
				, t.[PromoPlanSubmittedBfrQuarterStart90]=s.[PromoPlanSubmittedBfrQuarterStart90]
				, t.[AvailabilityInOptima]=s.[AvailabilityInOptima]
				, t.[OptimaCreationBrfActivityStart60]=s.[OptimaCreationBrfActivityStart60]
				, t.[OptimaPeriodMatch]=s.[OptimaPeriodMatch]
				, t.[OptimaAmountMatch]=s.[OptimaAmountMatch]
				, t.[OptimaDescMatch]=s.[OptimaDescMatch]
				, t.[OptimaMechanismMatch]=s.[OptimaMechanismMatch]
				, t.[OptimaDescAndMechanismMatch]=s.[OptimaDescAndMechanismMatch]
				, t.[SKPAvailability]=s.[SKPAvailability]
				, t.[SKPAvailBfrActivityStart60]=s.[SKPAvailBfrActivityStart60]
				, t.[SKPPeriodMatch]=s.[SKPPeriodMatch]
				, t.[SKPAmountMatch]=s.[SKPAmountMatch]
				, t.[SKPMechanismMatch]=s.[SKPMechanismMatch]
				, t.[SKPSigned7]=s.[SKPSigned7]
				, t.[ActivityAuditCompliance]=s.[ActivityAuditCompliance]
				, t.[ExtendedPeriodMatch]=s.[ExtendedPeriodMatch]
				, t.[ExtendedAmountMatch]=s.[ExtendedAmountMatch]
				, t.[ExtendedMechanismMatch]=s.[ExtendedMechanismMatch]
				, t.[ReconNKA]=s.[ReconNKA]
				, t.[AdjustBudgetRecon]=s.[AdjustBudgetRecon]
				, t.[FeedbackOnPostROI]=s.[FeedbackOnPostROI]
				, t.[AgingDNBySales]=s.[AgingDNBySales]
				, t.[JobTitle1]=s.[JobTitle1]
				, t.[JobTitle2]=s.[JobTitle2]
		WHEN NOT MATCHED BY TARGET 
			THEN INSERT (
				[DistributorId]
				, [DistributorShortDesc]
				, [EntityId]
				, [PrincipalShortDesc]
				, [PromoPlanCreateBy]
				, [PromoPlanCreateOn]
				, [RegionDesc]
				, [SubActivityTypeId]
				, [SubActivityType]
				, [CategoryId]
				, [Category]
				, [SubCategoryId]
				, [SubCategory]
				, [ActivityId]
				, [Activity]
				, [SubActivityId]
				, [SubActivity]
				, [StartPlanning]
				, [EndPlanning]
				, [ChannelDesc]
				, [SubChannelDesc]
				, [AccountDesc]
				, [SubAccountDesc]
				, [TSCode]
				, [BrandDesc]
				, [SKUDesc]
				, [SourceOfPromo]
				, [PromotionType]
				, [ActivityDesc]
				, [Mechanisme1]
				, [Mechanisme2]
				, [Mechanisme3]
				, [Mechanisme4]
				, [Investment]
				, [BaselineSales]
				, [UpliftSales]
				, [TotalSales]
				, [UpliftSalesPersen]
				, [ROIPersen]
				, [PromoId]
				, [PromoRefId]
				, [Creator]
				, [CreationDate]
				, [PeriodStart]
				, [PeriodEnd]
				, [PromoAmount]
				, [today]
				, [Quater2Start]
				, [today60]
				, [DaysOfCreation]
				, [PeriodStartMatching]
				, [PeriodEndMatcing]
				, [Amount]
				, [PeriodOfStart]
				, [PeriodOfEnd]
				, [PromoPlanSubmissionDays]
				, [PromoPlanSubmittedBfrQuarterStart90]
				, [AvailabilityInOptima]
				, [OptimaCreationBrfActivityStart60]
				, [OptimaPeriodMatch]
				, [OptimaAmountMatch]
				, [OptimaDescMatch]
				, [OptimaMechanismMatch]
				, [OptimaDescAndMechanismMatch]
				, [SKPAvailability]
				, [SKPAvailBfrActivityStart60]
				, [SKPPeriodMatch]
				, [SKPAmountMatch]
				, [SKPMechanismMatch]
				, [SKPSigned7]
				, [ActivityAuditCompliance]
				, [ExtendedPeriodMatch]
				, [ExtendedAmountMatch]
				, [ExtendedMechanismMatch]
				, [ReconNKA]
				, [AdjustBudgetRecon]
				, [FeedbackOnPostROI]
				, [AgingDNBySales]
				, [JobTitle1]
				, [JobTitle2]
				, [PromoPlanID]
				, [PromoPlanRefID]
				)
				 VALUES (
					s.[DistributorId]
					, s.[DistributorShortDesc]
					, s.[EntityId]
					, s.[PrincipalShortDesc]
					, s.[PromoPlanCreateBy]
					, s.[PromoPlanCreateOn]
					, s.[RegionDesc]
					, s.[SubActivityTypeId]
					, s.[SubActivityType]
					, s.[CategoryId]
					, s.[Category]
					, s.[SubCategoryId]
					, s.[SubCategory]
					, s.[ActivityId]
					, s.[Activity]
					, s.[SubActivityId]
					, s.[SubActivity]
					, s.[StartPlanning]
					, s.[EndPlanning]
					, s.[ChannelDesc]
					, s.[SubChannelDesc]
					, s.[AccountDesc]
					, s.[SubAccountDesc]
					, s.[TSCode]
					, s.[BrandDesc]
					, s.[SKUDesc]
					, s.[SourceOfPromo]
					, s.[PromotionType]
					, s.[ActivityDesc]
					, s.[Mechanisme1]
					, s.[Mechanisme2]
					, s.[Mechanisme3]
					, s.[Mechanisme4]
					, s.[Investment]
					, s.[BaselineSales]
					, s.[UpliftSales]
					, s.[TotalSales]
					, s.[UpliftSalesPersen]
					, s.[ROIPersen]
					, s.[PromoId]
					, s.[PromoRefId]
					, s.[Creator]
					, s.[CreationDate]
					, s.[PeriodStart]
					, s.[PeriodEnd]
					, s.[PromoAmount]
					, s.[today]
					, s.[Quater2Start]
					, s.[today60]
					, s.[DaysOfCreation]
					, s.[PeriodStartMatching]
					, s.[PeriodEndMatcing]
					, s.[Amount]
					, s.[PeriodOfStart]
					, s.[PeriodOfEnd]
					, s.[PromoPlanSubmissionDays]
					, s.[PromoPlanSubmittedBfrQuarterStart90]
					, s.[AvailabilityInOptima]
					, s.[OptimaCreationBrfActivityStart60]
					, s.[OptimaPeriodMatch]
					, s.[OptimaAmountMatch]
					, s.[OptimaDescMatch]
					, s.[OptimaMechanismMatch]
					, s.[OptimaDescAndMechanismMatch]
					, s.[SKPAvailability]
					, s.[SKPAvailBfrActivityStart60]
					, s.[SKPPeriodMatch]
					, s.[SKPAmountMatch]
					, s.[SKPMechanismMatch]
					, s.[SKPSigned7]
					, s.[ActivityAuditCompliance]
					, s.[ExtendedPeriodMatch]
					, s.[ExtendedAmountMatch]
					, s.[ExtendedMechanismMatch]
					, s.[ReconNKA]
					, s.[AdjustBudgetRecon]
					, s.[FeedbackOnPostROI]
					, s.[AgingDNBySales]
					, s.[JobTitle1]
					, s.[JobTitle2]
					, s.[PromoPlanID]
					, s.[PromoPlanRefID]
					)
		;


/*****************************************************************************************/
DROP TABLE IF EXISTS #Temp_Account
DROP TABLE IF EXISTS #Temp_Brand
DROP TABLE IF EXISTS #Temp_Channel
DROP TABLE IF EXISTS #Temp_Product
DROP TABLE IF EXISTS #Temp_PromoPlan
DROP TABLE IF EXISTS #Temp_Region
DROP TABLE IF EXISTS #Temp_SubAccount
DROP TABLE IF EXISTS #Temp_SubChannel
DROP TABLE IF EXISTS #Temp_Promo
DROP TABLE IF EXISTS #Temp_promo_skp_validate
DROP TABLE IF EXISTS #tbtemp_kpi_scoring
/*****************************************************************************************/
delete x
	from tbtemp_kpi_scoring x
	inner join tbtrx_promo_planning b on b.id=x.promoplanid
	where isnull(b.IsCancel,0)=1
END
GO
