

/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_overbudget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_list_overbudget] --'2020',0,0,0,0,'kamc4',0
--declare
@periode  varchar(4),             
@entity int,
@distributor int,
@channel int,
@account int,
@userid varchar(50),
@isdnmanual bit
AS

--select * from tbset_user where username like '%galuh%'

--set @periode  =2020             
--set @entity =0
--set @distributor =0
--set @channel =0
--set @account =0
--set @userid ='fcm-eastjava'
--set @isdnmanual =0

/*
 * EDJ 2020-08-03 : change like vw_debetnote_overbudget
 */
BEGIN
	DROP TABLE IF EXISTS #tmp_dn_overbudget
	
/* statu overbudget DN ******************************************************/
	SELECT a.id, iif(isnull(a.isoverbudget, 0) = 0, 0, iif(pr.Investment<>pr.investmentForDN, 2, 1)) isOverBudget
    INTO #tmp_dn_overbudget
    FROM tbtrx_debetnote a WITH (NOLOCK)
    INNER JOIN tbtrx_promo pr WITH (NOLOCK) on a.PromoId=pr.Id
    WHERE ISNULL(a.IsCancel, 0) = 0
		AND ISNULL(a.IsDNPromo,0)=1

DECLARE @profitcenter varchar(10)
SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)

IF isnull(@profitcenter,'')='1100'
BEGIN
--	SELECT a.Id
--	,a.RefId
--	,b.Id PromoId
--	,b.RefId PromoRefId
--	,a.ActivityDesc
--	,a.TotalClaim
--	,a.TotalPaid 
--	,a.LastStatus
--	,a.IsFreeze
--	,a.CreateOn
--	,a.CreateBy
--	,a.IsOverBudget
--	,a.AssignBy
--	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
--	from tbtrx_debetnote a
--	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
--	WHERE AssignBy=@userid
--	AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	SELECT a.Id
	,a.RefId
	,b.Id PromoId
	,b.RefId PromoRefId
	,a.ActivityDesc
	,a.TotalClaim
	,a.TotalPaid 
	,a.LastStatus
	,a.IsFreeze
	,a.CreateOn
	,a.CreateBy
	,a.IsOverBudget
	,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
	,a.AssignBy
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	from tbtrx_debetnote a
	INNER JOIN tbtrx_promo b on a.PromoId=b.Id
	INNER JOIN 
	(
		SELECT 
		pr.Id PromoId,
		--pr.RefId RefId,
		--pr.Investment,
		SUM (dn.TotalClaim) AS RunningClaim, 
-- 		pr.Investment-SUM (dn.DPP) Remaining
		pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, dn.DPP, dn.DPP + dn.PPNAmt)) Remaining
		from tbtrx_promo pr
		inner join  tbtrx_debetnote dn
		on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0) = 0 and isnull(pr.IsCancel, 0) = 0
		GROUP BY pr.id, pr.Investment
		HAVING pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, dn.DPP, dn.DPP + dn.PPNAmt)) < 0	
	) overbudget on b.id=overbudget.PromoId
	LEFT JOIN tbset_matrix_dnmanual_assignment_new ON SubAccountId=a.AccountId
	LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
--	WHERE pic1=@userid
	WHERE IIF(@userid='0','',@userid)=IIF(@userid='0','',b.CreateBy)
	AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
--	and IsOverBudget=1
	AND isnull(overbudget.Remaining,0) < 0 and isnull(a.IsCancel, 0) = 0 and isnull(b.IsCancel, 0) = 0
END
ELSE
BEGIN
--	SELECT a.Id
--	,a.RefId
--	,b.Id PromoId
--	,b.RefId PromoRefId
--	,a.ActivityDesc
--	,a.TotalClaim
--	,a.TotalPaid 
--	,a.LastStatus
--	,a.IsFreeze
--	,a.CreateOn
--	,a.CreateBy
--	,a.IsOverBudget
--	,a.AssignBy
--	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
--	from tbtrx_debetnote a
--	LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
--	where AreaCode=@profitcenter
--	AND AssignBy=@userid
--	AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	SELECT a.Id
	,a.RefId
	,b.Id PromoId
	,b.RefId PromoRefId
	,a.ActivityDesc
	,a.TotalClaim
	,a.TotalPaid 
	,a.LastStatus
	,a.IsFreeze
	,a.CreateOn
	,a.CreateBy
	,a.IsOverBudget
	,iif(isnull(tdo.overBudgetStatus, 0)=0, 'Not Over Budget', iif(isnull(tdo.overBudgetStatus, 0)=1, 'Over Budget', 'Waiting Approval 1 Recon'))  overBudgetStatus
	,a.AssignBy
	,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
	from tbtrx_debetnote a
	INNER JOIN tbtrx_promo b on a.PromoId=b.Id
	INNER JOIN 
	(
		SELECT 
		pr.Id PromoId,
		--pr.RefId RefId,
		--pr.Investment,
		SUM (dn.TotalClaim) AS RunningClaim, 
		pr.Investment-SUM (dn.DPP) Remaining
		from tbtrx_promo pr
		inner join  tbtrx_debetnote dn
		on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0) = 0 and isnull(pr.IsCancel, 0) = 0
		GROUP BY pr.id, pr.Investment
		HAVING pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, dn.DPP, dn.DPP + dn.PPNAmt)) < 0	
	) overbudget on b.id=overbudget.PromoId
	LEFT JOIN tbset_matrix_dnmanual_assignment_new ON SubAccountId=a.AccountId
	LEFT JOIN tbtrx_debetnote_overbudget_status tdo on a.id=tdo.dnId
--	WHERE pic1=@userid
	WHERE IIF(@userid='0','',@userid)=IIF(@userid='0','',b.CreateBy)
	AND AreaCode=@profitcenter
	AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
--	and IsOverBudget=1
	AND isnull(overbudget.Remaining,0) < 0 and isnull(a.IsCancel, 0) = 0 and isnull(b.IsCancel, 0) = 0
END
END
GO
