USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_allocated_sequence]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_allocated_sequence]
 
    @SequenceName       nvarchar(20),   -- The name of the sequence to allocate keys from
    @RangeSize          integer = 1,    -- The number of keys to allocate
    @FirstAllocated     integer OUTPUT  -- The first key allocated (output)
 
AS
BEGIN
 
    SET XACT_ABORT ON;  -- Most errors will abort the batch
    SET NOCOUNT ON;     -- Supress 'x row(s) affected' messages
    SET ROWCOUNT 0;     -- Reset rowcount
 
    -- Validate the range size requested
    IF (@RangeSize IS NULL OR @RangeSize < 1)
    BEGIN
        RAISERROR('@RangeSize must be a positive integer (supplied value = %i)', 16, 1, @RangeSize);
        RETURN  999;
    END;
 
    -- Initialize the output parameter
    SET @FirstAllocated = NULL;
 
   	IF NOT EXISTS (SELECT * FROM dbo.tbtrx_sequence_table WHERE sequence_name = @SequenceName)
   	BEGIN
	   	INSERT INTO dbo.tbtrx_sequence_table VALUES(@SequenceName, 2);
	   SET @FirstAllocated = 1;
	END
	ELSE
	BEGIN
	    -- Update the row associated with @SequenceName, returning the 
	    -- current value, and then incrementing it by @RangeSize
	    UPDATE dbo.tbtrx_sequence_table --WITH (READCOMMITTEDLOCK)
	    SET @FirstAllocated = next_value,
	        next_value = next_value + @RangeSize
	    WHERE sequence_name = @SequenceName;
	END 
    -- If @Allocated has a non-NULL value, we know we successfully updated a row
    RETURN CASE WHEN (@FirstAllocated IS NOT NULL) THEN 0 ELSE -999 END; 
END;

GO
