

/****** Object:  StoredProcedure [dbo].[ip_mst_map_channel_subactivity_skp_draft_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_channel_subactivity_skp_draft_ins]
	@IsNew           bit,
	@Id              int ,
	@ChannelId       int ,
	@SubActivityId   int ,
	@SKP_Draft       int ,
	@UserID          varchar(50),
	@UserLogin       varchar(100),
	@CreatedOn       datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.id
                FROM tbset_map_channel_subactivity_skp_draft a
                where a.ChannelId = @ChannelId and a.SubActivityId=@SubActivityId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Channel Sub Activity already exist';
                    SET @messageout='Mapping Channel Sub Activity already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_channel_subactivity_skp_draft
                (
                   ChannelId
                  ,SubActivityId
                  ,SKP_Draft
                  ,CreateOn
                  ,CreateBy
				  ,CreatedEmail
                )
                Values
                (
                   @ChannelId
                  ,@SubActivityId
                  ,@SKP_Draft
                  ,@CreatedOn
                  ,@UserId
                  ,@UserLogin
                )
            END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_channel_subactivity_skp_draft
			SET
				ChannelId          = @ChannelId,
				SubActivityId      = @SubActivityId,
				SKP_Draft          = @SKP_Draft,
				ModifiedOn          = @CreatedOn,
				ModifiedBy          = @UserID,
				ModifiedEmail       = @UserLogin
			WHERE
				Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END


GO
