USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_history_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_matrix_approval_history_list] --22,0,0,'kamsat', 0, -1, null, 'EntityId', 'asc'
@category int = 0
,@entity int
,@distributor int
,@userid varchar(255)

,@start int=0
,@length int=-1
,@txtSearch varchar(255)=NULL
,@order varchar(255)=NULL 
,@sort varchar(4)=NULL 
AS

--DECLARE
--@category int = 0
--,@entity int
--,@distributor int
--,@userid varchar(255)

--,@start int
--,@length int
--,@txtSearch varchar(255)
--,@order varchar(255)
--,@sort varchar(4)

--SET @category =0
--SET @entity = 0
--SET @distributor =0
--SET @userid='0'

--SET @start =0 
--SET @length = -1
--SET @txtSearch ='ncem'
SET @order ='entity, distributor, categoryLongDesc, [initiator], channel, [subChannel], subActivityType, minInvestment, maxInvestment, actionOnSort'
--SET @sort ='asc'

BEGIN

SET @txtSearch = IIF(ISNULL(@txtsearch,'')='','',@txtsearch)
SET @order = IIF(ISNULL(@order,'')='','',@order)
SET @sort = IIF(ISNULL(@sort,'')='','asc',@sort)

	drop table if exists #temp_matrix_id
	drop table if exists #temp_matrix_approver
    drop table if exists #temp_matrix;
    drop table if exists #temp_matrix_lastupdate;

    DECLARE @recordsFiltered int;	
	DECLARE @SQL NVARCHAR(MAX)
	SET @order = IIF(ISNULL(@order,'')='','EntityId', @order)
	SET @start = @start * @length

	SELECT id, matrixid INTO #temp_matrix_id FROM tbhis_matrix_promo_approval a
		WHERE
			ISNULL(Periode,'')=''
				AND IIF(@entity=0,'',a.principalid) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',a.distributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@userid='0','',a.[Initiator]) =IIF(@userid='0','',@userid)
				AND IIF(@category=0,'',a.categoryId) =IIF(@category=0,'',@category)

	select a.ParentId, STRING_AGG(concat('[',a.seqapproval,']','[',a.Approver,']'),' ,') 
	WITHIN GROUP (ORDER BY a.seqapproval ASC) 
	as Approver 
		into #temp_matrix_approver
			from tbhis_matrix_promo_approver a
			inner join #temp_matrix_id b on a.ParentId=b.Id
				where a.SeqApproval<6 
					group by a.ParentId

	SELECT
		a.[Initiator] [initiator]
		,b.Id entityId 
		,b.LongDesc entity 
		,c.Id distributorId
		,c.LongDesc distributor
		,d.Id subActivityTypeId
		,d.LongDesc subActivityType
		,e.Id channelId
		,ISNULL(e.LongDesc, 'ALL Channel') channel
		,IIF(x.shortdesc='DC',0, isnull(f.Id,0)) [subChannelId]
		,IIF(x.shortdesc='DC','---', isnull(f.LongDesc,'All Sub Channel')) [subChannel]
		,a.MinInvestment minInvestment
		,a.MaxInvestment maxInvestment
		,appr.Approver matrixApprover
		,x.id categoryId
		,x.shortDesc categoryShortDesc
		,x.longDesc categoryLongDesc
		, actionStatus
		, replace(CONVERT(varchar(17),actionon,102),'.','-') actionOn
		, actionBy
		, actionEmail
		, actionOn actionOnSort
			INTO #temp_matrix
				FROM tbhis_matrix_promo_approval a
					INNER JOIN #temp_matrix_approver appr on a.Id = appr.parentId	
					INNER JOIN #temp_matrix_id tmi on a.Id=tmi.Id
					INNER JOIN tbmst_principal b on a.PrincipalId=b.Id
					INNER JOIN tbmst_distributor c on a.DistributorId=c.Id
					INNER JOIN tbmst_category x ON a.CategoryId=x.Id
					INNER JOIN tbmst_subactivity_type d on a.SubActivityType=d.Id
					LEFT JOIN tbmst_channel e on a.ChannelId=e.Id
					LEFT JOIN tbmst_subchannel f on a.SubChannelId=f.Id

    /**********************
        start pagination
     **********************/
    SET @recordsFiltered = (
    	SELECT isnull(count(Entity),0) FROM #temp_matrix
		WHERE 
			(Entity like '%' + isnull(@txtSearch,'') + '%') OR 
			(Distributor like '%' + isnull(@txtSearch,'') + '%') OR
			(Initiator like '%' + isnull(@txtSearch,'') + '%') OR
			(Channel like '%' + isnull(@txtSearch,'') + '%') OR
			(SubChannel like '%' + isnull(@txtSearch,'') + '%') OR
			(SubActivityType like '%' + isnull(@txtSearch,'') + '%') OR
			(MinInvestment like '%' + isnull(@txtSearch,'') + '%') OR
			(MaxInvestment like '%' + isnull(@txtSearch,'') + '%') OR
			(MatrixApprover like '%' + isnull(@txtSearch,'') + '%') OR
			(ActionOn like '%' + isnull(@txtSearch,'') + '%')
	)

    SELECT isnull(count(Entity),0) as totalCount, @recordsFiltered as filteredCount FROM #temp_matrix
	
	
    IF @length = -1
    BEGIN
	    IF @txtSearch=''
    		BEGIN
				SET @SQL = '
					SELECT 
						initiator, entityId, entity, distributorId, distributor, subActivityTypeId, subActivityType, channelId, channel, subChannelId, subChannel, minInvestment, maxInvestment, matrixApprover, categoryId, categoryShortDesc, categoryLongDesc, actionStatus, actionOn, actionBy, actionEmail
						FROM #temp_matrix			
					ORDER BY ' + @order + ' ' + @sort

				EXEC sys.sp_executesql @SQL
			END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT 
					initiator, entityId, entity, distributorId, distributor, subActivityTypeId, subActivityType, channelId, channel, subChannelId, subChannel, minInvestment, maxInvestment, matrixApprover, categoryId, categoryShortDesc, categoryLongDesc, actionStatus, actionOn, actionBy, actionEmail
					FROM #temp_matrix			
				WHERE 
					(Entity like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(Distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Initiator like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MinInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MaxInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MatrixApprover like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActionOn like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort
			EXEC sys.sp_executesql @SQL
		END
    END
    ELSE
    BEGIN
	    IF @txtSearch is null
    	BEGIN
			SET @SQL = '
				SELECT 
					initiator, entityId, entity, distributorId, distributor, subActivityTypeId, subActivityType, channelId, channel, subChannelId, subChannel, minInvestment, maxInvestment, matrixApprover, categoryId, categoryShortDesc, categoryLongDesc, actionStatus, actionOn, actionBy, actionEmail
					FROM #temp_matrix			
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END 
		ELSE 
		BEGIN
			SET @SQL = '
				SELECT 
					initiator, entityId, entity, distributorId, distributor, subActivityTypeId, subActivityType, channelId, channel, subChannelId, subChannel, minInvestment, maxInvestment, matrixApprover, categoryId, categoryShortDesc, categoryLongDesc, actionStatus, actionOn, actionBy, actionEmail
					FROM #temp_matrix			
				WHERE 
					(Entity like ''%' + isnull(@txtSearch,'') + '%'') OR 
					(Distributor like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Initiator like ''%' + isnull(@txtSearch,'') + '%'') OR
					(Channel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubChannel like ''%' + isnull(@txtSearch,'') + '%'') OR
					(SubActivityType like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MinInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MaxInvestment like ''%' + isnull(@txtSearch,'') + '%'') OR
					(MatrixApprover like ''%' + isnull(@txtSearch,'') + '%'') OR
					(ActionOn like ''%' + isnull(@txtSearch,'') + '%'')
				ORDER BY ' + @order + ' ' + @sort +' 
				OFFSET ' +  CAST(@start as varchar(10)) + ' ROWS FETCH NEXT ' + CAST(@length as varchar(10)) + ' ROWS ONLY'
			EXEC sys.sp_executesql @SQL
		END	    
    END
        
    /**********************
        end pagination
     **********************/				
	drop table if exists #temp_matrix_id
	drop table if exists #temp_matrix_approver
    drop table if exists #temp_matrix;
    drop table if exists #temp_matrix_lastupdate;

--/*DUMMY**********************************/
--SELECT 35 totalCount, 6	filteredCount

--SELECT 
--'kamram'  Initiator, 2  EntityId, 'Sari Husada Generasi Mahardika'  Entity, 2  DistributorId, 'Tigaraksa'  Distributor, 3  SubActivityTypeId, 'Contractual'  SubActivityType,
--2  ChannelId, 'E-COMMERCE'  Channel, 2  SubChannelId, 'E- COMMERCE'  SubChannel, 1  MinInvestment, 2  MaxInvestment,
--'[1][acem-gt] ,[2][acem-hospital]'  MatrixApprover, 3  categoryId, 'RC'  categorySHortDesc, 'Retailer Cost'  categoryLongDesc, 
--'Insert' actionStatus, '2024-06-26 17:48:37'  actionOn, 'admin' actionBy, 'no-reply@danone.com' actionEmail

--/**********************************DUMMY*/
END

GO
