USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_map_distributor_account_ins]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_mst_map_distributor_account_ins]
	@IsNew          bit,
	@Id             int,
	@DistributorId  int,
	@ChannelId      int,
	@SubChannelId   int,
	@AccountId      int,
	@SubAccountId   int,
	@UserID         varchar(50),
	@UserLogin      varchar(100),
	@CreatedOn      datetime

AS
BEGIN
    DECLARE @messageout varchar(255)
        ,@errCode int
        ,@errMessage varchar(100)

	if @IsNew=1
		Begin
            IF EXISTS
            (
                select 1 as error
                ,'success' as [message]
                , 200 as [statuscode]
                ,a.DistributorId, a.SubAccountId
                FROM tbset_map_distributor_account a
                WHERE a.DistributorId = @DistributorId AND SubAccountId = @SubAccountId
            )
            BEGIN
                SET @errCode = 500;
                SET @errMessage = 'Mapping Distributor Subaccount already exist';
                    SET @messageout='Mapping Distributor Subaccount already exist'
--                      RAISERROR (@messageout, -- Message text.
--                            16, -- Severity.
--                            1 -- State.
--                            );
            END
            ELSE
            BEGIN
                SET @errCode = 200;
                SET @errMessage = 'success';

                INSERT INTO tbset_map_distributor_account
                ( DistributorId, ChannelId, SubChannelId, AccountId, SubAccountId, CreateOn,CreateBy  , CreatedEmail)
                Values
                (@DistributorId,@ChannelId,@SubChannelId,@AccountId,@SubAccountId,@CreatedOn,@UserID, @UserLogin  )
			END
		End
	else
		Begin
            SET @errCode = 200;
            SET @errMessage = 'success';

			UPDATE tbset_map_distributor_account
			SET
				DistributorId=@DistributorId,
				ChannelId    =@ChannelId,
				SubChannelId =@SubChannelId,
				AccountId    =@AccountId,
				SubAccountId =@SubAccountId,
				ModifiedOn   =@CreatedOn,
				ModifiedBy   =@UserID,
				ModifiedEmail=@UserLogin
			WHERE Id = @Id
		End
    select @errCode errCode, @errMessage errMessage
END

GO
