

/****** Object:  StoredProcedure [dbo].[ip_promo_mechanism_input_method_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_mechanism_input_method_list]
AS
BEGIN
	SELECT
	a.categoryId, a.categoryDesc, a.subCategoryId, a.subCategoryDesc, a.activityId, a.activityDesc, a.subActivityId, a.subActivityDesc, IIF(ISNULL(b.inputMethod,0)=0,'No', 'Yes') inputMethod
	FROM vw_activity_active a
	LEFT JOIN tbset_promo_mechanism_input_method b ON a.SubActivityId = b.subActivityId
END
GO
