

/****** Object:  StoredProcedure [dbo].[ip_recalculate_balance]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_recalculate_balance]
@budgetid int
AS

BEGIN TRY

/*
	SELECT 
	bal.AllocationId,
	ReserveAmount,XX.act_reserve_amount,
	UseAmount,XX.act_use_amount
*/

UPDATE bal
SET ReserveAmount=XX.act_reserve_amount,
UseAmount=XX.act_use_amount
FROM tbtrx_allocation_balance bal
INNER JOIN
(
	SELECT 
	AllocationId,
	SubCategoryId,
	InitialAmount,
	ReserveAmount bal_reserve_amount,
	SUM(IIF(StatusApprovalCode='TP2',0,IIF(isnull(IsCancel,0)=0 OR isnull(IsClose,0)=0,Investment,0))) act_reserve_amount,
	UseAmount bal_use_amount,
	SUM(IIF(StatusApprovalCode='TP2',IIF(isnull(IsCancel,0)=0,Investment,0),0)) act_use_amount
	FROM
	(
	SELECT 
	a.AllocationId,
	a.SubCategoryId,
	a.InitialAmount,
	a.ReserveAmount,
	a.UseAmount,
	b.RefId,
	b.Investment,
	b.StatusApprovalCode,
	isnull(b.IsCancel,0) IsCancel,
	isnull(b.IsClose,0) IsClose
	FROM tbtrx_allocation_balance a
	INNER JOIN tbtrx_promo b on a.AllocationId=b.AllocationId AND a.SubCategoryId=b.SubCategoryId
	WHERE IIF(@budgetid=0,0,a.AllocationId)=IIF(@budgetid=0,0,@budgetid)
		AND 
		EXISTS
		(
			SELECT Id FROM vw_budget_last_layer xx WHERE xx.Id=a.AllocationId
		)
	) X    
	GROUP BY
	AllocationId,
	SubCategoryId,
	InitialAmount,
	ReserveAmount,
	UseAmount
	

) XX on bal.AllocationId=XX.AllocationId AND bal.SubCategoryId=XX.SubCategoryId
WHERE IIF(@budgetid=0,0,bal.AllocationId)=IIF(@budgetid=0,0,@budgetid) AND (bal_reserve_amount <> act_reserve_amount OR bal_use_amount <> act_use_amount) 



END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH



GO
