

/****** Object:  StoredProcedure [dbo].[ip_conf_reminder_promo_initiator]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_conf_reminder_promo_initiator]
AS
BEGIN
    select id, remindertype, category, Description, datereminder
    from tbset_config_reminder where remindertype=400
END
GO
