

/****** Object:  StoredProcedure [dbo].[ip_log_promo_detail]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_log_promo_detail]
--DECLARE
 @id int
AS
BEGIN
	SELECT
	    pr.id, pr.RefId, pr.ActivityDesc, pr.StartPromo, pr.EndPromo, pr.Investment, pr.CreateBy, pr.CreateOn, pr.ModifiedBy, pr.ModifiedOn
	FROM tbhis_promo pr
    WHERE id=@id
    ORDER BY ParentId
END
GO
