

/****** Object:  StoredProcedure [dbo].[ip_promo_calendar_list_pwf]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_calendar_list_pwf]
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

SELECT a.*, datediff(day, @utcDate123, a.StartPromo) remainingdays
from tbtrx_promo_calendar a
left join tbtrx_promo b on a.PromoRefId = b.RefId 
WHERE b.RefId is null
AND datediff(day, @utcDate123, a.StartPromo) < 60
AND IIF(@userid='0','',a.pic) =IIF(@userid='0','',@userid)
 
GO
