USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_report_readytopay_filter_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_debetnote_report_readytopay_filter_list]
	@profileid varchar(50)
AS
BEGIN
	SELECT id categoryId, shortDesc categoryShortDesc, longDesc categoryLongDesc FROM tbmst_category WHERE ISNULL(IsDeleted,0)=0

	SELECT b.id entityId, b.LongDesc entityDesc, d.Id distributorId,d.LongDesc distributorDesc, d.ShortDesc distributorShortDesc 
		from tbset_principal_distributor a
		inner join tbmst_principal b ON a.PrincipalId = b.id
		inner join tbmst_distributor d on a.DistributorId=d.Id
		where isnull(d.IsDeleted,0)=0

	select a.Id subAccountId, a.LongDesc subAccountDesc from tbmst_subaccount a

END

GO
