USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_hlp_investment_dn]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[ip_hlp_investment_dn]
 @periode varchar(4),
 @entity int,
 @distributor int,
 @channel int,
 @account int,
 @userid varchar(50)
AS
 DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

-- DECLARE
-- @periode varchar(4),
-- @entity int,
-- @distributor int,
-- @channel int,
-- @account int,
-- @userid varchar(50),

-- @start int,
-- @length int,
-- @filter varchar(255),
-- @txtSearch varchar(255)

--SET @periode ='2020'
--SET @entity =0
--SET @distributor =0
--SET @channel =0
--SET @account =0
--SET @userid ='admclho1'

BEGIN
		--DROP TABLE IF EXISTS tbhlp_investment_dn;
		delete from tbhlp_investment_dn where userid = @userid;
        drop table if exists #temp_result1;
		drop table if exists #temp_result2;
		drop table if exists  #temp_account
		drop table if exists  #temp_channel
		drop table if exists  #temp_ponum_a
		drop table if exists  #temp_ponum
		drop table if exists  #temp_batchname 

		DECLARE @recordsFiltered int;
		DECLARE @profitcenter varchar(10)


	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
/*XVA*channel********************************************************/	
		SELECT a.id DNId, channel.ChannelDesc
		INTO #temp_channel
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
        INNER JOIN
        (
            SELECT PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
                    FROM tbtrx_promo_channel a with (nolock)
                    INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                    INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId                
                GROUP BY a.PromoId
        ) channel on b.id=channel.promoid
        WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode

	    INSERT INTO #temp_channel
		SELECT a.id DNId, e.LongDesc ChannelDesc
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		INNER JOIN tbmst_account c WITH (NOLOCK) ON b.AccountId = c.Id 
		INNER JOIN tbmst_subchannel d WITH (NOLOCK) ON c.SubChannelId = d.Id 
		INNER JOIN tbmst_channel e WITH (NOLOCK) ON d.ChannelId = e.Id 
		WHERE isnull(a.promoid, 0) = 0
        AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode

/*XVA*account********************************************************/		
		SELECT a.id dnid, account.AccountDesc 
		INTO #temp_account
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
        INNER JOIN
        (
            SELECT PromoId, string_agg(acc.LongDesc,' ,') AccountDesc
                    FROM tbtrx_promo_account a with (nolock)
                    INNER join tbmst_account acc with (nolock) ON a.AccountId = acc.Id 
                    INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId       
                GROUP BY a.PromoId
        ) account on b.id=account.promoid
        WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode
		
	    INSERT INTO #temp_account
		SELECT a.id dnid, e.LongDesc AccountDesc 
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		INNER JOIN tbmst_account e WITH (NOLOCK) ON b.AccountId = e.id
		WHERE isnull(a.promoid, 0) = 0
        AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode
	    
/*XVA*subaccount********************************************************/		
		SELECT a.id dnid, subaccount.SubAccountDesc 
		INTO #temp_subaccount
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
        INNER JOIN
        (
            SELECT PromoId, string_agg(subacc.LongDesc,' ,') SubAccountDesc
                    FROM tbtrx_promo_subaccount a with (nolock)
                    INNER join tbmst_subaccount subacc with (nolock) ON a.subaccountid = subacc.Id 
                    INNER JOIN tbtrx_promo pr with (nolock) ON pr.Id=a.PromoId       
                GROUP BY a.PromoId
        ) subaccount on b.id=subaccount.promoid
        WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode
		
	    INSERT INTO #temp_subaccount
		SELECT a.id dnid, b.LongDesc SubAccountDesc 
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		WHERE isnull(a.promoid, 0) = 0
        AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@account=0,'',a.accountid) =IIF(@account=0,'',@account)
	    AND year(a.CreateOn)=@periode

/*XVA*PONUMBER********************************************************/
	select a.Id,a.RefId, ISNULL(PONumber,'----')ponumber, x.id xmlid into #temp_ponum_a from tbtrx_debetnote a WITH (NOLOCK)
	left join
	(
		SELECT       PONumber AS RefID, PONumber, id
		FROM         tbxml_generate WITH (NOLOCK)
		WHERE        left(PONumber,3)= 'DN-'

		UNION ALL

		SELECT       dn.RefId, xml.PONumber, xml.id
		FROM
						tbxml_generate xml INNER JOIN
						tbtrx_invoice_header ih WITH (NOLOCK) ON xml.PONumber = ih.RefId INNER JOIN
						tbtrx_invoice_detail id WITH (NOLOCK) ON ih.Id = id.ParentId INNER JOIN
						tbtrx_debetnote dn WITH (NOLOCK) ON id.DNId = dn.Id
		WHERE        left(xml.PONumber,4) = 'INV/'

		UNION ALL

		SELECT       dn.RefId, xml.PONumber, xml.id
		FROM         tbtrx_debetnote dn WITH (NOLOCK) INNER JOIN tbxml_generate xml WITH (NOLOCK) ON RIGHT(dn.RefId, 8) = RIGHT(xml.PONumber, 8)
		WHERE        (NOT (left(xml.PONumber,4)='INV/' OR left(xml.PONumber,3)='DN-'))
	)x on a.refid=x.refid

	select a.Id,a.RefId, ISNULL(PONumber,'----')ponumber into #temp_ponum from tbtrx_debetnote a WITH (NOLOCK)
	left join (
			select tpa.* from #temp_ponum_a tpa
			inner join (
				select RefId,MAX(xmlid) xmlid from #temp_ponum_a group by refid
				)tpag on tpa.RefId=tpag.RefId and tpa.xmlid=tpag.xmlid
		)b on a.RefId=b.RefId

	/*********************************************************XVA*/
	select DNId,BatchName into #temp_batchname from tbhis_xml_generate_batchname where ISNULL(IsDeleted,0)=0
/*XVA*BATCHNAME********************************************************/


	IF isnull(@profitcenter,'')='1100'
	BEGIN
			INSERT INTO tbhlp_investment_dn
			SELECT @userid, *
			FROM
			(
				SELECT 
					'Debit Note' Category,
					a.Id dnurut,
					0 dnurut1,
					a.Id,
					a.RefId,
					'' dnkontra,
					isnull(a.PromoId,0) PromoId,
					a.PrincipalId EntityId,
					p.LongDesc EntityDesc,
					a.DistributorId,
					n.LongDesc DistributorDesc,
					isnull(b.RefId,'') PromoRefId,
					a.ActivityDesc,
					isnull(acc.AccountDesc, '') Account,
					isnull(subacc.SubAccountDesc, '') SubAccount,
					f.LongDesc Sellingpoint,
					f.ProfitCenter,
					a.dpp DPP,
					a.PPNPct,
					a.PPnAmt,					
					iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)) TotalClaim,					
					iif(a.laststatus='confirm_paid',iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)),0) TotalPaid,
					a.PaymentDate,
					a.LastStatus,
					isnull(h.RefId,'') SuratPengantarCabang,
					isnull(j.RefId,'') SuratPengantarHO,
					l.[RefId] InvoiceNo,
					isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
					isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
					datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, @utcDate123, m.ready_to_invoice_on)) Aging,
					a.CreateOn,
					a.CreateBy,
					iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
					a.ModifiedBy,
					isnull(a.IsOverBudget,0) IsOverBudget,
					b.TsCoding,
					a.InternalOrderNumber,
					a.IsDNPromo,
					a.IntDocNo,
					a.MemDocNo,
					n.LongDesc DistributorName,
					a.FeeDesc,
					a.FeePct,
					a.FeeAmount
					,a.TaxLevel MaterialNumber
					,tmm.Description TaxLevel
					,a.Notes
					,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
					,m.received_by_danone_by
					,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
					,m.validate_by_finance_by
					,m.validate_by_finance_on
					,m.validate_by_sales_by
					,m.validate_by_sales_on
					,m.ready_to_invoice_by InvoiceNotifBy
					,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
					,m.invoice_by
					,m.invoice_on
					,m.confirm_paid_by
					,m.confirm_paid_on
					,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
					,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
					,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
					,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
					,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
					,a.PPHPct
					,a.PPHAmt
					,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
					,a.StatusSalesNotes
					,a.StatusSalesDistOn
					,usr.username validate_by_finance_by_username
					,a.FPNumber
					,a.FPDate
				    ,a.VATExpired
				    , tbl.ponumber
				    ,chn.ChannelDesc channel
				    ,iif(isnull(a.IsDNPromo,0)=1 and isnull(a.PromoId,0)=0, a.AssignBy, '---') PIC
				    ,bat.batchname batchname
				    ,m.send_to_danone_on 
				    ,m.send_to_danone_by 
				from tbtrx_debetnote a WITH (NOLOCK)
				inner join tbhlp_investment_promo prhlp on a.promoid=prhlp.id and prhlp.userid = @userid
	/*XVA*********************************************************/
				inner join #temp_ponum tbl on a.Id=tbl.id
	/*********************************************************XVA*/
				inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
--	            INNER JOIN(
--	                SELECT DistributorId FROM tbset_user_distributor dis WITH (NOLOCK) WHERE UserId=@userid
--	            ) dis on a.DistributorId=dis.DistributorId
				inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
		        LEFT join #temp_account acc on a.id=acc.dnid
		        LEFT join #temp_subaccount subacc on a.id=subacc.dnid
				LEFT JOIN #temp_channel chn ON a.id=chn.dnid  
				LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
				LEFT JOIN tbset_mapping_material tmm WITH (NOLOCK) on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
				LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint WITH (NOLOCK) ) e on e.DNId=a.Id
				LEFT JOIN tbmst_sellingpoint f WITH (NOLOCK) on e.Sellpoint=f.RefId
				LEFT JOIN tbtrx_debetnote_sp_detail g WITH (NOLOCK) on g.DnId=a.Id and isnull(g.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header h WITH (NOLOCK) on g.ParentId=h.Id
				LEFT JOIN tbtrx_debetnote_sp_detail_ho i WITH (NOLOCK) on i.DnId=a.Id and isnull(i.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header_ho j WITH (NOLOCK) on i.ParentId=j.Id
				LEFT JOIN tbtrx_invoice_detail k WITH (NOLOCK) on k.DnId=a.Id AND isnull(k.IsCancel, 0) = 0
				LEFT JOIN tbtrx_invoice_header l WITH (NOLOCK) on l.id=k.Parentid
				LEFT JOIN tbtrx_debetnote_his m WITH (NOLOCK) on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
				LEFT JOIN tbset_user usr WITH (NOLOCK) on m.validate_by_finance_by=usr.id
	/*XVA*********************************************************/
				LEFT JOIN #temp_batchname bat on  a.Id=bat.DNId
	/*********************************************************XVA*/
	            WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
	            AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
	            AND isnull(a.iscancel,0)=0
--			    AND year(a.CreateOn)=@periode
			) dnreport
			order by dnreport.dnurut, dnreport.dnurut1

	END
	ELSE
	BEGIN
			INSERT INTO tbhlp_investment_dn
			SELECT @userid, *			
			FROM
			(
				SELECT
					'Debit Note' Category,
					a.Id dnurut,
					0 dnurut1,
					a.Id,
					a.RefId,
					'' dnkontra,
					isnull(a.PromoId,0) PromoId,
					a.PrincipalId EntityId,
					p.LongDesc EntityDesc,
					a.DistributorId,
					n.LongDesc DistributorDesc,
					isnull(b.RefId,'') PromoRefId,
					a.ActivityDesc,
					isnull(acc.AccountDesc, '') Account,
					isnull(subacc.SubAccountDesc, '') SubAccount,
					f.LongDesc Sellingpoint,
					f.ProfitCenter,
					a.dpp DPP,
					a.PPNPct,
					a.PPnAmt,
					iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)) TotalClaim,					
					iif(a.laststatus='confirm_paid',iif(vatexpired=1,isnull(a.DPP, 0)+isnull(a.ppnamt,0),isnull(a.DPP, 0)),0) TotalPaid,					
					a.PaymentDate,
					a.LastStatus,
					isnull(h.RefId,'') SuratPengantarCabang,
					isnull(j.RefId,'') SuratPengantarHO,
					l.[RefId] InvoiceNo,
					isnull(convert(varchar(50),m.received_by_danone_on,120),'') ReceivedByDanoneOn,
					isnull(convert(varchar(50),m.ready_to_invoice_on,120),'') InvoiceNotifOn,
					datediff(d,m.received_by_danone_on, iif(m.ready_to_invoice_on is null, @utcDate123, m.ready_to_invoice_on)) Aging,
					a.CreateOn,
					a.CreateBy,
					iif(a.ModifiedOn is null,a.createon,a.modifiedon) LastUpdate,
					a.ModifiedBy,
					isnull(a.IsOverBudget,0) IsOverBudget,
					b.TsCoding,
					a.InternalOrderNumber,
					a.IsDNPromo,
					a.IntDocNo,
					a.MemDocNo,
					n.LongDesc DistributorName,
					a.FeeDesc,
					a.FeePct,
					a.FeeAmount
					,a.TaxLevel MaterialNumber
					,tmm.Description TaxLevel
					,a.Notes
					,iif(isnull(b.CreateBy,'')='','----',b.CreateBy)  Initiator
					,m.received_by_danone_by
					,iif(isnull(m.received_by_danone_by, '')='','','by ' + m.received_by_danone_by + ' on ' + CAST(m.received_by_danone_on as varchar)) ReceivedByDanone
					,m.validate_by_finance_by
					,m.validate_by_finance_on
			-- 	    ,isnull(convert(varchar(50),m.validate_by_finance_on,120),'') validate_by_finance_on
					,m.validate_by_sales_by
					,m.validate_by_sales_on
					,m.ready_to_invoice_by InvoiceNotifBy
					,iif(isnull(m.ready_to_invoice_by, '')='','','by ' + m.ready_to_invoice_by + ' on ' + CAST(m.ready_to_invoice_on as varchar)) InvoiceNotif
					,m.invoice_by
					,m.invoice_on
					,m.confirm_paid_by
					,m.confirm_paid_on
					,iif(isnull(m.validate_by_finance_by, '')='','','by ' + m.validate_by_finance_by + ' on ' + CAST(m.validate_by_finance_on as varchar)) validate_by_finance
					,iif(isnull(m.validate_by_sales_by, '')='','','by ' + m.validate_by_sales_by + ' on ' + CAST(m.validate_by_sales_on as varchar)) validate_by_sales
					,iif(isnull(m.invoice_by, '')='','','by ' + m.invoice_by + ' on ' + CAST(m.invoice_on as varchar)) invoiced
					,iif(isnull(m.confirm_paid_by, '')='','','by ' + m.confirm_paid_by + ' on ' + CAST(m.confirm_paid_on as varchar)) confirm_paid
					,IIF(a.StatusSalesCode='TP1', 'Sendback by Distributor', IIF(a.StatusSalesCode='TP2', 'Yes', IIF(a.StatusSalesCode='TP3', 'Remarks by Sales', 'No'))) SalesValidationStatus
					,a.PPHPct
					,a.PPHAmt
					,IIF(a.StatusSalesCode='TP3', a.StatusSalesOn, NULL) StatusSalesOn
					,a.StatusSalesNotes
					,a.StatusSalesDistOn
					,usr.username validate_by_finance_by_username
					,a.FPNumber
					,a.FPDate
				    ,a.VATExpired
				    , tbl.ponumber
				    ,chn.ChannelDesc channel
				    ,iif(isnull(a.IsDNPromo,0)=1 and isnull(a.PromoId,0)=0, a.AssignBy, '---') PIC
				    ,bat.BatchName batchname
				    ,m.send_to_danone_on 
				    ,m.send_to_danone_by 	
				from tbtrx_debetnote a WITH (NOLOCK)
				inner join tbhlp_investment_promo prhlp on a.promoid=prhlp.id and prhlp.userid = @userid
	/*XVA*********************************************************/
				inner join #temp_ponum tbl on a.Id=tbl.id
	/*********************************************************XVA*/
				inner join tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
--	            INNER JOIN(
--	                SELECT DistributorId FROM tbset_user_distributor dis WITH (NOLOCK) WHERE UserId=@userid
--	            ) dis on a.DistributorId=dis.DistributorId
				inner join tbmst_principal p WITH (NOLOCK) ON a.PrincipalId = p.Id
		        LEFT join #temp_account acc on a.id=acc.dnid
		        LEFT join #temp_subaccount subacc on a.id=subacc.dnid
				LEFT JOIN #temp_channel chn ON a.id=chn.dnid  
				LEFT JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId=b.Id
				LEFT JOIN tbset_mapping_material tmm WITH (NOLOCK) on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
				LEFT JOIN (SELECT DNId,Sellpoint from tbtrx_debetnote_sellpoint WITH (NOLOCK) ) e on e.DNId=a.Id
				LEFT JOIN tbmst_sellingpoint f WITH (NOLOCK) on e.Sellpoint=f.RefId
				LEFT JOIN tbtrx_debetnote_sp_detail g WITH (NOLOCK) on g.DnId=a.Id and isnull(g.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header h WITH (NOLOCK) on g.ParentId=h.Id
				LEFT JOIN tbtrx_debetnote_sp_detail_ho i WITH (NOLOCK) on i.DnId=a.Id and isnull(i.IsCancel,0)=0
				LEFT JOIN tbtrx_debetnote_sp_header_ho j WITH (NOLOCK) on i.ParentId=j.Id
				LEFT JOIN tbtrx_invoice_detail k WITH (NOLOCK) on k.DnId=a.Id AND isnull(k.IsCancel, 0) = 0
				LEFT JOIN tbtrx_invoice_header l WITH (NOLOCK) on l.id=k.Parentid
				LEFT JOIN tbtrx_debetnote_his m WITH (NOLOCK) on m.DnId=a.Id --and isnull(m.is_cancel,0)=0
				LEFT JOIN tbset_user usr WITH (NOLOCK) on m.validate_by_finance_by=usr.id
	/*XVA*********************************************************/
				LEFT JOIN #temp_batchname bat on  a.Id=bat.DNId
	/*********************************************************XVA*/
	            WHERE a.AreaCode=@profitcenter
	            AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
	            AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
	            AND isnull(a.iscancel,0)=0
--			    AND year(a.CreateOn)=@periode
			) dnreport
			order by dnreport.dnurut, dnreport.dnurut1

	END
	/*XVA*********************************************************/
        drop table if exists #temp_result1;
		drop table if exists #temp_result2;
		drop table if exists  #temp_account
		drop table if exists  #temp_channel
		drop table if exists  #temp_ponum_a
		drop table if exists  #temp_ponum
		drop table if exists  #temp_batchname 
	/*********************************************************XVA*/	
END;
GO
