

/****** Object:  StoredProcedure [dbo].[ip_import_master_principal]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_import_master_principal]
@Principal PrincipalType READONLY,

@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
PRINCIPAL
*****************/

	MERGE tbmst_principal t
	USING 		
		@Principal s 	
	ON t.LongDesc=s.LongDesc 
	WHEN MATCHED THEN
	UPDATE 
	SET t.LongDesc=s.LongDesc
	,t.ShortDesc=s.ShortDesc	
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (		
           [LongDesc]
           ,[ShortDesc]	
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
           s.LongDesc
           ,s.ShortDesc	
           ,1
           ,@utcDate123
           ,@userid
           );



END
GO
