

/****** Object:  StoredProcedure [dbo].[ip_promo_approval_list_withskp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_approval_list_withskp] --'2020',0,0,0,0,'scsh1'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid='cmhyper'
AS

/*
	LGP 2020-02-16 : Perbaikan Aging, exclude weekend
	EDJ 2020-06-08 : and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
*/

BEGIN
DECLARE @Temp TABLE
	(
	  BudgetParent int, 
	  Levels int,
	  BudgetId int
	  --BudgetType varchar(3),
	  --BudgetName varchar(255),
	  --InitialBudgetAmount numeric(18,0),
	  --PromoCreated numeric(18,0),
	  --TotalSpending numeric(18,0),
	  --DnClaim numeric(18,0),
	  --DnPaid numeric(18,0),
	  --Available numeric(18,0)
	)
	;

	declare @p_alcid int;

	DECLARE 
		@product_name int
    
 
	DECLARE cursor_product CURSOR
	FOR SELECT 
			Id
        
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
	OPEN cursor_product;
 

	FETCH NEXT FROM cursor_product INTO 
		@product_name
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
        
		--SET @p_alcid=@budgetparent;
		SET @p_alcid=@product_name;
		
			/***/

				with CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				as
				(
				select 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
				union all
				select a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
				inner join tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
				inner join tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
				INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
				--where AllocationId=@p_alcid
				)
				
		
	INSERT INTO @Temp
	SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
	option (maxrecursion 0);
		 
			FETCH NEXT FROM cursor_product INTO 
				@product_name 
            
		END;
 
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;

	select distinct	  
	  --p.LongDesc Entity
	  --,d.LongDesc Distributor
	  --,p.LongDesc PrincipalDesc
	  

	  pr.Id PromoId
	  ,r.Id RequestId
	  ,appr.RequestDate
	  ,pr.RefId
	  ,pr.ActivityDesc
	  
	  ,DATEDIFF(day,appr.RequestDate,getdate()) 
		-(DATEDIFF(wk, appr.RequestDate,getdate()) * 2)
		-(CASE WHEN DATENAME(dw, appr.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
		-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) AgingApproval
	  ,pr.StartPromo
	  ,pr.EndPromo	  
	  ,pr.CreateBy [Initiator] 
	  ,pr.CreateOn
	  ,pr.Investment
	  ,pr.NormalSales + pr.IncrSales TotalSales
	  ,pr.tscoding
	  ,skp.SKPDraftAvail
	  ,skp.SKPDraftAvailOn
	  ,skp.SKPDraftAvailBy
	  ,skp.SKPDraftAvailBfrAct60
	  ,skp.SKPDraftAvailBfrAct60On
	  ,skp.SKPDraftAvailBfrAct60By
	  ,skp.PeriodMatch
	  ,skp.PeriodMatchOn
	  ,skp.PeriodMatchBy
	  ,skp.InvestmentMatch
	  ,skp.InvestmentMatchOn
	  ,skp.InvestmentMatchBy
	  ,skp.MechanismMatch
	  ,skp.MechanismMatchOn
	  ,skp.MechanismMatchBy
	  ,skp.SKPSign7
	  ,skp.SKPSign7On
	  ,skp.SKPSign7By
	from @temp a
	inner join tbtrx_promo pr on a.BudgetId=pr.AllocationId
	INNER JOIN tbtrx_promo_request_approval r on r.ParentId=pr.Id and isnull(r.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0 -- EDJ 2020-06-08
	INNER JOIN tbtrx_promo_approval appr on appr.RequestId=r.Id and appr.IsOnGoing=1 and appr.[Status]='TP1'
    inner join tbtrx_allocation c on a.BudgetId=c.Id 
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	left join tbtrx_allocation_channel chn on c.Id=chn.AllocationId
	inner join tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
	inner join tbset_user uo on uo.Id=usr.UserId
	inner join tbset_user uf on uf.Id=usr.UserId
	left join
			(
				select AllocationId,
				STUFF(
						(select ',' + chn.LongDesc 
							from tbtrx_allocation_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.AllocationId=b.AllocationId
							FOR XML PATH ('')),1,1,'') AS ChannelDesc
					FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
			) channel
			on c.Id = channel.AllocationId
	LEFT JOIN tbtrx_promo_skp_validate skp on pr.Id = skp.PromoId 
	where m.Periode=@periode
	AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
	AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
	AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
	AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
	AND IIF(@userid='0','',appr.UserApprover) =IIF(@userid='0','',@userid)
	AND isnull(pr.IsCancel,0)=0
	AND isnull(pr.IsCancelLocked,0)=0
	ORDER BY pr.Id

END





GO
