

/****** Object:  StoredProcedure [dbo].[ip_promo_cancel_request]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_promo_cancel_request] --7,'kammidi','tes req cancel'
@promoid int,
@userid varchar(50),
@notes varchar(255),
@requestEmail varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()


-- BEGIN TRY

declare 
@messageout varchar(255),
@approver varchar(50),
@email_approver varchar(100),
@RequestId int,
@isclose int,
@IsCancelLocked int

SELECT @isclose = isnull(IsClose, 0), @IsCancelLocked = isnull(IsCancelLocked, 0) FROM tbtrx_promo WHERE id=@promoid
if not exists(SELECT ParameterValue from tbset_general_parameter where ParameterName='Approver Promo Cancel')
	begin
		SET @messageout='Parameter Approver Promo Cancel not found'
		 RAISERROR (@messageout, -- Message text.  
               16, -- Severity.  
               1 -- State.  
               );  
	end
ELSE
    BEGIN
        IF EXISTS
        (
            SELECT TOP 1 Id 
            FROM tbtrx_debetnote 
            WHERE PromoId=@promoid AND isnull(IsCancel,0)=0 AND isnull(IsDNPromo,0)=1
        --	and LastStatus NOT IN ('ready_to_invoice','invoice','confirm_paid')
        ) 
        BEGIN
                SET @messageout='Cancellation failed due to DN claimed for this promo'
                 RAISERROR (@messageout, -- Message text.  
                       16, -- Severity.  
                       1 -- State.  
                       );  
        END
        ELSE
        BEGIN 
	        IF @isclose = 1
	        BEGIN
                SET @messageout='Cancellation failed because this promo has closed'
       	        RAISERROR (@messageout, -- Message text.  
                       16, -- Severity.  
                       1 -- State.  
                       );  
	        END
	        ELSE
	        BEGIN
		        IF @IsCancelLocked = 1
		        BEGIN
	                SET @messageout='Cancellation failed because this promo has cancelled request'
	       	        RAISERROR (@messageout, -- Message text.  
	                       16, -- Severity.  
	                       1 -- State.  
	                       );  
		        END
		        ELSE
		        BEGIN
			        
		            UPDATE tbtrx_promo 
		            SET 
		            IsCancelLocked=1
		            WHERE Id=@promoid
		            
		            SELECT @approver=a.ParameterValue, @email_approver=b.email from tbset_general_parameter a
		            INNER JOIN tbset_user b on ParameterValue = b.id
		            where a.ParameterName='Approver Promo Cancel'
		            
		            declare @promorefid varchar(50)
		            set @promorefid=(SELECT refid FROM tbtrx_promo where Id=@promoid)
		            
		            
		                INSERT INTO [dbo].[tbtrx_promo_cancel_request]
		                       ([PromoId]
		                       ,[CancelReason]
		                       ,[RequestDate]
		                       ,[RequestBy]
		                       ,[RequestEmail]
		                       )
		                 VALUES
		                       (@promoid
		                       ,@notes
		                       ,@utcDate123
		                       ,@userid
		                       ,@requestEmail
		                       )
		            
		                SET @RequestId=(SELECT SCOPE_IDENTITY())
		            
		            
		            
		                INSERT INTO [dbo].[tbtrx_promo_cancel_approval]
		                       ([RequestId]
		                       ,[Sequence]
		                       ,[UserApprover]
		                       ,[Status]
		                       ,[RequestDate]
		                       ,[ActionDate]
		                       ,[IsOnGoing]
		                       )
		                 VALUES
		                       (@RequestId
		                       ,1
		                       ,@approver
		                       ,'TP1'
		                       ,@utcDate123
		                       ,@utcDate123
		                       ,1
		                       )
		            
		        
		                    UPDATE [tbtrx_promo_cancel_request]
		                    SET IsCancel=1
		                    WHERE PromoId=@promoId
		                    and Id <> @RequestId		
		                    AND ISNULL(IsCancel,0)=0
		     
		            select 1 as bool,@promoid as [Id],@promorefid as [RefId], 200 as [statuscode], @approver userid_approver, @email_approver email_approver
	    		END
	    	END
        END
    END
GO
