USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_config_promo_items_save]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ip_config_promo_items_save]
@id int,
@userid varchar(50),
@useremail varchar(100),
@configPromoItems ConfigPromoItemsType READONLY
AS
	DECLARE @utcDate123 DATETIME
	SET @utcDate123 = dbo.getUTCDateConversion()
BEGIN
	INSERT INTO tbhis_config_promo_items (
		status,
		categoryId,
		budgetYear,
		promoPlanning,
		budgetSource,
		entity,
		distributor,
		subCategory,
		activity,
		subActivity,
		subActivityType,
		startPromo,
		endPromo,
		activityName,
		initiatorNotes,
		incrSales,
		investment,
		channel,
		subChannel,
		account,
		subAccount,
		region,
		groupBrand,
		brand,
		SKU,
		mechanism,
		Attachment,
		ROI,
		CR,
		createOn,
		createBy,
		createdEmail	
	)
	SELECT 
		'delete',
		@id,
		budgetYear,
		promoPlanning,
		budgetSource,
		entity,
		distributor,
		subCategory,
		activity,
		subActivity,
		subActivityType,
		startPromo,
		endPromo,
		activityName,
		initiatorNotes,
		incrSales,
		investment,
		channel,
		subChannel,
		account,
		subAccount,
		region,
		groupBrand,
		brand,
		SKU,
		mechanism,
		Attachment,
		ROI,
		CR,
		@utcDate123,
		@userid,
		@useremail
	FROM tbset_config_promo_items
	WHERE categoryid = @id
	
	DELETE FROM tbset_config_promo_items WHERE categoryid = @id
	
	INSERT INTO tbset_config_promo_items
	(
		categoryId,
		budgetYear,
		promoPlanning,
		budgetSource,
		entity,
		distributor,
		subCategory,
		activity,
		subActivity,
		subActivityType,
		startPromo,
		endPromo,
		activityName,
		initiatorNotes,
		incrSales,
		investment,
		channel,
		subChannel,
		account,
		subAccount,
		region,
		groupBrand,
		brand,
		SKU,
		mechanism,
		Attachment,
		ROI,
		CR,
		modifiedOn,
		modifiedBy,
		modifiedEmail
	)
	SELECT
		@id,
		budgetYear,
		promoPlanning,
		budgetSource,
		entity,
		distributor,
		subCategory,
		activity,
		subActivity,
		subActivityType,
		startPromo,
		endPromo,
		activityName,
		initiatorNotes,
		incrSales,
		investment,
		channel,
		subChannel,
		account,
		subAccount,
		region,
		groupBrand,
		brand,
		SKU,
		mechanism,
		Attachment,
		ROI,
		CR,
		@utcDate123,
		@userid,
		@useremail
	FROM @configPromoItems
	
	INSERT INTO tbhis_config_promo_items (
		status,
		categoryId,
		budgetYear,
		promoPlanning,
		budgetSource,
		entity,
		distributor,
		subCategory,
		activity,
		subActivity,
		subActivityType,
		startPromo,
		endPromo,
		activityName,
		initiatorNotes,
		incrSales,
		investment,
		channel,
		subChannel,
		account,
		subAccount,
		region,
		groupBrand,
		brand,
		SKU,
		mechanism,
		Attachment,
		ROI,
		CR,
		createOn,
		createBy,
		createdEmail	
	)
	SELECT 
		'insert',
		@id,
		budgetYear,
		promoPlanning,
		budgetSource,
		entity,
		distributor,
		subCategory,
		activity,
		subActivity,
		subActivityType,
		startPromo,
		endPromo,
		activityName,
		initiatorNotes,
		incrSales,
		investment,
		channel,
		subChannel,
		account,
		subAccount,
		region,
		groupBrand,
		brand,
		SKU,
		mechanism,
		Attachment,
		ROI,
		CR,
		@utcDate123,
		@userid,
		@useremail
	FROM tbset_config_promo_items
	WHERE categoryid = @id

END 
GO
