USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getattribute_bypromoplanningid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_getattribute_bypromoplanningid]
@userid varchar(50),
@attribute varchar(50),
@parent ArrayIntType READONLY,
@promoplanningid int
AS
BEGIN
    if @attribute='channel'
        begin
	        SELECT DISTINCT * FROM
	        (
	            SELECT distinct a.channelid Id,c.LongDesc,c.Shortdesc 
	            FROM vw_account a
	            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
	            inner join tbmst_channel c on c.Id=a.ChannelId
	            WHERE isnull(c.IsDelete, 0)=0
	            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
	            UNION ALL
	            SELECT distinct a.channelid Id,c.LongDesc,c.Shortdesc 
	            FROM vw_account a
	            inner join tbtrx_promo_planning_channel b on a.ChannelId = b.ChannelId 
	            inner join tbmst_channel c on c.Id=a.ChannelId
	            WHERE isnull(c.IsDelete, 0)=0 AND b.PromoPlanId =@promoplanningid
            ) channel
        end

    if @attribute='subchannel'
        begin
	        SELECT DISTINCT * FROM (
	            SELECT DISTINCT a.subchannelid Id,c.LongDesc,c.Shortdesc FROM vw_account a
	            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
	            inner join tbmst_subchannel c on c.Id=a.SubChannelId
	            inner join @parent d on d.keyid=c.ChannelId
	            WHERE isnull(c.IsDelete, 0)=0
	            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
	            UNION ALL
	            SELECT DISTINCT a.subchannelid Id,c.LongDesc,c.Shortdesc 
	            FROM vw_account a
	            inner join tbtrx_promo_planning_subchannel b on a.SubChannelId = b.SubChannelId 
	            inner join tbmst_subchannel c on c.Id=a.SubChannelId
	            inner join @parent d on d.keyid=c.ChannelId
	            WHERE isnull(c.IsDelete, 0)=0 AND b.PromoPlanId =@promoplanningid
            ) subchanel
        end

    if @attribute='account'
        begin
	        SELECT DISTINCT * FROM (
	            SELECT DISTINCT a.accountid Id,c.LongDesc,c.Shortdesc FROM vw_account a
	            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
	            inner join tbmst_account c on c.Id=a.accountId
	            inner join @parent d on d.keyid=c.SubChannelId
	            WHERE isnull(c.IsDelete, 0)=0
	            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
	            UNION ALL
	            SELECT DISTINCT a.accountid Id,c.LongDesc,c.Shortdesc 
	            FROM vw_account a
	            inner join tbtrx_promo_planning_account b on a.AccountId = b.AccountId 
	            inner join tbmst_account c on c.Id=a.accountId
	            inner join @parent d on d.keyid=c.SubChannelId
	            WHERE isnull(c.IsDelete, 0)=0 AND b.PromoPlanId =@promoplanningid
			) account
        end

    if @attribute='subaccount'
        begin
	        SELECT DISTINCT * FROM (
	            SELECT DISTINCT a.subaccountid Id,c.LongDesc,c.Shortdesc FROM vw_account a
	            inner join tbset_user_subaccount b on a.SubAccountId=b.SubAccountId
	            inner join tbmst_subaccount c on c.Id=a.subaccountId
	            inner join @parent d on d.keyid=c.AccountId
	            WHERE isnull(c.IsDelete, 0)=0
	            AND iif(@userid='0', '', b.userid)=iif(@userid='0', '', @userid)
	            UNION ALL 
	            SELECT DISTINCT a.subaccountid Id,c.LongDesc,c.Shortdesc FROM vw_account a
	            inner join tbtrx_promo_planning_subaccount b on a.SubAccountId=b.SubAccountId
	            inner join tbmst_subaccount c on c.Id=a.subaccountId
	            inner join @parent d on d.keyid=c.AccountId
	            WHERE isnull(c.IsDelete, 0)=0 AND b.PromoPlanId =@promoplanningid
			) subaccount
        end
END
GO
