USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getattribute_budget_byid]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Author,,AINUL>
-- Create date: <Create Date,,20190928>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ip_getattribute_budget_byid] --36
	-- Add the parameters for the stored procedure here
	@Id			int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ALO AS TABLE(
		Id INT NULL
	)

	INSERT INTO @ALO(Id)
	SELECT ALLOC.Id
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
	AND (ISNULL(@Id,'')='' OR ALLOC.Id=@Id)
		

	SELECT
		c.Id
		,c.Periode
		,c.RefId
		,c.BudgetType
		,c.DistributorId
		,d.LongDesc DistributorName
		,c.OwnerId
		,uo.username OwnerName		
		,c.FromOwnerId
		,uf.username FromOwnername
		,c.BudgetMasterId
		,c.BudgetSourceId		
		,c.BudgetAmount
		,c.LongDesc
		,c.ShortDesc
		,c.StatusApproval
		,c.IsActive
		,c.IsLocked
	FROM 
	tbtrx_allocation c
	inner join tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	inner join tbset_user uo on uo.Id=c.OwnerId
	inner join tbset_user uf on uf.Id=c.FromOwnerId
	INNER JOIN @ALO t on t.Id=c.Id 
	WHERE ISNULL(c.IsDelete,0)=0 
		

	SELECT
		R.AllocationId AS RegionAllocId
		,MR.Id AS RegionId
		,MR.LongDesc AS RegionName
	FROM [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_region] AS MR WITH(NOLOCK) ON R.RegionId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)
	
	SELECT
		C.AllocationId AS ChannelAllocId
		,MC.Id AS ChannelId
		,MC.LongDesc AS ChannelName
	FROM [dbo].[tbtrx_allocation_channel] AS C WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_channel] AS MC WITH(NOLOCK) ON C.ChannelId=MC.Id
	WHERE C.AllocationId IN (SELECT Id FROM @ALO)

	--SELECT
	--	SC.AllocationId AS SubChannelAllocId
	--	,MSC.Id AS SubChannelId
	--	,MSC.LongDesc AS SubChannelName
	--FROM [dbo].[tbtrx_allocation_subchannel] AS SC WITH(NOLOCK)
	--INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON SC.ChannelId=MSC.ChannelId AND SC.SubChannelId=MSC.Id
	--WHERE SC.AllocationId IN (SELECT Id FROM @ALO)

	--SELECT
	--	A.AllocationId AS AccountAllocId
	--	,MA.Id AS AccountId
	--	,MA.LongDesc AS AccountName
	--FROM [dbo].[tbtrx_allocation_account] AS A WITH(NOLOCK)
	--INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON A.SubChannelId=MA.SubChannelId AND A.AccountId=MA.Id
	--WHERE A.AllocationId IN (SELECT Id FROM @ALO)

	--SELECT
	--	SA.AllocationId AS SubAccountAllocId
	--	,MSA.Id AS SubAccountId
	--	,MSA.LongDesc AS SubAccountName
	--FROM [dbo].[tbtrx_allocation_subaccount] AS SA WITH(NOLOCK)
	--INNER JOIN [dbo].[tbmst_subaccount] AS MSA WITH(NOLOCK) ON SA.AccountId=MSA.AccountId AND SA.SubAccountId=MSA.Id
	--WHERE SA.AllocationId IN (SELECT Id FROM @ALO)




	--SELECT
	--	A.AllocationId AS BrandAllocId
	--	,BA.Id AS BrandId
	--	,BA.LongDesc AS BrandName
	--FROM [dbo].[tbtrx_allocation_brand] AS A WITH(NOLOCK)
	--INNER JOIN [dbo].[tbmst_brand] AS BA WITH(NOLOCK) ON A.BrandId=BA.Id
	--WHERE A.AllocationId IN (SELECT Id FROM @ALO)


	--SELECT
	--A.AllocationId AS ProductAllocId
	--,BA.Id AS ProductId
	--,BA.LongDesc AS ProductName
	--FROM [dbo].[tbtrx_allocation_product] AS A WITH(NOLOCK)
	--INNER JOIN [dbo].[tbmst_product] AS BA WITH(NOLOCK) ON A.ProductId=BA.Id
	--WHERE A.AllocationId IN (SELECT Id FROM @ALO)

	--SELECT
	--	UA.AllocationId AS UserAccAllocId
	--	,MU.id AS UserAccessId
	--	,MU.username AS UserAccessName
	--FROM [dbo].[tbtrx_allocation_useraccess] AS UA WITH(NOLOCK)
	--INNER JOIN [dbo].[tbset_user] MU WITH(NOLOCK) ON UA.UserId=MU.id
	--WHERE UA.AllocationId IN (SELECT Id FROM @ALO)

	--SELECT
	--	UAS.AllocationId AS UserAssAllocId
	--	,MU1.id AS UserAssignId
	--	,MU1.username AS UserAssignName
	--FROM [dbo].[tbtrx_allocation_userassign] AS UAS WITH(NOLOCK)
	--INNER JOIN [dbo].[tbset_user] MU1 WITH(NOLOCK) ON UAS.UserId=MU1.id
	--WHERE UAS.AllocationId IN (SELECT Id FROM @ALO)

	--SELECT
	--	UP.AllocationId AS UserProAllocId
	--	,MU2.id AS UserPromoId
	--	,MU2.username AS UserPromoName
	--FROM [dbo].[tbtrx_allocation_userpromo] AS UP WITH(NOLOCK)
	--INNER JOIN [dbo].[tbset_user] MU2 WITH(NOLOCK) ON UP.UserId=MU2.id
	--WHERE UP.AllocationId IN (SELECT Id FROM @ALO)


/*
	SELECT
		ALLOC.Id
		,ALLOC.Periode
		,ALLOC.AllocationCode
		,ALLOC.RefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,ALLOC.OwnerId
		,ALLOC.FromOwnerId
		,ALLOC.BudgetMasterId
		,ALLOC.BudgetSourceId
		,ALLOC.SalesAmount
		,ALLOC.BudgetAmount
		,ALLOC.LongDesc
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked
		,MR.Id AS RegionId
		--,MR.RefId
		,MR.LongDesc AS RegionName
		--,MR.ShortDesc
		--,MR.IsActive
		,MC.Id AS ChannelId
		--,MC.RefId
		,MC.LongDesc AS ChannelName
		--,MC.ShortDesc
		--,MC.IsActive
		,MSC.Id AS SubChannelId
		--,MSC.RefId
		--,MSC.ChannelId
		,MSC.LongDesc AS SubChannelName
		--,MSC.ShortDesc
		--,MSC.IsActive
		,MA.Id AS AccountId
		--,MA.RefId
		--,MA.SubChannelId
		,MA.LongDesc AS AccountName
		--,MA.ShortDesc
		--,MA.IsActive
		,MSA.Id AS SubAccountId
		--,MSA.RefId
		--,MSA.AccountId
		,MSA.LongDesc AS SubAccountName
		--,MSA.ShortDesc
		--,MSA.IsActive
		,MU.id AS UserAccessId
		,MU.username AS UserAccessName
		--,UA.IsActive
		,MU1.id AS UserAssignId
		,MU1.username AS UserAssignName
		--,UAS.IsActive
		,MU2.id AS UserPromoId
		,MU2.username AS UserPromoName
		--,UP.IsActive
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)
	INNER JOIN [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK) ON R.AllocationId=ALLOC.Id
	INNER JOIN [dbo].[tbmst_region] AS MR WITH(NOLOCK) ON R.RegionId=MR.Id
	INNER JOIN [dbo].[tbtrx_allocation_channel] AS C WITH(NOLOCK) ON C.AllocationId=ALLOC.Id
	INNER JOIN [dbo].[tbmst_channel] AS MC WITH(NOLOCK) ON C.ChannelId=MC.Id
	INNER JOIN [dbo].[tbtrx_allocation_subchannel] AS SC WITH(NOLOCK) ON SC.AllocationId=ALLOC.Id AND SC.ChannelId=C.ChannelId
	INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON SC.ChannelId=MSC.ChannelId AND SC.SubChannelId=MSC.Id
	INNER JOIN [dbo].[tbtrx_allocation_account] AS A WITH(NOLOCK) ON A.AllocationId=ALLOC.Id AND A.ChannelId=C.ChannelId AND A.SubChannelId=SC.SubChannelId
	INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON A.SubChannelId=MA.SubChannelId AND A.AccountId=MA.Id
	INNER JOIN [dbo].[tbtrx_allocation_subaccount] AS SA WITH(NOLOCK) ON SA.AllocationId=ALLOC.Id AND SA.ChannelId=C.ChannelId AND SA.SubChannelId=SC.SubChannelId AND SA.AccountId=A.AccountId
	INNER JOIN [dbo].[tbmst_subaccount] AS MSA WITH(NOLOCK) ON SA.AccountId=MSA.AccountId AND SA.SubAccountId=MSA.Id
	INNER JOIN [dbo].[tbtrx_allocation_useraccess] AS UA WITH(NOLOCK) ON UA.AllocationId=ALLOC.Id
	INNER JOIN [dbo].[tbset_user] MU WITH(NOLOCK) ON UA.UserId=MU.id
	INNER JOIN [dbo].[tbtrx_allocation_userassign] AS UAS WITH(NOLOCK) ON UAS.AllocationId=ALLOC.Id
	INNER JOIN [dbo].[tbset_user] MU1 WITH(NOLOCK) ON UA.UserId=MU1.id
	INNER JOIN [dbo].[tbtrx_allocation_userpromo] AS UP WITH(NOLOCK) ON UP.AllocationId=ALLOC.Id
	INNER JOIN [dbo].[tbset_user] MU2 WITH(NOLOCK) ON UA.UserId=MU2.id
	WHERE ALLOC.IsDelete=0 
		AND (ISNULL(@Id,'')='' OR ALLOC.Id=@Id)
		AND (ISNULL(@LongDesc,'')='' OR ALLOC.LongDesc LIKE @LongDesc)
*/

END
GO
