USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_getbaseline_hlp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_getbaseline_hlp] 
	@promoid bigint

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

declare 
@p_period int
,@p_date date --creation date for plan/promo
,@p_type int --plan/promo=1, recon=2
,@p_distributor int
,@p_subcategory int
,@p_startpromo DATE
,@p_endpromo DATE
,@p_subactivity int

,@p_region AttributeType 
,@p_channel AttributeType   
,@p_subchannel AttributeType  
,@p_account AttributeType  
,@p_subaccount AttributeType  
,@p_brand AttributeType  
,@p_product AttributeType  
,@p_refid varchar(50)


DECLARE @mybaseline_raw TABLE (
	f1 [varchar](50) NULL,
	f2 [varchar](50) NULL,
	f3 [varchar](50) NULL,
	f4 [varchar](50) NULL,
	f5 [varchar](50) NULL,
	f6 [varchar](50) NULL,
	f7 [varchar](50) NULL,
	f8 [varchar](50) NULL,
	f9 [varchar](50) NULL
)


		/*PROMO *****************************************************************************************************/
		insert into @mybaseline_raw (f1,f2,f3)	select 'Promo ID', @promoid, refid from tbtrx_promo where id=@promoid
		insert into @mybaseline_raw (f1,f2)		select 'Period', Periode from tbtrx_promo_planning a inner join tbtrx_promo b on a.id=b.PromoPlanId where b.id=@promoid

		insert into @mybaseline_raw (f1,f2)		select top 1 'Planning Creation Date'			, b.CreateOn								from tbtrx_promo a inner join tbtrx_promo_planning b on a.PromoPlanId=b.id  where a.id=@promoid
		insert into @mybaseline_raw (f1,f2,f3,f4) select top 1 'Distributor'	, b.DistributorId, c.LongDesc, c.SAPCode	from tbtrx_promo a inner join tbtrx_promo_planning b on a.PromoPlanId=b.id inner join tbmst_distributor c on b.DistributorId=c.id where a.id=@promoid
		insert into @mybaseline_raw (f1,f2,f3)	select top 1 'Sub Category'	, a.SubCategoryId, c.LongDesc				from tbtrx_promo a inner join tbtrx_promo_planning b on a.PromoPlanId=b.id inner join tbmst_subcategory c on a.SubCategoryId=c.id where a.id=@promoid
		insert into @mybaseline_raw (f1,f2)		select top 1 'Start Promo'	, a.StartPromo								from tbtrx_promo a inner join tbtrx_promo_planning b on a.PromoPlanId=b.id where a.id=@promoid
		insert into @mybaseline_raw (f1,f2)		select top 1 'End Promo'		, a.EndPromo								from tbtrx_promo a inner join tbtrx_promo_planning b on a.PromoPlanId=b.id where a.id=@promoid
		insert into @mybaseline_raw (f1,f2,f3)	select top 1 'Sub Activity'	, a.SubActivityId, c.LongDesc				from tbtrx_promo a inner join tbtrx_promo_planning b on a.PromoPlanId=b.id inner join tbmst_subactivity c on a.SubActivityId=c.id where a.id=@promoid

		insert into @mybaseline_raw (f1,f2,f3, f4) select distinct 'Region'		, a.RegionId, c.LongDesc, c.SAPCode from tbtrx_promo_region a left join tbmst_region c on a.RegionId=c.Id where a.PromoId=@promoid
		insert into @mybaseline_raw (f1,f2,f3) select distinct 'Channel'		, a.ChannelId, c.LongDesc from tbtrx_promo_channel a left join tbmst_channel c on a.ChannelId=c.Id where a.PromoId=@promoid
		insert into @mybaseline_raw (f1,f2,f3) select distinct 'Sub Channel'	, a.SubChannelId, c.LongDesc from tbtrx_promo_subchannel a left join tbmst_subchannel c on a.SubChannelId=c.Id where a.PromoId=@promoid
		insert into @mybaseline_raw (f1,f2,f3) select distinct 'Account'		, a.AccountId, c.LongDesc from tbtrx_promo_account a left join tbmst_account c on a.AccountId=c.Id where a.PromoId=@promoid
		insert into @mybaseline_raw (f1,f2,f3,f4) select distinct 'Sub Account'	, a.SubAccountId, c.LongDesc, d.sapcode from tbtrx_promo_subaccount a left join tbmst_subaccount c on a.SubAccountId=c.Id left join tbset_map_subaccount_sap d on c.id=d.subaccountid where a.PromoId=@promoid

		insert into @mybaseline_raw (f1,f2,f3) 
			select distinct 'Brand'		, a.brandid, c.LongDesc from tbtrx_promo_brand a 
				inner join tbmst_brand c on a.BrandId=c.Id 
				inner join tbtrx_promo d on a.PromoId=d.id 
				inner join tbtrx_allocation_brand e on a.BrandId=e.BrandId  and d.AllocationId=e.AllocationId
				where a.PromoId=@promoid
		insert into @mybaseline_raw (f1,f2,f3,f4) 
			select distinct 'SKU'		, a.ProductId, c.LongDesc, d.SAPCode from tbtrx_promo_product a 
			inner join tbmst_product c on a.ProductId=c.Id 
			inner join tbset_map_product_sap d on c.Id=d.ProductId 
			inner join tbtrx_promo e on a.PromoId=e.id 
			inner join tbtrx_allocation_product f on a.ProductId=f.ProductId and e.AllocationId=f.AllocationId
			where a.PromoId=@promoid

		set @p_period=			(select f2 from @mybaseline_raw where f1='Period')
		set @p_refid=			(select f3 from @mybaseline_raw where f1='Promo ID')


set @p_date=			(select f2 from @mybaseline_raw where f1='Creation Date')
set @p_type=			(select f2 from @mybaseline_raw where f1='type')
set @p_distributor=		(select f2 from @mybaseline_raw where f1='Distributor')
set @p_subcategory=		(select f2 from @mybaseline_raw where f1='Sub Category')
set @p_startpromo =		(select f2 from @mybaseline_raw where f1='Start Promo')
set @p_endpromo =		(select f2 from @mybaseline_raw where f1='End Promo')
set @p_subactivity =	(select f2 from @mybaseline_raw where f1='Sub Activity')

insert into @p_region(id) select f2 from @mybaseline_raw where f1='Region'
insert into @p_channel(id) select f2 from @mybaseline_raw where f1='Channel'
insert into @p_subchannel(id) select f2 from @mybaseline_raw where f1='Sub Channel'
insert into @p_account(id) select f2 from @mybaseline_raw where f1='Account'
insert into @p_subaccount(id) select f2 from @mybaseline_raw where f1='Sub Account'
insert into @p_brand(id) select f2 from @mybaseline_raw where f1='Brand'
insert into @p_product(id) select f2 from @mybaseline_raw where f1='SKU'


declare @Period int
	, @distributorid nvarchar(50)
	, @channel varchar(100)
	, @ap3m decimal(38,12)
	, @ap6m decimal(38,12)
	, @ap9m decimal(38,12)
	, @ap12m decimal(38,12)
	, @baseline_old decimal(38,12)
	, @baseline_new decimal(38,12)
	, @baseline_final decimal(38,12)
	, @baseline_tot decimal(38,12)
	, @my1 varchar(6)
	, @my3 varchar(6)
	, @my6 varchar(6)
	, @my9 varchar(6)
	, @my12 varchar(6)
	, @anomaly_pct decimal(38,12)
	, @startpromo varchar(6)
	, @endpromo varchar(6)
	, @salesamount varchar(5)
	, @actual_sales decimal(38,12)

declare @Temp_Blitz table
(
	[Distributor_Id] [int] NULL,
	[Distributor_Name] [varchar](100) NULL,
	[Region_Code] [int] NULL,
	[Region_Desc] [varchar](100) NULL,
	[Year] [int] NULL,
	[Month_Name] [varchar](15) NULL,
	[AccountCode] [varchar](15) NULL,
	[AccountDesc] [varchar](100) NULL,
	[SubAccountCode] [varchar](20) NULL,
	[SubAccountDesc] [varchar](100) NULL,
	[Product_Code] [varchar](20) NULL,
	[Product_Name] [varchar](100) NULL,
	[Qty_In_Ton] [numeric](18, 6) NULL,
	[Qty_In_Car] [numeric](18, 6) NULL,
	[SS_DBP] [numeric](18, 6) NULL,
	[SS_RBP] [numeric](18, 6) NULL,
	[SOURCE] [varchar](15) NULL,
	[month_int] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ym] [varchar] (6) NULL
)

DECLARE @Temp_Blitz_TS TABLE
(
	[Distributor_Id] [int] NULL,
	[Distributor_Name] [varchar](100) NULL,
	[Region_Code] [int] NULL,
	[Region_Desc] [varchar](100) NULL,
	[Year] [int] NULL,
	[Month_Name] [varchar](15) NULL,
	[AccountCode] [varchar](15) NULL,
	[AccountDesc] [varchar](100) NULL,
	[SubAccountCode] [varchar](20) NULL,
	[SubAccountDesc] [varchar](100) NULL,
	[Product_Code] [varchar](20) NULL,
	[Product_Name] [varchar](100) NULL,
	[Qty_In_Ton] [numeric](18, 6) NULL,
	[Qty_In_Car] [numeric](18, 6) NULL,
	[SS_DBP] [numeric](18, 6) NULL,
	[SS_RBP] [numeric](18, 6) NULL,
	[SOURCE] [varchar](15) NULL,
	[month_int] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ym] [varchar] (6) NULL
)

DECLARE @Temp_Blitz_TS_AS TABLE
(
	[Distributor_Id] [int] NULL,
	[Distributor_Name] [varchar](100) NULL,
	[Region_Code] [int] NULL,
	[Region_Desc] [varchar](100) NULL,
	[Year] [int] NULL,
	[Month_Name] [varchar](15) NULL,
	[AccountCode] [varchar](15) NULL,
	[AccountDesc] [varchar](100) NULL,
	[SubAccountCode] [varchar](20) NULL,
	[SubAccountDesc] [varchar](100) NULL,
	[Product_Code] [varchar](20) NULL,
	[Product_Name] [varchar](100) NULL,
	[Qty_In_Ton] [numeric](18, 6) NULL,
	[Qty_In_Car] [numeric](18, 6) NULL,
	[SS_DBP] [numeric](18, 6) NULL,
	[SS_RBP] [numeric](18, 6) NULL,
	[SOURCE] [varchar](15) NULL,
	[month_int] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ym] [varchar] (6) NULL
)


declare @Temp_Blitz_pm_old table
(
	[ym] [varchar] (6) NULL,
	[tot] [numeric](18, 6) 
)
declare @Temp_Blitz_pm_pct table
(
	[ym] [varchar] (6) NULL,
	[pct] [numeric](18, 6) 
)
declare @Temp_Blitz_pm_new table
(
	[ym] [varchar] (6) NULL,
	[tot] [numeric](18, 6) 
)
declare @Temp_ym table
(
	[ym] [varchar] (6), 
	[sales] [numeric](18, 6), 
	[anomaly_pct] [numeric](18, 6), 
	[bsold] [numeric](18, 6) ,
	[abnormal_pct] [numeric](18, 6), 
	[sales_abnormal] [numeric](18, 6), 
	[sales_new] [numeric](18, 6) 
)

declare @Temp_bs table
(
	[bs] [varchar] (10) NULL,
	[bsold] [numeric](18, 6), 
	[bsnew] [numeric](18, 6) 
)


IF @utcDate123>@p_endpromo 
	BEGIN
		set @p_date=(select a.EndPromo from tbtrx_promo a WHERE a.id=@promoid); 
	end
ELSE 
	BEGIN
		set @p_date=(select a.createon from tbtrx_promo_planning a inner join tbtrx_promo b on a.id=b.PromoPlanId where b.id=@promoid); 
	end

select 
	@my1=convert(varchar(6),dateadd(month,-1,@p_date),112)
	, @my3=convert(varchar(6),dateadd(month,-3,@p_date),112)
	, @my6=convert(varchar(6),dateadd(month,-6,@p_date),112)
	, @my9=convert(varchar(6),dateadd(month,-9,@p_date),112)
	, @my12=convert(varchar(6),dateadd(month,-12,@p_date),112)


	set @period=@p_period
	set @distributorid=(select sapcode from tbmst_distributor where id=@p_distributor)
	set @startpromo=convert(varchar(6),@p_startpromo,112)
	set @endpromo=convert(varchar(6),@p_endpromo,112)
	set @channel=(select a.longdesc from tbmst_channel a inner join @p_channel b on a.id=b.id)
	set @salesamount=(select salesamount from tbset_map_subactivity_salesamount where SubActivityID=@p_subactivity)

	update @mybaseline_raw set f4=@salesamount where f1='Sub Activity'

insert into @temp_ym (ym) values
	(convert(varchar(6),dateadd(month,-1,@p_date),112)),
	(convert(varchar(6),dateadd(month,-2,@p_date),112)),
	(convert(varchar(6),dateadd(month,-3,@p_date),112)),
	(convert(varchar(6),dateadd(month,-4,@p_date),112)),
	(convert(varchar(6),dateadd(month,-5,@p_date),112)),
	(convert(varchar(6),dateadd(month,-6,@p_date),112)),
	(convert(varchar(6),dateadd(month,-7,@p_date),112)),
	(convert(varchar(6),dateadd(month,-8,@p_date),112)),
	(convert(varchar(6),dateadd(month,-9,@p_date),112)),
	(convert(varchar(6),dateadd(month,-10,@p_date),112)),
	(convert(varchar(6),dateadd(month,-11,@p_date),112)),
	(convert(varchar(6),dateadd(month,-12,@p_date),112))

insert into @Temp_bs (bs) values
('AP3M'),('AP6M'),('AP9M'),('AP12M'),('BASELINE')

if @salesamount='SS' 
begin
	insert into @Temp_Blitz 
		select [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='SS' and a.distributor_id = @distributorid and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12	
end

else if @salesamount='TS'
begin
	INSERT INTO @Temp_Blitz_TS
	select  
		[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym 
		from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='TS' and a.distributor_id = 99999999 and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12


	insert into @Temp_Blitz 
		SELECT 
			a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
		FROM @Temp_Blitz_TS a
		inner join (
				select distinct e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code from tbset_map_brand_subacc_dist_ts a
					inner join tbmst_product b on a.brandid=b.BrandId
					inner join tbset_map_subaccount_sap c on a.subaccountid=c.subaccountid
					inner join tbset_map_product_sap d on b.id=d.ProductId
					inner join tbmst_distributor e on a.distributorid=e.id
					where e.SAPCode=@distributorid
			)b on a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code

	insert into @Temp_Blitz 
		select a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],concat(a.year,right(concat('0',a.month_int),2)) from tbtrx_blitz a
			inner join (
				select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
				)b on a.subaccountcode=b.sapcode
			inner join (
				select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
				)c on a.Region_Code=c.sapcode
			inner join (
				select distinct sapcode, ProductId from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
				)d on a.Product_Code=d.sapcode
		where 
			a.SOURCE='SS' 
			and concat(a.year,right(concat('0',a.month_int),2))>=@my12 and concat(a.year,right(concat('0',a.month_int),2))<=@my1
			and a.distributor_id =@distributorid
			and productid not in (
			select productid from tbset_map_product_sap a inner join @Temp_Blitz b on a.SAPCode=b.Product_Code)
end

/*hitung sales initial per bulan*/

insert into @Temp_Blitz_pm_old select ym, sum(SS_RBP)*1.00  from @Temp_Blitz group by ym

--/*hitung old baseline*/

select @ap3m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my3  
select @ap6m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my6  
select @ap9m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my9  
select @ap12m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_old where ym<=@my1 and ym>=@my12
if (iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))<>0
begin
	set @Baseline_old = (@ap3m + @ap6m + @ap9m + @ap12m)/(iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))
end

update @Temp_bs set bsold=@ap3m where bs='AP3M'
update @Temp_bs set bsold=@ap6m where bs='AP6M'
update @Temp_bs set bsold=@ap9m where bs='AP9M'
update @Temp_bs set bsold=@ap12m where bs='AP12M'
update @Temp_bs set bsold=@baseline_old where bs='BASELINE'

/*pct anomaly based on channel*/

--set @anomaly_pct = 
--	case when @channel='MMKA' or @channel='PROVISION' then 0.15
--		when @channel='HYSU' or @channel='LKA' then 0.30
--		else 0
--	end
set @anomaly_pct = 0.15

update a 
	set a.sales=b.sales, a.anomaly_pct=b.anomaly_pct, a.bsold=@baseline_old, a.abnormal_pct=b.abnormal_pct, a.sales_abnormal=b.sales_abnormal
from @Temp_ym a
left join (
		select ym, tot as sales, @anomaly_pct as anomaly_pct, @baseline_old as baseline_old, (tot/@baseline_old)-1 as abnormal_pct, 
		case 
			when @anomaly_pct=0 then tot 
			when (tot/@baseline_old)-1 <=@anomaly_pct then tot 
			else 0 end as sales_abnormal  from @Temp_Blitz_pm_old
		)b on a.ym=b.ym

/*sales takeout jika diluar range anomaly*/

insert into @Temp_Blitz_pm_new select ym, case 
	when @anomaly_pct=0 then tot 
	when (tot>=@baseline_old) and ((tot/@baseline_old)-1 <=@anomaly_pct) then tot 
	when (tot<@baseline_old) and ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) then tot 
	end from @Temp_Blitz_pm_old

update a 
	set a.sales_new=b.sales_new
from @Temp_ym a
left join (
		select ym, case 
			when @anomaly_pct=0 then tot 
			when (tot>=@baseline_old) and ((tot/@baseline_old)-1 <=@anomaly_pct) then tot 
			when (tot<@baseline_old) and ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) then tot 
			end sales_new from @Temp_Blitz_pm_old
		)b on a.ym=b.ym

/*hitung new baseline*/

select @ap3m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my3  
select @ap6m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my6  
select @ap9m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my9  
select @ap12m = isnull(avg(tot)*1.00,0) from @Temp_Blitz_pm_new where ym<=@my1 and ym>=@my12
if (iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))<>0
begin
	set @Baseline_new = (@ap3m + @ap6m + @ap9m + @ap12m)/(iif(@ap3m=0,0,1)+iif(@ap6m=0,0,1)+iif(@ap9m=0,0,1)+iif(@ap12m=0,0,1))
end
else 
begin
	set @Baseline_new = 0
end

set @baseline_final= iif(@baseline_new=0, @baseline_old, (select 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end ))

--/*TOBEREMARKED*/select @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_final as baseline_new

update @Temp_bs set bsnew=@ap3m where bs='AP3M'
update @Temp_bs set bsnew=@ap6m where bs='AP6M'
update @Temp_bs set bsnew=@ap9m where bs='AP9M'
update @Temp_bs set bsnew=@ap12m where bs='AP12M'
update @Temp_bs set bsnew=@baseline_final where bs='BASELINE'

declare @ndays_start int, @ndays_end int, @nmonths int
,@bl_start money, @bl_end money, @bl_tot money
set @ndays_start=0; set @ndays_end=0; set @nmonths=0;


if month(@p_startpromo)=month(@p_endpromo)
begin
	set @ndays_start = iif(day(@p_endpromo)-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(@p_endpromo)-day(@p_startpromo)+1)
	set @ndays_end=0
	set @nmonths=iif(@ndays_start=0,1,0)
end
else
begin
	set @ndays_start = iif(day(eomonth(@p_startpromo))-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(eomonth(@p_startpromo))-day(@p_startpromo)+1)	
	set @ndays_end = iif(day(@p_endpromo)=day(eomonth(@p_endpromo)),0,day(@p_endpromo))	
	set @nmonths = datediff(month,@p_startpromo, @p_endpromo)-1+iif(@ndays_start=0,1,0)+iif(@ndays_end=0,1,0)
end

set @baseline_tot = 
	(1.00*@ndays_start*@baseline_final/day(eomonth(@p_startpromo)))
	+((1.00*@ndays_end*@baseline_final/day(eomonth(@p_endpromo))))
	+(1.00*@nmonths*@baseline_final)

--/*TOBEREMARKED*/select @salesamount, @baseline_final,@p_startpromo, @p_endpromo, @ndays_start, @ndays_end, @nmonths

/*Actual Sales****************************************************************/
delete from @Temp_Blitz

set @my1=convert(varchar(6),@p_endpromo,112)

if @salesamount='SS' 
begin
	insert into @Temp_Blitz 
		select [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='SS' and a.distributor_id = @distributorid and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12	
end

else if @salesamount='TS'
begin
	INSERT INTO @Temp_Blitz_TS_AS
	select  
		[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],concat(year,right(concat('0',month_int),2)) as ym 
		from tbtrx_blitz a
		inner join (
			select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
			)b on a.subaccountcode=b.sapcode
		inner join (
			select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
			)c on a.Region_Code=c.sapcode
		inner join (
			select distinct sapcode from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
			)d on a.Product_Code=d.sapcode
		where a.SOURCE='TS' and a.distributor_id = 99999999 and concat(year,right(concat('0',month_int),2))<=@my1 and concat(year,right(concat('0',month_int),2))>=@my12

	insert into @Temp_Blitz 
		SELECT 
			a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
		FROM @Temp_Blitz_TS_AS a
		inner join (
				select distinct e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code from tbset_map_brand_subacc_dist_ts a
					inner join tbmst_product b on a.brandid=b.BrandId
					inner join tbset_map_subaccount_sap c on a.subaccountid=c.subaccountid
					inner join tbset_map_product_sap d on b.id=d.ProductId
					inner join tbmst_distributor e on a.distributorid=e.id
					where e.SAPCode=@distributorid
			)b on a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code
 
	insert into @Temp_Blitz 
		select a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],concat(a.year,right(concat('0',a.month_int),2)) from tbtrx_blitz a
			inner join (
				select distinct sapcode from tbset_map_subaccount_sap a inner join @p_subaccount b on a.subaccountid=b.id
				)b on a.subaccountcode=b.sapcode
			inner join (
				select distinct sapcode from tbmst_region a inner join @p_region b on a.id=b.Id
				)c on a.Region_Code=c.sapcode
			inner join (
				select distinct sapcode, ProductId from tbset_map_product_sap x inner join @p_product a on x.productid=a.id
				)d on a.Product_Code=d.sapcode
		where 
			a.SOURCE='SS' 
			and concat(a.year,right(concat('0',a.month_int),2))>=@my12 and concat(a.year,right(concat('0',a.month_int),2))<=@my1
			and a.distributor_id =@distributorid
			and productid not in (
			select productid from tbset_map_product_sap a inner join @Temp_Blitz b on a.SAPCode=b.Product_Code)
end


set @actual_sales = (
		select sum(SS_RBP) from @Temp_Blitz 
		where 
			ym>=left(convert(varchar, @p_startpromo, 112),6)
			and ym<=left(convert(varchar, @p_endpromo, 112),6)
		) 

	if DATEDIFF(day, @p_startpromo, @p_endpromo)<=14 
	begin
		if datediff(month,@p_startpromo, @p_endpromo)+1>1
		begin
			set  @actual_sales= @actual_sales*0.7/2
		end
		else
		begin
			set  @actual_sales= @actual_sales*0.7
		end
	end

/****************************************************************Actual Sales*/

delete from tbhlp_baseline_promo where id=@promoid
insert into tbhlp_baseline_promo (id,refid,bline,asales) values (@promoid,@p_refid, @baseline_tot, @actual_sales)
GO
