

/****** Object:  StoredProcedure [dbo].[ip_promoid_workflow_dn]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promoid_workflow_dn] 
	@RefId				varchar(30)
AS

--declare @RefId	varchar(30)
--set @RefId='SGM00005'

BEGIN
	DECLARE @Id	INT
	SELECT TOP 1 @Id=id FROM tbtrx_promo WHERE RefId LIKE '%'+@RefId+'%'

	SELECT 
		td.id
		, td.RefId
		, td.LastStatus
		, td.VATExpired
		, td.FPNumber
		, td.FPDate
		, td.TaxLevel
		, td.DNAmount
		, td.FeeDesc
		, td.FeePct
		, td.FeeAmount
		, td.DPP
		, td.PPNPct
		, td.PPNAmt
		, td.PPHPct
		, td.PPHAmt
		, IIF(isnull(td.VATExpired,0)=0, isnull(td.DPP,0), isnull(td.DPP,0) + isnull(td.PPNAmt,0)) TotalClaim
		, iif(td.laststatus='confirm_paid',(iif(td.vatexpired=1,td.DPP+isnull(td.ppnamt,0),td.dpp)),0) TotalPaid
		, doclink.row1
		, doclink.row2
		, doclink.row3
	FROM tbtrx_debetnote td WITH (nolock)
	INNER JOIN tbtrx_promo pr ON td.PromoId = pr.id AND pr.id=@Id
	LEFT JOIN 
	(
		select *
		from 
		(
			select dnid, doclink, filename
			from tbtrx_dn_doclink tdd
		) src
		pivot
		(
			max(filename)
			for doclink in ([row1], [row2], [row3])
		) piv	
	) doclink on td.id=doclink.dnid
	WHERE isnull(td.IsCancel, 0) = 0
END

GO
