

/****** Object:  StoredProcedure [dbo].[ip_import_master_brand]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_master_brand]
@Brand BrandType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

/*****************
BRAND
*****************/

	MERGE tbmst_brand t
	USING 
		(
		SELECT DISTINCT
		p.Id PrincipalId,
		Brand FROM
		@Brand x INNER JOIN tbmst_principal p ON p.LongDesc=x.Principal	
		) s
	ON t.LongDesc=s.Brand
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Brand
	,PrincipalId=s.PrincipalId
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	WHEN NOT MATCHED THEN	
	INSERT
           (	
		   	[PrincipalId]   
           ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (		   
		   PrincipalId
           ,Brand
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );

/*****************
SKU
*****************/

	MERGE tbmst_product t
	USING
	( 
	SELECT DISTINCT ctg.Id BrandId,p.Id PrincipalId,Sku,SeqNo
	FROM
	@Brand x INNER JOIN tbmst_brand ctg ON ctg.LongDesc=x.Brand 
	INNER JOIN tbmst_principal p ON p.LongDesc=x.Principal	
	) s
	ON t.LongDesc=s.Sku
	AND t.BrandId=s.BrandId
	AND t.PrincipalId=s.PrincipalId
	WHEN MATCHED THEN
	UPDATE 
	SET LongDesc=Sku
	,ModifiedOn=@utcDate123
	,ModifiedBy=@userid
	,SeqNo=s.SeqNo
	WHEN NOT MATCHED THEN	
	INSERT
           (		   
            [SeqNo] 
		   ,[BrandId]
		   ,[PrincipalId]
		   ,[LongDesc]
           ,[ShortDesc]
           ,[IsActive]
           ,[CreateOn]
           ,[CreateBy]
		   )
     VALUES
           (	
		    SeqNo	   
		   ,BrandId
		   ,PrincipalId
           ,Sku
           ,''
           ,1
           ,@utcDate123
           ,@userid
           );
END

GO
