USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_get_assignmentdetail]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_get_assignmentdetail] --2512,''
	-- Add the parameters for the stored procedure here
	@Id				INT,
	@LongDesc		VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DECLARE @ALO AS TABLE(
		Id INT NULL
	)

	INSERT INTO @ALO(Id)
	SELECT c.Id 
	FROM tbtrx_budgetassignment_detail a WITH (NOLOCK) 
	INNER JOIN tbtrx_budgetassignment b WITH (NOLOCK) ON a.AssignmentId=B.Id
	INNER JOIN tbtrx_allocation c WITH (NOLOCK) ON b.AllocationId=c.Id
	WHERE a.Id=@Id;

WITH CTE
AS(
	SELECT 
	 assignment_detail.Id
	,SUM(alloc_detail.BudgetAmount) Spending
	FROM tbtrx_allocation_detail alloc_detail 
	INNER JOIN tbtrx_allocation alloc ON alloc_detail.AllocationId=alloc.Id
	INNER JOIN tbtrx_allocation_balance balance_child ON balance_child.AllocationId=alloc.Id
	INNER JOIN tbtrx_budgetassignment_detail assignment_detail ON alloc.BudgetSourceId=assignment_detail.Id
	--INNER JOIN tbtrx_budgetassignment assign_parent WITH (NOLOCK) ON assign_parent.Id=assignment_detail.AssignmentId
	WHERE assignment_detail.Id=@Id and BudgetType='BTR'
	GROUP BY assignment_detail.Id
),
CTE_REMAIN
AS
(
	SELECT a.Id,a.RefId,a.AssignmentId,a.OwnId,a.[Desc],a.BudgetAmount BudgetAssigned,ISNULL(b.Spending,0) Spending,a.BudgetAmount-ISNULL(b.Spending,0) Remaining from tbtrx_budgetassignment_detail a
	LEFT JOIN CTE b ON a.Id=b.Id
	where a.Id=@Id
)

SELECT * FROM CTE_REMAIN

	SELECT
		ALLOC.Id
		,ALLOC.Periode
		,ALLOC.RefId
		,ALLOC.BudgetType
		,ALLOC.DistributorId
		,d.LongDesc DistributorName
		,m.PrincipalId
		,p.LongDesc PrincipalName		
		,ALLOC.OwnerId
		,uo.username Ownername
		,ALLOC.FromOwnerId
		,uf.username FromOwnerName
		,ALLOC.BudgetMasterId
		,m.CategoryId
		,ctg.LongDesc CategoryDesc
		,ALLOC.BudgetSourceId
		--,ALLOC.SalesAmount
		,ALLOC.BudgetAmount
		,bal.RemainingBudget
		,ALLOC.LongDesc
		,m.StartDate
		,m.EndDate
		,ALLOC.ShortDesc
		,ALLOC.StatusApproval
		,ALLOC.IsActive
		,ALLOC.IsLocked	
        ,m.RefId mrefid
	    ,m.LongDesc mlongdesc
	    ,p.LongDesc entity
	FROM [dbo].[tbtrx_allocation] AS ALLOC WITH(NOLOCK)	
	left join (select AllocationId,sum(RemainingAmount) RemainingBudget from tbtrx_allocation_balance dtl where AllocationId IN (SELECT Id from @ALO) group by AllocationId)  bal on bal.AllocationId=ALLOC.Id 
	inner join tbtrx_budgetmaster m on ALLOC.BudgetMasterId=m.Id
	left join tbmst_distributor d on m.DistributorId=d.Id
	left join tbmst_principal p on m.PrincipalId=p.Id
	inner join tbset_user uo on uo.Id=ALLOC.OwnerId
	inner join tbset_user uf on uf.Id=ALLOC.FromOwnerId
	inner join tbmst_category ctg on ctg.Id=m.CategoryId
	WHERE ISNULL(ALLOC.IsDelete,0)=0 
		AND ALLOC.Id IN (SELECT Id FROM @ALO)

	SELECT
		R.AllocationId AS RegionAllocId
		,MR.Id AS RegionId
		,MR.LongDesc AS RegionName
	FROM [dbo].[tbtrx_allocation_region] AS R WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_region] AS MR WITH(NOLOCK) ON R.RegionId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)
	
	SELECT
		C.AllocationId AS ChannelAllocId
		,MC.Id AS ChannelId
		,MC.LongDesc AS ChannelName
	FROM [dbo].[tbtrx_allocation_channel] AS C WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_channel] AS MC WITH(NOLOCK) ON C.ChannelId=MC.Id
	WHERE C.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		SC.AllocationId AS SubChannelAllocId
		,MSC.Id AS SubChannelId
		,MSC.LongDesc AS SubChannelName
		,MSC.ChannelId
	FROM [dbo].[tbtrx_allocation_subchannel] AS SC WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_subchannel] AS MSC WITH(NOLOCK) ON SC.ChannelId=MSC.ChannelId AND SC.SubChannelId=MSC.Id
	WHERE SC.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		A.AllocationId AS AccountAllocId
		,MA.Id AS AccountId
		,MA.LongDesc AS AccountName
		,MA.SubChannelId
	FROM [dbo].[tbtrx_allocation_account] AS A WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_account] AS MA WITH(NOLOCK) ON A.SubChannelId=MA.SubChannelId AND A.AccountId=MA.Id
	WHERE A.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		SA.AllocationId AS SubAccountAllocId
		,MSA.Id AS SubAccountId
		,MSA.LongDesc AS SubAccountName
		,MSA.AccountId
	FROM [dbo].[tbtrx_allocation_subaccount] AS SA WITH(NOLOCK)
	INNER JOIN [dbo].[tbmst_subaccount] AS MSA WITH(NOLOCK) ON SA.AccountId=MSA.AccountId AND SA.SubAccountId=MSA.Id
	WHERE SA.AllocationId IN (SELECT Id FROM @ALO)


	SELECT distinct
	R.AllocationId AS BrandAllocId
	
,MR.Id AS BrandId
	,MR.LongDesc AS BrandName
	FROM [dbo].[tbmst_brand]  AS MR  WITH(NOLOCK)
	LEFT JOIN  [dbo].[tbtrx_allocation_brand] AS R WITH(NOLOCK) ON R.BrandId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
	R.AllocationId AS ProductAllocId
	,MR.Id AS ProductId
	,MR.LongDesc AS ProductName
	,MR.BrandId
	FROM [dbo].[tbmst_product]  AS MR  WITH(NOLOCK)
	LEFT JOIN  [dbo].[tbtrx_allocation_product] AS R WITH(NOLOCK) ON R.ProductId=MR.Id
	WHERE R.AllocationId IN (SELECT Id FROM @ALO)
	ORDER BY MR.SeqNo

	--	SELECT
	--a.AllocationId AS SubCategoryAllocId
	--,b.Id AS SubCategoryId
	--,b.LongDesc AS SubCategoryName
	--FROM [dbo].[tbmst_subcategory] AS b WITH(NOLOCK)
	--LEFT JOIN [dbo].[tbtrx_allocation_detail]  AS a WITH(NOLOCK) ON a.SubCategoryId=b.Id 
	--WHERE a.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
	a.AllocationId AS SubCategoryAllocId
	,b.Id AS SubCategoryId
	,b.LongDesc AS SubCategoryName
	FROM [dbo].[tbmst_subcategory] AS b WITH(NOLOCK)
	LEFT JOIN [dbo].[tbtrx_allocation_detail]  AS a WITH(NOLOCK) ON a.SubCategoryId=b.Id 
	WHERE a.AllocationId IN (SELECT Id FROM @ALO)



	SELECT distinct
	a.AllocationId AS ActivityAllocId
	,ctg.ActivityId AS ActivityId
	,ctg.ActivityDesc AS ActivityName
	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
	INNER JOIN vw_activity ctg --ON a.SubCategoryId=ctg.SubCategoryId
	--and 
	ON iif(a.ActivityId=0,ctg.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,a.SubCategoryId,ctg.ActivityId)
	WHERE a.AllocationId IN (SELECT Id FROM @ALO) AND ctg.ActivityId is not null



	SELECT 
	a.AllocationId AS SubActivityAllocId
	,ctg.SubActivityId AS SubActivityId
	,ctg.SubActivityDesc AS SubActivityName
	FROM [tbtrx_allocation_detail] AS a WITH(NOLOCK)		
	INNER JOIN vw_activity ctg ON a.SubCategoryId=ctg.SubCategoryId
	and iif(a.ActivityId=0,ctg.SubCategoryId,a.ActivityId)=iif(a.ActivityId=0,a.SubCategoryId,ctg.ActivityId)
	--and iif(a.SubActivityId=0,ctg.ActivityId,a.SubActivityId)=iif(a.SubActivityId=0,a.ActivityId,ctg.SubActivityId) 
	WHERE a.AllocationId IN (SELECT Id FROM @ALO) AND ctg.SubActivityId is not null



	

		SELECT
		UA.AllocationId AS UserAccAllocId
		,MU.id AS UserAccessId
		,MU.username AS UserAccessName
	FROM [dbo].[tbtrx_allocation_useraccess] AS UA WITH(NOLOCK)
	INNER JOIN [dbo].[tbset_user] MU WITH(NOLOCK)
 ON UA.UserId=MU.id
	WHERE UA.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		UAS.AllocationId AS UserAssAllocId
		,MU1.id AS UserAssignId
		,MU1.username AS UserAssignName
	FROM [dbo].[tbtrx_allocation_userassign] AS UAS WITH(NOLOCK)
	INNER JOIN [dbo].[tbset_user] MU1 WITH(NOLOCK) ON UAS.UserId=MU1.id
	WHERE UAS.AllocationId IN (SELECT Id FROM @ALO)

	SELECT
		UP.AllocationId AS UserProAllocId
		,MU2.id AS UserPromoId
		,MU2.username AS UserPromoName
	FROM [dbo].[tbtrx_allocation_userpromo] AS UP WITH(NOLOCK)
	INNER JOIN [dbo].[tbset_user] MU2 WITH(NOLOCK) ON UP.UserId=MU2.id
	WHERE UP.AllocationId IN (SELECT Id FROM @ALO)


	SELECT distinct
	AllocationId,
	LineIndex,
	a.SubCategoryId SubCategory,
	c.SubCategoryDesc SubCategoryDesc,
	IIF(a.ActivityId=0,'',a.ActivityId) Activity,
	isnull(d.ActivityDesc,'') ActivityDesc,
	IIF(e.SubActivityDesc is null,'',a.SubActivityId) SubActivity,
	isnull(e.SubActivityDesc,'') SubActivityDesc,
	BudgetAmount,
	LongDesc
	FROM
	tbtrx_allocation_detail a
	inner join @ALO b
 on a.AllocationId=b.Id
	inner join vw_activity c on a.SubCategoryId=c.SubCategoryId
	left join vw_activity d on d.ActivityId=a.ActivityId
	left join vw_activity e on e.SubActivityId=a.SubActivityId

	
END
GO
