

/****** Object:  StoredProcedure [dbo].[ip_user_management_getbyid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_user_management_getbyid]
    @id int
as
BEGIN
    select id,username,email,contactinfo,registered,password_change,userinput,dateinput,useredit,dateedit,isdeleted,deletedby,deletedon,lastLogin, islogin
    from dbo.tbset_user_login
    where id=@id

    select id, profileid from tbset_user_login_profile where id=@id
END
GO
