USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_baseline_blitz_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_promo_baseline_blitz_get]

@p_promoid INT
,@p_period INT
,@p_date DATE --creation date for plan/promo
,@p_type INT --plan/promo=1, recon=2
,@p_distributor INT
,@p_region AttributeType READONLY
,@p_channel INT
,@p_subchannel INT
,@p_account INT
,@p_subaccount INT
,@p_product AttributeType  READONLY
,@p_subcategory INT
,@p_startpromo DATE
,@p_endpromo DATE
,@p_subactivity INT
,@p_groupbrand INT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--/************************************************************************************/
--DECLARE 
--	@p_promoid INT
--	,@p_period INT
--	,@p_date DATE --creation date for plan/promo
--	,@p_type INT --plan/promo=1, recon=2
--	,@p_distributor INT
--	,@p_region AttributeType 
--	,@p_channel INT
--	,@p_subchannel INT
--	,@p_account INT
--	,@p_subaccount INT
--	,@p_product AttributeType  
--	,@p_subcategory INT
--	,@p_startpromo DATE
--	,@p_endpromo DATE
--	,@p_subactivity INT
--	,@p_groupbrand INT

--	SET @p_promoid=0
--	SET @p_period=2023
--	SET @p_date=@utcDate123
--	SET @p_type=1
--	SET @p_distributor=2
--	SET @p_subcategory=51
--	SET @p_startpromo ='2023-01-01'
--	SET @p_endpromo ='2023-12-31'
--	SET @p_subactivity =1277
--	SET @p_channel = 6
--	SET @p_subchannel = 9
--	SET @p_account = 43
--	SET @p_subaccount = 114
--	SET @p_groupbrand = 2

--	INSERT INTO @p_region(id) values (2),(3),(4),(5),(6),(7),(8),(9),(10)
--	INSERT INTO @p_product(id)
--		SELECT id FROM tbmst_product WHERE brandid in (SELECT id FROM tbmst_brand WHERE PrincipalId=2)

--/************************************************************************************/

BEGIN

	DECLARE
		@p_brand AttributeType
		, @Period int
		, @distributorid nvarchar(50)
		, @channel varchar(100)
		, @ap3m decimal(38,12)
		, @ap6m decimal(38,12)
		, @ap9m decimal(38,12)
		, @ap12m decimal(38,12)
		, @baseline_old decimal(38,12)
		, @baseline_new decimal(38,12)
		, @baseline_final decimal(38,12)
		, @baseline_tot decimal(38,12)
		, @my1 varchar(6)
		, @my3 varchar(6)
		, @my6 varchar(6)
		, @my9 varchar(6)
		, @my12 varchar(6)
		, @anomaly_pct decimal(38,12)
		, @startpromo varchar(6)
		, @endpromo varchar(6)
		, @salesamount varchar(5)
		, @actual_sales decimal(38,12)
		, @p_region_all AttributeType

	DECLARE @Temp_Blitz table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)
	DECLARE @Temp_Blitz_TS table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)
	DECLARE @Temp_Blitz_TS_AS table
	(
		[Distributor_Id] [int] NULL,
		[Distributor_Name] [varchar](100) NULL,
		[Region_Code] [int] NULL,
		[Region_Desc] [varchar](100) NULL,
		[Year] [int] NULL,
		[Month_Name] [varchar](15) NULL,
		[AccountCode] [varchar](15) NULL,
		[AccountDesc] [varchar](100) NULL,
		[SubAccountCode] [varchar](20) NULL,
		[SubAccountDesc] [varchar](100) NULL,
		[Product_Code] [varchar](20) NULL,
		[Product_Name] [varchar](100) NULL,
		[Qty_In_Ton] [numeric](18, 6) NULL,
		[Qty_In_Car] [numeric](18, 6) NULL,
		[SS_DBP] [numeric](18, 6) NULL,
		[SS_RBP] [numeric](18, 6) NULL,
		[SOURCE] [varchar](15) NULL,
		[month_int] [tinyint] NULL,
		[created_at] [datetime] NULL,
		[updated_at] [datetime] NULL,
		[ym] [varchar] (6) NULL
	)
	DECLARE @Temp_Blitz_pm_old table
	(
		[ym] [varchar] (6) NULL,
		[tot] [numeric](18, 6)
	)
	DECLARE @Temp_Blitz_pm_pct table
	(
		[ym] [varchar] (6) NULL,
		[pct] [numeric](18, 6)
	)
	DECLARE @Temp_Blitz_pm_new table
	(
		[ym] [varchar] (6) NULL,
		[tot] [numeric](18, 6)
	)


	INSERT INTO @p_brand(id)
		SELECT DISTINCT brandId FROM vw_sku_active a 
			INNER JOIN @p_product b ON a.skuId=b.Id 
	
	INSERT INTO @p_region_all (Id) SELECT Id FROM @p_region
	IF (SELECT COUNT(*) FROM @p_region a INNER JOIN tbmst_region b ON a.Id = b.Id AND b.LongDesc LIKE '%All%') > 0
		BEGIN
			DELETE FROM @p_region_all
			INSERT INTO @p_region_all (Id) SELECT Id FROM tbmst_region WHERE ISNULL(IsDelete,0)=0
		END

	IF @p_promoid<>0
		BEGIN
			IF @p_type=1 --@p_promoid=planid
				BEGIN
					SET @p_date=(
						SELECT a.createon FROM tbtrx_promo a WHERE a.id=@p_promoid
						)
				END
			ELSE IF @p_type=2 --@p_promoid=planid
				BEGIN
					IF @utcDate123>@p_endpromo
						BEGIN
							set @p_date=(
								SELECT a.EndPromo FROM tbtrx_promo a WHERE a.Id=@p_promoid
								)
						END
					ELSE
						BEGIN
							set @p_date=(
								SELECT a.createon FROM tbtrx_promo a WHERE a.Id=@p_promoid
								)
						END
				END
			ELSE IF @p_type=3 --@p_promoid=promoid
				BEGIN
					IF @utcDate123>@p_endpromo
						BEGIN
							set @p_date=(
								SELECT a.EndPromo FROM tbtrx_promo a WHERE a.Id=@p_promoid
								)
						END
					ELSE
						BEGIN
							set @p_date=(
								SELECT a.CreateOn FROM tbtrx_promo a WHERE a.Id=@p_promoid
								)
						END
				END
		END

	SELECT
		@my1=CONVERT(varchar(6),dateadd(month,-1,@p_date),112)
		, @my3=CONVERT(varchar(6),dateadd(month,-3,@p_date),112)
		, @my6=CONVERT(varchar(6),dateadd(month,-6,@p_date),112)
		, @my9=CONVERT(varchar(6),dateadd(month,-9,@p_date),112)
		, @my12=CONVERT(varchar(6),dateadd(month,-12,@p_date),112)


	SET @period=@p_period
	SET @distributorid=(SELECT sapcode FROM tbmst_distributor WHERE id=@p_distributor)
	SET @startpromo=CONVERT(varchar(6),@p_startpromo,112)
	SET @endpromo=CONVERT(varchar(6),@p_endpromo,112)
	SET @channel=(SELECT a.longdesc FROM tbmst_channel a WHERE a.id=@p_channel )
	SET @salesamount=(SELECT salesamount FROM tbset_map_subactivity_salesamount WHERE SubActivityID=@p_subactivity)

	IF @salesamount='SS'
		BEGIN
			INSERT INTO @Temp_Blitz
				SELECT [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym FROM tbtrx_blitz a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a WHERE a.subaccountid=@p_subaccount
					)b ON a.subaccountcode=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
					)c ON a.Region_Code=c.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
					)d ON a.Product_Code=d.sapcode
				WHERE a.SOURCE='SS' and a.distributor_id = @distributorid and CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 and CONCAT(year,right(CONCAT('0',month_int),2))>=@my12
		END

	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_TS
			SELECT
				[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym
				FROM tbtrx_blitz a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount
					)b ON a.subaccountcode=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
					)c ON a.Region_Code=c.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
					)d ON a.Product_Code=d.sapcode
				WHERE a.SOURCE='TS' and a.distributor_id = 99999999 and CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 and CONCAT(year,right(CONCAT('0',month_int),2))>=@my12

			INSERT INTO @Temp_Blitz
				SELECT
					a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
				FROM @Temp_Blitz_TS a
				INNER JOIN (
						SELECT DISTINCT e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code FROM tbset_map_brand_subacc_dist_ts a
							INNER JOIN tbmst_product b ON a.brandid=b.BrandId
							INNER JOIN tbset_map_subaccount_sap c ON a.subaccountid=c.subaccountid
							INNER JOIN tbset_map_product_sap d ON b.id=d.ProductId
							INNER JOIN tbmst_distributor e ON a.distributorid=e.id
							WHERE e.SAPCode=@distributorid
					)b ON a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code

			INSERT INTO @Temp_Blitz
				SELECT a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],CONCAT(a.year,right(CONCAT('0',a.month_int),2)) FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount
						)b ON a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
						)c ON a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
						)d ON a.Product_Code=d.sapcode
				WHERE
					a.SOURCE='SS'
					AND CONCAT(a.year,right(CONCAT('0',a.month_int),2))>=@my12 AND CONCAT(a.year,right(CONCAT('0',a.month_int),2))<=@my1
					AND a.distributor_id =@distributorid
					AND productid not in (
					SELECT productid FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz b ON a.SAPCode=b.Product_Code)
		END



/*
--/*TOBEREMARKED*/	SELECT * FROM @Temp_Blitz order by ym
--/*TOBEREMARKED*/	SELECT ym, sum(SS_RBP)*1.00 as totpm FROM @Temp_Blitz GROUP BY ym

/*hitung sales initial per bulan*/
	INSERT INTO @Temp_Blitz_pm_old SELECT ym, sum(SS_RBP)*1.00  FROM @Temp_Blitz GROUP BY ym


--/*hitung old baseline*/
--/*TOBEREMARKED*/	SELECT @my1, @my3, @my6, @my9, @my12

	SELECT @ap3m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my3
	SELECT @ap6m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my6
	SELECT @ap9m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my9
	SELECT @ap12m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_old WHERE ym<=@my1 AND ym>=@my12

	IF (IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))<>0
		BEGIN
			SET @Baseline_old = (@ap3m + @ap6m + @ap9m + @ap12m)/(IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))
		END
--/*TOBEREMARKED*/	SELECT @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_old as baseline_old

/*pct anomaly based ON channel*/
--SET @anomaly_pct =
--	case when @channel='MMKA' or @channel='PROVISION' then 0.15
--		when @channel='HYSU' or @channel='LKA' then 0.30
--		else 0
--	end
	SET @anomaly_pct = 0.15

--/*TOBEREMARKED*/	SELECT ym, tot as sales, @anomaly_pct as anomaly_pct, @baseline_old as baseline_old, (tot/@baseline_old)-1 as abnormal_pct,
--/*TOBEREMARKED*/	case
--/*TOBEREMARKED*/	when @anomaly_pct=0 then tot
--/*TOBEREMARKED*/	when (tot/@baseline_old)-1 <=@anomaly_pct then tot
--/*TOBEREMARKED*/	else 0 end as sales_abnorm  FROM @Temp_Blitz_pm_old

/*sales takeout jika diluar range anomaly*/
	INSERT INTO @Temp_Blitz_pm_new SELECT ym, 
		CASE
		WHEN @anomaly_pct=0 THEN tot
		WHEN (tot>=@baseline_old) AND ((tot/@baseline_old)-1 <=@anomaly_pct) THEN tot
		WHEN (tot<@baseline_old) AND ((tot/@baseline_old)-1 > (@anomaly_pct*(-1))) THEN tot
	--	else 0 end FROM @Temp_Blitz_pm_old
		END FROM @Temp_Blitz_pm_old

--/*TOBEREMARKED*/	SELECT * FROM @Temp_Blitz_pm_new

/*hitung new baseline*/
	SELECT @ap3m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my3
	SELECT @ap6m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my6
	SELECT @ap9m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my9
	SELECT @ap12m = isnull(avg(tot)*1.00,0) FROM @Temp_Blitz_pm_new WHERE ym<=@my1 AND ym>=@my12
--if (IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))<>0
--begin
--	SET @Baseline_new = (@ap3m + @ap6m + @ap9m + @ap12m)/(IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))
--end
	IF (IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))<>0
		BEGIN
			SET @Baseline_new = (@ap3m + @ap6m + @ap9m + @ap12m)/(IIF(@ap3m=0,0,1)+IIF(@ap6m=0,0,1)+IIF(@ap9m=0,0,1)+IIF(@ap12m=0,0,1))
		END
	ELSE
		BEGIN
			SET @Baseline_new = 0
		END
--SET @baseline_final= (SELECT 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end )
	SET @baseline_final= IIF(isnull(@baseline_new,0)=0, @baseline_old, (SELECT 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end ))

--/*TOBEREMARKED*/SELECT @ap3m as ap3m, @ap6m as ap6m, @ap9m as ap9m, @ap12m as ap12m, @baseline_final as baseline_new

	DECLARE @ndays_start int, @ndays_end int, @nmonths int
		,@bl_start money, @bl_end money, @bl_tot money
	SET @ndays_start=0; SET @ndays_end=0; SET @nmonths=0;

	IF month(@p_startpromo)=month(@p_endpromo)
		BEGIN
			SET @ndays_start = IIF(day(@p_endpromo)-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(@p_endpromo)-day(@p_startpromo)+1)
			SET @ndays_end=0
			SET @nmonths=IIF(@ndays_start=0,1,0)
		END
	ELSE
		BEGIN
			SET @ndays_start = IIF(day(eomonth(@p_startpromo))-day(@p_startpromo)+1=day(eomonth(@p_startpromo)),0,day(eomonth(@p_startpromo))-day(@p_startpromo)+1)
			SET @ndays_end = IIF(day(@p_endpromo)=day(eomonth(@p_endpromo)),0,day(@p_endpromo))
			SET @nmonths = datediff(month,@p_startpromo, @p_endpromo)-1+IIF(@ndays_start=0,1,0)+IIF(@ndays_end=0,1,0)
		END

	SET @baseline_tot =
		(1.00*@ndays_start*@baseline_final/day(eomonth(@p_startpromo)))
		+((1.00*@ndays_end*@baseline_final/day(eomonth(@p_endpromo))))
		+(1.00*@nmonths*@baseline_final)

*/
-----------------------------------
SELECT @baseline_tot = SUM(avgSumValue) FROM (
	SELECT 
		skuDesc
		, AVG(sumvalue)avgSumValue
		FROM (
			SELECT 
				a.Distributor_Id, a.Distributor_Name
				, a.Year, a.Month_Name
				, d.skuDesc
				, SUM(a.SS_RBP) sumvalue
				FROM @Temp_Blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount
							)b ON a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
							)c ON a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId, y.LongDesc skuDesc FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
							inner join tbmst_product y on a.Id=y.Id
							)d ON a.Product_Code=d.sapcode
					GROUP BY
						a.Distributor_Id, a.Distributor_Name
						, a.Year, a.Month_Name
						, d.skuDesc
			)AVGSKU GROUP BY 	skuDesc
)BASELINE

-----------------------------------


--SELECT 	case when @anomaly_pct=0 then @baseline_old else @baseline_new end as baseline_sales

--/*TOBEREMARKED*/SELECT @salesamount, @baseline_final,@p_startpromo, @p_endpromo, @ndays_start, @ndays_end, @nmonths

/*Actual Sales****************************************************************/
	DELETE FROM @Temp_Blitz WHERE 0=0

	SET @my1=CONVERT(varchar(6),@p_endpromo,112)
	SET @my12=CONVERT(varchar(6),@p_startpromo,112)

	IF @salesamount='SS'
		BEGIN
			INSERT INTO @Temp_Blitz
				SELECT [Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym FROM tbtrx_blitz a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount
					)b ON a.subaccountcode=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
					)c ON a.Region_Code=c.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
					)d ON a.Product_Code=d.sapcode
				WHERE a.SOURCE='SS' AND a.distributor_id = @distributorid AND CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 AND CONCAT(year,right(CONCAT('0',month_int),2))>=@my12
		END
	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_TS_AS
				SELECT
					[Distributor_Id],[Distributor_Name],[Region_Code],[Region_Desc],[Year],[Month_Name],[AccountCode],[AccountDesc],[SubAccountCode],[SubAccountDesc],[Product_Code],[Product_Name],[Qty_In_Ton],[Qty_In_Car],[SS_DBP],[SS_RBP],[SOURCE],[Month_Int],[Created_At],[Updated_At],CONCAT(year,right(CONCAT('0',month_int),2)) as ym
					from tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount
						)b ON a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
						)c ON a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
						)d ON a.Product_Code=d.sapcode
					WHERE a.SOURCE='TS' AND a.distributor_id = 99999999 AND CONCAT(year,right(CONCAT('0',month_int),2))<=@my1 AND CONCAT(year,right(CONCAT('0',month_int),2))>=@my12

			INSERT INTO @Temp_Blitz
				SELECT
						a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],a.[ym]
					FROM @Temp_Blitz_TS_AS a
					INNER JOIN (
							SELECT DISTINCT e.SAPCode as distributor_id, c.sapcode as subaccountcode, d.SAPCode as product_code FROM tbset_map_brand_subacc_dist_ts a
								INNER JOIN tbmst_product b ON a.brandid=b.BrandId
								INNER JOIN tbset_map_subaccount_sap c ON a.subaccountid=c.subaccountid
								INNER JOIN tbset_map_product_sap d ON b.id=d.ProductId
								INNER JOIN tbmst_distributor e ON a.distributorid=e.id
								where e.SAPCode=@distributorid
						)b ON a.subaccountcode=b.subaccountcode and a.Product_Code=b.product_code

			INSERT INTO @Temp_Blitz
				SELECT a.[Distributor_Id],a.[Distributor_Name],a.[Region_Code],a.[Region_Desc],a.[Year],a.[Month_Name],a.[AccountCode],a.[AccountDesc],a.[SubAccountCode],a.[SubAccountDesc],a.[Product_Code],a.[Product_Name],a.[Qty_In_Ton],a.[Qty_In_Car],a.[SS_DBP],a.[SS_RBP],a.[SOURCE],a.[Month_Int],a.[Created_At],a.[Updated_At],CONCAT(a.year,right(CONCAT('0',a.month_int),2)) FROM tbtrx_blitz a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount
						)b ON a.subaccountcode=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbmst_region a INNER JOIN @p_region_all b ON a.id=b.Id
						)c ON a.Region_Code=c.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x INNER JOIN @p_product a ON x.productid=a.id
						)d ON a.Product_Code=d.sapcode
				WHERE
					a.SOURCE='SS'
					and CONCAT(a.year,right(CONCAT('0',a.month_int),2))>=@my12 and CONCAT(a.year,right(CONCAT('0',a.month_int),2))<=@my1
					and a.distributor_id =@distributorid
					and productid not in (
					SELECT productid FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz b ON a.SAPCode=b.Product_Code)
		END

	SET @actual_sales = (
			SELECT sum(SS_RBP) FROM @Temp_Blitz
				WHERE
					ym>=left(CONVERT(varchar, @p_startpromo, 112),6)
					and ym<=left(CONVERT(varchar, @p_endpromo, 112),6)
				)

	IF DATEDIFF(day, @p_startpromo, @p_endpromo)<=14
		BEGIN
			IF datediff(month,@p_startpromo, @p_endpromo)+1>1
				BEGIN
					SET  @actual_sales= @actual_sales*0.7/2
				END
			ELSE
				BEGIN
					SET  @actual_sales= @actual_sales*0.7
				END
		END


--/****************************************************************Actual Sales*/

--SELECT format(round(@baseline_tot,0),'#') as baseline_sales, format(round(isnull(@actual_sales,0),0),'#') as actual_sales

/*Result****************************************************************/
/* Untuk mencover btn get baseeline di UI promo Creation */
	SELECT cast(format(round(ISNULL(@baseline_tot,0),0),'#')as bigint) as baseline_sales, cast(format(round(isnull(@actual_sales,0),0),'#')as bigint) as actual_sales
	--IF @p_type=1
	--	BEGIN
	--		SELECT cast(format(round(@baseline_tot,0),'#')as bigint) as baseline_sales, cast(format(round(isnull(@actual_sales,0),0),'#')as bigint) as actual_sales
	--	END
	--ELSE
	--	BEGIN
	--		SELECT cast(format(round(NormalSales,0),'#')as bigint) as baseline_sales, cast(format(round(isnull(@actual_sales,0),0),'#')as bigint) as actual_sales
	--			FROM tbtrx_promo_planning WHERE id in (SELECT PromoPlanId FROM tbtrx_promo WHERE id=@p_promoid)
	--	END

/*Log****************************************************************/
	INSERT INTO tblog_baseline (dtime,pload,baseline,actualsales)
		SELECT @utcDate123,
		CONCAT(
		'pid:', @p_promoid
		,'; period:',@p_period
		,'; dtime:',@p_date 
		,'; type:',@p_type 
		,'; distributor:',@p_distributor 
		,'; region:',(SELECT string_agg(id,',') FROM @p_region_all)
		,'; channel:',@p_channel
		,'; subchannel:',@p_subchannel
		,'; account:',@p_account
		,'; subaccount:',@p_subaccount
		,'; brand:',(SELECT string_agg(id,',') FROM @p_brand AttributeType  )
		,'; sku:',(SELECT string_agg(id,',') FROM @p_product AttributeType  )
		,'; subcategory:',@p_subcategory 
		,'; startpromo:',@p_startpromo 
		,'; endpromo:',@p_endpromo 
		,'; subactivity:',@p_subactivity )
		,@baseline_tot,@actual_sales


END
GO
