USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_compare]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ip_matrix_approval_compare] 
@periode varchar(4) 
as

--declare @periode varchar(4), 
--	set @periode ='2021' 

declare @AL varchar(4)
	set @AL=concat('AL',right(@periode,2))

	select xxx.*,yyy.SeqApproval, yyy.Approver, yyy.MinInvestment,yyy.MaxInvestment,
		iif(xxx.UserApprover<>yyy.Approver,'GAP','OK') GAP 
		from (
			/***PROMO >< ACTUAL MATRIX***/
						select 'Cycle-1' approvalcycle, a.iscancel,a.RefId,ActivityDesc, a.Investment, c.Sequence,c.UserApprover, c.RequestDate, iif(c.ActionDate=c.requestDate and status='TP1',NULL,c.actiondate)ActionDate,
						case c.Status 
						when 'TP1' then 'WAITING'
						when 'TP2' then 'APPROVED'
						when 'TP3' then 'SENDBACK'
						End ApprovalStatus, c.Status
						from tbtrx_promo a
						inner join (select max(id) reqid, ParentId from tbtrx_promo_request_approval group by ParentId) b on a.Id=b.ParentId
						inner join tbtrx_promo_approval c on b.reqid=c.RequestId
						where SUBSTRING(AllocationRefId,1,4)=@AL and a.StatusApprovalCode='TP1'
					UNION ALL
			/***PROMO RECON>< ACTUAL MATRIX***/
						select 'Cycle-2' approvalcycle, a.iscancel,a.RefId,ActivityDesc, a.Investment, c.Sequence,c.UserApprover, c.RequestDate, iif(c.ActionDate=c.requestDate and status='TP1',NULL,c.actiondate)ActionDate,
						case c.Status 
						when 'TP1' then 'WAITING'
						when 'TP2' then 'APPROVED'
						when 'TP3' then 'SENDBACK'
						End ApprovalStatus, c.Status
						from tbtrx_promo a
						inner join (select max(id) reqid, ParentId from tbtrx_promo_request_approval_recon group by ParentId) b on a.Id=b.ParentId
						inner join tbtrx_promo_approval_recon c on b.reqid=c.RequestId
						where SUBSTRING(AllocationRefId,1,4)=@AL and a.StatusApprovalCodeRecon='TP1'
					) xxx
		INNER JOIN (
			/***PROMO >< MASTER MATRIX***/
				select promo.Periode, PromoRefID, isnull(IsCancel,0) IsCancel, promo.ActivityDesc, promo.DistributorId, EntityId, sat.LongDesc SubActivityType
				, ch.LongDesc Channel, isnull(sch.LongDesc,'ALL') SubChannel, promo.CreateBy Initiator, c.SeqApproval, c.Approver 
				,b.MinInvestment, b.MaxInvestment
					from (
							select a.id PromoID,a.refid PromoRefID, a.iscancel, a.ActivityDesc
							,b.Periode, b.EntityId, b.DistributorId, st.Id SubActivityTypeId, c.ChannelId, 
							case d.SubChannelId
							when 17 then 17
							when 18 then 18
							else 0
							end SubChannelId
							, a.CreateBy, a.Investment, 
							case 
							when a.investment<=500000000 then 0
							when a.investment>=500000001 and a.investment<=1000000000 then 500000001
							when a.investment>=1000000001 and a.investment<=5000000000 then 1000000001
							when a.investment>=5000000001 then 5000000001
							End MinInvestment,
							case 
							when a.investment<=500000000 then 500000000
							when a.investment>=500000001 and a.investment<=1000000000 then 1000000000
							when a.investment>=1000000001 and a.investment<=5000000000 then 5000000000
							when a.investment>=5000000001 then 999999999999999
							End MaxInvestment
							from tbtrx_promo a
								inner join tbtrx_promo_planning b on a.PromoPlanId=b.Id
								inner join tbtrx_promo_channel c on a.Id=c.PromoId
								inner join tbtrx_promo_subchannel d on a.Id=d.PromoId
								INNER JOIN tbmst_subactivity sa on sa.Id=a.SubactivityId
								INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
							where SUBSTRING(AllocationRefId,1,4)=@AL
								and (StatusApprovalCode='TP1' or StatusApprovalCodeRecon='TP1')
						)promo
					inner join tbset_matrix_promo_approval b on
						promo.Periode=b.Periode
						AND promo.EntityId=b.PrincipalId
						AND promo.DistributorId=b.DistributorId
						AND promo.SubActivityTypeId=b.SubActivityType
						AND promo.ChannelId=b.ChannelId
						AND promo.SubChannelId=b.SubChannelId
						AND promo.CreateBy=b.Initiator
						AND promo.MinInvestment=b.MinInvestment 
						and promo.MaxInvestment=b.MaxInvestment
					inner join tbset_matrix_promo_approver c on b.Id=c.ParentId
					left join tbmst_channel ch on promo.ChannelId=ch.Id
					left join tbmst_subchannel sch on promo.SubChannelId=sch.Id
					left join tbmst_subactivity_type sat on promo.SubActivityTypeId=sat.Id
					where b.Periode=@periode
				)yyy on xxx.RefId=yyy.PromoRefID and xxx.Sequence=yyy.SeqApproval
	--where xxx.UserApprover<>yyy.Approver
	order by xxx.RefId, xxx.Sequence
GO
