USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_list_for_validatebysales]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_list_for_validatebysales] --'xvamain','validate_by_finance',2,2,'0'
@userid varchar(50),
@status varchar(50),
@entityid int,
@distributorid int,
@TaxLevel varchar(100)
AS
BEGIN
	SET @status = 'validate_by_finance';
	IF @userid = 'admin'
	BEGIN
			 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,a.LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo 
	--	,a.TaxLevel
		,a.Notes 
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel	
		from tbtrx_debetnote a
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		where a.LastStatus=@status 
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		AND isnull(a.IsCancel,0)=0 AND isnull(a.IsDNPromo, 0) = 1
		AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
	END
	ELSE
	BEGIN
	 	SELECT DISTINCT a.Id
		,a.RefId
		,b.Id PromoId
		,b.RefId PromoRefId
		,a.ActivityDesc
		,a.DPP
		,a.PPNAmt
		,a.TotalClaim
		,a.TotalPaid 
		,a.LastStatus
		,a.IsFreeze
		,isnull(a.ModifiedOn,a.CreateOn) LastUpdate
		,IsOverBudget
		,d.RefId sp_ho
		,f.DocNumber sp_principal
		,IIF(IsDNManual=1 AND IsDNPromo=1,1,0) IsDNManual
		,IsDNPromo
		,a.MemDocNo 
		,a.IntDocNo 
	--	,a.TaxLevel
		,a.Notes 
		,a.TaxLevel MaterialNumber
		,tmm.Description TaxLevel	
		from tbtrx_debetnote a
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
		where a.LastStatus=@status 
		AND IIF(@entityid='0','',@entityid)=IIF(@entityid='0','',a.PrincipalId)
		AND IIF(@distributorid='0','',@distributorid)=IIF(@distributorid='0','',a.DistributorId)
		and isnull(a.IsCancel,0)=0
		AND IIF(@TaxLevel='0','',@TaxLevel)= IIF(@TaxLevel='0','',a.TaxLevel)
		AND b.CreateBy = @userid	
	END
END
GO
