USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ss_tt_upload_rc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_ss_tt_upload_rc] 
	@profileid varchar(50),
	@email varchar(100),
	@ssttrc SSTTTypeRC READONLY
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE 
--	@profileid varchar(50),
--	@email varchar(100),
--	@ssttrc SSTTTypeRC

--SET @profileid = 'admin'
--SET @email ='jummy@danone.com'

--INSERT INTO @ssttrc VALUES
--('2025', 'Retailer Cost', 'NKA Trading Term', 'MMKA', 'MMKA', 'MMKA', 'MMKA ALL', 'Tigaraksa', 'TRS', 'SGM', 'Contractual', '', 'Trading Term - Promo Fund', 0.07, '2025 SGM - TRS - MMKA ALL  Trading Term - Promo Fund')
--,('2025', 'Retailer Cost', 'NKA Trading Term', 'MMKA', 'MMKA', 'MMKA', 'MMKA ALL', 'Tigaraksa', 'TRS', 'SGM', 'Contractual', 'Cut Price', 'Trading Term - Promo Fund', 0.10, '2025 SGM - TRS - MMKA ALL  Trading Term - Promo Fund')
--,('2025', 'Retailer Cost', 'NKA Trading Term', 'MMKA', 'MMKA', 'MMKA', 'MMKA ALL', 'Tigaraksa', 'TRS', 'SGM', 'Contractual', '', 'Trading Term - Consumer Promo', 0.07, '2025 SGM - TRS - MMKA ALL  Trading Term - Consumer Promo')
--,('2025', 'Retailer Cost', 'NKA Trading Term', 'MMKA', 'MMKA', 'MMKA', 'MMKA ALL', 'Tigaraksa', 'TRS', 'SGM', 'Contractual', 'Cut Price', 'Trading Term - Consumer Promo', 0.10, '2025 SGM - TRS - MMKA ALL  Trading Term - Consumer Promo')

--EXEC [ip_ss_tt_upload_rc] @profileid, @email, @ssttrc

----DROP TABLE IF EXISTS tempSSVolumeType
----select * INTO tempSSVolumeType from @ssvolume

truncate table tmp_SSTTTypeRC
INSERT INTO tmp_SSTTTypeRC SELECT * FROM @ssttrc

--INSERT INTO @ssttrc select * from tmp_SSTTTypeRC

BEGIN 

/*VALIDATE*/
	DROP TABLE IF EXISTS #sstt123
	
	SELECT ROW_NUMBER() OVER(ORDER BY category ASC, subcategory ASC, channel ASC, subchannel ASC, account ASC, subaccount ASC, distributor ASC, groupbrand ASC, subactivitytype ASC, subactivity ASC, activity ASC, budgetname ASC
	) AS RowID, * into #sstt123 FROM @ssttrc

    DECLARE @temp as TABLE(
         doc varchar(255),
         [status] varchar(255)
	)

	DECLARE @tbfailed TABLE ( 
		[RowId] INT,
		[category] varchar (255),
		[subcategory] varchar (255),
		[channel] varchar (255),
		[subchannel] varchar (255),
		[account] varchar (255),
		[subaccount] varchar (255),
		[distributor] varchar (255),
		[distributorshortdesc] varchar (255),
		[groupbrand] varchar (255),
		[subactivitytype] varchar (255),
		[subactivity] varchar (255),
		[activity] varchar (255),
		[budgetname] varchar (255)
	)


--/*category*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.category,'Category not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc 
--			WHERE b.categoryDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT DISTINCT
--			a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc 
--			WHERE b.categoryDesc IS NULL

--/*subcategory*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subcategory,'Sub Category not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc and a.subcategory = b.subcategoryDesc 
--			WHERE b.subcategoryDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT DISTINCT
--			a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.category = b.categoryDesc 
--			WHERE b.categoryDesc IS NULL
--/*sub activity type*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subactivitytype,'Sub Activity Type not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc  AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
--			WHERE b.subactivitytypedesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
--			WHERE b.subactivitytypedesc IS NULL

--/*sub activity*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subactivity,'Sub Activity not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
--			WHERE b.subactivitydesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT 
--   a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
--			WHERE b.subactivitydesc IS NULL

--/*Activity*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.activity,'Activity not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
--			WHERE b.activitydesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT 
--   a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
--			WHERE b.activitydesc IS NULL

--/*channel*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.channel,'Channel not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc 
--			WHERE b.ChannelDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--			a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc 
--			WHERE b.ChannelDesc IS NULL

--/*sub channel*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subchannel,'Sub Channel not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc
--			WHERE b.SubChannelDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc
--			WHERE b.SubChannelDesc IS NULL

--/*account*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.account,'Account not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc
--			WHERE b.AccountDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc
--			WHERE b.AccountDesc IS NULL

--/*sub account*/
--	INSERT INTO @temp
--		SELECT DISTINCT a.subaccount,'Sub Account not found - ' + budgetname
--			FROM #sstt123 a 
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc AND a.subaccount=b.SubAccountDesc
--			WHERE b.SubAccountDesc IS NULL

--	INSERT INTO @tbfailed
--		SELECT  DISTINCT
--   a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname	FROM #sstt123 a
--			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc AND a.subaccount=b.SubAccountDesc
--			WHERE b.SubAccountDesc IS NULL


/*activity hierarchy Non Cosmo */
/*sub activity hierarchy*/
	INSERT INTO @temp
		SELECT DISTINCT concat(a.category, ' - ', a.subcategory, ' - ', a.subactivitytype, ' - ', a.subactivity, ' - ', a.activity),'Activity hierarchy not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitydesc IS NULL
			AND ISNULL(a.subactivity, '') <> ''
			--AND b.ActivityDesc <> 'Trading Term - Consumer Promo' AND b.ActivityDesc <> 'Trading Term - Promo Fund'

	INSERT INTO @tbfailed
		SELECT 
   a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitydesc IS NULL
			AND ISNULL(a.subactivity, '') <> ''
			--AND b.ActivityDesc <> 'Trading Term - Consumer Promo' AND b.ActivityDesc <> 'Trading Term - Promo Fund'

/*activity hierarchy Cosmo*/
/*activity hierarchy*/
	INSERT INTO @temp
		SELECT DISTINCT concat(a.category, ' - ', a.subcategory, ' - ', a.subactivitytype, ' - ', a.subactivity, ' - ', a.activity),'Activity hierarchy not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc --AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitydesc IS NULL
			AND ISNULL(a.subactivity, '') = ''
			--AND b.ActivityDesc IN ('Trading Term - Consumer Promo', 'Trading Term - Promo Fund')

	INSERT INTO @tbfailed
		SELECT 
   a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_activity_active b WITH (NOLOCK) ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc --AND a.subactivity=b.subactivitydesc
			WHERE b.subactivitydesc IS NULL
			AND ISNULL(a.subactivity, '') = ''
			--AND b.ActivityDesc IN ('Trading Term - Consumer Promo', 'Trading Term - Promo Fund')

/*account hierarchy*/
	INSERT INTO @temp
		SELECT DISTINCT concat(a.channel, ' - ', a.subchannel, ' - ', a.account, ' - ', a.subaccount),'Account hierarchy not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc AND a.subaccount=b.SubAccountDesc
			WHERE b.SubAccountDesc IS NULL

	INSERT INTO @tbfailed
		SELECT  DISTINCT
   a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN vw_account b WITH (NOLOCK) ON a.channel = b.ChannelDesc AND a.subchannel=b.SubChannelDesc and a.account=b.AccountDesc AND a.subaccount=b.SubAccountDesc
			WHERE b.SubAccountDesc IS NULL

/*distributor*/
	INSERT INTO @temp
		SELECT DISTINCT a.distributor,'Sub Account not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN tbmst_distributor b WITH (NOLOCK) ON a.distributor = b.longdesc AND isnull(b.isdeleted, 0) = 0 
			WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
		SELECT DISTINCT
   a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN tbmst_distributor b WITH (NOLOCK) ON a.distributor= b.longdesc AND isnull(b.IsDeleted, 0) = 0
			WHERE b.longdesc IS NULL

/*group brand*/
	INSERT INTO @temp
		SELECT DISTINCT a.groupbrand,'Brand not found - ' + budgetname
			FROM #sstt123 a 
			LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.isdeleted, 0) = 0 
			WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
		SELECT 
   a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname	FROM #sstt123 a
			LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.isdeleted, 0) = 0
			WHERE b.longdesc IS NULL

/* cek Data doubel activity*/
	INSERT INTO @temp
		SELECT CONCAT(category, ' - ', subCategory, ' - ', activity), 'Double'
		FROM (
			SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, a.activity, count(subActivity) subActivityCount
				FROM #sstt123 a 
			WHERE ISNULL(a.subactivity, '') = ''
			GROUP BY category, subCategory, activity, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
			HAVING count(activity) > 1
		) cek

	INSERT INTO @tbfailed
		SELECT DISTINCT
			a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname FROM #sstt123 a
			INNER JOIN (
				SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, a.activity, count(subActivity) subActivityCount
				FROM #sstt123 a 
				WHERE ISNULL(a.subactivity, '') = ''
				GROUP BY category, subCategory, activity, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
				HAVING count(activity) > 1
			) b on a.category = b.category AND a.subcategory = b. subcategory

/* cek Data doubel subactivity*/
	INSERT INTO @temp
		SELECT CONCAT(category, ' - ', subCategory, ' - ', activity, ' - ', subactivity), 'Double'
		FROM (
			SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, a.activity, a.subactivity, count(subActivity) subActivityCount
				FROM #sstt123 a 
			WHERE ISNULL(a.subactivity, '') <> ''
			GROUP BY category, subCategory, activity, subactivity, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
			HAVING count(activity) > 1
		) cek

	INSERT INTO @tbfailed
		SELECT DISTINCT
			a.RowId, a.category, a.subcategory,
			a.channel, a.subchannel, a.account, a.subaccount,
			a.distributor, a.distributorshortdesc, a.groupbrand,
			a.subactivitytype, a.subactivity, a.activity,
			a.budgetname FROM #sstt123 a
			INNER JOIN (
				SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, a.activity, a.subactivity, count(subActivity) subActivityCount
				FROM #sstt123 a 
				WHERE ISNULL(a.subactivity, '') <> ''
				GROUP BY category, subCategory, activity, subactivity, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
				HAVING count(activity) > 1
			) b on a.category = b.category AND a.subcategory = b. subcategory

--/*Trading Term - Consumer Promo*/
--	INSERT INTO @temp
--		SELECT CONCAT(category, ' - ', subCategory, ' - Trading Term - Consumer Promo'), 'Double'
--		FROM (
--			SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, count(activity) activityCount
--				FROM #sstt123 a 
--			WHERE activity = 'Trading Term - Consumer Promo'
--			GROUP BY category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
--			HAVING count(activity) > 1
--		) cek

--	INSERT INTO @tbfailed
--		SELECT DISTINCT
--			a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname FROM #sstt123 a
--			INNER JOIN (
--				SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, count(activity) activityCount
--				FROM #sstt123 a 
--				WHERE activity = 'Trading Term - Consumer Promo'
--				GROUP BY category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
--				HAVING count(activity) > 1
--			) b on a.category = b.category AND a.subcategory = b. subcategory
--			WHERE a.activity = 'Trading Term - Consumer Promo'

--/*Trading Term - Promo Fund*/
--	INSERT INTO @temp
--		SELECT CONCAT(category, ' - ', subCategory, ' - Trading Term - Promo Fund'), 'Double'
--		FROM (
--			SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, count(activity) activityCount
--				FROM #sstt123 a 
--			WHERE activity = 'Trading Term - Promo Fund'
--			GROUP BY category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
--			HAVING count(activity) > 1
--		) cek

--	INSERT INTO @tbfailed
--		SELECT DISTINCT
--			a.RowId, a.category, a.subcategory,
--			a.channel, a.subchannel, a.account, a.subaccount,
--			a.distributor, a.distributorshortdesc, a.groupbrand,
--			a.subactivitytype, a.subactivity, a.activity,
--			a.budgetname FROM #sstt123 a
--			INNER JOIN (
--				SELECT category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand, count(activity) activityCount
--				FROM #sstt123 a 
--				WHERE activity = 'Trading Term - Promo Fund'
--				GROUP BY category, subCategory, a.channel, a.subchannel, a.account, a.subaccount, a.distributor, a.groupbrand
--				HAVING count(activity) > 1
--			) b on a.category = b.category AND a.subcategory = b. subcategory
--			WHERE a.activity = 'Trading Term - Promo Fund'

--GOTO HELL

/*Brand NUT dan BEB gak boleh beda rate*/

/*INSERT IF NOT EXIST
	period, categoryid, subcategoryid, channelid, subchannelid, accountid, subaccountid, distributorId, distributorshortdesc, groupbrandid, subactivitytypeid, activityid, subactivityid, budgetname, tt, ssvalue, budgetamount, approvalstatus, deploymentstatus, CreatedBy, CreatedEmail, CreatedOn, ModifiedBy, ModifiedEmail, ModifiedOn, IsDeleted, DeletedBy, DeleteEmail, DeletedOn, approvedon, approvedby, approvedbyemail, deployedon, deployedby, deployedbyemail, id
*/
/****** 'Non - Trading Term - Consumer Promo */
	INSERT INTO tbtrx_ss_tt
		(period, categoryid, subcategoryid, channelid, subchannelid, accountid, subaccountid, distributorId, distributorshortdesc, groupbrandid, subactivitytypeid, activityid, subactivityid, budgetname, tt, ssvalue, CreatedBy, CreatedEmail, CreatedOn)
	SELECT distinct  
		a.period, b.categoryid, b.subcategoryid, c.channelid, c.subchannelid, c.accountid, c.subaccountid, d.id, d.ShortDesc, e.Id, b.subactivitytypeid, b.activityid, b.subactivityid
		, CONCAT(a.period,' ', e.LongDesc, ' - ', d.ShortDesc, ' - ', c.SubAccountDesc, ' ', b.ActivityDesc ) budgetname
		, a.tt*100, ISNULL(ss.ssvalue,0), @profileid, @email, @utcDate123 
	FROM #sstt123 a
		INNER JOIN vw_activity_active b ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc
		INNER JOIN vw_account c ON a.channel = c.ChannelDesc AND a.subchannel=c.SubChannelDesc AND a.account=c.AccountDesc AND a.subaccount=c.SubAccountDesc
		INNER JOIN tbmst_distributor d ON a.distributor=d.LongDesc
		INNER JOIN tbmst_brand_group e ON a.groupbrand=e.LongDesc
		LEFT JOIN tbtrx_ss_tt tt on 
				a.period = tt.period 
				AND b.categoryid=tt.categoryid
				AND b.subcategoryid=tt.subcategoryid
				AND c.channelid=tt.channelid
				AND c.subchannelid=tt.subchannelid
				AND c.accountid=tt.accountid
				AND c.subaccountid=tt.subaccountid
				AND d.id=tt.distributorId
				AND d.ShortDesc=tt.distributorshortdesc
				AND e.Id=tt.groupbrandid
				AND b.subactivitytypeid=tt.subactivitytypeid
				AND b.activityid=tt.activityid
				AND b.subactivityid=tt.subactivityid
		LEFT JOIN (
			SELECT
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
				ISNULL(a.m2,0) * ISNULL(b.m2,0)+
				ISNULL(a.m3,0) * ISNULL(b.m3,0)+
				ISNULL(a.m4,0) * ISNULL(b.m4,0)+
				ISNULL(a.m5,0) * ISNULL(b.m5,0)+
				ISNULL(a.m6,0) * ISNULL(b.m6,0)+
				ISNULL(a.m7,0) * ISNULL(b.m7,0)+
				ISNULL(a.m8,0) * ISNULL(b.m8,0)+
				ISNULL(a.m9,0) * ISNULL(b.m9,0)+
				ISNULL(a.m10,0) * ISNULL(b.m10,0)+
				ISNULL(a.m11,0) * ISNULL(b.m11,0)+
				ISNULL(a.m12,0) * ISNULL(b.m12,0)) ssvalue
			from tbtrx_ss_volume a
			INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
			GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)ss ON a.period=ss.period AND c.channelid = ss.channelid AND c.subchannelid = ss.subchannelid AND c.accountid = ss.accountid AND c.subaccountid = ss.subaccountid AND e.id = ss.groupbrandid
		WHERE 
			a.RowID NOT IN (SELECT RowID FROM @tbfailed)
			AND tt.id IS NULL
			--AND a.activity <> 'Trading Term - Consumer Promo' AND a.activity <> 'Trading Term - Promo Fund'

			--AND a.budgetname NOT IN (SELECT budgetname FROM tbtrx_ss_tt)
/*UPDATE IF EXIST*/
	UPDATE tt
		SET tt.tt=a.tt*100 
			, tt.ssvalue=ISNULL(ss.ssvalue,0)
			, tt.budgetname=CONCAT(a.period,' ', e.LongDesc, ' - ', d.ShortDesc, ' - ', c.SubAccountDesc, ' ', b.ActivityDesc )
			, tt.modifiedby=@profileid
			, modifiedEmail=@email
			, modifiedon=@utcDate123
		--SELECT --distinct  
		--	a.period, b.categoryid, b.subcategoryid, c.channelid, c.subchannelid, c.accountid, c.subaccountid, d.id, d.ShortDesc, e.Id, b.subactivitytypeid, b.activityid, b.subactivityid, a.budgetname, a.tt, 0 ssvalue, @profileid, @email, @utcDate123 
		FROM #sstt123 a
			INNER JOIN vw_activity_active b ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc AND a.subactivity=b.subactivitydesc		
			INNER JOIN vw_account c ON a.channel = c.ChannelDesc AND a.subchannel=c.SubChannelDesc AND a.account=c.AccountDesc AND a.subaccount=c.SubAccountDesc
			INNER JOIN tbmst_distributor d ON a.distributor=d.LongDesc
			INNER JOIN tbmst_brand_group e ON a.groupbrand=e.LongDesc
			INNER JOIN tbtrx_ss_tt tt on 
				a.period = tt.period 
				AND b.categoryid=tt.categoryid
				AND b.subcategoryid=tt.subcategoryid
				AND c.channelid=tt.channelid
				AND c.subchannelid=tt.subchannelid
				AND c.accountid=tt.accountid
				AND c.subaccountid=tt.subaccountid
				AND d.id=tt.distributorId
				AND d.ShortDesc=tt.distributorshortdesc
				AND e.Id=tt.groupbrandid
				AND b.subactivitytypeid=tt.subactivitytypeid
				AND b.activityid=tt.activityid
				AND b.subactivityid=tt.subactivityid
			LEFT JOIN (
				SELECT
					a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
					,SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
					ISNULL(a.m2,0) * ISNULL(b.m2,0)+
					ISNULL(a.m3,0) * ISNULL(b.m3,0)+
					ISNULL(a.m4,0) * ISNULL(b.m4,0)+
					ISNULL(a.m5,0) * ISNULL(b.m5,0)+
					ISNULL(a.m6,0) * ISNULL(b.m6,0)+
					ISNULL(a.m7,0) * ISNULL(b.m7,0)+
					ISNULL(a.m8,0) * ISNULL(b.m8,0)+
					ISNULL(a.m9,0) * ISNULL(b.m9,0)+
					ISNULL(a.m10,0) * ISNULL(b.m10,0)+
					ISNULL(a.m11,0) * ISNULL(b.m11,0)+
					ISNULL(a.m12,0) * ISNULL(b.m12,0)) ssvalue
				from tbtrx_ss_volume a
				INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				)ss ON tt.period=ss.period AND tt.channelid = ss.channelid AND tt.subchannelid = ss.subchannelid AND tt.accountid = ss.accountid AND tt.subaccountid = ss.subaccountid AND tt.groupbrandid = ss.groupbrandid
			WHERE 
				a.RowID NOT IN (SELECT RowID FROM @tbfailed)
				--AND a.activity <> 'Trading Term - Consumer Promo' AND a.activity <> 'Trading Term - Promo Fund'
				--AND a.budgetname IN (SELECT budgetname FROM tbtrx_ss_tt)

/****** 'Trading Term - Consumer Promo */
	INSERT INTO tbtrx_ss_tt
		(period, categoryid, subcategoryid, channelid, subchannelid, accountid, subaccountid, distributorId, distributorshortdesc, groupbrandid, subactivitytypeid, activityid, subactivityid, budgetname, tt, ssvalue, CreatedBy, CreatedEmail, CreatedOn)
	SELECT distinct  
		a.period, b.categoryid, b.subcategoryid, c.channelid, c.subchannelid, c.accountid, c.subaccountid, d.id, d.ShortDesc, e.Id, (SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual'), b.activityid, 0
		, CONCAT(a.period,' ', e.LongDesc, ' - ', d.ShortDesc, ' - ', c.SubAccountDesc, ' ', b.ActivityDesc ) budgetname
		, a.tt*100, ISNULL(ss.ssvalue,0), @profileid, @email, @utcDate123 
	FROM #sstt123 a
		INNER JOIN vw_activity_active b ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc --AND a.subactivity=b.subactivitydesc
		INNER JOIN vw_account c ON a.channel = c.ChannelDesc AND a.subchannel=c.SubChannelDesc AND a.account=c.AccountDesc AND a.subaccount=c.SubAccountDesc
		INNER JOIN tbmst_distributor d ON a.distributor=d.LongDesc
		INNER JOIN tbmst_brand_group e ON a.groupbrand=e.LongDesc
		LEFT JOIN tbtrx_ss_tt tt on 
				a.period = tt.period 
				AND b.categoryid=tt.categoryid
				AND b.subcategoryid=tt.subcategoryid
				AND c.channelid=tt.channelid
				AND c.subchannelid=tt.subchannelid
				AND c.accountid=tt.accountid
				AND c.subaccountid=tt.subaccountid
				AND d.id=tt.distributorId
				AND d.ShortDesc=tt.distributorshortdesc
				AND e.Id=tt.groupbrandid
				AND b.subactivitytypeid=tt.subactivitytypeid
				AND b.activityid=tt.activityid
				AND tt.subactivityid = 0
				--AND b.subactivityid=tt.subactivityid
		LEFT JOIN (
			SELECT
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
				ISNULL(a.m2,0) * ISNULL(b.m2,0)+
				ISNULL(a.m3,0) * ISNULL(b.m3,0)+
				ISNULL(a.m4,0) * ISNULL(b.m4,0)+
				ISNULL(a.m5,0) * ISNULL(b.m5,0)+
				ISNULL(a.m6,0) * ISNULL(b.m6,0)+
				ISNULL(a.m7,0) * ISNULL(b.m7,0)+
				ISNULL(a.m8,0) * ISNULL(b.m8,0)+
				ISNULL(a.m9,0) * ISNULL(b.m9,0)+
				ISNULL(a.m10,0) * ISNULL(b.m10,0)+
				ISNULL(a.m11,0) * ISNULL(b.m11,0)+
				ISNULL(a.m12,0) * ISNULL(b.m12,0)) ssvalue
			from tbtrx_ss_volume a
			INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
			GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)ss ON a.period=ss.period AND c.channelid = ss.channelid AND c.subchannelid = ss.subchannelid AND c.accountid = ss.accountid AND c.subaccountid = ss.subaccountid AND e.id = ss.groupbrandid
		WHERE 
			a.RowID NOT IN (SELECT RowID FROM @tbfailed)
			AND tt.id IS NULL
			AND isnull(a.subactivity, '') = ''
			--AND a.activity IN ('Trading Term - Consumer Promo', 'Trading Term - Promo Fund')

			--AND a.budgetname NOT IN (SELECT budgetname FROM tbtrx_ss_tt)
/*UPDATE IF EXIST*/
	UPDATE tt
		SET tt.tt=a.tt*100 
			, tt.ssvalue=ISNULL(ss.ssvalue,0)
			, tt.budgetname=CONCAT(a.period,' ', e.LongDesc, ' - ', d.ShortDesc, ' - ', c.SubAccountDesc, ' ', b.ActivityDesc )
			, tt.modifiedby=@profileid
			, modifiedEmail=@email
			, modifiedon=@utcDate123
		--SELECT --distinct  
		--	a.period, b.categoryid, b.subcategoryid, c.channelid, c.subchannelid, c.accountid, c.subaccountid, d.id, d.ShortDesc, e.Id, b.subactivitytypeid, b.activityid, b.subactivityid, a.budgetname, a.tt, 0 ssvalue, @profileid, @email, @utcDate123 
		--select a.tt*100, ISNULL(ss.ssvalue,0)
		FROM #sstt123 a
			INNER JOIN vw_activity_active b ON a.subactivitytype = b.subactivitytypedesc AND a.category=b.categorydesc AND a.subcategory = b.subcategoryDesc AND a.activity=b.activitydesc --AND a.subactivity=b.subactivitydesc		
			INNER JOIN vw_account c ON a.channel = c.ChannelDesc AND a.subchannel=c.SubChannelDesc AND a.account=c.AccountDesc AND a.subaccount=c.SubAccountDesc
			INNER JOIN tbmst_distributor d ON a.distributor=d.LongDesc
			INNER JOIN tbmst_brand_group e ON a.groupbrand=e.LongDesc
			INNER JOIN tbtrx_ss_tt tt on 
				a.period = tt.period 
				AND b.categoryid=tt.categoryid
				AND b.subcategoryid=tt.subcategoryid
				AND c.channelid=tt.channelid
				AND c.subchannelid=tt.subchannelid
				AND c.accountid=tt.accountid
				AND c.subaccountid=tt.subaccountid
				AND d.id=tt.distributorId
				AND d.ShortDesc=tt.distributorshortdesc
				AND e.Id=tt.groupbrandid
				AND b.subactivitytypeid=tt.subactivitytypeid
				AND b.activityid=tt.activityid
				AND tt.subactivityid = 0
				--AND b.subactivityid=tt.subactivityid
			LEFT JOIN (
				SELECT
					a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
					,SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
					ISNULL(a.m2,0) * ISNULL(b.m2,0)+
					ISNULL(a.m3,0) * ISNULL(b.m3,0)+
					ISNULL(a.m4,0) * ISNULL(b.m4,0)+
					ISNULL(a.m5,0) * ISNULL(b.m5,0)+
					ISNULL(a.m6,0) * ISNULL(b.m6,0)+
					ISNULL(a.m7,0) * ISNULL(b.m7,0)+
					ISNULL(a.m8,0) * ISNULL(b.m8,0)+
					ISNULL(a.m9,0) * ISNULL(b.m9,0)+
					ISNULL(a.m10,0) * ISNULL(b.m10,0)+
					ISNULL(a.m11,0) * ISNULL(b.m11,0)+
					ISNULL(a.m12,0) * ISNULL(b.m12,0)) ssvalue
				from tbtrx_ss_volume a
				INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				)ss ON tt.period=ss.period AND tt.channelid = ss.channelid AND tt.subchannelid = ss.subchannelid AND tt.accountid = ss.accountid AND tt.subaccountid = ss.subaccountid AND tt.groupbrandid = ss.groupbrandid
			WHERE 
				a.RowID NOT IN (SELECT RowID FROM @tbfailed)
				AND isnull(a.subactivity, '') = ''
				--AND a.activity IN ('Trading Term - Consumer Promo', 'Trading Term - Promo Fund')

	DECLARE @totUpload INT, @totFailed INT, @totSuccess INT

	SET @totUpload = (SELECT COUNT(RowId) FROM #sstt123)	
	SET @totFailed = (select count(a.rowid) FROM (select rowid from @tbfailed group by rowid) a)
	SET @totSuccess = @totUpload - @totFailed

	SELECT * 
	FROM @temp

	SELECT @totUpload totUpload, @totFailed totFailed, @totSuccess totSuccess

	/* result promo */
	--SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approverRecon approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.ApproverRecon=b.Id
	--where pr.period = 2025
	--and pr.id IN (3691,3681)
	--UNION ALL
	--SELECT pr.id promoId, pr.refid, pr.CreateBy userNameInitiator, pr.Approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.Approver=b.Id
	--where pr.period = 2025
	--and pr.id IN (3683,3693)

	EXEC [dbo].[ip_ss_tt_upload_rc_promo_update] @ssttrc = @ssttrc

--HELL:
	--DROP TABLE IF EXISTS #mydummy
	--SELECT 'DUMMY1' info, 'Dummy1 not found' [status] into #mydummy
	--INSERT INTO #mydummy (info, [status]) 
	--	values ('DUMMy2', 'Dummy2 not found'),
	--		('DUMMy3', 'Dummy3 not found'),
	--		('DUMMy4', 'Dummy4 not found')
	--SELECT * from #mydummy

	--SELECT 100 totUpload, 10 totFailed, 90 totSuccess

	--DROP TABLE IF EXISTS #mydummy

----SELECT 'Hell Gatekeeper: YOU ARE HERE'
END
GO
