

/****** Object:  StoredProcedure [dbo].[ip_budget_amount_get]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ip_budget_amount_get] 
	@period int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @groupbrandid int
	, @tt float

AS

--DECLARE
--	@period int
--	, @channelid int
--	, @subchannelid int
--	, @accountid int
--	, @subaccountid int
--	, @groupbrandid int
--	, @tt float

--	SET @period = 2024
--	SET @channelid = 2
--	SET @subchannelid = 2
--	SET @accountid = 3
--	SET @subaccountid = 2
--	SET @groupbrandid = 1
--	SET @tt = 1

BEGIN
	select 
		a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		,SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
		ISNULL(a.m2,0) * ISNULL(b.m2,0)+
		ISNULL(a.m3,0) * ISNULL(b.m3,0)+
		ISNULL(a.m4,0) * ISNULL(b.m4,0)+
		ISNULL(a.m5,0) * ISNULL(b.m5,0)+
		ISNULL(a.m6,0) * ISNULL(b.m6,0)+
		ISNULL(a.m7,0) * ISNULL(b.m7,0)+
		ISNULL(a.m8,0) * ISNULL(b.m8,0)+
		ISNULL(a.m9,0) * ISNULL(b.m9,0)+
		ISNULL(a.m10,0) * ISNULL(b.m10,0)+
		ISNULL(a.m11,0) * ISNULL(b.m11,0)+
		ISNULL(a.m12,0) * ISNULL(b.m12,0)) ssvalue
		, ROUND(SUM(ISNULL(a.m1,0) * ISNULL(b.m1,0)+
		ISNULL(a.m2,0) * ISNULL(b.m2,0)+
		ISNULL(a.m3,0) * ISNULL(b.m3,0)+
		ISNULL(a.m4,0) * ISNULL(b.m4,0)+
		ISNULL(a.m5,0) * ISNULL(b.m5,0)+
		ISNULL(a.m6,0) * ISNULL(b.m6,0)+
		ISNULL(a.m7,0) * ISNULL(b.m7,0)+
		ISNULL(a.m8,0) * ISNULL(b.m8,0)+
		ISNULL(a.m9,0) * ISNULL(b.m9,0)+
		ISNULL(a.m10,0) * ISNULL(b.m10,0)+
		ISNULL(a.m11,0) * ISNULL(b.m11,0)+
		ISNULL(a.m12,0) * ISNULL(b.m12,0)) * @tt/100 ,0)budgetamount
	from tbtrx_ss_volume a
	INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.groupbrandid=b.groupbrandid
	where 
		a.period= @period
		AND a.channelid = @channelid
		AND a.subchannelid = @subchannelid
		AND a.accountid = @accountid
		AND a.subaccountid = @subaccountid
		AND a.groupbrandid = @groupbrandid
	GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
END
GO
