USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_list_submission]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_list_submission] --'2020',0,0,0,0,'scsh1','1900-01-01','9999-01-01','2020-01-01','2020-01-31'
 --DECLARE

 @periode varchar(4)
,@entity int
,@distributor int
,@budgetparent int
,@channel int
,@userid varchar(50)
,@create_from date
,@create_to date
,@start_from date
,@start_to date


--SET @periode ='2020'
--SET @entity =0
--SET @distributor =0
--SET @budgetparent =0
--SET @channel =0
--SET @userid ='admin'
--SET @create_from ='2019-01-01'
--SET @create_to ='2021-12-31'
--SET @start_from ='2019-01-01'
--SET @start_to ='2021-12-31'

AS


BEGIN
/****************************/

    DECLARE @Temp TABLE
    (
      MonthInt int
      ,MonthName varchar(10)
      ,TotOptimaCreated numeric(19)
      ,OnTime numeric(19)
      ,OnTimePCT numeric(5,2)
      ,Late numeric(19)
      ,LatePCT numeric(5,2)
      ,ChannelDesc varchar(255)
    )
    ;
 	INSERT INTO @Temp(MonthInt, MonthName)
 	VALUES (1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr'), (5, 'May'), (6, 'Jun')
 		, (7, 'Jul'), (8, 'Aug'), (9, 'Sep'), (10, 'Oct'), (11, 'Nov'), (12, 'Dec')
    DROP TABLE IF EXISTS #temp_promo;
    DECLARE @recordsFiltered int;

    select
        pr.StartPromo
        , pr.EndPromo
        , pr.CreateOn
        , pr.CreateBy
        , pr.ModifiedOn
        , pr.RefId
        , pr.ActivityDesc
        , pr.Mechanisme1
        , pr.Mechanisme2
        , pr.Mechanisme3
        , pr.Mechanisme4
        , pr.IsCancel
        , pr.CancelBy
        , pr.CancelOn
        , pr.CancelByName
        , pr.StatusApprovalCode
        , pr.LastStatus
        , pr.ApproveOn
        , pr.ApprovalNotes
        , pr.ApproverName
        , pr.NormalSales
        , pr.IncrSales
        , pr.Investment
        , pr.CostRatio
        , pr.TsCoding
        , pr.IsClose
        , pr.AllocationId
        , pr.SubCategoryId
        , pr.Approver
        , pr.ActivityId
        , pr.SubActivityId
        , pr.Id
        , pr.PromoPlanId
        , pr.Reconciled
        , pr.ReconciledOn
        , pr.StatusApprovalCodeRecon
        , pr.LastStatusRecon
        , pr.ApproverRecon
        , pr.ApproveOnRecon
        , pr.ApproverReconName
        , pr.InvestmentTypeId
        , pr.late_submission_day 
--        , DATENAME(month, pr.CreateOn) AS MonthName
        ,CAST(DATENAME(month, pr.CreateOn) AS CHAR(3)) AS MonthName
        , month(pr.CreateOn) AS Month
        , excpt.PromoId 
        into #temp_promo
		from tbtrx_promo pr
	        inner join tbtrx_allocation c with (nolock) on pr.AllocationId=c.Id
	        inner join tbtrx_budgetmaster m with (nolock) on c.BudgetMasterId=m.Id
	        inner join tbmst_distributor d with (nolock) on m.DistributorId=d.Id
	        inner join tbmst_principal p with (nolock) on m.PrincipalId=p.Id
	        inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
	        inner join tbtrx_allocation_useraccess usr ON usr.AllocationId=pr.AllocationId AND usr.UserId=@userid
	        left join tbtemp_promo_submission_exception excpt on pr.id=excpt.PromoId and excpt.idx=@userid		
        WHERE c.Periode=@periode
	        AND IIF(@entity=0,'',m.PrincipalId) =IIF(@entity=0,'',@entity)
	        AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
            AND NOT (CONVERT(varchar(8),pr.StartPromo,112) > CONVERT(VARCHAR(8),@start_to,112) OR  CONVERT(varchar(8),pr.EndPromo,112) < convert(varchar(8),@start_from,112))
            AND (CONVERT(varchar(6),pr.CreateOn,112) >= CONVERT(varchar(6),@create_from,112) AND  CONVERT(varchar(6),pr.CreateOn,112) <= CONVERT(varchar(6),@create_to,112))
            AND (CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112) and  CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112))

    /****************************/
    /****************************/

    declare @endofmonth date,@closingdtx date, @submission_day int;
   
   	set @submission_day = (select daysfrom  from tbset_config_reminder tcr where id=502)

  set @endofmonth=(select dateadd(month,1+datediff(month,0,@closingdtx),-1))

--    SELECT
--    	pr.MonthName
--	    ,'' ChannelDesc
--	    ,count(pr.Id) TotOptimaCreated
--        ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) < pr.late_submission_day,0,1)) OnTime
--        ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) < pr.late_submission_day,0,1)) / count(pr.Id) * 100 OnTimePCT
--        ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) >= pr.late_submission_day,0,1)) Late
--        ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) >= pr.late_submission_day,0,1)) / count(pr.Id) * 100 LatePCT
        UPDATE a 
    		SET 
    			a.TotOptimaCreated = isnull(b.TotOptimaCreated, 0)
--        		,a.OnTime = b.OnTime
--		        ,a.OnTimePCT = b.OnTimePCT
--		        ,a.Late = b.Late
--		        ,a.LatePCT = b.LatePCT

        		,a.OnTime = isnull(b.OnTime, 0)
		        ,a.OnTimePCT = isnull(b.OnTimePCT, 0)
		        ,a.Late = isnull(b.Late, 0)
		        ,a.LatePCT = isnull(b.LatePCT, 0)
        FROM @Temp a
        LEFT JOIN (
	        SELECT
		    	pr.MonthName
			    ,count(pr.Id) TotOptimaCreated
			    ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(pr.PromoId, 0)<>0,1,0)) OnTime
			    ,100.0 * (sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(pr.PromoId, 0)<>0,1,0))) / count(pr.Id) OnTimePCT
			    ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) <= @submission_day AND isnull(pr.PromoId, 0)=0,1,0)) Late
			    ,100.0 * (sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) <= @submission_day AND isnull(pr.PromoId, 0)=0,1,0))) / count(pr.Id) LatePCT
	        FROM #temp_promo pr with (nolock)
			GROUP BY pr.Month,pr.MonthName
			HAVING count(pr.Id) > 0
    	) b on a.MonthName = b.MonthName 
    	
	SELECT 
      	MonthName
      	,TotOptimaCreated
      	,OnTime
      	,iif(TotOptimaCreated=0,0,round(OnTime/TotOptimaCreated * 100.0,0)) OnTimePCT
--      	,iif(OnTime is null, null, iif(TotOptimaCreated=0,0,round(OnTime/TotOptimaCreated * 100,0))) OnTimePCT
      	,Late
      	,iif(TotOptimaCreated=0,0,round(Late / TotOptimaCreated * 100.0,0)) LatePCT
--      	,iif(Late is null, null, iif(TotOptimaCreated=0,0,round(Late / TotOptimaCreated * 100,0))) LatePCT      	
	FROM @Temp
	ORDER BY MonthInt
	
    SELECT
	    channel.ChannelDesc
	    ,count(pr.Id) TotOptimaCreated
	    ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(pr.PromoId, 0)<>0,1,0)) OnTime
	    ,100.0 * (sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) > @submission_day OR isnull(pr.PromoId, 0)<>0,1,0))) / count(pr.Id) OnTimePCT
	    ,sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) <= @submission_day AND isnull(pr.PromoId, 0)=0,1,0)) Late
	    ,100.0 * (sum(IIF(datediff(day,pr.CreateOn,pr.StartPromo) <= @submission_day AND isnull(pr.PromoId, 0)=0,1,0))) / count(pr.Id) LatePCT
        FROM #temp_promo pr with (nolock)
        inner join
        (
            select a.PromoId, string_agg(chn.LongDesc,' ,') ChannelDesc
                    from tbtrx_promo_channel a with (nolock)
                    INNER join tbmst_channel chn with (nolock) ON a.ChannelId=chn.Id
                    INNER JOIN #temp_promo pr with (nolock) ON pr.Id=a.PromoId
                WHERE IIF(@channel=0, 0, a.ChannelId)=IIF(@channel=0, 0, @channel)
                GROUP BY a.PromoId
        ) channel
        on pr.Id = channel.PromoId
		GROUP BY channel.ChannelDesc
		HAVING count(pr.Id) > 0
    /****************************/
    DROP TABLE IF EXISTS #temp_promo
    /****************************/

END
GO
