

/****** Object:  StoredProcedure [dbo].[ip_promo_creation_add_list]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_creation_add_list] 
	@profileid varchar(100)
AS
BEGIN

	SELECT DISTINCT Id distributorId, LongDesc distributorDesc, ShortDesc distributorShortDesc FROM tbmst_distributor WHERE ISNULL(IsDeleteD,0)=0 ORDER BY LongDesc

	SELECT DISTINCT entityId, entityDesc, entityShortDesc FROM vw_sku_active ORDER BY entityDesc
	SELECT DISTINCT entityId, entityDesc, entityShortDesc, groupBrandId, groupBrandDesc FROM vw_sku_active ORDER BY entityDesc, groupBrandDesc
	SELECT DISTINCT entityId, entityDesc, entityShortDesc, groupBrandId, groupBrandDesc, brandId, brandDesc, skuId, skuDesc FROM vw_sku_active ORDER BY entityDesc, groupBrandDesc, skuDesc

	SELECT DISTINCT categoryid, categorydesc FROM vw_activity_active ORDER BY CategoryDesc
	SELECT DISTINCT categoryid, categorydesc, subcategoryid, subcategorydesc FROM vw_activity_active ORDER BY CategoryDesc, SubCategoryDesc
	SELECT DISTINCT CategoryId, CategoryDesc, SubCategoryId, SubCategoryDesc, ActivityId, ActivityDesc FROM vw_activity_active ORDER BY CategoryDesc, SubCategoryDesc, ActivityDesc
	SELECT DISTINCT CategoryId, CategoryDesc, SubCategoryId, SubCategoryDesc, ActivityId, ActivityDesc, vaa.SubActivityId, SubActivityDesc, SubActivityTypeId, SubActivityTypeDesc 
		, ISNULL(tma.id, 0) mainActivityId, ISNULL(tma.longDesc, '---') mainActivityDesc
		FROM vw_activity_active vaa
		LEFT JOIN tbmst_main_activity_dtl tmad ON vaa.SubActivityId = tmad.subactivityid
		LEFT JOIN tbmst_main_activity tma ON tmad.mainactivityid = tma.id
	ORDER BY CategoryDesc, SubCategoryDesc, ActivityDesc, SubActivityDesc

	SELECT DISTINCT a.ChannelId, a.ChannelDesc FROM vw_account a
		INNER JOIN tbset_user_subaccount b on a.SubAccountId=b.SubAccountId AND b.UserId=@profileid
		ORDER BY a.ChannelDesc
	SELECT DISTINCT a.ChannelId, a.ChannelDesc, a.SubChannelId, a.SubChannelDesc FROM vw_account a
		INNER JOIN tbset_user_subaccount b on a.SubAccountId=b.SubAccountId AND b.UserId=@profileid
		ORDER BY a.ChannelDesc, a.SubChannelDesc
	SELECT DISTINCT a.ChannelId, a.ChannelDesc, a.SubChannelId, a.SubChannelDesc, a.AccountId, a.AccountDesc FROM vw_account a
		INNER JOIN tbset_user_subaccount b on a.SubAccountId=b.SubAccountId AND b.UserId=@profileid
		ORDER BY a.ChannelDesc, a.SubChannelDesc, a.AccountDesc
	SELECT DISTINCT a.ChannelId, a.ChannelDesc, a.SubChannelId, a.SubChannelDesc, a.AccountId, a.AccountDesc, a.SubAccountId, a.SubAccountDesc FROM vw_account a
		INNER JOIN tbset_user_subaccount b on a.SubAccountId=b.SubAccountId AND b.UserId=@profileid
		ORDER BY a.ChannelDesc, a.SubChannelDesc, a.AccountDesc, a.SubAccountDesc 

	SELECT DISTINCT Id regionId, LongDesc regionDesc FROM tbmst_region WHERE ISNULL(IsDelete,0)=0 ORDER BY LongDesc

	--SELECT 
	--	c.subActivityid, d.subActivityDesc,  a.id mainActivityId, a.longDesc mainActivityDesc
	--	, b.baseline, b.totalSales, b.uplift, b.salesContribution, b.storesCoverage, b.redemptionRate, b.cr, b.cost 
	--	, b.baselineRecon, b.totalSalesRecon, b.upLiftRecon, b.salesContributionRecon, b.storesCoverageRecon, b.redemptionRateRecon, b.crRecon, b.costRecon 
	--	FROM tbmst_main_activity a
	--	INNER JOIN tbset_config_promo_calculator b ON a.id=b.mainActivityId
	--	INNER JOIN tbmst_main_activity_dtl c ON b.mainActivityId = c.mainactivityid
	--	INNER JOIN vw_activity_active d ON c.subactivityid = d.subactivityid

	SELECT DISTINCT
		c.subActivityid, d.subActivityDesc,  a.id mainActivityId, a.longDesc mainActivityDesc, b.channelId, va.channelDesc
		, b.baseline, b.totalSales, b.uplift, b.salesContribution, b.storesCoverage, b.redemptionRate, b.cr, b.cost 
		, b.baselineRecon, b.totalSalesRecon, b.upLiftRecon, b.salesContributionRecon, b.storesCoverageRecon, b.redemptionRateRecon, b.crRecon, b.costRecon 
		FROM tbmst_main_activity a
		INNER JOIN tbset_config_promo_calculator b ON a.id=b.mainActivityId
		INNER JOIN tbmst_main_activity_dtl c ON b.mainActivityId = c.mainactivityid
		INNER JOIN vw_activity_active d ON c.subactivityid = d.subactivityid
		INNER JOIN vw_account va on b.channelId = va.ChannelId
		INNER JOIN tbset_user_subaccount e on va.SubAccountId=e.SubAccountId AND e.UserId= @profileid

END
GO
