USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_user_subaccount_list_dl]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_user_subaccount_list_dl]
as
BEGIN

	select 
		Id, UserId
		, channelid, channel, subchannelid, subchannel, accountid, account, SubAccountId, SubAccount
		, IsActive, CreateOn, CreateBy, CreatedEmail
		, IsDeleted, DeletedOn, DeleteBy, DeleteEmail
	from (
			SELECT        
				usa.Id, usa.UserId
				,tc.id channelid, tc.LongDesc channel, ts.id subchannelid, ts.LongDesc subchannel, ta.id accountid, ta.LongDesc account, usa.SubAccountId, sa.LongDesc SubAccount
				,usa.IsActive, usa.CreateOn, usa.CreateBy, usa.CreatedEmail
				,0 IsDeleted, NULL DeletedOn, NULL DeleteBy, NULL DeleteEmail
			FROM            
				tbset_user_subaccount usa 
				INNER JOIN tbmst_subaccount sa ON usa.SubAccountId = sa.Id 
				INNER JOIN tbmst_account ta on sa.AccountId = ta.Id
				INNER JOIN tbmst_subchannel ts on ta.SubChannelId=ts.id
				INNER JOIN tbmst_channel tc on ts.ChannelId=tc.id
		UNION ALL
			SELECT        
				usa.Id, usa.UserId
				,tc.id channelid, tc.LongDesc channel, ts.id subchannelid, ts.LongDesc subchannel, ta.id accountid, ta.LongDesc account, usa.SubAccountId, sa.LongDesc SubAccount
				,usa.IsActive, usa.CreateOn, usa.CreateBy, usa.CreatedEmail
				,usa.IsDeleted, usa.DeletedOn, usa.DeletedBy, usa.DeleteEmail
			FROM            
				tbhis_user_subaccount usa 
				INNER JOIN tbmst_subaccount sa ON usa.SubAccountId = sa.Id 
				INNER JOIN tbmst_account ta on sa.AccountId = ta.Id
				INNER JOIN tbmst_subchannel ts on ta.SubChannelId=ts.id
				INNER JOIN tbmst_channel tc on ts.ChannelId=tc.id
		)dl
END

GO
