USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_cancel]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_debetnote_cancel]
@dnid int,
@reason varchar(255),
@userid varchar(255)
as
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

begin try
begin transaction
	declare
	@dpp numeric(19,0),
	@laststatuslog varchar(50),
	@promoid int
	,@messageout varchar(255)

	set @reason = left(@reason,255)
	declare @createdemail varchar(50)
	SELECT @createdemail=email from tbset_user where id=@userid
	
	SELECT @dpp=dpp from dbo.tbtrx_debetnote where id=@dnid

    IF EXISTS(
    	SELECT td.id, tih.RefId
    	, tg.OriginalId
    	, tg1.OriginalId  
    	FROM tbtrx_debetnote td
    		INNER JOIN tbtrx_invoice_detail tid ON td.id=tid.dnid
    		INNER JOIN tbtrx_invoice_header tih ON tid.parentid = tih.id
    		LEFT JOIN tbxml_generate tg ON td.RefId=tg.OriginalId 
    		LEFT JOIN tbxml_generate tg1 ON tih.RefId = tg1.OriginalId 
		WHERE (tg.OriginalId IS NOT NULL OR tg1.OriginalId IS NOT NULL)
			AND td.id = @dnid
    		
    )
    BEGIN
        SET @messageout='DN is existing in XML Generate'
            RAISERROR (@messageout, -- Message text.
            16, -- Severity.
            1 -- State.
        );
    END
	
	UPDATE tbtrx_debetnote 
	SET IsCancel=1,
	LastStatus='cancelled_by_dist',
	CancelOn=@utcDate123,
	CancelBy=@userid 
	where id=@dnid
	

	INSERT INTO tbtrx_debetnote_status_log(DNId,DnStatus,CreateBy,CreateOn, DPP, laststatus, createdemail, Notes)
	VALUES(@dnid,'cancelled_by_dist',@userid,@utcDate123,@dpp, 'cancelled_by_dist', @createdemail,@reason)

	set @promoid=(select promoid from tbtrx_debetnote where id=@dnid)
	if isnull(@promoid,0)>0
	begin
	exec [ip_dn_overbudget_by_prommoid] @promoid
	end

	SELECT Id ,RefId from tbtrx_debetnote where id=@dnid

COMMIT
END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
             @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
END CATCH








GO
