USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_data_display_DC]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_data_display_DC] --9,''
	@Id				INT
	, @profile VARCHAR(50) = ''
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE @Id INT
--	, @profile VARCHAR(50) = ''
--SET @Id=50140
------SET @profile = 'claimplb'
--SET @profile = 'busdev1'

--EXEC ip_promo_data_display_DC @id

DECLARE 
	@period int
	, @categoryid int
	, @subcategoryid int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @distributorId int
	, @groupbrandid int
	, @subactivitytypeid int
	, @activityid int
	, @subactivityid int
	, @remainingbudget float
	, @userDistributor INT

/* Cek user distributor */
SELECT @userDistributor = IIF(ISNULL(sug.usergroupid, '') = '', 0, 1) 
FROM tbset_user su
LEFT JOIN tbset_usergroup sug ON su.usergroupid = sug.usergroupid AND sug.usergroupname like '%distributor%'
WHERE su.id = @profile

SELECT
	@period=a.period
	,@categoryid=a.categoryid
	,@subcategoryid=a.subcategoryid
	,@channelid=b.channelid
	,@subchannelid=0
	,@accountid=0
	,@subaccountid=0
	,@distributorId=a.distributorId
	,@groupbrandid=a.groupbrandid
	,@subactivitytypeid=g.subactivitytypeid
	,@activityid=a.activityid
	,@subactivityid=a.subactivityid
from tbtrx_promo a
			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
			--INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
			--INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
			--INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
			INNER join vw_activity_active g on a.SubActivityId=g.SubActivityId
where a.id=@Id

declare @spPromoBudgetGet as table (
	period int
	, categoryid int 
	, CategoryDesc varchar(255)
	, subcategoryid int 
	, SubCategoryDesc varchar(255)
	, channelid int 
	, ChannelDesc varchar(255)
	, subchannelid int 
	, SubChannelDesc varchar(255)
	, accountid int 
	, AccountDesc varchar(255)
	, subaccountid int 
	, SubAccountDesc varchar(255)
	, distributorId int 
	, Distributor varchar(255)
	, groupbrandid int 
	, Brand varchar(255)
	, activityid int 
	, ActivityDesc varchar(255)
	, budgetname varchar(255)
	, budgetamount float
	, TotCost float
	, RemainingBudget float
	, subactivityid int 
	--, subactivityDesc varchar(255)
	)

BEGIN TRY  
	insert into @spPromoBudgetGet (period,categoryid,CategoryDesc,subcategoryid,SubCategoryDesc,channelid,ChannelDesc,subchannelid,SubChannelDesc,accountid,AccountDesc,subaccountid,SubAccountDesc,distributorId,Distributor,groupbrandid,Brand,activityid,ActivityDesc,budgetname,budgetamount,TotCost,RemainingBudget,subactivityid)
	EXEC ip_promo_budget_get
		@period
		,@categoryid
		,@subcategoryid
		,@channelid
		,@subchannelid
		,@accountid
		,@subaccountid
		,@distributorId
		,@groupbrandid
		,@subactivitytypeid
		,@activityid
		,@subactivityid
END TRY  
BEGIN CATCH  
    
END CATCH;  

select @remainingbudget = ISNULL(RemainingBudget,0) from @spPromoBudgetGet


BEGIN

/*************************
Category selection
***************************/
DECLARE @category as varchar(5)
SET @category = (SELECT ShortDesc FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) 
		/*******************************/
			SELECT
				pr.refId
				,pr.id
				,pr.period
				,pr.distributorId
				,d.LongDesc distributorLongDesc
				,d.ShortDesc distributorSortDesc
				,pr.entityId
				,p.LongDesc entityLongDesc
				,p.ShortDesc entityShortDesc
				,pr.groupBrandId
				,mbg.LongDesc groupBrandLongDesc
				,pr.categoryId
				,ctg.LongDesc categoryLongDesc
				,ctg.ShortDesc categoryShortDesc
				,pr.subCategoryId
				,vwa.SubCategoryDesc subCategoryLongDesc
				,pr.activityId
				,vwa.ActivityDesc as activityLongDesc
				,pr.subActivityId
				,ts.LongDesc as subActivityLongDesc

				,prc.channelId, prc.channelDesc
				,0 subChannelId, '---' subChannelDesc
				,0 accountId, '---' accountDesc
				,0 subAccountId, '---' subAccountDesc
				
				,IIF(isnull(pr.period, '') < 2025,'---', mechanism.mechanism) activityDesc
				,pr.startPromo
				,pr.endPromo
				,pr.budgetMasterId 
				, dbo.getBudgetName(pr.allocationid) budgetName

				, IIF(@userDistributor = 1, 0, isnull(@remainingbudget, 0)) remainingBudget
				, IIF(@userDistributor = 1, 0, pc.baseline) baseline
				, IIF(@userDistributor = 1, 0, pc.upLift) uplift
				, IIF(@userDistributor = 1, 0, pc.totalSales) totalSales
				, IIF(@userDistributor = 1, 0, pc.salesContribution) salesContribution
				, IIF(@userDistributor = 1, 0, pc.storesCoverage) storesCoverage
				, IIF(@userDistributor = 1, 0, pc.redemptionRate) redemptionRate
				, IIF(@userDistributor = 1, 0, CONVERT(DECIMAL(20, 2), pc.cr)) cr
				, IIF(@userDistributor = 1, 0, pc.cost) cost

				,pr.notes
				,pr.approvalNotes
				,pr.isClose
				,pr.initiator_notes
				,pr.investmentTypeId 
				,tit.refId investmentTypeRefId
				,tit.LongDesc investmentTypeDesc
				,pr.late_submission_day
				,pr.investment investmentBfrClose --issue #839
				,pr.lastStatus
				,pr.statusApprovalCode
				,pr.statusApproval
				,pr.isLocked
				,pr.createOn
				,pr.createBy
				,pr.createdEmail
				,pr.modifiedOn
				,pr.modifiedBy
				,pr.modifiedEmail
				,pr.modifReason
				,pr.IsDelete
				,pr.deleteOn
				,pr.deleteBy
				,pr.deleteEmail
				,isnull(pr.isCancel, 0) isCancel
				,pr.cancelOn
				,pr.cancelBy
				,pr.cancelByEmail
				,pr.isCancelLocked
				,isnull(pr.IsClose, 0) isClose
				,pr.closeOn
				,pr.closeBy
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendBackNotes
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendBackNotesDate
				,ISNULL(pmim.inputMethod,0) mechanismInputMethod

				/*-- history prev promo calculator --*/
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.baseline, 0)) baselineBfr
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.uplift, 0)) upliftBfr
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.totalsales, 0)) totalSalesBfr
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.salescontribution, 0)) salesContibutionBfr
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.storescoverage, 0)) storesCoverageBfr
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.redemptionrate, 0)) redemptionRateBfr
				, IIF(@userDistributor = 1, 0, CONVERT(DECIMAL(20, 2), isnull(pr_calc_bfr.cr, 0))) crBfr
				, IIF(@userDistributor = 1, 0, isnull(pr_calc_bfr.cost, 0)) costBfr
				, ISNULL(cr.cancelReason,'') cancelReason
				/*-- history prev promo calculator --*/
				,tst.Id subActivityTypeId
				,tst.LongDesc subActivityType
			FROM tbtrx_promo pr	
			INNER JOIN tbtrx_promo_calculator pc on pr.Id=pc.PromoId and pr.Id=@Id
			INNER JOIN vw_activity vwa  on pr.SubActivityId = vwa.SubActivityId 
			--INNER JOIN tbmst_activity ta  on pr.ActivityId = ta.Id and pr.Id=@Id
			INNER JOIN tbmst_subactivity ts  on vwa.SubActivityId = ts.id
			INNER JOIN tbmst_subactivity_type tst  on ts.SubActivityTypeId = tst.id
			inner join tbmst_distributor d  on pr.DistributorId=d.Id
			inner join tbmst_principal p  on pr.EntityId=p.Id
			inner join tbset_user ucreateby ON pr.createby = ucreateby.id 
			inner join tbmst_category ctg  on ctg.Id=vwa.CategoryId 
			--inner join tbmst_subcategory sctg  on pr.SubCategoryId = sctg.id 
			INNER JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
			INNER JOIN (
				SELECT a.promoId, a.channelId, b.LongDesc channelDesc
					FROM tbtrx_promo_channel a
					INNER JOIN tbmst_channel b on a.ChannelId=b.Id AND PromoId=@Id
				)prc ON pr.Id=prc.promoid
			INNER JOIN
			(
				SELECT PromoId, STRING_AGG(concat(a.mechanism, ' ', a.notes),'; ') mechanism
							FROM tbtrx_promo_mechanism a WITH (NOLOCK)
					GROUP BY a.PromoId
			) mechanism ON pr.Id = mechanism.PromoId   		
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
			LEFT JOIN tbset_promo_mechanism_input_method pmim ON pr.SubActivityId = pmim.subactivityid
			/******************************************
			history prev promo calculator
			*******************************************/
			left join (
				select id, min(parentid) parentid
				from tbhis_promo
				where isnull(reconciled, 0) = 1
				group by id
			) his on pr.id = his.id
			left join tbhis_promo_calculator pr_calc_bfr on his.parentid = pr_calc_bfr.parentid AND his.Id = pr_calc_bfr.PromoId
			left join tbtrx_promo_cancel_request cr WITH(NOLOCK) on pr.Id=cr.PromoId and isnull(cr.IsCancel,0)=0
			/*****************************************************************************************************/

				/*****************
				REGION
				*****************/
				SELECT 0 regionId, '' regionDesc

				/*****************
				SKU
				*****************/
				SELECT 0 skuId, '' skuDesc


				/*****************
				File attach
				*****************/
				SELECT promoId, [fileName], docLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId =@Id order by DocLink

				/***************
				MASTER STATUS APPROVAL
				***************/
				SELECT statusCode,statusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
				/***************
				MECHANISM
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					, IIF(@userDistributor = 1, 0, baseline) baseline
					, IIF(@userDistributor = 1, 0, uplift) uplift 
					, IIF(@userDistributor = 1, 0, totalSales) totalSales 
					, IIF(@userDistributor = 1, 0, salesContribution) salesContribution 
					, IIF(@userDistributor = 1, 0, storesCoverage) storeCoverage 
					, IIF(@userDistributor = 1, 0, redemptionRate) redemptionRate
					, IIF(@userDistributor = 1, 0, CONVERT(DECIMAL(20, 2), cr)) cr 
					, IIF(@userDistributor = 1, 0, cost) cost
					FROM [dbo].tbtrx_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id
					WHERE promoid =@Id

				/**************
				mas approval
				***************/
				DECLARE @SEQAPP AS TABLE (
					seq INT, seqPromo INT, approvedOn DATETIME, approvedBy VARCHAR(100), approvedEmail VARCHAR(100), approvalType varchar(30)
				)

				INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				SELECT DISTINCT 1, 0, Approved1On, CONCAT(Approved1By,' - ',ul.username) Approved1By, Approved1Email, 'mass approval' from tbtrx_promo_budget_status PRBS
					INNER JOIN tbset_user_login ul ON PRBS.Approved1Email=ul.email
					WHERE Approved1By IS NOT NULL
					AND PromoId = @Id

				INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				SELECT DISTINCT 2, 0, Approved2On, CONCAT(Approved2By,' - ',ul.username) Approved2By, Approved2Email, 'mass approval' from tbtrx_promo_budget_status PRBS
					INNER JOIN tbset_user_login ul ON PRBS.Approved2Email=ul.email
					WHERE Approved2By IS NOT NULL
					AND PromoId = @Id

				INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				SELECT DISTINCT 3, 0, Approved3On, CONCAT(Approved3By,' - ',ul.username) Approved3By, Approved3Email, 'mass approval' from tbtrx_promo_budget_status PRBS
					INNER JOIN tbset_user_login ul ON PRBS.Approved3Email=ul.email
					WHERE Approved3By IS NOT NULL
					AND PromoId = @Id

				INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				SELECT DISTINCT 4, 0, Approved4On, CONCAT(Approved4By,' - ',ul.username) Approved4By, Approved4Email, 'mass approval' from tbtrx_promo_budget_status PRBS
					INNER JOIN tbset_user_login ul ON PRBS.Approved4Email=ul.email
					WHERE Approved4By IS NOT NULL
					AND PromoId = @Id

				INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				SELECT DISTINCT 5, 0, Approved5On, CONCAT(Approved5By,' - ',ul.username) Approved5By, Approved5Email, 'mass approval' from tbtrx_promo_budget_status PRBS
					INNER JOIN tbset_user_login ul ON PRBS.Approved5Email=ul.email
					WHERE Approved5By IS NOT NULL
					AND PromoId = @Id

				--INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				--SELECT DISTINCT 6, 0, DeployedOn, DeployedBy, DeployedEmail, 'budget deployed' from tbtrx_promo_budget_status PRBS
				--	WHERE DeployedBy IS NOT NULL
				--	AND PromoId = @Id

				--INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				--SELECT DISTINCT 6, 0, DeployedOn, 'SFBP' DeployedBy, DeployedEmail, 'budget deployed' from tbtrx_promo_budget_status PRBS
				--	WHERE DeployedBy IS NULL
				--	AND PromoId = @Id

				INSERT INTO @SEQAPP (seq, seqPromo, approvedOn, approvedBy, approvedEmail, approvalType) 
				SELECT 7, tpa.Sequence, tpa.ActionDate, CONCAT(tpa.UserApprover,' - ',ul.username), tpa.UserApproverEmail, 'promoid approval'
					FROM tbtrx_promo_request_approval tpra
					INNER JOIN tbtrx_promo_approval tpa ON tpra.id = tpa.requestid
					INNER JOIN tbset_user_login ul ON tpa.UserApproverEmail=ul.email
					WHERE ISNULL(tpra.iscancel, 0) = 0 
					AND tpa.Status = 'TP2'
					AND tpra.ParentId = @Id


				SELECT approvedBy title
					, IIF(approvalType = 'mass approval', IIF(approvedOn IS NULL, '', FORMAT(approvedOn, 'dd MMM yyyy')), '') masApproval
					--, IIF(approvalType = 'budget deployed', IIF(approvedOn IS NULL, '', FORMAT(approvedOn, 'dd MMM yyyy')), '') budgetDeployed
					, IIF(approvalType = 'promoid approval', IIF(approvedOn IS NULL, '', FORMAT(approvedOn, 'dd MMM yyyy')), '') promoIdApproval
				FROM @SEQAPP
				ORDER BY seq, seqPromo

			-- GET DN CLAIM
			-- MARCH 27 AND

			SELECT ISNULL(b.TotalClaim, 0) totalClaim, ISNULL(b.TotalPaid, 0) totalPaid
			FROM tbtrx_promo pr
			LEFT JOIN (
				SELECT 		
					a.PromoId, SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) as TotalClaim
					, SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) as TotalPaid
				FROM tbtrx_debetnote a			
				where 
					a.PromoId=@Id and
					isnull(a.IsCancel, 0) = 0
					AND isnull(a.IsDNPromo,0)=1
				GROUP BY a.PromoId
			) b ON pr.id = b.promoid
			WHERE pr.id=@Id

/*Promo Calculator Recon*/
			SELECT promoId
				, IIF(@userDistributor = 1, 0, ISNULL(baseline, 0)) baseline
				, IIF(@userDistributor = 1, 0, ISNULL(totalSales, 0)) totalSales
				, IIF(@userDistributor = 1, 0, ISNULL(uplift, 0)) uplift
				, CONVERT(FLOAT, IIF(@userDistributor = 1, 0, isnull(salesContribution, 0)) ) salesContribution
				, CONVERT(FLOAT, IIF(@userDistributor = 1, 0, isnull(storesCoverage, 0)) ) storesCoverage
				, CONVERT(FLOAT, IIF(@userDistributor = 1, 0, isnull(redemptionRate, 0)) ) redemptionRate
				, CONVERT(FLOAT, IIF(@userDistributor = 1, 0, isnull(cr, 0)) ) cr
				, CONVERT(FLOAT, IIF(@userDistributor = 1, 0, isnull(roi, 0)) ) roi
				, IIF(@userDistributor = 1, 0, ISNULL(cost, 0)) cost
			FROM tbtrx_promo_calculator_recon
			WHERE promoid = @Id

END

GO
