

/****** Object:  StoredProcedure [dbo].[ip_promo_list_sendback_recon]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_promo_list_sendback_recon] --'2020',0,0,0,0,'0'
	 @periode varchar(4)
	,@entity int
	,@distributor int
	,@budgetparent int
	,@channel int
	,@userid varchar(50)
	,@category int = NULL
AS

--DECLARE 
-- @periode varchar(4)
--,@entity int
--,@distributor int
--,@budgetparent int
--,@channel int
--,@userid varchar(50)
--,@category int

--SET @periode ='2023'
--SET @entity = 0
--SET @distributor =0
--SET @budgetparent=0
--SET @channel = 0
--SET @userid= 'kamsat'
--SET @category = 0

BEGIN
	SET @category = ISNULL(@category,0)
	DECLARE @Temp TABLE
		(
			  BudgetParent int, 
			  Levels int,
			  BudgetId int
			  --BudgetType varchar(3),
			  --BudgetName varchar(255),
			  --InitialBudgetAmount numeric(18,0),
			  --PromoCreated numeric(18,0),
			  --TotalSpending numeric(18,0),
			  --DnClaim numeric(18,0),
			  --DnPaid numeric(18,0),
			  --Available numeric(18,0)
		)
		;

	DECLARE 
		@p_alcid int
		, @product_name int
    
	DECLARE cursor_product CURSOR
		FOR SELECT 
			Id
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
		OPEN cursor_product;

		FETCH NEXT FROM cursor_product INTO 
			@product_name
		
		WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @p_alcid=@product_name;
		
				WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
				AS
					(
						SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) AS BDG_CHILD,1 AS Levels,CAST((Row_Number() Over (Order by @p_alcid) ) AS Varchar(MAx)) AS RowNumber
						UNION ALL
						SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) AS Varchar(MAx)) AS RowNumber from tbtrx_budgetassignment a 
							INNER JOIN tbtrx_budgetassignment_detail b  ON (a.Id=b.assignmentId)
							INNER JOIN tbtrx_allocation c ON b.Id=c.BudgetSourceId and c.BudgetType='BTR'
							INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
					)
						
			INSERT INTO @Temp
			SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
			option (maxrecursion 0);		 
					FETCH NEXT FROM cursor_product INTO 
						@product_name 
		END;
 
	CLOSE cursor_product; 
	DEALLOCATE cursor_product;

	SELECT DISTINCT 
		pr.Id [PromoId],
		pr.CreateOn [CreateOn]
		,ISNULL(pr.ModifiedOn,pr.CreateOn) [LastUpdate]
		,pr.RefId [PromoNumber]
		,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
		,pr.StartPromo
		,pr.EndPromo 
		,IIF(cat.ShortDesc='DC',0,pr.NormalSales + pr.IncrSales) [Target]	  
		,pr.Investment
		,CAST(pr.LastStatusRecon AS varchar) + ' ON ' + CAST(tpa.ActionDate AS varchar) LastStatus
		,pr.ApproveOnRecon ApproveOn
		,pr.ApprovalNotesRecon ApprovalNotes
		, ISNULL(mpps.allowedit, 0) allowedit  --isu #875
		,pr.CategoryId -- isu E2#38
		,pr.CategoryShortDesc
		FROM @temp a
		INNER JOIN tbtrx_promo pr ON a.BudgetId=pr.AllocationId
		INNER JOIN tbmst_category cat ON pr.CategoryId=cat.Id
		INNER JOIN tbtrx_allocation c ON a.BudgetId=c.Id 
		INNER JOIN tbtrx_budgetmaster m ON c.BudgetMasterId=m.Id
		LEFT JOIN tbmst_distributor d ON m.DistributorId=d.Id
		LEFT JOIN tbmst_principal p ON m.PrincipalId=p.Id
		LEFT JOIN tbtrx_allocation_channel chn ON c.Id=chn.AllocationId
		/* start ISU #875 */
		LEFT JOIN tbset_map_promorecon_period_subactivity mpps ON pr.subactivityid = mpps.subactivityid
		/* end ISU #875 */
		INNER JOIN tbtrx_allocation_useraccess usr ON usr.AllocationId=c.Id
		INNER JOIN tbset_user uo ON uo.Id=usr.UserId
		INNER JOIN tbset_user uf ON uf.Id=usr.UserId
		LEFT JOIN vw_activity sctg ON pr.SubCategoryId=sctg.SubCategoryId
		LEFT JOIN vw_activity act ON pr.ActivityId=act.ActivityId
		LEFT JOIN vw_activity sact ON pr.SubActivityId=sact.SubActivityId
		LEFT JOIN
			(
				SELECT PromoId,
					STUFF
						(
							(
								SELECT ',' + chn.LongDesc 
									FROM tbtrx_promo_channel a
									join tbmst_channel chn ON a.ChannelId=chn.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')
							),1,1,''
						) AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel ON pr.Id = channel.PromoId	
		INNER JOIN tbtrx_promo_request_approval_recon tpra ON pr.id=tpra.ParentId 
		INNER JOIN tbtrx_promo_approval_recon tpa ON tpra.id=tpa.RequestId 
		LEFT JOIN tbtrx_promo_mechanism mec ON pr.Id=mec.PromoId and cat.ShortDesc='DC'
		WHERE m.Periode=@periode
			AND m.Periode<2025
			AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
			AND IIF(@category=0,'',pr.CategoryId) =IIF(@category=0,'',@category)
			AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
			AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
			AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
			AND pr.StatusApprovalRecon='SENDBACK'
			AND pr.StatusApprovalCode='TP2'
			AND ISNULL(pr.IsCancel,0)=0
			AND ISNULL(pr.IsClose,0)=0
			AND tpa.IsOnGoing = 1 
			AND ISNULL(tpra.IsCancel, 0)=0 	
		ORDER BY pr.CreateOn

END
GO
