USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_skp_validate_list]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_skp_validate_list] --'2020',0,0,'scsh1'
--DECLARE 
 @periode varchar(4)
,@entity int
,@distributor int
,@userid varchar(50)

--SET @periode ='2020'
--SET @entity = 0
--SET @distributor =0
--SET @userid='cmhyper'
AS
SELECT 	  
	  pr.Id PromoId
	  ,pr.RefId
	  ,pr.ActivityDesc
	  ,pr.StartPromo
	  ,pr.EndPromo	  
	  ,pr.CreateBy [Initiator] 
	  ,pr.CreateOn
	  ,pr.Investment
	  ,pr.NormalSales + pr.IncrSales TotalSales
	  ,pr.tscoding
	FROM tbtrx_promo pr 
	INNER JOIN tbtrx_allocation alc on pr.AllocationId =alc.Id 
	INNER JOIN tbtrx_budgetmaster m on alc.BudgetMasterId=m.Id
WHERE alc.Periode ='2020' 
AND pr.StatusApprovalCode = 'TP2' AND isnull(pr.IsCancel,0)=0 AND isnull(pr.IsCancelLocked,0)=0
AND IIF(@entity=0, '', m.PrincipalId) =IIF(@entity=0, '', @entity)
AND IIF(@distributor=0, '', m.DistributorId) =IIF(@distributor=0, '', @distributor)
AND IIF(@userid='0', '', pr.Approver) =IIF(@userid='0', '', @userid)

GO
