USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_update]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ip_matrix_approval_update]
@id int
,@entityid int
,@distributorid int
,@subactivitytypeid int
,@channelid int
,@subchannelid int
,@initiator varchar(50)
,@mininvestment numeric(19,2)
,@maxinvestment numeric(19,2)
,@userid varchar(255)
,@useremail varchar(100)
,@categoryId int = NULL
,@matrix MatrixApproverType READONLY
AS

--DECLARE
--@id int
--,@entityid int
--,@distributorid int
--,@subactivitytypeid int
--,@channelid int
--,@subchannelid int
--,@initiator varchar(50)
--,@mininvestment numeric(19,2)
--,@maxinvestment numeric(19,2)
--,@userid varchar(255)
--,@useremail varchar(100)
--,@categoryId int = NULL
--,@matrix MatrixApproverType 

--SET @id					=6171
--SET @entityid			=3
--SET @distributorid		=3
--SET @subactivitytypeid	=16
--SET @channelid			=6
--SET @subchannelid		=0
--SET @initiator			='acem-gt'
--SET @mininvestment		=50000000000
--SET @maxinvestment		=999999999999999
--SET @userid				='xvamain'
--SET @useremail			='lukman@xvautomation.com'
--SET @categoryId			=22

--insert into @matrix (SeqApproval, Approver) values 
--	(1, 'ncem'),
--	(2, 'hopc'),
--	(3, 'ccdhsh'),
--	(4, 'sd'),
--	(5, 'fd')

DECLARE @utcDate123 DATETIME,
@periode varchar(4)
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN 
	SET @periode=''
	SET @categoryId = (SELECT IIF(@categoryId is NULL, categoryid, @categoryId) from tbset_matrix_promo_approval where Id=@id)

	DECLARE
		@rowcount int,
		@rowcounthis int,
		@p_reqid int,
		@messageout varchar(255)

		
	--TRUNCATE TABLE mytmp
	--INSERT INTO mytmp(f1) values(@id)
	--INSERT INTO mytmp(f1,f2,f3,f4,f5,f6,f7,f8,f9) values(@periode,@entityid, @distributorid, @subactivitytypeid, @channelid, @subchannelid, @initiator, @mininvestment, @maxinvestment)	
	IF EXISTS (
		SELECT Id FROM tbset_matrix_promo_approval
		WHERE Periode=@periode
		AND PrincipalId=@entityid
		AND DistributorId=@distributorid
		AND SubActivityType=@subactivitytypeid
		AND ChannelId=@channelid
		AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@subchannelid)
		AND [Initiator]=@initiator
		AND MinInvestment = @mininvestment
		AND MaxInvestment = @maxinvestment
		AND id <> @id
		)
		BEGIN 
			SET @messageout='Matrix Approval is exist'
			 RAISERROR (@messageout, -- Message text.
				   16, -- Severity.
				   1 -- State.
				   );
			RETURN;
		END
	
	UPDATE tbset_matrix_promo_approval
		SET
			PrincipalId = @entityid
			,DistributorId = @distributorid
			,SubActivityType = @subactivitytypeid
			,ChannelId = @channelid
			,Initiator = @initiator
			,MinInvestment = @mininvestment
			,MaxInvestment = @maxinvestment
			,SubChannelId = @subchannelid
			,ModifiedOn = @utcDate123
			,ModifiedBy = @userid
			,ModifiedEmail = @useremail
			,CategoryId = @categoryId
	WHERE id = @id
	
	INSERT INTO tbhis_matrix_promo_approval (
		matrixid,
		Periode,
		RefId,
		PrincipalId,
		DistributorId,
		SubActivityType,
		ChannelId,
		SubChannelId,
		Initiator,
		MinInvestment,
		MaxInvestment,
		IsActive,
		ActionOn,
		ActionBy,
		ActionEmail,
		ActionStatus,
		CategoryId
		)
		SELECT 
			id
			,Periode
			,RefId
			,PrincipalId
			,DistributorId
			,SubActivityType
			,ChannelId
			,SubChannelId
			,Initiator
			,MinInvestment
			,MaxInvestment
			,IsActive
			,@utcDate123
			,@userid
			,@useremail
			,'updated'
			,CategoryId
		FROM tbset_matrix_promo_approval
		WHERE id = @id;
		--SET @rowcounthis=@@ROWCOUNT;
		SET @rowcounthis=SCOPE_IDENTITY();

	--INSERT INTO dbo.tbhis_matrix_promo_approver (
	--	ParentId
	--	,matrixid
	--	,SeqApproval
	--	,Approver
	--	,IsActive
	--	,ActionOn
	--	,ActionBy
	--	,ActionEmail
	--	,ActionStatus	
	--)
	--SELECT 
	--	@rowcounthis 
	--	,@id
	--	,SeqApproval
	--	,Approver
	--	,1
	--	,@utcDate123
	--	,@userid
	--	,@useremail
	--	,'deleted'
	--FROM @matrix;

	DELETE FROM tbset_matrix_promo_approver WHERE parentid = @id;
	INSERT INTO tbset_matrix_promo_approver (parentid, SeqApproval, Approver, IsActive)
	SELECT 
		@id 
		,SeqApproval
		,Approver
		,1
	FROM @matrix;
	
	INSERT INTO dbo.tbhis_matrix_promo_approver (
		ParentId
		,matrixid
		,SeqApproval
		,Approver
		,IsActive
		,ActionOn
		,ActionBy
		,ActionEmail
		,ActionStatus	
	)
	SELECT 
		@rowcounthis 
		,@id
		,SeqApproval
		,Approver
		,1
		,@utcDate123
		,@userid
		,@useremail
		,'inserted'
	FROM @matrix;

	-- Add to approval process, and return process id
	declare @processId int;

	INSERT INTO tbset_matrix_approval_process ([Date] ,[IsFinished] ,[UserProfile] ,[UserEmail])
	VALUES (@utcDate123, 0, @userid,@useremail);

	SET @processId = (SELECT SCOPE_IDENTITY());

	INSERT INTO tbset_matrix_approval_process_detail(ProcessId, MatrixPromoApprovalId) 
	VALUES (@processId, @id);

	-- sent matrixid to API
	SELECT @id matrixid;
	
HELL:
END
GO
