USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_budget_adjustment]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_import_budget_adjustment]
@Derivative ImportDerivativeType READONLY,
@userid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN TRY

declare @messageout varchar(max)



delete from TempImportDerivativeType
INSERT INTO TempImportDerivativeType
SELECT * FROM @Derivative

/************************************************/


declare @recalc_id int
DECLARE cur_recalc_id CURSOR
FOR 
	SELECT b.id FROM @Derivative a
		inner join tbtrx_allocation b on a.AssignDesc=b.LongDesc;
 
OPEN cur_recalc_id;
 
FETCH NEXT FROM cur_recalc_id INTO 
    @recalc_id; 
     
WHILE @@FETCH_STATUS = 0
    BEGIN
		
		exec ip_recalculate_budget_balance @recalc_id
        
        FETCH NEXT FROM cur_recalc_id INTO 
            @recalc_id; 
    END;
 
CLOSE cur_recalc_id;
 
DEALLOCATE cur_recalc_id;
/************************************************/

BEGIN TRANSACTION



declare @rowcount int

declare @errtemp as table
(
	budget varchar(255),
	[status] varchar(255)
)




insert into @errtemp
SELECT BudgetParent,'Total detail <> Budget Parent' as [status]
FROM
(
SELECT BudgetParent,TotalAssignmentAmount,SUM(AssignAmount) AssignDetail  
FROM @Derivative
GROUP BY BudgetParent,TotalAssignmentAmount
) X WHERE TotalAssignmentAmount <> AssignDetail



DECLARE 
    @budgetname VARCHAR(MAX)

declare 
			@usedamount numeric(19,0)
			,@newamount numeric(19,0)
			,@currentamount numeric(19,0)

			,@detailnewamount numeric(19,0)
			,@detailcurrentamount numeric(19,0)
			

DECLARE 
    @BudgetParent VARCHAR(255), 
    @TotalAssignmentAmount   numeric(18,0),
	@AssignTo varchar(255),
	@AssignDesc varchar(255),
	@AssignAmount numeric(18,0),
	@SubCategory varchar(255),
	@Activity varchar(255),
	@SubActivity varchar(255),
	@Approval varchar(255);

DECLARE
	@assignmentid int,
	@assignmentdetailid int,
	@allocationid int,
	@BudgetParentId int,
	@subcategoryid int,
	@remainingbudget numeric(19,0),
	@useamount numeric(19,0),
	@spendingpromo numeric(19,0) 



	declare @temp as TABLE
	(
		alloc_detail_id int,
		alloc_detail_amt money,
		alloc_id int,
		alloc_amount money,
		budget_assignment_detail_id int,
		budget_assignment_detail_amt money,
		data_baru_child_amt money,
		assignment_id int,
		bal_child_initial money,
		data_baru_init_child money,
		bal_child_use money,
		budget_assignment_amt money,
		allocation_parent_id int,
		alloc_parent_amt money,
		data_baru_parent_amt money,
		bal_parent_initial money,
		data_baru_init_parent money,
		data_baru_use_parent money,
		bal_parent_use money,
		budget_master_id int,
		budget_master_amt money
	);


	

/**********************
PROSES DERIVATIVE BUDGET
**********************/ 

DECLARE cursor_product CURSOR
FOR SELECT 
        BudgetParent 
        ,TotalAssignmentAmount
		,AssignTo
		,AssignDesc
		,AssignAmount
		,SubCategory
		,Activity
		,SubActivity
		,Approval
    FROM 
        @Derivative 
	LEFT JOIN @errtemp  on BudgetParent=budget
	WHERE budget is null;
 
OPEN cursor_product;
 
FETCH NEXT FROM cursor_product INTO 
    @BudgetParent, 
    @TotalAssignmentAmount,
	@AssignTo,
	@AssignDesc,
	@AssignAmount,
	@SubCategory,
	@Activity,
	@SubActivity,
	@Approval;
 
WHILE @@FETCH_STATUS = 0
    BEGIN
 
    DELETE FROM @temp

	--IF NOT EXISTS(SELECT Id from tbtrx_allocation where LongDesc=@BudgetParent)
	--begin
	--	INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Parent Not Found !')
	--end


	SET @spendingpromo=
	(
		SELECT SUM(Investment) 
		FROM tbtrx_promo a WITH (NOLOCK)
		inner join tbtrx_allocation b WITH (NOLOCK) ON a. AllocationId=b.Id
		where isnull(a.IsCancel,0)=0  and isnull(a.IsClose, 0)=0 and b.LongDesc=@AssignDesc
	)
	/*********************/


	if @AssignAmount < @spendingpromo 
	begin
		INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Amount must be greater than spending promo !')
	end
	else
	begin


	WITH CTE AS
	(
	SELECT 
	alloc_detail.AllocationId alloc_detail_id
	,alloc_detail.BudgetAmount alloc_detail_amt
	,alloc.Id alloc_id
	,alloc.BudgetAmount alloc_amount
	,assignment_detail.Id budget_assignment_detail_id
	,assignment_detail.BudgetAmount budget_assignment_detail_amt
	,databaru.AssignAmount data_baru_child_amt
	,assignment.Id assignment_id
	,balance_child.InitialAmount bal_child_initial
	,balance_child.InitialAmount - (balance_child.InitialAmount-databaru.AssignAmount) data_baru_init_child
	,balance_child.UseAmount bal_child_use
	,assignment.BudgetAmount budget_assignment_amt
	,alloc_parent.Id allocation_parent_id
	,alloc_parent.BudgetAmount alloc_parent_amt
	,databaru.TotalAssignmentAmount data_baru_parent_amt
	,balance_parent.InitialAmount bal_parent_initial
	,balance_parent.InitialAmount - (balance_parent.InitialAmount-databaru.TotalAssignmentAmount) data_baru_init_parent
	,balance_parent.UseAmount - (balance_parent.UseAmount-databaru.AssignAmount) data_baru_use_parent
	,balance_parent.UseAmount bal_parent_use
	,budget_master.Id budget_master_id
	,budget_master.BudgetAmount budget_master_amt
	FROM tbtrx_allocation_detail alloc_detail 
	INNER JOIN tbtrx_allocation alloc ON alloc_detail.AllocationId=alloc.Id
	INNER JOIN tbtrx_allocation_balance balance_child ON balance_child.AllocationId=alloc.Id
	INNER JOIN tbtrx_budgetassignment_detail assignment_detail ON alloc.BudgetSourceId=assignment_detail.Id
	INNER JOIN tbtrx_budgetassignment assignment ON assignment_detail.AssignmentId=assignment.Id
	INNER JOIN tbtrx_allocation alloc_parent ON alloc_parent.Id=assignment.AllocationId
	INNER JOIN tbtrx_allocation_balance balance_parent ON balance_parent.AllocationId=alloc_parent.Id
	LEFT JOIN tbtrx_budgetmaster budget_master ON alloc_parent.BudgetSourceId=budget_master.id
	INNER JOIN TempImportDerivativeType databaru ON AssignDesc=assignment_detail.[Desc]
	WHERE 
	alloc_detail.LongDesc=@AssignDesc
	)

    INSERT INTO @temp(
   		alloc_detail_id,
		alloc_detail_amt,
		alloc_id,
		alloc_amount,
		budget_assignment_detail_id,
		budget_assignment_detail_amt,
		data_baru_child_amt,
		assignment_id,
		bal_child_initial,
		data_baru_init_child,
		bal_child_use,
		budget_assignment_amt,
		allocation_parent_id,
		alloc_parent_amt,
		data_baru_parent_amt,
		bal_parent_initial,
		data_baru_init_parent,
		data_baru_use_parent,
		bal_parent_use,
		budget_master_id,
		budget_master_amt
)
	SELECT 
		alloc_detail_id,
		alloc_detail_amt,
		alloc_id,
		alloc_amount,
		budget_assignment_detail_id,
		budget_assignment_detail_amt,
		data_baru_child_amt,
		assignment_id,
		bal_child_initial,
		data_baru_init_child,
		bal_child_use,
		budget_assignment_amt,
		allocation_parent_id,
		alloc_parent_amt,
		data_baru_parent_amt,
		bal_parent_initial,
		data_baru_init_parent,
		data_baru_use_parent,
		bal_parent_use,
		budget_master_id,
		budget_master_amt
	FROM CTE
	-- WHERE alloc_amount <> data_baru_child_amt OR alloc_parent_amt <> data_baru_parent_amt;

	
	SELECT @allocationid=alloc_detail_id,@BudgetParentId=allocation_parent_id from @temp

	 UPDATE A
	 SET
	 A.BudgetAmount=data_baru_child_amt
	 FROM tbtrx_allocation_detail A
	 INNER JOIN @temp B ON A.AllocationId=B.alloc_detail_id

	 UPDATE A
	 SET BudgetAmount=data_baru_child_amt
	 FROM tbtrx_allocation A
	 INNER JOIN @temp B ON A.Id=B.alloc_detail_id

	  IF @@ROWCOUNT > 0
	 BEGIN
		INSERT INTO tbtrx_allocation_request_approval
		([AllocationId]
		,[LineIndex]
		,[LongDesc]
		,[PrevAmount]
		,[BudgetAmount]
		,[SubCategoryId]
		,[ActivityId]
		,[SubActivityId] 
		,[IsActive]
		,[IsLocked]
		,[IsRecon]
		,[CreateOn]
		,[CreateBy]
		,[ModifiedOn]
		,[ModifiedBy]
		,ApproveBy
		,ApproveOn
		)
		SELECT 		
		a.Id AllocationId
		,ROW_NUMBER() OVER(PARTITION BY a.Id ORDER BY a.Id) LineIndex
		,a.LongDesc AllocationDetailDesc
		,alloc_detail_amt
		,data_baru_child_amt AllocationDetailAmount
		,isnull(ctg.SubCategoryId,0) SubCategoryId
		,isnull(act.ActivityId,0) ActivityId
		,isnull(sact.SubActivityId,0) SubActivityId	
		,1 IsActive
		,0 IsLocked
		,1
		,a.[CreateOn]
		,a.[CreateBy]
		,a.[ModifiedOn]
		,a.[ModifiedBy]
		,IIF(@Approval='auto',@userid,null)
		,IIF(@Approval='auto',@utcDate123,null)
		FROM
		tbtrx_allocation a 		
		inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
		LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
		LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
		LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
		and @Activity=sact.ActivityDesc 
		and @SubActivity=sact.SubActivityDesc		
		INNER JOIN @temp ON a.Id=alloc_detail_id
		WHERE alloc_detail_amt <> data_baru_child_amt

		UPDATE A
		SET InitialAmount=data_baru_init_child
		FROM tbtrx_allocation_balance A
		LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
		and A.SubCategoryId=ctg.SubCategoryId
		INNER JOIN @temp B ON A.AllocationId=B.alloc_detail_id


		UPDATE A
		SET InitialAmount=data_baru_init_parent
		,UseAmount=data_baru_use_parent
		FROM tbtrx_allocation_balance A
		LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
		and A.SubCategoryId=ctg.SubCategoryId
		INNER JOIN @temp B ON A.AllocationId=B.allocation_parent_id

	
		

	    UPDATE A 
		SET A.InitialAmount=data_baru_child_amt
		FROM tbtrx_allocation_balance A
		INNER JOIN @temp ON AllocationId=alloc_detail_id
		LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
		and A.SubCategoryId=ctg.SubCategoryId
		AND A.InitialAmount <> data_baru_child_amt

	 END



	 UPDATE A
	 SET BudgetAmount=data_baru_child_amt
  	 ,A.ModifiedOn = @utcDate123
	 ,A.ModifiedBy = @userid	 
	 FROM tbtrx_budgetassignment_detail A
	 INNER JOIN @temp B ON A.Id=B.budget_assignment_detail_id


	 UPDATE A
	 SET BudgetAmount=data_baru_parent_amt
  	 ,A.ModifiedOn = @utcDate123
	 ,A.ModifiedBy = @userid	 
	 FROM tbtrx_budgetassignment A
	 INNER JOIN @temp B ON A.Id=B.assignment_id


	 UPDATE A
	 SET
	 A.BudgetAmount=data_baru_parent_amt
  	 ,A.ModifiedOn = @utcDate123
	 ,A.ModifiedBy = @userid	 
	 FROM tbtrx_allocation_detail A
	 INNER JOIN @temp B ON A.AllocationId=B.allocation_parent_id
	 WHERE A.BudgetAmount <> data_baru_parent_amt

	 	IF @@ROWCOUNT > 0
	    BEGIN
		INSERT INTO tbtrx_allocation_request_approval
		([AllocationId]
		,[LineIndex]
		,[LongDesc]
		,[PrevAmount]
		,[BudgetAmount]
		,[SubCategoryId]
		,[ActivityId]
		,[SubActivityId] 
		,[IsActive]
		,[IsLocked]
		,[IsRecon]
		,[CreateOn]
		,[CreateBy]
		,[ModifiedOn]
		,[ModifiedBy]
		,ApproveBy
		,ApproveOn
		)
		SELECT 		
		a.Id AllocationId
		,ROW_NUMBER() OVER(PARTITION BY a.Id ORDER BY a.Id) LineIndex
		,a.LongDesc AllocationDetailDesc
		,alloc_parent_amt
		,data_baru_parent_amt AllocationDetailAmount
		,isnull(ctg.SubCategoryId,0) SubCategoryId
		,isnull(act.ActivityId,0) ActivityId
		,isnull(sact.SubActivityId,0) SubActivityId	
		,1 IsActive
		,0 IsLocked
		,1
		,a.[CreateOn]
		,a.[CreateBy]
		,a.[ModifiedOn]
		,a.[ModifiedBy]
		,IIF(@Approval='auto',@userid,null)
		,IIF(@Approval='auto',@utcDate123,null)
		FROM
		tbtrx_allocation a 
		inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
		LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
		LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
		LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
		and @Activity=sact.ActivityDesc 
		and @SubActivity=sact.SubActivityDesc		
		INNER JOIN @temp ON a.Id=allocation_parent_id
		WHERE alloc_parent_amt <> data_baru_parent_amt
	 END


	 UPDATE A
	 SET BudgetAmount=data_baru_parent_amt
  	 ,A.ModifiedOn = @utcDate123
	 ,A.ModifiedBy = @userid	 
	 FROM tbtrx_allocation A
	 INNER JOIN @temp B ON A.Id=B.allocation_parent_id

	 UPDATE A
	 SET BudgetAmount=data_baru_parent_amt
  	 ,A.ModifiedOn = @utcDate123
	 ,A.ModifiedBy = @userid	 
	 FROM tbtrx_budgetmaster A
	 INNER JOIN @temp B ON A.Id=B.budget_master_id
	 

	SELECT @allocationid=alloc_detail_id,@BudgetParentId=allocation_parent_id from @temp

	EXEC [ip_recalculate_budget_balance] @allocationid

	EXEC [ip_recalculate_budget_balance] @BudgetParentId

	END


		FETCH NEXT FROM cursor_product INTO 
        @BudgetParent, 
		@TotalAssignmentAmount,
		@AssignTo,
		@AssignDesc,
		@AssignAmount,
		@SubCategory,
		@Activity,
		@SubActivity,
		@Approval;
    END;





	INSERT INTO @errtemp(budget,[status])
	SELECT AssignDesc,'Budget Exeeded' FROM tbtrx_allocation_balance a 
	inner join tbtrx_allocation b on a.AllocationId=b.Id
	inner join @Derivative c on b.LongDesc=AssignDesc
	where RemainingAmount < 0
	
		--INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Exeeded')
	
 

CLOSE cursor_product;
 
DEALLOCATE cursor_product;
    
/*********************/

UPDATE a
SET StatusApproval=IIF(b.Approval='auto','AP2','AP1')
FROM tbtrx_allocation a
inner join @Derivative b on a.LongDesc=b.AssignDesc 





	if exists(select * from @errtemp)
	begin
		ROLLBACK
	end
	else
	begin
		COMMIT TRANSACTION
	end



select * from @errtemp


END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH











GO
