

/****** Object:  StoredProcedure [dbo].[ip_ps_value_upload]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_ps_value_upload] 
	@profileid varchar(50),
	@email varchar(100),
	@psvalue PSValueType READONLY
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE 
--	@profileid varchar(50),
--	@email varchar(100),
--	@psvalue PSValueType

--SET @profileid = 'admin'
--SET @email ='luk@danone.com'

--INSERT INTO @psvalue VALUES('2024', 'TIGARAKSA', 'SGM', 11001, 11002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 2000, 2001, 2002)
--INSERT INTO @psvalue VALUES('2024', 'TIGARAKSA', 'BEBELAC', 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 2000, 2001, 2002)

----DROP TABLE IF EXISTS tempPSValueType
----select * INTO tempPSValueType from @psvalue

BEGIN 
	DROP TABLE IF EXISTS #ps123
	SELECT ROW_NUMBER() OVER(ORDER BY distributor ASC, groupbrand ASC) AS RowID, * into #ps123 FROM @psvalue

    DECLARE @temp as TABLE
    (
         doc varchar(255),
         [status] varchar(255)
	)

	DECLARE @tbfailed TABLE
	( 
		[RowId] INT,
		[distributor] varchar (255),
		[groupbrand] varchar (255)
	)

	/*distributor validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.distributor
		,'Distributor not found'
	FROM #ps123 a
	LEFT JOIN tbmst_distributor b WITH (NOLOCK) ON a.distributor = b.longdesc AND isnull(b.isdeleted, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.distributor
		,a.groupbrand
	FROM #ps123 a
	LEFT JOIN tbmst_distributor b WITH (NOLOCK) ON a.distributor = b.longdesc AND isnull(b.isdeleted, 0) = 0
	WHERE b.longdesc IS NULL

	/*groupbrand validation*/
	INSERT INTO @temp
	SELECT DISTINCT
		a.groupbrand
		,'Group brand not found'
	FROM #ps123 a
	LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.IsDeleted, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO @tbfailed
	SELECT a.RowId
		,a.distributor
		,a.groupbrand
	FROM #ps123 a
	LEFT JOIN tbmst_brand_group b WITH (NOLOCK) ON a.groupbrand = b.longdesc AND isnull(b.IsDeleted, 0) = 0
	WHERE b.longdesc IS NULL

	INSERT INTO tbtrx_ps_value
	(
		period
		,distributorid
		,groupbrandid
		,m1
		,m2
		,m3
		,m4
		,m5
		,m6
		,m7
		,m8
		,m9
		,m10
		,m11
		,m12
		,CreatedBy
		,CreatedEmail
		,CreatedOn
	)
	SELECT 
		a.period
		, b.id distributorid
		, c.id groupbrandid
		, a.m1
		, a.m2
		, a.m3
		, a.m4
		, a.m5
		, a.m6
		, a.m7
		, a.m8
		, a.m9
		, a.m10
		, a.m11
		, a.m12
		, @profileid
		, @email
		, @utcDate123
	FROM #ps123 a
	INNER JOIN tbmst_distributor b ON a.distributor = b.LongDesc AND isnull(b.isdeleted, 0) = 0
	INNER JOIN tbmst_brand_group c ON a.groupbrand = c.LongDesc AND isnull(c.isdeleted, 0) = 0
	LEFT JOIN tbtrx_ps_value d ON a.period = d.period 
		AND b.id = d.distributorid AND c.id = d.groupbrandid
	WHERE a.RowID NOT IN (SELECT RowId FROM @tbfailed)
	AND d.period IS NULL

	UPDATE d
	SET d.m1 = a.m1
		,d.m2 = a.m2
		,d.m3 = a.m3
		,d.m4 = a.m4
		,d.m5 = a.m5
		,d.m6 = a.m6
		,d.m7 = a.m7
		,d.m8 = a.m8
		,d.m9 = a.m9
		,d.m10 = a.m10
		,d.m11 = a.m11
		,d.m12 = a.m12
		,d.ModifiedBy = @profileid
		,d.ModifiedEmail = @email
		,d.ModifiedOn = @utcDate123
	FROM #ps123 a
	INNER JOIN tbmst_distributor b ON a.distributor = b.LongDesc AND isnull(b.isdeleted, 0) = 0
	INNER JOIN tbmst_brand_group c ON a.groupbrand = c.LongDesc AND isnull(c.isdeleted, 0) = 0
	LEFT JOIN tbtrx_ps_value d ON a.period = d.period AND b.id = d.distributorid AND c.id = d.groupbrandid
	WHERE a.RowID NOT IN (SELECT RowId FROM @tbfailed)

	DECLARE @totUpload INT, @totFailed INT, @totSuccess INT

	SET @totUpload = (SELECT COUNT(RowId) FROM #ps123)
	SET @totFailed = (select count(a.rowid) FROM (select rowid from @tbfailed group by rowid) a)
	SET @totSuccess = @totUpload - @totFailed

	SELECT * FROM @temp

	SELECT @totUpload totUpload, @totFailed totFailed, @totSuccess totSuccess

	--SELECT pr.id promoId, pr.refid promoRefId, pr.CreateBy userIdInitiator, pr.approverRecon approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.ApproverRecon=b.Id
	--where pr.period = 2025
	--and pr.id IN (3691,3681)
	--UNION ALL
	--SELECT pr.id promoId, pr.refid, pr.CreateBy userNameInitiator, pr.Approver
	--	, a.username userNameInitiator
	--	,a.email emailInitiator
	--	,b.username userNameApprover
	--	,b.email emailApprover
	--	,isnull(pr.reconciled, 0) reconciled
	--FROM tbtrx_promo pr
	--LEFT join tbset_user a on pr.CreateBy=a.Id
	--LEFT join tbset_user b on pr.Approver=b.Id
	--where pr.period = 2025
	--and pr.id IN (3683,3693)

	EXEC [dbo].[ip_ps_value_upload_promo_update] @psvalue = @psvalue

	DROP TABLE IF EXISTS #ps123

END
GO
