USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_data_display_workflow_DC]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_data_display_workflow_DC] --9,''
	@Id				INT
AS

DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--DECLARE @Id INT
--SET @Id=50195

--EXEC ip_promo_data_display @id

DECLARE 
	@period int
	, @categoryid int
	, @subcategoryid int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @distributorId int
	, @groupbrandid int
	, @subactivitytypeid int
	, @activityid int
	, @subactivityid int
	, @remainingbudget float

SELECT
	@period=a.period
	,@categoryid=a.categoryid
	,@subcategoryid=a.subcategoryid
	,@channelid=b.channelid
	,@subchannelid=0
	,@accountid=0
	,@subaccountid=0
	,@distributorId=a.distributorId
	,@groupbrandid=a.groupbrandid
	,@subactivitytypeid=g.subactivitytypeid
	,@activityid=a.activityid
	,@subactivityid=a.subactivityid
from tbtrx_promo a
			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
			--INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
			--INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
			--INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
			INNER join vw_activity_active g on a.SubActivityId=g.SubActivityId
where a.id=@Id

declare @spPromoBudgetGet as table (
	period int
	, categoryid int 
	, CategoryDesc varchar(255)
	, subcategoryid int 
	, SubCategoryDesc varchar(255)
	, channelid int 
	, ChannelDesc varchar(255)
	, subchannelid int 
	, SubChannelDesc varchar(255)
	, accountid int 
	, AccountDesc varchar(255)
	, subaccountid int 
	, SubAccountDesc varchar(255)
	, distributorId int 
	, Distributor varchar(255)
	, groupbrandid int 
	, Brand varchar(255)
	, activityid int 
	, ActivityDesc varchar(255)
	, budgetname varchar(255)
	, budgetamount float
	, TotCost float
	, RemainingBudget float
	, subactivityid int 
	--, subactivityDesc varchar(255)
	)

BEGIN TRY  
	insert into @spPromoBudgetGet (period,categoryid,CategoryDesc,subcategoryid,SubCategoryDesc,channelid,ChannelDesc,subchannelid,SubChannelDesc,accountid,AccountDesc,subaccountid,SubAccountDesc,distributorId,Distributor,groupbrandid,Brand,activityid,ActivityDesc,budgetname,budgetamount,TotCost,RemainingBudget,subactivityid)
	EXEC ip_promo_budget_get
		@period
		,@categoryid
		,@subcategoryid
		,@channelid
		,@subchannelid
		,@accountid
		,@subaccountid
		,@distributorId
		,@groupbrandid
		,@subactivitytypeid
		,@activityid
		,@subactivityid
END TRY  
BEGIN CATCH  

END CATCH;  

select @remainingbudget = ISNULL(RemainingBudget,0) from @spPromoBudgetGet

BEGIN

/*************************
Category selection
***************************/
DECLARE @category as varchar(5)
SET @category = (SELECT ShortDesc FROM tbtrx_promo a INNER JOIN tbmst_category b on a.CategoryId=b.Id WHERE a.Id=@Id) 
		/*******************************/
			SELECT
				pr.refId
				,pr.id
				,pr.period
				,pr.distributorId
				,d.LongDesc distributorLongDesc
				,d.ShortDesc distributorSortDesc
				,pr.entityId
				,p.LongDesc entityLongDesc
				,p.ShortDesc entityShortDesc
				,pr.groupBrandId
				,mbg.LongDesc groupBrandLongDesc
				,pr.categoryId
				,ctg.LongDesc categoryLongDesc
				,ctg.ShortDesc categoryShortDesc
				,pr.subCategoryId
				,sctg.LongDesc subCategoryLongDesc
				,pr.activityId
				,ta.LongDesc as activityLongDesc
				,pr.subActivityId
				,ts.LongDesc as subActivityLongDesc

				,prc.channelId, prc.channelDesc
				,0 subChannelId, '' subChannelDesc
				,0 accountId, '' accountDesc
				,0 subAccountId, '' subAccountDesc
				
				,pr.activityDesc
				,pr.startPromo
				,pr.endPromo
				,pr.budgetMasterId 
				, dbo.getBudgetName(pr.allocationid) budgetName
				, isnull(@remainingbudget, 0) remainingBudget
				, pc.baseline
				, pc.upLift
				, pc.totalSales
				, pc.salesContribution
				, pc.storesCoverage
				, pc.redemptionRate
				, CONVERT(DECIMAL(20, 2), pc.cr) cr
				--, pc.cr
				, pc.cost

				,pr.notes
				,pr.approvalNotes
				,pr.isClose
				,pr.initiator_notes
				,pr.investmentTypeId 
				,tit.refId investmentTypeRefId
				,tit.LongDesc investmentTypeDesc
				,pr.late_submission_day
				,pr.investment investmentBfrClose --issue #839
				,pr.lastStatus
				,pr.statusApprovalCode
				,pr.statusApproval
				,pr.isLocked
				,pr.createOn
				,pr.createBy
				,pr.createdEmail
				,pr.modifiedOn
				,pr.modifiedBy
				,pr.modifiedEmail
				,pr.modifReason
				,pr.IsDelete
				,pr.deleteOn
				,pr.deleteBy
				,pr.deleteEmail
				,isnull(pr.isCancel, 0) isCancel
				,pr.cancelOn
				,pr.cancelBy
				,pr.cancelByEmail
				,pr.isCancelLocked
				,isnull(pr.IsClose, 0) isClose
				,pr.closeOn
				,pr.closeBy
				,IIF(isnull(note.Notes,'')='','', note.Notes) sendBackNotes
				,IIF(isnull(note.Notes,'')='', null,  convert(varchar, note.ActionDate, 105) ) sendBackNotesDate
				,ISNULL(pmim.inputMethod,0) mechanismInputMethod
				, ts.subActivityTypeId
				, tst.LongDesc subActivityType
				/*-- history prev promo calculator --*/
				, isnull(pr_calc_bfr.baseline, 0) baselineBfr
				, isnull(pr_calc_bfr.uplift, 0) upliftBfr
				, isnull(pr_calc_bfr.totalsales, 0) totalSalesBfr
				, isnull(pr_calc_bfr.salescontribution, 0) salesContibutionBfr
				, isnull(pr_calc_bfr.storescoverage, 0) storesCoverageBfr
				, isnull(pr_calc_bfr.redemptionrate, 0) redemptionRateBfr
				, CONVERT(DECIMAL(20, 2), isnull(pr_calc_bfr.cr, 0)) crBfr
				--, isnull(pr_calc_bfr.cr, 0) crBfr
				, isnull(pr_calc_bfr.cost, 0) costBfr
				/*-- history prev promo calculator --*/
			FROM tbtrx_promo pr	
			INNER JOIN tbtrx_promo_calculator pc on pr.Id=pc.PromoId
			INNER JOIN tbmst_activity ta  on pr.ActivityId = ta.Id and pr.Id=@Id
			INNER JOIN tbmst_subactivity ts  on pr.SubActivityId = ts.id
			INNER JOIN tbmst_subactivity_type tst on ts.SubActivityTypeId = tst.id
			inner join tbmst_distributor d  on pr.DistributorId=d.Id
			inner join tbmst_principal p  on pr.EntityId=p.Id
			inner join tbset_user ucreateby ON pr.createby = ucreateby.id 
			inner join tbmst_category ctg  on ctg.Id=pr.CategoryId 
			inner join tbmst_subcategory sctg  on pr.SubCategoryId = sctg.id 
			INNER JOIN tbmst_brand_group mbg ON pr.GroupBrandId = mbg.Id
			INNER JOIN (
				SELECT a.promoId, a.channelId, b.LongDesc channelDesc
					FROM tbtrx_promo_channel a
					INNER JOIN tbmst_channel b on a.ChannelId=b.Id AND PromoId=@Id
				)prc ON pr.Id=prc.promoid
			--INNER JOIN (
			--	SELECT a.promoId, a.subChannelId, b.LongDesc subChannelDesc
			--		FROM tbtrx_promo_subchannel a
			--		INNER JOIN tbmst_subchannel b on a.SubChannelId=b.Id AND PromoId=@Id
			--	)prsc  ON pr.Id=prsc.promoid
			--INNER JOIN (
			--	SELECT a.promoId, a.accountId, b.LongDesc accountDesc
			--		FROM tbtrx_promo_account a
			--		INNER JOIN tbmst_account b on a.AccountId=b.Id AND PromoId=@Id
			--	)pra ON pr.Id=pra.promoid
			--INNER JOIN (
			--	SELECT a.promoId, a.subAccountId, b.LongDesc subAccountDesc
			--		FROM tbtrx_promo_subaccount a
			--		INNER JOIN tbmst_subaccount b on a.SubAccountId=b.Id AND PromoId=@Id
			--	)prsa  ON pr.Id=prsa.promoid
			left join tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			left join vw_promo_sendback_notes_last note on pr.id=note.ParentId 
			LEFT JOIN tbset_promo_mechanism_input_method pmim ON pr.SubActivityId = pmim.subactivityid
			/******************************************
			history prev promo calculator
			*******************************************/
			left join (
				select id, min(parentid) parentid
				from tbhis_promo
				where isnull(reconciled, 0) = 1
				group by id
			) his on pr.id = his.id
			left join tbhis_promo_calculator pr_calc_bfr on his.parentid = pr_calc_bfr.parentid and his.id = pr_calc_bfr.PromoId
			/*****************************************************************************************************/

			/*****************
			REGION
			*****************/
			SELECT 0 regionId, '---' regionDesc

			/*****************
			SKU
			*****************/
			SELECT 0 skuId, '---' skuDesc


				/*****************
				File attach
				*****************/
				SELECT promoId, [fileName], docLink FROM tbtrx_promo_doclink WITH (NOLOCK) where PromoId =@Id order by DocLink

				/***************
				MASTER STATUS APPROVAL
				***************/
				SELECT statusCode,statusDesc FROM tbmst_master_status where StatusType='TPP' AND IsActive=1 order by StatusSeq
		
				/***************
				MECHANISM
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					,baseline, uplift ,totalSales ,salesContribution ,storesCoverage ,redemptionRate, CONVERT(DECIMAL(20, 2), cr) cr ,cost
					FROM [dbo].tbtrx_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id
					WHERE promoid =@Id

				/***************
				MECHANISM - PREVIOUS
				***************/
				SELECT 
					mechanismId, mechanism, notes, productId skuId, IIF(ISNULL(tppm.product,'')='',mp.longdesc,tppm.product) skuDesc
					,baseline, uplift ,totalSales ,salesContribution ,storesCoverage ,redemptionRate, CONVERT(DECIMAL(20, 2), cr) cr ,cost
					FROM [dbo].tbhis_promo_mechanism tppm 
					LEFT JOIN tbmst_product mp ON tppm.ProductId=mp.Id 
					INNER JOIN (
						select id, min(parentid) parentid
						from tbhis_promo
						where isnull(reconciled, 0) = 1
						group by id
						)his ON tppm.ParentId = his.parentid AND tppm.PromoId=his.Id
					WHERE promoid =@Id			

				-- GET DN CLAIM
				-- MARCH 27 AND

				SELECT ISNULL(b.TotalClaim, 0) totalClaim, ISNULL(b.TotalPaid, 0) totalPaid
			FROM tbtrx_promo pr
			LEFT JOIN (
			SELECT 		
				a.PromoId, SUM(iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp)) as TotalClaim
				, SUM(iif(a.laststatus='confirm_paid',iif(vatexpired=1,a.DPP+isnull(a.ppnamt,0),a.dpp),0)) as TotalPaid
			FROM tbtrx_debetnote a			
			where 
				a.PromoId=@Id and
				isnull(a.IsCancel, 0) = 0
				AND isnull(a.IsDNPromo,0)=1
			GROUP BY a.PromoId
		) b ON pr.id = b.promoid
		WHERE pr.id=@Id
END


GO
