

/****** Object:  StoredProcedure [dbo].[ip_kpi_scorboard]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_kpi_scorboard]
--declare
@create_from date
,@create_to date
,@userid varchar(50)
,@period_monitoring bit
,@date_monitoring date

--set @create_from ='2020-01-01'
--set @create_to ='2020-12-31'
--set @userid ='0'
--set @period_monitoring =0
--set @date_monitoring ='2020-12-31'

AS
BEGIN
	DROP TABLE IF EXISTS #Res_Monitoring
	
	DECLARE 
		@username varchar(50)
		,@jobtitle varchar(255)
		,@month int
		,@year int
		,@PromoPlanSubmittedBfrQuarterStart90_Score numeric(19,2)
		,@ScoreboardPromoPlan numeric(19,2)
		, @PromoPlanSubmittedBfrQuarterStart90_Score_pct numeric(19,2) 
		, @Overall_Score_pct numeric(19,2)

		SET @month = month(@date_monitoring);
		SET @year = year(@date_monitoring);
	DECLARE @Temp TABLE
	(
		DistributorId int
		, DistributorShortDesc varchar(50)
		, EntityId int
		, PrincipalShortDesc varchar(50)
		, PromoPlanCreateBy varchar(50)
		, PromoPlanCreateOn datetime
		, RegionDesc nvarchar(max)
		, SubActivityTypeId int
		, SubActivityType varchar(50)
		, CategoryId int
		, Category varchar(50)
		, SubCategoryId int
		, SubCategory varchar(50)
		, ActivityId int
		, Activity varchar(50)
		, SubActivityId int
		, SubActivity varchar(50)
		, StartPlanning date
		, EndPlanning date
		, ChannelDesc nvarchar(max)
		, SubChannelDesc nvarchar(max)
		, AccountDesc nvarchar(max)
		, SubAccountDesc nvarchar(max)
		, TSCode varchar(50)
		, BrandDesc nvarchar(max)
		, SKUDesc nvarchar(max)
		, SourceOfPromo varchar(50)
		, PromotionType varchar(50)
		, ActivityDesc varchar(255)
		, Mechanisme1 varchar(255)
		, Mechanisme2 varchar(255)
		, Mechanisme3 varchar(255)
		, Mechanisme4 varchar(255)
		, Investment numeric(19,2)
		, BaselineSales numeric(19,2)
		, UpliftSales numeric(19,2)
		, TotalSales numeric(19,2)
		, UpliftSalesPersen numeric(19,2)
		, ROIPersen numeric(19,2)
		, PromodId int
		, PromoRefId varchar(50)
		, Creator varchar(50) 
		, CreationDate datetime
		, PeriodStart datetime
		, PeriodEnd datetime
		, PromoAmount numeric(19,2)
		, today datetime 
		, Quater2Start datetime
		, today60 datetime
		, DaysOfCreation numeric(19,3)
		, PeriodStartMatching numeric(19,3)
		, PeriodEndMatcing numeric(19,3)
		, Amount numeric(19,3)
		, PeriodOfStart numeric(19,3)
		, PeriodOfEnd numeric(19,3)
		, PromoPlanSubmissionDays numeric(19,3)
		, PromoPlanSubmittedBfrQuarterStart90 varchar(1)
		, AvailabilityInOptima varchar(1)
		, OptimaCreationBrfActivityStart60 varchar(1)
		, OptimaPeriodMatch varchar(1)
		, OptimaAmountMatch varchar(1)
		, OptimaDescMatch varchar(1)
		, OptimaMechanismMatch varchar(1)
		, OptimaDescAndMechanismMatch varchar(1)
		, SKPAvailability varchar(1)
		, SKPAvailBfrActivityStart60 varchar(1)
		, SKPPeriodMatch varchar(1)
		, SKPAmountMatch varchar(1)
		, SKPMechanismMatch varchar(1)
		, SKPSigned7 varchar(1)
		, ActivityAuditCompliance varchar(1)
		, ExtendedPeriodMatch varchar(1)
		, ExtendedAmountMatch varchar(1)
		, ExtendedMechanismMatch varchar(1)
		, ReconNKA varchar(1)
		, AdjustBudgetRecon varchar(1)
		, FeedbackOnPostROI varchar(1)
		, AgingDNBySales varchar(1)
		, JobTitle1 varchar(100)
		, JobTitle2 varchar(100)
	)
	
	DECLARE @Temp_Monitoring TABLE
	(
		DistributorId int
		, DistributorShortDesc varchar(50)
		, EntityId int
		, PrincipalShortDesc varchar(50)
		, PromoPlanCreateBy varchar(50)
		, PromoPlanCreateOn datetime
		, RegionDesc nvarchar(max)
		, SubActivityTypeId int
		, SubActivityType varchar(50)
		, CategoryId int
		, Category varchar(50)
		, SubCategoryId int
		, SubCategory varchar(50)
		, ActivityId int
		, Activity varchar(50)
		, SubActivityId int
		, SubActivity varchar(50)
		, StartPlanning date
		, EndPlanning date
		, ChannelDesc nvarchar(max)
		, SubChannelDesc nvarchar(max)
		, AccountDesc nvarchar(max)
		, SubAccountDesc nvarchar(max)
		, TSCode varchar(50)
		, BrandDesc nvarchar(max)
		, SKUDesc nvarchar(max)
		, SourceOfPromo varchar(50)
		, PromotionType varchar(50)
		, ActivityDesc varchar(255)
		, Mechanisme1 varchar(255)
		, Mechanisme2 varchar(255)
		, Mechanisme3 varchar(255)
		, Mechanisme4 varchar(255)
		, Investment numeric(19,2)
		, BaselineSales numeric(19,2)
		, UpliftSales numeric(19,2)
		, TotalSales numeric(19,2)
		, UpliftSalesPersen numeric(19,2)
		, ROIPersen numeric(19,2)
		, PromodId int
		, PromoRefId varchar(50)
		, Creator varchar(50) 
		, CreationDate datetime
		, PeriodStart datetime
		, PeriodEnd datetime
		, PromoAmount numeric(19,2)
		, today datetime 
		, Quater2Start datetime
		, today60 datetime
		, DaysOfCreation numeric(19,3)
		, PeriodStartMatching numeric(19,3)
		, PeriodEndMatcing numeric(19,3)
		, Amount numeric(19,3)
		, PeriodOfStart numeric(19,3)
		, PeriodOfEnd numeric(19,3)
		, PromoPlanSubmissionDays numeric(19,3)
		, PromoPlanSubmittedBfrQuarterStart90 varchar(1)
		, AvailabilityInOptima varchar(1)
		, OptimaCreationBrfActivityStart60 varchar(1)
		, OptimaPeriodMatch varchar(1)
		, OptimaAmountMatch varchar(1)
		, OptimaDescMatch varchar(1)
		, OptimaMechanismMatch varchar(1)
		, OptimaDescAndMechanismMatch varchar(1)
		, SKPAvailability varchar(1)
		, SKPAvailBfrActivityStart60 varchar(1)
		, SKPPeriodMatch varchar(1)
		, SKPAmountMatch varchar(1)
		, SKPMechanismMatch varchar(1)
		, SKPSigned7 varchar(1)
		, ActivityAuditCompliance varchar(1)
		, ExtendedPeriodMatch varchar(1)
		, ExtendedAmountMatch varchar(1)
		, ExtendedMechanismMatch varchar(1)
		, ReconNKA varchar(1)
		, AdjustBudgetRecon varchar(1)
		, FeedbackOnPostROI varchar(1)
		, AgingDNBySales varchar(1)
		, JobTitle1 varchar(100)
		, JobTitle2 varchar(100)
	)
	

--		INSERT INTO @Temp
--		EXEC ip_kpi_scoring @create_from, @create_to, @userid
		INSERT INTO @Temp
			select distinct
				DistributorId
				, DistributorShortDesc
				, EntityId
				, PrincipalShortDesc
				, PromoPlanCreateBy
				, PromoPlanCreateOn
				, RegionDesc
				, SubActivityTypeId
				, SubActivityType
				, CategoryId
				, Category
				, SubCategoryId
				, SubCategory
				, ActivityId
				, Activity
				, SubActivityId
				, SubActivity
				, StartPlanning
				, EndPlanning
				, ChannelDesc
				, SubChannelDesc
				, AccountDesc
				, SubAccountDesc
				, TSCode
				, BrandDesc
				, SKUDesc
				, SourceOfPromo
				, PromotionType
				, ActivityDesc
				, Mechanisme1
				, Mechanisme2
				, Mechanisme3
				, Mechanisme4
				, Investment
				, BaselineSales
				, UpliftSales
				, TotalSales
				, UpliftSalesPersen
				, ROIPersen
				, PromoId
				, PromoRefId
				, Creator 
				, CreationDate
				, PeriodStart
				, PeriodEnd
				, PromoAmount
				, today 
				, Quater2Start
				, today60
				, DaysOfCreation
				, PeriodStartMatching
				, PeriodEndMatcing
				, Amount
				, PeriodOfStart
				, PeriodOfEnd
				, PromoPlanSubmissionDays
				, PromoPlanSubmittedBfrQuarterStart90
				, AvailabilityInOptima
				, OptimaCreationBrfActivityStart60
				, OptimaPeriodMatch
				, OptimaAmountMatch
				, OptimaDescMatch
				, OptimaMechanismMatch
				, OptimaDescAndMechanismMatch
				, SKPAvailability
				, SKPAvailBfrActivityStart60
				, SKPPeriodMatch
				, SKPAmountMatch
				, SKPMechanismMatch
				, SKPSigned7
				, ActivityAuditCompliance
				, ExtendedPeriodMatch
				, ExtendedAmountMatch
				, ExtendedMechanismMatch
				, ReconNKA
				, AdjustBudgetRecon
				, FeedbackOnPostROI
				, AgingDNBySales
				, JobTitle1
				, JobTitle2
		from tbtemp_kpi_scoring 
		where 
			((CONVERT(varchar(8),@create_to,112) >= CONVERT(varchar(8),StartPlanning,112) AND  CONVERT(varchar(8),@create_to,112) <= CONVERT(varchar(8),EndPlanning,112))
			or
			(CONVERT(varchar(8),EndPlanning,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),EndPlanning,112) <= CONVERT(varchar(8),@create_to,112)))
			AND IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0','', @userid) 


	IF @userid='0'
	BEGIN
		SELECT @username = username, @jobtitle = jobtitle
		FROM tbset_user WHERE id='admin'
	END
	ELSE
	BEGIN
		SELECT @username = username, @jobtitle = jobtitle
		FROM tbset_user WHERE id=@userid
	END
	
	
	select 
	iif(@userid='0','',@userid) as UserId
	, iif(@userid='0','',@username) as UserName
	, iif(@userid='0','',@jobtitle) as JobTitle 
	, count(PromoPlanCreateBy) as PromoPlanEvaluated
--start 1. Promo Plan
--Submitted 90 days before Quarterly ( Q2 ) Start	[SUBSCORE]
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0) 
		as PromoPlanSubmittedBfrQuarterStart90_Score	
	, 2 as PromoPlanSubmittedBfrQuarterStart90_bobot
--end 1. Promo Plan
--start 2. Accuracy on Optima Input vs Promo Plan
--Activity Period Matching							[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0) as OptimaPeriodMatch_Score	
	, 1 as OptimaPeriodMatch_bobot	
--Activity Desc & Mechanism Matching				[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0) as OptimaDescAndMechanismMatch_Score	
	, 2 as OptimaDescAndMechanismMatch_bobot	
--Budget Amount Matching							[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0) as OptimaAmountMatch_Score	
	, 1 as OptimaAmountMatch_bobot	
--Optima & SKP Draft Created H-60 from Period Start	[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0) as OptimaCreationBrfActivityStart60_Score
	, 1 as OptimaCreationBrfActivityStart60_bobot
--end 2. Accuracy on Optima Input vs Promo Plan

--Extended Activity Mechanism Matching
	, ISNULL(SUM(CASE WHEN ExtendedMechanismMatch = 'Y' THEN 1.00 END) / COUNT(ExtendedMechanismMatch) * 1, 0) as ExtendedMechanismMatch_Score
	, 1 as ExtendedMechanismMatch_bobot
--Extended Amount Matching
	, ISNULL(SUM(CASE WHEN ExtendedAmountMatch = 'Y' THEN 1.00 END) / COUNT(ExtendedAmountMatch) * 1, 0) as ExtendedAmountMatch_Score
	, 1 as ExtendedAmountMatch_bobot
--SKP Signed H-7 before activity starts				[Accuracy on SKP]-sub subscore
	, ISNULL(SUM(CASE WHEN SKPSigned7 = 'Y' THEN 1.00 END) / COUNT(SKPSigned7) * 1, 0) as SKPSigned7_Score
	, 1 as SKPSigned7_bobot
	
--Sub Score (ambil dari scoreboard / bobot)
	, 2 as SubscorePromoPlan_bobot
	, 1 + 2 + 1 + 1 as SubscoreAccuracy_OptimaInput_vs_PromoPlan_bobot
	, 1 + 1 + 1 + 1	as SubscoreAccuracy_SKP_vs_Optima_bobot
	, 7 as SubscoreReconMonitoring_bobot
--Scoreboard
--[SUBSCORE]
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0) as ScoreboardPromoPlan
	, (ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0))
		as ScoreboardAccuracy_OptimaInput_vs_PromoPlan
	, (ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(SKPAvailBfrActivityStart60) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0))
		as ScoreboardAccuracy_SKP_vs_Optima
	, 0.00 as ScoreboardReconMonitoring
-------------------------------------------------------------
	, (ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0))/2 *100
		as PromoPlanSubmittedBfrQuarterStart90_Score_pct	--persen promo plan submitted h-90
	, ((ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0)))/5 *100
		as ScoreboardAccuracy_OptimaInput_vs_PromoPlan_pct	--persen accuracy on optima vs promo plan
	, ((ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(SKPAvailBfrActivityStart60) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(ExtendedAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0)))/4 *100
		as ScoreboardAccuracy_SKP_vs_Optima_pct	--persen accuracy on skp
	, 0.00 as ScoreboardReconMonitoring_pct	--persen reconciliation monitoring	
-------------------------------------------------------------
	, ((ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0))+ --PromoPlanSubmittedBfrQuarterStart90_Score_pct	--persen promo plan submitted h-90
	 ((ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0)))+ --ScoreboardAccuracy_OptimaInput_vs_PromoPlan_pct	--persen accuracy on optima vs promo plan
	((ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0))
		+ (ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0)))+	--ScoreboardAccuracy_SKP_vs_Optima_pct	--persen accuracy on skp
	 0.00 --ScoreboardReconMonitoring_pct	--persen reconciliation monitoring	
	 )/18  *100 as Overall_Score_pct
-----------------------------------------------------------------
--start 3. Accuracy on SKP vs Optima
--SKP Activity Period Matching							[Accuracy on SKP]-sub subscore
	, ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0) as SKPPeriodMatch_Score
	, 1 as SKPPeriodMatch_bobot	
	, ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0) *100 as SKPPeriodMatch_pct	
--SKP Activity Desc & Mechanism Matching				[Accuracy on SKP]-sub subscore
	, ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0) as SKPDescAndMechanismMatch_Score	
	, 1 as SKPDescAndMechanismMatch_bobot
	, ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0) *100 as SKPDescAndMechanismMatch_pct	
--SKP Budget Amount Matching							[Accuracy on SKP]-sub subscore
	, ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0) as SKPAmountMatch_Score	
	, 1 as SKPAmountMatch_bobot	
	, ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0) *100 as SKPAmountMatch_pct	
--SKP Draft H-60 before activity starts					[Accuracy on SKP]-sub subscore
	, ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(SKPAvailBfrActivityStart60) * 1, 0) as SKPDraftH60_Score
	, 1 as SKPDraftH60_bobot
	, ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(SKPAvailBfrActivityStart60) * 1, 0) *100 as SKPDraftH60_pct
--end 3. Accuracy on SKP vs Optima
----------------------------------------------------------------------

--Activity Period Matching							[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, (ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))/1  *100 as OptimaPeriodMatch_pct
--Activity Desc & Mechanism Matching				[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, (ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0))/2  *100 as OptimaDescAndMechanismMatch_pct
--Budget Amount Matching							[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, (ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0))/1  *100 as OptimaAmountMatch_pct
--Optima & SKP Draft Created H-60 from Period Start	[Accuracy on OPTIMA input vs Promo Plan]-sub subscore
	, (ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0))/1  *100 as OptimaCreationBrfActivityStart60_pct
-----------------------------------------------------------------------
	, ISNULL(SUM(CASE WHEN ReconNKA = 'Y' THEN 1.00 END) / sum(iif(ReconNKA='',0,1)) * 3, 0) as ReconNKA_Score	
	, 3 as ReconNKA_bobot
	, ISNULL(SUM(CASE WHEN AdjustBudgetRecon = 'Y' THEN 1.00 END) / COUNT(AdjustBudgetRecon) * 3, 0) as AdjustBudgetRecon_Score	
	, 1 as AdjustBudgetRecon_bobot
	, ISNULL(SUM(CASE WHEN FeedbackOnPostROI = 'Y' THEN 1.00 END) / COUNT(FeedbackOnPostROI) * 3, 0) as FeedbackOnPostROI_Score	
	, 1 as FeedbackOnPostROI_bobot
	, (
		ISNULL(
			SUM(CASE WHEN ReconNKA = 'Y' THEN 1.00 END) / sum(iif(ReconNKA='',0,1)) * 3, 0))/3  *100 as Recon_pct
	, ISNULL(SUM(CASE WHEN AgingDNBySales = 'Y' THEN 1.00 END) / COUNT(AgingDNBySales) * 3, 0) as AgingDNBySales_Score	
	, 1 as AgingDNBySales_bobot
	into #Res_Monitoring 
	FROM @Temp
	WHERE IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0', '', @userid)
--	group by PromoPlanCreateBy, Creator

--	SET PromoPlanSubmittedBfrQuarterStart90 if period monitoring = true
	IF @period_monitoring = 1
	BEGIN
		INSERT INTO @Temp_monitoring
			select distinct
				DistributorId
				, DistributorShortDesc
				, EntityId
				, PrincipalShortDesc
				, PromoPlanCreateBy
				, PromoPlanCreateOn
				, RegionDesc
				, SubActivityTypeId
				, SubActivityType
				, CategoryId
				, Category
				, SubCategoryId
				, SubCategory
				, ActivityId
				, Activity
				, SubActivityId
				, SubActivity
				, StartPlanning
				, EndPlanning
				, ChannelDesc
				, SubChannelDesc
				, AccountDesc
				, SubAccountDesc
				, TSCode
				, BrandDesc
				, SKUDesc
				, SourceOfPromo
				, PromotionType
				, ActivityDesc
				, Mechanisme1
				, Mechanisme2
				, Mechanisme3
				, Mechanisme4
				, Investment
				, BaselineSales
				, UpliftSales
				, TotalSales
				, UpliftSalesPersen
				, ROIPersen
				, PromoId
				, PromoRefId
				, Creator 
				, CreationDate
				, PeriodStart
				, PeriodEnd
				, PromoAmount
				, today 
				, Quater2Start
				, today60
				, DaysOfCreation
				, PeriodStartMatching
				, PeriodEndMatcing
				, Amount
				, PeriodOfStart
				, PeriodOfEnd
				, PromoPlanSubmissionDays
				, PromoPlanSubmittedBfrQuarterStart90
				, AvailabilityInOptima
				, OptimaCreationBrfActivityStart60
				, OptimaPeriodMatch
				, OptimaAmountMatch
				, OptimaDescMatch
				, OptimaMechanismMatch
				, OptimaDescAndMechanismMatch
				, SKPAvailability
				, SKPAvailBfrActivityStart60
				, SKPPeriodMatch
				, SKPAmountMatch
				, SKPMechanismMatch
				, SKPSigned7
				, ActivityAuditCompliance
				, ExtendedPeriodMatch
				, ExtendedAmountMatch
				, ExtendedMechanismMatch
				, ReconNKA
				, AdjustBudgetRecon
				, FeedbackOnPostROI
				, AgingDNBySales
				, JobTitle1
				, JobTitle2
		from tbtemp_kpi_scoring 
		where 
			month(StartPlanning) = @month and year(StartPlanning) = @year
			AND  CONVERT(varchar(8),EndPlanning,112) <= CONVERT(varchar(8),@create_to,112)

		SELECT
			@PromoPlanSubmittedBfrQuarterStart90_Score = ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0) 
			, @ScoreboardPromoPlan = ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0)			
			, @PromoPlanSubmittedBfrQuarterStart90_Score_pct = (ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0))/2 *100
			, @Overall_Score_pct = ((ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0))+ --PromoPlanSubmittedBfrQuarterStart90_Score_pct	--persen promo plan submitted h-90
		 ((ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0))
			+ (ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0)))+ --ScoreboardAccuracy_OptimaInput_vs_PromoPlan_pct	--persen accuracy on optima vs promo plan
		((ISNULL(SUM(CASE WHEN SKPAvailBfrActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0))
			+ (ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0)))+	--ScoreboardAccuracy_SKP_vs_Optima_pct	--persen accuracy on skp
		 0.00 --ScoreboardReconMonitoring_pct	--persen reconciliation monitoring	
		 )/18  *100
		FROM @Temp_Monitoring
		WHERE IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0', '', @userid)
	
		UPDATE #Res_Monitoring SET 
			PromoPlanSubmittedBfrQuarterStart90_Score = @PromoPlanSubmittedBfrQuarterStart90_Score
			, ScoreboardPromoPlan = @ScoreboardPromoPlan
			, PromoPlanSubmittedBfrQuarterStart90_Score_pct = @PromoPlanSubmittedBfrQuarterStart90_Score_pct
			, Overall_Score_pct = @Overall_Score_pct
	END
	SELECT * FROM #Res_Monitoring
	DROP TABLE IF EXISTS #Res_Monitoring

END
GO
