USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_xml_generate_accrual_byid]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_xml_generate_accrual_byid]
@id int

AS

--DECLARE @id int
--SET @id = 98

BEGIN
DECLARE
@closingdt date
, @accrutype int

SET @closingdt=(SELECT ClosingDt FROM tbhis_accrual_report_hdr WHERE id=@id)

set @accrutype=cast(left(CAST(@id as varchar),1) as int)
set @id=cast(right(CAST(@id as varchar),LEN(CAST(@id as varchar))-1) as int)

	SELECT
		a.EntityId PrincipalId
		,PrincipalDesc
		,'ID9' as OrderCBU
		, 'ZID9ORDERS_01' as OrderLogicalMessage
		, SoldToCode as SoldToCode
		, 'B' as TypeOfSoldToCode
		,SoldToCode as ShipToCode
		, 'B' as TypeofShipToCode
		, ' ' as OtherPartnerCode
		, ' ' as PartnerFunctionOfOtherPartner
		,' ' as TypeOfOtherPartnerCode
		, ' ' as OtherPartnerCode2
		, ' ' as PartnerFunctionOfOtherPartner2
		, ' ' as TypeOfOtherPartnerCode2
		,' ' as OtherPartnerCode3
		, ' ' as PartnerFunctionOfOtherPartner3
		, ' ' as TypeOfOtherPartnerCode3
		, ' ' as PaymentTerm
		, a.PromoNumber as PONumber
		, CONVERT(varchar(8), @closingdt,112) as RequestedDeliveryDate
		, ' ' as RequestedDeliveryTime
		, ' ' as PODate
		, 'ZTD5' as OrderType
		, CASE WHEN a.EntityId=2 THEN '4450' ELSE CASE WHEN a.EntityId=3 THEN '5600' ELSE CASE WHEN a.EntityId=4 THEN '5610' ELSE ' ' END END END as SalesOrg
		, '00' as Channel
		, '00' as Division
		, ' ' as DeliveryBlock
		, ' ' as BillingBlock
		, ' ' as ShippingCondition
		, ' ' as ShippingType
		, a.PromoNumber as Assignment
		, ' ' as OrderReason
		, ' ' as PurchaseOrderType
		, ' ' as OrderModificationReason
		, ' ' as ShipToPartysPurchaseOrderNumber
		, ' ' as ShipToPartysPurchaseOrderDate
		, ' ' as TypeDocumentInReferenceHeader
		, ' ' as DocumentInReference
		, ' ' as SoldToYourReference
		, ' ' as ShipToYourReference
		, ' ' as ShipToName1
		, ' ' as ShipToName2
		, ' ' as ShipToStreet
		, ' ' as ShipToPostalCode
		, ' ' as ShipToCity
		, ' ' as ShipToCountry
		, ' ' as TextType
		, ' ' as DetailOfText
		, ' ' as TextType2
		, ' ' as DetailOfText2
		, ' ' as ItemNumber
		, Material as material
		, 'B' as TypeOfMaterialCode
		, ' ' as ItemCategory
		, 1 as Quantity
		, 'PCE' as UnitOfQuantity
		, ' ' as PlannedGoodIssueDate
		--, 'ZTA5' as PriceCondition
		,  IIF(@accrutype=1, c.PriceConditionForAccrual, c.PriceConditionForAccrualReversal) as PriceCondition
		, ' ' as PriceList
		, ' ' as Sign
		, format(AccrueYTD,'#') as Value
		, ' ' as ConditionPricingUnit
		, ' ' as UnitOfPrice
		, ' ' as ConditionCurrency
		, CASE WHEN a.EntityId=2 THEN '4450' ELSE CASE WHEN a.EntityId=3 THEN '5600' ELSE CASE WHEN a.EntityId=4 THEN '5610' ELSE ' ' END END END as Plant
		, ' ' as StorageLocation
		, ' ' as ItemUsage
		, ' ' as BatchNumber
		, ' ' as InternalOrder
		, ' ' as ShiptoPartysPurchaseOrderNumber
		, ' ' as TypeDocumentInReferenceLine
		, ' ' as ItemInReference
		, ' ' as ItemTextType
		, ' ' as ItemTextLanguage
		, ' ' as ItemDetailOfText
		, ' ' as ItemTextType2
		, ' ' as ItemTextLanguage2
		, ' ' as ItemDetailOfText2
		FROM tbhis_accrual_report_dtl a
		inner join tbtrx_promo b on a.PromoNumber=b.RefId
		left join tbset_mapping_pricecondition c on b.ActivityId=c.ActivityId
		WHERE a.Id=@id

END
GO
