USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_reminder_jummy]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_reminder_jummy]
AS 
/*
 * SP ini untuk landing page dg category percation, warning, critical
 * untuk kirim notif email bikin SP baru yg manggil SP ini, dimana aging % frequency = 0
 */
BEGIN
	DECLARE @query nvarchar(MAX);
	DECLARE @id int;
	DECLARE @reminder_desc nvarchar(50);
	DECLARE @frequency int;
	DECLARE @strcondition nvarchar(50);
	DECLARE @Temp TABLE
	(
		id int,
		parentid int,
		aging int
		,reminderid int
	)
	;
	
	DECLARE cursor_reminder CURSOR
	FOR SELECT id, description, frequency, CASE WHEN daysfrom <> daysto THEN concat('BETWEEN ',daysfrom,' AND ', daysto) ELSE concat('> ', daysto) END 
		FROM tbset_config_reminder
--		WHERE id=1
	;
	 
	OPEN cursor_reminder;
	FETCH NEXT FROM cursor_reminder
	INTO @id, @reminder_desc, @frequency, @strcondition;

	WHILE @@FETCH_STATUS = 0
	BEGIN
--		SET @id=CONVERT(INT,@id)
--		SET @query='select id, aging, description, ''' + @reminder_desc + ''' from tbset_config_test tct where aging ' + @strcondition;
--		SET @query='select id, aging, description, @id from tbset_config_test tct where aging ' + @strcondition;
		SET @query='SELECT a.id, a.parentid, datediff(day, b.RequestDate, getdate()) as aging, @id
			FROM tbtrx_promo_request_approval a INNER JOIN tbtrx_promo_approval b ON a.id=b.RequestId 
			WHERE b.Status = ''TP1'' AND IsOnGoing = 1 AND datediff(day, b.RequestDate, getdate()) ' + @strcondition;
	
		INSERT INTO @Temp EXEC sp_executesql @query, N'@id int', @id
		FETCH NEXT FROM cursor_reminder
		INTO @id, @reminder_desc, @frequency, @strcondition;
	END

	CLOSE cursor_reminder;
	DEALLOCATE cursor_reminder;

--	SELECT a.*, b.description as reminder_category, b.frequency 
--	FROM @Temp a inner join tbset_config_reminder b on a.reminderid=b.id;
	SELECT a.*, b.userapprover, b.status, b.requestdate, b.isongoing, b.notes, datediff(day, b.RequestDate, getdate()) as aging, 
	y.description as reminder_category, y.frequency, case when datediff(day, b.RequestDate, getdate()) % y.frequency = 0 THEN 1 ELSE 0 END as send,
	tu1.email as initiatiorEmail, tu2.email as UserApproverEmail
	FROM @Temp z inner join tbtrx_promo_request_approval a ON z.id=a.id
	INNER JOIN tbtrx_promo_approval b ON a.id=b.RequestId and b.IsOnGoing = 1
	inner join tbset_config_reminder y on z.reminderid=y.id
	inner join tbset_user tu1 on a.createby = tu1.id
	inner join tbset_user tu2 on b.userapprover = tu2.id

END
GO
