USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_ps_value_promoid_get]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_ps_value_promoid_get] 
	@period int
	, @distributorid int
	, @groupbrandid int
	, @promostart date
	, @promoend date


AS

--DECLARE
--	@period int
--	, @distributorid int
--	, @groupbrandid int
--	, @promostart date
--	, @promoend date

--	SET @period = 2025
--	SET @distributorid = 2
--	SET @groupbrandid = 1
--	SET @promostart = '2024-01-01'
--	SET	@promoend = '2024-03-31'
	
	----EXEC [ip_ps_value_promoid_get] @period, @distributorid, @groupbrandid, @promostart, @promoend

BEGIN
	DECLARE 
		@SQL NVARCHAR(MAX)
		, @sumSQL NVARCHAR(MAX)
		, @ssvalue numeric(18,0)
		, @apstart int
		, @apend int

	SET @apstart=MONTH(@promostart)
	SET @apend=MONTH(@promoend)

	WHILE @apstart <= @apend
		BEGIN
			SET @sumSQL = CONCAT(@sumSQL, '(ISNULL(a.m',@apstart,',0))+')
			SET @apstart = @apstart + 1
		/* do some work */
		END
	SET @sumSQL = LEFT(@sumSQL, LEN(@sumSQL)-1) 

	SET @SQL = CONCAT('
		SELECT 
			ROUND(SUM(',@sumSQL,'),0) ssvalue
		FROM tbtrx_ps_value a
		WHERE 
			a.period= ',@period,'
			AND a.distributorid = ',@distributorid,'
			AND a.groupbrandid = ',@groupbrandid,'
		GROUP BY a.period, a.distributorid, a.groupbrandid'
		)

	EXEC sys.sp_executesql @SQL
END
GO
