USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_mst_mechanism_upload]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_mst_mechanism_upload]
@mechanism MstMechanismType READONLY
,@userid varchar(50)
,@useremail varchar(100)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--    DECLARE
--    @id UNIQUEIDENTIFIER;
--
--	SET @id = NEWID();

	TRUNCATE TABLE TempMstMechanismType
	INSERT INTO TempMstMechanismType
	SELECT * from @mechanism
BEGIN TRY
BEGIN TRANSACTION

	DECLARE @mechanism_multi as MstMechanismType

	INSERT INTO @mechanism_multi
		SELECT entity, SubCategory, TRIM(a.value) as activity, subactivity, TRIM(c.value) as SKU, requirement, discount, CONCAT(requirement, ' ', TRIM(c.value), ' ', Discount) mechanism, TRIM(b.value) as channel, IIF(CHARINDEX('-',StartPromo)=0, CONVERT(varchar,CAST(StartPromo - 2 as SMALLDATETIME),105), StartPromo), IIF(CHARINDEX('-',EndPromo)=0, CONVERT(varchar,CAST(EndPromo - 2 as SMALLDATETIME),105), EndPromo)
		FROM @mechanism
		CROSS APPLY STRING_SPLIT(activity, ',') a
		CROSS APPLY STRING_SPLIT(channel, ',') b
		CROSS APPLY STRING_SPLIT(sku, ',') c

	
	DROP TABLE IF EXISTS #mechanism123
	SELECT ROW_NUMBER() OVER(ORDER BY activity ASC) AS RowID, * into #mechanism123 FROM @mechanism_multi

    declare @temp as TABLE
    (
         doc varchar(255),
         [status] varchar(255)
	)
	
	--declare @tbfailed as MstMechanismType
	DECLARE @tbfailed as TABLE 
	(
		RowID INT,
		[Entity] [varchar](max) NULL,
		[SubCategory] [varchar](max) NULL,
		[Activity] [varchar](max) NULL,
		[SubActivity] [varchar](max) NULL,
		[SKU] [varchar](max) NULL,
		[Requirement] [varchar](max) NULL,
		[Discount] [varchar](max) NULL,
		[Mechanism] [varchar](max) NULL,
		[Channel] [varchar](max) NULL,
		[StartPromo] [varchar](max) NULL,
		[EndPromo] [varchar](max) NULL

	)

	/* Cek Entity */
	INSERT INTO @temp
	SELECT DISTINCT a.Entity + ' => ' + a.Mechanism, 'Entity not found'
	FROM #mechanism123 a
	LEFT JOIN tbmst_principal b on a.Entity=b.LongDesc  
	WHERE b.Id is null and isnull(b.IsDeleted, 0)=0
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	LEFT JOIN tbmst_principal b on a.Entity=b.LongDesc  
	WHERE b.Id is null and isnull(b.IsDeleted, 0)=0
	
	/* Cek Sub Category */
	INSERT INTO @temp
	SELECT DISTINCT a.SubCategory + ' => ' + a.Mechanism, 'Sub Category not found'
	FROM #mechanism123 a
	LEFT JOIN tbmst_subcategory b on a.SubCategory=b.LongDesc
	WHERE b.Id is null and a.SubCategory<>'ALL' and isnull(b.IsDeleted, 0)=0
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	LEFT JOIN tbmst_subcategory b on a.SubCategory=b.LongDesc
	WHERE b.Id is null and a.SubCategory<>'ALL' and isnull(b.IsDeleted, 0)=0

	
	/* Cek Channel<>ALL */
	INSERT INTO @temp
	SELECT DISTINCT a.Channel + ' => ' + a.Mechanism, 'Channel not found'
	FROM #mechanism123 a
	LEFT JOIN tbmst_channel b on a.Channel=b.LongDesc  
	WHERE a.Channel<>'ALL' AND b.Id is null and isnull(b.IsDelete, 0)=0

	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	LEFT JOIN tbmst_channel b on a.Channel=b.LongDesc  
	WHERE a.Channel<>'ALL' AND b.Id is null and isnull(b.IsDelete, 0)=0
	
	/* Cek SKU/Product */
	INSERT INTO @temp
	SELECT DISTINCT a.SKU + ' => ' + a.Mechanism, 'SKU not found'
	FROM #mechanism123 a
	LEFT JOIN tbmst_product b on a.SKU=b.LongDesc  
	WHERE b.Id is null and isnull(b.IsDeleted, 0)=0
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	LEFT JOIN tbmst_product b on a.SKU=b.LongDesc  
	WHERE b.Id is null and isnull(b.IsDeleted, 0)=0
	
	/* Cek Entity SKU */
	INSERT INTO @temp
	SELECT DISTINCT a.Entity + ' => ' + a.Mechanism, 'Entity and SKU not match'
	FROM #mechanism123 a
	LEFT JOIN (
		SELECT tp2.longdesc Entity,tp.LongDesc SKU
		FROM tbmst_product tp INNER JOIN tbmst_principal tp2 on tp.principalid=tp2.Id 
		WHERE isnull(tp.isdeleted,0)=0 and isnull(tp2.IsDeleted,0)=0
	) b on a.Entity = b.Entity and a.SKU=b.SKU	
	WHERE b.Entity is null
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
		LEFT JOIN (
		SELECT tp2.longdesc Entity,tp.LongDesc SKU
		FROM tbmst_product tp INNER JOIN tbmst_principal tp2 on tp.principalid=tp2.Id 
		WHERE isnull(tp.isdeleted,0)=0 and isnull(tp2.IsDeleted,0)=0
	) b on a.Entity = b.Entity and a.SKU=b.SKU	  
	WHERE b.Entity is null
	
	/* Cek hirarki */
	INSERT INTO @temp
	SELECT concat(a.Entity, '; ', a.SubCategory, '; ', a.Activity, '; ', a.SubActivity, '; ', a.SKU, '; ', a.Mechanism, '; ', a.Channel, '; ', a.StartPromo, '; ', a.EndPromo), 'Hierarchy not found'
	FROM #mechanism123 a
	LEFT JOIN vw_activity b ON a.SubCategory=b.SubCategoryDesc AND a.Activity=b.ActivityDesc AND a.SubActivity=b.SubActivityDesc 
	WHERE b.SubCategoryId is null AND a.SubCategory<>'ALL'

	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	LEFT JOIN vw_activity b ON a.SubCategory=b.SubCategoryDesc AND a.Activity=b.ActivityDesc AND a.SubActivity=b.SubActivityDesc 
	WHERE b.SubCategoryId is null AND a.SubCategory<>'ALL'
	
	/* Cek hirarki sub category ALL*/
	INSERT INTO @temp
	SELECT concat(a.Entity, '; ', a.SubCategory, '; ', a.Activity, '; ', a.SubActivity, '; ', a.SKU, '; ', a.Mechanism, '; ', a.Channel, '; ', a.StartPromo, '; ', a.EndPromo), 'Hierarchy not found'
	FROM #mechanism123 a
	LEFT JOIN vw_activity b ON a.Activity=b.ActivityDesc AND a.SubActivity=b.SubActivityDesc 
	WHERE b.SubCategoryId is null AND a.SubCategory='ALL'
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	LEFT JOIN vw_activity b ON a.Activity=b.ActivityDesc AND a.SubActivity=b.SubActivityDesc 
	WHERE b.SubCategoryId is null AND a.SubCategory='ALL'
	
	/* Cek start end promo*/
	INSERT INTO @temp
	SELECT a.Mechanism, 'End Date cannot be less than Start Date'
	FROM #mechanism123 a
	WHERE CONVERT(date, a.StartPromo, 105) > CONVERT(date, a.EndPromo, 105)
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	WHERE CONVERT(date, a.StartPromo, 105) > CONVERT(date, a.EndPromo, 105)
	
	/* Cek existing mechanism*/
	INSERT INTO @temp
	SELECT concat(a.Entity, '; ', a.SubCategory, '; ', a.Activity, '; ', a.SubActivity, '; ', a.SKU, '; ', a.Mechanism, '; ', a.Channel, '; ', a.StartPromo, '; ', a.EndPromo), 'Mechanism is exist'
	FROM #mechanism123 a 
	INNER JOIN tbmst_mechanism mst on a.Entity=mst.Entity 
		AND a.SubCategory = mst.SubCategory 
		AND a.Activity = mst.Activity
		AND a.SubActivity = mst.SubActivity 
		AND a.SKU = mst.Product
		AND a.Channel = mst.Channel 
		AND a.Mechanism = mst.Mechanism 
		and CONVERT(date, a.StartPromo, 105)=mst.StartDate and CONVERT(date, a.EndPromo, 105)=mst.EndDate
	
	INSERT INTO @tbfailed
	SELECT a.*
	FROM #mechanism123 a
	INNER JOIN tbmst_mechanism mst on a.Entity=mst.Entity 
		AND a.SubCategory = mst.SubCategory 
		AND a.Activity = mst.Activity
		AND a.SubActivity = mst.SubActivity 
		AND a.SKU = mst.Product
		AND a.Channel = mst.Channel 
		AND a.Mechanism = mst.Mechanism 
		and CONVERT(date, a.StartPromo, 105)=mst.StartDate and CONVERT(date, a.EndPromo, 105)=mst.EndDate
		
	/*insert mechanism */
	INSERT INTO tbmst_mechanism (
		Entity  
		,SubCategory  
		,Activity
		,SubActivity 
		,ProductId
		,Product
		,Requirement
		,Discount
		,Mechanism
		,ChannelId
		,Channel
		,StartDate
		,EndDate
		,CreateOn
		,CreateBy
		,CreatedEmail
	)
	SELECT
		a.Entity 
		, a.SubCategory 
		, a.Activity 
		, a.SubActivity 
		, mp.Id
		, a.SKU
		, a.Requirement
		, a.Discount
		, a.Mechanism
		, IIF(mc.Id is null, 0, mc.Id)
		, a.Channel 
		, CONVERT(date, a.StartPromo, 105)
		, CONVERT(date, a.EndPromo, 105)
		, @utcDate123
		, @userid
		, @useremail
	FROM #mechanism123 a 
	INNER JOIN tbmst_product mp on a.SKU=mp.LongDesc 
	LEFT JOIN tbmst_channel mc on a.Channel = mc.LongDesc
	LEFT JOIN tbmst_mechanism tm 
	ON tm.Entity = a.Entity 
	AND tm.SubCategory = a.SubCategory 
	AND tm.Activity = a.Activity 
	AND tm.SubActivity = a.SubActivity 
	AND tm.Product = a.SKU 
	AND tm.Channel = a.Channel 
	AND tm.Mechanism = a.Mechanism 
	AND tm.StartDate = CONVERT(date, a.StartPromo, 105)
	AND tm.EndDate = CONVERT(date, a.EndPromo, 105)
	WHERE tm.Mechanism IS NULL
	AND isnull(mp.IsDeleted, 0) = 0
	AND isnull(mc.IsDelete, 0) = 0
	AND a.RowID NOT IN (SELECT RowId FROM @tbfailed)

    COMMIT

    IF EXISTS(SELECT * FROM @temp)
    BEGIN
		select doc,[status]
        from @temp

		DECLARE @totRec INT, @failedRec INT, @successRec INT

		SET @totRec = (SELECT count(RowId) FROM #mechanism123)
		SET @failedRec = (SELECT count(DISTINCT RowId) FROM @tbfailed)
		SET @successRec = @totRec - @failedRec

		SELECT @totRec totRec, @failedRec failedRec, @successRec successRec

            RETURN
  	END

END TRY
BEGIN CATCH
    ROLLBACK
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
    	@ErrorMessage = ERROR_MESSAGE(),
      	@ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
    RAISERROR (@ErrorMessage, -- Message text.
        @ErrorSeverity, -- Severity.
        @ErrorState -- State.
        );

END CATCH
GO
