

/****** Object:  StoredProcedure [dbo].[ip_dnid_workflow_history]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_dnid_workflow_history] --1
@refid varchar(50)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

--declare @id int
--set @id=425

BEGIN
/************
xxxx
************/
DECLARE @id int
SELECT @id=id FROM dbo.tbtrx_debetnote where RefId like '%'+@RefId+'%'

DECLARE @Temp TABLE
	(
	id int,
	strdtime varchar(100)
	, userid varchar(100)
		, loginemail varchar(100)
		, [status] varchar(100)
		, dpp bigint
		, [action] varchar(max)
		, dtime datetime
	)
	insert into @Temp 
		select log.id,format(log.CreateOn,'dd/MM/yyyy HH:mm'), log.CreateBy, log.createdemail, log.laststatus, log.dpp, iif(log.dnstatus='rejected_by_sales', CONCAT(iif(tp.CategoryShortDesc = 'DC', 'Rejected - ', 'Remark by sales - '), log.notes), iif(log.dnstatus='sendback_by_distributor', 'Waiting validate by sales', iif(log.dnstatus like '%rejected%', CONCAT('Rejected - ', log.notes), iif((log.dnstatus='ready_to_invoice' and log.notes like 'invoice%') OR log.dnstatus='invoice', log.notes, '')))), log.CreateOn 
			from tbtrx_debetnote_status_log log
			inner join tbtrx_debetnote td on log.DNId = td.id
			left join tbtrx_promo tp on td.PromoId = tp.id
			where log.dnid=@id

		select * from @Temp order by convert(datetime, dtime) desc, id desc, [status] asc

--dummy		--select format(@utcDate123,'dd/mm/yyyy hh:ss') dtime, 'admin' userid, 'lukman.hand@danone.com' loginemail, 'conform_paid' status, 123000 dpp, 'rejection' action

END
GO
