USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_kpi_scoring_summary]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_kpi_scoring_summary]
--declare
@create_from date
,@create_to date
,@userid varchar(50)

--set @create_from ='2020-01-01'
--set @create_to ='2020-12-31'
--set @userid ='0'
AS
BEGIN
	DECLARE 
		@Creator varchar(50)
	
	DECLARE @Temp TABLE
	(
		DistributorId int
		, DistributorShortDesc varchar(50)
		, EntityId int
		, PrincipalShortDesc varchar(50)
		, PromoPlanCreateBy varchar(50)
		, PromoPlanCreateOn datetime
		, RegionDesc nvarchar(max)
		, SubActivityTypeId int
		, SubActivityType varchar(50)
		, CategoryId int
		, Category varchar(50)
		, SubCategoryId int
		, SubCategory varchar(50)
		, ActivityId int
		, Activity varchar(50)
		, SubActivityId int
		, SubActivity varchar(50)
		, StartPlanning date
		, EndPlanning date
		, ChannelDesc nvarchar(max)
		, SubChannelDesc nvarchar(max)
		, AccountDesc nvarchar(max)
		, SubAccountDesc nvarchar(max)
		, TSCode varchar(50)
		, BrandDesc nvarchar(max)
		, SKUDesc nvarchar(max)
		, SourceOfPromo varchar(50)
		, PromotionType varchar(50)
		, ActivityDesc varchar(255)
		, Mechanisme1 varchar(255)
		, Mechanisme2 varchar(255)
		, Mechanisme3 varchar(255)
		, Mechanisme4 varchar(255)
		, Investment numeric(19,2)
		, BaselineSales numeric(19,2)
		, UpliftSales numeric(19,2)
		, TotalSales numeric(19,2)
		, UpliftSalesPersen numeric(19,2)
		, ROIPersen numeric(19,2)
		, PromodId int
		, PromoRefId varchar(50)
		, Creator varchar(50) 
		, CreationDate datetime
		, PeriodStart datetime
		, PeriodEnd datetime
		, PromoAmount numeric(19,2)
		, today datetime 
		, Quater2Start datetime
		, today60 datetime
		, DaysOfCreation numeric(19,3)
		, PeriodStartMatching numeric(19,3)
		, PeriodEndMatcing numeric(19,3)
		, Amount numeric(19,3)
		, PeriodOfStart numeric(19,3)
		, PeriodOfEnd numeric(19,3)
		, PromoPlanSubmissionDays numeric(19,3)
		, PromoPlanSubmittedBfrQuarterStart90 varchar(1)
		, AvailabilityInOptima varchar(1)
		, OptimaCreationBrfActivityStart60 varchar(1)
		, OptimaPeriodMatch varchar(1)
		, OptimaAmountMatch varchar(1)
		, OptimaDescMatch varchar(1)
		, OptimaMechanismMatch varchar(1)
		, OptimaDescAndMechanismMatch varchar(1)
		, SKPAvailability varchar(1)
		, SKPAvailBfrActivityStart60 varchar(1)
		, SKPPeriodMatch varchar(1)
		, SKPAmountMatch varchar(1)
		, SKPMechanismMatch varchar(1)
		, SKPSigned7 varchar(1)
		, ActivityAuditCompliance varchar(1)
		, ExtendedPeriodMatch varchar(1)
		, ExtendedAmountMatch varchar(1)
		, ExtendedMechanismMatch varchar(1)
		, ReconNKA varchar(1)
		, AdjustBudgetRecon varchar(1)
		, FeedbackOnPostROI varchar(1)
		, AgingDNBySales varchar(1)
		, JobTitle1 varchar(100)
		, JobTitle2 varchar(100)
	)
	
--		INSERT INTO @Temp
--		EXEC ip_kpi_scoring @create_from, @create_to, @userid
		INSERT INTO @Temp
			select distinct
				DistributorId
				, DistributorShortDesc
				, EntityId
				, PrincipalShortDesc
				, PromoPlanCreateBy
				, PromoPlanCreateOn
				, RegionDesc
				, SubActivityTypeId
				, SubActivityType
				, CategoryId
				, Category
				, SubCategoryId
				, SubCategory
				, ActivityId
				, Activity
				, SubActivityId
				, SubActivity
				, StartPlanning
				, EndPlanning
				, ChannelDesc
				, SubChannelDesc
				, AccountDesc
				, SubAccountDesc
				, TSCode
				, BrandDesc
				, SKUDesc
				, SourceOfPromo
				, PromotionType
				, ActivityDesc
				, Mechanisme1
				, Mechanisme2
				, Mechanisme3
				, Mechanisme4
				, Investment
				, BaselineSales
				, UpliftSales
				, TotalSales
				, UpliftSalesPersen
				, ROIPersen
				, PromoId
				, PromoRefId
				, Creator 
				, CreationDate
				, PeriodStart
				, PeriodEnd
				, PromoAmount
				, today 
				, Quater2Start
				, today60
				, DaysOfCreation
				, PeriodStartMatching
				, PeriodEndMatcing
				, Amount
				, PeriodOfStart
				, PeriodOfEnd
				, PromoPlanSubmissionDays
				, PromoPlanSubmittedBfrQuarterStart90
				, AvailabilityInOptima
				, OptimaCreationBrfActivityStart60
				, OptimaPeriodMatch
				, OptimaAmountMatch
				, OptimaDescMatch
				, OptimaMechanismMatch
				, OptimaDescAndMechanismMatch
				, SKPAvailability
				, SKPAvailBfrActivityStart60
				, SKPPeriodMatch
				, SKPAmountMatch
				, SKPMechanismMatch
				, SKPSigned7
				, ActivityAuditCompliance
				, ExtendedPeriodMatch
				, ExtendedAmountMatch
				, ExtendedMechanismMatch
				, ReconNKA
				, AdjustBudgetRecon
				, FeedbackOnPostROI
				, AgingDNBySales
				, JobTitle1
				, JobTitle2
		from tbtemp_kpi_scoring 
		where 
			((CONVERT(varchar(8),@create_to,112) >= CONVERT(varchar(8),StartPlanning,112) AND  CONVERT(varchar(8),@create_to,112) <= CONVERT(varchar(8),EndPlanning,112))
			or
			(CONVERT(varchar(8),EndPlanning,112) >= CONVERT(varchar(8),@create_from,112) AND  CONVERT(varchar(8),EndPlanning,112) <= CONVERT(varchar(8),@create_to,112)))
			AND IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0','', @userid) 

	--IF @userid='0'
	--BEGIN
	--	SET @Creator=(SELECT username from tbset_user where Id='admin')
	--END
	--ELSE
	--BEGIN
	--	SET @Creator=(SELECT username from tbset_user where Id=@userid)
	--END
	
	
	select 
	PromoPlanCreateBy
	, b.username as Creator
	, count(PromoPlanCreateBy) as PromoPlanEvaluated 
--Detailed Promo Plan 
--Submitted 90 days before Quarterly ( Q2 ) Start	
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1 END), 0) as PromoPlanSubmittedBfrQuarterStart90_Y
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'N' THEN 1 END), 0) as PromoPlanSubmittedBfrQuarterStart90_N
	, COUNT(PromoPlanSubmittedBfrQuarterStart90) as PromoPlanSubmittedBfrQuarterStart90_Total
	, ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0) as PromoPlanSubmittedBfrQuarterStart90_Score
/*2. Accuracy on Optima Input vs Promo Plan*/
--Activity Period Matching	
	, ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1 END), 0) as OptimaPeriodMatch_Y
	, ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'N' THEN 1 END), 0) as OptimaPeriodMatch_N
	, COUNT(OptimaPeriodMatch) as OptimaPeriodMatch_Total
	, ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0) as OptimaPeriodMatch_Score
--Activity Desc & Mechanism Matching
	, ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1 END), 0) as OptimaDescAndMechanismMatch_Y
	, ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'N' THEN 1 END), 0) as OptimaDescAndMechanismMatch_N
	, COUNT(OptimaDescAndMechanismMatch) as OptimaDescAndMechanismMatch_Total
	, ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0) as OptimaDescAndMechanismMatch_Score
--Budget Amount Matching
	, ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1 END), 0) as OptimaAmountMatch_Y
	, ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'N' THEN 1 END), 0) as OptimaAmountMatch_N
	, COUNT(OptimaAmountMatch) as OptimaAmountMatch_Total
	, ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0) as OptimaAmountMatch_Score
--Optima & SKP Draft Created H-60 from Period Start
	, ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1 END), 0) as OptimaCreationBrfActivityStart60_Y
	, ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'N' THEN 1 END), 0) as OptimaCreationBrfActivityStart60_N
	, COUNT(OptimaCreationBrfActivityStart60) as OptimaCreationBrfActivityStart60_Total
	, ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0) as OptimaCreationBrfActivityStart60_Score
/*3. Accuracy on SKP vs Optima*/
	/*SKP PERIOD MATCH*/
	, ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1 END), 0) as SKPPeriodMatch_Y
	, ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'N' THEN 1 END), 0) as SKPPeriodMatch_N
	, COUNT(SKPPeriodMatch) as SKPPeriodMatch_Total
	, ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0) as SKPPeriodMatch_Score
	/*SKP AMOUNT MATCH*/
	, ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1 END), 0) as SKPAmountMatch_Y
	, ISNULL(SUM(CASE WHEN SKPAmountMatch = 'N' THEN 1 END), 0) as SKPAmountMatch_N
	, COUNT(SKPAmountMatch) as SKPAmountMatch_Total
	, ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0) as SKPAmountMatch_Score
	/*SKP MECHANISM MATCH*/
	, ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1 END), 0) as SKPMechanismMatch_Y
	, ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'N' THEN 1 END), 0) as SKPMechanismMatch_N
	, COUNT(SKPMechanismMatch) as SKPMechanismMatch_Total
	, ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0) as SKPMechanismMatch_Score
	/*SKP SIGNED 7*/
	, ISNULL(SUM(CASE WHEN SKPSigned7 = 'Y' THEN 1 END), 0) as SKPSigned7_Y
	, ISNULL(SUM(CASE WHEN SKPSigned7 = 'N' THEN 1 END), 0) as SKPSigned7_N
	, COUNT(SKPSigned7) as SKPSigned7_Total
	, ISNULL(SUM(CASE WHEN SKPSigned7 = 'Y' THEN 1.00 END) / COUNT(SKPSigned7) * 1, 0) as SKPSigned7_Score
/*4. Activity Audit Compliance*/
	, 0 as ActivityAuditCompliance_Y
	, 0 as ActivityAuditCompliance_N
	, 0 as ActivityAuditCompliance_Total
	, 0 as ActivityAuditCompliance_Score
/*5. Reconcilliation Monitoring*/
	/*Reconcilliation 60 days for NKA, 90 days for Non NKA after promo end*/
	, ISNULL(SUM(CASE WHEN ReconNKA = 'Y' THEN 1 END), 0)  as ReconNKA_Y
	, ISNULL(SUM(CASE WHEN ReconNKA = 'N' THEN 1 END), 0)  as ReconNKA_N
	, sum(iif(ReconNKA='',0,1)) as ReconNKA_Total
	, (ISNULL(SUM(CASE WHEN ReconNKA = 'Y' THEN 1.00 END) / sum(iif(ReconNKA='',0,1)) * 3, 0)) as ReconNKA_Score
	/*Adjust Budget in Optima 3 days after reconcillation*/
	, ISNULL(SUM(CASE WHEN AdjustBudgetRecon = 'Y' THEN 1 END), 0) as AdjustBudgetRecon_Y
	, ISNULL(SUM(CASE WHEN AdjustBudgetRecon = 'N' THEN 1 END), 0) as AdjustBudgetRecon_N
	, sum(iif(AdjustBudgetRecon='',0,1))  as AdjustBudgetRecon_Total
	, (ISNULL(SUM(CASE WHEN AdjustBudgetRecon = 'Y' THEN 1.00 END) / sum(iif(AdjustBudgetRecon='',0,1)) * 3, 0))  as AdjustBudgetRecon_Score
	/*Perform Feedback on Post ROI*/
	, ISNULL(SUM(CASE WHEN FeedbackOnPostROI = 'Y' THEN 1 END), 0) as FeedbackOnPostROI_Y
	, ISNULL(SUM(CASE WHEN FeedbackOnPostROI = 'N' THEN 1 END), 0) as FeedbackOnPostROI_N
	, sum(iif(FeedbackOnPostROI='',0,1))  as FeedbackOnPostROI_Total
	, (ISNULL(SUM(CASE WHEN FeedbackOnPostROI = 'Y' THEN 1.00 END) / sum(iif(FeedbackOnPostROI='',0,1)) * 3, 0))  as FeedbackOnPostROI_Score
/*6. Outstanding Invoice*/
	/*Aging DN after received by Sales : 3 days for DN need approval, 7 days for DN incomplete*/
	, ISNULL(SUM(CASE WHEN AgingDNBySales = 'Y' THEN 1 END), 0) as AgingDNBySales_Y
	, ISNULL(SUM(CASE WHEN AgingDNBySales = 'N' THEN 1 END), 0) as AgingDNBySales_N
	, sum(iif(AgingDNBySales='',0,1))  as AgingDNBySales_Total
	, (ISNULL(SUM(CASE WHEN AgingDNBySales = 'Y' THEN 1.00 END) / sum(iif(AgingDNBySales='',0,1)) * 3, 0))  as AgingDNBySales_Score
/*7. TOTAL SCORE*/
	/*Total all score*/
	,(ISNULL(SUM(CASE WHEN PromoPlanSubmittedBfrQuarterStart90 = 'Y' THEN 1.00 END) / COUNT(PromoPlanSubmittedBfrQuarterStart90) * 2, 0) --PromoPlanSubmittedBfrQuarterStart90_Score
		+ ISNULL(SUM(CASE WHEN OptimaPeriodMatch = 'Y' THEN 1.00 END) / COUNT(OptimaPeriodMatch) * 1, 0) --OptimaPeriodMatch_Score
		+ ISNULL(SUM(CASE WHEN OptimaDescAndMechanismMatch = 'Y' THEN 1.00 END) / COUNT(OptimaDescAndMechanismMatch) * 2, 0) --OptimaDescAndMechanismMatch_Score
		+ ISNULL(SUM(CASE WHEN OptimaAmountMatch = 'Y' THEN 1.00 END) / COUNT(OptimaAmountMatch) * 1, 0) --OptimaAmountMatch_Score
		+ ISNULL(SUM(CASE WHEN OptimaCreationBrfActivityStart60 = 'Y' THEN 1.00 END) / COUNT(OptimaCreationBrfActivityStart60) * 1, 0) --OptimaCreationBrfActivityStart60_Score
		+ ISNULL(SUM(CASE WHEN SKPPeriodMatch = 'Y' THEN 1.00 END) / COUNT(SKPPeriodMatch) * 1, 0) --SKPPeriodMatch_Score
		+ ISNULL(SUM(CASE WHEN SKPAmountMatch = 'Y' THEN 1.00 END) / COUNT(SKPAmountMatch) * 1, 0) --SKPAmountMatch_Score
		+ ISNULL(SUM(CASE WHEN SKPMechanismMatch = 'Y' THEN 1.00 END) / COUNT(SKPMechanismMatch) * 1, 0) --SKPMechanismMatch_Score
		+ ISNULL(SUM(CASE WHEN SKPSigned7 = 'Y' THEN 1.00 END) / COUNT(SKPSigned7) * 1, 0) --SKPSigned7_Score
		+ 0 --ActivityAuditCompliance_Score
		+ (ISNULL(SUM(CASE WHEN ReconNKA = 'Y' THEN 1.00 END) / sum(iif(ReconNKA='',0,1)) * 3, 0)) 
		+ (ISNULL(SUM(CASE WHEN AdjustBudgetRecon = 'Y' THEN 1.00 END) / sum(iif(AdjustBudgetRecon='',0,1)) * 3, 0))
		+ (ISNULL(SUM(CASE WHEN FeedbackOnPostROI = 'Y' THEN 1.00 END) / sum(iif(FeedbackOnPostROI='',0,1)) * 3, 0))
		+ (ISNULL(SUM(CASE WHEN AgingDNBySales = 'Y' THEN 1.00 END) / sum(iif(AgingDNBySales='',0,1)) * 3, 0))
		) as Total_Score--AgingDNBySales_Score
	, JobTitle1
	, JobTitle2
	FROM @Temp a
	inner join tbset_user b on a.PromoPlanCreateBy=b.id
	WHERE IIF(@userid='0', '', PromoPlanCreateBy) = IIF(@userid='0', '', @userid)
	group by PromoPlanCreateBy, b.username, JobTitle1, JobTitle2
END




GO
