USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_log_upload]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ip_log_upload]
@activity varchar(50)
,@filename varchar (255)
,@profileid	varchar (50)
,@email varchar (100)
,@logstatus varchar (30)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN
	INSERT INTO [dbo].[tblog_upload] (
		LogDate,
		Activity,
		[FileName],
		[ProfileId],
		[Email],
		[LogStatus]
	) VALUES (
		@utcDate123
		,@activity
		,@filename
		,@profileid
		,@email
		,@logstatus
	)

	SELECT SCOPE_IDENTITY()
END
GO
