USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_approval_promo]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_approval_promo] --25,'TP2','','2019-10-21'
@promoid int,
--@statuscode varchar(3),
@statuscode varchar(55),
@notes varchar(255),
@approvaldate datetime

AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN 
	DECLARE
	@p_reqid int
	,@rowcount int
	,@initialstatus varchar(5)
	,@messageout varchar(255)
	,@userid varchar(50)
	,@paramstatus varchar(55)
	,@userapprover varchar(50)
	,@statusApproval varchar(50)
	,@ParentId_his int
	,@useremail varchar(100)
	
	
	
	SET @paramstatus = @statuscode
	SET @statuscode = LEFT(@paramstatus, 3)
	SET @userid = SUBSTRING(@paramstatus, 4, 50)
    set @useremail = (SELECT email FROM tbset_user WHERE id = @userid)
	
	SET @initialstatus=(SELECT StatusApprovalCode from tbtrx_promo where Id=@promoid)
	--Cek Promo approver = @userid
	SET @userapprover = (SELECT Approver FROM tbtrx_promo WHERE id= @promoid)
	SET @statusApproval = (SELECT statusApproval FROM tbtrx_promo WHERE Id=@promoid)

	DELETE from mytmp
	insert INTO mytmp (f1, f2, f3, f4)
	values(@userapprover, @userid, @paramstatus, @initialstatus)

	--IF @userapprover=@userid
	--BEGIN
	--	IF @statuscode='TP3' and @initialstatus='TP3'
	--	BEGIN
	--		SET @messageout='Promo Already send back '
	--	  	RAISERROR (@messageout, -- Message text.  
	--	           16, -- Severity.  
	--	           1 -- State.  
	--	           );  
	--	END
	--	IF @statuscode='TP1' and @initialstatus='TP1'
	--	BEGIN
	--		SET @messageout='Promo Already approved '
	--	  	RAISERROR (@messageout, -- Message text.  
	--	           16, -- Severity.  
	--	           1 -- State.  
	--	           );  
	--	END
	--END
	--ELSE
	--BEGIN

	IF @statusApproval='Sendback'
	BEGIN
		SET @messageout='Promo ID has been sendback to initiator '
	  	RAISERROR (@messageout, -- Message text.  
	           16, -- Severity.  
	           1 -- State.  
	           );  
	
	END
	ELSE
	BEGIN
		IF @userapprover<>@userid
		BEGIN
			SET @messageout='Promo ID has been approved '
			 RAISERROR (@messageout, -- Message text.  
			   16, -- Severity.  
			   1 -- State.  
			   );  
		END
		ELSE
		BEGIN
			IF @initialstatus='TP2'
			BEGIN
				IF @statuscode='TP3'
				BEGIN
					SET @messageout='Promo ID send back failed because it has been approved'
					RAISERROR (@messageout, -- Message text.  
						   16, -- Severity.  
						   1 -- State.  
						   );  

				END
				ELSE
				BEGIN
					IF @statuscode='TP2'
					BEGIN
						SET @messageout='Promo ID has been approved'
						RAISERROR (@messageout, -- Message text.  
							   16, -- Severity.  
							   1 -- State.  
							   );  
		
					END
					ELSE
					BEGIN

						SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@promoid and IsCancel=0)
			
			
						update tbtrx_promo_approval_recon
						SET [Status]=@statuscode
						,Notes=@notes			
						,ActionDate=@utcDate123
						,UserApproverName = usr.username 
						FROM tbtrx_promo_approval_recon prr
						INNER JOIN tbset_user usr ON prr.UserApprover = usr.id
						WHERE RequestId=@p_reqid  AND IsOnGoing=1
			
			
			
						UPDATE tbtrx_promo
						SET StatusApprovalRecon=tbmst_master_status.StatusDesc
						,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
						,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
						,ApproverReconName =tbtrx_promo_approval_recon.UserApproverName 
						,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
						from tbtrx_promo 
						inner join tbtrx_promo_request_approval_recon	
						on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
						inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
						inner join tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
						where tbtrx_promo_request_approval_recon.IsCancel=0
						and tbtrx_promo_approval_recon.IsOnGoing=1
						AND RequestId=@p_reqid
			
						if @statuscode='TP2'
						begin
			
							UPDATE A
							SET IsOnGoing=0
								,UserApproverName=usr.username 
								FROM tbtrx_promo_approval_recon A
								INNER JOIN tbset_user usr on A.UserApprover = usr.id 
								INNER JOIN
								(SELECT MAX(Sequence) Sequence,RequestId
								FROM tbtrx_promo_approval_recon WHERE [Status]='TP2' GROUP BY RequestId) X
								ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
								where A.RequestId=@p_reqid
			
			
							UPDATE A
							SET IsOnGoing=1
								,RequestDate=@utcDate123
								,UserApproverName=usr.username 
								FROM tbtrx_promo_approval_recon A
								INNER JOIN tbset_user usr on A.UserApprover = usr.id 
								INNER JOIN
								(SELECT MIN(Sequence) Sequence,RequestId
								FROM tbtrx_promo_approval_recon WHERE [Status]='TP1' GROUP BY RequestId) X
								ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
								where A.RequestId=@p_reqid
			
			
							UPDATE tbtrx_promo
							SET StatusApprovalRecon=tbmst_master_status.StatusDesc
								,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
								,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
								,ApproverReconName =tbtrx_promo_approval_recon.UserApproverName 
								,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
								from tbtrx_promo 
								inner join tbtrx_promo_request_approval_recon	
								on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
								inner join tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
								inner join tbmst_master_status on StatusCode=tbtrx_promo_request_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
								where tbtrx_promo_request_approval_recon.IsCancel=0
								and tbtrx_promo_approval_recon.IsOnGoing=1
								AND RequestId=@p_reqid
			
			
			
					
							UPDATE TPP
							SET TPP.StatusApprovalCodeRecon=A.[Status]
								,ApproveOnRecon = @utcDate123
								,ApprovalNotesRecon = A.Notes
								,TPP.OldInvest=TPP.Investment
								,ApproverRecon=A.UserApprover
								,ApproverReconName=A.UserApproverName
								FROM tbtrx_promo_approval_recon A
								INNER JOIN tbtrx_promo_request_approval_recon ON A.RequestId=tbtrx_promo_request_approval_recon.Id
								INNER JOIN tbtrx_promo TPP ON TPP.Id=tbtrx_promo_request_approval_recon.ParentId
								INNER JOIN
								(SELECT RequestId,MAX(Sequence) Sequence
								FROM tbtrx_promo_approval_recon GROUP BY RequestId) Y
								ON Y.RequestId=A.RequestId and A.Sequence=Y.Sequence
								where A.RequestId=@p_reqid AND A.[Status]='TP2'
			
							set @rowcount=@@ROWCOUNT
		
							IF @rowcount=1
							BEGIN
								/********************
								UPDATE BALANCE
								********************/
								UPDATE bal
								SET ReserveAmount=(ReserveAmount - X.TotInvest)
								,UseAmount=(UseAmount + X.TotInvest) 
								FROM tbtrx_allocation_balance bal
								inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
								INNER JOIN
								(
									SELECT ParentId,TotInvest from tbtrx_promo_request_approval_recon where Id IN
									(
										SELECT MAX(Id) Id
										FROM tbtrx_promo_request_approval_recon WHERE [IsCancel]=0 GROUP BY ParentId
									)
								) X
								ON X.ParentId=pr.Id 
								where pr.Id=@promoid
							END
			
						end
					END
				END
			END
			ELSE
			BEGIN
				SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@promoid and IsCancel=0)
	
	
				update tpa
				SET [Status]=@statuscode
					,Notes=@notes		
					,ActionDate=@utcDate123
					,tpa.UserApproverName = usr.username 
				FROM tbtrx_promo_approval tpa
				INNER JOIN tbset_user usr on tpa.UserApprover = usr.id
				WHERE RequestId=@p_reqid  AND IsOnGoing=1
	
	
	
			UPDATE tbtrx_promo
				SET StatusApproval=tbmst_master_status.StatusDesc
					,Approver=tbtrx_promo_approval.UserApprover
					,ApproveOn=tbtrx_promo_approval.ActionDate
					,ApproverName =tbtrx_promo_approval.UserApproverName 
					,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
				from tbtrx_promo 
				inner join tbtrx_promo_request_approval	
				on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
				inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
				inner join tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
				where tbtrx_promo_request_approval.IsCancel=0
				and tbtrx_promo_approval.IsOnGoing=1
				AND RequestId=@p_reqid
			
				if @statuscode='TP2'
				begin
	
					UPDATE A
					SET IsOnGoing=0
						,A.UserApproverName = usr.username
					FROM tbtrx_promo_approval A
					INNER JOIN tbset_user usr on A.UserApprover = usr.id
					INNER JOIN
					(SELECT MAX(Sequence) Sequence,RequestId
					FROM tbtrx_promo_approval WHERE [Status]='TP2' GROUP BY RequestId) X
					ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
					where A.RequestId=@p_reqid
	
					UPDATE A
					SET IsOnGoing=1
						,RequestDate=@utcDate123
						,A.UserApproverName = usr.username 
					FROM tbtrx_promo_approval A
					INNER JOIN tbset_user usr ON A.UserApprover = usr.id
					INNER JOIN
					(SELECT MIN(Sequence) Sequence,RequestId
					FROM tbtrx_promo_approval WHERE [Status]='TP1' GROUP BY RequestId) X
					ON X.RequestId=A.RequestId and A.Sequence=X.Sequence
					where A.RequestId=@p_reqid
		
					UPDATE tbtrx_promo
					SET StatusApproval=tbmst_master_status.StatusDesc
						,Approver=tbtrx_promo_approval.UserApprover
						,ApproveOn=tbtrx_promo_approval.ActionDate
						,ApproverName =tbtrx_promo_approval.UserApproverName 
						,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
					from tbtrx_promo 
					inner join tbtrx_promo_request_approval	
					on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
					inner join tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
					inner join tbmst_master_status on StatusCode=tbtrx_promo_request_approval.[Status] and tbmst_master_status.StatusType='TPP'
					where tbtrx_promo_request_approval.IsCancel=0
					and tbtrx_promo_approval.IsOnGoing=1
					AND RequestId=@p_reqid
		
			
					UPDATE TPP
					SET TPP.StatusApprovalCode=A.[Status]
						,ApproveOn = @utcDate123
						,ApprovalNotes = A.Notes
						,TPP.OldInvest=TPP.Investment
						,Approver=A.UserApprover
						,ApproverName=A.UserApproverName 
					FROM tbtrx_promo_approval A
					INNER JOIN tbtrx_promo_request_approval ON A.RequestId=tbtrx_promo_request_approval.Id
					INNER JOIN tbtrx_promo TPP ON TPP.Id=tbtrx_promo_request_approval.ParentId
					INNER JOIN
					(SELECT RequestId,MAX(Sequence) Sequence
					FROM tbtrx_promo_approval GROUP BY RequestId) Y
					ON Y.RequestId=A.RequestId and A.Sequence=Y.Sequence
					where A.RequestId=@p_reqid AND A.[Status]='TP2'

					set @rowcount=@@ROWCOUNT

					IF @rowcount=1
					BEGIN
	
						/********************
						UPDATE BALANCE
						********************/
						UPDATE bal
						SET ReserveAmount=(ReserveAmount - X.TotInvest)
							,UseAmount=(UseAmount + X.TotInvest) 
						FROM tbtrx_allocation_balance bal
						inner join tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
						INNER JOIN
						(
							SELECT ParentId,TotInvest from tbtrx_promo_request_approval where Id IN
							(
								SELECT MAX(Id) Id
								FROM tbtrx_promo_request_approval WHERE [IsCancel]=0 GROUP BY ParentId
							)
						) X
						ON X.ParentId=pr.Id 
						where pr.Id=@promoid
					END
	
				end
			END
		END
	END
	IF NOT EXISTS
	(
	select 1 as error
	,'success' as [message]
	, 200 as [statuscode]
	,a.Id [userid_initiator]
	,a.username [username_initiator]
	,a.email [email_initiator]
	,b.Id [userid_approver]
	,b.username [username_approver]
	,b.email [email_approver]
	FROM tbtrx_promo pr
	inner join tbset_user a on pr.CreateBy=a.Id
	inner join tbset_user b on pr.Approver=b.Id 
	where pr.Id=@promoid and isnull(b.isdeleted,0)=0
	)
	BEGIN
			SET @messageout='email address initator or approver not found '
			 RAISERROR (@messageout, -- Message text.  
				   16, -- Severity.  
				   1 -- State.  
				   );  
	END

	--Jika fully approved
	IF EXISTS
	(
		SELECT id FROM tbtrx_promo pr WHERE pr.id=@promoid AND ISNULL(pr.StatusApprovalCode, '') = 'TP2'
	)
	BEGIN
		/***********************
		 * Start Create History
		 **********************/
		INSERT INTO tbhis_promo_parent(
			StatusAction
			,ActionOn
			,ActionBy
			,CreatedEmail
		) VALUES (
			'Approval isFullyApproved'
			,@utcDate123
			,@userid
			,@useremail
		)
		SET @ParentId_his=(SELECT SCOPE_IDENTITY())

		INSERT INTO [tbhis_promo] (
			ParentId,
			Id,
			PromoPlanId,
			AllocationId,
			AllocationRefId,
			CategoryShortDesc,
			PrincipalShortDesc,
			BudgetMasterId,
			CategoryId,
			SubCategoryId,
			ActivityId,
			SubActivityId,
			ActivityDesc,
			StartPromo,
			EndPromo,
			Mechanisme1,
			Mechanisme2,
			Mechanisme3,
			Mechanisme4,
			Investment,
			NormalSales,
			IncrSales,
			Roi,
			CostRatio,
			StatusApprovalCode,
			StatusApproval,
			StatusApprovalCodeRecon,
			StatusApprovalRecon,
			Notes,
			IsActive,
			IsLocked,
			CreateOn,
			CreateBy,
			ModifiedOn,
			ModifiedBy,
			IsDelete,
			DeleteOn,
			DeleteBy,
			ApproveOn,
			ApproveOnRecon,
			Approver,
			ApproverRecon,
			ApprovalNotes,
			ApprovalNotesRecon,
			OldInvest,
			IsCancel,
			CancelOn,
			CancelBy,
			CancelNotes,
			IsCancelLocked,
			LastStatusRecon,
			LastStatus,
			TsCoding,
			PromoNumber,
			RefId,
			IsClose,
			CloseOn,
			CloseBy,
			Reconciled,
			ReconciledOn,
			ReconciledBy
			,matrixapprovalid
			,ModifReason
		)
		SELECT @ParentId_his,
			t.Id,
			t.PromoPlanId,
			t.AllocationId,
			t.AllocationRefId,
			t.CategoryShortDesc,
			t.PrincipalShortDesc,
			t.BudgetMasterId,
			t.CategoryId,
			t.SubCategoryId,
			t.ActivityId,
			t.SubActivityId,
			t.ActivityDesc,
			t.StartPromo,
			t.EndPromo,
			t.Mechanisme1,
			t.Mechanisme2,
			t.Mechanisme3,
			t.Mechanisme4,
			t.Investment,
			t.NormalSales,
			t.IncrSales,
			t.Roi,
			t.CostRatio,
			'TP2',
			t.StatusApproval,
			'',
			t.StatusApprovalRecon,
			t.Notes,
			t.IsActive,
			t.IsLocked,
			t.CreateOn,
			t.CreateBy,
			t.ModifiedOn,
			t.ModifiedBy,
			t.IsDelete,
			t.DeleteOn,
			t.DeleteBy,
			t.ApproveOn,
			t.ApproveOnRecon,
			t.Approver,
			t.ApproverRecon,
			t.ApprovalNotes,
			t.ApprovalNotesRecon,
			t.OldInvest,
			t.IsCancel,
			t.CancelOn,
			t.CancelBy,
			t.CancelNotes,
			t.IsCancelLocked,
			t.LastStatusRecon,
			t.LastStatus,
			t.TsCoding,
			t.PromoNumber,
			t.RefId,
			t.IsClose,
			t.CloseOn,
			t.CloseBy,
			t.Reconciled,
			t.ReconciledOn,
			t.ReconciledBy
			,t.matrixapprovalid
			,t.ModifReason
		FROM tbtrx_promo t
		LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id
		LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId
		WHERE t.id = @promoid

		INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
		SELECT @ParentId_his,@promoid,regionid from tbtrx_promo_region
		WHERE promoid = @promoid

		INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId)
		SELECT @ParentId_his,@promoid, channelid from tbtrx_promo_channel
		WHERE promoid = @promoid

		INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId)
		SELECT @ParentId_his,@promoid,channelid,subchannelid from tbtrx_promo_subchannel
		WHERE promoid = @promoid		
		INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId)
		SELECT @ParentId_his,@promoid,SubChannelId,AccountId from tbtrx_promo_account
		WHERE promoid = @promoid

		INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId)
		SELECT @ParentId_his,@promoid,AccountId,SubAccountId from tbtrx_promo_subaccount
		WHERE promoid = @promoid

		INSERT INTO tbhis_promo_brand(ParentId,PromoId,BrandId)
		SELECT @ParentId_his,@promoid,BrandId from tbtrx_promo_brand
		WHERE promoid = @promoid

		INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId)
		SELECT @ParentId_his,@promoid,BrandId,ProductId from tbtrx_promo_product
		WHERE promoid = @promoid

		INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
		SELECT @ParentId_his, @promoid, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM tbtrx_promo_mechanism
		WHERE promoid = @promoid
		
	/*********************
	 * End Create History
	 *********************/	
	END

	select 1 as error
		,'success' as [message]
		, 200 as [statuscode]
		,a.Id [userid_initiator]
		,a.username [username_initiator]
		,a.email [email_initiator]
		,b.Id [userid_approver]
		,b.username [username_approver]
		,b.email [email_approver]
		,pr.Id [PromoId]
		,pr.RefId
		,IIF(ISNULL(pr.StatusApprovalCode,'TP1')='TP2',1,0) IsFullyApproved
		,IIF(ISNULL(pr.StatusApprovalCodeRecon,'TP1')='TP2',1,0) IsFullyApprovedRecon
		FROM tbtrx_promo pr
		inner join tbset_user a on pr.CreateBy=a.Id
		inner join tbset_user b on pr.Approver=b.Id 
		where pr.Id=@promoid

END

GO
