

/****** Object:  StoredProcedure [dbo].[ip_matrix_approval_lp]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_matrix_approval_lp] --'2020',0,0,'fcm-kalimantan'
@entity int
,@distributor int
,@userid varchar(255)
AS

DECLARE 
 @periode varchar(4)
--@periode varchar(4)
--,@entity int
--,@distributor int
--,@userid varchar(255)

--SET @periode=2024 
--SET @entity =0
--SET @distributor=0 
--SET @userid =0

SET @periode=''

select 
a.id
,Periode
,a.[Initiator]
,b.Id EntityId
,b.LongDesc Entity
,c.Id DistributorId
,c.LongDesc Distributor
,d.Id SubActivityTypeId
,d.LongDesc SubActivityType
,e.Id ChannelId
,ISNULL(e.LongDesc, 'All Channel') Channel
,isnull(f.Id,0) SubChannelId
,isnull(f.LongDesc,'All Sub Channel') SubChannel
,a.MinInvestment
,a.MaxInvestment
,appr.Approver MatrixApprover
,a.CreateOn
,a.CreateBy
,a.CreatedEmail
,a.ModifiedOn
,a.ModifiedBy
,a.ModifiedEmail 
,a.CategoryId
,g.ShortDesc as CategoryShortDesc
,g.LongDesc as CategoryLongDesc
from tbset_matrix_promo_approval a
inner join tbmst_principal b on a.PrincipalId=b.Id
inner join tbmst_distributor c on a.DistributorId=c.Id
inner join tbmst_subactivity_type d on a.SubActivityType=d.Id
left join tbmst_channel e on a.ChannelId=e.Id
left join tbmst_subchannel f on a.SubChannelId=f.Id
left join tbmst_category g on a.CategoryId = g.Id
left join
(
    select parentid
		, string_agg(QUOTENAME(a.SeqApproval) + QUOTENAME(a.Approver),' ,') WITHIN GROUP (ORDER BY a.seqapproval ASC) Approver
		, a.ModifiedOn 
  	from tbset_matrix_promo_approver a with (nolock)
    GROUP BY a.parentid, a.ModifiedOn 
) appr on a.id=appr.parentid
where isnull(Periode, '')=@periode 
AND IIF(@entity=0,'',b.id) =IIF(@entity=0,'',@entity)
AND IIF(@distributor=0,'',c.Id) =IIF(@distributor=0,'',@distributor)
AND IIF(@userid='0','',[Initiator]) =IIF(@userid='0','',@userid)
GO
