USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_debetnote_report_readytopay_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_debetnote_report_readytopay_p]
 @periode varchar(4),
 @category int=0,
 @entity int,
 @distributor int,
 @subaccount int = 0,
 @userid varchar(50),
 @start int,
 @length int,
 @txtSearch varchar(255)
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE***************************/ 
-- DECLARE
-- @periode varchar(4),
-- @category int=0,
-- @entity int,
-- @distributor int,
-- @subaccount int,
-- @userid varchar(50),

-- @start int,
-- @length int,
-- @filter varchar(255),
-- @txtSearch varchar(255)

--SET @periode ='2025'
--SET @entity =0
--SET @distributor =0
--SET @subaccount =0
--SET @userid ='admin'

--SET @start =0
--SET @length =10
--SET @filter =''
--SET @txtSearch = null
/***************************TESTING PURPOSE*/ 

BEGIN

	DROP TABLE IF EXISTS #temp_result1;
	DROP TABLE IF EXISTS #temp_result2;
	DROP TABLE IF EXISTS #temp_promo;
	DROP TABLE IF EXISTS #temp_account
	--SET @start = @start * @length

	DECLARE 
		@recordsFiltered int,
		@profitcenter varchar(10)

	SET @profitcenter=(SELECT ProfitCenter FROM [dbo].[tbset_map_user_profitcenter] where UserId=@userid)
	
	SELECT pr.Id
		, pr.RefId 
		, pr.TsCoding
		,pr.StartPromo
		,pr.EndPromo
		,pr.ActivityDesc
		, pr.CreateBy 
		,IIF(pr.IsCancel=1,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(pr.CancelByName as varchar)
		, IIF(pr.StatusApprovalCode='TP2',pr.LastStatus + '-' + CAST(pr.ApproverName as varchar), IIF(pr.StatusApprovalCode='TP3', CAST(pr.LastStatus as varchar), CAST(pr.LastStatus as varchar(100)) + '-' + CAST(pr.ApproverName as varchar) ))) ApprovalStatus
		,ISNULL(pr.isClose, 0) isClose --#896
		,ISNULL(pr.Investment,0) Investment --#896
		,ISNULL(pr.InvestmentForDN,0) InvestmentForDN --#896
		,tst.longDesc subActivityType
		,pr.categoryId
		,mc.shortDesc categoryShortDesc
		,mc.longDesc  categoryLongDesc
		,pr.subactivityid
		,ts.longdesc subactivitydesc		
	INTO #temp_promo
	FROM tbtrx_promo pr WITH (NOLOCK)
	INNER JOIN tbmst_category mc WITH (NOLOCK) ON pr.categoryid = mc.id
	INNER JOIN tbmst_subactivity ts WITH (NOLOCK) ON pr.SubActivityId = ts.id --#896
	INNER JOIN tbmst_subactivity_type tst WITH (NOLOCK) ON ts.SubActivityTypeId  = tst.Id --#896

/*account********************************************************/		
	SELECT a.id dnid
	INTO #temp_account
	FROM tbtrx_debetnote a WITH (NOLOCK)
	INNER JOIN #temp_promo pr WITH (NOLOCK) ON a.PromoId = pr.id
	INNER JOIN tbtrx_promo b WITH (NOLOCK) ON a.PromoId = b.id
    WHERE IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
        AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
        AND IIF(@subaccount=0,'',a.accountid) =IIF(@subaccount=0,'',@subaccount)
	    AND year(a.CreateOn)=@periode
		
	INSERT INTO #temp_account
		SELECT a.id dnid--, e.LongDesc AccountDesc 
		FROM tbtrx_debetnote a WITH (NOLOCK)
		INNER JOIN tbmst_subaccount b WITH (NOLOCK) ON a.AccountId = b.id
		INNER JOIN tbmst_account e WITH (NOLOCK) ON b.AccountId = e.id
		WHERE ISNULL(a.promoid, 0) = 0
			AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
			AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
			AND IIF(@subaccount=0,'',a.accountid) =IIF(@subaccount=0,'',@subaccount)
			AND year(a.CreateOn)=@periode

	SELECT
				a.distributorId
				,n.LongDesc distributorDesc
				,a.id
				,a.refId
				,ISNULL(a.PromoId,0) promoId
				,ISNULL(b.RefId,'') promoRefId
				,a.activityDesc
				,a.lastStatus
				,isnull(a.feeDesc, '---') feeDesc
				,isnull(a.feePct, 0) feePct
				,isnull(a.feeAmount, 0) feeAmount
				,isnull(a.dpp, 0) dpp
				,isnull(a.ppnPct, 0) ppnPct
				,isnull(a.ppnAmt, 0) ppnAmt
				,isnull(a.pphPct, 0) pphPct
				,isnull(a.pphAmt, 0) pphAmt
				,isnull(a.intDocNo, '---') intDocNo
				,a.TaxLevel materialNumber
				,a.TaxLevel +' - '+tmm.Description taxLevel
				, m.validate_by_danone_by validateByDanoneBy
				, FORMAT (m.validate_by_danone_on, 'dd-MM-yyyy') validateByDanoneOn
				, IIF(a.laststatus = 'invoice' OR a.laststatus = 'confirm_paid', FORMAT (invh.CreateOn, 'dd-MM-yyyy'), '---') invoiceOn
				, IIF(a.laststatus = 'confirm_paid', FORMAT (a.PaymentDate, 'dd-MM-yyyy'), '---') paymentDate
			INTO #temp_result1
			FROM tbtrx_debetnote a WITH (NOLOCK)
			INNER JOIN tbmst_distributor n WITH (NOLOCK) ON a.DistributorId = n.Id
			LEFT JOIN #temp_promo b WITH (NOLOCK) ON a.PromoId=b.Id		
			LEFT JOIN #temp_account acc on a.id=acc.dnid
			LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
			LEFT JOIN tbtrx_debetnote_his m on m.DnId=a.Id
			LEFT JOIN tbtrx_invoice_detail invd WITH (NOLOCK) ON a.id = invd.DNId AND ISNULL(invd.iscancel, 0) = 0
			LEFT JOIN tbtrx_invoice_header invh WITH (NOLOCK) ON invd.ParentId = invh.Id

			WHERE a.LastStatus IN ('validate_by_danone', 'invoice', 'confirm_paid')
				AND IIF(@entity=0,'',a.PrincipalId ) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',a.DistributorId ) =IIF(@distributor=0,'',@distributor)
				AND year(a.CreateOn)=@periode
				AND IIF(@category=0,'',b.categoryid) =IIF(@category=0,'',@category)
				AND IIF(@subaccount=0,'',a.accountid) =IIF(@subaccount=0,'',@subaccount)
				


				/**********************
					start pagination
				**********************/
				IF @length = -1
				BEGIN
					IF @txtSearch is null
					BEGIN
						SELECT * FROM #temp_result1
						ORDER BY id ASC
					END
					ELSE
					BEGIN
						SELECT * FROM #temp_result1
						WHERE
							(refId like '%' + ISNULL(@txtSearch, '') + '%') OR
							(ActivityDesc like '%' + ISNULL(@txtSearch, '') + '%') OR
							(PromorefId like '%' + ISNULL(@txtSearch, '') + '%') OR
							(LastStatus like '%' + ISNULL(@txtSearch, '') + '%')
						ORDER BY Id ASC
					END
				END
				ELSE
				BEGIN
					IF @txtSearch is null
					BEGIN
						SELECT * FROM #temp_result1
						ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
					END
					ELSE
					BEGIN
				   SELECT * FROM #temp_result1
						WHERE
							(refId like '%' + ISNULL(@txtSearch, '') + '%') OR
							(ActivityDesc like '%' + ISNULL(@txtSearch, '') + '%') OR
							(PromorefId like '%' + ISNULL(@txtSearch, '') + '%') OR
							(LastStatus like '%' + ISNULL(@txtSearch, '') + '%')
						ORDER BY id ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
					END
				END
				
				SET @recordsFiltered =
					(
					SELECT ISNULL(count(id),0)
					FROM #temp_result1
					WHERE
							(refId like '%' + ISNULL(@txtSearch, '') + '%') OR
							(ActivityDesc like '%' + ISNULL(@txtSearch, '') + '%') OR
							(PromorefId like '%' + ISNULL(@txtSearch, '') + '%') OR
							(LastStatus like '%' + ISNULL(@txtSearch, '') + '%')
					)

				SELECT ISNULL(count(id),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result1
				drop table #temp_result1
				/**********************
					end pagination
				**********************/
		

        DROP TABLE IF EXISTS #temp_result1;
		DROP TABLE IF EXISTS #temp_result2;
		DROP TABLE IF EXISTS #temp_promo;
		DROP TABLE IF EXISTS #temp_account
END;

GO
