USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_dn_getbystatus]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_dn_getbystatus] --'D1','asmbjm'
@status varchar(2),
@userid varchar(50)
as
begin
	SELECT * FROM tbtrx_debetnote 
	where LastStatus=@status and 
	Createby=@userid and
	isnull(IsCancel,0)= 0 and 
	isnull(PromoId,0) <> 0 
	


end

--select * from tbtrx_debetnote where CreateBy='asmbjm' and isnull(IsCancel,0)=0
GO
