

/****** Object:  StoredProcedure [dbo].[ip_import_budget_with_attribute_dc]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_import_budget_with_attribute_dc]
	@DCAllocation DCBudgetUploadType READONLY
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE**********************/
--DECLARE @DCAllocation DCBudgetUploadType 
--INSERT INTO @DCAllocation 
--	([BudgetYear],[Category],[Distributor],[Brand],[SubActivity],[BudgetAmount],[BudgetApproval],[UserAccess1],[UserAccess2],[UserAccess3],[UserAccess4],[UserAccess5],[UserAccess6],[UserAccess7],[UserAccess8],[UserAccess9],[UserAccess10],[UserAccess11],[UserAccess12],[UserAccess13],[UserAccess14],[UserAccess15],[UserAccess16],[UserAccess17],[UserAccess18],[UserAccess19],[UserAccess20],[UserAccess21],[UserAccess22],[UserAccess23],[UserAccess24],[UserAccess25],[UserAccess26],[UserAccess27],[UserAccess28],[UserAccess29],[UserAccess30],[UserAccess31],[UserAccess32],[UserAccess33],[UserAccess34],[UserAccess35],[ProfileId])
--	VALUES 
--		(2222, 'Distributor Cost', 'Tempo', 'SGM', 'DA & Subdist', 1000, 'AUTO', 'admin', 'kamsat','gkamalfa','cmmmka','xvamain','admin6','admin7','admin8','admin9','admin10','admin11','admin12','admin13','admin14','admin15','admin16','admin17','admin18','admin19','admin20','admin21','admin22','admin23','admin24','admin25','admin26','admin27','admin28','admin29','admin30','admin31','admin32','admin33','admin34','admin35','admin'),
--		(2222, 'Distributor Cost', 'Tempo', 'SGM', 'Logistics', 2000, 'AUTO', 'admin', 'kamsat','gkamalfa','cmmmka','xvamain','admin6','admin7','admin8','admin9','admin10','admin11','admin12','admin13','admin14','admin15','admin16','admin17','admin18','admin19','admin20','admin21','admin22','admin23','admin24','admin25','admin26','admin27','admin28','admin29','admin30','admin31','admin32','admin33','admin34','admin35','admin')
/**********************TESTING PURPOSE*/
/*BIG NOTE*****************************/
--template: SubActivity column >>> Process: Sub Category
/*****************************BIG NOTE*/


BEGIN TRY
	
	TRUNCATE TABLE TempDCBudgetUploadType
	INSERT INTO TempDCBudgetUploadType SELECT 
		[BudgetYear],[Category],[Distributor],[Brand],[SubActivity],[BudgetAmount],[BudgetApproval],[UserAccess1],[UserAccess2],[UserAccess3],[UserAccess4],[UserAccess5],[UserAccess6],[UserAccess7],[UserAccess8],[UserAccess9],[UserAccess10],[UserAccess11],[UserAccess12],[UserAccess13],[UserAccess14],[UserAccess15],[UserAccess16],[UserAccess17],[UserAccess18],[UserAccess19],[UserAccess20],[UserAccess21],[UserAccess22],[UserAccess23],[UserAccess24],[UserAccess25],[UserAccess26],[UserAccess27],[UserAccess28],[UserAccess29],[UserAccess30],[UserAccess31],[UserAccess32],[UserAccess33],[UserAccess34],[UserAccess35],[ProfileId]
		FROM @DCAllocation
	
/************************************
Extract data to match existing structure
************************************/
	DECLARE
		@Allocation ImportAllocationType,
		@Derivative ImportDerivativeType,
		@Account ImportAccountType,
		@AllocationUser ImportAllocationUserType,
		@DerivativeUser ImportDerivativeUserType,
		@Region ImportRegionType,
		@Brand ImportBrandType,
		@userid varchar(50)

		/************************************
		@Allocation ImportAllocationType,
		************************************/
		INSERT INTO @Allocation (
			Periode, 
			BudgetDesc, 
			Owner, 
			Distributor,
			Principal,
			Category,
			SubCategory,
			Activity,
			SubActivity,
			BudgetAmount
			)
			SELECT distinct
				a.BudgetYear
				, CONCAT(a.BudgetYear,' ',a.Brand,' - ',a.Distributor,' - ',a.SubActivity, ' Master Budget')
				, a.ProfileId
				, a.Distributor
				, d.LongDesc
				, a.Category
				, a.SubActivity
				, ''
				, ''
				, a.BudgetAmount
				FROM @DCAllocation a
				INNER JOIN tbmst_brand_group b on a.brand=b.LongDesc
				INNER JOIN tbmst_brand c on b.id=c.BrandGroupId
				INNER JOIN tbmst_principal d on c.PrincipalId=d.Id
		/************************************
		@Derivative ImportDerivativeType,
		************************************/
		INSERT INTO @Derivative (
			[BudgetParent],
			[TotalAssignmentAmount],
			[AssignTo],
			[AssignDesc],
			[AssignAmount],
			[Category],
			[SubCategory],
			[Activity],
			[SubActivity],
			[Approval]
			)
			SELECT
				CONCAT(a.BudgetYear,' ',a.Brand,' - ',a.Distributor,' - ',a.SubActivity, ' Master Budget')
				, a.BudgetAmount
				, a.ProfileId
				, CONCAT(a.BudgetYear,' ',a.Brand,' - ',a.Distributor,' - ',a.SubActivity)
				, a.BudgetAmount
				, a.Category
				, a.SubActivity
				, ''
				, ''
				, a.BudgetApproval
				FROM @DCAllocation a
		/************************************
		@Account ImportAccountType >> direct insert ALL Channel
		************************************/
		/************************************
		@AllocationUser ImportAllocationUserType,
		************************************/
		INSERT INTO @AllocationUser (
			[Allocation],
			[1],[2],[3],[4],[5],[6],[7],[8],[9],
			[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],
			[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],
			[30],[31],[32],[33],[34],[35]
			)
			SELECT 
				CONCAT(BudgetYear,' ',Brand,' - ',Distributor,' - ',SubActivity, ' Master Budget'),
				[UserAccess1],[UserAccess2],[UserAccess3],[UserAccess4],[UserAccess5],[UserAccess6],[UserAccess7],[UserAccess8],[UserAccess9],
				[UserAccess10],[UserAccess11],[UserAccess12],[UserAccess13],[UserAccess14],[UserAccess15],[UserAccess16],[UserAccess17],[UserAccess18],[UserAccess19],
				[UserAccess20],[UserAccess21],[UserAccess22],[UserAccess23],[UserAccess24],[UserAccess25],[UserAccess26],[UserAccess27],[UserAccess28],[UserAccess29],
				[UserAccess30],[UserAccess31],[UserAccess32],[UserAccess33],[UserAccess34],[UserAccess35]
			FROM @DCAllocation
		/************************************
		@DerivativeUser ImportDerivativeUserType,
		************************************/
		INSERT INTO @DerivativeUser (
			[Derivative],
			[1],[2],[3],[4],[5],[6],[7],[8],[9],
			[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],
			[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],
			[30],[31],[32],[33],[34],[35]
			)
			SELECT 
				CONCAT(BudgetYear,' ',Brand,' - ',Distributor,' - ',SubActivity),
				[UserAccess1],[UserAccess2],[UserAccess3],[UserAccess4],[UserAccess5],[UserAccess6],[UserAccess7],[UserAccess8],[UserAccess9],
				[UserAccess10],[UserAccess11],[UserAccess12],[UserAccess13],[UserAccess14],[UserAccess15],[UserAccess16],[UserAccess17],[UserAccess18],[UserAccess19],
				[UserAccess20],[UserAccess21],[UserAccess22],[UserAccess23],[UserAccess24],[UserAccess25],[UserAccess26],[UserAccess27],[UserAccess28],[UserAccess29],
				[UserAccess30],[UserAccess31],[UserAccess32],[UserAccess33],[UserAccess34],[UserAccess35]
			FROM @DCAllocation
		/************************************
		@Region ImportRegionType >> direct insert ALL Region
		************************************/
		/************************************
		@Brand ImportBrandType, >> direct insert ALL Brand based on Brand Group
		************************************/
		/************************************
		@userid varchar(50)
		************************************/
		SET @userid = (SELECT top 1 [ProfileID] from @DCAllocation)

/************************************
Checking Purpose
************************************/
		delete from TempImportAllocationType
		INSERT INTO TempImportAllocationType SELECT * FROM @Allocation

		delete from TempImportDerivativeType
		INSERT INTO TempImportDerivativeType SELECT * FROM @Derivative

		delete from TempImportAllocationUserType
		INSERT INTO TempImportAllocationUserType SELECT * FROM @AllocationUser

		delete from TempImportDerivativeUserType
		INSERT INTO TempImportDerivativeUserType SELECT * FROM @DerivativeUser

/************************************************/
	DECLARE @messageout varchar(MAX)
	DECLARE @recalc_id int
	DECLARE cur_recalc_id CURSOR
	FOR 
		SELECT b.id FROM TempImportDerivativeType a
			inner join tbtrx_allocation b on a.AssignDesc=b.LongDesc;
 
	OPEN cur_recalc_id;
 
	FETCH NEXT FROM cur_recalc_id INTO 
		@recalc_id; 
     
	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			exec ip_recalculate_balance_by_id @recalc_id
        
			FETCH NEXT FROM cur_recalc_id INTO 
				@recalc_id; 
		END;
 
	CLOSE cur_recalc_id;
 
	DEALLOCATE cur_recalc_id;
/************************************************/

BEGIN TRANSACTION

	DECLARE @rowcount int

	DECLARE @errtemp as table
	(
		budget varchar(255),
		[status] varchar(255)
	)

	INSERT INTO @errtemp
		SELECT BudgetParent,'Total detail <> Budget Parent' as [status]
		FROM
		(
		SELECT BudgetParent,TotalAssignmentAmount,SUM(AssignAmount) AssignDetail  
		FROM @Derivative
		GROUP BY BudgetParent,TotalAssignmentAmount
		) X WHERE TotalAssignmentAmount < AssignDetail

	DECLARE 
		@budgetname VARCHAR(MAX)

	DECLARE 
		@usedamount numeric(19,0)
		,@newamount numeric(19,0)
		,@currentamount numeric(19,0)
		,@detailnewamount numeric(19,0)
		,@detailcurrentamount numeric(19,0)
			
	DECLARE 
		@BudgetParent VARCHAR(255), 
		@TotalAssignmentAmount   numeric(18,0),
		@AssignTo varchar(255),
		@AssignDesc varchar(255),
		@AssignAmount numeric(18,0),
		@SubCategory varchar(255),
		@Activity varchar(255),
		@SubActivity varchar(255),
		@Approval varchar(255);

	DECLARE
		@assignmentid int,
		@assignmentdetailid int,
		@allocationid int,
		@BudgetParentId int,
		@subcategoryid int,
		@remainingbudget numeric(19,0),
		@useamount numeric(19,0),
		@spendingpromo numeric(19,0) 
		
/*******************
PROSES INSERT BUDGET BARU
********************/

	DECLARE cursor_allocation CURSOR
	FOR SELECT 
			BudgetDesc
        
		FROM 
			@Allocation;
 
	OPEN cursor_allocation;
 
	FETCH NEXT FROM cursor_allocation INTO 
		@budgetname; 
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
			PRINT @budgetname ;

			/********************
			CREATE BUDGET MASTER
			********************/
			IF NOT EXISTS(SELECT * from tbtrx_budgetmaster where LongDesc=@budgetname)
			BEGIN
				INSERT INTO tbtrx_budgetmaster(
				Periode	
				,DistributorId
				,PrincipalId
				,OwnerId
				,CategoryId
				,StartDate
				,EndDate
				,BudgetAmount
				,IsAllocated
				,LongDesc
				,IsActive
				,CreateOn
				,CreateBy
				)
				SELECT 
				Periode
				,d.Id DistributorId
				,p.Id PrincipalId
				,[Owner] OwnerId
				,c.Id CategoryId
				,DATEADD(yy, DATEDIFF(yy, 0, Periode), 0) StartDate
				,DATEADD (dd, -1, DATEADD(yy, DATEDIFF(yy, 0, Periode) +1, 0)) EndDate	
				,BudgetAmount
				,0
				,BudgetDesc LongDesc
				,1
				,@utcDate123
				,[Owner]
				FROM @Allocation a
				INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
				INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
				INNER JOIN tbmst_category c on c.LongDesc=a.Category
				where a.BudgetDesc=@budgetname
			END
		

			/**********************
			CREATE BUDGET ALLOCATION (BAL)
			**********************/
			IF NOT EXISTS(SELECT Id from tbtrx_allocation where LongDesc=@budgetname)
			BEGIN
				INSERT INTO tbtrx_allocation
			   ([Periode]
			   ,[BudgetType]
			,[DistributorId]
			   ,[OwnerId]
			   ,[FromOwnerId]
			   ,[BudgetMasterId]
			   ,[BudgetSourceId]           
			   ,[BudgetAmount]
			   ,[LongDesc]
			   ,[ShortDesc]
			   ,[StatusApproval]
			   ,[IsActive]
			   ,[IsLocked]
			   ,[CreateOn]
			   ,[CreateBy]
			   )
				SELECT 
				a.Periode
				,'BAL'
				,d.Id DistributorId
				,[Owner] 
				,[Owner] 
				,m.Id BudgetMasterId
				,m.Id BudgetSourceId
				,a.BudgetAmount
				,BudgetDesc LongDesc					
				,''
				,'AP2'
				,1
				,0
				,@utcDate123
				,[Owner]			
				FROM @Allocation a
				INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
				INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
				INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
				INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
				LEFT JOIN (
					SELECT 
					SubCategoryId
					,c.LongDesc SubCategoryDesc
					,a.Id ActivityId
					,a.LongDesc ActivityDesc 
					FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
				) act
				ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
				LEFT JOIN (
					SELECT 
					act.Id ActivityId
					,a.Id SubActivityId
					,a.LongDesc SubActivityDesc 
					FROM tbmst_subactivity a 
					INNER JOIN tbmst_activity act on a.ActivityId=act.Id
					INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
				) sact
				ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
				where a.BudgetDesc=@budgetname

				UPDATE tbtrx_budgetmaster
				SET IsAllocated=1
				WHERE LongDesc=@budgetname

			/***********************
			ALLOCATION DETAIL (BAL)
			************************/
			IF NOT EXISTS(
				SELECT AllocationId from tbtrx_allocation_detail a
				inner join @Allocation b on a.LongDesc=b.BudgetDesc
				WHERE b.BudgetDesc=@budgetname
			)
			BEGIN
				INSERT INTO tbtrx_allocation_detail
			   ([AllocationId]
			   ,[LineIndex]
			   ,[SubCategoryId]
			   ,[ActivityId]
			   ,[SubActivityId]  
			   ,[BudgetAmount]
			   ,[LongDesc]
			   ,[ShortDesc]           
			   ,[IsActive]
			   ,[IsLocked]
			   ,[CreateOn]
			   ,[CreateBy]
			   )
			   SELECT 
				alc.Id AllocationId
				,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
				,sc.Id SubCategoryId
				,ISNULL(act. ActivityId,0) ActivityId
				,ISNULL(sact.SubActivityId,0) SubActivityId	
				,a.BudgetAmount
				,BudgetDesc LongDesc
				,''
				,1
				,0
				,@utcDate123
				,[Owner]
				FROM @Allocation a
				INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
				INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
				INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
				INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
				INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
				LEFT JOIN (
					SELECT 
					SubCategoryId
					,c.LongDesc SubCategoryDesc
					,a.Id ActivityId
					,a.LongDesc ActivityDesc 
					FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
				) act
				ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
				LEFT JOIN (
					SELECT 
					act.Id ActivityId
					,a.Id SubActivityId
					,a.LongDesc SubActivityDesc 
					FROM tbmst_subactivity a 
					INNER JOIN tbmst_activity act on a.ActivityId=act.Id
					INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
				) sact
				ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
				where a.BudgetDesc=@budgetname


				/**********************************
				HISTORICAL 
				**********************************/
				INSERT INTO tbtrx_allocation_request_approval
			   ([AllocationId]
			   ,[LineIndex]
			   ,[SubCategoryId]
			   ,[ActivityId]
			   ,[SubActivityId]  
			   ,[PrevAmount]
			   ,[BudgetAmount]
			   ,[LongDesc]
			   ,[ShortDesc]           
			   ,[IsActive]
			   ,[IsLocked]
			   ,[IsRecon]
			   ,[CreateOn]
		  ,[CreateBy]
			   ,[ModifiedOn]
			   ,[ModifiedBy]
			  )
			   SELECT 
				alc.Id AllocationId
				,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
				,sc.Id SubCategoryId
				,ISNULL(act. ActivityId,0) ActivityId
				,ISNULL(sact.SubActivityId,0) SubActivityId	
				,0
				,a.BudgetAmount
				,BudgetDesc LongDesc
				,''
				,1
				,0
				,1
			   ,alc.[CreateOn]
			   ,alc.[CreateBy]
			   ,alc.[ModifiedOn]
			   ,alc.[ModifiedBy]
				FROM @Allocation a
				INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
				INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
				INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
				INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
				INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
				LEFT JOIN (
					SELECT 
					SubCategoryId
					,c.LongDesc SubCategoryDesc
					,a.Id ActivityId
					,a.LongDesc ActivityDesc 
					FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
				) act
				ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
				LEFT JOIN (
					SELECT 
					act.Id ActivityId
					,a.Id SubActivityId
					,a.LongDesc SubActivityDesc 
					FROM tbmst_subactivity a 
					INNER JOIN tbmst_activity act on a.ActivityId=act.Id
					INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
				) sact
				ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
				where a.BudgetDesc=@budgetname

				INSERT INTO tbtrx_allocation_balance(
				AllocationId
				,SubCategoryId
				,InitialAmount
				,ReserveAmount
				,UseAmount
				,CreateOn
				,CreateBy)
				SELECT 
				alc.Id AllocationId			
				,sc.Id SubCategoryId	
				,a.BudgetAmount
				,0
				,0
				,@utcDate123
				,alc.OwnerId			
				FROM @Allocation a
				INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
				INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
				INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
				INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
				INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
				WHERE a.BudgetDesc=@budgetname

			END
		
			END
			FETCH NEXT FROM cursor_allocation INTO 
				@budgetname; 
		END;
 
	CLOSE cursor_allocation;
 
	DEALLOCATE cursor_allocation;


/******************/


/**********************
PROSES DERIVATIVE BUDGET
**********************/ 

	DECLARE cursor_product CURSOR
	FOR SELECT 
			BudgetParent 
			,TotalAssignmentAmount
			,AssignTo
			,AssignDesc
			,AssignAmount
			,SubCategory
			,Activity
			,SubActivity
			,Approval
		FROM 
			@Derivative 
		LEFT JOIN @errtemp  on BudgetParent=budget
		WHERE budget is null;
 
	OPEN cursor_product;
 
	FETCH NEXT FROM cursor_product INTO 
		@BudgetParent, 
		@TotalAssignmentAmount,
		@AssignTo,
		@AssignDesc,
		@AssignAmount,
		@SubCategory,
		@Activity,
		@SubActivity,
		@Approval;
 
		WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @spendingpromo=
				(
					SELECT SUM(Investment) 
					FROM tbtrx_promo a WITH (NOLOCK)
					inner join tbtrx_allocation b WITH (NOLOCK) ON a. AllocationId=b.Id
					where isnull(a.IsCancel,0)=0 and isnull(IsClose, 0)=0 and b.LongDesc=@AssignDesc
				)
				/*********************/

				IF @AssignAmount < @spendingpromo 
					BEGIN
						INSERT INTO @errtemp(budget,[status])values(@AssignDesc,'Budget Amount must be greater than spending promo !')
					END
				ELSE
					BEGIN
						SET @BudgetParentId=(SELECT Id from tbtrx_allocation where LongDesc=@BudgetParent)   
						SET @assignmentid=(SELECT Id from tbtrx_budgetassignment where RefId=@BudgetParent);
						IF @assignmentid is null
							BEGIN
								INSERT INTO tbtrx_budgetassignment
										([RefId]
										,[BudgetId]
										,[FrownId]
										,[AllocationId]
										,[BudgetAmount]
										,[IsActive]
										,[IsLocked]
										,[CreateOn]
										,[CreateBy]
										)
									SELECT DISTINCT
									@BudgetParent AssignmentRefId
									,al.BudgetMasterId
									,al.OwnerId AssignFromUser
									,al.Id AllocationId
									,@TotalAssignmentAmount
									,1
									,0
									,@utcDate123
									,@AssignTo
									FROM tbtrx_allocation al where al.LongDesc=@Budgetparent;

									SET @assignmentid=(SELECT SCOPE_IDENTITY())
							END
						ELSE
							BEGIN
								UPDATE tbtrx_budgetassignment
									SET
									BudgetAmount= @TotalAssignmentAmount
									,ModifiedBy=@AssignTo
									,ModifiedOn=@utcDate123
									WHERE
									Id=@assignmentid
							END
					
						IF @assignmentid is not null
							BEGIN	
								SET @assignmentdetailid=(SELECT Id from tbtrx_budgetassignment_detail where [Desc]=@AssignDesc)
								IF @assignmentdetailid is null
									BEGIN
										INSERT INTO tbtrx_budgetassignment_detail
											([AssignmentId]
											,[RefId]
											,[OwnId]
											,[Desc]
											,[BudgetAmount]
											,[IsAllocated]
											,[IsActive]
											,[IsLocked]
											,[CreateOn]
											,[CreateBy]
											)
											SELECT
											 @assignmentid
											,@AssignDesc RefId
											,@AssignTo OwnId
											,@AssignDesc [Desc]
											,@AssignAmount [BudgetAmount]
											,0 IsAllocated
											,1 IsActive
											,0 IsLocked
											,@utcDate123 CreateOn
											,@AssignTo CreateBy
										SET @assignmentdetailid=(SELECT SCOPE_IDENTITY())
									END
								ELSE
									BEGIN
										UPDATE tbtrx_budgetassignment_detail
										SET BudgetAmount=@AssignAmount,
										[Desc]=@AssignDesc,
										OwnId=@AssignTo,
										ModifiedBy=@AssignTo,
										ModifiedOn=@utcDate123
										WHERE Id=@assignmentdetailid
									END	

								SET @allocationid=(SELECT Id from tbtrx_allocation where LongDesc=@AssignDesc)

								IF @allocationid is null
									BEGIN
										INSERT INTO tbtrx_allocation
											([Periode]           
											,[BudgetType]
											,[DistributorId]
											,[OwnerId]
											,[FromOwnerId]
											,[BudgetMasterId]
											,[BudgetSourceId]           
											,[BudgetAmount]
											,[LongDesc]           
											,[StatusApproval]           
											,[CreateOn]
											,[CreateBy]
											)
											SELECT 
											m.Periode	
											,'BTR' BudgetType
											,m.DistributorId
											,td.OwnId OwnerId
											,tp.FrownId FromOwnerId
											,tp.BudgetId BudgetMasterId
											,td.Id BudgetSourceId
											,@AssignAmount BudgetAmount 
											,@AssignDesc LongDesc
											,IIF(@Approval='auto','AP2','AP1') StatusApproval
											,@utcDate123 CreateOn
											,@AssignTo CreateBy
											FROM tbtrx_budgetassignment_detail td
											INNER JOIN tbtrx_budgetassignment tp on tp.Id=td.AssignmentId
											INNER JOIN tbtrx_budgetmaster m on tp.BudgetId=m.Id	
											WHERE td.id=@assignmentdetailid

										UPDATE tbtrx_budgetassignment_detail 
										SET IsAllocated=1
										WHERE Id=@assignmentdetailid

										SET @allocationid=(SELECT SCOPE_IDENTITY())
									END
								ELSE
									BEGIN
										UPDATE tbtrx_allocation
										SET BudgetAmount=@AssignAmount	
										,ModifiedBy=@AssignTo
										,ModifiedOn=@utcDate123					
										WHERE Id=@allocationid
										AND BudgetAmount <> @AssignAmount	

										UPDATE tbtrx_allocation
										SET StatusApproval=IIF(@Approval='auto','AP2','AP1')
										,ModifiedBy=@AssignTo
										,ModifiedOn=@utcDate123					
										WHERE Id=@allocationid
									END

								IF NOT EXISTS(SELECT AllocationId from tbtrx_allocation_detail where LongDesc=@AssignDesc)
									BEGIN
										INSERT INTO tbtrx_allocation_detail
											   ([AllocationId]
											   ,[LineIndex]
											   ,[LongDesc]
											   ,[BudgetAmount]
											   ,[SubCategoryId]
											   ,[ActivityId]
											   ,[SubActivityId] 
											   ,[IsActive]
											   ,[IsLocked]
											   ,[CreateOn]
											   ,[CreateBy]
											   )
											SELECT 		
												a.Id AllocationId
												,ROW_NUMBER() OVER(PARTITION BY Id ORDER BY Id) LineIndex
												,LongDesc AllocationDetailDesc
												,@AssignAmount AllocationDetailAmount
												,isnull(ctg.SubCategoryId,0) SubCategoryId
												,isnull(act.ActivityId,0) ActivityId
												,isnull(sact.SubActivityId,0) SubActivityId	
												,1 IsActive
												,0 IsLocked
												,@utcDate123 CreateOn
												,@AssignTo CreateBy
												FROM
												tbtrx_allocation a 
												LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
												LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
												LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
												and @Activity=sact.ActivityDesc 
												and @SubActivity=sact.SubActivityDesc		
												where a.Id=@allocationid

										INSERT INTO tbtrx_allocation_request_approval
											   ([AllocationId]
											   ,[LineIndex]
											   ,[LongDesc]
											   ,[PrevAmount]
											   ,[BudgetAmount]
											   ,[SubCategoryId]
											   ,[ActivityId]
											   ,[SubActivityId] 
											   ,[IsActive]
											   ,[IsLocked]
											   ,[IsRecon]
											   ,[CreateOn]
											   ,[CreateBy]
											   ,[ModifiedOn]
											   ,[ModifiedBy]
											   ,ApproveBy
											   ,ApproveOn
											   )
											SELECT 		
												a.Id AllocationId
												,ROW_NUMBER() OVER(PARTITION BY a.Id ORDER BY a.Id) LineIndex
												,a.LongDesc AllocationDetailDesc
												,0
												,@AssignAmount AllocationDetailAmount
												,isnull(ctg.SubCategoryId,0) SubCategoryId
												,isnull(act.ActivityId,0) ActivityId
												,isnull(sact.SubActivityId,0) SubActivityId	
												,1 IsActive
												,0 IsLocked
												,1
												,a.[CreateOn]
												,a.[CreateBy]
												,a.[ModifiedOn]
												,a.[ModifiedBy]
												,IIF(@Approval='auto',
												CASE 
												WHEN b.PrincipalId=3 THEN 'ccnis'
												WHEN b.PrincipalId=4 THEN 'ccnis'
												WHEN b.PrincipalId=2 THEN 'ccsh'
												ELSE
												'admin'
												END,null)
												,IIF(@Approval='auto',@utcDate123,null)
												FROM
												tbtrx_allocation a 
												inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
												LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
												LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
												LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
												and @Activity=sact.ActivityDesc 
												and @SubActivity=sact.SubActivityDesc		
												where a.Id=@allocationid

										INSERT INTO [dbo].[tbtrx_allocation_balance]
										   ([AllocationId]
										   ,[SubCategoryId]
										   ,[InitialAmount]
										   ,[ReserveAmount]
										   ,[UseAmount]
										   ,[CreateOn]
										   ,[CreateBy]
											)
											SELECT 		
											a.Id AllocationId
											,isnull(ctg.SubCategoryId,0) SubCategoryId							
											,@AssignAmount AllocationDetailAmount
											,0
											,0
											,@utcDate123 CreateOn
											,@AssignTo CreateBy
											FROM
											tbtrx_allocation a 
											LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory						
											where a.Id=@allocationid

										UPDATE tbtrx_allocation_balance
											SET ReserveAmount=ReserveAmount + IIF(@Approval='auto',0,@AssignAmount)
											,UseAmount=UseAmount + IIF(@Approval='auto',@AssignAmount,0)
											WHERE AllocationId=@BudgetParentId
									END
								ELSE
									BEGIN
										UPDATE A 
											SET A.BudgetAmount=@AssignAmount
											--,A.SubCategoryId=isnull(ctg.SubCategoryid,0)
											--,A.ActivityId=isnull(act.ActivityId,0)
											--,A.SubActivityId=isnull(sact.SubActivityid,0)
											,ModifiedBy=@AssignTo
											,ModifiedOn=@utcDate123
											FROM tbtrx_allocation_detail A
											LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
											LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on ltrim(rtrim(@SubCategory))=act.SubCategoryDesc and ltrim(rtrim(@activity))=act.ActivityDesc
											LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on ltrim(rtrim(@SubCategory))=sact.SubCategoryDesc 
											and ltrim(rtrim(@Activity))=sact.ActivityDesc 
											and ltrim(rtrim(@SubActivity))=sact.SubActivityDesc			
											WHERE AllocationId=@allocationid

										SET @currentamount=(SELECT InitialAmount FROM tbtrx_allocation_balance A
											LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
											WHERE AllocationId=@allocationid 
											and A.SubCategoryId=ctg.SubCategoryId)

										UPDATE A 
											SET A.InitialAmount=@AssignAmount
											FROM tbtrx_allocation_balance A
											LEFT JOIN (SELECT distinct SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=ltrim(rtrim(@SubCategory))
											WHERE AllocationId=@allocationid 
											and A.SubCategoryId=ctg.SubCategoryId
											AND A.InitialAmount <> @AssignAmount

										INSERT INTO tbtrx_allocation_request_approval
											([AllocationId]
											,[LineIndex]
											,[LongDesc]
											,[PrevAmount]
											,[BudgetAmount]
											,[SubCategoryId]
											,[ActivityId]
											,[SubActivityId] 
											,[IsActive]
											,[IsLocked]
											,[IsRecon]
											,[CreateOn]
											,[CreateBy]
											,[ModifiedOn]
											,[ModifiedBy]
											,ApproveBy
											,ApproveOn
											)
											SELECT 		
												a.Id AllocationId
												,ROW_NUMBER() OVER(PARTITION BY a.Id ORDER BY a.Id) LineIndex
												,a.LongDesc AllocationDetailDesc
												,@currentamount
												,@AssignAmount AllocationDetailAmount
												,isnull(ctg.SubCategoryId,0) SubCategoryId
												,isnull(act.ActivityId,0) ActivityId
												,isnull(sact.SubActivityId,0) SubActivityId	
												,1 IsActive
												,0 IsLocked
												,1
												,a.[CreateOn]
												,a.[CreateBy]
												,a.[ModifiedOn]
												,a.[ModifiedBy]
												,IIF(@Approval='auto',
												CASE 
												WHEN b.PrincipalId=3 THEN 'ccnis'
												WHEN b.PrincipalId=4 THEN 'ccnis'
												WHEN b.PrincipalId=2 THEN 'ccsh'
												ELSE
												'admin'
												END,null)
												,IIF(@Approval='auto',@utcDate123,null)
												FROM
												tbtrx_allocation a 
												inner join tbtrx_budgetmaster b on a.BudgetMasterId=b.Id
												LEFT JOIN (SELECT SubCategoryId,SubCategoryDesc from vw_activity group by SubCategoryId,SubCategoryDesc) ctg on ctg.SubCategoryDesc=@SubCategory
												LEFT JOIN (SELECT ActivityId,SubCategoryDesc,ActivityDesc from vw_activity group by ActivityId,SubCategoryDesc,ActivityDesc) act on @SubCategory=act.SubCategoryDesc and @Activity=act.ActivityDesc
												LEFT JOIN (SELECT SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc from vw_activity group by SubActivityId,SubCategoryDesc,ActivityDesc,SubActivityDesc) sact on @SubCategory=sact.SubCategoryDesc 
												and @Activity=sact.ActivityDesc 
												and @SubActivity=sact.SubActivityDesc		
												where a.Id=@allocationid

										--END
						
										/*** RECALCULATE BALANCE****/
										EXEC ip_recalculate_balance_bal @allocationid

									END

							END
	
					/*****************
					CEK SPENDING DARI DERIVATIVE BUDGET
					*****************/

						UPDATE BAL
							SET BAL.Useamount=IIF(@approval='auto',isnull(CHILD.BudgetAmount,0),0)
							,BAL.ReserveAmount=IIF(@approval='auto',0,isnull(CHILD.BudgetAmount,0))
							FROM tbtrx_allocation_balance BAL
							INNER JOIN tbtrx_allocation PARENT ON BAL.AllocationId=PARENT.Id
							LEFT JOIN
							(
									SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
									INNER JOIN
									(
										SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
										LEFT JOIN
											tbtrx_budgetassignment
										ON
											tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
									) B
									ON A.BudgetSourceId=B.Id
										and A.BudgetType='BTR'
									where 
									A.IsActive=1 GROUP BY B.AllocationId
							) CHILD ON BAL.AllocationId=CHILD.AllocationId
							WHERE PARENT.BudgetType='BTR' AND PARENT.LongDesc=@BudgetParent 
							AND NOT EXISTS 
							(
								SELECT AllocationId FROM tbtrx_promo WHERE AllocationId=PARENT.Id
							)
					/*****************************************/
					END
		
					FETCH NEXT FROM cursor_product INTO 
					@BudgetParent, 
					@TotalAssignmentAmount,
					@AssignTo,
					@AssignDesc,
					@AssignAmount,
					@SubCategory,
					@Activity,
					@SubActivity,
					@Approval;
			END;
		
			INSERT INTO @errtemp(budget,[status])
				SELECT AssignDesc,'Budget Exeeded' FROM tbtrx_allocation_balance a 
				inner join tbtrx_allocation b on a.AllocationId=b.Id
				inner join @Derivative c on b.LongDesc=AssignDesc
				where RemainingAmount < 0
	
	CLOSE cursor_product;
 
	DEALLOCATE cursor_product;
    
/*********************/
 
/******************************
PROSES UPDATE BUDGET ALLOCATION
*******************************/
	DECLARE cursor_allocation CURSOR
	FOR SELECT 
			BudgetDesc
        
		FROM 
			@Allocation;
 
	OPEN cursor_allocation;
 
	FETCH NEXT FROM cursor_allocation INTO 
		@budgetname; 
    
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
			--PRINT @budgetname ;

			/********************
			CREATE BUDGET MASTER
			********************/
			IF NOT EXISTS(SELECT * from tbtrx_budgetmaster where LongDesc=@budgetname)
				BEGIN
					INSERT INTO tbtrx_budgetmaster(
					Periode	
					,DistributorId
					,PrincipalId
					,OwnerId
					,CategoryId
					,StartDate
					,EndDate
					,BudgetAmount
					,IsAllocated
					,LongDesc
					,IsActive
					,CreateOn
					,CreateBy
					)
					SELECT 
					Periode
					,d.Id DistributorId
					,p.Id PrincipalId
					,[Owner] OwnerId
					,c.Id CategoryId
					,DATEADD(yy, DATEDIFF(yy, 0, Periode), 0) StartDate
					,DATEADD (dd, -1, DATEADD(yy, DATEDIFF(yy, 0, Periode) +1, 0)) EndDate	
					,BudgetAmount
					,0
					,BudgetDesc LongDesc
					,1
					,@utcDate123
					,[Owner]
					FROM @Allocation a
					INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
					INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
					INNER JOIN tbmst_category c on c.LongDesc=a.Category
					where a.BudgetDesc=@budgetname
				END
			ELSE
				BEGIN
					UPDATE m
					SET m.BudgetAmount=t.BudgetAmount
					,ModifiedBy=[Owner]
					,ModifiedOn=@utcDate123
					FROM tbtrx_budgetmaster m
					INNER JOIN @Allocation t on LongDesc=t.BudgetDesc
					WHERE LongDesc=@budgetname
				END
				
			/**********************
			CREATE BUDGET ALLOCATION (BAL)
			**********************/
			IF NOT EXISTS(SELECT Id from tbtrx_allocation where LongDesc=@budgetname)
				BEGIN
					INSERT INTO tbtrx_allocation
				   ([Periode]
				   ,[BudgetType]
				   ,[DistributorId]
				   ,[OwnerId]
				   ,[FromOwnerId]
				   ,[BudgetMasterId]
				   ,[BudgetSourceId]           
				   ,[BudgetAmount]
				   ,[LongDesc]
				   ,[ShortDesc]
				   ,[StatusApproval]
				   ,[IsActive]
				   ,[IsLocked]
				   ,[CreateOn]
				   ,[CreateBy]
				   )
					SELECT 
					a.Periode
					,'BAL'
					,d.Id DistributorId
					,[Owner] 
					,[Owner] 
					,m.Id BudgetMasterId
					,m.Id BudgetSourceId
					,a.BudgetAmount
					,BudgetDesc LongDesc					
					,''
					,'AP2'
					,1
					,0
					,@utcDate123
					,[Owner]			
					FROM @Allocation a
					INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
					INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
					INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
					INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
					LEFT JOIN (
						SELECT 
						SubCategoryId
						,c.LongDesc SubCategoryDesc
						,a.Id ActivityId
						,a.LongDesc ActivityDesc 
						FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
					) act
					ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
					LEFT JOIN (
						SELECT 
						act.Id ActivityId
						,a.Id SubActivityId
						,a.LongDesc SubActivityDesc 
						FROM tbmst_subactivity a 
						INNER JOIN tbmst_activity act on a.ActivityId=act.Id
						INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
					) sact
					ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
					where a.BudgetDesc=@budgetname

					UPDATE tbtrx_budgetmaster
					SET IsAllocated=1
					WHERE LongDesc=@budgetname

				END
			
			ELSE
				BEGIN
					UPDATE BAL
						SET BAL.Useamount=IIF(@approval='auto',isnull(CHILD.BudgetAmount,0),0)
						,BAL.ReserveAmount=IIF(@approval='auto',0,isnull(CHILD.BudgetAmount,0))
						FROM tbtrx_allocation_balance BAL
						INNER JOIN tbtrx_allocation PARENT ON BAL.AllocationId=PARENT.Id
							LEFT JOIN
							(
									SELECT SUM(A.BudgetAmount) BudgetAmount,B.AllocationId FROM tbtrx_allocation A
									INNER JOIN
									(
										SELECT tbtrx_budgetassignment_detail.Id,tbtrx_budgetassignment_detail.BudgetAmount,tbtrx_budgetassignment.AllocationId FROM tbtrx_budgetassignment_detail 
										LEFT JOIN
											tbtrx_budgetassignment
										ON
											tbtrx_budgetassignment_detail.AssignmentId=tbtrx_budgetassignment.Id
									) B
									ON A.BudgetSourceId=B.Id
										and A.BudgetType='BTR'
									where 
									A.IsActive=1 GROUP BY B.AllocationId
							) CHILD ON BAL.AllocationId=CHILD.AllocationId 
							WHERE PARENT.BudgetType='BAL' AND PARENT.LongDesc=@budgetname
					/*****************************************/			

					SET @currentamount=(SELECT isnull(BudgetAmount,0) BudgetAmount from tbtrx_allocation where LongDesc=@budgetname)
					set @usedamount=(select UseAmount + ReserveAmount from tbtrx_allocation_balance a
						inner join (select AllocationId,SubCategoryId from tbtrx_allocation_detail d 
						inner join tbtrx_allocation alc on d.AllocationId=alc.Id WHERE alc.LongDesc=@budgetname) b on a.AllocationId=b.AllocationId and a.SubCategoryId=b.SubCategoryId)	
			
					set @newamount=(select BudgetAmount from @Allocation where BudgetDesc=@budgetname)

					IF @newamount < @usedamount
						BEGIN
							DECLARE @cek varchar(255)

							SET @cek=CAST(@newamount as varchar) + '-' + CAST(@usedamount as varchar) + ' -B' 
							INSERT INTO @errtemp
			--				SELECT @budgetname,'Budget Exeeded' as [status]
							SELECT @budgetname,@cek as [status]
				
						END
					ELSE
						BEGIN
							UPDATE alc
							SET alc.BudgetAmount=a.BudgetAmount
							,ModifiedBy=[Owner]
							,ModifiedOn=@utcDate123
							FROM tbtrx_allocation alc
							INNER JOIN @Allocation a on alc.LongDesc=a.BudgetDesc
							where a.BudgetDesc=@budgetname 
							AND alc.BudgetAmount <> a.BudgetAmount

						/***********************
						ALLOCATION DETAIL (BAL)
						************************/
							IF NOT EXISTS(
								SELECT AllocationId from tbtrx_allocation_detail a
								inner join @Allocation b on a.LongDesc=b.BudgetDesc
								WHERE b.BudgetDesc=@budgetname
							)
								BEGIN
									INSERT INTO tbtrx_allocation_detail
								   ([AllocationId]
								   ,[LineIndex]
								   ,[SubCategoryId]
								   ,[ActivityId]
								   ,[SubActivityId]  
								   ,[BudgetAmount]
								   ,[LongDesc]
								   ,[ShortDesc]           
								   ,[IsActive]
								   ,[IsLocked]
								   ,[CreateOn]
								   ,[CreateBy]
								   )
								   SELECT 
									alc.Id AllocationId
									,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
									,sc.Id SubCategoryId
									,ISNULL(act. ActivityId,0) ActivityId
									,ISNULL(sact.SubActivityId,0) SubActivityId	
									,a.BudgetAmount
									,BudgetDesc LongDesc
									,''
									,1
									,0
									,@utcDate123
									,[Owner]
									FROM @Allocation a
									INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
									INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
									INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
									INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
									INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
									LEFT JOIN (
										SELECT 
										SubCategoryId
										,c.LongDesc SubCategoryDesc
										,a.Id ActivityId
										,a.LongDesc ActivityDesc 
										FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
									) act
									ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
									LEFT JOIN (
										SELECT 
										act.Id ActivityId
										,a.Id SubActivityId
										,a.LongDesc SubActivityDesc 
										FROM tbmst_subactivity a 
										INNER JOIN tbmst_activity act on a.ActivityId=act.Id
										INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
									) sact
									ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
									where a.BudgetDesc=@budgetname

								/**********************************
								HISTORICAL 
								**********************************/
									INSERT INTO tbtrx_allocation_request_approval
								   ([AllocationId]
								   ,[LineIndex]
								   ,[SubCategoryId]
								   ,[ActivityId]
								   ,[SubActivityId]  
								   ,[PrevAmount]
								   ,[BudgetAmount]
								   ,[LongDesc]
								   ,[ShortDesc]           
								   ,[IsActive]
								   ,[IsLocked]
								   ,[IsRecon]
								   ,[CreateOn]
							  ,[CreateBy]
								   ,[ModifiedOn]
								   ,[ModifiedBy]
								  )
								   SELECT 
									alc.Id AllocationId
									,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
									,sc.Id SubCategoryId
									,ISNULL(act. ActivityId,0) ActivityId
									,ISNULL(sact.SubActivityId,0) SubActivityId	
									,0
									,a.BudgetAmount
									,BudgetDesc LongDesc
									,''
									,1
									,0
									,1
								   ,alc.[CreateOn]
								   ,alc.[CreateBy]
								   ,alc.[ModifiedOn]
								   ,alc.[ModifiedBy]
									FROM @Allocation a
									INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
									INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
									INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
									INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
									INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
									LEFT JOIN (
										SELECT 
										SubCategoryId
										,c.LongDesc SubCategoryDesc
										,a.Id ActivityId
										,a.LongDesc ActivityDesc 
										FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
									) act
									ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
									LEFT JOIN (
										SELECT 
										act.Id ActivityId
										,a.Id SubActivityId
										,a.LongDesc SubActivityDesc 
										FROM tbmst_subactivity a 
										INNER JOIN tbmst_activity act on a.ActivityId=act.Id
										INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
									) sact
									ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
									where a.BudgetDesc=@budgetname

									INSERT INTO tbtrx_allocation_balance(
									AllocationId
									,SubCategoryId
									,InitialAmount
									,ReserveAmount
									,UseAmount
									,CreateOn
									,CreateBy)
									SELECT 
									alc.Id AllocationId			
									,sc.Id SubCategoryId	
									,a.BudgetAmount
									,0
									,0
									,@utcDate123
									,alc.OwnerId			
									FROM @Allocation a
									INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
									INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
									INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
									INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
									INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
									WHERE a.BudgetDesc=@budgetname
								END
							ELSE
								BEGIN
									UPDATE A
										SET A.BudgetAmount=b.BudgetAmount
										,ModifiedBy=[Owner]
										,ModifiedOn=@utcDate123
										FROM tbtrx_allocation_detail A
										INNER JOIN
										(
											SELECT 
												alc.Id AllocationId
												,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
												,sc.Id SubCategoryId
												,ISNULL(act. ActivityId,0) ActivityId
												,ISNULL(sact.SubActivityId,0) SubActivityId	
												,a.BudgetAmount
												,BudgetDesc LongDesc
												,[Owner]
											FROM @Allocation a
												INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
												INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
												INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
												INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
												INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
												LEFT JOIN (
													SELECT 
														SubCategoryId
														,c.LongDesc SubCategoryDesc
														,a.Id ActivityId
														,a.LongDesc ActivityDesc 
														FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
													) act
													ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
												LEFT JOIN (
													SELECT 
													act.Id ActivityId
													,a.Id SubActivityId
													,a.LongDesc SubActivityDesc 
													FROM tbmst_subactivity a 
													INNER JOIN tbmst_activity act on a.ActivityId=act.Id
													INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
													) sact
													ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
										) b ON A.AllocationId=b.AllocationId and A.SubCategoryId=B.SubCategoryId
								END
		   
							UPDATE A
								SET A.InitialAmount=b.BudgetAmount
								,A.ModifiedBy=[Owner]
								,A.ModifiedOn=@utcDate123
								FROM tbtrx_allocation_balance A
								INNER JOIN
								(
									SELECT 
									alc.Id AllocationId
									,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
									,sc.Id SubCategoryId
									,ISNULL(act. ActivityId,0) ActivityId
									,ISNULL(sact.SubActivityId,0) SubActivityId	
									,a.BudgetAmount
									,BudgetDesc LongDesc
									,[Owner]
									FROM @Allocation a
									INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
									INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
									INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
									INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
									INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
									LEFT JOIN (
										SELECT 
										SubCategoryId
										,c.LongDesc SubCategoryDesc
										,a.Id ActivityId
										,a.LongDesc ActivityDesc 
										FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
									) act
										ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
									LEFT JOIN (
										SELECT 
										act.Id ActivityId
										,a.Id SubActivityId
										,a.LongDesc SubActivityDesc 
										FROM tbmst_subactivity a 
										INNER JOIN tbmst_activity act on a.ActivityId=act.Id
										INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
										) sact
										ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
									WHERE a.BudgetDesc=@budgetname
									) b ON A.AllocationId=b.AllocationId and A.SubCategoryId=B.SubCategoryId
								WHERE A.InitialAmount <> b.BudgetAmount	
						END
				END
				/*****************************
				RESET APPROVAL JIKA ADA UPDATE
				******************************/
		
				--SET @rowcount=(SELECT @@ROWCOUNT)
				--IF @rowcount > 0
				--BEGIN
				--UPDATE tbtrx_allocation
				--SET StatusApproval='AP1'
				--where LongDesc=@budgetname

				/**********************************
				HISTORICAL 
				**********************************/
				INSERT INTO tbtrx_allocation_request_approval
			   ([AllocationId]
			   ,[LineIndex]
			   ,[SubCategoryId]
			   ,[ActivityId]
			   ,[SubActivityId]  
			   ,[PrevAmount]
			   ,[BudgetAmount]
			   ,[LongDesc]
			   ,[ShortDesc]           
			   ,[IsActive]
			   ,[IsLocked]
			   ,[IsRecon]
			   ,[CreateOn]
			   ,[CreateBy]
			   )
			   SELECT 
				alc.Id AllocationId
				,ROW_NUMBER() OVER(PARTITION BY alc.Id ORDER BY alc.Id) LineIndex
				,sc.Id SubCategoryId
				,ISNULL(act. ActivityId,0) ActivityId
				,ISNULL(sact.SubActivityId,0) SubActivityId	
				,@currentamount
				,a.BudgetAmount
				,BudgetDesc LongDesc
				,''
				,1
				,0
				,1
				,@utcDate123
				,[Owner]
				FROM @Allocation a
				INNER JOIN tbtrx_budgetmaster m on m.LongDesc=a.BudgetDesc
				INNER JOIN tbtrx_allocation alc on alc.LongDesc=a.BudgetDesc
				INNER JOIN tbmst_distributor d on d.LongDesc=a.Distributor
				INNER JOIN tbmst_principal p on p.LongDesc=a.Principal
				INNER JOIN tbmst_subcategory sc on sc.LongDesc=a.SubCategory 
				LEFT JOIN (
					SELECT 
					SubCategoryId
					,c.LongDesc SubCategoryDesc
					,a.Id ActivityId
					,a.LongDesc ActivityDesc 
					FROM tbmst_activity a INNER JOIN tbmst_subcategory c on a.SubCategoryId=c.Id
				) act
				ON sc.Id=act.SubCategoryId and a.Activity=act.ActivityDesc
				LEFT JOIN (
					SELECT 
					act.Id ActivityId
					,a.Id SubActivityId
					,a.LongDesc SubActivityDesc 
					FROM tbmst_subactivity a 
					INNER JOIN tbmst_activity act on a.ActivityId=act.Id
					INNER JOIN tbmst_subcategory c on act.SubCategoryId=c.Id
				) sact
				ON act.ActivityId=sact.ActivityId and a.SubActivity=sact.SubActivityDesc
				where a.BudgetDesc=@budgetname



				--END

			FETCH NEXT FROM cursor_allocation INTO 
				@budgetname; 
		END;
 
	CLOSE cursor_allocation;
 
	DEALLOCATE cursor_allocation;

/************************/

UPDATE a
SET StatusApproval=IIF(b.Approval='auto','AP2','AP1')
FROM tbtrx_allocation a
inner join @Derivative b on a.LongDesc=b.AssignDesc 


/***********
DELETE ACCOUNT
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_channel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subchannel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_account ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subaccount ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_channel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subchannel ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_account ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_subaccount ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

/**************************
INSERT ACCOUNT
***************************/
	INSERT INTO tbtrx_allocation_channel(AllocationId,ChannelId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Allocation b on a.LongDesc=b.BudgetDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_subchannel(AllocationId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, c.SubChannelId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Allocation b on a.LongDesc=b.BudgetDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_account(AllocationId,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, c.SubChannelId, c.AccountId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Allocation b on a.LongDesc=b.BudgetDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_subaccount(AllocationId,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, c.SubChannelId, c.AccountId, c.SubAccountId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Allocation b on a.LongDesc=b.BudgetDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_channel(AllocationId,ChannelId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Derivative b on a.LongDesc=b.AssignDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_subchannel(AllocationId,ChannelId,SubChannelId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, c.SubChannelId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Derivative b on a.LongDesc=b.AssignDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_account(AllocationId,ChannelId,SubChannelId,AccountId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, c.SubChannelId, c.AccountId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Derivative b on a.LongDesc=b.AssignDesc
		CROSS JOIN vw_account c

	INSERT INTO tbtrx_allocation_subaccount(AllocationId,ChannelId,SubChannelId,AccountId,SubAccountId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.ChannelId, c.SubChannelId, c.AccountId, c.SubAccountId, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Derivative b on a.LongDesc=b.AssignDesc
		CROSS JOIN vw_account c
/***********
DELETE USER
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_useraccess ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @AllocationUser temp on temp.Allocation=al.LongDesc
	DELETE ac 
	FROM 
	tbtrx_allocation_useraccess ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @DerivativeUser temp on temp.Derivative=al.LongDesc

/**************************
INSERT USER
***************************/
	INSERT INTO tbtrx_allocation_useraccess(AllocationId,UserId,IsActive,CreateOn,CreateBy)
	
	SELECT DISTINCT Id, UserId, IsActive, CreateOn, CreateBy
	FROM
	(
		SELECT Id, UserId ,1 IsActive, @utcDate123 CreateOn, @userid CreateBy FROM
		(
			SELECT al.Id, UserId FROM
			(
				SELECT Allocation, UserId FROM   
				  (
					SELECT Allocation, 
						[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
						[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
						[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
				   FROM @AllocationUser) p  
					UNPIVOT  
						(UserId FOR Attribute IN   
							(
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
							)
						)AS unpvt
			)x 
			INNER JOIN tbtrx_allocation al on al.LongDesc=x.Allocation
			GROUP BY
			al.Id, UserId
		) XXX
		UNION ALL
		SELECT Id, UserId ,1 IsActive, @utcDate123 CreateOn, @userid CreateBy FROM
		(
			SELECT al.Id, UserId FROM
			(
				SELECT Derivative, UserId FROM   
				  (
					SELECT Derivative, 
						[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
						[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
						[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
				   FROM @DerivativeUser) p  
					UNPIVOT  
						(UserId FOR Attribute IN   
							(
								[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],
								[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],
								[41],[42],[43],[44],[45],[46],[47],[48],[49],[50]
							)
						)AS unpvt
			)x 
			INNER JOIN tbtrx_allocation al on al.LongDesc=x.Derivative
			GROUP BY
			al.Id, UserId
		) XXX

	)XXXX
		WHERE UserId <> ''
		
/***********
DELETE DETAIL REGION
************/
	DELETE ac 
	FROM 
	tbtrx_allocation_region ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
	FROM 
	tbtrx_allocation_region ac
	INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
	INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

/**************************
INSERT REGION
***************************/
	INSERT INTO tbtrx_allocation_region(AllocationId,RegionId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.Id, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Allocation b on a.LongDesc = b.BudgetDesc
		CROSS JOIN tbmst_region c

	INSERT INTO tbtrx_allocation_region(AllocationId,RegionId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.Id, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Derivative b on a.LongDesc = b.AssignDesc
		CROSS JOIN tbmst_region c

/***********
DELETE BRAND PRODUCT
************/
	DELETE ac 
		FROM 
		tbtrx_allocation_brand ac
		INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
		INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
		FROM 
		tbtrx_allocation_brand ac
		INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
		INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

	DELETE ac 
		FROM 
		tbtrx_allocation_product ac
		INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
		INNER JOIN @Allocation temp on temp.BudgetDesc=al.LongDesc

	DELETE ac 
		FROM 
		tbtrx_allocation_product ac
		INNER JOIN tbtrx_allocation al on ac.AllocationId=al.Id
		INNER JOIN @Derivative temp on temp.AssignDesc=al.LongDesc

/**************************
INSERT BRAND PRODUCT
***************************/
	INSERT INTO tbtrx_allocation_brand(AllocationId,BrandId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, f.Id, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN tbtrx_budgetmaster b ON a.BudgetMasterId=b.Id
		INNER JOIN @Allocation c on a.LongDesc = c.BudgetDesc
		INNER JOIN @DCAllocation d on c.BudgetDesc=CONCAT(d.BudgetYear,' ',d.Brand,' - ',d.Distributor,' - ',d.SubActivity, ' Master Budget')
		INNER join tbmst_brand_group e on d.Brand=e.LongDesc
		INNER JOIN tbmst_brand f ON e.id=f.BrandGroupId
	INSERT INTO tbtrx_allocation_brand(AllocationId,BrandId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, f.Id, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN tbtrx_budgetmaster b ON a.BudgetMasterId=b.Id
		INNER JOIN @Derivative c on a.LongDesc = c.AssignDesc
		INNER JOIN @DCAllocation d on c.AssignDesc=CONCAT(d.BudgetYear,' ',d.Brand,' - ',d.Distributor,' - ',d.SubActivity)
		INNER join tbmst_brand_group e on d.Brand=e.LongDesc
		INNER JOIN tbmst_brand f ON e.id=f.BrandGroupId

	INSERT INTO tbtrx_allocation_product(AllocationId,BrandId,ProductId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.BrandId, d.Id, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Allocation b on a.LongDesc = b.BudgetDesc
		INNER JOIN tbtrx_allocation_brand c ON a.Id=c.AllocationId
		INNER JOIN tbmst_product d ON c.BrandId=d.BrandId

	INSERT INTO tbtrx_allocation_product(AllocationId,BrandId,ProductId,IsActive,CreateOn,CreateBy)
		SELECT distinct a.Id, c.BrandId, d.Id, 1, @utcDate123, @userid  FROM tbtrx_allocation a
		INNER JOIN @Derivative b on a.LongDesc = b.AssignDesc
		INNER JOIN tbtrx_allocation_brand c ON a.Id=c.AllocationId
		INNER JOIN tbmst_product d ON c.BrandId=d.BrandId

	IF EXISTS (SELECT * FROM @errtemp)
		BEGIN
			ROLLBACK
		END
	ELSE
		BEGIN
			COMMIT TRANSACTION
		END

	SELECT * FROM @errtemp

END TRY

BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;  
  
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
   );  
  
END CATCH

GO
