

/****** Object:  StoredProcedure [dbo].[ip_promo_exist_dc]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ip_promo_exist_dc]
@periode varchar(4)
,@distributorid int
,@subactivitytypeid int
,@subactivityid int
,@startPromo date
,@endPromo date
AS 
	SELECT top 1 tp.id,tp.RefId,ta2.Periode, ta2.distributorId,  md.longdesc distributor, tp.SubCategoryId subActivityTypeId, msc.longdesc subActivcityType
		, tp.subActivityId, ms.longdesc subActivity, tp.StartPromo, tp.EndPromo
	FROM tbtrx_promo tp with (nolock)
	INNER JOIN tbmst_category mc WITH (NOLOCK) ON tp.categoryid = mc.id
	INNER JOIN tbtrx_allocation ta2 WITH (NOLOCK) ON tp.AllocationId = ta2.id
	INNER JOIN tbmst_subactivity ms WITH (NOLOCK) ON tp.SubActivityId = ms.id
	INNER JOIN tbmst_distributor md WITH (NOLOCK) ON ta2.distributorid = md.id
	INNER JOIN tbmst_subcategory msc WITH (NOLOCK) ON tp.subcategoryid = msc.id
	WHERE isnull(tp.IsCancel, 0) = 0
	AND ta2.Periode = @periode 
	AND ta2.distributorid = @distributorid
	AND tp.SubCategoryId = @subactivitytypeid
	AND tp.SubActivityId = @subactivityid
    AND tp.StartPromo=@startPromo AND tp.EndPromo=@endPromo
    AND mc.shortdesc='DC'
    ORDER BY tp.id DESC
    
GO
