

/****** Object:  StoredProcedure [dbo].[ip_get_matrix_approval_process]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ip_get_matrix_approval_process]
@processId int
AS
DECLARE 
@utcDate123 DATETIME

SET @utcDate123 = dbo.getUTCDateConversion()

BEGIN

--set @matrixPromoId = 6043;

SELECT MatrixPromoApprovalId MatrixId
FROM tbset_matrix_approval_process_detail   
WHERE ProcessId = @processId

END

GO
