

/****** Object:  StoredProcedure [dbo].[ip_promo_list_reconciliation_p]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_promo_list_reconciliation_p] 
	@periode varchar(4),
	@entity int,
	@distributor int,
	@category int = NULL,
	@budgetparent int,
	@channel int,
	@userid varchar(50),
	@cancelstatus bit,
	@create_from date,
	@create_to date,
	@start_from date,
	@start_to date,

	@start int,
	@length int,
	@filter varchar(255),
	@txtSearch varchar(255)
AS

--DECLARE 
--	@periode varchar(4),
--	@entity int,
--	@distributor int,
--	@budgetparent int,
--	@channel int,
--	@userid varchar(50),
--	@cancelstatus bit,
--	@create_from date,
--	@create_to date,
--	@start_from date,
--	@start_to date,
--	@start int,
--	@length int,
--	@filter varchar(255),
--	@txtSearch varchar(255)

--	SET @periode ='2024'
--	SET @entity = 0
--	SET @distributor =0
--	SET @budgetparent=0
--	SET @channel = 0
--	set @userid ='KAMSAT'
--	SET @cancelstatus =0
--	SET @create_from ='2019-01-01'
--	SET @create_to ='2024-12-31'
--	SET @start_from ='2024-01-01'
--	SET @start_to ='2024-12-31'

--	SET @start =0
--	SET @length =10
--	SET @filter =''
--	SET @txtSearch =''

BEGIN
	SET @category=ISNULL(@category,0)
    drop table if exists #temp_result;        
	DECLARE @recordsFiltered int;
	SET @start = @start * @length

	DECLARE @Temp TABLE
		(
		  BudgetParent int, 
		  Levels int,
		  BudgetId int
		)

	DECLARE 
		@p_alcid int
		,@product_name int
     
	DECLARE cursor_product CURSOR
		FOR SELECT 
			Id
		FROM 
			tbtrx_allocation where BudgetType='BAL' --and BudgetMasterId=@budgetparent;
 
		OPEN cursor_product;
		FETCH NEXT FROM cursor_product INTO 
			@product_name
     
		WHILE @@FETCH_STATUS = 0
			BEGIN
        
				--SET @p_alcid=@budgetparent;
				SET @p_alcid=@product_name;
		
				WITH CTE(BDG_PARENT,BDG_CHILD,Levels,Rownumber)
					AS
					(
						SELECT 0 AS BDG_PARENT,CAST(@p_alcid AS VARCHAR) as BDG_CHILD,1 as Levels,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber
						union all
						SELECT a.AllocationId  AS BDG_PARENT,CAST(C.Id AS VARCHAR) AS BDG_CHILD,Levels + 1,CAST((Row_Number() Over (Order by @p_alcid) ) as Varchar(MAx)) as RowNumber from tbtrx_budgetassignment a 
						INNER JOIN tbtrx_budgetassignment_detail b  on (a.Id=b.assignmentId)
						INNER JOIN tbtrx_allocation c on b.Id=c.BudgetSourceId and c.BudgetType='BTR'
						INNER JOIN CTE AS sourcetable ON a.AllocationId=sourcetable.BDG_CHILD
					)
				
		
				INSERT INTO @Temp
				SELECT BDG_PARENT,Levels,BDG_CHILD FROM CTE
				option (maxrecursion 0);

				FETCH NEXT FROM cursor_product INTO 
					@product_name 
            
			END
 
		CLOSE cursor_product;
		DEALLOCATE cursor_product;

		DROP TABLE IF EXISTS #xtmp_promo
		DROP TABLE IF EXISTS #xtmp_his_promo

		SELECT 
			pr.*, ISNULL(mpps.allowedit, 0) allowedit into #xtmp_promo from tbtrx_promo pr
			LEFT JOIN tbset_map_promorecon_period_subactivity mpps on pr.subactivityid = mpps.subactivityid
			INNER JOIN @temp a on a.BudgetId=pr.AllocationId
			WHERE
				ISNULL(pr.IsCancel,0)=0
				AND IIF(@userid='0','',pr.CreateBy) =IIF(@userid='0','',@userid)
				AND ISNULL(pr.StatusApprovalCode, '')='TP2'
				AND CONVERT(varchar(8),pr.StartPromo,112) >= CONVERT(VARCHAR(8),@start_from,112)
				AND CONVERT(varchar(8),pr.EndPromo,112) <= convert(varchar(8),@start_to,112)

		SELECT 
			a.* into #xtmp_his_promo from tbhis_promo a
			INNER JOIN 
				(
					SELECT max(parentid) as parentid, id from tbhis_promo tp
					where StatusApprovalCode = 'TP1'
					group by id
				) b on a.parentid=b.parentid and a.id=b.id
			INNER JOIN #xtmp_promo pr on pr.id=a.id
/*************************************************/

		SELECT distinct
			pr.id promoId
			,pr.RefId 
	  		,p.LongDesc Entity
	  		,d.LongDesc Distributor
  			,IIF(cat.ShortDesc='DC',mec.mechanism, pr.ActivityDesc)ActivityDesc
	  		,pr.StartPromo 
	  		,pr.EndPromo
	  		,pr.CreateBy 
	  		,IIF(cat.ShortDesc='DC', '---', AccountDesc)AccountDesc
	  		,IIF(cat.ShortDesc='DC', '---', SubAccountDesc)SubAccountDesc
	  		,c.LongDesc Allocation 
			,IIF(ISNULL(pr.StatusApprovalCode, '')='TP2' and ISNULL(pr.StatusApprovalCodeRecon, '')='', pr.Investment, ISNULL(hispromo.Investment, pr.Investment)) bfrInvestment
			,IIF(ISNULL(pr.StatusApprovalCode, '')='TP2' and ISNULL(pr.StatusApprovalCodeRecon, '')='', iif(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100), iif(ISNULL(hispromo.Investment,0)=0, iif(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100),(hispromo.IncrSales-hispromo.Investment)/hispromo.Investment*100)) bfrRoi
			,IIF(ISNULL(pr.StatusApprovalCode, '')='TP2' and ISNULL(pr.StatusApprovalCodeRecon, '')='', pr.CostRatio, ISNULL(hispromo.CostRatio, pr.CostRatio)) bfrCostRatio
			,IIF(ISNULL(pr.isclose,0)=0, pr.Investment, ISNULL(dn.TotalPaid, 0)) Investment --issue #839	  	
			,iif(ISNULL(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment * 100) as Roi
			,pr.CostRatio 
			,IIF(ISNULL(pr.Reconciled,0)=1, 'Reconciled on ' + CAST(pr.ReconciledOn as varchar), 'Not yet Reconciled') as ReconStatus
			,IIF(pr.IsCancel=1
				,'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(ucancel.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar)
				, IIF(pr.statusapprovalcoderecon='TP2', 'Approved recon by ' + '-' + CAST(pr.ApproverReconName as varchar) +' ON ' + CAST(pr.ApproveOn as varchar)
				,pr.LastStatusRecon + '-' + pr.ApproverReconName
				)
				) LastStatus
			,ISNULL(pr.IsCancelLocked,0) IsCancelLocked
			,pr.TsCoding
			,pr.CancelNotes 
			,pr.initiator_notes
			,pr.InvestmentTypeId 
			,tit.RefId InvestmentTypeRefId
			,tit.LongDesc InvestmentTypeDesc	
			,pr.investment investmentBfrClose --issue #839
			,iif(ISNULL(pr.isclose,0)=0, 0, pr.investment-dn.TotalPaid) investmentClosedBalance --issue #839
			,ISNULL(pr.isclose, 0) isClose
			,pr.allowedit --ISU #875
			,pr.CategoryId -- AND isu E2#38
			,cat.ShortDesc CategoryShortDesc
			INTO #temp_result
			FROM @temp a
			INNER JOIN #xtmp_promo pr on a.BudgetId=pr.AllocationId
			INNER JOIN tbmst_category cat on pr.CategoryId=cat.Id
			LEFT JOIN #xtmp_his_promo hispromo ON pr.id=hispromo.id
			INNER JOIN tbtrx_allocation c on a.BudgetId=c.Id 
			INNER JOIN tbtrx_budgetmaster m on c.BudgetMasterId=m.Id
			LEFT JOIN tbmst_distributor d on m.DistributorId=d.Id
			LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
			LEFT JOIN tbtrx_allocation_channel chn on c.Id=chn.AllocationId
			INNER JOIN tbtrx_allocation_useraccess usr on usr.AllocationId=c.Id
			INNER JOIN tbset_user uo on uo.Id=usr.UserId
			INNER JOIN tbset_user uf on uf.Id=usr.UserId
			INNER JOIN tbset_user upr on upr.Id=pr.Approver
			LEFT JOIN tbset_user ucancel on ucancel.Id=pr.CancelBy
			LEFT JOIN tbmst_investment_type tit WITH(NOLOCK) on pr.InvestmentTypeId = tit.id 
			INNER JOIN
					(
						SELECT AllocationId,
						STUFF(
								(SELECT ',' + chn.LongDesc 
									from tbtrx_allocation_channel a
									join tbmst_channel chn
									ON a.ChannelId=chn.Id
									where a.AllocationId=b.AllocationId
									FOR XML PATH ('')),1,1,'') AS ChannelDesc
							FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
					) channel
					on c.Id = channel.AllocationId
			LEFT JOIN
					(
						SELECT PromoId,
						STUFF(
								(SELECT ',' + sub.LongDesc 
									from tbtrx_promo_account a
									join tbmst_account sub
									ON a.AccountId=sub.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS AccountDesc
							FROM tbtrx_promo_account b INNER JOIN #xtmp_promo ON Id=PromoId  GROUP BY PromoId
					) account
					on pr.Id = account.PromoId
			LEFT JOIN
					(
						SELECT PromoId,
						STUFF(
								(SELECT ',' + sub.LongDesc 
									from tbtrx_promo_subaccount a
									join tbmst_subaccount sub
									ON a.SubAccountId=sub.Id
									where a.PromoId=b.PromoId
									FOR XML PATH ('')),1,1,'') AS SubAccountDesc
							FROM tbtrx_promo_subaccount b INNER JOIN #xtmp_promo ON Id=PromoId  GROUP BY PromoId
					) subaccount
					on pr.Id = subaccount.PromoId
			LEFT JOIN 
				(
					SELECT a.* from tbtrx_promo_request_approval a
						INNER JOIN 
						(
							SELECT max(id) as id from tbtrx_promo_request_approval
								group by ParentId 
						) hispromoappr on a.id=hispromoappr.id
				) prev on pr.id=prev.parentid
			LEFT JOIN 
				(
					SELECT 
						a.PromoId,SUM(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)) - SUM(ISNULL(tc.dpp,0)) TotalClaim
	    				,SUM(iif(a.laststatus='confirm_paid',(iif(vatexpired=1,a.DPP+ISNULL(a.ppnamt,0),a.dpp)),0))- SUM(ISNULL(tc.dpp,0)) TotalPaid	    
						FROM tbtrx_debetnote a
						LEFT JOIN 
							(
        						SELECT dnid
        							, SUM(ISNULL(dpp, 0)) dpp
        							, SUM(iif(ISNULL(laststatus, '')='confirm_paid',ISNULL(dpp, 0),0)) TotalPaid
        						FROM tbtrx_creditnote
        						WHERE ISNULL(iscancel, 0) = 0
        						GROUP BY dnid
							) tc ON a.id = tc.dnid		
						WHERE ISNULL(a.IsCancel, 0) = 0
							AND ISNULL(a.IsDNPromo,0)=1
						GROUP BY a.PromoId
				) dn on pr.id=dn.promoid	
			LEFT JOIN tbtrx_promo_mechanism mec on pr.Id=mec.PromoId and cat.ShortDesc='DC'
			WHERE m.Periode=@periode
				AND m.Periode<2025
				AND IIF(@budgetparent=0,'',pr.BudgetMasterId) =IIF(@budgetparent=0,'',@budgetparent) 
				AND IIF(@entity=0,'',PrincipalId) =IIF(@entity=0,'',@entity)
				AND IIF(@distributor=0,'',m.DistributorId) =IIF(@distributor=0,'',@distributor)
				AND IIF(@channel=0,'',chn.ChannelId) =IIF(@channel=0,'',@channel)
				AND IIF(@category=0,'',pr.categoryid) =IIF(@category=0,'',@category)
			ORDER BY pr.Id


	    /**********************
            start pagination
        **********************/
		IF @length = -1
			BEGIN
				SELECT * FROM #temp_result
				WHERE 
					IIF(@txtSearch is null, '', 
						ISNULL(RefId,'') +
						ISNULL(Entity,'') + 
						ISNULL(Distributor,'') + 
						ISNULL(ActivityDesc,'') +
						ISNULL(AccountDesc,'') +
						ISNULL(SubAccountDesc,'') +
						ISNULL(Allocation,'')
						) 
						like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
				ORDER BY PromoId ASC
			END
        ELSE
			BEGIN
				SELECT * FROM #temp_result
				WHERE 
					IIF(@txtSearch is null, '', 
						ISNULL(RefId,'') +
						ISNULL(Entity,'') + 
						ISNULL(Distributor,'') + 
						ISNULL(ActivityDesc,'') +
						ISNULL(AccountDesc,'') +
						ISNULL(SubAccountDesc,'') +
						ISNULL(Allocation,'')
						) 
						like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
				ORDER BY PromoId ASC OFFSET @start ROWS FETCH NEXT @length ROWS ONLY
			END

		SET @recordsFiltered = 
			(
				SELECT ISNULL(count(PromoId),0) 
				FROM #temp_result
				WHERE 
					IIF(@txtSearch is null, '', 
						ISNULL(RefId,'') +
						ISNULL(Entity,'') + 
						ISNULL(Distributor,'') + 
						ISNULL(ActivityDesc,'') +
						ISNULL(AccountDesc,'') +
						ISNULL(SubAccountDesc,'') +
						ISNULL(Allocation,'')
						) 
						like IIF(@txtSearch is null,'','%' + @txtSearch + '%')
			)

        SELECT ISNULL(count(PromoId),0) as recordsTotal, @recordsFiltered as recordsFiltered FROM #temp_result
        DROP TABLE IF EXISTS #temp_result
        /**********************
            end pagination
        **********************/

		DROP TABLE IF EXISTS #xtmp_promo
		DROP TABLE IF EXISTS #temp_result
		DROP TABLE IF EXISTS #xtmp_his_promo

END
GO
