USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_import_matrix_budget]    Script Date: 10/6/2025 11:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ip_import_matrix_budget]
@matrix as BudgetApproverType READONLY,
@userid varchar(50)
AS
BEGIN
DELETE FROM tbset_matrix_budget_approver WHERE ParentId IN
(
	SELECT Id FROM tbset_matrix_budget_approval a
	INNER JOIN
	(
	SELECT Periode
	,p.Id PrincipalId
	,d.Id DistributorId
	,MinInvestment
	,MaxInvestment
	   FROM @matrix t
	   INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
	   INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
	) b 
	ON a.Periode=b.Periode
	AND a.PrincipalId=b.PrincipalId
	AND a.DistributorId=b.DistributorId
	AND a.MinInvestment=b.MinInvestment
	AND a.MaxInvestment=b.MaxInvestment

)



INSERT INTO tbset_matrix_budget_approval	
(
     Periode
	,PrincipalId
	,DistributorId
	,MinInvestment
	,MaxInvestment
)
	SELECT 
	t.Periode
	,p.Id PrincipalId
	,d.Id DistributorId
	,t.MinInvestment
	,t.MaxInvestment
	FROM @matrix t
	INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
	INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
	LEFT JOIN tbset_matrix_budget_approval bdg ON 
	bdg.Periode=t.Periode
	AND bdg.PrincipalId=p.Id
	AND bdg.DistributorId=d.Id
	AND bdg.MinInvestment=t.MinInvestment
	AND bdg.MaxInvestment=t.MaxInvestment
	WHERE bdg.Periode IS null
	


INSERT INTO tbset_matrix_budget_approver(ParentId,SeqApproval,Approver,IsActive)
SELECT 
m.Id,x.Seq,Approver,1
FROM
(
SELECT 
Periode
,PrincipalId
,DistributorId
,MinInvestment
,MaxInvestment
,ROW_NUMBER() OVER(PARTITION BY Periode
	,PrincipalId
	,DistributorId
	,MinInvestment
	,MaxInvestment
 ORDER BY (select null)
) Seq
,Approver
FROM   
  (
SELECT Periode
,p.Id PrincipalId
,d.Id DistributorId
,MinInvestment
,MaxInvestment
,[Approver1],[Approver2],[Approver3],[Approver4],[Approver5]
   FROM @matrix t
   INNER JOIN tbmst_principal p on p.LongDesc=t.PrincipalId
   INNER JOIN tbmst_distributor d on d.LongDesc=t.DistributorId
   ) p  
UNPIVOT  
   (Approver FOR Attribute IN   
      (
		[Approver1],[Approver2],[Approver3],[Approver4],[Approver5]
	  )  
)AS unpvt
) x
INNER JOIN tbset_matrix_budget_approval m
ON x.Periode=m.Periode
AND x.PrincipalId=m.PrincipalId
AND x.DistributorId=m.DistributorId
AND x.MinInvestment=m.MinInvestment
AND x.MaxInvestment=m.MaxInvestment
WHERE isnull(x.Approver,'') <> ''
end
GO
