USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_v4_insert_dc]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ip_promo_v4_insert_dc]
@IsNew bit
,@Promo PromoV4Type READONLY
,@Region BudgetAllocationChildsType READONLY
,@Channel BudgetAllocationChildsType READONLY
,@SubChannel BudgetAllocationChildsType READONLY
,@Account BudgetAllocationChildsType READONLY
,@SubAccount BudgetAllocationChildsType READONLY
,@Brand BudgetAllocationChildsType READONLY
,@Sku BudgetAllocationChildsType READONLY
,@attachment PromoAttachmentType READONLY
,@Mechanism MechanismType READONLY
--,@messageout varchar(255) OUT
AS
DECLARE @utcDate123 DATETIME
SET @utcDate123 = dbo.getUTCDateConversion()

/*TESTING PURPOSE*********************************************/
--DROP TABLE IF EXISTS TempPromoV4Type
--DROP TABLE IF EXISTS TempRegion4
--DROP TABLE IF EXISTS TempChannel4 
--DROP TABLE IF EXISTS TempSubChannel4 
--DROP TABLE IF EXISTS TempAccount4 
--DROP TABLE IF EXISTS TempSubAccount4 
--DROP TABLE IF EXISTS TempBrand4 
--DROP TABLE IF EXISTS TempSku4 
--DROP TABLE IF EXISTS Tempattachment4 
--DROP TABLE IF EXISTS TempMechanism4 

--SELECT * INTO TempPromoV4Type	FROM @promo
--SELECT * INTO TempRegion4		FROM @Region
--SELECT * INTO TempChannel4 		FROM @Channel
--SELECT * INTO TempSubChannel4 	FROM @SubChannel
--SELECT * INTO TempAccount4 		FROM @Account
--SELECT * INTO TempSubAccount4 	FROM @SubAccount
--SELECT * INTO TempBrand4 		FROM @Brand
--SELECT * INTO TempSku4 			FROM @Sku
--SELECT * INTO Tempattachment4 	FROM @attachment
--SELECT * INTO TempMechanism4 	FROM @Mechanism

--DECLARE
--	@IsNew bit=0
--	,@Promo PromoV4Type 
--	,@Region BudgetAllocationChildsType 
--	,@Channel BudgetAllocationChildsType 
--	,@SubChannel BudgetAllocationChildsType 
--	,@Account BudgetAllocationChildsType 
--	,@SubAccount BudgetAllocationChildsType 
--	,@Brand BudgetAllocationChildsType 
--	,@Sku BudgetAllocationChildsType 
--	,@attachment PromoAttachmentType 
--	,@Mechanism MechanismType 

--insert into @promo			select * from TempPromoV4Type
--insert into @region			SELECT * from TempRegion4		
--insert into @Channel		SELECT * from TempChannel4 		
--insert into @SubChannel		SELECT * from TempSubChannel4 	
--insert into @Account		SELECT * from TempAccount4 		
--insert into @SubAccount		SELECT * from TempSubAccount4
--insert into @Brand			SELECT * from TempBrand4 	
--insert into	@Sku			SELECT * from TempSku4 		
--insert into	@attachment		SELECT * from Tempattachment4
--insert into	@Mechanism		SELECT * from TempMechanism4 

/*********************************************TESTING PURPOSE*/


	DECLARE @categoryShortDesc varchar(20)
	DECLARE @ChnCount int

	SELECT @categoryShortDesc=c.ShortDesc from @Promo a
	INNER JOIN tbmst_subcategory b on a.SubCategoryId=b.Id
	INNER JOIN tbmst_category c on b.CategoryId=c.Id	
	SET @ChnCount=(SELECT COUNT(*) FROM @Channel)

BEGIN TRY
BEGIN TRANSACTION
	DECLARE @DCRegion BudgetAllocationChildsType 
	DECLARE @DCBrand BudgetAllocationChildsType 
	DECLARE @DCSku BudgetAllocationChildsType 

	INSERT INTO @DCRegion (Id)	SELECT RegionId FROM tbtrx_allocation_region WHERE AllocationId=(SELECT AllocationId FROM @Promo)
	INSERT INTO @DCBrand (Id)		SELECT BrandId FROM tbtrx_allocation_brand WHERE AllocationId=(SELECT AllocationId FROM @Promo)
	INSERT INTO @DCSku (ParentId, Id)		SELECT BrandId, ProductId FROM tbtrx_allocation_product WHERE AllocationId=(SELECT AllocationId FROM @Promo)

	DECLARE
		@rowcount int,
		@PromoId int,
		@ParentId_his int,
		@p_reqid int

	DECLARE
		@AllocationId int,
		@AllocationId_old int,
		@Periode varchar(4),
		@PrincipalId int,
		@DistributorId int,
		@ActivityId int, --#876
		@SubActivityId int,
		@SubActivityType int,
		@SubCategoryId int,
		@ChannelId int,
		@SubChannelId int,
		@Initiator varchar(50),
		@Investment numeric (19,0),
		@PrevTotInvest numeric (19,0),
		@TotSales numeric (19,0),
		@PrevTotSales numeric (19,0),
		@IncrSales numeric (19,0),
		@PrevIncrSales numeric (19,0),
		@NormalSales numeric (19,0),
		@PrevNormalSales numeric (19,0),
		@StartPromo date,
		@EndPromo date,
		@matrixid int,
		@messageout varchar(255),
		@RequestId int,
		@budgetamount numeric(19,2),
		@remainingamount numeric(19,2),
		@promorefid varchar(50),
		@roi numeric(19,2),
		@PrevRoi numeric(19,2),
		@costratio numeric(19,2),
		@PrevCostRatio numeric(19,2),
		@statusapproval VARCHAR(255),
		@oldinvest numeric(19,0),
		@tscoding varchar(50),
		@userid varchar(50),
		@SKP_Draft int,
		@promoPlanId int,
	--	@promoRefId_cek varchar(50)
		@sumDPPDN numeric(19,2)
		,@userApprover varchar(50)
		,@investmentTypeId int
		,@late_submission_day int
		,@useremail varchar(100)
		,@modifreason varchar(255)
		,@promoIsClose int
		,@promoIsCancel int
/* start ISU #886 */
		,@ActivityDesc varchar(255)
		,@initiatorNotesOld varchar(255)
		,@initiatorNotesNew varchar(255)
		,@mechanismOld nvarchar(max)
		,@mechanismNew nvarchar(max)
		
		,@channelOld nvarchar(max)
		,@channelNew nvarchar(max)
		,@subChannelOld nvarchar(max)
		,@subChannelNew nvarchar(max)
		,@accountOld nvarchar(max)
		,@accountNew nvarchar(max)
		,@subAccountOld nvarchar(max)
		,@subAccountNew nvarchar(max)
		
		,@regionOld nvarchar(max)
		,@regionNew nvarchar(max)
		,@brandOld nvarchar(max)
		,@brandNew nvarchar(max)
		,@skuOld nvarchar(max)
		,@skuNew nvarchar(max)		
		,@sttChannel int
		,@sttSubChannel int
		,@sttAccount int
		,@sttSubAccount int
		,@sttRegion int
		,@sttBrand int
		,@sttSKU int
		,@sttMechanism int
		,@sttInitiatorNotes int

	-- new item
		,@sttDistributor int
		,@distributorOld int
		,@distributorNew int
		,@sttSubCategory int
		,@sttGroupBrand int
		,@sttBudgetSources int
		,@sttPromoPlan int	
		,@sttAttachment int
		,@attachmentOld nvarchar(MAX)
		,@attachmentNew nvarchar(MAX)
		,@errFileName nvarchar(max)
		,@errCntFileName int
		
		SELECT TOP 1 @errFileName = isnull(filename, ''), @errCntFileName = isnull(COUNT(filename), 0) 
		FROM @attachment
		GROUP BY filename
		HAVING COUNT(filename) > 1
		
		IF @errFileName <> ''
		BEGIN
			SET @messageout='More than one attachment with same filename (' + @errFileName + ') are not allowed'		
			RAISERROR (@messageout, -- Message text.
				   16, -- Severity.
				   1 -- State.
				   );
		END
		

		SELECT TOP 1
			@sttChannel = Channel
			,@sttSubChannel = SubChannel
			,@sttAccount = Account
			,@sttSubAccount = SubAccount
			,@sttRegion = Region
			,@sttBrand = Brand
			,@sttSKU = SKU
			,@sttMechanism = Mechanism
			,@sttInitiatorNotes = initiatorNotes
			,@sttDistributor = Distributor
			,@sttSubCategory = SubCategory
			,@sttGroupBrand = GroupBrand
			,@sttBudgetSources = BudgetSources
			,@sttPromoPlan = PromoPlan
			,@sttAttachment = Attachment
		FROM tbset_major_changes
		-- select DC
		WHERE CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='DC')
		
		SET @channelNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Channel)
		SET @subChannelNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @SubChannel)
		SET @accountNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Account)
		SET @subAccountNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @SubAccount)
		SET @regionNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Region)
		SET @brandNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Brand)
		SET @skuNew = (SELECT string_agg(Id,', ') WITHIN GROUP (ORDER BY cast(Id as int) ) FROM @Sku)
		SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM @attachment)		

/* end ISU #886 */

		SET @distributorOld = 0
		SET @distributorNew = 0
		-- get distributor to compare
		if (@sttDistributor = 1)
			BEGIN
				SET @distributorNew = (SELECT DistributorId  
									from tbtrx_budgetmaster budget
									WHERE budget.Id = (SELECT BudgetMasterId FROM @Promo))


				SET @distributorOld = (SELECT budget.DistributorId  
									from tbtrx_budgetmaster budget
									LEFT JOIN tbtrx_promo prm1 ON prm1.BudgetMasterId = budget.id
									WHERE prm1.Id = (SELECT PromoId FROM @Promo))
			END
			
		SET @late_submission_day=(SELECT daysfrom FROM tbset_config_reminder WHERE id = 502)

		insert into PromoType(ActivityId,SubActivityId)
		select ActivityId,SubActivityId from @Promo


	--RECALCULATE BALANCE--
		EXEC ip_recalculate_balance @AllocationId
	--RECALCULATE BALANCE--

	SELECT TOP 1
		@AllocationId=t.AllocationId
		,@SubCategoryId=t.SubCategoryId
		,@PromoId=t.PromoId
		,@Periode=m.Periode
		,@PrincipalId=m.PrincipalId
		,@DistributorId=m.DistributorId
		,@SubActivityType=st.Id
		,@ChannelId=tc.Id
		,@SubChannelId=tsc.Id
		,@Initiator=t.CreateBy
		,@Investment=t.Investment
		,@NormalSales=t.NormalSales
		,@IncrSales=t.IncrSales
		,@Startpromo=t.StartPromo
		,@EndPromo=t.EndPromo
		,@ActivityDesc = t.ActivityDesc -- #886
		,@budgetamount=alc.BudgetAmount
		,@remainingamount=bal.RemainingAmount
		,@roi=t.roi
		,@costratio=t.costratio
		,@tscoding=t.tscoding
		,@userid=t.CreateBy
		,@ActivityId = t.ActivityId  --#876
		,@SubActivityId = t.SubActivityId
		,@promoPlanId=promoPlanId
		,@investmentTypeId = tmit.InvestmentTypeId
		,@useremail = t.CreatedEmail
		,@modifreason = t.modifReason
		,@initiatorNotesNew = t.initiator_notes
	FROM @Promo t
	INNER JOIN tbtrx_allocation alc ON t.AllocationId=alc.Id
	INNER JOIN tbtrx_allocation_balance bal ON alc.Id=bal.AllocationId --and bal.SubCategoryId=t.SubCategoryId
	INNER JOIN tbtrx_budgetmaster m on alc.BudgetMasterId=m.Id
	INNER JOIN tbmst_subactivity sa on sa.Id=t.SubactivityId
	INNER JOIN tbmst_subactivity_type st on st.Id=sa.SubActivityTypeId
	INNER JOIN @Channel tc on 1=1
	INNER JOIN @SubChannel tsc on 1=1
	LEFT JOIN tbset_map_investment_type tmit on t.SubactivityId=tmit.SubactivityId

	/********************
	GET MATRIX APPROVAL
	********************/

	declare @entitiydesc varchar(255)
	declare @distributordesc varchar(255)
	declare @subactivitytypedesc varchar(255)
	declare @channeldesc varchar(255),@subchanneldesc varchar(255)

	select @entitiydesc=a.Longdesc from tbmst_principal a where a.Id=@PrincipalId
	select @distributordesc=a.Longdesc from tbmst_distributor a where a.Id=@DistributorId
	select @subactivitytypedesc=a.Longdesc from tbmst_subactivity_type a where a.Id=@SubActivityType
	select @channeldesc=a.Longdesc from tbmst_channel a where a.Id=@ChannelId
	select @subchanneldesc=a.Longdesc from tbmst_subchannel a where a.Id=@SubChannelId
	
	IF @ChnCount>1
		BEGIN
			SELECT top 1 @matrixid=a.Id FROM tbset_matrix_promo_approval a
			INNER JOIN tbmst_category c on a.CategoryId=c.Id	
			INNER JOIN 
				(
					SELECT Id ChnId FROM tbmst_channel WHERE ShortDesc='ALL'
				) b ON a.ChannelId=b.ChnId
			WHERE isnull(Periode,'')=''
			AND PrincipalId=@PrincipalId
			AND DistributorId=@DistributorId
			AND SubActivityType=@SubActivityType
			AND ChannelId=b.ChnId
			AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
			AND [Initiator]=@Initiator
			AND @Investment >= MinInvestment and @Investment <= MaxInvestment
			AND c.ShortDesc='DC'
		END
	ELSE
		BEGIN
			SELECT top 1  @matrixid=a.Id FROM tbset_matrix_promo_approval a
			INNER JOIN tbmst_category c on a.CategoryId=c.Id	
			WHERE isnull(Periode,'')=''
			AND PrincipalId=@PrincipalId
			AND DistributorId=@DistributorId
			AND SubActivityType=@SubActivityType
			AND ChannelId=@ChannelId
			AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
			AND [Initiator]=@Initiator
			AND @Investment >= MinInvestment and @Investment <= MaxInvestment
			AND c.ShortDesc='DC'
		END

		
	if @matrixid is null
	begin
		SET @messageout='Matrix Approval not found for :<br>Entity: ' +  cast(@entitiydesc as varchar) + ', Distributor: ' + cast(@distributordesc as varchar) + ', Category: ' + cast(@categoryShortDesc as varchar)  + ', Sub Activity Type: ' + cast(@subactivitytypedesc as varchar)+ ', Channel: ' + cast(@channeldesc as varchar) + ', Initiator: ' + cast(@Initiator as varchar)		
		RAISERROR (@messageout, -- Message text.
               16, -- Severity.
               1 -- State.
               );
	end

	IF @IsNew = 1
	BEGIN
	/*********************
	PROSES NEW
	*********************/
	/*
	 * Cek Planing used promo
	 */
		iF EXISTS
		(
			SELECT tp.id, tp.RefId FROM tbtrx_promo_planning tpp
			INNER JOIN tbtrx_promo tp ON tpp.id=tp.PromoPlanId AND isnull(tp.IsCancel, 0)=0
			WHERE tpp.id = @promoPlanId
		)
		BEGIN
			   RAISERROR ('Promo Planning already used', -- Message text.
               16, -- Severity.
               1 -- State.
               );
		END

		/**********************
		 * Start Cek SKP Draft
		 **********************/
		SET @SKP_Draft = 1
		IF @SKP_Draft=0
		BEGIN
			IF NOT EXISTS(
				SELECT DocLink,[Filename] FROM @attachment where DocLink='row1'
			)
			BEGIN
			   RAISERROR ('Please attach file', -- Message text.
			   16, -- Severity.
			   1 -- State.
			   );
			END
		END
		/**********************
		 * End Cek SKP Draft
		**********************/

		if @Investment > @remainingamount
		begin
			   RAISERROR ('Budget Exeeded', -- Message text.
               16, -- Severity.
               1 -- State.
               );
 		end

		INSERT INTO [tbtrx_promo]
		(
			PromoPlanId
			,AllocationId
			,AllocationRefId
			,PrincipalShortDesc
			,CategoryShortDesc
			,BudgetMasterId
			,CategoryId
			,SubCategoryId
			,ActivityId
			,SubActivityId
			,ActivityDesc
			,StartPromo
			,EndPromo
			,Mechanisme1
			,Mechanisme2
			,Mechanisme3
			,Mechanisme4
			,Investment
			,NormalSales
			,IncrSales
			,Roi
			,CostRatio
			,StatusApprovalCode
			,StatusApproval
			,Notes
			,TsCoding
			,CreateOn
			,CreateBy
			,initiator_notes
			,investmentTypeId
			,late_submission_day
			,CreatedEmail
			,matrixapprovalid
			,investmentForDN
		)
		SELECT
			PromoPlanId
			,t.AllocationId
			,al.RefId
			,p.ShortDesc PrincipalShortDesc
			,ctg.ShortDesc CategoryShortDesc
			,al.BudgetMasterId
			,m.CategoryId
			,t.SubCategoryId
			,t.ActivityId
			,t.SubActivityId
			,ActivityDesc
			,StartPromo
			,EndPromo
			,Mechanisme1
			,Mechanisme2
			,Mechanisme3
			,Mechanisme4
			,Investment
			,NormalSales
			,IncrSales
			,Roi
			,CostRatio
			,'TP1' StatusApprovalCode
			,'TP1' StatusApproval
			,t.Notes
			,TsCoding
			,@utcDate123 CreateOn
			,t.CreateBy
			,t.initiator_notes
			,@investmentTypeId
			,@late_submission_day
			,t.CreatedEmail
			,@matrixid
			,Investment
		FROM @Promo t
		LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id
		LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
		LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
		LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId

		SET @rowcount=@@ROWCOUNT

		if @rowcount = 0
		begin
			 SET @messageout='Unable to save promotion !'
			 RAISERROR (@messageout, -- Message text.
				   16, -- Severity.
				   1 -- State.
				   );
		end

		SET @PromoId=(SELECT SCOPE_IDENTITY())

		insert into tbtrx_promo_doclink(PromoId,DocLink,[FileName],CreateOn,Createby)
		SELECT @PromoId,DocLink,[Filename],@utcDate123,@userid FROM @attachment
--		SELECT @PromoId,DocLink,[Filename],(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC',@userid FROM @attachment
		

		SET @promorefid=(SELECT RefId from tbtrx_promo where Id=@PromoId)

		/****************************
		INSERT KE TABLE REQUEST APPROVAL
		****************************/

		INSERT INTO [dbo].[tbtrx_promo_request_approval]
		(
			[ParentId]
			,[RefId]
			,[PromoPlanId]
			,[AllocationId]
			,[AllocationRefId]
			,[CategoryShortDesc]
			,[PrincipalShortDesc]
			,[BudgetMasterId]
			,[CategoryId]
			,[SubCategoryId]
			,[ActivityId]
			,[SubActivityId]
			,[ActivityDesc]
			,[StartPromo]
			,[EndPromo]
			,[Mechanisme1]
			,[Mechanisme2]
			,[Mechanisme3]
			,[Mechanisme4]
			,[Notes]
			,[Roi]
			,[CostRatio]
			,[NormalSales]
			,[IncrSales]
			,[TotSales]
			,[TotInvest]
			,[Status]
			,[CreateOn]
			,[CreateBy]
			,[ModifiedOn]
			,[ModifiedBy]
			,[IsCancel]
			,[TsCoding]
			,[RequestEmail]
		)
	    SELECT	
			@PromoId
			,[RefId]
			,[PromoPlanId]
			,[AllocationId]
			,[AllocationRefId]
			,[CategoryShortDesc]
			,[PrincipalShortDesc]
			,[BudgetMasterId]
			,[CategoryId]
			,[SubCategoryId]
			,[ActivityId]
			,[SubActivityId]
			,[ActivityDesc]
			,[StartPromo]
			,[EndPromo]
			,[Mechanisme1]
			,[Mechanisme2]
			,[Mechanisme3]
			,[Mechanisme4]
			,[Notes]
			,[Roi]
			,[CostRatio]
			,[NormalSales]
			,[IncrSales]
			,[NormalSales] + [IncrSales]
			,[Investment]
			,[StatusApprovalCode]
			,[CreateOn]
			,[CreateBy]
			,[ModifiedOn]
			,[ModifiedBy]
			,0
			,TsCoding
			,@useremail
	   FROM tbtrx_promo WHERE Id=@PromoId

		SET @RequestId=(SELECT SCOPE_IDENTITY())

		/****************************
		INSERT KE TABLE APPROVAL
		****************************/
		INSERT INTO [dbo].[tbtrx_promo_approval]
           ([RequestId]
           ,[Sequence]
           ,[UserApprover]
           ,[Status]
           ,[RequestDate]
           ,[ActionDate]
           ,[IsOnGoing]
           ,UserApproverName
           ,UserApproverEmail
           )
		SELECT @RequestId
			,a.SeqApproval
			,a.Approver
			,'TP1'
			,@utcDate123
			,@utcDate123
--			,(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
--			,(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
			,IIF(SeqApproval=1,1,0)
			,b.username
			,b.email
		FROM tbset_matrix_promo_approver a
		INNER JOIN tbset_user b on a.Approver=b.id
		where a.ParentId=@matrixId

		IF @rowcount <> 0
		BEGIN
		 /*********************
		 DELETE INSERT ATTRIBUTE
		 *********************/
			INSERT INTO tbtrx_promo_region(PromoId,RegionId)
			SELECT @PromoId,t.Id from @DCRegion t INNER JOIN tbmst_region a on a.Id=t.Id

			INSERT INTO tbtrx_promo_channel(PromoId,ChannelId)
			SELECT @PromoId,t.Id from @Channel t INNER JOIN tbmst_channel a on a.Id=t.Id

			INSERT INTO tbtrx_promo_subchannel(PromoId,ChannelId,SubChannelId)
			SELECT @PromoId,ParentId,t.Id from @SubChannel t INNER JOIN tbmst_subchannel a on a.Id=t.Id

			INSERT INTO tbtrx_promo_account(PromoId,SubChannelId,AccountId)
			SELECT @PromoId,ParentId,t.Id from @Account t INNER JOIN tbmst_account a on a.Id=t.Id

			INSERT INTO tbtrx_promo_subaccount(PromoId,AccountId,SubAccountId)
			SELECT @PromoId,ParentId,t.Id from @SubAccount t INNER JOIN tbmst_subaccount a on a.Id=t.Id

			INSERT INTO tbtrx_promo_brand(PromoId,BrandId)
			SELECT DISTINCT @PromoId,t.Id from @DCBrand t INNER JOIN tbmst_brand a on a.Id=t.Id

			INSERT INTO tbtrx_promo_product(PromoId,BrandId,ProductId)
			SELECT DISTINCT @PromoId,ParentId,t.Id from @DCSku t INNER JOIN tbmst_product a on a.Id=t.Id

			INSERT INTO tbtrx_promo_mechanism(PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
			SELECT @PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM @Mechanism
			
		END
		/*********************
		DELETE INSERT ATTRIBUTE
		*********************/

		SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

		UPDATE tbtrx_promo
		SET
			StatusApprovalCode=tbmst_master_status.StatusCode
			,StatusApproval=tbmst_master_status.StatusDesc
			,Approver=tbtrx_promo_approval.UserApprover
			,ApproverName=tbtrx_promo_approval.UserApproverName
			,ApproveOn=tbtrx_promo_approval.ActionDate
			,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
		from tbtrx_promo
		INNER JOIN tbtrx_promo_request_approval
		on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
		INNER JOIN tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
		INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
		where tbtrx_promo_request_approval.IsCancel=0
		and tbtrx_promo_approval.IsOnGoing=1
		AND RequestId=@p_reqid

		/********************
		UPDATE BALANCE
		********************/
		UPDATE tbtrx_allocation_balance
		SET ReserveAmount=ReserveAmount + @Investment
		WHERE AllocationId=@AllocationId
		and SubCategoryId=@SubCategoryId

		/***********************
		 * Start Create History
		 **********************/
		INSERT INTO tbhis_promo_parent(
			StatusAction
			,ActionOn
			,ActionBy
			,CreatedEmail
		) VALUES (
			'insert'
			,@utcDate123
--			(getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
			,@initiator
			,@useremail
		)
		
		SET @ParentId_his=(SELECT SCOPE_IDENTITY())

		INSERT INTO [tbhis_promo] (
			ParentId,
			Id,
			PromoPlanId,
			AllocationId,
			AllocationRefId,
			CategoryShortDesc,
			PrincipalShortDesc,
			BudgetMasterId,
			CategoryId,
			SubCategoryId,
			ActivityId,
			SubActivityId,
			ActivityDesc,
			StartPromo,
			EndPromo,
			Mechanisme1,
			Mechanisme2,
			Mechanisme3,
			Mechanisme4,
			Investment,
			NormalSales,
			IncrSales,
			Roi,
			CostRatio,
			StatusApprovalCode,
			StatusApproval,
			StatusApprovalCodeRecon,
			StatusApprovalRecon,
			Notes,
			IsActive,
			IsLocked,
			CreateOn,
			CreateBy,
			ModifiedOn,
			ModifiedBy,
			IsDelete,
			DeleteOn,
			DeleteBy,
			ApproveOn,
			ApproveOnRecon,
			Approver,
			ApproverRecon,
			ApprovalNotes,
			ApprovalNotesRecon,
			OldInvest,
			IsCancel,
			CancelOn,
			CancelBy,
			CancelNotes,
			IsCancelLocked,
			LastStatusRecon,
			LastStatus,
			TsCoding,
			PromoNumber,
			RefId,
			IsClose,
			CloseOn,
			CloseBy,
			Reconciled,
			ReconciledOn,
			ReconciledBy,
			initiator_notes,
			CreatedEmail,
			matrixapprovalid,
			ModifReason
		)
		SELECT @ParentId_his,
			t.Id,
			t.PromoPlanId,
			t.AllocationId,
			t.AllocationRefId,
			t.CategoryShortDesc,
			t.PrincipalShortDesc,
			t.BudgetMasterId,
			t.CategoryId,
			t.SubCategoryId,
			t.ActivityId,
			t.SubActivityId,
			t.ActivityDesc,
			t.StartPromo,
			t.EndPromo,
			t.Mechanisme1,
			t.Mechanisme2,
			t.Mechanisme3,
			t.Mechanisme4,
			t.Investment,
			t.NormalSales,
			t.IncrSales,
			t.Roi,
			t.CostRatio,
			t.StatusApprovalCode,
			t.StatusApproval,
			t.StatusApprovalCodeRecon,
			t.StatusApprovalRecon,
			t.Notes,
			t.IsActive,
			t.IsLocked,
			t.CreateOn,
			t.CreateBy,
			t.ModifiedOn,
			t.ModifiedBy,
			t.IsDelete,
			t.DeleteOn,
			t.DeleteBy,
			t.ApproveOn,
			t.ApproveOnRecon,
			t.Approver,
			t.ApproverRecon,
			t.ApprovalNotes,
			t.ApprovalNotesRecon,
			t.OldInvest,
			t.IsCancel,
			t.CancelOn,
			t.CancelBy,
			t.CancelNotes,
			t.IsCancelLocked,
			t.LastStatusRecon,
			t.LastStatus,
			t.TsCoding,
			t.PromoNumber,
			t.RefId,
			t.IsClose,
			t.CloseOn,
			t.CloseBy,
			t.Reconciled,
			t.ReconciledOn,
			t.ReconciledBy,
			t.initiator_notes,
			t.CreatedEmail,
			@matrixid,
			t.ModifReason 
		FROM tbtrx_promo t
			LEFT JOIN tbtrx_allocation al on t.AllocationId=al.Id
			LEFT JOIN tbtrx_budgetmaster m ON al.BudgetMasterId=m.Id
			LEFT JOIN tbmst_principal p on m.PrincipalId=p.Id
			LEFT JOIN tbmst_category ctg on ctg.Id=m.CategoryId
			where t.id=@PromoId

		INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
			SELECT @ParentId_his,@PromoId,t.Id from @DCRegion t INNER JOIN tbmst_region a on a.Id=t.Id

		INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId)
			SELECT @ParentId_his,@PromoId,t.Id from @Channel t INNER JOIN tbmst_channel a on a.Id=t.Id

		INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId)
			SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubChannel t INNER JOIN tbmst_subchannel a on a.Id=t.Id

		INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId)
			SELECT @ParentId_his,@PromoId,ParentId,t.Id from @Account t INNER JOIN tbmst_account a on a.Id=t.Id

		INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId)
			SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubAccount t INNER JOIN tbmst_subaccount a on a.Id=t.Id

		INSERT INTO tbhis_promo_brand(ParentId,PromoId,BrandId)
			SELECT DISTINCT @ParentId_his,@PromoId,t.Id from @DCBrand t INNER JOIN tbmst_brand a on a.Id=t.Id

		INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId)
			SELECT DISTINCT @ParentId_his,@PromoId,ParentId,t.Id from @DCSku t INNER JOIN tbmst_product a on a.Id=t.Id

		INSERT INTO tbhis_promo_doclink(ParentId,PromoId,DocLink,[FileName],CreateOn,Createby)
			SELECT @ParentId_his,@PromoId,DocLink,[Filename],@utcDate123,@userid FROM @attachment
			
		INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
			SELECT @ParentId_his, @PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM @Mechanism			

		/*********************
		 * End Create History
		 *********************/
        /************************
          * cREATE SKP Draft
         ************************/
	    INSERT INTO tbtrx_promo_skp_validate ( 
			PromoId
			, SKPDraftAvail
			, SKPDraftAvailOn
			, SKPDraftAvailBy
			, SKPDraftAvailBfrAct60
			, SKPDraftAvailBfrAct60On
			, SKPDraftAvailBfrAct60By
			, EntityDraft
			, EntityDraftOn
			, EntityDraftBy
			, BrandDraft
			, BrandDraftOn
			, BrandDraftBy
			, PeriodDraft
			, PeriodDraftOn
			, PeriodDraftBy
			, ActivityDescDraft
			, ActivityDescDraftOn
			, ActivityDescDraftBy
			, MechanismDraft
			, MechanismDraftOn
			, MechanismDraftBy
			, InvestmentDraft
			, InvestmentDraftOn
			, InvestmentDraftBy
			, DistributorDraft
			, DistributorDraftOn
			, DistributorDraftBy
			, ChannelDraft
			, ChannelDraftOn
			, ChannelDraftBy
			, StoreNameDraft
			, StoreNameDraftOn
			, StoreNameDraftBy
		) VALUES (
			@PromoId
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
			,1
			,@utcDate123
			,@userid
        )

		IF NOT EXISTS
		(
			select 1 as bool
			,@PromoId as [Id]
			,@promorefid as [RefId]
			,200 as [statuscode]
			,a.Id [userid_initiator]
			,a.username [username_initiator]
			,a.email [email_initiator]
			,b.Id [userid_approver]
			,b.username [username_approver]
			,b.email [email_approver]
			FROM tbtrx_promo pr
			INNER JOIN tbset_user a on pr.CreateBy=a.Id
			INNER JOIN tbset_user b on pr.Approver=b.Id
			where pr.Id=@PromoId
		)
		BEGIN
			SET @messageout='email address initator or approver not found '
				 RAISERROR (@messageout, -- Message text.
					   16, -- Severity.
					   1 -- State.
					   );
		END


		select 1 as bool
			,@PromoId as [Id]
			,@promorefid as [RefId]
			,200 as [statuscode]
			,a.Id [userid_initiator]
			,a.username [username_initiator]
			,a.email [email_initiator]
			,b.Id [userid_approver]
			,b.username [username_approver]
			,b.email [email_approver]
		FROM tbtrx_promo pr
		INNER JOIN tbset_user a on pr.CreateBy=a.Id
		INNER JOIN tbset_user b on pr.Approver=b.Id
		where pr.Id=@PromoId


	END
	/*********************
	SELESAI PROSES NEW
	*********************/
	ELSE
	/*********************
	PROSES UPDATE
	*********************/
	--if @IsNew=0
	BEGIN
		SET @promorefid=(SELECT RefId from tbtrx_promo where Id=@PromoId)
        select @mechanismNew = string_agg(concat(a.mechanism, ' ', a.notes),'; ')
            from @Mechanism a
		
		SELECT @attachmentOld = string_agg(tpd.FileName,', ') WITHIN GROUP (ORDER BY doclink )
			FROM tbhis_promo_doclink tpd 
		where ParentId =
			(select max(ParentId)
			from tbhis_promo where id = @PromoId)
		GROUP BY tpd.PromoId 
            
		SET @attachmentNew = (SELECT string_agg([FileName],', ')  WITHIN GROUP (ORDER BY doclink ) FROM tbtrx_promo_doclink where promoid = @PromoId)	
		
		SELECT
			@oldinvest=pr.Investment
			,@PrevTotinvest=pr.Investment
			,@promorefid=pr.refid
			,@PrevRoi=pr.Roi
			,@PrevCostRatio=pr.CostRatio
			,@PrevIncrSales=pr.IncrSales
			,@PrevNormalSales=pr.NormalSales
			,@PrevTotSales=pr.IncrSales + pr.NormalSales
			,@promoIsClose=pr.IsClose
			,@promoIsCancel=pr.IsCancel
			,@mechanismOld = mechanism.mechanism
/* start ISU #886 */			
			,@initiatorNotesOld = pr.initiator_notes
			,@channelOld = tpc.channelid
			,@subChannelOld = tps.subchannelid
			,@accountOld = tpa.accountid
			,@subAccountOld = tps2.subaccountid
			,@regionOld = region.region
			,@brandOld = brand.brand
			,@skuOld = sku.sku		
			,@AllocationId_old = pr.allocationid
		FROM tbtrx_promo pr WITH (nolock)
		INNER JOIN (
	       select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
       from tbtrx_promo_mechanism a WITH (nolock)
    	        GROUP BY a.PromoId		
		) mechanism ON pr.id=mechanism.PromoId
		INNER JOIN (
			SELECT PromoId,  string_agg(channelId,', ') channelid FROM tbtrx_promo_channel WITH (nolock) 
			GROUP BY PromoId
		) tpc ON pr.id=tpc.PromoId 
		INNER JOIN (
			SELECT PromoId,  string_agg(subchannelId,', ') subchannelid FROM tbtrx_promo_subchannel WITH (nolock) 
			GROUP BY PromoId
		) tps ON pr.id= tps.PromoId 
		INNER JOIN (
			SELECT PromoId,  string_agg(accountId,', ') accountid FROM tbtrx_promo_account WITH (nolock) 
			GROUP BY PromoId
		) tpa ON pr.id=tpa.PromoId
		INNER JOIN (
			SELECT PromoId,  string_agg(subaccountId,', ') subaccountid FROM tbtrx_promo_subaccount WITH (nolock) 
			GROUP BY PromoId
		) tps2 ON pr.id=tps2.PromoId 
		INNER JOIN (
		    SELECT PromoId, string_agg(a.regionid,', ') region
		        FROM tbtrx_promo_region a WITH (nolock)
		        GROUP BY a.PromoId
		
		) region ON pr.id=region.PromoId
		INNER JOIN (
		    SELECT PromoId, string_agg(a.brandid,', ') brand
		        FROM tbtrx_promo_brand a WITH (nolock)
		        GROUP BY a.PromoId
		
		) brand ON pr.id=brand.PromoId
		INNER JOIN (
		    SELECT PromoId, string_agg(a.productid,', ') sku
		        FROM tbtrx_promo_product a WITH (nolock)
		        GROUP BY a.PromoId
		
		) sku ON pr.id=brand.PromoId		
/* end #ISU 886 */
		WHERE pr.Id=@PromoId

		if @promoIsClose=1 or @promoIsCancel=1
		begin
			RAISERROR ('Can not Edit this Promo, this promo is close or cancel', -- Message text.
			16, -- Severity.
			1 -- State.
			);
		end

/*CHECK IF THERE IS CHANGES ON BUDGET ID*/
--		IF @AllocationId=@AllocationId_old 
--			BEGIN
				IF @Investment > (@remainingamount + @oldinvest)
					BEGIN
						RAISERROR ('Budget Exeeded', -- Message text.
						16, -- Severity.
						1 -- State.
						);
					END
--			END
--		ELSE
--			BEGIN
--				IF @Investment > @remainingamount 
--					BEGIN
--						RAISERROR ('Budget Exeeded', -- Message text.
--						16, -- Severity.
--						1 -- State.
--						);
--					END
--			END

		SET @sumDPPDN = (select isnull(SUM ( IIF(isnull(dn.VATExpired,0)=0, isnull(dn.DPP,0), isnull(dn.DPP,0) + isnull(dn.PPNAmt,0))), 0) from dbo.tbtrx_debetnote dn where isnull(iscancel, 0)= 0 and promoid=@PromoId)
		IF @sumDPPDN > @Investment
		BEGIN
			   RAISERROR ('Total Investment cannot be less than Total Debetnote', -- Message text.
               16, -- Severity.
               1 -- State.
               );
		END
		/*********************
		DELETE INSERT ATTRIBUTE
		*********************/
		DELETE FROM tbtrx_promo_region WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_region(PromoId,RegionId)
			SELECT @PromoId,t.Id from @DCRegion t INNER JOIN tbmst_region a on a.Id=t.Id

		DELETE FROM tbtrx_promo_channel WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_channel(PromoId,ChannelId)
			SELECT @PromoId,t.Id from @Channel t INNER JOIN tbmst_channel a on a.Id=t.Id

		DELETE FROM tbtrx_promo_subchannel WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_subchannel(PromoId,ChannelId,SubChannelId)
			SELECT @PromoId,ParentId,t.Id from @SubChannel t INNER JOIN tbmst_subchannel a on a.Id=t.Id

		DELETE FROM tbtrx_promo_account WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_account(PromoId,SubChannelId,AccountId)
			SELECT @PromoId,ParentId,t.Id from @Account t INNER JOIN tbmst_account a on a.Id=t.Id

		DELETE FROM tbtrx_promo_subaccount WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_subaccount(PromoId,AccountId,SubAccountId)
			SELECT @PromoId,ParentId,t.Id from @SubAccount t INNER JOIN tbmst_subaccount a on a.Id=t.Id

		DELETE FROM tbtrx_promo_brand WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_brand(PromoId,BrandId)
			SELECT DISTINCT @PromoId,t.Id from @DCBrand t INNER JOIN tbmst_brand a on a.Id=t.Id

		DELETE FROM tbtrx_promo_product WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_product(PromoId,BrandId,ProductId)
			SELECT DISTINCT @PromoId,ParentId,t.Id from @DCSku t INNER JOIN tbmst_product a on a.Id=t.Id

		DELETE FROM tbtrx_promo_mechanism WHERE PromoId=@PromoId
		INSERT INTO tbtrx_promo_mechanism(PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
			SELECT @PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM @Mechanism

		--SET @promorefid=(SELECT RefId from tbtrx_promo where Id=@PromoId)

		---UPDATE DATA DI TABLE PROMO

		UPDATE A
		SET
			A.AllocationId=B.AllocationId
			,A.AllocationRefId=B.AllocationRefId
			,A.BudgetMasterId=C.BudgetMasterId
			,A.SubCategoryId=B.SubCategoryId
			,A.ActivityId=B.ActivityId
			,A.SubActivityId=B.SubActivityId
			,A.ActivityDesc=B.ActivityDesc
			,A.StartPromo=B.StartPromo
			,A.EndPromo=B.EndPromo
			,A.Mechanisme1=B.Mechanisme1
			,A.Mechanisme2=B.Mechanisme2
			,A.Mechanisme3=B.Mechanisme3
			,A.Mechanisme4=B.Mechanisme4
			,A.Investment =B.Investment
			,A.NormalSales=B.NormalSales
			,A.IncrSales=B.IncrSales
			--				,A.Roi=B.Roi
			--				,A.CostRatio=B.CostRatio
			,A.Roi=iif(B.investment=0,0,round((B.incrsales-B.investment) / B.investment * 100, 2))
			,A.CostRatio=iif((B.normalsales+B.incrsales)=0,0,round(B.investment / (B.normalsales+B.incrsales) * 100, 2))
			,A.Notes=B.Notes
			,A.TsCoding=B.TsCoding
			,A.ModifiedBy=@initiator
			,A.ModifiedOn=@utcDate123
			,A.initiator_notes=B.initiator_notes
			,A.statusapproval=IIF(A.statusapprovalcode='TP1', 'Waiting For Approval', 'Approved')
			,A.investmentTypeId = @investmentTypeId
			,A.ModifiedEmail = @useremail
			,A.matrixapprovalid = @matrixid
			,A.ModifReason = B.ModifReason
			,A.investmentForDN = B.Investment
		FROM tbtrx_promo A
		INNER JOIN @Promo B on A.Id=B.PromoId
		INNER JOIN tbtrx_allocation C on B.AllocationId=C.Id
		WHERE A.Id=@PromoId
		--------------



		SET @statusapproval=(SELECT StatusApprovalCode from tbtrx_promo where Id=@PromoId)

		IF @statusapproval='TP2' --JIKA PROMO SUDAH BERSTATUS APPROVE
		BEGIN
		/******************************************
		CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
		*******************************************/
/* start ISU #886 */		
			UPDATE tpra
				SET tpra.ModifiedOn=@utcDate123
			FROM tbtrx_promo_request_approval_recon tpra
				CROSS JOIN tbset_major_changes tmc 
			WHERE ParentId=@PromoId
			-- select DC
			AND tmc.CategoryId = (SELECT id FROM tbmst_category WHERE ShortDesc='DC')

			AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
			AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
			AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
			AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
--			AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
			AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @Investment, 0)
			AND iif(tmc.BudgetSources = 1, tpra.AllocationId, 0) = iif(tmc.BudgetSources = 1, @AllocationId, 0)
--			AND iif(tmc.IncrSales = 1, tpra.IncrSales, 0) = iif(tmc.IncrSales = 1, @IncrSales, 0)
--			AND iif(tmc.ROI = 1, tpra.Roi, 0) = iif(tmc.ROI = 1, @roi, 0)
--			AND iif(tmc.CR = 1, tpra.CostRatio, 0) = iif(tmc.CR = 1, @costratio, 0)
			-- added 16Nov
--			AND iif(tmc.[BudgetSources]  = 1, tpra.BudgetMasterId, 0) = iif(tmc.[BudgetSources] = 1, (SELECT BudgetMasterId FROM @Promo), 0)
			AND iif(tmc.[PromoPlan]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[PromoPlan] = 1, (SELECT PromoPlanId FROM @Promo), 0)
			AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT SubCategoryId FROM @Promo), 0)

			AND ISNULL(IsCancel,0)=0
/*			
			-- end #876
**** ISU #886 */

			set @rowcount=@@ROWCOUNT
--JIKA MAJOR CHANGES ATAU REQUEST BARU
			if @rowcount = 0 
			OR (@channelOld <> @channelNew AND @sttChannel = 1) 
--			OR (@subChannelOld <> @subChannelNew AND @sttSubChannel = 1) 
--			OR (@accountOld <> @accountNew AND @sttAccount = 1) 
--			OR (@subAccountOld <> @subAccountNew AND @sttSubAccount = 1) 
--			OR (@regionOld <> @regionNew AND @sttRegion = 1) 
			OR (@brandOld <> @brandNew AND @sttBrand = 1) 
--			OR (@skuOld <> @skuNew AND @sttSKU = 1) 
			OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
			OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
			OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
			OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)

			
/**** End ISU #886 */			
			begin

				UPDATE [tbtrx_promo_request_approval_recon]
					SET IsCancel=1
				WHERE ParentId=@PromoId
				AND ISNULL(IsCancel,0)=0

				/****************************
				BUAT REQUEST APPROVAL BARU
				INSERT KE TABLE REQUEST APPROVAL
				****************************/
				INSERT INTO [dbo].[tbtrx_promo_request_approval_recon]
					([ParentId]
					,[RefId]
					,[PromoPlanId]
					,[AllocationId]
					,[AllocationRefId]
					,[CategoryShortDesc]
					,[PrincipalShortDesc]
					,[BudgetMasterId]
					,[CategoryId]
					,[SubCategoryId]
					,[ActivityId]
					,[SubActivityId]
					,[ActivityDesc]
					,[StartPromo]
					,[EndPromo]
					,[Mechanisme1]
					,[Mechanisme2]
					,[Mechanisme3]
					,[Mechanisme4]
					,[Notes]
					,[Roi]
					,[CostRatio]
					,[NormalSales]
					,[IncrSales]
					,[TotSales]
					,[TotInvest]
					,[PrevRoi]
					,[PrevCostRatio]
					,[PrevNormalSales]
					,[PrevIncrSales]
					,[PrevTotSales]
					,[PrevTotInvest]
					,[Status]
					,[TsCoding]
					,[CreateOn]
					,[CreateBy]
					,[ModifiedOn]
					,[ModifiedBy]
					,[IsCancel]
					,[RequestEmail]
				)
				SELECT
					@PromoId
					,[RefId]
					,[PromoPlanId]
					,[AllocationId]
					,[AllocationRefId]
					,[CategoryShortDesc]
					,[PrincipalShortDesc]
					,[BudgetMasterId]
					,[CategoryId]
					,[SubCategoryId]
					,[ActivityId]
					,[SubActivityId]
					,[ActivityDesc]
					,[StartPromo]
					,[EndPromo]
					,[Mechanisme1]
					,[Mechanisme2]
					,[Mechanisme3]
					,[Mechanisme4]
					,[Notes]
					,[Roi]
					,[CostRatio]
					,[NormalSales]
					,[IncrSales]
					,[NormalSales] + [IncrSales]
					,[Investment]
					,@PrevRoi
					,@PrevCostRatio
					,@PrevNormalSales
					,@PrevIncrSales
					,@PrevTotSales
					,@PrevTotInvest
					,'TP1'
					,[TsCoding]
					,[CreateOn]
					,[CreateBy]
					,[ModifiedOn]
					,[ModifiedBy]
					,0
					,@useremail
				FROM tbtrx_promo WHERE Id=@PromoId
				/************************/

				/************************
				AMBIL ID REQUEST YANG BARU DI CREATE
				************************/
				SET @RequestId=(SELECT SCOPE_IDENTITY())
				/***********************/

				/****************************
				INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
				****************************/
				INSERT INTO [dbo].[tbtrx_promo_approval_recon]
					([RequestId]
					,[Sequence]
					,[UserApprover]
					,[Status]
					,[RequestDate]
					,[ActionDate]
					,[IsOnGoing]
					,UserApproverName
					,UserApproverEmail
				)
				SELECT @RequestId
					,SeqApproval
					,Approver
					,'TP1'
					,@utcDate123
					,@utcDate123
					,IIF(SeqApproval=1,1,0)
					,b.username
					,b.email
				FROM tbset_matrix_promo_approver a
				INNER JOIN tbset_user b on a.Approver=b.id
				where ParentId=@matrixId
				/***********************************/


				--AMBIL ID REQUEST YANG BARU DI CREATE
				SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval_recon where ParentId=@Promoid and IsCancel=0)

				--UPDATE STATUS DI TABLE PROMO
				UPDATE tbtrx_promo
				SET
					StatusApprovalCodeRecon=tbmst_master_status.StatusCode
					,StatusApprovalRecon=tbmst_master_status.StatusDesc
					,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
					,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
					,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
					,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
					,matrixapprovalid = @matrixid
				from tbtrx_promo
				INNER JOIN tbtrx_promo_request_approval_recon
				on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
				INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
				INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
				where tbtrx_promo_request_approval_recon.IsCancel=0
				and tbtrx_promo_approval_recon.IsOnGoing=1
				AND RequestId=@p_reqid

			end
			else
			----- jika tidak ada perubahan angka dan promo periode
				begin
					UPDATE A
					SET A.[Status]='TP1'
						,A.RequestDate=@utcDate123
						,A.ActionDate=@utcDate123
					FROM tbtrx_promo_approval_recon A
					LEFT JOIN tbtrx_promo_request_approval_recon B ON B.Id=A.RequestId
					WHERE ParentId=@PromoId AND IsCancel=0
					AND A.[Status]='TP3' and A.IsOnGoing=1

					UPDATE tbtrx_promo
					SET
						StatusApprovalCodeRecon=tbmst_master_status.StatusCode
						,StatusApprovalRecon=tbmst_master_status.StatusDesc
						,ApproverRecon=tbtrx_promo_approval_recon.UserApprover
						,ApproverReconName=tbtrx_promo_approval_recon.UserApproverName
						,ApproveOnRecon=tbtrx_promo_approval_recon.ActionDate
						,ApprovalNotesRecon=coalesce(tbtrx_promo_approval_recon.Notes,'')
						,matrixapprovalid = @matrixid
					from tbtrx_promo
					INNER JOIN tbtrx_promo_request_approval_recon
					on tbtrx_promo.Id=tbtrx_promo_request_approval_recon.parentid
					INNER JOIN tbtrx_promo_approval_recon on RequestId=tbtrx_promo_request_approval_recon.Id
					INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval_recon.[Status] and tbmst_master_status.StatusType='TPP'
					where tbtrx_promo_request_approval_recon.IsCancel=0
					and tbtrx_promo_approval_recon.IsOnGoing=1
					AND ParentId=@PromoId
				end


			/********************
			UPDATE BALANCE
			********************/

			declare @reconcount int
			SET @reconcount=(SELECT COUNT(*) from tbtrx_promo_request_approval_recon where ParentId=@Promoid)

			if @reconcount > 1
				BEGIN
					UPDATE bal
					SET
					ReserveAmount=@Investment
					,UseAmount=UseAmount - X.TotInvest
					FROM tbtrx_allocation_balance bal
					INNER JOIN tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
					INNER JOIN
					(
						SELECT ParentId,TotInvest from tbtrx_promo_request_approval_recon where Id IN
						(
							SELECT MAX(Id) Id
							FROM tbtrx_promo_request_approval_recon WHERE [IsCancel]=1 GROUP BY ParentId
						)
					) X
					ON X.ParentId=pr.Id
					where pr.Id=@Promoid
				END
			ELSE
				BEGIN
					UPDATE bal
					SET
					ReserveAmount=@Investment
					,UseAmount=UseAmount - X.TotInvest
					FROM tbtrx_allocation_balance bal
					INNER JOIN tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
					INNER JOIN
					(
						SELECT ParentId,TotInvest from tbtrx_promo_request_approval where Id IN
						(
							SELECT MAX(Id) Id
							FROM tbtrx_promo_request_approval WHERE [IsCancel]=1 GROUP BY ParentId
						)
					) X
					ON X.ParentId=pr.Id
					where pr.Id=@Promoid
				END
		END
		ELSE
		BEGIN
			/******************************************
			CEK APAKAH INVEST DAN PROMO PERIODE BERUBAH
			*******************************************/
/* start ISU #886 */		

--			insert into mytmp (f1, f2) values ('ActivityId', @ActivityId)
--			insert into mytmp (f1, f2) values ('SubActivityId', @SubActivityId)
--			insert into mytmp (f1, f2) values ('Startpromo', @Startpromo)
--			insert into mytmp (f1, f2) values ('EndPromo', @EndPromo)
--			insert into mytmp (f1, f2) values ('Investment', @Investment)
--			insert into mytmp (f1, f2) values ('AllocationId', @AllocationId)
--			insert into mytmp (f1, f2) values ('BudgetSources', (SELECT BudgetMasterId FROM @Promo))
--			insert into mytmp (f1, f2) values ('PromoPlan', (SELECT PromoPlanId FROM @Promo))
--			insert into mytmp (f1, f2) values ('SubCategory', (SELECT SubCategoryId FROM @Promo))
			
			
			UPDATE tpra
				SET tpra.ModifiedOn=@utcDate123
			FROM tbtrx_promo_request_approval tpra
				CROSS JOIN tbset_major_changes tmc 
			WHERE ParentId=@PromoId
			-- select DC
			AND tmc.CategoryId=(SELECT id FROM tbmst_category WHERE ShortDesc='DC')

			AND iif(tmc.Activity  = 1, tpra.ActivityId, 0) = iif(tmc.Activity = 1, @ActivityId, 0)
			AND iif(tmc.SubActivity = 1, tpra.SubActivityId, 0) = iif(tmc.SubActivity = 1, @SubActivityId, 0)
			AND iif(tmc.StartPromo = 1, tpra.StartPromo, '') = iif(tmc.StartPromo = 1, @Startpromo, '')
			AND iif(tmc.EndPromo = 1, tpra.EndPromo, '') = iif(tmc.EndPromo = 1, @EndPromo, '')
--			AND iif(tmc.ActivityDesc  = 1, tpra.ActivityDesc, '') = iif(tmc.ActivityDesc = 1, @ActivityDesc, '')
			AND iif(tmc.Investment = 1, tpra.TotInvest, 0) = iif(tmc.Investment = 1, @Investment, 0)
			AND iif(tmc.BudgetSources = 1, tpra.AllocationId, 0) = iif(tmc.BudgetSources = 1, @AllocationId, 0)
			--AND iif(tmc.IncrSales = 1, tpra.IncrSales, 0) = iif(tmc.IncrSales = 1, @IncrSales, 0)
			--AND iif(tmc.ROI = 1, tpra.Roi, 0) = iif(tmc.ROI = 1, @roi, 0)
			--AND iif(tmc.CR = 1, tpra.CostRatio, 0) = iif(tmc.CR = 1, @costratio, 0)
		-- added 16Nov
--			AND iif(tmc.[BudgetSources]  = 1, tpra.BudgetMasterId, 0) = iif(tmc.[BudgetSources] = 1, (SELECT BudgetMasterId FROM @Promo), 0)
			AND iif(tmc.[PromoPlan]  = 1, tpra.PromoPlanId , 0) = iif(tmc.[PromoPlan] = 1, (SELECT PromoPlanId FROM @Promo), 0)
			AND iif(tmc.[SubCategory]  = 1, tpra.SubCategoryId , 0) = iif(tmc.[SubCategory] = 1, (SELECT SubCategoryId FROM @Promo), 0)

			AND ISNULL(IsCancel,0)=0
/*			
			-- end #876
**** ISU #886 */

			set @rowcount=@@ROWCOUNT
			
			--JIKA MAJOR CHANGES ATAU REQUEST BARU
			if @rowcount = 0 
			OR (@channelOld <> @channelNew AND @sttChannel = 1) 
--			OR (@subChannelOld <> @subChannelNew AND @sttSubChannel = 1) 
--			OR (@accountOld <> @accountNew AND @sttAccount = 1) 
--			OR (@subAccountOld <> @subAccountNew AND @sttSubAccount = 1) 
--			OR (@regionOld <> @regionNew AND @sttRegion = 1) 
			OR (@brandOld <> @brandNew AND @sttBrand = 1) 
--			OR (@skuOld <> @skuNew AND @sttSKU = 1) 
			OR (@MechanismOld<>@mechanismNew AND @sttMechanism = 1) 
			OR (@initiatorNotesOld<>@initiatorNotesNew AND @sttInitiatorNotes = 1)
			OR (@attachmentOld<>@attachmentNew AND @sttAttachment = 1)
			OR (@distributorOld<>@distributorNew AND @sttDistributor= 1)

/**** End ISU #886 */			

			begin
				UPDATE [tbtrx_promo_request_approval]
				SET IsCancel=1
				WHERE ParentId=@PromoId
				AND ISNULL(IsCancel,0)=0

				/****************************
				BUAT REQUEST APPROVAL BARU
				INSERT KE TABLE REQUEST APPROVAL
				****************************/

				INSERT INTO [dbo].[tbtrx_promo_request_approval]
			   ([ParentId]
					,[RefId]
					,[PromoPlanId]
					,[AllocationId]
					,[AllocationRefId]
					,[CategoryShortDesc]
					,[PrincipalShortDesc]
					,[BudgetMasterId]
					,[CategoryId]
					,[SubCategoryId]
					,[ActivityId]
					,[SubActivityId]
					,[ActivityDesc]
					,[StartPromo]
					,[EndPromo]
					,[Mechanisme1]
					,[Mechanisme2]
					,[Mechanisme3]
					,[Mechanisme4]
					,[Notes]
					,[Roi]
					,[CostRatio]
					,[NormalSales]
					,[IncrSales]
					,[TotSales]
					,[TotInvest]
					,[PrevRoi]
					,[PrevCostRatio]
					,[PrevNormalSales]
					,[PrevIncrSales]
					,[PrevTotSales]
					,[PrevTotInvest]
					,[Status]
					,[TsCoding]
					,[CreateOn]
					,[CreateBy]
					,[ModifiedOn]
					,[ModifiedBy]
					,[IsCancel]
					,[RequestEmail]
				)
			    SELECT
					@PromoId
					,[RefId]
					,[PromoPlanId]
					,[AllocationId]
					,[AllocationRefId]
					,[CategoryShortDesc]
					,[PrincipalShortDesc]
					,[BudgetMasterId]
					,[CategoryId]
					,[SubCategoryId]
					,[ActivityId]
					,[SubActivityId]
					,[ActivityDesc]
					,[StartPromo]
					,[EndPromo]
					,[Mechanisme1]
					,[Mechanisme2]
					,[Mechanisme3]
					,[Mechanisme4]
					,[Notes]
					,[Roi]
					,[CostRatio]
					,[NormalSales]
					,[IncrSales]
					,[NormalSales] + [IncrSales]
					,[Investment]
					,@PrevRoi
					,@PrevCostRatio
					,@PrevNormalSales
					,@PrevIncrSales
					,@PrevTotSales
					,@PrevTotInvest
					,[StatusApprovalCode]
					,[TsCoding]
					,@utcDate123
					,@Initiator
					,[ModifiedOn]
					,[ModifiedBy]
					,0
					,@useremail
				FROM tbtrx_promo WHERE Id=@PromoId
				/************************/

				/************************
				AMBIL ID REQUEST YANG BARU DI CREATE
				************************/
					SET @RequestId=(SELECT SCOPE_IDENTITY())
				/***********************/

				/****************************
				INSERT KE TABLE APPROVAL DENGAN REQUEST ID YANG BARU
				****************************/
				INSERT INTO [dbo].[tbtrx_promo_approval]
				([RequestId]
					,[Sequence]
					,[UserApprover]
					,[Status]
					,[RequestDate]
					,[ActionDate]
					,[IsOnGoing]
					,UserApproverName
					,UserApproverEmail
			    )
				SELECT @RequestId
					,SeqApproval
					,Approver
					,'TP1'
					,@utcDate123
					,@utcDate123
					,IIF(SeqApproval=1,1,0)
					,b.username
					,b.email
				FROM tbset_matrix_promo_approver a
				INNER JOIN tbset_user b on a.Approver=b.id
				where ParentId=@matrixId
				/***********************************/


				--AMBIL ID REQUEST YANG BARU DI CREATE
				SET @p_reqid=(SELECT Id from tbtrx_promo_request_approval where ParentId=@Promoid and IsCancel=0)

				--UPDATE STATUS DI TABLE PROMO
				UPDATE tbtrx_promo
				SET
					StatusApprovalCode=tbmst_master_status.StatusCode
					,StatusApproval=tbmst_master_status.StatusDesc
					,Approver=tbtrx_promo_approval.UserApprover
					,ApproverName=tbtrx_promo_approval.UserApproverName
					,ApproveOn=tbtrx_promo_approval.ActionDate
					,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
					,matrixapprovalid = @matrixid
				from tbtrx_promo
				INNER JOIN tbtrx_promo_request_approval
				on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
				INNER JOIN tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
				INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
				where tbtrx_promo_request_approval.IsCancel=0
				and tbtrx_promo_approval.IsOnGoing=1
						AND RequestId=@p_reqid

			end
			else
			----- jika tidak ada perubahan angka dan promo periode
			begin
				/****************************
				BUAT REQUEST APPROVAL BARU
				INSERT KE TABLE REQUEST APPROVAL
				****************************/

				INSERT INTO [dbo].[tbtrx_promo_request_approval]
					([ParentId]
					,[RefId]
					,[PromoPlanId]
					,[AllocationId]
					,[AllocationRefId]
					,[CategoryShortDesc]
					,[PrincipalShortDesc]
					,[BudgetMasterId]
					,[CategoryId]
					,[SubCategoryId]
					,[ActivityId]
					,[SubActivityId]
					,[ActivityDesc]
					,[StartPromo]
					,[EndPromo]
					,[Mechanisme1]
					,[Mechanisme2]
					,[Mechanisme3]
					,[Mechanisme4]
					,[Notes]
					,[Roi]
					,[CostRatio]
					,[NormalSales]
					,[IncrSales]
					,[TotSales]
					,[TotInvest]
					,[PrevRoi]
					,[PrevCostRatio]
					,[PrevNormalSales]
					,[PrevIncrSales]
					,[PrevTotSales]
					,[PrevTotInvest]
					,[Status]
					,[TsCoding]
					,[CreateOn]
					,[CreateBy]
					,[ModifiedOn]
					,[ModifiedBy]
					,[IsCancel]
					,[RequestEmail]
					)
				SELECT
					@PromoId
					,[RefId]
					,[PromoPlanId]
					,[AllocationId]
					,[AllocationRefId]
					,[CategoryShortDesc]
					,[PrincipalShortDesc]
					,[BudgetMasterId]
					,[CategoryId]
					,[SubCategoryId]
					,[ActivityId]
					,[SubActivityId]
					,[ActivityDesc]
					,[StartPromo]
					,[EndPromo]
					,[Mechanisme1]
					,[Mechanisme2]
					,[Mechanisme3]
					,[Mechanisme4]
					,[Notes]
					,[Roi]
					,[CostRatio]
					,[NormalSales]
					,[IncrSales]
					,[NormalSales] + [IncrSales]
					,[Investment]
					,@PrevRoi
					,@PrevCostRatio
					,@PrevNormalSales
					,@PrevIncrSales
					,@PrevTotSales
					,@PrevTotInvest
					,[StatusApprovalCode]
					,[TsCoding]
					,@utcDate123
					,@initiator
					,[ModifiedOn]
					,[ModifiedBy]
					,0
				    ,@useremail
			    FROM tbtrx_promo WHERE Id=@PromoId
				/************************/

				/************************
				AMBIL ID REQUEST YANG BARU DI CREATE
				************************/
					SET @RequestId=(SELECT SCOPE_IDENTITY())
				/***********************/

				INSERT INTO tbtrx_promo_approval(RequestId,Sequence,UserApprover,[Status],RequestDate,ActionDate,IsOnGoing,UserApproverName,UserApproverEmail)
				select @RequestId,
					A.Sequence,
					A.UserApprover,
					A.[Status],
					CASE WHEN A.[Status]='TP2' THEN A.ActionDate ELSE A.RequestDate END,
					A.ActionDate,
					A.IsOnGoing
					,A.UserApproverName
					,A.UserApproverEmail
				FROM tbtrx_promo_approval A
				LEFT JOIN tbtrx_promo_request_approval ON Id=RequestId
				LEFT JOIN tbtrx_promo ON tbtrx_promo.Id= tbtrx_promo_request_approval.ParentId
				WHERE
				ParentId=@Promoid AND
				tbtrx_promo_request_approval.IsCancel=0


				UPDATE [tbtrx_promo_request_approval]
				SET IsCancel=1
				WHERE ParentId=@PromoId
				and Id <> @RequestId
				AND ISNULL(IsCancel,0)=0

				UPDATE A
				SET A.[Status]='TP1'
					,A.RequestDate=@utcDate123
					,A.ActionDate=@utcDate123
				FROM tbtrx_promo_approval A
				LEFT JOIN tbtrx_promo_request_approval B ON B.Id=A.RequestId
				WHERE ParentId=@PromoId AND IsCancel=0
				AND A.[Status]='TP3' and A.IsOnGoing=1

				UPDATE tbtrx_promo
				SET
					StatusApprovalCode=tbmst_master_status.StatusCode
					,StatusApproval=tbmst_master_status.StatusDesc
					,Approver=tbtrx_promo_approval.UserApprover
					,ApproverName=tbtrx_promo_approval.UserApproverName
					,ApproveOn=tbtrx_promo_approval.ActionDate
					,ApprovalNotes=coalesce(tbtrx_promo_approval.Notes,'')
					,matrixapprovalid = @matrixid
				from tbtrx_promo
				INNER JOIN tbtrx_promo_request_approval
				on tbtrx_promo.Id=tbtrx_promo_request_approval.parentid
				INNER JOIN tbtrx_promo_approval on RequestId=tbtrx_promo_request_approval.Id
				INNER JOIN tbmst_master_status on StatusCode=tbtrx_promo_approval.[Status] and tbmst_master_status.StatusType='TPP'
				where tbtrx_promo_request_approval.IsCancel=0
				and tbtrx_promo_approval.IsOnGoing=1
				AND ParentId=@PromoId
			end


			/********************
			UPDATE BALANCE
			********************/
			UPDATE bal
			SET ReserveAmount=(ReserveAmount - X.TotInvest) + @Investment
			FROM tbtrx_allocation_balance bal
			INNER JOIN tbtrx_promo pr on bal.AllocationId=pr.AllocationId and bal.SubCategoryId=pr.SubCategoryId
			INNER JOIN
			(
				SELECT ParentId,TotInvest from tbtrx_promo_request_approval where Id IN
				(
					SELECT MAX(Id) Id
					FROM tbtrx_promo_request_approval WHERE [IsCancel]=1 GROUP BY ParentId
				)
			) X
			ON X.ParentId=pr.Id
			where pr.Id=@Promoid

		END

	/***********************
	 * Start Create History
	**********************/
	INSERT INTO tbhis_promo_parent(
		StatusAction
		,ActionOn
		,ActionBy
		,CreatedEmail
	) VALUES (
		'update'
		,@utcDate123
		,@initiator
		,@useremail
	)
	SET @ParentId_his=(SELECT SCOPE_IDENTITY())

	INSERT INTO [tbhis_promo] (
		ParentId,
		Id,
		PromoPlanId,
		AllocationId,
		AllocationRefId,
		CategoryShortDesc,
		PrincipalShortDesc,
		BudgetMasterId,
		CategoryId,
		SubCategoryId,
		ActivityId,
		SubActivityId,
		ActivityDesc,
		StartPromo,
		EndPromo,
		Mechanisme1,
		Mechanisme2,
		Mechanisme3,
		Mechanisme4,
		Investment,
		NormalSales,
		IncrSales,
		Roi,
		CostRatio,
		StatusApprovalCode,
		StatusApproval,
		StatusApprovalCodeRecon,
		StatusApprovalRecon,
		Notes,
		IsActive,
		IsLocked,
		CreateOn,
		CreateBy,
		ModifiedOn,
		ModifiedBy,
		IsDelete,
		DeleteOn,
		DeleteBy,
		ApproveOn,
		ApproveOnRecon,
		Approver,
		ApproverRecon,
		ApprovalNotes,
		ApprovalNotesRecon,
		OldInvest,
		IsCancel,
		CancelOn,
		CancelBy,
		CancelNotes,
		IsCancelLocked,
		LastStatusRecon,
		LastStatus,
		TsCoding,
		PromoNumber,
		RefId,
		IsClose,
		CloseOn,
		CloseBy,
		Reconciled,
		ReconciledOn,
		ReconciledBy,
		initiator_notes,
		CreatedEmail,
		matrixapprovalid,
		modifReason
	)
	SELECT @ParentId_his,
		t.Id,
		t.PromoPlanId,
		t.AllocationId,
		t.AllocationRefId,
		t.CategoryShortDesc,
		t.PrincipalShortDesc,
		t.BudgetMasterId,
		t.CategoryId,
		t.SubCategoryId,
		t.ActivityId,
		t.SubActivityId,
		t.ActivityDesc,
		t.StartPromo,
		t.EndPromo,
		t.Mechanisme1,
		t.Mechanisme2,
		t.Mechanisme3,
		t.Mechanisme4,
		t.Investment,
		t.NormalSales,
		t.IncrSales,
		t.Roi,
		t.CostRatio,
		t.StatusApprovalCode,
		t.StatusApproval,
		t.StatusApprovalCodeRecon,
		t.StatusApprovalRecon,
		t.Notes,
		t.IsActive,
		t.IsLocked,
		t.CreateOn,
		t.CreateBy,
		t.ModifiedOn,
		t.ModifiedBy,
		t.IsDelete,
		t.DeleteOn,
		t.DeleteBy,
		t.ApproveOn,
		t.ApproveOnRecon,
		t.Approver,
		t.ApproverRecon,
		t.ApprovalNotes,
		t.ApprovalNotesRecon,
		t.OldInvest,
		t.IsCancel,
		t.CancelOn,
		t.CancelBy,
		t.CancelNotes,
		t.IsCancelLocked,
		t.LastStatusRecon,
		t.LastStatus,
		t.TsCoding,
		t.PromoNumber,
		t.RefId,
		t.IsClose,
		t.CloseOn,
		t.CloseBy,
		t.Reconciled,
		t.ReconciledOn,
		t.ReconciledBy,
		t.initiator_notes,
		@useremail,
		@matrixid,
		@modifreason
	FROM tbtrx_promo t
	WHERE t.id = @PromoId

	INSERT INTO tbhis_promo_region(ParentId,PromoId,RegionId)
	SELECT @ParentId_his,@PromoId,t.Id from @DCRegion t INNER JOIN tbmst_region a on a.Id=t.Id

	INSERT INTO tbhis_promo_channel(ParentId,PromoId,ChannelId)
	SELECT @ParentId_his,@PromoId,t.Id from @Channel t INNER JOIN tbmst_channel a on a.Id=t.Id

	INSERT INTO tbhis_promo_subchannel(ParentId,PromoId,ChannelId,SubChannelId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubChannel t INNER JOIN tbmst_subchannel a on a.Id=t.Id

	INSERT INTO tbhis_promo_account(ParentId,PromoId,SubChannelId,AccountId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @Account t INNER JOIN tbmst_account a on a.Id=t.Id

	INSERT INTO tbhis_promo_subaccount(ParentId,PromoId,AccountId,SubAccountId)
	SELECT @ParentId_his,@PromoId,ParentId,t.Id from @SubAccount t INNER JOIN tbmst_subaccount a on a.Id=t.Id

	INSERT INTO tbhis_promo_brand(ParentId,PromoId,BrandId)
	SELECT DISTINCT @ParentId_his,@PromoId,t.Id from @DCBrand t INNER JOIN tbmst_brand a on a.Id=t.Id

	INSERT INTO tbhis_promo_product(ParentId,PromoId,BrandId,ProductId)
	SELECT DISTINCT @ParentId_his,@PromoId,ParentId,t.Id from @DCSku t INNER JOIN tbmst_product a on a.Id=t.Id

	INSERT INTO tbhis_promo_doclink(ParentId,PromoId,DocLink,[FileName],CreateOn,Createby)
	SELECT @ParentId_his,@PromoId,DocLink,[Filename],@utcDate123,@userid FROM @attachment

	INSERT INTO tbhis_promo_mechanism(ParentId, PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand)
	SELECT @ParentId_his, @PromoId, Mechanism, Notes, ProductId, Product, BrandId, Brand FROM @Mechanism			
	
	/*********************
	 * End Create History
	 *********************/
		select @messageout=@PromoId

		IF NOT EXISTS
		(
			select 1 as bool
			,@PromoId as [Id]
			,@promorefid as [RefId]
			,200 as [statuscode]
			,a.Id [userid_initiator]
			,a.username [username_initiator]
			,a.email [email_initiator]
			,b.Id [userid_approver]
			,b.username [username_approver]
			,b.email [email_approver]
			FROM tbtrx_promo pr
			INNER JOIN tbset_user a on pr.CreateBy=a.Id
			INNER JOIN tbset_user b on pr.Approver=b.Id
			where pr.Id=@PromoId
		)
		BEGIN
			SET @messageout='email address initator or approver not found '
				 RAISERROR (@messageout, -- Message text.
					   16, -- Severity.
					   1 -- State.
					   );
		END

--		select 1 as bool
--			,@PromoId as [Id]
--			,@promorefid as [RefId]
--			,200 as [statuscode]
--			,a.Id [userid_initiator]
--			,a.username [username_initiator]
--			,a.email [email_initiator]
--			,b.Id [userid_approver]
--			,b.username [username_approver]
--			,b.email [email_approver]
--			,IIF(@statusapproval='TP2',1,0) [IsFullyApproved]
--		FROM tbtrx_promo pr
--		INNER JOIN tbset_user a on pr.CreateBy=a.Id
--		INNER JOIN tbset_user b on pr.Approver=b.Id
--		where pr.Id=@PromoId

		select 1 as bool
			,@PromoId as [Id]
			,@promorefid as [RefId]
			,200 as [statuscode]
			,a.Id [userid_initiator]
			,a.username [username_initiator]
			,iif(isnull(a.isdeleted,0)=0, a.email, 'system@xva-dummy.com') [email_initiator]
			,b.Id [userid_approver]
			,b.username [username_approver]
			,iif(isnull(b.isdeleted,0)=0, b.email, 'system@xva-dummy.com') [email_approver]
			,IIF(@statusapproval='TP2',1,0) [IsFullyApproved]
		FROM tbtrx_promo pr
		inner join tbset_user a on pr.CreateBy=a.Id
		inner join tbset_user b on pr.Approver=b.Id
		where pr.Id=@PromoId

		insert into tblog_email_send (actiontype, actiondate, refid, profile, email, notes)
		select 'promo creation'
			, @utcDate123	
			, pr.refid
			,a.Id
			,a.email
			,'profile inactive'
		FROM tbtrx_promo pr
		inner join tbset_user a on pr.CreateBy=a.Id and isnull(a.isdeleted, 0) = 1
		where pr.Id=@PromoId
		
		insert into tblog_email_send (actiontype, actiondate, refid, profile, email, notes)
		select 'promo creation'
			, @utcDate123	
			, pr.refid
			,a.Id
			,a.email
			,'profile inactive'
		FROM tbtrx_promo pr
		inner join tbset_user a on pr.Approver=a.Id and isnull(a.isdeleted, 0) = 1
		where pr.Id=@PromoId
		
	END


	

	/********************************
	 * Create Promo Workflow Change
	 ********************************/
    IF @MechanismOld<>@mechanismNew
    BEGIN
       INSERT INTO tbtrx_promo_workflow_change (
            PromoId,
            Mechanism1Old,
            Mechanism1,
            CreatedOn,
            CreatedBy,
            CreatedByEmail,
          statusField,
            oldvalue,
            newvalue
       )
      VALUES(
            @promoid,
            @mechanismOld,
            @mechanismNew,
--             (getdate() at time zone 'Central Europe Standard Time') AT TIME ZONE 'UTC'
            @utcDate123,
            @userid,
            @useremail,
            'Mechanism',
@mechanismOld,
            @mechanismNew
        )
    END
	/********************************
	 * End Create Promo Workflow Change
	 ********************************/

	/*********************
	SELESAI PROSES UPDATE
	*********************/
COMMIT
exec ip_dn_overbudget_by_prommoid @PromoId
/***************************
 Budget Recalculate balance
 ***************************/
IF @AllocationId<> @AllocationId_old
	BEGIN
		exec ip_recalculate_balance_by_id @AllocationId_old
	END
exec ip_recalculate_balance_by_id @AllocationId

END TRY
BEGIN CATCH
ROLLBACK
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
 @ErrorState = ERROR_STATE();
 RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
   );

END CATCH


GO
