USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[ip_promo_sign_off]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ip_promo_sign_off]
	@period INT
AS
BEGIN
	DROP TABLE IF EXISTS #tmpbudget
	DROP TABLE IF EXISTS #tmppromo
	
	DECLARE @ssVolume numeric(20)
		, @psValue numeric(20)
		, @investmentDC numeric(20)
		, @investmentRC_Contractual numeric(20)
		, @investmentRC_NonContractual numeric(20)

	SET @ssVolume = (SELECT 
			SUM(ISNULL(ssv.m1, 0))  +  SUM(ISNULL (ssv.m2, 0))  +  SUM(ISNULL (ssv.m3, 0))  +  SUM(ISNULL(ssv.m4, 0)) + 
			SUM(ISNULL(ssv.m5, 0))  +  SUM(ISNULL (ssv.m6, 0))  +  SUM(ISNULL (ssv.m7, 0))  +  SUM(ISNULL(ssv.m8, 0)) +  
			SUM(ISNULL(ssv.m9, 0))  +  SUM(ISNULL(ssv.m10, 0))  +  SUM(ISNULL(ssv.m11, 0))  +  SUM(ISNULL(ssv.m12, 0))
		FROM tbtrx_ss_volume ssv
		WHERE ssv.period = @period
		GROUP BY ssv.period
	)

	SET @psValue = (SELECT 
			SUM(ISNULL(ssv.m1, 0) * ISNULL(sscr.m1, 0))  +  SUM(ISNULL	(ssv.m2, 0) * ISNULL(sscr.m2, 0))  +  SUM(ISNULL	(ssv.m3, 0) * ISNULL(sscr.m3, 0))  +  SUM(ISNULL	(ssv.m4, 0) * ISNULL(sscr.m4, 0)) + 
			SUM(ISNULL(ssv.m5, 0) * ISNULL(sscr.m5, 0))  +  SUM(ISNULL	(ssv.m6, 0) * ISNULL(sscr.m6, 0))  +  SUM(ISNULL	(ssv.m7, 0) * ISNULL(sscr.m7, 0))  +  SUM(ISNULL	(ssv.m8, 0) * ISNULL(sscr.m8, 0)) +  
			SUM(ISNULL(ssv.m9, 0) * ISNULL(sscr.m9, 0))  +  SUM(ISNULL	(ssv.m10, 0) * ISNULL(sscr.m10, 0))  +  SUM(ISNULL	(ssv.m11, 0) * ISNULL(sscr.m11, 0))  +  SUM(ISNULL	(ssv.m12, 0) * ISNULL(sscr.m12, 0)) FY
		FROM tbtrx_ss_volume ssv
		INNER JOIN tbtrx_ss_conversion_rate sscr on 
			ssv.period = sscr.period 
			AND ssv.channelid = sscr.channelid 
			AND ssv.subchannelid = sscr.subChannelId
			AND ssv.groupbrandid = sscr.groupbrandid
		WHERE ssv.period = @period
		GROUP BY ssv.period
	)

	SET @investmentDC = (SELECT sum(investment)
		FROM tbtrx_promo 
		WHERE period = @period
		AND CategoryShortDesc = 'DC'
	)

	SET @investmentRC_Contractual = (SELECT sum(investment)
		FROM tbtrx_promo pr
		INNER JOIN tbmst_subactivity ms ON pr.SubActivityId = ms.id
		INNER JOIN tbmst_subactivity_type mst ON ms.SubActivityTypeId = mst.id
		WHERE period = @period
		AND CategoryShortDesc <> 'DC'
		AND mst.LongDesc = 'Contractual'
	)

	SET @investmentRC_NonContractual = (SELECT sum(investment)
		FROM tbtrx_promo pr
		INNER JOIN tbmst_subactivity ms ON pr.SubActivityId = ms.id
		INNER JOIN tbmst_subactivity_type mst ON ms.SubActivityTypeId = mst.id
		WHERE period = @period
		AND CategoryShortDesc <> 'DC'
		AND mst.LongDesc = 'Non Contractual'
	)

	/** Create SS and PS **/
	SELECT CAST('SS Volume (ton)' as varchar(50)) budgetType, @ssVolume/1000000000 ssVolume
	INTO #tmpbudget

	INSERT INTO #tmpbudget
	SELECT 'PS Value (billion IDR)' budgetType, @psValue/1000000000 psValue

	/** Create Budget Promo **/
	SELECT CAST('Distributor Cost' as varchar(50)) budgetType, @investmentDC/1000000000 budgetDC, ((@investmentDC/1000000000) / (@psValue/1000000000)) * 100 psDC
	INTO #tmppromo

	INSERT INTO #tmppromo
	SELECT 'Retailer Cost - Contractual', @investmentRC_Contractual/1000000000 budgetRCContractual, ((@investmentRC_Contractual/1000000000) / (@psValue/1000000000)) * 100 psRCContractual

	INSERT INTO #tmppromo
	SELECT 'Retailer Cost - Non Contractual', @investmentRC_NonContractual/1000000000 budgetRCNonContractual, ((@investmentRC_NonContractual/1000000000) / (@psValue/1000000000)) * 100 psRCNonContractual

	INSERT INTO #tmppromo
	SELECT 'Warchest', 0, 0

	/** Result Budget**/
	SELECT * FROM #tmpbudget
	SELECT * FROM #tmppromo
	/** Result Propose by**/
	SELECT 'Vintya Marvafahleti' proposedBy, 'CCD Director' proposedPosition
		, 'Gitta Melati' reviewedBy, 'PRGM Director' reviewedPosition
		, 'Rizki Imam Ardhi' approvedBy1, 'SN Sales Director' approvedPosition1
		, 'Kerem Inan' approvedBy2, 'VP Finance' approvedPosition2
	--CREATE TABLE #TempTable (action varchar(30), actionBy varchar(100), actionPosition varchar(50));
	--INSERT INTO #TempTable
	--VALUES ('ProposedBy','Vintya Marvafahleti', 'CCD Director'),
	--	   ('ReviewedBy','Gitta Melati', 'PRGM Director'),
	--	   ('ApprovedBy1','Rizki Imam Ardhi', 'SN Sales Director'),
	--	   ('ApprovedBy2','Kerem Inan', 'VP Finance')
	--SELECT * FROM #TempTable

END

--DECLARE @period int
--SET @period = 2025
--	SELECT sum(investment)
--	FROM tbtrx_promo pr
--	INNER JOIN tbmst_subactivity ms ON pr.SubActivityId = ms.id
--	INNER JOIN tbmst_subactivity_type mst ON ms.SubActivityTypeId = mst.id
--	WHERE period = @period
--	AND CategoryShortDesc <> 'DC'
--	AND mst.LongDesc = 'Contractual'

--select * from tbtrx_promo
--select * from tbmst_subactivity_type
GO
