USE [dboptimasystem]
GO
/****** Object:  StoredProcedure [dbo].[xva_resend_email_approval]    Script Date: 10/6/2025 11:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[xva_resend_email_approval]
AS
BEGIN
	select IIF(Period>=2025, period, year(tp.startpromo)) period, tp.id, tp.RefId, tp.StatusApprovalCode, tpa.UserApprover, tpa.UserApproverName, tu.email
	from tbtrx_promo tp 
	inner join tbtrx_promo_request_approval tpra on tp.id = tpra.parentid and isnull(tpra.IsCancel, 0) = 0
	inner join tbtrx_promo_approval tpa on tpra.id = tpa.requestid
	inner join tbset_user tu on tpa.userapprover = tu.id
	where tp.StatusApprovalCode = 'TP1' and tpa.Status = 'TP1'
	and isnull(tpa.IsOnGoing, 0) = 1
	and isnull(tp.IsCancel, 0) = 0 and isnull(tp.IsClose, 0) = 0
	and isnull(tp.IsCancelLocked,0)=0
	
	select IIF(Period>=2025, period, year(tp.startpromo)) period, tp.id, tp.RefId, tp.StatusApprovalCodeRecon, tpa.UserApprover, tpa.UserApproverName, tu.email
	from tbtrx_promo tp 
	inner join tbtrx_promo_request_approval_recon tpra on tp.id = tpra.parentid and isnull(tpra.IsCancel, 0) = 0
	inner join tbtrx_promo_approval_recon tpa on tpra.id = tpa.requestid
	inner join tbset_user tu on tpa.userapprover = tu.id and isnull(tu.isdeleted, 0) = 0
	where isnull(tp.StatusApprovalCodeRecon, '') = 'TP1' and tpa.Status = 'TP1'
	and isnull(tpa.IsOnGoing, 0) = 1
	and isnull(tp.IsCancel, 0) = 0 and isnull(tp.IsClose, 0) = 0
	and isnull(tp.IsCancelLocked,0)=0
END
GO
