/****** Object:  UserDefinedFunction [dbo].[CheckRemainingBudget]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckRemainingBudget](
		@PromoId int,
		@Cost numeric(18,0),
		 @period int
		, @categoryid int
		, @subcategoryid int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @distributorId int
		, @groupbrandid int
		, @subactivitytypeid int
		, @activityid int
		, @subactivityid int
)

RETURNS INT

AS

BEGIN
	DECLARE 
		@isNotOver int,
		@Remaining numeric(18,0),
		@TotalCost numeric(18,0),
		@CostBefore numeric(18,0),
		@budgetamount numeric(18,0),
		@subactivitytypedesc varchar(100),
		@mainActivityDesc varchar(100),
		@categoryShortDesc varchar(100),
		@dnclaim numeric(18,0),
		@bySubActivity int
--		,
--		@Cost numeric(18,0),
--		@PromoId int,
--		 @period int
--		, @categoryid int
--		, @subcategoryid int
--		, @channelid int
--		, @subchannelid int
--		, @accountid int
--		, @subaccountid int
--		, @distributorId int
--		, @groupbrandid int
--		, @subactivitytypeid int
--		, @activityid int
--		, @subactivityid int

--SET @PromoId=49936
--SET	@period = 2025
--SET @categoryid = 3
--SET @subcategoryid = 30
--SET @channelid = 6
--SET @subchannelid = 9
--SET @accountid = 44
--SET @subaccountid = 115
--SET @distributorId = 2
--SET @groupbrandid = 3
--SET @subactivitytypeid = 3
--SET @activityid = 137
--SET @subactivityid = 780
--SET @Cost=125900526

--SELECT * FROM vw_account WHERE SubAccountDesc = 'ACOMMERCE B2B'
--SET @PromoId = 0

--SET @PromoId = (select id from tbtrx_promo where RefId='SGM00013/AL25/RC')

--SET @Cost = 20000
	SET @isNotOver = 0
	SET @CostBefore = 0
	IF @PromoId<>0
		BEGIN
			SELECT
				--@period=a.period
				--,@categoryid=a.categoryid
				--,@subcategoryid=a.subcategoryid
				--,@channelid=b.channelid
				--,@subchannelid=c.subchannelid
				--,@accountid=d.accountid
				--,@subaccountid=e.subaccountid
				--,@distributorId=a.distributorId
				--,@groupbrandid=a.groupbrandid
				--,@subactivitytypeid=g.subactivitytypeid
				--,@activityid=a.activityid
				--,@subactivityid=a.subactivityid
				--,
				@CostBefore = ISNULL(f.Cost,0)
			from tbtrx_promo a
						--INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
						--INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
						--INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
						--INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
						INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
						--INNER join vw_activity_active g on a.SubActivityId=g.SubActivityId
			where a.Id=@PromoId
		END
	ELSE
		BEGIN
			SET @CostBefore=0
		END

	DECLARE @ttid int
		, @activityDesc varchar(50)

	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;
	SELECT @subCategoryId = SubCategoryId, @activityId = ActivityId FROM vw_activity WHERE SubActivityId= @subactivityid
	SELECT @categoryShortDesc = shortDesc FROM tbmst_category WHERE id = @categoryid

	/* RC get by subactivity*/
	SELECT @ttid=id FROM tbtrx_ss_tt
	WHERE 
	period = @Period
	AND DistributorId = @DistributorId
	AND categoryid =  @CategoryId
	AND subcategoryid = @SubCategoryId
	AND activityid = @ActivityId
	AND subactivityid = @SubActivityId
	AND subactivitytypeid = @SubActivityTypeId
	AND channelid = @ChannelId
	AND subchannelid = @SubChannelId
	and accountid = @AccountId
	and subaccountid = @SubAccountId
	and groupbrandid = @GroupBrandId
	AND tt>0

	SET @bySubActivity = 1

	/* RC jika get by subactivity tidak ketemu, maka get by activity*/
	IF isnull(@ttid, 0) = 0
	BEGIN
		SELECT @ttid=id FROM tbtrx_ss_tt
		WHERE 
		period = @Period
		AND DistributorId = @DistributorId
		AND categoryid =  @CategoryId
		AND subcategoryid = @SubCategoryId
		AND activityid = @ActivityId
		AND subactivityid = 0
		AND subactivitytypeid = @SubActivityTypeId
		AND channelid = @ChannelId
		AND subchannelid = @SubChannelId
		and accountid = @AccountId
		and subaccountid = @SubAccountId
		and groupbrandid = @GroupBrandId
		AND tt>0

		SET @bySubActivity = 0
	END

	IF @subchannelid=0 AND @accountid=0 AND @subaccountid=0 /*PS VALUE for DC*/
	BEGIN
		SELECT @ttid=id FROM tbtrx_ss_tt
		WHERE 
		period = @Period
		AND DistributorId = @DistributorId
		AND categoryid =  @CategoryId
		AND subcategoryid = @SubCategoryId
		AND activityid = @ActivityId
		AND subactivityid = @SubActivityId
		AND subactivitytypeid = @SubActivityTypeId
		AND channelid = @ChannelId
		--AND subchannelid = @SubChannelId
		--and accountid = @AccountId
		--and subaccountid = @SubAccountId
		and groupbrandid = @GroupBrandId
		AND tt>0

		SELECT 
			 @budgetamount = isnull(SUM(round(a.tt*round(b.psvalue, 0)/100,0)), 0)
		FROM tbtrx_ss_tt a
		INNER JOIN tbmst_category mc ON a.categoryid = mc.id AND mc.ShortDesc = 'DC'
		INNER JOIN (
			SELECT 
					a.period, a.distributorid, a.groupbrandid
					,SUM(ISNULL(a.m1,0)+ISNULL(a.m2,0)+ISNULL(a.m3,0)+ISNULL(a.m4,0)+ISNULL(a.m5,0)+ISNULL(a.m6,0)
					+ISNULL(a.m7,0)+ISNULL(a.m8,0)+ISNULL(a.m9,0)+ISNULL(a.m10,0)+ISNULL(a.m11,0)+ISNULL(a.m12,0)) psvalue
					FROM tbtrx_ps_value a
					GROUP BY a.period, a.distributorid, a.groupbrandid
			)b ON 
				a.period = b.period
				AND a.distributorId = b.distributorid
				AND a.groupbrandid = b.groupbrandid
		INNER JOIN (
			SELECT DISTINCT a.categoryId, a.categoryDesc, a.subCategoryId, a.subCategoryDesc, a.activityId, a.activityDesc, a.subActivityId, a.subActivityDesc
				, c.id subActivityTypeId, c.LongDesc subActivityTypeDesc, e.id mainActivityId, e.longDesc mainActivityDesc
				FROM vw_activity a
				INNER JOIN tbmst_subactivity b ON a.SubActivityId = b.Id
				INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id
				INNER JOIN tbmst_main_activity_dtl d ON b.Id = d.subactivityid
				INNER JOIN tbmst_main_activity e ON d.mainactivityid = e.id 
			)c ON
				a.subactivityid=c.SubActivityId
				AND a.id=@ttid

		SELECT @totalcost= isnull(SUM(ISNULL(f.cost,0)), 0)
			FROM tbtrx_promo a
				INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
				INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId AND a.CategoryShortDesc='DC'
			WHERE
				a.period=@Period
				AND a.categoryid=@CategoryId
				AND a.subcategoryid=@SubCategoryId
				AND b.channelid=@ChannelId
				AND a.distributorId=@DistributorId
				AND a.groupbrandid=@GroupBrandId
				AND a.subactivityid=@SubActivityId
				AND a.AllocationId=@ttid
			

	END
	ELSE
	BEGIN
		SELECT 
			 @budgetamount = isnull(SUM(round(a.tt*round(b.ssvalue, 0)/100,0)), 0)
			--, @totalcost= SUM(ISNULL(g.cost,0)) 
			--, @remaining = SUM(round(a.tt*b.ssvalue/100,0)) - SUM(ISNULL(g.cost,0)) 

		FROM tbtrx_ss_tt a
		INNER JOIN (
			SELECT 
					a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
					,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
					FROM tbtrx_ss_volume a
					INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
					WHERE 
						a.period= @period
						AND a.channelid = @channelid
						AND a.subchannelid = @subchannelid
						AND a.accountid = @accountid
						AND a.subaccountid = @subaccountid
						AND a.groupbrandid = @groupbrandid
					GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
			)b ON 
				a.period = b.period
				AND a.channelid = b.channelid
				AND a.subchannelid = b.subchannelid
				AND a.accountid = b.accountid
				AND a.subaccountid = b.subaccountid
				AND a.groupbrandid = b.groupbrandid
				AND a.id=@ttid

		IF @bySubActivity = 1 
		BEGIN
			SET @totalcost = (SELECT SUM(a.actualCost) FROM (
				select 
						IIF(prid.isClose=1, SUM(ISNULL(dn.totalClaim,0)), SUM(prid.cost)) actualCost  
					from (
						select a.id promoid, SUM(a.investment) cost, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
								INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
								INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
								INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
								INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
								--INNER JOIN tbtrx_promo_mechanism f ON a.id=f.promoid
							WHERE
								a.period				=@period
								AND a.categoryid		=@categoryid
								AND a.subcategoryid		=@subcategoryid
								AND a.activityid		=@activityid
								AND a.subactivityid		=@SubActivityId
								AND b.channelid			=@channelid
								AND c.subchannelid		=@subchannelid
								AND d.accountid			=@accountid
								AND e.subaccountid		=@SubAccountId
								AND a.distributorId		=@distributorid
								AND a.groupbrandid		=@groupbrandid
								AND ISNULL(a.IsCancel,0)=0
								AND ISNULL(a.IsCancel,0)=0
							GROUP BY a.id, ISNULL(a.IsClose,0) 
						)prid
					LEFT JOIN (
						SELECT promoid, SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) totalClaim 
						FROM tbtrx_debetnote A WHERE ISNULL(iscancel, 0) = 0
						GROUP BY promoid
					) dn ON prid.promoid = dn.promoid
					GROUP BY prid.promoid, prid.isClose
			)a)
		END
		ELSE
		BEGIN
			SET @totalcost = (SELECT SUM(a.actualCost) FROM (
				select 
						IIF(prid.isClose=1, SUM(ISNULL(dn.totalClaim,0)), SUM(prid.cost)) actualCost  
					from (
						select a.id promoid, SUM(a.Investment) cost, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
								INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
								INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
								INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
								INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
							WHERE
								a.period				=@period
								AND a.categoryid		=@categoryid
								AND a.subcategoryid		=@subcategoryid
								AND a.activityid		=@activityid
								AND b.channelid			=@channelid
								AND c.subchannelid		=@subchannelid
								AND d.accountid			=@accountid
								AND e.subaccountid		=@SubAccountId
								AND a.distributorId		=@distributorid
								AND a.groupbrandid		=@groupbrandid
								AND ISNULL(a.IsCancel,0)=0
							GROUP BY a.id, ISNULL(a.IsClose,0) 
						)prid
					LEFT JOIN (
						SELECT promoid, SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) totalClaim 
						FROM tbtrx_debetnote A WHERE ISNULL(iscancel, 0) = 0
						GROUP BY promoid
					) dn ON prid.promoid = dn.promoid

					GROUP BY prid.promoid, prid.isClose
			)a)
		END
	END

	SET @Remaining = isnull(@budgetamount,0) - ISNULL(@TotalCost,0)

	SELECT @subactivitytypedesc = longDesc FROM tbmst_subactivity_type where Id = @subactivitytypeid
	SELECT @mainActivityDesc =c.longDesc from tbmst_subactivity a
		INNER JOIN tbmst_main_activity_dtl b ON a.Id = b.subactivityid
		INNER JOIN tbmst_main_activity c ON b.mainactivityid = c.id
		where subactivityid=@subactivityid

	IF (@Remaining + @CostBefore - @Cost >= 0) 
		OR (@subactivitytypedesc <> 'Contractual' AND @categoryShortDesc <> 'DC')
		OR (ISNULL(@ttid,0)=0 AND @mainActivityDesc <> 'Running Rate' )
	BEGIN
		SET @isNotOver=1
	END

--select @budgetamount
--select @budgetamount, @TotalCost, @budgetamount-@TotalCost
--select @budgetamount-@TotalCost,@costbefore, @budgetamount-@TotalCost+@costbefore
--select @budgetamount-@TotalCost,@costbefore, @cost, @budgetamount-@TotalCost+@costbefore-@cost

--select @ttid ttid , @budgetamount budgetamount, @TotalCost totalCost, @Remaining remaining, @CostBefore costBfr, @Cost cost, @isNotOver isNotOver, @subactivitytypedesc, @mainActivityDesc, @subactivityid

	RETURN @isNotOver

END

GO
