

/****** Object:  UserDefinedFunction [dbo].[getBudgetName]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getBudgetName](
	@budgetid int
)

RETURNS varchar(255)

AS
BEGIN
	DECLARE 
		@budgetName varchar(255)
		, @categoryDesc varchar(255)

		SET @budgetName = '---';
		SET @categoryDesc = (SELECT LongDesc FROM tbmst_category A INNER JOIN tbtrx_ss_tt B ON A.Id=B.categoryid AND B.id=@budgetid	)	
		
		IF @categoryDesc = 'Retailer Cost'
			BEGIN
				/* get by subactivity */
				SELECT @budgetName = CONCAT(a.period,' ', b.LongDesc, ' - ', c.ShortDesc, ' - ', d.LongDesc, ' ', e.LongDesc)
					FROM tbtrx_ss_tt a
					INNER JOIN tbmst_brand_group b ON a.groupbrandid = b.Id
					INNER JOIN tbmst_distributor c ON a.distributorId=c.Id
					INNER JOIN tbmst_subaccount d ON a.subaccountid = d.Id
					INNER JOIN tbmst_activity e ON a.activityid = e.Id
					INNER JOIN tbmst_subactivity f ON a.subactivityid = f.Id
					WHERE a.id = @budgetid

				/* jika get by subactivity tidak ketemu, maka get by activity */
				IF ISNULL(@budgetName, '') = '---'
				BEGIN
					SELECT @budgetName = CONCAT(a.period,' ', b.LongDesc, ' - ', c.ShortDesc, ' - ', d.LongDesc, ' ', e.LongDesc)
						FROM tbtrx_ss_tt a
						INNER JOIN tbmst_brand_group b ON a.groupbrandid = b.Id
						INNER JOIN tbmst_distributor c ON a.distributorId=c.Id
						INNER JOIN tbmst_subaccount d ON a.subaccountid = d.Id
						INNER JOIN tbmst_activity e ON a.activityid = e.Id
						WHERE a.id = @budgetid AND a.subactivityid = 0
				END

				--SELECT @budgetName = CONCAT(a.period,' ', b.LongDesc, ' - ', c.ShortDesc, ' - ', d.LongDesc, ' ', e.LongDesc)
				--	FROM tbtrx_ss_tt a
				--	INNER JOIN tbmst_brand_group b ON a.groupbrandid = b.Id
				--	INNER JOIN tbmst_distributor c ON a.distributorId=c.Id
				--	INNER JOIN tbmst_subaccount d ON a.subaccountid = d.Id
				--	INNER JOIN tbmst_activity e ON a.activityid = e.Id
				--	LEFT JOIN tbmst_subactivity f ON a.subactivityid = f.Id
				--	WHERE a.id = @budgetid
			END
		IF @categoryDesc = 'Distributor Cost'
			BEGIN
				SELECT @budgetName = 
					CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', b.SubCategoryDesc, ' ', b.subActivityTypeDesc)
				FROM tbtrx_ss_tt a
				INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
				INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
				INNER JOIN vw_activity_active b ON a.subactivityid = b.SubActivityId
				WHERE a.id = @budgetid
			END
	RETURN @budgetName

END

GO
