

/****** Object:  UserDefinedFunction [dbo].[udf_Num_ToWord]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[udf_Num_ToWord] (

	@Number Numeric (38, 0) -- Input number with as many as 18 digits

) RETURNS VARCHAR(8000) 

AS BEGIN
declare @outputString varchar(8000)

SET @outputString= (SELECT Case 
        WHEN @Number = 0 THEN  '0'

        WHEN @Number BETWEEN 1 AND 99
          THEN (CAST(@Number AS VARCHAR))


       WHEN @Number BETWEEN 100 AND 999   
         THEN  CAST(@Number AS varchar) + ' IDR '
       --      --Case WHEN @belowHundred <> '' THEN 'and ' + @belowHundred else @belowHundred end 

       WHEN @Number BETWEEN 1000 AND 999999   
         --THEN  CAST(@Number AS VARCHAR) + ' IDR '
		 THEN  REPLACE(CONVERT(VARCHAR,CONVERT(MONEY,@Number),1), '.00','') + ' IDR '
		 

       WHEN @Number BETWEEN 1000000 AND 999999999   
         THEN  CAST(ROUND( @Number / CAST(1000000 AS float),0) AS VARCHAR)+' M IDR'

       WHEN @Number BETWEEN 1000000000 AND 999999999999   
         THEN   CAST(ROUND(@Number / CAST(1000000000 as float),0) AS VARCHAR) + ' BIO IDR'

		 
       WHEN @Number BETWEEN 1000000000000 AND 999999999999999   
         THEN   CAST(ROUND(@Number / CAST(1000000000000 as float),0) AS VARCHAR) + ' T IDR'

            ELSE ' INVALID INPUT' 
	END
	)

RETURN @outputString -- return the result
END








GO
