USE [dboptimasystem]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckExistingBudget]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckExistingBudget](
		 @period int
		, @categoryid int
		, @subcategoryid int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @distributorId int
		, @groupbrandid int
		, @subactivitytypeid int
		, @activityid int
		, @subactivityid int
)

RETURNS INT

AS

BEGIN
	DECLARE 
		@budgetExist int
		, @activityDesc varchar(50)

	SET @budgetExist = 0;
	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;
	SELECT @subCategoryId = SubCategoryId, @activityId = ActivityId FROM vw_activity WHERE SubActivityId= @subactivityid

	IF ISNULL(@subchannelid,0)=0 AND ISNULL(@accountid,0)=0 AND ISNULL(@subaccountid,0)=0  /*PS VALUE for DC*/
	BEGIN
		SELECT @budgetExist = count(a.id)
		FROM tbtrx_ss_tt a
			INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
				AND a.period=@period
				AND a.categoryid=@categoryid
				AND a.subcategoryid=@subcategoryid
				AND a.channelid=@channelid
				AND a.subchannelid=ISNULL(@subchannelid,0)
				AND a.accountid=ISNULL(@accountid,0)
				AND a.subaccountid=ISNULL(@subaccountid,0)
				AND a.distributorId=@distributorId
				AND a.groupbrandid=@groupbrandid
				AND a.subactivitytypeid=@subactivitytypeid
				--AND a.activityid=@activityid
				AND a.subactivityid=@subactivityid
				AND a.tt>0
			INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
			INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
			INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
			INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

	END
	ELSE
	BEGIN
		--IF @activityDesc = 'Trading Term - Consumer Promo' OR @activityDesc = 'Trading Term - Promo Fund'
		--BEGIN
		--	SELECT @budgetExist = count(a.id)
		--	FROM tbtrx_ss_tt a
		--		INNER JOIN vw_activity b ON a.activityid = b.activityid 
		--			AND a.period=@period
		--			AND a.categoryid=@categoryid
		--			AND a.subcategoryid=@subcategoryid
		--			AND a.channelid=@channelid
		--			AND a.subchannelid=@subchannelid
		--			AND a.accountid=@accountid
		--			AND a.subaccountid=@subaccountid
		--			AND a.distributorId=@distributorId
		--			AND a.groupbrandid=@groupbrandid
		--			AND a.subactivitytypeid=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
		--			AND a.activityid=@activityid
		--		INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
		--		INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		--END
		--ELSE
		--BEGIN
		--	SELECT @budgetExist = count(a.id)
		--	FROM tbtrx_ss_tt a
		--		INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
		--			AND a.period=@period
		--			AND a.categoryid=@categoryid
		--			AND a.subcategoryid=@subcategoryid
		--			AND a.channelid=@channelid
		--			AND a.subchannelid=@subchannelid
		--			AND a.accountid=@accountid
		--			AND a.subaccountid=@subaccountid
		--			AND a.distributorId=@distributorId
		--			--AND distributorshortdesc=@distributorshortdesc
		--			AND a.groupbrandid=@groupbrandid
		--			AND a.subactivitytypeid=@subactivitytypeid
		--			AND a.activityid=@activityid
		--			AND a.subactivityid=@subactivityid
		--		INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
		--		INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		--		INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
		--		INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id
		--END

		/* Cek by subactivity*/
		SELECT @budgetExist = count(a.id)
		FROM tbtrx_ss_tt a
			INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
				AND a.period=@period
				AND a.categoryid=@categoryid
				AND a.subcategoryid=@subcategoryid
				AND a.channelid=@channelid
				AND a.subchannelid=@subchannelid
				AND a.accountid=@accountid
				AND a.subaccountid=@subaccountid
				AND a.distributorId=@distributorId
				--AND distributorshortdesc=@distributorshortdesc
				AND a.groupbrandid=@groupbrandid
				AND a.subactivitytypeid=@subactivitytypeid
				AND a.activityid=@activityid
				AND a.subactivityid=@subactivityid
				AND a.tt>0
			INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
			INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
			INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
			INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

		IF @budgetExist = 0
		BEGIN
			SELECT @budgetExist = count(a.id)
			FROM tbtrx_ss_tt a
				INNER JOIN vw_activity b ON a.activityid = b.activityid 
					AND a.period=@period
					AND a.categoryid=@categoryid
					AND a.subcategoryid=@subcategoryid
					AND a.channelid=@channelid
					AND a.subchannelid=@subchannelid
					AND a.accountid=@accountid
					AND a.subaccountid=@subaccountid
					AND a.distributorId=@distributorId
					AND a.groupbrandid=@groupbrandid
					AND a.subactivitytypeid=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
					AND a.activityid=@activityid
					AND a.subactivityid=0
					AND a.tt>0
				INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
				INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		END
	END

	RETURN @budgetExist

END

GO
