

/****** Object:  UserDefinedFunction [dbo].[getTotDayPromo]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getTotDayPromo](@start date,@end date,@closemonth date,@type char(1))
returns integer

as
begin

declare @closemonthx date,@fulldayinmonth int,@startofmonth as date,@endofmonth as date,@totday int

--set @closemonthx=(select convert(date,@closemonth,120))
set @startofmonth=(SELECT DATEADD(month, DATEDIFF(month, 0, @closemonth), 0))
set @endofmonth=(select dateadd(month,1+datediff(month,0,@closemonth),-1))
set @fulldayinmonth=(select DAY(DATEADD(DD,-1,DATEADD(MM,DATEDIFF(MM,-1,@startofmonth),0))))


if (@type='M')
begin
	if (@start <= @startofmonth) and (@end >= @endofmonth)
	begin

		set @totday=(select @fulldayinmonth);

	end

	if (@start <= @startofmonth) and (@end <= @endofmonth) and (@end >= @startofmonth)
	begin
		set @totday=(select datediff(d,@startofmonth,dateadd(d,1,@end)))
	end

	if (@end < @startofmonth)
	begin
		set @totday=0
	end

	if (@start >= @startofmonth) and (@end <= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@end)))
	end

	if(@start >= @startofmonth) and (@end >= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@endofmonth)))
	end

end
else
begin
	if (@start <= @startofmonth) and (@end >= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@endofmonth)))
	end

	if (@start <= @startofmonth) and (@end <= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@end)))
	end

	if (@start >= @startofmonth) and (@end <= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@end)))
	end

	if(@start >= @startofmonth) and (@end >= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@endofmonth)))
	end


end
return @totday;

end













GO
