USE [dboptimasystem]
GO
/****** Object:  UserDefinedFunction [dbo].[getBudgetId]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getBudgetId](
	@promoid int
)

RETURNS INT

AS

BEGIN
	DECLARE 
		@budgetId int
		, @activityDesc varchar(50)
		, @period int
		, @categoryId int
		, @subCategoryId int
		, @distributorId int
		, @groupBrandId int
		, @activityId int
		, @subActivityId int
		, @subActivityTypeId int
		, @channelId int
		, @subChannelId int
		, @accountId int
		, @subAccountId int
		, @categoryDesc varchar(255)

	SET @budgetId = 0;

	SELECT @period = pr.period
		, @categoryId = pr.CategoryId
		, @subCategoryId = (SELECT subCategoryId FROM vw_activity_active WHERE subActivityId = pr.SubActivityId)
		, @distributorId = pr.DistributorId
		, @groupBrandId = pr.GroupBrandId
		, @activityId = pr.ActivityId
		, @subActivityId = pr.SubActivityId
		, @subActivityTypeId = ms.SubActivityTypeId
		, @channelId = tpc.ChannelId
		, @subChannelId = isnull(tps.SubChannelId, 0)
		, @accountId = isnull(tpa.AccountId, 0)
		, @subAccountId = isnull(tpsa.SubAccountId, 0)
		, @categoryDesc = (SELECT CategoryDesc FROM vw_activity_active WHERE subActivityId = pr.SubActivityId)
	FROM tbtrx_promo pr
	INNER JOIN tbmst_subactivity ms ON pr.SubActivityId = ms.Id
	INNER JOIN tbmst_subactivity_type mst ON ms.SubActivityTypeId = mst.id
	INNER JOIN tbtrx_promo_channel tpc ON pr.id = tpc.PromoId
	LEFT JOIN tbtrx_promo_subchannel tps ON pr.id = tps.PromoId
	LEFT JOIN tbtrx_promo_account tpa ON pr.id = tpa.PromoId
	LEFT JOIN tbtrx_promo_subaccount tpsa ON pr.id = tpsa.PromoId
	WHERE pr.id = @promoid

	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;

	IF @categoryDesc = 'Retailer Cost'
	BEGIN
		/* get budget by subactivity */
		SELECT @budgetId = a.id
		FROM tbtrx_ss_tt a
		WHERE a.period = @period
			AND  a.categoryid = @categoryId
				AND a.subcategoryid = @subCategoryId
				AND a.distributorId = @distributorId
				AND a.groupbrandid = @groupBrandId
				AND a.activityid = @activityId
				AND a.subactivityid = @subActivityId
				AND a.subactivitytypeid = @subActivityTypeId
				AND a.channelid = @channelId
				AND a.subchannelid = @subChannelId
				AND a.accountid = @accountId
				AND a.subaccountid = @subAccountId
				AND a.tt>0

		/* get budget by subactivity tidak ketemu, maka get by activity*/
		IF ISNULL(@budgetId, 0) = 0
		BEGIN
			SELECT @budgetId = a.id
			FROM tbtrx_ss_tt a
			WHERE a.period = @period
				AND  a.categoryid = @categoryId
					AND a.subcategoryid = @subCategoryId
					AND a.distributorId = @distributorId
					AND a.groupbrandid = @groupBrandId
					AND a.activityid = @activityId
					AND a.subactivityid = 0
					AND a.subactivitytypeid = @subActivityTypeId
					AND a.channelid = @channelId
					AND a.subchannelid = @subChannelId
					AND a.accountid = @accountId
					AND a.subaccountid = @subAccountId
					AND a.tt>0
		END

		--IF @activityDesc = 'Trading Term - Consumer Promo' OR @activityDesc = 'Trading Term - Promo Fund'
		--BEGIN
		--	SELECT @budgetId = a.id
		--	FROM tbtrx_ss_tt a
		--	WHERE a.period = @period
		--		AND  a.categoryid = @categoryId
		--			AND a.subcategoryid = @subCategoryId
		--			AND a.distributorId = @distributorId
		--			AND a.groupbrandid = @groupBrandId
		--			AND a.activityid = @activityId
		--			AND a.subactivitytypeid = @subActivityTypeId
		--			AND a.channelid = @channelId
		--			AND a.subchannelid = @subChannelId
		--			AND a.accountid = @accountId
		--			AND a.subaccountid = @subAccountId
		--END
		--ELSE
		--BEGIN
		--	SELECT @budgetId = a.id
		--	FROM tbtrx_ss_tt a
		--	WHERE a.period = @period
		--		AND  a.categoryid = @categoryId
		--			AND a.subcategoryid = @subCategoryId
		--			AND a.distributorId = @distributorId
		--			AND a.groupbrandid = @groupBrandId
		--			AND a.activityid = @activityId
		--			AND a.subactivityid = @subActivityId
		--			AND a.subactivitytypeid = @subActivityTypeId
		--			AND a.channelid = @channelId
		--			AND a.subchannelid = @subChannelId
		--			AND a.accountid = @accountId
		--			AND a.subaccountid = @subAccountId
		--END

	END
	ELSE
	BEGIN
		SELECT @budgetId = a.id
		FROM tbtrx_ss_tt a
		WHERE a.period = @period
			AND  a.categoryid = @categoryId
				AND a.subcategoryid = @subCategoryId
				AND a.distributorId = @distributorId
				AND a.groupbrandid = @groupBrandId
				AND a.activityid = @activityId
				AND a.subactivityid = @subActivityId
				AND a.subactivitytypeid = @subActivityTypeId
				AND a.channelid = @channelId
				AND a.tt>0
	END

	RETURN @budgetId

END

GO
