

/****** Object:  UserDefinedFunction [dbo].[getUTCDateConversion]    Script Date: 10/6/2025 11:38:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[getUTCDateConversion]()
RETURNS DATETIME

AS
BEGIN
	DECLARE 
		@utcDtime datetime
		, @utcSet varchar(10)
		, @utcConversion varchar(10)

	SET @utcSet = (SELECT setvalue FROM appsetting WHERE setname='utcset')
	SET @utcConversion = (SELECT setvalue FROM appsetting WHERE setname='utcConversion')
	SET @utcDtime= CONVERT(DATETIME,SWITCHOFFSET(CAST(CONCAT(convert(varchar(50),GETDATE(),121),' ',@utcSet) as DATETIMEOFFSET),@utcConversion)) --CONVERT(DATETIME,SWITCHOFFSET(CAST(CONCAT(GETDATE(),' ',@utcSet) as DATETIMEOFFSET),@utcConversion)) 
	RETURN @utcDtime
END


GO
