USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[AttributeType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[AttributeType] AS TABLE(
	[Id] [int] NULL
)
GO
