USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ArrayVarcharType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ArrayVarcharType] AS TABLE(
	[keyid] [varchar](255) NULL
)
GO
