

/****** Object:  UserDefinedTableType [dbo].[ActivityType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ActivityType] AS TABLE(
	[Category] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[SubCategory] [varchar](50) NULL,
	[Activity] [varchar](50) NULL,
	[SubActivity] [varchar](50) NULL,
	[SubActivityType] [varchar](50) NULL
)
GO
