USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ArrayIntType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ArrayIntType] AS TABLE(
	[keyid] [int] NULL
)
GO
