USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetApproverType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BudgetApproverType] AS TABLE(
	[Periode] [varchar](4) NULL,
	[PrincipalId] [varchar](255) NULL,
	[DistributorId] [varchar](255) NULL,
	[SubActivityType] [varchar](255) NULL,
	[ChannelId] [varchar](255) NULL,
	[Initiator] [varchar](255) NULL,
	[MinInvestment] [numeric](19, 2) NULL,
	[MaxInvestment] [numeric](19, 2) NULL,
	[Approver1] [varchar](50) NULL,
	[Approver2] [varchar](50) NULL,
	[Approver3] [varchar](50) NULL,
	[Approver4] [varchar](50) NULL,
	[Approver5] [varchar](50) NULL
)
GO
