USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetDetailType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BudgetDetailType] AS TABLE(
	[AllocationId] [int] NOT NULL,
	[LineIndex] [int] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[BudgetAmount] [numeric](19, 0) NULL,
	[LongDesc] [varchar](255) NOT NULL
)
GO
