USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAllocationChildsType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BudgetAllocationChildsType] AS TABLE(
	[ParentId] [int] NULL,
	[Id] [varchar](50) NULL,
	[IsActive] [bit] NULL
)
GO
