

/****** Object:  UserDefinedTableType [dbo].[BudgetAllocTypeNew]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BudgetAllocTypeNew] AS TABLE(
	[Id] [int] NULL,
	[Periode] [varchar](4) NULL,
	[BudgetType] [varchar](3) NULL,
	[DistributorId] [int] NULL,
	[OwnerId] [varchar](50) NULL,
	[FromOwnerId] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[BudgetSourceId] [int] NULL,
	[SalesAmount] [numeric](18, 0) NULL,
	[BudgetAmount] [numeric](18, 0) NULL,
	[LongDesc] [varchar](50) NULL,
	[ShortDesc] [varchar](10) NULL,
	[UserId] [varchar](36) NULL
)
GO
