USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAssignmentDetailUpdateType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BudgetAssignmentDetailUpdateType] AS TABLE(
	[Id] [int] NOT NULL,
	[OwnId] [varchar](50) NOT NULL,
	[Desc] [varchar](255) NOT NULL,
	[BudgetAmount] [numeric](19, 0) NULL
)
GO
