USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[BrandType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BrandType] AS TABLE(
	[SeqNo] [int] NULL,
	[Brand] [varchar](50) NULL,
	[Sku] [varchar](50) NULL,
	[Principal] [varchar](50) NULL
)
GO
