USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAssignmentDetailType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[BudgetAssignmentDetailType] AS TABLE(
	[Id] [int] NOT NULL,
	[RefId] [varchar](255) NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[OwnId] [varchar](50) NOT NULL,
	[Desc] [varchar](255) NOT NULL,
	[BudgetAmount] [numeric](19, 0) NULL,
	[Periode] [varchar](4) NULL,
	[BudgetSourceId] [int] NULL
)
GO
