USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ChannelType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ChannelType] AS TABLE(
	[Channel] [varchar](50) NULL,
	[SubChannel] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[SubAccount] [varchar](50) NULL
)
GO
