

/****** Object:  UserDefinedTableType [dbo].[ConfigPromoItemsType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ConfigPromoItemsType] AS TABLE(
	[budgetYear] [bit] NULL DEFAULT ((0)),
	[promoPlanning] [bit] NULL DEFAULT ((0)),
	[budgetSource] [bit] NULL DEFAULT ((0)),
	[entity] [bit] NULL,
	[distributor] [bit] NULL,
	[subCategory] [bit] NULL DEFAULT ((0)),
	[activity] [bit] NULL DEFAULT ((0)),
	[subActivity] [bit] NULL DEFAULT ((0)),
	[subActivityType] [bit] NULL DEFAULT ((0)),
	[startPromo] [bit] NULL DEFAULT ((0)),
	[endPromo] [bit] NULL DEFAULT ((0)),
	[activityName] [bit] NULL DEFAULT ((0)),
	[initiatorNotes] [bit] NULL DEFAULT ((0)),
	[incrSales] [bit] NULL DEFAULT ((0)),
	[investment] [bit] NULL DEFAULT ((0)),
	[channel] [bit] NULL DEFAULT ((0)),
	[subChannel] [bit] NULL DEFAULT ((0)),
	[account] [bit] NULL DEFAULT ((0)),
	[subAccount] [bit] NULL DEFAULT ((0)),
	[region] [bit] NULL DEFAULT ((0)),
	[groupBrand] [bit] NULL,
	[brand] [bit] NULL DEFAULT ((0)),
	[SKU] [bit] NULL DEFAULT ((0)),
	[mechanism] [bit] NULL DEFAULT ((0)),
	[Attachment] [bit] NULL DEFAULT ((0)),
	[ROI] [bit] NULL DEFAULT ((0)),
	[CR] [bit] NULL DEFAULT ((0))
)
GO
