USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[CharAttributeType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[CharAttributeType] AS TABLE(
	[Id] [varchar](50) NULL
)
GO
