USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ConfirmPaidType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ConfirmPaidType] AS TABLE(
	[DNNumber] [varchar](50) NULL,
	[PaidAmount] [numeric](19, 0) NULL,
	[PayDate] [datetime] NULL
)
GO
