

/****** Object:  UserDefinedTableType [dbo].[ConfirmPaidTypeNew]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ConfirmPaidTypeNew] AS TABLE(
	[DNNumber] [varchar](50) NULL,
	[PaidAmount] [numeric](19, 0) NULL
)
GO
