USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[DebetNoteType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DebetNoteType] AS TABLE(
	[Periode] [varchar](50) NULL,
	[Entity] [varchar](255) NULL,
	[Distributor] [varchar](255) NULL,
	[Account] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[PromoNumber] [varchar](255) NULL,
	[InternalDocNumber] [varchar](255) NULL,
	[TotalClaim] [varchar](255) NULL,
	[DueDate] [varchar](50) NULL,
	[FeeDesc] [varchar](255) NULL,
	[FeeAmount] [varchar](255) NULL,
	[DNType] [varchar](255) NULL,
	[statusPPN] [varchar](30) NULL,
	[PPNPct] [varchar](255) NULL,
	[PPNAmt] [varchar](255) NULL,
	[statusPPH] [varchar](30) NULL,
	[PPHPct] [varchar](255) NULL,
	[PPHAmt] [varchar](255) NULL,
	[FPNumber] [varchar](50) NULL,
	[FPDate] [varchar](50) NULL,
	[TaxLevel] [varchar](100) NULL
)
GO
