USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[DebetNoteFPType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DebetNoteFPType] AS TABLE(
	[Type] [varchar](50) NULL,
	[RefId] [varchar](255) NULL,
	[FPNumber] [varchar](50) NULL,
	[FPDate] [varchar](50) NULL
)
GO
