

/****** Object:  UserDefinedTableType [dbo].[DebetNoteTypeNew]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DebetNoteTypeNew] AS TABLE(
	[Periode] [varchar](50) NULL,
	[Entity] [varchar](255) NULL,
	[Distributor] [varchar](255) NULL,
	[Account] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[PromoNumber] [varchar](255) NULL,
	[TotalClaim] [varchar](255) NULL,
	[DueDate] [varchar](50) NULL
)
GO
