

/****** Object:  UserDefinedTableType [dbo].[DebetNote_doc_completeness_Type]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DebetNote_doc_completeness_Type] AS TABLE(
	[DNId] [int] NOT NULL,
	[Original_Invoice_from_retailers] [bit] NULL,
	[Tax_Invoice] [bit] NULL,
	[Promotion_Agreement_Letter] [bit] NULL,
	[Trading_Term] [bit] NULL,
	[Sales_Data] [bit] NULL,
	[Copy_of_Mailer] [bit] NULL,
	[Copy_of_Photo_Doc] [bit] NULL,
	[List_of_Transfer] [bit] NULL
)
GO
