USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[DistributorType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DistributorType] AS TABLE(
	[LongDesc] [varchar](50) NULL,
	[ShortDesc] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[Address] [varchar](255) NULL,
	[NPWP] [varchar](255) NULL
)
GO
