

/****** Object:  UserDefinedTableType [dbo].[DNAttachmentType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DNAttachmentType] AS TABLE(
	[Filename] [varchar](255) NULL,
	[DocLink] [varchar](255) NULL
)
GO
