USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[DCBudgetUploadType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DCBudgetUploadType] AS TABLE(
	[BudgetYear] [varchar](50) NULL,
	[Category] [varchar](255) NULL,
	[Distributor] [varchar](255) NULL,
	[Brand] [varchar](255) NULL,
	[SubActivity] [varchar](255) NULL,
	[BudgetAmount] [numeric](18, 0) NULL,
	[BudgetApproval] [varchar](255) NULL,
	[UserAccess1] [varchar](255) NULL,
	[UserAccess2] [varchar](255) NULL,
	[UserAccess3] [varchar](255) NULL,
	[UserAccess4] [varchar](255) NULL,
	[UserAccess5] [varchar](255) NULL,
	[UserAccess6] [varchar](255) NULL,
	[UserAccess7] [varchar](255) NULL,
	[UserAccess8] [varchar](255) NULL,
	[UserAccess9] [varchar](255) NULL,
	[UserAccess10] [varchar](255) NULL,
	[UserAccess11] [varchar](255) NULL,
	[UserAccess12] [varchar](255) NULL,
	[UserAccess13] [varchar](255) NULL,
	[UserAccess14] [varchar](255) NULL,
	[UserAccess15] [varchar](255) NULL,
	[UserAccess16] [varchar](255) NULL,
	[UserAccess17] [varchar](255) NULL,
	[UserAccess18] [varchar](255) NULL,
	[UserAccess19] [varchar](255) NULL,
	[UserAccess20] [varchar](255) NULL,
	[UserAccess21] [varchar](255) NULL,
	[UserAccess22] [varchar](255) NULL,
	[UserAccess23] [varchar](255) NULL,
	[UserAccess24] [varchar](255) NULL,
	[UserAccess25] [varchar](255) NULL,
	[UserAccess26] [varchar](255) NULL,
	[UserAccess27] [varchar](255) NULL,
	[UserAccess28] [varchar](255) NULL,
	[UserAccess29] [varchar](255) NULL,
	[UserAccess30] [varchar](255) NULL,
	[UserAccess31] [varchar](255) NULL,
	[UserAccess32] [varchar](255) NULL,
	[UserAccess33] [varchar](255) NULL,
	[UserAccess34] [varchar](255) NULL,
	[UserAccess35] [varchar](255) NULL,
	[ProfileId] [varchar](255) NULL
)
GO
