

/****** Object:  UserDefinedTableType [dbo].[DistributorWHTSet]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[DistributorWHTSet] AS TABLE(
	[Distributor] [varchar](50) NOT NULL,
	[SubActivity] [varchar](50) NOT NULL,
	[SubAccount] [nvarchar](50) NOT NULL,
	[WHTType] [nvarchar](50) NOT NULL
)
GO
