USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ImportAllocationType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ImportAllocationType] AS TABLE(
	[Periode] [varchar](4) NULL,
	[BudgetDesc] [varchar](255) NULL,
	[Owner] [varchar](50) NULL,
	[Distributor] [varchar](255) NULL,
	[Principal] [varchar](255) NULL,
	[Category] [varchar](255) NULL,
	[SubCategory] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[SubActivity] [varchar](255) NULL,
	[BudgetAmount] [numeric](19, 2) NULL
)
GO
