

/****** Object:  UserDefinedTableType [dbo].[InvestmentMapType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[InvestmentMapType] AS TABLE(
	[id] [int] NULL,
	[SubActivityId] [int] NULL,
	[InvestmentTypeId] [int] NULL
)
GO
