

/****** Object:  UserDefinedTableType [dbo].[ImportBudgetDerivativeType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ImportBudgetDerivativeType] AS TABLE(
	[AssignmentRefId] [varchar](36) NULL,
	[AssignFromUser] [varchar](20) NULL,
	[AssignFromAllocation] [varchar](36) NULL,
	[AssignAmount] [numeric](18, 0) NULL,
	[SeqNumber] [int] NULL,
	[DetailAssignRefId] [varchar](36) NULL,
	[AssignToUser] [varchar](20) NULL,
	[AssignDesc] [varchar](255) NULL,
	[AssignDetailAmount] [numeric](18, 0) NULL,
	[DerBudgetRefId] [varchar](36) NULL,
	[DerBudgetDesc] [varchar](255) NULL,
	[DerAmount] [numeric](18, 0) NULL,
	[DerSubCategoryRefId] [varchar](36) NULL,
	[DerActivityRefId] [varchar](36) NULL,
	[DerSubActivityRefId] [varchar](36) NULL,
	[DerDetailBudgetDesc] [varchar](255) NULL,
	[DerDetailAmount] [numeric](18, 0) NULL
)
GO
