

/****** Object:  UserDefinedTableType [dbo].[ImportPromoPlanSkuType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ImportPromoPlanSkuType] AS TABLE(
	[ImportId] [varchar](255) NOT NULL,
	[Id] [int] NOT NULL,
	[Activity] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL,
	[51] [varchar](50) NULL,
	[52] [varchar](50) NULL,
	[53] [varchar](50) NULL,
	[54] [varchar](50) NULL,
	[55] [varchar](50) NULL,
	[56] [varchar](50) NULL,
	[57] [varchar](50) NULL,
	[58] [varchar](50) NULL,
	[59] [varchar](50) NULL,
	[60] [varchar](50) NULL,
	[61] [varchar](50) NULL,
	[62] [varchar](50) NULL,
	[63] [varchar](50) NULL,
	[64] [varchar](50) NULL,
	[65] [varchar](50) NULL,
	[66] [varchar](50) NULL,
	[67] [varchar](50) NULL,
	[68] [varchar](50) NULL,
	[69] [varchar](50) NULL,
	[70] [varchar](50) NULL,
	[71] [varchar](50) NULL,
	[72] [varchar](50) NULL,
	[73] [varchar](50) NULL,
	[74] [varchar](50) NULL,
	[75] [varchar](50) NULL,
	[76] [varchar](50) NULL,
	[77] [varchar](50) NULL,
	[78] [varchar](50) NULL,
	[79] [varchar](50) NULL,
	[80] [varchar](50) NULL,
	[81] [varchar](50) NULL,
	[82] [varchar](50) NULL,
	[83] [varchar](50) NULL,
	[84] [varchar](50) NULL,
	[85] [varchar](50) NULL,
	[86] [varchar](50) NULL,
	[87] [varchar](50) NULL,
	[88] [varchar](50) NULL,
	[89] [varchar](50) NULL,
	[90] [varchar](50) NULL,
	[91] [varchar](50) NULL,
	[92] [varchar](50) NULL,
	[93] [varchar](50) NULL,
	[94] [varchar](50) NULL,
	[95] [varchar](50) NULL,
	[96] [varchar](50) NULL,
	[97] [varchar](50) NULL,
	[98] [varchar](50) NULL,
	[99] [varchar](50) NULL,
	[100] [varchar](50) NULL,
	[101] [varchar](50) NULL,
	[102] [varchar](50) NULL,
	[103] [varchar](50) NULL,
	[104] [varchar](50) NULL,
	[105] [varchar](50) NULL,
	[106] [varchar](50) NULL,
	[107] [varchar](50) NULL,
	[108] [varchar](50) NULL,
	[109] [varchar](50) NULL,
	[110] [varchar](50) NULL,
	[111] [varchar](50) NULL,
	[112] [varchar](50) NULL,
	[113] [varchar](50) NULL,
	[114] [varchar](50) NULL,
	[115] [varchar](50) NULL,
	[116] [varchar](50) NULL,
	[117] [varchar](50) NULL,
	[118] [varchar](50) NULL,
	[119] [varchar](50) NULL,
	[120] [varchar](50) NULL,
	[121] [varchar](50) NULL,
	[122] [varchar](50) NULL,
	[123] [varchar](50) NULL,
	[124] [varchar](50) NULL,
	[125] [varchar](50) NULL,
	[126] [varchar](50) NULL,
	[127] [varchar](50) NULL,
	[128] [varchar](50) NULL,
	[129] [varchar](50) NULL,
	[130] [varchar](50) NULL,
	[131] [varchar](50) NULL,
	[132] [varchar](50) NULL,
	[133] [varchar](50) NULL,
	[134] [varchar](50) NULL,
	[135] [varchar](50) NULL,
	[136] [varchar](50) NULL,
	[137] [varchar](50) NULL,
	[138] [varchar](50) NULL,
	[139] [varchar](50) NULL,
	[140] [varchar](50) NULL,
	[141] [varchar](50) NULL,
	[142] [varchar](50) NULL,
	[143] [varchar](50) NULL,
	[144] [varchar](50) NULL,
	[145] [varchar](50) NULL,
	[146] [varchar](50) NULL,
	[147] [varchar](50) NULL,
	[148] [varchar](50) NULL
)
GO
