

/****** Object:  UserDefinedTableType [dbo].[ImportBudgetAllocationType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ImportBudgetAllocationType] AS TABLE(
	[MasterRefId] [varchar](36) NULL,
	[MasterPeriode] [varchar](4) NULL,
	[MasterDesc] [varchar](50) NULL,
	[MasterOwner] [varchar](36) NULL,
	[MasterAmount] [numeric](18, 0) NULL,
	[MasterDistributorRefId] [varchar](36) NULL,
	[MasterPrincipalRefId] [varchar](36) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[AllocationRefId] [varchar](36) NULL,
	[AllocationAmount] [varchar](36) NULL,
	[SubCategoryRefId] [varchar](36) NULL,
	[ActivityRefId] [varchar](36) NULL,
	[SubActivityRefId] [varchar](36) NULL,
	[AllocationDetailDesc] [varchar](50) NULL,
	[AllocationDetailAmount] [numeric](18, 0) NULL
)
GO
