USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[InvoiceDetailType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[InvoiceDetailType] AS TABLE(
	[DNNumber] [varchar](50) NULL,
	[DPP] [numeric](19, 0) NULL,
	[PPN] [numeric](19, 2) NULL,
	[DNAmount] [numeric](19, 0) NULL
)
GO
