USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[InvoiceHeaderType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[InvoiceHeaderType] AS TABLE(
	[DistributorShortDesc] [varchar](20) NULL,
	[InvoiceDesc] [varchar](255) NULL,
	[DPP] [numeric](19, 0) NULL,
	[PPN] [numeric](19, 2) NULL,
	[InvoiceAmount] [numeric](19, 0) NULL
)
GO
