USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ImportDerivativeType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ImportDerivativeType] AS TABLE(
	[BudgetParent] [varchar](255) NULL,
	[TotalAssignmentAmount] [numeric](19, 2) NULL,
	[AssignTo] [varchar](50) NULL,
	[AssignDesc] [varchar](255) NULL,
	[AssignAmount] [numeric](19, 2) NULL,
	[Category] [varchar](255) NULL,
	[SubCategory] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[SubActivity] [varchar](255) NULL,
	[Approval] [varchar](255) NULL
)
GO
