

/****** Object:  UserDefinedTableType [dbo].[ImportPromoPlanAccountType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[ImportPromoPlanAccountType] AS TABLE(
	[Activity] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL,
	[51] [varchar](50) NULL,
	[52] [varchar](50) NULL,
	[53] [varchar](50) NULL,
	[54] [varchar](50) NULL,
	[55] [varchar](50) NULL,
	[56] [varchar](50) NULL,
	[57] [varchar](50) NULL,
	[58] [varchar](50) NULL,
	[59] [varchar](50) NULL,
	[60] [varchar](50) NULL,
	[61] [varchar](50) NULL,
	[62] [varchar](50) NULL,
	[63] [varchar](50) NULL,
	[64] [varchar](50) NULL,
	[65] [varchar](50) NULL,
	[66] [varchar](50) NULL,
	[67] [varchar](50) NULL,
	[68] [varchar](50) NULL,
	[69] [varchar](50) NULL,
	[70] [varchar](50) NULL
)
GO
