USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[MatrixApproverType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[MatrixApproverType] AS TABLE(
	[SeqApproval] [int] NULL,
	[Approver] [varchar](50) NULL
)
GO
