

/****** Object:  UserDefinedTableType [dbo].[MstMechanismType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[MstMechanismType] AS TABLE(
	[Entity] [varchar](max) NULL,
	[SubCategory] [varchar](max) NULL,
	[Activity] [varchar](max) NULL,
	[SubActivity] [varchar](max) NULL,
	[SKU] [varchar](max) NULL,
	[Requirement] [varchar](max) NULL,
	[Discount] [varchar](max) NULL,
	[Mechanism] [varchar](max) NULL,
	[Channel] [varchar](max) NULL,
	[StartPromo] [varchar](max) NULL,
	[EndPromo] [varchar](max) NULL
)
GO
