

/****** Object:  UserDefinedTableType [dbo].[MechanismType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[MechanismType] AS TABLE(
	[Id] [int] NULL,
	[Mechanism] [varchar](max) NULL,
	[Notes] [varchar](255) NULL,
	[ProductId] [int] NULL,
	[Product] [varchar](255) NULL,
	[BrandId] [int] NULL,
	[Brand] [varchar](255) NULL
)
GO
