USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[mechanismInputMethodType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[mechanismInputMethodType] AS TABLE(
	[categoryDesc] [varchar](100) NULL,
	[subCategoryDesc] [varchar](100) NULL,
	[activityDesc] [varchar](100) NULL,
	[subActivityDesc] [varchar](100) NULL,
	[inputMethod] [varchar](50) NULL
)
GO
