

/****** Object:  UserDefinedTableType [dbo].[PromoPlanningImport]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoPlanningImport] AS TABLE(
	[ImportId] [varchar](255) NULL,
	[id] [int] NOT NULL,
	[periode] [varchar](4) NULL,
	[entity] [varchar](255) NULL,
	[distributor] [varchar](255) NULL,
	[category] [varchar](255) NULL,
	[subactivitytype] [varchar](255) NULL,
	[subcategory] [varchar](255) NULL,
	[activity] [varchar](255) NULL,
	[subactivity] [varchar](255) NULL,
	[activitydesc] [varchar](255) NULL,
	[startpromo] [varchar](255) NULL,
	[endpromo] [varchar](255) NULL,
	[mechanisme] [varchar](255) NULL,
	[baselinesales] [numeric](19, 0) NULL,
	[incrsales] [numeric](19, 0) NULL,
	[investment] [numeric](19, 0) NULL,
	[channel] [varchar](255) NULL,
	[subchannel] [varchar](255) NULL,
	[account] [varchar](255) NULL,
	[subaccount] [varchar](255) NULL
)
GO
