USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[PrincipalType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PrincipalType] AS TABLE(
	[LongDesc] [varchar](50) NULL,
	[ShortDesc] [varchar](50) NULL
)
GO
