USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanningApprovalType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoPlanningApprovalType] AS TABLE(
	[PromoPlanRefId] [varchar](50) NOT NULL,
	[TSCode] [varchar](50) NOT NULL
)
GO
