USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[PromoUploadAttachmentType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoUploadAttachmentType] AS TABLE(
	[PromoNumber] [varchar](50) NULL,
	[Filename1] [varchar](255) NULL,
	[Filename2] [varchar](255) NULL,
	[Filename3] [varchar](255) NULL,
	[Filename4] [varchar](255) NULL,
	[Filename5] [varchar](255) NULL,
	[Filename6] [varchar](255) NULL,
	[Filename7] [varchar](255) NULL
)
GO
