

/****** Object:  UserDefinedTableType [dbo].[PromoPlanType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoPlanType] AS TABLE(
	[Periode] [varchar](255) NOT NULL,
	[LongDesc] [varchar](255) NOT NULL,
	[StartPromo] [date] NOT NULL,
	[EndPromo] [date] NOT NULL,
	[Notes] [varchar](8000) NULL
)
GO
