

/****** Object:  UserDefinedTableType [dbo].[PromoSubmissionException]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoSubmissionException] AS TABLE(
	[PromoRefId] [varchar](100) NULL,
	[Reason] [varchar](255) NULL
)
GO
