

/****** Object:  UserDefinedTableType [dbo].[PromoType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoType] AS TABLE(
	[PromoId] [int] NULL,
	[PromoPlanId] [int] NULL,
	[AllocationId] [int] NULL,
	[AllocationRefId] [varchar](50) NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[TsCoding] [varchar](50) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[CreatedEmail] [varchar](100) NULL
)
GO
