USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[PromoAttachmentType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoAttachmentType] AS TABLE(
	[Filename] [varchar](255) NULL,
	[DocLink] [varchar](255) NULL
)
GO
