USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[PromoMechanismType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoMechanismType] AS TABLE(
	[Id] [int] NULL,
	[Mechanism] [varchar](max) NULL,
	[Notes] [varchar](255) NULL,
	[ProductId] [int] NULL,
	[Baseline] [numeric](19, 2) NULL,
	[UpLift] [float] NULL,
	[TotalSales] [numeric](19, 2) NULL,
	[SalesContribution] [float] NULL,
	[StoresCoverage] [float] NULL,
	[RedemptionRate] [float] NULL,
	[CR] [float] NULL,
	[Cost] [numeric](19, 2) NULL
)
GO
