

/****** Object:  UserDefinedTableType [dbo].[PromoReconPeriodSubActivityType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoReconPeriodSubActivityType] AS TABLE(
	[SubActivity] [varchar](10) NULL,
	[Category] [varchar](50) NULL,
	[SubCategory] [varchar](50) NULL,
	[Activity] [varchar](50) NULL,
	[SubActivityType] [varchar](50) NULL,
	[LongDesc] [varchar](50) NULL,
	[Action] [varchar](100) NULL
)
GO
