

/****** Object:  UserDefinedTableType [dbo].[PromoFormType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoFormType] AS TABLE(
	[PromoId] [int] NULL,
	[Periode] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
	[DistributorId] [int] NOT NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[SubActivityTypeId] [varchar](255) NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL,
	[AccountId] [int] NULL,
	[SubAccountId] [int] NULL,
	[GroupBrandId] [int] NULL,
	[Baseline] [float] NULL,
	[UpLift] [float] NULL,
	[TotalSales] [float] NULL,
	[SalesContribution] [float] NULL,
	[StoresCoverage] [float] NULL,
	[RedemptionRate] [float] NULL,
	[CR] [float] NULL,
	[Cost] [float] NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[CreatedEmail] [varchar](100) NULL,
	[ModifReason] [varchar](255) NULL
)
GO
