

/****** Object:  UserDefinedTableType [dbo].[PromoSKPType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[PromoSKPType] AS TABLE(
	[PromoId] [int] NOT NULL,
	[SKPDraftAvail] [bit] NULL,
	[SKPDraftAvailOn] [datetime] NULL,
	[SKPDraftAvailBy] [varchar](50) NULL,
	[SKPDraftAvailBfrAct60] [bit] NULL,
	[SKPDraftAvailBfrAct60On] [datetime] NULL,
	[SKPDraftAvailBfrAct60By] [varchar](50) NULL,
	[PeriodMatch] [bit] NULL,
	[PeriodMatchOn] [datetime] NULL,
	[PeriodMatchBy] [varchar](50) NULL,
	[InvestmentMatch] [bit] NULL,
	[InvestmentMatchOn] [datetime] NULL,
	[InvestmentMatchBy] [varchar](50) NULL,
	[MechanismMatch] [bit] NULL,
	[MechanismMatchOn] [datetime] NULL,
	[MechanismMatchBy] [varchar](50) NULL,
	[SKPSign7] [bit] NULL,
	[SKPSign7On] [datetime] NULL,
	[SKPSign7By] [varchar](50) NULL,
	[EntityDraft] [bit] NULL,
	[EntityDraftOn] [datetime] NULL,
	[EntityDraftBy] [varchar](50) NULL,
	[BrandDraft] [bit] NULL,
	[BrandDraftOn] [datetime] NULL,
	[BrandDraftBy] [varchar](50) NULL,
	[PeriodDraft] [bit] NULL,
	[PeriodDraftOn] [datetime] NULL,
	[PeriodDraftBy] [varchar](50) NULL,
	[ActivityDescDraft] [bit] NULL,
	[ActivityDescDraftOn] [datetime] NULL,
	[ActivityDescDraftBy] [varchar](50) NULL,
	[MechanismDraft] [bit] NULL,
	[MechanismDraftOn] [datetime] NULL,
	[MechanismDraftBy] [varchar](50) NULL,
	[InvestmentDraft] [bit] NULL,
	[InvestmentDraftOn] [datetime] NULL,
	[InvestmentDraftBy] [varchar](50) NULL,
	[Entity] [bit] NULL,
	[EntityOn] [datetime] NULL,
	[EntityBy] [varchar](50) NULL,
	[Brand] [bit] NULL,
	[BrandOn] [datetime] NULL,
	[BrandBy] [varchar](50) NULL,
	[ActivityDesc] [bit] NULL,
	[ActivityDescOn] [datetime] NULL,
	[ActivityDescBy] [varchar](50) NULL,
	[DistributorDraft] [bit] NULL,
	[DistributorDraftOn] [datetime] NULL,
	[DistributorDraftBy] [varchar](50) NULL,
	[Distributor] [bit] NULL,
	[DistributorOn] [datetime] NULL,
	[DistributorBy] [varchar](50) NULL,
	[ChannelDraft] [bit] NULL,
	[ChannelDraftOn] [datetime] NULL,
	[ChannelDraftBy] [varchar](50) NULL,
	[Channel] [bit] NULL,
	[ChannelOn] [datetime] NULL,
	[ChannelBy] [varchar](50) NULL,
	[StoreNameDraft] [bit] NULL,
	[StoreNameDraftOn] [datetime] NULL,
	[StoreNameDraftBy] [varchar](50) NULL,
	[StoreName] [bit] NULL,
	[StoreNameOn] [datetime] NULL,
	[StoreNameBy] [varchar](50) NULL,
	[skpstatus] [int] NULL,
	[skp_notes] [text] NULL
)
GO
