USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[RegionType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[RegionType] AS TABLE(
	[Region] [varchar](255) NULL
)
GO
