USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[SellingPointTypeNew]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SellingPointTypeNew] AS TABLE(
	[Sellingpoint] [varchar](50) NULL,
	[SellingPointDesc] [varchar](255) NULL,
	[AreaCode] [varchar](3) NULL,
	[Region] [varchar](255) NULL
)
GO
