

/****** Object:  UserDefinedTableType [dbo].[SSConversionRateType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SSConversionRateType] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[subchannel] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[m1] [numeric](19, 2) NULL,
	[m2] [numeric](19, 2) NULL,
	[m3] [numeric](19, 2) NULL,
	[m4] [numeric](19, 2) NULL,
	[m5] [numeric](19, 2) NULL,
	[m6] [numeric](19, 2) NULL,
	[m7] [numeric](19, 2) NULL,
	[m8] [numeric](19, 2) NULL,
	[m9] [numeric](19, 2) NULL,
	[m10] [numeric](19, 2) NULL,
	[m11] [numeric](19, 2) NULL,
	[m12] [numeric](19, 2) NULL
)
GO
