

/****** Object:  UserDefinedTableType [dbo].[SellingPointRegion]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SellingPointRegion] AS TABLE(
	[RegionRefId] [varchar](36) NULL,
	[RegionLongDesc] [varchar](50) NULL,
	[RegionShortDesc] [varchar](10) NULL,
	[SellpoRefId] [varchar](36) NULL,
	[SellpoLongDesc] [varchar](50) NULL,
	[SellpoShortDesc] [varchar](10) NULL
)
GO
