

/****** Object:  UserDefinedTableType [dbo].[SSVolumeType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SSVolumeType] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[subchannel] [varchar](255) NOT NULL,
	[account] [varchar](255) NOT NULL,
	[subaccount] [varchar](255) NOT NULL,
	[region] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[m1] [float] NULL,
	[m2] [float] NULL,
	[m3] [float] NULL,
	[m4] [float] NULL,
	[m5] [float] NULL,
	[m6] [float] NULL,
	[m7] [float] NULL,
	[m8] [float] NULL,
	[m9] [float] NULL,
	[m10] [float] NULL,
	[m11] [float] NULL,
	[m12] [float] NULL
)
GO
