USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[SetRoiCrType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SetRoiCrType] AS TABLE(
	[Id] [int] NULL,
	[MinimumROI] [numeric](19, 2) NULL,
	[MaksimumROI] [numeric](19, 2) NULL,
	[MinimumCostRatio] [numeric](19, 2) NULL,
	[MaksimumCostRatio] [numeric](19, 2) NULL
)
GO
