

/****** Object:  UserDefinedTableType [dbo].[SSTTTypeDC]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SSTTTypeDC] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[category] [varchar](255) NOT NULL,
	[subcategory] [varchar](255) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[distributor] [varchar](255) NOT NULL,
	[distributorshortdesc] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[subactivitytype] [varchar](255) NOT NULL,
	[subactivity] [varchar](255) NOT NULL,
	[activity] [varchar](255) NOT NULL,
	[tt] [float] NOT NULL,
	[budgetname] [varchar](255) NOT NULL
)
GO
