

/****** Object:  UserDefinedTableType [dbo].[SubActivityType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SubActivityType] AS TABLE(
	[SubActivityType] [varchar](50) NULL
)
GO
