

/****** Object:  UserDefinedTableType [dbo].[SellingPointType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[SellingPointType] AS TABLE(
	[Sellingpoint] [varchar](50) NULL,
	[SellingPointDesc] [varchar](255) NULL,
	[Region] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[ProfitCenter] [varchar](255) NULL,
	[AreaCode] [varchar](3) NULL,
	[Area] [varchar](255) NULL
)
GO
