

/****** Object:  UserDefinedTableType [dbo].[TrxSkuType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxSkuType] AS TABLE(
	[KeyId] [int] NULL,
	[BrandId] [int] NULL,
	[SkuId] [int] NULL
)
GO
