USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[TrxSubBrandType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxSubBrandType] AS TABLE(
	[KeyId] [int] NULL,
	[BrandId] [int] NULL,
	[SubBrandlId] [int] NULL
)
GO
