

/****** Object:  UserDefinedTableType [dbo].[tbtype_activity]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[tbtype_activity] AS TABLE(
	[CatRef] [varchar](50) NULL,
	[CatDesc] [varchar](50) NULL,
	[CatSDesc] [varchar](50) NULL,
	[SubCatRef] [varchar](50) NULL,
	[SubCatDesc] [varchar](50) NULL,
	[SubCatSDesc] [varchar](50) NULL,
	[ActRef] [varchar](50) NULL,
	[ActDesc] [varchar](50) NULL,
	[ActSDesc] [varchar](50) NULL,
	[SubActRef] [varchar](50) NULL,
	[SubActDesc] [varchar](50) NULL,
	[SubActSDesc] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreateOn] [datetime] NULL,
	[CreateBy] [varchar](50) NULL
)
GO
