

/****** Object:  UserDefinedTableType [dbo].[TrxSubAccountType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxSubAccountType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL,
	[AccountId] [int] NULL,
	[SubAccountId] [int] NULL
)
GO
