USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[tbtype_channel]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[tbtype_channel] AS TABLE(
	[ChannelId] [varchar](50) NULL,
	[Channel] [varchar](50) NULL,
	[SubChannelId] [varchar](50) NULL,
	[SubChannel] [varchar](50) NULL,
	[AccountId] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[SubAccountId] [varchar](50) NULL,
	[SubAccount] [varchar](50) NULL
)
GO
