USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[TrxAccountType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxAccountType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL,
	[AccountId] [int] NULL
)
GO
