

/****** Object:  UserDefinedTableType [dbo].[TrxRegionType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxRegionType] AS TABLE(
	[KeyId] [int] NULL,
	[RegionId] [int] NULL
)
GO
