USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[TemplateDebetNoteNew]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TemplateDebetNoteNew] AS TABLE(
	[RefId] [varchar](255) NULL,
	[PromoRefId] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[TotalClaim] [numeric](19, 0) NULL,
	[LastStatus] [varchar](50) NULL,
	[LastUpdate] [varchar](50) NULL
)
GO
