

/****** Object:  UserDefinedTableType [dbo].[TrxSubChannelType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxSubChannelType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL
)
GO
