

/****** Object:  UserDefinedTableType [dbo].[TemplateDebetNote]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TemplateDebetNote] AS TABLE(
	[RefId] [varchar](255) NULL,
	[PromoRefId] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[TotalClaim] [varchar](255) NULL,
	[LastStatus] [varchar](255) NULL,
	[LastUpdate] [varchar](255) NULL
)
GO
