USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[TrxBrandType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxBrandType] AS TABLE(
	[KeyId] [int] NULL,
	[BrandId] [int] NULL
)
GO
