

/****** Object:  UserDefinedTableType [dbo].[TrxChannelType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[TrxChannelType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL
)
GO
