USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[UserType]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[UserType] AS TABLE(
	[id] [varchar](50) NULL
)
GO
