USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[xml_generate]    Script Date: 10/6/2025 11:39:45 AM ******/
CREATE TYPE [dbo].[xml_generate] AS TABLE(
	[PONumber] [varchar](100) NOT NULL,
	[OriginalId] [varchar](100) NOT NULL,
	[EntityId] [int] NULL
)
GO
