

/****** Object:  View [dbo].[vw_account]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- dbo.vw_account source

CREATE VIEW [dbo].[vw_account]
AS
SELECT tc.id as ChannelId, tc.RefId as ChannelRefId, tc.LongDesc as ChannelDesc,
	tsc.id as SubChannelId, tsc.RefId as SubChannelRefId, tsc.LongDesc as SubChannelDesc,
	ta.id as AccountId, ta.RefId as AccountRefId, ta.LongDesc as AccountDesc,
	tsa.id as SubAccountId, tsa.RefId as SubAccountRefId, tsa.LongDesc as SubAccountDesc
	FROM tbmst_subaccount tsa
	INNER JOIN tbmst_account ta ON tsa.AccountId = ta.id
	INNER JOIN tbmst_subchannel tsc ON ta.SubChannelId = tsc.Id 
	INNER JOIN tbmst_channel tc ON tsc.ChannelId = tc.Id 
WHERE ISNULL(tsa.IsDelete, 0) = 0 AND ISNULL(ta.IsDelete, 0) = 0 AND ISNULL(tsc.IsDelete, 0) = 0 AND ISNULL(tc.IsDelete, 0) = 0;
GO
