

/****** Object:  View [dbo].[vw_product_blitz]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_product_blitz]
AS

select * from (
		select distinct Product_Code Blitz_Product_Code, Product_Name Blitz_Product_Name from tbtrx_blitz 
	)a 
	left join (
			SELECT 
				tp.Id ProductID, tp.RefID ProductRefID, tp.LongDesc ProductDesc,
				tb.Id BrandID, tb.RefID BrandRefID, tb.LongDesc BrandDesc,
				sap.sapcode
				FROM tbmst_product tp
				INNER JOIN  tbset_map_product_sap sap on tp.Id=sap.ProductId
				INNER JOIN tbmst_brand tb ON tp.BrandId = tb.id
			WHERE ISNULL(tp.IsDeleted, 0) = 0 AND ISNULL(tb.IsDeleted, 0) = 0 
		)b on a.Blitz_Product_Code = b.sapcode
GO
