

/****** Object:  View [dbo].[vw_validate_by_sales]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vw_validate_by_sales] as
select b.createby, count(a.id) validate_by_sales
from tbtrx_debetnote a
		inner join tbmst_subaccount ts ON a.AccountId = ts.id
        LEFT JOIN
            (select parentid, StatusSalesCode, max(id) id, max(ActionOn) actionOn
            from tbhis_debetnote_sales_log
            group by parentid, StatusSalesCode) g on a.id=g.ParentId and a.StatusSalesCode=g.StatusSalesCode
		LEFT JOIN tbset_mapping_material tmm on a.TaxLevel = tmm.MaterialNumber AND a.PrincipalId=tmm.EntityId
		LEFT JOIN tbtrx_promo b on a.PromoId=b.Id
		LEFT JOIN tbtrx_debetnote_sp_detail c on a.Id=c.DnId and isnull(c.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header d on d.Id=c.ParentId
		LEFT JOIN tbtrx_debetnote_sp_detail_ho e on a.Id=e.DnId and isnull(e.IsCancel,0)=0
		LEFT JOIN tbtrx_debetnote_sp_header_ho f on f.Id=e.ParentId
-- 		WHERE a.Periode = @period
			WHERE a.LastStatus IN ('send_to_danone','received_by_danone','validate_by_finance')
			AND (isnull(a.StatusSalesCode, '') = '' OR isnull(a.StatusSalesCode, '') = 'TP1')
--			AND (isnull(a.StatusSalesCode, '') = '' OR isnull(a.StatusSalesCode, '') <> 'TP3')
			and isnull(a.IsCancel,0)=0 AND isnull(a.IsDNPromo, 0) = 1
		GROUP BY b.createby
GO
