

/****** Object:  View [dbo].[vwhlp_promo_region]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vwhlp_promo_region] as
select PromoId, string_agg(region.LongDesc,' ,') regionDesc
                            from tbtrx_promo_region a with (nolock)
                            INNER join tbmst_region region with (nolock) ON a.regionid=region.Id
                    GROUP BY a.PromoId
GO
