

/****** Object:  View [dbo].[vw_promo_attribute]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- dbo.vw_promo_attribute source

CREATE   VIEW [dbo].[vw_promo_attribute]
as
select p.Id PromoId
,channel.ChannelDesc
,account.AccountDesc 
,region.RegionDesc
,brand.BrandDesc
,product.ProductDesc
,groupbrand.GroupBrandDesc
from tbtrx_promo p
left join
			(
				select PromoId,
				STUFF(
						(select  ', ' + chn.LongDesc 
							from tbtrx_promo_channel a
							join tbmst_channel chn
							ON a.ChannelId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
					FROM tbtrx_promo_channel b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) channel
			on p.Id = channel.PromoId
left join
			(
				select PromoId,
				STUFF(
						(select  ', ' + chn.LongDesc 
							from tbtrx_promo_account a
							join tbmst_account chn
							ON a.AccountId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
					FROM tbtrx_promo_account b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) account
			on p.Id = account.PromoId
left join
			(
				select PromoId,
				STUFF(
						(select  ', ' + chn.LongDesc 
							from tbtrx_promo_region a
							join tbmst_region chn
							ON a.RegionId=chn.Id
							where a.PromoId=b.PromoId
							FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
					FROM tbtrx_promo_region b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
			) region
			on p.Id = region.PromoId
left join
(
	select PromoId,
	STUFF(
			(select  ', ' + chn.LongDesc 
				from tbtrx_promo_brand a
				join tbmst_brand chn
				ON a.BrandId=chn.Id
				where a.PromoId=b.PromoId
				FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
		FROM tbtrx_promo_brand b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
) brand
on p.Id = brand.PromoId

left join
(
	select PromoId,
	STUFF(
			(select  ', ' + chn.LongDesc 
				from tbtrx_promo_product a
				join tbmst_product chn
				ON a.ProductId=chn.Id
				where a.PromoId=b.PromoId
				FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ProductDesc
		FROM tbtrx_promo_product b INNER JOIN tbtrx_promo ON Id=PromoId  GROUP BY PromoId
) product
on p.Id = product.PromoId

left join 
(
	SELECT brandGroupPromoId, STRING_AGG(groupbrand.LongDesc,', ') GroupBrandDesc
	FROM (
		SELECT distinct 
			b.PromoId brandGroupPromoId, a.longDesc
		FROM tbmst_brand_group a
		INNER JOIN 
		(
			select a.Id, a.LongDesc, a.BrandGroupId, b.PromoId from tbmst_brand a 
			INNER JOIN tbtrx_promo_brand b ON A.Id=B.BrandId
		) b on a.Id=b.BrandGroupId
	) groupbrand GROUP BY brandGroupPromoId
) groupbrand on p.id= groupbrand.brandGroupPromoId;
GO
