

/****** Object:  View [dbo].[vw_budget_vs_entity]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_vs_entity]
as
select pcp.id EntityId,pcp.LongDesc,alc.id AllocationId
from tbmst_principal pcp
left join tbtrx_budgetmaster m on m.PrincipalId=pcp.Id
left join tbtrx_allocation alc on m.Id=alc.BudgetmasterId
GO
