

/****** Object:  View [dbo].[vw_account_blitz]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_account_blitz]
AS

select * from (
		select distinct SubAccountCode Blitz_SubAccountCode, SubAccountDesc Blitz_SubAccountDesc from tbtrx_blitz 
	)a 
	left join (
			SELECT 
				tsa.id as SubAccountId, tsa.RefId as SubAccountRefId, tsa.LongDesc as SubAccountDesc,
				ta.id as AccountId, ta.RefId as AccountRefId, ta.LongDesc as AccountDesc,
				tsc.id as SubChannelId, tsc.RefId as SubChannelRefId, tsc.LongDesc as SubChannelDesc,
				tc.id as ChannelId, tc.RefId as ChannelRefId, tc.LongDesc as ChannelDesc,
				sap.sapcode
				FROM tbmst_subaccount tsa
				INNER JOIN  tbset_map_subaccount_sap sap on tsa.Id=sap.subaccountid
				INNER JOIN tbmst_account ta ON tsa.AccountId = ta.id
				INNER JOIN tbmst_subchannel tsc ON ta.SubChannelId = tsc.Id 
				INNER JOIN tbmst_channel tc ON tsc.ChannelId = tc.Id 
			WHERE ISNULL(tsa.IsDelete, 0) = 0 AND ISNULL(ta.IsDelete, 0) = 0 AND ISNULL(tsc.IsDelete, 0) = 0 AND ISNULL(tc.IsDelete, 0) = 0
		)b on a.Blitz_SubAccountCode = b.sapcode
GO
