

/****** Object:  View [dbo].[vw_sku_active]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_sku_active] as
SELECT 
	a.Id entityId, a.LongDesc entityDesc, a.ShortDesc entityShortDesc
	, c.Id groupBrandId, c.LongDesc groupBrandDesc
	, b.Id brandId, b.LongDesc brandDesc
	, d.Id skuId, d.LongDesc skuDesc
FROM tbmst_principal a
INNER JOIN tbmst_brand b ON a.Id=b.PrincipalId AND ISNULL(a.isdeleted,0)=0 AND ISNULL(b.isdeleted,0)=0 
INNER JOIN tbmst_brand_group c ON b.BrandGroupId=c.Id AND ISNULL(c.isdeleted,0)=0 
INNER JOIN tbmst_product d ON b.Id=d.BrandId AND ISNULL(d.isdeleted,0)=0 
GO
