

/****** Object:  View [dbo].[vw_promo_sendbackrecon_notes_last]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_promo_sendbackrecon_notes_last] as
select b.ParentId, a.UserApprover, a.Notes, a.ActionDate from tbtrx_promo_approval_recon a with (nolock)
inner join (
select max(a.requestid)requestid from tbtrx_promo_approval_recon a with (nolock)
inner join tbtrx_promo_request_approval_recon b with (nolock) on a.requestid=b.id and a.Status='TP3' group by b.ParentId  --,a.UserApprover
) x on a.RequestId=x.requestid -- and a.UserApprover=x.UserApprover
inner join tbtrx_promo_request_approval_recon b with (nolock) on x.requestid=b.id and a.Status='TP3'
GO
