

/****** Object:  View [dbo].[vw_userprofile_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_userprofile_lp]
AS
SELECT a.id,
a.usergroupid,
a.userlevel,
a.username,
a.email,
a.department,
a.jobtitle,
b.usergroupname,
c.levelname,
CASE
	WHEN a.isdeleted = 0 THEN 'Active'
	ELSE 'Inactive'
END AS status,
				mapcat.ProfileCategory
FROM
dbo.tbset_user AS a
LEFT OUTER JOIN dbo.tbset_usergroup AS b ON
a.usergroupid = b.usergroupid
LEFT OUTER JOIN dbo.tbset_userlevel AS c ON
a.userlevel = c.userlevel
LEFT OUTER JOIN
	(
select
	ProfileID,
	STRING_AGG(cat.ShortDesc,
	', ') ProfileCategory
from
	dbo.tbset_map_profile_category profCat
LEFT OUTER JOIN dbo.tbmst_category AS cat ON
	cat.Id = profCat.CategoryID
group by
	profCat.ProfileID
	) mapcat on
a.id = mapcat.profileid;
GO
