USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_map_subcategory_channel]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_map_subcategory_channel]
AS
SELECT A.subCategoryId, A.channelid, B.LongDesc subcategory, C.LongDesc channel FROM tbset_map_subcategory_channel A
INNER JOIN tbmst_subcategory B ON A.subCategoryId = B.Id
INNER jOIN TBMST_CHANNEL C ON A.channelId = C.Id
GO
