USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_contractual]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_contractual] as

/*non cosmo*/
	SELECT 
	a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
	, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
	, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
	, a.activityid, c.ActivityDesc
	--, a.budgetname
	, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' ', d.SubAccountDesc, ' ', c.ActivityDesc ) budgetname
	, round(a.tt*b.ssvalue/100,0) budgetamount
	, ISNULL(g.cost,0) TotCost
	, round(a.tt*b.ssvalue/100,0) - ISNULL(g.cost,0) RemainingBudget
	,a.subactivityid, c.subactivityDesc
	,a.id 
	FROM tbtrx_ss_tt a
	INNER JOIN (
		SELECT 
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
				FROM tbtrx_ss_volume a
				INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subChannelId AND a.groupbrandid=b.groupbrandid
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND a.channelid = b.channelid
			AND a.subchannelid = b.subchannelid
			AND a.accountid = b.accountid
			AND a.subaccountid = b.subaccountid
			AND a.groupbrandid = b.groupbrandid
	INNER JOIN (
		SELECT DISTINCT a.CategoryId, a.CategoryDesc, a.SubCategoryId, a.SubCategoryDesc, a.ActivityId, a.ActivityDesc, a.SubActivityId, a.SubActivityDesc
			FROM vw_activity a
			INNER JOIN tbmst_subactivity b ON a.SubActivityId=b.id
			INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id --AND ActivityDesc <> 'Trading Term - Consumer Promo'
		)c ON
			a.subactivityid=c.subActivityId
	INNER JOIN vw_account d ON a.subaccountid=d.SubAccountId
	INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
	INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
	LEFT JOIN (
		SELECT a.AllocationId, sum(f.Cost)cost from tbtrx_promo a
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId and isnull(a.iscancel, 0) = 0
			GROUP BY a.allocationid
		) g ON a.id = g.AllocationId

UNION ALL 

/*cosmo*/
	SELECT DISTINCT
	a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
	, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
	, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
	, a.activityid, c.ActivityDesc
	--, a.budgetname
	, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' ', d.SubAccountDesc, ' ', c.ActivityDesc ) budgetname
	, round(a.tt*b.ssvalue/100,0) budgetamount
	, ISNULL(g.cost,0) TotCost
	, round(a.tt*b.ssvalue/100,0) - ISNULL(g.cost,0) RemainingBudget
	,0 subactivityid, '' subactivityDesc
	,a.id 
	FROM tbtrx_ss_tt a
	INNER JOIN (
		SELECT 
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
				FROM tbtrx_ss_volume a
				INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subChannelId AND a.groupbrandid=b.groupbrandid
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND a.channelid = b.channelid
			AND a.subchannelid = b.subchannelid
			AND a.accountid = b.accountid
			AND a.subaccountid = b.subaccountid
			AND a.groupbrandid = b.groupbrandid
	INNER JOIN (
		SELECT DISTINCT a.CategoryId, a.CategoryDesc, a.SubCategoryId, a.SubCategoryDesc, a.ActivityId, a.ActivityDesc --, a.SubActivityId, a.SubActivityDesc
			FROM vw_activity a
			--WHERE a.activityDesc = 'Trading Term - Consumer Promo'
			--INNER JOIN tbmst_subactivity b ON a.SubActivityId=b.id
			--INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id AND SubActivityDesc = 'Trading Term - Consumer Promo'
		)c ON
			a.activityid=c.ActivityId AND a.subactivityid = 0
	INNER JOIN vw_account d ON a.subaccountid=d.SubAccountId
	INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
	INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
	LEFT JOIN (
		SELECT a.AllocationId, sum(f.Cost)cost from tbtrx_promo a
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId and isnull(a.iscancel, 0) = 0
			GROUP BY a.allocationid
		) g ON a.id = g.AllocationId


GO
