USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_pending_dn_manual]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_pending_dn_manual]
as
SELECT
	AssignBy UserApprover
	,COUNT(Id) as pending_dn_manual 
	FROM tbtrx_debetnote 
	where isnull(IsCancel,0)=0 and 
	isnull(PromoId,0)=0 and
	assignon is null
	and isnull(isdnpromo,0)=1
GROUP BY AssignBy






GO
