USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_brand_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_brand_lp] AS
SELECT tp.id as EntityId, tp.RefId as EntityRefId, tp.LongDesc as EntityLongDesc, tp.ShortDesc as EntityShortDesc, 
	tb.id as BrandId, tb.RefId as BrandRefId, tb.LongDesc as BrandLongDesc, tb.ShortDesc as BrandShortDesc
FROM tbmst_brand tb
INNER JOIN tbmst_principal tp ON tb.PrincipalId = tp.Id 
WHERE ISNULL(tp.IsDeleted, 0) = 0 AND ISNULL(tb.IsDeleted, 0) = 0;
GO
