USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_sellingpoint_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sellingpoint_lp] AS
SELECT 
a.id as RegionId, a.RefId as RegionRefId, a.LongDesc as RegionLongDesc, a.ShortDesc as RegionShortDesc, 
b.ProfitCenter as ProfitCenter, b.ProfitCenterDesc as ProfitCenterDesc,
c.id as SellingPointId, c.RefId as SellingPointRefId, c.LongDesc as SellingPointLongDesc, c.ShortDesc as SellingPointShortDesc, c.AreaCode


FROM tbmst_sellingpoint c
INNER JOIN tbmst_region a ON c.RegionId = a.Id
LEFT JOIN tbmst_profit_center b ON c.ProfitCenter = b.ProfitCenter
WHERE ISNULL(a.IsDelete, 0) = 0 AND ISNULL(c.IsDelete, 0) = 0;
GO
