

/****** Object:  View [dbo].[vw_pending_approval_promo]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- dbo.vw_pending_approval_promo source

-- dbo.vw_pending_approval_promo source

CREATE VIEW [dbo].[vw_pending_approval_promo]
as
/*
 * EJ 2020-03-17 add filter AND isnull(pr.IsCancelLocked,0)=0
 */
SELECT
	UserApprover
	,COUNT(PromoId) as pending_promo_approval 
	,MAX(IIF(isnull(Aging,0) < 0, 0,isnull(Aging,0))) aging_promo_approval
FROM
(
SELECT 
A.UserApprover
,ParentId PromoId
,a.RequestDate
,a.ActionDate
,CASE WHEN A.ActionDate >= A.RequestDate THEN
DATEDIFF(day,A.RequestDate,A.ActionDate) 
-(DATEDIFF(wk, A.RequestDate,A.ActionDate) * 2)
-(CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
-(CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
ELSE
DATEDIFF(day,A.RequestDate,getdate()) 
-(DATEDIFF(wk, A.RequestDate,getdate()) * 2)
-(CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) 
END
Aging
FROM tbtrx_promo_request_approval R
INNER JOIN tbtrx_promo_approval A ON R.Id=A.RequestId 
INNER JOIN tbtrx_promo pr on R.Parentid=pr.Id
WHERE isnull(R.IsCancel,0)=0
and A.IsOnGoing=1 and A.[Status]='TP1' and isnull(pr.IsCancel,0)=0 --and isnull(pr.IsClose,0)=0
AND isnull(pr.IsCancelLocked,0)=0
) X 
GROUP BY UserApprover;
GO
