USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_promo_historical_sendback]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_promo_historical_sendback]
as
SELECT 
X.RequestId 
,X.Sequence
,PromoId 
,AllocationId
,[Promo No]
,[Entry Date]
,[Budget Periode]
,PreviousActionDate as SendbackDate 
--,ActionDate as ResubmitDate
,FirstRequestDate as ResubmitDate
,UserApprover SendbackBy
,[Initiator]
,t.username InitiatorName
,totinvest
,totsales
,'Revise by ' + CAST([Initiator] as varchar) as [Action]
,
IIF(
DATEDIFF(day,PreviousActionDate,FirstRequestDate) 
-(DATEDIFF(wk, PreviousActionDate,FirstRequestDate) * 2)
-(CASE WHEN DATENAME(dw, PreviousActionDate) = 'Sunday' THEN 1 ELSE 0 END)
-(CASE WHEN DATENAME(dw, FirstRequestDate) = 'Saturday' THEN 1 ELSE 0 END) 
<  0,0,
DATEDIFF(day,PreviousActionDate,FirstRequestDate) 
-(DATEDIFF(wk, PreviousActionDate,FirstRequestDate) * 2)
-(CASE WHEN DATENAME(dw, PreviousActionDate) = 'Sunday' THEN 1 ELSE 0 END)
-(CASE WHEN DATENAME(dw, FirstRequestDate) = 'Saturday' THEN 1 ELSE 0 END)
)
Aging,
[Status],
X.ActivityDesc,
X.ApprovalNotes,
X.Notes
FROM
(
SELECT
PromoId
,pr.AllocationId
,pr.RefId [Promo No]
,pr.CreateOn [Entry Date]
,IIF(isnull(pr.period, '') >= 2025, pr.period, bdg.Periode) [Budget Periode]
,[Initiator]
,LAG(p.[UserApprover]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) UserApprover
,LAG(p.[Status]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) PreviousStatus
,LAG(p.[ActionDate]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) PreviousActionDate
,p.RequestDate,p.ActionDate,p.[Status],p.RequestId,p.FirstRequestDate
,p.Sequence
,p.totinvest
,p.totsales
,p.Notes
,p.ApprovalNotes
,p.ActivityDesc
FROM vw_promo_historical_approval p 
inner join tbtrx_promo pr on p.PromoId=pr.Id
left JOIN tbtrx_budgetmaster bdg WITH (NOLOCK) ON  bdg.Id=pr.BudgetMasterId
WHERE isnull(pr.IsCancel,0)=0
) X 
INNER JOIN tbset_user t on x.[Initiator]=t.Id	
WHERE PreviousStatus='TP3' 

GO
