USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_product]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_product]
AS
		SELECT 
		b.Id BrandId
		,b.LongDesc BrandDesc
		,a.Id ProductId
		,a.LongDesc ProductDesc
		FROM tbmst_product a 
		inner join tbmst_brand b on b.Id=a.BrandId
GO
