USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_usergroup_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_usergroup_lp] AS

SELECT a.usergroupid as UserGroupId, a.usergroupname as UserGroupName, a.groupmenupermission as GroupMenuPermission,
	   b.category as Category, b.name as Name, b.description as Description,
	   a.CreatedEmail,a.userinput, a.dateinput, a.useredit, a.dateedit, a.ModifiedEmail 
FROM tbset_usergroup a
LEFT JOIN tbset_config_dropdown b ON a.groupmenupermission = b.id
GO
