USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_contractual_dc]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_budget_contractual_dc] as
	SELECT 
	a.period, a.categoryid, c.categoryDesc, a.subcategoryid, c.subCategoryDesc
	, a.channelId, d.LongDesc channelDesc, 0 subChannelid, '' subChannelDesc, 0 accountId, '' accountDesc, 0 subAccountId, '' subAccountDesc
	, a.distributorId, e.ShortDesc distributor, a.groupBrandId, f.LongDesc Brand
	, a.activityId, c.activityDesc
	, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', c.mainActivityDesc, ' ', c.subActivityTypeDesc) budgetname
	, SUM(round(a.tt*b.psvalue/100,0)) budgetamount
	, SUM(ISNULL(g.cost,0)) TotCost
	, SUM(round(a.tt*b.psvalue/100,0)) - SUM(ISNULL(g.cost,0)) RemainingBudget
	, a.subActivityId
	, c.subactivityDesc
	,a.id 
	--a.period, a.categoryid, a.subcategoryid, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.distributorId, a.groupbrandid, a.subactivitytypeid, a.activityid, a.subactivityid, a.budgetname
	--, a.tt, b.ssvalue, round(a.tt*b.ssvalue/100,0) budgetamount

	FROM tbtrx_ss_tt a
	INNER JOIN tbmst_category mc ON a.categoryid = mc.id AND mc.ShortDesc = 'DC'
	INNER JOIN (
		SELECT 
				a.period, a.distributorid, a.groupbrandid
				,SUM(ISNULL(a.m1,0)+ISNULL(a.m2,0)+ISNULL(a.m3,0)+ISNULL(a.m4,0)+ISNULL(a.m5,0)+ISNULL(a.m6,0)
				+ISNULL(a.m7,0)+ISNULL(a.m8,0)+ISNULL(a.m9,0)+ISNULL(a.m10,0)+ISNULL(a.m11,0)+ISNULL(a.m12,0)) psvalue
				FROM tbtrx_ps_value a
				--WHERE 
				--	a.period= 2024
				--	AND a.channelid = 2
				--	AND a.subchannelid = 2
				--	AND a.accountid = 3
				--	AND a.subaccountid = 2
				--	AND a.groupbrandid = 1
				GROUP BY a.period, a.distributorid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND a.distributorId = b.distributorid
			AND a.groupbrandid = b.groupbrandid
	INNER JOIN (
		SELECT DISTINCT a.categoryId, a.categoryDesc, a.subCategoryId, a.subCategoryDesc, a.activityId, a.activityDesc, a.subActivityId, a.subActivityDesc
			, c.id subActivityTypeId, c.LongDesc subActivityTypeDesc, e.id mainActivityId, e.longDesc mainActivityDesc
			FROM vw_activity a
			INNER JOIN tbmst_subactivity b ON a.SubActivityId = b.Id
			INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id
			INNER JOIN tbmst_main_activity_dtl d ON b.Id = d.subactivityid
			INNER JOIN tbmst_main_activity e ON d.mainactivityid = e.id 
		)c ON
			a.subactivityid=c.SubActivityId
	INNER JOIN tbmst_channel d ON a.channelid=d.Id
	INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
	INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
	LEFT JOIN (
		SELECT a.CategoryId, a.SubCategoryId, a.SubActivityId, a.StartPromo, b.ChannelId, 0 SubChannelId, 0 AccountId, 0 SubAccountId, a.groupbrandid, a.distributorid, f.Cost  from tbtrx_promo a
			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid and isnull(a.iscancel, 0) = 0
			--INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
			--INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
			--INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId AND a.CategoryShortDesc='DC'
		) g ON 
			a.period=YEAR(g.StartPromo)
			AND a.categoryid=g.categoryid
			AND a.subcategoryid=g.subcategoryid
			AND a.channelid=g.channelid
			AND a.distributorId=g.distributorid
			AND a.groupbrandid=g.groupbrandid
			AND a.subactivityid=g.subactivityid
	GROUP BY 	
		a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
		, a.channelid, d.LongDesc, a.subchannelid
		, a.distributorId, e.ShortDesc, a.groupbrandid, f.LongDesc 
		, a.activityid, c.ActivityDesc, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', c.mainActivityDesc, ' ', c.subActivityTypeDesc)
		,a.subactivityid
		, c.subactivityDesc
		,a.id 

GO
