USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_userlevel_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_userlevel_lp]
	AS 
SELECT a.userlevel,a.levelname,a.usergroupid,b.usergroupname,a.userinput,a.dateinput,a.useredit,a.dateedit
FROM
tbset_userlevel a 
LEFT JOIN tbset_usergroup b 
ON 
a.usergroupid=b.usergroupid;
GO
