USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_promo_historical_approval]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_promo_historical_approval]
AS
select c.Id PromoId
,c.CreateBy [Initiator]
,a.RequestId,a.[Status]
,a.RequestDate
,b.CreateOn FirstRequestDate
,a.ActionDate
,a.UserApprover
,a.Sequence 
,b.totinvest
,b.totsales
,b.Notes
,a.Notes ApprovalNotes
,b.ActivityDesc
from tbtrx_promo_approval a
inner join tbtrx_promo_request_approval b on a.RequestId=b.Id
inner join tbtrx_promo c on b.parentid=c.id
where a.[Status] <> 'TP1'




GO
