USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_historical_approval]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_historical_approval]
AS

SELECT 
A.RequestId
,A.Sequence
,TPP.Id
,TPP.AllocationId
,TPP.RefId [Promo No]
,R.ActivityDesc
,R.Notes
,A.Notes ApprovalNotes
,TPP.CreateOn [Entry Date]
,TPP.CreateBy [Initiator]
,IIF(isnull(TPP.period, '') >= 2025, tpp.period, bdg.Periode) [Budget Periode]
,A.RequestDate [Request Date]
,A.ActionDate [Action Date]
,R.CreateOn ReviseDate
,A.UserApprover [Approver Id]
,t.username [Approver UserName]
,R.TotInvest [Invest Value]
,R.TotSales [Sales Value]
, CASE 
WHEN A.[Status]='TP2' THEN 'Approve by ' + t.username
WHEN A.[Status]='TP3' THEN 'Sendback by ' + t.username
WHEN A.[Status]='TP1' THEN 'Waiting for ' + t.username
END
[Action]
,
CASE WHEN A.ActionDate >= A.RequestDate THEN
CASE WHEN
	DATEDIFF(day,A.RequestDate,A.ActionDate) 
	-(DATEDIFF(wk, A.RequestDate,A.ActionDate) * 2)
	-(CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
	-(CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
	< 0 
	THEN 
		0
	ELSE
	DATEDIFF(day,A.RequestDate,A.ActionDate) 
	-(DATEDIFF(wk, A.RequestDate,A.ActionDate) * 2)
	-(CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
	-(CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 

	END
ELSE
	CASE WHEN isnull(R.IsCancel,0)=0 THEN
	DATEDIFF(day,A.RequestDate,getdate()) 
	-(DATEDIFF(wk, A.RequestDate,getdate()) * 2)
	-(CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END)
	-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END) 

	ELSE
		0
	END
END
Aging
,1 Agingpenyebut --,IIF(A.ActionDate > A.RequestDate, 1, 0) Agingpenyebut

FROM  tbtrx_promo TPP
LEFT JOIN tbtrx_budgetmaster BDG WITH (NOLOCK) ON  BDG.Id=TPP.BudgetMasterId
LEFT JOIN tbtrx_promo_request_approval R ON TPP.Id=R.ParentId 
LEFT JOIN tbtrx_promo_approval A ON R.Id=A.RequestId 
INNER JOIN tbset_user t on A.UserApprover=t.Id	
WHERE isnull(TPP.IsCancel,0)=0 --AND A.[IsOnGoing] =1


UNION ALL

SELECT 
	  RequestId
	  ,0 Sequence
	  ,[PromoId] Id
      ,[AllocationId]
      ,[Promo No]
	  ,ActivityDesc
	  ,Notes
	  ,ApprovalNotes
      ,[Entry Date]
	  ,[Initiator]
      ,[Budget Periode]
      ,[SendbackDate] [Request Date]
      ,[ResubmitDate] [Action Date]
	  ,[ResubmitDate] [ReviseDate]     
      ,[Initiator] [Approver Id]
	  ,Initiatorname [Approver UserName]
      ,[totinvest] [Invest Value]
      ,[totsales] [Sales Value]
      ,[Action]
      ,[Aging]
      ,1 Agingpenyebut
  FROM [dbo].[vw_promo_historical_sendback]

  UNION ALL

 SELECT 
	  RequestId
	  ,0 Sequence
	  ,[PromoId] Id
      ,[AllocationId]
      ,[Promo No]
	  ,ActivityDesc
	  ,Notes
	  ,ApprovalNotes
      ,[Entry Date]
	  ,[Initiator]
      ,[Budget Periode]
      ,[SendbackDate] [Request Date]
      ,[ResubmitDate] [Action Date]
	  ,[ResubmitDate] [ReviseDate]     
      ,[Initiator] [Approver Id]
	  ,Initiatorname [Approver UserName]
      ,[totinvest] [Invest Value]
      ,[totsales] [Sales Value]
      ,[Action]
      ,[Aging]
	  ,0 Agingpenyebut
  FROM [dbo].[vw_promo_pending_submit]

GO
