USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_user_profile_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_user_profile_lp]
	AS select tul.id, tul.username, tul.email, tul.contactinfo, tul.registered, tul.password_change, tul.userinput, tul.dateinput, tul.useredit
         , tul.dateedit, case when tul.isdeleted=0 then 'Active' else 'Inactive' end as status, tul.deletedby, tul.deletedon, tul.lastLogin, profileuser.profileuser
    from dbo.tbset_user_login tul
    left join 
        (
            select id, string_agg(profileid,', ') profileuser
                from tbset_user_login_profile a with (nolock)
                GROUP BY a.id
        ) profileuser
    on tul.Id = profileuser.id
GO
