USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_vs_channel]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_vs_channel]
as
SELECT chn.Id,LongDesc,AlcId from tbmst_channel chn
LEFT JOIN
(
	SELECT * FROM
	(
	SELECT ChannelId
	,AlcId
	,numofchannel
	,MIN(numofchannel) OVER(PARTITION BY ChannelId) minlevel
	FROM
	(
		SELECT 
		chn.ChannelId
		,alc.Id AlcId
		,COUNT(ChannelId) OVER(PARTITION BY alc.Id) numofchannel 
		FROM tbtrx_allocation alc
		left join tbtrx_allocation_channel chn on alc.Id=chn.AllocationId
		where ChannelId is not null 

	)x 
	)xx 
	inner join vw_budget_last_layer xxxx on xx.alcid=xxxx.Id
	where minlevel=numofchannel
)xxx on chn.Id=xxx.ChannelId


GO
