USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_promo_approval_his]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_promo_approval_his]
as
WITH Ranked AS
(
    SELECT
        T.*,
        rn = ROW_NUMBER() OVER (
            PARTITION BY T.PromoId
            ORDER BY T.Sequence)
    FROM 
	(
	select c.Id PromoId
	,a.Sequence		
	,a.UserApprover
	,a.UserApproverName 
	,a.UserApproverEmail
	,d.StatusDesc LastStatus 
	,IIF(a.Status='TP1',
		IIF(a.[Sequence] <>1, null, 
		CONVERT(VARCHAR(10),a.requestdate,120)), 
		CONVERT(VARCHAR(10),a.ActionDate,120)
	) ApprovalDate
	from tbtrx_promo_approval a with(nolock)
	inner join tbtrx_promo_request_approval b with(nolock) on a.RequestId=b.Id and b.IsCancel=0
	inner join tbtrx_promo c on b.ParentId=c.Id
	left join tbmst_master_status d on a.Status=d.StatusCode
	--where c.Id=2
	)
	
	 AS T
)
SELECT 
PromoId,
UserApprover1=MAX(CASE WHEN R.rn = 1 THEN R.UserApprover END),
UserApproverName1=MAX(CASE WHEN R.rn = 1 THEN R.UserApproverName END),
UserApproverEmail1=MAX(CASE WHEN R.rn = 1 THEN R.UserApproverEmail END),
LastStatus1=MAX(CASE WHEN R.rn = 1 THEN R.LastStatus END),
ApprovalDate1=MAX(CASE WHEN R.rn = 1 THEN R.ApprovalDate END),
UserApprover2=MAX(CASE WHEN R.rn = 2 THEN R.UserApprover END),
UserApproverName2=MAX(CASE WHEN R.rn = 2 THEN R.UserApproverName END),
UserApproverEmail2=MAX(CASE WHEN R.rn = 1 THEN R.UserApproverEmail END),
LastStatus2=MAX(CASE WHEN R.rn = 2 THEN R.LastStatus END),
ApprovalDate2=MAX(CASE WHEN R.rn = 2 THEN R.ApprovalDate END),
UserApprover3=MAX(CASE WHEN R.rn = 3 THEN R.UserApprover END),
UserApproverName3=MAX(CASE WHEN R.rn = 3 THEN R.UserApproverName END),
UserApproverEmail3=MAX(CASE WHEN R.rn = 1 THEN R.UserApproverEmail END),
LastStatus3=MAX(CASE WHEN R.rn = 3 THEN R.LastStatus END),
ApprovalDate3=MAX(CASE WHEN R.rn = 3 THEN R.ApprovalDate END),
UserApprover4=isnull(MAX(CASE WHEN R.rn = 4 THEN R.UserApprover END),''),
UserApproverName4=isnull(MAX(CASE WHEN R.rn = 4 THEN R.UserApproverName END),''),
UserApproverEmail4=MAX(CASE WHEN R.rn = 1 THEN R.UserApproverEmail END),
LastStatus4=isnull(MAX(CASE WHEN R.rn = 4 THEN R.LastStatus END),''),
ApprovalDate4=MAX(CASE WHEN R.rn = 4 THEN R.ApprovalDate END),
--ApprovalDate4=isnull(MAX(CASE WHEN R.rn = 4 THEN R.ApprovalDate END),''),
UserApprover5=isnull(MAX(CASE WHEN R.rn = 5 THEN R.UserApprover END),''),
UserApproverName5=isnull(MAX(CASE WHEN R.rn = 5 THEN R.UserApproverName END),''),
UserApproverEmail5=MAX(CASE WHEN R.rn = 1 THEN R.UserApproverEmail END),
LastStatus5=isnull(MAX(CASE WHEN R.rn = 5 THEN R.LastStatus END),''),
ApprovalDate5=MAX(CASE WHEN R.rn = 5 THEN R.ApprovalDate END)
--ApprovalDate5=isnull(MAX(CASE WHEN R.rn = 5 THEN R.ApprovalDate END),'')
FROM Ranked AS R
group by R.PromoId;
GO
