USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_dashboard]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_dashboard]
as
SELECT 
	/********BUDGET*********/
	h.Id
	,h.RefId
	,h.LongDesc BudgetDesc
	,h.Periode
	,p.Id EntityId
	,p.LongDesc EntityDesc
	,ctg.LongDesc CategoryDesc
	,chn.ChannelId
	,chn.ChannelDesc
	,acc.AccountId
	,acc.AccountDesc
	,d.BudgetAmount
	,d.SubCategoryId
	/***********************/

	/*********PROMO********/
	,pr.Id PromoId
	,pr.RefId PromorefId
	,pr.Investment
	,pr.CreateOn PromoCreationDate
	,pr.StartPromo
	,pr.EndPromo
	,pr.CreateBy PromoInitiator
	,appr.[Status]
	,appr.UserApprover
	,pr.StatusApprovalCode
	,pr.ApproveOn
	,pr.IsCancel
	/*********************/

	/*********DN**********/
	,dn.TotalClaim
	,dn.TotalPaid
	,dn.CreateOn DNCreationDate
	/*********************/

from tbtrx_allocation h
inner join tbtrx_allocation_detail d on d.AllocationId=h.Id
inner join tbtrx_budgetmaster m on h.BudgetMasterId=m.Id
inner join tbmst_distributor dis on m.DistributorId=dis.Id
inner join tbmst_principal p on m.PrincipalId=p.Id
inner join tbmst_subcategory ctg on d.SubCategoryId=ctg.Id

/************PROMO************/
left join tbtrx_promo pr 
	on d.AllocationId=pr.AllocationId and d.SubCategoryId=pr.SubCategoryId
left join tbtrx_promo_request_approval appr_req
	on pr.Id=appr_req.ParentId and appr_req.IsCancel=0
left join tbtrx_promo_approval appr
	on appr.RequestId=appr_req.Id and IsOnGoing=1
/*****************************/

/*******DN CLAIM************/
LEFT JOIN tbtrx_debetnote dn
	on pr.Id=dn.PromoId	
/***************************/

LEFT join
	(
		select AllocationId,
		STUFF(
				(select ',' + CAST(chn.Id as varchar) 
					from tbtrx_allocation_channel a
					join tbmst_channel chn
					ON a.ChannelId=chn.Id
					where a.AllocationId=b.AllocationId
					FOR XML PATH ('')),1,1,'') AS ChannelId
		,STUFF(
				(select ',' + chn.LongDesc
					from tbtrx_allocation_channel a
					join tbmst_channel chn
					ON a.ChannelId=chn.Id
					where a.AllocationId=b.AllocationId
					FOR XML PATH ('')),1,1,'') AS ChannelDesc
			FROM tbtrx_allocation_channel b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
	) chn
	on h.Id = chn.AllocationId

	LEFT join
	(
		select AllocationId,
		STUFF(
				(select ',' + CAST(acc.Id as varchar) 
					from tbtrx_allocation_account a
					join tbmst_account acc
					ON a.AccountId=acc.Id
					where a.AllocationId=b.AllocationId
					FOR XML PATH ('')),1,1,'') AS AccountId
		,STUFF(
				(select ',' + CAST(acc.LongDesc as varchar) 
					from tbtrx_allocation_account a
					join tbmst_account acc
					ON a.AccountId=acc.Id
					where a.AllocationId=b.AllocationId
					FOR XML PATH ('')),1,1,'') AS AccountDesc
			FROM tbtrx_allocation_account b INNER JOIN tbtrx_allocation ON Id=AllocationId  GROUP BY AllocationId
	) acc
	on h.Id = acc.AllocationId



			




GO
