

/****** Object:  View [dbo].[vwhlp_promo_brand]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vwhlp_promo_brand] as
select PromoId, string_agg(brd.LongDesc,' ,') BrandDesc
                            from tbtrx_promo_brand a with (nolock)
                            INNER join tbmst_brand brd with (nolock) ON a.brandid=brd.Id
                    GROUP BY a.PromoId
GO
