

/****** Object:  View [dbo].[vw_map_subaccount_blitz]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_map_subaccount_blitz] AS

SELECT        
		t.Id, 
	    c.Id			AS channelId,
		c.LongDesc		AS channel,
		a.SubChannelId	AS subChannelId,
		sc.LongDesc		AS subChannel,
		sa.AccountId	AS accountId, 
		a.LongDesc		AS account,
		t.subAccountid	AS subAccountId, 
		sa.LongDesc		AS subAccount,
		t.sapcode		AS sapCode
		
	FROM            
		tbset_map_subaccount_sap t INNER JOIN
		tbmst_subaccount sa ON sa.id = t.subaccountid INNER JOIN
		tbmst_account a ON a.id = sa.AccountId INNER JOIN
		tbmst_subchannel sc ON sc.Id = a.SubChannelId INNER JOIN
		tbmst_channel c ON c.id=sc.channelid;
GO
