USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_contractual_tt]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_contractual_tt] as

	SELECT 
	a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
	, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
	, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
	, a.activityid, c.ActivityDesc, a.subactivityId, c.SubActivityDesc
	, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' ', d.SubAccountDesc, ' ', c.ActivityDesc ) budgetname
	, a.tt, b.ssvalue 
	, round(a.tt*b.ssvalue/100,0) budgetamount
	, SUM(ISNULL(g.cost,0)) TotCost
	, round(a.tt*b.ssvalue/100,0) - SUM(ISNULL(g.cost,0)) RemainingBudget

	FROM tbtrx_ss_tt a
	LEFT JOIN (
		SELECT 
				a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
				FROM tbtrx_ss_volume a
				INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subChannelId AND a.groupbrandid=b.groupbrandid
				--WHERE 
				--	a.period= 2024
				--	AND a.channelid = 2
				--	AND a.subchannelid = 2
				--	AND a.accountid = 3
				--	AND a.subaccountid = 2
				--	AND a.groupbrandid = 1
				GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND a.channelid = b.channelid
			AND a.subchannelid = b.subchannelid
			AND a.accountid = b.accountid
			AND a.subaccountid = b.subaccountid
			AND a.groupbrandid = b.groupbrandid
	LEFT JOIN (
		SELECT DISTINCT a.id CategoryId, a.longdesc CategoryDesc, b.id SubCategoryId, b.LongDesc SubCategoryDesc, c.id ActivityId, c.longdesc ActivityDesc, d.id SubActivityId, d.longdesc SubActivityDesc
			FROM tbmst_category a
			INNER JOIN tbmst_subcategory b ON a.Id=b.CategoryId
			INNER JOIN tbmst_activity c ON b.Id=c.SubCategoryId
			INNER JOIN tbmst_subactivity d ON c.Id=d.ActivityId
			INNER JOIN tbmst_subactivity_type e ON d.SubActivityTypeId = e.Id
		)c ON
			a.subactivityid=c.subActivityId
	LEFT JOIN vw_account d ON a.subaccountid=d.SubAccountId
	LEFT JOIN tbmst_distributor e ON a.distributorId=e.Id
	LEFT JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
	LEFT JOIN (
		SELECT a.CategoryId, a.SubCategoryId, a.ActivityId, a.StartPromo, b.ChannelId, c.SubChannelId, d.AccountId, e.SubAccountId, f.groupbrandid, f.distributorid, f.Cost  from tbtrx_promo a
			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
			INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
			INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
			INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
		) g ON 
			a.period=YEAR(g.StartPromo)
			AND a.categoryid=g.categoryid
			AND a.subcategoryid=g.subcategoryid
			AND a.channelid=g.channelid
			AND a.subchannelid=g.subchannelid
			AND a.accountid=g.accountid
			AND a.subaccountid=g.subchannelid
			AND a.distributorId=g.distributorid
			AND a.groupbrandid=g.groupbrandid
			AND a.activityid=g.activityid
	WHERE c.CategoryDesc='Retailer Cost'
	GROUP BY 	
		a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
		, a.channelid, d.ChannelDesc, a.subchannelid, d.SubChannelDesc, a.accountid, d.AccountDesc, a.subaccountid, d.SubAccountDesc
		, a.distributorId, e.ShortDesc , a.groupbrandid, f.LongDesc 
		, a.activityid, c.ActivityDesc, a.subactivityId, c.SubActivityDesc
		, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' ', d.SubAccountDesc, ' ', c.ActivityDesc ) 
		, a.tt, b.ssvalue 
		, round(a.tt*b.ssvalue/100,0) 

UNION ALL

	SELECT 
	a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
	, a.channelid, d.LongDesc ChannelDesc, a.subchannelid, '' SubChannelDesc, a.accountid, '' AccountDesc, a.subaccountid, '' SubAccountDesc
	, a.distributorId, e.ShortDesc Distributor, a.groupbrandid, f.LongDesc Brand
	, a.activityid, c.ActivityDesc, a.subactivityId, c.SubActivityDesc
	, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' ', d.LongDesc, ' ', c.ActivityDesc ) budgetname
	, a.tt, b.ssvalue 
	, round(a.tt*b.ssvalue/100,0) budgetamount
	, SUM(ISNULL(g.cost,0)) TotCost
	, round(a.tt*b.ssvalue/100,0) - SUM(ISNULL(g.cost,0)) RemainingBudget

	FROM tbtrx_ss_tt a
	LEFT JOIN (
		SELECT 
				a.period, a.distributorid, a.groupbrandid
				,ISNULL(a.m1,0) + ISNULL(a.m2,0) + ISNULL(a.m3,0) + ISNULL(a.m4,0) + ISNULL(a.m5,0) + ISNULL(a.m6,0) + ISNULL(a.m7,0) + ISNULL(a.m8,0) + ISNULL(a.m9,0) + ISNULL(a.m10,0) + ISNULL(a.m11,0) + ISNULL(a.m12,0) ssvalue
				FROM tbtrx_ps_value a
				--WHERE 
				--	a.period= 2024
				--	AND a.channelid = 2
				--	AND a.subchannelid = 2
				--	AND a.accountid = 3
				--	AND a.subaccountid = 2
				--	AND a.groupbrandid = 1
				--GROUP BY a.period, a.distributorid, a.groupbrandid
		)b ON 
			a.period = b.period
			AND a.distributorId = b.distributorid
			AND a.groupbrandid = b.groupbrandid
	LEFT JOIN (
		SELECT DISTINCT a.id CategoryId, a.longdesc CategoryDesc, b.id SubCategoryId, b.LongDesc SubCategoryDesc, c.id ActivityId, c.longdesc ActivityDesc, d.id SubActivityId, d.longdesc SubActivityDesc
			FROM tbmst_category a
			INNER JOIN tbmst_subcategory b ON a.Id=b.CategoryId
			INNER JOIN tbmst_activity c ON b.Id=c.SubCategoryId
			INNER JOIN tbmst_subactivity d ON c.Id=d.ActivityId
			INNER JOIN tbmst_subactivity_type e ON d.SubActivityTypeId = e.Id
		)c ON
			a.subactivityid=c.subActivityId
	LEFT JOIN tbmst_channel d ON a.channelid=d.Id
	LEFT JOIN tbmst_distributor e ON a.distributorId=e.Id
	LEFT JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
	LEFT JOIN (
		SELECT a.CategoryId, a.SubCategoryId, a.ActivityId, a.StartPromo, b.ChannelId, f.groupbrandid, f.distributorid, f.Cost  from tbtrx_promo a
			INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
			INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
		) g ON 
			a.period=YEAR(g.StartPromo)
			AND a.categoryid=g.categoryid
			AND a.subcategoryid=g.subcategoryid
			AND a.channelid=g.channelid
			AND a.distributorId=g.distributorid
			AND a.groupbrandid=g.groupbrandid
			AND a.activityid=g.activityid
	WHERE c.CategoryDesc='Distributor Cost'
	GROUP BY 	
		a.period, a.categoryid, c.CategoryDesc, a.subcategoryid, c.SubCategoryDesc
		, a.channelid, d.LongDesc, a.subchannelid, a.accountid, a.subaccountid
		, a.distributorId, e.ShortDesc , a.groupbrandid, f.LongDesc 
		, a.activityid, c.ActivityDesc, a.subactivityId, c.SubActivityDesc
		, CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' ', d.LongDesc, ' ', c.ActivityDesc ) 
		, a.tt, b.ssvalue 
		, round(a.tt*b.ssvalue/100,0) 

GO
