USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_vs_subcategory]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_vs_subcategory]
as
select distinct sub.Id,sub.LongDesc,alc.AllocationId 
from tbmst_subcategory sub
left join tbtrx_allocation_detail alc on sub.Id=alc.SubCategoryId
GO
