USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_vs_user]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_vs_user]
as
select usr.Id,username,alc.AllocationId 
from tbset_user usr
left join tbtrx_allocation_useraccess alc on usr.id=alc.UserId 
GO
