USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_map_sku_blitz]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_map_sku_blitz] AS
SELECT        
		t.Id, 
		p.PrincipalId AS EntityId, 
		pr.LongDesc AS Entity, 
		p.BrandId, 
		b.LongDesc  AS Brand, 
		t.ProductId As SKUId, 
		p.LongDesc  AS SKU, 
		p.IsActive, 
		t.CreateOn, 
		t.CreateBy, 
		t.CreatedEmail, 
		t.SAPCode
	FROM            
		tbset_map_product_sap t 
		INNER JOIN tbmst_product   p  ON t.ProductId = p.Id 
		INNER JOIN tbmst_principal pr ON p.PrincipalId = pr.Id 
		INNER JOIN tbmst_brand     b  ON p.BrandId = b.Id;
GO
