USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_promo_pending_submit]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_promo_pending_submit]
as
SELECT 
X.NextRequestId RequestId
,X.Sequence
,PromoId 
,AllocationId
,[Promo No]
,[Entry Date]
,[Budget Periode]
,ActionDate as SendbackDate 
--,ActionDate as ResubmitDate
,null as ResubmitDate
,UserApprover SendbackBy
,[Initiator]
,t.username InitiatorName
,totinvest
,totsales
,'Waiting for ' + CAST([Initiator] as varchar) as [Action]
,

DATEDIFF(day,ActionDate,getdate()) 
-(DATEDIFF(wk, ActionDate,getdate()) * 2)
-(CASE WHEN DATENAME(dw, ActionDate) = 'Sunday' THEN 1 ELSE 0 END)
-(CASE WHEN DATENAME(dw, getdate()) = 'Saturday' THEN 1 ELSE 0 END)

Aging,
[Status],
Notes,
ApprovalNotes,
ActivityDesc
FROM
(
SELECT
PromoId
,pr.AllocationId
,pr.RefId [Promo No]
,pr.CreateOn [Entry Date]
,IIF(isnull(pr.period, '') >= 2025, pr.period, bdg.Periode) [Budget Periode]
,[Initiator]
,LAG(p.[UserApprover]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) UserApprover
,LAG(p.[Status]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) PreviousStatus
,LAG(p.[ActionDate]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) PreviousActionDate
,LEAD(p.[UserApprover]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) NextApprover
,LEAD(p.[Status]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) NextStatus
,LEAD(p.[ActionDate]) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) NextActionDate
,p.RequestDate,p.ActionDate,p.[Status]
,p.RequestId
,LEAD(p.RequestId) OVER (PARTITION BY pr.Id ORDER BY p.RequestId) NextRequestId
,p.FirstRequestDate
,p.Sequence
,p.totinvest
,p.totsales
,p.Notes
,p.ApprovalNotes
,p.ActivityDesc
FROM vw_promo_historical_approval p 
inner join tbtrx_promo pr on p.PromoId=pr.Id
left JOIN tbtrx_budgetmaster bdg WITH (NOLOCK) ON  bdg.Id=pr.BudgetMasterId
WHERE isnull(pr.IsCancel,0)=0

) X 
INNER JOIN tbset_user t on x.[Initiator]=t.Id	
WHERE [Status]='TP3' AND NextStatus is null


GO
