USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_activity_active]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_activity_active] AS
SELECT        
	c.Id AS CategoryId, c.LongDesc AS CategoryDesc, s.Id AS SubCategoryId, s.LongDesc AS SubCategoryDesc, ac.Id AS ActivityId, ac.LongDesc AS ActivityDesc, sact.Id AS SubActivityId, sact.LongDesc AS SubActivityDesc
	, sactt.Id AS SubActivityTypeId, sactt.LongDesc AS SubActivityTypeDesc
FROM dbo.tbmst_category AS c 
	INNER JOIN
    dbo.tbmst_subcategory AS s ON c.Id = s.CategoryId 
	INNER JOIN
    dbo.tbmst_activity AS ac ON s.Id = ac.SubCategoryId 
	INNER JOIN
    dbo.tbmst_subactivity AS sact ON sact.ActivityId = ac.Id 
	INNER JOIN
    dbo.tbmst_subactivity_type AS sactt ON sact.SubActivityTypeId = sactt.Id 
WHERE
	ISNULL(c.IsDeleted, 0)=0 
	AND ISNULL(s.IsDeleted , 0)=0
	AND ISNULL(ac.IsDeleted , 0)=0
	AND ISNULL(sact.IsDeleted , 0)=0
	AND ISNULL(sactt.IsDeleted, 0)=0
GO
