USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_aging_detail]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_aging_detail] as
SELECT        RequestId, PromoId, AllocationId, RefId PromoNumber, ChannelDesc Channel, AccountDesc Account, CreateBy, Activity, SubActivity, StartPromo, EndPromo, PeriodePromo, ActivityDesc, LastStatus, Mechanisme1, Mechanisme2,
                          Mechanisme3, Mechanisme4, TotInvest, TotSales, AGING, AGING - (ISNULL([1], 0) + ISNULL([2], 0) + ISNULL([3], 0) + ISNULL([4], 0) + ISNULL([5], 0)) [Initiator], ISNULL([1], 0) [Approver1], ISNULL([2], 0) [Approver2], ISNULL([3], 0) 
                         [Approver3], ISNULL([4], 0) [Approver4], ISNULL([5], 0) [Approver5], approver, CreateOn
              ,(CASE WHEN AGING - (ISNULL([1], 0) + ISNULL([2], 0) + ISNULL([3], 0) + ISNULL([4], 0) + ISNULL([5], 0)) > 0 THEN 1 ELSE 0 END) + (CASE WHEN ISNULL([1], 0) > 0 THEN 1 ELSE 0 END) + (CASE WHEN ISNULL([2], 0) > 0 THEN 1 ELSE 0 END) + (CASE WHEN ISNULL([3], 0) > 0 THEN 1 ELSE 0 END) + (CASE WHEN ISNULL([4], 0) > 0 THEN 1 ELSE 0 END) + (CASE WHEN ISNULL([5], 0) > 0 THEN 1 ELSE 0 END) penyebut
FROM            (
SELECT        
	R.Id RequestId, R.CreateOn RequestDate, TPP.RefId, TPP.Id PromoId, TPP.AllocationId, TPP.StatusApprovalCode, AccountDesc, ChannelDesc, TPP.CreateOn, 
		iif( 
			DateDiff(day, R.CreateOn, ISNULL(f.CreateOn, IIF(TPP.StatusApprovalCode = 'TP2', bff.LastActionDate, getdate()))) 
			- (DATEDIFF(wk, R.CreateOn, ISNULL(f.CreateOn, IIF(TPP.StatusApprovalCode = 'TP2', bff.LastActionDate, getdate()))) * 2) 
			- (CASE WHEN DATENAME(dw, R.CreateOn) = 'Sunday' THEN 1 ELSE 0 END) 
			- (CASE WHEN DATENAME(dw, ISNULL(f.CreateOn, IIF(TPP.StatusApprovalCode = 'TP2', bff.LastActionDate, getdate()))) = 'Saturday' THEN 1 ELSE 0 END) < 0
			, 0
			, DateDiff(day, R.CreateOn, ISNULL(f.CreateOn, IIF(TPP.StatusApprovalCode = 'TP2', bff.LastActionDate, getdate()))) 
			- (DATEDIFF(wk, R.CreateOn, ISNULL(f.CreateOn, IIF(TPP.StatusApprovalCode = 'TP2', bff.LastActionDate, getdate()))) * 2) 
			- (CASE WHEN DATENAME(dw, R.CreateOn) = 'Sunday' THEN 1 ELSE 0 END) 
			- (CASE WHEN DATENAME(dw, ISNULL(f.CreateOn, IIF(TPP.StatusApprovalCode = 'TP2', bff.LastActionDate, getdate()))) = 'Saturday' THEN 1 ELSE 0 END) ) AGING

	, TPP.CreateBy, TPP.LastStatus, act.LongDesc Activity, sact.LongDesc SubActivity
	, CONVERT(VARCHAR(11), TPP.StartPromo, 106) StartPromo
	, CONVERT(VARCHAR(11), TPP.EndPromo, 106) EndPromo
	, CONVERT(VARCHAR(11), TPP.StartPromo, 106) + ' to ' + CONVERT(VARCHAR(11), TPP.EndPromo, 106) AS PeriodePromo
	, TPP.ActivityDesc ActivityDesc, mechanism.mechanism Mechanisme1, TPP.Mechanisme2, TPP.Mechanisme3, TPP.Mechanisme4, R.TotInvest, R.TotSales, R.ParentId, A.Sequence, ff.FirstRequestDate
	, bff.LastActionDate, apr.approver
	, CASE 
		WHEN isnull(R.IsCancel, 0) = 1 THEN 
			CASE 
				WHEN A.IsOnGoing = 0 THEN 
					CASE 
						WHEN A.[Status] = 'TP1' THEN 0 
						WHEN A.[Status] = 'TP2' THEN IIF(A.RequestDate = A.ActionDate, 0, 
							CASE 
								WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) = 0 THEN 0 
								ELSE 
									iif(
											DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
											- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
											- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0
											, 0 
											, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
											- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
											- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END)
											)
								END)
						WHEN A.[Status] = 'TP3' THEN 
							CASE 
								WHEN DATEDIFF(day, A.RequestDate, A.ActionDate) = 0 THEN 0 
								ELSE 
									IIF(
										DATEDIFF(day, A.RequestDate, A.ActionDate) - (DATEDIFF(wk, A.RequestDate, A.ActionDate) * 2) 
											- (CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
										, 0 
										, DATEDIFF(day, A.RequestDate, A.ActionDate) 
											- (DATEDIFF(wk, A.RequestDate, A.ActionDate) * 2) 
											- (CASE WHEN DATENAME(dw, A.RequestDate) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
										) 
								END 
						END 
				WHEN A.IsOnGoing = 1 THEN 
					CASE 
						WHEN A.[Status] = 'TP1' THEN 
							CASE 
								WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), F.CreateOn) = 0 THEN 0 
								ELSE 
									IIF(
										DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), F.CreateON)
											- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), f.CreateOn) * 2) 
											- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, f.CreateOn) = 'Saturday' THEN 1 ELSE 0 END) < 0 
										, 0 
										, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), F.CreateON) 
											- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), f.CreateOn) * 2) 
											- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, f.CreateOn) = 'Saturday' THEN 1 ELSE 0 END) 
										) 
								END 
						WHEN A.[Status] = 'TP3' THEN 
							CASE 
								WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) = 0 THEN 0 
								ELSE 
									IIF(
										DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
											- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
											- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
										, 0 
										, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
											- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
											- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
											- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
										) 
									END 
						END 
				END 
		WHEN ISNULL(R.IsCancel, 0) = 0 THEN 
			CASE 
				WHEN A.IsOnGoing = 0 THEN 
					CASE 
						WHEN A.[Status] = 'TP1' THEN 
							CASE 
								WHEN A.ActionDate >= A.RequestDate THEN 
									CASE 
										WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) = 0 THEN 0 
										ELSE 
											IIF(
												DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
												, 0 
												, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
												)
										END 
								WHEN A.ActionDate < A.RequestDate THEN 0 
								END 
						WHEN A.[Status] = 'TP2' THEN 
							IIF(A.RequestDate = A.ActionDate, 0, 
								CASE 
									WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) = 0 THEN 0 
									ELSE 
											IIF(
												DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
												, 0 
												, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
												)
									END) ---<<<<<<
						WHEN A.[Status] = 'TP3' THEN 
							CASE 
								WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) = 0 THEN 0 
								ELSE 
											IIF(
												DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
												, 0 
												, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
												)
								END 
						END 
				WHEN A.IsOnGoing = 1 THEN 
					CASE 
						WHEN A.[Status] = 'TP1' THEN 
							IIF(
								DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
												, 0 
												, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
								)

						WHEN A.[Status] = 'TP3' THEN 
							CASE 
								WHEN DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) = 0 THEN 0 
								ELSE 
											IIF(
												DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) < 0 
												, 0 
												, DATEDIFF(day, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) 
													- (DATEDIFF(wk, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate), A.ActionDate) * 2) 
													- (CASE WHEN DATENAME(dw, IIF(R.CreateOn > A.RequestDate, R.CreateOn, A.RequestDate)) = 'Sunday' THEN 1 ELSE 0 END) 
													- (CASE WHEN DATENAME(dw, A.ActionDate) = 'Saturday' THEN 1 ELSE 0 END) 
												)
								END 
						END 
				END 
		END VARIANT
FROM
	tbtrx_promo TPP 
    inner join
    (
        select PromoId, string_agg(concat(a.mechanism, ' ', a.notes),'; ') mechanism
                    from tbtrx_promo_mechanism a with (nolock)
            GROUP BY a.PromoId
    ) mechanism on TPP.Id = mechanism.PromoId   
	
	LEFT JOIN	tbtrx_promo_request_approval R ON TPP.Id = R.ParentId /*AND isnull(R.IsCancel,0)=0*/ 
	INNER JOIN	tbtrx_promo_approval A ON R.id = A.RequestId 
	OUTER Apply (
		SELECT TOP 1 T2.CreateOn FROM tbtrx_promo_request_approval T2
        WHERE T2.ParentId = R.ParentId AND T2.Id > R.Id
		ORDER BY T2.Id ASC) f 
	OUTER Apply (
		SELECT TOP 1 TT2.ActionDate FROM tbtrx_promo_approval TT2
		WHERE TT2.REQUESTID = A.REQUESTID AND TT2.SEQUENCE < A.SEQUENCE
		ORDER BY TT2.SEQUENCE DESC) bf 
	OUTER Apply (
		SELECT MIN(TT2.RequestDate) FirstRequestDate FROM tbtrx_promo_approval TT2
		WHERE TT2.REQUESTID = A.REQUESTID) ff 
	OUTER Apply (
		SELECT        MAX(TT2.ActionDate) LastActionDate
        FROM            tbtrx_promo_approval TT2
        WHERE        TT2.REQUESTID = A.REQUESTID) bff 
	INNER JOIN	tbmst_subactivity sact ON tpp.SubActivityId = sact.Id 
	INNER JOIN	tbmst_activity act ON act.Id = sact.ActivityId 
	LEFT JOIN (
		SELECT        RequestId, STUFF
				((SELECT        ',' + QUOTENAME(Sequence) + QUOTENAME(u.username)
				FROM            tbtrx_promo_approval a WITH (nolock) 
				JOIN	tbset_user u WITH (nolock) ON a.UserApprover = u.Id
				WHERE        a.RequestId = b.RequestId FOR XML PATH, TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, '') AS approver
		FROM            tbtrx_promo_approval b 
		INNER JOIN	tbtrx_promo_request_approval WITH (nolock) ON Id = RequestId
		GROUP BY RequestId) apr ON R.Id = apr.RequestId 
	LEFT JOIN (
		SELECT        PromoId, STUFF
				((SELECT        ',' + chn.LongDesc
				FROM            tbtrx_promo_account a WITH (nolock) 
				JOIN tbmst_account chn WITH (nolock) ON a.AccountId = chn.Id
				WHERE        a.PromoId = b.PromoId FOR XML PATH, TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, '') AS AccountDesc
            FROM            tbtrx_promo_account b WITH (nolock) 
			INNER JOIN tbtrx_promo WITH (nolock) ON Id = PromoId
            GROUP BY PromoId) account ON TPP.Id = account.PromoId 
	LEFT JOIN (
		SELECT        PromoId, STUFF
				((SELECT        ',' + chn.LongDesc
                FROM            tbtrx_promo_channel a WITH (nolock) 
				JOIN tbmst_channel chn WITH (nolock) ON a.ChannelId = chn.Id
                WHERE        a.PromoId = b.PromoId FOR XML PATH, TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, '') AS ChannelDesc
		FROM            tbtrx_promo_channel b WITH (nolock) 
		INNER JOIN	tbtrx_promo WITH (nolock) ON Id = PromoId
		GROUP BY PromoId) channel ON TPP.Id = channel.PromoId
WHERE
	isnull(TPP.IsCancel, 0) = 0 
) X PIVOT (SUM(VARIANT) FOR Sequence IN ([1], [2], [3], [4], [5])) AS AGING;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_aging_detail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_aging_detail'
GO
