

/****** Object:  View [dbo].[vw_subchannel_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_subchannel_lp] AS

SELECT tc.id as ChannelId, tc.RefId as ChannelRefId, tc.LongDesc as ChannelLongDesc, tc.ShortDesc as ChannelShortDesc, 
	tsc.id as SubChannelId, tsc.RefId as SubChannelRefId, tsc.LongDesc as SubChannelLongDesc, tsc.ShortDesc as SubChannelShortDesc
FROM tbmst_subchannel tsc

	INNER JOIN tbmst_channel tc ON tsc.ChannelId = tc.Id 
WHERE ISNULL(tsc.IsDelete, 0) = 0 AND ISNULL(tc.IsDelete, 0) = 0;
GO
