USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vwhlp_promo_product]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vwhlp_promo_product] as
select PromoId, string_agg(sku.LongDesc,' ,') skuDesc
                            from tbtrx_promo_product a with (nolock)
                            INNER join tbmst_product sku with (nolock) ON a.ProductId=sku.Id
                    GROUP BY a.PromoId
GO
