

/****** Object:  View [dbo].[vw_listing_promo_planning]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_listing_promo_planning] as 
SELECT 
		pr.Periode
		,pr.refId
		,pr.TsCode
		,p.LongDesc Entity
		,d.LongDesc Distributor
		,sctg.LongDesc [SubCategory]
		,act.LongDesc [Activity]
		,sact.LongDesc [SubActivity]
		,pr.ActivityDesc	
		,region.RegionDesc
		,channel.ChannelDesc				
		,subchannel.SubChannelDesc 
		,account.AccountDesc
		,subaccount.SubAccountDesc
		,brand.BrandDesc
		,sku.SKUDesc
		,concat(
			isnull(pr.Mechanisme1,'') 
			, iif(isnull(pr.Mechanisme2,'')='','', concat(', ', pr.Mechanisme2))
			, iif(isnull(pr.Mechanisme3,'')='','', concat(', ', pr.Mechanisme3))
			, iif(isnull(pr.Mechanisme4,'')='','', concat(', ', pr.Mechanisme4))
			) as Mechanism
		,pr.StartPromo
		,pr.EndPromo
		,pr.NormalSales
		,pr.IncrSales
		,pr.Investment
		,iif(isnull(pr.Investment,0)=0,0,(pr.IncrSales-pr.Investment)/pr.Investment) as Roi	
		,pr.CostRatio
		,pr.CreateBy [Initiator]
		,pr.CreateOn [CreateOn]
		,IIF(pr.IsCancel=1, 'Cancelled by ' + CAST(pr.CancelBy as varchar) + '-' + CAST(uo.username as varchar) + ' on ' + CAST(pr.CancelOn as varchar), IIF(isnull(pr.tscode, '')='', 'waiting for approval', 'approved')) LastStatus 
		,isnull(promo.RefId,'') PromoNumber
		,isnull(pr.CancelNotes,'') CancelNotes
	FROM tbtrx_promo_planning pr 
				left join tbset_user uo on uo.Id=pr.CancelBy --LUK 2020-06-17
				left join tbtrx_promo promo on pr.Id=promo.PromoPlanId and pr.tscode=promo.TsCoding
				inner join tbmst_distributor d with (nolock) on pr.DistributorId=d.Id
				inner join tbmst_principal p with (nolock) on pr.EntityId=p.Id
				inner join tbmst_subcategory sctg on pr.SubCategoryId=sctg.id
				inner join tbmst_activity act on pr.ActivityId=act.id
				inner join tbmst_subactivity sact on pr.SubActivityId=sact.id	
				inner join
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_planning_channel a with (nolock)
										join tbmst_channel chn with (nolock)
										ON a.ChannelId=chn.Id and a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS ChannelDesc
								FROM tbtrx_promo_planning_channel b INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId  GROUP BY PromoPlanId
						) channel
						on pr.Id = channel.PromoPlanId

				inner join
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + subchn.LongDesc 
										from tbtrx_promo_planning_subchannel a with (nolock)
										join tbmst_subchannel subchn with (nolock)
										ON a.SubChannelId=subchn.Id AND a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubChannelDesc
								FROM tbtrx_promo_planning_subchannel b INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId  GROUP BY PromoPlanId
						) subchannel
						on pr.Id = subchannel.PromoPlanId

				left join
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + reg.LongDesc 
										from tbtrx_promo_planning_region a with (nolock)
										join tbmst_region reg with (nolock)
										ON a.RegionId=reg.Id AND a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS RegionDesc
								FROM tbtrx_promo_planning_region b INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId  GROUP BY PromoPlanId
						) region
						on pr.Id = region.PromoPlanId
				inner join
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_planning_account a with (nolock)
										join tbmst_account chn with (nolock)
										ON a.AccountId=chn.Id AND a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS AccountDesc
								FROM tbtrx_promo_planning_account b with (nolock) INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId  GROUP BY PromoPlanId
						) account
						on pr.Id = account.PromoPlanId
				inner join
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + chn.LongDesc 
										from tbtrx_promo_planning_subaccount a with (nolock)
										join tbmst_subaccount chn with (nolock)
										ON a.subAccountId=chn.Id AND a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SubAccountDesc
								FROM tbtrx_promo_planning_subaccount b with (nolock) INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId GROUP BY PromoPlanId
						) subaccount
						on pr.Id = subaccount.PromoPlanId
				left join
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + brd.LongDesc 
										from tbtrx_promo_planning_brand a with (nolock)
										join tbmst_brand brd with (nolock)
										ON a.brandid=brd.Id AND a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS BrandDesc
								FROM tbtrx_promo_planning_brand b with (nolock) INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId  GROUP BY PromoPlanId
						) brand
						on pr.Id = brand.PromoPlanId

				left join	--- Inner Join LUK 2020-05-17-0024
						(
							select PromoPlanId,
							STUFF(
									(select  ',' + sku.LongDesc 
										from tbtrx_promo_planning_product a with (nolock)
										join tbmst_product sku with (nolock)
										ON a.productid=sku.Id AND a.PromoPlanId=b.PromoPlanId

										FOR XML PATH, TYPE).value('.[1]','nvarchar(max)' ), 1, 1, '') AS SKUDesc
								FROM tbtrx_promo_planning_product b with (nolock) INNER JOIN tbtrx_promo_planning with (nolock) ON Id=PromoPlanId  GROUP BY PromoPlanId
						) sku
						on pr.Id = sku.PromoPlanId
GO
