USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_map_promorecon_subactivity_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_map_promorecon_subactivity_lp]
AS
SELECT 
ts.id, ts.RefId [refId],tc.Id [categoryId], tc.LongDesc category, ts2.Id [subCategoryId], ts2.LongDesc subCategory,ta.Id [activityId], ta.LongDesc activity, 
tst.Id [subActivityTypeId], tst.LongDesc subActivityType, ts.Id [subActivityId], ts.LongDesc subActivity, tmpps.AllowEdit [allowEdit]
FROM 
tbset_map_promorecon_period_subactivity tmpps
INNER JOIN tbmst_subactivity ts ON tmpps.SubActivityId = ts.Id AND isnull(ts.IsDeleted, 0) = 0
INNER JOIN tbmst_subactivity_type tst ON ts.SubActivityTypeId = tst.Id AND isnull(tst.IsDeleted, 0) = 0
INNER JOIN tbmst_activity ta ON ts.ActivityId = ta.id AND isnull(ta.IsDeleted, 0) = 0
INNER JOIN tbmst_subcategory ts2 ON ts.SubCategoryId = ts2.Id AND isnull(ts2.IsDeleted, 0) = 0
INNER JOIN tbmst_category tc ON ts2.CategoryId = tc.Id AND isnull(tc.IsDeleted, 0) = 0
WHERE isnull(tmpps.IsDeleted, 0) = 0;
GO
