USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_debetnote_overbudget]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_debetnote_overbudget]
as
SELECT
PicOverBudget userid,
COUNT(Id) dn_over_budget FROM
	(
	SELECT dn.Id
	,dn.RefId
	,dn.Id PromoId
	,pr.RefId PromoRefId
	,dn.ActivityDesc
	,dn.TotalClaim
	,dn.TotalPaid
	,dn.LastStatus
	,dn.IsFreeze
	,isnull(dn.ModifiedOn,dn.CreateOn) LastUpdate
	,pr.createby PicOverBudget
	FROM tbtrx_debetnote dn
	INNER JOIN tbtrx_promo pr on dn.PromoId=pr.Id
--201017--	LEFT JOIN tbset_matrix_dnmanual_assignment_new ON SubAccountId=dn.AccountId
	INNER JOIN
		(
			SELECT
			pr.Id PromoId,
			--pr.RefId RefId,
			--pr.Investment,
			SUM (dn.TotalClaim) AS RunningClaim,
			pr.Investment-SUM ( IIF(isnull(dn.VATExpired,0)=0, dn.DPP, dn.DPP + dn.PPNAmt)) Remaining
			from tbtrx_promo pr
			inner join  tbtrx_debetnote dn
			on pr.Id=dn.PromoId and isnull(dn.IsCancel, 0) = 0 and isnull(pr.IsCancel, 0) = 0
			GROUP BY pr.id, pr.Investment
			HAVING pr.Investment-SUM (dn.DPP) < 0

--			SELECT
--			pr.Id PromoId,
--			pr.RefId RefId,
--			pr.Investment,
--			dn.id DNId,
--			dn.TotalClaim,
--			SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
--			pr.Investment-SUM (dn.DPP) OVER (Partition by pr.id ORDER BY dn.Id) Remaining,
--			pr.createby  Pic1 --201017--
--			from tbtrx_promo pr
--			inner join  tbtrx_debetnote dn
--			on pr.Id=dn.PromoId where isnull(dn.IsCancel, 0) = 0 and isnull(pr.IsCancel, 0) = 0
		) ob ON pr.Id=ob.PromoId
	where isnull(ob.Remaining,0) < 0 and isnull(dn.IsCancel, 0) = 0 and dn.IsOverBudget=1
	) x GROUP BY PicOverBudget
GO
