USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_debetnote_overbudget_list]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_debetnote_overbudget_list]
as
/*
 * EDJ 2020-03-21 : change Remaining (overbudget) from totalclaim to DPP
 */
SELECT dn.Id
,dn.RefId
,dn.Id PromoId
,ob.RefId PromoRefId
,dn.ActivityDesc
,dn.TotalClaim
,dn.TotalPaid 
,dn.LastStatus
,dn.IsFreeze
,isnull(dn.ModifiedOn,dn.CreateOn) LastUpdate
,Pic1 PicOverBudget
FROM tbtrx_debetnote dn
LEFT JOIN tbset_matrix_dnmanual_assignment_new ON SubAccountId=dn.AccountId
INNER JOIN
(
SELECT 
pr.Id PromoId,
pr.RefId RefId,
pr.Investment,
dn.id DNId,
dn.TotalClaim, 
SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) AS RunningClaim,
--pr.Investment-SUM (dn.TotalClaim) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
pr.Investment-SUM (dn.DPP) OVER (Partition by pr.id ORDER BY dn.Id) Remaining
from tbtrx_promo pr
left join  tbtrx_debetnote dn
on pr.Id=dn.PromoId
where dn.IsDNPromo=1 and isnull(dn.iscancel, 0)=0
) ob ON dn.Id=ob.DNId
where ob.Remaining < 0 and dn.IsDNPromo=1 and isnull(dn.iscancel, 0)=0

GO
