USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_user_adm_report]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[vw_user_adm_report] as 
select a.id, a.username, a.email, a.department, a.jobtitle, a.contactinfo, a.distributorid, 
a.usergroupid, e.usergroupname, a.userlevel, f.levelname,
b.menuid, iif(d.parent=0,d.name,'') as menu, iif(d.parent<>0,d.name,'') as submenu, d.flag, d.crud, d.approve,
c.create_rec, c.read_rec, c.update_rec, c.delete_rec
from tbset_user a
inner join tbset_userrights b on a.usergroupid=b.usergroupid
inner join tbset_menu d on b.menuid=d.id
inner join tbset_usergroup e on b.usergroupid=e.usergroupid
inner join tbset_userlevel f on a.userlevel=f.userlevel
left join tbset_userlevel_access c on a.userlevel=c.userlevel and a.usergroupid=c.usergroupid and b.menuid=c.menuid
where isnull(a.isdeleted,0)=0 
GO
