

/****** Object:  View [dbo].[vw_activity_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_activity_lp] AS
SELECT 
tcat.id as CategoryId, tcat.RefId as CategoryRefId, tcat.LongDesc as CategoryLongDesc, tcat.ShortDesc as CategoryShortDesc, 
tscat.id as SubCategoryId, tscat.RefId as SubCategoryRefId, tscat.LongDesc as SubCategoryLongDesc, tscat.ShortDesc as SubCategoryShortDesc,
tact.id as ActivityId, tact.RefId as ActivityRefId, tact.LongDesc as ActivityLongDesc, tact.ShortDesc as ActivityShortDesc
FROM tbmst_activity tact
INNER JOIN tbmst_subcategory tscat ON tact.SubCategoryId = tscat.Id
INNER JOIN tbmst_category tcat ON tscat.CategoryId = tcat.Id 
WHERE ISNULL(tscat.IsDeleted, 0) = 0 AND ISNULL(tcat.IsDeleted, 0) = 0 AND ISNULL(tact.IsDeleted, 0) = 0;
GO
