USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_activity_type]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_activity_type]
as
SELECT distinct SubActivityTypeId,d.LongDesc,AllocationId FROM tbtrx_allocation a with (nolock)
inner join tbtrx_promo b with (nolock) on a.Id=b.AllocationId 
inner join tbmst_subactivity c with (nolock) on b.SubActivityId=c.Id
inner join tbmst_subactivity_type d on c.SubActivityTypeId=d.Id
GO
