USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_budget_vs_account]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_budget_vs_account]
as
SELECT Id,LongDesc,AlcId from tbmst_account acc
LEFT JOIN
(
SELECT * FROM
(
SELECT AccountId
,AlcId
,numofaccount
,MIN(numofaccount) OVER(PARTITION BY AccountId) minlevel
FROM
(
	SELECT 
	acc.AccountId
	,alc.Id AlcId
	,COUNT(AccountId) OVER(PARTITION BY alc.Id) numofaccount 
	FROM tbtrx_allocation alc
	left join tbtrx_allocation_account acc on alc.Id=acc.AllocationId
	where AccountId is not null 

)x 
)xx where minlevel=numofaccount
)xxx on acc.Id=xxx.AccountId

GO
