USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_subcategory_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_subcategory_lp] AS
SELECT tcat.id as CategoryId, tcat.RefId as CategoryRefId, tcat.LongDesc as CategoryLongDesc, tcat.ShortDesc as CategoryShortDesc, 
	tscat.id as SubCategoryId, tscat.RefId as SubCategoryRefId, tscat.LongDesc as SubCategoryLongDesc, tscat.ShortDesc as SubCategoryShortDesc
FROM tbmst_subcategory tscat
INNER JOIN tbmst_category tcat ON tscat.CategoryId = tcat.Id 
WHERE ISNULL(tscat.IsDeleted, 0) = 0 AND ISNULL(tcat.IsDeleted, 0) = 0;
GO
