USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_subactivity_lp]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_subactivity_lp] AS
SELECT 
a.id as CategoryId, a.RefId as CategoryRefId, a.LongDesc as CategoryLongDesc, a.ShortDesc as CategoryShortDesc, 
b.id as SubCategoryId, b.RefId as SubCategoryRefId, b.LongDesc as SubCategoryLongDesc, b.ShortDesc as SubCategoryShortDesc,
c.id as ActivityId, c.RefId as ActivityRefId, c.LongDesc as ActivityLongDesc, c.ShortDesc as ActivityShortDesc,
e.id as SubActivityTypeId, e.RefId as SubActivityTypeRefId, e.LongDesc as SubActivityTypeLongDesc, e.ShortDesc as SubActivityTypeShortDesc,
d.id as SubActivityId, d.RefId as SubActivityRefId, d.LongDesc as SubActivityLongDesc, d.ShortDesc as SubActivityShortDesc
FROM tbmst_subactivity d
INNER JOIN tbmst_activity c ON d.ActivityId = c.Id
INNER JOIN tbmst_subcategory b ON c.SubCategoryId = b.Id
INNER JOIN tbmst_category a ON b.CategoryId = a.Id
INNER JOIN tbmst_subactivity_type e ON d.SubActivityTypeId = e.id
WHERE ISNULL(a.IsDeleted, 0) = 0 AND ISNULL(b.IsDeleted, 0) = 0 AND ISNULL(c.IsDeleted, 0) = 0 AND ISNULL(d.IsDeleted, 0) = 0 AND ISNULL(e.IsDeleted, 0) = 0;
GO
