USE [dboptimasystem]
GO
/****** Object:  View [dbo].[vw_map_user_subaccount]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_map_user_subaccount] AS
SELECT
		 usa.Id
		,usa.UserId
	    ,tc.id               channelid
	    ,tc.LongDesc         channel
	    ,ts.id               subchannelid
	    ,ts.LongDesc         subchannel
	    ,ta.id               accountid
	    ,ta.LongDesc         account
		,usa.SubAccountId
		,sa.LongDesc         SubAccount
		,usa.IsActive
		,usa.CreateOn
		,usa.CreateBy
		,usa.CreatedEmail
	FROM
		tbset_user_subaccount usa 
		INNER JOIN tbmst_subaccount sa ON usa.SubAccountId = sa.Id 
        INNER JOIN tbmst_account ta on sa.AccountId = ta.Id
        INNER JOIN tbmst_subchannel ts on ta.SubChannelId=ts.id
        INNER JOIN tbmst_channel tc on ts.ChannelId=tc.id;
GO
