

/****** Object:  View [dbo].[vw_pending_promo_sendback]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- dbo.vw_pending_promo_sendback source

CREATE VIEW [dbo].[vw_pending_promo_sendback]
as
SELECT
	[Initiator]
	,COUNT(PromoId) as pending_promo_sendback
FROM
(
SELECT
pr.CreateBy [Initiator]
,ParentId PromoId
,a.RequestDate
,a.ActionDate
FROM
tbtrx_promo pr
INNER JOIN tbtrx_promo_request_approval R on pr.Id=R.Parentid
INNER JOIN tbtrx_promo_approval A ON R.Id=A.RequestId
WHERE isnull(R.IsCancel,0)=0
AND isnull(pr.IsClose,0)=0
and A.IsOnGoing=1 --and A.[Status]='TP3'
AND pr.StatusApproval='SENDBACK'
--AND pr.StatusApprovalCode<>'TP2'
AND isnull(pr.IsCancel,0)=0
) X 
GROUP BY [Initiator];
GO
