

/****** Object:  View [dbo].[vw_activity]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_activity]
AS
	
SELECT 
		c.Id CategoryId
		,c.LongDesc CategoryDesc
		,s.Id SubCategoryId
		,s.LongDesc SubCategoryDesc
		,ac.Id ActivityId
		,ac.LongDesc ActivityDesc
		,sact.Id SubActivityId
		,sact.LongDesc SubActivityDesc
		FROM 
		tbmst_category c
		left join tbmst_subcategory s on c.Id= s.CategoryId 		
		left join tbmst_activity ac on s.Id=ac.SubCategoryId
		left join tbmst_subactivity sact on sact.activityid=ac.Id
GO
