

/****** Object:  View [dbo].[vw_channel_subcategory_brand_distributor]    Script Date: 10/6/2025 11:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_channel_subcategory_brand_distributor] 
AS
SELECT a.*, B.brandId, B.brand, B.distributorId, B.distributor 
	FROM (
		SELECT A.subCategoryId, B.LongDesc subcategory, A.channelid, C.LongDesc channel FROM tbset_map_subcategory_channel A
		INNER JOIN tbmst_subcategory B ON A.subCategoryId = B.Id
		INNER jOIN TBMST_CHANNEL C ON A.channelId = C.Id
	)a 
INNER JOIN (
	SELECT A.channelId, A.brandId, A.distributorId, B.LongDesc channel, C.LongDesc brand, D.LongDesc distributor 
		FROM tbset_map_channel_brand_distributor A
		INNER jOIN tbmst_channel B ON A.channelId = B.Id
		INNER JOIN tbmst_brand_group C ON A.brandId = C.Id
		INNER JOIN tbmst_distributor D ON A.distributorId = D.Id
)B ON a.channelId=B.channelId
GO
