USE [dboptimasystem]
GO
/****** Object:  UserDefinedTableType [dbo].[ActivityType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[ActivityType] AS TABLE(
	[Category] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[SubCategory] [varchar](50) NULL,
	[Activity] [varchar](50) NULL,
	[SubActivity] [varchar](50) NULL,
	[SubActivityType] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ArrayIntType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[ArrayIntType] AS TABLE(
	[keyid] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ArrayVarcharType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[ArrayVarcharType] AS TABLE(
	[keyid] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[AttributeType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[AttributeType] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BrandType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BrandType] AS TABLE(
	[SeqNo] [int] NULL,
	[Brand] [varchar](50) NULL,
	[Sku] [varchar](50) NULL,
	[Principal] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAllocationChildsType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetAllocationChildsType] AS TABLE(
	[ParentId] [int] NULL,
	[Id] [varchar](50) NULL,
	[IsActive] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAllocType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetAllocType] AS TABLE(
	[Id] [int] NULL,
	[Periode] [varchar](4) NULL,
	[BudgetType] [varchar](3) NULL,
	[DistributorId] [int] NULL,
	[OwnerId] [varchar](50) NULL,
	[FromOwnerId] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[BudgetSourceId] [int] NULL,
	[SalesAmount] [numeric](18, 0) NULL,
	[BudgetAmount] [numeric](18, 0) NULL,
	[LongDesc] [varchar](255) NULL,
	[ShortDesc] [varchar](10) NULL,
	[UserId] [varchar](36) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAllocTypeNew]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetAllocTypeNew] AS TABLE(
	[Id] [int] NULL,
	[Periode] [varchar](4) NULL,
	[BudgetType] [varchar](3) NULL,
	[DistributorId] [int] NULL,
	[OwnerId] [varchar](50) NULL,
	[FromOwnerId] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[BudgetSourceId] [int] NULL,
	[SalesAmount] [numeric](18, 0) NULL,
	[BudgetAmount] [numeric](18, 0) NULL,
	[LongDesc] [varchar](50) NULL,
	[ShortDesc] [varchar](10) NULL,
	[UserId] [varchar](36) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetApproverType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetApproverType] AS TABLE(
	[Periode] [varchar](4) NULL,
	[PrincipalId] [varchar](255) NULL,
	[DistributorId] [varchar](255) NULL,
	[SubActivityType] [varchar](255) NULL,
	[ChannelId] [varchar](255) NULL,
	[Initiator] [varchar](255) NULL,
	[MinInvestment] [numeric](19, 2) NULL,
	[MaxInvestment] [numeric](19, 2) NULL,
	[Approver1] [varchar](50) NULL,
	[Approver2] [varchar](50) NULL,
	[Approver3] [varchar](50) NULL,
	[Approver4] [varchar](50) NULL,
	[Approver5] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAssignmentDetailType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetAssignmentDetailType] AS TABLE(
	[Id] [int] NOT NULL,
	[RefId] [varchar](255) NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[OwnId] [varchar](50) NOT NULL,
	[Desc] [varchar](255) NOT NULL,
	[BudgetAmount] [numeric](19, 0) NULL,
	[Periode] [varchar](4) NULL,
	[BudgetSourceId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetAssignmentDetailUpdateType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetAssignmentDetailUpdateType] AS TABLE(
	[Id] [int] NOT NULL,
	[OwnId] [varchar](50) NOT NULL,
	[Desc] [varchar](255) NOT NULL,
	[BudgetAmount] [numeric](19, 0) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BudgetDetailType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[BudgetDetailType] AS TABLE(
	[AllocationId] [int] NOT NULL,
	[LineIndex] [int] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[BudgetAmount] [numeric](19, 0) NULL,
	[LongDesc] [varchar](255) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ChannelType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[ChannelType] AS TABLE(
	[Channel] [varchar](50) NULL,
	[SubChannel] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[SubAccount] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[CharAttributeType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[CharAttributeType] AS TABLE(
	[Id] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ConfigPromoItemsType]    Script Date: 9/17/2025 9:50:31 AM ******/
CREATE TYPE [dbo].[ConfigPromoItemsType] AS TABLE(
	[budgetYear] [bit] NULL DEFAULT ((0)),
	[promoPlanning] [bit] NULL DEFAULT ((0)),
	[budgetSource] [bit] NULL DEFAULT ((0)),
	[entity] [bit] NULL,
	[distributor] [bit] NULL,
	[subCategory] [bit] NULL DEFAULT ((0)),
	[activity] [bit] NULL DEFAULT ((0)),
	[subActivity] [bit] NULL DEFAULT ((0)),
	[subActivityType] [bit] NULL DEFAULT ((0)),
	[startPromo] [bit] NULL DEFAULT ((0)),
	[endPromo] [bit] NULL DEFAULT ((0)),
	[activityName] [bit] NULL DEFAULT ((0)),
	[initiatorNotes] [bit] NULL DEFAULT ((0)),
	[incrSales] [bit] NULL DEFAULT ((0)),
	[investment] [bit] NULL DEFAULT ((0)),
	[channel] [bit] NULL DEFAULT ((0)),
	[subChannel] [bit] NULL DEFAULT ((0)),
	[account] [bit] NULL DEFAULT ((0)),
	[subAccount] [bit] NULL DEFAULT ((0)),
	[region] [bit] NULL DEFAULT ((0)),
	[groupBrand] [bit] NULL,
	[brand] [bit] NULL DEFAULT ((0)),
	[SKU] [bit] NULL DEFAULT ((0)),
	[mechanism] [bit] NULL DEFAULT ((0)),
	[Attachment] [bit] NULL DEFAULT ((0)),
	[ROI] [bit] NULL DEFAULT ((0)),
	[CR] [bit] NULL DEFAULT ((0))
)
GO
/****** Object:  UserDefinedTableType [dbo].[ConfirmPaidType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ConfirmPaidType] AS TABLE(
	[DNNumber] [varchar](50) NULL,
	[PaidAmount] [numeric](19, 0) NULL,
	[PayDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ConfirmPaidTypeNew]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ConfirmPaidTypeNew] AS TABLE(
	[DNNumber] [varchar](50) NULL,
	[PaidAmount] [numeric](19, 0) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DCBudgetUploadType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DCBudgetUploadType] AS TABLE(
	[BudgetYear] [varchar](50) NULL,
	[Category] [varchar](255) NULL,
	[Distributor] [varchar](255) NULL,
	[Brand] [varchar](255) NULL,
	[SubActivity] [varchar](255) NULL,
	[BudgetAmount] [numeric](18, 0) NULL,
	[BudgetApproval] [varchar](255) NULL,
	[UserAccess1] [varchar](255) NULL,
	[UserAccess2] [varchar](255) NULL,
	[UserAccess3] [varchar](255) NULL,
	[UserAccess4] [varchar](255) NULL,
	[UserAccess5] [varchar](255) NULL,
	[UserAccess6] [varchar](255) NULL,
	[UserAccess7] [varchar](255) NULL,
	[UserAccess8] [varchar](255) NULL,
	[UserAccess9] [varchar](255) NULL,
	[UserAccess10] [varchar](255) NULL,
	[UserAccess11] [varchar](255) NULL,
	[UserAccess12] [varchar](255) NULL,
	[UserAccess13] [varchar](255) NULL,
	[UserAccess14] [varchar](255) NULL,
	[UserAccess15] [varchar](255) NULL,
	[UserAccess16] [varchar](255) NULL,
	[UserAccess17] [varchar](255) NULL,
	[UserAccess18] [varchar](255) NULL,
	[UserAccess19] [varchar](255) NULL,
	[UserAccess20] [varchar](255) NULL,
	[UserAccess21] [varchar](255) NULL,
	[UserAccess22] [varchar](255) NULL,
	[UserAccess23] [varchar](255) NULL,
	[UserAccess24] [varchar](255) NULL,
	[UserAccess25] [varchar](255) NULL,
	[UserAccess26] [varchar](255) NULL,
	[UserAccess27] [varchar](255) NULL,
	[UserAccess28] [varchar](255) NULL,
	[UserAccess29] [varchar](255) NULL,
	[UserAccess30] [varchar](255) NULL,
	[UserAccess31] [varchar](255) NULL,
	[UserAccess32] [varchar](255) NULL,
	[UserAccess33] [varchar](255) NULL,
	[UserAccess34] [varchar](255) NULL,
	[UserAccess35] [varchar](255) NULL,
	[ProfileId] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DebetNote_doc_completeness_Type]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DebetNote_doc_completeness_Type] AS TABLE(
	[DNId] [int] NOT NULL,
	[Original_Invoice_from_retailers] [bit] NULL,
	[Tax_Invoice] [bit] NULL,
	[Promotion_Agreement_Letter] [bit] NULL,
	[Trading_Term] [bit] NULL,
	[Sales_Data] [bit] NULL,
	[Copy_of_Mailer] [bit] NULL,
	[Copy_of_Photo_Doc] [bit] NULL,
	[List_of_Transfer] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DebetNoteFPType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DebetNoteFPType] AS TABLE(
	[Type] [varchar](50) NULL,
	[RefId] [varchar](255) NULL,
	[FPNumber] [varchar](50) NULL,
	[FPDate] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DebetNoteType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DebetNoteType] AS TABLE(
	[Periode] [varchar](50) NULL,
	[Entity] [varchar](255) NULL,
	[Distributor] [varchar](255) NULL,
	[Account] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[PromoNumber] [varchar](255) NULL,
	[InternalDocNumber] [varchar](255) NULL,
	[TotalClaim] [varchar](255) NULL,
	[DueDate] [varchar](50) NULL,
	[FeeDesc] [varchar](255) NULL,
	[FeeAmount] [varchar](255) NULL,
	[DNType] [varchar](255) NULL,
	[statusPPN] [varchar](30) NULL,
	[PPNPct] [varchar](255) NULL,
	[PPNAmt] [varchar](255) NULL,
	[statusPPH] [varchar](30) NULL,
	[PPHPct] [varchar](255) NULL,
	[PPHAmt] [varchar](255) NULL,
	[FPNumber] [varchar](50) NULL,
	[FPDate] [varchar](50) NULL,
	[TaxLevel] [varchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DebetNoteTypeNew]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DebetNoteTypeNew] AS TABLE(
	[Periode] [varchar](50) NULL,
	[Entity] [varchar](255) NULL,
	[Distributor] [varchar](255) NULL,
	[Account] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[PromoNumber] [varchar](255) NULL,
	[TotalClaim] [varchar](255) NULL,
	[DueDate] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DistributorType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DistributorType] AS TABLE(
	[LongDesc] [varchar](50) NULL,
	[ShortDesc] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[Address] [varchar](255) NULL,
	[NPWP] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DistributorWHTSet]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DistributorWHTSet] AS TABLE(
	[Distributor] [varchar](50) NOT NULL,
	[SubActivity] [varchar](50) NOT NULL,
	[SubAccount] [nvarchar](50) NOT NULL,
	[WHTType] [nvarchar](50) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DNAttachmentType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[DNAttachmentType] AS TABLE(
	[Filename] [varchar](255) NULL,
	[DocLink] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportAccountType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportAccountType] AS TABLE(
	[Allocation] [varchar](255) NULL,
	[Derivative] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL,
	[51] [varchar](50) NULL,
	[52] [varchar](50) NULL,
	[53] [varchar](50) NULL,
	[54] [varchar](50) NULL,
	[55] [varchar](50) NULL,
	[56] [varchar](50) NULL,
	[57] [varchar](50) NULL,
	[58] [varchar](50) NULL,
	[59] [varchar](50) NULL,
	[60] [varchar](50) NULL,
	[61] [varchar](50) NULL,
	[62] [varchar](50) NULL,
	[63] [varchar](50) NULL,
	[64] [varchar](50) NULL,
	[65] [varchar](50) NULL,
	[66] [varchar](50) NULL,
	[67] [varchar](50) NULL,
	[68] [varchar](50) NULL,
	[69] [varchar](50) NULL,
	[70] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportAllocationType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportAllocationType] AS TABLE(
	[Periode] [varchar](4) NULL,
	[BudgetDesc] [varchar](255) NULL,
	[Owner] [varchar](50) NULL,
	[Distributor] [varchar](255) NULL,
	[Principal] [varchar](255) NULL,
	[Category] [varchar](255) NULL,
	[SubCategory] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[SubActivity] [varchar](255) NULL,
	[BudgetAmount] [numeric](19, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportAllocationUserType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportAllocationUserType] AS TABLE(
	[Allocation] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportBrandType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportBrandType] AS TABLE(
	[Allocation] [varchar](255) NULL,
	[Derivative] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportBudgetAllocationType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportBudgetAllocationType] AS TABLE(
	[MasterRefId] [varchar](36) NULL,
	[MasterPeriode] [varchar](4) NULL,
	[MasterDesc] [varchar](50) NULL,
	[MasterOwner] [varchar](36) NULL,
	[MasterAmount] [numeric](18, 0) NULL,
	[MasterDistributorRefId] [varchar](36) NULL,
	[MasterPrincipalRefId] [varchar](36) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[AllocationRefId] [varchar](36) NULL,
	[AllocationAmount] [varchar](36) NULL,
	[SubCategoryRefId] [varchar](36) NULL,
	[ActivityRefId] [varchar](36) NULL,
	[SubActivityRefId] [varchar](36) NULL,
	[AllocationDetailDesc] [varchar](50) NULL,
	[AllocationDetailAmount] [numeric](18, 0) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportBudgetDerivativeType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportBudgetDerivativeType] AS TABLE(
	[AssignmentRefId] [varchar](36) NULL,
	[AssignFromUser] [varchar](20) NULL,
	[AssignFromAllocation] [varchar](36) NULL,
	[AssignAmount] [numeric](18, 0) NULL,
	[SeqNumber] [int] NULL,
	[DetailAssignRefId] [varchar](36) NULL,
	[AssignToUser] [varchar](20) NULL,
	[AssignDesc] [varchar](255) NULL,
	[AssignDetailAmount] [numeric](18, 0) NULL,
	[DerBudgetRefId] [varchar](36) NULL,
	[DerBudgetDesc] [varchar](255) NULL,
	[DerAmount] [numeric](18, 0) NULL,
	[DerSubCategoryRefId] [varchar](36) NULL,
	[DerActivityRefId] [varchar](36) NULL,
	[DerSubActivityRefId] [varchar](36) NULL,
	[DerDetailBudgetDesc] [varchar](255) NULL,
	[DerDetailAmount] [numeric](18, 0) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportDerivativeType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportDerivativeType] AS TABLE(
	[BudgetParent] [varchar](255) NULL,
	[TotalAssignmentAmount] [numeric](19, 2) NULL,
	[AssignTo] [varchar](50) NULL,
	[AssignDesc] [varchar](255) NULL,
	[AssignAmount] [numeric](19, 2) NULL,
	[Category] [varchar](255) NULL,
	[SubCategory] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[SubActivity] [varchar](255) NULL,
	[Approval] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportDerivativeUserType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportDerivativeUserType] AS TABLE(
	[Derivative] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportPromoPlanAccountType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportPromoPlanAccountType] AS TABLE(
	[Activity] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL,
	[51] [varchar](50) NULL,
	[52] [varchar](50) NULL,
	[53] [varchar](50) NULL,
	[54] [varchar](50) NULL,
	[55] [varchar](50) NULL,
	[56] [varchar](50) NULL,
	[57] [varchar](50) NULL,
	[58] [varchar](50) NULL,
	[59] [varchar](50) NULL,
	[60] [varchar](50) NULL,
	[61] [varchar](50) NULL,
	[62] [varchar](50) NULL,
	[63] [varchar](50) NULL,
	[64] [varchar](50) NULL,
	[65] [varchar](50) NULL,
	[66] [varchar](50) NULL,
	[67] [varchar](50) NULL,
	[68] [varchar](50) NULL,
	[69] [varchar](50) NULL,
	[70] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportPromoPlanBrandType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportPromoPlanBrandType] AS TABLE(
	[ImportId] [varchar](255) NOT NULL,
	[Id] [int] NOT NULL,
	[Activity] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportPromoPlanRegionType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportPromoPlanRegionType] AS TABLE(
	[ImportId] [varchar](255) NOT NULL,
	[Id] [int] NOT NULL,
	[Activity] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportPromoPlanSkuType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportPromoPlanSkuType] AS TABLE(
	[ImportId] [varchar](255) NOT NULL,
	[Id] [int] NOT NULL,
	[Activity] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL,
	[51] [varchar](50) NULL,
	[52] [varchar](50) NULL,
	[53] [varchar](50) NULL,
	[54] [varchar](50) NULL,
	[55] [varchar](50) NULL,
	[56] [varchar](50) NULL,
	[57] [varchar](50) NULL,
	[58] [varchar](50) NULL,
	[59] [varchar](50) NULL,
	[60] [varchar](50) NULL,
	[61] [varchar](50) NULL,
	[62] [varchar](50) NULL,
	[63] [varchar](50) NULL,
	[64] [varchar](50) NULL,
	[65] [varchar](50) NULL,
	[66] [varchar](50) NULL,
	[67] [varchar](50) NULL,
	[68] [varchar](50) NULL,
	[69] [varchar](50) NULL,
	[70] [varchar](50) NULL,
	[71] [varchar](50) NULL,
	[72] [varchar](50) NULL,
	[73] [varchar](50) NULL,
	[74] [varchar](50) NULL,
	[75] [varchar](50) NULL,
	[76] [varchar](50) NULL,
	[77] [varchar](50) NULL,
	[78] [varchar](50) NULL,
	[79] [varchar](50) NULL,
	[80] [varchar](50) NULL,
	[81] [varchar](50) NULL,
	[82] [varchar](50) NULL,
	[83] [varchar](50) NULL,
	[84] [varchar](50) NULL,
	[85] [varchar](50) NULL,
	[86] [varchar](50) NULL,
	[87] [varchar](50) NULL,
	[88] [varchar](50) NULL,
	[89] [varchar](50) NULL,
	[90] [varchar](50) NULL,
	[91] [varchar](50) NULL,
	[92] [varchar](50) NULL,
	[93] [varchar](50) NULL,
	[94] [varchar](50) NULL,
	[95] [varchar](50) NULL,
	[96] [varchar](50) NULL,
	[97] [varchar](50) NULL,
	[98] [varchar](50) NULL,
	[99] [varchar](50) NULL,
	[100] [varchar](50) NULL,
	[101] [varchar](50) NULL,
	[102] [varchar](50) NULL,
	[103] [varchar](50) NULL,
	[104] [varchar](50) NULL,
	[105] [varchar](50) NULL,
	[106] [varchar](50) NULL,
	[107] [varchar](50) NULL,
	[108] [varchar](50) NULL,
	[109] [varchar](50) NULL,
	[110] [varchar](50) NULL,
	[111] [varchar](50) NULL,
	[112] [varchar](50) NULL,
	[113] [varchar](50) NULL,
	[114] [varchar](50) NULL,
	[115] [varchar](50) NULL,
	[116] [varchar](50) NULL,
	[117] [varchar](50) NULL,
	[118] [varchar](50) NULL,
	[119] [varchar](50) NULL,
	[120] [varchar](50) NULL,
	[121] [varchar](50) NULL,
	[122] [varchar](50) NULL,
	[123] [varchar](50) NULL,
	[124] [varchar](50) NULL,
	[125] [varchar](50) NULL,
	[126] [varchar](50) NULL,
	[127] [varchar](50) NULL,
	[128] [varchar](50) NULL,
	[129] [varchar](50) NULL,
	[130] [varchar](50) NULL,
	[131] [varchar](50) NULL,
	[132] [varchar](50) NULL,
	[133] [varchar](50) NULL,
	[134] [varchar](50) NULL,
	[135] [varchar](50) NULL,
	[136] [varchar](50) NULL,
	[137] [varchar](50) NULL,
	[138] [varchar](50) NULL,
	[139] [varchar](50) NULL,
	[140] [varchar](50) NULL,
	[141] [varchar](50) NULL,
	[142] [varchar](50) NULL,
	[143] [varchar](50) NULL,
	[144] [varchar](50) NULL,
	[145] [varchar](50) NULL,
	[146] [varchar](50) NULL,
	[147] [varchar](50) NULL,
	[148] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportRegionType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportRegionType] AS TABLE(
	[Allocation] [varchar](255) NULL,
	[Derivative] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportUserType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[ImportUserType] AS TABLE(
	[Allocation] [varchar](255) NULL,
	[Derivative] [varchar](255) NULL,
	[1] [varchar](50) NULL,
	[2] [varchar](50) NULL,
	[3] [varchar](50) NULL,
	[4] [varchar](50) NULL,
	[5] [varchar](50) NULL,
	[6] [varchar](50) NULL,
	[7] [varchar](50) NULL,
	[8] [varchar](50) NULL,
	[9] [varchar](50) NULL,
	[10] [varchar](50) NULL,
	[11] [varchar](50) NULL,
	[12] [varchar](50) NULL,
	[13] [varchar](50) NULL,
	[14] [varchar](50) NULL,
	[15] [varchar](50) NULL,
	[16] [varchar](50) NULL,
	[17] [varchar](50) NULL,
	[18] [varchar](50) NULL,
	[19] [varchar](50) NULL,
	[20] [varchar](50) NULL,
	[21] [varchar](50) NULL,
	[22] [varchar](50) NULL,
	[23] [varchar](50) NULL,
	[24] [varchar](50) NULL,
	[25] [varchar](50) NULL,
	[26] [varchar](50) NULL,
	[27] [varchar](50) NULL,
	[28] [varchar](50) NULL,
	[29] [varchar](50) NULL,
	[30] [varchar](50) NULL,
	[31] [varchar](50) NULL,
	[32] [varchar](50) NULL,
	[33] [varchar](50) NULL,
	[34] [varchar](50) NULL,
	[35] [varchar](50) NULL,
	[36] [varchar](50) NULL,
	[37] [varchar](50) NULL,
	[38] [varchar](50) NULL,
	[39] [varchar](50) NULL,
	[40] [varchar](50) NULL,
	[41] [varchar](50) NULL,
	[42] [varchar](50) NULL,
	[43] [varchar](50) NULL,
	[44] [varchar](50) NULL,
	[45] [varchar](50) NULL,
	[46] [varchar](50) NULL,
	[47] [varchar](50) NULL,
	[48] [varchar](50) NULL,
	[49] [varchar](50) NULL,
	[50] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[IntAttributeType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[IntAttributeType] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[InvestmentMapType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[InvestmentMapType] AS TABLE(
	[id] [int] NULL,
	[SubActivityId] [int] NULL,
	[InvestmentTypeId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[InvoiceDetailType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[InvoiceDetailType] AS TABLE(
	[DNNumber] [varchar](50) NULL,
	[DPP] [numeric](19, 0) NULL,
	[PPN] [numeric](19, 2) NULL,
	[DNAmount] [numeric](19, 0) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[InvoiceHeaderType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[InvoiceHeaderType] AS TABLE(
	[DistributorShortDesc] [varchar](20) NULL,
	[InvoiceDesc] [varchar](255) NULL,
	[DPP] [numeric](19, 0) NULL,
	[PPN] [numeric](19, 2) NULL,
	[InvoiceAmount] [numeric](19, 0) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[MatrixApproverType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[MatrixApproverType] AS TABLE(
	[SeqApproval] [int] NULL,
	[Approver] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[mechanismInputMethodType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[mechanismInputMethodType] AS TABLE(
	[categoryDesc] [varchar](100) NULL,
	[subCategoryDesc] [varchar](100) NULL,
	[activityDesc] [varchar](100) NULL,
	[subActivityDesc] [varchar](100) NULL,
	[inputMethod] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[MechanismType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[MechanismType] AS TABLE(
	[Id] [int] NULL,
	[Mechanism] [varchar](max) NULL,
	[Notes] [varchar](255) NULL,
	[ProductId] [int] NULL,
	[Product] [varchar](255) NULL,
	[BrandId] [int] NULL,
	[Brand] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[MstMechanismType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[MstMechanismType] AS TABLE(
	[Entity] [varchar](max) NULL,
	[SubCategory] [varchar](max) NULL,
	[Activity] [varchar](max) NULL,
	[SubActivity] [varchar](max) NULL,
	[SKU] [varchar](max) NULL,
	[Requirement] [varchar](max) NULL,
	[Discount] [varchar](max) NULL,
	[Mechanism] [varchar](max) NULL,
	[Channel] [varchar](max) NULL,
	[StartPromo] [varchar](max) NULL,
	[EndPromo] [varchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PrincipalType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PrincipalType] AS TABLE(
	[LongDesc] [varchar](50) NULL,
	[ShortDesc] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoApproverType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoApproverType] AS TABLE(
	[PrincipalId] [varchar](255) NULL,
	[DistributorId] [varchar](255) NULL,
	[Category] [varchar](255) NULL,
	[SubActivityType] [varchar](255) NULL,
	[ChannelId] [varchar](255) NULL,
	[SubChannelId] [varchar](255) NULL,
	[Initiator] [varchar](255) NULL,
	[MinInvestment] [numeric](25, 2) NULL,
	[MaxInvestment] [numeric](25, 2) NULL,
	[Approver1] [varchar](50) NULL,
	[Approver2] [varchar](50) NULL,
	[Approver3] [varchar](50) NULL,
	[Approver4] [varchar](50) NULL,
	[Approver5] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoAttachmentType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoAttachmentType] AS TABLE(
	[Filename] [varchar](255) NULL,
	[DocLink] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoFormType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoFormType] AS TABLE(
	[PromoId] [int] NULL,
	[Periode] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
	[DistributorId] [int] NOT NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[SubActivityTypeId] [varchar](255) NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL,
	[AccountId] [int] NULL,
	[SubAccountId] [int] NULL,
	[GroupBrandId] [int] NULL,
	[Baseline] [float] NULL,
	[UpLift] [float] NULL,
	[TotalSales] [float] NULL,
	[SalesContribution] [float] NULL,
	[StoresCoverage] [float] NULL,
	[RedemptionRate] [float] NULL,
	[CR] [float] NULL,
	[Cost] [float] NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[CreatedEmail] [varchar](100) NULL,
	[ModifReason] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoMechanismType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoMechanismType] AS TABLE(
	[Id] [int] NULL,
	[Mechanism] [varchar](max) NULL,
	[Notes] [varchar](255) NULL,
	[ProductId] [int] NULL,
	[Baseline] [numeric](19, 2) NULL,
	[UpLift] [float] NULL,
	[TotalSales] [numeric](19, 2) NULL,
	[SalesContribution] [float] NULL,
	[StoresCoverage] [float] NULL,
	[RedemptionRate] [float] NULL,
	[CR] [float] NULL,
	[Cost] [numeric](19, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanningApprovalType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoPlanningApprovalType] AS TABLE(
	[PromoPlanRefId] [varchar](50) NOT NULL,
	[TSCode] [varchar](50) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanningImport]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoPlanningImport] AS TABLE(
	[ImportId] [varchar](255) NULL,
	[id] [int] NOT NULL,
	[periode] [varchar](4) NULL,
	[entity] [varchar](255) NULL,
	[distributor] [varchar](255) NULL,
	[category] [varchar](255) NULL,
	[subactivitytype] [varchar](255) NULL,
	[subcategory] [varchar](255) NULL,
	[activity] [varchar](255) NULL,
	[subactivity] [varchar](255) NULL,
	[activitydesc] [varchar](255) NULL,
	[startpromo] [varchar](255) NULL,
	[endpromo] [varchar](255) NULL,
	[mechanisme] [varchar](255) NULL,
	[baselinesales] [numeric](19, 0) NULL,
	[incrsales] [numeric](19, 0) NULL,
	[investment] [numeric](19, 0) NULL,
	[channel] [varchar](255) NULL,
	[subchannel] [varchar](255) NULL,
	[account] [varchar](255) NULL,
	[subaccount] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanningType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoPlanningType] AS TABLE(
	[PromoPlanId] [int] NULL,
	[Periode] [varchar](4) NULL,
	[DistributorId] [int] NULL,
	[EntityId] [int] NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[Notes] [varchar](255) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[createdEmail] [varchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanningType_bak]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoPlanningType_bak] AS TABLE(
	[PromoPlanId] [int] NULL,
	[Periode] [varchar](4) NULL,
	[DistributorId] [int] NULL,
	[EntityId] [int] NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[Notes] [varchar](255) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanningV4Type]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoPlanningV4Type] AS TABLE(
	[PromoPlanId] [int] NULL,
	[Periode] [varchar](4) NULL,
	[DistributorId] [int] NULL,
	[EntityId] [int] NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[Notes] [varchar](255) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[createdEmail] [varchar](100) NULL,
	[ModifReason] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoPlanType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoPlanType] AS TABLE(
	[Periode] [varchar](255) NOT NULL,
	[LongDesc] [varchar](255) NOT NULL,
	[StartPromo] [date] NOT NULL,
	[EndPromo] [date] NOT NULL,
	[Notes] [varchar](8000) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoReconPeriodSubActivityType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoReconPeriodSubActivityType] AS TABLE(
	[SubActivity] [varchar](10) NULL,
	[Category] [varchar](50) NULL,
	[SubCategory] [varchar](50) NULL,
	[Activity] [varchar](50) NULL,
	[SubActivityType] [varchar](50) NULL,
	[LongDesc] [varchar](50) NULL,
	[Action] [varchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoReconType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoReconType] AS TABLE(
	[PromoId] [int] NULL,
	[PromoPlanId] [int] NULL,
	[AllocationId] [int] NULL,
	[AllocationRefId] [varchar](50) NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[TsCoding] [varchar](50) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[actual_sales] [numeric](19, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoSKPType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoSKPType] AS TABLE(
	[PromoId] [int] NOT NULL,
	[SKPDraftAvail] [bit] NULL,
	[SKPDraftAvailOn] [datetime] NULL,
	[SKPDraftAvailBy] [varchar](50) NULL,
	[SKPDraftAvailBfrAct60] [bit] NULL,
	[SKPDraftAvailBfrAct60On] [datetime] NULL,
	[SKPDraftAvailBfrAct60By] [varchar](50) NULL,
	[PeriodMatch] [bit] NULL,
	[PeriodMatchOn] [datetime] NULL,
	[PeriodMatchBy] [varchar](50) NULL,
	[InvestmentMatch] [bit] NULL,
	[InvestmentMatchOn] [datetime] NULL,
	[InvestmentMatchBy] [varchar](50) NULL,
	[MechanismMatch] [bit] NULL,
	[MechanismMatchOn] [datetime] NULL,
	[MechanismMatchBy] [varchar](50) NULL,
	[SKPSign7] [bit] NULL,
	[SKPSign7On] [datetime] NULL,
	[SKPSign7By] [varchar](50) NULL,
	[EntityDraft] [bit] NULL,
	[EntityDraftOn] [datetime] NULL,
	[EntityDraftBy] [varchar](50) NULL,
	[BrandDraft] [bit] NULL,
	[BrandDraftOn] [datetime] NULL,
	[BrandDraftBy] [varchar](50) NULL,
	[PeriodDraft] [bit] NULL,
	[PeriodDraftOn] [datetime] NULL,
	[PeriodDraftBy] [varchar](50) NULL,
	[ActivityDescDraft] [bit] NULL,
	[ActivityDescDraftOn] [datetime] NULL,
	[ActivityDescDraftBy] [varchar](50) NULL,
	[MechanismDraft] [bit] NULL,
	[MechanismDraftOn] [datetime] NULL,
	[MechanismDraftBy] [varchar](50) NULL,
	[InvestmentDraft] [bit] NULL,
	[InvestmentDraftOn] [datetime] NULL,
	[InvestmentDraftBy] [varchar](50) NULL,
	[Entity] [bit] NULL,
	[EntityOn] [datetime] NULL,
	[EntityBy] [varchar](50) NULL,
	[Brand] [bit] NULL,
	[BrandOn] [datetime] NULL,
	[BrandBy] [varchar](50) NULL,
	[ActivityDesc] [bit] NULL,
	[ActivityDescOn] [datetime] NULL,
	[ActivityDescBy] [varchar](50) NULL,
	[DistributorDraft] [bit] NULL,
	[DistributorDraftOn] [datetime] NULL,
	[DistributorDraftBy] [varchar](50) NULL,
	[Distributor] [bit] NULL,
	[DistributorOn] [datetime] NULL,
	[DistributorBy] [varchar](50) NULL,
	[ChannelDraft] [bit] NULL,
	[ChannelDraftOn] [datetime] NULL,
	[ChannelDraftBy] [varchar](50) NULL,
	[Channel] [bit] NULL,
	[ChannelOn] [datetime] NULL,
	[ChannelBy] [varchar](50) NULL,
	[StoreNameDraft] [bit] NULL,
	[StoreNameDraftOn] [datetime] NULL,
	[StoreNameDraftBy] [varchar](50) NULL,
	[StoreName] [bit] NULL,
	[StoreNameOn] [datetime] NULL,
	[StoreNameBy] [varchar](50) NULL,
	[skpstatus] [int] NULL,
	[skp_notes] [varchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoSubmissionException]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoSubmissionException] AS TABLE(
	[PromoRefId] [varchar](100) NULL,
	[Reason] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoType] AS TABLE(
	[PromoId] [int] NULL,
	[PromoPlanId] [int] NULL,
	[AllocationId] [int] NULL,
	[AllocationRefId] [varchar](50) NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[TsCoding] [varchar](50) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[CreatedEmail] [varchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoTypeNew]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoTypeNew] AS TABLE(
	[PromoId] [int] NULL,
	[PromoPlanId] [int] NULL,
	[AllocationId] [int] NULL,
	[AllocationRefId] [varchar](50) NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[TsCoding] [varchar](50) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoUploadAttachmentType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoUploadAttachmentType] AS TABLE(
	[PromoNumber] [varchar](50) NULL,
	[Filename1] [varchar](255) NULL,
	[Filename2] [varchar](255) NULL,
	[Filename3] [varchar](255) NULL,
	[Filename4] [varchar](255) NULL,
	[Filename5] [varchar](255) NULL,
	[Filename6] [varchar](255) NULL,
	[Filename7] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoV4ReconType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoV4ReconType] AS TABLE(
	[PromoId] [int] NULL,
	[PromoPlanId] [int] NULL,
	[AllocationId] [int] NULL,
	[AllocationRefId] [varchar](50) NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](255) NULL,
	[TsCoding] [varchar](50) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[actual_sales] [numeric](19, 2) NULL,
	[CreatedEmail] [varchar](100) NULL,
	[ModifReason] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PromoV4Type]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PromoV4Type] AS TABLE(
	[PromoId] [int] NULL,
	[PromoPlanId] [int] NULL,
	[AllocationId] [int] NULL,
	[AllocationRefId] [varchar](50) NULL,
	[PrincipalShortDesc] [varchar](50) NULL,
	[CategoryShortDesc] [varchar](50) NULL,
	[BudgetMasterId] [int] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[ActivityId] [int] NULL,
	[SubActivityId] [int] NULL,
	[ActivityDesc] [varchar](255) NULL,
	[StartPromo] [date] NULL,
	[EndPromo] [date] NULL,
	[Mechanisme1] [varchar](255) NULL,
	[Mechanisme2] [varchar](255) NULL,
	[Mechanisme3] [varchar](255) NULL,
	[Mechanisme4] [varchar](255) NULL,
	[Investment] [numeric](19, 2) NULL,
	[NormalSales] [numeric](19, 2) NULL,
	[IncrSales] [numeric](19, 2) NULL,
	[Roi] [numeric](19, 2) NULL,
	[CostRatio] [numeric](19, 2) NULL,
	[StatusApproval] [varchar](10) NULL,
	[Notes] [varchar](max) NULL,
	[TsCoding] [varchar](50) NULL,
	[CreateOn] [date] NULL,
	[CreateBy] [varchar](50) NULL,
	[initiator_notes] [varchar](255) NULL,
	[CreatedEmail] [varchar](100) NULL,
	[ModifReason] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PSValueType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[PSValueType] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[distributor] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[m1] [numeric](19, 2) NULL,
	[m2] [numeric](19, 2) NULL,
	[m3] [numeric](19, 2) NULL,
	[m4] [numeric](19, 2) NULL,
	[m5] [numeric](19, 2) NULL,
	[m6] [numeric](19, 2) NULL,
	[m7] [numeric](19, 2) NULL,
	[m8] [numeric](19, 2) NULL,
	[m9] [numeric](19, 2) NULL,
	[m10] [numeric](19, 2) NULL,
	[m11] [numeric](19, 2) NULL,
	[m12] [numeric](19, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[RegionType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[RegionType] AS TABLE(
	[Region] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SellingPointRegion]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SellingPointRegion] AS TABLE(
	[RegionRefId] [varchar](36) NULL,
	[RegionLongDesc] [varchar](50) NULL,
	[RegionShortDesc] [varchar](10) NULL,
	[SellpoRefId] [varchar](36) NULL,
	[SellpoLongDesc] [varchar](50) NULL,
	[SellpoShortDesc] [varchar](10) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SellingPointType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SellingPointType] AS TABLE(
	[Sellingpoint] [varchar](50) NULL,
	[SellingPointDesc] [varchar](255) NULL,
	[Region] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[ProfitCenter] [varchar](255) NULL,
	[AreaCode] [varchar](3) NULL,
	[Area] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SellingPointTypeNew]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SellingPointTypeNew] AS TABLE(
	[Sellingpoint] [varchar](50) NULL,
	[SellingPointDesc] [varchar](255) NULL,
	[AreaCode] [varchar](3) NULL,
	[Region] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SetRoiCrType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SetRoiCrType] AS TABLE(
	[Id] [int] NULL,
	[MinimumROI] [numeric](19, 2) NULL,
	[MaksimumROI] [numeric](19, 2) NULL,
	[MinimumCostRatio] [numeric](19, 2) NULL,
	[MaksimumCostRatio] [numeric](19, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SSConversionRateType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SSConversionRateType] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[subchannel] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[m1] [numeric](19, 2) NULL,
	[m2] [numeric](19, 2) NULL,
	[m3] [numeric](19, 2) NULL,
	[m4] [numeric](19, 2) NULL,
	[m5] [numeric](19, 2) NULL,
	[m6] [numeric](19, 2) NULL,
	[m7] [numeric](19, 2) NULL,
	[m8] [numeric](19, 2) NULL,
	[m9] [numeric](19, 2) NULL,
	[m10] [numeric](19, 2) NULL,
	[m11] [numeric](19, 2) NULL,
	[m12] [numeric](19, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SSTTTypeDC]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SSTTTypeDC] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[category] [varchar](255) NOT NULL,
	[subcategory] [varchar](255) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[distributor] [varchar](255) NOT NULL,
	[distributorshortdesc] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[subactivitytype] [varchar](255) NOT NULL,
	[subactivity] [varchar](255) NOT NULL,
	[activity] [varchar](255) NOT NULL,
	[tt] [float] NOT NULL,
	[budgetname] [varchar](255) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SSTTTypeRC]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SSTTTypeRC] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[category] [varchar](255) NOT NULL,
	[subcategory] [varchar](255) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[subchannel] [varchar](255) NOT NULL,
	[account] [varchar](255) NOT NULL,
	[subaccount] [varchar](255) NOT NULL,
	[distributor] [varchar](255) NOT NULL,
	[distributorshortdesc] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[subactivitytype] [varchar](255) NOT NULL,
	[subactivity] [varchar](255) NOT NULL,
	[activity] [varchar](255) NOT NULL,
	[tt] [float] NOT NULL,
	[budgetname] [varchar](255) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SSVolumeType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SSVolumeType] AS TABLE(
	[period] [varchar](4) NOT NULL,
	[channel] [varchar](255) NOT NULL,
	[subchannel] [varchar](255) NOT NULL,
	[account] [varchar](255) NOT NULL,
	[subaccount] [varchar](255) NOT NULL,
	[region] [varchar](255) NOT NULL,
	[groupbrand] [varchar](255) NOT NULL,
	[m1] [float] NULL,
	[m2] [float] NULL,
	[m3] [float] NULL,
	[m4] [float] NULL,
	[m5] [float] NULL,
	[m6] [float] NULL,
	[m7] [float] NULL,
	[m8] [float] NULL,
	[m9] [float] NULL,
	[m10] [float] NULL,
	[m11] [float] NULL,
	[m12] [float] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SubActivityType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[SubActivityType] AS TABLE(
	[SubActivityType] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[tbtype_activity]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[tbtype_activity] AS TABLE(
	[CatRef] [varchar](50) NULL,
	[CatDesc] [varchar](50) NULL,
	[CatSDesc] [varchar](50) NULL,
	[SubCatRef] [varchar](50) NULL,
	[SubCatDesc] [varchar](50) NULL,
	[SubCatSDesc] [varchar](50) NULL,
	[ActRef] [varchar](50) NULL,
	[ActDesc] [varchar](50) NULL,
	[ActSDesc] [varchar](50) NULL,
	[SubActRef] [varchar](50) NULL,
	[SubActDesc] [varchar](50) NULL,
	[SubActSDesc] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreateOn] [datetime] NULL,
	[CreateBy] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[tbtype_channel]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[tbtype_channel] AS TABLE(
	[ChannelId] [varchar](50) NULL,
	[Channel] [varchar](50) NULL,
	[SubChannelId] [varchar](50) NULL,
	[SubChannel] [varchar](50) NULL,
	[AccountId] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[SubAccountId] [varchar](50) NULL,
	[SubAccount] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TemplateDebetNote]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TemplateDebetNote] AS TABLE(
	[RefId] [varchar](255) NULL,
	[PromoRefId] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[TotalClaim] [varchar](255) NULL,
	[LastStatus] [varchar](255) NULL,
	[LastUpdate] [varchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TemplateDebetNoteNew]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TemplateDebetNoteNew] AS TABLE(
	[RefId] [varchar](255) NULL,
	[PromoRefId] [varchar](255) NULL,
	[Activity] [varchar](255) NULL,
	[TotalClaim] [numeric](19, 0) NULL,
	[LastStatus] [varchar](50) NULL,
	[LastUpdate] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxAccountType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxAccountType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL,
	[AccountId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxBrandType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxBrandType] AS TABLE(
	[KeyId] [int] NULL,
	[BrandId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxChannelType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxChannelType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxRegionType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxRegionType] AS TABLE(
	[KeyId] [int] NULL,
	[RegionId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxSkuType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxSkuType] AS TABLE(
	[KeyId] [int] NULL,
	[BrandId] [int] NULL,
	[SkuId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxSubAccountType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxSubAccountType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL,
	[AccountId] [int] NULL,
	[SubAccountId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxSubBrandType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxSubBrandType] AS TABLE(
	[KeyId] [int] NULL,
	[BrandId] [int] NULL,
	[SubBrandlId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TrxSubChannelType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[TrxSubChannelType] AS TABLE(
	[KeyId] [int] NULL,
	[ChannelId] [int] NULL,
	[SubChannelId] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[UserType]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[UserType] AS TABLE(
	[id] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[xml_generate]    Script Date: 9/17/2025 9:50:32 AM ******/
CREATE TYPE [dbo].[xml_generate] AS TABLE(
	[PONumber] [varchar](100) NOT NULL,
	[OriginalId] [varchar](100) NOT NULL,
	[EntityId] [int] NULL
)
GO
