USE [dboptimasystem]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckExistingBudget]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckExistingBudget](
		 @period int
		, @categoryid int
		, @subcategoryid int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @distributorId int
		, @groupbrandid int
		, @subactivitytypeid int
		, @activityid int
		, @subactivityid int
)

RETURNS INT

AS

BEGIN
	DECLARE 
		@budgetExist int
		, @activityDesc varchar(50)

	SET @budgetExist = 0;
	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;
	SELECT @subCategoryId = SubCategoryId, @activityId = ActivityId FROM vw_activity WHERE SubActivityId= @subactivityid

	IF ISNULL(@subchannelid,0)=0 AND ISNULL(@accountid,0)=0 AND ISNULL(@subaccountid,0)=0  /*PS VALUE for DC*/
	BEGIN
		SELECT @budgetExist = count(a.id)
		FROM tbtrx_ss_tt a
			INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
				AND a.period=@period
				AND a.categoryid=@categoryid
				AND a.subcategoryid=@subcategoryid
				AND a.channelid=@channelid
				AND a.subchannelid=ISNULL(@subchannelid,0)
				AND a.accountid=ISNULL(@accountid,0)
				AND a.subaccountid=ISNULL(@subaccountid,0)
				AND a.distributorId=@distributorId
				AND a.groupbrandid=@groupbrandid
				AND a.subactivitytypeid=@subactivitytypeid
				--AND a.activityid=@activityid
				AND a.subactivityid=@subactivityid
				AND a.tt>0
			INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
			INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
			INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
			INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

	END
	ELSE
	BEGIN
		--IF @activityDesc = 'Trading Term - Consumer Promo' OR @activityDesc = 'Trading Term - Promo Fund'
		--BEGIN
		--	SELECT @budgetExist = count(a.id)
		--	FROM tbtrx_ss_tt a
		--		INNER JOIN vw_activity b ON a.activityid = b.activityid 
		--			AND a.period=@period
		--			AND a.categoryid=@categoryid
		--			AND a.subcategoryid=@subcategoryid
		--			AND a.channelid=@channelid
		--			AND a.subchannelid=@subchannelid
		--			AND a.accountid=@accountid
		--			AND a.subaccountid=@subaccountid
		--			AND a.distributorId=@distributorId
		--			AND a.groupbrandid=@groupbrandid
		--			AND a.subactivitytypeid=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
		--			AND a.activityid=@activityid
		--		INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
		--		INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		--END
		--ELSE
		--BEGIN
		--	SELECT @budgetExist = count(a.id)
		--	FROM tbtrx_ss_tt a
		--		INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
		--			AND a.period=@period
		--			AND a.categoryid=@categoryid
		--			AND a.subcategoryid=@subcategoryid
		--			AND a.channelid=@channelid
		--			AND a.subchannelid=@subchannelid
		--			AND a.accountid=@accountid
		--			AND a.subaccountid=@subaccountid
		--			AND a.distributorId=@distributorId
		--			--AND distributorshortdesc=@distributorshortdesc
		--			AND a.groupbrandid=@groupbrandid
		--			AND a.subactivitytypeid=@subactivitytypeid
		--			AND a.activityid=@activityid
		--			AND a.subactivityid=@subactivityid
		--		INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
		--		INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		--		INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
		--		INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id
		--END

		/* Cek by subactivity*/
		SELECT @budgetExist = count(a.id)
		FROM tbtrx_ss_tt a
			INNER JOIN vw_activity b ON a.subactivityid = b.subactivityid 
				AND a.period=@period
				AND a.categoryid=@categoryid
				AND a.subcategoryid=@subcategoryid
				AND a.channelid=@channelid
				AND a.subchannelid=@subchannelid
				AND a.accountid=@accountid
				AND a.subaccountid=@subaccountid
				AND a.distributorId=@distributorId
				--AND distributorshortdesc=@distributorshortdesc
				AND a.groupbrandid=@groupbrandid
				AND a.subactivitytypeid=@subactivitytypeid
				AND a.activityid=@activityid
				AND a.subactivityid=@subactivityid
				AND a.tt>0
			INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
			INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
			INNER JOIN tbmst_subactivity e ON c.subactivityid=e.Id
			INNER JOIN tbmst_subactivity_type f ON e.SubActivityTypeId=f.Id

		IF @budgetExist = 0
		BEGIN
			SELECT @budgetExist = count(a.id)
			FROM tbtrx_ss_tt a
				INNER JOIN vw_activity b ON a.activityid = b.activityid 
					AND a.period=@period
					AND a.categoryid=@categoryid
					AND a.subcategoryid=@subcategoryid
					AND a.channelid=@channelid
					AND a.subchannelid=@subchannelid
					AND a.accountid=@accountid
					AND a.subaccountid=@subaccountid
					AND a.distributorId=@distributorId
					AND a.groupbrandid=@groupbrandid
					AND a.subactivitytypeid=(SELECT id FROM tbmst_subactivity_type WHERE LongDesc = 'Contractual')
					AND a.activityid=@activityid
					AND a.subactivityid=0
					AND a.tt>0
				INNER JOIN tbmst_main_activity_dtl c ON b.SubActivityId = c.subactivityid
				INNER JOIN tbmst_main_activity d ON c.mainactivityid = d.id
		END
	END

	RETURN @budgetExist

END

GO
/****** Object:  UserDefinedFunction [dbo].[CheckRemainingBudget]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckRemainingBudget](
		@PromoId int,
		@Cost numeric(18,0),
		 @period int
		, @categoryid int
		, @subcategoryid int
		, @channelid int
		, @subchannelid int
		, @accountid int
		, @subaccountid int
		, @distributorId int
		, @groupbrandid int
		, @subactivitytypeid int
		, @activityid int
		, @subactivityid int
)

RETURNS INT

AS

BEGIN
	DECLARE 
		@isNotOver int,
		@Remaining numeric(18,0),
		@TotalCost numeric(18,0),
		@CostBefore numeric(18,0),
		@budgetamount numeric(18,0),
		@subactivitytypedesc varchar(100),
		@mainActivityDesc varchar(100),
		@categoryShortDesc varchar(100),
		@dnclaim numeric(18,0),
		@bySubActivity int
--		,
--		@Cost numeric(18,0),
--		@PromoId int,
--		 @period int
--		, @categoryid int
--		, @subcategoryid int
--		, @channelid int
--		, @subchannelid int
--		, @accountid int
--		, @subaccountid int
--		, @distributorId int
--		, @groupbrandid int
--		, @subactivitytypeid int
--		, @activityid int
--		, @subactivityid int

--SET @PromoId=0
--SET	@period = 2025
--SET @categoryid = 3
--SET @subcategoryid = 24
--SET @channelid = 4
--SET @subchannelid = 4
--SET @accountid = 23
--SET @subaccountid = 37
--SET @distributorId = 3
--SET @groupbrandid = 5
--SET @subactivitytypeid = 3
--SET @activityid = 120
--SET @subactivityid = 682
--SET @Cost=418879

--SELECT * FROM vw_account WHERE SubAccountDesc = 'ACOMMERCE B2B'
--SET @PromoId = 0

--SET @PromoId = (select id from tbtrx_promo where RefId='SGM00013/AL25/RC')

--SET @Cost = 20000
	SET @isNotOver = 0
	SET @CostBefore = 0
	IF @PromoId<>0
		BEGIN
			SELECT
				--@period=a.period
				--,@categoryid=a.categoryid
				--,@subcategoryid=a.subcategoryid
				--,@channelid=b.channelid
				--,@subchannelid=c.subchannelid
				--,@accountid=d.accountid
				--,@subaccountid=e.subaccountid
				--,@distributorId=a.distributorId
				--,@groupbrandid=a.groupbrandid
				--,@subactivitytypeid=g.subactivitytypeid
				--,@activityid=a.activityid
				--,@subactivityid=a.subactivityid
				--,
				@CostBefore = ISNULL(f.Cost,0)
			from tbtrx_promo a
						--INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid
						--INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
						--INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
						--INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
						INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId
						--INNER join vw_activity_active g on a.SubActivityId=g.SubActivityId
			where a.Id=@PromoId
		END
	ELSE
		BEGIN
			SET @CostBefore=0
		END

	DECLARE @ttid int
		, @activityDesc varchar(50)

	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;
	SELECT @subCategoryId = SubCategoryId, @activityId = ActivityId FROM vw_activity WHERE SubActivityId= @subactivityid
	SELECT @categoryShortDesc = shortDesc FROM tbmst_category WHERE id = @categoryid

	/* RC get by subactivity*/
	SELECT @ttid=id FROM tbtrx_ss_tt
	WHERE 
	period = @Period
	AND DistributorId = @DistributorId
	AND categoryid =  @CategoryId
	AND subcategoryid = @SubCategoryId
	AND activityid = @ActivityId
	AND subactivityid = @SubActivityId
	AND subactivitytypeid = @SubActivityTypeId
	AND channelid = @ChannelId
	AND subchannelid = @SubChannelId
	and accountid = @AccountId
	and subaccountid = @SubAccountId
	and groupbrandid = @GroupBrandId
	AND tt>0

	SET @bySubActivity = 1

	/* RC jika get by subactivity tidak ketemu, maka get by activity*/
	IF isnull(@ttid, 0) = 0
	BEGIN
		SELECT @ttid=id FROM tbtrx_ss_tt
		WHERE 
		period = @Period
		AND DistributorId = @DistributorId
		AND categoryid =  @CategoryId
		AND subcategoryid = @SubCategoryId
		AND activityid = @ActivityId
		AND subactivityid = 0
		AND subactivitytypeid = @SubActivityTypeId
		AND channelid = @ChannelId
		AND subchannelid = @SubChannelId
		and accountid = @AccountId
		and subaccountid = @SubAccountId
		and groupbrandid = @GroupBrandId
		AND tt>0

		SET @bySubActivity = 0
	END

	IF @subchannelid=0 AND @accountid=0 AND @subaccountid=0 /*PS VALUE for DC*/
	BEGIN
		SELECT @ttid=id FROM tbtrx_ss_tt
		WHERE 
		period = @Period
		AND DistributorId = @DistributorId
		AND categoryid =  @CategoryId
		AND subcategoryid = @SubCategoryId
		AND activityid = @ActivityId
		AND subactivityid = @SubActivityId
		AND subactivitytypeid = @SubActivityTypeId
		AND channelid = @ChannelId
		--AND subchannelid = @SubChannelId
		--and accountid = @AccountId
		--and subaccountid = @SubAccountId
		and groupbrandid = @GroupBrandId
		AND tt>0

		SELECT 
			 @budgetamount = isnull(SUM(round(a.tt*round(b.psvalue, 0)/100,0)), 0)
		FROM tbtrx_ss_tt a
		INNER JOIN tbmst_category mc ON a.categoryid = mc.id AND mc.ShortDesc = 'DC'
		INNER JOIN (
			SELECT 
					a.period, a.distributorid, a.groupbrandid
					,SUM(ISNULL(a.m1,0)+ISNULL(a.m2,0)+ISNULL(a.m3,0)+ISNULL(a.m4,0)+ISNULL(a.m5,0)+ISNULL(a.m6,0)
					+ISNULL(a.m7,0)+ISNULL(a.m8,0)+ISNULL(a.m9,0)+ISNULL(a.m10,0)+ISNULL(a.m11,0)+ISNULL(a.m12,0)) psvalue
					FROM tbtrx_ps_value a
					GROUP BY a.period, a.distributorid, a.groupbrandid
			)b ON 
				a.period = b.period
				AND a.distributorId = b.distributorid
				AND a.groupbrandid = b.groupbrandid
		INNER JOIN (
			SELECT DISTINCT a.categoryId, a.categoryDesc, a.subCategoryId, a.subCategoryDesc, a.activityId, a.activityDesc, a.subActivityId, a.subActivityDesc
				, c.id subActivityTypeId, c.LongDesc subActivityTypeDesc, e.id mainActivityId, e.longDesc mainActivityDesc
				FROM vw_activity a
				INNER JOIN tbmst_subactivity b ON a.SubActivityId = b.Id
				INNER JOIN tbmst_subactivity_type c ON b.SubActivityTypeId = c.Id
				INNER JOIN tbmst_main_activity_dtl d ON b.Id = d.subactivityid
				INNER JOIN tbmst_main_activity e ON d.mainactivityid = e.id 
			)c ON
				a.subactivityid=c.SubActivityId
				AND a.id=@ttid

		SELECT @totalcost= isnull(SUM(ISNULL(f.cost,0)), 0)
			FROM tbtrx_promo a
				INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
				INNER JOIN tbtrx_promo_calculator f on a.Id=f.PromoId AND a.CategoryShortDesc='DC'
			WHERE
				a.period=@Period
				AND a.categoryid=@CategoryId
				AND a.subcategoryid=@SubCategoryId
				AND b.channelid=@ChannelId
				AND a.distributorId=@DistributorId
				AND a.groupbrandid=@GroupBrandId
				AND a.subactivityid=@SubActivityId
				AND a.AllocationId=@ttid
			

	END
	ELSE
	BEGIN
		SELECT 
			 @budgetamount = isnull(SUM(round(a.tt*round(b.ssvalue, 0)/100,0)), 0)
			--, @totalcost= SUM(ISNULL(g.cost,0)) 
			--, @remaining = SUM(round(a.tt*b.ssvalue/100,0)) - SUM(ISNULL(g.cost,0)) 

		FROM tbtrx_ss_tt a
		INNER JOIN (
			SELECT 
					a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
					,SUM((ISNULL(a.m1,0) * ISNULL(b.m1,0))+(ISNULL(a.m2,0) * ISNULL(b.m2,0))+(ISNULL(a.m3,0) * ISNULL(b.m3,0))+(ISNULL(a.m4,0) * ISNULL(b.m4,0))+(ISNULL(a.m5,0) * ISNULL(b.m5,0))+(ISNULL(a.m6,0) * ISNULL(b.m6,0))+(ISNULL(a.m7,0) * ISNULL(b.m7,0))+(ISNULL(a.m8,0) * ISNULL(b.m8,0))+(ISNULL(a.m9,0) * ISNULL(b.m9,0))+(ISNULL(a.m10,0) * ISNULL(b.m10,0))+(ISNULL(a.m11,0) * ISNULL(b.m11,0))+(ISNULL(a.m12,0) * ISNULL(b.m12,0))) ssvalue
					FROM tbtrx_ss_volume a
					INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
					WHERE 
						a.period= @period
						AND a.channelid = @channelid
						AND a.subchannelid = @subchannelid
						AND a.accountid = @accountid
						AND a.subaccountid = @subaccountid
						AND a.groupbrandid = @groupbrandid
					GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
			)b ON 
				a.period = b.period
				AND a.channelid = b.channelid
				AND a.subchannelid = b.subchannelid
				AND a.accountid = b.accountid
				AND a.subaccountid = b.subaccountid
				AND a.groupbrandid = b.groupbrandid
				AND a.id=@ttid

		IF @bySubActivity = 1 
		BEGIN
			SET @totalcost = (SELECT SUM(a.actualCost) FROM (
				select 
						IIF(prid.isClose=1, SUM(ISNULL(dn.totalClaim,0)), SUM(prid.cost)) actualCost  
					from (
						select a.id promoid, SUM(a.investment) cost, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
								INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
								INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
								INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
								INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
								--INNER JOIN tbtrx_promo_mechanism f ON a.id=f.promoid
							WHERE
								a.period				=@period
								AND a.categoryid		=@categoryid
								AND a.subcategoryid		=@subcategoryid
								AND a.activityid		=@activityid
								AND a.subactivityid		=@SubActivityId
								AND b.channelid			=@channelid
								AND c.subchannelid		=@subchannelid
								AND d.accountid			=@accountid
								AND e.subaccountid		=@SubAccountId
								AND a.distributorId		=@distributorid
								AND a.groupbrandid		=@groupbrandid
								AND ISNULL(a.IsCancel,0)=0
								AND ISNULL(a.IsCancel,0)=0
							GROUP BY a.id, ISNULL(a.IsClose,0) 
						)prid
					LEFT JOIN (
						SELECT promoid, SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) totalClaim 
						FROM tbtrx_debetnote A WHERE ISNULL(iscancel, 0) = 0
						GROUP BY promoid
					) dn ON prid.promoid = dn.promoid
					GROUP BY prid.promoid, prid.isClose
			)a)
		END
		ELSE
		BEGIN
			SET @totalcost = (SELECT SUM(a.actualCost) FROM (
				select 
						IIF(prid.isClose=1, SUM(ISNULL(dn.totalClaim,0)), SUM(prid.cost)) actualCost  
					from (
						select a.id promoid, SUM(a.Investment) cost, ISNULL(a.IsClose,0) isClose from tbtrx_promo a
								INNER JOIN tbtrx_promo_channel b ON a.id=b.promoid AND isnull(a.iscancel, 0) = 0
								INNER JOIN tbtrx_promo_subchannel c ON a.id=c.promoid
								INNER JOIN tbtrx_promo_account d ON a.id=d.promoid
								INNER JOIN tbtrx_promo_subaccount e ON a.id=e.promoid
							WHERE
								a.period				=@period
								AND a.categoryid		=@categoryid
								AND a.subcategoryid		=@subcategoryid
								AND a.activityid		=@activityid
								AND b.channelid			=@channelid
								AND c.subchannelid		=@subchannelid
								AND d.accountid			=@accountid
								AND e.subaccountid		=@SubAccountId
								AND a.distributorId		=@distributorid
								AND a.groupbrandid		=@groupbrandid
								AND ISNULL(a.IsCancel,0)=0
							GROUP BY a.id, ISNULL(a.IsClose,0) 
						)prid
					LEFT JOIN (
						SELECT promoid, SUM ( IIF(isnull(A.VATExpired,0)=0, isnull(A.DPP,0), isnull(A.DPP,0) + isnull(A.PPNAmt,0))) totalClaim 
						FROM tbtrx_debetnote A WHERE ISNULL(iscancel, 0) = 0
						GROUP BY promoid
					) dn ON prid.promoid = dn.promoid

					GROUP BY prid.promoid, prid.isClose
			)a)
		END
	END

	SET @Remaining = isnull(@budgetamount,0) - ISNULL(@TotalCost,0)

	SELECT @subactivitytypedesc = longDesc FROM tbmst_subactivity_type where Id = @subactivitytypeid
	SELECT @mainActivityDesc =c.longDesc from tbmst_subactivity a
		INNER JOIN tbmst_main_activity_dtl b ON a.Id = b.subactivityid
		INNER JOIN tbmst_main_activity c ON b.mainactivityid = c.id
		where subactivityid=@subactivityid

	IF (@Remaining + @CostBefore - @Cost >= 0) 
		OR (@subactivitytypedesc <> 'Contractual' AND @categoryShortDesc <> 'DC')
		OR (ISNULL(@ttid,0)=0 AND @mainActivityDesc <> 'Running Rate' )
	BEGIN
		SET @isNotOver=1
	END

--select @budgetamount
--select @budgetamount, @TotalCost, @budgetamount-@TotalCost
--select @budgetamount-@TotalCost,@costbefore, @budgetamount-@TotalCost+@costbefore
--select @budgetamount-@TotalCost,@costbefore, @cost, @budgetamount-@TotalCost+@costbefore-@cost

--select @ttid ttid , @budgetamount budgetamount, @TotalCost totalCost, @Remaining remaining, @CostBefore costBfr, @Cost cost, @isNotOver isNotOver, @subactivitytypedesc, @mainActivityDesc, @subactivityid

	RETURN @isNotOver

END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CheckSQLMemory]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CheckSQLMemory]()
RETURNS @Sql_MemStatus TABLE 
 (
   SQLServer_Start_DateTime datetime, 
   SQL_current_Memory_usage_mb int,
   SQL_Max_Memory_target_mb int,
   OS_Total_Memory_mb int,
   OS_Available_Memory_mb int)
AS
BEGIN
   declare @strtSQL datetime
   declare @currmem int
   declare @smaxmem int
   declare @osmaxmm int
   declare @osavlmm int 
 
   -- SQL memory
   SELECT 
      @strtSQL = sqlserver_start_time,
      @currmem = (committed_kb/1024),
      @smaxmem = (committed_target_kb/1024)           
   FROM sys.dm_os_sys_info;
   
   --OS memory
   SELECT 
      @osmaxmm = (total_physical_memory_kb/1024),
      @osavlmm = (available_physical_memory_kb/1024) 
   FROM sys.dm_os_sys_memory;
   
   INSERT INTO @Sql_MemStatus values (@strtSQL, @currmem, @smaxmem, @osmaxmm, @osavlmm)
 
   RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[get_promo_cr]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[get_promo_cr] (
	@period INT
	,@subactivityid INT
	,@subaccountid INT --plan/promo=1, recon=2
	,@distributorid INT
	,@groupbrandid INT
	)

	RETURNS float
AS

BEGIN
	
	--DECLARE 
	--	@period INT
	--	,@subactivityid INT
	--	,@subaccountid INT --plan/promo=1, recon=2
	--	,@distributorid INT
	--	,@groupbrandid INT

		--SET @period=2025
		--SET @subactivityid=1251
		--SET @subaccountid=101
		--SET @distributorid=7
		--SET @groupbrandid = 4

--select 
--	@period=a.period
--	,@subactivityid=a.SubActivityId
--	,@subaccountid=IIF(a.CategoryShortDesc='RC', b.SubAccountId, c.channelid)
--	,@distributorid=a.DistributorId
--	,@groupbrandid = a.GroupBrandId
--from tbtrx_promo a
--inner join tbtrx_promo_channel c on a.Id=c.PromoId
--left join tbtrx_promo_subaccount b on a.Id=b.PromoId
--where a.RefId='NIS00001/AL25/DC'


	DECLARE @subCategoryShortDesc varchar(100)
		, @activitydesc varchar(100)
		, @activityid int
		, @ttrate float

	select @activitydesc = activitydesc, @activityid=ActivityId from vw_activity where SubActivityId=@subactivityid
	SELECT @subCategoryShortDesc = b.ShortDesc FROM vw_activity a
	INNER JOIN tbmst_category b ON a.CategoryId=b.Id
	WHERE SubActivityId=@subactivityid


	DECLARE @result AS TABLE(
		Id INT NULL
		, budgetNmae varchar(255)
		, tt float
	)

	IF @subCategoryShortDesc='RC'
		BEGIN
			INSERT INTO @result
			SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
			WHERE 
				period = @period
				AND subactivityid = @subactivityid
				AND subaccountid = @subaccountid
				AND distributorId = @distributorid
				AND groupbrandid = @groupbrandid

			IF @@ROWCOUNT = 0
			BEGIN
				INSERT INTO @result
				SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
				WHERE 
					period = @period
					AND activityid = @activityid
					AND subactivityid = 0
					AND subaccountid = @subaccountid
					AND distributorId = @distributorid
					AND groupbrandid = @groupbrandid
			END
			SELECT @ttrate=tt FROM @result
		END
	ELSE
		BEGIN
			SELECT TOP 1 @ttrate= tt FROM tbtrx_ss_tt 
			WHERE 
				period = @period
				AND subactivityid = @subactivityid
				AND channelid = @subaccountid
				AND distributorId = @distributorid
				AND groupbrandid = @groupbrandid
		END
--select @ttrate
--select @ttrate=tt from @result
RETURN @ttrate	
END
GO
/****** Object:  UserDefinedFunction [dbo].[get_promo_ttid]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create FUNCTION [dbo].[get_promo_ttid] (
	@period INT
	,@subactivityid INT
	,@subaccountid INT --plan/promo=1, recon=2
	,@distributorid INT
	,@groupbrandid INT
	)

	RETURNS float
AS

BEGIN
	
	--DECLARE 
	--	@period INT
	--	,@subactivityid INT
	--	,@subaccountid INT --plan/promo=1, recon=2
	--	,@distributorid INT
	--	,@groupbrandid INT

		--SET @period=2025
		--SET @subactivityid=1251
		--SET @subaccountid=101
		--SET @distributorid=7
		--SET @groupbrandid = 4

--select 
--	@period=a.period
--	,@subactivityid=a.SubActivityId
--	,@subaccountid=IIF(a.CategoryShortDesc='RC', b.SubAccountId, c.channelid)
--	,@distributorid=a.DistributorId
--	,@groupbrandid = a.GroupBrandId
--from tbtrx_promo a
--inner join tbtrx_promo_channel c on a.Id=c.PromoId
--left join tbtrx_promo_subaccount b on a.Id=b.PromoId
--where a.RefId='NIS00001/AL25/DC'


	DECLARE @subCategoryShortDesc varchar(100)
		, @activitydesc varchar(100)
		, @activityid int
		, @ttid int

	select @activitydesc = activitydesc, @activityid=ActivityId from vw_activity where SubActivityId=@subactivityid
	SELECT @subCategoryShortDesc = b.ShortDesc FROM vw_activity a
	INNER JOIN tbmst_category b ON a.CategoryId=b.Id
	WHERE SubActivityId=@subactivityid


	DECLARE @result AS TABLE(
		Id INT NULL
		, budgetNmae varchar(255)
		, tt float
	)

	IF @subCategoryShortDesc='RC'
		BEGIN
			INSERT INTO @result
			SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
			WHERE 
				period = @period
				AND subactivityid = @subactivityid
				AND subaccountid = @subaccountid
				AND distributorId = @distributorid
				AND groupbrandid = @groupbrandid

			IF @@ROWCOUNT = 0
			BEGIN
				INSERT INTO @result
				SELECT TOP 1 id, budgetname, tt FROM tbtrx_ss_tt 
				WHERE 
					period = @period
					AND activityid = @activityid
					AND subactivityid = 0
					AND subaccountid = @subaccountid
					AND distributorId = @distributorid
					AND groupbrandid = @groupbrandid
			END
			SELECT @ttid=id FROM @result
		END
	ELSE
		BEGIN
			SELECT TOP 1 @ttid= id FROM tbtrx_ss_tt 
			WHERE 
				period = @period
				AND subactivityid = @subactivityid
				AND channelid = @subaccountid
				AND distributorId = @distributorid
				AND groupbrandid = @groupbrandid
		END
--select @ttid
--select @ttid=tt from @result
RETURN @ttid	
END
GO
/****** Object:  UserDefinedFunction [dbo].[get_ps_value_promoid]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[get_ps_value_promoid] (
	@period int
	, @distributorid int
	, @groupbrandid int
	, @promostart date
	, @promoend date
) RETURNS NUMERIC

AS

--DECLARE
--	@period int
--	, @distributorid int
--	, @groupbrandid int
--	, @promostart date
--	, @promoend date

--	SET @period = 2025
--	SET @distributorid = 2
--	SET @groupbrandid = 3
--	SET @promostart = '2025-01-01'
--	SET	@promoend = '2025-12-31'
	

BEGIN
	DECLARE 
		 @psvalue numeric(18,0)
		, @apstart int
		, @apend int

	SET @apstart=MONTH(@promostart)
	SET @apend=MONTH(@promoend)
	SET @psvalue=0
	WHILE @apstart <= @apend
		BEGIN
			IF @apstart=1 
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m1,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid

				END

			IF @apstart=2 
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m2,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid

				END

			IF @apstart=3
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m3,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid

				END

			IF @apstart=4
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m4,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid

				END
			IF @apstart=5
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m5,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=6
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m6,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=7
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m7,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=8
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m8,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=9
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m9,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=10
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m10,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=11
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m11,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END
			IF @apstart=12
				BEGIN
						SELECT 
							@psvalue= ROUND(ISNULL(a.m12,0),0) + @psvalue
						FROM tbtrx_ps_value a
						WHERE 
							a.period= @period
							AND a.distributorid = @distributorid
							AND a.groupbrandid = @groupbrandid


				END

			SET @apstart = @apstart + 1
		END

return @psvalue
END
GO
/****** Object:  UserDefinedFunction [dbo].[get_ss_ssvalue_promoid]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[get_ss_ssvalue_promoid] (
	@period int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @groupbrandid int
	, @promostart date
	, @promoend date)

	RETURNS NUMERIC

AS

--DECLARE
--	@period int
--	, @channelid int
--	, @subchannelid int
--	, @accountid int
--	, @subaccountid int
--	, @groupbrandid int
--	, @promostart date
--	, @promoend date

--	SET @period = 2025
--	SET @channelid = 14
--	SET @subchannelid = 22
--	SET @accountid = 81
--	SET @subaccountid = 261
--	SET @groupbrandid = 2
--	--SET @promostart ='2025-01-01'
--	--SET @promoend = '2025-12-31'
--	SET @promostart ='2025-04-01'
--	SET @promoend = '2025-06-06'

BEGIN
	DECLARE 
		@SQL NVARCHAR(MAX)
		, @sumSQL NVARCHAR(MAX)
		, @ssvalue numeric(18,0)
		, @ssvalueX numeric(18,0)
		, @apstart int
		, @apend int
		, @ParmDefinition nvarchar(500)

	SET @apstart=MONTH(@promostart)
	SET @apend=MONTH(@promoend)
	SET @ssvalue=0
							
	WHILE @apstart <= @apend
		BEGIN
			IF @apstart=1 
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m1,0)*ISNULL(b.m1,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END

			IF @apstart=2 
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m2,0)*ISNULL(b.m2,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END

			IF @apstart=3
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m3,0)*ISNULL(b.m3,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END

			IF @apstart=4
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m4,0)*ISNULL(b.m4,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=5
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m5,0)*ISNULL(b.m5,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=6
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m6,0)*ISNULL(b.m6,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=7
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m7,0)*ISNULL(b.m7,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=8
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m8,0)*ISNULL(b.m8,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=9
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m9,0)*ISNULL(b.m9,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=10
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m10,0)*ISNULL(b.m10,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=11
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m11,0)*ISNULL(b.m11,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END
			IF @apstart=12
				BEGIN
						SELECT 
							@ssvalue= SUM(ROUND(ISNULL(a.m12,0)*ISNULL(b.m12,0),0)) + @ssvalue
						FROM tbtrx_ss_volume a
						INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period 
						AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
						WHERE 
							a.period= @period
							AND a.channelid = @channelid
							AND a.subchannelid = @subchannelid
							AND a.accountid = @accountid
							AND a.subaccountid = @subaccountid
							AND a.groupbrandid = @groupbrandid
						GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
				END

			SET @apstart = @apstart + 1

		END

	RETURN @ssvalue
END



GO
/****** Object:  UserDefinedFunction [dbo].[getBudgetId]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getBudgetId](
	@promoid int
)

RETURNS INT

AS

BEGIN
	DECLARE 
		@budgetId int
		, @activityDesc varchar(50)
		, @period int
		, @categoryId int
		, @subCategoryId int
		, @distributorId int
		, @groupBrandId int
		, @activityId int
		, @subActivityId int
		, @subActivityTypeId int
		, @channelId int
		, @subChannelId int
		, @accountId int
		, @subAccountId int
		, @categoryDesc varchar(255)

	SET @budgetId = 0;

	SELECT @period = pr.period
		, @categoryId = pr.CategoryId
		, @subCategoryId = (SELECT subCategoryId FROM vw_activity_active WHERE subActivityId = pr.SubActivityId)
		, @distributorId = pr.DistributorId
		, @groupBrandId = pr.GroupBrandId
		, @activityId = pr.ActivityId
		, @subActivityId = pr.SubActivityId
		, @subActivityTypeId = ms.SubActivityTypeId
		, @channelId = tpc.ChannelId
		, @subChannelId = isnull(tps.SubChannelId, 0)
		, @accountId = isnull(tpa.AccountId, 0)
		, @subAccountId = isnull(tpsa.SubAccountId, 0)
		, @categoryDesc = (SELECT CategoryDesc FROM vw_activity_active WHERE subActivityId = pr.SubActivityId)
	FROM tbtrx_promo pr
	INNER JOIN tbmst_subactivity ms ON pr.SubActivityId = ms.Id
	INNER JOIN tbmst_subactivity_type mst ON ms.SubActivityTypeId = mst.id
	INNER JOIN tbtrx_promo_channel tpc ON pr.id = tpc.PromoId
	LEFT JOIN tbtrx_promo_subchannel tps ON pr.id = tps.PromoId
	LEFT JOIN tbtrx_promo_account tpa ON pr.id = tpa.PromoId
	LEFT JOIN tbtrx_promo_subaccount tpsa ON pr.id = tpsa.PromoId
	WHERE pr.id = @promoid

	SELECT @activityDesc = longDesc FROM tbmst_activity WHERE id = @activityid;

	IF @categoryDesc = 'Retailer Cost'
	BEGIN
		/* get budget by subactivity */
		SELECT @budgetId = a.id
		FROM tbtrx_ss_tt a
		WHERE a.period = @period
			AND  a.categoryid = @categoryId
				AND a.subcategoryid = @subCategoryId
				AND a.distributorId = @distributorId
				AND a.groupbrandid = @groupBrandId
				AND a.activityid = @activityId
				AND a.subactivityid = @subActivityId
				AND a.subactivitytypeid = @subActivityTypeId
				AND a.channelid = @channelId
				AND a.subchannelid = @subChannelId
				AND a.accountid = @accountId
				AND a.subaccountid = @subAccountId
				AND a.tt>0

		/* get budget by subactivity tidak ketemu, maka get by activity*/
		IF ISNULL(@budgetId, 0) = 0
		BEGIN
			SELECT @budgetId = a.id
			FROM tbtrx_ss_tt a
			WHERE a.period = @period
				AND  a.categoryid = @categoryId
					AND a.subcategoryid = @subCategoryId
					AND a.distributorId = @distributorId
					AND a.groupbrandid = @groupBrandId
					AND a.activityid = @activityId
					AND a.subactivityid = 0
					AND a.subactivitytypeid = @subActivityTypeId
					AND a.channelid = @channelId
					AND a.subchannelid = @subChannelId
					AND a.accountid = @accountId
					AND a.subaccountid = @subAccountId
					AND a.tt>0
		END

		--IF @activityDesc = 'Trading Term - Consumer Promo' OR @activityDesc = 'Trading Term - Promo Fund'
		--BEGIN
		--	SELECT @budgetId = a.id
		--	FROM tbtrx_ss_tt a
		--	WHERE a.period = @period
		--		AND  a.categoryid = @categoryId
		--			AND a.subcategoryid = @subCategoryId
		--			AND a.distributorId = @distributorId
		--			AND a.groupbrandid = @groupBrandId
		--			AND a.activityid = @activityId
		--			AND a.subactivitytypeid = @subActivityTypeId
		--			AND a.channelid = @channelId
		--			AND a.subchannelid = @subChannelId
		--			AND a.accountid = @accountId
		--			AND a.subaccountid = @subAccountId
		--END
		--ELSE
		--BEGIN
		--	SELECT @budgetId = a.id
		--	FROM tbtrx_ss_tt a
		--	WHERE a.period = @period
		--		AND  a.categoryid = @categoryId
		--			AND a.subcategoryid = @subCategoryId
		--			AND a.distributorId = @distributorId
		--			AND a.groupbrandid = @groupBrandId
		--			AND a.activityid = @activityId
		--			AND a.subactivityid = @subActivityId
		--			AND a.subactivitytypeid = @subActivityTypeId
		--			AND a.channelid = @channelId
		--			AND a.subchannelid = @subChannelId
		--			AND a.accountid = @accountId
		--			AND a.subaccountid = @subAccountId
		--END

	END
	ELSE
	BEGIN
		SELECT @budgetId = a.id
		FROM tbtrx_ss_tt a
		WHERE a.period = @period
			AND  a.categoryid = @categoryId
				AND a.subcategoryid = @subCategoryId
				AND a.distributorId = @distributorId
				AND a.groupbrandid = @groupBrandId
				AND a.activityid = @activityId
				AND a.subactivityid = @subActivityId
				AND a.subactivitytypeid = @subActivityTypeId
				AND a.channelid = @channelId
				AND a.tt>0
	END

	RETURN @budgetId

END

GO
/****** Object:  UserDefinedFunction [dbo].[getBudgetName]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getBudgetName](
	@budgetid int
)

RETURNS varchar(255)

AS
BEGIN
	DECLARE 
		@budgetName varchar(255)
		, @categoryDesc varchar(255)

		SET @budgetName = '---';
		SET @categoryDesc = (SELECT LongDesc FROM tbmst_category A INNER JOIN tbtrx_ss_tt B ON A.Id=B.categoryid AND B.id=@budgetid	)	
		
		IF @categoryDesc = 'Retailer Cost'
			BEGIN
				/* get by subactivity */
				SELECT @budgetName = CONCAT(a.period,' ', b.LongDesc, ' - ', c.ShortDesc, ' - ', d.LongDesc, ' ', e.LongDesc)
					FROM tbtrx_ss_tt a
					INNER JOIN tbmst_brand_group b ON a.groupbrandid = b.Id
					INNER JOIN tbmst_distributor c ON a.distributorId=c.Id
					INNER JOIN tbmst_subaccount d ON a.subaccountid = d.Id
					INNER JOIN tbmst_activity e ON a.activityid = e.Id
					INNER JOIN tbmst_subactivity f ON a.subactivityid = f.Id
					WHERE a.id = @budgetid

				/* jika get by subactivity tidak ketemu, maka get by activity */
				IF ISNULL(@budgetName, '') = '---'
				BEGIN
					SELECT @budgetName = CONCAT(a.period,' ', b.LongDesc, ' - ', c.ShortDesc, ' - ', d.LongDesc, ' ', e.LongDesc)
						FROM tbtrx_ss_tt a
						INNER JOIN tbmst_brand_group b ON a.groupbrandid = b.Id
						INNER JOIN tbmst_distributor c ON a.distributorId=c.Id
						INNER JOIN tbmst_subaccount d ON a.subaccountid = d.Id
						INNER JOIN tbmst_activity e ON a.activityid = e.Id
						WHERE a.id = @budgetid AND a.subactivityid = 0
				END

				--SELECT @budgetName = CONCAT(a.period,' ', b.LongDesc, ' - ', c.ShortDesc, ' - ', d.LongDesc, ' ', e.LongDesc)
				--	FROM tbtrx_ss_tt a
				--	INNER JOIN tbmst_brand_group b ON a.groupbrandid = b.Id
				--	INNER JOIN tbmst_distributor c ON a.distributorId=c.Id
				--	INNER JOIN tbmst_subaccount d ON a.subaccountid = d.Id
				--	INNER JOIN tbmst_activity e ON a.activityid = e.Id
				--	LEFT JOIN tbmst_subactivity f ON a.subactivityid = f.Id
				--	WHERE a.id = @budgetid
			END
		IF @categoryDesc = 'Distributor Cost'
			BEGIN
				SELECT @budgetName = 
					CONCAT(a.period,' ', f.LongDesc, ' - ', e.ShortDesc, ' - ', b.SubCategoryDesc, ' ', b.subActivityTypeDesc)
				FROM tbtrx_ss_tt a
				INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
				INNER JOIN tbmst_brand_group f ON a.groupbrandid = f.Id
				INNER JOIN vw_activity_active b ON a.subactivityid = b.SubActivityId
				WHERE a.id = @budgetid
			END
	RETURN @budgetName

END

GO
/****** Object:  UserDefinedFunction [dbo].[getMatrixPromoApprovalId]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getMatrixPromoApprovalId](
	@promoid int
)

RETURNS INT

AS

BEGIN
	DECLARE
		@matrixid int
		, @EntityId int
		, @DistributorId int
		, @SubActivityType int
		, @ChannelId int
		, @SubChannelId int
		, @Initiator varchar(50)
		, @Cost float

	SELECT @EntityId = pr.EntityId
		, @DistributorId = DistributorId
		, @SubActivityType = msa.SubActivityTypeId
		, @ChannelId = prc.ChannelId
		, @SubChannelId = prsc.SubChannelId
		, @Initiator = pr.CreateBy
		, @Cost = pr.Investment
	from tbtrx_promo pr
	inner join tbmst_subactivity msa on pr.SubActivityId = msa.id
	inner join tbtrx_promo_channel prc on pr.id = prc.PromoId
	inner join tbtrx_promo_subchannel prsc on pr.id = prsc.promoid
	where pr.id = @promoId

	SELECT TOP 1
		@matrixid=tmpa.Id 
		FROM tbset_matrix_promo_approval tmpa
			INNER JOIN tbmst_category c on tmpa.CategoryId=c.Id	
			WHERE isnull(Periode,'')=''
			AND PrincipalId=@EntityId
			AND DistributorId=@DistributorId
			AND SubActivityType=@SubActivityType
			AND ChannelId=@ChannelId
			AND IIF(SubChannelId=0,1,SubChannelId)=IIF(SubChannelId=0,1,@SubChannelId)
			AND [Initiator]=@Initiator
			AND @cost >= MinInvestment and @Cost <= MaxInvestment
			AND c.ShortDesc='RC'

	RETURN @matrixid

END

GO
/****** Object:  UserDefinedFunction [dbo].[getSSValue]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getSSValue](
	@promoId int
)

RETURNS float
AS
BEGIN
DECLARE
	@period int
	, @channelid int
	, @subchannelid int
	, @accountid int
	, @subaccountid int
	, @groupbrandid int
	, @promostart date
	, @promoend date
	, @ssvalueget float
	, @Result float
	--, @promoId INT

	--set @promoId =	50126

select @period = pr.period, @channelid = va.ChannelId, @subchannelid = va.SubChannelId, @accountid=va.AccountId, @subaccountid = va.SubAccountId, @groupbrandid = pr.GroupBrandId, @promostart=pr.StartPromo, @promoend = pr.EndPromo
--select pr.period, va.ChannelId, va.SubChannelId, va.AccountId, va.SubAccountId, pr.GroupBrandId
from tbtrx_promo pr 
inner join tbtrx_promo_subaccount prsa on pr.id = prsa.PromoId
inner join vw_account va on prsa.SubAccountId = va.SubAccountId
where pr.id = @promoId

declare @tempSSValueGet as table (
	period int
	, channelid int 
	, subchannelid int 
	, accountid int 
	, subaccountid int 
	, groupbrandid int 
	, ssvalue float
	)


	DECLARE 
		@SQL NVARCHAR(MAX)
		, @sumSQL NVARCHAR(MAX)
		, @ssvalue numeric(18,0)
		, @apstart int
		, @apend int

	SET @apstart=MONTH(@promostart)
	SET @apend=MONTH(@promoend)

	WHILE @apstart <= @apend
		BEGIN
			SET @sumSQL = CONCAT(@sumSQL, '(ISNULL(a.m',@apstart,',0) * ISNULL(b.m',@apstart,',0))+')
			SET @apstart = @apstart + 1
		/* do some work */
		END
	SET @sumSQL = LEFT(@sumSQL, LEN(@sumSQL)-1) 
	--a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid
	SET @SQL = CONCAT('
		SELECT @ssvalueget = ROUND(SUM(',@sumSQL,'),0) ssvalue
		FROM tbtrx_ss_volume a
		INNER JOIN tbtrx_ss_conversion_rate b ON a.period=b.period AND a.channelid=b.channelid AND a.subchannelid=b.subchannelid AND a.groupbrandid=b.groupbrandid
		WHERE 
			a.period= ',@period,'
			AND a.channelid = ',@channelid,'
			AND a.subchannelid = ',@subchannelid,'
			AND a.accountid = ',@accountid,'
			AND a.subaccountid = ',@subaccountid,'
			AND a.groupbrandid = ',@groupbrandid,'
		GROUP BY a.period, a.channelid, a.subchannelid, a.accountid, a.subaccountid, a.groupbrandid'
		)

	--INSERT INTO @tempSSValueGet
	EXEC sys.sp_executesql @SQL, N'@ssvalueget Float OUTPUT',  @ssvalueget = @Result OUTPUT;

	return @ssvalueget
END
GO
/****** Object:  UserDefinedFunction [dbo].[getTotDayPromo]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getTotDayPromo](@start date,@end date,@closemonth date,@type char(1))
returns integer

as
begin

declare @closemonthx date,@fulldayinmonth int,@startofmonth as date,@endofmonth as date,@totday int

--set @closemonthx=(select convert(date,@closemonth,120))
set @startofmonth=(SELECT DATEADD(month, DATEDIFF(month, 0, @closemonth), 0))
set @endofmonth=(select dateadd(month,1+datediff(month,0,@closemonth),-1))
set @fulldayinmonth=(select DAY(DATEADD(DD,-1,DATEADD(MM,DATEDIFF(MM,-1,@startofmonth),0))))


if (@type='M')
begin
	if (@start <= @startofmonth) and (@end >= @endofmonth)
	begin

		set @totday=(select @fulldayinmonth);

	end

	if (@start <= @startofmonth) and (@end <= @endofmonth) and (@end >= @startofmonth)
	begin
		set @totday=(select datediff(d,@startofmonth,dateadd(d,1,@end)))
	end

	if (@end < @startofmonth)
	begin
		set @totday=0
	end

	if (@start >= @startofmonth) and (@end <= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@end)))
	end

	if(@start >= @startofmonth) and (@end >= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@endofmonth)))
	end

end
else
begin
	if (@start <= @startofmonth) and (@end >= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@endofmonth)))
	end

	if (@start <= @startofmonth) and (@end <= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@end)))
	end

	if (@start >= @startofmonth) and (@end <= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@end)))
	end

	if(@start >= @startofmonth) and (@end >= @endofmonth)
	begin
		set @totday=(select datediff(d,@start,dateadd(d,1,@endofmonth)))
	end


end
return @totday;

end













GO
/****** Object:  UserDefinedFunction [dbo].[getUTCDateConversion]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[getUTCDateConversion]()
RETURNS DATETIME

AS
BEGIN
	DECLARE 
		@utcDtime datetime
		, @utcSet varchar(10)
		, @utcConversion varchar(10)

	SET @utcSet = (SELECT setvalue FROM appsetting WHERE setname='utcset')
	SET @utcConversion = (SELECT setvalue FROM appsetting WHERE setname='utcConversion')
	SET @utcDtime= CONVERT(DATETIME,SWITCHOFFSET(CAST(CONCAT(convert(varchar(50),GETDATE(),121),' ',@utcSet) as DATETIMEOFFSET),@utcConversion)) --CONVERT(DATETIME,SWITCHOFFSET(CAST(CONCAT(GETDATE(),' ',@utcSet) as DATETIMEOFFSET),@utcConversion)) 
	RETURN @utcDtime
END


GO
/****** Object:  UserDefinedFunction [dbo].[one_baseline_by_promoid_get]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[one_baseline_by_promoid_get] (
	@p_period INT
	,@p_distributor INT
	,@p_subaccount INT
	,@p_product INT
	,@p_subactivity INT)

	RETURNS NUMERIC
AS

--DECLARE 
--	@p_period INT
--	,@p_distributor INT
--	,@p_subaccount INT
--	,@p_product INT
--	,@p_subactivity INT

--	SET @p_period = 2025
--	SET @p_distributor =2
--	SET @p_subaccount =23
--	SET @p_product =195
--	SET @p_subactivity =778


BEGIN
--DECLARE @utcDate123 DATETIME
--SET @utcDate123 = dbo.getUTCDateConversion()

	DECLARE 
		@distributoriD VARCHAR(20)
		,@subaccountiD AttributeType
		,@productId AttributeType  
		,@p_groupbrand INT
		,@salesamount VARCHAR(10)
		, @baseline_tot decimal(19,0)
	
	DECLARE @Temp_Blitz_Offtake table
	(
		[distributorId] [varchar](50) NULL,
		[distributorName] [varchar](50) NULL,
		[channelId] [varchar](255) NULL,
		[channelName] [varchar](255) NULL,
		[subChannelId] [varchar](255) NULL,
		[subChannelDesc] [varchar](255) NULL,
		[accountId] [varchar](255) NULL,
		[accountName] [varchar](255) NULL,
		[subAccountId] [varchar](255) NULL,
		[subAccountDesc] [varchar](255) NULL,
		[brandGroupName] [varchar](255) NULL,
		[productStageName] [varchar](255) NULL,
		[productSkuId] [varchar](255) NULL,
		[subBrandName] [varchar](255) NULL,
		[productSizeName] [varchar](255) NULL,
		[oneBaselineValue] [float] NULL
	)
	DECLARE @Temp_Blitz_Offtake_TS table
	(
		[distributorId] [varchar](50) NULL,
		[distributorName] [varchar](50) NULL,
		[channelId] [varchar](255) NULL,
		[channelName] [varchar](255) NULL,
		[subChannelId] [varchar](255) NULL,
		[subChannelDesc] [varchar](255) NULL,
		[accountId] [varchar](255) NULL,
		[accountName] [varchar](255) NULL,
		[subAccountId] [varchar](255) NULL,
		[subAccountDesc] [varchar](255) NULL,
		[brandGroupName] [varchar](255) NULL,
		[productStageName] [varchar](255) NULL,
		[productSkuId] [varchar](255) NULL,
		[subBrandName] [varchar](255) NULL,
		[productSizeName] [varchar](255) NULL,
		[oneBaselineValue] [float] NULL
	)
	DECLARE @Temp_Blitz_Offtake_TS_AS table
	(
		[distributorId] [varchar](50) NULL,
		[distributorName] [varchar](50) NULL,
		[channelId] [varchar](255) NULL,
		[channelName] [varchar](255) NULL,
		[subChannelId] [varchar](255) NULL,
		[subChannelDesc] [varchar](255) NULL,
		[accountId] [varchar](255) NULL,
		[accountName] [varchar](255) NULL,
		[subAccountId] [varchar](255) NULL,
		[subAccountDesc] [varchar](255) NULL,
		[brandGroupName] [varchar](255) NULL,
		[productStageName] [varchar](255) NULL,
		[productSkuId] [varchar](255) NULL,
		[subBrandName] [varchar](255) NULL,
		[productSizeName] [varchar](255) NULL,
		[oneBaselineValue] [float] NULL
	)

	
	--SET @period=@p_period
	SET @distributorid=(SELECT sapcode FROM tbmst_distributor WHERE id=@p_distributor)
	--SET @startpromo=CONVERT(varchar(6),@p_startpromo,112)
	--SET @endpromo=CONVERT(varchar(6),@p_endpromo,112)
	--SET @channel=(SELECT a.longdesc FROM tbmst_channel a WHERE a.id=@p_channel )

	SET @salesamount=(SELECT salesamount FROM tbset_map_subactivity_salesamount WHERE SubActivityID=@p_subactivity)

	IF @salesamount='SS'
		BEGIN
			INSERT INTO @Temp_Blitz_Offtake
				SELECT [distributorId], [distributorName], [channelId], [channelName], [subChannelId], [subChannelDesc], [accountId], [accountName], [subAccountId], [subAccountDesc], [brandGroupName], [productStageName], [productSkuId], [subBrandName], [productSizeName], ISNULL([oneBaselineValue],0) FROM tbtrx_blitz_offtake_one_baseline a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a WHERE a.subaccountid = @p_subaccount --OR a.subaccountid = @p_subaccount1
					)b ON a.subAccountId=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x WHERE x.productid=@p_product
					)d ON a.productSkuId=d.sapcode
				WHERE a.distributorId = @distributorid
		END

	ELSE IF @salesamount='TS'
		BEGIN
			INSERT INTO @Temp_Blitz_Offtake_TS
				SELECT 
					a.[distributorId], a.[distributorName]
					, a.[channelId], a.[channelName], a.[subChannelId], a.[subChannelDesc], a.[accountId], a.[accountName], a.[subAccountId], a.[subAccountDesc]
					, a.[brandGroupName], a.[productStageName], a.[productSkuId], a.[subBrandName], a.[productSizeName]
					, ISNULL(a.[oneBaselineValue],0) 
				FROM tbtrx_blitz_offtake_one_baseline a
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
					)b ON a.subaccountid=b.sapcode
				INNER JOIN (
					SELECT DISTINCT sapcode FROM tbset_map_product_sap x WHERE x.productid=@p_product
					)d ON a.productSkuId=d.sapcode
				WHERE a.distributorid = '99999999'

			INSERT INTO @Temp_Blitz_Offtake
				SELECT
					a.[distributorId], a.[distributorName], a.[channelId], a.[channelName], a.[subChannelId], a.[subChannelDesc], a.[accountId], a.[accountName], a.[subAccountId], a.[subAccountDesc], a.[brandGroupName], a.[productStageName], a.[productSkuId], a.[subBrandName], a.[productSizeName], ISNULL(a.[oneBaselineValue],0)
				FROM @Temp_Blitz_Offtake_TS a
				INNER JOIN (
					select e.SAPCode distributorcode, b.productid, c.SubAccountId, a.distributorId, d.sapcode subaccountcode, b.productcode 
					from vw_map_channel_brand_distributor a
					inner join (
						select b.Id grupbrandid, d.Id productid, e.SAPCode productcode from tbmst_brand_group b 
						inner join tbmst_brand c on b.Id=c.BrandGroupId
						inner join tbmst_product d on c.Id=d.BrandId
						inner join tbset_map_product_sap e on d.Id=e.ProductId 
						where d.Id= @p_product
						) b on a.brandId = b.grupbrandid
					inner join vw_account c on a.channelId=c.ChannelId
					inner join tbset_map_subaccount_sap d on c.SubAccountId=d.subaccountid
					INNER JOIN tbmst_distributor e ON a.distributorId=e.Id
					where e.SAPCode=@distributoriD and d.subaccountid=@p_subaccount 
					)b on a.subaccountid=b.subaccountcode and a.productSkuId=b.productcode

			INSERT INTO @Temp_Blitz_Offtake
				SELECT a.[distributorId], a.[distributorName], a.[channelId], a.[channelName], a.[subChannelId], a.[subChannelDesc], a.[accountId], a.[accountName], a.[subAccountId], a.[subAccountDesc], a.[brandGroupName], a.[productStageName], a.[productSkuId], a.[subBrandName], a.[productSizeName], ISNULL(a.[oneBaselineValue] ,0)
				FROM tbtrx_blitz_offtake_one_baseline a
					INNER JOIN (
						SELECT DISTINCT sapcode FROM tbset_map_subaccount_sap a  WHERE a.subaccountid=@p_subaccount --OR a.subaccountid = @p_subaccount1
						)b ON a.subaccountid=b.sapcode
					INNER JOIN (
						SELECT DISTINCT sapcode, ProductId FROM tbset_map_product_sap x where x.productid=@p_product
						)d ON a.productSkuId=d.sapcode
				WHERE
					a.distributorId =@distributoriD
					AND d.ProductId not in (
					SELECT a.ProductId FROM tbset_map_product_sap a INNER JOIN @Temp_Blitz_Offtake b ON a.SAPCode=b.productSkuId)

		END

	SELECT @baseline_tot = SUM(oneBaselineValue) from @Temp_Blitz_Offtake
	SET @baseline_tot = ROUND(IIF(ISNULL(@baseline_tot,0)<=0,999999,@baseline_tot),0)
	
	--SELECT @baseline_tot

	RETURN (@baseline_tot);
END
GO
/****** Object:  UserDefinedFunction [dbo].[Terbilang]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Terbilang](@number NUMERIC(19,6))

RETURNS NVARCHAR(MAX)

AS

BEGIN

    DECLARE 

    @position INT, 

    @length INT, 

    @words NVARCHAR(MAX), 

    @ends NVARCHAR(MAX), 

    @numStr NVARCHAR(MAX), 

    @foreStr NVARCHAR(MAX), 

    @backStr NVARCHAR(MAX), 

    @char NVARCHAR(1),

    @charafter NVARCHAR(1),

    @charprev NVARCHAR(1),

    @charprev2 NVARCHAR(1)

 

SELECT @numStr = STR(@number, 19, 2)

SELECT @numStr = LTRIM(RTRIM(@numStr))

SELECT @foreStr = SUBSTRING(@numStr, 0, (SELECT CHARINDEX('.', @numStr, 1)))

SELECT @backStr = SUBSTRING(@numStr, (SELECT CHARINDEX('.', @numStr, 1)+1), LEN(@numStr))

SELECT @length = LEN(@foreStr)

SELECT @position = @length

SELECT @words =''

 

    --Memproses ""angka di depan koma"" 

    WHILE(@position > 0)

    BEGIN    

            

            SELECT @char = SUBSTRING(@numStr, @length+1 - @position, 1)

            SELECT @charafter = SUBSTRING(@numStr, @length+2 - @position, 1)

            SELECT @charprev = SUBSTRING(@numStr, @length - @position, 1)

            SELECT @charprev2 = SUBSTRING(@numStr, @length - @position - 1, 1)

            

            IF ((@char = '1') AND ((SELECT(@position-1)/3.0) = 1) AND 

                (@charafter != '' ) AND ((SELECT CAST(@charprev as INT)) = 0)) 

                SELECT @words = @words + 'se' 

            ELSE

            IF ((@char = '1') AND ((SELECT @position % 3) = 1)) 

                SELECT @words = @words + 'satu ' 

            ELSE

            IF ((@char = '1') AND ((SELECT CAST(@charafter as INT)) > 1) AND 

                ((SELECT @position % 3) = 2))

                BEGIN

                    IF (@charafter = '1') SELECT @words = @words + 'se' ELSE

                    IF (@charafter = '2') SELECT @words = @words + 'dua ' ELSE

                    IF (@charafter = '3') SELECT @words = @words + 'tiga ' ELSE    

                    IF (@charafter = '4') SELECT @words = @words + 'empat ' ELSE    

                    IF (@charafter = '5') SELECT @words = @words + 'lima ' ELSE    

                    IF (@charafter = '6') SELECT @words = @words + 'enam ' ELSE    

                    IF (@charafter = '7') SELECT @words = @words + 'tujuh ' ELSE    

                    IF (@charafter = '8') SELECT @words = @words + 'delapan ' ELSE    

                    IF (@charafter = '9') SELECT @words = @words + 'sembilan '

                END

            ELSE

            IF (@char = '1') SELECT @words = @words + 'se' ELSE

            IF (@char = '2') SELECT @words = @words + 'dua ' ELSE

            IF (@char = '3') SELECT @words = @words + 'tiga ' ELSE    

            IF (@char = '4') SELECT @words = @words + 'empat ' ELSE    

            IF (@char = '5') SELECT @words = @words + 'lima ' ELSE    

            IF (@char = '6') SELECT @words = @words + 'enam ' ELSE    

            IF (@char = '7') SELECT @words = @words + 'tujuh ' ELSE    

            IF (@char = '8') SELECT @words = @words + 'delapan ' ELSE    

            IF (@char = '9') SELECT @words = @words + 'sembilan ' ELSE

            IF ((@char = '0') AND ((SELECT CAST(@charprev as INT)) > 1) AND ((SELECT @position % 3) = 1))

                SELECT @words = @words 

            ELSE

            IF ((@char = '0') AND ((SELECT @charprev) = '0') AND ((SELECT CAST(@charprev2 as INT)) > 0) AND ((SELECT @position % 3) = 1))

                SELECT @words = @words 

            ELSE

            IF (@char = '0') 

            BEGIN

                SELECT @position = @position - 1

                CONTINUE

            END     

            

            IF ((SELECT @position % 3) = 0) SELECT @words = @words + 'ratus ' ELSE    

            IF (((SELECT @position % 3) = 2) AND ((SELECT CAST(@char as INT)) > 1)) 

                SELECT @words = @words + 'puluh ' 

        ELSE    

            IF (((SELECT @position % 3) = 2) AND ((SELECT CAST(@char as INT)) = 1)

                AND ((SELECT CAST(@charafter as INT)) > 0))

            BEGIN 

                SELECT @words = @words + 'belas '

                SELECT @position = @position - 1

            END

            ELSE

            IF (((SELECT @position % 3) = 2) AND ((SELECT CAST(@char as INT)) = 1)

                AND ((SELECT CAST(@charafter as INT)) = 0))

            BEGIN 

                SELECT @words = @words + 'puluh '

                SELECT @position = @position - 1

            END

            

            IF ((SELECT (@position-1)/3.0) = 1) SELECT @words = @words +'ribu ' ELSE

            IF ((SELECT (@position-1)/3.0) = 2) SELECT @words = @words +'juta ' ELSE

            IF ((SELECT (@position-1)/3.0) = 3) SELECT @words = @words +'milyar ' ELSE

            IF ((SELECT (@position-1)/3.0) = 4) SELECT @words = @words +'triliun '

 

        SELECT @position = @position - 1

    END

    

    --Memproses ""koma"" dan ""angka di belakang koma""

    IF((SELECT CAST(@backStr AS INT)) > 0)

    BEGIN

        --Menambahkan ""koma"" pada terbilang

        

        SELECT @words = @words + 'koma '

        

        --Menambahkan ""Angka di belakang koma"" pada terbilang

    

        SELECT @length = LEN(@backStr)

        SELECT @position = @length

        

        WHILE( @position > 0)

        BEGIN

        

            SELECT @char = SUBSTRING(@backStr, @length+1 - @position, 1)

            SELECT @words = @words +

            (CASE @char

                WHEN '0'THEN 'nol '

                WHEN '1'THEN 'satu '

                WHEN '2'THEN 'dua '

                WHEN '3'THEN 'tiga '

                WHEN '4'THEN 'empat '

                WHEN '5'THEN 'lima '

                WHEN '6'THEN 'enam '

                WHEN '7'THEN 'tujuh '

                WHEN '8'THEN 'delapan '

                WHEN '9'THEN 'sembilan '

                ELSE ''

             END

            )    

            SELECT @position = @position - 1

        END 

    END

    

    SELECT @words = LTRIM(RTRIM(@words))

    

    -- Huruf pertama huruf besar

    --IF LEN(@words) > 0 

    --BEGIN

    --    SET @words = UPPER(left(@words,1)) + RIGHT(@words, LEN(@words)-1)

    --END

 

    /* FINAL RETURN */

RETURN (SELECT @words)

END



GO
/****** Object:  UserDefinedFunction [dbo].[ToDateTime2]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ToDateTime2] ( @Ticks bigint )
  RETURNS datetime2
AS
BEGIN
    DECLARE @DateTime datetime2 = '00010101';
    SET @DateTime = DATEADD( DAY, @Ticks / 864000000000, @DateTime );
    SET @DateTime = DATEADD( SECOND, ( @Ticks % 864000000000) / 10000000, @DateTime );
    RETURN DATEADD( NANOSECOND, ( @Ticks % 10000000 ) * 100, @DateTime );
END

GO
/****** Object:  UserDefinedFunction [dbo].[ToTicks]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ToTicks] ( @DateTime datetime2 )
  RETURNS bigint
AS
BEGIN
 
    RETURN DATEDIFF_BIG( microsecond, '00010101', @DateTime ) * 10 +
           ( DATEPART( NANOSECOND, @DateTime ) % 1000 ) / 100;
END

GO
/****** Object:  UserDefinedFunction [dbo].[udf_Num_ToWord]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[udf_Num_ToWord] (

	@Number Numeric (38, 0) -- Input number with as many as 18 digits

) RETURNS VARCHAR(8000) 

AS BEGIN
declare @outputString varchar(8000)

SET @outputString= (SELECT Case 
        WHEN @Number = 0 THEN  '0'

        WHEN @Number BETWEEN 1 AND 99
          THEN (CAST(@Number AS VARCHAR))


       WHEN @Number BETWEEN 100 AND 999   
         THEN  CAST(@Number AS varchar) + ' IDR '
       --      --Case WHEN @belowHundred <> '' THEN 'and ' + @belowHundred else @belowHundred end 

       WHEN @Number BETWEEN 1000 AND 999999   
         --THEN  CAST(@Number AS VARCHAR) + ' IDR '
		 THEN  REPLACE(CONVERT(VARCHAR,CONVERT(MONEY,@Number),1), '.00','') + ' IDR '
		 

       WHEN @Number BETWEEN 1000000 AND 999999999   
         THEN  CAST(ROUND( @Number / CAST(1000000 AS float),0) AS VARCHAR)+' M IDR'

       WHEN @Number BETWEEN 1000000000 AND 999999999999   
         THEN   CAST(ROUND(@Number / CAST(1000000000 as float),0) AS VARCHAR) + ' BIO IDR'

		 
       WHEN @Number BETWEEN 1000000000000 AND 999999999999999   
         THEN   CAST(ROUND(@Number / CAST(1000000000000 as float),0) AS VARCHAR) + ' T IDR'

            ELSE ' INVALID INPUT' 
	END
	)

RETURN @outputString -- return the result
END








GO
/****** Object:  UserDefinedFunction [dbo].[udf_Num_ToWords]    Script Date: 9/17/2025 9:47:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[udf_Num_ToWords] (

	@Number Numeric (38, 0) -- Input number with as many as 18 digits

) RETURNS VARCHAR(8000) 
/*
* Converts a integer number as large as 34 digits into the 
* equivalent words.  The first letter is capitalized.
*
* Attribution: Based on NumberToWords by Srinivas Sampath
*        as revised by Nick Barclay
*
* Example:
select dbo.udf_Num_ToWords (1234567890) + CHAR(10)
      +  dbo.udf_Num_ToWords (0) + CHAR(10)
      +  dbo.udf_Num_ToWords (123) + CHAR(10)
select dbo.udf_Num_ToWords(76543210987654321098765432109876543210)
 
DECLARE @i numeric (38,0)
SET @i = 0
WHILE @I <= 1000 BEGIN 
    PRINT convert (char(5), @i)  
            + convert(varchar(255), dbo.udf_Num_ToWords(@i)) 
    SET @I  = @i + 1 
END
*
* Published as the T-SQL UDF of the Week Vol 2 #9 2/17/03
****************************************************************/
AS BEGIN

DECLARE @inputNumber VARCHAR(38)
DECLARE @NumbersTable TABLE (number CHAR(2), word VARCHAR(10))
DECLARE @outputString VARCHAR(8000)
DECLARE @length INT
DECLARE @counter INT
DECLARE @loops INT
DECLARE @position INT
DECLARE @chunk CHAR(3) -- for chunks of 3 numbers
DECLARE @tensones CHAR(2)
DECLARE @hundreds CHAR(1)
DECLARE @tens CHAR(1)
DECLARE @ones CHAR(1)

IF @Number = 0 Return 'Zero'

-- initialize the variables
SELECT @inputNumber = CONVERT(varchar(38), @Number)
     , @outputString = ''
     , @counter = 1
SELECT @length   = LEN(@inputNumber)
     , @position = LEN(@inputNumber) - 2
     , @loops    = LEN(@inputNumber)/3

-- make sure there is an extra loop added for the remaining numbers
IF LEN(@inputNumber) % 3 <> 0 SET @loops = @loops + 1

-- insert data for the numbers and words
INSERT INTO @NumbersTable   SELECT '00', ''
    UNION ALL SELECT '01', 'one'      UNION ALL SELECT '02', 'two'
    UNION ALL SELECT '03', 'three'    UNION ALL SELECT '04', 'four'
    UNION ALL SELECT '05', 'five'     UNION ALL SELECT '06', 'six'
    UNION ALL SELECT '07', 'seven'    UNION ALL SELECT '08', 'eight'
    UNION ALL SELECT '09', 'nine'     UNION ALL SELECT '10', 'ten'
    UNION ALL SELECT '11', 'eleven'   UNION ALL SELECT '12', 'twelve'
    UNION ALL SELECT '13', 'thirteen' UNION ALL SELECT '14', 'fourteen'
    UNION ALL SELECT '15', 'fifteen'  UNION ALL SELECT '16', 'sixteen'
    UNION ALL SELECT '17', 'seventeen' UNION ALL SELECT '18', 'eighteen'
    UNION ALL SELECT '19', 'nineteen' UNION ALL SELECT '20', 'twenty'
    UNION ALL SELECT '30', 'thirty'   UNION ALL SELECT '40', 'forty'
    UNION ALL SELECT '50', 'fifty'    UNION ALL SELECT '60', 'sixty'
    UNION ALL SELECT '70', 'seventy'  UNION ALL SELECT '80', 'eighty'
    UNION ALL SELECT '90', 'ninety'   

WHILE @counter <= @loops BEGIN

	-- get chunks of 3 numbers at a time, padded with leading zeros
	SET @chunk = RIGHT('000' + SUBSTRING(@inputNumber, @position, 3), 3)

	IF @chunk <> '000' BEGIN
		SELECT @tensones = SUBSTRING(@chunk, 2, 2)
		     , @hundreds = SUBSTRING(@chunk, 1, 1)
		     , @tens = SUBSTRING(@chunk, 2, 1)
		     , @ones = SUBSTRING(@chunk, 3, 1)

		-- If twenty or less, use the word directly from @NumbersTable
		IF CONVERT(INT, @tensones) <= 20 OR @Ones='0' BEGIN
			SET @outputString = (SELECT word 
                                      FROM @NumbersTable 
                                      WHERE @tensones = number)
                   + CASE @counter WHEN 1 THEN '' -- No name
                       WHEN 2 THEN ' thousand ' WHEN 3 THEN ' million '
                       WHEN 4 THEN ' billion '  WHEN 5 THEN ' trillion '
                       WHEN 6 THEN ' quadrillion ' WHEN 7 THEN ' quintillion '
                       WHEN 8 THEN ' sextillion '  WHEN 9 THEN ' septillion '
                       WHEN 10 THEN ' octillion '  WHEN 11 THEN ' nonillion '
                       WHEN 12 THEN ' decillion '  WHEN 13 THEN ' undecillion '
                       ELSE '' END
                               + @outputString
		    END
		 ELSE BEGIN -- break down the ones and the tens separately

             SET @outputString = ' ' 
                            + (SELECT word 
                                    FROM @NumbersTable 
                                    WHERE @tens + '0' = number)
					         + '-'
                             + (SELECT word 
                                    FROM @NumbersTable 
                                    WHERE '0'+ @ones = number)
                   + CASE @counter WHEN 1 THEN '' -- No name
                       WHEN 2 THEN ' thousand ' WHEN 3 THEN ' million '
                       WHEN 4 THEN ' billion '  WHEN 5 THEN ' trillion '
                       WHEN 6 THEN ' quadrillion ' WHEN 7 THEN ' quintillion '
                       WHEN 8 THEN ' sextillion '  WHEN 9 THEN ' septillion '
                       WHEN 10 THEN ' octillion '  WHEN 11 THEN ' nonillion '
                       WHEN 12 THEN ' decillion '   WHEN 13 THEN ' undecillion '
                       ELSE '' END
                            + @outputString
		END

		-- now get the hundreds
		IF @hundreds <> '0' BEGIN
			SET @outputString  = (SELECT word 
                                      FROM @NumbersTable 
                                      WHERE '0' + @hundreds = number)
					            + ' hundred ' 
                                + @outputString
		END
	END

	SELECT @counter = @counter + 1
	     , @position = @position - 3

END

-- Remove any double spaces
SET @outputString = LTRIM(RTRIM(REPLACE(@outputString, '  ', ' ')))
SET @outputstring = UPPER(LEFT(@outputstring, 1)) + SUBSTRING(@outputstring, 2, 8000)


RETURN @outputString -- return the result
END

GO
